{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.s3#AbortDate": {
      "type": "timestamp"
    },
    "com.amazonaws.s3#AbortIncompleteMultipartUpload": {
      "type": "structure",
      "members": {
        "DaysAfterInitiation": {
          "target": "com.amazonaws.s3#DaysAfterInitiation",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specifies the number of days after which Amazon S3 aborts an incomplete multipart\n         upload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the days since the initiation of an incomplete multipart upload that Amazon S3 will\n         wait before permanently removing all parts of the upload. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html#mpu-abort-incomplete-mpu-lifecycle-config\">\n            Aborting Incomplete Multipart Uploads Using a Bucket Lifecycle Configuration</a> in the\n            <i>Amazon S3 User Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3#AbortMultipartUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3#AbortMultipartUploadRequest"
      },
      "output": {
        "target": "com.amazonaws.s3#AbortMultipartUploadOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3#NoSuchUpload"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This action aborts a multipart upload. After a multipart upload is aborted, no\n         additional parts can be uploaded using that upload ID. The storage consumed by any\n         previously uploaded parts will be freed. However, if any part uploads are currently in\n         progress, those part uploads might or might not succeed. As a result, it might be necessary\n         to abort a given multipart upload multiple times in order to completely free all storage\n         consumed by all parts. </p>\n         <p>To verify that all parts have been removed, so you don't get charged for the part\n         storage, you should call the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListParts.html\">ListParts</a> action and ensure that\n         the parts list is empty.</p>\n         <p>For information about permissions required to use the multipart upload, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuAndPermissions.html\">Multipart Upload\n            and Permissions</a>.</p>\n         <p>The following operations are related to <code>AbortMultipartUpload</code>:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateMultipartUpload.html\">CreateMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_UploadPart.html\">UploadPart</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CompleteMultipartUpload.html\">CompleteMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListParts.html\">ListParts</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListMultipartUploads.html\">ListMultipartUploads</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{Bucket}/{Key+}?x-id=AbortMultipartUpload",
          "code": 204
        }
      }
    },
    "com.amazonaws.s3#AbortMultipartUploadOutput": {
      "type": "structure",
      "members": {
        "RequestCharged": {
          "target": "com.amazonaws.s3#RequestCharged",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-charged"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3#AbortMultipartUploadRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The bucket name to which the upload was taking place. </p>\n         <p>When using this action with an access point, you must direct requests to the access point hostname. The access point hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.s3-accesspoint.<i>Region</i>.amazonaws.com. When using this action with an access point through the Amazon Web Services SDKs, you provide the access point ARN in place of the bucket name. For more information about access point ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/using-access-points.html\">Using access points</a> in the <i>Amazon S3 User Guide</i>.</p>\n         <p>When you use this action with Amazon S3 on Outposts, you must direct requests to the S3 on Outposts hostname. The S3 on Outposts hostname takes the form <code>\n               <i>AccessPointName</i>-<i>AccountId</i>.<i>outpostID</i>.s3-outposts.<i>Region</i>.amazonaws.com</code>. When you use this action with S3 on Outposts through the Amazon Web Services SDKs, you provide the Outposts access point ARN in place of the bucket name. For more information about S3 on Outposts ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/S3onOutposts.html\">What is S3 on Outposts?</a> in the <i>Amazon S3 User Guide</i>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.rules#contextParam": {
              "name": "Bucket"
            }
          }
        },
        "Key": {
          "target": "com.amazonaws.s3#ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>Key of the object for which the multipart upload was initiated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UploadId": {
          "target": "com.amazonaws.s3#MultipartUploadId",
          "traits": {
            "smithy.api#documentation": "<p>Upload ID that identifies the multipart upload.</p>",
            "smithy.api#httpQuery": "uploadId",
            "smithy.api#required": {}
          }
        },
        "RequestPayer": {
          "target": "com.amazonaws.s3#RequestPayer",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-payer"
          }
        },
        "ExpectedBucketOwner": {
          "target": "com.amazonaws.s3#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the expected bucket owner. If the bucket is owned by a different account, the request fails with the HTTP status code <code>403 Forbidden</code> (access denied).</p>",
            "smithy.api#httpHeader": "x-amz-expected-bucket-owner"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3#AbortRuleId": {
      "type": "string"
    },
    "com.amazonaws.s3#AccelerateConfiguration": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.s3#BucketAccelerateStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the transfer acceleration status of the bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures the transfer acceleration state for an Amazon S3 bucket. For more information, see\n            <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html\">Amazon S3\n            Transfer Acceleration</a> in the <i>Amazon S3 User Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3#AcceptRanges": {
      "type": "string"
    },
    "com.amazonaws.s3#AccessControlPolicy": {
      "type": "structure",
      "members": {
        "Grants": {
          "target": "com.amazonaws.s3#Grants",
          "traits": {
            "smithy.api#documentation": "<p>A list of grants.</p>",
            "smithy.api#xmlName": "AccessControlList"
          }
        },
        "Owner": {
          "target": "com.amazonaws.s3#Owner",
          "traits": {
            "smithy.api#documentation": "<p>Container for the bucket owner's display name and ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the elements that set the ACL permissions for an object per grantee.</p>"
      }
    },
    "com.amazonaws.s3#AccessControlTranslation": {
      "type": "structure",
      "members": {
        "Owner": {
          "target": "com.amazonaws.s3#OwnerOverride",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the replica ownership. For default and valid values, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTreplication.html\">PUT bucket\n            replication</a> in the <i>Amazon S3 API Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container for information about access control for replicas.</p>"
      }
    },
    "com.amazonaws.s3#AccessPointArn": {
      "type": "string"
    },
    "com.amazonaws.s3#AccountId": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowQuotedRecordDelimiter": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.s3#AllowedHeader": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedHeaders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AllowedHeader"
      }
    },
    "com.amazonaws.s3#AllowedMethod": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedMethods": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AllowedMethod"
      }
    },
    "com.amazonaws.s3#AllowedOrigin": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedOrigins": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AllowedOrigin"
      }
    },
    "com.amazonaws.s3#AmazonS3": {
      "type": "service",
      "version": "2006-03-01",
      "operations": [
        {
          "target": "com.amazonaws.s3#AbortMultipartUpload"
        },
        {
          "target": "com.amazonaws.s3#CompleteMultipartUpload"
        },
        {
          "target": "com.amazonaws.s3#CopyObject"
        },
        {
          "target": "com.amazonaws.s3#CreateBucket"
        },
        {
          "target": "com.amazonaws.s3#CreateMultipartUpload"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucket"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketAnalyticsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketCors"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketIntelligentTieringConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketInventoryConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketLifecycle"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketMetricsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketOwnershipControls"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#DeleteObject"
        },
        {
          "target": "com.amazonaws.s3#DeleteObjects"
        },
        {
          "target": "com.amazonaws.s3#DeleteObjectTagging"
        },
        {
          "target": "com.amazonaws.s3#DeletePublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAccelerateConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAcl"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAnalyticsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketCors"
        },
        {
          "target": "com.amazonaws.s3#GetBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#GetBucketIntelligentTieringConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketInventoryConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLocation"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLogging"
        },
        {
          "target": "com.amazonaws.s3#GetBucketMetricsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketOwnershipControls"
        },
        {
          "target": "com.amazonaws.s3#GetBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3#GetBucketPolicyStatus"
        },
        {
          "target": "com.amazonaws.s3#GetBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#GetBucketRequestPayment"
        },
        {
          "target": "com.amazonaws.s3#GetBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#GetBucketVersioning"
        },
        {
          "target": "com.amazonaws.s3#GetBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#GetObject"
        },
        {
          "target": "com.amazonaws.s3#GetObjectAcl"
        },
        {
          "target": "com.amazonaws.s3#GetObjectAttributes"
        },
        {
          "target": "com.amazonaws.s3#GetObjectLegalHold"
        },
        {
          "target": "com.amazonaws.s3#GetObjectLockConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetObjectRetention"
        },
        {
          "target": "com.amazonaws.s3#GetObjectTagging"
        },
        {
          "target": "com.amazonaws.s3#GetObjectTorrent"
        },
        {
          "target": "com.amazonaws.s3#GetPublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#HeadBucket"
        },
        {
          "target": "com.amazonaws.s3#HeadObject"
        },
        {
          "target": "com.amazonaws.s3#ListBucketAnalyticsConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketIntelligentTieringConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketInventoryConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketMetricsConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBuckets"
        },
        {
          "target": "com.amazonaws.s3#ListMultipartUploads"
        },
        {
          "target": "com.amazonaws.s3#ListObjects"
        },
        {
          "target": "com.amazonaws.s3#ListObjectsV2"
        },
        {
          "target": "com.amazonaws.s3#ListObjectVersions"
        },
        {
          "target": "com.amazonaws.s3#ListParts"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAccelerateConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAcl"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAnalyticsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketCors"
        },
        {
          "target": "com.amazonaws.s3#PutBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#PutBucketIntelligentTieringConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketInventoryConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketLogging"
        },
        {
          "target": "com.amazonaws.s3#PutBucketMetricsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketOwnershipControls"
        },
        {
          "target": "com.amazonaws.s3#PutBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3#PutBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#PutBucketRequestPayment"
        },
        {
          "target": "com.amazonaws.s3#PutBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#PutBucketVersioning"
        },
        {
          "target": "com.amazonaws.s3#PutBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#PutObject"
        },
        {
          "target": "com.amazonaws.s3#PutObjectAcl"
        },
        {
          "target": "com.amazonaws.s3#PutObjectLegalHold"
        },
        {
          "target": "com.amazonaws.s3#PutObjectLockConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutObjectRetention"
        },
        {
          "target": "com.amazonaws.s3#PutObjectTagging"
        },
        {
          "target": "com.amazonaws.s3#PutPublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#RestoreObject"
        },
        {
          "target": "com.amazonaws.s3#SelectObjectContent"
        },
        {
          "target": "com.amazonaws.s3#UploadPart"
        },
        {
          "target": "com.amazonaws.s3#UploadPartCopy"
        },
        {
          "target": "com.amazonaws.s3#WriteGetObjectResponse"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "S3",
          "arnNamespace": "s3",
          "cloudFormationName": "S3",
          "cloudTrailEventSource": "s3.amazonaws.com",
          "endpointPrefix": "s3"
        },
        "aws.auth#sigv4": {
          "name": "s3"
        },
        "aws.protocols#restXml": {
          "noErrorWrapping": true
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#title": "Amazon Simple Storage Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
        },
        "smithy.rules#clientContextParams": {
          "ForcePathStyle": {
            "documentation": "Forces this client to use path-style addressing for buckets.",
            "type": "boolean"
          },
          "UseArnRegion": {
            "documentation": "Enables this client to use an ARN's region when constructing an endpoint instead of the client's configured region.",
            "type": "boolean"
          },
          "DisableMultiRegionAccessPoints": {
            "documentation": "Disables this client's usage of Multi-Region Access Points.",
            "type": "boolean"
          },
          "Accelerate": {
            "documentation": "Enables this client to use S3 Transfer Acceleration endpoints.",
            "type": "boolean"
          }
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Bucket": {
              "required": false,
              "documentation": "The S3 bucket used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 bucket.",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "ForcePathStyle": {
              "builtIn": "AWS::S3::ForcePathStyle",
              "required": false,
              "documentation": "When true, force a path-style endpoint to be used where the bucket name is part of the path.",
              "type": "Boolean"
            },
            "Accelerate": {
              "builtIn": "AWS::S3::Accelerate",
              "required": true,
              "default": false,
              "documentation": "When true, use S3 Accelerate. NOTE: Not all regions support S3 accelerate.",
              "type": "Boolean"
            },
            "UseGlobalEndpoint": {
              "builtIn": "AWS::S3::UseGlobalEndpoint",
              "required": true,
              "default": false,
              "documentation": "Whether the global endpoint should be used, rather then the regional endpoint for us-east-1.",
              "type": "Boolean"
            },
            "UseObjectLambdaEndpoint": {
              "required": false,
              "documentation": "Internal parameter to use object lambda endpoint for an operation (eg: WriteGetObjectResponse)",
              "type": "Boolean"
            },
            "DisableAccessPoints": {
              "required": false,
              "documentation": "Internal parameter to disable Access Point Buckets",
              "type": "Boolean"
            },
            "DisableMultiRegionAccessPoints": {
              "builtIn": "AWS::S3::DisableMultiRegionAccessPoints",
              "required": true,
              "default": false,
              "documentation": "Whether multi-region access points (MRAP) should be disabled.",
              "type": "Boolean"
            },
            "UseArnRegion": {
              "builtIn": "AWS::S3::UseArnRegion",
              "required": false,
              "documentation": "When an Access Point ARN is provided and this flag is enabled, the SDK MUST use the ARN's region when constructing the endpoint instead of the client's configured region.",
              "type": "Boolean"
            }
          },
          "rules": [
            {
              "conditions": [],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "isSet",
                              "argv": [
                                {
                                  "ref": "Bucket"
                                }
                              ]
                            },
                            {
                              "fn": "substring",
                              "argv": [
                                {
                                  "ref": "Bucket"
                                },
                                49,
                                50,
                                true
                              ],
                              "assign": "hardwareType"
                            },
                            {
                              "fn": "substring",
                              "argv": [
                                {
                                  "ref": "Bucket"
                                },
                                8,
                                12,
                                true
                              ],
                              "assign": "regionPrefix"
                            },
                            {
                              "fn": "substring",
                              "argv": [
                                {
                                  "ref": "Bucket"
                                },
                                0,
                                7,
                                true
                              ],
                              "assign": "abbaSuffix"
                            },
                            {
                              "fn": "substring",
                              "argv": [
                                {
                                  "ref": "Bucket"
                                },
                                32,
                                49,
                                true
                              ],
                              "assign": "outpostId"
                            },
                            {
                              "fn": "aws.partition",
                              "argv": [
                                {
                                  "ref": "Region"
                                }
                              ],
                              "assign": "regionPartition"
                            },
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "ref": "abbaSuffix"
                                },
                                "--op-s3"
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "isValidHostLabel",
                                  "argv": [
                                    {
                                      "ref": "outpostId"
                                    },
                                    false
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "fn": "stringEquals",
                                          "argv": [
                                            {
                                              "ref": "hardwareType"
                                            },
                                            "e"
                                          ]
                                        }
                                      ],
                                      "type": "tree",
                                      "rules": [
                                        {
                                          "conditions": [
                                            {
                                              "fn": "stringEquals",
                                              "argv": [
                                                {
                                                  "ref": "regionPrefix"
                                                },
                                                "beta"
                                              ]
                                            }
                                          ],
                                          "type": "tree",
                                          "rules": [
                                            {
                                              "conditions": [
                                                {
                                                  "fn": "not",
                                                  "argv": [
                                                    {
                                                      "fn": "isSet",
                                                      "argv": [
                                                        {
                                                          "ref": "Endpoint"
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                }
                                              ],
                                              "error": "Expected a endpoint to be specified but no endpoint was found",
                                              "type": "error"
                                            },
                                            {
                                              "conditions": [
                                                {
                                                  "fn": "isSet",
                                                  "argv": [
                                                    {
                                                      "ref": "Endpoint"
                                                    }
                                                  ]
                                                },
                                                {
                                                  "fn": "parseURL",
                                                  "argv": [
                                                    {
                                                      "ref": "Endpoint"
                                                    }
                                                  ],
                                                  "assign": "url"
                                                }
                                              ],
                                              "endpoint": {
                                                "url": "https://{Bucket}.ec2.{url#authority}",
                                                "properties": {
                                                  "authSchemes": [
                                                    {
                                                      "disableDoubleEncoding": true,
                                                      "name": "sigv4",
                                                      "signingName": "s3-outposts",
                                                      "signingRegion": "{Region}"
                                                    }
                                                  ]
                                                },
                                                "headers": {}
                                              },
                                              "type": "endpoint"
                                            }
                                          ]
                                        },
                                        {
                                          "conditions": [],
                                          "endpoint": {
                                            "url": "https://{Bucket}.ec2.s3-outposts.{Region}.{regionPartition#dnsSuffix}",
                                            "properties": {
                                              "authSchemes": [
                                                {
                                                  "disableDoubleEncoding": true,
                                                  "name": "sigv4",
                                                  "signingName": "s3-outposts",
                                                  "signingRegion": "{Region}"
                                                }
                                              ]
                                            },
                                            "headers": {}
                                          },
                                          "type": "endpoint"
                                        }
                                      ]
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "fn": "stringEquals",
                                          "argv": [
                                            {
                                              "ref": "hardwareType"
                                            },
                                            "o"
                                          ]
                                        }
                                      ],
                                      "type": "tree",
                                      "rules": [
                                        {
                                          "conditions": [
                                            {
                                              "fn": "stringEquals",
                                              "argv": [
                                                {
                                                  "ref": "regionPrefix"
                                                },
                                                "beta"
                                              ]
                                            }
                                          ],
                                          "type": "tree",
                                          "rules": [
                                            {
                                              "conditions": [
                                                {
                                                  "fn": "not",
                                                  "argv": [
                                                    {
                                                      "fn": "isSet",
                                                      "argv": [
                                                        {
                                                          "ref": "Endpoint"
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                }
                                              ],
                                              "error": "Expected a endpoint to be specified but no endpoint was found",
                                              "type": "error"
                                            },
                                            {
                                              "conditions": [
                                                {
                                                  "fn": "isSet",
                                                  "argv": [
                                                    {
                                                      "ref": "Endpoint"
                                                    }
                                                  ]
                                                },
                                                {
                                                  "fn": "parseURL",
                                                  "argv": [
                                                    {
                                                      "ref": "Endpoint"
                                                    }
                                                  ],
                                                  "assign": "url"
                                                }
                                              ],
                                              "endpoint": {
                                                "url": "https://{Bucket}.op-{outpostId}.{url#authority}",
                                                "properties": {
                                                  "authSchemes": [
                                                    {
                                                      "disableDoubleEncoding": true,
                                                      "name": "sigv4",
                                                      "signingName": "s3-outposts",
                                                      "signingRegion": "{Region}"
                                                    }
                                                  ]
                                                },
                                                "headers": {}
                                              },
                                              "type": "endpoint"
                                            }
                                          ]
                                        },
                                        {
                                          "conditions": [],
                                          "endpoint": {
                                            "url": "https://{Bucket}.op-{outpostId}.s3-outposts.{Region}.{regionPartition#dnsSuffix}",
                                            "properties": {
                                              "authSchemes": [
                                                {
                                                  "disableDoubleEncoding": true,
                                                  "name": "sigv4",
                                                  "signingName": "s3-outposts",
                                                  "signingRegion": "{Region}"
                                                }
                                              ]
                                            },
                                            "headers": {}
                                          },
                                          "type": "endpoint"
                                        }
                                      ]
                                    },
                                    {
                                      "conditions": [],
                                      "error": "Unrecognized hardware type: \"Expected hardware type o or e but got {hardwareType}\"",
                                      "type": "error"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "Invalid ARN: The outpost Id must only contain a-z, A-Z, 0-9 and `-`.",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "isSet",
                              "argv": [
                                {
                                  "ref": "Bucket"
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "isSet",
                                  "argv": [
                                    {
                                      "ref": "Endpoint"
                                    }
                                  ]
                                },
                                {
                                  "fn": "not",
                                  "argv": [
                                    {
                                      "fn": "isSet",
                                      "argv": [
                                        {
                                          "fn": "parseURL",
                                          "argv": [
                                            {
                                              "ref": "Endpoint"
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "error": "Custom endpoint `{Endpoint}` was not a valid URI",
                              "type": "error"
                            },
                            {
                              "conditions": [],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "fn": "isSet",
                                      "argv": [
                                        {
                                          "ref": "ForcePathStyle"
                                        }
                                      ]
                                    },
                                    {
                                      "fn": "booleanEquals",
                                      "argv": [
                                        {
                                          "ref": "ForcePathStyle"
                                        },
                                        true
                                      ]
                                    }
                                  ],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "type": "tree",
                                      "rules": [
                                        {
                                          "conditions": [
                                            {
                                              "fn": "aws.parseArn",
                                              "argv": [
                                                {
                                                  "ref": "Bucket"
                                                }
                                              ]
                                            }
                                          ],
                                          "error": "Path-style addressing cannot be used with ARN buckets",
                                          "type": "error"
                                        },
                                        {
                                          "conditions": [
                                            {
                                              "fn": "uriEncode",
                                              "argv": [
                                                {
                                                  "ref": "Bucket"
                                                }
                                              ],
                                              "assign": "uri_encoded_bucket"
                                            }
                                          ],
                                          "type": "tree",
                                          "rules": [
                                            {
                                              "conditions": [
                                                {
                                                  "fn": "booleanEquals",
                                                  "argv": [
                                                    {
                                                      "ref": "UseDualStack"
                                                    },
                                                    true
                                                  ]
                                                },
                                                {
                                                  "fn": "isSet",
                                                  "argv": [
                                                    {
                                                      "ref": "Endpoint"
                                                    }
                                                  ]
                                                }
                                              ],
                                              "error": "Cannot set dual-stack in combination with a custom endpoint.",
                                              "type": "error"
                                            },
                                            {
                                              "conditions": [],
                                              "type": "tree",
                                              "rules": [
                                                {
                                                  "conditions": [
                                                    {
                                                      "fn": "aws.partition",
                                                      "argv": [
                                                        {
                                                          "ref": "Region"
                                                        }
                                                      ],
                                                      "assign": "partitionResult"
                                                    }
                                                  ],
                                                  "type": "tree",
                                                  "rules": [
                                                    {
                                                      "conditions": [],
                                                      "type": "tree",
                                                      "rules": [
                                                        {
                                                          "conditions": [
                                                            {
                                                              "fn": "booleanEquals",
                                                              "argv": [
                                                                {
                                                                  "ref": "Accelerate"
                                                                },
                                                                false
                                                              ]
                                                            }
                                                          ],
                                                          "type": "tree",
                                                          "rules": [
                                                            {
                                                              "conditions": [],
                                                              "type": "tree",
                                                              "rules": [
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "not",
                                                                      "argv": [
                                                                        {
                                                                          "fn": "isSet",
                                                                          "argv": [
                                                                            {
                                                                              "ref": "Endpoint"
                                                                            }
                                                                          ]
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "stringEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Region"
                                                                        },
                                                                        "aws-global"
                                                                      ]
                                                                    }
                                                                  ],
                                                                  "endpoint": {
                                                                    "url": "https://s3-fips.dualstack.us-east-1.{partitionResult#dnsSuffix}/{uri_encoded_bucket}",
                                                                    "properties": {
                                                                      "authSchemes": [
                                                                        {
                                                                          "disableDoubleEncoding": true,
                                                                          "name": "sigv4",
                                                                          "signingName": "s3",
                                                                          "signingRegion": "us-east-1"
                                                                        }
                                                                      ]
                                                                    },
                                                                    "headers": {}
                                                                  },
                                                                  "type": "endpoint"
                                                                },
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "not",
                                                                      "argv": [
                                                                        {
                                                                          "fn": "isSet",
                                                                          "argv": [
                                                                            {
                                                                              "ref": "Endpoint"
                                                                            }
                                                                          ]
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "stringEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Region"
                                                                        },
                                                                        "aws-global"
                                                                      ]
                                                                    }
                                                                  ],
                                                                  "endpoint": {
                                                                    "url": "https://s3-fips.dualstack.us-east-1.{partitionResult#dnsSuffix}/{uri_encoded_bucket}",
                                                                    "properties": {
                                                                      "authSchemes": [
                                                                        {
                                                                          "disableDoubleEncoding": true,
                                                                          "name": "sigv4",
                                                                          "signingName": "s3",
                                                                          "signingRegion": "us-east-1"
                                                                        }
                                                                      ]
                                                                    },
                                                                    "headers": {}
                                                                  },
                                                                  "type": "endpoint"
                                                                },
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "not",
                                                                      "argv": [
                                                                        {
                                                                          "fn": "isSet",
                                                                          "argv": [
                                                                            {
                                                                              "ref": "Endpoint"
                                                                            }
                                                                          ]
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "not",
                                                                      "argv": [
                                                                        {
                                                                          "fn": "stringEquals",
                                                                          "argv": [
                                                                            {
                                                                              "ref": "Region"
                                                                            },
                                                                            "aws-global"
                                                                          ]
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseGlobalEndpoint"
                                                                        },
                                                                        true
                                                                      ]
                                                                    }
                                                                  ],
                                                                  "type": "tree",
                                                                  "rules": [
                                                                    {
                                                                      "conditions": [],
                                                                      "endpoint": {
                                                                        "url": "https://s3-fips.dualstack.{Region}.{partitionResult#dnsSuffix}/{uri_encoded_bucket}",
                                                                        "properties": {
                                                                          "authSchemes": [
                                                                            {
                                                                              "disableDoubleEncoding": true,
                                                                              "name": "sigv4",
                                                                              "signingName": "s3",
                                                                              "signingRegion": "{Region}"
                                                                            }
                                                                          ]
                                                                        },
                                                                        "headers": {}
                                                                      },
                                                                      "type": "endpoint"
                                                                    }
                                                                  ]
                                                                },
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "not",
                                                                      "argv": [
                                                                        {
                                                                          "fn": "isSet",
                                                                          "argv": [
                                                                            {
                                                                              "ref": "Endpoint"
                                                                            }
                                                                          ]
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "not",
                                                                      "argv": [
                                                                        {
                                                                          "fn": "stringEquals",
                                                                          "argv": [
                                                                            {
                                                                              "ref": "Region"
                                                                            },
                                                                            "aws-global"
                                                                          ]
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseGlobalEndpoint"
                                                                        },
                                                                        false
                                                                      ]
                                                                    }
                                                                  ],
                                                                  "endpoint": {
                                                                    "url": "https://s3-fips.dualstack.{Region}.{partitionResult#dnsSuffix}/{uri_encoded_bucket}",
                                                                    "properties": {
                                                                      "authSchemes": [
                                                                        {
                                                                          "disableDoubleEncoding": true,
                                                                          "name": "sigv4",
                                                                          "signingName": "s3",
                                                                          "signingRegion": "{Region}"
                                                                        }
                                                                      ]
                                                                    },
                                                                    "headers": {}
                                                                  },
                                                                  "type": "endpoint"
                                                                },
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
                                                                        false
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "isSet",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Endpoint"
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "parseURL",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Endpoint"
                                                                        }
                                                                      ],
                                                                      "assign": "url"
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "stringEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Region"
                                                                        },
                                                                        "aws-global"
                                                                      ]
                                                                    }
                                                                  ],
                                                                  "endpoint": {
                                                                    "url": "{url#scheme}://{url#authority}{url#normalizedPath}{uri_encoded_bucket}",
                                                                    "properties": {
                                                                      "authSchemes": [
                                                                        {
                                                                          "disableDoubleEncoding": true,
                                                                          "name": "sigv4",
                                                                          "signingName": "s3",
                                                                          "signingRegion": "us-east-1"
                                                                        }
                                                                      ]
                                                                    },
                                                                    "headers": {}
                                                                  },
                                                                  "type": "endpoint"
                                                                },
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
                                                                        false
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "isSet",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Endpoint"
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "parseURL",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Endpoint"
                                                                        }
                                                                      ],
                                                                      "assign": "url"
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "stringEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Region"
                                                                        },
                                                                        "aws-global"
                                                                      ]
                                                                    }
                                                                  ],
                                                                  "endpoint": {
                                                                    "url": "{url#scheme}://{url#authority}{url#normalizedPath}{uri_encoded_bucket}",
                                                                    "properties": {
                                                                      "authSchemes": [
                                                                        {
                                                                          "disableDoubleEncoding": true,
                                                                          "name": "sigv4",
                                                                          "signingName": "s3",
                                                                          "signingRegion": "us-east-1"
                                                                        }
                                                                      ]
                                                                    },
                                                                    "headers": {}
                                                                  },
                                                                  "type": "endpoint"
                                                                },
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
                                                                        false
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "isSet",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Endpoint"
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "parseURL",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Endpoint"
                                                                        }
                                                                      ],
                                                                      "assign": "url"
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "not",
                                                                      "argv": [
                                                                        {
                                                                          "fn": "stringEquals",
                                                                          "argv": [
                                                                            {
                                                                              "ref": "Region"
                                                                            },
                                                                            "aws-global"
                                                                          ]
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseGlobalEndpoint"
                                                                        },
                                                                        true
                                                                      ]
                                                                    }
                                                                  ],
                                                                  "type": "tree",
                                                                  "rules": [
                                                                    {
                                                                      "conditions": [],
                                                                      "endpoint": {
                                                                        "url": "{url#scheme}://{url#authority}{url#normalizedPath}{uri_encoded_bucket}",
                                                                        "properties": {
                                                                          "authSchemes": [
                                                                            {
                                                                              "disableDoubleEncoding": true,
                                                                              "name": "sigv4",
                                                                              "signingName": "s3",
                                                                              "signingRegion": "{Region}"
                                                                            }
                                                                          ]
                                                                        },
                                                                        "headers": {}
                                                                      },
                                                                      "type": "endpoint"
                                                                    }
                                                                  ]
                                                                },
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
                                                                        false
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "isSet",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Endpoint"
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "parseURL",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Endpoint"
                                                                        }
                                                                      ],
                                                                      "assign": "url"
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "not",
                                                                      "argv": [
                                                                        {
                                                                          "fn": "stringEquals",
                                                                          "argv": [
                                                                            {
                                                                              "ref": "Region"
                                                                            },
                                                                            "aws-global"
                                                                          ]
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseGlobalEndpoint"
                                                                        },
                                                                        false
                                                                      ]
                                                                    }
                                                                  ],
                                                                  "endpoint": {
                                                                    "url": "{url#scheme}://{url#authority}{url#normalizedPath}{uri_encoded_bucket}",
                                                                    "properties": {
                                                                      "authSchemes": [
                                                                        {
                                                                          "disableDoubleEncoding": true,
                                                                          "name": "sigv4",
                                                                          "signingName": "s3",
                                                                          "signingRegion": "{Region}"
                                                                        }
                                                                      ]
                                                                    },
                                                                    "headers": {}
                                                                  },
                                                                  "type": "endpoint"
                                                                },
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
                                                                        false
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "not",
                                                                      "argv": [
                                                                        {
                                                                          "fn": "isSet",
                                                                          "argv": [
                                                                            {
                                                                              "ref": "Endpoint"
                                                                            }
                                                                          ]
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                      ]
                                                                    },
                                                                    {
                                                                      "fn": "stringEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "Region"
                                                                        },
                                                                        "aws-global"
                                                                      ]
                                                                    }
                                                                  ],
                                                                  "endpoint": {
                                                                    "url": "https://s3-fips.us-east-1.{partitionResult#dnsSuffix}/{uri_encoded_bucket}",
                                                                    "properties": {
                                                                      "authSchemes": [
                                                                        {
                                                                          "disableDoubleEncoding": true,
                                                                          "name": "sigv4",
                                                                          "signingName": "s3",
                                                                          "signingRegion": "us-east-1"
                                                                        }
                                                                      ]
                                                                    },
                                                                    "headers": {}
                                                                  },
                                                                  "type": "endpoint"
                                                                },
                                                                {
                                                                  "conditions": [
                                                                    {
                                                                      "fn": "booleanEquals",
                                                                      "argv": [
                                                                        {
                                                                          "ref": "UseDualStack"
                                                                        },
[...]
