{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.s3#AbortDate": {
      "type": "timestamp"
    },
    "com.amazonaws.s3#AbortIncompleteMultipartUpload": {
      "type": "structure",
      "members": {
        "DaysAfterInitiation": {
          "target": "com.amazonaws.s3#DaysAfterInitiation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of days after which Amazon S3 aborts an incomplete multipart upload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the days since the initiation of an incomplete multipart upload that Amazon S3 will wait before\n      permanently removing all parts of the upload. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html#mpu-abort-incomplete-mpu-lifecycle-config\"> Aborting\n        Incomplete Multipart Uploads Using a Bucket Lifecycle Configuration</a> in the\n        <i>Amazon S3 User Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3#AbortMultipartUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3#AbortMultipartUploadRequest"
      },
      "output": {
        "target": "com.amazonaws.s3#AbortMultipartUploadOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3#NoSuchUpload"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation aborts a multipart upload. After a multipart upload is aborted, no additional parts\n      can be uploaded using that upload ID. The storage consumed by any previously uploaded parts will be\n      freed. However, if any part uploads are currently in progress, those part uploads might or might not\n      succeed. As a result, it might be necessary to abort a given multipart upload multiple times in order to\n      completely free all storage consumed by all parts. </p>\n         <p>To verify that all parts have been removed and prevent getting charged for the part storage, you\n      should call the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListParts.html\">ListParts</a> API operation and ensure that the parts list is empty.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>\n                     <b>Directory buckets</b> - If multipart uploads in a\n            directory bucket are in progress, you can't delete the bucket until all the in-progress multipart\n            uploads are aborted or completed. To delete these in-progress multipart uploads, use the\n              <code>ListMultipartUploads</code> operation to list the in-progress multipart uploads in the\n            bucket and use the <code>AbortMultipartUpload</code> operation to abort all the in-progress\n            multipart uploads. </p>\n               </li>\n               <li>\n                  <p>\n                     <b>Directory buckets</b> - For directory buckets, you must make requests for this API operation to the Zonal endpoint. These endpoints support virtual-hosted-style requests in the format <code>https://<i>amzn-s3-demo-bucket</i>.s3express-<i>zone-id</i>.<i>region-code</i>.amazonaws.com/<i>key-name</i>\n                     </code>. Path-style requests are not supported. For more information about endpoints in Availability Zones, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/endpoint-directory-buckets-AZ.html\">Regional and Zonal endpoints for directory buckets in Availability Zones</a> in the\n    <i>Amazon S3 User Guide</i>. For more information about endpoints in Local Zones, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-lzs-for-directory-buckets.html\">Concepts for directory buckets in Local Zones</a> in the\n    <i>Amazon S3 User Guide</i>.</p>\n               </li>\n            </ul>\n         </note>\n         <dl>\n            <dt>Permissions</dt>\n            <dd>\n               <ul>\n                  <li>\n                     <p>\n                        <b>General purpose bucket permissions</b> - For information\n                about permissions required to use the multipart upload, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuAndPermissions.html\">Multipart Upload and Permissions</a> in\n                the <i>Amazon S3 User Guide</i>.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Directory bucket permissions</b> - To grant access to this API operation on a directory bucket, we recommend that you use the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateSession.html\">\n                           <code>CreateSession</code>\n                        </a> API operation for session-based authorization. Specifically, you grant the <code>s3express:CreateSession</code> permission to the directory bucket in a bucket policy or an IAM identity-based policy. Then, you make the <code>CreateSession</code> API call on the bucket to obtain a session token. With the session token in your request header, you can make API requests to this operation. After the session token expires, you make another <code>CreateSession</code> API call to generate a new session token for use. \nAmazon Web Services CLI or SDKs create session and refresh the session token automatically to avoid service interruptions when a session expires. For more information about authorization, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateSession.html\">\n                           <code>CreateSession</code>\n                        </a>.</p>\n                  </li>\n               </ul>\n            </dd>\n            <dt>HTTP Host header syntax</dt>\n            <dd>\n               <p>\n                  <b>Directory buckets </b> - The HTTP Host header syntax is <code>\n                     <i>Bucket-name</i>.s3express-<i>zone-id</i>.<i>region-code</i>.amazonaws.com</code>.</p>\n            </dd>\n         </dl>\n         <p>The following operations are related to <code>AbortMultipartUpload</code>:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateMultipartUpload.html\">CreateMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_UploadPart.html\">UploadPart</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CompleteMultipartUpload.html\">CompleteMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListParts.html\">ListParts</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListMultipartUploads.html\">ListMultipartUploads</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#examples": [
          {
            "title": "To abort a multipart upload",
            "documentation": "The following example aborts a multipart upload.",
            "input": {
              "Bucket": "examplebucket",
              "Key": "bigobject",
              "UploadId": "xadcOB_7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{Bucket}/{Key+}?x-id=AbortMultipartUpload",
          "code": 204
        }
      }
    },
    "com.amazonaws.s3#AbortMultipartUploadOutput": {
      "type": "structure",
      "members": {
        "RequestCharged": {
          "target": "com.amazonaws.s3#RequestCharged",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-charged"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3#AbortMultipartUploadRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The bucket name to which the upload was taking place. </p>\n         <p>\n            <b>Directory buckets</b> - When you use this operation with a directory bucket, you must use virtual-hosted-style requests in the format <code>\n               <i>Bucket-name</i>.s3express-<i>zone-id</i>.<i>region-code</i>.amazonaws.com</code>. Path-style requests are not supported.  Directory bucket names must be unique in the chosen Zone (Availability Zone or Local Zone). Bucket names must follow the format <code>\n               <i>bucket-base-name</i>--<i>zone-id</i>--x-s3</code> (for example, <code>\n               <i>amzn-s3-demo-bucket</i>--<i>usw2-az1</i>--x-s3</code>). For information about bucket naming\n         restrictions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/directory-bucket-naming-rules.html\">Directory bucket naming\n            rules</a> in the <i>Amazon S3 User Guide</i>.</p>\n         <p>\n            <b>Access points</b> - When you use this action with an access point for general purpose buckets, you must provide the alias of the access point in place of the bucket name or specify the access point ARN. When you use this action with an access point for directory buckets, you must provide the access point name in place of the bucket name. When using the access point ARN, you must direct requests to the access point hostname. The access point hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.s3-accesspoint.<i>Region</i>.amazonaws.com. When using this action with an access point through the Amazon Web Services SDKs, you provide the access point ARN in place of the bucket name. For more information about access point ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/using-access-points.html\">Using access points</a> in the <i>Amazon S3 User Guide</i>.</p>\n         <note>\n            <p>Object Lambda access points are not supported by directory buckets.</p>\n         </note>\n         <p>\n            <b>S3 on Outposts</b> - When you use this action with S3 on Outposts, you must direct requests to the S3 on Outposts hostname. The S3 on Outposts hostname takes the \n                     form <code>\n               <i>AccessPointName</i>-<i>AccountId</i>.<i>outpostID</i>.s3-outposts.<i>Region</i>.amazonaws.com</code>. When you use this action with S3 on Outposts, the destination bucket must be the Outposts access point ARN or the access point alias. For more information about S3 on Outposts, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/S3onOutposts.html\">What is S3 on Outposts?</a> in the <i>Amazon S3 User Guide</i>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.rules#contextParam": {
              "name": "Bucket"
            }
          }
        },
        "Key": {
          "target": "com.amazonaws.s3#ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>Key of the object for which the multipart upload was initiated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.rules#contextParam": {
              "name": "Key"
            }
          }
        },
        "UploadId": {
          "target": "com.amazonaws.s3#MultipartUploadId",
          "traits": {
            "smithy.api#documentation": "<p>Upload ID that identifies the multipart upload.</p>",
            "smithy.api#httpQuery": "uploadId",
            "smithy.api#required": {}
          }
        },
        "RequestPayer": {
          "target": "com.amazonaws.s3#RequestPayer",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-payer"
          }
        },
        "ExpectedBucketOwner": {
          "target": "com.amazonaws.s3#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the expected bucket owner. If the account ID that you provide does not match the actual owner of the bucket, the request fails with the HTTP status code <code>403 Forbidden</code> (access denied).</p>",
            "smithy.api#httpHeader": "x-amz-expected-bucket-owner"
          }
        },
        "IfMatchInitiatedTime": {
          "target": "com.amazonaws.s3#IfMatchInitiatedTime",
          "traits": {
            "smithy.api#documentation": "<p>If present, this header aborts an in progress multipart upload only if it was initiated on the\n      provided timestamp. If the initiated timestamp of the multipart upload does not match the provided\n      value, the operation returns a <code>412 Precondition Failed</code> error. If the initiated timestamp\n      matches or if the multipart upload doesn’t exist, the operation returns a <code>204 Success (No\n        Content)</code> response. </p>\n         <note>\n            <p>This functionality is only supported for directory buckets.</p>\n         </note>",
            "smithy.api#httpHeader": "x-amz-if-match-initiated-time"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3#AbortRuleId": {
      "type": "string"
    },
    "com.amazonaws.s3#AccelerateConfiguration": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.s3#BucketAccelerateStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the transfer acceleration status of the bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures the transfer acceleration state for an Amazon S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html\">Amazon S3 Transfer\n        Acceleration</a> in the <i>Amazon S3 User Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3#AcceptRanges": {
      "type": "string"
    },
    "com.amazonaws.s3#AccessControlPolicy": {
      "type": "structure",
      "members": {
        "Grants": {
          "target": "com.amazonaws.s3#Grants",
          "traits": {
            "smithy.api#documentation": "<p>A list of grants.</p>",
            "smithy.api#xmlName": "AccessControlList"
          }
        },
        "Owner": {
          "target": "com.amazonaws.s3#Owner",
          "traits": {
            "smithy.api#documentation": "<p>Container for the bucket owner's display name and ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the elements that set the ACL permissions for an object per grantee.</p>"
      }
    },
    "com.amazonaws.s3#AccessControlTranslation": {
      "type": "structure",
      "members": {
        "Owner": {
          "target": "com.amazonaws.s3#OwnerOverride",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the replica ownership. For default and valid values, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTreplication.html\">PUT bucket replication</a> in the\n        <i>Amazon S3 API Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container for information about access control for replicas.</p>"
      }
    },
    "com.amazonaws.s3#AccessKeyIdValue": {
      "type": "string"
    },
    "com.amazonaws.s3#AccessPointAlias": {
      "type": "boolean"
    },
    "com.amazonaws.s3#AccessPointArn": {
      "type": "string"
    },
    "com.amazonaws.s3#AccountId": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowQuotedRecordDelimiter": {
      "type": "boolean"
    },
    "com.amazonaws.s3#AllowedHeader": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedHeaders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AllowedHeader"
      }
    },
    "com.amazonaws.s3#AllowedMethod": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedMethods": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AllowedMethod"
      }
    },
    "com.amazonaws.s3#AllowedOrigin": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedOrigins": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AllowedOrigin"
      }
    },
    "com.amazonaws.s3#AmazonS3": {
      "type": "service",
      "version": "2006-03-01",
      "operations": [
        {
          "target": "com.amazonaws.s3#AbortMultipartUpload"
        },
        {
          "target": "com.amazonaws.s3#CompleteMultipartUpload"
        },
        {
          "target": "com.amazonaws.s3#CopyObject"
        },
        {
          "target": "com.amazonaws.s3#CreateBucket"
        },
        {
          "target": "com.amazonaws.s3#CreateBucketMetadataConfiguration"
        },
        {
          "target": "com.amazonaws.s3#CreateBucketMetadataTableConfiguration"
        },
        {
          "target": "com.amazonaws.s3#CreateMultipartUpload"
        },
        {
          "target": "com.amazonaws.s3#CreateSession"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucket"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketAnalyticsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketCors"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketIntelligentTieringConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketInventoryConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketLifecycle"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketMetadataConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketMetadataTableConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketMetricsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketOwnershipControls"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#DeleteObject"
        },
        {
          "target": "com.amazonaws.s3#DeleteObjects"
        },
        {
          "target": "com.amazonaws.s3#DeleteObjectTagging"
        },
        {
          "target": "com.amazonaws.s3#DeletePublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAccelerateConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAcl"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAnalyticsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketCors"
        },
        {
          "target": "com.amazonaws.s3#GetBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#GetBucketIntelligentTieringConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketInventoryConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLocation"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLogging"
        },
        {
          "target": "com.amazonaws.s3#GetBucketMetadataConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketMetadataTableConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketMetricsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketOwnershipControls"
        },
        {
          "target": "com.amazonaws.s3#GetBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3#GetBucketPolicyStatus"
        },
        {
          "target": "com.amazonaws.s3#GetBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#GetBucketRequestPayment"
        },
        {
          "target": "com.amazonaws.s3#GetBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#GetBucketVersioning"
        },
        {
          "target": "com.amazonaws.s3#GetBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#GetObject"
        },
        {
          "target": "com.amazonaws.s3#GetObjectAcl"
        },
        {
          "target": "com.amazonaws.s3#GetObjectAttributes"
        },
        {
          "target": "com.amazonaws.s3#GetObjectLegalHold"
        },
        {
          "target": "com.amazonaws.s3#GetObjectLockConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetObjectRetention"
        },
        {
          "target": "com.amazonaws.s3#GetObjectTagging"
        },
        {
          "target": "com.amazonaws.s3#GetObjectTorrent"
        },
        {
          "target": "com.amazonaws.s3#GetPublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#HeadBucket"
        },
        {
          "target": "com.amazonaws.s3#HeadObject"
        },
        {
          "target": "com.amazonaws.s3#ListBucketAnalyticsConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketIntelligentTieringConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketInventoryConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketMetricsConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBuckets"
        },
        {
          "target": "com.amazonaws.s3#ListDirectoryBuckets"
        },
        {
          "target": "com.amazonaws.s3#ListMultipartUploads"
        },
        {
          "target": "com.amazonaws.s3#ListObjects"
        },
        {
          "target": "com.amazonaws.s3#ListObjectsV2"
        },
        {
          "target": "com.amazonaws.s3#ListObjectVersions"
        },
        {
          "target": "com.amazonaws.s3#ListParts"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAccelerateConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAcl"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAnalyticsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketCors"
        },
        {
          "target": "com.amazonaws.s3#PutBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#PutBucketIntelligentTieringConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketInventoryConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketLogging"
        },
        {
          "target": "com.amazonaws.s3#PutBucketMetricsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketOwnershipControls"
        },
        {
          "target": "com.amazonaws.s3#PutBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3#PutBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#PutBucketRequestPayment"
        },
        {
          "target": "com.amazonaws.s3#PutBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#PutBucketVersioning"
        },
        {
          "target": "com.amazonaws.s3#PutBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#PutObject"
        },
        {
          "target": "com.amazonaws.s3#PutObjectAcl"
        },
        {
          "target": "com.amazonaws.s3#PutObjectLegalHold"
        },
        {
          "target": "com.amazonaws.s3#PutObjectLockConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutObjectRetention"
        },
        {
          "target": "com.amazonaws.s3#PutObjectTagging"
        },
        {
          "target": "com.amazonaws.s3#PutPublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#RenameObject"
        },
        {
          "target": "com.amazonaws.s3#RestoreObject"
        },
        {
          "target": "com.amazonaws.s3#SelectObjectContent"
        },
        {
          "target": "com.amazonaws.s3#UpdateBucketMetadataInventoryTableConfiguration"
        },
        {
          "target": "com.amazonaws.s3#UpdateBucketMetadataJournalTableConfiguration"
        },
        {
          "target": "com.amazonaws.s3#UploadPart"
        },
        {
          "target": "com.amazonaws.s3#UploadPartCopy"
        },
        {
          "target": "com.amazonaws.s3#WriteGetObjectResponse"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "S3",
          "arnNamespace": "s3",
          "cloudFormationName": "S3",
          "cloudTrailEventSource": "s3.amazonaws.com",
          "endpointPrefix": "s3"
        },
        "aws.auth#sigv4": {
          "name": "s3"
        },
        "aws.protocols#restXml": {
          "noErrorWrapping": true
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#suppress": ["RuleSetAuthSchemes"],
        "smithy.api#title": "Amazon Simple Storage Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
        },
        "smithy.rules#clientContextParams": {
          "ForcePathStyle": {
            "documentation": "Forces this client to use path-style addressing for buckets.",
            "type": "boolean"
          },
          "UseArnRegion": {
            "documentation": "Enables this client to use an ARN's region when constructing an endpoint instead of the client's configured region.",
            "type": "boolean"
          },
          "DisableMultiRegionAccessPoints": {
            "documentation": "Disables this client's usage of Multi-Region Access Points.",
            "type": "boolean"
          },
          "Accelerate": {
            "documentation": "Enables this client to use S3 Transfer Acceleration endpoints.",
            "type": "boolean"
          },
          "DisableS3ExpressSessionAuth": {
            "documentation": "Disables this client's usage of Session Auth for S3Express       buckets and reverts to using conventional SigV4 for those.",
            "type": "boolean"
          }
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Bucket": {
              "required": false,
              "documentation": "The S3 bucket used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 bucket.",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "ForcePathStyle": {
              "builtIn": "AWS::S3::ForcePathStyle",
              "required": true,
              "default": false,
              "documentation": "When true, force a path-style endpoint to be used where the bucket name is part of the path.",
              "type": "Boolean"
            },
            "Accelerate": {
              "builtIn": "AWS::S3::Accelerate",
              "required": true,
              "default": false,
              "documentation": "When true, use S3 Accelerate. NOTE: Not all regions support S3 accelerate.",
              "type": "Boolean"
            },
            "UseGlobalEndpoint": {
              "builtIn": "AWS::S3::UseGlobalEndpoint",
              "required": true,
              "default": false,
              "documentation": "Whether the global endpoint should be used, rather then the regional endpoint for us-east-1.",
              "type": "Boolean"
            },
            "UseObjectLambdaEndpoint": {
              "required": false,
              "documentation": "Internal parameter to use object lambda endpoint for an operation (eg: WriteGetObjectResponse)",
              "type": "Boolean"
            },
            "Key": {
              "required": false,
              "documentation": "The S3 Key used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 Key.",
              "type": "String"
            },
            "Prefix": {
              "required": false,
              "documentation": "The S3 Prefix used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 Prefix.",
              "type": "String"
            },
            "CopySource": {
              "required": false,
              "documentation": "The Copy Source used for Copy Object request. This is an optional parameter that will be set automatically for operations that are scoped to Copy Source.",
              "type": "String"
            },
            "DisableAccessPoints": {
              "required": false,
              "documentation": "Internal parameter to disable Access Point Buckets",
              "type": "Boolean"
            },
            "DisableMultiRegionAccessPoints": {
              "builtIn": "AWS::S3::DisableMultiRegionAccessPoints",
              "required": true,
              "default": false,
              "documentation": "Whether multi-region access points (MRAP) should be disabled.",
              "type": "Boolean"
            },
            "UseArnRegion": {
              "builtIn": "AWS::S3::UseArnRegion",
              "required": false,
              "documentation": "When an Access Point ARN is provided and this flag is enabled, the SDK MUST use the ARN's region when constructing the endpoint instead of the client's configured region.",
              "type": "Boolean"
            },
            "UseS3ExpressControlEndpoint": {
              "required": false,
              "documentation": "Internal parameter to indicate whether S3Express operation should use control plane, (ex. CreateBucket)",
              "type": "Boolean"
            },
            "DisableS3ExpressSessionAuth": {
              "required": false,
              "documentation": "Parameter to indicate whether S3Express session auth should be disabled",
              "type": "Boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "Accelerate"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Accelerate cannot be used with FIPS",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "error": "Cannot set dual-stack in combination with a custom endpoint.",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "A custom endpoint cannot be combined with FIPS",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "Accelerate"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "A custom endpoint cannot be combined with S3 Accelerate",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "partitionResult"
                    },
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "partitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "error": "Partition does not support FIPS",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Bucket"
                        }
                      ]
                    },
                    {
                      "fn": "substring",
                      "argv": [
                        {
                          "ref": "Bucket"
                        },
                        0,
                        6,
                        true
                      ],
                      "assign": "bucketSuffix"
                    },
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "ref": "bucketSuffix"
                        },
                        "--x-s3"
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "S3Express does not support Dual-stack.",
                      "type": "error"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "Accelerate"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "S3Express does not support S3 Accelerate.",
                      "type": "error"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "isSet",
                          "argv": [
                            {
                              "ref": "Endpoint"
                            }
                          ]
                        },
                        {
                          "fn": "parseURL",
                          "argv": [
                            {
                              "ref": "Endpoint"
                            }
                          ],
                          "assign": "url"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "isSet",
                              "argv": [
                                {
                                  "ref": "DisableS3ExpressSessionAuth"
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "DisableS3ExpressSessionAuth"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "url"
                                        },
                                        "isIp"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "fn": "uriEncode",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        }
                                      ],
                                      "assign": "uri_encoded_bucket"
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "{url#scheme}://{url#authority}/{uri_encoded_bucket}{url#path}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "aws.isVirtualHostableS3Bucket",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    false
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "{url#scheme}://{Bucket}.{url#authority}{url#path}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "S3Express bucket name is not a valid virtual hostable name.",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "url"
                                    },
                                    "isIp"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "uriEncode",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    }
                                  ],
                                  "assign": "uri_encoded_bucket"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "{url#scheme}://{url#authority}/{uri_encoded_bucket}{url#path}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "aws.isVirtualHostableS3Bucket",
                              "argv": [
                                {
                                  "ref": "Bucket"
                                },
                                false
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "{url#scheme}://{Bucket}.{url#authority}{url#path}",
                                "properties": {
                                  "backend": "S3Express",
                                  "authSchemes": [
                                    {
                                      "disableDoubleEncoding": true,
                                      "name": "sigv4-s3express",
                                      "signingName": "s3express",
                                      "signingRegion": "{Region}"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "S3Express bucket name is not a valid virtual hostable name.",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "isSet",
                          "argv": [
                            {
                              "ref": "UseS3ExpressControlEndpoint"
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseS3ExpressControlEndpoint"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "aws.partition",
                              "argv": [
                                {
                                  "ref": "Region"
                                }
                              ],
                              "assign": "partitionResult"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "uriEncode",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    }
                                  ],
                                  "assign": "uri_encoded_bucket"
                                },
                                {
                                  "fn": "not",
                                  "argv": [
                                    {
                                      "fn": "isSet",
                                      "argv": [
                                        {
                                          "ref": "Endpoint"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "fn": "booleanEquals",
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ]
                                    }
                                  ],
                                  "endpoint": {
                                    "url": "https://s3express-control-fips.{Region}.{partitionResult#dnsSuffix}/{uri_encoded_bucket}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://s3express-control.{Region}.{partitionResult#dnsSuffix}/{uri_encoded_bucket}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "aws.isVirtualHostableS3Bucket",
                          "argv": [
                            {
                              "ref": "Bucket"
                            },
                            false
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "aws.partition",
                              "argv": [
                                {
                                  "ref": "Region"
                                }
                              ],
                              "assign": "partitionResult"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "isSet",
                                  "argv": [
                                    {
                                      "ref": "DisableS3ExpressSessionAuth"
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "ref": "DisableS3ExpressSessionAuth"
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        14,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId"
                                    },
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        14,
                                        16,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim"
                                    },
                                    {
                                      "fn": "stringEquals",
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ]
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "fn": "booleanEquals",
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ]
                                        }
                                      ],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        15,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId"
                                    },
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        15,
                                        17,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim"
                                    },
                                    {
                                      "fn": "stringEquals",
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ]
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "fn": "booleanEquals",
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ]
                                        }
                                      ],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        19,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId"
                                    },
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        19,
                                        21,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim"
                                    },
                                    {
                                      "fn": "stringEquals",
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ]
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "fn": "booleanEquals",
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ]
                                        }
                                      ],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        20,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId"
                                    },
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        20,
                                        22,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim"
                                    },
                                    {
                                      "fn": "stringEquals",
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ]
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "fn": "booleanEquals",
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ]
                                        }
                                      ],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        26,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId"
                                    },
                                    {
                                      "fn": "substring",
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        26,
                                        28,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim"
                                    },
                                    {
                                      "fn": "stringEquals",
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ]
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "fn": "booleanEquals",
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ]
                                        }
                                      ],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                        "properties": {
                                          "backend": "S3Express",
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ]
                                        },
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [],
                                  "error": "Unrecognized S3Express bucket name format.",
                                  "type": "error"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    6,
                                    14,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneId"
                                },
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    14,
                                    16,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneDelim"
                                },
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "s3expressAvailabilityZoneDelim"
                                    },
                                    "--"
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "fn": "booleanEquals",
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ]
                                    }
                                  ],
                                  "endpoint": {
                                    "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    6,
                                    15,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneId"
                                },
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    15,
                                    17,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneDelim"
                                },
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "s3expressAvailabilityZoneDelim"
                                    },
                                    "--"
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "fn": "booleanEquals",
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ]
                                    }
                                  ],
                                  "endpoint": {
                                    "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    6,
                                    19,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneId"
                                },
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    19,
                                    21,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneDelim"
                                },
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "s3expressAvailabilityZoneDelim"
                                    },
                                    "--"
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "fn": "booleanEquals",
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ]
                                    }
                                  ],
                                  "endpoint": {
                                    "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    6,
                                    20,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneId"
                                },
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    20,
                                    22,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneDelim"
                                },
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "s3expressAvailabilityZoneDelim"
                                    },
                                    "--"
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "fn": "booleanEquals",
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ]
                                    }
                                  ],
                                  "endpoint": {
                                    "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    6,
                                    26,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneId"
                                },
                                {
                                  "fn": "substring",
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    26,
                                    28,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneDelim"
                                },
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "s3expressAvailabilityZoneDelim"
                                    },
                                    "--"
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "fn": "booleanEquals",
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ]
                                    }
                                  ],
                                  "endpoint": {
                                    "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}",
                                    "properties": {
                                      "backend": "S3Express",
                                      "authSchemes": [
[...]
