{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.s3tables#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The action cannot be performed because you do not have the required permission.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.s3tables#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9].*$"
      }
    },
    "com.amazonaws.s3tables#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is invalid or malformed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.s3tables#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because there is a conflict with a previous write. You can retry the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.s3tables#CreateNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#CreateNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#CreateNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a namespace. A namespace is a logical grouping of tables within your table bucket, which you can use to organize tables. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-namespace-create.html\">Create a namespace</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:CreateNamespace</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/namespaces/{tableBucketARN}",
          "method": "PUT",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3tables#CreateNamespaceRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket to create the namespace in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>A name for the namespace.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#CreateNamespaceResponse": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket the namespace was created in.</p>",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#CreateTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#CreateTableRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#CreateTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new table associated with the given namespace in a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-create.html\">Creating an Amazon S3 table</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <ul> <li> <p>You must have the <code>s3tables:CreateTable</code> permission to use this operation. </p> </li> <li> <p>If you use this operation with the optional <code>metadata</code> request parameter you must have the <code>s3tables:PutTableData</code> permission. </p> </li> <li> <p>If you use this operation with the optional <code>encryptionConfiguration</code> request parameter you must have the <code>s3tables:PutTableEncryption</code> permission. </p> </li> <li> <p>If you use this operation with the <code>storageClassConfiguration</code> request parameter, you must have the <code>s3tables:PutTableStorageClass</code> permission.</p> </li> <li> <p>To create a table with tags, you must have the <code>s3tables:TagResource</code> permission in addition to <code>s3tables:CreateTable</code> permission.</p> </li> </ul> <note> <p>Additionally, If you choose SSE-KMS encryption you must grant the S3 Tables maintenance principal access to your KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-kms-permissions.html\">Permissions requirements for S3 Tables SSE-KMS encryption</a>. </p> </note> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}",
          "method": "PUT",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3tables#CreateTableBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#CreateTableBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#CreateTableBucketResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-buckets-create.html\">Creating a table bucket</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <ul> <li> <p>You must have the <code>s3tables:CreateTableBucket</code> permission to use this operation. </p> </li> <li> <p>If you use this operation with the optional <code>encryptionConfiguration</code> parameter you must have the <code>s3tables:PutTableBucketEncryption</code> permission.</p> </li> <li> <p>If you use this operation with the <code>storageClassConfiguration</code> request parameter, you must have the <code>s3tables:PutTableBucketStorageClass</code> permission.</p> </li> <li> <p>To create a table bucket with tags, you must have the <code>s3tables:TagResource</code> permission in addition to <code>s3tables:CreateTableBucket</code> permission.</p> </li> </ul> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets",
          "method": "PUT",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3tables#CreateTableBucketRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.s3tables#TableBucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the table bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "encryptionConfiguration": {
          "target": "com.amazonaws.s3tables#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration to use for the table bucket. This configuration specifies the default encryption settings that will be applied to all tables created in this bucket unless overridden at the table level. The configuration includes the encryption algorithm and, if using SSE-KMS, the KMS key to use.</p>"
          }
        },
        "storageClassConfiguration": {
          "target": "com.amazonaws.s3tables#StorageClassConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The default storage class configuration for the table bucket. This configuration will be applied to all new tables created in this bucket unless overridden at the table level. If not specified, the service default storage class will be used.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.s3tables#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of user-defined tags that you would like to apply to the table bucket that you are creating. A tag is a key-value pair that you apply to your resources. Tags can help you organize and control access to resources. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/tagging.html\">Tagging for cost allocation or attribute-based access control (ABAC)</a>.</p> <note> <p>You must have the <code>s3tables:TagResource</code> permission in addition to <code>s3tables:CreateTableBucket</code> permisson to create a table bucket with tags.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#CreateTableBucketResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#CreateTableRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket to create the table in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace to associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the table.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.s3tables#OpenTableFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for the table.</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.s3tables#TableMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for the table.</p>"
          }
        },
        "encryptionConfiguration": {
          "target": "com.amazonaws.s3tables#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration to use for the table. This configuration specifies the encryption algorithm and, if using SSE-KMS, the KMS key to use for encrypting the table. </p> <note> <p>If you choose SSE-KMS encryption you must grant the S3 Tables maintenance principal access to your KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-kms-permissions.html\">Permissions requirements for S3 Tables SSE-KMS encryption</a>.</p> </note>"
          }
        },
        "storageClassConfiguration": {
          "target": "com.amazonaws.s3tables#StorageClassConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The storage class configuration for the table. If not specified, the table inherits the storage class configuration from its table bucket. Specify this parameter to override the bucket's default storage class for this table.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.s3tables#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of user-defined tags that you would like to apply to the table that you are creating. A tag is a key-value pair that you apply to your resources. Tags can help you organize, track costs for, and control access to resources. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/tagging.html\">Tagging for cost allocation or attribute-based access control (ABAC)</a>.</p> <note> <p>You must have the <code>s3tables:TagResource</code> permission in addition to <code>s3tables:CreateTable</code> permission to create a table with tags.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#CreateTableResponse": {
      "type": "structure",
      "members": {
        "tableARN": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>The version token of the table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#DeleteNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteNamespaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a namespace. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-namespace-delete.html\">Delete a namespace</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteNamespace</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/namespaces/{tableBucketARN}/{namespace}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteNamespaceRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket associated with the namespace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a table. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-delete.html\">Deleting an Amazon S3 table</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTable</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableBucketRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-buckets-delete.html\">Deleting a table bucket</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTableBucket</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketEncryption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableBucketEncryptionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the encryption configuration for a table bucket.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTableBucketEncryption</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/encryption",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketEncryptionRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketMetricsConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableBucketMetricsConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the metrics configuration for a table bucket.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTableBucketMetricsConfiguration</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/metrics",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketMetricsConfigurationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableBucketPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a table bucket policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-bucket-policy.html#table-bucket-policy-delete\">Deleting a table bucket policy</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTableBucketPolicy</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/policy",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketPolicyRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketReplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableBucketReplicationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the replication configuration for a table bucket. After deletion, new table updates will no longer be replicated to destination buckets, though existing replicated tables will remain in destination buckets.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTableBucketReplication</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/table-bucket-replication",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketReplicationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpQuery": "tableBucketARN",
            "smithy.api#required": {}
          }
        },
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>A version token from a previous GetTableBucketReplication call. Use this token to ensure you're deleting the expected version of the configuration.</p>",
            "smithy.api#httpQuery": "versionToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTablePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTablePolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a table policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-table-policy.html#table-policy-delete\">Deleting a table policy</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTablePolicy</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/policy",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTablePolicyRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket that contains the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The table name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableReplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableReplicationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the replication configuration for a specific table. After deletion, new updates to this table will no longer be replicated to destination tables, though existing replicated copies will remain in destination buckets.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTableReplication</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/table-replication",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableReplicationRequest": {
      "type": "structure",
      "members": {
        "tableArn": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#httpQuery": "tableArn",
            "smithy.api#required": {}
          }
        },
        "versionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A version token from a previous GetTableReplication call. Use this token to ensure you're deleting the expected version of the configuration.</p>",
            "smithy.api#httpQuery": "versionToken",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket that contains the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>The version token of the table.</p>",
            "smithy.api#httpQuery": "versionToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "sseAlgorithm": {
          "target": "com.amazonaws.s3tables#SSEAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption algorithm to use. Valid values are <code>AES256</code> for S3-managed encryption keys, or <code>aws:kms</code> for Amazon Web Services KMS-managed encryption keys. If you choose SSE-KMS encryption you must grant the S3 Tables maintenance principal access to your KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-kms-permissions.html\">Permissions requirements for S3 Tables SSE-KMS encryption</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use for encryption. This field is required only when <code>sseAlgorithm</code> is set to <code>aws:kms</code>.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            },
            "smithy.api#pattern": "^(arn:aws[-a-z0-9]*:kms:[-a-z0-9]*:[0-9]{12}:key/.+)$"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration specifying how data should be encrypted. This structure defines the encryption algorithm and optional KMS key to be used for server-side encryption.</p>"
      }
    },
    "com.amazonaws.s3tables#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.s3tables#ForbiddenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The caller isn't authorized to make the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.s3tables#GetNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a namespace. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-namespace.html\">Table namespaces</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetNamespace</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/namespaces/{tableBucketARN}/{namespace}",
          "method": "GET"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetNamespace_AccessDeniedException",
            "params": {
              "tableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist",
              "namespace": "doesnotexist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.s3tables#GetNamespaceRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the namespace was created at.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that created the namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that owns the namespcace.</p>",
            "smithy.api#required": {}
          }
        },
        "namespaceId": {
          "target": "com.amazonaws.s3tables#NamespaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the namespace.</p>"
          }
        },
        "tableBucketId": {
          "target": "com.amazonaws.s3tables#TableBucketId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the table bucket containing this namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a table. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-tables.html\">S3 Tables</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTable</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/get-table",
          "method": "GET"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetTable_AccessDeniedException",
            "params": {
              "tableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist",
              "namespace": "doesnotexist",
              "name": "doesnotexist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          },
          {
            "id": "GetTableArn_AccessDeniedException",
            "params": {
              "tableArn": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist/table/f577d6ca-c1dd-4686-9f41-62130a40e91b"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.s3tables#GetTableBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details on a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-buckets-details.html\">Viewing details about an Amazon S3 table bucket</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucket</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}",
          "method": "GET"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetTableBucket_AccessDeniedException",
            "params": {
              "tableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.s3tables#GetTableBucketEncryption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketEncryptionRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketEncryptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the encryption configuration for a table bucket.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucketEncryption</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/encryption",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketEncryptionRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketEncryptionResponse": {
      "type": "structure",
      "members": {
        "encryptionConfiguration": {
          "target": "com.amazonaws.s3tables#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketMaintenanceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketMaintenanceConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketMaintenanceConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a maintenance configuration for a given table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-table-buckets-maintenance.html\">Amazon S3 table bucket maintenance</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucketMaintenanceConfiguration</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/maintenance",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketMaintenanceConfigurationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket associated with the maintenance configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketMaintenanceConfigurationResponse": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket associated with the maintenance configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.s3tables#TableBucketMaintenanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Details about the maintenance configuration for the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketMetricsConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketMetricsConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketMetricsConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the metrics configuration for a table bucket.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucketMetricsConfiguration</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/metrics",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketMetricsConfigurationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketMetricsConfigurationResponse": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the metrics configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a table bucket policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-bucket-policy.html#table-bucket-policy-get\">Viewing a table bucket policy</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucketPolicy</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/policy",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketPolicyRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketPolicyResponse": {
      "type": "structure",
      "members": {
        "resourcePolicy": {
          "target": "com.amazonaws.s3tables#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JSON</code> that defines the policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketReplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketReplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketReplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the replication configuration for a table bucket.This operation returns the IAM role, <code>versionToken</code>, and replication rules that define how tables in this bucket are replicated to other buckets.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucketReplication</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/table-bucket-replication",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketReplicationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpQuery": "tableBucketARN",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketReplicationResponse": {
      "type": "structure",
      "members": {
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>A version token that represents the current state of the replication configuration. Use this token when updating the configuration to ensure consistency.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.s3tables#TableBucketReplicationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The replication configuration for the table bucket, including the IAM role and replication rules.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableBucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table bucket</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that owns the table bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the table bucket was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "tableBucketId": {
          "target": "com.amazonaws.s3tables#TableBucketId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the table bucket.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.s3tables#TableBucketType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the table bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketStorageClass": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketStorageClassRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketStorageClassResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the storage class configuration for a specific table. This allows you to view the storage class settings that apply to an individual table, which may differ from the table bucket's default configuration.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucketStorageClass</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/storage-class",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketStorageClassRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketStorageClassResponse": {
      "type": "structure",
      "members": {
        "storageClassConfiguration": {
          "target": "com.amazonaws.s3tables#StorageClassConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The storage class configuration for the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableEncryption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableEncryptionRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableEncryptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the encryption configuration for a table.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableEncryption</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/encryption",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableEncryptionRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket containing the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableEncryptionResponse": {
      "type": "structure",
      "members": {
        "encryptionConfiguration": {
          "target": "com.amazonaws.s3tables#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableMaintenanceConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableMaintenanceConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about the maintenance configuration of a table. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-maintenance.html\">S3 Tables maintenance</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <ul> <li> <p>You must have the <code>s3tables:GetTableMaintenanceConfiguration</code> permission to use this operation. </p> </li> <li> <p>You must have the <code>s3tables:GetTableData</code> permission to use set the compaction strategy to <code>sort</code> or <code>zorder</code>.</p> </li> </ul> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/maintenance",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceConfigurationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceConfigurationResponse": {
      "type": "structure",
      "members": {
        "tableARN": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.s3tables#TableMaintenanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Details about the maintenance configuration for the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceJobStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableMaintenanceJobStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableMaintenanceJobStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the status of a maintenance job for a table. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-maintenance.html\">S3 Tables maintenance</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableMaintenanceJobStatus</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/maintenance-job-status",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceJobStatusRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace the table is associated with. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table containing the maintenance job status you want to check.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceJobStatusResponse": {
      "type": "structure",
      "members": {
        "tableARN": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.s3tables#TableMaintenanceJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the maintenance job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMetadataLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableMetadataLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableMetadataLocationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the location of the table metadata.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableMetadataLocation</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/metadata-location",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMetadataLocationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMetadataLocationResponse": {
      "type": "structure",
      "members": {
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>The version token.</p>",
            "smithy.api#required": {}
          }
        },
        "metadataLocation": {
          "target": "com.amazonaws.s3tables#MetadataLocation",
          "traits": {
            "smithy.api#documentation": "<p>The metadata location.</p>"
          }
        },
        "warehouseLocation": {
          "target": "com.amazonaws.s3tables#WarehouseLocation",
          "traits": {
            "smithy.api#documentation": "<p>The warehouse location.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTablePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTablePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTablePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a table policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-table-policy.html#table-policy-get\">Viewing a table policy</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTablePolicy</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/policy",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTablePolicyRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket that contains the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTablePolicyResponse": {
      "type": "structure",
      "members": {
        "resourcePolicy": {
          "target": "com.amazonaws.s3tables#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JSON</code> that defines the policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableRecordExpirationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableRecordExpirationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableRecordExpirationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the expiration configuration settings for records in a table, and the status of the configuration. If the status of the configuration is <code>enabled</code>, records expire and are automatically removed from the table after the specified number of days.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableRecordExpirationConfiguration</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/table-record-expiration",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableRecordExpirationConfigurationRequest": {
      "type": "structure",
      "members": {
        "tableArn": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#httpQuery": "tableArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableRecordExpirationConfigurationResponse": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.s3tables#TableRecordExpirationConfigurationValue",
          "traits": {
            "smithy.api#documentation": "<p>The record expiration configuration for the table, including the status and retention settings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableRecordExpirationJobStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableRecordExpirationJobStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableRecordExpirationJobStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the status, metrics, and details of the latest record expiration job for a table. This includes when the job ran, and whether it succeeded or failed. If the job ran successfully, this also includes statistics about the records that were removed.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableRecordExpirationJobStatus</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/table-record-expiration-job-status",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableRecordExpirationJobStatusRequest": {
      "type": "structure",
      "members": {
        "tableArn": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#httpQuery": "tableArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableRecordExpirationJobStatusResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.s3tables#TableRecordExpirationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the most recent expiration job.</p>",
            "smithy.api#required": {}
          }
        },
        "lastRunTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the expiration job was last executed.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "failureMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If the job failed, this field contains an error message describing the failure reason.</p>"
          }
        },
        "metrics": {
          "target": "com.amazonaws.s3tables#TableRecordExpirationJobMetrics",
          "traits": {
            "smithy.api#documentation": "<p>Metrics about the most recent expiration job execution, including the number of records and files deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableReplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableReplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableReplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the replication configuration for a specific table.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableReplication</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/table-replication",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableReplicationRequest": {
      "type": "structure",
      "members": {
        "tableArn": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#httpQuery": "tableArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableReplicationResponse": {
      "type": "structure",
      "members": {
        "versionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A version token that represents the current state of the table's replication configuration. Use this token when updating the configuration to ensure consistency.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.s3tables#TableReplicationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The replication configuration for the table, including the IAM role and replication rules.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableReplicationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableReplicationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableReplicationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the replication status for a table, including the status of replication to each destination. This operation provides visibility into replication health and progress.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableReplicationStatus</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/replication-status",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableReplicationStatusRequest": {
      "type": "structure",
      "members": {
        "tableArn": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#httpQuery": "tableArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableReplicationStatusResponse": {
      "type": "structure",
      "members": {
        "sourceTableArn": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source table being replicated.</p>",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.amazonaws.s3tables#ReplicationDestinationStatuses",
          "traits": {
            "smithy.api#documentation": "<p>An array of status information for each replication destination, including the current state, last successful update, and any error messages.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket associated with the table.</p>",
            "smithy.api#httpQuery": "tableBucketARN"
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace the table is associated with.</p>",
            "smithy.api#httpQuery": "namespace"
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpQuery": "name"
          }
        },
        "tableArn": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#httpQuery": "tableArn"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.s3tables#TableType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "tableARN": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#required": {}
          }
        },
        "namespaceId": {
          "target": "com.amazonaws.s3tables#NamespaceId",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The unique identifier of the namespace containing this table.</p>"
          }
        },
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>The version token of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "metadataLocation": {
          "target": "com.amazonaws.s3tables#MetadataLocation",
          "traits": {
            "smithy.api#documentation": "<p>The metadata location of the table.</p>"
          }
        },
        "warehouseLocation": {
          "target": "com.amazonaws.s3tables#WarehouseLocation",
          "traits": {
            "smithy.api#documentation": "<p>The warehouse location of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the table bucket was created at.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that created the table.</p>",
            "smithy.api#required": {}
          }
        },
        "managedByService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The service that manages the table.</p>"
          }
        },
        "modifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the table was last modified on.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "modifiedBy": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that last modified the table.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that owns the table.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.s3tables#OpenTableFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "tableBucketId": {
          "target": "com.amazonaws.s3tables#TableBucketId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the table bucket containing this table.</p>"
          }
        },
        "managedTableInformation": {
          "target": "com.amazonaws.s3tables#ManagedTableInformation",
          "traits": {
            "smithy.api#documentation": "<p>If this table is managed by S3 Tables, contains additional information such as replication details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableStorageClass": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableStorageClassRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableStorageClassResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the storage class configuration for a specific table. This allows you to view the storage class settings that apply to an individual table, which may differ from the table bucket's default configuration.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableStorageClass</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/storage-class",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableStorageClassRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket that contains the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
[...]
