{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.s3tables#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The action cannot be performed because you do not have the required permission.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.s3tables#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9].*$"
      }
    },
    "com.amazonaws.s3tables#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is invalid or malformed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.s3tables#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because there is a conflict with a previous write. You can retry the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.s3tables#CreateNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#CreateNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#CreateNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a namespace. A namespace is a logical grouping of tables within your table bucket, which you can use to organize tables. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-namespace-create.html\">Create a namespace</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:CreateNamespace</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/namespaces/{tableBucketARN}",
          "method": "PUT",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3tables#CreateNamespaceRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket to create the namespace in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>A name for the namespace.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#CreateNamespaceResponse": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket the namespace was created in.</p>",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#CreateTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#CreateTableRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#CreateTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new table associated with the given namespace in a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-create.html\">Creating an Amazon S3 table</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <ul> <li> <p>You must have the <code>s3tables:CreateTable</code> permission to use this operation. </p> </li> <li> <p>If you use this operation with the optional <code>metadata</code> request parameter you must have the <code>s3tables:PutTableData</code> permission. </p> </li> <li> <p>If you use this operation with the optional <code>encryptionConfiguration</code> request parameter you must have the <code>s3tables:PutTableEncryption</code> permission. </p> </li> </ul> <note> <p>Additionally, If you choose SSE-KMS encryption you must grant the S3 Tables maintenance principal access to your KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-kms-permissions.html\">Permissions requirements for S3 Tables SSE-KMS encryption</a>. </p> </note> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}",
          "method": "PUT",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3tables#CreateTableBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#CreateTableBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#CreateTableBucketResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-buckets-create.html\">Creating a table bucket</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <ul> <li> <p>You must have the <code>s3tables:CreateTableBucket</code> permission to use this operation. </p> </li> <li> <p>If you use this operation with the optional <code>encryptionConfiguration</code> parameter you must have the <code>s3tables:PutTableBucketEncryption</code> permission.</p> </li> </ul> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets",
          "method": "PUT",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3tables#CreateTableBucketRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.s3tables#TableBucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the table bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "encryptionConfiguration": {
          "target": "com.amazonaws.s3tables#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration to use for the table bucket. This configuration specifies the default encryption settings that will be applied to all tables created in this bucket unless overridden at the table level. The configuration includes the encryption algorithm and, if using SSE-KMS, the KMS key to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#CreateTableBucketResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#CreateTableRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket to create the table in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace to associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the table.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.s3tables#OpenTableFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for the table.</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.s3tables#TableMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for the table.</p>"
          }
        },
        "encryptionConfiguration": {
          "target": "com.amazonaws.s3tables#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration to use for the table. This configuration specifies the encryption algorithm and, if using SSE-KMS, the KMS key to use for encrypting the table. </p> <note> <p>If you choose SSE-KMS encryption you must grant the S3 Tables maintenance principal access to your KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-kms-permissions.html\">Permissions requirements for S3 Tables SSE-KMS encryption</a>.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#CreateTableResponse": {
      "type": "structure",
      "members": {
        "tableARN": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>The version token of the table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#DeleteNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteNamespaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a namespace. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-namespace-delete.html\">Delete a namespace</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteNamespace</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/namespaces/{tableBucketARN}/{namespace}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteNamespaceRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket associated with the namespace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a table. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-delete.html\">Deleting an Amazon S3 table</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTable</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableBucketRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-buckets-delete.html\">Deleting a table bucket</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTableBucket</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketEncryption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableBucketEncryptionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the encryption configuration for a table bucket.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTableBucketEncryption</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/encryption",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketEncryptionRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTableBucketPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a table bucket policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-bucket-policy.html#table-bucket-policy-delete\">Deleting a table bucket policy</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTableBucketPolicy</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/policy",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketPolicyRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableBucketRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTablePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#DeleteTablePolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a table policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-table-policy.html#table-policy-delete\">Deleting a table policy</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:DeleteTablePolicy</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/policy",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTablePolicyRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket that contains the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The table name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#DeleteTableRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket that contains the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>The version token of the table.</p>",
            "smithy.api#httpQuery": "versionToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "sseAlgorithm": {
          "target": "com.amazonaws.s3tables#SSEAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption algorithm to use. Valid values are <code>AES256</code> for S3-managed encryption keys, or <code>aws:kms</code> for Amazon Web Services KMS-managed encryption keys. If you choose SSE-KMS encryption you must grant the S3 Tables maintenance principal access to your KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-kms-permissions.html\">Permissions requirements for S3 Tables SSE-KMS encryption</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use for encryption. This field is required only when <code>sseAlgorithm</code> is set to <code>aws:kms</code>.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            },
            "smithy.api#pattern": "^(arn:aws[-a-z0-9]*:kms:[-a-z0-9]*:[0-9]{12}:key/.+)$"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration specifying how data should be encrypted. This structure defines the encryption algorithm and optional KMS key to be used for server-side encryption.</p>"
      }
    },
    "com.amazonaws.s3tables#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.s3tables#ForbiddenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The caller isn't authorized to make the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.s3tables#GetNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a namespace. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-namespace.html\">Table namespaces</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetNamespace</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/namespaces/{tableBucketARN}/{namespace}",
          "method": "GET"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetNamespace_AccessDeniedException",
            "params": {
              "tableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist",
              "namespace": "doesnotexist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.s3tables#GetNamespaceRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the namespace was created at.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that created the namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that owns the namespcace.</p>",
            "smithy.api#required": {}
          }
        },
        "namespaceId": {
          "target": "com.amazonaws.s3tables#NamespaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the namespace.</p>"
          }
        },
        "tableBucketId": {
          "target": "com.amazonaws.s3tables#TableBucketId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the table bucket containing this namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a table. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-tables.html\">S3 Tables</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTable</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/get-table",
          "method": "GET"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetTable_AccessDeniedException",
            "params": {
              "tableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist",
              "namespace": "doesnotexist",
              "name": "doesnotexist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          },
          {
            "id": "GetTableArn_AccessDeniedException",
            "params": {
              "tableArn": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist/table/f577d6ca-c1dd-4686-9f41-62130a40e91b"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.s3tables#GetTableBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details on a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-buckets-details.html\">Viewing details about an Amazon S3 table bucket</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucket</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}",
          "method": "GET"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetTableBucket_AccessDeniedException",
            "params": {
              "tableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.s3tables#GetTableBucketEncryption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketEncryptionRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketEncryptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the encryption configuration for a table bucket.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucketEncryption</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/encryption",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketEncryptionRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketEncryptionResponse": {
      "type": "structure",
      "members": {
        "encryptionConfiguration": {
          "target": "com.amazonaws.s3tables#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketMaintenanceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketMaintenanceConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketMaintenanceConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a maintenance configuration for a given table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-table-buckets-maintenance.html\">Amazon S3 table bucket maintenance</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucketMaintenanceConfiguration</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/maintenance",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketMaintenanceConfigurationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket associated with the maintenance configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketMaintenanceConfigurationResponse": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket associated with the maintenance configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.s3tables#TableBucketMaintenanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Details about the maintenance configuration for the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableBucketPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableBucketPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a table bucket policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-bucket-policy.html#table-bucket-policy-get\">Viewing a table bucket policy</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableBucketPolicy</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/policy",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketPolicyRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketPolicyResponse": {
      "type": "structure",
      "members": {
        "resourcePolicy": {
          "target": "com.amazonaws.s3tables#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JSON</code> that defines the policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableBucketResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableBucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table bucket</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that owns the table bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the table bucket was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "tableBucketId": {
          "target": "com.amazonaws.s3tables#TableBucketId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the table bucket.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.s3tables#TableBucketType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the table bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableEncryption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableEncryptionRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableEncryptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the encryption configuration for a table.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableEncryption</code> permission to use this operation.</p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/encryption",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableEncryptionRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket containing the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableEncryptionResponse": {
      "type": "structure",
      "members": {
        "encryptionConfiguration": {
          "target": "com.amazonaws.s3tables#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableMaintenanceConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableMaintenanceConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about the maintenance configuration of a table. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-maintenance.html\">S3 Tables maintenance</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <ul> <li> <p>You must have the <code>s3tables:GetTableMaintenanceConfiguration</code> permission to use this operation. </p> </li> <li> <p>You must have the <code>s3tables:GetTableData</code> permission to use set the compaction strategy to <code>sort</code> or <code>zorder</code>.</p> </li> </ul> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/maintenance",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceConfigurationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceConfigurationResponse": {
      "type": "structure",
      "members": {
        "tableARN": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.s3tables#TableMaintenanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Details about the maintenance configuration for the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceJobStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableMaintenanceJobStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableMaintenanceJobStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the status of a maintenance job for a table. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-maintenance.html\">S3 Tables maintenance</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableMaintenanceJobStatus</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/maintenance-job-status",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceJobStatusRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace the table is associated with. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the maintenance job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMaintenanceJobStatusResponse": {
      "type": "structure",
      "members": {
        "tableARN": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.s3tables#TableMaintenanceJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the maintenance job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMetadataLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTableMetadataLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTableMetadataLocationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the location of the table metadata.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTableMetadataLocation</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/metadata-location",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMetadataLocationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableMetadataLocationResponse": {
      "type": "structure",
      "members": {
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>The version token.</p>",
            "smithy.api#required": {}
          }
        },
        "metadataLocation": {
          "target": "com.amazonaws.s3tables#MetadataLocation",
          "traits": {
            "smithy.api#documentation": "<p>The metadata location.</p>"
          }
        },
        "warehouseLocation": {
          "target": "com.amazonaws.s3tables#WarehouseLocation",
          "traits": {
            "smithy.api#documentation": "<p>The warehouse location.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTablePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#GetTablePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#GetTablePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a table policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-table-policy.html#table-policy-get\">Viewing a table policy</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:GetTablePolicy</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}/{namespace}/{name}/policy",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.s3tables#GetTablePolicyRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket that contains the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTablePolicyResponse": {
      "type": "structure",
      "members": {
        "resourcePolicy": {
          "target": "com.amazonaws.s3tables#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JSON</code> that defines the policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#GetTableRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket associated with the table.</p>",
            "smithy.api#httpQuery": "tableBucketARN"
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace the table is associated with.</p>",
            "smithy.api#httpQuery": "namespace"
          }
        },
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#httpQuery": "name"
          }
        },
        "tableArn": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#httpQuery": "tableArn"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#GetTableResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.s3tables#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.s3tables#TableType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "tableARN": {
          "target": "com.amazonaws.s3tables#TableARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the table.</p>",
            "smithy.api#required": {}
          }
        },
        "namespaceId": {
          "target": "com.amazonaws.s3tables#NamespaceId",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The unique identifier of the namespace containing this table.</p>"
          }
        },
        "versionToken": {
          "target": "com.amazonaws.s3tables#VersionToken",
          "traits": {
            "smithy.api#documentation": "<p>The version token of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "metadataLocation": {
          "target": "com.amazonaws.s3tables#MetadataLocation",
          "traits": {
            "smithy.api#documentation": "<p>The metadata location of the table.</p>"
          }
        },
        "warehouseLocation": {
          "target": "com.amazonaws.s3tables#WarehouseLocation",
          "traits": {
            "smithy.api#documentation": "<p>The warehouse location of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the table bucket was created at.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that created the table.</p>",
            "smithy.api#required": {}
          }
        },
        "managedByService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The service that manages the table.</p>"
          }
        },
        "modifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the table was last modified on.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "modifiedBy": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that last modified the table.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that owns the table.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.s3tables#OpenTableFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "tableBucketId": {
          "target": "com.amazonaws.s3tables#TableBucketId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the table bucket containing this table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#IcebergCompactionSettings": {
      "type": "structure",
      "members": {
        "targetFileSizeMB": {
          "target": "com.amazonaws.s3tables#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The target file size for the table in MB.</p>"
          }
        },
        "strategy": {
          "target": "com.amazonaws.s3tables#IcebergCompactionStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The compaction strategy to use for the table. This determines how files are selected and combined during compaction operations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the compaction settings for an Iceberg table.</p>"
      }
    },
    "com.amazonaws.s3tables#IcebergCompactionStrategy": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "BINPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "binpack"
          }
        },
        "SORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sort"
          }
        },
        "ZORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "z-order"
          }
        }
      }
    },
    "com.amazonaws.s3tables#IcebergMetadata": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "com.amazonaws.s3tables#IcebergSchema",
          "traits": {
            "smithy.api#documentation": "<p>The schema for an Iceberg table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the metadata for an Iceberg table.</p>"
      }
    },
    "com.amazonaws.s3tables#IcebergSchema": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.amazonaws.s3tables#SchemaFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The schema fields for the table</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the schema for an Iceberg table.</p>"
      }
    },
    "com.amazonaws.s3tables#IcebergSnapshotManagementSettings": {
      "type": "structure",
      "members": {
        "minSnapshotsToKeep": {
          "target": "com.amazonaws.s3tables#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of snapshots to keep.</p>"
          }
        },
        "maxSnapshotAgeHours": {
          "target": "com.amazonaws.s3tables#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum age of a snapshot before it can be expired.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the snapshot management settings for an Iceberg table. The oldest snapshot expires when its age exceeds the <code>maxSnapshotAgeHours</code> and the total number of snapshots exceeds the value for the minimum number of snapshots to keep <code>minSnapshotsToKeep</code>.</p>"
      }
    },
    "com.amazonaws.s3tables#IcebergUnreferencedFileRemovalSettings": {
      "type": "structure",
      "members": {
        "unreferencedDays": {
          "target": "com.amazonaws.s3tables#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of days an object has to be unreferenced before it is marked as non-current.</p>"
          }
        },
        "nonCurrentDays": {
          "target": "com.amazonaws.s3tables#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of days an object has to be non-current before it is deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the unreferenced file removal settings for an Iceberg table bucket.</p>"
      }
    },
    "com.amazonaws.s3tables#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed due to an internal server error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.s3tables#JobStatus": {
      "type": "enum",
      "members": {
        "NOT_YET_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Not_Yet_Run"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Successful"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      }
    },
    "com.amazonaws.s3tables#ListNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#ListNamespacesRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#ListNamespacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the namespaces within a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-namespace.html\">Table namespaces</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:ListNamespaces</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/namespaces/{tableBucketARN}",
          "method": "GET"
        },
        "smithy.api#paginated": {
          "inputToken": "continuationToken",
          "outputToken": "continuationToken",
          "pageSize": "maxNamespaces",
          "items": "namespaces"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListNamespaces_AccessDeniedException",
            "params": {
              "tableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.s3tables#ListNamespacesLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.s3tables#ListNamespacesRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The prefix of the namespaces.</p>",
            "smithy.api#httpQuery": "prefix",
            "smithy.api#length": {
              "min": 1,
              "max": 255
            }
          }
        },
        "continuationToken": {
          "target": "com.amazonaws.s3tables#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> <code>ContinuationToken</code> indicates to Amazon S3 that the list is being continued on this bucket with a token. <code>ContinuationToken</code> is obfuscated and is not a real key. You can use this <code>ContinuationToken</code> for pagination of the list results.</p>",
            "smithy.api#httpQuery": "continuationToken"
          }
        },
        "maxNamespaces": {
          "target": "com.amazonaws.s3tables#ListNamespacesLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of namespaces to return in the list.</p>",
            "smithy.api#httpQuery": "maxNamespaces"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#ListNamespacesResponse": {
      "type": "structure",
      "members": {
        "namespaces": {
          "target": "com.amazonaws.s3tables#NamespaceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of namespaces.</p>",
            "smithy.api#required": {}
          }
        },
        "continuationToken": {
          "target": "com.amazonaws.s3tables#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ContinuationToken</code> for pagination of the list results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#ListTableBuckets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#ListTableBucketsRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#ListTableBucketsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists table buckets for your account. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-buckets.html\">S3 Table buckets</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:ListTableBuckets</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets",
          "method": "GET"
        },
        "smithy.api#paginated": {
          "inputToken": "continuationToken",
          "outputToken": "continuationToken",
          "pageSize": "maxBuckets",
          "items": "tableBuckets"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListTableBuckets_Success",
            "params": {},
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.s3tables#ListTableBucketsLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.s3tables#ListTableBucketsRequest": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The prefix of the table buckets.</p>",
            "smithy.api#httpQuery": "prefix",
            "smithy.api#length": {
              "min": 1,
              "max": 63
            }
          }
        },
        "continuationToken": {
          "target": "com.amazonaws.s3tables#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> <code>ContinuationToken</code> indicates to Amazon S3 that the list is being continued on this bucket with a token. <code>ContinuationToken</code> is obfuscated and is not a real key. You can use this <code>ContinuationToken</code> for pagination of the list results.</p>",
            "smithy.api#httpQuery": "continuationToken"
          }
        },
        "maxBuckets": {
          "target": "com.amazonaws.s3tables#ListTableBucketsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of table buckets to return in the list.</p>",
            "smithy.api#httpQuery": "maxBuckets"
          }
        },
        "type": {
          "target": "com.amazonaws.s3tables#TableBucketType",
          "traits": {
            "smithy.api#documentation": "<p>The type of table buckets to filter by in the list.</p>",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#ListTableBucketsResponse": {
      "type": "structure",
      "members": {
        "tableBuckets": {
          "target": "com.amazonaws.s3tables#TableBucketSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of table buckets.</p>",
            "smithy.api#required": {}
          }
        },
        "continuationToken": {
          "target": "com.amazonaws.s3tables#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>You can use this <code>ContinuationToken</code> for pagination of the list results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#ListTables": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#ListTablesRequest"
      },
      "output": {
        "target": "com.amazonaws.s3tables#ListTablesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List tables in the given table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-tables.html\">S3 Tables</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:ListTables</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/tables/{tableBucketARN}",
          "method": "GET"
        },
        "smithy.api#paginated": {
          "inputToken": "continuationToken",
          "outputToken": "continuationToken",
          "pageSize": "maxTables",
          "items": "tables"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListTables_AccessDeniedException",
            "params": {
              "tableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/does-not-exist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.s3tables#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.s3tables#ListTablesLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.s3tables#ListTablesRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the tables.</p>",
            "smithy.api#httpQuery": "namespace"
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The prefix of the tables.</p>",
            "smithy.api#httpQuery": "prefix",
            "smithy.api#length": {
              "min": 1,
              "max": 255
            }
          }
        },
        "continuationToken": {
          "target": "com.amazonaws.s3tables#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> <code>ContinuationToken</code> indicates to Amazon S3 that the list is being continued on this bucket with a token. <code>ContinuationToken</code> is obfuscated and is not a real key. You can use this <code>ContinuationToken</code> for pagination of the list results.</p>",
            "smithy.api#httpQuery": "continuationToken"
          }
        },
        "maxTables": {
          "target": "com.amazonaws.s3tables#ListTablesLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of tables to return.</p>",
            "smithy.api#httpQuery": "maxTables"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#ListTablesResponse": {
      "type": "structure",
      "members": {
        "tables": {
          "target": "com.amazonaws.s3tables#TableSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tables.</p>",
            "smithy.api#required": {}
          }
        },
        "continuationToken": {
          "target": "com.amazonaws.s3tables#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>You can use this <code>ContinuationToken</code> for pagination of the list results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.s3tables#MaintenanceStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.amazonaws.s3tables#MetadataLocation": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.s3tables#NamespaceId": {
      "type": "string"
    },
    "com.amazonaws.s3tables#NamespaceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3tables#NamespaceName"
      }
    },
    "com.amazonaws.s3tables#NamespaceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[0-9a-z_]*$"
      }
    },
    "com.amazonaws.s3tables#NamespaceResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.s3tables#CreateNamespace"
        },
        {
          "target": "com.amazonaws.s3tables#DeleteNamespace"
        },
        {
          "target": "com.amazonaws.s3tables#GetNamespace"
        },
        {
          "target": "com.amazonaws.s3tables#ListNamespaces"
        }
      ]
    },
    "com.amazonaws.s3tables#NamespaceSummary": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.amazonaws.s3tables#NamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the namespace was created at.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that created the namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.s3tables#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that owns the namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "namespaceId": {
          "target": "com.amazonaws.s3tables#NamespaceId",
          "traits": {
            "smithy.api#documentation": "<p>The system-assigned unique identifier for the namespace.</p>"
          }
        },
        "tableBucketId": {
          "target": "com.amazonaws.s3tables#TableBucketId",
          "traits": {
            "smithy.api#documentation": "<p>The system-assigned unique identifier for the table bucket that contains this namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a namespace.</p>"
      }
    },
    "com.amazonaws.s3tables#NamespaceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3tables#NamespaceSummary"
      }
    },
    "com.amazonaws.s3tables#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.s3tables#NotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.s3tables#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the specified resource could not be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.s3tables#OpenTableFormat": {
      "type": "enum",
      "members": {
        "ICEBERG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ICEBERG"
          }
        }
      }
    },
    "com.amazonaws.s3tables#PositiveInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 2147483647
        }
      }
    },
    "com.amazonaws.s3tables#PutTableBucketEncryption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#PutTableBucketEncryptionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets the encryption configuration for a table bucket.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:PutTableBucketEncryption</code> permission to use this operation.</p> <note> <p>If you choose SSE-KMS encryption you must grant the S3 Tables maintenance principal access to your KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-kms-permissions.html\">Permissions requirements for S3 Tables SSE-KMS encryption</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> </note> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/encryption",
          "method": "PUT",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#PutTableBucketEncryptionRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "encryptionConfiguration": {
          "target": "com.amazonaws.s3tables#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration to apply to the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#PutTableBucketMaintenanceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#PutTableBucketMaintenanceConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new maintenance configuration or replaces an existing maintenance configuration for a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-table-buckets-maintenance.html\">Amazon S3 table bucket maintenance</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:PutTableBucketMaintenanceConfiguration</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/maintenance/{type}",
          "method": "PUT",
          "code": 204
        }
      }
    },
    "com.amazonaws.s3tables#PutTableBucketMaintenanceConfigurationRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket associated with the maintenance configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.s3tables#TableBucketMaintenanceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the maintenance configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.s3tables#TableBucketMaintenanceConfigurationValue",
          "traits": {
            "smithy.api#documentation": "<p>Defines the values of the maintenance configuration for the table bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#PutTableBucketPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#PutTableBucketPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3tables#ConflictException"
        },
        {
          "target": "com.amazonaws.s3tables#ForbiddenException"
        },
        {
          "target": "com.amazonaws.s3tables#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.s3tables#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3tables#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new maintenance configuration or replaces an existing table bucket policy for a table bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-tables-bucket-policy.html#table-bucket-policy-add\">Adding a table bucket policy</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <dl> <dt>Permissions</dt> <dd> <p>You must have the <code>s3tables:PutTableBucketPolicy</code> permission to use this operation. </p> </dd> </dl>",
        "smithy.api#http": {
          "uri": "/buckets/{tableBucketARN}/policy",
          "method": "PUT",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.s3tables#PutTableBucketPolicyRequest": {
      "type": "structure",
      "members": {
        "tableBucketARN": {
          "target": "com.amazonaws.s3tables#TableBucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourcePolicy": {
          "target": "com.amazonaws.s3tables#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JSON</code> that defines the policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.s3tables#PutTableMaintenanceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3tables#PutTableMaintenanceConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3tables#BadRequestException"
        },
        {
[...]
