{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sagemaker.a2i.runtime#AmazonSageMakerA2IRuntime": {
      "type": "service",
      "version": "2019-11-07",
      "operations": [
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#DeleteHumanLoop"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#DescribeHumanLoop"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ListHumanLoops"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#StartHumanLoop"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#StopHumanLoop"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SageMaker A2I Runtime",
          "arnNamespace": "sagemaker",
          "cloudFormationName": "SageMakerA2IRuntime",
          "cloudTrailEventSource": "runtime.a2i.sagemaker.amazonaws.com"
        },
        "smithy.api#documentation": "<p>Amazon Augmented AI (Augmented AI) (Preview) is a service that adds human judgment to any machine learning application. Human reviewers can take over when an AI application can't evaluate data with a high degree of confidence.</p>\n         <p>From fraudulent bank transaction identification to document processing to image analysis, machine learning models can be trained to make decisions as well as or better than a human. Nevertheless, some decisions require contextual \n      interpretation, such as when you need to decide whether an image is appropriate for a given audience. Content moderation guidelines are nuanced and highly dependent on context, and they vary between countries.  \n      When trying to apply AI in these situations, you can be forced to choose between \"ML only\" systems with unacceptably high error rates or \"human only\" systems that are expensive and difficult to scale, and that slow down decision making.</p>\n         <p>This API reference includes information about API actions and data types you can use to interact with Augmented AI programmatically. </p>\n         <p>You can create a flow definition against the Augmented AI API. Provide the Amazon Resource Name (ARN) of a flow definition to integrate AI service APIs, such as <code>Textract.AnalyzeDocument</code> and <code>Rekognition.DetectModerationLabels</code>. \n      These AI services, in turn, invoke the <a>StartHumanLoop</a> API, which evaluates conditions under which humans will be invoked. If humans are required, Augmented AI creates a human loop. \n      Results of human work are available asynchronously in Amazon Simple Storage Service (Amazon S3). You can use Amazon CloudWatch Events to detect human work results.</p>\n         <p>You can find additional Augmented AI API documentation in the following reference guides: <a href=\"https://aws.amazon.com/rekognition/latest/dg/API_Reference.html\">Amazon Rekognition</a>, <a href=\"https://aws.amazon.com/sagemaker/latest/dg/API_Reference.html\">Amazon SageMaker</a>, and <a href=\"https://aws.amazon.com/textract/latest/dg/API_Reference.html\">Amazon Textract</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Augmented AI Runtime"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.sagemaker.a2i.runtime#ContentClassifier": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "FreeOfPersonallyIdentifiableInformation": {
            "name": "FREE_OF_PERSONALLY_IDENTIFIABLE_INFORMATION"
          },
          "FreeOfAdultContent": {
            "name": "FREE_OF_ADULT_CONTENT"
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#ContentClassifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#ContentClassifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#DeleteHumanLoop": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#DeleteHumanLoopRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#DeleteHumanLoopResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified human loop for a flow definition.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/human-loops/{HumanLoopName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#DeleteHumanLoopRequest": {
      "type": "structure",
      "members": {
        "HumanLoopName": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the human loop you want to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#DeleteHumanLoopResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.sagemaker.a2i.runtime#DescribeHumanLoop": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#DescribeHumanLoopRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#DescribeHumanLoopResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the specified human loop.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/human-loops/{HumanLoopName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#DescribeHumanLoopRequest": {
      "type": "structure",
      "members": {
        "HumanLoopName": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the human loop.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#DescribeHumanLoopResponse": {
      "type": "structure",
      "members": {
        "CreationTimestamp": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when Amazon Augmented AI created the human loop.</p>",
            "smithy.api#required": true
          }
        },
        "FailureCode": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#String",
          "traits": {
            "smithy.api#documentation": "<p>A failure code denoting a specific type of failure.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>"
          }
        },
        "FlowDefinitionArn": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#FlowDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
            "smithy.api#required": true
          }
        },
        "HumanLoopArn": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the human loop.</p>",
            "smithy.api#required": true
          }
        },
        "HumanLoopInput": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopInputContent",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the human loop input.</p>",
            "smithy.api#required": true
          }
        },
        "HumanLoopName": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the human loop.</p>",
            "smithy.api#required": true
          }
        },
        "HumanLoopOutput": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopOutputContent",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the output of the human loop.</p>"
          }
        },
        "HumanLoopStatus": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the human loop. Valid values:</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#FailureReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#FlowDefinitionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:flow-definition/.*"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanLoopActivationReason": {
      "type": "structure",
      "members": {
        "ConditionsMatched": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the specified conditions were matched to trigger the human loop.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about why a human loop was triggered. If at least one activation reason is evaluated to be true, the human loop is activated.</p>"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanLoopActivationResults": {
      "type": "structure",
      "members": {
        "HumanLoopActivationConditionsEvaluationResults": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#String",
          "traits": {
            "smithy.api#documentation": "<p>A copy of the human loop activation conditions of the flow definition, augmented with the results of evaluating those conditions on the input provided to the <code>StartHumanLoop</code> operation.</p>"
          }
        },
        "HumanLoopActivationReason": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopActivationReason",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about why a human loop was triggered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the corresponding flow definition's human loop activation condition evaluation. Null if <code>StartHumanLoop</code> was invoked directly.</p>"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanLoopArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:human-loop/.*"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanLoopInputContent": {
      "type": "structure",
      "members": {
        "InputContent": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#InputContent",
          "traits": {
            "smithy.api#documentation": "<p>Serialized input from the human loop.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the input.</p>"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanLoopName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-z0-9](-*[a-z0-9])*$"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanLoopOutputContent": {
      "type": "structure",
      "members": {
        "OutputS3Uri": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#String",
          "traits": {
            "smithy.api#documentation": "<p>The location of the Amazon S3 object where Amazon Augmented AI stores your human loop output. The output is stored at the following location: \n      <code>s3://S3OutputPath/HumanLoopName/CreationTime/output.json</code>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about where the human output will be stored.</p>"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanLoopStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "InProgress": {
            "name": "IN_PROGRESS"
          },
          "Failed": {
            "name": "FAILED"
          },
          "Completed": {
            "name": "COMPLETED"
          },
          "Stopped": {
            "name": "STOPPED"
          },
          "Stopping": {
            "name": "STOPPING"
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanLoopSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopSummary"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanLoopSummary": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When Amazon Augmented AI created the human loop.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why the human loop failed. A failure reason is returned only when the status of the human loop is <code>Failed</code>.</p>"
          }
        },
        "FlowDefinitionArn": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#FlowDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the flow definition.</p>"
          }
        },
        "HumanLoopName": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the human loop.</p>"
          }
        },
        "HumanLoopStatus": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the human loop. Valid values:</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about the human loop.</p>"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#HumanReviewDataAttributes": {
      "type": "structure",
      "members": {
        "ContentClassifiers": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ContentClassifiers",
          "traits": {
            "smithy.api#documentation": "<p>Declares that your content is free of personally identifiable information or adult content.\n      Amazon SageMaker may restrict the Amazon Mechanical Turk workers that can view your task based on this information.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of the data specified by the customer. Use these to describe the data to be labeled.</p>"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#InputContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4194304
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request could not be processed.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#ListHumanLoops": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#ListHumanLoopsRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#ListHumanLoopsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about human loops, given the specified parameters.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/human-loops",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#ListHumanLoopsRequest": {
      "type": "structure",
      "members": {
        "CreationTimeAfter": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The timestamp of the date when you want the human loops to begin. For example, <code>1551000000</code>.</p>",
            "smithy.api#httpQuery": "CreationTimeAfter"
          }
        },
        "CreationTimeBefore": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The timestamp of the date before which you want the human loops to begin. For example, <code>1550000000</code>.</p>",
            "smithy.api#httpQuery": "CreationTimeBefore"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#MaxResults",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "<p>The total number of items to return. If the total number of available items is more than the value specified in <code>MaxResults</code>, then a <code>NextToken</code> will be provided in the output that you can use to resume pagination.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to resume pagination.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>An optional value that specifies whether you want the results sorted in <code>Ascending</code> or <code>Descending</code> order.</p>",
            "smithy.api#httpQuery": "SortOrder"
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#ListHumanLoopsResponse": {
      "type": "structure",
      "members": {
        "HumanLoopSummaries": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopSummaries",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects containing information about the human loops.</p>",
            "smithy.api#required": true
          }
        },
        "NextToken": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to resume pagination.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We were unable to find the requested resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or request a service quota increase.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#SortOrder": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Ascending": {
            "name": "ASCENDING"
          },
          "Descending": {
            "name": "DESCENDING"
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#StartHumanLoop": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#StartHumanLoopRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#StartHumanLoopResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts a human loop, provided that at least one activation condition is met.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/human-loops",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#StartHumanLoopRequest": {
      "type": "structure",
      "members": {
        "DataAttributes": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanReviewDataAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the data specified by the customer.</p>"
          }
        },
        "FlowDefinitionArn": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#FlowDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
            "smithy.api#required": true
          }
        },
        "HumanLoopInput": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopInputContent",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the human loop.</p>",
            "smithy.api#required": true
          }
        },
        "HumanLoopName": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the human loop.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#StartHumanLoopResponse": {
      "type": "structure",
      "members": {
        "HumanLoopActivationResults": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopActivationResults",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the human loop activation.</p>"
          }
        },
        "HumanLoopArn": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the human loop.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#StopHumanLoop": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#StopHumanLoopRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemaker.a2i.runtime#StopHumanLoopResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemaker.a2i.runtime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops the specified human loop.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/human-loops/stop",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#StopHumanLoopRequest": {
      "type": "structure",
      "members": {
        "HumanLoopName": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#HumanLoopName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the human loop you want to stop.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#StopHumanLoopResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.sagemaker.a2i.runtime#String": {
      "type": "string"
    },
    "com.amazonaws.sagemaker.a2i.runtime#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request has exceeded the allowed amount of requests.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.sagemaker.a2i.runtime#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.sagemaker.a2i.runtime#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemaker.a2i.runtime#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request was not valid. Check the syntax and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
