{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sagemaker#Accept": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.sagemaker#ActionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:action/"
      }
    },
    "com.amazonaws.sagemaker#ActionSource": {
      "type": "structure",
      "members": {
        "SourceUri": {
          "target": "com.amazonaws.sagemaker#String2048",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the source.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceType": {
          "target": "com.amazonaws.sagemaker#String256",
          "traits": {
            "smithy.api#documentation": "<p>The type of the source.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.sagemaker#String256",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure describing the source of an action.</p>"
      }
    },
    "com.amazonaws.sagemaker#ActionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Unknown",
            "name": "UNKNOWN"
          },
          {
            "value": "InProgress",
            "name": "IN_PROGRESS"
          },
          {
            "value": "Completed",
            "name": "COMPLETED"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "Stopping",
            "name": "STOPPING"
          },
          {
            "value": "Stopped",
            "name": "STOPPED"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#ActionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#ActionSummary"
      }
    },
    "com.amazonaws.sagemaker#ActionSummary": {
      "type": "structure",
      "members": {
        "ActionArn": {
          "target": "com.amazonaws.sagemaker#ActionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the action.</p>"
          }
        },
        "ActionName": {
          "target": "com.amazonaws.sagemaker#ExperimentEntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.sagemaker#ActionSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the action.</p>"
          }
        },
        "ActionType": {
          "target": "com.amazonaws.sagemaker#String64",
          "traits": {
            "smithy.api#documentation": "<p>The type of the action.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemaker#ActionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the action.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the action was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the action was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the properties of an <i>action</i>. An action represents an action\n        or activity. Some examples are a workflow step and a model deployment. Generally, an\n        action involves at least one input artifact or output artifact.</p>"
      }
    },
    "com.amazonaws.sagemaker#AddAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker#AddAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemaker#AddAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemaker#ResourceLimitExceeded"
        },
        {
          "target": "com.amazonaws.sagemaker#ResourceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <i>association</i> between the source and the destination. A\n        source can be associated with multiple destinations, and a destination can be associated\n        with multiple sources. An association is a lineage tracking entity. For more information, see\n        <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/lineage-tracking.html\">Amazon SageMaker\n          ML Lineage Tracking</a>.</p>"
      }
    },
    "com.amazonaws.sagemaker#AddAssociationRequest": {
      "type": "structure",
      "members": {
        "SourceArn": {
          "target": "com.amazonaws.sagemaker#AssociationEntityArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationArn": {
          "target": "com.amazonaws.sagemaker#AssociationEntityArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "AssociationType": {
          "target": "com.amazonaws.sagemaker#AssociationEdgeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association. The following are suggested uses for each type. Amazon SageMaker\n        places no restrictions on their use.</p>\n         <ul>\n            <li>\n               <p>ContributedTo - The source contributed to the destination or had a part in\n            enabling the destination. For example, the training data contributed to the training\n            job.</p>\n            </li>\n            <li>\n               <p>AssociatedWith - The source is connected to the destination. For example, an\n            approval workflow is associated with a model deployment.</p>\n            </li>\n            <li>\n               <p>DerivedFrom - The destination is a modification of the source. For example, a digest\n            output of a channel input for a processing job is derived from the original inputs.</p>\n            </li>\n            <li>\n               <p>Produced - The source generated the destination. For example, a training job\n            produced a model artifact.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AddAssociationResponse": {
      "type": "structure",
      "members": {
        "SourceArn": {
          "target": "com.amazonaws.sagemaker#AssociationEntityArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source.</p>"
          }
        },
        "DestinationArn": {
          "target": "com.amazonaws.sagemaker#AssociationEntityArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker#AddTagsInput"
      },
      "output": {
        "target": "com.amazonaws.sagemaker#AddTagsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Adds or overwrites one or more tags for the specified Amazon SageMaker resource. You can add\n            tags to notebook instances, training jobs, hyperparameter tuning jobs, batch transform\n            jobs, models, labeling jobs, work teams, endpoint configurations, and\n            endpoints.</p>\n        <p>Each tag consists of a key and an optional value. Tag keys must be unique per\n            resource. For more information about tags, see For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">Amazon Web Services\n                Tagging Strategies</a>.</p>\n        <note>\n            <p>Tags that you add to a hyperparameter tuning job by calling this API are also\n                added to any training jobs that the hyperparameter tuning job launches after you\n                call this API, but not to training jobs that the hyperparameter tuning job launched\n                before you called this API. To make sure that the tags associated with a\n                hyperparameter tuning job are also added to all training jobs that the\n                hyperparameter tuning job launches, add the tags when you first create the tuning\n                job by specifying them in the <code>Tags</code> parameter of <a>CreateHyperParameterTuningJob</a>\n            </p>\n        </note>\n        <note>\n            <p>Tags that you add to a SageMaker Studio Domain or User Profile by calling this API\n                are also added to any Apps that the Domain or User Profile launches after you call\n                this API, but not to Apps that the Domain or User Profile launched before you called\n                this API. To make sure that the tags associated with a Domain or User Profile are\n                also added to all Apps that the Domain or User Profile launches, add the tags when\n                you first create the Domain or User Profile by specifying them in the\n                    <code>Tags</code> parameter of <a>CreateDomain</a> or <a>CreateUserProfile</a>.</p>\n        </note>"
      }
    },
    "com.amazonaws.sagemaker#AddTagsInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.sagemaker#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that you want to tag.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.sagemaker#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs. You can use tags to categorize your Amazon Web Services resources in\n            different ways, for example, by purpose, owner, or environment. For more information,\n            see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services\n                Resources</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AddTagsOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.sagemaker#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with the Amazon SageMaker resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AdditionalCodeRepositoryNamesOrUrls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#CodeRepositoryNameOrUrl"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.sagemaker#AgentVersion": {
      "type": "structure",
      "members": {
        "Version": {
          "target": "com.amazonaws.sagemaker#EdgeVersion",
          "traits": {
            "smithy.api#documentation": "<p>Version of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "AgentCount": {
          "target": "com.amazonaws.sagemaker#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of Edge Manager agents.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Edge Manager agent version.</p>"
      }
    },
    "com.amazonaws.sagemaker#AgentVersions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AgentVersion"
      }
    },
    "com.amazonaws.sagemaker#Alarm": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.sagemaker#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This API is not supported.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlarmList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#Alarm"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.sagemaker#AlarmName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?!\\s*$).+$"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:algorithm/"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmImage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Name",
            "name": "NAME"
          },
          {
            "value": "CreationTime",
            "name": "CREATION_TIME"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSpecification": {
      "type": "structure",
      "members": {
        "TrainingImage": {
          "target": "com.amazonaws.sagemaker#AlgorithmImage",
          "traits": {
            "smithy.api#documentation": "<p>The registry path of the Docker image\n             that contains the training algorithm.\n            For information about docker registry paths for built-in algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-algo-docker-registry-paths.html\">Algorithms\n                Provided by Amazon SageMaker: Common Parameters</a>. Amazon SageMaker supports both\n                <code>registry/repository[:tag]</code> and <code>registry/repository[@digest]</code>\n            image path formats. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon\n                SageMaker</a>.</p>"
          }
        },
        "AlgorithmName": {
          "target": "com.amazonaws.sagemaker#ArnOrName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm resource to use for the training job. This must be an\n            algorithm resource that you created or subscribe to on Amazon Web Services Marketplace. If you specify a value for\n            this parameter, you can't specify a value for <code>TrainingImage</code>.</p>"
          }
        },
        "TrainingInputMode": {
          "target": "com.amazonaws.sagemaker#TrainingInputMode",
          "traits": {
            "smithy.api#documentation": "<p>The input mode that the algorithm supports. For the input modes that Amazon SageMaker\n            algorithms support, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. If an algorithm supports the <code>File</code> input mode, Amazon SageMaker\n            downloads the training data from S3 to the provisioned ML storage Volume, and mounts the\n            directory to docker volume for training container. If an algorithm supports the\n                <code>Pipe</code> input mode, Amazon SageMaker streams data directly from S3 to the container. </p>\n        <p> In File mode, make sure you provision ML storage volume with sufficient capacity\n            to accommodate the data download from S3. In addition to the training data, the ML\n            storage volume also stores the output model. The algorithm container use ML storage\n            volume to also store intermediate information, if any. </p>\n        <p> For distributed algorithms using File mode, training data is distributed\n            uniformly, and your training duration is predictable if the input data objects size is\n            approximately same. Amazon SageMaker does not split the files any further for model training. If the\n            object sizes are skewed, training won't be optimal as the data distribution is also\n            skewed where one host in a training cluster is overloaded, thus becoming bottleneck in\n            training. </p>",
            "smithy.api#required": {}
          }
        },
        "MetricDefinitions": {
          "target": "com.amazonaws.sagemaker#MetricDefinitionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of metric definition objects. Each object specifies the metric name and regular\n            expressions used to parse algorithm logs. Amazon SageMaker publishes each metric to Amazon CloudWatch.</p>"
          }
        },
        "EnableSageMakerMetricsTimeSeries": {
          "target": "com.amazonaws.sagemaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>To generate and save time-series metrics during training, set to <code>true</code>.\n            The default is <code>false</code> and time-series metrics aren't generated except in the\n            following cases:</p>\n        <ul>\n            <li>\n                <p>You use one of the Amazon SageMaker built-in algorithms</p>\n            </li>\n            <li>\n                <p>You use one of the following <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/pre-built-containers-frameworks-deep-learning.html\">Prebuilt Amazon SageMaker Docker Images</a>:</p>\n                <ul>\n                  <li>\n                        <p>Tensorflow (version >= 1.15)</p>\n                    </li>\n                  <li>\n                        <p>MXNet (version >= 1.6)</p>\n                    </li>\n                  <li>\n                        <p>PyTorch (version >= 1.3)</p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>You specify at least one <a>MetricDefinition</a>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the training algorithm to use in a <a>CreateTrainingJob</a>\n            request.</p>\n        <p>For more information about algorithms provided by Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. For\n            information about using your own algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon\n                SageMaker</a>. </p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Pending",
            "name": "PENDING"
          },
          {
            "value": "InProgress",
            "name": "IN_PROGRESS"
          },
          {
            "value": "Completed",
            "name": "COMPLETED"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "Deleting",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatusDetails": {
      "type": "structure",
      "members": {
        "ValidationStatuses": {
          "target": "com.amazonaws.sagemaker#AlgorithmStatusItemList",
          "traits": {
            "smithy.api#documentation": "<p>The status of algorithm validation.</p>"
          }
        },
        "ImageScanStatuses": {
          "target": "com.amazonaws.sagemaker#AlgorithmStatusItemList",
          "traits": {
            "smithy.api#documentation": "<p>The status of the scan of the algorithm's Docker image container.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the validation and image scan statuses of the algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatusItem": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm for which the overall status is being reported.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemaker#DetailedAlgorithmStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status.</p>",
            "smithy.api#required": {}
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.sagemaker#String",
          "traits": {
            "smithy.api#documentation": "<p>if the overall status is <code>Failed</code>, the reason for the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the overall status of an algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatusItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AlgorithmStatusItem"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSummary": {
      "type": "structure",
      "members": {
        "AlgorithmName": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm that is described by the summary.</p>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmArn": {
          "target": "com.amazonaws.sagemaker#AlgorithmArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmDescription": {
          "target": "com.amazonaws.sagemaker#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the algorithm.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the algorithm was created.</p>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmStatus": {
          "target": "com.amazonaws.sagemaker#AlgorithmStatus",
          "traits": {
            "smithy.api#documentation": "<p>The overall status of the algorithm.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about an algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AlgorithmSummary"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmValidationProfile": {
      "type": "structure",
      "members": {
        "ProfileName": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile for the algorithm. The name must have 1 to 63 characters.\n            Valid characters are a-z, A-Z, 0-9, and - (hyphen).</p>",
            "smithy.api#required": {}
          }
        },
        "TrainingJobDefinition": {
          "target": "com.amazonaws.sagemaker#TrainingJobDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The <code>TrainingJobDefinition</code> object that describes the training job that\n            Amazon SageMaker runs to validate your algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "TransformJobDefinition": {
          "target": "com.amazonaws.sagemaker#TransformJobDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The <code>TransformJobDefinition</code> object that describes the transform job that\n            Amazon SageMaker runs to validate your algorithm.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a training job and a batch transform job that Amazon SageMaker runs to validate your\n            algorithm.</p>\n        <p>The data provided in the validation profile is made available to your buyers on Amazon Web Services\n            Marketplace.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmValidationProfiles": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AlgorithmValidationProfile"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.sagemaker#AlgorithmValidationSpecification": {
      "type": "structure",
      "members": {
        "ValidationRole": {
          "target": "com.amazonaws.sagemaker#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM roles that Amazon SageMaker uses to run the training jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "ValidationProfiles": {
          "target": "com.amazonaws.sagemaker#AlgorithmValidationProfiles",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>AlgorithmValidationProfile</code> objects, each of which specifies a\n            training job and batch transform job that Amazon SageMaker runs to validate your algorithm.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies configurations for one or more training jobs that Amazon SageMaker runs to test the\n            algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AnnotationConsolidationConfig": {
      "type": "structure",
      "members": {
        "AnnotationConsolidationLambdaArn": {
          "target": "com.amazonaws.sagemaker#LambdaFunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a Lambda function implements the logic for <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-annotation-consolidation.html\">annotation consolidation</a> and to process output data.</p>\n        <p>This parameter is required for all labeling jobs. For <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-task-types.html\">built-in task types</a>, use one\n            of the following Amazon SageMaker Ground Truth Lambda function ARNs for\n                <code>AnnotationConsolidationLambdaArn</code>. For custom labeling workflows, see\n                <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-custom-templates-step3.html#sms-custom-templates-step3-postlambda\">Post-annotation Lambda</a>. </p>\n\n        <p>\n            <b>Bounding box</b> - Finds the most similar boxes from\n            different workers based on the Jaccard index of the boxes.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-BoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n         </ul>\n        <p>\n            <b>Image classification</b> - Uses a variant of the\n            Expectation Maximization approach to estimate the true class of an image based on\n            annotations from individual workers.</p>\n        <ul>\n            <li>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n         </ul>\n        <p>\n            <b>Multi-label image classification</b> - Uses a variant of\n            the Expectation Maximization approach to estimate the true classes of an image based on\n            annotations from individual workers.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-ImageMultiClassMultiLabel</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Semantic segmentation</b> - Treats each pixel in an image\n            as a multi-class classification and treats pixel annotations from workers as \"votes\" for\n            the correct label.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-SemanticSegmentation</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Text classification</b> - Uses a variant of the\n            Expectation Maximization approach to estimate the true class of text based on\n            annotations from individual workers.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-TextMultiClass</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Multi-label text classification</b> - Uses a variant of\n            the Expectation Maximization approach to estimate the true classes of text based on\n            annotations from individual workers.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-TextMultiClassMultiLabel</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Named entity recognition</b> - Groups similar selections\n            and calculates aggregate boundaries, resolving to most-assigned label.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-NamedEntityRecognition</code>\n               </p>\n            </li>\n         </ul>\n        \n        \n        \n        \n        \n        <p>\n            <b>Video Classification</b> - Use this task type when you need workers to classify videos using\n            predefined labels that you specify. Workers are shown videos and are asked to choose one\n            label for each video.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VideoMultiClass</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Video Frame Object Detection</b> - Use this task type to\n            have workers identify and locate objects in a sequence of video frames (images extracted\n            from a video) using bounding boxes. For example, you can use this task to ask workers to\n            identify and localize various objects in a series of video frames, such as cars, bikes,\n            and pedestrians.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VideoObjectDetection</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Video Frame Object Tracking</b> - Use this task type to\n            have workers track the movement of objects in a sequence of video frames (images\n            extracted from a video) using bounding boxes. For example, you can use this task to ask\n            workers to track the movement of objects, such as cars, bikes, and pedestrians. </p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VideoObjectTracking</code>\n               </p>\n            </li>\n         </ul>\n        \n        \n        <p>\n            <b>3D Point Cloud Object Detection</b> - Use this task type\n            when you want workers to classify objects in a 3D point cloud by drawing 3D cuboids\n            around objects. For example, you can use this task type to ask workers to identify\n            different types of objects in a point cloud, such as cars, bikes, and\n            pedestrians.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>3D Point Cloud Object Tracking</b> - Use this task type\n            when you want workers to draw 3D cuboids around objects that appear in a sequence of 3D\n            point cloud frames. For example, you can use this task type to ask workers to track the\n            movement of vehicles across multiple point cloud frames. </p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>3D Point Cloud Semantic Segmentation</b> - Use this task\n            type when you want workers to create a point-level semantic segmentation masks by\n            painting objects in a 3D point cloud using different colors where each color is assigned\n            to one of the classes you specify.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n         </ul>\n        \n        \n\n        <p>\n            <b>Use the following ARNs for Label Verification and Adjustment Jobs</b>\n         </p>\n        <p>Use label verification and adjustment jobs to review and adjust labels. To learn more,\n            see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-verification-data.html\">Verify and Adjust Labels </a>.</p>\n        \n        <p>\n            <b>Semantic Segmentation Adjustment</b> - Treats each pixel\n            in an image as a multi-class classification and treats pixel adjusted annotations from\n            workers as \"votes\" for the correct label.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentSemanticSegmentation</code>\n               </p>\n            </li>\n         </ul>\n        \n        <p>\n            <b>Semantic Segmentation Verification</b> - Uses a variant\n            of the Expectation Maximization approach to estimate the true class of verification\n            judgment for semantic segmentation labels based on annotations from individual\n            workers.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VerificationSemanticSegmentation</code>\n               </p>\n            </li>\n         </ul>\n        \n        <p>\n            <b>Bounding Box Adjustment</b> - Finds the most similar\n            boxes from different workers based on the Jaccard index of the adjusted\n            annotations.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentBoundingBox</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Bounding Box Verification</b> - Uses a variant of the\n            Expectation Maximization approach to estimate the true class of verification judgement\n            for bounding box labels based on annotations from individual workers.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VerificationBoundingBox</code>\n               </p>\n            </li>\n         </ul>\n        \n        \n        \n        <p>\n            <b>Video Frame Object Detection Adjustment</b> - \n            Use this task type when you want workers to adjust bounding boxes that workers have added \n            to video frames to classify and localize objects in a sequence of video frames.</p>\n\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentVideoObjectDetection</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Video Frame Object Tracking Adjustment</b> - \n            Use this task type when you want workers to adjust bounding boxes that workers have added \n            to video frames to track object movement across a sequence of video frames.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentVideoObjectTracking</code>\n               </p>\n            </li>\n         </ul>\n        \n        \n        \n        <p>\n            <b>3D Point Cloud Object Detection Adjustment</b> - Use this\n            task type when you want workers to adjust 3D cuboids around objects in a 3D point cloud. </p>\n        <ul>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-Adjustment3DPointCloudObjectDetection</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>3D Point Cloud Object Tracking Adjustment</b> - Use this\n            task type when you want workers to adjust 3D cuboids around objects that appear in a\n            sequence of 3D point cloud frames.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-Adjustment3DPointCloudObjectTracking</code>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>3D Point Cloud Semantic Segmentation Adjustment</b> - Use this task\n            type when you want workers to adjust a point-level semantic segmentation masks using a paint tool.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures how labels are consolidated across human workers and processes output data.\n         </p>"
      }
    },
    "com.amazonaws.sagemaker#AppArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:app/"
      }
    },
    "com.amazonaws.sagemaker#AppDetails": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.sagemaker#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The domain ID.</p>"
          }
        },
        "UserProfileName": {
          "target": "com.amazonaws.sagemaker#UserProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The user profile name.</p>"
          }
        },
        "AppType": {
          "target": "com.amazonaws.sagemaker#AppType",
          "traits": {
            "smithy.api#documentation": "<p>The type of app.</p>"
          }
        },
        "AppName": {
          "target": "com.amazonaws.sagemaker#AppName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the app.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemaker#AppStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an Amazon SageMaker app.</p>"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:app-image-config/"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigDetails": {
      "type": "structure",
      "members": {
        "AppImageConfigArn": {
          "target": "com.amazonaws.sagemaker#AppImageConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AppImageConfig.</p>"
          }
        },
        "AppImageConfigName": {
          "target": "com.amazonaws.sagemaker#AppImageConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AppImageConfig. Must be unique to your account.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the AppImageConfig was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the AppImageConfig was last modified.</p>"
          }
        },
        "KernelGatewayImageConfig": {
          "target": "com.amazonaws.sagemaker#KernelGatewayImageConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the file system and kernels in the SageMaker image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for running a SageMaker image as a KernelGateway app.</p>"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AppImageConfigDetails"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,62}$"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigSortKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CreationTime",
            "name": "CreationTime"
          },
          {
            "value": "LastModifiedTime",
            "name": "LastModifiedTime"
          },
          {
            "value": "Name",
            "name": "Name"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AppInstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "system",
            "name": "SYSTEM"
          },
          {
            "value": "ml.t3.micro",
            "name": "ML_T3_MICRO"
          },
          {
            "value": "ml.t3.small",
            "name": "ML_T3_SMALL"
          },
          {
            "value": "ml.t3.medium",
            "name": "ML_T3_MEDIUM"
          },
          {
            "value": "ml.t3.large",
            "name": "ML_T3_LARGE"
          },
          {
            "value": "ml.t3.xlarge",
            "name": "ML_T3_XLARGE"
          },
          {
            "value": "ml.t3.2xlarge",
            "name": "ML_T3_2XLARGE"
          },
          {
            "value": "ml.m5.large",
            "name": "ML_M5_LARGE"
          },
          {
            "value": "ml.m5.xlarge",
            "name": "ML_M5_XLARGE"
          },
          {
            "value": "ml.m5.2xlarge",
            "name": "ML_M5_2XLARGE"
          },
          {
            "value": "ml.m5.4xlarge",
            "name": "ML_M5_4XLARGE"
          },
          {
            "value": "ml.m5.8xlarge",
            "name": "ML_M5_8XLARGE"
          },
          {
            "value": "ml.m5.12xlarge",
            "name": "ML_M5_12XLARGE"
          },
          {
            "value": "ml.m5.16xlarge",
            "name": "ML_M5_16XLARGE"
          },
          {
            "value": "ml.m5.24xlarge",
            "name": "ML_M5_24XLARGE"
          },
          {
            "value": "ml.m5d.large",
            "name": "ML_M5D_LARGE"
          },
          {
            "value": "ml.m5d.xlarge",
            "name": "ML_M5D_XLARGE"
          },
          {
            "value": "ml.m5d.2xlarge",
            "name": "ML_M5D_2XLARGE"
          },
          {
            "value": "ml.m5d.4xlarge",
            "name": "ML_M5D_4XLARGE"
          },
          {
            "value": "ml.m5d.8xlarge",
            "name": "ML_M5D_8XLARGE"
          },
          {
            "value": "ml.m5d.12xlarge",
            "name": "ML_M5D_12XLARGE"
          },
          {
            "value": "ml.m5d.16xlarge",
            "name": "ML_M5D_16XLARGE"
          },
          {
            "value": "ml.m5d.24xlarge",
            "name": "ML_M5D_24XLARGE"
          },
          {
            "value": "ml.c5.large",
            "name": "ML_C5_LARGE"
          },
          {
            "value": "ml.c5.xlarge",
            "name": "ML_C5_XLARGE"
          },
          {
            "value": "ml.c5.2xlarge",
            "name": "ML_C5_2XLARGE"
          },
          {
            "value": "ml.c5.4xlarge",
            "name": "ML_C5_4XLARGE"
          },
          {
            "value": "ml.c5.9xlarge",
            "name": "ML_C5_9XLARGE"
          },
          {
            "value": "ml.c5.12xlarge",
            "name": "ML_C5_12XLARGE"
          },
          {
            "value": "ml.c5.18xlarge",
            "name": "ML_C5_18XLARGE"
          },
          {
            "value": "ml.c5.24xlarge",
            "name": "ML_C5_24XLARGE"
          },
          {
            "value": "ml.p3.2xlarge",
            "name": "ML_P3_2XLARGE"
          },
          {
            "value": "ml.p3.8xlarge",
            "name": "ML_P3_8XLARGE"
          },
          {
            "value": "ml.p3.16xlarge",
            "name": "ML_P3_16XLARGE"
          },
          {
            "value": "ml.p3dn.24xlarge",
            "name": "ML_P3DN_24XLARGE"
          },
          {
            "value": "ml.g4dn.xlarge",
            "name": "ML_G4DN_XLARGE"
          },
          {
            "value": "ml.g4dn.2xlarge",
            "name": "ML_G4DN_2XLARGE"
          },
          {
            "value": "ml.g4dn.4xlarge",
            "name": "ML_G4DN_4XLARGE"
          },
          {
            "value": "ml.g4dn.8xlarge",
            "name": "ML_G4DN_8XLARGE"
          },
          {
            "value": "ml.g4dn.12xlarge",
            "name": "ML_G4DN_12XLARGE"
          },
          {
            "value": "ml.g4dn.16xlarge",
            "name": "ML_G4DN_16XLARGE"
          },
          {
            "value": "ml.r5.large",
            "name": "ML_R5_LARGE"
          },
          {
            "value": "ml.r5.xlarge",
            "name": "ML_R5_XLARGE"
          },
          {
            "value": "ml.r5.2xlarge",
            "name": "ML_R5_2XLARGE"
          },
          {
            "value": "ml.r5.4xlarge",
            "name": "ML_R5_4XLARGE"
          },
          {
            "value": "ml.r5.8xlarge",
            "name": "ML_R5_8XLARGE"
          },
          {
            "value": "ml.r5.12xlarge",
            "name": "ML_R5_12XLARGE"
          },
          {
            "value": "ml.r5.16xlarge",
            "name": "ML_R5_16XLARGE"
          },
          {
            "value": "ml.r5.24xlarge",
            "name": "ML_R5_24XLARGE"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AppList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AppDetails"
      }
    },
    "com.amazonaws.sagemaker#AppManaged": {
      "type": "boolean"
    },
    "com.amazonaws.sagemaker#AppName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,62}$"
      }
    },
    "com.amazonaws.sagemaker#AppNetworkAccessType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PublicInternetOnly",
            "name": "PublicInternetOnly"
          },
          {
            "value": "VpcOnly",
            "name": "VpcOnly"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AppSortKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CreationTime",
            "name": "CreationTime"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AppSpecification": {
      "type": "structure",
      "members": {
        "ImageUri": {
          "target": "com.amazonaws.sagemaker#ImageUri",
          "traits": {
            "smithy.api#documentation": "<p>The container image to be run by the processing job.</p>",
            "smithy.api#required": {}
          }
        },
        "ContainerEntrypoint": {
          "target": "com.amazonaws.sagemaker#ContainerEntrypoint",
          "traits": {
            "smithy.api#documentation": "<p>The entrypoint for a container used to run a processing job.</p>"
          }
        },
        "ContainerArguments": {
          "target": "com.amazonaws.sagemaker#ContainerArguments",
          "traits": {
            "smithy.api#documentation": "<p>The arguments for a container used to run a processing job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration to run a processing job in a specified container image.</p>"
      }
    },
    "com.amazonaws.sagemaker#AppStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Deleted",
            "name": "Deleted"
          },
          {
            "value": "Deleting",
            "name": "Deleting"
          },
          {
            "value": "Failed",
            "name": "Failed"
          },
          {
            "value": "InService",
            "name": "InService"
          },
          {
            "value": "Pending",
            "name": "Pending"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AppType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "JupyterServer",
            "name": "JupyterServer"
          },
          {
            "value": "KernelGateway",
            "name": "KernelGateway"
          },
          {
            "value": "TensorBoard",
            "name": "TensorBoard"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#ApprovalDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#ArnOrName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 170
        },
        "smithy.api#pattern": "^(arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:[a-z\\-]*\\/)?([a-zA-Z0-9]([a-zA-Z0-9-]){0,62})(?<!-)$"
      }
    },
    "com.amazonaws.sagemaker#ArtifactArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:artifact/"
      }
    },
    "com.amazonaws.sagemaker#ArtifactDigest": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\w:]+$"
      }
    },
    "com.amazonaws.sagemaker#ArtifactSource": {
      "type": "structure",
      "members": {
        "SourceUri": {
          "target": "com.amazonaws.sagemaker#String2048",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the source.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceTypes": {
          "target": "com.amazonaws.sagemaker#ArtifactSourceTypes",
          "traits": {
            "smithy.api#documentation": "<p>A list of source types.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure describing the source of an artifact.</p>"
      }
    },
    "com.amazonaws.sagemaker#ArtifactSourceIdType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MD5Hash",
[...]
