{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.sagemakergeospatial#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.sagemakergeospatial#AlgorithmNameCloudRemoval": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INTERPOLATION",
            "name": "INTERPOLATION",
            "documentation": "INTERPOLATION"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#AlgorithmNameGeoMosaic": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NEAR",
            "name": "NEAR",
            "documentation": "NEAR"
          },
          {
            "value": "BILINEAR",
            "name": "BILINEAR",
            "documentation": "BILINEAR"
          },
          {
            "value": "CUBIC",
            "name": "CUBIC",
            "documentation": "CUBIC"
          },
          {
            "value": "CUBICSPLINE",
            "name": "CUBICSPLINE",
            "documentation": "CUBICSPLINE"
          },
          {
            "value": "LANCZOS",
            "name": "LANCZOS",
            "documentation": "LANCZOS"
          },
          {
            "value": "AVERAGE",
            "name": "AVERAGE",
            "documentation": "AVERAGE"
          },
          {
            "value": "RMS",
            "name": "RMS",
            "documentation": "RMS"
          },
          {
            "value": "MODE",
            "name": "MODE",
            "documentation": "MODE"
          },
          {
            "value": "MAX",
            "name": "MAX",
            "documentation": "MAX"
          },
          {
            "value": "MIN",
            "name": "MIN",
            "documentation": "MIN"
          },
          {
            "value": "MED",
            "name": "MED",
            "documentation": "MED"
          },
          {
            "value": "Q1",
            "name": "Q1",
            "documentation": "Q1"
          },
          {
            "value": "Q3",
            "name": "Q3",
            "documentation": "Q3"
          },
          {
            "value": "SUM",
            "name": "SUM",
            "documentation": "SUM"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#AlgorithmNameResampling": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NEAR",
            "name": "NEAR",
            "documentation": "NEAR"
          },
          {
            "value": "BILINEAR",
            "name": "BILINEAR",
            "documentation": "BILINEAR"
          },
          {
            "value": "CUBIC",
            "name": "CUBIC",
            "documentation": "CUBIC"
          },
          {
            "value": "CUBICSPLINE",
            "name": "CUBICSPLINE",
            "documentation": "CUBICSPLINE"
          },
          {
            "value": "LANCZOS",
            "name": "LANCZOS",
            "documentation": "LANCZOS"
          },
          {
            "value": "AVERAGE",
            "name": "AVERAGE",
            "documentation": "AVERAGE"
          },
          {
            "value": "RMS",
            "name": "RMS",
            "documentation": "RMS"
          },
          {
            "value": "MODE",
            "name": "MODE",
            "documentation": "MODE"
          },
          {
            "value": "MAX",
            "name": "MAX",
            "documentation": "MAX"
          },
          {
            "value": "MIN",
            "name": "MIN",
            "documentation": "MIN"
          },
          {
            "value": "MED",
            "name": "MED",
            "documentation": "MED"
          },
          {
            "value": "Q1",
            "name": "Q1",
            "documentation": "Q1"
          },
          {
            "value": "Q3",
            "name": "Q3",
            "documentation": "Q3"
          },
          {
            "value": "SUM",
            "name": "SUM",
            "documentation": "SUM"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#AreaOfInterest": {
      "type": "union",
      "members": {
        "AreaOfInterestGeometry": {
          "target": "com.amazonaws.sagemakergeospatial#AreaOfInterestGeometry",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#AreaOfInterestGeometry": {
      "type": "union",
      "members": {
        "PolygonGeometry": {
          "target": "com.amazonaws.sagemakergeospatial#PolygonGeometryInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "MultiPolygonGeometry": {
          "target": "com.amazonaws.sagemakergeospatial#MultiPolygonGeometryInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#AssetValue": {
      "type": "structure",
      "members": {
        "Href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#AssetsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.sagemakergeospatial#AssetValue"
      }
    },
    "com.amazonaws.sagemakergeospatial#BandMathConfigInput": {
      "type": "structure",
      "members": {
        "PredefinedIndices": {
          "target": "com.amazonaws.sagemakergeospatial#StringListInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "CustomIndices": {
          "target": "com.amazonaws.sagemakergeospatial#CustomIndicesInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#BinaryFile": {
      "type": "blob",
      "traits": {
        "smithy.api#mediaType": "application/x-binary",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#CloudMaskingConfigInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#CloudRemovalConfigInput": {
      "type": "structure",
      "members": {
        "AlgorithmName": {
          "target": "com.amazonaws.sagemakergeospatial#AlgorithmNameCloudRemoval",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm used for cloud removal.</p>"
          }
        },
        "InterpolationValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The interpolation value you provide for cloud removal.</p>"
          }
        },
        "TargetBands": {
          "target": "com.amazonaws.sagemakergeospatial#StringListInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUALS",
            "name": "EQUALS",
            "documentation": "EQUALS"
          },
          {
            "value": "NOT_EQUALS",
            "name": "NOT_EQUALS",
            "documentation": "NOT_EQUALS"
          },
          {
            "value": "STARTS_WITH",
            "name": "STARTS_WITH",
            "documentation": "STARTS_WITH"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.sagemakergeospatial#CustomIndicesInput": {
      "type": "structure",
      "members": {
        "Operations": {
          "target": "com.amazonaws.sagemakergeospatial#OperationsListInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#DataCollectionArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-z-]{0,12}:sagemaker-geospatial:[a-z0-9-]{1,25}:[0-9]{12}:raster-data-collection/(public|premium|user)/[a-z0-9]{12,}$"
      }
    },
    "com.amazonaws.sagemakergeospatial#DataCollectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PUBLIC",
            "name": "PUBLIC",
            "documentation": "PUBLIC"
          },
          {
            "value": "PREMIUM",
            "name": "PREMIUM",
            "documentation": "PREMIUM"
          },
          {
            "value": "USER",
            "name": "USER",
            "documentation": "USER"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#DataCollectionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#RasterDataCollectionMetadata"
      }
    },
    "com.amazonaws.sagemakergeospatial#DeleteEarthObservationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#DeleteEarthObservationJobInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#DeleteEarthObservationJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ConflictException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to delete an Earth Observation job.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/earth-observation-jobs/{Arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#DeleteEarthObservationJobInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Earth Observation job being deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#DeleteEarthObservationJobOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#DeleteVectorEnrichmentJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#DeleteVectorEnrichmentJobInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#DeleteVectorEnrichmentJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ConflictException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to delete a Vector Enrichment job.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/vector-enrichment-jobs/{Arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#DeleteVectorEnrichmentJobInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Vector Enrichment job being deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#DeleteVectorEnrichmentJobOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#EarthObservationJob": {
      "type": "resource",
      "identifiers": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobArn"
        }
      },
      "create": {
        "target": "com.amazonaws.sagemakergeospatial#StartEarthObservationJob"
      },
      "read": {
        "target": "com.amazonaws.sagemakergeospatial#GetEarthObservationJob"
      },
      "delete": {
        "target": "com.amazonaws.sagemakergeospatial#DeleteEarthObservationJob"
      },
      "list": {
        "target": "com.amazonaws.sagemakergeospatial#ListEarthObservationJobs"
      },
      "operations": [
        {
          "target": "com.amazonaws.sagemakergeospatial#ExportEarthObservationJob"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#GetTile"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#StopEarthObservationJob"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "{Arn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#EarthObservationJobArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-z-]{0,12}:sagemaker-geospatial:[a-z0-9-]{1,25}:[0-9]{12}:earth-observation-job/[a-z0-9]{12,}$"
      }
    },
    "com.amazonaws.sagemakergeospatial#EarthObservationJobErrorDetails": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobErrorType",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the errors in an EarthObservationJob.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#EarthObservationJobErrorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CLIENT_ERROR",
            "name": "CLIENT_ERROR",
            "documentation": "CLIENT_ERROR"
          },
          {
            "value": "SERVER_ERROR",
            "name": "SERVER_ERROR",
            "documentation": "SERVER_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#EarthObservationJobExportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS",
            "documentation": "IN_PROGRESS"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED",
            "documentation": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED",
            "documentation": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#EarthObservationJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#ListEarthObservationJobOutputConfig"
      }
    },
    "com.amazonaws.sagemakergeospatial#EarthObservationJobOutputBands": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#OutputBand"
      }
    },
    "com.amazonaws.sagemakergeospatial#EarthObservationJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INITIALIZING",
            "name": "INITIALIZING",
            "documentation": "INITIALIZING"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS",
            "documentation": "IN_PROGRESS"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING",
            "documentation": "STOPPING"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED",
            "documentation": "COMPLETED"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED",
            "documentation": "STOPPED"
          },
          {
            "value": "FAILED",
            "name": "FAILED",
            "documentation": "FAILED"
          },
          {
            "value": "DELETING",
            "name": "DELETING",
            "documentation": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED",
            "documentation": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#EoCloudCoverInput": {
      "type": "structure",
      "members": {
        "LowerBound": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "UpperBound": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#EojDataSourceConfigInput": {
      "type": "union",
      "members": {
        "S3Data": {
          "target": "com.amazonaws.sagemakergeospatial#S3DataInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportEarthObservationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#ExportEarthObservationJobInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#ExportEarthObservationJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ConflictException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to export results of an Earth Observation job and optionally source images used as input to the EOJ to an S3 location.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/export-earth-observation-job"
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportEarthObservationJobInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The input Amazon Resource Name (ARN) of the Earth Observation job being exported.</p>",
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.sagemakergeospatial#OutputConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the output file.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportSourceImages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The source images provided to the Earth Observation job being exported.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportEarthObservationJobOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The output Amazon Resource Name (ARN) of the Earth Observation job being exported.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportStatus": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobExportStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the results of the Earth Observation job being exported.</p>",
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.sagemakergeospatial#OutputConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the output file.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportSourceImages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The source images provided to the Earth Observation job being exported.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportErrorDetails": {
      "type": "structure",
      "members": {
        "ExportResults": {
          "target": "com.amazonaws.sagemakergeospatial#ExportErrorDetailsOutput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "ExportSourceImages": {
          "target": "com.amazonaws.sagemakergeospatial#ExportErrorDetailsOutput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure for returning the export error details in a GetEarthObservationJob.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportErrorDetailsOutput": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.sagemakergeospatial#ExportErrorType",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportErrorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CLIENT_ERROR",
            "name": "CLIENT_ERROR",
            "documentation": "CLIENT_ERROR"
          },
          {
            "value": "SERVER_ERROR",
            "name": "SERVER_ERROR",
            "documentation": "SERVER_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportS3DataInput": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the Amazon S3 data input.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportVectorEnrichmentJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#ExportVectorEnrichmentJobInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#ExportVectorEnrichmentJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ConflictException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to copy results of a Vector Enrichment job to an S3 location.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/export-vector-enrichment-jobs"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportVectorEnrichmentJobInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Vector Enrichment job.</p>",
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM rolewith permission to upload to the location in OutputConfig.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.sagemakergeospatial#ExportVectorEnrichmentJobOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>Output location information for exporting Vector Enrichment Job results.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportVectorEnrichmentJobOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Vector Enrichment job being exported.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time.</p>",
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role with permission to upload to the location in OutputConfig.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportStatus": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobExportStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the results the Vector Enrichment job being exported.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.sagemakergeospatial#ExportVectorEnrichmentJobOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>Output location information for exporting Vector Enrichment Job results.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#ExportVectorEnrichmentJobOutputConfig": {
      "type": "structure",
      "members": {
        "S3Data": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobS3Data",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing information about the output file.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#Filter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the filter being used.</p>",
            "smithy.api#required": {}
          }
        },
        "Minimum": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p>The minimum value of the filter.</p>"
          }
        },
        "Maximum": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p>The maximum value of the filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the filters supported by a RasterDataCollection.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#Filter"
      }
    },
    "com.amazonaws.sagemakergeospatial#GeoMosaicConfigInput": {
      "type": "structure",
      "members": {
        "AlgorithmName": {
          "target": "com.amazonaws.sagemakergeospatial#AlgorithmNameGeoMosaic",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm being used for geomosaic.</p>"
          }
        },
        "TargetBands": {
          "target": "com.amazonaws.sagemakergeospatial#StringListInput",
          "traits": {
            "smithy.api#documentation": "<p>The target bands for geomosaic.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input configuration information for the geomosaic.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#Geometry": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "Coordinates": {
          "target": "com.amazonaws.sagemakergeospatial#LinearRings",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#GetEarthObservationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#GetEarthObservationJobInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#GetEarthObservationJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the details for a previously initiated Earth Observation job.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/earth-observation-jobs/{Arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GetEarthObservationJobInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Earth Observation job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GetEarthObservationJobOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Earth Observation job.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Earth Observation job.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the initiated Earth Observation job.</p>",
            "smithy.api#required": {}
          }
        },
        "DurationInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The duration of Earth Observation job, in seconds.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a previously initiated Earth Observation job.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
          }
        },
        "InputConfig": {
          "target": "com.amazonaws.sagemakergeospatial#InputConfigOutput",
          "traits": {
            "smithy.api#documentation": "<p>Input data for the Earth Observation job.</p>",
            "smithy.api#required": {}
          }
        },
        "JobConfig": {
          "target": "com.amazonaws.sagemakergeospatial#JobConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the job configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputBands": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobOutputBands",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "ExecutionRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>"
          }
        },
        "ErrorDetails": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the errors generated during the Earth Observation job.</p>"
          }
        },
        "ExportStatus": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobExportStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Earth Observation job.</p>"
          }
        },
        "ExportErrorDetails": {
          "target": "com.amazonaws.sagemakergeospatial#ExportErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the errors generated during ExportEarthObservationJob.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.sagemakergeospatial#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Each tag consists of a key and a value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GetRasterDataCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#GetRasterDataCollectionInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#GetRasterDataCollectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to get details of a specific raster data collection.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/raster-data-collection/{Arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GetRasterDataCollectionInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#DataCollectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the raster data collection.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#GetRasterDataCollectionOutput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#DataCollectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.sagemakergeospatial#DataCollectionType",
          "traits": {
            "smithy.api#documentation": "<p>The raster data collection type.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "DescriptionPageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the description page.</p>",
            "smithy.api#required": {}
          }
        },
        "SupportedFilters": {
          "target": "com.amazonaws.sagemakergeospatial#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>The filters supported by the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "ImageSourceBands": {
          "target": "com.amazonaws.sagemakergeospatial#ImageSourceBandList",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.sagemakergeospatial#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Each tag consists of a key and a value.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#GetTile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#GetTileInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#GetTileOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a web mercator tile for the given Earth Observation job.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/tile/{z}/{x}/{y}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GetTileInput": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The x coordinate of the tile input.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The y coordinate of the tile input.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "z": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The z coordinate of the tile input.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ImageAssets": {
          "target": "com.amazonaws.sagemakergeospatial#StringListInput",
          "traits": {
            "smithy.api#documentation": "<p>The particular assets or bands to tile.</p>",
            "smithy.api#httpQuery": "ImageAssets",
            "smithy.api#required": {}
          }
        },
        "Target": {
          "target": "com.amazonaws.sagemakergeospatial#TargetOptions",
          "traits": {
            "smithy.api#documentation": "<p>Determines what part of the Earth Observation job to tile. 'INPUT' or 'OUTPUT' are the valid options.</p>",
            "smithy.api#httpQuery": "Target",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the tile operation.</p>",
            "smithy.api#httpQuery": "Arn",
            "smithy.api#required": {}
          }
        },
        "ImageMask": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether or not to return a valid data mask.</p>",
            "smithy.api#httpQuery": "ImageMask"
          }
        },
        "OutputFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The data format of the output tile. The formats include .npy, .png and .jpg.</p>",
            "smithy.api#httpQuery": "OutputFormat"
          }
        },
        "TimeRangeFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Time range filter applied to imagery to find the images to tile.</p>",
            "smithy.api#httpQuery": "TimeRangeFilter"
          }
        },
        "PropertyFilters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Property filters for the imagery to tile.</p>",
            "smithy.api#httpQuery": "PropertyFilters"
          }
        },
        "OutputDataType": {
          "target": "com.amazonaws.sagemakergeospatial#OutputType",
          "traits": {
            "smithy.api#documentation": "<p>The output data type of the tile operation.</p>",
            "smithy.api#httpQuery": "OutputDataType"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GetTileOutput": {
      "type": "structure",
      "members": {
        "BinaryFile": {
          "target": "com.amazonaws.sagemakergeospatial#BinaryFile",
          "traits": {
            "smithy.api#default": "",
            "smithy.api#documentation": "<p>The output binary file.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GetVectorEnrichmentJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#GetVectorEnrichmentJobInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#GetVectorEnrichmentJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details of a Vector Enrichment Job for a given job Amazon Resource Name (ARN).</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/vector-enrichment-jobs/{Arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GetVectorEnrichmentJobInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Vector Enrichment job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GetVectorEnrichmentJobOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Vector Enrichment job.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Vector Enrichment job being initiated.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Vector Enrichment job.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time.</p>",
            "smithy.api#required": {}
          }
        },
        "DurationInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the Vector Enrichment job, in seconds.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the initiated Vector Enrichment job.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
          }
        },
        "InputConfig": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobInputConfig",
          "traits": {
            "smithy.api#documentation": "<p>Input configuration information for the Vector Enrichment job.</p>",
            "smithy.api#required": {}
          }
        },
        "JobConfig": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobConfig",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the job configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorDetails": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the errors generated during the Vector Enrichment job.</p>"
          }
        },
        "ExportStatus": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobExportStatus",
          "traits": {
            "smithy.api#documentation": "<p>The export status of the Vector Enrichment job being initiated.</p>"
          }
        },
        "ExportErrorDetails": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobExportErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the errors generated during the ExportVectorEnrichmentJob.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.sagemakergeospatial#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Each tag consists of a key and a value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#GroupBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALL",
            "name": "ALL",
            "documentation": "ALL"
          },
          {
            "value": "YEARLY",
            "name": "YEARLY",
            "documentation": "YEARLY"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#ImageSourceBandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.sagemakergeospatial#InputConfigInput": {
      "type": "structure",
      "members": {
        "PreviousEarthObservationJobArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the previous Earth Observation job.</p>"
          }
        },
        "DataSourceConfig": {
          "target": "com.amazonaws.sagemakergeospatial#EojDataSourceConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>The location of the input data.&gt;</p>"
          }
        },
        "RasterDataCollectionQuery": {
          "target": "com.amazonaws.sagemakergeospatial#RasterDataCollectionQueryInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input configuration information.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#InputConfigOutput": {
      "type": "structure",
      "members": {
        "PreviousEarthObservationJobArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the previous Earth Observation job.</p>"
          }
        },
        "DataSourceConfig": {
          "target": "com.amazonaws.sagemakergeospatial#EojDataSourceConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>The location of the input data.</p>"
          }
        },
        "RasterDataCollectionQuery": {
          "target": "com.amazonaws.sagemakergeospatial#RasterDataCollectionQueryOutput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The InputConfig for an EarthObservationJob response.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.sagemakergeospatial#ItemSource": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique Id for the source item.</p>",
            "smithy.api#required": {}
          }
        },
        "Geometry": {
          "target": "com.amazonaws.sagemakergeospatial#Geometry",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "Assets": {
          "target": "com.amazonaws.sagemakergeospatial#AssetsMap",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "DateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "Properties": {
          "target": "com.amazonaws.sagemakergeospatial#Properties",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure representing the items in the response for SearchRasterDataCollection.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ItemSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#ItemSource"
      }
    },
    "com.amazonaws.sagemakergeospatial#JobConfigInput": {
      "type": "union",
      "members": {
        "BandMathConfig": {
          "target": "com.amazonaws.sagemakergeospatial#BandMathConfigInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "ResamplingConfig": {
          "target": "com.amazonaws.sagemakergeospatial#ResamplingConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the job configuration for resampling.</p>"
          }
        },
        "TemporalStatisticsConfig": {
          "target": "com.amazonaws.sagemakergeospatial#TemporalStatisticsConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the job configuration for temporal statistics.</p>"
          }
        },
        "CloudRemovalConfig": {
          "target": "com.amazonaws.sagemakergeospatial#CloudRemovalConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the job configuration for cloud removal.</p>"
          }
        },
        "ZonalStatisticsConfig": {
          "target": "com.amazonaws.sagemakergeospatial#ZonalStatisticsConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the job configuration for zonal statistics.</p>"
          }
        },
        "GeoMosaicConfig": {
          "target": "com.amazonaws.sagemakergeospatial#GeoMosaicConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the job configuration for geomosaic.</p>"
          }
        },
        "StackConfig": {
          "target": "com.amazonaws.sagemakergeospatial#StackConfigInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "CloudMaskingConfig": {
          "target": "com.amazonaws.sagemakergeospatial#CloudMaskingConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the job configuration for cloud masking.</p>"
          }
        },
        "LandCoverSegmentationConfig": {
          "target": "com.amazonaws.sagemakergeospatial#LandCoverSegmentationConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the job configuration for land cover segmentation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input structure for the JobConfig in an EarthObservationJob.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#LandCoverSegmentationConfigInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#LandsatCloudCoverLandInput": {
      "type": "structure",
      "members": {
        "LowerBound": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "UpperBound": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#LinearRing": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#Position"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
        },
        "smithy.api#length": {
          "min": 4
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#LinearRings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#LinearRing"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#LinearRingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#LinearRings"
      }
    },
    "com.amazonaws.sagemakergeospatial#ListEarthObservationJobInput": {
      "type": "structure",
      "members": {
        "StatusEquals": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>A filter that retrieves only jobs with a specific status.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.sagemakergeospatial#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>An optional value that specifies whether you want the results sorted in <code>Ascending</code> or <code>Descending</code> order.</p>"
          }
        },
        "SortBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter by which to sort the results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.sagemakergeospatial#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was truncated, you receive this token.\n         Use it in your next request to receive the next set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of items to return.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ListEarthObservationJobOutput": {
      "type": "structure",
      "members": {
        "EarthObservationJobSummaries": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobList",
          "traits": {
            "smithy.api#documentation": "<p>Contains summary information about the Earth Observation jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.sagemakergeospatial#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was truncated, you receive this token.\n         Use it in your next request to receive the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ListEarthObservationJobOutputConfig": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the list of the Earth Observation jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The names of the Earth Observation jobs in the list.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time.</p>",
            "smithy.api#required": {}
          }
        },
        "DurationInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the session, in seconds.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemakergeospatial#EarthObservationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the list of the Earth Observation jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "OperationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.sagemakergeospatial#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Each tag consists of a key and a value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing information about the output file.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ListEarthObservationJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#ListEarthObservationJobInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#ListEarthObservationJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to get a list of the Earth Observation jobs associated with the calling Amazon Web Services account.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/list-earth-observation-jobs"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "EarthObservationJobSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#ListRasterDataCollections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#ListRasterDataCollectionsInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#ListRasterDataCollectionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to get raster data collections.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/raster-data-collections"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "RasterDataCollectionSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#ListRasterDataCollectionsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.sagemakergeospatial#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was truncated, you receive this token.\n         Use it in your next request to receive the next set of results.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of items to return.</p>",
            "smithy.api#httpQuery": "MaxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ListRasterDataCollectionsOutput": {
      "type": "structure",
      "members": {
        "RasterDataCollectionSummaries": {
          "target": "com.amazonaws.sagemakergeospatial#DataCollectionsList",
          "traits": {
            "smithy.api#documentation": "<p>Contains summary information about the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.sagemakergeospatial#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was truncated, you receive this token.\n         Use it in your next request to receive the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags attached to the resource.</p>",
        "smithy.api#http": {
          "uri": "/tags/{ResourceArn}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.sagemakergeospatial#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource you want to tag.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.sagemakergeospatial#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Each tag consists of a key and a value.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ListVectorEnrichmentJobInput": {
      "type": "structure",
      "members": {
        "StatusEquals": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A filter that retrieves only jobs with a specific status.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.sagemakergeospatial#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>An optional value that specifies whether you want the results sorted in <code>Ascending</code> or <code>Descending</code> order.</p>"
          }
        },
        "SortBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter by which to sort the results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.sagemakergeospatial#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was truncated, you receive this token.\n         Use it in your next request to receive the next set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ListVectorEnrichmentJobOutput": {
      "type": "structure",
      "members": {
        "VectorEnrichmentJobSummaries": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobList",
          "traits": {
            "smithy.api#documentation": "<p>Contains summary information about the Vector Enrichment jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.sagemakergeospatial#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was truncated, you receive this token.\n         Use it in your next request to receive the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#ListVectorEnrichmentJobOutputConfig": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the list of the Vector Enrichment jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The names of the Vector Enrichment jobs in the list.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the list of Vector Enrichment jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time.</p>",
            "smithy.api#required": {}
          }
        },
        "DurationInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the session, in seconds.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemakergeospatial#VectorEnrichmentJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Vector Enrichment jobs list. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.sagemakergeospatial#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Each tag consists of a key and a value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing information about the output file.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ListVectorEnrichmentJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakergeospatial#ListVectorEnrichmentJobInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakergeospatial#ListVectorEnrichmentJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakergeospatial#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#InternalServerException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ThrottlingException"
        },
        {
          "target": "com.amazonaws.sagemakergeospatial#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of vector enrichment jobs.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/list-vector-enrichment-jobs"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "VectorEnrichmentJobSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#LogicalOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AND",
            "name": "AND",
            "documentation": "AND"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#MapMatchingConfig": {
      "type": "structure",
      "members": {
        "IdAttributeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "YAttributeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Y-attribute</p>",
            "smithy.api#required": {}
          }
        },
        "XAttributeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the X-attribute</p>",
            "smithy.api#required": {}
          }
        },
        "TimestampAttributeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the timestamp attribute.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#MetadataProvider": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PLANET_ORDER",
            "name": "PLANET_ORDER",
            "documentation": "PLANET_ORDER"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#MultiPolygonGeometryInput": {
      "type": "structure",
      "members": {
        "Coordinates": {
          "target": "com.amazonaws.sagemakergeospatial#LinearRingsList",
          "traits": {
            "smithy.api#documentation": "<p>The coordinates of the multipolygon geometry.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 8192
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#Operation": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Equation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "OutputType": {
          "target": "com.amazonaws.sagemakergeospatial#OutputType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#OperationsListInput": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#Operation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#OutputBand": {
      "type": "structure",
      "members": {
        "BandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the band.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputDataType": {
          "target": "com.amazonaws.sagemakergeospatial#OutputType",
          "traits": {
            "smithy.api#documentation": "<p>The datatype of the output band.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single EarthObservationJob output band.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#OutputConfigInput": {
      "type": "structure",
      "members": {
        "S3Data": {
          "target": "com.amazonaws.sagemakergeospatial#ExportS3DataInput",
          "traits": {
            "smithy.api#documentation": "<p>Path to Amazon S3 storage location for the output configuration file.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response structure for an OutputConfig returned by an ExportEarthObservationJob.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#OutputResolutionResamplingInput": {
      "type": "structure",
      "members": {
        "UserDefined": {
          "target": "com.amazonaws.sagemakergeospatial#UserDefined",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#OutputResolutionStackInput": {
      "type": "structure",
      "members": {
        "Predefined": {
          "target": "com.amazonaws.sagemakergeospatial#PredefinedResolution",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "UserDefined": {
          "target": "com.amazonaws.sagemakergeospatial#UserDefined",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#OutputType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INT32",
            "name": "INT32",
            "documentation": "INT32"
          },
          {
            "value": "FLOAT32",
            "name": "FLOAT32",
            "documentation": "FLOAT32"
          },
          {
            "value": "INT16",
            "name": "INT16",
            "documentation": "INT16"
          },
          {
            "value": "FLOAT64",
            "name": "FLOAT64",
            "documentation": "FLOAT64"
          },
          {
            "value": "UINT16",
            "name": "UINT16",
            "documentation": "UINT16"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#PlatformInput": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the platform.</p>",
            "smithy.api#required": {}
          }
        },
        "ComparisonOperator": {
          "target": "com.amazonaws.sagemakergeospatial#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#PolygonGeometryInput": {
      "type": "structure",
      "members": {
        "Coordinates": {
          "target": "com.amazonaws.sagemakergeospatial#LinearRings",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#Position": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-3.1.1"
        },
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sagemakergeospatial#PredefinedResolution": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HIGHEST",
            "name": "HIGHEST",
            "documentation": "HIGHEST"
          },
          {
            "value": "LOWEST",
            "name": "LOWEST",
            "documentation": "LOWEST"
          },
          {
            "value": "AVERAGE",
            "name": "AVERAGE",
            "documentation": "AVERAGE"
          }
        ]
      }
    },
    "com.amazonaws.sagemakergeospatial#Properties": {
      "type": "structure",
      "members": {
        "EoCloudCover": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "ViewOffNadir": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "ViewSunAzimuth": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "ViewSunElevation": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "Platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "LandsatCloudCoverLand": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#Property": {
      "type": "union",
      "members": {
        "EoCloudCover": {
          "target": "com.amazonaws.sagemakergeospatial#EoCloudCoverInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "ViewOffNadir": {
          "target": "com.amazonaws.sagemakergeospatial#ViewOffNadirInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "ViewSunAzimuth": {
          "target": "com.amazonaws.sagemakergeospatial#ViewSunAzimuthInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "ViewSunElevation": {
          "target": "com.amazonaws.sagemakergeospatial#ViewSunElevationInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.sagemakergeospatial#PlatformInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "LandsatCloudCoverLand": {
          "target": "com.amazonaws.sagemakergeospatial#LandsatCloudCoverLandInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#PropertyFilter": {
      "type": "structure",
      "members": {
        "Property": {
          "target": "com.amazonaws.sagemakergeospatial#Property",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#PropertyFilters": {
      "type": "structure",
      "members": {
        "Properties": {
          "target": "com.amazonaws.sagemakergeospatial#PropertyFiltersList",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "LogicalOperator": {
          "target": "com.amazonaws.sagemakergeospatial#LogicalOperator",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#PropertyFiltersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakergeospatial#PropertyFilter"
      }
    },
    "com.amazonaws.sagemakergeospatial#RasterDataCollection": {
      "type": "resource",
      "identifiers": {
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#DataCollectionArn"
        }
      },
      "read": {
        "target": "com.amazonaws.sagemakergeospatial#GetRasterDataCollection"
      },
      "list": {
        "target": "com.amazonaws.sagemakergeospatial#ListRasterDataCollections"
      },
      "operations": [
        {
          "target": "com.amazonaws.sagemakergeospatial#SearchRasterDataCollection"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "{Arn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.sagemakergeospatial#RasterDataCollectionMetadata": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.sagemakergeospatial#DataCollectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.sagemakergeospatial#DataCollectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "DescriptionPageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description URL of the raster data collection.</p>"
          }
        },
        "SupportedFilters": {
          "target": "com.amazonaws.sagemakergeospatial#FilterList",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.sagemakergeospatial#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Each tag consists of a key and a value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response object containing details for a specific RasterDataCollection.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#RasterDataCollectionQueryInput": {
      "type": "structure",
      "members": {
        "RasterDataCollectionArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeRangeFilter": {
          "target": "com.amazonaws.sagemakergeospatial#TimeRangeFilterInput",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "AreaOfInterest": {
          "target": "com.amazonaws.sagemakergeospatial#AreaOfInterest",
          "traits": {
            "smithy.api#documentation": "<p>The area of interest being queried for the raster data collection.</p>"
          }
        },
        "PropertyFilters": {
          "target": "com.amazonaws.sagemakergeospatial#PropertyFilters",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#RasterDataCollectionQueryOutput": {
      "type": "structure",
      "members": {
        "RasterDataCollectionArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "RasterDataCollectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the raster data collection.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeRangeFilter": {
          "target": "com.amazonaws.sagemakergeospatial#TimeRangeFilterInput",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "AreaOfInterest": {
          "target": "com.amazonaws.sagemakergeospatial#AreaOfInterest",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "PropertyFilters": {
          "target": "com.amazonaws.sagemakergeospatial#PropertyFilters",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#RasterDataCollectionQueryWithBandFilterInput": {
      "type": "structure",
      "members": {
        "TimeRangeFilter": {
          "target": "com.amazonaws.sagemakergeospatial#TimeRangeFilterInput",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "AreaOfInterest": {
          "target": "com.amazonaws.sagemakergeospatial#AreaOfInterest",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "PropertyFilters": {
          "target": "com.amazonaws.sagemakergeospatial#PropertyFilters",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "BandFilter": {
          "target": "com.amazonaws.sagemakergeospatial#StringListInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This is a RasterDataCollectionQueryInput containing AreaOfInterest, Time Range filter and Property filters.</p>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ResamplingConfigInput": {
      "type": "structure",
      "members": {
        "OutputResolution": {
          "target": "com.amazonaws.sagemakergeospatial#OutputResolutionResamplingInput",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmName": {
          "target": "com.amazonaws.sagemakergeospatial#AlgorithmNameResampling",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm used for resampling.</p>"
          }
        },
        "TargetBands": {
          "target": "com.amazonaws.sagemakergeospatial#StringListInput",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.sagemakergeospatial#ReverseGeocodingConfig": {
      "type": "structure",
      "members": {
        "YAttributeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "XAttributeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.sagemakergeospatial#S3DataInput": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the Amazon S3 input.</p>",
            "smithy.api#required": {}
          }
        },
        "MetadataProvider": {
          "target": "com.amazonaws.sagemakergeospatial#MetadataProvider",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "smithy.api#String",
          "traits": {
[...]
