{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sagemaker#Accept": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.sagemaker#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker#AddTagsInput"
      },
      "output": {
        "target": "com.amazonaws.sagemaker#AddTagsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Adds or overwrites one or more tags for the specified Amazon SageMaker resource. You can add\n            tags to notebook instances, training jobs, hyperparameter tuning jobs, batch transform\n            jobs, models, labeling jobs, work teams, endpoint configurations, and\n            endpoints.</p>\n        <p>Each tag consists of a key and an optional value. Tag keys must be unique per\n            resource. For more information about tags, see For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS\n                Tagging Strategies</a>.</p>\n        <note>\n            <p>Tags that you add to a hyperparameter tuning job by calling this API are also\n                added to any training jobs that the hyperparameter tuning job launches after you\n                call this API, but not to training jobs that the hyperparameter tuning job launched\n                before you called this API. To make sure that the tags associated with a\n                hyperparameter tuning job are also added to all training jobs that the\n                hyperparameter tuning job launches, add the tags when you first create the tuning\n                job by specifying them in the <code>Tags</code> parameter of <a>CreateHyperParameterTuningJob</a>\n            </p>\n        </note>"
      }
    },
    "com.amazonaws.sagemaker#AddTagsInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.sagemaker#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that you want to tag.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.sagemaker#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the\n                <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the\n            value to an empty string. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AddTagsOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.sagemaker#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with the Amazon SageMaker resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AdditionalCodeRepositoryNamesOrUrls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#CodeRepositoryNameOrUrl"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.sagemaker#AlgorithmArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:algorithm/.*"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmImage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Name",
            "name": "NAME"
          },
          {
            "value": "CreationTime",
            "name": "CREATION_TIME"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSpecification": {
      "type": "structure",
      "members": {
        "AlgorithmName": {
          "target": "com.amazonaws.sagemaker#ArnOrName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm resource to use for the training job. This must be an\n            algorithm resource that you created or subscribe to on AWS Marketplace. If you specify a value for\n            this parameter, you can't specify a value for <code>TrainingImage</code>.</p>"
          }
        },
        "EnableSageMakerMetricsTimeSeries": {
          "target": "com.amazonaws.sagemaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>To generate and save time-series metrics during training, set to <code>true</code>.\n            The default is <code>false</code> and time-series metrics aren't generated except in the\n            following cases:</p>\n        <ul>\n            <li>\n                <p>You use one of the Amazon SageMaker built-in algorithms</p>\n            </li>\n            <li>\n                <p>You use one of the following <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/pre-built-containers-frameworks-deep-learning.html\">Prebuilt Amazon SageMaker Docker Images</a>:</p>\n                <ul>\n                  <li>\n                        <p>Tensorflow (version >= 1.15)</p>\n                    </li>\n                  <li>\n                        <p>MXNet (version >= 1.6)</p>\n                    </li>\n                  <li>\n                        <p>PyTorch (version >= 1.3)</p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>You specify at least one <a>MetricDefinition</a>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "MetricDefinitions": {
          "target": "com.amazonaws.sagemaker#MetricDefinitionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of metric definition objects. Each object specifies the metric name and regular\n            expressions used to parse algorithm logs. Amazon SageMaker publishes each metric to Amazon CloudWatch.</p>"
          }
        },
        "TrainingImage": {
          "target": "com.amazonaws.sagemaker#AlgorithmImage",
          "traits": {
            "smithy.api#documentation": "<p>The registry path of the Docker image\n             that contains the training algorithm.\n            For information about docker registry paths for built-in algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-algo-docker-registry-paths.html\">Algorithms\n                Provided by Amazon SageMaker: Common Parameters</a>. Amazon SageMaker supports both\n                <code>registry/repository[:tag]</code> and <code>registry/repository[@digest]</code>\n            image path formats. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon\n                SageMaker</a>.</p>"
          }
        },
        "TrainingInputMode": {
          "target": "com.amazonaws.sagemaker#TrainingInputMode",
          "traits": {
            "smithy.api#documentation": "<p>The input mode that the algorithm supports. For the input modes that Amazon SageMaker\n            algorithms support, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. If an algorithm supports the <code>File</code> input mode, Amazon SageMaker\n            downloads the training data from S3 to the provisioned ML storage Volume, and mounts the\n            directory to docker volume for training container. If an algorithm supports the\n                <code>Pipe</code> input mode, Amazon SageMaker streams data directly from S3 to the container. </p>\n        <p> In File mode, make sure you provision ML storage volume with sufficient capacity\n            to accommodate the data download from S3. In addition to the training data, the ML\n            storage volume also stores the output model. The algorithm container use ML storage\n            volume to also store intermediate information, if any. </p>\n        <p> For distributed algorithms using File mode, training data is distributed\n            uniformly, and your training duration is predictable if the input data objects size is\n            approximately same. Amazon SageMaker does not split the files any further for model training. If the\n            object sizes are skewed, training won't be optimal as the data distribution is also\n            skewed where one host in a training cluster is overloaded, thus becoming bottleneck in\n            training. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the training algorithm to use in a <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateTrainingJob.html\">CreateTrainingJob</a>\n            request.</p>\n        <p>For more information about algorithms provided by Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. For\n            information about using your own algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon\n                SageMaker</a>. </p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Pending",
            "name": "PENDING"
          },
          {
            "value": "InProgress",
            "name": "IN_PROGRESS"
          },
          {
            "value": "Completed",
            "name": "COMPLETED"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "Deleting",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatusDetails": {
      "type": "structure",
      "members": {
        "ImageScanStatuses": {
          "target": "com.amazonaws.sagemaker#AlgorithmStatusItemList",
          "traits": {
            "smithy.api#documentation": "<p>The status of the scan of the algorithm's Docker image container.</p>"
          }
        },
        "ValidationStatuses": {
          "target": "com.amazonaws.sagemaker#AlgorithmStatusItemList",
          "traits": {
            "smithy.api#documentation": "<p>The status of algorithm validation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the validation and image scan statuses of the algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatusItem": {
      "type": "structure",
      "members": {
        "FailureReason": {
          "target": "com.amazonaws.sagemaker#String",
          "traits": {
            "smithy.api#documentation": "<p>if the overall status is <code>Failed</code>, the reason for the failure.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm for which the overall status is being reported.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemaker#DetailedAlgorithmStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the overall status of an algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatusItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AlgorithmStatusItem"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSummary": {
      "type": "structure",
      "members": {
        "AlgorithmArn": {
          "target": "com.amazonaws.sagemaker#AlgorithmArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmDescription": {
          "target": "com.amazonaws.sagemaker#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the algorithm.</p>"
          }
        },
        "AlgorithmName": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm that is described by the summary.</p>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmStatus": {
          "target": "com.amazonaws.sagemaker#AlgorithmStatus",
          "traits": {
            "smithy.api#documentation": "<p>The overall status of the algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the algorithm was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about an algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AlgorithmSummary"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmValidationProfile": {
      "type": "structure",
      "members": {
        "ProfileName": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile for the algorithm. The name must have 1 to 63 characters.\n            Valid characters are a-z, A-Z, 0-9, and - (hyphen).</p>",
            "smithy.api#required": {}
          }
        },
        "TrainingJobDefinition": {
          "target": "com.amazonaws.sagemaker#TrainingJobDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The <code>TrainingJobDefinition</code> object that describes the training job that\n            Amazon SageMaker runs to validate your algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "TransformJobDefinition": {
          "target": "com.amazonaws.sagemaker#TransformJobDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The <code>TransformJobDefinition</code> object that describes the transform job that\n            Amazon SageMaker runs to validate your algorithm.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a training job and a batch transform job that Amazon SageMaker runs to validate your\n            algorithm.</p>\n        <p>The data provided in the validation profile is made available to your buyers on AWS\n            Marketplace.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmValidationProfiles": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AlgorithmValidationProfile"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.sagemaker#AlgorithmValidationSpecification": {
      "type": "structure",
      "members": {
        "ValidationProfiles": {
          "target": "com.amazonaws.sagemaker#AlgorithmValidationProfiles",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>AlgorithmValidationProfile</code> objects, each of which specifies a\n            training job and batch transform job that Amazon SageMaker runs to validate your algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "ValidationRole": {
          "target": "com.amazonaws.sagemaker#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM roles that Amazon SageMaker uses to run the training jobs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies configurations for one or more training jobs that Amazon SageMaker runs to test the\n            algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AnnotationConsolidationConfig": {
      "type": "structure",
      "members": {
        "AnnotationConsolidationLambdaArn": {
          "target": "com.amazonaws.sagemaker#LambdaFunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a Lambda function implements the logic for\n            annotation consolidation.</p>\n        <p>For the built-in bounding box, image classification, semantic segmentation, and text\n            classification task types, Amazon SageMaker Ground Truth provides the following Lambda functions:</p>\n        <ul>\n            <li>\n                <p>\n                  <i>Bounding box</i> - Finds the most similar boxes from\n                    different workers based on the Jaccard index of the boxes.</p>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-BoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-BoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <i>Image classification</i> - Uses a variant of the Expectation\n                    Maximization approach to estimate the true class of an image based on\n                    annotations from individual workers.</p>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-ImageMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-ImageMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <i>Semantic segmentation</i> - Treats each pixel in an image as\n                    a multi-class classification and treats pixel annotations from workers as\n                    \"votes\" for the correct label.</p>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-SemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-SemanticSegmentation</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <i>Text classification</i> - Uses a variant of the Expectation\n                    Maximization approach to estimate the true class of text based on annotations\n                    from individual workers.</p>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-TextMultiClass</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-TextMultiClass</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <i>Named entity recognition</i> - Groups similar selections and\n                    calculates aggregate boundaries, resolving to most-assigned label.</p>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-NamedEntityRecognition</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-NamedEntityRecognition</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <i>Bounding box verification</i> - Uses a variant of the\n                    Expectation Maximization approach to estimate the true class of verification\n                    judgement for bounding box labels based on annotations from individual\n                    workers.</p>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VerificationBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VerificationBoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <i>Semantic segmentation verification</i> - Uses a variant of\n                    the Expectation Maximization approach to estimate the true class of verification\n                    judgement for semantic segmentation labels based on annotations from individual\n                    workers.</p>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VerificationSemanticSegmentation</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <i>Bounding box adjustment</i> - Finds the most similar boxes\n                    from different workers based on the Jaccard index of the adjusted\n                    annotations.</p>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentBoundingBox</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <i>Semantic segmentation adjustment</i> - Treats each pixel in\n                    an image as a multi-class classification and treats pixel adjusted annotations\n                    from workers as \"votes\" for the correct label.</p>\n                <p>\n                    <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n                <p>\n                    <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentSemanticSegmentation</code>\n                </p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-annotation-consolidation.html\">Annotation\n                Consolidation</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures how labels are consolidated across human workers.</p>"
      }
    },
    "com.amazonaws.sagemaker#AppArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:app/.*"
      }
    },
    "com.amazonaws.sagemaker#AppDetails": {
      "type": "structure",
      "members": {
        "AppName": {
          "target": "com.amazonaws.sagemaker#AppName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the app.</p>"
          }
        },
        "AppType": {
          "target": "com.amazonaws.sagemaker#AppType",
          "traits": {
            "smithy.api#documentation": "<p>The type of app.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time.</p>"
          }
        },
        "DomainId": {
          "target": "com.amazonaws.sagemaker#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The domain ID.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemaker#AppStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status.</p>"
          }
        },
        "UserProfileName": {
          "target": "com.amazonaws.sagemaker#UserProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The user profile name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The app's details.</p>"
      }
    },
    "com.amazonaws.sagemaker#AppInstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "system",
            "name": "SYSTEM"
          },
          {
            "value": "ml.t3.micro",
            "name": "ML_T3_MICRO"
          },
          {
            "value": "ml.t3.small",
            "name": "ML_T3_SMALL"
          },
          {
            "value": "ml.t3.medium",
            "name": "ML_T3_MEDIUM"
          },
          {
            "value": "ml.t3.large",
            "name": "ML_T3_LARGE"
          },
          {
            "value": "ml.t3.xlarge",
            "name": "ML_T3_XLARGE"
          },
          {
            "value": "ml.t3.2xlarge",
            "name": "ML_T3_2XLARGE"
          },
          {
            "value": "ml.m5.large",
            "name": "ML_M5_LARGE"
          },
          {
            "value": "ml.m5.xlarge",
            "name": "ML_M5_XLARGE"
          },
          {
            "value": "ml.m5.2xlarge",
            "name": "ML_M5_2XLARGE"
          },
          {
            "value": "ml.m5.4xlarge",
            "name": "ML_M5_4XLARGE"
          },
          {
            "value": "ml.m5.8xlarge",
            "name": "ML_M5_8XLARGE"
          },
          {
            "value": "ml.m5.12xlarge",
            "name": "ML_M5_12XLARGE"
          },
          {
            "value": "ml.m5.16xlarge",
            "name": "ML_M5_16XLARGE"
          },
          {
            "value": "ml.m5.24xlarge",
            "name": "ML_M5_24XLARGE"
          },
          {
            "value": "ml.c5.large",
            "name": "ML_C5_LARGE"
          },
          {
            "value": "ml.c5.xlarge",
            "name": "ML_C5_XLARGE"
          },
          {
            "value": "ml.c5.2xlarge",
            "name": "ML_C5_2XLARGE"
          },
          {
            "value": "ml.c5.4xlarge",
            "name": "ML_C5_4XLARGE"
          },
          {
            "value": "ml.c5.9xlarge",
            "name": "ML_C5_9XLARGE"
          },
          {
            "value": "ml.c5.12xlarge",
            "name": "ML_C5_12XLARGE"
          },
          {
            "value": "ml.c5.18xlarge",
            "name": "ML_C5_18XLARGE"
          },
          {
            "value": "ml.c5.24xlarge",
            "name": "ML_C5_24XLARGE"
          },
          {
            "value": "ml.p3.2xlarge",
            "name": "ML_P3_2XLARGE"
          },
          {
            "value": "ml.p3.8xlarge",
            "name": "ML_P3_8XLARGE"
          },
          {
            "value": "ml.p3.16xlarge",
            "name": "ML_P3_16XLARGE"
          },
          {
            "value": "ml.g4dn.xlarge",
            "name": "ML_G4DN_XLARGE"
          },
          {
            "value": "ml.g4dn.2xlarge",
            "name": "ML_G4DN_2XLARGE"
          },
          {
            "value": "ml.g4dn.4xlarge",
            "name": "ML_G4DN_4XLARGE"
          },
          {
            "value": "ml.g4dn.8xlarge",
            "name": "ML_G4DN_8XLARGE"
          },
          {
            "value": "ml.g4dn.12xlarge",
            "name": "ML_G4DN_12XLARGE"
          },
          {
            "value": "ml.g4dn.16xlarge",
            "name": "ML_G4DN_16XLARGE"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AppList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AppDetails"
      }
    },
    "com.amazonaws.sagemaker#AppName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
      }
    },
    "com.amazonaws.sagemaker#AppSortKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CreationTime",
            "name": "CreationTime"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AppSpecification": {
      "type": "structure",
      "members": {
        "ContainerArguments": {
          "target": "com.amazonaws.sagemaker#ContainerArguments",
          "traits": {
            "smithy.api#documentation": "<p>The arguments for a container used to run a processing job.</p>"
          }
        },
        "ContainerEntrypoint": {
          "target": "com.amazonaws.sagemaker#ContainerEntrypoint",
          "traits": {
            "smithy.api#documentation": "<p>The entrypoint for a container used to run a processing job.</p>"
          }
        },
        "ImageUri": {
          "target": "com.amazonaws.sagemaker#ImageUri",
          "traits": {
            "smithy.api#documentation": "<p>The container image to be run by the processing job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration to run a processing job in a specified container image.</p>"
      }
    },
    "com.amazonaws.sagemaker#AppStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Deleted",
            "name": "Deleted"
          },
          {
            "value": "Deleting",
            "name": "Deleting"
          },
          {
            "value": "Failed",
            "name": "Failed"
          },
          {
            "value": "InService",
            "name": "InService"
          },
          {
            "value": "Pending",
            "name": "Pending"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AppType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "JupyterServer",
            "name": "JupyterServer"
          },
          {
            "value": "KernelGateway",
            "name": "KernelGateway"
          },
          {
            "value": "TensorBoard",
            "name": "TensorBoard"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#ArnOrName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 170
        },
        "smithy.api#pattern": "(arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:[a-z\\-]*\\/)?([a-zA-Z0-9]([a-zA-Z0-9-]){0,62})(?<!-)$"
      }
    },
    "com.amazonaws.sagemaker#AssemblyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "None",
            "name": "NONE"
          },
          {
            "value": "Line",
            "name": "LINE"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AssociateTrialComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker#AssociateTrialComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemaker#AssociateTrialComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemaker#ResourceLimitExceeded"
        },
        {
          "target": "com.amazonaws.sagemaker#ResourceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a trial component with a trial. A trial component can be associated\n      with multiple trials. To disassociate a trial component from a trial, call the\n      <a>DisassociateTrialComponent</a> API.</p>"
      }
    },
    "com.amazonaws.sagemaker#AssociateTrialComponentRequest": {
      "type": "structure",
      "members": {
        "TrialComponentName": {
          "target": "com.amazonaws.sagemaker#ExperimentEntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component to associated with the trial.</p>",
            "smithy.api#required": {}
          }
        },
        "TrialName": {
          "target": "com.amazonaws.sagemaker#ExperimentEntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the trial to associate with.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AssociateTrialComponentResponse": {
      "type": "structure",
      "members": {
        "TrialArn": {
          "target": "com.amazonaws.sagemaker#TrialArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the trial.</p>"
          }
        },
        "TrialComponentArn": {
          "target": "com.amazonaws.sagemaker#TrialComponentArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the trial component.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": ".+"
      }
    },
    "com.amazonaws.sagemaker#AttributeNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AttributeName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 16
        }
      }
    },
    "com.amazonaws.sagemaker#AuthMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SSO",
            "name": "SSO"
          },
          {
            "value": "IAM",
            "name": "IAM"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AutoMLCandidate": {
      "type": "structure",
      "members": {
        "CandidateName": {
          "target": "com.amazonaws.sagemaker#CandidateName",
          "traits": {
            "smithy.api#documentation": "<p>The candidate name.</p>",
            "smithy.api#required": {}
          }
        },
        "CandidateStatus": {
          "target": "com.amazonaws.sagemaker#CandidateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The candidate's status.</p>",
            "smithy.api#required": {}
          }
        },
        "CandidateSteps": {
          "target": "com.amazonaws.sagemaker#CandidateSteps",
          "traits": {
            "smithy.api#documentation": "<p>The candidate's steps.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.sagemaker#AutoMLFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The failure reason.</p>"
          }
        },
        "FinalAutoMLJobObjectiveMetric": {
          "target": "com.amazonaws.sagemaker#FinalAutoMLJobObjectiveMetric"
        },
        "InferenceContainers": {
          "target": "com.amazonaws.sagemaker#AutoMLContainerDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The inference containers.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last modified time.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectiveStatus": {
          "target": "com.amazonaws.sagemaker#ObjectiveStatus",
          "traits": {
            "smithy.api#documentation": "<p>The objective status.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AutoPilot job will return recommendations, or candidates.\n            Each candidate has futher details about the steps involed, and the status.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLCandidateStep": {
      "type": "structure",
      "members": {
        "CandidateStepArn": {
          "target": "com.amazonaws.sagemaker#CandidateStepArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the Candidate's step.</p>",
            "smithy.api#required": {}
          }
        },
        "CandidateStepName": {
          "target": "com.amazonaws.sagemaker#CandidateStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the Candidate's step.</p>",
            "smithy.api#required": {}
          }
        },
        "CandidateStepType": {
          "target": "com.amazonaws.sagemaker#CandidateStepType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the Candidate is at the transform, training, or processing step.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the steps for a Candidate, and what step it is working on.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLCandidates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AutoMLCandidate"
      }
    },
    "com.amazonaws.sagemaker#AutoMLChannel": {
      "type": "structure",
      "members": {
        "CompressionType": {
          "target": "com.amazonaws.sagemaker#CompressionType",
          "traits": {
            "smithy.api#documentation": "<p>You can use Gzip or None. The default value is None.</p>"
          }
        },
        "DataSource": {
          "target": "com.amazonaws.sagemaker#AutoMLDataSource",
          "traits": {
            "smithy.api#documentation": "<p>The data source.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetAttributeName": {
          "target": "com.amazonaws.sagemaker#TargetAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target variable in supervised learning, a.k.a. ‘y’.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Similar to Channel.\n      A channel is a named input source that training algorithms can consume.\n    Refer to Channel for detailed descriptions.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLContainerDefinition": {
      "type": "structure",
      "members": {
        "Environment": {
          "target": "com.amazonaws.sagemaker#EnvironmentMap",
          "traits": {
            "smithy.api#documentation": "<p>Environment variables to set in the container.\n          Refer to ContainerDefinition for more details.</p>"
          }
        },
        "Image": {
          "target": "com.amazonaws.sagemaker#Image",
          "traits": {
            "smithy.api#documentation": "<p>The ECR path of the container.\n          Refer to ContainerDefinition for more details.</p>",
            "smithy.api#required": {}
          }
        },
        "ModelDataUrl": {
          "target": "com.amazonaws.sagemaker#Url",
          "traits": {
            "smithy.api#documentation": "<p>The location of the model artifacts.\n          Refer to ContainerDefinition for more details.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of container definitions that describe the different containers that make up one AutoML candidate.\n      Refer to ContainerDefinition for more details.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLContainerDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AutoMLContainerDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.sagemaker#AutoMLDataSource": {
      "type": "structure",
      "members": {
        "S3DataSource": {
          "target": "com.amazonaws.sagemaker#AutoMLS3DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data source for the AutoPilot job.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLFailureReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.sagemaker#AutoMLInputDataConfig": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AutoMLChannel"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:automl-job/.*"
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobArtifacts": {
      "type": "structure",
      "members": {
        "CandidateDefinitionNotebookLocation": {
          "target": "com.amazonaws.sagemaker#CandidateDefinitionNotebookLocation",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the notebook location.</p>"
          }
        },
        "DataExplorationNotebookLocation": {
          "target": "com.amazonaws.sagemaker#DataExplorationNotebookLocation",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the notebook location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Artifacts that are generation during a job.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobCompletionCriteria": {
      "type": "structure",
      "members": {
        "MaxAutoMLJobRuntimeInSeconds": {
          "target": "com.amazonaws.sagemaker#MaxAutoMLJobRuntimeInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time, in seconds, an AutoML job is allowed to wait for a trial to complete.\n         It must be equal to or greater than MaxRuntimePerTrainingJobInSeconds.</p>"
          }
        },
        "MaxCandidates": {
          "target": "com.amazonaws.sagemaker#MaxCandidates",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of times a training job is allowed to run.</p>"
          }
        },
        "MaxRuntimePerTrainingJobInSeconds": {
          "target": "com.amazonaws.sagemaker#MaxRuntimePerTrainingJobInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time, in seconds, a job is allowed to run.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How long a job is allowed to run, or how many candidates a job is allowed to generate.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobConfig": {
      "type": "structure",
      "members": {
        "CompletionCriteria": {
          "target": "com.amazonaws.sagemaker#AutoMLJobCompletionCriteria",
          "traits": {
            "smithy.api#documentation": "<p>How long a job is allowed to run, or how many candidates a job is allowed to generate.</p>"
          }
        },
        "SecurityConfig": {
          "target": "com.amazonaws.sagemaker#AutoMLSecurityConfig",
          "traits": {
            "smithy.api#documentation": "<p>Security configuration for traffic encryption or Amazon VPC settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of settings used for a job.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobObjective": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.sagemaker#AutoMLMetricEnum",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Applies a metric to minimize or maximize for the job's objective.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobObjectiveType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Maximize",
            "name": "MAXIMIZE"
          },
          {
            "value": "Minimize",
            "name": "MINIMIZE"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobSecondaryStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Starting",
            "name": "STARTING"
          },
          {
            "value": "AnalyzingData",
            "name": "ANALYZING_DATA"
          },
          {
            "value": "FeatureEngineering",
            "name": "FEATURE_ENGINEERING"
          },
          {
            "value": "ModelTuning",
            "name": "MODEL_TUNING"
          },
          {
            "value": "MaxCandidatesReached",
            "name": "MAX_CANDIDATES_REACHED"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "Stopped",
            "name": "STOPPED"
          },
          {
            "value": "MaxAutoMLJobRuntimeReached",
            "name": "MAX_AUTO_ML_JOB_RUNTIME_REACHED"
          },
          {
            "value": "Stopping",
            "name": "STOPPING"
          },
          {
            "value": "CandidateDefinitionsGenerated",
            "name": "CANDIDATE_DEFINITIONS_GENERATED"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Completed",
            "name": "COMPLETED"
          },
          {
            "value": "InProgress",
            "name": "IN_PROGRESS"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "Stopped",
            "name": "STOPPED"
          },
          {
            "value": "Stopping",
            "name": "STOPPING"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AutoMLJobSummary"
      }
    },
    "com.amazonaws.sagemaker#AutoMLJobSummary": {
      "type": "structure",
      "members": {
        "AutoMLJobArn": {
          "target": "com.amazonaws.sagemaker#AutoMLJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the job.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoMLJobName": {
          "target": "com.amazonaws.sagemaker#AutoMLJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the object you are requesting.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoMLJobSecondaryStatus": {
          "target": "com.amazonaws.sagemaker#AutoMLJobSecondaryStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's secondary status.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoMLJobStatus": {
          "target": "com.amazonaws.sagemaker#AutoMLJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.sagemaker#AutoMLFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The failure reason.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job was last modified.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary about a job.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.sagemaker#AutoMLMetricEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Accuracy",
            "name": "ACCURACY"
          },
          {
            "value": "MSE",
            "name": "MSE"
          },
          {
            "value": "F1",
            "name": "F1"
          },
          {
            "value": "F1macro",
            "name": "F1_MACRO"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AutoMLNameContains": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "[a-zA-Z0-9\\-]+"
      }
    },
    "com.amazonaws.sagemaker#AutoMLOutputDataConfig": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "target": "com.amazonaws.sagemaker#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS KMS encryption key ID.</p>"
          }
        },
        "S3OutputPath": {
          "target": "com.amazonaws.sagemaker#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 output path. Must be 128 characters or less.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output data configuration.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLS3DataSource": {
      "type": "structure",
      "members": {
        "S3DataType": {
          "target": "com.amazonaws.sagemaker#AutoMLS3DataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type.</p>",
            "smithy.api#required": {}
          }
        },
        "S3Uri": {
          "target": "com.amazonaws.sagemaker#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the Amazon S3 data source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon S3 data source.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLS3DataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ManifestFile",
            "name": "MANIFEST_FILE"
          },
          {
            "value": "S3Prefix",
            "name": "S3_PREFIX"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AutoMLSecurityConfig": {
      "type": "structure",
      "members": {
        "EnableInterContainerTrafficEncryption": {
          "target": "com.amazonaws.sagemaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to use traffic encryption between the container layers.</p>"
          }
        },
        "VolumeKmsKeyId": {
          "target": "com.amazonaws.sagemaker#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The key used to encrypt stored data.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.sagemaker#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>VPC configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Security options.</p>"
      }
    },
    "com.amazonaws.sagemaker#AutoMLSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Name",
            "name": "NAME"
          },
          {
            "value": "CreationTime",
            "name": "CREATION_TIME"
          },
          {
            "value": "Status",
            "name": "STATUS"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AutoMLSortOrder": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Ascending",
            "name": "ASCENDING"
          },
          {
            "value": "Descending",
            "name": "DESCENDING"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#AwsManagedHumanLoopRequestSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS/Rekognition/DetectModerationLabels/Image/V3",
            "name": "REKOGNITION_DETECT_MODERATION_LABELS_IMAGE_V3"
          },
          {
            "value": "AWS/Textract/AnalyzeDocument/Forms/V1",
            "name": "TEXTRACT_ANALYZE_DOCUMENT_FORMS_V1"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#BatchStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MultiRecord",
            "name": "MULTI_RECORD"
          },
          {
            "value": "SingleRecord",
            "name": "SINGLE_RECORD"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#BillableTimeInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.sagemaker#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.sagemaker#BooleanOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "And",
            "name": "AND"
          },
          {
            "value": "Or",
            "name": "OR"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#Branch": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "[^ ~^:?*\\[]+"
      }
    },
    "com.amazonaws.sagemaker#CandidateDefinitionNotebookLocation": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.sagemaker#CandidateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.sagemaker#CandidateSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CreationTime",
            "name": "CreationTime"
          },
          {
            "value": "Status",
            "name": "Status"
          },
          {
            "value": "FinalObjectiveMetricValue",
            "name": "FinalObjectiveMetricValue"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#CandidateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Completed",
            "name": "COMPLETED"
          },
          {
            "value": "InProgress",
            "name": "IN_PROGRESS"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "Stopped",
            "name": "STOPPED"
          },
          {
            "value": "Stopping",
            "name": "STOPPING"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#CandidateStepArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:.*/.*"
      }
    },
    "com.amazonaws.sagemaker#CandidateStepName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.sagemaker#CandidateStepType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS::SageMaker::TrainingJob",
            "name": "TRAINING"
          },
          {
            "value": "AWS::SageMaker::TransformJob",
            "name": "TRANSFORM"
          },
          {
            "value": "AWS::SageMaker::ProcessingJob",
            "name": "PROCESSING"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#CandidateSteps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AutoMLCandidateStep"
      }
    },
    "com.amazonaws.sagemaker#CaptureContentTypeHeader": {
      "type": "structure",
      "members": {
        "CsvContentTypes": {
          "target": "com.amazonaws.sagemaker#CsvContentTypes",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "JsonContentTypes": {
          "target": "com.amazonaws.sagemaker#JsonContentTypes",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.sagemaker#CaptureMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Input",
            "name": "INPUT"
          },
          {
            "value": "Output",
            "name": "OUTPUT"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#CaptureOption": {
      "type": "structure",
      "members": {
        "CaptureMode": {
          "target": "com.amazonaws.sagemaker#CaptureMode",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.sagemaker#CaptureOptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#CaptureOption"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.sagemaker#CaptureStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Started",
            "name": "STARTED"
          },
          {
            "value": "Stopped",
            "name": "STOPPED"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#CategoricalParameterRange": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.sagemaker#ParameterKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of the categorical hyperparameter to tune.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.sagemaker#ParameterValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of the categories\n            for\n            the hyperparameter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of categorical hyperparameters to tune.</p>"
      }
    },
    "com.amazonaws.sagemaker#CategoricalParameterRangeSpecification": {
      "type": "structure",
      "members": {
        "Values": {
          "target": "com.amazonaws.sagemaker#ParameterValues",
          "traits": {
            "smithy.api#documentation": "<p>The allowed categories for the hyperparameter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the possible values for a categorical hyperparameter.</p>"
      }
    },
    "com.amazonaws.sagemaker#CategoricalParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#CategoricalParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.sagemaker#Cents": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 99
        }
      }
    },
    "com.amazonaws.sagemaker#CertifyForMarketplace": {
      "type": "boolean"
    },
    "com.amazonaws.sagemaker#Channel": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.sagemaker#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel. </p>",
            "smithy.api#required": {}
          }
        },
        "CompressionType": {
          "target": "com.amazonaws.sagemaker#CompressionType",
          "traits": {
            "smithy.api#documentation": "<p>If training data is compressed, the compression type. The default value is\n                <code>None</code>. <code>CompressionType</code> is used only in Pipe input mode. In\n            File mode, leave this field unset or set it to None.</p>"
          }
        },
        "ContentType": {
          "target": "com.amazonaws.sagemaker#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the data.</p>"
          }
        },
        "DataSource": {
          "target": "com.amazonaws.sagemaker#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The location of the channel data.</p>",
            "smithy.api#required": {}
          }
        },
        "InputMode": {
          "target": "com.amazonaws.sagemaker#TrainingInputMode",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The input mode to use for the data channel in a training job. If you don't\n            set a value for <code>InputMode</code>, Amazon SageMaker uses the value set for\n                <code>TrainingInputMode</code>. Use this parameter to override the\n                <code>TrainingInputMode</code> setting in a <a>AlgorithmSpecification</a>\n            request when you have a channel that needs a different input mode from the training\n            job's general setting. To download the data from Amazon Simple Storage Service (Amazon S3) to the provisioned ML\n            storage volume, and mount the directory to a Docker volume, use <code>File</code> input\n            mode. To stream data directly from Amazon S3 to the container, choose <code>Pipe</code> input\n            mode.</p>\n        <p>To use a model for incremental training, choose <code>File</code> input model.</p>"
          }
        },
        "RecordWrapperType": {
          "target": "com.amazonaws.sagemaker#RecordWrapper",
          "traits": {
            "smithy.api#documentation": "<p></p>\n        <p>Specify RecordIO as the value when input data is in raw format but the training\n            algorithm requires the RecordIO format. In this case, Amazon SageMaker wraps each individual S3\n            object in a RecordIO record. If the input data is already in RecordIO format, you don't\n            need to set this attribute. For more information, see <a href=\"https://mxnet.apache.org/api/architecture/note_data_loading#data-format\">Create\n                a Dataset Using RecordIO</a>. </p>\n        <p>In File mode, leave this field unset or set it to None.</p>"
          }
        },
        "ShuffleConfig": {
          "target": "com.amazonaws.sagemaker#ShuffleConfig",
          "traits": {
            "smithy.api#documentation": "<p>A configuration for a shuffle option for input data in a channel. If you use\n                <code>S3Prefix</code> for <code>S3DataType</code>, this shuffles the results of the\n            S3 key prefix matches. If you use <code>ManifestFile</code>, the order of the S3 object\n            references in the <code>ManifestFile</code> is shuffled. If you use\n                <code>AugmentedManifestFile</code>, the order of the JSON lines in the\n                <code>AugmentedManifestFile</code> is shuffled. The shuffling order is determined\n            using the <code>Seed</code> value.</p>\n        <p>For Pipe input mode, shuffling is done at the start of every epoch. With large\n            datasets this ensures that the order of the training data is different for each epoch,\n            it helps reduce bias and possible overfitting. In a multi-node training job when\n            ShuffleConfig is combined with <code>S3DataDistributionType</code> of\n                <code>ShardedByS3Key</code>, the data is shuffled across nodes so that the content\n            sent to a particular node on the first epoch might be sent to a different node on the\n            second epoch.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A channel is a named input source that training algorithms can consume. </p>"
      }
    },
    "com.amazonaws.sagemaker#ChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[A-Za-z0-9\\.\\-_]+"
      }
    },
    "com.amazonaws.sagemaker#ChannelSpecification": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.sagemaker#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the channel.</p>"
          }
        },
        "IsRequired": {
          "target": "com.amazonaws.sagemaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the channel is required by the algorithm.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.sagemaker#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "SupportedCompressionTypes": {
          "target": "com.amazonaws.sagemaker#CompressionTypes",
          "traits": {
            "smithy.api#documentation": "<p>The allowed compression types, if data compression is used.</p>"
          }
        },
        "SupportedContentTypes": {
          "target": "com.amazonaws.sagemaker#ContentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The supported MIME types for the data.</p>",
            "smithy.api#required": {}
          }
        },
        "SupportedInputModes": {
          "target": "com.amazonaws.sagemaker#InputModes",
          "traits": {
            "smithy.api#documentation": "<p>The allowed input mode, either FILE or PIPE.</p>\n        <p>In FILE mode, Amazon SageMaker copies the data from the input source onto the local\n            Amazon Elastic Block Store (Amazon EBS) volumes before starting your training algorithm.\n            This is the most commonly used input mode.</p>\n        <p>In PIPE mode, Amazon SageMaker streams input data from the source directly to your\n            algorithm without using the EBS volume.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a named input source, called a channel, to be used by an algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#ChannelSpecifications": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#ChannelSpecification"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazonaws.sagemaker#CheckpointConfig": {
      "type": "structure",
      "members": {
        "LocalPath": {
          "target": "com.amazonaws.sagemaker#DirectoryPath",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The local directory where checkpoints are written. The default directory is\n                <code>/opt/ml/checkpoints/</code>. </p>"
          }
        },
        "S3Uri": {
          "target": "com.amazonaws.sagemaker#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the S3 path where you want Amazon SageMaker to store checkpoints. For example,\n                <code>s3://bucket-name/key-name-prefix</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the output location for managed spot training checkpoint\n            data. </p>"
      }
    },
    "com.amazonaws.sagemaker#Cidr": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 64
        },
        "smithy.api#pattern": "(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/(3[0-2]|[1-2][0-9]|[0-9]))$)|(^s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:)))(%.+)?s*(\\/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9]))$)"
      }
    },
    "com.amazonaws.sagemaker#Cidrs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#Cidr"
      }
    },
    "com.amazonaws.sagemaker#CodeRepositoryArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:code-repository/.*"
      }
    },
    "com.amazonaws.sagemaker#CodeRepositoryContains": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "[a-zA-Z0-9-]+"
      }
    },
    "com.amazonaws.sagemaker#CodeRepositoryNameContains": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "[a-zA-Z0-9-]+"
      }
    },
    "com.amazonaws.sagemaker#CodeRepositoryNameOrUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^https://([^/]+)/?(.*)$|^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
      }
    },
    "com.amazonaws.sagemaker#CodeRepositorySortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Name",
            "name": "NAME"
          },
          {
            "value": "CreationTime",
            "name": "CREATION_TIME"
          },
          {
            "value": "LastModifiedTime",
            "name": "LAST_MODIFIED_TIME"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#CodeRepositorySortOrder": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Ascending",
            "name": "ASCENDING"
          },
          {
            "value": "Descending",
            "name": "DESCENDING"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#CodeRepositorySummary": {
      "type": "structure",
      "members": {
        "CodeRepositoryArn": {
          "target": "com.amazonaws.sagemaker#CodeRepositoryArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Git repository.</p>",
            "smithy.api#required": {}
          }
        },
        "CodeRepositoryName": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Git repository.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Git repository was created.</p>",
            "smithy.api#required": {}
          }
        },
        "GitConfig": {
          "target": "com.amazonaws.sagemaker#GitConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration details for the Git repository, including the URL where it is located\n            and the ARN of the AWS Secrets Manager secret that contains the credentials used to\n            access the repository.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.sagemaker#LastModifiedTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Git repository was last modified.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies summary information about a Git repository.</p>"
      }
    },
    "com.amazonaws.sagemaker#CodeRepositorySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#CodeRepositorySummary"
      }
    },
    "com.amazonaws.sagemaker#CognitoClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\w+]+"
      }
    },
    "com.amazonaws.sagemaker#CognitoMemberDefinition": {
      "type": "structure",
      "members": {
        "ClientId": {
          "target": "com.amazonaws.sagemaker#CognitoClientId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an application client. You must create the app client ID using\n            Amazon Cognito.</p>",
            "smithy.api#required": {}
          }
        },
        "UserGroup": {
          "target": "com.amazonaws.sagemaker#CognitoUserGroup",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for a user group.</p>",
            "smithy.api#required": {}
          }
        },
        "UserPool": {
          "target": "com.amazonaws.sagemaker#CognitoUserPool",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for a user pool. The user pool must be in the same region as the service\n            that you are calling.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifies a Amazon Cognito user group. A user group can be used in on or more work\n            teams.</p>"
      }
    },
    "com.amazonaws.sagemaker#CognitoUserGroup": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
      }
    },
    "com.amazonaws.sagemaker#CognitoUserPool": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 55
        },
        "smithy.api#pattern": "[\\w-]+_[0-9a-zA-Z]+"
      }
    },
    "com.amazonaws.sagemaker#CollectionConfiguration": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.sagemaker#CollectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tensor collection. The name must be unique relative to other rule configuration names.</p>"
          }
        },
        "CollectionParameters": {
          "target": "com.amazonaws.sagemaker#CollectionParameters",
          "traits": {
            "smithy.api#documentation": "<p>Parameter values for the tensor collection. The allowed parameters are\n                <code>\"name\"</code>, <code>\"include_regex\"</code>, <code>\"reduction_config\"</code>,\n                <code>\"save_config\"</code>, <code>\"tensor_names\"</code>, and\n                <code>\"save_histogram\"</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for tensor collections.</p>"
      }
    },
    "com.amazonaws.sagemaker#CollectionConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#CollectionConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.sagemaker#CollectionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#CollectionParameters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.sagemaker#ConfigKey"
      },
      "value": {
        "target": "com.amazonaws.sagemaker#ConfigValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.sagemaker#CompilationJobArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:compilation-job/.*"
      }
    },
    "com.amazonaws.sagemaker#CompilationJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INPROGRESS",
            "name": "INPROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#CompilationJobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#CompilationJobSummary"
      }
    },
    "com.amazonaws.sagemaker#CompilationJobSummary": {
      "type": "structure",
      "members": {
        "CompilationEndTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the model compilation job completed.</p>"
          }
        },
        "CompilationJobArn": {
          "target": "com.amazonaws.sagemaker#CompilationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the model compilation job.</p>",
            "smithy.api#required": {}
          }
        },
        "CompilationJobName": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the model compilation job that you want a summary for.</p>",
            "smithy.api#required": {}
          }
        },
        "CompilationJobStatus": {
          "target": "com.amazonaws.sagemaker#CompilationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the model compilation job.</p>",
            "smithy.api#required": {}
          }
        },
        "CompilationStartTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the model compilation job started.</p>"
          }
        },
        "CompilationTargetDevice": {
          "target": "com.amazonaws.sagemaker#TargetDevice",
          "traits": {
            "smithy.api#documentation": "<p>The type of device that the model will run on after compilation has completed.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the model compilation job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.sagemaker#LastModifiedTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the model compilation job was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of a model compilation job.</p>"
      }
    },
    "com.amazonaws.sagemaker#CompressionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "None",
            "name": "NONE"
          },
          {
            "value": "Gzip",
            "name": "GZIP"
          }
        ]
      }
    },
    "com.amazonaws.sagemaker#CompressionTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#CompressionType"
      }
    },
    "com.amazonaws.sagemaker#ConfigKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#ConfigValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemaker#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict when you attempted to modify an experiment, trial, or trial component.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.sagemaker#ContainerArgument": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#ContainerArguments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#ContainerArgument"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.sagemaker#ContainerDefinition": {
      "type": "structure",
      "members": {
        "ContainerHostname": {
          "target": "com.amazonaws.sagemaker#ContainerHostname",
          "traits": {
[...]
