{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sagemakermetrics#BatchGetMetrics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakermetrics#BatchGetMetricsRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemakermetrics#BatchGetMetricsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to retrieve training metrics from SageMaker.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetMetrics",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemakermetrics#BatchGetMetricsRequest": {
      "type": "structure",
      "members": {
        "MetricQueries": {
          "target": "com.amazonaws.sagemakermetrics#MetricQueryList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Queries made to retrieve training metrics from SageMaker.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakermetrics#BatchGetMetricsResponse": {
      "type": "structure",
      "members": {
        "MetricQueryResults": {
          "target": "com.amazonaws.sagemakermetrics#MetricQueryResultList",
          "traits": {
            "smithy.api#documentation": "<p>The results of a query to retrieve training metrics from SageMaker.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakermetrics#BatchPutMetrics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakermetrics#BatchPutMetricsRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemakermetrics#BatchPutMetricsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to ingest training metrics into SageMaker. These metrics can be visualized in SageMaker Studio.\n      </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/BatchPutMetrics",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemakermetrics#BatchPutMetricsError": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.sagemakermetrics#PutMetricsErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code of an error that occured when attempting to put metrics.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>METRIC_LIMIT_EXCEEDED</code>: The maximum amount of metrics per resource is\n               exceeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INTERNAL_ERROR</code>: An internal error occured.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VALIDATION_ERROR</code>: The metric data failed validation.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CONFLICT_ERROR</code>: Multiple requests attempted to modify the same data\n               simultaneously.</p>\n            </li>\n         </ul>"
          }
        },
        "MetricIndex": {
          "target": "com.amazonaws.sagemakermetrics#Integer",
          "traits": {
            "smithy.api#documentation": "<p>An index that corresponds to the metric in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error that occured when putting the metric data.</p>"
      }
    },
    "com.amazonaws.sagemakermetrics#BatchPutMetricsErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakermetrics#BatchPutMetricsError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.sagemakermetrics#BatchPutMetricsRequest": {
      "type": "structure",
      "members": {
        "TrialComponentName": {
          "target": "com.amazonaws.sagemakermetrics#ExperimentEntityName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the Trial Component to associate with the metrics. The Trial Component name must be entirely lowercase.</p>",
            "smithy.api#required": {}
          }
        },
        "MetricData": {
          "target": "com.amazonaws.sagemakermetrics#RawMetricDataList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A list of raw metric values to put.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakermetrics#BatchPutMetricsResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.sagemakermetrics#BatchPutMetricsErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Lists any errors that occur when inserting metric data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakermetrics#Double": {
      "type": "double"
    },
    "com.amazonaws.sagemakermetrics#ExperimentEntityName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 120
        },
        "smithy.api#pattern": "^[a-z0-9](-*[a-z0-9]){0,119}$"
      }
    },
    "com.amazonaws.sagemakermetrics#Integer": {
      "type": "integer"
    },
    "com.amazonaws.sagemakermetrics#Long": {
      "type": "long"
    },
    "com.amazonaws.sagemakermetrics#Message": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemakermetrics#MetricName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.sagemakermetrics#MetricQuery": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.sagemakermetrics#MetricName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the metric to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.sagemakermetrics#SageMakerResourceArn",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The ARN of the SageMaker resource to retrieve metrics for.</p>",
            "smithy.api#required": {}
          }
        },
        "MetricStat": {
          "target": "com.amazonaws.sagemakermetrics#MetricStatistic",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The metrics stat type of metrics to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "Period": {
          "target": "com.amazonaws.sagemakermetrics#Period",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The time period of metrics to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "XAxisType": {
          "target": "com.amazonaws.sagemakermetrics#XAxisType",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The x-axis type of metrics to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "Start": {
          "target": "com.amazonaws.sagemakermetrics#Long",
          "traits": {
            "smithy.api#documentation": "<p>The start time of metrics to retrieve.</p>"
          }
        },
        "End": {
          "target": "com.amazonaws.sagemakermetrics#Long",
          "traits": {
            "smithy.api#documentation": "<p>The end time of metrics to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a query to retrieve training metrics from SageMaker.</p>"
      }
    },
    "com.amazonaws.sagemakermetrics#MetricQueryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakermetrics#MetricQuery"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.sagemakermetrics#MetricQueryResult": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.sagemakermetrics#MetricQueryResultStatus",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The status of the metric query.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.sagemakermetrics#Message",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the status of the metric query.</p>"
          }
        },
        "XAxisValues": {
          "target": "com.amazonaws.sagemakermetrics#XAxisValues",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The values for the x-axis of the metrics.</p>",
            "smithy.api#required": {}
          }
        },
        "MetricValues": {
          "target": "com.amazonaws.sagemakermetrics#MetricValues",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The metric values retrieved by the query.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a query to retrieve training metrics from SageMaker.</p>"
      }
    },
    "com.amazonaws.sagemakermetrics#MetricQueryResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakermetrics#MetricQueryResult"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.sagemakermetrics#MetricQueryResultStatus": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        },
        "TRUNCATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Truncated"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InternalError"
          }
        },
        "VALIDATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationError"
          }
        }
      }
    },
    "com.amazonaws.sagemakermetrics#MetricStatistic": {
      "type": "enum",
      "members": {
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Max"
          }
        },
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Avg"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "STD_DEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StdDev"
          }
        },
        "LAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Last"
          }
        }
      }
    },
    "com.amazonaws.sagemakermetrics#MetricValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakermetrics#Double"
      }
    },
    "com.amazonaws.sagemakermetrics#Period": {
      "type": "enum",
      "members": {
        "ONE_MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneMinute"
          }
        },
        "FIVE_MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FiveMinute"
          }
        },
        "ONE_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneHour"
          }
        },
        "ITERATION_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IterationNumber"
          }
        }
      }
    },
    "com.amazonaws.sagemakermetrics#PutMetricsErrorCode": {
      "type": "enum",
      "members": {
        "METRIC_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_LIMIT_EXCEEDED"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "VALIDATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION_ERROR"
          }
        },
        "CONFLICT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT_ERROR"
          }
        }
      }
    },
    "com.amazonaws.sagemakermetrics#RawMetricData": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.sagemakermetrics#MetricName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.sagemakermetrics#Timestamp",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The time that the metric was recorded.</p>",
            "smithy.api#required": {}
          }
        },
        "Step": {
          "target": "com.amazonaws.sagemakermetrics#Step",
          "traits": {
            "smithy.api#documentation": "<p>The metric step (epoch).\n      </p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.sagemakermetrics#Double",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The metric value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The raw metric data to associate with the resource.</p>"
      }
    },
    "com.amazonaws.sagemakermetrics#RawMetricDataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakermetrics#RawMetricData"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.sagemakermetrics#SageMakerMetricsService": {
      "type": "service",
      "version": "2022-09-30",
      "operations": [
        {
          "target": "com.amazonaws.sagemakermetrics#BatchGetMetrics"
        },
        {
          "target": "com.amazonaws.sagemakermetrics#BatchPutMetrics"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SageMaker Metrics",
          "arnNamespace": "sagemaker",
          "cloudFormationName": "SageMakerMetrics",
          "cloudTrailEventSource": "sagemakermetrics.amazonaws.com",
          "endpointPrefix": "metrics.sagemaker"
        },
        "aws.auth#sigv4": {
          "name": "sagemaker"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Contains all data plane API operations and data types for Amazon SageMaker Metrics. \n         Use these APIs to put and retrieve (get) features related to your training run.</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_metrics_BatchPutMetrics.html\">BatchPutMetrics</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon SageMaker Metrics Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://metrics.sagemaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://metrics.sagemaker-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://metrics.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://metrics.sagemaker.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metrics.sagemaker.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.sagemakermetrics#SageMakerResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:[a-z\\-].*/"
      }
    },
    "com.amazonaws.sagemakermetrics#Step": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.sagemakermetrics#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.sagemakermetrics#XAxisType": {
      "type": "enum",
      "members": {
        "ITERATION_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IterationNumber"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timestamp"
          }
        }
      }
    },
    "com.amazonaws.sagemakermetrics#XAxisValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakermetrics#Long"
      }
    }
  }
}
