{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.sagemaker#Accept": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#AcceptEula": {
      "type": "boolean"
    },
    "com.amazonaws.sagemaker#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.sagemaker#ActionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:action/"
      }
    },
    "com.amazonaws.sagemaker#ActionSource": {
      "type": "structure",
      "members": {
        "SourceUri": {
          "target": "com.amazonaws.sagemaker#SourceUri",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The URI of the source.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceType": {
          "target": "com.amazonaws.sagemaker#String256",
          "traits": {
            "smithy.api#documentation": "<p>The type of the source.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.sagemaker#String256",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure describing the source of an action.</p>"
      }
    },
    "com.amazonaws.sagemaker#ActionStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopping"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#ActionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#ActionSummary"
      }
    },
    "com.amazonaws.sagemaker#ActionSummary": {
      "type": "structure",
      "members": {
        "ActionArn": {
          "target": "com.amazonaws.sagemaker#ActionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the action.</p>"
          }
        },
        "ActionName": {
          "target": "com.amazonaws.sagemaker#ExperimentEntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.sagemaker#ActionSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the action.</p>"
          }
        },
        "ActionType": {
          "target": "com.amazonaws.sagemaker#String64",
          "traits": {
            "smithy.api#documentation": "<p>The type of the action.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemaker#ActionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the action.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the action was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the action was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the properties of an <i>action</i>. An action represents an action or activity. Some examples are a workflow step and a model deployment. Generally, an action involves at least one input artifact or output artifact.</p>"
      }
    },
    "com.amazonaws.sagemaker#ActivationState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AddAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker#AddAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemaker#AddAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemaker#ResourceLimitExceeded"
        },
        {
          "target": "com.amazonaws.sagemaker#ResourceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <i>association</i> between the source and the destination. A source can be associated with multiple destinations, and a destination can be associated with multiple sources. An association is a lineage tracking entity. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/lineage-tracking.html\">Amazon SageMaker ML Lineage Tracking</a>.</p>"
      }
    },
    "com.amazonaws.sagemaker#AddAssociationRequest": {
      "type": "structure",
      "members": {
        "SourceArn": {
          "target": "com.amazonaws.sagemaker#AssociationEntityArn",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The ARN of the source.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationArn": {
          "target": "com.amazonaws.sagemaker#AssociationEntityArn",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "AssociationType": {
          "target": "com.amazonaws.sagemaker#AssociationEdgeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association. The following are suggested uses for each type. Amazon SageMaker places no restrictions on their use.</p> <ul> <li> <p>ContributedTo - The source contributed to the destination or had a part in enabling the destination. For example, the training data contributed to the training job.</p> </li> <li> <p>AssociatedWith - The source is connected to the destination. For example, an approval workflow is associated with a model deployment.</p> </li> <li> <p>DerivedFrom - The destination is a modification of the source. For example, a digest output of a channel input for a processing job is derived from the original inputs.</p> </li> <li> <p>Produced - The source generated the destination. For example, a training job produced a model artifact.</p> </li> </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemaker#AddAssociationResponse": {
      "type": "structure",
      "members": {
        "SourceArn": {
          "target": "com.amazonaws.sagemaker#AssociationEntityArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source.</p>"
          }
        },
        "DestinationArn": {
          "target": "com.amazonaws.sagemaker#AssociationEntityArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemaker#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemaker#AddTagsInput"
      },
      "output": {
        "target": "com.amazonaws.sagemaker#AddTagsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Adds or overwrites one or more tags for the specified SageMaker resource. You can add tags to notebook instances, training jobs, hyperparameter tuning jobs, batch transform jobs, models, labeling jobs, work teams, endpoint configurations, and endpoints.</p> <p>Each tag consists of a key and an optional value. Tag keys must be unique per resource. For more information about tags, see For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">Amazon Web Services Tagging Strategies</a>.</p> <note> <p>Tags that you add to a hyperparameter tuning job by calling this API are also added to any training jobs that the hyperparameter tuning job launches after you call this API, but not to training jobs that the hyperparameter tuning job launched before you called this API. To make sure that the tags associated with a hyperparameter tuning job are also added to all training jobs that the hyperparameter tuning job launches, add the tags when you first create the tuning job by specifying them in the <code>Tags</code> parameter of <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateHyperParameterTuningJob.html\">CreateHyperParameterTuningJob</a> </p> </note> <note> <p>Tags that you add to a SageMaker Domain or User Profile by calling this API are also added to any Apps that the Domain or User Profile launches after you call this API, but not to Apps that the Domain or User Profile launched before you called this API. To make sure that the tags associated with a Domain or User Profile are also added to all Apps that the Domain or User Profile launches, add the tags when you first create the Domain or User Profile by specifying them in the <code>Tags</code> parameter of <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateDomain.html\">CreateDomain</a> or <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateUserProfile.html\">CreateUserProfile</a>.</p> </note>"
      }
    },
    "com.amazonaws.sagemaker#AddTagsInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.sagemaker#ResourceArn",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that you want to tag.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.sagemaker#TagList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>An array of key-value pairs. You can use tags to categorize your Amazon Web Services resources in different ways, for example, by purpose, owner, or environment. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services Resources</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemaker#AddTagsOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.sagemaker#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with the SageMaker resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemaker#AdditionalCodeRepositoryNamesOrUrls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#CodeRepositoryNameOrUrl"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.sagemaker#AdditionalInferenceSpecificationDefinition": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A unique name to identify the additional inference specification. The name must be unique within the list of your additional inference specifications for a particular model package.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.sagemaker#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the additional Inference specification</p>"
          }
        },
        "Containers": {
          "target": "com.amazonaws.sagemaker#ModelPackageContainerDefinitionList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The Amazon ECR registry path of the Docker image that contains the inference code.</p>",
            "smithy.api#required": {}
          }
        },
        "SupportedTransformInstanceTypes": {
          "target": "com.amazonaws.sagemaker#TransformInstanceTypes",
          "traits": {
            "smithy.api#documentation": "<p>A list of the instance types on which a transformation job can be run or on which an endpoint can be deployed.</p>"
          }
        },
        "SupportedRealtimeInferenceInstanceTypes": {
          "target": "com.amazonaws.sagemaker#RealtimeInferenceInstanceTypes",
          "traits": {
            "smithy.api#documentation": "<p>A list of the instance types that are used to generate inferences in real-time.</p>"
          }
        },
        "SupportedContentTypes": {
          "target": "com.amazonaws.sagemaker#ContentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The supported MIME types for the input data.</p>"
          }
        },
        "SupportedResponseMIMETypes": {
          "target": "com.amazonaws.sagemaker#ResponseMIMETypes",
          "traits": {
            "smithy.api#documentation": "<p>The supported MIME types for the output data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure of additional Inference Specification. Additional Inference Specification specifies details about inference jobs that can be run with models based on this model package</p>"
      }
    },
    "com.amazonaws.sagemaker#AdditionalInferenceSpecifications": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AdditionalInferenceSpecificationDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 15
        }
      }
    },
    "com.amazonaws.sagemaker#AdditionalModelChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9\\.\\-_]+$"
      }
    },
    "com.amazonaws.sagemaker#AdditionalModelDataSource": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.sagemaker#AdditionalModelChannelName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A custom name for this <code>AdditionalModelDataSource</code> object.</p>",
            "smithy.api#required": {}
          }
        },
        "S3DataSource": {
          "target": "com.amazonaws.sagemaker#S3ModelDataSource",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data sources that are available to your model in addition to the one that you specify for <code>ModelDataSource</code> when you use the <code>CreateModel</code> action.</p>"
      }
    },
    "com.amazonaws.sagemaker#AdditionalModelDataSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AdditionalModelDataSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.sagemaker#AdditionalS3DataSource": {
      "type": "structure",
      "members": {
        "S3DataType": {
          "target": "com.amazonaws.sagemaker#AdditionalS3DataSourceDataType",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The data type of the additional data source that you specify for use in inference or training. </p>",
            "smithy.api#required": {}
          }
        },
        "S3Uri": {
          "target": "com.amazonaws.sagemaker#S3Uri",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The uniform resource identifier (URI) used to identify an additional data source used in inference or training.</p>",
            "smithy.api#required": {}
          }
        },
        "CompressionType": {
          "target": "com.amazonaws.sagemaker#CompressionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of compression used for an additional data source used in inference or training. Specify <code>None</code> if your additional data source is not compressed.</p>"
          }
        },
        "ETag": {
          "target": "com.amazonaws.sagemaker#String",
          "traits": {
            "smithy.api#documentation": "<p>The ETag associated with S3 URI.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A data source used for training or inference that is in addition to the input dataset or model data.</p>"
      }
    },
    "com.amazonaws.sagemaker#AdditionalS3DataSourceDataType": {
      "type": "enum",
      "members": {
        "S3OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3Object"
          }
        },
        "S3PREFIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3Prefix"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AgentVersion": {
      "type": "structure",
      "members": {
        "Version": {
          "target": "com.amazonaws.sagemaker#EdgeVersion",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Version of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "AgentCount": {
          "target": "com.amazonaws.sagemaker#Long",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The number of Edge Manager agents.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Edge Manager agent version.</p>"
      }
    },
    "com.amazonaws.sagemaker#AgentVersions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AgentVersion"
      }
    },
    "com.amazonaws.sagemaker#AggregationTransformationValue": {
      "type": "enum",
      "members": {
        "Sum": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "Avg": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg"
          }
        },
        "First": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first"
          }
        },
        "Min": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "Max": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AggregationTransformations": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.sagemaker#TransformationAttributeName"
      },
      "value": {
        "target": "com.amazonaws.sagemaker#AggregationTransformationValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.sagemaker#Alarm": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.sagemaker#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a CloudWatch alarm in your account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon CloudWatch alarm configured to monitor metrics on an endpoint.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlarmDetails": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.sagemaker#AlarmName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the alarm.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the alarm to monitor during the AMI update.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlarmList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#Alarm"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.sagemaker#AlarmName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?!\\s*$).+$"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-cn|-us-gov|-iso-f)?:sagemaker:[a-z0-9\\-]{9,16}:[0-9]{12}:algorithm/[\\S]{1,2048}$"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmImage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSortBy": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Name"
          }
        },
        "CREATION_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreationTime"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSpecification": {
      "type": "structure",
      "members": {
        "TrainingImage": {
          "target": "com.amazonaws.sagemaker#AlgorithmImage",
          "traits": {
            "smithy.api#documentation": "<p>The registry path of the Docker image that contains the training algorithm. For information about docker registry paths for SageMaker built-in algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-algo-docker-registry-paths.html\">Docker Registry Paths and Example Code</a> in the <i>Amazon SageMaker developer guide</i>. SageMaker supports both <code>registry/repository[:tag]</code> and <code>registry/repository[@digest]</code> image path formats. For more information about using your custom training container, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon SageMaker</a>.</p> <note> <p>You must specify either the algorithm name to the <code>AlgorithmName</code> parameter or the image URI of the algorithm container to the <code>TrainingImage</code> parameter.</p> <p>For more information, see the note in the <code>AlgorithmName</code> parameter description.</p> </note>"
          }
        },
        "AlgorithmName": {
          "target": "com.amazonaws.sagemaker#ArnOrName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm resource to use for the training job. This must be an algorithm resource that you created or subscribe to on Amazon Web Services Marketplace.</p> <note> <p>You must specify either the algorithm name to the <code>AlgorithmName</code> parameter or the image URI of the algorithm container to the <code>TrainingImage</code> parameter.</p> <p>Note that the <code>AlgorithmName</code> parameter is mutually exclusive with the <code>TrainingImage</code> parameter. If you specify a value for the <code>AlgorithmName</code> parameter, you can't specify a value for <code>TrainingImage</code>, and vice versa.</p> <p>If you specify values for both parameters, the training job might break; if you don't specify any value for both parameters, the training job might raise a <code>null</code> error.</p> </note>"
          }
        },
        "TrainingInputMode": {
          "target": "com.amazonaws.sagemaker#TrainingInputMode",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "MetricDefinitions": {
          "target": "com.amazonaws.sagemaker#MetricDefinitionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of metric definition objects. Each object specifies the metric name and regular expressions used to parse algorithm logs. SageMaker publishes each metric to Amazon CloudWatch.</p>"
          }
        },
        "EnableSageMakerMetricsTimeSeries": {
          "target": "com.amazonaws.sagemaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>To generate and save time-series metrics during training, set to <code>true</code>. The default is <code>false</code> and time-series metrics aren't generated except in the following cases:</p> <ul> <li> <p>You use one of the SageMaker built-in algorithms</p> </li> <li> <p>You use one of the following <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/pre-built-containers-frameworks-deep-learning.html\">Prebuilt SageMaker Docker Images</a>:</p> <ul> <li> <p>Tensorflow (version &gt;= 1.15)</p> </li> <li> <p>MXNet (version &gt;= 1.6)</p> </li> <li> <p>PyTorch (version &gt;= 1.3)</p> </li> </ul> </li> <li> <p>You specify at least one <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_MetricDefinition.html\">MetricDefinition</a> </p> </li> </ul>"
          }
        },
        "ContainerEntrypoint": {
          "target": "com.amazonaws.sagemaker#TrainingContainerEntrypoint",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.docker.com/engine/reference/builder/\">entrypoint script for a Docker container</a> used to run a training job. This script takes precedence over the default train processing instructions. See <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms-training-algo-dockerfile.html\">How Amazon SageMaker Runs Your Training Image</a> for more information.</p>"
          }
        },
        "ContainerArguments": {
          "target": "com.amazonaws.sagemaker#TrainingContainerArguments",
          "traits": {
            "smithy.api#documentation": "<p>The arguments for a container used to run a training job. See <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms-training-algo-dockerfile.html\">How Amazon SageMaker Runs Your Training Image</a> for additional information.</p>"
          }
        },
        "TrainingImageConfig": {
          "target": "com.amazonaws.sagemaker#TrainingImageConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration to use an image from a private Docker registry for a training job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the training algorithm to use in a <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateTrainingJob.html\">CreateTrainingJob</a> request.</p> <important> <p>SageMaker uses its own SageMaker account credentials to pull and access built-in algorithms so built-in algorithms are universally accessible across all Amazon Web Services accounts. As a result, built-in algorithms have standard, unrestricted access. You cannot restrict built-in algorithms using IAM roles. Use custom algorithms if you require specific access controls.</p> </important> <p>For more information about algorithms provided by SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. For information about using your own algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon SageMaker</a>. </p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatusDetails": {
      "type": "structure",
      "members": {
        "ValidationStatuses": {
          "target": "com.amazonaws.sagemaker#AlgorithmStatusItemList",
          "traits": {
            "smithy.api#documentation": "<p>The status of algorithm validation.</p>"
          }
        },
        "ImageScanStatuses": {
          "target": "com.amazonaws.sagemaker#AlgorithmStatusItemList",
          "traits": {
            "smithy.api#documentation": "<p>The status of the scan of the algorithm's Docker image container.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the validation and image scan statuses of the algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatusItem": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the algorithm for which the overall status is being reported.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemaker#DetailedAlgorithmStatus",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The current status.</p>",
            "smithy.api#required": {}
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.sagemaker#String",
          "traits": {
            "smithy.api#documentation": "<p>if the overall status is <code>Failed</code>, the reason for the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the overall status of an algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmStatusItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AlgorithmStatusItem"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSummary": {
      "type": "structure",
      "members": {
        "AlgorithmName": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the algorithm that is described by the summary.</p>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmArn": {
          "target": "com.amazonaws.sagemaker#AlgorithmArn",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmDescription": {
          "target": "com.amazonaws.sagemaker#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the algorithm.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#CreationTime",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A timestamp that shows when the algorithm was created.</p>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmStatus": {
          "target": "com.amazonaws.sagemaker#AlgorithmStatus",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The overall status of the algorithm.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about an algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AlgorithmSummary"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmValidationProfile": {
      "type": "structure",
      "members": {
        "ProfileName": {
          "target": "com.amazonaws.sagemaker#EntityName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the profile for the algorithm. The name must have 1 to 63 characters. Valid characters are a-z, A-Z, 0-9, and - (hyphen).</p>",
            "smithy.api#required": {}
          }
        },
        "TrainingJobDefinition": {
          "target": "com.amazonaws.sagemaker#TrainingJobDefinition",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The <code>TrainingJobDefinition</code> object that describes the training job that SageMaker runs to validate your algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "TransformJobDefinition": {
          "target": "com.amazonaws.sagemaker#TransformJobDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The <code>TransformJobDefinition</code> object that describes the transform job that SageMaker runs to validate your algorithm.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a training job and a batch transform job that SageMaker runs to validate your algorithm.</p> <p>The data provided in the validation profile is made available to your buyers on Amazon Web Services Marketplace.</p>"
      }
    },
    "com.amazonaws.sagemaker#AlgorithmValidationProfiles": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AlgorithmValidationProfile"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.sagemaker#AlgorithmValidationSpecification": {
      "type": "structure",
      "members": {
        "ValidationRole": {
          "target": "com.amazonaws.sagemaker#RoleArn",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The IAM roles that SageMaker uses to run the training jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "ValidationProfiles": {
          "target": "com.amazonaws.sagemaker#AlgorithmValidationProfiles",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>An array of <code>AlgorithmValidationProfile</code> objects, each of which specifies a training job and batch transform job that SageMaker runs to validate your algorithm.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies configurations for one or more training jobs that SageMaker runs to test the algorithm.</p>"
      }
    },
    "com.amazonaws.sagemaker#AmazonQSettings": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.sagemaker#FeatureStatus",
          "traits": {
            "smithy.api#documentation": "<p>Whether Amazon Q has been enabled within the domain.</p>"
          }
        },
        "QProfileArn": {
          "target": "com.amazonaws.sagemaker#QProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Q profile used within the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of settings that configure the Amazon Q experience within the domain.</p>"
      }
    },
    "com.amazonaws.sagemaker#AnnotationConsolidationConfig": {
      "type": "structure",
      "members": {
        "AnnotationConsolidationLambdaArn": {
          "target": "com.amazonaws.sagemaker#LambdaFunctionArn",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a Lambda function implements the logic for <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-annotation-consolidation.html\">annotation consolidation</a> and to process output data.</p> <p>For <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-task-types.html\">built-in task types</a>, use one of the following Amazon SageMaker Ground Truth Lambda function ARNs for <code>AnnotationConsolidationLambdaArn</code>. For custom labeling workflows, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-custom-templates-step3.html#sms-custom-templates-step3-postlambda\">Post-annotation Lambda</a>.</p> <p> <b>Bounding box</b> - Finds the most similar boxes from different workers based on the Jaccard index of the boxes.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-BoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-BoundingBox</code> </p> </li> </ul> <p> <b>Image classification</b> - Uses a variant of the Expectation Maximization approach to estimate the true class of an image based on annotations from individual workers.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-ImageMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-ImageMultiClass</code> </p> </li> </ul> <p> <b>Multi-label image classification</b> - Uses a variant of the Expectation Maximization approach to estimate the true classes of an image based on annotations from individual workers.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-ImageMultiClassMultiLabel</code> </p> </li> </ul> <p> <b>Semantic segmentation</b> - Treats each pixel in an image as a multi-class classification and treats pixel annotations from workers as \"votes\" for the correct label.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-SemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-SemanticSegmentation</code> </p> </li> </ul> <p> <b>Text classification</b> - Uses a variant of the Expectation Maximization approach to estimate the true class of text based on annotations from individual workers.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-TextMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-TextMultiClass</code> </p> </li> </ul> <p> <b>Multi-label text classification</b> - Uses a variant of the Expectation Maximization approach to estimate the true classes of text based on annotations from individual workers.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-TextMultiClassMultiLabel</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-TextMultiClassMultiLabel</code> </p> </li> </ul> <p> <b>Named entity recognition</b> - Groups similar selections and calculates aggregate boundaries, resolving to most-assigned label.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-NamedEntityRecognition</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-NamedEntityRecognition</code> </p> </li> </ul> <p> <b>Video Classification</b> - Use this task type when you need workers to classify videos using predefined labels that you specify. Workers are shown videos and are asked to choose one label for each video.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VideoMultiClass</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VideoMultiClass</code> </p> </li> </ul> <p> <b>Video Frame Object Detection</b> - Use this task type to have workers identify and locate objects in a sequence of video frames (images extracted from a video) using bounding boxes. For example, you can use this task to ask workers to identify and localize various objects in a series of video frames, such as cars, bikes, and pedestrians.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VideoObjectDetection</code> </p> </li> </ul> <p> <b>Video Frame Object Tracking</b> - Use this task type to have workers track the movement of objects in a sequence of video frames (images extracted from a video) using bounding boxes. For example, you can use this task to ask workers to track the movement of objects, such as cars, bikes, and pedestrians. </p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VideoObjectTracking</code> </p> </li> </ul> <p> <b>3D Point Cloud Object Detection</b> - Use this task type when you want workers to classify objects in a 3D point cloud by drawing 3D cuboids around objects. For example, you can use this task type to ask workers to identify different types of objects in a point cloud, such as cars, bikes, and pedestrians.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-3DPointCloudObjectDetection</code> </p> </li> </ul> <p> <b>3D Point Cloud Object Tracking</b> - Use this task type when you want workers to draw 3D cuboids around objects that appear in a sequence of 3D point cloud frames. For example, you can use this task type to ask workers to track the movement of vehicles across multiple point cloud frames. </p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-3DPointCloudObjectTracking</code> </p> </li> </ul> <p> <b>3D Point Cloud Semantic Segmentation</b> - Use this task type when you want workers to create a point-level semantic segmentation masks by painting objects in a 3D point cloud using different colors where each color is assigned to one of the classes you specify.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> </ul> <p> <b>Use the following ARNs for Label Verification and Adjustment Jobs</b> </p> <p>Use label verification and adjustment jobs to review and adjust labels. To learn more, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-verification-data.html\">Verify and Adjust Labels </a>.</p> <p> <b>Semantic Segmentation Adjustment</b> - Treats each pixel in an image as a multi-class classification and treats pixel adjusted annotations from workers as \"votes\" for the correct label.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentSemanticSegmentation</code> </p> </li> </ul> <p> <b>Semantic Segmentation Verification</b> - Uses a variant of the Expectation Maximization approach to estimate the true class of verification judgment for semantic segmentation labels based on annotations from individual workers.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VerificationSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VerificationSemanticSegmentation</code> </p> </li> </ul> <p> <b>Bounding Box Adjustment</b> - Finds the most similar boxes from different workers based on the Jaccard index of the adjusted annotations.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentBoundingBox</code> </p> </li> </ul> <p> <b>Bounding Box Verification</b> - Uses a variant of the Expectation Maximization approach to estimate the true class of verification judgement for bounding box labels based on annotations from individual workers.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-VerificationBoundingBox</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-VerificationBoundingBox</code> </p> </li> </ul> <p> <b>Video Frame Object Detection Adjustment</b> - Use this task type when you want workers to adjust bounding boxes that workers have added to video frames to classify and localize objects in a sequence of video frames.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentVideoObjectDetection</code> </p> </li> </ul> <p> <b>Video Frame Object Tracking Adjustment</b> - Use this task type when you want workers to adjust bounding boxes that workers have added to video frames to track object movement across a sequence of video frames.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-AdjustmentVideoObjectTracking</code> </p> </li> </ul> <p> <b>3D Point Cloud Object Detection Adjustment</b> - Use this task type when you want workers to adjust 3D cuboids around objects in a 3D point cloud. </p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-Adjustment3DPointCloudObjectDetection</code> </p> </li> </ul> <p> <b>3D Point Cloud Object Tracking Adjustment</b> - Use this task type when you want workers to adjust 3D cuboids around objects that appear in a sequence of 3D point cloud frames.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-Adjustment3DPointCloudObjectTracking</code> </p> </li> </ul> <p> <b>3D Point Cloud Semantic Segmentation Adjustment</b> - Use this task type when you want workers to adjust a point-level semantic segmentation masks using a paint tool.</p> <ul> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-1:432418664414:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-east-2:266458841044:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:us-west-2:081040173940:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-1:568282634449:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-1:477331159723:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-2:454466003867:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-south-1:565803892007:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-central-1:203001061592:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-northeast-2:845288260483:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:eu-west-2:487402164563:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ap-southeast-1:377565633583:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> <li> <p> <code>arn:aws:lambda:ca-central-1:918755190332:function:ACS-Adjustment3DPointCloudSemanticSegmentation</code> </p> </li> </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures how labels are consolidated across human workers and processes output data.</p>"
      }
    },
    "com.amazonaws.sagemaker#AppArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:app/"
      }
    },
    "com.amazonaws.sagemaker#AppDetails": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.sagemaker#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The domain ID.</p>"
          }
        },
        "UserProfileName": {
          "target": "com.amazonaws.sagemaker#UserProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The user profile name.</p>"
          }
        },
        "SpaceName": {
          "target": "com.amazonaws.sagemaker#SpaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>"
          }
        },
        "AppType": {
          "target": "com.amazonaws.sagemaker#AppType",
          "traits": {
            "smithy.api#documentation": "<p>The type of app.</p>"
          }
        },
        "AppName": {
          "target": "com.amazonaws.sagemaker#AppName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the app.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.sagemaker#AppStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time.</p>"
          }
        },
        "ResourceSpec": {
          "target": "com.amazonaws.sagemaker#ResourceSpec"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an Amazon SageMaker AI app.</p>"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:app-image-config/"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigDetails": {
      "type": "structure",
      "members": {
        "AppImageConfigArn": {
          "target": "com.amazonaws.sagemaker#AppImageConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AppImageConfig.</p>"
          }
        },
        "AppImageConfigName": {
          "target": "com.amazonaws.sagemaker#AppImageConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AppImageConfig. Must be unique to your account.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the AppImageConfig was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.sagemaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the AppImageConfig was last modified.</p>"
          }
        },
        "KernelGatewayImageConfig": {
          "target": "com.amazonaws.sagemaker#KernelGatewayImageConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the file system and kernels in the SageMaker AI image.</p>"
          }
        },
        "JupyterLabAppImageConfig": {
          "target": "com.amazonaws.sagemaker#JupyterLabAppImageConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the file system and the runtime, such as the environment variables and entry point.</p>"
          }
        },
        "CodeEditorAppImageConfig": {
          "target": "com.amazonaws.sagemaker#CodeEditorAppImageConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the file system and the runtime, such as the environment variables and entry point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for running a SageMaker AI image as a KernelGateway app.</p>"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemaker#AppImageConfigDetails"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,62}$"
      }
    },
    "com.amazonaws.sagemaker#AppImageConfigSortKey": {
      "type": "enum",
      "members": {
        "CreationTime": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreationTime"
          }
        },
        "LastModifiedTime": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LastModifiedTime"
          }
        },
        "Name": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Name"
          }
        }
      }
    },
    "com.amazonaws.sagemaker#AppInstanceType": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "ML_T3_MICRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.t3.micro"
          }
        },
        "ML_T3_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.t3.small"
          }
        },
        "ML_T3_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.t3.medium"
          }
        },
        "ML_T3_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.t3.large"
          }
        },
        "ML_T3_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.t3.xlarge"
          }
        },
        "ML_T3_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.t3.2xlarge"
          }
        },
        "ML_M5_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5.large"
          }
        },
        "ML_M5_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5.xlarge"
          }
        },
        "ML_M5_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5.2xlarge"
          }
        },
        "ML_M5_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5.4xlarge"
          }
        },
        "ML_M5_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5.8xlarge"
          }
        },
        "ML_M5_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5.12xlarge"
          }
        },
        "ML_M5_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5.16xlarge"
          }
        },
        "ML_M5_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5.24xlarge"
          }
        },
        "ML_M5D_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5d.large"
          }
        },
        "ML_M5D_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5d.xlarge"
          }
        },
        "ML_M5D_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5d.2xlarge"
          }
        },
        "ML_M5D_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5d.4xlarge"
          }
        },
        "ML_M5D_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5d.8xlarge"
          }
        },
        "ML_M5D_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5d.12xlarge"
          }
        },
        "ML_M5D_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5d.16xlarge"
          }
        },
        "ML_M5D_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m5d.24xlarge"
          }
        },
        "ML_C5_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c5.large"
          }
        },
        "ML_C5_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c5.xlarge"
          }
        },
        "ML_C5_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c5.2xlarge"
          }
        },
        "ML_C5_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c5.4xlarge"
          }
        },
        "ML_C5_9XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c5.9xlarge"
          }
        },
        "ML_C5_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c5.12xlarge"
          }
        },
        "ML_C5_18XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c5.18xlarge"
          }
        },
        "ML_C5_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c5.24xlarge"
          }
        },
        "ML_P3_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.p3.2xlarge"
          }
        },
        "ML_P3_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.p3.8xlarge"
          }
        },
        "ML_P3_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.p3.16xlarge"
          }
        },
        "ML_P3DN_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.p3dn.24xlarge"
          }
        },
        "ML_G4DN_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g4dn.xlarge"
          }
        },
        "ML_G4DN_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g4dn.2xlarge"
          }
        },
        "ML_G4DN_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g4dn.4xlarge"
          }
        },
        "ML_G4DN_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g4dn.8xlarge"
          }
        },
        "ML_G4DN_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g4dn.12xlarge"
          }
        },
        "ML_G4DN_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g4dn.16xlarge"
          }
        },
        "ML_R5_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r5.large"
          }
        },
        "ML_R5_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r5.xlarge"
          }
        },
        "ML_R5_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r5.2xlarge"
          }
        },
        "ML_R5_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r5.4xlarge"
          }
        },
        "ML_R5_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r5.8xlarge"
          }
        },
        "ML_R5_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r5.12xlarge"
          }
        },
        "ML_R5_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r5.16xlarge"
          }
        },
        "ML_R5_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r5.24xlarge"
          }
        },
        "ML_G5_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g5.xlarge"
          }
        },
        "ML_G5_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g5.2xlarge"
          }
        },
        "ML_G5_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g5.4xlarge"
          }
        },
        "ML_G5_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g5.8xlarge"
          }
        },
        "ML_G5_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g5.16xlarge"
          }
        },
        "ML_G5_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g5.12xlarge"
          }
        },
        "ML_G5_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g5.24xlarge"
          }
        },
        "ML_G5_48XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g5.48xlarge"
          }
        },
        "ML_G6_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6.xlarge"
          }
        },
        "ML_G6_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6.2xlarge"
          }
        },
        "ML_G6_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6.4xlarge"
          }
        },
        "ML_G6_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6.8xlarge"
          }
        },
        "ML_G6_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6.12xlarge"
          }
        },
        "ML_G6_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6.16xlarge"
          }
        },
        "ML_G6_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6.24xlarge"
          }
        },
        "ML_G6_48XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6.48xlarge"
          }
        },
        "ML_G6E_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6e.xlarge"
          }
        },
        "ML_G6E_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6e.2xlarge"
          }
        },
        "ML_G6E_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6e.4xlarge"
          }
        },
        "ML_G6E_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6e.8xlarge"
          }
        },
        "ML_G6E_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6e.12xlarge"
          }
        },
        "ML_G6E_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6e.16xlarge"
          }
        },
        "ML_G6E_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6e.24xlarge"
          }
        },
        "ML_G6E_48XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.g6e.48xlarge"
          }
        },
        "ML_GEOSPATIAL_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.geospatial.interactive"
          }
        },
        "ML_P4D_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.p4d.24xlarge"
          }
        },
        "ML_P4DE_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.p4de.24xlarge"
          }
        },
        "ML_TRN1_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.trn1.2xlarge"
          }
        },
        "ML_TRN1_32XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.trn1.32xlarge"
          }
        },
        "ML_TRN1N_32XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.trn1n.32xlarge"
          }
        },
        "ML_P5_48XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.p5.48xlarge"
          }
        },
        "ML_P5EN_48XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.p5en.48xlarge"
          }
        },
        "ML_M6I_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m6i.large"
          }
        },
        "ML_M6I_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m6i.xlarge"
          }
        },
        "ML_M6I_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m6i.2xlarge"
          }
        },
        "ML_M6I_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m6i.4xlarge"
          }
        },
        "ML_M6I_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m6i.8xlarge"
          }
        },
        "ML_M6I_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m6i.12xlarge"
          }
        },
        "ML_M6I_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m6i.16xlarge"
          }
        },
        "ML_M6I_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m6i.24xlarge"
          }
        },
        "ML_M6I_32XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m6i.32xlarge"
          }
        },
        "ML_M7I_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m7i.large"
          }
        },
        "ML_M7I_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m7i.xlarge"
          }
        },
        "ML_M7I_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m7i.2xlarge"
          }
        },
        "ML_M7I_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m7i.4xlarge"
          }
        },
        "ML_M7I_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m7i.8xlarge"
          }
        },
        "ML_M7I_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m7i.12xlarge"
          }
        },
        "ML_M7I_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m7i.16xlarge"
          }
        },
        "ML_M7I_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m7i.24xlarge"
          }
        },
        "ML_M7I_48XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.m7i.48xlarge"
          }
        },
        "ML_C6I_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c6i.large"
          }
        },
        "ML_C6I_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c6i.xlarge"
          }
        },
        "ML_C6I_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c6i.2xlarge"
          }
        },
        "ML_C6I_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c6i.4xlarge"
          }
        },
        "ML_C6I_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c6i.8xlarge"
          }
        },
        "ML_C6I_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c6i.12xlarge"
          }
        },
        "ML_C6I_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c6i.16xlarge"
          }
        },
        "ML_C6I_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c6i.24xlarge"
          }
        },
        "ML_C6I_32XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c6i.32xlarge"
          }
        },
        "ML_C7I_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c7i.large"
          }
        },
        "ML_C7I_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c7i.xlarge"
          }
        },
        "ML_C7I_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c7i.2xlarge"
          }
        },
        "ML_C7I_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c7i.4xlarge"
          }
        },
        "ML_C7I_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c7i.8xlarge"
          }
        },
        "ML_C7I_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c7i.12xlarge"
          }
        },
        "ML_C7I_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c7i.16xlarge"
          }
        },
        "ML_C7I_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c7i.24xlarge"
          }
        },
        "ML_C7I_48XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.c7i.48xlarge"
          }
        },
        "ML_R6I_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r6i.large"
          }
        },
        "ML_R6I_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r6i.xlarge"
          }
        },
        "ML_R6I_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r6i.2xlarge"
          }
        },
        "ML_R6I_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r6i.4xlarge"
          }
        },
        "ML_R6I_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r6i.8xlarge"
          }
        },
        "ML_R6I_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml.r6i.12xlarge"
          }
        },
        "ML_R6I_16XLARGE": {
[...]
