{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sagemakerruntime#AmazonSageMakerRuntime": {
      "type": "service",
      "version": "2017-05-13",
      "operations": [
        {
          "target": "com.amazonaws.sagemakerruntime#InvokeEndpoint"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#InvokeEndpointAsync"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#InvokeEndpointWithResponseStream"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SageMaker Runtime",
          "arnNamespace": "sagemaker",
          "cloudFormationName": "SageMakerRuntime",
          "cloudTrailEventSource": "sagemakerruntime.amazonaws.com",
          "docId": "runtime.sagemaker-2017-05-13",
          "endpointPrefix": "runtime.sagemaker"
        },
        "aws.auth#sigv4": {
          "name": "sagemaker"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p> The Amazon SageMaker runtime API. </p>",
        "smithy.api#title": "Amazon SageMaker Runtime",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://runtime.sagemaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://runtime-fips.sagemaker.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://runtime.sagemaker.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://runtime.sagemaker-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.sagemakerruntime#BodyBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 6291456
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sagemakerruntime#CustomAttributesHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^\\p{ASCII}*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sagemakerruntime#EnableExplanationsHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.sagemakerruntime#EndpointName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.sagemakerruntime#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.sagemakerruntime#Header": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^\\p{ASCII}*$"
      }
    },
    "com.amazonaws.sagemakerruntime#InferenceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^\\A\\S[\\p{Print}]*\\z$"
      }
    },
    "com.amazonaws.sagemakerruntime#InputLocationHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^(https|s3)://([^/]+)/?(.*)$"
      }
    },
    "com.amazonaws.sagemakerruntime#InternalDependencyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request caused an exception with an internal dependency. Contact customer\n            support. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 530
      }
    },
    "com.amazonaws.sagemakerruntime#InternalFailure": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An internal failure occurred. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.sagemakerruntime#InternalStreamFailure": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The stream processing failed because of an unknown error, exception or failure. Try your request again.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.sagemakerruntime#InvocationTimeoutSecondsHeader": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 3600
        }
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerruntime#InternalDependencyException"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#InternalFailure"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ModelError"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ModelNotReadyException"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ServiceUnavailable"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>After you deploy a model into production using Amazon SageMaker hosting services,\n            your client applications use this API to get inferences from the model hosted at the\n            specified endpoint. </p>\n         <p>For an overview of Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>\n         <p>Amazon SageMaker strips all POST headers except those supported by the API. Amazon SageMaker might add\n    additional headers. You should not rely on the behavior of headers outside those\n    enumerated in the request syntax. </p>\n         <p>Calls to <code>InvokeEndpoint</code> are authenticated by using Amazon Web Services\n            Signature Version 4. For information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html\">Authenticating\n                Requests (Amazon Web Services Signature Version 4)</a> in the <i>Amazon S3 API Reference</i>.</p>\n         <p>A customer's model containers must respond to requests within 60 seconds. The model\n            itself can have a maximum processing time of 60 seconds before responding to\n            invocations. If your model is going to take 50-60 seconds of processing time, the SDK\n            socket timeout should be set to be 70 seconds.</p>\n         <note>\n            <p>Endpoints are scoped to an individual account, and are not public. The URL does\n                not contain the account ID, but Amazon SageMaker determines the account ID from\n                the authentication token that is supplied by the caller.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/endpoints/{EndpointName}/invocations",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointAsync": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointAsyncInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointAsyncOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerruntime#InternalFailure"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ServiceUnavailable"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>After you deploy a model into production using Amazon SageMaker hosting services,\n            your client applications use this API to get inferences from the model hosted at the\n            specified endpoint in an asynchronous manner.</p>\n         <p>Inference requests sent to this API are enqueued for asynchronous processing. The\n            processing of the inference request may or may not complete before you receive a\n            response from this API. The response from this API will not contain the result of the\n            inference request but contain information about where you can locate it.</p>\n         <p>Amazon SageMaker strips all POST headers except those supported by the API. Amazon SageMaker might add\n    additional headers. You should not rely on the behavior of headers outside those\n    enumerated in the request syntax. </p>\n         <p>Calls to <code>InvokeEndpointAsync</code> are authenticated by using Amazon Web Services Signature Version 4. For information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html\">Authenticating\n                Requests (Amazon Web Services Signature Version 4)</a> in the <i>Amazon S3 API Reference</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/endpoints/{EndpointName}/async-invocations",
          "code": 202
        }
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointAsyncInput": {
      "type": "structure",
      "members": {
        "EndpointName": {
          "target": "com.amazonaws.sagemakerruntime#EndpointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint that you specified when you created the endpoint using the\n    <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> API.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the input data in the request body.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Content-Type"
          }
        },
        "Accept": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The desired MIME type of the inference response from the model container.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Accept"
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.sagemakerruntime#CustomAttributesHeader",
          "traits": {
            "smithy.api#documentation": "<p>Provides additional information about a request for an inference submitted to a model\n        hosted at an Amazon SageMaker endpoint. The information is an opaque value that is forwarded\n        verbatim. You could use this value, for example, to provide an ID that you can use to\n        track a request or to provide other metadata that a service endpoint was programmed to\n        process. The value must consist of no more than 1024 visible US-ASCII characters as\n        specified in <a href=\"https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.6\">Section 3.3.6. Field Value Components</a> of the Hypertext Transfer Protocol\n        (HTTP/1.1). </p>\n         <p>The code in your model is responsible for setting or updating any custom attributes in\n        the response. If your code does not set this value in the response, an empty value is\n        returned. For example, if a custom attribute represents the trace ID, your model can\n        prepend the custom attribute with <code>Trace ID:</code> in your post-processing\n        function. </p>\n         <p>This feature is currently supported in the Amazon Web Services SDKs but not in the Amazon SageMaker\n        Python SDK. </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Custom-Attributes"
          }
        },
        "InferenceId": {
          "target": "com.amazonaws.sagemakerruntime#InferenceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the inference request. Amazon SageMaker will generate an\n            identifier for you if none is specified. </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Inference-Id"
          }
        },
        "InputLocation": {
          "target": "com.amazonaws.sagemakerruntime#InputLocationHeader",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 URI where the inference request payload is stored.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-InputLocation",
            "smithy.api#required": {}
          }
        },
        "RequestTTLSeconds": {
          "target": "com.amazonaws.sagemakerruntime#RequestTTLSecondsHeader",
          "traits": {
            "smithy.api#documentation": "<p>Maximum age in seconds a request can be in the queue before it is marked as expired.\n            The default is 6 hours, or 21,600 seconds.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-RequestTTLSeconds"
          }
        },
        "InvocationTimeoutSeconds": {
          "target": "com.amazonaws.sagemakerruntime#InvocationTimeoutSecondsHeader",
          "traits": {
            "smithy.api#documentation": "<p>Maximum amount of time in seconds a request can be processed before it is marked as\n            expired. The default is 15 minutes, or 900 seconds.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-InvocationTimeoutSeconds"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointAsyncOutput": {
      "type": "structure",
      "members": {
        "InferenceId": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for an inference request. This will be the same as the\n                <code>InferenceId</code> specified in the input. Amazon SageMaker will generate\n            an identifier for you if you do not specify one.</p>"
          }
        },
        "OutputLocation": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 URI where the inference response payload is stored.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-OutputLocation"
          }
        },
        "FailureLocation": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 URI where the inference failure response payload is\n            stored.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-FailureLocation"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointInput": {
      "type": "structure",
      "members": {
        "EndpointName": {
          "target": "com.amazonaws.sagemakerruntime#EndpointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint that you specified when you created the endpoint using the\n    <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> API.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Body": {
          "target": "com.amazonaws.sagemakerruntime#BodyBlob",
          "traits": {
            "smithy.api#documentation": "<p>Provides input data, in the format specified in the <code>ContentType</code>\n    request header. Amazon SageMaker passes all of the data in the body to the model. </p>\n         <p>For information about the format of the request body, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html\">Common Data\n        Formats-Inference</a>.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the input data in the request body.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "Accept": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The desired MIME type of the inference response from the model container.</p>",
            "smithy.api#httpHeader": "Accept"
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.sagemakerruntime#CustomAttributesHeader",
          "traits": {
            "smithy.api#documentation": "<p>Provides additional information about a request for an inference submitted to a model\n        hosted at an Amazon SageMaker endpoint. The information is an opaque value that is forwarded\n        verbatim. You could use this value, for example, to provide an ID that you can use to\n        track a request or to provide other metadata that a service endpoint was programmed to\n        process. The value must consist of no more than 1024 visible US-ASCII characters as\n        specified in <a href=\"https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.6\">Section 3.3.6. Field Value Components</a> of the Hypertext Transfer Protocol\n        (HTTP/1.1). </p>\n         <p>The code in your model is responsible for setting or updating any custom attributes in\n        the response. If your code does not set this value in the response, an empty value is\n        returned. For example, if a custom attribute represents the trace ID, your model can\n        prepend the custom attribute with <code>Trace ID:</code> in your post-processing\n        function. </p>\n         <p>This feature is currently supported in the Amazon Web Services SDKs but not in the Amazon SageMaker\n        Python SDK. </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Custom-Attributes"
          }
        },
        "TargetModel": {
          "target": "com.amazonaws.sagemakerruntime#TargetModelHeader",
          "traits": {
            "smithy.api#documentation": "<p>The model to request for inference when invoking a multi-model endpoint.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Target-Model"
          }
        },
        "TargetVariant": {
          "target": "com.amazonaws.sagemakerruntime#TargetVariantHeader",
          "traits": {
            "smithy.api#documentation": "<p>Specify the production variant to send the inference request to when invoking an\n        endpoint that is running two or more variants. Note that this parameter overrides the\n        default behavior for the endpoint, which is to distribute the invocation traffic based\n        on the variant weights.</p>\n         <p>For information about how to use variant targeting to perform a/b testing, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/model-ab-testing.html\">Test models in\n            production</a>\n         </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Target-Variant"
          }
        },
        "TargetContainerHostname": {
          "target": "com.amazonaws.sagemakerruntime#TargetContainerHostnameHeader",
          "traits": {
            "smithy.api#documentation": "<p>If the endpoint hosts multiple containers and is configured to use direct invocation,\n        this parameter specifies the host name of the container to invoke.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Target-Container-Hostname"
          }
        },
        "InferenceId": {
          "target": "com.amazonaws.sagemakerruntime#InferenceId",
          "traits": {
            "smithy.api#documentation": "<p>If you provide a value, it is added to the captured data when you enable data capture\n            on the endpoint. For information about data capture, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/model-monitor-data-capture.html\">Capture\n            Data</a>.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Inference-Id"
          }
        },
        "EnableExplanations": {
          "target": "com.amazonaws.sagemakerruntime#EnableExplanationsHeader",
          "traits": {
            "smithy.api#documentation": "<p>An optional JMESPath expression used to override the <code>EnableExplanations</code>\n            parameter of the <code>ClarifyExplainerConfig</code> API. See the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/clarify-online-explainability-create-endpoint.html#clarify-online-explainability-create-endpoint-enable\">EnableExplanations</a> section in the developer guide for more information.\n        </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Enable-Explanations"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointOutput": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "com.amazonaws.sagemakerruntime#BodyBlob",
          "traits": {
            "smithy.api#documentation": "<p>Includes the inference provided by the model. </p>\n         <p>For information about the format of the response body, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html\">Common Data\n            Formats-Inference</a>.</p>\n         <p>If the explainer is activated, the body includes the explanations provided by the\n            model. For more information, see the <b>Response section</b>\n            under <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/clarify-online-explainability-invoke-endpoint.html#clarify-online-explainability-response\">Invoke the Endpoint</a> in the Developer Guide.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the inference returned from the model container.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "InvokedProductionVariant": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the production variant that was invoked.</p>",
            "smithy.api#httpHeader": "x-Amzn-Invoked-Production-Variant"
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.sagemakerruntime#CustomAttributesHeader",
          "traits": {
            "smithy.api#documentation": "<p>Provides additional information in the response about the inference returned by a\n        model hosted at an Amazon SageMaker endpoint. The information is an opaque value that is\n        forwarded verbatim. You could use this value, for example, to return an ID received in\n        the <code>CustomAttributes</code> header of a request or other metadata that a service\n        endpoint was programmed to produce. The value must consist of no more than 1024 visible\n        US-ASCII characters as specified in <a href=\"https://tools.ietf.org/html/rfc7230#section-3.2.6\">Section 3.3.6. Field Value\n            Components</a> of the Hypertext Transfer Protocol (HTTP/1.1). If the customer\n        wants the custom attribute returned, the model must set the custom attribute to be\n        included on the way back. </p>\n         <p>The code in your model is responsible for setting or updating any custom attributes in\n        the response. If your code does not set this value in the response, an empty value is\n        returned. For example, if a custom attribute represents the trace ID, your model can\n        prepend the custom attribute with <code>Trace ID:</code> in your post-processing\n        function.</p>\n         <p>This feature is currently supported in the Amazon Web Services SDKs but not in the Amazon SageMaker\n        Python SDK.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Custom-Attributes"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointWithResponseStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointWithResponseStreamInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointWithResponseStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerruntime#InternalFailure"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#InternalStreamFailure"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ModelError"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ModelStreamError"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ServiceUnavailable"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Invokes a model at the specified endpoint to return the inference response as a\n            stream. The inference stream provides the response payload incrementally as a series of\n            parts. Before you can get an inference stream, you must have access to a model that's\n            deployed using Amazon SageMaker hosting services, and the container for that model\n            must support inference streaming.</p>\n         <p>For more information that can help you use this API, see the following sections in the\n                    <i>Amazon SageMaker Developer Guide</i>:</p>\n         <ul>\n            <li>\n               <p>For information about how to add streaming support to a model, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms-inference-code.html#your-algorithms-inference-code-how-containe-serves-requests\">How Containers Serve Requests</a>.</p>\n            </li>\n            <li>\n               <p>For information about how to process the streaming response, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/realtime-endpoints-test-endpoints.html\">Invoke real-time endpoints</a>.</p>\n            </li>\n         </ul>\n         <p>Amazon SageMaker strips all POST headers except those supported by the API. Amazon SageMaker might add\n    additional headers. You should not rely on the behavior of headers outside those\n    enumerated in the request syntax. </p>\n         <p>Calls to <code>InvokeEndpointWithResponseStream</code> are authenticated by using\n                Amazon Web Services Signature Version 4. For information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html\">Authenticating Requests (Amazon Web Services Signature Version 4)</a> in the\n                    <i>Amazon S3 API Reference</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/endpoints/{EndpointName}/invocations-response-stream",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointWithResponseStreamInput": {
      "type": "structure",
      "members": {
        "EndpointName": {
          "target": "com.amazonaws.sagemakerruntime#EndpointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint that you specified when you created the endpoint using the\n    <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> API.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Body": {
          "target": "com.amazonaws.sagemakerruntime#BodyBlob",
          "traits": {
            "smithy.api#documentation": "<p>Provides input data, in the format specified in the <code>ContentType</code>\n    request header. Amazon SageMaker passes all of the data in the body to the model. </p>\n         <p>For information about the format of the request body, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html\">Common Data\n        Formats-Inference</a>.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the input data in the request body.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "Accept": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The desired MIME type of the inference response from the model container.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Accept"
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.sagemakerruntime#CustomAttributesHeader",
          "traits": {
            "smithy.api#documentation": "<p>Provides additional information about a request for an inference submitted to a model\n        hosted at an Amazon SageMaker endpoint. The information is an opaque value that is forwarded\n        verbatim. You could use this value, for example, to provide an ID that you can use to\n        track a request or to provide other metadata that a service endpoint was programmed to\n        process. The value must consist of no more than 1024 visible US-ASCII characters as\n        specified in <a href=\"https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.6\">Section 3.3.6. Field Value Components</a> of the Hypertext Transfer Protocol\n        (HTTP/1.1). </p>\n         <p>The code in your model is responsible for setting or updating any custom attributes in\n        the response. If your code does not set this value in the response, an empty value is\n        returned. For example, if a custom attribute represents the trace ID, your model can\n        prepend the custom attribute with <code>Trace ID:</code> in your post-processing\n        function. </p>\n         <p>This feature is currently supported in the Amazon Web Services SDKs but not in the Amazon SageMaker\n        Python SDK. </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Custom-Attributes"
          }
        },
        "TargetVariant": {
          "target": "com.amazonaws.sagemakerruntime#TargetVariantHeader",
          "traits": {
            "smithy.api#documentation": "<p>Specify the production variant to send the inference request to when invoking an\n        endpoint that is running two or more variants. Note that this parameter overrides the\n        default behavior for the endpoint, which is to distribute the invocation traffic based\n        on the variant weights.</p>\n         <p>For information about how to use variant targeting to perform a/b testing, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/model-ab-testing.html\">Test models in\n            production</a>\n         </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Target-Variant"
          }
        },
        "TargetContainerHostname": {
          "target": "com.amazonaws.sagemakerruntime#TargetContainerHostnameHeader",
          "traits": {
            "smithy.api#documentation": "<p>If the endpoint hosts multiple containers and is configured to use direct invocation,\n        this parameter specifies the host name of the container to invoke.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Target-Container-Hostname"
          }
        },
        "InferenceId": {
          "target": "com.amazonaws.sagemakerruntime#InferenceId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that you assign to your request.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Inference-Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointWithResponseStreamOutput": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "com.amazonaws.sagemakerruntime#ResponseStream",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the inference returned from the model container.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Content-Type"
          }
        },
        "InvokedProductionVariant": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the production variant that was invoked.</p>",
            "smithy.api#httpHeader": "x-Amzn-Invoked-Production-Variant"
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.sagemakerruntime#CustomAttributesHeader",
          "traits": {
            "smithy.api#documentation": "<p>Provides additional information in the response about the inference returned by a\n        model hosted at an Amazon SageMaker endpoint. The information is an opaque value that is\n        forwarded verbatim. You could use this value, for example, to return an ID received in\n        the <code>CustomAttributes</code> header of a request or other metadata that a service\n        endpoint was programmed to produce. The value must consist of no more than 1024 visible\n        US-ASCII characters as specified in <a href=\"https://tools.ietf.org/html/rfc7230#section-3.2.6\">Section 3.3.6. Field Value\n            Components</a> of the Hypertext Transfer Protocol (HTTP/1.1). If the customer\n        wants the custom attribute returned, the model must set the custom attribute to be\n        included on the way back. </p>\n         <p>The code in your model is responsible for setting or updating any custom attributes in\n        the response. If your code does not set this value in the response, an empty value is\n        returned. For example, if a custom attribute represents the trace ID, your model can\n        prepend the custom attribute with <code>Trace ID:</code> in your post-processing\n        function.</p>\n         <p>This feature is currently supported in the Amazon Web Services SDKs but not in the Amazon SageMaker\n        Python SDK.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Custom-Attributes"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakerruntime#LogStreamArn": {
      "type": "string"
    },
    "com.amazonaws.sagemakerruntime#Message": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.sagemakerruntime#ModelError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        },
        "OriginalStatusCode": {
          "target": "com.amazonaws.sagemakerruntime#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p> Original status code. </p>"
          }
        },
        "OriginalMessage": {
          "target": "com.amazonaws.sagemakerruntime#Message",
          "traits": {
            "smithy.api#documentation": "<p> Original message. </p>"
          }
        },
        "LogStreamArn": {
          "target": "com.amazonaws.sagemakerruntime#LogStreamArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the log stream. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Model (owned by the customer in the container) returned 4xx or 5xx error code.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.sagemakerruntime#ModelNotReadyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ModelNotReadyException",
          "httpResponseCode": 429
        },
        "smithy.api#documentation": "<p>Either a serverless endpoint variant's resources are still being provisioned, or a\n            multi-model endpoint is still downloading or loading the target model. Wait and try your\n            request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.sagemakerruntime#ModelStreamError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        },
        "ErrorCode": {
          "target": "com.amazonaws.sagemakerruntime#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>This error can have the following error codes:</p>\n         <dl>\n            <dt>ModelInvocationTimeExceeded</dt>\n            <dd>\n               <p>The model failed to finish sending the response within the timeout period\n                        allowed by Amazon SageMaker.</p>\n            </dd>\n            <dt>StreamBroken</dt>\n            <dd>\n               <p>The Transmission Control Protocol (TCP) connection between the client and\n                        the model was reset or closed.</p>\n            </dd>\n         </dl>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An error occurred while streaming the response body. This error can have the\n    following error codes:</p>\n         <dl>\n            <dt>ModelInvocationTimeExceeded</dt>\n            <dd>\n               <p>The model failed to finish sending the response within the timeout period allowed by Amazon SageMaker.</p>\n            </dd>\n            <dt>StreamBroken</dt>\n            <dd>\n               <p>The Transmission Control Protocol (TCP) connection between the client and\n                    the model was reset or closed.</p>\n            </dd>\n         </dl>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.sagemakerruntime#PartBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sagemakerruntime#PayloadPart": {
      "type": "structure",
      "members": {
        "Bytes": {
          "target": "com.amazonaws.sagemakerruntime#PartBlob",
          "traits": {
            "smithy.api#documentation": "<p>A blob that contains part of the response for your streaming inference request.</p>",
            "smithy.api#eventPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A wrapper for pieces of the payload that's returned in response to a streaming\n        inference request. A streaming inference response consists of one or more payload parts.\n    </p>"
      }
    },
    "com.amazonaws.sagemakerruntime#RequestTTLSecondsHeader": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 60,
          "max": 21600
        }
      }
    },
    "com.amazonaws.sagemakerruntime#ResponseStream": {
      "type": "union",
      "members": {
        "PayloadPart": {
          "target": "com.amazonaws.sagemakerruntime#PayloadPart",
          "traits": {
            "smithy.api#documentation": "<p>A wrapper for pieces of the payload that's returned in response to a streaming\n        inference request. A streaming inference response consists of one or more payload parts.\n    </p>"
          }
        },
        "ModelStreamError": {
          "target": "com.amazonaws.sagemakerruntime#ModelStreamError",
          "traits": {
            "smithy.api#documentation": "<p> An error occurred while streaming the response body. This error can have the\n    following error codes:</p>\n         <dl>\n            <dt>ModelInvocationTimeExceeded</dt>\n            <dd>\n               <p>The model failed to finish sending the response within the timeout period allowed by Amazon SageMaker.</p>\n            </dd>\n            <dt>StreamBroken</dt>\n            <dd>\n               <p>The Transmission Control Protocol (TCP) connection between the client and\n                    the model was reset or closed.</p>\n            </dd>\n         </dl>"
          }
        },
        "InternalStreamFailure": {
          "target": "com.amazonaws.sagemakerruntime#InternalStreamFailure",
          "traits": {
            "smithy.api#documentation": "<p>The stream processing failed because of an unknown error, exception or failure. Try your request again.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A stream of payload parts. Each part contains a portion of the response for a\n            streaming inference request.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.sagemakerruntime#ServiceUnavailable": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The service is unavailable. Try your call again. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.sagemakerruntime#StatusCode": {
      "type": "integer"
    },
    "com.amazonaws.sagemakerruntime#TargetContainerHostnameHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.sagemakerruntime#TargetModelHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^\\A\\S[\\p{Print}]*\\z$"
      }
    },
    "com.amazonaws.sagemakerruntime#TargetVariantHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.sagemakerruntime#ValidationError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Inspect your request and try again. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}