{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sagemakerruntime#AmazonSageMakerRuntime": {
      "type": "service",
      "version": "2017-05-13",
      "operations": [
        {
          "target": "com.amazonaws.sagemakerruntime#InvokeEndpoint"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#InvokeEndpointAsync"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SageMaker Runtime",
          "arnNamespace": "sagemaker",
          "cloudFormationName": "SageMakerRuntime",
          "cloudTrailEventSource": "sagemakerruntime.amazonaws.com",
          "endpointPrefix": "runtime.sagemaker"
        },
        "aws.auth#sigv4": {
          "name": "sagemaker"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p> The Amazon SageMaker runtime API. </p>",
        "smithy.api#title": "Amazon SageMaker Runtime"
      }
    },
    "com.amazonaws.sagemakerruntime#BodyBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 6291456
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sagemakerruntime#CustomAttributesHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^\\p{ASCII}*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sagemakerruntime#EndpointName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.sagemakerruntime#Header": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^\\p{ASCII}*$"
      }
    },
    "com.amazonaws.sagemakerruntime#InferenceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^\\A\\S[\\p{Print}]*\\z$"
      }
    },
    "com.amazonaws.sagemakerruntime#InputLocationHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^(https|s3)://([^/]+)/?(.*)$"
      }
    },
    "com.amazonaws.sagemakerruntime#InternalFailure": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An internal failure occurred. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerruntime#InternalFailure"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ModelError"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ServiceUnavailable"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>After you deploy a model into production using Amazon SageMaker hosting services, your\n            client applications use this API to get inferences from the model hosted at the\n            specified endpoint. </p>\n        <p>For an overview of Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>\n        <p>Amazon SageMaker strips all POST headers except those supported by the API. Amazon SageMaker might add\n            additional headers. You should not rely on the behavior of headers outside those\n            enumerated in the request syntax. </p>\n        <p>Calls to <code>InvokeEndpoint</code> are authenticated by using AWS Signature Version\n            4. For information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html\">Authenticating\n                Requests (AWS Signature Version 4)</a> in the <i>Amazon S3 API\n                Reference</i>.</p>\n        <p>A customer's model containers must respond to requests within 60 seconds. The model\n            itself can have a maximum processing time of 60 seconds before responding to\n            invocations. If your model is going to take 50-60 seconds of processing time, the SDK\n            socket timeout should be set to be 70 seconds.</p>\n        <note>\n            <p>Endpoints are scoped to an individual account, and are not public. The URL does\n                not contain the account ID, but Amazon SageMaker determines the account ID from the\n                authentication token that is supplied by the caller.</p>\n        </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/endpoints/{EndpointName}/invocations",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointAsync": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointAsyncInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakerruntime#InvokeEndpointAsyncOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerruntime#InternalFailure"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ServiceUnavailable"
        },
        {
          "target": "com.amazonaws.sagemakerruntime#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>After you deploy a model into production using Amazon SageMaker hosting services, \n            your client applications use this API to get inferences from the model hosted at \n            the specified endpoint in an asynchronous manner.</p>\n        \n        <p>Inference requests sent to this API are enqueued for asynchronous processing. \n            The processing of the inference request may or may not complete before the \n            you receive a response from this API. The response from this API will \n            not contain the result of the inference request but contain information \n            about where you can locate it.</p>\n        \n        <p>Amazon SageMaker strips all <code>POST</code> headers except those supported by the API. \n            Amazon SageMaker might add additional headers. You should not rely on the behavior \n            of headers outside those enumerated in the request syntax.</p>\n        \n        <p>Calls to <code>InvokeEndpointAsync</code> are authenticated by using AWS Signature\n            Version 4. For information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html\">Authenticating Requests (AWS Signature Version 4)</a> in the <i>Amazon S3 API\n                Reference</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/endpoints/{EndpointName}/async-invocations",
          "code": 202
        }
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointAsyncInput": {
      "type": "structure",
      "members": {
        "EndpointName": {
          "target": "com.amazonaws.sagemakerruntime#EndpointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint that you specified when you created the endpoint using \n            the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateEndpoint.html\">\n               <code>CreateEndpoint</code>\n            </a> API.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the input data in the request body.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Content-Type"
          }
        },
        "Accept": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The desired MIME type of the inference in the response.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Accept"
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.sagemakerruntime#CustomAttributesHeader",
          "traits": {
            "smithy.api#documentation": "<p>Provides additional information about a request for an inference submitted to \n            a model hosted at an Amazon SageMaker endpoint. The information is an opaque value that is \n            forwarded verbatim. You could use this value, for example, to provide an ID that you \n            can use to track a request or to provide other metadata that a service endpoint was \n            programmed to process. The value must consist of no more than 1024 \n            visible US-ASCII characters as specified in \n            <a href=\"https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.6\">Section 3.3.6. \n                Field Value Components</a> of the Hypertext Transfer Protocol (HTTP/1.1). </p>\n        \n        <p>The code in your model is responsible for setting or updating any custom attributes \n            in the response. If your code does not set this value in the response, an empty \n            value is returned. For example, if a custom attribute represents the trace ID, \n            your model can prepend the custom attribute with <code>Trace ID</code>: in your post-processing function. </p>\n        \n        <p>This feature is currently supported in the AWS SDKs but not in the Amazon SageMaker Python SDK. </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Custom-Attributes"
          }
        },
        "InferenceId": {
          "target": "com.amazonaws.sagemakerruntime#InferenceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the inference request. Amazon SageMaker will generate an identifier for you \n            if none is specified. </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Inference-Id"
          }
        },
        "InputLocation": {
          "target": "com.amazonaws.sagemakerruntime#InputLocationHeader",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 URI where the inference request payload is stored.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-InputLocation",
            "smithy.api#required": {}
          }
        },
        "RequestTTLSeconds": {
          "target": "com.amazonaws.sagemakerruntime#RequestTTLSecondsHeader",
          "traits": {
            "smithy.api#documentation": "<p>Maximum age in seconds a request can be in the queue before it is marked as expired.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-RequestTTLSeconds"
          }
        }
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointAsyncOutput": {
      "type": "structure",
      "members": {
        "InferenceId": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for an inference request. This will be the same as the <code>InferenceId</code> specified \n            in the input. Amazon SageMaker will generate an identifier for you if you do not specify one.</p>"
          }
        },
        "OutputLocation": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 URI where the inference response payload is stored.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-OutputLocation"
          }
        }
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointInput": {
      "type": "structure",
      "members": {
        "EndpointName": {
          "target": "com.amazonaws.sagemakerruntime#EndpointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint that you specified when you created the endpoint using the\n                <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> API. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Body": {
          "target": "com.amazonaws.sagemakerruntime#BodyBlob",
          "traits": {
            "smithy.api#documentation": "<p>Provides input data, in the format specified in the <code>ContentType</code>\n            request header. Amazon SageMaker passes all of the data in the body to the model. </p>\n        <p>For information about the format of the request body, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html\">Common Data\n                Formats-Inference</a>.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the input data in the request body.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "Accept": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The desired MIME type of the inference in the response.</p>",
            "smithy.api#httpHeader": "Accept"
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.sagemakerruntime#CustomAttributesHeader",
          "traits": {
            "smithy.api#documentation": "<p>Provides additional information about a request for an inference submitted to a model\n            hosted at an Amazon SageMaker endpoint. The information is an opaque value that is\n            forwarded verbatim. You could use this value, for example, to provide an ID that you can\n            use to track a request or to provide other metadata that a service endpoint was\n            programmed to process. The value must consist of no more than 1024 visible US-ASCII\n            characters as specified in <a href=\"https://tools.ietf.org/html/rfc7230#section-3.2.6\">Section 3.3.6. Field Value\n                Components</a> of the Hypertext Transfer Protocol (HTTP/1.1). </p>\n        <p>The code in your model is responsible for setting or updating any custom attributes in\n            the response. If your code does not set this value in the response, an empty value is\n            returned. For example, if a custom attribute represents the trace ID, your model can\n            prepend the custom attribute with <code>Trace ID:</code> in your post-processing\n            function.</p>\n\n        <p>This feature is currently supported in the AWS SDKs but not in the Amazon SageMaker Python\n            SDK.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Custom-Attributes"
          }
        },
        "TargetModel": {
          "target": "com.amazonaws.sagemakerruntime#TargetModelHeader",
          "traits": {
            "smithy.api#documentation": "<p>The model to request for inference when invoking a multi-model endpoint.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Target-Model"
          }
        },
        "TargetVariant": {
          "target": "com.amazonaws.sagemakerruntime#TargetVariantHeader",
          "traits": {
            "smithy.api#documentation": "<p>Specify the production variant to send the inference request to when invoking an\n            endpoint that is running two or more variants. Note that this parameter overrides the\n            default behavior for the endpoint, which is to distribute the invocation traffic based\n            on the variant weights.</p>\n        <p>For information about how to use variant targeting to perform a/b testing, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/model-ab-testing.html\">Test models in\n                production</a>\n         </p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Target-Variant"
          }
        },
        "TargetContainerHostname": {
          "target": "com.amazonaws.sagemakerruntime#TargetContainerHostnameHeader",
          "traits": {
            "smithy.api#documentation": "<p>If the endpoint hosts multiple containers and is configured to use direct invocation,\n            this parameter specifies the host name of the container to invoke.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Target-Container-Hostname"
          }
        },
        "InferenceId": {
          "target": "com.amazonaws.sagemakerruntime#InferenceId",
          "traits": {
            "smithy.api#documentation": "<p>If you provide a value, it is added to the captured data when you enable data capture\n            on the endpoint. For information about data capture, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/model-monitor-data-capture.html\">Capture\n            Data</a>.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Inference-Id"
          }
        }
      }
    },
    "com.amazonaws.sagemakerruntime#InvokeEndpointOutput": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "com.amazonaws.sagemakerruntime#BodyBlob",
          "traits": {
            "smithy.api#documentation": "<p>Includes the inference provided by the model.</p>\n        <p>For information about the format of the response body, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html\">Common Data\n                Formats-Inference</a>.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the inference returned in the response body.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "InvokedProductionVariant": {
          "target": "com.amazonaws.sagemakerruntime#Header",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the production variant that was invoked.</p>",
            "smithy.api#httpHeader": "x-Amzn-Invoked-Production-Variant"
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.sagemakerruntime#CustomAttributesHeader",
          "traits": {
            "smithy.api#documentation": "<p>Provides additional information in the response about the inference returned by a\n            model hosted at an Amazon SageMaker endpoint. The information is an opaque value that is\n            forwarded verbatim. You could use this value, for example, to return an ID received in\n            the <code>CustomAttributes</code> header of a request or other metadata that a service\n            endpoint was programmed to produce. The value must consist of no more than 1024 visible\n            US-ASCII characters as specified in <a href=\"https://tools.ietf.org/html/rfc7230#section-3.2.6\">Section 3.3.6. Field Value\n                Components</a> of the Hypertext Transfer Protocol (HTTP/1.1). If the customer\n            wants the custom attribute returned, the model must set the custom attribute to be\n            included on the way back. </p>\n        <p>The code in your model is responsible for setting or updating any custom attributes in\n            the response. If your code does not set this value in the response, an empty value is\n            returned. For example, if a custom attribute represents the trace ID, your model can\n            prepend the custom attribute with <code>Trace ID:</code> in your post-processing\n            function.</p>\n        <p>This feature is currently supported in the AWS SDKs but not in the Amazon SageMaker Python\n            SDK.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Custom-Attributes"
          }
        }
      }
    },
    "com.amazonaws.sagemakerruntime#LogStreamArn": {
      "type": "string"
    },
    "com.amazonaws.sagemakerruntime#Message": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.sagemakerruntime#ModelError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        },
        "OriginalStatusCode": {
          "target": "com.amazonaws.sagemakerruntime#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p> Original status code. </p>"
          }
        },
        "OriginalMessage": {
          "target": "com.amazonaws.sagemakerruntime#Message",
          "traits": {
            "smithy.api#documentation": "<p> Original message. </p>"
          }
        },
        "LogStreamArn": {
          "target": "com.amazonaws.sagemakerruntime#LogStreamArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the log stream. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Model (owned by the customer in the container) returned 4xx or 5xx error code.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.sagemakerruntime#RequestTTLSecondsHeader": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 60,
          "max": 21600
        }
      }
    },
    "com.amazonaws.sagemakerruntime#ServiceUnavailable": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The service is unavailable. Try your call again. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.sagemakerruntime#StatusCode": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.sagemakerruntime#TargetContainerHostnameHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.sagemakerruntime#TargetModelHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^\\A\\S[\\p{Print}]*\\z$"
      }
    },
    "com.amazonaws.sagemakerruntime#TargetVariantHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.sagemakerruntime#ValidationError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Inspect your request and try again. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
