{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have permission to perform an action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#AmazonSageMakerFeatureStoreRuntime": {
      "type": "service",
      "version": "2020-07-01",
      "operations": [
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecord"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#DeleteRecord"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#GetRecord"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#PutRecord"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SageMaker FeatureStore Runtime",
          "arnNamespace": "sagemaker",
          "cloudFormationName": "SageMakerFeatureStoreRuntime",
          "cloudTrailEventSource": "sagemakerfeaturestoreruntime.amazonaws.com",
          "endpointPrefix": "featurestore-runtime.sagemaker"
        },
        "aws.auth#sigv4": {
          "name": "sagemaker"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Contains all data plane API operations and data types for the Amazon SageMaker Feature\n         Store. Use this API to put, delete, and retrieve (get) features from a feature\n         store.</p>\n         <p>Use the following operations to configure your <code>OnlineStore</code> and\n            <code>OfflineStore</code> features, and to create and manage feature groups:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateFeatureGroup.html\">CreateFeatureGroup</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_DeleteFeatureGroup.html\">DeleteFeatureGroup</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_DescribeFeatureGroup.html\">DescribeFeatureGroup</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_ListFeatureGroups.html\">ListFeatureGroups</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon SageMaker Feature Store Runtime",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://featurestore-runtime.sagemaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://featurestore-runtime.sagemaker-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://featurestore-runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://featurestore-runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a batch of <code>Records</code> from a <code>FeatureGroup</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetRecord",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordError": {
      "type": "structure",
      "members": {
        "FeatureGroupName": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature group that the record belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "RecordIdentifierValueAsString": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
          "traits": {
            "smithy.api#documentation": "<p>The value for the <code>RecordIdentifier</code> in string format of a Record from a <code>FeatureGroup</code> that is causing \n      an error when attempting to be retrieved.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
          "traits": {
            "smithy.api#documentation": "<p>The error code of an error that has occured when attempting to retrieve a batch of\n         Records. For more information on errors, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_feature_store_GetRecord.html#API_feature_store_GetRecord_Errors\">Errors</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#Message",
          "traits": {
            "smithy.api#documentation": "<p>The error message of an error that has occured when attempting to retrieve a record in the batch.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The error that has occurred when attempting to retrieve a batch of Records.</p>"
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifier": {
      "type": "structure",
      "members": {
        "FeatureGroupName": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupName",
          "traits": {
            "smithy.api#documentation": "<p>A <code>FeatureGroupName</code> containing Records you are retrieving in a batch.</p>",
            "smithy.api#required": {}
          }
        },
        "RecordIdentifiersValueAsString": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#RecordIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>The value for a list of record identifiers in string format.</p>",
            "smithy.api#required": {}
          }
        },
        "FeatureNames": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#FeatureNames",
          "traits": {
            "smithy.api#documentation": "<p>List of names of Features to be retrieved. If not specified, the latest value for all\n         the Features are returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The identifier that identifies the batch of Records you are retrieving in a batch.</p>"
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordRequest": {
      "type": "structure",
      "members": {
        "Identifiers": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>FeatureGroup</code> names, with their corresponding <code>RecordIdentifier</code> value, and Feature name\n      that have been requested to be retrieved in batch.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResponse": {
      "type": "structure",
      "members": {
        "Records": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResultDetails",
          "traits": {
            "smithy.api#documentation": "<p>A list of Records you requested to be retrieved in batch.</p>",
            "smithy.api#required": {}
          }
        },
        "Errors": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of errors that have occurred when retrieving a batch of Records.</p>",
            "smithy.api#required": {}
          }
        },
        "UnprocessedIdentifiers": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#UnprocessedIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>A unprocessed list of <code>FeatureGroup</code> names, with their corresponding <code>RecordIdentifier</code> value, \n       and Feature name.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResultDetail": {
      "type": "structure",
      "members": {
        "FeatureGroupName": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
          "traits": {
            "smithy.api#documentation": "<p>The <code>FeatureGroupName</code> containing Records you retrieved in a batch.</p>",
            "smithy.api#required": {}
          }
        },
        "RecordIdentifierValueAsString": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
          "traits": {
            "smithy.api#documentation": "<p>The value of the record identifer in string format.</p>",
            "smithy.api#required": {}
          }
        },
        "Record": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#Record",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Record</code> retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output of Records that have been retrieved in a batch.</p>"
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResultDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResultDetail"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#DeleteRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#DeleteRecordRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>Record</code> from a <code>FeatureGroup</code>. When the <code>DeleteRecord</code> API is called a new record will be added to the <code>OfflineStore</code> and the <code>Record</code> will be removed from the <code>OnlineStore</code>. This\n         record will have a value of <code>True</code> in the <code>is_deleted</code> column.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/FeatureGroup/{FeatureGroupName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#DeleteRecordRequest": {
      "type": "structure",
      "members": {
        "FeatureGroupName": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature group to delete the record from. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RecordIdentifierValueAsString": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
          "traits": {
            "smithy.api#documentation": "<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in\n         string format. </p>",
            "smithy.api#httpQuery": "RecordIdentifierValueAsString",
            "smithy.api#required": {}
          }
        },
        "EventTime": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be\n         used to query data at a certain point in time.</p>",
            "smithy.api#httpQuery": "EventTime",
            "smithy.api#required": {}
          }
        },
        "TargetStores": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#TargetStores",
          "traits": {
            "smithy.api#documentation": "<p>A list of stores from which you're deleting the record. By default, Feature Store deletes the record from all of the stores that you're using for the <code>FeatureGroup</code>.</p>",
            "smithy.api#httpQuery": "TargetStores"
          }
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,63}$"
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#FeatureName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]([-_]*[a-zA-Z0-9]){0,63}$"
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#FeatureNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#FeatureName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#FeatureValue": {
      "type": "structure",
      "members": {
        "FeatureName": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#FeatureName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a feature that a feature value corresponds to.</p>",
            "smithy.api#required": {}
          }
        },
        "ValueAsString": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
          "traits": {
            "smithy.api#documentation": "<p>The value associated with a feature, in string format. Note that features types can be\n         String, Integral, or Fractional. This value represents all three types as a string.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value associated with a feature.</p>"
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#GetRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#GetRecordRequest"
      },
      "output": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#GetRecordResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ResourceNotFound"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use for <code>OnlineStore</code> serving from a <code>FeatureStore</code>. Only the\n         latest records stored in the <code>OnlineStore</code> can be retrieved. If no Record with\n            <code>RecordIdentifierValue</code> is found, then an empty result is returned. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/FeatureGroup/{FeatureGroupName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#GetRecordRequest": {
      "type": "structure",
      "members": {
        "FeatureGroupName": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature group from which you want to retrieve a record.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RecordIdentifierValueAsString": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
          "traits": {
            "smithy.api#documentation": "<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies\n         the record in the <code>FeatureGroup</code>. </p>",
            "smithy.api#httpQuery": "RecordIdentifierValueAsString",
            "smithy.api#required": {}
          }
        },
        "FeatureNames": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#FeatureNames",
          "traits": {
            "smithy.api#documentation": "<p>List of names of Features to be retrieved. If not specified, the latest value for all\n         the Features are returned.</p>",
            "smithy.api#httpQuery": "FeatureName"
          }
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#GetRecordResponse": {
      "type": "structure",
      "members": {
        "Record": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#Record",
          "traits": {
            "smithy.api#documentation": "<p>The record you requested. A list of <code>FeatureValues</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal failure occurred. Try your request again. If the problem \n         persists, contact Amazon Web Services customer support.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#Message": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#PutRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#PutRecordRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable"
        },
        {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used for data ingestion into the <code>FeatureStore</code>. The <code>PutRecord</code>\n         API writes to both the <code>OnlineStore</code> and <code>OfflineStore</code>. If the\n         record is the latest record for the <code>recordIdentifier</code>, the record is written to\n         both the <code>OnlineStore</code> and <code>OfflineStore</code>. If the record is a\n         historic record, it is written only to the <code>OfflineStore</code>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/FeatureGroup/{FeatureGroupName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#PutRecordRequest": {
      "type": "structure",
      "members": {
        "FeatureGroupName": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature group that you want to insert the record into.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Record": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#Record",
          "traits": {
            "smithy.api#documentation": "<p>List of FeatureValues to be inserted. This will be a full over-write. If you only want\n         to update few of the feature values, do the following:</p>\n         <ul>\n            <li>\n               <p>Use <code>GetRecord</code> to retrieve the latest record.</p>\n            </li>\n            <li>\n               <p>Update the record returned from <code>GetRecord</code>. </p>\n            </li>\n            <li>\n               <p>Use <code>PutRecord</code> to update feature values.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "TargetStores": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#TargetStores",
          "traits": {
            "smithy.api#documentation": "<p>A list of stores to which you're adding the record. By default, Feature Store adds the record to all of the stores that you're using for the <code>FeatureGroup</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#Record": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#FeatureValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#RecordIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#ResourceNotFound": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that is required to perform an action was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service is currently unavailable.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#TargetStore": {
      "type": "enum",
      "members": {
        "ONLINE_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OnlineStore"
          }
        },
        "OFFLINE_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OfflineStore"
          }
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#TargetStores": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#TargetStore"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#UnprocessedIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0
        }
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.sagemakerfeaturestoreruntime#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an error validating your request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 358400
        },
        "smithy.api#pattern": ".*"
      }
    }
  }
}
