{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.sagemakerruntimehttp2#AmazonSageMakerRuntimeHttp2": {
      "type": "service",
      "version": "2025-10-01",
      "operations": [
        {
          "target": "com.amazonaws.sagemakerruntimehttp2#InvokeEndpointWithBidirectionalStream"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SageMaker Runtime HTTP2",
          "arnNamespace": "sagemaker",
          "cloudFormationName": "SageMakerRuntime",
          "endpointPrefix": "runtime.sagemaker"
        },
        "aws.auth#sigv4": {
          "name": "sagemaker"
        },
        "aws.endpoints#standardRegionalEndpoints": {
          "partitionSpecialCases": {
            "aws": [
              {
                "endpoint": "https://{service}.{region}.{dnsSuffix}:8443",
                "fips": false,
                "dualStack": false
              },
              {
                "endpoint": "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                "fips": false,
                "dualStack": true
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                "fips": true,
                "dualStack": false
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                "fips": true,
                "dualStack": true
              }
            ],
            "aws-cn": [
              {
                "endpoint": "https://{service}.{region}.{dnsSuffix}:8443",
                "fips": false,
                "dualStack": false
              },
              {
                "endpoint": "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                "fips": false,
                "dualStack": true
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                "fips": true,
                "dualStack": false
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                "fips": true,
                "dualStack": true
              }
            ],
            "aws-us-gov": [
              {
                "endpoint": "https://{service}.{region}.{dnsSuffix}:8443",
                "fips": false,
                "dualStack": false
              },
              {
                "endpoint": "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                "fips": false,
                "dualStack": true
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                "fips": true,
                "dualStack": false
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                "fips": true,
                "dualStack": true
              }
            ],
            "aws-iso": [
              {
                "endpoint": "https://{service}.{region}.{dnsSuffix}:8443",
                "fips": false,
                "dualStack": false
              },
              {
                "endpoint": "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                "fips": false,
                "dualStack": true
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                "fips": true,
                "dualStack": false
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                "fips": true,
                "dualStack": true
              }
            ],
            "aws-iso-b": [
              {
                "endpoint": "https://{service}.{region}.{dnsSuffix}:8443",
                "fips": false,
                "dualStack": false
              },
              {
                "endpoint": "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                "fips": false,
                "dualStack": true
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                "fips": true,
                "dualStack": false
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                "fips": true,
                "dualStack": true
              }
            ],
            "aws-iso-f": [
              {
                "endpoint": "https://{service}.{region}.{dnsSuffix}:8443",
                "fips": false,
                "dualStack": false
              },
              {
                "endpoint": "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                "fips": false,
                "dualStack": true
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                "fips": true,
                "dualStack": false
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                "fips": true,
                "dualStack": true
              }
            ],
            "aws-eusc": [
              {
                "endpoint": "https://{service}.{region}.{dnsSuffix}:8443",
                "fips": false,
                "dualStack": false
              },
              {
                "endpoint": "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                "fips": false,
                "dualStack": true
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                "fips": true,
                "dualStack": false
              },
              {
                "endpoint": "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                "fips": true,
                "dualStack": true
              }
            ]
          }
        },
        "aws.protocols#restJson1": {
          "http": ["h2"],
          "eventStreamHttp": ["h2"]
        },
        "smithy.api#documentation": "<p> The Amazon SageMaker AI runtime HTTP/2 API. </p>",
        "smithy.api#title": "Amazon SageMaker Runtime HTTP2",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-cn"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-cn"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-cn"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-cn"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-us-gov"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-us-gov"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-us-gov"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-us-gov"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso-b"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso-b"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso-b"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso-b"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso-f"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso-f"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso-f"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-iso-f"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-eusc"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-eusc"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-eusc"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-eusc"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://runtime.sagemaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://runtime.sagemaker-fips.{Region}.{PartitionResult#dnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-east-1.api.aws:8443"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-east-1.amazonaws.com:8443"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-east-1.api.aws:8443"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-east-1.amazonaws.com:8443"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.cn-northwest-1.api.amazonwebservices.com.cn:8443"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.cn-northwest-1.amazonaws.com.cn:8443"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.cn-northwest-1.api.amazonwebservices.com.cn:8443"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.cn-northwest-1.amazonaws.com.cn:8443"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.eusc-de-east-1.amazonaws.eu:8443"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.eusc-de-east-1.amazonaws.eu:8443"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-iso-east-1.c2s.ic.gov:8443"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-iso-east-1.c2s.ic.gov:8443"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-isob-east-1.sc2s.sgov.gov:8443"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-isob-east-1.sc2s.sgov.gov:8443"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker-fips.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-isof-south-1.csp.hci.ic.gov:8443"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-isof-south-1.csp.hci.ic.gov:8443"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-gov-west-1.api.aws:8443"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime-fips.sagemaker.us-gov-west-1.amazonaws.com:8443"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-gov-west-1.api.aws:8443"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://runtime.sagemaker.us-gov-west-1.amazonaws.com:8443"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#InputValidationError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message.</p>"
          }
        },
        "ErrorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#InternalServerError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message.</p>"
          }
        },
        "ErrorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#InternalStreamFailure": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Internal stream failure that occurs during streaming.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#InvokeEndpointWithBidirectionalStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sagemakerruntimehttp2#InvokeEndpointWithBidirectionalStreamInput"
      },
      "output": {
        "target": "com.amazonaws.sagemakerruntimehttp2#InvokeEndpointWithBidirectionalStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sagemakerruntimehttp2#InputValidationError"
        },
        {
          "target": "com.amazonaws.sagemakerruntimehttp2#InternalServerError"
        },
        {
          "target": "com.amazonaws.sagemakerruntimehttp2#InternalStreamFailure"
        },
        {
          "target": "com.amazonaws.sagemakerruntimehttp2#ModelError"
        },
        {
          "target": "com.amazonaws.sagemakerruntimehttp2#ModelStreamError"
        },
        {
          "target": "com.amazonaws.sagemakerruntimehttp2#ServiceUnavailableError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Invokes a model endpoint with bidirectional streaming capabilities. This operation establishes a persistent connection that allows you to send multiple requests and receive streaming responses from the model in real-time.</p> <p>Bidirectional streaming is useful for interactive applications such as chatbots, real-time translation, or any scenario where you need to maintain a conversation-like interaction with the model. The connection remains open, allowing you to send additional input and receive responses without establishing a new connection for each request.</p> <p>For an overview of Amazon SageMaker AI, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>.</p> <p>Amazon SageMaker AI strips all POST headers except those supported by the API. Amazon SageMaker AI might add additional headers. You should not rely on the behavior of headers outside those enumerated in the request syntax. </p> <p>Calls to <code>InvokeEndpointWithBidirectionalStream</code> are authenticated by using Amazon Web Services Signature Version 4. For information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html\">Authenticating Requests (Amazon Web Services Signature Version 4)</a> in the <i>Amazon S3 API Reference</i>.</p> <p>The bidirectional stream maintains the connection until either the client closes it or the model indicates completion. Each request and response in the stream is sent as an event with optional headers for data type and completion state.</p> <note> <p>Endpoints are scoped to an individual account, and are not public. The URL does not contain the account ID, but Amazon SageMaker AI determines the account ID from the authentication token that is supplied by the caller.</p> </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/endpoints/{EndpointName}/invocations-bidirectional-stream"
        }
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#InvokeEndpointWithBidirectionalStreamInput": {
      "type": "structure",
      "members": {
        "EndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint to invoke.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#length": {
              "max": 63
            },
            "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*",
            "smithy.api#required": {}
          }
        },
        "Body": {
          "target": "com.amazonaws.sagemakerruntimehttp2#RequestStreamEvent",
          "traits": {
            "smithy.api#documentation": "<p>The request payload stream.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "TargetVariant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Target variant for the request.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Target-Variant",
            "smithy.api#length": {
              "max": 63
            },
            "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
          }
        },
        "ModelInvocationPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Model invocation path.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Model-Invocation-Path",
            "smithy.api#length": {
              "max": 100
            },
            "smithy.api#pattern": "^[A-Za-z0-9\\-._]+(?:/[A-Za-z0-9\\-._]+)*$"
          }
        },
        "ModelQueryString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Model query string.</p>",
            "smithy.api#httpHeader": "X-Amzn-SageMaker-Model-Query-String",
            "smithy.api#length": {
              "max": 2048
            },
            "smithy.api#pattern": "^[a-zA-Z0-9][A-Za-z0-9_-]*=(?:[A-Za-z0-9._~\\-]|%[0-9A-Fa-f]{2})+(?:&[a-zA-Z0-9][A-Za-z0-9_-]*=(?:[A-Za-z0-9._~\\-]|%[0-9A-Fa-f]{2})+)*$"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#InvokeEndpointWithBidirectionalStreamOutput": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "com.amazonaws.sagemakerruntimehttp2#ResponseStreamEvent",
          "traits": {
            "smithy.api#documentation": "<p>The response payload stream.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "InvokedProductionVariant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The invoked production variant.</p>",
            "smithy.api#httpHeader": "X-Amzn-Invoked-Production-Variant",
            "smithy.api#length": {
              "max": 1024
            },
            "smithy.api#pattern": "\\p{ASCII}*"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#ModelError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message.</p>"
          }
        },
        "OriginalStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>HTTP status code returned by model.</p>"
          }
        },
        "OriginalMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Original error message from the model.</p>"
          }
        },
        "LogStreamArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>CloudWatch log stream ARN.</p>"
          }
        },
        "ErrorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred while processing the model.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#ModelStreamError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message.</p>"
          }
        },
        "ErrorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Model stream error that occurs during streaming.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#RequestPayloadPart": {
      "type": "structure",
      "members": {
        "Bytes": {
          "target": "com.amazonaws.sagemakerruntimehttp2#SensitiveBlob",
          "traits": {
            "smithy.api#documentation": "<p>The payload bytes.</p>",
            "smithy.api#eventPayload": {}
          }
        },
        "DataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Data type header. Can be one of these possible values: \"UTF8\", \"BINARY\".</p>",
            "smithy.api#eventHeader": {},
            "smithy.api#pattern": "^(UTF8)$|^(BINARY)$"
          }
        },
        "CompletionState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Completion state header. Can be one of these possible values: \"PARTIAL\", \"COMPLETE\".</p>",
            "smithy.api#eventHeader": {},
            "smithy.api#pattern": "^(PARTIAL)$|^(COMPLETE)$"
          }
        },
        "P": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Padding string for alignment.</p>",
            "smithy.api#eventHeader": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request payload part structure.</p>"
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#RequestStreamEvent": {
      "type": "union",
      "members": {
        "PayloadPart": {
          "target": "com.amazonaws.sagemakerruntimehttp2#RequestPayloadPart",
          "traits": {
            "smithy.api#documentation": "<p>Payload part event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request stream event union.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#ResponsePayloadPart": {
      "type": "structure",
      "members": {
        "Bytes": {
          "target": "com.amazonaws.sagemakerruntimehttp2#SensitiveBlob",
          "traits": {
            "smithy.api#documentation": "<p>The payload bytes.</p>",
            "smithy.api#eventPayload": {}
          }
        },
        "DataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Data type header. Can be one of these possible values: \"UTF8\", \"BINARY\".</p>",
            "smithy.api#eventHeader": {},
            "smithy.api#pattern": "^(UTF8)$|^(BINARY)$"
          }
        },
        "CompletionState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Completion state header. Can be one of these possible values: \"PARTIAL\", \"COMPLETE\".</p>",
            "smithy.api#eventHeader": {},
            "smithy.api#pattern": "^(PARTIAL)$|^(COMPLETE)$"
          }
        },
        "P": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Padding string for alignment.</p>",
            "smithy.api#eventHeader": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response payload part structure.</p>"
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#ResponseStreamEvent": {
      "type": "union",
      "members": {
        "PayloadPart": {
          "target": "com.amazonaws.sagemakerruntimehttp2#ResponsePayloadPart",
          "traits": {
            "smithy.api#documentation": "<p>Payload part event.</p>"
          }
        },
        "ModelStreamError": {
          "target": "com.amazonaws.sagemakerruntimehttp2#ModelStreamError",
          "traits": {
            "smithy.api#documentation": "<p>Model stream error event.</p>"
          }
        },
        "InternalStreamFailure": {
          "target": "com.amazonaws.sagemakerruntimehttp2#InternalStreamFailure",
          "traits": {
            "smithy.api#documentation": "<p>Internal stream failure event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response stream event union.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#SensitiveBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sagemakerruntimehttp2#ServiceUnavailableError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message.</p>"
          }
        },
        "ErrorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request has failed due to a temporary failure of the server.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    }
  }
}
