{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.schemas#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.schemas#Body": {
      "type": "blob"
    },
    "com.amazonaws.schemas#CodeGenerationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATE_IN_PROGRESS",
            "name": "CREATE_IN_PROGRESS"
          },
          {
            "value": "CREATE_COMPLETE",
            "name": "CREATE_COMPLETE"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.schemas#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.schemas#CreateDiscoverer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#CreateDiscovererRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#CreateDiscovererResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ConflictException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a discoverer.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/discoverers",
          "code": 201
        }
      }
    },
    "com.amazonaws.schemas#CreateDiscovererRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__stringMin0Max256",
          "traits": {
            "smithy.api#documentation": "<p>A description for the discoverer.</p>"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.schemas#__stringMin20Max1600",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event bus.</p>",
            "smithy.api#required": {}
          }
        },
        "CrossAccount": {
          "target": "com.amazonaws.schemas#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Support discovery of schemas in events sent to the bus from another account. (default: true).</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#CreateDiscovererResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the discoverer.</p>"
          }
        },
        "DiscovererArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the discoverer.</p>"
          }
        },
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event bus.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.schemas#DiscovererState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the discoverer.</p>"
          }
        },
        "CrossAccount": {
          "target": "com.amazonaws.schemas#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>The Status if the discoverer will discover schemas from events sent from another account.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#CreateRegistry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#CreateRegistryRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#CreateRegistryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ConflictException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a registry.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/registries/name/{RegistryName}",
          "code": 201
        }
      }
    },
    "com.amazonaws.schemas#CreateRegistryRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__stringMin0Max256",
          "traits": {
            "smithy.api#documentation": "<p>A description of the registry to be created.</p>"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with the registry.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#CreateRegistryResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the registry.</p>"
          }
        },
        "RegistryArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the registry.</p>"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the registry.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#CreateSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#CreateSchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#CreateSchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a schema definition.</p> <note><p>Inactive schemas will be deleted after two years.</p></note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}",
          "code": 201
        }
      }
    },
    "com.amazonaws.schemas#CreateSchemaRequest": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazonaws.schemas#__stringMin1Max100000",
          "traits": {
            "smithy.api#documentation": "<p>The source of the schema definition.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.schemas#__stringMin0Max256",
          "traits": {
            "smithy.api#documentation": "<p>A description of the schema.</p>"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the schema.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Type": {
          "target": "com.amazonaws.schemas#Type",
          "traits": {
            "smithy.api#documentation": "<p>The type of schema.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#CreateSchemaResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the schema.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that schema was modified.</p>"
          }
        },
        "SchemaArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the schema.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>"
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the schema</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "Type": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of the schema.</p>"
          }
        },
        "VersionCreatedDate": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date the schema version was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#DeleteDiscoverer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#DeleteDiscovererRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a discoverer.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/discoverers/id/{DiscovererId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.schemas#DeleteDiscovererRequest": {
      "type": "structure",
      "members": {
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#DeleteRegistry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#DeleteRegistryRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Registry.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/registries/name/{RegistryName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.schemas#DeleteRegistryRequest": {
      "type": "structure",
      "members": {
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#DeleteResourcePolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete the resource-based policy attached to the specified registry.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/policy",
          "code": 204
        }
      }
    },
    "com.amazonaws.schemas#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpQuery": "registryName"
          }
        }
      }
    },
    "com.amazonaws.schemas#DeleteSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#DeleteSchemaRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a schema definition.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.schemas#DeleteSchemaRequest": {
      "type": "structure",
      "members": {
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#DeleteSchemaVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#DeleteSchemaVersionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete the schema version definition</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}/version/{SchemaVersion}",
          "code": 204
        }
      }
    },
    "com.amazonaws.schemas#DeleteSchemaVersionRequest": {
      "type": "structure",
      "members": {
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "The version number of the schema",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#DescribeCodeBinding": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#DescribeCodeBindingRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#DescribeCodeBindingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe the code binding URI.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}/language/{Language}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "CodeBindingExists": {
            "documentation": "Wait until code binding is generated",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "Status",
                    "expected": "CREATE_COMPLETE",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "Status",
                    "expected": "CREATE_IN_PROGRESS",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "Status",
                    "expected": "CREATE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "errorType": "NotFoundException"
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.schemas#DescribeCodeBindingRequest": {
      "type": "structure",
      "members": {
        "Language": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The language of the code binding.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only this schema version.</p>",
            "smithy.api#httpQuery": "schemaVersion"
          }
        }
      }
    },
    "com.amazonaws.schemas#DescribeCodeBindingResponse": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time and date that the code binding was created.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that code bindings were modified.</p>"
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the schema.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.schemas#CodeGenerationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of code binding generation.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#DescribeDiscoverer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#DescribeDiscovererRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#DescribeDiscovererResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the discoverer.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/discoverers/id/{DiscovererId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#DescribeDiscovererRequest": {
      "type": "structure",
      "members": {
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#DescribeDiscovererResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the discoverer.</p>"
          }
        },
        "DiscovererArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the discoverer.</p>"
          }
        },
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event bus.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.schemas#DiscovererState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the discoverer.</p>"
          }
        },
        "CrossAccount": {
          "target": "com.amazonaws.schemas#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>The Status if the discoverer will discover schemas from events sent from another account.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#DescribeRegistry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#DescribeRegistryRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#DescribeRegistryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the registry.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registries/name/{RegistryName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#DescribeRegistryRequest": {
      "type": "structure",
      "members": {
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#DescribeRegistryResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the registry.</p>"
          }
        },
        "RegistryArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the registry.</p>"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the registry.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#DescribeSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#DescribeSchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#DescribeSchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve the schema definition.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#DescribeSchemaRequest": {
      "type": "structure",
      "members": {
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only this schema version.</p>",
            "smithy.api#httpQuery": "schemaVersion"
          }
        }
      }
    },
    "com.amazonaws.schemas#DescribeSchemaResponse": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The source of the schema definition.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the schema.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that schema was modified.</p>"
          }
        },
        "SchemaArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the schema.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>"
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the schema</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Type": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of the schema.</p>"
          }
        },
        "VersionCreatedDate": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date the schema version was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#DiscovererState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STARTED",
            "name": "STARTED"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          }
        ]
      }
    },
    "com.amazonaws.schemas#DiscovererSummary": {
      "type": "structure",
      "members": {
        "DiscovererArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the discoverer.</p>"
          }
        },
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event bus.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.schemas#DiscovererState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the discoverer.</p>"
          }
        },
        "CrossAccount": {
          "target": "com.amazonaws.schemas#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>The Status if the discoverer will discover schemas from events sent from another account.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#ExportSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#ExportSchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#ExportSchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}/export",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#ExportSchemaRequest": {
      "type": "structure",
      "members": {
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only this schema version.</p>",
            "smithy.api#httpQuery": "schemaVersion"
          }
        },
        "Type": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#ExportSchemaResponse": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazonaws.schemas#__string"
        },
        "SchemaArn": {
          "target": "com.amazonaws.schemas#__string"
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string"
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string"
        },
        "Type": {
          "target": "com.amazonaws.schemas#__string"
        }
      }
    },
    "com.amazonaws.schemas#ForbiddenException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.schemas#GetCodeBindingSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#GetCodeBindingSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#GetCodeBindingSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the code binding source URI.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}/language/{Language}/source",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#GetCodeBindingSourceRequest": {
      "type": "structure",
      "members": {
        "Language": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The language of the code binding.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only this schema version.</p>",
            "smithy.api#httpQuery": "schemaVersion"
          }
        }
      }
    },
    "com.amazonaws.schemas#GetCodeBindingSourceResponse": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "com.amazonaws.schemas#Body",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#GetDiscoveredSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#GetDiscoveredSchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#GetDiscoveredSchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the discovered schema that was generated based on sampled events.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/discover",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#GetDiscoveredSchemaRequest": {
      "type": "structure",
      "members": {
        "Events": {
          "target": "com.amazonaws.schemas#__listOfGetDiscoveredSchemaVersionItemInput",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings where each string is a JSON event. These are the events that were used to generate the schema. The array includes a single type of event and has a maximum size of 10 events.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.schemas#Type",
          "traits": {
            "smithy.api#documentation": "<p>The type of event.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#GetDiscoveredSchemaResponse": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The source of the schema definition.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#GetDiscoveredSchemaVersionItemInput": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100000
        }
      }
    },
    "com.amazonaws.schemas#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#GetResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#GetResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the resource-based policy attached to a given registry.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#GetResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpQuery": "registryName"
          }
        }
      }
    },
    "com.amazonaws.schemas#GetResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.schemas#SynthesizedJson__string",
          "traits": {
            "smithy.api#documentation": "<p>The resource-based policy.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#GoneException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 410
      }
    },
    "com.amazonaws.schemas#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.schemas#ListDiscoverers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#ListDiscoverersRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#ListDiscoverersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the discoverers.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/discoverers",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Discoverers",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.schemas#ListDiscoverersRequest": {
      "type": "structure",
      "members": {
        "DiscovererIdPrefix": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only those discoverer IDs that start with the specified prefix.</p>",
            "smithy.api#httpQuery": "discovererIdPrefix"
          }
        },
        "Limit": {
          "target": "com.amazonaws.schemas#__integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "SourceArnPrefix": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only those ARNs that start with the specified prefix.</p>",
            "smithy.api#httpQuery": "sourceArnPrefix"
          }
        }
      }
    },
    "com.amazonaws.schemas#ListDiscoverersResponse": {
      "type": "structure",
      "members": {
        "Discoverers": {
          "target": "com.amazonaws.schemas#__listOfDiscovererSummary",
          "traits": {
            "smithy.api#documentation": "<p>An array of DiscovererSummary information.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#ListRegistries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#ListRegistriesRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#ListRegistriesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the registries.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registries",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Registries",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.schemas#ListRegistriesRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.schemas#__integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RegistryNamePrefix": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only those registry names that start with the specified prefix.</p>",
            "smithy.api#httpQuery": "registryNamePrefix"
          }
        },
        "Scope": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Can be set to Local or AWS to limit responses to your custom registries, or the ones provided by AWS.</p>",
            "smithy.api#httpQuery": "scope"
          }
        }
      }
    },
    "com.amazonaws.schemas#ListRegistriesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>"
          }
        },
        "Registries": {
          "target": "com.amazonaws.schemas#__listOfRegistrySummary",
          "traits": {
            "smithy.api#documentation": "<p>An array of registry summaries.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#ListSchemaVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#ListSchemaVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#ListSchemaVersionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of the schema versions and related information.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}/versions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "SchemaVersions",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.schemas#ListSchemaVersionsRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.schemas#__integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#ListSchemaVersionsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>"
          }
        },
        "SchemaVersions": {
          "target": "com.amazonaws.schemas#__listOfSchemaVersionSummary",
          "traits": {
            "smithy.api#documentation": "<p>An array of schema version summaries.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#ListSchemas": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#ListSchemasRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#ListSchemasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the schemas.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registries/name/{RegistryName}/schemas",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Schemas",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.schemas#ListSchemasRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.schemas#__integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaNamePrefix": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only those schema names that start with the specified prefix.</p>",
            "smithy.api#httpQuery": "schemaNamePrefix"
          }
        }
      }
    },
    "com.amazonaws.schemas#ListSchemasResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>"
          }
        },
        "Schemas": {
          "target": "com.amazonaws.schemas#__listOfSchemaSummary",
          "traits": {
            "smithy.api#documentation": "<p>An array of schema summaries.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get tags for resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#NotFoundException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.schemas#PreconditionFailedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 412
      }
    },
    "com.amazonaws.schemas#PutCodeBinding": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#PutCodeBindingRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#PutCodeBindingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#GoneException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Put code binding URI</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}/language/{Language}",
          "code": 202
        }
      }
    },
    "com.amazonaws.schemas#PutCodeBindingRequest": {
      "type": "structure",
      "members": {
        "Language": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The language of the code binding.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only this schema version.</p>",
            "smithy.api#httpQuery": "schemaVersion"
          }
        }
      }
    },
    "com.amazonaws.schemas#PutCodeBindingResponse": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time and date that the code binding was created.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that code bindings were modified.</p>"
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the schema.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.schemas#CodeGenerationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of code binding generation.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#PutResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#PutResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#PutResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The name of the policy.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#PutResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.schemas#SynthesizedJson__string",
          "traits": {
            "smithy.api#documentation": "<p>The resource-based policy.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpQuery": "registryName"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of the policy.</p>"
      }
    },
    "com.amazonaws.schemas#PutResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.schemas#SynthesizedJson__string",
          "traits": {
            "smithy.api#documentation": "<p>The resource-based policy.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#RegistrySummary": {
      "type": "structure",
      "members": {
        "RegistryArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the registry.</p>"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the registry.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#SchemaSummary": {
      "type": "structure",
      "members": {
        "LastModified": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that schema was modified.</p>"
          }
        },
        "SchemaArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the schema.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the schema.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "VersionCount": {
          "target": "com.amazonaws.schemas#__long",
          "traits": {
            "smithy.api#documentation": "<p>The number of versions available for the schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of schema details.</p>"
      }
    },
    "com.amazonaws.schemas#SchemaVersionSummary": {
      "type": "structure",
      "members": {
        "SchemaArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the schema version.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>"
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the schema.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.schemas#Type",
          "traits": {
            "smithy.api#documentation": "<p>The type of schema.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#SearchSchemaSummary": {
      "type": "structure",
      "members": {
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>"
          }
        },
        "SchemaArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the schema.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>"
          }
        },
        "SchemaVersions": {
          "target": "com.amazonaws.schemas#__listOfSearchSchemaVersionSummary",
          "traits": {
            "smithy.api#documentation": "<p>An array of schema version summaries.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#SearchSchemaVersionSummary": {
      "type": "structure",
      "members": {
        "CreatedDate": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date the schema version was created.</p>"
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the schema</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.schemas#Type",
          "traits": {
            "smithy.api#documentation": "<p>The type of schema.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#SearchSchemas": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#SearchSchemasRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#SearchSchemasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Search the schemas</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registries/name/{RegistryName}/schemas/search",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Schemas",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.schemas#SearchSchemasRequest": {
      "type": "structure",
      "members": {
        "Keywords": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only schemas that include the provided keywords.</p>",
            "smithy.api#httpQuery": "keywords",
            "smithy.api#required": {}
          }
        },
        "Limit": {
          "target": "com.amazonaws.schemas#__integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#SearchSchemasResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>"
          }
        },
        "Schemas": {
          "target": "com.amazonaws.schemas#__listOfSearchSchemaSummary",
          "traits": {
            "smithy.api#documentation": "<p>An array of SearchSchemaSummary information.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.schemas#StartDiscoverer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#StartDiscovererRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#StartDiscovererResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts the discoverer</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/discoverers/id/{DiscovererId}/start",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#StartDiscovererRequest": {
      "type": "structure",
      "members": {
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#StartDiscovererResponse": {
      "type": "structure",
      "members": {
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.schemas#DiscovererState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the discoverer.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#StopDiscoverer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#StopDiscovererRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#StopDiscovererResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops the discoverer</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/discoverers/id/{DiscovererId}/stop",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#StopDiscovererRequest": {
      "type": "structure",
      "members": {
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#StopDiscovererResponse": {
      "type": "structure",
      "members": {
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.schemas#DiscovererState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the discoverer.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#SynthesizedJson__string": {
      "type": "string",
      "traits": {
        "smithy.api#mediaType": "application/json"
      }
    },
    "com.amazonaws.schemas#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#TagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Add tags to a resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.schemas#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the resource.</p>",
            "smithy.api#jsonName": "tags",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.schemas#Tags": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.schemas#__string"
      },
      "value": {
        "target": "com.amazonaws.schemas#__string"
      },
      "traits": {
        "smithy.api#documentation": "<p>Key-value pairs associated with a resource.</p>"
      }
    },
    "com.amazonaws.schemas#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.schemas#Type": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OpenApi3",
            "name": "OpenApi3"
          },
          {
            "value": "JSONSchemaDraft4",
            "name": "JSONSchemaDraft4"
          }
        ]
      }
    },
    "com.amazonaws.schemas#UnauthorizedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message string of the error output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.schemas#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#UntagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes tags from a resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.schemas#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.schemas#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Keys of key-value pairs.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.schemas#UpdateDiscoverer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#UpdateDiscovererRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#UpdateDiscovererResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the discoverer</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/discoverers/id/{DiscovererId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#UpdateDiscovererRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__stringMin0Max256",
          "traits": {
            "smithy.api#documentation": "<p>The description of the discoverer to update.</p>"
          }
        },
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CrossAccount": {
          "target": "com.amazonaws.schemas#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Support discovery of schemas in events sent to the bus from another account. (default: true)</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#UpdateDiscovererResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the discoverer.</p>"
          }
        },
        "DiscovererArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the discoverer.</p>"
          }
        },
        "DiscovererId": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the discoverer.</p>"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event bus.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.schemas#DiscovererState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the discoverer.</p>"
          }
        },
        "CrossAccount": {
          "target": "com.amazonaws.schemas#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>The Status if the discoverer will discover schemas from events sent from another account.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#UpdateRegistry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#UpdateRegistryRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#UpdateRegistryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.schemas#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a registry.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/registries/name/{RegistryName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#UpdateRegistryRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__stringMin0Max256",
          "traits": {
            "smithy.api#documentation": "<p>The description of the registry to update.</p>"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updates the registry.</p>"
      }
    },
    "com.amazonaws.schemas#UpdateRegistryResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the registry.</p>"
          }
        },
        "RegistryArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the registry.</p>"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the registry.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.schemas#UpdateSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.schemas#UpdateSchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.schemas#UpdateSchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.schemas#BadRequestException"
        },
        {
          "target": "com.amazonaws.schemas#ForbiddenException"
        },
        {
          "target": "com.amazonaws.schemas#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.schemas#NotFoundException"
        },
        {
          "target": "com.amazonaws.schemas#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the schema definition</p> <note><p>Inactive schemas will be deleted after two years.</p></note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/registries/name/{RegistryName}/schemas/name/{SchemaName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.schemas#UpdateSchemaRequest": {
      "type": "structure",
      "members": {
        "ClientTokenId": {
          "target": "com.amazonaws.schemas#__stringMin0Max36",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the client token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.schemas#__stringMin1Max100000",
          "traits": {
            "smithy.api#documentation": "<p>The source of the schema definition.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.schemas#__stringMin0Max256",
          "traits": {
            "smithy.api#documentation": "<p>The description of the schema.</p>"
          }
        },
        "RegistryName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the registry.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.schemas#Type",
          "traits": {
            "smithy.api#documentation": "<p>The schema type for the events schema.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#UpdateSchemaResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the schema.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that schema was modified.</p>"
          }
        },
        "SchemaArn": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the schema.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>"
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the schema</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.schemas#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "Type": {
          "target": "com.amazonaws.schemas#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of the schema.</p>"
          }
        },
        "VersionCreatedDate": {
          "target": "com.amazonaws.schemas#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date the schema version was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.schemas#__boolean": {
      "type": "boolean"
    },
    "com.amazonaws.schemas#__integer": {
      "type": "integer"
    },
    "com.amazonaws.schemas#__listOfDiscovererSummary": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.schemas#DiscovererSummary"
      }
    },
    "com.amazonaws.schemas#__listOfGetDiscoveredSchemaVersionItemInput": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.schemas#GetDiscoveredSchemaVersionItemInput"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.schemas#__listOfRegistrySummary": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.schemas#RegistrySummary"
      }
    },
    "com.amazonaws.schemas#__listOfSchemaSummary": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.schemas#SchemaSummary"
      }
    },
    "com.amazonaws.schemas#__listOfSchemaVersionSummary": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.schemas#SchemaVersionSummary"
      }
    },
    "com.amazonaws.schemas#__listOfSearchSchemaSummary": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.schemas#SearchSchemaSummary"
      }
    },
[...]
