{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.secretsmanager#AddReplicaRegionListType": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.secretsmanager#ReplicaRegionType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.secretsmanager#AutomaticallyRotateAfterDaysType": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.secretsmanager#BooleanType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.secretsmanager#CancelRotateSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#CancelRotateSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#CancelRotateSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Turns off automatic rotation, and if a rotation is currently in\n      progress, cancels the rotation.</p>\n         <p>If you cancel a rotation in progress, it can leave the <code>VersionStage</code>\n      labels in an unexpected state. You might\n      need to remove the staging label <code>AWSPENDING</code> from the partially created version. \n      You also need to determine whether to roll back to the previous version of the secret \n      by moving the staging label <code>AWSCURRENT</code> to the version that has <code>AWSPENDING</code>.\n      To determine \n      which version has a specific staging label, call <a>ListSecretVersionIds</a>. Then use \n     <a>UpdateSecretVersionStage</a> to change staging labels. \n     For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/rotate-secrets_how.html\">How rotation works</a>.</p>\n         <p>To turn on automatic rotation again, call <a>RotateSecret</a>.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:CancelRotateSecret</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>"
      }
    },
    "com.amazonaws.secretsmanager#CancelRotateSecretRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the secret.</p>\n         <p>For an ARN, we recommend that you specify a complete ARN rather \n      than a partial ARN. See <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen\">Finding a secret from a partial ARN</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#CancelRotateSecretResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the secret.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.secretsmanager#SecretVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the version of the secret created during the rotation. This\n      version might not be complete, and should be evaluated for possible deletion. We recommend \n      that you remove the <code>VersionStage</code> value <code>AWSPENDING</code> from this version so that \n      Secrets Manager can delete it. Failing to clean up a cancelled rotation can block you from\n      starting future rotations.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#ClientRequestTokenType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 64
        }
      }
    },
    "com.amazonaws.secretsmanager#CreateSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#CreateSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#CreateSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#DecryptionFailure"
        },
        {
          "target": "com.amazonaws.secretsmanager#EncryptionFailure"
        },
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#LimitExceededException"
        },
        {
          "target": "com.amazonaws.secretsmanager#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazonaws.secretsmanager#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new secret. A <i>secret</i> can be a password, a set of \n      credentials such as a user name and password, an OAuth token, or other secret information \n      that you store in an encrypted form in Secrets Manager. The secret also \n      includes the connection information to access a database or other service, which Secrets Manager \n      doesn't encrypt. A secret in Secrets Manager consists of both the protected secret data and the\n      important information needed to manage the secret.</p>\n         <p>For secrets that use <i>managed rotation</i>, you need to create the secret through the managing service. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/service-linked-secrets.html\">Secrets Manager secrets managed by other Amazon Web Services services</a>.\n\n    </p>\n         <p>For information about creating a secret in the console, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/manage_create-basic-secret.html\">Create a secret</a>.</p>\n         <p>To create a secret, you can provide the secret value to be encrypted in either the\n      <code>SecretString</code> parameter or the <code>SecretBinary</code> parameter, but not both. \n      If you include <code>SecretString</code> or <code>SecretBinary</code>\n      then Secrets Manager creates an initial secret version and automatically attaches the staging\n      label <code>AWSCURRENT</code> to it.</p>\n         <p>For database credentials you want to rotate, for Secrets Manager to be able to rotate the secret,\n      you must make sure the JSON you store in the <code>SecretString</code> matches the <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_secret_json_structure.html\">JSON structure of\n        a database secret</a>.</p>\n         <p>If you don't specify an KMS encryption key, Secrets Manager uses the Amazon Web Services managed key \n      <code>aws/secretsmanager</code>. If this key \n      doesn't already exist in your account, then Secrets Manager creates it for you automatically. All\n      users and roles in the Amazon Web Services account automatically have access to use <code>aws/secretsmanager</code>. \n      Creating <code>aws/secretsmanager</code> can result in a one-time significant delay in returning the \n      result.</p>\n         <p>If the secret is in a different Amazon Web Services account from the credentials calling the API, then \n      you can't use <code>aws/secretsmanager</code> to encrypt the secret, and you must create \n      and use a customer managed KMS key. </p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters except <code>SecretBinary</code> or <code>SecretString</code> because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:CreateSecret</code>. If you \n      include tags in the secret, you also need <code>secretsmanager:TagResource</code>.\n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>\n         <p>To encrypt the secret with a KMS key other than <code>aws/secretsmanager</code>, you need <code>kms:GenerateDataKey</code> and <code>kms:Decrypt</code> permission to the key. </p>"
      }
    },
    "com.amazonaws.secretsmanager#CreateSecretRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.secretsmanager#NameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new secret.</p>\n         <p>The secret name can contain ASCII letters, numbers, and the following characters:\n      /_+=.@-</p>\n         <p>Do not end your secret name with a hyphen followed by six characters. If you do so, you\n        risk confusion and unexpected results when searching for a secret by partial ARN. Secrets Manager\n        automatically adds a hyphen and six random characters after the secret name at the end of the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.secretsmanager#ClientRequestTokenType",
          "traits": {
            "smithy.api#documentation": "<p>If you include <code>SecretString</code> or <code>SecretBinary</code>, then \n      Secrets Manager creates an initial version for the secret, and this parameter specifies the unique\n      identifier for the new version. </p>\n         <note>\n            <p>If you use the Amazon Web Services CLI or one of the Amazon Web Services SDKs to call this operation, then you can\n        leave this parameter empty. The CLI or SDK generates a random UUID for you and includes it\n        as the value for this parameter in the request. If you don't use the SDK and instead\n        generate a raw HTTP request to the Secrets Manager service endpoint, then you must generate a\n        <code>ClientRequestToken</code> yourself for the new version and include the value in the\n        request.</p>\n         </note>\n         <p>This value helps ensure idempotency. Secrets Manager uses this value to prevent the accidental\n      creation of duplicate versions if there are failures and retries during a rotation. We\n      recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a> value to\n      ensure uniqueness of your versions within the specified secret. </p>\n         <ul>\n            <li>\n               <p>If the <code>ClientRequestToken</code> value isn't already associated with a version\n          of the secret then a new version of the secret is created. </p>\n            </li>\n            <li>\n               <p>If a version with this value already exists and the version <code>SecretString</code>\n          and <code>SecretBinary</code> values are the same as those in the request, then the\n          request is ignored.</p>\n            </li>\n            <li>\n               <p>If a version with this value already exists and that version's\n          <code>SecretString</code> and <code>SecretBinary</code> values are different from those\n          in the request, then the request fails because you cannot modify an existing version.\n          Instead, use <a>PutSecretValue</a> to create a new version.</p>\n            </li>\n         </ul>\n         <p>This value becomes the <code>VersionId</code> of the new version.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.secretsmanager#DescriptionType",
          "traits": {
            "smithy.api#documentation": "<p>The description of the secret.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.secretsmanager#KmsKeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN, key ID, or alias of the KMS key that Secrets Manager uses to\n      encrypt the secret value in the secret. An alias is always prefixed by <code>alias/</code>, \n      for example <code>alias/aws/secretsmanager</code>. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/alias-about.html\">About aliases</a>.</p>\n         <p>To use a KMS key in a different account, use the key ARN or the alias ARN.</p>\n         <p>If you don't specify this value, then Secrets Manager uses the key <code>aws/secretsmanager</code>. \n      If that key doesn't yet exist, then Secrets Manager creates it for you automatically the first time it \n      encrypts the secret value.</p>\n         <p>If the secret is in a different Amazon Web Services account from the credentials calling the API, then \n      you can't use <code>aws/secretsmanager</code> to encrypt the secret, and you must create \n      and use a customer managed KMS key. </p>"
          }
        },
        "SecretBinary": {
          "target": "com.amazonaws.secretsmanager#SecretBinaryType",
          "traits": {
            "smithy.api#documentation": "<p>The binary data to encrypt and store in the new version of\n      the secret. We recommend that you store your binary data in a file and then pass the\n      contents of the file as a parameter.</p>\n         <p>Either <code>SecretString</code> or <code>SecretBinary</code> must have a value, but not\n      both.</p>\n         <p>This parameter is not available in the Secrets Manager console.</p>"
          }
        },
        "SecretString": {
          "target": "com.amazonaws.secretsmanager#SecretStringType",
          "traits": {
            "smithy.api#documentation": "<p>The text data to encrypt and store in this new version of\n      the secret. We recommend you use a JSON structure of key/value pairs for your secret value.</p>\n         <p>Either <code>SecretString</code> or <code>SecretBinary</code> must have a value, but not\n      both.</p>\n         <p>If you create a secret by using the Secrets Manager console then Secrets Manager puts the protected\n      secret text in only the <code>SecretString</code> parameter. The Secrets Manager console stores the\n      information as a JSON structure of key/value pairs that a Lambda rotation function can parse.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.secretsmanager#TagListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to attach to the secret. Each tag\n      is a key and value pair of strings in a JSON text string, for example:</p>\n         <p>\n            <code>[{\"Key\":\"CostCenter\",\"Value\":\"12345\"},{\"Key\":\"environment\",\"Value\":\"production\"}]</code>\n         </p>\n         <p>Secrets Manager tag key names are case sensitive. A tag with the key \"ABC\" is a different tag\n      from one with key \"abc\".</p>\n         <p>If you check tags in permissions policies as part of your\n      security strategy, then adding or removing a tag can change permissions. If the\n      completion of this operation would result in you losing your permissions for\n      this secret, then Secrets Manager blocks the operation and returns an <code>Access Denied</code>\n      error. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_examples.html#tag-secrets-abac\">Control \n        access to secrets using tags</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_examples.html#auth-and-access_tags2\">Limit access to identities with tags that match secrets' tags</a>.</p>\n         <p>For information about how to format a\n      JSON parameter for the various command line tool environments, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using JSON for\n        Parameters</a>. If your command-line tool or SDK requires quotation marks around the parameter, you should\n      use single quotes to avoid confusion with the double quotes required in the JSON text.</p>\n         <p>The following restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per secret: 50</p>\n            </li>\n            <li>\n               <p>Maximum key length: 127 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Maximum value length: 255 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use the <code>aws:</code> prefix in your tag names or values because Amazon Web Services reserves it\n            for Amazon Web Services use. You can't edit or delete tag names or values with this \n              prefix. Tags with this prefix do not count against your tags per secret limit.</p>\n            </li>\n            <li>\n               <p>If you use your tagging schema across multiple services and resources,\n              other services might have restrictions on allowed characters. Generally\n              allowed characters: letters, spaces, and numbers representable in UTF-8, plus the\n              following special characters: + - = . _ : / @.</p>\n            </li>\n         </ul>"
          }
        },
        "AddReplicaRegions": {
          "target": "com.amazonaws.secretsmanager#AddReplicaRegionListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of Regions and KMS keys to replicate secrets.</p>"
          }
        },
        "ForceOverwriteReplicaSecret": {
          "target": "com.amazonaws.secretsmanager#BooleanType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether to overwrite a secret with the same name in the\n      destination Region.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#CreateSecretResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new secret. The ARN includes the name of the secret followed by six random \n      characters. This ensures that if you create a new secret with the same name as a deleted secret, \n      then users with access to the old secret don't get access to the new secret because the ARNs \n      are different.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new secret.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.secretsmanager#SecretVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier associated with the version of the new secret.</p>"
          }
        },
        "ReplicationStatus": {
          "target": "com.amazonaws.secretsmanager#ReplicationStatusListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of the replicas of this secret and their status:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Failed</code>, which indicates that the replica was not created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>InProgress</code>, which indicates that Secrets Manager is in the process of creating the replica.</p>\n            </li>\n            <li>\n               <p>\n                  <code>InSync</code>, which indicates that the replica was created.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#CreatedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#DecryptionFailure": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Secrets Manager can't decrypt the protected secret text using the provided KMS key. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#DeleteResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#DeleteResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the resource-based permission policy attached to the secret. To attach a policy to \n      a secret, use <a>PutResourcePolicy</a>.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:DeleteResourcePolicy</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>"
      }
    },
    "com.amazonaws.secretsmanager#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the secret to delete the attached resource-based policy for.</p>\n         <p>For an ARN, we recommend that you specify a complete ARN rather \n      than a partial ARN. See <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen\">Finding a secret from a partial ARN</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DeleteResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret that the resource-based policy was deleted for.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#NameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the secret that the resource-based policy was deleted for.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DeleteSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#DeleteSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#DeleteSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a secret and all of its versions. You can specify a recovery\n      window during which you can restore the secret. The minimum recovery window is 7 days. \n      The default recovery window is 30 days. Secrets Manager attaches a <code>DeletionDate</code> stamp to\n      the secret that specifies the end of the recovery window. At the end of the recovery window,\n      Secrets Manager deletes the secret permanently.</p>\n         <p>You can't delete a primary secret that is replicated to other Regions. You must first delete the \n    replicas using <a>RemoveRegionsFromReplication</a>, and then delete the primary secret. \n    When you delete a replica, it is deleted immediately.</p>\n         <p>You can't directly delete a version of a secret. Instead, you remove all staging labels \n    from the version using <a>UpdateSecretVersionStage</a>. This marks the version as deprecated, \n    and then Secrets Manager can automatically delete the version in the background.</p>\n         <p>To determine whether an application still uses a secret, you can create an Amazon CloudWatch alarm \n    to alert you to any attempts to access a secret during the recovery window. For more information, \n    see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/monitoring_cloudwatch_deleted-secrets.html\">\n    Monitor secrets scheduled for deletion</a>.</p>\n         <p>Secrets Manager performs the permanent secret deletion at the end of the waiting period as a\n        background task with low priority. There is no guarantee of a specific time after the\n        recovery window for the permanent delete to occur.</p>\n         <p>At any time before recovery window ends, you can use <a>RestoreSecret</a> to\n      remove the <code>DeletionDate</code> and cancel the deletion of the secret.</p>\n         <p>When a secret is scheduled for deletion, you cannot retrieve the secret value.\n      You must first cancel the deletion with <a>RestoreSecret</a> and then you can retrieve the secret.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:DeleteSecret</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>"
      }
    },
    "com.amazonaws.secretsmanager#DeleteSecretRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the secret to delete.</p>\n         <p>For an ARN, we recommend that you specify a complete ARN rather \n      than a partial ARN. See <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen\">Finding a secret from a partial ARN</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "RecoveryWindowInDays": {
          "target": "com.amazonaws.secretsmanager#RecoveryWindowInDaysType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The number of days from 7 to 30 that Secrets Manager waits before permanently deleting the\n      secret. You can't use both this parameter and <code>ForceDeleteWithoutRecovery</code>\n      in the same call. If you don't use either, then Secrets Manager defaults to a 30 day recovery window.</p>"
          }
        },
        "ForceDeleteWithoutRecovery": {
          "target": "com.amazonaws.secretsmanager#BooleanType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to delete the secret without any recovery window. You\n      can't use both this parameter and <code>RecoveryWindowInDays</code> in the same\n      call. If you don't use either, then Secrets Manager defaults to a 30 day recovery window.</p>\n         <p>Secrets Manager performs the actual deletion with an asynchronous background process, so there might \n      be a short delay before the secret is permanently deleted. If you delete a secret and then \n      immediately create a secret with the same name, use appropriate back off and retry logic.</p>\n         <important>\n            <p>Use this parameter with caution. This parameter causes the operation to skip the normal\n        recovery window before the permanent deletion that Secrets Manager would normally impose with the\n          <code>RecoveryWindowInDays</code> parameter. If you delete a secret with the\n          <code>ForceDeleteWithoutRecovery</code> parameter, then you have no opportunity to recover\n        the secret. You lose the secret permanently.</p>\n         </important>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DeleteSecretResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the secret.</p>"
          }
        },
        "DeletionDate": {
          "target": "com.amazonaws.secretsmanager#DeletionDateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time after which this secret Secrets Manager can permanently delete this secret, \n      and it can no longer be restored. This value is the date and time of the delete request \n      plus the number of days in <code>RecoveryWindowInDays</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DeletedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#DeletionDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#DescribeSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#DescribeSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#DescribeSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a secret. It does not include the encrypted secret value. Secrets Manager\n      only returns fields that have a value in the response. </p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:DescribeSecret</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>"
      }
    },
    "com.amazonaws.secretsmanager#DescribeSecretRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the secret. </p>\n         <p>For an ARN, we recommend that you specify a complete ARN rather \n      than a partial ARN. See <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen\">Finding a secret from a partial ARN</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DescribeSecretResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the secret.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.secretsmanager#DescriptionType",
          "traits": {
            "smithy.api#documentation": "<p>The description of the secret.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.secretsmanager#KmsKeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The key ID or alias ARN of the KMS key that Secrets Manager uses to encrypt the secret value. \n      If the secret is encrypted with the Amazon Web Services managed key <code>aws/secretsmanager</code>, \n      this field is omitted. Secrets created using the console use an KMS key ID.</p>"
          }
        },
        "RotationEnabled": {
          "target": "com.amazonaws.secretsmanager#RotationEnabledType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether automatic rotation is turned on for this secret.</p>\n         <p>To turn on rotation, use <a>RotateSecret</a>. To turn off\n      rotation, use <a>CancelRotateSecret</a>.</p>"
          }
        },
        "RotationLambdaARN": {
          "target": "com.amazonaws.secretsmanager#RotationLambdaARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Lambda function that Secrets Manager invokes to rotate the\n      secret. </p>"
          }
        },
        "RotationRules": {
          "target": "com.amazonaws.secretsmanager#RotationRulesType",
          "traits": {
            "smithy.api#documentation": "<p>The rotation schedule and Lambda function for this secret. If the secret previously had rotation turned on, but \n      it is now turned off, this field shows the previous rotation schedule and rotation function. If the secret never had \n    rotation turned on, this field is omitted.</p>"
          }
        },
        "LastRotatedDate": {
          "target": "com.amazonaws.secretsmanager#LastRotatedDateType",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time that Secrets Manager rotated the secret. \n      If the secret isn't configured for rotation, Secrets Manager returns null.</p>"
          }
        },
        "LastChangedDate": {
          "target": "com.amazonaws.secretsmanager#LastChangedDateType",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time that this secret was modified in any way.</p>"
          }
        },
        "LastAccessedDate": {
          "target": "com.amazonaws.secretsmanager#LastAccessedDateType",
          "traits": {
            "smithy.api#documentation": "<p>The date that the secret was last accessed in the Region. This field is omitted if the secret has never been retrieved in the Region.</p>"
          }
        },
        "DeletedDate": {
          "target": "com.amazonaws.secretsmanager#DeletedDateType",
          "traits": {
            "smithy.api#documentation": "<p>The date the secret is scheduled for deletion. If it is not scheduled for deletion, this \n      field is omitted. When you delete a secret, Secrets Manager requires a \n      recovery window of at least 7 days before deleting the secret. Some time after the deleted date, \n      Secrets Manager deletes the secret, including all of its versions.</p>\n         <p>If a secret is scheduled for deletion, then its details, including the encrypted secret\n      value, is not accessible. To cancel a scheduled deletion and restore access to the secret, use <a>RestoreSecret</a>.</p>"
          }
        },
        "NextRotationDate": {
          "target": "com.amazonaws.secretsmanager#NextRotationDateType",
          "traits": {
            "smithy.api#documentation": "<p>The next date and time that Secrets Manager will rotate the secret, rounded to the nearest hour. If the secret isn't configured for rotation, Secrets Manager returns null.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.secretsmanager#TagListType",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags attached to the secret. To add tags to a\n      secret, use <a>TagResource</a>. To remove tags, use <a>UntagResource</a>.</p>"
          }
        },
        "VersionIdsToStages": {
          "target": "com.amazonaws.secretsmanager#SecretVersionsToStagesMapType",
          "traits": {
            "smithy.api#documentation": "<p>A list of the versions of the secret that have staging labels attached.\n      Versions that don't have staging labels are considered deprecated and Secrets Manager \n      can delete them.</p>\n         <p>Secrets Manager uses staging labels to indicate the status of a secret version during rotation. The three \n    staging labels for rotation are: </p>\n         <ul>\n            <li>\n               <p>\n                  <code>AWSCURRENT</code>, which indicates the current version of the secret.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AWSPENDING</code>, which indicates the version of the secret that contains new \n        secret information that will become the next current version when rotation finishes.</p>\n               <p>During  \n          rotation, Secrets Manager creates an <code>AWSPENDING</code> version ID before creating the new secret version. \n        To check if a secret version exists, call <a>GetSecretValue</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AWSPREVIOUS</code>, which indicates the previous current version of the secret. \n      You can use this as the <i>last known good</i> version.</p>\n            </li>\n         </ul>\n         <p>For more information about rotation and staging labels, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/rotate-secrets_how.html\">How rotation works</a>.</p>"
          }
        },
        "OwningService": {
          "target": "com.amazonaws.secretsmanager#OwningServiceType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that created this secret. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/service-linked-secrets.html\">Secrets managed by other Amazon Web Services services</a>.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.secretsmanager#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The date the secret was created.</p>"
          }
        },
        "PrimaryRegion": {
          "target": "com.amazonaws.secretsmanager#RegionType",
          "traits": {
            "smithy.api#documentation": "<p>The Region the secret is in. If a secret is replicated to other Regions, the replicas are listed in <code>ReplicationStatus</code>. </p>"
          }
        },
        "ReplicationStatus": {
          "target": "com.amazonaws.secretsmanager#ReplicationStatusListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of the replicas of this secret and their status: </p>\n         <ul>\n            <li>\n               <p>\n                  <code>Failed</code>, which indicates that the replica was not created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>InProgress</code>, which indicates that Secrets Manager is in the process of creating the replica.</p>\n            </li>\n            <li>\n               <p>\n                  <code>InSync</code>, which indicates that the replica was created.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DescriptionType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.secretsmanager#DurationType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 3
        },
        "smithy.api#pattern": "^[0-9h]+$"
      }
    },
    "com.amazonaws.secretsmanager#EncryptionFailure": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Secrets Manager can't encrypt the protected secret text using the provided KMS key. Check that the\n      KMS key is available, enabled, and not in an invalid state. For more\n      information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">Key state: Effect on your KMS key</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.secretsmanager#ExcludeCharactersType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        }
      }
    },
    "com.amazonaws.secretsmanager#ExcludeLowercaseType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.secretsmanager#ExcludeNumbersType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.secretsmanager#ExcludePunctuationType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.secretsmanager#ExcludeUppercaseType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.secretsmanager#Filter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.secretsmanager#FilterNameStringType",
          "traits": {
            "smithy.api#documentation": "<p>The following are keys you can use:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>description</b>: Prefix match, not case-sensitive.</p>\n            </li>\n            <li>\n               <p>\n                  <b>name</b>: Prefix match, case-sensitive.</p>\n            </li>\n            <li>\n               <p>\n                  <b>tag-key</b>: Prefix match, case-sensitive.</p>\n            </li>\n            <li>\n               <p>\n                  <b>tag-value</b>: Prefix match, case-sensitive.</p>\n            </li>\n            <li>\n               <p>\n                  <b>primary-region</b>: Prefix match, case-sensitive.</p>\n            </li>\n            <li>\n               <p>\n                  <b>owning-service</b>: Prefix match, case-sensitive.</p>\n            </li>\n            <li>\n               <p>\n                  <b>all</b>: Breaks the filter value string into words and then searches all attributes for matches. Not case-sensitive.</p>\n            </li>\n         </ul>"
          }
        },
        "Values": {
          "target": "com.amazonaws.secretsmanager#FilterValuesStringList",
          "traits": {
            "smithy.api#documentation": "<p>The keyword to filter for.</p>\n         <p>You can prefix your search value with an exclamation mark (<code>!</code>) in order to perform negation filters. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Allows you to add filters when you use the search function in Secrets Manager. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/manage_search-secret.html\">Find secrets in Secrets Manager</a>.</p>"
      }
    },
    "com.amazonaws.secretsmanager#FilterNameStringType": {
      "type": "enum",
      "members": {
        "description": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "description"
          }
        },
        "name": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "tag_key": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag-key"
          }
        },
        "tag_value": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag-value"
          }
        },
        "primary_region": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary-region"
          }
        },
        "owning_service": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owning-service"
          }
        },
        "all": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#FilterValueStringType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\!?[a-zA-Z0-9 :_@\\/\\+\\=\\.\\-\\!]*$"
      }
    },
    "com.amazonaws.secretsmanager#FilterValuesStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.secretsmanager#FilterValueStringType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.secretsmanager#FiltersListType": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.secretsmanager#Filter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.secretsmanager#GetRandomPassword": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#GetRandomPasswordRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#GetRandomPasswordResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates a random password. We recommend that you specify the\n      maximum length and include every character type that the system you are generating a password\n      for can support.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:GetRandomPassword</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>"
      }
    },
    "com.amazonaws.secretsmanager#GetRandomPasswordRequest": {
      "type": "structure",
      "members": {
        "PasswordLength": {
          "target": "com.amazonaws.secretsmanager#PasswordLengthType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The length of the password. If you don't include this parameter, the \n      default length is 32 characters.</p>"
          }
        },
        "ExcludeCharacters": {
          "target": "com.amazonaws.secretsmanager#ExcludeCharactersType",
          "traits": {
            "smithy.api#documentation": "<p>A string of the characters that you don't want in the password.</p>"
          }
        },
        "ExcludeNumbers": {
          "target": "com.amazonaws.secretsmanager#ExcludeNumbersType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to exclude numbers from the password. If you don't \n      include this switch, the password can contain numbers.</p>"
          }
        },
        "ExcludePunctuation": {
          "target": "com.amazonaws.secretsmanager#ExcludePunctuationType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to exclude the following punctuation characters from the password: \n      <code>! \" # $ % & ' ( ) * + , - . / : ; < = > ? @ [ \\ ] ^ _ ` { | } ~</code>. \n      If you don't include this switch, the password can contain punctuation.</p>"
          }
        },
        "ExcludeUppercase": {
          "target": "com.amazonaws.secretsmanager#ExcludeUppercaseType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to exclude uppercase letters from the password. If you \n      don't include this switch, the password can contain uppercase letters.</p>"
          }
        },
        "ExcludeLowercase": {
          "target": "com.amazonaws.secretsmanager#ExcludeLowercaseType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to exclude lowercase letters from the password. If\n      you don't include this switch, the password can contain lowercase letters.</p>"
          }
        },
        "IncludeSpace": {
          "target": "com.amazonaws.secretsmanager#IncludeSpaceType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to include the space character. If you \n      include this switch, the password can contain space characters.</p>"
          }
        },
        "RequireEachIncludedType": {
          "target": "com.amazonaws.secretsmanager#RequireEachIncludedTypeType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to include at least one upper and lowercase letter, one number, and one punctuation. \n      If you don't include this switch, the password contains at least one of every character type.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetRandomPasswordResponse": {
      "type": "structure",
      "members": {
        "RandomPassword": {
          "target": "com.amazonaws.secretsmanager#RandomPasswordType",
          "traits": {
            "smithy.api#documentation": "<p>A string with the password.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#GetResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#GetResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the JSON text of the resource-based policy document attached to the\n      secret. For more information about permissions policies attached to a secret, see \n      <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_resource-policies.html\">Permissions \n        policies attached to a secret</a>.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:GetResourcePolicy</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>"
      }
    },
    "com.amazonaws.secretsmanager#GetResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the secret to retrieve the attached resource-based policy for.</p>\n         <p>For an ARN, we recommend that you specify a complete ARN rather \n      than a partial ARN. See <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen\">Finding a secret from a partial ARN</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret that the resource-based policy was retrieved for.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#NameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the secret that the resource-based policy was retrieved for.</p>"
          }
        },
        "ResourcePolicy": {
          "target": "com.amazonaws.secretsmanager#NonEmptyResourcePolicyType",
          "traits": {
            "smithy.api#documentation": "<p>A JSON-formatted string that contains the permissions policy \n      attached to the secret. For more information about permissions policies, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication and access control for\n        Secrets Manager</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetSecretValue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#GetSecretValueRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#GetSecretValueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#DecryptionFailure"
        },
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the contents of the encrypted fields <code>SecretString</code> or\n        <code>SecretBinary</code> from the specified version of a secret, whichever contains\n      content.</p>\n         <p>We recommend that you cache your secret values by using client-side caching. \n      Caching secrets improves speed and reduces your costs. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieving-secrets.html\">Cache secrets for \n        your applications</a>.</p>\n         <p>To retrieve the previous version of a secret, use <code>VersionStage</code> and specify \n      AWSPREVIOUS. To revert to the previous version of a secret, call <a href=\"https://docs.aws.amazon.com/cli/latest/reference/secretsmanager/update-secret-version-stage.html\">UpdateSecretVersionStage</a>.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:GetSecretValue</code>. \n      If the secret is encrypted using a customer-managed key instead of the Amazon Web Services managed key \n      <code>aws/secretsmanager</code>, then you also need <code>kms:Decrypt</code> permissions for that key.\n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>"
      }
    },
    "com.amazonaws.secretsmanager#GetSecretValueRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the secret to retrieve.</p>\n         <p>For an ARN, we recommend that you specify a complete ARN rather \n      than a partial ARN. See <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen\">Finding a secret from a partial ARN</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.secretsmanager#SecretVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the version of the secret to retrieve. If\n      you include both this parameter and <code>VersionStage</code>, the two parameters must refer\n      to the same secret version. If you don't specify either a <code>VersionStage</code> or\n        <code>VersionId</code>, then Secrets Manager returns the <code>AWSCURRENT</code> version.</p>\n         <p>This value is typically a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a> value with\n      32 hexadecimal digits.</p>"
          }
        },
        "VersionStage": {
          "target": "com.amazonaws.secretsmanager#SecretVersionStageType",
          "traits": {
            "smithy.api#documentation": "<p>The staging label of the version of the secret to retrieve. </p>\n         <p>Secrets Manager uses staging labels to keep track of different versions during the rotation process.\n      If you include both this parameter and <code>VersionId</code>, the two parameters must refer\n      to the same secret version. If you don't specify either a <code>VersionStage</code> or\n      <code>VersionId</code>, Secrets Manager returns the <code>AWSCURRENT</code> version.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetSecretValueResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the secret.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.secretsmanager#SecretVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of this version of the secret.</p>"
          }
        },
        "SecretBinary": {
          "target": "com.amazonaws.secretsmanager#SecretBinaryType",
          "traits": {
            "smithy.api#documentation": "<p>The decrypted secret value, if the secret value was originally provided as\n      binary data in the form of a byte array. The response parameter represents the binary data as\n      a <a href=\"https://tools.ietf.org/html/rfc4648#section-4\">base64-encoded</a>\n      string.</p>\n         <p>If the secret was created by using the Secrets Manager console, or if the secret value was \n      originally provided as a string, then this field is omitted. The secret value appears in \n      <code>SecretString</code> instead.</p>"
          }
        },
        "SecretString": {
          "target": "com.amazonaws.secretsmanager#SecretStringType",
          "traits": {
            "smithy.api#documentation": "<p>The decrypted secret value, if the secret value was originally provided as a string or \n      through the Secrets Manager console.</p>\n         <p>If this secret was created by using the console, then Secrets Manager stores the information as a\n      JSON structure of key/value pairs. </p>"
          }
        },
        "VersionStages": {
          "target": "com.amazonaws.secretsmanager#SecretVersionStagesType",
          "traits": {
            "smithy.api#documentation": "<p>A list of all of the staging labels currently attached to this version of the\n      secret.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.secretsmanager#CreatedDateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that this version of the secret was created. If you don't specify \n      which version in <code>VersionId</code> or <code>VersionStage</code>, then Secrets Manager uses the \n      <code>AWSCURRENT</code> version.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#IncludeSpaceType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.secretsmanager#InternalServiceError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred on the server side.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.secretsmanager#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>NextToken</code> value is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameter name or value is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A parameter value is not valid for the current state of the\n      resource.</p>\n         <p>Possible causes:</p>\n         <ul>\n            <li>\n               <p>The secret is scheduled for deletion.</p>\n            </li>\n            <li>\n               <p>You tried to enable rotation on a secret that doesn't already have a Lambda function\n          ARN configured and you didn't include such an ARN as a parameter in this call. </p>\n            </li>\n            <li>\n               <p>The secret is managed by another service, and you must use that service to update it. \n          For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/service-linked-secrets.html\">Secrets managed by other Amazon Web Services services</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#KmsKeyIdListType": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.secretsmanager#KmsKeyIdType"
      }
    },
    "com.amazonaws.secretsmanager#KmsKeyIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.secretsmanager#LastAccessedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#LastChangedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#LastRotatedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because it would exceed one of the Secrets Manager quotas.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#ListSecretVersionIds": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#ListSecretVersionIdsRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#ListSecretVersionIdsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the versions of a secret. Secrets Manager uses staging labels to indicate the different versions \n    of a secret. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/getting-started.html#term_version\">\n    Secrets Manager concepts: Versions</a>.</p>\n         <p>To list the secrets in the account, use <a>ListSecrets</a>.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:ListSecretVersionIds</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecretVersionIdsRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the secret whose versions you want to list.</p>\n         <p>For an ARN, we recommend that you specify a complete ARN rather \n      than a partial ARN. See <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen\">Finding a secret from a partial ARN</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.secretsmanager#MaxResultsType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The number of results to include in the response.</p>\n         <p>If there are more results available, in the response, Secrets Manager includes <code>NextToken</code>. \n      To get the next results, call <code>ListSecretVersionIds</code> again with the value from <code>NextToken</code>. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.secretsmanager#NextTokenType",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates where the output should continue from, if a previous call \n      did not show all results. To get the next results, call <code>ListSecretVersionIds</code> again with \n      this value.</p>"
          }
        },
        "IncludeDeprecated": {
          "target": "com.amazonaws.secretsmanager#BooleanType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to include versions of secrets that don't have any\n      staging labels attached to them. Versions without staging labels are considered deprecated and are subject to\n      deletion by Secrets Manager.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecretVersionIdsResponse": {
      "type": "structure",
      "members": {
        "Versions": {
          "target": "com.amazonaws.secretsmanager#SecretVersionsListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of the versions of the secret.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.secretsmanager#NextTokenType",
          "traits": {
            "smithy.api#documentation": "<p>Secrets Manager includes this value if there's more output available than what is included \n      in the current response. This can occur even when the response includes no values at all, \n      such as when you ask for a filtered view of a long list. To get the next results, \n      call <code>ListSecretVersionIds</code> again with this value. </p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the secret.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecrets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#ListSecretsRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#ListSecretsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the secrets that are stored by Secrets Manager in the Amazon Web Services account, not including secrets \n      that are marked for deletion. To see secrets marked for deletion, use the Secrets Manager console.</p>\n         <p>ListSecrets is eventually consistent, however it might not reflect changes from the last five minutes. \n      To get the latest information for a specific secret, use <a>DescribeSecret</a>.</p>\n         <p>To list the versions of a secret, use <a>ListSecretVersionIds</a>.</p>\n         <p>To get the secret value from <code>SecretString</code> or <code>SecretBinary</code>, \n      call <a>GetSecretValue</a>.</p>\n         <p>For information about finding secrets in the console, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/manage_search-secret.html\">Find secrets in Secrets Manager</a>.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:ListSecrets</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecretsRequest": {
      "type": "structure",
      "members": {
        "IncludePlannedDeletion": {
          "target": "com.amazonaws.secretsmanager#BooleanType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to include secrets scheduled for deletion.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.secretsmanager#MaxResultsType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The number of results to include in the response.</p>\n         <p>If there are more results available, in the response, Secrets Manager includes <code>NextToken</code>. \n      To get the next results, call <code>ListSecrets</code> again with the value from \n      <code>NextToken</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.secretsmanager#NextTokenType",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates where the output should continue from, if a \n      previous call did not show all results. To get the next results, call <code>ListSecrets</code> again \n      with this value.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.secretsmanager#FiltersListType",
          "traits": {
            "smithy.api#documentation": "<p>The filters to apply to the list of secrets.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.secretsmanager#SortOrderType",
          "traits": {
            "smithy.api#documentation": "<p>Secrets are listed by <code>CreatedDate</code>. </p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecretsResponse": {
      "type": "structure",
      "members": {
        "SecretList": {
          "target": "com.amazonaws.secretsmanager#SecretListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of the secrets in the account.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.secretsmanager#NextTokenType",
          "traits": {
            "smithy.api#documentation": "<p>Secrets Manager includes this value if  \n      there's more output available than what is included in the current response. This can \n      occur even when the response includes no values at all, such as when you ask for a filtered view \n      of a long list. To get the next results, call <code>ListSecrets</code> again \n      with this value.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#MalformedPolicyDocumentException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource policy has syntax errors.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#MaxResultsType": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.secretsmanager#NameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.secretsmanager#NextRotationDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#NextTokenType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        }
      }
    },
    "com.amazonaws.secretsmanager#NonEmptyResourcePolicyType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20480
        }
      }
    },
    "com.amazonaws.secretsmanager#OwningServiceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.secretsmanager#PasswordLengthType": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 4096
        }
      }
    },
    "com.amazonaws.secretsmanager#PreconditionNotMetException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because you did not complete all the prerequisite steps.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#PublicPolicyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>BlockPublicPolicy</code> parameter is set to true, and the resource policy did not prevent broad access to the secret.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#PutResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#PutResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#PutResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazonaws.secretsmanager#PublicPolicyException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a resource-based permission policy to a secret. A resource-based policy is \n      optional. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication and access control for Secrets Manager</a>\n         </p>\n         <p>For information about attaching a policy in the console, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_resource-based-policies.html\">Attach a \n      permissions policy to a secret</a>.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:PutResourcePolicy</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>"
      }
    },
    "com.amazonaws.secretsmanager#PutResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the secret to attach the resource-based policy.</p>\n         <p>For an ARN, we recommend that you specify a complete ARN rather \n      than a partial ARN. See <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen\">Finding a secret from a partial ARN</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourcePolicy": {
          "target": "com.amazonaws.secretsmanager#NonEmptyResourcePolicyType",
          "traits": {
            "smithy.api#documentation": "<p>A JSON-formatted string for an Amazon Web Services\n      resource-based policy. For example policies, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_examples.html\">Permissions \n        policy examples</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "BlockPublicPolicy": {
          "target": "com.amazonaws.secretsmanager#BooleanType",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Specifies whether to block resource-based policies that allow broad access to the secret, for example those that use a wildcard for the principal.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#PutResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#NameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the secret.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#PutSecretValue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#PutSecretValueRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#PutSecretValueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#DecryptionFailure"
        },
        {
          "target": "com.amazonaws.secretsmanager#EncryptionFailure"
        },
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#LimitExceededException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version with a new encrypted secret value and attaches it to the secret. The \n      version can contain a new <code>SecretString</code> value or a new <code>SecretBinary</code> value. </p>\n         <p>We recommend you avoid calling <code>PutSecretValue</code> at a sustained rate of more than \n      once every 10 minutes. When you update the secret value, Secrets Manager creates a new version \n      of the secret. Secrets Manager removes outdated versions when there are more than 100, but it does not \n      remove versions created less than 24 hours ago. If you call <code>PutSecretValue</code> more \n      than once every 10 minutes, you create more versions than Secrets Manager removes, and you will reach \n      the quota for secret versions.</p>\n         <p>You can specify the staging labels to attach to the new version in <code>VersionStages</code>. \n      If you don't include <code>VersionStages</code>, then Secrets Manager automatically\n      moves the staging label <code>AWSCURRENT</code> to this version. If this operation creates \n      the first version for the secret, then Secrets Manager\n        automatically attaches the staging label <code>AWSCURRENT</code> to it. \n    If this operation moves the staging label <code>AWSCURRENT</code> from another version to this\n      version, then Secrets Manager also automatically moves the staging label <code>AWSPREVIOUS</code> to\n      the version that <code>AWSCURRENT</code> was removed from.</p>\n         <p>This operation is idempotent. If you call this operation with a <code>ClientRequestToken</code> \n    that matches an existing version's VersionId, and you specify the\n      same secret data, the operation succeeds but does nothing. However, if the secret data is\n      different, then the operation fails because you can't modify an existing version; you can\n      only create new ones.</p>\n         <p>Secrets Manager generates a CloudTrail log entry when you call this action. Do not include sensitive information in request parameters except <code>SecretBinary</code> or <code>SecretString</code> because it might be logged. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieve-ct-entries.html\">Logging Secrets Manager events with CloudTrail</a>.</p>\n         <p>\n            <b>Required permissions: </b>\n            <code>secretsmanager:PutSecretValue</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#reference_iam-permissions_actions\">\n      IAM policy actions for Secrets Manager</a> and <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication \n      and access control in Secrets Manager</a>. </p>"
      }
    },
    "com.amazonaws.secretsmanager#PutSecretValueRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the secret to add a new version to.</p>\n         <p>For an ARN, we recommend that you specify a complete ARN rather \n      than a partial ARN. See <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen\">Finding a secret from a partial ARN</a>.</p>\n         <p>If the secret doesn't already exist, use <code>CreateSecret</code> instead.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.secretsmanager#ClientRequestTokenType",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the new version of the secret. </p>\n         <note>\n            <p>If you use the Amazon Web Services CLI or one of the Amazon Web Services SDKs to call this operation, then you can\n        leave this parameter empty because they generate a random UUID for you. If you don't \n        use the SDK and instead generate a raw HTTP request to the\n        Secrets Manager service endpoint, then you must generate a <code>ClientRequestToken</code> yourself\n        for new versions and include that value in the request. </p>\n         </note>\n         <p>This value helps ensure idempotency. Secrets Manager uses this value to prevent the accidental\n      creation of duplicate versions if there are failures and retries during the Lambda rotation\n      function processing. We recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a> value to\n      ensure uniqueness within the specified secret. </p>\n         <ul>\n            <li>\n               <p>If the <code>ClientRequestToken</code> value isn't already associated with a version\n          of the secret then a new version of the secret is created. </p>\n            </li>\n            <li>\n               <p>If a version with this value already exists and that version's\n          <code>SecretString</code> or <code>SecretBinary</code> values are the same as those in\n          the request then the request is ignored. The operation is idempotent. </p>\n            </li>\n            <li>\n               <p>If a version with this value already exists and the version of the\n          <code>SecretString</code> and <code>SecretBinary</code> values are different from those\n          in the request, then the request fails because you can't modify a secret \n          version. You can only create new versions to store new secret values.</p>\n            </li>\n         </ul>\n         <p>This value becomes the <code>VersionId</code> of the new version.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "SecretBinary": {
          "target": "com.amazonaws.secretsmanager#SecretBinaryType",
          "traits": {
            "smithy.api#documentation": "<p>The binary data to encrypt and store in the new version of\n      the secret. To use this parameter in the command-line tools, we recommend that you store your\n      binary data in a file and then pass the\n      contents of the file as a parameter. </p>\n         <p>You must include <code>SecretBinary</code> or <code>SecretString</code>, but not both.</p>\n         <p>You can't access this value from the Secrets Manager console.</p>"
          }
        },
        "SecretString": {
          "target": "com.amazonaws.secretsmanager#SecretStringType",
          "traits": {
            "smithy.api#documentation": "<p>The text to encrypt and store in the new version of the secret. </p>\n         <p>You must include <code>SecretBinary</code> or <code>SecretString</code>, but not both.</p>\n         <p>We recommend you create the secret string as JSON key/value pairs, as shown in the example.</p>"
          }
        },
        "VersionStages": {
          "target": "com.amazonaws.secretsmanager#SecretVersionStagesType",
          "traits": {
            "smithy.api#documentation": "<p>A list of staging labels to attach to this version of the\n      secret. Secrets Manager uses staging labels to track versions of a secret through the rotation process.</p>\n         <p>If you specify a staging\n      label that's already associated with a different version of the same secret, then Secrets Manager  \n      removes the label from the other version and attaches it to this version. \n      If you specify \n      <code>AWSCURRENT</code>, and it is already attached to another version, then Secrets Manager also  \n      moves the staging label <code>AWSPREVIOUS</code> to the version that <code>AWSCURRENT</code> was removed from.</p>\n         <p>If you don't include <code>VersionStages</code>, then Secrets Manager automatically\n      moves the staging label <code>AWSCURRENT</code> to this version.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#PutSecretValueResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the secret.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.secretsmanager#SecretVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the version of the secret.</p>"
          }
        },
        "VersionStages": {
          "target": "com.amazonaws.secretsmanager#SecretVersionStagesType",
          "traits": {
            "smithy.api#documentation": "<p>The list of staging labels that are currently attached to this version of the secret.\n      Secrets Manager uses staging labels to track a version as it progresses through the secret rotation\n      process.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#RandomPasswordType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.secretsmanager#RecoveryWindowInDaysType": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.secretsmanager#RegionType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([a-z]+-)+\\d+$"
      }
    },
    "com.amazonaws.secretsmanager#RemoveRegionsFromReplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#RemoveRegionsFromReplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#RemoveRegionsFromReplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
[...]
