{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.secretsmanager#AddReplicaRegionListType": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.secretsmanager#ReplicaRegionType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.secretsmanager#AutomaticallyRotateAfterDaysType": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.secretsmanager#BooleanType": {
      "type": "boolean"
    },
    "com.amazonaws.secretsmanager#CancelRotateSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#CancelRotateSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#CancelRotateSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables automatic scheduled rotation and cancels the rotation of a secret if currently in\n      progress.</p>\n         <p>To re-enable scheduled rotation, call <a>RotateSecret</a> with\n        <code>AutomaticallyRotateAfterDays</code> set to a value greater than 0. This immediately\n      rotates your secret and then enables the automatic schedule.</p>\n         <note>\n            <p>If you cancel a rotation while in progress, it can leave the <code>VersionStage</code>\n        labels in an unexpected state. Depending on the step of the rotation in progress, you might\n        need to remove the staging label <code>AWSPENDING</code> from the partially created version, specified\n        by the <code>VersionId</code> response value. You should also evaluate the partially rotated\n        new version to see if it should be deleted, which you can do by removing all staging labels\n        from the new version <code>VersionStage</code> field.</p>\n         </note>\n         <p>To successfully start a rotation, the staging label <code>AWSPENDING</code> must be in one of the\n      following states:</p>\n         <ul>\n            <li>\n               <p>Not attached to any version at all</p>\n            </li>\n            <li>\n               <p>Attached to the same version as the staging label <code>AWSCURRENT</code>\n               </p>\n            </li>\n         </ul>\n         <p>If the staging label <code>AWSPENDING</code> attached to a different version than the version with\n      <code>AWSCURRENT</code> then the attempt to rotate fails.</p>\n\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:CancelRotateSecret</p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To configure rotation for a secret or to manually trigger a rotation, use <a>RotateSecret</a>.</p>\n            </li>\n            <li>\n               <p>To get the rotation configuration details for a secret, use <a>DescribeSecret</a>.</p>\n            </li>\n            <li>\n               <p>To list all of the currently available secrets, use <a>ListSecrets</a>.</p>\n            </li>\n            <li>\n               <p>To list all of the versions currently associated with a secret, use <a>ListSecretVersionIds</a>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.secretsmanager#CancelRotateSecretRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret to cancel a rotation request. You can specify either the Amazon\n      Resource Name (ARN) or the friendly name of the secret.</p> \n         <note>\n            <p>If you specify an ARN, we generally recommend that you specify a complete ARN. You can \n        specify a partial ARN too—for example, if you don’t include the final hyphen and six random \n        characters that Secrets Manager adds at the end of the ARN when you created the secret. A partial ARN \n        match can work as long as it uniquely matches only one secret. However, if your secret has a \n        name that ends in a hyphen followed by six characters (before Secrets Manager adds the hyphen and six \n        characters to the ARN) and you try to use that as a partial ARN, then those characters cause \n        Secrets Manager to assume that you’re specifying a complete ARN. This confusion can cause unexpected \n        results. To avoid this situation, we recommend that you don’t create secret names ending \n        with a hyphen followed by six characters.</p>\n            <p>If you specify an incomplete ARN without the random suffix, and instead provide the \n        'friendly name', you <i>must</i> not include the random suffix. If you do include the random suffix added by Secrets Manager, \n        you receive either a <i>ResourceNotFoundException</i> or an <i>AccessDeniedException</i> error, depending on your permissions.</p>\n        </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#CancelRotateSecretResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret for which rotation was canceled.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the secret for which rotation was canceled.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.secretsmanager#SecretVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the version of the secret created during the rotation. This\n      version might not be complete, and should be evaluated for possible deletion. At the very\n      least, you should remove the <code>VersionStage</code> value <code>AWSPENDING</code> to enable this\n      version to be deleted. Failing to clean up a cancelled rotation can block you from\n      successfully starting future rotations.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#ClientRequestTokenType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 64
        }
      }
    },
    "com.amazonaws.secretsmanager#CreateSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#CreateSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#CreateSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#EncryptionFailure"
        },
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#LimitExceededException"
        },
        {
          "target": "com.amazonaws.secretsmanager#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazonaws.secretsmanager#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new secret. A secret in Secrets Manager consists of both the protected secret data and the\n      important information needed to manage the secret.</p>\n         <p>Secrets Manager stores the encrypted secret data in one of a collection of \"versions\"\n      associated with the secret. Each version contains a copy of the encrypted secret data. Each\n      version is associated with one or more \"staging labels\" that identify where the version is in\n      the rotation cycle. The <code>SecretVersionsToStages</code> field of the secret contains the\n      mapping of staging labels to the active versions of the secret. Versions without a staging\n      label are considered deprecated and not included in the list.</p>\n         <p>You provide the secret data to be encrypted by putting text in either the\n        <code>SecretString</code> parameter or binary data in the <code>SecretBinary</code>\n      parameter, but not both. If you include <code>SecretString</code> or <code>SecretBinary</code>\n      then Secrets Manager also creates an initial secret version and automatically attaches the staging\n      label <code>AWSCURRENT</code> to the new version.</p> \n         <note>\n            <ul>\n               <li>\n                  <p>If you call an operation to encrypt or decrypt the <code>SecretString</code> \n          or <code>SecretBinary</code> for a secret in the same account as the calling user and that \n          secret doesn't specify a Amazon Web Services KMS encryption key, Secrets Manager uses the account's default \n          Amazon Web Services managed customer master key (CMK) with the alias <code>aws/secretsmanager</code>. If this key \n          doesn't already exist in your account then Secrets Manager creates it for you automatically. All\n          users and roles in the same Amazon Web Services account automatically have access to use the default CMK. \n          Note that if an Secrets Manager API call results in Amazon Web Services creating the account's \n          Amazon Web Services-managed CMK, it can result in a one-time significant delay in returning the \n          result.</p>\n               </li>\n               <li>\n                  <p>If the secret resides in a different Amazon Web Services account from the credentials calling an API that \n          requires encryption or decryption of the secret value then you must create and use a custom \n          Amazon Web Services KMS CMK because you can't access the default CMK for the account using credentials \n          from a different Amazon Web Services account. Store the ARN of the CMK in the secret when you create the \n          secret or when you update it by including it in the <code>KMSKeyId</code>. If you call an \n          API that must encrypt or decrypt <code>SecretString</code> or <code>SecretBinary</code> \n          using credentials from a different account then the Amazon Web Services KMS key policy must grant cross-account\n          access to that other account's user or role for both the kms:GenerateDataKey and \n          kms:Decrypt operations.</p>\n               </li>\n            </ul>\n         </note> \n         <p> </p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:CreateSecret</p>\n            </li>\n            <li>\n               <p>kms:GenerateDataKey - needed only if you use a customer-managed Amazon Web Services KMS key to encrypt\n          the secret. You do not need this permission to use the account default Amazon Web Services managed CMK\n          for Secrets Manager.</p>\n            </li>\n            <li>\n               <p>kms:Decrypt - needed only if you use a customer-managed Amazon Web Services KMS key to encrypt the\n          secret. You do not need this permission to use the account default Amazon Web Services managed CMK for\n          Secrets Manager.</p>\n            </li>\n            <li>\n               <p>secretsmanager:TagResource - needed only if you include the <code>Tags</code>\n          parameter. </p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To delete a secret, use <a>DeleteSecret</a>.</p>\n            </li>\n            <li>\n               <p>To modify an existing secret, use <a>UpdateSecret</a>.</p>\n            </li>\n            <li>\n               <p>To create a new version of a secret, use <a>PutSecretValue</a>.</p>\n            </li>\n            <li>\n               <p>To retrieve the encrypted secure string and secure binary values, use <a>GetSecretValue</a>.</p>\n            </li>\n            <li>\n               <p>To retrieve all other details for a secret, use <a>DescribeSecret</a>. This\n          does not include the encrypted secure string and secure binary values.</p>\n            </li>\n            <li>\n               <p>To retrieve the list of secret versions associated with the current secret, use <a>DescribeSecret</a> and examine the <code>SecretVersionsToStages</code> response\n          value.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.secretsmanager#CreateSecretRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.secretsmanager#NameType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the friendly name of the new secret.</p>\n         <p>The secret name must be ASCII letters, digits, or the following characters :\n      /_+=.@-</p>\n         <note>\n            <p>Do not end your secret name with a hyphen followed by six characters. If you do so, you\n        risk confusion and unexpected results when searching for a secret by partial ARN. Secrets Manager\n        automatically adds a hyphen and six random characters at the end of the ARN.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.secretsmanager#ClientRequestTokenType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) If you include <code>SecretString</code> or <code>SecretBinary</code>, then an\n      initial version is created as part of the secret, and this parameter specifies a unique\n      identifier for the new version. </p>\n         <note>\n            <p>If you use the Amazon Web Services CLI or one of the Amazon Web Services SDK to call this operation, then you can\n        leave this parameter empty. The CLI or SDK generates a random UUID for you and includes it\n        as the value for this parameter in the request. If you don't use the SDK and instead\n        generate a raw HTTP request to the Secrets Manager service endpoint, then you must generate a\n          <code>ClientRequestToken</code> yourself for the new version and include the value in the\n        request.</p>\n         </note>\n         <p>This value helps ensure idempotency. Secrets Manager uses this value to prevent the accidental\n      creation of duplicate versions if there are failures and retries during a rotation. We\n      recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a> value to\n      ensure uniqueness of your versions within the specified secret. </p>\n         <ul>\n            <li>\n               <p>If the <code>ClientRequestToken</code> value isn't already associated with a version\n          of the secret then a new version of the secret is created. </p>\n            </li>\n            <li>\n               <p>If a version with this value already exists and the version <code>SecretString</code>\n          and <code>SecretBinary</code> values are the same as those in the request, then the\n          request is ignored.</p>\n            </li>\n            <li>\n               <p>If a version with this value already exists and that version's\n            <code>SecretString</code> and <code>SecretBinary</code> values are different from those\n          in the request, then the request fails because you cannot modify an existing version.\n          Instead, use <a>PutSecretValue</a> to create a new version.</p>\n            </li>\n         </ul>\n         <p>This value becomes the <code>VersionId</code> of the new version.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.secretsmanager#DescriptionType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies a user-provided description of the secret.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.secretsmanager#KmsKeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies the ARN, Key ID, or alias of the Amazon Web Services KMS customer master key (CMK) to\n      be used to encrypt the <code>SecretString</code> or <code>SecretBinary</code> values in the\n      versions stored in this secret.</p>\n         <p>You can specify any of the supported ways to identify a Amazon Web Services KMS key ID. If you need to\n      reference a CMK in a different account, you can use only the key ARN or the alias ARN.</p>\n         <p>If you don't specify this value, then Secrets Manager defaults to using the Amazon Web Services account's\n      default CMK (the one named <code>aws/secretsmanager</code>). If a Amazon Web Services KMS CMK with that name doesn't yet\n      exist, then Secrets Manager creates it for you automatically the first time it needs to encrypt a\n      version's <code>SecretString</code> or <code>SecretBinary</code> fields.</p>\n         <important>\n            <p>You can use the account default CMK to encrypt and decrypt only if you call this\n        operation using credentials from the same account that owns the secret. If the secret\n        resides in a different account, then you must create a custom CMK and specify the ARN in\n        this field. </p>\n         </important>"
          }
        },
        "SecretBinary": {
          "target": "com.amazonaws.secretsmanager#SecretBinaryType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies binary data that you want to encrypt and store in the new version of\n      the secret. To use this parameter in the command-line tools, we recommend that you store your\n      binary data in a file and then use the appropriate technique for your tool to pass the\n      contents of the file as a parameter.</p>\n         <p>Either <code>SecretString</code> or <code>SecretBinary</code> must have a value, but not\n      both. They cannot both be empty.</p>\n         <p>This parameter is not available using the Secrets Manager console. It can be accessed only by\n      using the Amazon Web Services CLI or one of the Amazon Web Services SDKs.</p>"
          }
        },
        "SecretString": {
          "target": "com.amazonaws.secretsmanager#SecretStringType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies text data that you want to encrypt and store in this new version of\n      the secret.</p>\n         <p>Either <code>SecretString</code> or <code>SecretBinary</code> must have a value, but not\n      both. They cannot both be empty.</p>\n         <p>If you create a secret by using the Secrets Manager console then Secrets Manager puts the protected\n      secret text in only the <code>SecretString</code> parameter. The Secrets Manager console stores the\n      information as a JSON structure of key/value pairs that the Lambda rotation function knows how\n      to parse.</p>\n         <p>For storing multiple values, we recommend that you use a JSON text string argument and\n      specify key/value pairs. For information on how to format a JSON parameter for the various\n      command line tool environments, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using JSON for\n        Parameters</a> in the <i>CLI User Guide</i>. For example:</p>\n         <p>\n            <code>{\"username\":\"bob\",\"password\":\"abc123xyz456\"}</code>\n         </p>\n         <p>If your command-line tool or SDK requires quotation marks around the parameter, you should\n      use single quotes to avoid confusion with the double quotes required in the JSON text. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.secretsmanager#TagListType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies a list of user-defined tags that are attached to the secret. Each tag\n      is a \"Key\" and \"Value\" pair of strings. This operation only appends tags to the existing list\n      of tags. To remove tags, you must use <a>UntagResource</a>.</p>\n         <important>\n            <ul>\n               <li>\n                  <p>Secrets Manager tag key names are case sensitive. A tag with the key \"ABC\" is a different tag\n            from one with key \"abc\".</p>\n               </li>\n               <li>\n                  <p>If you check tags in IAM policy <code>Condition</code> elements as part of your\n            security strategy, then adding or removing a tag can change permissions. If the\n            successful completion of this operation would result in you losing your permissions for\n            this secret, then this operation is blocked and returns an <code>Access Denied</code>\n            error.</p>\n               </li>\n            </ul>\n         </important>\n         <p>This parameter requires a JSON text string argument. For information on how to format a\n      JSON parameter for the various command line tool environments, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using JSON for\n        Parameters</a> in the <i>CLI User Guide</i>. For example:</p>\n         <p>\n            <code>[{\"Key\":\"CostCenter\",\"Value\":\"12345\"},{\"Key\":\"environment\",\"Value\":\"production\"}]</code>\n         </p>\n         <p>If your command-line tool or SDK requires quotation marks around the parameter, you should\n      use single quotes to avoid confusion with the double quotes required in the JSON text. </p>\n            <p>The following basic restrictions apply to tags:</p>\n        <ul>\n            <li>\n               <p>Maximum number of tags per secret—50</p>\n            </li>\n            <li>\n               <p>Maximum key length—127 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Maximum value length—255 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use the <code>aws:</code> prefix in your tag names or values because Amazon Web Services reserves it\n            for Amazon Web Services use. You can't edit or delete tag names or values with this \n              prefix. Tags with this prefix do not count against your tags per secret limit.</p>\n            </li>\n            <li>\n               <p>If you use your tagging schema across multiple services and resources,\n              remember other services might have restrictions on allowed characters. Generally\n              allowed characters: letters, spaces, and numbers representable in UTF-8, plus the\n              following special characters: + - = . _ : / @.</p>\n            </li>\n         </ul>"
          }
        },
        "AddReplicaRegions": {
          "target": "com.amazonaws.secretsmanager#AddReplicaRegionListType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Add a list of regions to replicate secrets. Secrets Manager replicates the KMSKeyID objects to the list of regions specified in\n      the parameter.</p>"
          }
        },
        "ForceOverwriteReplicaSecret": {
          "target": "com.amazonaws.secretsmanager#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) If set, the replication overwrites a secret with the same name in the\n      destination region.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#CreateSecretResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the secret that you just created.</p>\n         <note>\n            <p>Secrets Manager automatically adds several random characters to the name at the end of the ARN when\n        you initially create a secret. This affects only the ARN and not the actual friendly name. \n        This ensures that if you create a new secret with the same name as an old secret that you \n        previously deleted, then users with access to the old secret <i>don't</i> \n        automatically get access to the new secret because the ARNs are different.</p>\n         </note>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the secret that you just created.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.secretsmanager#SecretVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier associated with the version of the secret you just created.</p>"
          }
        },
        "ReplicationStatus": {
          "target": "com.amazonaws.secretsmanager#ReplicationStatusListType",
          "traits": {
            "smithy.api#documentation": "<p>Describes a list of replication status objects as <code>InProgress</code>, <code>Failed</code> or <code>InSync</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#CreatedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#DecryptionFailure": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Secrets Manager can't decrypt the protected secret text using the provided KMS key. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#DeleteResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#DeleteResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the resource-based permission policy attached to the secret.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:DeleteResourcePolicy</p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To attach a resource policy to a secret, use <a>PutResourcePolicy</a>.</p>\n            </li>\n            <li>\n               <p>To retrieve the current resource-based policy attached to a secret, use <a>GetResourcePolicy</a>.</p>\n            </li>\n            <li>\n               <p>To list all of the currently available secrets, use <a>ListSecrets</a>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.secretsmanager#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret that you want to delete the attached resource-based policy for. You\n      can specify either the Amazon Resource Name (ARN) or the friendly name of the secret.</p>\n         <note>\n            <p>If you specify an ARN, we generally recommend that you specify a complete ARN. You can \n        specify a partial ARN too—for example, if you don’t include the final hyphen and six random \n        characters that Secrets Manager adds at the end of the ARN when you created the secret. A partial ARN \n        match can work as long as it uniquely matches only one secret. However, if your secret has a \n        name that ends in a hyphen followed by six characters (before Secrets Manager adds the hyphen and six \n        characters to the ARN) and you try to use that as a partial ARN, then those characters cause \n        Secrets Manager to assume that you’re specifying a complete ARN. This confusion can cause unexpected \n        results. To avoid this situation, we recommend that you don’t create secret names ending \n        with a hyphen followed by six characters.</p>\n            <p>If you specify an incomplete ARN without the random suffix, and instead provide the \n        'friendly name', you <i>must</i> not include the random suffix. If you do include the random suffix added by Secrets Manager, \n        you receive either a <i>ResourceNotFoundException</i> or an <i>AccessDeniedException</i> error, depending on your permissions.</p>\n        </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DeleteResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret that the resource-based policy was deleted for.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#NameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the secret that the resource-based policy was deleted for.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DeleteSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#DeleteSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#DeleteSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an entire secret and all of the versions. You can optionally include a recovery\n      window during which you can restore the secret. If you don't specify a recovery window value,\n      the operation defaults to 30 days. Secrets Manager attaches a <code>DeletionDate</code> stamp to\n      the secret that specifies the end of the recovery window. At the end of the recovery window,\n      Secrets Manager deletes the secret permanently.</p>\n         <p>At any time before recovery window ends, you can use <a>RestoreSecret</a> to\n      remove the <code>DeletionDate</code> and cancel the deletion of the secret.</p>\n         <p>You cannot access the encrypted secret information in any secret scheduled for deletion.\n      If you need to access that information, you must cancel the deletion with <a>RestoreSecret</a> and then retrieve the information.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>There is no explicit operation to delete a version of a secret. Instead, remove all\n            staging labels from the <code>VersionStage</code> field of a version. That marks the\n            version as deprecated and allows Secrets Manager to delete it as needed. Versions without any\n            staging labels do not show up in <a>ListSecretVersionIds</a> unless you\n            specify <code>IncludeDeprecated</code>.</p>\n               </li>\n               <li>\n                  <p>The permanent secret deletion at the end of the waiting period is performed as a\n            background task with low priority. There is no guarantee of a specific time after the\n            recovery window for the actual delete operation to occur.</p>\n               </li>\n            </ul>\n         </note>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:DeleteSecret</p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To create a secret, use <a>CreateSecret</a>.</p>\n            </li>\n            <li>\n               <p>To cancel deletion of a version of a secret before the recovery window has expired,\n          use <a>RestoreSecret</a>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.secretsmanager#DeleteSecretRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret to delete. You can specify either the Amazon Resource Name (ARN) or\n      the friendly name of the secret.</p> \n         <note>\n            <p>If you specify an ARN, we generally recommend that you specify a complete ARN. You can \n        specify a partial ARN too—for example, if you don’t include the final hyphen and six random \n        characters that Secrets Manager adds at the end of the ARN when you created the secret. A partial ARN \n        match can work as long as it uniquely matches only one secret. However, if your secret has a \n        name that ends in a hyphen followed by six characters (before Secrets Manager adds the hyphen and six \n        characters to the ARN) and you try to use that as a partial ARN, then those characters cause \n        Secrets Manager to assume that you’re specifying a complete ARN. This confusion can cause unexpected \n        results. To avoid this situation, we recommend that you don’t create secret names ending \n        with a hyphen followed by six characters.</p>\n            <p>If you specify an incomplete ARN without the random suffix, and instead provide the \n        'friendly name', you <i>must</i> not include the random suffix. If you do include the random suffix added by Secrets Manager, \n        you receive either a <i>ResourceNotFoundException</i> or an <i>AccessDeniedException</i> error, depending on your permissions.</p>\n        </note>",
            "smithy.api#required": {}
          }
        },
        "RecoveryWindowInDays": {
          "target": "com.amazonaws.secretsmanager#RecoveryWindowInDaysType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>(Optional) Specifies the number of days that Secrets Manager waits before Secrets Manager can delete the\n      secret. You can't use both this parameter and the <code>ForceDeleteWithoutRecovery</code>\n      parameter in the same API call.</p>\n         <p>This value can range from 7 to 30 days with a default value of 30.</p>"
          }
        },
        "ForceDeleteWithoutRecovery": {
          "target": "com.amazonaws.secretsmanager#BooleanType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>(Optional) Specifies that the secret is to be deleted without any recovery window. You\n      can't use both this parameter and the <code>RecoveryWindowInDays</code> parameter in the same\n      API call.</p>\n         <p>An asynchronous background process performs the actual deletion, so there can be a short\n      delay before the operation completes. If you write code to delete and then immediately\n      recreate a secret with the same name, ensure that your code includes appropriate back off and\n      retry logic.</p>\n         <important>\n            <p>Use this parameter with caution. This parameter causes the operation to skip the normal\n        waiting period before the permanent deletion that Amazon Web Services would normally impose with the\n          <code>RecoveryWindowInDays</code> parameter. If you delete a secret with the\n          <code>ForceDeleteWithouRecovery</code> parameter, then you have no opportunity to recover\n        the secret. You lose the secret permanently.</p>\n         </important>\n         <important>\n            <p>If you use this parameter and include a previously deleted or nonexistent secret, the\n        operation does not return the error <code>ResourceNotFoundException</code> in order to\n        correctly handle retries.</p>\n         </important>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DeleteSecretResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret that is now scheduled for deletion.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the secret currently scheduled for deletion.</p>"
          }
        },
        "DeletionDate": {
          "target": "com.amazonaws.secretsmanager#DeletionDateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time after which this secret can be deleted by Secrets Manager and can no longer be\n      restored. This value is the date and time of the delete request plus the number of days\n      specified in <code>RecoveryWindowInDays</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DeletedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#DeletionDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#DescribeSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#DescribeSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#DescribeSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a secret. It does not include the encrypted fields. Secrets\n      Manager only returns fields populated with a value in the response. </p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:DescribeSecret</p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To create a secret, use <a>CreateSecret</a>.</p>\n            </li>\n            <li>\n               <p>To modify a secret, use <a>UpdateSecret</a>.</p>\n            </li>\n            <li>\n               <p>To retrieve the encrypted secret information in a version of the secret, use <a>GetSecretValue</a>.</p>\n            </li>\n            <li>\n               <p>To list all of the secrets in the Amazon Web Services account, use <a>ListSecrets</a>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.secretsmanager#DescribeSecretRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the secret whose details you want to retrieve. You can specify either\n      the Amazon Resource Name (ARN) or the friendly name of the secret.</p> \n         <note>\n            <p>If you specify an ARN, we generally recommend that you specify a complete ARN. You can \n        specify a partial ARN too—for example, if you don’t include the final hyphen and six random \n        characters that Secrets Manager adds at the end of the ARN when you created the secret. A partial ARN \n        match can work as long as it uniquely matches only one secret. However, if your secret has a \n        name that ends in a hyphen followed by six characters (before Secrets Manager adds the hyphen and six \n        characters to the ARN) and you try to use that as a partial ARN, then those characters cause \n        Secrets Manager to assume that you’re specifying a complete ARN. This confusion can cause unexpected \n        results. To avoid this situation, we recommend that you don’t create secret names ending \n        with a hyphen followed by six characters.</p>\n            <p>If you specify an incomplete ARN without the random suffix, and instead provide the \n        'friendly name', you <i>must</i> not include the random suffix. If you do include the random suffix added by Secrets Manager, \n        you receive either a <i>ResourceNotFoundException</i> or an <i>AccessDeniedException</i> error, depending on your permissions.</p>\n        </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DescribeSecretResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The user-provided friendly name of the secret.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.secretsmanager#DescriptionType",
          "traits": {
            "smithy.api#documentation": "<p>The user-provided description of the secret.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.secretsmanager#KmsKeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or alias of the Amazon Web Services KMS customer master key (CMK) that's used to encrypt the\n        <code>SecretString</code> or <code>SecretBinary</code> fields in each version of the secret.\n      If you don't provide a key, then Secrets Manager defaults to encrypting the secret fields with the\n      default Amazon Web Services KMS CMK (the one named <code>awssecretsmanager</code>) for this account.</p>"
          }
        },
        "RotationEnabled": {
          "target": "com.amazonaws.secretsmanager#RotationEnabledType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Specifies whether automatic rotation is enabled for this secret.</p>\n         <p>To enable rotation, use <a>RotateSecret</a> with\n        <code>AutomaticallyRotateAfterDays</code> set to a value greater than 0. To disable\n      rotation, use <a>CancelRotateSecret</a>.</p>"
          }
        },
        "RotationLambdaARN": {
          "target": "com.amazonaws.secretsmanager#RotationLambdaARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a Lambda function that's invoked by Secrets Manager to rotate the\n      secret either automatically per the schedule or manually by a call to\n        <code>RotateSecret</code>.</p>"
          }
        },
        "RotationRules": {
          "target": "com.amazonaws.secretsmanager#RotationRulesType",
          "traits": {
            "smithy.api#documentation": "<p>A structure with the rotation configuration for this secret.</p>"
          }
        },
        "LastRotatedDate": {
          "target": "com.amazonaws.secretsmanager#LastRotatedDateType",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time that the rotation process for this secret was invoked.</p>\n         <p>The most recent date and time that the Secrets Manager rotation process successfully\n      completed. If the secret doesn't rotate, Secrets Manager returns a null value.</p>"
          }
        },
        "LastChangedDate": {
          "target": "com.amazonaws.secretsmanager#LastChangedDateType",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time that this secret was modified in any way.</p>"
          }
        },
        "LastAccessedDate": {
          "target": "com.amazonaws.secretsmanager#LastAccessedDateType",
          "traits": {
            "smithy.api#documentation": "<p>The last date that this secret was accessed. This value is truncated to midnight of the\n      date and therefore shows only the date, not the time.</p>"
          }
        },
        "DeletedDate": {
          "target": "com.amazonaws.secretsmanager#DeletedDateType",
          "traits": {
            "smithy.api#documentation": "<p>This value exists if the secret is scheduled for deletion. Some time after the specified\n      date and time, Secrets Manager deletes the secret and all of its versions.</p>\n         <p>If a secret is scheduled for deletion, then its details, including the encrypted secret\n      information, is not accessible. To cancel a scheduled deletion and restore access, use <a>RestoreSecret</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.secretsmanager#TagListType",
          "traits": {
            "smithy.api#documentation": "<p>The list of user-defined tags that are associated with the secret. To add tags to a\n      secret, use <a>TagResource</a>. To remove tags, use <a>UntagResource</a>.</p>"
          }
        },
        "VersionIdsToStages": {
          "target": "com.amazonaws.secretsmanager#SecretVersionsToStagesMapType",
          "traits": {
            "smithy.api#documentation": "<p>A list of all of the currently assigned <code>VersionStage</code> staging labels and the\n        <code>VersionId</code> that each is attached to. Staging labels are used to keep track of\n      the different versions during the rotation process.</p>\n         <note>\n            <p>A version that does not have any staging labels attached is considered deprecated and\n        subject to deletion. Such versions are not included in this list.</p>\n         </note>"
          }
        },
        "OwningService": {
          "target": "com.amazonaws.secretsmanager#OwningServiceType",
          "traits": {
            "smithy.api#documentation": "<p>Returns the name of the service that created this secret.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.secretsmanager#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The date you created the secret.</p>"
          }
        },
        "PrimaryRegion": {
          "target": "com.amazonaws.secretsmanager#RegionType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the primary region for secret replication. </p>"
          }
        },
        "ReplicationStatus": {
          "target": "com.amazonaws.secretsmanager#ReplicationStatusListType",
          "traits": {
            "smithy.api#documentation": "<p>Describes a list of replication status objects as <code>InProgress</code>, <code>Failed</code> or <code>InSync</code>.<code>P</code>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#DescriptionType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.secretsmanager#EncryptionFailure": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Secrets Manager can't encrypt the protected secret text using the provided KMS key. Check that the\n      customer master key (CMK) is available, enabled, and not in an invalid state. For more\n      information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a\n        Customer Master Key</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.secretsmanager#ExcludeCharactersType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        }
      }
    },
    "com.amazonaws.secretsmanager#ExcludeLowercaseType": {
      "type": "boolean"
    },
    "com.amazonaws.secretsmanager#ExcludeNumbersType": {
      "type": "boolean"
    },
    "com.amazonaws.secretsmanager#ExcludePunctuationType": {
      "type": "boolean"
    },
    "com.amazonaws.secretsmanager#ExcludeUppercaseType": {
      "type": "boolean"
    },
    "com.amazonaws.secretsmanager#Filter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.secretsmanager#FilterNameStringType",
          "traits": {
            "smithy.api#documentation": "<p>Filters your list of secrets by a specific key.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.secretsmanager#FilterValuesStringList",
          "traits": {
            "smithy.api#documentation": "<p>Filters your list of secrets by a specific value.</p>\n         <p>You can prefix your search value with an exclamation mark (<code>!</code>) in order to perform negation filters. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Allows you to add filters when you use the search function in Secrets Manager.</p>"
      }
    },
    "com.amazonaws.secretsmanager#FilterNameStringType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "description",
            "name": "description"
          },
          {
            "value": "name",
            "name": "name"
          },
          {
            "value": "tag-key",
            "name": "tag_key"
          },
          {
            "value": "tag-value",
            "name": "tag_value"
          },
          {
            "value": "primary-region",
            "name": "primary_region"
          },
          {
            "value": "all",
            "name": "all"
          }
        ]
      }
    },
    "com.amazonaws.secretsmanager#FilterValueStringType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\!?[a-zA-Z0-9 :_@\\/\\+\\=\\.\\-]*$"
      }
    },
    "com.amazonaws.secretsmanager#FilterValuesStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.secretsmanager#FilterValueStringType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.secretsmanager#FiltersListType": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.secretsmanager#Filter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.secretsmanager#GetRandomPassword": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#GetRandomPasswordRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#GetRandomPasswordResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates a random password of the specified complexity. This operation is intended for\n      use in the Lambda rotation function. Per best practice, we recommend that you specify the\n      maximum length and include every character type that the system you are generating a password\n      for can support.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:GetRandomPassword</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.secretsmanager#GetRandomPasswordRequest": {
      "type": "structure",
      "members": {
        "PasswordLength": {
          "target": "com.amazonaws.secretsmanager#PasswordLengthType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The desired length of the generated password. The default value if you do not include this\n      parameter is 32 characters.</p>"
          }
        },
        "ExcludeCharacters": {
          "target": "com.amazonaws.secretsmanager#ExcludeCharactersType",
          "traits": {
            "smithy.api#documentation": "<p>A string that includes characters that should not be included in the generated password.\n      The default is that all characters from the included sets can be used.</p>"
          }
        },
        "ExcludeNumbers": {
          "target": "com.amazonaws.secretsmanager#ExcludeNumbersType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Specifies that the generated password should not include digits. The default if you do not\n      include this switch parameter is that digits can be included.</p>"
          }
        },
        "ExcludePunctuation": {
          "target": "com.amazonaws.secretsmanager#ExcludePunctuationType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Specifies that the generated password should not include punctuation characters. The\n      default if you do not include this switch parameter is that punctuation characters can be\n      included.</p>\n         <p>The following are the punctuation characters that <i>can</i> be included in\n      the generated password if you don't explicitly exclude them with\n        <code>ExcludeCharacters</code> or <code>ExcludePunctuation</code>:</p>\n         <p>\n            <code>! \" # $ % & ' ( ) * + , - . / : ; < = > ? @ [ \\ ] ^ _ ` { | }\n      ~</code>\n         </p>"
          }
        },
        "ExcludeUppercase": {
          "target": "com.amazonaws.secretsmanager#ExcludeUppercaseType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Specifies that the generated password should not include uppercase letters. The default if\n      you do not include this switch parameter is that uppercase letters can be included.</p>"
          }
        },
        "ExcludeLowercase": {
          "target": "com.amazonaws.secretsmanager#ExcludeLowercaseType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Specifies that the generated password should not include lowercase letters. The default if\n      you do not include this switch parameter is that lowercase letters can be included.</p>"
          }
        },
        "IncludeSpace": {
          "target": "com.amazonaws.secretsmanager#IncludeSpaceType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Specifies that the generated password can include the space character. The default if you\n      do not include this switch parameter is that the space character is not included.</p>"
          }
        },
        "RequireEachIncludedType": {
          "target": "com.amazonaws.secretsmanager#RequireEachIncludedTypeType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>A boolean value that specifies whether the generated password must include at least one of\n      every allowed character type. The default value is <code>True</code> and the operation\n      requires at least one of every character type.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetRandomPasswordResponse": {
      "type": "structure",
      "members": {
        "RandomPassword": {
          "target": "com.amazonaws.secretsmanager#RandomPasswordType",
          "traits": {
            "smithy.api#documentation": "<p>A string with the generated password.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#GetResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#GetResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the JSON text of the resource-based policy document attached to the specified\n      secret. The JSON request string input and response output displays formatted code\n      with white space and line breaks for better readability. Submit your input as a single line \n      JSON string.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:GetResourcePolicy</p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To attach a resource policy to a secret, use <a>PutResourcePolicy</a>.</p>\n            </li>\n            <li>\n               <p>To delete the resource-based policy attached to a secret, use <a>DeleteResourcePolicy</a>.</p>\n            </li>\n            <li>\n               <p>To list all of the currently available secrets, use <a>ListSecrets</a>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.secretsmanager#GetResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret that you want to retrieve the attached resource-based policy for. You\n      can specify either the Amazon Resource Name (ARN) or the friendly name of the secret.</p>\n         <note>\n            <p>If you specify an ARN, we generally recommend that you specify a complete ARN. You can \n        specify a partial ARN too—for example, if you don’t include the final hyphen and six random \n        characters that Secrets Manager adds at the end of the ARN when you created the secret. A partial ARN \n        match can work as long as it uniquely matches only one secret. However, if your secret has a \n        name that ends in a hyphen followed by six characters (before Secrets Manager adds the hyphen and six \n        characters to the ARN) and you try to use that as a partial ARN, then those characters cause \n        Secrets Manager to assume that you’re specifying a complete ARN. This confusion can cause unexpected \n        results. To avoid this situation, we recommend that you don’t create secret names ending \n        with a hyphen followed by six characters.</p>\n            <p>If you specify an incomplete ARN without the random suffix, and instead provide the \n        'friendly name', you <i>must</i> not include the random suffix. If you do include the random suffix added by Secrets Manager, \n        you receive either a <i>ResourceNotFoundException</i> or an <i>AccessDeniedException</i> error, depending on your permissions.</p>\n        </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret that the resource-based policy was retrieved for.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#NameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the secret that the resource-based policy was retrieved for.</p>"
          }
        },
        "ResourcePolicy": {
          "target": "com.amazonaws.secretsmanager#NonEmptyResourcePolicyType",
          "traits": {
            "smithy.api#documentation": "<p>A JSON-formatted string that describes the permissions that are associated with the\n      attached secret. These permissions are combined with any permissions that are associated with\n      the user or role that attempts to access this secret. The combined permissions specify who can\n      access the secret and what actions they can perform. For more information, see <a href=\"http://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html\">Authentication and Access Control for\n        Amazon Web Services Secrets Manager</a> in the <i>Amazon Web Services Secrets Manager User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetSecretValue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#GetSecretValueRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#GetSecretValueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#DecryptionFailure"
        },
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the contents of the encrypted fields <code>SecretString</code> or\n        <code>SecretBinary</code> from the specified version of a secret, whichever contains\n      content.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:GetSecretValue</p>\n            </li>\n            <li>\n               <p>kms:Decrypt - required only if you use a customer-managed Amazon Web Services KMS key to encrypt the\n          secret. You do not need this permission to use the account's default Amazon Web Services managed CMK for\n          Secrets Manager.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To create a new version of the secret with different encrypted information, use <a>PutSecretValue</a>.</p>\n            </li>\n            <li>\n               <p>To retrieve the non-encrypted details for the secret, use <a>DescribeSecret</a>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.secretsmanager#GetSecretValueRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret containing the version that you want to retrieve. You can specify\n      either the Amazon Resource Name (ARN) or the friendly name of the secret.</p>\n         <note>\n            <p>If you specify an ARN, we generally recommend that you specify a complete ARN. You can \n        specify a partial ARN too—for example, if you don’t include the final hyphen and six random \n        characters that Secrets Manager adds at the end of the ARN when you created the secret. A partial ARN \n        match can work as long as it uniquely matches only one secret. However, if your secret has a \n        name that ends in a hyphen followed by six characters (before Secrets Manager adds the hyphen and six \n        characters to the ARN) and you try to use that as a partial ARN, then those characters cause \n        Secrets Manager to assume that you’re specifying a complete ARN. This confusion can cause unexpected \n        results. To avoid this situation, we recommend that you don’t create secret names ending \n        with a hyphen followed by six characters.</p>\n            <p>If you specify an incomplete ARN without the random suffix, and instead provide the \n        'friendly name', you <i>must</i> not include the random suffix. If you do include the random suffix added by Secrets Manager, \n        you receive either a <i>ResourceNotFoundException</i> or an <i>AccessDeniedException</i> error, depending on your permissions.</p>\n        </note>",
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.secretsmanager#SecretVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique identifier of the version of the secret that you want to retrieve. If\n      you specify both this parameter and <code>VersionStage</code>,  the two parameters must refer\n      to the same secret version. If you don't specify either a <code>VersionStage</code> or\n        <code>VersionId</code> then the default is to perform the operation on the version with the\n        <code>VersionStage</code> value of <code>AWSCURRENT</code>.</p>\n         <p>This value is typically a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a> value with\n      32 hexadecimal digits.</p>"
          }
        },
        "VersionStage": {
          "target": "com.amazonaws.secretsmanager#SecretVersionStageType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret version that you want to retrieve by the staging label attached to\n      the version.</p>\n         <p>Staging labels are used to keep track of different versions during the rotation process.\n      If you specify both this parameter and <code>VersionId</code>,  the two parameters must refer\n      to the same secret version . If you don't specify either a <code>VersionStage</code> or\n        <code>VersionId</code>, then the default is to perform the operation on the version with the\n        <code>VersionStage</code> value of <code>AWSCURRENT</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#GetSecretValueResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the secret.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.secretsmanager#SecretVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of this version of the secret.</p>"
          }
        },
        "SecretBinary": {
          "target": "com.amazonaws.secretsmanager#SecretBinaryType",
          "traits": {
            "smithy.api#documentation": "<p>The decrypted part of the protected secret information that was originally provided as\n      binary data in the form of a byte array. The response parameter represents the binary data as\n      a <a href=\"https://tools.ietf.org/html/rfc4648#section-4\">base64-encoded</a>\n      string.</p>\n         <p>This parameter is not used if the secret is created by the Secrets Manager console.</p>\n         <p>If you store custom information in this field of the secret, then you must code your\n      Lambda rotation function to parse and interpret whatever you store in the\n        <code>SecretString</code> or <code>SecretBinary</code> fields.</p>"
          }
        },
        "SecretString": {
          "target": "com.amazonaws.secretsmanager#SecretStringType",
          "traits": {
            "smithy.api#documentation": "<p>The decrypted part of the protected secret information that was originally provided as a\n      string.</p>\n         <p>If you create this secret by using the Secrets Manager console then only the\n        <code>SecretString</code> parameter contains data. Secrets Manager stores the information as a\n      JSON structure of key/value pairs that the Lambda rotation function knows how to parse.</p>\n         <p>If you store custom information in the secret by using the <a>CreateSecret</a>,\n        <a>UpdateSecret</a>, or <a>PutSecretValue</a> API operations instead\n      of the Secrets Manager console, or by using the <b>Other secret type</b> in\n      the console, then you must code your Lambda rotation function to parse and interpret those\n      values.</p>"
          }
        },
        "VersionStages": {
          "target": "com.amazonaws.secretsmanager#SecretVersionStagesType",
          "traits": {
            "smithy.api#documentation": "<p>A list of all of the staging labels currently attached to this version of the\n      secret.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.secretsmanager#CreatedDateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that this version of the secret was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#IncludeSpaceType": {
      "type": "boolean"
    },
    "com.amazonaws.secretsmanager#InternalServiceError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred on the server side.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.secretsmanager#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You provided an invalid <code>NextToken</code> value.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You provided an invalid value for a parameter.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You provided a parameter value that is not valid for the current state of the\n      resource.</p>\n         <p>Possible causes:</p>\n         <ul>\n            <li>\n               <p>You tried to perform the operation on a secret that's currently marked deleted.</p>\n            </li>\n            <li>\n               <p>You tried to enable rotation on a secret that doesn't already have a Lambda function\n          ARN configured and you didn't include such an ARN as a parameter in this call. </p>\n            </li>\n         </ul>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#KmsKeyIdListType": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.secretsmanager#KmsKeyIdType"
      }
    },
    "com.amazonaws.secretsmanager#KmsKeyIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.secretsmanager#LastAccessedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#LastChangedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#LastRotatedDateType": {
      "type": "timestamp"
    },
    "com.amazonaws.secretsmanager#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because it would exceed one of the Secrets Manager internal limits.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#ListSecretVersionIds": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#ListSecretVersionIdsRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#ListSecretVersionIdsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the versions attached to the specified secret. The output does not include\n      the <code>SecretString</code> or <code>SecretBinary</code> fields. By default, the list\n      includes only versions that have at least one staging label in <code>VersionStage</code>\n      attached.</p> \n         <note>\n            <p>Always check the <code>NextToken</code> response parameter \n    when calling any of the <code>List*</code> operations. These operations can occasionally return \n    an empty or shorter than expected list of results even when there more results become available. \n    When this happens, the <code>NextToken</code> response parameter contains a value to pass to the \n    next call to the same API to request the next part of the list.</p>\n         </note> \n         <p>\n            <b>Minimum\n      permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:ListSecretVersionIds</p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To list the secrets in an account, use <a>ListSecrets</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecretVersionIdsRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the secret containing the versions you want to list. You can specify\n      either the Amazon Resource Name (ARN) or the friendly name of the secret.</p>\n         <note>\n            <p>If you specify an ARN, we generally recommend that you specify a complete ARN. You can \n        specify a partial ARN too—for example, if you don’t include the final hyphen and six random \n        characters that Secrets Manager adds at the end of the ARN when you created the secret. A partial ARN \n        match can work as long as it uniquely matches only one secret. However, if your secret has a \n        name that ends in a hyphen followed by six characters (before Secrets Manager adds the hyphen and six \n        characters to the ARN) and you try to use that as a partial ARN, then those characters cause \n        Secrets Manager to assume that you’re specifying a complete ARN. This confusion can cause unexpected \n        results. To avoid this situation, we recommend that you don’t create secret names ending \n        with a hyphen followed by six characters.</p>\n            <p>If you specify an incomplete ARN without the random suffix, and instead provide the \n        'friendly name', you <i>must</i> not include the random suffix. If you do include the random suffix added by Secrets Manager, \n        you receive either a <i>ResourceNotFoundException</i> or an <i>AccessDeniedException</i> error, depending on your permissions.</p>\n        </note>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.secretsmanager#MaxResultsType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>(Optional) Limits the number of results you want to include in \n    the response. If you don't include this parameter, it defaults to a value that's \n    specific to the operation. If additional items exist beyond the maximum you specify, the \n    <code>NextToken</code> response element is present and has a value (isn't null). Include\n    that value as the <code>NextToken</code> request parameter in the next call to the operation to \n    get the next part of the results. Note that Secrets Manager might return fewer results than the maximum \n    even when there are more results available. You should check <code>NextToken</code> after every \n    operation to ensure that you receive all of the results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.secretsmanager#NextTokenType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Use this parameter in a request if you receive a \n    <code>NextToken</code> response in a previous request indicating there's more\n    output available. In a subsequent call, set it to the value of the previous call \n    <code>NextToken</code> response to indicate where the output should continue from.</p>"
          }
        },
        "IncludeDeprecated": {
          "target": "com.amazonaws.secretsmanager#BooleanType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>(Optional) Specifies that you want the results to include versions that do not have any\n      staging labels attached to them. Such versions are considered deprecated and are subject to\n      deletion by Secrets Manager as needed.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecretVersionIdsResponse": {
      "type": "structure",
      "members": {
        "Versions": {
          "target": "com.amazonaws.secretsmanager#SecretVersionsListType",
          "traits": {
            "smithy.api#documentation": "<p>The list of the currently available versions of the specified secret.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.secretsmanager#NextTokenType",
          "traits": {
            "smithy.api#documentation": "<p>If present in the response, this value indicates that \n    there's more output available than included in the current response. This can \n    occur even when the response includes no values at all, such as when you ask for a filtered view \n    of a very long list. Use this value in the <code>NextToken</code> request parameter in a \n    subsequent call to the operation to continue processing and get the next part of the output. You \n    should repeat this until the <code>NextToken</code> response element comes back empty (as \n    <code>null</code>).</p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the secret.</p> \n         <note>\n            <p>Secrets Manager automatically adds several random characters to the name at the end of the ARN when\n        you initially create a secret. This affects only the ARN and not the actual friendly name. \n        This ensures that if you create a new secret with the same name as an old secret that you \n        previously deleted, then users with access to the old secret <i>don't</i> \n        automatically get access to the new secret because the ARNs are different.</p>\n         </note>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#SecretNameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the secret.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecrets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#ListSecretsRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#ListSecretsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the secrets that are stored by Secrets Manager in the Amazon Web Services account. To list the\n      versions currently stored for a specific secret, use <a>ListSecretVersionIds</a>.\n      The encrypted fields <code>SecretString</code> and <code>SecretBinary</code> are not included\n      in the output. To get that information, call the <a>GetSecretValue</a>\n      operation.</p> \n         <note>\n            <p>Always check the <code>NextToken</code> response parameter \n    when calling any of the <code>List*</code> operations. These operations can occasionally return \n    an empty or shorter than expected list of results even when there more results become available. \n    When this happens, the <code>NextToken</code> response parameter contains a value to pass to the \n    next call to the same API to request the next part of the list.</p>\n         </note> \n         <p>\n            <b>Minimum\n        permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:ListSecrets</p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To list the versions attached to a secret, use <a>ListSecretVersionIds</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecretsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.secretsmanager#MaxResultsType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>(Optional) Limits the number of results you want to include in \n    the response. If you don't include this parameter, it defaults to a value that's \n    specific to the operation. If additional items exist beyond the maximum you specify, the \n    <code>NextToken</code> response element is present and has a value (isn't null). Include\n    that value as the <code>NextToken</code> request parameter in the next call to the operation to \n    get the next part of the results. Note that Secrets Manager might return fewer results than the maximum \n    even when there are more results available. You should check <code>NextToken</code> after every \n    operation to ensure that you receive all of the results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.secretsmanager#NextTokenType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Use this parameter in a request if you receive a \n    <code>NextToken</code> response in a previous request indicating there's more\n    output available. In a subsequent call, set it to the value of the previous call \n    <code>NextToken</code> response to indicate where the output should continue from.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.secretsmanager#FiltersListType",
          "traits": {
            "smithy.api#documentation": "<p>Lists the secret request filters.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.secretsmanager#SortOrderType",
          "traits": {
            "smithy.api#documentation": "<p>Lists secrets in the requested order. </p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#ListSecretsResponse": {
      "type": "structure",
      "members": {
        "SecretList": {
          "target": "com.amazonaws.secretsmanager#SecretListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of the secrets in the account.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.secretsmanager#NextTokenType",
          "traits": {
            "smithy.api#documentation": "<p>If present in the response, this value indicates that \n    there's more output available than included in the current response. This can \n    occur even when the response includes no values at all, such as when you ask for a filtered view \n    of a very long list. Use this value in the <code>NextToken</code> request parameter in a \n    subsequent call to the operation to continue processing and get the next part of the output. You \n    should repeat this until the <code>NextToken</code> response element comes back empty (as \n    <code>null</code>).</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#MalformedPolicyDocumentException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You provided a resource-based policy with syntax errors.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#MaxResultsType": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.secretsmanager#NameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.secretsmanager#NextTokenType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        }
      }
    },
    "com.amazonaws.secretsmanager#NonEmptyResourcePolicyType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20480
        }
      }
    },
    "com.amazonaws.secretsmanager#OwningServiceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.secretsmanager#PasswordLengthType": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 4096
        }
      }
    },
    "com.amazonaws.secretsmanager#PreconditionNotMetException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because you did not complete all the prerequisite steps.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#PublicPolicyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.secretsmanager#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The BlockPublicPolicy parameter is set to true and the resource policy did not prevent broad access to the secret.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.secretsmanager#PutResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#PutResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#PutResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazonaws.secretsmanager#PublicPolicyException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches the contents of the specified resource-based permission policy to a secret. A\n      resource-based policy is optional. Alternatively, you can use IAM identity-based policies\n      that specify the secret's Amazon Resource Name (ARN) in the policy statement's\n        <code>Resources</code> element. You can also use a combination of both identity-based and\n      resource-based policies. The affected users and roles receive the permissions that are\n      permitted by all of the relevant policies. For more information, see <a href=\"http://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_resource-based-policies.html\">Using Resource-Based\n        Policies for Amazon Web Services Secrets Manager</a>. For the complete description of the Amazon Web Services policy syntax and\n      grammar, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies.html\">IAM JSON\n        Policy Reference</a> in the <i>IAM User Guide</i>.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>secretsmanager:PutResourcePolicy</p>\n            </li>\n         </ul>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>To retrieve the resource policy attached to a secret, use <a>GetResourcePolicy</a>.</p>\n            </li>\n            <li>\n               <p>To delete the resource-based policy attached to a secret, use <a>DeleteResourcePolicy</a>.</p>\n            </li>\n            <li>\n               <p>To list all of the currently available secrets, use <a>ListSecrets</a>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.secretsmanager#PutResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "SecretId": {
          "target": "com.amazonaws.secretsmanager#SecretIdType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret that you want to attach the resource-based policy. You can specify\n      either the ARN or the friendly name of the secret.</p> \n         <note>\n            <p>If you specify an ARN, we generally recommend that you specify a complete ARN. You can \n        specify a partial ARN too—for example, if you don’t include the final hyphen and six random \n        characters that Secrets Manager adds at the end of the ARN when you created the secret. A partial ARN \n        match can work as long as it uniquely matches only one secret. However, if your secret has a \n        name that ends in a hyphen followed by six characters (before Secrets Manager adds the hyphen and six \n        characters to the ARN) and you try to use that as a partial ARN, then those characters cause \n        Secrets Manager to assume that you’re specifying a complete ARN. This confusion can cause unexpected \n        results. To avoid this situation, we recommend that you don’t create secret names ending \n        with a hyphen followed by six characters.</p>\n            <p>If you specify an incomplete ARN without the random suffix, and instead provide the \n        'friendly name', you <i>must</i> not include the random suffix. If you do include the random suffix added by Secrets Manager, \n        you receive either a <i>ResourceNotFoundException</i> or an <i>AccessDeniedException</i> error, depending on your permissions.</p>\n        </note>",
            "smithy.api#required": {}
          }
        },
        "ResourcePolicy": {
          "target": "com.amazonaws.secretsmanager#NonEmptyResourcePolicyType",
          "traits": {
            "smithy.api#documentation": "<p>A JSON-formatted string constructed according to the grammar and syntax for an Amazon Web Services\n      resource-based policy. The policy in the string identifies who can access or manage this\n      secret and its versions. For information on how to format a JSON parameter for the various\n      command line tool environments, see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using\n        JSON for Parameters</a> in the <i>CLI User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "BlockPublicPolicy": {
          "target": "com.amazonaws.secretsmanager#BooleanType",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>(Optional) If you set the parameter, <code>BlockPublicPolicy</code> to true, then you\n      block resource-based policies that allow broad access to the secret.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#PutResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.secretsmanager#SecretARNType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the secret retrieved by the resource-based policy.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.secretsmanager#NameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the secret retrieved by the resource-based policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.secretsmanager#PutSecretValue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.secretsmanager#PutSecretValueRequest"
      },
      "output": {
        "target": "com.amazonaws.secretsmanager#PutSecretValueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.secretsmanager#EncryptionFailure"
        },
        {
          "target": "com.amazonaws.secretsmanager#InternalServiceError"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.secretsmanager#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.secretsmanager#LimitExceededException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.secretsmanager#ResourceNotFoundException"
        }
      ],
      "traits": {
[...]
