{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.securityir#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.securityir#AWSAccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#AWSAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.securityir#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource which lead to the access denial.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.securityir#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 1010
        },
        "smithy.api#pattern": "^arn:aws:security-ir:\\w+?-\\w+?-\\d+:[0-9]{12}:(membership/m-[a-z0-9]{10,32}|case/[0-9]{10})$"
      }
    },
    "com.amazonaws.securityir#AttachmentId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}$"
      }
    },
    "com.amazonaws.securityir#AwsRegion": {
      "type": "enum",
      "members": {
        "AF_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "af-south-1"
          }
        },
        "AP_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-east-1"
          }
        },
        "AP_EAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-east-2"
          }
        },
        "AP_NORTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-1"
          }
        },
        "AP_NORTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-2"
          }
        },
        "AP_NORTHEAST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-3"
          }
        },
        "AP_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1"
          }
        },
        "AP_SOUTH_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-2"
          }
        },
        "AP_SOUTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-1"
          }
        },
        "AP_SOUTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-2"
          }
        },
        "AP_SOUTHEAST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-3"
          }
        },
        "AP_SOUTHEAST_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-4"
          }
        },
        "AP_SOUTHEAST_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-5"
          }
        },
        "AP_SOUTHEAST_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-6"
          }
        },
        "AP_SOUTHEAST_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-7"
          }
        },
        "CA_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-central-1"
          }
        },
        "CA_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-west-1"
          }
        },
        "CN_NORTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cn-north-1"
          }
        },
        "CN_NORTHWEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cn-northwest-1"
          }
        },
        "EU_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-1"
          }
        },
        "EU_CENTRAL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-2"
          }
        },
        "EU_NORTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-north-1"
          }
        },
        "EU_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-1"
          }
        },
        "EU_SOUTH_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-2"
          }
        },
        "EU_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1"
          }
        },
        "EU_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-2"
          }
        },
        "EU_WEST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-3"
          }
        },
        "IL_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "il-central-1"
          }
        },
        "ME_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-central-1"
          }
        },
        "ME_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-south-1"
          }
        },
        "MX_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mx-central-1"
          }
        },
        "SA_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-east-1"
          }
        },
        "US_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-1"
          }
        },
        "US_EAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-2"
          }
        },
        "US_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-1"
          }
        },
        "US_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-2"
          }
        }
      }
    },
    "com.amazonaws.securityir#AwsService": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 50
        },
        "smithy.api#pattern": "^[a-zA-Z0-9 -.():]+$"
      }
    },
    "com.amazonaws.securityir#BatchGetMemberAccountDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#BatchGetMemberAccountDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#BatchGetMemberAccountDetailsResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "BatchGetMemberAccountDetails",
          "documentation": "Grants permission to get member account details in batch"
        },
        "smithy.api#documentation": "<p>Provides information on whether the supplied account IDs are associated with a membership.</p> <note> <p> AWS account ID's may appear less than 12 characters and need to be zero-prepended. An example would be <code>123123123</code> which is nine digits, and with zero-prepend would be <code>000123123123</code>. Not zero-prepending to 12 digits could result in errors. </p> </note>",
        "smithy.api#examples": [
          {
            "title": "Invoke BatchGetMemberAccountDetails",
            "input": {
              "membershipId": "m-abcd1234efgh",
              "accountIds": ["123412341234"]
            },
            "output": {
              "items": [
                {
                  "accountId": "123412341234",
                  "relationshipStatus": "Associated",
                  "relationshipType": "Organization"
                }
              ]
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_BatchGetMemberAccountDetails.html"
        },
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/v1/membership/{membershipId}/batch-member-details"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.securityir#BatchGetMemberAccountDetailsRequest": {
      "type": "structure",
      "members": {
        "membershipId": {
          "target": "com.amazonaws.securityir#MembershipId",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with BatchGetMemberAccountDetails to identify the membership ID to query. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_BatchGetMemberAccountDetails.html#securityir-BatchGetMemberAccountDetails-request-uri-membershipId"
            },
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "accountIds": {
          "target": "com.amazonaws.securityir#AWSAccountIds",
          "traits": {
            "smithy.api#documentation": "<p>Optional element to query the membership relationship status to a provided list of account IDs.</p> <note> <p> AWS account ID's may appear less than 12 characters and need to be zero-prepended. An example would be <code>123123123</code> which is nine digits, and with zero-prepend would be <code>000123123123</code>. Not zero-prepending to 12 digits could result in errors. </p> </note>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_BatchGetMemberAccountDetails.html#securityir-BatchGetMemberAccountDetails-request-accountIds"
            },
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_BatchGetMemberAccountDetails.html#API_BatchGetMemberAccountDetails_RequestSyntax"
        },
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#BatchGetMemberAccountDetailsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.securityir#GetMembershipAccountDetailItems",
          "traits": {
            "smithy.api#documentation": "<p>The response element providing responses for requests to GetMembershipAccountDetails.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_BatchGetMemberAccountDetails.html#securityir-BatchGetMemberAccountDetails-response-items"
            },
            "smithy.api#notProperty": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.securityir#GetMembershipAccountDetailErrors",
          "traits": {
            "smithy.api#documentation": "<p>The response element providing error messages for requests to GetMembershipAccountDetails.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_BatchGetMemberAccountDetails.html#securityir-BatchGetMemberAccountDetails-response-errors"
            },
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_BatchGetMemberAccountDetails.html#API_BatchGetMemberAccountDetails_ResponseSyntax"
        },
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#CancelMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#CancelMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#CancelMembershipResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "CancelMembership",
          "documentation": "Grants permission to cancel a membership"
        },
        "smithy.api#documentation": "<p>Cancels an existing membership.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke CancelMembership",
            "input": {
              "membershipId": "m-abcd1234efgh"
            },
            "output": {
              "membershipId": "m-abcd1234efgh"
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CancelMembership.html"
        },
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/v1/membership/{membershipId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.securityir#CancelMembershipRequest": {
      "type": "structure",
      "members": {
        "membershipId": {
          "target": "com.amazonaws.securityir#MembershipId",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CancelMembershipRequest to identify the membership ID to cancel. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CancelMembership.html#securityir-CancelMembership-request-uri-membershipId"
            },
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CancelMembership.html#API_CancelMembership_RequestSyntax"
        },
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#CancelMembershipResponse": {
      "type": "structure",
      "members": {
        "membershipId": {
          "target": "com.amazonaws.securityir#MembershipId",
          "traits": {
            "smithy.api#documentation": "<p>The response element providing responses for requests to CancelMembershipRequest.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CancelMembership.html#securityir-CancelMembership-response-membershipId"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CancelMembership.html#API_CancelMembership_ResponseSyntax"
        },
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#Case": {
      "type": "resource",
      "identifiers": {
        "caseId": {
          "target": "com.amazonaws.securityir#CaseId"
        }
      },
      "create": {
        "target": "com.amazonaws.securityir#CreateCase"
      },
      "read": {
        "target": "com.amazonaws.securityir#GetCase"
      },
      "update": {
        "target": "com.amazonaws.securityir#UpdateCase"
      },
      "list": {
        "target": "com.amazonaws.securityir#ListCases"
      },
      "operations": [
        {
          "target": "com.amazonaws.securityir#CloseCase"
        },
        {
          "target": "com.amazonaws.securityir#CreateCaseComment"
        },
        {
          "target": "com.amazonaws.securityir#GetCaseAttachmentDownloadUrl"
        },
        {
          "target": "com.amazonaws.securityir#GetCaseAttachmentUploadUrl"
        },
        {
          "target": "com.amazonaws.securityir#ListCaseEdits"
        },
        {
          "target": "com.amazonaws.securityir#ListComments"
        },
        {
          "target": "com.amazonaws.securityir#UpdateCaseComment"
        },
        {
          "target": "com.amazonaws.securityir#UpdateCaseStatus"
        },
        {
          "target": "com.amazonaws.securityir#UpdateResolverType"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "case/{caseId}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "case",
          "relativeDocumentation": "cases.html"
        },
        "smithy.api#documentation": "Represents a case that is used to track the incident response lifecycle"
      }
    },
    "com.amazonaws.securityir#CaseArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 80
        },
        "smithy.api#pattern": "^arn:aws:security-ir:\\w+?-\\w+?-\\d+:[0-9]{12}:case/[0-9]{10}$"
      }
    },
    "com.amazonaws.securityir#CaseAttachmentAttributes": {
      "type": "structure",
      "members": {
        "attachmentId": {
          "target": "com.amazonaws.securityir#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseAttachmentAttributes.html#securityir-Type-CaseAttachmentAttributes-attachmentId"
            },
            "smithy.api#required": {}
          }
        },
        "fileName": {
          "target": "com.amazonaws.securityir#FileName",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseAttachmentAttributes.html#securityir-Type-CaseAttachmentAttributes-fileName"
            },
            "smithy.api#required": {}
          }
        },
        "attachmentStatus": {
          "target": "com.amazonaws.securityir#CaseAttachmentStatus",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseAttachmentAttributes.html#securityir-Type-CaseAttachmentAttributes-attachmentStatus"
            },
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "com.amazonaws.securityir#PrincipalId",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseAttachmentAttributes.html#securityir-Type-CaseAttachmentAttributes-creator"
            },
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseAttachmentAttributes.html#securityir-Type-CaseAttachmentAttributes-createdDate"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseAttachmentAttributes.html"
        }
      }
    },
    "com.amazonaws.securityir#CaseAttachmentStatus": {
      "type": "enum",
      "members": {
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        }
      }
    },
    "com.amazonaws.securityir#CaseAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#CaseAttachmentAttributes"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.securityir#CaseDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.securityir#CaseEditAction": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.securityir#CaseEditItem": {
      "type": "structure",
      "members": {
        "eventTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseEditItem.html#securityir-Type-CaseEditItem-eventTimestamp"
            }
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseEditItem.html#securityir-Type-CaseEditItem-principal"
            }
          }
        },
        "action": {
          "target": "com.amazonaws.securityir#CaseEditAction",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseEditItem.html#securityir-Type-CaseEditItem-action"
            }
          }
        },
        "message": {
          "target": "com.amazonaws.securityir#CaseEditMessage",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseEditItem.html#securityir-Type-CaseEditItem-message"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CaseEditItem.html"
        }
      }
    },
    "com.amazonaws.securityir#CaseEditItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#CaseEditItem"
      }
    },
    "com.amazonaws.securityir#CaseEditMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 4096
        }
      }
    },
    "com.amazonaws.securityir#CaseId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 32
        },
        "smithy.api#pattern": "^\\d{10,32}"
      }
    },
    "com.amazonaws.securityir#CaseStatus": {
      "type": "enum",
      "members": {
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Submitted"
          }
        },
        "ACKNOWLEDGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Acknowledged"
          }
        },
        "DETECTION_AND_ANALYSIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Detection and Analysis"
          }
        },
        "CONTAINMENT_ERADICATION_AND_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Containment, Eradication and Recovery"
          }
        },
        "POST_INCIDENT_ACTIVITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Post-incident Activities"
          }
        },
        "READY_TO_CLOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready to Close"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Closed"
          }
        }
      }
    },
    "com.amazonaws.securityir#CaseTitle": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.securityir#CloseCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#CloseCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#CloseCaseResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "CloseCase",
          "documentation": "Grants permission to close a case"
        },
        "smithy.api#documentation": "<p>Closes an existing case.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke CloseCase",
            "input": {
              "caseId": "8403556009"
            },
            "output": {
              "caseStatus": "Closed",
              "closedDate": "2024-02-27T17:01:33.000Z"
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CloseCase.html"
        },
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/v1/cases/{caseId}/close-case"
        }
      }
    },
    "com.amazonaws.securityir#CloseCaseRequest": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.securityir#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CloseCase to identify the case ID to close.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CloseCase.html#securityir-CloseCase-request-uri-caseId"
            },
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#CloseCaseResponse": {
      "type": "structure",
      "members": {
        "caseStatus": {
          "target": "com.amazonaws.securityir#CaseStatus",
          "traits": {
            "smithy.api#documentation": "<p>A response element providing responses for requests to CloseCase. This element responds <code>Closed </code> if successful. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CloseCase.html#securityir-CloseCase-response-caseStatus"
            }
          }
        },
        "closedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A response element providing responses for requests to CloseCase. This element responds with the ISO-8601 formatted timestamp of the moment when the case was closed. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CloseCase.html#securityir-CloseCase-response-closedDate"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#ClosureCode": {
      "type": "enum",
      "members": {
        "INVESTIGATION_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Investigation Completed"
          }
        },
        "NOT_RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Not Resolved"
          }
        },
        "FALSE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "False Positive"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Duplicate"
          }
        }
      }
    },
    "com.amazonaws.securityir#CommentBody": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 12000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.securityir#CommentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 6
        },
        "smithy.api#pattern": "^\\d{6}$"
      }
    },
    "com.amazonaws.securityir#CommunicationPreferences": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#CommunicationType"
      },
      "traits": {
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.securityir#CommunicationType": {
      "type": "enum",
      "members": {
        "CASE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Created"
          }
        },
        "CASE_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Updated"
          }
        },
        "CASE_ACKNOWLEDGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Acknowledged"
          }
        },
        "CASE_CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Closed"
          }
        },
        "CASE_UPDATED_TO_SERVICE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Updated To Service Managed"
          }
        },
        "CASE_UPDATE_CASE_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Status Updated"
          }
        },
        "CASE_PENDING_CUSTOMER_ACTION_REMINDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Pending Customer Action Reminder"
          }
        },
        "CASE_ATTACHMENT_URL_UPLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Attachment Url Uploaded"
          }
        },
        "CASE_COMMENT_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Comment Added"
          }
        },
        "CASE_COMMENT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Case Comment Updated"
          }
        },
        "MEMBERSHIP_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Membership Created"
          }
        },
        "MEMBERSHIP_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Membership Updated"
          }
        },
        "MEMBERSHIP_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Membership Cancelled"
          }
        },
        "REGISTER_DELEGATED_ADMINISTRATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Register Delegated Administrator"
          }
        },
        "DEREGISTER_DELEGATED_ADMINISTRATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deregister Delegated Administrator"
          }
        },
        "DISABLE_AWS_SERVICE_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disable AWS Service Access"
          }
        }
      }
    },
    "com.amazonaws.securityir#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception message.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the conflicting resource.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the conflicting resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.securityir#ContentLength": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 104857600
        }
      }
    },
    "com.amazonaws.securityir#CreateCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#CreateCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#CreateCaseResponse"
      },
      "traits": {
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "aws.iam#iamAction": {
          "name": "CreateCase",
          "documentation": "Grants permission to create a case"
        },
        "smithy.api#documentation": "<p>Creates a new case.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke CreateCase",
            "input": {
              "resolverType": "Self",
              "title": "My sample case",
              "description": "Case description",
              "reportedIncidentStartDate": "2023-03-27T15:32:01.789Z",
              "engagementType": "Investigation",
              "watchers": [
                {
                  "email": "alice@example.com",
                  "name": "Alice",
                  "jobTitle": "CEO"
                },
                {
                  "email": "bob@example.com",
                  "name": "Bob",
                  "jobTitle": "CFO"
                }
              ],
              "impactedAccounts": ["000000000000", "111111111111"],
              "impactedServices": ["Amazon EC2", "Amazon EKS"],
              "impactedAwsRegions": [
                {
                  "region": "ap-southeast-1"
                }
              ],
              "threatActorIpAddresses": [
                {
                  "ipAddress": "192.168.192.168",
                  "userAgent": "Browser"
                }
              ]
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html"
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v1/create-case"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.securityir#CreateCaseComment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#CreateCaseCommentRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#CreateCaseCommentResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "CreateCaseComment",
          "documentation": "Grants permission to create a case comment"
        },
        "smithy.api#documentation": "<p>Adds a comment to an existing case.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke CreateCaseComment",
            "input": {
              "caseId": "8403556009",
              "body": "Case comment body."
            },
            "output": {
              "commentId": "000000"
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCaseComment.html"
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v1/cases/{caseId}/create-comment"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.securityir#CreateCaseCommentRequest": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.securityir#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateCaseComment to specify a case ID.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCaseComment.html#securityir-CreateCaseComment-request-uri-caseId"
            },
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<note> <p>The <code>clientToken</code> field is an idempotency key used to ensure that repeated attempts for a single action will be ignored by the server during retries. A caller supplied unique ID (typically a UUID) should be provided. </p> </note>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCaseComment.html#securityir-CreateCaseComment-request-clientToken"
            },
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 255
            }
          }
        },
        "body": {
          "target": "com.amazonaws.securityir#CommentBody",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateCaseComment to add content for the new comment.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCaseComment.html#securityir-CreateCaseComment-request-body"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#CreateCaseCommentResponse": {
      "type": "structure",
      "members": {
        "commentId": {
          "target": "com.amazonaws.securityir#CommentId",
          "traits": {
            "smithy.api#documentation": "<p>Response element indicating the new comment ID.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCaseComment.html#securityir-CreateCaseComment-response-commentId"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#CreateCaseRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<note> <p>The <code>clientToken</code> field is an idempotency key used to ensure that repeated attempts for a single action will be ignored by the server during retries. A caller supplied unique ID (typically a UUID) should be provided. </p> </note>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-clientToken"
            },
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 255
            }
          }
        },
        "resolverType": {
          "target": "com.amazonaws.securityir#ResolverType",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateCase to identify the resolver type.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-resolverType"
            },
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.securityir#CaseTitle",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateCase to provide a title for the new case.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-title"
            },
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.securityir#CaseDescription",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateCase</p> <p>to provide a description for the new case.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-description"
            },
            "smithy.api#required": {}
          }
        },
        "engagementType": {
          "target": "com.amazonaws.securityir#EngagementType",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateCase to provide an engagement type for the new cases. Available engagement types include Security Incident | Investigation </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-engagementType"
            },
            "smithy.api#required": {}
          }
        },
        "reportedIncidentStartDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateCase to provide an initial start date for the unauthorized activity. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-reportedIncidentStartDate"
            },
            "smithy.api#required": {}
          }
        },
        "impactedAccounts": {
          "target": "com.amazonaws.securityir#ImpactedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateCase to provide a list of impacted accounts.</p> <note> <p> AWS account ID's may appear less than 12 characters and need to be zero-prepended. An example would be <code>123123123</code> which is nine digits, and with zero-prepend would be <code>000123123123</code>. Not zero-prepending to 12 digits could result in errors. </p> </note>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-impactedAccounts"
            },
            "smithy.api#required": {}
          }
        },
        "watchers": {
          "target": "com.amazonaws.securityir#Watchers",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateCase to provide a list of entities to receive notifications for case updates. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-watchers"
            },
            "smithy.api#required": {}
          }
        },
        "threatActorIpAddresses": {
          "target": "com.amazonaws.securityir#ThreatActorIpList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#default": [],
            "smithy.api#documentation": "<p>An optional element used in combination with CreateCase to provide a list of suspicious internet protocol addresses associated with unauthorized activity. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-threatActorIpAddresses"
            }
          }
        },
        "impactedServices": {
          "target": "com.amazonaws.securityir#ImpactedServicesList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#default": [],
            "smithy.api#documentation": "<p>An optional element used in combination with CreateCase to provide a list of services impacted.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-impactedServices"
            }
          }
        },
        "impactedAwsRegions": {
          "target": "com.amazonaws.securityir#ImpactedAwsRegionList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#default": [],
            "smithy.api#documentation": "<p>An optional element used in combination with CreateCase to provide a list of impacted regions.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-impactedAwsRegions"
            }
          }
        },
        "tags": {
          "target": "com.amazonaws.securityir#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>An optional element used in combination with CreateCase to add customer specified tags to a case.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-request-tags"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#CreateCaseResponse": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.securityir#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>A response element providing responses for requests to CreateCase. This element responds with the case ID. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#securityir-CreateCase-response-caseId"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateCase.html#API_CreateCase_ResponseSyntax"
        },
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#CreateMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#CreateMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#CreateMembershipResponse"
      },
      "traits": {
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "aws.iam#iamAction": {
          "name": "CreateMembership",
          "documentation": "Grants permission to create a membership",
          "requiredActions": [
            "iam:CreateServiceLinkedRole",
            "organizations:ListDelegatedAdministrators",
            "organizations:DescribeOrganization"
          ]
        },
        "smithy.api#documentation": "<p>Creates a new membership.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke CreateMembership",
            "input": {
              "membershipName": "Example Membership Name.",
              "incidentResponseTeam": [
                {
                  "name": "Bob Jones",
                  "jobTitle": "Security Responder",
                  "email": "bob.jones@gmail.com"
                },
                {
                  "email": "alice@example.com",
                  "name": "Alice",
                  "jobTitle": "CEO"
                }
              ],
              "optInFeatures": [
                {
                  "featureName": "Triage",
                  "isEnabled": true
                }
              ]
            },
            "output": {
              "membershipId": "m-abcd1234efgh"
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateMembership.html"
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v1/membership"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.securityir#CreateMembershipRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<note> <p>The <code>clientToken</code> field is an idempotency key used to ensure that repeated attempts for a single action will be ignored by the server during retries. A caller supplied unique ID (typically a UUID) should be provided. </p> </note>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateMembership.html#securityir-CreateMembership-request-clientToken"
            },
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 255
            }
          }
        },
        "membershipName": {
          "target": "com.amazonaws.securityir#MembershipName",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateMembership to create a name for the membership.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateMembership.html#securityir-CreateMembership-request-membershipName"
            },
            "smithy.api#required": {}
          }
        },
        "incidentResponseTeam": {
          "target": "com.amazonaws.securityir#IncidentResponseTeam",
          "traits": {
            "smithy.api#documentation": "<p>Required element used in combination with CreateMembership to add customer incident response team members and trusted partners to the membership. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateMembership.html#securityir-CreateMembership-request-incidentResponseTeam"
            },
            "smithy.api#required": {}
          }
        },
        "optInFeatures": {
          "target": "com.amazonaws.securityir#OptInFeatures",
          "traits": {
            "smithy.api#documentation": "<p>Optional element to enable the monitoring and investigation opt-in features for the service.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateMembership.html#securityir-CreateMembership-request-optInFeatures"
            }
          }
        },
        "tags": {
          "target": "com.amazonaws.securityir#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Optional element for customer configured tags.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateMembership.html#securityir-CreateMembership-request-tags"
            }
          }
        },
        "coverEntireOrganization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": true,
            "smithy.api#documentation": "<p>The <code>coverEntireOrganization</code> parameter is a boolean flag that determines whether the membership should be applied to the entire Amazon Web Services Organization. When set to true, the membership will be created for all accounts within the organization. When set to false, the membership will only be created for specified accounts. </p> <p>This parameter is optional. If not specified, the default value is false.</p> <ul> <li> <p>If set to <i>true</i>: The membership will automatically include all existing and future accounts in the Amazon Web Services Organization. </p> </li> <li> <p>If set to <i>false</i>: The membership will only apply to explicitly specified accounts. </p> </li> </ul>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateMembership.html#securityir-CreateMembership-request-coverEntireOrganization"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#CreateMembershipResponse": {
      "type": "structure",
      "members": {
        "membershipId": {
          "target": "com.amazonaws.securityir#MembershipId",
          "traits": {
            "smithy.api#documentation": "<p>Response element for CreateMembership providing the newly created membership ID.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_CreateMembership.html#securityir-CreateMembership-response-membershipId"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#CustomerType": {
      "type": "enum",
      "members": {
        "STANDALONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standalone"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Organization"
          }
        }
      }
    },
    "com.amazonaws.securityir#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 254
        },
        "smithy.api#pattern": "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.securityir#EngagementType": {
      "type": "enum",
      "members": {
        "SECURITY_INCIDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Security Incident"
          }
        },
        "INVESTIGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Investigation"
          }
        }
      }
    },
    "com.amazonaws.securityir#FileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.securityir#GetCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#GetCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#GetCaseResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "GetCase",
          "documentation": "Grants permission to get a case"
        },
        "smithy.api#documentation": "<p>Returns the attributes of a case.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke GetCase",
            "input": {
              "caseId": "8403556009"
            },
            "output": {
              "title": "My sample case",
              "caseArn": "arn:aws:security-ir:us-west-1:123456789012:case/1234567890",
              "description": "Case description",
              "caseStatus": "Submitted",
              "engagementType": "Investigation",
              "reportedIncidentStartDate": "2023-03-27T15:32:01.789Z",
              "actualIncidentStartDate": "2023-03-27T15:32:01.789Z",
              "impactedAwsRegions": [
                {
                  "region": "ap-southeast-1"
                }
              ],
              "threatActorIpAddresses": [
                {
                  "ipAddress": "192.168.192.168",
                  "userAgent": "Browser"
                }
              ],
              "pendingAction": "Customer",
              "impactedAccounts": ["000000000000", "111111111111"],
              "watchers": [
                {
                  "email": "alice@example.com",
                  "name": "Alice",
                  "jobTitle": "CEO"
                },
                {
                  "email": "bob@example.com",
                  "name": "Bob",
                  "jobTitle": "CFO"
                }
              ],
              "createdDate": "2023-01-27T15:32:01.789Z",
              "lastUpdatedDate": "2023-02-27T15:32:01.789Z",
              "resolverType": "Self",
              "impactedServices": ["Amazon EC2", "Amazon EKS"]
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html"
        },
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/v1/cases/{caseId}/get-case"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.securityir#GetCaseAttachmentDownloadUrl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#GetCaseAttachmentDownloadUrlRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#GetCaseAttachmentDownloadUrlResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "GetCaseAttachmentDownloadUrl",
          "documentation": "Grants permission to get a case attachment download URL"
        },
        "smithy.api#documentation": "<p>Returns a Pre-Signed URL for uploading attachments into a case.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke GetCaseAttachmentDownloadUrl",
            "input": {
              "caseId": "8403556009",
              "attachmentId": "3C5A6B89-1DEF-4C2D-A5B6-123456789ABC"
            },
            "output": {
              "attachmentPresignedUrl": "https://presignedurl.com"
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentDownloadUrl.html"
        },
        "smithy.api#http": {
          "code": 201,
          "method": "GET",
          "uri": "/v1/cases/{caseId}/get-presigned-url/{attachmentId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.securityir#GetCaseAttachmentDownloadUrlRequest": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.securityir#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>Required element for GetCaseAttachmentDownloadUrl to identify the case ID for downloading an attachment from. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentDownloadUrl.html#securityir-GetCaseAttachmentDownloadUrl-request-uri-caseId"
            },
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "attachmentId": {
          "target": "com.amazonaws.securityir#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>Required element for GetCaseAttachmentDownloadUrl to identify the attachment ID for downloading an attachment. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentDownloadUrl.html#securityir-GetCaseAttachmentDownloadUrl-request-uri-attachmentId"
            },
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#GetCaseAttachmentDownloadUrlResponse": {
      "type": "structure",
      "members": {
        "attachmentPresignedUrl": {
          "target": "com.amazonaws.securityir#Url",
          "traits": {
            "smithy.api#documentation": "<p>Response element providing the Amazon S3 presigned URL to download an attachment.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentDownloadUrl.html#securityir-GetCaseAttachmentDownloadUrl-response-attachmentPresignedUrl"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#GetCaseAttachmentUploadUrl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#GetCaseAttachmentUploadUrlRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#GetCaseAttachmentUploadUrlResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "GetCaseAttachmentUploadUrl",
          "documentation": "Grants permission to get a case attachment upload URL"
        },
        "smithy.api#documentation": "<p>Uploads an attachment to a case.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke GetCaseAttachmentUploadUrl",
            "input": {
              "caseId": "8403556009",
              "fileName": "TestFileName",
              "contentLength": 1500
            },
            "output": {
              "attachmentPresignedUrl": "https://presignedurl.com"
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentUploadUrl.html"
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v1/cases/{caseId}/get-presigned-url"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.securityir#GetCaseAttachmentUploadUrlRequest": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.securityir#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>Required element for GetCaseAttachmentUploadUrl to identify the case ID for uploading an attachment. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentUploadUrl.html#securityir-GetCaseAttachmentUploadUrl-request-uri-caseId"
            },
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fileName": {
          "target": "com.amazonaws.securityir#FileName",
          "traits": {
            "smithy.api#documentation": "<p>Required element for GetCaseAttachmentUploadUrl to identify the file name of the attachment to upload. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentUploadUrl.html#securityir-GetCaseAttachmentUploadUrl-request-contentLength"
            },
            "smithy.api#required": {}
          }
        },
        "contentLength": {
          "target": "com.amazonaws.securityir#ContentLength",
          "traits": {
            "smithy.api#documentation": "<p>Required element for GetCaseAttachmentUploadUrl to identify the size of the file attachment.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentUploadUrl.html#securityir-GetCaseAttachmentUploadUrl-request-fileName"
            },
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<note> <p>The <code>clientToken</code> field is an idempotency key used to ensure that repeated attempts for a single action will be ignored by the server during retries. A caller supplied unique ID (typically a UUID) should be provided. </p> </note>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentUploadUrl.html#securityir-GetCaseAttachmentUploadUrl-request-clientToken"
            },
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 255
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#GetCaseAttachmentUploadUrlResponse": {
      "type": "structure",
      "members": {
        "attachmentPresignedUrl": {
          "target": "com.amazonaws.securityir#Url",
          "traits": {
            "smithy.api#documentation": "<p>Response element providing the Amazon S3 presigned URL to upload the attachment.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCaseAttachmentUploadUrl.html#securityir-GetCaseAttachmentUploadUrl-response-attachmentPresignedUrl"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#GetCaseRequest": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.securityir#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>Required element for GetCase to identify the requested case ID.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-request-uri-caseId"
            },
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#GetCaseResponse": {
      "type": "structure",
      "members": {
        "title": {
          "target": "com.amazonaws.securityir#CaseTitle",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the case title.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-title"
            }
          }
        },
        "caseArn": {
          "target": "com.amazonaws.securityir#CaseArn",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the case ARN</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-caseArn"
            }
          }
        },
        "description": {
          "target": "com.amazonaws.securityir#CaseDescription",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides contents of the case description.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-description"
            }
          }
        },
        "caseStatus": {
          "target": "com.amazonaws.securityir#CaseStatus",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the case status. Options for statuses include <code>Submitted | Detection and Analysis | Eradication, Containment and Recovery | Post-Incident Activities | Closed </code> </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-caseStatus"
            }
          }
        },
        "engagementType": {
          "target": "com.amazonaws.securityir#EngagementType",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the engagement type. Options for engagement type include <code>Active Security Event | Investigations</code> </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-engagementType"
            }
          }
        },
        "reportedIncidentStartDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the customer provided incident start date.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-reportedIncidentStartDate"
            }
          }
        },
        "actualIncidentStartDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the actual incident start date as identified by data analysis during the investigation. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-actualIncidentStartDate"
            }
          }
        },
        "impactedAwsRegions": {
          "target": "com.amazonaws.securityir#ImpactedAwsRegionList",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the impacted regions.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-impactedAwsRegions"
            }
          }
        },
        "threatActorIpAddresses": {
          "target": "com.amazonaws.securityir#ThreatActorIpList",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides a list of suspicious IP addresses associated with unauthorized activity. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-threatActorIpAddresses"
            }
          }
        },
        "pendingAction": {
          "target": "com.amazonaws.securityir#PendingAction",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that identifies the case is waiting on customer input.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-pendingAction"
            }
          }
        },
        "impactedAccounts": {
          "target": "com.amazonaws.securityir#ImpactedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides a list of impacted accounts.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-impactedAccounts"
            }
          }
        },
        "watchers": {
          "target": "com.amazonaws.securityir#Watchers",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides a list of Watchers added to the case.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-watchers"
            }
          }
        },
        "createdDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the date the case was created.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-createdDate"
            }
          }
        },
        "lastUpdatedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the date a case was last modified.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-lastUpdatedDate"
            }
          }
        },
        "closureCode": {
          "target": "com.amazonaws.securityir#ClosureCode",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the summary code for why a case was closed.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-closureCode"
            }
          }
        },
        "resolverType": {
          "target": "com.amazonaws.securityir#ResolverType",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the current resolver types.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-resolverType"
            }
          }
        },
        "impactedServices": {
          "target": "com.amazonaws.securityir#ImpactedServicesList",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides a list of impacted services.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-impactedServices"
            }
          }
        },
        "caseAttachments": {
          "target": "com.amazonaws.securityir#CaseAttachmentsList",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides a list of current case attachments.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-caseAttachments"
            }
          }
        },
        "closedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetCase that provides the date a specified case was closed.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetCase.html#securityir-GetCase-response-closedDate"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#GetMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#GetMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#GetMembershipResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "GetMembership",
          "documentation": "Grants permission to get a membership"
        },
        "smithy.api#documentation": "<p>Returns the attributes of a membership.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke GetMembership",
            "input": {
              "membershipId": "m-abcd1234efgh"
            },
            "output": {
              "membershipId": "m-abcd1234efgh",
              "accountId": "123412341234",
              "region": "af-south-1",
              "membershipName": "Example Membership",
              "membershipArn": "arn:aws:security-ir:us-west-1:123456789012:membership/m-abcd1234efgh",
              "membershipStatus": "Active",
              "membershipActivationTimestamp": "2023-03-27T15:32:01.789Z",
              "membershipDeactivationTimestamp": "2023-04-27T15:32:01.789Z",
              "customerType": "Standalone",
              "numberOfAccountsCovered": 50,
              "incidentResponseTeam": [
                {
                  "name": "Bob Jones",
                  "jobTitle": "Security Responder",
                  "email": "bob.jones@gmail.com"
                },
                {
                  "email": "alice@example.com",
                  "name": "Alice",
                  "jobTitle": "CEO"
                }
              ],
              "optInFeatures": [
                {
                  "featureName": "Triage",
                  "isEnabled": true
                }
              ]
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html"
        },
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/v1/membership/{membershipId}"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetMembershipFailure",
            "params": {
              "membershipId": "m-aaaaaaaaaaaaaaaaaaaa"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.securityir#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.securityir#GetMembershipAccountDetailError": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.securityir#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembershipAccountDetailError.html#securityir-Type-GetMembershipAccountDetailError-accountId"
            },
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembershipAccountDetailItem.html#securityir-Type-GetMembershipAccountDetailItem-relationshipStatus"
            },
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembershipAccountDetailItem.html#securityir-Type-GetMembershipAccountDetailItem-relationshipType"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembershipAccountDetailError.html"
        }
      }
    },
    "com.amazonaws.securityir#GetMembershipAccountDetailErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#GetMembershipAccountDetailError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.securityir#GetMembershipAccountDetailItem": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.securityir#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembershipAccountDetailItem.html#securityir-Type-GetMembershipAccountDetailItem-accountId"
            }
          }
        },
        "relationshipStatus": {
          "target": "com.amazonaws.securityir#MembershipAccountRelationshipStatus",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembershipAccountDetailItem.html#securityir-Type-GetMembershipAccountDetailItem-relationshipStatus"
            }
          }
        },
        "relationshipType": {
          "target": "com.amazonaws.securityir#MembershipAccountRelationshipType",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembershipAccountDetailItem.html#securityir-Type-GetMembershipAccountDetailItem-relationshipType"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembershipAccountDetailItem.html"
        }
      }
    },
    "com.amazonaws.securityir#GetMembershipAccountDetailItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#GetMembershipAccountDetailItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.securityir#GetMembershipRequest": {
      "type": "structure",
      "members": {
        "membershipId": {
          "target": "com.amazonaws.securityir#MembershipId",
          "traits": {
            "smithy.api#documentation": "<p>Required element for GetMembership to identify the membership ID to query.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-request-uri-membershipId"
            },
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityir#GetMembershipResponse": {
      "type": "structure",
      "members": {
        "membershipId": {
          "target": "com.amazonaws.securityir#MembershipId",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the queried membership ID.</p>",
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "com.amazonaws.securityir#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the account configured to manage the membership.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-accountId"
            }
          }
        },
        "region": {
          "target": "com.amazonaws.securityir#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the region configured to manage the membership.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-region"
            }
          }
        },
        "membershipName": {
          "target": "com.amazonaws.securityir#MembershipName",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the configured membership name.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-membershipName"
            }
          }
        },
        "membershipArn": {
          "target": "com.amazonaws.securityir#MembershipArn",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the membership ARN.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-membershipArn"
            }
          }
        },
        "membershipStatus": {
          "target": "com.amazonaws.securityir#MembershipStatus",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the current membership status.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-membershipStatus"
            }
          }
        },
        "membershipActivationTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the configured membership activation timestamp.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-membershipActivationTimestamp"
            }
          }
        },
        "membershipDeactivationTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the configured membership name deactivation timestamp. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-membershipDeactivationTimestamp"
            }
          }
        },
        "customerType": {
          "target": "com.amazonaws.securityir#CustomerType",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the configured membership type. Options include <code> Standalone | Organizations</code>. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-customerType"
            }
          }
        },
        "numberOfAccountsCovered": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the number of accounts in the membership.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-numberOfAccountsCovered"
            }
          }
        },
        "incidentResponseTeam": {
          "target": "com.amazonaws.securityir#IncidentResponseTeam",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the configured membership incident response team members. </p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-incidentResponseTeam"
            }
          }
        },
        "optInFeatures": {
          "target": "com.amazonaws.securityir#OptInFeatures",
          "traits": {
            "smithy.api#documentation": "<p>Response element for GetMembership that provides the if opt-in features have been enabled.</p>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-optInFeatures"
            }
          }
        },
        "membershipAccountsConfigurations": {
          "target": "com.amazonaws.securityir#MembershipAccountsConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The <code>membershipAccountsConfigurations</code> field contains the configuration details for member accounts within the Amazon Web Services Organizations membership structure. </p> <p>This field returns a structure containing information about:</p> <ul> <li> <p>Account configurations for member accounts</p> </li> <li> <p>Membership settings and preferences</p> </li> <li> <p>Account-level permissions and roles</p> </li> </ul>",
            "smithy.api#externalDocumentation": {
              "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_GetMembership.html#securityir-GetMembership-response-membershipAccountsConfigurations"
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityir#IPAddress": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(?:(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))|(?:(?:[A-F0-9]{1,4}:){7}[A-F0-9]{1,4})|(?:(?:[A-F0-9]{1,4}:){6}(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.securityir#ImpactedAccounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#AWSAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.securityir#ImpactedAwsRegion": {
      "type": "structure",
      "members": {
        "region": {
          "target": "com.amazonaws.securityir#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.securityir#ImpactedAwsRegionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#ImpactedAwsRegion"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.securityir#ImpactedServicesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#AwsService"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 600
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.securityir#IncidentResponder": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.securityir#IncidentResponderName",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "jobTitle": {
          "target": "com.amazonaws.securityir#JobTitle",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "com.amazonaws.securityir#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "communicationPreferences": {
          "target": "com.amazonaws.securityir#CommunicationPreferences",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.securityir#IncidentResponderName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.securityir#IncidentResponseTeam": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityir#IncidentResponder"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 10
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.securityir#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception message.</p>",
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds after which to retry the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.securityir#InvalidTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 423,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.securityir#JobTitle": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.securityir#ListCaseEdits": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityir#ListCaseEditsRequest"
      },
      "output": {
        "target": "com.amazonaws.securityir#ListCaseEditsResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "ListCaseEdits",
          "documentation": "Grants permission to list case edits"
        },
        "smithy.api#documentation": "<p>Views the case history for edits made to a designated case.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke ListCaseEdits",
            "input": {
              "caseId": "8403556009"
            },
            "output": {
              "items": [
                {
                  "eventTimestamp": "2023-03-27T15:32:01.789Z",
                  "principal": "00000000000",
                  "action": "Add comment",
                  "message": "Added comment to ask question to responder."
                }
              ],
              "total": 1
            }
          }
        ],
        "smithy.api#externalDocumentation": {
          "API Reference": "https://docs.aws.amazon.com/security-ir/latest/APIReference/API_ListCaseEdits.html"
        },
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/v1/cases/{caseId}/list-case-edits"
        },
        "smithy.api#paginated": {
          "items": "items",
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.securityir#ListCaseEditsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#clientOptional": {},
[...]
