{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.securityhub#AcceptAdministratorInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#AcceptAdministratorInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#AcceptAdministratorInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator\n         account that the invitation was sent from.</p>\n         <p>This operation is only used by member accounts that are not added through\n         Organizations.</p>\n         <p>When the member account accepts the invitation, permission is granted to the administrator\n         account to view findings generated in the member account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/administrator",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#AcceptAdministratorInvitationRequest": {
      "type": "structure",
      "members": {
        "AdministratorId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the Security Hub administrator account that sent the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the invitation sent from the Security Hub administrator account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#AcceptAdministratorInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.securityhub#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#AcceptInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#AcceptInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "This API has been deprecated, use AcceptAdministratorInvitation API instead."
        },
        "smithy.api#documentation": "<p>This method is deprecated. Instead, use <code>AcceptAdministratorInvitation</code>.</p>\n         <p>The Security Hub console continues to use <code>AcceptInvitation</code>. It will eventually change to use <code>AcceptAdministratorInvitation</code>. Any IAM policies that specifically control access to this function must continue to use <code>AcceptInvitation</code>. You should also add <code>AcceptAdministratorInvitation</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>AcceptAdministratorInvitation</code>.</p>\n         <p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator\n         account that the invitation was sent from.</p>\n         <p>This operation is only used by member accounts that are not added through\n         Organizations.</p>\n         <p>When the member account accepts the invitation, permission is granted to the administrator\n         account to view findings generated in the member account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/master",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "MasterId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the Security Hub administrator account that sent the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the invitation sent from the Security Hub administrator account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#AcceptInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.securityhub#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.securityhub#NonEmptyString"
        },
        "Code": {
          "target": "com.amazonaws.securityhub#NonEmptyString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permission to perform the action specified in the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.securityhub#AccountDetails": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.securityhub#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "Email": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The email of an Amazon Web Services account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.securityhub#AccountDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AccountDetails"
      }
    },
    "com.amazonaws.securityhub#AccountId": {
      "type": "string"
    },
    "com.amazonaws.securityhub#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#NonEmptyString"
      }
    },
    "com.amazonaws.securityhub#Action": {
      "type": "structure",
      "members": {
        "ActionType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of action that was detected. The possible action types are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NETWORK_CONNECTION</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_API_CALL</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DNS_REQUEST</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>PORT_PROBE</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "NetworkConnectionAction": {
          "target": "com.amazonaws.securityhub#NetworkConnectionAction",
          "traits": {
            "smithy.api#documentation": "<p>Included if <code>ActionType</code> is <code>NETWORK_CONNECTION</code>. Provides details\n         about the network connection that was detected.</p>"
          }
        },
        "AwsApiCallAction": {
          "target": "com.amazonaws.securityhub#AwsApiCallAction",
          "traits": {
            "smithy.api#documentation": "<p>Included if <code>ActionType</code> is <code>AWS_API_CALL</code>. Provides details about\n         the API call that was detected. </p>"
          }
        },
        "DnsRequestAction": {
          "target": "com.amazonaws.securityhub#DnsRequestAction",
          "traits": {
            "smithy.api#documentation": "<p>Included if <code>ActionType</code> is <code>DNS_REQUEST</code>. Provides details about\n         the DNS request that was detected. </p>"
          }
        },
        "PortProbeAction": {
          "target": "com.amazonaws.securityhub#PortProbeAction",
          "traits": {
            "smithy.api#documentation": "<p>Included if <code>ActionType</code> is <code>PORT_PROBE</code>. Provides details about\n         the port probe that was detected. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about one of the following actions that affects or that was taken on a resource:</p>\n         <ul>\n            <li>\n               <p>A remote IP address issued an Amazon Web Services API call</p>\n            </li>\n            <li>\n               <p>A DNS request was received</p>\n            </li>\n            <li>\n               <p>A remote IP address attempted to connect to an EC2 instance</p>\n            </li>\n            <li>\n               <p>A remote IP address attempted a port probe on an EC2 instance</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.securityhub#ActionLocalIpDetails": {
      "type": "structure",
      "members": {
        "IpAddressV4": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IP address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the IP address where the scanned port is located.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionLocalPortDetails": {
      "type": "structure",
      "members": {
        "Port": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of the port.</p>"
          }
        },
        "PortName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The port name of the local connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For <code>NetworkConnectionAction</code> and <code>PortProbeDetails</code>,\n            <code>LocalPortDetails</code> provides information about the local port that was\n         involved in the action.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionRemoteIpDetails": {
      "type": "structure",
      "members": {
        "IpAddressV4": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IP address.</p>"
          }
        },
        "Organization": {
          "target": "com.amazonaws.securityhub#IpOrganizationDetails",
          "traits": {
            "smithy.api#documentation": "<p>The internet service provider (ISP) organization associated with the remote IP\n         address.</p>"
          }
        },
        "Country": {
          "target": "com.amazonaws.securityhub#Country",
          "traits": {
            "smithy.api#documentation": "<p>The country where the remote IP address is located.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.securityhub#City",
          "traits": {
            "smithy.api#documentation": "<p>The city where the remote IP address is located.</p>"
          }
        },
        "GeoLocation": {
          "target": "com.amazonaws.securityhub#GeoLocation",
          "traits": {
            "smithy.api#documentation": "<p>The coordinates of the location of the remote IP address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For <code>AwsApiAction</code>, <code>NetworkConnectionAction</code>, and\n            <code>PortProbeAction</code>, <code>RemoteIpDetails</code> provides information about\n         the remote IP address that was involved in the action.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionRemotePortDetails": {
      "type": "structure",
      "members": {
        "Port": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of the port.</p>"
          }
        },
        "PortName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The port name of the remote connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the remote port that was involved in an attempted network\n         connection.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionTarget": {
      "type": "structure",
      "members": {
        "ActionTargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the target action.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action target.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the target action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An <code>ActionTarget</code> object.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionTargetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#ActionTarget"
      }
    },
    "com.amazonaws.securityhub#Adjustment": {
      "type": "structure",
      "members": {
        "Metric": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The metric to adjust.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the adjustment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An adjustment to the CVSS metric.</p>"
      }
    },
    "com.amazonaws.securityhub#AdjustmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#Adjustment"
      }
    },
    "com.amazonaws.securityhub#AdminAccount": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the Security Hub administrator account.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#AdminStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Security Hub administrator account. Indicates whether the account is\n         currently enabled as a Security Hub administrator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a Security Hub administrator account designated by an organization management\n         account.</p>"
      }
    },
    "com.amazonaws.securityhub#AdminAccounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AdminAccount"
      }
    },
    "com.amazonaws.securityhub#AdminStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_IN_PROGRESS"
          }
        }
      }
    },
    "com.amazonaws.securityhub#AdminsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.securityhub#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#NonEmptyString"
      }
    },
    "com.amazonaws.securityhub#AutoEnableStandards": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        }
      }
    },
    "com.amazonaws.securityhub#AvailabilityZone": {
      "type": "structure",
      "members": {
        "ZoneName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Availability Zone.</p>"
      }
    },
    "com.amazonaws.securityhub#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AvailabilityZone"
      }
    },
    "com.amazonaws.securityhub#AwsApiCallAction": {
      "type": "structure",
      "members": {
        "Api": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API method that was issued.</p>"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Web Services service that the API method belongs to.</p>"
          }
        },
        "CallerType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the API call originated from a remote IP address\n            (<code>remoteip</code>) or from a DNS domain (<code>domain</code>).</p>"
          }
        },
        "RemoteIpDetails": {
          "target": "com.amazonaws.securityhub#ActionRemoteIpDetails",
          "traits": {
            "smithy.api#documentation": "<p>Provided if <code>CallerType</code> is <code>remoteIp</code>. Provides information about\n         the remote IP address that the API call originated from.</p>"
          }
        },
        "DomainDetails": {
          "target": "com.amazonaws.securityhub#AwsApiCallActionDomainDetails",
          "traits": {
            "smithy.api#documentation": "<p>Provided if <code>CallerType</code> is <code>domain</code>. Provides information about\n         the DNS domain that the API call originated from.</p>"
          }
        },
        "AffectedResources": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the resources that were affected by the API call.</p>"
          }
        },
        "FirstSeen": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the API call was first\n         observed.</p>"
          }
        },
        "LastSeen": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the API call was most recently\n         observed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provided if <code>ActionType</code> is <code>AWS_API_CALL</code>. It provides details\n         about the API call that was detected.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiCallActionDomainDetails": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DNS domain that issued the API call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provided if <code>CallerType</code> is <code>domain</code>. It provides information\n         about the DNS domain that issued the API call.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayAccessLogSettings": {
      "type": "structure",
      "members": {
        "Format": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A single-line format of the access logs of data, as specified by selected\n            <code>$context</code> variables. The format must include at least\n            <code>$context.requestId</code>.</p>"
          }
        },
        "DestinationArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the CloudWatch Logs log group that receives the access logs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about settings for logging access for the stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayCanarySettings": {
      "type": "structure",
      "members": {
        "PercentTraffic": {
          "target": "com.amazonaws.securityhub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The percentage of traffic that is diverted to a canary deployment.</p>"
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The deployment identifier for the canary deployment.</p>"
          }
        },
        "StageVariableOverrides": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>Stage variables that are overridden in the canary release deployment. The variables\n         include new stage variables that are introduced in the canary.</p>\n         <p>Each variable is represented as a string-to-string map between the stage variable name\n         and the variable value.</p>"
          }
        },
        "UseStageCache": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the canary deployment uses the stage cache.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about settings for canary deployment in the stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayEndpointConfiguration": {
      "type": "structure",
      "members": {
        "Types": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of endpoint types for the REST API.</p>\n         <p>For an edge-optimized API, the endpoint type is <code>EDGE</code>. For a Regional API,\n         the endpoint type is <code>REGIONAL</code>. For a private API, the endpoint type is\n            <code>PRIVATE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the endpoints for the API.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayMethodSettings": {
      "type": "structure",
      "members": {
        "MetricsEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether CloudWatch metrics are enabled for the method. </p>"
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The logging level for this method. The logging level affects the log entries that are\n         pushed to CloudWatch Logs.</p>\n         <p>If the logging level is <code>ERROR</code>, then the logs only include error-level\n         entries.</p>\n         <p>If the logging level is <code>INFO</code>, then the logs include both <code>ERROR</code>\n         events and extra informational events.</p>\n         <p>Valid values: <code>OFF</code> | <code>ERROR</code> | <code>INFO</code>\n         </p>"
          }
        },
        "DataTraceEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether data trace logging is enabled for the method. Data trace logging\n         affects the log entries that are pushed to CloudWatch Logs.</p>"
          }
        },
        "ThrottlingBurstLimit": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The throttling burst limit for the method.</p>"
          }
        },
        "ThrottlingRateLimit": {
          "target": "com.amazonaws.securityhub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The throttling rate limit for the method.</p>"
          }
        },
        "CachingEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether responses are cached and returned for requests. For responses to be\n         cached, a cache cluster must be enabled on the stage.</p>"
          }
        },
        "CacheTtlInSeconds": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specifies the time to live (TTL), in seconds, for cached responses. The higher the TTL,\n         the longer the response is cached.</p>"
          }
        },
        "CacheDataEncrypted": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the cached responses are encrypted. </p>"
          }
        },
        "RequireAuthorizationForCacheControl": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether authorization is required for a cache invalidation request.</p>"
          }
        },
        "UnauthorizedCacheControlHeaderStrategy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how to handle unauthorized requests for cache invalidation.</p>\n         <p>Valid values: <code>FAIL_WITH_403</code> | <code>SUCCEED_WITH_RESPONSE_HEADER</code> |\n            <code>SUCCEED_WITHOUT_RESPONSE_HEADER</code>\n         </p>"
          }
        },
        "HttpMethod": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP method. You can use an asterisk (*) as a wildcard to apply method settings to\n         multiple methods.</p>"
          }
        },
        "ResourcePath": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The resource path for this method. Forward slashes (/) are encoded as ~1 . The initial\n         slash must include a forward slash.</p>\n         <p>For example, the path value <code>/resource/subresource</code> must be encoded as\n            <code>/~1resource~1subresource</code>.</p>\n         <p>To specify the root path, use only a slash (/). You can use an asterisk (*) as a\n         wildcard to apply method settings to multiple methods.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines settings for a method for the stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayMethodSettingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsApiGatewayMethodSettings"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayRestApiDetails": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the REST API.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the REST API.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the REST API.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the API was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier for the REST API.</p>"
          }
        },
        "BinaryMediaTypes": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of binary media types supported by the REST API.</p>"
          }
        },
        "MinimumCompressionSize": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The minimum size in bytes of a payload before compression is enabled.</p>\n         <p>If <code>null</code>, then compression is disabled.</p>\n         <p>If 0, then all payloads are compressed.</p>"
          }
        },
        "ApiKeySource": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source of the API key for metering requests according to a usage plan.</p>\n         <p>\n            <code>HEADER</code> indicates whether to read the API key from the X-API-Key header of a\n         request.</p>\n         <p>\n            <code>AUTHORIZER</code> indicates whether to read the API key from the\n            <code>UsageIdentifierKey</code> from a custom authorizer.</p>"
          }
        },
        "EndpointConfiguration": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayEndpointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint configuration of the REST API.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a REST API in version 1 of Amazon API Gateway.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayStageDetails": {
      "type": "structure",
      "members": {
        "DeploymentId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the deployment that the stage points to.</p>"
          }
        },
        "ClientCertificateId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the client certificate for the stage.</p>"
          }
        },
        "StageName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the stage.</p>"
          }
        },
        "CacheClusterEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether a cache cluster is enabled for the stage.</p>"
          }
        },
        "CacheClusterSize": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>If a cache cluster is enabled, the size of the cache cluster.</p>"
          }
        },
        "CacheClusterStatus": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>If a cache cluster is enabled, the status of the cache cluster.</p>"
          }
        },
        "MethodSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayMethodSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines the method settings for the stage.</p>"
          }
        },
        "Variables": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that defines the stage variables for the stage.</p>\n         <p>Variable names can have alphanumeric and underscore characters.</p>\n         <p>Variable values can contain the following characters:</p>\n         <ul>\n            <li>\n               <p>Uppercase and lowercase letters</p>\n            </li>\n            <li>\n               <p>Numbers</p>\n            </li>\n            <li>\n               <p>Special characters -._~:/?#&=,</p>\n            </li>\n         </ul>"
          }
        },
        "DocumentationVersion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the API documentation that is associated with the stage.</p>"
          }
        },
        "AccessLogSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayAccessLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings for logging access for the stage.</p>"
          }
        },
        "CanarySettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayCanarySettings",
          "traits": {
            "smithy.api#documentation": "<p>Information about settings for canary deployment in the stage.</p>"
          }
        },
        "TracingEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether active tracing with X-Ray is enabled for the stage.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the stage was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "LastUpdatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the stage was most recently updated.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "WebAclArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web ACL associated with the stage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a version 1 Amazon API Gateway stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayV2ApiDetails": {
      "type": "structure",
      "members": {
        "ApiEndpoint": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the API. </p>\n         <p>Uses the format\n               <code>\n               <i><api-id></i>.execute-api.<i><region></i>.amazonaws.com</code>\n         </p>\n         <p>The stage name is typically appended to the URI to form a complete path to a deployed\n         API stage.</p>"
          }
        },
        "ApiId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the API.</p>"
          }
        },
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. </p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the API was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the API.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier for the API.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API.</p>"
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The API protocol for the API.</p>\n         <p>Valid values: <code>WEBSOCKET</code> | <code>HTTP</code>\n         </p>"
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The route selection expression for the API.</p>\n         <p>For HTTP APIs, must be <code>${request.method} ${request.path}</code>. This is the\n         default value for HTTP APIs.</p>\n         <p>For WebSocket APIs, there is no default value.</p>"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.securityhub#AwsCorsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A cross-origin resource sharing (CORS) configuration. Supported only for HTTP\n         APIs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a version 2 API in Amazon API Gateway.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayV2RouteSettings": {
      "type": "structure",
      "members": {
        "DetailedMetricsEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether detailed metrics are enabled.</p>"
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The logging level. The logging level affects the log entries that are pushed to\n         CloudWatch Logs. Supported only for WebSocket APIs.</p>\n         <p>If the logging level is <code>ERROR</code>, then the logs only include error-level\n         entries.</p>\n         <p>If the logging level is <code>INFO</code>, then the logs include both <code>ERROR</code>\n         events and extra informational events.</p>\n         <p>Valid values: <code>OFF</code> | <code>ERROR</code> | <code>INFO</code>\n         </p>"
          }
        },
        "DataTraceEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether data trace logging is enabled. Data trace logging affects the log\n         entries that are pushed to CloudWatch Logs. Supported only for WebSocket APIs.</p>"
          }
        },
        "ThrottlingBurstLimit": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The throttling burst limit.</p>"
          }
        },
        "ThrottlingRateLimit": {
          "target": "com.amazonaws.securityhub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The throttling rate limit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains route settings for a stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayV2StageDetails": {
      "type": "structure",
      "members": {
        "ClientCertificateId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of a client certificate for a stage. Supported only for WebSocket API calls.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the stage was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the stage.</p>"
          }
        },
        "DefaultRouteSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayV2RouteSettings",
          "traits": {
            "smithy.api#documentation": "<p>Default route settings for the stage.</p>"
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the deployment that the stage is associated with. </p>"
          }
        },
        "LastUpdatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the stage was most recently updated.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "RouteSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayV2RouteSettings",
          "traits": {
            "smithy.api#documentation": "<p>The route settings for the stage.</p>"
          }
        },
        "StageName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>"
          }
        },
        "StageVariables": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that defines the stage variables for the stage.</p>\n         <p>Variable names can have alphanumeric and underscore characters.</p>\n         <p>Variable values can contain the following characters:</p>\n         <ul>\n            <li>\n               <p>Uppercase and lowercase letters</p>\n            </li>\n            <li>\n               <p>Numbers</p>\n            </li>\n            <li>\n               <p>Special characters -._~:/?#&=,</p>\n            </li>\n         </ul>"
          }
        },
        "AccessLogSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayAccessLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Information about settings for logging access for the stage.</p>"
          }
        },
        "AutoDeploy": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether updates to an API automatically trigger a new deployment.</p>"
          }
        },
        "LastDeploymentStatusMessage": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The status of the last deployment of a stage. Supported only if the stage has automatic\n         deployment enabled.</p>"
          }
        },
        "ApiGatewayManaged": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the stage is managed by API Gateway.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a version 2 stage for Amazon API Gateway.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupAvailabilityZonesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupAvailabilityZonesListDetails"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupAvailabilityZonesListDetails": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Availability Zone for the automatic scaling group.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupDetails": {
      "type": "structure",
      "members": {
        "LaunchConfigurationName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration.</p>"
          }
        },
        "LoadBalancerNames": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of load balancers associated with the group.</p>"
          }
        },
        "HealthCheckType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The service to use for the health checks. Valid values are <code>EC2</code> or <code>ELB</code>.</p>"
          }
        },
        "HealthCheckGracePeriod": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before it checks the\n         health status of an EC2 instance that has come into service.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the auto scaling group was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "MixedInstancesPolicy": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyDetails",
          "traits": {
            "smithy.api#documentation": "<p>The mixed instances policy for the automatic scaling group.</p>"
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupAvailabilityZonesList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Availability Zones for the automatic scaling group.</p>"
          }
        },
        "LaunchTemplate": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupLaunchTemplateLaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template to use.</p>"
          }
        },
        "CapacityRebalance": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether capacity rebalancing is enabled.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an auto scaling group.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupLaunchTemplateLaunchTemplateSpecification": {
      "type": "structure",
      "members": {
        "LaunchTemplateId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>"
          }
        },
        "LaunchTemplateName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the version of the launch template. You can specify a version identifier, or use the values <code>$Latest</code> or <code>$Default</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the launch template to use.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyDetails": {
      "type": "structure",
      "members": {
        "InstancesDistribution": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyInstancesDistributionDetails",
          "traits": {
            "smithy.api#documentation": "<p>The instances distribution. The instances distribution specifies the distribution of On-Demand Instances and Spot Instances, the maximum price to pay for Spot Instances, and how the Auto Scaling group allocates instance types to fulfill On-Demand and Spot capacity.</p>"
          }
        },
        "LaunchTemplate": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateDetails",
          "traits": {
            "smithy.api#documentation": "<p>The launch template to use and the instance types (overrides) to use to provision EC2 instances to fulfill On-Demand and Spot capacities.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The mixed instances policy for the automatic scaling group.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyInstancesDistributionDetails": {
      "type": "structure",
      "members": {
        "OnDemandAllocationStrategy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>How to allocate instance types to fulfill On-Demand capacity. The valid value is <code>prioritized</code>.</p>"
          }
        },
        "OnDemandBaseCapacity": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The minimum amount of the Auto Scaling group's capacity that must be fulfilled by On-Demand Instances.</p>"
          }
        },
        "OnDemandPercentageAboveBaseCapacity": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The percentage of On-Demand Instances and Spot Instances for additional capacity beyond <code>OnDemandBaseCapacity</code>.</p>"
          }
        },
        "SpotAllocationStrategy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>How to allocate instances across Spot Instance pools. Valid values are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>lowest-price</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>capacity-optimized</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>capacity-optimized-prioritized</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "SpotInstancePools": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of Spot Instance pools across which to allocate your Spot Instances.</p>"
          }
        },
        "SpotMaxPrice": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The maximum price per unit hour that you are willing to pay for a Spot Instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the instances distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateDetails": {
      "type": "structure",
      "members": {
        "LaunchTemplateSpecification": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateLaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template to use for a mixed instances policy.</p>"
          }
        },
        "Overrides": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesList",
          "traits": {
            "smithy.api#documentation": "<p>Property values to use to override the values in the launch template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a launch template and overrides for a mixed instances policy.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateLaunchTemplateSpecification": {
      "type": "structure",
      "members": {
        "LaunchTemplateId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>"
          }
        },
        "LaunchTemplateName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the version of the launch template. You can specify a version identifier, or use the values <code>$Latest</code> or <code>$Default</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the launch template to use for a mixed instances policy.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesListDetails"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesListDetails": {
      "type": "structure",
      "members": {
        "InstanceType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The instance type. For example, <code>m3.xlarge</code>.</p>"
          }
        },
        "WeightedCapacity": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The number of capacity units provided by the specified instance type in terms of virtual CPUs, memory, storage, throughput, or other relative performance characteristic.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Property values to use to override the values in the launch template.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsDetails": {
      "type": "structure",
      "members": {
        "DeviceName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The device name that is exposed to the EC2 instance. For example, <code>/dev/sdh</code> or <code>xvdh</code>.</p>"
          }
        },
        "Ebs": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsEbsDetails",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are used to automatically set up Amazon EBS volumes when an instance is launched.</p>"
          }
        },
        "NoDevice": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to suppress the device that is included in the block device mapping of the Amazon Machine Image (AMI).</p>\n         <p>If <code>NoDevice</code> is <code>true</code>, then you cannot specify <code>Ebs</code>.></p>"
          }
        },
        "VirtualName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the virtual device (for example, <code>ephemeral0</code>).</p>\n         <p>You can provide either <code>VirtualName</code> or <code>Ebs</code>, but not both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A block device for the instance.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsEbsDetails": {
      "type": "structure",
      "members": {
        "DeleteOnTermination": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to delete the volume when the instance is terminated.</p>"
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to encrypt the volume.</p>"
          }
        },
        "Iops": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of input/output (I/O) operations per second (IOPS) to provision for the volume.</p>\n         <p>Only supported for <code>gp3</code> or <code>io1</code> volumes. Required for <code>io1</code> volumes. Not used with <code>standard</code>, <code>gp2</code>, <code>st1</code>, or <code>sc1</code> volumes.</p>"
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot ID of the volume to use.</p>\n         <p>You must specify either <code>VolumeSize</code> or <code>SnapshotId</code>.</p>"
          }
        },
        "VolumeSize": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The volume size, in GiBs. The following are the supported volumes sizes for each volume type:</p>\n         <ul>\n            <li>\n               <p>gp2 and gp3: 1-16,384</p>\n            </li>\n            <li>\n               <p>io1: 4-16,384</p>\n            </li>\n            <li>\n               <p>st1 and sc1: 125-16,384</p>\n            </li>\n            <li>\n               <p>standard: 1-1,024</p>\n            </li>\n         </ul>\n         <p>You must specify either <code>SnapshotId</code> or <code>VolumeSize</code>. If you specify both <code>SnapshotId</code> and <code>VolumeSize</code>, the volume size must be equal or greater than the size of the snapshot.</p>"
          }
        },
        "VolumeType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The volume type. Valid values are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>gp2</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>gp3</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>io1</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>sc1</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>st1</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>standard</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are used to automatically set up EBS volumes when an instance is launched.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsDetails"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationDetails": {
      "type": "structure",
      "members": {
        "AssociatePublicIpAddress": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>For Auto Scaling groups that run in a VPC, specifies whether to assign a public IP address to the group's instances.</p>"
          }
        },
        "BlockDeviceMappings": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the block devices for the instance.</p>"
          }
        },
        "ClassicLinkVpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of a ClassicLink-enabled VPC that EC2-Classic instances are linked to.</p>"
          }
        },
        "ClassicLinkVpcSecurityGroups": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers of one or more security groups for the VPC that is specified in <code>ClassicLinkVPCId</code>.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The creation date and time for the launch configuration.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n         Date/Time Format</a>. The value cannot contain spaces. For example,\n         <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "EbsOptimized": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the launch configuration is optimized for Amazon EBS I/O.</p>"
          }
        },
        "IamInstanceProfile": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the instance profile associated with the IAM role for the\n         instance. The instance profile contains the IAM role.</p>"
          }
        },
        "ImageId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Machine Image (AMI) that is used to launch EC2\n         instances.</p>"
          }
        },
        "InstanceMonitoring": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationInstanceMonitoringDetails",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of monitoring for instances in the group.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The instance type for the instances.</p>"
          }
        },
        "KernelId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the kernel associated with the AMI.</p>"
          }
        },
        "KeyName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key pair.</p>"
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration.</p>"
          }
        },
        "PlacementTenancy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The tenancy of the instance. An instance with <code>dedicated</code> tenancy runs on\n         isolated, single-tenant hardware and can only be launched into a VPC.</p>"
          }
        },
        "RamdiskId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the RAM disk associated with the AMI.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The security groups to assign to the instances in the Auto Scaling group.</p>"
          }
        },
        "SpotPrice": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The maximum hourly price to be paid for any Spot Instance that is launched to fulfill the\n         request.</p>"
          }
        },
        "UserData": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The user data to make available to the launched EC2 instances. Must be base64-encoded\n         text.</p>"
          }
        },
        "MetadataOptions": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationMetadataOptions",
          "traits": {
            "smithy.api#documentation": "<p>The metadata options for the instances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a launch configuration.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationInstanceMonitoringDetails": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>If set to <code>true</code>, then instances in the group launch with detailed\n         monitoring.</p>\n         <p>If set to <code>false</code>, then instances in the group launch with basic\n         monitoring.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the type of monitoring for instances in the group.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationMetadataOptions": {
      "type": "structure",
      "members": {
        "HttpEndpoint": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables the HTTP metadata endpoint on your instances. By default, the metadata endpoint is enabled.</p>"
          }
        },
        "HttpPutResponseHopLimit": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The HTTP <code>PUT</code> response hop limit for instance metadata requests. The larger the number, the further instance metadata requests can travel.</p>"
          }
        },
        "HttpTokens": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether token usage is <code>required</code> or <code>optional</code> for metadata requests. By default, token usage is <code>optional</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata options for the instances.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupPlanAdvancedBackupSettingsDetails": {
      "type": "structure",
      "members": {
        "BackupOptions": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the backup option for a selected resource. This option is only available for Windows \nVolume Shadow Copy Service (VSS) backup jobs. Valid values are as follows:</p>\n         <ul>\n            <li>\n               <p>Set to <code>WindowsVSS: enabled</code> to enable the WindowsVSS backup option and create a Windows VSS backup.</p>\n            </li>\n            <li>\n               <p>Set to <code>WindowsVSS: disabled</code> to create a regular backup. The <code>WindowsVSS</code> option is not enabled by default.</p>\n            </li>\n         </ul>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a resource type. The only supported resource type is Amazon EC2 instances with Windows VSS.</p>\n         <p>The only valid value is <code>EC2</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of backup options for each resource type.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupPlanAdvancedBackupSettingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsBackupBackupPlanAdvancedBackupSettingsDetails"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupPlanBackupPlanDetails": {
      "type": "structure",
      "members": {
        "BackupPlanName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a backup plan.\n      </p>"
          }
        },
        "AdvancedBackupSettings": {
          "target": "com.amazonaws.securityhub#AwsBackupBackupPlanAdvancedBackupSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of backup options for each resource type.\n      </p>"
          }
        },
        "BackupPlanRule": {
          "target": "com.amazonaws.securityhub#AwsBackupBackupPlanRuleList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an Backup backup plan and an array of <code>BackupRule</code> objects, each of which specifies a backup rule.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupPlanDetails": {
      "type": "structure",
      "members": {
        "BackupPlan": {
          "target": "com.amazonaws.securityhub#AwsBackupBackupPlanBackupPlanDetails",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the backup plan to be associated with the selection of resources.\n      </p>"
          }
        },
        "BackupPlanArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the backup plan.\n      </p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID for the backup plan.\n      </p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings. Version IDs cannot be edited.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an Backup backup plan and an array of <code>BackupRule</code> objects, each of which specifies a backup rule.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupPlanLifecycleDetails": {
      "type": "structure",
      "members": {
        "DeleteAfterDays": {
          "target": "com.amazonaws.securityhub#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specifies the number of days after creation that a recovery point is deleted. Must be greater than 90 days plus <code>MoveToColdStorageAfterDays</code>.\n      </p>"
          }
        },
        "MoveToColdStorageAfterDays": {
          "target": "com.amazonaws.securityhub#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specifies the number of days after creation that a recovery point is moved to cold storage.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides lifecycle details for the backup plan. A lifecycle defines when a backup is transitioned to cold storage and when it expires.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupPlanRuleCopyActionsDetails": {
      "type": "structure",
      "members": {
        "DestinationBackupVaultArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the destination backup vault for the copied backup.\n      </p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.securityhub#AwsBackupBackupPlanLifecycleDetails",
          "traits": {
            "smithy.api#documentation": "<p>Defines when a protected resource is transitioned to cold storage and when it expires.\n            Backup transitions and expires backups automatically according to the\n         lifecycle that you define. If you do not specify a lifecycle, Backup applies\n         the lifecycle policy of the source backup to the destination backup.</p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An array of <code>CopyAction</code> objects, each of which contains details of the copy operation.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupPlanRuleCopyActionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsBackupBackupPlanRuleCopyActionsDetails"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupPlanRuleDetails": {
      "type": "structure",
      "members": {
        "TargetBackupVault": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the Amazon Web Services account used to create them and the Amazon Web Services Region  where they are created. They consist of letters, numbers, and hyphens.\n      </p>"
          }
        },
        "StartWindowMinutes": {
          "target": "com.amazonaws.securityhub#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>A value in minutes after a backup is scheduled before a job will be canceled if it doesn't start successfully.\n      </p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression in UTC specifying when Backup initiates a backup job.\n      </p>"
          }
        },
        "RuleName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A display name for a backup rule. Must contain 1 to 50 alphanumeric or '-_.' characters. </p>"
          }
        },
        "RuleId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a rule that is used to schedule the backup of a selection of resources.\n      </p>"
          }
        },
        "EnableContinuousBackup": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether Backup creates continuous backups capable of point-in-time restore (PITR).\n      </p>"
          }
        },
        "CompletionWindowMinutes": {
          "target": "com.amazonaws.securityhub#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>A value in minutes after a backup job is successfully started before it must be completed, or it is canceled by Backup.\n      </p>"
          }
        },
        "CopyActions": {
          "target": "com.amazonaws.securityhub#AwsBackupBackupPlanRuleCopyActionsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>CopyAction</code> objects, each of which contains details of the\n         copy operation. </p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.securityhub#AwsBackupBackupPlanLifecycleDetails",
          "traits": {
            "smithy.api#documentation": "<p>Defines when a protected resource is transitioned to cold storage and when it expires. Backup transitions and expires backups automatically according to the lifecycle that you define. If you do not specify a lifecycle, Backup applies the lifecycle policy of the source backup to the destination backup.</p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupPlanRuleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsBackupBackupPlanRuleDetails"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupVaultDetails": {
      "type": "structure",
      "members": {
        "BackupVaultArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault.\n      </p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the \nAmazon Web Services account used to create them and the Amazon Web Services Region where they are created. \nThey consist of lowercase letters, numbers, and hyphens.\n      </p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN associated with the server-side encryption key. You can specify a key to encrypt your backups from services that support \nfull Backup management. If you do not specify a key, Backup creates an KMS key for you by default.\n      </p>"
          }
        },
        "Notifications": {
          "target": "com.amazonaws.securityhub#AwsBackupBackupVaultNotificationsDetails",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon SNS event notifications for the specified backup vault.\n      </p>"
          }
        },
        "AccessPolicy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A resource-based policy that is used to manage access permissions on the target backup vault.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an Backup backup vault. In Backup, a backup vault is \na container that stores and organizes your backups.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupBackupVaultNotificationsDetails": {
      "type": "structure",
      "members": {
        "BackupVaultEvents": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>An array of events that indicate the status of jobs to back up resources to the backup vault. \nThe following events are supported:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BACKUP_JOB_STARTED | BACKUP_JOB_COMPLETED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>COPY_JOB_STARTED | COPY_JOB_SUCCESSFUL | COPY_JOB_FAILED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>RESTORE_JOB_STARTED | RESTORE_JOB_COMPLETED | RECOVERY_POINT_MODIFIED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>S3_BACKUP_OBJECT_FAILED | S3_RESTORE_OBJECT_FAILED</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "SnsTopicArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies the Amazon SNS topic for a backup vault’s events.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about the Amazon SNS event notifications for the specified backup vault.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupRecoveryPointCalculatedLifecycleDetails": {
      "type": "structure",
      "members": {
        "DeleteAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of days after creation that a recovery point is deleted. Must be greater \nthan 90 days plus <code>MoveToColdStorageAfterDays</code>.\n      </p>"
          }
        },
        "MoveToColdStorageAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of days after creation that a recovery point is moved to cold storage.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies how long in days before a recovery point transitions to cold storage or is deleted.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupRecoveryPointCreatedByDetails": {
      "type": "structure",
      "members": {
        "BackupPlanArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan.\n      </p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.\n      </p>"
          }
        },
        "BackupPlanVersion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most \n1,024 bytes long. Version IDs cannot be edited.\n      </p>"
          }
        },
        "BackupRuleId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a rule used to schedule the backup of a selection of resources.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the backup plan and rule that Backup used to initiate the recovery point backup.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupRecoveryPointDetails": {
      "type": "structure",
      "members": {
        "BackupSizeInBytes": {
          "target": "com.amazonaws.securityhub#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size, in bytes, of a backup.\n      </p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault.\n      </p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names \nthat are unique to the Amazon Web Services account used to create them and the Amazon Web Services Region \nwhere they are created. They consist of lowercase letters, numbers, and hyphens.\n      </p>"
          }
        },
        "CalculatedLifecycle": {
          "target": "com.amazonaws.securityhub#AwsBackupRecoveryPointCalculatedLifecycleDetails",
          "traits": {
            "smithy.api#documentation": "<p>A <code>CalculatedLifecycle</code> object containing <code>DeleteAt</code> and <code>MoveToColdStorageAt</code> timestamps.\n      </p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a job to create a recovery point is completed, in Unix format and UTC. \nThe value of <code>CompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 \nrepresents Friday, January 26, 2018 12:11:30.087 AM.\n      </p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.securityhub#AwsBackupRecoveryPointCreatedByDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains identifying information about the creation of a recovery point, including the \n<code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>, and <code>BackupRuleId</code> \nof the backup plan that is used to create it.\n      </p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a recovery point is created, in Unix format and UTC. The value of <code>CreationDate</code> \nis accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.\n      </p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the server-side encryption key that is used to protect your backups.\n      </p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role ARN used to create the target recovery point\n      </p>"
          }
        },
        "IsEncrypted": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A Boolean value that is returned as <code>TRUE</code> if the specified recovery point is \nencrypted, or <code>FALSE</code> if the recovery point is not encrypted.\n      </p>"
          }
        },
        "LastRestoreTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a recovery point was last restored, in Unix format and UTC. The value of \n<code>LastRestoreTime</code> is accurate to milliseconds. For example, the value 1516925490.087 represents \nFriday, January 26, 2018 12:11:30.087 AM.\n      </p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.securityhub#AwsBackupRecoveryPointLifecycleDetails",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when it \nexpires. Backup transitions and expires backups automatically according to the lifecycle that \nyou define\n      </p>"
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a recovery point.\n      </p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the resource type.\n      </p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services resource saved as a recovery point, such as an Amazon EBS volume or an Amazon RDS database.\n      </p>"
          }
        },
        "SourceBackupVaultArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the backup vault where the recovery point was originally copied from. If the recovery \npoint is restored to the same account, this value will be null.\n      </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A status code specifying the state of the recovery point. Valid values are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>COMPLETED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>EXPIRED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>PARTIAL</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A message explaining the reason of the recovery point deletion failure.\n      </p>"
          }
        },
        "StorageClass": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the storage class of the recovery point. Valid values are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>COLD</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>WARM</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about the recovery points stored in an Backup backup vault. \nA backup, or recovery point, represents the content of a resource at a specified time.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsBackupRecoveryPointLifecycleDetails": {
      "type": "structure",
      "members": {
        "DeleteAfterDays": {
          "target": "com.amazonaws.securityhub#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specifies the number of days after creation that a recovery point is deleted. Must be greater \nthan 90 days plus <code>MoveToColdStorageAfterDays</code>.\n      </p>"
          }
        },
        "MoveToColdStorageAfterDays": {
          "target": "com.amazonaws.securityhub#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specifies the number of days after creation that a recovery point is moved to cold storage.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an array of Transition objects specifying how long in days before a recovery point transitions to cold storage or is deleted.\n      </p>"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateDetails": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the private certificate authority (CA) that will be used to issue the\n         certificate.</p>"
          }
        },
        "CreatedAt": {
[...]
