{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.securityhub#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#AcceptInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#AcceptInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the invitation to be a member account and be monitored by the Security Hub master\n         account that the invitation was sent from. When the member account accepts the invitation,\n         permission is granted to the master account to view findings generated in the member\n         account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/master",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "InvitationId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the invitation sent from the Security Hub master account.</p>",
            "smithy.api#required": {}
          }
        },
        "MasterId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the Security Hub master account that sent the invitation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#AcceptInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.securityhub#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.securityhub#NonEmptyString"
        },
        "Message": {
          "target": "com.amazonaws.securityhub#NonEmptyString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permission to perform the action specified in the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.securityhub#AccountDetails": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.securityhub#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an AWS account.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The email of an AWS account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an AWS account.</p>"
      }
    },
    "com.amazonaws.securityhub#AccountDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AccountDetails"
      }
    },
    "com.amazonaws.securityhub#AccountId": {
      "type": "string"
    },
    "com.amazonaws.securityhub#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#NonEmptyString"
      }
    },
    "com.amazonaws.securityhub#ActionTarget": {
      "type": "structure",
      "members": {
        "ActionTargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the target action.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the target action.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action target.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An <code>ActionTarget</code> object.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionTargetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#ActionTarget"
      }
    },
    "com.amazonaws.securityhub#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#NonEmptyString"
      }
    },
    "com.amazonaws.securityhub#AvailabilityZone": {
      "type": "structure",
      "members": {
        "SubnetId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>"
          }
        },
        "ZoneName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Availability Zone.</p>"
      }
    },
    "com.amazonaws.securityhub#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AvailabilityZone"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionDetails": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The domain name corresponding to the distribution.</p>"
          }
        },
        "ETag": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The entity tag is a hash of the object.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the distribution was last modified.</p>"
          }
        },
        "Logging": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionLogging",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>"
          }
        },
        "Origins": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOrigins",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about origins for this distribution.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current status of the distribution.</p>"
          }
        },
        "WebAclId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that specifies the AWS WAF web ACL, if any, to associate with this distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A distribution configuration.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionLogging": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket to store the access logs in.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>With this field, you can enable or disable the selected distribution.</p>"
          }
        },
        "IncludeCookies": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want CloudFront to include cookies in access logs.</p>"
          }
        },
        "Prefix": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An optional string that you want CloudFront to prefix to the access log filenames for this distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItem": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the origin or origin group.</p>"
          }
        },
        "OriginPath": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that describes the Amazon S3 bucket, HTTP server (for example, a web server), Amazon MediaStore, or other server from which CloudFront gets your files.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItem"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOrigins": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItemList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains origins or origin groups for this distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about origins and origin groups for this distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2InstanceDetails": {
      "type": "structure",
      "members": {
        "IamInstanceProfileArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IAM profile ARN of the instance.</p>"
          }
        },
        "ImageId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Machine Image (AMI) ID of the instance.</p>"
          }
        },
        "IpV4Addresses": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 addresses associated with the instance.</p>"
          }
        },
        "IpV6Addresses": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv6 addresses associated with the instance.</p>"
          }
        },
        "KeyName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The key name associated with the instance.</p>"
          }
        },
        "LaunchedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date/time the instance was launched.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the subnet that the instance was launched in.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the instance. </p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the VPC that the instance was launched in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an Amazon EC2 instance.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsElbv2LoadBalancerDetails": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "com.amazonaws.securityhub#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zones for the load balancer.</p>"
          }
        },
        "CanonicalHostedZoneId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Route 53 hosted zone associated with the load balancer.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the load balancer was created.</p>"
          }
        },
        "DNSName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The public DNS name of the load balancer.</p>"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of IP addresses used by the subnets for your load balancer. The possible values are ipv4 (for IPv4 addresses) and dualstack (for IPv4 and IPv6 addresses).</p>"
          }
        },
        "Scheme": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The nodes of an Internet-facing load balancer have public IP addresses.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.securityhub#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups for the load balancer.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.securityhub#LoadBalancerState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the load balancer.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of load balancer.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC for the load balancer.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a load balancer.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsIamAccessKeyDetails": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The creation date/time of the IAM access key related to a finding.</p>"
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the principal associated with an access key.</p>"
          }
        },
        "PrincipalName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the principal.</p>"
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of principal associated with an access key.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#AwsIamAccessKeyStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the IAM access key related to a finding.</p>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use PrincipalName instead."
            },
            "smithy.api#documentation": "<p>The user associated with the IAM access key related to a finding.</p>\n         <p>The <code>UserName</code> parameter has been replaced with the <code>PrincipalName</code> parameter because access keys can also be assigned to principals that are not IAM users.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>IAM access key details related to a finding.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsIamAccessKeyStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Active",
            "name": "ACTIVE"
          },
          {
            "value": "Inactive",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.securityhub#AwsIamRoleAssumeRolePolicyDocument": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 131072
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A1-\\u00FF]+"
      }
    },
    "com.amazonaws.securityhub#AwsIamRoleDetails": {
      "type": "structure",
      "members": {
        "AssumeRolePolicyDocument": {
          "target": "com.amazonaws.securityhub#AwsIamRoleAssumeRolePolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The trust policy that grants permission to assume the role.</p>"
          }
        },
        "CreateDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in ISO 8601 date-time format, when the role was created.</p>"
          }
        },
        "MaxSessionDuration": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum session duration (in seconds) that you want to set for the specified role.</p>"
          }
        },
        "Path": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The path to the role.</p>"
          }
        },
        "RoleId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The stable and unique string identifying the role.</p>"
          }
        },
        "RoleName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name that identifies the role.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an IAM role, including all of the role's policies.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsKmsKeyDetails": {
      "type": "structure",
      "members": {
        "AWSAccountId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The twelve-digit account ID of the AWS account that owns the CMK.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.securityhub#Double",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the CMK was created.</p>"
          }
        },
        "KeyId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The globally unique identifier for the CMK.</p>"
          }
        },
        "KeyManager": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The manager of the CMK. CMKs in your AWS account are either customer managed or AWS managed.</p>"
          }
        },
        "KeyState": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The state of the CMK.</p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source of the CMK's key material. When this value is AWS_KMS, AWS KMS created the key material. When this value is EXTERNAL, the key material was imported from your existing key management infrastructure or the CMK lacks key material. When this value is AWS_CLOUDHSM, the key material was created in the AWS CloudHSM cluster associated with a custom key store.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a customer master key (CMK).</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionCode": {
      "type": "structure",
      "members": {
        "S3Bucket": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account.</p>"
          }
        },
        "S3Key": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 key of the deployment package.</p>"
          }
        },
        "S3ObjectVersion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>For versioned objects, the version of the deployment package object to use.</p>"
          }
        },
        "ZipFile": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The base64-encoded contents of the deployment package. AWS SDK and AWS CLI clients handle the encoding for you.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The code for the Lambda function. You can specify either an object in Amazon S3, or upload a deployment package directly.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionDeadLetterConfig": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dead-letter queue for failed asynchronous invocations.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionDetails": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionCode",
          "traits": {
            "smithy.api#documentation": "<p>An <code>AwsLambdaFunctionCode</code> object.</p>"
          }
        },
        "CodeSha256": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The SHA256 hash of the function's deployment package.</p>"
          }
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionDeadLetterConfig",
          "traits": {
            "smithy.api#documentation": "<p>The function's dead letter queue.</p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>The function's environment variables.</p>"
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the function.</p>"
          }
        },
        "Handler": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The function that Lambda calls to begin executing your function.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key that's used to encrypt the function's environment variables. This key is only returned if you've configured a customer managed CMK.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the function was last updated, in ISO-8601 format (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        },
        "Layers": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionLayerList",
          "traits": {
            "smithy.api#documentation": "<p>The function's layers.</p>"
          }
        },
        "MasterArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>For Lambda@Edge functions, the ARN of the master function.</p>"
          }
        },
        "MemorySize": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The memory that's allocated to the function.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The latest updated revision of the function or alias.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The function's execution role.</p>"
          }
        },
        "Runtime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The runtime environment for the Lambda function.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that Lambda allows a function to run before stopping it.</p>"
          }
        },
        "TracingConfig": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionTracingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The function's AWS X-Ray tracing configuration.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Lambda function.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionVpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The function's networking configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a function's configuration.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionEnvironment": {
      "type": "structure",
      "members": {
        "Error": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionEnvironmentError",
          "traits": {
            "smithy.api#documentation": "<p>An <code>AwsLambdaFunctionEnvironmentError</code> object.</p>"
          }
        },
        "Variables": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>Environment variable key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A function's environment variable settings.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionEnvironmentError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error messages for environment variables that couldn't be applied.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionLayer": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the function layer.</p>"
          }
        },
        "CodeSize": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the layer archive in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Lambda layer.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionLayerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsLambdaFunctionLayer"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionTracingConfig": {
      "type": "structure",
      "members": {
        "Mode": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The tracing mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The function's AWS X-Ray tracing configuration.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionVpcConfig": {
      "type": "structure",
      "members": {
        "SecurityGroupIds": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC security groups IDs.</p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC subnet IDs.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The VPC security groups and subnets that are attached to a Lambda function. For more information, see VPC Settings.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsS3BucketDetails": {
      "type": "structure",
      "members": {
        "OwnerId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The canonical user ID of the owner of the S3 bucket.</p>"
          }
        },
        "OwnerName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the owner of the S3 bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an Amazon S3 bucket.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsSecurityFinding": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID that a finding is generated in.</p>",
            "smithy.api#required": {}
          }
        },
        "Compliance": {
          "target": "com.amazonaws.securityhub#Compliance",
          "traits": {
            "smithy.api#documentation": "<p>This data type is exclusive to findings that are generated as the result of a check run\n         against a specific rule in a supported standard (for example, CIS AWS Foundations).\n         Contains compliance-related finding details.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>A finding's confidence. Confidence is defined as the likelihood that a finding\n         accurately identifies the behavior or issue that it was intended to identify. Confidence is\n         scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100\n         means 100 percent confidence.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider\n         created the potential security issue that a finding captured.</p>",
            "smithy.api#required": {}
          }
        },
        "Criticality": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The level of importance assigned to the resources associated with the finding. A score\n         of 0 means that the underlying resources have no criticality, and a score of 100 is\n         reserved for the most critical resources.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A finding's description.</p>\n         <note>\n            <p>In this release, <code>Description</code> is a required property.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "FirstObservedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider first\n         observed the potential security issue that a finding captured.</p>"
          }
        },
        "GeneratorId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the solution-specific component (a discrete unit of logic) that\n         generated a finding. In various security-findings providers' solutions, this generator can\n         be called a rule, a check, a detector, a plug-in, etc. </p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The security findings provider-specific identifier for a finding.</p>",
            "smithy.api#required": {}
          }
        },
        "LastObservedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider most\n         recently observed the potential security issue that a finding captured.</p>"
          }
        },
        "Malware": {
          "target": "com.amazonaws.securityhub#MalwareList",
          "traits": {
            "smithy.api#documentation": "<p>A list of malware related to a finding.</p>"
          }
        },
        "Network": {
          "target": "com.amazonaws.securityhub#Network",
          "traits": {
            "smithy.api#documentation": "<p>The details of network-related information about a finding.</p>"
          }
        },
        "Note": {
          "target": "com.amazonaws.securityhub#Note",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined note added to a finding.</p>"
          }
        },
        "Process": {
          "target": "com.amazonaws.securityhub#ProcessDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of process-related information about a finding.</p>"
          }
        },
        "ProductArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN generated by Security Hub that uniquely identifies a third-party company\n         (security-findings provider) after this provider's product (solution that generates\n         findings) is registered with Security Hub. </p>",
            "smithy.api#required": {}
          }
        },
        "ProductFields": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A data type where security-findings providers can include additional solution-specific\n         details that aren't part of the defined <code>AwsSecurityFinding</code> format.</p>"
          }
        },
        "RecordState": {
          "target": "com.amazonaws.securityhub#RecordState",
          "traits": {
            "smithy.api#documentation": "<p>The record state of a finding.</p>"
          }
        },
        "RelatedFindings": {
          "target": "com.amazonaws.securityhub#RelatedFindingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of related findings.</p>"
          }
        },
        "Remediation": {
          "target": "com.amazonaws.securityhub#Remediation",
          "traits": {
            "smithy.api#documentation": "<p>A data type that describes the remediation options for a finding.</p>"
          }
        },
        "Resources": {
          "target": "com.amazonaws.securityhub#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>A set of resource data types that describe the resources that the finding refers\n         to.</p>",
            "smithy.api#required": {}
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The schema version that a finding is formatted for.</p>",
            "smithy.api#required": {}
          }
        },
        "Severity": {
          "target": "com.amazonaws.securityhub#Severity",
          "traits": {
            "smithy.api#documentation": "<p>A finding's severity.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceUrl": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A URL that links to a page about the current finding in the security-findings provider's\n         solution.</p>"
          }
        },
        "ThreatIntelIndicators": {
          "target": "com.amazonaws.securityhub#ThreatIntelIndicatorList",
          "traits": {
            "smithy.api#documentation": "<p>Threat intel details related to a finding.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A finding's title.</p>\n         <note>\n            <p>In this release, <code>Title</code> is a required property.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Types": {
          "target": "com.amazonaws.securityhub#TypeList",
          "traits": {
            "smithy.api#documentation": "<p>One or more finding types in the format of <code>namespace/category/classifier</code>\n         that classify a finding.</p>\n         <p>Valid namespace values are: Software and Configuration Checks | TTPs | Effects | Unusual\n         Behaviors | Sensitive Data Identifications</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider last\n         updated the finding record. </p>",
            "smithy.api#required": {}
          }
        },
        "UserDefinedFields": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of name/value string pairs associated with the finding. These are custom,\n         user-defined fields added to a finding. </p>"
          }
        },
        "VerificationState": {
          "target": "com.amazonaws.securityhub#VerificationState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the veracity of a finding. </p>"
          }
        },
        "WorkflowState": {
          "target": "com.amazonaws.securityhub#WorkflowState",
          "traits": {
            "smithy.api#documentation": "<p>The workflow state of a finding. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides consistent format for the contents of the Security Hub-aggregated findings.\n            <code>AwsSecurityFinding</code> format enables you to share findings between AWS\n         security services and third-party solutions, and compliance checks.</p>\n         <note>\n            <p>A finding is a potential security issue generated either by AWS services (Amazon\n            GuardDuty, Amazon Inspector, and Amazon Macie) or by the integrated third-party\n            solutions and compliance checks.</p>\n         </note>"
      }
    },
    "com.amazonaws.securityhub#AwsSecurityFindingFilters": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID that a finding is generated in.</p>"
          }
        },
        "CompanyName": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the findings provider (company) that owns the solution (product) that\n         generates findings.</p>"
          }
        },
        "ComplianceStatus": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Exclusive to findings that are generated as the result of a check run against a specific\n         rule in a supported standard (for example, CIS AWS Foundations). Contains\n         compliance-related finding details.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.securityhub#NumberFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A finding's confidence. Confidence is defined as the likelihood that a finding\n         accurately identifies the behavior or issue that it was intended to identify. Confidence is\n         scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100\n         means 100 percent confidence.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider\n         captured the potential security issue that a finding captured.</p>"
          }
        },
        "Criticality": {
          "target": "com.amazonaws.securityhub#NumberFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The level of importance assigned to the resources associated with the finding. A score\n         of 0 means that the underlying resources have no criticality, and a score of 100 is\n         reserved for the most critical resources.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A finding's description.</p>"
          }
        },
        "FirstObservedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider first\n         observed the potential security issue that a finding captured.</p>"
          }
        },
        "GeneratorId": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the solution-specific component (a discrete unit of logic) that\n         generated a finding. In various security-findings providers' solutions, this generator can\n         be called a rule, a check, a detector, a plug-in, etc.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The security findings provider-specific identifier for a finding.</p>"
          }
        },
        "Keyword": {
          "target": "com.amazonaws.securityhub#KeywordFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A keyword for a finding.</p>"
          }
        },
        "LastObservedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider most\n         recently observed the potential security issue that a finding captured.</p>"
          }
        },
        "MalwareName": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the malware that was observed.</p>"
          }
        },
        "MalwarePath": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The filesystem path of the malware that was observed.</p>"
          }
        },
        "MalwareState": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The state of the malware that was observed.</p>"
          }
        },
        "MalwareType": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The type of the malware that was observed.</p>"
          }
        },
        "NetworkDestinationDomain": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The destination domain of network-related information about a finding.</p>"
          }
        },
        "NetworkDestinationIpV4": {
          "target": "com.amazonaws.securityhub#IpFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The destination IPv4 address of network-related information about a finding.</p>"
          }
        },
        "NetworkDestinationIpV6": {
          "target": "com.amazonaws.securityhub#IpFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The destination IPv6 address of network-related information about a finding.</p>"
          }
        },
        "NetworkDestinationPort": {
          "target": "com.amazonaws.securityhub#NumberFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The destination port of network-related information about a finding.</p>"
          }
        },
        "NetworkDirection": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the direction of network traffic associated with a finding.</p>"
          }
        },
        "NetworkProtocol": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The protocol of network-related information about a finding.</p>"
          }
        },
        "NetworkSourceDomain": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The source domain of network-related information about a finding.</p>"
          }
        },
        "NetworkSourceIpV4": {
          "target": "com.amazonaws.securityhub#IpFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The source IPv4 address of network-related information about a finding.</p>"
          }
        },
        "NetworkSourceIpV6": {
          "target": "com.amazonaws.securityhub#IpFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The source IPv6 address of network-related information about a finding.</p>"
          }
        },
        "NetworkSourceMac": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The source media access control (MAC) address of network-related information about a\n         finding.</p>"
          }
        },
        "NetworkSourcePort": {
          "target": "com.amazonaws.securityhub#NumberFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The source port of network-related information about a finding.</p>"
          }
        },
        "NoteText": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The text of a note.</p>"
          }
        },
        "NoteUpdatedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the note was updated.</p>"
          }
        },
        "NoteUpdatedBy": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The principal that created a note.</p>"
          }
        },
        "ProcessLaunchedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The date/time that the process was launched.</p>"
          }
        },
        "ProcessName": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the process.</p>"
          }
        },
        "ProcessParentPid": {
          "target": "com.amazonaws.securityhub#NumberFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The parent process ID.</p>"
          }
        },
        "ProcessPath": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The path to the process executable.</p>"
          }
        },
        "ProcessPid": {
          "target": "com.amazonaws.securityhub#NumberFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The process ID.</p>"
          }
        },
        "ProcessTerminatedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The date/time that the process was terminated.</p>"
          }
        },
        "ProductArn": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN generated by Security Hub that uniquely identifies a third-party company\n         (security findings provider) after this provider's product (solution that generates\n         findings) is registered with Security Hub.</p>"
          }
        },
        "ProductFields": {
          "target": "com.amazonaws.securityhub#MapFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A data type where security-findings providers can include additional solution-specific\n         details that aren't part of the defined <code>AwsSecurityFinding</code> format.</p>"
          }
        },
        "ProductName": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the solution (product) that generates findings.</p>"
          }
        },
        "RecommendationText": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The recommendation of what to do about the issue described in a finding.</p>"
          }
        },
        "RecordState": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The updated record state for the finding.</p>"
          }
        },
        "RelatedFindingsId": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The solution-generated identifier for a related finding.</p>"
          }
        },
        "RelatedFindingsProductArn": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the solution that generated a related finding.</p>"
          }
        },
        "ResourceAwsEc2InstanceIamInstanceProfileArn": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The IAM profile ARN of the instance.</p>"
          }
        },
        "ResourceAwsEc2InstanceImageId": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Machine Image (AMI) ID of the instance.</p>"
          }
        },
        "ResourceAwsEc2InstanceIpV4Addresses": {
          "target": "com.amazonaws.securityhub#IpFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 addresses associated with the instance.</p>"
          }
        },
        "ResourceAwsEc2InstanceIpV6Addresses": {
          "target": "com.amazonaws.securityhub#IpFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv6 addresses associated with the instance.</p>"
          }
        },
        "ResourceAwsEc2InstanceKeyName": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The key name associated with the instance.</p>"
          }
        },
        "ResourceAwsEc2InstanceLaunchedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The date/time the instance was launched.</p>"
          }
        },
        "ResourceAwsEc2InstanceSubnetId": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the subnet that the instance was launched in.</p>"
          }
        },
        "ResourceAwsEc2InstanceType": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the instance.</p>"
          }
        },
        "ResourceAwsEc2InstanceVpcId": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the VPC that the instance was launched in.</p>"
          }
        },
        "ResourceAwsIamAccessKeyCreatedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The creation date/time of the IAM access key related to a finding.</p>"
          }
        },
        "ResourceAwsIamAccessKeyStatus": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The status of the IAM access key related to a finding.</p>"
          }
        },
        "ResourceAwsIamAccessKeyUserName": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The user associated with the IAM access key related to a finding.</p>"
          }
        },
        "ResourceAwsS3BucketOwnerId": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The canonical user ID of the owner of the S3 bucket.</p>"
          }
        },
        "ResourceAwsS3BucketOwnerName": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the owner of the S3 bucket.</p>"
          }
        },
        "ResourceContainerImageId": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the image related to a finding.</p>"
          }
        },
        "ResourceContainerImageName": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image related to a finding.</p>"
          }
        },
        "ResourceContainerLaunchedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The date/time that the container was started.</p>"
          }
        },
        "ResourceContainerName": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container related to a finding.</p>"
          }
        },
        "ResourceDetailsOther": {
          "target": "com.amazonaws.securityhub#MapFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The details of a resource that doesn't have a specific subfield for the resource type\n         defined.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The canonical identifier for the given resource type.</p>"
          }
        },
        "ResourcePartition": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The canonical AWS partition name that the Region is assigned to.</p>"
          }
        },
        "ResourceRegion": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The canonical AWS external Region name where this resource is located.</p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.securityhub#MapFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS tags associated with a resource at the time the finding was\n         processed.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of the resource that details are provided for.</p>"
          }
        },
        "SeverityLabel": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The label of a finding's severity.</p>"
          }
        },
        "SeverityNormalized": {
          "target": "com.amazonaws.securityhub#NumberFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The normalized severity of a finding.</p>"
          }
        },
        "SeverityProduct": {
          "target": "com.amazonaws.securityhub#NumberFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The native severity as defined by the security-findings provider's solution that\n         generated the finding.</p>"
          }
        },
        "SourceUrl": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A URL that links to a page about the current finding in the security-findings provider's\n         solution.</p>"
          }
        },
        "ThreatIntelIndicatorCategory": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The category of a threat intel indicator.</p>"
          }
        },
        "ThreatIntelIndicatorLastObservedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The date/time of the last observation of a threat intel indicator.</p>"
          }
        },
        "ThreatIntelIndicatorSource": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The source of the threat intel.</p>"
          }
        },
        "ThreatIntelIndicatorSourceUrl": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The URL for more details from the source of the threat intel.</p>"
          }
        },
        "ThreatIntelIndicatorType": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The type of a threat intel indicator.</p>"
          }
        },
        "ThreatIntelIndicatorValue": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The value of a threat intel indicator.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A finding's title.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A finding type in the format of <code>namespace/category/classifier</code> that\n         classifies a finding.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.securityhub#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider last\n         updated the finding record. </p>"
          }
        },
        "UserDefinedFields": {
          "target": "com.amazonaws.securityhub#MapFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of name/value string pairs associated with the finding. These are custom,\n         user-defined fields added to a finding. </p>"
          }
        },
        "VerificationState": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The veracity of a finding.</p>"
          }
        },
        "WorkflowState": {
          "target": "com.amazonaws.securityhub#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The workflow state of a finding.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of attributes that are applied to all active Security Hub-aggregated\n         findings and that result in a subset of findings that are included in this insight. </p>"
      }
    },
    "com.amazonaws.securityhub#AwsSecurityFindingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsSecurityFinding"
      }
    },
    "com.amazonaws.securityhub#AwsSnsTopicDetails": {
      "type": "structure",
      "members": {
        "KmsMasterKeyId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an AWS-managed customer master key (CMK) for Amazon SNS or a custom CMK.</p>"
          }
        },
        "Owner": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The subscription's owner.</p>"
          }
        },
        "Subscription": {
          "target": "com.amazonaws.securityhub#AwsSnsTopicSubscriptionList",
          "traits": {
            "smithy.api#documentation": "<p>Subscription is an embedded property that describes the subscription endpoints of an Amazon SNS topic.</p>"
          }
        },
        "TopicName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the topic.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A wrapper type for the topic's Amazon Resource Name (ARN).</p>"
      }
    },
    "com.amazonaws.securityhub#AwsSnsTopicSubscription": {
      "type": "structure",
      "members": {
        "Endpoint": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The subscription's endpoint (format depends on the protocol).</p>"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The subscription's protocol.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A wrapper type for the attributes of an Amazon SNS subscription.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsSnsTopicSubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsSnsTopicSubscription"
      }
    },
    "com.amazonaws.securityhub#AwsSqsQueueDetails": {
      "type": "structure",
      "members": {
        "DeadLetterTargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dead-letter queue to which Amazon SQS moves messages after the value of maxReceiveCount is exceeded. </p>"
          }
        },
        "KmsDataKeyReusePeriodSeconds": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The length of time, in seconds, for which Amazon SQS can reuse a data key to encrypt or decrypt messages before calling AWS KMS again.</p>"
          }
        },
        "KmsMasterKeyId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an AWS-managed customer master key (CMK) for Amazon SQS or a custom CMK.</p>"
          }
        },
        "QueueName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new queue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data about a queue.</p>"
      }
    },
    "com.amazonaws.securityhub#BatchDisableStandards": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#BatchDisableStandardsRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#BatchDisableStandardsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the standards specified by the provided <code>StandardsSubscriptionArns</code>.\n         For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Standards Supported in AWS Security Hub</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/standards/deregister",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#BatchDisableStandardsRequest": {
      "type": "structure",
      "members": {
        "StandardsSubscriptionArns": {
          "target": "com.amazonaws.securityhub#StandardsSubscriptionArns",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the standards subscriptions to disable.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#BatchDisableStandardsResponse": {
      "type": "structure",
      "members": {
        "StandardsSubscriptions": {
          "target": "com.amazonaws.securityhub#StandardsSubscriptions",
          "traits": {
            "smithy.api#documentation": "<p>The details of the standards subscriptions that were disabled.</p>"
          }
        }
      }
    },
    "com.amazonaws.securityhub#BatchEnableStandards": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#BatchEnableStandardsRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#BatchEnableStandardsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the standards specified by the provided <code>standardsArn</code>. In this\n         release, only CIS AWS Foundations standards are supported. For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Standards Supported in AWS Security Hub</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/standards/register",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#BatchEnableStandardsRequest": {
      "type": "structure",
      "members": {
        "StandardsSubscriptionRequests": {
          "target": "com.amazonaws.securityhub#StandardsSubscriptionRequests",
          "traits": {
            "smithy.api#documentation": "<p>The list of standards compliance checks to enable.</p>\n         <important>\n            <p>In this release, Security Hub supports only the CIS AWS Foundations standard.</p>\n            <p>The ARN for the standard is\n               <code>arn:aws:securityhub:::ruleset/cis-aws-foundations-benchmark/v/1.2.0</code>.</p>\n         </important>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#BatchEnableStandardsResponse": {
      "type": "structure",
      "members": {
        "StandardsSubscriptions": {
          "target": "com.amazonaws.securityhub#StandardsSubscriptions",
          "traits": {
            "smithy.api#documentation": "<p>The details of the standards subscriptions that were enabled.</p>"
          }
        }
      }
    },
    "com.amazonaws.securityhub#BatchImportFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#BatchImportFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#BatchImportFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Imports security findings generated from an integrated third-party product into Security Hub.\n         This action is requested by the integrated product to import its findings into Security Hub. The\n         maximum allowed size for a finding is 240 Kb. An error is returned for any finding larger\n         than 240 Kb.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/findings/import",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#BatchImportFindingsRequest": {
      "type": "structure",
      "members": {
        "Findings": {
          "target": "com.amazonaws.securityhub#AwsSecurityFindingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of findings to import. To successfully import a finding, it must follow the\n            <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-findings-format.html\">AWS Security Finding Format</a>. Maximum of 100 findings per request.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#BatchImportFindingsResponse": {
      "type": "structure",
      "members": {
        "FailedCount": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of findings that failed to import.</p>",
            "smithy.api#required": {}
          }
        },
        "FailedFindings": {
          "target": "com.amazonaws.securityhub#ImportFindingsErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of the findings that failed to import.</p>"
          }
        },
        "SuccessCount": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of findings that were successfully imported.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.securityhub#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#NonEmptyString"
      }
    },
    "com.amazonaws.securityhub#Compliance": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.securityhub#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The result of a compliance check.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exclusive to findings that are generated as the result of a check run against a specific\n         rule in a supported standard (for example, CIS AWS Foundations). Contains\n         compliance-related finding details.</p>\n         <p>Values include the following:</p>\n         <ul>\n            <li>\n               <p>Allowed values are the following:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>PASSED</code> - Compliance check passed for all evaluated resources.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>WARNING</code> - Some information is missing or this check is not supported given your configuration.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>FAILED</code> - Compliance check failed for at least one evaluated resource.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>NOT_AVAILABLE</code> - Check could not be performed due to a service outage or API error.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.securityhub#ComplianceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PASSED",
            "name": "PASSED"
          },
          {
            "value": "WARNING",
            "name": "WARNING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "NOT_AVAILABLE",
            "name": "NOT_AVAILABLE"
          }
        ]
      }
    },
    "com.amazonaws.securityhub#ContainerDetails": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the image related to a finding.</p>"
          }
        },
        "ImageName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image related to a finding.</p>"
          }
        },
        "LaunchedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the container started.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container related to a finding.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container details related to a finding.</p>"
      }
    },
    "com.amazonaws.securityhub#ControlStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.securityhub#CreateActionTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#CreateActionTargetRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#CreateActionTargetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceConflictException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a custom action target in Security Hub. You can use custom actions on findings and insights in\n         Security Hub to trigger target actions in Amazon CloudWatch Events.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/actionTargets",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#CreateActionTargetRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description for the custom action target.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the custom action target.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom action target.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#CreateActionTargetResponse": {
      "type": "structure",
      "members": {
        "ActionTargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the custom action target.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#CreateInsight": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#CreateInsightRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#CreateInsightResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceConflictException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a custom insight in Security Hub. An insight is a consolidation of findings that relate\n         to a security issue that requires attention or remediation. Use the\n            <code>GroupByAttribute</code> to group the related findings in the insight.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/insights",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#CreateInsightRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.securityhub#AwsSecurityFindingFilters",
          "traits": {
            "smithy.api#documentation": "<p>One or more attributes used to filter the findings included in the insight. Only\n         findings that match the criteria defined in the filters are included in the insight.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupByAttribute": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The attribute used as the aggregator to group related findings for the insight.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom insight to create.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#CreateInsightResponse": {
      "type": "structure",
      "members": {
        "InsightArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the insight created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#CreateMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#CreateMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#CreateMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceConflictException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a member association in Security Hub between the specified accounts and the account\n         used to make the request, which is the master account. To successfully create a member, you\n         must use this action from an account that already has Security Hub enabled. You can use the <a>EnableSecurityHub</a> to enable Security Hub.</p>\n         <p>After you use <code>CreateMembers</code> to create member account associations in Security Hub,\n         you need to use the <a>InviteMembers</a> action, which invites the accounts to\n         enable Security Hub and become member accounts in Security Hub. If the invitation is accepted by the\n         account owner, the account becomes a member account in Security Hub, and a permission policy is\n         added that permits the master account to view the findings generated in the member account.\n         When Security Hub is enabled in the invited account, findings start being sent to both the member\n         and master accounts.</p>\n         <p>You can remove the association between the master and member accounts by using the <a>DisassociateFromMasterAccount</a> or <a>DisassociateMembers</a>\n         operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/members",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#CreateMembersRequest": {
      "type": "structure",
      "members": {
        "AccountDetails": {
          "target": "com.amazonaws.securityhub#AccountDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of account ID and email address pairs of the accounts to associate with the Security Hub\n         master account.</p>"
          }
        }
      }
    },
    "com.amazonaws.securityhub#CreateMembersResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.securityhub#ResultList",
          "traits": {
            "smithy.api#documentation": "<p>A list of account ID and email address pairs of the AWS accounts that weren't\n         processed.</p>"
          }
        }
      }
    },
    "com.amazonaws.securityhub#DateFilter": {
      "type": "structure",
      "members": {
        "DateRange": {
          "target": "com.amazonaws.securityhub#DateRange",
          "traits": {
            "smithy.api#documentation": "<p>A date range for the date filter.</p>"
          }
        },
        "End": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An end date for the date filter.</p>"
          }
        },
        "Start": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A start date for the date filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A date filter for querying findings.</p>"
      }
    },
    "com.amazonaws.securityhub#DateFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#DateFilter"
      }
    },
    "com.amazonaws.securityhub#DateRange": {
      "type": "structure",
      "members": {
        "Unit": {
          "target": "com.amazonaws.securityhub#DateRangeUnit",
          "traits": {
            "smithy.api#documentation": "<p>A date range unit for the date filter.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>A date range value for the date filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A date range for the date filter.</p>"
      }
    },
    "com.amazonaws.securityhub#DateRangeUnit": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DAYS",
            "name": "DAYS"
          }
        ]
      }
    },
    "com.amazonaws.securityhub#DeclineInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#DeclineInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#DeclineInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Declines invitations to become a member account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitations/decline",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#DeclineInvitationsRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.securityhub#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs that specify the accounts that invitations to Security Hub are declined\n         from.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#DeclineInvitationsResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.securityhub#ResultList",
          "traits": {
            "smithy.api#documentation": "<p>A list of account ID and email address pairs of the AWS accounts that weren't\n         processed.</p>"
          }
        }
      }
    },
    "com.amazonaws.securityhub#DeleteActionTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#DeleteActionTargetRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#DeleteActionTargetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom action target from Security Hub. Deleting a custom action target doesn't affect any findings\n         or insights that were already sent to Amazon CloudWatch Events using the custom action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/actionTargets/{ActionTargetArn+}",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#DeleteActionTargetRequest": {
      "type": "structure",
      "members": {
        "ActionTargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the custom action target to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#DeleteActionTargetResponse": {
      "type": "structure",
      "members": {
        "ActionTargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the custom action target that was deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#DeleteInsight": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#DeleteInsightRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#DeleteInsightResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the insight specified by the <code>InsightArn</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/insights/{InsightArn+}",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#DeleteInsightRequest": {
      "type": "structure",
      "members": {
        "InsightArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the insight to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#DeleteInsightResponse": {
      "type": "structure",
      "members": {
        "InsightArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the insight that was deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#DeleteInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#DeleteInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#DeleteInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes invitations received by the AWS account to become a member account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitations/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#DeleteInvitationsRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.securityhub#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the account IDs that sent the invitations to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#DeleteInvitationsResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.securityhub#ResultList",
          "traits": {
            "smithy.api#documentation": "<p>A list of account ID and email address pairs of the AWS accounts that invitations\n         weren't deleted for.</p>"
          }
        }
      }
    },
    "com.amazonaws.securityhub#DeleteMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#DeleteMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#DeleteMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified member accounts from Security Hub.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/members/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#DeleteMembersRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.securityhub#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs of the member accounts to delete.</p>"
          }
        }
      }
    },
    "com.amazonaws.securityhub#DeleteMembersResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.securityhub#ResultList",
          "traits": {
            "smithy.api#documentation": "<p>A list of account ID and email address pairs of the AWS accounts that weren't\n         deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.securityhub#DescribeActionTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#DescribeActionTargetsRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#DescribeActionTargetsResponse"
      },
      "errors": [
        {
[...]
