{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.securityagent#AWSResources": {
      "type": "structure",
      "members": {
        "vpcs": {
          "target": "com.amazonaws.securityagent#VpcConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configurations associated with the agent space.</p>"
          }
        },
        "logGroups": {
          "target": "com.amazonaws.securityagent#LogGroupArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the CloudWatch log groups associated with the agent space.</p>"
          }
        },
        "s3Buckets": {
          "target": "com.amazonaws.securityagent#S3BucketArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the S3 buckets associated with the agent space.</p>"
          }
        },
        "secretArns": {
          "target": "com.amazonaws.securityagent#SecretArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the Secrets Manager secrets associated with the agent space.</p>"
          }
        },
        "lambdaFunctionArns": {
          "target": "com.amazonaws.securityagent#LambdaFunctionArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the Lambda functions associated with the agent space.</p>"
          }
        },
        "iamRoles": {
          "target": "com.amazonaws.securityagent#IamRoles",
          "traits": {
            "smithy.api#documentation": "<p>The IAM roles associated with the agent space.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AWS resources associated with an agent space, including VPCs, log groups, S3 buckets, secrets, Lambda functions, and IAM roles.</p>"
      }
    },
    "com.amazonaws.securityagent#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error description.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.securityagent#AccessType": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Resource is private and has restricted access.</p>",
            "smithy.api#enumValue": "PRIVATE"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Resource is public and openly accessible.</p>",
            "smithy.api#enumValue": "PUBLIC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the visibility level of provider resources. PRIVATE indicates restricted access, while PUBLIC indicates open access.</p>"
      }
    },
    "com.amazonaws.securityagent#Actor": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the actor.</p>"
          }
        },
        "uris": {
          "target": "com.amazonaws.securityagent#UriList",
          "traits": {
            "smithy.api#documentation": "<p>The list of URIs that the actor targets during testing.</p>"
          }
        },
        "authentication": {
          "target": "com.amazonaws.securityagent#Authentication",
          "traits": {
            "smithy.api#documentation": "<p>The authentication configuration for the actor.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the actor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an actor used during penetration testing. An actor defines a user or entity that interacts with the target application, including authentication credentials and target URIs.</p>"
      }
    },
    "com.amazonaws.securityagent#ActorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#Actor"
      }
    },
    "com.amazonaws.securityagent#AddArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#AddArtifactInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#AddArtifactOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.securityagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.securityagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.securityagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.securityagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Uploads an artifact to an agent space. Artifacts provide additional context for security testing, such as architecture diagrams, API specifications, or configuration files.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/AddArtifact"
        }
      }
    },
    "com.amazonaws.securityagent#AddArtifactInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.securityagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space to add the artifact to.</p>",
            "smithy.api#required": {}
          }
        },
        "artifactContent": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The binary content of the artifact to upload.</p>",
            "smithy.api#required": {}
          }
        },
        "artifactType": {
          "target": "com.amazonaws.securityagent#ArtifactType",
          "traits": {
            "smithy.api#documentation": "<p>The file type of the artifact. Valid values include TXT, PNG, JPEG, MD, PDF, DOCX, DOC, JSON, and YAML.</p>",
            "smithy.api#required": {}
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The file name of the artifact.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#AddArtifactOutput": {
      "type": "structure",
      "members": {
        "artifactId": {
          "target": "com.amazonaws.securityagent#ArtifactId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the uploaded artifact.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#AgentName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Name of an agent space.</p>"
      }
    },
    "com.amazonaws.securityagent#AgentSpace": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.securityagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent space.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the agent space.</p>"
          }
        },
        "awsResources": {
          "target": "com.amazonaws.securityagent#AWSResources",
          "traits": {
            "smithy.api#documentation": "<p>The AWS resources associated with the agent space.</p>"
          }
        },
        "targetDomainIds": {
          "target": "com.amazonaws.securityagent#TargetDomainIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of target domain identifiers associated with the agent space.</p>"
          }
        },
        "codeReviewSettings": {
          "target": "com.amazonaws.securityagent#CodeReviewSettings",
          "traits": {
            "smithy.api#documentation": "<p>The code review settings for the agent space.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.securityagent#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS KMS key used to encrypt data in the agent space.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the agent space was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the agent space was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an agent space, which is a dedicated workspace for securing a specific application. An agent space contains the configuration, resources, and settings needed for security testing.</p>"
      }
    },
    "com.amazonaws.securityagent#AgentSpaceId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Unique identifier of the agent space.</p>"
      }
    },
    "com.amazonaws.securityagent#AgentSpaceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#AgentSpaceId"
      }
    },
    "com.amazonaws.securityagent#AgentSpaceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#AgentSpace"
      }
    },
    "com.amazonaws.securityagent#AgentSpaceResource": {
      "type": "resource",
      "identifiers": {
        "agentSpaceId": {
          "target": "com.amazonaws.securityagent#AgentSpaceId"
        }
      },
      "properties": {
        "name": {
          "target": "com.amazonaws.securityagent#AgentName"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "awsResources": {
          "target": "com.amazonaws.securityagent#AWSResources"
        },
        "targetDomainIds": {
          "target": "com.amazonaws.securityagent#TargetDomainIdList"
        },
        "codeReviewSettings": {
          "target": "com.amazonaws.securityagent#CodeReviewSettings"
        },
        "kmsKeyId": {
          "target": "com.amazonaws.securityagent#KmsKeyId"
        },
        "createdAt": {
          "target": "smithy.api#Timestamp"
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp"
        }
      },
      "create": {
        "target": "com.amazonaws.securityagent#CreateAgentSpace"
      },
      "update": {
        "target": "com.amazonaws.securityagent#UpdateAgentSpace"
      },
      "delete": {
        "target": "com.amazonaws.securityagent#DeleteAgentSpace"
      },
      "list": {
        "target": "com.amazonaws.securityagent#ListAgentSpaces"
      },
      "collectionOperations": [
        {
          "target": "com.amazonaws.securityagent#BatchGetAgentSpaces"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Agent space resource representing an isolated workspace for Security Agent operations.</p>"
      }
    },
    "com.amazonaws.securityagent#AgentSpaceSummary": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.securityagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent space.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the agent space was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the agent space was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about an agent space.</p>"
      }
    },
    "com.amazonaws.securityagent#AgentSpaceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#AgentSpaceSummary"
      }
    },
    "com.amazonaws.securityagent#ApplicationDomain": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Domain where the application is available.</p>"
      }
    },
    "com.amazonaws.securityagent#ApplicationId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Application identifier.</p>"
      }
    },
    "com.amazonaws.securityagent#ApplicationResource": {
      "type": "resource",
      "identifiers": {
        "applicationId": {
          "target": "com.amazonaws.securityagent#ApplicationId"
        }
      },
      "properties": {
        "applicationName": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "com.amazonaws.securityagent#ApplicationDomain"
        },
        "idcConfiguration": {
          "target": "com.amazonaws.securityagent#IdCConfiguration"
        },
        "roleArn": {
          "target": "com.amazonaws.securityagent#RoleArn"
        },
        "defaultKmsKeyId": {
          "target": "com.amazonaws.securityagent#DefaultKmsKeyId"
        }
      },
      "create": {
        "target": "com.amazonaws.securityagent#CreateApplication"
      },
      "read": {
        "target": "com.amazonaws.securityagent#GetApplication"
      },
      "update": {
        "target": "com.amazonaws.securityagent#UpdateApplication"
      },
      "delete": {
        "target": "com.amazonaws.securityagent#DeleteApplication"
      },
      "list": {
        "target": "com.amazonaws.securityagent#ListApplications"
      },
      "traits": {
        "smithy.api#documentation": "<p>Application resource.</p>"
      }
    },
    "com.amazonaws.securityagent#ApplicationSummary": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "com.amazonaws.securityagent#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "com.amazonaws.securityagent#ApplicationDomain",
          "traits": {
            "smithy.api#documentation": "<p>The domain associated with the application.</p>",
            "smithy.api#required": {}
          }
        },
        "defaultKmsKeyId": {
          "target": "com.amazonaws.securityagent#DefaultKmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the default AWS KMS key used to encrypt data for the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about an application.</p>"
      }
    },
    "com.amazonaws.securityagent#ApplicationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#ApplicationSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of application summaries.</p>"
      }
    },
    "com.amazonaws.securityagent#Artifact": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The content of the artifact.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.securityagent#ArtifactType",
          "traits": {
            "smithy.api#documentation": "<p>The file type of the artifact.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an artifact that provides context for security testing, such as documentation, diagrams, or configuration files.</p>"
      }
    },
    "com.amazonaws.securityagent#ArtifactId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The id of the artifact.</p>"
      }
    },
    "com.amazonaws.securityagent#ArtifactIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#ArtifactId"
      }
    },
    "com.amazonaws.securityagent#ArtifactMetadataItem": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.securityagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the artifact.</p>",
            "smithy.api#required": {}
          }
        },
        "artifactId": {
          "target": "com.amazonaws.securityagent#ArtifactId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the artifact.</p>",
            "smithy.api#required": {}
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The file name of the artifact.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the artifact was last updated, in UTC format.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about an artifact.</p>"
      }
    },
    "com.amazonaws.securityagent#ArtifactMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#ArtifactMetadataItem"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of metadata objects containing artifacts details.</p>"
      }
    },
    "com.amazonaws.securityagent#ArtifactSummary": {
      "type": "structure",
      "members": {
        "artifactId": {
          "target": "com.amazonaws.securityagent#ArtifactId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the artifact.</p>",
            "smithy.api#required": {}
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The file name of the artifact.</p>",
            "smithy.api#required": {}
          }
        },
        "artifactType": {
          "target": "com.amazonaws.securityagent#ArtifactType",
          "traits": {
            "smithy.api#documentation": "<p>The file type of the artifact.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about an artifact.</p>"
      }
    },
    "com.amazonaws.securityagent#ArtifactSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#ArtifactSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of artifact summaries.</p>"
      }
    },
    "com.amazonaws.securityagent#ArtifactType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PNG"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JPEG"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PDF"
          }
        },
        "DOCX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCX"
          }
        },
        "DOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOC"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YAML"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Supported file extension types for artifacts.</p>"
      }
    },
    "com.amazonaws.securityagent#Assets": {
      "type": "structure",
      "members": {
        "endpoints": {
          "target": "com.amazonaws.securityagent#EndpointList",
          "traits": {
            "smithy.api#documentation": "<p>The list of endpoints to test during the pentest.</p>"
          }
        },
        "actors": {
          "target": "com.amazonaws.securityagent#ActorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of actors used during penetration testing.</p>"
          }
        },
        "documents": {
          "target": "com.amazonaws.securityagent#DocumentList",
          "traits": {
            "smithy.api#documentation": "<p>The list of documents that provide context for the pentest.</p>"
          }
        },
        "sourceCode": {
          "target": "com.amazonaws.securityagent#SourceCodeRepositoryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of source code repositories to analyze during the pentest.</p>"
          }
        },
        "integratedRepositories": {
          "target": "com.amazonaws.securityagent#IntegratedRepositoryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of integrated repositories associated with the pentest.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The collection of assets used in a pentest configuration, including endpoints, actors, documents, source code repositories, and integrated repositories.</p>"
      }
    },
    "com.amazonaws.securityagent#AuthCode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Authorization code from OAuth flow.</p>"
      }
    },
    "com.amazonaws.securityagent#Authentication": {
      "type": "structure",
      "members": {
        "providerType": {
          "target": "com.amazonaws.securityagent#AuthenticationProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication provider. Valid values include SECRETS_MANAGER, AWS_LAMBDA, AWS_IAM_ROLE, and AWS_INTERNAL.</p>"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The authentication value, such as a secret ARN, Lambda function ARN, or IAM role ARN, depending on the provider type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authentication configuration for an actor, specifying the provider type and credentials.</p>"
      }
    },
    "com.amazonaws.securityagent#AuthenticationProviderType": {
      "type": "enum",
      "members": {
        "SECRETS_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Credentials stored in AWS Secrets Manager.</p>",
            "smithy.api#enumValue": "SECRETS_MANAGER"
          }
        },
        "AWS_LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Credentials retrieved via AWS Lambda function.</p>",
            "smithy.api#enumValue": "AWS_LAMBDA"
          }
        },
        "AWS_IAM_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Authentication using an AWS IAM role.</p>",
            "smithy.api#enumValue": "AWS_IAM_ROLE"
          }
        },
        "AWS_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Internal AWS authentication.</p>",
            "smithy.api#enumValue": "AWS_INTERNAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Type of authentication provider.</p>"
      }
    },
    "com.amazonaws.securityagent#BatchDeleteCodeReviews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchDeleteCodeReviewsInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchDeleteCodeReviewsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more code reviews from an agent space.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchDeleteCodeReviews"
        }
      }
    },
    "com.amazonaws.securityagent#BatchDeleteCodeReviewsInput": {
      "type": "structure",
      "members": {
        "codeReviewIds": {
          "target": "com.amazonaws.securityagent#CodeReviewIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of code review identifiers to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the code reviews to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for deleting multiple code reviews.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchDeleteCodeReviewsOutput": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "com.amazonaws.securityagent#CodeReviewIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of identifiers of the code reviews that were successfully deleted.</p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.securityagent#DeleteCodeReviewFailureList",
          "traits": {
            "smithy.api#documentation": "<p>The list of code reviews that failed to delete, including the reason for each failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchDeleteCodeReviews operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchDeletePentests": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchDeletePentestsInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchDeletePentestsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more pentests from an agent space.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchDeletePentests"
        }
      }
    },
    "com.amazonaws.securityagent#BatchDeletePentestsInput": {
      "type": "structure",
      "members": {
        "pentestIds": {
          "target": "com.amazonaws.securityagent#PentestIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pentest identifiers to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the pentests to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for deleting multiple pentests.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchDeletePentestsOutput": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "com.amazonaws.securityagent#PentestList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pentests that were successfully deleted.</p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.securityagent#DeletePentestFailureList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pentests that failed to delete, including the reason for each failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchDeletePentests operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetAgentSpaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetAgentSpacesInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetAgentSpacesOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more agent spaces.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetAgentSpaces"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetAgentSpacesInput": {
      "type": "structure",
      "members": {
        "agentSpaceIds": {
          "target": "com.amazonaws.securityagent#AgentSpaceIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of agent space identifiers to retrieve.</p>",
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for batch retrieving agent spaces.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetAgentSpacesOutput": {
      "type": "structure",
      "members": {
        "agentSpaces": {
          "target": "com.amazonaws.securityagent#AgentSpaceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of agent spaces that were found.</p>",
            "smithy.api#notProperty": {}
          }
        },
        "notFound": {
          "target": "com.amazonaws.securityagent#AgentSpaceIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of agent space identifiers that were not found.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchGetAgentSpaces operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetArtifactMetadata": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetArtifactMetadataInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetArtifactMetadataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.securityagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.securityagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.securityagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.securityagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves metadata for one or more artifacts in an agent space.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/BatchGetArtifactMetadata"
        }
      }
    },
    "com.amazonaws.securityagent#BatchGetArtifactMetadataInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.securityagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the artifacts.</p>",
            "smithy.api#required": {}
          }
        },
        "artifactIds": {
          "target": "com.amazonaws.securityagent#ArtifactIds",
          "traits": {
            "smithy.api#documentation": "<p>The list of artifact identifiers to retrieve metadata for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetArtifactMetadataOutput": {
      "type": "structure",
      "members": {
        "artifactMetadataList": {
          "target": "com.amazonaws.securityagent#ArtifactMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>The list of artifact metadata items that were found.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetCodeReviewJobTasks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetCodeReviewJobTasksInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetCodeReviewJobTasksOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more tasks within a code review job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetCodeReviewJobTasks"
        }
      }
    },
    "com.amazonaws.securityagent#BatchGetCodeReviewJobTasksInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the tasks.</p>",
            "smithy.api#required": {}
          }
        },
        "codeReviewJobTaskIds": {
          "target": "com.amazonaws.securityagent#TaskIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of task identifiers to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for retrieving multiple tasks associated with a code review job.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetCodeReviewJobTasksOutput": {
      "type": "structure",
      "members": {
        "codeReviewJobTasks": {
          "target": "com.amazonaws.securityagent#CodeReviewJobTaskList",
          "traits": {
            "smithy.api#documentation": "<p>The list of code review job tasks that were found.</p>"
          }
        },
        "notFound": {
          "target": "com.amazonaws.securityagent#TaskIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of task identifiers that were not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchGetCodeReviewJobTasks operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetCodeReviewJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetCodeReviewJobsInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetCodeReviewJobsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more code review jobs in an agent space.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetCodeReviewJobs"
        }
      }
    },
    "com.amazonaws.securityagent#BatchGetCodeReviewJobsInput": {
      "type": "structure",
      "members": {
        "codeReviewJobIds": {
          "target": "com.amazonaws.securityagent#CodeReviewJobIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of code review job identifiers to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the code review jobs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for BatchGetCodeReviewJobs operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetCodeReviewJobsOutput": {
      "type": "structure",
      "members": {
        "codeReviewJobs": {
          "target": "com.amazonaws.securityagent#CodeReviewJobList",
          "traits": {
            "smithy.api#documentation": "<p>The list of code review jobs that were found.</p>"
          }
        },
        "notFound": {
          "target": "com.amazonaws.securityagent#CodeReviewJobIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of code review job identifiers that were not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchGetCodeReviewJobs operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetCodeReviews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetCodeReviewsInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetCodeReviewsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more code reviews in an agent space.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetCodeReviews"
        }
      }
    },
    "com.amazonaws.securityagent#BatchGetCodeReviewsInput": {
      "type": "structure",
      "members": {
        "codeReviewIds": {
          "target": "com.amazonaws.securityagent#CodeReviewIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of code review identifiers to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the code reviews.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for retrieving multiple code reviews by their IDs.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetCodeReviewsOutput": {
      "type": "structure",
      "members": {
        "codeReviews": {
          "target": "com.amazonaws.securityagent#CodeReviewList",
          "traits": {
            "smithy.api#documentation": "<p>The list of code reviews that were found.</p>"
          }
        },
        "notFound": {
          "target": "com.amazonaws.securityagent#CodeReviewIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of code review identifiers that were not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchGetCodeReviews operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetFindingsInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetFindingsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more security findings in an agent space.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetFindings"
        }
      }
    },
    "com.amazonaws.securityagent#BatchGetFindingsInput": {
      "type": "structure",
      "members": {
        "findingIds": {
          "target": "com.amazonaws.securityagent#FindingIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of finding identifiers to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the findings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for BatchGetFindings operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetFindingsOutput": {
      "type": "structure",
      "members": {
        "findings": {
          "target": "com.amazonaws.securityagent#FindingList",
          "traits": {
            "smithy.api#documentation": "<p>The list of findings that were found.</p>"
          }
        },
        "notFound": {
          "target": "com.amazonaws.securityagent#FindingIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of finding identifiers that were not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchGetFindings operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetPentestJobTasks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetPentestJobTasksInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetPentestJobTasksOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more tasks within a pentest job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetPentestJobTasks"
        }
      }
    },
    "com.amazonaws.securityagent#BatchGetPentestJobTasksInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the tasks.</p>",
            "smithy.api#required": {}
          }
        },
        "taskIds": {
          "target": "com.amazonaws.securityagent#TaskIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of task identifiers to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for retrieving multiple tasks associated with a pentest job.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetPentestJobTasksOutput": {
      "type": "structure",
      "members": {
        "tasks": {
          "target": "com.amazonaws.securityagent#TaskList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tasks that were found.</p>"
          }
        },
        "notFound": {
          "target": "com.amazonaws.securityagent#TaskIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of task identifiers that were not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchGetPentestJobTasks operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetPentestJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetPentestJobsInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetPentestJobsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more pentest jobs in an agent space.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetPentestJobs"
        }
      }
    },
    "com.amazonaws.securityagent#BatchGetPentestJobsInput": {
      "type": "structure",
      "members": {
        "pentestJobIds": {
          "target": "com.amazonaws.securityagent#PentestJobIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pentest job identifiers to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the pentest jobs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for BatchGetPentestJobs operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetPentestJobsOutput": {
      "type": "structure",
      "members": {
        "pentestJobs": {
          "target": "com.amazonaws.securityagent#PentestJobList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pentest jobs that were found.</p>"
          }
        },
        "notFound": {
          "target": "com.amazonaws.securityagent#PentestJobIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pentest job identifiers that were not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchGetPentestJobs operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetPentests": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetPentestsInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetPentestsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more pentests in an agent space.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetPentests"
        }
      }
    },
    "com.amazonaws.securityagent#BatchGetPentestsInput": {
      "type": "structure",
      "members": {
        "pentestIds": {
          "target": "com.amazonaws.securityagent#PentestIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pentest identifiers to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the pentests.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for retrieving multiple pentests by their IDs.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetPentestsOutput": {
      "type": "structure",
      "members": {
        "pentests": {
          "target": "com.amazonaws.securityagent#PentestList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pentests that were found.</p>"
          }
        },
        "notFound": {
          "target": "com.amazonaws.securityagent#PentestIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pentest identifiers that were not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchGetPentests operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetTargetDomains": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#BatchGetTargetDomainsInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#BatchGetTargetDomainsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more target domains.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetTargetDomains"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetTargetDomainsInput": {
      "type": "structure",
      "members": {
        "targetDomainIds": {
          "target": "com.amazonaws.securityagent#TargetDomainIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of target domain identifiers to retrieve.</p>",
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for batch retrieving target domains.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#BatchGetTargetDomainsOutput": {
      "type": "structure",
      "members": {
        "targetDomains": {
          "target": "com.amazonaws.securityagent#TargetDomainList",
          "traits": {
            "smithy.api#documentation": "<p>The list of target domains that were found.</p>",
            "smithy.api#notProperty": {}
          }
        },
        "notFound": {
          "target": "com.amazonaws.securityagent#TargetDomainIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of target domain identifiers that were not found.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the BatchGetTargetDomains operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#Category": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the category.</p>"
          }
        },
        "isPrimary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether this is the primary category for the task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a category assigned to a security testing task.</p>"
      }
    },
    "com.amazonaws.securityagent#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#Category"
      }
    },
    "com.amazonaws.securityagent#CloudWatchLog": {
      "type": "structure",
      "members": {
        "logGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch log group.</p>"
          }
        },
        "logStream": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch log stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon CloudWatch Logs configuration for pentest job logging.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeLocation": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The absolute path to the file containing the code location.</p>",
            "smithy.api#required": {}
          }
        },
        "lineStart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The starting line number of the code location.</p>"
          }
        },
        "lineEnd": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The ending line number of the code location.</p>"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The role of this location in the vulnerability, such as source or sink.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a location in source code associated with a security finding.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeLocationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#CodeLocation"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of code locations.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeRemediationStrategy": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Automatically generate code remediation for findings.</p>",
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Code remediation is disabled.</p>",
            "smithy.api#enumValue": "DISABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Strategy for automated code remediation.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeRemediationTask": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.securityagent#CodeRemediationTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the code remediation task.</p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the current status of the code remediation task.</p>"
          }
        },
        "taskDetails": {
          "target": "com.amazonaws.securityagent#CodeRemediationTaskDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of details for the code remediation task, including repository name, code diff link, and pull request link.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a code remediation task that was initiated to fix a security finding.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeRemediationTaskDetails": {
      "type": "structure",
      "members": {
        "repoName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository where the remediation was applied.</p>"
          }
        },
        "codeDiffLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The link to the code diff for the remediation.</p>"
          }
        },
        "pullRequestLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The link to the pull request created for the remediation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a code remediation task, including links to the code diff and pull request.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeRemediationTaskDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#CodeRemediationTaskDetails"
      }
    },
    "com.amazonaws.securityagent#CodeRemediationTaskStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Code remediation task status.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReview": {
      "type": "structure",
      "members": {
        "codeReviewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the code review.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the code review.</p>",
            "smithy.api#required": {}
          }
        },
        "assets": {
          "target": "com.amazonaws.securityagent#Assets",
          "traits": {
            "smithy.api#documentation": "<p>The assets included in the code review.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.securityagent#ServiceRole",
          "traits": {
            "smithy.api#documentation": "<p>The IAM service role used for the code review.</p>"
          }
        },
        "logConfig": {
          "target": "com.amazonaws.securityagent#CloudWatchLog",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch Logs configuration for the code review.</p>"
          }
        },
        "codeRemediationStrategy": {
          "target": "com.amazonaws.securityagent#CodeRemediationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The code remediation strategy for the code review.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a code review configuration that defines the parameters for automated security-focused code analysis, including target assets and logging configuration.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of code review IDs.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewJob": {
      "type": "structure",
      "members": {
        "codeReviewJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review job.</p>"
          }
        },
        "codeReviewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review associated with the job.</p>"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the code review job.</p>"
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An overview of the code review job results.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.securityagent#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the code review job.</p>"
          }
        },
        "documents": {
          "target": "com.amazonaws.securityagent#DocumentList",
          "traits": {
            "smithy.api#documentation": "<p>The list of documents providing context for the code review job.</p>"
          }
        },
        "sourceCode": {
          "target": "com.amazonaws.securityagent#SourceCodeRepositoryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of source code repositories analyzed during the code review job.</p>"
          }
        },
        "steps": {
          "target": "com.amazonaws.securityagent#StepList",
          "traits": {
            "smithy.api#documentation": "<p>The list of steps in the code review job execution.</p>"
          }
        },
        "executionContext": {
          "target": "com.amazonaws.securityagent#ExecutionContextList",
          "traits": {
            "smithy.api#documentation": "<p>The execution context messages for the code review job.</p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.securityagent#ServiceRole",
          "traits": {
            "smithy.api#documentation": "<p>The IAM service role used for the code review job.</p>"
          }
        },
        "logConfig": {
          "target": "com.amazonaws.securityagent#CloudWatchLog",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch Logs configuration for the code review job.</p>"
          }
        },
        "errorInformation": {
          "target": "com.amazonaws.securityagent#ErrorInformation",
          "traits": {
            "smithy.api#documentation": "<p>Error information if the code review job encountered an error.</p>"
          }
        },
        "integratedRepositories": {
          "target": "com.amazonaws.securityagent#IntegratedRepositoryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of integrated repositories associated with the code review job.</p>"
          }
        },
        "codeRemediationStrategy": {
          "target": "com.amazonaws.securityagent#CodeRemediationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The code remediation strategy for the code review job.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review job was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review job was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a code review job, which is an execution instance of a code review. A code review job progresses through preflight, static analysis, and finalizing steps.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewJobIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of code review job IDs.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#CodeReviewJob"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of code review jobs.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewJobSummary": {
      "type": "structure",
      "members": {
        "codeReviewJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review job.</p>",
            "smithy.api#required": {}
          }
        },
        "codeReviewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review associated with the job.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the code review job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.securityagent#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the code review job.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review job was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review job was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a code review job.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewJobSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#CodeReviewJobSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of code review job summaries.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewJobTask": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the task.</p>",
            "smithy.api#required": {}
          }
        },
        "codeReviewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review associated with the task.</p>"
          }
        },
        "codeReviewJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review job that contains the task.</p>"
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space.</p>"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the task.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the task.</p>"
          }
        },
        "categories": {
          "target": "com.amazonaws.securityagent#CategoryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of categories assigned to the task.</p>"
          }
        },
        "riskType": {
          "target": "com.amazonaws.securityagent#RiskType",
          "traits": {
            "smithy.api#documentation": "<p>The type of security risk the task is testing for.</p>"
          }
        },
        "executionStatus": {
          "target": "com.amazonaws.securityagent#TaskExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current execution status of the task.</p>"
          }
        },
        "logsLocation": {
          "target": "com.amazonaws.securityagent#LogLocation",
          "traits": {
            "smithy.api#documentation": "<p>The location of the task execution logs.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the task was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the task was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an individual security test task within a code review job. Each task targets a specific risk type and executes independently.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewJobTaskList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#CodeReviewJobTask"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of code review job tasks.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewJobTaskSummary": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the task.</p>",
            "smithy.api#required": {}
          }
        },
        "codeReviewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review associated with the task.</p>"
          }
        },
        "codeReviewJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review job that contains the task.</p>"
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space.</p>"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the task.</p>"
          }
        },
        "riskType": {
          "target": "com.amazonaws.securityagent#RiskType",
          "traits": {
            "smithy.api#documentation": "<p>The type of security risk the task is testing for.</p>"
          }
        },
        "executionStatus": {
          "target": "com.amazonaws.securityagent#TaskExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current execution status of the task.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the task was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the task was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a code review job task.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewJobTaskSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#CodeReviewJobTaskSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of code review job task summaries.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#CodeReview"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of code reviews.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewSettings": {
      "type": "structure",
      "members": {
        "controlsScanning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether controls scanning is enabled for code reviews.</p>",
            "smithy.api#required": {}
          }
        },
        "generalPurposeScanning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether general-purpose scanning is enabled for code reviews.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The code review settings for an agent space, controlling which types of scanning are enabled.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewSummary": {
      "type": "structure",
      "members": {
        "codeReviewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code review.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the code review.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the code review.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a code review.</p>"
      }
    },
    "com.amazonaws.securityagent#CodeReviewSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityagent#CodeReviewSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of code review summaries.</p>"
      }
    },
    "com.amazonaws.securityagent#ConfidenceLevel": {
      "type": "enum",
      "members": {
        "FALSE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALSE_POSITIVE"
          }
        },
        "UNCONFIRMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCONFIRMED"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Finding confidence level.</p>"
      }
    },
    "com.amazonaws.securityagent#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error description.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.securityagent#ContextType": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Error encountered during execution.</p>",
            "smithy.api#enumValue": "ERROR"
          }
        },
        "CLIENT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Client-side error encountered during execution.</p>",
            "smithy.api#enumValue": "CLIENT_ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Warning encountered during execution.</p>",
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Informational message during execution.</p>",
            "smithy.api#enumValue": "INFO"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Category of execution context.</p>"
      }
    },
    "com.amazonaws.securityagent#CreateAgentSpace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#CreateAgentSpaceInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#CreateAgentSpaceOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new agent space. An agent space is a dedicated workspace for securing a specific application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateAgentSpace"
        }
      }
    },
    "com.amazonaws.securityagent#CreateAgentSpaceInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.securityagent#AgentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent space.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the agent space.</p>"
          }
        },
        "awsResources": {
          "target": "com.amazonaws.securityagent#AWSResources",
          "traits": {
            "smithy.api#documentation": "<p>The AWS resources to associate with the agent space.</p>"
          }
        },
        "targetDomainIds": {
          "target": "com.amazonaws.securityagent#TargetDomainIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of target domain identifiers to associate with the agent space.</p>"
          }
        },
        "codeReviewSettings": {
          "target": "com.amazonaws.securityagent#CodeReviewSettings",
          "traits": {
            "smithy.api#documentation": "<p>The code review settings for the agent space.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.securityagent#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS KMS key to use for encrypting data in the agent space.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.securityagent#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the agent space.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for creating a new agent space.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#CreateAgentSpaceOutput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.securityagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created agent space.</p>",
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.securityagent#AgentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent space.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the agent space.</p>"
          }
        },
        "awsResources": {
          "target": "com.amazonaws.securityagent#AWSResources",
          "traits": {
            "smithy.api#documentation": "<p>The AWS resources associated with the agent space.</p>"
          }
        },
        "targetDomainIds": {
          "target": "com.amazonaws.securityagent#TargetDomainIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of target domain identifiers associated with the agent space.</p>"
          }
        },
        "codeReviewSettings": {
          "target": "com.amazonaws.securityagent#CodeReviewSettings",
          "traits": {
            "smithy.api#documentation": "<p>The code review settings for the agent space.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.securityagent#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS KMS key used to encrypt data in the agent space.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the agent space was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the agent space was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the CreateAgentSpace operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#CreateApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.securityagent#CreateApplicationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new application. An application is the top-level organizational unit that supports IAM Identity Center integration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateApplication"
        }
      }
    },
    "com.amazonaws.securityagent#CreateApplicationRequest": {
      "type": "structure",
      "members": {
        "idcInstanceArn": {
          "target": "com.amazonaws.securityagent#IdCInstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM Identity Center instance to associate with the application.</p>",
            "smithy.api#notProperty": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.securityagent#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to associate with the application.</p>"
          }
        },
        "defaultKmsKeyId": {
          "target": "com.amazonaws.securityagent#DefaultKmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the default AWS KMS key to use for encrypting data in the application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.securityagent#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the application.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#CreateApplicationResponse": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "com.amazonaws.securityagent#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#CreateCodeReview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#CreateCodeReviewInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#CreateCodeReviewOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new code review configuration in an agent space. A code review defines the parameters for automated security-focused code analysis.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateCodeReview"
        }
      }
    },
    "com.amazonaws.securityagent#CreateCodeReviewInput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the code review.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space to create the code review in.</p>",
            "smithy.api#required": {}
          }
        },
        "assets": {
          "target": "com.amazonaws.securityagent#Assets",
          "traits": {
            "smithy.api#documentation": "<p>The assets to include in the code review, such as documents and source code.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.securityagent#ServiceRole",
          "traits": {
            "smithy.api#documentation": "<p>The IAM service role to use for the code review.</p>"
          }
        },
        "logConfig": {
          "target": "com.amazonaws.securityagent#CloudWatchLog",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch Logs configuration for the code review.</p>"
          }
        },
        "codeRemediationStrategy": {
          "target": "com.amazonaws.securityagent#CodeRemediationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The code remediation strategy for the code review. Valid values are AUTOMATIC and DISABLED.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for creating a new code review.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#CreateCodeReviewOutput": {
      "type": "structure",
      "members": {
        "codeReviewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created code review.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the code review.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review was created, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the code review was last updated, in UTC format.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "assets": {
          "target": "com.amazonaws.securityagent#Assets",
          "traits": {
            "smithy.api#documentation": "<p>The assets included in the code review.</p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.securityagent#ServiceRole",
          "traits": {
            "smithy.api#documentation": "<p>The IAM service role used for the code review.</p>"
          }
        },
        "logConfig": {
          "target": "com.amazonaws.securityagent#CloudWatchLog",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch Logs configuration for the code review.</p>"
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space that contains the code review.</p>"
          }
        },
        "codeRemediationStrategy": {
          "target": "com.amazonaws.securityagent#CodeRemediationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The code remediation strategy for the code review.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for the CreateCodeReview operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#CreateIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#CreateIntegrationInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#CreateIntegrationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.securityagent#ConflictException"
        },
        {
          "target": "com.amazonaws.securityagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.securityagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.securityagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.securityagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new integration with a third-party provider, such as GitHub, for code review and remediation.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/CreateIntegration"
        }
      }
    },
    "com.amazonaws.securityagent#CreateIntegrationInput": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.amazonaws.securityagent#Provider",
          "traits": {
            "smithy.api#documentation": "<p>The integration provider. Currently, only GITHUB is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "com.amazonaws.securityagent#ProviderInput",
          "traits": {
            "smithy.api#documentation": "<p>The provider-specific input required to create the integration.</p>",
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        },
        "integrationDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the integration.</p>",
            "smithy.api#property": {
              "name": "displayName"
            },
            "smithy.api#required": {}
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.securityagent#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS KMS key to use for encrypting data associated with the integration.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.securityagent#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the integration.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#CreateIntegrationOutput": {
      "type": "structure",
      "members": {
        "integrationId": {
          "target": "com.amazonaws.securityagent#IntegrationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created integration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#CreateMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#CreateMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.securityagent#CreateMembershipResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new membership, granting a user access to an agent space within an application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateMembership"
        }
      }
    },
    "com.amazonaws.securityagent#CreateMembershipRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "com.amazonaws.securityagent#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the application that contains the agent space.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "com.amazonaws.securityagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space to grant access to.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipId": {
          "target": "com.amazonaws.securityagent#MembershipId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the membership.</p>",
            "smithy.api#required": {}
          }
        },
        "memberType": {
          "target": "com.amazonaws.securityagent#MembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The type of member. Currently, only USER is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.amazonaws.securityagent#MembershipConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the membership, such as the user role.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request structure for adding a single member to an agent space.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.securityagent#CreateMembershipResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Response structure for adding a single member to an agent space.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.securityagent#CreatePentest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityagent#CreatePentestInput"
      },
      "output": {
        "target": "com.amazonaws.securityagent#CreatePentestOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new pentest configuration in an agent space. A pentest defines the security test parameters, including target assets, risk type exclusions, and logging configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreatePentest"
        }
      }
    },
    "com.amazonaws.securityagent#CreatePentestInput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the pentest.</p>",
            "smithy.api#required": {}
          }
        },
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent space to create the pentest in.</p>",
            "smithy.api#required": {}
          }
        },
        "assets": {
          "target": "com.amazonaws.securityagent#Assets",
          "traits": {
            "smithy.api#documentation": "<p>The assets to include in the pentest, such as endpoints, actors, documents, and source code.</p>"
          }
        },
        "excludeRiskTypes": {
          "target": "com.amazonaws.securityagent#RiskTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of risk types to exclude from the pentest.</p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.securityagent#ServiceRole",
          "traits": {
            "smithy.api#documentation": "<p>The IAM service role to use for the pentest.</p>"
          }
        },
        "logConfig": {
          "target": "com.amazonaws.securityagent#CloudWatchLog",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch Logs configuration for the pentest.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.securityagent#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration for the pentest.</p>"
          }
        },
        "networkTrafficConfig": {
          "target": "com.amazonaws.securityagent#NetworkTrafficConfig",
[...]
