{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.securityhub#AcceptAdministratorInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#AcceptAdministratorInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#AcceptAdministratorInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator\n         account that the invitation was sent from.</p>\n         <p>This operation is only used by member accounts that are not added through\n         Organizations.</p>\n         <p>When the member account accepts the invitation, permission is granted to the administrator\n         account to view findings generated in the member account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/administrator",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#AcceptAdministratorInvitationRequest": {
      "type": "structure",
      "members": {
        "AdministratorId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the Security Hub administrator account that sent the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the invitation sent from the Security Hub administrator account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#AcceptAdministratorInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.securityhub#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#AcceptInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#AcceptInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "This API has been deprecated, use AcceptAdministratorInvitation API instead."
        },
        "smithy.api#documentation": "<p>This method is deprecated. Instead, use <code>AcceptAdministratorInvitation</code>.</p>\n         <p>The Security Hub console continues to use <code>AcceptInvitation</code>. It will eventually change to use <code>AcceptAdministratorInvitation</code>. Any IAM policies that specifically control access to this function must continue to use <code>AcceptInvitation</code>. You should also add <code>AcceptAdministratorInvitation</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>AcceptAdministratorInvitation</code>.</p>\n         <p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator\n         account that the invitation was sent from.</p>\n         <p>This operation is only used by member accounts that are not added through\n         Organizations.</p>\n         <p>When the member account accepts the invitation, permission is granted to the administrator\n         account to view findings generated in the member account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/master",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "MasterId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the Security Hub administrator account that sent the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the invitation sent from the Security Hub administrator account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#AcceptInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.securityhub#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.securityhub#NonEmptyString"
        },
        "Code": {
          "target": "com.amazonaws.securityhub#NonEmptyString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permission to perform the action specified in the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.securityhub#AccountDetails": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.securityhub#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "Email": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The email of an Amazon Web Services account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.securityhub#AccountDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AccountDetails"
      }
    },
    "com.amazonaws.securityhub#AccountId": {
      "type": "string"
    },
    "com.amazonaws.securityhub#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#NonEmptyString"
      }
    },
    "com.amazonaws.securityhub#Action": {
      "type": "structure",
      "members": {
        "ActionType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of action that was detected. The possible action types are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NETWORK_CONNECTION</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_API_CALL</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DNS_REQUEST</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>PORT_PROBE</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "NetworkConnectionAction": {
          "target": "com.amazonaws.securityhub#NetworkConnectionAction",
          "traits": {
            "smithy.api#documentation": "<p>Included if <code>ActionType</code> is <code>NETWORK_CONNECTION</code>. Provides details\n         about the network connection that was detected.</p>"
          }
        },
        "AwsApiCallAction": {
          "target": "com.amazonaws.securityhub#AwsApiCallAction",
          "traits": {
            "smithy.api#documentation": "<p>Included if <code>ActionType</code> is <code>AWS_API_CALL</code>. Provides details about\n         the API call that was detected. </p>"
          }
        },
        "DnsRequestAction": {
          "target": "com.amazonaws.securityhub#DnsRequestAction",
          "traits": {
            "smithy.api#documentation": "<p>Included if <code>ActionType</code> is <code>DNS_REQUEST</code>. Provides details about\n         the DNS request that was detected. </p>"
          }
        },
        "PortProbeAction": {
          "target": "com.amazonaws.securityhub#PortProbeAction",
          "traits": {
            "smithy.api#documentation": "<p>Included if <code>ActionType</code> is <code>PORT_PROBE</code>. Provides details about\n         the port probe that was detected. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about one of the following actions that affects or that was taken on a resource:</p>\n         <ul>\n            <li>\n               <p>A remote IP address issued an Amazon Web Services API call</p>\n            </li>\n            <li>\n               <p>A DNS request was received</p>\n            </li>\n            <li>\n               <p>A remote IP address attempted to connect to an EC2 instance</p>\n            </li>\n            <li>\n               <p>A remote IP address attempted a port probe on an EC2 instance</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.securityhub#ActionLocalIpDetails": {
      "type": "structure",
      "members": {
        "IpAddressV4": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IP address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the IP address where the scanned port is located.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionLocalPortDetails": {
      "type": "structure",
      "members": {
        "Port": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of the port.</p>"
          }
        },
        "PortName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The port name of the local connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For <code>NetworkConnectionAction</code> and <code>PortProbeDetails</code>,\n            <code>LocalPortDetails</code> provides information about the local port that was\n         involved in the action.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionRemoteIpDetails": {
      "type": "structure",
      "members": {
        "IpAddressV4": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IP address.</p>"
          }
        },
        "Organization": {
          "target": "com.amazonaws.securityhub#IpOrganizationDetails",
          "traits": {
            "smithy.api#documentation": "<p>The internet service provider (ISP) organization associated with the remote IP\n         address.</p>"
          }
        },
        "Country": {
          "target": "com.amazonaws.securityhub#Country",
          "traits": {
            "smithy.api#documentation": "<p>The country where the remote IP address is located.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.securityhub#City",
          "traits": {
            "smithy.api#documentation": "<p>The city where the remote IP address is located.</p>"
          }
        },
        "GeoLocation": {
          "target": "com.amazonaws.securityhub#GeoLocation",
          "traits": {
            "smithy.api#documentation": "<p>The coordinates of the location of the remote IP address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For <code>AwsApiAction</code>, <code>NetworkConnectionAction</code>, and\n            <code>PortProbeAction</code>, <code>RemoteIpDetails</code> provides information about\n         the remote IP address that was involved in the action.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionRemotePortDetails": {
      "type": "structure",
      "members": {
        "Port": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of the port.</p>"
          }
        },
        "PortName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The port name of the remote connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the remote port that was involved in an attempted network\n         connection.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionTarget": {
      "type": "structure",
      "members": {
        "ActionTargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the target action.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action target.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the target action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An <code>ActionTarget</code> object.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionTargetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#ActionTarget"
      }
    },
    "com.amazonaws.securityhub#Adjustment": {
      "type": "structure",
      "members": {
        "Metric": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The metric to adjust.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the adjustment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An adjustment to the CVSS metric.</p>"
      }
    },
    "com.amazonaws.securityhub#AdjustmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#Adjustment"
      }
    },
    "com.amazonaws.securityhub#AdminAccount": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the Security Hub administrator account.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#AdminStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Security Hub administrator account. Indicates whether the account is\n         currently enabled as a Security Hub administrator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a Security Hub administrator account designated by an organization management\n         account.</p>"
      }
    },
    "com.amazonaws.securityhub#AdminAccounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AdminAccount"
      }
    },
    "com.amazonaws.securityhub#AdminStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLE_IN_PROGRESS",
            "name": "DISABLE_IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.securityhub#AdminsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.securityhub#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#NonEmptyString"
      }
    },
    "com.amazonaws.securityhub#AvailabilityZone": {
      "type": "structure",
      "members": {
        "ZoneName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Availability Zone.</p>"
      }
    },
    "com.amazonaws.securityhub#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AvailabilityZone"
      }
    },
    "com.amazonaws.securityhub#AwsApiCallAction": {
      "type": "structure",
      "members": {
        "Api": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API method that was issued.</p>"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Web Services service that the API method belongs to.</p>"
          }
        },
        "CallerType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the API call originated from a remote IP address\n            (<code>remoteip</code>) or from a DNS domain (<code>domain</code>).</p>"
          }
        },
        "RemoteIpDetails": {
          "target": "com.amazonaws.securityhub#ActionRemoteIpDetails",
          "traits": {
            "smithy.api#documentation": "<p>Provided if <code>CallerType</code> is <code>remoteIp</code>. Provides information about\n         the remote IP address that the API call originated from.</p>"
          }
        },
        "DomainDetails": {
          "target": "com.amazonaws.securityhub#AwsApiCallActionDomainDetails",
          "traits": {
            "smithy.api#documentation": "<p>Provided if <code>CallerType</code> is <code>domain</code>. Provides information about\n         the DNS domain that the API call originated from.</p>"
          }
        },
        "AffectedResources": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the resources that were affected by the API call.</p>"
          }
        },
        "FirstSeen": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the API call was first\n         observed.</p>"
          }
        },
        "LastSeen": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the API call was most recently\n         observed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provided if <code>ActionType</code> is <code>AWS_API_CALL</code>. It provides details\n         about the API call that was detected.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiCallActionDomainDetails": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DNS domain that issued the API call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provided if <code>CallerType</code> is <code>domain</code>. It provides information\n         about the DNS domain that issued the API call.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayAccessLogSettings": {
      "type": "structure",
      "members": {
        "Format": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A single-line format of the access logs of data, as specified by selected\n            <code>$context</code> variables. The format must include at least\n            <code>$context.requestId</code>.</p>"
          }
        },
        "DestinationArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the CloudWatch Logs log group that receives the access logs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about settings for logging access for the stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayCanarySettings": {
      "type": "structure",
      "members": {
        "PercentTraffic": {
          "target": "com.amazonaws.securityhub#Double",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of traffic that is diverted to a canary deployment.</p>"
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The deployment identifier for the canary deployment.</p>"
          }
        },
        "StageVariableOverrides": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>Stage variables that are overridden in the canary release deployment. The variables\n         include new stage variables that are introduced in the canary.</p>\n         <p>Each variable is represented as a string-to-string map between the stage variable name\n         and the variable value.</p>"
          }
        },
        "UseStageCache": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the canary deployment uses the stage cache.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about settings for canary deployment in the stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayEndpointConfiguration": {
      "type": "structure",
      "members": {
        "Types": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of endpoint types for the REST API.</p>\n         <p>For an edge-optimized API, the endpoint type is <code>EDGE</code>. For a Regional API,\n         the endpoint type is <code>REGIONAL</code>. For a private API, the endpoint type is\n            <code>PRIVATE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the endpoints for the API.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayMethodSettings": {
      "type": "structure",
      "members": {
        "MetricsEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether CloudWatch metrics are enabled for the method. </p>"
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The logging level for this method. The logging level affects the log entries that are\n         pushed to CloudWatch Logs.</p>\n         <p>If the logging level is <code>ERROR</code>, then the logs only include error-level\n         entries.</p>\n         <p>If the logging level is <code>INFO</code>, then the logs include both <code>ERROR</code>\n         events and extra informational events.</p>\n         <p>Valid values: <code>OFF</code> | <code>ERROR</code> | <code>INFO</code>\n         </p>"
          }
        },
        "DataTraceEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether data trace logging is enabled for the method. Data trace logging\n         affects the log entries that are pushed to CloudWatch Logs.</p>"
          }
        },
        "ThrottlingBurstLimit": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The throttling burst limit for the method.</p>"
          }
        },
        "ThrottlingRateLimit": {
          "target": "com.amazonaws.securityhub#Double",
          "traits": {
            "smithy.api#documentation": "<p>The throttling rate limit for the method.</p>"
          }
        },
        "CachingEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether responses are cached and returned for requests. For responses to be\n         cached, a cache cluster must be enabled on the stage.</p>"
          }
        },
        "CacheTtlInSeconds": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time to live (TTL), in seconds, for cached responses. The higher the TTL,\n         the longer the response is cached.</p>"
          }
        },
        "CacheDataEncrypted": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the cached responses are encrypted. </p>"
          }
        },
        "RequireAuthorizationForCacheControl": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether authorization is required for a cache invalidation request.</p>"
          }
        },
        "UnauthorizedCacheControlHeaderStrategy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how to handle unauthorized requests for cache invalidation.</p>\n         <p>Valid values: <code>FAIL_WITH_403</code> | <code>SUCCEED_WITH_RESPONSE_HEADER</code> |\n            <code>SUCCEED_WITHOUT_RESPONSE_HEADER</code>\n         </p>"
          }
        },
        "HttpMethod": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP method. You can use an asterisk (*) as a wildcard to apply method settings to\n         multiple methods.</p>"
          }
        },
        "ResourcePath": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The resource path for this method. Forward slashes (/) are encoded as ~1 . The initial\n         slash must include a forward slash.</p>\n         <p>For example, the path value <code>/resource/subresource</code> must be encoded as\n            <code>/~1resource~1subresource</code>.</p>\n         <p>To specify the root path, use only a slash (/). You can use an asterisk (*) as a\n         wildcard to apply method settings to multiple methods.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines settings for a method for the stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayMethodSettingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsApiGatewayMethodSettings"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayRestApiDetails": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the REST API.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the REST API.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the REST API.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the API was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier for the REST API.</p>"
          }
        },
        "BinaryMediaTypes": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of binary media types supported by the REST API.</p>"
          }
        },
        "MinimumCompressionSize": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum size in bytes of a payload before compression is enabled.</p>\n         <p>If <code>null</code>, then compression is disabled.</p>\n         <p>If 0, then all payloads are compressed.</p>"
          }
        },
        "ApiKeySource": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source of the API key for metering requests according to a usage plan.</p>\n         <p>\n            <code>HEADER</code> indicates whether to read the API key from the X-API-Key header of a\n         request.</p>\n         <p>\n            <code>AUTHORIZER</code> indicates whether to read the API key from the\n            <code>UsageIdentifierKey</code> from a custom authorizer.</p>"
          }
        },
        "EndpointConfiguration": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayEndpointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint configuration of the REST API.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a REST API in version 1 of Amazon API Gateway.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayStageDetails": {
      "type": "structure",
      "members": {
        "DeploymentId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the deployment that the stage points to.</p>"
          }
        },
        "ClientCertificateId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the client certificate for the stage.</p>"
          }
        },
        "StageName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the stage.</p>"
          }
        },
        "CacheClusterEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a cache cluster is enabled for the stage.</p>"
          }
        },
        "CacheClusterSize": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>If a cache cluster is enabled, the size of the cache cluster.</p>"
          }
        },
        "CacheClusterStatus": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>If a cache cluster is enabled, the status of the cache cluster.</p>"
          }
        },
        "MethodSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayMethodSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines the method settings for the stage.</p>"
          }
        },
        "Variables": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that defines the stage variables for the stage.</p>\n         <p>Variable names can have alphanumeric and underscore characters.</p>\n         <p>Variable values can contain the following characters:</p>\n         <ul>\n            <li>\n               <p>Uppercase and lowercase letters</p>\n            </li>\n            <li>\n               <p>Numbers</p>\n            </li>\n            <li>\n               <p>Special characters -._~:/?#&=,</p>\n            </li>\n         </ul>"
          }
        },
        "DocumentationVersion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the API documentation that is associated with the stage.</p>"
          }
        },
        "AccessLogSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayAccessLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings for logging access for the stage.</p>"
          }
        },
        "CanarySettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayCanarySettings",
          "traits": {
            "smithy.api#documentation": "<p>Information about settings for canary deployment in the stage.</p>"
          }
        },
        "TracingEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether active tracing with X-Ray is enabled for the stage.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the stage was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "LastUpdatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the stage was most recently updated.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "WebAclArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web ACL associated with the stage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a version 1 Amazon API Gateway stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayV2ApiDetails": {
      "type": "structure",
      "members": {
        "ApiEndpoint": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the API. </p>\n         <p>Uses the format\n               <code>\n               <i><api-id></i>.execute-api.<i><region></i>.amazonaws.com</code>\n         </p>\n         <p>The stage name is typically appended to the URI to form a complete path to a deployed\n         API stage.</p>"
          }
        },
        "ApiId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the API.</p>"
          }
        },
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. </p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the API was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the API.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier for the API.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API.</p>"
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The API protocol for the API.</p>\n         <p>Valid values: <code>WEBSOCKET</code> | <code>HTTP</code>\n         </p>"
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The route selection expression for the API.</p>\n         <p>For HTTP APIs, must be <code>${request.method} ${request.path}</code>. This is the\n         default value for HTTP APIs.</p>\n         <p>For WebSocket APIs, there is no default value.</p>"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.securityhub#AwsCorsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A cross-origin resource sharing (CORS) configuration. Supported only for HTTP\n         APIs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a version 2 API in Amazon API Gateway.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayV2RouteSettings": {
      "type": "structure",
      "members": {
        "DetailedMetricsEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether detailed metrics are enabled.</p>"
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The logging level. The logging level affects the log entries that are pushed to\n         CloudWatch Logs. Supported only for WebSocket APIs.</p>\n         <p>If the logging level is <code>ERROR</code>, then the logs only include error-level\n         entries.</p>\n         <p>If the logging level is <code>INFO</code>, then the logs include both <code>ERROR</code>\n         events and extra informational events.</p>\n         <p>Valid values: <code>OFF</code> | <code>ERROR</code> | <code>INFO</code>\n         </p>"
          }
        },
        "DataTraceEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether data trace logging is enabled. Data trace logging affects the log\n         entries that are pushed to CloudWatch Logs. Supported only for WebSocket APIs.</p>"
          }
        },
        "ThrottlingBurstLimit": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The throttling burst limit.</p>"
          }
        },
        "ThrottlingRateLimit": {
          "target": "com.amazonaws.securityhub#Double",
          "traits": {
            "smithy.api#documentation": "<p>The throttling rate limit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains route settings for a stage.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsApiGatewayV2StageDetails": {
      "type": "structure",
      "members": {
        "ClientCertificateId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of a client certificate for a stage. Supported only for WebSocket API calls.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the stage was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the stage.</p>"
          }
        },
        "DefaultRouteSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayV2RouteSettings",
          "traits": {
            "smithy.api#documentation": "<p>Default route settings for the stage.</p>"
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the deployment that the stage is associated with. </p>"
          }
        },
        "LastUpdatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the stage was most recently updated.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "RouteSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayV2RouteSettings",
          "traits": {
            "smithy.api#documentation": "<p>The route settings for the stage.</p>"
          }
        },
        "StageName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>"
          }
        },
        "StageVariables": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that defines the stage variables for the stage.</p>\n         <p>Variable names can have alphanumeric and underscore characters.</p>\n         <p>Variable values can contain the following characters:</p>\n         <ul>\n            <li>\n               <p>Uppercase and lowercase letters</p>\n            </li>\n            <li>\n               <p>Numbers</p>\n            </li>\n            <li>\n               <p>Special characters -._~:/?#&=,</p>\n            </li>\n         </ul>"
          }
        },
        "AccessLogSettings": {
          "target": "com.amazonaws.securityhub#AwsApiGatewayAccessLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Information about settings for logging access for the stage.</p>"
          }
        },
        "AutoDeploy": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether updates to an API automatically trigger a new deployment.</p>"
          }
        },
        "LastDeploymentStatusMessage": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The status of the last deployment of a stage. Supported only if the stage has automatic\n         deployment enabled.</p>"
          }
        },
        "ApiGatewayManaged": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the stage is managed by API Gateway.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a version 2 stage for Amazon API Gateway.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupDetails": {
      "type": "structure",
      "members": {
        "LaunchConfigurationName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration.</p>"
          }
        },
        "LoadBalancerNames": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of load balancers associated with the group.</p>"
          }
        },
        "HealthCheckType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The service to use for the health checks.</p>"
          }
        },
        "HealthCheckGracePeriod": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before it checks the\n         health status of an EC2 instance that has come into service.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the auto scaling group was created.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an auto scaling group.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsDetails": {
      "type": "structure",
      "members": {
        "DeviceName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The device name that is exposed to the EC2 instance. For example, <code>/dev/sdh</code> or <code>xvdh</code>.</p>"
          }
        },
        "Ebs": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsEbsDetails",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are used to automatically set up Amazon EBS volumes when an instance is launched.</p>"
          }
        },
        "NoDevice": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to suppress the device that is included in the block device mapping of the Amazon Machine Image (AMI).</p>\n         <p>If <code>NoDevice</code> is <code>true</code>, then you cannot specify <code>Ebs</code>.></p>"
          }
        },
        "VirtualName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the virtual device (for example, <code>ephemeral0</code>).</p>\n         <p>You can provide either <code>VirtualName</code> or <code>Ebs</code>, but not both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A block device for the instance.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsEbsDetails": {
      "type": "structure",
      "members": {
        "DeleteOnTermination": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to delete the volume when the instance is terminated.</p>"
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to encrypt the volume.</p>"
          }
        },
        "Iops": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of input/output (I/O) operations per second (IOPS) to provision for the volume.</p>\n         <p>Only supported for <code>gp3</code> or <code>io1</code> volumes. Required for <code>io1</code> volumes. Not used with <code>standard</code>, <code>gp2</code>, <code>st1</code>, or <code>sc1</code> volumes.</p>"
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot ID of the volume to use.</p>\n         <p>You must specify either <code>VolumeSize</code> or <code>SnapshotId</code>.</p>"
          }
        },
        "VolumeSize": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The volume size, in GiBs. The following are the supported volumes sizes for each volume type:</p>\n         <ul>\n            <li>\n               <p>gp2 and gp3: 1-16,384</p>\n            </li>\n            <li>\n               <p>io1: 4-16,384</p>\n            </li>\n            <li>\n               <p>st1 and sc1: 125-16,384</p>\n            </li>\n            <li>\n               <p>standard: 1-1,024</p>\n            </li>\n         </ul>\n         <p>You must specify either <code>SnapshotId</code> or <code>VolumeSize</code>. If you specify both <code>SnapshotId</code> and <code>VolumeSize</code>, the volume size must be equal or greater than the size of the snapshot.</p>"
          }
        },
        "VolumeType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The volume type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are used to automatically set up EBS volumes when an instance is launched.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsDetails"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationDetails": {
      "type": "structure",
      "members": {
        "AssociatePublicIpAddress": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>For Auto Scaling groups that run in a VPC, specifies whether to assign a public IP address to the group's instances.</p>"
          }
        },
        "BlockDeviceMappings": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationBlockDeviceMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the block devices for the instance.</p>"
          }
        },
        "ClassicLinkVpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of a ClassicLink-enabled VPC that EC2-Classic instances are linked to.</p>"
          }
        },
        "ClassicLinkVpcSecurityGroups": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers of one or more security groups for the VPC that is specified in <code>ClassicLinkVPCId</code>.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The creation date and time for the launch configuration.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n         Date/Time Format</a>. The value cannot contain spaces. For example,\n         <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "EbsOptimized": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the launch configuration is optimized for Amazon EBS I/O.</p>"
          }
        },
        "IamInstanceProfile": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the instance profile associated with the IAM role for the\n         instance. The instance profile contains the IAM role.</p>"
          }
        },
        "ImageId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Machine Image (AMI) that is used to launch EC2\n         instances.</p>"
          }
        },
        "InstanceMonitoring": {
          "target": "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationInstanceMonitoringDetails",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of monitoring for instances in the group.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The instance type for the instances.</p>"
          }
        },
        "KernelId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the kernel associated with the AMI.</p>"
          }
        },
        "KeyName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key pair.</p>"
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration.</p>"
          }
        },
        "PlacementTenancy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The tenancy of the instance. An instance with <code>dedicated</code> tenancy runs on\n         isolated, single-tenant hardware and can only be launched into a VPC.</p>"
          }
        },
        "RamdiskId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the RAM disk associated with the AMI.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The security groups to assign to the instances in the Auto Scaling group.</p>"
          }
        },
        "SpotPrice": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The maximum hourly price to be paid for any Spot Instance that is launched to fulfill the\n         request.</p>"
          }
        },
        "UserData": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The user data to make available to the launched EC2 instances. Must be base64-encoded\n         text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a launch configuration.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingLaunchConfigurationInstanceMonitoringDetails": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, then instances in the group launch with detailed\n         monitoring.</p>\n         <p>If set to <code>false</code>, then instances in the group launch with basic\n         monitoring.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the type of monitoring for instances in the group.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateDetails": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the private certificate authority (CA) that will be used to issue the\n         certificate.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the certificate was requested.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name (FQDN), such as www.example.com, that is secured by the\n         certificate.</p>"
          }
        },
        "DomainValidationOptions": {
          "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateDomainValidationOptions",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the initial validation of each domain name that occurs as a\n         result of the <code>RequestCertificate</code> request.</p>\n         <p>Only provided if the certificate type is <code>AMAZON_ISSUED</code>.</p>"
          }
        },
        "ExtendedKeyUsages": {
          "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateExtendedKeyUsages",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of Extended Key Usage X.509 v3 extension objects. Each object specifies\n         a purpose for which the certificate public key can be used and consists of a name and an\n         object identifier (OID).</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>For a failed certificate request, the reason for the failure.</p>\n         <p>Valid values: <code>NO_AVAILABLE_CONTACTS</code> |\n            <code>ADDITIONAL_VERIFICATION_REQUIRED</code> | <code>DOMAIN_NOT_ALLOWED</code> |\n            <code>INVALID_PUBLIC_DOMAIN</code> | <code>DOMAIN_VALIDATION_DENIED</code> |\n            <code>CAA_ERROR</code> | <code>PCA_LIMIT_EXCEEDED</code> | <code>PCA_INVALID_ARN</code>\n         | <code>PCA_INVALID_STATE</code> | <code>PCA_REQUEST_FAILED</code> |\n            <code>PCA_NAME_CONSTRAINTS_VALIDATION</code> | <code>PCA_RESOURCE_NOT_FOUND</code> |\n            <code>PCA_INVALID_ARGS</code> | <code>PCA_INVALID_DURATION</code> |\n            <code>PCA_ACCESS_DENIED</code> | <code>SLR_NOT_FOUND</code> | <code>OTHER</code>\n         </p>"
          }
        },
        "ImportedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the certificate was imported. Provided if the certificate type is\n            <code>IMPORTED</code>.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "InUseBy": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ARNs for the Amazon Web Services resources that use the certificate.</p>"
          }
        },
        "IssuedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the certificate was issued. Provided if the certificate type is\n            <code>AMAZON_ISSUED</code>.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "Issuer": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the certificate authority that issued and signed the certificate.</p>"
          }
        },
        "KeyAlgorithm": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that was used to generate the public-private key pair.</p>\n         <p>Valid values: <code>RSA_2048</code> | <code>RSA_1024</code> |<code> RSA_4096</code> |\n            <code>EC_prime256v1</code> | <code>EC_secp384r1</code> |\n         <code>EC_secp521r1</code>\n         </p>"
          }
        },
        "KeyUsages": {
          "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateKeyUsages",
          "traits": {
            "smithy.api#documentation": "<p>A list of key usage X.509 v3 extension objects.</p>"
          }
        },
        "NotAfter": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The time after which the certificate becomes invalid.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "NotBefore": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The time before which the certificate is not valid.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateOptions",
          "traits": {
            "smithy.api#documentation": "<p>Provides a value that specifies whether to add the certificate to a transparency\n         log.</p>"
          }
        },
        "RenewalEligibility": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Whether the certificate is eligible for renewal.</p>\n         <p>Valid values: <code>ELIGIBLE</code> | <code>INELIGIBLE</code>\n         </p>"
          }
        },
        "RenewalSummary": {
          "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateRenewalSummary",
          "traits": {
            "smithy.api#documentation": "<p>Information about the status of the Certificate Manager managed renewal for the\n         certificate. Provided only when the certificate type is <code>AMAZON_ISSUED</code>.</p>"
          }
        },
        "Serial": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The serial number of the certificate.</p>"
          }
        },
        "SignatureAlgorithm": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that was used to sign the certificate.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate.</p>\n         <p>Valid values: <code>PENDING_VALIDATION</code> | <code>ISSUED</code> |\n            <code>INACTIVE</code> | <code>EXPIRED</code> | <code>VALIDATION_TIMED_OUT</code> |\n            <code>REVOKED</code> | <code>FAILED</code>\n         </p>"
          }
        },
        "Subject": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity that is associated with the public key contained in the\n         certificate.</p>"
          }
        },
        "SubjectAlternativeNames": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more domain names (subject alternative names) included in the certificate. This\n         list contains the domain names that are bound to the public key that is contained in the\n         certificate.</p>\n         <p>The subject alternative names include the canonical domain name (CN) of the certificate\n         and additional domain names that can be used to connect to the website.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source of the certificate. For certificates that Certificate Manager provides,\n            <code>Type</code> is <code>AMAZON_ISSUED</code>. For certificates that are imported with\n            <code>ImportCertificate</code>, <code>Type</code> is <code>IMPORTED</code>.</p>\n         <p>Valid values: <code>IMPORTED</code> | <code>AMAZON_ISSUED</code> |\n         <code>PRIVATE</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an Certificate Manager certificate.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateDomainValidationOption": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A fully qualified domain name (FQDN) in the certificate.</p>"
          }
        },
        "ResourceRecord": {
          "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateResourceRecord",
          "traits": {
            "smithy.api#documentation": "<p>The CNAME record that is added to the DNS database for domain validation.</p>"
          }
        },
        "ValidationDomain": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The domain name that Certificate Manager uses to send domain validation\n         emails.</p>"
          }
        },
        "ValidationEmails": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of email addresses that Certificate Manager uses to send domain validation\n         emails.</p>"
          }
        },
        "ValidationMethod": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The method used to validate the domain name.</p>"
          }
        },
        "ValidationStatus": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The validation status of the domain name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about one of the following:</p>\n         <ul>\n            <li>\n               <p>The initial validation of each domain name that occurs as a result of the\n                  <code>RequestCertificate</code> request</p>\n            </li>\n            <li>\n               <p>The validation of each domain name in the certificate, as it pertains to Certificate Manager managed renewal</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateDomainValidationOptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateDomainValidationOption"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateExtendedKeyUsage": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of an extension value. Indicates the purpose for which the certificate public\n         key can be used.</p>"
          }
        },
        "OId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An object identifier (OID) for the extension value.</p>\n         <p>The format is numbers separated by periods.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an extended key usage X.509 v3 extension object.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateExtendedKeyUsages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateExtendedKeyUsage"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateKeyUsage": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The key usage extension name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a key usage X.509 v3 extension object.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateKeyUsages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateKeyUsage"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateOptions": {
      "type": "structure",
      "members": {
        "CertificateTransparencyLoggingPreference": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Whether to add the certificate to a transparency log.</p>\n         <p>Valid values: <code>DISABLED</code> | <code>ENABLED</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains other options for the certificate.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateRenewalSummary": {
      "type": "structure",
      "members": {
        "DomainValidationOptions": {
          "target": "com.amazonaws.securityhub#AwsCertificateManagerCertificateDomainValidationOptions",
          "traits": {
            "smithy.api#documentation": "<p>Information about the validation of each domain name in the certificate, as it pertains\n         to Certificate Manager managed renewal. Provided only when the certificate type is\n            <code>AMAZON_ISSUED</code>.</p>"
          }
        },
        "RenewalStatus": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Certificate Manager managed renewal of the certificate.</p>\n         <p>Valid values: <code>PENDING_AUTO_RENEWAL</code> | <code>PENDING_VALIDATION</code> |\n            <code>SUCCESS</code> | <code>FAILED</code>\n         </p>"
          }
        },
        "RenewalStatusReason": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The reason that a renewal request was unsuccessful.</p>\n         <p>Valid values: <code>NO_AVAILABLE_CONTACTS</code> |\n            <code>ADDITIONAL_VERIFICATION_REQUIRED</code> | <code>DOMAIN_NOT_ALLOWED</code> |\n            <code>INVALID_PUBLIC_DOMAIN</code> | <code>DOMAIN_VALIDATION_DENIED</code> |\n            <code>CAA_ERROR</code> | <code>PCA_LIMIT_EXCEEDED</code> | <code>PCA_INVALID_ARN</code>\n         | <code>PCA_INVALID_STATE</code> | <code>PCA_REQUEST_FAILED</code> |\n            <code>PCA_NAME_CONSTRAINTS_VALIDATION</code> | <code>PCA_RESOURCE_NOT_FOUND</code> |\n            <code>PCA_INVALID_ARGS</code> | <code>PCA_INVALID_DURATION</code> |\n            <code>PCA_ACCESS_DENIED</code> | <code>SLR_NOT_FOUND</code> | <code>OTHER</code>\n         </p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when the renewal summary was last updated.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the Certificate Manager managed renewal for an\n            <code>AMAZON_ISSUED</code> certificate.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCertificateManagerCertificateResourceRecord": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The value of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about the CNAME record that is added to the DNS database for domain\n         validation.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionCacheBehavior": {
      "type": "structure",
      "members": {
        "ViewerProtocolPolicy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The protocol that viewers can use to access the files in an origin. You can specify the\n         following options:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>allow-all</code> - Viewers can use HTTP or HTTPS.</p>\n            </li>\n            <li>\n               <p>\n                  <code>redirect-to-https</code> - CloudFront responds to HTTP requests with an HTTP\n               status code of 301 (Moved Permanently) and the HTTPS URL. The viewer then uses the\n               new URL to resubmit.</p>\n            </li>\n            <li>\n               <p>\n                  <code>https-only</code> - CloudFront responds to HTTP request with an HTTP status\n               code of 403 (Forbidden).</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a cache behavior for the distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionCacheBehaviors": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionCacheBehaviorsItemList",
          "traits": {
            "smithy.api#documentation": "<p>The cache behaviors for the distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about caching for the distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionCacheBehaviorsItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionCacheBehavior"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionDefaultCacheBehavior": {
      "type": "structure",
      "members": {
        "ViewerProtocolPolicy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The protocol that viewers can use to access the files in an origin. You can specify the\n         following options:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>allow-all</code> - Viewers can use HTTP or HTTPS.</p>\n            </li>\n            <li>\n               <p>\n                  <code>redirect-to-https</code> - CloudFront responds to HTTP requests with an HTTP\n               status code of 301 (Moved Permanently) and the HTTPS URL. The viewer then uses the\n               new URL to resubmit.</p>\n            </li>\n            <li>\n               <p>\n                  <code>https-only</code> - CloudFront responds to HTTP request with an HTTP status\n               code of 403 (Forbidden).</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the default cache configuration for the distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionDetails": {
      "type": "structure",
      "members": {
        "CacheBehaviors": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionCacheBehaviors",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the cache configuration for the distribution.</p>"
          }
        },
        "DefaultCacheBehavior": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionDefaultCacheBehavior",
          "traits": {
            "smithy.api#documentation": "<p>The default cache behavior for the configuration.</p>"
          }
        },
        "DefaultRootObject": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The object that CloudFront sends in response to requests from the origin (for example,\n         index.html) when a viewer requests the root URL for the distribution\n         (http://www.example.com) instead of an object in your distribution\n         (http://www.example.com/product-description.html). </p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The domain name corresponding to the distribution.</p>"
          }
        },
        "ETag": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The entity tag is a hash of the object.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when that the distribution was last modified.</p>\n         <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet\n            Date/Time Format</a>. The value cannot contain spaces. For example,\n            <code>2020-03-22T13:22:13.933Z</code>.</p>"
          }
        },
        "Logging": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionLogging",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>"
          }
        },
        "Origins": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOrigins",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about origins for this distribution.</p>"
          }
        },
        "OriginGroups": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroups",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the origin groups in the distribution.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current status of the distribution.</p>"
          }
        },
        "WebAclId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that specifies the WAF web ACL, if any, to associate with this distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A distribution configuration.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionLogging": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket to store the access logs in.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>With this field, you can enable or disable the selected distribution.</p>"
          }
        },
        "IncludeCookies": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want CloudFront to include cookies in access logs.</p>"
          }
        },
        "Prefix": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An optional string that you want CloudFront to use as a prefix to the access log\n         filenames for this distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroup": {
      "type": "structure",
      "members": {
        "FailoverCriteria": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroupFailover",
          "traits": {
            "smithy.api#documentation": "<p>Provides the criteria for an origin group to fail over.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an origin group for the distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroupFailover": {
      "type": "structure",
      "members": {
        "StatusCodes": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroupFailoverStatusCodes",
          "traits": {
            "smithy.api#documentation": "<p>Information about the status codes that cause an origin group to fail over.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about when an origin group fails over.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroupFailoverStatusCodes": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroupFailoverStatusCodesItemList",
          "traits": {
            "smithy.api#documentation": "<p>The list of status code values that can cause a failover to the next origin.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of status codes that can cause a failover.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status codes that cause an origin group to fail over.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroupFailoverStatusCodesItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#Integer"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroups": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroupsItemList",
          "traits": {
            "smithy.api#documentation": "<p>The list of origin groups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about origin groups that are associated with the\n         distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroupsItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginGroup"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItem": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Amazon S3 origins: The DNS name of the S3 bucket from which you want CloudFront to get objects for this origin.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the origin or origin group.</p>"
          }
        },
        "OriginPath": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin.</p>"
          }
        },
        "S3OriginConfig": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginS3OriginConfig",
          "traits": {
            "smithy.api#documentation": "<p>An origin that is an S3 bucket that is not configured with static website\n         hosting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that describes the S3 bucket, HTTP server (for example, a web\n         server), AWS Elemental MediaStore, or other server from which CloudFront gets your\n         files.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItem"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginS3OriginConfig": {
      "type": "structure",
      "members": {
        "OriginAccessIdentity": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The CloudFront origin access identity to associate with the origin.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an origin that is an S3 bucket that is not configured with static\n         website hosting.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOrigins": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItemList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains origins or origin groups for this distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about origins and origin groups for this distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudTrailTrailDetails": {
      "type": "structure",
      "members": {
        "CloudWatchLogsLogGroupArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the log group that CloudTrail logs are delivered to.</p>"
          }
        },
        "CloudWatchLogsRoleArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that the CloudWatch Events endpoint assumes when it writes to the log\n         group.</p>"
          }
        },
        "HasCustomEventSelectors": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the trail has custom event selectors.</p>"
          }
        },
        "HomeRegion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Region where the trail was created.</p>"
          }
        },
        "IncludeGlobalServiceEvents": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the trail publishes events from global services such as IAM to the log\n         files.</p>"
          }
        },
        "IsMultiRegionTrail": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the trail applies only to the current Region or to all Regions.</p>"
          }
        },
        "IsOrganizationTrail": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the trail is created for all accounts in an organization in Organizations,\n         or only for the current Amazon Web Services account.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key ID to use to encrypt the logs.</p>"
          }
        },
        "LogFileValidationEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether CloudTrail log file validation is enabled.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the trail.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the S3 bucket where the log files are published.</p>"
          }
        },
        "S3KeyPrefix": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The S3 key prefix. The key prefix is added after the name of the S3 bucket where the log\n         files are published.</p>"
          }
        },
        "SnsTopicArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SNS topic that is used for notifications of log file delivery.</p>"
          }
        },
        "SnsTopicName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SNS topic that is used for notifications of log file delivery.</p>"
          }
        },
        "TrailArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the trail.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about a CloudTrail trail.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCodeBuildProjectDetails": {
      "type": "structure",
      "members": {
        "EncryptionKey": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key used to encrypt the\n         build output artifacts.</p>\n         <p>You can specify either the ARN of the KMS key or, if available, the\n         KMS key alias (using the format alias/alias-name). </p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.securityhub#AwsCodeBuildProjectEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build environment for this build project.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the build project.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.securityhub#AwsCodeBuildProjectSource",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build input source code for this build project.</p>"
          }
        },
        "ServiceRole": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that enables CodeBuild to interact with dependent Amazon Web Services\n         services on behalf of the Amazon Web Services account.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.securityhub#AwsCodeBuildProjectVpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the VPC configuration that CodeBuild accesses.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an CodeBuild project.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCodeBuildProjectEnvironment": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The certificate to use with this build project.</p>"
          }
        },
        "ImagePullCredentialsType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of credentials CodeBuild uses to pull images in your build.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CODEBUILD</code> specifies that CodeBuild uses its own credentials. This\n               requires that you modify your ECR repository policy to trust the CodeBuild\n               service principal.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SERVICE_ROLE</code> specifies that CodeBuild uses your build project's\n               service role.</p>\n            </li>\n         </ul>\n         <p>When you use a cross-account or private registry image, you must use\n            <code>SERVICE_ROLE</code> credentials. When you use an CodeBuild curated image, you\n         must use <code>CODEBUILD</code> credentials.</p>"
          }
        },
        "RegistryCredential": {
          "target": "com.amazonaws.securityhub#AwsCodeBuildProjectEnvironmentRegistryCredential",
          "traits": {
[...]
