{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.servicequotas#AWSServiceAccessNotEnabledException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in\n            your organization.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.servicequotas#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient permission to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.servicequotas#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws(-[\\w]+)*:*:.+:[0-9]{12}:.+$"
      }
    },
    "com.amazonaws.servicequotas#AppliedLevelEnum": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        },
        "RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#AppliedValue": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 10000000000
        }
      }
    },
    "com.amazonaws.servicequotas#AssociateServiceQuotaTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#AssociateServiceQuotaTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#AssociateServiceQuotaTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#AWSServiceAccessNotEnabledException"
        },
        {
          "target": "com.amazonaws.servicequotas#DependencyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoAvailableOrganizationException"
        },
        {
          "target": "com.amazonaws.servicequotas#OrganizationNotInAllFeaturesModeException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TemplatesNotAvailableInRegionException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates your quota request template with your organization. When a new\n            Amazon Web Services account is created in your organization, the quota increase requests in the\n            template are automatically applied to the account. You can add a quota increase request\n            for any adjustable quota to your template.</p>"
      }
    },
    "com.amazonaws.servicequotas#AssociateServiceQuotaTemplateRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#AssociateServiceQuotaTemplateResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,128}$"
      }
    },
    "com.amazonaws.servicequotas#CreateSupportCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#CreateSupportCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#CreateSupportCaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#DependencyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Support case for an existing quota increase request. This call only creates \n            a Support case if the request has a <code>Pending</code> status. </p>"
      }
    },
    "com.amazonaws.servicequotas#CreateSupportCaseRequest": {
      "type": "structure",
      "members": {
        "RequestId": {
          "target": "com.amazonaws.servicequotas#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pending quota increase request for which you want to open a Support case. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#CreateSupportCaseResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#CustomerServiceEngagementId": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.servicequotas#DefaultValue": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 10000000000
        }
      }
    },
    "com.amazonaws.servicequotas#DeleteServiceQuotaIncreaseRequestFromTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#DeleteServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#DeleteServiceQuotaIncreaseRequestFromTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#AWSServiceAccessNotEnabledException"
        },
        {
          "target": "com.amazonaws.servicequotas#DependencyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoAvailableOrganizationException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TemplatesNotAvailableInRegionException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the quota increase request for the specified quota from your quota request\n            template.</p>"
      }
    },
    "com.amazonaws.servicequotas#DeleteServiceQuotaIncreaseRequestFromTemplateRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the quota identifier. To find the quota code for a specific \n             quota, use the <a>ListServiceQuotas</a> operation, and look for the\n             <code>QuotaCode</code> response in the output for the quota you want.</p>",
            "smithy.api#required": {}
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.servicequotas#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Web Services Region for which the request was made.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#DeleteServiceQuotaIncreaseRequestFromTemplateResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#DependencyAccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't perform this action because a dependency does not have access.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.servicequotas#DisassociateServiceQuotaTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#DisassociateServiceQuotaTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#DisassociateServiceQuotaTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#AWSServiceAccessNotEnabledException"
        },
        {
          "target": "com.amazonaws.servicequotas#DependencyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoAvailableOrganizationException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceQuotaTemplateNotInUseException"
        },
        {
          "target": "com.amazonaws.servicequotas#TemplatesNotAvailableInRegionException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables your quota request template. After a template is disabled, the quota increase\n            requests in the template are not applied to new Amazon Web Services accounts in your organization.\n            Disabling a quota request template does not apply its quota increase requests.</p>"
      }
    },
    "com.amazonaws.servicequotas#DisassociateServiceQuotaTemplateRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#DisassociateServiceQuotaTemplateResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#ErrorCode": {
      "type": "enum",
      "members": {
        "DEPENDENCY_ACCESS_DENIED_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENCY_ACCESS_DENIED_ERROR"
          }
        },
        "DEPENDENCY_THROTTLING_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENCY_THROTTLING_ERROR"
          }
        },
        "DEPENDENCY_SERVICE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENCY_SERVICE_ERROR"
          }
        },
        "SERVICE_QUOTA_NOT_AVAILABLE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_QUOTA_NOT_AVAILABLE_ERROR"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#ErrorReason": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.servicequotas#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>Service Quotas returns the following error values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> - The caller does not have the\n                    required permissions to complete the action. To resolve the error, you must have\n                    permission to access the Amazon Web Services service or quota.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DEPENDENCY_THROTTLING_ERROR</code> - The Amazon Web Services service is throttling\n                    Service Quotas. </p>\n            </li>\n            <li>\n               <p>\n                  <code>DEPENDENCY_SERVICE_ERROR</code> - The Amazon Web Services service is not\n                    available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> - There was an error in\n                    Service Quotas.</p>\n            </li>\n         </ul>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.servicequotas#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error that explains why an action did not succeed.</p>"
      }
    },
    "com.amazonaws.servicequotas#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#ExcludedLimit": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ /]{1,128}$"
      }
    },
    "com.amazonaws.servicequotas#ExcludedQuotaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicequotas#ExcludedLimit"
      }
    },
    "com.amazonaws.servicequotas#ExcludedService": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ /]{1,128}$"
      }
    },
    "com.amazonaws.servicequotas#ExclusionList": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.servicequotas#ExcludedService"
      },
      "value": {
        "target": "com.amazonaws.servicequotas#ExcludedQuotaList"
      }
    },
    "com.amazonaws.servicequotas#ExclusionQuotaList": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.servicequotas#ExcludedService"
      },
      "value": {
        "target": "com.amazonaws.servicequotas#QuotaInfoList"
      }
    },
    "com.amazonaws.servicequotas#GetAWSDefaultServiceQuota": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#GetAWSDefaultServiceQuotaRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#GetAWSDefaultServiceQuotaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the default value for the specified quota. The default value does not\n            reflect any quota increases.</p>"
      }
    },
    "com.amazonaws.servicequotas#GetAWSDefaultServiceQuotaRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the quota identifier. To find the quota code for a specific \n             quota, use the <a>ListServiceQuotas</a> operation, and look for the\n             <code>QuotaCode</code> response in the output for the quota you want.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#GetAWSDefaultServiceQuotaResponse": {
      "type": "structure",
      "members": {
        "Quota": {
          "target": "com.amazonaws.servicequotas#ServiceQuota",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quota.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#GetAssociationForServiceQuotaTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#GetAssociationForServiceQuotaTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#GetAssociationForServiceQuotaTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#AWSServiceAccessNotEnabledException"
        },
        {
          "target": "com.amazonaws.servicequotas#DependencyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoAvailableOrganizationException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceQuotaTemplateNotInUseException"
        },
        {
          "target": "com.amazonaws.servicequotas#TemplatesNotAvailableInRegionException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the status of the association for the quota request template.</p>"
      }
    },
    "com.amazonaws.servicequotas#GetAssociationForServiceQuotaTemplateRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#GetAssociationForServiceQuotaTemplateResponse": {
      "type": "structure",
      "members": {
        "ServiceQuotaTemplateAssociationStatus": {
          "target": "com.amazonaws.servicequotas#ServiceQuotaTemplateAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The association status. If the status is <code>ASSOCIATED</code>, the quota increase\n            requests in the template are automatically applied to new Amazon Web Services accounts in your\n            organization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#GetAutoManagementConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#GetAutoManagementConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#GetAutoManagementConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about your <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/automatic-management.html\">Service Quotas Automatic Management</a> configuration. Automatic Management monitors your Service Quotas utilization and notifies you before you\n            run out of your allocated quotas.</p>"
      }
    },
    "com.amazonaws.servicequotas#GetAutoManagementConfigurationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#GetAutoManagementConfigurationResponse": {
      "type": "structure",
      "members": {
        "OptInLevel": {
          "target": "com.amazonaws.servicequotas#OptInLevel",
          "traits": {
            "smithy.api#documentation": "<p>Information on the opt-in level for Automatic Management. Only Amazon Web Services account level is supported.</p>"
          }
        },
        "OptInType": {
          "target": "com.amazonaws.servicequotas#OptInType",
          "traits": {
            "smithy.api#documentation": "<p>Information on the opt-in type for Automatic Management. There are two modes: Notify only and Notify and Auto-Adjust. Currently, only\n                                NotifyOnly is available.</p>"
          }
        },
        "NotificationArn": {
          "target": "com.amazonaws.servicequotas#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/notifications/latest/userguide/resource-level-permissions.html#rlp-table\">User Notifications</a> Amazon Resource Name (ARN) for Automatic Management notifications.</p>"
          }
        },
        "OptInStatus": {
          "target": "com.amazonaws.servicequotas#OptInStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status on whether Automatic Management is started or stopped.</p>"
          }
        },
        "ExclusionList": {
          "target": "com.amazonaws.servicequotas#ExclusionQuotaList",
          "traits": {
            "smithy.api#documentation": "<p>List of Amazon Web Services services excluded from Automatic Management.\n            You won't be notified of Service Quotas utilization for Amazon Web Services services added to the\n                Automatic Management exclusion list.\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#GetQuotaUtilizationReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#GetQuotaUtilizationReportRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#GetQuotaUtilizationReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the quota utilization report for your Amazon Web Services account. This operation returns \n            paginated results showing your quota usage across all Amazon Web Services services, sorted by utilization \n            percentage in descending order (highest utilization first).</p>\n         <p>You must first initiate a report using the <code>StartQuotaUtilizationReport</code> \n            operation. The report generation process is asynchronous and may take several seconds to \n            complete. Poll this operation periodically to check the status and retrieve results when \n            the report is ready.</p>\n         <p>Each report contains up to 1,000 quota records per page. Use the <code>NextToken</code> \n            parameter to retrieve additional pages of results. Reports are automatically deleted after \n            15 minutes.</p>"
      }
    },
    "com.amazonaws.servicequotas#GetQuotaUtilizationReportRequest": {
      "type": "structure",
      "members": {
        "ReportId": {
          "target": "com.amazonaws.servicequotas#ReportId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the quota utilization report. This identifier is returned by \n            the <code>StartQuotaUtilizationReport</code> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates the next page of results to retrieve. This token is returned in \n            the response when there are more results available. Omit this parameter for the first request.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicequotas#MaxResultsUtilization",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page. The default value is 1,000 and the \n            maximum allowed value is 1,000.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#GetQuotaUtilizationReportResponse": {
      "type": "structure",
      "members": {
        "ReportId": {
          "target": "com.amazonaws.servicequotas#ReportId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the quota utilization report.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.servicequotas#ReportStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the report generation. Possible values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> - The report generation is in progress. Retry this operation \n                    after a few seconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - The report is being processed. Continue polling until \n                    the status changes to <code>COMPLETED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - The report is ready and quota utilization data is available \n                    in the response.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - The report generation failed. Check the <code>ErrorCode</code> \n                    and <code>ErrorMessage</code> fields for details.</p>\n            </li>\n         </ul>"
          }
        },
        "GeneratedAt": {
          "target": "com.amazonaws.servicequotas#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the report was generated, in ISO 8601 format.</p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.servicequotas#TotalCount",
          "traits": {
            "smithy.api#documentation": "<p>The total number of quotas included in the report across all pages.</p>"
          }
        },
        "Quotas": {
          "target": "com.amazonaws.servicequotas#QuotaUtilizationInfoList",
          "traits": {
            "smithy.api#documentation": "<p>A list of quota utilization records, sorted by utilization percentage in descending order. \n            Each record includes the quota code, service code, service name, quota name, namespace, \n            utilization percentage, default value, applied value, and whether the quota is adjustable. \n            Up to 1,000 records are returned per page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates more results are available. Include this token in the next request \n            to retrieve the next page of results. If this field is not present, you have retrieved all \n            available results.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.servicequotas#ReportErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>An error code indicating the reason for failure when the report status is <code>FAILED</code>. \n            This field is only present when the status is <code>FAILED</code>.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.servicequotas#ReportErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A detailed error message describing the failure when the report status is <code>FAILED</code>. \n            This field is only present when the status is <code>FAILED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#GetRequestedServiceQuotaChange": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#GetRequestedServiceQuotaChangeRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#GetRequestedServiceQuotaChangeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the specified quota increase request.</p>"
      }
    },
    "com.amazonaws.servicequotas#GetRequestedServiceQuotaChangeRequest": {
      "type": "structure",
      "members": {
        "RequestId": {
          "target": "com.amazonaws.servicequotas#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the quota increase request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#GetRequestedServiceQuotaChangeResponse": {
      "type": "structure",
      "members": {
        "RequestedQuota": {
          "target": "com.amazonaws.servicequotas#RequestedServiceQuotaChange",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quota increase request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#GetServiceQuota": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#GetServiceQuotaRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#GetServiceQuotaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the applied quota value for the specified account-level or resource-level\n            quota. For some quotas, only the default values are available. If the applied quota\n            value is not available for a quota, the quota is not retrieved.</p>"
      }
    },
    "com.amazonaws.servicequotas#GetServiceQuotaIncreaseRequestFromTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#GetServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#GetServiceQuotaIncreaseRequestFromTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#AWSServiceAccessNotEnabledException"
        },
        {
          "target": "com.amazonaws.servicequotas#DependencyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoAvailableOrganizationException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TemplatesNotAvailableInRegionException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the specified quota increase request in your quota request\n            template.</p>"
      }
    },
    "com.amazonaws.servicequotas#GetServiceQuotaIncreaseRequestFromTemplateRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the quota identifier. To find the quota code for a specific \n             quota, use the <a>ListServiceQuotas</a> operation, and look for the\n             <code>QuotaCode</code> response in the output for the quota you want.</p>",
            "smithy.api#required": {}
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.servicequotas#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Web Services Region for which you made the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#GetServiceQuotaIncreaseRequestFromTemplateResponse": {
      "type": "structure",
      "members": {
        "ServiceQuotaIncreaseRequestInTemplate": {
          "target": "com.amazonaws.servicequotas#ServiceQuotaIncreaseRequestInTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quota increase request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#GetServiceQuotaRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the quota identifier. To find the quota code for a specific \n             quota, use the <a>ListServiceQuotas</a> operation, and look for the\n             <code>QuotaCode</code> response in the output for the quota you want.</p>",
            "smithy.api#required": {}
          }
        },
        "ContextId": {
          "target": "com.amazonaws.servicequotas#QuotaContextId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource with an Amazon Resource Name (ARN).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#GetServiceQuotaResponse": {
      "type": "structure",
      "members": {
        "Quota": {
          "target": "com.amazonaws.servicequotas#ServiceQuota",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quota.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#GlobalQuota": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.servicequotas#IllegalArgumentException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Invalid input was provided.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.servicequotas#InputTagKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicequotas#TagKey"
      }
    },
    "com.amazonaws.servicequotas#InputTags": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicequotas#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.servicequotas#InvalidPaginationTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Invalid input was provided.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.servicequotas#InvalidResourceStateException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource is in an invalid state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 405
      }
    },
    "com.amazonaws.servicequotas#ListAWSDefaultServiceQuotas": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#ListAWSDefaultServiceQuotasRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#ListAWSDefaultServiceQuotasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#InvalidPaginationTokenException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the default values for the quotas for the specified Amazon Web Services service. A default\n            value does not reflect any quota increases.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Quotas",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicequotas#ListAWSDefaultServiceQuotasRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a value for receiving additional results after you \n    receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> \n    response indicates that more output is available. Set this parameter to the value of the previous \n    call's <code>NextToken</code> response to indicate where the output should continue \n    from.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicequotas#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of results that you want included on each \n    page of the response. If you do not include this parameter, it defaults to a value appropriate \n    to the operation. If additional items exist beyond those included in the current response, the \n    <code>NextToken</code> response element is present and has a value (is not null). Include that \n    value as the <code>NextToken</code> request parameter in the next call to the operation to get \n    the next part of the results.</p>\n         <note>\n            <p>An API operation can return fewer results than the maximum even when there are \n    more results available. You should check <code>NextToken</code> after every operation to ensure \n    that you receive all of the results.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#ListAWSDefaultServiceQuotasResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \n    included in the current response. Use this value in the <code>NextToken</code> request parameter \n    in a subsequent call to the operation to get the next part of the output. You should repeat this \n    until the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        },
        "Quotas": {
          "target": "com.amazonaws.servicequotas#ServiceQuotaListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quotas.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistoryRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#InvalidPaginationTokenException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the quota increase requests for the specified Amazon Web Services service. Filter\n            responses to return quota requests at either the account level, resource level, or all\n            levels. Responses include any open or closed requests within 90 days.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "RequestedQuotas",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistoryByQuota": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistoryByQuotaRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistoryByQuotaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#InvalidPaginationTokenException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the quota increase requests for the specified quota. Filter responses to\n            return quota requests at either the account level, resource level, or all levels.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "RequestedQuotas",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistoryByQuotaRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the quota identifier. To find the quota code for a specific \n             quota, use the <a>ListServiceQuotas</a> operation, and look for the\n             <code>QuotaCode</code> response in the output for the quota you want.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.servicequotas#RequestStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to filter the results to only the requests with the matching\n            status.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a value for receiving additional results after you \n    receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> \n    response indicates that more output is available. Set this parameter to the value of the previous \n    call's <code>NextToken</code> response to indicate where the output should continue \n    from.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicequotas#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of results that you want included on each \n    page of the response. If you do not include this parameter, it defaults to a value appropriate \n    to the operation. If additional items exist beyond those included in the current response, the \n    <code>NextToken</code> response element is present and has a value (is not null). Include that \n    value as the <code>NextToken</code> request parameter in the next call to the operation to get \n    the next part of the results.</p>\n         <note>\n            <p>An API operation can return fewer results than the maximum even when there are \n    more results available. You should check <code>NextToken</code> after every operation to ensure \n    that you receive all of the results.</p>\n         </note>"
          }
        },
        "QuotaRequestedAtLevel": {
          "target": "com.amazonaws.servicequotas#AppliedLevelEnum",
          "traits": {
            "smithy.api#documentation": "<p>Filters the response to return quota requests for the <code>ACCOUNT</code>, <code>RESOURCE</code>, or <code>ALL</code> levels. <code>ACCOUNT</code> is the default.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistoryByQuotaResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \n    included in the current response. Use this value in the <code>NextToken</code> request parameter \n    in a subsequent call to the operation to get the next part of the output. You should repeat this \n    until the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        },
        "RequestedQuotas": {
          "target": "com.amazonaws.servicequotas#RequestedServiceQuotaChangeHistoryListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quota increase requests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistoryRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.servicequotas#RequestStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to filter the results to only the requests with the matching\n            status.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a value for receiving additional results after you \n    receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> \n    response indicates that more output is available. Set this parameter to the value of the previous \n    call's <code>NextToken</code> response to indicate where the output should continue \n    from.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicequotas#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of results that you want included on each \n    page of the response. If you do not include this parameter, it defaults to a value appropriate \n    to the operation. If additional items exist beyond those included in the current response, the \n    <code>NextToken</code> response element is present and has a value (is not null). Include that \n    value as the <code>NextToken</code> request parameter in the next call to the operation to get \n    the next part of the results.</p>\n         <note>\n            <p>An API operation can return fewer results than the maximum even when there are \n    more results available. You should check <code>NextToken</code> after every operation to ensure \n    that you receive all of the results.</p>\n         </note>"
          }
        },
        "QuotaRequestedAtLevel": {
          "target": "com.amazonaws.servicequotas#AppliedLevelEnum",
          "traits": {
            "smithy.api#documentation": "<p>Filters the response to return quota requests for the <code>ACCOUNT</code>, <code>RESOURCE</code>, or <code>ALL</code> levels. <code>ACCOUNT</code> is the default.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#ListRequestedServiceQuotaChangeHistoryResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \n    included in the current response. Use this value in the <code>NextToken</code> request parameter \n    in a subsequent call to the operation to get the next part of the output. You should repeat this \n    until the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        },
        "RequestedQuotas": {
          "target": "com.amazonaws.servicequotas#RequestedServiceQuotaChangeHistoryListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quota increase requests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#ListServiceQuotaIncreaseRequestsInTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#ListServiceQuotaIncreaseRequestsInTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#ListServiceQuotaIncreaseRequestsInTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#AWSServiceAccessNotEnabledException"
        },
        {
          "target": "com.amazonaws.servicequotas#DependencyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoAvailableOrganizationException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TemplatesNotAvailableInRegionException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the quota increase requests in the specified quota request template.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ServiceQuotaIncreaseRequestInTemplateList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicequotas#ListServiceQuotaIncreaseRequestsInTemplateRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.servicequotas#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Web Services Region for which you made the request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a value for receiving additional results after you \n    receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> \n    response indicates that more output is available. Set this parameter to the value of the previous \n    call's <code>NextToken</code> response to indicate where the output should continue \n    from.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicequotas#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of results that you want included on each \n    page of the response. If you do not include this parameter, it defaults to a value appropriate \n    to the operation. If additional items exist beyond those included in the current response, the \n    <code>NextToken</code> response element is present and has a value (is not null). Include that \n    value as the <code>NextToken</code> request parameter in the next call to the operation to get \n    the next part of the results.</p>\n         <note>\n            <p>An API operation can return fewer results than the maximum even when there are \n    more results available. You should check <code>NextToken</code> after every operation to ensure \n    that you receive all of the results.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#ListServiceQuotaIncreaseRequestsInTemplateResponse": {
      "type": "structure",
      "members": {
        "ServiceQuotaIncreaseRequestInTemplateList": {
          "target": "com.amazonaws.servicequotas#ServiceQuotaIncreaseRequestInTemplateList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quota increase requests.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \n    included in the current response. Use this value in the <code>NextToken</code> request parameter \n    in a subsequent call to the operation to get the next part of the output. You should repeat this \n    until the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#ListServiceQuotas": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#ListServiceQuotasRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#ListServiceQuotasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#InvalidPaginationTokenException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the applied quota values for the specified Amazon Web Services service. For some quotas, only\n            the default values are available. If the applied quota value is not available for a\n            quota, the quota is not retrieved. Filter responses to return applied quota values at\n            either the account level, resource level, or all levels.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Quotas",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicequotas#ListServiceQuotasRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a value for receiving additional results after you \n    receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> \n    response indicates that more output is available. Set this parameter to the value of the previous \n    call's <code>NextToken</code> response to indicate where the output should continue \n    from.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicequotas#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of results that you want included on each \n    page of the response. If you do not include this parameter, it defaults to a value appropriate \n    to the operation. If additional items exist beyond those included in the current response, the \n    <code>NextToken</code> response element is present and has a value (is not null). Include that \n    value as the <code>NextToken</code> request parameter in the next call to the operation to get \n    the next part of the results.</p>\n         <note>\n            <p>An API operation can return fewer results than the maximum even when there are \n    more results available. You should check <code>NextToken</code> after every operation to ensure \n    that you receive all of the results.</p>\n         </note>"
          }
        },
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the quota identifier. To find the quota code for a specific \n             quota, use the <a>ListServiceQuotas</a> operation, and look for the\n             <code>QuotaCode</code> response in the output for the quota you want.</p>"
          }
        },
        "QuotaAppliedAtLevel": {
          "target": "com.amazonaws.servicequotas#AppliedLevelEnum",
          "traits": {
            "smithy.api#documentation": "<p>Filters the response to return applied quota values for the <code>ACCOUNT</code>, <code>RESOURCE</code>, or <code>ALL</code> levels. <code>ACCOUNT</code> is the default.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#ListServiceQuotasResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \n    included in the current response. Use this value in the <code>NextToken</code> request parameter \n    in a subsequent call to the operation to get the next part of the output. You should repeat this \n    until the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        },
        "Quotas": {
          "target": "com.amazonaws.servicequotas#ServiceQuotaListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quotas.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#ListServices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#ListServicesRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#ListServicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#InvalidPaginationTokenException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the names and codes for the Amazon Web Services services integrated with Service Quotas.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Services",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicequotas#ListServicesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a value for receiving additional results after you \n    receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> \n    response indicates that more output is available. Set this parameter to the value of the previous \n    call's <code>NextToken</code> response to indicate where the output should continue \n    from.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicequotas#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of results that you want included on each \n    page of the response. If you do not include this parameter, it defaults to a value appropriate \n    to the operation. If additional items exist beyond those included in the current response, the \n    <code>NextToken</code> response element is present and has a value (is not null). Include that \n    value as the <code>NextToken</code> request parameter in the next call to the operation to get \n    the next part of the results.</p>\n         <note>\n            <p>An API operation can return fewer results than the maximum even when there are \n    more results available. You should check <code>NextToken</code> after every operation to ensure \n    that you receive all of the results.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#ListServicesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.servicequotas#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \n    included in the current response. Use this value in the <code>NextToken</code> request parameter \n    in a subsequent call to the operation to get the next part of the output. You should repeat this \n    until the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        },
        "Services": {
          "target": "com.amazonaws.servicequotas#ServiceInfoListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The list of the Amazon Web Services service names and service codes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the tags assigned to the specified applied quota.</p>"
      }
    },
    "com.amazonaws.servicequotas#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.servicequotas#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the applied quota for which you want to list tags.\n            You can get this information by using the Service Quotas console, or by listing the quotas\n            using the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/service-quotas/list-service-quotas.html\">list-service-quotas</a> CLI command or the <a href=\"https://docs.aws.amazon.com/servicequotas/2019-06-24/apireference/API_ListServiceQuotas.html\">ListServiceQuotas</a> Amazon Web Services API operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.servicequotas#OutputTags",
          "traits": {
            "smithy.api#documentation": "<p>A complex data type that contains zero or more tag elements.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.servicequotas#MaxResultsUtilization": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.servicequotas#MetricDimensionName": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#MetricDimensionValue": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#MetricDimensionsMapDefinition": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.servicequotas#MetricDimensionName"
      },
      "value": {
        "target": "com.amazonaws.servicequotas#MetricDimensionValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.servicequotas#MetricInfo": {
      "type": "structure",
      "members": {
        "MetricNamespace": {
          "target": "com.amazonaws.servicequotas#QuotaMetricNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.servicequotas#QuotaMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>"
          }
        },
        "MetricDimensions": {
          "target": "com.amazonaws.servicequotas#MetricDimensionsMapDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The metric dimension. This is a name/value pair that is part of the identity of a\n            metric.</p>"
          }
        },
        "MetricStatisticRecommendation": {
          "target": "com.amazonaws.servicequotas#Statistic",
          "traits": {
            "smithy.api#documentation": "<p>The metric statistic that we recommend you use when determining quota usage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the CloudWatch metric that reflects quota usage.</p>"
      }
    },
    "com.amazonaws.servicequotas#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[a-zA-Z0-9/+]*={0,2}$"
      }
    },
    "com.amazonaws.servicequotas#NoAvailableOrganizationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Web Services account making this call is not a member of an organization.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.servicequotas#NoSuchResourceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.servicequotas#OptInLevel": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#OptInStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#OptInType": {
      "type": "enum",
      "members": {
        "NotifyOnly": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotifyOnly"
          }
        },
        "NotifyAndAdjust": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotifyAndAdjust"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#OrganizationNotInAllFeaturesModeException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The organization that your Amazon Web Services account belongs to is not in All Features\n            mode.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.servicequotas#OutputTags": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicequotas#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.servicequotas#PeriodUnit": {
      "type": "enum",
      "members": {
        "MICROSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MICROSECOND"
          }
        },
        "MILLISECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILLISECOND"
          }
        },
        "SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECOND"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINUTE"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOUR"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#PeriodValue": {
      "type": "integer"
    },
    "com.amazonaws.servicequotas#PutServiceQuotaIncreaseRequestIntoTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#PutServiceQuotaIncreaseRequestIntoTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#PutServiceQuotaIncreaseRequestIntoTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#AWSServiceAccessNotEnabledException"
        },
        {
          "target": "com.amazonaws.servicequotas#DependencyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoAvailableOrganizationException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#QuotaExceededException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TemplatesNotAvailableInRegionException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a quota increase request to your quota request template.</p>"
      }
    },
    "com.amazonaws.servicequotas#PutServiceQuotaIncreaseRequestIntoTemplateRequest": {
      "type": "structure",
      "members": {
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the quota identifier. To find the quota code for a specific \n             quota, use the <a>ListServiceQuotas</a> operation, and look for the\n             <code>QuotaCode</code> response in the output for the quota you want.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.servicequotas#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Web Services Region to which the template applies.</p>",
            "smithy.api#required": {}
          }
        },
        "DesiredValue": {
          "target": "com.amazonaws.servicequotas#QuotaValue",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the new, increased value for the quota.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#PutServiceQuotaIncreaseRequestIntoTemplateResponse": {
      "type": "structure",
      "members": {
        "ServiceQuotaIncreaseRequestInTemplate": {
          "target": "com.amazonaws.servicequotas#ServiceQuotaIncreaseRequestInTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quota increase request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#QuotaAdjustable": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.servicequotas#QuotaArn": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#QuotaCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,128}$"
      }
    },
    "com.amazonaws.servicequotas#QuotaContextId": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#QuotaContextInfo": {
      "type": "structure",
      "members": {
        "ContextScope": {
          "target": "com.amazonaws.servicequotas#QuotaContextScope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the scope to which the quota value is applied. If the scope is <code>RESOURCE</code>, the quota value is applied to each resource in the Amazon Web Services account. If the scope is <code>ACCOUNT</code>, the quota value is applied to the Amazon Web Services account.</p>"
          }
        },
        "ContextScopeType": {
          "target": "com.amazonaws.servicequotas#QuotaContextScopeType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource type to which the quota can be applied.</p>"
          }
        },
        "ContextId": {
          "target": "com.amazonaws.servicequotas#QuotaContextId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource, or resources, to which the quota applies. The value for this field is either an Amazon Resource Name (ARN) or *. If the value is an ARN, the quota value applies to that resource. If the value is *, then the quota value applies to all resources listed in the <code>ContextScopeType</code> field. The quota value applies to all resources for which you haven’t previously applied a quota value, and any new resources you create in your Amazon Web Services account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that describes the context for a resource-level quota. For resource-level quotas, such as <code>Instances per OpenSearch Service Domain</code>, you can apply the quota value at the resource-level for each OpenSearch Service Domain in your Amazon Web Services account. Together the attributes of this structure help you understand how the quota is implemented by Amazon Web Services and how you can manage it. For quotas such as <code>Amazon OpenSearch Service Domains</code> which can be managed at the account-level for each Amazon Web Services Region, the <code>QuotaContext</code> field is absent. See the attribute descriptions below to further understand how to use them.</p>"
      }
    },
    "com.amazonaws.servicequotas#QuotaContextScope": {
      "type": "enum",
      "members": {
        "RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#QuotaContextScopeType": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#QuotaDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 350
        },
        "smithy.api#pattern": "^.{0,350}$"
      }
    },
    "com.amazonaws.servicequotas#QuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicequotas#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded your service quota. To perform the requested action, remove some of\n            the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.servicequotas#QuotaInfo": {
      "type": "structure",
      "members": {
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>The Service Quotas code for the Amazon Web Services service monitored with Automatic Management.</p>"
          }
        },
        "QuotaName": {
          "target": "com.amazonaws.servicequotas#QuotaName",
          "traits": {
            "smithy.api#documentation": "<p>The Service Quotas name for the Amazon Web Services service monitored with Automatic Management.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information on your Service Quotas for <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/automatic-management.html\">Service Quotas Automatic Management</a>. Automatic Management monitors your Service Quotas utilization and notifies you before you\n            run out of your allocated quotas.</p>"
      }
    },
    "com.amazonaws.servicequotas#QuotaInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicequotas#QuotaInfo"
      }
    },
    "com.amazonaws.servicequotas#QuotaMetricName": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#QuotaMetricNamespace": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#QuotaName": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#QuotaPeriod": {
      "type": "structure",
      "members": {
        "PeriodValue": {
          "target": "com.amazonaws.servicequotas#PeriodValue",
          "traits": {
            "smithy.api#documentation": "<p>The value associated with the reported <code>PeriodUnit</code>.</p>"
          }
        },
        "PeriodUnit": {
          "target": "com.amazonaws.servicequotas#PeriodUnit",
          "traits": {
            "smithy.api#documentation": "<p>The time unit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the quota period.</p>"
      }
    },
    "com.amazonaws.servicequotas#QuotaUnit": {
      "type": "string"
    },
    "com.amazonaws.servicequotas#QuotaUtilizationInfo": {
      "type": "structure",
      "members": {
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>The quota identifier.</p>"
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>The service identifier.</p>"
          }
        },
        "QuotaName": {
          "target": "com.amazonaws.servicequotas#QuotaName",
          "traits": {
            "smithy.api#documentation": "<p>The quota name.</p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.servicequotas#QuotaMetricNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric used to track quota usage.</p>"
          }
        },
        "Utilization": {
          "target": "com.amazonaws.servicequotas#UtilizationPct",
          "traits": {
            "smithy.api#documentation": "<p>The utilization percentage of the quota, calculated as (current usage / applied value) × 100. \n            Values range from 0.0 to 100.0 or higher if usage exceeds the quota limit.</p>"
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.servicequotas#DefaultValue",
          "traits": {
            "smithy.api#documentation": "<p>The default value of the quota.</p>"
          }
        },
        "AppliedValue": {
          "target": "com.amazonaws.servicequotas#AppliedValue",
          "traits": {
            "smithy.api#documentation": "<p>The applied value of the quota, which may be higher than the default value if a quota \n            increase has been requested and approved.</p>"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.servicequotas#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The service name.</p>"
          }
        },
        "Adjustable": {
          "target": "com.amazonaws.servicequotas#QuotaAdjustable",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the quota value can be increased.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a quota's utilization, including the quota code, service information, \n            current usage, and applied limits.</p>"
      }
    },
    "com.amazonaws.servicequotas#QuotaUtilizationInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicequotas#QuotaUtilizationInfo"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.servicequotas#QuotaValue": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 10000000000
        }
      }
    },
    "com.amazonaws.servicequotas#ReportErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.servicequotas#ReportErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.servicequotas#ReportId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[0-9a-zA-Z][a-zA-Z0-9-]{1,128}$"
      }
    },
    "com.amazonaws.servicequotas#ReportMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 350
        },
        "smithy.api#pattern": "^.{0,350}$"
      }
    },
    "com.amazonaws.servicequotas#ReportStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#RequestId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[0-9a-zA-Z][a-zA-Z0-9-]{1,128}$"
      }
    },
    "com.amazonaws.servicequotas#RequestServiceQuotaIncrease": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicequotas#RequestServiceQuotaIncreaseRequest"
      },
      "output": {
        "target": "com.amazonaws.servicequotas#RequestServiceQuotaIncreaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicequotas#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#DependencyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.servicequotas#IllegalArgumentException"
        },
        {
          "target": "com.amazonaws.servicequotas#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.servicequotas#NoSuchResourceException"
        },
        {
          "target": "com.amazonaws.servicequotas#QuotaExceededException"
        },
        {
          "target": "com.amazonaws.servicequotas#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.servicequotas#ServiceException"
        },
        {
          "target": "com.amazonaws.servicequotas#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Submits a quota increase request for the specified quota at the account or resource\n            level.</p>"
      }
    },
    "com.amazonaws.servicequotas#RequestServiceQuotaIncreaseRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.servicequotas#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service identifier. To find the service code value \n             for an Amazon Web Services service, use the <a>ListServices</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "QuotaCode": {
          "target": "com.amazonaws.servicequotas#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the quota identifier. To find the quota code for a specific \n             quota, use the <a>ListServiceQuotas</a> operation, and look for the\n             <code>QuotaCode</code> response in the output for the quota you want.</p>",
            "smithy.api#required": {}
          }
        },
        "DesiredValue": {
          "target": "com.amazonaws.servicequotas#QuotaValue",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the new, increased value for the quota.</p>",
            "smithy.api#required": {}
          }
        },
        "ContextId": {
          "target": "com.amazonaws.servicequotas#QuotaContextId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource with an Amazon Resource Name (ARN).</p>"
          }
        },
        "SupportCaseAllowed": {
          "target": "com.amazonaws.servicequotas#SupportCaseAllowed",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if an Amazon Web Services Support case can be opened for the quota increase request. This parameter is optional. </p>\n         <p>By default, this flag is set to <code>True</code> and Amazon Web Services may create a support case for some quota increase requests. \n            You can set this flag to <code>False</code> \n           if you do not want a support case created when you request a quota increase. If you set the flag to <code>False</code>, \n            Amazon Web Services does not open a support case and updates the request status to <code>Not approved</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.servicequotas#RequestServiceQuotaIncreaseResponse": {
      "type": "structure",
      "members": {
        "RequestedQuota": {
          "target": "com.amazonaws.servicequotas#RequestedServiceQuotaChange",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quota increase request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.servicequotas#RequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "CASE_OPENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CASE_OPENED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENIED"
          }
        },
        "CASE_CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CASE_CLOSED"
          }
        },
        "NOT_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPROVED"
          }
        },
        "INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_REQUEST"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#RequestType": {
      "type": "enum",
      "members": {
        "AutomaticManagement": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AutomaticManagement"
          }
        }
      }
    },
    "com.amazonaws.servicequotas#RequestedServiceQuotaChange": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.servicequotas#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier.</p>"
          }
        },
        "RequestType": {
          "target": "com.amazonaws.servicequotas#RequestType",
          "traits": {
            "smithy.api#documentation": "<p>The type of quota increase request. Possible values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AutomaticManagement</code> - The request was automatically created by \n                    Service Quotas Automatic Management when quota utilization approached the limit.</p>\n            </li>\n         </ul>\n         <p>If this field is not present, the request was manually created by a user.</p>"
          }
        },
        "CaseId": {
          "target": "com.amazonaws.servicequotas#CustomerServiceEngagementId",
          "traits": {
            "smithy.api#documentation": "<p>The case ID.</p>"
[...]
