{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.aws242.servicecatalog.v20151210#AWS242ServiceCatalogService": {
      "type": "service",
      "version": "2015-12-10",
      "operations": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptPortfolioShare"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateBudgetWithResource"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociatePrincipalWithPortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateProductWithPortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateServiceActionWithProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateTagOptionWithResource"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#BatchAssociateServiceActionWithProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#BatchDisassociateServiceActionFromProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CopyProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateConstraint"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioShare"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisionedProductPlan"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateServiceAction"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateTagOption"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteConstraint"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioShare"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisionedProductPlan"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteServiceAction"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteTagOption"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeConstraint"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeCopyProductStatus"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribePortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribePortfolioShareStatus"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeProductAsAdmin"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeProductView"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeProvisionedProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeProvisionedProductPlan"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeProvisioningParameters"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeRecord"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeServiceAction"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeServiceActionExecutionParameters"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeTagOption"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DisableAWSOrganizationsAccess"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DisassociateBudgetFromResource"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DisassociatePrincipalFromPortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DisassociateProductFromPortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DisassociateServiceActionFromProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DisassociateTagOptionFromResource"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#EnableAWSOrganizationsAccess"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ExecuteProvisionedProductPlan"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ExecuteProvisionedProductServiceAction"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#GetAWSOrganizationsAccessStatus"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListAcceptedPortfolioShares"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListBudgetsForResource"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListConstraintsForPortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListLaunchPaths"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListOrganizationPortfolioAccess"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListPortfolioAccess"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListPortfolios"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListPortfoliosForProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListPrincipalsForPortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListProvisionedProductPlans"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListProvisioningArtifacts"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListProvisioningArtifactsForServiceAction"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListRecordHistory"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListResourcesForTagOption"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListServiceActions"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListServiceActionsForProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListStackInstancesForProvisionedProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ListTagOptions"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisionProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#RejectPortfolioShare"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ScanProvisionedProducts"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#SearchProducts"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#SearchProductsAsAdmin"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#SearchProvisionedProducts"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#TerminateProvisionedProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#UpdateConstraint"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#UpdatePortfolio"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#UpdateProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#UpdateProvisionedProduct"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#UpdateProvisionedProductProperties"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#UpdateProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#UpdateServiceAction"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#UpdateTagOption"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Service Catalog",
          "arnNamespace": "servicecatalog",
          "cloudFormationName": "ServiceCatalog",
          "cloudTrailEventSource": "v20151210.servicecatalog.aws242.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>AWS Service Catalog</fullname>\n         <p>\n            <a href=\"https://aws.amazon.com/servicecatalog/\">AWS Service Catalog</a> enables\n         organizations to create and manage catalogs of IT services that are approved for use on\n         AWS. To get the most out of this documentation, you should be familiar with the \n         terminology discussed in <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/what-is_concepts.html\">AWS Service Catalog Concepts</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Service Catalog"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AcceptPortfolioShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptPortfolioShareInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptPortfolioShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts an offer to share the specified portfolio.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AcceptPortfolioShareInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": true
          }
        },
        "PortfolioShareType": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#PortfolioShareType",
          "traits": {
            "smithy.api#documentation": "<p>The type of shared portfolios to accept. The default is to accept imported portfolios.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AWS_ORGANIZATIONS</code> - Accept portfolios shared by the master account of your organization.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IMPORTED</code> - Accept imported portfolios.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SERVICECATALOG</code> - Not supported. (Throws ResourceNotFoundException.)</p>\n            </li>\n         </ul>\n         <p>For example, <code>aws servicecatalog accept-portfolio-share --portfolio-id \"port-2qwzkwxt3y5fk\" --portfolio-share-type AWS_ORGANIZATIONS</code>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AcceptPortfolioShareOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AccessLevelFilter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AccessLevelFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The access level.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Account</code> - Filter results based on the account.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Role</code> - Filter results based on the federated role of the specified user.</p>\n            </li>\n            <li>\n               <p>\n                  <code>User</code> - Filter results based on the specified user.</p>\n            </li>\n         </ul>"
          }
        },
        "Value": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AccessLevelFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The user to which the access level applies. The only supported value is <code>Self</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The access level to use to filter results.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AccessLevelFilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Account": {
            "name": "ACCOUNT"
          },
          "Role": {
            "name": "ROLE"
          },
          "User": {
            "name": "USER"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AccessLevelFilterValue": {
      "type": "string"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AccessStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "UNDER_CHANGE": {
            "name": "UNDER_CHANGE"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AccountId"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AddTags": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AllowedValue": {
      "type": "string"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AllowedValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AllowedValue"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#ApproximateCount": {
      "type": "integer"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateBudgetWithResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateBudgetWithResourceInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateBudgetWithResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified budget with the specified resource.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateBudgetWithResourceInput": {
      "type": "structure",
      "members": {
        "BudgetName": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget you want to associate.</p>",
            "smithy.api#required": true
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p> The resource identifier. Either a portfolio-id or a product-id.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateBudgetWithResourceOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociatePrincipalWithPortfolio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociatePrincipalWithPortfolioInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociatePrincipalWithPortfolioOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified principal ARN with the specified portfolio.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociatePrincipalWithPortfolioInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": true
          }
        },
        "PrincipalARN": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#PrincipalARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the principal (IAM user, role, or group).</p>",
            "smithy.api#required": true
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The principal type. The supported value is <code>IAM</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociatePrincipalWithPortfolioOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateProductWithPortfolio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateProductWithPortfolioInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateProductWithPortfolioOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified product with the specified portfolio.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateProductWithPortfolioInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": true
          }
        },
        "ProductId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier.</p>",
            "smithy.api#required": true
          }
        },
        "SourcePortfolioId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source portfolio.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateProductWithPortfolioOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateServiceActionWithProvisioningArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateServiceActionWithProvisioningArtifactInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#AssociateServiceActionWithProvisioningArtifactOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a self-service action with a provisioning artifact.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateServiceActionWithProvisioningArtifactInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "ProductId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.</p>",
            "smithy.api#required": true
          }
        },
        "ProvisioningArtifactId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.</p>",
            "smithy.api#required": true
          }
        },
        "ServiceActionId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateServiceActionWithProvisioningArtifactOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AssociateTagOptionWithResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.library#AssociateTagOptionWithResourceInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.library#AssociateTagOptionWithResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidStateException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#TagOptionNotMigratedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate the specified TagOption with the specified portfolio or product.</p>"
      }
    },
    "com.amazonaws.aws242.library#AssociateTagOptionWithResourceInput": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.aws242.library#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource identifier.</p>",
            "smithy.api#required": true
          }
        },
        "TagOptionId": {
          "target": "com.amazonaws.aws242.library#TagOptionId",
          "traits": {
            "smithy.api#documentation": "<p>The TagOption identifier.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.library#AssociateTagOptionWithResourceOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#AttributeValue": {
      "type": "string"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#BatchAssociateServiceActionWithProvisioningArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#BatchAssociateServiceActionWithProvisioningArtifactInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#BatchAssociateServiceActionWithProvisioningArtifactOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates multiple self-service actions with provisioning artifacts.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#BatchAssociateServiceActionWithProvisioningArtifactInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "ServiceActionAssociations": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ServiceActionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#BatchAssociateServiceActionWithProvisioningArtifactOutput": {
      "type": "structure",
      "members": {
        "FailedServiceActionAssociations": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#FailedServiceActionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains a list of errors, along with information to help you identify the self-service action.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#BatchDisassociateServiceActionFromProvisioningArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#BatchDisassociateServiceActionFromProvisioningArtifactInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#BatchDisassociateServiceActionFromProvisioningArtifactOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a batch of self-service actions from the specified provisioning artifact.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#BatchDisassociateServiceActionFromProvisioningArtifactInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "ServiceActionAssociations": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ServiceActionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#BatchDisassociateServiceActionFromProvisioningArtifactOutput": {
      "type": "structure",
      "members": {
        "FailedServiceActionAssociations": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#FailedServiceActionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains a list of errors, along with information to help you identify the self-service action.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#BudgetDetail": {
      "type": "structure",
      "members": {
        "BudgetName": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the associated budget.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a budget.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#BudgetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#Budgets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#BudgetDetail"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CausingEntity": {
      "type": "string"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#ChangeAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ADD": {
            "name": "ADD"
          },
          "MODIFY": {
            "name": "MODIFY"
          },
          "REMOVE": {
            "name": "REMOVE"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CloudWatchDashboard": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CloudWatchDashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch dashboard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a CloudWatch dashboard.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CloudWatchDashboardName": {
      "type": "string"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CloudWatchDashboards": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CloudWatchDashboard"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2000
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintDetail": {
      "type": "structure",
      "members": {
        "ConstraintId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the constraint.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the constraint.</p>"
          }
        },
        "Owner": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the constraint.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintType",
          "traits": {
            "smithy.api#documentation": "<p>The type of constraint.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>LAUNCH</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOTIFICATION</code>\n               </p>\n            </li>\n            <li>\n               <p>STACKSET</p>\n            </li>\n            <li>\n               <p>\n                  <code>TEMPLATE</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a constraint.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintDetail"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintParameters": {
      "type": "string"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintSummary"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintSummary": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the constraint.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintType",
          "traits": {
            "smithy.api#documentation": "<p>The type of constraint.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>LAUNCH</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOTIFICATION</code>\n               </p>\n            </li>\n            <li>\n               <p>STACKSET</p>\n            </li>\n            <li>\n               <p>\n                  <code>TEMPLATE</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a constraint.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CopyOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CopyTags": {
            "name": "CopyTags"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CopyOptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CopyOption"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CopyProduct": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CopyProductInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CopyProductOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified source product to the specified target product or a new product.</p> \n         <p>You can copy a product to the same account or another account.\n         You can copy a product to the same region or another region.</p>\n         <p>This operation is performed asynchronously. To track the progress of the\n         operation, use <a>DescribeCopyProductStatus</a>.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CopyProductInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "CopyOptions": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#CopyOptions",
          "traits": {
            "smithy.api#documentation": "<p>The copy options. If the value is <code>CopyTags</code>, the tags from the source\n         product are copied to the target product.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token,\n  the same response is returned for each repeated request. </p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "SourceProductArn": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProductArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source product.</p>",
            "smithy.api#required": true
          }
        },
        "SourceProvisioningArtifactIdentifiers": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#SourceProvisioningArtifactProperties",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers of the provisioning artifacts (also known as versions) of the product to copy. \n         By default, all provisioning artifacts are copied.</p>"
          }
        },
        "TargetProductId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the target product. By default, a new product is created.</p>"
          }
        },
        "TargetProductName": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProductViewName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the target product. The default is the name of the source product.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CopyProductOutput": {
      "type": "structure",
      "members": {
        "CopyProductToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to track the progress of the operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CopyProductStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SUCCEEDED": {
            "name": "SUCCEEDED"
          },
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateConstraint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateConstraintInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateConstraintOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a constraint.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateConstraintInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "Description": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the constraint.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token,\n  the same response is returned for each repeated request.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "Parameters": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintParameters",
          "traits": {
            "smithy.api#documentation": "<p>The constraint parameters, in JSON format. The syntax depends on the constraint type as follows:</p>\n         <dl>\n            <dt>LAUNCH</dt>\n            <dd>\n               <p>Specify the <code>RoleArn</code> property as follows:</p>\n               <p>\n                  <code>{\"RoleArn\" : \"arn:aws:iam::123456789012:role/LaunchRole\"}</code>\n               </p>\n               <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p>\n               <p>You also cannot have more than one <code>LAUNCH</code> constraint on a product and portfolio.</p>\n            </dd>\n            <dt>NOTIFICATION</dt>\n            <dd>\n               <p>Specify the <code>NotificationArns</code> property as follows:</p>\n               <p>\n                  <code>{\"NotificationArns\" : [\"arn:aws:sns:us-east-1:123456789012:Topic\"]}</code>\n               </p>\n            </dd>\n            <dt>RESOURCE_UPDATE</dt>\n            <dd>\n               <p>Specify the <code>TagUpdatesOnProvisionedProduct</code> property as follows:</p>\n               <p>\n                  <code>{\"Version\":\"2.0\",\"Properties\":{\"TagUpdateOnProvisionedProduct\":\"String\"}}</code>\n               </p>\n               <p>The <code>TagUpdatesOnProvisionedProduct</code> property accepts a string value of <code>ALLOWED</code> or <code>NOT_ALLOWED</code>.</p>\n            </dd>\n            <dt>STACKSET</dt>\n            <dd>\n               <p>Specify the <code>Parameters</code> property as follows:</p>\n               <p>\n                  <code>{\"Version\": \"String\", \"Properties\": {\"AccountList\": [ \"String\" ], \"RegionList\": [ \"String\" ], \"AdminRole\": \"String\", \"ExecutionRole\": \"String\"}}</code>\n               </p>\n               <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p>\n               <p>You also cannot have more than one <code>STACKSET</code> constraint on a product and portfolio.</p>\n               <p>Products with a <code>STACKSET</code> constraint will launch an AWS CloudFormation stack set.</p>\n            </dd>\n            <dt>TEMPLATE</dt>\n            <dd>\n               <p>Specify the <code>Rules</code> property. For more information, see\n                  <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/reference-template_constraint_rules.html\">Template Constraint Rules</a>.</p>\n            </dd>\n         </dl>",
            "smithy.api#required": true
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": true
          }
        },
        "ProductId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier.</p>",
            "smithy.api#required": true
          }
        },
        "Type": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintType",
          "traits": {
            "smithy.api#documentation": "<p>The type of constraint.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>LAUNCH</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOTIFICATION</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>RESOURCE_UPDATE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>STACKSET</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>TEMPLATE</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateConstraintOutput": {
      "type": "structure",
      "members": {
        "ConstraintDetail": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about the constraint.</p>"
          }
        },
        "ConstraintParameters": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ConstraintParameters",
          "traits": {
            "smithy.api#documentation": "<p>The constraint parameters.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the current request.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#TagOptionNotMigratedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a portfolio.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "Description": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#PortfolioDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the portfolio.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#PortfolioDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for display purposes.</p>",
            "smithy.api#required": true
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token,\n  the same response is returned for each repeated request.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "ProviderName": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the portfolio provider.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AddTags",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioOutput": {
      "type": "structure",
      "members": {
        "PortfolioDetail": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#PortfolioDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about the portfolio.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags associated with the portfolio.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioShareInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidStateException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Shares the specified portfolio with the specified account or organization node. Shares to an organization node can only be created by the master account of an Organization. AWSOrganizationsAccess must be enabled in order to create a portfolio share to an organization node.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioShareInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID. For example, <code>123456789012</code>.</p>"
          }
        },
        "OrganizationNode": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#OrganizationNode",
          "traits": {
            "smithy.api#documentation": "<p>The organization node to whom you are going to share. If <code>OrganizationNode</code> is passed in, <code>PortfolioShare</code> will be created for the node and its children (when applies), and a <code>PortfolioShareToken</code> will be returned in the output in order for the administrator to monitor the status of the <code>PortfolioShare</code> creation process.</p>"
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreatePortfolioShareOutput": {
      "type": "structure",
      "members": {
        "PortfolioShareToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio share unique identifier. This will only be returned if portfolio is shared to an organization node.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateProduct": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateProductInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateProductOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#TagOptionNotMigratedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a product.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateProductInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "Description": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProductViewShortDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the product.</p>"
          }
        },
        "Distributor": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProductViewOwner",
          "traits": {
            "smithy.api#documentation": "<p>The distributor of the product.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token,\n  the same response is returned for each repeated request.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProductViewName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the product.</p>",
            "smithy.api#required": true
          }
        },
        "Owner": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProductViewOwner",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the product.</p>",
            "smithy.api#required": true
          }
        },
        "ProductType": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProductType",
          "traits": {
            "smithy.api#documentation": "<p>The type of product.</p>",
            "smithy.api#required": true
          }
        },
        "ProvisioningArtifactParameters": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisioningArtifactProperties",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the provisioning artifact.</p>",
            "smithy.api#required": true
          }
        },
        "SupportDescription": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#SupportDescription",
          "traits": {
            "smithy.api#documentation": "<p>The support information about the product.</p>"
          }
        },
        "SupportEmail": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#SupportEmail",
          "traits": {
            "smithy.api#documentation": "<p>The contact email for product support.</p>"
          }
        },
        "SupportUrl": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#SupportUrl",
          "traits": {
            "smithy.api#documentation": "<p>The contact URL for product support.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AddTags",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateProductOutput": {
      "type": "structure",
      "members": {
        "ProductViewDetail": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProductViewDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about the product view.</p>"
          }
        },
        "ProvisioningArtifactDetail": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisioningArtifactDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about the provisioning artifact.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags associated with the product.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisionedProductPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisionedProductPlanInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisionedProductPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidStateException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a plan. A plan includes the list of resources to be  \n         created (when provisioning a new product) or modified (when updating a provisioned product)\n         when the plan is executed.</p>\n         <p>You can create one plan per provisioned product. To create a plan for an existing \n         provisioned product, the product status must be AVAILBLE or TAINTED.</p>\n         <p>To view the resource changes in the change set, use <a>DescribeProvisionedProductPlan</a>.\n         To create or modify the provisioned product, use <a>ExecuteProvisionedProductPlan</a>.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisionedProductPlanInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token,\n  the same response is returned for each repeated request.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "NotificationArns": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#NotificationArns",
          "traits": {
            "smithy.api#documentation": "<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related\n         events.</p>"
          }
        },
        "PathId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The path identifier of the product. This value is optional if the product \n         has a default path, and required if the product has more than one path.\n         To list the paths for a product, use <a>ListLaunchPaths</a>.</p>"
          }
        },
        "PlanName": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisionedProductPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the plan.</p>",
            "smithy.api#required": true
          }
        },
        "PlanType": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisionedProductPlanType",
          "traits": {
            "smithy.api#documentation": "<p>The plan type.</p>",
            "smithy.api#required": true
          }
        },
        "ProductId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier.</p>",
            "smithy.api#required": true
          }
        },
        "ProvisionedProductName": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisionedProductName",
          "traits": {
            "smithy.api#documentation": "<p>A user-friendly name for the provisioned product. This value must be\n         unique for the AWS account and cannot be updated after the product is provisioned.</p>",
            "smithy.api#required": true
          }
        },
        "ProvisioningArtifactId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the provisioning artifact.</p>",
            "smithy.api#required": true
          }
        },
        "ProvisioningParameters": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#UpdateProvisioningParameters",
          "traits": {
            "smithy.api#documentation": "<p>Parameters specified by the administrator that are required for provisioning the\n         product.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>\n         <p>If the plan is for an existing provisioned product, the product must have a <code>RESOURCE_UPDATE</code> constraint with <code>TagUpdatesOnProvisionedProduct</code> set to <code>ALLOWED</code> to allow tag updates.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisionedProductPlanOutput": {
      "type": "structure",
      "members": {
        "PlanId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The plan identifier.</p>"
          }
        },
        "PlanName": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisionedProductPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the plan.</p>"
          }
        },
        "ProvisionProductId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier.</p>"
          }
        },
        "ProvisionedProductName": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisionedProductName",
          "traits": {
            "smithy.api#documentation": "<p>The user-friendly name of the provisioned product.</p>"
          }
        },
        "ProvisioningArtifactId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the provisioning artifact.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisioningArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisioningArtifactInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisioningArtifactOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a provisioning artifact (also known as a version) for the specified product.</p> \n         <p>You cannot create a provisioning artifact for a product that was shared with you.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisioningArtifactInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token,\n  the same response is returned for each repeated request.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "Parameters": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisioningArtifactProperties",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the provisioning artifact.</p>",
            "smithy.api#required": true
          }
        },
        "ProductId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateProvisioningArtifactOutput": {
      "type": "structure",
      "members": {
        "Info": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisioningArtifactInfo",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the CloudFormation template in Amazon S3, in JSON format.</p>"
          }
        },
        "ProvisioningArtifactDetail": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ProvisioningArtifactDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about the provisioning artifact.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the current request.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateServiceAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateServiceActionInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#CreateServiceActionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a self-service action.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateServiceActionInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "Definition": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ServiceActionDefinitionMap",
          "traits": {
            "smithy.api#documentation": "<p>The self-service action definition. Can be one of the following:</p>\n         <dl>\n            <dt>Name</dt>\n            <dd>\n               <p>The name of the AWS Systems Manager Document. For example, <code>AWS-RestartEC2Instance</code>.</p>\n            </dd>\n            <dt>Version</dt>\n            <dd>\n               <p>The AWS Systems Manager automation document version. For example, <code>\"Version\": \"1\"</code>\n               </p>\n            </dd>\n            <dt>AssumeRole</dt>\n            <dd>\n               <p>The Amazon Resource Name (ARN) of the role that performs the self-service actions on your behalf. For example, <code>\"AssumeRole\": \"arn:aws:iam::12345678910:role/ActionRole\"</code>.</p>\n               <p>To reuse the provisioned product launch role, set to <code>\"AssumeRole\": \"LAUNCH_ROLE\"</code>.</p>\n            </dd>\n            <dt>Parameters</dt>\n            <dd>\n               <p>The list of parameters in JSON format.</p>\n               <p>For example: <code>[{\\\"Name\\\":\\\"InstanceId\\\",\\\"Type\\\":\\\"TARGET\\\"}]</code>.</p>\n            </dd>\n         </dl>",
            "smithy.api#required": true
          }
        },
        "DefinitionType": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ServiceActionDefinitionType",
          "traits": {
            "smithy.api#documentation": "<p>The service action definition type. For example, <code>SSM_AUTOMATION</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ServiceActionDescription",
          "traits": {
            "smithy.api#documentation": "<p>The self-service action description.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token,\n  the same response is returned for each repeated request.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ServiceActionName",
          "traits": {
            "smithy.api#documentation": "<p>The self-service action name.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateServiceActionOutput": {
      "type": "structure",
      "members": {
        "ServiceActionDetail": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ServiceActionDetail",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the self-service action.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreateTagOption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.library#CreateTagOptionInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.library#CreateTagOptionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#LimitExceededException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#TagOptionNotMigratedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a TagOption.</p>"
      }
    },
    "com.amazonaws.aws242.library#CreateTagOptionInput": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.aws242.library#TagOptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The TagOption key.</p>",
            "smithy.api#required": true
          }
        },
        "Value": {
          "target": "com.amazonaws.aws242.library#TagOptionValue",
          "traits": {
            "smithy.api#documentation": "<p>The TagOption value.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.library#CreateTagOptionOutput": {
      "type": "structure",
      "members": {
        "TagOptionDetail": {
          "target": "com.amazonaws.aws242.library#TagOptionDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about the TagOption.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreatedTime": {
      "type": "timestamp"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#CreationTime": {
      "type": "timestamp"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DefaultValue": {
      "type": "string"
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteConstraint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteConstraintInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteConstraintOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified constraint.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteConstraintInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "Id": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the constraint.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteConstraintOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#TagOptionNotMigratedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified portfolio.</p>\n         <p>You cannot delete a portfolio if it was shared with you or if it has associated \n         products, users, constraints, or shared accounts.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "Id": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioShareInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidStateException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops sharing the specified portfolio with the specified account or organization node. Shares to an organization node can only be deleted by the master account of an Organization.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioShareInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>"
          }
        },
        "OrganizationNode": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#OrganizationNode",
          "traits": {
            "smithy.api#documentation": "<p>The organization node to whom you are going to stop sharing.</p>"
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeletePortfolioShareOutput": {
      "type": "structure",
      "members": {
        "PortfolioShareToken": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio share unique identifier. This will only be returned if delete is made to an organization node.</p>"
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProduct": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProductInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProductOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#TagOptionNotMigratedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified product.</p>\n         <p>You cannot delete a product if it was shared with you or is associated with a portfolio.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProductInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "Id": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProductOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisionedProductPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisionedProductPlanInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisionedProductPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified plan.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisionedProductPlanInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "IgnoreErrors": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#IgnoreErrors",
          "traits": {
            "smithy.api#documentation": "<p>If set to true, AWS Service Catalog stops managing the specified provisioned product even\n         if it cannot delete the underlying resources.</p>"
          }
        },
        "PlanId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The plan identifier.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisionedProductPlanOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisioningArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisioningArtifactInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisioningArtifactOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified provisioning artifact (also known as a version) for the specified product.</p> \n         <p>You cannot delete a provisioning artifact associated with a product that was shared with you. \n         You cannot delete the last provisioning artifact for a product, because a product must have at \n         least one provisioning artifact.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisioningArtifactInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "ProductId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier.</p>",
            "smithy.api#required": true
          }
        },
        "ProvisioningArtifactId": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the provisioning artifact.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteProvisioningArtifactOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteServiceAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteServiceActionInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DeleteServiceActionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a self-service action.</p>"
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteServiceActionInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "Id": {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#Id",
          "traits": {
            "smithy.api#documentation": "<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteServiceActionOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DeleteTagOption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.library#DeleteTagOptionInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.library#DeleteTagOptionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#TagOptionNotMigratedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified TagOption.</p>\n         <p>You cannot delete a TagOption if it is associated with a product or portfolio.</p>"
      }
    },
    "com.amazonaws.aws242.library#DeleteTagOptionInput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.aws242.library#TagOptionId",
          "traits": {
            "smithy.api#documentation": "<p>The TagOption identifier.</p>",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.aws242.library#DeleteTagOptionOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.aws242.servicecatalog.v20151210#DescribeConstraint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeConstraintInput"
      },
      "output": {
        "target": "com.amazonaws.aws242.servicecatalog.v20151210#DescribeConstraintOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.aws242.servicecatalog.v20151210#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified constraint.</p>"
      }
    },
[...]
