{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.servicecatalogappregistry#AWS242AppRegistry": {
      "type": "service",
      "version": "2020-06-24",
      "operations": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#AssociateAttributeGroup"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#AssociateResource"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#CreateApplication"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#CreateAttributeGroup"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#DeleteApplication"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#DeleteAttributeGroup"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#DisassociateAttributeGroup"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#DisassociateResource"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#GetApplication"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#GetAssociatedResource"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#GetAttributeGroup"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#GetConfiguration"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ListApplications"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ListAssociatedAttributeGroups"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ListAssociatedResources"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ListAttributeGroups"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ListAttributeGroupsForApplication"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#PutConfiguration"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#SyncResource"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#TagResource"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#UntagResource"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#UpdateApplication"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#UpdateAttributeGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Service Catalog AppRegistry",
          "arnNamespace": "servicecatalog",
          "cloudFormationName": "ServiceCatalogAppRegistry",
          "cloudTrailEventSource": "servicecatalogappregistry.amazonaws.com",
          "endpointPrefix": "servicecatalog-appregistry"
        },
        "aws.auth#sigv4": {
          "name": "servicecatalog"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p> Amazon Web Services Service Catalog AppRegistry enables organizations to understand the application context of their Amazon Web Services resources. AppRegistry provides a repository of your applications, their resources, and the application metadata that you use within your enterprise.</p>",
        "smithy.api#title": "AWS Service Catalog App Registry",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://servicecatalog-appregistry-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://servicecatalog-appregistry.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://servicecatalog-appregistry-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://servicecatalog-appregistry.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://servicecatalog-appregistry.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-appregistry.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#AppRegistryConfiguration": {
      "type": "structure",
      "members": {
        "tagQueryConfiguration": {
          "target": "com.amazonaws.servicecatalogappregistry#TagQueryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n      Includes the definition \n      of a <code>tagQuery</code>.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Includes all \n      of the Service Catalog AppRegistry settings.\n    </p>"
      }
    },
    "com.amazonaws.servicecatalogappregistry#Application": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the application.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the application across services.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.servicecatalogappregistry#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application. The name must be unique in the region in which you are creating the application.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.servicecatalogappregistry#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.servicecatalogappregistry#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-8601 formatted timestamp of the moment when the application was created.</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.servicecatalogappregistry#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The ISO-8601 formatted timestamp of the moment when the application was last updated.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.servicecatalogappregistry#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs you can use to associate with the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a Amazon Web Services Service Catalog AppRegistry application that is the top-level node in a hierarchy of related\n       cloud resource abstractions.</p>"
      }
    },
    "com.amazonaws.servicecatalogappregistry#ApplicationArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[-a-z]*:servicecatalog:[a-z]{2}(-gov)?-[a-z]+-\\d:\\d{12}:/applications/[a-z0-9]+$"
      }
    },
    "com.amazonaws.servicecatalogappregistry#ApplicationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 26,
          "max": 26
        },
        "smithy.api#pattern": "^[a-z0-9]+$"
      }
    },
    "com.amazonaws.servicecatalogappregistry#ApplicationSpecifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[-.\\w]+$"
      }
    },
    "com.amazonaws.servicecatalogappregistry#ApplicationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalogappregistry#ApplicationSummary"
      }
    },
    "com.amazonaws.servicecatalogappregistry#ApplicationSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the application.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the application across services.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.servicecatalogappregistry#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application. The name must be unique in the region in which you are creating the application.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.servicecatalogappregistry#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.servicecatalogappregistry#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-8601 formatted timestamp of the moment when the application was created.</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.servicecatalogappregistry#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The ISO-8601 formatted timestamp of the moment when the application was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of a Amazon Web Services Service Catalog AppRegistry application.</p>"
      }
    },
    "com.amazonaws.servicecatalogappregistry#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)$"
      }
    },
    "com.amazonaws.servicecatalogappregistry#AssociateAttributeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalogappregistry#AssociateAttributeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.servicecatalogappregistry#AssociateAttributeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#ConflictException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#InternalServerException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an attribute group with an application to augment the application's metadata\n      with the group's attributes. This feature enables applications to be described with\n      user-defined details that are machine-readable, such as third-party integrations.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/applications/{application}/attribute-groups/{attributeGroup}",
          "code": 200
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#AssociateAttributeGroupRequest": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the application.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "attributeGroup": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the attribute group that holds the attributes to describe the application.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#AssociateAttributeGroupResponse": {
      "type": "structure",
      "members": {
        "applicationArn": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) of the application that was augmented with attributes.</p>"
          }
        },
        "attributeGroupArn": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) of the attribute group that contains the application's new attributes.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#AssociateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalogappregistry#AssociateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicecatalogappregistry#AssociateResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#ConflictException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#InternalServerException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a resource with an application. Both the resource and the application can be specified either by ID or name.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/applications/{application}/resources/{resourceType}/{resource}",
          "code": 200
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#AssociateResourceRequest": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the application.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource of which the application will be associated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the resource of which the application will be associated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#AssociateResourceResponse": {
      "type": "structure",
      "members": {
        "applicationArn": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) of the application that was augmented with attributes.</p>"
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.servicecatalogappregistry#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#AssociationCount": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#AttributeGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The globally unique attribute group identifier of the attribute group.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the attribute group across services.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.servicecatalogappregistry#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute group.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.servicecatalogappregistry#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the attribute group that the user provides.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.servicecatalogappregistry#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-8601 formatted timestamp of the moment the attribute group was created.</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.servicecatalogappregistry#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-8601 formatted timestamp of the moment the attribute group was last updated. This time is the same as the creationTime for a newly created attribute group.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.servicecatalogappregistry#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs you can use to associate with the attribute group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a Amazon Web Services Service Catalog AppRegistry attribute group that is rich metadata which describes an application and its components.</p>"
      }
    },
    "com.amazonaws.servicecatalogappregistry#AttributeGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[-a-z]*:servicecatalog:[a-z]{2}(-gov)?-[a-z]+-\\d:\\d{12}:/attribute-groups/[a-z0-9]+$"
      }
    },
    "com.amazonaws.servicecatalogappregistry#AttributeGroupDetails": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the attribute group.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the attribute group.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.servicecatalogappregistry#Name",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated. We recommend not using the field when using ListAttributeGroupsForApplication."
            },
            "smithy.api#documentation": "<important>\n            <p>\n        This field is no longer supported.\n        We recommend\n        you don't use the field when using <code>ListAttributeGroupsForApplication</code>.\n      </p>\n         </important>\n         <p>\n      The name of the attribute group.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The details related to a specific AttributeGroup.\n    </p>"
      }
    },
    "com.amazonaws.servicecatalogappregistry#AttributeGroupDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupDetails"
      }
    },
    "com.amazonaws.servicecatalogappregistry#AttributeGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 26,
          "max": 26
        },
        "smithy.api#pattern": "^[a-z0-9]+$"
      }
    },
    "com.amazonaws.servicecatalogappregistry#AttributeGroupIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupId"
      }
    },
    "com.amazonaws.servicecatalogappregistry#AttributeGroupSpecifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[-.\\w]+$"
      }
    },
    "com.amazonaws.servicecatalogappregistry#AttributeGroupSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupSummary"
      }
    },
    "com.amazonaws.servicecatalogappregistry#AttributeGroupSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The globally unique attribute group identifier of the attribute group.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the attribute group across services.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.servicecatalogappregistry#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute group.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.servicecatalogappregistry#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the attribute group that the user provides.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.servicecatalogappregistry#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-8601 formatted timestamp of the moment the attribute group was created.</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.servicecatalogappregistry#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-8601 formatted timestamp of the moment the attribute group was last updated. This time is the same as the creationTime for a newly created attribute group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of a Amazon Web Services Service Catalog AppRegistry attribute group.</p>"
      }
    },
    "com.amazonaws.servicecatalogappregistry#Attributes": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8000
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+$"
      }
    },
    "com.amazonaws.servicecatalogappregistry#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
      }
    },
    "com.amazonaws.servicecatalogappregistry#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servicecatalogappregistry#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict when processing the request (for example, a resource with the given\n      name already exists within the account).</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.servicecatalogappregistry#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalogappregistry#CreateApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.servicecatalogappregistry#CreateApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#ConflictException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#InternalServerException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new application that is the top-level node in a hierarchy of related cloud resource abstractions.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications",
          "code": 201
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#CreateApplicationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.servicecatalogappregistry#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application. The name must be unique in the region in which you are creating the application.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.servicecatalogappregistry#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.servicecatalogappregistry#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs you can use to associate with the application.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.servicecatalogappregistry#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you provide to ensure idempotency. If you retry a request that\n      completed successfully using the same client token and the same parameters, the retry succeeds\n      without performing any further actions. If you retry a successful request using the same\n      client token, but one or more of the parameters are different, the retry fails.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#CreateApplicationResponse": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.servicecatalogappregistry#Application",
          "traits": {
            "smithy.api#documentation": "<p>Information about the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#CreateAttributeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalogappregistry#CreateAttributeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.servicecatalogappregistry#CreateAttributeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#ConflictException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#InternalServerException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new attribute group as a container for user-defined attributes. This feature\n      enables users to have full control over their cloud application's metadata in a rich\n      machine-readable format to facilitate integration with automated workflows and third-party\n      tools.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/attribute-groups",
          "code": 201
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#CreateAttributeGroupRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.servicecatalogappregistry#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute group.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.servicecatalogappregistry#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the attribute group that the user provides.</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.servicecatalogappregistry#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>A JSON string in the form of nested key-value pairs that represent the attributes in the group and describes an application and its components.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.servicecatalogappregistry#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs you can use to associate with the attribute group.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.servicecatalogappregistry#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you provide to ensure idempotency. If you retry a request that\n      completed successfully using the same client token and the same parameters, the retry succeeds\n      without performing any further actions. If you retry a successful request using the same\n      client token, but one or more of the parameters are different, the retry fails.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#CreateAttributeGroupResponse": {
      "type": "structure",
      "members": {
        "attributeGroup": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroup",
          "traits": {
            "smithy.api#documentation": "<p>Information about the attribute group.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalogappregistry#DeleteApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.servicecatalogappregistry#DeleteApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#InternalServerException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an application that is specified either by its application ID or name. All associated attribute groups and resources must be disassociated from it before deleting an application.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{application}",
          "code": 200
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DeleteApplicationRequest": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the application.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DeleteApplicationResponse": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationSummary",
          "traits": {
            "smithy.api#documentation": "<p>Information about the deleted application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DeleteAttributeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalogappregistry#DeleteAttributeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.servicecatalogappregistry#DeleteAttributeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#InternalServerException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an attribute group, specified either by its attribute group ID or name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/attribute-groups/{attributeGroup}",
          "code": 200
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DeleteAttributeGroupRequest": {
      "type": "structure",
      "members": {
        "attributeGroup": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the attribute group that holds the attributes to describe the application.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DeleteAttributeGroupResponse": {
      "type": "structure",
      "members": {
        "attributeGroup": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupSummary",
          "traits": {
            "smithy.api#documentation": "<p>Information about the deleted attribute group.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DisassociateAttributeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalogappregistry#DisassociateAttributeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.servicecatalogappregistry#DisassociateAttributeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#InternalServerException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates an attribute group from an application to remove the extra attributes contained in the attribute group from the application's metadata. This operation reverts <code>AssociateAttributeGroup</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{application}/attribute-groups/{attributeGroup}",
          "code": 200
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DisassociateAttributeGroupRequest": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the application.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "attributeGroup": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the attribute group that holds the attributes to describe the application.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DisassociateAttributeGroupResponse": {
      "type": "structure",
      "members": {
        "applicationArn": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the application.</p>"
          }
        },
        "attributeGroupArn": {
          "target": "com.amazonaws.servicecatalogappregistry#AttributeGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the attribute group.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DisassociateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalogappregistry#DisassociateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicecatalogappregistry#DisassociateResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#InternalServerException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a resource from application. Both the resource and the application can be specified either by ID or name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{application}/resources/{resourceType}/{resource}",
          "code": 200
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DisassociateResourceRequest": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the application.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that is being disassociated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#DisassociateResourceResponse": {
      "type": "structure",
      "members": {
        "applicationArn": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the application.</p>"
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.servicecatalogappregistry#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) that specifies the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#GetApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalogappregistry#GetApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.servicecatalogappregistry#GetApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalogappregistry#ConflictException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#InternalServerException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.servicecatalogappregistry#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves metadata information about one of your applications. The application can be specified either by its unique ID or by its name (which is unique within one account in one region at a given point in time). Specify by ID in automated workflows if you want to make sure that the exact same application is returned or a <code>ResourceNotFoundException</code> is thrown, avoiding the ABA addressing problem.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{application}",
          "code": 200
        }
      }
    },
    "com.amazonaws.servicecatalogappregistry#GetApplicationRequest": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.servicecatalogappregistry#ApplicationSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the application.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
[...]
