{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.servicediscovery#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.servicediscovery#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.servicediscovery#AttrKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9!-~]+$"
      }
    },
    "com.amazonaws.servicediscovery#AttrValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^([a-zA-Z0-9!-~][ \\ta-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$"
      }
    },
    "com.amazonaws.servicediscovery#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.servicediscovery#AttrKey"
      },
      "value": {
        "target": "com.amazonaws.servicediscovery#AttrValue"
      }
    },
    "com.amazonaws.servicediscovery#Code": {
      "type": "string"
    },
    "com.amazonaws.servicediscovery#CreateHttpNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#CreateHttpNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#CreateHttpNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#NamespaceAlreadyExists"
        },
        {
          "target": "com.amazonaws.servicediscovery#ResourceLimitExceeded"
        },
        {
          "target": "com.amazonaws.servicediscovery#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an HTTP namespace. Service instances registered using an HTTP namespace can be\n   discovered using a <code>DiscoverInstances</code> request but can't be discovered using\n   DNS.</p>\n         <p>For the current quota on the number of namespaces that you can create using the same Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">Cloud Map quotas</a> in the\n    <i>Cloud Map Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.servicediscovery#CreateHttpNamespaceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.servicediscovery#NamespaceNameHttp",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to assign to this namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed\n    <code>CreateHttpNamespace</code> requests to be retried without the risk of running the\n   operation twice. <code>CreatorRequestId</code> can be any unique string (for example, a date/time\n   stamp).</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.servicediscovery#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the namespace.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.servicediscovery#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the namespace. Each tag consists of a key and an optional value that you\n   define. Tags keys can be up to 128 characters in length, and tag values can be up to 256\n                               characters in length.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#CreateHttpNamespaceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.servicediscovery#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully.\n                                To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#CreatePrivateDnsNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#CreatePrivateDnsNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#CreatePrivateDnsNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#NamespaceAlreadyExists"
        },
        {
          "target": "com.amazonaws.servicediscovery#ResourceLimitExceeded"
        },
        {
          "target": "com.amazonaws.servicediscovery#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a private namespace based on DNS, which is visible only inside a specified Amazon\n   VPC. The namespace defines your service naming scheme. For example, if you name your namespace\n    <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for\n   the service is <code>backend.example.com</code>. Service instances that are registered using a\n   private DNS namespace can be discovered using either a <code>DiscoverInstances</code> request or\n   using DNS. For the current quota on the number of namespaces that you can create using the same\n    Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">Cloud Map quotas</a> in the\n    <i>Cloud Map Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.servicediscovery#CreatePrivateDnsNamespaceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.servicediscovery#NamespaceNamePrivate",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to assign to this namespace. When you create a private DNS namespace,\n   Cloud Map automatically creates an Amazon Route 53 private hosted zone that has the same name as the\n   namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed\n    <code>CreatePrivateDnsNamespace</code> requests to be retried without the risk of running the\n   operation twice. <code>CreatorRequestId</code> can be any unique string (for example, a\n   date/timestamp).</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.servicediscovery#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the namespace.</p>"
          }
        },
        "Vpc": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.servicediscovery#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the namespace. Each tag consists of a key and an optional value that you\n   define. Tags keys can be up to 128 characters in length, and tag values can be up to 256\n                               characters in length.</p>"
          }
        },
        "Properties": {
          "target": "com.amazonaws.servicediscovery#PrivateDnsNamespaceProperties",
          "traits": {
            "smithy.api#documentation": "<p>Properties for the\n   private DNS namespace.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#CreatePrivateDnsNamespaceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.servicediscovery#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully.\n                                To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#CreatePublicDnsNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#CreatePublicDnsNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#CreatePublicDnsNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#NamespaceAlreadyExists"
        },
        {
          "target": "com.amazonaws.servicediscovery#ResourceLimitExceeded"
        },
        {
          "target": "com.amazonaws.servicediscovery#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a public namespace based on DNS, which is visible on the internet. The namespace\n   defines your service naming scheme. For example, if you name your namespace\n    <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for\n   the service is <code>backend.example.com</code>. You can discover instances that were registered\n   with a public DNS namespace by using either a <code>DiscoverInstances</code> request or using\n   DNS. For the current quota on the number of namespaces that you can create using the same Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">Cloud Map quotas</a> in the\n    <i>Cloud Map Developer Guide</i>.</p>\n  \n         <important>\n            <p>The <code>CreatePublicDnsNamespace</code> API operation is not supported in the Amazon Web Services GovCloud (US) Regions.</p>\n         </important>"
      }
    },
    "com.amazonaws.servicediscovery#CreatePublicDnsNamespaceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.servicediscovery#NamespaceNamePublic",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to assign to this namespace.</p>\n  \n         <note>\n            <p>Do not include sensitive information in the name. The name is publicly available using DNS queries.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed\n    <code>CreatePublicDnsNamespace</code> requests to be retried without the risk of running the\n   operation twice. <code>CreatorRequestId</code> can be any unique string (for example, a\n   date/timestamp).</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.servicediscovery#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the namespace.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.servicediscovery#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the namespace. Each tag consists of a key and an optional value that you\n   define. Tags keys can be up to 128 characters in length, and tag values can be up to 256\n                               characters in length.</p>"
          }
        },
        "Properties": {
          "target": "com.amazonaws.servicediscovery#PublicDnsNamespaceProperties",
          "traits": {
            "smithy.api#documentation": "<p>Properties for the\n   public DNS namespace.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#CreatePublicDnsNamespaceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.servicediscovery#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the\n   status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#CreateService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#CreateServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#CreateServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#NamespaceNotFound"
        },
        {
          "target": "com.amazonaws.servicediscovery#ResourceLimitExceeded"
        },
        {
          "target": "com.amazonaws.servicediscovery#ServiceAlreadyExists"
        },
        {
          "target": "com.amazonaws.servicediscovery#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a service. This action defines the configuration for the following entities:</p>\n         <ul>\n            <li>\n               <p>For public and private DNS namespaces, one of the following combinations of DNS records in\n     Amazon Route 53:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>A</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>AAAA</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>A</code> and <code>AAAA</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>SRV</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>CNAME</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Optionally, a health check</p>\n            </li>\n         </ul>\n         <p>After you create the service, you can submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request, and\n   Cloud Map uses the values in the configuration to create the specified entities.</p>\n         <p>For the current quota on the number of instances that you can register using the same\n   namespace and using the same service, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">Cloud Map quotas</a> in the\n    <i>Cloud Map Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.servicediscovery#CreateServiceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.servicediscovery#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to assign to the service.</p>\n  \n         <note>\n            <p>Do not include sensitive information in the name if the namespace is discoverable by public DNS queries.</p>\n         </note>\n  \n         <p>If you want Cloud Map to create an <code>SRV</code> record when you register an instance and you're using a\n   system that requires a specific <code>SRV</code> format, such as <a href=\"http://www.haproxy.org/\">HAProxy</a>, specify the following for <code>Name</code>:</p>\n         <ul>\n            <li>\n               <p>Start the name with an underscore (_), such as <code>_exampleservice</code>.</p>\n            </li>\n            <li>\n               <p>End the name with <i>._protocol</i>, such as <code>._tcp</code>.</p>\n            </li>\n         </ul>\n         <p>When you register an instance, Cloud Map creates an <code>SRV</code> record and assigns a\n   name to the record by concatenating the service name and the namespace name (for example,</p>\n         <p>\n            <code>_exampleservice._tcp.example.com</code>).</p>\n         <note>\n            <p>For services that are accessible by DNS queries, you can't create multiple services with\n    names that differ only by case (such as EXAMPLE and example). Otherwise, these services have the\n    same DNS name and can't be distinguished. However, if you use a namespace that's only accessible\n    by API calls, then you can create services that with names that differ only by case.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "NamespaceId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the namespace that you want to use to create the service. The namespace ID must be\n   specified, but it can be specified either here or in the <code>DnsConfig</code> object.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed\n    <code>CreateService</code> requests to be retried without the risk of running the operation\n   twice. <code>CreatorRequestId</code> can be any unique string (for example, a\n   date/timestamp).</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.servicediscovery#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the service.</p>"
          }
        },
        "DnsConfig": {
          "target": "com.amazonaws.servicediscovery#DnsConfig",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the Amazon Route 53 records that you want\n   Cloud Map to create when you register an instance. </p>"
          }
        },
        "HealthCheckConfig": {
          "target": "com.amazonaws.servicediscovery#HealthCheckConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>Public DNS and HTTP namespaces only.</i> A complex type that contains\n   settings for an optional Route 53 health check. If you specify settings for a health check,\n   Cloud Map associates the health check with all the Route 53 DNS records that you specify in\n    <code>DnsConfig</code>.</p>\n         <important>\n            <p>If you specify a health check configuration, you can specify either\n     <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p>\n         </important>\n         <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/cloud-map/pricing/\">Cloud Map Pricing</a>.</p>"
          }
        },
        "HealthCheckCustomConfig": {
          "target": "com.amazonaws.servicediscovery#HealthCheckCustomConfig",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about an optional custom health check.</p>\n         <important>\n            <p>If you specify a health check configuration, you can specify either\n     <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p>\n         </important>\n         <p>You can't add, update, or delete a <code>HealthCheckCustomConfig</code> configuration from\n   an existing service.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.servicediscovery#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the service. Each tag consists of a key and an optional value that you\n   define. Tags keys can be up to 128 characters in length, and tag values can be up to 256\n                               characters in length.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.servicediscovery#ServiceTypeOption",
          "traits": {
            "smithy.api#documentation": "<p>If present, specifies that the service instances are only discoverable using the\n    <code>DiscoverInstances</code> API operation. No DNS records is registered for the service\n   instances. The only valid value is <code>HTTP</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#CreateServiceResponse": {
      "type": "structure",
      "members": {
        "Service": {
          "target": "com.amazonaws.servicediscovery#Service",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the new service.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#CustomHealthNotFound": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicediscovery#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The health check for the instance that's specified by <code>ServiceId</code> and\n    <code>InstanceId</code> isn't a custom health check. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.servicediscovery#CustomHealthStatus": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#DeleteNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#DeleteNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#DeleteNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#NamespaceNotFound"
        },
        {
          "target": "com.amazonaws.servicediscovery#ResourceInUse"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a namespace from the current account. If the namespace still contains one or more\n   services, the request fails.</p>"
      }
    },
    "com.amazonaws.servicediscovery#DeleteNamespaceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the namespace that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#DeleteNamespaceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.servicediscovery#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully.\n                                To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#DeleteService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#DeleteServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#DeleteServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#ResourceInUse"
        },
        {
          "target": "com.amazonaws.servicediscovery#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified service. If the service still contains one or more registered instances,\n   the request fails.</p>"
      }
    },
    "com.amazonaws.servicediscovery#DeleteServiceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#DeleteServiceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.servicediscovery#DeregisterInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#DeregisterInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#DeregisterInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.servicediscovery#InstanceNotFound"
        },
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#ResourceInUse"
        },
        {
          "target": "com.amazonaws.servicediscovery#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the Amazon Route 53 DNS records and health check, if any, that Cloud Map created for the\n   specified instance.</p>"
      }
    },
    "com.amazonaws.servicediscovery#DeregisterInstanceRequest": {
      "type": "structure",
      "members": {
        "ServiceId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that the instance is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The value that you specified for <code>Id</code> in the <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#DeregisterInstanceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.servicediscovery#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully.\n                                To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#DiscoverInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#DiscoverInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#DiscoverInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#NamespaceNotFound"
        },
        {
          "target": "com.amazonaws.servicediscovery#RequestLimitExceeded"
        },
        {
          "target": "com.amazonaws.servicediscovery#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Discovers registered instances for a specified namespace and service. You can use\n    <code>DiscoverInstances</code> to discover instances for any type of namespace. For public and\n   private DNS namespaces, you can also use DNS queries to discover instances.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "data-"
        }
      }
    },
    "com.amazonaws.servicediscovery#DiscoverInstancesRequest": {
      "type": "structure",
      "members": {
        "NamespaceName": {
          "target": "com.amazonaws.servicediscovery#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The <code>HttpName</code> name of the namespace. It's found in the\n    <code>HttpProperties</code> member of the <code>Properties</code> member of the\n   namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.servicediscovery#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service that you specified when you registered the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicediscovery#DiscoverMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of instances that you want Cloud Map to return in the response to a\n    <code>DiscoverInstances</code> request. If you don't specify a value for\n   <code>MaxResults</code>, Cloud Map returns up to 100 instances.</p>"
          }
        },
        "QueryParameters": {
          "target": "com.amazonaws.servicediscovery#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>Filters to scope the results based on custom attributes for the instance (for example,\n    <code>{version=v1, az=1a}</code>). Only instances that match all the specified key-value pairs\n   are returned.</p>"
          }
        },
        "OptionalParameters": {
          "target": "com.amazonaws.servicediscovery#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>Opportunistic filters to scope the results based on custom attributes. If there are\n   instances that match both the filters specified in both the <code>QueryParameters</code>\n   parameter and this parameter, all of these instances are returned. Otherwise, the filters are\n   ignored, and only instances that match the filters that are specified in the\n    <code>QueryParameters</code> parameter are returned.</p>"
          }
        },
        "HealthStatus": {
          "target": "com.amazonaws.servicediscovery#HealthStatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the instances that you want to discover. This parameter is ignored for\n   services that don't have a health check configured, and\n   all\n   instances are returned.</p>\n         <dl>\n            <dt>HEALTHY</dt>\n            <dd>\n               <p>Returns healthy instances.</p>\n            </dd>\n            <dt>UNHEALTHY</dt>\n            <dd>\n               <p>Returns unhealthy instances.</p>\n            </dd>\n            <dt>ALL</dt>\n            <dd>\n               <p>Returns all instances.</p>\n            </dd>\n            <dt>HEALTHY_OR_ELSE_ALL</dt>\n            <dd>\n               <p>Returns healthy instances, unless none are reporting a healthy state. In that case,\n      return all instances. This is also called failing open.</p>\n            </dd>\n         </dl>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#DiscoverInstancesResponse": {
      "type": "structure",
      "members": {
        "Instances": {
          "target": "com.amazonaws.servicediscovery#HttpInstanceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains one <code>HttpInstanceSummary</code> for each registered\n   instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#DiscoverMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.servicediscovery#DnsConfig": {
      "type": "structure",
      "members": {
        "NamespaceId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Top level attribute in request should be used to reference namespace-id"
            },
            "smithy.api#documentation": "<p>\n            <i>Use\n    NamespaceId in <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_Service.html\">Service</a> instead.</i>\n         </p>\n         <p>The ID of the namespace to use for DNS configuration.</p>"
          }
        },
        "RoutingPolicy": {
          "target": "com.amazonaws.servicediscovery#RoutingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The routing policy that you want to apply to all Route 53 DNS records that Cloud Map creates\n   when you register an instance and specify this service.</p>\n         <note>\n            <p>If you want to use this service to register instances that create alias records, specify\n     <code>WEIGHTED</code> for the routing policy.</p>\n         </note>\n         <p>You can specify the following values:</p>\n         <dl>\n            <dt>MULTIVALUE</dt>\n            <dd>\n               <p>If you define a health check for the service and the health check is healthy, Route 53\n      returns the applicable value for up to eight instances.</p>\n               <p>For example, suppose that the service includes configurations for one <code>A</code>\n      record and a health check. You use the service to register 10 instances. Route 53 responds to DNS\n      queries with IP addresses for up to eight healthy instances. If fewer than eight instances are\n      healthy, Route 53 responds to every DNS query with the IP addresses for all of the healthy\n      instances.</p>\n               <p>If you don't define a health check for the service, Route 53 assumes that all instances are\n      healthy and returns the values for up to eight instances.</p>\n               <p>For more information about the multivalue routing policy, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-multivalue\">Multivalue\n       Answer Routing</a> in the <i>Route 53 Developer Guide</i>.</p>\n            </dd>\n            <dt>WEIGHTED</dt>\n            <dd>\n               <p>Route 53 returns the applicable value from one randomly selected instance from among the\n      instances that you registered using the same service. Currently, all records have the same\n      weight, so you can't route more or less traffic to any instances.</p>\n               <p>For example, suppose that the service includes configurations for one <code>A</code>\n      record and a health check. You use the service to register 10 instances. Route 53 responds to DNS\n      queries with the IP address for one randomly selected instance from among the healthy\n      instances. If no instances are healthy, Route 53 responds to DNS queries as if all of the\n      instances were healthy.</p>\n               <p>If you don't define a health check for the service, Route 53 assumes that all instances are\n      healthy and returns the applicable value for one randomly selected instance.</p>\n               <p>For more information about the weighted routing policy, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-weighted\">Weighted\n       Routing</a> in the <i>Route 53 Developer Guide</i>.</p>\n            </dd>\n         </dl>"
          }
        },
        "DnsRecords": {
          "target": "com.amazonaws.servicediscovery#DnsRecordList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains one <code>DnsRecord</code> object for each Route 53 DNS record that you\n   want Cloud Map to create when you register an instance.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the Amazon Route 53 DNS records that you want\n   Cloud Map to create when you register an instance.</p>\n         <important>\n            <p>The record types of a service can only be changed by deleting the service and recreating it\n    with a new <code>Dnsconfig</code>.</p>\n         </important>"
      }
    },
    "com.amazonaws.servicediscovery#DnsConfigChange": {
      "type": "structure",
      "members": {
        "DnsRecords": {
          "target": "com.amazonaws.servicediscovery#DnsRecordList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains one <code>DnsRecord</code> object for each Route 53 record that you want\n   Cloud Map to create when you register an instance.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about changes to the Route 53 DNS records that\n   Cloud Map creates when you register an instance.</p>"
      }
    },
    "com.amazonaws.servicediscovery#DnsProperties": {
      "type": "structure",
      "members": {
        "HostedZoneId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the Route 53 hosted zone that Cloud Map creates when you create a namespace.</p>"
          }
        },
        "SOA": {
          "target": "com.amazonaws.servicediscovery#SOA",
          "traits": {
            "smithy.api#documentation": "<p>Start of Authority (SOA) record for the hosted zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains the ID for the Route 53 hosted zone that Cloud Map creates when\n   you create a namespace.</p>"
      }
    },
    "com.amazonaws.servicediscovery#DnsRecord": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.servicediscovery#RecordType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource, which indicates the type of value that Route 53 returns in response\n   to DNS queries. You can specify values for <code>Type</code> in the following\n   combinations:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>\n                     <code>A</code>\n                  </b>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>AAAA</code>\n                  </b>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>A</code>\n                  </b> and <b>\n                     <code>AAAA</code>\n                  </b>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>SRV</code>\n                  </b>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>CNAME</code>\n                  </b>\n               </p>\n            </li>\n         </ul>\n         <p>If you want Cloud Map to create a Route 53 alias record when you register an instance, specify\n    <code>A</code> or <code>AAAA</code> for <code>Type</code>.</p>\n         <p>You specify other settings, such as the IP address for <code>A</code> and <code>AAAA</code>\n   records, when you register an instance. For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a>.</p>\n         <p>The following values are supported:</p>\n         <dl>\n            <dt>A</dt>\n            <dd>\n               <p>Route 53 returns the IP address of the resource in IPv4 format, such as 192.0.2.44.</p>\n            </dd>\n            <dt>AAAA</dt>\n            <dd>\n               <p>Route 53 returns the IP address of the resource in IPv6 format, such as\n      2001:0db8:85a3:0000:0000:abcd:0001:2345.</p>\n            </dd>\n            <dt>CNAME</dt>\n            <dd>\n               <p>Route 53 returns the domain name of the resource, such as www.example.com. Note the\n      following:</p>\n               <ul>\n                  <li>\n                     <p>You specify the domain name that you want to route traffic to when you register an\n        instance. For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html#cloudmap-RegisterInstance-request-Attributes\">Attributes</a> in the topic <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a>.</p>\n                  </li>\n                  <li>\n                     <p>You must specify <code>WEIGHTED</code> for the value of\n        <code>RoutingPolicy</code>.</p>\n                  </li>\n                  <li>\n                     <p>You can't specify both <code>CNAME</code> for <code>Type</code> and settings for\n         <code>HealthCheckConfig</code>. If you do, the request will fail with an\n         <code>InvalidInput</code> error.</p>\n                  </li>\n               </ul>\n            </dd>\n            <dt>SRV</dt>\n            <dd>\n               <p>Route 53 returns the value for an <code>SRV</code> record. The value for an <code>SRV</code>\n      record uses the following values:</p>\n               <p>\n                  <code>priority weight port service-hostname</code>\n               </p>\n               <p>Note the following about the values:</p>\n               <ul>\n                  <li>\n                     <p>The values of <code>priority</code> and <code>weight</code> are both set to\n         <code>1</code> and can't be changed. </p>\n                  </li>\n                  <li>\n                     <p>The value of <code>port</code> comes from the value that you specify for the\n         <code>AWS_INSTANCE_PORT</code> attribute when you submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a>\n        request.</p>\n                  </li>\n                  <li>\n                     <p>The value of <code>service-hostname</code> is a concatenation of the following\n        values:</p>\n                     <ul>\n                        <li>\n                           <p>The value that you specify for <code>InstanceId</code> when you register an\n          instance.</p>\n                        </li>\n                        <li>\n                           <p>The name of the service.</p>\n                        </li>\n                        <li>\n                           <p>The name of the namespace. </p>\n                        </li>\n                     </ul>\n                     <p>For example, if the value of <code>InstanceId</code> is <code>test</code>, the name of\n        the service is <code>backend</code>, and the name of the namespace is\n         <code>example.com</code>, the value of <code>service-hostname</code> is the\n        following:</p>\n                     <p>\n                        <code>test.backend.example.com</code>\n                     </p>\n                  </li>\n               </ul>\n               <p>If you specify settings for an <code>SRV</code> record, note the following:</p>\n               <ul>\n                  <li>\n                     <p>If you specify values for <code>AWS_INSTANCE_IPV4</code>,\n         <code>AWS_INSTANCE_IPV6</code>, or both in the <code>RegisterInstance</code> request,\n        Cloud Map automatically creates <code>A</code> and/or <code>AAAA</code> records that have\n        the same name as the value of <code>service-hostname</code> in the <code>SRV</code> record.\n        You can ignore these records.</p>\n                  </li>\n                  <li>\n                     <p>If you're using a system that requires a specific <code>SRV</code> format, such as\n        HAProxy, see the <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_CreateService.html#cloudmap-CreateService-request-Name\">Name</a> element in the documentation about <code>CreateService</code> for information\n        about how to specify the correct name format.</p>\n                  </li>\n               </ul>\n            </dd>\n         </dl>",
            "smithy.api#required": {}
          }
        },
        "TTL": {
          "target": "com.amazonaws.servicediscovery#RecordTTL",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that you want DNS resolvers to cache the settings for this\n   record.</p>\n         <note>\n            <p>Alias records don't include a TTL because Route 53 uses the TTL for the Amazon Web Services resource that an\n    alias record routes traffic to. If you include the <code>AWS_ALIAS_DNS_NAME</code> attribute\n    when you submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request, the\n     <code>TTL</code> value is ignored. Always specify a TTL for the service; you can use a service\n    to register instances that create either alias or non-alias records.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the Route 53 DNS records that you want\n   Cloud Map to create when you register an instance.</p>"
      }
    },
    "com.amazonaws.servicediscovery#DnsRecordList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicediscovery#DnsRecord"
      }
    },
    "com.amazonaws.servicediscovery#DuplicateRequest": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicediscovery#ErrorMessage"
        },
        "DuplicateOperationId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the operation that's already in progress.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation is already in progress.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.servicediscovery#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.servicediscovery#FailureThreshold": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.servicediscovery#FilterCondition": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQ"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETWEEN"
          }
        },
        "BEGINS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEGINS_WITH"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.servicediscovery#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicediscovery#FilterValue",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.servicediscovery#GetInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#GetInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#GetInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InstanceNotFound"
        },
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a specified instance.</p>"
      }
    },
    "com.amazonaws.servicediscovery#GetInstanceRequest": {
      "type": "structure",
      "members": {
        "ServiceId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that the instance is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#GetInstanceResponse": {
      "type": "structure",
      "members": {
        "Instance": {
          "target": "com.amazonaws.servicediscovery#Instance",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about a specified instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#GetInstancesHealthStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#GetInstancesHealthStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#GetInstancesHealthStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InstanceNotFound"
        },
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the current health status (<code>Healthy</code>, <code>Unhealthy</code>, or\n    <code>Unknown</code>) of one or more instances that are associated with a specified\n   service.</p>\n         <note>\n            <p>There's a brief delay between when you register an instance and when the health status for\n    the instance is available. </p>\n         </note>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicediscovery#GetInstancesHealthStatusRequest": {
      "type": "structure",
      "members": {
        "ServiceId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that the instance is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "Instances": {
          "target": "com.amazonaws.servicediscovery#InstanceIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains the IDs of all the instances that you want to get the health status\n   for.</p>\n         <p>If you omit <code>Instances</code>, Cloud Map returns the health status for all the\n   instances that are associated with the specified service.</p>\n         <note>\n            <p>To get the IDs for the instances that you've registered by using a specified service,\n    submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_ListInstances.html\">ListInstances</a> request.</p>\n         </note>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicediscovery#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of instances that you want Cloud Map to return in the response to a\n    <code>GetInstancesHealthStatus</code> request. If you don't specify a value for\n    <code>MaxResults</code>, Cloud Map returns up to 100 instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicediscovery#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>GetInstancesHealthStatus</code> request, omit this value.</p>\n         <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit\n   another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify\n   the value of <code>NextToken</code> from the previous response in the next request.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#GetInstancesHealthStatusResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.servicediscovery#InstanceHealthStatusMap",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the IDs and the health status of the instances that you\n   specified in the <code>GetInstancesHealthStatus</code> request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicediscovery#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit\n   another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify\n   the value of <code>NextToken</code> from the previous response in the next request.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#GetNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#GetNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#GetNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#NamespaceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a namespace.</p>"
      }
    },
    "com.amazonaws.servicediscovery#GetNamespaceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the namespace that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#GetNamespaceResponse": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.servicediscovery#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the specified namespace.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#GetOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#GetOperationRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#GetOperationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#OperationNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about any operation that returns an operation ID in the response, such as a\n    <code>CreateService</code> request.</p>\n         <note>\n            <p>To get a list of operations that match specified criteria, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_ListOperations.html\">ListOperations</a>.</p>\n         </note>"
      }
    },
    "com.amazonaws.servicediscovery#GetOperationRequest": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the operation that you want to get more information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#GetOperationResponse": {
      "type": "structure",
      "members": {
        "Operation": {
          "target": "com.amazonaws.servicediscovery#Operation",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#GetService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#GetServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#GetServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the settings for a specified service.</p>"
      }
    },
    "com.amazonaws.servicediscovery#GetServiceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that you want to get settings for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#GetServiceResponse": {
      "type": "structure",
      "members": {
        "Service": {
          "target": "com.amazonaws.servicediscovery#Service",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the service.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#HealthCheckConfig": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.servicediscovery#HealthCheckType",
          "traits": {
            "smithy.api#documentation": "<p>The type of health check that you want to create, which indicates how Route 53 determines\n   whether an endpoint is healthy.</p>\n         <important>\n            <p>You can't change the value of <code>Type</code> after you create a health check.</p>\n         </important>\n         <p>You can create the following types of health checks:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>HTTP</b>: Route 53 tries to establish a TCP connection. If\n     successful, Route 53 submits an HTTP request and waits for an HTTP status code of 200 or greater\n     and less than 400.</p>\n            </li>\n            <li>\n               <p>\n                  <b>HTTPS</b>: Route 53 tries to establish a TCP connection. If\n     successful, Route 53 submits an HTTPS request and waits for an HTTP status code of 200 or greater\n     and less than 400.</p>\n               <important>\n                  <p>If you specify HTTPS for the value of <code>Type</code>, the endpoint must support TLS\n      v1.0 or later.</p>\n               </important>\n            </li>\n            <li>\n               <p>\n                  <b>TCP</b>: Route 53 tries to establish a TCP connection.</p>\n               <p>If you specify <code>TCP</code> for <code>Type</code>, don't specify a value for\n      <code>ResourcePath</code>.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Route 53\n    Determines Whether an Endpoint Is Healthy</a> in the\n   <i>Route 53 Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourcePath": {
          "target": "com.amazonaws.servicediscovery#ResourcePath",
          "traits": {
            "smithy.api#documentation": "<p>The path that you want Route 53 to request when performing health checks. The path can be any\n   value that your endpoint returns an HTTP status code of a 2xx or 3xx format for when the endpoint\n   is healthy. An example file is <code>/docs/route53-health-check.html</code>. Route 53 automatically\n   adds the DNS name for the service. If you don't specify a value for <code>ResourcePath</code>,\n   the default value is <code>/</code>.</p>\n         <p>If you specify <code>TCP</code> for <code>Type</code>, you must <i>not</i>\n   specify a value for <code>ResourcePath</code>.</p>"
          }
        },
        "FailureThreshold": {
          "target": "com.amazonaws.servicediscovery#FailureThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The number of consecutive health checks that an endpoint must pass or fail for Route 53 to\n   change the current status of the endpoint from unhealthy to healthy or the other way around. For\n   more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Route 53\n    Determines Whether an Endpoint Is Healthy</a> in the\n   <i>Route 53 Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <i>Public DNS and HTTP namespaces only.</i> A complex type that contains\n   settings for an optional health check. If you specify settings for a health check, Cloud Map\n   associates the health check with the records that you specify in <code>DnsConfig</code>.</p>\n         <important>\n            <p>If you specify a health check configuration, you can specify either\n     <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p>\n         </important>\n         <p>Health checks are basic Route 53 health checks that monitor an Amazon Web Services endpoint. For\n   information about pricing for health checks, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p>\n         <p>Note the following about configuring health checks.</p>\n         <dl>\n            <dt>A and AAAA records</dt>\n            <dd>\n               <p>If <code>DnsConfig</code> includes configurations for both <code>A</code> and\n       <code>AAAA</code> records, Cloud Map creates a health check that uses the IPv4 address to\n      check the health of the resource. If the endpoint tthat's specified by the IPv4 address is\n      unhealthy, Route 53 considers both the <code>A</code> and <code>AAAA</code> records to be\n      unhealthy. </p>\n            </dd>\n            <dt>CNAME records</dt>\n            <dd>\n               <p>You can't specify settings for <code>HealthCheckConfig</code> when the\n       <code>DNSConfig</code> includes <code>CNAME</code> for the value of <code>Type</code>. If you\n      do, the <code>CreateService</code> request will fail with an <code>InvalidInput</code>\n      error.</p>\n            </dd>\n            <dt>Request interval</dt>\n            <dd>\n               <p>A Route 53 health checker in each health-checking Amazon Web Services Region sends a health check request\n      to an endpoint every 30 seconds. On average, your endpoint receives a health check request\n      about every two seconds. However, health checkers don't coordinate with one another.\n      Therefore, you might sometimes see several requests in one second that's followed by a few\n      seconds with no health checks at all.</p>\n            </dd>\n            <dt>Health checking regions</dt>\n            <dd>\n               <p>Health checkers perform checks from all Route 53 health-checking Regions. For a list of the\n      current Regions, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_HealthCheckConfig.html#Route53-Type-HealthCheckConfig-Regions\">Regions</a>.</p>\n            </dd>\n            <dt>Alias records</dt>\n            <dd>\n               <p>When you register an instance, if you include the <code>AWS_ALIAS_DNS_NAME</code>\n      attribute, Cloud Map creates a Route 53 alias record. Note the following:</p>\n               <ul>\n                  <li>\n                     <p>Route 53 automatically sets <code>EvaluateTargetHealth</code> to true for alias records.\n        When <code>EvaluateTargetHealth</code> is true, the alias record inherits the health of the\n        referenced Amazon Web Services resource. such as an ELB load balancer. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html#Route53-Type-AliasTarget-EvaluateTargetHealth\">EvaluateTargetHealth</a>.</p>\n                  </li>\n                  <li>\n                     <p>If you include <code>HealthCheckConfig</code> and then use the service to register an\n        instance that creates an alias record, Route 53 doesn't create the health check.</p>\n                  </li>\n               </ul>\n            </dd>\n            <dt>Charges for health checks</dt>\n            <dd>\n               <p>Health checks are basic Route 53 health checks that monitor an Amazon Web Services endpoint. For\n      information about pricing for health checks, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p>\n            </dd>\n         </dl>"
      }
    },
    "com.amazonaws.servicediscovery#HealthCheckCustomConfig": {
      "type": "structure",
      "members": {
        "FailureThreshold": {
          "target": "com.amazonaws.servicediscovery#FailureThreshold",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Configurable FailureThreshold of HealthCheckCustomConfig is deprecated.  It will always have value 1."
            },
            "smithy.api#documentation": "<important>\n            <p>This parameter is no longer supported and is always set to 1. Cloud Map waits for\n    approximately 30 seconds after receiving an <code>UpdateInstanceCustomHealthStatus</code>\n    request before changing the status of the service instance.</p>\n         </important>\n         <p>The number of 30-second intervals that you want Cloud Map to wait after receiving an\n    <code>UpdateInstanceCustomHealthStatus</code> request before it changes the health status of a\n   service instance.</p>\n         <p>Sending a second or subsequent <code>UpdateInstanceCustomHealthStatus</code> request with\n   the same value before 30 seconds has passed doesn't accelerate the change. Cloud Map still waits\n    <code>30</code> seconds after the first request to make the change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about an optional custom health check. A custom\n   health check, which requires that you use a third-party health checker to evaluate the health of\n   your resources, is useful in the following circumstances:</p>\n         <ul>\n            <li>\n               <p>You can't use a health check that's defined by <code>HealthCheckConfig</code> because the\n     resource isn't available over the internet. For example, you can use a custom health check when\n     the instance is in an Amazon VPC. (To check the health of resources in a VPC, the health\n     checker must also be in the VPC.)</p>\n            </li>\n            <li>\n               <p>You want to use a third-party health checker regardless of where your resources are\n     located.</p>\n            </li>\n         </ul>\n         <important>\n            <p>If you specify a health check configuration, you can specify either\n     <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p>\n         </important>\n         <p>To change the status of a custom health check, submit an\n    <code>UpdateInstanceCustomHealthStatus</code> request. Cloud Map doesn't monitor the status of the\n   resource, it just keeps a record of the status specified in the most recent\n    <code>UpdateInstanceCustomHealthStatus</code> request.</p>\n         <p>Here's how custom health checks work:</p>\n         <ol>\n            <li>\n               <p>You create a service.</p>\n            </li>\n            <li>\n               <p>You register an instance.</p>\n            </li>\n            <li>\n               <p>You configure a third-party health checker to monitor the resource that's associated with\n     the new instance. </p>\n               <note>\n                  <p>Cloud Map doesn't check the health of the resource directly. </p>\n               </note>\n            </li>\n            <li>\n               <p>The third-party health-checker determines that the resource is unhealthy and notifies your\n     application.</p>\n            </li>\n            <li>\n               <p>Your application submits an <code>UpdateInstanceCustomHealthStatus</code> request.</p>\n            </li>\n            <li>\n               <p>Cloud Map waits for 30 seconds.</p>\n            </li>\n            <li>\n               <p>If another <code>UpdateInstanceCustomHealthStatus</code> request doesn't arrive during\n     that time to change the status back to healthy, Cloud Map stops routing traffic to the\n     resource.</p>\n            </li>\n         </ol>"
      }
    },
    "com.amazonaws.servicediscovery#HealthCheckType": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#HealthStatus": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#HealthStatusFilter": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "HEALTHY_OR_ELSE_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY_OR_ELSE_ALL"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#HttpInstanceSummary": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an instance that matches the values that you specified in the request.</p>"
          }
        },
        "NamespaceName": {
          "target": "com.amazonaws.servicediscovery#NamespaceNameHttp",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code></code>\n            <code></code>\n            <code></code>\n         </p>\n         <p>The <code>HttpName</code> name of the namespace. It's found in the\n    <code>HttpProperties</code> member of the <code>Properties</code> member of the\n   namespace.</p>"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.servicediscovery#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service that you specified when you registered the instance.</p>"
          }
        },
        "HealthStatus": {
          "target": "com.amazonaws.servicediscovery#HealthStatus",
          "traits": {
            "smithy.api#documentation": "<p>If you configured health checking in the service, the current health status of the service\n   instance.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.servicediscovery#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>If you included any attributes when you registered the instance, the values of those\n   attributes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In a response to a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_DiscoverInstances.html\">DiscoverInstances</a> request,\n    <code>HttpInstanceSummary</code> contains information about one instance that matches the values\n   that you specified in the request.</p>"
      }
    },
    "com.amazonaws.servicediscovery#HttpInstanceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicediscovery#HttpInstanceSummary"
      }
    },
    "com.amazonaws.servicediscovery#HttpNamespaceChange": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.servicediscovery#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An updated\n   description for the HTTP namespace.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updated properties\n   for the HTTP namespace.</p>"
      }
    },
    "com.amazonaws.servicediscovery#HttpProperties": {
      "type": "structure",
      "members": {
        "HttpName": {
          "target": "com.amazonaws.servicediscovery#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an HTTP namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains the name of an HTTP namespace.</p>"
      }
    },
    "com.amazonaws.servicediscovery#Instance": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that you want to associate with the instance. Note the following:</p>\n         <ul>\n            <li>\n               <p>If the service that's specified by <code>ServiceId</code> includes settings for an\n      <code>SRV</code> record, the value of <code>InstanceId</code> is automatically included as\n     part of the value for the <code>SRV</code> record. For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_DnsRecord.html#cloudmap-Type-DnsRecord-Type\">DnsRecord >\n      Type</a>.</p>\n            </li>\n            <li>\n               <p>You can use this value to update an existing instance.</p>\n            </li>\n            <li>\n               <p>To register a new instance, you must specify a value that's unique among instances that\n     you register by using the same service. </p>\n            </li>\n            <li>\n               <p>If you specify an existing <code>InstanceId</code> and <code>ServiceId</code>, Cloud Map\n     updates the existing DNS records. If there's also an existing health check, Cloud Map deletes\n     the old health check and creates a new one. </p>\n               <note>\n                  <p>The health check isn't deleted immediately, so it will still appear for a while if you\n      submit a <code>ListHealthChecks</code> request, for example.</p>\n               </note>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed\n    <code>RegisterInstance</code> requests to be retried without the risk of executing the operation\n   twice. You must use a unique <code>CreatorRequestId</code> string every time you submit a\n    <code>RegisterInstance</code> request if you're registering additional instances for the same\n   namespace and service. <code>CreatorRequestId</code> can be any unique string (for example, a\n   date/time stamp).</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.servicediscovery#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>A string map that contains the following information for the service that you specify in\n    <code>ServiceId</code>:</p>\n         <ul>\n            <li>\n               <p>The attributes that apply to the records that are defined in the service. </p>\n            </li>\n            <li>\n               <p>For each attribute, the applicable value.</p>\n            </li>\n         </ul>\n  \n         <note>\n            <p>Do not include sensitive information in the attributes if the namespace is discoverable by public DNS\n    queries.</p>\n         </note>\n  \n         <p>Supported attribute keys include the following:</p>\n         <dl>\n            <dt>AWS_ALIAS_DNS_NAME</dt>\n            <dd>\n               <p>If you want Cloud Map to create a Route 53 alias record that routes traffic to an Elastic Load Balancing\n      load balancer, specify the DNS name that's associated with the load balancer. For information\n      about how to get the DNS name, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html#Route53-Type-AliasTarget-DNSName\">AliasTarget->DNSName</a> in the <i>Route 53 API Reference</i>.</p>\n               <p>Note the following:</p>\n               <ul>\n                  <li>\n                     <p>The configuration for the service that's specified by <code>ServiceId</code> must\n        include settings for an <code>A</code> record, an <code>AAAA</code> record, or both.</p>\n                  </li>\n                  <li>\n                     <p>In the service that's specified by <code>ServiceId</code>, the value of\n         <code>RoutingPolicy</code> must be <code>WEIGHTED</code>.</p>\n                  </li>\n                  <li>\n                     <p>If the service that's specified by <code>ServiceId</code> includes\n         <code>HealthCheckConfig</code> settings, Cloud Map creates the health check, but it won't\n        associate the health check with the alias record.</p>\n                  </li>\n                  <li>\n                     <p>Auto naming currently doesn't support creating alias records that route traffic to\n        Amazon Web Services resources other than ELB load balancers.</p>\n                  </li>\n                  <li>\n                     <p>If you specify a value for <code>AWS_ALIAS_DNS_NAME</code>, don't specify values for\n        any of the <code>AWS_INSTANCE</code> attributes.</p>\n                  </li>\n               </ul>\n            </dd>\n            <dt>AWS_EC2_INSTANCE_ID</dt>\n            <dd>\n               <p>\n                  <i>HTTP namespaces only.</i> The Amazon EC2 instance ID for the instance. The\n       <code>AWS_INSTANCE_IPV4</code> attribute contains the primary private IPv4 address.</p>\n            </dd>\n            <dt>AWS_INIT_HEALTH_STATUS</dt>\n            <dd>\n               <p>If the service configuration includes <code>HealthCheckCustomConfig</code>, you can\n      optionally use <code>AWS_INIT_HEALTH_STATUS</code> to specify the initial status of the custom\n      health check, <code>HEALTHY</code> or <code>UNHEALTHY</code>. If you don't specify a value for\n       <code>AWS_INIT_HEALTH_STATUS</code>, the initial status is <code>HEALTHY</code>.</p>\n            </dd>\n            <dt>AWS_INSTANCE_CNAME</dt>\n            <dd>\n               <p>If the service configuration includes a <code>CNAME</code> record, the domain name that\n      you want Route 53 to return in response to DNS queries (for example,\n      <code>example.com</code>).</p>\n               <p>This value is required if the service specified by <code>ServiceId</code> includes\n      settings for an <code>CNAME</code> record.</p>\n            </dd>\n            <dt>AWS_INSTANCE_IPV4</dt>\n            <dd>\n               <p>If the service configuration includes an <code>A</code> record, the IPv4 address that you\n      want Route 53 to return in response to DNS queries (for example, <code>192.0.2.44</code>).</p>\n               <p>This value is required if the service specified by <code>ServiceId</code> includes\n      settings for an <code>A</code> record. If the service includes settings for an\n       <code>SRV</code> record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>,\n       <code>AWS_INSTANCE_IPV6</code>, or both.</p>\n            </dd>\n            <dt>AWS_INSTANCE_IPV6</dt>\n            <dd>\n               <p>If the service configuration includes an <code>AAAA</code> record, the IPv6 address that\n      you want Route 53 to return in response to DNS queries (for example,\n       <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>).</p>\n               <p>This value is required if the service specified by <code>ServiceId</code> includes\n      settings for an <code>AAAA</code> record. If the service includes settings for an\n       <code>SRV</code> record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>,\n       <code>AWS_INSTANCE_IPV6</code>, or both.</p>\n            </dd>\n            <dt>AWS_INSTANCE_PORT</dt>\n            <dd>\n               <p>If the service includes an <code>SRV</code> record, the value that you want Route 53 to\n      return for the port.</p>\n               <p>If the service includes <code>HealthCheckConfig</code>, the port on the endpoint that you\n      want Route 53 to send requests to. </p>\n               <p>This value is required if you specified settings for an <code>SRV</code> record or a\n      Route 53 health check when you created the service.</p>\n            </dd>\n         </dl>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about an instance that Cloud Map creates when you\n   submit a <code>RegisterInstance</code> request.</p>"
      }
    },
    "com.amazonaws.servicediscovery#InstanceHealthStatusMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.servicediscovery#ResourceId"
      },
      "value": {
        "target": "com.amazonaws.servicediscovery#HealthStatus"
      }
    },
    "com.amazonaws.servicediscovery#InstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^[0-9a-zA-Z_/:.@-]+$"
      }
    },
    "com.amazonaws.servicediscovery#InstanceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicediscovery#ResourceId",
        "traits": {
          "smithy.api#xmlName": "InstanceId"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.servicediscovery#InstanceNotFound": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicediscovery#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>No instance exists with the specified ID, or the instance was recently registered, and\n   information about the instance hasn't propagated yet.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.servicediscovery#InstanceSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for an instance that you created by using a specified service.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.servicediscovery#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>A string map that contains the following information:</p>\n         <ul>\n            <li>\n               <p>The attributes that are associated with the instance. </p>\n            </li>\n            <li>\n               <p>For each attribute, the applicable value.</p>\n            </li>\n         </ul>\n         <p>Supported attribute keys include the following:</p>\n         <dl>\n            <dt>AWS_ALIAS_DNS_NAME</dt>\n            <dd>\n               <p>For an alias record that routes traffic to an Elastic Load Balancing load balancer, the DNS name that's\n      associated with the load balancer. </p>\n            </dd>\n            <dt>AWS_EC2_INSTANCE_ID (HTTP namespaces only)</dt>\n            <dd>\n               <p>The Amazon EC2 instance ID for the instance. When the <code>AWS_EC2_INSTANCE_ID</code>\n      attribute is specified, then the <code>AWS_INSTANCE_IPV4</code> attribute contains the primary\n      private IPv4 address.</p>\n            </dd>\n            <dt>AWS_INIT_HEALTH_STATUS</dt>\n            <dd>\n               <p>If the service configuration includes <code>HealthCheckCustomConfig</code>, you can\n      optionally use <code>AWS_INIT_HEALTH_STATUS</code> to specify the initial status of the custom\n      health check, <code>HEALTHY</code> or <code>UNHEALTHY</code>. If you don't specify a value for\n       <code>AWS_INIT_HEALTH_STATUS</code>, the initial status is <code>HEALTHY</code>.</p>\n            </dd>\n            <dt>AWS_INSTANCE_CNAME</dt>\n            <dd>\n               <p>For a <code>CNAME</code> record, the domain name that Route 53 returns in response to DNS\n      queries (for example, <code>example.com</code>).</p>\n            </dd>\n            <dt>AWS_INSTANCE_IPV4</dt>\n            <dd>\n               <p>For an <code>A</code> record, the IPv4 address that Route 53 returns in response to DNS\n      queries (for example, <code>192.0.2.44</code>).</p>\n            </dd>\n            <dt>AWS_INSTANCE_IPV6</dt>\n            <dd>\n               <p>For an <code>AAAA</code> record, the IPv6 address that Route 53 returns in response to DNS\n      queries (for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>).</p>\n            </dd>\n            <dt>AWS_INSTANCE_PORT</dt>\n            <dd>\n               <p>For an <code>SRV</code> record, the value that Route 53 returns for the port. In addition,\n      if the service includes <code>HealthCheckConfig</code>, the port on the endpoint that Route 53\n      sends requests to.</p>\n            </dd>\n         </dl>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the instances that you registered by using a\n   specified service.</p>"
      }
    },
    "com.amazonaws.servicediscovery#InstanceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicediscovery#InstanceSummary",
        "traits": {
          "smithy.api#xmlName": "InstanceSummary"
        }
      }
    },
    "com.amazonaws.servicediscovery#InvalidInput": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.servicediscovery#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more specified values aren't valid. For example, a required value might be missing, a\n   numeric value might be outside the allowed range, or a string value might exceed length\n   constraints.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.servicediscovery#ListInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#ListInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists summary information about the instances that you registered by using a specified\n   service.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicediscovery#ListInstancesRequest": {
      "type": "structure",
      "members": {
        "ServiceId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that you want to list instances for.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicediscovery#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListInstances</code> request, omit this value.</p>\n         <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit\n   another <code>ListInstances</code> request to get the next group of results. Specify the value of\n    <code>NextToken</code> from the previous response in the next request.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicediscovery#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of instances that you want Cloud Map to return in the response to a\n    <code>ListInstances</code> request. If you don't specify a value for <code>MaxResults</code>,\n   Cloud Map returns up to 100 instances.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "Instances": {
          "target": "com.amazonaws.servicediscovery#InstanceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Summary information about the instances that are associated with the specified\n   service.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicediscovery#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit\n   another <code>ListInstances</code> request to get the next group of results. Specify the value of\n    <code>NextToken</code> from the previous response in the next request.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#ListNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#ListNamespacesRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#ListNamespacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists summary information about the namespaces that were created by the current Amazon Web Services account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicediscovery#ListNamespacesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.servicediscovery#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListNamespaces</code> request, omit this value.</p>\n         <p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code>\n   request to get the next group of results. Specify the value of <code>NextToken</code> from the\n   previous response in the next request.</p>\n         <note>\n            <p>Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the\n    specified criteria. It's possible that no namespaces in the first <code>MaxResults</code>\n    namespaces matched the specified criteria but that subsequent groups of <code>MaxResults</code>\n    namespaces do contain namespaces that match the criteria.</p>\n         </note>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicediscovery#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of namespaces that you want Cloud Map to return in the response to a\n    <code>ListNamespaces</code> request. If you don't specify a value for <code>MaxResults</code>,\n   Cloud Map returns up to 100 namespaces.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.servicediscovery#NamespaceFilters",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains specifications for the namespaces that you want to list.</p>\n         <p>If you specify more than one filter, a namespace must match all filters to be returned by\n    <code>ListNamespaces</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#ListNamespacesResponse": {
      "type": "structure",
      "members": {
        "Namespaces": {
          "target": "com.amazonaws.servicediscovery#NamespaceSummariesList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains one <code>NamespaceSummary</code> object for each namespace that\n   matches the specified filter criteria.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.servicediscovery#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code>\n   request to get the next group of results. Specify the value of <code>NextToken</code> from the\n   previous response in the next request.</p>\n         <note>\n            <p>Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the\n    specified criteria. It's possible that no namespaces in the first <code>MaxResults</code>\n    namespaces matched the specified criteria but that subsequent groups of <code>MaxResults</code>\n    namespaces do contain namespaces that match the criteria.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.servicediscovery#ListOperations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicediscovery#ListOperationsRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists operations that match the criteria that you specify.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.servicediscovery#ListOperationsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.servicediscovery#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListOperations</code> request, omit this value.</p>\n         <p>If the response contains <code>NextToken</code>, submit another <code>ListOperations</code>\n   request to get the next group of results. Specify the value of <code>NextToken</code> from the\n   previous response in the next request.</p>\n         <note>\n            <p>Cloud Map gets <code>MaxResults</code> operations and then filters them based on the\n    specified criteria. It's possible that no operations in the first <code>MaxResults</code>\n    operations matched the specified criteria but that subsequent groups of <code>MaxResults</code>\n    operations do contain operations that match the criteria.</p>\n         </note>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.servicediscovery#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items that you want Cloud Map to return in the response to a\n    <code>ListOperations</code> request. If you don't specify a value for <code>MaxResults</code>,\n   Cloud Map returns up to 100 operations.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.servicediscovery#OperationFilters",
          "traits": {
[...]
