{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.servicecatalog#AWS242ServiceCatalogService": {
      "type": "service",
      "version": "2015-12-10",
      "operations": [
        {
          "target": "com.amazonaws.servicecatalog#AcceptPortfolioShare"
        },
        {
          "target": "com.amazonaws.servicecatalog#AssociateBudgetWithResource"
        },
        {
          "target": "com.amazonaws.servicecatalog#AssociatePrincipalWithPortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#AssociateProductWithPortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#AssociateServiceActionWithProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.servicecatalog#AssociateTagOptionWithResource"
        },
        {
          "target": "com.amazonaws.servicecatalog#BatchAssociateServiceActionWithProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.servicecatalog#BatchDisassociateServiceActionFromProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.servicecatalog#CopyProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#CreateConstraint"
        },
        {
          "target": "com.amazonaws.servicecatalog#CreatePortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#CreatePortfolioShare"
        },
        {
          "target": "com.amazonaws.servicecatalog#CreateProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#CreateProvisionedProductPlan"
        },
        {
          "target": "com.amazonaws.servicecatalog#CreateProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.servicecatalog#CreateServiceAction"
        },
        {
          "target": "com.amazonaws.servicecatalog#CreateTagOption"
        },
        {
          "target": "com.amazonaws.servicecatalog#DeleteConstraint"
        },
        {
          "target": "com.amazonaws.servicecatalog#DeletePortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#DeletePortfolioShare"
        },
        {
          "target": "com.amazonaws.servicecatalog#DeleteProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#DeleteProvisionedProductPlan"
        },
        {
          "target": "com.amazonaws.servicecatalog#DeleteProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.servicecatalog#DeleteServiceAction"
        },
        {
          "target": "com.amazonaws.servicecatalog#DeleteTagOption"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeConstraint"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeCopyProductStatus"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribePortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribePortfolioShares"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribePortfolioShareStatus"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeProductAsAdmin"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeProductView"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeProvisionedProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeProvisionedProductPlan"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeProvisioningParameters"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeRecord"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeServiceAction"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeServiceActionExecutionParameters"
        },
        {
          "target": "com.amazonaws.servicecatalog#DescribeTagOption"
        },
        {
          "target": "com.amazonaws.servicecatalog#DisableAWSOrganizationsAccess"
        },
        {
          "target": "com.amazonaws.servicecatalog#DisassociateBudgetFromResource"
        },
        {
          "target": "com.amazonaws.servicecatalog#DisassociatePrincipalFromPortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#DisassociateProductFromPortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#DisassociateServiceActionFromProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.servicecatalog#DisassociateTagOptionFromResource"
        },
        {
          "target": "com.amazonaws.servicecatalog#EnableAWSOrganizationsAccess"
        },
        {
          "target": "com.amazonaws.servicecatalog#ExecuteProvisionedProductPlan"
        },
        {
          "target": "com.amazonaws.servicecatalog#ExecuteProvisionedProductServiceAction"
        },
        {
          "target": "com.amazonaws.servicecatalog#GetAWSOrganizationsAccessStatus"
        },
        {
          "target": "com.amazonaws.servicecatalog#GetProvisionedProductOutputs"
        },
        {
          "target": "com.amazonaws.servicecatalog#ImportAsProvisionedProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListAcceptedPortfolioShares"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListBudgetsForResource"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListConstraintsForPortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListLaunchPaths"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListOrganizationPortfolioAccess"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListPortfolioAccess"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListPortfolios"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListPortfoliosForProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListPrincipalsForPortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListProvisionedProductPlans"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListProvisioningArtifacts"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListProvisioningArtifactsForServiceAction"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListRecordHistory"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListResourcesForTagOption"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListServiceActions"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListServiceActionsForProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListStackInstancesForProvisionedProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#ListTagOptions"
        },
        {
          "target": "com.amazonaws.servicecatalog#ProvisionProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#RejectPortfolioShare"
        },
        {
          "target": "com.amazonaws.servicecatalog#ScanProvisionedProducts"
        },
        {
          "target": "com.amazonaws.servicecatalog#SearchProducts"
        },
        {
          "target": "com.amazonaws.servicecatalog#SearchProductsAsAdmin"
        },
        {
          "target": "com.amazonaws.servicecatalog#SearchProvisionedProducts"
        },
        {
          "target": "com.amazonaws.servicecatalog#TerminateProvisionedProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#UpdateConstraint"
        },
        {
          "target": "com.amazonaws.servicecatalog#UpdatePortfolio"
        },
        {
          "target": "com.amazonaws.servicecatalog#UpdatePortfolioShare"
        },
        {
          "target": "com.amazonaws.servicecatalog#UpdateProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#UpdateProvisionedProduct"
        },
        {
          "target": "com.amazonaws.servicecatalog#UpdateProvisionedProductProperties"
        },
        {
          "target": "com.amazonaws.servicecatalog#UpdateProvisioningArtifact"
        },
        {
          "target": "com.amazonaws.servicecatalog#UpdateServiceAction"
        },
        {
          "target": "com.amazonaws.servicecatalog#UpdateTagOption"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Service Catalog",
          "arnNamespace": "servicecatalog",
          "cloudFormationName": "ServiceCatalog",
          "cloudTrailEventSource": "servicecatalog.amazonaws.com",
          "endpointPrefix": "servicecatalog"
        },
        "aws.auth#sigv4": {
          "name": "servicecatalog"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Service Catalog</fullname>\n         <p>\n            <a href=\"http://aws.amazon.com/servicecatalog\">Service Catalog</a> enables\n         organizations to create and manage catalogs of IT services that are approved for Amazon Web Services. To\n         get the most out of this documentation, you should be familiar with the terminology\n         discussed in <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/what-is_concepts.html\">Service Catalog\n         Concepts</a>.</p>",
        "smithy.api#title": "AWS Service Catalog",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://servicecatalog-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://servicecatalog-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://servicecatalog.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://servicecatalog.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://servicecatalog.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.servicecatalog#AcceptLanguage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.servicecatalog#AcceptPortfolioShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalog#AcceptPortfolioShareInput"
      },
      "output": {
        "target": "com.amazonaws.servicecatalog#AcceptPortfolioShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalog#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.servicecatalog#LimitExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalog#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts an offer to share the specified portfolio.</p>"
      }
    },
    "com.amazonaws.servicecatalog#AcceptPortfolioShareInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.servicecatalog#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "PortfolioShareType": {
          "target": "com.amazonaws.servicecatalog#PortfolioShareType",
          "traits": {
            "smithy.api#documentation": "<p>The type of shared portfolios to accept. The default is to accept imported portfolios.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AWS_ORGANIZATIONS</code> - Accept portfolios shared by the management account of your\n               organization.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IMPORTED</code> - Accept imported portfolios.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SERVICECATALOG</code> - Not supported. (Throws ResourceNotFoundException.)</p>\n            </li>\n         </ul>\n         <p>For example, <code>aws servicecatalog accept-portfolio-share --portfolio-id \"port-2qwzkwxt3y5fk\" --portfolio-share-type AWS_ORGANIZATIONS</code>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#AcceptPortfolioShareOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.servicecatalog#AccessLevelFilter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.servicecatalog#AccessLevelFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The access level.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Account</code> - Filter results based on the account.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Role</code> - Filter results based on the federated role of the specified user.</p>\n            </li>\n            <li>\n               <p>\n                  <code>User</code> - Filter results based on the specified user.</p>\n            </li>\n         </ul>"
          }
        },
        "Value": {
          "target": "com.amazonaws.servicecatalog#AccessLevelFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The user to which the access level applies. The only supported value is <code>Self</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The access level to use to filter results.</p>"
      }
    },
    "com.amazonaws.servicecatalog#AccessLevelFilterKey": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Account"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Role"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#AccessLevelFilterValue": {
      "type": "string"
    },
    "com.amazonaws.servicecatalog#AccessStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "UNDER_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CHANGE"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.servicecatalog#AccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalog#AccountId"
      }
    },
    "com.amazonaws.servicecatalog#AddTags": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalog#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.servicecatalog#AllowedValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalog#String"
      }
    },
    "com.amazonaws.servicecatalog#ApproximateCount": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.servicecatalog#AssociateBudgetWithResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalog#AssociateBudgetWithResourceInput"
      },
      "output": {
        "target": "com.amazonaws.servicecatalog#AssociateBudgetWithResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalog#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.servicecatalog#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.servicecatalog#LimitExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalog#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified budget with the specified resource.</p>"
      }
    },
    "com.amazonaws.servicecatalog#AssociateBudgetWithResourceInput": {
      "type": "structure",
      "members": {
        "BudgetName": {
          "target": "com.amazonaws.servicecatalog#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget you want to associate.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p> The resource identifier. Either a portfolio-id or a product-id.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#AssociateBudgetWithResourceOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.servicecatalog#AssociatePrincipalWithPortfolio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalog#AssociatePrincipalWithPortfolioInput"
      },
      "output": {
        "target": "com.amazonaws.servicecatalog#AssociatePrincipalWithPortfolioOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalog#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.servicecatalog#LimitExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalog#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified principal ARN with the specified portfolio.</p>\n         <p>If you share the portfolio with principal name sharing enabled, the <code>PrincipalARN</code> association is \n         included in the share. </p>\n         <p>The <code>PortfolioID</code>, <code>PrincipalARN</code>, and <code>PrincipalType</code> parameters are\n      required. </p>\n         <p>You can associate a maximum of 10 Principals with a portfolio using <code>PrincipalType</code> as <code>IAM_PATTERN</code>\n         </p>\n      \n         <note>\n            <p>When you associate a principal with portfolio, a potential privilege escalation path may occur when that portfolio is \n         then shared with other accounts. For a user in a recipient account who is <i>not</i> an Service Catalog Admin, \n         but still has the ability to create Principals (Users/Groups/Roles), that user could create a role that matches a principal \n         name association for the portfolio. Although this user may not know which principal names are associated through \n         Service Catalog, they may be able to guess the user. If this potential escalation path is a concern, then \n         Service Catalog recommends using <code>PrincipalType</code> as <code>IAM</code>. With this configuration, \n         the <code>PrincipalARN</code> must already exist in the recipient account before it can be associated. </p> \n         </note>"
      }
    },
    "com.amazonaws.servicecatalog#AssociatePrincipalWithPortfolioInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.servicecatalog#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "PrincipalARN": {
          "target": "com.amazonaws.servicecatalog#PrincipalARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the principal (IAM user, role, or group). This field allows an ARN with no <code>accountID</code> if \n      <code>PrincipalType</code> is <code>IAM_PATTERN</code>. </p>\n         <p>You can associate multiple <code>IAM</code> patterns even if the account has no principal with that name.\n      This is useful in Principal Name Sharing if you want to share a principal without creating it in the \n      account that owns the portfolio. </p>",
            "smithy.api#required": {}
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.servicecatalog#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The principal type. The supported value is <code>IAM</code> if you use a fully defined ARN, \n         or <code>IAM_PATTERN</code> if you use an ARN with no <code>accountID</code>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#AssociatePrincipalWithPortfolioOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.servicecatalog#AssociateProductWithPortfolio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalog#AssociateProductWithPortfolioInput"
      },
      "output": {
        "target": "com.amazonaws.servicecatalog#AssociateProductWithPortfolioOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalog#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.servicecatalog#LimitExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalog#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified product with the specified portfolio.</p>\n         <p>A delegated admin is authorized to invoke this command.</p>"
      }
    },
    "com.amazonaws.servicecatalog#AssociateProductWithPortfolioInput": {
      "type": "structure",
      "members": {
        "AcceptLanguage": {
          "target": "com.amazonaws.servicecatalog#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        },
        "ProductId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The portfolio identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "SourcePortfolioId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source portfolio.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#AssociateProductWithPortfolioOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.servicecatalog#AssociateServiceActionWithProvisioningArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalog#AssociateServiceActionWithProvisioningArtifactInput"
      },
      "output": {
        "target": "com.amazonaws.servicecatalog#AssociateServiceActionWithProvisioningArtifactOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalog#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.servicecatalog#LimitExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalog#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a self-service action with a provisioning artifact.</p>"
      }
    },
    "com.amazonaws.servicecatalog#AssociateServiceActionWithProvisioningArtifactInput": {
      "type": "structure",
      "members": {
        "ProductId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ProvisioningArtifactId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceActionId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "AcceptLanguage": {
          "target": "com.amazonaws.servicecatalog#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#AssociateServiceActionWithProvisioningArtifactOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.servicecatalog#AssociateTagOptionWithResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalog#AssociateTagOptionWithResourceInput"
      },
      "output": {
        "target": "com.amazonaws.servicecatalog#AssociateTagOptionWithResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalog#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.servicecatalog#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.servicecatalog#InvalidStateException"
        },
        {
          "target": "com.amazonaws.servicecatalog#LimitExceededException"
        },
        {
          "target": "com.amazonaws.servicecatalog#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.servicecatalog#TagOptionNotMigratedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate the specified TagOption with the specified portfolio or product.</p>"
      }
    },
    "com.amazonaws.servicecatalog#AssociateTagOptionWithResourceInput": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.servicecatalog#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "TagOptionId": {
          "target": "com.amazonaws.servicecatalog#TagOptionId",
          "traits": {
            "smithy.api#documentation": "<p>The TagOption identifier.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#AssociateTagOptionWithResourceOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.servicecatalog#AttributeValue": {
      "type": "string"
    },
    "com.amazonaws.servicecatalog#BatchAssociateServiceActionWithProvisioningArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalog#BatchAssociateServiceActionWithProvisioningArtifactInput"
      },
      "output": {
        "target": "com.amazonaws.servicecatalog#BatchAssociateServiceActionWithProvisioningArtifactOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalog#InvalidParametersException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates multiple self-service actions with provisioning artifacts.</p>"
      }
    },
    "com.amazonaws.servicecatalog#BatchAssociateServiceActionWithProvisioningArtifactInput": {
      "type": "structure",
      "members": {
        "ServiceActionAssociations": {
          "target": "com.amazonaws.servicecatalog#ServiceActionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>",
            "smithy.api#required": {}
          }
        },
        "AcceptLanguage": {
          "target": "com.amazonaws.servicecatalog#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#BatchAssociateServiceActionWithProvisioningArtifactOutput": {
      "type": "structure",
      "members": {
        "FailedServiceActionAssociations": {
          "target": "com.amazonaws.servicecatalog#FailedServiceActionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains a list of errors, along with information to help you identify the self-service action.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#BatchDisassociateServiceActionFromProvisioningArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servicecatalog#BatchDisassociateServiceActionFromProvisioningArtifactInput"
      },
      "output": {
        "target": "com.amazonaws.servicecatalog#BatchDisassociateServiceActionFromProvisioningArtifactOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.servicecatalog#InvalidParametersException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a batch of self-service actions from the specified provisioning artifact.</p>"
      }
    },
    "com.amazonaws.servicecatalog#BatchDisassociateServiceActionFromProvisioningArtifactInput": {
      "type": "structure",
      "members": {
        "ServiceActionAssociations": {
          "target": "com.amazonaws.servicecatalog#ServiceActionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>",
            "smithy.api#required": {}
          }
        },
        "AcceptLanguage": {
          "target": "com.amazonaws.servicecatalog#AcceptLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>en</code> - English (default)</p>\n            </li>\n            <li>\n               <p>\n                  <code>jp</code> - Japanese</p>\n            </li>\n            <li>\n               <p>\n                  <code>zh</code> - Chinese</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#BatchDisassociateServiceActionFromProvisioningArtifactOutput": {
      "type": "structure",
      "members": {
        "FailedServiceActionAssociations": {
          "target": "com.amazonaws.servicecatalog#FailedServiceActionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains a list of errors, along with information to help you identify the self-service action.</p>"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.servicecatalog#BudgetDetail": {
      "type": "structure",
      "members": {
        "BudgetName": {
          "target": "com.amazonaws.servicecatalog#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the associated budget.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a budget.</p>"
      }
    },
    "com.amazonaws.servicecatalog#BudgetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.servicecatalog#Budgets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalog#BudgetDetail"
      }
    },
    "com.amazonaws.servicecatalog#CausingEntity": {
      "type": "string"
    },
    "com.amazonaws.servicecatalog#ChangeAction": {
      "type": "enum",
      "members": {
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "MODIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        }
      }
    },
    "com.amazonaws.servicecatalog#CloudWatchDashboard": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.servicecatalog#CloudWatchDashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch dashboard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a CloudWatch dashboard.</p>"
      }
    },
    "com.amazonaws.servicecatalog#CloudWatchDashboardName": {
      "type": "string"
    },
    "com.amazonaws.servicecatalog#CloudWatchDashboards": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalog#CloudWatchDashboard"
      }
    },
    "com.amazonaws.servicecatalog#CodeStarConnectionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1224
        },
        "smithy.api#pattern": "^arn:[a-z0-9][-.a-z0-9]{0,62}:codestar-connections:([a-z0-9][-.a-z0-9]{0,62})?:([a-z0-9][-.a-z0-9]{0,62})?:[^/].{0,1023}$"
      }
    },
    "com.amazonaws.servicecatalog#CodeStarParameters": {
      "type": "structure",
      "members": {
        "ConnectionArn": {
          "target": "com.amazonaws.servicecatalog#CodeStarConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The CodeStar ARN, which is the connection between Service Catalog and the external repository.</p>",
            "smithy.api#required": {}
          }
        },
        "Repository": {
          "target": "com.amazonaws.servicecatalog#Repository",
          "traits": {
            "smithy.api#documentation": "<p>The specific repository where the product’s artifact-to-be-synced resides, formatted as \n         \"Account/Repo.\" </p>",
            "smithy.api#required": {}
          }
        },
        "Branch": {
          "target": "com.amazonaws.servicecatalog#RepositoryBranch",
          "traits": {
            "smithy.api#documentation": "<p>The specific branch where the artifact resides. </p>",
            "smithy.api#required": {}
          }
        },
        "ArtifactPath": {
          "target": "com.amazonaws.servicecatalog#RepositoryArtifactPath",
          "traits": {
            "smithy.api#documentation": "<p>The absolute path wehre the artifact resides within the repo and branch, formatted as \n         \"folder/file.json.\" </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The subtype containing details about the Codestar connection <code>Type</code>. </p>"
      }
    },
    "com.amazonaws.servicecatalog#ConstraintDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2000
        }
      }
    },
    "com.amazonaws.servicecatalog#ConstraintDetail": {
      "type": "structure",
      "members": {
        "ConstraintId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the constraint.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.servicecatalog#ConstraintType",
          "traits": {
            "smithy.api#documentation": "<p>The type of constraint.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>LAUNCH</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOTIFICATION</code>\n               </p>\n            </li>\n            <li>\n               <p>STACKSET</p>\n            </li>\n            <li>\n               <p>\n                  <code>TEMPLATE</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "Description": {
          "target": "com.amazonaws.servicecatalog#ConstraintDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the constraint.</p>"
          }
        },
        "Owner": {
          "target": "com.amazonaws.servicecatalog#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the constraint.</p>"
          }
        },
        "ProductId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the product the constraint applies to. Note that a constraint applies to a specific instance of a product within a certain portfolio.</p>"
          }
        },
        "PortfolioId": {
          "target": "com.amazonaws.servicecatalog#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the portfolio the product resides in. The constraint applies only to the instance of the product that lives within this portfolio.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a constraint.</p>"
      }
    },
    "com.amazonaws.servicecatalog#ConstraintDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servicecatalog#ConstraintDetail"
      }
    },
    "com.amazonaws.servicecatalog#ConstraintParameters": {
      "type": "string"
    },
    "com.amazonaws.servicecatalog#ConstraintSummaries": {
[...]
