{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.bacon.frontend.svc.common#AccountSendingPausedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that email sending is disabled for your entire Amazon SES account.</p>\n        <p>You can enable or disable email sending for your Amazon SES account using <a>UpdateAccountSendingEnabled</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.frontend.svc.common#AddHeaderAction": {
      "type": "structure",
      "members": {
        "HeaderName": {
          "target": "com.amazon.bacon.frontend.svc.common#HeaderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the header to add. Must be between 1 and 50 characters, inclusive, and\n            consist of alphanumeric (a-z, A-Z, 0-9) characters and dashes only.</p>",
            "smithy.api#required": true
          }
        },
        "HeaderValue": {
          "target": "com.amazon.bacon.frontend.svc.common#HeaderValue",
          "traits": {
            "smithy.api#documentation": "<p>Must be less than 2048 characters, and must not contain newline characters (\"\\r\" or\n            \"\\n\").</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When included in a receipt rule, this action adds a header to the received\n            email.</p>\n        <p>For information about adding a header using a receipt rule, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-action-add-header.html\">Amazon SES\n                Developer Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#Address": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#AddressList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.frontend.svc.common#Address"
      }
    },
    "com.amazon.bacon.frontend.svc.common#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazon.bacon.frontend.svc.common#RuleOrRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that a resource could not be created because the resource name already\n            exists.</p>"
          }
        },
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that a resource could not be created because of a naming conflict.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.frontend.svc.common#AmazonResourceName": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#ArrivalDate": {
      "type": "timestamp"
    },
    "com.amazon.bacon.frontend.svc.common#BehaviorOnMXFailure": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "UseDefaultValue": {
            "name": "UseDefaultValue"
          },
          "RejectMessage": {
            "name": "RejectMessage"
          }
        }
      }
    },
    "com.amazon.bacon.frontend.svc.common#Body": {
      "type": "structure",
      "members": {
        "Html": {
          "target": "com.amazon.bacon.frontend.svc.common#Content",
          "traits": {
            "smithy.api#documentation": "<p>The content of the message, in HTML format. Use this for email clients that can\n            process HTML. You can include clickable links, formatted text, and much more in an HTML\n            message.</p>"
          }
        },
        "Text": {
          "target": "com.amazon.bacon.frontend.svc.common#Content",
          "traits": {
            "smithy.api#documentation": "<p>The content of the message, in text format. Use this for text-based email clients, or\n            clients on high-latency networks (such as mobile devices).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the body of the message. You can specify text, HTML, or both. If you use\n            both, then the message should display correctly in the widest variety of email\n            clients.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#BounceAction": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.bacon.frontend.svc.common#BounceMessage",
          "traits": {
            "smithy.api#documentation": "<p>Human-readable text to include in the bounce message.</p>",
            "smithy.api#required": true
          }
        },
        "Sender": {
          "target": "com.amazon.bacon.frontend.svc.common#Address",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the sender of the bounced email. This is the address from which\n            the bounce message will be sent.</p>",
            "smithy.api#required": true
          }
        },
        "SmtpReplyCode": {
          "target": "com.amazon.bacon.frontend.svc.common#BounceSmtpReplyCode",
          "traits": {
            "smithy.api#documentation": "<p>The SMTP reply code, as defined by <a href=\"https://tools.ietf.org/html/rfc5321\">RFC 5321</a>.</p>",
            "smithy.api#required": true
          }
        },
        "StatusCode": {
          "target": "com.amazon.bacon.frontend.svc.common#BounceStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The SMTP enhanced status code, as defined by <a href=\"https://tools.ietf.org/html/rfc3463\">RFC 3463</a>.</p>"
          }
        },
        "TopicArn": {
          "target": "com.amazon.bacon.frontend.svc.common#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the bounce action is\n            taken. An example of an Amazon SNS topic ARN is\n                <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about\n            Amazon SNS topics, see the <a href=\"https://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When included in a receipt rule, this action rejects the received email by returning a\n            bounce response to the sender and, optionally, publishes a notification to Amazon Simple Notification Service\n            (Amazon SNS).</p>\n        <p>For information about sending a bounce message in response to a received email, see\n            the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-action-bounce.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#BounceMessage": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#BounceSmtpReplyCode": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#BounceStatusCode": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#BounceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DoesNotExist": {
            "name": "DoesNotExist"
          },
          "MessageTooLarge": {
            "name": "MessageTooLarge"
          },
          "ExceededQuota": {
            "name": "ExceededQuota"
          },
          "ContentRejected": {
            "name": "ContentRejected"
          },
          "Undefined": {
            "name": "Undefined"
          },
          "TemporaryFailure": {
            "name": "TemporaryFailure"
          }
        }
      }
    },
    "com.amazon.bacon.frontend.svc.common#BouncedRecipientInfo": {
      "type": "structure",
      "members": {
        "BounceType": {
          "target": "com.amazon.bacon.frontend.svc.common#BounceType",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the bounce. You must provide either this parameter or\n                <code>RecipientDsnFields</code>.</p>"
          }
        },
        "Recipient": {
          "target": "com.amazon.bacon.frontend.svc.common#Address",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the recipient of the bounced email.</p>",
            "smithy.api#required": true
          }
        },
        "RecipientArn": {
          "target": "com.amazon.bacon.frontend.svc.common#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is used only for sending authorization. It is the ARN of the identity\n            that is associated with the sending authorization policy that permits you to receive\n            email for the recipient of the bounced email. For more information about sending\n            authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer\n                Guide</a>.</p>"
          }
        },
        "RecipientDsnFields": {
          "target": "com.amazon.bacon.frontend.svc.common#RecipientDsnFields",
          "traits": {
            "smithy.api#documentation": "<p>Recipient-related DSN fields, most of which would normally be filled in automatically\n            when provided with a <code>BounceType</code>. You must provide either this parameter or\n                <code>BounceType</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Recipient-related information to include in the Delivery Status Notification (DSN)\n            when an email that Amazon SES receives on your behalf bounces.</p>\n        <p>For information about receiving email through Amazon SES, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email.html\">Amazon SES\n                Developer Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#BouncedRecipientInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.frontend.svc.common#BouncedRecipientInfo"
      }
    },
    "com.amazon.bacon.frontend.svc.common#BulkEmailDestination": {
      "type": "structure",
      "members": {
        "Destination": {
          "target": "com.amazon.bacon.frontend.svc.common#Destination",
          "traits": {
            "smithy.api#required": true
          }
        },
        "ReplacementTags": {
          "target": "com.amazon.bacon.frontend.svc.common#MessageTagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags, in the form of name/value pairs, to apply to an email that you send\n            using <code>SendBulkTemplatedEmail</code>. Tags correspond to characteristics of the\n            email that you define, so that you can publish email sending events.</p>"
          }
        },
        "ReplacementTemplateData": {
          "target": "com.amazon.bacon.frontend.svc.common#TemplateData",
          "traits": {
            "smithy.api#documentation": "<p>A list of replacement values to apply to the template. This parameter is a JSON\n            object, typically consisting of key-value pairs in which the keys correspond to\n            replacement tags in the email template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An array that contains one or more Destinations, as well as the tags and replacement\n            data associated with each of those Destinations.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#BulkEmailDestinationList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.frontend.svc.common#BulkEmailDestination"
      }
    },
    "com.amazon.bacon.frontend.svc.common#BulkEmailDestinationStatus": {
      "type": "structure",
      "members": {
        "Error": {
          "target": "com.amazon.bacon.frontend.svc.common#Error",
          "traits": {
            "smithy.api#documentation": "<p>A description of an error that prevented a message being sent using the\n                <code>SendBulkTemplatedEmail</code> operation.</p>"
          }
        },
        "MessageId": {
          "target": "com.amazon.bacon.frontend.svc.common#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The unique message identifier returned from the <code>SendBulkTemplatedEmail</code>\n            operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazon.bacon.frontend.svc.common#BulkEmailStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a message sent using the <code>SendBulkTemplatedEmail</code>\n            operation.</p>\n        <p>Possible values for this parameter include:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>Success</code>: Amazon SES accepted the message, and will attempt to deliver\n                    it to the recipients.</p>\n            </li>\n            <li>\n                <p>\n                  <code>MessageRejected</code>: The message was rejected because it contained a\n                    virus.</p>\n            </li>\n            <li>\n                <p>\n                  <code>MailFromDomainNotVerified</code>: The sender's email address or domain\n                    was not verified.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ConfigurationSetDoesNotExist</code>: The configuration set you specified\n                    does not exist.</p>\n            </li>\n            <li>\n                <p>\n                  <code>TemplateDoesNotExist</code>: The template you specified does not\n                    exist.</p>\n            </li>\n            <li>\n                <p>\n                  <code>AccountSuspended</code>: Your account has been shut down because of\n                    issues related to your email sending practices.</p>\n            </li>\n            <li>\n                <p>\n                  <code>AccountThrottled</code>: The number of emails you can send has been\n                    reduced because your account has exceeded its allocated sending limit.</p>\n            </li>\n            <li>\n                <p>\n                  <code>AccountDailyQuotaExceeded</code>: You have reached or exceeded the\n                    maximum number of emails you can send from your account in a 24-hour\n                    period.</p>\n            </li>\n            <li>\n                <p>\n                  <code>InvalidSendingPoolName</code>: The configuration set you specified\n                    refers to an IP pool that does not exist.</p>\n            </li>\n            <li>\n                <p>\n                  <code>AccountSendingPaused</code>: Email sending for the Amazon SES account was\n                    disabled using the <a>UpdateAccountSendingEnabled</a>\n                    operation.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ConfigurationSetSendingPaused</code>: Email sending for this\n                    configuration set was disabled using the <a>UpdateConfigurationSetSendingEnabled</a> operation.</p>\n            </li>\n            <li>\n                <p>\n                  <code>InvalidParameterValue</code>: One or more of the parameters you\n                    specified when calling this operation was invalid. See the error message for\n                    additional information.</p>\n            </li>\n            <li>\n                <p>\n                  <code>TransientFailure</code>: Amazon SES was unable to process your request\n                    because of a temporary issue.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Failed</code>: Amazon SES was unable to process your request. See the error\n                    message for additional information.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the response from the <code>SendBulkTemplatedEmail</code>\n            operation.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#BulkEmailDestinationStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.frontend.svc.common#BulkEmailDestinationStatus"
      }
    },
    "com.amazon.bacon.frontend.svc.common#BulkEmailStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Success": {
            "name": "Success"
          },
          "MessageRejected": {
            "name": "MessageRejected"
          },
          "MailFromDomainNotVerified": {
            "name": "MailFromDomainNotVerified"
          },
          "ConfigurationSetDoesNotExist": {
            "name": "ConfigurationSetDoesNotExist"
          },
          "TemplateDoesNotExist": {
            "name": "TemplateDoesNotExist"
          },
          "AccountSuspended": {
            "name": "AccountSuspended"
          },
          "AccountThrottled": {
            "name": "AccountThrottled"
          },
          "AccountDailyQuotaExceeded": {
            "name": "AccountDailyQuotaExceeded"
          },
          "InvalidSendingPoolName": {
            "name": "InvalidSendingPoolName"
          },
          "AccountSendingPaused": {
            "name": "AccountSendingPaused"
          },
          "ConfigurationSetSendingPaused": {
            "name": "ConfigurationSetSendingPaused"
          },
          "InvalidParameterValue": {
            "name": "InvalidParameterValue"
          },
          "TransientFailure": {
            "name": "TransientFailure"
          },
          "Failed": {
            "name": "Failed"
          }
        }
      }
    },
    "com.amazon.bacon.frontend.svc.common#CannotDeleteException": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazon.bacon.frontend.svc.common#RuleOrRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that a resource could not be deleted because no resource with the specified\n            name exists.</p>"
          }
        },
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the delete operation could not be completed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.frontend.svc.common#Charset": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#Cidr": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc#CloneReceiptRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#CloneReceiptRuleSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#CloneReceiptRuleSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#AlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#LimitExceededException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#RuleSetDoesNotExistException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a receipt rule set by cloning an existing one. All receipt rules and\n            configurations are copied to the new receipt rule set and are completely independent of\n            the source rule set.</p>\n        <p>For information about setting up rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES\n                Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CloneReceiptRuleSetRequest": {
      "type": "structure",
      "members": {
        "OriginalRuleSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule set to clone.</p>",
            "smithy.api#required": true
          }
        },
        "RuleSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule set to create. The name must:</p>\n        <ul>\n            <li>\n                <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9),\n                    underscores (_), or dashes (-).</p>\n            </li>\n            <li>\n                <p>Start and end with a letter or number.</p>\n            </li>\n            <li>\n                <p>Contain less than 64 characters.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to create a receipt rule set by cloning an existing one. You use\n            receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CloneReceiptRuleSetResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CloudWatchDestination": {
      "type": "structure",
      "members": {
        "DimensionConfigurations": {
          "target": "com.amazon.bacon.frontend.svc.common#CloudWatchDimensionConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>A list of dimensions upon which to categorize your emails when you publish email\n            sending events to Amazon CloudWatch.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information associated with an Amazon CloudWatch event destination to which email\n            sending events are published.</p>\n        <p>Event destinations, such as Amazon CloudWatch, are associated with configuration sets, which\n            enable you to publish email sending events. For information about using configuration\n            sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CloudWatchDimensionConfiguration": {
      "type": "structure",
      "members": {
        "DefaultDimensionValue": {
          "target": "com.amazon.bacon.frontend.svc.common#DefaultDimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The default value of the dimension that is published to Amazon CloudWatch if you do not provide\n            the value of the dimension when you send an email. The default value must:</p>\n        <ul>\n            <li>\n                <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9),\n                    underscores (_), or dashes (-).</p>\n            </li>\n            <li>\n                <p>Contain less than 256 characters.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "DimensionName": {
          "target": "com.amazon.bacon.frontend.svc.common#DimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name\n            must:</p>\n        <ul>\n            <li>\n                <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9),\n                    underscores (_), or dashes (-).</p>\n            </li>\n            <li>\n                <p>Contain less than 256 characters.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "DimensionValueSource": {
          "target": "com.amazon.bacon.frontend.svc.common#DimensionValueSource",
          "traits": {
            "smithy.api#documentation": "<p>The place where Amazon SES finds the value of a dimension to publish to Amazon CloudWatch. If you\n            want Amazon SES to use the message tags that you specify using an\n                <code>X-SES-MESSAGE-TAGS</code> header or a parameter to the\n                <code>SendEmail</code>/<code>SendRawEmail</code> API, choose\n            <code>messageTag</code>. If you want Amazon SES to use your own email headers, choose\n                <code>emailHeader</code>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the dimension configuration to use when you publish email sending events to\n            Amazon CloudWatch.</p>\n        <p>For information about publishing email sending events to Amazon CloudWatch, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CloudWatchDimensionConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.frontend.svc.common#CloudWatchDimensionConfiguration"
      }
    },
    "com.amazon.bacon.frontend.svc.common#ConfigurationSet": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set. The name must meet the following\n            requirements:</p>\n        <ul>\n            <li>\n                <p>Contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes\n                    (-).</p>\n            </li>\n            <li>\n                <p>Contain 64 characters or fewer.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of the configuration set.</p>\n        <p>Configuration sets let you create groups of rules that you can apply to the emails you\n            send using Amazon SES. For more information about using configuration sets, see <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/using-configuration-sets.html\">Using Amazon SES Configuration Sets</a> in the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/\">Amazon SES Developer Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#ConfigurationSetAlreadyExistsException": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the configuration set does not exist.</p>"
          }
        },
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the configuration set could not be created because of a naming\n            conflict.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.frontend.svc.common#ConfigurationSetAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "eventDestinations": {
            "name": "EVENT_DESTINATIONS"
          },
          "trackingOptions": {
            "name": "TRACKING_OPTIONS"
          },
          "deliveryOptions": {
            "name": "DELIVERY_OPTIONS"
          },
          "reputationOptions": {
            "name": "REPUTATION_OPTIONS"
          }
        }
      }
    },
    "com.amazon.bacon.frontend.svc.common#ConfigurationSetAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetAttribute"
      }
    },
    "com.amazon.bacon.frontend.svc.common#ConfigurationSetDoesNotExistException": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the configuration set does not exist.</p>"
          }
        },
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the configuration set does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.frontend.svc.common#ConfigurationSetName": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#ConfigurationSetSendingPausedException": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set for which email sending is disabled.</p>"
          }
        },
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that email sending is disabled for the configuration set.</p>\n        <p>You can enable or disable email sending for a configuration set using <a>UpdateConfigurationSetSendingEnabled</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.frontend.svc.common#ConfigurationSets": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSet"
      }
    },
    "com.amazon.bacon.frontend.svc.common#Content": {
      "type": "structure",
      "members": {
        "Charset": {
          "target": "com.amazon.bacon.frontend.svc.common#Charset",
          "traits": {
            "smithy.api#documentation": "<p>The character set of the content.</p>"
          }
        },
        "Data": {
          "target": "com.amazon.bacon.frontend.svc.common#MessageData",
          "traits": {
            "smithy.api#documentation": "<p>The textual data of the content.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents textual data, plus an optional character set specification.</p>\n        <p>By default, the text must be 7-bit ASCII, due to the constraints of the SMTP protocol.\n            If the text must contain any other characters, then you must also specify a character\n            set. Examples include UTF-8, ISO-8859-1, and Shift_JIS.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#Counter": {
      "type": "long"
    },
    "com.amazon.bacon.frontend.svc#CreateConfigurationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetAlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#InvalidConfigurationSetException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a configuration set.</p>\n        <p>Configuration sets enable you to publish email sending events. For information about\n            using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#CreateConfigurationSetEventDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetEventDestinationRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetEventDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetDoesNotExistException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#EventDestinationAlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#InvalidCloudWatchDestinationException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#InvalidFirehoseDestinationException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#InvalidSNSDestinationException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a configuration set event destination.</p>\n        <note>\n            <p>When you create or update an event destination, you must provide one, and only\n                one, destination. The destination can be CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS).</p>\n        </note>\n        <p>An event destination is the AWS service to which Amazon SES publishes the email sending\n            events associated with a configuration set. For information about using configuration\n            sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetEventDestinationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set that the event destination should be associated\n            with.</p>",
            "smithy.api#required": true
          }
        },
        "EventDestination": {
          "target": "com.amazon.bacon.frontend.svc.common#EventDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that describes the AWS service that email sending event information will\n            be published to.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to create a configuration set event destination. A configuration\n            set event destination, which can be either Amazon CloudWatch or Amazon Kinesis Firehose, describes an AWS service\n            in which Amazon SES publishes the email sending events associated with a configuration set.\n            For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetEventDestinationResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSet": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSet",
          "traits": {
            "smithy.api#documentation": "<p>A data structure that contains the name of the configuration set.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to create a configuration set. Configuration sets enable you to\n            publish email sending events. For information about using configuration sets, see the\n                <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#CreateConfigurationSetTrackingOptions": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetTrackingOptionsRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetTrackingOptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetDoesNotExistException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#InvalidTrackingOptionsException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#TrackingOptionsAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an association between a configuration set and a custom domain for open and\n            click event tracking. </p>\n        <p>By default, images and links used for tracking open and click events are hosted on\n            domains operated by Amazon SES. You can configure a subdomain of your own to handle these\n            events. For information about using custom domains, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html\">Amazon SES Developer Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetTrackingOptionsRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set that the tracking options should be associated\n            with.</p>",
            "smithy.api#required": true
          }
        },
        "TrackingOptions": {
          "target": "com.amazon.bacon.frontend.svc.common#TrackingOptions",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to create an open and click tracking option object in a\n            configuration set. </p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateConfigurationSetTrackingOptionsResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#CreateCustomVerificationEmailTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateCustomVerificationEmailTemplateRequest"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#CustomVerificationEmailInvalidContentException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#CustomVerificationEmailTemplateAlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#FromEmailAddressNotVerifiedException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom verification email template.</p>\n        <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html\">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer\n                Guide</i>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateCustomVerificationEmailTemplateRequest": {
      "type": "structure",
      "members": {
        "FailureRedirectionURL": {
          "target": "com.amazon.bacon.frontend.svc.common#FailureRedirectionURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL that the recipient of the verification email is sent to if his or her address\n            is not successfully verified.</p>",
            "smithy.api#required": true
          }
        },
        "FromEmailAddress": {
          "target": "com.amazon.bacon.frontend.svc.common#FromAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email address that the custom verification email is sent from.</p>",
            "smithy.api#required": true
          }
        },
        "SuccessRedirectionURL": {
          "target": "com.amazon.bacon.frontend.svc.common#SuccessRedirectionURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL that the recipient of the verification email is sent to if his or her address\n            is successfully verified.</p>",
            "smithy.api#required": true
          }
        },
        "TemplateContent": {
          "target": "com.amazon.bacon.frontend.svc.common#TemplateContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the custom verification email. The total size of the email must be less\n            than 10 MB. The message body may contain HTML, with some limitations. For more\n            information, see <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html#custom-verification-emails-faq\">Custom Verification Email Frequently Asked Questions</a> in the <i>Amazon SES\n                Developer Guide</i>.</p>",
            "smithy.api#required": true
          }
        },
        "TemplateName": {
          "target": "com.amazon.bacon.frontend.svc.common#TemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom verification email template.</p>",
            "smithy.api#required": true
          }
        },
        "TemplateSubject": {
          "target": "com.amazon.bacon.frontend.svc.common#Subject",
          "traits": {
            "smithy.api#documentation": "<p>The subject line of the custom verification email.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to create a custom verification email template.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#CreateReceiptFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateReceiptFilterRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateReceiptFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#AlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new IP address filter.</p>\n        <p>For information about setting up IP address filters, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html\">Amazon SES Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateReceiptFilterRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptFilter",
          "traits": {
            "smithy.api#documentation": "<p>A data structure that describes the IP address filter to create, which consists of a\n            name, an IP address range, and whether to allow or block mail from it.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to create a new IP address filter. You use IP address filters\n            when you receive email with Amazon SES. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateReceiptFilterResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#CreateReceiptRule": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateReceiptRuleRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateReceiptRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#AlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#InvalidLambdaFunctionException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#InvalidS3ConfigurationException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#InvalidSnsTopicException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#LimitExceededException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#RuleDoesNotExistException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#RuleSetDoesNotExistException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a receipt rule.</p>\n        <p>For information about setting up receipt rules, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html\">Amazon SES Developer\n                Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateReceiptRuleRequest": {
      "type": "structure",
      "members": {
        "After": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing rule after which the new rule will be placed. If this\n            parameter is null, the new rule will be inserted at the beginning of the rule\n            list.</p>"
          }
        },
        "Rule": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRule",
          "traits": {
            "smithy.api#documentation": "<p>A data structure that contains the specified rule's name, actions, recipients,\n            domains, enabled status, scan status, and TLS policy.</p>",
            "smithy.api#required": true
          }
        },
        "RuleSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule set that the receipt rule will be added to.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to create a receipt rule. You use receipt rules to receive email\n            with Amazon SES. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateReceiptRuleResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#CreateReceiptRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateReceiptRuleSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateReceiptRuleSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#AlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty receipt rule set.</p>\n        <p>For information about setting up receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES\n                Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateReceiptRuleSetRequest": {
      "type": "structure",
      "members": {
        "RuleSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule set to create. The name must:</p>\n        <ul>\n            <li>\n                <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9),\n                    underscores (_), or dashes (-).</p>\n            </li>\n            <li>\n                <p>Start and end with a letter or number.</p>\n            </li>\n            <li>\n                <p>Contain less than 64 characters.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to create an empty receipt rule set. You use receipt rule sets to\n            receive email with Amazon SES. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateReceiptRuleSetResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#CreateTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateTemplateRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#CreateTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#AlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#InvalidTemplateException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an email template. Email templates enable you to send personalized email to\n            one or more destinations in a single API operation. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon SES Developer\n                Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateTemplateRequest": {
      "type": "structure",
      "members": {
        "Template": {
          "target": "com.amazon.bacon.frontend.svc.common#Template",
          "traits": {
            "smithy.api#documentation": "<p>The content of the email, composed of a subject line, an HTML part, and a text-only\n            part.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to create an email template. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CreateTemplateResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.bacon.frontend.svc.common#CustomMailFromStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Pending": {
            "name": "Pending"
          },
          "Success": {
            "name": "Success"
          },
          "Failed": {
            "name": "Failed"
          },
          "TemporaryFailure": {
            "name": "TemporaryFailure"
          }
        }
      }
    },
    "com.amazon.bacon.frontend.svc.common#CustomRedirectDomain": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#CustomVerificationEmailInvalidContentException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that custom verification email template provided content is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.frontend.svc.common#CustomVerificationEmailTemplate": {
      "type": "structure",
      "members": {
        "FailureRedirectionURL": {
          "target": "com.amazon.bacon.frontend.svc.common#FailureRedirectionURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL that the recipient of the verification email is sent to if his or her address\n            is not successfully verified.</p>"
          }
        },
        "FromEmailAddress": {
          "target": "com.amazon.bacon.frontend.svc.common#FromAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email address that the custom verification email is sent from.</p>"
          }
        },
        "SuccessRedirectionURL": {
          "target": "com.amazon.bacon.frontend.svc.common#SuccessRedirectionURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL that the recipient of the verification email is sent to if his or her address\n            is successfully verified.</p>"
          }
        },
        "TemplateName": {
          "target": "com.amazon.bacon.frontend.svc.common#TemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom verification email template.</p>"
          }
        },
        "TemplateSubject": {
          "target": "com.amazon.bacon.frontend.svc.common#Subject",
          "traits": {
            "smithy.api#documentation": "<p>The subject line of the custom verification email.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a custom verification email template.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#CustomVerificationEmailTemplateAlreadyExistsException": {
      "type": "structure",
      "members": {
        "CustomVerificationEmailTemplateName": {
          "target": "com.amazon.bacon.frontend.svc.common#TemplateName",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the provided custom verification email template with the specified\n            template name already exists.</p>"
          }
        },
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that a custom verification email template with the name you specified\n            already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.frontend.svc.common#CustomVerificationEmailTemplateDoesNotExistException": {
      "type": "structure",
      "members": {
        "CustomVerificationEmailTemplateName": {
          "target": "com.amazon.bacon.frontend.svc.common#TemplateName",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the provided custom verification email template does not exist.</p>"
          }
        },
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that a custom verification email template with the name you specified does\n            not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.frontend.svc.common#CustomVerificationEmailTemplates": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.frontend.svc.common#CustomVerificationEmailTemplate"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DefaultDimensionValue": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc#DeleteConfigurationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetDoesNotExistException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a configuration set. Configuration sets enable you to publish email sending\n            events. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DeleteConfigurationSetEventDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetEventDestinationRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetEventDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetDoesNotExistException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#EventDestinationDoesNotExistException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a configuration set event destination. Configuration set event destinations\n            are associated with configuration sets, which enable you to publish email sending\n            events. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetEventDestinationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set from which to delete the event destination.</p>",
            "smithy.api#required": true
          }
        },
        "EventDestinationName": {
          "target": "com.amazon.bacon.frontend.svc.common#EventDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event destination to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete a configuration set event destination. Configuration\n            set event destinations are associated with configuration sets, which enable you to\n            publish email sending events. For information about using configuration sets, see the\n                <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetEventDestinationResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete a configuration set. Configuration sets enable you to\n            publish email sending events. For information about using configuration sets, see the\n                <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DeleteConfigurationSetTrackingOptions": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetTrackingOptionsRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetTrackingOptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetDoesNotExistException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#TrackingOptionsDoesNotExistException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an association between a configuration set and a custom domain for open and\n            click event tracking.</p>\n        <p>By default, images and links used for tracking open and click events are hosted on\n            domains operated by Amazon SES. You can configure a subdomain of your own to handle these\n            events. For information about using custom domains, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html\">Amazon SES Developer Guide</a>.</p>\n        <note>\n            <p>Deleting this kind of association will result in emails sent using the specified\n                configuration set to capture open and click events using the standard,\n                Amazon SES-operated domains.</p>\n        </note>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetTrackingOptionsRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set from which you want to delete the tracking\n            options.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete open and click tracking options in a configuration set.\n        </p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteConfigurationSetTrackingOptionsResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DeleteCustomVerificationEmailTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteCustomVerificationEmailTemplateRequest"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing custom verification email template. </p>\n        <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html\">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer\n                Guide</i>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteCustomVerificationEmailTemplateRequest": {
      "type": "structure",
      "members": {
        "TemplateName": {
          "target": "com.amazon.bacon.frontend.svc.common#TemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom verification email template that you want to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete an existing custom verification email template.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DeleteIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteIdentityRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteIdentityResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified identity (an email address or a domain) from the list of\n            verified identities.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DeleteIdentityPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteIdentityPolicyRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteIdentityPolicyResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified sending authorization policy for the given identity (an email\n            address or a domain). This API returns successfully even if a policy with the specified\n            name does not exist.</p>\n        <note>\n            <p>This API is for the identity owner only. If you have not verified the identity,\n                this API will return an error.</p>\n        </note>\n        <p>Sending authorization is a feature that enables an identity owner to authorize other\n            senders to use its identities. For information about using sending authorization, see\n            the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer\n                Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteIdentityPolicyRequest": {
      "type": "structure",
      "members": {
        "Identity": {
          "target": "com.amazon.bacon.frontend.svc.common#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identity that is associated with the policy that you want to delete. You can\n            specify the identity by using its name or by using its Amazon Resource Name (ARN).\n            Examples: <code>user@example.com</code>, <code>example.com</code>,\n                <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p>\n        <p>To successfully call this API, you must own the identity.</p>",
            "smithy.api#required": true
          }
        },
        "PolicyName": {
          "target": "com.amazon.bacon.frontend.svc.common#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy to be deleted.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete a sending authorization policy for an identity. Sending\n            authorization is an Amazon SES feature that enables you to authorize other senders to use\n            your identities. For information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteIdentityPolicyResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteIdentityRequest": {
      "type": "structure",
      "members": {
        "Identity": {
          "target": "com.amazon.bacon.frontend.svc.common#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identity to be removed from the list of identities for the AWS Account.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete one of your Amazon SES identities (an email address or\n            domain).</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteIdentityResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DeleteReceiptFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteReceiptFilterRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteReceiptFilterResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified IP address filter.</p>\n        <p>For information about managing IP address filters, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-ip-filters.html\">Amazon SES\n                Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteReceiptFilterRequest": {
      "type": "structure",
      "members": {
        "FilterName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IP address filter to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete an IP address filter. You use IP address filters when\n            you receive email with Amazon SES. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteReceiptFilterResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DeleteReceiptRule": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteReceiptRuleRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteReceiptRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#RuleSetDoesNotExistException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified receipt rule.</p>\n        <p>For information about managing receipt rules, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rules.html\">Amazon SES\n                Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteReceiptRuleRequest": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the receipt rule to delete.</p>",
            "smithy.api#required": true
          }
        },
        "RuleSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the receipt rule set that contains the receipt rule to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete a receipt rule. You use receipt rules to receive email\n            with Amazon SES. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteReceiptRuleResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DeleteReceiptRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteReceiptRuleSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteReceiptRuleSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#CannotDeleteException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified receipt rule set and all of the receipt rules it\n            contains.</p>\n        <note>\n            <p>The currently active rule set cannot be deleted.</p>\n        </note>\n        <p>For information about managing receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteReceiptRuleSetRequest": {
      "type": "structure",
      "members": {
        "RuleSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the receipt rule set to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete a receipt rule set and all of the receipt rules it\n            contains. You use receipt rule sets to receive email with Amazon SES. For more information,\n            see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteReceiptRuleSetResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty element returned on a successful request.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DeleteTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteTemplateRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteTemplateResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes an email template.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteTemplateRequest": {
      "type": "structure",
      "members": {
        "TemplateName": {
          "target": "com.amazon.bacon.frontend.svc.common#TemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the template to be deleted.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete an email template. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteTemplateResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.bacon.frontend.svc#DeleteVerifiedEmailAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DeleteVerifiedEmailAddressRequest"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deprecated. Use the <code>DeleteIdentity</code> operation to delete email addresses\n            and domains.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeleteVerifiedEmailAddressRequest": {
      "type": "structure",
      "members": {
        "EmailAddress": {
          "target": "com.amazon.bacon.frontend.svc.common#Address",
          "traits": {
            "smithy.api#documentation": "<p>An email address to be removed from the list of verified addresses.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to delete an email address from the list of email addresses you\n            have attempted to verify under your AWS account.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DeliveryOptions": {
      "type": "structure",
      "members": {
        "TlsPolicy": {
          "target": "com.amazon.bacon.frontend.svc.common#TlsPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether messages that use the configuration set are required to use\n            Transport Layer Security (TLS). If the value is <code>Require</code>, messages are only\n            delivered if a TLS connection can be established. If the value is <code>Optional</code>,\n            messages can be delivered in plain text if a TLS connection can't be established.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies whether messages that use the configuration set are required to use\n            Transport Layer Security (TLS).</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DescribeActiveReceiptRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DescribeActiveReceiptRuleSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DescribeActiveReceiptRuleSetResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the metadata and receipt rules for the receipt rule set that is currently\n            active.</p>\n        <p>For information about setting up receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES\n                Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DescribeActiveReceiptRuleSetRequest": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to return the metadata and receipt rules for the receipt rule set\n            that is currently active. You use receipt rule sets to receive email with Amazon SES. For\n            more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DescribeActiveReceiptRuleSetResponse": {
      "type": "structure",
      "members": {
        "Metadata": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for the currently active receipt rule set. The metadata consists of the\n            rule set name and a timestamp of when the rule set was created.</p>"
          }
        },
        "Rules": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRulesList",
          "traits": {
            "smithy.api#documentation": "<p>The receipt rules that belong to the active rule set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the metadata and receipt rules for the receipt rule set that is currently\n            active.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DescribeConfigurationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DescribeConfigurationSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DescribeConfigurationSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetDoesNotExistException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of the specified configuration set. For information about using\n            configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DescribeConfigurationSetRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetAttributeNames": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of configuration set attributes to return.</p>"
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set to describe.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to return the details of a configuration set. Configuration sets\n            enable you to publish email sending events. For information about using configuration\n            sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DescribeConfigurationSetResponse": {
      "type": "structure",
      "members": {
        "ConfigurationSet": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSet",
          "traits": {
            "smithy.api#documentation": "<p>The configuration set object associated with the specified configuration set.</p>"
          }
        },
        "DeliveryOptions": {
          "target": "com.amazon.bacon.frontend.svc.common#DeliveryOptions"
        },
        "EventDestinations": {
          "target": "com.amazon.bacon.frontend.svc.common#EventDestinations",
          "traits": {
            "smithy.api#documentation": "<p>A list of event destinations associated with the configuration set. </p>"
          }
        },
        "ReputationOptions": {
          "target": "com.amazon.bacon.frontend.svc.common#ReputationOptions",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the reputation settings for the configuration set. </p>"
          }
        },
        "TrackingOptions": {
          "target": "com.amazon.bacon.frontend.svc.common#TrackingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom open and click tracking domain associated with the\n            configuration set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the details of a configuration set. Configuration sets enable you to\n            publish email sending events. For information about using configuration sets, see the\n                <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DescribeReceiptRule": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DescribeReceiptRuleRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DescribeReceiptRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#RuleDoesNotExistException"
        },
        {
          "target": "com.amazon.bacon.frontend.svc.common#RuleSetDoesNotExistException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of the specified receipt rule.</p>\n        <p>For information about setting up receipt rules, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html\">Amazon SES Developer\n                Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DescribeReceiptRuleRequest": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the receipt rule.</p>",
            "smithy.api#required": true
          }
        },
        "RuleSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the receipt rule set that the receipt rule belongs to.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to return the details of a receipt rule. You use receipt rules to\n            receive email with Amazon SES. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DescribeReceiptRuleResponse": {
      "type": "structure",
      "members": {
        "Rule": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRule",
          "traits": {
            "smithy.api#documentation": "<p>A data structure that contains the specified receipt rule's name, actions, recipients,\n            domains, enabled status, scan status, and Transport Layer Security (TLS) policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the details of a receipt rule.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc#DescribeReceiptRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.frontend.svc.common#DescribeReceiptRuleSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.frontend.svc.common#DescribeReceiptRuleSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.frontend.svc.common#RuleSetDoesNotExistException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of the specified receipt rule set.</p>\n        <p>For information about managing receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p>\n        <p>You can execute this operation no more than once per second.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DescribeReceiptRuleSetRequest": {
      "type": "structure",
      "members": {
        "RuleSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the receipt rule set to describe.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to return the details of a receipt rule set. You use receipt rule\n            sets to receive email with Amazon SES. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DescribeReceiptRuleSetResponse": {
      "type": "structure",
      "members": {
        "Metadata": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRuleSetMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for the receipt rule set, which consists of the rule set name and the\n            timestamp of when the rule set was created.</p>"
          }
        },
        "Rules": {
          "target": "com.amazon.bacon.frontend.svc.common#ReceiptRulesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the receipt rules that belong to the specified receipt rule set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the details of the specified receipt rule set.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#Destination": {
      "type": "structure",
      "members": {
        "BccAddresses": {
          "target": "com.amazon.bacon.frontend.svc.common#AddressList",
          "traits": {
            "smithy.api#documentation": "<p>The recipients to place on the BCC: line of the message.</p>"
          }
        },
        "CcAddresses": {
          "target": "com.amazon.bacon.frontend.svc.common#AddressList",
          "traits": {
            "smithy.api#documentation": "<p>The recipients to place on the CC: line of the message.</p>"
          }
        },
        "ToAddresses": {
          "target": "com.amazon.bacon.frontend.svc.common#AddressList",
          "traits": {
            "smithy.api#documentation": "<p>The recipients to place on the To: line of the message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the destination of the message, consisting of To:, CC:, and BCC:\n            fields.</p>\n        <note>\n            <p>Amazon SES does not support the SMTPUTF8 extension, as described in <a href=\"https://tools.ietf.org/html/rfc6531\">RFC6531</a>. For this reason, the\n                    <i>local part</i> of a destination email address (the part of the\n                email address that precedes the @ sign) may only contain <a href=\"https://en.wikipedia.org/wiki/Email_address#Local-part\">7-bit ASCII\n                    characters</a>. If the <i>domain part</i> of an address (the\n                part after the @ sign) contains non-ASCII characters, they must be encoded using\n                Punycode, as described in <a href=\"https://tools.ietf.org/html/rfc3492.html\">RFC3492</a>.</p>\n        </note>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#DiagnosticCode": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#DimensionName": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#DimensionValueSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "messageTag": {
            "name": "MESSAGE_TAG"
          },
          "emailHeader": {
            "name": "EMAIL_HEADER"
          },
          "linkTag": {
            "name": "LINK_TAG"
          }
        }
      }
    },
    "com.amazon.bacon.frontend.svc.common#DkimAttributes": {
      "type": "map",
      "key": {
        "target": "com.amazon.bacon.frontend.svc.common#Identity"
      },
      "value": {
        "target": "com.amazon.bacon.frontend.svc.common#IdentityDkimAttributes"
      }
    },
    "com.amazon.bacon.frontend.svc.common#Domain": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#DsnAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "failed": {
            "name": "FAILED"
          },
          "delayed": {
            "name": "DELAYED"
          },
          "delivered": {
            "name": "DELIVERED"
          },
          "relayed": {
            "name": "RELAYED"
          },
          "expanded": {
            "name": "EXPANDED"
          }
        }
      }
    },
    "com.amazon.bacon.frontend.svc.common#DsnStatus": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#Enabled": {
      "type": "boolean"
    },
    "com.amazon.bacon.frontend.svc.common#Error": {
      "type": "string"
    },
    "com.amazon.bacon.common.svc#ErrorMessage": {
      "type": "string"
    },
    "com.amazon.bacon.frontend.svc.common#EventDestination": {
      "type": "structure",
      "members": {
        "CloudWatchDestination": {
          "target": "com.amazon.bacon.frontend.svc.common#CloudWatchDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the names, default values, and sources of the dimensions\n            associated with an Amazon CloudWatch event destination.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazon.bacon.frontend.svc.common#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>Sets whether Amazon SES publishes events to this destination when you send an email with\n            the associated configuration set. Set to <code>true</code> to enable publishing to this\n            destination; set to <code>false</code> to prevent publishing to this destination. The\n            default value is <code>false</code>.</p>"
          }
        },
        "KinesisFirehoseDestination": {
          "target": "com.amazon.bacon.frontend.svc.common#KinesisFirehoseDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the delivery stream ARN and the IAM role ARN associated with\n            an Amazon Kinesis Firehose event destination.</p>"
          }
        },
        "MatchingEventTypes": {
          "target": "com.amazon.bacon.frontend.svc.common#EventTypes",
          "traits": {
            "smithy.api#documentation": "<p>The type of email sending events to publish to the event destination.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazon.bacon.frontend.svc.common#EventDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event destination. The name must:</p>\n        <ul>\n            <li>\n                <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9),\n                    underscores (_), or dashes (-).</p>\n            </li>\n            <li>\n                <p>Contain less than 64 characters.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "SNSDestination": {
          "target": "com.amazon.bacon.frontend.svc.common#SNSDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the topic ARN associated with an Amazon Simple Notification Service (Amazon SNS) event\n            destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the event destination that the specified email sending\n            events will be published to.</p>\n        <note>\n            <p>When you create or update an event destination, you must provide one, and only\n                one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p>\n        </note>\n        <p>Event destinations are associated with configuration sets, which enable you to publish\n            email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about\n            using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer\n                Guide</a>.</p>"
      }
    },
    "com.amazon.bacon.frontend.svc.common#EventDestinationAlreadyExistsException": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.frontend.svc.common#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the configuration set does not exist.</p>"
          }
        },
        "EventDestinationName": {
[...]
