{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sfn#AWSStepFunctions": {
      "type": "service",
      "version": "2016-11-23",
      "operations": [
        {
          "target": "com.amazonaws.sfn#CreateActivity"
        },
        {
          "target": "com.amazonaws.sfn#CreateStateMachine"
        },
        {
          "target": "com.amazonaws.sfn#CreateStateMachineAlias"
        },
        {
          "target": "com.amazonaws.sfn#DeleteActivity"
        },
        {
          "target": "com.amazonaws.sfn#DeleteStateMachine"
        },
        {
          "target": "com.amazonaws.sfn#DeleteStateMachineAlias"
        },
        {
          "target": "com.amazonaws.sfn#DeleteStateMachineVersion"
        },
        {
          "target": "com.amazonaws.sfn#DescribeActivity"
        },
        {
          "target": "com.amazonaws.sfn#DescribeExecution"
        },
        {
          "target": "com.amazonaws.sfn#DescribeMapRun"
        },
        {
          "target": "com.amazonaws.sfn#DescribeStateMachine"
        },
        {
          "target": "com.amazonaws.sfn#DescribeStateMachineAlias"
        },
        {
          "target": "com.amazonaws.sfn#DescribeStateMachineForExecution"
        },
        {
          "target": "com.amazonaws.sfn#GetActivityTask"
        },
        {
          "target": "com.amazonaws.sfn#GetExecutionHistory"
        },
        {
          "target": "com.amazonaws.sfn#ListActivities"
        },
        {
          "target": "com.amazonaws.sfn#ListExecutions"
        },
        {
          "target": "com.amazonaws.sfn#ListMapRuns"
        },
        {
          "target": "com.amazonaws.sfn#ListStateMachineAliases"
        },
        {
          "target": "com.amazonaws.sfn#ListStateMachines"
        },
        {
          "target": "com.amazonaws.sfn#ListStateMachineVersions"
        },
        {
          "target": "com.amazonaws.sfn#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.sfn#PublishStateMachineVersion"
        },
        {
          "target": "com.amazonaws.sfn#SendTaskFailure"
        },
        {
          "target": "com.amazonaws.sfn#SendTaskHeartbeat"
        },
        {
          "target": "com.amazonaws.sfn#SendTaskSuccess"
        },
        {
          "target": "com.amazonaws.sfn#StartExecution"
        },
        {
          "target": "com.amazonaws.sfn#StartSyncExecution"
        },
        {
          "target": "com.amazonaws.sfn#StopExecution"
        },
        {
          "target": "com.amazonaws.sfn#TagResource"
        },
        {
          "target": "com.amazonaws.sfn#UntagResource"
        },
        {
          "target": "com.amazonaws.sfn#UpdateMapRun"
        },
        {
          "target": "com.amazonaws.sfn#UpdateStateMachine"
        },
        {
          "target": "com.amazonaws.sfn#UpdateStateMachineAlias"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SFN",
          "arnNamespace": "states",
          "cloudFormationName": "StepFunctions",
          "cloudTrailEventSource": "sfn.amazonaws.com",
          "endpointPrefix": "states"
        },
        "aws.auth#sigv4": {
          "name": "states"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<fullname>Step Functions</fullname>\n         <p>Step Functions is a service that lets you coordinate the components of distributed applications\n      and microservices using visual workflows.</p>\n         <p>You can use Step Functions to build applications from individual components, each of which performs\n      a discrete function, or <i>task</i>, allowing you to scale and change\n      applications quickly. Step Functions provides a console that helps visualize the components of your\n      application as a series of steps. Step Functions automatically triggers and tracks each step, and\n      retries steps when there are errors, so your application executes predictably and in the right\n      order every time. Step Functions logs the state of each step, so you can quickly diagnose and debug any\n      issues.</p>\n         <p>Step Functions manages operations and underlying infrastructure to ensure your application is\n      available at any scale. You can run tasks on Amazon Web Services, your own servers, or any system that has\n      access to Amazon Web Services. You can access and use Step Functions using the console, the Amazon Web Services SDKs, or an HTTP API.\n      For more information about Step Functions, see the <i>\n               <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/welcome.html\">Step Functions Developer Guide</a>\n            </i>.</p>",
        "smithy.api#title": "AWS Step Functions",
        "smithy.api#xmlNamespace": {
          "uri": "http://swf.amazonaws.com/doc/2015-07-20/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://states-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "fn": "stringEquals",
                                          "argv": [
                                            {
                                              "ref": "Region"
                                            },
                                            "us-gov-west-1"
                                          ]
                                        }
                                      ],
                                      "endpoint": {
                                        "url": "https://states.us-gov-west-1.amazonaws.com",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://states-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://states.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://states.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://states-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.sfn#ActivityDoesNotExist": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.sfn#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified activity does not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.sfn#ActivityFailedEventDetails": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sfn#SensitiveError",
          "traits": {
            "smithy.api#documentation": "<p>The error code of the failure.</p>"
          }
        },
        "cause": {
          "target": "com.amazonaws.sfn#SensitiveCause",
          "traits": {
            "smithy.api#documentation": "<p>A more detailed explanation of the cause of the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an activity that failed during an execution.</p>"
      }
    },
    "com.amazonaws.sfn#ActivityLimitExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.sfn#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The maximum number of activities has been reached. Existing activities must be deleted\n      before a new activity can be created.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.sfn#ActivityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sfn#ActivityListItem"
      }
    },
    "com.amazonaws.sfn#ActivityListItem": {
      "type": "structure",
      "members": {
        "activityArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the activity.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.sfn#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the activity.</p>\n         <p>A name must <i>not</i> contain:</p>\n         <ul>\n            <li>\n               <p>white space</p>\n            </li>\n            <li>\n               <p>brackets <code>< > { } [ ]</code>\n               </p>\n            </li>\n            <li>\n               <p>wildcard characters <code>? *</code>\n               </p>\n            </li>\n            <li>\n               <p>special characters <code>\" # % \\ ^ | ~ ` $ & , ; : /</code>\n               </p>\n            </li>\n            <li>\n               <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p>\n            </li>\n         </ul>\n         <p>To enable logging with CloudWatch Logs, the name should only contain  0-9, A-Z, a-z, - and _.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.sfn#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the activity is created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an activity.</p>"
      }
    },
    "com.amazonaws.sfn#ActivityScheduleFailedEventDetails": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sfn#SensitiveError",
          "traits": {
            "smithy.api#documentation": "<p>The error code of the failure.</p>"
          }
        },
        "cause": {
          "target": "com.amazonaws.sfn#SensitiveCause",
          "traits": {
            "smithy.api#documentation": "<p>A more detailed explanation of the cause of the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an activity schedule failure that occurred during an\n      execution.</p>"
      }
    },
    "com.amazonaws.sfn#ActivityScheduledEventDetails": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the scheduled activity.</p>",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "com.amazonaws.sfn#SensitiveData",
          "traits": {
            "smithy.api#documentation": "<p>The JSON data input to the activity task. Length constraints apply to the payload size, and are expressed as bytes in UTF-8 encoding.</p>"
          }
        },
        "inputDetails": {
          "target": "com.amazonaws.sfn#HistoryEventExecutionDataDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the input for an execution history event.</p>"
          }
        },
        "timeoutInSeconds": {
          "target": "com.amazonaws.sfn#TimeoutInSeconds",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum allowed duration of the activity task.</p>"
          }
        },
        "heartbeatInSeconds": {
          "target": "com.amazonaws.sfn#TimeoutInSeconds",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum allowed duration between two heartbeats for the activity task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an activity scheduled during an execution.</p>"
      }
    },
    "com.amazonaws.sfn#ActivityStartedEventDetails": {
      "type": "structure",
      "members": {
        "workerName": {
          "target": "com.amazonaws.sfn#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The name of the worker that the task is assigned to. These names are provided by the\n      workers when calling <a>GetActivityTask</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the start of an activity during an execution.</p>"
      }
    },
    "com.amazonaws.sfn#ActivitySucceededEventDetails": {
      "type": "structure",
      "members": {
        "output": {
          "target": "com.amazonaws.sfn#SensitiveData",
          "traits": {
            "smithy.api#documentation": "<p>The JSON data output by the activity task. Length constraints apply to the payload size, and are expressed as bytes in UTF-8 encoding.</p>"
          }
        },
        "outputDetails": {
          "target": "com.amazonaws.sfn#HistoryEventExecutionDataDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the output of an execution history event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an activity that successfully terminated during an\n      execution.</p>"
      }
    },
    "com.amazonaws.sfn#ActivityTimedOutEventDetails": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sfn#SensitiveError",
          "traits": {
            "smithy.api#documentation": "<p>The error code of the failure.</p>"
          }
        },
        "cause": {
          "target": "com.amazonaws.sfn#SensitiveCause",
          "traits": {
            "smithy.api#documentation": "<p>A more detailed explanation of the cause of the timeout.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an activity timeout that occurred during an execution.</p>"
      }
    },
    "com.amazonaws.sfn#ActivityWorkerLimitExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.sfn#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The maximum number of workers concurrently polling for activity tasks has been\n      reached.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.sfn#AliasDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sfn#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.sfn#BilledDuration": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.sfn#BilledMemoryUsed": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.sfn#BillingDetails": {
      "type": "structure",
      "members": {
        "billedMemoryUsedInMB": {
          "target": "com.amazonaws.sfn#BilledMemoryUsed",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Billed memory consumption of your workflow, in MB.</p>"
          }
        },
        "billedDurationInMilliseconds": {
          "target": "com.amazonaws.sfn#BilledDuration",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Billed duration of your workflow, in milliseconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that describes workflow billing details.</p>"
      }
    },
    "com.amazonaws.sfn#CharacterRestrictedName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 80
        },
        "smithy.api#pattern": "^(?=.*[a-zA-Z_\\-\\.])[a-zA-Z0-9_\\-\\.]+$"
      }
    },
    "com.amazonaws.sfn#CloudWatchEventsExecutionDataDetails": {
      "type": "structure",
      "members": {
        "included": {
          "target": "com.amazonaws.sfn#includedDetails",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether input or output was included in the response. Always <code>true</code>\n      for API calls. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about execution input or output.</p>"
      }
    },
    "com.amazonaws.sfn#CloudWatchLogsLogGroup": {
      "type": "structure",
      "members": {
        "logGroupArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the the CloudWatch log group to which you want your logs emitted to. The ARN\n      must end with <code>:*</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.sfn#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.sfn#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state. This error occurs when there're concurrent requests for <a>DeleteStateMachineVersion</a>, <a>PublishStateMachineVersion</a>, or <a>UpdateStateMachine</a> with the <code>publish</code> parameter set to <code>true</code>.</p>\n         <p>HTTP Status Code: 409</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.sfn#ConnectorParameters": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 262144
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sfn#CreateActivity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#CreateActivityInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#CreateActivityOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#ActivityLimitExceeded"
        },
        {
          "target": "com.amazonaws.sfn#InvalidName"
        },
        {
          "target": "com.amazonaws.sfn#TooManyTags"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an activity. An activity is a task that you write in any programming language and\n      host on any machine that has access to Step Functions. Activities must poll Step Functions using the\n        <code>GetActivityTask</code> API action and respond using <code>SendTask*</code> API\n      actions. This function lets Step Functions know the existence of your activity and returns an\n      identifier for use in a state machine and when polling from the activity.</p>\n         <note>\n            <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p>\n         </note>\n         <note>\n            <p>\n               <code>CreateActivity</code> is an idempotent API. Subsequent requests won’t create a\n        duplicate resource if it was already created. <code>CreateActivity</code>'s idempotency\n        check is based on the activity <code>name</code>. If a following request has different\n          <code>tags</code> values, Step Functions will ignore these differences and treat it as an\n        idempotent request of the previous. In this case, <code>tags</code> will not be updated,\n        even if they are different.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.sfn#CreateActivityInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.sfn#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the activity to create. This name must be unique for your Amazon Web Services account and region for 90 days. For more information,\n    see <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/limits.html#service-limits-state-machine-executions\">\n    Limits Related to State Machine Executions</a> in the <i>Step Functions Developer Guide</i>.</p>\n         <p>A name must <i>not</i> contain:</p>\n         <ul>\n            <li>\n               <p>white space</p>\n            </li>\n            <li>\n               <p>brackets <code>< > { } [ ]</code>\n               </p>\n            </li>\n            <li>\n               <p>wildcard characters <code>? *</code>\n               </p>\n            </li>\n            <li>\n               <p>special characters <code>\" # % \\ ^ | ~ ` $ & , ; : /</code>\n               </p>\n            </li>\n            <li>\n               <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p>\n            </li>\n         </ul>\n         <p>To enable logging with CloudWatch Logs, the name should only contain  0-9, A-Z, a-z, - and _.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.sfn#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags to add to a resource.</p>\n         <p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using\n      Cost Allocation Tags</a> in the <i>Amazon Web Services Billing and Cost Management User\n        Guide</i>, and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM\n          Tags</a>.</p>\n         <p>Tags may only contain Unicode letters, digits, white space, or these symbols: <code>_ . : / = + - @</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#CreateActivityOutput": {
      "type": "structure",
      "members": {
        "activityArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the created activity.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.sfn#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the activity is created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#CreateStateMachine": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#CreateStateMachineInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#CreateStateMachineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#ConflictException"
        },
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        },
        {
          "target": "com.amazonaws.sfn#InvalidDefinition"
        },
        {
          "target": "com.amazonaws.sfn#InvalidLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.sfn#InvalidName"
        },
        {
          "target": "com.amazonaws.sfn#InvalidTracingConfiguration"
        },
        {
          "target": "com.amazonaws.sfn#StateMachineAlreadyExists"
        },
        {
          "target": "com.amazonaws.sfn#StateMachineDeleting"
        },
        {
          "target": "com.amazonaws.sfn#StateMachineLimitExceeded"
        },
        {
          "target": "com.amazonaws.sfn#StateMachineTypeNotSupported"
        },
        {
          "target": "com.amazonaws.sfn#TooManyTags"
        },
        {
          "target": "com.amazonaws.sfn#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a state machine. A state machine consists of a collection of states that can do\n      work (<code>Task</code> states), determine to which states to transition next\n        (<code>Choice</code> states), stop an execution with an error (<code>Fail</code> states),\n      and so on. State machines are specified using a JSON-based, structured language. For more\n      information, see <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon States\n        Language</a> in the Step Functions User Guide.</p>\n         <p>If you set the <code>publish</code> parameter of this API action to <code>true</code>, it\n      publishes version <code>1</code> as the first revision of the state machine.</p>\n         <note>\n            <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p>\n         </note>\n         <note>\n            <p>\n               <code>CreateStateMachine</code> is an idempotent API. Subsequent requests won’t create a\n        duplicate resource if it was already created. <code>CreateStateMachine</code>'s idempotency\n        check is based on the state machine <code>name</code>, <code>definition</code>,\n          <code>type</code>, <code>LoggingConfiguration</code>, and\n        <code>TracingConfiguration</code>. The check is also based on the <code>publish</code> and <code>versionDescription</code> parameters. If a following request has a different\n          <code>roleArn</code> or <code>tags</code>, Step Functions will ignore these differences and treat\n        it as an idempotent request of the previous. In this case, <code>roleArn</code> and\n          <code>tags</code> will not be updated, even if they are different.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.sfn#CreateStateMachineAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#CreateStateMachineAliasInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#CreateStateMachineAliasOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#ConflictException"
        },
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        },
        {
          "target": "com.amazonaws.sfn#InvalidName"
        },
        {
          "target": "com.amazonaws.sfn#ResourceNotFound"
        },
        {
          "target": "com.amazonaws.sfn#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.sfn#StateMachineDeleting"
        },
        {
          "target": "com.amazonaws.sfn#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-state-machine-alias.html\">alias</a> for a state machine that points to one or two <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-state-machine-version.html\">versions</a> of the same state machine. You can set your application to call <a>StartExecution</a> with an alias and update the version the alias uses without changing the client's code.</p>\n         <p>You can also map an alias to split <a>StartExecution</a> requests between two\n      versions of a state machine. To do this, add a second <code>RoutingConfig</code> object in the\n        <code>routingConfiguration</code> parameter. You must also specify the percentage of\n      execution run requests each version should receive in both <code>RoutingConfig</code> objects.\n        Step Functions randomly chooses which version runs a given execution based on the\n      percentage you specify.</p>\n         <p>To create an alias that points to a single version, specify a single\n        <code>RoutingConfig</code> object with a <code>weight</code> set to 100.</p>\n         <p>You can create up to 100 aliases for each state machine. You must delete unused aliases using the <a>DeleteStateMachineAlias</a> API action.</p>\n         <p>\n            <code>CreateStateMachineAlias</code> is an idempotent API. Step Functions bases the\n      idempotency check on the <code>stateMachineArn</code>, <code>description</code>,\n        <code>name</code>, and <code>routingConfiguration</code> parameters. Requests that contain\n      the same values for these parameters return a successful idempotent response without creating\n      a duplicate resource.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeStateMachineAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListStateMachineAliases</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateStateMachineAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteStateMachineAlias</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.sfn#CreateStateMachineAliasInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.sfn#AliasDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the state machine alias.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.sfn#CharacterRestrictedName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the state machine alias.</p>\n         <p>To avoid conflict with version ARNs, don't use an integer in the name of the alias.</p>",
            "smithy.api#required": {}
          }
        },
        "routingConfiguration": {
          "target": "com.amazonaws.sfn#RoutingConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The routing configuration of a state machine alias. The routing configuration shifts\n      execution traffic between two state machine versions. <code>routingConfiguration</code>\n      contains an array of <code>RoutingConfig</code> objects that specify up to two state machine\n      versions. Step Functions then randomly choses which version to run an execution with based\n      on the weight assigned to each <code>RoutingConfig</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#CreateStateMachineAliasOutput": {
      "type": "structure",
      "members": {
        "stateMachineAliasArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the created state machine alias.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.sfn#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the state machine alias was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#CreateStateMachineInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.sfn#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the state machine. </p>\n         <p>A name must <i>not</i> contain:</p>\n         <ul>\n            <li>\n               <p>white space</p>\n            </li>\n            <li>\n               <p>brackets <code>< > { } [ ]</code>\n               </p>\n            </li>\n            <li>\n               <p>wildcard characters <code>? *</code>\n               </p>\n            </li>\n            <li>\n               <p>special characters <code>\" # % \\ ^ | ~ ` $ & , ; : /</code>\n               </p>\n            </li>\n            <li>\n               <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p>\n            </li>\n         </ul>\n         <p>To enable logging with CloudWatch Logs, the name should only contain  0-9, A-Z, a-z, - and _.</p>",
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "com.amazonaws.sfn#Definition",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon States Language definition of the state machine. See <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon States Language</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to use for this state machine.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.sfn#StateMachineType",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether a Standard or Express state machine is created. The default is\n        <code>STANDARD</code>. You cannot update the <code>type</code> of a state machine once it\n      has been created.</p>"
          }
        },
        "loggingConfiguration": {
          "target": "com.amazonaws.sfn#LoggingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Defines what execution history events are logged and where they are logged.</p>\n         <note>\n            <p>By default, the <code>level</code> is set to <code>OFF</code>. For more information see\n          <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/cloudwatch-log-level.html\">Log\n          Levels</a> in the Step Functions User Guide.</p>\n         </note>"
          }
        },
        "tags": {
          "target": "com.amazonaws.sfn#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to be added when creating a state machine.</p>\n         <p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using\n      Cost Allocation Tags</a> in the <i>Amazon Web Services Billing and Cost Management User\n        Guide</i>, and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM\n          Tags</a>.</p>\n         <p>Tags may only contain Unicode letters, digits, white space, or these symbols: <code>_ . : / = + - @</code>.</p>"
          }
        },
        "tracingConfiguration": {
          "target": "com.amazonaws.sfn#TracingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Selects whether X-Ray tracing is enabled.</p>"
          }
        },
        "publish": {
          "target": "com.amazonaws.sfn#Publish",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Set to <code>true</code> to publish the first version of the state machine during creation. The default is <code>false</code>.</p>"
          }
        },
        "versionDescription": {
          "target": "com.amazonaws.sfn#VersionDescription",
          "traits": {
            "smithy.api#documentation": "<p>Sets description about the state machine version. You can only set the description if the <code>publish</code> parameter is set to <code>true</code>. Otherwise, if you set <code>versionDescription</code>, but <code>publish</code> to <code>false</code>, this API action throws <code>ValidationException</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#CreateStateMachineOutput": {
      "type": "structure",
      "members": {
        "stateMachineArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the created state machine.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.sfn#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the state machine is created.</p>",
            "smithy.api#required": {}
          }
        },
        "stateMachineVersionArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the created state machine version. If you do not set the <code>publish</code> parameter to <code>true</code>, this field returns null value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#Definition": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1048576
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.sfn#DeleteActivity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#DeleteActivityInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#DeleteActivityOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an activity.</p>"
      }
    },
    "com.amazonaws.sfn#DeleteActivityInput": {
      "type": "structure",
      "members": {
        "activityArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the activity to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#DeleteActivityOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#DeleteStateMachine": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#DeleteStateMachineInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#DeleteStateMachineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        },
        {
          "target": "com.amazonaws.sfn#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a state machine. This is an asynchronous operation: It sets the state machine's\n      status to <code>DELETING</code> and begins the deletion process. </p>\n         <p>A qualified state machine ARN can either refer to a <i>Distributed Map state</i> defined within a state machine, a version ARN, or an alias ARN.</p>\n         <p>The following are some examples of qualified and unqualified state machine ARNs:</p>\n         <ul>\n            <li>\n               <p>The following qualified state machine ARN refers to a <i>Distributed Map state</i> with a label <code>mapStateLabel</code> in a state machine named <code>myStateMachine</code>.</p>\n               <p>\n                  <code>arn:partition:states:region:account-id:stateMachine:myStateMachine/mapStateLabel</code>\n               </p>\n               <note>\n                  <p>If you provide a qualified state machine ARN that refers to a <i>Distributed Map state</i>, the request fails with <code>ValidationException</code>.</p>\n               </note>\n            </li>\n            <li>\n               <p>The following unqualified state machine ARN refers to a state machine named <code>myStateMachine</code>.</p>\n               <p>\n                  <code>arn:partition:states:region:account-id:stateMachine:myStateMachine</code>\n               </p>\n            </li>\n         </ul>\n         <p>This API action also deletes all <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-state-machine-version.html\">versions</a> and <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-state-machine-alias.html\">aliases</a> associated with a state machine.</p>\n         <note>\n            <p>For <code>EXPRESS</code> state machines, the deletion happens eventually (usually in\n        less than a minute). Running executions may emit logs after <code>DeleteStateMachine</code>\n        API is called.</p>\n         </note>"
      }
    },
    "com.amazonaws.sfn#DeleteStateMachineAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#DeleteStateMachineAliasInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#DeleteStateMachineAliasOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#ConflictException"
        },
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        },
        {
          "target": "com.amazonaws.sfn#ResourceNotFound"
        },
        {
          "target": "com.amazonaws.sfn#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a state machine <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-state-machine-alias.html\">alias</a>.</p>\n         <p>After you delete a state machine alias, you can't use it to start executions. When you\n      delete a state machine alias, Step Functions doesn't delete the state machine versions\n      that alias references.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateStateMachineAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeStateMachineAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListStateMachineAliases</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateStateMachineAlias</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.sfn#DeleteStateMachineAliasInput": {
      "type": "structure",
      "members": {
        "stateMachineAliasArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the state machine alias to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#DeleteStateMachineAliasOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#DeleteStateMachineInput": {
      "type": "structure",
      "members": {
        "stateMachineArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the state machine to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#DeleteStateMachineOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#DeleteStateMachineVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#DeleteStateMachineVersionInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#DeleteStateMachineVersionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#ConflictException"
        },
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        },
        {
          "target": "com.amazonaws.sfn#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a state machine <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-state-machine-version.html\">version</a>. After\n      you delete a version, you can't call <a>StartExecution</a> using that version's ARN\n      or use\n      the\n      version with a state machine <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-state-machine-alias.html\">alias</a>.</p>\n         <note>\n            <p>Deleting a state machine version won't terminate its in-progress executions.</p>\n         </note>\n         <note>\n            <p>You can't delete a state machine version currently referenced by one or more aliases. Before you delete a version, you must either delete the aliases or update them to point to another state machine version.</p>\n         </note>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>PublishStateMachineVersion</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListStateMachineVersions</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.sfn#DeleteStateMachineVersionInput": {
      "type": "structure",
      "members": {
        "stateMachineVersionArn": {
          "target": "com.amazonaws.sfn#LongArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the state machine version to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#DeleteStateMachineVersionOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#DescribeActivity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#DescribeActivityInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#DescribeActivityOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#ActivityDoesNotExist"
        },
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an activity.</p>\n         <note>\n            <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p>\n         </note>"
      }
    },
    "com.amazonaws.sfn#DescribeActivityInput": {
      "type": "structure",
      "members": {
        "activityArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the activity to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#DescribeActivityOutput": {
      "type": "structure",
      "members": {
        "activityArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the activity.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.sfn#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the activity.</p>\n         <p>A name must <i>not</i> contain:</p>\n         <ul>\n            <li>\n               <p>white space</p>\n            </li>\n            <li>\n               <p>brackets <code>< > { } [ ]</code>\n               </p>\n            </li>\n            <li>\n               <p>wildcard characters <code>? *</code>\n               </p>\n            </li>\n            <li>\n               <p>special characters <code>\" # % \\ ^ | ~ ` $ & , ; : /</code>\n               </p>\n            </li>\n            <li>\n               <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p>\n            </li>\n         </ul>\n         <p>To enable logging with CloudWatch Logs, the name should only contain  0-9, A-Z, a-z, - and _.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.sfn#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the activity is created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#DescribeExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#DescribeExecutionInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#DescribeExecutionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#ExecutionDoesNotExist"
        },
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a state machine execution, such as the state machine\n      associated with the execution, the execution input and output, and relevant execution\n      metadata. Use this API action to return the Map Run Amazon Resource Name (ARN) if the execution was\n      dispatched by a Map Run.</p>\n         <p>If you specify a version or alias ARN when you call the <a>StartExecution</a>\n      API action, <code>DescribeExecution</code> returns that ARN.</p>\n         <note>\n            <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p>\n         </note>\n         <p>Executions of an <code>EXPRESS</code> state machinearen't supported by <code>DescribeExecution</code> unless a Map Run dispatched them.</p>"
      }
    },
    "com.amazonaws.sfn#DescribeExecutionInput": {
      "type": "structure",
      "members": {
        "executionArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the execution to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#DescribeExecutionOutput": {
      "type": "structure",
      "members": {
        "executionArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the execution.</p>",
            "smithy.api#required": {}
          }
        },
        "stateMachineArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the executed stated machine.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.sfn#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the execution.</p>\n         <p>A name must <i>not</i> contain:</p>\n         <ul>\n            <li>\n               <p>white space</p>\n            </li>\n            <li>\n               <p>brackets <code>< > { } [ ]</code>\n               </p>\n            </li>\n            <li>\n               <p>wildcard characters <code>? *</code>\n               </p>\n            </li>\n            <li>\n               <p>special characters <code>\" # % \\ ^ | ~ ` $ & , ; : /</code>\n               </p>\n            </li>\n            <li>\n               <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p>\n            </li>\n         </ul>\n         <p>To enable logging with CloudWatch Logs, the name should only contain  0-9, A-Z, a-z, - and _.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.sfn#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the execution.</p>",
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "com.amazonaws.sfn#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the execution is started.</p>",
            "smithy.api#required": {}
          }
        },
        "stopDate": {
          "target": "com.amazonaws.sfn#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>If the execution ended, the date the execution stopped.</p>"
          }
        },
        "input": {
          "target": "com.amazonaws.sfn#SensitiveData",
          "traits": {
            "smithy.api#documentation": "<p>The string that contains the JSON input data of the execution. Length constraints apply to the payload size, and are expressed as bytes in UTF-8 encoding.</p>"
          }
        },
        "inputDetails": {
          "target": "com.amazonaws.sfn#CloudWatchEventsExecutionDataDetails"
        },
        "output": {
          "target": "com.amazonaws.sfn#SensitiveData",
          "traits": {
            "smithy.api#documentation": "<p>The JSON output data of the execution. Length constraints apply to the payload size, and are expressed as bytes in UTF-8 encoding.</p>\n         <note>\n            <p>This field is set only if the execution succeeds. If the execution fails, this field is\n        null.</p>\n         </note>"
          }
        },
        "outputDetails": {
          "target": "com.amazonaws.sfn#CloudWatchEventsExecutionDataDetails"
        },
        "traceHeader": {
          "target": "com.amazonaws.sfn#TraceHeader",
          "traits": {
            "smithy.api#documentation": "<p>The X-Ray trace header that was passed to the execution.</p>"
          }
        },
        "mapRunArn": {
          "target": "com.amazonaws.sfn#LongArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies a Map Run, which dispatched this execution.</p>"
          }
        },
        "error": {
          "target": "com.amazonaws.sfn#SensitiveError",
          "traits": {
            "smithy.api#documentation": "<p>The error string if the state machine execution failed.</p>"
          }
        },
        "cause": {
          "target": "com.amazonaws.sfn#SensitiveCause",
          "traits": {
            "smithy.api#documentation": "<p>The cause string if the state machine execution failed.</p>"
          }
        },
        "stateMachineVersionArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the state machine version associated with the execution. The version ARN is a combination of state machine ARN and the version number separated by a colon (:). For example, <code>stateMachineARN:1</code>.</p>\n         <p>If you start an execution from a <code>StartExecution</code> request without specifying a\n      state machine version or alias ARN, Step Functions returns a null value.</p>"
          }
        },
        "stateMachineAliasArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the state machine alias associated with the execution. The alias ARN is a combination of state machine ARN and the alias name separated by a colon (:). For example, <code>stateMachineARN:PROD</code>.</p>\n         <p>If you start an execution from a <code>StartExecution</code> request with a\n      state machine version ARN, this field will be null.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#DescribeMapRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#DescribeMapRunInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#DescribeMapRunOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        },
        {
          "target": "com.amazonaws.sfn#ResourceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a Map Run's configuration, progress, and results. For more information, see <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-examine-map-run.html\">Examining Map Run</a> in the <i>Step Functions Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.sfn#DescribeMapRunInput": {
      "type": "structure",
      "members": {
        "mapRunArn": {
          "target": "com.amazonaws.sfn#LongArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies a Map Run.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sfn#DescribeMapRunOutput": {
      "type": "structure",
      "members": {
        "mapRunArn": {
          "target": "com.amazonaws.sfn#LongArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies a Map Run.</p>",
            "smithy.api#required": {}
          }
        },
        "executionArn": {
          "target": "com.amazonaws.sfn#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the execution in which the Map Run was started.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.sfn#MapRunStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Map Run.</p>",
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "com.amazonaws.sfn#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the Map Run was started.</p>",
            "smithy.api#required": {}
          }
        },
        "stopDate": {
          "target": "com.amazonaws.sfn#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the Map Run was stopped.</p>"
          }
        },
        "maxConcurrency": {
          "target": "com.amazonaws.sfn#MaxConcurrency",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of child workflow executions configured to run in parallel for the Map Run at the same time.</p>",
            "smithy.api#required": {}
          }
        },
        "toleratedFailurePercentage": {
          "target": "com.amazonaws.sfn#ToleratedFailurePercentage",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum percentage of failed child workflow executions before the Map Run fails.</p>",
            "smithy.api#required": {}
          }
        },
        "toleratedFailureCount": {
          "target": "com.amazonaws.sfn#ToleratedFailureCount",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of failed child workflow executions before the Map Run fails.</p>",
            "smithy.api#required": {}
          }
        },
        "itemCounts": {
          "target": "com.amazonaws.sfn#MapRunItemCounts",
          "traits": {
            "smithy.api#documentation": "<p>A JSON object that contains information about the total number of items, and the item count for each processing status, such as <code>pending</code> and <code>failed</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "executionCounts": {
          "target": "com.amazonaws.sfn#MapRunExecutionCounts",
          "traits": {
            "smithy.api#documentation": "<p>A JSON object that contains information about the total number of child workflow executions for the Map Run, and the count of child workflow executions for each status, such as <code>failed</code> and <code>succeeded</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sfn#DescribeStateMachine": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sfn#DescribeStateMachineInput"
      },
      "output": {
        "target": "com.amazonaws.sfn#DescribeStateMachineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.sfn#InvalidArn"
        },
        {
          "target": "com.amazonaws.sfn#StateMachineDoesNotExist"
        }
      ],
      "traits": {
[...]
