{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.shield#AWSShield_20160616": {
      "type": "service",
      "version": "2016-06-02",
      "operations": [
        {
          "target": "com.amazonaws.shield#AssociateDRTLogBucket"
        },
        {
          "target": "com.amazonaws.shield#AssociateDRTRole"
        },
        {
          "target": "com.amazonaws.shield#AssociateHealthCheck"
        },
        {
          "target": "com.amazonaws.shield#AssociateProactiveEngagementDetails"
        },
        {
          "target": "com.amazonaws.shield#CreateProtection"
        },
        {
          "target": "com.amazonaws.shield#CreateProtectionGroup"
        },
        {
          "target": "com.amazonaws.shield#CreateSubscription"
        },
        {
          "target": "com.amazonaws.shield#DeleteProtection"
        },
        {
          "target": "com.amazonaws.shield#DeleteProtectionGroup"
        },
        {
          "target": "com.amazonaws.shield#DeleteSubscription"
        },
        {
          "target": "com.amazonaws.shield#DescribeAttack"
        },
        {
          "target": "com.amazonaws.shield#DescribeAttackStatistics"
        },
        {
          "target": "com.amazonaws.shield#DescribeDRTAccess"
        },
        {
          "target": "com.amazonaws.shield#DescribeEmergencyContactSettings"
        },
        {
          "target": "com.amazonaws.shield#DescribeProtection"
        },
        {
          "target": "com.amazonaws.shield#DescribeProtectionGroup"
        },
        {
          "target": "com.amazonaws.shield#DescribeSubscription"
        },
        {
          "target": "com.amazonaws.shield#DisableApplicationLayerAutomaticResponse"
        },
        {
          "target": "com.amazonaws.shield#DisableProactiveEngagement"
        },
        {
          "target": "com.amazonaws.shield#DisassociateDRTLogBucket"
        },
        {
          "target": "com.amazonaws.shield#DisassociateDRTRole"
        },
        {
          "target": "com.amazonaws.shield#DisassociateHealthCheck"
        },
        {
          "target": "com.amazonaws.shield#EnableApplicationLayerAutomaticResponse"
        },
        {
          "target": "com.amazonaws.shield#EnableProactiveEngagement"
        },
        {
          "target": "com.amazonaws.shield#GetSubscriptionState"
        },
        {
          "target": "com.amazonaws.shield#ListAttacks"
        },
        {
          "target": "com.amazonaws.shield#ListProtectionGroups"
        },
        {
          "target": "com.amazonaws.shield#ListProtections"
        },
        {
          "target": "com.amazonaws.shield#ListResourcesInProtectionGroup"
        },
        {
          "target": "com.amazonaws.shield#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.shield#TagResource"
        },
        {
          "target": "com.amazonaws.shield#UntagResource"
        },
        {
          "target": "com.amazonaws.shield#UpdateApplicationLayerAutomaticResponse"
        },
        {
          "target": "com.amazonaws.shield#UpdateEmergencyContactSettings"
        },
        {
          "target": "com.amazonaws.shield#UpdateProtectionGroup"
        },
        {
          "target": "com.amazonaws.shield#UpdateSubscription"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Shield",
          "arnNamespace": "shield",
          "cloudFormationName": "Shield",
          "cloudTrailEventSource": "shield.amazonaws.com",
          "endpointPrefix": "shield"
        },
        "aws.auth#sigv4": {
          "name": "shield"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Shield Advanced</fullname>\n         <p>This is the <i>Shield Advanced API Reference</i>. This guide is for developers who need detailed information about the Shield Advanced API actions,\n         data types, and errors. For detailed information about WAF and Shield Advanced features and an overview of how to use the WAF and Shield Advanced APIs, see the\n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">WAF and Shield Developer Guide</a>.</p>",
        "smithy.api#title": "AWS Shield",
        "smithy.api#xmlNamespace": {
          "uri": "http://ddp.amazonaws.com/doc/2016-06-02/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://shield-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "shield",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://shield-fips.us-east-1.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "shield",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://shield.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "shield",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://shield.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "shield",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://shield-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "aws-global"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://shield-fips.us-east-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://shield-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://shield.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://shield.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "shield",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://shield.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "shield",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://shield.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "aws-global",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.shield#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.shield#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that indicates the specified <code>AttackId</code> does not exist, or the requester does not have the appropriate permissions to access the <code>AttackId</code>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.shield#AccessDeniedForDependencyException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.shield#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In order to grant the necessary access to the Shield Response Team (SRT) the user submitting the request must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an Amazon Web Services Service</a>. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.shield#ApplicationLayerAutomaticResponseConfiguration": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.shield#ApplicationLayerAutomaticResponseStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether automatic application layer DDoS mitigation is enabled for the protection. </p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.shield#ResponseAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action setting that Shield Advanced should use in the WAF rules that it creates on behalf of the\n   protected resource in response to DDoS attacks. You specify this as part of the configuration for the automatic application layer DDoS mitigation feature,\n   when you enable or update automatic mitigation. Shield Advanced creates the WAF rules in a Shield Advanced-managed rule group, inside the web ACL that you have associated with the resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The automatic application layer DDoS mitigation settings for a <a>Protection</a>.\n       This configuration determines whether Shield Advanced automatically\n       manages rules in the web ACL in order to respond to application layer events that Shield Advanced determines to be DDoS attacks. </p>"
      }
    },
    "com.amazonaws.shield#ApplicationLayerAutomaticResponseStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.shield#AssociateDRTLogBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#AssociateDRTLogBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#AssociateDRTLogBucketResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#LimitsExceededException"
        },
        {
          "target": "com.amazonaws.shield#NoAssociatedRoleException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Authorizes the Shield Response Team (SRT) to access the specified Amazon S3 bucket containing log data such as Application Load Balancer access logs, CloudFront logs, or logs from third party sources. You can associate up to 10 Amazon S3 buckets with your subscription.</p>\n         <p>To use the services of the SRT and make an <code>AssociateDRTLogBucket</code> request, you must be subscribed to the <a href=\"http://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"http://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>"
      }
    },
    "com.amazonaws.shield#AssociateDRTLogBucketRequest": {
      "type": "structure",
      "members": {
        "LogBucket": {
          "target": "com.amazonaws.shield#LogBucket",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the logs that you want to share.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#AssociateDRTLogBucketResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#AssociateDRTRole": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#AssociateDRTRoleRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#AssociateDRTRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Authorizes the Shield Response Team (SRT) using the specified role, to access your Amazon Web Services account to assist with DDoS attack mitigation during potential attacks. This enables the SRT to inspect your WAF configuration and create or update WAF rules and web ACLs.</p>\n         <p>You can associate only one <code>RoleArn</code> with your subscription. If you submit an <code>AssociateDRTRole</code> request for an account that already has an associated role, the new <code>RoleArn</code> will replace the existing <code>RoleArn</code>. </p>\n         <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <code>AWSShieldDRTAccessPolicy</code> managed policy to the role that you'll specify in the request. You can access this policy in the IAM console at <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a>. For more information see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Adding and removing IAM identity permissions</a>. The role must also trust the service principal\n<code>drt.shield.amazonaws.com</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html\">IAM JSON policy elements: Principal</a>.</p>\n\n         <p>The SRT will have access only to your WAF and Shield resources. By submitting this request, you authorize the SRT to inspect your WAF and Shield configuration and create and update WAF rules and web ACLs on your behalf. The SRT takes these actions only if explicitly authorized by you.</p>\n         <p>You must have the <code>iam:PassRole</code> permission to make an <code>AssociateDRTRole</code> request. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a user permissions to pass a role to an Amazon Web Services service</a>. </p>\n         <p>To use the services of the SRT and make an <code>AssociateDRTRole</code> request, you must be subscribed to the <a href=\"http://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"http://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>"
      }
    },
    "com.amazonaws.shield#AssociateDRTRoleRequest": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "target": "com.amazonaws.shield#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role the SRT will use to access your Amazon Web Services account.</p>\n\t        <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role.  For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#AssociateDRTRoleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#AssociateHealthCheck": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#AssociateHealthCheckRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#AssociateHealthCheckResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#InvalidResourceException"
        },
        {
          "target": "com.amazonaws.shield#LimitsExceededException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds health-based detection to the Shield Advanced protection for a resource. Shield Advanced health-based detection uses the health of your Amazon Web Services resource to improve responsiveness and accuracy in attack detection and response.  </p>\n         <p>You define the health check in Route 53 and then associate it with your Shield Advanced protection. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/ddos-overview.html#ddos-advanced-health-check-option\">Shield Advanced Health-Based Detection</a> in the <i>WAF Developer Guide</i>. </p>"
      }
    },
    "com.amazonaws.shield#AssociateHealthCheckRequest": {
      "type": "structure",
      "members": {
        "ProtectionId": {
          "target": "com.amazonaws.shield#ProtectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object to add the health check association to. </p>",
            "smithy.api#required": {}
          }
        },
        "HealthCheckArn": {
          "target": "com.amazonaws.shield#HealthCheckArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the health check to associate with the protection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#AssociateHealthCheckResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#AssociateProactiveEngagementDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#AssociateProactiveEngagementDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#AssociateProactiveEngagementDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Initializes proactive engagement and sets the list of contacts for the Shield Response Team (SRT) to use. You must provide at least one phone number in the emergency contact list. </p>\n         <p>After you have initialized proactive engagement using this call, to disable or enable proactive engagement, use the calls <code>DisableProactiveEngagement</code> and <code>EnableProactiveEngagement</code>.  </p>\n         <note>\n            <p>This call defines the list of email addresses and phone numbers that the SRT can use to contact you for escalations to the SRT and to initiate proactive customer support.</p>\n            <p>The contacts that you provide in the request replace any contacts that were already defined. If you already have contacts defined and want to use them, retrieve the list using <code>DescribeEmergencyContactSettings</code> and then provide it to this call.  </p>\n         </note>"
      }
    },
    "com.amazonaws.shield#AssociateProactiveEngagementDetailsRequest": {
      "type": "structure",
      "members": {
        "EmergencyContactList": {
          "target": "com.amazonaws.shield#EmergencyContactList",
          "traits": {
            "smithy.api#documentation": "<p>A list of email addresses and phone numbers that the Shield Response Team (SRT) can use to contact you for escalations to the SRT and to initiate proactive customer support. </p>\n         <p>To enable proactive engagement, the contact list must include at least one phone number.</p>\n         <note>\n            <p>The contacts that you provide here replace any contacts that were already defined. If you already have contacts defined and want to use them, retrieve the list using <code>DescribeEmergencyContactSettings</code> and then provide it here.  </p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#AssociateProactiveEngagementDetailsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#AttackDetail": {
      "type": "structure",
      "members": {
        "AttackId": {
          "target": "com.amazonaws.shield#AttackId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the attack.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.shield#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>"
          }
        },
        "SubResources": {
          "target": "com.amazonaws.shield#SubResourceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.shield#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the attack started, in Unix time in seconds. </p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.shield#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the attack ended, in Unix time in seconds. </p>"
          }
        },
        "AttackCounters": {
          "target": "com.amazonaws.shield#SummarizedCounterList",
          "traits": {
            "smithy.api#documentation": "<p>List of counters that describe the attack for the specified time period.</p>"
          }
        },
        "AttackProperties": {
          "target": "com.amazonaws.shield#AttackProperties",
          "traits": {
            "smithy.api#documentation": "<p>The array of objects that provide details of the Shield event. </p>\n         <p>For infrastructure\n  layer events (L3 and L4 events), you can view metrics for top contributors in Amazon CloudWatch metrics.\n           For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/monitoring-cloudwatch.html#set-ddos-alarms\">Shield metrics and alarms</a>\n               in the <i>WAF Developer Guide</i>. </p>"
          }
        },
        "Mitigations": {
          "target": "com.amazonaws.shield#MitigationList",
          "traits": {
            "smithy.api#documentation": "<p>List of mitigation actions taken for the attack.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a DDoS attack.</p>"
      }
    },
    "com.amazonaws.shield#AttackId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\\\-]*$"
      }
    },
    "com.amazonaws.shield#AttackLayer": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NETWORK",
            "name": "NETWORK"
          },
          {
            "value": "APPLICATION",
            "name": "APPLICATION"
          }
        ]
      }
    },
    "com.amazonaws.shield#AttackProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shield#AttackProperty"
      }
    },
    "com.amazonaws.shield#AttackProperty": {
      "type": "structure",
      "members": {
        "AttackLayer": {
          "target": "com.amazonaws.shield#AttackLayer",
          "traits": {
            "smithy.api#documentation": "<p>The type of Shield event that was observed. <code>NETWORK</code> indicates layer 3 and layer 4 events and <code>APPLICATION</code>\n         indicates layer 7 events.</p>\n         <p>For infrastructure\n  layer events (L3 and L4 events), you can view metrics for top contributors in Amazon CloudWatch metrics.\n           For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/monitoring-cloudwatch.html#set-ddos-alarms\">Shield metrics and alarms</a>\n               in the <i>WAF Developer Guide</i>. </p>"
          }
        },
        "AttackPropertyIdentifier": {
          "target": "com.amazonaws.shield#AttackPropertyIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Defines the Shield event property information that is provided. The\n            <code>WORDPRESS_PINGBACK_REFLECTOR</code> and <code>WORDPRESS_PINGBACK_SOURCE</code>\n         values are valid only for WordPress reflective pingback events.</p>"
          }
        },
        "TopContributors": {
          "target": "com.amazonaws.shield#TopContributors",
          "traits": {
            "smithy.api#documentation": "<p>Contributor objects for the top five contributors to a Shield event. A contributor is a source of traffic that Shield Advanced identifies as responsible for some or all of an event.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.shield#Unit",
          "traits": {
            "smithy.api#documentation": "<p>The unit used for the <code>Contributor</code> \n            <code>Value</code> property. </p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.shield#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total contributions made to this Shield event by all contributors.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of a Shield event. This is provided as part of an <a>AttackDetail</a>.</p>"
      }
    },
    "com.amazonaws.shield#AttackPropertyIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DESTINATION_URL",
            "name": "DESTINATION_URL"
          },
          {
            "value": "REFERRER",
            "name": "REFERRER"
          },
          {
            "value": "SOURCE_ASN",
            "name": "SOURCE_ASN"
          },
          {
            "value": "SOURCE_COUNTRY",
            "name": "SOURCE_COUNTRY"
          },
          {
            "value": "SOURCE_IP_ADDRESS",
            "name": "SOURCE_IP_ADDRESS"
          },
          {
            "value": "SOURCE_USER_AGENT",
            "name": "SOURCE_USER_AGENT"
          },
          {
            "value": "WORDPRESS_PINGBACK_REFLECTOR",
            "name": "WORDPRESS_PINGBACK_REFLECTOR"
          },
          {
            "value": "WORDPRESS_PINGBACK_SOURCE",
            "name": "WORDPRESS_PINGBACK_SOURCE"
          }
        ]
      }
    },
    "com.amazonaws.shield#AttackStatisticsDataItem": {
      "type": "structure",
      "members": {
        "AttackVolume": {
          "target": "com.amazonaws.shield#AttackVolume",
          "traits": {
            "smithy.api#documentation": "<p>Information about the volume of attacks during the time period. If the accompanying <code>AttackCount</code> is zero, this setting might be empty.</p>"
          }
        },
        "AttackCount": {
          "target": "com.amazonaws.shield#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of attacks detected during the time period. This is always present, but might be zero. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single attack statistics data record. This is returned by <a>DescribeAttackStatistics</a> along with a time range indicating the time period that the attack statistics apply to.  </p>"
      }
    },
    "com.amazonaws.shield#AttackStatisticsDataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shield#AttackStatisticsDataItem"
      }
    },
    "com.amazonaws.shield#AttackSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shield#AttackSummary"
      }
    },
    "com.amazonaws.shield#AttackSummary": {
      "type": "structure",
      "members": {
        "AttackId": {
          "target": "com.amazonaws.shield#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the attack.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.shield#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.shield#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the attack, in Unix time in seconds. </p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.shield#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the attack, in Unix time in seconds. </p>"
          }
        },
        "AttackVectors": {
          "target": "com.amazonaws.shield#AttackVectorDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of attacks for a specified time period.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summarizes all DDoS attacks for a specified time period.</p>"
      }
    },
    "com.amazonaws.shield#AttackTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.shield#AttackVectorDescription": {
      "type": "structure",
      "members": {
        "VectorType": {
          "target": "com.amazonaws.shield#String",
          "traits": {
            "smithy.api#documentation": "<p>The attack type. Valid values:</p>\n\t        <ul>\n            <li>\n               <p>UDP_TRAFFIC</p>\n            </li>\n            <li>\n               <p>UDP_FRAGMENT</p>\n            </li>\n            <li>\n               <p>GENERIC_UDP_REFLECTION</p>\n            </li>\n            <li>\n               <p>DNS_REFLECTION</p>\n            </li>\n            <li>\n               <p>NTP_REFLECTION</p>\n            </li>\n            <li>\n               <p>CHARGEN_REFLECTION</p>\n            </li>\n            <li>\n               <p>SSDP_REFLECTION</p>\n            </li>\n            <li>\n               <p>PORT_MAPPER</p>\n            </li>\n            <li>\n               <p>RIP_REFLECTION</p>\n            </li>\n            <li>\n               <p>SNMP_REFLECTION</p>\n            </li>\n            <li>\n               <p>MSSQL_REFLECTION</p>\n            </li>\n            <li>\n               <p>NET_BIOS_REFLECTION</p>\n            </li>\n            <li>\n               <p>SYN_FLOOD</p>\n            </li>\n            <li>\n               <p>ACK_FLOOD</p>\n            </li>\n            <li>\n               <p>REQUEST_FLOOD</p> \n            </li>\n            <li>\n               <p>HTTP_REFLECTION</p>\n            </li>\n            <li>\n               <p>UDS_REFLECTION</p>\n            </li>\n            <li>\n               <p>MEMCACHED_REFLECTION</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the attack.</p>"
      }
    },
    "com.amazonaws.shield#AttackVectorDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shield#AttackVectorDescription"
      }
    },
    "com.amazonaws.shield#AttackVolume": {
      "type": "structure",
      "members": {
        "BitsPerSecond": {
          "target": "com.amazonaws.shield#AttackVolumeStatistics",
          "traits": {
            "smithy.api#documentation": "<p>A statistics object that uses bits per second as the unit. This is included for network level attacks. </p>"
          }
        },
        "PacketsPerSecond": {
          "target": "com.amazonaws.shield#AttackVolumeStatistics",
          "traits": {
            "smithy.api#documentation": "<p>A statistics object that uses packets per second as the unit. This is included for network level attacks. </p>"
          }
        },
        "RequestsPerSecond": {
          "target": "com.amazonaws.shield#AttackVolumeStatistics",
          "traits": {
            "smithy.api#documentation": "<p>A statistics object that uses requests per second as the unit. This is included for application level attacks, and is only available for accounts that are subscribed to Shield Advanced.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the volume of attacks during the time period, included in an <a>AttackStatisticsDataItem</a>. If the accompanying <code>AttackCount</code> in the statistics object is zero, this setting might be empty.</p>"
      }
    },
    "com.amazonaws.shield#AttackVolumeStatistics": {
      "type": "structure",
      "members": {
        "Max": {
          "target": "com.amazonaws.shield#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum attack volume observed for the given unit.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Statistics objects for the various data types in <a>AttackVolume</a>. </p>"
      }
    },
    "com.amazonaws.shield#AutoRenew": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.shield#BlockAction": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Specifies that Shield Advanced should configure its WAF rules with the WAF <code>Block</code> action. </p>\n            <p>This is only used in the context of the <code>ResponseAction</code> setting. </p> \n         <p>JSON specification: <code>\"Block\": {}</code>\n         </p>"
      }
    },
    "com.amazonaws.shield#ContactNotes": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\w\\s\\.\\-,:/()+@]*$"
      }
    },
    "com.amazonaws.shield#Contributor": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.shield#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contributor. The type of name that you'll find here depends on the <code>AttackPropertyIdentifier</code> setting in the <code>AttackProperty</code> where this contributor is defined. For example, if the <code>AttackPropertyIdentifier</code> is <code>SOURCE_COUNTRY</code>, the <code>Name</code> could be <code>United States</code>.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.shield#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The contribution of this contributor expressed in <a>Protection</a> units. For example <code>10,000</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A contributor to the attack and their contribution. </p>"
      }
    },
    "com.amazonaws.shield#CountAction": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Specifies that Shield Advanced should configure its WAF rules with the WAF <code>Count</code> action. </p>\n            <p>This is only used in the context of the <code>ResponseAction</code> setting. </p> \n         <p>JSON specification: <code>\"Count\": {}</code>\n         </p>"
      }
    },
    "com.amazonaws.shield#CreateProtection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#CreateProtectionRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#CreateProtectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#InvalidResourceException"
        },
        {
          "target": "com.amazonaws.shield#LimitsExceededException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables Shield Advanced for a specific Amazon Web Services resource. The resource can be an Amazon CloudFront distribution, Amazon Route 53 hosted zone, Global Accelerator standard accelerator, Elastic IP Address, Application Load Balancer, or a Classic Load Balancer. You can protect Amazon EC2 instances and Network Load Balancers by association with protected Amazon EC2 Elastic IP addresses.</p>\n         <p>You can add protection to only a single resource with each <code>CreateProtection</code> request. You can add protection to multiple resources\n          at once through the Shield Advanced console at <a href=\"https://console.aws.amazon.com/wafv2/shieldv2#/\">https://console.aws.amazon.com/wafv2/shieldv2#/</a>.\n              For more information see\n          <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/getting-started-ddos.html\">Getting Started with Shield Advanced</a>\n              and <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/configure-new-protection.html\">Adding Shield Advanced protection to Amazon Web Services resources</a>.</p>"
      }
    },
    "com.amazonaws.shield#CreateProtectionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#CreateProtectionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#CreateProtectionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#LimitsExceededException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a grouping of protected resources so they can be handled as a collective. This resource grouping improves the accuracy of detection and reduces false positives. </p>"
      }
    },
    "com.amazonaws.shield#CreateProtectionGroupRequest": {
      "type": "structure",
      "members": {
        "ProtectionGroupId": {
          "target": "com.amazonaws.shield#ProtectionGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the protection group. You use this to identify the protection group in lists and to manage the protection group, for example to update, delete, or describe it. </p>",
            "smithy.api#required": {}
          }
        },
        "Aggregation": {
          "target": "com.amazonaws.shield#ProtectionGroupAggregation",
          "traits": {
            "smithy.api#documentation": "<p>Defines how Shield combines resource data for the group in order to detect, mitigate, and report events.</p>\n         <ul>\n            <li>\n               <p>Sum - Use the total traffic across the group. This is a good choice for most cases. Examples include Elastic IP addresses for EC2 instances that scale manually or automatically.</p>\n            </li>\n            <li>\n               <p>Mean - Use the average of the traffic across the group. This is a good choice for resources that share traffic uniformly. Examples include accelerators and load balancers.</p>\n            </li>\n            <li>\n               <p>Max - Use the highest traffic from each resource. This is useful for resources that don't share traffic and for resources that share that traffic in a non-uniform way. Examples include Amazon CloudFront and origin resources for CloudFront distributions.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Pattern": {
          "target": "com.amazonaws.shield#ProtectionGroupPattern",
          "traits": {
            "smithy.api#documentation": "<p>The criteria to use to choose the protected resources for inclusion in the group. You can include all resources that have protections, provide a list of resource Amazon Resource Names (ARNs), or include all resources of a specified resource type. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.shield#ProtectedResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type to include in the protection group. All protected resources of this type are included in the protection group. Newly protected resources of this type are automatically added to the group.\n           You must set this when you set <code>Pattern</code> to <code>BY_RESOURCE_TYPE</code> and you must not set it for any other <code>Pattern</code> setting. </p>"
          }
        },
        "Members": {
          "target": "com.amazonaws.shield#ProtectionGroupMembers",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the resources to include in the protection group. You must set this when you set <code>Pattern</code> to <code>ARBITRARY</code> and you must not set it for any other <code>Pattern</code> setting. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.shield#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tag key-value pairs for the protection group.</p>"
          }
        }
      }
    },
    "com.amazonaws.shield#CreateProtectionGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#CreateProtectionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.shield#ProtectionName",
          "traits": {
            "smithy.api#documentation": "<p>Friendly name for the <code>Protection</code> you are creating.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.shield#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the resource to be protected.</p>\n         <p>The ARN should be in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Elastic Load Balancer (Classic Load Balancer): <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/<i>load-balancer-name</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Amazon CloudFront distribution: <code>arn:aws:cloudfront::<i>account-id</i>:distribution/<i>distribution-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Global Accelerator standard accelerator: <code>arn:aws:globalaccelerator::<i>account-id</i>:accelerator/<i>accelerator-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For Amazon Route 53: <code>arn:aws:route53:::hostedzone/<i>hosted-zone-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Elastic IP address: <code>arn:aws:ec2:<i>region</i>:<i>account-id</i>:eip-allocation/<i>allocation-id</i>\n                  </code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.shield#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tag key-value pairs for the <a>Protection</a> object that is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.shield#CreateProtectionResponse": {
      "type": "structure",
      "members": {
        "ProtectionId": {
          "target": "com.amazonaws.shield#ProtectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object that is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.shield#CreateSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#CreateSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#CreateSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates Shield Advanced for an account.</p>\n         <note>\n            <p>For accounts that are members of an Organizations organization, Shield Advanced subscriptions are billed against the organization's payer account,\n              regardless of whether the payer account itself is subscribed. </p> \n         </note>\n         <p>When you initially create a subscription, your subscription is set to be automatically renewed at the end of the existing subscription period.  You can change this by submitting an <code>UpdateSubscription</code> request. </p>"
      }
    },
    "com.amazonaws.shield#CreateSubscriptionRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#CreateSubscriptionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DeleteProtection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DeleteProtectionRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DeleteProtectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Shield Advanced <a>Protection</a>.</p>"
      }
    },
    "com.amazonaws.shield#DeleteProtectionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DeleteProtectionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DeleteProtectionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified protection group.</p>"
      }
    },
    "com.amazonaws.shield#DeleteProtectionGroupRequest": {
      "type": "structure",
      "members": {
        "ProtectionGroupId": {
          "target": "com.amazonaws.shield#ProtectionGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the protection group. You use this to identify the protection group in lists and to manage the protection group, for example to update, delete, or describe it. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#DeleteProtectionGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DeleteProtectionRequest": {
      "type": "structure",
      "members": {
        "ProtectionId": {
          "target": "com.amazonaws.shield#ProtectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object to be\n         deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#DeleteProtectionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DeleteSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DeleteSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DeleteSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#LockedSubscriptionException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {},
        "smithy.api#documentation": "<p>Removes Shield Advanced from an account. Shield Advanced requires a 1-year subscription commitment. You cannot delete a subscription prior to the completion of that commitment. </p>"
      }
    },
    "com.amazonaws.shield#DeleteSubscriptionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#deprecated": {}
      }
    },
    "com.amazonaws.shield#DeleteSubscriptionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#deprecated": {}
      }
    },
    "com.amazonaws.shield#DescribeAttack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DescribeAttackRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DescribeAttackResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the details of a DDoS attack. </p>"
      }
    },
    "com.amazonaws.shield#DescribeAttackRequest": {
      "type": "structure",
      "members": {
        "AttackId": {
          "target": "com.amazonaws.shield#AttackId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the attack.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#DescribeAttackResponse": {
      "type": "structure",
      "members": {
        "Attack": {
          "target": "com.amazonaws.shield#AttackDetail",
          "traits": {
            "smithy.api#documentation": "<p>The attack that you requested. </p>"
          }
        }
      }
    },
    "com.amazonaws.shield#DescribeAttackStatistics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DescribeAttackStatisticsRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DescribeAttackStatisticsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the number and type of attacks Shield has detected in the last year for all resources that belong to your account, regardless of whether you've defined Shield protections for them. This operation is available to Shield customers as well as to Shield Advanced customers.</p>\n         <p>The operation returns data for the time range of midnight UTC, one year ago, to midnight UTC, today. For example, if the current time is <code>2020-10-26 15:39:32 PDT</code>, equal to <code>2020-10-26 22:39:32 UTC</code>, then the time range for the attack data returned is from <code>2019-10-26 00:00:00 UTC</code> to <code>2020-10-26 00:00:00 UTC</code>. </p>\n         <p>The time range indicates the period covered by the attack statistics data items.</p>"
      }
    },
    "com.amazonaws.shield#DescribeAttackStatisticsRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DescribeAttackStatisticsResponse": {
      "type": "structure",
      "members": {
        "TimeRange": {
          "target": "com.amazonaws.shield#TimeRange",
          "traits": {
            "smithy.api#documentation": "<p>The time range of the attack.</p>",
            "smithy.api#required": {}
          }
        },
        "DataItems": {
          "target": "com.amazonaws.shield#AttackStatisticsDataList",
          "traits": {
            "smithy.api#documentation": "<p>The data that describes the attacks detected during the time period.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#DescribeDRTAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DescribeDRTAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DescribeDRTAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the current role and list of Amazon S3 log buckets used by the Shield Response Team (SRT) to access your Amazon Web Services account while assisting with attack mitigation.</p>"
      }
    },
    "com.amazonaws.shield#DescribeDRTAccessRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DescribeDRTAccessResponse": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "target": "com.amazonaws.shield#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role the SRT used to access your Amazon Web Services account.</p>"
          }
        },
        "LogBucketList": {
          "target": "com.amazonaws.shield#LogBucketList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon S3 buckets accessed by the SRT.</p>"
          }
        }
      }
    },
    "com.amazonaws.shield#DescribeEmergencyContactSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DescribeEmergencyContactSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DescribeEmergencyContactSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A list of email addresses and phone numbers that the Shield Response Team (SRT) can use to contact you if you have proactive engagement enabled, for escalations to the SRT and to initiate proactive customer support.</p>"
      }
    },
    "com.amazonaws.shield#DescribeEmergencyContactSettingsRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DescribeEmergencyContactSettingsResponse": {
      "type": "structure",
      "members": {
        "EmergencyContactList": {
          "target": "com.amazonaws.shield#EmergencyContactList",
          "traits": {
            "smithy.api#documentation": "<p>A list of email addresses and phone numbers that the Shield Response Team (SRT) can use to contact you if you have proactive engagement enabled, for escalations to the SRT and to initiate proactive customer support.</p>"
          }
        }
      }
    },
    "com.amazonaws.shield#DescribeProtection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DescribeProtectionRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DescribeProtectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the details of a <a>Protection</a> object.</p>"
      }
    },
    "com.amazonaws.shield#DescribeProtectionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DescribeProtectionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DescribeProtectionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the specification for the specified protection group.</p>"
      }
    },
    "com.amazonaws.shield#DescribeProtectionGroupRequest": {
      "type": "structure",
      "members": {
        "ProtectionGroupId": {
          "target": "com.amazonaws.shield#ProtectionGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the protection group. You use this to identify the protection group in lists and to manage the protection group, for example to update, delete, or describe it. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#DescribeProtectionGroupResponse": {
      "type": "structure",
      "members": {
        "ProtectionGroup": {
          "target": "com.amazonaws.shield#ProtectionGroup",
          "traits": {
            "smithy.api#documentation": "<p>A grouping of protected resources that you and Shield Advanced can monitor as a collective. This resource grouping improves the accuracy of detection and reduces false positives. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#DescribeProtectionRequest": {
      "type": "structure",
      "members": {
        "ProtectionId": {
          "target": "com.amazonaws.shield#ProtectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object to describe. \n           You must provide either the <code>ResourceArn</code> of the protected resource or the <code>ProtectionID</code> of the protection, but not both.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.shield#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the protected Amazon Web Services resource. \n           You must provide either the <code>ResourceArn</code> of the protected resource or the <code>ProtectionID</code> of the protection, but not both.</p>"
          }
        }
      }
    },
    "com.amazonaws.shield#DescribeProtectionResponse": {
      "type": "structure",
      "members": {
        "Protection": {
          "target": "com.amazonaws.shield#Protection",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Protection</a> that you requested. </p>"
          }
        }
      }
    },
    "com.amazonaws.shield#DescribeSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DescribeSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DescribeSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about the Shield Advanced subscription for an account.</p>"
      }
    },
    "com.amazonaws.shield#DescribeSubscriptionRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DescribeSubscriptionResponse": {
      "type": "structure",
      "members": {
        "Subscription": {
          "target": "com.amazonaws.shield#Subscription",
          "traits": {
            "smithy.api#documentation": "<p>The Shield Advanced subscription details for an account.</p>"
          }
        }
      }
    },
    "com.amazonaws.shield#DisableApplicationLayerAutomaticResponse": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DisableApplicationLayerAutomaticResponseRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DisableApplicationLayerAutomaticResponseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disable the Shield Advanced automatic application layer DDoS mitigation feature for the protected resource. This\n       stops Shield Advanced from creating, verifying, and applying WAF rules for attacks that it detects for the resource. </p>"
      }
    },
    "com.amazonaws.shield#DisableApplicationLayerAutomaticResponseRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.shield#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the protected resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#DisableApplicationLayerAutomaticResponseResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DisableProactiveEngagement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DisableProactiveEngagementRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DisableProactiveEngagementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes authorization from the Shield Response Team (SRT) to notify contacts about escalations to the SRT and to initiate proactive customer support.</p>"
      }
    },
    "com.amazonaws.shield#DisableProactiveEngagementRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DisableProactiveEngagementResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DisassociateDRTLogBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DisassociateDRTLogBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DisassociateDRTLogBucketResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#NoAssociatedRoleException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the Shield Response Team's (SRT) access to the specified Amazon S3 bucket containing the logs that you shared previously.</p>"
      }
    },
    "com.amazonaws.shield#DisassociateDRTLogBucketRequest": {
      "type": "structure",
      "members": {
        "LogBucket": {
          "target": "com.amazonaws.shield#LogBucket",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the logs that you want to share.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#DisassociateDRTLogBucketResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DisassociateDRTRole": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DisassociateDRTRoleRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DisassociateDRTRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the Shield Response Team's (SRT) access to your Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.shield#DisassociateDRTRoleRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DisassociateDRTRoleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#DisassociateHealthCheck": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#DisassociateHealthCheckRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#DisassociateHealthCheckResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#InvalidResourceException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes health-based detection from the Shield Advanced protection for a resource. Shield Advanced health-based detection uses the health of your Amazon Web Services resource to improve responsiveness and accuracy in attack detection and response. </p>\n         <p>You define the health check in Route 53 and then associate or disassociate it with your Shield Advanced protection. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/ddos-overview.html#ddos-advanced-health-check-option\">Shield Advanced Health-Based Detection</a> in the <i>WAF Developer Guide</i>. </p>"
      }
    },
    "com.amazonaws.shield#DisassociateHealthCheckRequest": {
      "type": "structure",
      "members": {
        "ProtectionId": {
          "target": "com.amazonaws.shield#ProtectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object to remove the health check association from. </p>",
            "smithy.api#required": {}
          }
        },
        "HealthCheckArn": {
          "target": "com.amazonaws.shield#HealthCheckArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the health check that is associated with the protection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#DisassociateHealthCheckResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#Double": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.shield#DurationInSeconds": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.shield#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        },
        "smithy.api#pattern": "^\\S+@\\S+\\.\\S+$"
      }
    },
    "com.amazonaws.shield#EmergencyContact": {
      "type": "structure",
      "members": {
        "EmailAddress": {
          "target": "com.amazonaws.shield#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email address for the contact.</p>",
            "smithy.api#required": {}
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.shield#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number for the contact.</p>"
          }
        },
        "ContactNotes": {
          "target": "com.amazonaws.shield#ContactNotes",
          "traits": {
            "smithy.api#documentation": "<p>Additional notes regarding the contact. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contact information that the SRT can use to contact you if you have proactive engagement enabled, for escalations to the SRT and to initiate proactive customer support.</p>"
      }
    },
    "com.amazonaws.shield#EmergencyContactList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shield#EmergencyContact"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.shield#EnableApplicationLayerAutomaticResponse": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#EnableApplicationLayerAutomaticResponseRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#EnableApplicationLayerAutomaticResponseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#LimitsExceededException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enable the Shield Advanced automatic application layer DDoS mitigation for the protected resource. </p>\n         <note>\n            <p>This feature is available for Amazon CloudFront distributions and Application Load Balancers only.</p>\n         </note>\n         <p>This causes Shield Advanced to create, verify, and apply WAF rules for DDoS attacks that it detects for the\n       resource. Shield Advanced applies the rules in a Shield rule group inside the web ACL that you've associated\n           with the resource. For information about how automatic mitigation works and the requirements for using it, see\n   <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/ddos-advanced-automatic-app-layer-response.html\">Shield Advanced automatic application layer DDoS mitigation</a>.</p>\n         <note>\n            <p>Don't use this action to make changes to automatic mitigation settings when it's already enabled for a resource. Instead, use <a>UpdateApplicationLayerAutomaticResponse</a>.</p>\n         </note>\n         <p>To use this feature, you must associate a web ACL with the protected resource. The web ACL must be created using the latest version of WAF (v2). You can associate the web ACL through the Shield Advanced console\n           at <a href=\"https://console.aws.amazon.com/wafv2/shieldv2#/\">https://console.aws.amazon.com/wafv2/shieldv2#/</a>. For more information,\n               see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/getting-started-ddos.html\">Getting Started with Shield Advanced</a>. You can also associate the web ACL to the resource through the WAF console or the WAF API, but you must manage Shield Advanced automatic mitigation through Shield Advanced. For information about WAF, see\n       <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.shield#EnableApplicationLayerAutomaticResponseRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.shield#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the protected resource.</p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.shield#ResponseAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action setting that Shield Advanced should use in the WAF rules that it creates on behalf of the\n   protected resource in response to DDoS attacks. You specify this as part of the configuration for the automatic application layer DDoS mitigation feature,\n   when you enable or update automatic mitigation. Shield Advanced creates the WAF rules in a Shield Advanced-managed rule group, inside the web ACL that you have associated with the resource. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.shield#EnableApplicationLayerAutomaticResponseResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.shield#EnableProactiveEngagement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shield#EnableProactiveEngagementRequest"
      },
      "output": {
        "target": "com.amazonaws.shield#EnableProactiveEngagementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shield#InternalErrorException"
        },
        {
          "target": "com.amazonaws.shield#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.shield#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.shield#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.shield#ResourceNotFoundException"
        }
      ],
      "traits": {
[...]
