{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.signin#AccessDeniedException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.signin#OAuth2ErrorCode",
          "traits": {
            "smithy.api#documentation": "OAuth 2.0 error code indicating the specific type of access denial\nCan be TOKEN_EXPIRED, AUTHCODE_EXPIRED, USER_CREDENTIALS_CHANGED, or INSUFFICIENT_PERMISSIONS",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed message explaining the access denial\nProvides specific information about why access was denied",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error thrown for access denied scenarios with flexible HTTP status mapping\n\nRuntime HTTP Status Code Mapping:\n- HTTP 401 (Unauthorized): TOKEN_EXPIRED, AUTHCODE_EXPIRED\n- HTTP 403 (Forbidden): USER_CREDENTIALS_CHANGED, INSUFFICIENT_PERMISSIONS\n\nThe specific HTTP status code is determined at runtime based on the error enum value.\nConsumers should use the error field to determine the specific access denial reason.",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.signin#AccessToken": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS access key ID for temporary credentials",
            "smithy.api#jsonName": "accessKeyId",
            "smithy.api#required": {}
          }
        },
        "secretAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS secret access key for temporary credentials",
            "smithy.api#jsonName": "secretAccessKey",
            "smithy.api#required": {}
          }
        },
        "sessionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS session token for temporary credentials",
            "smithy.api#jsonName": "sessionToken",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AWS credentials structure containing temporary access credentials\n\nScoped, temporary AWS credentials with a 15-minute duration.",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.signin#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "AWS account identifier",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.signin#AuthorizationCode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Authorization code received from AWS Sign-In /v1/authorize endpoint\n\nThe authorization code received from AWS Sign-In from /v1/authorize.\nUsed in auth code redemption flow only.",
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.signin#BearerTokenType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Token type for access tokens. Always \"Bearer\" per OAuth 2.1.",
        "smithy.api#pattern": "^Bearer$"
      }
    },
    "com.amazonaws.signin#ClientCredentialsGrantType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "OAuth 2.0 grant type for client_credentials flow.",
        "smithy.api#pattern": "^client_credentials$"
      }
    },
    "com.amazonaws.signin#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Client identifier pattern for AWS Sign-In devtools clients\n\nThe ARN used by client as part of Sign-In onboarding. Expected values:\n- arn:aws:signin:::devtools/cross-device (for cross-device devtools login)\n- arn:aws:signin:::devtools/same-device (for same-device devtools login)",
        "smithy.api#pattern": "^arn:aws:signin:::devtools/(cross-device|same-device)$"
      }
    },
    "com.amazonaws.signin#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Idempotency token",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[!-~]+$"
      }
    },
    "com.amazonaws.signin#CodeVerifier": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "PKCE code verifier for OAuth 2.0 security\n\nPKCE code verifier to prove possession of the original code challenge.\nUsed to prevent authorization code interception attacks in public clients.\nMust be 43-128 characters using unreserved characters [A-Z] / [a-z] / [0-9] / \"-\" / \".\" / \"_\" / \"~\"",
        "smithy.api#length": {
          "min": 43,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9\\-._~]+$"
      }
    },
    "com.amazonaws.signin#Condition": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.signin#ConditionValues"
      },
      "traits": {
        "smithy.api#documentation": "Condition mapping of keys to values"
      }
    },
    "com.amazonaws.signin#ConditionBlock": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.signin#ConditionType"
      },
      "value": {
        "target": "com.amazonaws.signin#Condition"
      },
      "traits": {
        "smithy.api#documentation": "Condition block for policy statements"
      }
    },
    "com.amazonaws.signin#ConditionType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Condition type identifier"
      }
    },
    "com.amazonaws.signin#ConditionValues": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of condition values"
      }
    },
    "com.amazonaws.signin#ConflictException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.signin#OAuth2ErrorCode",
          "traits": {
            "smithy.api#documentation": "OAuth 2.0 error code indicating conflict\nWill be CONFLICT",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed message explaining the conflict\nProvides specific information about what caused the conflict",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error thrown when request conflicts with current state\n\nHTTP Status Code: 409 Conflict\n\nUsed when the request conflicts with the current state of the resource",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.signin#ConsolePermissionMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#documentation": "Maximum number of results for list operations",
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.signin#CreateOAuth2Token": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#CreateOAuth2TokenRequest"
      },
      "output": {
        "target": "com.amazonaws.signin#CreateOAuth2TokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#auth": [],
        "smithy.api#documentation": "CreateOAuth2Token API\n\nPath: /v1/token\nRequest Method: POST\nContent-Type: application/json or application/x-www-form-urlencoded\n\nThis API implements OAuth 2.0 flows for AWS Sign-In CLI clients, supporting both:\n1. Authorization code redemption (grant_type=authorization_code) - NOT idempotent\n2. Token refresh (grant_type=refresh_token) - Idempotent within token validity window\n\nThe operation behavior is determined by the grant_type parameter in the request body:\n\n**Authorization Code Flow (NOT Idempotent):**\n- JSON or form-encoded body with client_id, grant_type=authorization_code, code, redirect_uri, code_verifier\n- Returns access_token, token_type, expires_in, refresh_token, and id_token\n- Each authorization code can only be used ONCE for security (prevents replay attacks)\n\n**Token Refresh Flow (Idempotent):**\n- JSON or form-encoded body with client_id, grant_type=refresh_token, refresh_token\n- Returns access_token, token_type, expires_in, and refresh_token (no id_token)\n- Multiple calls with same refresh_token return consistent results within validity window\n\nAuthentication and authorization:\n- Confidential clients: sigv4 signing required with signin:ExchangeToken permissions\n- CLI clients (public): authn/authz skipped based on client_id & grant_type\n\nNote: This operation cannot be marked as @idempotent because it handles both idempotent\n(token refresh) and non-idempotent (auth code redemption) flows in a single endpoint.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/token"
        },
        "smithy.rules#staticContextParams": {
          "IsControlPlane": {
            "value": false
          }
        },
        "smithy.test#smokeTests": [
          {
            "id": "TokenOperationSmokeTest",
            "params": {
              "tokenInput": {
                "clientId": "arn:aws:signin:::devtools/same-device",
                "grantType": "authorization_code",
                "code": "test-code",
                "redirectUri": "https://example.com",
                "codeVerifier": "test-code-verifier-1234567890abcdefghijklmnop"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {},
            "expect": {
              "failure": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.signin#CreateOAuth2TokenRequest": {
      "type": "structure",
      "members": {
        "tokenInput": {
          "target": "com.amazonaws.signin#CreateOAuth2TokenRequestBody",
          "traits": {
            "smithy.api#documentation": "Flattened token operation inputs\nThe specific operation is determined by grant_type in the request body",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input structure for CreateOAuth2Token operation\n\nContains flattened token operation inputs for both authorization code and refresh token flows.\nThe operation type is determined by the grant_type parameter in the request body.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#CreateOAuth2TokenRequestBody": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "com.amazonaws.signin#ClientId",
          "traits": {
            "smithy.api#documentation": "The client identifier (ARN) used during Sign-In onboarding\nRequired for both authorization code and refresh token flows",
            "smithy.api#jsonName": "clientId",
            "smithy.api#required": {}
          }
        },
        "grantType": {
          "target": "com.amazonaws.signin#GrantType",
          "traits": {
            "smithy.api#documentation": "OAuth 2.0 grant type - determines which flow is used\nMust be \"authorization_code\" or \"refresh_token\"",
            "smithy.api#jsonName": "grantType",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.amazonaws.signin#AuthorizationCode",
          "traits": {
            "smithy.api#documentation": "The authorization code received from /v1/authorize\nRequired only when grant_type=authorization_code"
          }
        },
        "redirectUri": {
          "target": "com.amazonaws.signin#RedirectUri",
          "traits": {
            "smithy.api#documentation": "The redirect URI that must match the original authorization request\nRequired only when grant_type=authorization_code",
            "smithy.api#jsonName": "redirectUri"
          }
        },
        "codeVerifier": {
          "target": "com.amazonaws.signin#CodeVerifier",
          "traits": {
            "smithy.api#documentation": "PKCE code verifier to prove possession of the original code challenge\nRequired only when grant_type=authorization_code",
            "smithy.api#jsonName": "codeVerifier"
          }
        },
        "refreshToken": {
          "target": "com.amazonaws.signin#RefreshToken",
          "traits": {
            "smithy.api#documentation": "The refresh token returned from auth_code redemption\nRequired only when grant_type=refresh_token",
            "smithy.api#jsonName": "refreshToken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request body payload for CreateOAuth2Token operation\n\nThe operation type is determined by the grant_type parameter:\n- grant_type=authorization_code: Requires code, redirect_uri, code_verifier\n- grant_type=refresh_token: Requires refresh_token"
      }
    },
    "com.amazonaws.signin#CreateOAuth2TokenResponse": {
      "type": "structure",
      "members": {
        "tokenOutput": {
          "target": "com.amazonaws.signin#CreateOAuth2TokenResponseBody",
          "traits": {
            "smithy.api#documentation": "Flattened token operation outputs\nThe specific response fields depend on the grant_type used in the request",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output structure for CreateOAuth2Token operation\n\nContains flattened token operation outputs for both authorization code and refresh token flows.\nThe response content depends on the grant_type from the original request.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#CreateOAuth2TokenResponseBody": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "com.amazonaws.signin#AccessToken",
          "traits": {
            "smithy.api#documentation": "Scoped-down AWS credentials (15 minute duration)\nPresent for both authorization code redemption and token refresh",
            "smithy.api#jsonName": "accessToken",
            "smithy.api#required": {}
          }
        },
        "tokenType": {
          "target": "com.amazonaws.signin#TokenType",
          "traits": {
            "smithy.api#documentation": "Token type indicating this is AWS SigV4 credentials\nValue is \"aws_sigv4\" for both flows",
            "smithy.api#jsonName": "tokenType",
            "smithy.api#required": {}
          }
        },
        "expiresIn": {
          "target": "com.amazonaws.signin#ExpiresIn",
          "traits": {
            "smithy.api#documentation": "Time to expiry in seconds (maximum 900)\nPresent for both authorization code redemption and token refresh",
            "smithy.api#jsonName": "expiresIn",
            "smithy.api#required": {}
          }
        },
        "refreshToken": {
          "target": "com.amazonaws.signin#RefreshToken",
          "traits": {
            "smithy.api#documentation": "Encrypted refresh token with cnf.jkt (SHA-256 thumbprint of presented jwk)\nAlways present in responses (required for both flows)",
            "smithy.api#jsonName": "refreshToken",
            "smithy.api#required": {}
          }
        },
        "idToken": {
          "target": "com.amazonaws.signin#IdToken",
          "traits": {
            "smithy.api#documentation": "ID token containing user identity information\nPresent only in authorization code redemption response (grant_type=authorization_code)\nNot included in token refresh responses",
            "smithy.api#jsonName": "idToken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response body payload for CreateOAuth2Token operation\n\nThe response content depends on the grant_type from the request:\n- grant_type=authorization_code: Returns all fields including refresh_token and id_token\n- grant_type=refresh_token: Returns access_token, token_type, expires_in, refresh_token (no id_token)"
      }
    },
    "com.amazonaws.signin#CreateOAuth2TokenWithIAM": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#CreateOAuth2TokenWithIAMRequest"
      },
      "output": {
        "target": "com.amazonaws.signin#CreateOAuth2TokenWithIAMResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "CreateOAuth2Token",
          "documentation": "Exchange client credentials for an OAuth 2.0 access token scoped to a resource"
        },
        "smithy.api#auth": ["aws.auth#sigv4"],
        "smithy.api#documentation": "Grants permission to exchange client credentials for an OAuth 2.0 access token\nscoped to a resource that can be used to access AWS services from applications",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/token?x-amz-client-auth-method=iam"
        },
        "smithy.rules#staticContextParams": {
          "IsOAuthEndpoint": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#CreateOAuth2TokenWithIAMRequest": {
      "type": "structure",
      "members": {
        "grantType": {
          "target": "com.amazonaws.signin#ClientCredentialsGrantType",
          "traits": {
            "smithy.api#documentation": "OAuth 2.0 grant type. Must be \"client_credentials\".",
            "smithy.api#jsonName": "grant_type",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth resource for which the access token is requested.\nExample: \"aws-mcp.amazonaws.com\".",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input structure for CreateOAuth2TokenWithIAM operation",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#CreateOAuth2TokenWithIAMResponse": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "com.amazonaws.signin#OAuthAccessToken",
          "traits": {
            "smithy.api#documentation": "JWT access token containing principal identity, resource scope, and session metadata",
            "smithy.api#jsonName": "access_token",
            "smithy.api#required": {}
          }
        },
        "tokenType": {
          "target": "com.amazonaws.signin#BearerTokenType",
          "traits": {
            "smithy.api#documentation": "Always \"Bearer\" per OAuth 2.1 specification",
            "smithy.api#jsonName": "token_type",
            "smithy.api#required": {}
          }
        },
        "expiresIn": {
          "target": "com.amazonaws.signin#TokenExpiresIn",
          "traits": {
            "smithy.api#documentation": "Token lifetime in seconds. Value is the minimum of session validity and 1 hour.",
            "smithy.api#jsonName": "expires_in",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output structure for CreateOAuth2TokenWithIAM operation\n\nContains the JWT access token, token type, and expiration per RFC 6749 §5.1.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#DeleteConsoleAuthorizationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#DeleteConsoleAuthorizationConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.signin#DeleteConsoleAuthorizationConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Delete console authorization configuration with automatic scope detection"
        },
        "smithy.api#documentation": "Delete console authorization configuration with automatic scope detection",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-console-authorization-configuration"
        },
        "smithy.api#idempotent": {},
        "smithy.rules#staticContextParams": {
          "IsControlPlane": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#DeleteConsoleAuthorizationConfigurationInput": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "com.amazonaws.signin#TargetId",
          "traits": {
            "smithy.api#documentation": "Target account identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for DeleteConsoleAuthorizationConfiguration operation",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#DeleteConsoleAuthorizationConfigurationOutput": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "com.amazonaws.signin#TargetId",
          "traits": {
            "smithy.api#documentation": "Target account identifier",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization scope",
            "smithy.api#required": {}
          }
        },
        "consoleAuthorizationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether console authorization is enabled",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output for DeleteConsoleAuthorizationConfiguration operation",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#DeleteResourcePermissionStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#DeleteResourcePermissionStatementInput"
      },
      "output": {
        "target": "com.amazonaws.signin#DeleteResourcePermissionStatementOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Remove a permission statement from the account's SignIn resource-based policy"
        },
        "smithy.api#documentation": "Remove a permission statement from the account's SignIn resource-based policy",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-resource-permission-statement"
        },
        "smithy.rules#staticContextParams": {
          "IsControlPlane": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#DeleteResourcePermissionStatementInput": {
      "type": "structure",
      "members": {
        "statementId": {
          "target": "com.amazonaws.signin#StatementId",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the permission statement to delete",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.signin#ClientToken",
          "traits": {
            "smithy.api#documentation": "Idempotency token for the request",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for DeleteResourcePermissionStatement operation",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#DeleteResourcePermissionStatementOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Output for DeleteResourcePermissionStatement operation",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#ExcludedPrincipal": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Principal to exclude from permission statements",
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:((iam::[0-9]{12}:role/[a-zA-Z0-9_+=,.@-]{1,64})|(iam::[0-9]{12}:user/[a-zA-Z0-9_+=,.@-]{1,64})|(sts::[0-9]{12}:federated-user/[a-zA-Z0-9_+=,.@-]{2,193})|(iam::[0-9]{12}:root))$"
      }
    },
    "com.amazonaws.signin#ExpiresIn": {
      "type": "integer",
      "traits": {
        "smithy.api#documentation": "Time to expiry in seconds\n\nThe time to expiry in seconds, for these purposes will be at most 900 (15 minutes).",
        "smithy.api#range": {
          "min": 1,
          "max": 900
        }
      }
    },
    "com.amazonaws.signin#GetConsoleAuthorizationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#GetConsoleAuthorizationConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.signin#GetConsoleAuthorizationConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Get console authorization configuration with automatic scope detection"
        },
        "smithy.api#documentation": "Get console authorization configuration with automatic scope detection",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-console-authorization-configuration"
        },
        "smithy.api#readonly": {},
        "smithy.rules#staticContextParams": {
          "IsControlPlane": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#GetConsoleAuthorizationConfigurationInput": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "com.amazonaws.signin#TargetId",
          "traits": {
            "smithy.api#documentation": "Target account identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for GetConsoleAuthorizationConfiguration operation",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#GetConsoleAuthorizationConfigurationOutput": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "com.amazonaws.signin#TargetId",
          "traits": {
            "smithy.api#documentation": "Target account identifier",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization scope",
            "smithy.api#required": {}
          }
        },
        "consoleAuthorizationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether console authorization is enabled",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output for GetConsoleAuthorizationConfiguration operation",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#GetResourcePolicyInput"
      },
      "output": {
        "target": "com.amazonaws.signin#GetResourcePolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Retrieve the account's consolidated SignIn resource-based policy"
        },
        "smithy.api#documentation": "Retrieve the account's consolidated SignIn resource-based policy",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-resource-policy"
        },
        "smithy.api#readonly": {},
        "smithy.rules#staticContextParams": {
          "IsControlPlane": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#GetResourcePolicyInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Input for GetResourcePolicy operation",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#GetResourcePolicyOutput": {
      "type": "structure",
      "members": {
        "signinResourceBasedPolicy": {
          "target": "com.amazonaws.signin#SigninResourceBasedPolicy",
          "traits": {
            "smithy.api#documentation": "The account's SignIn resource-based policy",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output for GetResourcePolicy operation",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#GrantType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "OAuth 2.0 grant type parameter\n\nFor auth code redemption: Must be \"authorization_code\"\nFor token refresh: Must be \"refresh_token\"\n\nBased on client_id & grant_type, authn/authz is skipped for CLI endpoints.",
        "smithy.api#pattern": "^(authorization_code|refresh_token)$"
      }
    },
    "com.amazonaws.signin#IdToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "ID token containing user identity information\n\nEncoded JWT token containing user identity claims and authentication context.\nReturned only in authorization code redemption responses (grant_type=authorization_code).\nContains user identity information such as ARN and other identity claims.",
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        }
      }
    },
    "com.amazonaws.signin#InternalServerException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.signin#OAuth2ErrorCode",
          "traits": {
            "smithy.api#documentation": "OAuth 2.0 error code indicating server error\nWill be SERVER_ERROR for internal server errors",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed message explaining the server error\nMay include error details for debugging purposes",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error thrown when an internal server error occurs\n\nHTTP Status Code: 500 Internal Server Error\n\nUsed for unexpected server-side errors that prevent request processing.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.signin#IntrospectOAuth2TokenWithIAM": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#IntrospectOAuth2TokenWithIAMRequest"
      },
      "output": {
        "target": "com.amazonaws.signin#IntrospectOAuth2TokenWithIAMResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "IntrospectOAuth2Token",
          "documentation": "Inspect the metadata of an AWS Sign-In OAuth 2.0 access_token or refresh_token"
        },
        "smithy.api#auth": ["aws.auth#sigv4"],
        "smithy.api#documentation": "Grants permission to inspect the metadata and state of an OAuth 2.0\naccess token or refresh token\n\nImplements RFC 7662 OAuth 2.0 Token Introspection over a SigV4-authenticated\nendpoint. Inspects the metadata of an access_token or refresh_token issued\nby AWS Sign-In and returns the claims associated with it.\n\nInactive token semantics (RFC 7662 §2.2): when the supplied token is\nunknown, expired, revoked, malformed, or owned by a different account,\nthe response body is exactly { \"active\": false } with all other claims\nomitted.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/introspect?x-amz-client-auth-method=iam"
        },
        "smithy.api#readonly": {},
        "smithy.rules#staticContextParams": {
          "IsOAuthEndpoint": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#IntrospectOAuth2TokenWithIAMRequest": {
      "type": "structure",
      "members": {
        "token": {
          "target": "com.amazonaws.signin#IntrospectionToken",
          "traits": {
            "smithy.api#documentation": "The string value of the token to introspect.\nMay be either an access_token or a refresh_token issued by AWS Sign-In.",
            "smithy.api#jsonName": "token",
            "smithy.api#required": {}
          }
        },
        "tokenTypeHint": {
          "target": "com.amazonaws.signin#TokenTypeHint",
          "traits": {
            "smithy.api#documentation": "Optional hint about the type of the token submitted for introspection.\nThe server uses this hint to optimize lookup, but still falls back to\nthe other token type on miss. Allowed values: access_token, refresh_token.",
            "smithy.api#jsonName": "token_type_hint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input structure for IntrospectOAuth2TokenWithIAM operation\n\nRFC 7662 §2.1 introspection request. Contains the token to inspect and an\noptional hint about the token's type.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#IntrospectOAuth2TokenWithIAMResponse": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the token is currently active. `true` only when the\ntoken is valid, has not expired, has not been revoked, and belongs to\nthe caller's account.",
            "smithy.api#required": {}
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client identifier for the OAuth 2.0 client that requested the token.",
            "smithy.api#jsonName": "client_id"
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User identifier matching sts:GetCallerIdentity's `UserId` field for the\ntoken's subject principal (e.g. \"AIDAEXAMPLE\" for an IAM user, or\n\"AROAEXAMPLE:session-name\" for an assumed role).",
            "smithy.api#jsonName": "user_id"
          }
        },
        "tokenType": {
          "target": "com.amazonaws.signin#IntrospectedTokenType",
          "traits": {
            "smithy.api#documentation": "Indicates which kind of token was introspected.\nOne of \"access_token\" or \"refresh_token\".",
            "smithy.api#jsonName": "token_type"
          }
        },
        "exp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Token expiration time as a NumericDate (Unix epoch seconds).",
            "smithy.api#jsonName": "exp"
          }
        },
        "iat": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Token issuance time as a NumericDate (Unix epoch seconds).",
            "smithy.api#jsonName": "iat"
          }
        },
        "nbf": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Token \"not before\" time as a NumericDate (Unix epoch seconds).",
            "smithy.api#jsonName": "nbf"
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subject of the token: the IAM principal ARN. For assumed-role sessions,\nthis is the session ARN (matches sts:GetCallerIdentity's `Arn` field),\ne.g. arn:aws:sts::123456789012:assumed-role/MyRole/session-name.",
            "smithy.api#jsonName": "sub"
          }
        },
        "aud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience of the token: the OAuth resource the token is scoped to\n(for example, \"aws-mcp.amazonaws.com\"). Omitted for refresh tokens.",
            "smithy.api#jsonName": "aud"
          }
        },
        "iss": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Issuer of the token. Always \"signin.amazonaws.com\" for AWS Sign-In.",
            "smithy.api#jsonName": "iss"
          }
        },
        "jti": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the token.",
            "smithy.api#jsonName": "jti"
          }
        },
        "accountId": {
          "target": "com.amazonaws.signin#AccountId",
          "traits": {
            "smithy.api#documentation": "12-digit AWS account ID of the token's subject principal.",
            "smithy.api#jsonName": "account_id"
          }
        },
        "signinSession": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS Sign-In session ARN bound to the token, of the form\narn:aws:signin:{region}:{account}:session/{uuid}.",
            "smithy.api#jsonName": "signin_session"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth resource the token is scoped to during Human OAuth flow.\nOnly present for refresh token introspection.",
            "smithy.api#jsonName": "resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output structure for IntrospectOAuth2TokenWithIAM operation\n\nRFC 7662 §2.2 introspection response. Only `active` is required; all other\nclaims are omitted when the token is inactive.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#IntrospectedTokenType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Introspection response token_type value. Indicates which kind of token\nwas inspected.",
        "smithy.api#pattern": "^(access_token|refresh_token)$"
      }
    },
    "com.amazonaws.signin#IntrospectionToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Token string submitted for introspection. May be an AWS Sign-In\naccess_token (prefix \"ASOA\") or refresh_token (prefix \"ASOR\").",
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^ASO[AR][A-Za-z0-9+/=_\\-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.signin#ListResourcePermissionStatements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#ListResourcePermissionStatementsInput"
      },
      "output": {
        "target": "com.amazonaws.signin#ListResourcePermissionStatementsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Retrieve all permission statements in the account's SignIn resource-based policy"
        },
        "smithy.api#documentation": "Retrieve all permission statements in the account's SignIn resource-based policy",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/list-resource-permission-statements"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "permissionStatements"
        },
        "smithy.api#readonly": {},
        "smithy.rules#staticContextParams": {
          "IsControlPlane": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#ListResourcePermissionStatementsInput": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.signin#ConsolePermissionMaxResults",
          "traits": {
            "smithy.api#documentation": "Maximum number of results to return"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.signin#NextToken",
          "traits": {
            "smithy.api#documentation": "Token for pagination"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for ListResourcePermissionStatements operation",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#ListResourcePermissionStatementsOutput": {
      "type": "structure",
      "members": {
        "permissionStatements": {
          "target": "com.amazonaws.signin#PermissionStatementSummaries",
          "traits": {
            "smithy.api#documentation": "List of permission statement summaries",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.signin#NextToken",
          "traits": {
            "smithy.api#documentation": "Token for next page of results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output for ListResourcePermissionStatements operation",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Pagination token",
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9+=/_]*$"
      }
    },
    "com.amazonaws.signin#OAuth2ErrorCode": {
      "type": "enum",
      "members": {
        "TOKEN_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Token has expired and needs to be refreshed",
            "smithy.api#enumValue": "TOKEN_EXPIRED"
          }
        },
        "USER_CREDENTIALS_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "User credentials have been changed",
            "smithy.api#enumValue": "USER_CREDENTIALS_CHANGED"
          }
        },
        "INSUFFICIENT_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Insufficient permissions to perform this operation",
            "smithy.api#enumValue": "INSUFFICIENT_PERMISSIONS"
          }
        },
        "AUTHCODE_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Authorization code has expired",
            "smithy.api#enumValue": "AUTHCODE_EXPIRED"
          }
        },
        "SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Internal server error occurred",
            "smithy.api#enumValue": "server_error"
          }
        },
        "INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "The request is missing a required parameter, includes an invalid parameter value, or is otherwise malformed",
            "smithy.api#enumValue": "INVALID_REQUEST"
          }
        },
        "RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Requested resource was not found",
            "smithy.api#enumValue": "RESOURCE_NOT_FOUND"
          }
        },
        "CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Request conflicts with current state of the resource",
            "smithy.api#enumValue": "CONFLICT"
          }
        },
        "SERVICE_QUOTA_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Request would cause a service quota to be exceeded",
            "smithy.api#enumValue": "SERVICE_QUOTA_EXCEEDED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OAuth 2.0 error codes returned by the server\n\nStandard OAuth 2.0 error codes used in error responses to indicate\nthe specific type of error that occurred during token operations."
      }
    },
    "com.amazonaws.signin#OAuthAccessToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "OAuth 2.0 access token (JWT) containing principal identity and resource scope.",
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.signin#PermissionStatementSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.signin#PermissionStatementSummary"
      }
    },
    "com.amazonaws.signin#PermissionStatementSummary": {
      "type": "structure",
      "members": {
        "sid": {
          "target": "com.amazonaws.signin#StatementId",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the permission statement",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.amazonaws.signin#ConditionBlock",
          "traits": {
            "smithy.api#documentation": "Condition block for the permission statement"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of a permission statement"
      }
    },
    "com.amazonaws.signin#PolicyActions": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of policy actions"
      }
    },
    "com.amazonaws.signin#PolicyStatement": {
      "type": "structure",
      "members": {
        "effect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Effect of the policy statement (Allow/Deny)",
            "smithy.api#jsonName": "Effect"
          }
        },
        "principal": {
          "target": "com.amazonaws.signin#Principal",
          "traits": {
            "smithy.api#documentation": "Principal the statement applies to",
            "smithy.api#jsonName": "Principal"
          }
        },
        "action": {
          "target": "com.amazonaws.signin#PolicyActions",
          "traits": {
            "smithy.api#documentation": "Actions the statement controls",
            "smithy.api#jsonName": "Action"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource the statement applies to",
            "smithy.api#jsonName": "Resource"
          }
        },
        "condition": {
          "target": "com.amazonaws.signin#ConditionBlock",
          "traits": {
            "smithy.api#documentation": "Condition block for the statement",
            "smithy.api#jsonName": "Condition"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Individual policy statement within a resource-based policy"
      }
    },
    "com.amazonaws.signin#PolicyStatements": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.signin#PolicyStatement"
      }
    },
    "com.amazonaws.signin#Principal": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IAM principal identifier"
      }
    },
    "com.amazonaws.signin#PutConsoleAuthorizationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#PutConsoleAuthorizationConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.signin#PutConsoleAuthorizationConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#ConflictException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Enable console authorization configuration with automatic scope detection"
        },
        "smithy.api#documentation": "Enable console authorization configuration with automatic scope detection",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/put-console-authorization-configuration"
        },
        "smithy.api#idempotent": {},
        "smithy.rules#staticContextParams": {
          "IsControlPlane": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#PutConsoleAuthorizationConfigurationInput": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "com.amazonaws.signin#TargetId",
          "traits": {
            "smithy.api#documentation": "Target account identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for PutConsoleAuthorizationConfiguration operation",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#PutConsoleAuthorizationConfigurationOutput": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "com.amazonaws.signin#TargetId",
          "traits": {
            "smithy.api#documentation": "Target account identifier",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization scope",
            "smithy.api#required": {}
          }
        },
        "consoleAuthorizationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether console authorization is enabled",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output for PutConsoleAuthorizationConfiguration operation",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#PutResourcePermissionStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#PutResourcePermissionStatementInput"
      },
      "output": {
        "target": "com.amazonaws.signin#PutResourcePermissionStatementOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#ConflictException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Create a permission statement in the account's SignIn resource-based policy"
        },
        "smithy.api#documentation": "Create a permission statement in the account's SignIn resource-based policy",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/put-resource-permission-statement"
        },
        "smithy.api#idempotent": {},
        "smithy.rules#staticContextParams": {
          "IsControlPlane": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#PutResourcePermissionStatementInput": {
      "type": "structure",
      "members": {
        "sourceVpc": {
          "target": "com.amazonaws.signin#SourceVpc",
          "traits": {
            "smithy.api#documentation": "VPC identifier to restrict console access"
          }
        },
        "signinSourceVpce": {
          "target": "com.amazonaws.signin#SourceVpce",
          "traits": {
            "smithy.api#documentation": "SignIn VPC endpoint identifier"
          }
        },
        "consoleSourceVpce": {
          "target": "com.amazonaws.signin#SourceVpce",
          "traits": {
            "smithy.api#documentation": "Console VPC endpoint identifier"
          }
        },
        "vpcSourceIp": {
          "target": "com.amazonaws.signin#VpcSourceIp",
          "traits": {
            "smithy.api#documentation": "Source IP address within VPC"
          }
        },
        "sourceIp": {
          "target": "com.amazonaws.signin#SourceIp",
          "traits": {
            "smithy.api#documentation": "Source IP address"
          }
        },
        "requestedRegion": {
          "target": "com.amazonaws.signin#RequestedRegion",
          "traits": {
            "smithy.api#documentation": "AWS region where the VPC and VPC endpoint reside\nRequired when sourceVpc or signinSourceVpce/consoleSourceVpce is provided"
          }
        },
        "excludedPrincipal": {
          "target": "com.amazonaws.signin#ExcludedPrincipal",
          "traits": {
            "smithy.api#documentation": "Principal to exclude from the permission statement"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.signin#ClientToken",
          "traits": {
            "smithy.api#documentation": "Idempotency token for the request",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for PutResourcePermissionStatement operation",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#PutResourcePermissionStatementOutput": {
      "type": "structure",
      "members": {
        "statementId": {
          "target": "com.amazonaws.signin#StatementId",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the created permission statement",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output for PutResourcePermissionStatement operation",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#RedirectUri": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Redirect URI for OAuth 2.0 flow validation\n\nThe same redirect URI used in the authorization request. This must match exactly\nwhat was sent in the original authorization request for security validation.",
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.signin#RefreshToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Encrypted refresh token with cnf.jkt\n\nThis is the encrypted refresh token returned from auth code redemption.\nThe token content includes cnf.jkt (SHA-256 thumbprint of the presented jwk).\nUsed in subsequent token refresh requests.",
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.signin#RequestedRegion": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "AWS region identifier for VPC and VPC endpoint pairing",
        "smithy.api#pattern": "^[a-z]{2}(-[a-z]+)+-\\d+$"
      }
    },
    "com.amazonaws.signin#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.signin#OAuth2ErrorCode",
          "traits": {
            "smithy.api#documentation": "OAuth 2.0 error code indicating resource not found\nWill be RESOURCE_NOT_FOUND",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed message explaining which resource was not found\nProvides specific information about the missing resource",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error thrown when requested resource is not found\n\nHTTP Status Code: 404 Not Found\n\nUsed when the specified resource does not exist",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.signin#RevocationToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Refresh token string submitted for revocation. Must be an AWS Sign-In\nrefresh_token (prefix \"ASOR\").",
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^ASOR[A-Za-z0-9+/=_\\-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.signin#RevokeOAuth2TokenWithIAM": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.signin#RevokeOAuth2TokenWithIAMRequest"
      },
      "output": {
        "target": "com.amazonaws.signin#RevokeOAuth2TokenWithIAMResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.signin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.signin#InternalServerException"
        },
        {
          "target": "com.amazonaws.signin#TooManyRequestsError"
        },
        {
          "target": "com.amazonaws.signin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "RevokeOAuth2Token",
          "documentation": "Revoke an AWS Sign-In OAuth 2.0 refresh_token and its associated token chain"
        },
        "smithy.api#auth": ["aws.auth#sigv4"],
        "smithy.api#documentation": "Grants permission to revoke an OAuth 2.0 refresh token and its associated refresh tokens\n\nRevokes a refresh_token issued by AWS Sign-In, invalidating the entire token\nchain so that the refresh_token can no longer be used to mint new access_tokens.\n\nIdempotency: revoking an already-revoked, expired, or otherwise invalid token\nstill returns 200 OK with an empty body. Only the refresh_token type is accepted.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/revoke?x-amz-client-auth-method=iam"
        },
        "smithy.api#idempotent": {},
        "smithy.rules#staticContextParams": {
          "IsOAuthEndpoint": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.signin#RevokeOAuth2TokenWithIAMRequest": {
      "type": "structure",
      "members": {
        "token": {
          "target": "com.amazonaws.signin#RevocationToken",
          "traits": {
            "smithy.api#documentation": "The refresh_token to revoke. Must be a refresh_token issued by AWS\nSign-In (prefix \"ASOR\"); access_tokens are not accepted for revocation.",
            "smithy.api#jsonName": "token",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input structure for RevokeOAuth2TokenWithIAM operation\n\nRFC 7009 §2.1 revocation request. Contains the refresh_token to revoke.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.signin#RevokeOAuth2TokenWithIAMResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Output structure for RevokeOAuth2TokenWithIAM operation\n\nRFC 7009 §2.2 revocation response. The endpoint returns 200 OK with an\nempty body on success; there are no response fields.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.signin#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.signin#OAuth2ErrorCode",
          "traits": {
            "smithy.api#documentation": "OAuth 2.0 error code indicating service quota exceeded\nWill be SERVICE_QUOTA_EXCEEDED",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed message explaining which quota was exceeded\nProvides specific information about the limit and current usage",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error thrown when service quota is exceeded\n\nHTTP Status Code: 402 Payment Required (used as quota exceeded indicator)\n\nUsed when the request would cause a service quota to be exceeded",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.signin#Signin": {
      "type": "service",
      "version": "2023-01-01",
      "operations": [
        {
          "target": "com.amazonaws.signin#CreateOAuth2Token"
        },
        {
          "target": "com.amazonaws.signin#CreateOAuth2TokenWithIAM"
        },
        {
          "target": "com.amazonaws.signin#DeleteConsoleAuthorizationConfiguration"
        },
        {
          "target": "com.amazonaws.signin#DeleteResourcePermissionStatement"
        },
        {
          "target": "com.amazonaws.signin#GetConsoleAuthorizationConfiguration"
        },
        {
          "target": "com.amazonaws.signin#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.signin#IntrospectOAuth2TokenWithIAM"
        },
        {
          "target": "com.amazonaws.signin#ListResourcePermissionStatements"
        },
        {
          "target": "com.amazonaws.signin#PutConsoleAuthorizationConfiguration"
        },
        {
          "target": "com.amazonaws.signin#PutResourcePermissionStatement"
        },
        {
          "target": "com.amazonaws.signin#RevokeOAuth2TokenWithIAM"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Signin",
          "arnNamespace": "signin",
          "endpointPrefix": "signin"
        },
        "aws.auth#sigv4": {
          "name": "signin"
        },
        "aws.endpoints#rulesBasedEndpoints": {},
        "aws.endpoints#standardRegionalEndpoints": {
          "partitionSpecialCases": {
            "aws": [
              {
                "endpoint": "https://{region}.signin.aws.amazon.com"
              }
            ],
            "aws-cn": [
              {
                "endpoint": "https://{region}.signin.amazonaws.cn"
              }
            ],
            "aws-us-gov": [
              {
                "endpoint": "https://{region}.signin.amazonaws-us-gov.com"
              }
            ]
          }
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#restJson1": {},
        "smithy.api#auth": ["aws.auth#sigv4"],
        "smithy.api#documentation": "AWS Sign-In manages authentication for AWS services. This service provides\nsecure authentication flows for accessing AWS resources from the console and developer tools.",
        "smithy.api#title": "AWS Sign-In Service",
        "smithy.rules#endpointBdd": {
          "version": "1.1",
          "parameters": {
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "IsControlPlane": {
              "required": false,
              "documentation": "Indicates if the operation targets the control plane endpoint",
              "type": "boolean"
            },
            "IsOAuthEndpoint": {
              "required": false,
              "documentation": "Indicates if the operation targets the OAuth token endpoint",
              "type": "boolean"
            }
          },
          "conditions": [
            {
              "fn": "isSet",
              "argv": [
                {
                  "ref": "Region"
                }
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "fn": "coalesce",
                  "argv": [
                    {
                      "ref": "IsControlPlane"
                    },
                    false
                  ]
                },
                true
              ]
            },
            {
              "fn": "isSet",
              "argv": [
                {
                  "ref": "Endpoint"
                }
              ]
            },
            {
              "fn": "aws.partition",
              "argv": [
                {
                  "ref": "Region"
                }
              ],
              "assign": "PartitionResult"
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "ref": "UseFIPS"
                },
                true
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws"
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "fn": "coalesce",
                  "argv": [
                    {
                      "ref": "IsOAuthEndpoint"
                    },
                    false
                  ]
                },
                true
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "ref": "UseDualStack"
                },
                true
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws-cn"
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "ref": "Region"
                },
                "us-gov-west-1"
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws-us-gov"
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "supportsFIPS"
                  ]
                },
                true
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws-iso"
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws-iso-b"
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws-iso-f"
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws-iso-e"
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws-eusc"
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "supportsDualStack"
                  ]
                },
                true
              ]
            }
          ],
          "results": [
            {
              "conditions": [],
              "endpoint": {
                "url": "https://signin.{Region}.api.aws",
                "properties": {
                  "authSchemes": [
                    {
                      "name": "sigv4",
                      "signingName": "signin",
                      "signingRegion": "{Region}"
                    }
                  ]
                },
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://signin.{Region}.api.amazonwebservices.com.cn",
                "properties": {
                  "authSchemes": [
                    {
                      "name": "sigv4",
                      "signingName": "signin",
                      "signingRegion": "{Region}"
                    }
                  ]
                },
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://signin.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {
                  "authSchemes": [
                    {
                      "name": "sigv4",
                      "signingName": "signin",
                      "signingRegion": "{Region}"
                    }
                  ]
                },
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "FIPS endpoints are not supported for OAuth operations. Disable FIPS or use a non-OAuth operation.",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.oauth.signin.aws",
                "properties": {
                  "authSchemes": [
                    {
                      "name": "sigv4",
                      "signingName": "signin",
                      "signingRegion": "{Region}"
                    }
                  ]
                },
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin.aws.amazon.com",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin.amazonaws.cn",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin.amazonaws-us-gov.com",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin.c2shome.ic.gov",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin.sc2shome.sgov.gov",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin.csphome.hci.ic.gov",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin.csphome.adc-e.uk",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin.amazonaws-eusc.eu",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://signin-fips.amazonaws-us-gov.com",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin-fips.amazonaws-us-gov.com",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://{Region}.signin.{PartitionResult#dnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
              "type": "error"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": {
                  "ref": "Endpoint"
                },
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://signin-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://signin-fips.{Region}.{PartitionResult#dnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "FIPS is enabled but this partition does not support FIPS",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://signin.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "DualStack is enabled but this partition does not support DualStack",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://signin.{Region}.{PartitionResult#dnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "root": 2,
          "nodeCount": 40,
          "nodes": "/////wAAAAH/////AAAAAAAAAAYAAAADAAAAAgAAACQAAAAEAAAABAAAAAUF9eEbAAAABgX14QQF9eEbAAAAAQAAAB0AAAAHAAAAAgAAACQAAAAIAAAAAwAAAAkAAAAfAAAABAAAABYAAAAKAAAABQAAABMAAAALAAAABwAAABUAAAAMAAAACAX14QcAAAANAAAACgX14QgAAAAOAAAADAX14QkAAAAPAAAADQX14QoAAAAQAAAADgX14QsAAAARAAAADwX14QwAAAASAAAAEAX14Q0F9eEQAAAABgX14QUAAAAUAAAABwAAABUF9eEGAAAAEQX14RgF9eEZAAAABgX14QQAAAAXAAAABwAAABsAAAAYAAAACQX14Q4AAAAZAAAACgX14Q8AAAAaAAAACwX14RYF9eEXAAAACwAAABwF9eEVAAAAEQX14RQF9eEVAAAAAgAAACMAAAAeAAAAAwAAACcAAAAfAAAABAAAACAF9eEbAAAABgX14QQAAAAhAAAABwX14RsAAAAiAAAACQX14Q4F9eEbAAAAAwAAACcAAAAkAAAABAAAACYAAAAlAAAABwX14RIF9eETAAAABgX14QQF9eERAAAABQX14QEAAAAoAAAACAX14QIF9eED"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "IsControlPlane": {
              "required": false,
              "documentation": "Indicates if the operation targets the control plane endpoint",
              "type": "boolean"
            },
            "IsOAuthEndpoint": {
              "required": false,
              "documentation": "Indicates if the operation targets the OAuth token endpoint",
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "IsControlPlane"
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "IsControlPlane"
                    },
                    true
                  ]
                },
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "endpoint": {
                    "url": "https://signin.{Region}.api.aws",
                    "properties": {
                      "authSchemes": [
                        {
                          "name": "sigv4",
                          "signingName": "signin",
                          "signingRegion": "{Region}"
                        }
                      ]
                    },
                    "headers": {}
                  },
                  "type": "endpoint"
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "endpoint": {
                    "url": "https://signin.{Region}.api.amazonwebservices.com.cn",
                    "properties": {
                      "authSchemes": [
                        {
                          "name": "sigv4",
                          "signingName": "signin",
                          "signingRegion": "{Region}"
                        }
                      ]
                    },
                    "headers": {}
                  },
                  "type": "endpoint"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://signin.{Region}.{PartitionResult#dualStackDnsSuffix}",
                    "properties": {
                      "authSchemes": [
                        {
                          "name": "sigv4",
                          "signingName": "signin",
                          "signingRegion": "{Region}"
                        }
                      ]
                    },
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "IsOAuthEndpoint"
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "IsOAuthEndpoint"
                    },
                    true
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseFIPS"
                    },
                    true
                  ]
                }
              ],
              "error": "FIPS endpoints are not supported for OAuth operations. Disable FIPS or use a non-OAuth operation.",
              "type": "error"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "IsOAuthEndpoint"
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "IsOAuthEndpoint"
                    },
                    true
                  ]
                },
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                },
                {
                  "fn": "stringEquals",
                  "argv": [
                    {
                      "fn": "getAttr",
                      "argv": [
                        {
                          "ref": "PartitionResult"
                        },
                        "name"
                      ]
                    },
                    "aws"
                  ]
                }
              ],
              "endpoint": {
                "url": "https://{Region}.oauth.signin.aws",
                "properties": {
                  "authSchemes": [
                    {
                      "name": "sigv4",
                      "signingName": "signin",
                      "signingRegion": "{Region}"
                    }
                  ]
                },
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseFIPS"
                    },
                    false
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseDualStack"
                    },
                    false
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                },
                {
                  "fn": "stringEquals",
                  "argv": [
                    {
                      "fn": "getAttr",
                      "argv": [
                        {
                          "ref": "PartitionResult"
                        },
                        "name"
                      ]
                    },
                    "aws"
                  ]
                }
              ],
              "endpoint": {
                "url": "https://{Region}.signin.aws.amazon.com",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseFIPS"
                    },
                    false
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseDualStack"
                    },
                    false
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                },
                {
                  "fn": "stringEquals",
                  "argv": [
                    {
                      "fn": "getAttr",
                      "argv": [
                        {
                          "ref": "PartitionResult"
                        },
                        "name"
                      ]
                    },
                    "aws-cn"
                  ]
                }
              ],
              "endpoint": {
                "url": "https://{Region}.signin.amazonaws.cn",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseFIPS"
                    },
                    false
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseDualStack"
                    },
                    false
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                },
                {
                  "fn": "stringEquals",
                  "argv": [
                    {
                      "fn": "getAttr",
                      "argv": [
                        {
                          "ref": "PartitionResult"
                        },
                        "name"
                      ]
                    },
                    "aws-us-gov"
                  ]
                }
              ],
              "endpoint": {
                "url": "https://{Region}.signin.amazonaws-us-gov.com",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseFIPS"
                    },
                    false
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseDualStack"
                    },
                    false
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                },
                {
                  "fn": "stringEquals",
                  "argv": [
                    {
                      "fn": "getAttr",
                      "argv": [
                        {
                          "ref": "PartitionResult"
                        },
                        "name"
                      ]
                    },
                    "aws-iso"
                  ]
                }
              ],
              "endpoint": {
                "url": "https://{Region}.signin.c2shome.ic.gov",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseFIPS"
[...]
