{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.servermigration.V2016_10_24#AWSServerMigrationService_V2016_10_24": {
      "type": "service",
      "version": "2016-10-24",
      "operations": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#CreateApp"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#CreateReplicationJob"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#DeleteApp"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#DeleteAppLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#DeleteAppReplicationConfiguration"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#DeleteReplicationJob"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#DeleteServerCatalog"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#DisassociateConnector"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#GenerateChangeSet"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#GenerateTemplate"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#GetApp"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#GetAppLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#GetAppReplicationConfiguration"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#GetConnectors"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#GetReplicationJobs"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#GetReplicationRuns"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#GetServers"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#ImportServerCatalog"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#LaunchApp"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#ListApps"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#PutAppLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#PutAppReplicationConfiguration"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#StartAppReplication"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#StartOnDemandReplicationRun"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#StopAppReplication"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#TerminateApp"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UpdateApp"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UpdateReplicationJob"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SMS",
          "arnNamespace": "sms",
          "cloudFormationName": "SMS",
          "cloudTrailEventSource": "V2016_10_24.servermigration.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>AAWS Sever Migration Service</fullname>\n        <p>This is the <i>AWS Sever Migration Service API Reference</i>. It provides descriptions,\n            syntax, and usage examples for each of the actions and data types for the AWS Sever Migration Service\n            (AWS SMS). The topic for each action shows the Query API request parameters and the XML\n            response. You can also view the XML request elements in the WSDL.</p>\n        <p>Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the\n            programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p>\n        <p>To learn more about the Server Migration Service, see the following resources:</p>\n        <ul>\n            <li>\n                <p>\n                  <a href=\"https://aws.amazon.com/server-migration-service/\">AWS Sever Migration Service\n                        product page</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/server-migration-service/latest/userguide/server-migration.html\">AWS Sever Migration Service User Guide</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Server Migration Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://ec2.amazon.com/servermigration/2016-10-24/"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#AmiId": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#AppDescription": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#AppId": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#AppIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#AppId"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#AppLaunchStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "READY_FOR_CONFIGURATION": {
            "name": "ReadyForConfiguration"
          },
          "CONFIGURATION_IN_PROGRESS": {
            "name": "ConfigurationInProgress"
          },
          "CONFIGURATION_INVALID": {
            "name": "ConfigurationInvalid"
          },
          "READY_FOR_LAUNCH": {
            "name": "ReadyForLaunch"
          },
          "VALIDATION_IN_PROGRESS": {
            "name": "ValidationInProgress"
          },
          "LAUNCH_PENDING": {
            "name": "LaunchPending"
          },
          "LAUNCH_IN_PROGRESS": {
            "name": "LaunchInProgress"
          },
          "LAUNCHED": {
            "name": "Launched"
          },
          "DELTA_LAUNCH_IN_PROGRESS": {
            "name": "DeltaLaunchInProgress"
          },
          "DELTA_LAUNCH_FAILED": {
            "name": "DeltaLaunchFailed"
          },
          "LAUNCH_FAILED": {
            "name": "LaunchFailed"
          },
          "TERMINATE_IN_PROGRESS": {
            "name": "TerminateInProgress"
          },
          "TERMINATE_FAILED": {
            "name": "TerminateFailed"
          },
          "TERMINATED": {
            "name": "Terminated"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#AppLaunchStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#AppName": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#AppReplicationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "READY_FOR_CONFIGURATION": {
            "name": "ReadyForConfiguration"
          },
          "CONFIGURATION_IN_PROGRESS": {
            "name": "ConfigurationInProgress"
          },
          "CONFIGURATION_INVALID": {
            "name": "ConfigurationInvalid"
          },
          "READY_FOR_REPLICATION": {
            "name": "ReadyForReplication"
          },
          "VALIDATION_IN_PROGRESS": {
            "name": "ValidationInProgress"
          },
          "REPLICATION_PENDING": {
            "name": "ReplicationPending"
          },
          "REPLICATION_IN_PROGRESS": {
            "name": "ReplicationInProgress"
          },
          "REPLICATED": {
            "name": "Replicated"
          },
          "DELTA_REPLICATION_IN_PROGRESS": {
            "name": "DeltaReplicationInProgress"
          },
          "DELTA_REPLICATED": {
            "name": "DeltaReplicated"
          },
          "DELTA_REPLICATION_FAILED": {
            "name": "DeltaReplicationFailed"
          },
          "REPLICATION_FAILED": {
            "name": "ReplicationFailed"
          },
          "REPLICATION_STOPPING": {
            "name": "ReplicationStopping"
          },
          "REPLICATION_STOP_FAILED": {
            "name": "ReplicationStopFailed"
          },
          "REPLICATION_STOPPED": {
            "name": "ReplicationStopped"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#AppReplicationStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#AppStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATING": {
            "name": "Creating"
          },
          "ACTIVE": {
            "name": "Active"
          },
          "UPDATING": {
            "name": "Updating"
          },
          "DELETING": {
            "name": "Deleting"
          },
          "DELETED": {
            "name": "Deleted"
          },
          "DELETE_FAILED": {
            "name": "DELETE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#AppStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#AppSummary": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>Unique ID of the application.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Time of creation of this application.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description of the application.</p>"
          }
        },
        "lastModified": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of the application's creation.</p>"
          }
        },
        "latestReplicationTime": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of the application's most recent successful replication.</p>"
          }
        },
        "launchDetails": {
          "target": "com.amazonaws.servermigration.V2016_10_24#LaunchDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the latest launch of the application.</p>"
          }
        },
        "launchStatus": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppLaunchStatus",
          "traits": {
            "smithy.api#documentation": "<p>Launch status of the application.</p>"
          }
        },
        "launchStatusMessage": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppLaunchStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message related to the launch status of the application.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the application.</p>"
          }
        },
        "replicationStatus": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppReplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Replication status of the application.</p>"
          }
        },
        "replicationStatusMessage": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppReplicationStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message related to the replication status of the application.</p>"
          }
        },
        "roleName": {
          "target": "com.amazonaws.servermigration.V2016_10_24#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the service role in the customer's account used by AWS SMS.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the application.</p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message related to the status of the application</p>"
          }
        },
        "totalServerGroups": {
          "target": "com.amazonaws.servermigration.V2016_10_24#TotalServerGroups",
          "traits": {
            "smithy.api#documentation": "<p>Number of server groups present in the application.</p>"
          }
        },
        "totalServers": {
          "target": "com.amazonaws.servermigration.V2016_10_24#TotalServers",
          "traits": {
            "smithy.api#documentation": "<p>Number of servers present in the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#Apps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#AppSummary"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#AssociatePublicIpAddress": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#BucketName": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ClientToken": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#Connector": {
      "type": "structure",
      "members": {
        "associatedOn": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the connector was associated.</p>"
          }
        },
        "capabilityList": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ConnectorCapabilityList",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities of the connector.</p>"
          }
        },
        "connectorId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connector.</p>"
          }
        },
        "ipAddress": {
          "target": "com.amazonaws.servermigration.V2016_10_24#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the connector.</p>"
          }
        },
        "macAddress": {
          "target": "com.amazonaws.servermigration.V2016_10_24#MacAddress",
          "traits": {
            "smithy.api#documentation": "<p>The MAC address of the connector.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ConnectorStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the connector.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ConnectorVersion",
          "traits": {
            "smithy.api#documentation": "<p>The connector version.</p>"
          }
        },
        "vmManagerId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#VmManagerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the VM manager.</p>"
          }
        },
        "vmManagerName": {
          "target": "com.amazonaws.servermigration.V2016_10_24#VmManagerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VM manager.</p>"
          }
        },
        "vmManagerType": {
          "target": "com.amazonaws.servermigration.V2016_10_24#VmManagerType",
          "traits": {
            "smithy.api#documentation": "<p>The VM management product.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a connector.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ConnectorCapability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "VSPHERE": {
            "name": "vSphere"
          },
          "SCVMM": {
            "name": "scvmm"
          },
          "HYPERV-MANAGER": {
            "name": "hyperVManager"
          },
          "SNAPSHOT_BATCHING": {
            "name": "snapshotBatching"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ConnectorCapabilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ConnectorCapability",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ConnectorId": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ConnectorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#Connector",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ConnectorStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HEALTHY": {
            "name": "Healthy"
          },
          "UNHEALTHY": {
            "name": "Unhealthy"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ConnectorVersion": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#CreateApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#CreateAppRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#CreateAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an application. An application consists of one or more server groups. Each\n            server group contain one or more servers.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#CreateAppRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier you provide to ensure idempotency of application\n            creation.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description of the new application</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the new application.</p>"
          }
        },
        "roleName": {
          "target": "com.amazonaws.servermigration.V2016_10_24#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>Name of service role in customer's account to be used by AWS SMS.</p>"
          }
        },
        "serverGroups": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroups",
          "traits": {
            "smithy.api#documentation": "<p>List of server groups to include in the application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Tags",
          "traits": {
            "smithy.api#documentation": "<p>List of tags to be associated with the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#CreateAppResponse": {
      "type": "structure",
      "members": {
        "appSummary": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppSummary",
          "traits": {
            "smithy.api#documentation": "<p>Summary description of the application.</p>"
          }
        },
        "serverGroups": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroups",
          "traits": {
            "smithy.api#documentation": "<p>List of server groups included in the application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Tags",
          "traits": {
            "smithy.api#documentation": "<p>List of taags associated with the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#CreateReplicationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#CreateReplicationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#CreateReplicationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#NoConnectorsAvailableException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerCannotBeReplicatedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#TemporarilyUnavailableException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a replication job. The replication job schedules periodic replication runs\n            to replicate your server to AWS. Each replication run creates an Amazon Machine Image\n            (AMI).</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#CreateReplicationJobRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the replication job.</p>"
          }
        },
        "encrypted": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>When <i>true</i>, the replication job produces encrypted AMIs. See also\n                <code>KmsKeyId</code> below.</p>"
          }
        },
        "frequency": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The time between consecutive replication runs, in hours.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the\n            following: </p>\n        <ul>\n            <li>\n                <p>KMS key ID</p>\n            </li>\n            <li>\n                <p>KMS key alias</p>\n            </li>\n            <li>\n                <p>ARN referring to KMS key ID</p>\n            </li>\n            <li>\n                <p>ARN referring to KMS key alias</p>\n            </li>\n         </ul>\n        <p> If encrypted is <i>true</i> but a KMS key id is not specified, the\n            customer's default KMS key for EBS is used. </p>"
          }
        },
        "licenseType": {
          "target": "com.amazonaws.servermigration.V2016_10_24#LicenseType",
          "traits": {
            "smithy.api#documentation": "<p>The license type to be used for the AMI created by a successful replication\n            run.</p>"
          }
        },
        "numberOfRecentAmisToKeep": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NumberOfRecentAmisToKeep",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of SMS-created AMIs to retain. The oldest will be deleted once the\n            maximum number is reached and a new AMI is created.</p>"
          }
        },
        "roleName": {
          "target": "com.amazonaws.servermigration.V2016_10_24#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM role to be used by the AWS SMS.</p>"
          }
        },
        "runOnce": {
          "target": "com.amazonaws.servermigration.V2016_10_24#RunOnce",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "seedReplicationTime": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The seed replication time.</p>",
            "smithy.api#required": true
          }
        },
        "serverId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the server.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#CreateReplicationJobResponse": {
      "type": "structure",
      "members": {
        "replicationJobId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the replication job.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteAppRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing application. Optionally deletes the launched stack associated with\n            the application and all AWS SMS replication jobs for servers in the application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteAppLaunchConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteAppLaunchConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteAppLaunchConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes existing launch configuration for an application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteAppLaunchConfigurationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application associated with the launch configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteAppLaunchConfigurationResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteAppReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteAppReplicationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteAppReplicationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes existing replication configuration for an application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteAppReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application associated with the replication configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteAppReplicationConfigurationResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application to delete.</p>"
          }
        },
        "forceStopAppReplication": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ForceStopAppReplication",
          "traits": {
            "smithy.api#documentation": "<p>While deleting the application, stop all replication jobs corresponding to the servers\n            in the application.</p>"
          }
        },
        "forceTerminateApp": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ForceTerminateApp",
          "traits": {
            "smithy.api#documentation": "<p>While deleting the application, terminate the stack corresponding to the\n            application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteAppResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteReplicationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteReplicationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteReplicationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobNotFoundException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified replication job.</p>\n        <p>After you delete a replication job, there are no further replication runs. AWS\n            deletes the contents of the Amazon S3 bucket used to store AWS SMS artifacts. The AMIs created\n            by the replication runs are not deleted.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteReplicationJobRequest": {
      "type": "structure",
      "members": {
        "replicationJobId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the replication job.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteReplicationJobResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteServerCatalog": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteServerCatalogRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DeleteServerCatalogResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all servers from your server catalog.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteServerCatalogRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#DeleteServerCatalogResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#Description": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#DisassociateConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DisassociateConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#DisassociateConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the specified connector from AWS SMS.</p>\n        <p>After you disassociate a connector, it is no longer available to support\n            replication jobs.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DisassociateConnectorRequest": {
      "type": "structure",
      "members": {
        "connectorId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connector.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#DisassociateConnectorResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#EC2KeyName": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#Encrypted": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ForceStopAppReplication": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ForceTerminateApp": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#Frequency": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GenerateChangeSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GenerateChangeSetRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GenerateChangeSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates a target change set for a currently launched stack and writes it to an Amazon S3\n            object in the customer’s Amazon S3 bucket.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GenerateChangeSetRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application associated with the change set.</p>"
          }
        },
        "changesetFormat": {
          "target": "com.amazonaws.servermigration.V2016_10_24#OutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>Format for the change set.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GenerateChangeSetResponse": {
      "type": "structure",
      "members": {
        "s3Location": {
          "target": "com.amazonaws.servermigration.V2016_10_24#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Location of the Amazon S3 object.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GenerateTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GenerateTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GenerateTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates an Amazon CloudFormation template based on the current launch configuration and writes it to\n            an Amazon S3 object in the customer’s Amazon S3 bucket.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GenerateTemplateRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application associated with the Amazon CloudFormation template.</p>"
          }
        },
        "templateFormat": {
          "target": "com.amazonaws.servermigration.V2016_10_24#OutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>Format for generating the Amazon CloudFormation template.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GenerateTemplateResponse": {
      "type": "structure",
      "members": {
        "s3Location": {
          "target": "com.amazonaws.servermigration.V2016_10_24#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Location of the Amazon S3 object.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetAppRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about an application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetAppLaunchConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetAppLaunchConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetAppLaunchConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the application launch configuration associated with an application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetAppLaunchConfigurationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application launch configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetAppLaunchConfigurationResponse": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application associated with the launch configuration.</p>"
          }
        },
        "roleName": {
          "target": "com.amazonaws.servermigration.V2016_10_24#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the service role in the customer's account that Amazon CloudFormation uses to launch the\n            application.</p>"
          }
        },
        "serverGroupLaunchConfigurations": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupLaunchConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>List of launch configurations for server groups in this application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetAppReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetAppReplicationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetAppReplicationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an application replication configuration associatd with an\n            application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetAppReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application associated with the replication configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetAppReplicationConfigurationResponse": {
      "type": "structure",
      "members": {
        "serverGroupReplicationConfigurations": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupReplicationConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Replication configurations associated with server groups in this application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application whose information is being retrieved.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetAppResponse": {
      "type": "structure",
      "members": {
        "appSummary": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppSummary",
          "traits": {
            "smithy.api#documentation": "<p>Information about the application.</p>"
          }
        },
        "serverGroups": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroups",
          "traits": {
            "smithy.api#documentation": "<p>List of server groups belonging to the application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Tags",
          "traits": {
            "smithy.api#documentation": "<p>List of tags associated with the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetConnectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetConnectorsRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetConnectorsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the connectors registered with the AWS SMS.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "connectorList",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetConnectorsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.servermigration.V2016_10_24#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call. The default value is 50.\n            To retrieve the remaining results, make another call with the returned\n                <code>NextToken</code> value.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetConnectorsResponse": {
      "type": "structure",
      "members": {
        "connectorList": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ConnectorList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the registered connectors.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token required to retrieve the next set of results. This value is null when\n            there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetReplicationJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetReplicationJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetReplicationJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified replication job or all of your replication jobs.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "replicationJobList",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetReplicationJobsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.servermigration.V2016_10_24#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call. The default value is 50.\n            To retrieve the remaining results, make another call with the returned\n                <code>NextToken</code> value.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results.</p>"
          }
        },
        "replicationJobId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the replication job.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetReplicationJobsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token required to retrieve the next set of results. This value is null when\n            there are no more results to return.</p>"
          }
        },
        "replicationJobList": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the replication jobs.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetReplicationRuns": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetReplicationRunsRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetReplicationRunsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the replication runs for the specified replication job.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "replicationRunList",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetReplicationRunsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.servermigration.V2016_10_24#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call. The default value is 50.\n            To retrieve the remaining results, make another call with the returned\n                <code>NextToken</code> value.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results.</p>"
          }
        },
        "replicationJobId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the replication job.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetReplicationRunsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token required to retrieve the next set of results. This value is null when\n            there are no more results to return.</p>"
          }
        },
        "replicationJob": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJob",
          "traits": {
            "smithy.api#documentation": "<p>Information about the replication job.</p>"
          }
        },
        "replicationRunList": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRunList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the replication runs.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetServers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetServersRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#GetServersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the servers in your server catalog.</p>\n        <p>Before you can describe your servers, you must import them using <a>ImportServerCatalog</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "serverList",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetServersRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.servermigration.V2016_10_24#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call. The default value is 50.\n            To retrieve the remaining results, make another call with the returned\n                <code>NextToken</code> value.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results.</p>"
          }
        },
        "vmServerAddressList": {
          "target": "com.amazonaws.servermigration.V2016_10_24#VmServerAddressList",
          "traits": {
            "smithy.api#documentation": "<p>List of <code>VmServerAddress</code> objects</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#GetServersResponse": {
      "type": "structure",
      "members": {
        "lastModifiedOn": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the server was last modified.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token required to retrieve the next set of results. This value is null when\n            there are no more results to return.</p>"
          }
        },
        "serverCatalogStatus": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerCatalogStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the server catalog.</p>"
          }
        },
        "serverList": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the servers.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ImportServerCatalog": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ImportServerCatalogRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ImportServerCatalogResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#NoConnectorsAvailableException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gathers a complete list of on-premises servers. Connectors must be installed and\n            monitoring all servers that you want to import.</p>\n        <p>This call returns immediately, but might take additional time to retrieve all the\n            servers.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ImportServerCatalogRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#ImportServerCatalogResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#InstanceType": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#InternalError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A specified parameter is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#IpAddress": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#KeyName": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#KmsKeyId": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#LaunchApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#LaunchAppRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#LaunchAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Launches an application stack.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#LaunchAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application to launch.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#LaunchAppResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#LaunchDetails": {
      "type": "structure",
      "members": {
        "latestLaunchTime": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Latest time this application was launched successfully.</p>"
          }
        },
        "stackId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#StackId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the latest stack launched for this application.</p>"
          }
        },
        "stackName": {
          "target": "com.amazonaws.servermigration.V2016_10_24#StackName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the latest stack launched for this application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the latest launch of an application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#LaunchOrder": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#LicenseType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "AWS": {
            "name": "AWS"
          },
          "BYOL": {
            "name": "BYOL"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ListApps": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ListAppsRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ListAppsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of summaries for all applications.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ListAppsRequest": {
      "type": "structure",
      "members": {
        "appIds": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppIds",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.servermigration.V2016_10_24#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call. The default value is\n            50.\n            To retrieve the remaining results, make another call with the returned\n                <code>NextToken</code> value. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ListAppsResponse": {
      "type": "structure",
      "members": {
        "apps": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Apps",
          "traits": {
            "smithy.api#documentation": "<p>A list of application summaries.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token required to retrieve the next set of results. This value is null when there\n            are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#LogicalId": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#MacAddress": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A required parameter is missing.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#NextToken": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#NoConnectorsAvailableException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There are no connectors available.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 430
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#NumberOfRecentAmisToKeep": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This operation is not allowed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#OutputFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "JSON": {
            "name": "JSON"
          },
          "YAML": {
            "name": "YAML"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#PutAppLaunchConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#PutAppLaunchConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#PutAppLaunchConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a launch configuration for an application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#PutAppLaunchConfigurationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application associated with the launch configuration.</p>"
          }
        },
        "roleName": {
          "target": "com.amazonaws.servermigration.V2016_10_24#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>Name of service role in the customer's account that Amazon CloudFormation uses to launch the\n            application.</p>"
          }
        },
        "serverGroupLaunchConfigurations": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupLaunchConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Launch configurations for server groups in the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#PutAppLaunchConfigurationResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#PutAppReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.servermigration.V2016_10_24#PutAppReplicationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.servermigration.V2016_10_24#PutAppReplicationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InternalError"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.servermigration.V2016_10_24#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates a replication configuration for an application.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#PutAppReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AppId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the application tassociated with the replication configuration.</p>"
          }
        },
        "serverGroupReplicationConfigurations": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupReplicationConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Replication configurations for server groups in the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#PutAppReplicationConfigurationResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationJob": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the replication job.</p>"
          }
        },
        "encrypted": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>Whether the replication job should produce encrypted AMIs or not. See also\n                <code>KmsKeyId</code> below.</p>"
          }
        },
        "frequency": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The time between consecutive replication runs, in hours.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the\n            following: </p>\n        <ul>\n            <li>\n                <p>KMS key ID</p>\n            </li>\n            <li>\n                <p>KMS key alias</p>\n            </li>\n            <li>\n                <p>ARN referring to KMS key ID</p>\n            </li>\n            <li>\n                <p>ARN referring to KMS key alias</p>\n            </li>\n         </ul>\n        <p> If encrypted is <i>true</i> but a KMS key id is not specified, the\n            customer's default KMS key for EBS is used. </p>"
          }
        },
        "latestAmiId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AmiId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the latest Amazon Machine Image (AMI).</p>"
          }
        },
        "licenseType": {
          "target": "com.amazonaws.servermigration.V2016_10_24#LicenseType",
          "traits": {
            "smithy.api#documentation": "<p>The license type to be used for the AMI created by a successful replication\n            run.</p>"
          }
        },
        "nextReplicationRunStartTime": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the next replication run.</p>"
          }
        },
        "numberOfRecentAmisToKeep": {
          "target": "com.amazonaws.servermigration.V2016_10_24#NumberOfRecentAmisToKeep",
          "traits": {
            "smithy.api#documentation": "<p>Number of recent AMIs to keep in the customer's account for a replication job. By\n            default the value is set to zero, meaning that all AMIs are kept.</p>"
          }
        },
        "replicationJobId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the replication job.</p>"
          }
        },
        "replicationRunList": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRunList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the replication runs.</p>"
          }
        },
        "roleName": {
          "target": "com.amazonaws.servermigration.V2016_10_24#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM role to be used by the Server Migration Service.</p>"
          }
        },
        "runOnce": {
          "target": "com.amazonaws.servermigration.V2016_10_24#RunOnce",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "seedReplicationTime": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The seed replication time.</p>"
          }
        },
        "serverId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the server.</p>"
          }
        },
        "serverType": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerType",
          "traits": {
            "smithy.api#documentation": "<p>The type of server.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the replication job.</p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The description of the current status of the replication job.</p>"
          }
        },
        "vmServer": {
          "target": "com.amazonaws.servermigration.V2016_10_24#VmServer",
          "traits": {
            "smithy.api#documentation": "<p>Information about the VM server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a replication job.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationJobAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified replication job already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationJobId": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJob",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationJobNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified replication job does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationJobState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PENDING": {
            "name": "Pending"
          },
          "ACTIVE": {
            "name": "Active"
          },
          "FAILED": {
            "name": "Failed"
          },
          "DELETING": {
            "name": "Deleting"
          },
          "DELETED": {
            "name": "Deleted"
          },
          "COMPLETED": {
            "name": "Completed"
          },
          "PAUSED_ON_FAILURE": {
            "name": "PausedOnFailure"
          },
          "FAILING": {
            "name": "Failing"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationJobStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationJobTerminated": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRun": {
      "type": "structure",
      "members": {
        "amiId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AmiId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Machine Image (AMI) from the replication\n            run.</p>"
          }
        },
        "completedTime": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The completion time of the last replication run.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the replication run.</p>"
          }
        },
        "encrypted": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>Whether the replication run should produce encrypted AMI or not. See also\n                <code>KmsKeyId</code> below.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the\n            following: </p>\n        <ul>\n            <li>\n                <p>KMS key ID</p>\n            </li>\n            <li>\n                <p>KMS key alias</p>\n            </li>\n            <li>\n                <p>ARN referring to KMS key ID</p>\n            </li>\n            <li>\n                <p>ARN referring to KMS key alias</p>\n            </li>\n         </ul>\n        <p> If encrypted is <i>true</i> but a KMS key id is not specified, the\n            customer's default KMS key for EBS is used. </p>"
          }
        },
        "replicationRunId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRunId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the replication run.</p>"
          }
        },
        "scheduledStartTime": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the next replication run.</p>"
          }
        },
        "stageDetails": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRunStageDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details of the current stage of the replication run.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRunState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the replication run.</p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRunStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The description of the current status of the replication job.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRunType",
          "traits": {
            "smithy.api#documentation": "<p>The type of replication run.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a replication run.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRunId": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRunLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded the number of on-demand replication runs you can request in a\n            24-hour period.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRunList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRun",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRunStage": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRunStageDetails": {
      "type": "structure",
      "members": {
        "stage": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRunStage",
          "traits": {
            "smithy.api#documentation": "<p>String describing the current stage of a replication run.</p>"
          }
        },
        "stageProgress": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationRunStageProgress",
          "traits": {
            "smithy.api#documentation": "<p>String describing the progress of the current stage of a replication run.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the current stage of a replication run.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRunStageProgress": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRunState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PENDING": {
            "name": "Pending"
          },
          "MISSED": {
            "name": "Missed"
          },
          "ACTIVE": {
            "name": "Active"
          },
          "FAILED": {
            "name": "Failed"
          },
          "COMPLETED": {
            "name": "Completed"
          },
          "DELETING": {
            "name": "Deleting"
          },
          "DELETED": {
            "name": "Deleted"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRunStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ReplicationRunType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ON_DEMAND": {
            "name": "OnDemand"
          },
          "AUTOMATIC": {
            "name": "Automatic"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#RoleName": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#RunOnce": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#S3Location": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.amazonaws.servermigration.V2016_10_24#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>Amazon S3 bucket name.</p>"
          }
        },
        "key": {
          "target": "com.amazonaws.servermigration.V2016_10_24#KeyName",
          "traits": {
            "smithy.api#documentation": "<p>Amazon S3 bucket key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Location of the Amazon S3 object in the customer's account.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#SecurityGroup": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#Server": {
      "type": "structure",
      "members": {
        "replicationJobId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the replication job.</p>"
          }
        },
        "replicationJobTerminated": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ReplicationJobTerminated",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the replication job is deleted or failed.</p>"
          }
        },
        "serverId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the server.</p>"
          }
        },
        "serverType": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerType",
          "traits": {
            "smithy.api#documentation": "<p>The type of server.</p>"
          }
        },
        "vmServer": {
          "target": "com.amazonaws.servermigration.V2016_10_24#VmServer",
          "traits": {
            "smithy.api#documentation": "<p>Information about the VM server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a server.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerCannotBeReplicatedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified server cannot be replicated.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerCatalogStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "NOT_IMPORTED": {
            "name": "NotImported"
          },
          "IMPORTING": {
            "name": "Importing"
          },
          "AVAILABLE": {
            "name": "Available"
          },
          "DELETED": {
            "name": "Deleted"
          },
          "EXPIRED": {
            "name": "Expired"
          }
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupName",
          "traits": {
            "smithy.api#documentation": "<p>Name of a server group.</p>"
          }
        },
        "serverGroupId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of a server group.</p>"
          }
        },
        "serverList": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerList",
          "traits": {
            "smithy.api#documentation": "<p>List of servers belonging to a server group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A logical grouping of servers.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerGroupId": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerGroupLaunchConfiguration": {
      "type": "structure",
      "members": {
        "launchOrder": {
          "target": "com.amazonaws.servermigration.V2016_10_24#LaunchOrder",
          "traits": {
            "smithy.api#documentation": "<p>Launch order of servers in the server group.</p>"
          }
        },
        "serverGroupId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the server group the launch configuration is associated with.</p>"
          }
        },
        "serverLaunchConfigurations": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerLaunchConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Launch configuration for servers in the server group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Launch configuration for a server group.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerGroupLaunchConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupLaunchConfiguration"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerGroupName": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerGroupReplicationConfiguration": {
      "type": "structure",
      "members": {
        "serverGroupId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the server group this replication configuration is associated\n            with.</p>"
          }
        },
        "serverReplicationConfigurations": {
          "target": "com.amazonaws.servermigration.V2016_10_24#ServerReplicationConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Replication configuration for servers in the server group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Replication configuration for a server group.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerGroupReplicationConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroupReplicationConfiguration"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ServerGroup"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerId": {
      "type": "string"
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerLaunchConfiguration": {
      "type": "structure",
      "members": {
        "associatePublicIpAddress": {
          "target": "com.amazonaws.servermigration.V2016_10_24#AssociatePublicIpAddress",
          "traits": {
            "smithy.api#documentation": "<p>If true, a publicly accessible IP address is created when launching the server.</p>"
          }
        },
        "ec2KeyName": {
          "target": "com.amazonaws.servermigration.V2016_10_24#EC2KeyName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the EC2 SSH Key to be used for connecting to the launched server.</p>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.servermigration.V2016_10_24#InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>Instance type to be used for launching the server.</p>"
          }
        },
        "logicalId": {
          "target": "com.amazonaws.servermigration.V2016_10_24#LogicalId",
          "traits": {
            "smithy.api#documentation": "<p>Logical ID of the server in the Amazon CloudFormation template.</p>"
          }
        },
        "securityGroup": {
          "target": "com.amazonaws.servermigration.V2016_10_24#SecurityGroup",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the security group that applies to the launched server.</p>"
          }
        },
        "server": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Server",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the server the launch configuration is associated with.</p>"
          }
        },
        "subnet": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Subnet",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the subnet the server should be launched into.</p>"
          }
        },
        "userData": {
          "target": "com.amazonaws.servermigration.V2016_10_24#UserData",
          "traits": {
            "smithy.api#documentation": "<p>Location of the user-data script to be executed when launching the server.</p>"
          }
        },
        "vpc": {
          "target": "com.amazonaws.servermigration.V2016_10_24#VPC",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the VPC the server should be launched into.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Launch configuration for a server.</p>"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerLaunchConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#ServerLaunchConfiguration"
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.servermigration.V2016_10_24#Server",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.servermigration.V2016_10_24#ServerReplicationConfiguration": {
      "type": "structure",
      "members": {
        "server": {
          "target": "com.amazonaws.servermigration.V2016_10_24#Server",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the server this replication configuration is associated with.</p>"
          }
        },
[...]
