{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sms#AWSServerMigrationService_V2016_10_24": {
      "type": "service",
      "version": "2016-10-24",
      "operations": [
        {
          "target": "com.amazonaws.sms#CreateApp"
        },
        {
          "target": "com.amazonaws.sms#CreateReplicationJob"
        },
        {
          "target": "com.amazonaws.sms#DeleteApp"
        },
        {
          "target": "com.amazonaws.sms#DeleteAppLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.sms#DeleteAppReplicationConfiguration"
        },
        {
          "target": "com.amazonaws.sms#DeleteAppValidationConfiguration"
        },
        {
          "target": "com.amazonaws.sms#DeleteReplicationJob"
        },
        {
          "target": "com.amazonaws.sms#DeleteServerCatalog"
        },
        {
          "target": "com.amazonaws.sms#DisassociateConnector"
        },
        {
          "target": "com.amazonaws.sms#GenerateChangeSet"
        },
        {
          "target": "com.amazonaws.sms#GenerateTemplate"
        },
        {
          "target": "com.amazonaws.sms#GetApp"
        },
        {
          "target": "com.amazonaws.sms#GetAppLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.sms#GetAppReplicationConfiguration"
        },
        {
          "target": "com.amazonaws.sms#GetAppValidationConfiguration"
        },
        {
          "target": "com.amazonaws.sms#GetAppValidationOutput"
        },
        {
          "target": "com.amazonaws.sms#GetConnectors"
        },
        {
          "target": "com.amazonaws.sms#GetReplicationJobs"
        },
        {
          "target": "com.amazonaws.sms#GetReplicationRuns"
        },
        {
          "target": "com.amazonaws.sms#GetServers"
        },
        {
          "target": "com.amazonaws.sms#ImportAppCatalog"
        },
        {
          "target": "com.amazonaws.sms#ImportServerCatalog"
        },
        {
          "target": "com.amazonaws.sms#LaunchApp"
        },
        {
          "target": "com.amazonaws.sms#ListApps"
        },
        {
          "target": "com.amazonaws.sms#NotifyAppValidationOutput"
        },
        {
          "target": "com.amazonaws.sms#PutAppLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.sms#PutAppReplicationConfiguration"
        },
        {
          "target": "com.amazonaws.sms#PutAppValidationConfiguration"
        },
        {
          "target": "com.amazonaws.sms#StartAppReplication"
        },
        {
          "target": "com.amazonaws.sms#StartOnDemandAppReplication"
        },
        {
          "target": "com.amazonaws.sms#StartOnDemandReplicationRun"
        },
        {
          "target": "com.amazonaws.sms#StopAppReplication"
        },
        {
          "target": "com.amazonaws.sms#TerminateApp"
        },
        {
          "target": "com.amazonaws.sms#UpdateApp"
        },
        {
          "target": "com.amazonaws.sms#UpdateReplicationJob"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SMS",
          "arnNamespace": "sms",
          "cloudFormationName": "SMS",
          "cloudTrailEventSource": "sms.amazonaws.com",
          "endpointPrefix": "sms"
        },
        "aws.auth#sigv4": {
          "name": "sms"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<important>\n            <p>\n               <b>Product update</b>\n            </p>\n            <p>We recommend <a href=\"http://aws.amazon.com/application-migration-service\">Amazon Web Services Application Migration Service</a> (Amazon Web Services\n                MGN) as the primary migration service for lift-and-shift migrations. If Amazon Web Services MGN is\n                unavailable in a specific Amazon Web Services Region, you can use the Server Migration Service APIs through March\n                2023.</p>\n         </important>\n            \n        <p>Server Migration Service (Server Migration Service) makes it easier and faster for you to migrate your\n            on-premises workloads to Amazon Web Services. To learn more about Server Migration Service, see the following \n            resources:</p>\n        <ul>\n            <li>\n                <p>\n                  <a href=\"http://aws.amazon.com/server-migration-service/\">Server Migration Service\n                    product page</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/server-migration-service/latest/userguide/\">Server Migration Service User Guide</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Server Migration Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://ec2.amazon.com/servermigration/2016-10-24/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://sms-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://sms-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://sms.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://sms.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sms.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.sms#AmiId": {
      "type": "string"
    },
    "com.amazonaws.sms#AppDescription": {
      "type": "string"
    },
    "com.amazonaws.sms#AppId": {
      "type": "string"
    },
    "com.amazonaws.sms#AppIdWithValidation": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^app-[0-9a-f]{17}$"
      }
    },
    "com.amazonaws.sms#AppIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sms#AppId"
      }
    },
    "com.amazonaws.sms#AppLaunchConfigurationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOT_CONFIGURED",
            "name": "NotConfigured"
          },
          {
            "value": "CONFIGURED",
            "name": "Configured"
          }
        ]
      }
    },
    "com.amazonaws.sms#AppLaunchStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "READY_FOR_CONFIGURATION",
            "name": "ReadyForConfiguration"
          },
          {
            "value": "CONFIGURATION_IN_PROGRESS",
            "name": "ConfigurationInProgress"
          },
          {
            "value": "CONFIGURATION_INVALID",
            "name": "ConfigurationInvalid"
          },
          {
            "value": "READY_FOR_LAUNCH",
            "name": "ReadyForLaunch"
          },
          {
            "value": "VALIDATION_IN_PROGRESS",
            "name": "ValidationInProgress"
          },
          {
            "value": "LAUNCH_PENDING",
            "name": "LaunchPending"
          },
          {
            "value": "LAUNCH_IN_PROGRESS",
            "name": "LaunchInProgress"
          },
          {
            "value": "LAUNCHED",
            "name": "Launched"
          },
          {
            "value": "PARTIALLY_LAUNCHED",
            "name": "PartiallyLaunched"
          },
          {
            "value": "DELTA_LAUNCH_IN_PROGRESS",
            "name": "DeltaLaunchInProgress"
          },
          {
            "value": "DELTA_LAUNCH_FAILED",
            "name": "DeltaLaunchFailed"
          },
          {
            "value": "LAUNCH_FAILED",
            "name": "LaunchFailed"
          },
          {
            "value": "TERMINATE_IN_PROGRESS",
            "name": "TerminateInProgress"
          },
          {
            "value": "TERMINATE_FAILED",
            "name": "TerminateFailed"
          },
          {
            "value": "TERMINATED",
            "name": "Terminated"
          }
        ]
      }
    },
    "com.amazonaws.sms#AppLaunchStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.sms#AppName": {
      "type": "string"
    },
    "com.amazonaws.sms#AppReplicationConfigurationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOT_CONFIGURED",
            "name": "NotConfigured"
          },
          {
            "value": "CONFIGURED",
            "name": "Configured"
          }
        ]
      }
    },
    "com.amazonaws.sms#AppReplicationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "READY_FOR_CONFIGURATION",
            "name": "ReadyForConfiguration"
          },
          {
            "value": "CONFIGURATION_IN_PROGRESS",
            "name": "ConfigurationInProgress"
          },
          {
            "value": "CONFIGURATION_INVALID",
            "name": "ConfigurationInvalid"
          },
          {
            "value": "READY_FOR_REPLICATION",
            "name": "ReadyForReplication"
          },
          {
            "value": "VALIDATION_IN_PROGRESS",
            "name": "ValidationInProgress"
          },
          {
            "value": "REPLICATION_PENDING",
            "name": "ReplicationPending"
          },
          {
            "value": "REPLICATION_IN_PROGRESS",
            "name": "ReplicationInProgress"
          },
          {
            "value": "REPLICATED",
            "name": "Replicated"
          },
          {
            "value": "PARTIALLY_REPLICATED",
            "name": "PartiallyReplicated"
          },
          {
            "value": "DELTA_REPLICATION_IN_PROGRESS",
            "name": "DeltaReplicationInProgress"
          },
          {
            "value": "DELTA_REPLICATED",
            "name": "DeltaReplicated"
          },
          {
            "value": "DELTA_REPLICATION_FAILED",
            "name": "DeltaReplicationFailed"
          },
          {
            "value": "REPLICATION_FAILED",
            "name": "ReplicationFailed"
          },
          {
            "value": "REPLICATION_STOPPING",
            "name": "ReplicationStopping"
          },
          {
            "value": "REPLICATION_STOP_FAILED",
            "name": "ReplicationStopFailed"
          },
          {
            "value": "REPLICATION_STOPPED",
            "name": "ReplicationStopped"
          }
        ]
      }
    },
    "com.amazonaws.sms#AppReplicationStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.sms#AppStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "Creating"
          },
          {
            "value": "ACTIVE",
            "name": "Active"
          },
          {
            "value": "UPDATING",
            "name": "Updating"
          },
          {
            "value": "DELETING",
            "name": "Deleting"
          },
          {
            "value": "DELETED",
            "name": "Deleted"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.sms#AppStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.sms#AppSummary": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.sms#AppId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the application.</p>"
          }
        },
        "importedAppId": {
          "target": "com.amazonaws.sms#ImportedAppId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.sms#AppName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.sms#AppDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.sms#AppStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the application.</p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.sms#AppStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message related to the status of the application</p>"
          }
        },
        "replicationConfigurationStatus": {
          "target": "com.amazonaws.sms#AppReplicationConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the replication configuration.</p>"
          }
        },
        "replicationStatus": {
          "target": "com.amazonaws.sms#AppReplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The replication status of the application.</p>"
          }
        },
        "replicationStatusMessage": {
          "target": "com.amazonaws.sms#AppReplicationStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message related to the replication status of the application.</p>"
          }
        },
        "latestReplicationTime": {
          "target": "com.amazonaws.sms#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the application's most recent successful replication.</p>"
          }
        },
        "launchConfigurationStatus": {
          "target": "com.amazonaws.sms#AppLaunchConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the launch configuration.</p>"
          }
        },
        "launchStatus": {
          "target": "com.amazonaws.sms#AppLaunchStatus",
          "traits": {
            "smithy.api#documentation": "<p>The launch status of the application.</p>"
          }
        },
        "launchStatusMessage": {
          "target": "com.amazonaws.sms#AppLaunchStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message related to the launch status of the application.</p>"
          }
        },
        "launchDetails": {
          "target": "com.amazonaws.sms#LaunchDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the latest launch of the application.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.sms#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the application.</p>"
          }
        },
        "lastModified": {
          "target": "com.amazonaws.sms#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last modified time of the application.</p>"
          }
        },
        "roleName": {
          "target": "com.amazonaws.sms#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service role in the customer's account used by Server Migration Service.</p>"
          }
        },
        "totalServerGroups": {
          "target": "com.amazonaws.sms#TotalServerGroups",
          "traits": {
            "smithy.api#documentation": "<p>The number of server groups present in the application.</p>"
          }
        },
        "totalServers": {
          "target": "com.amazonaws.sms#TotalServers",
          "traits": {
            "smithy.api#documentation": "<p>The number of servers present in the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the application.</p>"
      }
    },
    "com.amazonaws.sms#AppValidationConfiguration": {
      "type": "structure",
      "members": {
        "validationId": {
          "target": "com.amazonaws.sms#ValidationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the validation.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.sms#NonEmptyStringWithMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>"
          }
        },
        "appValidationStrategy": {
          "target": "com.amazonaws.sms#AppValidationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The validation strategy.</p>"
          }
        },
        "ssmValidationParameters": {
          "target": "com.amazonaws.sms#SSMValidationParameters",
          "traits": {
            "smithy.api#documentation": "<p>The validation parameters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for validating an application.</p>"
      }
    },
    "com.amazonaws.sms#AppValidationConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sms#AppValidationConfiguration"
      }
    },
    "com.amazonaws.sms#AppValidationOutput": {
      "type": "structure",
      "members": {
        "ssmOutput": {
          "target": "com.amazonaws.sms#SSMOutput",
          "traits": {
            "smithy.api#documentation": "<p>Output from using SSM to validate the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output from validating an application.</p>"
      }
    },
    "com.amazonaws.sms#AppValidationStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SSM",
            "name": "SSM"
          }
        ]
      }
    },
    "com.amazonaws.sms#Apps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sms#AppSummary"
      }
    },
    "com.amazonaws.sms#AssociatePublicIpAddress": {
      "type": "boolean"
    },
    "com.amazonaws.sms#AutoLaunch": {
      "type": "boolean"
    },
    "com.amazonaws.sms#BucketName": {
      "type": "string"
    },
    "com.amazonaws.sms#ClientToken": {
      "type": "string"
    },
    "com.amazonaws.sms#Command": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64000
        }
      }
    },
    "com.amazonaws.sms#Connector": {
      "type": "structure",
      "members": {
        "connectorId": {
          "target": "com.amazonaws.sms#ConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connector.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.sms#ConnectorVersion",
          "traits": {
            "smithy.api#documentation": "<p>The connector version.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.sms#ConnectorStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the connector.</p>"
          }
        },
        "capabilityList": {
          "target": "com.amazonaws.sms#ConnectorCapabilityList",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities of the connector.</p>"
          }
        },
        "vmManagerName": {
          "target": "com.amazonaws.sms#VmManagerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VM manager.</p>"
          }
        },
        "vmManagerType": {
          "target": "com.amazonaws.sms#VmManagerType",
          "traits": {
            "smithy.api#documentation": "<p>The VM management product.</p>"
          }
        },
        "vmManagerId": {
          "target": "com.amazonaws.sms#VmManagerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VM manager.</p>"
          }
        },
        "ipAddress": {
          "target": "com.amazonaws.sms#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the connector.</p>"
          }
        },
        "macAddress": {
          "target": "com.amazonaws.sms#MacAddress",
          "traits": {
            "smithy.api#documentation": "<p>The MAC address of the connector.</p>"
          }
        },
        "associatedOn": {
          "target": "com.amazonaws.sms#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the connector was associated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a connector.</p>"
      }
    },
    "com.amazonaws.sms#ConnectorCapability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "VSPHERE",
            "name": "vSphere"
          },
          {
            "value": "SCVMM",
            "name": "scvmm"
          },
          {
            "value": "HYPERV-MANAGER",
            "name": "hyperVManager"
          },
          {
            "value": "SNAPSHOT_BATCHING",
            "name": "snapshotBatching"
          },
          {
            "value": "SMS_OPTIMIZED",
            "name": "smsOptimized"
          }
        ]
      }
    },
    "com.amazonaws.sms#ConnectorCapabilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sms#ConnectorCapability",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.sms#ConnectorId": {
      "type": "string"
    },
    "com.amazonaws.sms#ConnectorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sms#Connector",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.sms#ConnectorStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HEALTHY",
            "name": "Healthy"
          },
          {
            "value": "UNHEALTHY",
            "name": "Unhealthy"
          }
        ]
      }
    },
    "com.amazonaws.sms#ConnectorVersion": {
      "type": "string"
    },
    "com.amazonaws.sms#CreateApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#CreateAppRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#CreateAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InternalError"
        },
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an application. An application consists of one or more server groups. Each\n            server group contain one or more servers.</p>"
      }
    },
    "com.amazonaws.sms#CreateAppRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.sms#AppName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new application.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.sms#AppDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new application</p>"
          }
        },
        "roleName": {
          "target": "com.amazonaws.sms#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service role in the customer's account to be used by Server Migration Service.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.sms#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of\n            application creation.</p>"
          }
        },
        "serverGroups": {
          "target": "com.amazonaws.sms#ServerGroups",
          "traits": {
            "smithy.api#documentation": "<p>The server groups to include in the application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.sms#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be associated with the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#CreateAppResponse": {
      "type": "structure",
      "members": {
        "appSummary": {
          "target": "com.amazonaws.sms#AppSummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary description of the application.</p>"
          }
        },
        "serverGroups": {
          "target": "com.amazonaws.sms#ServerGroups",
          "traits": {
            "smithy.api#documentation": "<p>The server groups included in the application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.sms#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#CreateReplicationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#CreateReplicationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#CreateReplicationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InternalError"
        },
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#NoConnectorsAvailableException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#ReplicationJobAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.sms#ServerCannotBeReplicatedException"
        },
        {
          "target": "com.amazonaws.sms#TemporarilyUnavailableException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a replication job. The replication job schedules periodic replication runs\n            to replicate your server to Amazon Web Services. Each replication run creates an Amazon Machine Image\n            (AMI).</p>"
      }
    },
    "com.amazonaws.sms#CreateReplicationJobRequest": {
      "type": "structure",
      "members": {
        "serverId": {
          "target": "com.amazonaws.sms#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the server.</p>",
            "smithy.api#required": {}
          }
        },
        "seedReplicationTime": {
          "target": "com.amazonaws.sms#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The seed replication time.</p>",
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "com.amazonaws.sms#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The time between consecutive replication runs, in hours.</p>"
          }
        },
        "runOnce": {
          "target": "com.amazonaws.sms#RunOnce",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to run the replication job one time.</p>"
          }
        },
        "licenseType": {
          "target": "com.amazonaws.sms#LicenseType",
          "traits": {
            "smithy.api#documentation": "<p>The license type to be used for the AMI created by a successful replication\n            run.</p>"
          }
        },
        "roleName": {
          "target": "com.amazonaws.sms#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM role to be used by the Server Migration Service.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.sms#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the replication job.</p>"
          }
        },
        "numberOfRecentAmisToKeep": {
          "target": "com.amazonaws.sms#NumberOfRecentAmisToKeep",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of SMS-created AMIs to retain. The oldest is deleted after the\n            maximum number is reached and a new AMI is created.</p>"
          }
        },
        "encrypted": {
          "target": "com.amazonaws.sms#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the replication job produces encrypted AMIs.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.sms#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key for replication jobs that produce encrypted AMIs. \n            This value can be any of the following:</p>\n        <ul>\n            <li>\n                <p>KMS key ID</p>\n            </li>\n            <li>\n                <p>KMS key alias</p>\n            </li>\n            <li>\n                <p>ARN referring to the KMS key ID</p>\n            </li>\n            <li>\n                <p>ARN referring to the KMS key alias</p>\n            </li>\n         </ul>\n        <p> If encrypted is <i>true</i> but a KMS key ID is not specified, the\n            customer's default KMS key for Amazon EBS is used. </p>"
          }
        }
      }
    },
    "com.amazonaws.sms#CreateReplicationJobResponse": {
      "type": "structure",
      "members": {
        "replicationJobId": {
          "target": "com.amazonaws.sms#ReplicationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the replication job.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#DeleteApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#DeleteAppRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#DeleteAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InternalError"
        },
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified application. Optionally deletes the launched stack associated with\n            the application and all Server Migration Service replication jobs for servers in the application.</p>"
      }
    },
    "com.amazonaws.sms#DeleteAppLaunchConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#DeleteAppLaunchConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#DeleteAppLaunchConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InternalError"
        },
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the launch configuration for the specified application.</p>"
      }
    },
    "com.amazonaws.sms#DeleteAppLaunchConfigurationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.sms#AppId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#DeleteAppLaunchConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.sms#DeleteAppReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#DeleteAppReplicationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#DeleteAppReplicationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InternalError"
        },
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the replication configuration for the specified application.</p>"
      }
    },
    "com.amazonaws.sms#DeleteAppReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.sms#AppId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#DeleteAppReplicationConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.sms#DeleteAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.sms#AppId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application.</p>"
          }
        },
        "forceStopAppReplication": {
          "target": "com.amazonaws.sms#ForceStopAppReplication",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to stop all replication jobs corresponding to the servers\n            in the application while deleting the application.</p>"
          }
        },
        "forceTerminateApp": {
          "target": "com.amazonaws.sms#ForceTerminateApp",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to terminate the stack corresponding to the\n            application while deleting the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#DeleteAppResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.sms#DeleteAppValidationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#DeleteAppValidationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#DeleteAppValidationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InternalError"
        },
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the validation configuration for the specified application.</p>"
      }
    },
    "com.amazonaws.sms#DeleteAppValidationConfigurationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.sms#AppIdWithValidation",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sms#DeleteAppValidationConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.sms#DeleteReplicationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#DeleteReplicationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#DeleteReplicationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#ReplicationJobNotFoundException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified replication job.</p>\n        <p>After you delete a replication job, there are no further replication runs. Amazon Web Services\n            deletes the contents of the Amazon S3 bucket used to store Server Migration Service artifacts. The AMIs created\n            by the replication runs are not deleted.</p>"
      }
    },
    "com.amazonaws.sms#DeleteReplicationJobRequest": {
      "type": "structure",
      "members": {
        "replicationJobId": {
          "target": "com.amazonaws.sms#ReplicationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the replication job.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sms#DeleteReplicationJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.sms#DeleteServerCatalog": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#DeleteServerCatalogRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#DeleteServerCatalogResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all servers from your server catalog.</p>"
      }
    },
    "com.amazonaws.sms#DeleteServerCatalogRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.sms#DeleteServerCatalogResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.sms#Description": {
      "type": "string"
    },
    "com.amazonaws.sms#DisassociateConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#DisassociateConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#DisassociateConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the specified connector from Server Migration Service.</p>\n        <p>After you disassociate a connector, it is no longer available to support\n            replication jobs.</p>"
      }
    },
    "com.amazonaws.sms#DisassociateConnectorRequest": {
      "type": "structure",
      "members": {
        "connectorId": {
          "target": "com.amazonaws.sms#ConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connector.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.sms#DisassociateConnectorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.sms#DryRunOperationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.sms#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DryRunOperationException",
          "httpResponseCode": 412
        },
        "smithy.api#documentation": "<p>The user has the required permissions, so the request would have succeeded, \n            but a dry run was performed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 412
      }
    },
    "com.amazonaws.sms#EC2KeyName": {
      "type": "string"
    },
    "com.amazonaws.sms#Encrypted": {
      "type": "boolean"
    },
    "com.amazonaws.sms#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.sms#ExecutionTimeoutSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 60,
          "max": 28800
        }
      }
    },
    "com.amazonaws.sms#ForceStopAppReplication": {
      "type": "boolean"
    },
    "com.amazonaws.sms#ForceTerminateApp": {
      "type": "boolean"
    },
    "com.amazonaws.sms#Frequency": {
      "type": "integer"
    },
    "com.amazonaws.sms#GenerateChangeSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#GenerateChangeSetRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#GenerateChangeSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InternalError"
        },
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates a target change set for a currently launched stack and writes it to an Amazon S3\n            object in the customer’s Amazon S3 bucket.</p>"
      }
    },
    "com.amazonaws.sms#GenerateChangeSetRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.sms#AppId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application associated with the change set.</p>"
          }
        },
        "changesetFormat": {
          "target": "com.amazonaws.sms#OutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for the change set.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#GenerateChangeSetResponse": {
      "type": "structure",
      "members": {
        "s3Location": {
          "target": "com.amazonaws.sms#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The location of the Amazon S3 object.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#GenerateTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#GenerateTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#GenerateTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InternalError"
        },
        {
          "target": "com.amazonaws.sms#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.sms#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.sms#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.sms#UnauthorizedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates an CloudFormation template based on the current launch configuration and writes it to\n            an Amazon S3 object in the customer’s Amazon S3 bucket.</p>"
      }
    },
    "com.amazonaws.sms#GenerateTemplateRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.sms#AppId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application associated with the CloudFormation template.</p>"
          }
        },
        "templateFormat": {
          "target": "com.amazonaws.sms#OutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for generating the CloudFormation template.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#GenerateTemplateResponse": {
      "type": "structure",
      "members": {
        "s3Location": {
          "target": "com.amazonaws.sms#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The location of the Amazon S3 object.</p>"
          }
        }
      }
    },
    "com.amazonaws.sms#GetApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sms#GetAppRequest"
      },
      "output": {
        "target": "com.amazonaws.sms#GetAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sms#InternalError"
        },
        {
[...]
