{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.snowball#AWSIESnowballJobManagementService": {
      "type": "service",
      "version": "2016-06-30",
      "operations": [
        {
          "target": "com.amazonaws.snowball#CancelCluster"
        },
        {
          "target": "com.amazonaws.snowball#CancelJob"
        },
        {
          "target": "com.amazonaws.snowball#CreateAddress"
        },
        {
          "target": "com.amazonaws.snowball#CreateCluster"
        },
        {
          "target": "com.amazonaws.snowball#CreateJob"
        },
        {
          "target": "com.amazonaws.snowball#CreateLongTermPricing"
        },
        {
          "target": "com.amazonaws.snowball#CreateReturnShippingLabel"
        },
        {
          "target": "com.amazonaws.snowball#DescribeAddress"
        },
        {
          "target": "com.amazonaws.snowball#DescribeAddresses"
        },
        {
          "target": "com.amazonaws.snowball#DescribeCluster"
        },
        {
          "target": "com.amazonaws.snowball#DescribeJob"
        },
        {
          "target": "com.amazonaws.snowball#DescribeReturnShippingLabel"
        },
        {
          "target": "com.amazonaws.snowball#GetJobManifest"
        },
        {
          "target": "com.amazonaws.snowball#GetJobUnlockCode"
        },
        {
          "target": "com.amazonaws.snowball#GetSnowballUsage"
        },
        {
          "target": "com.amazonaws.snowball#GetSoftwareUpdates"
        },
        {
          "target": "com.amazonaws.snowball#ListClusterJobs"
        },
        {
          "target": "com.amazonaws.snowball#ListClusters"
        },
        {
          "target": "com.amazonaws.snowball#ListCompatibleImages"
        },
        {
          "target": "com.amazonaws.snowball#ListJobs"
        },
        {
          "target": "com.amazonaws.snowball#ListLongTermPricing"
        },
        {
          "target": "com.amazonaws.snowball#UpdateCluster"
        },
        {
          "target": "com.amazonaws.snowball#UpdateJob"
        },
        {
          "target": "com.amazonaws.snowball#UpdateJobShipmentState"
        },
        {
          "target": "com.amazonaws.snowball#UpdateLongTermPricing"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Snowball",
          "arnNamespace": "snowball",
          "cloudFormationName": "Snowball",
          "cloudTrailEventSource": "snowball.amazonaws.com",
          "endpointPrefix": "snowball"
        },
        "aws.auth#sigv4": {
          "name": "snowball"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>The Amazon Web Services Snow Family provides a petabyte-scale data transport solution that uses\n      secure devices to transfer large amounts of data between your on-premises data centers and\n      Amazon Simple Storage Service (Amazon S3). The Snow Family commands described here provide access to the same\n      functionality that is available in the Amazon Web Services Snow Family Management Console, which enables you to create\n      and manage jobs for a Snow Family device. To transfer data locally with a Snow Family device,\n      you'll need to use the Snowball Edge client or the Amazon S3 API Interface for Snowball or OpsHub for Snow Family. For more information, see the <a href=\"https://docs.aws.amazon.com/AWSImportExport/latest/ug/api-reference.html\">User Guide</a>.</p>",
        "smithy.api#title": "Amazon Import/Export Snowball",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://snowball-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://snowball-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://snowball.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://snowball.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://snowball.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.snowball#Address": {
      "type": "structure",
      "members": {
        "AddressId": {
          "target": "com.amazonaws.snowball#AddressId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for an address.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a person to receive a Snow device at an address.</p>"
          }
        },
        "Company": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the company to receive a Snow device at an address.</p>"
          }
        },
        "Street1": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The first line in a street address that a Snow device is to be delivered\n      to.</p>"
          }
        },
        "Street2": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The second line in a street address that a Snow device is to be delivered\n      to.</p>"
          }
        },
        "Street3": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The third line in a street address that a Snow device is to be delivered\n      to.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The city in an address that a Snow device is to be delivered to.</p>"
          }
        },
        "StateOrProvince": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The state or province in an address that a Snow device is to be delivered to.</p>"
          }
        },
        "PrefectureOrDistrict": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>This field is no longer used and the value is ignored.</p>"
          }
        },
        "Landmark": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>This field is no longer used and the value is ignored.</p>"
          }
        },
        "Country": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The country in an address that a Snow device is to be delivered to.</p>"
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The postal code in an address that a Snow device is to be delivered to.</p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The phone number associated with an address that a Snow device is to be delivered\n      to.</p>"
          }
        },
        "IsRestricted": {
          "target": "com.amazonaws.snowball#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>If the address you are creating is a primary address, then set this option to\n      true. This field is not supported in most regions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The address that you want the Snow device(s) associated with a specific job to be\n      shipped to. Addresses are validated at the time of creation. The address you provide must be\n      located within the serviceable area of your region. Although no individual elements of the\n        <code>Address</code> are required, if the address is invalid or unsupported, then an\n      exception is thrown.</p>"
      }
    },
    "com.amazonaws.snowball#AddressId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 40,
          "max": 40
        },
        "smithy.api#pattern": "^ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.snowball#AddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.snowball#Address"
      }
    },
    "com.amazonaws.snowball#AmiId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 21
        },
        "smithy.api#pattern": "^(ami-[0-9a-f]{8})|(ami-[0-9a-f]{17})$"
      }
    },
    "com.amazonaws.snowball#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.snowball#CancelCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.snowball#CancelClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.snowball#CancelClusterResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.snowball#InvalidJobStateException"
        },
        {
          "target": "com.amazonaws.snowball#InvalidResourceException"
        },
        {
          "target": "com.amazonaws.snowball#KMSRequestFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a cluster job. You can only cancel a cluster job while it's in the\n        <code>AwaitingQuorum</code> status. You'll have at least an hour after creating a cluster\n      job to cancel it.</p>"
      }
    },
    "com.amazonaws.snowball#CancelClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.snowball#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The 39-character ID for the cluster that you want to cancel, for example\n        <code>CID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.snowball#CancelClusterResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.snowball#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.snowball#CancelJobRequest"
      },
      "output": {
        "target": "com.amazonaws.snowball#CancelJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.snowball#InvalidJobStateException"
        },
        {
          "target": "com.amazonaws.snowball#InvalidResourceException"
        },
        {
          "target": "com.amazonaws.snowball#KMSRequestFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified job. You can only cancel a job before its <code>JobState</code>\n      value changes to <code>PreparingAppliance</code>. Requesting the <code>ListJobs</code> or\n        <code>DescribeJob</code> action returns a job's <code>JobState</code> as part of the\n      response element data returned.</p>"
      }
    },
    "com.amazonaws.snowball#CancelJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.snowball#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The 39-character job ID for the job that you want to cancel, for example\n        <code>JID123e4567-e89b-12d3-a456-426655440000</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.snowball#CancelJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.snowball#ClusterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 39,
          "max": 39
        },
        "smithy.api#pattern": "^CID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.snowball#ClusterLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.snowball#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Job creation failed. Currently, clusters support five nodes. If you have fewer than\n      five nodes for your cluster and you have more nodes to create for this cluster, try again and\n      create jobs until your cluster has exactly five nodes.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.snowball#ClusterListEntry": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The 39-character ID for the cluster that you want to list, for example\n        <code>CID123e4567-e89b-12d3-a456-426655440000</code>.</p>"
          }
        },
        "ClusterState": {
          "target": "com.amazonaws.snowball#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of this cluster. For information about the state of a specific node,\n      see <a>JobListEntry$JobState</a>.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.snowball#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation date for this cluster.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>Defines an optional description of the cluster, for example <code>Environmental Data\n        Cluster-01</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a cluster's state, a cluster's ID, and other important information.</p>"
      }
    },
    "com.amazonaws.snowball#ClusterListEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.snowball#ClusterListEntry"
      }
    },
    "com.amazonaws.snowball#ClusterMetadata": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The automatically generated ID for a cluster.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The optional description of the cluster.</p>"
          }
        },
        "KmsKeyARN": {
          "target": "com.amazonaws.snowball#KmsKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KmsKeyARN</code> Amazon Resource Name (ARN) associated with this cluster.\n      This ARN was created using the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html\">CreateKey</a> API action in Key Management Service (KMS.</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.snowball#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The role ARN associated with this cluster. This ARN was created using the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\">CreateRole</a>\n      API action in Identity and Access Management (IAM).</p>"
          }
        },
        "ClusterState": {
          "target": "com.amazonaws.snowball#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the cluster.</p>"
          }
        },
        "JobType": {
          "target": "com.amazonaws.snowball#JobType",
          "traits": {
            "smithy.api#documentation": "<p>The type of job for this cluster. Currently, the only job type supported for clusters\n      is <code>LOCAL_USE</code>.</p>"
          }
        },
        "SnowballType": {
          "target": "com.amazonaws.snowball#SnowballType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Snowcone device to use for this cluster.\n      </p>\n         <note>\n            <p>For cluster jobs, Amazon Web Services Snow Family currently supports only the\n          <code>EDGE</code> device type.</p>\n         </note>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.snowball#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation date for this cluster.</p>"
          }
        },
        "Resources": {
          "target": "com.amazonaws.snowball#JobResource",
          "traits": {
            "smithy.api#documentation": "<p>The arrays of <a>JobResource</a> objects that can include updated <a>S3Resource</a> objects or <a>LambdaResource</a> objects.</p>"
          }
        },
        "AddressId": {
          "target": "com.amazonaws.snowball#AddressId",
          "traits": {
            "smithy.api#documentation": "<p>The automatically generated ID for a specific address.</p>"
          }
        },
        "ShippingOption": {
          "target": "com.amazonaws.snowball#ShippingOption",
          "traits": {
            "smithy.api#documentation": "<p>The shipping speed for each node in this cluster. This speed doesn't dictate how soon\n      you'll get each device, rather it represents how quickly each device moves to its destination\n      while in transit. Regional shipping speeds are as follows:</p>\n\n         <ul>\n            <li>\n               <p>In Australia, you have access to express shipping. Typically, devices shipped\n          express are delivered in about a day.</p>\n            </li>\n            <li>\n               <p>In the European Union (EU), you have access to express shipping. Typically, Snow\n          devices shipped express are delivered in about a day. In addition, most countries in the\n          EU have access to standard shipping, which typically takes less than a week, one\n          way.</p>\n            </li>\n            <li>\n               <p>In India, Snow devices are delivered in one to seven days.</p>\n            </li>\n            <li>\n               <p>In the US, you have access to one-day shipping and two-day shipping.</p>\n            </li>\n         </ul>"
          }
        },
        "Notification": {
          "target": "com.amazonaws.snowball#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Simple Notification Service (Amazon SNS) notification settings for this\n      cluster.</p>"
          }
        },
        "ForwardingAddressId": {
          "target": "com.amazonaws.snowball#AddressId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the address that you want a cluster shipped to, after it will be\n      shipped to its primary address. This field is not supported in most regions.</p>"
          }
        },
        "TaxDocuments": {
          "target": "com.amazonaws.snowball#TaxDocuments",
          "traits": {
            "smithy.api#documentation": "<p>The tax documents required in your Amazon Web Services Region.</p>"
          }
        },
        "OnDeviceServiceConfiguration": {
          "target": "com.amazonaws.snowball#OnDeviceServiceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Represents metadata and configuration settings for services on an Amazon Web Services Snow Family\n      device.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a specific cluster.</p>"
      }
    },
    "com.amazonaws.snowball#ClusterState": {
      "type": "enum",
      "members": {
        "AWAITING_QUORUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AwaitingQuorum"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "IN_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InUse"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        }
      }
    },
    "com.amazonaws.snowball#CompatibleImage": {
      "type": "structure",
      "members": {
        "AmiId": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for an individual Snow device AMI.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The optional name of a compatible image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON-formatted object that describes a compatible Amazon Machine Image (AMI),\n      including the ID and name for a Snow device AMI. This AMI is compatible with the device's\n      physical hardware requirements, and it should be able to be run in an SBE1 instance on the\n      device.</p>"
      }
    },
    "com.amazonaws.snowball#CompatibleImageList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.snowball#CompatibleImage"
      }
    },
    "com.amazonaws.snowball#ConflictException": {
      "type": "structure",
      "members": {
        "ConflictResource": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>You get this resource when you call <code>CreateReturnShippingLabel</code> more than once when other requests are not completed. .</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.snowball#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You get this exception when you call <code>CreateReturnShippingLabel</code> more than once\n      when other requests are not completed.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.snowball#CreateAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.snowball#CreateAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.snowball#CreateAddressResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.snowball#InvalidAddressException"
        },
        {
          "target": "com.amazonaws.snowball#UnsupportedAddressException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an address for a Snow device to be shipped to. In most regions,\n      addresses are validated at the time of creation. The address you provide must be located\n      within the serviceable area of your region. If the address is invalid or unsupported, then an\n      exception is thrown.</p>"
      }
    },
    "com.amazonaws.snowball#CreateAddressRequest": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.snowball#Address",
          "traits": {
            "smithy.api#documentation": "<p>The address that you want the Snow device shipped to.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.snowball#CreateAddressResult": {
      "type": "structure",
      "members": {
        "AddressId": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>The automatically generated ID for a specific address. You'll use this ID when you\n      create a job to specify which address you want the Snow device for that job shipped\n      to.</p>"
          }
        }
      }
    },
    "com.amazonaws.snowball#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.snowball#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.snowball#CreateClusterResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.snowball#Ec2RequestFailedException"
        },
        {
          "target": "com.amazonaws.snowball#InvalidInputCombinationException"
        },
        {
          "target": "com.amazonaws.snowball#InvalidResourceException"
        },
        {
          "target": "com.amazonaws.snowball#KMSRequestFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty cluster. Each cluster supports five nodes. You use the <a>CreateJob</a> action separately to create the jobs for each of these nodes. The\n      cluster does not ship until these five node jobs have been created.</p>"
      }
    },
    "com.amazonaws.snowball#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "JobType": {
          "target": "com.amazonaws.snowball#JobType",
          "traits": {
            "smithy.api#documentation": "<p>The type of job for this cluster. Currently, the only job type supported for clusters\n      is <code>LOCAL_USE</code>.</p>\n    \n         <p>For more information, see\n      \"https://docs.aws.amazon.com/snowball/latest/snowcone-guide/snow-device-types.html\" (Snow\n      Family Devices and Capacity) in the <i>Snowcone User Guide</i> or\n      \"https://docs.aws.amazon.com/snowball/latest/developer-guide/snow-device-types.html\" (Snow\n      Family Devices and Capacity) in the <i>Snowcone User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Resources": {
          "target": "com.amazonaws.snowball#JobResource",
          "traits": {
            "smithy.api#documentation": "<p>The resources associated with the cluster job. These resources include Amazon S3\n      buckets and optional Lambda functions written in the Python language.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "OnDeviceServiceConfiguration": {
          "target": "com.amazonaws.snowball#OnDeviceServiceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the service or services on the Snow Family device that your transferred data\n      will be exported from or imported into. Amazon Web Services Snow Family device clusters support Amazon S3 and NFS\n      (Network File System).</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.snowball#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of this specific cluster, for example <code>Environmental Data\n        Cluster-01</code>.</p>"
          }
        },
        "AddressId": {
          "target": "com.amazonaws.snowball#AddressId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the address that you want the cluster shipped to.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyARN": {
          "target": "com.amazonaws.snowball#KmsKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KmsKeyARN</code> value that you want to associate with this cluster.\n        <code>KmsKeyARN</code> values are created by using the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html\">CreateKey</a> API action in Key Management Service (KMS). </p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.snowball#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The <code>RoleARN</code> that you want to associate with this cluster.\n        <code>RoleArn</code> values are created by using the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\">CreateRole</a> API action in Identity and Access Management (IAM).</p>",
            "smithy.api#required": {}
          }
        },
        "SnowballType": {
          "target": "com.amazonaws.snowball#SnowballType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Snow Family devices to use for this cluster. </p>\n         <note>\n            <p>For cluster jobs, Amazon Web Services Snow Family currently supports only the\n          <code>EDGE</code> device type.</p>\n         </note>\n    \n         <p>For more information, see\n      \"https://docs.aws.amazon.com/snowball/latest/snowcone-guide/snow-device-types.html\" (Snow\n      Family Devices and Capacity) in the <i>Snowcone User Guide</i> or\n      \"https://docs.aws.amazon.com/snowball/latest/developer-guide/snow-device-types.html\" (Snow\n      Family Devices and Capacity) in the <i>Snowcone User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "ShippingOption": {
          "target": "com.amazonaws.snowball#ShippingOption",
          "traits": {
            "smithy.api#documentation": "<p>The shipping speed for each node in this cluster. This speed doesn't dictate how soon\n      you'll get each Snowball Edge device, rather it represents how quickly each device moves to\n      its destination while in transit. Regional shipping speeds are as follows: </p>\n         <ul>\n            <li>\n               <p>In Australia, you have access to express shipping. Typically, Snow devices shipped\n          express are delivered in about a day.</p>\n            </li>\n            <li>\n               <p>In the European Union (EU), you have access to express shipping. Typically, Snow\n          devices shipped express are delivered in about a day. In addition, most countries in the\n          EU have access to standard shipping, which typically takes less than a week, one\n          way.</p>\n            </li>\n            <li>\n               <p>In India, Snow devices are delivered in one to seven days.</p>\n            </li>\n            <li>\n               <p>In the United States of America (US), you have access to one-day shipping and\n          two-day shipping.</p>\n            </li>\n         </ul>\n\n         <ul>\n            <li>\n               <p>In Australia, you have access to express shipping. Typically, devices shipped\n          express are delivered in about a day.</p>\n            </li>\n            <li>\n               <p>In the European Union (EU), you have access to express shipping. Typically, Snow\n          devices shipped express are delivered in about a day. In addition, most countries in the\n          EU have access to standard shipping, which typically takes less than a week, one\n          way.</p>\n            </li>\n            <li>\n               <p>In India, Snow devices are delivered in one to seven days.</p>\n            </li>\n            <li>\n               <p>In the US, you have access to one-day shipping and two-day shipping.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.snowball#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Simple Notification Service (Amazon SNS) notification settings for this\n      cluster.</p>"
          }
        },
        "ForwardingAddressId": {
          "target": "com.amazonaws.snowball#AddressId",
          "traits": {
            "smithy.api#documentation": "<p>The forwarding address ID for a cluster. This field is not supported in most\n      regions.</p>"
          }
        },
        "TaxDocuments": {
          "target": "com.amazonaws.snowball#TaxDocuments",
          "traits": {
            "smithy.api#documentation": "<p>The tax documents required in your Amazon Web Services Region.</p>"
          }
        },
        "RemoteManagement": {
          "target": "com.amazonaws.snowball#RemoteManagement",
          "traits": {
            "smithy.api#documentation": "<p>Allows you to securely operate and manage Snow devices in a cluster remotely from outside\n      of your internal network. When set to <code>INSTALLED_AUTOSTART</code>, remote management will\n      automatically be available when the device arrives at your location. Otherwise, you need to\n      use the Snowball Client to manage the device.</p>"
          }
        }
      }
    },
    "com.amazonaws.snowball#CreateClusterResult": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.snowball#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The automatically generated ID for a cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.snowball#CreateJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.snowball#CreateJobRequest"
      },
      "output": {
        "target": "com.amazonaws.snowball#CreateJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.snowball#ClusterLimitExceededException"
        },
        {
          "target": "com.amazonaws.snowball#Ec2RequestFailedException"
        },
        {
          "target": "com.amazonaws.snowball#InvalidInputCombinationException"
        },
        {
          "target": "com.amazonaws.snowball#InvalidResourceException"
        },
        {
          "target": "com.amazonaws.snowball#KMSRequestFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a job to import or export data between Amazon S3 and your on-premises data\n      center. Your Amazon Web Services account must have the right trust policies and permissions in\n      place to create a job for a Snow device. If you're creating a job for a node in a cluster, you\n      only need to provide the <code>clusterId</code> value; the other job attributes are inherited\n      from the cluster. </p>\n         <note>\n            <p>Only the Snowball; Edge device type is supported when ordering clustered jobs.</p>\n            <p>The device capacity is optional.</p>\n            <p>Availability of device types differ by Amazon Web Services Region. For more information\n        about Region availability, see <a href=\"https://aws.amazon.com/about-aws/global-infrastructure/regional-product-services/?p=ngi&loc=4\">Amazon Web Services Regional Services</a>.</p>\n         </note>\n\n         <p></p>\n\n         <p class=\"title\">\n            <b>Snow Family devices and their capacities.</b>\n         </p>\n         <ul>\n            <li>\n               <p>Snow Family device type: <b>SNC1_SSD</b>\n               </p>\n               <ul>\n                  <li>\n                     <p>Capacity: T14</p>\n                  </li>\n                  <li>\n                     <p>Description: Snowcone </p>\n                  </li>\n               </ul>\n\n               <p></p>\n            </li>\n            <li>\n               <p>Snow Family device type: <b>SNC1_HDD</b>\n               </p>\n               <ul>\n                  <li>\n                     <p>Capacity: T8</p>\n                  </li>\n                  <li>\n                     <p>Description: Snowcone </p>\n                  </li>\n               </ul>\n               <p></p>\n            </li>\n            <li>\n               <p>Device type: <b>EDGE_S</b>\n               </p>\n               <ul>\n                  <li>\n                     <p>Capacity: T98</p>\n                  </li>\n                  <li>\n                     <p>Description: Snowball Edge Storage Optimized for data transfer only </p>\n                  </li>\n               </ul>\n\n\n               <p></p>\n            </li>\n            <li>\n               <p>Device type: <b>EDGE_CG</b>\n               </p>\n               <ul>\n                  <li>\n          
[...]
