{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.socialmessaging#AccessDeniedByMetaException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.socialmessaging#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.socialmessaging#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.socialmessaging#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.socialmessaging#AddContactNumber": {
      "type": "boolean"
    },
    "com.amazonaws.socialmessaging#AddLearnMoreLink": {
      "type": "boolean"
    },
    "com.amazonaws.socialmessaging#AddSecurityRecommendation": {
      "type": "boolean"
    },
    "com.amazonaws.socialmessaging#AddTrackPackageLink": {
      "type": "boolean"
    },
    "com.amazonaws.socialmessaging#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:.*$"
      }
    },
    "com.amazonaws.socialmessaging#AssociateInProgressToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.socialmessaging#AssociateWhatsAppBusinessAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#AssociateWhatsAppBusinessAccountInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#AssociateWhatsAppBusinessAccountOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#LimitExceededException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:ResourceTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>This is only used through the Amazon Web Services console during sign-up to associate your WhatsApp Business Account to your Amazon Web Services account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/whatsapp/signup",
          "code": 200
        }
      }
    },
    "com.amazonaws.socialmessaging#AssociateWhatsAppBusinessAccountInput": {
      "type": "structure",
      "members": {
        "signupCallback": {
          "target": "com.amazonaws.socialmessaging#WhatsAppSignupCallback",
          "traits": {
            "smithy.api#documentation": "<p>Contains the callback access token.</p>"
          }
        },
        "setupFinalization": {
          "target": "com.amazonaws.socialmessaging#WhatsAppSetupFinalization",
          "traits": {
            "smithy.api#documentation": "<p>A JSON object that contains the phone numbers and WhatsApp Business Account to link to your account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#AssociateWhatsAppBusinessAccountOutput": {
      "type": "structure",
      "members": {
        "signupCallbackResult": {
          "target": "com.amazonaws.socialmessaging#WhatsAppSignupCallbackResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains your WhatsApp registration status.</p>"
          }
        },
        "statusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The status code for the response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#ButtonType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.socialmessaging#CodeExpirationMinutes": {
      "type": "integer"
    },
    "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new WhatsApp message template from a custom definition.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/whatsapp/template/put",
          "code": 200
        }
      }
    },
    "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateFromLibrary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateFromLibraryInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateFromLibraryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new WhatsApp message template using a template from Meta's template library.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/whatsapp/template/create",
          "code": 200
        }
      }
    },
    "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateFromLibraryInput": {
      "type": "structure",
      "members": {
        "metaLibraryTemplate": {
          "target": "com.amazonaws.socialmessaging#MetaLibraryTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The template configuration from Meta's library, including customizations for buttons and body text.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WhatsApp Business Account to associate with this template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateFromLibraryOutput": {
      "type": "structure",
      "members": {
        "metaTemplateId": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The numeric ID assigned to the template by Meta.</p>"
          }
        },
        "templateStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the created template (for example, PENDING or APPROVED).</p>"
          }
        },
        "category": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the template (for example, UTILITY or MARKETING).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateInput": {
      "type": "structure",
      "members": {
        "templateDefinition": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The complete template definition as a JSON blob.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WhatsApp Business Account to associate with this template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateMedia": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateMediaInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateMediaOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Uploads media for use in a WhatsApp message template.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/whatsapp/template/media",
          "code": 200
        }
      }
    },
    "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateMediaInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WhatsApp Business Account associated with this media upload.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceS3File": {
          "target": "com.amazonaws.socialmessaging#S3File"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateMediaOutput": {
      "type": "structure",
      "members": {
        "metaHeaderHandle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The handle assigned to the uploaded media by Meta, used to reference the media in templates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateOutput": {
      "type": "structure",
      "members": {
        "metaTemplateId": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The numeric ID assigned to the template by Meta.</p>"
          }
        },
        "templateStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the created template, such as PENDING or APPROVED..</p>"
          }
        },
        "category": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the template, such as UTILITY or MARKETING.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#DeleteAllLanguages": {
      "type": "boolean"
    },
    "com.amazonaws.socialmessaging#DeleteWhatsAppMessageMedia": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#DeleteWhatsAppMessageMediaInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#DeleteWhatsAppMessageMediaOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#AccessDeniedByMetaException"
        },
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a media object from the WhatsApp service. If the object is still in an Amazon S3 bucket you should delete it from there too.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/whatsapp/media",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.socialmessaging#DeleteWhatsAppMessageMediaInput": {
      "type": "structure",
      "members": {
        "mediaId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppMediaId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the media file to delete. Use the <code>mediaId</code> returned from <a href=\"https://console.aws.amazon.com/social-messaging/latest/APIReference/API_PostWhatsAppMessageMedia.html\">PostWhatsAppMessageMedia</a>.</p>",
            "smithy.api#httpQuery": "mediaId",
            "smithy.api#required": {}
          }
        },
        "originationPhoneNumberId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppPhoneNumberId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the originating phone number associated with the media. Phone\n         number identifiers are formatted as\n            <code>phone-number-id-01234567890123456789012345678901</code>. Use\n         <a href=\"https://docs.aws.amazon.com/social-messaging/latest/APIReference/API_GetLinkedWhatsAppBusinessAccountPhoneNumber.html\">GetLinkedWhatsAppBusinessAccount</a> to find a phone number's\n         id.</p>",
            "smithy.api#httpQuery": "originationPhoneNumberId",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "OriginationPhoneNumberId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#DeleteWhatsAppMessageMediaOutput": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Success indicator for deleting the media file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#DeleteWhatsAppMessageTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#DeleteWhatsAppMessageTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#DeleteWhatsAppMessageTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a WhatsApp message template.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/whatsapp/template",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.socialmessaging#DeleteWhatsAppMessageTemplateInput": {
      "type": "structure",
      "members": {
        "metaTemplateId": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The numeric ID of the template assigned by Meta.</p>",
            "smithy.api#httpQuery": "metaTemplateId"
          }
        },
        "deleteAllLanguages": {
          "target": "com.amazonaws.socialmessaging#DeleteAllLanguages",
          "traits": {
            "smithy.api#documentation": "<p>If true, deletes all language versions of the template.</p>",
            "smithy.api#httpQuery": "deleteAllTemplates"
          }
        },
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WhatsApp Business Account associated with this template.</p>",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {}
          }
        },
        "templateName": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the template to delete.</p>",
            "smithy.api#httpQuery": "templateName",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#DeleteWhatsAppMessageTemplateOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#DependencyException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.socialmessaging#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Thrown when performing an action because a dependency would be broken.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.socialmessaging#DisassociateWhatsAppBusinessAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#DisassociateWhatsAppBusinessAccountInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#DisassociateWhatsAppBusinessAccountOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociate a WhatsApp Business Account (WABA) from your Amazon Web Services account.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/whatsapp/waba/disassociate",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.socialmessaging#DisassociateWhatsAppBusinessAccountInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of your WhatsApp Business Account. WABA identifiers are formatted as\n         <code>waba-01234567890123456789012345678901</code>. Use\n         <a href=\"https://docs.aws.amazon.com/social-messaging/latest/APIReference/API_ListLinkedWhatsAppBusinessAccounts.html\">ListLinkedWhatsAppBusinessAccounts</a> to list all WABAs and their details.</p>",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "WabaId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#DisassociateWhatsAppBusinessAccountOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.socialmessaging#EventDestinationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:.*:[a-z-]+([/:](.*))?$"
      }
    },
    "com.amazonaws.socialmessaging#Filter": {
      "type": "map",
      "key": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          }
        }
      },
      "value": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          }
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the details of your linked WhatsApp Business Account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/whatsapp/waba/details",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier, from Amazon Web Services, of the linked WhatsApp Business\n         Account. WABA identifiers are formatted as\n         <code>waba-01234567890123456789012345678901</code>. Use\n         <a href=\"https://docs.aws.amazon.com/social-messaging/latest/APIReference/API_ListLinkedWhatsAppBusinessAccounts.html\">ListLinkedWhatsAppBusinessAccounts</a> to list all WABAs and their details.</p>",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "WabaId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountOutput": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccount",
          "traits": {
            "smithy.api#documentation": "<p>The details of the linked WhatsApp Business Account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountPhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountPhoneNumberInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountPhoneNumberOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use your WhatsApp phone number id to get the WABA account id and phone number\n         details.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/whatsapp/waba/phone/details",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountPhoneNumberInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.socialmessaging#WhatsAppPhoneNumberId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the phone number. Phone number\n         identifiers are formatted as <code>phone-number-id-01234567890123456789012345678901</code>.\n         Use <a href=\"https://docs.aws.amazon.com/social-messaging/latest/APIReference/API_GetLinkedWhatsAppBusinessAccountPhoneNumber.html\">GetLinkedWhatsAppBusinessAccount</a> to find a phone number's\n         id.</p>",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "OriginationPhoneNumberId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountPhoneNumberOutput": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "com.amazonaws.socialmessaging#WhatsAppPhoneNumberDetail"
        },
        "linkedWhatsAppBusinessAccountId": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The WABA identifier linked to the phone number, formatted as\n         <code>waba-01234567890123456789012345678901</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#GetWhatsAppMessageMedia": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#GetWhatsAppMessageMediaInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#GetWhatsAppMessageMediaOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#AccessDeniedByMetaException"
        },
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a media file from the WhatsApp service. On successful completion the media file is\n         retrieved from Meta and stored in the specified Amazon S3 bucket. Use either\n            <code>destinationS3File</code> or <code>destinationS3PresignedUrl</code> for the\n         destination. If both are used then an <code>InvalidParameterException</code> is\n         returned.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/whatsapp/media/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.socialmessaging#GetWhatsAppMessageMediaInput": {
      "type": "structure",
      "members": {
        "mediaId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppMediaId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the media file.</p>",
            "smithy.api#required": {}
          }
        },
        "originationPhoneNumberId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppPhoneNumberId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the originating phone number for the WhatsApp message media.\n         The phone number identifiers are formatted as\n            <code>phone-number-id-01234567890123456789012345678901</code>. Use\n         <a href=\"https://docs.aws.amazon.com/social-messaging/latest/APIReference/API_GetLinkedWhatsAppBusinessAccountPhoneNumber.html\">GetLinkedWhatsAppBusinessAccount</a> to find a phone number's\n         id.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "OriginationPhoneNumberId"
          }
        },
        "metadataOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>True</code> to get only the metadata for the file.</p>"
          }
        },
        "destinationS3PresignedUrl": {
          "target": "com.amazonaws.socialmessaging#S3PresignedUrl",
          "traits": {
            "smithy.api#documentation": "<p>The presign url of the media file.</p>"
          }
        },
        "destinationS3File": {
          "target": "com.amazonaws.socialmessaging#S3File",
          "traits": {
            "smithy.api#documentation": "<p>The <code>bucketName</code> and <code>key</code> of the S3 media file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#GetWhatsAppMessageMediaOutput": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the media.</p>"
          }
        },
        "fileSize": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The file size of the media, in KB.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#GetWhatsAppMessageTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#GetWhatsAppMessageTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#GetWhatsAppMessageTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a specific WhatsApp message template.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/whatsapp/template",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.socialmessaging#GetWhatsAppMessageTemplateInput": {
      "type": "structure",
      "members": {
        "metaTemplateId": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The numeric ID of the template assigned by Meta.</p>",
            "smithy.api#httpQuery": "metaTemplateId",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WhatsApp Business Account associated with this template.</p>",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#GetWhatsAppMessageTemplateOutput": {
      "type": "structure",
      "members": {
        "template": {
          "target": "com.amazonaws.socialmessaging#MetaTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The complete template definition as a JSON string (maximum 6000 characters).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#Headers": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.socialmessaging#InternalServiceException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.socialmessaging#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.socialmessaging#InvalidParametersException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.socialmessaging#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more parameters provided to the action are not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.socialmessaging#IsoCountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Z]{2}$"
      }
    },
    "com.amazonaws.socialmessaging#LibraryTemplateBodyInputs": {
      "type": "structure",
      "members": {
        "addContactNumber": {
          "target": "com.amazonaws.socialmessaging#AddContactNumber",
          "traits": {
            "smithy.api#documentation": "<p>When true, includes a contact number in the template body.</p>"
          }
        },
        "addLearnMoreLink": {
          "target": "com.amazonaws.socialmessaging#AddLearnMoreLink",
          "traits": {
            "smithy.api#documentation": "<p>When true, includes a \"learn more\" link in the template body.</p>"
          }
        },
        "addSecurityRecommendation": {
          "target": "com.amazonaws.socialmessaging#AddSecurityRecommendation",
          "traits": {
            "smithy.api#documentation": "<p>When true, includes security recommendations in the template body.</p>"
          }
        },
        "addTrackPackageLink": {
          "target": "com.amazonaws.socialmessaging#AddTrackPackageLink",
          "traits": {
            "smithy.api#documentation": "<p>When true, includes a package tracking link in the template body.</p>"
          }
        },
        "codeExpirationMinutes": {
          "target": "com.amazonaws.socialmessaging#CodeExpirationMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes until a verification code or OTP expires.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration options for customizing the body content of a template from Meta's library.</p>"
      }
    },
    "com.amazonaws.socialmessaging#LibraryTemplateButtonInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.socialmessaging#ButtonType",
          "traits": {
            "smithy.api#documentation": "<p>The type of button (for example, QUICK_REPLY, CALL, or URL).</p>"
          }
        },
        "phoneNumber": {
          "target": "com.amazonaws.socialmessaging#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number in E.164 format for CALL-type buttons.</p>"
          }
        },
        "url": {
          "target": "com.amazonaws.socialmessaging#MetaUrlWithSuffixExample",
          "traits": {
            "smithy.api#documentation": "<p>The URL with dynamic parameters for URL-type buttons.</p>"
          }
        },
        "otpType": {
          "target": "com.amazonaws.socialmessaging#OtpType",
          "traits": {
            "smithy.api#documentation": "<p>The type of one-time password for OTP buttons.</p>"
          }
        },
        "zeroTapTermsAccepted": {
          "target": "com.amazonaws.socialmessaging#ZeroTapTermsAccepted",
          "traits": {
            "smithy.api#documentation": "<p>When true, indicates acceptance of zero-tap terms for the button.</p>"
          }
        },
        "supportedApps": {
          "target": "com.amazonaws.socialmessaging#SupportedApps",
          "traits": {
            "smithy.api#documentation": "<p>List of supported applications for this button type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration options for customizing buttons in a template from Meta's library.</p>"
      }
    },
    "com.amazonaws.socialmessaging#LibraryTemplateButtonList": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.socialmessaging#ButtonType",
          "traits": {
            "smithy.api#documentation": "<p>The type of button (for example, QUICK_REPLY, CALL, or URL).</p>"
          }
        },
        "text": {
          "target": "com.amazonaws.socialmessaging#MetaText",
          "traits": {
            "smithy.api#documentation": "<p>The text displayed on the button (maximum 40 characters).</p>"
          }
        },
        "phoneNumber": {
          "target": "com.amazonaws.socialmessaging#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number in E.164 format for CALL-type buttons.</p>"
          }
        },
        "url": {
          "target": "com.amazonaws.socialmessaging#MetaUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL for URL-type buttons.</p>"
          }
        },
        "otpType": {
          "target": "com.amazonaws.socialmessaging#OtpType",
          "traits": {
            "smithy.api#documentation": "<p>The type of one-time password for OTP buttons.</p>"
          }
        },
        "zeroTapTermsAccepted": {
          "target": "com.amazonaws.socialmessaging#ZeroTapTermsAccepted",
          "traits": {
            "smithy.api#documentation": "<p>When true, indicates acceptance of zero-tap terms for the button.</p>"
          }
        },
        "supportedApps": {
          "target": "com.amazonaws.socialmessaging#SupportedApps",
          "traits": {
            "smithy.api#documentation": "<p>List of supported applications for this button type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a button in a template from Meta's library.</p>"
      }
    },
    "com.amazonaws.socialmessaging#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.socialmessaging#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied because it would exceed one or more service quotas or limits.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.socialmessaging#LinkedAccountWithIncompleteSetup": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountId"
      },
      "value": {
        "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountIdMetaData"
      }
    },
    "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccount": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the linked WhatsApp Business Account.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the linked WhatsApp Business Account, formatted as <code>waba-01234567890123456789012345678901</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "wabaId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The WhatsApp Business Account ID from meta.</p>",
            "smithy.api#required": {}
          }
        },
        "registrationStatus": {
          "target": "com.amazonaws.socialmessaging#RegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The registration status of the linked WhatsApp Business Account.</p>",
            "smithy.api#required": {}
          }
        },
        "linkDate": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountLinkDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the WhatsApp Business Account was linked.</p>",
            "smithy.api#required": {}
          }
        },
        "wabaName": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the linked WhatsApp Business Account.</p>",
            "smithy.api#required": {}
          }
        },
        "eventDestinations": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountEventDestinations",
          "traits": {
            "smithy.api#documentation": "<p>The event destinations for the linked WhatsApp Business Account.</p>",
            "smithy.api#required": {}
          }
        },
        "phoneNumbers": {
          "target": "com.amazonaws.socialmessaging#WhatsAppPhoneNumberSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The phone numbers associated with the Linked WhatsApp Business Account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of your linked WhatsApp Business Account.</p>"
      }
    },
    "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:.*:waba/[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "(^waba-.*$)|(^arn:.*:waba/[0-9a-zA-Z]+$)"
      }
    },
    "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountIdMetaData": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your account.</p>"
          }
        },
        "registrationStatus": {
          "target": "com.amazonaws.socialmessaging#RegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The registration status of the linked WhatsApp Business Account.</p>"
          }
        },
        "unregisteredWhatsAppPhoneNumbers": {
          "target": "com.amazonaws.socialmessaging#WhatsAppPhoneNumberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The details for unregistered WhatsApp phone numbers.</p>"
          }
        },
        "wabaId": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the WhatsApp Business Account ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains your WhatsApp registration status and details of any unregistered WhatsApp\n         phone number.</p>"
      }
    },
    "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountResource": {
      "type": "resource",
      "identifiers": {
        "WabaId": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId"
        }
      },
      "create": {
        "target": "com.amazonaws.socialmessaging#AssociateWhatsAppBusinessAccount"
      },
      "read": {
        "target": "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccount"
      },
      "delete": {
        "target": "com.amazonaws.socialmessaging#DisassociateWhatsAppBusinessAccount"
      },
      "list": {
        "target": "com.amazonaws.socialmessaging#ListLinkedWhatsAppBusinessAccounts"
      },
      "operations": [
        {
          "target": "com.amazonaws.socialmessaging#PutWhatsAppBusinessAccountEventDestinations"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "waba/{WabaId}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "waba",
          "relativeDocumentation": "managing-wabas.html"
        }
      }
    },
    "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the linked WhatsApp Business Account.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the linked WhatsApp Business Account, formatted as <code>waba-01234567890123456789012345678901</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "wabaId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The WhatsApp Business Account ID provided by Meta.</p>",
            "smithy.api#required": {}
          }
        },
        "registrationStatus": {
          "target": "com.amazonaws.socialmessaging#RegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The registration status of the linked WhatsApp Business Account.</p>",
            "smithy.api#required": {}
          }
        },
        "linkDate": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountLinkDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the WhatsApp Business Account was linked.</p>",
            "smithy.api#required": {}
          }
        },
        "wabaName": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the linked WhatsApp Business Account.</p>",
            "smithy.api#required": {}
          }
        },
        "eventDestinations": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountEventDestinations",
          "traits": {
            "smithy.api#documentation": "<p>The event destinations for the linked WhatsApp Business Account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a linked WhatsApp Business Account.</p>"
      }
    },
    "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountSummary"
      }
    },
    "com.amazonaws.socialmessaging#LinkedWhatsAppPhoneNumberArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:.*:phone-number-id/[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.socialmessaging#LinkedWhatsAppPhoneNumberResource": {
      "type": "resource",
      "identifiers": {
        "OriginationPhoneNumberId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppPhoneNumberId"
        }
      },
      "read": {
        "target": "com.amazonaws.socialmessaging#GetLinkedWhatsAppBusinessAccountPhoneNumber"
      },
      "operations": [
        {
          "target": "com.amazonaws.socialmessaging#DeleteWhatsAppMessageMedia"
        },
        {
          "target": "com.amazonaws.socialmessaging#GetWhatsAppMessageMedia"
        },
        {
          "target": "com.amazonaws.socialmessaging#PostWhatsAppMessageMedia"
        },
        {
          "target": "com.amazonaws.socialmessaging#SendWhatsAppMessage"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "phone-number-id/{OriginationPhoneNumberId}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "phone-number-id",
          "relativeDocumentation": "managing-phone-numbers.html"
        }
      }
    },
    "com.amazonaws.socialmessaging#ListLinkedWhatsAppBusinessAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#ListLinkedWhatsAppBusinessAccountsInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#ListLinkedWhatsAppBusinessAccountsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all WhatsApp Business Accounts linked to your Amazon Web Services account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/whatsapp/waba/list",
          "code": 200
        },
        "smithy.api#paginated": {
          "items": "linkedAccounts"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.socialmessaging#ListLinkedWhatsAppBusinessAccountsInput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.socialmessaging#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The next token for pagination.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.socialmessaging#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#ListLinkedWhatsAppBusinessAccountsOutput": {
      "type": "structure",
      "members": {
        "linkedAccounts": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of WhatsApp Business Accounts linked to your Amazon Web Services account.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.socialmessaging#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The next token for pagination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all tags associated with a resource, such as a phone number or WABA.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/tags/list",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListTagsFailure",
            "params": {
              "resourceArn": "arn:aws:social-messaging:us-east-1:9923825:phone-number-id/45c1973a7577"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.socialmessaging#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.socialmessaging#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to retrieve the tags from.</p>",
            "smithy.api#httpQuery": "resourceArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The status code of the response.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.socialmessaging#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#ListWhatsAppMessageTemplates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#ListWhatsAppMessageTemplatesInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#ListWhatsAppMessageTemplatesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists WhatsApp message templates for a specific WhatsApp Business Account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/whatsapp/template/list",
          "code": 200
        },
        "smithy.api#paginated": {
          "items": "templates"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.socialmessaging#ListWhatsAppMessageTemplatesInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WhatsApp Business Account to list templates for.</p>",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.socialmessaging#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.socialmessaging#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page (1-100).</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#ListWhatsAppMessageTemplatesOutput": {
      "type": "structure",
      "members": {
        "templates": {
          "target": "com.amazonaws.socialmessaging#TemplateSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of template summaries.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.socialmessaging#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next page of results, if any.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#ListWhatsAppTemplateLibrary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#ListWhatsAppTemplateLibraryInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#ListWhatsAppTemplateLibraryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists templates available in Meta's template library for WhatsApp messaging.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/whatsapp/template/library",
          "code": 200
        },
        "smithy.api#paginated": {
          "items": "metaLibraryTemplates"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.socialmessaging#ListWhatsAppTemplateLibraryInput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.socialmessaging#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.socialmessaging#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page (1-100).</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WhatsApp Business Account to list library templates for.</p>",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.amazonaws.socialmessaging#Filter",
          "traits": {
            "smithy.api#documentation": "<p>Map of filters to apply (searchKey, topic, usecase, industry, language).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#ListWhatsAppTemplateLibraryOutput": {
      "type": "structure",
      "members": {
        "metaLibraryTemplates": {
          "target": "com.amazonaws.socialmessaging#MetaLibraryTemplatesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of templates from Meta's library.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.socialmessaging#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next page of results, if any.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaIndustries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.socialmessaging#MetaIndustry"
      }
    },
    "com.amazonaws.socialmessaging#MetaIndustry": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaLibraryTemplate": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the template.</p>",
            "smithy.api#required": {}
          }
        },
        "libraryTemplateName": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the template in Meta's library.</p>",
            "smithy.api#required": {}
          }
        },
        "templateCategory": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the template (for example, UTILITY or MARKETING).</p>",
            "smithy.api#required": {}
          }
        },
        "templateLanguage": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the template (for example, en_US).</p>",
            "smithy.api#required": {}
          }
        },
        "libraryTemplateButtonInputs": {
          "target": "com.amazonaws.socialmessaging#MetaLibraryTemplateButtonInputs",
          "traits": {
            "smithy.api#documentation": "<p>Button customizations for the template.</p>"
          }
        },
        "libraryTemplateBodyInputs": {
          "target": "com.amazonaws.socialmessaging#LibraryTemplateBodyInputs",
          "traits": {
            "smithy.api#documentation": "<p>Body text customizations for the template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a template from Meta's library with customization options.</p>"
      }
    },
    "com.amazonaws.socialmessaging#MetaLibraryTemplateButtonInputs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.socialmessaging#LibraryTemplateButtonInput"
      }
    },
    "com.amazonaws.socialmessaging#MetaLibraryTemplateButtonList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.socialmessaging#LibraryTemplateButtonList"
      }
    },
    "com.amazonaws.socialmessaging#MetaLibraryTemplateDefinition": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the template.</p>"
          }
        },
        "templateLanguage": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the template (for example, en_US).</p>"
          }
        },
        "templateCategory": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the template (for example, UTILITY or MARKETING).</p>"
          }
        },
        "templateTopic": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateTopic",
          "traits": {
            "smithy.api#documentation": "<p>The topic or subject matter of the template.</p>"
          }
        },
        "templateUseCase": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateUseCase",
          "traits": {
            "smithy.api#documentation": "<p>The intended use case for the template.</p>"
          }
        },
        "templateIndustry": {
          "target": "com.amazonaws.socialmessaging#MetaIndustries",
          "traits": {
            "smithy.api#documentation": "<p>The industries the template is designed for.</p>"
          }
        },
        "templateHeader": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateHeader",
          "traits": {
            "smithy.api#documentation": "<p>The header text of the template.</p>"
          }
        },
        "templateBody": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateBody",
          "traits": {
            "smithy.api#documentation": "<p>The body text of the template.</p>"
          }
        },
        "templateButtons": {
          "target": "com.amazonaws.socialmessaging#MetaLibraryTemplateButtonList",
          "traits": {
            "smithy.api#documentation": "<p>The buttons included in the template.</p>"
          }
        },
        "templateId": {
          "target": "com.amazonaws.socialmessaging#MetaTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template in Meta's library.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the complete structure and content of a template in Meta's library.</p>"
      }
    },
    "com.amazonaws.socialmessaging#MetaLibraryTemplatesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.socialmessaging#MetaLibraryTemplateDefinition"
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6000
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateBody": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateCategory": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateComponents": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3000
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateDefinition": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6000
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateHeader": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateLanguage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateQualityScore": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateTopic": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaTemplateUseCase": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 40
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 400
        }
      }
    },
    "com.amazonaws.socialmessaging#MetaUrlWithSuffixExample": {
      "type": "map",
      "key": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 30
          }
        }
      },
      "value": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 400
          }
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.socialmessaging#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 600
        }
      }
    },
    "com.amazonaws.socialmessaging#OtpType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.socialmessaging#PhoneNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.socialmessaging#PostWhatsAppMessageMedia": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#PostWhatsAppMessageMediaInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#PostWhatsAppMessageMediaOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#AccessDeniedByMetaException"
        },
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Upload a media file to the WhatsApp service. Only the specified\n            <code>originationPhoneNumberId</code> has the permissions to send the media file when\n         using <a href=\"https://docs.aws.amazon.com/social-messaging/latest/APIReference/API_SendWhatsAppMessage.html\">SendWhatsAppMessage</a>. You must use either <code>sourceS3File</code>\n         or <code>sourceS3PresignedUrl</code> for the source. If both or neither are specified then an\n            <code>InvalidParameterException</code> is returned.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/whatsapp/media",
          "code": 200
        }
      }
    },
    "com.amazonaws.socialmessaging#PostWhatsAppMessageMediaInput": {
      "type": "structure",
      "members": {
        "originationPhoneNumberId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppPhoneNumberId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the phone number to associate with the WhatsApp media file. The phone number\n         identifiers are formatted as <code>phone-number-id-01234567890123456789012345678901</code>.\n         Use <a href=\"https://docs.aws.amazon.com/social-messaging/latest/APIReference/API_GetLinkedWhatsAppBusinessAccountPhoneNumber.html\">GetLinkedWhatsAppBusinessAccount</a>  to find a phone number's\n         id.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "OriginationPhoneNumberId"
          }
        },
        "sourceS3PresignedUrl": {
          "target": "com.amazonaws.socialmessaging#S3PresignedUrl",
          "traits": {
            "smithy.api#documentation": "<p>The source presign url of the media file.</p>"
          }
        },
        "sourceS3File": {
          "target": "com.amazonaws.socialmessaging#S3File",
          "traits": {
            "smithy.api#documentation": "<p>The source S3 url for the media file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#PostWhatsAppMessageMediaOutput": {
      "type": "structure",
      "members": {
        "mediaId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppMediaId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the posted WhatsApp message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#PutWhatsAppBusinessAccountEventDestinations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#PutWhatsAppBusinessAccountEventDestinationsInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#PutWhatsAppBusinessAccountEventDestinationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["iam:PassRole"]
        },
        "smithy.api#documentation": "<p>Add an event destination to log event data from WhatsApp for a WhatsApp Business Account (WABA). A WABA can only have one event destination at a time. All resources associated with the WABA use the same event destination.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/whatsapp/waba/eventdestinations",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.socialmessaging#PutWhatsAppBusinessAccountEventDestinationsInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of your WhatsApp Business Account. WABA identifiers are formatted as\n         <code>waba-01234567890123456789012345678901</code>. Use\n         <a href=\"https://docs.aws.amazon.com/social-messaging/latest/APIReference/API_ListLinkedWhatsAppBusinessAccounts.html\">ListLinkedWhatsAppBusinessAccounts</a> to list all WABAs and their details.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "WabaId"
          }
        },
        "eventDestinations": {
          "target": "com.amazonaws.socialmessaging#WhatsAppBusinessAccountEventDestinations",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>WhatsAppBusinessAccountEventDestination</code> event destinations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#PutWhatsAppBusinessAccountEventDestinationsOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#RegistrationStatus": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPLETE"
          }
        }
      }
    },
    "com.amazonaws.socialmessaging#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.socialmessaging#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.socialmessaging#RoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:iam::\\d{12}:role\\/[a-zA-Z0-9+=,.@\\-_]+$"
      }
    },
    "com.amazonaws.socialmessaging#S3File": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The bucket name.</p>",
            "smithy.api#length": {
              "min": 3,
              "max": 63
            },
            "smithy.api#pattern": "^[a-z0-9][a-z0-9.-]*[a-z0-9]$",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The object key of the media file.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1024
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information for the S3 bucket that contains media files.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.socialmessaging#S3PresignedUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The presign url to the object.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2000
            },
            "smithy.api#pattern": "^https://(.*)s3(.*).amazonaws.com/(.*)$",
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.amazonaws.socialmessaging#Headers",
          "traits": {
            "smithy.api#documentation": "<p>A map of headers and their values. You must specify the <code>Content-Type</code> header when using <code>PostWhatsAppMessageMedia</code>. For a list of common headers, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonRequestHeaders.html\">Common Request Headers</a> in the <i>Amazon S3\n         API Reference</i>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can use presigned URLs to grant time-limited access to objects in Amazon S3 without updating your bucket policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/using-presigned-url.html\">Working with presigned URLs</a> in the <i>Amazon S3\n         User Guide</i>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.socialmessaging#SendWhatsAppMessage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.socialmessaging#SendWhatsAppMessageInput"
      },
      "output": {
        "target": "com.amazonaws.socialmessaging#SendWhatsAppMessageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#DependencyException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InternalServiceException"
        },
        {
          "target": "com.amazonaws.socialmessaging#InvalidParametersException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ThrottledRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Send a WhatsApp message. For examples of sending a message using the Amazon Web Services\n         CLI, see <a href=\"https://docs.aws.amazon.com/social-messaging/latest/userguide/send-message.html\">Sending messages</a> in the\n         <i>\n               <i>Amazon Web Services End User Messaging Social User Guide</i>\n            </i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/whatsapp/send",
          "code": 200
        }
      }
    },
    "com.amazonaws.socialmessaging#SendWhatsAppMessageInput": {
      "type": "structure",
      "members": {
        "originationPhoneNumberId": {
          "target": "com.amazonaws.socialmessaging#WhatsAppPhoneNumberId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the phone number used to send the WhatsApp message. If you are sending a media\n         file only the <code>originationPhoneNumberId</code> used to upload the file can be used.\n         Phone number identifiers are formatted as\n            <code>phone-number-id-01234567890123456789012345678901</code>. Use\n         <a href=\"https://docs.aws.amazon.com/social-messaging/latest/APIReference/API_GetLinkedWhatsAppBusinessAccountPhoneNumber.html\">GetLinkedWhatsAppBusinessAccount</a> to find a phone number's\n         id.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "OriginationPhoneNumberId"
          }
        },
        "message": {
          "target": "com.amazonaws.socialmessaging#WhatsAppMessageBlob",
          "traits": {
            "smithy.api#documentation": "<p>The message to send through WhatsApp. The length is in KB. The message field passes through a WhatsApp\n         Message object, see <a href=\"https://developers.facebook.com/docs/whatsapp/cloud-api/reference/messages\">Messages</a> in the <i>WhatsApp Business Platform Cloud API\n               Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "metaApiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The API version for the request formatted as <code>v{VersionNumber}</code>. For a list of supported API versions and Amazon Web Services Regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/end-user-messaging.html\">\n               <i>Amazon Web Services End User Messaging Social API</i> Service Endpoints</a> in the <i>Amazon Web Services General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.socialmessaging#SendWhatsAppMessageOutput": {
      "type": "structure",
      "members": {
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.socialmessaging#SocialMessaging": {
      "type": "service",
      "version": "2024-01-01",
      "operations": [
        {
          "target": "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplate"
        },
        {
          "target": "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateFromLibrary"
        },
        {
          "target": "com.amazonaws.socialmessaging#CreateWhatsAppMessageTemplateMedia"
        },
        {
          "target": "com.amazonaws.socialmessaging#DeleteWhatsAppMessageTemplate"
        },
        {
          "target": "com.amazonaws.socialmessaging#GetWhatsAppMessageTemplate"
        },
        {
          "target": "com.amazonaws.socialmessaging#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.socialmessaging#ListWhatsAppMessageTemplates"
        },
        {
          "target": "com.amazonaws.socialmessaging#ListWhatsAppTemplateLibrary"
        },
        {
          "target": "com.amazonaws.socialmessaging#TagResource"
        },
        {
          "target": "com.amazonaws.socialmessaging#UntagResource"
        },
        {
          "target": "com.amazonaws.socialmessaging#UpdateWhatsAppMessageTemplate"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppBusinessAccountResource"
        },
        {
          "target": "com.amazonaws.socialmessaging#LinkedWhatsAppPhoneNumberResource"
        }
      ],
      "errors": [
        {
          "target": "com.amazonaws.socialmessaging#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.socialmessaging#ValidationException"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SocialMessaging",
          "arnNamespace": "social-messaging",
          "cloudTrailEventSource": "social-messaging.amazonaws.com",
          "endpointPrefix": "social-messaging"
        },
        "aws.auth#sigv4": {
          "name": "social-messaging"
        },
        "aws.iam#defineConditionKeys": {
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tags that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tags associated with the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by the tag keys that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "origin": "*",
          "additionalAllowedHeaders": [
            "authorization",
            "x-amz-date",
            "x-amz-security-token",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id",
            "content-length",
            "x-api-key",
            "amz-sdk-request",
            "amz-sdk-invocation-id",
            "Csrf-Token"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id", "Csrf-Token"]
        },
        "smithy.api#documentation": "<p>\n            <i>Amazon Web Services End User Messaging Social</i>, also referred to as Social messaging, is a messaging service that enables\n         application developers to incorporate WhatsApp into their existing workflows. The <i>Amazon Web Services End User Messaging Social API</i> provides information about the\n         <i>Amazon Web Services End User Messaging Social API</i> resources, including supported HTTP methods, parameters, and schemas.</p>\n         <p>The <i>Amazon Web Services End User Messaging Social API</i> provides programmatic access to options that are unique to the WhatsApp Business Platform.</p>\n         <p>If you're new to the <i>Amazon Web Services End User Messaging Social API</i>, it's also helpful to review <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/what-is-service.html\">What is\n               Amazon Web Services End User Messaging Social</a> in the <i>Amazon Web Services End User Messaging Social User Guide</i>. The\n         <i>Amazon Web Services End User Messaging Social User Guide</i> provides tutorials, code samples, and procedures that demonstrate how to use\n         <i>Amazon Web Services End User Messaging Social API</i> features programmatically and how to integrate functionality into applications.\n         The guide also provides key information, such as integration with other Amazon Web Services\n         services, and the quotas that apply to use of the service.</p>\n         <p>\n            <b>Regional availability</b>\n         </p>\n         <p>The <i>Amazon Web Services End User Messaging Social API</i> is available across several Amazon Web Services Regions and it provides a dedicated endpoint for each of these Regions. For a list of\n         all the Regions and endpoints where the API is currently available, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#pinpoint_region\">Amazon Web Services Service Endpoints</a> and <a href=\"https://docs.aws.amazon.com/general/latest/gr/end-user-messaging.html\">Amazon Web Services End User Messaging endpoints and quotas</a> in the Amazon Web Services General Reference. To learn more about Amazon Web Services Regions, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html\">Managing\n               Amazon Web Services Regions</a> in the Amazon Web Services General\n         Reference.</p>\n         <p>In each Region, Amazon Web Services maintains multiple Availability Zones. These\n         Availability Zones are physically isolated from each other, but are united by private,\n         low-latency, high-throughput, and highly redundant network connections. These Availability\n         Zones enable us to provide very high levels of availability and redundancy, while also\n         minimizing latency. To learn more about the number of Availability Zones that are available\n         in each Region, see <a href=\"https://aws.amazon.com/about-aws/global-infrastructure/\">Amazon Web Services Global Infrastructure.</a>\n         </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#title": "AWS End User Messaging Social",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://social-messaging-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
[...]
