{
  "smithy": "0.4.0",
  "metadata": {
    "suppressions": [
      {
        "ids": ["HttpMethodSemantics"]
      },
      {
        "ids": ["HttpResponseCodeSemantics"]
      },
      {
        "ids": ["PaginatedTrait"]
      },
      {
        "ids": ["HttpHeaderTrait"]
      }
    ]
  },
  "com.amazonaws.sqs": {
    "shapes": {
      "AWSAccountIdList": {
        "type": "list",
        "member": {
          "target": "String",
          "smithy.api#xmlName": "AWSAccountId",
          "smithy.api#xmlNamespace": {
            "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
          }
        },
        "smithy.api#xmlFlattened": true,
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ActionNameList": {
        "type": "list",
        "member": {
          "target": "String",
          "smithy.api#xmlName": "ActionName",
          "smithy.api#xmlNamespace": {
            "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
          }
        },
        "smithy.api#xmlFlattened": true,
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "AddPermission": {
        "type": "operation",
        "input": "AddPermissionRequest",
        "errors": ["OverLimit"],
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Adds a permission to a queue for a specific \n      <ulink type=\"documentation\" url=\"general/latest/gr/glos-chap.html#P\">principal</ulink>.\n      This allows sharing access to the queue.</para>\n         <para>When you create a queue, you have full control access rights for the queue.\n      Only you, the owner of the queue, can grant or deny permissions to the queue.\n      For more information about these permissions, see\n      <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-writing-an-sqs-policy.html#write-messages-to-shared-queue\">Allow \n      Developers to Write Messages to a Shared Queue</ulink> in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n         <note>\n            <itemizedlist>\n               <listitem>\n                 <para>\n                     <code>AddPermission</code> generates a policy for you. You can use \n                     <code>\n                        <xref linkend=\"SetQueueAttributes\"></xref>\n                     </code> to\n                        upload your policy. For more information, see\n                            <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-creating-custom-policies.html\">Using Custom Policies with the Amazon SQS Access Policy Language</ulink> in\n                        the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n               </listitem>\n               <listitem>\n                 <para>An Amazon SQS policy can have a maximum of 7 actions.</para>\n               </listitem>\n                <listitem>\n                    <para>To remove the ability to change queue permissions, you must deny permission to the <code>AddPermission</code>, <code>RemovePermission</code>, and <code>SetQueueAttributes</code> actions in your IAM policy.</para>\n                </listitem>\n            </itemizedlist>\n         </note>\n         <para>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</para>\n         <para>\n            <code>&Attribute.1=first</code>\n         </para>\n         <para>\n            <code>&Attribute.2=second</code>\n         </para>\n         <note>\n            <para>Cross-account permissions don't apply to this action. For more information, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-customer-managed-policy-examples.html#grant-cross-account-permissions-to-role-and-user-name\">Grant Cross-Account Permissions to a Role and a User Name</ulink> in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n         </note>\n         <examples>\n            <example>\n               <para>The following example query request grants a <code>\n                     <xref linkend=\"SendMessage\"></xref>\n                  </code> permission to the principal whose AWS account number is 125074342641. The structure of <code>AUTHPARAMS</code> depends on the signature of the API request. \n                For more information, see <ulink type=\"documentation\" url=\"general/latest/gr/sigv4-signed-request-examples.html\">\n                Examples of Signed Signature Version 4 Requests</ulink> in the <emphasis>Amazon Web Services General Reference</emphasis>.</para>\n               <programlisting role=\"request\">https://sqs.us-east-2.amazonaws.com/123456789012/MyQueue/\n?Action=AddPermission\n&Label=MyLabel\n&AWSAccountId.1=125074342641\n&ActionName.1=SendMessage\n&AWSAccountId.2=125074342642\n&ActionName.2=ReceiveMessage\n&Expires=2020-04-18T22%3A52%3A43PST\n&Version=2012-11-05\n&AUTHPARAMS</programlisting>\n               <programlisting role=\"response\" language=\"xml\"><AddPermissionResponse>\n    <ResponseMetadata>\n        <RequestId>9a285199-c8d6-47c2-bdb2-314cb47d599d</RequestId>\n    </ResponseMetadata>\n</AddPermissionResponse></programlisting>\n            </example>\n         </examples>  \n      </zonbook>\n      <xhtml>\n         <p>Adds a permission to a queue for a specific \n      <a href=\"https://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P\">principal</a>.\n      This allows sharing access to the queue.</p>\n         <p>When you create a queue, you have full control access rights for the queue.\n      Only you, the owner of the queue, can grant or deny permissions to the queue.\n      For more information about these permissions, see\n      <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-writing-an-sqs-policy.html#write-messages-to-shared-queue\">Allow \n      Developers to Write Messages to a Shared Queue</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n         <note>\n            <ul>\n               <li>\n                 <p>\n                     <code>AddPermission</code> generates a policy for you. You can use \n                     <code>\n                        <a>SetQueueAttributes</a>\n                     </code> to\n                        upload your policy. For more information, see\n                            <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-creating-custom-policies.html\">Using Custom Policies with the Amazon SQS Access Policy Language</a> in\n                        the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n               </li>\n               <li>\n                 <p>An Amazon SQS policy can have a maximum of 7 actions.</p>\n               </li>\n               <li>\n                    <p>To remove the ability to change queue permissions, you must deny permission to the <code>AddPermission</code>, <code>RemovePermission</code>, and <code>SetQueueAttributes</code> actions in your IAM policy.</p>\n                </li>\n            </ul>\n         </note>\n         <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p>\n         <p>\n            <code>&Attribute.1=first</code>\n         </p>\n         <p>\n            <code>&Attribute.2=second</code>\n         </p>\n         <note>\n            <p>Cross-account permissions don't apply to this action. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-customer-managed-policy-examples.html#grant-cross-account-permissions-to-role-and-user-name\">Grant Cross-Account Permissions to a Role and a User Name</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n         </note>\n        \n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "AddPermissionRequest": {
        "type": "structure",
        "members": {
          "AWSAccountIds": {
            "target": "AWSAccountIdList",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The AWS account number of the <ulink type=\"documentation\" url=\"general/latest/gr/glos-chap.html#P\">principal</ulink> who is given permission. The principal must have an AWS account, but does not need to be signed up for Amazon SQS. For information about locating the AWS\n          account identification, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-making-api-requests.html#sqs-api-request-authentication\">Your AWS Identifiers</ulink> in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n      </zonbook>\n      <xhtml>\n         <p>The AWS account number of the <a href=\"https://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P\">principal</a> who is given permission. The principal must have an AWS account, but does not need to be signed up for Amazon SQS. For information about locating the AWS\n          account identification, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-making-api-requests.html#sqs-api-request-authentication\">Your AWS Identifiers</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "Actions": {
            "target": "ActionNameList",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The action the client wants to allow for the specified principal. Valid values: the name of any action or <code>*</code>.</para>\n         <para>For more information about these actions, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-overview-of-managing-access.html\">Overview of Managing Access Permissions to Your Amazon Simple Queue Service Resource</ulink> \n          in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n         <para>Specifying <code>SendMessage</code>, <code>DeleteMessage</code>, or <code>ChangeMessageVisibility</code> for <code>ActionName.n</code> also grants permissions for the corresponding batch versions of those actions: <code>SendMessageBatch</code>,\n        <code>DeleteMessageBatch</code>, and <code>ChangeMessageVisibilityBatch</code>.</para>\n      </zonbook>\n      <xhtml>\n         <p>The action the client wants to allow for the specified principal. Valid values: the name of any action or <code>*</code>.</p>\n         <p>For more information about these actions, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-overview-of-managing-access.html\">Overview of Managing Access Permissions to Your Amazon Simple Queue Service Resource</a> \n          in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n         <p>Specifying <code>SendMessage</code>, <code>DeleteMessage</code>, or <code>ChangeMessageVisibility</code> for <code>ActionName.n</code> also grants permissions for the corresponding batch versions of those actions: <code>SendMessageBatch</code>,\n        <code>DeleteMessageBatch</code>, and <code>ChangeMessageVisibilityBatch</code>.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "Label": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The unique identification of the permission you're setting (for example, <code>AliceSendMessage</code>). Maximum 80 characters. Allowed characters include alphanumeric characters, hyphens (<code>-</code>), and underscores (<code>_</code>).</para>\n      </zonbook>\n      <xhtml>\n         <p>The unique identification of the permission you're setting (for example, <code>AliceSendMessage</code>). Maximum 80 characters. Allowed characters include alphanumeric characters, hyphens (<code>-</code>), and underscores (<code>_</code>).</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "QueueUrl": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The URL of the Amazon SQS queue to which permissions are added.</para>\n         <para>Queue URLs and names are case-sensitive.</para>    \n      </zonbook>\n      <xhtml>\n         <p>The URL of the Amazon SQS queue to which permissions are added.</p>\n         <p>Queue URLs and names are case-sensitive.</p>    \n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n         <simpara></simpara>  \n      </zonbook>\n      <xhtml>\n         <p></p>  \n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "AmazonSQS": {
        "type": "service",
        "version": "2012-11-05",
        "operations": [
          "AddPermission",
          "ChangeMessageVisibility",
          "ChangeMessageVisibilityBatch",
          "CreateQueue",
          "DeleteMessage",
          "DeleteMessageBatch",
          "DeleteQueue",
          "GetQueueAttributes",
          "GetQueueUrl",
          "ListDeadLetterSourceQueues",
          "ListQueueTags",
          "ListQueues",
          "PurgeQueue",
          "ReceiveMessage",
          "RemovePermission",
          "SendMessage",
          "SendMessageBatch",
          "SetQueueAttributes",
          "TagQueue",
          "UntagQueue"
        ],
        "aws.api#service": {
          "sdkId": "SQS",
          "arnNamespace": "sqs",
          "cloudFormationName": "SQS",
          "cloudTrailEventSource": "sqs.amazonaws.com"
        },
        "smithy.api#documentation": "\n      <zonbook>    \n        <para>Welcome to the <emphasis>Amazon Simple Queue Service API Reference</emphasis>.</para>\n        <para>Amazon Simple Queue Service (Amazon SQS) is a reliable, highly-scalable hosted queue for storing messages as they travel between applications or microservices. Amazon SQS moves data between distributed application components and helps you decouple these components.</para>\n        <para>You can use <ulink type=\"marketing\" url=\"tools/#sdk\">AWS SDKs</ulink> to access Amazon SQS using your favorite programming language. The SDKs perform tasks such as the following automatically:</para>\n        <itemizedlist>\n            <listitem>\n                <para>Cryptographically sign your service requests</para>\n            </listitem>\n            <listitem>\n                <para>Retry requests</para>\n            </listitem>\n            <listitem>\n                <para>Handle error responses</para>\n            </listitem>\n        </itemizedlist>\n        \n        <para>\n            <emphasis role=\"bold\">Additional Information</emphasis>\n         </para>\n        <itemizedlist>\n            <listitem>\n                <para>\n                    <ulink type=\"marketing\" url=\"sqs/\">Amazon SQS Product Page</ulink>\n                </para>\n            </listitem>\n            <listitem>\n                <para>\n                  <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>\n               </para>\n                <itemizedlist>\n                    <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-making-api-requests.html\">Making API Requests</ulink>\n                     </para>\n                  </listitem>\n                    <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-attributes.html\">Amazon SQS Message Attributes</ulink>\n                     </para>\n                  </listitem>\n                    <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">Amazon SQS Dead-Letter Queues</ulink>\n                     </para> \n                  </listitem>\n                </itemizedlist>\n            </listitem> \n            <listitem>\n                <para>\n                  <ulink url=\"http://docs.aws.amazon.com/cli/latest/reference/sqs/index.html\">Amazon SQS in the <emphasis>AWS CLI Command Reference</emphasis>\n                  </ulink>\n               </para>\n            </listitem>\n            <listitem>\n                <para>\n                  <emphasis>Amazon Web Services General Reference</emphasis>\n               </para>\n                <itemizedlist>\n                    <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"general/latest/gr/rande.html#sqs_region\">Regions and Endpoints</ulink>\n                     </para>\n                  </listitem>\n                </itemizedlist>\n            </listitem>        \n        </itemizedlist> \n      </zonbook>\n      <xhtml>    \n        <p>Welcome to the <i>Amazon Simple Queue Service API Reference</i>.</p>\n        <p>Amazon Simple Queue Service (Amazon SQS) is a reliable, highly-scalable hosted queue for storing messages as they travel between applications or microservices. Amazon SQS moves data between distributed application components and helps you decouple these components.</p>\n        <p>You can use <a href=\"http://aws.amazon.com/tools/#sdk\">AWS SDKs</a> to access Amazon SQS using your favorite programming language. The SDKs perform tasks such as the following automatically:</p>\n        <ul>\n            <li>\n                <p>Cryptographically sign your service requests</p>\n            </li>\n            <li>\n                <p>Retry requests</p>\n            </li>\n            <li>\n                <p>Handle error responses</p>\n            </li>\n         </ul>\n        \n        <p>\n            <b>Additional Information</b>\n         </p>\n        <ul>\n            <li>\n                <p>\n                    <a href=\"http://aws.amazon.com/sqs/\">Amazon SQS Product Page</a>\n                </p>\n            </li>\n            <li>\n                <p>\n                  <i>Amazon Simple Queue Service Developer Guide</i>\n               </p>\n                <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-making-api-requests.html\">Making API Requests</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-attributes.html\">Amazon SQS Message Attributes</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">Amazon SQS Dead-Letter Queues</a>\n                     </p> \n                  </li>\n               </ul>\n            </li>\n            <li>\n                <p>\n                  <a href=\"http://docs.aws.amazon.com/cli/latest/reference/sqs/index.html\">Amazon SQS in the <i>AWS CLI Command Reference</i>\n                  </a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <i>Amazon Web Services General Reference</i>\n               </p>\n                <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#sqs_region\">Regions and Endpoints</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul> \n      </xhtml>\n   ",
        "smithy.api#protocols": [
          {
            "name": "aws.query",
            "auth": ["aws.v4"]
          }
        ],
        "smithy.api#title": "Amazon Simple Queue Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "AttributeNameList": {
        "type": "list",
        "member": {
          "target": "QueueAttributeName",
          "smithy.api#xmlName": "AttributeName",
          "smithy.api#xmlNamespace": {
            "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
          }
        },
        "smithy.api#xmlFlattened": true,
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "BatchEntryIdsNotDistinct": {
        "type": "structure",
        "members": {},
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Two or more batch entries in the request have the same <code>Id</code>.</para>\n      </zonbook>\n      <xhtml>\n         <p>Two or more batch entries in the request have the same <code>Id</code>.</p>\n      </xhtml>\n   ",
        "smithy.api#error": "client",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "BatchRequestTooLong": {
        "type": "structure",
        "members": {},
        "smithy.api#documentation": "\n      <zonbook>\n         <para>The length of all the messages put together is more than the limit.</para>\n      </zonbook>\n      <xhtml>\n         <p>The length of all the messages put together is more than the limit.</p>\n      </xhtml>\n   ",
        "smithy.api#error": "client",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "BatchResultErrorEntry": {
        "type": "structure",
        "members": {
          "Code": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>An error code representing why the action failed on this entry.</para>\n      </zonbook>\n      <xhtml>\n         <p>An error code representing why the action failed on this entry.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "Id": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The <code>Id</code> of an entry in a batch request.</para>\n      </zonbook>\n      <xhtml>\n         <p>The <code>Id</code> of an entry in a batch request.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "Message": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>A message explaining why the action failed on this entry.</para>\n      </zonbook>\n      <xhtml>\n         <p>A message explaining why the action failed on this entry.</p>\n      </xhtml>\n   ",
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "SenderFault": {
            "target": "Boolean",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>Specifies whether the error happened due to the producer.</para>\n      </zonbook>\n      <xhtml>\n         <p>Specifies whether the error happened due to the producer.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Gives a detailed description of the result of an action on each entry in the\n            request.</para>\n      </zonbook>\n      <xhtml>\n         <p>Gives a detailed description of the result of an action on each entry in the\n            request.</p>\n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "BatchResultErrorEntryList": {
        "type": "list",
        "member": {
          "target": "BatchResultErrorEntry",
          "smithy.api#xmlName": "BatchResultErrorEntry",
          "smithy.api#xmlNamespace": {
            "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
          }
        },
        "smithy.api#xmlFlattened": true,
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "Binary": {
        "type": "blob",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "BinaryList": {
        "type": "list",
        "member": {
          "target": "Binary",
          "smithy.api#xmlName": "BinaryListValue",
          "smithy.api#xmlNamespace": {
            "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
          }
        },
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "Boolean": {
        "type": "boolean",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ChangeMessageVisibility": {
        "type": "operation",
        "input": "ChangeMessageVisibilityRequest",
        "errors": ["MessageNotInflight", "ReceiptHandleIsInvalid"],
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Changes the visibility timeout of a specified message in a queue to a new value. The\n            default visibility timeout for a message is 30 seconds. The minimum is 0 seconds. The\n            maximum is 12 hours. For more information, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility Timeout</ulink> in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n         <para>For example, you have a message with a visibility timeout of 5 minutes. After 3\n            minutes, you call <code>ChangeMessageVisibility</code> with a timeout of 10 minutes. You\n            can continue to call <code>ChangeMessageVisibility</code> to extend the visibility\n            timeout to the maximum allowed time. If you try to extend the visibility timeout beyond\n            the maximum, your request is rejected.</para>\n        <para>An Amazon SQS message has three basic states:</para>\n         <orderedlist>\n            <listitem>\n               <para>Sent to a queue by a producer.</para>\n            </listitem>\n            <listitem>\n               <para>Received from the queue by a consumer.</para>\n            </listitem>\n            <listitem>\n               <para>Deleted from the queue.</para>\n            </listitem>\n         </orderedlist>\n         <para>A message is considered to be <emphasis>stored</emphasis> after it is sent to a queue by a producer, but not yet received from the queue by a consumer (that is, between states 1 and 2). There is no limit to the number of stored messages.\n    A message is considered to be <emphasis>in flight</emphasis> after it is received from a queue by a consumer, but not yet deleted from the queue (that is, between states 2 and 3). There is a limit to the number of inflight messages.</para>\n         <para>Limits that apply to inflight messages are unrelated to the <emphasis>unlimited</emphasis> number of stored messages.</para>\n         <para>For most standard queues (depending on queue traffic and message backlog), there can be a maximum of approximately 120,000 inflight messages (received from a queue by a consumer, but not yet deleted from the queue). \n    If you reach this limit, Amazon SQS returns the <code>OverLimit</code> error message.\n    To avoid reaching the limit, you should delete messages from the queue after they're processed. You can also increase the number of queues you use to process your messages.\n    To request a limit increase, <ulink url=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&limitType=service-code-sqs\">file a support request</ulink>.</para>\n         <para>For FIFO queues, there can be a maximum of 20,000 inflight messages (received from a queue by a consumer, but not yet deleted from the queue). If you reach this limit, Amazon SQS returns no error messages.</para>\n\n         <important>\n            <para>If you attempt to set the <code>VisibilityTimeout</code> to a value greater than the maximum time left, Amazon SQS returns an error. Amazon SQS doesn't automatically recalculate and increase the timeout to the maximum remaining time.</para>\n            <para>Unlike with a queue, when you change the visibility timeout for a specific message the timeout value is applied immediately but isn't saved in memory for that message. If you don't delete a message after it is received, the visibility timeout \n              for the message reverts to the original timeout value (not to the value you set using the <code>ChangeMessageVisibility</code> action) the next time the message is received.</para>\n         </important>\n    \n         <examples>\n            <example>\n               <para>The following example query request changes the visibility timeout for a message to 60 seconds. The structure of <code>AUTHPARAMS</code> depends on the signature of the API request. \n                For more information, see <ulink type=\"documentation\" url=\"general/latest/gr/sigv4-signed-request-examples.html\">\n                Examples of Signed Signature Version 4 Requests</ulink> in the <emphasis>Amazon Web Services General Reference</emphasis>.</para>\n               <programlisting role=\"request\">https://sqs.us-east-2.amazonaws.com/123456789012/MyQueue/\n?Action=ChangeMessageVisibility\n&VisibilityTimeout=60\n&ReceiptHandle=MbZj6wDWli%2BJvwwJaBV%2B3dcjk2YW2vA3%2BSTFFljT\nM8tJJg6HRG6PYSasuWXPJB%2BCwLj1FjgXUv1uSj1gUPAWV66FU/WeR4mq2OKpEGY\nWbnLmpRCJVAyeMjeU5ZBdtcQ%2BQEauMZc8ZRv37sIW2iJKq3M9MFx1YvV11A2x/K\nSbkJ0=\n&Expires=2020-04-18T22%3A52%3A43PST\n&Version=2012-11-05\n&AUTHPARAMS</programlisting>\n               <programlisting role=\"response\" language=\"xml\"><ChangeMessageVisibilityResponse>\n    <ResponseMetadata>\n        <RequestId>6a7a282a-d013-4a59-aba9-335b0fa48bed</RequestId>\n    </ResponseMetadata>\n</ChangeMessageVisibilityResponse></programlisting>\n            </example>\n         </examples>\n      </zonbook>\n      <xhtml>\n         <p>Changes the visibility timeout of a specified message in a queue to a new value. The\n            default visibility timeout for a message is 30 seconds. The minimum is 0 seconds. The\n            maximum is 12 hours. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility Timeout</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n         <p>For example, you have a message with a visibility timeout of 5 minutes. After 3\n            minutes, you call <code>ChangeMessageVisibility</code> with a timeout of 10 minutes. You\n            can continue to call <code>ChangeMessageVisibility</code> to extend the visibility\n            timeout to the maximum allowed time. If you try to extend the visibility timeout beyond\n            the maximum, your request is rejected.</p>\n        <p>An Amazon SQS message has three basic states:</p>\n         <ol>\n            <li>\n               <p>Sent to a queue by a producer.</p>\n            </li>\n            <li>\n               <p>Received from the queue by a consumer.</p>\n            </li>\n            <li>\n               <p>Deleted from the queue.</p>\n            </li>\n         </ol>\n         <p>A message is considered to be <i>stored</i> after it is sent to a queue by a producer, but not yet received from the queue by a consumer (that is, between states 1 and 2). There is no limit to the number of stored messages.\n    A message is considered to be <i>in flight</i> after it is received from a queue by a consumer, but not yet deleted from the queue (that is, between states 2 and 3). There is a limit to the number of inflight messages.</p>\n         <p>Limits that apply to inflight messages are unrelated to the <i>unlimited</i> number of stored messages.</p>\n         <p>For most standard queues (depending on queue traffic and message backlog), there can be a maximum of approximately 120,000 inflight messages (received from a queue by a consumer, but not yet deleted from the queue). \n    If you reach this limit, Amazon SQS returns the <code>OverLimit</code> error message.\n    To avoid reaching the limit, you should delete messages from the queue after they're processed. You can also increase the number of queues you use to process your messages.\n    To request a limit increase, <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&limitType=service-code-sqs\">file a support request</a>.</p>\n         <p>For FIFO queues, there can be a maximum of 20,000 inflight messages (received from a queue by a consumer, but not yet deleted from the queue). If you reach this limit, Amazon SQS returns no error messages.</p>\n\n         <important>\n            <p>If you attempt to set the <code>VisibilityTimeout</code> to a value greater than the maximum time left, Amazon SQS returns an error. Amazon SQS doesn't automatically recalculate and increase the timeout to the maximum remaining time.</p>\n            <p>Unlike with a queue, when you change the visibility timeout for a specific message the timeout value is applied immediately but isn't saved in memory for that message. If you don't delete a message after it is received, the visibility timeout \n              for the message reverts to the original timeout value (not to the value you set using the <code>ChangeMessageVisibility</code> action) the next time the message is received.</p>\n         </important>\n    \n      \n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ChangeMessageVisibilityBatch": {
        "type": "operation",
        "input": "ChangeMessageVisibilityBatchRequest",
        "output": "ChangeMessageVisibilityBatchResult",
        "errors": [
          "BatchEntryIdsNotDistinct",
          "EmptyBatchRequest",
          "InvalidBatchEntryId",
          "TooManyEntriesInBatchRequest"
        ],
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Changes the visibility timeout of multiple messages. This is a batch version of <code>\n               <xref linkend=\"ChangeMessageVisibility\"></xref>.</code> The result of the action on each message is reported individually in the response. \n          You can send up to 10 <code>\n               <xref linkend=\"ChangeMessageVisibility\"></xref>\n            </code> requests with each <code>ChangeMessageVisibilityBatch</code> action.</para>   \n         <important>\n            <para>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</para>\n         </important>\n         <para>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</para>\n         <para>\n            <code>&Attribute.1=first</code>\n         </para>\n         <para>\n            <code>&Attribute.2=second</code>\n         </para>    \n         <examples>\n            <example>\n               <para>\n                  <code>ChangeMessageVisibilityBatch</code> request changes the visibility timeout settings for two messages. You must URL-encode the entire URL. However, in this example only the message body is URL-encoded to make the example easier to read.</para>\n               <programlisting role=\"request\">https://sqs.us-east-2.amazonaws.com/123456789012/MyQueue/\n&Action=ChangeMessageVisibilityBatch\n&ChangeMessageVisibilityBatchRequestEntry.1.Id=change_visibility_msg_2\n&ChangeMessageVisibilityBatchRequestEntry.1.ReceiptHandle=gfk0T0R0waama4f\nVFffkjKzmhMCymjQvfTFk2LxT33G4ms5subrE0deLKWSscPU1oD3J9zgeS4PQQ3U30qOumIE6\nAdAv3w%2F%2Fa1IXW6AqaWhGsEPaLm3Vf6IiWqdM8u5imB%2BNTwj3tQRzOWdTOePjOjPcTpR\nxBtXix%2BEvwJOZUma9wabv%2BSw6ZHjwmNcVDx8dZXJhVp16Bksiox%2FGrUvrVTCJRTWTLc\n59oHLLF8sEkKzRmGNzTDGTiV%2BYjHfQj60FD3rVaXmzTsoNxRhKJ72uIHVMGVQiAGgBX6HGv\n9LDmYhPXw4hy%2FNgIg%3D%3D\n&ChangeMessageVisibilityBatchRequestEntry.1.VisibilityTimeout=45\n&ChangeMessageVisibilityBatchRequestEntry.2.Id=change_visibility_msg_3\n&ChangeMessageVisibilityBatchRequestEntry.2.ReceiptHandle=gfk0T0R0waama4f\nVFffkjKzmhMCymjQvfTFk2LxT33FUgBz3%2BnougdeLKWSscPU1%2FXgx%2BxcNnjnQQ3U30q\nOumIE6AdAv3w%2F%2Fa1IXW6AqaWhGsEPaLm3Vf6IiWqdM8u5imB%2BNTwj3tQRzOWdTOePjO\nsogjZM%2F7kzn4Ew27XLU9I%2FYaWYmKvDbq%2Fk3HKVB9HfB43kE49atP2aWrzNL4yunG41Q\n4cfRRtfJdcGQGNHQ2%2Byd0Usf5qR1dZr1iDo5xk946eQat83AxTRP%2BY4Qi0V7FAeSLH9su\n9xpX6HGv9LDmYhPXw4hy%2FNgIg%3D%3D\n&ChangeMessageVisibilityBatchRequestEntry.2.VisibilityTimeout=45\n&Expires=2020-10-18T22%3A52%3A43PST\n&Version=2012-11-05</programlisting>\n               <programlisting role=\"response\" language=\"xml\"><ChangeMessageVisibilityBatchResponse>\n    <ChangeMessageVisibilityBatchResult>\n        <ChangeMessageVisibilityBatchResultEntry>\n            <Id>change_visibility_msg_2</Id>\n        </ChangeMessageVisibilityBatchResultEntry>\n        <ChangeMessageVisibilityBatchResultEntry>\n            <Id>change_visibility_msg_3</Id>\n        </ChangeMessageVisibilityBatchResultEntry>\n    </ChangeMessageVisibilityBatchResult>\n    <ResponseMetadata>\n        <RequestId>ca9668f7-ab1b-4f7a-8859-f15747ab17a7</RequestId>\n    </ResponseMetadata>\n</ChangeMessageVisibilityBatchResponse></programlisting>\n            </example>\n         </examples>\n      </zonbook>\n      <xhtml>\n         <p>Changes the visibility timeout of multiple messages. This is a batch version of <code>\n               <a>ChangeMessageVisibility</a>.</code> The result of the action on each message is reported individually in the response. \n          You can send up to 10 <code>\n               <a>ChangeMessageVisibility</a>\n            </code> requests with each <code>ChangeMessageVisibilityBatch</code> action.</p>   \n         <important>\n            <p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</p>\n         </important>\n         <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p>\n         <p>\n            <code>&Attribute.1=first</code>\n         </p>\n         <p>\n            <code>&Attribute.2=second</code>\n         </p>    \n      \n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ChangeMessageVisibilityBatchRequest": {
        "type": "structure",
        "members": {
          "Entries": {
            "target": "ChangeMessageVisibilityBatchRequestEntryList",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>A list of receipt handles of the messages for which the visibility timeout must be changed.</para>\n      </zonbook>\n      <xhtml>\n         <p>A list of receipt handles of the messages for which the visibility timeout must be changed.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "QueueUrl": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The URL of the Amazon SQS queue whose messages' visibility is changed.</para>\n         <para>Queue URLs and names are case-sensitive.</para>\n      </zonbook>\n      <xhtml>\n         <p>The URL of the Amazon SQS queue whose messages' visibility is changed.</p>\n         <p>Queue URLs and names are case-sensitive.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n         <simpara></simpara>\n      </zonbook>\n      <xhtml>\n         <p></p>\n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ChangeMessageVisibilityBatchRequestEntry": {
        "type": "structure",
        "members": {
          "Id": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>An identifier for this particular receipt handle used to communicate the result.</para>\n         <note>\n            <para>The <code>Id</code>s of a batch request need to be unique within a request</para>\n         </note>\n      </zonbook>\n      <xhtml>\n         <p>An identifier for this particular receipt handle used to communicate the result.</p>\n         <note>\n            <p>The <code>Id</code>s of a batch request need to be unique within a request</p>\n         </note>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "ReceiptHandle": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>A receipt handle.</para>\n      </zonbook>\n      <xhtml>\n         <p>A receipt handle.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "VisibilityTimeout": {
            "target": "Integer",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The new value (in seconds) for the message's visibility timeout.</para>\n      </zonbook>\n      <xhtml>\n         <p>The new value (in seconds) for the message's visibility timeout.</p>\n      </xhtml>\n   ",
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Encloses a receipt handle and an entry id for each message in <code>\n               <xref linkend=\"ChangeMessageVisibilityBatch\"></xref>.</code>\n         </para>\n         <important>\n            <para>All of the following list parameters must be prefixed with <code>ChangeMessageVisibilityBatchRequestEntry.n</code>, where <code>n</code> is an integer value starting with <code>1</code>. For example, a parameter list for this action might look like this:</para>           \n         </important>\n         <para>\n            <code>&ChangeMessageVisibilityBatchRequestEntry.1.Id=change_visibility_msg_2</code>\n        </para>\n         <para>\n            <code>&ChangeMessageVisibilityBatchRequestEntry.1.ReceiptHandle=your_receipt_handle</code>\n        </para>\n         <para>\n            <code>&ChangeMessageVisibilityBatchRequestEntry.1.VisibilityTimeout=45</code>\n        </para>\n      </zonbook>\n      <xhtml>\n         <p>Encloses a receipt handle and an entry id for each message in <code>\n               <a>ChangeMessageVisibilityBatch</a>.</code>\n         </p>\n         <important>\n            <p>All of the following list parameters must be prefixed with <code>ChangeMessageVisibilityBatchRequestEntry.n</code>, where <code>n</code> is an integer value starting with <code>1</code>. For example, a parameter list for this action might look like this:</p>           \n         </important>\n         <p>\n            <code>&ChangeMessageVisibilityBatchRequestEntry.1.Id=change_visibility_msg_2</code>\n        </p>\n         <p>\n            <code>&ChangeMessageVisibilityBatchRequestEntry.1.ReceiptHandle=your_receipt_handle</code>\n        </p>\n         <p>\n            <code>&ChangeMessageVisibilityBatchRequestEntry.1.VisibilityTimeout=45</code>\n        </p>\n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ChangeMessageVisibilityBatchRequestEntryList": {
        "type": "list",
        "member": {
          "target": "ChangeMessageVisibilityBatchRequestEntry",
          "smithy.api#xmlName": "ChangeMessageVisibilityBatchRequestEntry",
          "smithy.api#xmlNamespace": {
            "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
          }
        },
        "smithy.api#xmlFlattened": true,
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ChangeMessageVisibilityBatchResult": {
        "type": "structure",
        "members": {
          "Failed": {
            "target": "BatchResultErrorEntryList",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>A list of <code>\n               <xref linkend=\"BatchResultErrorEntry\"></xref>\n            </code> items.</para>\n      </zonbook>\n      <xhtml>\n         <p>A list of <code>\n               <a>BatchResultErrorEntry</a>\n            </code> items.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "Successful": {
            "target": "ChangeMessageVisibilityBatchResultEntryList",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>A list of <code>\n               <xref linkend=\"ChangeMessageVisibilityBatchResultEntry\"></xref>\n            </code> items.</para>\n      </zonbook>\n      <xhtml>\n         <p>A list of <code>\n               <a>ChangeMessageVisibilityBatchResultEntry</a>\n            </code> items.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n         <para>For each message in the batch, the response contains a <code>\n               <xref linkend=\"ChangeMessageVisibilityBatchResultEntry\"></xref>\n            </code> tag if the message succeeds or a <code>\n               <xref linkend=\"BatchResultErrorEntry\"></xref>\n            </code> tag if the message fails.</para>\n      </zonbook>\n      <xhtml>\n         <p>For each message in the batch, the response contains a <code>\n               <a>ChangeMessageVisibilityBatchResultEntry</a>\n            </code> tag if the message succeeds or a <code>\n               <a>BatchResultErrorEntry</a>\n            </code> tag if the message fails.</p>\n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ChangeMessageVisibilityBatchResultEntry": {
        "type": "structure",
        "members": {
          "Id": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>Represents a message whose visibility timeout has been changed successfully.</para>\n      </zonbook>\n      <xhtml>\n         <p>Represents a message whose visibility timeout has been changed successfully.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Encloses the <code>Id</code> of an entry in <code>\n               <xref linkend=\"ChangeMessageVisibilityBatch\"></xref>.</code>\n         </para>\n      </zonbook>\n      <xhtml>\n         <p>Encloses the <code>Id</code> of an entry in <code>\n               <a>ChangeMessageVisibilityBatch</a>.</code>\n         </p>\n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ChangeMessageVisibilityBatchResultEntryList": {
        "type": "list",
        "member": {
          "target": "ChangeMessageVisibilityBatchResultEntry",
          "smithy.api#xmlName": "ChangeMessageVisibilityBatchResultEntry",
          "smithy.api#xmlNamespace": {
            "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
          }
        },
        "smithy.api#xmlFlattened": true,
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "ChangeMessageVisibilityRequest": {
        "type": "structure",
        "members": {
          "QueueUrl": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The URL of the Amazon SQS queue whose message's visibility is changed.</para>\n         <para>Queue URLs and names are case-sensitive.</para>\n      </zonbook>\n      <xhtml>\n         <p>The URL of the Amazon SQS queue whose message's visibility is changed.</p>\n         <p>Queue URLs and names are case-sensitive.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "ReceiptHandle": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The receipt handle associated with the message whose visibility timeout is changed. This parameter is returned by the <code>\n               <xref linkend=\"ReceiveMessage\"></xref>\n            </code> action.</para>\n      </zonbook>\n      <xhtml>\n         <p>The receipt handle associated with the message whose visibility timeout is changed. This parameter is returned by the <code>\n               <a>ReceiveMessage</a>\n            </code> action.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "VisibilityTimeout": {
            "target": "Integer",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The new value for the message's visibility timeout (in seconds). Values values: <code>0</code> to <code>43200</code>. Maximum: 12 hours.</para>\n      </zonbook>\n      <xhtml>\n         <p>The new value for the message's visibility timeout (in seconds). Values values: <code>0</code> to <code>43200</code>. Maximum: 12 hours.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook></zonbook>\n      <xhtml></xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "CreateQueue": {
        "type": "operation",
        "input": "CreateQueueRequest",
        "output": "CreateQueueResult",
        "errors": ["QueueDeletedRecently", "QueueNameExists"],
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Creates a new standard or FIFO queue. You can pass one or more attributes in the request.\n          Keep the following caveats in mind:</para>\n         <itemizedlist>\n            <listitem>\n              <para>If you don't specify the <code>FifoQueue</code> attribute, Amazon SQS creates a standard queue.</para>\n              <note>\n                  <para>You can't change the queue type after you create it and you can't convert\n                        an existing standard queue into a FIFO queue. You must either create a new\n                        FIFO queue for your application or delete your existing standard queue and\n                        recreate it as a FIFO queue. For more information, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-moving\">Moving From a Standard Queue to a FIFO Queue</ulink> in the\n                            <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>. </para>\n              </note>\n            </listitem>\n            <listitem>\n              <para>If you don't provide a value for an attribute, the queue is created with the default value for the attribute.</para>\n            </listitem>\n            <listitem>\n              <para>If you delete a queue, you must wait at least 60 seconds before creating a queue with the same name.</para>\n            </listitem>\n         </itemizedlist>\n\n         <para>To successfully create a new queue, you must provide a queue name that adheres to the <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/limits-queues.html\">limits related to queues</ulink> and is unique within the scope of your queues.</para>\n         <para>To get the queue URL, use the <code>\n               <xref linkend=\"GetQueueUrl\"></xref>\n            </code> action. <code>\n               <xref linkend=\"GetQueueUrl\"></xref>\n            </code> requires only the <code>QueueName</code> parameter.\n          be aware of existing queue names:</para>\n         <itemizedlist>\n            <listitem>\n               <para>If you provide the name of an existing queue along with the exact names and values of all the queue's attributes, <code>CreateQueue</code> returns the queue URL for the existing queue.</para>\n            </listitem>\n            <listitem>\n               <para>If the queue name, attribute names, or attribute values don't match an existing queue, <code>CreateQueue</code> returns an error.</para>\n            </listitem>\n         </itemizedlist>\n         <para>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</para>\n         <para>\n            <code>&Attribute.1=first</code>\n         </para>\n         <para>\n            <code>&Attribute.2=second</code>\n         </para>\n         <note>\n            <para>Cross-account permissions don't apply to this action. For more information, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-customer-managed-policy-examples.html#grant-cross-account-permissions-to-role-and-user-name\">Grant Cross-Account Permissions to a Role and a User Name</ulink> in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n         </note>\n         <examples>\n            <example>\n               <para>The following example query request creates a new queue named\n                        <code>MyQueue</code>. The structure of <code>AUTHPARAMS</code> depends on the signature of the API request. \n                For more information, see <ulink type=\"documentation\" url=\"general/latest/gr/sigv4-signed-request-examples.html\">\n                Examples of Signed Signature Version 4 Requests</ulink> in the <emphasis>Amazon Web Services General Reference</emphasis>.</para>\n               <programlisting role=\"request\">https://sqs.us-east-2.amazonaws.com/\n?Action=CreateQueue\n&QueueName=MyQueue\n&Tag.Key=QueueType\n&Tag.Value=Production\n&Attribute.1.Name=VisibilityTimeout\n&Attribute.1.Value=40\n&Expires=2020-10-18T22%3A52%3A43PST\n&Version=2012-11-05\n&AUTHPARAMS</programlisting>\n               <programlisting role=\"response\" language=\"xml\"><CreateQueueResponse>\n    <CreateQueueResult>\n        <QueueUrl>https://queue.amazonaws.com/123456789012/MyQueue</QueueUrl>\n    </CreateQueueResult>\n    <ResponseMetadata>\n        <RequestId>7a62c49f-347e-4fc4-9331-6e8e7a96aa73</RequestId>\n    </ResponseMetadata>\n</CreateQueueResponse></programlisting>\n            </example>\n            <example>\n               <para>The following example creates a delay queue which hides each message from consumers for the first 45 seconds\n                 that the message is in the queue by calling the <code>CreateQueue</code> action with the <code>DelaySeconds</code>\n                 attribute set to 45 seconds.</para>\n               <note>\n                  <para>Queue URLs and names are case-sensitive.</para>\n               </note>\n               <programlisting role=\"request\">https://sqs.us-east-2.amazonaws.com/123456789012/MyQueue/\n?Action=CreateQueue\n&QueueName=MyQueue\n&Attribute.1.Name=DelaySeconds\n&Attribute.1.Value=45\n&Expires=2020-12-20T22%3A52%3A43PST\n&Version=2012-11-05\n&AUTHPARAMS</programlisting>\n            </example>\n         </examples>\n      </zonbook>\n      <xhtml>\n         <p>Creates a new standard or FIFO queue. You can pass one or more attributes in the request.\n          Keep the following caveats in mind:</p>\n         <ul>\n            <li>\n              <p>If you don't specify the <code>FifoQueue</code> attribute, Amazon SQS creates a standard queue.</p>\n              <note>\n                  <p>You can't change the queue type after you create it and you can't convert\n                        an existing standard queue into a FIFO queue. You must either create a new\n                        FIFO queue for your application or delete your existing standard queue and\n                        recreate it as a FIFO queue. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-moving\">Moving From a Standard Queue to a FIFO Queue</a> in the\n                            <i>Amazon Simple Queue Service Developer Guide</i>. </p>\n              </note>\n            </li>\n            <li>\n              <p>If you don't provide a value for an attribute, the queue is created with the default value for the attribute.</p>\n            </li>\n            <li>\n              <p>If you delete a queue, you must wait at least 60 seconds before creating a queue with the same name.</p>\n            </li>\n         </ul>\n\n         <p>To successfully create a new queue, you must provide a queue name that adheres to the <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/limits-queues.html\">limits related to queues</a> and is unique within the scope of your queues.</p>\n         <p>To get the queue URL, use the <code>\n               <a>GetQueueUrl</a>\n            </code> action. <code>\n               <a>GetQueueUrl</a>\n            </code> requires only the <code>QueueName</code> parameter.\n          be aware of existing queue names:</p>\n         <ul>\n            <li>\n               <p>If you provide the name of an existing queue along with the exact names and values of all the queue's attributes, <code>CreateQueue</code> returns the queue URL for the existing queue.</p>\n            </li>\n            <li>\n               <p>If the queue name, attribute names, or attribute values don't match an existing queue, <code>CreateQueue</code> returns an error.</p>\n            </li>\n         </ul>\n         <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p>\n         <p>\n            <code>&Attribute.1=first</code>\n         </p>\n         <p>\n            <code>&Attribute.2=second</code>\n         </p>\n         <note>\n            <p>Cross-account permissions don't apply to this action. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-customer-managed-policy-examples.html#grant-cross-account-permissions-to-role-and-user-name\">Grant Cross-Account Permissions to a Role and a User Name</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n         </note>\n      \n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "CreateQueueRequest": {
        "type": "structure",
        "members": {
          "Attributes": {
            "target": "QueueAttributeMap",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>A map of attributes with their corresponding values.</para>\n         <para>The following lists the names, descriptions, and values of the special request parameters that the <code>CreateQueue</code> action uses:</para>\n         <itemizedlist>\n            <listitem>\n               <para>\n                  <code>DelaySeconds</code> - The length of time, in seconds, for which the delivery of all messages in the queue is delayed. Valid values: An integer from 0 to 900 seconds (15 minutes). Default: 0.\n            </para>\n            </listitem>\n            <listitem>\n               <para>\n                  <code>MaximumMessageSize</code> - The limit of how many bytes a message can contain before Amazon SQS rejects it. Valid values: An integer from 1,024 bytes (1 KiB) to 262,144 bytes (256 KiB). Default: 262,144 (256 KiB).\n            </para>\n            </listitem>\n            <listitem>\n               <para>\n                  <code>MessageRetentionPeriod</code> - The length of time, in seconds, for which Amazon SQS retains a message. Valid values: An integer from 60 seconds (1 minute) to 1,209,600 seconds (14 days). Default: 345,600 (4 days).\n            </para>\n            </listitem>\n            <listitem>\n               <para>\n                  <code>Policy</code> - The queue's policy. A valid AWS policy. For more information about policy structure, see <ulink type=\"documentation\" url=\"IAM/latest/UserGuide/PoliciesOverview.html\">Overview of AWS IAM Policies</ulink> in the <emphasis>Amazon IAM User Guide</emphasis>.\n            </para>\n            </listitem>                \n            <listitem>\n               <para>\n                  <code>ReceiveMessageWaitTimeSeconds</code> - The length of time, in seconds, for which a <code>\n                     <xref linkend=\"ReceiveMessage\"></xref>\n                  </code> action waits for a message to arrive. Valid values: An integer from 0 to 20 (seconds). Default: 0.\n            </para>\n            </listitem>\n            <listitem>\n               <para>\n                  <code>RedrivePolicy</code> - The string that includes the parameters for the dead-letter queue functionality of the source queue.\n                For more information about the redrive policy and dead-letter queues, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">Using Amazon SQS Dead-Letter Queues</ulink> \n                in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.    \n            </para>\n                        <itemizedlist>\n                  <listitem>\n                    <para>\n                        <code>deadLetterTargetArn</code> - The Amazon Resource Name (ARN) of the dead-letter queue to which Amazon SQS moves messages after the value of <code>maxReceiveCount</code> is exceeded.</para>\n                  </listitem>\n                  <listitem>\n                    <para>\n                        <code>maxReceiveCount</code> - The number of times a message is delivered to the source queue before being moved to the dead-letter queue.\n                        When the <code>ReceiveCount</code> for a message exceeds the <code>maxReceiveCount</code> for a queue, Amazon SQS moves the message to the dead-letter-queue.</para>\n                  </listitem>\n               </itemizedlist>\n               <note>\n                  <para>The dead-letter queue of a FIFO queue must also be a FIFO queue. Similarly, the dead-letter queue of a standard queue must also be a standard queue.</para>\n               </note>\n            </listitem>\n            <listitem>\n               <para>\n                  <code>VisibilityTimeout</code> - The visibility timeout for the queue, in seconds. Valid values: An integer from 0 to 43,200 (12 hours). Default: 30. For more information about the visibility timeout, see \n                    <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility Timeout</ulink> in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n            </listitem>\n         </itemizedlist>\n      \n         <para>The following attributes apply only to <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html\">server-side-encryption</ulink>:</para>\n         <itemizedlist>\n            <listitem>\n              <para>\n                  <code>KmsMasterKeyId</code> - The ID of an AWS-managed customer master key (CMK) for Amazon SQS or a custom CMK. For more information, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-sse-key-terms\">Key Terms</ulink>.\n                  While the alias of the AWS-managed CMK for Amazon SQS is always <code>alias/aws/sqs</code>, the alias of a custom CMK can, for example, be <code>alias/<emphasis>MyAlias</emphasis>\n                  </code>.\n                  For more examples, see <ulink type=\"documentation\" url=\"kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</ulink> in the <emphasis>AWS Key Management Service API Reference</emphasis>.\n              </para>\n            </listitem>\n            <listitem>\n              <para>\n                  <code>KmsDataKeyReusePeriodSeconds</code> - The length of time, in seconds, for which Amazon SQS can reuse a <ulink type=\"documentation\" url=\"kms/latest/developerguide/concepts.html#data-keys\">data key</ulink> to encrypt \n                  or decrypt messages before calling AWS KMS again. An integer representing seconds, between 60 seconds (1 minute) and 86,400 seconds (24 hours). Default: 300 (5 minutes). A shorter time period provides better security \n                  but results in more calls to KMS which might incur charges after Free Tier. For more information, see \n                  <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-how-does-the-data-key-reuse-period-work\">How Does the Data Key Reuse Period Work?</ulink>.\n              </para>\n            </listitem>\n         </itemizedlist>\n      \n      \n         <para>The following attributes apply only to <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO (first-in-first-out) queues</ulink>:</para>\n         <itemizedlist>\n            <listitem>\n              <para>\n                  <code>FifoQueue</code> - Designates a queue as FIFO. Valid values: <code>true</code>, <code>false</code>. If you don't specify the <code>FifoQueue</code> attribute, Amazon SQS creates a standard queue. \n                  You can provide this attribute only during queue creation. You can't change it for an existing queue. \n                  When you set this attribute, you must also provide the <code>MessageGroupId</code> for your messages explicitly.</para> \n               <para>For more information, see \n                  <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-understanding-logic\">FIFO Queue Logic</ulink> \n                  in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n            </listitem>\n            <listitem>\n              <para>\n                  <code>ContentBasedDeduplication</code> - Enables content-based deduplication. Valid values: <code>true</code>, <code>false</code>. For more information, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing\">Exactly-Once Processing</ulink> in the \n                      <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.\n              </para>\n              <itemizedlist>\n                  <listitem>\n                      <para>Every message must have a unique <code>MessageDeduplicationId</code>,</para>\n                      <itemizedlist>\n                          <listitem>\n                              <para>You may provide a <code>MessageDeduplicationId</code> explicitly.</para>\n                          </listitem>\n                          <listitem>\n                              <para>If you aren't able to provide a <code>MessageDeduplicationId</code> and you enable <code>ContentBasedDeduplication</code> for your queue, \n                                  Amazon SQS uses a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body of the message (but not the attributes of the message).\n                              </para>\n                          </listitem>\n                          <listitem>\n                              <para>If you don't provide a <code>MessageDeduplicationId</code> and the queue doesn't have <code>ContentBasedDeduplication</code> set,\n                                  the action fails with an error.</para>\n                          </listitem>\n                          <listitem>\n                              <para>If the queue has <code>ContentBasedDeduplication</code> set, your <code>MessageDeduplicationId</code> overrides the generated one.</para>\n                          </listitem>\n                      </itemizedlist>\n                  </listitem>\n                  <listitem>\n                      <para>When <code>ContentBasedDeduplication</code> is in effect, messages with identical content sent within the deduplication interval are treated as duplicates \n                          and only one copy of the message is delivered.</para>\n                  </listitem>\n                  <listitem>\n                      <para>If you send one message with <code>ContentBasedDeduplication</code> enabled and then another message with a <code>MessageDeduplicationId</code> that is the same \n                          as the one generated for the first <code>MessageDeduplicationId</code>, the two messages are treated as duplicates and only one copy of the message is delivered.\n                      </para>\n                  </listitem>\n              </itemizedlist> \n            </listitem>\n         </itemizedlist>\n      \n      </zonbook>\n      <xhtml>\n         <p>A map of attributes with their corresponding values.</p>\n         <p>The following lists the names, descriptions, and values of the special request parameters that the <code>CreateQueue</code> action uses:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DelaySeconds</code> - The length of time, in seconds, for which the delivery of all messages in the queue is delayed. Valid values: An integer from 0 to 900 seconds (15 minutes). Default: 0.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>MaximumMessageSize</code> - The limit of how many bytes a message can contain before Amazon SQS rejects it. Valid values: An integer from 1,024 bytes (1 KiB) to 262,144 bytes (256 KiB). Default: 262,144 (256 KiB).\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>MessageRetentionPeriod</code> - The length of time, in seconds, for which Amazon SQS retains a message. Valid values: An integer from 60 seconds (1 minute) to 1,209,600 seconds (14 days). Default: 345,600 (4 days).\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>Policy</code> - The queue's policy. A valid AWS policy. For more information about policy structure, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/PoliciesOverview.html\">Overview of AWS IAM Policies</a> in the <i>Amazon IAM User Guide</i>.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>ReceiveMessageWaitTimeSeconds</code> - The length of time, in seconds, for which a <code>\n                     <a>ReceiveMessage</a>\n                  </code> action waits for a message to arrive. Valid values: An integer from 0 to 20 (seconds). Default: 0.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>RedrivePolicy</code> - The string that includes the parameters for the dead-letter queue functionality of the source queue.\n                For more information about the redrive policy and dead-letter queues, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">Using Amazon SQS Dead-Letter Queues</a> \n                in the <i>Amazon Simple Queue Service Developer Guide</i>.    \n            </p>\n                        <ul>\n                  <li>\n                    <p>\n                        <code>deadLetterTargetArn</code> - The Amazon Resource Name (ARN) of the dead-letter queue to which Amazon SQS moves messages after the value of <code>maxReceiveCount</code> is exceeded.</p>\n                  </li>\n                  <li>\n                    <p>\n                        <code>maxReceiveCount</code> - The number of times a message is delivered to the source queue before being moved to the dead-letter queue.\n                        When the <code>ReceiveCount</code> for a message exceeds the <code>maxReceiveCount</code> for a queue, Amazon SQS moves the message to the dead-letter-queue.</p>\n                  </li>\n               </ul>\n               <note>\n                  <p>The dead-letter queue of a FIFO queue must also be a FIFO queue. Similarly, the dead-letter queue of a standard queue must also be a standard queue.</p>\n               </note>\n            </li>\n            <li>\n               <p>\n                  <code>VisibilityTimeout</code> - The visibility timeout for the queue, in seconds. Valid values: An integer from 0 to 43,200 (12 hours). Default: 30. For more information about the visibility timeout, see \n                    <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility Timeout</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n            </li>\n         </ul>\n      \n         <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html\">server-side-encryption</a>:</p>\n         <ul>\n            <li>\n              <p>\n                  <code>KmsMasterKeyId</code> - The ID of an AWS-managed customer master key (CMK) for Amazon SQS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-sse-key-terms\">Key Terms</a>.\n                  While the alias of the AWS-managed CMK for Amazon SQS is always <code>alias/aws/sqs</code>, the alias of a custom CMK can, for example, be <code>alias/<i>MyAlias</i>\n                  </code>.\n                  For more examples, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>AWS Key Management Service API Reference</i>.\n              </p>\n            </li>\n            <li>\n              <p>\n                  <code>KmsDataKeyReusePeriodSeconds</code> - The length of time, in seconds, for which Amazon SQS can reuse a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-keys\">data key</a> to encrypt \n                  or decrypt messages before calling AWS KMS again. An integer representing seconds, between 60 seconds (1 minute) and 86,400 seconds (24 hours). Default: 300 (5 minutes). A shorter time period provides better security \n                  but results in more calls to KMS which might incur charges after Free Tier. For more information, see \n                  <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-how-does-the-data-key-reuse-period-work\">How Does the Data Key Reuse Period Work?</a>.\n              </p>\n            </li>\n         </ul>\n      \n      \n         <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO (first-in-first-out) queues</a>:</p>\n         <ul>\n            <li>\n              <p>\n                  <code>FifoQueue</code> - Designates a queue as FIFO. Valid values: <code>true</code>, <code>false</code>. If you don't specify the <code>FifoQueue</code> attribute, Amazon SQS creates a standard queue. \n                  You can provide this attribute only during queue creation. You can't change it for an existing queue. \n                  When you set this attribute, you must also provide the <code>MessageGroupId</code> for your messages explicitly.</p> \n               <p>For more information, see \n                  <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-understanding-logic\">FIFO Queue Logic</a> \n                  in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n            </li>\n            <li>\n              <p>\n                  <code>ContentBasedDeduplication</code> - Enables content-based deduplication. Valid values: <code>true</code>, <code>false</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing\">Exactly-Once Processing</a> in the \n                      <i>Amazon Simple Queue Service Developer Guide</i>.\n              </p>\n              <ul>\n                  <li>\n                      <p>Every message must have a unique <code>MessageDeduplicationId</code>,</p>\n                      <ul>\n                        <li>\n                              <p>You may provide a <code>MessageDeduplicationId</code> explicitly.</p>\n                          </li>\n                        <li>\n                              <p>If you aren't able to provide a <code>MessageDeduplicationId</code> and you enable <code>ContentBasedDeduplication</code> for your queue, \n                                  Amazon SQS uses a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body of the message (but not the attributes of the message).\n                              </p>\n                          </li>\n                        <li>\n                              <p>If you don't provide a <code>MessageDeduplicationId</code> and the queue doesn't have <code>ContentBasedDeduplication</code> set,\n                                  the action fails with an error.</p>\n                          </li>\n                        <li>\n                              <p>If the queue has <code>ContentBasedDeduplication</code> set, your <code>MessageDeduplicationId</code> overrides the generated one.</p>\n                          </li>\n                     </ul>\n                  </li>\n                  <li>\n                      <p>When <code>ContentBasedDeduplication</code> is in effect, messages with identical content sent within the deduplication interval are treated as duplicates \n                          and only one copy of the message is delivered.</p>\n                  </li>\n                  <li>\n                      <p>If you send one message with <code>ContentBasedDeduplication</code> enabled and then another message with a <code>MessageDeduplicationId</code> that is the same \n                          as the one generated for the first <code>MessageDeduplicationId</code>, the two messages are treated as duplicates and only one copy of the message is delivered.\n                      </p>\n                  </li>\n               </ul> \n            </li>\n         </ul>\n      \n      </xhtml>\n   ",
            "smithy.api#xmlName": "Attribute",
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "QueueName": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The name of the new queue. The following limits apply to this name:</para>\n         <itemizedlist>\n            <listitem>\n              <para>A queue name can have up to 80 characters.</para>               \n            </listitem>\n            <listitem>\n              <para>Valid values: alphanumeric characters, hyphens (<code>-</code>), and underscores (<code>_</code>).</para>\n            </listitem>\n            <listitem>\n              <para>A FIFO queue name must end with the <code>.fifo</code> suffix.</para>\n            </listitem>\n         </itemizedlist>\n         <para>Queue URLs and names are case-sensitive.</para>\n      </zonbook>\n      <xhtml>\n         <p>The name of the new queue. The following limits apply to this name:</p>\n         <ul>\n            <li>\n              <p>A queue name can have up to 80 characters.</p>               \n            </li>\n            <li>\n              <p>Valid values: alphanumeric characters, hyphens (<code>-</code>), and underscores (<code>_</code>).</p>\n            </li>\n            <li>\n              <p>A FIFO queue name must end with the <code>.fifo</code> suffix.</p>\n            </li>\n         </ul>\n         <p>Queue URLs and names are case-sensitive.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "tags": {
            "target": "TagMap",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>Add cost allocation tags to the specified Amazon SQS queue. For an overview, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-queue-tags.html\">Tagging Your Amazon SQS Queues</ulink> in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n      \n         <para>When you use queue tags, keep the following guidelines in mind:</para>\n         <itemizedlist>\n            <listitem>\n               <para>Adding more than 50 tags to a queue isn't recommended.</para>\n            </listitem>\n            <listitem>\n               <para>Tags don't have any semantic meaning. Amazon SQS interprets tags as character strings.</para>\n            </listitem>\n            <listitem>\n               <para>Tags are case-sensitive.</para>\n            </listitem>\n            <listitem>\n               <para>A new tag with a key identical to that of an existing tag overwrites the existing tag.</para>\n            </listitem>\n         \n         </itemizedlist>\n         <para>For a full list of tag restrictions, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-limits.html#limits-queues\">Limits Related to Queues</ulink> in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n         <note>\n            <para>To be able to tag a queue on creation, you must have the\n                    <code>sqs:CreateQueue</code> and <code>sqs:TagQueue</code> permissions.</para>\n            <para>Cross-account permissions don't apply to this action. For more information, see <ulink type=\"documentation\" url=\"AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-customer-managed-policy-examples.html#grant-cross-account-permissions-to-role-and-user-name\">Grant Cross-Account Permissions to a Role and a User Name</ulink> in the <emphasis>Amazon Simple Queue Service Developer Guide</emphasis>.</para>\n         </note>\n      </zonbook>\n      <xhtml>\n         <p>Add cost allocation tags to the specified Amazon SQS queue. For an overview, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-queue-tags.html\">Tagging Your Amazon SQS Queues</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n      \n         <p>When you use queue tags, keep the following guidelines in mind:</p>\n         <ul>\n            <li>\n               <p>Adding more than 50 tags to a queue isn't recommended.</p>\n            </li>\n            <li>\n               <p>Tags don't have any semantic meaning. Amazon SQS interprets tags as character strings.</p>\n            </li>\n            <li>\n               <p>Tags are case-sensitive.</p>\n            </li>\n            <li>\n               <p>A new tag with a key identical to that of an existing tag overwrites the existing tag.</p>\n            </li>\n         </ul>\n         <p>For a full list of tag restrictions, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-limits.html#limits-queues\">Limits Related to Queues</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n         <note>\n            <p>To be able to tag a queue on creation, you must have the\n                    <code>sqs:CreateQueue</code> and <code>sqs:TagQueue</code> permissions.</p>\n            <p>Cross-account permissions don't apply to this action. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-customer-managed-policy-examples.html#grant-cross-account-permissions-to-role-and-user-name\">Grant Cross-Account Permissions to a Role and a User Name</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>\n         </note>\n      </xhtml>\n   ",
            "smithy.api#xmlName": "Tag",
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n         <simpara></simpara>\n      </zonbook>\n      <xhtml>\n         <p></p>\n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "CreateQueueResult": {
        "type": "structure",
        "members": {
          "QueueUrl": {
            "target": "String",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>The URL of the created Amazon SQS queue.</para>\n      </zonbook>\n      <xhtml>\n         <p>The URL of the created Amazon SQS queue.</p>\n      </xhtml>\n   ",
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Returns the <code>QueueUrl</code> attribute of the created queue.</para>\n      </zonbook>\n      <xhtml>\n         <p>Returns the <code>QueueUrl</code> attribute of the created queue.</p>\n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "DeleteMessage": {
        "type": "operation",
        "input": "DeleteMessageRequest",
        "errors": ["InvalidIdFormat", "ReceiptHandleIsInvalid"],
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Deletes the specified message from the specified queue. To select the message to\n            delete, use the <code>ReceiptHandle</code> of the message (<emphasis>not</emphasis> the\n                <code>MessageId</code> which you receive when you send the message). Amazon SQS can\n            delete a message from a queue even if a visibility timeout setting causes the message to\n            be locked by another consumer. Amazon SQS automatically deletes messages left in a queue\n            longer than the retention period configured for the queue. </para>\n         <note>\n            <para>The <code>ReceiptHandle</code> is associated with a <emphasis>specific\n                    instance</emphasis> of receiving a message. If you receive a message more than\n                once, the <code>ReceiptHandle</code> is different each time you receive a message.\n                When you use the <code>DeleteMessage</code> action, you must provide the most\n                recently received <code>ReceiptHandle</code> for the message (otherwise, the request\n                succeeds, but the message might not be deleted).</para>\n            <para>For standard queues, it is possible to receive a message even after you\n                delete it. This might happen on rare occasions if one of the servers which stores a\n                copy of the message is unavailable when you send the request to delete the message.\n                The copy remains on the server and might be returned to you during a subsequent\n                receive request. You should ensure that your application is idempotent, so that\n                receiving a message more than once does not cause issues.</para>\n         </note>\n         <examples>\n            <example>\n               <para>The following example query request deletes a message from the queue named\n                        <code>MyQueue</code>. The structure of <code>AUTHPARAMS</code> depends on the signature of the API request. \n                For more information, see <ulink type=\"documentation\" url=\"general/latest/gr/sigv4-signed-request-examples.html\">\n                Examples of Signed Signature Version 4 Requests</ulink> in the <emphasis>Amazon Web Services General Reference</emphasis>.</para>\n               <programlisting role=\"request\">https://sqs.us-east-2.amazonaws.com/123456789012/MyQueue/\n?Action=DeleteMessage\n&ReceiptHandle=MbZj6wDWli%2BJvwwJaBV%2B3dcjk2YW2vA3%2BSTFFljT\nM8tJJg6HRG6PYSasuWXPJB%2BCwLj1FjgXUv1uSj1gUPAWV66FU/WeR4mq2OKpEGY\nWbnLmpRCJVAyeMjeU5ZBdtcQ%2BQEauMZc8ZRv37sIW2iJKq3M9MFx1YvV11A2x/K\nSbkJ0=\n&Expires=2020-04-18T22%3A52%3A43PST\n&Version=2012-11-05\n&AUTHPARAMS</programlisting>\n               <programlisting role=\"response\" language=\"xml\"><DeleteMessageResponse>\n    <ResponseMetadata>\n        <RequestId>b5293cb5-d306-4a17-9048-b263635abe42</RequestId>\n    </ResponseMetadata>\n</DeleteMessageResponse></programlisting>\n            </example>\n         </examples>\n      </zonbook>\n      <xhtml>\n         <p>Deletes the specified message from the specified queue. To select the message to\n            delete, use the <code>ReceiptHandle</code> of the message (<i>not</i> the\n                <code>MessageId</code> which you receive when you send the message). Amazon SQS can\n            delete a message from a queue even if a visibility timeout setting causes the message to\n            be locked by another consumer. Amazon SQS automatically deletes messages left in a queue\n            longer than the retention period configured for the queue. </p>\n         <note>\n            <p>The <code>ReceiptHandle</code> is associated with a <i>specific\n                    instance</i> of receiving a message. If you receive a message more than\n                once, the <code>ReceiptHandle</code> is different each time you receive a message.\n                When you use the <code>DeleteMessage</code> action, you must provide the most\n                recently received <code>ReceiptHandle</code> for the message (otherwise, the request\n                succeeds, but the message might not be deleted).</p>\n            <p>For standard queues, it is possible to receive a message even after you\n                delete it. This might happen on rare occasions if one of the servers which stores a\n                copy of the message is unavailable when you send the request to delete the message.\n                The copy remains on the server and might be returned to you during a subsequent\n                receive request. You should ensure that your application is idempotent, so that\n                receiving a message more than once does not cause issues.</p>\n         </note>\n      \n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "DeleteMessageBatch": {
        "type": "operation",
        "input": "DeleteMessageBatchRequest",
        "output": "DeleteMessageBatchResult",
        "errors": [
          "BatchEntryIdsNotDistinct",
          "EmptyBatchRequest",
          "InvalidBatchEntryId",
          "TooManyEntriesInBatchRequest"
        ],
        "smithy.api#documentation": "\n      <zonbook>\n         <para>Deletes up to ten messages from the specified queue. This is a batch version of <code>\n               <xref linkend=\"DeleteMessage\"></xref>.</code> The result of the action on each message is reported individually in the response.</para>\n         <important>\n            <para>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</para>\n         </important>\n         <para>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</para>\n         <para>\n            <code>&Attribute.1=first</code>\n         </para>\n         <para>\n            <code>&Attribute.2=second</code>\n         </para>    \n         <examples>\n            <example>\n               <para>In the following example, a <code>DeleteMessageBatch</code> request deletes two messages. You must URL-encode the entire URL. However, in this example only the message body is URL-encoded to make the example easier to read. The structure of <code>AUTHPARAMS</code> depends on the signature of the API request. \n                For more information, see <ulink type=\"documentation\" url=\"general/latest/gr/sigv4-signed-request-examples.html\">\n                Examples of Signed Signature Version 4 Requests</ulink> in the <emphasis>Amazon Web Services General Reference</emphasis>.</para>\n               <programlisting role=\"request\">https://sqs.us-east-2.amazonaws.com/123456789012/MyQueue/\n&Action=DeleteMessageBatch\n&DeleteMessageBatchRequestEntry.1.Id=msg1\n&DeleteMessageBatchRequestEntry.1.ReceiptHandle=gfk0T0R0waama4fVFffkjPQrr\nvzMrOg0fTFk2LxT33EuB8wR0ZCFgKWyXGWFoqqpCIiprQUEhir%2F5LeGPpYTLzjqLQxyQYaQ\nALeSNHb0us3uE84uujxpBhsDkZUQkjFFkNqBXn48xlMcVhTcI3YLH%2Bd%2BIqetIOHgBCZAP\nx6r%2B09dWaBXei6nbK5Ygih21DCDdAwFV68Jo8DXhb3ErEfoDqx7vyvC5nCpdwqv%2BJhU%2\nFTNGjNN8t51v5c%2FAXvQsAzyZVNapxUrHIt4NxRhKJ72uICcxruyE8eRXlxIVNgeNP8ZEDcw\n7zZU1Zw%3D%3D\n&DeleteMessageBatchRequestEntry.2.Id=msg2\n&DeleteMessageBatchRequestEntry.2.ReceiptHandle=gfk0T0R0waama4fVFffkjKzmh\nMCymjQvfTFk2LxT33G4ms5subrE0deLKWSscPU1oD3J9zgeS4PQQ3U30qOumIE6AdAv3w%2F%\n2Fa1IXW6AqaWhGsEPaLm3Vf6IiWqdM8u5imB%2BNTwj3tQRzOWdTOePjOjPcTpRxBtXix%2BE\nvwJOZUma9wabv%2BSw6ZHjwmNcVDx8dZXJhVp16Bksiox%2FGrUvrVTCJRTWTLc59oHLLF8sE\nkKzRmGNzTDGTiV%2BYjHfQj60FD3rVaXmzTsoNxRhKJ72uIHVMGVQiAGgB%2BqAbSqfKHDQtV\nOmJJgkHug%3D%3D\n&Expires=2020-10-18T22%3A52%3A43PST\n&Version=2012-11-05\n&AUTHPARAMS</programlisting>\n               <programlisting role=\"response\" language=\"xml\"><DeleteMessageBatchResponse>\n    <DeleteMessageBatchResult>\n        <DeleteMessageBatchResultEntry>\n            <Id>msg1</Id>\n        </DeleteMessageBatchResultEntry>\n        <DeleteMessageBatchResultEntry>\n            <Id>msg2</Id>\n        </DeleteMessageBatchResultEntry>\n    </DeleteMessageBatchResult>\n    <ResponseMetadata>\n        <RequestId>d6f86b7a-74d1-4439-b43f-196a1e29cd85</RequestId>\n    </ResponseMetadata>\n</DeleteMessageBatchResponse></programlisting>\n            </example>\n         </examples>\n      </zonbook>\n      <xhtml>\n         <p>Deletes up to ten messages from the specified queue. This is a batch version of <code>\n               <a>DeleteMessage</a>.</code> The result of the action on each message is reported individually in the response.</p>\n         <important>\n            <p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</p>\n         </important>\n         <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p>\n         <p>\n            <code>&Attribute.1=first</code>\n         </p>\n         <p>\n            <code>&Attribute.2=second</code>\n         </p>    \n      \n      </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        }
      },
      "DeleteMessageBatchRequest": {
        "type": "structure",
        "members": {
          "Entries": {
            "target": "DeleteMessageBatchRequestEntryList",
            "smithy.api#documentation": "\n      <zonbook>\n         <para>A list of receipt handles for the messages to be deleted.</para>\n      </zonbook>\n      <xhtml>\n         <p>A list of receipt handles for the messages to be deleted.</p>\n      </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
            }
          },
          "QueueUrl": {
[...]
