{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sqs#AWSAccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sqs#String"
      }
    },
    "com.amazonaws.sqs#ActionNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sqs#String"
      }
    },
    "com.amazonaws.sqs#AddPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sqs#AddPermissionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.sqs#OverLimit"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a permission to a queue for a specific <a href=\"https://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P\">principal</a>. This allows sharing\n            access to the queue.</p>\n         <p>When you create a queue, you have full control access rights for the queue. Only you,\n            the owner of the queue, can grant or deny permissions to the queue. For more information\n            about these permissions, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-writing-an-sqs-policy.html#write-messages-to-shared-queue\">Allow Developers to Write Messages to a Shared Queue</a> in the <i>Amazon SQS\n                Developer Guide</i>.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>\n                     <code>AddPermission</code> generates a policy for you. You can use\n                                <code>\n                        <a>SetQueueAttributes</a>\n                     </code> to upload your\n                        policy. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-creating-custom-policies.html\">Using Custom Policies with the Amazon SQS Access Policy Language</a> in\n                        the <i>Amazon SQS Developer Guide</i>.</p>\n               </li>\n               <li>\n                  <p>An Amazon SQS policy can have a maximum of seven actions per statement.</p>\n               </li>\n               <li>\n                  <p>To remove the ability to change queue permissions, you must deny permission to the <code>AddPermission</code>, <code>RemovePermission</code>, and <code>SetQueueAttributes</code> actions in your IAM policy.</p>\n               </li>\n               <li>\n                  <p>Amazon SQS <code>AddPermission</code> does not support adding a non-account\n                        principal.</p>\n               </li>\n            </ul>\n         </note>\n         <note>\n            <p>Cross-account permissions don't apply to this action. For more information, \nsee <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-customer-managed-policy-examples.html#grant-cross-account-permissions-to-role-and-user-name\">Grant \ncross-account permissions to a role and a username</a> in the <i>Amazon SQS Developer Guide</i>.</p>\n         </note>"
      }
    },
    "com.amazonaws.sqs#AddPermissionRequest": {
      "type": "structure",
      "members": {
        "QueueUrl": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon SQS queue to which permissions are added.</p>\n         <p>Queue URLs and names are case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "Label": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identification of the permission you're setting (for example,\n                <code>AliceSendMessage</code>). Maximum 80 characters. Allowed characters include\n            alphanumeric characters, hyphens (<code>-</code>), and underscores\n            (<code>_</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "AWSAccountIds": {
          "target": "com.amazonaws.sqs#AWSAccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account numbers of the <a href=\"https://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P\">principals</a> who are to receive\n            permission. For information about locating the Amazon Web Services account identification, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-making-api-requests.html#sqs-api-request-authentication\">Your Amazon Web Services Identifiers</a> in the <i>Amazon SQS Developer\n            Guide</i>.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "AWSAccountId"
          }
        },
        "Actions": {
          "target": "com.amazonaws.sqs#ActionNameList",
          "traits": {
            "smithy.api#documentation": "<p>The action the client wants to allow for the specified principal. Valid values: the\n            name of any action or <code>*</code>.</p>\n         <p>For more information about these actions, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-overview-of-managing-access.html\">Overview of Managing Access Permissions to Your Amazon Simple Queue Service\n                Resource</a> in the <i>Amazon SQS Developer Guide</i>.</p>\n         <p>Specifying <code>SendMessage</code>, <code>DeleteMessage</code>, or\n                <code>ChangeMessageVisibility</code> for <code>ActionName.n</code> also grants\n            permissions for the corresponding batch versions of those actions:\n                <code>SendMessageBatch</code>, <code>DeleteMessageBatch</code>, and\n                <code>ChangeMessageVisibilityBatch</code>.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "ActionName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sqs#AmazonSQS": {
      "type": "service",
      "version": "2012-11-05",
      "operations": [
        {
          "target": "com.amazonaws.sqs#AddPermission"
        },
        {
          "target": "com.amazonaws.sqs#CancelMessageMoveTask"
        },
        {
          "target": "com.amazonaws.sqs#ChangeMessageVisibility"
        },
        {
          "target": "com.amazonaws.sqs#ChangeMessageVisibilityBatch"
        },
        {
          "target": "com.amazonaws.sqs#CreateQueue"
        },
        {
          "target": "com.amazonaws.sqs#DeleteMessage"
        },
        {
          "target": "com.amazonaws.sqs#DeleteMessageBatch"
        },
        {
          "target": "com.amazonaws.sqs#DeleteQueue"
        },
        {
          "target": "com.amazonaws.sqs#GetQueueAttributes"
        },
        {
          "target": "com.amazonaws.sqs#GetQueueUrl"
        },
        {
          "target": "com.amazonaws.sqs#ListDeadLetterSourceQueues"
        },
        {
          "target": "com.amazonaws.sqs#ListMessageMoveTasks"
        },
        {
          "target": "com.amazonaws.sqs#ListQueues"
        },
        {
          "target": "com.amazonaws.sqs#ListQueueTags"
        },
        {
          "target": "com.amazonaws.sqs#PurgeQueue"
        },
        {
          "target": "com.amazonaws.sqs#ReceiveMessage"
        },
        {
          "target": "com.amazonaws.sqs#RemovePermission"
        },
        {
          "target": "com.amazonaws.sqs#SendMessage"
        },
        {
          "target": "com.amazonaws.sqs#SendMessageBatch"
        },
        {
          "target": "com.amazonaws.sqs#SetQueueAttributes"
        },
        {
          "target": "com.amazonaws.sqs#StartMessageMoveTask"
        },
        {
          "target": "com.amazonaws.sqs#TagQueue"
        },
        {
          "target": "com.amazonaws.sqs#UntagQueue"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SQS",
          "arnNamespace": "sqs",
          "cloudFormationName": "SQS",
          "cloudTrailEventSource": "sqs.amazonaws.com",
          "endpointPrefix": "sqs"
        },
        "aws.auth#sigv4": {
          "name": "sqs"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<p>Welcome to the <i>Amazon SQS API Reference</i>.</p>\n         <p>Amazon SQS is a reliable, highly-scalable hosted queue for storing messages as they travel\n            between applications or microservices. Amazon SQS moves data between distributed application\n            components and helps you decouple these components.</p>\n         <p>For information on the permissions you need to use this API, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-authentication-and-access-control.html\">Identity and access management</a> in the <i>Amazon SQS Developer\n                Guide.</i>\n         </p>\n         <p>You can use <a href=\"http://aws.amazon.com/tools/#sdk\">Amazon Web Services SDKs</a> to access\n            Amazon SQS using your favorite programming language. The SDKs perform tasks such as the\n            following automatically:</p>\n         <ul>\n            <li>\n               <p>Cryptographically sign your service requests</p>\n            </li>\n            <li>\n               <p>Retry requests</p>\n            </li>\n            <li>\n               <p>Handle error responses</p>\n            </li>\n         </ul>\n         <p>\n            <b>Additional information</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"http://aws.amazon.com/sqs/\">Amazon SQS Product Page</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <i>Amazon SQS Developer Guide</i>\n               </p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-making-api-requests.html\">Making API Requests</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-metadata.html#sqs-message-attributes\">Amazon SQS Message Attributes</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">Amazon SQS Dead-Letter Queues</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <a href=\"http://docs.aws.amazon.com/cli/latest/reference/sqs/index.html\">Amazon SQS in the <i>Command Line Interface</i>\n                  </a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <i>Amazon Web Services General Reference</i>\n               </p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#sqs_region\">Regions and\n                                Endpoints</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon Simple Queue Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://queue.amazonaws.com/doc/2012-11-05/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://sqs-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "fn": "stringEquals",
                                          "argv": [
                                            "aws-us-gov",
                                            {
                                              "fn": "getAttr",
                                              "argv": [
                                                {
                                                  "ref": "PartitionResult"
                                                },
                                                "name"
                                              ]
                                            }
                                          ]
                                        }
                                      ],
                                      "endpoint": {
                                        "url": "https://sqs.{Region}.amazonaws.com",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://sqs-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://sqs.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://sqs.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://sqs-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.sqs#AttributeNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sqs#QueueAttributeName"
      }
    },
    "com.amazonaws.sqs#BatchEntryIdsNotDistinct": {
      "type": "structure",
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AWS.SimpleQueueService.BatchEntryIdsNotDistinct",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>Two or more batch entries in the request have the same <code>Id</code>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sqs#BatchRequestTooLong": {
      "type": "structure",
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AWS.SimpleQueueService.BatchRequestTooLong",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The length of all the messages put together is more than the limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sqs#BatchResultErrorEntry": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Id</code> of an entry in a batch request.</p>",
            "smithy.api#required": {}
          }
        },
        "SenderFault": {
          "target": "com.amazonaws.sqs#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether the error happened due to the caller of the batch API action.</p>",
            "smithy.api#required": {}
          }
        },
        "Code": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>An error code representing why the action failed on this entry.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>A message explaining why the action failed on this entry.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Gives a detailed description of the result of an action on each entry in the\n            request.</p>"
      }
    },
    "com.amazonaws.sqs#BatchResultErrorEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sqs#BatchResultErrorEntry"
      }
    },
    "com.amazonaws.sqs#Binary": {
      "type": "blob"
    },
    "com.amazonaws.sqs#BinaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sqs#Binary",
        "traits": {
          "smithy.api#xmlName": "BinaryListValue"
        }
      }
    },
    "com.amazonaws.sqs#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.sqs#BoxedInteger": {
      "type": "integer"
    },
    "com.amazonaws.sqs#CancelMessageMoveTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sqs#CancelMessageMoveTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.sqs#CancelMessageMoveTaskResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.sqs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.sqs#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a specified message movement task. A message movement can only be cancelled\n            when the current status is RUNNING. Cancelling a message movement task does not revert\n            the messages that have already been moved. It can only stop the messages that have not\n            been moved yet.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>This action is currently limited to supporting message redrive from <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">dead-letter queues (DLQs)</a> only. In this context, the source\n                        queue is the dead-letter queue (DLQ), while the destination queue can be the\n                        original source queue (from which the messages were driven to the\n                        dead-letter-queue), or a custom destination queue. </p>\n               </li>\n               <li>\n                  <p>Currently, only standard queues are supported.</p>\n               </li>\n               <li>\n                  <p>Only one active message movement task is supported per queue at any given\n                        time.</p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.sqs#CancelMessageMoveTaskRequest": {
      "type": "structure",
      "members": {
        "TaskHandle": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>An identifier associated with a message movement task.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sqs#CancelMessageMoveTaskResult": {
      "type": "structure",
      "members": {
        "ApproximateNumberOfMessagesMoved": {
          "target": "com.amazonaws.sqs#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The approximate number of messages already moved to the destination queue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sqs#ChangeMessageVisibility": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sqs#ChangeMessageVisibilityRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.sqs#MessageNotInflight"
        },
        {
          "target": "com.amazonaws.sqs#ReceiptHandleIsInvalid"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Changes the visibility timeout of a specified message in a queue to a new value. The\n            default visibility timeout for a message is 30 seconds. The minimum is 0 seconds. The\n            maximum is 12 hours. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer\n            Guide</i>.</p>\n         <p>For example, if the default timeout for a queue is 60 seconds, 15 seconds have elapsed\n            since you received the message, and you send a ChangeMessageVisibility call with\n                <code>VisibilityTimeout</code> set to 10 seconds, the 10 seconds begin to count from\n            the time that you make the <code>ChangeMessageVisibility</code> call. Thus, any attempt\n            to change the visibility timeout or to delete that message 10 seconds after you\n            initially change the visibility timeout (a total of 25 seconds) might result in an\n            error.</p>\n         <p>An Amazon SQS message has three basic states:</p>\n         <ol>\n            <li>\n               <p>Sent to a queue by a producer.</p>\n            </li>\n            <li>\n               <p>Received from the queue by a consumer.</p>\n            </li>\n            <li>\n               <p>Deleted from the queue.</p>\n            </li>\n         </ol>\n         <p>A message is considered to be <i>stored</i> after it is sent to a queue by a producer, but not yet received from the queue by a consumer (that is, between states 1 and 2). There is no limit to the number of stored messages.\n    A message is considered to be <i>in flight</i> after it is received from a queue by a consumer, but not yet deleted from the queue (that is, between states 2 and 3). There is a limit to the number of in flight messages.</p>\n         <p>Limits that apply to in flight messages are unrelated to the <i>unlimited</i> number of stored messages.</p>\n         <p>For most standard queues (depending on queue traffic and message backlog), there can be a maximum of approximately 120,000 in flight messages (received from a queue by a consumer, but not yet deleted from the queue). \n    If you reach this limit, Amazon SQS returns the <code>OverLimit</code> error message.\n    To avoid reaching the limit, you should delete messages from the queue after they're processed. You can also increase the number of queues you use to process your messages.\n    To request a limit increase, <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&limitType=service-code-sqs\">file a support request</a>.</p>\n         <p>For FIFO queues, there can be a maximum of 20,000 in flight messages (received from a queue by a consumer, but not yet deleted from the queue). If you reach this limit, Amazon SQS returns no error messages.</p>\n         <important>\n            <p>If you attempt to set the <code>VisibilityTimeout</code> to a value greater than\n                the maximum time left, Amazon SQS returns an error. Amazon SQS doesn't automatically\n                recalculate and increase the timeout to the maximum remaining time.</p>\n            <p>Unlike with a queue, when you change the visibility timeout for a specific message\n                the timeout value is applied immediately but isn't saved in memory for that message.\n                If you don't delete a message after it is received, the visibility timeout for the\n                message reverts to the original timeout value (not to the value you set using the\n                    <code>ChangeMessageVisibility</code> action) the next time the message is\n                received.</p>\n         </important>"
      }
    },
    "com.amazonaws.sqs#ChangeMessageVisibilityBatch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sqs#ChangeMessageVisibilityBatchRequest"
      },
      "output": {
        "target": "com.amazonaws.sqs#ChangeMessageVisibilityBatchResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.sqs#BatchEntryIdsNotDistinct"
        },
        {
          "target": "com.amazonaws.sqs#EmptyBatchRequest"
        },
        {
          "target": "com.amazonaws.sqs#InvalidBatchEntryId"
        },
        {
          "target": "com.amazonaws.sqs#TooManyEntriesInBatchRequest"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Changes the visibility timeout of multiple messages. This is a batch version of\n                    <code>\n               <a>ChangeMessageVisibility</a>.</code> The result of the action\n            on each message is reported individually in the response. You can send up to 10\n                    <code>\n               <a>ChangeMessageVisibility</a>\n            </code> requests with each\n                <code>ChangeMessageVisibilityBatch</code> action.</p>\n         <important>\n            <p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</p>\n         </important>"
      }
    },
    "com.amazonaws.sqs#ChangeMessageVisibilityBatchRequest": {
      "type": "structure",
      "members": {
        "QueueUrl": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon SQS queue whose messages' visibility is changed.</p>\n         <p>Queue URLs and names are case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "Entries": {
          "target": "com.amazonaws.sqs#ChangeMessageVisibilityBatchRequestEntryList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the receipt handles of the messages for which the visibility timeout must be\n            changed.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "ChangeMessageVisibilityBatchRequestEntry"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sqs#ChangeMessageVisibilityBatchRequestEntry": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for this particular receipt handle used to communicate the\n            result.</p>\n         <note>\n            <p>The <code>Id</code>s of a batch request need to be unique within a request.</p>\n            <p>This identifier can have up to 80 characters. The following characters are accepted: alphanumeric characters, hyphens(-), and underscores (_).</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "ReceiptHandle": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>A receipt handle.</p>",
            "smithy.api#required": {}
          }
        },
        "VisibilityTimeout": {
          "target": "com.amazonaws.sqs#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The new value (in seconds) for the message's visibility timeout.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encloses a receipt handle and an entry ID for each message in <code>\n               <a>ChangeMessageVisibilityBatch</a>.</code>\n         </p>"
      }
    },
    "com.amazonaws.sqs#ChangeMessageVisibilityBatchRequestEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sqs#ChangeMessageVisibilityBatchRequestEntry"
      }
    },
    "com.amazonaws.sqs#ChangeMessageVisibilityBatchResult": {
      "type": "structure",
      "members": {
        "Successful": {
          "target": "com.amazonaws.sqs#ChangeMessageVisibilityBatchResultEntryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>\n               <a>ChangeMessageVisibilityBatchResultEntry</a>\n            </code>\n            items.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "ChangeMessageVisibilityBatchResultEntry"
          }
        },
        "Failed": {
          "target": "com.amazonaws.sqs#BatchResultErrorEntryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>\n               <a>BatchResultErrorEntry</a>\n            </code> items.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "BatchResultErrorEntry"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For each message in the batch, the response contains a <code>\n               <a>ChangeMessageVisibilityBatchResultEntry</a>\n            </code> tag if the message\n            succeeds or a <code>\n               <a>BatchResultErrorEntry</a>\n            </code> tag if the message\n            fails.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sqs#ChangeMessageVisibilityBatchResultEntry": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>Represents a message whose visibility timeout has been changed successfully.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encloses the <code>Id</code> of an entry in <code>\n               <a>ChangeMessageVisibilityBatch</a>.</code>\n         </p>"
      }
    },
    "com.amazonaws.sqs#ChangeMessageVisibilityBatchResultEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sqs#ChangeMessageVisibilityBatchResultEntry"
      }
    },
    "com.amazonaws.sqs#ChangeMessageVisibilityRequest": {
      "type": "structure",
      "members": {
        "QueueUrl": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon SQS queue whose message's visibility is changed.</p>\n         <p>Queue URLs and names are case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "ReceiptHandle": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The receipt handle associated with the message, whose visibility timeout is changed.\n            This parameter is returned by the <code>\n               <a>ReceiveMessage</a>\n            </code>\n            action.</p>",
            "smithy.api#required": {}
          }
        },
        "VisibilityTimeout": {
          "target": "com.amazonaws.sqs#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The new value for the message's visibility timeout (in seconds). Values range:\n                <code>0</code> to <code>43200</code>. Maximum: 12 hours.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sqs#CreateQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sqs#CreateQueueRequest"
      },
      "output": {
        "target": "com.amazonaws.sqs#CreateQueueResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.sqs#QueueDeletedRecently"
        },
        {
          "target": "com.amazonaws.sqs#QueueNameExists"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new standard or FIFO queue. You can pass one or more attributes in\n            the request. Keep the following in mind:</p>\n         <ul>\n            <li>\n               <p>If you don't specify the <code>FifoQueue</code> attribute, Amazon SQS creates a standard queue.</p>\n               <note>\n                  <p>You can't change the queue type after you create it and you can't convert\n                        an existing standard queue into a FIFO queue. You must either create a new\n                        FIFO queue for your application or delete your existing standard queue and\n                        recreate it as a FIFO queue. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-moving\">Moving From a Standard Queue to a FIFO Queue</a> in the\n                            <i>Amazon SQS Developer Guide</i>. </p>\n               </note>\n            </li>\n            <li>\n               <p>If you don't provide a value for an attribute, the queue is created with the\n                    default value for the attribute.</p>\n            </li>\n            <li>\n               <p>If you delete a queue, you must wait at least 60 seconds before creating a\n                    queue with the same name.</p>\n            </li>\n         </ul>\n         <p>To successfully create a new queue, you must provide a queue name that adheres to the\n                <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/limits-queues.html\">limits\n                related to queues</a> and is unique within the scope of your queues.</p>\n         <note>\n            <p>After you create a queue, you must wait at least one second after the queue is\n                created to be able to use the queue.</p>\n         </note>\n         <p>To get the queue URL, use the <code>\n               <a>GetQueueUrl</a>\n            </code> action.\n                    <code>\n               <a>GetQueueUrl</a>\n            </code> requires only the\n                <code>QueueName</code> parameter. be aware of existing queue names:</p>\n         <ul>\n            <li>\n               <p>If you provide the name of an existing queue along with the exact names and\n                    values of all the queue's attributes, <code>CreateQueue</code> returns the queue\n                    URL for the existing queue.</p>\n            </li>\n            <li>\n               <p>If the queue name, attribute names, or attribute values don't match an\n                    existing queue, <code>CreateQueue</code> returns an error.</p>\n            </li>\n         </ul>\n         <note>\n            <p>Cross-account permissions don't apply to this action. For more information, \nsee <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-customer-managed-policy-examples.html#grant-cross-account-permissions-to-role-and-user-name\">Grant \ncross-account permissions to a role and a username</a> in the <i>Amazon SQS Developer Guide</i>.</p>\n         </note>"
      }
    },
    "com.amazonaws.sqs#CreateQueueRequest": {
      "type": "structure",
      "members": {
        "QueueName": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new queue. The following limits apply to this name:</p>\n         <ul>\n            <li>\n               <p>A queue name can have up to 80 characters.</p>\n            </li>\n            <li>\n               <p>Valid values: alphanumeric characters, hyphens (<code>-</code>), and\n                    underscores (<code>_</code>).</p>\n            </li>\n            <li>\n               <p>A FIFO queue name must end with the <code>.fifo</code> suffix.</p>\n            </li>\n         </ul>\n         <p>Queue URLs and names are case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.sqs#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Add cost allocation tags to the specified Amazon SQS queue. For an overview, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-queue-tags.html\">Tagging \nYour Amazon SQS Queues</a> in the <i>Amazon SQS Developer Guide</i>.</p>\n         <p>When you use queue tags, keep the following guidelines in mind:</p>\n         <ul>\n            <li>\n               <p>Adding more than 50 tags to a queue isn't recommended.</p>\n            </li>\n            <li>\n               <p>Tags don't have any semantic meaning. Amazon SQS interprets tags as character strings.</p>\n            </li>\n            <li>\n               <p>Tags are case-sensitive.</p>\n            </li>\n            <li>\n               <p>A new tag with a key identical to that of an existing tag overwrites the existing tag.</p>\n            </li>\n         </ul>\n         <p>For a full list of tag restrictions, see \n<a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-limits.html#limits-queues\">Quotas related to queues</a> \nin the <i>Amazon SQS Developer Guide</i>.</p>\n         <note>\n            <p>To be able to tag a queue on creation, you must have the\n                    <code>sqs:CreateQueue</code> and <code>sqs:TagQueue</code> permissions.</p>\n            <p>Cross-account permissions don't apply to this action. For more information, \nsee <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-customer-managed-policy-examples.html#grant-cross-account-permissions-to-role-and-user-name\">Grant \ncross-account permissions to a role and a username</a> in the <i>Amazon SQS Developer Guide</i>.</p>\n         </note>",
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "Tag"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.sqs#QueueAttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of attributes with their corresponding values.</p>\n         <p>The following lists the names, descriptions, and values of the special request\n            parameters that the <code>CreateQueue</code> action uses:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DelaySeconds</code> – The length of time, in seconds, for which the\n                    delivery of all messages in the queue is delayed. Valid values: An integer from\n                    0 to 900 seconds (15 minutes). Default: 0. </p>\n            </li>\n            <li>\n               <p>\n                  <code>MaximumMessageSize</code> – The limit of how many bytes a message\n                    can contain before Amazon SQS rejects it. Valid values: An integer from 1,024 bytes\n                    (1 KiB) to 262,144 bytes (256 KiB). Default: 262,144 (256 KiB). </p>\n            </li>\n            <li>\n               <p>\n                  <code>MessageRetentionPeriod</code> – The length of time, in seconds, for\n                    which Amazon SQS retains a message. Valid values: An integer from 60 seconds (1\n                    minute) to 1,209,600 seconds (14 days). Default: 345,600 (4 days). When you\n                    change a queue's attributes, the change can take up to 60 seconds for most of\n                    the attributes to propagate throughout the Amazon SQS system. Changes made to the\n                        <code>MessageRetentionPeriod</code> attribute can take up to 15 minutes and\n                    will impact existing messages in the queue potentially causing them to be\n                    expired and deleted if the <code>MessageRetentionPeriod</code> is reduced below\n                    the age of existing messages.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Policy</code> – The queue's policy. A valid Amazon Web Services policy. For more\n                    information about policy structure, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/PoliciesOverview.html\">Overview of Amazon Web Services IAM\n                        Policies</a> in the <i>IAM User Guide</i>. </p>\n            </li>\n            <li>\n               <p>\n                  <code>ReceiveMessageWaitTimeSeconds</code> – The length of time, in\n                    seconds, for which a <code>\n                     <a>ReceiveMessage</a>\n                  </code> action waits\n                    for a message to arrive. Valid values: An integer from 0 to 20 (seconds).\n                    Default: 0. </p>\n            </li>\n            <li>\n               <p>\n                  <code>VisibilityTimeout</code> – The visibility timeout for the queue, in\n                    seconds. Valid values: An integer from 0 to 43,200 (12 hours). Default: 30. For\n                    more information about the visibility timeout, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer\n                        Guide</i>.</p>\n            </li>\n         </ul>\n         <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">dead-letter queues:</a>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>RedrivePolicy</code> – The string that includes the parameters for the dead-letter queue functionality \n            of the source queue as a JSON object. The parameters are as follows:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>deadLetterTargetArn</code> – The Amazon Resource Name (ARN) of the dead-letter queue to \n                  which Amazon SQS moves messages after the value of <code>maxReceiveCount</code> is exceeded.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>maxReceiveCount</code> – The number of times a message is delivered to the source queue before being \n                 moved to the dead-letter queue. Default: 10. When the <code>ReceiveCount</code> for a message exceeds the <code>maxReceiveCount</code> \n                 for a queue, Amazon SQS moves the message to the dead-letter-queue.</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <code>RedriveAllowPolicy</code> – The string that includes the parameters for the permissions for the dead-letter\n            queue redrive permission and which source queues can specify dead-letter queues as a JSON object. The parameters are as follows:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>redrivePermission</code> – The permission type that defines which source queues can \n                    specify the current queue as the dead-letter queue. Valid values are:</p>\n                     <ul>\n                        <li>\n                           <p>\n                              <code>allowAll</code> – (Default) Any source queues in this Amazon Web Services account in the same Region can \n                          specify this queue as the dead-letter queue.</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>denyAll</code> – No source queues can specify this queue as the dead-letter\n                          queue.</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>byQueue</code> – Only queues specified by the <code>sourceQueueArns</code> parameter can specify \n                         this queue as the dead-letter queue.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>sourceQueueArns</code> – The Amazon Resource Names (ARN)s of the source queues that can specify \n                    this queue as the dead-letter queue and redrive messages. You can specify this parameter only when the \n                    <code>redrivePermission</code> parameter is set to <code>byQueue</code>. You can specify up to 10 source queue ARNs. \n                    To allow more than 10 source queues to specify dead-letter queues, set the <code>redrivePermission</code> parameter\n                    to <code>allowAll</code>.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <note>\n            <p>The dead-letter queue of a \n              FIFO queue must also be a FIFO queue. Similarly, the dead-letter \n              queue of a standard queue must also be a standard queue.</p>\n         </note>\n         <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html\">server-side-encryption</a>:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>KmsMasterKeyId</code> – The ID of an Amazon Web Services managed customer master\n                    key (CMK) for Amazon SQS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-sse-key-terms\">Key Terms</a>. While the alias of the Amazon Web Services managed CMK for Amazon SQS is\n                    always <code>alias/aws/sqs</code>, the alias of a custom CMK can, for example,\n                    be <code>alias/<i>MyAlias</i>\n                  </code>. For more examples, see\n                        <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>Key Management Service API\n                        Reference</i>. </p>\n            </li>\n            <li>\n               <p>\n                  <code>KmsDataKeyReusePeriodSeconds</code> – The length of time, in\n                    seconds, for which Amazon SQS can reuse a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-keys\">data key</a> to\n                    encrypt or decrypt messages before calling KMS again. An integer\n                    representing seconds, between 60 seconds (1 minute) and 86,400 seconds (24\n                    hours). Default: 300 (5 minutes). A shorter time period provides better security\n                    but results in more calls to KMS which might incur charges after Free Tier. For\n                    more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-how-does-the-data-key-reuse-period-work\">How Does the Data Key Reuse Period Work?</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>SqsManagedSseEnabled</code> – Enables server-side queue encryption\n                    using SQS owned encryption keys. Only one server-side encryption option is\n                    supported per queue (for example, <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-configure-sse-existing-queue.html\">SSE-KMS</a> or <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-configure-sqs-sse-queue.html\">SSE-SQS</a>).</p>\n            </li>\n         </ul>\n         <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO (first-in-first-out)\n                queues</a>:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FifoQueue</code> – Designates a queue as FIFO. Valid values are\n                        <code>true</code> and <code>false</code>. If you don't specify the <code>FifoQueue</code> attribute, Amazon SQS creates a standard queue. You\n                    can provide this attribute only during queue creation. You can't change it for\n                    an existing queue. When you set this attribute, you must also provide the\n                        <code>MessageGroupId</code> for your messages explicitly.</p>\n               <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues-understanding-logic.html\">FIFO queue logic</a> in the <i>Amazon SQS Developer\n                        Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ContentBasedDeduplication</code> – Enables content-based\n                    deduplication. Valid values are <code>true</code> and <code>false</code>. For\n                    more information, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues-exactly-once-processing.html\">Exactly-once processing</a> in the <i>Amazon SQS Developer\n                        Guide</i>. Note the following: </p>\n               <ul>\n                  <li>\n                     <p>Every message must have a unique\n                            <code>MessageDeduplicationId</code>.</p>\n                     <ul>\n                        <li>\n                           <p>You may provide a <code>MessageDeduplicationId</code>\n                                    explicitly.</p>\n                        </li>\n                        <li>\n                           <p>If you aren't able to provide a\n                                        <code>MessageDeduplicationId</code> and you enable\n                                        <code>ContentBasedDeduplication</code> for your queue, Amazon SQS\n                                    uses a SHA-256 hash to generate the\n                                        <code>MessageDeduplicationId</code> using the body of the\n                                    message (but not the attributes of the message). </p>\n                        </li>\n                        <li>\n                           <p>If you don't provide a <code>MessageDeduplicationId</code> and\n                                    the queue doesn't have <code>ContentBasedDeduplication</code>\n                                    set, the action fails with an error.</p>\n                        </li>\n                        <li>\n                           <p>If the queue has <code>ContentBasedDeduplication</code> set,\n                                    your <code>MessageDeduplicationId</code> overrides the generated\n                                    one.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>When <code>ContentBasedDeduplication</code> is in effect, messages\n                            with identical content sent within the deduplication interval are\n                            treated as duplicates and only one copy of the message is\n                            delivered.</p>\n                  </li>\n                  <li>\n                     <p>If you send one message with <code>ContentBasedDeduplication</code>\n                            enabled and then another message with a\n                                <code>MessageDeduplicationId</code> that is the same as the one\n                            generated for the first <code>MessageDeduplicationId</code>, the two\n                            messages are treated as duplicates and only one copy of the message is\n                            delivered. </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>The following attributes apply only to \n<a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/high-throughput-fifo.html\">high throughput\nfor FIFO queues</a>:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DeduplicationScope</code> – Specifies whether message deduplication occurs at the \n      message group or queue level. Valid values are <code>messageGroup</code> and <code>queue</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FifoThroughputLimit</code> – Specifies whether the FIFO queue throughput \n      quota applies to the entire queue or per message group. Valid values are <code>perQueue</code> and <code>perMessageGroupId</code>. \n      The <code>perMessageGroupId</code> value is allowed only when the value for <code>DeduplicationScope</code> is <code>messageGroup</code>.</p>\n            </li>\n         </ul>\n         <p>To enable high throughput for FIFO queues, do the following:</p>\n         <ul>\n            <li>\n               <p>Set <code>DeduplicationScope</code> to <code>messageGroup</code>.</p>\n            </li>\n            <li>\n               <p>Set <code>FifoThroughputLimit</code> to <code>perMessageGroupId</code>.</p>\n            </li>\n         </ul>\n         <p>If you set these attributes to anything other than the values shown for enabling high\n  throughput, normal throughput is in effect and deduplication occurs as specified.</p>\n         <p>For information on throughput quotas, \n  see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/quotas-messages.html\">Quotas related to messages</a> \n  in the <i>Amazon SQS Developer Guide</i>.</p>",
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "Attribute"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sqs#CreateQueueResult": {
      "type": "structure",
      "members": {
        "QueueUrl": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the created Amazon SQS queue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the <code>QueueUrl</code> attribute of the created queue.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sqs#DeleteMessage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sqs#DeleteMessageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.sqs#InvalidIdFormat"
        },
        {
          "target": "com.amazonaws.sqs#ReceiptHandleIsInvalid"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified message from the specified queue. To select the message to\n            delete, use the <code>ReceiptHandle</code> of the message (<i>not</i> the\n                <code>MessageId</code> which you receive when you send the message). Amazon SQS can\n            delete a message from a queue even if a visibility timeout setting causes the message to\n            be locked by another consumer. Amazon SQS automatically deletes messages left in a queue\n            longer than the retention period configured for the queue. </p>\n         <note>\n            <p>The <code>ReceiptHandle</code> is associated with a <i>specific\n                    instance</i> of receiving a message. If you receive a message more than\n                once, the <code>ReceiptHandle</code> is different each time you receive a message.\n                When you use the <code>DeleteMessage</code> action, you must provide the most\n                recently received <code>ReceiptHandle</code> for the message (otherwise, the request\n                succeeds, but the message will not be deleted).</p>\n            <p>For standard queues, it is possible to receive a message even after you\n                delete it. This might happen on rare occasions if one of the servers which stores a\n                copy of the message is unavailable when you send the request to delete the message.\n                The copy remains on the server and might be returned to you during a subsequent\n                receive request. You should ensure that your application is idempotent, so that\n                receiving a message more than once does not cause issues.</p>\n         </note>"
      }
    },
    "com.amazonaws.sqs#DeleteMessageBatch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sqs#DeleteMessageBatchRequest"
      },
      "output": {
        "target": "com.amazonaws.sqs#DeleteMessageBatchResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.sqs#BatchEntryIdsNotDistinct"
        },
        {
          "target": "com.amazonaws.sqs#EmptyBatchRequest"
        },
        {
          "target": "com.amazonaws.sqs#InvalidBatchEntryId"
        },
        {
          "target": "com.amazonaws.sqs#TooManyEntriesInBatchRequest"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes up to ten messages from the specified queue. This is a batch version of\n                    <code>\n               <a>DeleteMessage</a>.</code> The result of the action on each\n            message is reported individually in the response.</p>\n         <important>\n            <p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</p>\n         </important>"
      }
    },
    "com.amazonaws.sqs#DeleteMessageBatchRequest": {
      "type": "structure",
      "members": {
        "QueueUrl": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon SQS queue from which messages are deleted.</p>\n         <p>Queue URLs and names are case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "Entries": {
          "target": "com.amazonaws.sqs#DeleteMessageBatchRequestEntryList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the receipt handles for the messages to be deleted.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "DeleteMessageBatchRequestEntry"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sqs#DeleteMessageBatchRequestEntry": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for this particular receipt handle. This is used to communicate the\n            result.</p>\n         <note>\n            <p>The <code>Id</code>s of a batch request need to be unique within a request.</p>\n            <p>This identifier can have up to 80 characters. The following characters are accepted: alphanumeric characters, hyphens(-), and underscores (_).</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "ReceiptHandle": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>A receipt handle.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encloses a receipt handle and an identifier for it.</p>"
      }
    },
    "com.amazonaws.sqs#DeleteMessageBatchRequestEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sqs#DeleteMessageBatchRequestEntry"
      }
    },
    "com.amazonaws.sqs#DeleteMessageBatchResult": {
      "type": "structure",
      "members": {
        "Successful": {
          "target": "com.amazonaws.sqs#DeleteMessageBatchResultEntryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>\n               <a>DeleteMessageBatchResultEntry</a>\n            </code> items.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "DeleteMessageBatchResultEntry"
          }
        },
        "Failed": {
          "target": "com.amazonaws.sqs#BatchResultErrorEntryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>\n               <a>BatchResultErrorEntry</a>\n            </code> items.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "BatchResultErrorEntry"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For each message in the batch, the response contains a <code>\n               <a>DeleteMessageBatchResultEntry</a>\n            </code> tag if the message is deleted\n            or a <code>\n               <a>BatchResultErrorEntry</a>\n            </code> tag if the message can't be\n            deleted.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.sqs#DeleteMessageBatchResultEntry": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>Represents a successfully deleted message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encloses the <code>Id</code> of an entry in <code>\n               <a>DeleteMessageBatch</a>.</code>\n         </p>"
      }
    },
    "com.amazonaws.sqs#DeleteMessageBatchResultEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sqs#DeleteMessageBatchResultEntry"
      }
    },
    "com.amazonaws.sqs#DeleteMessageRequest": {
      "type": "structure",
      "members": {
        "QueueUrl": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon SQS queue from which messages are deleted.</p>\n         <p>Queue URLs and names are case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "ReceiptHandle": {
          "target": "com.amazonaws.sqs#String",
          "traits": {
            "smithy.api#documentation": "<p>The receipt handle associated with the message to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.sqs#DeleteQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sqs#DeleteQueueRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
[...]
