{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.ssmguiconnect#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ssmguiconnect#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ssmguiconnect#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.ssmguiconnect#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(?=^.{3,63}$)(?!^(\\d+\\.)+\\d+$)(^(([a-z0-9]|[a-z0-9][a-z0-9\\-]*[a-z0-9])\\.)*([a-z0-9]|[a-z0-9][a-z0-9\\-]*[a-z0-9])$)"
      }
    },
    "com.amazonaws.ssmguiconnect#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.ssmguiconnect#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ssmguiconnect#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred due to a conflict.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.ssmguiconnect#Connection": {
      "type": "resource",
      "identifiers": {
        "ConnectionArn": {
          "target": "com.amazonaws.ssmguiconnect#ConnectionArn"
        }
      }
    },
    "com.amazonaws.ssmguiconnect#ConnectionAccess": {
      "type": "resource",
      "identifiers": {
        "ConnectionToken": {
          "target": "com.amazonaws.ssmguiconnect#ConnectionToken"
        }
      }
    },
    "com.amazonaws.ssmguiconnect#ConnectionArn": {
      "type": "string"
    },
    "com.amazonaws.ssmguiconnect#ConnectionPreferences": {
      "type": "resource",
      "identifiers": {
        "AccountId": {
          "target": "com.amazonaws.ssmguiconnect#AccountId"
        }
      }
    },
    "com.amazonaws.ssmguiconnect#ConnectionRecordingPreferences": {
      "type": "structure",
      "members": {
        "RecordingDestinations": {
          "target": "com.amazonaws.ssmguiconnect#RecordingDestinations",
          "traits": {
            "smithy.api#documentation": "<p>Determines where recordings of RDP connections are stored.</p>",
            "smithy.api#required": {}
          }
        },
        "KMSKeyArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a KMS key that is used to encrypt data while it is being processed by the service. This key must exist in the same Amazon Web Services Region as the node you start an RDP connection to.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The set of preferences used for recording RDP connections in the requesting Amazon Web Services account and Amazon Web Services Region. This includes details such as which S3 bucket recordings are stored in.</p>"
      }
    },
    "com.amazonaws.ssmguiconnect#ConnectionToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}_[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.ssmguiconnect#ConnectionsCollection": {
      "type": "resource",
      "identifiers": {
        "AccountId": {
          "target": "com.amazonaws.ssmguiconnect#AccountId"
        }
      }
    },
    "com.amazonaws.ssmguiconnect#DeleteConnectionRecordingPreferences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmguiconnect#DeleteConnectionRecordingPreferencesRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmguiconnect#DeleteConnectionRecordingPreferencesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmguiconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the preferences for recording RDP connections.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete the connection recording preferences for the account",
            "input": {},
            "output": {
              "ClientToken": "sample_uuid"
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/DeleteConnectionRecordingPreferences",
          "method": "POST"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "DeleteConnectionRecordingPreferencesSuccess",
            "params": {},
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.ssmguiconnect#DeleteConnectionRecordingPreferencesRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.ssmguiconnect#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>User-provided idempotency token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmguiconnect#DeleteConnectionRecordingPreferencesResponse": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.ssmguiconnect#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Service-provided idempotency token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmguiconnect#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.ssmguiconnect#GetConnectionRecordingPreferences": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.ssmguiconnect#GetConnectionRecordingPreferencesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmguiconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the preferences specified for recording RDP connections in the requesting Amazon Web Services account and Amazon Web Services Region.</p>",
        "smithy.api#examples": [
          {
            "title": "Retrieves the connection recording preferences for the account",
            "output": {
              "ConnectionRecordingPreferences": {
                "RecordingDestinations": {
                  "S3Buckets": [
                    {
                      "BucketOwner": "123456789012",
                      "BucketName": "sample-connection-recording-bucket"
                    }
                  ]
                },
                "KMSKeyArn": "arn:aws:kms:region:account_id:key/sample_key_id"
              },
              "ClientToken": "sample_uuid"
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/GetConnectionRecordingPreferences",
          "method": "POST"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetConnectionRecordingPreferencesSuccess",
            "params": {},
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.ssmguiconnect#GetConnectionRecordingPreferencesResponse": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.ssmguiconnect#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Service-provided idempotency token.</p>"
          }
        },
        "ConnectionRecordingPreferences": {
          "target": "com.amazonaws.ssmguiconnect#ConnectionRecordingPreferences",
          "traits": {
            "smithy.api#documentation": "<p>The set of preferences used for recording RDP connections in the requesting Amazon Web Services account and Amazon Web Services Region. This includes details such as which S3 bucket recordings are stored in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmguiconnect#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ssmguiconnect#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ssmguiconnect#ModifyConnectionPreferences": {
      "type": "resource"
    },
    "com.amazonaws.ssmguiconnect#ModifyRecordingPreferences": {
      "type": "resource",
      "read": {
        "target": "com.amazonaws.ssmguiconnect#GetConnectionRecordingPreferences"
      },
      "delete": {
        "target": "com.amazonaws.ssmguiconnect#DeleteConnectionRecordingPreferences"
      }
    },
    "com.amazonaws.ssmguiconnect#RecordingDestinations": {
      "type": "structure",
      "members": {
        "S3Buckets": {
          "target": "com.amazonaws.ssmguiconnect#S3Buckets",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket where RDP connection recordings are stored.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Determines where recordings of RDP connections are stored.</p>"
      }
    },
    "com.amazonaws.ssmguiconnect#RecordingPreferences": {
      "type": "resource",
      "identifiers": {
        "AccountId": {
          "target": "com.amazonaws.ssmguiconnect#AccountId"
        }
      },
      "create": {
        "target": "com.amazonaws.ssmguiconnect#UpdateConnectionRecordingPreferences"
      }
    },
    "com.amazonaws.ssmguiconnect#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ssmguiconnect#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource could not be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.ssmguiconnect#S3Bucket": {
      "type": "structure",
      "members": {
        "BucketOwner": {
          "target": "com.amazonaws.ssmguiconnect#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account number that owns the S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "BucketName": {
          "target": "com.amazonaws.ssmguiconnect#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the S3 bucket where RDP connection recordings are stored.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The S3 bucket where RDP connection recordings are stored.</p>"
      }
    },
    "com.amazonaws.ssmguiconnect#S3Buckets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmguiconnect#S3Bucket"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.ssmguiconnect#SSMGuiConnect": {
      "type": "service",
      "version": "2021-05-01",
      "resources": [
        {
          "target": "com.amazonaws.ssmguiconnect#Connection"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ConnectionAccess"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ConnectionPreferences"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ConnectionsCollection"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ModifyConnectionPreferences"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ModifyRecordingPreferences"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#RecordingPreferences"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.api#service": {
          "sdkId": "SSM GuiConnect",
          "arnNamespace": "ssm-guiconnect"
        },
        "aws.auth#sigv4": {
          "name": "ssm-guiconnect"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"],
          "maxAge": 86400
        },
        "smithy.api#documentation": "<fullname>AWS Systems Manager GUI Connect</fullname>\n         <p>Systems Manager GUI Connect, a component of Fleet Manager, lets you connect to your Window\n         Server-type Amazon Elastic Compute Cloud (Amazon EC2) instances using the Remote Desktop Protocol (RDP). GUI\n         Connect, which is powered by <a href=\"https://docs.aws.amazon.com/dcv/latest/adminguide/what-is-dcv.html\">Amazon DCV</a>, provides you\n         with secure connectivity to your Windows Server instances directly from the Systems Manager console.\n         You can have up to four simultaneous connections in a single browser window. In the\n         console, GUI Connect is also referred to as Fleet Manager Remote Desktop.</p>\n         <p>This reference is intended to be used with the <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/\">\n               <i>Amazon Web Services Systems Manager User\n            Guide</i>\n            </a>. To get started, see the following user guide topics:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-setting-up.html\">Setting up\n                     Amazon Web Services Systems Manager</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/fleet-rdp.html\">Connect to a Windows Server managed instance using Remote Desktop</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS SSM-GUIConnect",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://ssm-guiconnect-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://ssm-guiconnect-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://ssm-guiconnect.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ssm-guiconnect.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-guiconnect.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.ssmguiconnect#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ssmguiconnect#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request exceeds a service quota.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.ssmguiconnect#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ssmguiconnect#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to request throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.ssmguiconnect#UpdateConnectionRecordingPreferences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmguiconnect#UpdateConnectionRecordingPreferencesRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmguiconnect#UpdateConnectionRecordingPreferencesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmguiconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmguiconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the preferences for recording RDP connections.</p>",
        "smithy.api#examples": [
          {
            "title": "Updates the connection recording preferences for the account",
            "input": {
              "ConnectionRecordingPreferences": {
                "RecordingDestinations": {
                  "S3Buckets": [
                    {
                      "BucketOwner": "123456789012",
                      "BucketName": "sample-connection-recording-bucket"
                    }
                  ]
                },
                "KMSKeyArn": "arn:aws:kms:region:account_id:key/sample_key_id"
              }
            },
            "output": {
              "ConnectionRecordingPreferences": {
                "RecordingDestinations": {
                  "S3Buckets": [
                    {
                      "BucketOwner": "123456789012",
                      "BucketName": "sample-connection-recording-bucket"
                    }
                  ]
                },
                "KMSKeyArn": "arn:aws:kms:region:account_id:key/sample_key_id"
              },
              "ClientToken": "sample_uuid"
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/UpdateConnectionRecordingPreferences",
          "method": "POST"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "UpdateConnectionRecordingPreferencesSuccess",
            "params": {
              "ConnectionRecordingPreferences": {
                "RecordingDestinations": {
                  "S3Buckets": [
                    {
                      "BucketOwner": "111122223333",
                      "BucketName": "test-bucket"
                    }
                  ]
                },
                "KMSKeyArn": "arn:aws:kms:us-east-1:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab"
              }
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.ssmguiconnect#UpdateConnectionRecordingPreferencesRequest": {
      "type": "structure",
      "members": {
        "ConnectionRecordingPreferences": {
          "target": "com.amazonaws.ssmguiconnect#ConnectionRecordingPreferences",
          "traits": {
            "smithy.api#documentation": "<p>The set of preferences used for recording RDP connections in the requesting Amazon Web Services account and Amazon Web Services Region. This includes details such as which S3 bucket recordings are stored in.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.ssmguiconnect#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>User-provided idempotency token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmguiconnect#UpdateConnectionRecordingPreferencesResponse": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.ssmguiconnect#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Service-provided idempotency token.</p>"
          }
        },
        "ConnectionRecordingPreferences": {
          "target": "com.amazonaws.ssmguiconnect#ConnectionRecordingPreferences",
          "traits": {
            "smithy.api#documentation": "<p>The set of preferences used for recording RDP connections in the requesting Amazon Web Services account and Amazon Web Services Region. This includes details such as which S3 bucket recordings are stored in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmguiconnect#ValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ssmguiconnect#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
