{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ssmcontacts#AcceptCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 10
        },
        "smithy.api#pattern": "^[0-9]*$"
      }
    },
    "com.amazonaws.ssmcontacts#AcceptCodeValidation": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IGNORE",
            "name": "IGNORE"
          },
          {
            "value": "ENFORCE",
            "name": "ENFORCE"
          }
        ]
      }
    },
    "com.amazonaws.ssmcontacts#AcceptPage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#AcceptPageRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#AcceptPageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used to acknowledge an engagement to a contact channel during an incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#AcceptPageRequest": {
      "type": "structure",
      "members": {
        "PageId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact channel.</p>"
          }
        },
        "AcceptType": {
          "target": "com.amazonaws.ssmcontacts#AcceptType",
          "traits": {
            "smithy.api#documentation": "<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Note": {
          "target": "com.amazonaws.ssmcontacts#ReceiptInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information provided by the user when the user acknowledges the page.</p>"
          }
        },
        "AcceptCode": {
          "target": "com.amazonaws.ssmcontacts#AcceptCode",
          "traits": {
            "smithy.api#documentation": "<p>The accept code is a 6-digit code used to acknowledge the page.</p>",
            "smithy.api#required": {}
          }
        },
        "AcceptCodeValidation": {
          "target": "com.amazonaws.ssmcontacts#AcceptCodeValidation",
          "traits": {
            "smithy.api#documentation": "<p>An optional field that Incident Manager uses to <code>ENFORCE</code>\n            <code>AcceptCode</code> validation when acknowledging an page. Acknowledgement can occur by\n         replying to a page, or when entering the AcceptCode in the console. Enforcing AcceptCode\n         validation causes Incident Manager to verify that the code entered by the user matches the\n         code sent by Incident Manager with the page.</p>\n         <p>Incident Manager can also <code>IGNORE</code>\n            <code>AcceptCode</code> validation. Ignoring <code>AcceptCode</code> validation causes\n         Incident Manager to accept any value entered for the <code>AcceptCode</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#AcceptPageResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssmcontacts#AcceptType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DELIVERED",
            "name": "DELIVERED"
          },
          {
            "value": "READ",
            "name": "READ"
          }
        ]
      }
    },
    "com.amazonaws.ssmcontacts#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ssmcontacts#ActivateContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ActivateContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ActivateContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates a contact's contact channel. Incident Manager can't engage a contact until the\n         contact channel has been activated.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ActivateContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ActivationCode": {
          "target": "com.amazonaws.ssmcontacts#ActivationCode",
          "traits": {
            "smithy.api#documentation": "<p>The code sent to the contact channel when it was created in the contact. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ActivateContactChannelResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssmcontacts#ActivationCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 10
        },
        "smithy.api#pattern": "^[0-9]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ActivationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVATED",
            "name": "ACTIVATED"
          },
          {
            "value": "NOT_ACTIVATED",
            "name": "NOT_ACTIVATED"
          }
        ]
      }
    },
    "com.amazonaws.ssmcontacts#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.ssmcontacts#ChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.\\-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ChannelTargetInfo": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "RetryIntervalInMinutes": {
          "target": "com.amazonaws.ssmcontacts#RetryIntervalInMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes to wait to retry sending engagement in the case the engagement\n         initially fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the contact channel that Incident Manager uses to engage the\n         contact.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ChannelType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SMS",
            "name": "SMS"
          },
          {
            "value": "VOICE",
            "name": "VOICE"
          },
          {
            "value": "EMAIL",
            "name": "EMAIL"
          }
        ]
      }
    },
    "com.amazonaws.ssmcontacts#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource in use",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "ype of the resource in use",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.ssmcontacts#Contact": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        },
        "Alias": {
          "target": "com.amazonaws.ssmcontacts#ContactAlias",
          "traits": {
            "smithy.api#documentation": "<p>The unique and identifiable alias of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.ssmcontacts#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The full name of the contact or escalation plan.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>Refers to the type of contact. A single contact is type <code>PERSONAL</code> and an\n         escalation plan is type <code>ESCALATION</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A personal contact or escalation plan that Incident Manager engages during an\n         incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ContactAlias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-z0-9_\\-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ContactChannel": {
      "type": "structure",
      "members": {
        "ContactChannelArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact that contains the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssmcontacts#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the contact channel. Incident Manager supports three contact methods:</p>\n         <ul>\n            <li>\n               <p>SMS</p>\n            </li>\n            <li>\n               <p>VOICE</p>\n            </li>\n            <li>\n               <p>EMAIL</p>\n            </li>\n         </ul>"
          }
        },
        "DeliveryAddress": {
          "target": "com.amazonaws.ssmcontacts#ContactChannelAddress",
          "traits": {
            "smithy.api#documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ActivationStatus": {
          "target": "com.amazonaws.ssmcontacts#ActivationStatus",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value describing if the contact channel has been activated or not. If the\n         contact channel isn't activated, Incident Manager can't engage the contact through it. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The method that Incident Manager uses to engage a contact.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ContactChannelAddress": {
      "type": "structure",
      "members": {
        "SimpleAddress": {
          "target": "com.amazonaws.ssmcontacts#SimpleAddress",
          "traits": {
            "smithy.api#documentation": "<p>The format is dependent on the type of the contact channel. The following are the\n         expected formats:</p>\n         <ul>\n            <li>\n               <p>SMS - '+' followed by the country code and phone number</p>\n            </li>\n            <li>\n               <p>VOICE - '+' followed by the country code and phone number</p>\n            </li>\n            <li>\n               <p>EMAIL - any standard email format</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel. </p>"
      }
    },
    "com.amazonaws.ssmcontacts#ContactChannelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#ContactChannel"
      }
    },
    "com.amazonaws.ssmcontacts#ContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.\\-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ContactTargetInfo": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact.</p>"
          }
        },
        "IsEssential": {
          "target": "com.amazonaws.ssmcontacts#IsEssential",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value determining if the contact's acknowledgement stops the progress of\n         stages in the plan.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The contact that Incident Manager is engaging during an incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ContactType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PERSONAL",
            "name": "PERSONAL"
          },
          {
            "value": "ESCALATION",
            "name": "ESCALATION"
          }
        ]
      }
    },
    "com.amazonaws.ssmcontacts#ContactsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#Contact"
      }
    },
    "com.amazonaws.ssmcontacts#Content": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8192
        },
        "smithy.api#pattern": "^[.\\s\\S]*$"
      }
    },
    "com.amazonaws.ssmcontacts#CreateContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#CreateContactRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#CreateContactResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Contacts are either the contacts that Incident Manager engages during an incident or the\n         escalation plans that Incident Manager uses to engage contacts in phases during an\n         incident. </p>"
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#CreateContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#CreateContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A contact channel is the method that Incident Manager uses to engage your contact.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact you are adding the contact channel to.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssmcontacts#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>Incident Manager supports three types of contact channels:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SMS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>VOICE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>EMAIL</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "DeliveryAddress": {
          "target": "com.amazonaws.ssmcontacts#ContactChannelAddress",
          "traits": {
            "smithy.api#documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel. The format\n         is dependent on the type of the contact channel. The following are the expected\n         formats:</p>\n         <ul>\n            <li>\n               <p>SMS - '+' followed by the country code and phone number</p>\n            </li>\n            <li>\n               <p>VOICE - '+' followed by the country code and phone number</p>\n            </li>\n            <li>\n               <p>EMAIL - any standard email format</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "DeferActivation": {
          "target": "com.amazonaws.ssmcontacts#DeferActivation",
          "traits": {
            "smithy.api#documentation": "<p>If you want to activate the channel at a later time, you can choose to defer activation.\n         Incident Manager can't engage your contact channel until it has been activated.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.ssmcontacts#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A token ensuring that the operation is called only once with the specified\n         details.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactChannelResult": {
      "type": "structure",
      "members": {
        "ContactChannelArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactRequest": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.ssmcontacts#ContactAlias",
          "traits": {
            "smithy.api#documentation": "<p>The short name to quickly identify a contact or escalation plan. The contact alias must\n         be unique and identifiable. </p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.ssmcontacts#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The full name of the contact or escalation plan.  </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>To create an escalation plan use <code>ESCALATION</code>. To create a contact use\n            <code>PERSONAL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Plan": {
          "target": "com.amazonaws.ssmcontacts#Plan",
          "traits": {
            "smithy.api#documentation": "<p>A list of stages. A contact has an engagement plan with stages that contact specified\n         contact channels. An escalation plan uses stages that contact specified contacts. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssmcontacts#TagsList",
          "traits": {
            "smithy.api#documentation": "<p>Adds a tag to the target. You can only tag resources created in the first Region of your\n         replication set. </p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.ssmcontacts#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A token ensuring that the operation is called only once with the specified\n         details.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#DataEncryptionException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed to due an encryption key error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssmcontacts#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.ssmcontacts#DeactivateContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DeactivateContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DeactivateContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To no longer receive Incident Manager engagements to a contact channel, you can deactivate\n         the channel.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DeactivateContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel you're deactivating.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#DeactivateContactChannelResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssmcontacts#DeferActivation": {
      "type": "boolean"
    },
    "com.amazonaws.ssmcontacts#DeleteContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DeleteContactRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DeleteContactResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To remove a contact from Incident Manager, you can delete the contact. Deleting a contact\n         removes them from all escalation plans and related response plans. Deleting an escalation\n         plan removes it from all related response plans. You will have to recreate the contact and\n         its contact channels before you can use it again.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DeleteContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DeleteContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DeleteContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To no longer receive engagements on a contact channel, you can delete the channel from a\n         contact. Deleting the contact channel removes it from the contact's engagement plan. If you\n         delete the only contact channel for a contact, you won't be able to engage that contact\n         during an incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DeleteContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#DeleteContactChannelResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssmcontacts#DeleteContactRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact that you're deleting.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#DeleteContactResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssmcontacts#DescribeEngagement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DescribeEngagementRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DescribeEngagementResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Incident Manager uses engagements to engage contacts and escalation plans during an incident.\n         Use this command to describe the engagement that occurred during an incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DescribeEngagementRequest": {
      "type": "structure",
      "members": {
        "EngagementId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement you want the details of.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#DescribeEngagementResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the escalation plan or contacts involved in the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "EngagementArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "Sender": {
          "target": "com.amazonaws.ssmcontacts#Sender",
          "traits": {
            "smithy.api#documentation": "<p>The user that started the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "Subject": {
          "target": "com.amazonaws.ssmcontacts#Subject",
          "traits": {
            "smithy.api#documentation": "<p>The secure subject of the message that was sent to the contact. Use this field for\n         engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.ssmcontacts#Content",
          "traits": {
            "smithy.api#documentation": "<p>The secure content of the message that was sent to the contact. Use this field for\n         engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "PublicSubject": {
          "target": "com.amazonaws.ssmcontacts#PublicSubject",
          "traits": {
            "smithy.api#documentation": "<p>The insecure subject of the message that was sent to the contact. Use this field for\n         engagements to <code>SMS</code>.</p>"
          }
        },
        "PublicContent": {
          "target": "com.amazonaws.ssmcontacts#PublicContent",
          "traits": {
            "smithy.api#documentation": "<p>The insecure content of the message that was sent to the contact. Use this field for\n         engagements to <code>SMS</code>.</p>"
          }
        },
        "IncidentId": {
          "target": "com.amazonaws.ssmcontacts#IncidentId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the incident in which the engagement occurred.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the engagement started.</p>"
          }
        },
        "StopTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the engagement ended.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#DescribePage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DescribePageRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DescribePageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists details of the engagement to a contact channel.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DescribePageRequest": {
      "type": "structure",
      "members": {
        "PageId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the engagement to a contact channel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#DescribePageResult": {
      "type": "structure",
      "members": {
        "PageArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "EngagementArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the engagement that engaged the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact that was engaged.</p>",
            "smithy.api#required": {}
          }
        },
        "Sender": {
          "target": "com.amazonaws.ssmcontacts#Sender",
          "traits": {
            "smithy.api#documentation": "<p>The user that started the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "Subject": {
          "target": "com.amazonaws.ssmcontacts#Subject",
          "traits": {
            "smithy.api#documentation": "<p>The secure subject of the message that was sent to the contact. Use this field for\n         engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.ssmcontacts#Content",
          "traits": {
            "smithy.api#documentation": "<p>The secure content of the message that was sent to the contact. Use this field for\n         engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "PublicSubject": {
          "target": "com.amazonaws.ssmcontacts#PublicSubject",
          "traits": {
            "smithy.api#documentation": "<p>The insecure subject of the message that was sent to the contact. Use this field for\n         engagements to <code>SMS</code>.</p>"
          }
        },
        "PublicContent": {
          "target": "com.amazonaws.ssmcontacts#PublicContent",
          "traits": {
            "smithy.api#documentation": "<p>The insecure content of the message that was sent to the contact. Use this field for\n         engagements to <code>SMS</code>.</p>"
          }
        },
        "IncidentId": {
          "target": "com.amazonaws.ssmcontacts#IncidentId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the incident that engaged the contact channel.</p>"
          }
        },
        "SentTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the engagement was sent to the contact channel.</p>"
          }
        },
        "ReadTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the contact channel acknowledged the engagement.</p>"
          }
        },
        "DeliveryTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the contact channel received the engagement.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#Engagement": {
      "type": "structure",
      "members": {
        "EngagementArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the escalation plan or contact that Incident Manager is engaging.</p>",
            "smithy.api#required": {}
          }
        },
        "Sender": {
          "target": "com.amazonaws.ssmcontacts#Sender",
          "traits": {
            "smithy.api#documentation": "<p>The user that started the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "IncidentId": {
          "target": "com.amazonaws.ssmcontacts#IncidentId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the incident that's engaging the contact.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the engagement began.</p>"
          }
        },
        "StopTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the engagement ended.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Incident Manager reaching out to a contact or escalation plan to engage contact during an\n         incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#EngagementsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#Engagement"
      }
    },
    "com.amazonaws.ssmcontacts#GetContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#GetContactRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#GetContactResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the specified contact or escalation plan.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#GetContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#GetContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#GetContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List details about a specific contact channel.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#GetContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#GetContactChannelResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact that the channel belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactChannelArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssmcontacts#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact channel</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>The type of contact channel. The type is <code>SMS</code>, <code>VOICE</code>, or\n            <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryAddress": {
          "target": "com.amazonaws.ssmcontacts#ContactChannelAddress",
          "traits": {
            "smithy.api#documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel. </p>",
            "smithy.api#required": {}
          }
        },
        "ActivationStatus": {
          "target": "com.amazonaws.ssmcontacts#ActivationStatus",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating if the contact channel has been activated or not.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#GetContactPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#GetContactPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#GetContactPolicyResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the resource policies attached to the specified contact or escalation\n         plan.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#GetContactPolicyRequest": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#GetContactPolicyResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact or escalation plan.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.ssmcontacts#Policy",
          "traits": {
            "smithy.api#documentation": "<p>Details about the resource policy attached to the contact or escalation plan.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#GetContactRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#GetContactResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        },
        "Alias": {
          "target": "com.amazonaws.ssmcontacts#ContactAlias",
          "traits": {
            "smithy.api#documentation": "<p>The alias of the contact or escalation plan. The alias is unique and\n         identifiable.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.ssmcontacts#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The full name of the contact or escalation plan.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>The type of contact, either <code>PERSONAL</code> or <code>ESCALATION</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "Plan": {
          "target": "com.amazonaws.ssmcontacts#Plan",
          "traits": {
            "smithy.api#documentation": "<p>Details about the specific timing or stages and targets of the escalation plan or\n         engagement plan.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\\\\\/a-zA-Z0-9_+=\\-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#IncidentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\\\a-zA-Z0-9_@#%*+=:?.\\/!\\s-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RetryAfterSeconds": {
          "target": "com.amazonaws.ssmcontacts#RetryAfterSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Advice to clients on when the call can be safely retried",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error occurred while\n         processing the request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ssmcontacts#IsEssential": {
      "type": "boolean"
    },
    "com.amazonaws.ssmcontacts#ListContactChannels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListContactChannelsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListContactChannelsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all contact channels for the specified contact.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ContactChannels",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListContactChannelsRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact. </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of contact channels per page.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListContactChannelsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "ContactChannels": {
          "target": "com.amazonaws.ssmcontacts#ContactChannelList",
          "traits": {
            "smithy.api#documentation": "<p>A list of contact channels related to the specified contact.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListContacts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListContactsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListContactsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all contacts and escalation plans in Incident Manager.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Contacts",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListContactsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of contacts and escalation plans per page of results.</p>"
          }
        },
        "AliasPrefix": {
          "target": "com.amazonaws.ssmcontacts#ContactAlias",
          "traits": {
            "smithy.api#documentation": "<p>Used to list only contacts who's aliases start with the specified prefix.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>The type of contact. A contact is type <code>PERSONAL</code> and an escalation plan is\n         type <code>ESCALATION</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListContactsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Contacts": {
          "target": "com.amazonaws.ssmcontacts#ContactsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the contacts and escalation plans in your Incident Manager account.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListEngagements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListEngagementsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListEngagementsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all engagements that have happened in an incident.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Engagements",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListEngagementsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of engagements per page of results.</p>"
          }
        },
        "IncidentId": {
          "target": "com.amazonaws.ssmcontacts#IncidentId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident you're listing engagements for.</p>"
          }
        },
        "TimeRangeValue": {
          "target": "com.amazonaws.ssmcontacts#TimeRange",
          "traits": {
            "smithy.api#documentation": "<p>The time range to lists engagements for an incident.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListEngagementsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Engagements": {
          "target": "com.amazonaws.ssmcontacts#EngagementsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of each engagement that occurred during the specified time range of an\n         incident.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPageReceipts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListPageReceiptsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListPageReceiptsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the engagements to contact channels that have been acknowledged. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Receipts",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPageReceiptsRequest": {
      "type": "structure",
      "members": {
        "PageId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement to a specific contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of acknowledgements per page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPageReceiptsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Receipts": {
          "target": "com.amazonaws.ssmcontacts#ReceiptsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of each acknowledgement.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListPagesByContactRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListPagesByContactResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the engagements to a contact's contact channels.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Pages",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByContactRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact you are retrieving engagements for.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of engagements to contact channels to list per page of results. </p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByContactResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Pages": {
          "target": "com.amazonaws.ssmcontacts#PagesList",
          "traits": {
            "smithy.api#documentation": "<p>The list of engagements to a contact's contact channel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByEngagement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListPagesByEngagementRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListPagesByEngagementResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the engagements to contact channels that occurred by engaging a contact.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Pages",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByEngagementRequest": {
      "type": "structure",
      "members": {
        "EngagementId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of engagements to contact channels to list per page of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByEngagementResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Pages": {
          "target": "com.amazonaws.ssmcontacts#PagesList",
          "traits": {
            "smithy.api#documentation": "<p>The list of engagements to contact channels.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListTagsForResourceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags of an escalation plan or contact.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.ssmcontacts#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListTagsForResourceResult": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.ssmcontacts#TagsList",
          "traits": {
            "smithy.api#documentation": "<p>The tags related to the contact or escalation plan.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.ssmcontacts#Page": {
      "type": "structure",
      "members": {
        "PageArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the page to the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "EngagementArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the engagement that this page is part of.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact that Incident Manager is engaging.</p>",
            "smithy.api#required": {}
          }
        },
        "Sender": {
          "target": "com.amazonaws.ssmcontacts#Sender",
          "traits": {
            "smithy.api#documentation": "<p>The user that started the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "IncidentId": {
          "target": "com.amazonaws.ssmcontacts#IncidentId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the incident that's engaging the contact channel.</p>"
          }
        },
        "SentTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that Incident Manager engaged the contact channel.</p>"
          }
        },
        "DeliveryTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the message was delivered to the contact channel.</p>"
          }
        },
        "ReadTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the contact channel acknowledged engagement.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Incident Manager engaging a contact's contact channel.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#PagesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#Page"
      }
    },
    "com.amazonaws.ssmcontacts#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\\\\\/a-zA-Z0-9_+=\\-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#Plan": {
      "type": "structure",
      "members": {
        "Stages": {
          "target": "com.amazonaws.ssmcontacts#StagesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of stages that the escalation plan or engagement plan uses to engage contacts and\n         contact methods.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The stages that an escalation plan or engagement plan engages contacts and contact\n         methods in.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#Policy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 395000
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.ssmcontacts#PublicContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8192
        },
        "smithy.api#pattern": "^[.\\s\\S]*$"
      }
    },
    "com.amazonaws.ssmcontacts#PublicSubject": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[.\\s\\S]*$"
      }
    },
    "com.amazonaws.ssmcontacts#PutContactPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#PutContactPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#PutContactPolicyResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a resource policy to the specified contact or escalation plan. The resource policy\n         is used to share the contact or escalation plan using Resource Access Manager (RAM). For more information about cross-account sharing, see <a href=\"https://docs.aws.amazon.com/incident-manager/latest/userguide/xa.html\">Setting up\n            cross-account functionality</a>.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#PutContactPolicyRequest": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        },
        "Policy": {
          "target": "com.amazonaws.ssmcontacts#Policy",
          "traits": {
            "smithy.api#documentation": "<p>Details of the resource policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#PutContactPolicyResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssmcontacts#Receipt": {
      "type": "structure",
      "members": {
        "ContactChannelArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel Incident Manager engaged.</p>"
          }
        },
        "ReceiptType": {
          "target": "com.amazonaws.ssmcontacts#ReceiptType",
          "traits": {
            "smithy.api#documentation": "<p>The type follows the engagement cycle, <code>SENT</code>, <code>DELIVERED</code>, and\n            <code>READ</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ReceiptInfo": {
          "target": "com.amazonaws.ssmcontacts#ReceiptInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information provided during the page acknowledgement.</p>"
          }
        },
        "ReceiptTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time receipt was <code>SENT</code>, <code>DELIVERED</code>, or\n         <code>READ</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Records events during an engagement.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ReceiptInfo": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[.\\s\\S]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ReceiptType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DELIVERED",
            "name": "DELIVERED"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "READ",
            "name": "READ"
          },
          {
            "value": "SENT",
            "name": "SENT"
          },
          {
            "value": "STOP",
            "name": "STOP"
          }
        ]
      }
    },
    "com.amazonaws.ssmcontacts#ReceiptsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#Receipt"
      }
    },
    "com.amazonaws.ssmcontacts#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "Hypothetical resource identifier that was not found",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "Hypothetical resource type that was not found",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request references a resource that doesn't exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.ssmcontacts#RetryAfterSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.ssmcontacts#RetryIntervalInMinutes": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 60
        }
      }
    },
    "com.amazonaws.ssmcontacts#SSMContacts": {
      "type": "service",
      "version": "2021-05-03",
      "operations": [
        {
          "target": "com.amazonaws.ssmcontacts#AcceptPage"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ActivateContactChannel"
        },
        {
          "target": "com.amazonaws.ssmcontacts#CreateContact"
        },
        {
          "target": "com.amazonaws.ssmcontacts#CreateContactChannel"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DeactivateContactChannel"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DeleteContact"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DeleteContactChannel"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DescribeEngagement"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DescribePage"
        },
        {
          "target": "com.amazonaws.ssmcontacts#GetContact"
        },
        {
          "target": "com.amazonaws.ssmcontacts#GetContactChannel"
        },
        {
          "target": "com.amazonaws.ssmcontacts#GetContactPolicy"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ListContactChannels"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ListContacts"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ListEngagements"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ListPageReceipts"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ListPagesByContact"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ListPagesByEngagement"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.ssmcontacts#PutContactPolicy"
        },
        {
          "target": "com.amazonaws.ssmcontacts#SendActivationCode"
        },
        {
          "target": "com.amazonaws.ssmcontacts#StartEngagement"
        },
        {
          "target": "com.amazonaws.ssmcontacts#StopEngagement"
        },
        {
          "target": "com.amazonaws.ssmcontacts#TagResource"
        },
        {
          "target": "com.amazonaws.ssmcontacts#UntagResource"
        },
        {
          "target": "com.amazonaws.ssmcontacts#UpdateContact"
        },
        {
          "target": "com.amazonaws.ssmcontacts#UpdateContactChannel"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SSM Contacts",
          "arnNamespace": "ssm-contacts",
          "cloudFormationName": "SSMContacts",
          "cloudTrailEventSource": "ssmcontacts.amazonaws.com",
          "endpointPrefix": "ssm-contacts"
        },
        "aws.auth#sigv4": {
          "name": "ssm-contacts"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Systems Manager Incident Manager is an incident management console designed to help users\n         mitigate and recover from incidents affecting their Amazon Web Services-hosted applications.\n         An incident is any unplanned interruption or reduction in quality of services. </p>\n         <p>Incident Manager increases incident resolution by notifying responders of impact,\n         highlighting relevant troubleshooting data, and providing collaboration tools to get\n         services back up and running. To achieve the primary goal of reducing the\n         time-to-resolution of critical incidents, Incident Manager automates response plans\n         and enables responder team escalation. </p>",
        "smithy.api#title": "AWS Systems Manager Incident Manager Contacts",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://ssm-contacts-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://ssm-contacts-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://ssm-contacts.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://ssm-contacts.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.ssmcontacts#SendActivationCode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#SendActivationCodeRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#SendActivationCodeResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends an activation code to a contact channel. The contact can use this code to activate\n         the contact channel in the console or with the <code>ActivateChannel</code> operation.\n         Incident Manager can't engage a contact channel until it has been activated.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#SendActivationCodeRequest": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#SendActivationCodeResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssmcontacts#Sender": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\\\a-zA-Z0-9_@#%*+=:?.\\/!\\s-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource affected"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource affected"
          }
        },
        "QuotaCode": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "Service Quotas requirement to identify originating service",
            "smithy.api#required": {}
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "Service Quotas requirement to identify originating quota",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request would cause a service quota to be exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.ssmcontacts#SimpleAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 320
        }
      }
    },
    "com.amazonaws.ssmcontacts#SsmContactsArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov):ssm-contacts:[-\\w+=\\/,.@]*:[0-9]+:([\\w+=\\/,.@:-]+)*$"
      }
    },
    "com.amazonaws.ssmcontacts#Stage": {
      "type": "structure",
      "members": {
        "DurationInMinutes": {
          "target": "com.amazonaws.ssmcontacts#StageDurationInMins",
          "traits": {
            "smithy.api#documentation": "<p>The time to wait until beginning the next stage. The duration can only be set to 0 if a\n         target is specified.</p>",
            "smithy.api#required": {}
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssmcontacts#TargetsList",
          "traits": {
            "smithy.api#documentation": "<p>The contacts or contact methods that the escalation plan or engagement plan is\n         engaging.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set amount of time that an escalation plan or engagement plan engages the specified\n         contacts or contact methods.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#StageDurationInMins": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.ssmcontacts#StagesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#Stage"
      }
    },
[...]
