{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ssmcontacts#AcceptCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 10
        },
        "smithy.api#pattern": "^[0-9]*$"
      }
    },
    "com.amazonaws.ssmcontacts#AcceptCodeValidation": {
      "type": "enum",
      "members": {
        "IGNORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORE"
          }
        },
        "ENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCE"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#AcceptPage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#AcceptPageRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#AcceptPageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used to acknowledge an engagement to a contact channel during an incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#AcceptPageRequest": {
      "type": "structure",
      "members": {
        "PageId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact channel.</p>"
          }
        },
        "AcceptType": {
          "target": "com.amazonaws.ssmcontacts#AcceptType",
          "traits": {
            "smithy.api#documentation": "<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Note": {
          "target": "com.amazonaws.ssmcontacts#ReceiptInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information provided by the user when the user acknowledges the page.</p>"
          }
        },
        "AcceptCode": {
          "target": "com.amazonaws.ssmcontacts#AcceptCode",
          "traits": {
            "smithy.api#documentation": "<p>A 6-digit code used to acknowledge the page.</p>",
            "smithy.api#required": {}
          }
        },
        "AcceptCodeValidation": {
          "target": "com.amazonaws.ssmcontacts#AcceptCodeValidation",
          "traits": {
            "smithy.api#documentation": "<p>An optional field that Incident Manager uses to <code>ENFORCE</code>\n            <code>AcceptCode</code> validation when acknowledging an page. Acknowledgement can occur by\n         replying to a page, or when entering the AcceptCode in the console. Enforcing AcceptCode\n         validation causes Incident Manager to verify that the code entered by the user matches the\n         code sent by Incident Manager with the page.</p>\n         <p>Incident Manager can also <code>IGNORE</code>\n            <code>AcceptCode</code> validation. Ignoring <code>AcceptCode</code> validation causes\n         Incident Manager to accept any value entered for the <code>AcceptCode</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#AcceptPageResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#AcceptType": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ssmcontacts#ActivateContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ActivateContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ActivateContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates a contact's contact channel. Incident Manager can't engage a contact until the\n         contact channel has been activated.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ActivateContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ActivationCode": {
          "target": "com.amazonaws.ssmcontacts#ActivationCode",
          "traits": {
            "smithy.api#documentation": "<p>The code sent to the contact channel when it was created in the contact.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#ActivateContactChannelResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#ActivationCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 10
        },
        "smithy.api#pattern": "^[0-9]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ActivationStatus": {
      "type": "enum",
      "members": {
        "ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATED"
          }
        },
        "NOT_ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ACTIVATED"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.ssmcontacts#ChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.\\-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ChannelTargetInfo": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "RetryIntervalInMinutes": {
          "target": "com.amazonaws.ssmcontacts#RetryIntervalInMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes to wait to retry sending engagement in the case the engagement\n         initially fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the contact channel that Incident Manager uses to engage the\n         contact.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ChannelType": {
      "type": "enum",
      "members": {
        "SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMS"
          }
        },
        "VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource in use",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource in use",
            "smithy.api#required": {}
          }
        },
        "DependentEntities": {
          "target": "com.amazonaws.ssmcontacts#DependentEntityList",
          "traits": {
            "smithy.api#documentation": "List of dependent entities containing information on relation type and resourceArns linked to the resource in use"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.ssmcontacts#Contact": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        },
        "Alias": {
          "target": "com.amazonaws.ssmcontacts#ContactAlias",
          "traits": {
            "smithy.api#documentation": "<p>The unique and identifiable alias of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.ssmcontacts#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The full name of the contact or escalation plan.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>Refers to the type of contact. A single contact is type <code>PERSONAL</code> and an\n         escalation plan is type <code>ESCALATION</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A personal contact or escalation plan that Incident Manager engages during an\n         incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ContactAlias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-z0-9_\\-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ContactChannel": {
      "type": "structure",
      "members": {
        "ContactChannelArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact that contains the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssmcontacts#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the contact channel. Incident Manager supports three contact methods:</p>\n         <ul>\n            <li>\n               <p>SMS</p>\n            </li>\n            <li>\n               <p>VOICE</p>\n            </li>\n            <li>\n               <p>EMAIL</p>\n            </li>\n         </ul>"
          }
        },
        "DeliveryAddress": {
          "target": "com.amazonaws.ssmcontacts#ContactChannelAddress",
          "traits": {
            "smithy.api#documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ActivationStatus": {
          "target": "com.amazonaws.ssmcontacts#ActivationStatus",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value describing if the contact channel has been activated or not. If the\n         contact channel isn't activated, Incident Manager can't engage the contact through it.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The method that Incident Manager uses to engage a contact.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ContactChannelAddress": {
      "type": "structure",
      "members": {
        "SimpleAddress": {
          "target": "com.amazonaws.ssmcontacts#SimpleAddress",
          "traits": {
            "smithy.api#documentation": "<p>The format is dependent on the type of the contact channel. The following are the\n         expected formats:</p>\n         <ul>\n            <li>\n               <p>SMS - '+' followed by the country code and phone number</p>\n            </li>\n            <li>\n               <p>VOICE - '+' followed by the country code and phone number</p>\n            </li>\n            <li>\n               <p>EMAIL - any standard email format</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ContactChannelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#ContactChannel"
      }
    },
    "com.amazonaws.ssmcontacts#ContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.\\-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#ContactTargetInfo": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact.</p>"
          }
        },
        "IsEssential": {
          "target": "com.amazonaws.ssmcontacts#IsEssential",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value determining if the contact's acknowledgement stops the progress of\n         stages in the plan.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The contact that Incident Manager is engaging during an incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#ContactType": {
      "type": "enum",
      "members": {
        "PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONAL"
          }
        },
        "ESCALATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESCALATION"
          }
        },
        "ONCALL_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONCALL_SCHEDULE"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#ContactsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#Contact"
      }
    },
    "com.amazonaws.ssmcontacts#Content": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8192
        },
        "smithy.api#pattern": "^[.\\s\\S]*$"
      }
    },
    "com.amazonaws.ssmcontacts#CoverageTime": {
      "type": "structure",
      "members": {
        "Start": {
          "target": "com.amazonaws.ssmcontacts#HandOffTime",
          "traits": {
            "smithy.api#documentation": "<p>Information about when the on-call rotation shift begins.</p>"
          }
        },
        "End": {
          "target": "com.amazonaws.ssmcontacts#HandOffTime",
          "traits": {
            "smithy.api#documentation": "<p>Information about when the on-call rotation shift ends.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about when an on-call shift begins and ends.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#CoverageTimes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#CoverageTime"
      }
    },
    "com.amazonaws.ssmcontacts#CreateContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#CreateContactRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#CreateContactResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Contacts are either the contacts that Incident Manager engages during an incident or the\n         escalation plans that Incident Manager uses to engage contacts in phases during an\n         incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#CreateContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#CreateContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A contact channel is the method that Incident Manager uses to engage your contact.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact you are adding the contact channel\n         to.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssmcontacts#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>Incident Manager supports three types of contact channels:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SMS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>VOICE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>EMAIL</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "DeliveryAddress": {
          "target": "com.amazonaws.ssmcontacts#ContactChannelAddress",
          "traits": {
            "smithy.api#documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel. The format\n         is dependent on the type of the contact channel. The following are the expected\n         formats:</p>\n         <ul>\n            <li>\n               <p>SMS - '+' followed by the country code and phone number</p>\n            </li>\n            <li>\n               <p>VOICE - '+' followed by the country code and phone number</p>\n            </li>\n            <li>\n               <p>EMAIL - any standard email format</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "DeferActivation": {
          "target": "com.amazonaws.ssmcontacts#DeferActivation",
          "traits": {
            "smithy.api#documentation": "<p>If you want to activate the channel at a later time, you can choose to defer activation.\n         Incident Manager can't engage your contact channel until it has been activated.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.ssmcontacts#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A token ensuring that the operation is called only once with the specified\n         details.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactChannelResult": {
      "type": "structure",
      "members": {
        "ContactChannelArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactRequest": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.ssmcontacts#ContactAlias",
          "traits": {
            "smithy.api#documentation": "<p>The short name to quickly identify a contact or escalation plan. The contact alias must\n         be unique and identifiable.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.ssmcontacts#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The full name of the contact or escalation plan.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>To create an escalation plan use <code>ESCALATION</code>. To create a contact use\n            <code>PERSONAL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Plan": {
          "target": "com.amazonaws.ssmcontacts#Plan",
          "traits": {
            "smithy.api#documentation": "<p>A list of stages. A contact has an engagement plan with stages that contact specified\n         contact channels. An escalation plan uses stages that contact specified contacts.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssmcontacts#TagsList",
          "traits": {
            "smithy.api#documentation": "<p>Adds a tag to the target. You can only tag resources created in the first Region of your\n         replication set.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.ssmcontacts#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A token ensuring that the operation is called only once with the specified\n         details.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#CreateContactResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#CreateRotation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#CreateRotationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#CreateRotationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a rotation in an on-call schedule.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#CreateRotationOverride": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#CreateRotationOverrideRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#CreateRotationOverrideResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an override for a rotation in an on-call schedule.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#CreateRotationOverrideRequest": {
      "type": "structure",
      "members": {
        "RotationId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rotation to create an override for.</p>",
            "smithy.api#required": {}
          }
        },
        "NewContactIds": {
          "target": "com.amazonaws.ssmcontacts#RotationOverrideContactsArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the contacts to replace those in the current on-call\n         rotation with.</p>\n         <p>If you want to include any current team members in the override shift, you must include\n         their ARNs in the new contact ID list.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the override goes into effect.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the override ends.</p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.ssmcontacts#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures that the operation is called only once with the specified\n         details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#CreateRotationOverrideResult": {
      "type": "structure",
      "members": {
        "RotationOverrideId": {
          "target": "com.amazonaws.ssmcontacts#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created rotation override.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#CreateRotationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssmcontacts#RotationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rotation.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactIds": {
          "target": "com.amazonaws.ssmcontacts#RotationContactsArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the contacts to add to the rotation.</p>\n         <p>The order that you list the contacts in is their shift order in the rotation schedule.\n         To change the order of the contact's shifts, use the <a>UpdateRotation</a>\n         operation.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the rotation goes into effect.</p>"
          }
        },
        "TimeZoneId": {
          "target": "com.amazonaws.ssmcontacts#TimeZoneId",
          "traits": {
            "smithy.api#documentation": "<p>The time zone to base the rotation’s activity on in Internet Assigned Numbers Authority\n         (IANA) format. For example: \"America/Los_Angeles\", \"UTC\", or \"Asia/Seoul\". For more\n         information, see the <a href=\"https://www.iana.org/time-zones\">Time Zone\n            Database</a> on the IANA website.</p>\n         <note>\n            <p>Designators for time zones that don’t support Daylight Savings Time rules, such as\n            Pacific Standard Time (PST) and Pacific Daylight Time (PDT), are not supported.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Recurrence": {
          "target": "com.amazonaws.ssmcontacts#RecurrenceSettings",
          "traits": {
            "smithy.api#documentation": "<p>Information about the rule that specifies when a shift's team members rotate.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssmcontacts#TagsList",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata to assign to the rotation. Tags enable you to categorize a resource in\n         different ways, such as by purpose, owner, or environment. For more information, see <a href=\"https://docs.aws.amazon.com/incident-manager/latest/userguide/tagging.html\">Tagging\n            Incident Manager resources</a> in the <i>Incident Manager User\n            Guide</i>.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.ssmcontacts#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures that the operation is called only once with the specified\n         details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#CreateRotationResult": {
      "type": "structure",
      "members": {
        "RotationArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created rotation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#DailySettings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#HandOffTime"
      }
    },
    "com.amazonaws.ssmcontacts#DataEncryptionException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed to due an encryption key error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssmcontacts#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.ssmcontacts#DayOfMonth": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 31
        }
      }
    },
    "com.amazonaws.ssmcontacts#DayOfWeek": {
      "type": "enum",
      "members": {
        "MON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MON"
          }
        },
        "TUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUE"
          }
        },
        "WED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WED"
          }
        },
        "THU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THU"
          }
        },
        "FRI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRI"
          }
        },
        "SAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAT"
          }
        },
        "SUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUN"
          }
        }
      }
    },
    "com.amazonaws.ssmcontacts#DeactivateContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DeactivateContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DeactivateContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To no longer receive Incident Manager engagements to a contact channel, you can deactivate\n         the channel.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DeactivateContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel you're deactivating.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#DeactivateContactChannelResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#DeferActivation": {
      "type": "boolean"
    },
    "com.amazonaws.ssmcontacts#DeleteContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DeleteContactRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DeleteContactResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To remove a contact from Incident Manager, you can delete the contact. Deleting a contact\n         removes them from all escalation plans and related response plans. Deleting an escalation\n         plan removes it from all related response plans. You will have to recreate the contact and\n         its contact channels before you can use it again.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DeleteContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DeleteContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DeleteContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To no longer receive engagements on a contact channel, you can delete the channel from a\n         contact. Deleting the contact channel removes it from the contact's engagement plan. If you\n         delete the only contact channel for a contact, you won't be able to engage that contact\n         during an incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DeleteContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#DeleteContactChannelResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#DeleteContactRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact that you're deleting.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#DeleteContactResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#DeleteRotation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DeleteRotationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DeleteRotationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a rotation from the system. If a rotation belongs to more than one on-call\n         schedule, this operation deletes it from all of them.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DeleteRotationOverride": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DeleteRotationOverrideRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DeleteRotationOverrideResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing override for an on-call rotation.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DeleteRotationOverrideRequest": {
      "type": "structure",
      "members": {
        "RotationId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rotation that was overridden.</p>",
            "smithy.api#required": {}
          }
        },
        "RotationOverrideId": {
          "target": "com.amazonaws.ssmcontacts#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the on-call rotation override to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#DeleteRotationOverrideResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#DeleteRotationRequest": {
      "type": "structure",
      "members": {
        "RotationId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the on-call rotation to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#DeleteRotationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#DependentEntity": {
      "type": "structure",
      "members": {
        "RelationType": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of relationship between one resource and the other resource that it is related\n         to or depends on.</p>",
            "smithy.api#required": {}
          }
        },
        "DependentResourceIds": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the dependent resources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a resource that another resource is related to or depends on.</p>\n         <p>For example, if a contact is a member of a rotation, the rotation is a dependent entity\n         of the contact.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DependentEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#DependentEntity"
      }
    },
    "com.amazonaws.ssmcontacts#DescribeEngagement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DescribeEngagementRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DescribeEngagementResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Incident Manager uses engagements to engage contacts and escalation plans during an incident.\n         Use this command to describe the engagement that occurred during an incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DescribeEngagementRequest": {
      "type": "structure",
      "members": {
        "EngagementId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement you want the details of.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#DescribeEngagementResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the escalation plan or contacts involved in the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "EngagementArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "Sender": {
          "target": "com.amazonaws.ssmcontacts#Sender",
          "traits": {
            "smithy.api#documentation": "<p>The user that started the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "Subject": {
          "target": "com.amazonaws.ssmcontacts#Subject",
          "traits": {
            "smithy.api#documentation": "<p>The secure subject of the message that was sent to the contact. Use this field for\n         engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.ssmcontacts#Content",
          "traits": {
            "smithy.api#documentation": "<p>The secure content of the message that was sent to the contact. Use this field for\n         engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "PublicSubject": {
          "target": "com.amazonaws.ssmcontacts#PublicSubject",
          "traits": {
            "smithy.api#documentation": "<p>The insecure subject of the message that was sent to the contact. Use this field for\n         engagements to <code>SMS</code>.</p>"
          }
        },
        "PublicContent": {
          "target": "com.amazonaws.ssmcontacts#PublicContent",
          "traits": {
            "smithy.api#documentation": "<p>The insecure content of the message that was sent to the contact. Use this field for\n         engagements to <code>SMS</code>.</p>"
          }
        },
        "IncidentId": {
          "target": "com.amazonaws.ssmcontacts#IncidentId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the incident in which the engagement occurred.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the engagement started.</p>"
          }
        },
        "StopTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the engagement ended.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#DescribePage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#DescribePageRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#DescribePageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists details of the engagement to a contact channel.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#DescribePageRequest": {
      "type": "structure",
      "members": {
        "PageId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the engagement to a contact channel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#DescribePageResult": {
      "type": "structure",
      "members": {
        "PageArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "EngagementArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the engagement that engaged the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact that was engaged.</p>",
            "smithy.api#required": {}
          }
        },
        "Sender": {
          "target": "com.amazonaws.ssmcontacts#Sender",
          "traits": {
            "smithy.api#documentation": "<p>The user that started the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "Subject": {
          "target": "com.amazonaws.ssmcontacts#Subject",
          "traits": {
            "smithy.api#documentation": "<p>The secure subject of the message that was sent to the contact. Use this field for\n         engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.ssmcontacts#Content",
          "traits": {
            "smithy.api#documentation": "<p>The secure content of the message that was sent to the contact. Use this field for\n         engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "PublicSubject": {
          "target": "com.amazonaws.ssmcontacts#PublicSubject",
          "traits": {
            "smithy.api#documentation": "<p>The insecure subject of the message that was sent to the contact. Use this field for\n         engagements to <code>SMS</code>.</p>"
          }
        },
        "PublicContent": {
          "target": "com.amazonaws.ssmcontacts#PublicContent",
          "traits": {
            "smithy.api#documentation": "<p>The insecure content of the message that was sent to the contact. Use this field for\n         engagements to <code>SMS</code>.</p>"
          }
        },
        "IncidentId": {
          "target": "com.amazonaws.ssmcontacts#IncidentId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the incident that engaged the contact channel.</p>"
          }
        },
        "SentTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the engagement was sent to the contact channel.</p>"
          }
        },
        "ReadTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the contact channel acknowledged the engagement.</p>"
          }
        },
        "DeliveryTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the contact channel received the engagement.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#Engagement": {
      "type": "structure",
      "members": {
        "EngagementArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the escalation plan or contact that Incident Manager is engaging.</p>",
            "smithy.api#required": {}
          }
        },
        "Sender": {
          "target": "com.amazonaws.ssmcontacts#Sender",
          "traits": {
            "smithy.api#documentation": "<p>The user that started the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "IncidentId": {
          "target": "com.amazonaws.ssmcontacts#IncidentId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the incident that's engaging the contact.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the engagement began.</p>"
          }
        },
        "StopTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the engagement ended.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Incident Manager reaching out to a contact or escalation plan to engage contact during an\n         incident.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#EngagementsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssmcontacts#Engagement"
      }
    },
    "com.amazonaws.ssmcontacts#GetContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#GetContactRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#GetContactResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the specified contact or escalation plan.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#GetContactChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#GetContactChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#GetContactChannelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List details about a specific contact channel.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#GetContactChannelRequest": {
      "type": "structure",
      "members": {
        "ContactChannelId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact channel you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#GetContactChannelResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact that the channel belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactChannelArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssmcontacts#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact channel</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>The type of contact channel. The type is <code>SMS</code>, <code>VOICE</code>, or\n            <code>EMAIL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryAddress": {
          "target": "com.amazonaws.ssmcontacts#ContactChannelAddress",
          "traits": {
            "smithy.api#documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ActivationStatus": {
          "target": "com.amazonaws.ssmcontacts#ActivationStatus",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating if the contact channel has been activated or not.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#GetContactPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#GetContactPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#GetContactPolicyResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the resource policies attached to the specified contact or escalation\n         plan.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#GetContactPolicyRequest": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#GetContactPolicyResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact or escalation plan.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.ssmcontacts#Policy",
          "traits": {
            "smithy.api#documentation": "<p>Details about the resource policy attached to the contact or escalation plan.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#GetContactRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#GetContactResult": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact or escalation plan.</p>",
            "smithy.api#required": {}
          }
        },
        "Alias": {
          "target": "com.amazonaws.ssmcontacts#ContactAlias",
          "traits": {
            "smithy.api#documentation": "<p>The alias of the contact or escalation plan. The alias is unique and\n         identifiable.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.ssmcontacts#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The full name of the contact or escalation plan.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>The type of contact, either <code>PERSONAL</code> or <code>ESCALATION</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Plan": {
          "target": "com.amazonaws.ssmcontacts#Plan",
          "traits": {
            "smithy.api#documentation": "<p>Details about the specific timing or stages and targets of the escalation plan or\n         engagement plan.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#GetRotation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#GetRotationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#GetRotationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about an on-call rotation.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#GetRotationOverride": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#GetRotationOverrideRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#GetRotationOverrideResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about an override to an on-call rotation.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#GetRotationOverrideRequest": {
      "type": "structure",
      "members": {
        "RotationId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the overridden rotation to retrieve information\n         about.</p>",
            "smithy.api#required": {}
          }
        },
        "RotationOverrideId": {
          "target": "com.amazonaws.ssmcontacts#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the on-call rotation override to retrieve information\n         about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#GetRotationOverrideResult": {
      "type": "structure",
      "members": {
        "RotationOverrideId": {
          "target": "com.amazonaws.ssmcontacts#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the override to an on-call rotation.</p>"
          }
        },
        "RotationArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the on-call rotation that was overridden.</p>"
          }
        },
        "NewContactIds": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the contacts assigned to the override of the on-call\n         rotation.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the override goes into effect.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the override ends.</p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the override was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#GetRotationRequest": {
      "type": "structure",
      "members": {
        "RotationId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the on-call rotation to retrieve information\n         about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#GetRotationResult": {
      "type": "structure",
      "members": {
        "RotationArn": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the on-call rotation.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssmcontacts#RotationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the on-call rotation.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactIds": {
          "target": "com.amazonaws.ssmcontacts#RotationContactsArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the contacts assigned to the on-call rotation\n         team.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The specified start time for the on-call rotation.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeZoneId": {
          "target": "com.amazonaws.ssmcontacts#TimeZoneId",
          "traits": {
            "smithy.api#documentation": "<p>The time zone that the rotation’s activity is based on, in Internet Assigned Numbers\n         Authority (IANA) format.</p>",
            "smithy.api#required": {}
          }
        },
        "Recurrence": {
          "target": "com.amazonaws.ssmcontacts#RecurrenceSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how long a rotation lasts before restarting at the beginning of the shift\n         order.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#HandOffTime": {
      "type": "structure",
      "members": {
        "HourOfDay": {
          "target": "com.amazonaws.ssmcontacts#HourOfDay",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The hour when an on-call rotation shift begins or ends.</p>",
            "smithy.api#required": {}
          }
        },
        "MinuteOfHour": {
          "target": "com.amazonaws.ssmcontacts#MinuteOfHour",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The minute when an on-call rotation shift begins or ends.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about when an on-call rotation shift begins or ends.</p>"
      }
    },
    "com.amazonaws.ssmcontacts#HourOfDay": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 23
        }
      }
    },
    "com.amazonaws.ssmcontacts#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\\\\\/a-zA-Z0-9_+=\\-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#IncidentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\\\a-zA-Z0-9_@#%*+=:?.\\/!\\s-]*$"
      }
    },
    "com.amazonaws.ssmcontacts#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssmcontacts#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RetryAfterSeconds": {
          "target": "com.amazonaws.ssmcontacts#RetryAfterSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Advice to clients on when the call can be safely retried",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error occurred while processing the request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ssmcontacts#IsEssential": {
      "type": "boolean"
    },
    "com.amazonaws.ssmcontacts#ListContactChannels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListContactChannelsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListContactChannelsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#DataEncryptionException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all contact channels for the specified contact.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ContactChannels",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListContactChannelsRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of contact channels per page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListContactChannelsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "ContactChannels": {
          "target": "com.amazonaws.ssmcontacts#ContactChannelList",
          "traits": {
            "smithy.api#documentation": "<p>A list of contact channels related to the specified contact.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListContacts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListContactsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListContactsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all contacts and escalation plans in Incident Manager.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Contacts",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListContactsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of contacts and escalation plans per page of results.</p>"
          }
        },
        "AliasPrefix": {
          "target": "com.amazonaws.ssmcontacts#ContactAlias",
          "traits": {
            "smithy.api#documentation": "<p>Used to list only contacts who's aliases start with the specified prefix.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.ssmcontacts#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>The type of contact. A contact is type <code>PERSONAL</code> and an escalation plan is\n         type <code>ESCALATION</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListContactsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Contacts": {
          "target": "com.amazonaws.ssmcontacts#ContactsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the contacts and escalation plans in your Incident Manager account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListEngagements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListEngagementsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListEngagementsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all engagements that have happened in an incident.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Engagements",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListEngagementsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of engagements per page of results.</p>"
          }
        },
        "IncidentId": {
          "target": "com.amazonaws.ssmcontacts#IncidentId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident you're listing engagements for.</p>"
          }
        },
        "TimeRangeValue": {
          "target": "com.amazonaws.ssmcontacts#TimeRange",
          "traits": {
            "smithy.api#documentation": "<p>The time range to lists engagements for an incident.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListEngagementsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Engagements": {
          "target": "com.amazonaws.ssmcontacts#EngagementsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of each engagement that occurred during the specified time range of an\n         incident.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPageReceipts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListPageReceiptsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListPageReceiptsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the engagements to contact channels that have been acknowledged.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Receipts",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPageReceiptsRequest": {
      "type": "structure",
      "members": {
        "PageId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement to a specific contact channel.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of acknowledgements per page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPageReceiptsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Receipts": {
          "target": "com.amazonaws.ssmcontacts#ReceiptsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of each acknowledgement.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPageResolutions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListPageResolutionsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListPageResolutionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the resolution path of an engagement. For example, the escalation plan engaged\n         in an incident might target an on-call schedule that includes several contacts in a\n         rotation, but just one contact on-call when the incident starts. The resolution path\n         indicates the hierarchy of <i>escalation plan > on-call schedule >\n            contact</i>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PageResolutions"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPageResolutionsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>"
          }
        },
        "PageId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact engaged for the incident.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPageResolutionsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        },
        "PageResolutions": {
          "target": "com.amazonaws.ssmcontacts#ResolutionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resolution for an engagement.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListPagesByContactRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListPagesByContactResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the engagements to a contact's contact channels.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Pages",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByContactRequest": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact you are retrieving engagements for.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of engagements to contact channels to list per page of results.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByContactResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Pages": {
          "target": "com.amazonaws.ssmcontacts#PagesList",
          "traits": {
            "smithy.api#documentation": "<p>The list of engagements to a contact's contact channel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByEngagement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListPagesByEngagementRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListPagesByEngagementResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the engagements to contact channels that occurred by engaging a contact.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Pages",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByEngagementRequest": {
      "type": "structure",
      "members": {
        "EngagementId": {
          "target": "com.amazonaws.ssmcontacts#SsmContactsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the engagement.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of engagements to contact channels to list per page of\n         results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPagesByEngagementResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        },
        "Pages": {
          "target": "com.amazonaws.ssmcontacts#PagesList",
          "traits": {
            "smithy.api#documentation": "<p>The list of engagements to contact channels.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPreviewRotationShifts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssmcontacts#ListPreviewRotationShiftsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssmcontacts#ListPreviewRotationShiftsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssmcontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssmcontacts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of shifts based on rotation configuration parameters.</p>\n         <note>\n            <p>The Incident Manager primarily uses this operation to populate the <b>Preview</b> calendar. It is not typically run by end users.</p>\n         </note>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "RotationShifts",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssmcontacts#ListPreviewRotationShiftsRequest": {
      "type": "structure",
      "members": {
        "RotationStartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a rotation would begin. The first shift is calculated from this date\n         and time.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Used to filter the range of calculated shifts before sending the response back to the\n         user. </p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.ssmcontacts#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a rotation shift would end.</p>",
            "smithy.api#required": {}
          }
        },
        "Members": {
          "target": "com.amazonaws.ssmcontacts#RotationPreviewMemberList",
          "traits": {
            "smithy.api#documentation": "<p>The contacts that would be assigned to a rotation.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeZoneId": {
          "target": "com.amazonaws.ssmcontacts#TimeZoneId",
          "traits": {
            "smithy.api#documentation": "<p>The time zone the rotation’s activity would be based on, in Internet Assigned Numbers\n         Authority (IANA) format. For example: \"America/Los_Angeles\", \"UTC\", or \"Asia/Seoul\".\n      </p>",
            "smithy.api#required": {}
          }
        },
        "Recurrence": {
          "target": "com.amazonaws.ssmcontacts#RecurrenceSettings",
          "traits": {
            "smithy.api#documentation": "<p>Information about how long a rotation would last before restarting at the beginning of\n         the shift order.</p>",
            "smithy.api#required": {}
          }
        },
        "Overrides": {
          "target": "com.amazonaws.ssmcontacts#OverrideList",
          "traits": {
            "smithy.api#documentation": "<p>Information about changes that would be made in a rotation override.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssmcontacts#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. This token is used to get the next set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssmcontacts#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         can be specified in a subsequent call to get the next set of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ssmcontacts#ListPreviewRotationShiftsResult": {
      "type": "structure",
      "members": {
        "RotationShifts": {
          "target": "com.amazonaws.ssmcontacts#RotationShifts",
          "traits": {
[...]
