{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ssm#Account": {
      "type": "string"
    },
    "com.amazonaws.ssm#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(?i)all|[0-9]{12}"
      }
    },
    "com.amazonaws.ssm#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AccountId",
        "traits": {
          "smithy.api#xmlName": "AccountId"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.ssm#AccountSharingInfo": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ssm#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID where the current document is shared.</p>"
          }
        },
        "SharedDocumentVersion": {
          "target": "com.amazonaws.ssm#SharedDocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the current document shared with the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information includes the AWS account ID where the current document is shared and the version\n   shared with that account.</p>"
      }
    },
    "com.amazonaws.ssm#AccountSharingInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AccountSharingInfo",
        "traits": {
          "smithy.api#xmlName": "AccountSharingInfo"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of of AWS accounts where the current document is shared and the version shared with\n   each account.</p>"
      }
    },
    "com.amazonaws.ssm#Accounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#Account"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.ssm#Activation": {
      "type": "structure",
      "members": {
        "ActivationId": {
          "target": "com.amazonaws.ssm#ActivationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID created by Systems Manager when you submitted the activation.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssm#CreatedDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the activation was created.</p>"
          }
        },
        "DefaultInstanceName": {
          "target": "com.amazonaws.ssm#DefaultInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the managed instance when it is created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.ssm#ActivationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A user defined description of the activation.</p>"
          }
        },
        "ExpirationDate": {
          "target": "com.amazonaws.ssm#ExpirationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date when this activation can no longer be used to register managed instances.</p>"
          }
        },
        "Expired": {
          "target": "com.amazonaws.ssm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not the activation is expired.</p>"
          }
        },
        "IamRole": {
          "target": "com.amazonaws.ssm#IamRole",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Identity and Access Management (IAM) role to assign to the managed\n   instance.</p>"
          }
        },
        "RegistrationLimit": {
          "target": "com.amazonaws.ssm#RegistrationLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of managed instances that can be registered using this activation.</p>"
          }
        },
        "RegistrationsCount": {
          "target": "com.amazonaws.ssm#RegistrationsCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of managed instances already registered with this activation.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the activation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An activation registers one or more on-premises servers or virtual machines (VMs) with AWS\n   so that you can configure those servers or VMs using Run Command. A server or VM that has been\n   registered with AWS is called a managed instance.</p>"
      }
    },
    "com.amazonaws.ssm#ActivationCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 250
        }
      }
    },
    "com.amazonaws.ssm#ActivationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.ssm#ActivationId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.ssm#ActivationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#Activation"
      }
    },
    "com.amazonaws.ssm#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssm#AddTagsToResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#AddTagsToResourceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#InvalidResourceId"
        },
        {
          "target": "com.amazonaws.ssm#InvalidResourceType"
        },
        {
          "target": "com.amazonaws.ssm#TooManyTagsError"
        },
        {
          "target": "com.amazonaws.ssm#TooManyUpdates"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or overwrites one or more tags for the specified resource. Tags are metadata that you\n   can assign to your documents, managed instances, maintenance windows, Parameter Store parameters,\n   and patch baselines. Tags enable you to categorize your resources in different ways, for example,\n   by purpose, owner, or environment. Each tag consists of a key and an optional value, both of\n   which you define. For example, you could define a set of tags for your account's managed\n   instances that helps you track each instance's owner and stack level. For example: Key=Owner and\n   Value=DbAdmin, SysAdmin, or Dev. Or Key=Stack and Value=Production, Pre-Production, or\n   Test.</p>\n\n         <p>Each resource can have a maximum of 50 tags. </p>\n         <p>We recommend that you devise a set of tag keys that meets your needs for each resource type.\n   Using a consistent set of tag keys makes it easier for you to manage your resources. You can\n   search and filter the resources based on the tags you add. Tags don't have any semantic meaning\n   to Amazon EC2 and are interpreted strictly as a string of characters. </p>\n         <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging Your\n    Amazon EC2 Resources</a> in the <i>Amazon EC2 User Guide</i>.</p>"
      }
    },
    "com.amazonaws.ssm#AddTagsToResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.ssm#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID you want to tag.</p>\n         <p>Use the ID of the resource. Here are some examples:</p>\n         <p>ManagedInstance: mi-012345abcde</p>\n         <p>MaintenanceWindow: mw-012345abcde</p>\n         <p>PatchBaseline: pb-012345abcde</p>\n         <p>For the Document and Parameter values, use the name of the resource.</p>\n         <note>\n            <p>The ManagedInstance type for this API action is only for on-premises managed instances. You\n    must specify the name of the managed instance in the following format: mi-ID_number. For\n    example, mi-1a2b3c4d5e6f.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssm#ResourceTypeForTagging",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of resource you are tagging.</p>\n         <note>\n            <p>The ManagedInstance type for this API action is for on-premises managed instances. You must\n    specify the name of the managed instance in the following format: mi-ID_number. For example,\n    mi-1a2b3c4d5e6f.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssm#TagList",
          "traits": {
            "smithy.api#documentation": "<p> One or more tags. The value parameter is required, but if you don't want the tag to have a\n   value, specify the parameter with no value, and we set the value to an empty string. </p>\n         <important>\n            <p>Do not enter personally identifiable information in this field.</p>\n         </important>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssm#AddTagsToResourceResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssm#AgentErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.ssm#AggregatorSchemaOnly": {
      "type": "boolean"
    },
    "com.amazonaws.ssm#AllowedPattern": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.ssm#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error returned if an attempt is made to register a patch group with a patch baseline that is\n   already registered with a different patch baseline.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AmazonSSM": {
      "type": "service",
      "version": "2014-11-06",
      "operations": [
        {
          "target": "com.amazonaws.ssm#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.ssm#CancelCommand"
        },
        {
          "target": "com.amazonaws.ssm#CancelMaintenanceWindowExecution"
        },
        {
          "target": "com.amazonaws.ssm#CreateActivation"
        },
        {
          "target": "com.amazonaws.ssm#CreateAssociation"
        },
        {
          "target": "com.amazonaws.ssm#CreateAssociationBatch"
        },
        {
          "target": "com.amazonaws.ssm#CreateDocument"
        },
        {
          "target": "com.amazonaws.ssm#CreateMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#CreateOpsItem"
        },
        {
          "target": "com.amazonaws.ssm#CreatePatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#CreateResourceDataSync"
        },
        {
          "target": "com.amazonaws.ssm#DeleteActivation"
        },
        {
          "target": "com.amazonaws.ssm#DeleteAssociation"
        },
        {
          "target": "com.amazonaws.ssm#DeleteDocument"
        },
        {
          "target": "com.amazonaws.ssm#DeleteInventory"
        },
        {
          "target": "com.amazonaws.ssm#DeleteMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#DeleteParameter"
        },
        {
          "target": "com.amazonaws.ssm#DeleteParameters"
        },
        {
          "target": "com.amazonaws.ssm#DeletePatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#DeleteResourceDataSync"
        },
        {
          "target": "com.amazonaws.ssm#DeregisterManagedInstance"
        },
        {
          "target": "com.amazonaws.ssm#DeregisterPatchBaselineForPatchGroup"
        },
        {
          "target": "com.amazonaws.ssm#DeregisterTargetFromMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#DeregisterTaskFromMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#DescribeActivations"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAssociation"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAssociationExecutions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAssociationExecutionTargets"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAutomationExecutions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAutomationStepExecutions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAvailablePatches"
        },
        {
          "target": "com.amazonaws.ssm#DescribeDocument"
        },
        {
          "target": "com.amazonaws.ssm#DescribeDocumentPermission"
        },
        {
          "target": "com.amazonaws.ssm#DescribeEffectiveInstanceAssociations"
        },
        {
          "target": "com.amazonaws.ssm#DescribeEffectivePatchesForPatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstanceAssociationsStatus"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstanceInformation"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstancePatches"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstancePatchStates"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstancePatchStatesForPatchGroup"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInventoryDeletions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowExecutions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowExecutionTaskInvocations"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowExecutionTasks"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindows"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowSchedule"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowsForTarget"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowTargets"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowTasks"
        },
        {
          "target": "com.amazonaws.ssm#DescribeOpsItems"
        },
        {
          "target": "com.amazonaws.ssm#DescribeParameters"
        },
        {
          "target": "com.amazonaws.ssm#DescribePatchBaselines"
        },
        {
          "target": "com.amazonaws.ssm#DescribePatchGroups"
        },
        {
          "target": "com.amazonaws.ssm#DescribePatchGroupState"
        },
        {
          "target": "com.amazonaws.ssm#DescribePatchProperties"
        },
        {
          "target": "com.amazonaws.ssm#DescribeSessions"
        },
        {
          "target": "com.amazonaws.ssm#GetAutomationExecution"
        },
        {
          "target": "com.amazonaws.ssm#GetCalendarState"
        },
        {
          "target": "com.amazonaws.ssm#GetCommandInvocation"
        },
        {
          "target": "com.amazonaws.ssm#GetConnectionStatus"
        },
        {
          "target": "com.amazonaws.ssm#GetDefaultPatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#GetDeployablePatchSnapshotForInstance"
        },
        {
          "target": "com.amazonaws.ssm#GetDocument"
        },
        {
          "target": "com.amazonaws.ssm#GetInventory"
        },
        {
          "target": "com.amazonaws.ssm#GetInventorySchema"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindowExecution"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindowExecutionTask"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindowExecutionTaskInvocation"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindowTask"
        },
        {
          "target": "com.amazonaws.ssm#GetOpsItem"
        },
        {
          "target": "com.amazonaws.ssm#GetOpsSummary"
        },
        {
          "target": "com.amazonaws.ssm#GetParameter"
        },
        {
          "target": "com.amazonaws.ssm#GetParameterHistory"
        },
        {
          "target": "com.amazonaws.ssm#GetParameters"
        },
        {
          "target": "com.amazonaws.ssm#GetParametersByPath"
        },
        {
          "target": "com.amazonaws.ssm#GetPatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#GetPatchBaselineForPatchGroup"
        },
        {
          "target": "com.amazonaws.ssm#GetServiceSetting"
        },
        {
          "target": "com.amazonaws.ssm#LabelParameterVersion"
        },
        {
          "target": "com.amazonaws.ssm#ListAssociations"
        },
        {
          "target": "com.amazonaws.ssm#ListAssociationVersions"
        },
        {
          "target": "com.amazonaws.ssm#ListCommandInvocations"
        },
        {
          "target": "com.amazonaws.ssm#ListCommands"
        },
        {
          "target": "com.amazonaws.ssm#ListComplianceItems"
        },
        {
          "target": "com.amazonaws.ssm#ListComplianceSummaries"
        },
        {
          "target": "com.amazonaws.ssm#ListDocuments"
        },
        {
          "target": "com.amazonaws.ssm#ListDocumentVersions"
        },
        {
          "target": "com.amazonaws.ssm#ListInventoryEntries"
        },
        {
          "target": "com.amazonaws.ssm#ListResourceComplianceSummaries"
        },
        {
          "target": "com.amazonaws.ssm#ListResourceDataSync"
        },
        {
          "target": "com.amazonaws.ssm#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.ssm#ModifyDocumentPermission"
        },
        {
          "target": "com.amazonaws.ssm#PutComplianceItems"
        },
        {
          "target": "com.amazonaws.ssm#PutInventory"
        },
        {
          "target": "com.amazonaws.ssm#PutParameter"
        },
        {
          "target": "com.amazonaws.ssm#RegisterDefaultPatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#RegisterPatchBaselineForPatchGroup"
        },
        {
          "target": "com.amazonaws.ssm#RegisterTargetWithMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#RegisterTaskWithMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.ssm#ResetServiceSetting"
        },
        {
          "target": "com.amazonaws.ssm#ResumeSession"
        },
        {
          "target": "com.amazonaws.ssm#SendAutomationSignal"
        },
        {
          "target": "com.amazonaws.ssm#SendCommand"
        },
        {
          "target": "com.amazonaws.ssm#StartAssociationsOnce"
        },
        {
          "target": "com.amazonaws.ssm#StartAutomationExecution"
        },
        {
          "target": "com.amazonaws.ssm#StartSession"
        },
        {
          "target": "com.amazonaws.ssm#StopAutomationExecution"
        },
        {
          "target": "com.amazonaws.ssm#TerminateSession"
        },
        {
          "target": "com.amazonaws.ssm#UpdateAssociation"
        },
        {
          "target": "com.amazonaws.ssm#UpdateAssociationStatus"
        },
        {
          "target": "com.amazonaws.ssm#UpdateDocument"
        },
        {
          "target": "com.amazonaws.ssm#UpdateDocumentDefaultVersion"
        },
        {
          "target": "com.amazonaws.ssm#UpdateMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#UpdateMaintenanceWindowTarget"
        },
        {
          "target": "com.amazonaws.ssm#UpdateMaintenanceWindowTask"
        },
        {
          "target": "com.amazonaws.ssm#UpdateManagedInstanceRole"
        },
        {
          "target": "com.amazonaws.ssm#UpdateOpsItem"
        },
        {
          "target": "com.amazonaws.ssm#UpdatePatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#UpdateResourceDataSync"
        },
        {
          "target": "com.amazonaws.ssm#UpdateServiceSetting"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SSM",
          "arnNamespace": "ssm",
          "cloudFormationName": "SSM",
          "cloudTrailEventSource": "ssm.services.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "ssm"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS Systems Manager</fullname>\n         <p>AWS Systems Manager is a collection of capabilities that helps you automate management tasks such as\n   collecting system inventory, applying operating system (OS) patches, automating the creation of\n   Amazon Machine Images (AMIs), and configuring operating systems (OSs) and applications at scale.\n   Systems Manager lets you remotely and securely manage the configuration of your managed instances. A\n    <i>managed instance</i> is any Amazon EC2 instance or on-premises machine in your\n   hybrid environment that has been configured for Systems Manager.</p>\n         <p>This reference is intended to be used with the <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/\">AWS Systems Manager User Guide</a>.</p>\n         <p>To get started, verify prerequisites and configure managed instances. For more information,\n   see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-setting-up.html\">Setting Up AWS Systems Manager</a> in\n   the <i>AWS Systems Manager User Guide</i>.</p>\n         <p>For information about other API actions you can perform on Amazon EC2 instances, see the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/\">Amazon EC2 API Reference</a>. For information about how to use a Query API, see\n    <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/making-api-requests.html\">Making API Requests</a>. </p>",
        "smithy.api#title": "Amazon Simple Systems Manager (SSM)",
        "smithy.api#xmlNamespace": {
          "uri": "http://ssm.amazonaws.com/doc/2014-11-06/"
        }
      }
    },
    "com.amazonaws.ssm#ApproveAfterDays": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.ssm#AssociatedInstances": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>You must disassociate a document from all instances before you can delete it.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#Association": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID created by the system when you create an association. An association is a binding\n   between a document and a set of targets with a schedule.</p>"
          }
        },
        "AssociationName": {
          "target": "com.amazonaws.ssm#AssociationName",
          "traits": {
            "smithy.api#documentation": "<p>The association name.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the document used in the association.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.ssm#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date on which the association was last run.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#DocumentARN",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Systems Manager document.</p>"
          }
        },
        "Overview": {
          "target": "com.amazonaws.ssm#AssociationOverview",
          "traits": {
            "smithy.api#documentation": "<p>Information about the association.</p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.ssm#ScheduleExpression",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression that specifies a schedule when the association runs.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The instances targeted by the request to create an association. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an association of a Systems Manager document and an instance.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationAlreadyExists": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The specified association already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationComplianceSeverity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CRITICAL",
            "name": "Critical"
          },
          {
            "value": "HIGH",
            "name": "High"
          },
          {
            "value": "MEDIUM",
            "name": "Medium"
          },
          {
            "value": "LOW",
            "name": "Low"
          },
          {
            "value": "UNSPECIFIED",
            "name": "Unspecified"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationDescription": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The association ID.</p>"
          }
        },
        "AssociationName": {
          "target": "com.amazonaws.ssm#AssociationName",
          "traits": {
            "smithy.api#documentation": "<p>The association name.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "AutomationTargetParameterName": {
          "target": "com.amazonaws.ssm#AutomationTargetParameterName",
          "traits": {
            "smithy.api#documentation": "<p>Specify the target for the association. This target is required for associations that use an\n   Automation document and target resources by using rate controls.</p>"
          }
        },
        "ComplianceSeverity": {
          "target": "com.amazonaws.ssm#AssociationComplianceSeverity",
          "traits": {
            "smithy.api#documentation": "<p>The severity level that is assigned to the association.</p>"
          }
        },
        "Date": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the association was made.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The document version.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.ssm#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date on which the association was last run.</p>"
          }
        },
        "LastSuccessfulExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The last date on which the association was successfully run.</p>"
          }
        },
        "LastUpdateAssociationDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the association was last updated.</p>"
          }
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of targets allowed to run the association at the same time. You can\n   specify a number, for example 10, or a percentage of the target set, for example 10%. The default\n   value is 100%, which means all targets run the association at the same time.</p>\n         <p>If a new instance starts and attempts to run an association while Systems Manager is running\n   MaxConcurrency associations, the association is allowed to run. During the next association\n   interval, the new instance will process its association within the limit specified for\n   MaxConcurrency.</p>"
          }
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {
            "smithy.api#documentation": "<p>The number of errors that are allowed before the system stops sending requests to run the\n   association on additional targets. You can specify either an absolute number of errors, for\n   example 10, or a percentage of the target set, for example 10%. If you specify 3, for example,\n   the system stops sending requests when the fourth error is received. If you specify 0, then the\n   system stops sending requests after the first error is returned. If you run an association on 50\n   instances and set MaxError to 10%, then the system stops sending the request when the sixth error\n   is received.</p>\n         <p>Executions that are already running an association when MaxErrors is reached are allowed to\n   complete, but some of these executions may fail as well. If you need to ensure that there won't\n   be more than max-errors failed executions, set MaxConcurrency to 1 so that executions proceed one\n   at a time.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#DocumentARN",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Systems Manager document.</p>"
          }
        },
        "OutputLocation": {
          "target": "com.amazonaws.ssm#InstanceAssociationOutputLocation",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon S3 bucket where you want to store the output details of the request.</p>"
          }
        },
        "Overview": {
          "target": "com.amazonaws.ssm#AssociationOverview",
          "traits": {
            "smithy.api#documentation": "<p>Information about the association.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.ssm#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A description of the parameters for a document. </p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.ssm#ScheduleExpression",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression that specifies a schedule when the association runs.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssm#AssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The association status.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The instances targeted by the request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the parameters for a document.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationDescription",
        "traits": {
          "smithy.api#xmlName": "AssociationDescription"
        }
      }
    },
    "com.amazonaws.ssm#AssociationDoesNotExist": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified association does not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationExecution": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The association ID.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution started.</p>"
          }
        },
        "DetailedStatus": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>Detailed status information about the execution.</p>"
          }
        },
        "ExecutionId": {
          "target": "com.amazonaws.ssm#AssociationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution ID for the association.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date of the last execution.</p>"
          }
        },
        "ResourceCountByStatus": {
          "target": "com.amazonaws.ssm#ResourceCountByStatus",
          "traits": {
            "smithy.api#documentation": "<p>An aggregate status of the resources in the execution based on the status type.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>The status of the association execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes information about the specified association.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionDoesNotExist": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified execution ID does not exist. Verify the ID number and try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionFilter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ssm#AssociationExecutionFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The key value used in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.ssm#AssociationFilterOperatorType",
          "traits": {
            "smithy.api#documentation": "<p>The filter type specified in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.ssm#AssociationExecutionFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value specified for the key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters used in the request.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionFilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ExecutionId",
            "name": "ExecutionId"
          },
          {
            "value": "Status",
            "name": "Status"
          },
          {
            "value": "CreatedTime",
            "name": "CreatedTime"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationExecutionFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationExecutionFilter",
        "traits": {
          "smithy.api#xmlName": "AssociationExecutionFilter"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTarget": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The association ID.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "DetailedStatus": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the execution status.</p>"
          }
        },
        "ExecutionId": {
          "target": "com.amazonaws.ssm#AssociationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution ID.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date of the last execution.</p>"
          }
        },
        "OutputSource": {
          "target": "com.amazonaws.ssm#OutputSource",
          "traits": {
            "smithy.api#documentation": "<p>The location where the association details are saved.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.ssm#AssociationResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID, for example, the instance ID where the association ran.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssm#AssociationResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type, for example, instance.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>The association execution status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes information about the specified association execution.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsFilter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ssm#AssociationExecutionTargetsFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The key value used in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.ssm#AssociationExecutionTargetsFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value specified for the key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters for the association execution.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsFilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Status",
            "name": "Status"
          },
          {
            "value": "ResourceId",
            "name": "ResourceId"
          },
          {
            "value": "ResourceType",
            "name": "ResourceType"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationExecutionTargetsFilter",
        "traits": {
          "smithy.api#xmlName": "AssociationExecutionTargetsFilter"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationExecutionTarget",
        "traits": {
          "smithy.api#xmlName": "AssociationExecutionTarget"
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationExecution",
        "traits": {
          "smithy.api#xmlName": "AssociationExecution"
        }
      }
    },
    "com.amazonaws.ssm#AssociationFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.ssm#AssociationFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.ssm#AssociationFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The filter value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a filter.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationFilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InstanceId",
            "name": "InstanceId"
          },
          {
            "value": "Name",
            "name": "Name"
          },
          {
            "value": "AssociationId",
            "name": "AssociationId"
          },
          {
            "value": "AssociationStatusName",
            "name": "Status"
          },
          {
            "value": "LastExecutedBefore",
            "name": "LastExecutedBefore"
          },
          {
            "value": "LastExecutedAfter",
            "name": "LastExecutedAfter"
          },
          {
            "value": "AssociationName",
            "name": "AssociationName"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationFilter",
        "traits": {
          "smithy.api#xmlName": "AssociationFilter"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationFilterOperatorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUAL",
            "name": "Equal"
          },
          {
            "value": "LESS_THAN",
            "name": "LessThan"
          },
          {
            "value": "GREATER_THAN",
            "name": "GreaterThan"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
      }
    },
    "com.amazonaws.ssm#AssociationIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.ssm#AssociationLimitExceeded": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>You can have at most 2,000 active associations.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#Association",
        "traits": {
          "smithy.api#xmlName": "Association"
        }
      }
    },
    "com.amazonaws.ssm#AssociationName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]{3,128}$"
      }
    },
    "com.amazonaws.ssm#AssociationOverview": {
      "type": "structure",
      "members": {
        "AssociationStatusAggregatedCount": {
          "target": "com.amazonaws.ssm#AssociationStatusAggregatedCount",
          "traits": {
            "smithy.api#documentation": "<p>Returns the number of targets for the association status. For example, if you created an\n   association with two instances, and one of them was successful, this would return the count of\n   instances by status.</p>"
          }
        },
        "DetailedStatus": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>A detailed status of the association.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>The status of the association. Status can be: Pending, Success, or Failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the association.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.ssm#AssociationResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.ssm#AssociationStatus": {
      "type": "structure",
      "members": {
        "AdditionalInfo": {
          "target": "com.amazonaws.ssm#StatusAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined string.</p>"
          }
        },
        "Date": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the status changed.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.ssm#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the status.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#AssociationStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The status.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an association status.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationStatusAggregatedCount": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.ssm#StatusName"
      },
      "value": {
        "target": "com.amazonaws.ssm#InstanceCount"
      }
    },
    "com.amazonaws.ssm#AssociationStatusName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Pending",
            "name": "Pending"
          },
          {
            "value": "Success",
            "name": "Success"
          },
          {
            "value": "Failed",
            "name": "Failed"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationVersion": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "([$]LATEST)|([1-9][0-9]*)"
      }
    },
    "com.amazonaws.ssm#AssociationVersionInfo": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID created by the system when the association was created.</p>"
          }
        },
        "AssociationName": {
          "target": "com.amazonaws.ssm#AssociationName",
          "traits": {
            "smithy.api#documentation": "<p>The name specified for the association version when the association version was\n   created.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "ComplianceSeverity": {
          "target": "com.amazonaws.ssm#AssociationComplianceSeverity",
          "traits": {
            "smithy.api#documentation": "<p>The severity level that is assigned to the association.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date the association version was created.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of a Systems Manager document used when the association version was created.</p>"
          }
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of targets allowed to run the association at the same time. You can\n   specify a number, for example 10, or a percentage of the target set, for example 10%. The default\n   value is 100%, which means all targets run the association at the same time.</p>\n         <p>If a new instance starts and attempts to run an association while Systems Manager is running\n   MaxConcurrency associations, the association is allowed to run. During the next association\n   interval, the new instance will process its association within the limit specified for\n   MaxConcurrency.</p>"
          }
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {
            "smithy.api#documentation": "<p>The number of errors that are allowed before the system stops sending requests to run the\n   association on additional targets. You can specify either an absolute number of errors, for\n   example 10, or a percentage of the target set, for example 10%. If you specify 3, for example,\n   the system stops sending requests when the fourth error is received. If you specify 0, then the\n   system stops sending requests after the first error is returned. If you run an association on 50\n   instances and set MaxError to 10%, then the system stops sending the request when the sixth error\n   is received.</p>\n         <p>Executions that are already running an association when MaxErrors is reached are allowed to\n   complete, but some of these executions may fail as well. If you need to ensure that there won't\n   be more than max-errors failed executions, set MaxConcurrency to 1 so that executions proceed one\n   at a time.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#DocumentARN",
          "traits": {
            "smithy.api#documentation": "<p>The name specified when the association was created.</p>"
          }
        },
        "OutputLocation": {
          "target": "com.amazonaws.ssm#InstanceAssociationOutputLocation",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 specified for the association when the association version was\n   created.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.ssm#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>Parameters specified when the association version was created.</p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.ssm#ScheduleExpression",
          "traits": {
            "smithy.api#documentation": "<p>The cron or rate schedule specified for the association when the association version was\n   created.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The targets specified for the association when the association version was created. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the association version.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationVersionLimitExceeded": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have reached the maximum number versions allowed for an association. Each association\n   has a limit of 1,000 versions. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationVersionInfo"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AttachmentContent": {
      "type": "structure",
      "members": {
        "Hash": {
          "target": "com.amazonaws.ssm#AttachmentHash",
          "traits": {
            "smithy.api#documentation": "<p>The cryptographic hash value of the document content.</p>"
          }
        },
        "HashType": {
          "target": "com.amazonaws.ssm#AttachmentHashType",
          "traits": {
            "smithy.api#documentation": "<p>The hash algorithm used to calculate the hash value.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#AttachmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an attachment.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.ssm#ContentLength",
          "traits": {
            "smithy.api#documentation": "<p>The size of an attachment in bytes.</p>"
          }
        },
        "Url": {
          "target": "com.amazonaws.ssm#AttachmentUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL location of the attachment content.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that includes attributes that describe a document attachment.</p>"
      }
    },
    "com.amazonaws.ssm#AttachmentContentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AttachmentContent",
        "traits": {
          "smithy.api#xmlName": "AttachmentContent"
        }
      }
    },
    "com.amazonaws.ssm#AttachmentHash": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.ssm#AttachmentHashType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Sha256",
            "name": "SHA256"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AttachmentIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]{3,128}$"
      }
    },
    "com.amazonaws.ssm#AttachmentInformation": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssm#AttachmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attachment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute of an attachment, such as the attachment name.</p>"
      }
    },
    "com.amazonaws.ssm#AttachmentInformationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AttachmentInformation",
        "traits": {
          "smithy.api#xmlName": "AttachmentInformation"
        }
      }
    },
    "com.amazonaws.ssm#AttachmentName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]{3,128}$"
      }
    },
    "com.amazonaws.ssm#AttachmentUrl": {
      "type": "string"
    },
    "com.amazonaws.ssm#AttachmentsSource": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ssm#AttachmentsSourceKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of a key-value pair that identifies the location of an attachment to a\n   document.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#AttachmentIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the document attachment file.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.ssm#AttachmentsSourceValues",
          "traits": {
            "smithy.api#documentation": "<p>The value of a key-value pair that identifies the location of an attachment to a document.\n   The format for <b>Value</b> depends on the type of key you\n   specify.</p>\n         <ul>\n            <li>\n               <p>For the key <i>SourceUrl</i>, the value is an S3 bucket location. For\n     example:</p>\n               <p>\n                  <code>\"Values\": [ \"s3://my-bucket/my-folder\" ]</code>\n               </p>\n            </li>\n            <li>\n               <p>For the key <i>S3FileUrl</i>, the value is a file in an S3 bucket. For\n     example:</p>\n               <p>\n                  <code>\"Values\": [ \"s3://my-bucket/my-folder/my-file.py\" ]</code>\n               </p>\n            </li>\n            <li>\n               <p>For the key <i>AttachmentReference</i>, the value is constructed from the\n     name of another SSM document in your account, a version number of that document, and a file\n     attached to that document version that you want to reuse. For example:</p>\n               <p>\n                  <code>\"Values\": [ \"MyOtherDocument/3/my-other-file.py\" ]</code>\n               </p>\n               <p>However, if the SSM document is shared with you from another account, the full SSM\n     document ARN must be specified instead of the document name only. For example:</p>\n               <p>\n                  <code>\"Values\": [\n      \"arn:aws:ssm:us-east-2:111122223333:document/OtherAccountDocument/3/their-file.py\"\n      ]</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifying information about a document attachment, including the file name and a key-value\n   pair that identifies the location of an attachment to a document.</p>"
      }
    },
    "com.amazonaws.ssm#AttachmentsSourceKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SourceUrl",
            "name": "SourceUrl"
          },
          {
            "value": "S3FileUrl",
            "name": "S3FileUrl"
          },
          {
            "value": "AttachmentReference",
            "name": "AttachmentReference"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AttachmentsSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AttachmentsSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.ssm#AttachmentsSourceValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.ssm#AttachmentsSourceValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AttachmentsSourceValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.ssm#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.ssm#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        }
      }
    },
    "com.amazonaws.ssm#AutomationActionName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^aws:[a-zA-Z]{3,25}$"
      }
    },
    "com.amazonaws.ssm#AutomationDefinitionNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Automation document with the specified name could not be found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationDefinitionVersionNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Automation document with the specified name and version could not be found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationExecution": {
      "type": "structure",
      "members": {
        "AutomationExecutionId": {
          "target": "com.amazonaws.ssm#AutomationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution ID.</p>"
          }
        },
        "AutomationExecutionStatus": {
          "target": "com.amazonaws.ssm#AutomationExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The execution status of the Automation.</p>"
          }
        },
        "CurrentAction": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The action of the step that is currently running.</p>"
          }
        },
        "CurrentStepName": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step that is currently running.</p>"
          }
        },
        "DocumentName": {
          "target": "com.amazonaws.ssm#DocumentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Automation document used during the execution.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the document to use during execution.</p>"
          }
        },
        "ExecutedBy": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user who ran the automation.</p>"
          }
        },
        "ExecutionEndTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution finished.</p>"
          }
        },
        "ExecutionStartTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution started.</p>"
          }
        },
        "FailureMessage": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing why an execution has failed, if the status is set to Failed.</p>"
          }
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The MaxConcurrency value specified by the user when the execution started.</p>"
          }
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {
            "smithy.api#documentation": "<p>The MaxErrors value specified by the user when the execution started.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.ssm#ExecutionMode",
          "traits": {
            "smithy.api#documentation": "<p>The automation execution mode.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.ssm#AutomationParameterMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the automation document.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.ssm#AutomationParameterMap",
          "traits": {
            "smithy.api#documentation": "<p>The key-value map of execution parameters, which were supplied when calling\n   StartAutomationExecution.</p>"
          }
        },
        "ParentAutomationExecutionId": {
          "target": "com.amazonaws.ssm#AutomationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The AutomationExecutionId of the parent automation.</p>"
          }
        },
        "ProgressCounters": {
          "target": "com.amazonaws.ssm#ProgressCounters",
          "traits": {
            "smithy.api#documentation": "<p>An aggregate of step execution statuses displayed in the AWS Console for a multi-Region and\n   multi-account Automation execution.</p>"
          }
        },
        "ResolvedTargets": {
          "target": "com.amazonaws.ssm#ResolvedTargets",
          "traits": {
            "smithy.api#documentation": "<p>A list of resolved targets in the rate control execution.</p>"
          }
        },
        "StepExecutions": {
          "target": "com.amazonaws.ssm#StepExecutionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of details about the current state of all steps that comprise an execution. An\n   Automation document contains a list of steps that are run in order.</p>"
          }
        },
        "StepExecutionsTruncated": {
          "target": "com.amazonaws.ssm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value that indicates if the response contains the full list of the Automation step\n   executions. If true, use the DescribeAutomationStepExecutions API action to get the full list of\n   step executions.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The target of the execution.</p>"
          }
        },
        "TargetLocations": {
          "target": "com.amazonaws.ssm#TargetLocations",
          "traits": {
            "smithy.api#documentation": "<p>The combination of AWS Regions and/or AWS accounts where you want to run the\n   Automation.</p>"
          }
        },
        "TargetMaps": {
          "target": "com.amazonaws.ssm#TargetMaps",
          "traits": {
            "smithy.api#documentation": "<p>The specified key-value mapping of document parameters to target resources.</p>"
          }
        },
        "TargetParameterName": {
          "target": "com.amazonaws.ssm#AutomationParameterKey",
          "traits": {
            "smithy.api#documentation": "<p>The parameter name.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The specified targets.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about the current state of an individual Automation execution.</p>"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ssm#AutomationExecutionFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>One or more keys to limit the results. Valid filter keys include the following:\n   DocumentNamePrefix, ExecutionStatus, ExecutionId, ParentExecutionId, CurrentAction,\n   StartTimeBefore, StartTimeAfter.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.ssm#AutomationExecutionFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>The values used to limit the execution information associated with the filter's key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter used to match specific automation executions. This is used to limit the scope of\n   Automation execution information returned.</p>"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DocumentNamePrefix",
            "name": "DOCUMENT_NAME_PREFIX"
          },
          {
            "value": "ExecutionStatus",
            "name": "EXECUTION_STATUS"
          },
          {
            "value": "ExecutionId",
            "name": "EXECUTION_ID"
          },
          {
            "value": "ParentExecutionId",
            "name": "PARENT_EXECUTION_ID"
          },
          {
            "value": "CurrentAction",
            "name": "CURRENT_ACTION"
          },
          {
            "value": "StartTimeBefore",
            "name": "START_TIME_BEFORE"
          },
          {
            "value": "StartTimeAfter",
            "name": "START_TIME_AFTER"
          },
          {
            "value": "AutomationType",
            "name": "AUTOMATION_TYPE"
          },
          {
            "value": "TagKey",
            "name": "TAG_KEY"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AutomationExecutionFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        }
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AutomationExecutionFilterValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.ssm#AutomationExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        }
      }
    },
    "com.amazonaws.ssm#AutomationExecutionLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of simultaneously running Automation executions exceeded the allowable\n   limit.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionMetadata": {
      "type": "structure",
      "members": {
        "AutomationExecutionId": {
          "target": "com.amazonaws.ssm#AutomationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution ID.</p>"
          }
        },
        "AutomationExecutionStatus": {
          "target": "com.amazonaws.ssm#AutomationExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the execution.</p>"
          }
        },
        "AutomationType": {
          "target": "com.amazonaws.ssm#AutomationType",
          "traits": {
            "smithy.api#documentation": "<p>Use this filter with <a>DescribeAutomationExecutions</a>. Specify either Local or\n   CrossAccount. CrossAccount is an Automation that runs in multiple AWS Regions and accounts. For\n   more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-automation-multiple-accounts-and-regions.html\">Executing\n    Automations in Multiple AWS Regions and Accounts</a> in the\n    <i>AWS Systems Manager User Guide</i>. </p>"
          }
        },
        "CurrentAction": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The action of the step that is currently running.</p>"
          }
        },
        "CurrentStepName": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step that is currently running.</p>"
          }
        },
        "DocumentName": {
          "target": "com.amazonaws.ssm#DocumentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Automation document used during execution.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The document version used during the execution.</p>"
          }
        },
        "ExecutedBy": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role ARN of the user who ran the Automation.</p>"
          }
        },
        "ExecutionEndTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution finished. This is not populated if the execution is still in\n   progress.</p>"
          }
        },
        "ExecutionStartTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution started.</p>"
          }
        },
        "FailureMessage": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the Automation document.</p>"
          }
        },
        "LogFile": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon S3 bucket where execution information is stored.</p>"
          }
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The MaxConcurrency value specified by the user when starting the Automation.</p>"
          }
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {
            "smithy.api#documentation": "<p>The MaxErrors value specified by the user when starting the Automation.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.ssm#ExecutionMode",
          "traits": {
            "smithy.api#documentation": "<p>The Automation execution mode.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.ssm#AutomationParameterMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the Automation document.</p>"
          }
        },
        "ParentAutomationExecutionId": {
          "target": "com.amazonaws.ssm#AutomationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The ExecutionId of the parent Automation.</p>"
          }
        },
        "ResolvedTargets": {
          "target": "com.amazonaws.ssm#ResolvedTargets",
          "traits": {
            "smithy.api#documentation": "<p>A list of targets that resolved during the execution.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the Automation document.</p>"
          }
        },
        "TargetMaps": {
          "target": "com.amazonaws.ssm#TargetMaps",
          "traits": {
            "smithy.api#documentation": "<p>The specified key-value mapping of document parameters to target resources.</p>"
          }
        },
        "TargetParameterName": {
          "target": "com.amazonaws.ssm#AutomationParameterKey",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the Automation document.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The targets defined by the user when starting the Automation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a specific Automation execution.</p>"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AutomationExecutionMetadata"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is no automation execution information for the requested automation execution\n   ID.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Pending",
            "name": "PENDING"
          },
          {
            "value": "InProgress",
            "name": "INPROGRESS"
          },
          {
            "value": "Waiting",
            "name": "WAITING"
          },
          {
            "value": "Success",
            "name": "SUCCESS"
          },
          {
            "value": "TimedOut",
            "name": "TIMEDOUT"
          },
          {
            "value": "Cancelling",
            "name": "CANCELLING"
          },
          {
            "value": "Cancelled",
            "name": "CANCELLED"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AutomationParameterKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.ssm#AutomationParameterMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.ssm#AutomationParameterKey"
      },
      "value": {
        "target": "com.amazonaws.ssm#AutomationParameterValueList"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.ssm#AutomationParameterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.ssm#AutomationParameterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AutomationParameterValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.ssm#AutomationStepNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified step name and execution ID don't exist. Verify the information and try\n   again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationTargetParameterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.ssm#AutomationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CrossAccount",
            "name": "CrossAccount"
          },
          {
            "value": "Local",
            "name": "Local"
          }
        ]
      }
    },
    "com.amazonaws.ssm#BaselineDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.ssm#BaselineId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-:/]{20,128}$"
      }
    },
    "com.amazonaws.ssm#BaselineName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]{3,128}$"
      }
    },
    "com.amazonaws.ssm#BatchErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.ssm#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.ssm#CalendarNameOrARN": {
      "type": "string"
    },
    "com.amazonaws.ssm#CalendarNameOrARNList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#CalendarNameOrARN"
      }
    },
    "com.amazonaws.ssm#CalendarState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OPEN",
            "name": "OPEN"
          },
          {
            "value": "CLOSED",
            "name": "CLOSED"
          }
        ]
      }
    },
    "com.amazonaws.ssm#CancelCommand": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssm#CancelCommandRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#CancelCommandResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssm#DuplicateInstanceId"
        },
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#InvalidCommandId"
        },
        {
          "target": "com.amazonaws.ssm#InvalidInstanceId"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attempts to cancel the command specified by the Command ID. There is no guarantee that the\n   command will be terminated and the underlying process stopped.</p>"
      }
    },
    "com.amazonaws.ssm#CancelCommandRequest": {
      "type": "structure",
      "members": {
        "CommandId": {
          "target": "com.amazonaws.ssm#CommandId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the command you want to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceIds": {
          "target": "com.amazonaws.ssm#InstanceIdList",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided,\n   the command is canceled on every instance on which it was requested.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.ssm#CancelCommandResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Whether or not the command was successfully canceled. There is no guarantee that a request\n   can be canceled.</p>"
      }
    },
    "com.amazonaws.ssm#CancelMaintenanceWindowExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssm#CancelMaintenanceWindowExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#CancelMaintenanceWindowExecutionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssm#DoesNotExistException"
        },
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops a maintenance window execution that is already in progress and cancels any tasks in\n   the window that have not already starting running. (Tasks already in progress will continue to\n   completion.)</p>"
      }
    },
    "com.amazonaws.ssm#CancelMaintenanceWindowExecutionRequest": {
      "type": "structure",
      "members": {
        "WindowExecutionId": {
          "target": "com.amazonaws.ssm#MaintenanceWindowExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the maintenance window execution to stop.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssm#CancelMaintenanceWindowExecutionResult": {
      "type": "structure",
      "members": {
        "WindowExecutionId": {
          "target": "com.amazonaws.ssm#MaintenanceWindowExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the maintenance window execution that has been stopped.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssm#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.ssm#CloudWatchLogGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.ssm#CloudWatchOutputConfig": {
      "type": "structure",
      "members": {
        "CloudWatchLogGroupName": {
          "target": "com.amazonaws.ssm#CloudWatchLogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch log group where you want to send command output. If you don't\n   specify a group name, Systems Manager automatically creates a log group for you. The log group uses the\n   following naming format: aws/ssm/<i>SystemsManagerDocumentName</i>.</p>"
          }
        },
        "CloudWatchOutputEnabled": {
          "target": "com.amazonaws.ssm#CloudWatchOutputEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Enables Systems Manager to send command output to CloudWatch Logs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration options for sending command output to CloudWatch Logs.</p>"
      }
    },
    "com.amazonaws.ssm#CloudWatchOutputEnabled": {
      "type": "boolean"
    },
    "com.amazonaws.ssm#Command": {
      "type": "structure",
      "members": {
        "CloudWatchOutputConfig": {
          "target": "com.amazonaws.ssm#CloudWatchOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>CloudWatch Logs information where you want Systems Manager to send the command output.</p>"
          }
        },
        "CommandId": {
          "target": "com.amazonaws.ssm#CommandId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this command.</p>"
          }
        },
        "Comment": {
          "target": "com.amazonaws.ssm#Comment",
          "traits": {
            "smithy.api#documentation": "<p>User-specified information about the command, such as a brief description of what the\n   command should do.</p>"
          }
        },
        "CompletedCount": {
          "target": "com.amazonaws.ssm#CompletedCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of targets for which the command invocation reached a terminal state. Terminal\n   states include the following: Success, Failed, Execution Timed Out, Delivery Timed Out, Canceled,\n   Terminated, or Undeliverable.</p>"
          }
        },
        "DeliveryTimedOutCount": {
          "target": "com.amazonaws.ssm#DeliveryTimedOutCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of targets for which the status is Delivery Timed Out.</p>"
          }
        },
        "DocumentName": {
          "target": "com.amazonaws.ssm#DocumentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the document requested for execution.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The SSM document version.</p>"
          }
        },
        "ErrorCount": {
          "target": "com.amazonaws.ssm#ErrorCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of targets for which the status is Failed or Execution Timed Out.</p>"
          }
        },
        "ExpiresAfter": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>If this time is reached and the command has not already started running, it will not run.\n   Calculated based on the ExpiresAfter user input provided as part of the SendCommand API.</p>"
          }
        },
        "InstanceIds": {
          "target": "com.amazonaws.ssm#InstanceIdList",
          "traits": {
            "smithy.api#documentation": "<p>The instance IDs against which this command was requested.</p>"
          }
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of instances that are allowed to run the command at the same time. You\n   can specify a number of instances, such as 10, or a percentage of instances, such as 10%. The\n   default value is 50. For more information about how to use MaxConcurrency, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/run-command.html\">Running Commands Using Systems Manager Run Command</a> in the\n    <i>AWS Systems Manager User Guide</i>.</p>"
          }
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of errors allowed before the system stops sending the command to\n   additional targets. You can specify a number of errors, such as 10, or a percentage or errors,\n   such as 10%. The default value is 0. For more information about how to use MaxErrors, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/run-command.html\">Running Commands Using Systems Manager Run Command</a> in the\n    <i>AWS Systems Manager User Guide</i>.</p>"
          }
        },
        "NotificationConfig": {
          "target": "com.amazonaws.ssm#NotificationConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configurations for sending notifications about command status changes. </p>"
          }
        },
        "OutputS3BucketName": {
          "target": "com.amazonaws.ssm#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket where the responses to the command executions should be stored. This was\n   requested when issuing the command.</p>"
          }
        },
        "OutputS3KeyPrefix": {
          "target": "com.amazonaws.ssm#S3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The S3 directory path inside the bucket where the responses to the command executions should\n   be stored. This was requested when issuing the command.</p>"
          }
        },
        "OutputS3Region": {
          "target": "com.amazonaws.ssm#S3Region",
          "traits": {
            "smithy.api#documentation": "<p>(Deprecated) You can no longer specify this parameter. The system ignores it. Instead, Systems Manager\n   automatically determines the Amazon S3 bucket region.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.ssm#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameter values to be inserted in the document when running the command.</p>"
          }
        },
        "RequestedDateTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the command was requested.</p>"
          }
        },
        "ServiceRole": {
          "target": "com.amazonaws.ssm#ServiceRole",
          "traits": {
            "smithy.api#documentation": "<p>The IAM service role that Run Command uses to act on your behalf when sending notifications\n   about command status changes. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssm#CommandStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the command.</p>"
          }
        },
        "StatusDetails": {
          "target": "com.amazonaws.ssm#StatusDetails",
          "traits": {
            "smithy.api#documentation": "<p>A detailed status of the command execution. StatusDetails includes more information than\n   Status because it includes states resulting from error and concurrency control parameters.\n   StatusDetails can show different results than Status. For more information about these statuses,\n   see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/monitor-commands.html\">Understanding Command Statuses</a> in\n   the <i>AWS Systems Manager User Guide</i>. StatusDetails can be one of the following\n   values:</p>\n         <ul>\n            <li>\n               <p>Pending: The command has not been sent to any instances.</p>\n            </li>\n            <li>\n               <p>In Progress: The command has been sent to at least one instance but has not reached a\n     final state on all instances.</p>\n            </li>\n            <li>\n               <p>Success: The command successfully ran on all invocations. This is a terminal state.</p>\n            </li>\n            <li>\n               <p>Delivery Timed Out: The value of MaxErrors or more command invocations shows a status of\n     Delivery Timed Out. This is a terminal state.</p>\n            </li>\n            <li>\n               <p>Execution Timed Out: The value of MaxErrors or more command invocations shows a status of\n     Execution Timed Out. This is a terminal state.</p>\n            </li>\n            <li>\n               <p>Failed: The value of MaxErrors or more command invocations shows a status of Failed. This\n     is a terminal state.</p>\n            </li>\n            <li>\n               <p>Incomplete: The command was attempted on all instances and one or more invocations does\n     not have a value of Success but not enough invocations failed for the status to be Failed. This\n     is a terminal state.</p>\n            </li>\n            <li>\n               <p>Canceled: The command was terminated before it was completed. This is a terminal\n     state.</p>\n            </li>\n            <li>\n               <p>Rate Exceeded: The number of instances targeted by the command exceeded the account limit\n     for pending invocations. The system has canceled the command before running it on any instance.\n     This is a terminal state.</p>\n            </li>\n         </ul>"
          }
        },
        "TargetCount": {
          "target": "com.amazonaws.ssm#TargetCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of targets for the command.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>An array of search criteria that targets instances using a Key,Value combination that you\n   specify. Targets is required if you don't provide one or more instance IDs in the call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a command request.</p>"
      }
    },
    "com.amazonaws.ssm#CommandFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.ssm#CommandFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.ssm#CommandFilterValue",
          "traits": {
[...]
