{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ssm#Account": {
      "type": "string"
    },
    "com.amazonaws.ssm#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(?i)all|[0-9]{12}$"
      }
    },
    "com.amazonaws.ssm#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AccountId",
        "traits": {
          "smithy.api#xmlName": "AccountId"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.ssm#AccountSharingInfo": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ssm#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID where the current document is shared.</p>"
          }
        },
        "SharedDocumentVersion": {
          "target": "com.amazonaws.ssm#SharedDocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the current document shared with the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information includes the Amazon Web Services account ID where the current document is shared and the\n   version shared with that account.</p>"
      }
    },
    "com.amazonaws.ssm#AccountSharingInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AccountSharingInfo",
        "traits": {
          "smithy.api#xmlName": "AccountSharingInfo"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of of Amazon Web Services accounts where the current document is shared and the version shared with\n   each account.</p>"
      }
    },
    "com.amazonaws.ssm#Accounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#Account"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.ssm#Activation": {
      "type": "structure",
      "members": {
        "ActivationId": {
          "target": "com.amazonaws.ssm#ActivationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID created by Systems Manager when you submitted the activation.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.ssm#ActivationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A user defined description of the activation.</p>"
          }
        },
        "DefaultInstanceName": {
          "target": "com.amazonaws.ssm#DefaultInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the managed instance when it is created.</p>"
          }
        },
        "IamRole": {
          "target": "com.amazonaws.ssm#IamRole",
          "traits": {
            "smithy.api#documentation": "<p>The Identity and Access Management (IAM) role to assign to the managed\n   instance.</p>"
          }
        },
        "RegistrationLimit": {
          "target": "com.amazonaws.ssm#RegistrationLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of managed instances that can be registered using this activation.</p>"
          }
        },
        "RegistrationsCount": {
          "target": "com.amazonaws.ssm#RegistrationsCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of managed instances already registered with this activation.</p>"
          }
        },
        "ExpirationDate": {
          "target": "com.amazonaws.ssm#ExpirationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date when this activation can no longer be used to register managed instances.</p>"
          }
        },
        "Expired": {
          "target": "com.amazonaws.ssm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not the activation is expired.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssm#CreatedDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the activation was created.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the activation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An activation registers one or more on-premises servers or virtual machines (VMs) with Amazon Web Services\n   so that you can configure those servers or VMs using Run Command. A server or VM that has been\n   registered with Amazon Web Services Systems Manager is called a managed instance.</p>"
      }
    },
    "com.amazonaws.ssm#ActivationCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 250
        }
      }
    },
    "com.amazonaws.ssm#ActivationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.ssm#ActivationId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.ssm#ActivationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#Activation"
      }
    },
    "com.amazonaws.ssm#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssm#AddTagsToResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#AddTagsToResourceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#InvalidResourceId"
        },
        {
          "target": "com.amazonaws.ssm#InvalidResourceType"
        },
        {
          "target": "com.amazonaws.ssm#TooManyTagsError"
        },
        {
          "target": "com.amazonaws.ssm#TooManyUpdates"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or overwrites one or more tags for the specified resource. Tags are metadata that you\n   can assign to your documents, managed instances, maintenance windows, Parameter Store parameters,\n   and patch baselines. Tags enable you to categorize your resources in different ways, for example,\n   by purpose, owner, or environment. Each tag consists of a key and an optional value, both of\n   which you define. For example, you could define a set of tags for your account's managed\n   instances that helps you track each instance's owner and stack level. For example:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Key=Owner,Value=DbAdmin</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Key=Owner,Value=SysAdmin</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Key=Owner,Value=Dev</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Key=Stack,Value=Production</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Key=Stack,Value=Pre-Production</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Key=Stack,Value=Test</code>\n               </p>\n            </li>\n         </ul>\n         <p>Each resource can have a maximum of 50 tags.</p>\n         <p>We recommend that you devise a set of tag keys that meets your needs for each resource type.\n   Using a consistent set of tag keys makes it easier for you to manage your resources. You can\n   search and filter the resources based on the tags you add. Tags don't have any semantic meaning\n   to and are interpreted strictly as a string of characters. </p>\n         <p>For more information about using tags with Amazon Elastic Compute Cloud (Amazon EC2) instances, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging your Amazon EC2\n    resources</a> in the <i>Amazon EC2 User Guide</i>.</p>"
      }
    },
    "com.amazonaws.ssm#AddTagsToResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.ssm#ResourceTypeForTagging",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of resource you are tagging.</p>\n         <note>\n            <p>The <code>ManagedInstance</code> type for this API operation is for on-premises managed\n    instances. You must specify the name of the managed instance in the following format:\n      <code>mi-<i>ID_number</i>\n               </code>. For example,\n    <code>mi-1a2b3c4d5e6f</code>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.ssm#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID you want to tag.</p>\n         <p>Use the ID of the resource. Here are some examples:</p>\n         <p>\n            <code>MaintenanceWindow</code>: <code>mw-012345abcde</code>\n         </p>\n         <p>\n            <code>PatchBaseline</code>: <code>pb-012345abcde</code>\n         </p>\n         <p>\n            <code>OpsMetadata</code> object: <code>ResourceID</code> for tagging is created from the\n   Amazon Resource Name (ARN) for the object. Specifically, <code>ResourceID</code> is created from\n   the strings that come after the word <code>opsmetadata</code> in the ARN. For example, an\n   OpsMetadata object with an ARN of\n    <code>arn:aws:ssm:us-east-2:1234567890:opsmetadata/aws/ssm/MyGroup/appmanager</code> has a\n    <code>ResourceID</code> of either <code>aws/ssm/MyGroup/appmanager</code> or\n    <code>/aws/ssm/MyGroup/appmanager</code>.</p>\n         <p>For the <code>Document</code> and <code>Parameter</code> values, use the name of the\n   resource.</p>\n         <p>\n            <code>ManagedInstance</code>: <code>mi-012345abcde</code>\n         </p>\n         <note>\n            <p>The <code>ManagedInstance</code> type for this API operation is only for on-premises\n    managed instances. You must specify the name of the managed instance in the following format:\n      <code>mi-<i>ID_number</i>\n               </code>. For example,\n    <code>mi-1a2b3c4d5e6f</code>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags. The value parameter is required.</p>\n         <important>\n            <p>Don't enter personally identifiable information in this field.</p>\n         </important>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssm#AddTagsToResourceResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssm#AgentErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.ssm#AggregatorSchemaOnly": {
      "type": "boolean"
    },
    "com.amazonaws.ssm#AllowedPattern": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.ssm#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AlreadyExistsException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>Error returned if an attempt is made to register a patch group with a patch baseline that is\n   already registered with a different patch baseline.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AmazonSSM": {
      "type": "service",
      "version": "2014-11-06",
      "operations": [
        {
          "target": "com.amazonaws.ssm#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.ssm#AssociateOpsItemRelatedItem"
        },
        {
          "target": "com.amazonaws.ssm#CancelCommand"
        },
        {
          "target": "com.amazonaws.ssm#CancelMaintenanceWindowExecution"
        },
        {
          "target": "com.amazonaws.ssm#CreateActivation"
        },
        {
          "target": "com.amazonaws.ssm#CreateAssociation"
        },
        {
          "target": "com.amazonaws.ssm#CreateAssociationBatch"
        },
        {
          "target": "com.amazonaws.ssm#CreateDocument"
        },
        {
          "target": "com.amazonaws.ssm#CreateMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#CreateOpsItem"
        },
        {
          "target": "com.amazonaws.ssm#CreateOpsMetadata"
        },
        {
          "target": "com.amazonaws.ssm#CreatePatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#CreateResourceDataSync"
        },
        {
          "target": "com.amazonaws.ssm#DeleteActivation"
        },
        {
          "target": "com.amazonaws.ssm#DeleteAssociation"
        },
        {
          "target": "com.amazonaws.ssm#DeleteDocument"
        },
        {
          "target": "com.amazonaws.ssm#DeleteInventory"
        },
        {
          "target": "com.amazonaws.ssm#DeleteMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#DeleteOpsMetadata"
        },
        {
          "target": "com.amazonaws.ssm#DeleteParameter"
        },
        {
          "target": "com.amazonaws.ssm#DeleteParameters"
        },
        {
          "target": "com.amazonaws.ssm#DeletePatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#DeleteResourceDataSync"
        },
        {
          "target": "com.amazonaws.ssm#DeregisterManagedInstance"
        },
        {
          "target": "com.amazonaws.ssm#DeregisterPatchBaselineForPatchGroup"
        },
        {
          "target": "com.amazonaws.ssm#DeregisterTargetFromMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#DeregisterTaskFromMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#DescribeActivations"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAssociation"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAssociationExecutions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAssociationExecutionTargets"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAutomationExecutions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAutomationStepExecutions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAvailablePatches"
        },
        {
          "target": "com.amazonaws.ssm#DescribeDocument"
        },
        {
          "target": "com.amazonaws.ssm#DescribeDocumentPermission"
        },
        {
          "target": "com.amazonaws.ssm#DescribeEffectiveInstanceAssociations"
        },
        {
          "target": "com.amazonaws.ssm#DescribeEffectivePatchesForPatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstanceAssociationsStatus"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstanceInformation"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstancePatches"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstancePatchStates"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInstancePatchStatesForPatchGroup"
        },
        {
          "target": "com.amazonaws.ssm#DescribeInventoryDeletions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowExecutions"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowExecutionTaskInvocations"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowExecutionTasks"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindows"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowSchedule"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowsForTarget"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowTargets"
        },
        {
          "target": "com.amazonaws.ssm#DescribeMaintenanceWindowTasks"
        },
        {
          "target": "com.amazonaws.ssm#DescribeOpsItems"
        },
        {
          "target": "com.amazonaws.ssm#DescribeParameters"
        },
        {
          "target": "com.amazonaws.ssm#DescribePatchBaselines"
        },
        {
          "target": "com.amazonaws.ssm#DescribePatchGroups"
        },
        {
          "target": "com.amazonaws.ssm#DescribePatchGroupState"
        },
        {
          "target": "com.amazonaws.ssm#DescribePatchProperties"
        },
        {
          "target": "com.amazonaws.ssm#DescribeSessions"
        },
        {
          "target": "com.amazonaws.ssm#DisassociateOpsItemRelatedItem"
        },
        {
          "target": "com.amazonaws.ssm#GetAutomationExecution"
        },
        {
          "target": "com.amazonaws.ssm#GetCalendarState"
        },
        {
          "target": "com.amazonaws.ssm#GetCommandInvocation"
        },
        {
          "target": "com.amazonaws.ssm#GetConnectionStatus"
        },
        {
          "target": "com.amazonaws.ssm#GetDefaultPatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#GetDeployablePatchSnapshotForInstance"
        },
        {
          "target": "com.amazonaws.ssm#GetDocument"
        },
        {
          "target": "com.amazonaws.ssm#GetInventory"
        },
        {
          "target": "com.amazonaws.ssm#GetInventorySchema"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindowExecution"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindowExecutionTask"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindowExecutionTaskInvocation"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindowTask"
        },
        {
          "target": "com.amazonaws.ssm#GetOpsItem"
        },
        {
          "target": "com.amazonaws.ssm#GetOpsMetadata"
        },
        {
          "target": "com.amazonaws.ssm#GetOpsSummary"
        },
        {
          "target": "com.amazonaws.ssm#GetParameter"
        },
        {
          "target": "com.amazonaws.ssm#GetParameterHistory"
        },
        {
          "target": "com.amazonaws.ssm#GetParameters"
        },
        {
          "target": "com.amazonaws.ssm#GetParametersByPath"
        },
        {
          "target": "com.amazonaws.ssm#GetPatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#GetPatchBaselineForPatchGroup"
        },
        {
          "target": "com.amazonaws.ssm#GetServiceSetting"
        },
        {
          "target": "com.amazonaws.ssm#LabelParameterVersion"
        },
        {
          "target": "com.amazonaws.ssm#ListAssociations"
        },
        {
          "target": "com.amazonaws.ssm#ListAssociationVersions"
        },
        {
          "target": "com.amazonaws.ssm#ListCommandInvocations"
        },
        {
          "target": "com.amazonaws.ssm#ListCommands"
        },
        {
          "target": "com.amazonaws.ssm#ListComplianceItems"
        },
        {
          "target": "com.amazonaws.ssm#ListComplianceSummaries"
        },
        {
          "target": "com.amazonaws.ssm#ListDocumentMetadataHistory"
        },
        {
          "target": "com.amazonaws.ssm#ListDocuments"
        },
        {
          "target": "com.amazonaws.ssm#ListDocumentVersions"
        },
        {
          "target": "com.amazonaws.ssm#ListInventoryEntries"
        },
        {
          "target": "com.amazonaws.ssm#ListOpsItemEvents"
        },
        {
          "target": "com.amazonaws.ssm#ListOpsItemRelatedItems"
        },
        {
          "target": "com.amazonaws.ssm#ListOpsMetadata"
        },
        {
          "target": "com.amazonaws.ssm#ListResourceComplianceSummaries"
        },
        {
          "target": "com.amazonaws.ssm#ListResourceDataSync"
        },
        {
          "target": "com.amazonaws.ssm#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.ssm#ModifyDocumentPermission"
        },
        {
          "target": "com.amazonaws.ssm#PutComplianceItems"
        },
        {
          "target": "com.amazonaws.ssm#PutInventory"
        },
        {
          "target": "com.amazonaws.ssm#PutParameter"
        },
        {
          "target": "com.amazonaws.ssm#RegisterDefaultPatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#RegisterPatchBaselineForPatchGroup"
        },
        {
          "target": "com.amazonaws.ssm#RegisterTargetWithMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#RegisterTaskWithMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.ssm#ResetServiceSetting"
        },
        {
          "target": "com.amazonaws.ssm#ResumeSession"
        },
        {
          "target": "com.amazonaws.ssm#SendAutomationSignal"
        },
        {
          "target": "com.amazonaws.ssm#SendCommand"
        },
        {
          "target": "com.amazonaws.ssm#StartAssociationsOnce"
        },
        {
          "target": "com.amazonaws.ssm#StartAutomationExecution"
        },
        {
          "target": "com.amazonaws.ssm#StartChangeRequestExecution"
        },
        {
          "target": "com.amazonaws.ssm#StartSession"
        },
        {
          "target": "com.amazonaws.ssm#StopAutomationExecution"
        },
        {
          "target": "com.amazonaws.ssm#TerminateSession"
        },
        {
          "target": "com.amazonaws.ssm#UnlabelParameterVersion"
        },
        {
          "target": "com.amazonaws.ssm#UpdateAssociation"
        },
        {
          "target": "com.amazonaws.ssm#UpdateAssociationStatus"
        },
        {
          "target": "com.amazonaws.ssm#UpdateDocument"
        },
        {
          "target": "com.amazonaws.ssm#UpdateDocumentDefaultVersion"
        },
        {
          "target": "com.amazonaws.ssm#UpdateDocumentMetadata"
        },
        {
          "target": "com.amazonaws.ssm#UpdateMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#UpdateMaintenanceWindowTarget"
        },
        {
          "target": "com.amazonaws.ssm#UpdateMaintenanceWindowTask"
        },
        {
          "target": "com.amazonaws.ssm#UpdateManagedInstanceRole"
        },
        {
          "target": "com.amazonaws.ssm#UpdateOpsItem"
        },
        {
          "target": "com.amazonaws.ssm#UpdateOpsMetadata"
        },
        {
          "target": "com.amazonaws.ssm#UpdatePatchBaseline"
        },
        {
          "target": "com.amazonaws.ssm#UpdateResourceDataSync"
        },
        {
          "target": "com.amazonaws.ssm#UpdateServiceSetting"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SSM",
          "arnNamespace": "ssm",
          "cloudFormationName": "SSM",
          "cloudTrailEventSource": "ssm.amazonaws.com",
          "endpointPrefix": "ssm"
        },
        "aws.auth#sigv4": {
          "name": "ssm"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Web Services Systems Manager is a collection of capabilities that helps you automate management tasks such as\n   collecting system inventory, applying operating system (OS) patches, automating the creation of\n   Amazon Machine Images (AMIs), and configuring operating systems (OSs) and applications at scale.\n   Systems Manager lets you remotely and securely manage the configuration of your managed instances. A\n    <i>managed instance</i> is any Amazon Elastic Compute Cloud instance (EC2 instance), or any\n   on-premises server or virtual machine (VM) in your hybrid environment that has been configured\n   for Systems Manager.</p>\n         <p>This reference is intended to be used with the <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/\">Amazon Web Services Systems Manager User Guide</a>.</p>\n         <p>To get started, verify prerequisites and configure managed instances. For more information,\n   see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-setting-up.html\">Setting up\n    Amazon Web Services Systems Manager</a> in the <i>Amazon Web Services Systems Manager User Guide</i>.</p>\n         <p class=\"title\">\n            <b>Related resources</b>\n         </p>\n         <ul>\n            <li>\n               <p>For information about how to use a Query API, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/making-api-requests.html\">Making API requests</a>. </p>\n            </li>\n            <li>\n               <p>For information about other API operations you can perform on EC2 instances, see the\n      <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/\">Amazon EC2 API Reference</a>.</p>\n            </li>\n            <li>\n               <p>For information about AppConfig, a capability of Systems Manager, see the <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/\">AppConfig User Guide</a> and the <a href=\"https://docs.aws.amazon.com/appconfig/2019-10-09/APIReference/\">AppConfig API\n     Reference</a>.</p>\n            </li>\n            <li>\n               <p>For information about Incident Manager, a capability of Systems Manager, see the <a href=\"https://docs.aws.amazon.com/incident-manager/latest/userguide/\">Incident Manager User Guide</a>\n     and the <a href=\"https://docs.aws.amazon.com/incident-manager/latest/APIReference/\">Incident Manager API\n      Reference</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon Simple Systems Manager (SSM)",
        "smithy.api#xmlNamespace": {
          "uri": "http://ssm.amazonaws.com/doc/2014-11-06/"
        }
      }
    },
    "com.amazonaws.ssm#ApplyOnlyAtCronInterval": {
      "type": "boolean"
    },
    "com.amazonaws.ssm#ApproveAfterDays": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 360
        }
      }
    },
    "com.amazonaws.ssm#AssociateOpsItemRelatedItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssm#AssociateOpsItemRelatedItemRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#AssociateOpsItemRelatedItemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#OpsItemInvalidParameterException"
        },
        {
          "target": "com.amazonaws.ssm#OpsItemLimitExceededException"
        },
        {
          "target": "com.amazonaws.ssm#OpsItemNotFoundException"
        },
        {
          "target": "com.amazonaws.ssm#OpsItemRelatedItemAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a related resource to a Systems Manager OpsCenter OpsItem. For example, you can associate\n   an Incident Manager incident or analysis with an OpsItem. Incident Manager is a capability of\n   Amazon Web Services Systems Manager.</p>"
      }
    },
    "com.amazonaws.ssm#AssociateOpsItemRelatedItemRequest": {
      "type": "structure",
      "members": {
        "OpsItemId": {
          "target": "com.amazonaws.ssm#OpsItemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the OpsItem to which you want to associate a resource as a related item.</p>",
            "smithy.api#required": {}
          }
        },
        "AssociationType": {
          "target": "com.amazonaws.ssm#OpsItemRelatedItemAssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association that you want to create between an OpsItem and a resource. OpsCenter\n   supports <code>IsParentOf</code> and <code>RelatesTo</code> association types.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssm#OpsItemRelatedItemAssociationResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that you want to associate with an OpsItem. OpsCenter supports the\n   following types:</p>\n         <p>\n            <code>AWS::SSMIncidents::IncidentRecord</code>: an Incident Manager incident. Incident Manager is a\n   capability of Amazon Web Services Systems Manager.</p>\n         <p>\n            <code>AWS::SSM::Document</code>: a Systems Manager (SSM) document.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceUri": {
          "target": "com.amazonaws.ssm#OpsItemRelatedItemAssociationResourceUri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services resource that you want to associate with the\n   OpsItem.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssm#AssociateOpsItemRelatedItemResponse": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#OpsItemRelatedItemAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The association ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssm#AssociatedInstances": {
      "type": "structure",
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociatedInstances",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>You must disassociate a document from all instances before you can delete it.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#Association": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssm#DocumentARN",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SSM document.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.ssm#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The instance ID.</p>"
          }
        },
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID created by the system when you create an association. An association is a binding\n   between a document and a set of targets with a schedule.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the document used in the association.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The instances targeted by the request to create an association. </p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date on which the association was last run.</p>"
          }
        },
        "Overview": {
          "target": "com.amazonaws.ssm#AssociationOverview",
          "traits": {
            "smithy.api#documentation": "<p>Information about the association.</p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.ssm#ScheduleExpression",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression that specifies a schedule when the association runs. The schedule runs in\n   Coordinated Universal Time (UTC).</p>"
          }
        },
        "AssociationName": {
          "target": "com.amazonaws.ssm#AssociationName",
          "traits": {
            "smithy.api#documentation": "<p>The association name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an association of a Amazon Web Services Systems Manager document (SSM document) and an instance.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationAlreadyExists": {
      "type": "structure",
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified association already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationComplianceSeverity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CRITICAL",
            "name": "Critical"
          },
          {
            "value": "HIGH",
            "name": "High"
          },
          {
            "value": "MEDIUM",
            "name": "Medium"
          },
          {
            "value": "LOW",
            "name": "Low"
          },
          {
            "value": "UNSPECIFIED",
            "name": "Unspecified"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationDescription": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssm#DocumentARN",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SSM document.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.ssm#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The instance ID.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "Date": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the association was made.</p>"
          }
        },
        "LastUpdateAssociationDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the association was last updated.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssm#AssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The association status.</p>"
          }
        },
        "Overview": {
          "target": "com.amazonaws.ssm#AssociationOverview",
          "traits": {
            "smithy.api#documentation": "<p>Information about the association.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The document version.</p>"
          }
        },
        "AutomationTargetParameterName": {
          "target": "com.amazonaws.ssm#AutomationTargetParameterName",
          "traits": {
            "smithy.api#documentation": "<p>Specify the target for the association. This target is required for associations that use an\n   Automation runbook and target resources by using rate controls. Automation is a capability of\n   Amazon Web Services Systems Manager.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.ssm#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A description of the parameters for a document. </p>"
          }
        },
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The association ID.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The instances targeted by the request. </p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.ssm#ScheduleExpression",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression that specifies a schedule when the association runs.</p>"
          }
        },
        "OutputLocation": {
          "target": "com.amazonaws.ssm#InstanceAssociationOutputLocation",
          "traits": {
            "smithy.api#documentation": "<p>An S3 bucket where you want to store the output details of the request.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date on which the association was last run.</p>"
          }
        },
        "LastSuccessfulExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The last date on which the association was successfully run.</p>"
          }
        },
        "AssociationName": {
          "target": "com.amazonaws.ssm#AssociationName",
          "traits": {
            "smithy.api#documentation": "<p>The association name.</p>"
          }
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {
            "smithy.api#documentation": "<p>The number of errors that are allowed before the system stops sending requests to run the\n   association on additional targets. You can specify either an absolute number of errors, for\n   example 10, or a percentage of the target set, for example 10%. If you specify 3, for example,\n   the system stops sending requests when the fourth error is received. If you specify 0, then the\n   system stops sending requests after the first error is returned. If you run an association on 50\n   instances and set <code>MaxError</code> to 10%, then the system stops sending the request when\n   the sixth error is received.</p>\n         <p>Executions that are already running an association when <code>MaxErrors</code> is reached\n   are allowed to complete, but some of these executions may fail as well. If you need to ensure\n   that there won't be more than max-errors failed executions, set <code>MaxConcurrency</code> to 1\n   so that executions proceed one at a time.</p>"
          }
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of targets allowed to run the association at the same time. You can\n   specify a number, for example 10, or a percentage of the target set, for example 10%. The default\n   value is 100%, which means all targets run the association at the same time.</p>\n         <p>If a new instance starts and attempts to run an association while Systems Manager is running\n    <code>MaxConcurrency</code> associations, the association is allowed to run. During the next\n   association interval, the new instance will process its association within the limit specified\n   for <code>MaxConcurrency</code>.</p>"
          }
        },
        "ComplianceSeverity": {
          "target": "com.amazonaws.ssm#AssociationComplianceSeverity",
          "traits": {
            "smithy.api#documentation": "<p>The severity level that is assigned to the association.</p>"
          }
        },
        "SyncCompliance": {
          "target": "com.amazonaws.ssm#AssociationSyncCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The mode for generating association compliance. You can specify <code>AUTO</code> or\n    <code>MANUAL</code>. In <code>AUTO</code> mode, the system uses the status of the association\n   execution to determine the compliance status. If the association execution runs successfully,\n   then the association is <code>COMPLIANT</code>. If the association execution doesn't run\n   successfully, the association is <code>NON-COMPLIANT</code>.</p>\n         <p>In <code>MANUAL</code> mode, you must specify the <code>AssociationId</code> as a parameter\n   for the <a>PutComplianceItems</a> API operation. In this case, compliance data isn't\n   managed by State Manager, a capability of Amazon Web Services Systems Manager. It is managed by your direct call to the\n    <a>PutComplianceItems</a> API operation.</p>\n         <p>By default, all associations use <code>AUTO</code> mode.</p>"
          }
        },
        "ApplyOnlyAtCronInterval": {
          "target": "com.amazonaws.ssm#ApplyOnlyAtCronInterval",
          "traits": {
            "smithy.api#documentation": "<p>By default, when you create a new associations, the system runs it immediately after it is\n   created and then according to the schedule you specified. Specify this option if you don't want\n   an association to run immediately after you create it. This parameter isn't supported for rate\n   expressions.</p>"
          }
        },
        "CalendarNames": {
          "target": "com.amazonaws.ssm#CalendarNameOrARNList",
          "traits": {
            "smithy.api#documentation": "<p>The names or Amazon Resource Names (ARNs) of the Change Calendar type documents your\n   associations are gated under. The associations only run when that change calendar is open. For\n   more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-change-calendar\">Amazon Web Services Systems Manager Change\n    Calendar</a>.</p>"
          }
        },
        "TargetLocations": {
          "target": "com.amazonaws.ssm#TargetLocations",
          "traits": {
            "smithy.api#documentation": "<p>The combination of Amazon Web Services Regions and Amazon Web Services accounts where you want to run the\n   association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the parameters for a document.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationDescription",
        "traits": {
          "smithy.api#xmlName": "AssociationDescription"
        }
      }
    },
    "com.amazonaws.ssm#AssociationDoesNotExist": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationDoesNotExist",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The specified association doesn't exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationExecution": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The association ID.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "ExecutionId": {
          "target": "com.amazonaws.ssm#AssociationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution ID for the association.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>The status of the association execution.</p>"
          }
        },
        "DetailedStatus": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>Detailed status information about the execution.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution started.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date of the last execution.</p>"
          }
        },
        "ResourceCountByStatus": {
          "target": "com.amazonaws.ssm#ResourceCountByStatus",
          "traits": {
            "smithy.api#documentation": "<p>An aggregate status of the resources in the execution based on the status type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes information about the specified association.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionDoesNotExist": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationExecutionDoesNotExist",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The specified execution ID doesn't exist. Verify the ID number and try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionFilter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ssm#AssociationExecutionFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The key value used in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.ssm#AssociationExecutionFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value specified for the key.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.ssm#AssociationFilterOperatorType",
          "traits": {
            "smithy.api#documentation": "<p>The filter type specified in the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters used in the request.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionFilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ExecutionId",
            "name": "ExecutionId"
          },
          {
            "value": "Status",
            "name": "Status"
          },
          {
            "value": "CreatedTime",
            "name": "CreatedTime"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationExecutionFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationExecutionFilter",
        "traits": {
          "smithy.api#xmlName": "AssociationExecutionFilter"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTarget": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The association ID.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "ExecutionId": {
          "target": "com.amazonaws.ssm#AssociationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution ID.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.ssm#AssociationResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID, for example, the instance ID where the association ran.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssm#AssociationResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type, for example, instance.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>The association execution status.</p>"
          }
        },
        "DetailedStatus": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the execution status.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date of the last execution.</p>"
          }
        },
        "OutputSource": {
          "target": "com.amazonaws.ssm#OutputSource",
          "traits": {
            "smithy.api#documentation": "<p>The location where the association details are saved.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes information about the specified association execution.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsFilter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ssm#AssociationExecutionTargetsFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The key value used in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.ssm#AssociationExecutionTargetsFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value specified for the key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters for the association execution.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsFilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Status",
            "name": "Status"
          },
          {
            "value": "ResourceId",
            "name": "ResourceId"
          },
          {
            "value": "ResourceType",
            "name": "ResourceType"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationExecutionTargetsFilter",
        "traits": {
          "smithy.api#xmlName": "AssociationExecutionTargetsFilter"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionTargetsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationExecutionTarget",
        "traits": {
          "smithy.api#xmlName": "AssociationExecutionTarget"
        }
      }
    },
    "com.amazonaws.ssm#AssociationExecutionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationExecution",
        "traits": {
          "smithy.api#xmlName": "AssociationExecution"
        }
      }
    },
    "com.amazonaws.ssm#AssociationFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.ssm#AssociationFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>\n         <note>\n            <p>\n               <code>InstanceId</code> has been deprecated.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.ssm#AssociationFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The filter value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a filter.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationFilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InstanceId",
            "name": "InstanceId"
          },
          {
            "value": "Name",
            "name": "Name"
          },
          {
            "value": "AssociationId",
            "name": "AssociationId"
          },
          {
            "value": "AssociationStatusName",
            "name": "Status"
          },
          {
            "value": "LastExecutedBefore",
            "name": "LastExecutedBefore"
          },
          {
            "value": "LastExecutedAfter",
            "name": "LastExecutedAfter"
          },
          {
            "value": "AssociationName",
            "name": "AssociationName"
          },
          {
            "value": "ResourceGroupName",
            "name": "ResourceGroupName"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationFilter",
        "traits": {
          "smithy.api#xmlName": "AssociationFilter"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationFilterOperatorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUAL",
            "name": "Equal"
          },
          {
            "value": "LESS_THAN",
            "name": "LessThan"
          },
          {
            "value": "GREATER_THAN",
            "name": "GreaterThan"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
      }
    },
    "com.amazonaws.ssm#AssociationIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.ssm#AssociationLimitExceeded": {
      "type": "structure",
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationLimitExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>You can have at most 2,000 active associations.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#Association",
        "traits": {
          "smithy.api#xmlName": "Association"
        }
      }
    },
    "com.amazonaws.ssm#AssociationName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]{3,128}$"
      }
    },
    "com.amazonaws.ssm#AssociationOverview": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>The status of the association. Status can be: Pending, Success, or Failed.</p>"
          }
        },
        "DetailedStatus": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {
            "smithy.api#documentation": "<p>A detailed status of the association.</p>"
          }
        },
        "AssociationStatusAggregatedCount": {
          "target": "com.amazonaws.ssm#AssociationStatusAggregatedCount",
          "traits": {
            "smithy.api#documentation": "<p>Returns the number of targets for the association status. For example, if you created an\n   association with two instances, and one of them was successful, this would return the count of\n   instances by status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the association.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.ssm#AssociationResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.ssm#AssociationStatus": {
      "type": "structure",
      "members": {
        "Date": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the status changed.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#AssociationStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The status.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.ssm#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the status.</p>",
            "smithy.api#required": {}
          }
        },
        "AdditionalInfo": {
          "target": "com.amazonaws.ssm#StatusAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined string.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an association status.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationStatusAggregatedCount": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.ssm#StatusName"
      },
      "value": {
        "target": "com.amazonaws.ssm#InstanceCount"
      }
    },
    "com.amazonaws.ssm#AssociationStatusName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Pending",
            "name": "Pending"
          },
          {
            "value": "Success",
            "name": "Success"
          },
          {
            "value": "Failed",
            "name": "Failed"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationSyncCompliance": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTO",
            "name": "Auto"
          },
          {
            "value": "MANUAL",
            "name": "Manual"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AssociationVersion": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^([$]LATEST)|([1-9][0-9]*)$"
      }
    },
    "com.amazonaws.ssm#AssociationVersionInfo": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID created by the system when the association was created.</p>"
          }
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {
            "smithy.api#documentation": "<p>The association version.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date the association version was created.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#DocumentARN",
          "traits": {
            "smithy.api#documentation": "<p>The name specified when the association was created.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of an Amazon Web Services Systems Manager document (SSM document) used when the association version was\n   created.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.ssm#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>Parameters specified when the association version was created.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The targets specified for the association when the association version was created. </p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.ssm#ScheduleExpression",
          "traits": {
            "smithy.api#documentation": "<p>The cron or rate schedule specified for the association when the association version was\n   created.</p>"
          }
        },
        "OutputLocation": {
          "target": "com.amazonaws.ssm#InstanceAssociationOutputLocation",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 specified for the association when the association version\n   was created.</p>"
          }
        },
        "AssociationName": {
          "target": "com.amazonaws.ssm#AssociationName",
          "traits": {
            "smithy.api#documentation": "<p>The name specified for the association version when the association version was\n   created.</p>"
          }
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {
            "smithy.api#documentation": "<p>The number of errors that are allowed before the system stops sending requests to run the\n   association on additional targets. You can specify either an absolute number of errors, for\n   example 10, or a percentage of the target set, for example 10%. If you specify 3, for example,\n   the system stops sending requests when the fourth error is received. If you specify 0, then the\n   system stops sending requests after the first error is returned. If you run an association on 50\n   instances and set <code>MaxError</code> to 10%, then the system stops sending the request when\n   the sixth error is received.</p>\n         <p>Executions that are already running an association when <code>MaxErrors</code> is reached\n   are allowed to complete, but some of these executions may fail as well. If you need to ensure\n   that there won't be more than max-errors failed executions, set <code>MaxConcurrency</code> to 1\n   so that executions proceed one at a time.</p>"
          }
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of targets allowed to run the association at the same time. You can\n   specify a number, for example 10, or a percentage of the target set, for example 10%. The default\n   value is 100%, which means all targets run the association at the same time.</p>\n         <p>If a new instance starts and attempts to run an association while Systems Manager is running\n    <code>MaxConcurrency</code> associations, the association is allowed to run. During the next\n   association interval, the new instance will process its association within the limit specified\n   for <code>MaxConcurrency</code>.</p>"
          }
        },
        "ComplianceSeverity": {
          "target": "com.amazonaws.ssm#AssociationComplianceSeverity",
          "traits": {
            "smithy.api#documentation": "<p>The severity level that is assigned to the association.</p>"
          }
        },
        "SyncCompliance": {
          "target": "com.amazonaws.ssm#AssociationSyncCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The mode for generating association compliance. You can specify <code>AUTO</code> or\n    <code>MANUAL</code>. In <code>AUTO</code> mode, the system uses the status of the association\n   execution to determine the compliance status. If the association execution runs successfully,\n   then the association is <code>COMPLIANT</code>. If the association execution doesn't run\n   successfully, the association is <code>NON-COMPLIANT</code>.</p>\n         <p>In <code>MANUAL</code> mode, you must specify the <code>AssociationId</code> as a parameter\n   for the <a>PutComplianceItems</a> API operation. In this case, compliance data isn't\n   managed by State Manager, a capability of Amazon Web Services Systems Manager. It is managed by your direct call to the\n    <a>PutComplianceItems</a> API operation.</p>\n         <p>By default, all associations use <code>AUTO</code> mode.</p>"
          }
        },
        "ApplyOnlyAtCronInterval": {
          "target": "com.amazonaws.ssm#ApplyOnlyAtCronInterval",
          "traits": {
            "smithy.api#documentation": "<p>By default, when you create a new associations, the system runs it immediately after it is\n   created and then according to the schedule you specified. Specify this option if you don't want\n   an association to run immediately after you create it. This parameter isn't supported for rate\n   expressions.</p>"
          }
        },
        "CalendarNames": {
          "target": "com.amazonaws.ssm#CalendarNameOrARNList",
          "traits": {
            "smithy.api#documentation": "<p>The names or Amazon Resource Names (ARNs) of the Change Calendar type documents your\n   associations are gated under. The associations for this version only run when that Change\n   Calendar is open. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-change-calendar\">Amazon Web Services Systems Manager Change\n    Calendar</a>.</p>"
          }
        },
        "TargetLocations": {
          "target": "com.amazonaws.ssm#TargetLocations",
          "traits": {
            "smithy.api#documentation": "<p>The combination of Amazon Web Services Regions and Amazon Web Services accounts where you wanted to run the association\n   when this association version was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the association version.</p>"
      }
    },
    "com.amazonaws.ssm#AssociationVersionLimitExceeded": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationVersionLimitExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>You have reached the maximum number versions allowed for an association. Each association\n   has a limit of 1,000 versions. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AssociationVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AssociationVersionInfo"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ssm#AttachmentContent": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssm#AttachmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an attachment.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.ssm#ContentLength",
          "traits": {
            "smithy.api#documentation": "<p>The size of an attachment in bytes.</p>"
          }
        },
        "Hash": {
          "target": "com.amazonaws.ssm#AttachmentHash",
          "traits": {
            "smithy.api#documentation": "<p>The cryptographic hash value of the document content.</p>"
          }
        },
        "HashType": {
          "target": "com.amazonaws.ssm#AttachmentHashType",
          "traits": {
            "smithy.api#documentation": "<p>The hash algorithm used to calculate the hash value.</p>"
          }
        },
        "Url": {
          "target": "com.amazonaws.ssm#AttachmentUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL location of the attachment content.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that includes attributes that describe a document attachment.</p>"
      }
    },
    "com.amazonaws.ssm#AttachmentContentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AttachmentContent",
        "traits": {
          "smithy.api#xmlName": "AttachmentContent"
        }
      }
    },
    "com.amazonaws.ssm#AttachmentHash": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.ssm#AttachmentHashType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Sha256",
            "name": "SHA256"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AttachmentIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]{3,128}$"
      }
    },
    "com.amazonaws.ssm#AttachmentInformation": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssm#AttachmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attachment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute of an attachment, such as the attachment name.</p>"
      }
    },
    "com.amazonaws.ssm#AttachmentInformationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AttachmentInformation",
        "traits": {
          "smithy.api#xmlName": "AttachmentInformation"
        }
      }
    },
    "com.amazonaws.ssm#AttachmentName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]{3,128}$"
      }
    },
    "com.amazonaws.ssm#AttachmentUrl": {
      "type": "string"
    },
    "com.amazonaws.ssm#AttachmentsSource": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ssm#AttachmentsSourceKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of a key-value pair that identifies the location of an attachment to a\n   document.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.ssm#AttachmentsSourceValues",
          "traits": {
            "smithy.api#documentation": "<p>The value of a key-value pair that identifies the location of an attachment to a document.\n   The format for <b>Value</b> depends on the type of key you\n   specify.</p>\n         <ul>\n            <li>\n               <p>For the key <i>SourceUrl</i>, the value is an S3 bucket location. For\n     example:</p>\n               <p>\n                  <code>\"Values\": [ \"s3://doc-example-bucket/my-folder\" ]</code>\n               </p>\n            </li>\n            <li>\n               <p>For the key <i>S3FileUrl</i>, the value is a file in an S3 bucket. For\n     example:</p>\n               <p>\n                  <code>\"Values\": [ \"s3://doc-example-bucket/my-folder/my-file.py\" ]</code>\n               </p>\n            </li>\n            <li>\n               <p>For the key <i>AttachmentReference</i>, the value is constructed from the\n     name of another SSM document in your account, a version number of that document, and a file\n     attached to that document version that you want to reuse. For example:</p>\n               <p>\n                  <code>\"Values\": [ \"MyOtherDocument/3/my-other-file.py\" ]</code>\n               </p>\n               <p>However, if the SSM document is shared with you from another account, the full SSM\n     document ARN must be specified instead of the document name only. For example:</p>\n               <p>\n                  <code>\"Values\": [\n      \"arn:aws:ssm:us-east-2:111122223333:document/OtherAccountDocument/3/their-file.py\"\n      ]</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#AttachmentIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the document attachment file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifying information about a document attachment, including the file name and a key-value\n   pair that identifies the location of an attachment to a document.</p>"
      }
    },
    "com.amazonaws.ssm#AttachmentsSourceKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SourceUrl",
            "name": "SourceUrl"
          },
          {
            "value": "S3FileUrl",
            "name": "S3FileUrl"
          },
          {
            "value": "AttachmentReference",
            "name": "AttachmentReference"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AttachmentsSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AttachmentsSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.ssm#AttachmentsSourceValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.ssm#AttachmentsSourceValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AttachmentsSourceValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.ssm#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.ssm#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        }
      }
    },
    "com.amazonaws.ssm#AutomationActionName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^aws:[a-zA-Z]{3,25}$"
      }
    },
    "com.amazonaws.ssm#AutomationDefinitionNotApprovedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationDefinitionNotApproved",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>Indicates that the Change Manager change template used in the change request was rejected or is\n   still in a pending state.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationDefinitionNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationDefinitionNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>An Automation runbook with the specified name couldn't be found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationDefinitionVersionNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationDefinitionVersionNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>An Automation runbook with the specified name and version couldn't be found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationExecution": {
      "type": "structure",
      "members": {
        "AutomationExecutionId": {
          "target": "com.amazonaws.ssm#AutomationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution ID.</p>"
          }
        },
        "DocumentName": {
          "target": "com.amazonaws.ssm#DocumentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Automation runbook used during the execution.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the document to use during execution.</p>"
          }
        },
        "ExecutionStartTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution started.</p>"
          }
        },
        "ExecutionEndTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution finished.</p>"
          }
        },
        "AutomationExecutionStatus": {
          "target": "com.amazonaws.ssm#AutomationExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The execution status of the Automation.</p>"
          }
        },
        "StepExecutions": {
          "target": "com.amazonaws.ssm#StepExecutionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of details about the current state of all steps that comprise an execution. An\n   Automation runbook contains a list of steps that are run in order.</p>"
          }
        },
        "StepExecutionsTruncated": {
          "target": "com.amazonaws.ssm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value that indicates if the response contains the full list of the Automation step\n   executions. If true, use the DescribeAutomationStepExecutions API operation to get the full list\n   of step executions.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.ssm#AutomationParameterMap",
          "traits": {
            "smithy.api#documentation": "<p>The key-value map of execution parameters, which were supplied when calling <a>StartAutomationExecution</a>.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.ssm#AutomationParameterMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the Automation runbook.</p>"
          }
        },
        "FailureMessage": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing why an execution has failed, if the status is set to Failed.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.ssm#ExecutionMode",
          "traits": {
            "smithy.api#documentation": "<p>The automation execution mode.</p>"
          }
        },
        "ParentAutomationExecutionId": {
          "target": "com.amazonaws.ssm#AutomationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The AutomationExecutionId of the parent automation.</p>"
          }
        },
        "ExecutedBy": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user who ran the automation.</p>"
          }
        },
        "CurrentStepName": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step that is currently running.</p>"
          }
        },
        "CurrentAction": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The action of the step that is currently running.</p>"
          }
        },
        "TargetParameterName": {
          "target": "com.amazonaws.ssm#AutomationParameterKey",
          "traits": {
            "smithy.api#documentation": "<p>The parameter name.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The specified targets.</p>"
          }
        },
        "TargetMaps": {
          "target": "com.amazonaws.ssm#TargetMaps",
          "traits": {
            "smithy.api#documentation": "<p>The specified key-value mapping of document parameters to target resources.</p>"
          }
        },
        "ResolvedTargets": {
          "target": "com.amazonaws.ssm#ResolvedTargets",
          "traits": {
            "smithy.api#documentation": "<p>A list of resolved targets in the rate control execution.</p>"
          }
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The <code>MaxConcurrency</code> value specified by the user when the execution\n   started.</p>"
          }
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {
            "smithy.api#documentation": "<p>The MaxErrors value specified by the user when the execution started.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The target of the execution.</p>"
          }
        },
        "TargetLocations": {
          "target": "com.amazonaws.ssm#TargetLocations",
          "traits": {
            "smithy.api#documentation": "<p>The combination of Amazon Web Services Regions and/or Amazon Web Services accounts where you want to run the\n   Automation.</p>"
          }
        },
        "ProgressCounters": {
          "target": "com.amazonaws.ssm#ProgressCounters",
          "traits": {
            "smithy.api#documentation": "<p>An aggregate of step execution statuses displayed in the Amazon Web Services Systems Manager console for a\n   multi-Region and multi-account Automation execution.</p>"
          }
        },
        "AutomationSubtype": {
          "target": "com.amazonaws.ssm#AutomationSubtype",
          "traits": {
            "smithy.api#documentation": "<p>The subtype of the Automation operation. Currently, the only supported value is\n    <code>ChangeRequest</code>.</p>"
          }
        },
        "ScheduledTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the Automation operation is scheduled to start.</p>"
          }
        },
        "Runbooks": {
          "target": "com.amazonaws.ssm#Runbooks",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Automation runbooks that are run as part of a runbook workflow.</p>\n         <note>\n            <p>The Automation runbooks specified for the runbook workflow can't run until all required\n    approvals for the change request have been received.</p>\n         </note>"
          }
        },
        "OpsItemId": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an OpsItem that is created to represent a Change Manager change request.</p>"
          }
        },
        "AssociationId": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a State Manager association used in the Automation operation.</p>"
          }
        },
        "ChangeRequestName": {
          "target": "com.amazonaws.ssm#ChangeRequestName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Change Manager change request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about the current state of an individual Automation execution.</p>"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ssm#AutomationExecutionFilterKey",
          "traits": {
            "smithy.api#documentation": "<p>One or more keys to limit the results.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.ssm#AutomationExecutionFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>The values used to limit the execution information associated with the filter's key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter used to match specific automation executions. This is used to limit the scope of\n   Automation execution information returned.</p>"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DocumentNamePrefix",
            "name": "DOCUMENT_NAME_PREFIX"
          },
          {
            "value": "ExecutionStatus",
            "name": "EXECUTION_STATUS"
          },
          {
            "value": "ExecutionId",
            "name": "EXECUTION_ID"
          },
          {
            "value": "ParentExecutionId",
            "name": "PARENT_EXECUTION_ID"
          },
          {
            "value": "CurrentAction",
            "name": "CURRENT_ACTION"
          },
          {
            "value": "StartTimeBefore",
            "name": "START_TIME_BEFORE"
          },
          {
            "value": "StartTimeAfter",
            "name": "START_TIME_AFTER"
          },
          {
            "value": "AutomationType",
            "name": "AUTOMATION_TYPE"
          },
          {
            "value": "TagKey",
            "name": "TAG_KEY"
          },
          {
            "value": "TargetResourceGroup",
            "name": "TARGET_RESOURCE_GROUP"
          },
          {
            "value": "AutomationSubtype",
            "name": "AUTOMATION_SUBTYPE"
          },
          {
            "value": "OpsItemId",
            "name": "OPS_ITEM_ID"
          }
        ]
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AutomationExecutionFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        }
      }
    },
    "com.amazonaws.ssm#AutomationExecutionFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AutomationExecutionFilterValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.ssm#AutomationExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        }
      }
    },
    "com.amazonaws.ssm#AutomationExecutionLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationExecutionLimitExceeded",
          "httpResponseCode": 429
        },
        "smithy.api#documentation": "<p>The number of simultaneously running Automation executions exceeded the allowable\n   limit.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionMetadata": {
      "type": "structure",
      "members": {
        "AutomationExecutionId": {
          "target": "com.amazonaws.ssm#AutomationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution ID.</p>"
          }
        },
        "DocumentName": {
          "target": "com.amazonaws.ssm#DocumentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Automation runbook used during execution.</p>"
          }
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The document version used during the execution.</p>"
          }
        },
        "AutomationExecutionStatus": {
          "target": "com.amazonaws.ssm#AutomationExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the execution.</p>"
          }
        },
        "ExecutionStartTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution started.</p>"
          }
        },
        "ExecutionEndTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the execution finished. This isn't populated if the execution is still in\n   progress.</p>"
          }
        },
        "ExecutedBy": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role ARN of the user who ran the automation.</p>"
          }
        },
        "LogFile": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>An S3 bucket where execution information is stored.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.ssm#AutomationParameterMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the Automation runbook.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.ssm#ExecutionMode",
          "traits": {
            "smithy.api#documentation": "<p>The Automation execution mode.</p>"
          }
        },
        "ParentAutomationExecutionId": {
          "target": "com.amazonaws.ssm#AutomationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution ID of the parent automation.</p>"
          }
        },
        "CurrentStepName": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step that is currently running.</p>"
          }
        },
        "CurrentAction": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The action of the step that is currently running.</p>"
          }
        },
        "FailureMessage": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the Automation runbook.</p>"
          }
        },
        "TargetParameterName": {
          "target": "com.amazonaws.ssm#AutomationParameterKey",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the Automation runbook.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {
            "smithy.api#documentation": "<p>The targets defined by the user when starting the automation.</p>"
          }
        },
        "TargetMaps": {
          "target": "com.amazonaws.ssm#TargetMaps",
          "traits": {
            "smithy.api#documentation": "<p>The specified key-value mapping of document parameters to target resources.</p>"
          }
        },
        "ResolvedTargets": {
          "target": "com.amazonaws.ssm#ResolvedTargets",
          "traits": {
            "smithy.api#documentation": "<p>A list of targets that resolved during the execution.</p>"
          }
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The <code>MaxConcurrency</code> value specified by the user when starting the\n   automation.</p>"
          }
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {
            "smithy.api#documentation": "<p>The <code>MaxErrors</code> value specified by the user when starting the automation.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The list of execution outputs as defined in the Automation runbook.</p>"
          }
        },
        "AutomationType": {
          "target": "com.amazonaws.ssm#AutomationType",
          "traits": {
            "smithy.api#documentation": "<p>Use this filter with <a>DescribeAutomationExecutions</a>. Specify either Local or\n   CrossAccount. CrossAccount is an Automation that runs in multiple Amazon Web Services Regions and\n   Amazon Web Services accounts. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-automation-multiple-accounts-and-regions.html\">Running Automation workflows in multiple Amazon Web Services Regions and accounts</a> in the\n    <i>Amazon Web Services Systems Manager User Guide</i>. </p>"
          }
        },
        "AutomationSubtype": {
          "target": "com.amazonaws.ssm#AutomationSubtype",
          "traits": {
            "smithy.api#documentation": "<p>The subtype of the Automation operation. Currently, the only supported value is\n    <code>ChangeRequest</code>.</p>"
          }
        },
        "ScheduledTime": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the Automation operation is scheduled to start.</p>"
          }
        },
        "Runbooks": {
          "target": "com.amazonaws.ssm#Runbooks",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Automation runbooks that are run during a runbook workflow in\n   Change Manager.</p>\n         <note>\n            <p>The Automation runbooks specified for the runbook workflow can't run until all required\n    approvals for the change request have been received.</p>\n         </note>"
          }
        },
        "OpsItemId": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an OpsItem that is created to represent a Change Manager change request.</p>"
          }
        },
        "AssociationId": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a State Manager association used in the Automation operation.</p>"
          }
        },
        "ChangeRequestName": {
          "target": "com.amazonaws.ssm#ChangeRequestName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Change Manager change request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a specific Automation execution.</p>"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssm#AutomationExecutionMetadata"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationExecutionNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>There is no automation execution information for the requested automation execution\n   ID.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ssm#AutomationExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Pending",
            "name": "PENDING"
          },
          {
            "value": "InProgress",
            "name": "INPROGRESS"
          },
          {
            "value": "Waiting",
            "name": "WAITING"
          },
          {
            "value": "Success",
            "name": "SUCCESS"
          },
          {
            "value": "TimedOut",
            "name": "TIMEDOUT"
          },
          {
            "value": "Cancelling",
            "name": "CANCELLING"
          },
          {
            "value": "Cancelled",
            "name": "CANCELLED"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "PendingApproval",
            "name": "PENDING_APPROVAL"
          },
          {
            "value": "Approved",
            "name": "APPROVED"
          },
          {
            "value": "Rejected",
            "name": "REJECTED"
          },
          {
            "value": "Scheduled",
            "name": "SCHEDULED"
          },
          {
            "value": "RunbookInProgress",
            "name": "RUNBOOK_INPROGRESS"
          },
          {
[...]
