{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ssoadmin#AccessControlAttribute": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.ssoadmin#AccessControlAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value used for mapping a specified attribute to an identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.ssoadmin#AccessControlAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in AWS SSO.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These are AWS SSO identity store attributes that you can configure for use in attributes-based access control (ABAC). You can create permission policies that determine who can access your AWS resources based upon the configured attribute value(s). When you enable ABAC and specify AccessControlAttributes, AWS SSO passes the attribute(s) value of the authenticated user into IAM for use in policy evaluation.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]+"
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccessControlAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeValue": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.ssoadmin#AccessControlAttributeValueSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The identity source to use when mapping a specified attribute to AWS SSO.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value used for mapping a specified attribute to an identity source.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeValueSource": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@\\[\\]\\{\\}\\$\\\\\"]*"
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeValueSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccessControlAttributeValueSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.ssoadmin#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssoadmin#AccessDeniedExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ssoadmin#AccessDeniedExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.ssoadmin#AccountAssignment": {
      "type": "structure",
      "members": {
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.ssoadmin#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS account.</p>"
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.ssoadmin#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>"
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.ssoadmin#PrincipalId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an object in AWS SSO, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in AWS SSO, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">AWS SSO Identity Store API Reference</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The assignment that indicates a principal's limited access to a specified AWS account\n      with a specified permission set.</p>\n         <note>\n            <p>The term <i>principal</i> here refers to a user or group that is defined in AWS SSO.</p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#AccountAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccountAssignment"
      }
    },
    "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus": {
      "type": "structure",
      "members": {
        "TargetType": {
          "target": "com.amazonaws.ssoadmin#TargetType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>"
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssoadmin#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date that the permission set was created.</p>"
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.ssoadmin#PrincipalId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an object in AWS SSO, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in AWS SSO, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">AWS SSO Identity Store API Reference</a>.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for tracking the request operation that is generated by the universally\n      unique identifier (UUID) workflow.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.ssoadmin#Reason",
          "traits": {
            "smithy.api#documentation": "<p>The message that contains an error or exception in case of an operation failure.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssoadmin#StatusValues",
          "traits": {
            "smithy.api#documentation": "<p>The status of the permission set provisioning process.</p>"
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.ssoadmin#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>"
          }
        },
        "TargetId": {
          "target": "com.amazonaws.ssoadmin#TargetId",
          "traits": {
            "smithy.api#documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the creation or deletion operation of an assignment that a principal needs\n      to access an account.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusMetadata"
      }
    },
    "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusMetadata": {
      "type": "structure",
      "members": {
        "RequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for tracking the request operation that is generated by the universally\n      unique identifier (UUID) workflow.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssoadmin#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date that the permission set was created.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssoadmin#StatusValues",
          "traits": {
            "smithy.api#documentation": "<p>The status of the permission set provisioning process.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the <a>AccountAssignment</a> creation\n      request.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "\\d{12}"
      }
    },
    "com.amazonaws.ssoadmin#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccountId"
      }
    },
    "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches an IAM managed policy ARN to a permission set.</p>\n         <note>\n            <p>If the permission set is already referenced by one or more account assignments, you will need to call <code>\n                  <a>ProvisionPermissionSet</a>\n               </code> after this action to apply the corresponding IAM policy updates to all assigned accounts.</p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetRequest": {
      "type": "structure",
      "members": {
        "ManagedPolicyArn": {
          "target": "com.amazonaws.ssoadmin#ManagedPolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM managed policy ARN to be attached to a permission set.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <a>PermissionSet</a> that the managed policy should be attached\n       to.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#AttachedManagedPolicy": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssoadmin#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM managed policy.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.ssoadmin#ManagedPolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM managed policy. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that stores the details of the IAM managed policy.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AttachedManagedPolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AttachedManagedPolicy"
      }
    },
    "com.amazonaws.ssoadmin#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssoadmin#ConflictExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.ssoadmin#ConflictExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.ssoadmin#CreateAccountAssignment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#CreateAccountAssignmentRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#CreateAccountAssignmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns access to a principal for a specified AWS account using a specified permission\n      set.</p>\n         <note>\n            <p>The term <i>principal</i> here refers to a user or group that is defined in AWS SSO.</p>\n         </note>\n         <note>\n            <p>As part of a successful <code>CreateAccountAssignment</code> call, the specified permission set will automatically be provisioned to the account in the form of an IAM policy attached to the SSO-created IAM role. If the permission set is subsequently updated, the corresponding IAM policies attached to roles in your accounts will not be updated automatically. In this case, you will need to call <code>\n                  <a>ProvisionPermissionSet</a>\n               </code> to make these updates.</p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#CreateAccountAssignmentRequest": {
      "type": "structure",
      "members": {
        "PrincipalId": {
          "target": "com.amazonaws.ssoadmin#PrincipalId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an object in AWS SSO, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in AWS SSO, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">AWS SSO Identity Store API Reference</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set that the admin wants to grant the principal access to.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetType": {
          "target": "com.amazonaws.ssoadmin#TargetType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetId": {
          "target": "com.amazonaws.ssoadmin#TargetId",
          "traits": {
            "smithy.api#documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
            "smithy.api#required": {}
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.ssoadmin#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#CreateAccountAssignmentResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentCreationStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment creation operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the attributes-based access control (ABAC) feature for the specified AWS SSO instance. You can also specify new attributes to add to your ABAC configuration during the enabling process. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationRequest": {
      "type": "structure",
      "members": {
        "InstanceAccessControlAttributeConfiguration": {
          "target": "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the AWS SSO identity store attributes to add to your ABAC configuration. When using an external identity provider as an identity source, you can pass attributes through the SAML assertion as an alternative to configuring attributes from the AWS SSO identity store. If a SAML assertion passes any of these attributes, AWS SSO will replace the attribute value with the value from the AWS SSO identity store.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#CreatePermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#CreatePermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#CreatePermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a permission set within a specified SSO instance.</p>\n         <note>\n            <p>To grant users and groups access to AWS account resources, use <code>\n                  <a>CreateAccountAssignment</a>\n               </code>.</p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#CreatePermissionSetRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.ssoadmin#PermissionSetDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <a>PermissionSet</a>.</p>"
          }
        },
        "RelayState": {
          "target": "com.amazonaws.ssoadmin#RelayState",
          "traits": {
            "smithy.api#documentation": "<p>Used to redirect users within the application during the federation authentication\n       process.</p>"
          }
        },
        "SessionDuration": {
          "target": "com.amazonaws.ssoadmin#Duration",
          "traits": {
            "smithy.api#documentation": "<p>The length of time that the application user sessions are valid in the ISO-8601\n      standard.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssoadmin#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new <a>PermissionSet</a>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ssoadmin#PermissionSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <a>PermissionSet</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#CreatePermissionSetResponse": {
      "type": "structure",
      "members": {
        "PermissionSet": {
          "target": "com.amazonaws.ssoadmin#PermissionSet",
          "traits": {
            "smithy.api#documentation": "<p>Defines the level of access on an AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.ssoadmin#DeleteAccountAssignment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DeleteAccountAssignmentRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DeleteAccountAssignmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a principal's access from a specified AWS account using a specified permission\n      set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DeleteAccountAssignmentRequest": {
      "type": "structure",
      "members": {
        "PrincipalType": {
          "target": "com.amazonaws.ssoadmin#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetType": {
          "target": "com.amazonaws.ssoadmin#TargetType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetId": {
          "target": "com.amazonaws.ssoadmin#TargetId",
          "traits": {
            "smithy.api#documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
            "smithy.api#required": {}
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.ssoadmin#PrincipalId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an object in AWS SSO, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in AWS SSO, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">AWS SSO Identity Store API Reference</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeleteAccountAssignmentResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentDeletionStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment deletion operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the inline policy from a specified permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the attributes-based access control (ABAC) feature for the specified AWS SSO instance and deletes all of the attribute mappings that have been configured. Once deleted, any attributes that are received from an identity source and any custom attributes you have previously configured will not be passed. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#DeletePermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DeletePermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DeletePermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DeletePermissionSetRequest": {
      "type": "structure",
      "members": {
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set that should be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeletePermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of the assignment creation request.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatusRequest": {
      "type": "structure",
      "members": {
        "AccountAssignmentCreationRequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that is used to track the request operation progress.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatusResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentCreationStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment creation operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of the assignment deletion request.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatusRequest": {
      "type": "structure",
      "members": {
        "AccountAssignmentDeletionRequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that is used to track the request operation progress.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatusResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentDeletionStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment deletion operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the list of AWS SSO identity store attributes that have been configured to work with attributes-based access control (ABAC) for the specified AWS SSO instance. This will not return attributes configured and sent by an external identity provider. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfigurationRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfigurationResponse": {
      "type": "structure",
      "members": {
        "StatusReason": {
          "target": "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfigurationStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>Provides more details about the current status of the specified attribute.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the attribute configuration process.</p>"
          }
        },
        "InstanceAccessControlAttributeConfiguration": {
          "target": "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Gets the list of AWS SSO identity store attributes added to your ABAC configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribePermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribePermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the details of the permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the status for the given permission set provisioning request.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatusRequest": {
      "type": "structure",
      "members": {
        "ProvisionPermissionSetRequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that is provided by the <a>ProvisionPermissionSet</a> call to\n       retrieve the current status of the provisioning workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatusResponse": {
      "type": "structure",
      "members": {
        "PermissionSetProvisioningStatus": {
          "target": "com.amazonaws.ssoadmin#PermissionSetProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the permission set provisioning operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetRequest": {
      "type": "structure",
      "members": {
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetResponse": {
      "type": "structure",
      "members": {
        "PermissionSet": {
          "target": "com.amazonaws.ssoadmin#PermissionSet",
          "traits": {
            "smithy.api#documentation": "<p>Describes the level of access on an AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detaches the attached IAM managed policy ARN from the specified permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <a>PermissionSet</a> from which the policy should be detached.</p>",
            "smithy.api#required": {}
          }
        },
        "ManagedPolicyArn": {
          "target": "com.amazonaws.ssoadmin#ManagedPolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM managed policy ARN to be attached to a permission set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#Duration": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(-?)P(?=\\d|T\\d)(?:(\\d+)Y)?(?:(\\d+)M)?(?:(\\d+)([DW]))?(?:T(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+(?:\\.\\d+)?)S)?)?$"
      }
    },
    "com.amazonaws.ssoadmin#GeneralArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws:sso:([a-zA-Z0-9-]+)?:(\\d{12})?:[a-zA-Z0-9-]+/[a-zA-Z0-9-/.]+"
      }
    },
    "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains the inline policy assigned to the permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSetRequest": {
      "type": "structure",
      "members": {
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSetResponse": {
      "type": "structure",
      "members": {
        "InlinePolicy": {
          "target": "com.amazonaws.ssoadmin#PermissionSetPolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The IAM inline policy that is attached to the permission set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#Id": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]*"
      }
    },
    "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfiguration": {
      "type": "structure",
      "members": {
        "AccessControlAttributes": {
          "target": "com.amazonaws.ssoadmin#AccessControlAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the attributes that are configured for ABAC in the specified AWS SSO instance.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the attributes to add to your attribute-based access control (ABAC) configuration.</p>"
      }
    },
    "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfigurationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "CREATION_IN_PROGRESS",
            "name": "CREATION_IN_PROGRESS"
          },
          {
            "value": "CREATION_FAILED",
            "name": "CREATION_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfigurationStatusReason": {
      "type": "string"
    },
    "com.amazonaws.ssoadmin#InstanceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 1224
        },
        "smithy.api#pattern": "arn:aws:sso:::instance/(sso)?ins-[a-zA-Z0-9-.]{16}"
      }
    },
    "com.amazonaws.ssoadmin#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#InstanceMetadata"
      }
    },
    "com.amazonaws.ssoadmin#InstanceMetadata": {
      "type": "structure",
      "members": {
        "IdentityStoreId": {
          "target": "com.amazonaws.ssoadmin#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the identity store that is connected to the SSO instance.</p>"
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the SSO instance.</p>"
      }
    },
    "com.amazonaws.ssoadmin#InternalFailureMessage": {
      "type": "string"
    },
    "com.amazonaws.ssoadmin#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssoadmin#InternalFailureMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception, or failure with\n      an internal server.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the status of the AWS account assignment creation requests for a specified SSO\n       instance.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AccountAssignmentsCreationStatus",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatusRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Filter": {
          "target": "com.amazonaws.ssoadmin#OperationStatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters results based on the passed attribute value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatusResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "AccountAssignmentsCreationStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment creation operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the status of the AWS account assignment deletion requests for a specified SSO\n       instance.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AccountAssignmentsDeletionStatus",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatusRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.ssoadmin#OperationStatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters results based on the passed attribute value.</p>"
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatusResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "AccountAssignmentsDeletionStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment deletion operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the assignee of the specified AWS account with the specified permission\n       set.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AccountAssignments",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentsRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.ssoadmin#TargetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS account from which to list the assignments.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set from which to list assignments.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "AccountAssignments": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentList",
          "traits": {
            "smithy.api#documentation": "<p>The list of assignments that match the input AWS account and permission set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the AWS accounts where the specified permission set is provisioned.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AccountIds",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSetRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <a>PermissionSet</a> from which the associated AWS accounts\n      will be listed.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the <a>PermissionSet</a>.</p>"
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "ProvisioningStatus": {
          "target": "com.amazonaws.ssoadmin#ProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "<p>The permission set provisioning status for an AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSetResponse": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.ssoadmin#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of AWS <code>AccountIds</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the SSO instances that the caller has access to.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Instances",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListInstancesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "Instances": {
          "target": "com.amazonaws.ssoadmin#InstanceList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the SSO instances that the caller has access to.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the IAM managed policy that is attached to a specified permission set.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AttachedManagedPolicies",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSetRequest": {
      "type": "structure",
      "members": {
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <a>PermissionSet</a> whose managed policies will be listed.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the <a>PermissionSet</a>.</p>"
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSetResponse": {
      "type": "structure",
      "members": {
        "AttachedManagedPolicies": {
          "target": "com.amazonaws.ssoadmin#AttachedManagedPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>The array of the <a>AttachedManagedPolicy</a> data type object.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the status of the permission set provisioning requests for a specified SSO\n      instance.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PermissionSetsProvisioningStatus",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatusRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.ssoadmin#OperationStatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters results based on the passed attribute value.</p>"
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatusResponse": {
      "type": "structure",
      "members": {
        "PermissionSetsProvisioningStatus": {
          "target": "com.amazonaws.ssoadmin#PermissionSetProvisioningStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the permission set provisioning operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the <a>PermissionSet</a>s in an SSO instance.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PermissionSets",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the permission sets that are provisioned to a specified AWS account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PermissionSets",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccountRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "ProvisioningStatus": {
          "target": "com.amazonaws.ssoadmin#ProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the permission set provisioning operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.ssoadmin#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS account from which to list the assignments.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccountResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "PermissionSets": {
          "target": "com.amazonaws.ssoadmin#PermissionSetList",
          "traits": {
            "smithy.api#documentation": "<p>Defines the level of access that an AWS account has.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "PermissionSets": {
          "target": "com.amazonaws.ssoadmin#PermissionSetList",
          "traits": {
            "smithy.api#documentation": "<p>Defines the level of access on an AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags that are attached to a specified resource.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Tags"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.ssoadmin#GeneralArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource with the tags to be listed.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.ssoadmin#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A set of key-value pairs that are used to manage the resource.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ManagedPolicyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.ssoadmin#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.ssoadmin#Name": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.ssoadmin#OperationStatusFilter": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.ssoadmin#StatusValues",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list operations result based on the status attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters he operation status list based on the passed attribute value.</p>"
      }
    },
    "com.amazonaws.ssoadmin#PermissionSet": {
      "type": "structure",
      "members": {
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.ssoadmin#PermissionSetDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <a>PermissionSet</a>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ssoadmin#PermissionSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the permission set.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssoadmin#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date that the permission set was created.</p>"
          }
        },
        "SessionDuration": {
          "target": "com.amazonaws.ssoadmin#Duration",
          "traits": {
            "smithy.api#documentation": "<p>The length of time that the application user sessions are valid for in the ISO-8601\n       standard.</p>"
          }
        },
        "RelayState": {
          "target": "com.amazonaws.ssoadmin#RelayState",
          "traits": {
            "smithy.api#documentation": "<p>Used to redirect users within the application during the federation authentication\n       process.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entity that contains IAM policies.</p>"
      }
    },
    "com.amazonaws.ssoadmin#PermissionSetArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 1224
        },
        "smithy.api#pattern": "arn:aws:sso:::permissionSet/(sso)?ins-[a-zA-Z0-9-.]{16}/ps-[a-zA-Z0-9-./]{16}"
      }
    },
    "com.amazonaws.ssoadmin#PermissionSetDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 700
        },
        "smithy.api#pattern": "[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}]*"
      }
    },
    "com.amazonaws.ssoadmin#PermissionSetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#PermissionSetArn"
      }
    },
    "com.amazonaws.ssoadmin#PermissionSetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "[\\w+=,.@-]+"
      }
    },
    "com.amazonaws.ssoadmin#PermissionSetPolicyDocument": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10240
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.ssoadmin#PermissionSetProvisioningStatus": {
      "type": "structure",
      "members": {
        "FailureReason": {
          "target": "com.amazonaws.ssoadmin#Reason",
          "traits": {
            "smithy.api#documentation": "<p>The message that contains an error or exception in case of an operation failure.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssoadmin#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date that the permission set was created.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ssoadmin#StatusValues",
          "traits": {
            "smithy.api#documentation": "<p>The status of the permission set provisioning process.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for tracking the request operation that is generated by the universally\n      unique identifier (UUID) workflow.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.ssoadmin#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS account from which to list the assignments.</p>"
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set that is being provisioned. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that is used to provide the status of the provisioning operation for a\n      specified permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#PermissionSetProvisioningStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#PermissionSetProvisioningStatusMetadata"
      }
    },
    "com.amazonaws.ssoadmin#PermissionSetProvisioningStatusMetadata": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.ssoadmin#StatusValues",
          "traits": {
            "smithy.api#documentation": "<p>The status of the permission set provisioning process.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for tracking the request operation that is generated by the universally\n      unique identifier (UUID) workflow.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssoadmin#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date that the permission set was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the permission set provisioning status.</p>"
      }
    },
    "com.amazonaws.ssoadmin#PrincipalId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 47
        },
        "smithy.api#pattern": "^([0-9a-f]{10}-|)[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$"
      }
    },
    "com.amazonaws.ssoadmin#PrincipalType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "USER",
            "name": "USER"
          },
          {
            "value": "GROUP",
            "name": "GROUP"
          }
        ]
      }
    },
    "com.amazonaws.ssoadmin#ProvisionPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ProvisionPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ProvisionPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The process by which a specified permission set is provisioned to the specified target.</p>"
      }
    },
    "com.amazonaws.ssoadmin#ProvisionPermissionSetRequest": {
      "type": "structure",
      "members": {
        "TargetId": {
          "target": "com.amazonaws.ssoadmin#TargetId",
          "traits": {
            "smithy.api#documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>"
          }
        },
        "TargetType": {
          "target": "com.amazonaws.ssoadmin#ProvisionTargetType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SSO instance under which the operation will be executed.\n      For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ProvisionPermissionSetResponse": {
      "type": "structure",
      "members": {
        "PermissionSetProvisioningStatus": {
          "target": "com.amazonaws.ssoadmin#PermissionSetProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the permission set provisioning operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ProvisionTargetType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS_ACCOUNT",
            "name": "AWS_ACCOUNT"
          },
          {
            "value": "ALL_PROVISIONED_ACCOUNTS",
            "name": "ALL_PROVISIONED_ACCOUNTS"
          }
        ]
      }
    },
    "com.amazonaws.ssoadmin#ProvisioningStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LATEST_PERMISSION_SET_PROVISIONED",
            "name": "LATEST_PERMISSION_SET_PROVISIONED"
          },
          {
            "value": "LATEST_PERMISSION_SET_NOT_PROVISIONED",
            "name": "LATEST_PERMISSION_SET_NOT_PROVISIONED"
          }
        ]
      }
    },
    "com.amazonaws.ssoadmin#PutInlinePolicyToPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#PutInlinePolicyToPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#PutInlinePolicyToPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
[...]
