{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ssooidc#AWSSSOOIDCService": {
      "type": "service",
      "version": "2019-06-10",
      "operations": [
        {
          "target": "com.amazonaws.ssooidc#CreateToken"
        },
        {
          "target": "com.amazonaws.ssooidc#RegisterClient"
        },
        {
          "target": "com.amazonaws.ssooidc#StartDeviceAuthorization"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SSO OIDC",
          "arnNamespace": "awsssooidc",
          "cloudFormationName": "SSOOIDC",
          "cloudTrailEventSource": "ssooidc.amazonaws.com",
          "endpointPrefix": "oidc"
        },
        "aws.auth#sigv4": {
          "name": "awsssooidc"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>AWS IAM Identity Center (successor to AWS Single Sign-On) OpenID Connect (OIDC) is a web service that enables a client (such as AWS CLI\n      or a native application) to register with IAM Identity Center. The service also enables the client to\n      fetch the user’s access token upon successful authentication and authorization with\n      IAM Identity Center.</p>\n         <note>\n            <p>Although AWS Single Sign-On was renamed, the <code>sso</code> and\n        <code>identitystore</code> API namespaces will continue to retain their original name for\n        backward compatibility purposes. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html#renamed\">IAM Identity Center rename</a>.</p>\n         </note>\n         <p>\n            <b>Considerations for Using This Guide</b>\n         </p>\n         <p>Before you begin using this guide, we recommend that you first review the following\n      important information about how the IAM Identity Center OIDC service works.</p>\n         <ul>\n            <li>\n               <p>The IAM Identity Center OIDC service currently implements only the portions of the OAuth 2.0\n          Device Authorization Grant standard (<a href=\"https://tools.ietf.org/html/rfc8628\">https://tools.ietf.org/html/rfc8628</a>) that are necessary to enable single\n          sign-on authentication with the AWS CLI. Support for other OIDC flows frequently needed\n          for native applications, such as Authorization Code Flow (+ PKCE), will be addressed in\n          future releases.</p>\n            </li>\n            <li>\n               <p>The service emits only OIDC access tokens, such that obtaining a new token (For\n          example, token refresh) requires explicit user re-authentication.</p>\n            </li>\n            <li>\n               <p>The access tokens provided by this service grant access to all AWS account\n          entitlements assigned to an IAM Identity Center user, not just a particular application.</p>\n            </li>\n            <li>\n               <p>The documentation in this guide does not describe the mechanism to convert the access\n          token into AWS Auth (“sigv4”) credentials for use with IAM-protected AWS service\n          endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/PortalAPIReference/API_GetRoleCredentials.html\">GetRoleCredentials</a> in the <i>IAM Identity Center Portal API Reference\n            Guide</i>.</p>\n            </li>\n         </ul>\n\n         <p>For general information about IAM Identity Center, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html\">What is\n        IAM Identity Center?</a> in the <i>IAM Identity Center User Guide</i>.</p>",
        "smithy.api#title": "AWS SSO OIDC",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://oidc-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://oidc-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://oidc.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://oidc.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://oidc.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.ssooidc#AccessDeniedException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#AccessToken": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#AuthCode": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#AuthorizationPendingException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that a request to authorize a client with an access user session token is\n      pending.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#ClientId": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ClientName": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ClientSecret": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ClientType": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#CreateToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssooidc#CreateTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.ssooidc#CreateTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssooidc#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssooidc#AuthorizationPendingException"
        },
        {
          "target": "com.amazonaws.ssooidc#ExpiredTokenException"
        },
        {
          "target": "com.amazonaws.ssooidc#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidClientException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidGrantException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidScopeException"
        },
        {
          "target": "com.amazonaws.ssooidc#SlowDownException"
        },
        {
          "target": "com.amazonaws.ssooidc#UnauthorizedClientException"
        },
        {
          "target": "com.amazonaws.ssooidc#UnsupportedGrantTypeException"
        }
      ],
      "traits": {
        "smithy.api#auth": [],
        "smithy.api#documentation": "<p>Creates and returns an access token for the authorized client. The access token issued\n      will be used to fetch short-term credentials for the assigned roles in the AWS\n      account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/token",
          "code": 200
        },
        "smithy.api#optionalAuth": {}
      }
    },
    "com.amazonaws.ssooidc#CreateTokenRequest": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "com.amazonaws.ssooidc#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier string for each client. This value should come from the persisted\n      result of the <a>RegisterClient</a> API.</p>",
            "smithy.api#required": {}
          }
        },
        "clientSecret": {
          "target": "com.amazonaws.ssooidc#ClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>A secret string generated for the client. This value should come from the persisted result\n      of the <a>RegisterClient</a> API.</p>",
            "smithy.api#required": {}
          }
        },
        "grantType": {
          "target": "com.amazonaws.ssooidc#GrantType",
          "traits": {
            "smithy.api#documentation": "<p>Supports grant types for the authorization code, refresh token, and device code request.\n      For device code requests, specify the following value:</p>\n\n         <p>\n            <code>urn:ietf:params:oauth:grant-type:<i>device_code</i>\n            </code>\n         </p>\n\n         <p>For information about how to obtain the device code, see the <a>StartDeviceAuthorization</a> topic.</p>",
            "smithy.api#required": {}
          }
        },
        "deviceCode": {
          "target": "com.amazonaws.ssooidc#DeviceCode",
          "traits": {
            "smithy.api#documentation": "<p>Used only when calling this API for the device code grant type. This short-term code is\n      used to identify this authentication attempt. This should come from an in-memory reference to\n      the result of the <a>StartDeviceAuthorization</a> API.</p>"
          }
        },
        "code": {
          "target": "com.amazonaws.ssooidc#AuthCode",
          "traits": {
            "smithy.api#documentation": "<p>The authorization code received from the authorization service. This parameter is required\n      to perform an authorization grant request to get access to a token.</p>"
          }
        },
        "refreshToken": {
          "target": "com.amazonaws.ssooidc#RefreshToken",
          "traits": {
            "smithy.api#documentation": "<p>Currently, <code>refreshToken</code> is not yet implemented and is not supported. For more\n      information about the features and limitations of the current IAM Identity Center OIDC implementation,\n      see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>\n         <p>The token used to obtain an access token in the event that the access token is invalid or\n      expired.</p>"
          }
        },
        "scope": {
          "target": "com.amazonaws.ssooidc#Scopes",
          "traits": {
            "smithy.api#documentation": "<p>The list of scopes that is defined by the client. Upon authorization, this list is used to\n      restrict permissions when granting an access token.</p>"
          }
        },
        "redirectUri": {
          "target": "com.amazonaws.ssooidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The location of the application that will receive the authorization code. Users authorize\n      the service to send the request to this location.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssooidc#CreateTokenResponse": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "com.amazonaws.ssooidc#AccessToken",
          "traits": {
            "smithy.api#documentation": "<p>An opaque token to access IAM Identity Center resources assigned to a user.</p>"
          }
        },
        "tokenType": {
          "target": "com.amazonaws.ssooidc#TokenType",
          "traits": {
            "smithy.api#documentation": "<p>Used to notify the client that the returned token is an access token. The supported type\n      is <code>BearerToken</code>.</p>"
          }
        },
        "expiresIn": {
          "target": "com.amazonaws.ssooidc#ExpirationInSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Indicates the time in seconds when an access token will expire.</p>"
          }
        },
        "refreshToken": {
          "target": "com.amazonaws.ssooidc#RefreshToken",
          "traits": {
            "smithy.api#documentation": "<p>Currently, <code>refreshToken</code> is not yet implemented and is not supported. For more\n      information about the features and limitations of the current IAM Identity Center OIDC implementation,\n      see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>\n         <p>A token that, if present, can be used to refresh a previously issued access token that\n      might have expired.</p>"
          }
        },
        "idToken": {
          "target": "com.amazonaws.ssooidc#IdToken",
          "traits": {
            "smithy.api#documentation": "<p>Currently, <code>idToken</code> is not yet implemented and is not supported. For more\n      information about the features and limitations of the current IAM Identity Center OIDC implementation,\n      see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>\n         <p>The identifier of the user that associated with the access token, if present.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssooidc#DeviceCode": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#Error": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ErrorDescription": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ExpirationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.ssooidc#ExpiredTokenException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the token issued by the service is expired and is no longer valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#GrantType": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#IdToken": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#InternalServerException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that an error from the service occurred while trying to process a\n      request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ssooidc#IntervalInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.ssooidc#InvalidClientException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the <code>clientId</code> or <code>clientSecret</code> in the request is\n      invalid. For example, this can occur when a client sends an incorrect <code>clientId</code> or\n      an expired <code>clientSecret</code>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.ssooidc#InvalidClientMetadataException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the client information sent in the request during registration is\n      invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#InvalidGrantException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that a request contains an invalid grant. This can occur if a client makes a\n        <a>CreateToken</a> request with an invalid grant type.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#InvalidRequestException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that something is wrong with the input to the request. For example, a required\n      parameter might be missing or out of range.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#InvalidScopeException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the scope provided in the request is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#LongTimeStampType": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.ssooidc#RefreshToken": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#RegisterClient": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssooidc#RegisterClientRequest"
      },
      "output": {
        "target": "com.amazonaws.ssooidc#RegisterClientResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssooidc#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidClientMetadataException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidScopeException"
        }
      ],
      "traits": {
        "smithy.api#auth": [],
        "smithy.api#documentation": "<p>Registers a client with IAM Identity Center. This allows clients to initiate device authorization.\n      The output should be persisted for reuse through many authentication requests.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/client/register",
          "code": 200
        },
        "smithy.api#optionalAuth": {}
      }
    },
    "com.amazonaws.ssooidc#RegisterClientRequest": {
      "type": "structure",
      "members": {
        "clientName": {
          "target": "com.amazonaws.ssooidc#ClientName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the client.</p>",
            "smithy.api#required": {}
          }
        },
        "clientType": {
          "target": "com.amazonaws.ssooidc#ClientType",
          "traits": {
            "smithy.api#documentation": "<p>The type of client. The service supports only <code>public</code> as a client type.\n      Anything other than public will be rejected by the service.</p>",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.amazonaws.ssooidc#Scopes",
          "traits": {
            "smithy.api#documentation": "<p>The list of scopes that are defined by the client. Upon authorization, this list is used\n      to restrict permissions when granting an access token.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssooidc#RegisterClientResponse": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "com.amazonaws.ssooidc#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier string for each client. This client uses this identifier to get\n      authenticated by the service in subsequent calls.</p>"
          }
        },
        "clientSecret": {
          "target": "com.amazonaws.ssooidc#ClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>A secret string generated for the client. The client will use this string to get\n      authenticated by the service in subsequent calls.</p>"
          }
        },
        "clientIdIssuedAt": {
          "target": "com.amazonaws.ssooidc#LongTimeStampType",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Indicates the time at which the <code>clientId</code> and <code>clientSecret</code> were\n      issued.</p>"
          }
        },
        "clientSecretExpiresAt": {
          "target": "com.amazonaws.ssooidc#LongTimeStampType",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Indicates the time at which the <code>clientId</code> and <code>clientSecret</code> will\n      become invalid.</p>"
          }
        },
        "authorizationEndpoint": {
          "target": "com.amazonaws.ssooidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint where the client can request authorization.</p>"
          }
        },
        "tokenEndpoint": {
          "target": "com.amazonaws.ssooidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint where the client can get an access token.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssooidc#Scope": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#Scopes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssooidc#Scope"
      }
    },
    "com.amazonaws.ssooidc#SlowDownException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the client is making the request too frequently and is more than the\n      service can handle. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#StartDeviceAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssooidc#StartDeviceAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssooidc#StartDeviceAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssooidc#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidClientException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.ssooidc#SlowDownException"
        },
        {
          "target": "com.amazonaws.ssooidc#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#auth": [],
        "smithy.api#documentation": "<p>Initiates device authorization by requesting a pair of verification codes from the\n      authorization service.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/device_authorization",
          "code": 200
        },
        "smithy.api#optionalAuth": {}
      }
    },
    "com.amazonaws.ssooidc#StartDeviceAuthorizationRequest": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "com.amazonaws.ssooidc#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier string for the client that is registered with IAM Identity Center. This value\n      should come from the persisted result of the <a>RegisterClient</a> API\n      operation.</p>",
            "smithy.api#required": {}
          }
        },
        "clientSecret": {
          "target": "com.amazonaws.ssooidc#ClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>A secret string that is generated for the client. This value should come from the\n      persisted result of the <a>RegisterClient</a> API operation.</p>",
            "smithy.api#required": {}
          }
        },
        "startUrl": {
          "target": "com.amazonaws.ssooidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the AWS access portal. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/using-the-portal.html\">Using\n      the AWS access portal</a> in the <i>IAM Identity Center User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssooidc#StartDeviceAuthorizationResponse": {
      "type": "structure",
      "members": {
        "deviceCode": {
          "target": "com.amazonaws.ssooidc#DeviceCode",
          "traits": {
            "smithy.api#documentation": "<p>The short-lived code that is used by the device when polling for a session token.</p>"
          }
        },
        "userCode": {
          "target": "com.amazonaws.ssooidc#UserCode",
          "traits": {
            "smithy.api#documentation": "<p>A one-time user verification code. This is needed to authorize an in-use device.</p>"
          }
        },
        "verificationUri": {
          "target": "com.amazonaws.ssooidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the verification page that takes the <code>userCode</code> to authorize the\n      device.</p>"
          }
        },
        "verificationUriComplete": {
          "target": "com.amazonaws.ssooidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>An alternate URL that the client can use to automatically launch a browser. This process\n      skips the manual step in which the user visits the verification page and enters their\n      code.</p>"
          }
        },
        "expiresIn": {
          "target": "com.amazonaws.ssooidc#ExpirationInSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Indicates the number of seconds in which the verification code will become invalid.</p>"
          }
        },
        "interval": {
          "target": "com.amazonaws.ssooidc#IntervalInSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Indicates the number of seconds the client must wait between attempts when polling for a\n      session.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssooidc#TokenType": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#URI": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#UnauthorizedClientException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the client is not currently authorized to make the request. This can happen\n      when a <code>clientId</code> is not issued for a public client.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#UnsupportedGrantTypeException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the grant type in the request is not supported by the service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#UserCode": {
      "type": "string"
    }
  }
}