{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ssoadmin#AccessControlAttribute": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ssoadmin#AccessControlAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute associated with your identities in your identity source. This is\n      used to map a specified attribute in your identity source with an attribute in\n      IAM Identity Center.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.ssoadmin#AccessControlAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value used for mapping a specified attribute to an identity source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These are IAM Identity Center identity store attributes that you can configure for use in\n      attributes-based access control (ABAC). You can create permissions policies that determine who\n      can access your AWS resources based upon the configured attribute values. When you enable\n      ABAC and specify <code>AccessControlAttributes</code>, IAM Identity Center passes the attribute values of\n      the authenticated user into IAM for use in policy evaluation.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]+$"
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccessControlAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeValue": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.ssoadmin#AccessControlAttributeValueSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The identity source to use when mapping a specified attribute to IAM Identity Center.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value used for mapping a specified attribute to an identity source. For more\n      information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/attributemappingsconcept.html\">Attribute mappings</a>\n      in the <i>IAM Identity Center User Guide</i>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeValueSource": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@\\[\\]\\{\\}\\$\\\\\"]*$"
      }
    },
    "com.amazonaws.ssoadmin#AccessControlAttributeValueSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccessControlAttributeValueSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.ssoadmin#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssoadmin#AccessDeniedExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ssoadmin#AccessDeniedExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.ssoadmin#AccountAssignment": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ssoadmin#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS account.</p>"
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.ssoadmin#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>"
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.ssoadmin#PrincipalId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The assignment that indicates a principal's limited access to a specified AWS account\n      with a specified permission set.</p>\n         <note>\n            <p>The term <i>principal</i> here refers to a user or group that is defined\n        in IAM Identity Center.</p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#AccountAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccountAssignment"
      }
    },
    "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.ssoadmin#StatusValues",
          "traits": {
            "smithy.api#documentation": "<p>The status of the permission set provisioning process.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for tracking the request operation that is generated by the universally\n      unique identifier (UUID) workflow.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.ssoadmin#Reason",
          "traits": {
            "smithy.api#documentation": "<p>The message that contains an error or exception in case of an operation failure.</p>"
          }
        },
        "TargetId": {
          "target": "com.amazonaws.ssoadmin#TargetId",
          "traits": {
            "smithy.api#documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>"
          }
        },
        "TargetType": {
          "target": "com.amazonaws.ssoadmin#TargetType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>"
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.ssoadmin#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>"
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.ssoadmin#PrincipalId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssoadmin#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date that the permission set was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the creation or deletion operation of an assignment that a principal needs\n      to access an account.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusMetadata"
      }
    },
    "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusMetadata": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.ssoadmin#StatusValues",
          "traits": {
            "smithy.api#documentation": "<p>The status of the permission set provisioning process.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for tracking the request operation that is generated by the universally\n      unique identifier (UUID) workflow.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssoadmin#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date that the permission set was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the <a>AccountAssignment</a> creation\n      request.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.ssoadmin#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AccountId"
      }
    },
    "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified customer managed policy to the specified <a>PermissionSet</a>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>PermissionSet</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "CustomerManagedPolicyReference": {
          "target": "com.amazonaws.ssoadmin#CustomerManagedPolicyReference",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name and path of a customer managed policy. You must have an IAM policy that matches the name and path in each AWS account where you want to deploy your permission set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches an AWS managed policy ARN to a permission set.</p>\n         <note>\n            <p>If the permission set is already referenced by one or more account assignments, you will\n        need to call <code>\n                  <a>ProvisionPermissionSet</a>\n               </code> after this operation.\n        Calling <code>ProvisionPermissionSet</code> applies the corresponding IAM policy updates\n        to all assigned accounts.</p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <a>PermissionSet</a> that the managed policy should be attached\n      to.</p>",
            "smithy.api#required": {}
          }
        },
        "ManagedPolicyArn": {
          "target": "com.amazonaws.ssoadmin#ManagedPolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The AWS managed policy ARN to be attached to a permission set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#AttachedManagedPolicy": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssoadmin#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS managed policy.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.ssoadmin#ManagedPolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS managed policy. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that stores the details of the AWS managed policy.</p>"
      }
    },
    "com.amazonaws.ssoadmin#AttachedManagedPolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#AttachedManagedPolicy"
      }
    },
    "com.amazonaws.ssoadmin#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssoadmin#ConflictExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs\n      when the previous write did not have time to propagate to the host serving the current\n      request. A retry (with appropriate backoff logic) is the recommended response to this\n      exception.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.ssoadmin#ConflictExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.ssoadmin#CreateAccountAssignment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#CreateAccountAssignmentRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#CreateAccountAssignmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns access to a principal for a specified AWS account using a specified\n      permission set.</p>\n         <note>\n            <p>The term <i>principal</i> here refers to a user or group that is defined\n        in IAM Identity Center.</p>\n         </note>\n         <note>\n            <p>As part of a successful <code>CreateAccountAssignment</code> call, the specified\n        permission set will automatically be provisioned to the account in the form of an IAM\n        policy. That policy is attached to the IAM role created in IAM Identity Center. If the permission set\n        is subsequently updated, the corresponding IAM policies attached to roles in your accounts\n        will not be updated automatically. In this case, you must call <code>\n                  <a>ProvisionPermissionSet</a>\n               </code> to make these updates.</p>\n         </note>\n         <note>\n            <p>\n        After a successful response, call <code>DescribeAccountAssignmentCreationStatus</code> to describe the status of an assignment creation request.\n      </p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#CreateAccountAssignmentRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetId": {
          "target": "com.amazonaws.ssoadmin#TargetId",
          "traits": {
            "smithy.api#documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
            "smithy.api#required": {}
          }
        },
        "TargetType": {
          "target": "com.amazonaws.ssoadmin#TargetType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set that the admin wants to grant the principal access\n      to.</p>",
            "smithy.api#required": {}
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.ssoadmin#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.ssoadmin#PrincipalId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#CreateAccountAssignmentResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentCreationStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment creation operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the attributes-based access control (ABAC) feature for the specified IAM Identity Center\n      instance. You can also specify new attributes to add to your ABAC configuration during the\n      enabling process. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>IAM Identity Center User Guide</i>.</p>\n         <note>\n            <p>After a successful response, call <code>DescribeInstanceAccessControlAttributeConfiguration</code> to validate that\n      <code>InstanceAccessControlAttributeConfiguration</code> was created.</p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceAccessControlAttributeConfiguration": {
          "target": "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM Identity Center identity store attributes to add to your ABAC configuration. When\n      using an external identity provider as an identity source, you can pass attributes through the\n      SAML assertion. Doing so provides an alternative to configuring attributes from the IAM Identity Center\n      identity store. If a SAML assertion passes any of these attributes, IAM Identity Center will replace the\n      attribute value with the value from the IAM Identity Center identity store.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#CreatePermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#CreatePermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#CreatePermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a permission set within a specified IAM Identity Center instance.</p>\n         <note>\n            <p>To grant users and groups access to AWS account resources, use <code>\n                  <a>CreateAccountAssignment</a>\n               </code>.</p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#CreatePermissionSetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssoadmin#PermissionSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <a>PermissionSet</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.ssoadmin#PermissionSetDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <a>PermissionSet</a>.</p>"
          }
        },
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "SessionDuration": {
          "target": "com.amazonaws.ssoadmin#Duration",
          "traits": {
            "smithy.api#documentation": "<p>The length of time that the application user sessions are valid in the ISO-8601\n      standard.</p>"
          }
        },
        "RelayState": {
          "target": "com.amazonaws.ssoadmin#RelayState",
          "traits": {
            "smithy.api#documentation": "<p>Used to redirect users within the application during the federation authentication\n      process.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssoadmin#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new <a>PermissionSet</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#CreatePermissionSetResponse": {
      "type": "structure",
      "members": {
        "PermissionSet": {
          "target": "com.amazonaws.ssoadmin#PermissionSet",
          "traits": {
            "smithy.api#documentation": "<p>Defines the level of access on an AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#CustomerManagedPolicyReference": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ssoadmin#ManagedPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM policy that you have configured in each account where you want to deploy your permission set.</p>",
            "smithy.api#required": {}
          }
        },
        "Path": {
          "target": "com.amazonaws.ssoadmin#ManagedPolicyPath",
          "traits": {
            "smithy.api#documentation": "<p>The path to the IAM policy that you have configured in each account where you want to deploy your permission set. The default is <code>/</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-friendly-names\">Friendly\n      names and paths</a> in the <i>IAM User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the name and path of a customer managed policy. You must have an IAM policy that matches the name and path in each AWS account where you want to deploy your permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#CustomerManagedPolicyReferenceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#CustomerManagedPolicyReference"
      }
    },
    "com.amazonaws.ssoadmin#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.ssoadmin#DeleteAccountAssignment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DeleteAccountAssignmentRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DeleteAccountAssignmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a principal's access from a specified AWS account using a specified permission\n      set.</p>\n         <note>\n            <p>After a successful response, call <code>DescribeAccountAssignmentCreationStatus</code> to describe the status of an assignment deletion request.</p>\n         </note>"
      }
    },
    "com.amazonaws.ssoadmin#DeleteAccountAssignmentRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetId": {
          "target": "com.amazonaws.ssoadmin#TargetId",
          "traits": {
            "smithy.api#documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
            "smithy.api#required": {}
          }
        },
        "TargetType": {
          "target": "com.amazonaws.ssoadmin#TargetType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
            "smithy.api#required": {}
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.ssoadmin#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type for which the assignment will be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.ssoadmin#PrincipalId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeleteAccountAssignmentResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentDeletionStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment deletion operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the inline policy from a specified permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the attributes-based access control (ABAC) feature for the specified IAM Identity Center\n      instance and deletes all of the attribute mappings that have been configured. Once deleted,\n      any attributes that are received from an identity source and any custom attributes you have\n      previously configured will not be passed. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>IAM Identity Center User Guide</i>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#DeletePermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DeletePermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DeletePermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DeletePermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set that should be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeletePermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#DeletePermissionsBoundaryFromPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DeletePermissionsBoundaryFromPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DeletePermissionsBoundaryFromPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the permissions boundary from a specified <a>PermissionSet</a>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DeletePermissionsBoundaryFromPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>PermissionSet</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DeletePermissionsBoundaryFromPermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of the assignment creation request.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatusRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountAssignmentCreationRequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that is used to track the request operation progress.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentCreationStatusResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentCreationStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment creation operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of the assignment deletion request.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatusRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountAssignmentDeletionRequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that is used to track the request operation progress.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeAccountAssignmentDeletionStatusResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentDeletionStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment deletion operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the list of IAM Identity Center identity store attributes that have been configured to work\n      with attributes-based access control (ABAC) for the specified IAM Identity Center instance. This will not\n      return attributes configured and sent by an external identity provider. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>IAM Identity Center User Guide</i>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfigurationRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribeInstanceAccessControlAttributeConfigurationResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the attribute configuration process.</p>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfigurationStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>Provides more details about the current status of the specified attribute.</p>"
          }
        },
        "InstanceAccessControlAttributeConfiguration": {
          "target": "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Gets the list of IAM Identity Center identity store attributes that have been added to your ABAC\n      configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribePermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribePermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the details of the permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the status for the given permission set provisioning request.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatusRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "ProvisionPermissionSetRequestId": {
          "target": "com.amazonaws.ssoadmin#UUId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that is provided by the <a>ProvisionPermissionSet</a> call to\n      retrieve the current status of the provisioning workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetProvisioningStatusResponse": {
      "type": "structure",
      "members": {
        "PermissionSetProvisioningStatus": {
          "target": "com.amazonaws.ssoadmin#PermissionSetProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the permission set provisioning operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DescribePermissionSetResponse": {
      "type": "structure",
      "members": {
        "PermissionSet": {
          "target": "com.amazonaws.ssoadmin#PermissionSet",
          "traits": {
            "smithy.api#documentation": "<p>Describes the level of access on an AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DetachCustomerManagedPolicyReferenceFromPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DetachCustomerManagedPolicyReferenceFromPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DetachCustomerManagedPolicyReferenceFromPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detaches the specified customer managed policy from the specified <a>PermissionSet</a>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DetachCustomerManagedPolicyReferenceFromPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>PermissionSet</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "CustomerManagedPolicyReference": {
          "target": "com.amazonaws.ssoadmin#CustomerManagedPolicyReference",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name and path of a customer managed policy. You must have an IAM policy that matches the name and path in each AWS account where you want to deploy your permission set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DetachCustomerManagedPolicyReferenceFromPermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detaches the attached AWS managed policy ARN from the specified permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <a>PermissionSet</a> from which the policy should be\n      detached.</p>",
            "smithy.api#required": {}
          }
        },
        "ManagedPolicyArn": {
          "target": "com.amazonaws.ssoadmin#ManagedPolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The AWS managed policy ARN to be detached from a permission set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#DetachManagedPolicyFromPermissionSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ssoadmin#Duration": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(-?)P(?=\\d|T\\d)(?:(\\d+)Y)?(?:(\\d+)M)?(?:(\\d+)([DW]))?(?:T(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+(?:\\.\\d+)?)S)?)?$"
      }
    },
    "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains the inline policy assigned to the permission set.</p>"
      }
    },
    "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#GetInlinePolicyForPermissionSetResponse": {
      "type": "structure",
      "members": {
        "InlinePolicy": {
          "target": "com.amazonaws.ssoadmin#PermissionSetPolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The inline policy that is attached to the permission set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#GetPermissionsBoundaryForPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#GetPermissionsBoundaryForPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#GetPermissionsBoundaryForPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains the permissions boundary for a specified <a>PermissionSet</a>.</p>"
      }
    },
    "com.amazonaws.ssoadmin#GetPermissionsBoundaryForPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>PermissionSet</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#GetPermissionsBoundaryForPermissionSetResponse": {
      "type": "structure",
      "members": {
        "PermissionsBoundary": {
          "target": "com.amazonaws.ssoadmin#PermissionsBoundary",
          "traits": {
            "smithy.api#documentation": "<p>The permissions boundary attached to the specified permission set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#Id": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]*$"
      }
    },
    "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfiguration": {
      "type": "structure",
      "members": {
        "AccessControlAttributes": {
          "target": "com.amazonaws.ssoadmin#AccessControlAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the attributes that are configured for ABAC in the specified IAM Identity Center\n      instance.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the attributes to add to your attribute-based access control (ABAC)\n      configuration.</p>"
      }
    },
    "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfigurationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "CREATION_IN_PROGRESS",
            "name": "CREATION_IN_PROGRESS"
          },
          {
            "value": "CREATION_FAILED",
            "name": "CREATION_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfigurationStatusReason": {
      "type": "string"
    },
    "com.amazonaws.ssoadmin#InstanceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 1224
        },
        "smithy.api#pattern": "^arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):sso:::instance/(sso)?ins-[a-zA-Z0-9-.]{16}$"
      }
    },
    "com.amazonaws.ssoadmin#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssoadmin#InstanceMetadata"
      }
    },
    "com.amazonaws.ssoadmin#InstanceMetadata": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
          }
        },
        "IdentityStoreId": {
          "target": "com.amazonaws.ssoadmin#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the identity store that is connected to the IAM Identity Center instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the IAM Identity Center instance.</p>"
      }
    },
    "com.amazonaws.ssoadmin#InternalFailureMessage": {
      "type": "string"
    },
    "com.amazonaws.ssoadmin#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ssoadmin#InternalFailureMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception, or failure with\n      an internal server.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the status of the AWS account assignment creation requests for a specified IAM Identity Center\n      instance.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AccountAssignmentsCreationStatus",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatusRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.ssoadmin#OperationStatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters results based on the passed attribute value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentCreationStatusResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentsCreationStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment creation operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the status of the AWS account assignment deletion requests for a specified IAM Identity Center\n      instance.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AccountAssignmentsDeletionStatus",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatusRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.ssoadmin#OperationStatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters results based on the passed attribute value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentDeletionStatusResponse": {
      "type": "structure",
      "members": {
        "AccountAssignmentsDeletionStatus": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the account assignment deletion operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListAccountAssignmentsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the assignee of the specified AWS account with the specified permission set.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AccountAssignments",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentsRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.ssoadmin#TargetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS account from which to list the assignments.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the permission set from which to list assignments.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountAssignmentsResponse": {
      "type": "structure",
      "members": {
        "AccountAssignments": {
          "target": "com.amazonaws.ssoadmin#AccountAssignmentList",
          "traits": {
            "smithy.api#documentation": "<p>The list of assignments that match the input AWS account and permission set.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the AWS accounts where the specified permission set is provisioned.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AccountIds",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <a>PermissionSet</a> from which the associated AWS accounts\n      will be listed.</p>",
            "smithy.api#required": {}
          }
        },
        "ProvisioningStatus": {
          "target": "com.amazonaws.ssoadmin#ProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "<p>The permission set provisioning status for an AWS account.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the <a>PermissionSet</a>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListAccountsForProvisionedPermissionSetResponse": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.ssoadmin#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of AWS <code>AccountIds</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListCustomerManagedPolicyReferencesInPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListCustomerManagedPolicyReferencesInPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListCustomerManagedPolicyReferencesInPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all customer managed policies attached to a specified <a>PermissionSet</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "CustomerManagedPolicyReferences",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListCustomerManagedPolicyReferencesInPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>PermissionSet</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the list call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of\n      previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListCustomerManagedPolicyReferencesInPermissionSetResponse": {
      "type": "structure",
      "members": {
        "CustomerManagedPolicyReferences": {
          "target": "com.amazonaws.ssoadmin#CustomerManagedPolicyReferenceList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the names and paths of the customer managed policies that you have attached to\n      your permission set.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of\n      previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the IAM Identity Center instances that the caller has access to.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Instances",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListInstancesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the instance.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "Instances": {
          "target": "com.amazonaws.ssoadmin#InstanceList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the IAM Identity Center instances that the caller has access to.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSetRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the AWS managed policy that is attached to a specified permission set.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AttachedManagedPolicies",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSetRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionSetArn": {
          "target": "com.amazonaws.ssoadmin#PermissionSetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <a>PermissionSet</a> whose managed policies will be\n      listed.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the <a>PermissionSet</a>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListManagedPoliciesInPermissionSetResponse": {
      "type": "structure",
      "members": {
        "AttachedManagedPolicies": {
          "target": "com.amazonaws.ssoadmin#AttachedManagedPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>An array of the <a>AttachedManagedPolicy</a> data type object.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the status of the permission set provisioning requests for a specified IAM Identity Center\n      instance.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PermissionSetsProvisioningStatus",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatusRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.ssoadmin#OperationStatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters results based on the passed attribute value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetProvisioningStatusResponse": {
      "type": "structure",
      "members": {
        "PermissionSetsProvisioningStatus": {
          "target": "com.amazonaws.ssoadmin#PermissionSetProvisioningStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the permission set provisioning operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetsRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the <a>PermissionSet</a>s in an IAM Identity Center instance.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PermissionSets",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssoadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssoadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ssoadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the permission sets that are provisioned to a specified AWS account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PermissionSets",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccountRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.ssoadmin#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS account from which to list the assignments.</p>",
            "smithy.api#required": {}
          }
        },
        "ProvisioningStatus": {
          "target": "com.amazonaws.ssoadmin#ProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status object for the permission set provisioning operation.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsProvisionedToAccountResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "PermissionSets": {
          "target": "com.amazonaws.ssoadmin#PermissionSetList",
          "traits": {
            "smithy.api#documentation": "<p>Defines the level of access that an AWS account has.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsRequest": {
      "type": "structure",
      "members": {
        "InstanceArn": {
          "target": "com.amazonaws.ssoadmin#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource\nNames (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ssoadmin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display for the assignment.</p>"
          }
        }
      }
    },
    "com.amazonaws.ssoadmin#ListPermissionSetsResponse": {
      "type": "structure",
      "members": {
        "PermissionSets": {
          "target": "com.amazonaws.ssoadmin#PermissionSetList",
          "traits": {
            "smithy.api#documentation": "<p>Defines the level of access on an AWS account.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ssoadmin#Token",
          "traits": {
[...]
