{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.storagegateway#ActivateGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#ActivateGatewayInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#ActivateGatewayOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates the gateway you previously deployed on your host. In the activation\n         process, you specify information such as the AWS Region that you want to use for storing\n         snapshots or tapes, the time zone for scheduled snapshots the gateway snapshot schedule\n         window, an activation key, and a name for your gateway. The activation process also\n         associates your gateway with your account; for more information, see <a>UpdateGatewayInformation</a>.</p>\n         <note>\n            <p>You must turn on the gateway VM before you can activate your gateway.</p>\n         </note>"
      }
    },
    "com.amazonaws.storagegateway#ActivateGatewayInput": {
      "type": "structure",
      "members": {
        "ActivationKey": {
          "target": "com.amazonaws.storagegateway#ActivationKey",
          "traits": {
            "smithy.api#documentation": "<p>Your gateway activation key. You can obtain the activation key by sending an HTTP GET\n         request with redirects enabled to the gateway IP address (port 80). The redirect URL\n         returned in the response provides you the activation key for your gateway in the query\n         string parameter <code>activationKey</code>. It may also include other activation-related\n         parameters, however, these are merely defaults -- the arguments you pass to the\n            <code>ActivateGateway</code> API call determine the actual configuration of your\n         gateway. </p>\n      \n         <p>For more information, see\n         https://docs.aws.amazon.com/storagegateway/latest/userguide/get-activation-key.html in the\n         Storage Gateway User Guide.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayName": {
          "target": "com.amazonaws.storagegateway#GatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name you configured for your gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayRegion": {
          "target": "com.amazonaws.storagegateway#RegionId",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the AWS Region where you want to store your data. The gateway\n         AWS Region specified must be the same AWS Region as the AWS Region in your\n            <code>Host</code> header in the request. For more information about available AWS\n         Regions and endpoints for AWS Storage Gateway, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">Regions and Endpoints</a> in the\n            <i>Amazon Web Services Glossary</i>.</p>\n         <p> Valid Values: See <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">AWS Storage\n            Gateway Regions and Endpoints</a> in the AWS General Reference.\n         \n      </p>",
            "smithy.api#required": {}
          }
        },
        "GatewayTimezone": {
          "target": "com.amazonaws.storagegateway#GatewayTimezone",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the time zone you want to set for the gateway. The time zone\n         is of the format \"GMT-hr:mm\" or \"GMT+hr:mm\". For example, GMT-4:00 indicates the time is 4\n         hours behind GMT. GMT+2:00 indicates the time is 2 hours ahead of GMT. The time zone is\n         used, for example, for scheduling snapshots and your gateway's maintenance\n         schedule.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayType": {
          "target": "com.amazonaws.storagegateway#GatewayType",
          "traits": {
            "smithy.api#documentation": "<p>A value that defines the type of gateway to activate. The type specified is critical\n         to all later functions of the gateway and cannot be changed after activation. The default\n         value is <code>CACHED</code>. </p>\n         <p> Valid Values: \"STORED\", \"CACHED\", \"VTL\", \"FILE_S3\"</p>"
          }
        },
        "MediumChangerType": {
          "target": "com.amazonaws.storagegateway#MediumChangerType",
          "traits": {
            "smithy.api#documentation": "<p>The value that indicates the type of medium changer to use for tape gateway. This\n         field is optional.</p>\n         <p> Valid Values: \"STK-L700\", \"AWS-Gateway-VTL\"</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that you can assign to the gateway. Each tag is a key-value\n         pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers that can be\n            represented in UTF-8 format, and the following special characters: + - = . _ : / @. The\n            maximum length of a tag's key is 128 characters, and the maximum length for a\n            tag's value is 256 characters.</p>\n         </note>"
          }
        },
        "TapeDriveType": {
          "target": "com.amazonaws.storagegateway#TapeDriveType",
          "traits": {
            "smithy.api#documentation": "<p>The value that indicates the type of tape drive to use for tape gateway. This field\n         is optional.</p>\n         <p> Valid Values: \"IBM-ULT3580-TD5\" </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing one or more of the following fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$ActivationKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayName</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayRegion</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayTimezone</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayType</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$TapeDriveType</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$MediumChangerType</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.storagegateway#ActivateGatewayOutput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway.\n         It is a string made of information such as your account, gateway name, and AWS Region. This\n         ARN is used to reference the gateway in other API operations as well as resource-based\n         authorization.</p>\n         <note>\n            <p>For gateways activated prior to September 02, 2015, the gateway ARN contains the\n            gateway name rather than the gateway ID. Changing the name of the gateway has no effect\n            on the gateway ARN.</p>\n         </note>"
      }
    },
    "com.amazonaws.storagegateway#ActivationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.storagegateway#ActiveDirectoryStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCESS_DENIED"
          },
          {
            "value": "DETACHED"
          },
          {
            "value": "JOINED"
          },
          {
            "value": "JOINING"
          },
          {
            "value": "NETWORK_ERROR"
          },
          {
            "value": "TIMEOUT"
          },
          {
            "value": "UNKNOWN_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.storagegateway#AddCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AddCacheInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AddCacheOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures one or more gateway local disks as cache for a gateway. This operation is\n         only supported in the cached volume, tape and file gateway type (see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/StorageGatewayConcepts.html\">Storage Gateway Concepts</a>).</p>\n         <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want\n         to add cache, and one or more disk IDs that you want to configure as cache.</p>"
      }
    },
    "com.amazonaws.storagegateway#AddCacheInput": {
      "type": "structure",
      "members": {
        "DiskIds": {
          "target": "com.amazonaws.storagegateway#DiskIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that identify disks that are to be configured as working storage.\n         Each string have a minimum length of 1 and maximum length of 300. You can get the disk IDs\n         from the <a>ListLocalDisks</a> API.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AddCacheOutput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      }
    },
    "com.amazonaws.storagegateway#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AddTagsToResourceInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AddTagsToResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to the specified resource. You use tags to add metadata to\n         resources, which you can use to categorize these resources. For example, you can categorize\n         resources by purpose, owner, environment, or team. Each tag consists of a key and a value,\n         which you define. You can add tags to the following AWS Storage Gateway\n         resources:</p>\n         <ul>\n            <li>\n               <p>Storage gateways of all types</p>\n            </li>\n            <li>\n               <p>Storage volumes</p>\n            </li>\n            <li>\n               <p>Virtual tapes</p>\n            </li>\n            <li>\n               <p>NFS and SMB file shares</p>\n            </li>\n         </ul>\n\n         <p>You can create a maximum of 50 tags for each resource. Virtual tapes and storage\n         volumes that are recovered to a new gateway maintain their tags.</p>"
      }
    },
    "com.amazonaws.storagegateway#AddTagsToResourceInput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.storagegateway#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag you want to add to the resource. The value\n         can be an empty string.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable\n            in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum\n            length of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AddTagsToResourceInput</p>"
      }
    },
    "com.amazonaws.storagegateway#AddTagsToResourceOutput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.storagegateway#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AddTagsToResourceOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#AddUploadBuffer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AddUploadBufferInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AddUploadBufferOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures one or more gateway local disks as upload buffer for a specified gateway.\n         This operation is supported for the stored volume, cached volume and tape gateway\n         types.</p>\n         <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want\n         to add upload buffer, and one or more disk IDs that you want to configure as upload\n         buffer.</p>"
      }
    },
    "com.amazonaws.storagegateway#AddUploadBufferInput": {
      "type": "structure",
      "members": {
        "DiskIds": {
          "target": "com.amazonaws.storagegateway#DiskIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that identify disks that are to be configured as working storage.\n         Each string have a minimum length of 1 and maximum length of 300. You can get the disk IDs\n         from the <a>ListLocalDisks</a> API.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AddUploadBufferOutput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      }
    },
    "com.amazonaws.storagegateway#AddWorkingStorage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AddWorkingStorageInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AddWorkingStorageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures one or more gateway local disks as working storage for a gateway. This\n         operation is only supported in the stored volume gateway type. This operation is deprecated\n         in cached volume API version 20120630. Use <a>AddUploadBuffer</a>\n         instead.</p>\n         <note>\n            <p>Working storage is also referred to as upload buffer. You can also use the <a>AddUploadBuffer</a> operation to add upload buffer to a stored volume\n            gateway.</p>\n         </note>\n         <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want\n         to add working storage, and one or more disk IDs that you want to configure as working\n         storage.</p>"
      }
    },
    "com.amazonaws.storagegateway#AddWorkingStorageInput": {
      "type": "structure",
      "members": {
        "DiskIds": {
          "target": "com.amazonaws.storagegateway#DiskIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that identify disks that are to be configured as working storage.\n         Each string have a minimum length of 1 and maximum length of 300. You can get the disk IDs\n         from the <a>ListLocalDisks</a> API.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing one or more of the following fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>AddWorkingStorageInput$DiskIds</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.storagegateway#AddWorkingStorageOutput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing the of the gateway for which working storage was\n         configured.</p>"
      }
    },
    "com.amazonaws.storagegateway#AssignTapePool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AssignTapePoolInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AssignTapePoolOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns a tape to a tape pool for archiving. The tape assigned to a pool is archived in\n         the S3 storage class that is associated with the pool. When you use your backup application\n         to eject the tape, the tape is archived directly into the S3 storage class (Glacier or Deep\n         Archive) that corresponds to the pool.</p>\n         <p>Valid values: \"GLACIER\", \"DEEP_ARCHIVE\"</p>"
      }
    },
    "com.amazonaws.storagegateway#AssignTapePoolInput": {
      "type": "structure",
      "members": {
        "PoolId": {
          "target": "com.amazonaws.storagegateway#PoolId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pool that you want to add your tape to for archiving. \n         The tape in this pool is archived in the S3 storage class that is associated with the pool. \n         When you use your backup application to eject the tape, the tape is archived directly into the storage class (Glacier or Deep Archive) that corresponds to the pool.</p>\n         <p>Valid values: \"GLACIER\", \"DEEP_ARCHIVE\"</p>",
            "smithy.api#required": {}
          }
        },
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) of the virtual tape that you want to add to the tape pool.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AssignTapePoolOutput": {
      "type": "structure",
      "members": {
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Names (ARN) of the virtual tape that was added to the tape\n         pool.</p>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AttachVolume": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AttachVolumeInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AttachVolumeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Connects a volume to an iSCSI connection and then attaches the volume to the\n         specified gateway. Detaching and attaching a volume enables you to recover your data from\n         one gateway to a different gateway without creating a snapshot. It also makes it easier to\n         move your volumes from an on-premises gateway to a gateway hosted on an Amazon EC2\n         instance.</p>"
      }
    },
    "com.amazonaws.storagegateway#AttachVolumeInput": {
      "type": "structure",
      "members": {
        "DiskId": {
          "target": "com.amazonaws.storagegateway#DiskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique device ID or other distinguishing data that identifies the local disk used\n         to create the volume. This value is only required when you are attaching a stored\n         volume.</p>"
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the gateway that you want to attach the volume\n         to.</p>",
            "smithy.api#required": {}
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.storagegateway#NetworkInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The network interface of the gateway on which to expose the iSCSI target. Only IPv4\n         addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of\n         the network interfaces available on a gateway.</p>\n         <p> Valid Values: A valid IP address.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetName": {
          "target": "com.amazonaws.storagegateway#TargetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as\n         a suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously used\n         for this volume as the new target name.</p>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume to attach to the specified\n         gateway.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AttachVolumeInput</p>"
      }
    },
    "com.amazonaws.storagegateway#AttachVolumeOutput": {
      "type": "structure",
      "members": {
        "TargetARN": {
          "target": "com.amazonaws.storagegateway#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume target, which includes the iSCSI name\n         for the initiator that was used to connect to the target.</p>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume that was attached to the\n         gateway.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AttachVolumeOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#Authentication": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The authentication method of the file share.</p>\n         <p>Valid values are <code>ActiveDirectory</code> or <code>GuestAccess</code>. The\n         default is <code>ActiveDirectory</code>.</p>",
        "smithy.api#length": {
          "min": 5,
          "max": 15
        }
      }
    },
    "com.amazonaws.storagegateway#AvailabilityMonitorTestStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COMPLETE"
          },
          {
            "value": "FAILED"
          },
          {
            "value": "PENDING"
          }
        ]
      }
    },
    "com.amazonaws.storagegateway#BandwidthDownloadRateLimit": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 102400
        }
      }
    },
    "com.amazonaws.storagegateway#BandwidthType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 25
        }
      }
    },
    "com.amazonaws.storagegateway#BandwidthUploadRateLimit": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 51200
        }
      }
    },
    "com.amazonaws.storagegateway#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.storagegateway#Boolean2": {
      "type": "boolean"
    },
    "com.amazonaws.storagegateway#CachediSCSIVolume": {
      "type": "structure",
      "members": {
        "CreatedDate": {
          "target": "com.amazonaws.storagegateway#CreatedDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the volume was created. Volumes created prior to March 28, 2017 don’t have\n         this time stamp.</p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey"
        },
        "SourceSnapshotId": {
          "target": "com.amazonaws.storagegateway#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>If the cached volume was created from a snapshot, this field contains the snapshot ID\n         used, e.g. snap-78e22663. Otherwise, this field is not included.</p>"
          }
        },
        "TargetName": {
          "target": "com.amazonaws.storagegateway#TargetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as\n         a suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously used\n         for this volume as the new target name.</p>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the storage volume.</p>"
          }
        },
        "VolumeAttachmentStatus": {
          "target": "com.amazonaws.storagegateway#VolumeAttachmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether a storage volume is attached to or detached from a\n         gateway. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/managing-volumes.html#attach-detach-volume\">Moving Your Volumes to a Different Gateway</a>.</p>"
          }
        },
        "VolumeId": {
          "target": "com.amazonaws.storagegateway#VolumeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the volume, e.g. vol-AE4B946D.</p>"
          }
        },
        "VolumeProgress": {
          "target": "com.amazonaws.storagegateway#DoubleObject",
          "traits": {
            "smithy.api#documentation": "<p>Represents the percentage complete if the volume is restoring or bootstrapping that\n         represents the percent of data transferred. This field does not appear in the response if\n         the cached volume is not restoring or bootstrapping.</p>"
          }
        },
        "VolumeSizeInBytes": {
          "target": "com.amazonaws.storagegateway#long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of the volume capacity.</p>"
          }
        },
        "VolumeStatus": {
          "target": "com.amazonaws.storagegateway#VolumeStatus",
          "traits": {
            "smithy.api#documentation": "<p>One of the VolumeStatus values that indicates the state of the storage\n         volume.</p>"
          }
        },
        "VolumeType": {
          "target": "com.amazonaws.storagegateway#VolumeType",
          "traits": {
            "smithy.api#documentation": "<p>One of the VolumeType enumeration values that describes the type of the\n         volume.</p>"
          }
        },
        "VolumeUsedInBytes": {
          "target": "com.amazonaws.storagegateway#VolumeUsedInBytes",
          "traits": {
            "smithy.api#documentation": "<p>The size of the data stored on the volume in bytes. This value is calculated based on\n         the number of blocks that are touched, instead of the actual amount of data written. This\n         value can be useful for sequential write patterns but less accurate for random write\n         patterns. <code>VolumeUsedInBytes</code> is different from the compressed size of the\n         volume, which is the value that is used to calculate your bill.</p>\n\n\n         <note>\n            <p>This value is not available for volumes created prior to May 13, 2015, until you\n            store data on the volume.</p>\n         </note>"
          }
        },
        "VolumeiSCSIAttributes": {
          "target": "com.amazonaws.storagegateway#VolumeiSCSIAttributes",
          "traits": {
            "smithy.api#documentation": "<p>An <a>VolumeiSCSIAttributes</a> object that represents a collection of\n         iSCSI attributes for one stored volume.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an iSCSI cached volume.</p>"
      }
    },
    "com.amazonaws.storagegateway#CachediSCSIVolumes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.storagegateway#CachediSCSIVolume"
      }
    },
    "com.amazonaws.storagegateway#CancelArchival": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CancelArchivalInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CancelArchivalOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the\n         archiving process is initiated. This operation is only supported in the tape gateway\n         type.</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelArchivalInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel archiving\n         for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelArchivalInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelArchivalOutput": {
      "type": "structure",
      "members": {
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape for which archiving was\n         canceled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelArchivalOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelRetrieval": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CancelRetrievalInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CancelRetrievalOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway\n         after the retrieval process is initiated. The virtual tape is returned to the VTS. This\n         operation is only supported in the tape gateway type.</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelRetrievalInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel retrieval\n         for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelRetrievalInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelRetrievalOutput": {
      "type": "structure",
      "members": {
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape for which retrieval was\n         canceled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelRetrievalOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#ChapCredentials": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.storagegateway#ChapInfo"
      }
    },
    "com.amazonaws.storagegateway#ChapInfo": {
      "type": "structure",
      "members": {
        "InitiatorName": {
          "target": "com.amazonaws.storagegateway#IqnName",
          "traits": {
            "smithy.api#documentation": "<p>The iSCSI initiator that connects to the target.</p>"
          }
        },
        "SecretToAuthenticateInitiator": {
          "target": "com.amazonaws.storagegateway#ChapSecret",
          "traits": {
            "smithy.api#documentation": "<p>The secret key that the initiator (for example, the Windows client) must provide to\n         participate in mutual CHAP with the target.</p>"
          }
        },
        "SecretToAuthenticateTarget": {
          "target": "com.amazonaws.storagegateway#ChapSecret",
          "traits": {
            "smithy.api#documentation": "<p>The secret key that the target must provide to participate in mutual CHAP with the\n         initiator (e.g. Windows client).</p>"
          }
        },
        "TargetARN": {
          "target": "com.amazonaws.storagegateway#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume.</p>\n         <p> Valid Values: 50 to 500 lowercase letters, numbers, periods (.), and hyphens\n         (-).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes Challenge-Handshake Authentication Protocol (CHAP) information that\n         supports authentication between your gateway and iSCSI initiators.</p>"
      }
    },
    "com.amazonaws.storagegateway#ChapSecret": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.storagegateway#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 100
        }
      }
    },
    "com.amazonaws.storagegateway#CloudWatchLogGroupARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 562
        }
      }
    },
    "com.amazonaws.storagegateway#CreateCachediSCSIVolume": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateCachediSCSIVolumeInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateCachediSCSIVolumeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a cached volume on a specified cached volume gateway. This operation is only\n         supported in the cached volume gateway type.</p>\n         <note>\n            <p>Cache storage must be allocated to the gateway before you can create a cached\n            volume. Use the <a>AddCache</a> operation to add cache storage to a gateway.\n         </p>\n         </note>\n         <p>In the request, you must specify the gateway, size of the volume in bytes, the iSCSI\n         target name, an IP address on which to expose the target, and a unique client token. In\n         response, the gateway creates the volume and returns information about it. This information\n         includes the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that\n         initiators can use to connect to the volume target.</p>\n\n         <p>Optionally, you can provide the ARN for an existing volume as the\n            <code>SourceVolumeARN</code> for this cached volume, which creates an exact copy of the\n         existing volume’s latest recovery point. The <code>VolumeSizeInBytes</code> value must be\n         equal to or larger than the size of the copied volume, in bytes.</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateCachediSCSIVolumeInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.storagegateway#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you use to retry a request. If you retry a request, use the\n         same <code>ClientToken</code> you specified in the initial request.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "KMSEncrypted": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to use Amazon S3 server side encryption with your own AWS KMS key, or false to\n         use a key managed by Amazon S3. Optional.</p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS KMS key used for Amazon S3 server side\n         encryption. This value can only be set when KMSEncrypted is true. Optional.</p>"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.storagegateway#NetworkInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The network interface of the gateway on which to expose the iSCSI target. Only IPv4\n         addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of\n         the network interfaces available on a gateway.</p>\n         <p> Valid Values: A valid IP address.</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.storagegateway#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot ID (e.g. \"snap-1122aabb\") of the snapshot to restore as the new cached\n         volume. Specify this field if you want to create the iSCSI storage volume from a snapshot\n         otherwise do not include this field. To list snapshots for your account use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API\n            Reference</i>.</p>"
          }
        },
        "SourceVolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for an existing volume. Specifying this ARN makes the new volume into an\n         exact copy of the specified existing volume's latest recovery point. The\n            <code>VolumeSizeInBytes</code> value for this new volume must be equal to or larger than\n         the size of the existing volume, in bytes.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that you can assign to a cached volume. Each tag is a\n         key-value pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers that you can\n            represent in UTF-8 format, and the following special characters: + - = . _ : / @. The\n            maximum length of a tag's key is 128 characters, and the maximum length for a\n            tag's value is 256 characters.</p>\n         </note>"
          }
        },
        "TargetName": {
          "target": "com.amazonaws.storagegateway#TargetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as\n         a suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously used\n         for this volume as the new target name.</p>",
            "smithy.api#required": {}
          }
        },
        "VolumeSizeInBytes": {
          "target": "com.amazonaws.storagegateway#long",
          "traits": {
            "smithy.api#documentation": "<p>The size of the volume in bytes.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.storagegateway#CreateCachediSCSIVolumeOutput": {
      "type": "structure",
      "members": {
        "TargetARN": {
          "target": "com.amazonaws.storagegateway#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume target, which includes the iSCSI name\n         that initiators can use to connect to the target.</p>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured volume.</p>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#CreateNFSFileShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateNFSFileShareInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateNFSFileShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Network File System (NFS) file share on an existing file gateway. In\n         Storage Gateway, a file share is a file system mount point backed by Amazon S3 cloud\n         storage. Storage Gateway exposes file shares using a NFS interface. This operation is only\n         supported for file gateways.</p>\n\n         <important>\n            <p>File gateway requires AWS Security Token Service (AWS STS) to be activated to\n            enable you create a file share. Make sure AWS STS is activated in the AWS Region you are\n            creating your file gateway in. If AWS STS is not activated in the AWS Region, activate\n            it. For information about how to activate AWS STS, see Activating and Deactivating AWS\n            STS in an AWS Region in the AWS Identity and Access Management User Guide. </p>\n            <p>File gateway does not support creating hard or symbolic links on a file\n            share.</p>\n         </important>"
      }
    },
    "com.amazonaws.storagegateway#CreateNFSFileShareInput": {
      "type": "structure",
      "members": {
        "ClientList": {
          "target": "com.amazonaws.storagegateway#FileShareClientList",
          "traits": {
            "smithy.api#documentation": "<p>The list of clients that are allowed to access the file gateway. The list must\n         contain either valid IP addresses or valid CIDR blocks. </p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.storagegateway#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique string value that you supply that is used by file gateway to ensure\n         idempotent file share creation.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultStorageClass": {
          "target": "com.amazonaws.storagegateway#StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The default storage class for objects put into an Amazon S3 bucket by the file\n         gateway. Possible values are <code>S3_STANDARD</code>, <code>S3_STANDARD_IA</code>, or\n            <code>S3_ONEZONE_IA</code>. If this field is not populated, the default value\n            <code>S3_STANDARD</code> is used. Optional.</p>"
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the file gateway on which you want to create a file\n         share.</p>",
            "smithy.api#required": {}
          }
        },
        "GuessMIMETypeEnabled": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that enables guessing of the MIME type for uploaded objects based on file\n         extensions. Set this value to true to enable MIME type guessing, and otherwise to false.\n         The default value is true.</p>"
          }
        },
        "KMSEncrypted": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to use Amazon S3 server side encryption with your own AWS KMS key, or false to\n         use a key managed by Amazon S3. Optional.</p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) AWS KMS key used for Amazon S3 server side encryption.\n         This value can only be set when KMSEncrypted is true. Optional.</p>"
          }
        },
        "LocationARN": {
          "target": "com.amazonaws.storagegateway#LocationARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the backed storage used for storing file data. </p>",
            "smithy.api#required": {}
          }
        },
        "NFSFileShareDefaults": {
          "target": "com.amazonaws.storagegateway#NFSFileShareDefaults",
          "traits": {
            "smithy.api#documentation": "<p>File share default values. Optional.</p>"
          }
        },
        "ObjectACL": {
          "target": "com.amazonaws.storagegateway#ObjectACL",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets the access control list permission for objects in the S3 bucket\n         that a file gateway puts objects into. The default value is \"private\".</p>"
          }
        },
        "ReadOnly": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets the write status of a file share. This value is true if the write\n         status is read-only, and otherwise false.</p>"
          }
        },
        "RequesterPays": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets who pays the cost of the request and the cost associated with \n         data download from the S3 bucket. If this value is set to true, the requester pays the costs. Otherwise the S3\n         bucket owner pays. However, the S3 bucket owner always pays the cost of storing data.</p>\n         <note>\n            <p>\n               <code>RequesterPays</code> is a configuration for the S3 bucket that backs the file share, \n         so make sure that the configuration on the file share is the same as the S3 bucket configuration.</p>\n         </note>"
          }
        },
        "Role": {
          "target": "com.amazonaws.storagegateway#Role",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Identity and Access Management (IAM) role that a file gateway\n         assumes when it accesses the underlying storage. </p>",
            "smithy.api#required": {}
          }
        },
        "Squash": {
          "target": "com.amazonaws.storagegateway#Squash",
          "traits": {
            "smithy.api#documentation": "<p>A value that maps a user to anonymous user. Valid options are the following: </p>\n         <ul>\n            <li>\n               <p>\n                  <code>RootSquash</code> - Only root is mapped to anonymous user.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NoSquash</code> - No one is mapped to anonymous user</p>\n            </li>\n            <li>\n               <p>\n                  <code>AllSquash</code> - Everyone is mapped to anonymous user.</p>\n            </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to the NFS file share. Each tag is a key-value pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable\n            in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum\n            length of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateNFSFileShareInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateNFSFileShareOutput": {
      "type": "structure",
      "members": {
        "FileShareARN": {
          "target": "com.amazonaws.storagegateway#FileShareARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the newly created file share. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateNFSFileShareOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateSMBFileShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateSMBFileShareInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateSMBFileShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Server Message Block (SMB) file share on an existing file gateway. In\n         Storage Gateway, a file share is a file system mount point backed by Amazon S3 cloud\n         storage. Storage Gateway expose file shares using a SMB interface. This operation is only\n         supported for file gateways.</p>\n\n         <important>\n            <p>File gateways require AWS Security Token Service (AWS STS) to be activated to\n            enable you to create a file share. Make sure that AWS STS is activated in the AWS Region\n            you are creating your file gateway in. If AWS STS is not activated in this AWS Region,\n            activate it. For information about how to activate AWS STS, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and\n               Deactivating AWS STS in an AWS Region</a> in the <i>AWS Identity and\n               Access Management User Guide.</i>\n            </p>\n            <p>File gateways don't support creating hard or symbolic links on a file\n            share.</p>\n         </important>"
      }
    },
    "com.amazonaws.storagegateway#CreateSMBFileShareInput": {
      "type": "structure",
      "members": {
        "AdminUserList": {
          "target": "com.amazonaws.storagegateway#FileShareUserList",
          "traits": {
            "smithy.api#documentation": "<p>A list of users in the Active Directory that will be granted administrator privileges on the\n         file share. These users can do all file operations as the super-user.        \n      </p>\n         <important>\n            <p>Use this option very carefully, because any user in this list can do \n         anything they like on the file share, regardless of file permissions.</p>\n         </important>"
          }
        },
        "Authentication": {
          "target": "com.amazonaws.storagegateway#Authentication",
          "traits": {
            "smithy.api#documentation": "<p>The authentication method that users use to access the file share.</p>\n         <p>Valid values are <code>ActiveDirectory</code> or <code>GuestAccess</code>. The\n         default is <code>ActiveDirectory</code>.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.storagegateway#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique string value that you supply that is used by file gateway to ensure\n         idempotent file share creation.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultStorageClass": {
          "target": "com.amazonaws.storagegateway#StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The default storage class for objects put into an Amazon S3 bucket by the file\n         gateway. Possible values are <code>S3_STANDARD</code>, <code>S3_STANDARD_IA</code>, or\n            <code>S3_ONEZONE_IA</code>. If this field is not populated, the default value\n            <code>S3_STANDARD</code> is used. Optional.</p>"
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the file gateway on which you want to create a file\n         share.</p>",
            "smithy.api#required": {}
          }
        },
        "GuessMIMETypeEnabled": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that enables guessing of the MIME type for uploaded objects based on file\n         extensions. Set this value to true to enable MIME type guessing, and otherwise to false.\n         The default value is true.</p>"
          }
        },
        "InvalidUserList": {
          "target": "com.amazonaws.storagegateway#FileShareUserList",
          "traits": {
            "smithy.api#documentation": "<p>A list of users or groups in the Active Directory that are not allowed to access the\n         file share. A group must be prefixed with the @ character. For example\n         <code>@group1</code>. Can only be set if Authentication is set to\n            <code>ActiveDirectory</code>.</p>"
          }
        },
        "KMSEncrypted": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to use Amazon S3 server side encryption with your own AWS KMS key, or false to\n         use a key managed by Amazon S3. Optional.</p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS KMS key used for Amazon S3 server side\n         encryption. This value can only be set when KMSEncrypted is true. Optional.</p>"
          }
        },
        "LocationARN": {
          "target": "com.amazonaws.storagegateway#LocationARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the backed storage used for storing file data. </p>",
            "smithy.api#required": {}
          }
        },
        "ObjectACL": {
          "target": "com.amazonaws.storagegateway#ObjectACL",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets the access control list permission for objects in the S3 bucket\n         that a file gateway puts objects into. The default value is \"private\".</p>"
          }
        },
        "ReadOnly": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets the write status of a file share. This value is true if the write\n         status is read-only, and otherwise false.</p>"
          }
        },
        "RequesterPays": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets who pays the cost of the request and the cost associated with \n         data download from the S3 bucket. If this value is set to true, the requester pays the costs. Otherwise the S3\n         bucket owner pays. However, the S3 bucket owner always pays the cost of storing data.</p>\n         <note>\n            <p>\n               <code>RequesterPays</code> is a configuration for the S3 bucket that backs the file share, \n         so make sure that the configuration on the file share is the same as the S3 bucket configuration.</p>\n         </note>"
          }
        },
        "Role": {
          "target": "com.amazonaws.storagegateway#Role",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Identity and Access Management (IAM) role that a file gateway\n         assumes when it accesses the underlying storage. </p>",
            "smithy.api#required": {}
          }
        },
        "SMBACLEnabled": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to \"true to enable ACL (access control list) on the SMB file share. Set it to \"false\" to \n         map file and directory permissions to the POSIX permissions.</p>\n      \n         <p>For more information, see\n         https://docs.aws.amazon.com/storagegateway/latest/userguide/smb-acl.html in the\n         Storage Gateway User Guide.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to the NFS file share. Each tag is a key-value pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable\n            in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum\n            length of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        },
        "ValidUserList": {
          "target": "com.amazonaws.storagegateway#FileShareUserList",
          "traits": {
            "smithy.api#documentation": "<p>A list of users or groups in the Active Directory that are allowed to access the file\n         share. A group must be prefixed with the @ character. For example <code>@group1</code>. Can\n         only be set if Authentication is set to <code>ActiveDirectory</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateSMBFileShareInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateSMBFileShareOutput": {
      "type": "structure",
      "members": {
        "FileShareARN": {
          "target": "com.amazonaws.storagegateway#FileShareARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the newly created file share. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateSMBFileShareOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateSnapshotInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateSnapshotOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        },
        {
          "target": "com.amazonaws.storagegateway#ServiceUnavailableError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Initiates a snapshot of a volume.</p>\n         <p>AWS Storage Gateway provides the ability to back up point-in-time snapshots of your\n         data to Amazon Simple Storage (S3) for durable off-site recovery, as well as import the\n         data to an Amazon Elastic Block Store (EBS) volume in Amazon Elastic Compute Cloud (EC2).\n         You can take snapshots of your gateway volume on a scheduled or ad hoc basis. This API\n         enables you to take ad-hoc snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/managing-volumes.html#SchedulingSnapshot\">Editing a\n            Snapshot Schedule</a>.</p>\n         <p>In the CreateSnapshot request you identify the volume by providing its Amazon\n         Resource Name (ARN). You must also provide description for the snapshot. When AWS Storage\n         Gateway takes the snapshot of specified volume, the snapshot and description appears in the\n         AWS Storage Gateway Console. In response, AWS Storage Gateway returns you a snapshot ID.\n         You can use this snapshot ID to check the snapshot progress or later use it when you want\n         to create a volume from a snapshot. This operation is only supported in stored and cached\n         volume gateway type.</p>\n\n         <note>\n            <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more\n            information, see DescribeSnapshots or DeleteSnapshot in the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Operations.html\">EC2 API\n            reference</a>.</p>\n         </note>\n         <important>\n            <p>Volume and snapshot IDs are changing to a longer length ID format. For more\n            information, see the important note on the <a href=\"https://docs.aws.amazon.com/storagegateway/latest/APIReference/Welcome.html\">Welcome</a> page.</p>\n         </important>"
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPointInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        },
        {
          "target": "com.amazonaws.storagegateway#ServiceUnavailableError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Initiates a snapshot of a gateway from a volume recovery point. This operation is\n         only supported in the cached volume gateway type.</p>\n         <p>A volume recovery point is a point in time at which all data of the volume is\n         consistent and from which you can create a snapshot. To get a list of volume recovery point\n         for cached volume gateway, use <a>ListVolumeRecoveryPoints</a>.</p>\n         <p>In the <code>CreateSnapshotFromVolumeRecoveryPoint</code> request, you identify the\n         volume by providing its Amazon Resource Name (ARN). You must also provide a description for\n         the snapshot. When the gateway takes a snapshot of the specified volume, the snapshot and\n         its description appear in the AWS Storage Gateway console.\n          In response, the gateway returns\n         you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use\n         it when you want to create a volume from a snapshot.</p>\n         <note>\n            <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more\n            information, in <i>Amazon Elastic Compute Cloud API\n            Reference</i>.</p>\n         </note>"
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPointInput": {
      "type": "structure",
      "members": {
        "SnapshotDescription": {
          "target": "com.amazonaws.storagegateway#SnapshotDescription",
          "traits": {
            "smithy.api#documentation": "<p>Textual description of the snapshot that appears in the Amazon EC2 console, Elastic\n         Block Store snapshots panel in the <b>Description</b> field, and\n         in the AWS Storage Gateway snapshot <b>Details</b> pane,\n            <b>Description</b> field</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to a snapshot. Each tag is a key-value pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable\n            in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum\n            length of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a> operation to return to retrieve the TargetARN for\n         specified VolumeARN.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPointOutput": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.storagegateway#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the snapshot.</p>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a> operation to return to retrieve the TargetARN for\n         specified VolumeARN.</p>"
          }
        },
        "VolumeRecoveryPointTime": {
          "target": "com.amazonaws.storagegateway#string",
          "traits": {
            "smithy.api#documentation": "<p>The time the volume was created from the recovery point.</p>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshotInput": {
      "type": "structure",
      "members": {
        "SnapshotDescription": {
          "target": "com.amazonaws.storagegateway#SnapshotDescription",
          "traits": {
            "smithy.api#documentation": "<p>Textual description of the snapshot that appears in the Amazon EC2 console, Elastic\n         Block Store snapshots panel in the <b>Description</b> field, and\n         in the AWS Storage Gateway snapshot <b>Details</b> pane,\n            <b>Description</b> field</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to a snapshot. Each tag is a key-value pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable\n            in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum\n            length of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a>\n         operation to return a list of gateway volumes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing one or more of the following fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateSnapshotInput$SnapshotDescription</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateSnapshotInput$VolumeARN</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshotOutput": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.storagegateway#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot ID that is used to refer to the snapshot in future operations such as\n         describing snapshots (Amazon Elastic Compute Cloud API <code>DescribeSnapshots</code>) or\n         creating a volume from a snapshot (<a>CreateStorediSCSIVolume</a>).</p>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume of which the snapshot was\n         taken.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing the following fields:</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateStorediSCSIVolume": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateStorediSCSIVolumeInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateStorediSCSIVolumeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a volume on a specified gateway. This operation is only supported in the\n         stored volume gateway type.</p>\n         <p>The size of the volume to create is inferred from the disk size. You can choose to\n         preserve existing data on the disk, create volume from an existing snapshot, or create an\n         empty volume. If you choose to create an empty gateway volume, then any existing data on\n         the disk is erased.</p>\n         <p>In the request you must specify the gateway and the disk information on which you are\n         creating the volume. In response, the gateway creates the volume and returns volume\n         information such as the volume Amazon Resource Name (ARN), its size, and the iSCSI target\n         ARN that initiators can use to connect to the volume target.</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateStorediSCSIVolumeInput": {
      "type": "structure",
      "members": {
        "DiskId": {
          "target": "com.amazonaws.storagegateway#DiskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the gateway local disk that is configured as a stored\n         volume. Use <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/API_ListLocalDisks.html\">ListLocalDisks</a> to\n         list disk IDs for a gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "KMSEncrypted": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to use Amazon S3 server side encryption with your own AWS KMS key, or false to\n         use a key managed by Amazon S3. Optional.</p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key used for Amazon S3 server side\n         encryption. This value can only be set when KMSEncrypted is true. Optional.</p>"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.storagegateway#NetworkInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The network interface of the gateway on which to expose the iSCSI target. Only IPv4\n         addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of\n         the network interfaces available on a gateway.</p>\n         <p> Valid Values: A valid IP address.</p>",
            "smithy.api#required": {}
          }
        },
        "PreserveExistingData": {
          "target": "com.amazonaws.storagegateway#Boolean2",
          "traits": {
            "smithy.api#documentation": "<p>Specify this field as true if you want to preserve the data on the local disk.\n         Otherwise, specifying this field as false creates an empty volume.</p>\n         <p> Valid Values: true, false</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.storagegateway#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot ID (e.g. \"snap-1122aabb\") of the snapshot to restore as the new stored\n         volume. Specify this field if you want to create the iSCSI storage volume from a snapshot\n         otherwise do not include this field. To list snapshots for your account use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API\n            Reference</i>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to a stored volume. Each tag is a key-value pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable\n            in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum\n            length of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        },
        "TargetName": {
          "target": "com.amazonaws.storagegateway#TargetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as\n         a suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously used\n         for this volume as the new target name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing one or more of the following fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateStorediSCSIVolumeInput$DiskId</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateStorediSCSIVolumeInput$NetworkInterfaceId</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateStorediSCSIVolumeInput$PreserveExistingData</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateStorediSCSIVolumeInput$SnapshotId</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateStorediSCSIVolumeInput$TargetName</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.storagegateway#CreateStorediSCSIVolumeOutput": {
      "type": "structure",
      "members": {
        "TargetARN": {
          "target": "com.amazonaws.storagegateway#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume target, which includes the iSCSI name\n         that initiators can use to connect to the target.</p>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured volume.</p>"
          }
        },
        "VolumeSizeInBytes": {
          "target": "com.amazonaws.storagegateway#long",
          "traits": {
            "smithy.api#documentation": "<p>The size of the volume in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing the following fields:</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateTapeWithBarcode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateTapeWithBarcodeInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateTapeWithBarcodeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a virtual tape by using your own barcode. You write data to the virtual tape\n         and then archive the tape. A barcode is unique and can not be reused if it has already been\n         used on a tape . This applies to barcodes used on deleted tapes. This operation is only\n         supported in the tape gateway type.</p>\n         <note>\n            <p>Cache storage must be allocated to the gateway before you can create a virtual\n            tape. Use the <a>AddCache</a> operation to add cache storage to a\n            gateway.</p>\n         </note>"
      }
    },
    "com.amazonaws.storagegateway#CreateTapeWithBarcodeInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) that represents the gateway to associate the\n         virtual tape with. Use the <a>ListGateways</a> operation to return a list of\n         gateways for your account and AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "KMSEncrypted": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to use Amazon S3 server side encryption with your own AWS KMS key, or false to\n         use a key managed by Amazon S3. Optional.</p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS KMS Key used for Amazon S3 server side\n         encryption. This value can only be set when KMSEncrypted is true. Optional.</p>"
          }
        },
        "PoolId": {
          "target": "com.amazonaws.storagegateway#PoolId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pool that you want to add your tape to for archiving. \n         The tape in this pool is archived in the S3 storage class that is associated with the pool. \n         When you use your backup application to eject the tape, the tape is archived directly into the storage class (Glacier or Deep Archive) that corresponds to the pool.</p>\n         <p>Valid values: \"GLACIER\", \"DEEP_ARCHIVE\"</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to a virtual tape that has a barcode. Each tag is a key-value pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable\n            in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum\n            length of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        },
        "TapeBarcode": {
          "target": "com.amazonaws.storagegateway#TapeBarcode",
          "traits": {
            "smithy.api#documentation": "<p>The barcode that you want to assign to the tape.</p>\n         <note>\n            <p>Barcodes cannot be reused. This includes barcodes used for tapes that have been\n            deleted.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "TapeSizeInBytes": {
          "target": "com.amazonaws.storagegateway#TapeSize",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of the virtual tape that you want to create.</p>\n         <note>\n            <p>The size must be aligned by gigabyte (1024*1024*1024 byte).</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTapeWithBarcodeInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateTapeWithBarcodeOutput": {
      "type": "structure",
      "members": {
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>A unique Amazon Resource Name (ARN) that represents the virtual tape that was\n         created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTapeOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateTapes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateTapesInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateTapesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates one or more virtual tapes. You write data to the virtual tapes and then\n         archive the tapes. This operation is only supported in the tape gateway type.</p>\n         <note>\n            <p>Cache storage must be allocated to the gateway before you can create virtual\n            tapes. Use the <a>AddCache</a> operation to add cache storage to a gateway.\n         </p>\n         </note>"
      }
    },
    "com.amazonaws.storagegateway#CreateTapesInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.storagegateway#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you use to retry a request. If you retry a request, use the\n         same <code>ClientToken</code> you specified in the initial request.</p>\n         <note>\n            <p>Using the same <code>ClientToken</code> prevents creating the tape multiple\n            times.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) that represents the gateway to associate the\n         virtual tapes with. Use the <a>ListGateways</a> operation to return a list of\n         gateways for your account and AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "KMSEncrypted": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to use Amazon S3 server side encryption with your own AWS KMS key, or false to\n         use a key managed by Amazon S3. Optional.</p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS KMS key used for Amazon S3 server side\n         encryption. This value can only be set when KMSEncrypted is true. Optional.</p>"
          }
        },
        "NumTapesToCreate": {
          "target": "com.amazonaws.storagegateway#NumTapesToCreate",
          "traits": {
            "smithy.api#documentation": "<p>The number of virtual tapes that you want to create.</p>",
            "smithy.api#required": {}
          }
        },
        "PoolId": {
          "target": "com.amazonaws.storagegateway#PoolId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pool that you want to add your tape to for archiving. \n         The tape in this pool is archived in the S3 storage class that is associated with the pool. \n         When you use your backup application to eject the tape, the tape is archived directly into the storage class (Glacier or Deep Archive) that corresponds to the pool.</p>\n         <p>Valid values: \"GLACIER\", \"DEEP_ARCHIVE\"</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to a virtual tape. Each tag is a key-value pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable\n            in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum\n            length of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        },
        "TapeBarcodePrefix": {
          "target": "com.amazonaws.storagegateway#TapeBarcodePrefix",
          "traits": {
            "smithy.api#documentation": "<p>A prefix that you append to the barcode of the virtual tape you are creating. This\n         prefix makes the barcode unique.</p>\n         <note>\n            <p>The prefix must be 1 to 4 characters in length and must be one of the uppercase\n            letters from A to Z.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "TapeSizeInBytes": {
          "target": "com.amazonaws.storagegateway#TapeSize",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of the virtual tapes that you want to create.</p>\n         <note>\n            <p>The size must be aligned by gigabyte (1024*1024*1024 byte).</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTapesInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateTapesOutput": {
      "type": "structure",
      "members": {
        "TapeARNs": {
          "target": "com.amazonaws.storagegateway#TapeARNs",
          "traits": {
            "smithy.api#documentation": "<p>A list of unique Amazon Resource Names (ARNs) that represents the virtual tapes that\n         were created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTapeOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreatedDate": {
      "type": "timestamp"
    },
    "com.amazonaws.storagegateway#DayOfMonth": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 28
        }
      }
    },
    "com.amazonaws.storagegateway#DayOfWeek": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 6
        }
      }
    },
    "com.amazonaws.storagegateway#DeleteBandwidthRateLimit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#DeleteBandwidthRateLimitInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#DeleteBandwidthRateLimitOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the bandwidth rate limits of a gateway. You can delete either the upload and\n         download bandwidth rate limit, or you can delete both. If you delete only one of the\n         limits, the other limit remains unchanged. To specify which gateway to work with, use the\n         Amazon Resource Name (ARN) of the gateway in your request. This operation is supported for the stored volume, cached volume and tape gateway types.</p>"
      }
    },
    "com.amazonaws.storagegateway#DeleteBandwidthRateLimitInput": {
      "type": "structure",
      "members": {
        "BandwidthType": {
          "target": "com.amazonaws.storagegateway#BandwidthType",
          "traits": {
            "smithy.api#documentation": "<p>One of the BandwidthType values that indicates the gateway bandwidth rate limit to\n         delete.</p>\n         <p>Valid Values: <code>Upload</code>, <code>Download</code>, <code>All</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing the following fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DeleteBandwidthRateLimitInput$BandwidthType</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.storagegateway#DeleteBandwidthRateLimitOutput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing the of the gateway whose bandwidth rate information was\n         deleted.</p>"
      }
    },
    "com.amazonaws.storagegateway#DeleteChapCredentials": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#DeleteChapCredentialsInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#DeleteChapCredentialsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes Challenge-Handshake Authentication Protocol (CHAP) credentials for a\n         specified iSCSI target and initiator pair. This operation is supported in volume and tape gateway types.</p>"
      }
    },
    "com.amazonaws.storagegateway#DeleteChapCredentialsInput": {
      "type": "structure",
      "members": {
        "InitiatorName": {
          "target": "com.amazonaws.storagegateway#IqnName",
          "traits": {
            "smithy.api#documentation": "<p>The iSCSI initiator that connects to the target.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetARN": {
          "target": "com.amazonaws.storagegateway#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a> operation to return to retrieve the TargetARN for\n         specified VolumeARN.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing one or more of the following fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DeleteChapCredentialsInput$InitiatorName</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteChapCredentialsInput$TargetARN</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.storagegateway#DeleteChapCredentialsOutput": {
      "type": "structure",
      "members": {
        "InitiatorName": {
          "target": "com.amazonaws.storagegateway#IqnName",
          "traits": {
            "smithy.api#documentation": "<p>The iSCSI initiator that connects to the target.</p>"
          }
        },
        "TargetARN": {
          "target": "com.amazonaws.storagegateway#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing the following fields:</p>"
      }
    },
    "com.amazonaws.storagegateway#DeleteFileShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#DeleteFileShareInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#DeleteFileShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a file share from a file gateway. This operation is only supported for file\n         gateways.</p>"
      }
    },
    "com.amazonaws.storagegateway#DeleteFileShareInput": {
      "type": "structure",
      "members": {
        "FileShareARN": {
          "target": "com.amazonaws.storagegateway#FileShareARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the file share to be deleted. </p>",
            "smithy.api#required": {}
          }
        },
        "ForceDelete": {
          "target": "com.amazonaws.storagegateway#Boolean2",
          "traits": {
[...]
