{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.storagegateway#ActivateGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#ActivateGatewayInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#ActivateGatewayOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates the gateway you previously deployed on your host. In the activation process,\n         you specify information such as the Amazon Web Services Region that you want to use for\n         storing snapshots or tapes, the time zone for scheduled snapshots the gateway snapshot\n         schedule window, an activation key, and a name for your gateway. The activation process\n         also associates your gateway with your account. For more information, see <a>UpdateGatewayInformation</a>.</p>\n         <note>\n            <p>You must turn on the gateway VM before you can activate your gateway.</p>\n         </note>"
      }
    },
    "com.amazonaws.storagegateway#ActivateGatewayInput": {
      "type": "structure",
      "members": {
        "ActivationKey": {
          "target": "com.amazonaws.storagegateway#ActivationKey",
          "traits": {
            "smithy.api#documentation": "<p>Your gateway activation key. You can obtain the activation key by sending an HTTP GET\n         request with redirects enabled to the gateway IP address (port 80). The redirect URL\n         returned in the response provides you the activation key for your gateway in the query\n         string parameter <code>activationKey</code>. It may also include other activation-related\n         parameters, however, these are merely defaults -- the arguments you pass to the\n            <code>ActivateGateway</code> API call determine the actual configuration of your\n         gateway.</p>\n\n      \n\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/get-activation-key.html\">Getting activation\n            key</a> in the <i>Storage Gateway User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayName": {
          "target": "com.amazonaws.storagegateway#GatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name you configured for your gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayTimezone": {
          "target": "com.amazonaws.storagegateway#GatewayTimezone",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the time zone you want to set for the gateway. The time zone is\n         of the format \"GMT-hr:mm\" or \"GMT+hr:mm\". For example, GMT-4:00 indicates the time is 4\n         hours behind GMT. GMT+2:00 indicates the time is 2 hours ahead of GMT. The time zone is\n         used, for example, for scheduling snapshots and your gateway's maintenance\n         schedule.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayRegion": {
          "target": "com.amazonaws.storagegateway#RegionId",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the Amazon Web Services Region where you want to store your data.\n         The gateway Amazon Web Services Region specified must be the same Amazon Web Services Region\n         as the Amazon Web Services Region in your <code>Host</code> header in the request. For more\n         information about available Amazon Web Services Regions and endpoints for Storage Gateway, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/sg.html\">\n            Storage Gateway endpoints and quotas</a> in the <i>Amazon Web Services\n            General Reference</i>.</p>\n\n         <p>Valid Values: See <a href=\"https://docs.aws.amazon.com/general/latest/gr/sg.html\">\n            Storage Gateway endpoints and quotas</a> in the <i>Amazon Web Services\n            General Reference</i>.\n         \n      </p>",
            "smithy.api#required": {}
          }
        },
        "GatewayType": {
          "target": "com.amazonaws.storagegateway#GatewayType",
          "traits": {
            "smithy.api#documentation": "<p>A value that defines the type of gateway to activate. The type specified is critical to\n         all later functions of the gateway and cannot be changed after activation. The default\n         value is <code>CACHED</code>.</p>\n\n         <p>Valid Values: <code>STORED</code> | <code>CACHED</code> | <code>VTL</code> |\n            <code>VTL_SNOW</code> | <code>FILE_S3</code> | <code>FILE_FSX_SMB</code>\n         </p>"
          }
        },
        "TapeDriveType": {
          "target": "com.amazonaws.storagegateway#TapeDriveType",
          "traits": {
            "smithy.api#documentation": "<p>The value that indicates the type of tape drive to use for tape gateway. This field is\n         optional.</p>\n\n         <p>Valid Values: <code>IBM-ULT3580-TD5</code>\n         </p>"
          }
        },
        "MediumChangerType": {
          "target": "com.amazonaws.storagegateway#MediumChangerType",
          "traits": {
            "smithy.api#documentation": "<p>The value that indicates the type of medium changer to use for tape gateway. This field\n         is optional.</p>\n\n         <p>Valid Values: <code>STK-L700</code> | <code>AWS-Gateway-VTL</code> |\n            <code>IBM-03584L32-0402</code>\n         </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that you can assign to the gateway. Each tag is a key-value\n         pair.</p>\n\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers that can be\n            represented in UTF-8 format, and the following special characters: + - = . _ : / @. The\n            maximum length of a tag's key is 128 characters, and the maximum length for a\n            tag's value is 256 characters.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing one or more of the following fields:</p>\n\n         <ul>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$ActivationKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayName</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayRegion</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayTimezone</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayType</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$MediumChangerType</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$TapeDriveType</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.storagegateway#ActivateGatewayOutput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It\n         is a string made of information such as your account, gateway name, and Amazon Web Services Region. This ARN is used to reference the gateway in other API operations as\n         well as resource-based authorization.</p>\n\n         <note>\n            <p>For gateways activated prior to September 02, 2015, the gateway ARN contains the\n            gateway name rather than the gateway ID. Changing the name of the gateway has no effect\n            on the gateway ARN.</p>\n         </note>"
      }
    },
    "com.amazonaws.storagegateway#ActivationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.storagegateway#ActiveDirectoryStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCESS_DENIED",
            "name": "ACCESS_DENIED"
          },
          {
            "value": "DETACHED",
            "name": "DETACHED"
          },
          {
            "value": "JOINED",
            "name": "JOINED"
          },
          {
            "value": "JOINING",
            "name": "JOINING"
          },
          {
            "value": "NETWORK_ERROR",
            "name": "NETWORK_ERROR"
          },
          {
            "value": "TIMEOUT",
            "name": "TIMEOUT"
          },
          {
            "value": "UNKNOWN_ERROR",
            "name": "UNKNOWN_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.storagegateway#AddCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AddCacheInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AddCacheOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures one or more gateway local disks as cache for a gateway. This operation is\n         only supported in the cached volume, tape, and file gateway type (see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/StorageGatewayConcepts.html\">How Storage Gateway works (architecture)</a>.</p>\n\n         <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to\n         add cache, and one or more disk IDs that you want to configure as cache.</p>"
      }
    },
    "com.amazonaws.storagegateway#AddCacheInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "DiskIds": {
          "target": "com.amazonaws.storagegateway#DiskIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that identify disks that are to be configured as working storage.\n         Each string has a minimum length of 1 and maximum length of 300. You can get the disk IDs\n         from the <a>ListLocalDisks</a> API.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AddCacheOutput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      }
    },
    "com.amazonaws.storagegateway#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AddTagsToResourceInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AddTagsToResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to the specified resource. You use tags to add metadata to\n         resources, which you can use to categorize these resources. For example, you can categorize\n         resources by purpose, owner, environment, or team. Each tag consists of a key and a value,\n         which you define. You can add tags to the following Storage Gateway resources:</p>\n\n         <ul>\n            <li>\n               <p>Storage gateways of all types</p>\n            </li>\n            <li>\n               <p>Storage volumes</p>\n            </li>\n            <li>\n               <p>Virtual tapes</p>\n            </li>\n            <li>\n               <p>NFS and SMB file shares</p>\n            </li>\n            <li>\n               <p>File System associations</p>\n            </li>\n         </ul>\n\n         <p>You can create a maximum of 50 tags for each resource. Virtual tapes and storage volumes\n         that are recovered to a new gateway maintain their tags.</p>"
      }
    },
    "com.amazonaws.storagegateway#AddTagsToResourceInput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.storagegateway#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag you want to add to the resource. The value\n         can be an empty string.</p>\n\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable in\n            UTF-8 format, and the following special characters: + - = . _ : / @. The maximum length\n            of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AddTagsToResourceInput</p>"
      }
    },
    "com.amazonaws.storagegateway#AddTagsToResourceOutput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.storagegateway#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AddTagsToResourceOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#AddUploadBuffer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AddUploadBufferInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AddUploadBufferOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures one or more gateway local disks as upload buffer for a specified gateway.\n         This operation is supported for the stored volume, cached volume, and tape gateway\n         types.</p>\n\n         <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to\n         add upload buffer, and one or more disk IDs that you want to configure as upload\n         buffer.</p>"
      }
    },
    "com.amazonaws.storagegateway#AddUploadBufferInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "DiskIds": {
          "target": "com.amazonaws.storagegateway#DiskIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that identify disks that are to be configured as working storage.\n         Each string has a minimum length of 1 and maximum length of 300. You can get the disk IDs\n         from the <a>ListLocalDisks</a> API.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AddUploadBufferOutput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      }
    },
    "com.amazonaws.storagegateway#AddWorkingStorage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AddWorkingStorageInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AddWorkingStorageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures one or more gateway local disks as working storage for a gateway. This\n         operation is only supported in the stored volume gateway type. This operation is deprecated\n         in cached volume API version 20120630. Use <a>AddUploadBuffer</a>\n         instead.</p>\n\n         <note>\n            <p>Working storage is also referred to as upload buffer. You can also use the <a>AddUploadBuffer</a> operation to add upload buffer to a stored volume\n            gateway.</p>\n         </note>\n\n         <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to\n         add working storage, and one or more disk IDs that you want to configure as working\n         storage.</p>"
      }
    },
    "com.amazonaws.storagegateway#AddWorkingStorageInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "DiskIds": {
          "target": "com.amazonaws.storagegateway#DiskIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that identify disks that are to be configured as working storage.\n         Each string has a minimum length of 1 and maximum length of 300. You can get the disk IDs\n         from the <a>ListLocalDisks</a> API.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing one or more of the following fields:</p>\n\n         <ul>\n            <li>\n               <p>\n                  <a>AddWorkingStorageInput$DiskIds</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.storagegateway#AddWorkingStorageOutput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object containing the Amazon Resource Name (ARN) of the gateway for which working\n         storage was configured.</p>"
      }
    },
    "com.amazonaws.storagegateway#AssignTapePool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AssignTapePoolInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AssignTapePoolOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns a tape to a tape pool for archiving. The tape assigned to a pool is archived in\n         the S3 storage class that is associated with the pool. When you use your backup application\n         to eject the tape, the tape is archived directly into the S3 storage class (S3 Glacier or\n         S3 Glacier Deep Archive) that corresponds to the pool.</p>"
      }
    },
    "com.amazonaws.storagegateway#AssignTapePoolInput": {
      "type": "structure",
      "members": {
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) of the virtual tape that you want to add to the\n         tape pool.</p>",
            "smithy.api#required": {}
          }
        },
        "PoolId": {
          "target": "com.amazonaws.storagegateway#PoolId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pool that you want to add your tape to for archiving. The tape in this\n         pool is archived in the S3 storage class that is associated with the pool. When you use\n         your backup application to eject the tape, the tape is archived directly into the storage\n         class (S3 Glacier or S3 Glacier Deep Archive) that corresponds to the pool.</p>",
            "smithy.api#required": {}
          }
        },
        "BypassGovernanceRetention": {
          "target": "com.amazonaws.storagegateway#Boolean2",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Set permissions to bypass governance retention. If the lock type of the archived tape is\n            <code>Governance</code>, the tape's archived age is not older than\n            <code>RetentionLockInDays</code>, and the user does not already have\n            <code>BypassGovernanceRetention</code>, setting this to TRUE enables the user to bypass\n         the retention lock. This parameter is set to true by default for calls from the\n         console.</p>\n\n         <p>Valid values: <code>TRUE</code> | <code>FALSE</code>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AssignTapePoolOutput": {
      "type": "structure",
      "members": {
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Names (ARN) of the virtual tape that was added to the tape\n         pool.</p>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AssociateFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AssociateFileSystemInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AssociateFileSystemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate an Amazon FSx file system with the FSx File Gateway. After the\n         association process is complete, the file shares on the Amazon FSx file system are\n         available for access through the gateway. This operation only supports the FSx File Gateway\n         type.</p>"
      }
    },
    "com.amazonaws.storagegateway#AssociateFileSystemInput": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazonaws.storagegateway#DomainUserName",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user credential that has permission to access the root share D$ of\n         the Amazon FSx file system. The user account must belong to the Amazon FSx\n         delegated admin user group.</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.storagegateway#DomainUserPassword",
          "traits": {
            "smithy.api#documentation": "<p>The password of the user credential.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.storagegateway#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique string value that you supply that is used by the FSx File Gateway to ensure\n         idempotent file system association creation.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "LocationARN": {
          "target": "com.amazonaws.storagegateway#FileSystemLocationARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon FSx file system to associate with\n         the FSx File Gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to the file system association. Each tag is\n         a key-value pair.</p>"
          }
        },
        "AuditDestinationARN": {
          "target": "com.amazonaws.storagegateway#AuditDestinationARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the storage used for the audit logs.</p>"
          }
        },
        "CacheAttributes": {
          "target": "com.amazonaws.storagegateway#CacheAttributes"
        },
        "EndpointNetworkConfiguration": {
          "target": "com.amazonaws.storagegateway#EndpointNetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the network configuration information for the gateway associated with the\n            Amazon FSx file system.</p>\n         <note>\n            <p>If multiple file systems are associated with this gateway, this parameter's\n               <code>IpAddresses</code> field is required.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AssociateFileSystemOutput": {
      "type": "structure",
      "members": {
        "FileSystemAssociationARN": {
          "target": "com.amazonaws.storagegateway#FileSystemAssociationARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the newly created file system association.</p>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#AttachVolume": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#AttachVolumeInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#AttachVolumeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Connects a volume to an iSCSI connection and then attaches the volume to the specified\n         gateway. Detaching and attaching a volume enables you to recover your data from one gateway\n         to a different gateway without creating a snapshot. It also makes it easier to move your\n         volumes from an on-premises gateway to a gateway hosted on an Amazon EC2 instance.</p>"
      }
    },
    "com.amazonaws.storagegateway#AttachVolumeInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the gateway that you want to attach the volume\n         to.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetName": {
          "target": "com.amazonaws.storagegateway#TargetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as a\n         suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously\n         used for this volume as the new target name.</p>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume to attach to the specified gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.storagegateway#NetworkInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The network interface of the gateway on which to expose the iSCSI target. Only IPv4\n         addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of\n         the network interfaces available on a gateway.</p>\n\n         <p>Valid Values: A valid IP address.</p>",
            "smithy.api#required": {}
          }
        },
        "DiskId": {
          "target": "com.amazonaws.storagegateway#DiskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique device ID or other distinguishing data that identifies the local disk used to\n         create the volume. This value is only required when you are attaching a stored\n         volume.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AttachVolumeInput</p>"
      }
    },
    "com.amazonaws.storagegateway#AttachVolumeOutput": {
      "type": "structure",
      "members": {
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume that was attached to the gateway.</p>"
          }
        },
        "TargetARN": {
          "target": "com.amazonaws.storagegateway#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume target, which includes the iSCSI name for\n         the initiator that was used to connect to the target.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AttachVolumeOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#AuditDestinationARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.storagegateway#Authentication": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The authentication method of the file share. The default is\n         <code>ActiveDirectory</code>.</p>\n\n         <p>Valid Values: <code>ActiveDirectory</code> | <code>GuestAccess</code>\n         </p>",
        "smithy.api#length": {
          "min": 5,
          "max": 15
        }
      }
    },
    "com.amazonaws.storagegateway#AutomaticTapeCreationPolicyInfo": {
      "type": "structure",
      "members": {
        "AutomaticTapeCreationRules": {
          "target": "com.amazonaws.storagegateway#AutomaticTapeCreationRules",
          "traits": {
            "smithy.api#documentation": "<p>An automatic tape creation policy consists of a list of automatic tape creation rules.\n         This returns the rules that determine when and how to automatically create new\n         tapes.</p>"
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the gateway's automatic tape creation policies, including the\n         automatic tape creation rules and the gateway that is using the policies.</p>"
      }
    },
    "com.amazonaws.storagegateway#AutomaticTapeCreationPolicyInfos": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.storagegateway#AutomaticTapeCreationPolicyInfo"
      }
    },
    "com.amazonaws.storagegateway#AutomaticTapeCreationRule": {
      "type": "structure",
      "members": {
        "TapeBarcodePrefix": {
          "target": "com.amazonaws.storagegateway#TapeBarcodePrefix",
          "traits": {
            "smithy.api#documentation": "<p>A prefix that you append to the barcode of the virtual tape that you are creating. This\n         prefix makes the barcode unique.</p>\n\n         <note>\n            <p>The prefix must be 1-4 characters in length and must be one of the uppercase letters\n            from A to Z.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "PoolId": {
          "target": "com.amazonaws.storagegateway#PoolId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pool that you want to add your tape to for archiving. The tape in this\n         pool is archived in the Amazon S3 storage class that is associated with the pool.\n         When you use your backup application to eject the tape, the tape is archived directly into\n         the storage class (S3 Glacier or S3 Glacier Deep Archive) that corresponds to the\n         pool.</p>",
            "smithy.api#required": {}
          }
        },
        "TapeSizeInBytes": {
          "target": "com.amazonaws.storagegateway#TapeSize",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of the virtual tape capacity.</p>",
            "smithy.api#required": {}
          }
        },
        "MinimumNumTapes": {
          "target": "com.amazonaws.storagegateway#MinimumNumTapes",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of available virtual tapes that the gateway maintains at all times.\n         If the number of tapes on the gateway goes below this value, the gateway creates as many\n         new tapes as are needed to have <code>MinimumNumTapes</code> on the gateway. For more\n         information about automatic tape creation, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/GettingStartedCreateTapes.html#CreateTapesAutomatically\">Creating Tapes Automatically</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Worm": {
          "target": "com.amazonaws.storagegateway#Boolean2",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Set to <code>true</code> to indicate that tapes are to be archived as\n         write-once-read-many (WORM). Set to <code>false</code> when WORM is not enabled for\n         tapes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An automatic tape creation policy consists of automatic tape creation rules where each\n         rule defines when and how to create new tapes. For more information about automatic tape\n         creation, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/GettingStartedCreateTapes.html#CreateTapesAutomatically\">Creating Tapes Automatically</a>.</p>"
      }
    },
    "com.amazonaws.storagegateway#AutomaticTapeCreationRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.storagegateway#AutomaticTapeCreationRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.storagegateway#AvailabilityMonitorTestStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COMPLETE",
            "name": "COMPLETE"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          }
        ]
      }
    },
    "com.amazonaws.storagegateway#BandwidthDownloadRateLimit": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 102400
        }
      }
    },
    "com.amazonaws.storagegateway#BandwidthRateLimitInterval": {
      "type": "structure",
      "members": {
        "StartHourOfDay": {
          "target": "com.amazonaws.storagegateway#HourOfDay",
          "traits": {
            "smithy.api#documentation": "<p> The hour of the day to start the bandwidth rate limit interval. </p>",
            "smithy.api#required": {}
          }
        },
        "StartMinuteOfHour": {
          "target": "com.amazonaws.storagegateway#MinuteOfHour",
          "traits": {
            "smithy.api#documentation": "<p> The minute of the hour to start the bandwidth rate limit interval. The interval begins\n         at the start of that minute. To begin an interval exactly at the start of the hour, use the\n         value <code>0</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "EndHourOfDay": {
          "target": "com.amazonaws.storagegateway#HourOfDay",
          "traits": {
            "smithy.api#documentation": "<p> The hour of the day to end the bandwidth rate limit interval. </p>",
            "smithy.api#required": {}
          }
        },
        "EndMinuteOfHour": {
          "target": "com.amazonaws.storagegateway#MinuteOfHour",
          "traits": {
            "smithy.api#documentation": "<p> The minute of the hour to end the bandwidth rate limit interval. </p>\n\n         <important>\n            <p> The bandwidth rate limit interval ends at the end of the minute. To end an interval\n            at the end of an hour, use the value <code>59</code>. </p>\n         </important>",
            "smithy.api#required": {}
          }
        },
        "DaysOfWeek": {
          "target": "com.amazonaws.storagegateway#DaysOfWeek",
          "traits": {
            "smithy.api#documentation": "<p> The days of the week component of the bandwidth rate limit interval, represented as\n         ordinal numbers from 0 to 6, where 0 represents Sunday and 6 represents Saturday. </p>",
            "smithy.api#required": {}
          }
        },
        "AverageUploadRateLimitInBitsPerSec": {
          "target": "com.amazonaws.storagegateway#BandwidthUploadRateLimit",
          "traits": {
            "smithy.api#documentation": "<p> The average upload rate limit component of the bandwidth rate limit interval, in bits\n         per second. This field does not appear in the response if the upload rate limit is not set.\n      </p>"
          }
        },
        "AverageDownloadRateLimitInBitsPerSec": {
          "target": "com.amazonaws.storagegateway#BandwidthDownloadRateLimit",
          "traits": {
            "smithy.api#documentation": "<p> The average download rate limit component of the bandwidth rate limit interval, in bits\n         per second. This field does not appear in the response if the download rate limit is not\n         set. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes a bandwidth rate limit interval for a gateway. A bandwidth rate limit\n         schedule consists of one or more bandwidth rate limit intervals. A bandwidth rate limit\n         interval defines a period of time on one or more days of the week, during which bandwidth\n         rate limits are specified for uploading, downloading, or both. </p>"
      }
    },
    "com.amazonaws.storagegateway#BandwidthRateLimitIntervals": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.storagegateway#BandwidthRateLimitInterval"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.storagegateway#BandwidthType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 25
        }
      }
    },
    "com.amazonaws.storagegateway#BandwidthUploadRateLimit": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 51200
        }
      }
    },
    "com.amazonaws.storagegateway#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.storagegateway#Boolean2": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.storagegateway#CacheAttributes": {
      "type": "structure",
      "members": {
        "CacheStaleTimeoutInSeconds": {
          "target": "com.amazonaws.storagegateway#CacheStaleTimeoutInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Refreshes a file share's cache by using Time To Live (TTL). TTL is the length of\n         time since the last refresh after which access to the directory would cause the file\n         gateway to first refresh that directory's contents from the Amazon S3 bucket\n         or Amazon FSx file system. The TTL duration is in seconds.</p>\n\n         <p>Valid Values:0, 300 to 2,592,000 seconds (5 minutes to 30 days)</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The refresh cache information for the file share or FSx file systems.</p>"
      }
    },
    "com.amazonaws.storagegateway#CacheStaleTimeoutInSeconds": {
      "type": "integer"
    },
    "com.amazonaws.storagegateway#CachediSCSIVolume": {
      "type": "structure",
      "members": {
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the storage volume.</p>"
          }
        },
        "VolumeId": {
          "target": "com.amazonaws.storagegateway#VolumeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the volume, e.g., vol-AE4B946D.</p>"
          }
        },
        "VolumeType": {
          "target": "com.amazonaws.storagegateway#VolumeType",
          "traits": {
            "smithy.api#documentation": "<p>One of the VolumeType enumeration values that describes the type of the volume.</p>"
          }
        },
        "VolumeStatus": {
          "target": "com.amazonaws.storagegateway#VolumeStatus",
          "traits": {
            "smithy.api#documentation": "<p>One of the VolumeStatus values that indicates the state of the storage volume.</p>"
          }
        },
        "VolumeAttachmentStatus": {
          "target": "com.amazonaws.storagegateway#VolumeAttachmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether a storage volume is attached to or detached from a\n         gateway. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/managing-volumes.html#attach-detach-volume\">Moving\n            your volumes to a different gateway</a>.</p>"
          }
        },
        "VolumeSizeInBytes": {
          "target": "com.amazonaws.storagegateway#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size, in bytes, of the volume capacity.</p>"
          }
        },
        "VolumeProgress": {
          "target": "com.amazonaws.storagegateway#DoubleObject",
          "traits": {
            "smithy.api#documentation": "<p>Represents the percentage complete if the volume is restoring or bootstrapping that\n         represents the percent of data transferred. This field does not appear in the response if\n         the cached volume is not restoring or bootstrapping.</p>"
          }
        },
        "SourceSnapshotId": {
          "target": "com.amazonaws.storagegateway#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>If the cached volume was created from a snapshot, this field contains the snapshot ID\n         used, e.g., snap-78e22663. Otherwise, this field is not included.</p>"
          }
        },
        "VolumeiSCSIAttributes": {
          "target": "com.amazonaws.storagegateway#VolumeiSCSIAttributes",
          "traits": {
            "smithy.api#documentation": "<p>An <a>VolumeiSCSIAttributes</a> object that represents a collection of iSCSI\n         attributes for one stored volume.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.storagegateway#CreatedDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the volume was created. Volumes created prior to March 28, 2017 don’t have this\n         timestamp.</p>"
          }
        },
        "VolumeUsedInBytes": {
          "target": "com.amazonaws.storagegateway#VolumeUsedInBytes",
          "traits": {
            "smithy.api#documentation": "<p>The size of the data stored on the volume in bytes. This value is calculated based on\n         the number of blocks that are touched, instead of the actual amount of data written. This\n         value can be useful for sequential write patterns but less accurate for random write\n         patterns. <code>VolumeUsedInBytes</code> is different from the compressed size of the\n         volume, which is the value that is used to calculate your bill.</p>\n\n         <note>\n            <p>This value is not available for volumes created prior to May 13, 2015, until you\n            store data on the volume.</p>\n\n            <p>If you use a delete tool that overwrites the data on your volume with random data,\n            your usage will not be reduced. This is because the random data is not compressible. If\n            you want to reduce the amount of billed storage on your volume, we recommend overwriting\n            your files with zeros to compress the data to a negligible amount of actual\n            storage.</p>\n         </note>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey"
        },
        "TargetName": {
          "target": "com.amazonaws.storagegateway#TargetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as a\n         suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously\n         used for this volume as the new target name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an iSCSI cached volume.</p>"
      }
    },
    "com.amazonaws.storagegateway#CachediSCSIVolumes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.storagegateway#CachediSCSIVolume"
      }
    },
    "com.amazonaws.storagegateway#CancelArchival": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CancelArchivalInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CancelArchivalOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the archiving\n         process is initiated. This operation is only supported in the tape gateway type.</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelArchivalInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel archiving\n         for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelArchivalInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelArchivalOutput": {
      "type": "structure",
      "members": {
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape for which archiving was\n         canceled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelArchivalOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelRetrieval": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CancelRetrievalInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CancelRetrievalOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway after\n         the retrieval process is initiated. The virtual tape is returned to the VTS. This operation\n         is only supported in the tape gateway type.</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelRetrievalInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel retrieval\n         for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelRetrievalInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CancelRetrievalOutput": {
      "type": "structure",
      "members": {
        "TapeARN": {
          "target": "com.amazonaws.storagegateway#TapeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape for which retrieval was\n         canceled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelRetrievalOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#CaseSensitivity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ClientSpecified",
            "name": "ClientSpecified"
          },
          {
            "value": "CaseSensitive",
            "name": "CaseSensitive"
          }
        ]
      }
    },
    "com.amazonaws.storagegateway#ChapCredentials": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.storagegateway#ChapInfo"
      }
    },
    "com.amazonaws.storagegateway#ChapInfo": {
      "type": "structure",
      "members": {
        "TargetARN": {
          "target": "com.amazonaws.storagegateway#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume.</p>\n\n         <p>Valid Values: 50 to 500 lowercase letters, numbers, periods (.), and hyphens (-).</p>"
          }
        },
        "SecretToAuthenticateInitiator": {
          "target": "com.amazonaws.storagegateway#ChapSecret",
          "traits": {
            "smithy.api#documentation": "<p>The secret key that the initiator (for example, the Windows client) must provide to\n         participate in mutual CHAP with the target.</p>"
          }
        },
        "InitiatorName": {
          "target": "com.amazonaws.storagegateway#IqnName",
          "traits": {
            "smithy.api#documentation": "<p>The iSCSI initiator that connects to the target.</p>"
          }
        },
        "SecretToAuthenticateTarget": {
          "target": "com.amazonaws.storagegateway#ChapSecret",
          "traits": {
            "smithy.api#documentation": "<p>The secret key that the target must provide to participate in mutual CHAP with the\n         initiator (e.g., Windows client).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes Challenge-Handshake Authentication Protocol (CHAP) information that supports\n         authentication between your gateway and iSCSI initiators.</p>"
      }
    },
    "com.amazonaws.storagegateway#ChapSecret": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.storagegateway#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 100
        }
      }
    },
    "com.amazonaws.storagegateway#CloudWatchLogGroupARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 562
        }
      }
    },
    "com.amazonaws.storagegateway#CreateCachediSCSIVolume": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateCachediSCSIVolumeInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateCachediSCSIVolumeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a cached volume on a specified cached volume gateway. This operation is only\n         supported in the cached volume gateway type.</p>\n\n         <note>\n            <p>Cache storage must be allocated to the gateway before you can create a cached volume.\n            Use the <a>AddCache</a> operation to add cache storage to a gateway.</p>\n         </note>\n\n         <p>In the request, you must specify the gateway, size of the volume in bytes, the iSCSI\n         target name, an IP address on which to expose the target, and a unique client token. In\n         response, the gateway creates the volume and returns information about it. This information\n         includes the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that\n         initiators can use to connect to the volume target.</p>\n\n         <p>Optionally, you can provide the ARN for an existing volume as the\n            <code>SourceVolumeARN</code> for this cached volume, which creates an exact copy of the\n         existing volume’s latest recovery point. The <code>VolumeSizeInBytes</code> value must be\n         equal to or larger than the size of the copied volume, in bytes.</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateCachediSCSIVolumeInput": {
      "type": "structure",
      "members": {
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "VolumeSizeInBytes": {
          "target": "com.amazonaws.storagegateway#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size of the volume in bytes.</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.storagegateway#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot ID (e.g. \"snap-1122aabb\") of the snapshot to restore as the new cached\n         volume. Specify this field if you want to create the iSCSI storage volume from a snapshot;\n         otherwise, do not include this field. To list snapshots for your account use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API\n            Reference</i>.</p>"
          }
        },
        "TargetName": {
          "target": "com.amazonaws.storagegateway#TargetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as a\n         suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously\n         used for this volume as the new target name.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceVolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for an existing volume. Specifying this ARN makes the new volume into an exact\n         copy of the specified existing volume's latest recovery point. The\n            <code>VolumeSizeInBytes</code> value for this new volume must be equal to or larger than\n         the size of the existing volume, in bytes.</p>"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.storagegateway#NetworkInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The network interface of the gateway on which to expose the iSCSI target. Only IPv4\n         addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of\n         the network interfaces available on a gateway.</p>\n\n         <p>Valid Values: A valid IP address.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.storagegateway#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you use to retry a request. If you retry a request, use the\n         same <code>ClientToken</code> you specified in the initial request.</p>",
            "smithy.api#required": {}
          }
        },
        "KMSEncrypted": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to use Amazon S3 server-side encryption with your own\n            KMS key, or <code>false</code> to use a key managed by Amazon S3.\n         Optional.</p>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a symmetric customer master key (CMK) used for Amazon S3 server-side encryption. Storage Gateway does not support asymmetric CMKs. This\n         value can only be set when <code>KMSEncrypted</code> is <code>true</code>. Optional.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that you can assign to a cached volume. Each tag is a key-value\n         pair.</p>\n\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers that you can\n            represent in UTF-8 format, and the following special characters: + - = . _ : / @. The\n            maximum length of a tag's key is 128 characters, and the maximum length for a\n            tag's value is 256 characters.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#CreateCachediSCSIVolumeOutput": {
      "type": "structure",
      "members": {
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured volume.</p>"
          }
        },
        "TargetARN": {
          "target": "com.amazonaws.storagegateway#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume target, which includes the iSCSI name that\n         initiators can use to connect to the target.</p>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#CreateNFSFileShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateNFSFileShareInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateNFSFileShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Network File System (NFS) file share on an existing S3 File Gateway. In\n         Storage Gateway, a file share is a file system mount point backed by Amazon S3\n         cloud storage. Storage Gateway exposes file shares using an NFS interface. This operation\n         is only supported for S3 File Gateways.</p>\n\n         <important>\n            <p>S3 File gateway requires Security Token Service (Amazon Web Services STS) to be\n            activated to enable you to create a file share. Make sure Amazon Web Services STS is\n            activated in the Amazon Web Services Region you are creating your S3 File Gateway in. If\n               Amazon Web Services STS is not activated in the Amazon Web Services Region, activate\n            it. For information about how to activate Amazon Web Services STS, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and\n               deactivating Amazon Web Services STS in an Amazon Web Services Region</a> in the\n                  <i>Identity and Access Management User Guide</i>.</p>\n\n            <p>S3 File Gateways do not support creating hard or symbolic links on a file\n            share.</p>\n         </important>"
      }
    },
    "com.amazonaws.storagegateway#CreateNFSFileShareInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.storagegateway#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique string value that you supply that is used by S3 File Gateway to ensure\n         idempotent file share creation.</p>",
            "smithy.api#required": {}
          }
        },
        "NFSFileShareDefaults": {
          "target": "com.amazonaws.storagegateway#NFSFileShareDefaults",
          "traits": {
            "smithy.api#documentation": "<p>File share default values. Optional.</p>"
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the S3 File Gateway on which you want to create a file\n         share.</p>",
            "smithy.api#required": {}
          }
        },
        "KMSEncrypted": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to use Amazon S3 server-side encryption with your own\n            KMS key, or <code>false</code> to use a key managed by Amazon S3.\n         Optional.</p>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a symmetric customer master key (CMK) used for Amazon S3 server-side encryption. Storage Gateway does not support asymmetric CMKs. This\n         value can only be set when <code>KMSEncrypted</code> is <code>true</code>. Optional.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.storagegateway#Role",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Identity and Access Management (IAM) role that an S3 File Gateway assumes when it\n         accesses the underlying storage.</p>",
            "smithy.api#required": {}
          }
        },
        "LocationARN": {
          "target": "com.amazonaws.storagegateway#LocationARN",
          "traits": {
            "smithy.api#documentation": "<p>A custom ARN for the backend storage used for storing data for file shares. It includes\n         a resource ARN with an optional prefix concatenation. The prefix must end with a forward\n         slash (/).</p>\n         <note>\n            <p>You can specify LocationARN as a bucket ARN, access point ARN or access point alias,\n            as shown in the following examples.</p>\n\n            <p>Bucket ARN:</p>\n            <p>\n               <code>arn:aws:s3:::my-bucket/prefix/</code>\n            </p>\n\n            <p>Access point ARN:</p>\n            <p>\n               <code>arn:aws:s3:region:account-id:accesspoint/access-point-name/prefix/</code>\n            </p>\n\n            <p>If you specify an access point, the bucket policy must be configured to delegate\n            access control to the access point. For information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-points-policies.html#access-points-delegating-control\">Delegating access control to access points</a> in the <i>Amazon S3 User Guide</i>.</p>\n\n            <p>Access point alias:</p>\n            <p>\n               <code>test-ap-ab123cdef4gehijklmn5opqrstuvuse1a-s3alias</code>\n            </p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "DefaultStorageClass": {
          "target": "com.amazonaws.storagegateway#StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The default storage class for objects put into an Amazon S3 bucket by the S3\n         File Gateway. The default value is <code>S3_STANDARD</code>. Optional.</p>\n\n         <p>Valid Values: <code>S3_STANDARD</code> | <code>S3_INTELLIGENT_TIERING</code> |\n            <code>S3_STANDARD_IA</code> | <code>S3_ONEZONE_IA</code>\n         </p>"
          }
        },
        "ObjectACL": {
          "target": "com.amazonaws.storagegateway#ObjectACL",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets the access control list (ACL) permission for objects in the S3 bucket\n         that a S3 File Gateway puts objects into. The default value is <code>private</code>.</p>"
          }
        },
        "ClientList": {
          "target": "com.amazonaws.storagegateway#FileShareClientList",
          "traits": {
            "smithy.api#documentation": "<p>The list of clients that are allowed to access the S3 File Gateway. The list must\n         contain either valid IP addresses or valid CIDR blocks.</p>"
          }
        },
        "Squash": {
          "target": "com.amazonaws.storagegateway#Squash",
          "traits": {
            "smithy.api#documentation": "<p>A value that maps a user to anonymous user.</p>\n\n         <p>Valid values are the following:</p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>RootSquash</code>: Only root is mapped to anonymous user.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NoSquash</code>: No one is mapped to anonymous user.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AllSquash</code>: Everyone is mapped to anonymous user.</p>\n            </li>\n         </ul>"
          }
        },
        "ReadOnly": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets the write status of a file share. Set this value to <code>true</code>\n         to set the write status to read-only, otherwise set to <code>false</code>.</p>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "GuessMIMETypeEnabled": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that enables guessing of the MIME type for uploaded objects based on file\n         extensions. Set this value to <code>true</code> to enable MIME type guessing, otherwise set\n         to <code>false</code>. The default value is <code>true</code>.</p>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "RequesterPays": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets who pays the cost of the request and the cost associated with data\n         download from the S3 bucket. If this value is set to <code>true</code>, the requester pays\n         the costs; otherwise, the S3 bucket owner pays. However, the S3 bucket owner always pays\n         the cost of storing data.</p>\n\n         <note>\n            <p>\n               <code>RequesterPays</code> is a configuration for the S3 bucket that backs the file\n            share, so make sure that the configuration on the file share is the same as the S3\n            bucket configuration.</p>\n         </note>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to the NFS file share. Each tag is a\n         key-value pair.</p>\n\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable in\n            UTF-8 format, and the following special characters: + - = . _ : / @. The maximum length\n            of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        },
        "FileShareName": {
          "target": "com.amazonaws.storagegateway#FileShareName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the file share. Optional.</p>\n\n         <note>\n            <p>\n               <code>FileShareName</code> must be set if an S3 prefix name is set in\n               <code>LocationARN</code>, or if an access point or access point alias is used.</p>\n         </note>"
          }
        },
        "CacheAttributes": {
          "target": "com.amazonaws.storagegateway#CacheAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Specifies refresh cache information for the file share.</p>"
          }
        },
        "NotificationPolicy": {
          "target": "com.amazonaws.storagegateway#NotificationPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The notification policy of the file share. <code>SettlingTimeInSeconds</code> controls\n         the number of seconds to wait after the last point in time a client wrote to a file before\n         generating an <code>ObjectUploaded</code> notification. Because clients can make many small\n         writes to files, it's best to set this parameter for as long as possible to avoid\n         generating multiple notifications for the same file in a small time period.</p>\n\n         <note>\n            <p>\n               <code>SettlingTimeInSeconds</code> has no effect on the timing of the object\n            uploading to Amazon S3, only the timing of the notification.</p>\n         </note>\n\n         <p>The following example sets <code>NotificationPolicy</code> on with\n            <code>SettlingTimeInSeconds</code> set to 60.</p>\n\n         <p>\n            <code>{\\\"Upload\\\": {\\\"SettlingTimeInSeconds\\\": 60}}</code>\n         </p>\n\n         <p>The following example sets <code>NotificationPolicy</code> off.</p>\n\n         <p>\n            <code>{}</code>\n         </p>"
          }
        },
        "VPCEndpointDNSName": {
          "target": "com.amazonaws.storagegateway#DNSHostName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DNS name for the VPC endpoint that the NFS file share uses to connect to\n            Amazon S3.</p>\n         <note>\n            <p>This parameter is required for NFS file shares that connect to Amazon S3\n            through a VPC endpoint, a VPC access point, or an access point alias that points to a\n            VPC access point.</p>\n         </note>"
          }
        },
        "BucketRegion": {
          "target": "com.amazonaws.storagegateway#RegionId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Region of the S3 bucket where the NFS file share stores files.</p>\n         <note>\n            <p>This parameter is required for NFS file shares that connect to Amazon S3\n            through a VPC endpoint, a VPC access point, or an access point alias that points to a\n            VPC access point.</p>\n         </note>"
          }
        },
        "AuditDestinationARN": {
          "target": "com.amazonaws.storagegateway#AuditDestinationARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the storage used for audit logs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateNFSFileShareInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateNFSFileShareOutput": {
      "type": "structure",
      "members": {
        "FileShareARN": {
          "target": "com.amazonaws.storagegateway#FileShareARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the newly created file share.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateNFSFileShareOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateSMBFileShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateSMBFileShareInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateSMBFileShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Server Message Block (SMB) file share on an existing S3 File Gateway. In\n         Storage Gateway, a file share is a file system mount point backed by Amazon S3\n         cloud storage. Storage Gateway exposes file shares using an SMB interface. This operation\n         is only supported for S3 File Gateways.</p>\n\n         <important>\n            <p>S3 File Gateways require Security Token Service (Amazon Web Services STS) to be\n            activated to enable you to create a file share. Make sure that Amazon Web Services STS\n            is activated in the Amazon Web Services Region you are creating your S3 File Gateway in.\n            If Amazon Web Services STS is not activated in this Amazon Web Services Region, activate\n            it. For information about how to activate Amazon Web Services STS, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and\n               deactivating Amazon Web Services STS in an Amazon Web Services Region</a> in the\n                  <i>Identity and Access Management User Guide</i>.</p>\n\n            <p>File gateways don't support creating hard or symbolic links on a file\n            share.</p>\n         </important>"
      }
    },
    "com.amazonaws.storagegateway#CreateSMBFileShareInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.storagegateway#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique string value that you supply that is used by S3 File Gateway to ensure\n         idempotent file share creation.</p>",
            "smithy.api#required": {}
          }
        },
        "GatewayARN": {
          "target": "com.amazonaws.storagegateway#GatewayARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the S3 File Gateway on which you want to create a file share.</p>",
            "smithy.api#required": {}
          }
        },
        "KMSEncrypted": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to use Amazon S3 server-side encryption with your own\n            KMS key, or <code>false</code> to use a key managed by Amazon S3.\n         Optional.</p>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.storagegateway#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a symmetric customer master key (CMK) used for Amazon S3 server-side encryption. Storage Gateway does not support asymmetric CMKs. This\n         value can only be set when <code>KMSEncrypted</code> is <code>true</code>. Optional.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.storagegateway#Role",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Identity and Access Management (IAM) role that an S3 File Gateway assumes when it\n         accesses the underlying storage.</p>",
            "smithy.api#required": {}
          }
        },
        "LocationARN": {
          "target": "com.amazonaws.storagegateway#LocationARN",
          "traits": {
            "smithy.api#documentation": "<p>A custom ARN for the backend storage used for storing data for file shares. It includes\n         a resource ARN with an optional prefix concatenation. The prefix must end with a forward\n         slash (/).</p>\n         <note>\n            <p>You can specify LocationARN as a bucket ARN, access point ARN or access point alias,\n            as shown in the following examples.</p>\n\n            <p>Bucket ARN:</p>\n            <p>\n               <code>arn:aws:s3:::my-bucket/prefix/</code>\n            </p>\n\n            <p>Access point ARN:</p>\n            <p>\n               <code>arn:aws:s3:region:account-id:accesspoint/access-point-name/prefix/</code>\n            </p>\n\n            <p>If you specify an access point, the bucket policy must be configured to delegate\n            access control to the access point. For information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-points-policies.html#access-points-delegating-control\">Delegating access control to access points</a> in the <i>Amazon S3 User Guide</i>.</p>\n\n            <p>Access point alias:</p>\n            <p>\n               <code>test-ap-ab123cdef4gehijklmn5opqrstuvuse1a-s3alias</code>\n            </p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "DefaultStorageClass": {
          "target": "com.amazonaws.storagegateway#StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The default storage class for objects put into an Amazon S3 bucket by the S3\n         File Gateway. The default value is <code>S3_STANDARD</code>. Optional.</p>\n\n         <p>Valid Values: <code>S3_STANDARD</code> | <code>S3_INTELLIGENT_TIERING</code> |\n            <code>S3_STANDARD_IA</code> | <code>S3_ONEZONE_IA</code>\n         </p>"
          }
        },
        "ObjectACL": {
          "target": "com.amazonaws.storagegateway#ObjectACL",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets the access control list (ACL) permission for objects in the S3 bucket\n         that a S3 File Gateway puts objects into. The default value is <code>private</code>.</p>"
          }
        },
        "ReadOnly": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets the write status of a file share. Set this value to <code>true</code>\n         to set the write status to read-only, otherwise set to <code>false</code>.</p>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "GuessMIMETypeEnabled": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that enables guessing of the MIME type for uploaded objects based on file\n         extensions. Set this value to <code>true</code> to enable MIME type guessing, otherwise set\n         to <code>false</code>. The default value is <code>true</code>.</p>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "RequesterPays": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that sets who pays the cost of the request and the cost associated with data\n         download from the S3 bucket. If this value is set to <code>true</code>, the requester pays\n         the costs; otherwise, the S3 bucket owner pays. However, the S3 bucket owner always pays\n         the cost of storing data.</p>\n\n         <note>\n            <p>\n               <code>RequesterPays</code> is a configuration for the S3 bucket that backs the file\n            share, so make sure that the configuration on the file share is the same as the S3\n            bucket configuration.</p>\n         </note>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "SMBACLEnabled": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to <code>true</code> to enable access control list (ACL) on the SMB file\n         share. Set it to <code>false</code> to map file and directory permissions to the POSIX\n         permissions.</p>\n\n      \n\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/smb-acl.html\">Using Microsoft Windows ACLs to\n            control access to an SMB file share</a> in the <i>Storage Gateway User\n            Guide</i>.</p>\n\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "AccessBasedEnumeration": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The files and folders on this share will only be visible to users with read\n         access.</p>"
          }
        },
        "AdminUserList": {
          "target": "com.amazonaws.storagegateway#UserList",
          "traits": {
            "smithy.api#documentation": "<p>A list of users or groups in the Active Directory that will be granted administrator\n         privileges on the file share. These users can do all file operations as the super-user.\n         Acceptable formats include: <code>DOMAIN\\User1</code>, <code>user1</code>,\n            <code>@group1</code>, and <code>@DOMAIN\\group1</code>.</p>\n\n         <important>\n            <p>Use this option very carefully, because any user in this list can do anything they\n            like on the file share, regardless of file permissions.</p>\n         </important>"
          }
        },
        "ValidUserList": {
          "target": "com.amazonaws.storagegateway#UserList",
          "traits": {
            "smithy.api#documentation": "<p>A list of users or groups in the Active Directory that are allowed to access the file\n            <a href=\"\"></a> share. A group must be prefixed with the @ character. Acceptable formats\n         include: <code>DOMAIN\\User1</code>, <code>user1</code>, <code>@group1</code>, and\n            <code>@DOMAIN\\group1</code>. Can only be set if Authentication is set to\n            <code>ActiveDirectory</code>.</p>"
          }
        },
        "InvalidUserList": {
          "target": "com.amazonaws.storagegateway#UserList",
          "traits": {
            "smithy.api#documentation": "<p>A list of users or groups in the Active Directory that are not allowed to access the\n         file share. A group must be prefixed with the @ character. Acceptable formats include:\n            <code>DOMAIN\\User1</code>, <code>user1</code>, <code>@group1</code>, and\n            <code>@DOMAIN\\group1</code>. Can only be set if Authentication is set to\n            <code>ActiveDirectory</code>.</p>"
          }
        },
        "AuditDestinationARN": {
          "target": "com.amazonaws.storagegateway#AuditDestinationARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the storage used for audit logs.</p>"
          }
        },
        "Authentication": {
          "target": "com.amazonaws.storagegateway#Authentication",
          "traits": {
            "smithy.api#documentation": "<p>The authentication method that users use to access the file share. The default is\n            <code>ActiveDirectory</code>.</p>\n\n         <p>Valid Values: <code>ActiveDirectory</code> | <code>GuestAccess</code>\n         </p>"
          }
        },
        "CaseSensitivity": {
          "target": "com.amazonaws.storagegateway#CaseSensitivity",
          "traits": {
            "smithy.api#documentation": "<p>The case of an object name in an Amazon S3 bucket. For\n            <code>ClientSpecified</code>, the client determines the case sensitivity. For\n            <code>CaseSensitive</code>, the gateway determines the case sensitivity. The default\n         value is <code>ClientSpecified</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to the NFS file share. Each tag is a\n         key-value pair.</p>\n\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable in\n            UTF-8 format, and the following special characters: + - = . _ : / @. The maximum length\n            of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        },
        "FileShareName": {
          "target": "com.amazonaws.storagegateway#FileShareName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the file share. Optional.</p>\n\n         <note>\n            <p>\n               <code>FileShareName</code> must be set if an S3 prefix name is set in\n               <code>LocationARN</code>, or if an access point or access point alias is used.</p>\n         </note>"
          }
        },
        "CacheAttributes": {
          "target": "com.amazonaws.storagegateway#CacheAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Specifies refresh cache information for the file share.</p>"
          }
        },
        "NotificationPolicy": {
          "target": "com.amazonaws.storagegateway#NotificationPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The notification policy of the file share. <code>SettlingTimeInSeconds</code> controls\n         the number of seconds to wait after the last point in time a client wrote to a file before\n         generating an <code>ObjectUploaded</code> notification. Because clients can make many small\n         writes to files, it's best to set this parameter for as long as possible to avoid\n         generating multiple notifications for the same file in a small time period.</p>\n\n         <note>\n            <p>\n               <code>SettlingTimeInSeconds</code> has no effect on the timing of the object\n            uploading to Amazon S3, only the timing of the notification.</p>\n         </note>\n\n         <p>The following example sets <code>NotificationPolicy</code> on with\n            <code>SettlingTimeInSeconds</code> set to 60.</p>\n\n         <p>\n            <code>{\\\"Upload\\\": {\\\"SettlingTimeInSeconds\\\": 60}}</code>\n         </p>\n\n         <p>The following example sets <code>NotificationPolicy</code> off.</p>\n\n         <p>\n            <code>{}</code>\n         </p>"
          }
        },
        "VPCEndpointDNSName": {
          "target": "com.amazonaws.storagegateway#DNSHostName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DNS name for the VPC endpoint that the SMB file share uses to connect to\n            Amazon S3.</p>\n         <note>\n            <p>This parameter is required for SMB file shares that connect to Amazon S3\n            through a VPC endpoint, a VPC access point, or an access point alias that points to a\n            VPC access point.</p>\n         </note>"
          }
        },
        "BucketRegion": {
          "target": "com.amazonaws.storagegateway#RegionId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Region of the S3 bucket where the SMB file share stores files.</p>\n         <note>\n            <p>This parameter is required for SMB file shares that connect to Amazon S3\n            through a VPC endpoint, a VPC access point, or an access point alias that points to a\n            VPC access point.</p>\n         </note>"
          }
        },
        "OplocksEnabled": {
          "target": "com.amazonaws.storagegateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether opportunistic locking is enabled for the SMB file share.</p>\n         <note>\n            <p>Enabling opportunistic locking on case-sensitive shares is not recommended for\n            workloads that involve access to files with the same name in different case.</p>\n         </note>\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateSMBFileShareInput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateSMBFileShareOutput": {
      "type": "structure",
      "members": {
        "FileShareARN": {
          "target": "com.amazonaws.storagegateway#FileShareARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the newly created file share.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateSMBFileShareOutput</p>"
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateSnapshotInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateSnapshotOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        },
        {
          "target": "com.amazonaws.storagegateway#ServiceUnavailableError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Initiates a snapshot of a volume.</p>\n\n         <p>Storage Gateway provides the ability to back up point-in-time snapshots of your\n         data to Amazon Simple Storage (Amazon S3) for durable off-site recovery, and also\n         import the data to an Amazon Elastic Block Store (EBS) volume in Amazon Elastic Compute\n         Cloud (EC2). You can take snapshots of your gateway volume on a scheduled or ad hoc basis.\n         This API enables you to take an ad hoc snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/managing-volumes.html#SchedulingSnapshot\">Editing a\n            snapshot schedule</a>.</p>\n\n         <p>In the <code>CreateSnapshot</code> request, you identify the volume by providing its\n         Amazon Resource Name (ARN). You must also provide description for the snapshot. When\n            Storage Gateway takes the snapshot of specified volume, the snapshot and\n         description appears in the Storage Gateway console. In response, Storage Gateway\n         returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or\n         later use it when you want to create a volume from a snapshot. This operation is only\n         supported in stored and cached volume gateway type.</p>\n\n         <note>\n            <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information,\n            see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSnapshots.html\">DescribeSnapshots</a>\n            or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DeleteSnapshot.html\">DeleteSnapshot</a> in the <i>Amazon Elastic Compute Cloud API\n               Reference</i>.</p>\n         </note>\n\n         <important>\n            <p>Volume and snapshot IDs are changing to a longer length ID format. For more\n            information, see the important note on the <a href=\"https://docs.aws.amazon.com/storagegateway/latest/APIReference/Welcome.html\">Welcome</a> page.</p>\n         </important>"
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPointInput"
      },
      "output": {
        "target": "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.storagegateway#InternalServerError"
        },
        {
          "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
        },
        {
          "target": "com.amazonaws.storagegateway#ServiceUnavailableError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Initiates a snapshot of a gateway from a volume recovery point. This operation is only\n         supported in the cached volume gateway type.</p>\n\n         <p>A volume recovery point is a point in time at which all data of the volume is consistent\n         and from which you can create a snapshot. To get a list of volume recovery point for cached\n         volume gateway, use <a>ListVolumeRecoveryPoints</a>.</p>\n\n         <p>In the <code>CreateSnapshotFromVolumeRecoveryPoint</code> request, you identify the\n         volume by providing its Amazon Resource Name (ARN). You must also provide a description for\n         the snapshot. When the gateway takes a snapshot of the specified volume, the snapshot and\n         its description appear in the Storage Gateway console.\n          In response, the gateway returns\n         you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use\n         it when you want to create a volume from a snapshot.</p>\n\n         <note>\n            <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information,\n            see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSnapshots.html\">DescribeSnapshots</a>\n            or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DeleteSnapshot.html\">DeleteSnapshot</a> in the <i>Amazon Elastic Compute Cloud API\n               Reference</i>.</p>\n         </note>"
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPointInput": {
      "type": "structure",
      "members": {
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a> operation to return to retrieve the TargetARN for\n         specified VolumeARN.</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotDescription": {
          "target": "com.amazonaws.storagegateway#SnapshotDescription",
          "traits": {
            "smithy.api#documentation": "<p>Textual description of the snapshot that appears in the Amazon EC2 console, Elastic\n         Block Store snapshots panel in the <b>Description</b> field, and\n         in the Storage Gateway snapshot <b>Details</b> pane,\n            <b>Description</b> field.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.storagegateway#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to a snapshot. Each tag is a key-value\n         pair.</p>\n\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable in\n            UTF-8 format, and the following special characters: + - = . _ : / @. The maximum length\n            of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.storagegateway#CreateSnapshotFromVolumeRecoveryPointOutput": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.storagegateway#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the snapshot.</p>"
          }
        },
        "VolumeARN": {
          "target": "com.amazonaws.storagegateway#VolumeARN",
          "traits": {
[...]
