{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.supplychain#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have the required privileges to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.supplychain#AscResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws:scn(?::([a-z0-9-]+):([0-9]+):instance)?/([a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})[-_./A-Za-z0-9]*$"
      }
    },
    "com.amazonaws.supplychain#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.supplychain#BillOfMaterialsImportJob": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The BillOfMaterialsImportJob instanceId.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "instanceId"
          }
        },
        "jobId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The BillOfMaterialsImportJob jobId.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "jobId"
          }
        },
        "status": {
          "target": "com.amazonaws.supplychain#ConfigurationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>",
            "smithy.api#required": {}
          }
        },
        "s3uri": {
          "target": "com.amazonaws.supplychain#ConfigurationS3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 URI from which the CSV is read.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The BillOfMaterialsImportJob details.</p>"
      }
    },
    "com.amazonaws.supplychain#BillOfMaterialsImportJobResource": {
      "type": "resource",
      "identifiers": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID"
        },
        "jobId": {
          "target": "com.amazonaws.supplychain#UUID"
        }
      },
      "properties": {
        "status": {
          "target": "com.amazonaws.supplychain#ConfigurationJobStatus"
        },
        "s3uri": {
          "target": "com.amazonaws.supplychain#ConfigurationS3Uri"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "create": {
        "target": "com.amazonaws.supplychain#CreateBillOfMaterialsImportJob"
      },
      "read": {
        "target": "com.amazonaws.supplychain#GetBillOfMaterialsImportJob"
      },
      "traits": {
        "aws.api#arn": {
          "template": "instance/{instanceId}/bill-of-materials-import-job/{jobId}"
        }
      }
    },
    "com.amazonaws.supplychain#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
        "smithy.api#length": {
          "min": 33,
          "max": 126
        }
      }
    },
    "com.amazonaws.supplychain#ConfigurationJobStatus": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the job.</p>"
      }
    },
    "com.amazonaws.supplychain#ConfigurationS3Uri": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10
        },
        "smithy.api#pattern": "^[sS]3://[a-z0-9][a-z0-9.-]{1,61}[a-z0-9]/.+$"
      }
    },
    "com.amazonaws.supplychain#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.supplychain#CreateBillOfMaterialsImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.supplychain#CreateBillOfMaterialsImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.supplychain#CreateBillOfMaterialsImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.supplychain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.supplychain#ConflictException"
        },
        {
          "target": "com.amazonaws.supplychain#InternalServerException"
        },
        {
          "target": "com.amazonaws.supplychain#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.supplychain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.supplychain#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>CreateBillOfMaterialsImportJob creates an import job for the Product Bill Of Materials (BOM) entity. For information on the product_bom entity, see the AWS Supply Chain User Guide.</p>\n         <p>The CSV file must be located in an Amazon S3 location accessible to AWS Supply Chain. It is recommended to use the same Amazon S3 bucket created during your AWS Supply Chain instance creation.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke CreateBillOfMaterialsImportJob",
            "input": {
              "instanceId": "60f82bbd-71f7-4fcd-a941-472f574c5243",
              "s3uri": "s3://mybucketname/pathelemene/file.csv",
              "clientToken": "550e8400-e29b-41d4-a716-446655440000"
            },
            "output": {
              "jobId": "f79b359b-1515-4436-a3bf-bae7b33e47b4"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/api/configuration/instances/{instanceId}/bill-of-materials-import-jobs"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.supplychain#CreateBillOfMaterialsImportJobRequest": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Supply Chain instance identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "s3uri": {
          "target": "com.amazonaws.supplychain#ConfigurationS3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.supplychain#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token ensures the API request is only completed no more than once. This way, retrying the request will not trigger the operation multiple times. A client token is a unique, case-sensitive string of 33 to 128 ASCII characters. To make an idempotent API request, specify a client token in the request. You should not reuse the same client token for other requests. If you retry a successful request with the same client token, the request will succeed with no further actions being taken, and you will receive the same API response as the original successful request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request parameters for CreateBillOfMaterialsImportJob.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.supplychain#CreateBillOfMaterialsImportJobResponse": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The new BillOfMaterialsImportJob identifier.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response parameters of CreateBillOfMaterialsImportJob.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.supplychain#CreateDataIntegrationFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.supplychain#CreateDataIntegrationFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.supplychain#CreateDataIntegrationFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.supplychain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.supplychain#ConflictException"
        },
        {
          "target": "com.amazonaws.supplychain#InternalServerException"
        },
        {
          "target": "com.amazonaws.supplychain#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.supplychain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.supplychain#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables you to programmatically create a data pipeline to ingest data from source systems such as Amazon S3 buckets, to a predefined Amazon Web Services Supply Chain dataset (product, inbound_order) or a temporary dataset along with the data transformation query provided with the API.</p>",
        "smithy.api#examples": [
          {
            "title": "Successful CreateDataIntegrationFlow for s3 to dataset flow",
            "input": {
              "instanceId": "8850c54e-e187-4fa7-89d4-6370f165174d",
              "name": "testStagingFlow",
              "sources": [
                {
                  "sourceType": "S3",
                  "sourceName": "testSourceName",
                  "s3Source": {
                    "bucketName": "aws-supply-chain-data-b8c7bb28-a576-4334-b481-6d6e8e47371f",
                    "prefix": "example-prefix"
                  }
                }
              ],
              "transformation": {
                "transformationType": "SQL",
                "sqlTransformation": {
                  "query": "SELECT * FROM testSourceName"
                }
              },
              "target": {
                "targetType": "DATASET",
                "datasetTarget": {
                  "datasetIdentifier": "arn:aws:scn:us-east-1:123456789012:instance/8850c54e-e187-4fa7-89d4-6370f165174d/namespaces/default/datasets/my_staging_dataset"
                }
              },
              "tags": {
                "tagKey1": "tagValue1"
              }
            },
            "output": {
              "instanceId": "8850c54e-e187-4fa7-89d4-6370f165174d",
              "name": "testStagingFlow"
            }
          },
          {
            "title": "Successful CreateDataIntegrationFlow for dataset to dataset flow",
            "input": {
              "instanceId": "8850c54e-e187-4fa7-89d4-6370f165174d",
              "name": "trading-partner",
              "sources": [
                {
                  "sourceType": "DATASET",
                  "sourceName": "testSourceName1",
                  "datasetSource": {
                    "datasetIdentifier": "arn:aws:scn:us-east-1:123456789012:instance/8850c54e-e187-4fa7-89d4-6370f165174d/namespaces/default/datasets/my_staging_dataset1"
                  }
                },
                {
                  "sourceType": "DATASET",
                  "sourceName": "testSourceName2",
                  "datasetSource": {
                    "datasetIdentifier": "arn:aws:scn:us-east-1:123456789012:instance/8850c54e-e187-4fa7-89d4-6370f165174d/namespaces/default/datasets/my_staging_dataset2"
                  }
                }
              ],
              "transformation": {
                "transformationType": "SQL",
                "sqlTransformation": {
                  "query": "SELECT S1.id AS id, S1.poc_org_unit_description AS description, S1.company_id AS company_id, S1.tpartner_type AS tpartner_type, S1.geo_id AS geo_id, S1.eff_start_date AS eff_start_date, S1.eff_end_date AS eff_end_date FROM testSourceName1 AS S1 LEFT JOIN testSourceName2 as S2 ON S1.id=S2.id"
                }
              },
              "target": {
                "targetType": "DATASET",
                "datasetTarget": {
                  "datasetIdentifier": "arn:aws:scn:us-east-1:123456789012:instance/8850c54e-e187-4fa7-89d4-6370f165174d/namespaces/asc/datasets/trading_partner"
                }
              },
              "tags": {
                "tagKey1": "tagValue1"
              }
            },
            "output": {
              "instanceId": "8850c54e-e187-4fa7-89d4-6370f165174d",
              "name": "trading-partner"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/api/data-integration/instance/{instanceId}/data-integration-flows/{name}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.supplychain#CreateDataIntegrationFlowRequest": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Supply Chain instance identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the DataIntegrationFlow.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The source configurations for DataIntegrationFlow.</p>",
            "smithy.api#required": {}
          }
        },
        "transformation": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowTransformation",
          "traits": {
            "smithy.api#documentation": "<p>The transformation configurations for DataIntegrationFlow.</p>",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowTarget",
          "traits": {
            "smithy.api#documentation": "<p>The target configurations for DataIntegrationFlow.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.supplychain#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the DataIntegrationFlow to be created</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request parameters for CreateDataIntegrationFlow.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.supplychain#CreateDataIntegrationFlowResponse": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Supply Chain instance identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DataIntegrationFlow created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response parameters for CreateDataIntegrationFlow.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.supplychain#CreateDataLakeDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.supplychain#CreateDataLakeDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.supplychain#CreateDataLakeDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.supplychain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.supplychain#ConflictException"
        },
        {
          "target": "com.amazonaws.supplychain#InternalServerException"
        },
        {
          "target": "com.amazonaws.supplychain#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.supplychain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.supplychain#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables you to programmatically create an Amazon Web Services Supply Chain data lake dataset. Developers can create the datasets using their pre-defined or custom schema for a given instance ID, namespace, and dataset name.</p>",
        "smithy.api#examples": [
          {
            "title": "Create an AWS Supply Chain inbound order dataset",
            "input": {
              "instanceId": "1877dd20-dee9-4639-8e99-cb67acf21fe5",
              "namespace": "asc",
              "name": "inbound_order",
              "description": "This is an AWS Supply Chain inbound order dataset",
              "tags": {
                "tagKey1": "tagValue1",
                "tagKey2": "tagValue2"
              }
            },
            "output": {
              "dataset": {
                "arn": "arn:aws:scn:us-east-1:012345678910:instance/1877dd20-dee9-4639-8e99-cb67acf21fe5/namespaces/asc/datasets/inbound_order",
                "instanceId": "1877dd20-dee9-4639-8e99-cb67acf21fe5",
                "namespace": "asc",
                "name": "inbound_order",
                "description": "This is an AWS Supply Chain inbound order dataset",
                "createdTime": 1.727116807751e9,
                "lastModifiedTime": 1.727116807751e9,
                "schema": {
                  "name": "InboundOrder",
                  "fields": [
                    {
                      "name": "id",
                      "type": "STRING",
                      "isRequired": true
                    },
                    {
                      "name": "tpartner_id",
                      "type": "STRING",
                      "isRequired": true
                    },
                    {
                      "name": "connection_id",
                      "type": "STRING",
                      "isRequired": true
                    },
                    {
                      "name": "order_type",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "order_status",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "inbound_order_url",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "order_creation_date",
                      "type": "TIMESTAMP",
                      "isRequired": false
                    },
                    {
                      "name": "company_id",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "to_site_id",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "order_currency_uom",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "vendor_currency_uom",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "exchange_rate",
                      "type": "DOUBLE",
                      "isRequired": false
                    },
                    {
                      "name": "exchange_rate_date",
                      "type": "TIMESTAMP",
                      "isRequired": false
                    },
                    {
                      "name": "incoterm",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "incoterm2",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "incoterm_location_1",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "incoterm_location_2",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "submitted_date",
                      "type": "TIMESTAMP",
                      "isRequired": false
                    },
                    {
                      "name": "agreement_start_date",
                      "type": "TIMESTAMP",
                      "isRequired": false
                    },
                    {
                      "name": "agreement_end_date",
                      "type": "TIMESTAMP",
                      "isRequired": false
                    },
                    {
                      "name": "shipping_instr_code",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "payment_terms_code",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "std_terms_agreement",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "std_terms_agreement_ver",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "agreement_number",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "source",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "source_update_dttm",
                      "type": "TIMESTAMP",
                      "isRequired": false
                    },
                    {
                      "name": "source_event_id",
                      "type": "STRING",
                      "isRequired": false
                    },
                    {
                      "name": "db_creation_dttm",
                      "type": "TIMESTAMP",
                      "isRequired": false
                    },
                    {
                      "name": "db_updation_dttm",
                      "type": "TIMESTAMP",
                      "isRequired": false
                    }
                  ]
                }
              }
            }
          },
          {
            "title": "Create a custom dataset",
            "input": {
              "instanceId": "1877dd20-dee9-4639-8e99-cb67acf21fe5",
              "namespace": "default",
              "name": "my_dataset",
              "description": "This is a custom dataset",
              "schema": {
                "name": "MyDataset",
                "fields": [
                  {
                    "name": "id",
                    "type": "INT",
                    "isRequired": true
                  },
                  {
                    "name": "description",
                    "type": "STRING",
                    "isRequired": true
                  },
                  {
                    "name": "price",
                    "type": "DOUBLE",
                    "isRequired": false
                  },
                  {
                    "name": "creation_time",
                    "type": "TIMESTAMP",
                    "isRequired": false
                  }
                ]
              },
              "tags": {
                "tagKey1": "tagValue1",
                "tagKey2": "tagValue2"
              }
            },
            "output": {
              "dataset": {
                "arn": "arn:aws:scn:us-east-1:012345678910:instance/1877dd20-dee9-4639-8e99-cb67acf21fe5/namespaces/default/datasets/my_dataset",
                "instanceId": "1877dd20-dee9-4639-8e99-cb67acf21fe5",
                "namespace": "default",
                "name": "my_dataset",
                "description": "This is a custom dataset",
                "createdTime": 1.727116807751e9,
                "lastModifiedTime": 1.727116807751e9,
                "schema": {
                  "name": "MyDataset",
                  "fields": [
                    {
                      "name": "id",
                      "type": "INT",
                      "isRequired": true
                    },
                    {
                      "name": "description",
                      "type": "STRING",
                      "isRequired": true
                    },
                    {
                      "name": "price",
                      "type": "DOUBLE",
                      "isRequired": false
                    },
                    {
                      "name": "creation_time",
                      "type": "TIMESTAMP",
                      "isRequired": false
                    }
                  ]
                }
              }
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/api/datalake/instance/{instanceId}/namespaces/{namespace}/datasets/{name}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.supplychain#CreateDataLakeDatasetRequest": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Supply Chain instance identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The name space of the dataset.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>asc</b> - For information on the  Amazon Web Services Supply Chain supported datasets see <a href=\"https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html\">https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>default</b> - For datasets with custom user-defined schemas.</p>\n            </li>\n         </ul>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset. For <b>asc</b> name space, the name must be one of the supported data entities under <a href=\"https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html\">https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetSchema",
          "traits": {
            "smithy.api#documentation": "<p>The custom schema of the data lake dataset and is only required when the name space is <b>default</b>.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the dataset.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.supplychain#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the dataset.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request parameters for CreateDataLakeDataset.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.supplychain#CreateDataLakeDatasetResponse": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "com.amazonaws.supplychain#DataLakeDataset",
          "traits": {
            "smithy.api#documentation": "<p>The detail of created dataset.</p>",
            "smithy.api#nestedProperties": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response parameters of CreateDataLakeDataset.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.supplychain#CreateInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.supplychain#CreateInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.supplychain#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.supplychain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.supplychain#ConflictException"
        },
        {
          "target": "com.amazonaws.supplychain#InternalServerException"
        },
        {
          "target": "com.amazonaws.supplychain#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.supplychain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.supplychain#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables you to programmatically create an Amazon Web Services Supply Chain instance by applying KMS keys and relevant information associated with the API without using the Amazon Web Services console.</p>\n         <p>This is an asynchronous operation. Upon receiving a CreateInstance request, Amazon Web Services Supply Chain immediately returns the instance resource, instance ID, and the initializing state while simultaneously creating all required Amazon Web Services resources for an instance creation. You can use GetInstance to check the status of the instance. If the instance results in an unhealthy state, you need to check the error message, delete the current instance, and recreate a new one based on the mitigation from the error message.</p>",
        "smithy.api#examples": [
          {
            "title": "Successful CreateInstance request with all input data",
            "input": {
              "instanceName": "example instance name",
              "instanceDescription": "example instance description",
              "kmsKeyArn": "arn:aws:kms:us-west-2:123456789012:key/b14ffc39-b7d4-45ab-991a-6257a7f0d24d",
              "tags": {
                "tagKey1": "tagValue1"
              }
            },
            "output": {
              "instance": {
                "instanceId": "9e193580-7cc5-45f7-9609-c43ba0ada793",
                "awsAccountId": "123456789012",
                "state": "Initializing",
                "createdTime": 172615383136,
                "lastModifiedTime": 172615383136,
                "instanceName": "example instance name",
                "instanceDescription": "example instance description",
                "kmsKeyArn": "arn:aws:kms:us-west-2:123456789012:key/b14ffc39-b7d4-45ab-991a-6257a7f0d24d",
                "versionNumber": 2.0
              }
            }
          },
          {
            "title": "Successful CreateInstance request with no input data",
            "output": {
              "instance": {
                "instanceId": "9e193580-7cc5-45f7-9609-c43ba0ada793",
                "awsAccountId": "123456789012",
                "state": "Initializing",
                "createdTime": 172615383136,
                "lastModifiedTime": 172615383136,
                "instanceDescription": "",
                "kmsKeyArn": "arn:aws:kms:us-west-2:456789012345:key/7372eb6d-874c-4212-8d49-7804282d33a8",
                "versionNumber": 2.0
              }
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/api/instance"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.supplychain#CreateInstanceRequest": {
      "type": "structure",
      "members": {
        "instanceName": {
          "target": "com.amazonaws.supplychain#InstanceName",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Supply Chain instance name.</p>"
          }
        },
        "instanceDescription": {
          "target": "com.amazonaws.supplychain#InstanceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Supply Chain instance description.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.supplychain#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon Web Services owned KMS key. If you don't provide anything here, AWS Supply Chain uses the Amazon Web Services owned KMS key.</p>"
          }
        },
        "webAppDnsDomain": {
          "target": "com.amazonaws.supplychain#InstanceWebAppDnsDomain",
          "traits": {
            "smithy.api#documentation": "<p>The DNS subdomain of the web app. This would be \"example\" in the URL \"example.scn.global.on.aws\". You can set this to a custom value, as long as the domain isn't already being used by someone else. The name may only include alphanumeric characters and hyphens.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.supplychain#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services tags of an instance to be created.</p>",
            "smithy.api#notProperty": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.supplychain#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token for idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request parameters for CreateInstance.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.supplychain#CreateInstanceResponse": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "com.amazonaws.supplychain#Instance",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Supply Chain instance resource data details.</p>",
            "smithy.api#nestedProperties": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response parameters for CreateInstance.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.supplychain#DataIntegrationEventData": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1048576
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.supplychain#DataIntegrationEventGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationEventResource": {
      "type": "resource",
      "identifiers": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID"
        },
        "eventId": {
          "target": "com.amazonaws.supplychain#UUID"
        }
      },
      "properties": {
        "eventType": {
          "target": "com.amazonaws.supplychain#DataIntegrationEventType"
        },
        "data": {
          "target": "com.amazonaws.supplychain#DataIntegrationEventData"
        },
        "eventGroupId": {
          "target": "com.amazonaws.supplychain#DataIntegrationEventGroupId"
        },
        "eventTimestamp": {
          "target": "smithy.api#Timestamp"
        }
      },
      "create": {
        "target": "com.amazonaws.supplychain#SendDataIntegrationEvent"
      },
      "traits": {
        "aws.api#arn": {
          "template": "instance/{instanceId}/data-integration-events/{eventId}"
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationEventType": {
      "type": "enum",
      "members": {
        "FORECAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.forecast"
          }
        },
        "INVENTORY_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.inventorylevel"
          }
        },
        "INBOUND_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.inboundorder"
          }
        },
        "INBOUND_ORDER_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.inboundorderline"
          }
        },
        "INBOUND_ORDER_LINE_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.inboundorderlineschedule"
          }
        },
        "OUTBOUND_ORDER_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.outboundorderline"
          }
        },
        "OUTBOUND_SHIPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.outboundshipment"
          }
        },
        "PROCESS_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.processheader"
          }
        },
        "PROCESS_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.processoperation"
          }
        },
        "PROCESS_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.processproduct"
          }
        },
        "RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.reservation"
          }
        },
        "SHIPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.shipment"
          }
        },
        "SHIPMENT_STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.shipmentstop"
          }
        },
        "SHIPMENT_STOP_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.shipmentstoporder"
          }
        },
        "SUPPLY_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scn.data.supplyplan"
          }
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlow": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow instance ID.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "instanceId"
          }
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowName",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow name.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        },
        "sources": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow source configurations.</p>",
            "smithy.api#required": {}
          }
        },
        "transformation": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowTransformation",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow transformation configurations.</p>",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowTarget",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow target configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "createdTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow creation timestamp.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow last modified timestamp.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DataIntegrationFlow details.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowDatasetOptions": {
      "type": "structure",
      "members": {
        "loadType": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowLoadType",
          "traits": {
            "smithy.api#documentation": "<p>The dataset data load type in dataset options.</p>"
          }
        },
        "dedupeRecords": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The dataset load option to remove duplicates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dataset options used in dataset source and target configurations.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowDatasetSourceConfiguration": {
      "type": "structure",
      "members": {
        "datasetIdentifier": {
          "target": "com.amazonaws.supplychain#DatasetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowDatasetOptions",
          "traits": {
            "smithy.api#documentation": "<p>The dataset DataIntegrationFlow source options.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dataset DataIntegrationFlow source configuration parameters.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowDatasetTargetConfiguration": {
      "type": "structure",
      "members": {
        "datasetIdentifier": {
          "target": "com.amazonaws.supplychain#DatasetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The dataset ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowDatasetOptions",
          "traits": {
            "smithy.api#documentation": "<p>The dataset DataIntegrationFlow target options.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dataset DataIntegrationFlow target configuration parameters.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowFileType": {
      "type": "enum",
      "members": {
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARQUET"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.supplychain#DataIntegrationFlow"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowLoadType": {
      "type": "enum",
      "members": {
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCREMENTAL"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 10,
        "smithy.api#range": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[A-Za-z0-9-]+$"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowNextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65535
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowResource": {
      "type": "resource",
      "identifiers": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID"
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowName"
        }
      },
      "properties": {
        "sources": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowSourceList"
        },
        "transformation": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowTransformation"
        },
        "target": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowTarget"
        },
        "createdTime": {
          "target": "smithy.api#Timestamp"
        },
        "lastModifiedTime": {
          "target": "smithy.api#Timestamp"
        }
      },
      "put": {
        "target": "com.amazonaws.supplychain#CreateDataIntegrationFlow"
      },
      "read": {
        "target": "com.amazonaws.supplychain#GetDataIntegrationFlow"
      },
      "update": {
        "target": "com.amazonaws.supplychain#UpdateDataIntegrationFlow"
      },
      "delete": {
        "target": "com.amazonaws.supplychain#DeleteDataIntegrationFlow"
      },
      "list": {
        "target": "com.amazonaws.supplychain#ListDataIntegrationFlows"
      },
      "traits": {
        "aws.api#arn": {
          "template": "instance/{instanceId}/data-integration-flows/{name}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "DataIntegrationFlow"
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowS3Options": {
      "type": "structure",
      "members": {
        "fileType": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowFileType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 file type in S3 options.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon S3 options used in S3 source and target configurations.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowS3Prefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 700
        },
        "smithy.api#pattern": "^[/A-Za-z0-9._-]+$"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowS3SourceConfiguration": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "com.amazonaws.supplychain#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The bucketName of the S3 source objects.</p>",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowS3Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix of the S3 source objects.</p>",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowS3Options",
          "traits": {
            "smithy.api#documentation": "<p>The other options of the S3 DataIntegrationFlow source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The S3 DataIntegrationFlow source configuration parameters.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowS3TargetConfiguration": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "com.amazonaws.supplychain#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The bucketName of the S3 target objects.</p>",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowS3Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix of the S3 target objects.</p>",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowS3Options",
          "traits": {
            "smithy.api#documentation": "<p>The S3 DataIntegrationFlow target options.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The S3 DataIntegrationFlow target configuration parameters.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowSQLQuery": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65535
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowSQLTransformationConfiguration": {
      "type": "structure",
      "members": {
        "query": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowSQLQuery",
          "traits": {
            "smithy.api#documentation": "<p>The transformation SQL query body based on SparkSQL.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The SQL DataIntegrationFlow transformation configuration parameters.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowSource": {
      "type": "structure",
      "members": {
        "sourceType": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow source type.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceName": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow source name that can be used as table alias in SQL transformation query.</p>",
            "smithy.api#required": {}
          }
        },
        "s3Source": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowS3SourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The S3 DataIntegrationFlow source.</p>"
          }
        },
        "datasetSource": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowDatasetSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The dataset DataIntegrationFlow source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DataIntegrationFlow source parameters.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.supplychain#DataIntegrationFlowSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 40
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowSourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[A-Za-z0-9_]+$"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowSourceType": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASET"
          }
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowTarget": {
      "type": "structure",
      "members": {
        "targetType": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowTargetType",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow target type.</p>",
            "smithy.api#required": {}
          }
        },
        "s3Target": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowS3TargetConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The S3 DataIntegrationFlow target.</p>"
          }
        },
        "datasetTarget": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowDatasetTargetConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The dataset DataIntegrationFlow target.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DataIntegrationFlow target parameters.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowTargetType": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASET"
          }
        }
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowTransformation": {
      "type": "structure",
      "members": {
        "transformationType": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowTransformationType",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrationFlow transformation type.</p>",
            "smithy.api#required": {}
          }
        },
        "sqlTransformation": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowSQLTransformationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The SQL DataIntegrationFlow transformation configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DataIntegrationFlow transformation parameters.</p>"
      }
    },
    "com.amazonaws.supplychain#DataIntegrationFlowTransformationType": {
      "type": "enum",
      "members": {
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.supplychain#DataLakeDataset": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Supply Chain instance identifier.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "instanceId"
          }
        },
        "namespace": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The name space of the dataset. The available values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>asc</b> - For information on the  Amazon Web Services Supply Chain supported datasets see <a href=\"https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html\">https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>default</b> - For datasets with custom user-defined schemas.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "namespace"
          }
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset. For <b>asc</b> name space, the name must be one of the supported data entities under <a href=\"https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html\">https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html</a>.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        },
        "arn": {
          "target": "com.amazonaws.supplychain#AscResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The arn of the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetSchema",
          "traits": {
            "smithy.api#documentation": "<p>The schema of the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the dataset.</p>"
          }
        },
        "createdTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last modified time of the dataset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data lake dataset details.</p>"
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.supplychain#DataLakeDataset"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 10,
        "smithy.api#range": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 75
        },
        "smithy.api#pattern": "^[a-z0-9_]+$"
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetNamespace": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^[a-z]+$"
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetNextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65535
        }
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetResource": {
      "type": "resource",
      "identifiers": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID"
        },
        "namespace": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetNamespace"
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetName"
        }
      },
      "properties": {
        "arn": {
          "target": "com.amazonaws.supplychain#AscResourceArn"
        },
        "schema": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetSchema"
        },
        "description": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetDescription"
        },
        "createdTime": {
          "target": "smithy.api#Timestamp"
        },
        "lastModifiedTime": {
          "target": "smithy.api#Timestamp"
        }
      },
      "put": {
        "target": "com.amazonaws.supplychain#CreateDataLakeDataset"
      },
      "read": {
        "target": "com.amazonaws.supplychain#GetDataLakeDataset"
      },
      "update": {
        "target": "com.amazonaws.supplychain#UpdateDataLakeDataset"
      },
      "delete": {
        "target": "com.amazonaws.supplychain#DeleteDataLakeDataset"
      },
      "list": {
        "target": "com.amazonaws.supplychain#ListDataLakeDatasets"
      },
      "traits": {
        "aws.api#arn": {
          "template": "instance/{instanceId}/namespaces/{namespace}/datasets/{name}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "DataLakeDataset"
        },
        "smithy.api#noReplace": {}
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetSchema": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetSchemaName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset schema.</p>",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetSchemaFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The list of field details of the dataset schema.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The schema details of the dataset.</p>"
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetSchemaField": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetSchemaFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The dataset field name.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetSchemaFieldType",
          "traits": {
            "smithy.api#documentation": "<p>The dataset field type.</p>",
            "smithy.api#required": {}
          }
        },
        "isRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicate if the field is required or not.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dataset field details.</p>"
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetSchemaFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.supplychain#DataLakeDatasetSchemaField"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetSchemaFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-z0-9_]+$"
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetSchemaFieldType": {
      "type": "enum",
      "members": {
        "INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT"
          }
        },
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        }
      }
    },
    "com.amazonaws.supplychain#DataLakeDatasetSchemaName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.supplychain#DatasetIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^[-_/A-Za-z0-9:]+$"
      }
    },
    "com.amazonaws.supplychain#DeleteDataIntegrationFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.supplychain#DeleteDataIntegrationFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.supplychain#DeleteDataIntegrationFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.supplychain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.supplychain#InternalServerException"
        },
        {
          "target": "com.amazonaws.supplychain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.supplychain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enable you to programmatically delete an existing data pipeline for the provided Amazon Web Services Supply Chain instance and DataIntegrationFlow name.</p>",
        "smithy.api#examples": [
          {
            "title": "Successful DeleteDataIntegrationFlow",
            "input": {
              "instanceId": "8850c54e-e187-4fa7-89d4-6370f165174d",
              "name": "testStagingFlow"
            },
            "output": {
              "instanceId": "8850c54e-e187-4fa7-89d4-6370f165174d",
              "name": "testStagingFlow"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/api/data-integration/instance/{instanceId}/data-integration-flows/{name}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.supplychain#DeleteDataIntegrationFlowRequest": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Supply Chain instance identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DataIntegrationFlow to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request parameters for DeleteDataIntegrationFlow.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.supplychain#DeleteDataIntegrationFlowResponse": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Supply Chain instance identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DataIntegrationFlow deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response parameters for DeleteDataIntegrationFlow.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.supplychain#DeleteDataLakeDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.supplychain#DeleteDataLakeDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.supplychain#DeleteDataLakeDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.supplychain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.supplychain#InternalServerException"
        },
        {
          "target": "com.amazonaws.supplychain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.supplychain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.supplychain#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables you to programmatically delete an Amazon Web Services Supply Chain data lake dataset. Developers can delete the existing datasets for a given instance ID, namespace, and instance name.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete an AWS Supply Chain inbound_order dataset",
            "input": {
              "instanceId": "1877dd20-dee9-4639-8e99-cb67acf21fe5",
              "namespace": "asc",
              "name": "inbound_order"
            },
            "output": {
              "instanceId": "1877dd20-dee9-4639-8e99-cb67acf21fe5",
              "namespace": "asc",
              "name": "inbound_order"
            }
          },
          {
            "title": "Delete a custom dataset",
            "input": {
              "instanceId": "1877dd20-dee9-4639-8e99-cb67acf21fe5",
              "namespace": "default",
              "name": "my_dataset"
            },
            "output": {
              "instanceId": "1877dd20-dee9-4639-8e99-cb67acf21fe5",
              "namespace": "default",
              "name": "my_dataset"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/api/datalake/instance/{instanceId}/namespaces/{namespace}/datasets/{name}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.supplychain#DeleteDataLakeDatasetRequest": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Supply Chain instance identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The name space of the dataset. The available values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>asc</b> - For information on the  Amazon Web Services Supply Chain supported datasets see <a href=\"https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html\">https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>default</b> - For datasets with custom user-defined schemas.</p>\n            </li>\n         </ul>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset. For <b>asc</b> name space, the name must be one of the supported data entities under <a href=\"https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html\">https://docs.aws.amazon.com/aws-supply-chain/latest/userguide/data-model-asc.html</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request parameters of DeleteDataLakeDataset.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.supplychain#DeleteDataLakeDatasetResponse": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Supply Chain instance identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The name space of deleted dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.supplychain#DataLakeDatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of deleted dataset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response parameters of DeleteDataLakeDataset.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.supplychain#DeleteInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.supplychain#DeleteInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.supplychain#DeleteInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.supplychain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.supplychain#InternalServerException"
        },
        {
          "target": "com.amazonaws.supplychain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.supplychain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.supplychain#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables you to programmatically delete an Amazon Web Services Supply Chain instance by deleting the KMS keys and relevant information associated with the API without using the Amazon Web Services console.</p>\n         <p>This is an asynchronous operation. Upon receiving a DeleteInstance request, Amazon Web Services Supply Chain immediately returns a response with the instance resource, delete state while cleaning up all Amazon Web Services resources created during the instance creation process. You can use the GetInstance action to check the instance status.</p>",
        "smithy.api#examples": [
          {
            "title": "Successful DeleteInstance request",
            "input": {
              "instanceId": "9e193580-7cc5-45f7-9609-c43ba0ada793"
            },
            "output": {
              "instance": {
                "instanceId": "9e193580-7cc5-45f7-9609-c43ba0ada793",
                "awsAccountId": "123456789012",
                "state": "Deleting",
                "createdTime": 172615383136,
                "lastModifiedTime": 172615383136,
                "instanceName": "updated example instance name",
                "instanceDescription": "updated example instance description",
                "kmsKeyArn": "arn:aws:kms:us-west-2:123456789012:key/b14ffc39-b7d4-45ab-991a-6257a7f0d24d",
                "versionNumber": 2.0
              }
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/api/instance/{instanceId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.supplychain#DeleteInstanceRequest": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.supplychain#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Supply Chain instance identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request parameters for DeleteInstance.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.supplychain#DeleteInstanceResponse": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "com.amazonaws.supplychain#Instance",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Supply Chain instance resource data details.</p>",
            "smithy.api#nestedProperties": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response parameters for DeleteInstance.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.supplychain#GalaxyPublicAPIGateway": {
      "type": "service",
      "version": "2024-01-01",
      "operations": [
        {
          "target": "com.amazonaws.supplychain#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.supplychain#TagResource"
        },
        {
          "target": "com.amazonaws.supplychain#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.supplychain#BillOfMaterialsImportJobResource"
        },
        {
          "target": "com.amazonaws.supplychain#DataIntegrationEventResource"
        },
        {
          "target": "com.amazonaws.supplychain#DataIntegrationFlowResource"
        },
        {
          "target": "com.amazonaws.supplychain#DataLakeDatasetResource"
        },
        {
          "target": "com.amazonaws.supplychain#InstanceResource"
        }
      ],
      "errors": [
        {
          "target": "com.amazonaws.supplychain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.supplychain#ConflictException"
        },
        {
          "target": "com.amazonaws.supplychain#InternalServerException"
        },
        {
          "target": "com.amazonaws.supplychain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.supplychain#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.supplychain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.supplychain#ValidationException"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SupplyChain",
          "arnNamespace": "scn",
          "endpointPrefix": "scn"
        },
        "aws.auth#sigv4": {
          "name": "scn"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"],
          "maxAge": 86400
        },
        "smithy.api#documentation": "<p>\n            AWS Supply Chain is a cloud-based application that works with your enterprise resource planning (ERP) and supply chain management systems. Using AWS Supply Chain, you can connect and extract your inventory, supply, and demand related data from existing ERP or supply chain systems into a single data model.\n        </p>\n         <p>The AWS Supply Chain API supports configuration data import for Supply Planning.</p>\n         <p>\n            All AWS Supply chain API operations are Amazon-authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of AWS Identity and Access Management users and roles to help facilitate access, trust, and permission policies.\n        </p>",
        "smithy.api#title": "AWS Supply Chain",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://scn-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://scn-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://scn.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://scn.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://scn-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://scn-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://scn.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://scn.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://scn-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://scn-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://scn.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
[...]
