{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.support#AWSSupport_20130415": {
      "type": "service",
      "version": "2013-04-15",
      "operations": [
        {
          "target": "com.amazonaws.support#AddAttachmentsToSet"
        },
        {
          "target": "com.amazonaws.support#AddCommunicationToCase"
        },
        {
          "target": "com.amazonaws.support#CreateCase"
        },
        {
          "target": "com.amazonaws.support#DescribeAttachment"
        },
        {
          "target": "com.amazonaws.support#DescribeCases"
        },
        {
          "target": "com.amazonaws.support#DescribeCommunications"
        },
        {
          "target": "com.amazonaws.support#DescribeServices"
        },
        {
          "target": "com.amazonaws.support#DescribeSeverityLevels"
        },
        {
          "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckRefreshStatuses"
        },
        {
          "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckResult"
        },
        {
          "target": "com.amazonaws.support#DescribeTrustedAdvisorChecks"
        },
        {
          "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckSummaries"
        },
        {
          "target": "com.amazonaws.support#RefreshTrustedAdvisorCheck"
        },
        {
          "target": "com.amazonaws.support#ResolveCase"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Support",
          "arnNamespace": "support",
          "cloudFormationName": "Support",
          "cloudTrailEventSource": "support.amazonaws.com",
          "endpointPrefix": "support"
        },
        "aws.auth#sigv4": {
          "name": "support"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Amazon Web Services Support</fullname>\n         <p>The <i>Amazon Web Services Support API Reference</i> is intended for programmers who need detailed\n            information about the Amazon Web Services Support operations and data types. You can use the API to manage\n            your support cases programmatically. The Amazon Web Services Support API uses HTTP methods that return\n            results in JSON format.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>\n         <p>You can also use the Amazon Web Services Support API to access features for <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\">Trusted Advisor</a>. You can return a list of\n            checks and their descriptions, get check results, specify checks to refresh, and get the\n            refresh status of checks.</p>\n         <p>You can manage your support cases with the following Amazon Web Services Support API operations:</p>\n         <ul>\n            <li>\n               <p>The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations\n                    create Amazon Web Services Support cases, retrieve information about cases, and resolve cases.</p>\n            </li>\n            <li>\n               <p>The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to Amazon Web Services Support\n                    cases.</p>\n            </li>\n            <li>\n               <p>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return Amazon Web Service names, service codes, service categories, and problem\n                    severity levels. You use these values when you call the <a>CreateCase</a> operation.</p>\n            </li>\n         </ul>\n         <p>You can also use the Amazon Web Services Support API to call the  Trusted Advisor operations. For more\n            information, see <a href=\"https://docs.aws.amazon.com/\">Trusted Advisor</a> in the\n                <i>Amazon Web Services Support User Guide</i>.</p>\n         <p>For authentication of requests, Amazon Web Services Support uses <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing\n                Process</a>.</p>\n         <p>For more information about this service and the endpoints to use, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html\">About the\n                Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
        "smithy.api#title": "AWS Support",
        "smithy.api#xmlNamespace": {
          "uri": "http://support.amazonaws.com/doc/2013-04-15/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://support-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-gov-west-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://support.us-gov-west-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://support-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://support.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://support.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "support"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-cn-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://support.cn-north-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "cn-north-1",
                              "signingName": "support"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-us-gov-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://support.us-gov-west-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-gov-west-1",
                              "signingName": "support"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-iso-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://support.us-iso-east-1.c2s.ic.gov",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-iso-east-1",
                              "signingName": "support"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-iso-b-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://support.us-isob-east-1.sc2s.sgov.gov",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-isob-east-1",
                              "signingName": "support"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://support.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-cn-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "cn-north-1",
                        "signingName": "support",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://support.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-cn-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-east-1",
                        "signingName": "support",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://support.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-iso-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-iso-east-1",
                        "signingName": "support",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://support.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-iso-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://support-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://support.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://support.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://support.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-iso-b-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-isob-east-1",
                        "signingName": "support",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://support.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-iso-b-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-us-gov-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-gov-west-1",
                        "signingName": "support",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://support.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-us-gov-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.support#AddAttachmentsToSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#AddAttachmentsToSetRequest"
      },
      "output": {
        "target": "com.amazonaws.support#AddAttachmentsToSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#AttachmentLimitExceeded"
        },
        {
          "target": "com.amazonaws.support#AttachmentSetExpired"
        },
        {
          "target": "com.amazonaws.support#AttachmentSetIdNotFound"
        },
        {
          "target": "com.amazonaws.support#AttachmentSetSizeLimitExceeded"
        },
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more attachments to an attachment set. </p>\n         <p>An attachment set is a temporary container for attachments that you add to a case or\n            case communication. The set is available for 1 hour after it's created. The\n                <code>expiryTime</code> returned in the response is when the set expires. </p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.support#AddAttachmentsToSetRequest": {
      "type": "structure",
      "members": {
        "attachmentSetId": {
          "target": "com.amazonaws.support#AttachmentSetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a\n            new attachment set is created, and the ID of the set is returned in the response. If an\n                <code>attachmentSetId</code> is specified, the attachments are added to the\n            specified set, if it exists.</p>"
          }
        },
        "attachments": {
          "target": "com.amazonaws.support#Attachments",
          "traits": {
            "smithy.api#documentation": "<p>One or more attachments to add to the set. You can add up to three attachments per\n            set. The size limit is 5 MB per attachment.</p>\n         <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify\n            the contents of the attachment file. In the previous request syntax, the value for\n                <code>data</code> appear as <code>blob</code>, which is represented as a\n            base64-encoded string. The value for <code>fileName</code> is the name of the\n            attachment, such as <code>troubleshoot-screenshot.png</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.support#AddAttachmentsToSetResponse": {
      "type": "structure",
      "members": {
        "attachmentSetId": {
          "target": "com.amazonaws.support#AttachmentSetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a\n            new attachment set is created, and the ID of the set is returned in the response. If an\n                <code>attachmentSetId</code> was specified, the attachments are added to the\n            specified set, if it exists.</p>"
          }
        },
        "expiryTime": {
          "target": "com.amazonaws.support#ExpiryTime",
          "traits": {
            "smithy.api#documentation": "<p>The time and date when the attachment set expires.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.</p>"
      }
    },
    "com.amazonaws.support#AddCommunicationToCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#AddCommunicationToCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.support#AddCommunicationToCaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#AttachmentSetExpired"
        },
        {
          "target": "com.amazonaws.support#AttachmentSetIdNotFound"
        },
        {
          "target": "com.amazonaws.support#CaseIdNotFound"
        },
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds additional customer communication to an Amazon Web Services Support case. Use the <code>caseId</code>\n            parameter to identify the case to which to add communication. You can list a set of\n            email addresses to copy on the communication by using the <code>ccEmailAddresses</code>\n            parameter. The <code>communicationBody</code> value contains the text of the\n            communication.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.support#AddCommunicationToCaseRequest": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.support#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>The support case ID requested or returned in the call. The case ID is an alphanumeric\n            string formatted as shown in this example:\n                case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>\n         </p>"
          }
        },
        "communicationBody": {
          "target": "com.amazonaws.support#CommunicationBody",
          "traits": {
            "smithy.api#documentation": "<p>The body of an email communication to add to the support case.</p>",
            "smithy.api#required": {}
          }
        },
        "ccEmailAddresses": {
          "target": "com.amazonaws.support#CcEmailAddressList",
          "traits": {
            "smithy.api#documentation": "<p>The email addresses in the CC line of an email to be added to the support case.</p>"
          }
        },
        "attachmentSetId": {
          "target": "com.amazonaws.support#AttachmentSetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a set of one or more attachments for the communication to add to the case.\n            Create the set by calling <a>AddAttachmentsToSet</a>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.support#AddCommunicationToCaseResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.amazonaws.support#Result",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>True if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an\n            error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of the <a>AddCommunicationToCase</a> operation.</p>"
      }
    },
    "com.amazonaws.support#AfterTime": {
      "type": "string"
    },
    "com.amazonaws.support#Attachment": {
      "type": "structure",
      "members": {
        "fileName": {
          "target": "com.amazonaws.support#FileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attachment file.</p>"
          }
        },
        "data": {
          "target": "com.amazonaws.support#Data",
          "traits": {
            "smithy.api#documentation": "<p>The content of the attachment file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attachment to a case communication. The attachment consists of the file name and\n            the content of the file.</p>"
      }
    },
    "com.amazonaws.support#AttachmentDetails": {
      "type": "structure",
      "members": {
        "attachmentId": {
          "target": "com.amazonaws.support#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment.</p>"
          }
        },
        "fileName": {
          "target": "com.amazonaws.support#FileName",
          "traits": {
            "smithy.api#documentation": "<p>The file name of the attachment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The file name and ID of an attachment to a case communication. You can use the ID to\n            retrieve the attachment with the <a>DescribeAttachment</a> operation.</p>"
      }
    },
    "com.amazonaws.support#AttachmentId": {
      "type": "string"
    },
    "com.amazonaws.support#AttachmentIdNotFound": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.support#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An attachment with the specified ID could not be found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attachment with the specified ID could not be found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.support#AttachmentLimitExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.support#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The limit for the number of attachment sets created in a short period of time has been\n            exceeded.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The limit for the number of attachment sets created in a short period of time has been\n            exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.support#AttachmentSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.support#AttachmentDetails"
      }
    },
    "com.amazonaws.support#AttachmentSetExpired": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.support#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The expiration time of the attachment set has passed. The set expires one hour after\n            it is created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it\n            is created.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.support#AttachmentSetId": {
      "type": "string"
    },
    "com.amazonaws.support#AttachmentSetIdNotFound": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.support#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An attachment set with the specified ID could not be found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attachment set with the specified ID could not be found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.support#AttachmentSetSizeLimitExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.support#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A limit for the size of an attachment set has been exceeded. The limits are three\n            attachments and 5 MB per attachment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A limit for the size of an attachment set has been exceeded. The limits are three\n            attachments and 5 MB per attachment.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.support#Attachments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.support#Attachment"
      }
    },
    "com.amazonaws.support#BeforeTime": {
      "type": "string"
    },
    "com.amazonaws.support#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.support#CaseCreationLimitExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.support#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An error message that indicates that you have exceeded the number of cases you can\n            have open.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The case creation limit for the account has been exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.support#CaseDetails": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.support#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>The support case ID requested or returned in the call. The case ID is an alphanumeric\n            string formatted as shown in this example:\n                case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>\n         </p>"
          }
        },
        "displayId": {
          "target": "com.amazonaws.support#DisplayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID displayed for the case in the Amazon Web Services Support Center. This is a numeric\n            string.</p>"
          }
        },
        "subject": {
          "target": "com.amazonaws.support#Subject",
          "traits": {
            "smithy.api#documentation": "<p>The subject line for the case in the Amazon Web Services Support Center.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.support#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the case.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>opened</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>pending-customer-action</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>reopened</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>resolved</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>unassigned</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>work-in-progress</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "serviceCode": {
          "target": "com.amazonaws.support#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>The code for the Amazon Web Services service. You can get a list of codes and the corresponding\n            service names by calling <a>DescribeServices</a>.</p>"
          }
        },
        "categoryCode": {
          "target": "com.amazonaws.support#CategoryCode",
          "traits": {
            "smithy.api#documentation": "<p>The category of problem for the support case.</p>"
          }
        },
        "severityCode": {
          "target": "com.amazonaws.support#SeverityCode",
          "traits": {
            "smithy.api#documentation": "<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p>"
          }
        },
        "submittedBy": {
          "target": "com.amazonaws.support#SubmittedBy",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the account that submitted the case.</p>"
          }
        },
        "timeCreated": {
          "target": "com.amazonaws.support#TimeCreated",
          "traits": {
            "smithy.api#documentation": "<p>The time that the case was created in the Amazon Web Services Support Center.</p>"
          }
        },
        "recentCommunications": {
          "target": "com.amazonaws.support#RecentCaseCommunications",
          "traits": {
            "smithy.api#documentation": "<p>The five most recent communications between you and Amazon Web Services Support Center, including the\n            IDs of any attachments to the communications. Also includes a <code>nextToken</code>\n            that you can use to retrieve earlier communications.</p>"
          }
        },
        "ccEmailAddresses": {
          "target": "com.amazonaws.support#CcEmailAddressList",
          "traits": {
            "smithy.api#documentation": "<p>The email addresses that receive copies of communication about the case.</p>"
          }
        },
        "language": {
          "target": "com.amazonaws.support#Language",
          "traits": {
            "smithy.api#documentation": "<p>The language in which Amazon Web Services Support handles the case. Amazon Web Services Support\ncurrently supports English (\"en\") and Japanese (\"ja\"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON-formatted object that contains the metadata for a support case. It is contained\n            in the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the following fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>caseId</b> - The support case ID requested\n                    or returned in the call. The case ID is an alphanumeric string formatted as\n                    shown in this example:\n                        case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>categoryCode</b> - The category of problem\n                    for the support case. Corresponds to the <code>CategoryCode</code> values\n                    returned by a call to <a>DescribeServices</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>displayId</b> - The identifier for the case\n                    on pages in the Amazon Web Services Support Center.</p>\n            </li>\n            <li>\n               <p>\n                  <b>language</b> - The language in which Amazon Web Services Support handles the case. Amazon Web Services Support\ncurrently supports English (\"en\") and Japanese (\"ja\"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.</p>\n            </li>\n            <li>\n               <p>\n                  <b>nextToken</b> - A resumption point for\n                    pagination.</p>\n            </li>\n            <li>\n               <p>\n                  <b>recentCommunications</b> - One or more <a>Communication</a> objects. Fields of these objects are\n                        <code>attachments</code>, <code>body</code>, <code>caseId</code>,\n                        <code>submittedBy</code>, and <code>timeCreated</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>serviceCode</b> - The identifier for the\n                    Amazon Web Services service that corresponds to the service code defined in the call to <a>DescribeServices</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>severityCode</b> - The severity code\n                    assigned to the case. Contains one of the values returned by the call to <a>DescribeSeverityLevels</a>. The possible values are:\n                        <code>low</code>, <code>normal</code>, <code>high</code>,\n                        <code>urgent</code>, and <code>critical</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>status</b> - The status of the case in the\n                    Amazon Web Services Support Center. Valid values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>opened</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>pending-customer-action</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>reopened</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>resolved</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>unassigned</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>work-in-progress</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <b>subject</b> - The subject line of the\n                    case.</p>\n            </li>\n            <li>\n               <p>\n                  <b>submittedBy</b> - The email address of the\n                    account that submitted the case.</p>\n            </li>\n            <li>\n               <p>\n                  <b>timeCreated</b> - The time the case was\n                    created, in ISO-8601 format.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.support#CaseId": {
      "type": "string"
    },
    "com.amazonaws.support#CaseIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.support#CaseId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.support#CaseIdNotFound": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.support#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The requested <code>CaseId</code> could not be located.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested <code>caseId</code> couldn't be located.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.support#CaseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.support#CaseDetails"
      }
    },
    "com.amazonaws.support#CaseStatus": {
      "type": "string"
    },
    "com.amazonaws.support#Category": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.support#CategoryCode",
          "traits": {
            "smithy.api#documentation": "<p>The category code for the support case.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.support#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The category name for the support case.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON-formatted name/value pair that represents the category name and category code\n            of the problem, selected from the <a>DescribeServices</a> response for each\n            Amazon Web Services service.</p>"
      }
    },
    "com.amazonaws.support#CategoryCode": {
      "type": "string"
    },
    "com.amazonaws.support#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.support#Category"
      }
    },
    "com.amazonaws.support#CategoryName": {
      "type": "string"
    },
    "com.amazonaws.support#CcEmailAddress": {
      "type": "string"
    },
    "com.amazonaws.support#CcEmailAddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.support#CcEmailAddress"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.support#Communication": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.support#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>The support case ID requested or returned in the call. The case ID is an alphanumeric\n            string formatted as shown in this example:\n                case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>\n         </p>"
          }
        },
        "body": {
          "target": "com.amazonaws.support#CommunicationBody",
          "traits": {
            "smithy.api#documentation": "<p>The text of the communication between the customer and Amazon Web Services Support.</p>"
          }
        },
        "submittedBy": {
          "target": "com.amazonaws.support#SubmittedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identity of the account that submitted, or responded to, the support case.\n            Customer entries include the role or IAM user as well as the email address. For example,\n            \"AdminRole (Role) <janedoe@example.com>. Entries from the Amazon Web Services Support team display\n            \"Amazon Web Services,\" and don't show an email address.\n            </p>"
          }
        },
        "timeCreated": {
          "target": "com.amazonaws.support#TimeCreated",
          "traits": {
            "smithy.api#documentation": "<p>The time the communication was created.</p>"
          }
        },
        "attachmentSet": {
          "target": "com.amazonaws.support#AttachmentSet",
          "traits": {
            "smithy.api#documentation": "<p>Information about the attachments to the case communication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A communication associated with a support case. The communication consists of the case\n            ID, the message body, attachment information, the submitter of the communication, and\n            the date and time of the communication.</p>"
      }
    },
    "com.amazonaws.support#CommunicationBody": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8000
        }
      }
    },
    "com.amazonaws.support#CommunicationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.support#Communication"
      }
    },
    "com.amazonaws.support#CreateCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#CreateCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.support#CreateCaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#AttachmentSetExpired"
        },
        {
          "target": "com.amazonaws.support#AttachmentSetIdNotFound"
        },
        {
          "target": "com.amazonaws.support#CaseCreationLimitExceeded"
        },
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a case in the Amazon Web Services Support Center. This operation is similar to how you create a case\n            in the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create\n                Case</a> page.</p>\n         <p>The Amazon Web Services Support API doesn't support requesting service limit increases. You can submit a\n            service limit increase in the following ways: </p>\n         <ul>\n            <li>\n               <p>Submit a request from the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p>\n            </li>\n            <li>\n               <p>Use the Service Quotas <a href=\"https://docs.aws.amazon.com/servicequotas/2019-06-24/apireference/API_RequestServiceQuotaIncrease.html\">RequestServiceQuotaIncrease</a> operation.</p>\n            </li>\n         </ul>\n         <p>A successful <code>CreateCase</code> request returns an Amazon Web Services Support case number. You can use\n            the <a>DescribeCases</a> operation and specify the case number to get\n            existing Amazon Web Services Support cases. After you create a case, use the <a>AddCommunicationToCase</a> operation to add additional communication or\n            attachments to an existing case.</p>\n         <p>The <code>caseId</code> is separate from the <code>displayId</code> that appears in\n            the <a href=\"https://console.aws.amazon.com/support\">Amazon Web Services Support Center</a>. Use the <a>DescribeCases</a> operation to get the <code>displayId</code>.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.support#CreateCaseRequest": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "com.amazonaws.support#Subject",
          "traits": {
            "smithy.api#documentation": "<p>The title of the support case. The title appears in the <b>Subject</b> field on the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceCode": {
          "target": "com.amazonaws.support#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>The code for the Amazon Web Services service. You can use the <a>DescribeServices</a>\n            operation to get the possible <code>serviceCode</code> values.</p>"
          }
        },
        "severityCode": {
          "target": "com.amazonaws.support#SeverityCode",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the urgency of the case. This value determines the response\n            time according to your service level agreement with Amazon Web Services Support. You can use the <a>DescribeSeverityLevels</a> operation to get the possible values for\n                <code>severityCode</code>. </p>\n         <p>For more information, see <a>SeverityLevel</a> and <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/getting-started.html#choosing-severity\">Choosing a\n                Severity</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\n         <note>\n            <p>The availability of severity levels depends on the support plan for the\n                Amazon Web Services account.</p>\n         </note>"
          }
        },
        "categoryCode": {
          "target": "com.amazonaws.support#CategoryCode",
          "traits": {
            "smithy.api#documentation": "<p>The category of problem for the support case. You also use the <a>DescribeServices</a> operation to get the category code for a service. Each\n            Amazon Web Services service defines its own set of category codes.</p>"
          }
        },
        "communicationBody": {
          "target": "com.amazonaws.support#CommunicationBody",
          "traits": {
            "smithy.api#documentation": "<p>The communication body text that describes the issue. This text appears in the\n                <b>Description</b> field on the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p>",
            "smithy.api#required": {}
          }
        },
        "ccEmailAddresses": {
          "target": "com.amazonaws.support#CcEmailAddressList",
          "traits": {
            "smithy.api#documentation": "<p>A list of email addresses that Amazon Web Services Support copies on case correspondence. Amazon Web Services Support\n            identifies the account that creates the case when you specify your Amazon Web Services credentials in\n            an HTTP POST method or use the <a href=\"http://aws.amazon.com/tools/\">Amazon Web Services SDKs</a>.\n        </p>"
          }
        },
        "language": {
          "target": "com.amazonaws.support#Language",
          "traits": {
            "smithy.api#documentation": "<p>The language in which Amazon Web Services Support handles the case. Amazon Web Services Support\ncurrently supports English (\"en\") and Japanese (\"ja\"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.</p>"
          }
        },
        "issueType": {
          "target": "com.amazonaws.support#IssueType",
          "traits": {
            "smithy.api#documentation": "<p>The type of issue for the case. You can specify <code>customer-service</code> or\n                <code>technical</code>. If you don't specify a value, the default is\n                <code>technical</code>.</p>"
          }
        },
        "attachmentSetId": {
          "target": "com.amazonaws.support#AttachmentSetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a set of one or more attachments for the case. Create the set by using the\n                <a>AddAttachmentsToSet</a> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.support#CreateCaseResponse": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.support#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>The support case ID requested or returned in the call. The case ID is an alphanumeric\n            string in the following format:\n                case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The support case ID returned by a successful completion of the <a>CreateCase</a> operation.</p>"
      }
    },
    "com.amazonaws.support#Data": {
      "type": "blob"
    },
    "com.amazonaws.support#DescribeAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#DescribeAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.support#DescribeAttachmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#AttachmentIdNotFound"
        },
        {
          "target": "com.amazonaws.support#DescribeAttachmentLimitExceeded"
        },
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the attachment that has the specified ID. Attachments can include screenshots,\n            error logs, or other files that describe your issue. Attachment IDs are generated by the\n            case management system when you add an attachment to a case or case communication.\n            Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are\n            returned by the <a>DescribeCommunications</a> operation.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.support#DescribeAttachmentLimitExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.support#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The limit for the number of <a>DescribeAttachment</a> requests in a short\n            period of time has been exceeded.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The limit for the number of <a>DescribeAttachment</a> requests in a short\n            period of time has been exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.support#DescribeAttachmentRequest": {
      "type": "structure",
      "members": {
        "attachmentId": {
          "target": "com.amazonaws.support#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment to return. Attachment IDs are returned by the <a>DescribeCommunications</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.support#DescribeAttachmentResponse": {
      "type": "structure",
      "members": {
        "attachment": {
          "target": "com.amazonaws.support#Attachment",
          "traits": {
            "smithy.api#documentation": "<p>This object includes the attachment content and file name.</p>\n         <p>In the previous response syntax, the value for the <code>data</code> parameter appears\n            as <code>blob</code>, which is represented as a base64-encoded string. The value for\n                <code>fileName</code> is the name of the attachment, such as\n                <code>troubleshoot-screenshot.png</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.</p>"
      }
    },
    "com.amazonaws.support#DescribeCases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#DescribeCasesRequest"
      },
      "output": {
        "target": "com.amazonaws.support#DescribeCasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#CaseIdNotFound"
        },
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of cases that you specify by passing one or more case IDs. You can use\n            the <code>afterTime</code> and <code>beforeTime</code> parameters to filter the cases by\n            date. You can set values for the <code>includeResolvedCases</code> and\n                <code>includeCommunications</code> parameters to specify how much information to\n            return.</p>\n         <p>The response returns the following in JSON format:</p>\n         <ul>\n            <li>\n               <p>One or more <a href=\"https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html\">CaseDetails</a> data types.</p>\n            </li>\n            <li>\n               <p>One or more <code>nextToken</code> values, which specify where to paginate the\n                    returned records represented by the <code>CaseDetails</code> objects.</p>\n            </li>\n         </ul>\n         <p>Case data is available for 12 months after creation. If a case was created more than\n            12 months ago, a request might return an error.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "cases",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.support#DescribeCasesRequest": {
      "type": "structure",
      "members": {
        "caseIdList": {
          "target": "com.amazonaws.support#CaseIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of ID numbers of the support cases you want returned. The maximum number of\n            cases is 100.</p>"
          }
        },
        "displayId": {
          "target": "com.amazonaws.support#DisplayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID displayed for a case in the Amazon Web Services Support Center user interface.</p>"
          }
        },
        "afterTime": {
          "target": "com.amazonaws.support#AfterTime",
          "traits": {
            "smithy.api#documentation": "<p>The start date for a filtered date search on support case communications. Case\n            communications are available for 12 months after creation.</p>"
          }
        },
        "beforeTime": {
          "target": "com.amazonaws.support#BeforeTime",
          "traits": {
            "smithy.api#documentation": "<p>The end date for a filtered date search on support case communications. Case\n            communications are available for 12 months after creation.</p>"
          }
        },
        "includeResolvedCases": {
          "target": "com.amazonaws.support#IncludeResolvedCases",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether to include resolved support cases in the <code>DescribeCases</code>\n            response. By default, resolved cases aren't included.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.support#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A resumption point for pagination.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.support#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return before paginating.</p>"
          }
        },
        "language": {
          "target": "com.amazonaws.support#Language",
          "traits": {
            "smithy.api#documentation": "<p>The language in which Amazon Web Services Support handles the case. Amazon Web Services Support\ncurrently supports English (\"en\") and Japanese (\"ja\"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.</p>"
          }
        },
        "includeCommunications": {
          "target": "com.amazonaws.support#IncludeCommunications",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to include communications in the <code>DescribeCases</code>\n            response. By default, communications are included.</p>"
          }
        }
      }
    },
    "com.amazonaws.support#DescribeCasesResponse": {
      "type": "structure",
      "members": {
        "cases": {
          "target": "com.amazonaws.support#CaseList",
          "traits": {
            "smithy.api#documentation": "<p>The details for the cases that match the request.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.support#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A resumption point for pagination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of <a href=\"https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html\">CaseDetails</a>\n            objects and a <code>nextToken</code> that defines a point for pagination in the result\n            set.</p>"
      }
    },
    "com.amazonaws.support#DescribeCommunications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#DescribeCommunicationsRequest"
      },
      "output": {
        "target": "com.amazonaws.support#DescribeCommunicationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#CaseIdNotFound"
        },
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns communications and attachments for one or more support cases. Use the\n                <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You\n            can use the <code>caseId</code> parameter to restrict the results to a specific\n            case.</p>\n         <p>Case data is available for 12 months after creation. If a case was created more than\n            12 months ago, a request for data might cause an error.</p>\n         <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to\n            control the pagination of the results. Set <code>maxResults</code> to the number of\n            cases that you want to display on each page, and use <code>nextToken</code> to specify\n            the resumption of pagination.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "communications",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.support#DescribeCommunicationsRequest": {
      "type": "structure",
      "members": {
        "caseId": {
          "target": "com.amazonaws.support#CaseId",
          "traits": {
            "smithy.api#documentation": "<p>The support case ID requested or returned in the call. The case ID is an alphanumeric\n            string formatted as shown in this example:\n                case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "beforeTime": {
          "target": "com.amazonaws.support#BeforeTime",
          "traits": {
            "smithy.api#documentation": "<p>The end date for a filtered date search on support case communications. Case\n            communications are available for 12 months after creation.</p>"
          }
        },
        "afterTime": {
          "target": "com.amazonaws.support#AfterTime",
          "traits": {
            "smithy.api#documentation": "<p>The start date for a filtered date search on support case communications. Case\n            communications are available for 12 months after creation.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.support#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A resumption point for pagination.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.support#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return before paginating.</p>"
          }
        }
      }
    },
    "com.amazonaws.support#DescribeCommunicationsResponse": {
      "type": "structure",
      "members": {
        "communications": {
          "target": "com.amazonaws.support#CommunicationList",
          "traits": {
            "smithy.api#documentation": "<p>The communications for the case.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.support#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A resumption point for pagination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The communications returned by the <a>DescribeCommunications</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.support#DescribeServices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#DescribeServicesRequest"
      },
      "output": {
        "target": "com.amazonaws.support#DescribeServicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the current list of Amazon Web Services services and a list of service categories for each\n            service. You then use service names and categories in your <a>CreateCase</a>\n            requests. Each Amazon Web Services service has its own set of categories.</p>\n         <p>The service codes and category codes correspond to the values that appear in the\n                <b>Service</b> and <b>Category</b> lists on the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. The values in those fields\n            don't necessarily match the service codes and categories returned by the\n                <code>DescribeServices</code> operation. Always use the service codes and categories\n            that the <code>DescribeServices</code> operation returns, so that you have the most\n            recent set of service and category codes.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.support#DescribeServicesRequest": {
      "type": "structure",
      "members": {
        "serviceCodeList": {
          "target": "com.amazonaws.support#ServiceCodeList",
          "traits": {
            "smithy.api#documentation": "<p>A JSON-formatted list of service codes available for Amazon Web Services services.</p>"
          }
        },
        "language": {
          "target": "com.amazonaws.support#Language",
          "traits": {
            "smithy.api#documentation": "<p>The language in which Amazon Web Services Support handles the case. Amazon Web Services Support\ncurrently supports English (\"en\") and Japanese (\"ja\"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.</p>"
          }
        }
      }
    },
    "com.amazonaws.support#DescribeServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.amazonaws.support#ServiceList",
          "traits": {
            "smithy.api#documentation": "<p>A JSON-formatted list of Amazon Web Services services.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of Amazon Web Services services returned by the <a>DescribeServices</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.support#DescribeSeverityLevels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#DescribeSeverityLevelsRequest"
      },
      "output": {
        "target": "com.amazonaws.support#DescribeSeverityLevelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the list of severity levels that you can assign to a support case. The\n            severity level for a case is also a field in the <a>CaseDetails</a> data type\n            that you include for a <a>CreateCase</a> request.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.support#DescribeSeverityLevelsRequest": {
      "type": "structure",
      "members": {
        "language": {
          "target": "com.amazonaws.support#Language",
          "traits": {
            "smithy.api#documentation": "<p>The language in which Amazon Web Services Support handles the case. Amazon Web Services Support\ncurrently supports English (\"en\") and Japanese (\"ja\"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.</p>"
          }
        }
      }
    },
    "com.amazonaws.support#DescribeSeverityLevelsResponse": {
      "type": "structure",
      "members": {
        "severityLevels": {
          "target": "com.amazonaws.support#SeverityLevelsList",
          "traits": {
            "smithy.api#documentation": "<p>The available severity levels for the support case. Available severity levels are\n            defined by your service level agreement with Amazon Web Services.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of severity levels returned by the <a>DescribeSeverityLevels</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorCheckRefreshStatuses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckRefreshStatusesRequest"
      },
      "output": {
        "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckRefreshStatusesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the refresh status of the Trusted Advisor checks that have the specified check\n            IDs. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p>\n         <p>Some checks are refreshed automatically, and you can't return their refresh statuses\n            by using the <code>DescribeTrustedAdvisorCheckRefreshStatuses</code> operation. If you\n            call this operation for these checks, you might see an\n                <code>InvalidParameterValue</code> error.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>\n         <p>To call the Trusted Advisor operations in\nthe Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) \nendpoints don't support the Trusted Advisor operations. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\">About the Amazon Web Services Support\nAPI</a> in the <i>Amazon Web Services Support User Guide</i>.</p>"
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorCheckRefreshStatusesRequest": {
      "type": "structure",
      "members": {
        "checkIds": {
          "target": "com.amazonaws.support#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Trusted Advisor checks to get the status.</p>\n         <note>\n            <p>If you specify the check ID of a check that is automatically refreshed, you might\n                see an <code>InvalidParameterValue</code> error.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorCheckRefreshStatusesResponse": {
      "type": "structure",
      "members": {
        "statuses": {
          "target": "com.amazonaws.support#TrustedAdvisorCheckRefreshStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The refresh status of the specified Trusted Advisor checks.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> operation.</p>"
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorCheckResult": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckResultRequest"
      },
      "output": {
        "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckResultResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the results of the Trusted Advisor check that has the specified check ID. You\n            can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a>\n            operation.</p>\n         <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which\n            contains these three objects:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>TrustedAdvisorCategorySpecificSummary</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>TrustedAdvisorResourceDetail</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>TrustedAdvisorResourcesSummary</a>\n               </p>\n            </li>\n         </ul>\n         <p>In addition, the response contains these fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>status</b> - The alert status of the check\n                    can be <code>ok</code> (green), <code>warning</code> (yellow),\n                        <code>error</code> (red), or <code>not_available</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>timestamp</b> - The time of the last refresh\n                    of the check.</p>\n            </li>\n            <li>\n               <p>\n                  <b>checkId</b> - The unique identifier for the\n                    check.</p>\n            </li>\n         </ul>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>\n         <p>To call the Trusted Advisor operations in\nthe Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) \nendpoints don't support the Trusted Advisor operations. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\">About the Amazon Web Services Support\nAPI</a> in the <i>Amazon Web Services Support User Guide</i>.</p>"
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorCheckResultRequest": {
      "type": "structure",
      "members": {
        "checkId": {
          "target": "com.amazonaws.support#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the Trusted Advisor check.</p>",
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.amazonaws.support#String",
          "traits": {
            "smithy.api#documentation": "<p>The ISO 639-1 code for the language that you want your check results to appear\n            in.</p>\n         <p>The Amazon Web Services Support API currently supports the following languages for Trusted Advisor:</p>\n         <ul>\n            <li>\n               <p>Chinese, Simplified - <code>zh</code>\n               </p>\n            </li>\n            <li>\n               <p>Chinese, Traditional - <code>zh_TW</code>\n               </p>\n            </li>\n            <li>\n               <p>English - <code>en</code>\n               </p>\n            </li>\n            <li>\n               <p>French - <code>fr</code>\n               </p>\n            </li>\n            <li>\n               <p>German - <code>de</code>\n               </p>\n            </li>\n            <li>\n               <p>Indonesian - <code>id</code>\n               </p>\n            </li>\n            <li>\n               <p>Italian - <code>it</code>\n               </p>\n            </li>\n            <li>\n               <p>Japanese - <code>ja</code>\n               </p>\n            </li>\n            <li>\n               <p>Korean - <code>ko</code>\n               </p>\n            </li>\n            <li>\n               <p>Portuguese, Brazilian - <code>pt_BR</code>\n               </p>\n            </li>\n            <li>\n               <p>Spanish - <code>es</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorCheckResultResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.amazonaws.support#TrustedAdvisorCheckResult",
          "traits": {
            "smithy.api#documentation": "<p>The detailed results of the Trusted Advisor check.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation.</p>"
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorCheckSummaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckSummariesRequest"
      },
      "output": {
        "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckSummariesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the results for the Trusted Advisor check summaries for the check IDs that you\n            specified. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p>\n         <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a>\n            objects.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\n                        API. </p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have a\n                        Business, Enterprise On-Ramp, or Enterprise Support plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>\n         <p>To call the Trusted Advisor operations in\nthe Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) \nendpoints don't support the Trusted Advisor operations. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\">About the Amazon Web Services Support\nAPI</a> in the <i>Amazon Web Services Support User Guide</i>.</p>"
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorCheckSummariesRequest": {
      "type": "structure",
      "members": {
        "checkIds": {
          "target": "com.amazonaws.support#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Trusted Advisor checks.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorCheckSummariesResponse": {
      "type": "structure",
      "members": {
        "summaries": {
          "target": "com.amazonaws.support#TrustedAdvisorCheckSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The summary information for the requested Trusted Advisor checks.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a> operation.</p>"
      }
    },
    "com.amazonaws.support#DescribeTrustedAdvisorChecks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.support#DescribeTrustedAdvisorChecksRequest"
      },
      "output": {
        "target": "com.amazonaws.support#DescribeTrustedAdvisorChecksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.support#InternalServerError"
        }
      ],
      "traits": {
[...]
