{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.swf#ActivityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.swf#ActivityTask": {
      "type": "structure",
      "members": {
        "taskToken": {
          "target": "com.amazonaws.swf#TaskToken",
          "traits": {
            "smithy.api#documentation": "<p>The opaque string used as a handle on the task. This token is used by workers to communicate progress and response information back to the system about the task.</p>",
            "smithy.api#required": {}
          }
        },
        "activityId": {
          "target": "com.amazonaws.swf#ActivityId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the task.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskStarted</code> event recorded in the history.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowExecution": {
          "target": "com.amazonaws.swf#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "<p>The workflow execution that started this activity task.</p>",
            "smithy.api#required": {}
          }
        },
        "activityType": {
          "target": "com.amazonaws.swf#ActivityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this activity task.</p>",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>The inputs provided when the activity task was scheduled. The form of the input is user defined and should be meaningful to the activity implementation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unit of work sent to an activity worker.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTaskCancelRequestedEventAttributes": {
      "type": "structure",
      "members": {
        "decisionTaskCompletedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>DecisionTaskCompleted</code> event corresponding to the decision task that resulted in the\n      <code>RequestCancelActivityTask</code> decision for this cancellation request. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "activityId": {
          "target": "com.amazonaws.swf#ActivityId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the task.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ActivityTaskCancelRequested</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTaskCanceledEventAttributes": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>Details of the cancellation.</p>"
          }
        },
        "scheduledEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskScheduled</code> event that was recorded when this activity task was scheduled. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskStarted</code> event recorded when this activity task was started. This\n      information can be useful for diagnosing problems by tracing back the chain of events leading up to this\n      event.</p>",
            "smithy.api#required": {}
          }
        },
        "latestCancelRequestedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>If set, contains the ID of the last <code>ActivityTaskCancelRequested</code> event recorded for this activity task. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ActivityTaskCanceled</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTaskCompletedEventAttributes": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>The results of the activity task.</p>"
          }
        },
        "scheduledEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskScheduled</code> event that was recorded when this activity task was scheduled. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskStarted</code> event recorded when this activity task was started. This\n      information can be useful for diagnosing problems by tracing back the chain of events leading up to this\n      event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ActivityTaskCompleted</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTaskFailedEventAttributes": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.amazonaws.swf#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason provided for the failure.</p>"
          }
        },
        "details": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>The details of the failure.</p>"
          }
        },
        "scheduledEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskScheduled</code> event that was recorded when this activity task was scheduled. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskStarted</code> event recorded when this activity task was started. This\n      information can be useful for diagnosing problems by tracing back the chain of events leading up to this\n      event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ActivityTaskFailed</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTaskScheduledEventAttributes": {
      "type": "structure",
      "members": {
        "activityType": {
          "target": "com.amazonaws.swf#ActivityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the activity task.</p>",
            "smithy.api#required": {}
          }
        },
        "activityId": {
          "target": "com.amazonaws.swf#ActivityId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the activity task.</p>",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>The input provided to the activity task.</p>"
          }
        },
        "control": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>Data attached to the event that can be used by the decider in subsequent workflow tasks. This data isn't sent to the activity.</p>"
          }
        },
        "scheduleToStartTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time the activity task can wait to be assigned to a worker.</p>"
          }
        },
        "scheduleToCloseTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time for this activity task.</p>"
          }
        },
        "startToCloseTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time a worker may take to process the activity task.</p>"
          }
        },
        "taskList": {
          "target": "com.amazonaws.swf#TaskList",
          "traits": {
            "smithy.api#documentation": "<p>The task list in which the activity task has been scheduled.</p>",
            "smithy.api#required": {}
          }
        },
        "taskPriority": {
          "target": "com.amazonaws.swf#TaskPriority",
          "traits": {
            "smithy.api#documentation": "<p>\n         The priority to assign to the scheduled activity task. If set, this overrides any default\n      priority value that was assigned when the activity type was registered.</p>\n         <p>Valid values are integers that range from Java's <code>Integer.MIN_VALUE</code>\n  (-2147483648) to <code>Integer.MAX_VALUE</code> (2147483647). Higher numbers indicate higher priority.</p>\n         <p>For more information about setting task priority, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/programming-priority.html\">Setting Task Priority</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
          }
        },
        "decisionTaskCompletedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>DecisionTaskCompleted</code> event corresponding to the decision that resulted in the scheduling of this activity task. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "heartbeatTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time before which the worker processing this task must report progress by calling\n      <a>RecordActivityTaskHeartbeat</a>. If the timeout is exceeded, the activity task is automatically timed out. If\n      the worker subsequently attempts to record a heartbeat or return a result, it is ignored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ActivityTaskScheduled</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTaskStartedEventAttributes": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.amazonaws.swf#Identity",
          "traits": {
            "smithy.api#documentation": "<p>Identity of the worker that was assigned this task. This aids diagnostics when problems arise. The form of this identity is user defined.</p>"
          }
        },
        "scheduledEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskScheduled</code> event that was recorded when this activity task was scheduled. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ActivityTaskStarted</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTaskStatus": {
      "type": "structure",
      "members": {
        "cancelRequested": {
          "target": "com.amazonaws.swf#Canceled",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Set to <code>true</code> if cancellation of the task is requested.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Status information about an activity task.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTaskTimedOutEventAttributes": {
      "type": "structure",
      "members": {
        "timeoutType": {
          "target": "com.amazonaws.swf#ActivityTaskTimeoutType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the timeout that caused this event.</p>",
            "smithy.api#required": {}
          }
        },
        "scheduledEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskScheduled</code> event that was recorded when this activity task was scheduled. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ActivityTaskStarted</code> event recorded when this activity task was started. This\n      information can be useful for diagnosing problems by tracing back the chain of events leading up to this\n      event.</p>",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.amazonaws.swf#LimitedData",
          "traits": {
            "smithy.api#documentation": "<p>Contains the content of the <code>details</code> parameter for the last call made by the activity to\n      <code>RecordActivityTaskHeartbeat</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ActivityTaskTimedOut</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTaskTimeoutType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "START_TO_CLOSE",
            "name": "START_TO_CLOSE"
          },
          {
            "value": "SCHEDULE_TO_START",
            "name": "SCHEDULE_TO_START"
          },
          {
            "value": "SCHEDULE_TO_CLOSE",
            "name": "SCHEDULE_TO_CLOSE"
          },
          {
            "value": "HEARTBEAT",
            "name": "HEARTBEAT"
          }
        ]
      }
    },
    "com.amazonaws.swf#ActivityType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.swf#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of this activity.</p>\n         <note>\n            <p>The combination of activity type name and version must be unique within a domain.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.swf#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of this activity.</p>\n         <note>\n            <p>The combination of activity type name and version must be unique with in a domain.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an activity type.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTypeConfiguration": {
      "type": "structure",
      "members": {
        "defaultTaskStartToCloseTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n         The default maximum duration for tasks of an activity type specified when registering the activity\n      type. You can override this default when scheduling a task through the <code>ScheduleActivityTask</code>\n            <a>Decision</a>.</p>\n         <p>The duration is specified in seconds, an integer greater than or equal to <code>0</code>. You can use <code>NONE</code> to specify unlimited duration.</p>"
          }
        },
        "defaultTaskHeartbeatTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n         The default maximum time, in seconds, before which a worker processing a task must report\n      progress by calling <a>RecordActivityTaskHeartbeat</a>.</p>\n         <p>You can specify this value only when <i>registering</i> an activity type. The registered default value can be\n      overridden when you schedule a task through the <code>ScheduleActivityTask</code> \n            <a>Decision</a>. If the activity\n      worker subsequently attempts to record a heartbeat or returns a result, the activity worker receives an\n      <code>UnknownResource</code> fault. In this case, Amazon SWF no longer considers the activity task to be valid;\n      the activity worker should clean up the activity task.</p>\n         <p>The duration is specified in seconds, an integer greater than or equal to <code>0</code>. You can use <code>NONE</code> to specify unlimited duration.</p>"
          }
        },
        "defaultTaskList": {
          "target": "com.amazonaws.swf#TaskList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The default task list specified for this activity type at registration. This default is used if\n      a task list isn't provided when a task is scheduled through the <code>ScheduleActivityTask</code>\n            <a>Decision</a>. You can override the default registered task list when scheduling a task through the\n      <code>ScheduleActivityTask</code> \n            <a>Decision</a>.</p>"
          }
        },
        "defaultTaskPriority": {
          "target": "com.amazonaws.swf#TaskPriority",
          "traits": {
            "smithy.api#documentation": "<p>\n         The default task priority for tasks of this activity type, specified at registration. If not\n      set, then <code>0</code> is used as the default priority. This default can be overridden when scheduling an activity\n      task.</p>\n         <p>Valid values are integers that range from Java's <code>Integer.MIN_VALUE</code>\n  (-2147483648) to <code>Integer.MAX_VALUE</code> (2147483647). Higher numbers indicate higher priority.</p>\n         <p>For more information about setting task priority, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/programming-priority.html\">Setting Task Priority</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
          }
        },
        "defaultTaskScheduleToStartTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n         The default maximum duration, specified when registering the activity type, that a task of an\n      activity type can wait before being assigned to a worker. You can override this default when scheduling a task\n      through the <code>ScheduleActivityTask</code> \n            <a>Decision</a>.</p>\n         <p>The duration is specified in seconds, an integer greater than or equal to <code>0</code>. You can use <code>NONE</code> to specify unlimited duration.</p>"
          }
        },
        "defaultTaskScheduleToCloseTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n         The default maximum duration, specified when registering the activity type, for tasks of this activity\n      type. You can override this default when scheduling a task through the <code>ScheduleActivityTask</code>\n            <a>Decision</a>.</p>\n         <p>The duration is specified in seconds, an integer greater than or equal to <code>0</code>. You can use <code>NONE</code> to specify unlimited duration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration settings registered with the activity type.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTypeDetail": {
      "type": "structure",
      "members": {
        "typeInfo": {
          "target": "com.amazonaws.swf#ActivityTypeInfo",
          "traits": {
            "smithy.api#documentation": "<p>General information about the activity type.</p>\n         <p>The status of activity type (returned in the ActivityTypeInfo structure) can be one of the following.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>REGISTERED</code> – The type is registered and available. Workers supporting this\n        type should be running.\n      </p>\n            </li>\n            <li>\n               <p>\n                  <code>DEPRECATED</code> – The type was deprecated using <a>DeprecateActivityType</a>, but is\n        still in use. You should keep workers supporting this type running.\n        You cannot create new tasks of this type.\n      </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.swf#ActivityTypeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings registered with the activity type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about an activity type.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTypeInfo": {
      "type": "structure",
      "members": {
        "activityType": {
          "target": "com.amazonaws.swf#ActivityType",
          "traits": {
            "smithy.api#documentation": "<p>The <a>ActivityType</a> type structure representing the activity type.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.swf#RegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the activity type.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.swf#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the activity type provided in <a>RegisterActivityType</a>.</p>"
          }
        },
        "creationDate": {
          "target": "com.amazonaws.swf#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time this activity type was created through <a>RegisterActivityType</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "deprecationDate": {
          "target": "com.amazonaws.swf#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>If DEPRECATED, the date and time <a>DeprecateActivityType</a> was called.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about an activity type.</p>"
      }
    },
    "com.amazonaws.swf#ActivityTypeInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.swf#ActivityTypeInfo"
      }
    },
    "com.amazonaws.swf#ActivityTypeInfos": {
      "type": "structure",
      "members": {
        "typeInfos": {
          "target": "com.amazonaws.swf#ActivityTypeInfoList",
          "traits": {
            "smithy.api#documentation": "<p>List of activity type information.</p>",
            "smithy.api#required": {}
          }
        },
        "nextPageToken": {
          "target": "com.amazonaws.swf#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>If a <code>NextPageToken</code> was returned by a previous call, there are more\n  results available. To retrieve the next page of results, make the call again using the returned token in\n  <code>nextPageToken</code>. Keep all other arguments unchanged.</p>\n         <p>The configured <code>maximumPageSize</code> determines how many results can be returned in a single call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a paginated list of activity type information structures.</p>"
      }
    },
    "com.amazonaws.swf#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazonaws.swf#CancelTimerDecisionAttributes": {
      "type": "structure",
      "members": {
        "timerId": {
          "target": "com.amazonaws.swf#TimerId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique ID of the timer to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>CancelTimer</code> decision.</p>\n         <p>\n            <b>Access Control</b>\n         </p>\n         <p>You can use IAM policies to control this decision's access to Amazon SWF resources as follows:</p>\n         <ul>\n            <li>\n               <p>Use a <code>Resource</code> element with the domain name to limit the action to only\n  specified domains.</p>\n            </li>\n            <li>\n               <p>Use an <code>Action</code> element to allow or deny permission to call this action.</p>\n            </li>\n            <li>\n               <p>You cannot use an IAM policy to constrain this action's parameters.</p>\n            </li>\n         </ul>\n         <p>If the caller doesn't have sufficient permissions to invoke the action, or the\n  parameter values fall outside the specified constraints, the action fails. The associated event attribute's\n          <code>cause</code> parameter is set to <code>OPERATION_NOT_PERMITTED</code>. For details and example IAM policies, see\n          <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF Workflows</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.swf#CancelTimerFailedCause": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TIMER_ID_UNKNOWN",
            "name": "TIMER_ID_UNKNOWN"
          },
          {
            "value": "OPERATION_NOT_PERMITTED",
            "name": "OPERATION_NOT_PERMITTED"
          }
        ]
      }
    },
    "com.amazonaws.swf#CancelTimerFailedEventAttributes": {
      "type": "structure",
      "members": {
        "timerId": {
          "target": "com.amazonaws.swf#TimerId",
          "traits": {
            "smithy.api#documentation": "<p>The timerId provided in the <code>CancelTimer</code> decision that failed.</p>",
            "smithy.api#required": {}
          }
        },
        "cause": {
          "target": "com.amazonaws.swf#CancelTimerFailedCause",
          "traits": {
            "smithy.api#documentation": "<p>The cause of the failure. This information is generated by the system and can be useful for diagnostic purposes.</p>\n         <note>\n            <p>If <code>cause</code> is set to <code>OPERATION_NOT_PERMITTED</code>, the decision failed\n        because it lacked sufficient permissions. For details and example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF Workflows</a>\n          in the <i>Amazon SWF Developer Guide</i>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "decisionTaskCompletedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>DecisionTaskCompleted</code> event corresponding to the decision task that resulted in the <code>CancelTimer</code> decision to cancel this timer. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>CancelTimerFailed</code> event.</p>"
      }
    },
    "com.amazonaws.swf#CancelWorkflowExecutionDecisionAttributes": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>\n         Details of the cancellation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>CancelWorkflowExecution</code> decision.</p>\n         <p>\n            <b>Access Control</b>\n         </p>\n         <p>You can use IAM policies to control this decision's access to Amazon SWF resources as follows:</p>\n         <ul>\n            <li>\n               <p>Use a <code>Resource</code> element with the domain name to limit the action to only\n  specified domains.</p>\n            </li>\n            <li>\n               <p>Use an <code>Action</code> element to allow or deny permission to call this action.</p>\n            </li>\n            <li>\n               <p>You cannot use an IAM policy to constrain this action's parameters.</p>\n            </li>\n         </ul>\n         <p>If the caller doesn't have sufficient permissions to invoke the action, or the\n  parameter values fall outside the specified constraints, the action fails. The associated event attribute's\n          <code>cause</code> parameter is set to <code>OPERATION_NOT_PERMITTED</code>. For details and example IAM policies, see\n          <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF Workflows</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.swf#CancelWorkflowExecutionFailedCause": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UNHANDLED_DECISION",
            "name": "UNHANDLED_DECISION"
          },
          {
            "value": "OPERATION_NOT_PERMITTED",
            "name": "OPERATION_NOT_PERMITTED"
          }
        ]
      }
    },
    "com.amazonaws.swf#CancelWorkflowExecutionFailedEventAttributes": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "com.amazonaws.swf#CancelWorkflowExecutionFailedCause",
          "traits": {
            "smithy.api#documentation": "<p>The cause of the failure. This information is generated by the system and can be useful for diagnostic purposes.</p>\n         <note>\n            <p>If <code>cause</code> is set to <code>OPERATION_NOT_PERMITTED</code>, the decision failed\n        because it lacked sufficient permissions. For details and example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF Workflows</a>\n          in the <i>Amazon SWF Developer Guide</i>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "decisionTaskCompletedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>DecisionTaskCompleted</code> event corresponding to the decision task that resulted in the <code>CancelWorkflowExecution</code> decision for this cancellation request. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>CancelWorkflowExecutionFailed</code> event.</p>"
      }
    },
    "com.amazonaws.swf#Canceled": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.swf#CauseMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1728
        }
      }
    },
    "com.amazonaws.swf#ChildPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TERMINATE",
            "name": "TERMINATE"
          },
          {
            "value": "REQUEST_CANCEL",
            "name": "REQUEST_CANCEL"
          },
          {
            "value": "ABANDON",
            "name": "ABANDON"
          }
        ]
      }
    },
    "com.amazonaws.swf#ChildWorkflowExecutionCanceledEventAttributes": {
      "type": "structure",
      "members": {
        "workflowExecution": {
          "target": "com.amazonaws.swf#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "<p>The child workflow execution that was canceled.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowType": {
          "target": "com.amazonaws.swf#WorkflowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the child workflow execution.</p>",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>Details of the cancellation (if provided).</p>"
          }
        },
        "initiatedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>StartChildWorkflowExecutionInitiated</code> event corresponding to the\n      <code>StartChildWorkflowExecution</code> \n            <a>Decision</a> to start this child workflow execution.\n      This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ChildWorkflowExecutionStarted</code> event recorded when this child workflow execution was\n      started. This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provide details of the <code>ChildWorkflowExecutionCanceled</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ChildWorkflowExecutionCompletedEventAttributes": {
      "type": "structure",
      "members": {
        "workflowExecution": {
          "target": "com.amazonaws.swf#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "<p>The child workflow execution that was completed.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowType": {
          "target": "com.amazonaws.swf#WorkflowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the child workflow execution.</p>",
            "smithy.api#required": {}
          }
        },
        "result": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>The result of the child workflow execution.</p>"
          }
        },
        "initiatedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>StartChildWorkflowExecutionInitiated</code> event corresponding to the <code>StartChildWorkflowExecution</code> \n            <a>Decision</a> to start this child workflow execution. This information can be useful for diagnosing problems by tracing back the chain of events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ChildWorkflowExecutionStarted</code> event recorded when this child workflow execution was\n      started. This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ChildWorkflowExecutionCompleted</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ChildWorkflowExecutionFailedEventAttributes": {
      "type": "structure",
      "members": {
        "workflowExecution": {
          "target": "com.amazonaws.swf#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "<p>The child workflow execution that failed.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowType": {
          "target": "com.amazonaws.swf#WorkflowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the child workflow execution.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.swf#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the failure (if provided).</p>"
          }
        },
        "details": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>The details of the failure (if provided).</p>"
          }
        },
        "initiatedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>StartChildWorkflowExecutionInitiated</code> event corresponding to the\n      <code>StartChildWorkflowExecution</code> \n            <a>Decision</a> to start this child workflow execution.\n      This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ChildWorkflowExecutionStarted</code> event recorded when this child workflow execution was\n      started. This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ChildWorkflowExecutionFailed</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ChildWorkflowExecutionStartedEventAttributes": {
      "type": "structure",
      "members": {
        "workflowExecution": {
          "target": "com.amazonaws.swf#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "<p>The child workflow execution that was started.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowType": {
          "target": "com.amazonaws.swf#WorkflowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the child workflow execution.</p>",
            "smithy.api#required": {}
          }
        },
        "initiatedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>StartChildWorkflowExecutionInitiated</code> event corresponding to the\n      <code>StartChildWorkflowExecution</code> \n            <a>Decision</a> to start this child workflow execution.\n      This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ChildWorkflowExecutionStarted</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ChildWorkflowExecutionTerminatedEventAttributes": {
      "type": "structure",
      "members": {
        "workflowExecution": {
          "target": "com.amazonaws.swf#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "<p>The child workflow execution that was terminated.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowType": {
          "target": "com.amazonaws.swf#WorkflowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the child workflow execution.</p>",
            "smithy.api#required": {}
          }
        },
        "initiatedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>StartChildWorkflowExecutionInitiated</code> event corresponding to the\n      <code>StartChildWorkflowExecution</code> \n            <a>Decision</a> to start this child workflow execution.\n      This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ChildWorkflowExecutionStarted</code> event recorded when this child workflow execution was\n      started. This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ChildWorkflowExecutionTerminated</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ChildWorkflowExecutionTimedOutEventAttributes": {
      "type": "structure",
      "members": {
        "workflowExecution": {
          "target": "com.amazonaws.swf#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "<p>The child workflow execution that timed out.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowType": {
          "target": "com.amazonaws.swf#WorkflowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the child workflow execution.</p>",
            "smithy.api#required": {}
          }
        },
        "timeoutType": {
          "target": "com.amazonaws.swf#WorkflowExecutionTimeoutType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the timeout that caused the child workflow execution to time out.</p>",
            "smithy.api#required": {}
          }
        },
        "initiatedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>StartChildWorkflowExecutionInitiated</code> event corresponding to the\n      <code>StartChildWorkflowExecution</code> \n            <a>Decision</a> to start this child workflow execution. This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>ChildWorkflowExecutionStarted</code> event recorded when this child workflow execution was\n      started. This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ChildWorkflowExecutionTimedOut</code> event.</p>"
      }
    },
    "com.amazonaws.swf#CloseStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "CANCELED",
            "name": "CANCELED"
          },
          {
            "value": "TERMINATED",
            "name": "TERMINATED"
          },
          {
            "value": "CONTINUED_AS_NEW",
            "name": "CONTINUED_AS_NEW"
          },
          {
            "value": "TIMED_OUT",
            "name": "TIMED_OUT"
          }
        ]
      }
    },
    "com.amazonaws.swf#CloseStatusFilter": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.swf#CloseStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n         The close status that must match the close status of an execution for it to meet the criteria of\n      this filter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to filter the closed workflow executions in visibility APIs by their close status.</p>"
      }
    },
    "com.amazonaws.swf#CompleteWorkflowExecutionDecisionAttributes": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>The result of the workflow execution. The form of the result is implementation defined.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>CompleteWorkflowExecution</code> decision.</p>\n         <p>\n            <b>Access Control</b>\n         </p>\n         <p>You can use IAM policies to control this decision's access to Amazon SWF resources as follows:</p>\n         <ul>\n            <li>\n               <p>Use a <code>Resource</code> element with the domain name to limit the action to only\n  specified domains.</p>\n            </li>\n            <li>\n               <p>Use an <code>Action</code> element to allow or deny permission to call this action.</p>\n            </li>\n            <li>\n               <p>You cannot use an IAM policy to constrain this action's parameters.</p>\n            </li>\n         </ul>\n         <p>If the caller doesn't have sufficient permissions to invoke the action, or the\n  parameter values fall outside the specified constraints, the action fails. The associated event attribute's\n          <code>cause</code> parameter is set to <code>OPERATION_NOT_PERMITTED</code>. For details and example IAM policies, see\n          <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF Workflows</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.swf#CompleteWorkflowExecutionFailedCause": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UNHANDLED_DECISION",
            "name": "UNHANDLED_DECISION"
          },
          {
            "value": "OPERATION_NOT_PERMITTED",
            "name": "OPERATION_NOT_PERMITTED"
          }
        ]
      }
    },
    "com.amazonaws.swf#CompleteWorkflowExecutionFailedEventAttributes": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "com.amazonaws.swf#CompleteWorkflowExecutionFailedCause",
          "traits": {
            "smithy.api#documentation": "<p>The cause of the failure. This information is generated by the system and can be useful for diagnostic purposes.</p>\n         <note>\n            <p>If <code>cause</code> is set to <code>OPERATION_NOT_PERMITTED</code>, the decision failed\n        because it lacked sufficient permissions. For details and example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF Workflows</a>\n          in the <i>Amazon SWF Developer Guide</i>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "decisionTaskCompletedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>DecisionTaskCompleted</code> event corresponding to the decision task that resulted in the\n      <code>CompleteWorkflowExecution</code> decision to complete this execution. This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>CompleteWorkflowExecutionFailed</code> event.</p>"
      }
    },
    "com.amazonaws.swf#ContinueAsNewWorkflowExecutionDecisionAttributes": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.amazonaws.swf#Data",
          "traits": {
            "smithy.api#documentation": "<p>The input provided to the new workflow execution.</p>"
          }
        },
        "executionStartToCloseTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>If set, specifies the total duration for this workflow execution. This overrides the\n      <code>defaultExecutionStartToCloseTimeout</code> specified when registering the workflow type.</p>\n         <p>The duration is specified in seconds, an integer greater than or equal to <code>0</code>. You can use <code>NONE</code> to specify unlimited duration.</p>\n         <note>\n            <p>An execution start-to-close timeout for this workflow execution must be specified either as a default for the workflow type or through this field. If neither this field is set nor a default execution start-to-close timeout was specified at registration time then a fault is returned.</p>\n         </note>"
          }
        },
        "taskList": {
          "target": "com.amazonaws.swf#TaskList",
          "traits": {
            "smithy.api#documentation": "<p>The task list to use for the decisions of the new (continued) workflow\n      execution.</p>"
          }
        },
        "taskPriority": {
          "target": "com.amazonaws.swf#TaskPriority",
          "traits": {
            "smithy.api#documentation": "<p>\n         The task priority that, if set, specifies the priority for the decision tasks for this workflow\n      execution. This overrides the defaultTaskPriority specified when registering the workflow type.\n      Valid values are integers that range from Java's <code>Integer.MIN_VALUE</code>\n  (-2147483648) to <code>Integer.MAX_VALUE</code> (2147483647). Higher numbers indicate higher priority.</p>\n         <p>For more information about setting task priority, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/programming-priority.html\">Setting Task Priority</a>  in the <i>Amazon SWF Developer Guide</i>.</p>"
          }
        },
        "taskStartToCloseTimeout": {
          "target": "com.amazonaws.swf#DurationInSecondsOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum duration of decision tasks for the new workflow execution. This parameter overrides the\n      <code>defaultTaskStartToCloseTimout</code> specified when registering the workflow type using\n      <a>RegisterWorkflowType</a>.</p>\n         <p>The duration is specified in seconds, an integer greater than or equal to <code>0</code>. You can use <code>NONE</code> to specify unlimited duration.</p>\n         <note>\n            <p>A task start-to-close timeout for the new workflow execution must be specified either as a default for the workflow type or through this parameter. If neither this parameter is set nor a default task start-to-close timeout was specified at registration time then a fault is returned.</p>\n         </note>"
          }
        },
        "childPolicy": {
          "target": "com.amazonaws.swf#ChildPolicy",
          "traits": {
            "smithy.api#documentation": "<p>If set, specifies the policy to use for the child workflow executions of the new execution if it is terminated\n      by calling the <a>TerminateWorkflowExecution</a> action explicitly or due to an expired timeout. This policy\n      overrides the default child policy specified when registering the workflow type using\n      <a>RegisterWorkflowType</a>.</p>\n         <p>The supported child policies are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>TERMINATE</code> – The child executions are terminated.</p>\n            </li>\n            <li>\n               <p>\n                  <code>REQUEST_CANCEL</code> – A request to cancel is attempted for each child\n  execution by recording a <code>WorkflowExecutionCancelRequested</code> event in its history. It is up to the decider\n  to take appropriate actions when it receives an execution history with this event.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ABANDON</code> – No action is taken. The child executions continue to run.</p>\n            </li>\n         </ul>\n         <note>\n            <p>A child policy for this workflow execution must be specified either as a default for the workflow type or through this parameter. If neither this parameter is set nor a default child policy was specified at registration time then a fault is returned.</p>\n         </note>"
          }
        },
        "tagList": {
          "target": "com.amazonaws.swf#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags to associate with the new workflow execution. A maximum of 5 tags can be specified. You can\n      list workflow executions with a specific tag by calling <a>ListOpenWorkflowExecutions</a> or\n      <a>ListClosedWorkflowExecutions</a> and specifying a <a>TagFilter</a>.</p>"
          }
        },
        "workflowTypeVersion": {
          "target": "com.amazonaws.swf#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the workflow to start.</p>"
          }
        },
        "lambdaRole": {
          "target": "com.amazonaws.swf#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role to attach to the new (continued) execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ContinueAsNewWorkflowExecution</code> decision.</p>\n         <p>\n            <b>Access Control</b>\n         </p>\n         <p>You can use IAM policies to control this decision's access to Amazon SWF resources as follows:</p>\n         <ul>\n            <li>\n               <p>Use a <code>Resource</code> element with the domain name to limit the action to only\n  specified domains.</p>\n            </li>\n            <li>\n               <p>Use an <code>Action</code> element to allow or deny permission to call this action.</p>\n            </li>\n            <li>\n               <p>Constrain the following parameters by using a <code>Condition</code> element with the\n              appropriate keys.</p>\n              <ul>\n                  <li>\n                      <p>\n                        <code>tag</code> – A tag used to identify the workflow execution</p>\n                  </li>\n                  <li>\n                      <p>\n                        <code>taskList</code> – String constraint. The key is <code>swf:taskList.name</code>.</p>\n                  </li>\n                  <li>\n                      <p>\n                        <code>workflowType.version</code> – String constraint. The key is <code>swf:workflowType.version</code>.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>If the caller doesn't have sufficient permissions to invoke the action, or the\n  parameter values fall outside the specified constraints, the action fails. The associated event attribute's\n          <code>cause</code> parameter is set to <code>OPERATION_NOT_PERMITTED</code>. For details and example IAM policies, see\n          <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF Workflows</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.swf#ContinueAsNewWorkflowExecutionFailedCause": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UNHANDLED_DECISION",
            "name": "UNHANDLED_DECISION"
          },
          {
            "value": "WORKFLOW_TYPE_DEPRECATED",
            "name": "WORKFLOW_TYPE_DEPRECATED"
          },
          {
            "value": "WORKFLOW_TYPE_DOES_NOT_EXIST",
            "name": "WORKFLOW_TYPE_DOES_NOT_EXIST"
          },
          {
            "value": "DEFAULT_EXECUTION_START_TO_CLOSE_TIMEOUT_UNDEFINED",
            "name": "DEFAULT_EXECUTION_START_TO_CLOSE_TIMEOUT_UNDEFINED"
          },
          {
            "value": "DEFAULT_TASK_START_TO_CLOSE_TIMEOUT_UNDEFINED",
            "name": "DEFAULT_TASK_START_TO_CLOSE_TIMEOUT_UNDEFINED"
          },
          {
            "value": "DEFAULT_TASK_LIST_UNDEFINED",
            "name": "DEFAULT_TASK_LIST_UNDEFINED"
          },
          {
            "value": "DEFAULT_CHILD_POLICY_UNDEFINED",
            "name": "DEFAULT_CHILD_POLICY_UNDEFINED"
          },
          {
            "value": "CONTINUE_AS_NEW_WORKFLOW_EXECUTION_RATE_EXCEEDED",
            "name": "CONTINUE_AS_NEW_WORKFLOW_EXECUTION_RATE_EXCEEDED"
          },
          {
            "value": "OPERATION_NOT_PERMITTED",
            "name": "OPERATION_NOT_PERMITTED"
          }
        ]
      }
    },
    "com.amazonaws.swf#ContinueAsNewWorkflowExecutionFailedEventAttributes": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "com.amazonaws.swf#ContinueAsNewWorkflowExecutionFailedCause",
          "traits": {
            "smithy.api#documentation": "<p>The cause of the failure. This information is generated by the system and can be useful for diagnostic purposes.</p>\n         <note>\n            <p>If <code>cause</code> is set to <code>OPERATION_NOT_PERMITTED</code>, the decision failed\n        because it lacked sufficient permissions. For details and example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF Workflows</a>\n          in the <i>Amazon SWF Developer Guide</i>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "decisionTaskCompletedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>DecisionTaskCompleted</code> event corresponding to the decision task that resulted in the\n      <code>ContinueAsNewWorkflowExecution</code> decision that started this execution. This information can be useful for diagnosing problems by tracing back the chain of\n  events leading up to this event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of the <code>ContinueAsNewWorkflowExecutionFailed</code> event.</p>"
      }
    },
    "com.amazonaws.swf#Count": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.swf#CountClosedWorkflowExecutions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.swf#CountClosedWorkflowExecutionsInput"
      },
      "output": {
        "target": "com.amazonaws.swf#WorkflowExecutionCount"
      },
      "errors": [
        {
          "target": "com.amazonaws.swf#OperationNotPermittedFault"
        },
        {
          "target": "com.amazonaws.swf#UnknownResourceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the number of closed workflow executions within the given domain that meet the\n      specified filtering criteria.</p>\n         <note>\n            <p>This operation is eventually consistent. The results are best effort and may not\n        exactly reflect recent updates and changes.</p>\n         </note>\n         <p>\n            <b>Access Control</b>\n         </p>\n         <p>You can use IAM policies to control this action's access to Amazon SWF resources as\n      follows:</p>\n         <ul>\n            <li>\n               <p>Use a <code>Resource</code> element with the domain name to limit the action to\n          only specified domains.</p>\n            </li>\n            <li>\n               <p>Use an <code>Action</code> element to allow or deny permission to call this\n          action.</p>\n            </li>\n            <li>\n               <p>Constrain the following parameters by using a <code>Condition</code> element with\n          the appropriate keys.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>tagFilter.tag</code>: String constraint. The key is\n                <code>swf:tagFilter.tag</code>.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>typeFilter.name</code>: String constraint. The key is\n                <code>swf:typeFilter.name</code>.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>typeFilter.version</code>: String constraint. The key is\n                <code>swf:typeFilter.version</code>.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>If the caller doesn't have sufficient permissions to invoke the action, or the\n      parameter values fall outside the specified constraints, the action fails. The associated\n      event attribute's <code>cause</code> parameter is set to <code>OPERATION_NOT_PERMITTED</code>.\n      For details and example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF\n        Workflows</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.swf#CountClosedWorkflowExecutionsInput": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.swf#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain containing the workflow executions to count.</p>",
            "smithy.api#required": {}
          }
        },
        "startTimeFilter": {
          "target": "com.amazonaws.swf#ExecutionTimeFilter",
          "traits": {
            "smithy.api#documentation": "<p>If specified, only workflow executions that meet the start time criteria of the filter\n      are counted.</p>\n         <note>\n            <p>\n               <code>startTimeFilter</code> and <code>closeTimeFilter</code> are mutually exclusive. You\n        must specify one of these in a request but not both.</p>\n         </note>"
          }
        },
        "closeTimeFilter": {
          "target": "com.amazonaws.swf#ExecutionTimeFilter",
          "traits": {
            "smithy.api#documentation": "<p>If specified, only workflow executions that meet the close time criteria of the filter\n      are counted.</p>\n         <note>\n            <p>\n               <code>startTimeFilter</code> and <code>closeTimeFilter</code> are mutually exclusive. You\n        must specify one of these in a request but not both.</p>\n         </note>"
          }
        },
        "executionFilter": {
          "target": "com.amazonaws.swf#WorkflowExecutionFilter",
          "traits": {
            "smithy.api#documentation": "<p>If specified, only workflow executions matching the <code>WorkflowId</code> in the\n      filter are counted.</p>\n         <note>\n            <p>\n               <code>closeStatusFilter</code>, <code>executionFilter</code>, <code>typeFilter</code> and\n          <code>tagFilter</code> are mutually exclusive. You can specify at most one of these in a\n        request.</p>\n         </note>"
          }
        },
        "typeFilter": {
          "target": "com.amazonaws.swf#WorkflowTypeFilter",
          "traits": {
            "smithy.api#documentation": "<p>If specified, indicates the type of the workflow executions to be counted.</p>\n         <note>\n            <p>\n               <code>closeStatusFilter</code>, <code>executionFilter</code>, <code>typeFilter</code> and\n          <code>tagFilter</code> are mutually exclusive. You can specify at most one of these in a\n        request.</p>\n         </note>"
          }
        },
        "tagFilter": {
          "target": "com.amazonaws.swf#TagFilter",
          "traits": {
            "smithy.api#documentation": "<p>If specified, only executions that have a tag that matches the filter are\n      counted.</p>\n         <note>\n            <p>\n               <code>closeStatusFilter</code>, <code>executionFilter</code>, <code>typeFilter</code> and\n          <code>tagFilter</code> are mutually exclusive. You can specify at most one of these in a\n        request.</p>\n         </note>"
          }
        },
        "closeStatusFilter": {
          "target": "com.amazonaws.swf#CloseStatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>If specified, only workflow executions that match this close status are counted. This\n      filter has an affect only if <code>executionStatus</code> is specified as\n      <code>CLOSED</code>.</p>\n         <note>\n            <p>\n               <code>closeStatusFilter</code>, <code>executionFilter</code>, <code>typeFilter</code> and\n          <code>tagFilter</code> are mutually exclusive. You can specify at most one of these in a\n        request.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.swf#CountOpenWorkflowExecutions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.swf#CountOpenWorkflowExecutionsInput"
      },
      "output": {
        "target": "com.amazonaws.swf#WorkflowExecutionCount"
      },
      "errors": [
        {
          "target": "com.amazonaws.swf#OperationNotPermittedFault"
        },
        {
          "target": "com.amazonaws.swf#UnknownResourceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the number of open workflow executions within the given domain that meet the\n      specified filtering criteria.</p>\n         <note>\n            <p>This operation is eventually consistent. The results are best effort and may not\n        exactly reflect recent updates and changes.</p>\n         </note>\n         <p>\n            <b>Access Control</b>\n         </p>\n         <p>You can use IAM policies to control this action's access to Amazon SWF resources as\n      follows:</p>\n         <ul>\n            <li>\n               <p>Use a <code>Resource</code> element with the domain name to limit the action to\n          only specified domains.</p>\n            </li>\n            <li>\n               <p>Use an <code>Action</code> element to allow or deny permission to call this\n          action.</p>\n            </li>\n            <li>\n               <p>Constrain the following parameters by using a <code>Condition</code> element with\n          the appropriate keys.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>tagFilter.tag</code>: String constraint. The key is\n                <code>swf:tagFilter.tag</code>.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>typeFilter.name</code>: String constraint. The key is\n                <code>swf:typeFilter.name</code>.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>typeFilter.version</code>: String constraint. The key is\n                <code>swf:typeFilter.version</code>.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>If the caller doesn't have sufficient permissions to invoke the action, or the\n      parameter values fall outside the specified constraints, the action fails. The associated\n      event attribute's <code>cause</code> parameter is set to <code>OPERATION_NOT_PERMITTED</code>.\n      For details and example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF\n        Workflows</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.swf#CountOpenWorkflowExecutionsInput": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.swf#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain containing the workflow executions to count.</p>",
            "smithy.api#required": {}
          }
        },
        "startTimeFilter": {
          "target": "com.amazonaws.swf#ExecutionTimeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the start time criteria that workflow executions must meet in order to be\n      counted.</p>",
            "smithy.api#required": {}
          }
        },
        "typeFilter": {
          "target": "com.amazonaws.swf#WorkflowTypeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of the workflow executions to be counted.</p>\n         <note>\n            <p>\n               <code>executionFilter</code>, <code>typeFilter</code> and <code>tagFilter</code> are\n        mutually exclusive. You can specify at most one of these in a request.</p>\n         </note>"
          }
        },
        "tagFilter": {
          "target": "com.amazonaws.swf#TagFilter",
          "traits": {
            "smithy.api#documentation": "<p>If specified, only executions that have a tag that matches the filter are\n      counted.</p>\n         <note>\n            <p>\n               <code>executionFilter</code>, <code>typeFilter</code> and <code>tagFilter</code> are\n        mutually exclusive. You can specify at most one of these in a request.</p>\n         </note>"
          }
        },
        "executionFilter": {
          "target": "com.amazonaws.swf#WorkflowExecutionFilter",
          "traits": {
            "smithy.api#documentation": "<p>If specified, only workflow executions matching the <code>WorkflowId</code> in the\n      filter are counted.</p>\n         <note>\n            <p>\n               <code>executionFilter</code>, <code>typeFilter</code> and <code>tagFilter</code> are\n        mutually exclusive. You can specify at most one of these in a request.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.swf#CountPendingActivityTasks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.swf#CountPendingActivityTasksInput"
      },
      "output": {
        "target": "com.amazonaws.swf#PendingTaskCount"
      },
      "errors": [
        {
          "target": "com.amazonaws.swf#OperationNotPermittedFault"
        },
        {
          "target": "com.amazonaws.swf#UnknownResourceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the estimated number of activity tasks in the specified task list. The count\n      returned is an approximation and isn't guaranteed to be exact. If you specify a task list that\n      no activity task was ever scheduled in then <code>0</code> is returned.</p>\n         <p>\n            <b>Access Control</b>\n         </p>\n         <p>You can use IAM policies to control this action's access to Amazon SWF resources as\n      follows:</p>\n         <ul>\n            <li>\n               <p>Use a <code>Resource</code> element with the domain name to limit the action to\n          only specified domains.</p>\n            </li>\n            <li>\n               <p>Use an <code>Action</code> element to allow or deny permission to call this\n          action.</p>\n            </li>\n            <li>\n               <p>Constrain the <code>taskList.name</code> parameter by using a\n            <code>Condition</code> element with the <code>swf:taskList.name</code> key to allow the\n          action to access only certain task lists.</p>\n            </li>\n         </ul>\n         <p>If the caller doesn't have sufficient permissions to invoke the action, or the\n      parameter values fall outside the specified constraints, the action fails. The associated\n      event attribute's <code>cause</code> parameter is set to <code>OPERATION_NOT_PERMITTED</code>.\n      For details and example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF\n        Workflows</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.swf#CountPendingActivityTasksInput": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.swf#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that contains the task list.</p>",
            "smithy.api#required": {}
          }
        },
        "taskList": {
          "target": "com.amazonaws.swf#TaskList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the task list.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.swf#CountPendingDecisionTasks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.swf#CountPendingDecisionTasksInput"
      },
      "output": {
        "target": "com.amazonaws.swf#PendingTaskCount"
      },
      "errors": [
        {
          "target": "com.amazonaws.swf#OperationNotPermittedFault"
        },
        {
          "target": "com.amazonaws.swf#UnknownResourceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the estimated number of decision tasks in the specified task list. The count\n      returned is an approximation and isn't guaranteed to be exact. If you specify a task list that\n      no decision task was ever scheduled in then <code>0</code> is returned.</p>\n         <p>\n            <b>Access Control</b>\n         </p>\n         <p>You can use IAM policies to control this action's access to Amazon SWF resources as\n      follows:</p>\n         <ul>\n            <li>\n               <p>Use a <code>Resource</code> element with the domain name to limit the action to\n          only specified domains.</p>\n            </li>\n            <li>\n               <p>Use an <code>Action</code> element to allow or deny permission to call this\n          action.</p>\n            </li>\n            <li>\n               <p>Constrain the <code>taskList.name</code> parameter by using a\n            <code>Condition</code> element with the <code>swf:taskList.name</code> key to allow the\n          action to access only certain task lists.</p>\n            </li>\n         </ul>\n         <p>If the caller doesn't have sufficient permissions to invoke the action, or the\n      parameter values fall outside the specified constraints, the action fails. The associated\n      event attribute's <code>cause</code> parameter is set to <code>OPERATION_NOT_PERMITTED</code>.\n      For details and example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF\n        Workflows</a> in the <i>Amazon SWF Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.swf#CountPendingDecisionTasksInput": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.swf#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that contains the task list.</p>",
            "smithy.api#required": {}
          }
        },
        "taskList": {
          "target": "com.amazonaws.swf#TaskList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the task list.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.swf#Data": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32768
        }
      }
    },
    "com.amazonaws.swf#Decision": {
      "type": "structure",
      "members": {
        "decisionType": {
          "target": "com.amazonaws.swf#DecisionType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of the decision.</p>",
            "smithy.api#required": {}
          }
        },
        "scheduleActivityTaskDecisionAttributes": {
          "target": "com.amazonaws.swf#ScheduleActivityTaskDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>ScheduleActivityTask</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "requestCancelActivityTaskDecisionAttributes": {
          "target": "com.amazonaws.swf#RequestCancelActivityTaskDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>RequestCancelActivityTask</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "completeWorkflowExecutionDecisionAttributes": {
          "target": "com.amazonaws.swf#CompleteWorkflowExecutionDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>CompleteWorkflowExecution</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "failWorkflowExecutionDecisionAttributes": {
          "target": "com.amazonaws.swf#FailWorkflowExecutionDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>FailWorkflowExecution</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "cancelWorkflowExecutionDecisionAttributes": {
          "target": "com.amazonaws.swf#CancelWorkflowExecutionDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>CancelWorkflowExecution</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "continueAsNewWorkflowExecutionDecisionAttributes": {
          "target": "com.amazonaws.swf#ContinueAsNewWorkflowExecutionDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>ContinueAsNewWorkflowExecution</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "recordMarkerDecisionAttributes": {
          "target": "com.amazonaws.swf#RecordMarkerDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>RecordMarker</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "startTimerDecisionAttributes": {
          "target": "com.amazonaws.swf#StartTimerDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>StartTimer</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "cancelTimerDecisionAttributes": {
          "target": "com.amazonaws.swf#CancelTimerDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>CancelTimer</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "signalExternalWorkflowExecutionDecisionAttributes": {
          "target": "com.amazonaws.swf#SignalExternalWorkflowExecutionDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>SignalExternalWorkflowExecution</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "requestCancelExternalWorkflowExecutionDecisionAttributes": {
          "target": "com.amazonaws.swf#RequestCancelExternalWorkflowExecutionDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>RequestCancelExternalWorkflowExecution</code> decision.\n      It isn't set for other decision types.</p>"
          }
        },
        "startChildWorkflowExecutionDecisionAttributes": {
          "target": "com.amazonaws.swf#StartChildWorkflowExecutionDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>StartChildWorkflowExecution</code> decision. It isn't set for other decision types.</p>"
          }
        },
        "scheduleLambdaFunctionDecisionAttributes": {
          "target": "com.amazonaws.swf#ScheduleLambdaFunctionDecisionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides the details of the <code>ScheduleLambdaFunction</code> decision. It isn't set\n      for other decision types.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a decision made by the decider. A decision can be one of these types:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CancelTimer</code> – Cancels a previously started timer and records a <code>TimerCanceled</code> event in the\n        history.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CancelWorkflowExecution</code> – Closes the workflow execution and records a\n        <code>WorkflowExecutionCanceled</code> event in the history.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CompleteWorkflowExecution</code> – Closes the workflow execution and records a\n        <code>WorkflowExecutionCompleted</code> event in the history .</p>\n            </li>\n            <li>\n               <p>\n                  <code>ContinueAsNewWorkflowExecution</code> – Closes the workflow execution and starts a new workflow execution of the\n        same type using the same workflow ID and a unique run Id. A <code>WorkflowExecutionContinuedAsNew</code> event\n        is recorded in the history.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FailWorkflowExecution</code> – Closes the workflow execution and records a <code>WorkflowExecutionFailed</code>\n        event in the history.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RecordMarker</code> – Records a <code>MarkerRecorded</code> event in the history. Markers can be used for adding\n        custom information in the history for instance to let deciders know that they don't need to look at the history\n        beyond the marker event.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RequestCancelActivityTask</code> – Attempts to cancel a previously scheduled activity task. If the activity task\n        was scheduled but has not been assigned to a worker, then it is canceled. If the activity task was already\n        assigned to a worker, then the worker is informed that cancellation has been requested in the response to\n        <a>RecordActivityTaskHeartbeat</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RequestCancelExternalWorkflowExecution</code> – Requests that a request be made to cancel the specified external\n        workflow execution and records a <code>RequestCancelExternalWorkflowExecutionInitiated</code> event in the\n        history.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ScheduleActivityTask</code> – Schedules an activity task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SignalExternalWorkflowExecution</code> – Requests a signal to be delivered to the specified external workflow\n        execution and records a <code>SignalExternalWorkflowExecutionInitiated</code> event in the history.</p>\n            </li>\n            <li>\n               <p>\n                  <code>StartChildWorkflowExecution</code> – Requests that a child workflow execution be started and records a\n        <code>StartChildWorkflowExecutionInitiated</code> event in the history. The child workflow execution is a\n        separate workflow execution with its own history.</p>\n            </li>\n            <li>\n               <p>\n                  <code>StartTimer</code> – Starts a timer for this workflow execution and records a <code>TimerStarted</code> event in\n        the history. This timer fires after the specified delay and record a <code>TimerFired</code> event.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Access Control</b>\n         </p>\n         <p>If you grant permission to use <code>RespondDecisionTaskCompleted</code>, you can use IAM policies to express\n      permissions for the list of decisions returned by this action as if they were members of the API. Treating\n      decisions as a pseudo API maintains a uniform conceptual model and helps keep policies readable. For details and\n      example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF\n          Workflows</a> in the <i>Amazon SWF Developer Guide</i>.</p>\n\n         <p>\n            <b>Decision Failure</b>\n         </p>\n\n         <p>Decisions can fail for several reasons</p>\n\n         <ul>\n            <li>\n               <p>The ordering of decisions should follow a logical flow. Some decisions might not make sense in the current context of the workflow execution and therefore fails.</p>\n            </li>\n            <li>\n               <p>A limit on your account was reached.</p>\n            </li>\n            <li>\n               <p>The decision lacks sufficient permissions.</p>\n            </li>\n         </ul>\n\n         <p>One of the following events might be added to the history to indicate an error. The event attribute's\n          <code>cause</code> parameter indicates the cause. If <code>cause</code> is set to <code>OPERATION_NOT_PERMITTED</code>, the decision failed\n  because it lacked sufficient permissions. For details and example IAM policies, see <a href=\"https://docs.aws.amazon.com/amazonswf/latest/developerguide/swf-dev-iam.html\">Using IAM to Manage Access to Amazon SWF Workflows</a>\n          in the <i>Amazon SWF Developer Guide</i>.</p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>ScheduleActivityTaskFailed</code> – A <code>ScheduleActivityTask</code> decision failed. This could happen if the\n        activity type specified in the decision isn't registered, is in a deprecated state, or the decision isn't\n        properly configured.</p>\n            </li>\n            <li>\n               <p>\n                    <code>RequestCancelActivityTaskFailed</code> – A\n                        <code>RequestCancelActivityTask</code> decision failed. This could happen if\n                    there is no open activity task with the specified activityId.</p>\n            </li>\n            <li>\n               <p>\n                    <code>StartTimerFailed</code> – A <code>StartTimer</code> decision failed. This\n                    could happen if there is another open timer with the same timerId.</p>\n            </li>\n            <li>\n               <p>\n                    <code>CancelTimerFailed</code> – A <code>CancelTimer</code> decision failed.\n                    This could happen if there is no open timer with the specified\n                    timerId.</p>\n            </li>\n            <li>\n               <p>\n                    <code>StartChildWorkflowExecutionFailed</code> – A\n                        <code>StartChildWorkflowExecution</code> decision failed. This could happen\n                    if the workflow type specified isn't registered, is deprecated, or the decision\n                    isn't properly configured.</p>\n            </li>\n            <li>\n               <p>\n                    <code>SignalExternalWorkflowExecutionFailed</code> – A\n                        <code>SignalExternalWorkflowExecution</code> decision failed. This could\n                    happen if the <code>workflowID</code> specified in the decision was\n                    incorrect.</p>\n            </li>\n            <li>\n               <p>\n                    <code>RequestCancelExternalWorkflowExecutionFailed</code> – A\n                        <code>RequestCancelExternalWorkflowExecution</code> decision failed. This\n                    could happen if the <code>workflowID</code> specified in the decision was\n                    incorrect.</p>\n            </li>\n            <li>\n               <p>\n                    <code>CancelWorkflowExecutionFailed</code> – A\n                        <code>CancelWorkflowExecution</code> decision failed. This could happen if\n                    there is an unhandled decision task pending in the workflow execution.</p>\n            </li>\n            <li>\n               <p>\n                    <code>CompleteWorkflowExecutionFailed</code> – A\n                        <code>CompleteWorkflowExecution</code> decision failed. This could happen if\n                    there is an unhandled decision task pending in the workflow execution.</p>\n            </li>\n            <li>\n               <p>\n                    <code>ContinueAsNewWorkflowExecutionFailed</code> – A\n                        <code>ContinueAsNewWorkflowExecution</code> decision failed. This could\n                    happen if there is an unhandled decision task pending in the workflow execution\n                    or the ContinueAsNewWorkflowExecution decision was not configured\n                    correctly.</p>\n            </li>\n            <li>\n               <p>\n                    <code>FailWorkflowExecutionFailed</code> – A <code>FailWorkflowExecution</code>\n                    decision failed. This could happen if there is an unhandled decision task\n                    pending in the workflow execution.</p>\n            </li>\n         </ul>\n         <p>The preceding error events might occur due to an error in the decider logic, which might put the workflow execution in an unstable state The cause field in the event structure for the error event indicates the cause of the error.</p>\n         <note>\n            <p>A workflow execution may be closed by the decider by returning one of the following decisions when completing\n      a decision task: <code>CompleteWorkflowExecution</code>, <code>FailWorkflowExecution</code>,\n          <code>CancelWorkflowExecution</code> and <code>ContinueAsNewWorkflowExecution</code>. An <code>UnhandledDecision</code> fault\n      is returned if a workflow closing decision is specified and a signal or activity event had been added to the\n      history while the decision task was being performed by the decider. Unlike the above situations which are logic\n      issues, this fault is always possible because of race conditions in a distributed system. The right action here is\n      to call <a>RespondDecisionTaskCompleted</a>  without any decisions. This would result in another decision task\n      with these new events included in the history. The decider should handle the new events and may decide to close\n      the workflow execution.</p>\n         </note>\n         <p>\n            <b>How to Code a Decision</b>\n         </p>\n         <p>You code a decision by first setting the decision type field to one of the above decision values, and then set the corresponding attributes field shown below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>\n                     <a>ScheduleActivityTaskDecisionAttributes</a>\n                    </code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>RequestCancelActivityTaskDecisionAttributes</a>\n                    </code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>CompleteWorkflowExecutionDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>FailWorkflowExecutionDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>CancelWorkflowExecutionDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>ContinueAsNewWorkflowExecutionDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>RecordMarkerDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>StartTimerDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>CancelTimerDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>SignalExternalWorkflowExecutionDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>RequestCancelExternalWorkflowExecutionDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <a>StartChildWorkflowExecutionDecisionAttributes</a>\n                  </code>\n                </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.swf#DecisionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.swf#Decision"
      }
    },
    "com.amazonaws.swf#DecisionTask": {
      "type": "structure",
      "members": {
        "taskToken": {
          "target": "com.amazonaws.swf#TaskToken",
          "traits": {
            "smithy.api#documentation": "<p>The opaque string used as a handle on the task. This token is used by workers to communicate progress and response information back to the system about the task.</p>",
            "smithy.api#required": {}
          }
        },
        "startedEventId": {
          "target": "com.amazonaws.swf#EventId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the <code>DecisionTaskStarted</code> event recorded in the history.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowExecution": {
          "target": "com.amazonaws.swf#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "<p>The workflow execution for which this decision task was created.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowType": {
          "target": "com.amazonaws.swf#WorkflowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the workflow execution for which this decision task was created.</p>",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.amazonaws.swf#HistoryEventList",
          "traits": {
[...]
