{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.synthetics#ArtifactConfigInput": {
      "type": "structure",
      "members": {
        "S3Encryption": {
          "target": "com.amazonaws.synthetics#S3EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads\n         to Amazon S3. \n         Artifact encryption functionality is available only for canaries that use Synthetics runtime version \n         syn-nodejs-puppeteer-3.3 or later. For more information, see\n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the configuration for canary artifacts, including the \n         encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>"
      }
    },
    "com.amazonaws.synthetics#ArtifactConfigOutput": {
      "type": "structure",
      "members": {
        "S3Encryption": {
          "target": "com.amazonaws.synthetics#S3EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the configuration for canary artifacts, including \n         the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>"
      }
    },
    "com.amazonaws.synthetics#AssociateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#AssociateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#AssociateResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a canary with a group. Using groups can help you with\n         managing and automating your canaries, and you can also view aggregated run results and statistics\n         for all canaries in a group. </p>\n         <p>You must run this operation in the Region where the canary exists.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/group/{GroupIdentifier}/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#AssociateResourceRequest": {
      "type": "structure",
      "members": {
        "GroupIdentifier": {
          "target": "com.amazonaws.synthetics#GroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the group. You can specify the group name, the ARN, or the \n         group ID as the <code>GroupIdentifier</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.synthetics#CanaryArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the canary that you want to associate with the specified group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.synthetics#AssociateResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.synthetics#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.synthetics#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.synthetics#BaseScreenshot": {
      "type": "structure",
      "members": {
        "ScreenshotName": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the screenshot. This is generated the first time the canary is run after the <code>UpdateCanary</code> operation that\n      specified for this canary to perform visual monitoring.</p>",
            "smithy.api#required": {}
          }
        },
        "IgnoreCoordinates": {
          "target": "com.amazonaws.synthetics#BaseScreenshotIgnoreCoordinates",
          "traits": {
            "smithy.api#documentation": "<p>Coordinates that define the part of a screen to ignore during screenshot comparisons. To obtain the \n         coordinates to use here, use the \n         CloudWatch console to draw the boundaries on the screen. For more information, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/synthetics_canaries_deletion.html\">\n            Editing or deleting a canary</a>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure representing a screenshot that is used as a baseline during visual monitoring comparisons made by the canary.</p>"
      }
    },
    "com.amazonaws.synthetics#BaseScreenshotConfigIgnoreCoordinate": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(-?\\d{1,5}\\.?\\d{0,2},){3}(-?\\d{1,5}\\.?\\d{0,2}){1}$"
      }
    },
    "com.amazonaws.synthetics#BaseScreenshotIgnoreCoordinates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#BaseScreenshotConfigIgnoreCoordinate"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.synthetics#BaseScreenshots": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#BaseScreenshot"
      }
    },
    "com.amazonaws.synthetics#Blob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10000000
        }
      }
    },
    "com.amazonaws.synthetics#Canaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#Canary"
      }
    },
    "com.amazonaws.synthetics#CanariesLastRun": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#CanaryLastRun"
      }
    },
    "com.amazonaws.synthetics#Canary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.synthetics#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of this canary.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.synthetics#CanaryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the canary.</p>"
          }
        },
        "Code": {
          "target": "com.amazonaws.synthetics#CanaryCodeOutput"
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.synthetics#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role used to run the canary. This role must include <code>lambda.amazonaws.com</code> as a principal in the trust\n         policy.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.synthetics#CanaryScheduleOutput",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about how often the canary is to run, and when\n         these runs are to stop.</p>"
          }
        },
        "RunConfig": {
          "target": "com.amazonaws.synthetics#CanaryRunConfigOutput"
        },
        "SuccessRetentionPeriodInDays": {
          "target": "com.amazonaws.synthetics#MaxSize1024",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain data about successful runs of this canary.</p>"
          }
        },
        "FailureRetentionPeriodInDays": {
          "target": "com.amazonaws.synthetics#MaxSize1024",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain data about failed runs of this canary.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.synthetics#CanaryStatus",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about the canary's status.</p>"
          }
        },
        "Timeline": {
          "target": "com.amazonaws.synthetics#CanaryTimeline",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about when the canary was created, modified, and\n         most recently run.</p>"
          }
        },
        "ArtifactS3Location": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 where Synthetics stores artifacts from the runs of this\n         canary. Artifacts include the log file, screenshots, and HAR files.</p>"
          }
        },
        "EngineArn": {
          "target": "com.amazonaws.synthetics#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Lambda function that is used as your canary's engine. For more information \n         about Lambda ARN format, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-api-permissions-ref.html\">Resources and Conditions for Lambda Actions</a>.</p>"
          }
        },
        "RuntimeVersion": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the runtime version to use for the canary. For more information about\n         runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\">\n            Canary Runtime Versions</a>.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.synthetics#VpcConfigOutput"
        },
        "VisualReference": {
          "target": "com.amazonaws.synthetics#VisualReferenceOutput",
          "traits": {
            "smithy.api#documentation": "<p>If this canary performs visual monitoring by comparing screenshots, this structure contains the ID of the canary run to use as the baseline for screenshots, and the coordinates\n      of any parts of the screen to ignore during the visual monitoring comparison.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.synthetics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value pairs that are associated with the canary.</p>"
          }
        },
        "ArtifactConfig": {
          "target": "com.amazonaws.synthetics#ArtifactConfigOutput",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration for canary artifacts, including \n         the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains all information about one canary in your account.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:synthetics:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:canary:[0-9a-z_\\-]{1,21}$"
      }
    },
    "com.amazonaws.synthetics#CanaryCodeInput": {
      "type": "structure",
      "members": {
        "S3Bucket": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>If your canary script is located in S3, specify the bucket name here. Do not include <code>s3://</code> as the \n         start of the bucket name.</p>"
          }
        },
        "S3Key": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The S3 key of your script. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingObjects.html\">Working with Amazon S3 Objects</a>.</p>"
          }
        },
        "S3Version": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The S3 version ID of your script.</p>"
          }
        },
        "ZipFile": {
          "target": "com.amazonaws.synthetics#Blob",
          "traits": {
            "smithy.api#documentation": "<p>If you input your canary script directly into the canary instead of referring to an S3\n         location, the value of this parameter is the base64-encoded contents of the .zip file that \n         contains the script. It must be smaller than 225 Kb.</p>\n         <p>For large canary scripts, we recommend that you use an S3 location instead of inputting it \n      directly with this parameter.</p>"
          }
        },
        "Handler": {
          "target": "com.amazonaws.synthetics#CodeHandler",
          "traits": {
            "smithy.api#documentation": "<p>The entry point to use for the source code when running the canary. For canaries that use the \n         <code>syn-python-selenium-1.0</code> runtime\n         or a <code>syn-nodejs.puppeteer</code> runtime earlier than <code>syn-nodejs.puppeteer-3.4</code>, \n         the handler must be specified as <code>\n               <i>fileName</i>.handler</code>. For \n         <code>syn-python-selenium-1.1</code>, <code>syn-nodejs.puppeteer-3.4</code>, and later runtimes, the handler can be specified as \n            <code>\n               <i>fileName</i>.<i>functionName</i>\n            </code>, or\n            you can specify a folder where canary scripts reside as \n<code>\n               <i>folder</i>/<i>fileName</i>.<i>functionName</i>\n            </code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use this structure to input your script code for the canary. This structure contains the\n         Lambda handler with the location where the canary should start running the script. If the\n         script is stored in an S3 bucket, the bucket name, key, and version are also included. If\n         the script was passed into the canary directly, the script code is contained in the value\n         of <code>Zipfile</code>. </p>"
      }
    },
    "com.amazonaws.synthetics#CanaryCodeOutput": {
      "type": "structure",
      "members": {
        "SourceLocationArn": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Lambda layer where Synthetics stores the canary script code.</p>"
          }
        },
        "Handler": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The entry point to use for the source code when running the canary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains information about the canary's Lambda handler and \n      where its code is stored by CloudWatch Synthetics.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryLastRun": {
      "type": "structure",
      "members": {
        "CanaryName": {
          "target": "com.amazonaws.synthetics#CanaryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the canary.</p>"
          }
        },
        "LastRun": {
          "target": "com.amazonaws.synthetics#CanaryRun",
          "traits": {
            "smithy.api#documentation": "<p>The results from this canary's most recent run.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains information about the most recent run of a single canary.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 21
        },
        "smithy.api#pattern": "^[0-9a-z_\\-]+$"
      }
    },
    "com.amazonaws.synthetics#CanaryRun": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.synthetics#UUID",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID that identifies this canary run.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.synthetics#CanaryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the canary.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.synthetics#CanaryRunStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of this run.</p>"
          }
        },
        "Timeline": {
          "target": "com.amazonaws.synthetics#CanaryRunTimeline",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the start and end times of this run.</p>"
          }
        },
        "ArtifactS3Location": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The location where the canary stored artifacts from the run. Artifacts include \n         the log file, screenshots, and HAR files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains the details about one run of one canary.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryRunConfigInput": {
      "type": "structure",
      "members": {
        "TimeoutInSeconds": {
          "target": "com.amazonaws.synthetics#MaxFifteenMinutesInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>How long the canary is allowed to run before it must stop. You can't set this time to be longer\n         than the frequency of the runs of this canary.</p>\n         <p>If you omit this field, the\n         frequency of the canary is used as this value, up to a maximum of 14 minutes.</p>"
          }
        },
        "MemoryInMB": {
          "target": "com.amazonaws.synthetics#MaxSize3008",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of memory available to the canary while it is running, in MB. This value must be a multiple of 64.</p>"
          }
        },
        "ActiveTracing": {
          "target": "com.amazonaws.synthetics#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this canary is to use active X-Ray tracing when it runs. Active tracing \n         enables\n         this canary run to be displayed in the ServiceLens and X-Ray service maps even if the canary does \n         not hit an endpoint that has X-Ray tracing enabled. Using X-Ray tracing incurs charges.\n      For more information, see  <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_tracing.html\">\n         Canaries and X-Ray tracing</a>.</p>\n         <p>You can enable active tracing only for canaries that use version <code>syn-nodejs-2.0</code> \n      or later for their canary runtime.</p>"
          }
        },
        "EnvironmentVariables": {
          "target": "com.amazonaws.synthetics#EnvironmentVariablesMap",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the keys and values to use for any environment variables\n      used in the canary script. Use the following format:</p>\n         <p>{ \"key1\" : \"value1\", \"key2\" : \"value2\", ...}</p>\n         <p>Keys must start with a letter and be at least two characters. The total size\n         of your environment variables cannot exceed 4 KB. You can't specify any Lambda\n         reserved environment variables as the keys for your environment variables. For \n         more information about reserved keys, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-envvars.html#configuration-envvars-runtime\">\n            Runtime environment variables</a>.</p>\n         <important>\n            <p>The environment variables keys and values are not encrypted. Do not store sensitive information\n         in this field.</p>\n         </important>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains input information for a canary run.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryRunConfigOutput": {
      "type": "structure",
      "members": {
        "TimeoutInSeconds": {
          "target": "com.amazonaws.synthetics#MaxFifteenMinutesInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>How long the canary is allowed to run before it must stop.</p>"
          }
        },
        "MemoryInMB": {
          "target": "com.amazonaws.synthetics#MaxSize3008",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of memory available to the canary while it is running, in MB. This value\n         must be a multiple of 64.</p>"
          }
        },
        "ActiveTracing": {
          "target": "com.amazonaws.synthetics#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Displays whether this canary run used active X-Ray tracing. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains information about a canary run.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryRunState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "PASSED",
            "name": "PASSED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.synthetics#CanaryRunStateReasonCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CANARY_FAILURE",
            "name": "CANARY_FAILURE"
          },
          {
            "value": "EXECUTION_FAILURE",
            "name": "EXECUTION_FAILURE"
          }
        ]
      }
    },
    "com.amazonaws.synthetics#CanaryRunStatus": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.synthetics#CanaryRunState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the run.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>If run of the canary failed, this field contains the reason for the error.</p>"
          }
        },
        "StateReasonCode": {
          "target": "com.amazonaws.synthetics#CanaryRunStateReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>If this value is <code>CANARY_FAILURE</code>, an exception occurred in the \n         canary code. If this value is <code>EXECUTION_FAILURE</code>, an exception occurred in \n         CloudWatch Synthetics.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains the status information about a canary run.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryRunTimeline": {
      "type": "structure",
      "members": {
        "Started": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the run.</p>"
          }
        },
        "Completed": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the run.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains the start and end times of a single canary run.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryRuns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#CanaryRun"
      }
    },
    "com.amazonaws.synthetics#CanaryScheduleInput": {
      "type": "structure",
      "members": {
        "Expression": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>A <code>rate</code> expression or a <code>cron</code> expression that defines how often the canary is to run.</p>\n         <p>For a rate expression, The syntax is\n               <code>rate(<i>number unit</i>)</code>. <i>unit</i>\n         can be <code>minute</code>, <code>minutes</code>, or <code>hour</code>. </p>\n         <p>For example, <code>rate(1 minute)</code> runs the canary once a minute, <code>rate(10 minutes)</code> runs it once every \n      10 minutes, and <code>rate(1 hour)</code> runs it once every hour. You can\n         specify a frequency between <code>rate(1 minute)</code> and <code>rate(1 hour)</code>.</p>\n         <p>Specifying <code>rate(0 minute)</code> or <code>rate(0 hour)</code> is a special value \n         that causes the \n         canary to run only once when it is started.</p>\n         <p>Use <code>cron(<i>expression</i>)</code> to specify a cron \n         expression. You can't schedule a canary to wait for more than a year before running. For information about the syntax for cron expressions, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_cron.html\">\n            Scheduling canary runs using cron</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DurationInSeconds": {
          "target": "com.amazonaws.synthetics#MaxOneYearInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>How long, in seconds, for the canary to continue making regular runs according to\n         the schedule in the <code>Expression</code> value. If you specify 0, the canary continues\n         making runs until you stop it. If you omit this field, the default of 0 is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure specifies how often a canary is to make runs and the date and time\n         when it should stop making runs.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryScheduleOutput": {
      "type": "structure",
      "members": {
        "Expression": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>A <code>rate</code> expression or a <code>cron</code> expression that defines how often the canary is to run.</p>\n         <p>For a rate expression, The syntax is\n         <code>rate(<i>number unit</i>)</code>. <i>unit</i>\n         can be <code>minute</code>, <code>minutes</code>, or <code>hour</code>. </p>\n         <p>For example, <code>rate(1 minute)</code> runs the canary once a minute, <code>rate(10 minutes)</code> runs it once every \n         10 minutes, and <code>rate(1 hour)</code> runs it once every hour. You can\n         specify a frequency between <code>rate(1 minute)</code> and <code>rate(1 hour)</code>.</p>\n         <p>Specifying <code>rate(0 minute)</code> or <code>rate(0 hour)</code> is a special value \n         that causes the \n         canary to run only once when it is started.</p>\n         <p>Use <code>cron(<i>expression</i>)</code> to specify a cron \n         expression. For information about the syntax for cron expressions, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_cron.html\">\n            Scheduling canary runs using cron</a>.</p>"
          }
        },
        "DurationInSeconds": {
          "target": "com.amazonaws.synthetics#MaxOneYearInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>How long, in seconds, for the canary to continue making regular runs after it \n         was created. The runs are performed according to the schedule in the \n         <code>Expression</code> value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How long, in seconds, for the canary to continue making regular runs according to the schedule in the \n         <code>Expression</code> value.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "READY",
            "name": "READY"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.synthetics#CanaryStateReasonCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVALID_PERMISSIONS",
            "name": "INVALID_PERMISSIONS"
          },
          {
            "value": "CREATE_PENDING",
            "name": "CREATE_PENDING"
          },
          {
            "value": "CREATE_IN_PROGRESS",
            "name": "CREATE_IN_PROGRESS"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "UPDATE_PENDING",
            "name": "UPDATE_PENDING"
          },
          {
            "value": "UPDATE_IN_PROGRESS",
            "name": "UPDATE_IN_PROGRESS"
          },
          {
            "value": "UPDATE_COMPLETE",
            "name": "UPDATE_COMPLETE"
          },
          {
            "value": "ROLLBACK_COMPLETE",
            "name": "ROLLBACK_COMPLETE"
          },
          {
            "value": "ROLLBACK_FAILED",
            "name": "ROLLBACK_FAILED"
          },
          {
            "value": "DELETE_IN_PROGRESS",
            "name": "DELETE_IN_PROGRESS"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          },
          {
            "value": "SYNC_DELETE_IN_PROGRESS",
            "name": "SYNC_DELETE_IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.synthetics#CanaryStatus": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.synthetics#CanaryState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the canary.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>If the canary has insufficient permissions to run, this field provides more details.</p>"
          }
        },
        "StateReasonCode": {
          "target": "com.amazonaws.synthetics#CanaryStateReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>If the canary cannot run or has failed, this field displays the reason.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the current state of the canary.</p>"
      }
    },
    "com.amazonaws.synthetics#CanaryTimeline": {
      "type": "structure",
      "members": {
        "Created": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the canary was created.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the canary was most recently modified.</p>"
          }
        },
        "LastStarted": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the canary's most recent run started.</p>"
          }
        },
        "LastStopped": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the canary's most recent run ended.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains information about when the canary was created and modified.</p>"
      }
    },
    "com.amazonaws.synthetics#CodeHandler": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([0-9a-zA-Z_-]+\\/)*[0-9A-Za-z_\\\\-]+\\.[A-Za-z_][A-Za-z0-9_]*$"
      }
    },
    "com.amazonaws.synthetics#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.synthetics#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A conflicting operation is already in progress.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.synthetics#CreateCanary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#CreateCanaryRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#CreateCanaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#RequestEntityTooLargeException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a canary. Canaries are scripts that monitor your endpoints and APIs from the\n         outside-in. Canaries help you check the availability and latency of your web services and\n         troubleshoot anomalies by investigating load time data, screenshots of the UI, logs, and\n         metrics. You can set up a canary to run continuously or just once. </p>\n         <p>Do not use <code>CreateCanary</code> to modify an existing canary. Use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_UpdateCanary.html\">UpdateCanary</a> instead.</p>\n         <p>To create canaries, you must have the <code>CloudWatchSyntheticsFullAccess</code> policy.\n         If you are creating a new IAM role for the canary, you also need the\n         <code>iam:CreateRole</code>, <code>iam:CreatePolicy</code> and\n            <code>iam:AttachRolePolicy</code> permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Roles\">Necessary\n            Roles and Permissions</a>.</p>\n         <p>Do not include secrets or proprietary information in your canary names. The canary name\n         makes up part of the Amazon Resource Name (ARN) for the canary, and the ARN is included in\n         outbound calls over the internet. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/servicelens_canaries_security.html\">Security\n            Considerations for Synthetics Canaries</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canary",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#CreateCanaryRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.synthetics#CanaryName",
          "traits": {
            "smithy.api#documentation": "<p>The name for this canary. Be sure to give it a descriptive name \n         that distinguishes it from other canaries in your account.</p>\n         <p>Do not include secrets or proprietary information in your canary names. The canary name\n         makes up part of the canary ARN, and the ARN is included in outbound calls over the\n         internet. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/servicelens_canaries_security.html\">Security\n            Considerations for Synthetics Canaries</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Code": {
          "target": "com.amazonaws.synthetics#CanaryCodeInput",
          "traits": {
            "smithy.api#documentation": "<p>A structure that includes the entry point from which the canary should start\n         running your script. If the script is stored in \n         an S3 bucket, the bucket name, key, and version are also included.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "ArtifactS3Location": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 where Synthetics stores artifacts from the test runs of this\n         canary. Artifacts include the log file, screenshots, and HAR files.  The name of the \n         S3 bucket can't include a period (.).</p>",
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.synthetics#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role to be used to run the canary. This role must already exist, \n         and must include <code>lambda.amazonaws.com</code> as a principal in the trust\n         policy. The role must also have the following permissions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>s3:PutObject</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>s3:GetBucketLocation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>s3:ListAllMyBuckets</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>cloudwatch:PutMetricData</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>logs:CreateLogGroup</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>logs:CreateLogStream</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>logs:PutLogEvents</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Schedule": {
          "target": "com.amazonaws.synthetics#CanaryScheduleInput",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about how often the canary is to run and when\n         these test runs are to stop.</p>",
            "smithy.api#required": {}
          }
        },
        "RunConfig": {
          "target": "com.amazonaws.synthetics#CanaryRunConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration for individual canary runs, \n         such as timeout value and environment variables.</p>\n         <important>\n            <p>The environment variables keys and values are not encrypted. Do not store sensitive information\n      in this field.</p>\n         </important>"
          }
        },
        "SuccessRetentionPeriodInDays": {
          "target": "com.amazonaws.synthetics#MaxSize1024",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain data about successful runs of this canary. If you omit \n         this field, the default of 31 days is used. The valid range is 1 to 455 days.</p>"
          }
        },
        "FailureRetentionPeriodInDays": {
          "target": "com.amazonaws.synthetics#MaxSize1024",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain data about failed runs of this canary. If you omit \n         this field, the default of 31 days is used. The valid range is 1 to 455 days.</p>"
          }
        },
        "RuntimeVersion": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the runtime version to use for the canary. For a list of valid\n         runtime versions and more information about\n         runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\">\n            Canary Runtime Versions</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.synthetics#VpcConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>If this canary is to test an endpoint in a VPC, this structure contains\n      information about the subnet and security groups of the VPC endpoint. \n      For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_VPC.html\">\n         Running a Canary in a VPC</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.synthetics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs to associate with the canary. \n         You can associate as many as 50 tags with a canary.</p>\n         <p>Tags can help you organize and categorize your\n         resources. You can also use them to scope user permissions, by \n         granting a user permission to access or change only the resources that have\n         certain tag values.</p>"
          }
        },
        "ArtifactConfig": {
          "target": "com.amazonaws.synthetics#ArtifactConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration for canary artifacts, including \n         the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#CreateCanaryResponse": {
      "type": "structure",
      "members": {
        "Canary": {
          "target": "com.amazonaws.synthetics#Canary",
          "traits": {
            "smithy.api#documentation": "<p>The full details about the canary you have created.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#CreateGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a group which you can use to associate canaries with each other, including cross-Region\n         canaries. Using groups can help you with\n         managing and automating your canaries, and you can also view aggregated run results and statistics\n      for all canaries in a group. </p>\n         <p>Groups are global resources. When you create a group, it is replicated across Amazon Web Services Regions, and \n         you can view it and add canaries to it from any Region.\n         Although the group ARN format reflects the Region name where it was created, a group is not constrained to any Region. \n         This means that you can put canaries from multiple Regions into the same group, and then use\n      that group to view and manage all of those canaries in a single view.</p>\n         <p>Groups are supported in all Regions except the Regions that are disabled by default. For more information\n         about these Regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html#rande-manage-enable\">Enabling a Region</a>.</p>\n         <p>Each group can contain as many as 10 canaries. You can have as many as 20 groups in your account. Any single canary\n      can be a member of up to 10 groups.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/group",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.synthetics#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the group. It can include any Unicode characters.</p>\n         <p>The names for all groups in your account, across all Regions, must be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.synthetics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs to associate with the group. \n         You can associate as many as 50 tags with a group.</p>\n         <p>Tags can help you organize and categorize your\n         resources. You can also use them to scope user permissions, by \n         granting a user permission to access or change only the resources that have\n         certain tag values.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#CreateGroupResponse": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.synthetics#Group",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about the group that was just created.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#DeleteCanary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#DeleteCanaryRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#DeleteCanaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified canary.</p>\n         <p>If you specify <code>DeleteLambda</code> to <code>true</code>, CloudWatch Synthetics also deletes\n         the Lambda functions and layers that are used by the canary.</p>\n         <p>Other resources used and created by the canary are not automatically deleted. \n         After you delete a canary that you do not intend to\n         use again, you\n      should also delete the following:</p>\n         <ul>\n            <li>\n               <p>The CloudWatch alarms created for this canary. These alarms have a name of\n                     <code>Synthetics-SharpDrop-Alarm-<i>MyCanaryName</i>\n                  </code>.</p>\n            </li>\n            <li>\n               <p>Amazon S3 objects and buckets, such as the canary's artifact location.</p>\n            </li>\n            <li>\n               <p>IAM roles created for the canary. If they were created in the console, these roles\n               have the name <code>\n                     role/service-role/CloudWatchSyntheticsRole-<i>MyCanaryName</i>\n                  </code>.</p>\n            </li>\n            <li>\n               <p>CloudWatch Logs log groups created for the canary. These logs groups have the name\n                     <code>/aws/lambda/cwsyn-<i>MyCanaryName</i>\n                  </code>. </p>\n            </li>\n         </ul>\n      \n         <p>Before you delete a canary, you might want to use <code>GetCanary</code> to display\n         the information about this canary. Make\n         note of the information returned by this operation so that you can delete these resources\n         after you delete the canary.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/canary/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#DeleteCanaryRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.synthetics#CanaryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the canary that you want to delete. To find the names of your canaries, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">DescribeCanaries</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeleteLambda": {
          "target": "com.amazonaws.synthetics#boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether to also delete the Lambda functions and layers used by this canary. The default\n      is false.</p>\n         <p>Type: Boolean</p>",
            "smithy.api#httpQuery": "deleteLambda"
          }
        }
      }
    },
    "com.amazonaws.synthetics#DeleteCanaryResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.synthetics#DeleteGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#DeleteGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#DeleteGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a group. The group doesn't need to be empty to be deleted. If there are canaries in the group,\n         they are not deleted when you delete the group.\n      </p>\n         <p>Groups are a global resource that appear in all Regions, but the request to delete a group\n      must be made from its home Region. You can find the home Region of a group within its ARN.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/group/{GroupIdentifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#DeleteGroupRequest": {
      "type": "structure",
      "members": {
        "GroupIdentifier": {
          "target": "com.amazonaws.synthetics#GroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which group to delete. You can specify the group name, the ARN, or the \n      group ID as the <code>GroupIdentifier</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.synthetics#DeleteGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.synthetics#DescribeCanaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#DescribeCanariesRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#DescribeCanariesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns a list of the canaries in your account, along with full details\n      about each canary.</p>\n         <p>This operation supports resource-level authorization using an IAM policy and \n      the <code>Names</code> parameter. If you specify the <code>Names</code> parameter, the operation is successful only if you have authorization to view\n         all the canaries that you specify in your request. If you do not have permission to view any of \n         the canaries, the request fails with a 403 response.</p>\n         <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an \n         IAM policy that restricts which canaries that you are allowed to view. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\">\n            Limiting a user to viewing specific canaries</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canaries",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.synthetics#DescribeCanariesLastRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#DescribeCanariesLastRunRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#DescribeCanariesLastRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to see information from the most recent run of each canary that you have created.</p>\n    \n         <p>This operation supports resource-level authorization using an IAM policy and \n         the <code>Names</code> parameter. If you specify the <code>Names</code> parameter, the operation is successful only if you have authorization to view\n         all the canaries that you specify in your request. If you do not have permission to view any of \n         the canaries, the request fails with a 403 response.</p>\n         <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an \n         IAM policy that restricts which canaries that you are allowed to view. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\">\n            Limiting a user to viewing specific canaries</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canaries/last-run",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.synthetics#DescribeCanariesLastRunNameFilter": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#CanaryName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.synthetics#DescribeCanariesLastRunRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.synthetics#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>DescribeCanariesLastRun</code> operation to retrieve the next \n         set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.synthetics#MaxSize100",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to limit how many runs are returned each time you use\n         the <code>DescribeLastRun</code> operation. If you omit this parameter, the default of 100 is used.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.synthetics#DescribeCanariesLastRunNameFilter",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to return only canaries that match the names that you specify here. You can\n         specify as many as five canary names.</p>\n         <p>If you specify this parameter, the operation is successful only if you have authorization to view\n         all the canaries that you specify in your request. If you do not have permission to view any of \n         the canaries, the request fails with a 403 response.</p>\n         <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an \n         IAM policy that restricts which canaries that you are allowed to view. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\">\n            Limiting a user to viewing specific canaries</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#DescribeCanariesLastRunResponse": {
      "type": "structure",
      "members": {
        "CanariesLastRun": {
          "target": "com.amazonaws.synthetics#CanariesLastRun",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains the information from the most recent run of each\n         canary.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.synthetics#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>DescribeCanariesLastRun</code> operation to retrieve the next \n         set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#DescribeCanariesNameFilter": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#CanaryName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.synthetics#DescribeCanariesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.synthetics#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent operation to retrieve the next \n         set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.synthetics#MaxCanaryResults",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to limit how many canaries are returned each time you use\n      the <code>DescribeCanaries</code> operation. If you omit this parameter, the default of 100 is used.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.synthetics#DescribeCanariesNameFilter",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to return only canaries that match the names that you specify here. You can\n         specify as many as five canary names.</p>\n         <p>If you specify this parameter, the operation is successful only if you have authorization to view\n         all the canaries that you specify in your request. If you do not have permission to view any of \n         the canaries, the request fails with a 403 response.</p>\n         <p>You are required to use this parameter if you are logged on to a user or role that has an \n         IAM policy that restricts which canaries that you are allowed to view. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\">\n            Limiting a user to viewing specific canaries</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#DescribeCanariesResponse": {
      "type": "structure",
      "members": {
        "Canaries": {
          "target": "com.amazonaws.synthetics#Canaries",
          "traits": {
            "smithy.api#documentation": "<p>Returns an array. Each item in the array contains the full information about\n         one canary.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.synthetics#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>DescribeCanaries</code> operation to retrieve the next \n         set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#DescribeRuntimeVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#DescribeRuntimeVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#DescribeRuntimeVersionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of Synthetics canary runtime versions. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\">\n            Canary Runtime Versions</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/runtime-versions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.synthetics#DescribeRuntimeVersionsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.synthetics#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>DescribeRuntimeVersions</code> operation to retrieve the next \n         set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.synthetics#MaxSize100",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to limit how many runs are returned each time you use\n         the <code>DescribeRuntimeVersions</code> operation. If you omit this parameter, the default of 100 is used.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#DescribeRuntimeVersionsResponse": {
      "type": "structure",
      "members": {
        "RuntimeVersions": {
          "target": "com.amazonaws.synthetics#RuntimeVersionList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that display the details about each Synthetics canary runtime\n         version.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.synthetics#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>DescribeRuntimeVersions</code> operation to retrieve the next \n         set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#DisassociateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#DisassociateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#DisassociateResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a canary from a group. You must run this operation in the Region where the canary exists.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/group/{GroupIdentifier}/disassociate",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#DisassociateResourceRequest": {
      "type": "structure",
      "members": {
        "GroupIdentifier": {
          "target": "com.amazonaws.synthetics#GroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the group. You can specify the group name, the ARN, or the \n         group ID as the <code>GroupIdentifier</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.synthetics#CanaryArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the canary that you want to remove from the specified group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.synthetics#DisassociateResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.synthetics#EncryptionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SSE_S3",
            "name": "SSE_S3"
          },
          {
            "value": "SSE_KMS",
            "name": "SSE_KMS"
          }
        ]
      }
    },
    "com.amazonaws.synthetics#EnvironmentVariableName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z]([a-zA-Z0-9_])+$"
      }
    },
    "com.amazonaws.synthetics#EnvironmentVariableValue": {
      "type": "string"
    },
    "com.amazonaws.synthetics#EnvironmentVariablesMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.synthetics#EnvironmentVariableName"
      },
      "value": {
        "target": "com.amazonaws.synthetics#EnvironmentVariableValue"
      }
    },
    "com.amazonaws.synthetics#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.synthetics#FunctionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?$"
      }
    },
    "com.amazonaws.synthetics#GetCanary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#GetCanaryRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#GetCanaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves complete information about one canary. You must specify\n      the name of the canary that you want. To get a list of canaries\n      and their names, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">DescribeCanaries</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/canary/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#GetCanaryRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.synthetics#CanaryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the canary that you want details for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.synthetics#GetCanaryResponse": {
      "type": "structure",
      "members": {
        "Canary": {
          "target": "com.amazonaws.synthetics#Canary",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the full information about the canary.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#GetCanaryRuns": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#GetCanaryRunsRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#GetCanaryRunsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of runs for a specified canary.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canary/{Name}/runs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.synthetics#GetCanaryRunsRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.synthetics#CanaryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the canary that you want to see runs for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.synthetics#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>GetCanaryRuns</code> operation to retrieve the next \n         set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.synthetics#MaxSize100",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to limit how many runs are returned each time you use\n         the <code>GetCanaryRuns</code> operation. If you omit this parameter, the default of 100 is used.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#GetCanaryRunsResponse": {
      "type": "structure",
      "members": {
        "CanaryRuns": {
          "target": "com.amazonaws.synthetics#CanaryRuns",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures. Each structure contains the details of one of the \n         retrieved canary runs.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.synthetics#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>GetCanaryRuns</code> \n         operation to retrieve the next \n         set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#GetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#GetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#GetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about one group. Groups are a global resource, so you can use this operation from\n      any Region.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/group/{GroupIdentifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#GetGroupRequest": {
      "type": "structure",
      "members": {
        "GroupIdentifier": {
          "target": "com.amazonaws.synthetics#GroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the group to return information for. You can specify the group name, the ARN, or the \n         group ID as the <code>GroupIdentifier</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.synthetics#GetGroupResponse": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.synthetics#Group",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#Group": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the group.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.synthetics#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.synthetics#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.synthetics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value pairs that are associated with the canary.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the group was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the group was most recently updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains information about one group.</p>"
      }
    },
    "com.amazonaws.synthetics#GroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:synthetics:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:group:[0-9a-z]+$"
      }
    },
    "com.amazonaws.synthetics#GroupIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.synthetics#GroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.synthetics#GroupSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the group.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.synthetics#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.synthetics#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing some information about a group.</p>"
      }
    },
    "com.amazonaws.synthetics#GroupSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#GroupSummary"
      }
    },
    "com.amazonaws.synthetics#InternalFailureException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.synthetics#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal failure occurred. Try the operation again.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.synthetics#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.synthetics#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An unknown internal error occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.synthetics#KmsKeyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:kms:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:key/[\\w\\-\\/]+$"
      }
    },
    "com.amazonaws.synthetics#ListAssociatedGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#ListAssociatedGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#ListAssociatedGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the groups that the specified canary is associated with. The canary\n      that you specify must be in the current Region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/resource/{ResourceArn}/groups",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.synthetics#ListAssociatedGroupsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.synthetics#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent operation to retrieve the next \n         set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.synthetics#MaxGroupResults",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to limit how many groups are returned each time you use\n         the <code>ListAssociatedGroups</code> operation. If you omit this parameter, the default of 20 is used.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.synthetics#CanaryArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the canary that you want to view groups for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.synthetics#ListAssociatedGroupsResponse": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.synthetics#GroupSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that contain information about the groups that this canary is associated with.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.synthetics#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>ListAssociatedGroups</code> operation to retrieve the next \n         set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#ListGroupResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#ListGroupResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#ListGroupResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns a list of the ARNs of the canaries that are associated with the specified group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/group/{GroupIdentifier}/resources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.synthetics#ListGroupResourcesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.synthetics#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent operation to retrieve the next \n         set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.synthetics#MaxGroupResults",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to limit how many canary ARNs are returned each time you use\n         the <code>ListGroupResources</code> operation. If you omit this parameter, the default of 20 is used.</p>"
          }
        },
        "GroupIdentifier": {
          "target": "com.amazonaws.synthetics#GroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the group to return information for. You can specify the group name, the ARN, or the \n         group ID as the <code>GroupIdentifier</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.synthetics#ListGroupResourcesResponse": {
      "type": "structure",
      "members": {
        "Resources": {
          "target": "com.amazonaws.synthetics#StringList",
          "traits": {
            "smithy.api#documentation": "<p>An array of ARNs. These ARNs are for the canaries that are associated with the group.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.synthetics#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>ListGroupResources</code> operation to retrieve the next \n         set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#ListGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#ListGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#ListGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of all groups in the account, displaying their names, unique IDs, and ARNs. The groups\n      from all Regions are returned.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/groups",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.synthetics#ListGroupsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.synthetics#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent operation to retrieve the next \n         set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.synthetics#MaxGroupResults",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to limit how many groups are returned each time you use\n         the <code>ListGroups</code> operation. If you omit this parameter, the default of 20 is used.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.synthetics#GroupSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that each contain information about one group.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.synthetics#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>ListGroups</code> operation to retrieve the next \n         set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#BadRequestException"
        },
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalFailureException"
        },
        {
          "target": "com.amazonaws.synthetics#NotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays the tags associated with a canary or group.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.synthetics#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the canary or group that you want to view tags for.</p>\n         <p>The ARN format of a canary is\n               <code>arn:aws:synthetics:<i>Region</i>:<i>account-id</i>:canary:<i>canary-name</i>\n            </code>.</p>\n         <p>The ARN format of a group is\n         <code>arn:aws:synthetics:<i>Region</i>:<i>account-id</i>:group:<i>group-name</i>\n            </code>   \n         </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.synthetics#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.synthetics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys and values associated with the resource that you specified.</p>"
          }
        }
      }
    },
    "com.amazonaws.synthetics#MaxCanaryResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.synthetics#MaxFifteenMinutesInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 3,
          "max": 840
        }
      }
    },
    "com.amazonaws.synthetics#MaxGroupResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.synthetics#MaxOneYearInSeconds": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 31622400
        }
      }
    },
    "com.amazonaws.synthetics#MaxSize100": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.synthetics#MaxSize1024": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.synthetics#MaxSize3008": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 960,
          "max": 3008
        }
      }
    },
    "com.amazonaws.synthetics#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.synthetics#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.synthetics#NullableBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.synthetics#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.synthetics#RequestEntityTooLargeException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.synthetics#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One of the input resources is larger than is allowed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.synthetics#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:synthetics:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:(canary|group):[0-9a-z_\\-]+$"
      }
    },
    "com.amazonaws.synthetics#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.synthetics#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One of the specified resources was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.synthetics#RoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+$"
      }
    },
    "com.amazonaws.synthetics#RuntimeVersion": {
      "type": "structure",
      "members": {
        "VersionName": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the runtime version. For a list of valid runtime versions, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\">\n            Canary Runtime Versions</a>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.synthetics#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the runtime version, created by Amazon.</p>"
          }
        },
        "ReleaseDate": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the runtime version was released.</p>"
          }
        },
        "DeprecationDate": {
          "target": "com.amazonaws.synthetics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>If this runtime version is deprecated, this value is the date of deprecation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains information about one canary runtime version. For more information about\n         runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\">\n            Canary Runtime Versions</a>.</p>"
      }
    },
    "com.amazonaws.synthetics#RuntimeVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#RuntimeVersion"
      }
    },
    "com.amazonaws.synthetics#S3EncryptionConfig": {
      "type": "structure",
      "members": {
        "EncryptionMode": {
          "target": "com.amazonaws.synthetics#EncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p> The encryption method to use for artifacts created by this canary. Specify <code>SSE_S3</code> to use\n         server-side encryption (SSE) with an Amazon S3-managed\n         key. Specify <code>SSE-KMS</code> to use server-side encryption with a customer-managed KMS key.</p>\n         <p>If you omit this parameter, an \n            Amazon Web Services-managed KMS key is used.\n        </p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.synthetics#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the customer-managed KMS key to use, if you specify <code>SSE-KMS</code>\n         for <code>EncryptionMode</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the configuration of encryption-at-rest settings for canary artifacts that the canary\n         uploads to Amazon S3. </p>\n         <p>For more information, see\n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>\n            </p>"
      }
    },
    "com.amazonaws.synthetics#SecurityGroupId": {
      "type": "string"
    },
    "com.amazonaws.synthetics#SecurityGroupIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.synthetics#SecurityGroupId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.synthetics#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.synthetics#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request exceeded a service quota value.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.synthetics#StartCanary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#StartCanaryRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#StartCanaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.synthetics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to run a canary that has already been created.  \n         The frequency of the canary runs is determined by the value of the canary's <code>Schedule</code>. To see a canary's schedule, \n         use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_GetCanary.html\">GetCanary</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/canary/{Name}/start",
          "code": 200
        }
      }
    },
    "com.amazonaws.synthetics#StartCanaryRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.synthetics#CanaryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the canary that you want to run. To find\n         canary names, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">DescribeCanaries</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.synthetics#StartCanaryResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.synthetics#StopCanary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.synthetics#StopCanaryRequest"
      },
      "output": {
        "target": "com.amazonaws.synthetics#StopCanaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.synthetics#ConflictException"
        },
        {
          "target": "com.amazonaws.synthetics#InternalServerException"
        },
        {
          "target": "com.amazonaws.synthetics#ResourceNotFoundException"
[...]
