{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.taxsettings#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.taxsettings#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The access is denied for the Amazon Web ServicesSupport API.\n    </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.taxsettings#AccountDetails": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.taxsettings#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>List of unique account identifiers. </p>"
          }
        },
        "taxRegistration": {
          "target": "com.amazonaws.taxsettings#TaxRegistrationWithJurisdiction",
          "traits": {
            "smithy.api#documentation": "<p>Your TRN information. Instead of having full legal address, here TRN information will have\n      jurisdiction details (for example, country code and state/region/province if applicable). </p>"
          }
        },
        "taxInheritanceDetails": {
          "target": "com.amazonaws.taxsettings#TaxInheritanceDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n      Tax inheritance information associated with the account.\n    </p>"
          }
        },
        "accountMetaData": {
          "target": "com.amazonaws.taxsettings#AccountMetaData",
          "traits": {
            "smithy.api#documentation": "<p>\n      The meta data information associated with the account.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An object with your <code>accountId</code> and TRN information. </p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.taxsettings#AccountDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taxsettings#AccountDetails"
      }
    },
    "com.amazonaws.taxsettings#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.taxsettings#AccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taxsettings#AccountId"
      }
    },
    "com.amazonaws.taxsettings#AccountMetaData": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "com.amazonaws.taxsettings#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon Web Services accounts name.\n    </p>"
          }
        },
        "seller": {
          "target": "com.amazonaws.taxsettings#Seller",
          "traits": {
            "smithy.api#documentation": "<p>\n      Seller information associated with the account.\n    </p>"
          }
        },
        "address": {
          "target": "com.amazonaws.taxsettings#Address"
        },
        "addressType": {
          "target": "com.amazonaws.taxsettings#AddressRoleType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of address associated with the legal profile.\n    </p>"
          }
        },
        "addressRoleMap": {
          "target": "com.amazonaws.taxsettings#AddressRoleMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      Address roles associated with the account containing country code information.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The meta data information associated with the account.\n    </p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.taxsettings#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.taxsettings#AdditionalInfoRequest": {
      "type": "structure",
      "members": {
        "malaysiaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#MalaysiaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p> Additional tax information to specify for a TRN in Malaysia.</p>"
          }
        },
        "israelAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#IsraelAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p> Additional tax information to specify for a TRN in Israel.</p>"
          }
        },
        "estoniaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#EstoniaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p> Additional tax information to specify for a TRN in Estonia.</p>"
          }
        },
        "canadaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#CanadaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p> Additional tax information associated with your TRN in Canada.</p>"
          }
        },
        "spainAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#SpainAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Spain.</p>"
          }
        },
        "kenyaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#KenyaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Kenya.</p>"
          }
        },
        "southKoreaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#SouthKoreaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in South Korea.</p>"
          }
        },
        "turkeyAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#TurkeyAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Turkey.</p>"
          }
        },
        "georgiaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#GeorgiaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information to specify for a TRN in Georgia.\n    </p>"
          }
        },
        "italyAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#ItalyAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information to specify for a TRN in Italy.\n    </p>"
          }
        },
        "romaniaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#RomaniaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Romania.</p>"
          }
        },
        "ukraineAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#UkraineAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Ukraine.\n    </p>"
          }
        },
        "polandAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#PolandAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Poland.\n    </p>"
          }
        },
        "saudiArabiaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#SaudiArabiaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Saudi Arabia.\n    </p>"
          }
        },
        "indonesiaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#IndonesiaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n    </p>"
          }
        },
        "vietnamAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#VietnamAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Vietnam.\n    </p>"
          }
        },
        "egyptAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#EgyptAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Egypt.\n    </p>"
          }
        },
        "greeceAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#GreeceAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Greece.</p>"
          }
        },
        "uzbekistanAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#UzbekistanAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information to specify for a TRN in Uzbekistan.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional tax information associated with your tax registration number (TRN). Depending\n      on the TRN for a specific country, you might need to specify this information when you set\n      your TRN. </p>\n         <p>You can only specify one of the following parameters and the value can't be empty. </p>\n         <note>\n            <p>The parameter that you specify must match the country for the TRN, if available. For\n        example, if you set a TRN in Canada for specific provinces, you must also specify the\n          <code>canadaAdditionalInfo</code> parameter.</p>\n         </note>"
      }
    },
    "com.amazonaws.taxsettings#AdditionalInfoResponse": {
      "type": "structure",
      "members": {
        "malaysiaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#MalaysiaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p> Additional tax information associated with your  TRN in Malaysia. </p>"
          }
        },
        "israelAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#IsraelAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p> Additional tax information associated with your TRN in Israel.</p>"
          }
        },
        "estoniaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#EstoniaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p> Additional tax information associated with your  TRN in Estonia. </p>"
          }
        },
        "canadaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#CanadaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information associated with your TRN in Canada. </p>"
          }
        },
        "brazilAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#BrazilAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information associated with your TRN in Brazil. The Tax Settings API\n      returns this information in your response when any additional information is present with your\n      TRN in Brazil.</p>"
          }
        },
        "spainAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#SpainAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information associated with your TRN in Spain.</p>"
          }
        },
        "kenyaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#KenyaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information associated with your TRN in Kenya.</p>"
          }
        },
        "southKoreaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#SouthKoreaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information associated with your TRN in South Korea.</p>"
          }
        },
        "turkeyAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#TurkeyAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information associated with your TRN in Turkey.</p>"
          }
        },
        "georgiaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#GeorgiaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Georgia.\n    </p>"
          }
        },
        "italyAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#ItalyAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Italy.\n    </p>"
          }
        },
        "romaniaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#RomaniaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Romania.</p>"
          }
        },
        "ukraineAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#UkraineAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Ukraine.\n    </p>"
          }
        },
        "polandAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#PolandAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Poland. \n    </p>"
          }
        },
        "saudiArabiaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#SaudiArabiaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Saudi Arabia.\n    </p>"
          }
        },
        "indiaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#IndiaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information in India. \n    </p>"
          }
        },
        "indonesiaAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#IndonesiaAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information associated with your TRN in Indonesia.</p>"
          }
        },
        "vietnamAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#VietnamAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Vietnam.\n    </p>"
          }
        },
        "egyptAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#EgyptAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Egypt.\n    </p>"
          }
        },
        "greeceAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#GreeceAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Greece.\n    </p>"
          }
        },
        "uzbekistanAdditionalInfo": {
          "target": "com.amazonaws.taxsettings#UzbekistanAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Uzbekistan.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Additional tax information associated with your TRN. The Tax Settings API returns\n      country-specific information in the response when any additional information is present with\n      your TRN for the following countries.</p>"
      }
    },
    "com.amazonaws.taxsettings#Address": {
      "type": "structure",
      "members": {
        "addressLine1": {
          "target": "com.amazonaws.taxsettings#AddressLine1",
          "traits": {
            "smithy.api#documentation": "<p>The first line of the address. </p>",
            "smithy.api#required": {}
          }
        },
        "addressLine2": {
          "target": "com.amazonaws.taxsettings#AddressLine2",
          "traits": {
            "smithy.api#documentation": "<p>The second line of the address, if applicable. </p>"
          }
        },
        "addressLine3": {
          "target": "com.amazonaws.taxsettings#AddressLine3",
          "traits": {
            "smithy.api#documentation": "<p> The third line of the address, if applicable. Currently, the Tax Settings API accepts the\n        <code>addressLine3</code> parameter only for Saudi Arabia. When you specify a TRN in Saudi\n      Arabia, you must enter the <code>addressLine3</code> and specify the building number for the\n      address. For example, you might enter <code>1234</code>.</p>"
          }
        },
        "districtOrCounty": {
          "target": "com.amazonaws.taxsettings#District",
          "traits": {
            "smithy.api#documentation": "<p>The district or county the address is located. </p>\n         <note>\n            <p>For addresses in Brazil, this parameter uses the name of the neighborhood. When you set\n        a TRN in Brazil, use <code>districtOrCounty</code> for the neighborhood name.</p>\n         </note>"
          }
        },
        "city": {
          "target": "com.amazonaws.taxsettings#City",
          "traits": {
            "smithy.api#documentation": "<p>The city that the address is in. </p>",
            "smithy.api#required": {}
          }
        },
        "stateOrRegion": {
          "target": "com.amazonaws.taxsettings#State",
          "traits": {
            "smithy.api#documentation": "<p>The state, region, or province that the address is located. This field is only required for Canada, India, United Arab Emirates, Romania, and Brazil (CPF). It is optional for all other countries.</p>\n         <p>If this is required for tax settings, use the same name as shown on the <b>Tax Settings</b> page.</p>"
          }
        },
        "postalCode": {
          "target": "com.amazonaws.taxsettings#PostalCode",
          "traits": {
            "smithy.api#documentation": "<p> The postal code associated with the address. </p>",
            "smithy.api#required": {}
          }
        },
        "countryCode": {
          "target": "com.amazonaws.taxsettings#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The country code for the country that the address is in. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The details of the address associated with the TRN information. </p>"
      }
    },
    "com.amazonaws.taxsettings#AddressLine1": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 180
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\s\\S]+$"
      }
    },
    "com.amazonaws.taxsettings#AddressLine2": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 60
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\s\\S]+$"
      }
    },
    "com.amazonaws.taxsettings#AddressLine3": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 60
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\s\\S]+$"
      }
    },
    "com.amazonaws.taxsettings#AddressRoleMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.taxsettings#AddressRoleType"
      },
      "value": {
        "target": "com.amazonaws.taxsettings#Jurisdiction"
      }
    },
    "com.amazonaws.taxsettings#AddressRoleType": {
      "type": "enum",
      "members": {
        "TAX_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TaxAddress"
          }
        },
        "BILLING_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BillingAddress"
          }
        },
        "CONTACT_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ContactAddress"
          }
        }
      }
    },
    "com.amazonaws.taxsettings#AttachmentUploadException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.taxsettings#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Failed to upload the tax exemption document to Amazon Web ServicesSupport case.\n    </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.taxsettings#Authorities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taxsettings#Authority"
      }
    },
    "com.amazonaws.taxsettings#Authority": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.amazonaws.taxsettings#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>\n      The country code for the country that the address is in.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.taxsettings#State",
          "traits": {
            "smithy.api#documentation": "<p>\n      The state that the address is located. \n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The address domain associate with the tax information.\n    </p>"
      }
    },
    "com.amazonaws.taxsettings#BatchDeleteTaxRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#BatchDeleteTaxRegistrationRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#BatchDeleteTaxRegistrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#ConflictException"
        },
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants delete permission"
        },
        "smithy.api#documentation": "<p>Deletes tax registration for multiple accounts in batch. This can be used to delete tax\n      registrations for up to five accounts in one batch. </p>\n         <note>\n            <p>This API operation can't be used to delete your tax registration in Brazil. Use the <a href=\"https://console.aws.amazon.com/billing/home#/paymentpreferences/paymentmethods\">Payment preferences</a> page in the Billing and Cost Management console instead.</p>\n         </note>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/BatchDeleteTaxRegistration"
        }
      }
    },
    "com.amazonaws.taxsettings#BatchDeleteTaxRegistrationError": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.taxsettings#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The unique account identifier for the account whose tax registration couldn't be deleted\n      during the <code>BatchDeleteTaxRegistration</code> operation. </p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.taxsettings#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p> The error message for an individual failure in the\n        <code>BatchDeleteTaxRegistration</code> operation. </p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.amazonaws.taxsettings#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The error code for an individual failure in BatchDeleteTaxRegistration operation. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The error object for representing failures in the <code>BatchDeleteTaxRegistration</code>\n      operation. </p>"
      }
    },
    "com.amazonaws.taxsettings#BatchDeleteTaxRegistrationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taxsettings#BatchDeleteTaxRegistrationError"
      }
    },
    "com.amazonaws.taxsettings#BatchDeleteTaxRegistrationRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.taxsettings#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>List of unique account identifiers. </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 5
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#BatchDeleteTaxRegistrationResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.taxsettings#BatchDeleteTaxRegistrationErrors",
          "traits": {
            "smithy.api#documentation": "<p>The list of errors for the accounts the TRN information could not be deleted for. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#BatchGetTaxExemptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#BatchGetTaxExemptionsRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#BatchGetTaxExemptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["tax:GetExemptions"],
          "documentation": "Grants batch get active tax exemptions for a given list of accounts permission"
        },
        "smithy.api#documentation": "<p>Get the active tax exemptions for a given list of accounts. The IAM action is <code>tax:GetExemptions</code>.\n    </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/BatchGetTaxExemptions"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.taxsettings#BatchGetTaxExemptionsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.taxsettings#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>\n      List of unique account identifiers.\n    </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 5
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#BatchGetTaxExemptionsResponse": {
      "type": "structure",
      "members": {
        "taxExemptionDetailsMap": {
          "target": "com.amazonaws.taxsettings#TaxExemptionDetailsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tax exemption details map of accountId and tax exemption details.\n    </p>"
          }
        },
        "failedAccounts": {
          "target": "com.amazonaws.taxsettings#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>The list of accounts that failed to get tax exemptions.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#BatchPutTaxRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#BatchPutTaxRegistrationRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#BatchPutTaxRegistrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#ConflictException"
        },
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants store permission"
        },
        "smithy.api#documentation": "<p>Adds or updates tax registration for multiple accounts in batch. This can be used to add\n      or update tax registrations for up to five accounts in one batch. You can't set a TRN if there's a pending TRN. You'll need to delete the pending TRN first.</p>\n         <p>To call this API operation for specific countries, see the following country-specific\n      requirements.</p>\n         <p>\n            <b>Bangladesh</b>\n         </p>\n         <ul>\n            <li>\n               <p>You must specify the tax registration certificate document in the\n            <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code>\n          object.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Brazil</b>\n         </p>\n         <ul>\n            <li>\n               <p>You must complete the tax registration process in the <a href=\"https://console.aws.amazon.com/billing/home#/paymentpreferences/paymentmethods\">Payment preferences</a> page in the Billing and Cost Management console. After your TRN and billing address are verified, you can call this API operation.</p>\n            </li>\n            <li>\n               <p>For Amazon Web Services accounts created through Organizations, you can call this API operation when you don't have a billing address.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Georgia</b>\n         </p>\n         <ul>\n            <li>\n               <p>The valid <code>personType</code> values are <code>Physical Person</code> and <code>Business</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Indonesia</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>PutTaxRegistration</code>: The use of this operation to submit tax information is subject to the <a href=\"http://aws.amazon.com/service-terms/\">Amazon Web Services service terms</a>. By submitting, you’re providing consent for Amazon Web Services to validate NIK, NPWP, and NITKU data, provided by you with the Directorate General of Taxes of Indonesia in accordance with the Minister of Finance Regulation (PMK) Number 112/PMK.03/2022.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BatchPutTaxRegistration</code>: The use of this operation to submit tax information is subject to the <a href=\"http://aws.amazon.com/service-terms/\">Amazon Web Services service terms</a>. By submitting, you’re providing consent for Amazon Web Services to validate NIK, NPWP, and NITKU data, provided by you with the Directorate General of Taxes of Indonesia in accordance with the Minister of Finance Regulation (PMK) Number 112/PMK.03/2022, through our third-party partner PT Achilles Advanced Management (OnlinePajak).</p>\n            </li>\n            <li>\n               <p>You must specify the <code>taxRegistrationNumberType</code> in the <code>indonesiaAdditionalInfo</code> field of the <code>additionalTaxInformation</code> object.</p>\n            </li>\n            <li>\n               <p>If you specify <code>decisionNumber</code>, you must specify the <code>ppnExceptionDesignationCode</code> in the <code>indonesiaAdditionalInfo</code> field of the <code>additionalTaxInformation</code> object. If the <code>taxRegistrationNumberType</code> is set to NPWP or NITKU, valid values for <code>ppnExceptionDesignationCode</code> are either <code>01</code>, <code>02</code>, <code>03</code>, <code>07</code>, or <code>08</code>.</p>\n               <p>For other <code>taxRegistrationNumberType</code> values, <code>ppnExceptionDesignationCode</code> must be either <code>01</code>, <code>07</code>, or <code>08</code>.</p>\n            </li>\n            <li>\n               <p>If <code>ppnExceptionDesignationCode</code> is <code>07</code>, you must specify the <code>decisionNumber</code> in the <code>indonesiaAdditionalInfo</code> field of the <code>additionalTaxInformation</code> object.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Kenya</b>\n         </p>\n         <ul>\n            <li>\n               <p>You must specify the <code>personType</code> in the <code>kenyaAdditionalInfo</code>\n          field of the <code>additionalTaxInformation</code> object.</p>\n            </li>\n            <li>\n               <p>If the <code>personType</code> is <code>Physical Person</code>, you must specify the\n          tax registration certificate document in the <code>taxRegistrationDocuments</code> field\n          of the <code>VerificationDetails</code> object.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Malaysia</b>\n         </p>\n         <ul>\n            <li>\n               <p>The sector valid values are <code>Business</code> and <code>Individual</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RegistrationType</code> valid values are <code>NRIC</code> for individual, and TIN and sales and service tax (SST) for Business.</p>\n            </li>\n            <li>\n               <p>For individual, you can specify the <code>taxInformationNumber</code> in <code>MalaysiaAdditionalInfo</code> with NRIC type, and a valid <code>MyKad</code> or NRIC number.</p>\n            </li>\n            <li>\n               <p>For business, you must specify a <code>businessRegistrationNumber</code> in <code>MalaysiaAdditionalInfo</code> with a TIN type and tax identification number.</p>\n            </li>\n            <li>\n               <p>For business resellers, you must specify a <code>businessRegistrationNumber</code> and <code>taxInformationNumber</code> in <code>MalaysiaAdditionalInfo</code> with a sales and service tax (SST) type and a valid SST number.</p>\n            </li>\n            <li>\n               <p>For business resellers with service codes, you must specify <code>businessRegistrationNumber</code>, <code>taxInformationNumber</code>, and distinct <code>serviceTaxCodes</code> in <code>MalaysiaAdditionalInfo</code> with a SST type and valid sales and service tax (SST) number. By using this API operation, Amazon Web Services registers your self-declaration that you’re an authorized business reseller registered with the Royal Malaysia Customs Department (RMCD), and have a valid SST number.</p>\n            </li>\n            <li>\n               <p>Amazon Web Services reserves the right to seek additional information and/or take other actions to\n          support your self-declaration as appropriate.</p>\n            </li>\n            <li>\n               <p>Amazon Web Services is currently registered under the following service tax codes. You must include\n          at least one of the service tax codes in the service tax code strings to declare yourself\n          as an authorized registered business reseller.</p>\n               <p>Taxable service and service tax codes:</p>\n               <p>Consultancy - 9907061674</p>\n               <p>Training or coaching service - 9907071685</p>\n               <p>IT service - 9907101676</p>\n               <p>Digital services and electronic medium - 9907121690</p>\n            </li>\n         </ul>\n         <p>\n            <b>Nepal</b>\n         </p>\n         <ul>\n            <li>\n               <p>The sector valid values are <code>Business</code> and <code>Individual</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Saudi Arabia</b>\n         </p>\n         <ul>\n            <li>\n               <p>For <code>address</code>, you must specify <code>addressLine3</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>South Korea</b>\n         </p>\n         <ul>\n            <li>\n               <p>You must specify the <code>certifiedEmailId</code> and <code>legalName</code> in the\n            <code>TaxRegistrationEntry</code> object. Use Korean characters for\n            <code>legalName</code>.</p>\n            </li>\n            <li>\n               <p>You must specify the <code>businessRepresentativeName</code>,\n            <code>itemOfBusiness</code>, and <code>lineOfBusiness</code> in the\n            <code>southKoreaAdditionalInfo</code> field of the <code>additionalTaxInformation</code>\n          object. Use Korean characters for these fields.</p>\n            </li>\n            <li>\n               <p>You must specify the tax registration certificate document in the\n            <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code>\n          object.</p>\n            </li>\n            <li>\n               <p>For the <code>address</code> object, use Korean characters for <code>addressLine1</code>, <code>addressLine2</code>\n                  <code>city</code>, <code>postalCode</code>, and <code>stateOrRegion</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Spain</b>\n         </p>\n         <ul>\n            <li>\n               <p>You must specify the <code>registrationType</code> in the\n            <code>spainAdditionalInfo</code> field of the <code>additionalTaxInformation</code>\n          object.</p>\n            </li>\n            <li>\n               <p>If the <code>registrationType</code> is <code>Local</code>, you must specify the tax\n          registration certificate document in the <code>taxRegistrationDocuments</code> field of\n          the <code>VerificationDetails</code> object.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Turkey</b>\n         </p>\n         <ul>\n            <li>\n               <p>You must specify the <code>sector</code> in the <code>taxRegistrationEntry</code> object.</p>\n            </li>\n            <li>\n               <p>If your <code>sector</code> is <code>Business</code>, <code>Individual</code>, or\n          <code>Government</code>:</p>\n               <ul>\n                  <li>\n                     <p>Specify the <code>taxOffice</code>. If your\n                <code>sector</code> is <code>Individual</code>, don't enter this value.</p>\n                  </li>\n                  <li>\n                     <p>(Optional) Specify the <code>kepEmailId</code>. If your\n                <code>sector</code> is <code>Individual</code>, don't enter this value.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Note:</b> In the  <b>Tax Settings</b> page of the Billing console, <code>Government</code> appears as <b>Public institutions</b>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>If your <code>sector</code> is <code>Business</code> and you're subject to KDV tax,\n          you must specify your industry in the <code>industries</code> field.</p>\n            </li>\n            <li>\n               <p>For <code>address</code>, you must specify <code>districtOrCounty</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Ukraine</b>\n         </p>\n         <ul>\n            <li>\n               <p>The sector valid values are <code>Business</code> and <code>Individual</code>.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/BatchPutTaxRegistration"
        }
      }
    },
    "com.amazonaws.taxsettings#BatchPutTaxRegistrationError": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.taxsettings#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The unique account identifier for the account that the tax registration couldn't be\n      added, or updated during the <code>BatchPutTaxRegistration</code> operation. </p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.taxsettings#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p> The error message for an individual failure in the <code>BatchPutTaxRegistration</code>\n      operation. </p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.amazonaws.taxsettings#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The error code for an individual failure in the <code>BatchPutTaxRegistration</code>\n      operation. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The error object for representing failures in the <code>BatchPutTaxRegistration</code>\n      operation. </p>"
      }
    },
    "com.amazonaws.taxsettings#BatchPutTaxRegistrationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taxsettings#BatchPutTaxRegistrationError"
      }
    },
    "com.amazonaws.taxsettings#BatchPutTaxRegistrationRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.taxsettings#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p> List of unique account identifiers.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 550
            },
            "smithy.api#required": {}
          }
        },
        "taxRegistrationEntry": {
          "target": "com.amazonaws.taxsettings#TaxRegistrationEntry",
          "traits": {
            "smithy.api#documentation": "<p>Your TRN information that will be stored to the accounts mentioned in\n        <code>putEntries</code>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#BatchPutTaxRegistrationResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.taxsettings#TaxRegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of your TRN stored in the system after processing. Based on the validation\n      occurring on the TRN, the status can be <code>Verified</code>, <code>Pending</code> or\n        <code>Rejected</code>. </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.taxsettings#BatchPutTaxRegistrationErrors",
          "traits": {
            "smithy.api#documentation": "<p>List of errors for the accounts the TRN information could not be added or updated to.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.taxsettings#BrazilAdditionalInfo": {
      "type": "structure",
      "members": {
        "ccmCode": {
          "target": "com.amazonaws.taxsettings#CcmCode",
          "traits": {
            "smithy.api#documentation": "<p>The Cadastro de Contribuintes Mobiliários (CCM) code for your TRN in Brazil. This only applies for a CNPJ tax type for the São Paulo municipality.</p>"
          }
        },
        "legalNatureCode": {
          "target": "com.amazonaws.taxsettings#LegalNatureCode",
          "traits": {
            "smithy.api#documentation": "<p>Legal nature of business, based on your TRN in Brazil. This only applies for a CNPJ tax\n      type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional tax information associated with your TRN in Brazil.</p>"
      }
    },
    "com.amazonaws.taxsettings#BusinessRegistrationNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.taxsettings#BusinessRepresentativeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9\\u3130-\\u318F\\uAC00-\\uD7AF,.( )-\\\\s]*$"
      }
    },
    "com.amazonaws.taxsettings#CanadaAdditionalInfo": {
      "type": "structure",
      "members": {
        "provincialSalesTaxId": {
          "target": "com.amazonaws.taxsettings#CanadaProvincialSalesTaxIdString",
          "traits": {
            "smithy.api#documentation": "<p> The provincial sales tax ID for your TRN in Canada. This parameter can represent the\n      following: </p>\n         <ul>\n            <li>\n               <p>Provincial sales tax ID number for British Columbia and Saskatchewan provinces</p>\n            </li>\n            <li>\n               <p>Manitoba retail sales tax ID number for Manitoba province</p>\n            </li>\n            <li>\n               <p>Quebec sales tax ID number for Quebec province</p>\n            </li>\n         </ul>\n         <p>The Tax Setting API only accepts this parameter if the TRN is specified  for the previous\n      provinces. For other provinces, the Tax Settings API doesn't accept this parameter. </p>"
          }
        },
        "canadaQuebecSalesTaxNumber": {
          "target": "com.amazonaws.taxsettings#CanadaQuebecSalesTaxNumberString",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Quebec Sales Tax ID number. Leave blank if you do not have a Quebec Sales Tax ID number.\n    </p>"
          }
        },
        "canadaRetailSalesTaxNumber": {
          "target": "com.amazonaws.taxsettings#CanadaRetailSalesTaxNumberString",
          "traits": {
            "smithy.api#documentation": "<p>\n      Manitoba Retail Sales Tax ID number. Customers purchasing Amazon Web Services services for resale in Manitoba must provide a valid Retail Sales Tax ID number for Manitoba. Leave this blank if you do not have a Retail Sales Tax ID number in Manitoba or are not purchasing Amazon Web Services services for resale.\n    </p>"
          }
        },
        "isResellerAccount": {
          "target": "com.amazonaws.taxsettings#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> The value for this parameter must be <code>true</code> if the\n        <code>provincialSalesTaxId</code> value is provided for a TRN in British Columbia,\n      Saskatchewan, or Manitoba provinces. </p>\n         <p>To claim a provincial sales tax (PST) and retail sales tax (RST) reseller exemption, you\n      must confirm that purchases  from this account were made for resale. Otherwise, remove the PST\n      or RST number from the <code>provincialSalesTaxId</code> parameter from your request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Additional tax information associated with your TRN in Canada .</p>"
      }
    },
    "com.amazonaws.taxsettings#CanadaProvincialSalesTaxIdString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 16
        },
        "smithy.api#pattern": "^([0-9A-Z/-]+)$"
      }
    },
    "com.amazonaws.taxsettings#CanadaQuebecSalesTaxNumberString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^([0-9]{10})(TQ[0-9]{4})?$"
      }
    },
    "com.amazonaws.taxsettings#CanadaRetailSalesTaxNumberString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^([0-9]{6}-[0-9]{1})$"
      }
    },
    "com.amazonaws.taxsettings#CaseCreationLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.taxsettings#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You've exceeded the Amazon Web ServicesSupport case creation limit for your account.\n    </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.taxsettings#CcmCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1024
        },
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.taxsettings#CertifiedEmailId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,20}$"
      }
    },
    "com.amazonaws.taxsettings#CigNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^([0-9A-Z]{1,15})$"
      }
    },
    "com.amazonaws.taxsettings#City": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\s\\S]+$"
      }
    },
    "com.amazonaws.taxsettings#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.taxsettings#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errorCode": {
          "target": "com.amazonaws.taxsettings#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>409</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The exception when the input is creating conflict with the given state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.taxsettings#ContractingAuthorityCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{4}\\.[A-Z]\\d{5}\\.\\d{4}$"
      }
    },
    "com.amazonaws.taxsettings#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#pattern": "^[a-zA-Z]+$"
      }
    },
    "com.amazonaws.taxsettings#CupNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^([0-9A-Z]{1,15})$"
      }
    },
    "com.amazonaws.taxsettings#DateOfBirth": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 10
        },
        "smithy.api#pattern": "^(\\d{4}-(0[0-9]|1[0-2])-([0-2][0-9]|3[0-1]))$"
      }
    },
    "com.amazonaws.taxsettings#DateString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(\\d{4}-(0[0-9]|1[0-2])-([0-2][0-9]|3[0-1]))$"
      }
    },
    "com.amazonaws.taxsettings#DecisionNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^([a-zA-Z0-9/.\\-]{0,200})$"
      }
    },
    "com.amazonaws.taxsettings#DeleteSupplementalTaxRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#DeleteSupplementalTaxRegistrationRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#DeleteSupplementalTaxRegistrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#ConflictException"
        },
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants delete permission"
        },
        "smithy.api#documentation": "<p>\n      Deletes a supplemental tax registration for a single account.\n    </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/DeleteSupplementalTaxRegistration"
        }
      }
    },
    "com.amazonaws.taxsettings#DeleteSupplementalTaxRegistrationRequest": {
      "type": "structure",
      "members": {
        "authorityId": {
          "target": "com.amazonaws.taxsettings#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique authority Id for the supplemental TRN information that needs to be deleted.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#DeleteSupplementalTaxRegistrationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#DeleteTaxRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#DeleteTaxRegistrationRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#DeleteTaxRegistrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#ConflictException"
        },
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants delete permission"
        },
        "smithy.api#documentation": "<p>Deletes tax registration for a single account. </p>\n         <note>\n            <p>This API operation can't be used to delete your tax registration in Brazil. Use the <a href=\"https://console.aws.amazon.com/billing/home#/paymentpreferences/paymentmethods\">Payment preferences</a> page in the Billing and Cost Management console instead.</p>\n         </note>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/DeleteTaxRegistration"
        }
      }
    },
    "com.amazonaws.taxsettings#DeleteTaxRegistrationRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.taxsettings#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Unique account identifier for the TRN information that needs to be deleted. If this isn't\n      passed, the account ID corresponding to the credentials of the API caller will be used for\n      this parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#DeleteTaxRegistrationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#DestinationFilePath": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.taxsettings#DestinationS3Location": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.amazonaws.taxsettings#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your Amazon S3 bucket that you specify to download your tax documents to.</p>",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "com.amazonaws.taxsettings#S3Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 object prefix that you specify for your tax document file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The location of the Amazon S3 bucket that you specify to download your tax documents to.</p>"
      }
    },
    "com.amazonaws.taxsettings#DisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.taxsettings#District": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\s\\S]+$"
      }
    },
    "com.amazonaws.taxsettings#EgyptAdditionalInfo": {
      "type": "structure",
      "members": {
        "uniqueIdentificationNumber": {
          "target": "com.amazonaws.taxsettings#UniqueIdentificationNumber",
          "traits": {
            "smithy.api#documentation": "<p>The unique identification number provided by the Egypt Tax Authority.</p>"
          }
        },
        "uniqueIdentificationNumberExpirationDate": {
          "target": "com.amazonaws.taxsettings#DateString",
          "traits": {
            "smithy.api#documentation": "<p>The expiration date of the unique identification number provided by the Egypt Tax Authority.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Egypt.</p>"
      }
    },
    "com.amazonaws.taxsettings#ElectronicTransactionCodeNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{17}$"
      }
    },
    "com.amazonaws.taxsettings#EnterpriseIdentificationNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(\\d{10}|(\\d{10}-\\d{3}))$"
      }
    },
    "com.amazonaws.taxsettings#EntityExemptionAccountStatus": {
      "type": "enum",
      "members": {
        "None": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "Valid": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Valid"
          }
        },
        "Expired": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "Pending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        }
      }
    },
    "com.amazonaws.taxsettings#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.taxsettings#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\s\\S]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.taxsettings#EstoniaAdditionalInfo": {
      "type": "structure",
      "members": {
        "registryCommercialCode": {
          "target": "com.amazonaws.taxsettings#RegistryCommercialCode",
          "traits": {
            "smithy.api#documentation": "<p> Registry commercial code (RCC) for your TRN in Estonia. This value is an eight-numeric\n      string, such as <code>12345678</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Additional tax information associated with your TRN in Estonia.</p>"
      }
    },
    "com.amazonaws.taxsettings#ExemptionCertificate": {
      "type": "structure",
      "members": {
        "documentName": {
          "target": "com.amazonaws.taxsettings#ExemptionDocumentName",
          "traits": {
            "smithy.api#documentation": "<p>The exemption certificate file name.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "documentFile": {
          "target": "com.amazonaws.taxsettings#ExemptionFileBlob",
          "traits": {
            "smithy.api#documentation": "<p>The exemption certificate file content.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The exemption certificate.\n    </p>"
      }
    },
    "com.amazonaws.taxsettings#ExemptionDocumentName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^([A-Za-z0-9-_.]+).(pdf|jpg|png)$"
      }
    },
    "com.amazonaws.taxsettings#ExemptionFileBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4194304
        }
      }
    },
    "com.amazonaws.taxsettings#FieldName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(?!\\s*$)[\\s\\S]+$"
      }
    },
    "com.amazonaws.taxsettings#FileBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5242880
        }
      }
    },
    "com.amazonaws.taxsettings#GenericString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.taxsettings#GeorgiaAdditionalInfo": {
      "type": "structure",
      "members": {
        "personType": {
          "target": "com.amazonaws.taxsettings#PersonType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The legal person or physical person assigned to this TRN in Georgia.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Georgia.\n    </p>"
      }
    },
    "com.amazonaws.taxsettings#GetTaxExemptionTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#GetTaxExemptionTypesRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#GetTaxExemptionTypesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["tax:GetExemptions"],
          "documentation": "Grants get supported tax exemption types permission"
        },
        "smithy.api#documentation": "<p>Get supported tax exemption types. The IAM action is <code>tax:GetExemptions</code>.\n    </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetTaxExemptionTypes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxExemptionTypesRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxExemptionTypesResponse": {
      "type": "structure",
      "members": {
        "taxExemptionTypes": {
          "target": "com.amazonaws.taxsettings#TaxExemptionTypes",
          "traits": {
            "smithy.api#documentation": "<p>The supported types of tax exemptions.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxInheritance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#GetTaxInheritanceRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#GetTaxInheritanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants get tax inheritance permission"
        },
        "smithy.api#documentation": "<p>The get account tax inheritance status.\n    </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetTaxInheritance"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxInheritanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxInheritanceResponse": {
      "type": "structure",
      "members": {
        "heritageStatus": {
          "target": "com.amazonaws.taxsettings#HeritageStatus",
          "traits": {
            "smithy.api#documentation": "<p>The tax inheritance status.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#GetTaxRegistrationRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#GetTaxRegistrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants retrieve permission"
        },
        "smithy.api#documentation": "<p>Retrieves tax registration for a single account.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetTaxRegistration"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxRegistrationDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#GetTaxRegistrationDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#GetTaxRegistrationDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants retrieve permission"
        },
        "smithy.api#documentation": "<p>Downloads your tax documents to the Amazon S3 bucket that you specify in your\n      request.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetTaxRegistrationDocument"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxRegistrationDocumentRequest": {
      "type": "structure",
      "members": {
        "destinationS3Location": {
          "target": "com.amazonaws.taxsettings#DestinationS3Location",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that you specify to download your tax documents to.</p>"
          }
        },
        "taxDocumentMetadata": {
          "target": "com.amazonaws.taxsettings#TaxDocumentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for your tax document.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxRegistrationDocumentResponse": {
      "type": "structure",
      "members": {
        "destinationFilePath": {
          "target": "com.amazonaws.taxsettings#DestinationFilePath",
          "traits": {
            "smithy.api#documentation": "<p>The file path of the Amazon S3 bucket where you want to download your tax document to.</p>"
          }
        },
        "presignedS3Url": {
          "target": "com.amazonaws.taxsettings#Url",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 presigned URL of the tax registration document.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxRegistrationRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.taxsettings#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Your unique account identifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#GetTaxRegistrationResponse": {
      "type": "structure",
      "members": {
        "taxRegistration": {
          "target": "com.amazonaws.taxsettings#TaxRegistration",
          "traits": {
            "smithy.api#documentation": "<p>TRN information of the account mentioned in the request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#GreeceAdditionalInfo": {
      "type": "structure",
      "members": {
        "contractingAuthorityCode": {
          "target": "com.amazonaws.taxsettings#ContractingAuthorityCode",
          "traits": {
            "smithy.api#documentation": "<p>The code of contracting authority for e-invoicing.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional tax information to specify for a TRN in Greece.\n    </p>"
      }
    },
    "com.amazonaws.taxsettings#HeritageStatus": {
      "type": "enum",
      "members": {
        "OptIn": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OptIn"
          }
        },
        "OptOut": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OptOut"
          }
        }
      }
    },
    "com.amazonaws.taxsettings#IndiaAdditionalInfo": {
      "type": "structure",
      "members": {
        "pan": {
          "target": "com.amazonaws.taxsettings#Pan",
          "traits": {
            "smithy.api#documentation": "<p>\n      India pan information associated with the account.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Additional tax information in India.\n    </p>"
      }
    },
    "com.amazonaws.taxsettings#IndividualRegistrationNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^([0-9]{10})$"
      }
    },
    "com.amazonaws.taxsettings#IndonesiaAdditionalInfo": {
      "type": "structure",
      "members": {
        "taxRegistrationNumberType": {
          "target": "com.amazonaws.taxsettings#IndonesiaTaxRegistrationNumberType",
          "traits": {
            "smithy.api#documentation": "<p>The tax registration number type.</p>"
          }
        },
        "ppnExceptionDesignationCode": {
          "target": "com.amazonaws.taxsettings#PpnExceptionDesignationCode",
          "traits": {
            "smithy.api#documentation": "<p>Exception code if you are designated by Directorate General of Taxation (DGT) as a VAT collector, non-collected VAT, or VAT-exempt customer.</p>"
          }
        },
        "decisionNumber": {
          "target": "com.amazonaws.taxsettings#DecisionNumber",
          "traits": {
            "smithy.api#documentation": "<p>VAT-exempt customers have a Directorate General of Taxation (DGT) exemption letter or certificate (Surat Keterangan Bebas) decision number. Non-collected VAT have a DGT letter or certificate (Surat Keterangan Tidak Dipungut).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional tax information associated with your TRN in Indonesia.</p>"
      }
    },
    "com.amazonaws.taxsettings#IndonesiaTaxRegistrationNumberType": {
      "type": "enum",
      "members": {
        "NIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIK"
          }
        },
        "PASSPORT_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PassportNumber"
          }
        },
        "NPWP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NPWP"
          }
        },
        "NITKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NITKU"
          }
        }
      }
    },
    "com.amazonaws.taxsettings#Industries": {
      "type": "enum",
      "members": {
        "CIRCULATING_ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CirculatingOrg"
          }
        },
        "PROFESSIONAL_ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProfessionalOrg"
          }
        },
        "BANKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Banks"
          }
        },
        "INSURANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Insurance"
          }
        },
        "PENSION_AND_BENEFIT_FUNDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PensionAndBenefitFunds"
          }
        },
        "DEVELOPMENT_AGENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DevelopmentAgencies"
          }
        }
      }
    },
    "com.amazonaws.taxsettings#InheritanceObtainedReason": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.taxsettings#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.taxsettings#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errorCode": {
          "target": "com.amazonaws.taxsettings#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>500</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The exception thrown when an unexpected error occurs when processing a request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.taxsettings#IsraelAdditionalInfo": {
      "type": "structure",
      "members": {
        "dealerType": {
          "target": "com.amazonaws.taxsettings#IsraelDealerType",
          "traits": {
            "smithy.api#documentation": "<p> Dealer type for your TRN in Israel. If you're not a local authorized dealer with an\n      Israeli VAT ID, specify your tax identification number so that Amazon Web Services can send you\n      a compliant tax invoice.</p>",
            "smithy.api#required": {}
          }
        },
        "customerType": {
          "target": "com.amazonaws.taxsettings#IsraelCustomerType",
          "traits": {
            "smithy.api#documentation": "<p> Customer type for your TRN in Israel. The value can be <code>Business</code> or\n        <code>Individual</code>. Use <code>Business</code>for entities such as not-for-profit and\n      financial institutions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Additional tax information associated with your TRN in Israel.</p>"
      }
    },
    "com.amazonaws.taxsettings#IsraelCustomerType": {
      "type": "enum",
      "members": {
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business"
          }
        },
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Individual"
          }
        }
      }
    },
    "com.amazonaws.taxsettings#IsraelDealerType": {
      "type": "enum",
      "members": {
        "AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Authorized"
          }
        },
        "NON_AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Non-authorized"
          }
        }
      }
    },
    "com.amazonaws.taxsettings#ItalyAdditionalInfo": {
      "type": "structure",
      "members": {
        "sdiAccountId": {
          "target": "com.amazonaws.taxsettings#SdiAccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information to specify for a TRN in Italy. Use CodiceDestinatario to receive your invoices via web service (API) or FTP.\n    </p>"
          }
        },
        "cigNumber": {
          "target": "com.amazonaws.taxsettings#CigNumber",
          "traits": {
            "smithy.api#documentation": "<p>\n      The tender procedure identification code.\n    </p>"
          }
        },
        "cupNumber": {
          "target": "com.amazonaws.taxsettings#CupNumber",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional tax information to specify for a TRN in Italy. This is managed by the Interministerial Committee for Economic Planning (CIPE) which characterizes every public investment project (Individual Project Code).\n    </p>"
          }
        },
        "taxCode": {
          "target": "com.amazonaws.taxsettings#TaxCode",
          "traits": {
            "smithy.api#documentation": "<p>List of service tax codes for your TRN in Italy. You can use your customer tax code as part of a VAT Group.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Italy.\n    </p>"
      }
    },
    "com.amazonaws.taxsettings#ItemOfBusiness": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[0-9\\u3130-\\u318F\\uAC00-\\uD7AF,.( )-\\\\s]*$"
      }
    },
    "com.amazonaws.taxsettings#Jurisdiction": {
      "type": "structure",
      "members": {
        "stateOrRegion": {
          "target": "com.amazonaws.taxsettings#State",
          "traits": {
            "smithy.api#documentation": "<p> The state, region, or province associated with the country of the jurisdiction, if\n      applicable. </p>"
          }
        },
        "countryCode": {
          "target": "com.amazonaws.taxsettings#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p> The country code of the jurisdiction. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The jurisdiction details of the TRN information of the customers. This doesn't contain\n      full legal address, and contains only country code and state/region/province. </p>"
      }
    },
    "com.amazonaws.taxsettings#KenyaAdditionalInfo": {
      "type": "structure",
      "members": {
        "personType": {
          "target": "com.amazonaws.taxsettings#PersonType",
          "traits": {
            "smithy.api#documentation": "<p>The legal person or physical person assigned to this TRN in Kenya.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional tax information associated with your TRN in Kenya.</p>"
      }
    },
    "com.amazonaws.taxsettings#KepEmailId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.taxsettings#LegalName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\s\\S]+$"
      }
    },
    "com.amazonaws.taxsettings#LegalNatureCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1024
        },
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.taxsettings#LineOfBusiness": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[0-9\\u3130-\\u318F\\uAC00-\\uD7AF,.( )-\\\\s]*$"
      }
    },
    "com.amazonaws.taxsettings#ListSupplementalTaxRegistrations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#ListSupplementalTaxRegistrationsRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#ListSupplementalTaxRegistrationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants retrieve permission"
        },
        "smithy.api#documentation": "<p>\n      Retrieves supplemental tax registrations for a single account.\n    </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListSupplementalTaxRegistrations"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "taxRegistrations",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.taxsettings#ListSupplementalTaxRegistrationsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.taxsettings#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n      The number of <code>taxRegistrations</code> results you want in one response.\n    </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.taxsettings#PaginationTokenString",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token to retrieve the next set of results. \n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#ListSupplementalTaxRegistrationsResponse": {
      "type": "structure",
      "members": {
        "taxRegistrations": {
          "target": "com.amazonaws.taxsettings#SupplementalTaxRegistrationList",
          "traits": {
            "smithy.api#documentation": "<p>\n      The list of supplemental tax registrations. \n    </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.taxsettings#PaginationTokenString",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token to retrieve the next set of results. \n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#ListTaxExemptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#ListTaxExemptionsRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#ListTaxExemptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["tax:GetExemptions"],
          "documentation": "Grants list the active tax exemptions for a CB family permission"
        },
        "smithy.api#documentation": "<p>Retrieves the tax exemption of accounts listed in a consolidated billing family. The IAM action is <code>tax:GetExemptions</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListTaxExemptions"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "taxExemptionDetailsMap",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.taxsettings#ListTaxExemptionsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.taxsettings#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of results you want in one response.\n    </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.taxsettings#PaginationTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#ListTaxExemptionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.taxsettings#PaginationTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. </p>"
          }
        },
        "taxExemptionDetailsMap": {
          "target": "com.amazonaws.taxsettings#TaxExemptionDetailsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tax exemption details map of <code>accountId</code> and tax exemption details.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#ListTaxRegistrations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#ListTaxRegistrationsRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#ListTaxRegistrationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants retrieve permission"
        },
        "smithy.api#documentation": "<p>Retrieves the tax registration of accounts listed in a consolidated billing family. This\n      can be used to retrieve up to 100 accounts' tax registrations in one call (default 50).\n    </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListTaxRegistrations"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "accountDetails",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.taxsettings#ListTaxRegistrationsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.taxsettings#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Number of <code>accountDetails</code> results you want in one response. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.taxsettings#PaginationTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#ListTaxRegistrationsResponse": {
      "type": "structure",
      "members": {
        "accountDetails": {
          "target": "com.amazonaws.taxsettings#AccountDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of account details. This contains account Ids and TRN Information for each of the\n      linked accounts. </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.taxsettings#PaginationTokenString",
          "traits": {
            "smithy.api#documentation": "<p> The token to retrieve the next set of results. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#MalaysiaAdditionalInfo": {
      "type": "structure",
      "members": {
        "serviceTaxCodes": {
          "target": "com.amazonaws.taxsettings#MalaysiaServiceTaxCodesList",
          "traits": {
            "smithy.api#addedDefault": {},
            "smithy.api#default": [],
            "smithy.api#documentation": "<p>List of service tax codes for your TRN in Malaysia.</p>"
          }
        },
        "taxInformationNumber": {
          "target": "com.amazonaws.taxsettings#TaxInformationNumber",
          "traits": {
            "smithy.api#documentation": "<p>The tax information number in Malaysia. \n    </p>\n         <p>For individual, you can specify the <code>taxInformationNumber</code> in <code>MalaysiaAdditionalInfo</code> with NRIC type, and a valid MyKad or NRIC number. For business resellers, you must specify a <code>businessRegistrationNumber</code> and <code>taxInformationNumber</code> in <code>MalaysiaAdditionalInfo</code> with a sales and service tax (SST) type and a valid SST number.\n    </p>\n         <p>For business resellers with service codes, you must specify <code>businessRegistrationNumber</code>, <code>taxInformationNumber</code>, and distinct <code>serviceTaxCodes</code> in <code>MalaysiaAdditionalInfo</code> with a SST type and valid sales and service tax (SST) number. By using this API operation, Amazon Web Services registers your self-declaration that you’re an authorized business reseller registered with the Royal Malaysia Customs Department (RMCD), and have a valid SST number.</p>"
          }
        },
        "businessRegistrationNumber": {
          "target": "com.amazonaws.taxsettings#BusinessRegistrationNumber",
          "traits": {
            "smithy.api#documentation": "<p>The tax registration number (TRN) in Malaysia. </p>\n         <p>For individual, you can specify the <code>taxInformationNumber</code> in <code>MalaysiaAdditionalInfo</code> with NRIC type, and a valid MyKad or NRIC number. For business, you must specify a <code>businessRegistrationNumber</code> in <code>MalaysiaAdditionalInfo</code> with a TIN type and tax identification number. For business resellers, you must specify a <code>businessRegistrationNumber</code> and <code>taxInformationNumber</code> in <code>MalaysiaAdditionalInfo</code> with a sales and service tax (SST) type and a valid SST number.\n    </p>\n         <p>For business resellers with service codes, you must specify <code>businessRegistrationNumber</code>, <code>taxInformationNumber</code>, and distinct <code>serviceTaxCodes</code> in <code>MalaysiaAdditionalInfo</code> with a SST type and valid sales and service tax (SST) number. By using this API operation, Amazon Web Services registers your self-declaration that you’re an authorized business reseller registered with the Royal Malaysia Customs Department (RMCD), and have a valid SST number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Additional tax information associated with your TRN in Malaysia.</p>"
      }
    },
    "com.amazonaws.taxsettings#MalaysiaServiceTaxCode": {
      "type": "enum",
      "members": {
        "CONSULTANCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Consultancy"
          }
        },
        "DIGITAL_SVC_ELECTRONIC_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Digital Service And Electronic Medium"
          }
        },
        "IT_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT Services"
          }
        },
        "TRAINING_OR_COACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Training Or Coaching"
          }
        }
      }
    },
    "com.amazonaws.taxsettings#MalaysiaServiceTaxCodesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taxsettings#MalaysiaServiceTaxCode"
      },
      "traits": {
        "smithy.api#length": {
          "max": 4
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.taxsettings#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.taxsettings#PaginationTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        },
        "smithy.api#pattern": "^[-A-Za-z0-9_+\\=\\/]+$"
      }
    },
    "com.amazonaws.taxsettings#Pan": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Z]{5}[0-9]{4}[A-Z]{1}$"
      }
    },
    "com.amazonaws.taxsettings#PaymentVoucherNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(\\d{17}|[A-Za-z]{3}\\d{13})$"
      }
    },
    "com.amazonaws.taxsettings#PersonType": {
      "type": "enum",
      "members": {
        "LEGAL_PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Legal Person"
          }
        },
        "PHYSICAL_PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Physical Person"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business"
          }
        }
      }
    },
    "com.amazonaws.taxsettings#PolandAdditionalInfo": {
      "type": "structure",
      "members": {
        "individualRegistrationNumber": {
          "target": "com.amazonaws.taxsettings#IndividualRegistrationNumber",
          "traits": {
            "smithy.api#documentation": "<p>\n      The individual tax registration number (NIP). Individual NIP is valid for other taxes excluding VAT purposes.\n    </p>"
          }
        },
        "isGroupVatEnabled": {
          "target": "com.amazonaws.taxsettings#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n      True if your business is a member of a VAT group with a NIP active for VAT purposes. Otherwise, this is false.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Additional tax information associated with your TRN in Poland.\n    </p>"
      }
    },
    "com.amazonaws.taxsettings#PostalCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\s\\S]+$"
      }
    },
    "com.amazonaws.taxsettings#PpnExceptionDesignationCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(01|02|03|07|08)$"
      }
    },
    "com.amazonaws.taxsettings#PutSupplementalTaxRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#PutSupplementalTaxRegistrationRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#PutSupplementalTaxRegistrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#ConflictException"
        },
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants store permission"
        },
        "smithy.api#documentation": "<p>\n      Stores supplemental tax registration for a single account.\n    </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/PutSupplementalTaxRegistration"
        }
      }
    },
    "com.amazonaws.taxsettings#PutSupplementalTaxRegistrationRequest": {
      "type": "structure",
      "members": {
        "taxRegistrationEntry": {
          "target": "com.amazonaws.taxsettings#SupplementalTaxRegistrationEntry",
          "traits": {
            "smithy.api#documentation": "<p>\n      The supplemental TRN information that will be stored for the caller account ID.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.taxsettings#PutSupplementalTaxRegistrationResponse": {
      "type": "structure",
      "members": {
        "authorityId": {
          "target": "com.amazonaws.taxsettings#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n      Unique authority ID for the supplemental TRN information that was stored.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.taxsettings#TaxRegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n      The status of the supplemental TRN stored in the system after processing. Based on the validation occurring on the TRN, the status can be <code>Verified</code>, <code>Pending</code>, <code>Rejected</code>, or <code>Deleted</code>.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.taxsettings#PutTaxExemption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taxsettings#PutTaxExemptionRequest"
      },
      "output": {
        "target": "com.amazonaws.taxsettings#PutTaxExemptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.taxsettings#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taxsettings#AttachmentUploadException"
        },
        {
          "target": "com.amazonaws.taxsettings#CaseCreationLimitExceededException"
        },
        {
          "target": "com.amazonaws.taxsettings#InternalServerException"
        },
        {
          "target": "com.amazonaws.taxsettings#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taxsettings#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["tax:UpdateExemptions", "support:CreateCase", "support:AddAttachmentsToSet"],
          "documentation": "Grants create customer tax exemption case permission"
        },
[...]
