{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.textract#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You aren't authorized to perform the action. Use the Amazon Resource Name (ARN) \n            of an authorized user or IAM role to perform the operation.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.textract#AnalyzeDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.textract#AnalyzeDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.textract#AnalyzeDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.textract#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.textract#BadDocumentException"
        },
        {
          "target": "com.amazonaws.textract#DocumentTooLargeException"
        },
        {
          "target": "com.amazonaws.textract#HumanLoopQuotaExceededException"
        },
        {
          "target": "com.amazonaws.textract#InternalServerError"
        },
        {
          "target": "com.amazonaws.textract#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.textract#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.textract#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.textract#ThrottlingException"
        },
        {
          "target": "com.amazonaws.textract#UnsupportedDocumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Analyzes an input document for relationships between detected items. </p>\n         <p>The types of information returned are as follows: </p>\n         <ul>\n            <li>\n               <p>Form data (key-value pairs). The related information is returned in two <a>Block</a> objects, each of type <code>KEY_VALUE_SET</code>: a KEY\n                  <code>Block</code> object and a VALUE <code>Block</code> object. For example,\n                  <i>Name: Ana Silva Carolina</i> contains a key and value.\n                  <i>Name:</i> is the key. <i>Ana Silva Carolina</i> is\n               the value.</p>\n            </li>\n            <li>\n               <p>Table and table cell data. A TABLE <code>Block</code> object contains information\n               about a detected table. A CELL <code>Block</code> object is returned for each cell in\n               a table.</p>\n            </li>\n            <li>\n               <p>Lines and words of text. A LINE <code>Block</code> object contains one or more\n               WORD <code>Block</code> objects. All lines and words that are detected in the\n               document are returned (including text that doesn't have a relationship with the value\n               of <code>FeatureTypes</code>). </p>\n            </li>\n            <li>\n               <p>Signatures. A SIGNATURE <code>Block</code> object contains the location information\n               of a signature in a document. If used in conjunction with forms or tables, a signature\n               can be given a Key-Value pairing or be detected in the cell of a table.</p>\n            </li>\n            <li>\n               <p>Query. A QUERY Block object contains the query text, alias and link to the\n               associated Query results block object.</p>\n            </li>\n            <li>\n               <p>Query Result. A QUERY_RESULT Block object contains the answer to the query and an\n               ID that connects it to the query asked. This Block also contains a confidence\n               score.</p>\n            </li>\n         </ul>\n\n         <p>Selection elements such as check boxes and option buttons (radio buttons) can be\n         detected in form data and in tables. A SELECTION_ELEMENT <code>Block</code> object contains\n         information about a selection element, including the selection status.</p>\n\n         <p>You can choose which type of analysis to perform by specifying the\n            <code>FeatureTypes</code> list. </p>\n         <p>The output is returned in a list of <code>Block</code> objects.</p>\n         <p>\n            <code>AnalyzeDocument</code> is a synchronous operation. To analyze documents\n         asynchronously, use <a>StartDocumentAnalysis</a>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/how-it-works-analyzing.html\">Document Text\n         Analysis</a>.</p>"
      }
    },
    "com.amazonaws.textract#AnalyzeDocumentRequest": {
      "type": "structure",
      "members": {
        "Document": {
          "target": "com.amazonaws.textract#Document",
          "traits": {
            "smithy.api#documentation": "<p>The input document as base64-encoded bytes or an Amazon S3 object. If you use the AWS\n         CLI to call Amazon Textract operations, you can't pass image bytes. The document must be an\n         image in JPEG, PNG, PDF, or TIFF format.</p>\n         <p>If you're using an AWS SDK to call Amazon Textract, you might not need to base64-encode\n         image bytes that are passed using the <code>Bytes</code> field. </p>",
            "smithy.api#required": {}
          }
        },
        "FeatureTypes": {
          "target": "com.amazonaws.textract#FeatureTypes",
          "traits": {
            "smithy.api#documentation": "<p>A list of the types of analysis to perform. Add TABLES to the list to return information\n         about the tables that are detected in the input document. Add FORMS to return detected form\n         data. Add SIGNATURES to return the locations of detected signatures. To perform both forms \n         and table analysis, add TABLES and FORMS to <code>FeatureTypes</code>. To detect signatures within\n         form data and table data, add SIGNATURES to either TABLES or FORMS.\n         All lines and words detected in the document are included in the response (including text\n         that isn't related to the value of <code>FeatureTypes</code>). </p>",
            "smithy.api#required": {}
          }
        },
        "HumanLoopConfig": {
          "target": "com.amazonaws.textract#HumanLoopConfig",
          "traits": {
            "smithy.api#documentation": "<p>Sets the configuration for the human in the loop workflow for analyzing\n         documents.</p>"
          }
        },
        "QueriesConfig": {
          "target": "com.amazonaws.textract#QueriesConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains Queries and the alias for those Queries, as determined by the input. </p>"
          }
        }
      }
    },
    "com.amazonaws.textract#AnalyzeDocumentResponse": {
      "type": "structure",
      "members": {
        "DocumentMetadata": {
          "target": "com.amazonaws.textract#DocumentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata about the analyzed document. An example is the number of pages.</p>"
          }
        },
        "Blocks": {
          "target": "com.amazonaws.textract#BlockList",
          "traits": {
            "smithy.api#documentation": "<p>The items that are detected and analyzed by <code>AnalyzeDocument</code>.</p>"
          }
        },
        "HumanLoopActivationOutput": {
          "target": "com.amazonaws.textract#HumanLoopActivationOutput",
          "traits": {
            "smithy.api#documentation": "<p>Shows the results of the human in the loop evaluation.</p>"
          }
        },
        "AnalyzeDocumentModelVersion": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model used to analyze the document.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#AnalyzeExpense": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.textract#AnalyzeExpenseRequest"
      },
      "output": {
        "target": "com.amazonaws.textract#AnalyzeExpenseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.textract#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.textract#BadDocumentException"
        },
        {
          "target": "com.amazonaws.textract#DocumentTooLargeException"
        },
        {
          "target": "com.amazonaws.textract#InternalServerError"
        },
        {
          "target": "com.amazonaws.textract#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.textract#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.textract#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.textract#ThrottlingException"
        },
        {
          "target": "com.amazonaws.textract#UnsupportedDocumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>AnalyzeExpense</code> synchronously analyzes an input document for financially\n         related relationships between text.</p>\n         <p>Information is returned as <code>ExpenseDocuments</code> and seperated as\n         follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>LineItemGroups</code>- A data set containing <code>LineItems</code> which\n               store information about the lines of text, such as an item purchased and its price on\n               a receipt.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SummaryFields</code>- Contains all other information a receipt, such as\n               header information or the vendors name.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.textract#AnalyzeExpenseRequest": {
      "type": "structure",
      "members": {
        "Document": {
          "target": "com.amazonaws.textract#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.textract#AnalyzeExpenseResponse": {
      "type": "structure",
      "members": {
        "DocumentMetadata": {
          "target": "com.amazonaws.textract#DocumentMetadata"
        },
        "ExpenseDocuments": {
          "target": "com.amazonaws.textract#ExpenseDocumentList",
          "traits": {
            "smithy.api#documentation": "<p>The expenses detected by Amazon Textract.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#AnalyzeID": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.textract#AnalyzeIDRequest"
      },
      "output": {
        "target": "com.amazonaws.textract#AnalyzeIDResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.textract#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.textract#BadDocumentException"
        },
        {
          "target": "com.amazonaws.textract#DocumentTooLargeException"
        },
        {
          "target": "com.amazonaws.textract#InternalServerError"
        },
        {
          "target": "com.amazonaws.textract#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.textract#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.textract#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.textract#ThrottlingException"
        },
        {
          "target": "com.amazonaws.textract#UnsupportedDocumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Analyzes identity documents for relevant information. This information is extracted and\n         returned as <code>IdentityDocumentFields</code>, which records both the normalized field\n         and value of the extracted text.Unlike other Amazon Textract operations,\n            <code>AnalyzeID</code> doesn't return any Geometry data.</p>"
      }
    },
    "com.amazonaws.textract#AnalyzeIDDetections": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>Text of either the normalized field or value associated with it.</p>",
            "smithy.api#required": {}
          }
        },
        "NormalizedValue": {
          "target": "com.amazonaws.textract#NormalizedValue",
          "traits": {
            "smithy.api#documentation": "<p>Only returned for dates, returns the type of value detected and the date\n         written in a more machine readable way.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.textract#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score of the detected text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to contain the information detected by an AnalyzeID operation.</p>"
      }
    },
    "com.amazonaws.textract#AnalyzeIDRequest": {
      "type": "structure",
      "members": {
        "DocumentPages": {
          "target": "com.amazonaws.textract#DocumentPages",
          "traits": {
            "smithy.api#documentation": "<p>The document being passed to AnalyzeID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.textract#AnalyzeIDResponse": {
      "type": "structure",
      "members": {
        "IdentityDocuments": {
          "target": "com.amazonaws.textract#IdentityDocumentList",
          "traits": {
            "smithy.api#documentation": "<p>The list of documents processed by AnalyzeID. Includes a number denoting their place in\n         the list and the response structure for the document.</p>"
          }
        },
        "DocumentMetadata": {
          "target": "com.amazonaws.textract#DocumentMetadata"
        },
        "AnalyzeIDModelVersion": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the AnalyzeIdentity API being used to process documents.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#BadDocumentException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Textract isn't able to read the document. For more information on the document\n         limits in Amazon Textract, see <a>limits</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.textract#Block": {
      "type": "structure",
      "members": {
        "BlockType": {
          "target": "com.amazonaws.textract#BlockType",
          "traits": {
            "smithy.api#documentation": "<p>The type of text item that's recognized. In operations for text detection, the following\n         types are returned:</p>\n         <ul>\n            <li>\n               <p>\n                  <i>PAGE</i> - Contains a list of the LINE <code>Block</code> objects\n               that are detected on a document page.</p>\n            </li>\n            <li>\n               <p>\n                  <i>WORD</i> - A word detected on a document page. A word is one or\n               more ISO basic Latin script characters that aren't separated by spaces.</p>\n            </li>\n            <li>\n               <p>\n                  <i>LINE</i> - A string of tab-delimited, contiguous words that are\n               detected on a document page.</p>\n            </li>\n         </ul>\n         <p>In text analysis operations, the following types are returned:</p>\n         <ul>\n            <li>\n               <p>\n                  <i>PAGE</i> - Contains a list of child <code>Block</code> objects\n               that are detected on a document page.</p>\n            </li>\n            <li>\n               <p>\n                  <i>KEY_VALUE_SET</i> - Stores the KEY and VALUE <code>Block</code>\n               objects for linked text that's detected on a document page. Use the\n                  <code>EntityType</code> field to determine if a KEY_VALUE_SET object is a KEY\n                  <code>Block</code> object or a VALUE <code>Block</code> object. </p>\n            </li>\n            <li>\n               <p>\n                  <i>WORD</i> - A word that's detected on a document page. A word is\n               one or more ISO basic Latin script characters that aren't separated by spaces.</p>\n            </li>\n            <li>\n               <p>\n                  <i>LINE</i> - A string of tab-delimited, contiguous words that are\n               detected on a document page.</p>\n            </li>\n            <li>\n               <p>\n                  <i>TABLE</i> - A table that's detected on a document page. A table\n               is grid-based information with two or more rows or columns, with a cell span of one\n               row and one column each. </p>\n            </li>\n            <li>\n               <p>\n                  <i>CELL</i> - A cell within a detected table. The cell is the parent\n               of the block that contains the text in the cell.</p>\n            </li>\n            <li>\n               <p>\n                  <i>SELECTION_ELEMENT</i> - A selection element such as an option\n               button (radio button) or a check box that's detected on a document page. Use the\n               value of <code>SelectionStatus</code> to determine the status of the selection\n               element.</p>\n            </li>\n            <li>\n               <p>\n                  <i>SIGNATURE</i> - The location and confidene score of a signature detected on a\n               document page. Can be returned as part of a Key-Value pair or a detected cell.</p>\n            </li>\n            <li>\n               <p>\n                  <i>QUERY</i> - A question asked during the call of AnalyzeDocument. Contains an\n               alias and an ID that attaches it to its answer.</p>\n            </li>\n            <li>\n               <p>\n                  <i>QUERY_RESULT</i> - A response to a question asked during the call\n               of analyze document. Comes with an alias and ID for ease of locating in a \n               response. Also contains location and confidence score.</p>\n            </li>\n         </ul>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.textract#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score that Amazon Textract has in the accuracy of the recognized text and\n         the accuracy of the geometry points around the recognized text.</p>"
          }
        },
        "Text": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or line of text that's recognized by Amazon Textract. </p>"
          }
        },
        "TextType": {
          "target": "com.amazonaws.textract#TextType",
          "traits": {
            "smithy.api#documentation": "<p>The kind of text that Amazon Textract has detected. Can check for handwritten text and\n         printed text.</p>"
          }
        },
        "RowIndex": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The row in which a table cell is located. The first row position is 1.\n            <code>RowIndex</code> isn't returned by <code>DetectDocumentText</code> and\n            <code>GetDocumentTextDetection</code>.</p>"
          }
        },
        "ColumnIndex": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The column in which a table cell appears. The first column position is 1.\n            <code>ColumnIndex</code> isn't returned by <code>DetectDocumentText</code> and\n            <code>GetDocumentTextDetection</code>.</p>"
          }
        },
        "RowSpan": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of rows that a table cell spans. Currently this value is always 1, even if\n         the number of rows spanned is greater than 1. <code>RowSpan</code> isn't returned by\n            <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.</p>"
          }
        },
        "ColumnSpan": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of columns that a table cell spans. Currently this value is always 1, even if\n         the number of columns spanned is greater than 1. <code>ColumnSpan</code> isn't returned by\n            <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>. </p>"
          }
        },
        "Geometry": {
          "target": "com.amazonaws.textract#Geometry",
          "traits": {
            "smithy.api#documentation": "<p>The location of the recognized text on the image. It includes an axis-aligned, coarse\n         bounding box that surrounds the text, and a finer-grain polygon for more accurate spatial\n         information. </p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.textract#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the recognized text. The identifier is only unique for a single\n         operation. </p>"
          }
        },
        "Relationships": {
          "target": "com.amazonaws.textract#RelationshipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of child blocks of the current block. For example, a LINE object has child blocks\n         for each WORD block that's part of the line of text. There aren't Relationship objects in\n         the list for relationships that don't exist, such as when the current block has no child\n         blocks. The list size can be the following:</p>\n         <ul>\n            <li>\n               <p>0 - The block has no child blocks.</p>\n            </li>\n            <li>\n               <p>1 - The block has child blocks.</p>\n            </li>\n         </ul>"
          }
        },
        "EntityTypes": {
          "target": "com.amazonaws.textract#EntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity. The following can be returned:</p>\n         <ul>\n            <li>\n               <p>\n                  <i>KEY</i> - An identifier for a field on the document.</p>\n            </li>\n            <li>\n               <p>\n                  <i>VALUE</i> - The field text.</p>\n            </li>\n         </ul>\n         <p>\n            <code>EntityTypes</code> isn't returned by <code>DetectDocumentText</code> and\n            <code>GetDocumentTextDetection</code>.</p>"
          }
        },
        "SelectionStatus": {
          "target": "com.amazonaws.textract#SelectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The selection status of a selection element, such as an option button or check box.\n      </p>"
          }
        },
        "Page": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The page on which a block was detected. <code>Page</code> is returned by synchronous and\n         asynchronous operations. Page values greater than 1 are only returned for multipage\n         documents that are in PDF or TIFF format. A scanned image (JPEG/PNG) provided to an\n         asynchronous operation, even if it contains multiple document pages, is considered a\n         single-page document. This means that for scanned images the value of <code>Page</code> is\n         always 1. Synchronous operations operations will also return a <code>Page</code> value of 1\n         because every input document is considered to be a single-page document.</p>"
          }
        },
        "Query": {
          "target": "com.amazonaws.textract#Query",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <code>Block</code> represents items that are recognized in a document within a group\n         of pixels close to each other. The information returned in a <code>Block</code> object\n         depends on the type of operation. In text detection for documents (for example <a>DetectDocumentText</a>), you get information about the detected words and lines\n         of text. In text analysis (for example <a>AnalyzeDocument</a>), you can also get\n         information about the fields, tables, and selection elements that are detected in the\n         document.</p>\n         <p>An array of <code>Block</code> objects is returned by both synchronous and asynchronous\n         operations. In synchronous operations, such as <a>DetectDocumentText</a>, the\n         array of <code>Block</code> objects is the entire set of results. In asynchronous\n         operations, such as <a>GetDocumentAnalysis</a>, the array is returned over one\n         or more responses.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/how-it-works.html\">How Amazon Textract Works</a>.</p>"
      }
    },
    "com.amazonaws.textract#BlockList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#Block"
      }
    },
    "com.amazonaws.textract#BlockType": {
      "type": "enum",
      "members": {
        "KEY_VALUE_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_VALUE_SET"
          }
        },
        "PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "WORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORD"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "CELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CELL"
          }
        },
        "SELECTION_ELEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_ELEMENT"
          }
        },
        "MERGED_CELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGED_CELL"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY"
          }
        },
        "QUERY_RESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_RESULT"
          }
        },
        "SIGNATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNATURE"
          }
        }
      }
    },
    "com.amazonaws.textract#BoundingBox": {
      "type": "structure",
      "members": {
        "Width": {
          "target": "com.amazonaws.textract#Float",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The width of the bounding box as a ratio of the overall document page\n         width.</p>"
          }
        },
        "Height": {
          "target": "com.amazonaws.textract#Float",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The height of the bounding box as a ratio of the overall document page\n         height.</p>"
          }
        },
        "Left": {
          "target": "com.amazonaws.textract#Float",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The left coordinate of the bounding box as a ratio of overall document page\n         width.</p>"
          }
        },
        "Top": {
          "target": "com.amazonaws.textract#Float",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The top coordinate of the bounding box as a ratio of overall document page\n         height.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The bounding box around the detected page, text, key-value pair, table, table cell, or\n         selection element on a document page. The <code>left</code> (x-coordinate) and\n            <code>top</code> (y-coordinate) are coordinates that represent the top and left sides of\n         the bounding box. Note that the upper-left corner of the image is the origin (0,0). </p>\n         <p>The <code>top</code> and <code>left</code> values returned are ratios of the overall\n         document page size. For example, if the input image is 700 x 200 pixels, and the top-left\n         coordinate of the bounding box is 350 x 50 pixels, the API returns a <code>left</code>\n         value of 0.5 (350/700) and a <code>top</code> value of 0.25 (50/200).</p>\n         <p>The <code>width</code> and <code>height</code> values represent the dimensions of the\n         bounding box as a ratio of the overall document page dimension. For example, if the\n         document page size is 700 x 200 pixels, and the bounding box width is 70 pixels, the width\n         returned is 0.1. </p>"
      }
    },
    "com.amazonaws.textract#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.textract#ContentClassifier": {
      "type": "enum",
      "members": {
        "FREE_OF_PERSONALLY_IDENTIFIABLE_INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FreeOfPersonallyIdentifiableInformation"
          }
        },
        "FREE_OF_ADULT_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FreeOfAdultContent"
          }
        }
      }
    },
    "com.amazonaws.textract#ContentClassifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#ContentClassifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.textract#DetectDocumentText": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.textract#DetectDocumentTextRequest"
      },
      "output": {
        "target": "com.amazonaws.textract#DetectDocumentTextResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.textract#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.textract#BadDocumentException"
        },
        {
          "target": "com.amazonaws.textract#DocumentTooLargeException"
        },
        {
          "target": "com.amazonaws.textract#InternalServerError"
        },
        {
          "target": "com.amazonaws.textract#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.textract#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.textract#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.textract#ThrottlingException"
        },
        {
          "target": "com.amazonaws.textract#UnsupportedDocumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detects text in the input document. Amazon Textract can detect lines of text and the\n         words that make up a line of text. The input document must be in one of the following image\n         formats:  JPEG, PNG, PDF, or TIFF. <code>DetectDocumentText</code> returns the detected\n         text in an array of <a>Block</a> objects. </p>\n         <p>Each document page has as an associated <code>Block</code> of type PAGE. Each PAGE <code>Block</code> object\n         is the parent of LINE <code>Block</code> objects that represent the lines of detected text on a page. A LINE <code>Block</code> object is\n         a parent for each word that makes up the line. Words are represented by <code>Block</code> objects of type WORD.</p>\n      \n         <p>\n            <code>DetectDocumentText</code> is a synchronous operation. To analyze documents \n         asynchronously, use <a>StartDocumentTextDetection</a>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/how-it-works-detecting.html\">Document Text Detection</a>.</p>"
      }
    },
    "com.amazonaws.textract#DetectDocumentTextRequest": {
      "type": "structure",
      "members": {
        "Document": {
          "target": "com.amazonaws.textract#Document",
          "traits": {
            "smithy.api#documentation": "<p>The input document as base64-encoded bytes or an Amazon S3 object. If you use the AWS CLI\n         to call Amazon Textract operations, you can't pass image bytes. The document must be an image \n      in JPEG or PNG format.</p>\n         <p>If you're using an AWS SDK to call Amazon Textract, you might not need to base64-encode\n         image bytes that are passed using the <code>Bytes</code> field. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.textract#DetectDocumentTextResponse": {
      "type": "structure",
      "members": {
        "DocumentMetadata": {
          "target": "com.amazonaws.textract#DocumentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata about the document. It contains the number of pages that are detected in the\n         document.</p>"
          }
        },
        "Blocks": {
          "target": "com.amazonaws.textract#BlockList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>Block</code> objects that contain the text that's detected in the\n         document.</p>"
          }
        },
        "DetectDocumentTextModelVersion": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      }
    },
    "com.amazonaws.textract#DetectedSignature": {
      "type": "structure",
      "members": {
        "Page": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The page a detected signature was found on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that holds information regarding a detected signature on a page.</p>"
      }
    },
    "com.amazonaws.textract#DetectedSignatureList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#DetectedSignature"
      }
    },
    "com.amazonaws.textract#Document": {
      "type": "structure",
      "members": {
        "Bytes": {
          "target": "com.amazonaws.textract#ImageBlob",
          "traits": {
            "smithy.api#documentation": "<p>A blob of base64-encoded document bytes. The maximum size of a document that's provided\n         in a blob of bytes is 5 MB. The document bytes must be in PNG or JPEG format.</p>\n         <p>If you're using an AWS SDK to call Amazon Textract, you might not need to base64-encode\n         image bytes passed using the <code>Bytes</code> field. </p>"
          }
        },
        "S3Object": {
          "target": "com.amazonaws.textract#S3Object",
          "traits": {
            "smithy.api#documentation": "<p>Identifies an S3 object as the document source. The maximum size of a document that's\n         stored in an S3 bucket is 5 MB.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input document, either as bytes or as an S3 object.</p>\n         <p>You pass image bytes to an Amazon Textract API operation by using the <code>Bytes</code>\n         property. For example, you would use the <code>Bytes</code> property to pass a document\n         loaded from a local file system. Image bytes passed by using the <code>Bytes</code>\n         property must be base64 encoded. Your code might not need to encode document file bytes if\n         you're using an AWS SDK to call Amazon Textract API operations. </p>\n         <p>You pass images stored in an S3 bucket to an Amazon Textract API operation by using the\n            <code>S3Object</code> property. Documents stored in an S3 bucket don't need to be base64\n         encoded.</p>\n         <p>The AWS Region for the S3 bucket that contains the S3 object must match the AWS\n         Region that you use for Amazon Textract operations.</p>\n         <p>If you use the AWS CLI to call Amazon Textract operations, passing image bytes using\n         the Bytes property isn't supported. You must first upload the document to an Amazon S3\n         bucket, and then call the operation using the S3Object property.</p>\n      \n         <p>For Amazon Textract to process an S3 object, the user must have permission\n         to access the S3 object. </p>"
      }
    },
    "com.amazonaws.textract#DocumentGroup": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.textract#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of document that Amazon Textract has detected. See LINK for a list of all types returned by Textract.</p>"
          }
        },
        "SplitDocuments": {
          "target": "com.amazonaws.textract#SplitDocumentList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains information about the pages of a document, defined by logical boundary.</p>"
          }
        },
        "DetectedSignatures": {
          "target": "com.amazonaws.textract#DetectedSignatureList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the detected signatures found in a document group.</p>"
          }
        },
        "UndetectedSignatures": {
          "target": "com.amazonaws.textract#UndetectedSignatureList",
          "traits": {
            "smithy.api#documentation": "<p>A list of any expected signatures not found in a document group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about documents grouped by the same document type.</p>"
      }
    },
    "com.amazonaws.textract#DocumentGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#DocumentGroup"
      }
    },
    "com.amazonaws.textract#DocumentLocation": {
      "type": "structure",
      "members": {
        "S3Object": {
          "target": "com.amazonaws.textract#S3Object",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the input document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the document to be processed. It's used by asynchronous\n         operations.</p>\n         <p>The input document can be an image file in JPEG or PNG format. It can also be a file in\n         PDF format.</p>"
      }
    },
    "com.amazonaws.textract#DocumentMetadata": {
      "type": "structure",
      "members": {
        "Pages": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of pages that are detected in the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the input document.</p>"
      }
    },
    "com.amazonaws.textract#DocumentPages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#Document"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.textract#DocumentTooLargeException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The document can't be processed because it's too large. The maximum document size for\n         synchronous operations 10 MB. The maximum document size for asynchronous operations is 500\n         MB for PDF files.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.textract#EntityType": {
      "type": "enum",
      "members": {
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE"
          }
        },
        "COLUMN_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_HEADER"
          }
        }
      }
    },
    "com.amazonaws.textract#EntityTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#EntityType"
      }
    },
    "com.amazonaws.textract#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.textract#ExpenseCurrency": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>Currency code for detected currency. the current supported codes are:</p>\n         <ul>\n            <li>\n               <p>USD</p>\n            </li>\n            <li>\n               <p>EUR</p>\n            </li>\n            <li>\n               <p>GBP</p>\n            </li>\n            <li>\n               <p>CAD</p>\n            </li>\n            <li>\n               <p>INR</p>\n            </li>\n            <li>\n               <p>JPY</p>\n            </li>\n            <li>\n               <p>CHF</p>\n            </li>\n            <li>\n               <p>AUD</p>\n            </li>\n            <li>\n               <p>CNY</p>\n            </li>\n            <li>\n               <p>BZR</p>\n            </li>\n            <li>\n               <p>SEK</p>\n            </li>\n            <li>\n               <p>HKD</p>\n            </li>\n         </ul>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.textract#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Percentage confideence in the detected currency.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the kind of currency detected.</p>"
      }
    },
    "com.amazonaws.textract#ExpenseDetection": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or line of text recognized by Amazon Textract</p>"
          }
        },
        "Geometry": {
          "target": "com.amazonaws.textract#Geometry"
        },
        "Confidence": {
          "target": "com.amazonaws.textract#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence in detection, as a percentage</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object used to store information about the Value or Label detected by Amazon Textract.</p>"
      }
    },
    "com.amazonaws.textract#ExpenseDocument": {
      "type": "structure",
      "members": {
        "ExpenseIndex": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>Denotes which invoice or receipt in the document the information is coming from. \n      First document will be 1, the second 2, and so on.</p>"
          }
        },
        "SummaryFields": {
          "target": "com.amazonaws.textract#ExpenseFieldList",
          "traits": {
            "smithy.api#documentation": "<p>Any information found outside of a table by Amazon Textract.</p>"
          }
        },
        "LineItemGroups": {
          "target": "com.amazonaws.textract#LineItemGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Information detected on each table of a document, seperated into <code>LineItems</code>.</p>"
          }
        },
        "Blocks": {
          "target": "com.amazonaws.textract#BlockList",
          "traits": {
            "smithy.api#documentation": "<p>This is a block object, the same as reported when DetectDocumentText is run on a document.\n      It provides word level recognition of text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure holding all the information returned by AnalyzeExpense</p>"
      }
    },
    "com.amazonaws.textract#ExpenseDocumentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#ExpenseDocument"
      }
    },
    "com.amazonaws.textract#ExpenseField": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.textract#ExpenseType",
          "traits": {
            "smithy.api#documentation": "<p>The implied label of a detected element. Present alongside LabelDetection for explicit elements.</p>"
          }
        },
        "LabelDetection": {
          "target": "com.amazonaws.textract#ExpenseDetection",
          "traits": {
            "smithy.api#documentation": "<p>The explicitly stated label of a detected element.</p>"
          }
        },
        "ValueDetection": {
          "target": "com.amazonaws.textract#ExpenseDetection",
          "traits": {
            "smithy.api#documentation": "<p>The value of a detected element. Present in explicit and implicit elements.</p>"
          }
        },
        "PageNumber": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The page number the value was detected on.</p>"
          }
        },
        "Currency": {
          "target": "com.amazonaws.textract#ExpenseCurrency",
          "traits": {
            "smithy.api#documentation": "<p>Shows the kind of currency, both the code and confidence associated with any monatary value\n         detected.</p>"
          }
        },
        "GroupProperties": {
          "target": "com.amazonaws.textract#ExpenseGroupPropertyList",
          "traits": {
            "smithy.api#documentation": "<p>Shows which group a response object belongs to, such as whether an address line\n         belongs to the vendor's address or the recipent's address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Breakdown of detected information, seperated into \n         the catagories Type, LabelDetection, and ValueDetection</p>"
      }
    },
    "com.amazonaws.textract#ExpenseFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#ExpenseField"
      }
    },
    "com.amazonaws.textract#ExpenseGroupProperty": {
      "type": "structure",
      "members": {
        "Types": {
          "target": "com.amazonaws.textract#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Informs you on whether the expense group is a name or an address.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides a group Id number, which will be the same for each in the group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Shows the group that a certain key belongs to. This helps differentiate between\n         names and addresses for different organizations, that can be hard to determine\n         via JSON response.</p>"
      }
    },
    "com.amazonaws.textract#ExpenseGroupPropertyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#ExpenseGroupProperty"
      }
    },
    "com.amazonaws.textract#ExpenseType": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or line of text detected by Amazon Textract.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.textract#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence of accuracy, as a percentage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object used to store information about the Type detected by Amazon Textract.</p>"
      }
    },
    "com.amazonaws.textract#Extraction": {
      "type": "structure",
      "members": {
        "LendingDocument": {
          "target": "com.amazonaws.textract#LendingDocument",
          "traits": {
            "smithy.api#documentation": "<p>Holds the structured data returned by AnalyzeDocument for lending documents.</p>"
          }
        },
        "ExpenseDocument": {
          "target": "com.amazonaws.textract#ExpenseDocument"
        },
        "IdentityDocument": {
          "target": "com.amazonaws.textract#IdentityDocument"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information extracted by an analysis operation after using StartLendingAnalysis.</p>"
      }
    },
    "com.amazonaws.textract#ExtractionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#Extraction"
      }
    },
    "com.amazonaws.textract#FeatureType": {
      "type": "enum",
      "members": {
        "TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLES"
          }
        },
        "FORMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMS"
          }
        },
        "QUERIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERIES"
          }
        },
        "SIGNATURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNATURES"
          }
        }
      }
    },
    "com.amazonaws.textract#FeatureTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#FeatureType"
      }
    },
    "com.amazonaws.textract#Float": {
      "type": "float",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.textract#FlowDefinitionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.textract#Geometry": {
      "type": "structure",
      "members": {
        "BoundingBox": {
          "target": "com.amazonaws.textract#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>An axis-aligned coarse representation of the location of the recognized item on the\n         document page.</p>"
          }
        },
        "Polygon": {
          "target": "com.amazonaws.textract#Polygon",
          "traits": {
            "smithy.api#documentation": "<p>Within the bounding box, a fine-grained polygon around the recognized item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about where the following items are located on a document page: detected\n         page, text, key-value pairs, tables, table cells, and selection elements.</p>"
      }
    },
    "com.amazonaws.textract#GetDocumentAnalysis": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.textract#GetDocumentAnalysisRequest"
      },
      "output": {
        "target": "com.amazonaws.textract#GetDocumentAnalysisResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.textract#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.textract#InternalServerError"
        },
        {
          "target": "com.amazonaws.textract#InvalidJobIdException"
        },
        {
          "target": "com.amazonaws.textract#InvalidKMSKeyException"
        },
        {
          "target": "com.amazonaws.textract#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.textract#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.textract#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.textract#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the results for an Amazon Textract asynchronous operation that analyzes text in a\n         document.</p>\n         <p>You start asynchronous text analysis by calling <a>StartDocumentAnalysis</a>,\n         which returns a job identifier (<code>JobId</code>). When the text analysis operation\n         finishes, Amazon Textract publishes a completion status to the Amazon Simple Notification Service (Amazon SNS) topic\n         that's registered in the initial call to <code>StartDocumentAnalysis</code>. To get the\n         results of the text-detection operation, first check that the status value published to the\n         Amazon SNS topic is <code>SUCCEEDED</code>. If so, call <code>GetDocumentAnalysis</code>, and\n         pass the job identifier (<code>JobId</code>) from the initial call to\n            <code>StartDocumentAnalysis</code>.</p>\n         <p>\n            <code>GetDocumentAnalysis</code> returns an array of <a>Block</a> objects.\n         The following types of information are returned: </p>\n         <ul>\n            <li>\n               <p>Form data (key-value pairs). The related information is returned in two <a>Block</a> objects, each of type <code>KEY_VALUE_SET</code>: a KEY\n                  <code>Block</code> object and a VALUE <code>Block</code> object. For example,\n                  <i>Name: Ana Silva Carolina</i> contains a key and value.\n                  <i>Name:</i> is the key. <i>Ana Silva Carolina</i> is\n               the value.</p>\n            </li>\n            <li>\n               <p>Table and table cell data. A TABLE <code>Block</code> object contains information\n               about a detected table. A CELL <code>Block</code> object is returned for each cell in\n               a table.</p>\n            </li>\n            <li>\n               <p>Lines and words of text. A LINE <code>Block</code> object contains one or more\n               WORD <code>Block</code> objects. All lines and words that are detected in the\n               document are returned (including text that doesn't have a relationship with the value\n               of the <code>StartDocumentAnalysis</code>\n                  <code>FeatureTypes</code> input parameter). </p>\n            </li>\n            <li>\n               <p>Query. A QUERY Block object contains the query text, alias and link to the\n               associated Query results block object.</p>\n            </li>\n            <li>\n               <p>Query Results. A QUERY_RESULT Block object contains the answer to the query and an\n               ID that connects it to the query asked. This Block also contains a confidence\n               score.</p>\n            </li>\n         </ul>\n\n         <note>\n            <p>While processing a document with queries, look out for\n               <code>INVALID_REQUEST_PARAMETERS</code> output. This indicates that either the per\n            page query limit has been exceeded or that the operation is trying to query a page in\n            the document which doesn’t exist. </p>\n         </note>\n\n         <p>Selection elements such as check boxes and option buttons (radio buttons) can be\n         detected in form data and in tables. A SELECTION_ELEMENT <code>Block</code> object contains\n         information about a selection element, including the selection status.</p>\n\n\n         <p>Use the <code>MaxResults</code> parameter to limit the number of blocks that are\n         returned. If there are more results than specified in <code>MaxResults</code>, the value of\n            <code>NextToken</code> in the operation response contains a pagination token for getting\n         the next set of results. To get the next page of results, call\n            <code>GetDocumentAnalysis</code>, and populate the <code>NextToken</code> request\n         parameter with the token value that's returned from the previous call to\n            <code>GetDocumentAnalysis</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/how-it-works-analyzing.html\">Document Text\n         Analysis</a>.</p>"
      }
    },
    "com.amazonaws.textract#GetDocumentAnalysisRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.textract#JobId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the text-detection job. The <code>JobId</code> is returned from\n            <code>StartDocumentAnalysis</code>. A <code>JobId</code> value is only valid for 7\n         days.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.textract#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. The largest value that you\n         can specify is 1,000. If you specify a value greater than 1,000, a maximum of 1,000 results\n         is returned. The default value is 1,000.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.textract#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there are more blocks to retrieve),\n         Amazon Textract returns a pagination token in the response. You can use this pagination\n         token to retrieve the next set of blocks.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#GetDocumentAnalysisResponse": {
      "type": "structure",
      "members": {
        "DocumentMetadata": {
          "target": "com.amazonaws.textract#DocumentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Information about a document that Amazon Textract processed.\n            <code>DocumentMetadata</code> is returned in every page of paginated responses from an\n         Amazon Textract video operation.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.textract#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the text detection job.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.textract#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, Amazon Textract returns this token. You can use this token\n         in the subsequent request to retrieve the next set of text detection results.</p>"
          }
        },
        "Blocks": {
          "target": "com.amazonaws.textract#BlockList",
          "traits": {
            "smithy.api#documentation": "<p>The results of the text-analysis operation.</p>"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.textract#Warnings",
          "traits": {
            "smithy.api#documentation": "<p>A list of warnings that occurred during the document-analysis operation.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.textract#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>Returns if the detection job could not be completed. Contains explanation for what error\n         occured.</p>"
          }
        },
        "AnalyzeDocumentModelVersion": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      }
    },
    "com.amazonaws.textract#GetDocumentTextDetection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.textract#GetDocumentTextDetectionRequest"
      },
      "output": {
        "target": "com.amazonaws.textract#GetDocumentTextDetectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.textract#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.textract#InternalServerError"
        },
        {
          "target": "com.amazonaws.textract#InvalidJobIdException"
        },
        {
          "target": "com.amazonaws.textract#InvalidKMSKeyException"
        },
        {
          "target": "com.amazonaws.textract#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.textract#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.textract#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.textract#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the results for an Amazon Textract asynchronous operation that detects text in a document. \n     Amazon Textract can detect lines of text and the words that make up a line of text.</p>\n         <p>You start asynchronous text detection by calling <a>StartDocumentTextDetection</a>, which returns a job identifier\n            (<code>JobId</code>). When the text detection operation finishes, Amazon Textract publishes a\n         completion status to the Amazon Simple Notification Service (Amazon SNS) topic that's registered in the initial call to\n            <code>StartDocumentTextDetection</code>. To get the results of the text-detection\n         operation, first check that the status value published to the Amazon SNS topic is\n            <code>SUCCEEDED</code>. If so, call <code>GetDocumentTextDetection</code>, and pass the\n         job identifier (<code>JobId</code>) from the initial call to\n            <code>StartDocumentTextDetection</code>.</p>\n         <p>\n            <code>GetDocumentTextDetection</code> returns an array of <a>Block</a>\n         objects. </p>\n         <p>Each document page has as an associated <code>Block</code> of type PAGE. Each PAGE <code>Block</code> object\n        is the parent of LINE <code>Block</code> objects that represent the lines of detected text on a page. A LINE <code>Block</code> object is\n        a parent for each word that makes up the line. Words are represented by <code>Block</code> objects of type WORD.</p>\n     \n         <p>Use the MaxResults parameter to limit the number of blocks that are returned. If there\n         are more results than specified in <code>MaxResults</code>, the value of\n            <code>NextToken</code> in the operation response contains a pagination token for getting\n         the next set of results. To get the next page of results, call\n            <code>GetDocumentTextDetection</code>, and populate the <code>NextToken</code> request\n         parameter with the token value that's returned from the previous call to\n            <code>GetDocumentTextDetection</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/how-it-works-detecting.html\">Document Text Detection</a>.</p>"
      }
    },
    "com.amazonaws.textract#GetDocumentTextDetectionRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.textract#JobId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the text detection job. The <code>JobId</code> is returned from\n         <code>StartDocumentTextDetection</code>. A <code>JobId</code> value is only valid for 7 days.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.textract#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. The largest value you can\n         specify is 1,000. If you specify a value greater than 1,000, a maximum of 1,000 results is\n         returned. The default value is 1,000.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.textract#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there are more blocks to retrieve), Amazon Textract returns a pagination\n         token in the response. You can use this pagination token to retrieve the next set of blocks.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#GetDocumentTextDetectionResponse": {
      "type": "structure",
      "members": {
        "DocumentMetadata": {
          "target": "com.amazonaws.textract#DocumentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Information about a document that Amazon Textract processed. <code>DocumentMetadata</code> is\n         returned in every page of paginated responses from an Amazon Textract video operation.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.textract#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the text detection job.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.textract#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, Amazon Textract returns this token. You can use this token in\n         the subsequent request to retrieve the next set of text-detection results.</p>"
          }
        },
        "Blocks": {
          "target": "com.amazonaws.textract#BlockList",
          "traits": {
            "smithy.api#documentation": "<p>The results of the text-detection operation.</p>"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.textract#Warnings",
          "traits": {
            "smithy.api#documentation": "<p>A list of warnings that occurred during the text-detection operation for the\n         document.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.textract#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>Returns if the detection job could not be completed. Contains explanation for what error occured. </p>"
          }
        },
        "DetectDocumentTextModelVersion": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      }
    },
    "com.amazonaws.textract#GetExpenseAnalysis": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.textract#GetExpenseAnalysisRequest"
      },
      "output": {
        "target": "com.amazonaws.textract#GetExpenseAnalysisResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.textract#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.textract#InternalServerError"
        },
        {
          "target": "com.amazonaws.textract#InvalidJobIdException"
        },
        {
          "target": "com.amazonaws.textract#InvalidKMSKeyException"
        },
        {
          "target": "com.amazonaws.textract#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.textract#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.textract#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.textract#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the results for an Amazon Textract asynchronous operation that analyzes invoices and\n   receipts. Amazon Textract finds contact information, items purchased, and vendor name, from input\n   invoices and receipts.</p>\n         <p>You start asynchronous invoice/receipt analysis by calling <a>StartExpenseAnalysis</a>, which returns a job identifier (<code>JobId</code>). Upon\n   completion of the invoice/receipt analysis, Amazon Textract publishes the completion status to the\n   Amazon Simple Notification Service (Amazon SNS) topic. This topic must be registered in the initial call to\n    <code>StartExpenseAnalysis</code>. To get the results of the invoice/receipt analysis operation,\n   first ensure that the status value published to the Amazon SNS topic is <code>SUCCEEDED</code>. If so,\n   call <code>GetExpenseAnalysis</code>, and pass the job identifier (<code>JobId</code>) from the\n   initial call to <code>StartExpenseAnalysis</code>.</p>\n         <p>Use the MaxResults parameter to limit the number of blocks that are returned. If there are\n   more results than specified in <code>MaxResults</code>, the value of <code>NextToken</code> in\n   the operation response contains a pagination token for getting the next set of results. To get\n   the next page of results, call <code>GetExpenseAnalysis</code>, and populate the\n    <code>NextToken</code> request parameter with the token value that's returned from the previous\n   call to <code>GetExpenseAnalysis</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/invoices-receipts.html\">Analyzing Invoices and Receipts</a>.</p>"
      }
    },
    "com.amazonaws.textract#GetExpenseAnalysisRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.textract#JobId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the text detection job. The <code>JobId</code> is returned from\n    <code>StartExpenseAnalysis</code>. A <code>JobId</code> value is only valid for 7 days.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.textract#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. The largest value you can\n   specify is 20. If you specify a value greater than 20, a maximum of 20 results is\n   returned. The default value is 20.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.textract#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there are more blocks to retrieve), Amazon Textract returns a pagination\n   token in the response. You can use this pagination token to retrieve the next set of blocks.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#GetExpenseAnalysisResponse": {
      "type": "structure",
      "members": {
        "DocumentMetadata": {
          "target": "com.amazonaws.textract#DocumentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Information about a document that Amazon Textract processed. <code>DocumentMetadata</code> is\n   returned in every page of paginated responses from an Amazon Textract operation.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.textract#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the text detection job.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.textract#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, Amazon Textract returns this token. You can use this token in\n   the subsequent request to retrieve the next set of text-detection results.</p>"
          }
        },
        "ExpenseDocuments": {
          "target": "com.amazonaws.textract#ExpenseDocumentList",
          "traits": {
            "smithy.api#documentation": "<p>The expenses detected by Amazon Textract.</p>"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.textract#Warnings",
          "traits": {
            "smithy.api#documentation": "<p>A list of warnings that occurred during the text-detection operation for the\n   document.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.textract#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>Returns if the detection job could not be completed. Contains explanation for what error occured. </p>"
          }
        },
        "AnalyzeExpenseModelVersion": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The current model version of AnalyzeExpense.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#GetLendingAnalysis": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.textract#GetLendingAnalysisRequest"
      },
      "output": {
        "target": "com.amazonaws.textract#GetLendingAnalysisResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.textract#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.textract#InternalServerError"
        },
        {
          "target": "com.amazonaws.textract#InvalidJobIdException"
        },
        {
          "target": "com.amazonaws.textract#InvalidKMSKeyException"
        },
        {
          "target": "com.amazonaws.textract#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.textract#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.textract#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.textract#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the results for an Amazon Textract asynchronous operation that analyzes text in a\n            lending document. </p>\n        <p>You start asynchronous text analysis by calling <code>StartLendingAnalysis</code>,\n            which returns a job identifier (<code>JobId</code>). When the text analysis operation\n            finishes, Amazon Textract publishes a completion status to the Amazon Simple\n            Notification Service (Amazon SNS) topic that's registered in the initial call to\n                <code>StartLendingAnalysis</code>. </p>\n        <p>To get the results of the text analysis operation, first check that the status value\n            published to the Amazon SNS topic is SUCCEEDED. If so, call GetLendingAnalysis, and pass\n            the job identifier (<code>JobId</code>) from the initial call to\n                <code>StartLendingAnalysis</code>.</p>"
      }
    },
    "com.amazonaws.textract#GetLendingAnalysisRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.textract#JobId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the lending or text-detection job. The <code>JobId</code> is\n            returned from <code>StartLendingAnalysis</code>. A <code>JobId</code> value is only\n            valid for 7 days.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.textract#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. The largest value that you\n            can specify is 30. If you specify a value greater than 30, a maximum of 30 results is\n            returned. The default value is 30.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.textract#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete, Amazon Textract returns a pagination token in\n            the response. You can use this pagination token to retrieve the next set of lending\n            results.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#GetLendingAnalysisResponse": {
      "type": "structure",
      "members": {
        "DocumentMetadata": {
          "target": "com.amazonaws.textract#DocumentMetadata"
        },
        "JobStatus": {
          "target": "com.amazonaws.textract#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current status of the lending analysis job.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.textract#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, Amazon Textract returns this token. \n            You can use this token in the subsequent request to retrieve the next set of lending results.</p>"
          }
        },
        "Results": {
          "target": "com.amazonaws.textract#LendingResultList",
          "traits": {
            "smithy.api#documentation": "<p> Holds the information returned by one of AmazonTextract's document analysis\n            operations for the pinstripe.</p>"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.textract#Warnings",
          "traits": {
            "smithy.api#documentation": "<p> A list of warnings that occurred during the lending analysis operation. </p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.textract#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>  Returns if the lending analysis job could not be completed. Contains explanation for\n            what error occurred. </p>"
          }
        },
        "AnalyzeLendingModelVersion": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p> The current model version of the Analyze Lending API.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#GetLendingAnalysisSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.textract#GetLendingAnalysisSummaryRequest"
      },
      "output": {
        "target": "com.amazonaws.textract#GetLendingAnalysisSummaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.textract#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.textract#InternalServerError"
        },
        {
          "target": "com.amazonaws.textract#InvalidJobIdException"
        },
        {
          "target": "com.amazonaws.textract#InvalidKMSKeyException"
        },
        {
          "target": "com.amazonaws.textract#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.textract#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.textract#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.textract#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets summarized results for the <code>StartLendingAnalysis</code> operation, which analyzes\n   text in a lending document. The returned summary consists of information about documents grouped\n   together by a common document type. Information like detected signatures, page numbers, and split\n   documents is returned with respect to the type of grouped document. </p>\n         <p>You start asynchronous text analysis by calling <code>StartLendingAnalysis</code>, which\n   returns a job identifier (<code>JobId</code>). When the text analysis operation finishes, Amazon\n   Textract publishes a completion status to the Amazon Simple Notification Service (Amazon SNS)\n   topic that's registered in the initial call to <code>StartLendingAnalysis</code>. </p>\n         <p>To get the results of the text analysis operation, first check that the status value\n   published to the Amazon SNS topic is SUCCEEDED. If so, call\n    <code>GetLendingAnalysisSummary</code>, and pass the job identifier (<code>JobId</code>) from\n   the initial call to <code>StartLendingAnalysis</code>.</p>"
      }
    },
    "com.amazonaws.textract#GetLendingAnalysisSummaryRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.textract#JobId",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier for the lending or text-detection job. The <code>JobId</code> is\n   returned from StartLendingAnalysis. A <code>JobId</code> value is only valid for 7 days.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.textract#GetLendingAnalysisSummaryResponse": {
      "type": "structure",
      "members": {
        "DocumentMetadata": {
          "target": "com.amazonaws.textract#DocumentMetadata"
        },
        "JobStatus": {
          "target": "com.amazonaws.textract#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current status of the lending analysis job. </p>"
          }
        },
        "Summary": {
          "target": "com.amazonaws.textract#LendingSummary",
          "traits": {
            "smithy.api#documentation": "<p> Contains summary information for documents grouped by type.</p>"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.textract#Warnings",
          "traits": {
            "smithy.api#documentation": "<p>A list of warnings that occurred during the lending analysis operation.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.textract#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>Returns if the lending analysis could not be completed. Contains explanation for what error\n   occurred.</p>"
          }
        },
        "AnalyzeLendingModelVersion": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The current model version of the Analyze Lending API.</p>"
          }
        }
      }
    },
    "com.amazonaws.textract#HumanLoopActivationOutput": {
      "type": "structure",
      "members": {
        "HumanLoopArn": {
          "target": "com.amazonaws.textract#HumanLoopArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the HumanLoop created.</p>"
          }
        },
        "HumanLoopActivationReasons": {
          "target": "com.amazonaws.textract#HumanLoopActivationReasons",
          "traits": {
            "smithy.api#documentation": "<p>Shows if and why human review was needed.</p>"
          }
        },
        "HumanLoopActivationConditionsEvaluationResults": {
          "target": "com.amazonaws.textract#SynthesizedJsonHumanLoopActivationConditionsEvaluationResults",
          "traits": {
            "smithy.api#documentation": "<p>Shows the result of condition evaluations, including those conditions which activated a\n         human review.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Shows the results of the human in the loop evaluation. If there is no HumanLoopArn, the\n         input did not trigger human review.</p>"
      }
    },
    "com.amazonaws.textract#HumanLoopActivationReason": {
      "type": "string"
    },
    "com.amazonaws.textract#HumanLoopActivationReasons": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#HumanLoopActivationReason"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.textract#HumanLoopArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.textract#HumanLoopConfig": {
      "type": "structure",
      "members": {
        "HumanLoopName": {
          "target": "com.amazonaws.textract#HumanLoopName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the human workflow used for this image. This should be kept unique within a\n         region.</p>",
            "smithy.api#required": {}
          }
        },
        "FlowDefinitionArn": {
          "target": "com.amazonaws.textract#FlowDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
            "smithy.api#required": {}
          }
        },
        "DataAttributes": {
          "target": "com.amazonaws.textract#HumanLoopDataAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Sets attributes of the input data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Sets up the human review workflow the document will be sent to if one of the conditions\n         is met. You can also set certain attributes of the image before review. </p>"
      }
    },
    "com.amazonaws.textract#HumanLoopDataAttributes": {
      "type": "structure",
      "members": {
        "ContentClassifiers": {
          "target": "com.amazonaws.textract#ContentClassifiers",
          "traits": {
            "smithy.api#documentation": "<p>Sets whether the input image is free of personally identifiable information or adult\n         content.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Allows you to set attributes of the image. Currently, you can declare an image as free\n         of personally identifiable information and adult content. </p>"
      }
    },
    "com.amazonaws.textract#HumanLoopName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-z0-9](-*[a-z0-9])*$"
      }
    },
    "com.amazonaws.textract#HumanLoopQuotaExceededException": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>"
          }
        },
        "QuotaCode": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The quota code.</p>"
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The service code.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates you have exceeded the maximum number of active human in the loop workflows available</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.textract#IdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#NonEmptyString"
      }
    },
    "com.amazonaws.textract#IdempotentParameterMismatchException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <code>ClientRequestToken</code> input parameter was reused with an operation, but at\n         least one of the other input parameters is different from the previous call to the\n         operation. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.textract#IdentityDocument": {
      "type": "structure",
      "members": {
        "DocumentIndex": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>Denotes the placement of a document in the IdentityDocument list. The first document\n         is marked 1, the second 2 and so on.</p>"
          }
        },
        "IdentityDocumentFields": {
          "target": "com.amazonaws.textract#IdentityDocumentFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The structure used to record information extracted from identity documents.\n         Contains both normalized field and value of the extracted text.</p>"
          }
        },
        "Blocks": {
          "target": "com.amazonaws.textract#BlockList",
          "traits": {
            "smithy.api#documentation": "<p>Individual word recognition, as returned by document detection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure that lists each document processed in an AnalyzeID operation.</p>"
      }
    },
    "com.amazonaws.textract#IdentityDocumentField": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.textract#AnalyzeIDDetections"
        },
        "ValueDetection": {
          "target": "com.amazonaws.textract#AnalyzeIDDetections"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure containing both the normalized type of the extracted information\n         and the text associated with it. These are extracted as Type and Value respectively.</p>"
      }
    },
    "com.amazonaws.textract#IdentityDocumentFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#IdentityDocumentField"
      }
    },
    "com.amazonaws.textract#IdentityDocumentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#IdentityDocument"
      }
    },
    "com.amazonaws.textract#ImageBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10485760
        }
      }
    },
    "com.amazonaws.textract#InternalServerError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Textract experienced a service issue. Try your call again.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.textract#InvalidJobIdException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An invalid job identifier was passed to an asynchronous analysis operation.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.textract#InvalidKMSKeyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Indicates you do not have decrypt permissions with the KMS key entered, or the KMS key\n        was entered incorrectly. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.textract#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An input parameter violated a constraint. For example, in synchronous operations, \n       an <code>InvalidParameterException</code> exception occurs\n      when neither of the <code>S3Object</code> or <code>Bytes</code> values are supplied in the <code>Document</code>\n      request parameter.\n       Validate your parameter before calling the API operation again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.textract#InvalidS3ObjectException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.textract#String"
        },
        "Code": {
          "target": "com.amazonaws.textract#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Textract is unable to access the S3 object that's specified in the request.\n         for more information, <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Configure Access to Amazon S3</a>\n         For troubleshooting information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/troubleshooting.html\">Troubleshooting Amazon S3</a>\n         </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.textract#JobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.textract#JobStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        }
      }
    },
    "com.amazonaws.textract#JobTag": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.\\-:]+$"
      }
    },
    "com.amazonaws.textract#KMSKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$"
      }
    },
    "com.amazonaws.textract#LendingDetection": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The text extracted for a detected value in a lending document.</p>"
          }
        },
        "SelectionStatus": {
          "target": "com.amazonaws.textract#SelectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The selection status of a selection element, such as an option button or check box.</p>"
          }
        },
        "Geometry": {
          "target": "com.amazonaws.textract#Geometry"
        },
        "Confidence": {
          "target": "com.amazonaws.textract#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence level for the text of a detected value in a lending document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The results extracted for a lending document.</p>"
      }
    },
    "com.amazonaws.textract#LendingDetectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#LendingDetection"
      }
    },
    "com.amazonaws.textract#LendingDocument": {
      "type": "structure",
      "members": {
        "LendingFields": {
          "target": "com.amazonaws.textract#LendingFieldList",
          "traits": {
            "smithy.api#documentation": "<p>An array of LendingField objects.</p>"
          }
        },
        "SignatureDetections": {
          "target": "com.amazonaws.textract#SignatureDetectionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of signatures detected in a lending document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Holds the structured data returned by AnalyzeDocument for lending documents.</p>"
      }
    },
    "com.amazonaws.textract#LendingField": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.textract#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the lending document.</p>"
          }
        },
        "KeyDetection": {
          "target": "com.amazonaws.textract#LendingDetection"
        },
        "ValueDetections": {
          "target": "com.amazonaws.textract#LendingDetectionList",
          "traits": {
            "smithy.api#documentation": "<p>An array of LendingDetection objects.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Holds the normalized key-value pairs returned by AnalyzeDocument, including the document type, detected text, and geometry.</p>"
      }
    },
    "com.amazonaws.textract#LendingFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.textract#LendingField"
      }
    },
    "com.amazonaws.textract#LendingResult": {
      "type": "structure",
      "members": {
        "Page": {
          "target": "com.amazonaws.textract#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The page number for a page, with regard to whole submission.</p>"
          }
        },
        "PageClassification": {
[...]
