{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.timestreaminfluxdb#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.timestreaminfluxdb#AllocatedStorage": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 20,
          "max": 15360
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#AmazonTimestreamInfluxDB": {
      "type": "service",
      "version": "2023-01-27",
      "operations": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#TagResource"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterResource"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceResource"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Timestream InfluxDB",
          "arnNamespace": "timestream-influxdb"
        },
        "aws.auth#sigv4": {
          "name": "timestream-influxdb"
        },
        "aws.iam#defineConditionKeys": {
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by a tag key and value pair of a resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by a tag key and value pair that is allowed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by a list of tag keys that are allowed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#awsJson1_0": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*,authorization,date,x-amz-date,x-amz-security-token,x-amz-target,content-type,x-amz-content-sha256,x-amz-user-agent,x-amzn-platform-id,x-amzn-trace-id,amz-sdk-invocation-id,amz-sdk-request"
          ]
        },
        "smithy.api#documentation": "<p>Amazon Timestream for InfluxDB is a managed time-series database engine that makes it\n            easy for application developers and DevOps teams to run InfluxDB databases on Amazon Web Services for near real-time time-series applications using open-source APIs. With Amazon Timestream for InfluxDB, it is easy to set up, operate, and scale time-series workloads that can answer queries with single-digit millisecond query response time.</p>",
        "smithy.api#title": "Timestream InfluxDB",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://timestream-influxdb-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://timestream-influxdb-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://timestream-influxdb.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://timestream-influxdb.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://timestream-influxdb.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:timestream\\-influxdb:[a-z0-9\\-]+:[0-9]{12}:(db\\-instance|db\\-cluster|db\\-parameter\\-group)/[a-zA-Z0-9]{3,64}$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#Bucket": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[^_\"][^\"]*$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#ClusterDeploymentType": {
      "type": "enum",
      "members": {
        "MULTI_NODE_READ_REPLICAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_NODE_READ_REPLICAS"
          }
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#ClusterStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "UPDATING_INSTANCE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING_INSTANCE_TYPE"
          }
        },
        "REBOOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOTING"
          }
        },
        "REBOOT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOT_FAILED"
          }
        },
        "PARTIALLY_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIALLY_AVAILABLE"
          }
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the Timestream for InfluxDB resource associated with the request.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of Timestream for InfluxDB resource associated with the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request conflicts with an existing resource in Timestream for InfluxDB.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.timestreaminfluxdb#CreateDbCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreaminfluxdb#CreateDbClusterInput"
      },
      "output": {
        "target": "com.amazonaws.timestreaminfluxdb#CreateDbClusterOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ConflictException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Creates a new Timestream for InfluxDB cluster.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["DbCluster"]
      }
    },
    "com.amazonaws.timestreaminfluxdb#CreateDbClusterInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterName",
          "traits": {
            "smithy.api#documentation": "<p>The name that uniquely identifies the DB cluster when interacting with the Amazon Timestream for InfluxDB API and CLI commands. This name will also be a prefix included in the endpoint. DB cluster names must be unique per customer and per region.</p>",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "com.amazonaws.timestreaminfluxdb#Username",
          "traits": {
            "smithy.api#documentation": "<p>The username of the initial admin user created in InfluxDB. Must start with a letter and can't end with a hyphen or contain two consecutive hyphens. For example, my-user1. This username will allow you to access the InfluxDB UI to perform various administrative tasks and also use the InfluxDB CLI to create an operator token. These attributes will be stored in a secret created in Secrets Manager in your account.</p>"
          }
        },
        "password": {
          "target": "com.amazonaws.timestreaminfluxdb#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password of the initial admin user created in InfluxDB. This password will allow\n            you to access the InfluxDB UI to perform various administrative tasks and also use the\n            InfluxDB CLI to create an operator token. These attributes will be stored in a secret created in Secrets Manager in your account.</p>"
          }
        },
        "organization": {
          "target": "com.amazonaws.timestreaminfluxdb#Organization",
          "traits": {
            "smithy.api#documentation": "<p>The name of the initial organization for the initial admin user in InfluxDB. An InfluxDB organization is a workspace for a group of users.</p>"
          }
        },
        "bucket": {
          "target": "com.amazonaws.timestreaminfluxdb#Bucket",
          "traits": {
            "smithy.api#documentation": "<p>The name of the initial InfluxDB bucket. All InfluxDB data is stored in a bucket. A bucket combines the concept of a database and a retention period (the duration of time that each data point persists). A bucket belongs to an organization.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.timestreaminfluxdb#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which InfluxDB accepts connections.</p>\n         <p>Valid Values: 1024-65535</p>\n         <p>Default: 8086 for InfluxDB v2, 8181 for InfluxDB v3</p>\n         <p>Constraints: The value can't be 2375-2376, 7788-7799, 8090, or 51678-51680</p>"
          }
        },
        "dbParameterGroupIdentifier": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DB parameter group to assign to your DB cluster. DB parameter groups specify how the database is configured. For example, DB parameter groups can specify the limit for query concurrency.</p>"
          }
        },
        "dbInstanceType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB DB instance type to run InfluxDB on.</p>",
            "smithy.api#required": {}
          }
        },
        "dbStorageType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbStorageType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB DB storage type to read and write InfluxDB data.</p>\n         <p>You can choose between three different types of provisioned Influx IOPS Included storage according to your workload requirements:</p>\n         <ul>\n            <li>\n               <p>Influx I/O Included 3000 IOPS</p>\n            </li>\n            <li>\n               <p>Influx I/O Included 12000 IOPS</p>\n            </li>\n            <li>\n               <p>Influx I/O Included 16000 IOPS</p>\n            </li>\n         </ul>"
          }
        },
        "allocatedStorage": {
          "target": "com.amazonaws.timestreaminfluxdb#AllocatedStorage",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage to allocate for your DB storage type in GiB (gibibytes).</p>"
          }
        },
        "networkType": {
          "target": "com.amazonaws.timestreaminfluxdb#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the network type of the Timestream for InfluxDB cluster is IPv4, which can communicate over IPv4 protocol only, or DUAL, which can communicate over both IPv4 and IPv6 protocols.</p>"
          }
        },
        "publiclyAccessible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Configures the Timestream for InfluxDB cluster with a public IP to facilitate access from outside the VPC.</p>"
          }
        },
        "vpcSubnetIds": {
          "target": "com.amazonaws.timestreaminfluxdb#VpcSubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC subnet IDs to associate with the DB cluster. Provide at least two VPC subnet IDs in different Availability Zones when deploying with a Multi-AZ standby.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcSecurityGroupIds": {
          "target": "com.amazonaws.timestreaminfluxdb#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC security group IDs to associate with the Timestream for InfluxDB cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentType": {
          "target": "com.amazonaws.timestreaminfluxdb#ClusterDeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of cluster to create.</p>"
          }
        },
        "failoverMode": {
          "target": "com.amazonaws.timestreaminfluxdb#FailoverMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the behavior of failure recovery when the primary node of the cluster fails.</p>"
          }
        },
        "logDeliveryConfiguration": {
          "target": "com.amazonaws.timestreaminfluxdb#LogDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for sending InfluxDB engine logs to a specified S3 bucket.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.timestreaminfluxdb#RequestTagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs to associate with the DB instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.timestreaminfluxdb#DbParameterGroupResource"
          }
        ]
      }
    },
    "com.amazonaws.timestreaminfluxdb#CreateDbClusterOutput": {
      "type": "structure",
      "members": {
        "dbClusterId": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterId",
          "traits": {
            "smithy.api#documentation": "<p>A service-generated unique identifier.</p>"
          }
        },
        "dbClusterStatus": {
          "target": "com.amazonaws.timestreaminfluxdb#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the DB cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreaminfluxdb#CreateDbInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreaminfluxdb#CreateDbInstanceInput"
      },
      "output": {
        "target": "com.amazonaws.timestreaminfluxdb#CreateDbInstanceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ConflictException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a new Timestream InfluxDB instance"
        },
        "smithy.api#documentation": "<p>Creates a new Timestream for InfluxDB DB instance.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["DbInstance"]
      }
    },
    "com.amazonaws.timestreaminfluxdb#CreateDbInstanceInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that uniquely identifies the DB instance when interacting with the Amazon Timestream for InfluxDB API and CLI commands. This name will also be a prefix included in the endpoint. DB instance names must be unique per customer and per region.</p>",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "com.amazonaws.timestreaminfluxdb#Username",
          "traits": {
            "smithy.api#documentation": "<p>The username of the initial admin user created in InfluxDB. Must start with a letter and can't end with a hyphen or contain two consecutive hyphens. For example, my-user1. This username will allow you to access the InfluxDB UI to perform various administrative tasks and also use the InfluxDB CLI to create an operator token. These attributes will be stored in a Secret created in Amazon Secrets Manager in your account.</p>"
          }
        },
        "password": {
          "target": "com.amazonaws.timestreaminfluxdb#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password of the initial admin user created in InfluxDB v2. This password will allow\n            you to access the InfluxDB UI to perform various administrative tasks and also use the\n            InfluxDB CLI to create an operator token. These attributes will be stored in a Secret\n            created in Secrets Manager in your account.</p>",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "com.amazonaws.timestreaminfluxdb#Organization",
          "traits": {
            "smithy.api#documentation": "<p>The name of the initial organization for the initial admin user in InfluxDB. An InfluxDB organization is a workspace for a group of users.</p>"
          }
        },
        "bucket": {
          "target": "com.amazonaws.timestreaminfluxdb#Bucket",
          "traits": {
            "smithy.api#documentation": "<p>The name of the initial InfluxDB bucket. All InfluxDB data is stored in a bucket. A bucket combines the concept of a database and a retention period (the duration of time that each data point persists). A bucket belongs to an organization.</p>"
          }
        },
        "dbInstanceType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB DB instance type to run InfluxDB on.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcSubnetIds": {
          "target": "com.amazonaws.timestreaminfluxdb#VpcSubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC subnet IDs to associate with the DB instance. Provide at least two VPC subnet IDs in different availability zones when deploying with a Multi-AZ standby.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcSecurityGroupIds": {
          "target": "com.amazonaws.timestreaminfluxdb#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC security group IDs to associate with the DB instance.</p>",
            "smithy.api#required": {}
          }
        },
        "publiclyAccessible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Configures the DB instance with a public IP to facilitate access.</p>"
          }
        },
        "dbStorageType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbStorageType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB DB storage type to read and write InfluxDB data.</p>\n         <p>You can choose between 3 different types of provisioned Influx IOPS included storage according to your workloads requirements:</p>\n         <ul>\n            <li>\n               <p>Influx IO Included 3000 IOPS</p>\n            </li>\n            <li>\n               <p>Influx IO Included 12000 IOPS</p>\n            </li>\n            <li>\n               <p>Influx IO Included 16000 IOPS</p>\n            </li>\n         </ul>"
          }
        },
        "allocatedStorage": {
          "target": "com.amazonaws.timestreaminfluxdb#AllocatedStorage",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage to allocate for your DB storage type in GiB (gibibytes).</p>",
            "smithy.api#required": {}
          }
        },
        "dbParameterGroupIdentifier": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The id of the DB parameter group to assign to your DB instance. DB parameter groups specify how the database is configured. For example, DB parameter groups can specify the limit for query concurrency.</p>"
          }
        },
        "deploymentType": {
          "target": "com.amazonaws.timestreaminfluxdb#DeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB instance will be deployed as a standalone instance or with a Multi-AZ standby for high availability.</p>"
          }
        },
        "logDeliveryConfiguration": {
          "target": "com.amazonaws.timestreaminfluxdb#LogDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for sending InfluxDB engine logs to a specified S3 bucket.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.timestreaminfluxdb#RequestTagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs to associate with the DB instance.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.timestreaminfluxdb#Port",
          "traits": {
            "smithy.api#default": 8086,
            "smithy.api#documentation": "<p>The port number on which InfluxDB accepts connections.</p>\n         <p>Valid Values: 1024-65535</p>\n         <p>Default: 8086</p>\n         <p>Constraints: The value can't be 2375-2376, 7788-7799, 8090, or 51678-51680</p>"
          }
        },
        "networkType": {
          "target": "com.amazonaws.timestreaminfluxdb#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the networkType of the Timestream for InfluxDB instance is IPV4, which can communicate over IPv4 protocol only, or DUAL, which can communicate over both IPv4 and IPv6 protocols.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.timestreaminfluxdb#DbParameterGroupResource"
          }
        ]
      }
    },
    "com.amazonaws.timestreaminfluxdb#CreateDbInstanceOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>A service-generated unique identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>The customer-supplied name that uniquely identifies the DB instance when interacting with the Amazon Timestream for InfluxDB API and CLI commands.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.timestreaminfluxdb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DB instance.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.timestreaminfluxdb#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the DB instance.</p>"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to connect to InfluxDB. The default InfluxDB port is 8086.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.timestreaminfluxdb#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which InfluxDB accepts connections. The default value is 8086.</p>"
          }
        },
        "networkType": {
          "target": "com.amazonaws.timestreaminfluxdb#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the networkType of the Timestream for InfluxDB instance is IPV4, which can communicate over IPv4 protocol only, or DUAL, which can communicate over both IPv4 and IPv6 protocols.</p>"
          }
        },
        "dbInstanceType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB instance type that InfluxDB runs on.</p>"
          }
        },
        "dbStorageType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbStorageType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB DB storage type that InfluxDB stores data on.</p>"
          }
        },
        "allocatedStorage": {
          "target": "com.amazonaws.timestreaminfluxdb#AllocatedStorage",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage allocated for your DB storage type (in gibibytes).</p>"
          }
        },
        "deploymentType": {
          "target": "com.amazonaws.timestreaminfluxdb#DeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the Timestream for InfluxDB is deployed as Single-AZ or with a MultiAZ Standby for High availability.</p>"
          }
        },
        "vpcSubnetIds": {
          "target": "com.amazonaws.timestreaminfluxdb#VpcSubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC subnet IDs associated with the DB instance.</p>",
            "smithy.api#required": {}
          }
        },
        "publiclyAccessible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the DB instance has a public IP to facilitate access.</p>"
          }
        },
        "vpcSecurityGroupIds": {
          "target": "com.amazonaws.timestreaminfluxdb#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC security group IDs associated with the DB instance.</p>"
          }
        },
        "dbParameterGroupIdentifier": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The id of the DB parameter group assigned to your DB instance.</p>"
          }
        },
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which the DB instance resides.</p>"
          }
        },
        "secondaryAvailabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which the standby instance is located when deploying with a MultiAZ standby instance.</p>"
          }
        },
        "logDeliveryConfiguration": {
          "target": "com.amazonaws.timestreaminfluxdb#LogDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for sending InfluxDB engine logs to send to specified S3 bucket.</p>"
          }
        },
        "influxAuthParametersSecretArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Secrets Manager secret containing the initial InfluxDB authorization parameters. The secret value is a JSON formatted key-value pair holding InfluxDB authorization values: organization, bucket, username, and password.</p>"
          }
        },
        "dbClusterId": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DbCluster to which this DbInstance belongs to.</p>"
          }
        },
        "instanceMode": {
          "target": "com.amazonaws.timestreaminfluxdb#InstanceMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DbInstance's role in the cluster.</p>"
          }
        },
        "instanceModes": {
          "target": "com.amazonaws.timestreaminfluxdb#InstanceModeList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DbInstance's roles in the cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreaminfluxdb#CreateDbParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreaminfluxdb#CreateDbParameterGroupInput"
      },
      "output": {
        "target": "com.amazonaws.timestreaminfluxdb#CreateDbParameterGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ConflictException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a new Timestream InfluxDB parameter group"
        },
        "smithy.api#documentation": "<p>Creates a new Timestream for InfluxDB DB parameter group to associate with DB instances.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["DbParameterGroup"]
      }
    },
    "com.amazonaws.timestreaminfluxdb#CreateDbParameterGroupInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB parameter group. The name must be unique per customer and per region.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the DB parameter group.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 500
            }
          }
        },
        "parameters": {
          "target": "com.amazonaws.timestreaminfluxdb#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of the parameters that comprise the DB parameter group.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.timestreaminfluxdb#RequestTagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs to associate with the DB parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreaminfluxdb#CreateDbParameterGroupOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupId",
          "traits": {
            "smithy.api#documentation": "<p>A service-generated unique identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The customer-supplied name that uniquely identifies the DB parameter group when interacting with the Amazon Timestream for InfluxDB API and CLI commands.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.timestreaminfluxdb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARM) of the DB parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the DB parameter group.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.timestreaminfluxdb#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of the parameters that comprise the DB parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreaminfluxdb#DataFusionRuntimeType": {
      "type": "enum",
      "members": {
        "MULTI_THREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multi-thread"
          }
        },
        "MULTI_THREAD_ALT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multi-thread-alt"
          }
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbClusterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbClusterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 40
        },
        "smithy.api#pattern": "^[a-zA-z][a-zA-Z0-9]*(-[a-zA-Z0-9]+)*$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbClusterResource": {
      "type": "resource",
      "identifiers": {
        "dbClusterId": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterId"
        }
      },
      "create": {
        "target": "com.amazonaws.timestreaminfluxdb#CreateDbCluster"
      },
      "read": {
        "target": "com.amazonaws.timestreaminfluxdb#GetDbCluster"
      },
      "update": {
        "target": "com.amazonaws.timestreaminfluxdb#UpdateDbCluster"
      },
      "delete": {
        "target": "com.amazonaws.timestreaminfluxdb#DeleteDbCluster"
      },
      "list": {
        "target": "com.amazonaws.timestreaminfluxdb#ListDbClusters"
      },
      "operations": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#ListDbInstancesForCluster"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#RebootDbCluster"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "db-cluster/{dbClusterId}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "db-cluster",
          "relativeDocumentation": "API_DbClusterSummary.html"
        },
        "smithy.api#documentation": "Represents a Timestream InfluxDB cluster"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbClusterSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterId",
          "traits": {
            "smithy.api#documentation": "<p>Service-generated unique identifier of the DB cluster to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterName",
          "traits": {
            "smithy.api#documentation": "<p>Customer supplied name of the Timestream for InfluxDB cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.timestreaminfluxdb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DB cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.timestreaminfluxdb#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the DB cluster.</p>"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to connect to the Timestream for InfluxDB cluster for write and read operations.</p>"
          }
        },
        "readerEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to connect to the Timestream for InfluxDB cluster for read-only operations.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.timestreaminfluxdb#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which InfluxDB accepts connections.</p>"
          }
        },
        "deploymentType": {
          "target": "com.amazonaws.timestreaminfluxdb#ClusterDeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Deployment type of the DB cluster</p>"
          }
        },
        "dbInstanceType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB DB instance type that InfluxDB runs on.</p>"
          }
        },
        "networkType": {
          "target": "com.amazonaws.timestreaminfluxdb#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the network type of the Timestream for InfluxDB Cluster is IPv4, which can communicate over IPv4 protocol only, or DUAL, which can communicate over both IPv4 and IPv6 protocols.</p>"
          }
        },
        "dbStorageType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbStorageType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB DB storage type that InfluxDB stores data on.</p>"
          }
        },
        "allocatedStorage": {
          "target": "com.amazonaws.timestreaminfluxdb#AllocatedStorage",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage allocated for your DB storage type (in gibibytes).</p>"
          }
        },
        "engineType": {
          "target": "com.amazonaws.timestreaminfluxdb#EngineType",
          "traits": {
            "smithy.api#documentation": "<p>The engine type of your DB cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a summary of a Timestream for InfluxDB cluster.</p>"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbClusterSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreaminfluxdb#DbClusterSummary"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceForClusterSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated unique identifier of the DB instance.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>A service-generated name for the DB instance based on the customer-supplied name for the DB cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.timestreaminfluxdb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DB instance.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.timestreaminfluxdb#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the DB instance.</p>"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to connect to InfluxDB. The default InfluxDB port is 8086.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.timestreaminfluxdb#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which InfluxDB accepts connections.</p>"
          }
        },
        "networkType": {
          "target": "com.amazonaws.timestreaminfluxdb#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the network type of the Timestream for InfluxDB instance is IPv4, which can communicate over IPv4 protocol only, or DUAL, which can communicate over both IPv4 and IPv6 protocols.</p>"
          }
        },
        "dbInstanceType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB instance type to run InfluxDB on.</p>"
          }
        },
        "dbStorageType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbStorageType",
          "traits": {
            "smithy.api#documentation": "<p>The storage type for your DB instance.</p>"
          }
        },
        "allocatedStorage": {
          "target": "com.amazonaws.timestreaminfluxdb#AllocatedStorage",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage allocated for your DB storage type in GiB (gibibytes).</p>"
          }
        },
        "deploymentType": {
          "target": "com.amazonaws.timestreaminfluxdb#DeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the deployment type if applicable.</p>"
          }
        },
        "instanceMode": {
          "target": "com.amazonaws.timestreaminfluxdb#InstanceMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DB instance's role in the cluster.</p>"
          }
        },
        "instanceModes": {
          "target": "com.amazonaws.timestreaminfluxdb#InstanceModeList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DB instance's roles in the cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of a DB instance belonging to a DB cluster.</p>"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceForClusterSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreaminfluxdb#DbInstanceForClusterSummary"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreaminfluxdb#DbInstanceId"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 40
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9]*(-[a-zA-Z0-9]+)*$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceResource": {
      "type": "resource",
      "identifiers": {
        "dbInstanceIdentifier": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.timestreaminfluxdb#CreateDbInstance"
      },
      "read": {
        "target": "com.amazonaws.timestreaminfluxdb#GetDbInstance"
      },
      "update": {
        "target": "com.amazonaws.timestreaminfluxdb#UpdateDbInstance"
      },
      "delete": {
        "target": "com.amazonaws.timestreaminfluxdb#DeleteDbInstance"
      },
      "list": {
        "target": "com.amazonaws.timestreaminfluxdb#ListDbInstances"
      },
      "operations": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#RebootDbInstance"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "db-instance/{dbInstanceIdentifier}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "db-instance",
          "relativeDocumentation": "API_DbInstanceSummary.html"
        },
        "smithy.api#documentation": "Represents a Timestream InfluxDB instance"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated unique identifier of the DB instance.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>This customer-supplied name uniquely identifies the DB instance when interacting with\n            the Amazon Timestream for InfluxDB API and CLI commands.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.timestreaminfluxdb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DB instance.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.timestreaminfluxdb#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the DB instance.</p>"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to connect to InfluxDB. The default InfluxDB port is 8086.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.timestreaminfluxdb#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which InfluxDB accepts connections.</p>"
          }
        },
        "networkType": {
          "target": "com.amazonaws.timestreaminfluxdb#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the networkType of the Timestream for InfluxDB instance is IPV4, which can communicate over IPv4 protocol only, or DUAL, which can communicate over both IPv4 and IPv6 protocols.</p>"
          }
        },
        "dbInstanceType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB instance type to run InfluxDB on.</p>"
          }
        },
        "dbStorageType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbStorageType",
          "traits": {
            "smithy.api#documentation": "<p>The storage type for your DB instance.</p>"
          }
        },
        "allocatedStorage": {
          "target": "com.amazonaws.timestreaminfluxdb#AllocatedStorage",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage to allocate for your DbStorageType in GiB (gibibytes).</p>"
          }
        },
        "deploymentType": {
          "target": "com.amazonaws.timestreaminfluxdb#DeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Single-Instance or with a MultiAZ Standby for High availability.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of a DB instance.</p>"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreaminfluxdb#DbInstanceSummary"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbInstanceType": {
      "type": "enum",
      "members": {
        "DB_INFLUX_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "db.influx.medium"
          }
        },
        "DB_INFLUX_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "db.influx.large"
          }
        },
        "DB_INFLUX_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "db.influx.xlarge"
          }
        },
        "DB_INFLUX_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "db.influx.2xlarge"
          }
        },
        "DB_INFLUX_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "db.influx.4xlarge"
          }
        },
        "DB_INFLUX_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "db.influx.8xlarge"
          }
        },
        "DB_INFLUX_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "db.influx.12xlarge"
          }
        },
        "DB_INFLUX_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "db.influx.16xlarge"
          }
        },
        "DB_INFLUX_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "db.influx.24xlarge"
          }
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbParameterGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbParameterGroupIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbParameterGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9]*(-[a-zA-Z0-9]+)*$"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbParameterGroupResource": {
      "type": "resource",
      "identifiers": {
        "dbParameterGroupIdentifier": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.timestreaminfluxdb#CreateDbParameterGroup"
      },
      "read": {
        "target": "com.amazonaws.timestreaminfluxdb#GetDbParameterGroup"
      },
      "list": {
        "target": "com.amazonaws.timestreaminfluxdb#ListDbParameterGroups"
      },
      "traits": {
        "aws.api#arn": {
          "template": "db-parameter-group/{dbParameterGroupIdentifier}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "db-parameter-group",
          "relativeDocumentation": "API_DbParameterGroupSummary.html"
        },
        "smithy.api#documentation": "Represents a Timestream InfluxDB parameter group"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbParameterGroupSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupId",
          "traits": {
            "smithy.api#documentation": "<p>A service-generated unique identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupName",
          "traits": {
            "smithy.api#documentation": "<p>This customer-supplied name uniquely identifies the parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.timestreaminfluxdb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DB parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the DB parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of a DB parameter group.</p>"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbParameterGroupSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupSummary"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DbStorageType": {
      "type": "enum",
      "members": {
        "INFLUX_IO_INCLUDED_T1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfluxIOIncludedT1"
          }
        },
        "INFLUX_IO_INCLUDED_T2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfluxIOIncludedT2"
          }
        },
        "INFLUX_IO_INCLUDED_T3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfluxIOIncludedT3"
          }
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#DeleteDbCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreaminfluxdb#DeleteDbClusterInput"
      },
      "output": {
        "target": "com.amazonaws.timestreaminfluxdb#DeleteDbClusterOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ConflictException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Timestream for InfluxDB cluster.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["DbCluster"]
      }
    },
    "com.amazonaws.timestreaminfluxdb#DeleteDbClusterInput": {
      "type": "structure",
      "members": {
        "dbClusterId": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterId",
          "traits": {
            "smithy.api#documentation": "<p>Service-generated unique identifier of the DB cluster.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreaminfluxdb#DeleteDbClusterOutput": {
      "type": "structure",
      "members": {
        "dbClusterStatus": {
          "target": "com.amazonaws.timestreaminfluxdb#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the DB cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreaminfluxdb#DeleteDbInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreaminfluxdb#DeleteDbInstanceInput"
      },
      "output": {
        "target": "com.amazonaws.timestreaminfluxdb#DeleteDbInstanceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ConflictException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a Timestream InfluxDB instance"
        },
        "smithy.api#documentation": "<p>Deletes a Timestream for InfluxDB DB instance.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["DbInstance"]
      }
    },
    "com.amazonaws.timestreaminfluxdb#DeleteDbInstanceInput": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The id of the DB instance.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "dbInstanceIdentifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreaminfluxdb#DeleteDbInstanceOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>A service-generated unique identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>The customer-supplied name that uniquely identifies the DB instance when interacting with the Amazon Timestream for InfluxDB API and CLI commands.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.timestreaminfluxdb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DB instance.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.timestreaminfluxdb#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the DB instance.</p>"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to connect to InfluxDB. The default InfluxDB port is 8086.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.timestreaminfluxdb#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which InfluxDB accepts connections.</p>"
          }
        },
        "networkType": {
          "target": "com.amazonaws.timestreaminfluxdb#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the networkType of the Timestream for InfluxDB instance is IPV4, which can communicate over IPv4 protocol only, or DUAL, which can communicate over both IPv4 and IPv6 protocols.</p>"
          }
        },
        "dbInstanceType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB instance type that InfluxDB runs on.</p>"
          }
        },
        "dbStorageType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbStorageType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB DB storage type that InfluxDB stores data on.</p>"
          }
        },
        "allocatedStorage": {
          "target": "com.amazonaws.timestreaminfluxdb#AllocatedStorage",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage allocated for your DB storage type (in gibibytes).</p>"
          }
        },
        "deploymentType": {
          "target": "com.amazonaws.timestreaminfluxdb#DeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the Timestream for InfluxDB is deployed as Single-AZ or with a MultiAZ Standby for High availability.</p>"
          }
        },
        "vpcSubnetIds": {
          "target": "com.amazonaws.timestreaminfluxdb#VpcSubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC subnet IDs associated with the DB instance.</p>",
            "smithy.api#required": {}
          }
        },
        "publiclyAccessible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the DB instance has a public IP to facilitate access.</p>"
          }
        },
        "vpcSecurityGroupIds": {
          "target": "com.amazonaws.timestreaminfluxdb#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC security group IDs associated with the DB instance.</p>"
          }
        },
        "dbParameterGroupIdentifier": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The id of the DB parameter group assigned to your DB instance.</p>"
          }
        },
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which the DB instance resides.</p>"
          }
        },
        "secondaryAvailabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which the standby instance is located when deploying with a MultiAZ standby instance.</p>"
          }
        },
        "logDeliveryConfiguration": {
          "target": "com.amazonaws.timestreaminfluxdb#LogDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for sending InfluxDB engine logs to send to specified S3 bucket.</p>"
          }
        },
        "influxAuthParametersSecretArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Secrets Manager secret containing the initial InfluxDB authorization parameters. The secret value is a JSON formatted key-value pair holding InfluxDB authorization values: organization, bucket, username, and password.</p>"
          }
        },
        "dbClusterId": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DbCluster to which this DbInstance belongs to.</p>"
          }
        },
        "instanceMode": {
          "target": "com.amazonaws.timestreaminfluxdb#InstanceMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DbInstance's role in the cluster.</p>"
          }
        },
        "instanceModes": {
          "target": "com.amazonaws.timestreaminfluxdb#InstanceModeList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DbInstance's roles in the cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreaminfluxdb#DeploymentType": {
      "type": "enum",
      "members": {
        "SINGLE_AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_AZ"
          }
        },
        "WITH_MULTIAZ_STANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITH_MULTIAZ_STANDBY"
          }
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#Duration": {
      "type": "structure",
      "members": {
        "durationType": {
          "target": "com.amazonaws.timestreaminfluxdb#DurationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of duration for InfluxDB parameters.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The value of duration for InfluxDB parameters.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Duration for InfluxDB parameters in Timestream for InfluxDB.</p>"
      }
    },
    "com.amazonaws.timestreaminfluxdb#DurationType": {
      "type": "enum",
      "members": {
        "HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hours"
          }
        },
        "MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minutes"
          }
        },
        "SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "seconds"
          }
        },
        "MILLISECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "milliseconds"
          }
        },
        "DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "days"
          }
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#EngineType": {
      "type": "enum",
      "members": {
        "INFLUXDB_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFLUXDB_V2"
          }
        },
        "INFLUXDB_V3_CORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFLUXDB_V3_CORE"
          }
        },
        "INFLUXDB_V3_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFLUXDB_V3_ENTERPRISE"
          }
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#FailoverMode": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "NO_FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_FAILOVER"
          }
        }
      }
    },
    "com.amazonaws.timestreaminfluxdb#GetDbCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreaminfluxdb#GetDbClusterInput"
      },
      "output": {
        "target": "com.amazonaws.timestreaminfluxdb#GetDbClusterOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreaminfluxdb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreaminfluxdb#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get information about a Timestream InfluxDB Cluster"
        },
        "smithy.api#documentation": "<p>Retrieves information about a Timestream for InfluxDB cluster.</p>",
        "smithy.api#readonly": {},
        "smithy.api#tags": ["DbCluster"]
      }
    },
    "com.amazonaws.timestreaminfluxdb#GetDbClusterInput": {
      "type": "structure",
      "members": {
        "dbClusterId": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterId",
          "traits": {
            "smithy.api#documentation": "<p>Service-generated unique identifier of the DB cluster to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreaminfluxdb#GetDbClusterOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterId",
          "traits": {
            "smithy.api#documentation": "<p>Service-generated unique identifier of the DB cluster to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.timestreaminfluxdb#DbClusterName",
          "traits": {
            "smithy.api#documentation": "<p>Customer-supplied name of the Timestream for InfluxDB cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.timestreaminfluxdb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DB cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.timestreaminfluxdb#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the DB cluster.</p>"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to connect to the Timestream for InfluxDB cluster for write and read operations.</p>"
          }
        },
        "readerEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to connect to the Timestream for InfluxDB cluster for read-only operations.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.timestreaminfluxdb#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which InfluxDB accepts connections.</p>"
          }
        },
        "deploymentType": {
          "target": "com.amazonaws.timestreaminfluxdb#ClusterDeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Deployment type of the DB cluster.</p>"
          }
        },
        "dbInstanceType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB instance type that InfluxDB runs on.</p>"
          }
        },
        "networkType": {
          "target": "com.amazonaws.timestreaminfluxdb#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the network type of the Timestream for InfluxDB cluster is IPv4, which can communicate over IPv4 protocol only, or DUAL, which can communicate over both IPv4 and IPv6 protocols.</p>"
          }
        },
        "dbStorageType": {
          "target": "com.amazonaws.timestreaminfluxdb#DbStorageType",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream for InfluxDB DB storage type that InfluxDB stores data on.</p>"
          }
        },
        "allocatedStorage": {
          "target": "com.amazonaws.timestreaminfluxdb#AllocatedStorage",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage allocated for your DB storage type (in gibibytes).</p>"
          }
        },
        "engineType": {
          "target": "com.amazonaws.timestreaminfluxdb#EngineType",
          "traits": {
            "smithy.api#documentation": "<p>The engine type of your DB cluster.</p>"
          }
        },
        "publiclyAccessible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the DB cluster has a public IP to facilitate access from outside the VPC.</p>"
          }
        },
        "dbParameterGroupIdentifier": {
          "target": "com.amazonaws.timestreaminfluxdb#DbParameterGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DB parameter group assigned to your DB cluster.</p>"
          }
        },
        "logDeliveryConfiguration": {
          "target": "com.amazonaws.timestreaminfluxdb#LogDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for sending InfluxDB engine logs to send to specified S3 bucket.</p>"
          }
        },
        "influxAuthParametersSecretArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Secrets Manager secret containing the initial InfluxDB authorization parameters. The secret value is a JSON formatted key-value pair holding InfluxDB authorization values: organization, bucket, username, and password.</p>"
          }
        },
        "vpcSubnetIds": {
          "target": "com.amazonaws.timestreaminfluxdb#VpcSubnetIdList",
          "traits": {
[...]
