{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.tnb#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Insufficient permissions to make request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.tnb#CancelSolNetworkOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#CancelSolNetworkOperationInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a network operation.</p>\n         <p>A network operation is any operation that is done to your network, such as network instance instantiation or termination.</p>",
        "smithy.api#examples": [
          {
            "title": "Cancel a in-progress Sol Network Operation.",
            "input": {
              "nsLcmOpOccId": "no-0d5b823eb5c2a9241"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sol/nslcm/v1/ns_lcm_op_occs/{nsLcmOpOccId}/cancel",
          "code": 202
        }
      }
    },
    "com.amazonaws.tnb#CancelSolNetworkOperationInput": {
      "type": "structure",
      "members": {
        "nsLcmOpOccId": {
          "target": "com.amazonaws.tnb#NsLcmOpOccId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the network operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#CreateSolFunctionPackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#CreateSolFunctionPackageInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#CreateSolFunctionPackageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a function package.</p>\n         <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network. For more information, see <a href=\"https://docs.aws.amazon.com/tnb/latest/ug/function-packages.html\">Function packages</a> in the <i>Amazon Web Services Telco Network Builder User Guide</i>. \n      </p>\n         <p>Creating a function package is the first step for creating a network in AWS TNB. This request creates an empty container with an ID. The next step is to upload the actual CSAR zip file into that empty container. To upload function package content, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_PutSolFunctionPackageContent.html\">PutSolFunctionPackageContent</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "Create a Sol function package",
            "input": {
              "tags": {
                "Name": "Resource"
              }
            },
            "output": {
              "onboardingState": "CREATED",
              "operationalState": "DISABLED",
              "usageState": "NOT_IN_USE",
              "id": "fp-07aa863e53460a2a6",
              "arn": "arn:aws:tnb:us-west-2:123456789000:function-package/fp-07aa863e53460a2a6",
              "tags": {
                "Name": "Resource"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sol/vnfpkgm/v1/vnf_packages",
          "code": 201
        }
      }
    },
    "com.amazonaws.tnb#CreateSolFunctionPackageInput": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#CreateSolFunctionPackageOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#VnfPkgId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the function package.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#VnfPkgArn",
          "traits": {
            "smithy.api#documentation": "<p>Function package ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "onboardingState": {
          "target": "com.amazonaws.tnb#OnboardingState",
          "traits": {
            "smithy.api#documentation": "<p>Onboarding state of the function package.</p>",
            "smithy.api#required": {}
          }
        },
        "operationalState": {
          "target": "com.amazonaws.tnb#OperationalState",
          "traits": {
            "smithy.api#documentation": "<p>Operational state of the function package.</p>",
            "smithy.api#required": {}
          }
        },
        "usageState": {
          "target": "com.amazonaws.tnb#UsageState",
          "traits": {
            "smithy.api#documentation": "<p>Usage state of the function package.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#CreateSolNetworkInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#CreateSolNetworkInstanceInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#CreateSolNetworkInstanceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a network instance.</p>\n         <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed. Creating a network instance is the third step after creating a network package. For more information about network instances, <a href=\"https://docs.aws.amazon.com/tnb/latest/ug/network-instances.html\">Network instances</a> in the <i>Amazon Web Services Telco Network Builder User Guide</i>.</p>\n         <p>Once you create a network instance, you can instantiate it. To instantiate a network, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_InstantiateSolNetworkInstance.html\">InstantiateSolNetworkInstance</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "Create a Sol Network Instance",
            "input": {
              "nsdInfoId": "np-0d5b823eb5c2a9241",
              "nsName": "CITY Instance",
              "nsDescription": "Test network for CITY",
              "tags": {
                "Name": "Resource"
              }
            },
            "output": {
              "id": "ni-07aa863e53460a2a6",
              "nsdInfoId": "np-0d5b823eb5c2a9241",
              "arn": "arn:aws:tnb:us-west-2:123456789000:network-instance/ni-07aa863e53460a2a6",
              "nsInstanceName": "CITY Instance",
              "tags": {
                "Name": "Resource"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sol/nslcm/v1/ns_instances",
          "code": 201
        }
      }
    },
    "com.amazonaws.tnb#CreateSolNetworkInstanceInput": {
      "type": "structure",
      "members": {
        "nsdInfoId": {
          "target": "com.amazonaws.tnb#NsdInfoId",
          "traits": {
            "smithy.api#documentation": "<p>ID for network service descriptor.</p>",
            "smithy.api#required": {}
          }
        },
        "nsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network instance name.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#required": {}
          }
        },
        "nsDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network instance description.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 255
            }
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#CreateSolNetworkInstanceOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#NsInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>Network instance ID.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#NsInstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>Network instance ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdInfoId": {
          "target": "com.amazonaws.tnb#NsdInfoId",
          "traits": {
            "smithy.api#documentation": "<p>Network service descriptor ID.</p>",
            "smithy.api#required": {}
          }
        },
        "nsInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network instance name.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#CreateSolNetworkPackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#CreateSolNetworkPackageInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#CreateSolNetworkPackageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a network package.</p>\n         <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on. For more information, see <a href=\"https://docs.aws.amazon.com/tnb/latest/ug/network-instances.html\">Network instances</a> in the <i>Amazon Web Services Telco Network Builder User Guide</i>. \n      </p>\n         <p>A network package consists of a network service descriptor (NSD) file (required) and any additional files (optional), such as scripts specific to your needs. For example, if you have multiple function packages in your network package, you can use the NSD to define which network functions should run in certain VPCs, subnets, or EKS clusters.</p>\n         <p>This request creates an empty network package container with an ID. Once you create a network package, you can upload the network package content using <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_PutSolNetworkPackageContent.html\">PutSolNetworkPackageContent</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "Create a Sol network package",
            "input": {
              "tags": {
                "Name": "Resource"
              }
            },
            "output": {
              "id": "np-0d5b823eb5c2a9241",
              "arn": "arn:aws:tnb:us-west-2:123456789000:network-package/np-0d5b823eb5c2a9241",
              "nsdOnboardingState": "CREATED",
              "nsdOperationalState": "DISABLED",
              "nsdUsageState": "NOT_IN_USE",
              "tags": {
                "Name": "Resource"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sol/nsd/v1/ns_descriptors",
          "code": 201
        }
      }
    },
    "com.amazonaws.tnb#CreateSolNetworkPackageInput": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#CreateSolNetworkPackageOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#NsdInfoId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the network package.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#NsdInfoArn",
          "traits": {
            "smithy.api#documentation": "<p>Network package ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdOnboardingState": {
          "target": "com.amazonaws.tnb#NsdOnboardingState",
          "traits": {
            "smithy.api#documentation": "<p>Onboarding state of the network service descriptor in the network package.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdOperationalState": {
          "target": "com.amazonaws.tnb#NsdOperationalState",
          "traits": {
            "smithy.api#documentation": "<p>Operational state of the network service descriptor in the network package.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdUsageState": {
          "target": "com.amazonaws.tnb#NsdUsageState",
          "traits": {
            "smithy.api#documentation": "<p>Usage state of the network service descriptor in the network package.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#DeleteSolFunctionPackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#DeleteSolFunctionPackageInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a function package.</p>\n         <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>\n         <p>To delete a function package, the package must be in a disabled state. To disable a function package, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_UpdateSolFunctionPackage.html\">UpdateSolFunctionPackage</a>.\n      </p>",
        "smithy.api#examples": [
          {
            "title": "Delete a function package",
            "input": {
              "vnfPkgId": "fp-07aa863e53460a2a6"
            }
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.tnb#DeleteSolFunctionPackageInput": {
      "type": "structure",
      "members": {
        "vnfPkgId": {
          "target": "com.amazonaws.tnb#VnfPkgId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the function package.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#DeleteSolNetworkInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#DeleteSolNetworkInstanceInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a network instance.</p>\n         <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>\n         <p>To delete a network instance, the instance must be in a stopped or terminated state. To terminate a network instance, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_TerminateSolNetworkInstance.html\">TerminateSolNetworkInstance</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete a Sol Network Instance.",
            "input": {
              "nsInstanceId": "ni-07aa863e53460a2a6"
            }
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.tnb#DeleteSolNetworkInstanceInput": {
      "type": "structure",
      "members": {
        "nsInstanceId": {
          "target": "com.amazonaws.tnb#NsInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>Network instance ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#DeleteSolNetworkPackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#DeleteSolNetworkPackageInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes network package.</p>\n         <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p>\n         <p>To delete a network package, the package must be in a disable state. To disable a network package, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_UpdateSolNetworkPackage.html\">UpdateSolNetworkPackage</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete a Sol network package",
            "input": {
              "nsdInfoId": "np-0d5b823eb5c2a9241"
            }
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.tnb#DeleteSolNetworkPackageInput": {
      "type": "structure",
      "members": {
        "nsdInfoId": {
          "target": "com.amazonaws.tnb#NsdInfoId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the network service descriptor in the network package.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#DescriptorContentType": {
      "type": "enum",
      "members": {
        "TEXT_PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text/plain"
          }
        }
      }
    },
    "com.amazonaws.tnb#ErrorCause": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.tnb#ErrorDetails": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 10240
        }
      }
    },
    "com.amazonaws.tnb#ErrorInfo": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "com.amazonaws.tnb#ErrorCause",
          "traits": {
            "smithy.api#documentation": "<p>Error cause.</p>"
          }
        },
        "details": {
          "target": "com.amazonaws.tnb#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Error details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides error information.</p>"
      }
    },
    "com.amazonaws.tnb#FunctionArtifactMeta": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.amazonaws.tnb#OverrideList",
          "traits": {
            "smithy.api#documentation": "<p>Lists of function package overrides.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata for function package artifacts.</p>\n         <p>Artifacts are the contents of the package descriptor file and the state of the package.</p>"
      }
    },
    "com.amazonaws.tnb#GetSolFunctionInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#GetSolFunctionInstanceInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#GetSolFunctionInstanceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the details of a network function instance, including the instantation state and metadata from the function package descriptor in the network function package.</p>\n         <p>A network function instance is a function in a function package .</p>",
        "smithy.api#examples": [
          {
            "title": "Get a Sol Network Function Instance details",
            "input": {
              "vnfInstanceId": "fi-b9439c34c1ef86c54"
            },
            "output": {
              "id": "fi-b9439c34c1ef86c54",
              "arn": "arn:aws:tnb:us-west-2:123456789000:function-instance/fi-b9439c34c1ef86c54",
              "nsInstanceId": "ni-07aa863e53460a2a6",
              "vnfPkgId": "fp-07aa863e53460a2a6",
              "vnfdId": "6625a858-2157-4d74-9197-a6ff67d51f3e",
              "vnfProvider": "VNFBuilder",
              "vnfProductName": "VNFBuilder-AMF",
              "vnfdVersion": "1.0",
              "instantiationState": "INSTANTIATED",
              "instantiatedVnfInfo": {
                "vnfState": "STARTED",
                "vnfcResourceInfo": [
                  {
                    "metadata": {
                      "cluster": "TestCluster",
                      "nodeGroup": "Core-EKS-TEST01-EKSNodeGroup-94BNRKWRV6MP",
                      "helmChart": "VnfHelmChart01"
                    }
                  }
                ]
              },
              "metadata": {
                "createdAt": "2022-06-10T19:48:33Z",
                "lastModified": "2022-06-10T19:48:33Z"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/vnflcm/v1/vnf_instances/{vnfInstanceId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionInstanceInput": {
      "type": "structure",
      "members": {
        "vnfInstanceId": {
          "target": "com.amazonaws.tnb#VnfInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the network function.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionInstanceMetadata": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastModified": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was last modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of a network function instance.</p>\n         <p>A network function instance is a function in a function package .</p>"
      }
    },
    "com.amazonaws.tnb#GetSolFunctionInstanceOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#VnfInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>Network function instance ID.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#VnfInstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>Network function instance ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "nsInstanceId": {
          "target": "com.amazonaws.tnb#NsInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>Network instance ID.</p>",
            "smithy.api#required": {}
          }
        },
        "vnfPkgId": {
          "target": "com.amazonaws.tnb#VnfPkgId",
          "traits": {
            "smithy.api#documentation": "<p>Function package ID.</p>",
            "smithy.api#required": {}
          }
        },
        "vnfdId": {
          "target": "com.amazonaws.tnb#VnfdId",
          "traits": {
            "smithy.api#documentation": "<p>Function package descriptor ID.</p>",
            "smithy.api#required": {}
          }
        },
        "vnfProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network function provider.</p>"
          }
        },
        "vnfProductName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network function product name.</p>"
          }
        },
        "vnfdVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Function package descriptor version.</p>"
          }
        },
        "instantiationState": {
          "target": "com.amazonaws.tnb#VnfInstantiationState",
          "traits": {
            "smithy.api#documentation": "<p>Network function instantiation state.</p>",
            "smithy.api#required": {}
          }
        },
        "instantiatedVnfInfo": {
          "target": "com.amazonaws.tnb#GetSolVnfInfo"
        },
        "metadata": {
          "target": "com.amazonaws.tnb#GetSolFunctionInstanceMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#GetSolFunctionPackageInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#GetSolFunctionPackageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the details of an individual function package, such as the operational state and whether the package is in use.</p>\n         <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network..</p>",
        "smithy.api#examples": [
          {
            "title": "Describe a function package with correct vnfPkgId",
            "input": {
              "vnfPkgId": "fp-07aa863e53460a2a6"
            },
            "output": {
              "id": "fp-07aa863e53460a2a6",
              "arn": "arn:aws:tnb:us-west-2:123456789000:function-package/fp-07aa863e53460a2a6",
              "onboardingState": "ONBOARDED",
              "operationalState": "ENABLED",
              "usageState": "IN_USE",
              "vnfdId": "eefaac4a-cf5c-4b1f-869e-9d31a9fa6d71",
              "vnfProvider": "VNFBuilder",
              "vnfProductName": "NRF",
              "vnfdVersion": "1.0.0",
              "metadata": {
                "createdAt": "2022-06-10T19:48:34Z",
                "lastModified": "2022-06-10T21:48:33Z",
                "vnfd": {
                  "overrides": []
                }
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackageContent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#GetSolFunctionPackageContentInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#GetSolFunctionPackageContentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the contents of a function package.</p>\n         <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>",
        "smithy.api#examples": [
          {
            "title": "Get the content of a function package",
            "input": {
              "accept": "application/zip",
              "vnfPkgId": "fp-07aa863e53460a2a6"
            },
            "output": {
              "contentType": "application/zip",
              "packageContent": "dGVzdCBjb250ZW50IGhlcmU="
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}/package_content"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackageContentInput": {
      "type": "structure",
      "members": {
        "vnfPkgId": {
          "target": "com.amazonaws.tnb#VnfPkgId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the function package.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "accept": {
          "target": "com.amazonaws.tnb#PackageContentType",
          "traits": {
            "smithy.api#documentation": "<p>The format of the package that you want to download from the function packages.</p>",
            "smithy.api#httpHeader": "Accept",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackageContentOutput": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "com.amazonaws.tnb#PackageContentType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the media type of the resource.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "packageContent": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "<p>Contents of the function package.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackageDescriptor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#GetSolFunctionPackageDescriptorInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#GetSolFunctionPackageDescriptorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a function package descriptor in a function package.</p>\n         <p>A function package descriptor is a .yaml file in a function package that uses the TOSCA standard to describe how the network function in the function package should run on your network.</p>\n         <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>",
        "smithy.api#examples": [
          {
            "title": "Get the descriptor of a function package",
            "input": {
              "accept": "text/plain",
              "vnfPkgId": "fp-07aa863e53460a2a6"
            },
            "output": {
              "contentType": "text/plain",
              "vnfd": "dGVzdCBjb250ZW50IGhlcmU="
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}/vnfd"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackageDescriptorInput": {
      "type": "structure",
      "members": {
        "vnfPkgId": {
          "target": "com.amazonaws.tnb#VnfPkgId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the function package.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "accept": {
          "target": "com.amazonaws.tnb#DescriptorContentType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates which content types, expressed as MIME types, the client is able to understand.</p>",
            "smithy.api#httpHeader": "Accept",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackageDescriptorOutput": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "com.amazonaws.tnb#DescriptorContentType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the media type of the resource.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "vnfd": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "<p>Contents of the function package descriptor.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackageInput": {
      "type": "structure",
      "members": {
        "vnfPkgId": {
          "target": "com.amazonaws.tnb#VnfPkgId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the function package.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackageMetadata": {
      "type": "structure",
      "members": {
        "vnfd": {
          "target": "com.amazonaws.tnb#FunctionArtifactMeta",
          "traits": {
            "smithy.api#documentation": "<p>Metadata related to the function package descriptor of the function package.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastModified": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was last modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata related to the function package.</p>\n         <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>"
      }
    },
    "com.amazonaws.tnb#GetSolFunctionPackageOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#VnfPkgId",
          "traits": {
            "smithy.api#documentation": "<p>Function package ID.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#VnfPkgArn",
          "traits": {
            "smithy.api#documentation": "<p>Function package ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "onboardingState": {
          "target": "com.amazonaws.tnb#OnboardingState",
          "traits": {
            "smithy.api#documentation": "<p>Function package onboarding state.</p>",
            "smithy.api#required": {}
          }
        },
        "operationalState": {
          "target": "com.amazonaws.tnb#OperationalState",
          "traits": {
            "smithy.api#documentation": "<p>Function package operational state.</p>",
            "smithy.api#required": {}
          }
        },
        "usageState": {
          "target": "com.amazonaws.tnb#UsageState",
          "traits": {
            "smithy.api#documentation": "<p>Function package usage state.</p>",
            "smithy.api#required": {}
          }
        },
        "vnfdId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Function package descriptor  ID.</p>"
          }
        },
        "vnfProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network function provider.</p>"
          }
        },
        "vnfProductName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network function product name.</p>"
          }
        },
        "vnfdVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Function package descriptor version.</p>"
          }
        },
        "metadata": {
          "target": "com.amazonaws.tnb#GetSolFunctionPackageMetadata"
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#GetSolInstantiatedVnfInfo": {
      "type": "structure",
      "members": {
        "vnfState": {
          "target": "com.amazonaws.tnb#VnfOperationalState",
          "traits": {
            "smithy.api#documentation": "<p>State of the network function.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a network function.</p>\n         <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>"
      }
    },
    "com.amazonaws.tnb#GetSolNetworkInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#GetSolNetworkInstanceInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#GetSolNetworkInstanceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the details of the network instance.</p>\n         <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>",
        "smithy.api#examples": [
          {
            "title": "Get a Sol Network Instance details",
            "input": {
              "nsInstanceId": "ni-07aa863e53460a2a6"
            },
            "output": {
              "id": "ni-07aa863e53460a2a6",
              "arn": "arn:aws:tnb:us-west-2:123456789000:network-instance/ni-07aa863e53460a2a6",
              "nsInstanceName": "CITY Instance",
              "nsInstanceDescription": "Network service for CITY",
              "nsdId": "6625a858-2157-4d74-9197-a6ff67d51f3e",
              "nsdInfoId": "np-07aa863e53460a2a6",
              "nsState": "INSTANTIATED",
              "metadata": {
                "createdAt": "2022-06-10T19:48:33Z",
                "lastModified": "2022-06-10T19:48:33Z"
              },
              "lcmOpInfo": {
                "nsLcmOpOccId": "no-0d5b823eb5c2a9241"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkInstanceInput": {
      "type": "structure",
      "members": {
        "nsInstanceId": {
          "target": "com.amazonaws.tnb#NsInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the network instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkInstanceMetadata": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastModified": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was last modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of a network instance.</p>\n         <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>"
      }
    },
    "com.amazonaws.tnb#GetSolNetworkInstanceOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#NsInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>Network instance ID.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#NsInstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>Network instance ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "nsInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network instance name.</p>",
            "smithy.api#required": {}
          }
        },
        "nsInstanceDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network instance description.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdId": {
          "target": "com.amazonaws.tnb#NsdId",
          "traits": {
            "smithy.api#documentation": "<p>Network service descriptor ID.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdInfoId": {
          "target": "com.amazonaws.tnb#NsdInfoId",
          "traits": {
            "smithy.api#documentation": "<p>Network service descriptor info ID.</p>",
            "smithy.api#required": {}
          }
        },
        "nsState": {
          "target": "com.amazonaws.tnb#NsState",
          "traits": {
            "smithy.api#documentation": "<p>Network instance state.</p>"
          }
        },
        "lcmOpInfo": {
          "target": "com.amazonaws.tnb#LcmOperationInfo"
        },
        "metadata": {
          "target": "com.amazonaws.tnb#GetSolNetworkInstanceMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#GetSolNetworkOperationInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#GetSolNetworkOperationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the details of a network operation, including the tasks involved in the network operation and the status of the tasks.</p>\n         <p>A network operation is any operation that is done to your network, such as network instance instantiation or termination.</p>",
        "smithy.api#examples": [
          {
            "title": "Get Sol Network Instantiate operation",
            "input": {
              "nsLcmOpOccId": "no-0d5b823eb5c2a9241"
            },
            "output": {
              "id": "no-0d5b823eb5c2a9241",
              "arn": "arn:aws:tnb:us-west-2:123456789000:network-operation/no-0d5b823eb5c2a9241",
              "nsInstanceId": "ni-0d5b823eb5c2a9241",
              "operationState": "COMPLETED",
              "lcmOperationType": "INSTANTIATE",
              "metadata": {
                "createdAt": "2022-06-10T19:48:34Z",
                "lastModified": "2022-06-10T21:48:33Z"
              },
              "tasks": [
                {
                  "taskName": "HookExecution",
                  "taskContext": {
                    "cloudWatchLogsARN": "arn:aws:logs:us-east-1:123456789000:log-group:/aws/codebuild/TestProject:log-stream:a4dc6b0b-2ea3-48c5-bb30-636c4f376b81"
                  },
                  "taskStatus": "IN_PROGRESS",
                  "taskStartTime": "2022-06-10T19:48:34Z",
                  "taskEndTime": "2022-06-10T21:48:33Z"
                }
              ]
            }
          },
          {
            "title": "Get Sol Network Instantiate operation which has a failure",
            "input": {
              "nsLcmOpOccId": "no-0d5b823eb5c2a9241"
            },
            "output": {
              "id": "no-0d5b823eb5c2a9241",
              "arn": "arn:aws:tnb:us-west-2:123456789000:network-operation/no-0d5b823eb5c2a9241",
              "nsInstanceId": "ni-0d5b823eb5c2a9241",
              "operationState": "FAILED",
              "lcmOperationType": "INSTANTIATE",
              "error": {
                "title": "InternalServerException",
                "detail": "The service encountered an error. Sorry for the inconvenience."
              },
              "metadata": {
                "createdAt": "2022-06-10T19:48:33Z",
                "lastModified": "2022-06-10T19:48:33Z"
              },
              "tasks": [
                {
                  "taskName": "HookExecution",
                  "taskContext": {
                    "cloudWatchLogsARN": "arn:aws:logs:us-east-1:123456789000:log-group:/aws/codebuild/TestProject:log-stream:a4dc6b0b-2ea3-48c5-bb30-636c4f376b81"
                  },
                  "taskStatus": "IN_PROGRESS",
                  "taskStartTime": "2022-06-10T19:48:34Z",
                  "taskEndTime": "2022-06-10T21:48:33Z"
                },
                {
                  "taskName": "HookExecution",
                  "taskErrorDetails": {
                    "cause": "InternalServerException",
                    "details": "The service encountered an error. Sorry for the inconvenience."
                  },
                  "taskStatus": "ERROR",
                  "taskStartTime": "2022-06-10T19:48:34Z",
                  "taskEndTime": "2022-06-10T21:48:33Z"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/nslcm/v1/ns_lcm_op_occs/{nsLcmOpOccId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkOperationInput": {
      "type": "structure",
      "members": {
        "nsLcmOpOccId": {
          "target": "com.amazonaws.tnb#NsLcmOpOccId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the network operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkOperationMetadata": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastModified": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was last modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata related to a network operation occurrence.</p>\n         <p>A network operation is any operation that is done to your network, such as network instance instantiation or termination.</p>"
      }
    },
    "com.amazonaws.tnb#GetSolNetworkOperationOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#NsLcmOpOccId",
          "traits": {
            "smithy.api#documentation": "<p>ID of this network operation occurrence.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#NsLcmOpOccArn",
          "traits": {
            "smithy.api#documentation": "<p>Network operation ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "operationState": {
          "target": "com.amazonaws.tnb#NsLcmOperationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the network operation.</p>"
          }
        },
        "nsInstanceId": {
          "target": "com.amazonaws.tnb#NsInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the network operation instance.</p>"
          }
        },
        "lcmOperationType": {
          "target": "com.amazonaws.tnb#LcmOperationType",
          "traits": {
            "smithy.api#documentation": "<p>Type of the operation represented by this occurrence.</p>"
          }
        },
        "error": {
          "target": "com.amazonaws.tnb#ProblemDetails",
          "traits": {
            "smithy.api#documentation": "<p>Error related to this specific network operation occurrence.</p>"
          }
        },
        "metadata": {
          "target": "com.amazonaws.tnb#GetSolNetworkOperationMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata of this network operation occurrence.</p>"
          }
        },
        "tasks": {
          "target": "com.amazonaws.tnb#GetSolNetworkOperationTasksList",
          "traits": {
            "smithy.api#documentation": "<p>All tasks associated with this operation occurrence.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkOperationTaskDetails": {
      "type": "structure",
      "members": {
        "taskName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Task name.</p>"
          }
        },
        "taskContext": {
          "target": "com.amazonaws.tnb#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>Context for the network operation task.</p>"
          }
        },
        "taskErrorDetails": {
          "target": "com.amazonaws.tnb#ErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>Task error details.</p>"
          }
        },
        "taskStatus": {
          "target": "com.amazonaws.tnb#TaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>Task status.</p>"
          }
        },
        "taskStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Task start time.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "taskEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Task end time.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Gets the details of a network operation.</p>\n         <p>A network operation is any operation that is done to your network, such as network instance instantiation or termination.</p>"
      }
    },
    "com.amazonaws.tnb#GetSolNetworkOperationTasksList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.tnb#GetSolNetworkOperationTaskDetails"
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#GetSolNetworkPackageInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#GetSolNetworkPackageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the details of a network package.</p>\n         <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p>",
        "smithy.api#examples": [
          {
            "title": "Describe an individual Sol network package",
            "input": {
              "nsdInfoId": "np-0d5b823eb5c2a9241"
            },
            "output": {
              "id": "np-0d5b823eb5c2a9241",
              "arn": "arn:aws:tnb:us-west-2:123456789000:network-package/np-0d5b823eb5c2a9241",
              "nsdId": "be1abe66-1fcc-11ec-9621-0242ac130002",
              "nsdName": "Sample-City",
              "nsdVersion": "1.0",
              "vnfPkgIds": [
                "fp-0b627c4a170a97f79",
                "fp-8c253b2e898d23f92"
              ],
              "nsdOnboardingState": "ONBOARDED",
              "nsdOperationalState": "ENABLED",
              "nsdUsageState": "IN_USE",
              "metadata": {
                "createdAt": "2022-06-10T19:48:34Z",
                "lastModified": "2022-06-10T21:48:33Z",
                "nsd": {
                  "overrides": [
                    {
                      "name": "cidr_block",
                      "defaultValue": "10.0.0.0/24"
                    },
                    {
                      "name": "some_vnf.vnf_prop"
                    }
                  ]
                }
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackageContent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#GetSolNetworkPackageContentInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#GetSolNetworkPackageContentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the contents of a network package.</p>\n         <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p>",
        "smithy.api#examples": [
          {
            "title": "Get a network package Content",
            "input": {
              "accept": "application/zip",
              "nsdInfoId": "np-0d5b823eb5c2a9241"
            },
            "output": {
              "contentType": "application/zip",
              "nsdContent": "dGVzdCBjb250ZW50IGhlcmU="
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}/nsd_content"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackageContentInput": {
      "type": "structure",
      "members": {
        "nsdInfoId": {
          "target": "com.amazonaws.tnb#NsdInfoId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the network service descriptor in the network package.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "accept": {
          "target": "com.amazonaws.tnb#PackageContentType",
          "traits": {
            "smithy.api#documentation": "<p>The format of the package you want to download from the network package.</p>",
            "smithy.api#httpHeader": "Accept",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackageContentOutput": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "com.amazonaws.tnb#PackageContentType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the media type of the resource.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "nsdContent": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "<p>Content of the network service descriptor in the network package.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackageDescriptor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#GetSolNetworkPackageDescriptorInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#GetSolNetworkPackageDescriptorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the content of the network service descriptor.</p>\n         <p>A network service descriptor is a .yaml file in a network package that uses the TOSCA standard to describe the network functions you want to deploy and the Amazon Web Services infrastructure you want to deploy the network functions on.</p>",
        "smithy.api#examples": [
          {
            "title": "Get the descriptor of a Network Pacakge",
            "input": {
              "nsdInfoId": "np-0d5b823eb5c2a9241"
            },
            "output": {
              "contentType": "text/plain",
              "nsd": "dGVzdCBjb250ZW50IGhlcmU="
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}/nsd"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackageDescriptorInput": {
      "type": "structure",
      "members": {
        "nsdInfoId": {
          "target": "com.amazonaws.tnb#NsdInfoId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the network service descriptor in the network package.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackageDescriptorOutput": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "com.amazonaws.tnb#DescriptorContentType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the media type of the resource.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "nsd": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "<p>Contents of the network service descriptor in the network package.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackageInput": {
      "type": "structure",
      "members": {
        "nsdInfoId": {
          "target": "com.amazonaws.tnb#NsdInfoId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the network service descriptor in the network package.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackageMetadata": {
      "type": "structure",
      "members": {
        "nsd": {
          "target": "com.amazonaws.tnb#NetworkArtifactMeta",
          "traits": {
            "smithy.api#documentation": "<p>Metadata related to the onboarded network service descriptor in the network package.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastModified": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was last modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata associated with a network package.</p>\n         <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p>"
      }
    },
    "com.amazonaws.tnb#GetSolNetworkPackageOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#NsdInfoId",
          "traits": {
            "smithy.api#documentation": "<p>Network package ID.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#NsdInfoArn",
          "traits": {
            "smithy.api#documentation": "<p>Network package ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdOnboardingState": {
          "target": "com.amazonaws.tnb#NsdOnboardingState",
          "traits": {
            "smithy.api#documentation": "<p>Network service descriptor onboarding state.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdOperationalState": {
          "target": "com.amazonaws.tnb#NsdOperationalState",
          "traits": {
            "smithy.api#documentation": "<p>Network service descriptor operational state.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdUsageState": {
          "target": "com.amazonaws.tnb#NsdUsageState",
          "traits": {
            "smithy.api#documentation": "<p>Network service descriptor usage state.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdId": {
          "target": "com.amazonaws.tnb#NsdId",
          "traits": {
            "smithy.api#documentation": "<p>Network service descriptor ID.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network service descriptor name.</p>",
            "smithy.api#required": {}
          }
        },
        "nsdVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Network service descriptor version.</p>",
            "smithy.api#required": {}
          }
        },
        "vnfPkgIds": {
          "target": "com.amazonaws.tnb#VnfPkgIdList",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the function package for the function package descriptor referenced by the onboarded network package.</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.tnb#GetSolNetworkPackageMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#GetSolVnfInfo": {
      "type": "structure",
      "members": {
        "vnfState": {
          "target": "com.amazonaws.tnb#VnfOperationalState",
          "traits": {
            "smithy.api#documentation": "<p>State of the network function instance.</p>"
          }
        },
        "vnfcResourceInfo": {
          "target": "com.amazonaws.tnb#GetSolVnfcResourceInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Compute info used by the network function instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the network function.</p>\n         <p>A network function instance is a function in a function package .</p>"
      }
    },
    "com.amazonaws.tnb#GetSolVnfcResourceInfo": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.amazonaws.tnb#GetSolVnfcResourceInfoMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the network function compute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of resource associated with a network function.</p>\n         <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>"
      }
    },
    "com.amazonaws.tnb#GetSolVnfcResourceInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.tnb#GetSolVnfcResourceInfo"
      }
    },
    "com.amazonaws.tnb#GetSolVnfcResourceInfoMetadata": {
      "type": "structure",
      "members": {
        "nodeGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Information about the node group.</p>"
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Information about the cluster.</p>"
          }
        },
        "helmChart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Information about the helm chart.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of a network function.</p>\n         <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>"
      }
    },
    "com.amazonaws.tnb#InstantiateSolNetworkInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#InstantiateSolNetworkInstanceInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#InstantiateSolNetworkInstanceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.tnb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Instantiates a network instance.</p>\n         <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>\n         <p>Before you can instantiate a network instance, you have to create a network instance. For more information, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_CreateSolNetworkInstance.html\">CreateSolNetworkInstance</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "Instantiate a Sol Network Instance",
            "input": {
              "nsInstanceId": "ni-0d5b823eb5c2a9241",
              "tags": {
                "Name": "Resource"
              }
            },
            "output": {
              "nsLcmOpOccId": "no-0d5b823eb5c2a9241",
              "tags": {
                "Name": "Resource"
              }
            }
          },
          {
            "title": "Instantiate a Sol Network Instance with Overrides",
            "input": {
              "nsInstanceId": "ni-0d5b823eb5c2a9241",
              "additionalParamsForNs": {
                "cidr_block": "10.0.0.0/16",
                "availability_zone": "us-west-2a"
              }
            },
            "output": {
              "nsLcmOpOccId": "no-0d5b823eb5c2a9241"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}/instantiate",
          "code": 201
        }
      }
    },
    "com.amazonaws.tnb#InstantiateSolNetworkInstanceInput": {
      "type": "structure",
      "members": {
        "nsInstanceId": {
          "target": "com.amazonaws.tnb#NsInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the network instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A check for whether you have the required permissions for the action without actually making the request \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>",
            "smithy.api#httpQuery": "dry_run"
          }
        },
        "additionalParamsForNs": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>Provides values for the configurable properties.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. When you use this API, the tags are transferred to the network operation that is created. Use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#InstantiateSolNetworkInstanceOutput": {
      "type": "structure",
      "members": {
        "nsLcmOpOccId": {
          "target": "com.amazonaws.tnb#NsLcmOpOccId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the network operation.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.tnb#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. When you use this API, the tags are transferred to the network operation that is created. Use tags to search and filter your resources or track your Amazon Web Services costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error occurred. Problem on the server.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.tnb#LcmOperationInfo": {
      "type": "structure",
      "members": {
        "nsLcmOpOccId": {
          "target": "com.amazonaws.tnb#NsLcmOpOccId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the network operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lifecycle management operation details on the network instance.</p>\n         <p>Lifecycle management operations are deploy, update, or delete operations.</p>"
      }
    },
    "com.amazonaws.tnb#LcmOperationType": {
      "type": "enum",
      "members": {
        "INSTANTIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANTIATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "TERMINATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATE"
          }
        }
      }
    },
    "com.amazonaws.tnb#ListSolFunctionInstanceInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#VnfInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>Network function instance ID.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#VnfInstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>Network function instance ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "nsInstanceId": {
          "target": "com.amazonaws.tnb#NsInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>Network instance ID.</p>",
            "smithy.api#required": {}
          }
        },
        "vnfPkgId": {
          "target": "com.amazonaws.tnb#VnfPkgId",
          "traits": {
            "smithy.api#documentation": "<p>Function package ID.</p>",
            "smithy.api#required": {}
          }
        },
        "vnfPkgName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Function package name.</p>"
          }
        },
        "instantiationState": {
          "target": "com.amazonaws.tnb#VnfInstantiationState",
          "traits": {
            "smithy.api#documentation": "<p>Network function instance instantiation state.</p>",
            "smithy.api#required": {}
          }
        },
        "instantiatedVnfInfo": {
          "target": "com.amazonaws.tnb#GetSolInstantiatedVnfInfo"
        },
        "metadata": {
          "target": "com.amazonaws.tnb#ListSolFunctionInstanceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Network function instance metadata.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists information about a network function instance.</p>\n         <p>A network function instance is a function in a function package .</p>"
      }
    },
    "com.amazonaws.tnb#ListSolFunctionInstanceMetadata": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the network function instance was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastModified": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the network function instance was last modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists network function instance metadata.</p>\n         <p>A network function instance is a function in a function package .</p>"
      }
    },
    "com.amazonaws.tnb#ListSolFunctionInstanceResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.tnb#ListSolFunctionInstanceInfo"
      }
    },
    "com.amazonaws.tnb#ListSolFunctionInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#ListSolFunctionInstancesInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#ListSolFunctionInstancesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists network function instances.</p>\n         <p>A network function instance is a function in a function package .</p>",
        "smithy.api#examples": [
          {
            "title": "List Sol Function instances",
            "input": {},
            "output": {
              "functionInstances": [
                {
                  "id": "fi-b9439c34c1ef86c54",
                  "arn": "arn:aws:tnb:us-west-2:123456789000:function-instance/fi-b9439c34c1ef86c54",
                  "nsInstanceId": "ni-07aa863e53460a2a6",
                  "vnfPkgId": "fp-07aa863e53460a2a6",
                  "instantiationState": "INSTANTIATED",
                  "instantiatedVnfInfo": {
                    "vnfState": "STARTED"
                  },
                  "metadata": {
                    "createdAt": "2022-06-10T19:48:34Z",
                    "lastModified": "2022-06-10T21:48:33Z"
                  }
                },
                {
                  "id": "fi-b9439c34c1efabcd1",
                  "arn": "arn:aws:tnb:us-west-2:123456789000:function-instance/fi-b9439c34c1efabcd1",
                  "nsInstanceId": "ni-07aa863e53460a123",
                  "vnfPkgId": "fp-146a863e53460a2a6",
                  "instantiationState": "INSTANTIATED",
                  "instantiatedVnfInfo": {
                    "vnfState": "STOPPED"
                  },
                  "metadata": {
                    "createdAt": "2022-06-10T11:48:34Z",
                    "lastModified": "2023-06-28T21:48:33Z"
                  }
                }
              ]
            }
          },
          {
            "title": "List Sol Function Instances with nextToken and maxResults",
            "input": {
              "maxResults": 25,
              "nextToken": ""
            },
            "output": {
              "functionInstances": [
                {
                  "id": "fi-b9439c34c1ef86c54",
                  "arn": "arn:aws:tnb:us-west-2:123456789000:function-instance/fi-b9439c34c1ef86c54",
                  "nsInstanceId": "ni-07aa863e53460a2a6",
                  "vnfPkgId": "fp-07aa863e53460a2a6",
                  "instantiationState": "INSTANTIATED",
                  "instantiatedVnfInfo": {
                    "vnfState": "STARTED"
                  },
                  "metadata": {
                    "createdAt": "2022-06-10T19:48:34Z",
                    "lastModified": "2022-06-10T21:48:33Z"
                  }
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sol/vnflcm/v1/vnf_instances"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "functionInstances"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.tnb#ListSolFunctionInstancesInput": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response.</p>",
            "smithy.api#httpQuery": "max_results",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.tnb#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextpage_opaque_marker"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.tnb#ListSolFunctionInstancesOutput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.tnb#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        },
        "functionInstances": {
          "target": "com.amazonaws.tnb#ListSolFunctionInstanceResources",
          "traits": {
            "smithy.api#documentation": "<p>Network function instances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.tnb#ListSolFunctionPackageInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.tnb#VnfPkgId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the function package.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.tnb#VnfPkgArn",
          "traits": {
            "smithy.api#documentation": "<p>Function package ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "onboardingState": {
          "target": "com.amazonaws.tnb#OnboardingState",
          "traits": {
            "smithy.api#documentation": "<p>Onboarding state of the function package.</p>",
            "smithy.api#required": {}
          }
        },
        "operationalState": {
          "target": "com.amazonaws.tnb#OperationalState",
          "traits": {
            "smithy.api#documentation": "<p>Operational state of the function package.</p>",
            "smithy.api#required": {}
          }
        },
        "usageState": {
          "target": "com.amazonaws.tnb#UsageState",
          "traits": {
            "smithy.api#documentation": "<p>Usage state of the function package.</p>",
            "smithy.api#required": {}
          }
        },
        "vnfdId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the function package and the function package descriptor.</p>"
          }
        },
        "vnfProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Provider of the function package and the function package descriptor.</p>"
          }
        },
        "vnfProductName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The product name for the network function.</p>"
          }
        },
        "vnfdVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the version of the function package descriptor.</p>"
          }
        },
        "metadata": {
          "target": "com.amazonaws.tnb#ListSolFunctionPackageMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the function package.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a function package.</p>\n         <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>"
      }
    },
    "com.amazonaws.tnb#ListSolFunctionPackageMetadata": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastModified": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the resource was last modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for the function package metadata.</p>\n         <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>"
      }
    },
    "com.amazonaws.tnb#ListSolFunctionPackageResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.tnb#ListSolFunctionPackageInfo"
      }
    },
    "com.amazonaws.tnb#ListSolFunctionPackages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.tnb#ListSolFunctionPackagesInput"
      },
      "output": {
        "target": "com.amazonaws.tnb#ListSolFunctionPackagesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.tnb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.tnb#InternalServerException"
        },
        {
          "target": "com.amazonaws.tnb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.tnb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists information about function packages.</p>\n         <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>",
        "smithy.api#examples": [
          {
            "title": "List information about multiple function packages without PaginationToken",
            "input": {
              "maxResults": 25,
              "nextToken": ""
            },
            "output": {
              "nextToken": "ug2E9SheCpyAmeLItmHF99a8GNI6yAHxXIvgBkdiA2ixKvqdhYpNBLWHDl6vGnWt7Y4CB6m1Dkz86gSwcDouMO1pSrN%2BlGY2kbNtfTeMgnuB6bmwP/UU12r7MkHQyPCWMYG8OuCXkDBOYeX8qjRDTJ5vxAyrwtynaB6XDNDZA2DscCjcD7kpNzf3xlPRCwd6",
              "functionPackages": [
                {
                  "id": "fp-07aa863e53460a2a6",
                  "arn": "arn:aws:tnb:us-west-2:123456789000:function-package/fp-07aa863e53460a2a6",
                  "onboardingState": "ONBOARDED",
                  "operationalState": "ENABLED",
                  "usageState": "IN_USE",
                  "vnfdId": "arn:aws:tnb:123456789000:vnf/nrf",
                  "vnfProvider": "VNFBuilder",
                  "vnfProductName": "NRF",
                  "vnfdVersion": "1.0",
                  "metadata": {
                    "createdAt": "2022-06-10T19:48:34Z",
                    "lastModified": "2022-06-10T21:48:33Z"
                  }
                }
              ]
            }
          },
          {
            "title": "List information about multiple function packages with PaginationToken",
            "input": {
              "maxResults": 25,
              "nextToken": "ug2E9SheCpyAmeLItmHF99a8GNI6yAHxXIvgBkdiA2ixKvqdhYpNBLWHDl6vGnWt7Y4CB6m1Dkz86gSwcDouMO1pSrN%2BlGY2kbNtfTeMgnuB6bmwP/UU12r7MkHQyPCWMYG8OuCXkDBOYeX8qjRDTJ5vxAyrwtynaB6XDNDZA2DscCjcD7kpNzf3xlPRCwd6"
            },
            "output": {
              "nextToken": "ug2E9SheCpyAmeLItmHF98uvZTosFhZ1wyglENkc3UZ12UuRLmtGtojRynFjRR5zW%2FycBL6QX8AU%2B1IRWL%2BVjNNL7KBiaD87KM9WcUMQzryLtOazGHexujJncJJ0YGsxSLSrmPGx7dM1EoNKX8oxYA%3D%3D",
[...]
