{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.transfer#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#ServiceErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.transfer#AddressAllocationId": {
      "type": "string"
    },
    "com.amazonaws.transfer#AddressAllocationIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#AddressAllocationId"
      }
    },
    "com.amazonaws.transfer#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1600
        },
        "smithy.api#pattern": "arn:.*"
      }
    },
    "com.amazonaws.transfer#Certificate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        }
      }
    },
    "com.amazonaws.transfer#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#Message",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the <code>UpdatServer</code> is called for a file transfer\n      protocol-enabled server that has VPC as the endpoint type and the server's\n        <code>VpcEndpointID</code> is not in the available state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.transfer#CreateAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used by administrators to choose which groups in the directory should have access to\n      upload and download files over the enabled protocols using AWS Transfer Family. For example, a\n      Microsoft Active Directory might contain 50,000 users, but only a small fraction might need\n      the ability to transfer files to the server. An administrator can use\n        <code>CreateAccess</code> to limit the access to the correct set of users who need this\n      ability.</p>"
      }
    },
    "com.amazonaws.transfer#CreateAccessRequest": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p>\n         <p>A <code>HomeDirectory</code> example is <code>/directory_name/home/mydirectory</code>.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) that you want your users' home directory to be when\n      they log in to the server. If you set it to <code>PATH</code>, the user will see the absolute\n      Amazon S3 bucket paths as is in their file transfer protocol clients. If you set it\n        <code>LOGICAL</code>, you must provide mappings in the <code>HomeDirectoryMappings</code>\n      for how you want to make Amazon S3 paths visible to your users.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should\n      be visible to your user and how you want to make them visible. You must specify the\n        <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path\n      is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you\n      only specify a target, it will be displayed as is. You also must ensure that your AWS Identity\n      and Access Management (IAM) role provides access to paths in <code>Target</code>. This value\n      can only be set when <code>HomeDirectoryType</code> is set to\n      <i>LOGICAL</i>.</p>\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p>\n         <p>\n            <code>[ { \"Entry\": \"your-personal-report.pdf\", \"Target\": \"/bucket3/customized-reports/${transfer:UserName}.pdf\" } ]</code>\n         </p>\n         <p>In most cases, you can use this value instead of the scope-down policy to lock down your\n      user to the designated home directory (\"<code>chroot</code>\"). To do this, you can set\n        <code>Entry</code> to <code>/</code> and set <code>Target</code> to the\n        <code>HomeDirectory</code> parameter value.</p>\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example for <code>chroot</code>.</p>\n         <p>\n            <code>[ { \"Entry\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code>\n         </p>\n         <note>\n            <p>If the target of a logical directory entry does not exist in Amazon S3 or Amazon EFS, the\n        entry will be ignored. As a workaround, you can use the Amazon S3 API or EFS API to create\n        0-byte objects as place holders for your directory. If using the AWS CLI, use the\n          <code>s3api</code> or <code>efsapi</code> call instead of <code>s3</code> or\n          <code>efs</code> so you can use the <code>put-object</code> operation. For example, you\n        can use the following.</p>\n            <p>\n               <code>aws s3api put-object --bucket bucketname --key path/to/folder/</code>\n            </p>\n            <p>The end of the key name must end in a <code>/</code> for it to be considered a\n        folder.</p>\n         </note>\n         <p>Required: No</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A scope-down policy for your user so that you can use the same IAM role across multiple\n      users. This policy scopes down user access to portions of their Amazon S3 bucket. Variables\n      that you can use inside this policy include <code>${Transfer:UserName}</code>,\n        <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p>\n         <note>\n            <p>This only applies when domain of <code>ServerId</code> is S3. Amazon EFS does not use scope\n        down policy.</p>\n            <p>For scope-down policies, AWS Transfer Family stores the policy as a JSON blob, instead of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass it in the <code>Policy</code> argument.</p>\n            <p>For an example of a scope-down policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/scope-down-policy.html\">Example\n          scope-down policy</a>.</p>\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>AWS Security Token Service API\n          Reference</i>.</p>\n         </note>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile"
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role that controls your users' access to your Amazon S3 bucket or EFS\n      file system. The policies attached to this role determine the level of access that you want to\n      provide your users when transferring files into and out of your Amazon S3 bucket or EFS file\n      system. The IAM role should also contain a trust relationship that allows the server to access\n      your resources when servicing your users' transfer requests.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server that you added your user to.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n      The users of the group that you associate have access to your Amazon S3 or Amazon EFS\n      resources over the enabled protocols using AWS Transfer Family. If you know the group name,\n      you can view the SID values by running the following command using Windows PowerShell.</p>\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamaccountName,ObjectSid</code>\n         </p>\n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active\n      Directory group.</p>\n         <p>The regex used to validate this parameter is a string of characters consisting of\n      uppercase and lowercase alphanumeric characters with no spaces. You can also include\n      underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateAccessResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the server that the user is attached to.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the group whose users have access to your Amazon S3 or Amazon EFS\n      resources over the enabled protocols using AWS Transfer Family.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateServerRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Instantiates an auto-scaling virtual server based on the selected file transfer protocol\n      in AWS. When you make updates to your file transfer protocol-enabled server or when you work\n      with users, use the service-generated <code>ServerId</code> property that is assigned to the\n      newly created server.</p>"
      }
    },
    "com.amazonaws.transfer#CreateServerRequest": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.transfer#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS Certificate Manager (ACM) certificate. Required\n      when <code>Protocols</code> is set to <code>FTPS</code>.</p>\n\n         <p>To request a new public certificate, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-public.html\">Request a public certificate</a>\n      in the <i> AWS Certificate Manager User Guide</i>.</p>\n\n         <p>To import an existing certificate into ACM, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing certificates into ACM</a>\n      in the <i> AWS Certificate Manager User Guide</i>.</p>\n\n         <p>To request a private certificate to use FTPS through private IP addresses, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-private.html\">Request a\n        private certificate</a> in the <i> AWS Certificate Manager User\n      Guide</i>.</p>\n\n         <p>Certificates with the following cryptographic algorithms and key sizes are\n      supported:</p>\n\n         <ul>\n            <li>\n               <p>2048-bit RSA (RSA_2048)</p>\n            </li>\n            <li>\n               <p>4096-bit RSA (RSA_4096)</p>\n            </li>\n            <li>\n               <p>Elliptic Prime Curve 256 bit (EC_prime256v1)</p>\n            </li>\n            <li>\n               <p>Elliptic Prime Curve 384 bit (EC_secp384r1)</p>\n            </li>\n            <li>\n               <p>Elliptic Prime Curve 521 bit (EC_secp521r1)</p>\n            </li>\n         </ul>\n\n         <note>\n            <p>The certificate must be a valid SSL/TLS X.509 version 3 certificate with FQDN or IP\n        address specified and information about the issuer.</p>\n         </note>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.transfer#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain of the storage system that is used for file transfers. There are two domains\n      available: Amazon Simple Storage Service (Amazon S3) and Amazon Elastic File System (Amazon EFS). The\n      default value is S3.</p>\n\n         <note>\n            <p>After the server is created, the domain cannot be changed.</p>\n         </note>"
          }
        },
        "EndpointDetails": {
          "target": "com.amazonaws.transfer#EndpointDetails",
          "traits": {
            "smithy.api#documentation": "<p>The virtual private cloud (VPC) endpoint settings that are configured for your server.\n      When you host your endpoint within your VPC, you can make it accessible only to resources\n      within your VPC, or you can attach Elastic IP addresses and make it accessible to clients over\n      the internet. Your VPC's default security groups are automatically assigned to your\n      endpoint.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.transfer#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint that you want your server to use. You can choose to make your server's endpoint publicly accessible (PUBLIC)\n      or host it inside your VPC. With an endpoint that is hosted in a VPC, you can restrict access to your server and \n      resources only within your VPC or choose to make it internet facing by attaching Elastic IP addresses directly to it.</p>\n         <note>\n            <p> After March 31, 2021, you won't be able to create a server using\n          <code>EndpointType=VPC_ENDPOINT</code> in your AWS account if your account hasn't already\n      done so before March 31, 2021. If you have already created servers with\n      <code>EndpointType=VPC_ENDPOINT</code> in your AWS account on or before March 31, 2021,\n        you will not be affected. After this date, use\n        <code>EndpointType</code>=<code>VPC</code>.</p> \n         \n            <p>For more information, see\n        https://docs.aws.amazon.com/transfer/latest/userguide/create-server-in-vpc.html#deprecate-vpc-endpoint.</p>\n            <p>It is recommended that you use <code>VPC</code> as the <code>EndpointType</code>. With\n        this endpoint type, you have the option to directly associate up to three Elastic IPv4\n        addresses (BYO IP included) with your server's endpoint and use VPC security groups to\n        restrict traffic by the client's public IP address. This is not possible with\n          <code>EndpointType</code> set to <code>VPC_ENDPOINT</code>.</p>\n         </note>"
          }
        },
        "HostKey": {
          "target": "com.amazonaws.transfer#HostKey",
          "traits": {
            "smithy.api#documentation": "<p>The RSA private key as generated by the <code>ssh-keygen -N \"\" -m PEM -f\n        my-new-server-key</code> command.</p>\n\n         <important>\n            <p>If you aren't planning to migrate existing users from an existing SFTP-enabled\n        server to a new server, don't update the host key. Accidentally changing a\n        server's host key can be disruptive.</p>\n         </important>\n\n      \n\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/edit-server-config.html#configuring-servers-change-host-key\">Change the host key for your SFTP-enabled server</a> in the <i>AWS Transfer\n        Family User Guide</i>.</p>"
          }
        },
        "IdentityProviderDetails": {
          "target": "com.amazonaws.transfer#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "<p>Required when <code>IdentityProviderType</code> is set to\n        <code>AWS_DIRECTORY_SERVICE</code> or <code>API_GATEWAY</code>. Accepts an array containing\n      all of the information required to use a directory in <code>AWS_DIRECTORY_SERVICE</code> or\n      invoke a customer-supplied authentication API, including the API Gateway URL. Not required\n      when <code>IdentityProviderType</code> is set to <code>SERVICE_MANAGED</code>.</p>"
          }
        },
        "IdentityProviderType": {
          "target": "com.amazonaws.transfer#IdentityProviderType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of authentication for a server. The default value is\n        <code>SERVICE_MANAGED</code>, which allows you to store and access user credentials within\n      the AWS Transfer Family service. Use <code>AWS_DIRECTORY_SERVICE</code> to provide access to\n      Active Directory groups in AWS Managed Active Directory or Microsoft Active Directory in your\n      on-premises environment or in AWS using AD Connectors. This option also requires you to\n      provide a Directory ID using the <code>IdentityProviderDetails</code> parameter. Use the\n        <code>API_GATEWAY</code> value to integrate with an identity provider of your choosing. The\n        <code>API_GATEWAY</code> setting requires you to provide an API Gateway endpoint URL to call\n      for authentication using the <code>IdentityProviderDetails</code> parameter.</p>"
          }
        },
        "LoggingRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Allows the service to write your users' activity to your Amazon CloudWatch logs for\n      monitoring and auditing purposes.</p>"
          }
        },
        "Protocols": {
          "target": "com.amazonaws.transfer#Protocols",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file transfer protocol or protocols over which your file transfer protocol\n      client can connect to your server's endpoint. The available protocols are:</p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>SFTP</code> (Secure Shell (SSH) File Transfer Protocol): File transfer over\n          SSH</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTPS</code> (File Transfer Protocol Secure): File transfer with TLS\n          encryption</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTP</code> (File Transfer Protocol): Unencrypted file transfer</p>\n            </li>\n         </ul>\n\n         <note>\n            <p>If you select <code>FTPS</code>, you must choose a certificate stored in AWS Certificate\n        Manager (ACM) which will be used to identify your server when clients connect to it over\n        FTPS.</p>\n\n            <p>If <code>Protocol</code> includes either <code>FTP</code> or <code>FTPS</code>, then the\n          <code>EndpointType</code> must be <code>VPC</code> and the\n          <code>IdentityProviderType</code> must be <code>AWS_DIRECTORY_SERVICE</code> or <code>API_GATEWAY</code>.</p>\n\n            <p>If <code>Protocol</code> includes <code>FTP</code>, then\n          <code>AddressAllocationIds</code> cannot be associated.</p>\n\n            <p>If <code>Protocol</code> is set only to <code>SFTP</code>, the <code>EndpointType</code>\n        can be set to <code>PUBLIC</code> and the <code>IdentityProviderType</code> can be set to\n          <code>SERVICE_MANAGED</code>.</p>\n         </note>"
          }
        },
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for servers.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateServerResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The service-assigned ID of the server that is created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user and associates them with an existing file transfer protocol-enabled server.\n      You can only create and associate users with servers that have the\n        <code>IdentityProviderType</code> set to <code>SERVICE_MANAGED</code>. Using parameters for\n        <code>CreateUser</code>, you can specify the user name, set the home directory, store the\n      user's public key, and assign the user's AWS Identity and Access Management (IAM)\n      role. You can also optionally add a scope-down policy, and assign metadata with tags that can\n      be used to group and search for users.</p>"
      }
    },
    "com.amazonaws.transfer#CreateUserRequest": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the\n      client.</p>\n\n         <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) you want your users' home directory to be when\n      they log into the server. If you set it to <code>PATH</code>, the user will see the absolute\n      Amazon S3 bucket paths as is in their file transfer protocol clients. If you set it\n        <code>LOGICAL</code>, you will need to provide mappings in the\n        <code>HomeDirectoryMappings</code> for how you want to make Amazon S3 paths visible to your\n      users.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or EFS paths and keys should be visible to\n      your user and how you want to make them visible. You will need to specify the\n        <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path\n      is made visible and <code>Target</code> is the actual Amazon S3 or EFS path. If you only specify a\n      target, it will be displayed as is. You will need to also make sure that your IAM role\n      provides access to paths in <code>Target</code>. This value can only be set when\n        <code>HomeDirectoryType</code> is set to <code>LOGICAL</code>.</p>\n\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p>\n\n         <p>\n            <code>[ { \"Entry\": \"your-personal-report.pdf\", \"Target\":\n        \"/bucket3/customized-reports/${transfer:UserName}.pdf\" } ]</code>\n         </p>\n\n         <p>In most cases, you can use this value instead of the scope-down policy to lock your user\n      down to the designated home directory (\"<code>chroot</code>\"). To do this, you can set\n        <code>Entry</code> to <code>/</code> and set <code>Target</code> to the HomeDirectory\n      parameter value.</p>\n\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example for\n        <code>chroot</code>.</p>\n\n         <p>\n            <code>[ { \"Entry\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code>\n         </p>\n\n         <note>\n            <p>If the target of a logical directory entry does not exist in Amazon S3 or EFS, the entry will\n        be ignored. As a workaround, you can use the Amazon S3 API or EFS API to create 0 byte objects as place\n        holders for your directory. If using the CLI, use the <code>s3api</code> or <code>efsapi</code> call instead of\n        <code>s3</code> or <code>efs</code> so you can use the put-object operation. For example, you use the\n        following: <code>aws s3api put-object --bucket bucketname --key path/to/folder/</code>. Make\n        sure that the end of the key name ends in a <code>/</code> for it to be considered a\n        folder.</p>\n         </note>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A scope-down policy for your user so you can use the same IAM role across multiple users.\n      This policy scopes down user access to portions of their Amazon S3 bucket. Variables that you\n      can use inside this policy include <code>${Transfer:UserName}</code>,\n        <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p>\n\n         <note>\n            <p>This only applies when domain of ServerId is S3. EFS does not use scope down policy.</p>\n            <p>For scope-down policies, AWS Transfer Family stores the policy as a JSON blob, instead\n        of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass\n        it in the <code>Policy</code> argument.</p>\n\n         \n\n            <p>For an example of a scope-down policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/scope-down-policy.html\">Example scope-down\n        policy</a>.</p>\n\n         \n\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>AWS\n          Security Token Service API Reference</i>.</p>\n         </note>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the full POSIX identity, including user ID (<code>Uid</code>), group ID\n        (<code>Gid</code>), and any secondary groups IDs (<code>SecondaryGids</code>), that controls\n      your users' access to your Amazon EFS file systems. The POSIX permissions that are set on\n      files and directories in Amazon EFS determine the level of access your users get when\n      transferring files into and out of your Amazon EFS file systems.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role that controls your users' access to your Amazon S3 bucket or EFS file system. The policies\n      attached to this role will determine the level of access you want to provide your users when\n      transferring files into and out of your Amazon S3 bucket or EFS file system. The IAM role should also\n\n      contain a trust relationship that allows the server to access your resources when servicing\n      your users' transfer requests.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server\n      that you added your user to.</p>",
            "smithy.api#required": {}
          }
        },
        "SshPublicKeyBody": {
          "target": "com.amazonaws.transfer#SshPublicKeyBody",
          "traits": {
            "smithy.api#documentation": "<p>The public portion of the Secure Shell (SSH) key used to authenticate the user to the\n      server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for users. Tags are metadata attached\n      to users for any purpose.</p>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user and is associated with a as specified by the\n        <code>ServerId</code>. This user name must be a minimum of 3 and a maximum of 100 characters\n      long. The following are valid characters: a-z, A-Z, 0-9, underscore '_', hyphen\n      '-', period '.', and at sign '@'. The user name can't start\n      with a hyphen, period, or at sign.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateUserResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the server that the user is attached to.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user account associated with a server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DateImported": {
      "type": "timestamp"
    },
    "com.amazonaws.transfer#DeleteAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteAccessRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows you to delete the access specified in the <code>ServerID</code> and\n      <code>ExternalID</code> parameters.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteAccessRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this user assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n      The users of the group that you associate have access to your Amazon S3 or Amazon EFS\n      resources over the enabled protocols using AWS Transfer Family. If you know the group name,\n      you can view the SID values by running the following command using Windows PowerShell.</p>\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamaccountName,ObjectSid</code>\n         </p>\n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active\n      Directory group.</p>\n         <p>The regex used to validate this parameter is a string of characters consisting of\n      uppercase and lowercase alphanumeric characters with no spaces. You can also include\n      underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteServerRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the file transfer protocol-enabled server that you specify.</p>\n\n         <p>No response returns from this operation.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteServerRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A unique system-assigned identifier for a server instance.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteSshPublicKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteSshPublicKeyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user's Secure Shell (SSH) public key.</p>\n\n         <p>No response is returned from this operation.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteSshPublicKeyRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a file transfer protocol-enabled server instance\n      that has the user assigned to it.</p>",
            "smithy.api#required": {}
          }
        },
        "SshPublicKeyId": {
          "target": "com.amazonaws.transfer#SshPublicKeyId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier used to reference your user's specific SSH key.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user whose public key is being deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteUserRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the user belonging to a file transfer protocol-enabled server you specify.</p>\n\n         <p>No response returns from this operation.</p>\n\n         <note>\n            <p>When you delete a user from a server, the user's information is lost.</p>\n         </note>"
      }
    },
    "com.amazonaws.transfer#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance that has the user assigned to\n      it.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user that is being deleted from a server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the access that is assigned to the specific file transfer protocol-enabled\n      server, as identified by its <code>ServerId</code> property and its\n      <code>ExternalID</code>.</p>\n    \n         <p>The response from this call returns the properties of the access that is associated with\n      the <code>ServerId</code> value that was specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeAccessRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this access assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n      The users of the group you associate have access to your Amazon S3 or Amazon EFS resources\n      over the enabled protocols using AWS Transfer Family. If you know the group name, you can view\n      the SID values by running the following command using Windows PowerShell.</p>\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamaccountName,ObjectSid</code>\n         </p>\n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active\n      Directory group.</p>\n         <p>The regex used to validate this parameter is a string of characters consisting of\n      uppercase and lowercase alphanumeric characters with no spaces. You can also include\n      underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeAccessResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this access assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "Access": {
          "target": "com.amazonaws.transfer#DescribedAccess",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the server that the access is attached to.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeSecurityPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeSecurityPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeSecurityPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the security policy that is attached to your file transfer protocol-enabled\n      server. The response contains a description of the security policy's properties. For more\n      information about security policies, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/security-policies.html\">Working with security\n        policies</a>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeSecurityPolicyRequest": {
      "type": "structure",
      "members": {
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeSecurityPolicyResponse": {
      "type": "structure",
      "members": {
        "SecurityPolicy": {
          "target": "com.amazonaws.transfer#DescribedSecurityPolicy",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the properties of the security policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeServerRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a file transfer protocol-enabled server that you specify by passing the\n        <code>ServerId</code> parameter.</p>\n\n         <p>The response contains a description of a server's properties. When you set\n        <code>EndpointType</code> to VPC, the response will contain the\n      <code>EndpointDetails</code>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeServerRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeServerResponse": {
      "type": "structure",
      "members": {
        "Server": {
          "target": "com.amazonaws.transfer#DescribedServer",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the properties of a server with the <code>ServerID</code> you\n      specified.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeUserRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the user assigned to the specific file transfer protocol-enabled server, as\n      identified by its <code>ServerId</code> property.</p>\n\n         <p>The response from this call returns the properties of the user associated with the\n        <code>ServerId</code> value that was specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeUserRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this user assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user assigned to one or more servers. User names are part of the sign-in\n      credentials to use the AWS Transfer Family service and perform file transfer tasks.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeUserResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this user assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "User": {
          "target": "com.amazonaws.transfer#DescribedUser",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the properties of the user account for the <code>ServerID</code> value\n      that you specified.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribedAccess": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the landing directory (or folder), which is the location that files are written\n      to or read from in an Amazon S3 bucket, for the described access.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the logical directory mappings that specify what Amazon S3 or Amazon EFS paths\n      and keys should be visible to the associated access and how you want to make them visible. You\n      must specify the \"<code>Entry</code>\" and \"<code>Target</code>\" pair, where <code>Entry</code>\n      shows how the path is made visible and <code>Target</code> is the actual Amazon S3 or EFS\n      path. If you only specify a target, it will be displayed as is. You also must ensure that your\n      AWS Identity and Access Management (IAM) role provides access to paths in\n      <code>Target</code>.</p>\n    \n         <p>In most cases, you can use this value instead of the scope-down policy to lock down the\n      associated access to the designated home directory (\"<code>chroot</code>\"). To do this, you\n      can set <code>Entry</code> to '/' and set <code>Target</code> to the\n        <code>HomeDirectory</code> parameter value.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) that you want your users' home directory to be when\n      they log in to the server. If you set it to <code>PATH</code>, the user will see the absolute\n      Amazon S3 bucket paths as is in their file transfer protocol clients. If you set it to\n        <code>LOGICAL</code>, you must provide mappings in the <code>HomeDirectoryMappings</code>\n      for how you want to make Amazon S3 paths visible to your users.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A scope-down policy for your user so that you can use the same AWS Identity and Access\n      Management (IAM) role across multiple users. This policy scopes down user access to portions\n      of their Amazon S3 bucket. Variables that you can use inside this policy include\n        <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and\n        <code>${Transfer:HomeBucket}</code>.</p>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile"
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role that controls access to your Amazon S3 bucket from the specified associated\n      access. The policies attached to this role will determine the level of access that you want to\n      provide the associated access when transferring files into and out of your Amazon S3 bucket or\n      buckets. The IAM role should also contain a trust relationship that allows a server to access\n      your resources when servicing transfer requests for the associated access.</p>"
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that might be required when you assume a role in another account.\n      Think of the <code>ExternalID</code> as a group membership mechanism that uses a unique\n      identifier (often a SID, but could be a group name or something else) as a basis. If the\n      administrator of the account to which the role belongs provided you with an external ID, then\n      provide that value in the <code>ExternalId</code> parameter. A cross-account role is usually\n      set up to trust everyone in an account. Therefore, the administrator of the trusting account\n      might send an external ID to the administrator of the trusted account. That way, only someone\n      with the ID can assume the role, rather than everyone in the account.</p>\n         <p>The regex used to validate this parameter is a string of characters consisting of\n      uppercase and lowercase alphanumeric characters with no spaces. You can also include\n      underscores or any of the following characters: =,.@:/-</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of the access that was specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribedSecurityPolicy": {
      "type": "structure",
      "members": {
        "Fips": {
          "target": "com.amazonaws.transfer#Fips",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this policy enables Federal Information Processing Standards\n      (FIPS).</p>"
          }
        },
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>",
            "smithy.api#required": {}
          }
        },
        "SshCiphers": {
          "target": "com.amazonaws.transfer#SecurityPolicyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the enabled Secure Shell (SSH) cipher encryption algorithms in the security\n      policy that is attached to the server.</p>"
          }
        },
        "SshKexs": {
          "target": "com.amazonaws.transfer#SecurityPolicyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the enabled SSH key exchange (KEX) encryption algorithms in the security policy\n      that is attached to the server.</p>"
          }
        },
        "SshMacs": {
          "target": "com.amazonaws.transfer#SecurityPolicyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the enabled SSH message authentication code (MAC) encryption algorithms in the\n      security policy that is attached to the server.</p>"
          }
        },
        "TlsCiphers": {
          "target": "com.amazonaws.transfer#SecurityPolicyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the enabled Transport Layer Security (TLS) cipher encryption algorithms in the\n      security policy that is attached to the server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of a security policy that was specified. For more information\n      about security policies, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/security-policies.html\">Working with security\n        policies</a>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribedServer": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.transfer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique Amazon Resource Name (ARN) of the server.</p>",
            "smithy.api#required": {}
          }
        },
        "Certificate": {
          "target": "com.amazonaws.transfer#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the AWS Certificate Manager (ACM) certificate. Required when\n        <code>Protocols</code> is set to <code>FTPS</code>.</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.transfer#Domain",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the domain of the storage system that is used for file transfers.</p>"
          }
        },
        "EndpointDetails": {
          "target": "com.amazonaws.transfer#EndpointDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the virtual private cloud (VPC) endpoint settings that you configured for your\n      server.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.transfer#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>Defines the type of endpoint that your server is connected to. If your server is connected\n      to a VPC endpoint, your server isn't accessible over the public internet.</p>"
          }
        },
        "HostKeyFingerprint": {
          "target": "com.amazonaws.transfer#HostKeyFingerprint",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Base64-encoded SHA256 fingerprint of the server's host key. This value\n      is equivalent to the output of the <code>ssh-keygen -l -f my-new-server-key</code>\n      command.</p>"
          }
        },
        "IdentityProviderDetails": {
          "target": "com.amazonaws.transfer#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies information to call a customer-supplied authentication API. This field is not\n      populated when the <code>IdentityProviderType</code> of a server is\n      <code>AWS_DIRECTORY_SERVICE</code> or <code>SERVICE_MANAGED</code>.</p>"
          }
        },
        "IdentityProviderType": {
          "target": "com.amazonaws.transfer#IdentityProviderType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of authentication method enabled for this service. A value of\n        <code>AWS_DIRECTORY_SERVICE</code> means that you are providing access to Active Directory\n      groups in AWS Managed Active Directory or Microsoft Active Directory in your on-premises\n      environment or in AWS using AD Connectors. A value of <code>SERVICE_MANAGED</code> means that\n      you are using this server to store and access user credentials within the service. A value of\n        <code>API_GATEWAY</code> indicates that you have integrated an API Gateway endpoint that\n      will be invoked for authenticating your user into the service.</p>"
          }
        },
        "LoggingRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the AWS Identity and Access Management (IAM) role that allows a server to turn\n      on Amazon CloudWatch logging for Amazon S3 or Amazon EFS events. When set, user activity can be viewed in\n      your CloudWatch logs.</p>"
          }
        },
        "Protocols": {
          "target": "com.amazonaws.transfer#Protocols",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file transfer protocol or protocols over which your file transfer protocol\n      client can connect to your server's endpoint. The available protocols are:</p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>SFTP</code> (Secure Shell (SSH) File Transfer Protocol): File transfer over\n          SSH</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTPS</code> (File Transfer Protocol Secure): File transfer with TLS\n          encryption</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTP</code> (File Transfer Protocol): Unencrypted file transfer</p>\n            </li>\n         </ul>"
          }
        },
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>"
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique system-assigned identifier for a server that you instantiate.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.transfer#State",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the condition of a server for the server that was described. A value of\n        <code>ONLINE</code> indicates that the server can accept jobs and transfer files. A\n        <code>State</code> value of <code>OFFLINE</code> means that the server cannot perform file\n      transfer operations.</p>\n\n         <p>The states of <code>STARTING</code> and <code>STOPPING</code> indicate that the server is\n      in an intermediate state, either not fully able to respond, or not fully offline. The values\n      of <code>START_FAILED</code> or <code>STOP_FAILED</code> can indicate an error\n      condition.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pairs that you can use to search for and group servers that were\n      assigned to the server that was described.</p>"
          }
        },
        "UserCount": {
          "target": "com.amazonaws.transfer#UserCount",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of users that are assigned to a server you specified with the\n        <code>ServerId</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of a file transfer protocol-enabled server that was\n      specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribedUser": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.transfer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique Amazon Resource Name (ARN) for the user that was requested to be\n      described.</p>",
            "smithy.api#required": {}
          }
        },
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the landing directory (or folder), which is the location that files are written\n      to or read from in an Amazon S3 bucket, for the described user. An example is\n          <i>\n               <code>your-Amazon-S3-bucket-name>/home/username</code>\n            </i>.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the logical directory mappings that specify what Amazon S3 or EFS paths and keys should\n      be visible to your user and how you want to make them visible. You will need to specify the\n        \"<code>Entry</code>\" and \"<code>Target</code>\" pair, where <code>Entry</code> shows how the\n      path is made visible and <code>Target</code> is the actual Amazon S3 or EFS path. If you only specify\n      a target, it will be displayed as is. You will need to also make sure that your AWS Identity\n      and Access Management (IAM) role provides access to paths in <code>Target</code>.</p>\n\n         <p>In most cases, you can use this value instead of the scope-down policy to lock your user\n      down to the designated home directory (\"<code>chroot</code>\"). To do this, you can set\n        <code>Entry</code> to '/' and set <code>Target</code> to the HomeDirectory\n      parameter value.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of landing directory (folder) you mapped for your users to see when\n      they log into the file transfer protocol-enabled server. If you set it to <code>PATH</code>,\n      the user will see the absolute Amazon S3 bucket or EFS paths as is in their file transfer protocol\n      clients. If you set it <code>LOGICAL</code>, you will need to provide mappings in the\n        <code>HomeDirectoryMappings</code> for how you want to make Amazon S3 or EFS paths visible to your\n      users.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the policy in use for the described user.</p>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the full POSIX identity, including user ID (<code>Uid</code>), group ID\n        (<code>Gid</code>), and any secondary groups IDs (<code>SecondaryGids</code>), that controls\n      your users' access to your Amazon Elastic File System (Amazon EFS) file systems. The POSIX\n      permissions that are set on files and directories in your file system determine the level of\n      access your users get when transferring files into and out of your Amazon EFS file\n      systems.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role that controls your users' access to your Amazon S3 bucket. The\n      policies attached to this role will determine the level of access you want to provide your\n      users when transferring files into and out of your Amazon S3 bucket or buckets. The IAM role\n      should also contain a trust relationship that allows a server to access your resources when\n      servicing your users' transfer requests.</p>"
          }
        },
        "SshPublicKeys": {
          "target": "com.amazonaws.transfer#SshPublicKeys",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the public key portion of the Secure Shell (SSH) keys stored for the described\n      user.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pairs for the user requested. Tag can be used to search for and\n      group users for a variety of purposes.</p>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the user that was requested to be described. User names are used for\n      authentication purposes. This is the string that will be used by your user when they log in to\n      your server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of a user that was specified.</p>"
      }
    },
    "com.amazonaws.transfer#DirectoryId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^d-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.transfer#Domain": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "EFS",
            "name": "EFS"
          }
        ]
      }
    },
    "com.amazonaws.transfer#EndpointDetails": {
      "type": "structure",
      "members": {
        "AddressAllocationIds": {
          "target": "com.amazonaws.transfer#AddressAllocationIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of address allocation IDs that are required to attach an Elastic IP address to your\n      server's endpoint.</p>\n\n         <note>\n\n            <p>This property can only be set when <code>EndpointType</code> is set to <code>VPC</code>\n        and it is only valid in the <code>UpdateServer</code> API.</p>\n         </note>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.transfer#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of subnet IDs that are required to host your server endpoint in your VPC.</p>\n\n         <note>\n            <p>This property can only be set when <code>EndpointType</code> is set to\n        <code>VPC</code>.</p>\n         </note>"
          }
        },
        "VpcEndpointId": {
          "target": "com.amazonaws.transfer#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC endpoint.</p>\n\n         <note>\n            <p>This property can only be set when <code>EndpointType</code> is set to\n          <code>VPC_ENDPOINT</code>.</p>\n         \n            <p>For more information, see\n        https://docs.aws.amazon.com/transfer/latest/userguide/create-server-in-vpc.html#deprecate-vpc-endpoint.</p>\n         </note>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.transfer#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The VPC ID of the VPC in which a server's endpoint will be hosted.</p>\n\n         <note>\n            <p>This property can only be set when <code>EndpointType</code> is set to\n        <code>VPC</code>.</p>\n         </note>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.transfer#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of security groups IDs that are available to attach to your server's\n      endpoint.</p>\n\n         <note>\n            <p>This property can only be set when <code>EndpointType</code> is set to\n        <code>VPC</code>.</p>\n\n            <p>You can edit the <code>SecurityGroupIds</code> property in the <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/API_UpdateServer.html\">UpdateServer</a> API only if you are changing the <code>EndpointType</code> from\n          <code>PUBLIC</code> or <code>VPC_ENDPOINT</code> to <code>VPC</code>. To change security\n        groups associated with your server's VPC endpoint after creation, use the Amazon EC2\n          <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ModifyVpcEndpoint.html\">ModifyVpcEndpoint</a> API.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The virtual private cloud (VPC) endpoint settings that are configured for your file\n      transfer protocol-enabled server. With a VPC endpoint, you can restrict access to your server\n      and resources only within your VPC. To control incoming internet traffic, invoke the\n        <code>UpdateServer</code> API and attach an Elastic IP address to your server's\n      endpoint.</p>\n         <note>\n            <p> After March 31, 2021, you won't be able to create a server using\n          <code>EndpointType=VPC_ENDPOINT</code> in your AWS account if your account hasn't already\n      done so before March 31, 2021. If you have already created servers with\n      <code>EndpointType=VPC_ENDPOINT</code> in your AWS account on or before March 31, 2021,\n        you will not be affected. After this date, use\n        <code>EndpointType</code>=<code>VPC</code>.</p> \n         \n            <p>For more information, see\n        https://docs.aws.amazon.com/transfer/latest/userguide/create-server-in-vpc.html#deprecate-vpc-endpoint.</p>\n         </note>"
      }
    },
    "com.amazonaws.transfer#EndpointType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PUBLIC",
            "name": "PUBLIC"
          },
          {
            "value": "VPC",
            "name": "VPC"
          },
          {
            "value": "VPC_ENDPOINT",
            "name": "VPC_ENDPOINT"
          }
        ]
      }
    },
    "com.amazonaws.transfer#ExternalId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^S-1-[\\d-]+$"
      }
    },
    "com.amazonaws.transfer#Fips": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.transfer#HomeDirectory": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^$|/.*"
      }
    },
    "com.amazonaws.transfer#HomeDirectoryMapEntry": {
      "type": "structure",
      "members": {
        "Entry": {
          "target": "com.amazonaws.transfer#MapEntry",
          "traits": {
            "smithy.api#documentation": "<p>Represents an entry and a target for <code>HomeDirectoryMappings</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Target": {
          "target": "com.amazonaws.transfer#MapTarget",
          "traits": {
            "smithy.api#documentation": "<p>Represents the map target that is used in a <code>HomeDirectorymapEntry</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an object that contains entries and targets for\n        <code>HomeDirectoryMappings</code>.</p>"
      }
    },
    "com.amazonaws.transfer#HomeDirectoryMappings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#HomeDirectoryMapEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.transfer#HomeDirectoryType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PATH",
            "name": "PATH"
          },
          {
            "value": "LOGICAL",
            "name": "LOGICAL"
          }
        ]
      }
    },
    "com.amazonaws.transfer#HostKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.transfer#HostKeyFingerprint": {
      "type": "string"
    },
    "com.amazonaws.transfer#IdentityProviderDetails": {
      "type": "structure",
      "members": {
        "Url": {
          "target": "com.amazonaws.transfer#Url",
          "traits": {
            "smithy.api#documentation": "<p>Provides the location of the service endpoint used to authenticate users.</p>"
          }
        },
        "InvocationRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Provides the type of <code>InvocationRole</code> used to authenticate the user\n      account.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.transfer#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS Directory Service directory that you want to stop sharing.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information related to the type of user authentication that is in use for a file\n      transfer protocol-enabled server's users. A server can have only one method of\n      authentication.</p>"
      }
    },
    "com.amazonaws.transfer#IdentityProviderType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Returns information related to the type of user authentication that is in use for a file\n      transfer protocol-enabled server's users. For <code>AWS_DIRECTORY_SERVICE</code> or <code>SERVICE_MANAGED</code>\n      authentication, the Secure Shell (SSH) public keys are stored with a user on the server\n      instance. For <code>API_GATEWAY</code> authentication, your custom authentication method is\n      implemented by using an API call. The server can have only one method of\n      authentication.</p>",
        "smithy.api#enum": [
          {
            "value": "SERVICE_MANAGED",
            "name": "SERVICE_MANAGED"
          },
          {
            "value": "API_GATEWAY",
            "name": "API_GATEWAY"
          },
          {
            "value": "AWS_DIRECTORY_SERVICE",
            "name": "AWS_DIRECTORY_SERVICE"
          }
        ]
      }
    },
    "com.amazonaws.transfer#ImportSshPublicKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#ImportSshPublicKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#ImportSshPublicKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a Secure Shell (SSH) public key to a user account identified by a\n        <code>UserName</code> value assigned to the specific file transfer protocol-enabled server,\n      identified by <code>ServerId</code>.</p>\n\n         <p>The response returns the <code>UserName</code> value, the <code>ServerId</code> value, and\n      the name of the <code>SshPublicKeyId</code>.</p>"
      }
    },
    "com.amazonaws.transfer#ImportSshPublicKeyRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server.</p>",
            "smithy.api#required": {}
          }
        },
        "SshPublicKeyBody": {
          "target": "com.amazonaws.transfer#SshPublicKeyBody",
          "traits": {
            "smithy.api#documentation": "<p>The public key portion of an SSH key pair.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user account that is assigned to one or more servers.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#ImportSshPublicKeyResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server.</p>",
            "smithy.api#required": {}
          }
        },
        "SshPublicKeyId": {
          "target": "com.amazonaws.transfer#SshPublicKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The name given to a public key by the system that was imported.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A user name assigned to the <code>ServerID</code> value that you specified.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifies the user, the server they belong to, and the identifier of the SSH public key\n      associated with that user. A user can have more than one key on each server that they are\n      associated with.</p>"
      }
    },
    "com.amazonaws.transfer#InternalServiceError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#Message",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when an error occurs in the AWS Transfer Family service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.transfer#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#Message",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>NextToken</code> parameter that was passed is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.transfer#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#Message",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the client submits a malformed request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.transfer#ListAccesses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#ListAccessesRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#ListAccessesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the details for all the accesses you have on your server.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transfer#ListAccessesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.transfer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of access SIDs to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When you can get additional results from the <code>ListAccesses</code> call, a\n        <code>NextToken</code> parameter is returned in the output. You can then pass in a\n      subsequent command to the <code>NextToken</code> parameter to continue listing additional\n      accesses.</p>"
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has users assigned to it.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#ListAccessesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When you can get additional results from the <code>ListAccesses</code> call, a\n        <code>NextToken</code> parameter is returned in the output. You can then pass in a\n      subsequent command to the <code>NextToken</code> parameter to continue listing additional\n      accesses.</p>"
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has users assigned to it.</p>",
            "smithy.api#required": {}
          }
        },
        "Accesses": {
          "target": "com.amazonaws.transfer#ListedAccesses",
          "traits": {
            "smithy.api#documentation": "<p>Returns the accesses and their properties for the <code>ServerId</code> value that you\n      specify.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#ListSecurityPolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#ListSecurityPoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#ListSecurityPoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the security policies that are attached to your file transfer protocol-enabled\n      servers.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transfer#ListSecurityPoliciesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.transfer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of security policies to return as a response to the\n        <code>ListSecurityPolicies</code> query.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When additional results are obtained from the <code>ListSecurityPolicies</code> command, a\n        <code>NextToken</code> parameter is returned in the output. You can then pass the\n        <code>NextToken</code> parameter in a subsequent command to continue listing additional\n      security policies.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#ListSecurityPoliciesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When you can get additional results from the <code>ListSecurityPolicies</code> operation,\n      a <code>NextToken</code> parameter is returned in the output. In a following command, you can\n      pass in the <code>NextToken</code> parameter to continue listing security policies.</p>"
          }
        },
        "SecurityPolicyNames": {
          "target": "com.amazonaws.transfer#SecurityPolicyNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of security policies that were listed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#ListServers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#ListServersRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#ListServersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the file transfer protocol-enabled servers that are associated with your AWS\n      account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transfer#ListServersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.transfer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of servers to return as a response to the <code>ListServers</code>\n      query.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When additional results are obtained from the <code>ListServers</code> command, a\n        <code>NextToken</code> parameter is returned in the output. You can then pass the\n        <code>NextToken</code> parameter in a subsequent command to continue listing additional\n      servers.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#ListServersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When you can get additional results from the <code>ListServers</code> operation, a\n        <code>NextToken</code> parameter is returned in the output. In a following command, you can\n      pass in the <code>NextToken</code> parameter to continue listing additional servers.</p>"
          }
        },
        "Servers": {
          "target": "com.amazonaws.transfer#ListedServers",
          "traits": {
            "smithy.api#documentation": "<p>An array of servers that were listed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the tags associated with the Amazon Resource Name (ARN) that you specify. The\n      resource can be a user, server, or role.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transfer#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.transfer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Requests the tags associated with a particular Amazon Resource Name (ARN). An ARN is an\n      identifier for a specific AWS resource, such as a server, user, or role.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.transfer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of tags to return as a response to the\n        <code>ListTagsForResource</code> request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When you request additional results from the <code>ListTagsForResource</code> operation, a\n        <code>NextToken</code> parameter is returned in the input. You can then pass in a subsequent\n      command to the <code>NextToken</code> parameter to continue listing additional tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.transfer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN you specified to list the tags of.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When you can get additional results from the <code>ListTagsForResource</code> call, a\n        <code>NextToken</code> parameter is returned in the output. You can then pass in a\n      subsequent command to the <code>NextToken</code> parameter to continue listing additional\n      tags.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that are assigned to a resource, usually for the purpose of grouping and\n      searching for items. Tags are metadata that you define.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#ListUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#ListUsersRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#ListUsersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the users for a file transfer protocol-enabled server that you specify by passing\n      the <code>ServerId</code> parameter.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transfer#ListUsersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.transfer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of users to return as a response to the <code>ListUsers</code>\n      request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When you can get additional results from the <code>ListUsers</code> call, a\n        <code>NextToken</code> parameter is returned in the output. You can then pass in a\n      subsequent command to the <code>NextToken</code> parameter to continue listing additional\n      users.</p>"
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has users assigned to it.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#ListUsersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.transfer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When you can get additional results from the <code>ListUsers</code> call, a\n        <code>NextToken</code> parameter is returned in the output. You can then pass in a\n      subsequent command to the <code>NextToken</code> parameter to continue listing additional\n      users.</p>"
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that the users are assigned to.</p>",
            "smithy.api#required": {}
          }
        },
        "Users": {
          "target": "com.amazonaws.transfer#ListedUsers",
          "traits": {
            "smithy.api#documentation": "<p>Returns the user accounts and their properties for the <code>ServerId</code> value that\n      you specify.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#ListedAccess": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the landing directory (or folder), which is the location that files are written\n      to or read from in an Amazon S3 bucket, for the described access.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) that you want your users' home directory to be when\n      they log in to the server. If you set it to <code>PATH</code>, the user will see the absolute\n      Amazon S3 bucket paths as is in their file transfer protocol clients. If you set it to\n        <code>LOGICAL</code>, you must provide mappings in the <code>HomeDirectoryMappings</code>\n      for how you want to make Amazon S3 paths visible to your users.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
[...]
