{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.transcribe#AbsoluteTimeRange": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds, when Amazon Transcribe starts searching for the specified \n            criteria in your audio. If you include <code>StartTime</code> in your request, you must also \n            include <code>EndTime</code>.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds, when Amazon Transcribe stops searching for the specified criteria\n            in your audio. If you include <code>EndTime</code> in your request, you must also include\n            <code>StartTime</code>.</p>"
          }
        },
        "First": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds, from the start of your media file until the value you specify in\n            which Amazon Transcribe searches for your specified criteria.</p>"
          }
        },
        "Last": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds, from the value you specify until the end of your media file in\n            which Amazon Transcribe searches for your specified criteria.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A time range, in milliseconds, between two points in your media file.</p>\n        <p>You can use <code>StartTime</code> and <code>EndTime</code> to search a custom\n            segment. For example, setting <code>StartTime</code> to 10000 and <code>EndTime</code>\n            to 50000 only searches for your specified criteria in the audio contained between the 10,000 \n            millisecond mark and the 50,000 millisecond mark of your media file. You must use \n            <code>StartTime</code> and <code>EndTime</code> as a set; that is, if you include one, \n            you must include both.</p>\n        <p>You can use also <code>First</code> to search from the start of the audio until the time\n            you specify, or <code>Last</code> to search from the time you specify until the end of the \n            audio. For example, setting <code>First</code> to 50000 only searches for your specified \n            criteria in the audio contained between the start of the media file to the 50,000 millisecond\n            mark. You can use <code>First</code> and <code>Last</code> independently of each \n            other.</p>\n        <p>If you prefer to use percentage instead of milliseconds, see \n            .</p>"
      }
    },
    "com.amazonaws.transcribe#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request didn't pass one or more validation tests. This can occur when the entity you're \n            trying to delete doesn't exist or if it's in a non-terminal state (such as \n            <code>IN PROGRESS</code>). See the exception message field for more information.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.transcribe#BaseModelName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NarrowBand",
            "name": "NARROW_BAND"
          },
          {
            "value": "WideBand",
            "name": "WIDE_BAND"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.transcribe#CLMLanguageCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "en-US",
            "name": "EN_US"
          },
          {
            "value": "hi-IN",
            "name": "HI_IN"
          },
          {
            "value": "es-US",
            "name": "ES_US"
          },
          {
            "value": "en-GB",
            "name": "EN_GB"
          },
          {
            "value": "en-AU",
            "name": "EN_AU"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJob": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Call Analytics job. Job names are case sensitive and must be unique \n            within an Amazon Web Services account.</p>"
          }
        },
        "CallAnalyticsJobStatus": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Provides the status of the specified Call Analytics job.</p>\n        <p>If the status is <code>COMPLETED</code>, the job is finished and you can find the results\n            at the location specified in <code>TranscriptFileUri</code> (or\n            <code>RedactedTranscriptFileUri</code>, if you requested transcript redaction). If the status is \n            <code>FAILED</code>, <code>FailureReason</code> provides details on why your transcription\n            job failed.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code used to create your Call Analytics job. For a list of supported languages\n            and their associated language codes, refer to the \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported\n                languages</a> table.</p>\n        <p>If you don't know the language spoken in your media file, you can omit this field and let\n            Amazon Transcribe automatically identify the language of your media. To improve the accuracy \n            of language identification, you can include several language codes and Amazon Transcribe\n            chooses the closest match for your transcription.</p>"
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribe#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "<p>The sample rate, in Hertz, of the audio track in your input media file.</p>"
          }
        },
        "MediaFormat": {
          "target": "com.amazonaws.transcribe#MediaFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the input media file.</p>"
          }
        },
        "Media": {
          "target": "com.amazonaws.transcribe#Media"
        },
        "Transcript": {
          "target": "com.amazonaws.transcribe#Transcript"
        },
        "StartTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the specified Call Analytics job began processing.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.789000-07:00</code> represents a transcription job\n            that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the specified Call Analytics job request was made.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents a transcription job\n            that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
          }
        },
        "CompletionTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the specified Call Analytics job finished processing.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:33:13.922000-07:00</code> represents a transcription job\n            that started processing at 12:33 PM UTC-7 on May 4, 2022.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If <code>CallAnalyticsJobStatus</code> is <code>FAILED</code>, \n            <code>FailureReason</code> contains information about why the Call Analytics job request\n            failed.</p>\n        <p>The <code>FailureReason</code> field contains one of the following values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>Unsupported media format</code>.</p>\n                <p>The media format specified in <code>MediaFormat</code> isn't valid. Refer to\n                    <b>MediaFormat</b> for a list of supported formats.</p>\n            </li>\n            <li>\n                <p>\n                  <code>The media format provided does not match the detected media \n                    format</code>.</p>\n                <p>The media format specified in <code>MediaFormat</code> doesn't match the \n                    format of the input file. Check the media format of your media file and correct the \n                    specified value.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Invalid sample rate for audio file</code>.</p>\n                <p>The sample rate specified in <code>MediaSampleRateHertz</code> isn't valid.\n                    The sample rate must be between 8,000 and 48,000 Hertz.</p>\n            </li>\n            <li>\n                <p>\n                  <code>The sample rate provided does not match the detected sample \n                    rate</code>.</p>\n                <p>The sample rate specified in <code>MediaSampleRateHertz</code> doesn't \n                    match the sample rate detected in your input media file. Check the sample rate of \n                    your media file and correct the specified value.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Invalid file size: file size too large</code>.</p>\n                <p>The size of your media file is larger than what Amazon Transcribe can process. \n                    For more information, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/limits-guidelines.html#limits\">Guidelines and\n                        quotas</a>.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Invalid number of channels: number of channels too large</code>.</p>\n                <p>Your audio contains more channels than Amazon Transcribe is able to process. \n                    For more information, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/limits-guidelines.html#limits\">Guidelines and \n                        quotas</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.transcribe#DataAccessRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that has permissions to\n            access the Amazon S3 bucket that contains your input files. If the role you specify doesn’t \n            have the appropriate permissions to access the specified Amazon S3 location, your request \n            fails.</p>        \n        <p>IAM role ARNs have the format\n            <code>arn:partition:iam::account:role/role-name-with-path</code>. For example:\n            <code>arn:aws:iam::111122223333:role/Admin</code>.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns\">IAM ARNs</a>.</p>"
          }
        },
        "IdentifiedLanguageScore": {
          "target": "com.amazonaws.transcribe#IdentifiedLanguageScore",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score associated with the language identified in your media file.</p>\n        <p>Confidence scores are values between 0 and 1; a larger value indicates a higher \n            probability that the identified language correctly matches the language spoken in your\n            media.</p>"
          }
        },
        "Settings": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobSettings",
          "traits": {
            "smithy.api#documentation": "<p>Allows additional optional settings in your  \n            request, including content redaction; allows you to apply custom language models, vocabulary\n            filters, and custom vocabularies to your Call Analytics job.</p>"
          }
        },
        "ChannelDefinitions": {
          "target": "com.amazonaws.transcribe#ChannelDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>Allows you to specify which speaker is on which channel in your Call Analytics job request.\n            For example, if your agent is the first participant to speak, you would set \n            <code>ChannelId</code> to <code>0</code> (to indicate the first channel) and \n            <code>ParticipantRole</code> to <code>AGENT</code> (to indicate that it's the agent \n            speaking).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides detailed information about a Call Analytics job.</p>\n        <p>To view the job's status, refer to <code>CallAnalyticsJobStatus</code>. If the status is\n            <code>COMPLETED</code>, the job is finished. You can find your completed transcript at \n            the URI specified in <code>TranscriptFileUri</code>. If the status is <code>FAILED</code>, \n            <code>FailureReason</code> provides details on why your transcription job failed.</p>\n        <p>If you enabled personally identifiable information (PII) redaction, the redacted transcript\n            appears at the location specified in <code>RedactedTranscriptFileUri</code>.</p>\n        <p>If you chose to redact the audio in your media file, you can find your redacted media file \n            at the location specified in the <code>RedactedMediaFileUri</code> field of your  \n            response.</p>"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobSettings": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary you want to include in your Call Analytics \n            transcription request. Vocabulary names are case sensitive.</p>"
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary filter you want to include in your Call Analytics \n            transcription request. Vocabulary filter names are case sensitive.</p>\n        <p>Note that if you include <code>VocabularyFilterName</code> in your request, you must \n            also include <code>VocabularyFilterMethod</code>.</p>"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.transcribe#VocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>Specify how you want your vocabulary filter applied to your transcript.</p>\n        <p>To replace words with <code>***</code>, choose <code>mask</code>.</p>\n        <p>To delete words, choose <code>remove</code>.</p>\n        <p>To flag words without changing them, choose <code>tag</code>.</p>"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model you want to use when processing your \n            Call Analytics job. Note that language model names are case sensitive.</p>\n        <p>The language of the specified language model must match the language code you specify\n            in your transcription request. If the languages don't match, the language model isn't applied. \n            There are no errors or warnings associated with a language mismatch.</p>"
          }
        },
        "ContentRedaction": {
          "target": "com.amazonaws.transcribe#ContentRedaction"
        },
        "LanguageOptions": {
          "target": "com.amazonaws.transcribe#LanguageOptions",
          "traits": {
            "smithy.api#documentation": "<p>You can specify two or more language codes that represent the languages you think may \n            be present in your media; including more than five is not recommended. If you're unsure what\n            languages are present, do not include this parameter.</p>\n        <p>Including language options can improve the accuracy of language identification.</p>\n        <p>For a list of languages supported with Call Analytics, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table.</p>"
          }
        },
        "LanguageIdSettings": {
          "target": "com.amazonaws.transcribe#LanguageIdSettingsMap",
          "traits": {
            "smithy.api#documentation": "<p>If using automatic language identification (<code>IdentifyLanguage</code>) in your request \n            and you want to apply a custom language model, a custom vocabulary, or a custom vocabulary\n            filter, include <code>LanguageIdSettings</code> with the relevant sub-parameters \n            (<code>VocabularyName</code>, <code>LanguageModelName</code>, and \n            <code>VocabularyFilterName</code>).</p>\n        <p>You can specify two or more language codes that represent the languages you think may \n            be present in your media; including more than five is not recommended. Each language code you\n            include can have an associated custom language model, custom vocabulary, and custom \n            vocabulary filter. The languages you specify must match the languages of the specified custom\n            language models, custom vocabularies, and custom vocabulary filters.</p>\n        <p>To include language options using <code>IdentifyLanguage</code> \n            <b>without</b> including a custom language model, a custom \n            vocabulary, or a custom vocabulary filter, use <code>LanguageOptions</code> instead of\n            <code>LanguageIdSettings</code>. Including language options can improve the accuracy of \n            automatic language identification.</p>\n        <p>If you want to include a custom language model with your request but \n            <b>do not</b> want to use automatic language identification,\n            use instead the <code></code> parameter with the\n            <code>LanguageModelName</code> sub-parameter.</p>\n        <p>If you want to include a custom vocabulary or a custom vocabulary filter (or both) with\n            your request but <b>do not</b> want to use automatic \n            language identification, use instead the <code></code> \n            parameter with the <code>VocabularyName</code> or \n            <code>VocabularyFilterName</code> (or both) sub-parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides additional optional settings for your \n            request, including content redaction, automatic language identification; allows you to apply\n            custom language models, vocabulary filters, and custom vocabularies.</p>"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "QUEUED",
            "name": "QUEUED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#CallAnalyticsJobSummary"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobSummary": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Call Analytics job. Job names are case sensitive and must be unique \n            within an Amazon Web Services account.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the specified Call Analytics job request was made.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents a transcription job\n            that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time your Call Analytics job began processing.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.789000-07:00</code> represents a transcription job\n            that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
          }
        },
        "CompletionTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the specified Call Analytics job finished processing.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:33:13.922000-07:00</code> represents a transcription job\n            that started processing at 12:33 PM UTC-7 on May 4, 2022.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code used to create your Call Analytics transcription.</p>"
          }
        },
        "CallAnalyticsJobStatus": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Provides the status of your Call Analytics job.</p>        \n        <p>If the status is <code>COMPLETED</code>, the job is finished and you can find the results\n            at the location specified in <code>TranscriptFileUri</code> (or\n            <code>RedactedTranscriptFileUri</code>, if you requested transcript redaction). If the status is \n            <code>FAILED</code>, <code>FailureReason</code> provides details on why your transcription\n            job failed.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If <code>CallAnalyticsJobStatus</code> is <code>FAILED</code>, \n            <code>FailureReason</code> contains information about why the Call Analytics job \n            failed. See also: <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides detailed information about a specific Call Analytics job.</p>"
      }
    },
    "com.amazonaws.transcribe#CategoryName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
      }
    },
    "com.amazonaws.transcribe#CategoryProperties": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Call Analytics category. Category names are case sensitive and must be \n            unique within an Amazon Web Services account.</p>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.transcribe#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules used to define a Call Analytics category. Each category can have between 1 and 20 \n            rules.</p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the specified Call Analytics category was created.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 \n            on May 4, 2022.</p>"
          }
        },
        "LastUpdateTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the specified Call Analytics category was last updated.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-05T12:45:32.691000-07:00</code> represents 12:45 PM UTC-7 \n            on May 5, 2022.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides you with the properties of the Call Analytics category you specified in your\n            request. This includes the list of rules that define the specified category.</p>"
      }
    },
    "com.amazonaws.transcribe#CategoryPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#CategoryProperties"
      }
    },
    "com.amazonaws.transcribe#ChannelDefinition": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.transcribe#ChannelId",
          "traits": {
            "smithy.api#documentation": "<p>Specify the audio channel you want to define.</p>"
          }
        },
        "ParticipantRole": {
          "target": "com.amazonaws.transcribe#ParticipantRole",
          "traits": {
            "smithy.api#documentation": "<p>Specify the speaker you want to define. Omitting this parameter is equivalent to specifying\n            both participants.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Allows you to specify which speaker is on which channel. For example, if your agent is the \n            first participant to speak, you would set <code>ChannelId</code> to <code>0</code> (to\n            indicate the first channel) and <code>ParticipantRole</code> to <code>AGENT</code> (to \n            indicate that it's the agent speaking).</p>"
      }
    },
    "com.amazonaws.transcribe#ChannelDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#ChannelDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.transcribe#ChannelId": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.transcribe#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource already exists with this name. Resource names must be unique within an \n            Amazon Web Services account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.transcribe#ContentRedaction": {
      "type": "structure",
      "members": {
        "RedactionType": {
          "target": "com.amazonaws.transcribe#RedactionType",
          "traits": {
            "smithy.api#documentation": "<p>Specify the category of information you want to redact; <code>PII</code> (personally \n            identifiable information) is the only valid value. You can use <code>PiiEntityTypes</code> to \n            choose which types of PII you want to redact.</p>",
            "smithy.api#required": {}
          }
        },
        "RedactionOutput": {
          "target": "com.amazonaws.transcribe#RedactionOutput",
          "traits": {
            "smithy.api#documentation": "<p>Specify if you want only a redacted transcript, or if you want a redacted and an unredacted\n            transcript.</p>\n        <p>When you choose <code>redacted</code> Amazon Transcribe creates only a redacted \n            transcript.</p>\n        <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe creates \n            a redacted and an unredacted transcript (as two separate files).</p>",
            "smithy.api#required": {}
          }
        },
        "PiiEntityTypes": {
          "target": "com.amazonaws.transcribe#PiiEntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>Specify which types of personally identifiable information (PII) you want to redact in your\n            transcript. You can include as many types as you'd like, or you can select \n            <code>ALL</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Allows you to redact or flag specified personally identifiable information (PII) in your transcript. If \n            you use <code>ContentRedaction</code>, you must also include the sub-parameters:\n            <code>PiiEntityTypes</code>, <code>RedactionOutput</code>, and \n            <code>RedactionType</code>.</p>"
      }
    },
    "com.amazonaws.transcribe#CreateCallAnalyticsCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateCallAnalyticsCategoryRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateCallAnalyticsCategoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Call Analytics category.</p>\n        <p>All categories are automatically applied to your Call Analytics jobs. Note that in order to apply \n            your categories to your jobs, you must create them before submitting your job request, as \n            categories cannot be applied retroactively.</p>\n        <p>Call Analytics categories are composed of rules. For each category, you must create\n            between 1 and 20 rules. Rules can include these parameters: , \n            , , and \n            .</p>\n        <p>To update an existing category, see .</p>        \n        <p>To learn more about:</p>\n            <ul>\n            <li>\n                    <p>Call Analytics categories, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/call-analytics-create-categories.html\">Creating categories</a>\n               </p>\n                </li>\n            <li>\n                    <p>Using rules, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/call-analytics-create-categories.html#call-analytics-create-categories-rules\">Rule\n            criteria</a> and refer to the  data type</p>\n                </li>\n            <li>\n                    <p>Call Analytics, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/call-analytics.html\">Analyzing call center audio with Call \n            Analytics</a>\n               </p>\n                </li>\n         </ul>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/callanalyticscategories/{CategoryName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateCallAnalyticsCategoryRequest": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name, chosen by you, for your Call Analytics category. It's helpful to use a detailed\n            naming system that will make sense to you in the future. For example, it's better to use \n            <code>sentiment-positive-last30seconds</code> for a category over a generic name like \n            <code>test-category</code>.</p>\n        <p>Category names are case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.transcribe#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>Rules define a Call Analytics category. When creating a new Call Analytics category, you must \n            create between 1 and 20 rules for that category. For each rule, you specify a filter you want \n            applied to the attributes of a call. For example, you can choose a sentiment filter that detects if a\n            customer's sentiment was positive during the last 30 seconds of the call.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateCallAnalyticsCategoryResponse": {
      "type": "structure",
      "members": {
        "CategoryProperties": {
          "target": "com.amazonaws.transcribe#CategoryProperties",
          "traits": {
            "smithy.api#documentation": "<p>Provides you with the properties of your new category, including its associated rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateLanguageModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateLanguageModelRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateLanguageModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom language model.</p>\n        <p>When creating a new language model, you must specify:</p>\n        <ul>\n            <li>\n                <p>If you want a Wideband (audio sample rates over 16,000 Hz) or Narrowband (audio sample\n                    rates under 16,000 Hz) base model</p>\n            </li>\n            <li>\n                <p>The location of your training and tuning files (this must be an Amazon S3 URI)</p>\n            </li>\n            <li>\n                <p>The language of your model</p>\n            </li>\n            <li>\n                <p>A unique name for your model</p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-language-models.html\">Custom language models</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/languagemodels/{ModelName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateLanguageModelRequest": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#CLMLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code that represents the language of your model. Each language model must\n            contain terms in only one language, and the language you select for your model must match the \n            language of your training and tuning data.</p>\n        <p>For a list of supported languages and their associated language codes, refer to the \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported\n                languages</a> table. Note that U.S. English (<code>en-US</code>) is the only language  \n            supported with Amazon Transcribe Medical.</p>\n        <p>A custom language model can only be used to transcribe files in the same language as the \n            model. For example, if you create a language model using US English (<code>en-US</code>), you\n            can only apply this model to files that contain English audio.</p>",
            "smithy.api#required": {}
          }
        },
        "BaseModelName": {
          "target": "com.amazonaws.transcribe#BaseModelName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model, used to create your custom\n            language model. Amazon Transcribe offers two options for base models: Wideband and \n            Narrowband.</p>\n        <p>If the audio you want to transcribe has a sample rate of 16,000 Hz or greater, choose \n            <code>WideBand</code>. To transcribe audio with a sample rate less than 16,000 Hz, choose\n            <code>NarrowBand</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name, chosen by you, for your custom language model.</p>\n        <p>This name is case sensitive, cannot contain spaces, and must be unique within an \n            Amazon Web Services account. If you try to create a new language model with the same name \n            as an existing language model, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.transcribe#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains the Amazon S3 location of the training data you want to use to create a new \n            custom language model, and permissions to access this location.</p>\n        <p>When using <code>InputDataConfig</code>, you must include these sub-parameters:\n            <code>S3Uri</code>, which is the Amazon S3 location of your training data, and \n            <code>DataAccessRoleArn</code>, which is the Amazon Resource Name (ARN) of the role that \n            has permission to access your specified Amazon S3 location. You can optionally include \n            <code>TuningDataS3Uri</code>, which is the Amazon S3 location of your tuning data. If \n            you specify different Amazon S3 locations for training and tuning data, the ARN you use \n            must have permissions to access both locations.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.transcribe#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom language\n            model at the time you create this new model.</p>\n        <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateLanguageModelResponse": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#CLMLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you selected for your custom language model.</p>"
          }
        },
        "BaseModelName": {
          "target": "com.amazonaws.transcribe#BaseModelName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model, you specified when creating \n            your custom language model.</p>"
          }
        },
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your custom language model.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.transcribe#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Lists your data access role ARN (Amazon Resource Name) and the Amazon S3 \n            locations you provided for your training (<code>S3Uri</code>) and tuning \n            (<code>TuningDataS3Uri</code>) data.</p>"
          }
        },
        "ModelStatus": {
          "target": "com.amazonaws.transcribe#ModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of your custom language model. When the status displays as \n            <code>COMPLETED</code>, your model is ready to use.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateMedicalVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateMedicalVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateMedicalVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom medical vocabulary.</p>\n        <p>Prior to creating a new medical vocabulary, you must first upload a text file that contains\n            your new entries, phrases, and terms into an Amazon S3 bucket. Note that this differs from \n            , where you can include a list of terms within\n            your request using the <code>Phrases</code> flag; <code>CreateMedicalVocabulary</code> \n            does not support the <code>Phrases</code> flag.</p>\n        <p>Each language has a character set that contains all allowed characters for that specific \n            language. If you use unsupported characters, your vocabulary request fails. Refer to \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for \n                Custom Vocabularies</a> to get the character set for your language.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary-create.html\">Creating a custom\n            vocabulary</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/medicalvocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateMedicalVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name, chosen by you, for your new custom medical vocabulary.</p>        \n        <p>This name is case sensitive, cannot contain spaces, and must be unique within an \n            Amazon Web Services account. If you try to create a new medical vocabulary with the same name\n            as an existing medical vocabulary, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code that represents the language of the entries in your custom\n            vocabulary. US English (<code>en-US</code>) is the only language supported with \n            Amazon Transcribe Medical.</p>",
            "smithy.api#required": {}
          }
        },
        "VocabularyFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location (URI) of the text file that contains your custom medical \n            vocabulary. The URI must be in the same Amazon Web Services Region as the resource you're\n            calling.</p> \n        <p>Here's an example URI path: \n            <code>s3://DOC-EXAMPLE-BUCKET/my-vocab-file.txt</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.transcribe#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Adds one or more custom tags, each in the form of a key:value pair, to a new medical \n            vocabulary at the time you create this new vocabulary.</p>\n        <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateMedicalVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name you chose for your custom medical vocabulary.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you selected for your medical vocabulary. US English \n            (<code>en-US</code>) is the only language supported with Amazon Transcribe Medical.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of your custom medical vocabulary. If the state is \n            <code>READY</code>, you can use the vocabulary in a  \n            <code>StartMedicalTranscriptionJob</code> request.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time you created your custom medical vocabulary.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 \n            on May 4, 2022.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If <code>VocabularyState</code> is <code>FAILED</code>, \n            <code>FailureReason</code> contains information about why the medical transcription job\n            request failed. See also: <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom vocabulary.</p>\n        <p>When creating a new vocabulary, you can either upload a text file that contains your new \n            entries, phrases, and terms into an Amazon S3 bucket and include the URI in your request, or \n            you can include a list of terms directly in your request using the <code>Phrases</code> flag.</p>  \n        <p>Each language has a character set that contains all allowed characters for that specific \n            language. If you use unsupported characters, your vocabulary request fails. Refer to \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for \n                Custom Vocabularies</a> to get the character set for your language.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary-create.html\">Creating a custom \n                vocabulary</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateVocabularyFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateVocabularyFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom vocabulary filter.</p>\n        <p>You can use vocabulary filters to mask, delete, or flag specific words from your transcript. \n            Vocabulary filters are commonly used to mask profanity in transcripts.</p>\n        <p>Each language has a character set that contains all allowed characters for that specific \n            language. If you use unsupported characters, your vocabulary filter request fails. Refer to \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for \n                Custom Vocabularies</a> to get the character set for your language.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/vocabulary-filtering.html\">Using vocabulary filtering with unwanted\n            words</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vocabularyFilters/{VocabularyFilterName}",
          "code": 201
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyFilterRequest": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name, chosen by you, for your new custom vocabulary filter.</p>        \n        <p>This name is case sensitive, cannot contain spaces, and must be unique within an \n            Amazon Web Services account. If you try to create a new vocabulary filter with the same name\n            as an existing vocabulary filter, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code that represents the language of the entries in your vocabulary \n            filter. Each vocabulary filter must contain terms in only one language.</p>\n        <p>A vocabulary filter can only be used to transcribe files in the same language as the \n            filter. For example, if you create a vocabulary filter using US English (<code>en-US</code>), you\n            can only apply this filter to files that contain English audio.</p>\n        <p>For a list of supported languages and their associated language codes, refer to the \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported\n                languages</a> table.</p>",
            "smithy.api#required": {}
          }
        },
        "Words": {
          "target": "com.amazonaws.transcribe#Words",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter if you want to create your vocabulary filter by including all desired terms, \n            as comma-separated values, within your request. The other option for creating your vocabulary \n            filter is to save your entries in a text file and upload them to an Amazon S3 bucket, then\n            specify the location of your file using the <code>VocabularyFilterFileUri</code> \n            parameter.</p>\n        <p>Note that if you include <code>Words</code> in your request, you cannot use\n            <code>VocabularyFilterFileUri</code>; you must choose one or the other.</p>        \n        <p>Each language has a character set that contains all allowed characters for that specific \n            language. If you use unsupported characters, your vocabulary filter request fails. Refer to \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for \n                Custom Vocabularies</a> to get the character set for your language.</p>"
          }
        },
        "VocabularyFilterFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the text file that contains your custom vocabulary filter \n            terms. The URI must be located in the same Amazon Web Services Region as the resource you're \n            calling.</p>\n        <p>Here's an example URI path:\n            <code>s3://DOC-EXAMPLE-BUCKET/my-vocab-filter-file.txt</code>\n         </p>    \n        <p>Note that if you include <code>VocabularyFilterFileUri</code> in your request, you \n            cannot use <code>Words</code>; you must choose one or the other.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transcribe#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom \n            vocabulary filter at the time you create this new filter.</p>\n        <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyFilterResponse": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name you chose for your custom vocabulary filter.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you selected for your vocabulary filter.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time you created your vocabulary filter.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 \n            on May 4, 2022.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name, chosen by you, for your new custom vocabulary.</p>        \n        <p>This name is case sensitive, cannot contain spaces, and must be unique within an \n            Amazon Web Services account. If you try to create a new vocabulary with the same name as an\n            existing vocabulary, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code that represents the language of the entries in your custom\n            vocabulary. Each vocabulary must contain terms in only one language.</p>\n        <p>A custom vocabulary can only be used to transcribe files in the same language as the \n            vocabulary. For example, if you create a vocabulary using US English (<code>en-US</code>), \n            you can only apply this vocabulary to files that contain English audio.</p>\n        <p>For a list of supported languages and their associated language codes, refer to the \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported\n                languages</a> table.</p>",
            "smithy.api#required": {}
          }
        },
        "Phrases": {
          "target": "com.amazonaws.transcribe#Phrases",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter if you want to create your vocabulary by including all desired terms, as\n            comma-separated values, within your request. The other option for creating your vocabulary is to\n            save your entries in a text file and upload them to an Amazon S3 bucket, then specify \n            the location of your file using the <code>VocabularyFileUri</code> parameter.</p>\n        <p>Note that if you include <code>Phrases</code> in your request, you cannot use\n            <code>VocabularyFileUri</code>; you must choose one or the other.</p>        \n        <p>Each language has a character set that contains all allowed characters for that specific \n            language. If you use unsupported characters, your vocabulary filter request fails. Refer to \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for \n                Custom Vocabularies</a> to get the character set for your language.</p>"
          }
        },
        "VocabularyFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the text file that contains your custom vocabulary. The\n            URI must be located in the same Amazon Web Services Region as the resource you're \n            calling.</p>\n        <p>Here's an example URI path:\n            <code>s3://DOC-EXAMPLE-BUCKET/my-vocab-file.txt</code>\n         </p>\n        <p>Note that if you include <code>VocabularyFileUri</code> in your request, you \n            cannot use the <code>Phrases</code> flag; you must choose one or the other.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transcribe#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom \n            vocabulary at the time you create this new vocabulary.</p>\n        <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name you chose for your custom vocabulary.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you selected for your custom vocabulary.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of your custom vocabulary. If the state is <code>READY</code>, you\n            can use the vocabulary in a <code>StartTranscriptionJob</code> request.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time you created your custom vocabulary.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 \n            on May 4, 2022.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If <code>VocabularyState</code> is <code>FAILED</code>,\n            <code>FailureReason</code> contains information about why the vocabulary request\n            failed. See also: <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#DataAccessRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso-{0,1}[a-z]{0,1}):iam::[0-9]{0,63}:role/[A-Za-z0-9:_/+=,@.-]{0,1024}$"
      }
    },
    "com.amazonaws.transcribe#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Call Analytics category. To use this operation, specify the name of the category \n            you want to delete using <code>CategoryName</code>. Category names are case\n            sensitive.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/callanalyticscategories/{CategoryName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryRequest": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Call Analytics category you want to delete. Category names are\n            case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Call Analytics job. To use this operation, specify the name of the job you want to \n            delete using <code>CallAnalyticsJobName</code>. Job names are case sensitive.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/callanalyticsjobs/{CallAnalyticsJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsJobRequest": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Call Analytics job you want to delete. Job names are case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.transcribe#DeleteLanguageModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteLanguageModelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom language model. To use this operation, specify the name of the language \n            model you want to delete using <code>ModelName</code>. Language model names are case\n            sensitive.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/languagemodels/{ModelName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteLanguageModelRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model you want to delete. Model names are \n            case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteMedicalTranscriptionJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a medical transcription job. To use this operation, specify the name of the job you \n            want to delete using <code>MedicalTranscriptionJobName</code>. Job names are case\n            sensitive.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/medicaltranscriptionjobs/{MedicalTranscriptionJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the medical transcription job you want to delete. Job names are case \n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteMedicalVocabularyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom medical vocabulary. To use this operation, specify the name of the\n            vocabulary you want to delete using <code>VocabularyName</code>. Vocabulary names are\n            case sensitive.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/medicalvocabularies/{VocabularyName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom medical vocabulary you want to delete. Vocabulary names are\n            case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteTranscriptionJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a transcription job. To use this operation, specify the name of the job you want to\n            delete using <code>TranscriptionJobName</code>. Job names are case sensitive.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/transcriptionjobs/{TranscriptionJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the transcription job you want to delete. Job names are case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteVocabularyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom vocabulary. To use this operation, specify the name of the vocabulary you\n            want to delete using <code>VocabularyName</code>. Vocabulary names are case\n            sensitive.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteVocabularyFilterRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a vocabulary filter. To use this operation, specify the name of the vocabulary filter\n            you want to delete using <code>VocabularyFilterName</code>. Vocabulary filter names are \n            case sensitive.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vocabularyFilters/{VocabularyFilterName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyFilterRequest": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary filter you want to delete. Vocabulary filter names \n            are case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary you want to delete. Vocabulary names are\n            case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DescribeLanguageModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DescribeLanguageModelRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#DescribeLanguageModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the specified custom language model.</p>\n        <p>This operation also shows if the base language model you used to create your custom\n            language model has been updated. If Amazon Transcribe has updated the base model, you\n            can create a new custom language model using the updated base model.</p>\n        <p>If you tried to create a new custom language model and the request wasn't successful,\n            you can use <code>DescribeLanguageModel</code> to help identify the reason for this \n            failure.</p>\n        <p>To get a list of your custom language models, use the \n             operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/languagemodels/{ModelName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#DescribeLanguageModelRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model you want information about. Model names are\n            case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DescribeLanguageModelResponse": {
      "type": "structure",
      "members": {
        "LanguageModel": {
          "target": "com.amazonaws.transcribe#LanguageModel",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the specified custom language model.</p>\n        <p>This parameter also shows if the base language model you used to create your custom\n            language model has been updated. If Amazon Transcribe has updated the base model, you can \n            create a new custom language model using the updated base model.</p>\n        <p>If you tried to create a new custom language model and the request wasn't successful,\n            you can use this <code>DescribeLanguageModel</code> to help identify the reason for this \n            failure.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#DurationInSeconds": {
      "type": "float",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.transcribe#FailureReason": {
      "type": "string"
    },
    "com.amazonaws.transcribe#GetCallAnalyticsCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsCategoryRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsCategoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the specified Call Analytics category.</p>\n        <p>To get a list of your Call Analytics categories, use the \n             operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/callanalyticscategories/{CategoryName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsCategoryRequest": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Call Analytics category you want information about. Category names are \n            case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsCategoryResponse": {
      "type": "structure",
      "members": {
        "CategoryProperties": {
          "target": "com.amazonaws.transcribe#CategoryProperties",
          "traits": {
            "smithy.api#documentation": "<p>Provides you with the properties of the Call Analytics category you specified in your\n            <code>GetCallAnalyticsCategory</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the specified Call Analytics job.</p> \n        <p>To view the job's status, refer to <code>CallAnalyticsJobStatus</code>. If the status is\n            <code>COMPLETED</code>, the job is finished. You can find your completed transcript at \n            the URI specified in <code>TranscriptFileUri</code>. If the status is <code>FAILED</code>, \n            <code>FailureReason</code> provides details on why your transcription job failed.</p>\n        <p>If you enabled personally identifiable information (PII) redaction, the redacted transcript\n            appears at the location specified in <code>RedactedTranscriptFileUri</code>.</p>\n         <p>If you chose to redact the audio in your media file, you can find your redacted media file\n           at the location specified in <code>RedactedMediaFileUri</code>.</p>\n        <p>To get a list of your Call Analytics jobs, use the  \n            operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/callanalyticsjobs/{CallAnalyticsJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsJobRequest": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Call Analytics job you want information about. Job names are case \n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsJobResponse": {
      "type": "structure",
      "members": {
        "CallAnalyticsJob": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJob",
          "traits": {
            "smithy.api#documentation": "<p>Provides detailed information about the specified Call Analytics job, including job status\n            and, if applicable, failure reason.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetMedicalTranscriptionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetMedicalTranscriptionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the specified medical transcription job.</p> \n        <p>To view the status of the specified medical transcription job, check the \n            <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the \n            job is finished and you can find the results at the location specified in \n            <code>TranscriptFileUri</code>. If the status is <code>FAILED</code>, \n            <code>FailureReason</code> provides details on why your transcription job failed.</p>\n        <p>To get a list of your medical transcription jobs, use the \n             operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/medicaltranscriptionjobs/{MedicalTranscriptionJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the medical transcription job you want information about. Job names are case\n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalTranscriptionJobResponse": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJob": {
          "target": "com.amazonaws.transcribe#MedicalTranscriptionJob",
          "traits": {
            "smithy.api#documentation": "<p>Provides detailed information about the specified medical transcription job, including job\n            status and, if applicable, failure reason.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetMedicalVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetMedicalVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the specified custom medical vocabulary.</p> \n        <p>To view the status of the specified medical vocabulary, check the \n            <code>VocabularyState</code> field. If the status is <code>READY</code>, your vocabulary\n            is available to use. If the status is <code>FAILED</code>, <code>FailureReason</code> provides \n            details on why your vocabulary failed.</p> \n        <p>To get a list of your custom medical vocabularies, use the \n             operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/medicalvocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom medical vocabulary you want information about. Vocabulary names\n            are case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom medical vocabulary you requested information about.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you selected for your medical vocabulary. US English \n            (<code>en-US</code>) is the only language supported with Amazon Transcribe Medical.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of your custom medical vocabulary. If the state is \n            <code>READY</code>, you can use the vocabulary in a  \n            <code>StartMedicalTranscriptionJob</code> request.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the specified custom medical vocabulary was last modified.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 \n            on May 4, 2022.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If <code>VocabularyState</code> is <code>FAILED</code>, \n            <code>FailureReason</code> contains information about why the medical vocabulary \n            request failed. See also: <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
          }
        },
        "DownloadUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location where the specified medical vocabulary is stored; use this URI to view or \n            download the vocabulary.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetTranscriptionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetTranscriptionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the specified transcription job.</p>         \n        <p>To view the status of the specified transcription job, check the \n            <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the \n            job is finished and you can find the results at the location specified in\n            <code>TranscriptFileUri</code>. If the status is <code>FAILED</code>, \n            <code>FailureReason</code> provides details on why your transcription job failed.</p>\n        <p>If you enabled content redaction, the redacted transcript\n            can be found at the location specified in <code>RedactedTranscriptFileUri</code>.</p>\n        <p>To get a list of your transcription jobs, use the  \n            operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/transcriptionjobs/{TranscriptionJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the transcription job you want information about. Job names are case\n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJobResponse": {
      "type": "structure",
      "members": {
        "TranscriptionJob": {
          "target": "com.amazonaws.transcribe#TranscriptionJob",
          "traits": {
            "smithy.api#documentation": "<p>Provides detailed information about the specified transcription job, including job status\n            and, if applicable, failure reason.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the specified custom vocabulary.</p>            \n        <p>To view the status of the specified vocabulary, check the <code>VocabularyState</code> \n            field. If the status is <code>READY</code>, your vocabulary is available to use. If the status\n            is <code>FAILED</code>, <code>FailureReason</code> provides details on why your \n            vocabulary failed.</p>     \n        <p>To get a list of your custom vocabularies, use the  \n            operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetVocabularyFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetVocabularyFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the specified custom vocabulary filter.</p>   \n        <p>To view the status of the specified vocabulary filter, check the <code>VocabularyState</code> \n            field. If the status is <code>READY</code>, your vocabulary is available to use. If the status is \n            <code>FAILED</code>, <code>FailureReason</code> provides details on why your vocabulary\n            filter failed.</p>   \n        <p>To get a list of your custom vocabulary filters, use the \n             operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vocabularyFilters/{VocabularyFilterName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyFilterRequest": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary filter you want information about. Vocabulary filter \n            names are case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyFilterResponse": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary filter you requested information about.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you selected for your vocabulary filter.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the specified vocabulary filter was last modified.</p>\n        <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 \n            on May 4, 2022.</p>"
          }
        },
        "DownloadUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location where the vocabulary filter is stored; use this URI to view or \n            download the vocabulary filter.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary you want information about. Vocabulary names are\n            case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary you requested information about.</p>"
[...]
