{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.transfer#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#ServiceErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.transfer#AddressAllocationId": {
      "type": "string"
    },
    "com.amazonaws.transfer#AddressAllocationIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#AddressAllocationId"
      }
    },
    "com.amazonaws.transfer#AgreementId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 19
        },
        "smithy.api#pattern": "^a-([0-9a-f]{17})$"
      }
    },
    "com.amazonaws.transfer#AgreementStatusType": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.transfer#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.transfer#As2ConnectorConfig": {
      "type": "structure",
      "members": {
        "LocalProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the AS2 local profile.</p>"
          }
        },
        "PartnerProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the partner profile for the connector.</p>"
          }
        },
        "MessageSubject": {
          "target": "com.amazonaws.transfer#MessageSubject",
          "traits": {
            "smithy.api#documentation": "<p>Used as the <code>Subject</code> HTTP header attribute in AS2 messages that are being sent with the connector.</p>"
          }
        },
        "Compression": {
          "target": "com.amazonaws.transfer#CompressionEnum",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the AS2 file is compressed.</p>"
          }
        },
        "EncryptionAlgorithm": {
          "target": "com.amazonaws.transfer#EncryptionAlg",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that is used to encrypt the file.</p>"
          }
        },
        "SigningAlgorithm": {
          "target": "com.amazonaws.transfer#SigningAlg",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that is used to sign the AS2 messages sent with the connector.</p>"
          }
        },
        "MdnSigningAlgorithm": {
          "target": "com.amazonaws.transfer#MdnSigningAlg",
          "traits": {
            "smithy.api#documentation": "<p>The signing algorithm for the MDN response.</p>\n         <note>\n            <p>If set to DEFAULT (or not set at all), the value for <code>SigningAlogorithm</code> is used.</p>\n         </note>"
          }
        },
        "MdnResponse": {
          "target": "com.amazonaws.transfer#MdnResponse",
          "traits": {
            "smithy.api#documentation": "<p>Used  for outbound requests (from an Transfer Family server to a partner AS2 server) to determine whether\n      the partner response for transfers is synchronous or asynchronous. Specify either of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SYNC</code>: The system expects a synchronous MDN response, confirming that the file was transferred successfully (or not).</p>\n            </li>\n            <li>\n               <p>\n                  <code>NONE</code>: Specifies that no MDN response is required.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details for a connector object. The connector object is used for AS2 outbound\n      processes, to connect the Transfer Family customer with the trading partner.</p>"
      }
    },
    "com.amazonaws.transfer#As2Id": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\p{Print}\\s]*$"
      }
    },
    "com.amazonaws.transfer#As2Transport": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP"
          }
        }
      }
    },
    "com.amazonaws.transfer#As2Transports": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#As2Transport"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.transfer#CallbackToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^\\w+$"
      }
    },
    "com.amazonaws.transfer#CertDate": {
      "type": "timestamp"
    },
    "com.amazonaws.transfer#CertSerial": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 48
        },
        "smithy.api#pattern": "^[\\p{XDigit}{2}:?]*$"
      }
    },
    "com.amazonaws.transfer#Certificate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        }
      }
    },
    "com.amazonaws.transfer#CertificateBodyType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16384
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.transfer#CertificateChainType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2097152
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.transfer#CertificateId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 22,
          "max": 22
        },
        "smithy.api#pattern": "^cert-([0-9a-f]{17})$"
      }
    },
    "com.amazonaws.transfer#CertificateIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#CertificateId"
      }
    },
    "com.amazonaws.transfer#CertificateStatusType": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PENDING_ROTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ROTATION"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.transfer#CertificateType": {
      "type": "enum",
      "members": {
        "CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE"
          }
        },
        "CERTIFICATE_WITH_PRIVATE_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_WITH_PRIVATE_KEY"
          }
        }
      }
    },
    "com.amazonaws.transfer#CertificateUsageType": {
      "type": "enum",
      "members": {
        "SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNING"
          }
        },
        "ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION"
          }
        }
      }
    },
    "com.amazonaws.transfer#CompressionEnum": {
      "type": "enum",
      "members": {
        "ZLIB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZLIB"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.transfer#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#Message",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the <code>UpdateServer</code> is called for a file transfer\n      protocol-enabled server that has VPC as the endpoint type and the server's\n        <code>VpcEndpointID</code> is not in the available state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.transfer#ConnectorId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 19
        },
        "smithy.api#pattern": "^c-([0-9a-f]{17})$"
      }
    },
    "com.amazonaws.transfer#CopyStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step, used as an identifier.</p>"
          }
        },
        "DestinationFileLocation": {
          "target": "com.amazonaws.transfer#InputFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the location for the file being copied. Only applicable for Copy type workflow\n      steps. Use <code>${Transfer:username}</code> in this field to parametrize the destination\n      prefix by username.</p>"
          }
        },
        "OverwriteExisting": {
          "target": "com.amazonaws.transfer#OverwriteExisting",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates whether or not to overwrite an existing file of the same name.\n      The default is <code>FALSE</code>.</p>"
          }
        },
        "SourceFileLocation": {
          "target": "com.amazonaws.transfer#SourceFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which file to use as input to the workflow step: either the output from the previous step, or the originally uploaded file\n    for the workflow.</p>\n         <ul>\n            <li>\n               <p>Enter <code>${previous.file}</code> to use the previous file as the input.\n          In this case, this workflow step uses the output file from the previous workflow step as input.\n          This is the default value.</p>\n            </li>\n            <li>\n               <p>Enter <code>${original.file}</code> to use the originally-uploaded file location as input for this step.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Each step type has its own <code>StepDetails</code> structure.</p>"
      }
    },
    "com.amazonaws.transfer#CreateAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used by administrators to choose which groups in the directory should have access to\n      upload and download files over the enabled protocols using Transfer Family. For example, a\n      Microsoft Active Directory might contain 50,000 users, but only a small fraction might need\n      the ability to transfer files to the server. An administrator can use\n        <code>CreateAccess</code> to limit the access to the correct set of users who need this\n      ability.</p>"
      }
    },
    "com.amazonaws.transfer#CreateAccessRequest": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p>\n         <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) that you want your users' home directory to be when they log in to the server.\n    If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or EFS paths as is in their file transfer \n    protocol clients. If you set it <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for \n    how you want to make Amazon S3 or Amazon EFS paths visible to your users.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should\n      be visible to your user and how you want to make them visible. You must specify the\n        <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path\n      is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you\n      only specify a target, it is displayed as is. You also must ensure that your Identity and Access Management (IAM) \n      role provides access to paths in <code>Target</code>. This value\n      can be set only when <code>HomeDirectoryType</code> is set to\n      <i>LOGICAL</i>.</p>\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p>\n         <p>\n            <code>[ { \"Entry\": \"/directory1\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code>\n         </p>\n         <p>In most cases, you can use this value instead of the session policy to lock down your\n      user to the designated home directory (\"<code>chroot</code>\"). To do this, you can set\n        <code>Entry</code> to <code>/</code> and set <code>Target</code> to the\n        <code>HomeDirectory</code> parameter value.</p>\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example for <code>chroot</code>.</p>\n         <p>\n            <code>[ { \"Entry\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code>\n         </p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A session policy for your user so that you can use the same Identity and Access Management (IAM) role across multiple users. This policy scopes down a user's\n     access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>,\n     <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p>\n         <note>\n            <p>This policy applies only when the domain of <code>ServerId</code> is Amazon S3. Amazon EFS does not use session policies.</p>\n            <p>For session policies, Transfer Family stores the policy as a JSON blob, instead\n        of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass\n        it in the <code>Policy</code> argument.</p>\n            <p>For an example of a session policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/session-policy.html\">Example\n          session policy</a>.</p>\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>Security Token Service API\n          Reference</i>.</p>\n         </note>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile"
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that controls your users' access to your Amazon S3 \n      bucket or Amazon EFS file system. The policies attached to this role determine the level of access that you want to provide your users \n      when transferring files into and out of your Amazon S3 bucket or Amazon EFS file system. The IAM role should also contain a trust \n      relationship that allows the server to access your resources when servicing your users' transfer requests.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server that you added your user to.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n    The users of the group that you associate have access to your Amazon S3 or Amazon EFS\n    resources over the enabled protocols using Transfer Family. If you know the group name,\n    you can view the SID values by running the following command using Windows PowerShell.</p>\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code>\n         </p>\n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p>\n         <p>The regular expression used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces.\n    You can also include underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateAccessResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the server that the user is attached to.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external identifier of the group whose users have access to your Amazon S3 or Amazon\n      EFS resources over the enabled protocols using Transfer Family.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateAgreement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateAgreementRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateAgreementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an agreement. An agreement is a bilateral trading partner agreement, or partnership,\n      between an Transfer Family server and an AS2 process. The agreement defines the file and message\n      transfer relationship between the server and the AS2 process. To define an agreement, Transfer Family\n      combines a server, local profile, partner profile, certificate, and other\n      attributes.</p>\n         <p>The partner is identified with the <code>PartnerProfileId</code>, and the AS2 process is identified with the <code>LocalProfileId</code>.</p>"
      }
    },
    "com.amazonaws.transfer#CreateAgreementRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.transfer#Description",
          "traits": {
            "smithy.api#documentation": "<p>A name or short description to identify the agreement. </p>"
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server\n      that the agreement uses.</p>",
            "smithy.api#required": {}
          }
        },
        "LocalProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the AS2 local profile.</p>",
            "smithy.api#required": {}
          }
        },
        "PartnerProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the partner profile used in the agreement.</p>",
            "smithy.api#required": {}
          }
        },
        "BaseDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for files transferred by using the AS2 protocol.</p>\n         <p>A <code>BaseDirectory</code> example is\n          <i>DOC-EXAMPLE-BUCKET</i>/<i>home</i>/<i>mydirectory</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>With AS2, you can send files by calling <code>StartFileTransfer</code> and specifying the\n      file paths in the request parameter, <code>SendFilePaths</code>. We use the file’s parent\n      directory (for example, for <code>--send-file-paths /bucket/dir/file.txt</code>, parent\n      directory is <code>/bucket/dir/</code>) to temporarily store a processed AS2 message file,\n      store the MDN when we receive them from the partner, and write a final JSON file containing\n      relevant metadata of the transmission. So, the <code>AccessRole</code> needs to provide read\n      and write access to the parent directory of the file location used in the\n        <code>StartFileTransfer</code> request. Additionally, you need to provide read and write\n      access to the parent directory of the files that you intend to send with\n        <code>StartFileTransfer</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.transfer#AgreementStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agreement. The agreement can be either <code>ACTIVE</code> or\n        <code>INACTIVE</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for agreements.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateAgreementResponse": {
      "type": "structure",
      "members": {
        "AgreementId": {
          "target": "com.amazonaws.transfer#AgreementId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the agreement. Use this ID for deleting, or updating an\n      agreement, as well as in any other API calls that require that you specify the agreement\n      ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the connector, which captures the parameters for an outbound connection for the\n      AS2 protocol. The connector is required for sending files to an externally hosted AS2 server.\n      For more details about connectors, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/create-b2b-server.html#configure-as2-connector\">Create AS2 connectors</a>.</p>"
      }
    },
    "com.amazonaws.transfer#CreateConnectorRequest": {
      "type": "structure",
      "members": {
        "Url": {
          "target": "com.amazonaws.transfer#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the partner's AS2 endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "As2Config": {
          "target": "com.amazonaws.transfer#As2ConnectorConfig",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the parameters for a connector object.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>With AS2, you can send files by calling <code>StartFileTransfer</code> and specifying the\n      file paths in the request parameter, <code>SendFilePaths</code>. We use the file’s parent\n      directory (for example, for <code>--send-file-paths /bucket/dir/file.txt</code>, parent\n      directory is <code>/bucket/dir/</code>) to temporarily store a processed AS2 message file,\n      store the MDN when we receive them from the partner, and write a final JSON file containing\n      relevant metadata of the transmission. So, the <code>AccessRole</code> needs to provide read\n      and write access to the parent directory of the file location used in the\n        <code>StartFileTransfer</code> request. Additionally, you need to provide read and write\n      access to the parent directory of the files that you intend to send with\n        <code>StartFileTransfer</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "LoggingRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that allows a connector to turn\n      on CloudWatch logging for Amazon S3 events. When set, you can view connector\n      activity in your CloudWatch logs.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for connectors. Tags are metadata attached to connectors for any purpose.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateConnectorResponse": {
      "type": "structure",
      "members": {
        "ConnectorId": {
          "target": "com.amazonaws.transfer#ConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the connector, returned after the API call succeeds.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the local or partner profile to use for AS2 transfers.</p>"
      }
    },
    "com.amazonaws.transfer#CreateProfileRequest": {
      "type": "structure",
      "members": {
        "As2Id": {
          "target": "com.amazonaws.transfer#As2Id",
          "traits": {
            "smithy.api#documentation": "<p>The <code>As2Id</code> is the <i>AS2-name</i>, as defined in the \n    <a href=\"https://datatracker.ietf.org/doc/html/rfc4130\">RFC 4130</a>. For inbound transfers, this is the <code>AS2-From</code> header for the AS2 messages\n      sent from the partner. For outbound connectors, this is the <code>AS2-To</code> header for the\n      AS2 messages sent to the partner using the <code>StartFileTransfer</code> API operation. This ID cannot include spaces.</p>",
            "smithy.api#required": {}
          }
        },
        "ProfileType": {
          "target": "com.amazonaws.transfer#ProfileType",
          "traits": {
            "smithy.api#documentation": "<p>Determines the type of profile to create:</p>\n         <ul>\n            <li>\n               <p>Specify <code>LOCAL</code> to create a local profile. A local profile represents the AS2-enabled Transfer Family server organization or party.</p>\n            </li>\n            <li>\n               <p>Specify <code>PARTNER</code> to create a partner profile. A partner profile represents a remote organization, external to Transfer Family.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CertificateIds": {
          "target": "com.amazonaws.transfer#CertificateIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of identifiers for the imported certificates. You use this identifier for working with profiles and partner profiles.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for AS2 profiles.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateProfileResponse": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the AS2 profile, returned after the API call succeeds.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateServerRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Instantiates an auto-scaling virtual server based on the selected file transfer protocol\n      in Amazon Web Services. When you make updates to your file transfer protocol-enabled server or when you work\n      with users, use the service-generated <code>ServerId</code> property that is assigned to the\n      newly created server.</p>"
      }
    },
    "com.amazonaws.transfer#CreateServerRequest": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.transfer#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Certificate Manager (ACM) certificate. Required\n      when <code>Protocols</code> is set to <code>FTPS</code>.</p>\n         <p>To request a new public certificate, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-public.html\">Request a public certificate</a>\n      in the <i>Certificate Manager User Guide</i>.</p>\n         <p>To import an existing certificate into ACM, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing certificates into ACM</a>\n      in the <i>Certificate Manager User Guide</i>.</p>\n         <p>To request a private certificate to use FTPS through private IP addresses, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-private.html\">Request a\n        private certificate</a> in the <i>Certificate Manager User\n      Guide</i>.</p>\n         <p>Certificates with the following cryptographic algorithms and key sizes are\n      supported:</p>\n         <ul>\n            <li>\n               <p>2048-bit RSA (RSA_2048)</p>\n            </li>\n            <li>\n               <p>4096-bit RSA (RSA_4096)</p>\n            </li>\n            <li>\n               <p>Elliptic Prime Curve 256 bit (EC_prime256v1)</p>\n            </li>\n            <li>\n               <p>Elliptic Prime Curve 384 bit (EC_secp384r1)</p>\n            </li>\n            <li>\n               <p>Elliptic Prime Curve 521 bit (EC_secp521r1)</p>\n            </li>\n         </ul>\n         <note>\n            <p>The certificate must be a valid SSL/TLS X.509 version 3 certificate with FQDN or IP\n        address specified and information about the issuer.</p>\n         </note>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.transfer#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain of the storage system that is used for file transfers. There are two domains\n      available: Amazon Simple Storage Service (Amazon S3) and Amazon Elastic File System (Amazon EFS). The\n      default value is S3.</p>\n         <note>\n            <p>After the server is created, the domain cannot be changed.</p>\n         </note>"
          }
        },
        "EndpointDetails": {
          "target": "com.amazonaws.transfer#EndpointDetails",
          "traits": {
            "smithy.api#documentation": "<p>The virtual private cloud (VPC) endpoint settings that are configured for your server.\n      When you host your endpoint within your VPC, you can make your endpoint accessible only to resources\n      within your VPC, or you can attach Elastic IP addresses and make your endpoint accessible to clients over\n      the internet. Your VPC's default security groups are automatically assigned to your\n      endpoint.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.transfer#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint that you want your server to use. You can choose to make your server's endpoint publicly accessible (PUBLIC)\n      or host it inside your VPC. With an endpoint that is hosted in a VPC, you can restrict access to your server and \n      resources only within your VPC or choose to make it internet facing by attaching Elastic IP addresses directly to it.</p>\n         <note>\n            <p> After May 19, 2021, you won't be able to create a server using\n          <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Services account if your account hasn't already\n      done so before May 19, 2021. If you have already created servers with\n      <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Services account on or before May 19, 2021,\n        you will not be affected. After this date, use\n        <code>EndpointType</code>=<code>VPC</code>.</p>\n            <p>For more information, see\n        https://docs.aws.amazon.com/transfer/latest/userguide/create-server-in-vpc.html#deprecate-vpc-endpoint.</p>\n            <p>It is recommended that you use <code>VPC</code> as the <code>EndpointType</code>. With\n        this endpoint type, you have the option to directly associate up to three Elastic IPv4\n        addresses (BYO IP included) with your server's endpoint and use VPC security groups to\n        restrict traffic by the client's public IP address. This is not possible with\n          <code>EndpointType</code> set to <code>VPC_ENDPOINT</code>.</p>\n         </note>"
          }
        },
        "HostKey": {
          "target": "com.amazonaws.transfer#HostKey",
          "traits": {
            "smithy.api#documentation": "<p>The RSA, ECDSA, or ED25519 private key to use for your SFTP-enabled server. You can add multiple host keys, in case you want\n     to rotate keys, or have a set of active keys that use different algorithms.</p>\n         <p>Use the following command to generate an RSA 2048 bit key with no passphrase:</p>\n         <p>\n            <code>ssh-keygen -t rsa -b 2048 -N \"\" -m PEM -f my-new-server-key</code>.</p>\n         <p>Use a minimum value of 2048 for the <code>-b</code> option. You can create a stronger key by using 3072 or 4096.</p>\n         <p>Use the following command to generate an ECDSA 256 bit key with no passphrase:</p>\n         <p>\n            <code>ssh-keygen -t ecdsa -b 256 -N \"\" -m PEM -f my-new-server-key</code>.</p>\n         <p>Valid values for the <code>-b</code> option for ECDSA are 256, 384, and 521.</p>\n         <p>Use the following command to generate an ED25519 key with no passphrase:</p>\n         <p>\n            <code>ssh-keygen -t ed25519 -N \"\" -f my-new-server-key</code>.</p>\n         <p>For all of these commands, you can replace <i>my-new-server-key</i> with a string of your choice.</p>\n         <important>\n            <p>If you aren't planning to migrate existing users from an existing SFTP-enabled\n        server to a new server, don't update the host key. Accidentally changing a\n        server's host key can be disruptive.</p>\n         </important>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/edit-server-config.html#configuring-servers-change-host-key\">Update host keys for your SFTP-enabled server</a> in the <i>Transfer Family User Guide</i>.</p>"
          }
        },
        "IdentityProviderDetails": {
          "target": "com.amazonaws.transfer#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "<p>Required when <code>IdentityProviderType</code> is set to\n        <code>AWS_DIRECTORY_SERVICE</code> or <code>API_GATEWAY</code>. Accepts an array containing\n      all of the information required to use a directory in <code>AWS_DIRECTORY_SERVICE</code> or\n      invoke a customer-supplied authentication API, including the API Gateway URL. Not required\n      when <code>IdentityProviderType</code> is set to <code>SERVICE_MANAGED</code>.</p>"
          }
        },
        "IdentityProviderType": {
          "target": "com.amazonaws.transfer#IdentityProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The mode of authentication for a server. The default value is\n        <code>SERVICE_MANAGED</code>, which allows you to store and access user credentials within\n      the Transfer Family service.</p>\n         <p>Use <code>AWS_DIRECTORY_SERVICE</code> to provide access to\n      Active Directory groups in Directory Service for Microsoft Active Directory or Microsoft Active Directory in your\n      on-premises environment or in Amazon Web Services using AD Connector. This option also requires you to\n      provide a Directory ID by using the <code>IdentityProviderDetails</code> parameter.</p>\n         <p>Use the <code>API_GATEWAY</code> value to integrate with an identity provider of your choosing. The\n      <code>API_GATEWAY</code> setting requires you to provide an Amazon API Gateway endpoint URL to call\n      for authentication by using the <code>IdentityProviderDetails</code> parameter.</p>\n         <p>Use the <code>AWS_LAMBDA</code> value to directly use an Lambda function as your identity provider. \n      If you choose this value, you must specify the ARN for the Lambda function in the <code>Function</code> parameter \n      or the <code>IdentityProviderDetails</code> data type.</p>"
          }
        },
        "LoggingRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that allows a server to turn\n      on Amazon CloudWatch logging for Amazon S3 or Amazon EFSevents. When set, you can view user activity in\n      your CloudWatch logs.</p>"
          }
        },
        "PostAuthenticationLoginBanner": {
          "target": "com.amazonaws.transfer#PostAuthenticationLoginBanner",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a string to display when users connect to a server. This string is displayed after the user authenticates.</p>\n         <note>\n            <p>The SFTP protocol does not support post-authentication display banners.</p>\n         </note>"
          }
        },
        "PreAuthenticationLoginBanner": {
          "target": "com.amazonaws.transfer#PreAuthenticationLoginBanner",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a string to display when users connect to a server. This string is displayed before the user authenticates.\n    For example, the following banner displays details about using the system:</p>\n         <p>\n            <code>This system is for the use of authorized users only. Individuals using this computer system without authority,\n    or in excess of their authority, are subject to having all of their activities on this system monitored and recorded by\n    system personnel.</code>\n         </p>"
          }
        },
        "Protocols": {
          "target": "com.amazonaws.transfer#Protocols",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file transfer protocol or protocols over which your file transfer protocol\n      client can connect to your server's endpoint. The available protocols are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SFTP</code> (Secure Shell (SSH) File Transfer Protocol): File transfer over\n          SSH</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTPS</code> (File Transfer Protocol Secure): File transfer with TLS\n          encryption</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTP</code> (File Transfer Protocol): Unencrypted file transfer</p>\n            </li>\n            <li>\n               <p>\n                  <code>AS2</code> (Applicability Statement 2): used for transporting structured business-to-business data</p>\n            </li>\n         </ul>\n         <note>\n            <ul>\n               <li>\n                  <p>If you select <code>FTPS</code>, you must choose a certificate stored in Certificate Manager (ACM) \n            which is used to identify your server when clients connect to it over\n            FTPS.</p>\n               </li>\n               <li>\n                  <p>If <code>Protocol</code> includes either <code>FTP</code> or <code>FTPS</code>, then the\n            <code>EndpointType</code> must be <code>VPC</code> and the\n            <code>IdentityProviderType</code> must be <code>AWS_DIRECTORY_SERVICE</code> or <code>API_GATEWAY</code>.</p>\n               </li>\n               <li>\n                  <p>If <code>Protocol</code> includes <code>FTP</code>, then\n          <code>AddressAllocationIds</code> cannot be associated.</p>\n               </li>\n               <li>\n                  <p>If <code>Protocol</code> is set only to <code>SFTP</code>, the <code>EndpointType</code>\n            can be set to <code>PUBLIC</code> and the <code>IdentityProviderType</code> can be set to\n            <code>SERVICE_MANAGED</code>.</p>\n               </li>\n               <li>\n                  <p>If <code>Protocol</code> includes <code>AS2</code>, then the\n              <code>EndpointType</code> must be <code>VPC</code>, and domain must be Amazon S3.</p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "ProtocolDetails": {
          "target": "com.amazonaws.transfer#ProtocolDetails",
          "traits": {
            "smithy.api#documentation": "<p>The protocol settings that are configured for your server.</p>\n         <ul>\n            <li>\n               <p>\n          To indicate passive mode (for FTP and FTPS protocols), use the <code>PassiveIp</code> parameter.\n          Enter a single dotted-quad IPv4 address, such as the external IP address of a firewall, router, or load balancer.\n        </p>\n            </li>\n            <li>\n               <p>To ignore the error that is generated when the client attempts to use the <code>SETSTAT</code> command on a file that you are \n        uploading to an Amazon S3 bucket, use the <code>SetStatOption</code> parameter. To have the Transfer Family server ignore the \n        <code>SETSTAT</code> command and upload files without needing to make any changes to your SFTP client, set the value to \n        <code>ENABLE_NO_OP</code>. If you set the <code>SetStatOption</code> parameter to <code>ENABLE_NO_OP</code>, Transfer Family \n        generates a log entry to Amazon CloudWatch Logs, so that you can determine when the client is making a <code>SETSTAT</code> \n        call.</p>\n            </li>\n            <li>\n               <p>To determine whether your Transfer Family server resumes recent, negotiated sessions through a unique session ID, use the \n        <code>TlsSessionResumptionMode</code> parameter.</p>\n            </li>\n            <li>\n               <p>\n                  <code>As2Transports</code> indicates the transport method for the AS2 messages. Currently, only HTTP is supported.</p>\n            </li>\n         </ul>"
          }
        },
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for servers.</p>"
          }
        },
        "WorkflowDetails": {
          "target": "com.amazonaws.transfer#WorkflowDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the workflow ID for the workflow to assign and the execution role that's used for executing the workflow.</p>\n         <p>In additon to a workflow to execute when a file is uploaded completely, <code>WorkflowDeatails</code> can also contain a\n    workflow ID (and execution role) for a workflow to execute on partial upload. A partial upload occurs when a file is open when\n    the session disconnects.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateServerResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The service-assigned identifier of the server that is created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user and associates them with an existing file transfer protocol-enabled server.\n      You can only create and associate users with servers that have the\n        <code>IdentityProviderType</code> set to <code>SERVICE_MANAGED</code>. Using parameters for\n        <code>CreateUser</code>, you can specify the user name, set the home directory, store the\n      user's public key, and assign the user's Identity and Access Management (IAM)\n      role. You can also optionally add a session policy, and assign metadata with tags that can\n      be used to group and search for users.</p>"
      }
    },
    "com.amazonaws.transfer#CreateUserRequest": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p>\n         <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) that you want your users' home directory to be when they log in to the server.\n    If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or EFS paths as is in their file transfer \n    protocol clients. If you set it <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for \n    how you want to make Amazon S3 or Amazon EFS paths visible to your users.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should\n      be visible to your user and how you want to make them visible. You must specify the\n        <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path\n      is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you\n      only specify a target, it is displayed as is. You also must ensure that your Identity and Access Management (IAM) \n      role provides access to paths in <code>Target</code>. This value\n      can be set only when <code>HomeDirectoryType</code> is set to\n      <i>LOGICAL</i>.</p>\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p>\n         <p>\n            <code>[ { \"Entry\": \"/directory1\", \"Target\":\n        \"/bucket_name/home/mydirectory\" } ]</code>\n         </p>\n         <p>In most cases, you can use this value instead of the session policy to lock your user\n      down to the designated home directory (\"<code>chroot</code>\"). To do this, you can set\n        <code>Entry</code> to <code>/</code> and set <code>Target</code> to the HomeDirectory\n      parameter value.</p>\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example for <code>chroot</code>.</p>\n         <p>\n            <code>[ { \"Entry\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code>\n         </p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A session policy for your user so that you can use the same Identity and Access Management (IAM) role across multiple users. This policy scopes down a user's\n     access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>,\n     <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p>\n         <note>\n            <p>This policy applies only when the domain of <code>ServerId</code> is Amazon S3. Amazon EFS does not use session policies.</p>\n            <p>For session policies, Transfer Family stores the policy as a JSON blob, instead\n        of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass\n        it in the <code>Policy</code> argument.</p>\n            <p>For an example of a session policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/session-policy.html\">Example session\n        policy</a>.</p>\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>Amazon Web Services\n          Security Token Service API Reference</i>.</p>\n         </note>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the full POSIX identity, including user ID (<code>Uid</code>), group ID\n        (<code>Gid</code>), and any secondary groups IDs (<code>SecondaryGids</code>), that controls\n      your users' access to your Amazon EFS file systems. The POSIX permissions that are set on\n      files and directories in Amazon EFS determine the level of access your users get when\n      transferring files into and out of your Amazon EFS file systems.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that controls your users' access to your Amazon S3 \n      bucket or Amazon EFS file system. The policies attached to this role determine the level of access that you want to provide your users \n      when transferring files into and out of your Amazon S3 bucket or Amazon EFS file system. The IAM role should also contain a trust \n      relationship that allows the server to access your resources when servicing your users' transfer requests.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server\n      that you added your user to.</p>",
            "smithy.api#required": {}
          }
        },
        "SshPublicKeyBody": {
          "target": "com.amazonaws.transfer#SshPublicKeyBody",
          "traits": {
            "smithy.api#documentation": "<p>The public portion of the Secure Shell (SSH) key used to authenticate the user to the\n      server.</p>\n         <p>Transfer Family accepts RSA, ECDSA, and ED25519 keys.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for users. Tags are metadata attached\n      to users for any purpose.</p>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user and is associated with a <code>ServerId</code>. This user name must be a minimum of 3 and a maximum of 100 characters\n      long. The following are valid characters: a-z, A-Z, 0-9, underscore '_', hyphen\n      '-', period '.', and at sign '@'. The user name can't start\n      with a hyphen, period, or at sign.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateUserResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the server that the user is attached to.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user account associated with a server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Allows you to create a workflow with specified steps and step details the workflow invokes after file transfer completes.\n      After creating a workflow, you can associate the workflow created with any transfer servers by specifying the <code>workflow-details</code> field in <code>CreateServer</code> and <code>UpdateServer</code> operations.\n    </p>"
      }
    },
    "com.amazonaws.transfer#CreateWorkflowRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.transfer#WorkflowDescription",
          "traits": {
            "smithy.api#documentation": "<p>A textual description for the workflow.</p>"
          }
        },
        "Steps": {
          "target": "com.amazonaws.transfer#WorkflowSteps",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the details for the steps that are in the specified workflow.</p>\n         <p>\n      The <code>TYPE</code> specifies which of the following actions is being taken for this step.\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <i>COPY</i>: Copy the file to another location.</p>\n            </li>\n            <li>\n               <p>\n                  <i>CUSTOM</i>: Perform a custom step with an Lambda function target.</p>\n            </li>\n            <li>\n               <p>\n                  <i>DELETE</i>: Delete the file.</p>\n            </li>\n            <li>\n               <p>\n                  <i>TAG</i>: Add a tag to the file.</p>\n            </li>\n         </ul>\n         <note>\n            <p>\n        Currently, copying and tagging are supported only on S3.\n      </p>\n         </note>\n         <p> For file location, you specify either the S3 bucket and key, or the EFS file system ID\n      and path. </p>",
            "smithy.api#required": {}
          }
        },
        "OnExceptionSteps": {
          "target": "com.amazonaws.transfer#WorkflowSteps",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the steps (actions) to take if errors are encountered during execution of the workflow.</p>\n         <note>\n            <p>For custom steps, the lambda function needs to send <code>FAILURE</code> to the call\n        back API to kick off the exception steps. Additionally, if the lambda does not send\n          <code>SUCCESS</code> before it times out, the exception steps are executed.</p>\n         </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for workflows. Tags are metadata attached\n      to workflows for any purpose.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateWorkflowResponse": {
      "type": "structure",
      "members": {
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CustomStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step, used as an identifier.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.transfer#CustomStepTarget",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lambda function that is being called.</p>"
          }
        },
        "TimeoutSeconds": {
          "target": "com.amazonaws.transfer#CustomStepTimeoutSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Timeout, in seconds, for the step.</p>"
          }
        },
        "SourceFileLocation": {
          "target": "com.amazonaws.transfer#SourceFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which file to use as input to the workflow step: either the output from the previous step, or the originally uploaded file\n    for the workflow.</p>\n         <ul>\n            <li>\n               <p>Enter <code>${previous.file}</code> to use the previous file as the input.\n          In this case, this workflow step uses the output file from the previous workflow step as input.\n          This is the default value.</p>\n            </li>\n            <li>\n               <p>Enter <code>${original.file}</code> to use the originally-uploaded file location as input for this step.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Each step type has its own <code>StepDetails</code> structure.</p>"
      }
    },
    "com.amazonaws.transfer#CustomStepStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        }
      }
    },
    "com.amazonaws.transfer#CustomStepTarget": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 170
        },
        "smithy.api#pattern": "^arn:[a-z-]+:lambda:.*$"
      }
    },
    "com.amazonaws.transfer#CustomStepTimeoutSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1800
        }
      }
    },
    "com.amazonaws.transfer#DateImported": {
      "type": "timestamp"
    },
    "com.amazonaws.transfer#DecryptStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName"
        },
        "Type": {
          "target": "com.amazonaws.transfer#EncryptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SourceFileLocation": {
          "target": "com.amazonaws.transfer#SourceFileLocation"
        },
        "OverwriteExisting": {
          "target": "com.amazonaws.transfer#OverwriteExisting"
        },
        "DestinationFileLocation": {
          "target": "com.amazonaws.transfer#InputFileLocation",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteAccessRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows you to delete the access specified in the <code>ServerID</code> and\n      <code>ExternalID</code> parameters.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteAccessRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this user assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n    The users of the group that you associate have access to your Amazon S3 or Amazon EFS\n    resources over the enabled protocols using Transfer Family. If you know the group name,\n    you can view the SID values by running the following command using Windows PowerShell.</p>\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code>\n         </p>\n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p>\n         <p>The regular expression used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces.\n    You can also include underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteAgreement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteAgreementRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete the agreement that's specified in the provided <code>AgreementId</code>.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteAgreementRequest": {
      "type": "structure",
      "members": {
        "AgreementId": {
          "target": "com.amazonaws.transfer#AgreementId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the agreement. This identifier is returned when you create an agreement.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The server identifier associated with the agreement that you are deleting.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteCertificateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the certificate that's specified in the <code>CertificateId</code>\n      parameter.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateId": {
          "target": "com.amazonaws.transfer#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the certificate object that you are deleting.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteConnectorRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the agreement that's specified in the provided <code>ConnectorId</code>.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteConnectorRequest": {
      "type": "structure",
      "members": {
        "ConnectorId": {
          "target": "com.amazonaws.transfer#ConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the connector.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteHostKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteHostKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the host key that's specified in the <code>HoskKeyId</code> parameter.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteHostKeyRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the server that contains the host key that you are deleting.</p>",
            "smithy.api#required": {}
          }
        },
        "HostKeyId": {
          "target": "com.amazonaws.transfer#HostKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the host key that you are deleting.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteProfileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the profile that's specified in the <code>ProfileId</code> parameter.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteProfileRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the profile that you are deleting.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteServerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the file transfer protocol-enabled server that you specify.</p>\n         <p>No response returns from this operation.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteServerRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A unique system-assigned identifier for a server instance.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteSshPublicKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteSshPublicKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user's Secure Shell (SSH) public key.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteSshPublicKeyRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a file transfer protocol-enabled server instance\n      that has the user assigned to it.</p>",
            "smithy.api#required": {}
          }
        },
        "SshPublicKeyId": {
          "target": "com.amazonaws.transfer#SshPublicKeyId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier used to reference your user's specific SSH key.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user whose public key is being deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step, used as an identifier.</p>"
          }
        },
        "SourceFileLocation": {
          "target": "com.amazonaws.transfer#SourceFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which file to use as input to the workflow step: either the output from the previous step, or the originally uploaded file\n    for the workflow.</p>\n         <ul>\n            <li>\n               <p>Enter <code>${previous.file}</code> to use the previous file as the input.\n          In this case, this workflow step uses the output file from the previous workflow step as input.\n          This is the default value.</p>\n            </li>\n            <li>\n               <p>Enter <code>${original.file}</code> to use the originally-uploaded file location as input for this step.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of the step, used to identify the delete step.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the user belonging to a file transfer protocol-enabled server you specify.</p>\n         <p>No response returns from this operation.</p>\n         <note>\n            <p>When you delete a user from a server, the user's information is lost.</p>\n         </note>"
      }
    },
    "com.amazonaws.transfer#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance that has the user assigned to\n      it.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user that is being deleted from a server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteWorkflowRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified workflow.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteWorkflowRequest": {
      "type": "structure",
      "members": {
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the access that is assigned to the specific file transfer protocol-enabled\n      server, as identified by its <code>ServerId</code> property and its\n      <code>ExternalId</code>.</p>\n         <p>The response from this call returns the properties of the access that is associated with\n      the <code>ServerId</code> value that was specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeAccessRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this access assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n    The users of the group that you associate have access to your Amazon S3 or Amazon EFS\n    resources over the enabled protocols using Transfer Family. If you know the group name,\n    you can view the SID values by running the following command using Windows PowerShell.</p>\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code>\n         </p>\n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p>\n         <p>The regular expression used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces.\n    You can also include underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeAccessResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this access assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "Access": {
          "target": "com.amazonaws.transfer#DescribedAccess",
          "traits": {
            "smithy.api#documentation": "<p>The external identifier of the server that the access is attached to.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeAgreement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeAgreementRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeAgreementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the agreement that's identified by the <code>AgreementId</code>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeAgreementRequest": {
      "type": "structure",
      "members": {
        "AgreementId": {
          "target": "com.amazonaws.transfer#AgreementId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the agreement. This identifier is returned when you create an agreement.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The server identifier that's associated with the agreement.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeAgreementResponse": {
      "type": "structure",
      "members": {
        "Agreement": {
          "target": "com.amazonaws.transfer#DescribedAgreement",
          "traits": {
            "smithy.api#documentation": "<p>The details for the specified agreement, returned as a <code>DescribedAgreement</code>\n      object.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the certificate that's identified by the <code>CertificateId</code>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateId": {
          "target": "com.amazonaws.transfer#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>An array of identifiers for the imported certificates. You use this identifier for working with profiles and partner profiles.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeCertificateResponse": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.transfer#DescribedCertificate",
          "traits": {
            "smithy.api#documentation": "<p>The details for the specified certificate, returned as an object.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the connector that's identified by the <code>ConnectorId.</code>\n         </p>"
      }
    },
    "com.amazonaws.transfer#DescribeConnectorRequest": {
      "type": "structure",
      "members": {
        "ConnectorId": {
          "target": "com.amazonaws.transfer#ConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the connector.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeConnectorResponse": {
      "type": "structure",
      "members": {
        "Connector": {
          "target": "com.amazonaws.transfer#DescribedConnector",
          "traits": {
            "smithy.api#documentation": "<p>The structure that contains the details of the connector.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeExecutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You can use <code>DescribeExecution</code> to check the details of the execution of the specified workflow.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeExecutionRequest": {
      "type": "structure",
      "members": {
        "ExecutionId": {
          "target": "com.amazonaws.transfer#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the execution of a workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeExecutionResponse": {
      "type": "structure",
      "members": {
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "Execution": {
          "target": "com.amazonaws.transfer#DescribedExecution",
          "traits": {
            "smithy.api#documentation": "<p>The structure that contains the details of the workflow' execution.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeHostKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeHostKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeHostKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of the host key that's specified by the <code>HostKeyId</code> and <code>ServerId</code>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeHostKeyRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the server that contains the host key that you want described.</p>",
            "smithy.api#required": {}
          }
        },
        "HostKeyId": {
          "target": "com.amazonaws.transfer#HostKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the host key that you want described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeHostKeyResponse": {
      "type": "structure",
      "members": {
        "HostKey": {
          "target": "com.amazonaws.transfer#DescribedHostKey",
          "traits": {
            "smithy.api#documentation": "<p>Returns the details for the specified host key.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of the profile that's specified by the <code>ProfileId</code>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeProfileRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the profile that you want described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeProfileResponse": {
      "type": "structure",
      "members": {
        "Profile": {
          "target": "com.amazonaws.transfer#DescribedProfile",
          "traits": {
            "smithy.api#documentation": "<p>The details of the specified profile, returned as an object.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeSecurityPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeSecurityPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeSecurityPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the security policy that is attached to your file transfer protocol-enabled\n      server. The response contains a description of the security policy's properties. For more\n      information about security policies, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/security-policies.html\">Working with security\n        policies</a>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeSecurityPolicyRequest": {
      "type": "structure",
      "members": {
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeSecurityPolicyResponse": {
      "type": "structure",
      "members": {
        "SecurityPolicy": {
          "target": "com.amazonaws.transfer#DescribedSecurityPolicy",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the properties of the security policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeServerRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeServerResponse"
      },
[...]
