{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.shine#AWSShineFrontendService_20170701": {
      "type": "service",
      "version": "2017-07-01",
      "operations": [
        {
          "target": "com.amazonaws.shine#DeleteTerminology"
        },
        {
          "target": "com.amazonaws.shine#GetTerminology"
        },
        {
          "target": "com.amazonaws.shine#ImportTerminology"
        },
        {
          "target": "com.amazonaws.shine#ListTerminologies"
        },
        {
          "target": "com.amazonaws.shine#TranslateText"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Translate",
          "arnNamespace": "translate",
          "cloudFormationName": "Translate",
          "cloudTrailEventSource": "shine.amazonaws.com"
        },
        "smithy.api#documentation": "\n         <p>Provides translation between one source language and another of the same set of languages.</p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Translate"
      }
    },
    "com.amazonaws.shine#AppliedTerminology": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.shine#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n      "
          }
        },
        "Terms": {
          "target": "com.amazonaws.shine#TermList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be \n    returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The custom terminology applied to the input text by Amazon Translate for the translated text response. This is optional in the response and \n      will only be present if you specified terminology input in the request. Currently, only one terminology can be applied per TranslateText request.</p>\n      "
      }
    },
    "com.amazonaws.shine#AppliedTerminologyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shine#AppliedTerminology"
      }
    },
    "com.amazonaws.shine#BoundedLengthString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5000
        },
        "smithy.api#pattern": "[\\P{M}\\p{M}]{1,5000}"
      }
    },
    "com.amazonaws.shine#DeleteTerminology": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shine#DeleteTerminologyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.shine#InternalServerException"
        },
        {
          "target": "com.amazonaws.shine#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.shine#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>A synchronous action that deletes a custom terminology.</p>\n      "
      }
    },
    "com.amazonaws.shine#DeleteTerminologyRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.shine#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the custom terminology being deleted. </p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.shine#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[\\P{M}\\p{M}]{0,256}"
      }
    },
    "com.amazonaws.shine#DetectedLanguageLowConfidenceException": {
      "type": "structure",
      "members": {
        "DetectedLanguageCode": {
          "target": "com.amazonaws.shine#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The language code of the auto-detected language from Amazon Comprehend.</p>\n      "
          }
        },
        "Message": {
          "target": "com.amazonaws.shine#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The confidence that Amazon Comprehend accurately detected the source language is low. If a low confidence level is acceptable for your application, you can use the language in the\n      exception to call Amazon Translate again. For more information, see the <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/API_DetectDominantLanguage.html\">DetectDominantLanguage</a> operation in the <i>Amazon Comprehend Developer\n        Guide</i>.\n</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.shine#EncryptionKey": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.shine#EncryptionKeyID",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Type": {
          "target": "com.amazonaws.shine#EncryptionKeyType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The encryption key used to encrypt the custom terminologies used by Amazon Translate.</p>\n      "
      }
    },
    "com.amazonaws.shine#EncryptionKeyID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 400
        },
        "smithy.api#pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))"
      }
    },
    "com.amazonaws.shine#EncryptionKeyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "KMS": {
            "name": "KMS"
          }
        }
      }
    },
    "com.amazonaws.shine#GetTerminology": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shine#GetTerminologyRequest"
      },
      "output": {
        "target": "com.amazonaws.shine#GetTerminologyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shine#InternalServerException"
        },
        {
          "target": "com.amazonaws.shine#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.shine#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.shine#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Retrieves a custom terminology.</p>\n      "
      }
    },
    "com.amazonaws.shine#GetTerminologyRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.shine#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the custom terminology being retrieved.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "TerminologyDataFormat": {
          "target": "com.amazonaws.shine#TerminologyDataFormat",
          "traits": {
            "smithy.api#documentation": "\n         <p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.shine#GetTerminologyResponse": {
      "type": "structure",
      "members": {
        "TerminologyDataLocation": {
          "target": "com.amazonaws.shine#TerminologyDataLocation",
          "traits": {
            "smithy.api#documentation": "\n         <p>The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.</p>\n      "
          }
        },
        "TerminologyProperties": {
          "target": "com.amazonaws.shine#TerminologyProperties",
          "traits": {
            "smithy.api#documentation": "\n         <p>The properties of the custom terminology being retrieved.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.shine#ImportTerminology": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shine#ImportTerminologyRequest"
      },
      "output": {
        "target": "com.amazonaws.shine#ImportTerminologyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shine#InternalServerException"
        },
        {
          "target": "com.amazonaws.shine#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.shine#LimitExceededException"
        },
        {
          "target": "com.amazonaws.shine#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates or updates a custom terminology, depending on whether or not one already exists for the given \n      terminology name. Importing a terminology with the same name as an existing one will merge the terminologies \n      based on the chosen merge strategy.  Currently, the only supported merge strategy is OVERWRITE, and so the \n      imported terminology will overwrite an existing terminology of the same name.</p>\n         <p>If you import a terminology that overwrites an existing one, the new terminology take up to 10 minutes to fully propagate\n    and be available for use in a translation due to cache policies with the DataPlane service that performs the translations.</p>\n     \n      "
      }
    },
    "com.amazonaws.shine#ImportTerminologyRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.shine#Description",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the custom terminology being imported.</p>\n      "
          }
        },
        "EncryptionKey": {
          "target": "com.amazonaws.shine#EncryptionKey",
          "traits": {
            "smithy.api#documentation": "\n         <p>The encryption key for the custom terminology being imported.</p>\n      "
          }
        },
        "MergeStrategy": {
          "target": "com.amazonaws.shine#MergeStrategy",
          "traits": {
            "smithy.api#documentation": "\n         <p>The merge strategy of the custom terminology being imported. Currently, only the OVERWRITE merge strategy is supported. In this case, the imported terminology will overwrite an existing terminology of the same name.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.shine#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the custom terminology being imported.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "TerminologyData": {
          "target": "com.amazonaws.shine#TerminologyData",
          "traits": {
            "smithy.api#documentation": "\n         <p>The terminology data for the custom terminology being imported.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.shine#ImportTerminologyResponse": {
      "type": "structure",
      "members": {
        "TerminologyProperties": {
          "target": "com.amazonaws.shine#TerminologyProperties",
          "traits": {
            "smithy.api#documentation": "\n         <p>The properties of the custom terminology being imported.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.shine#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.shine#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.shine#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p> An internal server error occurred. Retry your request.</p>\n      ",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.shine#InvalidParameterValueException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.shine#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.shine#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.shine#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.\n</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.shine#LanguageCodeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 5
        }
      }
    },
    "com.amazonaws.shine#LanguageCodeStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shine#LanguageCodeString"
      }
    },
    "com.amazonaws.shine#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.shine#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The specified limit has been exceeded. Review your request and retry it with a quantity below the stated limit.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.shine#ListTerminologies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shine#ListTerminologiesRequest"
      },
      "output": {
        "target": "com.amazonaws.shine#ListTerminologiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shine#InternalServerException"
        },
        {
          "target": "com.amazonaws.shine#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.shine#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Provides a list of custom terminologies associated with your account.</p>\n      "
      }
    },
    "com.amazonaws.shine#ListTerminologiesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.shine#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of custom terminologies returned per list request.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.shine#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the result of the request to ListTerminologies was truncated, include the NextToken to fetch the next group of custom terminologies. </p>\n      "
          }
        }
      }
    },
    "com.amazonaws.shine#ListTerminologiesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.shine#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p> If the response to the ListTerminologies was truncated, the NextToken fetches the next group of custom terminologies. </p>\n      "
          }
        },
        "TerminologyPropertiesList": {
          "target": "com.amazonaws.shine#TerminologyPropertiesList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The properties list of the custom terminologies returned on the list request.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.shine#MaxResultsInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.shine#MergeStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "OVERWRITE": {
            "name": "OVERWRITE"
          }
        }
      }
    },
    "com.amazonaws.shine#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": "\\p{ASCII}{0,8192}"
      }
    },
    "com.amazonaws.shine#ResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^([A-Za-z0-9-]_?)+$"
      }
    },
    "com.amazonaws.shine#ResourceNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shine#ResourceName"
      }
    },
    "com.amazonaws.shine#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.shine#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request. .</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.shine#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.shine#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The Amazon Translate service is temporarily unavailable. Please wait a bit and then retry your request.</p>\n      ",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.shine#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "[\\P{M}\\p{M}]{0,10000}"
      }
    },
    "com.amazonaws.shine#Term": {
      "type": "structure",
      "members": {
        "SourceText": {
          "target": "com.amazonaws.shine#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The source text of the term being translated by the custom terminology.</p>\n      "
          }
        },
        "TargetText": {
          "target": "com.amazonaws.shine#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The target text of the term being translated by the custom terminology.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The term being translated by the custom terminology.</p>\n      "
      }
    },
    "com.amazonaws.shine#TermList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shine#Term"
      }
    },
    "com.amazonaws.shine#TerminologyArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws((-us-gov)|(-cn))?:translate:[a-zA-Z0-9-]+:[0-9]{12}:terminology/.+?/.+?$"
      }
    },
    "com.amazonaws.shine#TerminologyData": {
      "type": "structure",
      "members": {
        "File": {
          "target": "com.amazonaws.shine#TerminologyFile",
          "traits": {
            "smithy.api#documentation": "\n         <p>The file containing the custom terminology data.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Format": {
          "target": "com.amazonaws.shine#TerminologyDataFormat",
          "traits": {
            "smithy.api#documentation": "\n         <p>The data format of the custom terminology. Either CSV or TMX.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The data associated with the custom terminology.</p>\n      "
      }
    },
    "com.amazonaws.shine#TerminologyDataFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CSV": {
            "name": "CSV"
          },
          "TMX": {
            "name": "TMX"
          }
        }
      }
    },
    "com.amazonaws.shine#TerminologyDataLocation": {
      "type": "structure",
      "members": {
        "Location": {
          "target": "com.amazonaws.shine#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The location of the custom terminology data.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "RepositoryType": {
          "target": "com.amazonaws.shine#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The repository type for the custom terminology data.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The location of the custom terminology data.</p>\n      "
      }
    },
    "com.amazonaws.shine#TerminologyFile": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10485760
        },
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.shine#TerminologyProperties": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.shine#TerminologyArn",
          "traits": {
            "smithy.api#documentation": "\n         <p> The Amazon Resource Name (ARN) of the custom terminology. </p>\n      "
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.shine#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time at which the custom terminology was created, based on the timestamp.</p>\n      "
          }
        },
        "Description": {
          "target": "com.amazonaws.shine#Description",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the custom terminology properties.</p>\n      "
          }
        },
        "EncryptionKey": {
          "target": "com.amazonaws.shine#EncryptionKey",
          "traits": {
            "smithy.api#documentation": "\n         <p>The encryption key for the custom terminology.</p>\n      "
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.shine#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time at which the custom terminology was last update, based on the timestamp.</p>\n      "
          }
        },
        "Name": {
          "target": "com.amazonaws.shine#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the custom terminology.</p>\n      "
          }
        },
        "SizeBytes": {
          "target": "com.amazonaws.shine#Integer",
          "traits": {
            "smithy.api#documentation": "\n         <p>The size of the file used when importing a custom terminology.</p>\n      "
          }
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.shine#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The language code for the source text of the translation request for which the custom terminology is being used.</p>\n      "
          }
        },
        "TargetLanguageCodes": {
          "target": "com.amazonaws.shine#LanguageCodeStringList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The language codes for the target languages available with the custom terminology file. All possible target languages are returned in array.</p>\n      "
          }
        },
        "TermCount": {
          "target": "com.amazonaws.shine#Integer",
          "traits": {
            "smithy.api#documentation": "\n         <p>The number of terms included in the custom terminology.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The properties of the custom terminology.</p>\n      "
      }
    },
    "com.amazonaws.shine#TerminologyPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.shine#TerminologyProperties"
      }
    },
    "com.amazonaws.shine#TextSizeLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.shine#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request.\n </p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.shine#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.shine#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.shine#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.shine#TranslateText": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.shine#TranslateTextRequest"
      },
      "output": {
        "target": "com.amazonaws.shine#TranslateTextResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.shine#DetectedLanguageLowConfidenceException"
        },
        {
          "target": "com.amazonaws.shine#InternalServerException"
        },
        {
          "target": "com.amazonaws.shine#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.shine#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.shine#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.shine#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.shine#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.shine#UnsupportedLanguagePairException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Translates input text from the source language to the target language. It is not necessary to use English (en) as either the source or the target language but not all language combinations are supported by Amazon Translate. For more\n      information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/pairs.html\">Supported Language Pairs</a>.</p>\n         <ul>\n            <li>\n               <p>Arabic (ar)</p>\n            </li>\n            <li>\n               <p>Chinese (Simplified) (zh)</p>\n            </li>\n            <li>\n               <p>Chinese (Traditional) (zh-TW)</p>\n            </li>\n            <li>\n               <p>Czech (cs)</p>\n            </li>\n            <li>\n               <p>Danish (da)</p>\n            </li>\n            <li>\n               <p>Dutch (nl)</p>\n            </li>\n            <li>\n               <p>English (en)</p>\n            </li>\n            <li>\n               <p>Finnish (fi)</p>\n            </li>\n            <li>\n               <p>French (fr)</p>\n            </li>\n            <li>\n               <p>German (de)</p>\n            </li>\n            <li>\n               <p>Hebrew (he)</p>\n            </li>\n            <li>\n               <p>Indonesian (id)</p>\n            </li>\n            <li>\n               <p>Italian (it)</p>\n            </li>\n            <li>\n               <p>Japanese (ja)</p>\n            </li>\n            <li>\n               <p>Korean (ko)</p>\n            </li>\n            <li>\n               <p>Polish (pl)</p>\n            </li>\n            <li>\n               <p>Portuguese (pt)</p>\n            </li>\n            <li>\n               <p>Russian (ru)</p>\n            </li>\n            <li>\n               <p>Spanish (es)</p>\n            </li>\n            <li>\n               <p>Swedish (sv)</p>\n            </li>\n            <li>\n               <p>Turkish (tr)</p>\n            </li>\n         </ul>\n         <p>To have Amazon Translate determine the source language of your text, you can specify\n        <code>auto</code> in the <code>SourceLanguageCode</code> field. If you specify\n        <code>auto</code>, Amazon Translate will call Amazon Comprehend to determine the source\n      language.</p>\n      "
      }
    },
    "com.amazonaws.shine#TranslateTextRequest": {
      "type": "structure",
      "members": {
        "SourceLanguageCode": {
          "target": "com.amazonaws.shine#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The language code for the language of the source text. The language must be a language supported by Amazon Translate. </p>\n         <p>To have Amazon Translate determine the source language of your text, you can specify\n        <code>auto</code> in the <code>SourceLanguageCode</code> field. If you specify\n        <code>auto</code>, Amazon Translate will call Amazon Comprehend to determine the source\n      language.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "TargetLanguageCode": {
          "target": "com.amazonaws.shine#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The language code requested for the language of the target text. The language must be a language supported by Amazon Translate.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "TerminologyNames": {
          "target": "com.amazonaws.shine#ResourceNameList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The TerminologyNames list that is taken as input to the TranslateText request. This has a minimum length of 0 and a maximum length of 1.</p>\n      "
          }
        },
        "Text": {
          "target": "com.amazonaws.shine#BoundedLengthString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The text to translate. The text string can be a maximum of 5,000 bytes long. Depending\n    on your character set, this may be fewer than 5,000 characters.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.shine#TranslateTextResponse": {
      "type": "structure",
      "members": {
        "AppliedTerminologies": {
          "target": "com.amazonaws.shine#AppliedTerminologyList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The names of the custom terminologies applied to the input text by Amazon Translate for the translated text response.</p>\n      "
          }
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.shine#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The language code for the language of the source text. </p>\n      ",
            "smithy.api#required": true
          }
        },
        "TargetLanguageCode": {
          "target": "com.amazonaws.shine#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The language code for the language of the target text. </p>\n      ",
            "smithy.api#required": true
          }
        },
        "TranslatedText": {
          "target": "com.amazonaws.shine#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The the translated text. The maximum length of this text is 5kb.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.shine#UnsupportedLanguagePairException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.shine#String"
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.shine#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The language code for the language of the input text. </p>\n      "
          }
        },
        "TargetLanguageCode": {
          "target": "com.amazonaws.shine#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The language code for the language of the translated text. </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Amazon Translate does not support translation from the language of the source text into the requested target language. For\n      more information, see <a>how-to-error-msg</a>. </p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
