{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.transfer#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#ServiceErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.transfer#AddressAllocationId": {
      "type": "string"
    },
    "com.amazonaws.transfer#AddressAllocationIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#AddressAllocationId"
      }
    },
    "com.amazonaws.transfer#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.transfer#CallbackToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^\\w+$"
      }
    },
    "com.amazonaws.transfer#Certificate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        }
      }
    },
    "com.amazonaws.transfer#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#Message",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the <code>UpdateServer</code> is called for a file transfer\n      protocol-enabled server that has VPC as the endpoint type and the server's\n        <code>VpcEndpointID</code> is not in the available state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.transfer#CopyStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step, used as an identifier.</p>"
          }
        },
        "DestinationFileLocation": {
          "target": "com.amazonaws.transfer#InputFileLocation"
        },
        "OverwriteExisting": {
          "target": "com.amazonaws.transfer#OverwriteExisting",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates whether or not to overwrite an existing file of the same name.\n      The default is <code>FALSE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Each step type has its own <code>StepDetails</code> structure.</p>"
      }
    },
    "com.amazonaws.transfer#CreateAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used by administrators to choose which groups in the directory should have access to\n      upload and download files over the enabled protocols using Amazon Web Services Transfer Family. For example, a\n      Microsoft Active Directory might contain 50,000 users, but only a small fraction might need\n      the ability to transfer files to the server. An administrator can use\n        <code>CreateAccess</code> to limit the access to the correct set of users who need this\n      ability.</p>"
      }
    },
    "com.amazonaws.transfer#CreateAccessRequest": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p>\n         <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) you want your users' home directory to be when they log into the server.\n    If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or EFS paths as is in their file transfer protocol clients.\n    If you set it <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for how you want to make Amazon\n    S3 or EFS paths visible to your users.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should\n      be visible to your user and how you want to make them visible. You must specify the\n        <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path\n      is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you\n      only specify a target, it is displayed as is. You also must ensure that your Amazon Web Services Identity\n      and Access Management (IAM) role provides access to paths in <code>Target</code>. This value\n      can only be set when <code>HomeDirectoryType</code> is set to\n      <i>LOGICAL</i>.</p>\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p>\n         <p>\n            <code>[ { \"Entry\": \"your-personal-report.pdf\", \"Target\": \"/bucket3/customized-reports/${transfer:UserName}.pdf\" } ]</code>\n         </p>\n         <p>In most cases, you can use this value instead of the session policy to lock down your\n      user to the designated home directory (\"<code>chroot</code>\"). To do this, you can set\n        <code>Entry</code> to <code>/</code> and set <code>Target</code> to the\n        <code>HomeDirectory</code> parameter value.</p>\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example for <code>chroot</code>.</p>\n         <p>\n            <code>[ { \"Entry:\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code>\n         </p>\n \n         <note>\n            <p>If the target of a logical directory entry does not exist in Amazon S3 or EFS, the entry is\n        ignored. As a workaround, you can use the Amazon S3 API or EFS API to create 0 byte objects as place\n        holders for your directory. If using the CLI, use the <code>s3api</code> or <code>efsapi</code> call instead of\n        <code>s3</code> or <code>efs</code> so you can use the put-object operation. For example, you use the\n        following: <code>aws s3api put-object --bucket bucketname --key path/to/folder/</code>. Make\n        sure that the end of the key name ends in a <code>/</code> for it to be considered a folder.</p>\n         </note>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A session policy for your user so that you can use the same IAM role across multiple users. This policy scopes down user\n     access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>,\n     <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p>\n    \n         <note>\n            <p>This only applies when the domain of <code>ServerId</code> is S3. EFS does not use session policies.</p>\n            <p>For session policies, Amazon Web Services Transfer Family stores the policy as a JSON blob, instead\n        of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass\n        it in the <code>Policy</code> argument.</p>      \n            <p>For an example of a session policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/session-policy.html\">Example\n          session policy</a>.</p>\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>Amazon Web Services Security Token Service API\n          Reference</i>.</p>\n         </note>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile"
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the IAM role that controls your users' access to your Amazon S3 bucket or EFS\n      file system. The policies attached to this role determine the level of access that you want to provide your users when transferring\n      files into and out of your Amazon S3 bucket or EFS file system. The IAM role should also contain a trust relationship that allows the\n      server to access your resources when servicing your users' transfer requests.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server that you added your user to.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n    The users of the group that you associate have access to your Amazon S3 or Amazon EFS\n    resources over the enabled protocols using Amazon Web Services Transfer Family. If you know the group name,\n    you can view the SID values by running the following command using Windows PowerShell.</p>\n\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code>\n         </p>\n  \n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p>\n\n         <p>The regex used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces.\n    You can also include underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateAccessResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the server that the user is attached to.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the group whose users have access to your Amazon S3 or Amazon EFS\n      resources over the enabled protocols using Amazon Web Services Transfer Family.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateServerRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Instantiates an auto-scaling virtual server based on the selected file transfer protocol\n      in Amazon Web Services. When you make updates to your file transfer protocol-enabled server or when you work\n      with users, use the service-generated <code>ServerId</code> property that is assigned to the\n      newly created server.</p>"
      }
    },
    "com.amazonaws.transfer#CreateServerRequest": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.transfer#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services Certificate Manager (ACM) certificate. Required\n      when <code>Protocols</code> is set to <code>FTPS</code>.</p>\n\n         <p>To request a new public certificate, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-public.html\">Request a public certificate</a>\n      in the <i> Amazon Web Services Certificate Manager User Guide</i>.</p>\n\n         <p>To import an existing certificate into ACM, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing certificates into ACM</a>\n      in the <i> Amazon Web Services Certificate Manager User Guide</i>.</p>\n\n         <p>To request a private certificate to use FTPS through private IP addresses, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-private.html\">Request a\n        private certificate</a> in the <i> Amazon Web Services Certificate Manager User\n      Guide</i>.</p>\n\n         <p>Certificates with the following cryptographic algorithms and key sizes are\n      supported:</p>\n\n         <ul>\n            <li>\n               <p>2048-bit RSA (RSA_2048)</p>\n            </li>\n            <li>\n               <p>4096-bit RSA (RSA_4096)</p>\n            </li>\n            <li>\n               <p>Elliptic Prime Curve 256 bit (EC_prime256v1)</p>\n            </li>\n            <li>\n               <p>Elliptic Prime Curve 384 bit (EC_secp384r1)</p>\n            </li>\n            <li>\n               <p>Elliptic Prime Curve 521 bit (EC_secp521r1)</p>\n            </li>\n         </ul>\n\n         <note>\n            <p>The certificate must be a valid SSL/TLS X.509 version 3 certificate with FQDN or IP\n        address specified and information about the issuer.</p>\n         </note>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.transfer#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain of the storage system that is used for file transfers. There are two domains\n      available: Amazon Simple Storage Service (Amazon S3) and Amazon Elastic File System (Amazon EFS). The\n      default value is S3.</p>\n\n         <note>\n            <p>After the server is created, the domain cannot be changed.</p>\n         </note>"
          }
        },
        "EndpointDetails": {
          "target": "com.amazonaws.transfer#EndpointDetails",
          "traits": {
            "smithy.api#documentation": "<p>The virtual private cloud (VPC) endpoint settings that are configured for your server.\n      When you host your endpoint within your VPC, you can make it accessible only to resources\n      within your VPC, or you can attach Elastic IP addresses and make it accessible to clients over\n      the internet. Your VPC's default security groups are automatically assigned to your\n      endpoint.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.transfer#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint that you want your server to use. You can choose to make your server's endpoint publicly accessible (PUBLIC)\n      or host it inside your VPC. With an endpoint that is hosted in a VPC, you can restrict access to your server and \n      resources only within your VPC or choose to make it internet facing by attaching Elastic IP addresses directly to it.</p>\n         <note>\n            <p> After May 19, 2021, you won't be able to create a server using\n          <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Services account if your account hasn't already\n      done so before May 19, 2021. If you have already created servers with\n      <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Services account on or before May 19, 2021,\n        you will not be affected. After this date, use\n        <code>EndpointType</code>=<code>VPC</code>.</p> \n      \n            <p>For more information, see\n        https://docs.aws.amazon.com/transfer/latest/userguide/create-server-in-vpc.html#deprecate-vpc-endpoint.</p>\n            <p>It is recommended that you use <code>VPC</code> as the <code>EndpointType</code>. With\n        this endpoint type, you have the option to directly associate up to three Elastic IPv4\n        addresses (BYO IP included) with your server's endpoint and use VPC security groups to\n        restrict traffic by the client's public IP address. This is not possible with\n          <code>EndpointType</code> set to <code>VPC_ENDPOINT</code>.</p>\n         </note>"
          }
        },
        "HostKey": {
          "target": "com.amazonaws.transfer#HostKey",
          "traits": {
            "smithy.api#documentation": "<p>The RSA private key as generated by the <code>ssh-keygen -N \"\" -m PEM -f\n        my-new-server-key</code> command.</p>\n\n         <important>\n            <p>If you aren't planning to migrate existing users from an existing SFTP-enabled\n        server to a new server, don't update the host key. Accidentally changing a\n        server's host key can be disruptive.</p>\n         </important>\n\n    \n\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/edit-server-config.html#configuring-servers-change-host-key\">Change the host key for your SFTP-enabled server</a> in the <i>Amazon Web Services Transfer\n        Family User Guide</i>.</p>"
          }
        },
        "IdentityProviderDetails": {
          "target": "com.amazonaws.transfer#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "<p>Required when <code>IdentityProviderType</code> is set to\n        <code>AWS_DIRECTORY_SERVICE</code> or <code>API_GATEWAY</code>. Accepts an array containing\n      all of the information required to use a directory in <code>AWS_DIRECTORY_SERVICE</code> or\n      invoke a customer-supplied authentication API, including the API Gateway URL. Not required\n      when <code>IdentityProviderType</code> is set to <code>SERVICE_MANAGED</code>.</p>"
          }
        },
        "IdentityProviderType": {
          "target": "com.amazonaws.transfer#IdentityProviderType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of authentication for a server. The default value is\n        <code>SERVICE_MANAGED</code>, which allows you to store and access user credentials within\n      the Amazon Web Services Transfer Family service.</p>\n         <p>Use <code>AWS_DIRECTORY_SERVICE</code> to provide access to\n      Active Directory groups in Amazon Web Services Managed Active Directory or Microsoft Active Directory in your\n      on-premises environment or in Amazon Web Services using AD Connectors. This option also requires you to\n      provide a Directory ID using the <code>IdentityProviderDetails</code> parameter.</p>\n         <p>Use the <code>API_GATEWAY</code> value to integrate with an identity provider of your choosing. The\n      <code>API_GATEWAY</code> setting requires you to provide an API Gateway endpoint URL to call\n      for authentication using the <code>IdentityProviderDetails</code> parameter.</p>"
          }
        },
        "LoggingRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the Amazon Web Services Identity and Access Management (IAM) role that allows a server to turn\n      on Amazon CloudWatch logging for Amazon S3 or Amazon EFS events. When set, user activity can be viewed in\n      your CloudWatch logs.</p>"
          }
        },
        "Protocols": {
          "target": "com.amazonaws.transfer#Protocols",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file transfer protocol or protocols over which your file transfer protocol\n      client can connect to your server's endpoint. The available protocols are:</p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>SFTP</code> (Secure Shell (SSH) File Transfer Protocol): File transfer over\n          SSH</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTPS</code> (File Transfer Protocol Secure): File transfer with TLS\n          encryption</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTP</code> (File Transfer Protocol): Unencrypted file transfer</p>\n            </li>\n         </ul>\n\n         <note>\n            <p>If you select <code>FTPS</code>, you must choose a certificate stored in Amazon Web Services Certificate\n        Manager (ACM) which is used to identify your server when clients connect to it over\n        FTPS.</p>\n\n            <p>If <code>Protocol</code> includes either <code>FTP</code> or <code>FTPS</code>, then the\n          <code>EndpointType</code> must be <code>VPC</code> and the\n          <code>IdentityProviderType</code> must be <code>AWS_DIRECTORY_SERVICE</code> or <code>API_GATEWAY</code>.</p>\n\n            <p>If <code>Protocol</code> includes <code>FTP</code>, then\n          <code>AddressAllocationIds</code> cannot be associated.</p>\n\n            <p>If <code>Protocol</code> is set only to <code>SFTP</code>, the <code>EndpointType</code>\n        can be set to <code>PUBLIC</code> and the <code>IdentityProviderType</code> can be set to\n          <code>SERVICE_MANAGED</code>.</p>\n         </note>"
          }
        },
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for servers.</p>"
          }
        },
        "WorkflowDetails": {
          "target": "com.amazonaws.transfer#WorkflowDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the workflow ID for the workflow to assign and the execution role used for executing the workflow.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateServerResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The service-assigned ID of the server that is created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user and associates them with an existing file transfer protocol-enabled server.\n      You can only create and associate users with servers that have the\n        <code>IdentityProviderType</code> set to <code>SERVICE_MANAGED</code>. Using parameters for\n        <code>CreateUser</code>, you can specify the user name, set the home directory, store the\n      user's public key, and assign the user's Amazon Web Services Identity and Access Management (IAM)\n      role. You can also optionally add a session policy, and assign metadata with tags that can\n      be used to group and search for users.</p>"
      }
    },
    "com.amazonaws.transfer#CreateUserRequest": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p>\n         <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) you want your users' home directory to be when they log into the server.\n    If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or EFS paths as is in their file transfer protocol clients.\n    If you set it <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for how you want to make Amazon\n    S3 or EFS paths visible to your users.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should\n      be visible to your user and how you want to make them visible. You must specify the\n        <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path\n      is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you\n      only specify a target, it is displayed as is. You also must ensure that your Amazon Web Services Identity\n      and Access Management (IAM) role provides access to paths in <code>Target</code>. This value\n      can only be set when <code>HomeDirectoryType</code> is set to\n      <i>LOGICAL</i>.</p>\n\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p>\n\n         <p>\n            <code>[ { \"Entry\": \"your-personal-report.pdf\", \"Target\":\n        \"/bucket3/customized-reports/${transfer:UserName}.pdf\" } ]</code>\n         </p>\n\n         <p>In most cases, you can use this value instead of the session policy to lock your user\n      down to the designated home directory (\"<code>chroot</code>\"). To do this, you can set\n        <code>Entry</code> to <code>/</code> and set <code>Target</code> to the HomeDirectory\n      parameter value.</p>\n         <p>The following is an <code>Entry</code> and <code>Target</code> pair example for <code>chroot</code>.</p>\n         <p>\n            <code>[ { \"Entry:\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code>\n         </p>\n \n         <note>\n            <p>If the target of a logical directory entry does not exist in Amazon S3 or EFS, the entry is\n        ignored. As a workaround, you can use the Amazon S3 API or EFS API to create 0 byte objects as place\n        holders for your directory. If using the CLI, use the <code>s3api</code> or <code>efsapi</code> call instead of\n        <code>s3</code> or <code>efs</code> so you can use the put-object operation. For example, you use the\n        following: <code>aws s3api put-object --bucket bucketname --key path/to/folder/</code>. Make\n        sure that the end of the key name ends in a <code>/</code> for it to be considered a folder.</p>\n         </note>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A session policy for your user so that you can use the same IAM role across multiple users. This policy scopes down user\n     access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>,\n     <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p>\n\n         <note>\n            <p>This only applies when the domain of <code>ServerId</code> is S3. EFS does not use session policies.</p>\n            <p>For session policies, Amazon Web Services Transfer Family stores the policy as a JSON blob, instead\n        of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass\n        it in the <code>Policy</code> argument.</p>\n\n      \n\n            <p>For an example of a session policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/session-policy.html\">Example session\n        policy</a>.</p>\n\n      \n\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>Amazon Web Services\n          Security Token Service API Reference</i>.</p>\n         </note>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the full POSIX identity, including user ID (<code>Uid</code>), group ID\n        (<code>Gid</code>), and any secondary groups IDs (<code>SecondaryGids</code>), that controls\n      your users' access to your Amazon EFS file systems. The POSIX permissions that are set on\n      files and directories in Amazon EFS determine the level of access your users get when\n      transferring files into and out of your Amazon EFS file systems.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the IAM role that controls your users' access to your Amazon S3 bucket or EFS\n      file system. The policies attached to this role determine the level of access that you want to provide your users when transferring\n      files into and out of your Amazon S3 bucket or EFS file system. The IAM role should also contain a trust relationship that allows the\n      server to access your resources when servicing your users' transfer requests.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server\n      that you added your user to.</p>",
            "smithy.api#required": {}
          }
        },
        "SshPublicKeyBody": {
          "target": "com.amazonaws.transfer#SshPublicKeyBody",
          "traits": {
            "smithy.api#documentation": "<p>The public portion of the Secure Shell (SSH) key used to authenticate the user to the\n      server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for users. Tags are metadata attached\n      to users for any purpose.</p>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user and is associated with a <code>ServerId</code>. This user name must be a minimum of 3 and a maximum of 100 characters\n      long. The following are valid characters: a-z, A-Z, 0-9, underscore '_', hyphen\n      '-', period '.', and at sign '@'. The user name can't start\n      with a hyphen, period, or at sign.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateUserResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the server that the user is attached to.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user account associated with a server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Allows you to create a workflow with specified steps and step details the workflow invokes after file transfer completes.\n      After creating a workflow, you can associate the workflow created with any transfer servers by specifying the <code>workflow-details</code> field in <code>CreateServer</code> and <code>UpdateServer</code> operations.\n    </p>"
      }
    },
    "com.amazonaws.transfer#CreateWorkflowRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.transfer#WorkflowDescription",
          "traits": {
            "smithy.api#documentation": "<p>A textual description for the workflow.</p>"
          }
        },
        "Steps": {
          "target": "com.amazonaws.transfer#WorkflowSteps",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the details for the steps that are in the specified workflow.</p>\n         <p>\n      The <code>TYPE</code> specifies which of the following actions is being taken for this step.\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <i>Copy</i>: copy the file to another location</p>\n            </li>\n            <li>\n               <p>\n                  <i>Custom</i>: custom step with a lambda target</p>\n            </li>\n            <li>\n               <p>\n                  <i>Delete</i>: delete the file</p>\n            </li>\n            <li>\n               <p>\n                  <i>Tag</i>: add a tag to the file</p>\n            </li>\n         </ul>\n         <p>\n      For file location, you specify either the S3 bucket and key, or the EFS filesystem ID and path.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "OnExceptionSteps": {
          "target": "com.amazonaws.transfer#WorkflowSteps",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the steps (actions) to take if any errors are encountered during execution of the workflow.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for workflows. Tags are metadata attached\n      to workflows for any purpose.</p>"
          }
        }
      }
    },
    "com.amazonaws.transfer#CreateWorkflowResponse": {
      "type": "structure",
      "members": {
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#CustomStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step, used as an identifier.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.transfer#CustomStepTarget",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lambda function that is being called.</p>"
          }
        },
        "TimeoutSeconds": {
          "target": "com.amazonaws.transfer#CustomStepTimeoutSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Timeout, in seconds, for the step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Each step type has its own <code>StepDetails</code> structure.</p>"
      }
    },
    "com.amazonaws.transfer#CustomStepStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "FAILURE",
            "name": "FAILURE"
          }
        ]
      }
    },
    "com.amazonaws.transfer#CustomStepTarget": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 170
        },
        "smithy.api#pattern": "^arn:[a-z-]+:lambda:.*$"
      }
    },
    "com.amazonaws.transfer#CustomStepTimeoutSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 1800
        }
      }
    },
    "com.amazonaws.transfer#DateImported": {
      "type": "timestamp"
    },
    "com.amazonaws.transfer#DeleteAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteAccessRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows you to delete the access specified in the <code>ServerID</code> and\n      <code>ExternalID</code> parameters.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteAccessRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this user assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n    The users of the group that you associate have access to your Amazon S3 or Amazon EFS\n    resources over the enabled protocols using Amazon Web Services Transfer Family. If you know the group name,\n    you can view the SID values by running the following command using Windows PowerShell.</p>\n\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code>\n         </p>\n  \n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p>\n\n         <p>The regex used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces.\n    You can also include underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteServerRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the file transfer protocol-enabled server that you specify.</p>\n\n         <p>No response returns from this operation.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteServerRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A unique system-assigned identifier for a server instance.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteSshPublicKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteSshPublicKeyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user's Secure Shell (SSH) public key.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteSshPublicKeyRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a file transfer protocol-enabled server instance\n      that has the user assigned to it.</p>",
            "smithy.api#required": {}
          }
        },
        "SshPublicKeyId": {
          "target": "com.amazonaws.transfer#SshPublicKeyId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier used to reference your user's specific SSH key.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user whose public key is being deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step, used as an identifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of the step, used to identify the step that is being deleted.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteUserRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the user belonging to a file transfer protocol-enabled server you specify.</p>\n\n         <p>No response returns from this operation.</p>\n\n         <note>\n            <p>When you delete a user from a server, the user's information is lost.</p>\n         </note>"
      }
    },
    "com.amazonaws.transfer#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance that has the user assigned to\n      it.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user that is being deleted from a server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DeleteWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteWorkflowRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified workflow.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteWorkflowRequest": {
      "type": "structure",
      "members": {
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the access that is assigned to the specific file transfer protocol-enabled\n      server, as identified by its <code>ServerId</code> property and its\n      <code>ExternalID</code>.</p>\n    \n         <p>The response from this call returns the properties of the access that is associated with\n      the <code>ServerId</code> value that was specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeAccessRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this access assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n    The users of the group that you associate have access to your Amazon S3 or Amazon EFS\n    resources over the enabled protocols using Amazon Web Services Transfer Family. If you know the group name,\n    you can view the SID values by running the following command using Windows PowerShell.</p>\n\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code>\n         </p>\n  \n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p>\n\n         <p>The regex used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces.\n    You can also include underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeAccessResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this access assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "Access": {
          "target": "com.amazonaws.transfer#DescribedAccess",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the server that the access is attached to.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeExecutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You can use <code>DescribeExecution</code> to check the details of the execution of the specified workflow.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeExecutionRequest": {
      "type": "structure",
      "members": {
        "ExecutionId": {
          "target": "com.amazonaws.transfer#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the execution of a workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeExecutionResponse": {
      "type": "structure",
      "members": {
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "Execution": {
          "target": "com.amazonaws.transfer#DescribedExecution",
          "traits": {
            "smithy.api#documentation": "<p>The structure that contains the details of the workflow' execution.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeSecurityPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeSecurityPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeSecurityPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the security policy that is attached to your file transfer protocol-enabled\n      server. The response contains a description of the security policy's properties. For more\n      information about security policies, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/security-policies.html\">Working with security\n        policies</a>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeSecurityPolicyRequest": {
      "type": "structure",
      "members": {
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeSecurityPolicyResponse": {
      "type": "structure",
      "members": {
        "SecurityPolicy": {
          "target": "com.amazonaws.transfer#DescribedSecurityPolicy",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the properties of the security policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeServerRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a file transfer protocol-enabled server that you specify by passing the\n        <code>ServerId</code> parameter.</p>\n\n         <p>The response contains a description of a server's properties. When you set\n        <code>EndpointType</code> to VPC, the response will contain the\n      <code>EndpointDetails</code>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeServerRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeServerResponse": {
      "type": "structure",
      "members": {
        "Server": {
          "target": "com.amazonaws.transfer#DescribedServer",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the properties of a server with the <code>ServerID</code> you\n      specified.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeUserRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the user assigned to the specific file transfer protocol-enabled server, as\n      identified by its <code>ServerId</code> property.</p>\n\n         <p>The response from this call returns the properties of the user associated with the\n        <code>ServerId</code> value that was specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeUserRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this user assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user assigned to one or more servers. User names are part of the sign-in\n      credentials to use the Amazon Web Services Transfer Family service and perform file transfer tasks.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeUserResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this user assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "User": {
          "target": "com.amazonaws.transfer#DescribedUser",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the properties of the user account for the <code>ServerID</code> value\n      that you specified.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DescribeWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#DescribeWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified workflow.</p>"
      }
    },
    "com.amazonaws.transfer#DescribeWorkflowRequest": {
      "type": "structure",
      "members": {
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribeWorkflowResponse": {
      "type": "structure",
      "members": {
        "Workflow": {
          "target": "com.amazonaws.transfer#DescribedWorkflow",
          "traits": {
            "smithy.api#documentation": "<p>The structure that contains the details of the workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transfer#DescribedAccess": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p>\n         <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should\n      be visible to your user and how you want to make them visible. You must specify the\n        <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path\n      is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you\n      only specify a target, it is displayed as is. You also must ensure that your Amazon Web Services Identity\n      and Access Management (IAM) role provides access to paths in <code>Target</code>. This value\n      can only be set when <code>HomeDirectoryType</code> is set to\n      <i>LOGICAL</i>.</p>\n    \n         <p>In most cases, you can use this value instead of the session policy to lock down the\n      associated access to the designated home directory (\"<code>chroot</code>\"). To do this, you\n      can set <code>Entry</code> to '/' and set <code>Target</code> to the\n        <code>HomeDirectory</code> parameter value.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) you want your users' home directory to be when they log into the server.\n    If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or EFS paths as is in their file transfer protocol clients.\n    If you set it <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for how you want to make Amazon\n    S3 or EFS paths visible to your users.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A session policy for your user so that you can use the same IAM role across multiple users. This policy scopes down user\n     access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>,\n     <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile"
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the IAM role that controls your users' access to your Amazon S3 bucket or EFS\n      file system. The policies attached to this role determine the level of access that you want to provide your users when transferring\n      files into and out of your Amazon S3 bucket or EFS file system. The IAM role should also contain a trust relationship that allows the\n      server to access your resources when servicing your users' transfer requests.</p>"
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory.\n    The users of the group that you associate have access to your Amazon S3 or Amazon EFS\n    resources over the enabled protocols using Amazon Web Services Transfer Family. If you know the group name,\n    you can view the SID values by running the following command using Windows PowerShell.</p>\n\n         <p>\n            <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code>\n         </p>\n  \n         <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p>\n\n         <p>The regex used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces.\n    You can also include underscores or any of the following characters: =,.@:/-</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of the access that was specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribedExecution": {
      "type": "structure",
      "members": {
        "ExecutionId": {
          "target": "com.amazonaws.transfer#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the execution of a workflow.</p>"
          }
        },
        "InitialFileLocation": {
          "target": "com.amazonaws.transfer#FileLocation",
          "traits": {
            "smithy.api#documentation": "<p>A structure that describes the Amazon S3 or EFS file location.\n      This is the file location when the execution begins: if the file is being copied,\n    this is the initial (as opposed to destination) file location.</p>"
          }
        },
        "ServiceMetadata": {
          "target": "com.amazonaws.transfer#ServiceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>A container object for the session details associated with a workflow.</p>"
          }
        },
        "ExecutionRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role associated with the execution.</p>"
          }
        },
        "LoggingConfiguration": {
          "target": "com.amazonaws.transfer#LoggingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The IAM logging role associated with the execution.</p>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile"
        },
        "Status": {
          "target": "com.amazonaws.transfer#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status is one of the execution. Can be in progress, completed, exception encountered, or handling the exception.\n      </p>"
          }
        },
        "Results": {
          "target": "com.amazonaws.transfer#ExecutionResults",
          "traits": {
            "smithy.api#documentation": "<p>A structure that describes the execution results. This includes a list of the steps along with the details of each step,\n    error type and message (if any), and the <code>OnExceptionSteps</code> structure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details for an execution object.</p>"
      }
    },
    "com.amazonaws.transfer#DescribedSecurityPolicy": {
      "type": "structure",
      "members": {
        "Fips": {
          "target": "com.amazonaws.transfer#Fips",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this policy enables Federal Information Processing Standards\n      (FIPS).</p>"
          }
        },
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>",
            "smithy.api#required": {}
          }
        },
        "SshCiphers": {
          "target": "com.amazonaws.transfer#SecurityPolicyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the enabled Secure Shell (SSH) cipher encryption algorithms in the security\n      policy that is attached to the server.</p>"
          }
        },
        "SshKexs": {
          "target": "com.amazonaws.transfer#SecurityPolicyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the enabled SSH key exchange (KEX) encryption algorithms in the security policy\n      that is attached to the server.</p>"
          }
        },
        "SshMacs": {
          "target": "com.amazonaws.transfer#SecurityPolicyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the enabled SSH message authentication code (MAC) encryption algorithms in the\n      security policy that is attached to the server.</p>"
          }
        },
        "TlsCiphers": {
          "target": "com.amazonaws.transfer#SecurityPolicyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the enabled Transport Layer Security (TLS) cipher encryption algorithms in the\n      security policy that is attached to the server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of a security policy that was specified. For more information\n      about security policies, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/security-policies.html\">Working with security\n        policies</a>.</p>"
      }
    },
    "com.amazonaws.transfer#DescribedServer": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.transfer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique Amazon Resource Name (ARN) of the server.</p>",
            "smithy.api#required": {}
          }
        },
        "Certificate": {
          "target": "com.amazonaws.transfer#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the Amazon Web ServicesCertificate Manager (ACM) certificate. Required when\n        <code>Protocols</code> is set to <code>FTPS</code>.</p>"
          }
        },
        "ProtocolDetails": {
          "target": "com.amazonaws.transfer#ProtocolDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n      The protocol settings that are configured for your server.\n    </p>\n         <p>\n      Use the <code>PassiveIp</code> parameter to indicate passive mode.\n      Enter a single dotted-quad IPv4 address, such as the external IP address of a firewall, router, or load balancer.\n    </p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.transfer#Domain",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the domain of the storage system that is used for file transfers.</p>"
          }
        },
        "EndpointDetails": {
          "target": "com.amazonaws.transfer#EndpointDetails",
          "traits": {
            "smithy.api#documentation": "<p>The virtual private cloud (VPC) endpoint settings that are configured for your server.\n      When you host your endpoint within your VPC, you can make it accessible only to resources\n      within your VPC, or you can attach Elastic IP addresses and make it accessible to clients over\n      the internet. Your VPC's default security groups are automatically assigned to your\n      endpoint.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.transfer#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>Defines the type of endpoint that your server is connected to. If your server is connected\n      to a VPC endpoint, your server isn't accessible over the public internet.</p>"
          }
        },
        "HostKeyFingerprint": {
          "target": "com.amazonaws.transfer#HostKeyFingerprint",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Base64-encoded SHA256 fingerprint of the server's host key. This value\n      is equivalent to the output of the <code>ssh-keygen -l -f my-new-server-key</code>\n      command.</p>"
          }
        },
        "IdentityProviderDetails": {
          "target": "com.amazonaws.transfer#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies information to call a customer-supplied authentication API. This field is not\n      populated when the <code>IdentityProviderType</code> of a server is\n      <code>AWS_DIRECTORY_SERVICE</code> or <code>SERVICE_MANAGED</code>.</p>"
          }
        },
        "IdentityProviderType": {
          "target": "com.amazonaws.transfer#IdentityProviderType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of authentication for a server. The default value is\n        <code>SERVICE_MANAGED</code>, which allows you to store and access user credentials within\n      the Amazon Web Services Transfer Family service.</p>\n         <p>Use <code>AWS_DIRECTORY_SERVICE</code> to provide access to\n      Active Directory groups in Amazon Web Services Managed Active Directory or Microsoft Active Directory in your\n      on-premises environment or in Amazon Web Services using AD Connectors. This option also requires you to\n      provide a Directory ID using the <code>IdentityProviderDetails</code> parameter.</p>\n         <p>Use the <code>API_GATEWAY</code> value to integrate with an identity provider of your choosing. The\n      <code>API_GATEWAY</code> setting requires you to provide an API Gateway endpoint URL to call\n      for authentication using the <code>IdentityProviderDetails</code> parameter.</p>"
          }
        },
        "LoggingRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the Amazon Web Services Identity and Access Management (IAM) role that allows a server to turn\n      on Amazon CloudWatch logging for Amazon S3 or Amazon EFS events. When set, user activity can be viewed in\n      your CloudWatch logs.</p>"
          }
        },
        "Protocols": {
          "target": "com.amazonaws.transfer#Protocols",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file transfer protocol or protocols over which your file transfer protocol\n      client can connect to your server's endpoint. The available protocols are:</p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>SFTP</code> (Secure Shell (SSH) File Transfer Protocol): File transfer over\n          SSH</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTPS</code> (File Transfer Protocol Secure): File transfer with TLS\n          encryption</p>\n            </li>\n            <li>\n               <p>\n                  <code>FTP</code> (File Transfer Protocol): Unencrypted file transfer</p>\n            </li>\n         </ul>"
          }
        },
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>"
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique system-assigned identifier for a server that you instantiate.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.transfer#State",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the condition of a server for the server that was described. A value of\n        <code>ONLINE</code> indicates that the server can accept jobs and transfer files. A\n        <code>State</code> value of <code>OFFLINE</code> means that the server cannot perform file\n      transfer operations.</p>\n\n         <p>The states of <code>STARTING</code> and <code>STOPPING</code> indicate that the server is\n      in an intermediate state, either not fully able to respond, or not fully offline. The values\n      of <code>START_FAILED</code> or <code>STOP_FAILED</code> can indicate an error\n      condition.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pairs that you can use to search for and group servers that were\n      assigned to the server that was described.</p>"
          }
        },
        "UserCount": {
          "target": "com.amazonaws.transfer#UserCount",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of users that are assigned to a server you specified with the\n        <code>ServerId</code>.</p>"
          }
        },
        "WorkflowDetails": {
          "target": "com.amazonaws.transfer#WorkflowDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the workflow ID for the workflow to assign and the execution role used for executing the workflow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of a file transfer protocol-enabled server that was\n      specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribedUser": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.transfer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique Amazon Resource Name (ARN) for the user that was requested to be\n      described.</p>",
            "smithy.api#required": {}
          }
        },
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p>\n         <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should\n      be visible to your user and how you want to make them visible. You must specify the\n        <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path\n      is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you\n      only specify a target, it is displayed as is. You also must ensure that your Amazon Web Services Identity\n      and Access Management (IAM) role provides access to paths in <code>Target</code>. This value\n      can only be set when <code>HomeDirectoryType</code> is set to\n      <i>LOGICAL</i>.</p>\n\n         <p>In most cases, you can use this value instead of the session policy to lock your user\n      down to the designated home directory (\"<code>chroot</code>\"). To do this, you can set\n        <code>Entry</code> to '/' and set <code>Target</code> to the HomeDirectory\n      parameter value.</p>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) you want your users' home directory to be when they log into the server.\n    If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or EFS paths as is in their file transfer protocol clients.\n    If you set it <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for how you want to make Amazon\n    S3 or EFS paths visible to your users.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A session policy for your user so that you can use the same IAM role across multiple users. This policy scopes down user\n     access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>,\n     <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the full POSIX identity, including user ID (<code>Uid</code>), group ID\n        (<code>Gid</code>), and any secondary groups IDs (<code>SecondaryGids</code>), that controls\n      your users' access to your Amazon Elastic File System (Amazon EFS) file systems. The POSIX\n      permissions that are set on files and directories in your file system determine the level of\n      access your users get when transferring files into and out of your Amazon EFS file\n      systems.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the IAM role that controls your users' access to your Amazon S3 bucket or EFS\n      file system. The policies attached to this role determine the level of access that you want to provide your users when transferring\n      files into and out of your Amazon S3 bucket or EFS file system. The IAM role should also contain a trust relationship that allows the\n      server to access your resources when servicing your users' transfer requests.</p>"
          }
        },
        "SshPublicKeys": {
          "target": "com.amazonaws.transfer#SshPublicKeys",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the public key portion of the Secure Shell (SSH) keys stored for the described\n      user.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pairs for the user requested. Tag can be used to search for and\n      group users for a variety of purposes.</p>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the user that was requested to be described. User names are used for\n      authentication purposes. This is the string that will be used by your user when they log in to\n      your server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of a user that was specified.</p>"
      }
    },
    "com.amazonaws.transfer#DescribedWorkflow": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.transfer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique Amazon Resource Name (ARN) for the workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.transfer#WorkflowDescription",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the text description for the workflow.</p>"
          }
        },
        "Steps": {
          "target": "com.amazonaws.transfer#WorkflowSteps",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the details for the steps that are in the specified workflow.</p>"
          }
        },
        "OnExceptionSteps": {
          "target": "com.amazonaws.transfer#WorkflowSteps",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the steps (actions) to take if any errors are encountered during execution of the workflow.</p>"
          }
        },
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for workflows. Tags are metadata attached to workflows for any purpose.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of the specified workflow</p>"
      }
    },
    "com.amazonaws.transfer#DirectoryId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^d-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.transfer#Domain": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "EFS",
            "name": "EFS"
          }
        ]
      }
    },
    "com.amazonaws.transfer#EfsFileLocation": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.transfer#EfsFileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system, assigned by Amazon EFS.</p>"
          }
        },
        "Path": {
          "target": "com.amazonaws.transfer#EfsPath",
          "traits": {
            "smithy.api#documentation": "<p>The pathname for the folder being used by a workflow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the details for the file location for the file being used in the workflow. Only applicable if you are using Amazon EFS for storage.</p>\n         <p>\n     You need to provide the file system ID and the pathname.\n      The pathname can represent either a path or a file.\n      This is determined by whether or not you end the path value with the forward slash (/) character.\n      If the final character is \"/\", then your file is copied to the folder, and its name does not change.\n      If, rather, the final character is alphanumeric, your uploaded file is renamed to the path value. In this case, if a file with that name already exists, it is overwritten.\n    </p>\n         <p>For example, if your path is <code>shared-files/bob/</code>, your uploaded files are copied to the <code>shared-files/bob/</code>, folder.\n      If your path is <code>shared-files/today</code>, each uploaded file is copied to the <code>shared-files</code> folder and named <code>today</code>:\n      each upload overwrites the previous version of the <code>bob</code> file.</p>"
      }
    },
    "com.amazonaws.transfer#EfsFileSystemId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^(arn:aws[-a-z]*:elasticfilesystem:[0-9a-z-:]+:(access-point/fsap|file-system/fs)-[0-9a-f]{8,40}|fs(ap)?-[0-9a-f]{8,40})$"
      }
    },
    "com.amazonaws.transfer#EfsPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(\\/|(\\/(?!\\.)+[^$#<>;`|&?{}^*/\\n]+){1,4})$"
      }
    },
    "com.amazonaws.transfer#EndpointDetails": {
      "type": "structure",
      "members": {
        "AddressAllocationIds": {
          "target": "com.amazonaws.transfer#AddressAllocationIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of address allocation IDs that are required to attach an Elastic IP address to your\n      server's endpoint.</p>\n\n         <note>\n\n            <p>This property can only be set when <code>EndpointType</code> is set to <code>VPC</code>\n        and it is only valid in the <code>UpdateServer</code> API.</p>\n         </note>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.transfer#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of subnet IDs that are required to host your server endpoint in your VPC.</p>\n\n         <note>\n            <p>This property can only be set when <code>EndpointType</code> is set to\n        <code>VPC</code>.</p>\n         </note>"
          }
        },
        "VpcEndpointId": {
          "target": "com.amazonaws.transfer#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC endpoint.</p>\n\n         <note>\n            <p>This property can only be set when <code>EndpointType</code> is set to\n          <code>VPC_ENDPOINT</code>.</p>\n      \n            <p>For more information, see\n        https://docs.aws.amazon.com/transfer/latest/userguide/create-server-in-vpc.html#deprecate-vpc-endpoint.</p>\n         </note>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.transfer#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The VPC ID of the VPC in which a server's endpoint will be hosted.</p>\n\n         <note>\n            <p>This property can only be set when <code>EndpointType</code> is set to\n        <code>VPC</code>.</p>\n         </note>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.transfer#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of security groups IDs that are available to attach to your server's\n      endpoint.</p>\n\n         <note>\n            <p>This property can only be set when <code>EndpointType</code> is set to\n        <code>VPC</code>.</p>\n\n            <p>You can edit the <code>SecurityGroupIds</code> property in the <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/API_UpdateServer.html\">UpdateServer</a> API only if you are changing the <code>EndpointType</code> from\n          <code>PUBLIC</code> or <code>VPC_ENDPOINT</code> to <code>VPC</code>. To change security\n        groups associated with your server's VPC endpoint after creation, use the Amazon EC2\n          <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ModifyVpcEndpoint.html\">ModifyVpcEndpoint</a> API.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The virtual private cloud (VPC) endpoint settings that are configured for your file\n      transfer protocol-enabled server. With a VPC endpoint, you can restrict access to your server\n      and resources only within your VPC. To control incoming internet traffic, invoke the\n        <code>UpdateServer</code> API and attach an Elastic IP address to your server's\n      endpoint.</p>\n         <note>\n            <p> After May 19, 2021, you won't be able to create a server using\n          <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Servicesaccount if your account hasn't already\n      done so before May 19, 2021. If you have already created servers with\n      <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Servicesaccount on or before May 19, 2021,\n        you will not be affected. After this date, use\n        <code>EndpointType</code>=<code>VPC</code>.</p> \n      \n            <p>For more information, see\n        https://docs.aws.amazon.com/transfer/latest/userguide/create-server-in-vpc.html#deprecate-vpc-endpoint.</p>\n         </note>"
      }
    },
    "com.amazonaws.transfer#EndpointType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PUBLIC",
            "name": "PUBLIC"
          },
          {
            "value": "VPC",
            "name": "VPC"
          },
          {
            "value": "VPC_ENDPOINT",
            "name": "VPC_ENDPOINT"
          }
        ]
      }
    },
    "com.amazonaws.transfer#ExecutionError": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.transfer#ExecutionErrorType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the error type: currently, the only valid value is <code>PERMISSION_DENIED</code>, which occurs\n    if your policy does not contain the correct permissions to complete one or more of the steps in the workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.transfer#ExecutionErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the descriptive message that corresponds to the <code>ErrorType</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the error message and type, for an error that occurs during the execution of the workflow.</p>"
      }
    },
    "com.amazonaws.transfer#ExecutionErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.transfer#ExecutionErrorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PERMISSION_DENIED",
            "name": "PERMISSION_DENIED"
          }
        ]
      }
    },
    "com.amazonaws.transfer#ExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}$"
      }
    },
    "com.amazonaws.transfer#ExecutionResults": {
      "type": "structure",
      "members": {
        "Steps": {
          "target": "com.amazonaws.transfer#ExecutionStepResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the details for the steps that are in the specified workflow.</p>"
          }
        },
        "OnExceptionSteps": {
          "target": "com.amazonaws.transfer#ExecutionStepResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the steps (actions) to take if any errors are encountered during execution of the workflow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the steps in the workflow, as well as the steps to execute in case of any errors during workflow execution.</p>"
      }
    },
    "com.amazonaws.transfer#ExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "EXCEPTION",
            "name": "EXCEPTION"
          },
          {
            "value": "HANDLING_EXCEPTION",
            "name": "HANDLING_EXCEPTION"
          }
        ]
      }
    },
    "com.amazonaws.transfer#ExecutionStepResult": {
      "type": "structure",
      "members": {
        "StepType": {
          "target": "com.amazonaws.transfer#WorkflowStepType",
          "traits": {
            "smithy.api#documentation": "<p>One of the available step types.</p>\n         <ul>\n            <li>\n               <p>\n                  <i>Copy</i>: copy the file to another location</p>\n            </li>\n            <li>\n               <p>\n                  <i>Custom</i>: custom step with a lambda target</p>\n            </li>\n            <li>\n               <p>\n                  <i>Delete</i>: delete the file</p>\n            </li>\n            <li>\n               <p>\n                  <i>Tag</i>: add a tag to the file</p>\n            </li>\n         </ul>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.transfer#StepResultOutputsJson",
          "traits": {
            "smithy.api#documentation": "<p>The values for the key/value pair applied as a tag to the file. Only applicable if the step type is <code>TAG</code>.</p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.transfer#ExecutionError",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the details for an error, if it occurred during execution of the specified workfow step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the following details for the step: error (if any), outputs (if any), and the step type.</p>"
      }
    },
    "com.amazonaws.transfer#ExecutionStepResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#ExecutionStepResult"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.transfer#ExternalId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^S-1-[\\d-]+$"
      }
    },
    "com.amazonaws.transfer#FileLocation": {
      "type": "structure",
      "members": {
        "S3FileLocation": {
          "target": "com.amazonaws.transfer#S3FileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the S3 details for the file being used, such as bucket, Etag, and so forth.</p>"
          }
        },
        "EfsFileLocation": {
          "target": "com.amazonaws.transfer#EfsFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon EFS ID and the path for the file being used.</p>"
          }
        }
      },
      "traits": {
[...]
