{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.translate#AWSShineFrontendService_20170701": {
      "type": "service",
      "version": "2017-07-01",
      "operations": [
        {
          "target": "com.amazonaws.translate#CreateParallelData"
        },
        {
          "target": "com.amazonaws.translate#DeleteParallelData"
        },
        {
          "target": "com.amazonaws.translate#DeleteTerminology"
        },
        {
          "target": "com.amazonaws.translate#DescribeTextTranslationJob"
        },
        {
          "target": "com.amazonaws.translate#GetParallelData"
        },
        {
          "target": "com.amazonaws.translate#GetTerminology"
        },
        {
          "target": "com.amazonaws.translate#ImportTerminology"
        },
        {
          "target": "com.amazonaws.translate#ListParallelData"
        },
        {
          "target": "com.amazonaws.translate#ListTerminologies"
        },
        {
          "target": "com.amazonaws.translate#ListTextTranslationJobs"
        },
        {
          "target": "com.amazonaws.translate#StartTextTranslationJob"
        },
        {
          "target": "com.amazonaws.translate#StopTextTranslationJob"
        },
        {
          "target": "com.amazonaws.translate#TranslateText"
        },
        {
          "target": "com.amazonaws.translate#UpdateParallelData"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Translate",
          "arnNamespace": "translate",
          "cloudFormationName": "Translate",
          "cloudTrailEventSource": "translate.amazonaws.com",
          "endpointPrefix": "translate"
        },
        "aws.auth#sigv4": {
          "name": "translate"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Provides translation between one source language and another of the same set of\n      languages.</p>",
        "smithy.api#title": "Amazon Translate"
      }
    },
    "com.amazonaws.translate#AppliedTerminology": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated\n      text response.</p>"
          }
        },
        "Terms": {
          "target": "com.amazonaws.translate#TermList",
          "traits": {
            "smithy.api#documentation": "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the\n      translated text response. A maximum of 250 terms will be returned, and the specific terms\n      applied will be the first 250 terms in the source text. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The custom terminology applied to the input text by Amazon Translate for the translated text\n      response. This is optional in the response and will only be present if you specified\n      terminology input in the request. Currently, only one terminology can be applied per\n      TranslateText request.</p>"
      }
    },
    "com.amazonaws.translate#AppliedTerminologyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.translate#AppliedTerminology"
      }
    },
    "com.amazonaws.translate#BoundedLengthString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5000
        },
        "smithy.api#pattern": "[\\P{M}\\p{M}]{1,5000}"
      }
    },
    "com.amazonaws.translate#ClientTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.translate#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another modification is being made. That modification must complete before you can make\n      your change.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.translate#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict processing the request. Try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.translate#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[-\\w.]+\\/[-\\w.+]+$"
      }
    },
    "com.amazonaws.translate#CreateParallelData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#CreateParallelDataRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#CreateParallelDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#ConflictException"
        },
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.translate#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.translate#LimitExceededException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a parallel data resource in Amazon Translate by importing an input file from\n      Amazon S3. Parallel data files contain examples of source phrases and their translations from\n      your translation memory. By adding parallel data, you can influence the style, tone, and word\n      choice in your translation output.</p>"
      }
    },
    "com.amazonaws.translate#CreateParallelDataRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A custom name for the parallel data resource in Amazon Translate. You must assign a name\n      that is unique in the account and region.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.translate#Description",
          "traits": {
            "smithy.api#documentation": "<p>A custom description for the parallel data resource in Amazon Translate.</p>"
          }
        },
        "ParallelDataConfig": {
          "target": "com.amazonaws.translate#ParallelDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format and S3 location of the parallel data input file.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionKey": {
          "target": "com.amazonaws.translate#EncryptionKey"
        },
        "ClientToken": {
          "target": "com.amazonaws.translate#ClientTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the request. This token is automatically generated when you use\n      Amazon Translate through an AWS SDK.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#CreateParallelDataResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The custom name that you assigned to the parallel data resource.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.translate#ParallelDataStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parallel data resource. When the resource is ready for you to use, the\n      status is <code>ACTIVE</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#DeleteParallelData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#DeleteParallelDataRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#DeleteParallelDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a parallel data resource in Amazon Translate.</p>"
      }
    },
    "com.amazonaws.translate#DeleteParallelDataRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parallel data resource that is being deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#DeleteParallelDataResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parallel data resource that is being deleted.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.translate#ParallelDataStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parallel data deletion.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#DeleteTerminology": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#DeleteTerminologyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.translate#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A synchronous action that deletes a custom terminology.</p>"
      }
    },
    "com.amazonaws.translate#DeleteTerminologyRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom terminology being deleted. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#DescribeTextTranslationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#DescribeTextTranslationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#DescribeTextTranslationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with an asycnhronous batch translation job including name,\n      ID, status, source and target languages, input/output S3 buckets, and so on.</p>"
      }
    },
    "com.amazonaws.translate#DescribeTextTranslationJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.translate#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Translate generated for the job. The <a>StartTextTranslationJob</a> operation returns this identifier in its\n      response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#DescribeTextTranslationJobResponse": {
      "type": "structure",
      "members": {
        "TextTranslationJobProperties": {
          "target": "com.amazonaws.translate#TextTranslationJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with an asynchronous batch translation\n      job.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[\\P{M}\\p{M}]{0,256}"
      }
    },
    "com.amazonaws.translate#DetectedLanguageLowConfidenceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        },
        "DetectedLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the auto-detected language from Amazon Comprehend.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The confidence that Amazon Comprehend accurately detected the source language is low. If a\n      low confidence level is acceptable for your application, you can use the language in the\n      exception to call Amazon Translate again. For more information, see the <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/API_DetectDominantLanguage.html\">DetectDominantLanguage</a> operation in the <i>Amazon Comprehend Developer\n        Guide</i>. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.translate#EncryptionKey": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.translate#EncryptionKeyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.translate#EncryptionKeyID",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom\n      terminology.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The encryption key used to encrypt this object.</p>"
      }
    },
    "com.amazonaws.translate#EncryptionKeyID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 400
        },
        "smithy.api#pattern": "(arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:kms:)?([a-z]{2}-[a-z]+(-[a-z]+)?-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))"
      }
    },
    "com.amazonaws.translate#EncryptionKeyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "KMS",
            "name": "KMS"
          }
        ]
      }
    },
    "com.amazonaws.translate#GetParallelData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#GetParallelDataRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#GetParallelDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.translate#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a parallel data resource.</p>"
      }
    },
    "com.amazonaws.translate#GetParallelDataRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parallel data resource that is being retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#GetParallelDataResponse": {
      "type": "structure",
      "members": {
        "ParallelDataProperties": {
          "target": "com.amazonaws.translate#ParallelDataProperties",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the parallel data resource that is being retrieved.</p>"
          }
        },
        "DataLocation": {
          "target": "com.amazonaws.translate#ParallelDataDataLocation",
          "traits": {
            "smithy.api#documentation": "<p>The location of the most recent parallel data input file that was successfully imported\n      into Amazon Translate. The location is returned as a presigned URL that has a 30 minute\n      expiration.</p>"
          }
        },
        "AuxiliaryDataLocation": {
          "target": "com.amazonaws.translate#ParallelDataDataLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced\n      by your input file. This file was created when Amazon Translate attempted to create a parallel\n      data resource. The location is returned as a presigned URL to that has a 30 minute\n      expiration.</p>"
          }
        },
        "LatestUpdateAttemptAuxiliaryDataLocation": {
          "target": "com.amazonaws.translate#ParallelDataDataLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced\n      by your input file. This file was created when Amazon Translate attempted to update a parallel\n      data resource. The location is returned as a presigned URL to that has a 30 minute\n      expiration.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#GetTerminology": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#GetTerminologyRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#GetTerminologyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.translate#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a custom terminology.</p>"
      }
    },
    "com.amazonaws.translate#GetTerminologyRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom terminology being retrieved.</p>",
            "smithy.api#required": {}
          }
        },
        "TerminologyDataFormat": {
          "target": "com.amazonaws.translate#TerminologyDataFormat",
          "traits": {
            "smithy.api#documentation": "<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#GetTerminologyResponse": {
      "type": "structure",
      "members": {
        "TerminologyProperties": {
          "target": "com.amazonaws.translate#TerminologyProperties",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the custom terminology being retrieved.</p>"
          }
        },
        "TerminologyDataLocation": {
          "target": "com.amazonaws.translate#TerminologyDataLocation",
          "traits": {
            "smithy.api#documentation": "<p>The data location of the custom terminology being retrieved. The custom terminology file\n      is returned in a presigned url that has a 30 minute expiration.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#IamRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+"
      }
    },
    "com.amazonaws.translate#ImportTerminology": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#ImportTerminologyRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#ImportTerminologyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.translate#LimitExceededException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates a custom terminology, depending on whether or not one already exists\n      for the given terminology name. Importing a terminology with the same name as an existing one\n      will merge the terminologies based on the chosen merge strategy. Currently, the only supported\n      merge strategy is OVERWRITE, and so the imported terminology will overwrite an existing\n      terminology of the same name.</p>\n         <p>If you import a terminology that overwrites an existing one, the new terminology take up\n      to 10 minutes to fully propagate and be available for use in a translation due to cache\n      policies with the DataPlane service that performs the translations.</p>"
      }
    },
    "com.amazonaws.translate#ImportTerminologyRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom terminology being imported.</p>",
            "smithy.api#required": {}
          }
        },
        "MergeStrategy": {
          "target": "com.amazonaws.translate#MergeStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The merge strategy of the custom terminology being imported. Currently, only the OVERWRITE\n      merge strategy is supported. In this case, the imported terminology will overwrite an existing\n      terminology of the same name.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.translate#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the custom terminology being imported.</p>"
          }
        },
        "TerminologyData": {
          "target": "com.amazonaws.translate#TerminologyData",
          "traits": {
            "smithy.api#documentation": "<p>The terminology data for the custom terminology being imported.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionKey": {
          "target": "com.amazonaws.translate#EncryptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The encryption key for the custom terminology being imported.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#ImportTerminologyResponse": {
      "type": "structure",
      "members": {
        "TerminologyProperties": {
          "target": "com.amazonaws.translate#TerminologyProperties",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the custom terminology being imported.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#InputDataConfig": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.translate#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the AWS S3 folder that contains the input file. The folder must be in the\n      same Region as the API endpoint you are calling.</p>",
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.translate#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>Describes the format of the data that you submit to Amazon Translate as input. You can\n      specify one of the following multipurpose internet mail extension (MIME) types:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>text/html</code>: The input data consists of one or more HTML files. Amazon\n          Translate translates only the text that resides in the <code>html</code> element in each\n          file.</p>\n            </li>\n            <li>\n               <p>\n                  <code>text/plain</code>: The input data consists of one or more unformatted text\n          files. Amazon Translate translates every character in this type of input.</p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.openxmlformats-officedocument.wordprocessingml.document</code>:\n          The input data consists of one or more Word documents (.docx).</p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.openxmlformats-officedocument.presentationml.presentation</code>:\n          The input data consists of one or more PowerPoint Presentation files (.pptx).</p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</code>: The\n          input data consists of one or more Excel Workbook files (.xlsx).</p>\n            </li>\n         </ul>\n         <important>\n            <p>If you structure your input data as HTML, ensure that you set this parameter to\n          <code>text/html</code>. By doing so, you cut costs by limiting the translation to the\n        contents of the <code>html</code> element in each file. Otherwise, if you set this parameter\n        to <code>text/plain</code>, your costs will cover the translation of every character.</p>\n         </important>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input configuration properties for requesting a batch translation job.</p>"
      }
    },
    "com.amazonaws.translate#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.translate#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal server error occurred. Retry your request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.translate#InvalidFilterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The filter specified for the operation is invalid. Specify a different filter.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.translate#InvalidParameterValueException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value of the parameter is invalid. Review the value of the parameter you are using to\n      correct it, and then retry your operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.translate#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The request that you made is invalid. Check your request to determine why it's invalid\n      and then retry the request. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.translate#JobDetails": {
      "type": "structure",
      "members": {
        "TranslatedDocumentsCount": {
          "target": "com.amazonaws.translate#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents successfully processed during a translation job.</p>"
          }
        },
        "DocumentsWithErrorsCount": {
          "target": "com.amazonaws.translate#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents that could not be processed during a translation job.</p>"
          }
        },
        "InputDocumentsCount": {
          "target": "com.amazonaws.translate#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents used as input in a translation job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of documents successfully and unsuccessfully processed during a translation\n      job.</p>"
      }
    },
    "com.amazonaws.translate#JobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
      }
    },
    "com.amazonaws.translate#JobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
      }
    },
    "com.amazonaws.translate#JobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "COMPLETED_WITH_ERROR",
            "name": "COMPLETED_WITH_ERROR"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "STOP_REQUESTED",
            "name": "STOP_REQUESTED"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          }
        ]
      }
    },
    "com.amazonaws.translate#LanguageCodeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 5
        }
      }
    },
    "com.amazonaws.translate#LanguageCodeStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.translate#LanguageCodeString"
      }
    },
    "com.amazonaws.translate#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified limit has been exceeded. Review your request and retry it with a quantity\n      below the stated limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.translate#ListParallelData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#ListParallelDataRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#ListParallelDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of your parallel data resources in Amazon Translate.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.translate#ListParallelDataRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.translate#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A string that specifies the next page of results to return in a paginated response.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.translate#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of parallel data resources returned for each request.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#ListParallelDataResponse": {
      "type": "structure",
      "members": {
        "ParallelDataPropertiesList": {
          "target": "com.amazonaws.translate#ParallelDataPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the parallel data resources returned by this request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.translate#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string to use in a subsequent request to get the next page of results in a paginated\n      response. This value is null if there are no additional pages.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#ListTerminologies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#ListTerminologiesRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#ListTerminologiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of custom terminologies associated with your account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.translate#ListTerminologiesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.translate#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the result of the request to ListTerminologies was truncated, include the NextToken to\n      fetch the next group of custom terminologies. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.translate#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of custom terminologies returned per list request.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#ListTerminologiesResponse": {
      "type": "structure",
      "members": {
        "TerminologyPropertiesList": {
          "target": "com.amazonaws.translate#TerminologyPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>The properties list of the custom terminologies returned on the list request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.translate#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> If the response to the ListTerminologies was truncated, the NextToken fetches the next\n      group of custom terminologies.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#ListTextTranslationJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#ListTextTranslationJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#ListTextTranslationJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidFilterException"
        },
        {
          "target": "com.amazonaws.translate#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of the batch translation jobs that you have submitted.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.translate#ListTextTranslationJobsRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.translate#TextTranslationJobFilter",
          "traits": {
            "smithy.api#documentation": "<p>The parameters that specify which batch translation jobs to retrieve. Filters include job\n      name, job status, and submission time. You can only set one filter at a time.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.translate#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to request the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.translate#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in each page. The default value is 100.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#ListTextTranslationJobsResponse": {
      "type": "structure",
      "members": {
        "TextTranslationJobPropertiesList": {
          "target": "com.amazonaws.translate#TextTranslationJobPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the properties of each job that is returned.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.translate#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retreive the next page of results. This value is <code>null</code>\n      when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#Long": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.translate#MaxResultsInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.translate#MergeStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OVERWRITE",
            "name": "OVERWRITE"
          }
        ]
      }
    },
    "com.amazonaws.translate#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": "\\p{ASCII}{0,8192}"
      }
    },
    "com.amazonaws.translate#OutputDataConfig": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.translate#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the S3 folder that contains a translation job's output file. The folder must\n      be in the same Region as the API endpoint that you are calling.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output configuration properties for a batch translation job.</p>"
      }
    },
    "com.amazonaws.translate#ParallelDataArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.translate#ParallelDataConfig": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.translate#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the Amazon S3 folder that contains the parallel data input file. The folder\n      must be in the same Region as the API endpoint you are calling.</p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.translate#ParallelDataFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the parallel data input file.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the format and S3 location of the parallel data input file.</p>"
      }
    },
    "com.amazonaws.translate#ParallelDataDataLocation": {
      "type": "structure",
      "members": {
        "RepositoryType": {
          "target": "com.amazonaws.translate#String",
          "traits": {
            "smithy.api#documentation": "<p>Describes the repository that contains the parallel data input file.</p>",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.translate#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the parallel data input file. The location is returned as a\n      presigned URL to that has a 30 minute expiration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The location of the most recent parallel data input file that was successfully imported\n      into Amazon Translate.</p>"
      }
    },
    "com.amazonaws.translate#ParallelDataFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TSV",
            "name": "TSV"
          },
          {
            "value": "CSV",
            "name": "CSV"
          },
          {
            "value": "TMX",
            "name": "TMX"
          }
        ]
      }
    },
    "com.amazonaws.translate#ParallelDataProperties": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The custom name assigned to the parallel data resource.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.translate#ParallelDataArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the parallel data resource.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.translate#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description assigned to the parallel data resource.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.translate#ParallelDataStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parallel data resource. When the parallel data is ready for you to use,\n      the status is <code>ACTIVE</code>.</p>"
          }
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The source language of the translations in the parallel data file.</p>"
          }
        },
        "TargetLanguageCodes": {
          "target": "com.amazonaws.translate#LanguageCodeStringList",
          "traits": {
            "smithy.api#documentation": "<p>The language codes for the target languages available in the parallel data file. All\n      possible target languages are returned as an array.</p>"
          }
        },
        "ParallelDataConfig": {
          "target": "com.amazonaws.translate#ParallelDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format and S3 location of the parallel data input file.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.translate#UnboundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>Additional information from Amazon Translate about the parallel data resource. </p>"
          }
        },
        "ImportedDataSize": {
          "target": "com.amazonaws.translate#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of UTF-8 characters that Amazon Translate imported from the parallel data input\n      file. This number includes only the characters in your translation examples. It does not\n      include characters that are used to format your file. For example, if you provided a\n      Translation Memory Exchange (.tmx) file, this number does not include the tags.</p>"
          }
        },
        "ImportedRecordCount": {
          "target": "com.amazonaws.translate#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of records successfully imported from the parallel data input file.</p>"
          }
        },
        "FailedRecordCount": {
          "target": "com.amazonaws.translate#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of records unsuccessfully imported from the parallel data input file.</p>"
          }
        },
        "SkippedRecordCount": {
          "target": "com.amazonaws.translate#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of items in the input file that Amazon Translate skipped when you created or\n      updated the parallel data resource. For example, Amazon Translate skips empty records, empty\n      target texts, and empty lines.</p>"
          }
        },
        "EncryptionKey": {
          "target": "com.amazonaws.translate#EncryptionKey"
        },
        "CreatedAt": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the parallel data resource was created.</p>"
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the parallel data resource was last updated.</p>"
          }
        },
        "LatestUpdateAttemptStatus": {
          "target": "com.amazonaws.translate#ParallelDataStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the most recent update attempt for the parallel data resource.</p>"
          }
        },
        "LatestUpdateAttemptAt": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the most recent update was attempted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties of a parallel data resource.</p>"
      }
    },
    "com.amazonaws.translate#ParallelDataPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.translate#ParallelDataProperties"
      }
    },
    "com.amazonaws.translate#ParallelDataStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.translate#ResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^([A-Za-z0-9-]_?)+$"
      }
    },
    "com.amazonaws.translate#ResourceNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.translate#ResourceName"
      }
    },
    "com.amazonaws.translate#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource you are looking for has not been found. Review the resource you're looking\n      for and see if a different resource will accomplish your needs before retrying the revised\n      request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.translate#S3Uri": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?"
      }
    },
    "com.amazonaws.translate#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Translate service is temporarily unavailable. Please wait a bit and then retry your\n      request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.translate#StartTextTranslationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#StartTextTranslationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#StartTextTranslationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.translate#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.translate#UnsupportedLanguagePairException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts an asynchronous batch translation job. Batch translation jobs can be used to\n      translate large volumes of text across multiple documents at once. For more information, see\n        <a>async</a>.</p>\n\n         <p>Batch translation jobs can be described with the <a>DescribeTextTranslationJob</a> operation, listed with the <a>ListTextTranslationJobs</a> operation, and stopped with the <a>StopTextTranslationJob</a> operation.</p>\n         <note>\n            <p>Amazon Translate does not support batch translation of multiple source languages at once.</p>\n         </note>"
      }
    },
    "com.amazonaws.translate#StartTextTranslationJobRequest": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.translate#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch translation job to be performed.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.translate#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format and S3 location of the input documents for the translation\n      job.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.translate#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the S3 folder to which your job output will be saved.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.translate#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity Access and Management (IAM) role\n      that grants Amazon Translate read access to your input data. For more nformation, see <a>identity-and-access-management</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the input language. For a list of language codes, see <a>what-is-languages</a>.</p>\n         <p>Amazon Translate does not automatically detect a source language during batch translation\n      jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetLanguageCodes": {
          "target": "com.amazonaws.translate#TargetLanguageCodeStringList",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the output language.</p>",
            "smithy.api#required": {}
          }
        },
        "TerminologyNames": {
          "target": "com.amazonaws.translate#ResourceNameList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the terminology to use in the batch translation job. For a list of available\n      terminologies, use the <a>ListTerminologies</a> operation.</p>"
          }
        },
        "ParallelDataNames": {
          "target": "com.amazonaws.translate#ResourceNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the parallel data resources to use in the batch translation job. For a list\n      of available parallel data resources, use the <a>ListParallelData</a>\n      operation.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.translate#ClientTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the request. This token is auto-generated when using the Amazon Translate\n      SDK.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#StartTextTranslationJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.translate#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier generated for the job. To get the status of a job, use this ID with the\n        <a>DescribeTextTranslationJob</a> operation.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.translate#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the job. Possible values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SUBMITTED</code> - The job has been received and is queued for\n          processing.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Amazon Translate is processing the job.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - The job was successfully completed and the output is\n          available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED_WITH_ERROR</code> - The job was completed with errors. The errors can\n          be analyzed in the job's output.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - The job did not complete. To get details, use the <a>DescribeTextTranslationJob</a> operation.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STOP_REQUESTED</code> - The user who started the job has requested that it be\n          stopped.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STOPPED</code> - The job has been stopped.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.translate#StopTextTranslationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#StopTextTranslationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#StopTextTranslationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops an asynchronous batch translation job that is in progress.</p>\n         <p>If the job's state is <code>IN_PROGRESS</code>, the job will be marked for termination and\n      put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped,\n      it is put into the <code>COMPLETED</code> state. Otherwise, the job is put into the\n        <code>STOPPED</code> state.</p>\n         <p>Asynchronous batch translation jobs are started with the <a>StartTextTranslationJob</a> operation. You can use the <a>DescribeTextTranslationJob</a> or <a>ListTextTranslationJobs</a>\n      operations to get a batch translation job's <code>JobId</code>.</p>"
      }
    },
    "com.amazonaws.translate#StopTextTranslationJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.translate#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job ID of the job to be stopped.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#StopTextTranslationJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.translate#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job ID of the stopped batch translation job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.translate#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the designated job. Upon successful completion, the job's status will be\n        <code>STOPPED</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "[\\P{M}\\p{M}]{0,10000}"
      }
    },
    "com.amazonaws.translate#TargetLanguageCodeStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.translate#LanguageCodeString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.translate#Term": {
      "type": "structure",
      "members": {
        "SourceText": {
          "target": "com.amazonaws.translate#String",
          "traits": {
            "smithy.api#documentation": "<p>The source text of the term being translated by the custom terminology.</p>"
          }
        },
        "TargetText": {
          "target": "com.amazonaws.translate#String",
          "traits": {
            "smithy.api#documentation": "<p>The target text of the term being translated by the custom terminology.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The term being translated by the custom terminology.</p>"
      }
    },
    "com.amazonaws.translate#TermList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.translate#Term"
      }
    },
    "com.amazonaws.translate#TerminologyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.translate#TerminologyData": {
      "type": "structure",
      "members": {
        "File": {
          "target": "com.amazonaws.translate#TerminologyFile",
          "traits": {
            "smithy.api#documentation": "<p>The file containing the custom terminology data. Your version of the AWS SDK performs a\n      Base64-encoding on this field before sending a request to the AWS service. Users of the SDK\n      should not perform Base64-encoding themselves.</p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.translate#TerminologyDataFormat",
          "traits": {
            "smithy.api#documentation": "<p>The data format of the custom terminology. Either CSV or TMX.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data associated with the custom terminology.</p>"
      }
    },
    "com.amazonaws.translate#TerminologyDataFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CSV",
            "name": "CSV"
          },
          {
            "value": "TMX",
            "name": "TMX"
          }
        ]
      }
    },
    "com.amazonaws.translate#TerminologyDataLocation": {
      "type": "structure",
      "members": {
        "RepositoryType": {
          "target": "com.amazonaws.translate#String",
          "traits": {
            "smithy.api#documentation": "<p>The repository type for the custom terminology data.</p>",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.translate#String",
          "traits": {
            "smithy.api#documentation": "<p>The location of the custom terminology data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The location of the custom terminology data.</p>"
      }
    },
    "com.amazonaws.translate#TerminologyFile": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10485760
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.translate#TerminologyProperties": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom terminology.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.translate#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the custom terminology properties.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.translate#TerminologyArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the custom terminology. </p>"
          }
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the source text of the translation request for which the custom\n      terminology is being used.</p>"
          }
        },
        "TargetLanguageCodes": {
          "target": "com.amazonaws.translate#LanguageCodeStringList",
          "traits": {
            "smithy.api#documentation": "<p>The language codes for the target languages available with the custom terminology file.\n      All possible target languages are returned in array.</p>"
          }
        },
        "EncryptionKey": {
          "target": "com.amazonaws.translate#EncryptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The encryption key for the custom terminology.</p>"
          }
        },
        "SizeBytes": {
          "target": "com.amazonaws.translate#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the file used when importing a custom terminology.</p>"
          }
        },
        "TermCount": {
          "target": "com.amazonaws.translate#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of terms included in the custom terminology.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the custom terminology was created, based on the timestamp.</p>"
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the custom terminology was last update, based on the timestamp.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties of the custom terminology.</p>"
      }
    },
    "com.amazonaws.translate#TerminologyPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.translate#TerminologyProperties"
      }
    },
    "com.amazonaws.translate#TextSizeLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or\n      use a smaller document and then retry your request. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.translate#TextTranslationJobFilter": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.translate#JobName",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list of jobs by name.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.translate#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list of jobs based by job status.</p>"
          }
        },
        "SubmittedBeforeTime": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing and\n      returns only the jobs submitted before the specified time. Jobs are returned in ascending\n      order, oldest to newest.</p>"
          }
        },
        "SubmittedAfterTime": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing and\n      returns only the jobs submitted after the specified time. Jobs are returned in descending\n      order, newest to oldest.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information for filtering a list of translation jobs. For more information, see\n        <a>ListTextTranslationJobs</a>.</p>"
      }
    },
    "com.amazonaws.translate#TextTranslationJobProperties": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.translate#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the translation job.</p>"
          }
        },
        "JobName": {
          "target": "com.amazonaws.translate#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined name of the translation job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.translate#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the translation job.</p>"
          }
        },
        "JobDetails": {
          "target": "com.amazonaws.translate#JobDetails",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents successfully and unsuccessfully processed during the translation\n      job.</p>"
          }
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the language of the source text. The language must be a language\n      supported by Amazon Translate.</p>"
          }
        },
        "TargetLanguageCodes": {
          "target": "com.amazonaws.translate#TargetLanguageCodeStringList",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the language of the target text. The language must be a language\n      supported by Amazon Translate.</p>"
          }
        },
        "TerminologyNames": {
          "target": "com.amazonaws.translate#ResourceNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the names of the terminologies applied to a translation job. Only one\n      terminology can be applied per <a>StartTextTranslationJob</a> request at this\n      time.</p>"
          }
        },
        "ParallelDataNames": {
          "target": "com.amazonaws.translate#ResourceNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the names of the parallel data resources applied to the translation\n      job.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.translate#UnboundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>An explanation of any errors that may have occured during the translation job.</p>"
          }
        },
        "SubmittedTime": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the translation job was submitted.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the translation job ended.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.translate#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The input configuration properties that were specified when the job was requested.</p>"
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.translate#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output configuration properties that were specified when the job was requested.</p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.translate#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity Access and Management (IAM) role\n      that granted Amazon Translate read access to the job's input data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a translation job.</p>"
      }
    },
    "com.amazonaws.translate#TextTranslationJobPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.translate#TextTranslationJobProperties"
      }
    },
    "com.amazonaws.translate#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.translate#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> You have made too many requests within a short period of time. Wait for a short time and\n      then try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.translate#TranslateText": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#TranslateTextRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#TranslateTextResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#DetectedLanguageLowConfidenceException"
        },
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.translate#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.translate#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.translate#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.translate#UnsupportedLanguagePairException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Translates input text from the source language to the target language. For a list of\n      available languages and language codes, see <a>what-is-languages</a>.</p>"
      }
    },
    "com.amazonaws.translate#TranslateTextRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.translate#BoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>The text to translate. The text string can be a maximum of 5,000 bytes long. Depending on\n      your character set, this may be fewer than 5,000 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "TerminologyNames": {
          "target": "com.amazonaws.translate#ResourceNameList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the terminology list file to be used in the TranslateText request. You can use\n      1 terminology list at most in a <code>TranslateText</code> request. Terminology lists can\n      contain a maximum of 256 terms.</p>"
          }
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the language of the source text. The language must be a language\n      supported by Amazon Translate. For a list of language codes, see <a>what-is-languages</a>.</p>\n         <p>To have Amazon Translate determine the source language of your text, you can specify\n        <code>auto</code> in the <code>SourceLanguageCode</code> field. If you specify\n        <code>auto</code>, Amazon Translate will call <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/comprehend-general.html\">Amazon\n        Comprehend</a> to determine the source language.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code requested for the language of the target text. The language must be a\n      language supported by Amazon Translate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#TranslateTextResponse": {
      "type": "structure",
      "members": {
        "TranslatedText": {
          "target": "com.amazonaws.translate#String",
          "traits": {
            "smithy.api#documentation": "<p>The translated text.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the language of the source text.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the language of the target text. </p>",
            "smithy.api#required": {}
          }
        },
        "AppliedTerminologies": {
          "target": "com.amazonaws.translate#AppliedTerminologyList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the custom terminologies applied to the input text by Amazon Translate for the\n      translated text response.</p>"
          }
        }
      }
    },
    "com.amazonaws.translate#UnboundedLengthString": {
      "type": "string"
    },
    "com.amazonaws.translate#UnsupportedLanguagePairException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.translate#String"
        },
        "SourceLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the language of the input text. </p>"
          }
        },
        "TargetLanguageCode": {
          "target": "com.amazonaws.translate#LanguageCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the language of the translated text. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Translate does not support translation from the language of the source text into the requested\n      target language. For more information, see <a>how-to-error-msg</a>. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.translate#UpdateParallelData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.translate#UpdateParallelDataRequest"
      },
      "output": {
        "target": "com.amazonaws.translate#UpdateParallelDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.translate#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.translate#ConflictException"
        },
        {
          "target": "com.amazonaws.translate#InternalServerException"
        },
        {
          "target": "com.amazonaws.translate#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.translate#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.translate#LimitExceededException"
        },
        {
          "target": "com.amazonaws.translate#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.translate#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a previously created parallel data resource by importing a new input file from\n      Amazon S3.</p>"
      }
    },
    "com.amazonaws.translate#UpdateParallelDataRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parallel data resource being updated.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.translate#Description",
          "traits": {
            "smithy.api#documentation": "<p>A custom description for the parallel data resource in Amazon Translate.</p>"
          }
        },
        "ParallelDataConfig": {
          "target": "com.amazonaws.translate#ParallelDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format and S3 location of the parallel data input file.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.translate#ClientTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the request. This token is automatically generated when you use\n      Amazon Translate through an AWS SDK.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.translate#UpdateParallelDataResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.translate#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parallel data resource being updated.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.translate#ParallelDataStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parallel data resource that you are attempting to update. Your update\n      request is accepted only if this status is either <code>ACTIVE</code> or\n      <code>FAILED</code>.</p>"
          }
        },
        "LatestUpdateAttemptStatus": {
          "target": "com.amazonaws.translate#ParallelDataStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parallel data update attempt. When the updated parallel data resource is\n      ready for you to use, the status is <code>ACTIVE</code>.</p>"
          }
        },
        "LatestUpdateAttemptAt": {
          "target": "com.amazonaws.translate#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the most recent update was attempted.</p>"
          }
        }
      }
    }
  }
}
