{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.transcribe#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\n        <p>Your request didn't pass one or more validation tests. For example, if the\n            transcription you're trying to delete doesn't exist or if it is in a non-terminal state\n            (for example, it's \"in progress\"). See the exception <code>Message</code> field for more\n            information.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.transcribe#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.transcribe#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>When you are using the <code>CreateVocabulary</code> operation, the\n                <code>JobName</code> field is a duplicate of a previously entered job name. Resend\n            your request with a different name.</p>\n        <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs\n            running at the same time. Resend the second request later.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.transcribe#CreateVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a new custom vocabulary that you can use to change the way Amazon Transcribe handles\n            transcription of an audio file. </p>\n      ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyRequest": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The language code of the vocabulary entries.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Phrases": {
          "target": "com.amazonaws.transcribe#Phrases",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of strings that contains the vocabulary entries. </p>\n      "
          }
        },
        "VocabularyFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "\n        <p>The S3 location of the text file that contains the definition of the custom\n            vocabulary. The URI must be in the same region as the API endpoint that you are calling.\n            The general form is </p>\n        <p>\n            <code>\n                https://s3.<aws-region>.amazonaws.com/<bucket-name>/<keyprefix>/<objectkey>\n            </code>\n        </p>\n        <p>For example:</p>\n        <p>\n            <code>https://s3.us-east-1.amazonaws.com/examplebucket/vocab.txt</code>\n         </p>\n        <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p>\n        <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n      "
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the vocabulary. The name must be unique within an AWS account. The name is\n            case-sensitive.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyResponse": {
      "type": "structure",
      "members": {
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "\n        <p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains\n            information about why the job failed.</p>\n      "
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The language code of the vocabulary entries.</p>\n      "
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "\n        <p>The date and time that the vocabulary was created.</p>\n      "
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the vocabulary.</p>\n      "
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "\n        <p>The processing state of the vocabulary. When the <code>VocabularyState</code> field\n            contains <code>READY</code> the vocabulary is ready to be used in a\n                <code>StartTranscriptionJob</code> request.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.transcribe#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.transcribe#DeleteTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteTranscriptionJobRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\n        <p>Deletes a previously submitted transcription job along with any other generated\n            results such as the transcription, models, and so on.</p>\n      ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/transcriptionjobs/{TranscriptionJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the transcription job to be deleted.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteVocabularyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes a vocabulary from Amazon Transcribe. </p>\n      ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the vocabulary to delete. </p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.transcribe#FailureReason": {
      "type": "string"
    },
    "com.amazonaws.transcribe#GetTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetTranscriptionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetTranscriptionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns information about a transcription job. To see the status of the job, check the\n                <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>,\n            the job is finished and you can find the results at the location specified in the\n                <code>TranscriptionFileUri</code> field.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/transcriptionjobs/{TranscriptionJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the job.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJobResponse": {
      "type": "structure",
      "members": {
        "TranscriptionJob": {
          "target": "com.amazonaws.transcribe#TranscriptionJob",
          "traits": {
            "smithy.api#documentation": "\n        <p>An object that contains the results of the transcription job.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Gets information about a vocabulary. </p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the vocabulary to return information about. The name is\n            case-sensitive.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyResponse": {
      "type": "structure",
      "members": {
        "DownloadUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "\n        <p>The S3 location where the vocabulary is stored. Use this URI to get the contents of\n            the vocabulary. The URI is available for a limited time.</p>\n      "
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "\n        <p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains\n            information about why the job failed.</p>\n      "
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The language code of the vocabulary entries.</p>\n      "
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "\n        <p>The date and time that the vocabulary was last modified.</p>\n      "
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the vocabulary to return.</p>\n      "
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "\n        <p>The processing state of the vocabulary.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.transcribe#InternalFailureException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>There was an internal error. Check the error message and try your request\n            again.</p>\n      ",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.transcribe#KMSKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$"
      }
    },
    "com.amazonaws.transcribe#LanguageCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "en-US": {
            "name": "EN_US"
          },
          "es-US": {
            "name": "ES_US"
          },
          "en-AU": {
            "name": "EN_AU"
          },
          "fr-CA": {
            "name": "FR_CA"
          },
          "en-GB": {
            "name": "EN_GB"
          },
          "de-DE": {
            "name": "DE_DE"
          },
          "pt-BR": {
            "name": "PT_BR"
          },
          "fr-FR": {
            "name": "FR_FR"
          },
          "it-IT": {
            "name": "IT_IT"
          },
          "ko-KR": {
            "name": "KO_KR"
          },
          "es-ES": {
            "name": "ES_ES"
          },
          "en-IN": {
            "name": "EN_IN"
          },
          "hi-IN": {
            "name": "HI_IN"
          },
          "ar-SA": {
            "name": "AR_SA"
          },
          "ru-RU": {
            "name": "RU_RU"
          },
          "zh-CN": {
            "name": "ZH_CN"
          },
          "nl-NL": {
            "name": "NL_NL"
          },
          "id-ID": {
            "name": "ID_ID"
          },
          "ta-IN": {
            "name": "TA_IN"
          },
          "fa-IR": {
            "name": "FA_IR"
          },
          "en-IE": {
            "name": "EN_IE"
          },
          "en-AB": {
            "name": "EN_AB"
          },
          "en-WL": {
            "name": "EN_WL"
          },
          "pt-PT": {
            "name": "PT_PT"
          },
          "te-IN": {
            "name": "TE_IN"
          },
          "tr-TR": {
            "name": "TR_TR"
          },
          "de-CH": {
            "name": "DE_CH"
          },
          "he-IL": {
            "name": "HE_IL"
          },
          "ms-MY": {
            "name": "MS_MY"
          },
          "ja-JP": {
            "name": "JA_JP"
          },
          "ar-AE": {
            "name": "AR_AE"
          }
        }
      }
    },
    "com.amazonaws.transcribe#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Either you have sent too many requests or your input file is too long. Wait before you\n            resend your request, or use a smaller file and resend the request.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.transcribe#ListTranscriptionJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#ListTranscriptionJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#ListTranscriptionJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Lists transcription jobs with the specified status.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/transcriptionjobs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transcribe#ListTranscriptionJobsRequest": {
      "type": "structure",
      "members": {
        "JobNameContains": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "\n        <p>When specified, the jobs returned in the list are limited to jobs whose name contains\n            the specified string.</p>\n      ",
            "smithy.api#httpQuery": "JobNameContains"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.transcribe#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of jobs to return in the response. If there are fewer results in\n            the list, this response contains only the actual results.</p>\n      ",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transcribe#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>If the result of the previous request to <code>ListTranscriptionJobs</code> was\n            truncated, include the <code>NextToken</code> to fetch the next set of jobs.</p>\n      ",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "Status": {
          "target": "com.amazonaws.transcribe#TranscriptionJobStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>When specified, returns only transcription jobs with the specified status. Jobs are\n            ordered by creation date, with the newest jobs returned first. If you don’t specify a\n            status, Amazon Transcribe returns all transcription jobs ordered by creation date. </p>\n      ",
            "smithy.api#httpQuery": "Status"
          }
        }
      }
    },
    "com.amazonaws.transcribe#ListTranscriptionJobsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.transcribe#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The <code>ListTranscriptionJobs</code> operation returns a page of jobs at a time. The\n            maximum size of the page is set by the <code>MaxResults</code> parameter. If there are\n            more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token.\n            Include the token in the next request to the <code>ListTranscriptionJobs</code>\n            operation to return in the next page of jobs.</p>\n      "
          }
        },
        "Status": {
          "target": "com.amazonaws.transcribe#TranscriptionJobStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>The requested status of the jobs returned.</p>\n      "
          }
        },
        "TranscriptionJobSummaries": {
          "target": "com.amazonaws.transcribe#TranscriptionJobSummaries",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of objects containing summary information for a transcription job.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.transcribe#ListVocabularies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#ListVocabulariesRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#ListVocabulariesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns a list of vocabularies that match the specified criteria. If no criteria are\n            specified, returns the entire list of vocabularies.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vocabularies",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transcribe#ListVocabulariesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.transcribe#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of vocabularies to return in the response. If there are fewer\n            results in the list, this response contains only the actual results.</p>\n      ",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NameContains": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>When specified, the vocabularies returned in the list are limited to vocabularies\n            whose name contains the specified string. The search is case-insensitive,\n                <code>ListVocabularies</code> will return both \"vocabularyname\" and \"VocabularyName\"\n            in the response list.</p>\n      ",
            "smithy.api#httpQuery": "NameContains"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transcribe#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>If the result of the previous request to <code>ListVocabularies</code> was truncated,\n            include the <code>NextToken</code> to fetch the next set of jobs.</p>\n      ",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "StateEquals": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "\n        <p>When specified, only returns vocabularies with the <code>VocabularyState</code> field\n            equal to the specified state.</p>\n      ",
            "smithy.api#httpQuery": "StateEquals"
          }
        }
      }
    },
    "com.amazonaws.transcribe#ListVocabulariesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.transcribe#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The <code>ListVocabularies</code> operation returns a page of vocabularies at a time.\n            The maximum size of the page is set by the <code>MaxResults</code> parameter. If there\n            are more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code>\n            token. Include the token in the next request to the <code>ListVocabularies</code>\n            operation to return in the next page of jobs.</p>\n      "
          }
        },
        "Status": {
          "target": "com.amazonaws.transcribe#TranscriptionJobStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>The requested vocabulary state.</p>\n      "
          }
        },
        "Vocabularies": {
          "target": "com.amazonaws.transcribe#Vocabularies",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of objects that describe the vocabularies that match the search criteria in the\n            request.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.transcribe#MaxAlternatives": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 2,
          "max": 10
        }
      }
    },
    "com.amazonaws.transcribe#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.transcribe#MaxSpeakers": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 2,
          "max": 10
        }
      }
    },
    "com.amazonaws.transcribe#Media": {
      "type": "structure",
      "members": {
        "MediaFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "\n        <p>The S3 location of the input media file. The URI must be in the same region as the API\n            endpoint that you are calling. The general form is:</p>\n        <p>\n            <code>\n                https://s3.<aws-region>.amazonaws.com/<bucket-name>/<keyprefix>/<objectkey>\n            </code>\n        </p>\n        <p>For example:</p>\n        <p>\n            <code>https://s3.us-east-1.amazonaws.com/examplebucket/example.mp4</code>\n         </p>\n        <p>\n            <code>https://s3.us-east-1.amazonaws.com/examplebucket/mediadocs/example.mp4</code>\n         </p>\n        <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes the input media file in a transcription request.</p>\n      "
      }
    },
    "com.amazonaws.transcribe#MediaFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "mp3": {
            "name": "MP3"
          },
          "mp4": {
            "name": "MP4"
          },
          "wav": {
            "name": "WAV"
          },
          "flac": {
            "name": "FLAC"
          }
        }
      }
    },
    "com.amazonaws.transcribe#MediaSampleRateHertz": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 8000,
          "max": 48000
        }
      }
    },
    "com.amazonaws.transcribe#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": ".+"
      }
    },
    "com.amazonaws.transcribe#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>We can't find the requested resource. Check the name and try your request\n            again.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.transcribe#OutputBucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]"
      }
    },
    "com.amazonaws.transcribe#OutputLocationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CUSTOMER_BUCKET": {
            "name": "CUSTOMER_BUCKET"
          },
          "SERVICE_BUCKET": {
            "name": "SERVICE_BUCKET"
          }
        }
      }
    },
    "com.amazonaws.transcribe#Phrase": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".+"
      }
    },
    "com.amazonaws.transcribe#Phrases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#Phrase"
      }
    },
    "com.amazonaws.transcribe#Settings": {
      "type": "structure",
      "members": {
        "ChannelIdentification": {
          "target": "com.amazonaws.transcribe#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Instructs Amazon Transcribe to process each audio channel separately and then merge the\n            transcription output of each channel into a single transcription. </p>\n        <p>Amazon Transcribe also produces a transcription of each item detected on an audio channel,\n            including the start time and end time of the item and alternative transcriptions of the\n            item including the confidence that Amazon Transcribe has in the transcription.</p>\n        <p>You can't set both <code>ShowSpeakerLabels</code> and\n                <code>ChannelIdentification</code> in the same request. If you set both, your\n            request returns a <code>BadRequestException</code>.</p>\n      "
          }
        },
        "MaxAlternatives": {
          "target": "com.amazonaws.transcribe#MaxAlternatives",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of alternative transcriptions that the service should return. If you\n        specify the <code>MaxAlternatives</code> field, you must set the <code>ShowAlternatives</code>\n        field to true.</p>\n      "
          }
        },
        "MaxSpeakerLabels": {
          "target": "com.amazonaws.transcribe#MaxSpeakers",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of speakers to identify in the input audio. If there are more\n            speakers in the audio than this number, multiple speakers will be identified as a single\n            speaker. If you specify the <code>MaxSpeakerLabels</code> field, you must set the\n                <code>ShowSpeakerLabels</code> field to true.</p>\n      "
          }
        },
        "ShowAlternatives": {
          "target": "com.amazonaws.transcribe#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Determines whether the transcription contains alternative transcriptions. If you set\n            the <code>ShowAlternatives</code> field to true, you must also set the maximum number of\n            alternatives to return in the <code>MaxAlternatives</code> field.</p>\n      "
          }
        },
        "ShowSpeakerLabels": {
          "target": "com.amazonaws.transcribe#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Determines whether the transcription job uses speaker recognition to identify\n            different speakers in the input audio. Speaker recognition labels individual speakers in\n            the audio file. If you set the <code>ShowSpeakerLabels</code> field to true, you must\n            also set the maximum number of speaker labels <code>MaxSpeakerLabels</code>\n            field.</p>\n        <p>You can't set both <code>ShowSpeakerLabels</code> and\n                <code>ChannelIdentification</code> in the same request. If you set both, your\n            request returns a <code>BadRequestException</code>.</p>\n      "
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of a vocabulary to use when processing the transcription job.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Provides optional settings for the <code>StartTranscriptionJob</code>\n            operation.</p>\n      "
      }
    },
    "com.amazonaws.transcribe#StartTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#StartTranscriptionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#StartTranscriptionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Starts an asynchronous job to transcribe speech to text. </p>\n      ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/transcriptionjobs/{TranscriptionJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#StartTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The language code for the language used in the input media file.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Media": {
          "target": "com.amazonaws.transcribe#Media",
          "traits": {
            "smithy.api#documentation": "\n        <p>An object that describes the input media for a transcription job.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "MediaFormat": {
          "target": "com.amazonaws.transcribe#MediaFormat",
          "traits": {
            "smithy.api#documentation": "\n        <p>The format of the input media file.</p>\n      "
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribe#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "\n        <p>The sample rate, in Hertz, of the audio track in the input media file. </p>\n        <p>If you do not specify the media sample rate, Amazon Transcribe determines the sample rate. If you\n            specify the sample rate, it must match the sample rate detected by Amazon Transcribe. In most cases,\n            you should leave the <code>MediaSampleRateHertz</code> field blank and let Amazon Transcribe\n            determine the sample rate.</p>\n      "
          }
        },
        "OutputBucketName": {
          "target": "com.amazonaws.transcribe#OutputBucketName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The location where the transcription is stored.</p>\n        <p>If you set the <code>OutputBucketName</code>, Amazon Transcribe puts the transcription in the\n            specified S3 bucket. When you call the <a>GetTranscriptionJob</a> operation,\n            the operation returns this location in the <code>TranscriptFileUri</code> field. The S3\n            bucket must have permissions that allow Amazon Transcribe to put files in the bucket. For more\n            information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/security_iam_id-based-policy-examples.html#auth-role-iam-user\">Permissions Required for IAM User Roles</a>.</p>\n        <p>You can specify an AWS Key Management Service (KMS) key to encrypt the output of\n            your transcription using the <code>OutputEncryptionKMSKeyId</code> parameter. If you\n            don't specify a KMS key, Amazon Transcribe uses the default Amazon S3 key for server-side encryption\n            of transcripts that are placed in your S3 bucket.</p>\n        <p>If you don't set the <code>OutputBucketName</code>, Amazon Transcribe generates a pre-signed URL,\n            a shareable URL that provides secure access to your transcription, and returns it in the\n                <code>TranscriptFileUri</code> field. Use this URL to download the\n            transcription.</p>\n      "
          }
        },
        "OutputEncryptionKMSKeyId": {
          "target": "com.amazonaws.transcribe#KMSKeyId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the AWS Key Management Service (KMS) key used to\n            encrypt the output of the transcription job. The user calling the\n                <code>StartTranscriptionJob</code> operation must have permission to use the\n            specified KMS key.</p>\n        <p>You can use either of the following to identify a KMS key in the current\n            account:</p>\n        <ul>\n            <li>\n                <p>KMS Key ID: \"1234abcd-12ab-34cd-56ef-1234567890ab\"</p>\n            </li>\n            <li>\n                <p>KMS Key Alias: \"alias/ExampleAlias\"</p>\n            </li>\n         </ul>\n        <p>You can use either of the following to identify a KMS key in the current account or\n            another account:</p>\n        <ul>\n            <li>\n                <p>Amazon Resource Name (ARN) of a KMS Key: \"arn:aws:kms:region:account\n                    ID:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</p>\n            </li>\n            <li>\n                <p>ARN of a KMS Key Alias: \"arn:aws:kms:region:account\n                    ID:alias/ExampleAlias\"</p>\n            </li>\n         </ul>\n        <p>If you don't specify an encryption key, the output of the transcription job is\n            encrypted with the default Amazon S3 key (SSE-S3).\n        </p>\n        <p>If you specify a KMS key to encrypt your output, you must also specify an\n        output location in the <code>OutputBucketName</code> parameter.</p>\n      "
          }
        },
        "Settings": {
          "target": "com.amazonaws.transcribe#Settings",
          "traits": {
            "smithy.api#documentation": "\n        <p>A <code>Settings</code> object that provides optional settings for a transcription\n            job.</p>\n      "
          }
        },
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the job. Note that you can't use the strings \".\" or \"..\" by themselves as\n            the job name. The name must also be unique within an AWS account.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.transcribe#StartTranscriptionJobResponse": {
      "type": "structure",
      "members": {
        "TranscriptionJob": {
          "target": "com.amazonaws.transcribe#TranscriptionJob",
          "traits": {
            "smithy.api#documentation": "\n        <p>An object containing details of the asynchronous transcription job.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.transcribe#String": {
      "type": "string"
    },
    "com.amazonaws.transcribe#Transcribe": {
      "type": "service",
      "version": "2017-10-26",
      "operations": [
        {
          "target": "com.amazonaws.transcribe#CreateVocabulary"
        },
        {
          "target": "com.amazonaws.transcribe#DeleteTranscriptionJob"
        },
        {
          "target": "com.amazonaws.transcribe#DeleteVocabulary"
        },
        {
          "target": "com.amazonaws.transcribe#GetTranscriptionJob"
        },
        {
          "target": "com.amazonaws.transcribe#GetVocabulary"
        },
        {
          "target": "com.amazonaws.transcribe#ListTranscriptionJobs"
        },
        {
          "target": "com.amazonaws.transcribe#ListVocabularies"
        },
        {
          "target": "com.amazonaws.transcribe#StartTranscriptionJob"
        },
        {
          "target": "com.amazonaws.transcribe#UpdateVocabulary"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Transcribe",
          "arnNamespace": "transcribe",
          "cloudFormationName": "Transcribe",
          "cloudTrailEventSource": "transcribe.amazonaws.com"
        },
        "smithy.api#documentation": "\n        <p>Operations and objects for transcribing speech to text.</p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Transcribe Service"
      }
    },
    "com.amazonaws.transcribe#Transcript": {
      "type": "structure",
      "members": {
        "TranscriptFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "\n        <p>The location where the transcription is stored.</p>\n        <p>Use this URI to access the transcription. If you specified an S3 bucket in the\n                <code>OutputBucketName</code> field when you created the job, this is the URI of\n            that bucket. If you chose to store the transcription in Amazon Transcribe, this is a shareable URL\n            that provides secure access to that location.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Identifies the location of a transcription.</p>\n      "
      }
    },
    "com.amazonaws.transcribe#TranscriptionJob": {
      "type": "structure",
      "members": {
        "CompletionTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "\n        <p>A timestamp that shows when the job was completed.</p>\n      "
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "\n        <p>A timestamp that shows when the job was created.</p>\n      "
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "\n        <p>If the <code>TranscriptionJobStatus</code> field is <code>FAILED</code>, this field\n            contains information about why the job failed.</p>\n        <p>The <code>FailureReason</code> field can contain one of the following values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>Unsupported media format</code> - The media format specified in the\n                        <code>MediaFormat</code> field of the request isn't valid. See the\n                    description of the <code>MediaFormat</code> field for a list of valid\n                    values.</p>\n            </li>\n            <li>\n                <p>\n                  <code>The media format provided does not match the detected media\n                        format</code> - The media format of the audio file doesn't match the format\n                    specified in the <code>MediaFormat</code> field in the request. Check the media\n                    format of your media file and make sure that the two values match.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Invalid sample rate for audio file</code> - The sample rate specified in\n                    the <code>MediaSampleRateHertz</code> of the request isn't valid. The sample\n                    rate must be between 8000 and 48000 Hertz.</p>\n            </li>\n            <li>\n                <p>\n                  <code>The sample rate provided does not match the detected sample rate</code>\n                    - The sample rate in the audio file doesn't match the sample rate specified in\n                    the <code>MediaSampleRateHertz</code> field in the request. Check the sample\n                    rate of your media file and make sure that the two values match.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Invalid file size: file size too large</code> - The size of your audio\n                    file is larger than Amazon Transcribe can process. For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/limits-guidelines.html#limits\">Limits</a> in the <i>Amazon Transcribe Developer Guide</i>.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Invalid number of channels: number of channels too large</code> - Your\n                    audio contains more channels than Amazon Transcribe is configured to process. To request\n                    additional channels, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits-amazon-transcribe\">Amazon Transcribe Limits</a> in the <i>Amazon Web Services\n                        General Reference</i>.</p>\n            </li>\n         </ul>\n      "
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The language code for the input speech.</p>\n      "
          }
        },
        "Media": {
          "target": "com.amazonaws.transcribe#Media",
          "traits": {
            "smithy.api#documentation": "\n        <p>An object that describes the input media for the transcription job.</p>\n      "
          }
        },
        "MediaFormat": {
          "target": "com.amazonaws.transcribe#MediaFormat",
          "traits": {
            "smithy.api#documentation": "\n        <p>The format of the input media file.</p>\n      "
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribe#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "\n        <p>The sample rate, in Hertz, of the audio track in the input media file. </p>\n      "
          }
        },
        "Settings": {
          "target": "com.amazonaws.transcribe#Settings",
          "traits": {
            "smithy.api#documentation": "\n        <p>Optional settings for the transcription job. Use these settings to turn on speaker\n            recognition, to set the maximum number of speakers that should be identified and to\n            specify a custom vocabulary to use when processing the transcription job.</p>\n      "
          }
        },
        "Transcript": {
          "target": "com.amazonaws.transcribe#Transcript",
          "traits": {
            "smithy.api#documentation": "\n        <p>An object that describes the output of the transcription job.</p>\n      "
          }
        },
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the transcription job.</p>\n      "
          }
        },
        "TranscriptionJobStatus": {
          "target": "com.amazonaws.transcribe#TranscriptionJobStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>The status of the transcription job.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes an asynchronous transcription job that was created with the\n                <code>StartTranscriptionJob</code> operation. </p>\n      "
      }
    },
    "com.amazonaws.transcribe#TranscriptionJobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+"
      }
    },
    "com.amazonaws.transcribe#TranscriptionJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "FAILED": {
            "name": "FAILED"
          },
          "COMPLETED": {
            "name": "COMPLETED"
          }
        }
      }
    },
    "com.amazonaws.transcribe#TranscriptionJobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#TranscriptionJobSummary"
      }
    },
    "com.amazonaws.transcribe#TranscriptionJobSummary": {
      "type": "structure",
      "members": {
        "CompletionTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "\n        <p>A timestamp that shows when the job was completed.</p>\n      "
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "\n        <p>A timestamp that shows when the job was created.</p>\n      "
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "\n        <p>If the <code>TranscriptionJobStatus</code> field is <code>FAILED</code>, a description\n            of the error.</p>\n      "
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The language code for the input speech.</p>\n      "
          }
        },
        "OutputLocationType": {
          "target": "com.amazonaws.transcribe#OutputLocationType",
          "traits": {
            "smithy.api#documentation": "\n        <p>Indicates the location of the output of the transcription job.</p>\n        <p>If the value is <code>CUSTOMER_BUCKET</code> then the location is the S3 bucket\n            specified in the <code>outputBucketName</code> field when the transcription job was\n            started with the <code>StartTranscriptionJob</code> operation.</p>\n        <p>If the value is <code>SERVICE_BUCKET</code> then the output is stored by Amazon Transcribe and can\n            be retrieved using the URI in the <code>GetTranscriptionJob</code> response's\n                <code>TranscriptFileUri</code> field.</p>\n      "
          }
        },
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the transcription job.</p>\n      "
          }
        },
        "TranscriptionJobStatus": {
          "target": "com.amazonaws.transcribe#TranscriptionJobStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>The status of the transcription job. When the status is <code>COMPLETED</code>, use\n            the <code>GetTranscriptionJob</code> operation to get the results of the\n            transcription.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Provides a summary of information about a transcription job.</p>\n      "
      }
    },
    "com.amazonaws.transcribe#UpdateVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#UpdateVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#UpdateVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Updates an existing vocabulary with new values. The <code>UpdateVocabulary</code>\n            operation overwrites all of the existing information with the values that you provide in\n            the request. </p>\n      ",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#UpdateVocabularyRequest": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The language code of the vocabulary entries.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Phrases": {
          "target": "com.amazonaws.transcribe#Phrases",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of strings containing the vocabulary entries.</p>\n      "
          }
        },
        "VocabularyFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "\n        <p>The S3 location of the text file that contains the definition of the custom\n            vocabulary. The URI must be in the same region as the API endpoint that you are calling.\n            The general form is </p>\n        <p>\n            <code>\n                https://s3.<aws-region>.amazonaws.com/<bucket-name>/<keyprefix>/<objectkey>\n            </code>\n        </p>\n        <p>For example:</p>\n        <p>\n            <code>https://s3.us-east-1.amazonaws.com/examplebucket/vocab.txt</code>\n         </p>\n        <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p>\n        <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n      "
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the vocabulary to update. The name is case-sensitive.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.transcribe#UpdateVocabularyResponse": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The language code of the vocabulary entries.</p>\n      "
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "\n        <p>The date and time that the vocabulary was updated.</p>\n      "
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the vocabulary that was updated.</p>\n      "
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "\n        <p>The processing state of the vocabulary. When the <code>VocabularyState</code> field\n            contains <code>READY</code> the vocabulary is ready to be used in a\n                <code>StartTranscriptionJob</code> request.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.transcribe#Uri": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        },
        "smithy.api#pattern": "(s3://|http(s*)://).+"
      }
    },
    "com.amazonaws.transcribe#Vocabularies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#VocabularyInfo"
      }
    },
    "com.amazonaws.transcribe#VocabularyInfo": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The language code of the vocabulary entries.</p>\n      "
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "\n        <p>The date and time that the vocabulary was last modified.</p>\n      "
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the vocabulary.</p>\n      "
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "\n        <p>The processing state of the vocabulary. If the state is <code>READY</code> you can use\n            the vocabulary in a <code>StartTranscriptionJob</code> request.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Provides information about a custom vocabulary. </p>\n      "
      }
    },
    "com.amazonaws.transcribe#VocabularyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+"
      }
    },
    "com.amazonaws.transcribe#VocabularyState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PENDING": {
            "name": "PENDING"
          },
          "READY": {
            "name": "READY"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    }
  }
}
