{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.transcribestreaming#Alternative": {
      "type": "structure",
      "members": {
        "Transcript": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains transcribed text.</p>"
          }
        },
        "Items": {
          "target": "com.amazonaws.transcribestreaming#ItemList",
          "traits": {
            "smithy.api#documentation": "<p>Contains words, phrases, or punctuation marks in your transcription output.</p>"
          }
        },
        "Entities": {
          "target": "com.amazonaws.transcribestreaming#EntityList",
          "traits": {
            "smithy.api#documentation": "<p>Contains entities identified as personally identifiable information (PII) in your transcription \n      output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of possible alternative transcriptions for the input audio. Each alternative may contain\n      one or more of <code>Items</code>, <code>Entities</code>, or <code>Transcript</code>.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#AlternativeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#Alternative"
      }
    },
    "com.amazonaws.transcribestreaming#AudioChunk": {
      "type": "blob"
    },
    "com.amazonaws.transcribestreaming#AudioEvent": {
      "type": "structure",
      "members": {
        "AudioChunk": {
          "target": "com.amazonaws.transcribestreaming#AudioChunk",
          "traits": {
            "smithy.api#documentation": "<p>An audio blob that contains the next part of the audio that you want to transcribe. The\n      maximum audio chunk size is 32 KB.</p>",
            "smithy.api#eventPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A wrapper for your audio chunks. Your audio stream consists of one or more audio\n      events, which consist of one or more audio chunks.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/event-stream.html\">Event stream encoding</a>.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#AudioStream": {
      "type": "union",
      "members": {
        "AudioEvent": {
          "target": "com.amazonaws.transcribestreaming#AudioEvent",
          "traits": {
            "smithy.api#documentation": "<p>A blob of audio from your application. Your audio stream consists of one or more audio\n      events.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/event-stream.html\">Event stream encoding</a>.</p>"
          }
        },
        "ConfigurationEvent": {
          "target": "com.amazonaws.transcribestreaming#ConfigurationEvent",
          "traits": {
            "smithy.api#documentation": "<p>Contains audio channel definitions and post-call analytics settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An encoded stream of audio blobs. Audio streams are encoded as either HTTP/2 or WebSocket \n      data frames.</p> \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing streaming audio</a>.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.transcribestreaming#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribestreaming#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more arguments to the <code>StartStreamTranscription</code>, \n      <code>StartMedicalStreamTranscription</code>, or <code>StartCallAnalyticsStreamTranscription</code> \n      operation was not valid. For example, <code>MediaEncoding</code> or <code>LanguageCode</code> \n      used not valid values. Check the specified parameters and try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.transcribestreaming#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.transcribestreaming#CallAnalyticsEntity": {
      "type": "structure",
      "members": {
        "BeginOffsetMillis": {
          "target": "com.amazonaws.transcribestreaming#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds, from the beginning of the audio stream to the start of the identified entity.</p>"
          }
        },
        "EndOffsetMillis": {
          "target": "com.amazonaws.transcribestreaming#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds, from the beginning of the audio stream to the end of the identified entity.</p>"
          }
        },
        "Category": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The category of information identified. For example, <code>PII</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of PII identified. For example, <code>NAME</code> or \n      <code>CREDIT_DEBIT_NUMBER</code>.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or words that represent the identified entity.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.transcribestreaming#Confidence",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score associated with the identification of an entity in your transcript.</p>\n         <p>Confidence scores are values between 0 and 1. A larger value indicates a higher\n      probability that the identified entity correctly matches the entity spoken in your\n      media.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains entities identified as personally identifiable information (PII) in your\n      transcription output, along with various associated attributes. Examples include category,\n      confidence score, content, type, and start and end times.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#CallAnalyticsEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#CallAnalyticsEntity"
      }
    },
    "com.amazonaws.transcribestreaming#CallAnalyticsItem": {
      "type": "structure",
      "members": {
        "BeginOffsetMillis": {
          "target": "com.amazonaws.transcribestreaming#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds, from the beginning of the audio stream to the start of the identified item.</p>"
          }
        },
        "EndOffsetMillis": {
          "target": "com.amazonaws.transcribestreaming#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds, from the beginning of the audio stream to the end of the identified item.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.transcribestreaming#ItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of item identified. Options are: <code>PRONUNCIATION</code> (spoken words) and\n      <code>PUNCTUATION</code>.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or punctuation that was transcribed.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.transcribestreaming#Confidence",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score associated with a word or phrase in your transcript.</p>\n         <p>Confidence scores are values between 0 and 1. A larger value indicates a higher\n      probability that the identified item correctly matches the item spoken in your media.</p>"
          }
        },
        "VocabularyFilterMatch": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the specified item matches a word in the vocabulary filter included in\n      your Call Analytics request. If <code>true</code>, there is a vocabulary filter match.</p>"
          }
        },
        "Stable": {
          "target": "com.amazonaws.transcribestreaming#Stable",
          "traits": {
            "smithy.api#documentation": "<p>If partial result stabilization is enabled, <code>Stable</code> indicates whether the specified \n      item is stable (<code>true</code>) or if it may change when the segment is complete \n      (<code>false</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A word, phrase, or punctuation mark in your Call Analytics transcription output, along with various \n      associated attributes, such as confidence score, type, and start and end times.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#CallAnalyticsItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#CallAnalyticsItem"
      }
    },
    "com.amazonaws.transcribestreaming#CallAnalyticsLanguageCode": {
      "type": "enum",
      "members": {
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-US"
          }
        },
        "EN_GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-GB"
          }
        },
        "ES_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es-US"
          }
        },
        "FR_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-CA"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-FR"
          }
        },
        "EN_AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-AU"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it-IT"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de-DE"
          }
        },
        "PT_BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt-BR"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#CallAnalyticsTranscriptResultStream": {
      "type": "union",
      "members": {
        "UtteranceEvent": {
          "target": "com.amazonaws.transcribestreaming#UtteranceEvent",
          "traits": {
            "smithy.api#documentation": "<p>Contains set of transcription results from one or more audio segments, along with additional \n      information per your request parameters. This can include information relating to channel definitions,\n      partial result stabilization, sentiment, issue detection, and other transcription-related data.</p>"
          }
        },
        "CategoryEvent": {
          "target": "com.amazonaws.transcribestreaming#CategoryEvent",
          "traits": {
            "smithy.api#documentation": "<p>Provides information on matched categories that were used to generate real-time supervisor \n      alerts.</p>"
          }
        },
        "BadRequestException": {
          "target": "com.amazonaws.transcribestreaming#BadRequestException"
        },
        "LimitExceededException": {
          "target": "com.amazonaws.transcribestreaming#LimitExceededException"
        },
        "InternalFailureException": {
          "target": "com.amazonaws.transcribestreaming#InternalFailureException"
        },
        "ConflictException": {
          "target": "com.amazonaws.transcribestreaming#ConflictException"
        },
        "ServiceUnavailableException": {
          "target": "com.amazonaws.transcribestreaming#ServiceUnavailableException"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about your Call Analytics streaming session. These details are \n      provided in the <code>UtteranceEvent</code> and <code>CategoryEvent</code> objects.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.transcribestreaming#CategoryEvent": {
      "type": "structure",
      "members": {
        "MatchedCategories": {
          "target": "com.amazonaws.transcribestreaming#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the categories that were matched in your audio segment.</p>"
          }
        },
        "MatchedDetails": {
          "target": "com.amazonaws.transcribestreaming#MatchedCategoryDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the matched categories, including category names and timestamps.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information on any <code>TranscriptFilterType</code> categories that matched your \n      transcription output. Matches are identified for each segment upon completion of that segment.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#ChannelDefinition": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.transcribestreaming#ChannelId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specify the audio channel you want to define.</p>",
            "smithy.api#required": {}
          }
        },
        "ParticipantRole": {
          "target": "com.amazonaws.transcribestreaming#ParticipantRole",
          "traits": {
            "smithy.api#documentation": "<p>Specify the speaker you want to define. Omitting this parameter is equivalent to\n      specifying both participants.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Makes it possible to specify which speaker is on which audio channel. For example, if your\n      agent is the first participant to speak, you would set <code>ChannelId</code> to\n      <code>0</code> (to indicate the first channel) and <code>ParticipantRole</code> to\n      <code>AGENT</code> (to indicate that it's the agent speaking).</p>"
      }
    },
    "com.amazonaws.transcribestreaming#ChannelDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#ChannelDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.transcribestreaming#ChannelId": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.transcribestreaming#CharacterOffsets": {
      "type": "structure",
      "members": {
        "Begin": {
          "target": "com.amazonaws.transcribestreaming#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Provides the character count of the first character where a match is identified. For example, the first\n      character associated with an issue or a category match in a segment transcript.</p>"
          }
        },
        "End": {
          "target": "com.amazonaws.transcribestreaming#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Provides the character count of the last character where a match is identified. For example, the last \n      character associated with an issue or a category match in a segment transcript.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the location, using character count, in your transcript where a match is identified. For example, \n      the location of an issue or a category match within a segment.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#Confidence": {
      "type": "double"
    },
    "com.amazonaws.transcribestreaming#ConfigurationEvent": {
      "type": "structure",
      "members": {
        "ChannelDefinitions": {
          "target": "com.amazonaws.transcribestreaming#ChannelDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>Indicates which speaker is on which audio channel.</p>"
          }
        },
        "PostCallAnalyticsSettings": {
          "target": "com.amazonaws.transcribestreaming#PostCallAnalyticsSettings",
          "traits": {
            "smithy.api#documentation": "<p>Provides additional optional settings for your Call Analytics post-call request, including \n      encryption and output locations for your redacted and unredacted transcript.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Allows you to set audio channel definitions and post-call analytics settings.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribestreaming#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A new stream started with the same session ID. The current stream has been terminated.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.transcribestreaming#ContentIdentificationType": {
      "type": "enum",
      "members": {
        "PII": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PII"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#ContentRedactionOutput": {
      "type": "enum",
      "members": {
        "REDACTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redacted"
          }
        },
        "REDACTED_AND_UNREDACTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redacted_and_unredacted"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#ContentRedactionType": {
      "type": "enum",
      "members": {
        "PII": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PII"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#Double": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.transcribestreaming#Entity": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The start time, in milliseconds, of the utterance that was identified as PII.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The end time, in milliseconds, of the utterance that was identified as PII.</p>"
          }
        },
        "Category": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The category of information identified. The only category is <code>PII</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of PII identified. For example, <code>NAME</code> or \n      <code>CREDIT_DEBIT_NUMBER</code>.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or words identified as PII.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.transcribestreaming#Confidence",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score associated with the identified PII entity in your audio.</p>\n         <p>Confidence scores are values between 0 and 1. A larger value indicates a higher\n      probability that the identified entity correctly matches the entity spoken in your\n      media.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains entities identified as personally identifiable information (PII) in your\n      transcription output, along with various associated attributes. Examples include category,\n      confidence score, type, stability score, and start and end times.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#EntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#Entity"
      }
    },
    "com.amazonaws.transcribestreaming#Integer": {
      "type": "integer"
    },
    "com.amazonaws.transcribestreaming#InternalFailureException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribestreaming#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A problem occurred while processing the audio. Amazon Transcribe terminated \n      processing.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.transcribestreaming#IssueDetected": {
      "type": "structure",
      "members": {
        "CharacterOffsets": {
          "target": "com.amazonaws.transcribestreaming#CharacterOffsets",
          "traits": {
            "smithy.api#documentation": "<p>Provides the timestamps that identify when in an audio segment the specified issue occurs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the issues that were identified in your audio segment.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#IssuesDetected": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#IssueDetected"
      }
    },
    "com.amazonaws.transcribestreaming#Item": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The start time, in milliseconds, of the transcribed item.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The end time, in milliseconds, of the transcribed item.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.transcribestreaming#ItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of item identified. Options are: <code>PRONUNCIATION</code> (spoken words) and\n      <code>PUNCTUATION</code>.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or punctuation that was transcribed.</p>"
          }
        },
        "VocabularyFilterMatch": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the specified item matches a word in the vocabulary filter included in\n      your request. If <code>true</code>, there is a vocabulary filter match.</p>"
          }
        },
        "Speaker": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>If speaker partitioning is enabled, <code>Speaker</code> labels the speaker of the\n      specified item.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.transcribestreaming#Confidence",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score associated with a word or phrase in your transcript.</p>\n         <p>Confidence scores are values between 0 and 1. A larger value indicates a higher\n      probability that the identified item correctly matches the item spoken in your media.</p>"
          }
        },
        "Stable": {
          "target": "com.amazonaws.transcribestreaming#Stable",
          "traits": {
            "smithy.api#documentation": "<p>If partial result stabilization is enabled, <code>Stable</code> indicates whether the specified \n      item is stable (<code>true</code>) or if it may change when the segment is complete \n      (<code>false</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A word, phrase, or punctuation mark in your transcription output, along with various associated\n      attributes, such as confidence score, type, and start and end times.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#ItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#Item"
      }
    },
    "com.amazonaws.transcribestreaming#ItemType": {
      "type": "enum",
      "members": {
        "PRONUNCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pronunciation"
          }
        },
        "PUNCTUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "punctuation"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#LanguageCode": {
      "type": "enum",
      "members": {
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-US"
          }
        },
        "EN_GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-GB"
          }
        },
        "ES_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es-US"
          }
        },
        "FR_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-CA"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-FR"
          }
        },
        "EN_AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-AU"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it-IT"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de-DE"
          }
        },
        "PT_BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt-BR"
          }
        },
        "JA_JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja-JP"
          }
        },
        "KO_KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ko-KR"
          }
        },
        "ZH_CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-CN"
          }
        },
        "HI_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hi-IN"
          }
        },
        "TH_TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "th-TH"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#LanguageIdentification": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#LanguageWithScore"
      }
    },
    "com.amazonaws.transcribestreaming#LanguageOptions": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[a-zA-Z-,]+$"
      }
    },
    "com.amazonaws.transcribestreaming#LanguageWithScore": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribestreaming#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the identified language.</p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The confidence score associated with the identified language code. Confidence scores are values\n      between zero and one; larger values indicate a higher confidence in the identified language.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The language code that represents the language identified in your audio, including the associated\n      confidence score. If you enabled channel identification in your request and each channel contained a \n      different language, you will have more than one <code>LanguageWithScore</code> result.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribestreaming#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your client has exceeded one of the Amazon Transcribe limits. This is typically the audio length\n      limit. Break your audio stream into smaller chunks and try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.transcribestreaming#Long": {
      "type": "long"
    },
    "com.amazonaws.transcribestreaming#MatchedCategoryDetails": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.transcribestreaming#String"
      },
      "value": {
        "target": "com.amazonaws.transcribestreaming#PointsOfInterest"
      }
    },
    "com.amazonaws.transcribestreaming#MediaEncoding": {
      "type": "enum",
      "members": {
        "PCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pcm"
          }
        },
        "OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ogg-opus"
          }
        },
        "FLAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flac"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#MediaSampleRateHertz": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 8000,
          "max": 48000
        }
      }
    },
    "com.amazonaws.transcribestreaming#MedicalAlternative": {
      "type": "structure",
      "members": {
        "Transcript": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains transcribed text.</p>"
          }
        },
        "Items": {
          "target": "com.amazonaws.transcribestreaming#MedicalItemList",
          "traits": {
            "smithy.api#documentation": "<p>Contains words, phrases, or punctuation marks in your transcription output.</p>"
          }
        },
        "Entities": {
          "target": "com.amazonaws.transcribestreaming#MedicalEntityList",
          "traits": {
            "smithy.api#documentation": "<p>Contains entities identified as personal health information (PHI) in your transcription \n            output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of possible alternative transcriptions for the input audio. Each alternative may\n            contain one or more of <code>Items</code>, <code>Entities</code>, or\n            <code>Transcript</code>.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalAlternativeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#MedicalAlternative"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalContentIdentificationType": {
      "type": "enum",
      "members": {
        "PHI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHI"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#MedicalEntity": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The start time, in milliseconds, of the utterance that was identified as PHI.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The end time, in milliseconds, of the utterance that was identified as PHI.</p>"
          }
        },
        "Category": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The category of information identified. The only category is <code>PHI</code>.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or words identified as PHI.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.transcribestreaming#Confidence",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score associated with the identified PHI entity in your audio.</p>\n        <p>Confidence scores are values between 0 and 1. A larger value indicates a higher\n            probability that the identified entity correctly matches the entity spoken in your\n            media.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains entities identified as personal health information (PHI) in your\n            transcription output, along with various associated attributes. Examples include\n            category, confidence score, type, stability score, and start and end times.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#MedicalEntity"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalItem": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The start time, in milliseconds, of the transcribed item.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The end time, in milliseconds, of the transcribed item.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.transcribestreaming#ItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of item identified. Options are: <code>PRONUNCIATION</code> (spoken \n            words) and <code>PUNCTUATION</code>.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or punctuation that was transcribed.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.transcribestreaming#Confidence",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score associated with a word or phrase in your transcript.</p>\n        <p>Confidence scores are values between 0 and 1. A larger value indicates a higher\n            probability that the identified item correctly matches the item spoken in your\n            media.</p>"
          }
        },
        "Speaker": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>If speaker partitioning is enabled, <code>Speaker</code> labels the speaker of the\n            specified item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A word, phrase, or punctuation mark in your transcription output, along with various \n            associated attributes, such as confidence score, type, and start and end times.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#MedicalItem"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalResult": {
      "type": "structure",
      "members": {
        "ResultId": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides a unique identifier for the <code>Result</code>.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The start time, in milliseconds, of the <code>Result</code>.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The end time, in milliseconds, of the <code>Result</code>.</p>"
          }
        },
        "IsPartial": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates if the segment is complete.</p>\n        <p>If <code>IsPartial</code> is <code>true</code>, the segment is not complete. If\n                <code>IsPartial</code> is <code>false</code>, the segment is complete.</p>"
          }
        },
        "Alternatives": {
          "target": "com.amazonaws.transcribestreaming#MedicalAlternativeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of possible alternative transcriptions for the input audio. Each alternative may \n            contain one or more of <code>Items</code>, <code>Entities</code>, or\n            <code>Transcript</code>.</p>"
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the channel identified for the <code>Result</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>Result</code> associated with a \n            <code></code>.</p>\n        <p>Contains a set of transcription results from one or more audio segments, along with\n            additional information per your request parameters. This can include information relating to\n            alternative transcriptions, channel identification, partial result stabilization, language \n            identification, and other transcription-related data.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#MedicalResult"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalTranscript": {
      "type": "structure",
      "members": {
        "Results": {
          "target": "com.amazonaws.transcribestreaming#MedicalResultList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a set of transcription results from one or more audio segments, along with \n            additional information per your request parameters. This can include information relating to \n            alternative transcriptions, channel identification, partial result stabilization, language \n            identification, and other transcription-related data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>MedicalTranscript</code> associated with a \n            <code></code>.</p>\n        <p>\n            <code>MedicalTranscript</code> contains <code>Results</code>, which contains a set of \n            transcription results from one or more audio segments, along with additional information per your \n            request parameters.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalTranscriptEvent": {
      "type": "structure",
      "members": {
        "Transcript": {
          "target": "com.amazonaws.transcribestreaming#MedicalTranscript",
          "traits": {
            "smithy.api#documentation": "<p>Contains <code>Results</code>, which contains a set of transcription results from one or \n            more audio segments, along with additional information per your request parameters. This can\n            include information relating to alternative transcriptions, channel identification, partial result \n            stabilization, language identification, and other transcription-related data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>MedicalTranscriptEvent</code> associated with a \n            <code>MedicalTranscriptResultStream</code>.</p>\n        <p>Contains a set of transcription results from one or more audio segments, along with additional \n            information per your request parameters.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#MedicalTranscriptResultStream": {
      "type": "union",
      "members": {
        "TranscriptEvent": {
          "target": "com.amazonaws.transcribestreaming#MedicalTranscriptEvent",
          "traits": {
            "smithy.api#documentation": "<p>The <code>MedicalTranscriptEvent</code> associated with a \n            <code>MedicalTranscriptResultStream</code>.</p>\n        <p>Contains a set of transcription results from one or more audio segments, along with \n            additional information per your request parameters. This can include information relating to\n            alternative transcriptions, channel identification, partial result stabilization, language \n            identification, and other transcription-related data.</p>"
          }
        },
        "BadRequestException": {
          "target": "com.amazonaws.transcribestreaming#BadRequestException"
        },
        "LimitExceededException": {
          "target": "com.amazonaws.transcribestreaming#LimitExceededException"
        },
        "InternalFailureException": {
          "target": "com.amazonaws.transcribestreaming#InternalFailureException"
        },
        "ConflictException": {
          "target": "com.amazonaws.transcribestreaming#ConflictException"
        },
        "ServiceUnavailableException": {
          "target": "com.amazonaws.transcribestreaming#ServiceUnavailableException"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about your streaming session.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.transcribestreaming#ModelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
      }
    },
    "com.amazonaws.transcribestreaming#NumberOfChannels": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 2
        }
      }
    },
    "com.amazonaws.transcribestreaming#PartialResultsStability": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#ParticipantRole": {
      "type": "enum",
      "members": {
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT"
          }
        },
        "CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#PiiEntityTypes": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^[A-Z_, ]+$"
      }
    },
    "com.amazonaws.transcribestreaming#PointsOfInterest": {
      "type": "structure",
      "members": {
        "TimestampRanges": {
          "target": "com.amazonaws.transcribestreaming#TimestampRanges",
          "traits": {
            "smithy.api#documentation": "<p>Contains the timestamp ranges (start time through end time) of matched categories and rules.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the timestamps of matched categories.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#PostCallAnalyticsSettings": {
      "type": "structure",
      "members": {
        "OutputLocation": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location where you want your Call Analytics post-call \n      transcription output stored. You can use any of the following formats to specify the output \n      location:</p>\n         <ol>\n            <li>\n               <p>s3://DOC-EXAMPLE-BUCKET</p>\n            </li>\n            <li>\n               <p>s3://DOC-EXAMPLE-BUCKET/my-output-folder/</p>\n            </li>\n            <li>\n               <p>s3://DOC-EXAMPLE-BUCKET/my-output-folder/my-call-analytics-job.json</p>\n            </li>\n         </ol>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that has permissions to\n      access the Amazon S3 bucket that contains your input files. If the role that you\n      specify doesn’t have the appropriate permissions to access the specified Amazon S3 \n      location, your request fails.</p>\n         <p>IAM role ARNs have the format\n      <code>arn:partition:iam::account:role/role-name-with-path</code>. For example:\n      <code>arn:aws:iam::111122223333:role/Admin</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns\">IAM\n        ARNs</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ContentRedactionOutput": {
          "target": "com.amazonaws.transcribestreaming#ContentRedactionOutput",
          "traits": {
            "smithy.api#documentation": "<p>Specify whether you want only a redacted transcript or both a redacted and an unredacted \n      transcript. If you choose redacted and unredacted, two JSON files are generated and stored in the \n      Amazon S3 output location you specify.</p>\n         <p>Note that to include <code>ContentRedactionOutput</code> in your request, you must \n      enable content redaction (<code>ContentRedactionType</code>).</p>"
          }
        },
        "OutputEncryptionKMSKeyId": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key you want to use to encrypt your Call Analytics post-call\n      output.</p>\n         <p>If using a key located in the <b>current</b>\n      Amazon Web Services account, you can specify your KMS key in one of four\n      ways:</p>\n         <ol>\n            <li>\n               <p>Use the KMS key ID itself. For example,\n          <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>Use an alias for the KMS key ID. For example,\n          <code>alias/ExampleAlias</code>.</p>\n            </li>\n            <li>\n               <p>Use the Amazon Resource Name (ARN) for the KMS key ID. For\n          example,\n          <code>arn:aws:kms:region:account-ID:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>Use the ARN for the KMS key alias. For example,\n          <code>arn:aws:kms:region:account-ID:alias/ExampleAlias</code>.</p>\n            </li>\n         </ol>\n         <p>If using a key located in a <b>different</b>\n      Amazon Web Services account than the current Amazon Web Services account, you can specify\n      your KMS key in one of two ways:</p>\n         <ol>\n            <li>\n               <p>Use the ARN for the KMS key ID. For example,\n          <code>arn:aws:kms:region:account-ID:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>Use the ARN for the KMS key alias. For example,\n          <code>arn:aws:kms:region:account-ID:alias/ExampleAlias</code>.</p>\n            </li>\n         </ol>\n         <p>Note that the user making the  request must\n      have permission to use the specified KMS key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Allows you to specify additional settings for your streaming Call Analytics \n      post-call request, including output locations for your redacted and unredacted \n      transcript, which IAM role to use, and, optionally, which encryption key to \n      use.</p>\n         <p>\n            <code>ContentRedactionOutput</code>, <code>DataAccessRoleArn</code>, and\n      <code>OutputLocation</code> are required fields.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#RequestId": {
      "type": "string"
    },
    "com.amazonaws.transcribestreaming#Result": {
      "type": "structure",
      "members": {
        "ResultId": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides a unique identifier for the <code>Result</code>.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The start time, in milliseconds, of the <code>Result</code>.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.transcribestreaming#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The end time, in milliseconds, of the <code>Result</code>.</p>"
          }
        },
        "IsPartial": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates if the segment is complete.</p>\n         <p>If <code>IsPartial</code> is <code>true</code>, the segment is not complete. If\n        <code>IsPartial</code> is <code>false</code>, the segment is complete.</p>"
          }
        },
        "Alternatives": {
          "target": "com.amazonaws.transcribestreaming#AlternativeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of possible alternative transcriptions for the input audio. Each alternative may contain\n      one or more of <code>Items</code>, <code>Entities</code>, or <code>Transcript</code>.</p>"
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.transcribestreaming#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates which audio channel is associated with the <code>Result</code>.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribestreaming#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code that represents the language spoken in your audio stream.</p>"
          }
        },
        "LanguageIdentification": {
          "target": "com.amazonaws.transcribestreaming#LanguageIdentification",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the dominant language identified in your stream.</p>\n         <p>If you enabled channel identification and each channel of your audio contains a different language,\n      you may have more than one result.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>Result</code> associated with a \n      <code></code>.</p>\n         <p>Contains a set of transcription results from one or more audio segments, along with additional \n      information per your request parameters. This can include information relating to alternative\n      transcriptions, channel identification, partial result stabilization, language identification, and other\n      transcription-related data.</p>"
      }
    },
    "com.amazonaws.transcribestreaming#ResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribestreaming#Result"
      }
    },
    "com.amazonaws.transcribestreaming#Sentiment": {
      "type": "enum",
      "members": {
        "POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITIVE"
          }
        },
        "NEGATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEGATIVE"
          }
        },
        "MIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIXED"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEUTRAL"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribestreaming#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service is currently unavailable. Try your request later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.transcribestreaming#SessionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
      }
    },
    "com.amazonaws.transcribestreaming#Specialty": {
      "type": "enum",
      "members": {
        "PRIMARYCARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARYCARE"
          }
        },
        "CARDIOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDIOLOGY"
          }
        },
        "NEUROLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEUROLOGY"
          }
        },
        "ONCOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONCOLOGY"
          }
        },
        "RADIOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RADIOLOGY"
          }
        },
        "UROLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UROLOGY"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#Stable": {
      "type": "boolean"
    },
    "com.amazonaws.transcribestreaming#StartCallAnalyticsStreamTranscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribestreaming#StartCallAnalyticsStreamTranscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribestreaming#StartCallAnalyticsStreamTranscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribestreaming#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts a bidirectional HTTP/2 or WebSocket stream where audio is streamed to \n      Amazon Transcribe and the transcription results are streamed to your application. Use this operation\n      for <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/call-analytics.html\">Call Analytics</a> transcriptions.</p>\n         <p>The following parameters are required:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>language-code</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>media-encoding</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>sample-rate</code>\n               </p>\n            </li>\n         </ul>\n         <p>For more information on streaming with Amazon Transcribe, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing streaming audio</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/call-analytics-stream-transcription",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribestreaming#StartCallAnalyticsStreamTranscriptionRequest": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribestreaming#CallAnalyticsLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>Specify the language code that represents the language spoken in your audio.</p>\n         <p>If you're unsure of the language spoken in your audio, consider using \n      <code>IdentifyLanguage</code> to enable automatic language identification.</p>\n         <p>For a list of languages supported with streaming Call Analytics, refer to the \n      <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported \n        languages</a> table.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-language-code",
            "smithy.api#required": {}
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribestreaming#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "<p>The sample rate of the input audio (in hertz). Low-quality audio, such as telephone audio,\n      is typically around 8,000 Hz. High-quality audio typically ranges from 16,000 Hz to 48,000 Hz.\n      Note that the sample rate you specify must match that of your audio.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-sample-rate",
            "smithy.api#required": {}
          }
        },
        "MediaEncoding": {
          "target": "com.amazonaws.transcribestreaming#MediaEncoding",
          "traits": {
            "smithy.api#documentation": "<p>Specify the encoding of your input audio. Supported formats are:</p>\n         <ul>\n            <li>\n               <p>FLAC</p>\n            </li>\n            <li>\n               <p>OPUS-encoded audio in an Ogg container</p>\n            </li>\n            <li>\n               <p>PCM (only signed 16-bit little-endian audio formats, which does not include WAV)</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-input.html#how-input-audio\">Media formats</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-media-encoding",
            "smithy.api#required": {}
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribestreaming#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the custom vocabulary that you want to use when processing your\n      transcription. Note that vocabulary names are case sensitive.</p>\n         <p>If the language of the specified custom vocabulary doesn't match the language identified in\n      your media, the custom vocabulary is not applied to your transcription.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom vocabularies</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-name"
          }
        },
        "SessionId": {
          "target": "com.amazonaws.transcribestreaming#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>Specify a name for your Call Analytics transcription session. If you don't include this parameter\n      in your request, Amazon Transcribe generates an ID and returns it in the response.</p>\n         <p>You can use a session ID to retry a streaming session.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-session-id"
          }
        },
        "AudioStream": {
          "target": "com.amazonaws.transcribestreaming#AudioStream",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribestreaming#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the custom vocabulary filter that you want to use when processing your\n      transcription. Note that vocabulary filter names are case sensitive.</p>\n         <p>If the language of the specified custom vocabulary filter doesn't match the language identified in\n      your media, the vocabulary filter is not applied to your transcription.</p>  \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/vocabulary-filtering.html\">Using vocabulary filtering with unwanted \n      words</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-filter-name"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.transcribestreaming#VocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>Specify how you want your vocabulary filter applied to your transcript.</p>\n         <p>To replace words with <code>***</code>, choose <code>mask</code>.</p>\n         <p>To delete words, choose <code>remove</code>.</p>\n         <p>To flag words without changing them, choose <code>tag</code>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-filter-method"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.transcribestreaming#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the custom language model that you want to use when processing your\n      transcription. Note that language model names are case sensitive.</p>\n         <p>The language of the specified language model must match the language code you specify\n      in your transcription request. If the languages don't match, the custom language model isn't applied. \n      There are no errors or warnings associated with a language mismatch.</p> \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-language-models.html\">Custom language models</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-language-model-name"
          }
        },
        "EnablePartialResultsStabilization": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables partial result stabilization for your transcription. Partial result stabilization can reduce\n      latency in your output, but may impact accuracy. For more information, see \n      <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#streaming-partial-result-stabilization\">Partial-result \n        stabilization</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-enable-partial-results-stabilization"
          }
        },
        "PartialResultsStability": {
          "target": "com.amazonaws.transcribestreaming#PartialResultsStability",
          "traits": {
            "smithy.api#documentation": "<p>Specify the level of stability to use when you enable partial results stabilization \n      (<code>EnablePartialResultsStabilization</code>).</p> \n         <p>Low stability provides the highest accuracy. High stability transcribes faster, but with slightly\n      lower accuracy.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#streaming-partial-result-stabilization\">Partial-result \n      stabilization</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-partial-results-stability"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.transcribestreaming#ContentIdentificationType",
          "traits": {
            "smithy.api#documentation": "<p>Labels all personally identifiable information (PII) identified in your transcript.</p>     \n         <p>Content identification is performed at the segment level; PII specified in \n      <code>PiiEntityTypes</code> is flagged upon complete transcription of an audio segment.</p> \n         <p>You can’t set <code>ContentIdentificationType</code> and <code>ContentRedactionType</code>\n      in the same request. If you set both, your request returns a\n      <code>BadRequestException</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/pii-redaction.html\">Redacting or identifying personally identifiable\n      information</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-content-identification-type"
          }
        },
        "ContentRedactionType": {
          "target": "com.amazonaws.transcribestreaming#ContentRedactionType",
          "traits": {
            "smithy.api#documentation": "<p>Redacts all personally identifiable information (PII) identified in your transcript.</p>     \n         <p>Content redaction is performed at the segment level; PII specified in \n      <code>PiiEntityTypes</code> is redacted upon complete transcription of an audio segment.</p> \n         <p>You can’t set <code>ContentRedactionType</code> and <code>ContentIdentificationType</code>\n      in the same request. If you set both, your request returns a\n      <code>BadRequestException</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/pii-redaction.html\">Redacting or identifying personally identifiable\n      information</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-content-redaction-type"
          }
        },
        "PiiEntityTypes": {
          "target": "com.amazonaws.transcribestreaming#PiiEntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>Specify which types of personally identifiable information (PII) you want to redact in your \n      transcript. You can include as many types as you'd like, or you can select \n      <code>ALL</code>.</p>\n         <p>To include <code>PiiEntityTypes</code> in your Call Analytics request, you must also include \n      either <code>ContentIdentificationType</code> or <code>ContentRedactionType</code>.</p>\n         <p>Values must be comma-separated and can include:\n      <code>BANK_ACCOUNT_NUMBER</code>, <code>BANK_ROUTING</code>,\n      <code>CREDIT_DEBIT_NUMBER</code>, <code>CREDIT_DEBIT_CVV</code>, \n      <code>CREDIT_DEBIT_EXPIRY</code>, <code>PIN</code>, <code>EMAIL</code>, \n      <code>ADDRESS</code>, <code>NAME</code>, <code>PHONE</code>, \n      <code>SSN</code>, or <code>ALL</code>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-pii-entity-types"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#StartCallAnalyticsStreamTranscriptionResponse": {
      "type": "structure",
      "members": {
        "RequestId": {
          "target": "com.amazonaws.transcribestreaming#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>Provides the identifier for your Call Analytics streaming request.</p>",
            "smithy.api#httpHeader": "x-amzn-request-id"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribestreaming#CallAnalyticsLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>Provides the language code that you specified in your Call Analytics request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-language-code"
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribestreaming#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "<p>Provides the sample rate that you specified in your Call Analytics request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-sample-rate"
          }
        },
        "MediaEncoding": {
          "target": "com.amazonaws.transcribestreaming#MediaEncoding",
          "traits": {
            "smithy.api#documentation": "<p>Provides the media encoding you specified in your Call Analytics request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-media-encoding"
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribestreaming#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the custom vocabulary that you specified in your Call Analytics request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-name"
          }
        },
        "SessionId": {
          "target": "com.amazonaws.transcribestreaming#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>Provides the identifier for your Call Analytics transcription session.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-session-id"
          }
        },
        "CallAnalyticsTranscriptResultStream": {
          "target": "com.amazonaws.transcribestreaming#CallAnalyticsTranscriptResultStream",
          "traits": {
            "smithy.api#documentation": "<p>Provides detailed information about your Call Analytics streaming session.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribestreaming#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the custom vocabulary filter that you specified in your Call Analytics\n      request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-filter-name"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.transcribestreaming#VocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>Provides the vocabulary filtering method used in your Call Analytics transcription.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-filter-method"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.transcribestreaming#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the custom language model that you specified in your Call Analytics \n      request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-language-model-name"
          }
        },
        "EnablePartialResultsStabilization": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Shows whether partial results stabilization was enabled for your Call Analytics transcription.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-enable-partial-results-stabilization"
          }
        },
        "PartialResultsStability": {
          "target": "com.amazonaws.transcribestreaming#PartialResultsStability",
          "traits": {
            "smithy.api#documentation": "<p>Provides the stabilization level used for your transcription.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-partial-results-stability"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.transcribestreaming#ContentIdentificationType",
          "traits": {
            "smithy.api#documentation": "<p>Shows whether content identification was enabled for your Call Analytics transcription.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-content-identification-type"
          }
        },
        "ContentRedactionType": {
          "target": "com.amazonaws.transcribestreaming#ContentRedactionType",
          "traits": {
            "smithy.api#documentation": "<p>Shows whether content redaction was enabled for your Call Analytics transcription.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-content-redaction-type"
          }
        },
        "PiiEntityTypes": {
          "target": "com.amazonaws.transcribestreaming#PiiEntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>Lists the PII entity types you specified in your Call Analytics request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-pii-entity-types"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#StartMedicalStreamTranscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribestreaming#StartMedicalStreamTranscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribestreaming#StartMedicalStreamTranscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribestreaming#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts a bidirectional HTTP/2 or WebSocket stream where audio is streamed to \n            Amazon Transcribe Medical and the transcription results are streamed to your\n            application.</p>  \n        <p>The following parameters are required:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>language-code</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>media-encoding</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>sample-rate</code>\n               </p>\n            </li>\n         </ul>\n        <p>For more information on streaming with Amazon Transcribe Medical, see \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing\n                streaming audio</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/medical-stream-transcription",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribestreaming#StartMedicalStreamTranscriptionRequest": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribestreaming#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>Specify the language code that represents the language spoken in your audio.</p>\n        <important>\n            <p>Amazon Transcribe Medical only supports US English (<code>en-US</code>).</p>\n        </important>",
            "smithy.api#httpHeader": "x-amzn-transcribe-language-code",
            "smithy.api#required": {}
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribestreaming#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "<p>The sample rate of the input audio (in hertz). Amazon Transcribe Medical supports a\n            range from 16,000 Hz to 48,000 Hz. Note that the sample rate you specify must match that\n            of your audio.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-sample-rate",
            "smithy.api#required": {}
          }
        },
        "MediaEncoding": {
          "target": "com.amazonaws.transcribestreaming#MediaEncoding",
          "traits": {
            "smithy.api#documentation": "<p>Specify the encoding used for the input audio. Supported formats are:</p>\n        <ul>\n            <li>\n                <p>FLAC</p>\n            </li>\n            <li>\n                <p>OPUS-encoded audio in an Ogg container</p>\n            </li>\n            <li>\n                <p>PCM (only signed 16-bit little-endian audio formats, which does not include\n                    WAV)</p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-input.html#how-input-audio\">Media formats</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-media-encoding",
            "smithy.api#required": {}
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribestreaming#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the custom vocabulary that you want to use when processing your\n            transcription. Note that vocabulary names are case sensitive.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-name"
          }
        },
        "Specialty": {
          "target": "com.amazonaws.transcribestreaming#Specialty",
          "traits": {
            "smithy.api#documentation": "<p>Specify the medical specialty contained in your audio.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-specialty",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.transcribestreaming#Type",
          "traits": {
            "smithy.api#documentation": "<p>Specify the type of input audio. For example, choose <code>DICTATION</code> for a \n            provider dictating patient notes and <code>CONVERSATION</code> for a dialogue between a\n            patient and a medical professional.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-type",
            "smithy.api#required": {}
          }
        },
        "ShowSpeakerLabel": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables speaker partitioning (diarization) in your transcription output. Speaker\n            partitioning labels the speech from individual speakers in your media file.</p> \n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/diarization.html\">Partitioning speakers (diarization)</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-show-speaker-label"
          }
        },
        "SessionId": {
          "target": "com.amazonaws.transcribestreaming#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>Specify a name for your transcription session. If you don't include this parameter in \n            your request, Amazon Transcribe Medical generates an ID and returns it in the\n            response.</p>\n        <p>You can use a session ID to retry a streaming session.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-session-id"
          }
        },
        "AudioStream": {
          "target": "com.amazonaws.transcribestreaming#AudioStream",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "EnableChannelIdentification": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables channel identification in multi-channel audio.</p>\n        <p>Channel identification transcribes the audio on each channel independently, then appends\n            the output for each channel into one transcript.</p>\n        <p>If you have multi-channel audio and do not enable channel identification, your audio is \n            transcribed in a continuous manner and your transcript is not separated by channel.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/channel-id.html\">Transcribing multi-channel audio</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-enable-channel-identification"
          }
        },
        "NumberOfChannels": {
          "target": "com.amazonaws.transcribestreaming#NumberOfChannels",
          "traits": {
            "smithy.api#documentation": "<p>Specify the number of channels in your audio stream. Up to two channels are\n            supported.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-number-of-channels"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.transcribestreaming#MedicalContentIdentificationType",
          "traits": {
            "smithy.api#documentation": "<p>Labels all personal health information (PHI) identified in your transcript.</p>     \n        <p>Content identification is performed at the segment level; PHI is flagged upon complete\n            transcription of an audio segment.</p> \n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/phi-id.html\">Identifying personal health information (PHI) in a\n            transcription</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-content-identification-type"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#StartMedicalStreamTranscriptionResponse": {
      "type": "structure",
      "members": {
        "RequestId": {
          "target": "com.amazonaws.transcribestreaming#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>Provides the identifier for your streaming request.</p>",
            "smithy.api#httpHeader": "x-amzn-request-id"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribestreaming#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>Provides the language code that you specified in your request. This must be\n                <code>en-US</code>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-language-code"
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribestreaming#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "<p>Provides the sample rate that you specified in your request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-sample-rate"
          }
        },
        "MediaEncoding": {
          "target": "com.amazonaws.transcribestreaming#MediaEncoding",
          "traits": {
            "smithy.api#documentation": "<p>Provides the media encoding you specified in your request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-media-encoding"
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribestreaming#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the custom vocabulary that you specified in your request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-name"
          }
        },
        "Specialty": {
          "target": "com.amazonaws.transcribestreaming#Specialty",
          "traits": {
            "smithy.api#documentation": "<p>Provides the medical specialty that you specified in your request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-specialty"
          }
        },
        "Type": {
          "target": "com.amazonaws.transcribestreaming#Type",
          "traits": {
            "smithy.api#documentation": "<p>Provides the type of audio you specified in your request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-type"
          }
        },
        "ShowSpeakerLabel": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Shows whether speaker partitioning was enabled for your transcription.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-show-speaker-label"
          }
        },
        "SessionId": {
          "target": "com.amazonaws.transcribestreaming#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>Provides the identifier for your transcription session.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-session-id"
          }
        },
        "TranscriptResultStream": {
          "target": "com.amazonaws.transcribestreaming#MedicalTranscriptResultStream",
          "traits": {
            "smithy.api#documentation": "<p>Provides detailed information about your streaming session.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "EnableChannelIdentification": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Shows whether channel identification was enabled for your transcription.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-enable-channel-identification"
          }
        },
        "NumberOfChannels": {
          "target": "com.amazonaws.transcribestreaming#NumberOfChannels",
          "traits": {
            "smithy.api#documentation": "<p>Provides the number of channels that you specified in your request.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-number-of-channels"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.transcribestreaming#MedicalContentIdentificationType",
          "traits": {
            "smithy.api#documentation": "<p>Shows whether content identification was enabled for your transcription.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-content-identification-type"
          }
        }
      }
    },
    "com.amazonaws.transcribestreaming#StartStreamTranscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribestreaming#StartStreamTranscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribestreaming#StartStreamTranscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribestreaming#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribestreaming#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts a bidirectional HTTP/2 or WebSocket stream where audio is streamed to \n      Amazon Transcribe and the transcription results are streamed to your application.</p>\n         <p>The following parameters are required:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>language-code</code> or <code>identify-language</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>media-encoding</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>sample-rate</code>\n               </p>\n            </li>\n         </ul>\n         <p>For more information on streaming with Amazon Transcribe, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing streaming audio</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/stream-transcription",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribestreaming#StartStreamTranscriptionRequest": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribestreaming#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>Specify the language code that represents the language spoken in your audio.</p>\n         <p>If you're unsure of the language spoken in your audio, consider using \n      <code>IdentifyLanguage</code> to enable automatic language identification.</p>\n         <p>For a list of languages supported with Amazon Transcribe streaming, refer to the \n      <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported \n        languages</a> table.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-language-code"
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribestreaming#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "<p>The sample rate of the input audio (in hertz). Low-quality audio, such as telephone audio,\n      is typically around 8,000 Hz. High-quality audio typically ranges from 16,000 Hz to 48,000 Hz.\n      Note that the sample rate you specify must match that of your audio.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-sample-rate",
            "smithy.api#required": {}
          }
        },
        "MediaEncoding": {
          "target": "com.amazonaws.transcribestreaming#MediaEncoding",
          "traits": {
            "smithy.api#documentation": "<p>Specify the encoding of your input audio. Supported formats are:</p>\n         <ul>\n            <li>\n               <p>FLAC</p>\n            </li>\n            <li>\n               <p>OPUS-encoded audio in an Ogg container</p>\n            </li>\n            <li>\n               <p>PCM (only signed 16-bit little-endian audio formats, which does not include WAV)</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-input.html#how-input-audio\">Media formats</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-media-encoding",
            "smithy.api#required": {}
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.transcribestreaming#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the custom vocabulary that you want to use when processing your\n      transcription. Note that vocabulary names are case sensitive.</p>\n         <p>If the language of the specified custom vocabulary doesn't match the language identified in\n      your media, the custom vocabulary is not applied to your transcription.</p>\n         <important>\n            <p>This parameter is <b>not</b> intended for use with the\n          <code>IdentifyLanguage</code> parameter. If you're including <code>IdentifyLanguage</code>\n        in your request and want to use one or more custom vocabularies with your transcription, use\n        the <code>VocabularyNames</code> parameter instead.</p>\n         </important>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom vocabularies</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-name"
          }
        },
        "SessionId": {
          "target": "com.amazonaws.transcribestreaming#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>Specify a name for your transcription session. If you don't include this parameter in your request, \n      Amazon Transcribe generates an ID and returns it in the response.</p>\n         <p>You can use a session ID to retry a streaming session.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-session-id"
          }
        },
        "AudioStream": {
          "target": "com.amazonaws.transcribestreaming#AudioStream",
          "traits": {
            "smithy.api#documentation": "<p>An encoded stream of audio blobs. Audio streams are encoded as either HTTP/2 or WebSocket \n      data frames.</p> \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing streaming audio</a>.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribestreaming#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the custom vocabulary filter that you want to use when processing your\n      transcription. Note that vocabulary filter names are case sensitive.</p>\n         <p>If the language of the specified custom vocabulary filter doesn't match the language identified in\n      your media, the vocabulary filter is not applied to your transcription.</p>    \n         <important>\n            <p>This parameter is <b>not</b> intended for use with the\n          <code>IdentifyLanguage</code> parameter. If you're including <code>IdentifyLanguage</code>\n        in your request and want to use one or more vocabulary filters with your transcription, use\n        the <code>VocabularyFilterNames</code> parameter instead.</p>\n         </important>    \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/vocabulary-filtering.html\">Using vocabulary filtering with unwanted \n      words</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-filter-name"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.transcribestreaming#VocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>Specify how you want your vocabulary filter applied to your transcript.</p>\n         <p>To replace words with <code>***</code>, choose <code>mask</code>.</p>\n         <p>To delete words, choose <code>remove</code>.</p>\n         <p>To flag words without changing them, choose <code>tag</code>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-vocabulary-filter-method"
          }
        },
        "ShowSpeakerLabel": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables speaker partitioning (diarization) in your transcription output. Speaker partitioning \n      labels the speech from individual speakers in your media file.</p> \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/diarization.html\">Partitioning speakers (diarization)</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-show-speaker-label"
          }
        },
        "EnableChannelIdentification": {
          "target": "com.amazonaws.transcribestreaming#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables channel identification in multi-channel audio.</p>\n         <p>Channel identification transcribes the audio on each channel independently, then appends the \n      output for each channel into one transcript.</p>\n         <p>If you have multi-channel audio and do not enable channel identification, your audio is \n      transcribed in a continuous manner and your transcript is not separated by channel.</p>        \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/channel-id.html\">Transcribing multi-channel audio</a>.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-enable-channel-identification"
          }
        },
        "NumberOfChannels": {
          "target": "com.amazonaws.transcribestreaming#NumberOfChannels",
          "traits": {
            "smithy.api#documentation": "<p>Specify the number of channels in your audio stream. Up to two channels are\n      supported.</p>",
            "smithy.api#httpHeader": "x-amzn-transcribe-number-of-channels"
          }
        },
        "EnablePartialResultsStabilization": {
[...]
