{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.necco.coral#CfnSshPublicKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#SshPublicKeyBody"
      },
      "traits": {
        "smithy.api#documentation": "This represents the SSH User Public Keys for CloudFormation resource"
      }
    },
    "com.amazonaws.necco.coral#CfnUserProperties": {
      "type": "structure",
      "members": {
        "SshPublicKeys": {
          "target": "com.amazonaws.necco.coral#CfnSshPublicKeys"
        }
      },
      "traits": {
        "smithy.api#documentation": "This represents the SSH User Public Keys for CloudFormation resource"
      }
    },
    "com.amazonaws.transfer#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#ServiceErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.transfer#AddressAllocationId": {
      "type": "string"
    },
    "com.amazonaws.transfer#AddressAllocationIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#AddressAllocationId"
      }
    },
    "com.amazonaws.transfer#AgreementId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 19
        },
        "smithy.api#pattern": "^a-([0-9a-f]{17})$"
      }
    },
    "com.amazonaws.transfer#AgreementResource": {
      "type": "resource",
      "identifiers": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId"
        },
        "AgreementId": {
          "target": "com.amazonaws.transfer#AgreementId"
        }
      },
      "create": {
        "target": "com.amazonaws.transfer#CreateAgreement"
      },
      "read": {
        "target": "com.amazonaws.transfer#DescribeAgreement"
      },
      "update": {
        "target": "com.amazonaws.transfer#UpdateAgreement"
      },
      "delete": {
        "target": "com.amazonaws.transfer#DeleteAgreement"
      },
      "list": {
        "target": "com.amazonaws.transfer#ListAgreements"
      },
      "traits": {
        "aws.api#arn": {
          "template": "agreement/{ServerId}/{AgreementId}"
        },
        "aws.api#taggable": {
          "property": "Tags"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Agreement",
          "additionalSchemas": ["com.amazonaws.transfer#DescribedAgreement"]
        }
      }
    },
    "com.amazonaws.transfer#AgreementStatusType": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.transfer#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:\\S+$"
      }
    },
    "com.amazonaws.transfer#As2ConnectorConfig": {
      "type": "structure",
      "members": {
        "LocalProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the AS2 local profile.</p>"
          }
        },
        "PartnerProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the partner profile for the connector.</p>"
          }
        },
        "MessageSubject": {
          "target": "com.amazonaws.transfer#MessageSubject",
          "traits": {
            "smithy.api#documentation": "<p>Used as the <code>Subject</code> HTTP header attribute in AS2 messages that are being sent with the connector.</p>"
          }
        },
        "Compression": {
          "target": "com.amazonaws.transfer#CompressionEnum",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the AS2 file is compressed.</p>"
          }
        },
        "EncryptionAlgorithm": {
          "target": "com.amazonaws.transfer#EncryptionAlg",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that is used to encrypt the file.</p> <p>Note the following:</p> <ul> <li> <p>Do not use the <code>DES_EDE3_CBC</code> algorithm unless you must support a legacy client that requires it, as it is a weak encryption algorithm.</p> </li> <li> <p>You can only specify <code>NONE</code> if the URL for your connector uses HTTPS. Using HTTPS ensures that no traffic is sent in clear text.</p> </li> </ul>"
          }
        },
        "SigningAlgorithm": {
          "target": "com.amazonaws.transfer#SigningAlg",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that is used to sign the AS2 messages sent with the connector.</p>"
          }
        },
        "MdnSigningAlgorithm": {
          "target": "com.amazonaws.transfer#MdnSigningAlg",
          "traits": {
            "smithy.api#documentation": "<p>The signing algorithm for the MDN response.</p> <note> <p>If set to DEFAULT (or not set at all), the value for <code>SigningAlgorithm</code> is used.</p> </note>"
          }
        },
        "MdnResponse": {
          "target": "com.amazonaws.transfer#MdnResponse",
          "traits": {
            "smithy.api#documentation": "<p>Used for outbound requests (from an Transfer Family connector to a partner AS2 server) to determine whether the partner response for transfers is synchronous or asynchronous. Specify either of the following values:</p> <ul> <li> <p> <code>SYNC</code>: The system expects a synchronous MDN response, confirming that the file was transferred successfully (or not).</p> </li> <li> <p> <code>NONE</code>: Specifies that no MDN response is required.</p> </li> </ul>"
          }
        },
        "BasicAuthSecretId": {
          "target": "com.amazonaws.transfer#As2ConnectorSecretId",
          "traits": {
            "smithy.api#documentation": "<p>Provides Basic authentication support to the AS2 Connectors API. To use Basic authentication, you must provide the name or Amazon Resource Name (ARN) of a secret in Secrets Manager.</p> <p>The default value for this parameter is <code>null</code>, which indicates that Basic authentication is not enabled for the connector.</p> <p>If the connector should use Basic authentication, the secret needs to be in the following format:</p> <p> <code>{ \"Username\": \"user-name\", \"Password\": \"user-password\" }</code> </p> <p>Replace <code>user-name</code> and <code>user-password</code> with the credentials for the actual user that is being authenticated.</p> <p>Note the following:</p> <ul> <li> <p>You are storing these credentials in Secrets Manager, <i>not passing them directly</i> into this API.</p> </li> <li> <p>If you are using the API, SDKs, or CloudFormation to configure your connector, then you must create the secret before you can enable Basic authentication. However, if you are using the Amazon Web Services management console, you can have the system create the secret for you.</p> </li> </ul> <p>If you have previously enabled Basic authentication for a connector, you can disable it by using the <code>UpdateConnector</code> API call. For example, if you are using the CLI, you can run the following command to remove Basic authentication:</p> <p> <code>update-connector --connector-id my-connector-id --as2-config 'BasicAuthSecretId=\"\"'</code> </p>"
          }
        },
        "PreserveContentType": {
          "target": "com.amazonaws.transfer#PreserveContentType",
          "traits": {
            "smithy.api#documentation": "<p>Allows you to use the Amazon S3 <code>Content-Type</code> that is associated with objects in S3 instead of having the content type mapped based on the file extension. This parameter is enabled by default when you create an AS2 connector from the console, but disabled by default when you create an AS2 connector by calling the API directly.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details for an AS2 connector object. The connector object is used for AS2 outbound processes, to connect the Transfer Family customer with the trading partner.</p>"
      }
    },
    "com.amazonaws.transfer#As2ConnectorSecretId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.transfer#As2Id": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\p{Print}\\s]*$"
      }
    },
    "com.amazonaws.transfer#As2Transport": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP"
          }
        }
      }
    },
    "com.amazonaws.transfer#As2Transports": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#As2Transport"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.transfer#CallbackToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^\\w+$"
      }
    },
    "com.amazonaws.transfer#CertDate": {
      "type": "timestamp"
    },
    "com.amazonaws.transfer#CertSerial": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 48
        },
        "smithy.api#pattern": "^[\\p{XDigit}{2}:?]*$"
      }
    },
    "com.amazonaws.transfer#Certificate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        }
      }
    },
    "com.amazonaws.transfer#CertificateBodyType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16384
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.transfer#CertificateChainType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2097152
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.transfer#CertificateId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 22,
          "max": 22
        },
        "smithy.api#pattern": "^cert-([0-9a-f]{17})$"
      }
    },
    "com.amazonaws.transfer#CertificateIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#CertificateId"
      }
    },
    "com.amazonaws.transfer#CertificateResource": {
      "type": "resource",
      "identifiers": {
        "CertificateId": {
          "target": "com.amazonaws.transfer#CertificateId"
        }
      },
      "create": {
        "target": "com.amazonaws.transfer#ImportCertificate"
      },
      "read": {
        "target": "com.amazonaws.transfer#DescribeCertificate"
      },
      "update": {
        "target": "com.amazonaws.transfer#UpdateCertificate"
      },
      "delete": {
        "target": "com.amazonaws.transfer#DeleteCertificate"
      },
      "list": {
        "target": "com.amazonaws.transfer#ListCertificates"
      },
      "traits": {
        "aws.api#arn": {
          "template": "certificate/{CertificateId}"
        },
        "aws.api#taggable": {
          "property": "Tags"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Certificate",
          "additionalSchemas": ["com.amazonaws.transfer#DescribedCertificate"]
        }
      }
    },
    "com.amazonaws.transfer#CertificateStatusType": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PENDING_ROTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ROTATION"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.transfer#CertificateType": {
      "type": "enum",
      "members": {
        "CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE"
          }
        },
        "CERTIFICATE_WITH_PRIVATE_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_WITH_PRIVATE_KEY"
          }
        }
      }
    },
    "com.amazonaws.transfer#CertificateUsageType": {
      "type": "enum",
      "members": {
        "SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNING"
          }
        },
        "ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION"
          }
        },
        "TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS"
          }
        }
      }
    },
    "com.amazonaws.transfer#CompressionEnum": {
      "type": "enum",
      "members": {
        "ZLIB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZLIB"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.transfer#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transfer#Message",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the <code>UpdateServer</code> is called for a file transfer protocol-enabled server that has VPC as the endpoint type and the server's <code>VpcEndpointID</code> is not in the available state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.transfer#ConnectorEgressConfig": {
      "type": "union",
      "members": {
        "VpcLattice": {
          "target": "com.amazonaws.transfer#ConnectorVpcLatticeEgressConfig",
          "traits": {
            "smithy.api#documentation": "<p>VPC_LATTICE configuration for routing connector traffic through customer VPCs. Enables private connectivity to SFTP servers without requiring public internet access or complex network configurations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration structure that defines how traffic is routed from the connector to the SFTP server. Contains VPC Lattice settings when using VPC_LATTICE egress type for private connectivity through customer VPCs.</p>"
      }
    },
    "com.amazonaws.transfer#ConnectorEgressType": {
      "type": "enum",
      "members": {
        "SERVICE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_MANAGED"
          }
        },
        "VPC_LATTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_LATTICE"
          }
        }
      }
    },
    "com.amazonaws.transfer#ConnectorErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.transfer#ConnectorFileTransferResult": {
      "type": "structure",
      "members": {
        "FilePath": {
          "target": "com.amazonaws.transfer#FilePath",
          "traits": {
            "smithy.api#documentation": "<p>The filename and path to where the file was sent to or retrieved from.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusCode": {
          "target": "com.amazonaws.transfer#TransferTableStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status for the transfer.</p>",
            "smithy.api#required": {}
          }
        },
        "FailureCode": {
          "target": "com.amazonaws.transfer#FailureCode",
          "traits": {
            "smithy.api#documentation": "<p>For transfers that fail, this parameter contains a code indicating the reason. For example, <code>RETRIEVE_FILE_NOT_FOUND</code> </p>"
          }
        },
        "FailureMessage": {
          "target": "com.amazonaws.transfer#Message",
          "traits": {
            "smithy.api#documentation": "<p>For transfers that fail, this parameter describes the reason for the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the details for files transferred using an SFTP connector, during a single transfer.</p>"
      }
    },
    "com.amazonaws.transfer#ConnectorFileTransferResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transfer#ConnectorFileTransferResult"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.transfer#ConnectorId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 19
        },
        "smithy.api#pattern": "^c-([0-9a-f]{17})$"
      }
    },
    "com.amazonaws.transfer#ConnectorResource": {
      "type": "resource",
      "identifiers": {
        "ConnectorId": {
          "target": "com.amazonaws.transfer#ConnectorId"
        }
      },
      "create": {
        "target": "com.amazonaws.transfer#CreateConnector"
      },
      "read": {
        "target": "com.amazonaws.transfer#DescribeConnector"
      },
      "update": {
        "target": "com.amazonaws.transfer#UpdateConnector"
      },
      "delete": {
        "target": "com.amazonaws.transfer#DeleteConnector"
      },
      "list": {
        "target": "com.amazonaws.transfer#ListConnectors"
      },
      "traits": {
        "aws.api#arn": {
          "template": "connector/{ConnectorId}"
        },
        "aws.api#taggable": {
          "property": "Tags"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Connector",
          "additionalSchemas": ["com.amazonaws.transfer#DescribedConnector"]
        }
      }
    },
    "com.amazonaws.transfer#ConnectorSecurityPolicyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#pattern": "^TransferSFTPConnectorSecurityPolicy-[A-Za-z0-9-]+$"
      }
    },
    "com.amazonaws.transfer#ConnectorStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERRORED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.amazonaws.transfer#ConnectorVpcLatticeEgressConfig": {
      "type": "structure",
      "members": {
        "ResourceConfigurationArn": {
          "target": "com.amazonaws.transfer#VpcLatticeResourceConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the VPC_LATTICE Resource Configuration that defines the target SFTP server location. Must point to a valid Resource Configuration in the customer's VPC with appropriate network connectivity to the SFTP server.</p>",
            "smithy.api#required": {}
          }
        },
        "PortNumber": {
          "target": "com.amazonaws.transfer#SftpPort",
          "traits": {
            "smithy.api#documentation": "<p>Port number for connecting to the SFTP server through VPC_LATTICE. Defaults to 22 if not specified. Must match the port on which the target SFTP server is listening.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>VPC_LATTICE egress configuration that specifies the Resource Configuration ARN and port for connecting to SFTP servers through customer VPCs. Requires a valid Resource Configuration with appropriate network access.</p>"
      }
    },
    "com.amazonaws.transfer#CopyStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step, used as an identifier.</p>"
          }
        },
        "DestinationFileLocation": {
          "target": "com.amazonaws.transfer#InputFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the location for the file being copied. Use <code>${Transfer:UserName}</code> or <code>${Transfer:UploadDate}</code> in this field to parametrize the destination prefix by username or uploaded date.</p> <ul> <li> <p>Set the value of <code>DestinationFileLocation</code> to <code>${Transfer:UserName}</code> to copy uploaded files to an Amazon S3 bucket that is prefixed with the name of the Transfer Family user that uploaded the file.</p> </li> <li> <p>Set the value of <code>DestinationFileLocation</code> to <code>${Transfer:UploadDate}</code> to copy uploaded files to an Amazon S3 bucket that is prefixed with the date of the upload.</p> <note> <p>The system resolves <code>UploadDate</code> to a date format of <i>YYYY-MM-DD</i>, based on the date the file is uploaded in UTC.</p> </note> </li> </ul>"
          }
        },
        "OverwriteExisting": {
          "target": "com.amazonaws.transfer#OverwriteExisting",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates whether to overwrite an existing file of the same name. The default is <code>FALSE</code>.</p> <p>If the workflow is processing a file that has the same name as an existing file, the behavior is as follows:</p> <ul> <li> <p>If <code>OverwriteExisting</code> is <code>TRUE</code>, the existing file is replaced with the file being processed.</p> </li> <li> <p>If <code>OverwriteExisting</code> is <code>FALSE</code>, nothing happens, and the workflow processing stops.</p> </li> </ul>"
          }
        },
        "SourceFileLocation": {
          "target": "com.amazonaws.transfer#SourceFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which file to use as input to the workflow step: either the output from the previous step, or the originally uploaded file for the workflow.</p> <ul> <li> <p>To use the previous file as the input, enter <code>${previous.file}</code>. In this case, this workflow step uses the output file from the previous workflow step as input. This is the default value.</p> </li> <li> <p>To use the originally uploaded file location as input for this step, enter <code>${original.file}</code>.</p> </li> </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Each step type has its own <code>StepDetails</code> structure.</p>"
      }
    },
    "com.amazonaws.transfer#CreateAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used by administrators to choose which groups in the directory should have access to upload and download files over the enabled protocols using Transfer Family. For example, a Microsoft Active Directory might contain 50,000 users, but only a small fraction might need the ability to transfer files to the server. An administrator can use <code>CreateAccess</code> to limit the access to the correct set of users who need this ability.</p>"
      }
    },
    "com.amazonaws.transfer#CreateAccessRequest": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p> <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p> <note> <p>You can use the <code>HomeDirectory</code> parameter for <code>HomeDirectoryType</code> when it is set to either <code>PATH</code> or <code>LOGICAL</code>.</p> </note>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) that you want your users' home directory to be when they log in to the server. If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or Amazon EFS path as is in their file transfer protocol clients. If you set it to <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for how you want to make Amazon S3 or Amazon EFS paths visible to your users.</p> <note> <p>If <code>HomeDirectoryType</code> is <code>LOGICAL</code>, you must provide mappings, using the <code>HomeDirectoryMappings</code> parameter. If, on the other hand, <code>HomeDirectoryType</code> is <code>PATH</code>, you provide an absolute path using the <code>HomeDirectory</code> parameter. You cannot have both <code>HomeDirectory</code> and <code>HomeDirectoryMappings</code> in your template.</p> </note>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should be visible to your user and how you want to make them visible. You must specify the <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you only specify a target, it is displayed as is. You also must ensure that your Identity and Access Management (IAM) role provides access to paths in <code>Target</code>. This value can be set only when <code>HomeDirectoryType</code> is set to <i>LOGICAL</i>.</p> <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p> <p> <code>[ { \"Entry\": \"/directory1\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code> </p> <p>In most cases, you can use this value instead of the session policy to lock down your user to the designated home directory (\"<code>chroot</code>\"). To do this, you can set <code>Entry</code> to <code>/</code> and set <code>Target</code> to the <code>HomeDirectory</code> parameter value.</p> <p>The following is an <code>Entry</code> and <code>Target</code> pair example for <code>chroot</code>.</p> <p> <code>[ { \"Entry\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code> </p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A session policy for your user so that you can use the same Identity and Access Management (IAM) role across multiple users. This policy scopes down a user's access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p> <note> <p>This policy applies only when the domain of <code>ServerId</code> is Amazon S3. Amazon EFS does not use session policies.</p> <p>For session policies, Transfer Family stores the policy as a JSON blob, instead of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass it in the <code>Policy</code> argument.</p> <p>For an example of a session policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/session-policy.html\">Example session policy</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>Security Token Service API Reference</i>.</p> </note>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile"
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that controls your users' access to your Amazon S3 bucket or Amazon EFS file system. The policies attached to this role determine the level of access that you want to provide your users when transferring files into and out of your Amazon S3 bucket or Amazon EFS file system. The IAM role should also contain a trust relationship that allows the server to access your resources when servicing your users' transfer requests.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server that you added your user to.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory. The users of the group that you associate have access to your Amazon S3 or Amazon EFS resources over the enabled protocols using Transfer Family. If you know the group name, you can view the SID values by running the following command using Windows PowerShell.</p> <p> <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code> </p> <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p> <p>The regular expression used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.transfer#CreateAccessResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the server that the user is attached to.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external identifier of the group whose users have access to your Amazon S3 or Amazon EFS resources over the enabled protocols using Transfer Family.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.transfer#CreateAgreement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateAgreementRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateAgreementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["transfer:TagResource", "iam:PassRole"]
        },
        "smithy.api#documentation": "<p>Creates an agreement. An agreement is a bilateral trading partner agreement, or partnership, between an Transfer Family server and an AS2 process. The agreement defines the file and message transfer relationship between the server and the AS2 process. To define an agreement, Transfer Family combines a server, local profile, partner profile, certificate, and other attributes.</p> <p>The partner is identified with the <code>PartnerProfileId</code>, and the AS2 process is identified with the <code>LocalProfileId</code>.</p> <note> <p>Specify <i>either</i> <code>BaseDirectory</code> or <code>CustomDirectories</code>, but not both. Specifying both causes the command to fail.</p> </note>"
      }
    },
    "com.amazonaws.transfer#CreateAgreementRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.transfer#Description",
          "traits": {
            "smithy.api#documentation": "<p>A name or short description to identify the agreement. </p>"
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server that the agreement uses.</p>",
            "smithy.api#required": {}
          }
        },
        "LocalProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the AS2 local profile.</p>",
            "smithy.api#required": {}
          }
        },
        "PartnerProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the partner profile used in the agreement.</p>",
            "smithy.api#required": {}
          }
        },
        "BaseDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for files transferred by using the AS2 protocol.</p> <p>A <code>BaseDirectory</code> example is <code>/<i>amzn-s3-demo-bucket</i>/home/mydirectory</code>.</p>"
          }
        },
        "AccessRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Connectors are used to send files using either the AS2 or SFTP protocol. For the access role, provide the Amazon Resource Name (ARN) of the Identity and Access Management role to use.</p> <p> <b>For AS2 connectors</b> </p> <p>With AS2, you can send files by calling <code>StartFileTransfer</code> and specifying the file paths in the request parameter, <code>SendFilePaths</code>. We use the file’s parent directory (for example, for <code>--send-file-paths /bucket/dir/file.txt</code>, parent directory is <code>/bucket/dir/</code>) to temporarily store a processed AS2 message file, store the MDN when we receive them from the partner, and write a final JSON file containing relevant metadata of the transmission. So, the <code>AccessRole</code> needs to provide read and write access to the parent directory of the file location used in the <code>StartFileTransfer</code> request. Additionally, you need to provide read and write access to the parent directory of the files that you intend to send with <code>StartFileTransfer</code>.</p> <p>If you are using Basic authentication for your AS2 connector, the access role requires the <code>secretsmanager:GetSecretValue</code> permission for the secret. If the secret is encrypted using a customer-managed key instead of the Amazon Web Services managed key in Secrets Manager, then the role also needs the <code>kms:Decrypt</code> permission for that key.</p> <p> <b>For SFTP connectors</b> </p> <p>Make sure that the access role provides read and write access to the parent directory of the file location that's used in the <code>StartFileTransfer</code> request. Additionally, make sure that the role provides <code>secretsmanager:GetSecretValue</code> permission to Secrets Manager.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.transfer#AgreementStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agreement. The agreement can be either <code>ACTIVE</code> or <code>INACTIVE</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for agreements.</p>"
          }
        },
        "PreserveFilename": {
          "target": "com.amazonaws.transfer#PreserveFilenameType",
          "traits": {
            "smithy.api#documentation": "<p> Determines whether or not Transfer Family appends a unique string of characters to the end of the AS2 message payload filename when saving it. </p> <ul> <li> <p> <code>ENABLED</code>: the filename provided by your trading parter is preserved when the file is saved.</p> </li> <li> <p> <code>DISABLED</code> (default value): when Transfer Family saves the file, the filename is adjusted, as described in <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/send-as2-messages.html#file-names-as2\">File names and locations</a>.</p> </li> </ul>"
          }
        },
        "EnforceMessageSigning": {
          "target": "com.amazonaws.transfer#EnforceMessageSigningType",
          "traits": {
            "smithy.api#documentation": "<p> Determines whether or not unsigned messages from your trading partners will be accepted. </p> <ul> <li> <p> <code>ENABLED</code>: Transfer Family rejects unsigned messages from your trading partner.</p> </li> <li> <p> <code>DISABLED</code> (default value): Transfer Family accepts unsigned messages from your trading partner.</p> </li> </ul>"
          }
        },
        "CustomDirectories": {
          "target": "com.amazonaws.transfer#CustomDirectoriesType",
          "traits": {
            "smithy.api#documentation": "<p>A <code>CustomDirectoriesType</code> structure. This structure specifies custom directories for storing various AS2 message files. You can specify directories for the following types of files.</p> <ul> <li> <p>Failed files</p> </li> <li> <p>MDN files</p> </li> <li> <p>Payload files</p> </li> <li> <p>Status files</p> </li> <li> <p>Temporary files</p> </li> </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.transfer#CreateAgreementResponse": {
      "type": "structure",
      "members": {
        "AgreementId": {
          "target": "com.amazonaws.transfer#AgreementId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the agreement. Use this ID for deleting, or updating an agreement, as well as in any other API calls that require that you specify the agreement ID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.transfer#CreateConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["transfer:TagResource", "iam:PassRole"]
        },
        "smithy.api#documentation": "<p>Creates the connector, which captures the parameters for a connection for the AS2 or SFTP protocol. For AS2, the connector is required for sending files to an externally hosted AS2 server. For SFTP, the connector is required when sending files to an SFTP server or receiving files from an SFTP server. For more details about connectors, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/configure-as2-connector.html\">Configure AS2 connectors</a> and <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/configure-sftp-connector.html\">Create SFTP connectors</a>.</p> <note> <p>You must specify exactly one configuration object: either for AS2 (<code>As2Config</code>) or SFTP (<code>SftpConfig</code>).</p> </note>"
      }
    },
    "com.amazonaws.transfer#CreateConnectorRequest": {
      "type": "structure",
      "members": {
        "Url": {
          "target": "com.amazonaws.transfer#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the partner's AS2 or SFTP endpoint.</p> <p>When creating AS2 connectors or service-managed SFTP connectors (connectors without egress configuration), you must provide a URL to specify the remote server endpoint. For VPC Lattice type connectors, the URL must be null.</p>"
          }
        },
        "As2Config": {
          "target": "com.amazonaws.transfer#As2ConnectorConfig",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the parameters for an AS2 connector object.</p>"
          }
        },
        "AccessRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>Connectors are used to send files using either the AS2 or SFTP protocol. For the access role, provide the Amazon Resource Name (ARN) of the Identity and Access Management role to use.</p> <p> <b>For AS2 connectors</b> </p> <p>With AS2, you can send files by calling <code>StartFileTransfer</code> and specifying the file paths in the request parameter, <code>SendFilePaths</code>. We use the file’s parent directory (for example, for <code>--send-file-paths /bucket/dir/file.txt</code>, parent directory is <code>/bucket/dir/</code>) to temporarily store a processed AS2 message file, store the MDN when we receive them from the partner, and write a final JSON file containing relevant metadata of the transmission. So, the <code>AccessRole</code> needs to provide read and write access to the parent directory of the file location used in the <code>StartFileTransfer</code> request. Additionally, you need to provide read and write access to the parent directory of the files that you intend to send with <code>StartFileTransfer</code>.</p> <p>If you are using Basic authentication for your AS2 connector, the access role requires the <code>secretsmanager:GetSecretValue</code> permission for the secret. If the secret is encrypted using a customer-managed key instead of the Amazon Web Services managed key in Secrets Manager, then the role also needs the <code>kms:Decrypt</code> permission for that key.</p> <p> <b>For SFTP connectors</b> </p> <p>Make sure that the access role provides read and write access to the parent directory of the file location that's used in the <code>StartFileTransfer</code> request. Additionally, make sure that the role provides <code>secretsmanager:GetSecretValue</code> permission to Secrets Manager.</p>",
            "smithy.api#required": {}
          }
        },
        "LoggingRole": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that allows a connector to turn on CloudWatch logging for Amazon S3 events. When set, you can view connector activity in your CloudWatch logs.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for connectors. Tags are metadata attached to connectors for any purpose.</p>"
          }
        },
        "SftpConfig": {
          "target": "com.amazonaws.transfer#SftpConnectorConfig",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the parameters for an SFTP connector object.</p>"
          }
        },
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#ConnectorSecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy for the connector.</p>"
          }
        },
        "EgressConfig": {
          "target": "com.amazonaws.transfer#ConnectorEgressConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the egress configuration for the connector, which determines how traffic is routed from the connector to the SFTP server. When set to VPC, enables routing through customer VPCs using VPC_LATTICE for private connectivity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.transfer#CreateConnectorResponse": {
      "type": "structure",
      "members": {
        "ConnectorId": {
          "target": "com.amazonaws.transfer#ConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the connector, returned after the API call succeeds.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.transfer#CreateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["transfer:TagResource"]
        },
        "smithy.api#documentation": "<p>Creates the local or partner profile to use for AS2 transfers.</p>"
      }
    },
    "com.amazonaws.transfer#CreateProfileRequest": {
      "type": "structure",
      "members": {
        "As2Id": {
          "target": "com.amazonaws.transfer#As2Id",
          "traits": {
            "smithy.api#documentation": "<p>The <code>As2Id</code> is the <i>AS2-name</i>, as defined in the <a href=\"https://datatracker.ietf.org/doc/html/rfc4130\">RFC 4130</a>. For inbound transfers, this is the <code>AS2-From</code> header for the AS2 messages sent from the partner. For outbound connectors, this is the <code>AS2-To</code> header for the AS2 messages sent to the partner using the <code>StartFileTransfer</code> API operation. This ID cannot include spaces.</p>",
            "smithy.api#required": {}
          }
        },
        "ProfileType": {
          "target": "com.amazonaws.transfer#ProfileType",
          "traits": {
            "smithy.api#documentation": "<p>Determines the type of profile to create:</p> <ul> <li> <p>Specify <code>LOCAL</code> to create a local profile. A local profile represents the AS2-enabled Transfer Family server organization or party.</p> </li> <li> <p>Specify <code>PARTNER</code> to create a partner profile. A partner profile represents a remote organization, external to Transfer Family.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "CertificateIds": {
          "target": "com.amazonaws.transfer#CertificateIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of identifiers for the imported certificates. You use this identifier for working with profiles and partner profiles.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for AS2 profiles.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.transfer#CreateProfileResponse": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.transfer#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the AS2 profile, returned after the API call succeeds.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.transfer#CreateServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateServerRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": [
            "apigateway:GET",
            "ds:AuthorizeApplication",
            "ds:DescribeDirectories",
            "ec2:AssociateAddress",
            "ec2:CreateVpcEndpoint",
            "ec2:DescribeAddresses",
            "ec2:DescribeNetworkInterfaces",
            "ec2:DescribeVpcEndpoints",
            "iam:PassRole",
            "transfer:CreateServer",
            "transfer:DescribeServer",
            "transfer:StartServer",
            "transfer:StopServer",
            "transfer:UpdateServer",
            "transfer:TagResource",
            "logs:CreateLogDelivery",
            "logs:GetLogDelivery",
            "logs:UpdateLogDelivery",
            "logs:DeleteLogDelivery",
            "logs:ListLogDeliveries",
            "logs:PutResourcePolicy",
            "logs:DescribeResourcePolicies",
            "logs:DescribeLogGroups"
          ]
        },
        "smithy.api#documentation": "<p>Instantiates an auto-scaling virtual server based on the selected file transfer protocol in Amazon Web Services. When you make updates to your file transfer protocol-enabled server or when you work with users, use the service-generated <code>ServerId</code> property that is assigned to the newly created server.</p>"
      }
    },
    "com.amazonaws.transfer#CreateServerRequest": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.transfer#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Certificate Manager (ACM) certificate. Required when <code>Protocols</code> is set to <code>FTPS</code>.</p> <p>To request a new public certificate, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-public.html\">Request a public certificate</a> in the <i>Certificate Manager User Guide</i>.</p> <p>To import an existing certificate into ACM, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing certificates into ACM</a> in the <i>Certificate Manager User Guide</i>.</p> <p>To request a private certificate to use FTPS through private IP addresses, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-private.html\">Request a private certificate</a> in the <i>Certificate Manager User Guide</i>.</p> <p>Certificates with the following cryptographic algorithms and key sizes are supported:</p> <ul> <li> <p>2048-bit RSA (RSA_2048)</p> </li> <li> <p>4096-bit RSA (RSA_4096)</p> </li> <li> <p>Elliptic Prime Curve 256 bit (EC_prime256v1)</p> </li> <li> <p>Elliptic Prime Curve 384 bit (EC_secp384r1)</p> </li> <li> <p>Elliptic Prime Curve 521 bit (EC_secp521r1)</p> </li> </ul> <note> <p>The certificate must be a valid SSL/TLS X.509 version 3 certificate with FQDN or IP address specified and information about the issuer.</p> </note>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.transfer#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain of the storage system that is used for file transfers. There are two domains available: Amazon Simple Storage Service (Amazon S3) and Amazon Elastic File System (Amazon EFS). The default value is S3.</p> <note> <p>After the server is created, the domain cannot be changed.</p> </note>"
          }
        },
        "EndpointDetails": {
          "target": "com.amazonaws.transfer#EndpointDetails",
          "traits": {
            "smithy.api#documentation": "<p>The virtual private cloud (VPC) endpoint settings that are configured for your server. When you host your endpoint within your VPC, you can make your endpoint accessible only to resources within your VPC, or you can attach Elastic IP addresses and make your endpoint accessible to clients over the internet. Your VPC's default security groups are automatically assigned to your endpoint.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.transfer#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint that you want your server to use. You can choose to make your server's endpoint publicly accessible (PUBLIC) or host it inside your VPC. With an endpoint that is hosted in a VPC, you can restrict access to your server and resources only within your VPC or choose to make it internet facing by attaching Elastic IP addresses directly to it.</p> <note> <p> After May 19, 2021, you won't be able to create a server using <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Services account if your account hasn't already done so before May 19, 2021. If you have already created servers with <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Services account on or before May 19, 2021, you will not be affected. After this date, use <code>EndpointType</code>=<code>VPC</code>.</p> <p>For more information, see https://docs.aws.amazon.com/transfer/latest/userguide/create-server-in-vpc.html#deprecate-vpc-endpoint.</p> <p>It is recommended that you use <code>VPC</code> as the <code>EndpointType</code>. With this endpoint type, you have the option to directly associate up to three Elastic IPv4 addresses (BYO IP included) with your server's endpoint and use VPC security groups to restrict traffic by the client's public IP address. This is not possible with <code>EndpointType</code> set to <code>VPC_ENDPOINT</code>.</p> </note>"
          }
        },
        "HostKey": {
          "target": "com.amazonaws.transfer#HostKey",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The RSA, ECDSA, or ED25519 private key to use for your SFTP-enabled server. You can add multiple host keys, in case you want to rotate keys, or have a set of active keys that use different algorithms.</p> <p>Use the following command to generate an RSA 2048 bit key with no passphrase:</p> <p> <code>ssh-keygen -t rsa -b 2048 -N \"\" -m PEM -f my-new-server-key</code>.</p> <p>Use a minimum value of 2048 for the <code>-b</code> option. You can create a stronger key by using 3072 or 4096.</p> <p>Use the following command to generate an ECDSA 256 bit key with no passphrase:</p> <p> <code>ssh-keygen -t ecdsa -b 256 -N \"\" -m PEM -f my-new-server-key</code>.</p> <p>Valid values for the <code>-b</code> option for ECDSA are 256, 384, and 521.</p> <p>Use the following command to generate an ED25519 key with no passphrase:</p> <p> <code>ssh-keygen -t ed25519 -N \"\" -f my-new-server-key</code>.</p> <p>For all of these commands, you can replace <i>my-new-server-key</i> with a string of your choice.</p> <important> <p>If you aren't planning to migrate existing users from an existing SFTP-enabled server to a new server, don't update the host key. Accidentally changing a server's host key can be disruptive.</p> </important> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/edit-server-config.html#configuring-servers-change-host-key\">Manage host keys for your SFTP-enabled server</a> in the <i>Transfer Family User Guide</i>.</p>"
          }
        },
        "IdentityProviderDetails": {
          "target": "com.amazonaws.transfer#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "<p>Required when <code>IdentityProviderType</code> is set to <code>AWS_DIRECTORY_SERVICE</code>, <code>Amazon Web Services_LAMBDA</code> or <code>API_GATEWAY</code>. Accepts an array containing all of the information required to use a directory in <code>AWS_DIRECTORY_SERVICE</code> or invoke a customer-supplied authentication API, including the API Gateway URL. Cannot be specified when <code>IdentityProviderType</code> is set to <code>SERVICE_MANAGED</code>.</p>"
          }
        },
        "IdentityProviderType": {
          "target": "com.amazonaws.transfer#IdentityProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The mode of authentication for a server. The default value is <code>SERVICE_MANAGED</code>, which allows you to store and access user credentials within the Transfer Family service.</p> <p>Use <code>AWS_DIRECTORY_SERVICE</code> to provide access to Active Directory groups in Directory Service for Microsoft Active Directory or Microsoft Active Directory in your on-premises environment or in Amazon Web Services using AD Connector. This option also requires you to provide a Directory ID by using the <code>IdentityProviderDetails</code> parameter.</p> <p>Use the <code>API_GATEWAY</code> value to integrate with an identity provider of your choosing. The <code>API_GATEWAY</code> setting requires you to provide an Amazon API Gateway endpoint URL to call for authentication by using the <code>IdentityProviderDetails</code> parameter.</p> <p>Use the <code>AWS_LAMBDA</code> value to directly use an Lambda function as your identity provider. If you choose this value, you must specify the ARN for the Lambda function in the <code>Function</code> parameter for the <code>IdentityProviderDetails</code> data type.</p>"
          }
        },
        "LoggingRole": {
          "target": "com.amazonaws.transfer#NullableRole",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that allows a server to turn on Amazon CloudWatch logging for Amazon S3 or Amazon EFS events. When set, you can view user activity in your CloudWatch logs.</p>"
          }
        },
        "PostAuthenticationLoginBanner": {
          "target": "com.amazonaws.transfer#PostAuthenticationLoginBanner",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a string to display when users connect to a server. This string is displayed after the user authenticates.</p> <note> <p>The SFTP protocol does not support post-authentication display banners.</p> </note>"
          }
        },
        "PreAuthenticationLoginBanner": {
          "target": "com.amazonaws.transfer#PreAuthenticationLoginBanner",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a string to display when users connect to a server. This string is displayed before the user authenticates. For example, the following banner displays details about using the system:</p> <p> <code>This system is for the use of authorized users only. Individuals using this computer system without authority, or in excess of their authority, are subject to having all of their activities on this system monitored and recorded by system personnel.</code> </p>"
          }
        },
        "Protocols": {
          "target": "com.amazonaws.transfer#Protocols",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file transfer protocol or protocols over which your file transfer protocol client can connect to your server's endpoint. The available protocols are:</p> <ul> <li> <p> <code>SFTP</code> (Secure Shell (SSH) File Transfer Protocol): File transfer over SSH</p> </li> <li> <p> <code>FTPS</code> (File Transfer Protocol Secure): File transfer with TLS encryption</p> </li> <li> <p> <code>FTP</code> (File Transfer Protocol): Unencrypted file transfer</p> </li> <li> <p> <code>AS2</code> (Applicability Statement 2): used for transporting structured business-to-business data</p> </li> </ul> <note> <ul> <li> <p>If you select <code>FTPS</code>, you must choose a certificate stored in Certificate Manager (ACM) which is used to identify your server when clients connect to it over FTPS.</p> </li> <li> <p>If <code>Protocol</code> includes either <code>FTP</code> or <code>FTPS</code>, then the <code>EndpointType</code> must be <code>VPC</code> and the <code>IdentityProviderType</code> must be either <code>AWS_DIRECTORY_SERVICE</code>, <code>AWS_LAMBDA</code>, or <code>API_GATEWAY</code>.</p> </li> <li> <p>If <code>Protocol</code> includes <code>FTP</code>, then <code>AddressAllocationIds</code> cannot be associated.</p> </li> <li> <p>If <code>Protocol</code> is set only to <code>SFTP</code>, the <code>EndpointType</code> can be set to <code>PUBLIC</code> and the <code>IdentityProviderType</code> can be set any of the supported identity types: <code>SERVICE_MANAGED</code>, <code>AWS_DIRECTORY_SERVICE</code>, <code>AWS_LAMBDA</code>, or <code>API_GATEWAY</code>.</p> </li> <li> <p>If <code>Protocol</code> includes <code>AS2</code>, then the <code>EndpointType</code> must be <code>VPC</code>, and domain must be Amazon S3.</p> </li> </ul> </note>"
          }
        },
        "ProtocolDetails": {
          "target": "com.amazonaws.transfer#ProtocolDetails",
          "traits": {
            "smithy.api#documentation": "<p>The protocol settings that are configured for your server.</p> <note> <p>Avoid placing Network Load Balancers (NLBs) or NAT gateways in front of Transfer Family servers, as this increases costs and can cause performance issues, including reduced connection limits for FTPS. For more details, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/infrastructure-security.html#nlb-considerations\"> Avoid placing NLBs and NATs in front of Transfer Family</a>.</p> </note> <ul> <li> <p> To indicate passive mode (for FTP and FTPS protocols), use the <code>PassiveIp</code> parameter. Enter a single dotted-quad IPv4 address, such as the external IP address of a firewall, router, or load balancer. </p> </li> <li> <p>To ignore the error that is generated when the client attempts to use the <code>SETSTAT</code> command on a file that you are uploading to an Amazon S3 bucket, use the <code>SetStatOption</code> parameter. To have the Transfer Family server ignore the <code>SETSTAT</code> command and upload files without needing to make any changes to your SFTP client, set the value to <code>ENABLE_NO_OP</code>. If you set the <code>SetStatOption</code> parameter to <code>ENABLE_NO_OP</code>, Transfer Family generates a log entry to Amazon CloudWatch Logs, so that you can determine when the client is making a <code>SETSTAT</code> call.</p> </li> <li> <p>To determine whether your Transfer Family server resumes recent, negotiated sessions through a unique session ID, use the <code>TlsSessionResumptionMode</code> parameter.</p> </li> <li> <p> <code>As2Transports</code> indicates the transport method for the AS2 messages. Currently, only HTTP is supported.</p> </li> </ul>"
          }
        },
        "SecurityPolicyName": {
          "target": "com.amazonaws.transfer#SecurityPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the security policy for the server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for servers.</p>"
          }
        },
        "WorkflowDetails": {
          "target": "com.amazonaws.transfer#WorkflowDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the workflow ID for the workflow to assign and the execution role that's used for executing the workflow.</p> <p>In addition to a workflow to execute when a file is uploaded completely, <code>WorkflowDetails</code> can also contain a workflow ID (and execution role) for a workflow to execute on partial upload. A partial upload occurs when the server session disconnects while the file is still being uploaded.</p>"
          }
        },
        "StructuredLogDestinations": {
          "target": "com.amazonaws.transfer#StructuredLogDestinations",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the log groups to which your server logs are sent.</p> <p>To specify a log group, you must provide the ARN for an existing log group. In this case, the format of the log group is as follows:</p> <p> <code>arn:aws:logs:region-name:amazon-account-id:log-group:log-group-name:*</code> </p> <p>For example, <code>arn:aws:logs:us-east-1:111122223333:log-group:mytestgroup:*</code> </p> <p>If you have previously specified a log group for a server, you can clear it, and in effect turn off structured logging, by providing an empty value for this parameter in an <code>update-server</code> call. For example:</p> <p> <code>update-server --server-id s-1234567890abcdef0 --structured-log-destinations</code> </p>"
          }
        },
        "S3StorageOptions": {
          "target": "com.amazonaws.transfer#S3StorageOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not performance for your Amazon S3 directories is optimized.</p> <ul> <li> <p>If using the console, this is enabled by default.</p> </li> <li> <p>If using the API or CLI, this is disabled by default.</p> </li> </ul> <p>By default, home directory mappings have a <code>TYPE</code> of <code>DIRECTORY</code>. If you enable this option, you would then need to explicitly set the <code>HomeDirectoryMapEntry</code> <code>Type</code> to <code>FILE</code> if you want a mapping to have a file target.</p>"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.transfer#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to use IPv4 only, or to use dual-stack (IPv4 and IPv6) for your Transfer Family endpoint. The default value is <code>IPV4</code>.</p> <important> <p>The <code>IpAddressType</code> parameter has the following limitations:</p> <ul> <li> <p>It cannot be changed while the server is online. You must stop the server before modifying this parameter.</p> </li> <li> <p>It cannot be updated to <code>DUALSTACK</code> if the server has <code>AddressAllocationIds</code> specified.</p> </li> </ul> </important> <note> <p>When using <code>DUALSTACK</code> as the <code>IpAddressType</code>, you cannot set the <code>AddressAllocationIds</code> parameter for the <a href=\"https://docs.aws.amazon.com/transfer/latest/APIReference/API_EndpointDetails.html\">EndpointDetails</a> for the server.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.transfer#CreateServerResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The service-assigned identifier of the server that is created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.transfer#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": [
            "iam:PassRole",
            "transfer:CreateUser",
            "transfer:DescribeUser",
            "transfer:ImportSshPublicKey",
            "transfer:TagResource"
          ]
        },
        "smithy.api#documentation": "<p>Creates a user and associates them with an existing file transfer protocol-enabled server. You can only create and associate users with servers that have the <code>IdentityProviderType</code> set to <code>SERVICE_MANAGED</code>. Using parameters for <code>CreateUser</code>, you can specify the user name, set the home directory, store the user's public key, and assign the user's Identity and Access Management (IAM) role. You can also optionally add a session policy, and assign metadata with tags that can be used to group and search for users.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.transfer#CreateUserRequest": {
      "type": "structure",
      "members": {
        "HomeDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p> <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p> <note> <p>You can use the <code>HomeDirectory</code> parameter for <code>HomeDirectoryType</code> when it is set to either <code>PATH</code> or <code>LOGICAL</code>.</p> </note>"
          }
        },
        "HomeDirectoryType": {
          "target": "com.amazonaws.transfer#HomeDirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of landing directory (folder) that you want your users' home directory to be when they log in to the server. If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or Amazon EFS path as is in their file transfer protocol clients. If you set it to <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for how you want to make Amazon S3 or Amazon EFS paths visible to your users.</p> <note> <p>If <code>HomeDirectoryType</code> is <code>LOGICAL</code>, you must provide mappings, using the <code>HomeDirectoryMappings</code> parameter. If, on the other hand, <code>HomeDirectoryType</code> is <code>PATH</code>, you provide an absolute path using the <code>HomeDirectory</code> parameter. You cannot have both <code>HomeDirectory</code> and <code>HomeDirectoryMappings</code> in your template.</p> </note>"
          }
        },
        "HomeDirectoryMappings": {
          "target": "com.amazonaws.transfer#HomeDirectoryMappings",
          "traits": {
            "smithy.api#documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should be visible to your user and how you want to make them visible. You must specify the <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you only specify a target, it is displayed as is. You also must ensure that your Identity and Access Management (IAM) role provides access to paths in <code>Target</code>. This value can be set only when <code>HomeDirectoryType</code> is set to <i>LOGICAL</i>.</p> <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p> <p> <code>[ { \"Entry\": \"/directory1\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code> </p> <p>In most cases, you can use this value instead of the session policy to lock your user down to the designated home directory (\"<code>chroot</code>\"). To do this, you can set <code>Entry</code> to <code>/</code> and set <code>Target</code> to the value the user should see for their home directory when they log in.</p> <p>The following is an <code>Entry</code> and <code>Target</code> pair example for <code>chroot</code>.</p> <p> <code>[ { \"Entry\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code> </p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.transfer#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A session policy for your user so that you can use the same Identity and Access Management (IAM) role across multiple users. This policy scopes down a user's access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p> <note> <p>This policy applies only when the domain of <code>ServerId</code> is Amazon S3. Amazon EFS does not use session policies.</p> <p>For session policies, Transfer Family stores the policy as a JSON blob, instead of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass it in the <code>Policy</code> argument.</p> <p>For an example of a session policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/session-policy.html\">Example session policy</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>Amazon Web Services Security Token Service API Reference</i>.</p> </note>"
          }
        },
        "PosixProfile": {
          "target": "com.amazonaws.transfer#PosixProfile",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the full POSIX identity, including user ID (<code>Uid</code>), group ID (<code>Gid</code>), and any secondary groups IDs (<code>SecondaryGids</code>), that controls your users' access to your Amazon EFS file systems. The POSIX permissions that are set on files and directories in Amazon EFS determine the level of access your users get when transferring files into and out of your Amazon EFS file systems.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.transfer#Role",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that controls your users' access to your Amazon S3 bucket or Amazon EFS file system. The policies attached to this role determine the level of access that you want to provide your users when transferring files into and out of your Amazon S3 bucket or Amazon EFS file system. The IAM role should also contain a trust relationship that allows the server to access your resources when servicing your users' transfer requests.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server that you added your user to.</p>",
            "smithy.api#required": {}
          }
        },
        "SshPublicKeyBody": {
          "target": "com.amazonaws.transfer#SshPublicKeyBody",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The public portion of the Secure Shell (SSH) key used to authenticate the user to the server.</p> <p>The three standard SSH public key format elements are <code>&lt;key type&gt;</code>, <code>&lt;body base64&gt;</code>, and an optional <code>&lt;comment&gt;</code>, with spaces between each element.</p> <p>Transfer Family accepts RSA, ECDSA, and ED25519 keys.</p> <ul> <li> <p>For RSA keys, the key type is <code>ssh-rsa</code>.</p> </li> <li> <p>For ED25519 keys, the key type is <code>ssh-ed25519</code>.</p> </li> <li> <p>For ECDSA keys, the key type is either <code>ecdsa-sha2-nistp256</code>, <code>ecdsa-sha2-nistp384</code>, or <code>ecdsa-sha2-nistp521</code>, depending on the size of the key you generated.</p> </li> </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for users. Tags are metadata attached to users for any purpose.</p>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a user and is associated with a <code>ServerId</code>. This user name must be a minimum of 3 and a maximum of 100 characters long. The following are valid characters: a-z, A-Z, 0-9, underscore '_', hyphen '-', period '.', and at sign '@'. The user name can't start with a hyphen, period, or at sign.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.transfer#CreateUserResponse": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the server that the user is attached to.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.transfer#UserName",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies a Transfer Family user.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.transfer#CreateWebApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateWebAppRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateWebAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["iam:PassRole", "transfer:CreateWebApp", "transfer:TagResource"]
        },
        "smithy.api#documentation": "<p>Creates a web app based on specified parameters, and returns the ID for the new web app.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createWebApp"
        }
      }
    },
    "com.amazonaws.transfer#CreateWebAppRequest": {
      "type": "structure",
      "members": {
        "IdentityProviderDetails": {
          "target": "com.amazonaws.transfer#WebAppIdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "<p>You can provide a structure that contains the details for the identity provider to use with your web app.</p> <p>For more details about this parameter, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/webapp-identity-center.html\">Configure your identity provider for Transfer Family web apps</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessEndpoint": {
          "target": "com.amazonaws.transfer#WebAppAccessEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccessEndpoint</code> is the URL that you provide to your users for them to interact with the Transfer Family web app. You can specify a custom URL or use the default value.</p> <p>Before you enter a custom URL for this parameter, follow the steps described in <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/webapp-customize.html\">Update your access endpoint with a custom URL</a>.</p>"
          }
        },
        "WebAppUnits": {
          "target": "com.amazonaws.transfer#WebAppUnits",
          "traits": {
            "smithy.api#documentation": "<p>A union that contains the value for number of concurrent connections or the user sessions on your web app.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for web apps.</p>"
          }
        },
        "WebAppEndpointPolicy": {
          "target": "com.amazonaws.transfer#WebAppEndpointPolicy",
          "traits": {
            "smithy.api#documentation": "<p> Setting for the type of endpoint policy for the web app. The default value is <code>STANDARD</code>. </p> <p>If you are creating the web app in an Amazon Web Services GovCloud (US) Region, you can set this parameter to <code>FIPS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.transfer#CreateWebAppResponse": {
      "type": "structure",
      "members": {
        "WebAppId": {
          "target": "com.amazonaws.transfer#WebAppId",
          "traits": {
            "smithy.api#documentation": "<p>Returns a unique identifier for the web app.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.transfer#CreateWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#CreateWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.transfer#CreateWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.transfer#ThrottlingException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["transfer:TagResource"]
        },
        "smithy.api#documentation": "<p> Allows you to create a workflow with specified steps and step details the workflow invokes after file transfer completes. After creating a workflow, you can associate the workflow created with any transfer servers by specifying the <code>workflow-details</code> field in <code>CreateServer</code> and <code>UpdateServer</code> operations. </p>"
      }
    },
    "com.amazonaws.transfer#CreateWorkflowRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.transfer#WorkflowDescription",
          "traits": {
            "smithy.api#documentation": "<p>A textual description for the workflow.</p>"
          }
        },
        "Steps": {
          "target": "com.amazonaws.transfer#WorkflowSteps",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the details for the steps that are in the specified workflow.</p> <p> The <code>TYPE</code> specifies which of the following actions is being taken for this step. </p> <ul> <li> <p> <b> <code>COPY</code> </b> - Copy the file to another location.</p> </li> <li> <p> <b> <code>CUSTOM</code> </b> - Perform a custom step with an Lambda function target.</p> </li> <li> <p> <b> <code>DECRYPT</code> </b> - Decrypt a file that was encrypted before it was uploaded.</p> </li> <li> <p> <b> <code>DELETE</code> </b> - Delete the file.</p> </li> <li> <p> <b> <code>TAG</code> </b> - Add a tag to the file.</p> </li> </ul> <note> <p> Currently, copying and tagging are supported only on S3. </p> </note> <p> For file location, you specify either the Amazon S3 bucket and key, or the Amazon EFS file system ID and path. </p>",
            "smithy.api#required": {}
          }
        },
        "OnExceptionSteps": {
          "target": "com.amazonaws.transfer#WorkflowSteps",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the steps (actions) to take if errors are encountered during execution of the workflow.</p> <note> <p>For custom steps, the Lambda function needs to send <code>FAILURE</code> to the call back API to kick off the exception steps. Additionally, if the Lambda does not send <code>SUCCESS</code> before it times out, the exception steps are executed.</p> </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transfer#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that can be used to group and search for workflows. Tags are metadata attached to workflows for any purpose.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.transfer#CreateWorkflowResponse": {
      "type": "structure",
      "members": {
        "WorkflowId": {
          "target": "com.amazonaws.transfer#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.transfer#CustomDirectoriesType": {
      "type": "structure",
      "members": {
        "FailedFilesDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a location to store failed AS2 message files.</p>",
            "smithy.api#required": {}
          }
        },
        "MdnFilesDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a location to store MDN files.</p>",
            "smithy.api#required": {}
          }
        },
        "PayloadFilesDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a location to store the payload for AS2 message files.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusFilesDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a location to store AS2 status messages.</p>",
            "smithy.api#required": {}
          }
        },
        "TemporaryFilesDirectory": {
          "target": "com.amazonaws.transfer#HomeDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a location to store temporary AS2 message files.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains Amazon S3 locations for storing specific types of AS2 message files.</p>"
      }
    },
    "com.amazonaws.transfer#CustomStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step, used as an identifier.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.transfer#CustomStepTarget",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the Lambda function that is being called.</p>"
          }
        },
        "TimeoutSeconds": {
          "target": "com.amazonaws.transfer#CustomStepTimeoutSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Timeout, in seconds, for the step.</p>"
          }
        },
        "SourceFileLocation": {
          "target": "com.amazonaws.transfer#SourceFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which file to use as input to the workflow step: either the output from the previous step, or the originally uploaded file for the workflow.</p> <ul> <li> <p>To use the previous file as the input, enter <code>${previous.file}</code>. In this case, this workflow step uses the output file from the previous workflow step as input. This is the default value.</p> </li> <li> <p>To use the originally uploaded file location as input for this step, enter <code>${original.file}</code>.</p> </li> </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Each step type has its own <code>StepDetails</code> structure.</p>"
      }
    },
    "com.amazonaws.transfer#CustomStepStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        }
      }
    },
    "com.amazonaws.transfer#CustomStepTarget": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 170
        },
        "smithy.api#pattern": "^arn:[a-z-]+:lambda:.*$"
      }
    },
    "com.amazonaws.transfer#CustomStepTimeoutSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1800
        }
      }
    },
    "com.amazonaws.transfer#DateImported": {
      "type": "timestamp"
    },
    "com.amazonaws.transfer#DecryptStepDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.transfer#WorkflowStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step, used as an identifier.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.transfer#EncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of encryption used. Currently, this value must be <code>PGP</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceFileLocation": {
          "target": "com.amazonaws.transfer#SourceFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which file to use as input to the workflow step: either the output from the previous step, or the originally uploaded file for the workflow.</p> <ul> <li> <p>To use the previous file as the input, enter <code>${previous.file}</code>. In this case, this workflow step uses the output file from the previous workflow step as input. This is the default value.</p> </li> <li> <p>To use the originally uploaded file location as input for this step, enter <code>${original.file}</code>.</p> </li> </ul>"
          }
        },
        "OverwriteExisting": {
          "target": "com.amazonaws.transfer#OverwriteExisting",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates whether to overwrite an existing file of the same name. The default is <code>FALSE</code>.</p> <p>If the workflow is processing a file that has the same name as an existing file, the behavior is as follows:</p> <ul> <li> <p>If <code>OverwriteExisting</code> is <code>TRUE</code>, the existing file is replaced with the file being processed.</p> </li> <li> <p>If <code>OverwriteExisting</code> is <code>FALSE</code>, nothing happens, and the workflow processing stops.</p> </li> </ul>"
          }
        },
        "DestinationFileLocation": {
          "target": "com.amazonaws.transfer#InputFileLocation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the location for the file being decrypted. Use <code>${Transfer:UserName}</code> or <code>${Transfer:UploadDate}</code> in this field to parametrize the destination prefix by username or uploaded date.</p> <ul> <li> <p>Set the value of <code>DestinationFileLocation</code> to <code>${Transfer:UserName}</code> to decrypt uploaded files to an Amazon S3 bucket that is prefixed with the name of the Transfer Family user that uploaded the file.</p> </li> <li> <p>Set the value of <code>DestinationFileLocation</code> to <code>${Transfer:UploadDate}</code> to decrypt uploaded files to an Amazon S3 bucket that is prefixed with the date of the upload.</p> <note> <p>The system resolves <code>UploadDate</code> to a date format of <i>YYYY-MM-DD</i>, based on the date the file is uploaded in UTC.</p> </note> </li> </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Each step type has its own <code>StepDetails</code> structure.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteAccessRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows you to delete the access specified in the <code>ServerID</code> and <code>ExternalID</code> parameters.</p>"
      }
    },
    "com.amazonaws.transfer#DeleteAccessRequest": {
      "type": "structure",
      "members": {
        "ServerId": {
          "target": "com.amazonaws.transfer#ServerId",
          "traits": {
            "smithy.api#documentation": "<p>A system-assigned unique identifier for a server that has this user assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalId": {
          "target": "com.amazonaws.transfer#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that is required to identify specific groups within your directory. The users of the group that you associate have access to your Amazon S3 or Amazon EFS resources over the enabled protocols using Transfer Family. If you know the group name, you can view the SID values by running the following command using Windows PowerShell.</p> <p> <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code> </p> <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p> <p>The regular expression used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@:/-</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.transfer#DeleteAgreement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transfer#DeleteAgreementRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.transfer#InternalServiceError"
        },
        {
          "target": "com.amazonaws.transfer#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.transfer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.transfer#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete the agreement that's specified in the provided <code>AgreementId</code>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.transfer#DeleteAgreementRequest": {
      "type": "structure",
      "members": {
        "AgreementId": {
          "target": "com.amazonaws.transfer#AgreementId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the agreement. This identifier is returned when you create an agreement.</p>",
            "smithy.api#required": {}
          }
[...]
