{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.transcribe#AbsoluteTimeRange": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the beginning of the time range in seconds. To set absolute time\n            range, you must specify a start time and an end time. For example, if you specify the following\n            values:</p> \n        <ul>\n            <li>\n               <p>StartTime - 10000</p>\n            </li>\n            <li>\n               <p>Endtime - 50000</p>\n            </li>\n         </ul>\n        <p>The time range is set between 10,000 milliseconds and 50,000 milliseconds into the\n            call.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the end of the time range in milliseconds. To set absolute time \n            range, you must specify a start time and an end time. For example, if you specify the following\n            values:</p>\n        <ul>\n            <li>\n               <p>StartTime - 10000</p>\n            </li>\n            <li>\n               <p>Endtime - 50000</p>\n            </li>\n         </ul>\n        <p>The time range is set between 10,000 milliseconds and 50,000 milliseconds into the \n            call.</p>"
          }
        },
        "First": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>A time range from the beginning of the call to the value that you've specified. For example, \n            if you specify <code>100000</code>, the time range is set to the first 100,000 milliseconds\n            of the call.</p>"
          }
        },
        "Last": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>A time range from the value that you've specified to the end of the call. For example, if you\n            specify <code>100000</code>, the time range is set to the last 100,000 milliseconds of the\n            call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A time range, set in seconds, between two points in the call.</p>"
      }
    },
    "com.amazonaws.transcribe#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request didn't pass one or more validation tests. For example, if the entity that \n            you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \n            \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.transcribe#BaseModelName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NarrowBand",
            "name": "NARROW_BAND"
          },
          {
            "value": "WideBand",
            "name": "WIDE_BAND"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.transcribe#CLMLanguageCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "en-US",
            "name": "EN_US"
          },
          {
            "value": "hi-IN",
            "name": "HI_IN"
          },
          {
            "value": "es-US",
            "name": "ES_US"
          },
          {
            "value": "en-GB",
            "name": "EN_GB"
          },
          {
            "value": "en-AU",
            "name": "EN_AU"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJob": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics job.</p>"
          }
        },
        "CallAnalyticsJobStatus": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the analytics job.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>If you know the language spoken between the customer and the agent, specify a \n            language code for this field.</p>\n        <p>If you don't know the language, you can leave this field blank, and Amazon Transcribe will use machine \n            learning to automatically identify the language. To improve the accuracy of language \n            identification, you can provide an array containing the possible language codes for the \n            language spoken in your audio. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> for\n            additional information.</p>"
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribe#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "<p>The sample rate, in Hertz, of the input audio.</p>"
          }
        },
        "MediaFormat": {
          "target": "com.amazonaws.transcribe#MediaFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the input audio file. Note: for call analytics jobs, only the following media \n            formats are supported: MP3, MP4, WAV, FLAC, OGG, and WebM.</p>"
          }
        },
        "Media": {
          "target": "com.amazonaws.transcribe#Media"
        },
        "Transcript": {
          "target": "com.amazonaws.transcribe#Transcript"
        },
        "StartTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the analytics job started processing.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the analytics job was created.</p>"
          }
        },
        "CompletionTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the analytics job was completed.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>AnalyticsJobStatus</code> is <code>FAILED</code>, this field contains \n            information about why the job failed.</p>\n        <p>The <code>FailureReason</code> field can contain one of the following values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>Unsupported media format</code>: The media format specified in the\n                <code>MediaFormat</code> field of the request isn't valid. See the description of the\n                <code>MediaFormat</code> field for a list of valid values.</p>\n            </li>\n            <li>\n                <p>\n                  <code>The media format provided does not match the detected media \n                    format</code>: The media format of the audio file doesn't match the format specified \n                    in the <code>MediaFormat</code> field in the request. Check the media format of your\n                    media file and make sure the two values match.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Invalid sample rate for audio file</code>: The sample rate specified in the\n                <code>MediaSampleRateHertz</code> of the request isn't valid. The sample rate must be\n                    between 8,000 and 48,000 Hertz.</p>\n            </li>\n            <li>\n               <p>\n                  <code>The sample rate provided does not match the detected sample\n                rate</code>: The sample rate in the audio file doesn't match the sample rate specified in \n                the <code>MediaSampleRateHertz</code> field in the request. Check the sample rate of \n                your media file and make sure that the two values match.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Invalid file size: file size too large</code>: The size of your audio file is larger\n                    than what Amazon Transcribe Medical can process. For more information, see <i>Guidelines and\n                        Quotas</i> in the Amazon Transcribe Medical Guide.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Invalid number of channels: number of channels too large</code>: Your \n                    audio contains more channels than Amazon Transcribe Medical is configured to process. To request additional\n                    channels, see Amazon Transcribe Medical Endpoints and Quotas in the\n                    <a href=\"https://docs.aws.amazon.com/general/latest/gr/Welcome.html\">Amazon Web \n                        Services General Reference</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.transcribe#DataAccessRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) that you use to access the analytics job. ARNs \n            have the format\n            <code>arn:partition:service:region:account-id:resource-type/resource-id</code>.</p>"
          }
        },
        "IdentifiedLanguageScore": {
          "target": "com.amazonaws.transcribe#IdentifiedLanguageScore",
          "traits": {
            "smithy.api#documentation": "<p>A value between zero and one that Amazon Transcribe assigned to the language that it identified in \n            the source audio. This value appears only when you don't provide a single language code. \n            Larger values indicate that Amazon Transcribe has higher confidence in the language that it\n            identified.</p>"
          }
        },
        "Settings": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobSettings",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the settings used to run a transcription job.</p>"
          }
        },
        "ChannelDefinitions": {
          "target": "com.amazonaws.transcribe#ChannelDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>Shows numeric values to indicate the channel assigned to the agent's audio and the\n            channel assigned to the customer's audio. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an asynchronous analytics job that was created with the\n            <code>StartAnalyticsJob</code> operation.</p>"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobSettings": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a vocabulary to use when processing the call analytics job.</p>"
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter to use when running a call analytics job. The filter that\n            you specify must have the same language code as the analytics job.</p>"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.transcribe#VocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>Set to mask to remove filtered text from the transcript and replace it with three \n            asterisks (\"***\") as placeholder text. Set to <code>remove</code> to remove filtered text \n            from the transcript without using placeholder text. Set to <code>tag</code> to mark the word \n            in the transcription output that matches the vocabulary filter. When you set the filter method\n            to <code>tag</code>, the words matching your vocabulary filter are not masked or \n            removed.</p>"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The structure used to describe a custom language model.</p>"
          }
        },
        "ContentRedaction": {
          "target": "com.amazonaws.transcribe#ContentRedaction"
        },
        "LanguageOptions": {
          "target": "com.amazonaws.transcribe#LanguageOptions",
          "traits": {
            "smithy.api#documentation": "<p>When you run a call analytics job, you can specify the language spoken in the audio, or\n            you can have Amazon Transcribe identify the language for you.</p>\n        <p>To specify a language, specify an array with one language code. If you don't know the \n            language, you can leave this field blank and Amazon Transcribe will use machine learning to identify the \n            language for you. To improve the ability of Amazon Transcribe to correctly identify the language, you can \n            provide an array of the languages that can be present in the audio. Refer to \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> for\n            additional information.</p>"
          }
        },
        "LanguageIdSettings": {
          "target": "com.amazonaws.transcribe#LanguageIdSettingsMap",
          "traits": {
            "smithy.api#documentation": "<p>The language identification settings associated with your call analytics job. These settings \n            include <code>VocabularyName</code>, <code>VocabularyFilterName</code>, and\n            <code>LanguageModelName</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides optional settings for the <code>CallAnalyticsJob</code> operation. </p>"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "QUEUED",
            "name": "QUEUED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#CallAnalyticsJobSummary"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobSummary": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics job.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the call analytics job was created.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the job began processing.</p>"
          }
        },
        "CompletionTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the job was completed.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the transcript in the source audio file.</p>"
          }
        },
        "CallAnalyticsJobStatus": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the call analytics job.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>CallAnalyticsJobStatus</code> is <code>FAILED</code>, a description of \n            the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a call analytics job.</p>"
      }
    },
    "com.amazonaws.transcribe#CategoryName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
      }
    },
    "com.amazonaws.transcribe#CategoryProperties": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics category.</p>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.transcribe#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules used to create a call analytics category.</p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the call analytics category was created.</p>"
          }
        },
        "LastUpdateTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the call analytics category was most recently \n            updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the rules and additional information about a call analytics \n            category.</p>"
      }
    },
    "com.amazonaws.transcribe#CategoryPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#CategoryProperties"
      }
    },
    "com.amazonaws.transcribe#ChannelDefinition": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.transcribe#ChannelId",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the audio channel.</p>"
          }
        },
        "ParticipantRole": {
          "target": "com.amazonaws.transcribe#ParticipantRole",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the person speaking on the audio channel is the agent or \n            customer.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For a call analytics job, an object that indicates the audio channel that belongs to the\n            agent and the audio channel that belongs to the customer.</p>"
      }
    },
    "com.amazonaws.transcribe#ChannelDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#ChannelDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.transcribe#ChannelId": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.transcribe#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is already a resource with that name.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.transcribe#ContentRedaction": {
      "type": "structure",
      "members": {
        "RedactionType": {
          "target": "com.amazonaws.transcribe#RedactionType",
          "traits": {
            "smithy.api#documentation": "<p>Request parameter that defines the entities to be redacted. The only accepted value is\n            <code>PII</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "RedactionOutput": {
          "target": "com.amazonaws.transcribe#RedactionOutput",
          "traits": {
            "smithy.api#documentation": "<p>The output transcript file stored in either the default S3 bucket or in a bucket you\n            specify.</p>\n        <p>When you choose <code>redacted</code> Amazon Transcribe outputs only the redacted \n            transcript.</p>\n        <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs both the \n            redacted and unredacted transcripts.</p>",
            "smithy.api#required": {}
          }
        },
        "PiiEntityTypes": {
          "target": "com.amazonaws.transcribe#PiiEntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of personally identifiable information (PII) you want to redact in your\n            transcript.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings for content redaction within a transcription job.</p>"
      }
    },
    "com.amazonaws.transcribe#CreateCallAnalyticsCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateCallAnalyticsCategoryRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateCallAnalyticsCategoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a call analytics category. Amazon Transcribe applies the conditions specified by your\n            call analytics categories to your call analytics jobs. For each analytics category, you \n            must create between 1 and 20 rules. For example, you can create a 'greeting' \n            category with a rule that flags calls in which your agent does not use a specified \n            phrase (for example: \"Please note this call may be recorded.\") in the first 15 seconds\n            of the call. When you start a call analytics job, Amazon Transcribe applies all your existing call\n            analytics categories to that job.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/callanalyticscategories/{CategoryName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateCallAnalyticsCategoryRequest": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name, chosen by you, for your call analytics category. For example, \n        <code>sentiment-positive-last30seconds</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.transcribe#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>Rules make up a call analytics category. When creating a call analytics category,\n            you must create between 1 and 20 rules for your category. For each rule, you \n            specify a filter you want applied to the attributes of a call. For example, you can choose\n            a sentiment filter that detects if a customer's sentiment was positive during the last\n            30 seconds of the call.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateCallAnalyticsCategoryResponse": {
      "type": "structure",
      "members": {
        "CategoryProperties": {
          "target": "com.amazonaws.transcribe#CategoryProperties",
          "traits": {
            "smithy.api#documentation": "<p>If your audio matches one of your categories, this field contains data on that \n            category and its associated rules. This parameter shows which category is flagged\n            (<code>CategoryName</code>) along with metadata for the rules that match your \n            audio. Metadata includes the rule filter (such as <code>InterruptionFilter</code>,\n            <code>NonTalkTimeFilter</code>, <code>SentimentFilter</code>, and \n            <code>TranscriptFilter</code>) and where in your audio (<code>StartTime</code>\n            and <code>EndTime</code>) the rule has a match.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateLanguageModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateLanguageModelRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateLanguageModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom language model. When creating a new language model, \n            you must specify if you want a Wideband (audio sample rates over 16,000 Hz) or\n            Narrowband (audio sample rates under 16,000 Hz) base model. You then include the \n            S3 URI location of your training and tuning files, the language for the model, a \n            unique name, and any tags you want associated with your model.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/languagemodels/{ModelName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateLanguageModelRequest": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#CLMLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of your custom language model; note that the language code you\n            select must match the language of your training and tuning data.</p>",
            "smithy.api#required": {}
          }
        },
        "BaseModelName": {
          "target": "com.amazonaws.transcribe#BaseModelName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model, used to create your \n            custom language model. Amazon Transcribe offers two options for base models: Wideband and\n            Narrowband.</p>\n        <p>If the audio you want to transcribe has a sample rate of 16,000 Hz or greater, \n            choose <code>WideBand</code>. To transcribe audio with a sample rate less than\n            16,000 Hz, choose <code>NarrowBand</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your new custom language model.</p>\n        <p>This name is case sensitive, cannot contain spaces, and must be unique within an \n            Amazon Web Services account. If you try to create a language model with the same name as a\n            previous language model, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.transcribe#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains your data access role ARN (Amazon Resource Name) and the Amazon S3 \n            locations of your training (<code>S3Uri</code>) and tuning \n            (<code>TuningDataS3Uri</code>) data.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.transcribe#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Optionally add tags, each in the form of a key:value pair, to your new language\n            model. See also: .</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateLanguageModelResponse": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#CLMLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you selected for your custom language model.</p>"
          }
        },
        "BaseModelName": {
          "target": "com.amazonaws.transcribe#BaseModelName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model, you used when creating your\n            custom language model.</p>\n        <p>If your audio has a sample rate of 16,000 Hz or greater, this value should be\n            <code>WideBand</code>. If your audio has a sample rate of less than\n            16,000 Hz, this value should be <code>NarrowBand</code>.</p>"
          }
        },
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name you chose for your custom language model.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.transcribe#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Lists your data access role ARN (Amazon Resource Name) and the Amazon S3 \n            locations your provided for your training (<code>S3Uri</code>) and tuning \n            (<code>TuningDataS3Uri</code>) data.</p>"
          }
        },
        "ModelStatus": {
          "target": "com.amazonaws.transcribe#ModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of your custom language model. When the status shows as \n            <code>COMPLETED</code>, your model is ready to use.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateMedicalVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateMedicalVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateMedicalVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom medical vocabulary.</p>\n        <p>When creating a new medical vocabulary, you must upload a text file that contains\n            your new entries, phrases, and terms into an S3 bucket. Note that this differs from \n            , where you can include a list of terms within\n            your request using the <code>Phrases</code> flag, as\n            <code>CreateMedicalVocabulary</code> does not support the <code>Phrases</code>\n            flag.</p>\n        <p>For more information on creating a custom vocabulary text file, see \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary-create.html\">Creating a custom \n                vocabulary</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/medicalvocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateMedicalVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your new vocabulary.</p>\n        <p>This name is case sensitive, cannot contain spaces, and must be unique within an \n            Amazon Web Services account. If you try to create a vocabulary with the same name as a\n            previous vocabulary, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code that represents the language of the entries in your custom\n            vocabulary. Note that U.S. English (<code>en-US</code>) is the only language  \n            supported with Amazon Transcribe Medical.</p>",
            "smithy.api#required": {}
          }
        },
        "VocabularyFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location (URI) of the text file that contains your custom vocabulary. \n            The URI must be in the same Amazon Web Services Region as the resource that you're \n            calling.</p> \n        <p>Here's an example URI path:</p>        \n         <p>\n            <code>https://s3.us-east-1.amazonaws.com/my-s3-bucket/my-vocab-file.txt</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.transcribe#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Adds one or more tags, each in the form of a key:value pair, to a new medical \n            vocabulary at the time you create the new vocabulary.</p>\n        <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateMedicalVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name you chose for your vocabulary.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you selected for your medical vocabulary. Note that U.S. English\n            (<code>en-US</code>) is the only language supported with Amazon Transcribe Medical.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of your custom medical vocabulary. If the state is \n            <code>READY</code>, you can use the vocabulary in a \n            <code>StartMedicalTranscriptionJob</code> request.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time you created your custom medical vocabulary.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>VocabularyState</code> field is <code>FAILED</code>,\n            <code>FailureReason</code> contains information about why the job failed.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom vocabulary.</p>\n        <p>When creating a new medical vocabulary, you can either upload a text file that\n            contains your new entries, phrases, and terms into an S3 bucket or include a list of \n            terms directly in your request using the <code>Phrases</code> flag.</p>  \n        <p>For more information on creating a custom vocabulary, see \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary-create.html\">Creating a custom \n                vocabulary</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateVocabularyFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateVocabularyFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new vocabulary filter that you can use to filter words from your transcription\n            output. For example, you can use this operation to remove profanity from your\n            transcript.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vocabularyFilters/{VocabularyFilterName}",
          "code": 201
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyFilterRequest": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your new vocabulary filter.</p>\n        <p>This name is case sensitive, cannot contain spaces, and must be unique within an        \n            Amazon Web Services account. If you try to create a vocabulary filter with the same name \n            as a previous vocabulary filter, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the words in the vocabulary filter. All words in the filter must be\n            in the same language. The vocabulary filter can only be used with transcription jobs in the \n            specified language.</p>",
            "smithy.api#required": {}
          }
        },
        "Words": {
          "target": "com.amazonaws.transcribe#Words",
          "traits": {
            "smithy.api#documentation": "<p>The words you want in your vocabulary filter. Only use characters specified in the\n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character\n                sets</a> for the language you're transcribing.</p>\n        <p>Note that if you include <code>Words</code> in your request, you cannot use\n            <code>VocabularyFilterFileUri</code>; you must choose one or the other.</p>"
          }
        },
        "VocabularyFilterFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of a text file used as input to create the vocabulary filter. Only \n            use characters from the character set defined for custom vocabularies. For a list of \n            character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom\n                Vocabularies</a>.</p>\n        <p>Your vocabulary filter file must be less than 50 KB in size.</p>\n        <p>Note that if you include <code>VocabularyFilterFileUri</code> in your request, you \n            cannot use <code>Words</code>; you must choose one or the other.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transcribe#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Adds one or more tags, each in the form of a key:value pair, to a new vocabulary\n            filter at the time you create this new vocabulary filter.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyFilterResponse": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code associated with your vocabulary filter.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the vocabulary filter was modified.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your new vocabulary.</p>\n        <p>This name is case sensitive, cannot contain spaces, and must be unique within an \n            Amazon Web Services account. If you try to create a vocabulary with the same name as a\n            previous vocabulary, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code that represents the language of the entries in your custom\n            vocabulary. Each vocabulary must contain terms in only one language. For a list of \n            languages and their corresponding language codes, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported \n                languages</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Phrases": {
          "target": "com.amazonaws.transcribe#Phrases",
          "traits": {
            "smithy.api#documentation": "<p>Use this flag to include a list of terms within your request.</p>\n        <p>Note that if you include <code>Phrases</code> in your request, you cannot\n            use <code>VocabularyFileUri</code>; you must choose one or the other.</p>"
          }
        },
        "VocabularyFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the text file that contains your custom vocabulary. The\n            URI must be located in the same region as the API endpoint you're calling.</p>\n        <p>Here's an example URI path:</p>        \n         <p>\n            <code>https://s3.us-east-1.amazonaws.com/my-s3-bucket/my-vocab-file.txt</code>\n         </p>\n        <p>Note that if you include <code>VocabularyFileUri</code> in your request, you \n            cannot use the <code>Phrases</code> flag; you must choose one or the other.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.transcribe#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Adds one or more tags, each in the form of a key:value pair, to a new \n            custom vocabulary at the time you create this new vocabulary.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name you chose for your vocabulary.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you selected for your vocabulary.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of your vocabulary. If the state is <code>READY</code>, you can\n            use the vocabulary in a <code>StartTranscriptionJob</code> request.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time you created your custom vocabulary.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>VocabularyState</code> field is <code>FAILED</code>,\n            <code>FailureReason</code> contains information about why the job failed.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#DataAccessRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso-{0,1}[a-z]{0,1}):iam::[0-9]{0,63}:role/[A-Za-z0-9:_/+=,@.-]{0,1024}$"
      }
    },
    "com.amazonaws.transcribe#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a call analytics category. To use this operation, specify the name of the \n            category you want to delete using <code>CategoryName</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/callanalyticscategories/{CategoryName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryRequest": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics category you want to delete. Category names are\n            case-sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a call analytics job. To use this operation, specify the name of the \n            job you want to delete using <code>CallAnalyticsJobName</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/callanalyticsjobs/{CallAnalyticsJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsJobRequest": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics job you want to delete. Job names are\n            case-sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.transcribe#DeleteLanguageModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteLanguageModelRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom language model. To use this operation, specify the name of the \n            language model you want to delete using <code>ModelName</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/languagemodels/{ModelName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteLanguageModelRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the model you want to delete. Model names are case-sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteMedicalTranscriptionJobRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a medical transcription job, along with any related information. To use this \n            operation, specify the name of the job you want to delete using\n            <code>MedicalTranscriptionJobName</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/medicaltranscriptionjobs/{MedicalTranscriptionJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the medical transcription job you want to delete. Job names are\n            case-sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteMedicalVocabularyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom medical vocabulary. To use this operation, specify the name of the\n            vocabulary you want to delete using <code>VocabularyName</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/medicalvocabularies/{VocabularyName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary that you want to delete. Vocabulary names are\n            case-sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteTranscriptionJobRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a transcription job, along with any related information. To use this operation,\n            specify the name of the job you want to delete using\n            <code>TranscriptionJobName</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/transcriptionjobs/{TranscriptionJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the transcription job you want to delete. Job names are\n            case-sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteVocabularyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom vocabulary. To use this operation, specify the name of the vocabulary \n            you want to delete using <code>VocabularyName</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteVocabularyFilterRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a vocabulary filter. To use this operation, specify the name of the vocabulary \n            filter you want to delete using <code>VocabularyFilterName</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vocabularyFilters/{VocabularyFilterName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyFilterRequest": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter you want to delete. Vocabulary filter names are\n            case-sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary you want to delete. Vocabulary names are\n            case-sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DescribeLanguageModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DescribeLanguageModelRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#DescribeLanguageModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a specific custom language model in your \n            Amazon Web Services account.</p>\n        <p>This operation also shows if the base language model you used to create your custom\n            language model has been updated. If Amazon Transcribe has updated the base model, you can create a\n            new custom language model using the updated base model.</p>\n        <p>If you tried to create a new custom language model and the request wasn't successful,\n            you can use this operation to help identify the reason. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/languagemodels/{ModelName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#DescribeLanguageModelRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model you want described. Model names are\n            case-sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DescribeLanguageModelResponse": {
      "type": "structure",
      "members": {
        "LanguageModel": {
          "target": "com.amazonaws.transcribe#LanguageModel",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model you requested more information about.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#FailureReason": {
      "type": "string"
    },
    "com.amazonaws.transcribe#GetCallAnalyticsCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsCategoryRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsCategoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a call analytics category.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/callanalyticscategories/{CategoryName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsCategoryRequest": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the category you want information about. Category names are case\n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsCategoryResponse": {
      "type": "structure",
      "members": {
        "CategoryProperties": {
          "target": "com.amazonaws.transcribe#CategoryProperties",
          "traits": {
            "smithy.api#documentation": "<p>Provides you with the rules associated with the category you specified in your\n            <code>GetCallAnalyticsCategory</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a call analytics job.</p>\n        <p>To view the job's status, refer to the <code>CallAnalyticsJobStatus</code> field. If the \n            status is <code>COMPLETED</code>, the job is finished. You can then find your transcript at \n            the URI specified in the <code>TranscriptFileUri</code> field. If you enabled personally \n            identifiable information (PII) redaction, the redacted transcript appears in the\n            <code>RedactedTranscriptFileUri</code> field.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/callanalyticsjobs/{CallAnalyticsJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsJobRequest": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analytics job you want information about. This value is case\n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsJobResponse": {
      "type": "structure",
      "members": {
        "CallAnalyticsJob": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJob",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains detailed information about your call analytics job. Returned fields\n            include: <code>CallAnalyticsJobName</code>, <code>CallAnalyticsJobStatus</code>,\n            <code>ChannelDefinitions</code>, <code>CompletionTime</code>,\n            <code>CreationTime</code>, <code>DataAccessRoleArn</code>,\n            <code>FailureReason</code>, <code>IdentifiedLanguageScore</code>, \n            <code>LanguageCode</code>, <code>Media</code>, <code>MediaFormat</code>,\n            <code>MediaSampleRateHertz</code>, <code>Settings</code>, <code>StartTime</code>,\n            and <code>Transcript</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetMedicalTranscriptionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetMedicalTranscriptionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a medical transcription job.</p>\n        <p>To view the job's status, refer to the <code>TranscriptionJobStatus</code> field. If the \n            status is <code>COMPLETED</code>, the job is finished. You can then find your transcript at \n            the URI specified in the <code>TranscriptFileUri</code> field.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/medicaltranscriptionjobs/{MedicalTranscriptionJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the medical transcription job you want information about. This value is case\n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalTranscriptionJobResponse": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJob": {
          "target": "com.amazonaws.transcribe#MedicalTranscriptionJob",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains detailed information about your medical transcription job.\n            Returned fields include: <code>CompletionTime</code>,\n            <code>ContentIdentificationType</code>, <code>CreationTime</code>,\n            <code>FailureReason</code>, <code>LanguageCode</code>, <code>Media</code>,\n            <code>MediaFormat</code>, <code>MediaSampleRateHertz</code>, \n            <code>MedicalTranscriptionJobName</code>, <code>Settings</code>,\n            <code>Specialty</code>, <code>StartTime</code>, <code>Tags</code>,\n            <code>Transcript</code>, <code>TranscriptionJobStatus</code>, and\n            <code>Type</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetMedicalVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetMedicalVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a medical vocabulary.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/medicalvocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the medical vocabulary you want information about. This value is case \n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary returned by Amazon Transcribe Medical.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The valid language code for your vocabulary entries.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of the vocabulary. If the <code>VocabularyState</code> is <code>READY</code> \n            then you can use it in the <code>StartMedicalTranscriptionJob</code> operation.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the vocabulary was last modified with a text file different from the one that was \n            previously used.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If your request returns a <code>VocabularyState</code> that is <code>FAILED</code>,\n            the <code>FailureReason</code> field contains information about why the request \n            failed.</p>\n        <p>For more information, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>\n            section.</p>"
          }
        },
        "DownloadUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location where the vocabulary is stored; use this URI to view or download the\n            vocabulary.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetTranscriptionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetTranscriptionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a transcription job. To see the status of the job, check the \n            <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, \n            the job is finished and you can find the results at the location specified in the\n            <code>TranscriptFileUri</code> field. If you enable content redaction, the redacted\n            transcript appears in <code>RedactedTranscriptFileUri</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/transcriptionjobs/{TranscriptionJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJobResponse": {
      "type": "structure",
      "members": {
        "TranscriptionJob": {
          "target": "com.amazonaws.transcribe#TranscriptionJob",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the results of the transcription job.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a vocabulary. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetVocabularyFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetVocabularyFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a vocabulary filter.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vocabularyFilters/{VocabularyFilterName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyFilterRequest": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter for which to return information.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyFilterResponse": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the words in the vocabulary filter.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the contents of the vocabulary filter were updated.</p>"
          }
        },
        "DownloadUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the list of words in the vocabulary filter. You can use this URI to get the list of words.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary to return information about. The name is case\n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary to return.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the vocabulary entries.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of the vocabulary.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the vocabulary was last modified.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains\n            information about why the job failed.</p>"
          }
        },
        "DownloadUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location where the vocabulary is stored. Use this URI to get the contents of\n            the vocabulary. The URI is available for a limited time.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#IdentifiedLanguageScore": {
      "type": "float",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.transcribe#InputDataConfig": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 prefix you specify to access the plain text files that you use to train your \n            custom language model.</p>",
            "smithy.api#required": {}
          }
        },
        "TuningDataS3Uri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 prefix you specify to access the plain text files that you use to tune your \n            custom language model.</p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.transcribe#DataAccessRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the permissions you've given\n            Amazon Transcribe to access your Amazon S3 buckets containing your media files or text data. ARNs have the\n            format\n            <code>arn:partition:service:region:account-id:resource-type/resource-id</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The object that contains the Amazon S3 object location and access role required to train and \n            tune your custom language model.</p>"
      }
    },
    "com.amazonaws.transcribe#InternalFailureException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an internal error. Check the error message and try your request again.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.transcribe#InterruptionFilter": {
      "type": "structure",
      "members": {
        "Threshold": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the interruption.</p>"
          }
        },
        "ParticipantRole": {
          "target": "com.amazonaws.transcribe#ParticipantRole",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the caller or customer was interrupting.</p>"
          }
        },
        "AbsoluteTimeRange": {
          "target": "com.amazonaws.transcribe#AbsoluteTimeRange",
          "traits": {
            "smithy.api#documentation": "<p>An object you can use to specify a time range (in milliseconds) for when you'd want to \n            find the interruption. For example, you could search for an interruption between the 30,000 \n            millisecond mark and the 45,000 millisecond mark. You could also specify the time period as \n            the first 15,000 milliseconds or the last 15,000 milliseconds.</p>"
          }
        },
        "RelativeTimeRange": {
          "target": "com.amazonaws.transcribe#RelativeTimeRange",
          "traits": {
            "smithy.api#documentation": "<p>An object that allows percentages to specify the proportion of the call where there was\n            a interruption. For example, you can specify the first half of the call. You can also specify the\n            period of time between halfway through to three-quarters of the way through the call. \n            Because the length of conversation can vary between calls, you can apply relative time \n            ranges across all calls.</p>"
          }
        },
        "Negate": {
          "target": "com.amazonaws.transcribe#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>TRUE</code> to look for a time period where there was no interruption.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that enables you to configure your category to be applied to call analytics \n            jobs where either the customer or agent was interrupted.</p>"
      }
    },
    "com.amazonaws.transcribe#JobExecutionSettings": {
      "type": "structure",
      "members": {
        "AllowDeferredExecution": {
          "target": "com.amazonaws.transcribe#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a job should be queued by Amazon Transcribe when the concurrent execution limit \n            is exceeded. When the <code>AllowDeferredExecution</code> field is true, jobs are queued\n            and executed when the number of executing jobs falls below the concurrent execution limit. If\n            the field is false, Amazon Transcribe returns a <code>LimitExceededException</code> exception.</p>\n        <p>Note that job queuing is enabled by default for call analytics jobs.</p>\n        <p>If you specify the <code>AllowDeferredExecution</code> field, you must specify the \n            <code>DataAccessRoleArn</code> field.</p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.transcribe#DataAccessRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN), in the form\n            <code>arn:partition:service:region:account-id:resource-type/resource-id</code>, of a role \n            that has access to the S3 bucket that contains the input files. Amazon Transcribe assumes this role to \n            read queued media files. If you have specified an output S3 bucket for the transcription \n            results, this role should have access to the output bucket as well.</p>      \n        <p>If you specify the <code>AllowDeferredExecution</code> field, you must specify the\n            <code>DataAccessRoleArn</code> field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about when a transcription job should be executed.</p>"
      }
    },
    "com.amazonaws.transcribe#KMSEncryptionContextMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.transcribe#NonEmptyString"
      },
      "value": {
        "target": "com.amazonaws.transcribe#NonEmptyString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.transcribe#KMSKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$"
      }
    },
    "com.amazonaws.transcribe#LanguageCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "af-ZA",
            "name": "AF_ZA"
          },
          {
            "value": "ar-AE",
            "name": "AR_AE"
          },
          {
            "value": "ar-SA",
            "name": "AR_SA"
          },
          {
            "value": "cy-GB",
            "name": "CY_GB"
          },
          {
            "value": "da-DK",
            "name": "DA_DK"
          },
          {
            "value": "de-CH",
            "name": "DE_CH"
          },
          {
            "value": "de-DE",
            "name": "DE_DE"
          },
          {
            "value": "en-AB",
            "name": "EN_AB"
          },
          {
            "value": "en-AU",
            "name": "EN_AU"
          },
          {
            "value": "en-GB",
            "name": "EN_GB"
          },
          {
            "value": "en-IE",
            "name": "EN_IE"
          },
          {
            "value": "en-IN",
            "name": "EN_IN"
          },
          {
            "value": "en-US",
            "name": "EN_US"
          },
          {
            "value": "en-WL",
            "name": "EN_WL"
          },
          {
            "value": "es-ES",
            "name": "ES_ES"
          },
          {
            "value": "es-US",
            "name": "ES_US"
          },
          {
            "value": "fa-IR",
            "name": "FA_IR"
          },
          {
            "value": "fr-CA",
            "name": "FR_CA"
          },
          {
            "value": "fr-FR",
            "name": "FR_FR"
          },
          {
            "value": "ga-IE",
            "name": "GA_IE"
          },
          {
            "value": "gd-GB",
            "name": "GD_GB"
          },
          {
            "value": "he-IL",
            "name": "HE_IL"
          },
          {
            "value": "hi-IN",
            "name": "HI_IN"
          },
          {
            "value": "id-ID",
            "name": "ID_ID"
          },
          {
            "value": "it-IT",
            "name": "IT_IT"
          },
          {
            "value": "ja-JP",
            "name": "JA_JP"
          },
          {
            "value": "ko-KR",
            "name": "KO_KR"
          },
          {
            "value": "ms-MY",
            "name": "MS_MY"
          },
          {
            "value": "nl-NL",
            "name": "NL_NL"
          },
          {
            "value": "pt-BR",
            "name": "PT_BR"
          },
          {
            "value": "pt-PT",
            "name": "PT_PT"
          },
          {
            "value": "ru-RU",
            "name": "RU_RU"
          },
          {
            "value": "ta-IN",
            "name": "TA_IN"
          },
          {
            "value": "te-IN",
            "name": "TE_IN"
          },
          {
            "value": "tr-TR",
            "name": "TR_TR"
          },
          {
            "value": "zh-CN",
            "name": "ZH_CN"
          },
          {
            "value": "zh-TW",
            "name": "ZH_TW"
          },
          {
            "value": "th-TH",
            "name": "TH_TH"
          },
          {
            "value": "en-ZA",
            "name": "EN_ZA"
          },
          {
            "value": "en-NZ",
            "name": "EN_NZ"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#LanguageIdSettings": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary you want to use when processing your transcription job. The \n            vocabulary you specify must have the same language codes as the transcription job; if the\n            languages don't match, the vocabulary isn't applied.</p>"
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter you want to use when transcribing your audio. The filter\n            you specify must have the same language codes as the transcription job; if the languages \n            don't match, the vocabulary filter isn't be applied.</p>"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the language model you want to use when transcribing your audio. The \n            model you specify must have the same language codes as the transcription job; if the \n            languages don't match, the language model isn't be applied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Language-specific settings that can be specified when language identification is \n            enabled.</p>"
      }
    },
    "com.amazonaws.transcribe#LanguageIdSettingsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.transcribe#LanguageCode"
      },
      "value": {
        "target": "com.amazonaws.transcribe#LanguageIdSettings"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.transcribe#LanguageModel": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model.</p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the custom language model was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time the custom language model was modified.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#CLMLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you used to create your custom language model.</p>"
          }
        },
        "BaseModelName": {
          "target": "com.amazonaws.transcribe#BaseModelName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model used to create the custom language\n            model.</p>"
          }
        },
        "ModelStatus": {
          "target": "com.amazonaws.transcribe#ModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The creation status of a custom language model. When the status is \n            <code>COMPLETED</code> the model is ready for use.</p>"
          }
        },
        "UpgradeAvailability": {
          "target": "com.amazonaws.transcribe#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the base model used for the custom language model is up to date. If this field \n            is <code>false</code> then you are running the most up-to-date version of the base model \n            in your custom language model.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why the custom language model couldn't be created.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.transcribe#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The data access role and Amazon S3 prefixes for the input files used to train the custom\n            language model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure used to describe a custom language model.</p>"
      }
    },
    "com.amazonaws.transcribe#LanguageOptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#LanguageCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.transcribe#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Either you have sent too many requests or your input file is too long. Wait before you\n            resend your request, or use a smaller file and resend the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.transcribe#ListCallAnalyticsCategories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#ListCallAnalyticsCategoriesRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#ListCallAnalyticsCategoriesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides more information about the call analytics categories that you've created. You \n            can use the information in this list to find a specific category. You can then use the\n             operation to get more information about \n            it.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/callanalyticscategories",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transcribe#ListCallAnalyticsCategoriesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.transcribe#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When included, <code>NextToken</code>fetches the next set of categories if the result \n            of the previous request was truncated.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.transcribe#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of categories to return in each page of results. If there are fewer \n            results than the value you specify, only the actual results are returned. If you do not specify a\n            value, the default of 5 is used.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.transcribe#ListCallAnalyticsCategoriesResponse": {
      "type": "structure",
[...]
