{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.transcribe#AbsoluteTimeRange": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the beginning of the time range in seconds. To set absolute time\n            range, you must specify a start time and an end time. For example, if you specify the\n            following values:</p> \n        <ul>\n            <li>\n               <p>StartTime - 10000</p>\n            </li>\n            <li>\n               <p>Endtime - 50000</p>\n            </li>\n         </ul>\n            <p>The time range is set between 10,000 milliseconds and 50,000 milliseconds into the call.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the end of the time range in milliseconds. To set absolute time\n           range, you must specify a start time and an end time. For example, if you specify the\n           following values:</p>\n         <ul>\n            <li>\n               <p>StartTime - 10000</p>\n            </li>\n            <li>\n               <p>Endtime - 50000</p>\n            </li>\n         </ul>\n         <p>The time range is set between 10,000 milliseconds and 50,000 milliseconds into the call. </p>"
          }
        },
        "First": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>A time range from the beginning of the call to the value that you've specified. For\n           example, if you specify 100000, the time range is set to the first 100,000 milliseconds of\n           the call.</p>"
          }
        },
        "Last": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>A time range from the value that you've specified to the end of the call. For example, if\n           you specify 100000, the time range is set to the last 100,000 milliseconds of the call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A time range, set in seconds, between two points in the call.</p>"
      }
    },
    "com.amazonaws.transcribe#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#FailureReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request didn't pass one or more validation tests. For example, if the entity that\n            you're trying to delete doesn't exist or if it is in a non-terminal state (for example,\n            it's \"in progress\"). See the exception <code>Message</code> field for more\n            information.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.transcribe#BaseModelName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NarrowBand",
            "name": "NARROW_BAND"
          },
          {
            "value": "WideBand",
            "name": "WIDE_BAND"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.transcribe#CLMLanguageCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "en-US",
            "name": "EN_US"
          },
          {
            "value": "hi-IN",
            "name": "HI_IN"
          },
          {
            "value": "es-US",
            "name": "ES_US"
          },
          {
            "value": "en-GB",
            "name": "EN_GB"
          },
          {
            "value": "en-AU",
            "name": "EN_AU"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJob": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics job.</p>"
          }
        },
        "CallAnalyticsJobStatus": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the analytics job.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>If you know the language spoken between the customer and the agent, specify a language\n            code for this field.</p>\n        <p>If you don't know the language, you can leave this field blank, and Amazon Transcribe will use machine \n            learning to automatically identify the language. To improve the accuracy of language identification, \n            you can provide an array containing the possible language codes for the language spoken in your \n            audio.</p>\n        <p>The following list shows the supported languages and corresponding language codes for\n            call analytics jobs:</p>\n        <ul>\n            <li>\n               <p>Gulf Arabic (ar-AE)</p>\n            </li>\n            <li>\n               <p>Mandarin Chinese, Mainland (zh-CN)</p>\n            </li>\n            <li>\n               <p>Australian English (en-AU)</p>\n            </li>\n            <li>\n               <p>British English (en-GB)</p>\n            </li>\n            <li>\n               <p>Indian English (en-IN)</p>\n            </li>\n            <li>\n               <p>Irish English (en-IE)</p>\n            </li>\n            <li>\n               <p>Scottish English (en-AB)</p>\n            </li>\n            <li>\n               <p>US English (en-US)</p>\n            </li>\n            <li>\n               <p>Welsh English (en-WL)</p>\n            </li>\n            <li>\n               <p>Spanish (es-ES)</p>\n            </li>\n            <li>\n               <p>US Spanish (es-US)</p>\n            </li>\n            <li>\n               <p>French (fr-FR)</p>\n            </li>\n            <li>\n               <p>Canadian French (fr-CA)</p>\n            </li>\n            <li>\n               <p>German (de-DE)</p>\n            </li>\n            <li>\n               <p>Swiss German (de-CH)</p>\n            </li>\n            <li>\n               <p>Indian Hindi (hi-IN)</p>\n            </li>\n            <li>\n               <p>Italian (it-IT)</p>\n            </li>\n            <li>\n               <p>Japanese (ja-JP)</p>\n            </li>\n            <li>\n               <p>Korean (ko-KR)</p>\n            </li>\n            <li>\n               <p>Portuguese (pt-PT)</p>\n            </li>\n            <li>\n               <p>Brazilian Portuguese (pt-BR)</p>\n            </li>\n         </ul>"
          }
        },
        "MediaSampleRateHertz": {
          "target": "com.amazonaws.transcribe#MediaSampleRateHertz",
          "traits": {
            "smithy.api#documentation": "<p>The sample rate, in Hertz, of the audio.</p>"
          }
        },
        "MediaFormat": {
          "target": "com.amazonaws.transcribe#MediaFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the input audio file. Note: for call analytics jobs, only the following media formats are supported: MP3, MP4, WAV, FLAC, OGG, and WebM. </p>"
          }
        },
        "Media": {
          "target": "com.amazonaws.transcribe#Media"
        },
        "Transcript": {
          "target": "com.amazonaws.transcribe#Transcript"
        },
        "StartTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the analytics job started processing.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the analytics job was created.</p>"
          }
        },
        "CompletionTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the analytics job was completed.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>AnalyticsJobStatus</code> is <code>FAILED</code>, this field contains\n            information about why the job failed.</p>\n        <p>The <code>FailureReason</code> field can contain one of the following values:</p>\n            <ul>\n            <li>\n               <p>\n                  <code>Unsupported media format</code>: The media format \n                    specified in the <code>MediaFormat</code> field of the request isn't valid. See the \n                    description of the <code>MediaFormat</code> field for a list of valid values.</p>\n            </li>\n            <li>\n               <p>\n                  <code>The media format provided does not match the detected media\n                    format</code>: The media format of the audio file doesn't match the format specified in\n                    the <code>MediaFormat</code> field in the request. Check the media format of your media file\n                    and make sure the two values match.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Invalid sample rate for audio file</code>: The sample rate specified in the\n                    <code>MediaSampleRateHertz</code> of the request isn't valid. The sample rate must be\n                    between 8000 and 48000 Hertz.</p>\n            </li>\n            <li>\n               <p>\n                  <code>The sample rate provided does not match the detected sample rate</code>:\n                    The sample rate in the audio file doesn't match the sample rate specified in the\n                    <code>MediaSampleRateHertz</code> field in the request. Check the sample rate of your media\n                    file and make sure that the two values match.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Invalid file size: file size too large</code>: The size of your audio file is\n                    larger than what Amazon Transcribe Medical can process. For more information,\n                    see <i>Guidelines and Quotas</i> in the Amazon Transcribe Medical Guide</p>\n            </li>\n            <li>\n               <p>\n                  <code>Invalid number of channels: number of channels too large</code>:\n                    Your audio contains more channels than Amazon Transcribe Medical is configured to\n                    process. To request additional channels, see Amazon Transcribe Medical Endpoints and Quotas in the \n                    <a href=\"https://docs.aws.amazon.com/general/latest/gr/Welcome.html\">Amazon Web \n                        Services General Reference</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.transcribe#DataAccessRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) that you use to get access to the analytics job.</p>"
          }
        },
        "IdentifiedLanguageScore": {
          "target": "com.amazonaws.transcribe#IdentifiedLanguageScore",
          "traits": {
            "smithy.api#documentation": "<p>A value between zero and one that Amazon Transcribe assigned to the language that it\n            identified in the source audio. This value appears only when you don't provide a single\n            language code. Larger values indicate that Amazon Transcribe has higher confidence in the language \n            that it identified</p>"
          }
        },
        "Settings": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobSettings",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the settings used to run a transcription job.</p>"
          }
        },
        "ChannelDefinitions": {
          "target": "com.amazonaws.transcribe#ChannelDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>Shows numeric values to indicate the channel assigned to the agent's audio and the\n            channel assigned to the customer's audio. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an asynchronous analytics job that was created with the <code>StartAnalyticsJob</code>\n           operation.</p>"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobSettings": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a vocabulary to use when processing the call analytics job.</p>"
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter to use when running a call analytics job. The filter that\n           you specify must have the same language code as the analytics job.</p>"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.transcribe#VocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>Set to mask to remove filtered text from the transcript and replace it with three asterisks\n            (\"***\") as placeholder text. Set to <code>remove</code> to remove filtered text from the transcript\n            without using placeholder text. Set to <code>tag</code> to mark the word in the transcription output\n            that matches the vocabulary filter. When you set the filter method to <code>tag</code>, the words\n            matching your vocabulary filter are not masked or removed.</p>"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The structure used to describe a custom language model.</p>"
          }
        },
        "ContentRedaction": {
          "target": "com.amazonaws.transcribe#ContentRedaction"
        },
        "LanguageOptions": {
          "target": "com.amazonaws.transcribe#LanguageOptions",
          "traits": {
            "smithy.api#documentation": "<p>When you run a call analytics job, you can specify the language spoken in the audio, or\n            you can have Amazon Transcribe identify the language for you.</p>\n        <p>To specify a language, specify an array with one language code. If you don't know the \n            language, you can leave this field blank and Amazon Transcribe will use machine learning to identify the \n            language for you. To improve the ability of Amazon Transcribe to correctly identify the language, you can \n            provide an array of the languages that can be present in the audio.</p>\n        <p>The following list shows the supported languages and corresponding language codes for\n            call analytics jobs:</p>\n        <ul>\n            <li>\n               <p>Gulf Arabic (ar-AE)</p>\n            </li>\n            <li>\n               <p>Mandarin Chinese, Mainland (zh-CN)</p>\n            </li>\n            <li>\n               <p>Australian English (en-AU)</p>\n            </li>\n            <li>\n               <p>British English (en-GB)</p>\n            </li>\n            <li>\n               <p>Indian English (en-IN)</p>\n            </li>\n            <li>\n               <p>Irish English (en-IE)</p>\n            </li>\n            <li>\n               <p>Scottish English (en-AB)</p>\n            </li>\n            <li>\n               <p>US English (en-US)</p>\n            </li>\n            <li>\n               <p>Welsh English (en-WL)</p>\n            </li>\n            <li>\n               <p>Spanish (es-ES)</p>\n            </li>\n            <li>\n               <p>US Spanish (es-US)</p>\n            </li>\n            <li>\n               <p>French (fr-FR)</p>\n            </li>\n            <li>\n               <p>Canadian French (fr-CA)</p>\n            </li>\n            <li>\n               <p>German (de-DE)</p>\n            </li>\n            <li>\n               <p>Swiss German (de-CH)</p>\n            </li>\n            <li>\n               <p>Indian Hindi (hi-IN)</p>\n            </li>\n            <li>\n               <p>Italian (it-IT)</p>\n            </li>\n            <li>\n               <p>Japanese (ja-JP)</p>\n            </li>\n            <li>\n               <p>Korean (ko-KR)</p>\n            </li>\n            <li>\n               <p>Portuguese (pt-PT)</p>\n            </li>\n            <li>\n               <p>Brazilian Portuguese (pt-BR)</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides optional settings for the <code>CallAnalyticsJob</code> operation. </p>"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "QUEUED",
            "name": "QUEUED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#CallAnalyticsJobSummary"
      }
    },
    "com.amazonaws.transcribe#CallAnalyticsJobSummary": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics job.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the call analytics job was created.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the job began processing.</p>"
          }
        },
        "CompletionTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the job was completed.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the transcript in the source audio file.</p>"
          }
        },
        "CallAnalyticsJobStatus": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the call analytics job.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>CallAnalyticsJobStatus</code> is <code>FAILED</code>, a description of \n            the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a call analytics job.</p>"
      }
    },
    "com.amazonaws.transcribe#CategoryName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
      }
    },
    "com.amazonaws.transcribe#CategoryProperties": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics category.</p>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.transcribe#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules used to create a call analytics category.</p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the call analytics category was created.</p>"
          }
        },
        "LastUpdateTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that shows when the call analytics category was most recently updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the rules and additional information about a call analytics category.</p>"
      }
    },
    "com.amazonaws.transcribe#CategoryPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#CategoryProperties"
      }
    },
    "com.amazonaws.transcribe#ChannelDefinition": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.transcribe#ChannelId",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the audio channel.</p>"
          }
        },
        "ParticipantRole": {
          "target": "com.amazonaws.transcribe#ParticipantRole",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the person speaking on the audio channel is the agent or customer.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For a call analytics job, an object that indicates the audio channel that belongs to the agent and\n           the audio channel that belongs to the customer.</p>"
      }
    },
    "com.amazonaws.transcribe#ChannelDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#ChannelDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.transcribe#ChannelId": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.transcribe#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is already a resource with that name.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.transcribe#ContentRedaction": {
      "type": "structure",
      "members": {
        "RedactionType": {
          "target": "com.amazonaws.transcribe#RedactionType",
          "traits": {
            "smithy.api#documentation": "<p>Request parameter that defines the entities to be redacted. The only accepted value is\n                <code>PII</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "RedactionOutput": {
          "target": "com.amazonaws.transcribe#RedactionOutput",
          "traits": {
            "smithy.api#documentation": "<p>The output transcript file stored in either the default S3 bucket or in a bucket you\n            specify.</p>\n        <p>When you choose <code>redacted</code> Amazon Transcribe outputs only the redacted\n            transcript.</p>\n        <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs both the redacted\n            and unredacted transcripts.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings for content redaction within a transcription job.</p>"
      }
    },
    "com.amazonaws.transcribe#CreateCallAnalyticsCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateCallAnalyticsCategoryRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateCallAnalyticsCategoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an analytics category. Amazon Transcribe applies the conditions specified by your\n            analytics categories to your call analytics jobs. For each analytics category, you specify one or\n            more rules. For example, you can specify a rule that the customer sentiment was neutral or\n            negative within that category. If you start a call analytics job, Amazon Transcribe applies the\n            category to the analytics job that you've specified.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/callanalyticscategories/{CategoryName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateCallAnalyticsCategoryRequest": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you choose for your category when you create it. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.transcribe#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>To create a category, you must specify between 1 and 20 rules. For each rule, you specify a\n            filter to be applied to the attributes of the call. For example, you can specify a sentiment\n            filter to detect if the customer's sentiment was negative or neutral. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateCallAnalyticsCategoryResponse": {
      "type": "structure",
      "members": {
        "CategoryProperties": {
          "target": "com.amazonaws.transcribe#CategoryProperties",
          "traits": {
            "smithy.api#documentation": "<p>The rules and associated metadata used to create a category.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateLanguageModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateLanguageModelRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateLanguageModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom language model. Use Amazon S3 prefixes to provide the location of your\n            input files. The time it takes to create your model depends on the size of your training\n            data.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/languagemodels/{ModelName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateLanguageModelRequest": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#CLMLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input text you're using to train your custom language\n            model.</p>",
            "smithy.api#required": {}
          }
        },
        "BaseModelName": {
          "target": "com.amazonaws.transcribe#BaseModelName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model used to create your custom language\n            model.</p>\n        <p>If you want to use your custom language model to transcribe audio with a sample rate\n            of 16 kHz or greater, choose <code>Wideband</code>.</p>\n        <p>If you want to use your custom language model to transcribe audio with a sample rate\n            that is less than 16 kHz, choose <code>Narrowband</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name you choose for your custom language model when you create it.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.transcribe#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains the data access role and the Amazon S3 prefixes to read the required input files\n            to create a custom language model.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateLanguageModelResponse": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#CLMLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the text you've used to create a custom language model.</p>"
          }
        },
        "BaseModelName": {
          "target": "com.amazonaws.transcribe#BaseModelName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model you've used to create a custom\n            language model.</p>"
          }
        },
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name you've chosen for your custom language model.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.transcribe#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The data access role and Amazon S3 prefixes you've chosen to create your custom language\n            model.</p>"
          }
        },
        "ModelStatus": {
          "target": "com.amazonaws.transcribe#ModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the custom language model. When the status is <code>COMPLETED</code> the\n            model is ready to use.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateMedicalVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateMedicalVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateMedicalVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom vocabulary that you can use to\n            change\n            how Amazon Transcribe Medical transcribes your audio file.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/medicalvocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateMedicalVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary. This case-sensitive name must be unique within an\n                Amazon Web Services account. If you try to create a vocabulary with the same name as\n            a previous vocabulary, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the language used for the entries in your custom vocabulary. The\n            language code of your custom vocabulary must match the language code of your\n            transcription job. US English (en-US) is the only language code available for\n            Amazon Transcribe Medical.</p>",
            "smithy.api#required": {}
          }
        },
        "VocabularyFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 of the text file you use to define your custom vocabulary. The\n            URI must be in the same Amazon Web Services Region as the\n            resource\n            that you're calling. Enter information about your\n                <code>VocabularyFileUri</code> in the following format:</p>\n        <p>\n            <code>\n                https://s3.<aws-region>.amazonaws.com/<bucket-name>/<keyprefix>/<objectkey>\n            </code>\n        </p>\n        <p>The following is an example URI for a vocabulary file that is stored in Amazon S3:</p>\n        <p>\n            <code>https://s3.us-east-1.amazonaws.com/AWSDOC-EXAMPLE-BUCKET/vocab.txt</code>\n         </p>\n        <p>For more information about Amazon S3 object names, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p>\n        <p>For more information about custom vocabularies, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary-med\">Medical Custom Vocabularies</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateMedicalVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary. The name must be unique within an Amazon Web Services account and is case\n            sensitive.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code for the entries in your custom vocabulary. US English (en-US) is the\n            only valid language code for Amazon Transcribe Medical.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of your custom vocabulary in Amazon Transcribe Medical. If the state is\n                <code>READY</code>, you can use the vocabulary in a\n                <code>StartMedicalTranscriptionJob</code> request.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that you created the vocabulary.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains\n            information about why the job failed.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom vocabulary that you can use to change the way Amazon Transcribe handles\n            transcription of an audio file.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#CreateVocabularyFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#CreateVocabularyFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#ConflictException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new vocabulary filter that you can use to filter words, such as profane\n            words, from the output of a transcription job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vocabularyFilters/{VocabularyFilterName}",
          "code": 201
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyFilterRequest": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The vocabulary filter name. The name must be unique within the account that contains\n            it. If you try to create a vocabulary filter with the same name as another vocabulary\n            filter, you get a <code>ConflictException</code> error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the words in the vocabulary filter. All words in the filter must\n            be in the same language. The vocabulary filter can only be used with transcription jobs\n            in the specified language.</p>",
            "smithy.api#required": {}
          }
        },
        "Words": {
          "target": "com.amazonaws.transcribe#Words",
          "traits": {
            "smithy.api#documentation": "<p>The words to use in the vocabulary filter. Only use characters from the character set\n            defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p>\n        <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the\n                <code>VocabularyFilterFileUri</code> parameter.</p>"
          }
        },
        "VocabularyFilterFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of a text file used as input to create the vocabulary filter.\n            Only use characters from the character set defined for custom vocabularies. For a list\n            of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom\n                Vocabularies</a>.</p>\n        <p>The specified file must be less than 50 KB of UTF-8 characters.</p>\n        <p>If you provide the location of a list of words in the\n                <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code>\n            parameter.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyFilterResponse": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the words in the collection.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the vocabulary filter was modified.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary. The name must be unique within an Amazon Web Services\n            account. The name is case sensitive. If you try to create a vocabulary with the same\n            name as a previous vocabulary you will receive a <code>ConflictException</code>\n            error.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the vocabulary entries. For a list of languages and their\n            corresponding language codes, see <a>what-is-transcribe</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Phrases": {
          "target": "com.amazonaws.transcribe#Phrases",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that contains the vocabulary entries. </p>"
          }
        },
        "VocabularyFileUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the text file that contains the definition of the custom\n            vocabulary. The URI must be in the same region as the API endpoint that you are calling.\n            The general form is </p>\n        \n        \n        \n        <p>For more information about S3 object names, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p>\n        <p>For more information about custom vocabularies, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary\">Custom\n                Vocabularies</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#CreateVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the vocabulary entries.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of the vocabulary. When the <code>VocabularyState</code> field\n            contains <code>READY</code> the vocabulary is ready to be used in a\n                <code>StartTranscriptionJob</code> request.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the vocabulary was created.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains\n            information about why the job failed.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#DataAccessRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso-{0,1}[a-z]{0,1}):iam::[0-9]{0,63}:role/[A-Za-z0-9:_/+=,@.-]{0,1024}$"
      }
    },
    "com.amazonaws.transcribe#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a call analytics category using its name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/callanalyticscategories/{CategoryName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryRequest": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics category that you're choosing to delete. The value is case\n            sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#DeleteCallAnalyticsJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a call analytics job using its name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/callanalyticsjobs/{CallAnalyticsJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsJobRequest": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the call analytics job you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteCallAnalyticsJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.transcribe#DeleteLanguageModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteLanguageModelRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom language model using its name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/languagemodels/{ModelName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteLanguageModelRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the model you're choosing to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteMedicalTranscriptionJobRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a transcription job generated by Amazon Transcribe Medical and any related information.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/medicaltranscriptionjobs/{MedicalTranscriptionJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name you provide to the <code>DeleteMedicalTranscriptionJob</code> object to\n            delete a transcription job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteMedicalVocabularyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a vocabulary from Amazon Transcribe Medical.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/medicalvocabularies/{VocabularyName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteMedicalVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteTranscriptionJobRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a previously submitted transcription job along with any other generated\n            results such as the transcription, models, and so on.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/transcriptionjobs/{TranscriptionJobName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the transcription job to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteVocabularyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a vocabulary from Amazon Transcribe. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DeleteVocabularyFilterRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a vocabulary filter.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vocabularyFilters/{VocabularyFilterName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyFilterRequest": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter to remove.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DeleteVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary to delete. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DescribeLanguageModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#DescribeLanguageModelRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#DescribeLanguageModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a single custom language model. Use this information to see\n            details about the language model in your Amazon Web Services account. You can also see\n            whether the base language model used to create your custom language model has been\n            updated. If Amazon Transcribe has updated the base model, you can create a new custom language model\n            using the updated base model. If the language model wasn't created, you can use this\n            operation to understand why Amazon Transcribe couldn't create it. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/languagemodels/{ModelName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#DescribeLanguageModelRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model you submit to get more information.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#DescribeLanguageModelResponse": {
      "type": "structure",
      "members": {
        "LanguageModel": {
          "target": "com.amazonaws.transcribe#LanguageModel",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model you requested more information about.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#FailureReason": {
      "type": "string"
    },
    "com.amazonaws.transcribe#GetCallAnalyticsCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsCategoryRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsCategoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a call analytics category.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/callanalyticscategories/{CategoryName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsCategoryRequest": {
      "type": "structure",
      "members": {
        "CategoryName": {
          "target": "com.amazonaws.transcribe#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the category you want information about. This value is case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsCategoryResponse": {
      "type": "structure",
      "members": {
        "CategoryProperties": {
          "target": "com.amazonaws.transcribe#CategoryProperties",
          "traits": {
            "smithy.api#documentation": "<p>The rules you've defined for a category.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetCallAnalyticsJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a call analytics job. To see the status of the job, check the\n            <code>CallAnalyticsJobStatus</code> field. If the status is <code>COMPLETED</code>, the job\n            is finished and you can find the results at the location specified in the <code>TranscriptFileUri</code> \n            field. If you enable personally identifiable information (PII) redaction, the redacted transcript appears\n            in the <code>RedactedTranscriptFileUri</code> field.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/callanalyticsjobs/{CallAnalyticsJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsJobRequest": {
      "type": "structure",
      "members": {
        "CallAnalyticsJobName": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analytics job you want information about. This value is case\n            sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetCallAnalyticsJobResponse": {
      "type": "structure",
      "members": {
        "CallAnalyticsJob": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJob",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the results of your call analytics job.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetMedicalTranscriptionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetMedicalTranscriptionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a transcription job from Amazon Transcribe Medical. To see the status of the\n            job, check the <code>TranscriptionJobStatus</code> field. If the status is\n                <code>COMPLETED</code>, the job is finished. You find the results of the completed\n            job in the <code>TranscriptFileUri</code> field.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/medicaltranscriptionjobs/{MedicalTranscriptionJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the medical transcription job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalTranscriptionJobResponse": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJob": {
          "target": "com.amazonaws.transcribe#MedicalTranscriptionJob",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the results of the medical transcription job.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetMedicalVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetMedicalVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a medical vocabulary.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/medicalvocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary that you want information about. The value is case\n            sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetMedicalVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary returned by Amazon Transcribe Medical.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The valid language code for your vocabulary entries.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The\n            processing state of the vocabulary. If the <code>VocabularyState</code> is\n                <code>READY</code> then you can use it in the\n                <code>StartMedicalTranscriptionJob</code> operation. </p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the vocabulary was last modified with a text file different\n            from the one that was previously used.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>VocabularyState</code> is <code>FAILED</code>, this field contains\n            information about why the job failed.</p>"
          }
        },
        "DownloadUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 where the vocabulary is stored. Use this URI to get the contents\n            of the vocabulary. You can download your vocabulary from the\n            URI\n            for a limited time.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetTranscriptionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetTranscriptionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a transcription job. To see the status of the job, check the\n                <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>,\n            the job is finished and you can find the results at the location specified in the\n                <code>TranscriptFileUri</code> field. If you enable content redaction, the redacted\n            transcript appears in <code>RedactedTranscriptFileUri</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/transcriptionjobs/{TranscriptionJobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJobRequest": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {
          "target": "com.amazonaws.transcribe#TranscriptionJobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetTranscriptionJobResponse": {
      "type": "structure",
      "members": {
        "TranscriptionJob": {
          "target": "com.amazonaws.transcribe#TranscriptionJob",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the results of the transcription job.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a vocabulary. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vocabularies/{VocabularyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#GetVocabularyFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#GetVocabularyFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        },
        {
          "target": "com.amazonaws.transcribe#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a vocabulary filter.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vocabularyFilters/{VocabularyFilterName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyFilterRequest": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter for which to return information.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyFilterResponse": {
      "type": "structure",
      "members": {
        "VocabularyFilterName": {
          "target": "com.amazonaws.transcribe#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the words in the vocabulary filter.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the contents of the vocabulary filter were updated.</p>"
          }
        },
        "DownloadUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the list of words in the vocabulary filter. You can use this URI to get the\n            list of words.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyRequest": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary to return information about. The name is case\n            sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.transcribe#GetVocabularyResponse": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "target": "com.amazonaws.transcribe#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary to return.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the vocabulary entries.</p>"
          }
        },
        "VocabularyState": {
          "target": "com.amazonaws.transcribe#VocabularyState",
          "traits": {
            "smithy.api#documentation": "<p>The processing state of the vocabulary.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the vocabulary was last modified.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains\n            information about why the job failed.</p>"
          }
        },
        "DownloadUri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location where the vocabulary is stored. Use this URI to get the contents of\n            the vocabulary. The URI is available for a limited time.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#IdentifiedLanguageScore": {
      "type": "float",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.transcribe#InputDataConfig": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 prefix you specify to access the plain text files that you use to train your\n            custom language model.</p>",
            "smithy.api#required": {}
          }
        },
        "TuningDataS3Uri": {
          "target": "com.amazonaws.transcribe#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 prefix you specify to access the plain text files that you use to tune your\n            custom language model.</p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.transcribe#DataAccessRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the permissions you've given\n            Amazon Transcribe to access your Amazon S3 buckets containing your media files or text data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The object that contains the Amazon S3 object location and access role required to train\n            and tune your custom language model.</p>"
      }
    },
    "com.amazonaws.transcribe#InternalFailureException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an internal error. Check the error message and try your request\n            again.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.transcribe#InterruptionFilter": {
      "type": "structure",
      "members": {
        "Threshold": {
          "target": "com.amazonaws.transcribe#TimestampMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the interruption.</p>"
          }
        },
        "ParticipantRole": {
          "target": "com.amazonaws.transcribe#ParticipantRole",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the caller or customer was interrupting.</p>"
          }
        },
        "AbsoluteTimeRange": {
          "target": "com.amazonaws.transcribe#AbsoluteTimeRange",
          "traits": {
            "smithy.api#documentation": "<p>An object you can use to specify a time range (in milliseconds) for when you'd want to find\n            the interruption. For example, you could search for an interruption between the 30,000\n            millisecond mark and the 45,000 millisecond mark. You could also specify the time\n            period as the first 15,000 milliseconds or the last 15,000 milliseconds. </p>"
          }
        },
        "RelativeTimeRange": {
          "target": "com.amazonaws.transcribe#RelativeTimeRange",
          "traits": {
            "smithy.api#documentation": "<p>An object that allows percentages to specify the proportion of the call where there\n            was a interruption. For example, you can specify the first half of the call. You can also\n            specify the period of time between halfway through to three-quarters of the way through\n            the call. Because the length of conversation can vary between calls, you can apply\n            relative time ranges across all calls.</p>"
          }
        },
        "Negate": {
          "target": "com.amazonaws.transcribe#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>TRUE</code> to look for a time period where there was no interruption.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that enables you to configure your category to be applied to call analytics jobs where\n           either the customer or agent was interrupted.</p>"
      }
    },
    "com.amazonaws.transcribe#JobExecutionSettings": {
      "type": "structure",
      "members": {
        "AllowDeferredExecution": {
          "target": "com.amazonaws.transcribe#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a job should be queued by Amazon Transcribe when the concurrent execution limit\n            is exceeded. When the <code>AllowDeferredExecution</code> field is true, jobs are queued\n            and executed when the number of executing jobs falls below the concurrent execution\n            limit. If the field is false, Amazon Transcribe returns a <code>LimitExceededException</code>\n            exception.</p>\n        <p>If you specify the <code>AllowDeferredExecution</code> field, you must specify the\n                <code>DataAccessRoleArn</code> field.</p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.transcribe#DataAccessRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role that has access to the S3 bucket that\n            contains the input files. Amazon Transcribe assumes this role to read queued media files. If you\n            have specified an output S3 bucket for the transcription results, this role should have\n            access to the output bucket as well.</p>\n        <p>If you specify the <code>AllowDeferredExecution</code> field, you must specify the\n                <code>DataAccessRoleArn</code> field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about when a transcription job should be executed.</p>"
      }
    },
    "com.amazonaws.transcribe#KMSKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$"
      }
    },
    "com.amazonaws.transcribe#LanguageCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "af-ZA",
            "name": "AF_ZA"
          },
          {
            "value": "ar-AE",
            "name": "AR_AE"
          },
          {
            "value": "ar-SA",
            "name": "AR_SA"
          },
          {
            "value": "cy-GB",
            "name": "CY_GB"
          },
          {
            "value": "da-DK",
            "name": "DA_DK"
          },
          {
            "value": "de-CH",
            "name": "DE_CH"
          },
          {
            "value": "de-DE",
            "name": "DE_DE"
          },
          {
            "value": "en-AB",
            "name": "EN_AB"
          },
          {
            "value": "en-AU",
            "name": "EN_AU"
          },
          {
            "value": "en-GB",
            "name": "EN_GB"
          },
          {
            "value": "en-IE",
            "name": "EN_IE"
          },
          {
            "value": "en-IN",
            "name": "EN_IN"
          },
          {
            "value": "en-US",
            "name": "EN_US"
          },
          {
            "value": "en-WL",
            "name": "EN_WL"
          },
          {
            "value": "es-ES",
            "name": "ES_ES"
          },
          {
            "value": "es-US",
            "name": "ES_US"
          },
          {
            "value": "fa-IR",
            "name": "FA_IR"
          },
          {
            "value": "fr-CA",
            "name": "FR_CA"
          },
          {
            "value": "fr-FR",
            "name": "FR_FR"
          },
          {
            "value": "ga-IE",
            "name": "GA_IE"
          },
          {
            "value": "gd-GB",
            "name": "GD_GB"
          },
          {
            "value": "he-IL",
            "name": "HE_IL"
          },
          {
            "value": "hi-IN",
            "name": "HI_IN"
          },
          {
            "value": "id-ID",
            "name": "ID_ID"
          },
          {
            "value": "it-IT",
            "name": "IT_IT"
          },
          {
            "value": "ja-JP",
            "name": "JA_JP"
          },
          {
            "value": "ko-KR",
            "name": "KO_KR"
          },
          {
            "value": "ms-MY",
            "name": "MS_MY"
          },
          {
            "value": "nl-NL",
            "name": "NL_NL"
          },
          {
            "value": "pt-BR",
            "name": "PT_BR"
          },
          {
            "value": "pt-PT",
            "name": "PT_PT"
          },
          {
            "value": "ru-RU",
            "name": "RU_RU"
          },
          {
            "value": "ta-IN",
            "name": "TA_IN"
          },
          {
            "value": "te-IN",
            "name": "TE_IN"
          },
          {
            "value": "tr-TR",
            "name": "TR_TR"
          },
          {
            "value": "zh-CN",
            "name": "ZH_CN"
          }
        ]
      }
    },
    "com.amazonaws.transcribe#LanguageModel": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.transcribe#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model.</p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the custom language model was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.transcribe#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time the custom language model was modified.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.transcribe#CLMLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code you used to create your custom language model.</p>"
          }
        },
        "BaseModelName": {
          "target": "com.amazonaws.transcribe#BaseModelName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model used to create the custom language\n            model.</p>"
          }
        },
        "ModelStatus": {
          "target": "com.amazonaws.transcribe#ModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The creation status of a custom language model. When the status is\n                <code>COMPLETED</code> the model is ready for use.</p>"
          }
        },
        "UpgradeAvailability": {
          "target": "com.amazonaws.transcribe#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the base model used for the custom language model is up to date. If this field\n            is <code>true</code> then you are running the most up-to-date version of the base model\n            in your custom language model.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.transcribe#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why the custom language model couldn't be created.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.transcribe#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The data access role and Amazon S3 prefixes for the input files used to train the custom\n            language model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure used to describe a custom language model.</p>"
      }
    },
    "com.amazonaws.transcribe#LanguageOptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.transcribe#LanguageCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.transcribe#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.transcribe#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Either you have sent too many requests or your input file is too long. Wait before you\n            resend your request, or use a smaller file and resend the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.transcribe#ListCallAnalyticsCategories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#ListCallAnalyticsCategoriesRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#ListCallAnalyticsCategoriesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides more information about the call analytics categories that you've created. You \n            can use the information in this list to find a specific category. You can then use the\n             operation to get more information about it.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/callanalyticscategories",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transcribe#ListCallAnalyticsCategoriesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.transcribe#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When included, <code>NextToken</code>fetches the next set of categories if the result \n            of the previous request was truncated.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.transcribe#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of categories to return in the response. If there are fewer results in\n            the list, the response contains only the actual results.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.transcribe#ListCallAnalyticsCategoriesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.transcribe#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The  operation returns a page of jobs at a time. The\n            maximum size of the list is set by the <code>MaxResults</code> parameter. If there are \n            more categories in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> \n            token. Include the token in the next request to the \n            operation to return the next page of analytics categories.</p>"
          }
        },
        "Categories": {
          "target": "com.amazonaws.transcribe#CategoryPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing information about analytics categories.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#ListCallAnalyticsJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#ListCallAnalyticsJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#ListCallAnalyticsJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List call analytics jobs with a specified status or substring that matches their names.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/callanalyticsjobs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transcribe#ListCallAnalyticsJobsRequest": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>When specified, returns only call analytics jobs with the specified status. Jobs are ordered\n            by creation date, with the most recent jobs returned first. If you don't specify a status, Amazon Transcribe \n            returns all analytics jobs ordered by creation date.</p>",
            "smithy.api#httpQuery": "Status"
          }
        },
        "JobNameContains": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
          "traits": {
            "smithy.api#documentation": "<p>When specified, the jobs returned in the list are limited to jobs whose name contains the\n            specified string.</p>",
            "smithy.api#httpQuery": "JobNameContains"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transcribe#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If you receive a truncated result in the previous request of \n            , \n            include <code>NextToken</code> to fetch the next set of jobs.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.transcribe#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of call analytics jobs to return in the response. If there are fewer\n            results in the list, this response contains only the actual results. </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.transcribe#ListCallAnalyticsJobsResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>When specified, returns only call analytics jobs with that status. Jobs are ordered\n            by creation date, with the most recent jobs returned first. If you don't specify a status, Amazon Transcribe\n            returns all transcription jobs ordered by creation date.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.transcribe#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The  operation returns a page of jobs at a time. The \n            maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more\n            jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the \n            token in your next request to the  operation to return next page of jobs.</p>"
          }
        },
        "CallAnalyticsJobSummaries": {
          "target": "com.amazonaws.transcribe#CallAnalyticsJobSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing summary information for a transcription job.</p>"
          }
        }
      }
    },
    "com.amazonaws.transcribe#ListLanguageModels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.transcribe#ListLanguageModelsRequest"
      },
      "output": {
        "target": "com.amazonaws.transcribe#ListLanguageModelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.transcribe#BadRequestException"
        },
        {
          "target": "com.amazonaws.transcribe#InternalFailureException"
        },
        {
          "target": "com.amazonaws.transcribe#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides more information about the custom language models you've created. You can use\n            the information in this list to find a specific custom language model. You can then use\n            the  operation to get more information about\n            it.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/languagemodels",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.transcribe#ListLanguageModelsRequest": {
      "type": "structure",
      "members": {
        "StatusEquals": {
          "target": "com.amazonaws.transcribe#ModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>When specified, returns only custom language models with the specified status.\n            Language models are ordered by creation date, with the newest models first. If you don't\n            specify a status, Amazon Transcribe returns all custom language models ordered by date.</p>",
            "smithy.api#httpQuery": "         StatusEquals"
          }
        },
        "NameContains": {
[...]
