{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.trustedadvisor#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that access has been denied due to insufficient access</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.trustedadvisor#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.trustedadvisor#AccountRecommendationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[\\w-]+:trustedadvisor::\\d{12}:recommendation\\/[\\w-]+$"
      }
    },
    "com.amazonaws.trustedadvisor#AccountRecommendationIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[\\w-]+:trustedadvisor::\\d{12}:recommendation\\/[\\w-]+$"
      }
    },
    "com.amazonaws.trustedadvisor#AccountRecommendationLifecycleSummary": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.trustedadvisor#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID</p>"
          }
        },
        "accountRecommendationArn": {
          "target": "com.amazonaws.trustedadvisor#AccountRecommendationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Recommendation ARN</p>"
          }
        },
        "lifecycleStage": {
          "target": "com.amazonaws.trustedadvisor#RecommendationLifecycleStage",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle stage from AWS Trusted Advisor Priority</p>"
          }
        },
        "updatedOnBehalfOf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information\n            is only available when a Technical Account Manager takes an action on a recommendation managed by AWS\n            Trusted Advisor Priority\n        </p>"
          }
        },
        "updatedOnBehalfOfJobTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation.\n            This information is only available when a Technical Account Manager takes an action on a recommendation\n            managed by AWS Trusted Advisor Priority\n        </p>"
          }
        },
        "updateReason": {
          "target": "com.amazonaws.trustedadvisor#RecommendationUpdateReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason for the lifecycle stage change</p>"
          }
        },
        "updateReasonCode": {
          "target": "com.amazonaws.trustedadvisor#UpdateRecommendationLifecycleStageReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>Reason code for the lifecycle state change</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation was last updated</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of an AccountRecommendationLifecycle for an Organization Recommendation</p>"
      }
    },
    "com.amazonaws.trustedadvisor#AccountRecommendationLifecycleSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.trustedadvisor#AccountRecommendationLifecycleSummary"
      }
    },
    "com.amazonaws.trustedadvisor#BatchUpdateRecommendationResourceExclusion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.trustedadvisor#BatchUpdateRecommendationResourceExclusionRequest"
      },
      "output": {
        "target": "com.amazonaws.trustedadvisor#BatchUpdateRecommendationResourceExclusionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.trustedadvisor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ConflictException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#InternalServerException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Update one or more exclusion status for a list of recommendation resources</p>",
        "smithy.api#examples": [
          {
            "title": "Batch updates the exclusion status for a list of recommendation resources",
            "input": {
              "recommendationResourceExclusions": [
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation-resource/55fa4d2e-bbb7-491a-833b-5773e9589578/18959a1f1973cff8e706e9d9bde28bba36cd602a6b2cb86c8b61252835236010",
                  "isExcluded": true
                }
              ]
            },
            "output": {
              "batchUpdateRecommendationResourceExclusionErrors": [
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation-resource/55fa4d2e-bbb7-491a-833b-5773e9589578/18959a1f1973cff8e706e9d9bde28bba36cd602a6b2cb86c8b61252835236010",
                  "errorCode": "404",
                  "errorMessage": "Exception that the requested resource has not been found"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/batch-update-recommendation-resource-exclusion",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": []
      }
    },
    "com.amazonaws.trustedadvisor#BatchUpdateRecommendationResourceExclusionRequest": {
      "type": "structure",
      "members": {
        "recommendationResourceExclusions": {
          "target": "com.amazonaws.trustedadvisor#RecommendationResourceExclusionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of recommendation resource ARNs and exclusion status to update</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.trustedadvisor#BatchUpdateRecommendationResourceExclusionResponse": {
      "type": "structure",
      "members": {
        "batchUpdateRecommendationResourceExclusionErrors": {
          "target": "com.amazonaws.trustedadvisor#UpdateRecommendationResourceExclusionErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of recommendation resource ARNs whose exclusion status failed to update, if any</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.trustedadvisor#CheckArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[\\w-]+:trustedadvisor:::check\\/[\\w-]+$"
      }
    },
    "com.amazonaws.trustedadvisor#CheckIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 64
        },
        "smithy.api#pattern": "^arn:[\\w-]+:trustedadvisor:::check\\/[\\w-]+$"
      }
    },
    "com.amazonaws.trustedadvisor#CheckSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the AWS Trusted Advisor Check</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.trustedadvisor#CheckArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Trusted Advisor Check</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS Trusted Advisor Check</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of what the AWS Trusted Advisor Check is monitoring</p>",
            "smithy.api#required": {}
          }
        },
        "pillars": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillarList",
          "traits": {
            "smithy.api#documentation": "<p>The Recommendation pillars that the AWS Trusted Advisor Check falls under</p>",
            "smithy.api#required": {}
          }
        },
        "awsServices": {
          "target": "com.amazonaws.trustedadvisor#RecommendationAwsServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Services that the Check applies to</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.trustedadvisor#RecommendationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.trustedadvisor#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>The column headings for the metadata returned in the resource</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of an AWS Trusted Advisor Check</p>"
      }
    },
    "com.amazonaws.trustedadvisor#CheckSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.trustedadvisor#CheckSummary"
      }
    },
    "com.amazonaws.trustedadvisor#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that the request was denied due to conflictions in state</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.trustedadvisor#ExclusionStatus": {
      "type": "enum",
      "members": {
        "EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "excluded"
          }
        },
        "INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "included"
          }
        }
      }
    },
    "com.amazonaws.trustedadvisor#GetOrganizationRecommendation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.trustedadvisor#GetOrganizationRecommendationRequest"
      },
      "output": {
        "target": "com.amazonaws.trustedadvisor#GetOrganizationRecommendationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.trustedadvisor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#InternalServerException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a specific recommendation within an AWS Organizations organization. This API supports only prioritized\n            recommendations.\n        </p>",
        "smithy.api#examples": [
          {
            "title": "Get an AWS Organization's Recommendation by ARN",
            "input": {
              "organizationRecommendationIdentifier": "arn:aws:trustedadvisor:::organization-recommendation/9534ec9b-bf3a-44e8-8213-2ed68b39d9d5"
            },
            "output": {
              "organizationRecommendation": {
                "arn": "arn:aws:trustedadvisor:::organization-recommendation/9534ec9b-bf3a-44e8-8213-2ed68b39d9d5",
                "name": "Lambda Runtime Deprecation Warning",
                "description": "One or more lambdas are using a deprecated runtime",
                "awsServices": ["lambda"],
                "checkArn": "arn:aws:trustedadvisor:::check/L4dfs2Q4C5",
                "id": "9534ec9b-bf3a-44e8-8213-2ed68b39d9d5",
                "lifecycleStage": "resolved",
                "pillars": ["security"],
                "resourcesAggregates": {
                  "errorCount": 0,
                  "okCount": 0,
                  "warningCount": 0
                },
                "source": "ta_check",
                "status": "warning",
                "type": "priority"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/organization-recommendations/{organizationRecommendationIdentifier}",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": []
      }
    },
    "com.amazonaws.trustedadvisor#GetOrganizationRecommendationRequest": {
      "type": "structure",
      "members": {
        "organizationRecommendationIdentifier": {
          "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Recommendation identifier</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.trustedadvisor#GetOrganizationRecommendationResponse": {
      "type": "structure",
      "members": {
        "organizationRecommendation": {
          "target": "com.amazonaws.trustedadvisor#OrganizationRecommendation",
          "traits": {
            "smithy.api#documentation": "<p>The Recommendation</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.trustedadvisor#GetRecommendation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.trustedadvisor#GetRecommendationRequest"
      },
      "output": {
        "target": "com.amazonaws.trustedadvisor#GetRecommendationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.trustedadvisor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#InternalServerException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a specific Recommendation</p>",
        "smithy.api#examples": [
          {
            "title": "Get a Recommendation by ARN",
            "input": {
              "recommendationIdentifier": "arn:aws:trustedadvisor::000000000000:recommendation/55fa4d2e-bbb7-491a-833b-5773e9589578"
            },
            "output": {
              "recommendation": {
                "arn": "arn:aws:trustedadvisor::000000000000:recommendation/55fa4d2e-bbb7-491a-833b-5773e9589578",
                "name": "MFA Recommendation",
                "description": "Enable multi-factor authentication",
                "awsServices": ["iam"],
                "checkArn": "arn:aws:trustedadvisor:::check/7DAFEmoDos",
                "id": "55fa4d2e-bbb7-491a-833b-5773e9589578",
                "lastUpdatedAt": "2023-11-01T15:57:58.673Z",
                "pillarSpecificAggregates": {
                  "costOptimizing": {
                    "estimatedMonthlySavings": 0.0,
                    "estimatedPercentMonthlySavings": 0.0
                  }
                },
                "pillars": ["security"],
                "resourcesAggregates": {
                  "errorCount": 1,
                  "okCount": 0,
                  "warningCount": 0
                },
                "source": "ta_check",
                "status": "error",
                "type": "standard"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/recommendations/{recommendationIdentifier}",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": []
      }
    },
    "com.amazonaws.trustedadvisor#GetRecommendationRequest": {
      "type": "structure",
      "members": {
        "recommendationIdentifier": {
          "target": "com.amazonaws.trustedadvisor#AccountRecommendationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Recommendation identifier</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.trustedadvisor#GetRecommendationResponse": {
      "type": "structure",
      "members": {
        "recommendation": {
          "target": "com.amazonaws.trustedadvisor#Recommendation",
          "traits": {
            "smithy.api#documentation": "<p>The Recommendation</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.trustedadvisor#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListChecks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.trustedadvisor#ListChecksRequest"
      },
      "output": {
        "target": "com.amazonaws.trustedadvisor#ListChecksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.trustedadvisor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#InternalServerException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List a filterable set of Checks</p>",
        "smithy.api#examples": [
          {
            "title": "List all AWS Trusted Advisor Checks",
            "input": {},
            "output": {
              "checkSummaries": [
                {
                  "arn": "arn:aws:trustedadvisor:::check/1iG5NDGVre",
                  "awsServices": ["EC2"],
                  "description": "Checks security groups for rules that allow unrestricted access to a resource. Unrestricted access increases opportunities for malicious activity (hacking, denial-of-service attacks, loss of data).\n<br>\n<br>Note: This check only evaluates security groups that you create and their inbound rules for IPv4 addresses. Security groups created by AWS Directory Services are flagged as red or yellow, but they don’t pose a security risk and can be safely ignored or excluded. For more information, see the <a href=\"https://aws.amazon.com/premiumsupport/faqs/#AWS_Trusted_Advisor\" target=\"_blank\">Trusted Advisor FAQ</a>.\n<br>\n<br>\n<h4 class='headerBodyStyle'>Alert Criteria</h4>\n<br>\nRed: A security group rule has a source IP address with a /0 suffix for ports other than 25, 80, or 443.\n<br>\n<br>\n<h4 class='headerBodyStyle'>Recommended Action</h4>\n<br>\nRestrict access to only those IP addresses that require it. To restrict access to a specific IP address, set the suffix to /32 (for example, 192.0.2.10/32). Be sure to delete overly permissive rules after creating rules that are more restrictive.\n<br>\n<br>\n<h4 class='headerBodyStyle'>Additional Resources</h4>\n<br><a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html\" target=\"_blank\">Amazon EC2 Security Groups</a><br>\n<a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\" target=\"_blank\">Classless Inter-Domain Routing</a> (Wikipedia)",
                  "id": "1iG5NDGVre",
                  "metadata": {
                    "0": "Region",
                    "1": "Security Group Name",
                    "2": "Security Group ID",
                    "3": "Protocol",
                    "4": "Port",
                    "5": "Status",
                    "6": "IP Range"
                  },
                  "name": "Security Groups - Unrestricted Access",
                  "pillars": ["security"],
                  "source": "ta_check"
                },
                {
                  "arn": "arn:aws:trustedadvisor:::check/1qazXsw23e",
                  "awsServices": ["RDS"],
                  "description": "Checks your usage of RDS and provides recommendations on purchase of Reserved Instances to help reduce costs incurred from using RDS On-Demand. AWS generates these recommendations by analyzing your On-Demand usage for the past 30 days. We then simulate every combination of reservations in the generated category of usage in order to identify the best number of each type of Reserved Instance to purchase to maximize your savings. This check covers recommendations based on partial upfront payment option with 1-year or 3-year commitment. This check is not available to accounts linked in Consolidated Billing. Recommendations are only available for the Paying Account.<br/><br/>\r\n<h4 class='headerBodyStyle'>Alert Criteria</h4><br/>\nYellow: Optimizing the purchase of RDS Reserved Instances can help reduce costs.<br/><br/>\r\n<h4 class='headerBodyStyle'>Recommended Action</h4><br/>\r\nSee the <a href=\"http://console.aws.amazon.com/billing/home?/costexplorer#/costexplorer\" target=\"_blank\">Cost Explorer</a> page for more detailed recommendations, customization options (e.g. look-back period, payment option, etc.) and to purchase RDS Reserved Instances.\n<br/>\n<br/>\n<h4 class='headerBodyStyle'>Additional Resources</h4><br/>\nInformation on RDS Reserved Instances and how they can save you money can be found <a href=\"http://aws.amazon.com/rds/reserved-instances/\" target=\"_blank\">here</a>.<br>\nFor more information on this recommendation, see <a href=\"http://aws.amazon.com/premiumsupport/technology/trusted-advisor/faqs/#Reserved_Instance_Optimization_Check_Questions\" target=\"_blank\">Reserved Instance Optimization Check Questions</a> in the Trusted Advisor FAQs.<br>\nFor more detailed description of fields, see <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_ReservationPurchaseRecommendationDetail.html#awscostmanagement-Type-ReservationPurchaseRecommendationDetail-AverageUtilization\" target=\"_blank\">Cost Explorer documentation</a>",
                  "id": "1qazXsw23e",
                  "metadata": {
                    "0": "Region",
                    "1": "Family",
                    "10": "Upfront Cost of Reserved Instances",
                    "11": "Estimated cost of Reserved Instances (monthly)",
                    "12": "Estimated On-Demand Cost Post Recommended Reserved Instance Purchase (monthly)",
                    "13": "Estimated Break Even (months)",
                    "14": "Lookback Period (days)",
                    "15": "Term (years)",
                    "2": "Instance Type",
                    "3": "License Model",
                    "4": "Database Edition",
                    "5": "Database Engine",
                    "6": "Deployment Option",
                    "7": "Recommended number of Reserved Instances to purchase",
                    "8": "Expected Average Reserved Instance Utilization",
                    "9": "Estimated Savings with Recommendation (monthly)"
                  },
                  "name": "Amazon Relational Database Service (RDS) Reserved Instance Optimization",
                  "pillars": ["cost_optimizing"],
                  "source": "ta_check"
                },
                {
                  "arn": "arn:aws:trustedadvisor:::check/1qw23er45t",
                  "awsServices": ["Redshift"],
                  "description": "Checks your usage of Redshift and provides recommendations on purchase of Reserved Nodes to help reduce costs incurred from using Redshift On-Demand. AWS generates these recommendations by analyzing your On-Demand usage for the past 30 days. We then simulate every combination of reservations in the generated category of usage in order to identify the best number of each type of Reserved Nodes to purchase to maximize your savings. This check covers recommendations based on partial upfront payment option with 1-year or 3-year commitment. This check is not available to accounts linked in Consolidated Billing. Recommendations are only available for the Paying Account.<br/><br/>\n<h4 class='headerBodyStyle'>Alert Criteria</h4><br/>Yellow: Optimizing the purchase of Redshift Reserved Nodes can help reduce costs.<br/><br/>\n<h4 class='headerBodyStyle'>Recommended Action</h4><br/>See the <a href=\"https://console.aws.amazon.com/billing/home?/costexplorer#/costexplorer\" target=\"_blank\">Cost Explorer</a> page for more detailed recommendations, customization options (e.g. look-back period, payment option, etc.) and to purchase Redshift Reserved Nodes.<br/><br/>\n<h4 class='headerBodyStyle'>Additional Resources</h4><br/>Information on Redshift Reserved Nodes and how they can save you money can be found <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/purchase-reserved-node-instance.html\" target=\"_blank\">here</a>.<br>\nFor more information on this recommendation, see <a href=\"http://aws.amazon.com/premiumsupport/technology/trusted-advisor/faqs/#Reserved_Instance_Optimization_Check_Questions\" target=\"_blank\">Reserved Instance Optimization Check Questions</a> in the Trusted Advisor FAQs.<br/>\nFor more detailed description of fields, see <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_ReservationPurchaseRecommendationDetail.html#awscostmanagement-Type-ReservationPurchaseRecommendationDetail-AverageUtilization\" target=\"_blank\">Cost Explorer documentation</a>",
                  "id": "1qw23er45t",
                  "metadata": {
                    "0": "Region",
                    "1": "Family",
                    "10": "Lookback Period (days)",
                    "11": "Term (years)",
                    "2": "Node Type",
                    "3": "Recommended number of Reserved Nodes to purchase",
                    "4": "Expected Average Reserved Node Utilization",
                    "5": "Estimated Savings with Recommendation (monthly)",
                    "6": "Upfront Cost of Reserved Nodes",
                    "7": "Estimated cost of Reserved Nodes (monthly)",
                    "8": "Estimated On-Demand Cost Post Recommended Reserved Nodes Purchase (monthly)",
                    "9": "Estimated Break Even (months)"
                  },
                  "name": "Amazon Redshift Reserved Node Optimization",
                  "pillars": ["cost_optimizing"],
                  "source": "ta_check"
                }
              ],
              "nextToken": "<REDACTED>"
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/checks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "checkSummaries"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": []
      }
    },
    "com.amazonaws.trustedadvisor#ListChecksRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#httpQuery": "nextToken",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 200
            }
          }
        },
        "pillar": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillar",
          "traits": {
            "smithy.api#documentation": "<p>The pillar of the check</p>",
            "smithy.api#httpQuery": "pillar"
          }
        },
        "awsService": {
          "target": "com.amazonaws.trustedadvisor#RecommendationAwsService",
          "traits": {
            "smithy.api#documentation": "<p>The aws service associated with the check</p>",
            "smithy.api#httpQuery": "awsService"
          }
        },
        "source": {
          "target": "com.amazonaws.trustedadvisor#RecommendationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the check</p>",
            "smithy.api#httpQuery": "source"
          }
        },
        "language": {
          "target": "com.amazonaws.trustedadvisor#RecommendationLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The ISO 639-1 code for the language that you want your checks to appear in.</p>",
            "smithy.api#httpQuery": "language"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListChecksResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "checkSummaries": {
          "target": "com.amazonaws.trustedadvisor#CheckSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Checks</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListOrganizationRecommendationAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.trustedadvisor#ListOrganizationRecommendationAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.trustedadvisor#ListOrganizationRecommendationAccountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.trustedadvisor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#InternalServerException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the accounts that own the resources for an organization aggregate recommendation. This API only\n            supports prioritized recommendations.\n        </p>",
        "smithy.api#examples": [
          {
            "title": "List all Accounts for an AWS Organization's Recommendation",
            "input": {
              "organizationRecommendationIdentifier": "arn:aws:trustedadvisor:::organization-recommendation/9534ec9b-bf3a-44e8-8213-2ed68b39d9d5"
            },
            "output": {
              "accountRecommendationLifecycleSummaries": [
                {
                  "accountId": "000000000000",
                  "accountRecommendationArn": "arn:aws:trustedadvisor::000000000000:recommendation/9534ec9b-bf3a-44e8-8213-2ed68b39d9d5",
                  "lifecycleStage": "resolved",
                  "updateReason": "Resolved issue",
                  "updateReasonCode": "valid_business_case",
                  "lastUpdatedAt": "2023-01-17T18:25:44.552Z"
                }
              ],
              "nextToken": "<REDACTED>"
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/organization-recommendations/{organizationRecommendationIdentifier}/accounts",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "accountRecommendationLifecycleSummaries"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": []
      }
    },
    "com.amazonaws.trustedadvisor#ListOrganizationRecommendationAccountsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#httpQuery": "nextToken",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 200
            }
          }
        },
        "organizationRecommendationIdentifier": {
          "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Recommendation identifier</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "affectedAccountId": {
          "target": "com.amazonaws.trustedadvisor#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>An account affected by this organization recommendation</p>",
            "smithy.api#httpQuery": "affectedAccountId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListOrganizationRecommendationAccountsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "accountRecommendationLifecycleSummaries": {
          "target": "com.amazonaws.trustedadvisor#AccountRecommendationLifecycleSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The account recommendations lifecycles that are applicable to the Recommendation</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListOrganizationRecommendationResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.trustedadvisor#ListOrganizationRecommendationResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.trustedadvisor#ListOrganizationRecommendationResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.trustedadvisor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#InternalServerException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List Resources of a Recommendation within an Organization. This API only supports prioritized\n            recommendations.\n        </p>",
        "smithy.api#examples": [
          {
            "title": "List all Resources for an AWS Organization's Recommendation",
            "input": {
              "organizationRecommendationIdentifier": "arn:aws:trustedadvisor:::organization-recommendation/5a694939-2e54-45a2-ae72-730598fa89d0"
            },
            "output": {
              "organizationRecommendationResourceSummaries": [
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation-resource/5a694939-2e54-45a2-ae72-730598fa89d0/bb38affc0ce0681d9a6cd13f30238ba03a8f63dfe7a379dc403c619119d86af",
                  "awsResourceId": "database-1-instance-1",
                  "id": "bb38affc0ce0681d9a6cd13f302383ba03a8f63dfe7a379dc403c619119d86af",
                  "lastUpdatedAt": "2023-11-01T15:09:51.891Z",
                  "metadata": {
                    "0": "14",
                    "1": "208.79999999999998",
                    "2": "database-1-instance-1",
                    "3": "db.r5.large",
                    "4": "false",
                    "5": "us-west-2",
                    "6": "arn:aws:rds:us-west-2:000000000000:db:database-1-instance-1",
                    "7": "1"
                  },
                  "recommendationArn": "arn:aws:trustedadvisor:::organization-recommendation/5a694939-2e54-45a2-ae72-730598fa89d0",
                  "regionCode": "us-west-2",
                  "status": "warning",
                  "exclusionStatus": "excluded"
                },
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation-resource/5a694939-2e54-45a2-ae72-730598fa89d0/51fded4d7a3278818df9cfe344ff5762cec46c095a6763d1ba1ba53bd0e1b0e6",
                  "awsResourceId": "database-1",
                  "id": "51fded4d7a3278818df9cfe344ff5762cec46c095a6763d1ba1ba53bd0e1b0e6",
                  "lastUpdatedAt": "2023-11-01T15:09:51.891Z",
                  "metadata": {
                    "0": "14",
                    "1": "31.679999999999996",
                    "2": "database-1",
                    "3": "db.t3.small",
                    "4": "false",
                    "5": "us-west-2",
                    "6": "arn:aws:rds:us-west-2:000000000000:db:database-1",
                    "7": "20"
                  },
                  "recommendationArn": "arn:aws:trustedadvisor:::organization-recommendation/5a694939-2e54-45a2-ae72-730598fa89d0",
                  "regionCode": "us-west-2",
                  "status": "warning",
                  "exclusionStatus": "excluded"
                },
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation-resource/5a694939-2e54-45a2-ae72-730598fa89d0/f4d01bd20f4cd5372062aafc8786c489e48f0ead7cdab121463bf9f89e40a36b",
                  "awsResourceId": "database-2-instance-1-us-west-2a",
                  "id": "f4d01bd20f4cd5372062aafc8786c489e48f0ead7cdab121463bf9f89e40a36b",
                  "lastUpdatedAt": "2023-11-01T15:09:51.891Z",
                  "metadata": {
                    "0": "14",
                    "1": "187.20000000000002",
                    "2": "database-2-instance-1-us-west-2a",
                    "3": "db.r6g.large",
                    "4": "true",
                    "5": "us-west-2",
                    "6": "arn:aws:rds:us-west-2:000000000000:db:database-2-instance-1-us-west-2a",
                    "7": "1"
                  },
                  "recommendationArn": "arn:aws:trustedadvisor:::organization-recommendation/5a694939-2e54-45a2-ae72-730598fa89d0",
                  "regionCode": "us-west-2",
                  "status": "warning",
                  "exclusionStatus": "included"
                }
              ],
              "nextToken": "<REDACTED>"
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/organization-recommendations/{organizationRecommendationIdentifier}/resources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "organizationRecommendationResourceSummaries"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": []
      }
    },
    "com.amazonaws.trustedadvisor#ListOrganizationRecommendationResourcesRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#httpQuery": "nextToken",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 200
            }
          }
        },
        "status": {
          "target": "com.amazonaws.trustedadvisor#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the resource</p>",
            "smithy.api#httpQuery": "status"
          }
        },
        "exclusionStatus": {
          "target": "com.amazonaws.trustedadvisor#ExclusionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The exclusion status of the resource</p>",
            "smithy.api#httpQuery": "exclusionStatus"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region code of the resource</p>",
            "smithy.api#httpQuery": "regionCode"
          }
        },
        "organizationRecommendationIdentifier": {
          "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Organization organization's Recommendation identifier</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "affectedAccountId": {
          "target": "com.amazonaws.trustedadvisor#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>An account affected by this organization recommendation</p>",
            "smithy.api#httpQuery": "affectedAccountId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListOrganizationRecommendationResourcesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "organizationRecommendationResourceSummaries": {
          "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationResourceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Recommendation Resources</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListOrganizationRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.trustedadvisor#ListOrganizationRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.trustedadvisor#ListOrganizationRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.trustedadvisor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#InternalServerException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List a filterable set of Recommendations within an Organization. This API only supports prioritized\n            recommendations.\n        </p>",
        "smithy.api#examples": [
          {
            "title": "List all of an AWS Organization's Recommendations",
            "input": {},
            "output": {
              "organizationRecommendationSummaries": [
                {
                  "arn": "arn:aws:trustedadvisor:::organization-recommendation/9534ec9b-bf3a-44e8-8213-2ed68b39d9d5",
                  "name": "Lambda Runtime Deprecation Warning",
                  "awsServices": ["lambda"],
                  "checkArn": "arn:aws:trustedadvisor:::check/L4dfs2Q4C5",
                  "id": "9534ec9b-bf3a-44e8-8213-2ed68b39d9d5",
                  "lifecycleStage": "resolved",
                  "pillars": ["security"],
                  "resourcesAggregates": {
                    "errorCount": 0,
                    "okCount": 0,
                    "warningCount": 0
                  },
                  "source": "ta_check",
                  "status": "warning",
                  "type": "priority"
                },
                {
                  "arn": "arn:aws:trustedadvisor:::organization-recommendation/4ecff4d4-1bc1-4c99-a5b8-0fff9ee500d6",
                  "name": "Lambda Runtime Deprecation Warning",
                  "awsServices": ["lambda"],
                  "checkArn": "arn:aws:trustedadvisor:::check/L4dfs2Q4C5",
                  "id": "4ecff4d4-1bc1-4c99-a5b8-0fff9ee500d6",
                  "lifecycleStage": "resolved",
                  "pillars": ["security"],
                  "resourcesAggregates": {
                    "errorCount": 0,
                    "okCount": 0,
                    "warningCount": 0
                  },
                  "source": "ta_check",
                  "status": "warning",
                  "type": "priority"
                }
              ],
              "nextToken": "<REDACTED>"
            }
          },
          {
            "title": "Filter and return a max of one AWS Organization Recommendation that is a part of the \"security\" pillar",
            "input": {
              "pillar": "security",
              "maxResults": 100
            },
            "output": {
              "organizationRecommendationSummaries": [
                {
                  "arn": "arn:aws:trustedadvisor:::organization-recommendation/9534ec9b-bf3a-44e8-8213-2ed68b39d9d5",
                  "name": "Lambda Runtime Deprecation Warning",
                  "awsServices": ["lambda"],
                  "checkArn": "arn:aws:trustedadvisor:::check/L4dfs2Q4C5",
                  "id": "9534ec9b-bf3a-44e8-8213-2ed68b39d9d5",
                  "lifecycleStage": "resolved",
                  "pillars": ["security"],
                  "resourcesAggregates": {
                    "errorCount": 0,
                    "okCount": 0,
                    "warningCount": 0
                  },
                  "source": "ta_check",
                  "status": "warning",
                  "type": "priority"
                }
              ],
              "nextToken": "<REDACTED>"
            }
          },
          {
            "title": "Use the \"nextToken\" returned from a previous request to fetch the next page of filtered AWS Organization Recommendations that are a part of the \"security\" pillar",
            "input": {
              "nextToken": "<REDACTED>",
              "pillar": "security",
              "maxResults": 100
            },
            "output": {
              "organizationRecommendationSummaries": [
                {
                  "arn": "arn:aws:trustedadvisor:::organization-recommendation/4ecff4d4-1bc1-4c99-a5b8-0fff9ee500d6",
                  "name": "Lambda Runtime Deprecation Warning",
                  "awsServices": ["lambda"],
                  "checkArn": "arn:aws:trustedadvisor:::check/L4dfs2Q4C5",
                  "id": "4ecff4d4-1bc1-4c99-a5b8-0fff9ee500d6",
                  "lifecycleStage": "resolved",
                  "pillars": ["security"],
                  "resourcesAggregates": {
                    "errorCount": 0,
                    "okCount": 0,
                    "warningCount": 0
                  },
                  "source": "ta_check",
                  "status": "warning",
                  "type": "priority"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/organization-recommendations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "organizationRecommendationSummaries"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": []
      }
    },
    "com.amazonaws.trustedadvisor#ListOrganizationRecommendationsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#httpQuery": "nextToken",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 200
            }
          }
        },
        "type": {
          "target": "com.amazonaws.trustedadvisor#RecommendationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Recommendation</p>",
            "smithy.api#httpQuery": "type"
          }
        },
        "status": {
          "target": "com.amazonaws.trustedadvisor#RecommendationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Recommendation</p>",
            "smithy.api#httpQuery": "status"
          }
        },
        "pillar": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillar",
          "traits": {
            "smithy.api#documentation": "<p>The pillar of the Recommendation</p>",
            "smithy.api#httpQuery": "pillar"
          }
        },
        "awsService": {
          "target": "com.amazonaws.trustedadvisor#RecommendationAwsService",
          "traits": {
            "smithy.api#documentation": "<p>The aws service associated with the Recommendation</p>",
            "smithy.api#httpQuery": "awsService"
          }
        },
        "source": {
          "target": "com.amazonaws.trustedadvisor#RecommendationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the Recommendation</p>",
            "smithy.api#httpQuery": "source"
          }
        },
        "checkIdentifier": {
          "target": "com.amazonaws.trustedadvisor#CheckIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The check identifier of the Recommendation</p>",
            "smithy.api#httpQuery": "checkIdentifier"
          }
        },
        "afterLastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>After the last update of the Recommendation</p>",
            "smithy.api#httpQuery": "afterLastUpdatedAt"
          }
        },
        "beforeLastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Before the last update of the Recommendation</p>",
            "smithy.api#httpQuery": "beforeLastUpdatedAt"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListOrganizationRecommendationsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "organizationRecommendationSummaries": {
          "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Recommendations</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListRecommendationResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.trustedadvisor#ListRecommendationResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.trustedadvisor#ListRecommendationResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.trustedadvisor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#InternalServerException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List Resources of a Recommendation</p>",
        "smithy.api#examples": [
          {
            "title": "List all Resources for a Recommendation",
            "input": {
              "recommendationIdentifier": "arn:aws:trustedadvisor::000000000000:recommendation/55fa4d2e-bbb7-491a-833b-5773e9589578"
            },
            "output": {
              "recommendationResourceSummaries": [
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation-resource/55fa4d2e-bbb7-491a-833b-5773e9589578/18959a1f1973cff8e706e9d9bde28bba36cd602a6b2cb86c8b61252835236010",
                  "id": "18959a1f1973cff8e706e9d9bde28bba36cd602a6b2cb86c8b61252835236010",
                  "awsResourceId": "webcms-dev-01",
                  "lastUpdatedAt": "2023-11-01T15:09:51.891Z",
                  "metadata": {
                    "0": "14",
                    "1": "123.12000000000002",
                    "2": "webcms-dev-01",
                    "3": "db.m6i.large",
                    "4": "false",
                    "5": "us-east-1",
                    "6": "arn:aws:rds:us-east-1:000000000000:db:webcms-dev-01",
                    "7": "20"
                  },
                  "recommendationArn": "arn:aws:trustedadvisor::000000000000:recommendation/55fa4d2e-bbb7-491a-833b-5773e9589578",
                  "regionCode": "us-east-1",
                  "status": "warning",
                  "exclusionStatus": "excluded"
                },
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation-resource/55fa4d2e-bbb7-491a-833b-5773e9589578/e6367ff500ac90db8e4adeb4892e39ee9c36bbf812dcbce4b9e4fefcec9eb63e",
                  "id": "e6367ff500ac90db8e4adeb4892e39ee9c36bbf812dcbce4b9e4fefcec9eb63e",
                  "awsResourceId": "aws-dev-db-stack-instance-1",
                  "lastUpdatedAt": "2023-11-01T15:09:51.891Z",
                  "metadata": {
                    "0": "14",
                    "1": "29.52",
                    "2": "aws-dev-db-stack-instance-1",
                    "3": "db.t2.small",
                    "4": "false",
                    "5": "us-east-1",
                    "6": "arn:aws:rds:us-east-1:000000000000:db:aws-dev-db-stack-instance-1",
                    "7": "1"
                  },
                  "recommendationArn": "arn:aws:trustedadvisor::000000000000:recommendation/55fa4d2e-bbb7-491a-833b-5773e9589578",
                  "regionCode": "us-east-1",
                  "status": "warning",
                  "exclusionStatus": "included"
                },
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation-resource/55fa4d2e-bbb7-491a-833b-5773e9589578/31aa78ba050a5015d2d38cca7f5f1ce88f70857c4e1c3ad03f8f9fd95dad7459",
                  "id": "31aa78ba050a5015d2d38cca7f5f1ce88f70857c4e1c3ad03f8f9fd95dad7459",
                  "awsResourceId": "aws-awesome-apps-stack-db",
                  "lastUpdatedAt": "2023-11-01T15:09:51.891Z",
                  "metadata": {
                    "0": "14",
                    "1": "114.48000000000002",
                    "2": "aws-awesome-apps-stack-db",
                    "3": "db.m6g.large",
                    "4": "false",
                    "5": "us-east-1",
                    "6": "arn:aws:rds:us-east-1:000000000000:db:aws-awesome-apps-stack-db",
                    "7": "100"
                  },
                  "recommendationArn": "arn:aws:trustedadvisor::000000000000:recommendation/55fa4d2e-bbb7-491a-833b-5773e9589578",
                  "regionCode": "us-east-1",
                  "status": "warning",
                  "exclusionStatus": "excluded"
                }
              ],
              "nextToken": "<REDACTED>"
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/recommendations/{recommendationIdentifier}/resources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "recommendationResourceSummaries"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": []
      }
    },
    "com.amazonaws.trustedadvisor#ListRecommendationResourcesRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#httpQuery": "nextToken",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 200
            }
          }
        },
        "status": {
          "target": "com.amazonaws.trustedadvisor#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the resource</p>",
            "smithy.api#httpQuery": "status"
          }
        },
        "exclusionStatus": {
          "target": "com.amazonaws.trustedadvisor#ExclusionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The exclusion status of the resource</p>",
            "smithy.api#httpQuery": "exclusionStatus"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region code of the resource</p>",
            "smithy.api#httpQuery": "regionCode"
          }
        },
        "recommendationIdentifier": {
          "target": "com.amazonaws.trustedadvisor#AccountRecommendationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Recommendation identifier</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListRecommendationResourcesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "recommendationResourceSummaries": {
          "target": "com.amazonaws.trustedadvisor#RecommendationResourceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Recommendation Resources</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.trustedadvisor#ListRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.trustedadvisor#ListRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.trustedadvisor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#InternalServerException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.trustedadvisor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List a filterable set of Recommendations</p>",
        "smithy.api#examples": [
          {
            "title": "List all Recommendations",
            "input": {},
            "output": {
              "recommendationSummaries": [
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation/55fa4d2e-bbb7-491a-833b-5773e9589578",
                  "name": "MFA Recommendation",
                  "awsServices": ["iam"],
                  "checkArn": "arn:aws:trustedadvisor:::check/7DAFEmoDos",
                  "id": "55fa4d2e-bbb7-491a-833b-5773e9589578",
                  "lastUpdatedAt": "2023-11-01T15:57:58.673Z",
                  "pillarSpecificAggregates": {
                    "costOptimizing": {
                      "estimatedMonthlySavings": 0.0,
                      "estimatedPercentMonthlySavings": 0.0
                    }
                  },
                  "pillars": ["security"],
                  "resourcesAggregates": {
                    "errorCount": 1,
                    "okCount": 0,
                    "warningCount": 0
                  },
                  "source": "ta_check",
                  "status": "error",
                  "type": "standard"
                },
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation/8b602b6f-452d-4cb2-8a9e-c7650955d9cd",
                  "name": "RDS clusters quota warning",
                  "awsServices": ["rds"],
                  "checkArn": "arn:aws:trustedadvisor:::check/gjqMBn6pjz",
                  "id": "8b602b6f-452d-4cb2-8a9e-c7650955d9cd",
                  "lastUpdatedAt": "2023-11-01T15:58:17.397Z",
                  "pillarSpecificAggregates": {
                    "costOptimizing": {
                      "estimatedMonthlySavings": 0.0,
                      "estimatedPercentMonthlySavings": 0.0
                    }
                  },
                  "pillars": ["service_limits"],
                  "resourcesAggregates": {
                    "errorCount": 0,
                    "okCount": 3,
                    "warningCount": 6
                  },
                  "source": "ta_check",
                  "status": "warning",
                  "type": "standard"
                }
              ],
              "nextToken": "<REDACTED>"
            }
          },
          {
            "title": "Filter and return a max of one Recommendation that is a part of AWS IAM",
            "input": {
              "awsService": "iam",
              "maxResults": 100
            },
            "output": {
              "recommendationSummaries": [
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation/55fa4d2e-bbb7-491a-833b-5773e9589578",
                  "name": "MFA Recommendation",
                  "awsServices": ["iam"],
                  "checkArn": "arn:aws:trustedadvisor:::check/7DAFEmoDos",
                  "id": "55fa4d2e-bbb7-491a-833b-5773e9589578",
                  "lastUpdatedAt": "2023-11-01T15:57:58.673Z",
                  "pillarSpecificAggregates": {
                    "costOptimizing": {
                      "estimatedMonthlySavings": 0.0,
                      "estimatedPercentMonthlySavings": 0.0
                    }
                  },
                  "pillars": ["security"],
                  "resourcesAggregates": {
                    "errorCount": 1,
                    "okCount": 0,
                    "warningCount": 0
                  },
                  "source": "ta_check",
                  "status": "error",
                  "type": "standard"
                }
              ],
              "nextToken": "<REDACTED>"
            }
          },
          {
            "title": "Use the \"nextToken\" returned from a previous request to fetch the next page of filtered Recommendations",
            "input": {
              "nextToken": "<REDACTED>",
              "awsService": "rds",
              "maxResults": 100
            },
            "output": {
              "recommendationSummaries": [
                {
                  "arn": "arn:aws:trustedadvisor::000000000000:recommendation/8b602b6f-452d-4cb2-8a9e-c7650955d9cd",
                  "name": "RDS clusters quota warning",
                  "awsServices": ["rds"],
                  "checkArn": "arn:aws:trustedadvisor:::check/gjqMBn6pjz",
                  "id": "8b602b6f-452d-4cb2-8a9e-c7650955d9cd",
                  "lastUpdatedAt": "2023-11-01T15:58:17.397Z",
                  "pillarSpecificAggregates": {
                    "costOptimizing": {
                      "estimatedMonthlySavings": 0.0,
                      "estimatedPercentMonthlySavings": 0.0
                    }
                  },
                  "pillars": ["service_limits"],
                  "resourcesAggregates": {
                    "errorCount": 0,
                    "okCount": 3,
                    "warningCount": 6
                  },
                  "source": "ta_check",
                  "status": "warning",
                  "type": "standard"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/recommendations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "recommendationSummaries"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": []
      }
    },
    "com.amazonaws.trustedadvisor#ListRecommendationsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#httpQuery": "nextToken",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 200
            }
          }
        },
        "type": {
          "target": "com.amazonaws.trustedadvisor#RecommendationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Recommendation</p>",
            "smithy.api#httpQuery": "type"
          }
        },
        "status": {
          "target": "com.amazonaws.trustedadvisor#RecommendationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Recommendation</p>",
            "smithy.api#httpQuery": "status"
          }
        },
        "pillar": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillar",
          "traits": {
            "smithy.api#documentation": "<p>The pillar of the Recommendation</p>",
            "smithy.api#httpQuery": "pillar"
          }
        },
        "awsService": {
          "target": "com.amazonaws.trustedadvisor#RecommendationAwsService",
          "traits": {
            "smithy.api#documentation": "<p>The aws service associated with the Recommendation</p>",
            "smithy.api#httpQuery": "awsService"
          }
        },
        "source": {
          "target": "com.amazonaws.trustedadvisor#RecommendationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the Recommendation</p>",
            "smithy.api#httpQuery": "source"
          }
        },
        "checkIdentifier": {
          "target": "com.amazonaws.trustedadvisor#CheckIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The check identifier of the Recommendation</p>",
            "smithy.api#httpQuery": "checkIdentifier"
          }
        },
        "afterLastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>After the last update of the Recommendation</p>",
            "smithy.api#httpQuery": "afterLastUpdatedAt"
          }
        },
        "beforeLastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Before the last update of the Recommendation</p>",
            "smithy.api#httpQuery": "beforeLastUpdatedAt"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.trustedadvisor#ListRecommendationsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request\n            to retrieve the next set of results.\n        </p>",
            "smithy.api#length": {
              "min": 4,
              "max": 10000
            }
          }
        },
        "recommendationSummaries": {
          "target": "com.amazonaws.trustedadvisor#RecommendationSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Recommendations</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.trustedadvisor#OrganizationRecommendation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID which identifies where the Recommendation was produced</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.trustedadvisor#RecommendationType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the Recommendation was automated or generated by AWS Trusted Advisor Priority</p>",
            "smithy.api#required": {}
          }
        },
        "checkArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Trusted Advisor Check ARN that relates to the Recommendation</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.trustedadvisor#RecommendationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "lifecycleStage": {
          "target": "com.amazonaws.trustedadvisor#RecommendationLifecycleStage",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle stage from AWS Trusted Advisor Priority</p>"
          }
        },
        "pillars": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillarList",
          "traits": {
            "smithy.api#documentation": "<p>The Pillars that the Recommendation is optimizing</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.trustedadvisor#RecommendationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "awsServices": {
          "target": "com.amazonaws.trustedadvisor#RecommendationAwsServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Services that the Recommendation applies to</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS Trusted Advisor Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "resourcesAggregates": {
          "target": "com.amazonaws.trustedadvisor#RecommendationResourcesAggregates",
          "traits": {
            "smithy.api#documentation": "<p>An aggregation of all resources</p>",
            "smithy.api#required": {}
          }
        },
        "pillarSpecificAggregates": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillarSpecificAggregates",
          "traits": {
            "smithy.api#documentation": "<p>The pillar aggregations for cost savings</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation was created, if created by AWS Trusted Advisor Priority</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation was last updated</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "arn": {
          "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for AWS Trusted Advisor recommendations</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The creator, if created by AWS Trusted Advisor Priority</p>"
          }
        },
        "updatedOnBehalfOf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information\n            is only available when a Technical Account Manager takes an action on a recommendation managed by AWS\n            Trusted Advisor Priority\n        </p>"
          }
        },
        "updatedOnBehalfOfJobTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation.\n            This information is only available when a Technical Account Manager takes an action on a recommendation\n            managed by AWS Trusted Advisor Priority\n        </p>"
          }
        },
        "updateReason": {
          "target": "com.amazonaws.trustedadvisor#RecommendationUpdateReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason for the lifecycle stage change</p>"
          }
        },
        "updateReasonCode": {
          "target": "com.amazonaws.trustedadvisor#UpdateRecommendationLifecycleStageReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>Reason code for the lifecycle state change</p>"
          }
        },
        "resolvedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation was resolved</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Recommendation for accounts within an Organization</p>"
      }
    },
    "com.amazonaws.trustedadvisor#OrganizationRecommendationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[\\w-]+:trustedadvisor:::organization-recommendation\\/[\\w-]+$"
      }
    },
    "com.amazonaws.trustedadvisor#OrganizationRecommendationIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[\\w-]+:trustedadvisor:::organization-recommendation\\/[\\w-]+$"
      }
    },
    "com.amazonaws.trustedadvisor#OrganizationRecommendationResourceSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Recommendation Resource</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.trustedadvisor#RecommendationResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Recommendation Resource</p>",
            "smithy.api#required": {}
          }
        },
        "awsResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS resource identifier</p>",
            "smithy.api#required": {}
          }
        },
        "regionCode": {
          "target": "com.amazonaws.trustedadvisor#RecommendationRegionCode",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region code that the Recommendation Resource is in</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.trustedadvisor#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Recommendation Resource</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.trustedadvisor#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata associated with the Recommendation Resource</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation Resource was last updated</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "exclusionStatus": {
          "target": "com.amazonaws.trustedadvisor#ExclusionStatus",
          "traits": {
            "smithy.api#default": "included",
            "smithy.api#documentation": "<p>The exclusion status of the Recommendation Resource</p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.trustedadvisor#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID</p>"
          }
        },
        "recommendationArn": {
          "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Recommendation ARN</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Organization Recommendation Resource Summary</p>"
      }
    },
    "com.amazonaws.trustedadvisor#OrganizationRecommendationResourceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationResourceSummary"
      }
    },
    "com.amazonaws.trustedadvisor#OrganizationRecommendationSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID which identifies where the Recommendation was produced</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.trustedadvisor#RecommendationType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the Recommendation was automated or generated by AWS Trusted Advisor Priority</p>",
            "smithy.api#required": {}
          }
        },
        "checkArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Trusted Advisor Check ARN that relates to the Recommendation</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.trustedadvisor#RecommendationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "lifecycleStage": {
          "target": "com.amazonaws.trustedadvisor#RecommendationLifecycleStage",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle stage from AWS Trusted Advisor Priority</p>"
          }
        },
        "pillars": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillarList",
          "traits": {
            "smithy.api#documentation": "<p>The Pillars that the Recommendation is optimizing</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.trustedadvisor#RecommendationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "awsServices": {
          "target": "com.amazonaws.trustedadvisor#RecommendationAwsServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Services that the Recommendation applies to</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS Trusted Advisor Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "resourcesAggregates": {
          "target": "com.amazonaws.trustedadvisor#RecommendationResourcesAggregates",
          "traits": {
            "smithy.api#documentation": "<p>An aggregation of all resources</p>",
            "smithy.api#required": {}
          }
        },
        "pillarSpecificAggregates": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillarSpecificAggregates",
          "traits": {
            "smithy.api#documentation": "<p>The pillar aggregations for cost savings</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation was created, if created by AWS Trusted Advisor Priority</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation was last updated</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "arn": {
          "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Recommendation</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of recommendation for accounts within an Organization</p>"
      }
    },
    "com.amazonaws.trustedadvisor#OrganizationRecommendationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.trustedadvisor#OrganizationRecommendationSummary"
      }
    },
    "com.amazonaws.trustedadvisor#Recommendation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID which identifies where the Recommendation was produced</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.trustedadvisor#RecommendationType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the Recommendation was automated or generated by AWS Trusted Advisor Priority</p>",
            "smithy.api#required": {}
          }
        },
        "checkArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Trusted Advisor Check ARN that relates to the Recommendation</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.trustedadvisor#RecommendationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "lifecycleStage": {
          "target": "com.amazonaws.trustedadvisor#RecommendationLifecycleStage",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle stage from AWS Trusted Advisor Priority</p>"
          }
        },
        "pillars": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillarList",
          "traits": {
            "smithy.api#documentation": "<p>The Pillars that the Recommendation is optimizing</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.trustedadvisor#RecommendationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "awsServices": {
          "target": "com.amazonaws.trustedadvisor#RecommendationAwsServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Services that the Recommendation applies to</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS Trusted Advisor Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "resourcesAggregates": {
          "target": "com.amazonaws.trustedadvisor#RecommendationResourcesAggregates",
          "traits": {
            "smithy.api#documentation": "<p>An aggregation of all resources</p>",
            "smithy.api#required": {}
          }
        },
        "pillarSpecificAggregates": {
          "target": "com.amazonaws.trustedadvisor#RecommendationPillarSpecificAggregates",
          "traits": {
            "smithy.api#documentation": "<p>The pillar aggregations for cost savings</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation was created, if created by AWS Trusted Advisor Priority</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "lastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation was last updated</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "arn": {
          "target": "com.amazonaws.trustedadvisor#AccountRecommendationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Recommendation</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for AWS Trusted Advisor recommendations</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The creator, if created by AWS Trusted Advisor Priority</p>"
          }
        },
        "updatedOnBehalfOf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information\n            is only available when a Technical Account Manager takes an action on a recommendation managed by AWS\n            Trusted Advisor Priority\n        </p>"
          }
        },
        "updatedOnBehalfOfJobTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation.\n            This information is only available when a Technical Account Manager takes an action on a recommendation\n            managed by AWS Trusted Advisor Priority\n        </p>"
          }
        },
        "updateReason": {
          "target": "com.amazonaws.trustedadvisor#RecommendationUpdateReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason for the lifecycle stage change</p>"
          }
        },
        "updateReasonCode": {
          "target": "com.amazonaws.trustedadvisor#UpdateRecommendationLifecycleStageReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>Reason code for the lifecycle state change</p>"
          }
        },
        "resolvedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the Recommendation was resolved</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Recommendation for an Account</p>"
      }
    },
    "com.amazonaws.trustedadvisor#RecommendationAwsService": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 30
        }
      }
    },
    "com.amazonaws.trustedadvisor#RecommendationAwsServiceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.trustedadvisor#RecommendationAwsService"
      },
      "traits": {
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.trustedadvisor#RecommendationCostOptimizingAggregates": {
      "type": "structure",
      "members": {
        "estimatedMonthlySavings": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The estimated monthly savings</p>",
            "smithy.api#required": {}
          }
        },
        "estimatedPercentMonthlySavings": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The estimated percently monthly savings</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cost optimizing aggregates for a Recommendation</p>"
      }
    },
    "com.amazonaws.trustedadvisor#RecommendationLanguage": {
      "type": "enum",
      "members": {
        "ENGLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en"
          }
        },
        "JAPANESE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja"
          }
        },
        "CHINESE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh"
          }
        },
        "FRENCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "GERMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "KOREAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ko"
          }
        },
        "TRADITIONAL_CHINESE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh_TW"
          }
        },
        "ITALIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it"
          }
        },
        "SPANISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es"
          }
        },
        "BRAZILIAN_PORTUGUESE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt_BR"
          }
        },
        "BAHASA_INDONESIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        }
      }
    },
    "com.amazonaws.trustedadvisor#RecommendationLifecycleStage": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "PENDING_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_response"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissed"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        }
      }
    },
    "com.amazonaws.trustedadvisor#RecommendationPillar": {
      "type": "enum",
      "members": {
        "COST_OPTIMIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cost_optimizing"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performance"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security"
          }
        },
        "SERVICE_LIMITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "service_limits"
          }
        },
        "FAULT_TOLERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fault_tolerance"
          }
        },
        "OPERATIONAL_EXCELLENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "operational_excellence"
          }
        }
      }
    },
    "com.amazonaws.trustedadvisor#RecommendationPillarList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.trustedadvisor#RecommendationPillar"
      },
      "traits": {
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.trustedadvisor#RecommendationPillarSpecificAggregates": {
      "type": "structure",
      "members": {
        "costOptimizing": {
          "target": "com.amazonaws.trustedadvisor#RecommendationCostOptimizingAggregates",
          "traits": {
[...]
