{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.verifiedpermissions#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.verifiedpermissions#ActionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^.*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ActionIdentifier": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "com.amazonaws.verifiedpermissions#ActionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of an action.</p>",
            "smithy.api#required": {}
          }
        },
        "actionId": {
          "target": "com.amazonaws.verifiedpermissions#ActionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an action for a request for which an authorization decision\n            is made.</p>\n         <p>This data type is used as an request parameter to the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a> and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>\n         <p>Example: <code>{ \"actionId\": \"&lt;action name&gt;\", \"actionType\": \"Action\"\n            }</code>\n         </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^Action$|^.+::Action$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#AttributeValue": {
      "type": "union",
      "members": {
        "boolean": {
          "target": "com.amazonaws.verifiedpermissions#BooleanAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/syntax-datatypes.html#boolean\">Boolean</a> type.</p>\n         <p>Example: <code>{\"boolean\": true}</code>\n         </p>"
          }
        },
        "entityIdentifier": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of type <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_EntityIdentifier.html\">EntityIdentifier</a>.</p>\n         <p>Example: <code>\"entityIdentifier\": { \"entityId\": \"&lt;id&gt;\", \"entityType\":\n                \"&lt;entity type&gt;\"}</code>\n         </p>"
          }
        },
        "long": {
          "target": "com.amazonaws.verifiedpermissions#LongAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/syntax-datatypes.html#long\">Long</a> type.</p>\n         <p>Example: <code>{\"long\": 0}</code>\n         </p>"
          }
        },
        "string": {
          "target": "com.amazonaws.verifiedpermissions#StringAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/syntax-datatypes.html#string\">String</a> type.</p>\n         <p>Example: <code>{\"string\": \"abc\"}</code>\n         </p>"
          }
        },
        "set": {
          "target": "com.amazonaws.verifiedpermissions#SetAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/syntax-datatypes.html#set\">Set</a> type.</p>\n         <p>Example: <code>{\"set\": [ {} ] }</code>\n         </p>"
          }
        },
        "record": {
          "target": "com.amazonaws.verifiedpermissions#RecordAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/syntax-datatypes.html#record\">Record</a> type.</p>\n         <p>Example: <code>{\"record\": { \"keyName\": {} } }</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value of an attribute.</p>\n         <p>Contains information about the runtime context for a request for which an\n            authorization decision is made. </p>\n         <p>This data type is used as a member of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ContextDefinition.html\">ContextDefinition</a> structure\n            which is uses as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a> and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#BooleanAttribute": {
      "type": "boolean",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ClientIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#ClientId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.verifiedpermissions#CognitoUserPoolConfiguration": {
      "type": "structure",
      "members": {
        "userPoolArn": {
          "target": "com.amazonaws.verifiedpermissions#UserPoolArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the Amazon Cognito user pool that contains the identities to be\n            authorized.</p>\n         <p>Example: <code>\"UserPoolArn\":\n                \"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\"</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "clientIds": {
          "target": "com.amazonaws.verifiedpermissions#ClientIds",
          "traits": {
            "smithy.api#documentation": "<p>The unique application client IDs that are associated with the specified Amazon Cognito user\n            pool.</p>\n         <p>Example: <code>\"ClientIds\": [\"&amp;ExampleCogClientId;\"]</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for an identity source that represents a connection to an Amazon Cognito user pool used\n            as an identity provider for Verified Permissions.</p>\n         <p>This data type is used as a field that is part of an <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_Configuration.html\">Configuration</a> structure that is\n            used as a parameter to the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_Configuration.html\">Configuration</a>.</p>\n         <p>Example:<code>\"CognitoUserPoolConfiguration\":{\"UserPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"ClientIds\":\n                [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"]}</code>\n         </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#Configuration": {
      "type": "union",
      "members": {
        "cognitoUserPoolConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#CognitoUserPoolConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains configuration details of a Amazon Cognito user pool that Verified Permissions can use as a source of\n            authenticated identities as entities. It specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of a Amazon Cognito user pool\n            and one or more application client IDs.</p>\n         <p>Example:\n                <code>\"configuration\":{\"cognitoUserPoolConfiguration\":{\"userPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"clientIds\":\n                [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"]}}</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information used when creating a new identity source.</p>\n         <note>\n            <p>At this time, the only valid member of this structure is a Amazon Cognito user pool\n                configuration.</p>\n            <p>You must specify a <code>userPoolArn</code>, and optionally, a\n                    <code>ClientId</code>.</p>\n         </note>\n         <p>This data type is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreateIdentitySource.html\">CreateIdentitySource</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.amazonaws.verifiedpermissions#ResourceConflictList",
          "traits": {
            "smithy.api#documentation": "<p>The list of resources referenced with this failed request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because another request to modify a resource occurred at the\n            same.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.verifiedpermissions#ContextDefinition": {
      "type": "union",
      "members": {
        "contextMap": {
          "target": "com.amazonaws.verifiedpermissions#ContextMap",
          "traits": {
            "smithy.api#documentation": "<p>An list of attributes that are needed to successfully evaluate an authorization\n            request. Each attribute in this array must include a map of a data type and its\n            value.</p>\n         <p>Example:\n                <code>\"Context\":{\"&lt;KeyName1&gt;\":{\"boolean\":true},\"&lt;KeyName2&gt;\":{\"long\":1234}}</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains additional details about the context of the request. Verified Permissions evaluates this\n            information in an authorization request as part of the <code>when</code> and\n                <code>unless</code> clauses in a policy.</p>\n         <p>This data type is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a> and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>\n         <p>Example:\n                <code>\"context\":{\"Context\":{\"&lt;KeyName1&gt;\":{\"boolean\":true},\"&lt;KeyName2&gt;\":{\"long\":1234}}}</code>\n         </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#ContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.verifiedpermissions#AttributeValue"
      }
    },
    "com.amazonaws.verifiedpermissions#CreateIdentitySource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#CreateIdentitySourceInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#CreateIdentitySourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a reference to an external identity provider (IdP) that is compatible with OpenID Connect (OIDC) authentication protocol, such as Amazon Cognito",
        "smithy.api#documentation": "<p>Creates a reference to an Amazon Cognito user pool as an external identity provider (IdP).\n            </p>\n         <p>After you create an identity source, you can use the identities provided by the IdP as proxies\n            for the principal in authorization queries that use the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a>\n            operation. These identities take the form of tokens that contain claims about the user,\n            such as IDs, attributes and group memberships. Amazon Cognito provides both identity tokens and\n            access tokens, and Verified Permissions can use either or both. Any combination of identity and access\n            tokens results in the same Cedar principal. Verified Permissions automatically translates the\n            information about the identities into the standard Cedar attributes that can be\n            evaluated by your policies. Because the Amazon Cognito identity and access tokens can contain\n            different information, the tokens you choose to use determine which principal attributes\n            are available to access when evaluating Cedar policies.</p>\n         <important>\n            <p>If you delete a Amazon Cognito user pool or user, tokens from that deleted pool or that deleted user continue to be usable until they expire.</p>\n         </important>\n         <note>\n            <p>To reference a user from this identity source in your Cedar policies, use the following\n                syntax.</p>\n            <p>\n               <i>IdentityType::\"&lt;CognitoUserPoolIdentifier&gt;|&lt;CognitoClientId&gt;</i>\n            </p>\n            <p>Where <code>IdentityType</code> is the string that you provide to the\n                    <code>PrincipalEntityType</code> parameter for this operation. The\n                    <code>CognitoUserPoolId</code> and <code>CognitoClientId</code> are defined by\n                the Amazon Cognito user pool.</p>\n         </note>\n         <note>\n            <p>Verified Permissions is <i>\n                  <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a>\n               </i>. It can take a few seconds for a new or changed element to be propagate through\n    the service and be visible in the results of other Verified Permissions operations.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreateIdentitySourceInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.verifiedpermissions#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store in which you want to store this identity source. Only policies and\n            requests made using this policy store can reference identities from the identity provider\n            configured in the new identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.verifiedpermissions#Configuration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the details required to communicate with the identity provider (IdP)\n            associated with this identity source.</p>\n         <note>\n            <p>At this time, the only valid member of this structure is a Amazon Cognito user pool\n                configuration.</p>\n            <p>You must specify a <code>UserPoolArn</code>, and optionally, a\n                    <code>ClientId</code>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "principalEntityType": {
          "target": "com.amazonaws.verifiedpermissions#PrincipalEntityType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the namespace and data type of the principals generated for identities\n            authenticated by the new identity source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreateIdentitySourceOutput": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the identity source was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "identitySourceId": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the new identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the identity source was most recently updated.</p>",
            "smithy.api#required": {}
          }
        },
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store that contains the identity source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a Cedar policy and save it in the specified policy store",
        "smithy.api#documentation": "<p>Creates a Cedar policy and saves it in the specified policy store. You can create either a\n            static policy or a policy linked to a policy template.</p>\n         <ul>\n            <li>\n               <p>To create a static policy, provide the Cedar policy text in the\n                        <code>StaticPolicy</code> section of the\n                    <code>PolicyDefinition</code>.</p>\n            </li>\n            <li>\n               <p>To create a policy that is dynamically linked to a policy template, specify the policy template ID\n                    and the principal and resource to associate with this policy in the\n                        <code>templateLinked</code> section of the <code>PolicyDefinition</code>. If the\n                    policy template is ever updated, any policies linked to the policy template automatically use the\n                    updated template.</p>\n            </li>\n         </ul>\n         <note>\n            <p>Creating a policy causes it to be validated against the schema in the policy store. If the\n                policy doesn't pass validation, the operation fails and the policy isn't\n                stored.</p>\n         </note>\n         <note>\n            <p>Verified Permissions is <i>\n                  <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a>\n               </i>. It can take a few seconds for a new or changed element to be propagate through\n    the service and be visible in the results of other Verified Permissions operations.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.verifiedpermissions#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>PolicyStoreId</code> of the policy store you want to store the policy\n            in.</p>",
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "com.amazonaws.verifiedpermissions#PolicyDefinition",
          "traits": {
            "smithy.api#documentation": "<p>A structure that specifies the policy type and content to use for the new policy. You\n            must include either a static or a templateLinked element. The policy content must be written\n            in the Cedar policy language.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyOutput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store that contains the new policy.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the new policy.</p>",
            "smithy.api#required": {}
          }
        },
        "policyType": {
          "target": "com.amazonaws.verifiedpermissions#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The policy type of the new policy.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The principal specified in the new policy's scope. This response element isn't present\n            when <code>principal</code> isn't specified in the policy content.</p>"
          }
        },
        "resource": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The resource specified in the new policy's scope. This response element isn't present\n            when the <code>resource</code> isn't specified in the policy content.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyStoreInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyStoreOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a Cedar policy and save it in the specified policy store",
        "smithy.api#documentation": "<p>Creates a policy store. A policy store is a container for policy resources.</p>\n         <note>\n            <p>Although <a href=\"https://docs.cedarpolicy.com/schema.html#namespace\">Cedar\n                    supports multiple namespaces</a>, Verified Permissions currently supports only one\n                namespace per policy store.</p>\n         </note>\n         <note>\n            <p>Verified Permissions is <i>\n                  <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a>\n               </i>. It can take a few seconds for a new or changed element to be propagate through\n    the service and be visible in the results of other Verified Permissions operations.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyStoreInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.verifiedpermissions#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "validationSettings": {
          "target": "com.amazonaws.verifiedpermissions#ValidationSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the validation setting for this policy store.</p>\n         <p>Currently, the only valid and required value is <code>Mode</code>.</p>\n         <important>\n            <p>We recommend that you turn on <code>STRICT</code> mode only after you define a\n                schema. If a schema doesn't exist, then <code>STRICT</code> mode causes any policy\n                to fail validation, and Verified Permissions rejects the policy. You can turn off validation by\n                using the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicyStore\">UpdatePolicyStore</a>. Then, when you have a schema defined, use <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicyStore\">UpdatePolicyStore</a> again to turn validation back on.</p>\n         </important>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyStoreOutput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the new policy store.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.verifiedpermissions#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the new policy store.</p>",
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy store was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy store was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a policy template",
        "smithy.api#documentation": "<p>Creates a policy template. A template can use placeholders for the principal and resource. A\n            template must be instantiated into a policy by associating it with specific principals\n            and resources to use for the placeholders. That instantiated policy can then be\n            considered in authorization decisions. The instantiated policy works identically to any\n            other policy, except that it is dynamically linked to the template. If the template\n            changes, then any policies that are linked to that template are immediately updated as\n            well.</p>\n         <note>\n            <p>Verified Permissions is <i>\n                  <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a>\n               </i>. It can take a few seconds for a new or changed element to be propagate through\n    the service and be visible in the results of other Verified Permissions operations.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyTemplateInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.verifiedpermissions#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store in which to create the policy template.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.verifiedpermissions#PolicyTemplateDescription",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a description for the policy template.</p>"
          }
        },
        "statement": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStatement",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the content that you want to use for the new policy template, written in the Cedar\n            policy language.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyTemplateOutput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store that contains the policy template.</p>",
            "smithy.api#required": {}
          }
        },
        "policyTemplateId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the new policy template.</p>",
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy template was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy template was most recently updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#Decision": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.amazonaws.verifiedpermissions#DeleteIdentitySource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#DeleteIdentitySourceInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#DeleteIdentitySourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ConflictException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete an identity source that references an identity provider (IdP) such as Amazon Cognito",
        "smithy.api#documentation": "<p>Deletes an identity source that references an identity provider (IdP) such as Amazon Cognito. After\n            you delete the identity source, you can no longer use tokens for identities from that identity source to\n            represent principals in authorization queries made using <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a>.\n            operations.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeleteIdentitySourceInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that contains the identity source that you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "identitySourceId": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the identity source that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeleteIdentitySourceOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeletePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#DeletePolicyInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#DeletePolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ConflictException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete the specified policy from the policy store",
        "smithy.api#documentation": "<p>Deletes the specified policy from the policy store.</p>\n         <p>This operation is idempotent; if you specify a policy that doesn't \n        exist, the request response returns a successful <code>HTTP 200</code> status code.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeletePolicyInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that contains the policy that you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeletePolicyOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeletePolicyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#DeletePolicyStoreInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#DeletePolicyStoreOutput"
      },
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete the specified policy store",
        "smithy.api#documentation": "<p>Deletes the specified policy store.</p>\n         <p>This operation is idempotent. If you specify a policy store that does not exist, the request\n            response will still return a successful HTTP 200 status code.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeletePolicyStoreInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeletePolicyStoreOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeletePolicyTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#DeletePolicyTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#DeletePolicyTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ConflictException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete the specified policy template from the policy store",
        "smithy.api#documentation": "<p>Deletes the specified policy template from the policy store.</p>\n         <important>\n            <p>This operation also deletes any policies that were created from the specified\n                policy template. Those policies are immediately removed from all future API responses, and are\n                asynchronously deleted from the policy store.</p>\n         </important>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeletePolicyTemplateInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that contains the policy template that you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "policyTemplateId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy template that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeletePolicyTemplateOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DeterminingPolicyItem": {
      "type": "structure",
      "members": {
        "policyId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The Id of a policy that determined to an authorization decision.</p>\n         <p>Example: <code>\"policyId\":\"SPEXAMPLEabcdefg111111\"</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about one of the policies that determined an authorization\n            decision.</p>\n         <p>This data type is used as an element in a response parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>\n            and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>\n         <p>Example: <code>\"determiningPolicies\":[{\"policyId\":\"SPEXAMPLEabcdefg111111\"}]</code>\n         </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#DeterminingPolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#DeterminingPolicyItem"
      },
      "traits": {
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.verifiedpermissions#DiscoveryUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^https://.*$"
      }
    },
    "com.amazonaws.verifiedpermissions#EntitiesDefinition": {
      "type": "union",
      "members": {
        "entityList": {
          "target": "com.amazonaws.verifiedpermissions#EntityList",
          "traits": {
            "smithy.api#documentation": "<p>An array of entities that are needed to successfully evaluate an authorization\n            request. Each entity in this array must include an identifier for the entity, the\n            attributes of the entity, and a list of any parent entities.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the list of entities to be considered during an authorization request. This\n            includes all principals, resources, and actions required to successfully evaluate the\n            request.</p>\n         <p>This data type is used as a field in the response parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>\n            and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#EntityAttributes": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.verifiedpermissions#AttributeValue"
      }
    },
    "com.amazonaws.verifiedpermissions#EntityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^.*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#EntityIdentifier": {
      "type": "structure",
      "members": {
        "entityType": {
          "target": "com.amazonaws.verifiedpermissions#EntityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of an entity.</p>\n         <p>Example: <code>\"entityType\":\"<i>typeName</i>\"</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "entityId": {
          "target": "com.amazonaws.verifiedpermissions#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an entity.</p>\n         <p>\n            <code>\"entityId\":\"<i>identifier</i>\"</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the identifier of an entity, including its ID and type.</p>\n         <p>This data type is used as a request parameter for <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a> operation, and as a\n            response parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreatePolicy.html\">CreatePolicy</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_GetPolicy.html\">GetPolicy</a>, and\n                <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicy.html\">UpdatePolicy</a> operations.</p>\n         <p>Example:\n                    <code>{\"entityId\":\"<i>string</i>\",\"entityType\":\"<i>string</i>\"}</code>\n         </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#EntityItem": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the entity.</p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.verifiedpermissions#EntityAttributes",
          "traits": {
            "smithy.api#documentation": "<p>A list of attributes for the entity.</p>"
          }
        },
        "parents": {
          "target": "com.amazonaws.verifiedpermissions#ParentList",
          "traits": {
            "smithy.api#documentation": "<p>The parents in the hierarchy that contains the entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an entity that can be referenced in a Cedar\n            policy.</p>\n         <p>This data type is used as one of the fields in the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_EntitiesDefinition.html\">EntitiesDefinition</a>\n            structure.</p>\n         <p>\n            <code>{ \"identifier\": { \"entityType\": \"Photo\", \"entityId\": \"VacationPhoto94.jpg\" },\n                \"attributes\": {}, \"parents\": [ { \"entityType\": \"Album\", \"entityId\": \"alice_folder\" }\n                ] }</code>\n         </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#EntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#EntityItem"
      }
    },
    "com.amazonaws.verifiedpermissions#EntityReference": {
      "type": "union",
      "members": {
        "unspecified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Used to indicate that a principal or resource is not specified. This can be used to\n            search for policies that are not associated with a specific principal or\n            resource.</p>"
          }
        },
        "identifier": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the entity. It can consist of either an EntityType and EntityId, a\n            principal, or a resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a principal or resource that can be referenced in a Cedar\n            policy.</p>\n         <p>This data type is used as part of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_PolicyFilter.html\">PolicyFilter</a> structure that is\n            used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListPolicies.html\">ListPolicies</a> operation..</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#EntityType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^.*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#EvaluationErrorItem": {
      "type": "structure",
      "members": {
        "errorDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The error description.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a description of an evaluation error.</p>\n         <p>This data type is used as a request parameter in the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a> and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#EvaluationErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#EvaluationErrorItem"
      },
      "traits": {
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetIdentitySource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#GetIdentitySourceInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#GetIdentitySourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to retrieve the details about the specified identity source",
        "smithy.api#documentation": "<p>Retrieves the details about the specified identity source.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetIdentitySourceInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that contains the identity source you want information about.</p>",
            "smithy.api#required": {}
          }
        },
        "identitySourceId": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the identity source you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetIdentitySourceOutput": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time that the identity source was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceDetails",
          "traits": {
            "smithy.api#documentation": "<p>A structure that describes the configuration of the identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "identitySourceId": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time that the identity source was most recently updated.</p>",
            "smithy.api#required": {}
          }
        },
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store that contains the identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "principalEntityType": {
          "target": "com.amazonaws.verifiedpermissions#PrincipalEntityType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of principals generated for identities authenticated by this\n            identity source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#GetPolicyInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#GetPolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to retrieve information about the specified policy",
        "smithy.api#documentation": "<p>Retrieves information about the specified policy.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetPolicyInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that contains the policy that you want information\n            about.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetPolicyOutput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store that contains the policy that you want information about.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the policy that you want information about.</p>",
            "smithy.api#required": {}
          }
        },
        "policyType": {
          "target": "com.amazonaws.verifiedpermissions#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the policy.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The principal specified in the policy's scope. This element isn't included in the\n            response when <code>Principal</code> isn't present in the policy content.</p>"
          }
        },
        "resource": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The resource specified in the policy's scope. This element isn't included in the\n            response when <code>Resource</code> isn't present in the policy content.</p>"
          }
        },
        "definition": {
          "target": "com.amazonaws.verifiedpermissions#PolicyDefinitionDetail",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The definition of the requested policy.</p>",
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time that the policy was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time that the policy was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetPolicyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#GetPolicyStoreInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#GetPolicyStoreOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to retrieve details about a policy store",
        "smithy.api#documentation": "<p>Retrieves details about a policy store.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetPolicyStoreInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetPolicyStoreOutput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store;</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.verifiedpermissions#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the policy store.</p>",
            "smithy.api#required": {}
          }
        },
        "validationSettings": {
          "target": "com.amazonaws.verifiedpermissions#ValidationSettings",
          "traits": {
            "smithy.api#documentation": "<p>The current validation settings for the policy store.</p>",
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time that the policy store was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time that the policy store was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetPolicyTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#GetPolicyTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#GetPolicyTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to retrieve the details for the specified policy template in the specified policy store",
        "smithy.api#documentation": "<p>Retrieve the details for the specified policy template in the specified policy store.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetPolicyTemplateInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that contains the policy template that you want information\n            about.</p>",
            "smithy.api#required": {}
          }
        },
        "policyTemplateId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy template that you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetPolicyTemplateOutput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store that contains the policy template.</p>",
            "smithy.api#required": {}
          }
        },
        "policyTemplateId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy template.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.verifiedpermissions#PolicyTemplateDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the policy template.</p>"
          }
        },
        "statement": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStatement",
          "traits": {
            "smithy.api#documentation": "<p>The content of the body of the policy template written in the Cedar policy language.</p>",
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time that the policy template was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time that the policy template was most recently updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#GetSchemaInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#GetSchemaOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to retrieve the details for the specified schema in the specified policy store",
        "smithy.api#documentation": "<p>Retrieve the details for the specified schema in the specified policy store.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetSchemaInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that contains the schema.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#GetSchemaOutput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store that contains the schema.</p>",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.amazonaws.verifiedpermissions#SchemaJson",
          "traits": {
            "smithy.api#documentation": "<p>The body of the schema, written in Cedar schema JSON.</p>",
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the schema was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the schema was most recently updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]*$"
      }
    },
    "com.amazonaws.verifiedpermissions#IdentitySource": {
      "type": "resource",
      "identifiers": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId"
        },
        "identitySourceId": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceId"
        }
      },
      "create": {
        "target": "com.amazonaws.verifiedpermissions#CreateIdentitySource"
      },
      "read": {
        "target": "com.amazonaws.verifiedpermissions#GetIdentitySource"
      },
      "update": {
        "target": "com.amazonaws.verifiedpermissions#UpdateIdentitySource"
      },
      "delete": {
        "target": "com.amazonaws.verifiedpermissions#DeleteIdentitySource"
      },
      "list": {
        "target": "com.amazonaws.verifiedpermissions#ListIdentitySources"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {},
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.verifiedpermissions#IdentitySourceDetails": {
      "type": "structure",
      "members": {
        "clientIds": {
          "target": "com.amazonaws.verifiedpermissions#ClientIds",
          "traits": {
            "smithy.api#documentation": "<p>The application client IDs associated with the specified Amazon Cognito user pool that are\n            enabled for this identity source.</p>"
          }
        },
        "userPoolArn": {
          "target": "com.amazonaws.verifiedpermissions#UserPoolArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the Amazon Cognito user pool whose identities are accessible to this Verified Permissions\n            policy store.</p>"
          }
        },
        "discoveryUrl": {
          "target": "com.amazonaws.verifiedpermissions#DiscoveryUrl",
          "traits": {
            "smithy.api#documentation": "<p>The well-known URL that points to this user pool's OIDC discovery endpoint. This is a\n            URL string in the following format. This URL replaces the placeholders for both the\n            Amazon Web Services Region and the user pool identifier with those appropriate for this user\n            pool.</p>\n         <p>\n            <code>https://cognito-idp.<i>&lt;region&gt;</i>.amazonaws.com/<i>&lt;user-pool-id&gt;</i>/.well-known/openid-configuration</code>\n         </p>"
          }
        },
        "openIdIssuer": {
          "target": "com.amazonaws.verifiedpermissions#OpenIdIssuer",
          "traits": {
            "smithy.api#documentation": "<p>A string that identifies the type of OIDC service represented by this identity source. </p>\n         <p>At this time, the only valid value is <code>cognito</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains configuration of the identity source.</p>\n         <p>This data type is used as a response parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreateIdentitySource.html\">CreateIdentitySource</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#IdentitySourceFilter": {
      "type": "structure",
      "members": {
        "principalEntityType": {
          "target": "com.amazonaws.verifiedpermissions#PrincipalEntityType",
          "traits": {
            "smithy.api#documentation": "<p>The Cedar entity type of the principals returned by the identity provider (IdP)\n            associated with this identity source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that defines characteristics of an identity source that you can use to\n            filter.</p>\n         <p>This data type is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListIdentityStores.html\">ListIdentityStores</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#IdentitySourceFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#IdentitySourceFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.verifiedpermissions#IdentitySourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]*$"
      }
    },
    "com.amazonaws.verifiedpermissions#IdentitySourceItem": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the identity source was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceItemDetails",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the details of the associated identity provider\n            (IdP).</p>",
            "smithy.api#required": {}
          }
        },
        "identitySourceId": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the identity source was most recently updated.</p>",
            "smithy.api#required": {}
          }
        },
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the policy store that contains the identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "principalEntityType": {
          "target": "com.amazonaws.verifiedpermissions#PrincipalEntityType",
          "traits": {
            "smithy.api#documentation": "<p>The Cedar entity type of the principals returned from the IdP associated with this\n            identity source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that defines an identity source.</p>\n         <p>This data type is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListIdentityStores.html\">ListIdentityStores</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#IdentitySourceItemDetails": {
      "type": "structure",
      "members": {
        "clientIds": {
          "target": "com.amazonaws.verifiedpermissions#ClientIds",
          "traits": {
            "smithy.api#documentation": "<p>The application client IDs associated with the specified Amazon Cognito user pool that are\n            enabled for this identity source.</p>"
          }
        },
        "userPoolArn": {
          "target": "com.amazonaws.verifiedpermissions#UserPoolArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Cognito user pool whose identities are accessible to this Verified Permissions policy store.</p>"
          }
        },
        "discoveryUrl": {
          "target": "com.amazonaws.verifiedpermissions#DiscoveryUrl",
          "traits": {
            "smithy.api#documentation": "<p>The well-known URL that points to this user pool's OIDC discovery endpoint. This is a\n            URL string in the following format. This URL replaces the placeholders for both the\n            Amazon Web Services Region and the user pool identifier with those appropriate for this user\n            pool.</p>\n         <p>\n            <code>https://cognito-idp.<i>&lt;region&gt;</i>.amazonaws.com/<i>&lt;user-pool-id&gt;</i>/.well-known/openid-configuration</code>\n         </p>"
          }
        },
        "openIdIssuer": {
          "target": "com.amazonaws.verifiedpermissions#OpenIdIssuer",
          "traits": {
            "smithy.api#documentation": "<p>A string that identifies the type of OIDC service represented by this identity source. </p>\n         <p>At this time, the only valid value is <code>cognito</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains configuration of the identity source.</p>\n         <p>This data type is used as a response parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreateIdentitySource.html\">CreateIdentitySource</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#IdentitySources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#IdentitySourceItem"
      }
    },
    "com.amazonaws.verifiedpermissions#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because of an internal error. Try your request again later</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.verifiedpermissions#IsAuthorized": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#IsAuthorizedInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#IsAuthorizedOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to make an authorization decision about a service request described in the parameters",
        "smithy.api#documentation": "<p>Makes an authorization decision about a service request described in the parameters.\n            The information in the parameters can also define additional context that Verified Permissions can\n            include in the evaluation. The request is evaluated against all matching policies in the\n            specified policy store. The result of the decision is either <code>Allow</code> or\n                <code>Deny</code>, along with a list of the policies that resulted in the\n            decision.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#IsAuthorizedInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store. Policies in this policy store will be used to make an\n            authorization decision for the input.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the principal for which the authorization decision is to be made.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.verifiedpermissions#ActionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested action to be authorized. For example, is the principal\n            authorized to perform this action on the resource?</p>"
          }
        },
        "resource": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource for which the authorization decision is to be made.</p>"
          }
        },
        "context": {
          "target": "com.amazonaws.verifiedpermissions#ContextDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Specifies additional context that can be used to make more granular authorization\n            decisions.</p>"
          }
        },
        "entities": {
          "target": "com.amazonaws.verifiedpermissions#EntitiesDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the list of resources and principals and their associated attributes that\n            Verified Permissions can examine when evaluating the policies. </p>\n         <note>\n            <p>You can include only principal and resource entities in this parameter; you can't\n                include actions. You must specify actions in the schema.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#IsAuthorizedOutput": {
      "type": "structure",
      "members": {
        "decision": {
          "target": "com.amazonaws.verifiedpermissions#Decision",
          "traits": {
            "smithy.api#documentation": "<p>An authorization decision that indicates if the authorization request should be\n            allowed or denied.</p>",
            "smithy.api#required": {}
          }
        },
        "determiningPolicies": {
          "target": "com.amazonaws.verifiedpermissions#DeterminingPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>The list of determining policies used to make the authorization decision. For example,\n            if there are two matching policies, where one is a forbid and the other is a permit,\n            then the forbid policy will be the determining policy. In the case of multiple matching\n            permit policies then there would be multiple determining policies. In the case that no\n            policies match, and hence the response is DENY, there would be no determining\n            policies.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.verifiedpermissions#EvaluationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors that occurred while making an authorization decision, for example, a policy\n            references an Entity or entity Attribute that does not exist in the slice.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#IsAuthorizedWithToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#IsAuthorizedWithTokenInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#IsAuthorizedWithTokenOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to make an authorization decision about a service request described in the parameters. The principal in this request comes from an external identity source",
        "smithy.api#documentation": "<p>Makes an authorization decision about a service request described in the parameters.\n            The principal in this request comes from an external identity source in the form of an identity\n            token formatted as a <a href=\"https://wikipedia.org/wiki/JSON_Web_Token\">JSON web\n                token (JWT)</a>. The information in the parameters can also define additional\n            context that Verified Permissions can include in the evaluation. The request is evaluated against all\n            matching policies in the specified policy store. The result of the decision is either\n                <code>Allow</code> or <code>Deny</code>, along with a list of the policies that\n            resulted in the decision.</p>\n         <important>\n            <p>If you specify the <code>identityToken</code> parameter, then this operation\n                derives the principal from that token. You must not also include that principal in\n                the <code>entities</code> parameter or the operation fails and reports a conflict\n                between the two entity sources.</p>\n            <p>If you provide only an <code>accessToken</code>, then you can include the entity\n                as part of the <code>entities</code> parameter to provide additional\n                attributes.</p>\n         </important>\n         <p>At this time, Verified Permissions accepts tokens from only Amazon Cognito.</p>\n         <p>Verified Permissions validates each token that is specified in a request by checking its expiration\n            date and its signature.</p>\n         <important>\n            <p>If you delete a Amazon Cognito user pool or user, tokens from that deleted pool or that deleted user continue to be usable until they expire.</p>\n         </important>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#IsAuthorizedWithTokenInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store. Policies in this policy store will be used to make an\n            authorization decision for the input.</p>",
            "smithy.api#required": {}
          }
        },
        "identityToken": {
          "target": "com.amazonaws.verifiedpermissions#Token",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an identity token for the principal to be authorized. This token is provided\n            to you by the identity provider (IdP) associated with the specified identity source. You must\n            specify either an <code>AccessToken</code> or an <code>IdentityToken</code>, or\n            both.</p>"
          }
        },
        "accessToken": {
          "target": "com.amazonaws.verifiedpermissions#Token",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an access token for the principal to be authorized. This token is provided\n            to you by the identity provider (IdP) associated with the specified identity source. You must\n            specify either an <code>AccessToken</code>, or an <code>IdentityToken</code>, or\n            both.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.verifiedpermissions#ActionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested action to be authorized. Is the specified principal authorized\n            to perform this action on the specified resource.</p>"
          }
        },
        "resource": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource for which the authorization decision is made. For example, is\n            the principal allowed to perform the action on the resource?</p>"
          }
        },
        "context": {
          "target": "com.amazonaws.verifiedpermissions#ContextDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Specifies additional context that can be used to make more granular authorization\n            decisions.</p>"
          }
        },
        "entities": {
          "target": "com.amazonaws.verifiedpermissions#EntitiesDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the list of resources and their associated attributes that Verified Permissions can examine\n            when evaluating the policies. </p>\n         <note>\n            <p>You can include only resource and action entities in this parameter; you can't\n                include principals.</p>\n            <ul>\n               <li>\n                  <p>The <code>IsAuthorizedWithToken</code> operation takes principal\n                        attributes from <b>\n                        <i>only</i>\n                     </b>\n                        the <code>identityToken</code> or <code>accessToken</code> passed to the\n                        operation.</p>\n               </li>\n               <li>\n                  <p>For action entities, you can include only their <code>Identifier</code>\n                        and <code>EntityType</code>. </p>\n               </li>\n            </ul>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#IsAuthorizedWithTokenOutput": {
      "type": "structure",
      "members": {
        "decision": {
          "target": "com.amazonaws.verifiedpermissions#Decision",
          "traits": {
            "smithy.api#documentation": "<p>An authorization decision that indicates if the authorization request should be\n            allowed or denied.</p>",
            "smithy.api#required": {}
          }
        },
        "determiningPolicies": {
          "target": "com.amazonaws.verifiedpermissions#DeterminingPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>The list of determining policies used to make the authorization decision. For example,\n            if there are multiple matching policies, where at least one is a forbid policy, then\n            because forbid always overrides permit the forbid policies are the determining policies.\n            If all matching policies are permit policies, then those policies are the determining\n            policies. When no policies match and the response is the default DENY, there are no\n            determining policies.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.verifiedpermissions#EvaluationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors that occurred while making an authorization decision. For example, a policy\n            references an entity or entity attribute that does not exist in the slice.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ListIdentitySources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#ListIdentitySourcesInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#ListIdentitySourcesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to return a paginated list of all of the identity sources defined in the specified policy store",
        "smithy.api#documentation": "<p>Returns a paginated list of all of the identity sources defined in the specified policy store.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "identitySources"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ListIdentitySourcesInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store that contains the identity sources that you want to list.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.verifiedpermissions#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid \n             only if you received a <code>NextToken</code> response in the previous request. If you\n             did, it indicates that more output is available. Set this parameter to the value \n             provided by the previous call's <code>NextToken</code> response to request the \n             next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.verifiedpermissions#ListIdentitySourcesMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the total number of results that you want included in each\n             response. If additional items exist beyond the number you specify, the \n             <code>NextToken</code> response element is returned with a value (not null). Include the\n             specified value as the <code>NextToken</code> request parameter in the next call to the\n             operation to get the next set of results. Note that the service might return fewer\n             results than the maximum even when there are more results available. You should check \n             <code>NextToken</code> after every operation to ensure that you receive all of the\n             results.</p>\n         <p>If you do not specify this parameter, the operation defaults to 10 identity sources per response.\n            You can specify a maximum of 200 identity sources per response.</p>"
          }
        },
        "filters": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceFilters",
          "traits": {
            "smithy.api#documentation": "<p>Specifies characteristics of an identity source that you can use to limit the output to matching\n            identity sources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ListIdentitySourcesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.verifiedpermissions#ListIdentitySourcesOutput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.verifiedpermissions#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, this value indicates that more output is available than \n             is included in the current response. Use this value in the <code>NextToken</code> \n             request parameter in a subsequent call to the operation to get the next part of the \n             output. You should repeat this until the <code>NextToken</code> response element comes \n             back as <code>null</code>. This indicates that this is the last page of results.</p>"
          }
        },
        "identitySources": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySources",
          "traits": {
            "smithy.api#documentation": "<p>The list of identity sources stored in the specified policy store.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ListPolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#ListPoliciesInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#ListPoliciesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to return a paginated list of all policies stored in the specified policy store",
[...]
