{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.verifiedpermissions#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.verifiedpermissions#ActionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^.*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ActionIdentifier": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "com.amazonaws.verifiedpermissions#ActionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of an action.</p>",
            "smithy.api#required": {}
          }
        },
        "actionId": {
          "target": "com.amazonaws.verifiedpermissions#ActionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an action for a request for which an authorization decision is made.</p> <p>This data type is used as a request parameter to the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorized.html\">BatchIsAuthorized</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p> <p>Example: <code>{ \"actionId\": \"&lt;action name&gt;\", \"actionType\": \"Action\" }</code> </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#ActionIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#ActionIdentifier"
      }
    },
    "com.amazonaws.verifiedpermissions#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^Action$|^.+::Action$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "An Amazon Resource Name (ARN) uniquely identifies an AWS resource.",
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.verifiedpermissions#AttributeValue": {
      "type": "union",
      "members": {
        "boolean": {
          "target": "com.amazonaws.verifiedpermissions#BooleanAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-bool\">Boolean</a> type.</p> <p>Example: <code>{\"boolean\": true}</code> </p>"
          }
        },
        "entityIdentifier": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of type <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_EntityIdentifier.html\">EntityIdentifier</a>.</p> <p>Example: <code>{\"entityIdentifier\": { \"entityId\": \"alice\", \"entityType\": \"User\"} }</code> </p>"
          }
        },
        "long": {
          "target": "com.amazonaws.verifiedpermissions#LongAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-long\">Long</a> type.</p> <p>Example: <code>{\"long\": 0}</code> </p>"
          }
        },
        "string": {
          "target": "com.amazonaws.verifiedpermissions#StringAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-string\">String</a> type.</p> <p>Example: <code>{\"string\": \"abc\"}</code> </p>"
          }
        },
        "set": {
          "target": "com.amazonaws.verifiedpermissions#SetAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-set\">Set</a> type.</p> <p>Example: <code>{\"set\": [ {} ] }</code> </p>"
          }
        },
        "record": {
          "target": "com.amazonaws.verifiedpermissions#RecordAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-record\">Record</a> type.</p> <p>Example: <code>{\"record\": { \"keyName\": {} } }</code> </p>"
          }
        },
        "ipaddr": {
          "target": "com.amazonaws.verifiedpermissions#IpAddr",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-ipaddr\">ipaddr</a> type.</p> <p>Example: <code>{\"ip\": \"192.168.1.100\"}</code> </p>"
          }
        },
        "decimal": {
          "target": "com.amazonaws.verifiedpermissions#Decimal",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-decimal\">decimal</a> type.</p> <p>Example: <code>{\"decimal\": \"1.1\"}</code> </p>"
          }
        },
        "datetime": {
          "target": "com.amazonaws.verifiedpermissions#DatetimeAttribute",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-datetime\">datetime</a> type.</p> <p>Example: <code>{\"datetime\": \"2024-10-15T11:35:00Z\"}</code> </p>"
          }
        },
        "duration": {
          "target": "com.amazonaws.verifiedpermissions#Duration",
          "traits": {
            "smithy.api#documentation": "<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-duration\">duration</a> type.</p> <p>Example: <code>{\"duration\": \"1h30m\"}</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value of an attribute.</p> <p>Contains information about the runtime context for a request for which an authorization decision is made. </p> <p>This data type is used as a member of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ContextDefinition.html\">ContextDefinition</a> structure which is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorized.html\">BatchIsAuthorized</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#Audience": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.verifiedpermissions#Audiences": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#Audience"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#BatchGetPolicyInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#BatchGetPolicyOutput"
      },
      "traits": {
        "aws.iam#iamAction": {
          "name": "GetPolicy",
          "documentation": "Grants permission to retrieve information about the specified policy",
          "relativeDocumentation": "API_GetPolicy.html",
          "resources": {
            "required": {
              "policy-store": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Retrieves information about a group (batch) of policies.</p> <note> <p>The <code>BatchGetPolicy</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>verifiedpermissions:GetPolicy</code> in their IAM policies.</p> </note>",
        "smithy.api#examples": [
          {
            "title": "To retrieve details about a policy",
            "documentation": "The following example retrieves information about the specified policy contained in the specified policy store. In this example, the requested policy is a template-linked policy, so it returns the ID of the policy template, and the specific principal and resource used by this policy.",
            "input": {
              "requests": [
                {
                  "policyId": "PWv5M6d5HePx3gVVLKY1nK",
                  "policyStoreId": "ERZeDpRc34dkYZeb6FZRVC"
                },
                {
                  "policyId": "LzFn6KgLWvv4Mbegus35jn",
                  "policyStoreId": "ERZeDpRc34dkYZeb6FZRVC"
                },
                {
                  "policyId": "77gLjer8H5o3mvrnMGrSL5",
                  "policyStoreId": "ERZeDpRc34dkYZeb6FZRVC"
                }
              ]
            },
            "output": {
              "results": [
                {
                  "policyStoreId": "ERZeDpRc34dkYZeb6FZRVC",
                  "policyId": "PWv5M6d5HePx3gVVLKY1nK",
                  "policyType": "STATIC",
                  "definition": {
                    "static": {
                      "description": "Users can manage account resources in any account they own",
                      "statement": "permit (principal, action in PhotoFlash::Action::\"ManageAccount\",resource) when { resource in principal.Account };"
                    }
                  },
                  "createdDate": "2024-10-18T18:53:39.258153Z",
                  "lastUpdatedDate": "2024-10-18T18:53:39.258153Z"
                },
                {
                  "policyStoreId": "ERZeDpRc34dkYZeb6FZRVC",
                  "policyId": "LzFn6KgLWvv4Mbegus35jn",
                  "policyType": "STATIC",
                  "definition": {
                    "static": {
                      "description": "User alice can't delete any photos.",
                      "statement": "forbid (principal == PhotoFlash::User::\"alice\", action in [PhotoFlash::Action::\"DeletePhoto\"], resource);"
                    }
                  },
                  "createdDate": "2024-10-18T18:57:03.305027Z",
                  "lastUpdatedDate": "2024-10-18T18:57:03.305027Z"
                },
                {
                  "policyStoreId": "ERZeDpRc34dkYZeb6FZRVC",
                  "policyId": "77gLjer8H5o3mvrnMGrSL5",
                  "policyType": "STATIC",
                  "definition": {
                    "static": {
                      "description": "User alice can view and delete photos.",
                      "statement": "permit (principal == PhotoFlash::User::\"alice\", action in [PhotoFlash::Action::\"DeletePhoto\", PhotoFlash::Action::\"ViewPhoto\"], resource);"
                    }
                  },
                  "createdDate": "2024-10-18T18:57:48.005343Z",
                  "lastUpdatedDate": "2024-10-18T18:57:48.005343Z"
                }
              ],
              "errors": []
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicyErrorCode": {
      "type": "enum",
      "members": {
        "POLICY_STORE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_STORE_NOT_FOUND"
          }
        },
        "POLICY_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_NOT_FOUND"
          }
        }
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicyErrorItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.verifiedpermissions#BatchGetPolicyErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code that was returned.</p>",
            "smithy.api#required": {}
          }
        },
        "policyStoreId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the policy store associated with the failed request.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the policy associated with the failed request.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A detailed error message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the information about an error resulting from a <code>BatchGetPolicy</code> API call.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicyErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#BatchGetPolicyErrorItem"
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicyInput": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.amazonaws.verifiedpermissions#BatchGetPolicyInputList",
          "traits": {
            "smithy.api#documentation": "<p>An array of up to 100 policies you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicyInputItem": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the policy store where the policy you want information about is stored.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the policy you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a policy that you include in a <code>BatchGetPolicy</code> API request.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.verifiedpermissions#PolicyStore"
          },
          {
            "resource": "com.amazonaws.verifiedpermissions#Policy"
          }
        ]
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicyInputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#BatchGetPolicyInputItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicyOutput": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.amazonaws.verifiedpermissions#BatchGetPolicyOutputList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the policies listed in the request that were successfully returned. These results are returned in the order they were requested.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.verifiedpermissions#BatchGetPolicyErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the policies from the request that resulted in an error. These results are returned in the order they were requested.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicyOutputItem": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the policy store where the policy you want information about is stored.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the policy you want information about.</p>",
            "smithy.api#required": {}
          }
        },
        "policyType": {
          "target": "com.amazonaws.verifiedpermissions#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the policy. This is one of the following values:</p> <ul> <li> <p> <code>STATIC</code> </p> </li> <li> <p> <code>TEMPLATE_LINKED</code> </p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "com.amazonaws.verifiedpermissions#PolicyDefinitionDetail",
          "traits": {
            "smithy.api#documentation": "<p>The policy definition of an item in the list of policies returned.</p>",
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy was created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy was most recently updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a policy returned from a <code>BatchGetPolicy</code> API request.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#BatchGetPolicyOutputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#BatchGetPolicyOutputItem"
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorized": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to make authorization decisions about the service requests described in the parameters",
          "name": "IsAuthorized",
          "relativeDocumentation": "API_IsAuthorized.html",
          "resources": {
            "required": {
              "policy-store": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Makes a series of decisions about multiple authorization requests for one principal or resource. Each request contains the equivalent content of an <code>IsAuthorized</code> request: principal, action, resource, and context. Either the <code>principal</code> or the <code>resource</code> parameter must be identical across all requests. For example, Verified Permissions won't evaluate a pair of requests where <code>bob</code> views <code>photo1</code> and <code>alice</code> views <code>photo2</code>. Authorization of <code>bob</code> to view <code>photo1</code> and <code>photo2</code>, or <code>bob</code> and <code>alice</code> to view <code>photo1</code>, are valid batches. </p> <p>The request is evaluated against all policies in the specified policy store that match the entities that you declare. The result of the decisions is a series of <code>Allow</code> or <code>Deny</code> responses, along with the IDs of the policies that produced each decision.</p> <p>The <code>entities</code> of a <code>BatchIsAuthorized</code> API request can contain up to 100 principals and up to 100 resources. The <code>requests</code> of a <code>BatchIsAuthorized</code> API request can contain up to 30 requests.</p> <note> <p>The <code>BatchIsAuthorized</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>verifiedpermissions:IsAuthorized</code> in their IAM policies.</p> </note>",
        "smithy.api#examples": [
          {
            "title": "Batch - Example 1",
            "documentation": "The following example requests two authorization decisions for two principals                     of type Usernamed Alice and Annalisa.",
            "input": {
              "requests": [
                {
                  "principal": {
                    "entityType": "PhotoFlash::User",
                    "entityId": "Alice"
                  },
                  "action": {
                    "actionType": "PhotoFlash::Action",
                    "actionId": "ViewPhoto"
                  },
                  "resource": {
                    "entityType": "PhotoFlash::Photo",
                    "entityId": "VacationPhoto94.jpg"
                  }
                },
                {
                  "principal": {
                    "entityType": "PhotoFlash::User",
                    "entityId": "Annalisa"
                  },
                  "action": {
                    "actionType": "PhotoFlash::Action",
                    "actionId": "DeletePhoto"
                  },
                  "resource": {
                    "entityType": "PhotoFlash::Photo",
                    "entityId": "VacationPhoto94.jpg"
                  }
                }
              ],
              "entities": {
                "entityList": [
                  {
                    "identifier": {
                      "entityType": "PhotoFlash::User",
                      "entityId": "Alice"
                    },
                    "attributes": {
                      "Account": {
                        "entityIdentifier": {
                          "entityType": "PhotoFlash::Account",
                          "entityId": "1234"
                        }
                      },
                      "Email": {
                        "string": ""
                      }
                    },
                    "parents": []
                  },
                  {
                    "identifier": {
                      "entityType": "PhotoFlash::User",
                      "entityId": "Annalisa"
                    },
                    "attributes": {
                      "Account": {
                        "entityIdentifier": {
                          "entityType": "PhotoFlash::Account",
                          "entityId": "5678"
                        }
                      },
                      "Email": {
                        "string": ""
                      }
                    },
                    "parents": []
                  },
                  {
                    "identifier": {
                      "entityType": "PhotoFlash::Photo",
                      "entityId": "VacationPhoto94.jpg"
                    },
                    "attributes": {
                      "IsPrivate": {
                        "boolean": false
                      },
                      "Name": {
                        "string": ""
                      }
                    },
                    "parents": [
                      {
                        "entityType": "PhotoFlash::Account",
                        "entityId": "1234"
                      }
                    ]
                  },
                  {
                    "identifier": {
                      "entityType": "PhotoFlash::Account",
                      "entityId": "1234"
                    },
                    "attributes": {
                      "Name": {
                        "string": ""
                      }
                    },
                    "parents": []
                  }
                ]
              },
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a"
            },
            "output": {
              "results": [
                {
                  "request": {
                    "principal": {
                      "entityType": "PhotoFlash::User",
                      "entityId": "alice"
                    },
                    "action": {
                      "actionType": "PhotoFlash::Action",
                      "actionId": "ViewPhoto"
                    },
                    "resource": {
                      "entityType": "PhotoFlash::Photo",
                      "entityId": "VacationPhoto94.jpg"
                    }
                  },
                  "decision": "ALLOW",
                  "determiningPolicies": [
                    {
                      "policyId": "9wYxMpljbbZQb5fcZHyJhY"
                    }
                  ],
                  "errors": []
                },
                {
                  "request": {
                    "principal": {
                      "entityType": "PhotoFlash::User",
                      "entityId": "annalisa"
                    },
                    "action": {
                      "actionType": "PhotoFlash::Action",
                      "actionId": "DeletePhoto"
                    },
                    "resource": {
                      "entityType": "PhotoFlash::Photo",
                      "entityId": "VacationPhoto94.jpg"
                    }
                  },
                  "decision": "DENY",
                  "determiningPolicies": [],
                  "errors": []
                }
              ]
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store. Policies in this policy store will be used to make the authorization decisions for the input.</p>",
            "smithy.api#required": {}
          }
        },
        "entities": {
          "target": "com.amazonaws.verifiedpermissions#EntitiesDefinition",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies the list of resources and principals and their associated attributes that Verified Permissions can examine when evaluating the policies. These additional entities and their attributes can be referenced and checked by conditional elements in the policies in the specified policy store.</p> <note> <p>You can include only principal and resource entities in this parameter; you can't include actions. You must specify actions in the schema.</p> </note>"
          }
        },
        "requests": {
          "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedInputList",
          "traits": {
            "smithy.api#documentation": "<p>An array of up to 30 requests that you want Verified Permissions to evaluate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedInputItem": {
      "type": "structure",
      "members": {
        "principal": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the principal for which the authorization decision is to be made.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.verifiedpermissions#ActionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested action to be authorized. For example, <code>PhotoFlash::ReadPhoto</code>.</p>"
          }
        },
        "resource": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource that you want an authorization decision for. For example, <code>PhotoFlash::Photo</code>.</p>"
          }
        },
        "context": {
          "target": "com.amazonaws.verifiedpermissions#ContextDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Specifies additional context that can be used to make more granular authorization decisions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An authorization request that you include in a <code>BatchIsAuthorized</code> API request.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedInputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedInputItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedOutput": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedOutputList",
          "traits": {
            "smithy.api#documentation": "<p>A series of <code>Allow</code> or <code>Deny</code> decisions for each request, and the policies that produced them. These results are returned in the order they were requested.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedOutputItem": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedInputItem",
          "traits": {
            "smithy.api#documentation": "<p>The authorization request that initiated the decision.</p>",
            "smithy.api#required": {}
          }
        },
        "decision": {
          "target": "com.amazonaws.verifiedpermissions#Decision",
          "traits": {
            "smithy.api#documentation": "<p>An authorization decision that indicates if the authorization request should be allowed or denied.</p>",
            "smithy.api#required": {}
          }
        },
        "determiningPolicies": {
          "target": "com.amazonaws.verifiedpermissions#DeterminingPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>The list of determining policies used to make the authorization decision. For example, if there are two matching policies, where one is a forbid and the other is a permit, then the forbid policy will be the determining policy. In the case of multiple matching permit policies then there would be multiple determining policies. In the case that no policies match, and hence the response is DENY, there would be no determining policies.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.verifiedpermissions#EvaluationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors that occurred while making an authorization decision. For example, a policy might reference an entity or attribute that doesn't exist in the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The decision, based on policy evaluation, from an individual authorization request in a <code>BatchIsAuthorized</code> API request.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedOutputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedOutputItem"
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to make authorization decisions about the service requests described in the parameters. The principal in this request comes from an external identity source",
          "name": "IsAuthorizedWithToken",
          "relativeDocumentation": "API_IsAuthorizedWithToken.html",
          "resources": {
            "required": {
              "policy-store": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Makes a series of decisions about multiple authorization requests for one token. The principal in this request comes from an external identity source in the form of an identity or access token, formatted as a <a href=\"https://wikipedia.org/wiki/JSON_Web_Token\">JSON web token (JWT)</a>. The information in the parameters can also define additional context that Verified Permissions can include in the evaluations.</p> <p>The request is evaluated against all policies in the specified policy store that match the entities that you provide in the entities declaration and in the token. The result of the decisions is a series of <code>Allow</code> or <code>Deny</code> responses, along with the IDs of the policies that produced each decision.</p> <p>The <code>entities</code> of a <code>BatchIsAuthorizedWithToken</code> API request can contain up to 100 resources and up to 99 user groups. The <code>requests</code> of a <code>BatchIsAuthorizedWithToken</code> API request can contain up to 30 requests.</p> <note> <p>The <code>BatchIsAuthorizedWithToken</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>verifiedpermissions:IsAuthorizedWithToken</code> in their IAM policies.</p> </note>",
        "smithy.api#examples": [
          {
            "title": "Batch - Example 1",
            "documentation": "The following example requests three authorization decisions for two resources                     and two actions in different photo albums.",
            "input": {
              "identityToken": "eyJra12345EXAMPLE",
              "requests": [
                {
                  "action": {
                    "actionType": "PhotoFlash::Action",
                    "actionId": "ViewPhoto"
                  },
                  "resource": {
                    "entityType": "PhotoFlash::Photo",
                    "entityId": "VacationPhoto94.jpg"
                  }
                },
                {
                  "action": {
                    "actionType": "PhotoFlash::Action",
                    "actionId": "SharePhoto"
                  },
                  "resource": {
                    "entityType": "PhotoFlash::Photo",
                    "entityId": "VacationPhoto94.jpg"
                  }
                },
                {
                  "action": {
                    "actionType": "PhotoFlash::Action",
                    "actionId": "ViewPhoto"
                  },
                  "resource": {
                    "entityType": "PhotoFlash::Photo",
                    "entityId": "OfficePhoto94.jpg"
                  }
                }
              ],
              "entities": {
                "entityList": [
                  {
                    "identifier": {
                      "entityType": "PhotoFlash::Photo",
                      "entityId": "VacationPhoto94.jpg"
                    },
                    "parents": [
                      {
                        "entityType": "PhotoFlash::Album",
                        "entityId": "MyExampleAlbum1"
                      }
                    ]
                  },
                  {
                    "identifier": {
                      "entityType": "PhotoFlash::Photo",
                      "entityId": "OfficePhoto94.jpg"
                    },
                    "parents": [
                      {
                        "entityType": "PhotoFlash::Album",
                        "entityId": "MyExampleAlbum2"
                      }
                    ]
                  }
                ]
              },
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a"
            },
            "output": {
              "principal": {
                "entityType": "PhotoFlash::User",
                "entityId": "us-east-1_EXAMPLE|a1b2c3d4-5678-90ab-cdef-EXAMPLE11111"
              },
              "results": [
                {
                  "request": {
                    "action": {
                      "actionType": "PhotoFlash::Action",
                      "actionId": "ViewPhoto"
                    },
                    "resource": {
                      "entityType": "PhotoFlash::Photo",
                      "entityId": "VacationPhoto94.jpg"
                    }
                  },
                  "decision": "ALLOW",
                  "determiningPolicies": [
                    {
                      "policyId": "9wYixMplbbZQb5fcZHyJhY"
                    }
                  ],
                  "errors": []
                },
                {
                  "request": {
                    "action": {
                      "actionType": "PhotoFlash::Action",
                      "actionId": "SharePhoto"
                    },
                    "resource": {
                      "entityType": "PhotoFlash::Photo",
                      "entityId": "VacationPhoto94.jpg"
                    }
                  },
                  "decision": "ALLOW",
                  "determiningPolicies": [
                    {
                      "policyId": "9wYixMplbbZQb5fcZHyJhY"
                    }
                  ],
                  "errors": []
                },
                {
                  "request": {
                    "action": {
                      "actionType": "PhotoFlash::Action",
                      "actionId": "ViewPhoto"
                    },
                    "resource": {
                      "entityType": "PhotoFlash::Photo",
                      "entityId": "OfficePhoto94.jpg"
                    }
                  },
                  "decision": "DENY",
                  "determiningPolicies": [],
                  "errors": []
                }
              ]
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenInput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store. Policies in this policy store will be used to make an authorization decision for the input.</p>",
            "smithy.api#required": {}
          }
        },
        "identityToken": {
          "target": "com.amazonaws.verifiedpermissions#Token",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an identity (ID) token for the principal that you want to authorize in each request. This token is provided to you by the identity provider (IdP) associated with the specified identity source. You must specify either an <code>accessToken</code>, an <code>identityToken</code>, or both.</p> <p>Must be an ID token. Verified Permissions returns an error if the <code>token_use</code> claim in the submitted token isn't <code>id</code>.</p>"
          }
        },
        "accessToken": {
          "target": "com.amazonaws.verifiedpermissions#Token",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an access token for the principal that you want to authorize in each request. This token is provided to you by the identity provider (IdP) associated with the specified identity source. You must specify either an <code>accessToken</code>, an <code>identityToken</code>, or both.</p> <p>Must be an access token. Verified Permissions returns an error if the <code>token_use</code> claim in the submitted token isn't <code>access</code>.</p>"
          }
        },
        "entities": {
          "target": "com.amazonaws.verifiedpermissions#EntitiesDefinition",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies the list of resources and their associated attributes that Verified Permissions can examine when evaluating the policies. These additional entities and their attributes can be referenced and checked by conditional elements in the policies in the specified policy store.</p> <important> <p>You can't include principals in this parameter, only resource and action entities. This parameter can't include any entities of a type that matches the user or group entity types that you defined in your identity source.</p> <ul> <li> <p>The <code>BatchIsAuthorizedWithToken</code> operation takes principal attributes from <b> <i>only</i> </b> the <code>identityToken</code> or <code>accessToken</code> passed to the operation.</p> </li> <li> <p>For action entities, you can include only their <code>Identifier</code> and <code>EntityType</code>. </p> </li> </ul> </important>"
          }
        },
        "requests": {
          "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenInputList",
          "traits": {
            "smithy.api#documentation": "<p>An array of up to 30 requests that you want Verified Permissions to evaluate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenInputItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.verifiedpermissions#ActionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested action to be authorized. For example, <code>PhotoFlash::ReadPhoto</code>.</p>"
          }
        },
        "resource": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource that you want an authorization decision for. For example, <code>PhotoFlash::Photo</code>.</p>"
          }
        },
        "context": {
          "target": "com.amazonaws.verifiedpermissions#ContextDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Specifies additional context that can be used to make more granular authorization decisions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An authorization request that you include in a <code>BatchIsAuthorizedWithToken</code> API request.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenInputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenInputItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenOutput": {
      "type": "structure",
      "members": {
        "principal": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the principal in the ID or access token.</p>"
          }
        },
        "results": {
          "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenOutputList",
          "traits": {
            "smithy.api#documentation": "<p>A series of <code>Allow</code> or <code>Deny</code> decisions for each request, and the policies that produced them. These results are returned in the order they were requested.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenOutputItem": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenInputItem",
          "traits": {
            "smithy.api#documentation": "<p>The authorization request that initiated the decision.</p>",
            "smithy.api#required": {}
          }
        },
        "decision": {
          "target": "com.amazonaws.verifiedpermissions#Decision",
          "traits": {
            "smithy.api#documentation": "<p>An authorization decision that indicates if the authorization request should be allowed or denied.</p>",
            "smithy.api#required": {}
          }
        },
        "determiningPolicies": {
          "target": "com.amazonaws.verifiedpermissions#DeterminingPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>The list of determining policies used to make the authorization decision. For example, if there are two matching policies, where one is a forbid and the other is a permit, then the forbid policy will be the determining policy. In the case of multiple matching permit policies then there would be multiple determining policies. In the case that no policies match, and hence the response is DENY, there would be no determining policies.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.verifiedpermissions#EvaluationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors that occurred while making an authorization decision. For example, a policy might reference an entity or attribute that doesn't exist in the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The decision, based on policy evaluation, from an individual authorization request in a <code>BatchIsAuthorizedWithToken</code> API request.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenOutputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#BatchIsAuthorizedWithTokenOutputItem"
      }
    },
    "com.amazonaws.verifiedpermissions#BooleanAttribute": {
      "type": "boolean",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CedarJson": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CedarTagRecordAttribute": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.verifiedpermissions#CedarTagValue"
      }
    },
    "com.amazonaws.verifiedpermissions#CedarTagSetAttribute": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#CedarTagValue"
      }
    },
    "com.amazonaws.verifiedpermissions#CedarTagValue": {
      "type": "union",
      "members": {
        "boolean": {
          "target": "com.amazonaws.verifiedpermissions#BooleanAttribute",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-bool\">Boolean</a> type.</p> <p>Example: <code>{\"boolean\": false}</code> </p>"
          }
        },
        "entityIdentifier": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of type <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_EntityIdentifier.html\">EntityIdentifier</a>.</p> <p>Example: <code>{\"entityIdentifier\": { \"entityId\": \"alice\", \"entityType\": \"User\"} }</code> </p>"
          }
        },
        "long": {
          "target": "com.amazonaws.verifiedpermissions#LongAttribute",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-long\">Long</a> type.</p> <p>Example: <code>{\"long\": 0}</code> </p>"
          }
        },
        "string": {
          "target": "com.amazonaws.verifiedpermissions#StringAttribute",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-string\">String</a> type.</p> <p>Example: <code>{\"string\": \"abc\"}</code> </p>"
          }
        },
        "set": {
          "target": "com.amazonaws.verifiedpermissions#CedarTagSetAttribute",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-set\">Set</a> type.</p> <p>Example: <code>{\"set\": [ { \"string\": \"abc\" } ] }</code> </p>"
          }
        },
        "record": {
          "target": "com.amazonaws.verifiedpermissions#CedarTagRecordAttribute",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-record\">Record</a> type.</p> <p>Example: <code>{\"record\": { \"keyName\": {} } }</code> </p>"
          }
        },
        "ipaddr": {
          "target": "com.amazonaws.verifiedpermissions#IpAddr",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-ipaddr\">ipaddr</a> type.</p> <p>Example: <code>{\"ip\": \"10.50.0.0/24\"}</code> </p>"
          }
        },
        "decimal": {
          "target": "com.amazonaws.verifiedpermissions#Decimal",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-decimal\">decimal</a> type.</p> <p>Example: <code>{\"decimal\": \"-2.0\"}</code> </p>"
          }
        },
        "datetime": {
          "target": "com.amazonaws.verifiedpermissions#DatetimeAttribute",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-datetime\">datetime</a> type.</p> <p>Example: <code>{\"datetime\": \"2025-11-04T11:35:00.000+0100\"}</code> </p>"
          }
        },
        "duration": {
          "target": "com.amazonaws.verifiedpermissions#Duration",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar tag value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-duration\">duration</a> type.</p> <p>Example: <code>{\"duration\": \"-1d12h\"}</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value of an entity's Cedar tag.</p> <p>This data type is used as a member of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_EntityItem.html\">EntityItem</a> structure that forms the body of the <code>Entities</code> request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorized.html\">BatchIsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorizedWithToken.html\">BatchIsAuthorizedWithToken</a> operations.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#CedarVersion": {
      "type": "enum",
      "members": {
        "CEDAR_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CEDAR_2"
          }
        },
        "CEDAR_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CEDAR_4"
          }
        }
      }
    },
    "com.amazonaws.verifiedpermissions#Claim": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#ClientIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.verifiedpermissions#ClientId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.verifiedpermissions#CognitoGroupConfiguration": {
      "type": "structure",
      "members": {
        "groupEntityType": {
          "target": "com.amazonaws.verifiedpermissions#GroupEntityType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema entity type that's mapped to the user pool group. Defaults to <code>AWS::CognitoGroup</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p> <p>This data type is part of a <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CognitoUserPoolConfiguration.html\">CognitoUserPoolConfiguration</a> structure and is a request parameter in <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreateIdentitySource.html\">CreateIdentitySource</a>.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#CognitoGroupConfigurationDetail": {
      "type": "structure",
      "members": {
        "groupEntityType": {
          "target": "com.amazonaws.verifiedpermissions#GroupEntityType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema entity type that's mapped to the user pool group. Defaults to <code>AWS::CognitoGroup</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p> <p>This data type is part of an <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CognitoUserPoolConfigurationItem.html\">CognitoUserPoolConfigurationDetail</a> structure and is a response parameter to <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_GetIdentitySource.html\">GetIdentitySource</a>.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#CognitoGroupConfigurationItem": {
      "type": "structure",
      "members": {
        "groupEntityType": {
          "target": "com.amazonaws.verifiedpermissions#GroupEntityType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema entity type that's mapped to the user pool group. Defaults to <code>AWS::CognitoGroup</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p> <p>This data type is part of an <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CognitoUserPoolConfigurationDetail.html\">CognitoUserPoolConfigurationItem</a> structure and is a response parameter to <a href=\"http://forums.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListIdentitySources.html\">ListIdentitySources</a>.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#CognitoUserPoolConfiguration": {
      "type": "structure",
      "members": {
        "userPoolArn": {
          "target": "com.amazonaws.verifiedpermissions#UserPoolArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"UserPoolArn\": \"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\"</code> </p>",
            "smithy.api#required": {}
          }
        },
        "clientIds": {
          "target": "com.amazonaws.verifiedpermissions#ClientIds",
          "traits": {
            "smithy.api#documentation": "<p>The unique application client IDs that are associated with the specified Amazon Cognito user pool.</p> <p>Example: <code>\"ClientIds\": [\"&amp;ExampleCogClientId;\"]</code> </p>"
          }
        },
        "groupConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#CognitoGroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for an identity source that represents a connection to an Amazon Cognito user pool used as an identity provider for Verified Permissions.</p> <p>This data type part of a <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_Configuration.html\">Configuration</a> structure that is used as a parameter to <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreateIdentitySource.html\">CreateIdentitySource</a>.</p> <p>Example:<code>\"CognitoUserPoolConfiguration\":{\"UserPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"ClientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}</code> </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#CognitoUserPoolConfigurationDetail": {
      "type": "structure",
      "members": {
        "userPoolArn": {
          "target": "com.amazonaws.verifiedpermissions#UserPoolArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"userPoolArn\": \"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\"</code> </p>",
            "smithy.api#required": {}
          }
        },
        "clientIds": {
          "target": "com.amazonaws.verifiedpermissions#ClientIds",
          "traits": {
            "smithy.api#documentation": "<p>The unique application client IDs that are associated with the specified Amazon Cognito user pool.</p> <p>Example: <code>\"clientIds\": [\"&amp;ExampleCogClientId;\"]</code> </p>",
            "smithy.api#required": {}
          }
        },
        "issuer": {
          "target": "com.amazonaws.verifiedpermissions#Issuer",
          "traits": {
            "smithy.api#documentation": "<p>The OpenID Connect (OIDC) <code>issuer</code> ID of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"issuer\": \"https://cognito-idp.us-east-1.amazonaws.com/us-east-1_1a2b3c4d5\"</code> </p>",
            "smithy.api#required": {}
          }
        },
        "groupConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#CognitoGroupConfigurationDetail",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for an identity source that represents a connection to an Amazon Cognito user pool used as an identity provider for Verified Permissions.</p> <p>This data type is used as a field that is part of an <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ConfigurationDetail.html\">ConfigurationDetail</a> structure that is part of the response to <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_GetIdentitySource.html\">GetIdentitySource</a>.</p> <p>Example:<code>\"CognitoUserPoolConfiguration\":{\"UserPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"ClientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}</code> </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#CognitoUserPoolConfigurationItem": {
      "type": "structure",
      "members": {
        "userPoolArn": {
          "target": "com.amazonaws.verifiedpermissions#UserPoolArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"userPoolArn\": \"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\"</code> </p>",
            "smithy.api#required": {}
          }
        },
        "clientIds": {
          "target": "com.amazonaws.verifiedpermissions#ClientIds",
          "traits": {
            "smithy.api#documentation": "<p>The unique application client IDs that are associated with the specified Amazon Cognito user pool.</p> <p>Example: <code>\"clientIds\": [\"&amp;ExampleCogClientId;\"]</code> </p>",
            "smithy.api#required": {}
          }
        },
        "issuer": {
          "target": "com.amazonaws.verifiedpermissions#Issuer",
          "traits": {
            "smithy.api#documentation": "<p>The OpenID Connect (OIDC) <code>issuer</code> ID of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"issuer\": \"https://cognito-idp.us-east-1.amazonaws.com/us-east-1_1a2b3c4d5\"</code> </p>",
            "smithy.api#required": {}
          }
        },
        "groupConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#CognitoGroupConfigurationItem",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for an identity source that represents a connection to an Amazon Cognito user pool used as an identity provider for Verified Permissions.</p> <p>This data type is used as a field that is part of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ConfigurationItem.html\">ConfigurationItem</a> structure that is part of the response to <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListIdentitySources.html\">ListIdentitySources</a>.</p> <p>Example:<code>\"CognitoUserPoolConfiguration\":{\"UserPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"ClientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}</code> </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#Configuration": {
      "type": "union",
      "members": {
        "cognitoUserPoolConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#CognitoUserPoolConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains configuration details of a Amazon Cognito user pool that Verified Permissions can use as a source of authenticated identities as entities. It specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of a Amazon Cognito user pool and one or more application client IDs.</p> <p>Example: <code>\"configuration\":{\"cognitoUserPoolConfiguration\":{\"userPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"clientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}}</code> </p>"
          }
        },
        "openIdConnectConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#OpenIdConnectConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains configuration details of an OpenID Connect (OIDC) identity provider, or identity source, that Verified Permissions can use to generate entities from authenticated identities. It specifies the issuer URL, token type that you want to use, and policy store entity details.</p> <p>Example:<code>\"configuration\":{\"openIdConnectConfiguration\":{\"issuer\":\"https://auth.example.com\",\"tokenSelection\":{\"accessTokenOnly\":{\"audiences\":[\"https://myapp.example.com\",\"https://myapp2.example.com\"],\"principalIdClaim\":\"sub\"}},\"entityIdPrefix\":\"MyOIDCProvider\",\"groupConfiguration\":{\"groupClaim\":\"groups\",\"groupEntityType\":\"MyCorp::UserGroup\"}}}</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information used when creating a new identity source.</p> <p>This data type is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreateIdentitySource.html\">CreateIdentitySource</a> operation.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#ConfigurationDetail": {
      "type": "union",
      "members": {
        "cognitoUserPoolConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#CognitoUserPoolConfigurationDetail",
          "traits": {
            "smithy.api#documentation": "<p>Contains configuration details of a Amazon Cognito user pool that Verified Permissions can use as a source of authenticated identities as entities. It specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of a Amazon Cognito user pool, the policy store entity that you want to assign to user groups, and one or more application client IDs.</p> <p>Example: <code>\"configuration\":{\"cognitoUserPoolConfiguration\":{\"userPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"clientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}}</code> </p>"
          }
        },
        "openIdConnectConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#OpenIdConnectConfigurationDetail",
          "traits": {
            "smithy.api#documentation": "<p>Contains configuration details of an OpenID Connect (OIDC) identity provider, or identity source, that Verified Permissions can use to generate entities from authenticated identities. It specifies the issuer URL, token type that you want to use, and policy store entity details.</p> <p>Example:<code>\"configuration\":{\"openIdConnectConfiguration\":{\"issuer\":\"https://auth.example.com\",\"tokenSelection\":{\"accessTokenOnly\":{\"audiences\":[\"https://myapp.example.com\",\"https://myapp2.example.com\"],\"principalIdClaim\":\"sub\"}},\"entityIdPrefix\":\"MyOIDCProvider\",\"groupConfiguration\":{\"groupClaim\":\"groups\",\"groupEntityType\":\"MyCorp::UserGroup\"}}}</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information about an identity source.</p> <p>This data type is a response parameter to the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_GetIdentitySource.html\">GetIdentitySource</a> operation.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#ConfigurationItem": {
      "type": "union",
      "members": {
        "cognitoUserPoolConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#CognitoUserPoolConfigurationItem",
          "traits": {
            "smithy.api#documentation": "<p>Contains configuration details of a Amazon Cognito user pool that Verified Permissions can use as a source of authenticated identities as entities. It specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of a Amazon Cognito user pool, the policy store entity that you want to assign to user groups, and one or more application client IDs.</p> <p>Example: <code>\"configuration\":{\"cognitoUserPoolConfiguration\":{\"userPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"clientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}}</code> </p>"
          }
        },
        "openIdConnectConfiguration": {
          "target": "com.amazonaws.verifiedpermissions#OpenIdConnectConfigurationItem",
          "traits": {
            "smithy.api#documentation": "<p>Contains configuration details of an OpenID Connect (OIDC) identity provider, or identity source, that Verified Permissions can use to generate entities from authenticated identities. It specifies the issuer URL, token type that you want to use, and policy store entity details.</p> <p>Example:<code>\"configuration\":{\"openIdConnectConfiguration\":{\"issuer\":\"https://auth.example.com\",\"tokenSelection\":{\"accessTokenOnly\":{\"audiences\":[\"https://myapp.example.com\",\"https://myapp2.example.com\"],\"principalIdClaim\":\"sub\"}},\"entityIdPrefix\":\"MyOIDCProvider\",\"groupConfiguration\":{\"groupClaim\":\"groups\",\"groupEntityType\":\"MyCorp::UserGroup\"}}}</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information about an identity source.</p> <p>This data type is a response parameter to the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListIdentitySources.html\">ListIdentitySources</a> operation.</p>"
      }
    },
    "com.amazonaws.verifiedpermissions#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.amazonaws.verifiedpermissions#ResourceConflictList",
          "traits": {
            "smithy.api#documentation": "<p>The list of resources referenced with this failed request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because another request to modify a resource occurred at the same.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.verifiedpermissions#ContextDefinition": {
      "type": "union",
      "members": {
        "contextMap": {
          "target": "com.amazonaws.verifiedpermissions#ContextMap",
          "traits": {
            "smithy.api#documentation": "<p>An list of attributes that are needed to successfully evaluate an authorization request. Each attribute in this array must include a map of a data type and its value.</p> <p>Example: <code>\"contextMap\":{\"&lt;KeyName1&gt;\":{\"boolean\":true},\"&lt;KeyName2&gt;\":{\"long\":1234}}</code> </p>"
          }
        },
        "cedarJson": {
          "target": "com.amazonaws.verifiedpermissions#CedarJson",
          "traits": {
            "smithy.api#documentation": "<p>A Cedar JSON string representation of the context needed to successfully evaluate an authorization request.</p> <p>Example: <code>{\"cedarJson\":\"{\\\"&lt;KeyName1&gt;\\\": true, \\\"&lt;KeyName2&gt;\\\": 1234}\" }</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains additional details about the context of the request. Verified Permissions evaluates this information in an authorization request as part of the <code>when</code> and <code>unless</code> clauses in a policy.</p> <p>This data type is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorized.html\">BatchIsAuthorized</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p> <p>If you're passing context as part of the request, exactly one instance of <code>context</code> must be passed. If you don't want to pass context, omit the <code>context</code> parameter from your request rather than sending <code>context {}</code>.</p> <p>Example: <code>\"context\":{\"contextMap\":{\"&lt;KeyName1&gt;\":{\"boolean\":true},\"&lt;KeyName2&gt;\":{\"long\":1234}}}</code> </p>"
      }
    },
    "com.amazonaws.verifiedpermissions#ContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.verifiedpermissions#AttributeValue"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreateIdentitySource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#CreateIdentitySourceInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#CreateIdentitySourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ConflictException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a reference to an external identity provider (IdP) that is compatible with OpenID Connect (OIDC) authentication protocol, such as Amazon Cognito"
        },
        "smithy.api#documentation": "<p>Adds an identity source to a policy store–an Amazon Cognito user pool or OpenID Connect (OIDC) identity provider (IdP). </p> <p>After you create an identity source, you can use the identities provided by the IdP as proxies for the principal in authorization queries that use the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> or <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorizedWithToken.html\">BatchIsAuthorizedWithToken</a> API operations. These identities take the form of tokens that contain claims about the user, such as IDs, attributes and group memberships. Identity sources provide identity (ID) tokens and access tokens. Verified Permissions derives information about your user and session from token claims. Access tokens provide action <code>context</code> to your policies, and ID tokens provide principal <code>Attributes</code>.</p> <important> <p>Tokens from an identity source user continue to be usable until they expire. Token revocation and resource deletion have no effect on the validity of a token in your policy store</p> </important> <note> <p>To reference a user from this identity source in your Cedar policies, refer to the following syntax examples.</p> <ul> <li> <p>Amazon Cognito user pool: <code>Namespace::[Entity type]::[User pool ID]|[user principal attribute]</code>, for example <code>MyCorp::User::us-east-1_EXAMPLE|a1b2c3d4-5678-90ab-cdef-EXAMPLE11111</code>.</p> </li> <li> <p>OpenID Connect (OIDC) provider: <code>Namespace::[Entity type]::[entityIdPrefix]|[user principal attribute]</code>, for example <code>MyCorp::User::MyOIDCProvider|a1b2c3d4-5678-90ab-cdef-EXAMPLE22222</code>.</p> </li> </ul> </note> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
        "smithy.api#examples": [
          {
            "title": "To create an identity source",
            "documentation": "The following ``create-identity-source`` example creates an identity source that lets you reference identities stored in the specified Amazon Cognito user pool. Those identities are available in Verified Permissions as entities of type ``User``. ",
            "input": {
              "configuration": {
                "cognitoUserPoolConfiguration": {
                  "userPoolArn": "arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5",
                  "clientIds": ["a1b2c3d4e5f6g7h8i9j0kalbmc"]
                }
              },
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a",
              "principalEntityType": "User",
              "clientToken": "a1b2c3d4-e5f6-a1b2-c3d4-TOKEN1111111"
            },
            "output": {
              "createdDate": "2024-08-12T18:20:50.99Z",
              "identitySourceId": "ISEXAMPLEabcdefg111111",
              "lastUpdatedDate": "2024-08-12T18:20:50.99Z",
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a"
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreateIdentitySourceInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.verifiedpermissions#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>ConflictException</code> error.</p> <p>Verified Permissions recognizes a <code>ClientToken</code> for eight hours. After eight hours, the next request with the same parameters performs the operation again regardless of the value of <code>ClientToken</code>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the policy store in which you want to store this identity source. Only policies and requests made using this policy store can reference identities from the identity provider configured in the new identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.verifiedpermissions#Configuration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the details required to communicate with the identity provider (IdP) associated with this identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "principalEntityType": {
          "target": "com.amazonaws.verifiedpermissions#PrincipalEntityType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the namespace and data type of the principals generated for identities authenticated by the new identity source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreateIdentitySourceOutput": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the identity source was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "identitySourceId": {
          "target": "com.amazonaws.verifiedpermissions#IdentitySourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the new identity source.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the identity source was most recently updated.</p>",
            "smithy.api#required": {}
          }
        },
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store that contains the identity source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ConflictException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a Cedar policy and save it in the specified policy store",
          "relativeDocumentation": "API_CreatePolicy.html",
          "resources": {
            "required": {
              "policy-store": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Creates a Cedar policy and saves it in the specified policy store. You can create either a static policy or a policy linked to a policy template.</p> <ul> <li> <p>To create a static policy, provide the Cedar policy text in the <code>StaticPolicy</code> section of the <code>PolicyDefinition</code>.</p> </li> <li> <p>To create a policy that is dynamically linked to a policy template, specify the policy template ID and the principal and resource to associate with this policy in the <code>templateLinked</code> section of the <code>PolicyDefinition</code>. If the policy template is ever updated, any policies linked to the policy template automatically use the updated template.</p> </li> </ul> <note> <p>Creating a policy causes it to be validated against the schema in the policy store. If the policy doesn't pass validation, the operation fails and the policy isn't stored.</p> </note> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
        "smithy.api#examples": [
          {
            "title": "To create a static policy",
            "documentation": "The following example request creates a static policy with a policy scope that specifies both a principal and a resource. The response includes both the Principal and Resource elements because both were specified in the request policy scope.",
            "input": {
              "definition": {
                "static": {
                  "description": "Grant members of janeFriends UserGroup access to the vacationFolder Album",
                  "statement": "permit( principal in UserGroup::\"janeFriends\", action, resource in Album::\"vacationFolder\" );"
                }
              },
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a",
              "clientToken": "a1b2c3d4-e5f6-a1b2-c3d4-TOKEN1111111"
            },
            "output": {
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a",
              "policyId": "9wYxMpljbbZQb5fcZHyJhY",
              "createdDate": "2024-08-12T18:20:50.99Z",
              "lastUpdatedDate": "2024-08-12T18:20:50.99Z",
              "policyType": "STATIC",
              "principal": {
                "entityId": "janeFriends",
                "entityType": "UserGroup"
              },
              "resource": {
                "entityId": "vacationFolder",
                "entityType": "Album"
              }
            }
          },
          {
            "title": "To create a static policy",
            "documentation": "The following example request creates a static policy with a policy scope that specifies both a principal and a resource. The response includes both the Principal and Resource elements because both were specified in the request policy scope.",
            "input": {
              "definition": {
                "static": {
                  "description": "Grant members of janeFriends UserGroup access to the vacationFolder Album",
                  "statement": "permit( principal in UserGroup::\"janeFriends\", action, resource in Album::\"vacationFolder\" );"
                }
              },
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a",
              "clientToken": "a1b2c3d4-e5f6-a1b2-c3d4-TOKEN1111111"
            },
            "output": {
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a",
              "policyId": "9wYxMpljbbZQb5fcZHyJhY",
              "createdDate": "2024-08-12T18:20:50.99Z",
              "lastUpdatedDate": "2024-08-12T18:20:50.99Z",
              "policyType": "STATIC",
              "principal": {
                "entityId": "janeFriends",
                "entityType": "UserGroup"
              },
              "resource": {
                "entityId": "vacationFolder",
                "entityType": "Album"
              }
            }
          },
          {
            "title": "To create a template-linked policy",
            "documentation": "The following example creates a template-linked policy using the specified policy template and associates the specified principal to use with the new template-linked policy.",
            "input": {
              "definition": {
                "templateLinked": {
                  "policyTemplateId": "PTEXAMPLEabcdefg111111",
                  "principal": {
                    "entityType": "User",
                    "entityId": "alice"
                  }
                }
              },
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a",
              "clientToken": "a1b2c3d4-e5f6-a1b2-c3d4-TOKEN1111111"
            },
            "output": {
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a",
              "policyId": "Et9KxMplyaDdyurDw8TeFa",
              "policyType": "TEMPLATE_LINKED",
              "principal": {
                "entityType": "User",
                "entityId": "alice"
              },
              "resource": {
                "entityType": "Photo",
                "entityId": "VacationPhoto94.jpg"
              },
              "createdDate": "2024-08-12T18:20:50.99Z",
              "lastUpdatedDate": "2024-08-12T18:20:50.99Z"
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.verifiedpermissions#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>ConflictException</code> error.</p> <p>Verified Permissions recognizes a <code>ClientToken</code> for eight hours. After eight hours, the next request with the same parameters performs the operation again regardless of the value of <code>ClientToken</code>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>PolicyStoreId</code> of the policy store you want to store the policy in.</p>",
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "com.amazonaws.verifiedpermissions#PolicyDefinition",
          "traits": {
            "smithy.api#documentation": "<p>A structure that specifies the policy type and content to use for the new policy. You must include either a static or a templateLinked element. The policy content must be written in the Cedar policy language.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyOutput": {
      "type": "structure",
      "members": {
        "policyStoreId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy store that contains the new policy.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "com.amazonaws.verifiedpermissions#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the new policy.</p>",
            "smithy.api#required": {}
          }
        },
        "policyType": {
          "target": "com.amazonaws.verifiedpermissions#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The policy type of the new policy.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The principal specified in the new policy's scope. This response element isn't present when <code>principal</code> isn't specified in the policy content.</p>"
          }
        },
        "resource": {
          "target": "com.amazonaws.verifiedpermissions#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The resource specified in the new policy's scope. This response element isn't present when the <code>resource</code> isn't specified in the policy content.</p>"
          }
        },
        "actions": {
          "target": "com.amazonaws.verifiedpermissions#ActionIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The action that a policy permits or forbids. For example, <code>{\"actions\": [{\"actionId\": \"ViewPhoto\", \"actionType\": \"PhotoFlash::Action\"}, {\"entityID\": \"SharePhoto\", \"entityType\": \"PhotoFlash::Action\"}]}</code>.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.verifiedpermissions#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the policy was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "effect": {
          "target": "com.amazonaws.verifiedpermissions#PolicyEffect",
          "traits": {
            "smithy.api#documentation": "<p>The effect of the decision that a policy returns to an authorization request. For example, <code>\"effect\": \"Permit\"</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyStoreInput"
      },
      "output": {
        "target": "com.amazonaws.verifiedpermissions#CreatePolicyStoreOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.verifiedpermissions#ConflictException"
        },
        {
          "target": "com.amazonaws.verifiedpermissions#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a Cedar policy and save it in the specified policy store"
        },
        "smithy.api#documentation": "<p>Creates a policy store. A policy store is a container for policy resources.</p> <note> <p>Although <a href=\"https://docs.cedarpolicy.com/schema/schema.html#namespace\">Cedar supports multiple namespaces</a>, Verified Permissions currently supports only one namespace per policy store.</p> </note> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
        "smithy.api#examples": [
          {
            "title": "To create policy store",
            "documentation": "The following example creates a new policy store with strict validation turned on.",
            "input": {
              "validationSettings": {
                "mode": "STRICT"
              },
              "clientToken": "a1b2c3d4-e5f6-a1b2-c3d4-TOKEN1111111"
            },
            "output": {
              "policyStoreId": "C7v5xMplfFH3i3e4Jrzb1a",
              "arn": "arn:aws:verifiedpermissions::123456789012:policy-store/C7v5xMplfFH3i3e4Jrzb1a",
              "createdDate": "2024-08-12T18:20:50.99Z",
              "lastUpdatedDate": "2024-08-12T18:20:50.99Z"
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.verifiedpermissions#CreatePolicyStoreInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.verifiedpermissions#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>ConflictException</code> error.</p> <p>Verified Permissions recognizes a <code>ClientToken</code> for eight hours. After eight hours, the next request with the same parameters performs the operation again regardless of the value of <code>ClientToken</code>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "validationSettings": {
          "target": "com.amazonaws.verifiedpermissions#ValidationSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the validation setting for this policy store.</p> <p>Currently, the only valid and required value is <code>Mode</code>.</p> <important> <p>We recommend that you turn on <code>STRICT</code> mode only after you define a schema. If a schema doesn't exist, then <code>STRICT</code> mode causes any policy to fail validation, and Verified Permissions rejects the policy. You can turn off validation by using the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicyStore\">UpdatePolicyStore</a>. Then, when you have a schema defined, use <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicyStore\">UpdatePolicyStore</a> again to turn validation back on.</p> </important>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.verifiedpermissions#PolicyStoreDescription",
          "traits": {
            "smithy.api#documentation": "<p>Descriptive text that you can provide to help with identification of the current policy store.</p>"
          }
        },
        "deletionProtection": {
          "target": "com.amazonaws.verifiedpermissions#DeletionProtection",
          "traits": {
[...]
