{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.voiceid#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.voiceid#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient permissions to perform this action. Check the error message\n            and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.voiceid#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:voiceid.+:[0-9]{12}:domain/[a-zA-Z0-9]{22}$"
      }
    },
    "com.amazonaws.voiceid#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:voiceid.+:[0-9]{12}:domain/[a-zA-Z0-9]{22}$"
      }
    },
    "com.amazonaws.voiceid#AuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "AcceptanceThreshold": {
          "target": "com.amazonaws.voiceid#Score",
          "traits": {
            "smithy.api#documentation": "<p>The minimum threshold needed to successfully authenticate a speaker.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration used to authenticate a speaker during a session.</p>"
      }
    },
    "com.amazonaws.voiceid#AuthenticationDecision": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCEPT",
            "name": "ACCEPT"
          },
          {
            "value": "REJECT",
            "name": "REJECT"
          },
          {
            "value": "NOT_ENOUGH_SPEECH",
            "name": "NOT_ENOUGH_SPEECH"
          },
          {
            "value": "SPEAKER_NOT_ENROLLED",
            "name": "SPEAKER_NOT_ENROLLED"
          },
          {
            "value": "SPEAKER_OPTED_OUT",
            "name": "SPEAKER_OPTED_OUT"
          },
          {
            "value": "SPEAKER_ID_NOT_PROVIDED",
            "name": "SPEAKER_ID_NOT_PROVIDED"
          },
          {
            "value": "SPEAKER_EXPIRED",
            "name": "SPEAKER_EXPIRED"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#AuthenticationResult": {
      "type": "structure",
      "members": {
        "AuthenticationResultId": {
          "target": "com.amazonaws.voiceid#UniqueIdLarge",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this authentication result. Because there can be multiple\n            authentications for a given session, this field helps to identify if the returned result\n            is from a previous streaming activity or a new result. Note that in absence of any new\n            streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code>\n            changes, Voice ID always returns cached Authentication Result for this API.</p>"
          }
        },
        "AudioAggregationStartedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating when audio aggregation started for this authentication\n            result.</p>"
          }
        },
        "AudioAggregationEndedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating when audio aggregation ended for this authentication\n            result.</p>"
          }
        },
        "CustomerSpeakerId": {
          "target": "com.amazonaws.voiceid#CustomerSpeakerId",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided identifier for the speaker whose authentication result is\n            produced. Only present if a <code>SpeakerId</code> is provided for the session.</p>"
          }
        },
        "GeneratedSpeakerId": {
          "target": "com.amazonaws.voiceid#GeneratedSpeakerId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the speaker whose authentication result is\n            produced.</p>"
          }
        },
        "Decision": {
          "target": "com.amazonaws.voiceid#AuthenticationDecision",
          "traits": {
            "smithy.api#documentation": "<p>The authentication decision produced by Voice ID, processed against the current\n            session state and streamed audio of the speaker.</p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.voiceid#Score",
          "traits": {
            "smithy.api#documentation": "<p>The authentication score for the speaker whose authentication result is produced. This\n            value is only present if the authentication decision is either <code>ACCEPT</code> or\n                <code>REJECT</code>.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.voiceid#AuthenticationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AuthenticationConfiguration</code> used to generate this authentication\n            result.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authentication result produced by Voice ID, processed against the current session\n            state and streamed audio of the speaker.</p>"
      }
    },
    "com.amazonaws.voiceid#ClientTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.voiceid#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.voiceid#String"
        },
        "ConflictType": {
          "target": "com.amazonaws.voiceid#ConflictType",
          "traits": {
            "smithy.api#documentation": "<p>The type of conflict which caused a ConflictException. Possible types and the\n            corresponding error messages are as follows:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>DOMAIN_NOT_ACTIVE</code>: The domain is not active.</p>\n            </li>\n            <li>\n                <p>\n                  <code>CANNOT_CHANGE_SPEAKER_AFTER_ENROLLMENT</code>: You cannot change the\n                    speaker ID after an enrollment has been requested.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ENROLLMENT_ALREADY_EXISTS</code>: There is already an enrollment for\n                    this session.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SPEAKER_NOT_SET</code>: You must set the speaker ID before requesting an\n                    enrollment.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SPEAKER_OPTED_OUT</code>: You cannot request an enrollment for an opted\n                    out speaker.</p>\n            </li>\n            <li>\n                <p>\n                  <code>CONCURRENT_CHANGES</code>: The request could not be processed as the\n                    resource was modified by another request during execution.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error\n            message for more details.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.voiceid#ConflictType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ANOTHER_ACTIVE_STREAM",
            "name": "ANOTHER_ACTIVE_STREAM"
          },
          {
            "value": "DOMAIN_NOT_ACTIVE",
            "name": "DOMAIN_NOT_ACTIVE"
          },
          {
            "value": "CANNOT_CHANGE_SPEAKER_AFTER_ENROLLMENT",
            "name": "CANNOT_CHANGE_SPEAKER_AFTER_ENROLLMENT"
          },
          {
            "value": "ENROLLMENT_ALREADY_EXISTS",
            "name": "ENROLLMENT_ALREADY_EXISTS"
          },
          {
            "value": "SPEAKER_NOT_SET",
            "name": "SPEAKER_NOT_SET"
          },
          {
            "value": "SPEAKER_OPTED_OUT",
            "name": "SPEAKER_OPTED_OUT"
          },
          {
            "value": "CONCURRENT_CHANGES",
            "name": "CONCURRENT_CHANGES"
          },
          {
            "value": "DOMAIN_LOCKED_FROM_ENCRYPTION_UPDATES",
            "name": "DOMAIN_LOCKED_FROM_ENCRYPTION_UPDATES"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#CreateDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#CreateDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#ConflictException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a domain that contains all Amazon Connect Voice ID data, such as speakers, fraudsters,\n            customer audio, and voiceprints. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.voiceid#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.voiceid#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.voiceid#Description",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the domain.</p>"
          }
        },
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.voiceid#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration, containing the KMS key identifier, to be used by\n            Voice ID for the server-side encryption of your data. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/encryption-at-rest.html#encryption-at-rest-voiceid\">\n                Amazon Connect Voice ID encryption at rest</a> for more details on how the KMS key is used. </p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.voiceid#ClientTokenString",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The idempotency token for creating a new domain. If not provided, Amazon Web Services\n            SDK populates this field.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#suppress": [
              "UnstableTrait"
            ]
          }
        },
        "Tags": {
          "target": "com.amazonaws.voiceid#TagList",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>A list of tags you want added to the domain.</p>",
            "smithy.api#suppress": [
              "UnstableTrait"
            ]
          }
        }
      }
    },
    "com.amazonaws.voiceid#CreateDomainResponse": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.voiceid#Domain",
          "traits": {
            "smithy.api#documentation": "<p>Information about the newly created domain.</p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#CustomerSpeakerId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.voiceid#DeleteDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#DeleteDomainRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#ConflictException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified domain from Voice ID.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.voiceid#DeleteDomainRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#DeleteFraudster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#DeleteFraudsterRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#ConflictException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified fraudster from Voice ID.</p>"
      }
    },
    "com.amazonaws.voiceid#DeleteFraudsterRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the fraudster.</p>",
            "smithy.api#required": {}
          }
        },
        "FraudsterId": {
          "target": "com.amazonaws.voiceid#FraudsterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the fraudster you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#DeleteSpeaker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#DeleteSpeakerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#ConflictException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified speaker from Voice ID.</p>"
      }
    },
    "com.amazonaws.voiceid#DeleteSpeakerRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the speaker.</p>",
            "smithy.api#required": {}
          }
        },
        "SpeakerId": {
          "target": "com.amazonaws.voiceid#SpeakerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the speaker you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#DescribeDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#DescribeDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified domain.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.voiceid#DescribeDomainRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain you are describing.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeDomainResponse": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.voiceid#Domain",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Information about the specified domain.</p>",
            "smithy.api#suppress": [
              "UnstableTrait"
            ]
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeFraudster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#DescribeFraudsterRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#DescribeFraudsterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified fraudster.</p>"
      }
    },
    "com.amazonaws.voiceid#DescribeFraudsterRegistrationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#DescribeFraudsterRegistrationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#DescribeFraudsterRegistrationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified fraudster registration job.</p>"
      }
    },
    "com.amazonaws.voiceid#DescribeFraudsterRegistrationJobRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the domain containing the fraudster registration job.</p>",
            "smithy.api#required": {}
          }
        },
        "JobId": {
          "target": "com.amazonaws.voiceid#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the fraudster registration job you are describing.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeFraudsterRegistrationJobResponse": {
      "type": "structure",
      "members": {
        "Job": {
          "target": "com.amazonaws.voiceid#FraudsterRegistrationJob",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the specified fraudster registration job.</p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeFraudsterRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the fraudster.</p>",
            "smithy.api#required": {}
          }
        },
        "FraudsterId": {
          "target": "com.amazonaws.voiceid#FraudsterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the fraudster you are describing.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeFraudsterResponse": {
      "type": "structure",
      "members": {
        "Fraudster": {
          "target": "com.amazonaws.voiceid#Fraudster",
          "traits": {
            "smithy.api#documentation": "<p>Information about the specified fraudster.</p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeSpeaker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#DescribeSpeakerRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#DescribeSpeakerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified speaker.</p>"
      }
    },
    "com.amazonaws.voiceid#DescribeSpeakerEnrollmentJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#DescribeSpeakerEnrollmentJobRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#DescribeSpeakerEnrollmentJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified speaker enrollment job.</p>"
      }
    },
    "com.amazonaws.voiceid#DescribeSpeakerEnrollmentJobRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the speaker enrollment job.</p>",
            "smithy.api#required": {}
          }
        },
        "JobId": {
          "target": "com.amazonaws.voiceid#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the speaker enrollment job you are describing.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeSpeakerEnrollmentJobResponse": {
      "type": "structure",
      "members": {
        "Job": {
          "target": "com.amazonaws.voiceid#SpeakerEnrollmentJob",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the specified speaker enrollment job.</p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeSpeakerRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain that contains the speaker.</p>",
            "smithy.api#required": {}
          }
        },
        "SpeakerId": {
          "target": "com.amazonaws.voiceid#SpeakerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the speaker you are describing.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#DescribeSpeakerResponse": {
      "type": "structure",
      "members": {
        "Speaker": {
          "target": "com.amazonaws.voiceid#Speaker",
          "traits": {
            "smithy.api#documentation": "<p>Information about the specified speaker.</p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.voiceid#Domain": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the domain.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.voiceid#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the domain.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.voiceid#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided name for the domain.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.voiceid#Description",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided description of the domain.</p>"
          }
        },
        "DomainStatus": {
          "target": "com.amazonaws.voiceid#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the domain.</p>"
          }
        },
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.voiceid#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption configuration containing the KMS key\n            identifier you want Voice ID to use to encrypt your data.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp at which the domain is created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp showing the domain's last update.</p>"
          }
        },
        "ServerSideEncryptionUpdateDetails": {
          "target": "com.amazonaws.voiceid#ServerSideEncryptionUpdateDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the most recent server-side encryption configuration update. When the\n            server-side encryption configuration is changed, dependency on the old KMS key is removed through an asynchronous process. When this update is\n            complete, the domain's data can only be accessed using the new KMS key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains all the information about a domain.</p>"
      }
    },
    "com.amazonaws.voiceid#DomainId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 22,
          "max": 22
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]{22}$"
      }
    },
    "com.amazonaws.voiceid#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.voiceid#DomainResource": {
      "type": "resource",
      "identifiers": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId"
        }
      },
      "create": {
        "target": "com.amazonaws.voiceid#CreateDomain"
      },
      "read": {
        "target": "com.amazonaws.voiceid#DescribeDomain"
      },
      "update": {
        "target": "com.amazonaws.voiceid#UpdateDomain"
      },
      "delete": {
        "target": "com.amazonaws.voiceid#DeleteDomain"
      },
      "list": {
        "target": "com.amazonaws.voiceid#ListDomains"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {
          "name": "Domain"
        },
        "smithy.api#suppress": [
          "UnstableTrait"
        ]
      }
    },
    "com.amazonaws.voiceid#DomainStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "SUSPENDED",
            "name": "SUSPENDED"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#DomainSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.voiceid#DomainSummary"
      }
    },
    "com.amazonaws.voiceid#DomainSummary": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the domain.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.voiceid#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the domain.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.voiceid#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided name for the domain.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.voiceid#Description",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided description of the domain.</p>"
          }
        },
        "DomainStatus": {
          "target": "com.amazonaws.voiceid#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the domain.</p>"
          }
        },
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.voiceid#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption configuration containing the KMS key\n            identifier you want Voice ID to use to encrypt your data.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp showing when the domain is created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp showing the domain's last update.</p>"
          }
        },
        "ServerSideEncryptionUpdateDetails": {
          "target": "com.amazonaws.voiceid#ServerSideEncryptionUpdateDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the most recent server-side encryption configuration update. When the\n            server-side encryption configuration is changed, dependency on the old KMS key is removed through an asynchronous process. When this update is\n            complete, the domain's data can only be accessed using the new KMS key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of information about a domain.</p>"
      }
    },
    "com.amazonaws.voiceid#DuplicateRegistrationAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SKIP",
            "name": "SKIP"
          },
          {
            "value": "REGISTER_AS_NEW",
            "name": "REGISTER_AS_NEW"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#EnrollmentConfig": {
      "type": "structure",
      "members": {
        "ExistingEnrollmentAction": {
          "target": "com.amazonaws.voiceid#ExistingEnrollmentAction",
          "traits": {
            "smithy.api#documentation": "<p> The action to take when the specified speaker is already enrolled in the specified\n            domain. The default value is <code>SKIP</code>, which skips the enrollment for the\n            existing speaker. Setting the value to <code>OVERWRITE</code> replaces the existing\n            voice prints and enrollment audio stored for that speaker with new data generated from\n            the latest audio.</p>"
          }
        },
        "FraudDetectionConfig": {
          "target": "com.amazonaws.voiceid#EnrollmentJobFraudDetectionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The fraud detection configuration to use for the speaker enrollment job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configurations defining enrollment behavior for the batch job.</p>"
      }
    },
    "com.amazonaws.voiceid#EnrollmentJobFraudDetectionConfig": {
      "type": "structure",
      "members": {
        "FraudDetectionAction": {
          "target": "com.amazonaws.voiceid#FraudDetectionAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take when the given speaker is flagged by the fraud detection system.\n            The default value is <code>FAIL</code>, which fails the speaker enrollment. Changing\n            this value to <code>IGNORE</code> results in the speaker being enrolled even if they are\n            flagged by the fraud detection system.</p>"
          }
        },
        "RiskThreshold": {
          "target": "com.amazonaws.voiceid#Score",
          "traits": {
            "smithy.api#documentation": "<p>Threshold value for determining whether the speaker is a high risk to be fraudulent.\n            If the detected risk score calculated by Voice ID is greater than or equal to the\n            threshold, the speaker is considered a fraudster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration defining the action to take when a speaker is flagged by the fraud\n            detection system during a batch speaker enrollment job, and the risk threshold to use\n            for identification.</p>"
      }
    },
    "com.amazonaws.voiceid#EvaluateSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#EvaluateSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#EvaluateSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#ConflictException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Evaluates a specified session based on audio data accumulated during a streaming\n            Amazon Connect Voice ID call.</p>"
      }
    },
    "com.amazonaws.voiceid#EvaluateSessionRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain where the session started.</p>",
            "smithy.api#required": {}
          }
        },
        "SessionNameOrId": {
          "target": "com.amazonaws.voiceid#SessionNameOrId",
          "traits": {
            "smithy.api#documentation": "<p>The session identifier, or name of the session, that you want to evaluate. In\n            Voice ID integration, this is the Contact-Id.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#EvaluateSessionResponse": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the session.</p>"
          }
        },
        "SessionId": {
          "target": "com.amazonaws.voiceid#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier of the session.</p>"
          }
        },
        "SessionName": {
          "target": "com.amazonaws.voiceid#SessionName",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided name of the session.</p>"
          }
        },
        "StreamingStatus": {
          "target": "com.amazonaws.voiceid#StreamingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of audio streaming for this session. This field is useful to infer\n            next steps when the Authentication or Fraud Detection results are empty or the decision\n            is <code>NOT_ENOUGH_SPEECH</code>. In this situation, if the\n                <code>StreamingStatus</code> is <code>ONGOING/PENDING_CONFIGURATION</code>, it can\n            mean that the client should call the API again later, after Voice ID has enough audio\n            to produce a result. If the decision remains <code>NOT_ENOUGH_SPEECH</code> even after\n                <code>StreamingStatus</code> is <code>ENDED</code>, it means that the previously\n            streamed session did not have enough speech to perform evaluation, and a new streaming\n            session is needed to try again.</p>"
          }
        },
        "AuthenticationResult": {
          "target": "com.amazonaws.voiceid#AuthenticationResult",
          "traits": {
            "smithy.api#documentation": "<p>Details resulting from the authentication process, such as authentication decision and\n            authentication score.</p>"
          }
        },
        "FraudDetectionResult": {
          "target": "com.amazonaws.voiceid#FraudDetectionResult",
          "traits": {
            "smithy.api#documentation": "<p>Details resulting from the fraud detection process, such as fraud detection decision\n            and risk score.</p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#ExistingEnrollmentAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SKIP",
            "name": "SKIP"
          },
          {
            "value": "OVERWRITE",
            "name": "OVERWRITE"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#FailureDetails": {
      "type": "structure",
      "members": {
        "StatusCode": {
          "target": "com.amazonaws.voiceid#Integer",
          "traits": {
            "smithy.api#documentation": "<p>An HTTP status code representing the nature of the error.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.voiceid#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error that caused the batch job failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for a failed batch job.</p>"
      }
    },
    "com.amazonaws.voiceid#FraudDetectionAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IGNORE",
            "name": "IGNORE"
          },
          {
            "value": "FAIL",
            "name": "FAIL"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#FraudDetectionConfiguration": {
      "type": "structure",
      "members": {
        "RiskThreshold": {
          "target": "com.amazonaws.voiceid#Score",
          "traits": {
            "smithy.api#documentation": "<p>Threshold value for determining whether the speaker is a fraudster. If the detected\n            risk score calculated by Voice ID is higher than the threshold, the speaker is\n            considered a fraudster.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration used for performing fraud detection over a speaker during a\n            session.</p>"
      }
    },
    "com.amazonaws.voiceid#FraudDetectionDecision": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HIGH_RISK",
            "name": "HIGH_RISK"
          },
          {
            "value": "LOW_RISK",
            "name": "LOW_RISK"
          },
          {
            "value": "NOT_ENOUGH_SPEECH",
            "name": "NOT_ENOUGH_SPEECH"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#FraudDetectionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "KNOWN_FRAUDSTER",
            "name": "KNOWN_FRAUDSTER"
          },
          {
            "value": "VOICE_SPOOFING",
            "name": "VOICE_SPOOFING"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#FraudDetectionReasons": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.voiceid#FraudDetectionReason"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.voiceid#FraudDetectionResult": {
      "type": "structure",
      "members": {
        "FraudDetectionResultId": {
          "target": "com.amazonaws.voiceid#UniqueIdLarge",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this fraud detection result. Given there can be multiple\n            fraud detections for a given session, this field helps in identifying if the returned\n            result is from previous streaming activity or a new result. Note that in the absence of\n            any new streaming activity or risk threshold changes, Voice ID always returns cached\n            Fraud Detection result for this API.</p>"
          }
        },
        "AudioAggregationStartedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating when audio aggregation started for this fraud detection\n            result.</p>"
          }
        },
        "AudioAggregationEndedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating when audio aggregation ended for this fraud detection\n            result.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.voiceid#FraudDetectionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <code>FraudDetectionConfiguration</code> used to generate this fraud detection\n            result.</p>"
          }
        },
        "Decision": {
          "target": "com.amazonaws.voiceid#FraudDetectionDecision",
          "traits": {
            "smithy.api#documentation": "<p>The fraud detection decision produced by Voice ID, processed against the current\n            session state and streamed audio of the speaker.</p>"
          }
        },
        "Reasons": {
          "target": "com.amazonaws.voiceid#FraudDetectionReasons",
          "traits": {
            "smithy.api#documentation": "<p>The reason speaker was flagged by the fraud detection system. This is only be\n            populated if fraud detection Decision is <code>HIGH_RISK</code>, and the following\n            possible values: <code>KNOWN_FRAUDSTER</code> and <code>VOICE_SPOOFING</code>.</p>"
          }
        },
        "RiskDetails": {
          "target": "com.amazonaws.voiceid#FraudRiskDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about each risk analyzed for this speaker. Currently, this contains\n            KnownFraudsterRisk and VoiceSpoofingRisk details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The fraud detection result produced by Voice ID, processed against the current\n            session state and streamed audio of the speaker.</p>"
      }
    },
    "com.amazonaws.voiceid#FraudRiskDetails": {
      "type": "structure",
      "members": {
        "KnownFraudsterRisk": {
          "target": "com.amazonaws.voiceid#KnownFraudsterRisk",
          "traits": {
            "smithy.api#documentation": "<p>The details resulting from 'Known Fraudster Risk' analysis of the speaker.</p>",
            "smithy.api#required": {}
          }
        },
        "VoiceSpoofingRisk": {
          "target": "com.amazonaws.voiceid#VoiceSpoofingRisk",
          "traits": {
            "smithy.api#documentation": "<p>The details resulting from 'Voice Spoofing Risk' analysis of the speaker.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details regarding various fraud risk analyses performed against the current session\n            state and streamed audio of the speaker.</p>"
      }
    },
    "com.amazonaws.voiceid#Fraudster": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the domain containing the fraudster.</p>"
          }
        },
        "GeneratedFraudsterId": {
          "target": "com.amazonaws.voiceid#GeneratedFraudsterId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the fraudster.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when Voice ID identified the fraudster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains all the information about a fraudster.</p>"
      }
    },
    "com.amazonaws.voiceid#FraudsterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 25,
          "max": 25
        },
        "smithy.api#pattern": "^id#[a-zA-Z0-9]{22}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.voiceid#FraudsterRegistrationJob": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.voiceid#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided name for the fraudster registration job.</p>"
          }
        },
        "JobId": {
          "target": "com.amazonaws.voiceid#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the fraudster registration job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.voiceid#FraudsterRegistrationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the fraudster registration job.</p>"
          }
        },
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the fraudster registration job.</p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.voiceid#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role Amazon Resource Name (ARN) that grants Voice ID permissions to access\n            customer's buckets to read the input manifest file and write the job output file.</p>"
          }
        },
        "RegistrationConfig": {
          "target": "com.amazonaws.voiceid#RegistrationConfig",
          "traits": {
            "smithy.api#documentation": "<p>The registration config containing details such as the action to take when a duplicate\n            fraudster is detected, and the similarity threshold to use for detecting a duplicate\n            fraudster.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.voiceid#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The input data config containing an S3 URI for the input manifest file that contains\n            the list of fraudster registration job requests.</p>"
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.voiceid#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output data config containing the S3 location where you want Voice ID to write\n            your job output file; you must also include a KMS key ID in order to\n            encrypt the file.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing the creation time of the fraudster registration job.</p>"
          }
        },
        "EndedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing when the fraudster registration job ended.</p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.voiceid#FailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains details that are populated when an entire batch job fails. In cases of\n            individual registration job failures, the batch job as a whole doesn't fail; it is\n            completed with a <code>JobStatus</code> of <code>COMPLETED_WITH_ERRORS</code>. You can\n            use the job output file to identify the individual registration requests that\n            failed.</p>"
          }
        },
        "JobProgress": {
          "target": "com.amazonaws.voiceid#JobProgress",
          "traits": {
            "smithy.api#documentation": "<p>Shows the completed percentage of registration requests listed in the input\n            file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains all the information about a fraudster registration job.</p>"
      }
    },
    "com.amazonaws.voiceid#FraudsterRegistrationJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "COMPLETED_WITH_ERRORS",
            "name": "COMPLETED_WITH_ERRORS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#FraudsterRegistrationJobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.voiceid#FraudsterRegistrationJobSummary"
      }
    },
    "com.amazonaws.voiceid#FraudsterRegistrationJobSummary": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.voiceid#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided name for the fraudster registration job.</p>"
          }
        },
        "JobId": {
          "target": "com.amazonaws.voiceid#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the fraudster registration job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.voiceid#FraudsterRegistrationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the fraudster registration job.</p>"
          }
        },
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the fraudster registration job.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing when the fraudster registration job is created. </p>"
          }
        },
        "EndedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing when the fraudster registration job ended.</p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.voiceid#FailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains details that are populated when an entire batch job fails. In cases of\n            individual registration job failures, the batch job as a whole doesn't fail; it is\n            completed with a <code>JobStatus</code> of <code>COMPLETED_WITH_ERRORS</code>. You can\n            use the job output file to identify the individual registration requests that\n            failed.</p>"
          }
        },
        "JobProgress": {
          "target": "com.amazonaws.voiceid#JobProgress",
          "traits": {
            "smithy.api#documentation": "<p>Shows the completed percentage of registration requests listed in the input\n            file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of information about a fraudster registration job.</p>"
      }
    },
    "com.amazonaws.voiceid#GeneratedFraudsterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 25,
          "max": 25
        },
        "smithy.api#pattern": "^id#[a-zA-Z0-9]{22}$"
      }
    },
    "com.amazonaws.voiceid#GeneratedSpeakerId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 25,
          "max": 25
        },
        "smithy.api#pattern": "^id#[a-zA-Z0-9]{22}$"
      }
    },
    "com.amazonaws.voiceid#IamRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+$"
      }
    },
    "com.amazonaws.voiceid#InputDataConfig": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.voiceid#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location for the input manifest file that contains the list of individual\n            enrollment or registration job requests.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration containing input file information for a batch job.</p>"
      }
    },
    "com.amazonaws.voiceid#Integer": {
      "type": "integer"
    },
    "com.amazonaws.voiceid#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.voiceid#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed due to an unknown error on the server side.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.voiceid#JobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 22,
          "max": 22
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]{22}$"
      }
    },
    "com.amazonaws.voiceid#JobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.voiceid#JobProgress": {
      "type": "structure",
      "members": {
        "PercentComplete": {
          "target": "com.amazonaws.voiceid#Score",
          "traits": {
            "smithy.api#documentation": "<p>Shows the completed percentage of enrollment or registration requests listed in the\n            input file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates the completion progress for a batch job.</p>"
      }
    },
    "com.amazonaws.voiceid#KmsKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.voiceid#KnownFraudsterRisk": {
      "type": "structure",
      "members": {
        "RiskScore": {
          "target": "com.amazonaws.voiceid#Score",
          "traits": {
            "smithy.api#documentation": "<p>The score indicating the likelihood the speaker is a known fraudster.</p>",
            "smithy.api#required": {}
          }
        },
        "GeneratedFraudsterId": {
          "target": "com.amazonaws.voiceid#GeneratedFraudsterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the fraudster that is the closest match to the speaker. If there are\n            no fraudsters registered in a given domain, or if there are no fraudsters with a\n            non-zero RiskScore, this value is <code>null</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details produced as a result of performing known fraudster risk analysis on a\n            speaker.</p>"
      }
    },
    "com.amazonaws.voiceid#ListDomains": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#ListDomainsRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#ListDomainsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the domains in the Amazon Web Services account. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "DomainSummaries",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.voiceid#ListDomainsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.voiceid#MaxResultsForListDomainFe",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of domains to list per API call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.voiceid#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of\n                <code>NextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page. Keep all other arguments\n            unchanged. Each pagination token expires after 24 hours. </p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#ListDomainsResponse": {
      "type": "structure",
      "members": {
        "DomainSummaries": {
          "target": "com.amazonaws.voiceid#DomainSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list containing details about each domain in the Amazon Web Services account.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.voiceid#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of\n                <code>NextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page. Keep all other arguments\n            unchanged. Each pagination token expires after 24 hours. </p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#ListFraudsterRegistrationJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#ListFraudsterRegistrationJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#ListFraudsterRegistrationJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the fraudster registration jobs in the domain with the given\n                <code>JobStatus</code>. If <code>JobStatus</code> is not provided, this lists all\n            fraudster registration jobs in the given domain. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "JobSummaries",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.voiceid#ListFraudsterRegistrationJobsRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the fraudster registration Jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.voiceid#FraudsterRegistrationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Provides the status of your fraudster registration job.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.voiceid#MaxResultsForList",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that are returned per call. You can use\n                <code>NextToken</code> to obtain further pages of results. The default is 100; the\n            maximum allowed page size is also 100. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.voiceid#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of\n                <code>NextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page. Keep all other arguments\n            unchanged. Each pagination token expires after 24 hours. </p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#ListFraudsterRegistrationJobsResponse": {
      "type": "structure",
      "members": {
        "JobSummaries": {
          "target": "com.amazonaws.voiceid#FraudsterRegistrationJobSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list containing details about each specified fraudster registration job.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.voiceid#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of\n                <code>NextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page. Keep all other arguments\n            unchanged. Each pagination token expires after 24 hours. </p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#ListSpeakerEnrollmentJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#ListSpeakerEnrollmentJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#ListSpeakerEnrollmentJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the speaker enrollment jobs in the domain with the specified\n                <code>JobStatus</code>. If <code>JobStatus</code> is not provided, this lists all\n            jobs with all possible speaker enrollment job statuses.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "JobSummaries",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.voiceid#ListSpeakerEnrollmentJobsRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the speaker enrollment jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.voiceid#SpeakerEnrollmentJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Provides the status of your speaker enrollment Job.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.voiceid#MaxResultsForList",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that are returned per call. You can use\n                <code>NextToken</code> to obtain further pages of results. The default is 100; the\n            maximum allowed page size is also 100. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.voiceid#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of\n                <code>NextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page. Keep all other arguments\n            unchanged. Each pagination token expires after 24 hours. </p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#ListSpeakerEnrollmentJobsResponse": {
      "type": "structure",
      "members": {
        "JobSummaries": {
          "target": "com.amazonaws.voiceid#SpeakerEnrollmentJobSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list containing details about each specified speaker enrollment job.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.voiceid#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of\n                <code>NextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page. Keep all other arguments\n            unchanged. Each pagination token expires after 24 hours. </p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#ListSpeakers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#ListSpeakersRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#ListSpeakersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all speakers in a specified domain.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "SpeakerSummaries",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.voiceid#ListSpeakersRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.voiceid#MaxResultsForList",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that are returned per call. You can use\n                <code>NextToken</code> to obtain further pages of results. The default is 100; the\n            maximum allowed page size is also 100. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.voiceid#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of\n                <code>NextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page. Keep all other arguments\n            unchanged. Each pagination token expires after 24 hours. </p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#ListSpeakersResponse": {
      "type": "structure",
      "members": {
        "SpeakerSummaries": {
          "target": "com.amazonaws.voiceid#SpeakerSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list containing details about each speaker in the Amazon Web Services account.\n        </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.voiceid#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of\n                <code>NextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page. Keep all other arguments\n            unchanged. Each pagination token expires after 24 hours. </p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all tags associated with a specified Voice ID resource.</p>"
      }
    },
    "com.amazonaws.voiceid#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.voiceid#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Voice ID resource for which you want to list\n            the tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.voiceid#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags associated with the specified resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#MaxResultsForList": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.voiceid#MaxResultsForListDomainFe": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.voiceid#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": "^\\p{ASCII}{0,8192}$"
      }
    },
    "com.amazonaws.voiceid#OptOutSpeaker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#OptOutSpeakerRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#OptOutSpeakerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#ConflictException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Opts out a speaker from Voice ID. A speaker can be opted out regardless of whether or\n            not they already exist in Voice ID. If they don't yet exist, a new speaker is created\n            in an opted out state. If they already exist, their existing status is overridden and\n            they are opted out. Enrollment and evaluation authentication requests are rejected for\n            opted out speakers, and opted out speakers have no voice embeddings stored in\n            Voice ID.</p>"
      }
    },
    "com.amazonaws.voiceid#OptOutSpeakerRequest": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain containing the speaker.</p>",
            "smithy.api#required": {}
          }
        },
        "SpeakerId": {
          "target": "com.amazonaws.voiceid#SpeakerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the speaker you want opted-out.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.voiceid#OptOutSpeakerResponse": {
      "type": "structure",
      "members": {
        "Speaker": {
          "target": "com.amazonaws.voiceid#Speaker",
          "traits": {
            "smithy.api#documentation": "<p>Details about the opted-out speaker.</p>"
          }
        }
      }
    },
    "com.amazonaws.voiceid#OutputDataConfig": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.voiceid#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 path of the folder where Voice ID writes the job output file. It has a\n                <code>*.out</code> extension. For example, if the input file name is\n                <code>input-file.json</code> and the output folder path is\n                <code>s3://output-bucket/output-folder</code>, the full output file path is\n                <code>s3://output-bucket/output-folder/job-Id/input-file.json.out</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.voiceid#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the KMS key you want Voice ID to use to encrypt the\n            output file of a speaker enrollment job/fraudster registration job.\n            </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration containing output file information for a batch job.</p>"
      }
    },
    "com.amazonaws.voiceid#RegistrationConfig": {
      "type": "structure",
      "members": {
        "DuplicateRegistrationAction": {
          "target": "com.amazonaws.voiceid#DuplicateRegistrationAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take when a fraudster is identified as a duplicate. The default action\n            is <code>SKIP</code>, which skips registering the duplicate fraudster. Setting the value\n            to <code>REGISTER_AS_NEW</code> always registers a new fraudster into the specified\n            domain.</p>"
          }
        },
        "FraudsterSimilarityThreshold": {
          "target": "com.amazonaws.voiceid#Score",
          "traits": {
            "smithy.api#documentation": "<p>The minimum similarity score between the new and old fraudsters in order to consider\n            the new fraudster a duplicate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration defining the action to take when a duplicate fraudster is detected,\n            and the similarity threshold to use for detecting a duplicate fraudster during a batch\n            fraudster registration job.</p>"
      }
    },
    "com.amazonaws.voiceid#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.voiceid#String"
        },
        "ResourceType": {
          "target": "com.amazonaws.voiceid#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource which cannot not be found. Possible types are\n                <code>BATCH_JOB</code>, <code>COMPLIANCE_CONSENT</code>, <code>DOMAIN</code>,\n                <code>FRAUDSTER</code>, <code>SESSION</code> and <code>SPEAKER</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error\n            message for more details.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.voiceid#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BATCH_JOB",
            "name": "BATCH_JOB"
          },
          {
            "value": "COMPLIANCE_CONSENT",
            "name": "COMPLIANCE_CONSENT"
          },
          {
            "value": "DOMAIN",
            "name": "DOMAIN"
          },
          {
            "value": "FRAUDSTER",
            "name": "FRAUDSTER"
          },
          {
            "value": "SESSION",
            "name": "SESSION"
          },
          {
            "value": "SPEAKER",
            "name": "SPEAKER"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#S3Uri": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?$"
      }
    },
    "com.amazonaws.voiceid#Score": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.voiceid#ServerSideEncryptionConfiguration": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "target": "com.amazonaws.voiceid#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the KMS key to use to encrypt data stored by\n            Voice ID. Voice ID doesn't support asymmetric customer managed keys. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration containing information about the customer managed key used for\n            encrypting customer data.</p>"
      }
    },
    "com.amazonaws.voiceid#ServerSideEncryptionUpdateDetails": {
      "type": "structure",
      "members": {
        "OldKmsKeyId": {
          "target": "com.amazonaws.voiceid#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The previous KMS key ID the domain was encrypted with, before\n            ServerSideEncryptionConfiguration was updated to a new KMS key ID.</p>"
          }
        },
        "UpdateStatus": {
          "target": "com.amazonaws.voiceid#ServerSideEncryptionUpdateStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the server-side encryption update. During an update, if there is an issue\n            with the domain's current or old KMS key ID, such as an inaccessible or\n            disabled key, then the status is FAILED. In order to resolve this, the key needs to be\n            made accessible, and then an UpdateDomain call with the existing server-side encryption\n            configuration will re-attempt this update process.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.voiceid#String",
          "traits": {
            "smithy.api#documentation": "<p>Message explaining the current UpdateStatus. When the UpdateStatus is FAILED, this\n            message explains the cause of the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the most recent server-side encryption configuration update. When the\n            server-side encryption configuration is changed, dependency on the old KMS key is removed through an asynchronous process. When this update is\n            complete, the domain’s data can only be accessed using the new KMS key.</p>"
      }
    },
    "com.amazonaws.voiceid#ServerSideEncryptionUpdateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.voiceid#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request exceeded the service quota. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#voiceid-quotas\">Voice ID Service Quotas</a> and try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.voiceid#SessionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 25,
          "max": 25
        },
        "smithy.api#pattern": "^id#[a-zA-Z0-9]{22}$"
      }
    },
    "com.amazonaws.voiceid#SessionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
      }
    },
    "com.amazonaws.voiceid#SessionNameOrId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "^(id#[a-zA-Z0-9]{22}|[a-zA-Z0-9][a-zA-Z0-9_-]*)$"
      }
    },
    "com.amazonaws.voiceid#Speaker": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain that contains the speaker.</p>"
          }
        },
        "CustomerSpeakerId": {
          "target": "com.amazonaws.voiceid#CustomerSpeakerId",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided identifier for the speaker.</p>"
          }
        },
        "GeneratedSpeakerId": {
          "target": "com.amazonaws.voiceid#GeneratedSpeakerId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the speaker.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.voiceid#SpeakerStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the speaker.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing when the speaker is created. </p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing the speaker's last update.</p>"
          }
        },
        "LastAccessedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the speaker was last accessed for enrollment, re-enrollment or a\n            successful authentication. This timestamp is accurate to one hour.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains all the information about a speaker.</p>"
      }
    },
    "com.amazonaws.voiceid#SpeakerEnrollmentJob": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.voiceid#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided name for the speaker enrollment job.</p>"
          }
        },
        "JobId": {
          "target": "com.amazonaws.voiceid#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the speaker enrollment job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.voiceid#SpeakerEnrollmentJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the speaker enrollment job.</p>"
          }
        },
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain that contains the speaker enrollment job.</p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.voiceid#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role Amazon Resource Name (ARN) that grants Voice ID permissions to access\n            customer's buckets to read the input manifest file and write the job output file.</p>"
          }
        },
        "EnrollmentConfig": {
          "target": "com.amazonaws.voiceid#EnrollmentConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration that defines the action to take when the speaker is already enrolled\n            in Voice ID, and the <code>FraudDetectionConfig</code> to use.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.voiceid#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The input data config containing an S3 URI for the input manifest file that contains\n            the list of speaker enrollment job requests.</p>"
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.voiceid#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output data config containing the S3 location where Voice ID writes the job\n            output file; you must also include a KMS key ID to encrypt the\n            file.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing the creation of the speaker enrollment job.</p>"
          }
        },
        "EndedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing when the speaker enrollment job ended. </p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.voiceid#FailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains details that are populated when an entire batch job fails. In cases of\n            individual registration job failures, the batch job as a whole doesn't fail; it is\n            completed with a <code>JobStatus</code> of <code>COMPLETED_WITH_ERRORS</code>. You can\n            use the job output file to identify the individual registration requests that\n            failed.</p>"
          }
        },
        "JobProgress": {
          "target": "com.amazonaws.voiceid#JobProgress",
          "traits": {
            "smithy.api#documentation": "<p>Provides details on job progress. This field shows the completed percentage of\n            registration requests listed in the input file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains all the information about a speaker enrollment job.</p>"
      }
    },
    "com.amazonaws.voiceid#SpeakerEnrollmentJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "COMPLETED_WITH_ERRORS",
            "name": "COMPLETED_WITH_ERRORS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#SpeakerEnrollmentJobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.voiceid#SpeakerEnrollmentJobSummary"
      }
    },
    "com.amazonaws.voiceid#SpeakerEnrollmentJobSummary": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.voiceid#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided name for the speaker enrollment job.</p>"
          }
        },
        "JobId": {
          "target": "com.amazonaws.voiceid#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the speaker enrollment job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.voiceid#SpeakerEnrollmentJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the speaker enrollment job.</p>"
          }
        },
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain that contains the speaker enrollment job.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing the creation time of the speaker enrollment job.</p>"
          }
        },
        "EndedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing when the speaker enrollment job ended.</p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.voiceid#FailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains details that are populated when an entire batch job fails. In cases of\n            individual registration job failures, the batch job as a whole doesn't fail; it is\n            completed with a <code>JobStatus</code> of <code>COMPLETED_WITH_ERRORS</code>. You can\n            use the job output file to identify the individual registration requests that\n            failed.</p>"
          }
        },
        "JobProgress": {
          "target": "com.amazonaws.voiceid#JobProgress",
          "traits": {
            "smithy.api#documentation": "<p>Provides details regarding job progress. This field shows the completed percentage of\n            enrollment requests listed in the input file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of information about a speaker enrollment job.</p>"
      }
    },
    "com.amazonaws.voiceid#SpeakerId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^(id#[a-zA-Z0-9]{22}|[a-zA-Z0-9][a-zA-Z0-9_-]*)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.voiceid#SpeakerStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENROLLED",
            "name": "ENROLLED"
          },
          {
            "value": "EXPIRED",
            "name": "EXPIRED"
          },
          {
            "value": "OPTED_OUT",
            "name": "OPTED_OUT"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          }
        ]
      }
    },
    "com.amazonaws.voiceid#SpeakerSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.voiceid#SpeakerSummary"
      }
    },
    "com.amazonaws.voiceid#SpeakerSummary": {
      "type": "structure",
      "members": {
        "DomainId": {
          "target": "com.amazonaws.voiceid#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the domain that contains the speaker.</p>"
          }
        },
        "CustomerSpeakerId": {
          "target": "com.amazonaws.voiceid#CustomerSpeakerId",
          "traits": {
            "smithy.api#documentation": "<p>The client-provided identifier for the speaker.</p>"
          }
        },
        "GeneratedSpeakerId": {
          "target": "com.amazonaws.voiceid#GeneratedSpeakerId",
          "traits": {
            "smithy.api#documentation": "<p>The service-generated identifier for the speaker. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.voiceid#SpeakerStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the speaker.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing the speaker's creation time. </p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp showing the speaker's last update.</p>"
          }
        },
        "LastAccessedAt": {
          "target": "com.amazonaws.voiceid#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the speaker was last accessed for enrollment, re-enrollment or a\n            successful authentication. This timestamp is accurate to one hour.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of information about a speaker.</p>"
      }
    },
    "com.amazonaws.voiceid#StartFraudsterRegistrationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.voiceid#StartFraudsterRegistrationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.voiceid#StartFraudsterRegistrationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.voiceid#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.voiceid#ConflictException"
        },
        {
          "target": "com.amazonaws.voiceid#InternalServerException"
        },
        {
          "target": "com.amazonaws.voiceid#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.voiceid#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.voiceid#ThrottlingException"
        },
        {
          "target": "com.amazonaws.voiceid#ValidationException"
        }
      ],
[...]
