{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.vpclattice#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user does not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.vpclattice#AccessLogDestinationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:([^/].*)?$"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscription": {
      "type": "resource",
      "identifiers": {
        "accessLogSubscriptionIdentifier": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.vpclattice#CreateAccessLogSubscription"
      },
      "read": {
        "target": "com.amazonaws.vpclattice#GetAccessLogSubscription"
      },
      "update": {
        "target": "com.amazonaws.vpclattice#UpdateAccessLogSubscription"
      },
      "delete": {
        "target": "com.amazonaws.vpclattice#DeleteAccessLogSubscription"
      },
      "list": {
        "target": "com.amazonaws.vpclattice#ListAccessLogSubscriptions"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[a-z0-9\\-]+:vpc-lattice:[a-zA-Z0-9\\-]+:\\d{12}:accesslogsubscription/als-[0-9a-z]{17}$"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 21,
          "max": 21
        },
        "smithy.api#pattern": "^als-[0-9a-z]{17}$"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 17,
          "max": 2048
        },
        "smithy.api#pattern": "^((als-[0-9a-z]{17})|(arn:[a-z0-9\\-]+:vpc-lattice:[a-zA-Z0-9\\-]+:\\d{12}:accesslogsubscription/als-[0-9a-z]{17}))$"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.vpclattice#AccessLogSubscriptionSummary"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access log subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the access log subscription</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.vpclattice#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service or service network.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.vpclattice#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service or service network.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationArn": {
          "target": "com.amazonaws.vpclattice#AccessLogDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the access log subscription was created, specified in ISO-8601\n   format.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the access log subscription was last updated, specified in ISO-8601\n   format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about an access log subscription.</p>"
      }
    },
    "com.amazonaws.vpclattice#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.vpclattice#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1224
        },
        "smithy.api#pattern": "^arn:[a-z0-9][-.a-z0-9]{0,62}:vpc-lattice:([a-z0-9][-.a-z0-9]{0,62})?:\\d{12}?:[^/].{0,1023}$"
      }
    },
    "com.amazonaws.vpclattice#AuthPolicyState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "Active",
            "value": "Active"
          },
          {
            "name": "Inactive",
            "value": "Inactive"
          }
        ]
      }
    },
    "com.amazonaws.vpclattice#AuthPolicyString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 10000
        }
      }
    },
    "com.amazonaws.vpclattice#AuthType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "NONE",
            "value": "NONE"
          },
          {
            "name": "AWS_IAM",
            "value": "AWS_IAM"
          }
        ]
      }
    },
    "com.amazonaws.vpclattice#BatchUpdateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#BatchUpdateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#BatchUpdateRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the listener rules in a batch. You can use this operation to change the priority of\n   listener rules. This can be useful when bulk updating or swapping rule priority. </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PATCH",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#BatchUpdateRuleRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.amazonaws.vpclattice#RuleUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>The rules for the specified listener.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#BatchUpdateRuleResponse": {
      "type": "structure",
      "members": {
        "successful": {
          "target": "com.amazonaws.vpclattice#RuleUpdateSuccessList",
          "traits": {
            "smithy.api#documentation": "<p>The rules that were successfully updated.</p>"
          }
        },
        "unsuccessful": {
          "target": "com.amazonaws.vpclattice#RuleUpdateFailureList",
          "traits": {
            "smithy.api#documentation": "<p>The rules that the operation couldn't update.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.vpclattice#CertificateArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:certificate/[0-9a-z-]+)?$"
      }
    },
    "com.amazonaws.vpclattice#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[!-~]+"
      }
    },
    "com.amazonaws.vpclattice#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request conflicts with the current state of the resource. Updating or deleting a\n   resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.vpclattice#CreateAccessLogSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateAccessLogSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateAccessLogSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables access logs to be sent to Amazon CloudWatch, Amazon S3, and Amazon Kinesis Data Firehose. The service network owner\n   can use the access logs to audit the services in the network. The service network owner will only\n   see access logs from clients and services that are associated with their service network. Access\n   log entries represent traffic originated from VPCs associated with that network. For more\n   information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/monitoring-access-logs.html\">Access logs</a> in the\n    <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/accesslogsubscriptions"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateAccessLogSubscriptionRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\n  the idempotency of the request. If you retry a request that completed successfully using\n  the same client token and parameters, the retry succeeds without performing any actions.\n  If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "resourceIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service network or service.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationArn": {
          "target": "com.amazonaws.vpclattice#AccessLogDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination. The supported destination types are\n   CloudWatch Log groups, Kinesis Data Firehose delivery streams, and Amazon S3 buckets.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the access log subscription.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateAccessLogSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access log subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the access log subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.vpclattice#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service network or service.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.vpclattice#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service network or service.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationArn": {
          "target": "com.amazonaws.vpclattice#AccessLogDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the log destination.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateListenerRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateListenerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a listener for a service. Before you start using your Amazon VPC Lattice service, you must\n   add one or more listeners. A listener is a process that checks for connection requests to your\n   services. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/listeners.html\">Listeners</a> in the\n   <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/services/{serviceIdentifier}/listeners"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateListenerRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ListenerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the listener. A listener name must be unique within a service. The valid characters are a-z, 0-9, and hyphens (-). You can't use a \n  hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "com.amazonaws.vpclattice#ListenerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The listener protocol HTTP or HTTPS.</p>",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "com.amazonaws.vpclattice#Port",
          "traits": {
            "smithy.api#documentation": "<p>The listener port. You can specify a value from <code>1</code> to <code>65535</code>. For\n   HTTP, the default is <code>80</code>. For HTTPS, the default is <code>443</code>.</p>"
          }
        },
        "defaultAction": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action for the default rule. Each listener has a default rule. Each rule consists of a\n   priority, one or more actions, and one or more conditions. The default rule is the rule that's\n   used if no other rules match. Each rule must include exactly one of the following types of\n   actions: <code>forward </code>or <code>fixed-response</code>, and it must be the last action to\n   be performed. </p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\n  the idempotency of the request. If you retry a request that completed successfully using\n  the same client token and parameters, the retry succeeds without performing any actions.\n  If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the listener.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateListenerResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.vpclattice#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.vpclattice#ListenerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the listener.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ListenerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the listener.</p>"
          }
        },
        "protocol": {
          "target": "com.amazonaws.vpclattice#ListenerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol of the listener.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.vpclattice#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number of the listener.</p>"
          }
        },
        "serviceArn": {
          "target": "com.amazonaws.vpclattice#ServiceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service.</p>"
          }
        },
        "serviceId": {
          "target": "com.amazonaws.vpclattice#ServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service.</p>"
          }
        },
        "defaultAction": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action for the default rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a listener rule. Each listener has a default rule for checking connection requests,\n   but you can define additional rules. Each rule consists of a priority, one or more actions, and\n   one or more conditions. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/listeners.html#listener-rules\">Listener rules</a> in the\n    <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateRuleRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule. The name must be unique within the listener. The valid characters are a-z, 0-9, and hyphens (-). You can't use a \n  hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "com.amazonaws.vpclattice#RuleMatch",
          "traits": {
            "smithy.api#documentation": "<p>The rule match.</p>",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.amazonaws.vpclattice#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority assigned to the rule. Each rule for a specific listener must have a unique\n   priority. The lower the priority number the higher the priority.</p>",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action for the default rule.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\n  the idempotency of the request. If you retry a request that completed successfully using\n  the same client token and parameters, the retry succeeds without performing any actions.\n  If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateRuleResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.vpclattice#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.vpclattice#RuleId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the rule.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>"
          }
        },
        "match": {
          "target": "com.amazonaws.vpclattice#RuleMatch",
          "traits": {
            "smithy.api#documentation": "<p>The rule match. The <code>RuleMatch</code> must be an <code>HttpMatch</code>. This means\n   that the rule should be an exact match on HTTP constraints which are made up of the HTTP method,\n   path, and header.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.vpclattice#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority assigned to the rule. The lower the priority number the higher the\n   priority.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The rule action. Each rule must include exactly one of the following types of actions:\n    <code>forward </code>or <code>fixed-response</code>, and it must be the last action to be\n   performed.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a service. A service is any software application that can run on instances\n   containers, or serverless functions within an account or virtual private cloud (VPC).</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/services.html\">Services</a> in the\n   <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/services"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a service network. A service network is a logical boundary for a collection of\n   services. You can associate services and VPCs with a service network.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/service-networks.html\">Service networks</a> in the\n    <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/servicenetworks"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\n  the idempotency of the request. If you retry a request that completed successfully using\n  the same client token and parameters, the retry succeeds without performing any actions.\n  If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service network. The name must be unique to the account. The valid characters are a-z, 0-9, and hyphens (-). You can't use a \n  hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "authType": {
          "target": "com.amazonaws.vpclattice#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IAM policy.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NONE</code>: The resource does not use an IAM policy. This is the default.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_IAM</code>: The resource uses an IAM policy. When this type is used, auth is enabled and an auth policy is required.</p>\n            </li>\n         </ul>"
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the service network.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service network.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service network.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service network.</p>"
          }
        },
        "authType": {
          "target": "com.amazonaws.vpclattice#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IAM policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a service with a service network.</p>\n         <p>You can't use this operation if the service and service network are already associated or if\n   there is a disassociation or deletion in progress. If the association fails, you can retry the\n   operation by deleting the association and recreating it.</p>\n         <p>You cannot associate a service and service network that are shared with a caller. The caller\n   must own either the service or the service network.</p>\n         <p>As a result of this operation, the association is created in the service network account and\n   the association owner account.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/servicenetworkserviceassociations",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociationRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\n  the idempotency of the request. If you retry a request that completed successfully using\n  the same client token and parameters, the retry succeeds without performing any actions.\n  If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceNetworkIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service network. You must use the ARN if the\n   resources specified in the operation are in different accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the association.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The operation's status.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the association.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.vpclattice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account that created the association.</p>"
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.vpclattice#ServiceCustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name of the service.</p>"
          }
        },
        "dnsEntry": {
          "target": "com.amazonaws.vpclattice#DnsEntry",
          "traits": {
            "smithy.api#documentation": "<p>The DNS name of the service.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a VPC with a service network. When you associate a VPC with the service network,\n   it enables all the resources within that VPC to be clients and communicate with other services in\n   the service network. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/service-network-associations.html#service-network-vpc-associations\">Manage VPC associations</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>\n         <p>You can't use this operation if there is a disassociation in progress. If the association\n   fails, retry by deleting the association and recreating it.</p>\n         <p>As a result of this operation, the association gets created in the service network account\n   and the VPC owner account.</p>\n         <p>Once a security group is added to the VPC association it cannot be removed. You can add or\n   update the security groups being used for the VPC association once a security group is attached.\n   To remove all security groups you must reassociate the VPC.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/servicenetworkvpcassociations",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociationRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\n  the idempotency of the request. If you retry a request that completed successfully using\n  the same client token and parameters, the retry succeeds without performing any actions.\n  If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "serviceNetworkIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service network. You must use the ARN when the\n   resources specified in the operation are in different accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcIdentifier": {
          "target": "com.amazonaws.vpclattice#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC.</p>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.vpclattice#SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups. Security groups aren't added by default. You can add a\n   security group to apply network level controls to control which resources in a VPC are allowed to\n   access the service network and its services. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_SecurityGroups.html\">Control traffic to\n    resources using security groups</a> in the <i>Amazon VPC User\n   Guide</i>.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 5
            }
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the association.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The operation's status.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the association.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.vpclattice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account that created the association.</p>"
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.vpclattice#SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\n  the idempotency of the request. If you retry a request that completed successfully using\n  the same client token and parameters, the retry succeeds without performing any actions.\n  If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service. The name must be unique within the account. The valid characters are a-z, 0-9, and hyphens (-). You can't use a \n  hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the service.</p>"
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.vpclattice#ServiceCustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name of the service.</p>"
          }
        },
        "certificateArn": {
          "target": "com.amazonaws.vpclattice#CertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate.</p>"
          }
        },
        "authType": {
          "target": "com.amazonaws.vpclattice#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IAM policy.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NONE</code>: The resource does not use an IAM policy. This is the default.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_IAM</code>: The resource uses an IAM policy. When this type is used, auth is enabled and an auth policy is required.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service.</p>"
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.vpclattice#ServiceCustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name of the service.</p>"
          }
        },
        "certificateArn": {
          "target": "com.amazonaws.vpclattice#CertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status. If the status is <code>CREATE_FAILED</code>, you will have to delete and\n   recreate the service.</p>"
          }
        },
        "authType": {
          "target": "com.amazonaws.vpclattice#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IAM policy.</p>"
          }
        },
        "dnsEntry": {
          "target": "com.amazonaws.vpclattice#DnsEntry",
          "traits": {
            "smithy.api#documentation": "<p>The public DNS name of the service.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateTargetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateTargetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateTargetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a target group. A target group is a collection of targets, or compute resources,\n   that run your application or service. A target group can only be used by a single service.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/target-groups.html\">Target groups</a> in the\n    <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "uri": "/targetgroups",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateTargetGroupRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.vpclattice#TargetGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target group. The name must be unique within the account. The valid characters are a-z, 0-9, and hyphens (-). You can't use a \n  hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.vpclattice#TargetGroupType",
          "traits": {
            "smithy.api#documentation": "<p>The type of target group.</p>",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.amazonaws.vpclattice#TargetGroupConfig",
          "traits": {
            "smithy.api#documentation": "<p>The target group configuration. If <code>type</code> is set to <code>LAMBDA</code>, this\n   parameter doesn't apply.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\n  the idempotency of the request. If you retry a request that completed successfully using\n  the same client token and parameters, the retry succeeds without performing any actions.\n  If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the target group.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateTargetGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#TargetGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the target group.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#TargetGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target group.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.vpclattice#TargetGroupType",
          "traits": {
            "smithy.api#documentation": "<p>The type of target group.</p>"
          }
        },
        "config": {
          "target": "com.amazonaws.vpclattice#TargetGroupConfig",
          "traits": {
            "smithy.api#documentation": "<p>The target group configuration. If <code>type</code> is set to <code>LAMBDA</code>, this\n   parameter doesn't apply.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#TargetGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The operation's status. You can retry the operation if the status is\n    <code>CREATE_FAILED</code>. However, if you retry it while the status is\n    <code>CREATE_IN_PROGRESS</code>, there is no change in the status. </p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteAccessLogSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteAccessLogSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteAccessLogSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified access log subscription.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/accesslogsubscriptions/{accessLogSubscriptionIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteAccessLogSubscriptionRequest": {
      "type": "structure",
      "members": {
        "accessLogSubscriptionIdentifier": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the access log subscription.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteAccessLogSubscriptionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteAuthPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteAuthPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteAuthPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified auth policy. If an auth is set to <code>Amazon Web Services_IAM</code>\n   and the auth policy is deleted, all requests will be denied by default. If you are trying to\n   remove the auth policy completely, you must set the auth_type to <code>NONE</code>. If auth is\n   enabled on the resource, but no auth policy is set, all requests will be denied.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/authpolicy/{resourceIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteAuthPolicyRequest": {
      "type": "structure",
      "members": {
        "resourceIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteAuthPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteListenerRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteListenerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified listener.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteListenerRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteListenerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource policy.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/resourcepolicy/{resourceArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.vpclattice#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteResourcePolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a listener rule. Each listener has a default rule for checking connection requests,\n   but you can define additional rules. Each rule consists of a priority, one or more actions, and\n   one or more conditions. You can delete additional listener rules, but you cannot delete the\n   default rule.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/listeners.html#listener-rules\">Listener rules</a> in the\n    <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules/{ruleIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteRuleRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleIdentifier": {
          "target": "com.amazonaws.vpclattice#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the rule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteRuleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a service. A service can't be deleted if it's associated with a service network. If\n   you delete a service, all resources related to the service, such as the resource policy, auth\n   policy, listeners, listener rules, and access log subscriptions, are also deleted. For more\n   information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/services.html#delete-service\">Delete a service</a> in the\n    <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/services/{serviceIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a service network. You can only delete the service network if there is no service or\n   VPC associated with it. If you delete a service network, all resources related to the service\n   network, such as the resource policy, auth policy, and access log subscriptions, are also\n   deleted. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/service-networks.html#delete-service-network\">Delete a service\n    network</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 204,
          "uri": "/servicenetworks/{serviceNetworkIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkRequest": {
      "type": "structure",
      "members": {
        "serviceNetworkIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or ID of the service network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkServiceAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkServiceAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkServiceAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the association between a specified service and the specific service network. This\n   request will fail if an association is still in progress.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/servicenetworkserviceassociations/{serviceNetworkServiceAssociationIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkServiceAssociationRequest": {
      "type": "structure",
      "members": {
        "serviceNetworkServiceAssociationIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the association.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkServiceAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The operation's status. You can retry the operation if the status is\n    <code>DELETE_FAILED</code>. However, if you retry it when the status is\n    <code>DELETE_IN_PROGRESS</code>, there is no change in the status.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the association.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkVpcAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkVpcAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkVpcAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the VPC from the service network. You can't disassociate the VPC if there is a\n   create or update association in progress.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/servicenetworkvpcassociations/{serviceNetworkVpcAssociationIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkVpcAssociationRequest": {
      "type": "structure",
      "members": {
        "serviceNetworkVpcAssociationIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the association.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkVpcAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status. You can retry the operation if the status is <code>DELETE_FAILED</code>.\n   However, if you retry it when the status is <code>DELETE_IN_PROGRESS</code>, there is no change\n   in the status.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the association.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status. You can retry the operation if the status is <code>DELETE_FAILED</code>.\n   However, if you retry it while the status is <code>DELETE_IN_PROGRESS</code>, the status doesn't\n   change.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteTargetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteTargetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteTargetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a target group. You can't delete a target group if it is used in a listener rule or\n   if the target group creation is in progress.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/targetgroups/{targetGroupIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteTargetGroupRequest": {
      "type": "structure",
      "members": {
        "targetGroupIdentifier": {
          "target": "com.amazonaws.vpclattice#TargetGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the target group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteTargetGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#TargetGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the target group.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#TargetGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status. You can retry the operation if the status is <code>DELETE_FAILED</code>.\n   However, if you retry it while the status is <code>DELETE_IN_PROGRESS</code>, the status doesn't\n   change.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeregisterTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeregisterTargetsRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeregisterTargetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters the specified targets from the specified target group.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/targetgroups/{targetGroupIdentifier}/deregistertargets",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeregisterTargetsRequest": {
      "type": "structure",
      "members": {
        "targetGroupIdentifier": {
          "target": "com.amazonaws.vpclattice#TargetGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the target group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.amazonaws.vpclattice#TargetList",
          "traits": {
            "smithy.api#documentation": "<p>The targets to deregister.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeregisterTargetsResponse": {
      "type": "structure",
      "members": {
        "successful": {
          "target": "com.amazonaws.vpclattice#TargetList",
          "traits": {
            "smithy.api#documentation": "<p>The targets that were successfully deregistered.</p>"
          }
        },
        "unsuccessful": {
          "target": "com.amazonaws.vpclattice#TargetFailureList",
          "traits": {
            "smithy.api#documentation": "<p>The targets that the operation couldn't deregister.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DnsEntry": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The domain name of the service.</p>"
          }
        },
        "hostedZoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the hosted zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the DNS information of a service.</p>"
      }
    },
    "com.amazonaws.vpclattice#FailureCode": {
      "type": "string"
    },
    "com.amazonaws.vpclattice#FailureMessage": {
      "type": "string"
    },
    "com.amazonaws.vpclattice#FixedResponseAction": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "com.amazonaws.vpclattice#HttpStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP response code.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an action that returns a custom HTTP response. </p>"
      }
    },
    "com.amazonaws.vpclattice#ForwardAction": {
      "type": "structure",
      "members": {
        "targetGroups": {
          "target": "com.amazonaws.vpclattice#WeightedTargetGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The target groups. Traffic matching the rule is forwarded to the specified target groups.\n   With forward actions, you can assign a weight that controls the prioritization and selection of\n   each target group. This means that requests are distributed to individual target groups based on\n   their weights. For example, if two target groups have the same weight, each target group receives\n   half of the traffic.</p>\n         <p>The default value is 1. This means that if only one target group is provided, there is no\n   need to set the weight; 100% of traffic will go to that target group.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a forward action. You can use forward actions to route requests to one or more\n   target groups.\n   </p>"
      }
    },
    "com.amazonaws.vpclattice#GetAccessLogSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#GetAccessLogSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#GetAccessLogSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the specified access log subscription.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/accesslogsubscriptions/{accessLogSubscriptionIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.vpclattice#GetAccessLogSubscriptionRequest": {
      "type": "structure",
      "members": {
        "accessLogSubscriptionIdentifier": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the access log subscription.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetAccessLogSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access log subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the access log subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.vpclattice#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service network or service.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.vpclattice#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service network or service.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationArn": {
          "target": "com.amazonaws.vpclattice#AccessLogDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the access log destination.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the access log subscription was created, specified in ISO-8601\n   format.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the access log subscription was last updated, specified in ISO-8601\n   format.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetAuthPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#GetAuthPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#GetAuthPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the auth policy for the specified service or service\n   network.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/authpolicy/{resourceIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.vpclattice#GetAuthPolicyRequest": {
      "type": "structure",
      "members": {
        "resourceIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service network or service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetAuthPolicyResponse": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.amazonaws.vpclattice#AuthPolicyString",
          "traits": {
            "smithy.api#documentation": "<p>The auth policy.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.vpclattice#AuthPolicyState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the auth policy. The auth policy is only active when the auth type is set to\n     <code>Amazon Web Services_IAM</code>. If you provide a policy, then authentication and\n   authorization decisions are made based on this policy and the client's IAM policy. If the auth\n   type is <code>NONE</code>, then any auth policy you provide will remain inactive. For more\n   information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/service-networks.html#create-service-network\">Create a service\n    network</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the auth policy was created, specified in ISO-8601 format.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the auth policy was last updated, specified in ISO-8601\n   format.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#GetListenerRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#GetListenerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the specified listener for the specified service.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.vpclattice#GetListenerRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetListenerResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.vpclattice#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.vpclattice#ListenerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the listener.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ListenerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the listener.</p>"
          }
        },
        "protocol": {
          "target": "com.amazonaws.vpclattice#ListenerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The listener protocol.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.vpclattice#Port",
          "traits": {
            "smithy.api#documentation": "<p>The listener port.</p>"
          }
        },
        "serviceArn": {
          "target": "com.amazonaws.vpclattice#ServiceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service.</p>"
          }
        },
        "serviceId": {
          "target": "com.amazonaws.vpclattice#ServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service.</p>"
          }
        },
        "defaultAction": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The actions for the default listener rule.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the listener was created, specified in ISO-8601 format.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the listener was last updated, specified in ISO-8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#GetResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#GetResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the resource policy. The resource policy is an IAM policy\n   created by AWS RAM on behalf of the resource owner when they share a resource.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/resourcepolicy/{resourceArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.vpclattice#GetResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.vpclattice#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>An IAM policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.amazonaws.vpclattice#PolicyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service network or service.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#GetRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#GetRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about listener rules. You can also retrieve information about the\n   default listener rule. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/listeners.html#listener-rules\">Listener rules</a> in the\n    <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules/{ruleIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.vpclattice#GetRuleRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleIdentifier": {
          "target": "com.amazonaws.vpclattice#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the listener rule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetRuleResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.vpclattice#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.vpclattice#RuleId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the listener.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the listener.</p>"
          }
        },
        "isDefault": {
          "target": "com.amazonaws.vpclattice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether this is the default rule.</p>"
          }
        },
        "match": {
          "target": "com.amazonaws.vpclattice#RuleMatch",
          "traits": {
            "smithy.api#documentation": "<p>The rule match.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.vpclattice#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority level for the specified rule.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action for the default rule.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the listener rule was created, specified in ISO-8601 format.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the listener rule was last updated, specified in ISO-8601\n   format.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#GetService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#GetServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#GetServiceResponse"
      },
      "errors": [
        {
[...]
