{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.vpclattice#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user does not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.vpclattice#AccessLogDestinationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:([^/].*)?$"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscription": {
      "type": "resource",
      "identifiers": {
        "accessLogSubscriptionIdentifier": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.vpclattice#CreateAccessLogSubscription"
      },
      "read": {
        "target": "com.amazonaws.vpclattice#GetAccessLogSubscription"
      },
      "update": {
        "target": "com.amazonaws.vpclattice#UpdateAccessLogSubscription"
      },
      "delete": {
        "target": "com.amazonaws.vpclattice#DeleteAccessLogSubscription"
      },
      "list": {
        "target": "com.amazonaws.vpclattice#ListAccessLogSubscriptions"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[a-z0-9\\-]+:vpc-lattice:[a-zA-Z0-9\\-]+:\\d{12}:accesslogsubscription/als-[0-9a-z]{17}$"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 21,
          "max": 21
        },
        "smithy.api#pattern": "^als-[0-9a-z]{17}$"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 17,
          "max": 2048
        },
        "smithy.api#pattern": "^((als-[0-9a-z]{17})|(arn:[a-z0-9\\-]+:vpc-lattice:[a-zA-Z0-9\\-]+:\\d{12}:accesslogsubscription/als-[0-9a-z]{17}))$"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.vpclattice#AccessLogSubscriptionSummary"
      }
    },
    "com.amazonaws.vpclattice#AccessLogSubscriptionSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access log subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the access log subscription</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.vpclattice#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service or service network.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.vpclattice#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service or service network.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationArn": {
          "target": "com.amazonaws.vpclattice#AccessLogDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceNetworkLogType": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkLogType",
          "traits": {
            "smithy.api#documentation": "<p>Log type of the service network.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the access log subscription was created, in ISO-8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the access log subscription was last updated, in ISO-8601 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about an access log subscription.</p>"
      }
    },
    "com.amazonaws.vpclattice#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.vpclattice#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1224
        },
        "smithy.api#pattern": "^arn:[a-z0-9][-.a-z0-9]{0,62}:vpc-lattice:([a-z0-9][-.a-z0-9]{0,62})?:\\d{12}?:[^/].{0,1023}$"
      }
    },
    "com.amazonaws.vpclattice#ArnResource": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.vpclattice#WildcardArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
      }
    },
    "com.amazonaws.vpclattice#AuthPolicyState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "Active",
            "value": "Active"
          },
          {
            "name": "Inactive",
            "value": "Inactive"
          }
        ]
      }
    },
    "com.amazonaws.vpclattice#AuthPolicyString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 36864
        }
      }
    },
    "com.amazonaws.vpclattice#AuthType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "NONE",
            "value": "NONE"
          },
          {
            "name": "AWS_IAM",
            "value": "AWS_IAM"
          }
        ]
      }
    },
    "com.amazonaws.vpclattice#BatchUpdateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#BatchUpdateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#BatchUpdateRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the listener rules in a batch. You can use this operation to change the priority of listener rules. This can be useful when bulk updating or swapping rule priority.</p> <p> <b>Required permissions:</b> <code>vpc-lattice:UpdateRule</code> </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/security_iam_service-with-iam.html\">How Amazon VPC Lattice works with IAM</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PATCH",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#BatchUpdateRuleRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.amazonaws.vpclattice#RuleUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>The rules for the specified listener.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#BatchUpdateRuleResponse": {
      "type": "structure",
      "members": {
        "successful": {
          "target": "com.amazonaws.vpclattice#RuleUpdateSuccessList",
          "traits": {
            "smithy.api#documentation": "<p>The rules that were successfully updated.</p>"
          }
        },
        "unsuccessful": {
          "target": "com.amazonaws.vpclattice#RuleUpdateFailureList",
          "traits": {
            "smithy.api#documentation": "<p>The rules that the operation couldn't update.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.vpclattice#CertificateArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:certificate/[0-9a-z-]+)?$"
      }
    },
    "com.amazonaws.vpclattice#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[!-~]+"
      }
    },
    "com.amazonaws.vpclattice#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request conflicts with the current state of the resource. Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.vpclattice#CreateAccessLogSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateAccessLogSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateAccessLogSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables access logs to be sent to Amazon CloudWatch, Amazon S3, and Amazon Kinesis Data Firehose. The service network owner can use the access logs to audit the services in the network. The service network owner can only see access logs from clients and services that are associated with their service network. Access log entries represent traffic originated from VPCs associated with that network. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/monitoring-access-logs.html\">Access logs</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/accesslogsubscriptions"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateAccessLogSubscriptionRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "resourceIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service network or service.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationArn": {
          "target": "com.amazonaws.vpclattice#AccessLogDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination. The supported destination types are CloudWatch Log groups, Kinesis Data Firehose delivery streams, and Amazon S3 buckets.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceNetworkLogType": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkLogType",
          "traits": {
            "smithy.api#documentation": "<p>The type of log that monitors your Amazon VPC Lattice service networks.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the access log subscription.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateAccessLogSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access log subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the access log subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.vpclattice#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service network or service.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.vpclattice#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service network or service.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceNetworkLogType": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkLogType",
          "traits": {
            "smithy.api#documentation": "<p>The type of log that monitors your Amazon VPC Lattice service networks.</p>"
          }
        },
        "destinationArn": {
          "target": "com.amazonaws.vpclattice#AccessLogDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the log destination.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateListenerRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateListenerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a listener for a service. Before you start using your Amazon VPC Lattice service, you must add one or more listeners. A listener is a process that checks for connection requests to your services. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/listeners.html\">Listeners</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/services/{serviceIdentifier}/listeners"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateListenerRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ListenerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the listener. A listener name must be unique within a service. The valid characters are a-z, 0-9, and hyphens (-). You can't use a hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "com.amazonaws.vpclattice#ListenerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The listener protocol.</p>",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "com.amazonaws.vpclattice#Port",
          "traits": {
            "smithy.api#documentation": "<p>The listener port. You can specify a value from 1 to 65535. For HTTP, the default is 80. For HTTPS, the default is 443.</p>"
          }
        },
        "defaultAction": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action for the default rule. Each listener has a default rule. The default rule is used if no other rules match.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the listener.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateListenerResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.vpclattice#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.vpclattice#ListenerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the listener.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ListenerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the listener.</p>"
          }
        },
        "protocol": {
          "target": "com.amazonaws.vpclattice#ListenerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol of the listener.</p>"
          }
        },
        "port": {
          "target": "com.amazonaws.vpclattice#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number of the listener.</p>"
          }
        },
        "serviceArn": {
          "target": "com.amazonaws.vpclattice#ServiceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service.</p>"
          }
        },
        "serviceId": {
          "target": "com.amazonaws.vpclattice#ServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service.</p>"
          }
        },
        "defaultAction": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action for the default rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateResourceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateResourceConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateResourceConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource configuration. A resource configuration defines a specific resource. You can associate a resource configuration with a service network or a VPC endpoint.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/resourceconfigurations"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateResourceConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource configuration. The name must be unique within the account. The valid characters are a-z, 0-9, and hyphens (-). You can't use a hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource configuration. A resource configuration can be one of the following types:</p> <ul> <li> <p> <b>SINGLE</b> - A single resource.</p> </li> <li> <p> <b>GROUP</b> - A group of resources. You must create a group resource configuration before you create a child resource configuration.</p> </li> <li> <p> <b>CHILD</b> - A single resource that is part of a group resource configuration.</p> </li> <li> <p> <b>ARN</b> - An Amazon Web Services resource.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "portRanges": {
          "target": "com.amazonaws.vpclattice#PortRangeList",
          "traits": {
            "smithy.api#documentation": "<p>(SINGLE, GROUP, CHILD) The TCP port ranges that a consumer can use to access a resource configuration (for example: 1-65535). You can separate port ranges using commas (for example: 1,2,22-30).</p>"
          }
        },
        "protocol": {
          "target": "com.amazonaws.vpclattice#ProtocolType",
          "traits": {
            "smithy.api#documentation": "<p>(SINGLE, GROUP) The protocol accepted by the resource configuration.</p>"
          }
        },
        "resourceGatewayIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>(SINGLE, GROUP, ARN) The ID or ARN of the resource gateway used to connect to the resource configuration. For a child resource configuration, this value is inherited from the parent resource configuration.</p>"
          }
        },
        "resourceConfigurationGroupIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>(CHILD) The ID or ARN of the parent resource configuration of type <code>GROUP</code>. This is used to associate a child resource configuration with a group resource configuration.</p>"
          }
        },
        "resourceConfigurationDefinition": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the resource configuration in one of the following ways:</p> <ul> <li> <p> <b>Amazon Resource Name (ARN)</b> - Supported resource-types that are provisioned by Amazon Web Services services, such as RDS databases, can be identified by their ARN.</p> </li> <li> <p> <b>Domain name</b> - Any domain name that is publicly resolvable.</p> </li> <li> <p> <b>IP address</b> - For IPv4 and IPv6, only IP addresses in the VPC are supported.</p> </li> </ul>"
          }
        },
        "allowAssociationToShareableServiceNetwork": {
          "target": "com.amazonaws.vpclattice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>(SINGLE, GROUP, ARN) Specifies whether the resource configuration can be associated with a sharable service network. The default is false.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the resource configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.vpclattice#CreateResourceConfigurationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource configuration.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource configuration.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource configuration.</p>"
          }
        },
        "resourceGatewayId": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource gateway associated with the resource configuration.</p>"
          }
        },
        "resourceConfigurationGroupId": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent resource configuration of type <code>GROUP</code>.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource configuration. A resource configuration can be one of the following types:</p> <ul> <li> <p> <b>SINGLE</b> - A single resource.</p> </li> <li> <p> <b>GROUP</b> - A group of resources. You must create a group resource configuration before you create a child resource configuration.</p> </li> <li> <p> <b>CHILD</b> - A single resource that is part of a group resource configuration.</p> </li> <li> <p> <b>ARN</b> - An Amazon Web Services resource.</p> </li> </ul>"
          }
        },
        "portRanges": {
          "target": "com.amazonaws.vpclattice#PortRangeList",
          "traits": {
            "smithy.api#documentation": "<p>The port range.</p>"
          }
        },
        "protocol": {
          "target": "com.amazonaws.vpclattice#ProtocolType",
          "traits": {
            "smithy.api#documentation": "<p>The protocol.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the resource configuration.</p>"
          }
        },
        "resourceConfigurationDefinition": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the resource configuration in one of the following ways:</p> <ul> <li> <p> <b>Amazon Resource Name (ARN)</b> - Supported resource-types that are provisioned by Amazon Web Services services, such as RDS databases, can be identified by their ARN.</p> </li> <li> <p> <b>Domain name</b> - Any domain name that is publicly resolvable.</p> </li> <li> <p> <b>IP address</b> - For IPv4 and IPv6, only IP addresses in the VPC are supported.</p> </li> </ul>"
          }
        },
        "allowAssociationToShareableServiceNetwork": {
          "target": "com.amazonaws.vpclattice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the resource configuration can be associated with a sharable service network.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.vpclattice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the resource configuration was created, in ISO-8601 format.</p>"
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the request failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.vpclattice#CreateResourceGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateResourceGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateResourceGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A resource gateway is a point of ingress into the VPC where a resource resides. It spans multiple Availability Zones. For your resource to be accessible from all Availability Zones, you should create your resource gateways to span as many Availability Zones as possible. A VPC can have multiple resource gateways.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/resourcegateways"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateResourceGatewayRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcIdentifier": {
          "target": "com.amazonaws.vpclattice#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC for the resource gateway.</p>"
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.vpclattice#SubnetList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the VPC subnets in which to create the resource gateway.</p>"
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.vpclattice#SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups to apply to the resource gateway. The security groups must be in the same VPC.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 5
            }
          }
        },
        "ipAddressType": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayIpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>A resource gateway can have IPv4, IPv6 or dualstack addresses. The IP address type of a resource gateway must be compatible with the subnets of the resource gateway and the IP address type of the resource, as described here: </p> <ul> <li> <p> <b>IPv4</b>Assign IPv4 addresses to your resource gateway network interfaces. This option is supported only if all selected subnets have IPv4 address ranges, and the resource also has an IPv4 address.</p> </li> <li> <p> <b>IPv6</b>Assign IPv6 addresses to your resource gateway network interfaces. This option is supported only if all selected subnets are IPv6 only subnets, and the resource also has an IPv6 address.</p> </li> <li> <p> <b>Dualstack</b>Assign both IPv4 and IPv6 addresses to your resource gateway network interfaces. This option is supported only if all selected subnets have both IPv4 and IPv6 address ranges, and the resource either has an IPv4 or IPv6 address.</p> </li> </ul> <p>The IP address type of the resource gateway is independent of the IP address type of the client or the VPC endpoint through which the resource is accessed.</p>"
          }
        },
        "ipv4AddressesPerEni": {
          "target": "com.amazonaws.vpclattice#Ipv4AddressesPerEni",
          "traits": {
            "smithy.api#documentation": "<p>The number of IPv4 addresses in each ENI for the resource gateway.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the resource gateway.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.vpclattice#CreateResourceGatewayResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource gateway.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource gateway.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource gateway.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the resource gateway.</p>"
          }
        },
        "vpcIdentifier": {
          "target": "com.amazonaws.vpclattice#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC.</p>"
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.vpclattice#SubnetList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the resource gateway subnets.</p>"
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.vpclattice#SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups for the resource gateway.</p>"
          }
        },
        "ipAddressType": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayIpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IP address for the resource gateway.</p>"
          }
        },
        "ipv4AddressesPerEni": {
          "target": "com.amazonaws.vpclattice#Ipv4AddressesPerEni",
          "traits": {
            "smithy.api#documentation": "<p>The number of IPv4 addresses in each ENI for the resource gateway.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.vpclattice#CreateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a listener rule. Each listener has a default rule for checking connection requests, but you can define additional rules. Each rule consists of a priority, one or more actions, and one or more conditions. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/listeners.html#listener-rules\">Listener rules</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateRuleRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule. The name must be unique within the listener. The valid characters are a-z, 0-9, and hyphens (-). You can't use a hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "com.amazonaws.vpclattice#RuleMatch",
          "traits": {
            "smithy.api#documentation": "<p>The rule match.</p>",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.amazonaws.vpclattice#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority assigned to the rule. Each rule for a specific listener must have a unique priority. The lower the priority number the higher the priority.</p>",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action for the default rule.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateRuleResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.vpclattice#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.vpclattice#RuleId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the rule.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>"
          }
        },
        "match": {
          "target": "com.amazonaws.vpclattice#RuleMatch",
          "traits": {
            "smithy.api#documentation": "<p>The rule match. The <code>RuleMatch</code> must be an <code>HttpMatch</code>. This means that the rule should be an exact match on HTTP constraints which are made up of the HTTP method, path, and header.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.vpclattice#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority assigned to the rule. The lower the priority number the higher the priority.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.vpclattice#RuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The rule action.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a service. A service is any software application that can run on instances containers, or serverless functions within an account or virtual private cloud (VPC).</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/services.html\">Services</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/services"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a service network. A service network is a logical boundary for a collection of services. You can associate services and VPCs with a service network.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/service-networks.html\">Service networks</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/servicenetworks"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service network. The name must be unique to the account. The valid characters are a-z, 0-9, and hyphens (-). You can't use a hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "authType": {
          "target": "com.amazonaws.vpclattice#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IAM policy.</p> <ul> <li> <p> <code>NONE</code>: The resource does not use an IAM policy. This is the default.</p> </li> <li> <p> <code>AWS_IAM</code>: The resource uses an IAM policy. When this type is used, auth is enabled and an auth policy is required.</p> </li> </ul>"
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the service network.</p>"
          }
        },
        "sharingConfig": {
          "target": "com.amazonaws.vpclattice#SharingConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specify if the service network should be enabled for sharing.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkResourceAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkResourceAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkResourceAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified service network with the specified resource configuration. This allows the resource configuration to receive connections through the service network, including through a service network VPC endpoint.</p>",
        "smithy.api#http": {
          "code": 201,
          "uri": "/servicenetworkresourceassociations",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkResourceAssociationRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "resourceConfigurationIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource configuration to associate with the service network.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceNetworkIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkIdentifierWithoutRegex",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service network to associate with the resource configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A key-value pair to associate with a resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkResourceAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkResourceAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkResourceAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the association.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkResourceAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the association.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.vpclattice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that created the association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service network.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service network.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service network.</p>"
          }
        },
        "sharingConfig": {
          "target": "com.amazonaws.vpclattice#SharingConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if the service network is enabled for sharing.</p>"
          }
        },
        "authType": {
          "target": "com.amazonaws.vpclattice#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IAM policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified service with the specified service network. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/service-network-associations.html#service-network-service-associations\">Manage service associations</a> in the <i>Amazon VPC Lattice User Guide</i>.</p> <p>You can't use this operation if the service and service network are already associated or if there is a disassociation or deletion in progress. If the association fails, you can retry the operation by deleting the association and recreating it.</p> <p>You cannot associate a service and service network that are shared with a caller. The caller must own either the service or the service network.</p> <p>As a result of this operation, the association is created in the service network account and the association owner account.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/servicenetworkserviceassociations",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociationRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceNetworkIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service network. You must use an ARN if the resources are in different accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the association.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkServiceAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The association status.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkServiceAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the association.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.vpclattice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account that created the association.</p>"
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.vpclattice#ServiceCustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name of the service.</p>"
          }
        },
        "dnsEntry": {
          "target": "com.amazonaws.vpclattice#DnsEntry",
          "traits": {
            "smithy.api#documentation": "<p>The DNS name of the service.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a VPC with a service network. When you associate a VPC with the service network, it enables all the resources within that VPC to be clients and communicate with other services in the service network. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/service-network-associations.html#service-network-vpc-associations\">Manage VPC associations</a> in the <i>Amazon VPC Lattice User Guide</i>.</p> <p>You can't use this operation if there is a disassociation in progress. If the association fails, retry by deleting the association and recreating it.</p> <p>As a result of this operation, the association gets created in the service network account and the VPC owner account.</p> <p>If you add a security group to the service network and VPC association, the association must continue to always have at least one security group. You can add or edit security groups at any time. However, to remove all security groups, you must first delete the association and recreate it without security groups.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/servicenetworkvpcassociations",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociationRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "serviceNetworkIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service network. You must use an ARN if the resources are in different accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcIdentifier": {
          "target": "com.amazonaws.vpclattice#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC.</p>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.vpclattice#SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups. Security groups aren't added by default. You can add a security group to apply network level controls to control which resources in a VPC are allowed to access the service network and its services. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_SecurityGroups.html\">Control traffic to resources using security groups</a> in the <i>Amazon VPC User Guide</i>.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 5
            }
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the association.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceNetworkVpcAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The association status.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkVpcAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the association.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.vpclattice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account that created the association.</p>"
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.vpclattice#SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service. The name must be unique within the account. The valid characters are a-z, 0-9, and hyphens (-). You can't use a hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the service.</p>"
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.vpclattice#ServiceCustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name of the service.</p>"
          }
        },
        "certificateArn": {
          "target": "com.amazonaws.vpclattice#CertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate.</p>"
          }
        },
        "authType": {
          "target": "com.amazonaws.vpclattice#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IAM policy.</p> <ul> <li> <p> <code>NONE</code>: The resource does not use an IAM policy. This is the default.</p> </li> <li> <p> <code>AWS_IAM</code>: The resource uses an IAM policy. When this type is used, auth is enabled and an auth policy is required.</p> </li> </ul>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateServiceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service.</p>"
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.vpclattice#ServiceCustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name of the service.</p>"
          }
        },
        "certificateArn": {
          "target": "com.amazonaws.vpclattice#CertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status. If the status is <code>CREATE_FAILED</code>, you must delete and recreate the service.</p>"
          }
        },
        "authType": {
          "target": "com.amazonaws.vpclattice#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IAM policy.</p>"
          }
        },
        "dnsEntry": {
          "target": "com.amazonaws.vpclattice#DnsEntry",
          "traits": {
            "smithy.api#documentation": "<p>The public DNS name of the service.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateTargetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#CreateTargetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#CreateTargetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a target group. A target group is a collection of targets, or compute resources, that run your application or service. A target group can only be used by a single service.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/target-groups.html\">Target groups</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 201,
          "uri": "/targetgroups",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#CreateTargetGroupRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.vpclattice#TargetGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target group. The name must be unique within the account. The valid characters are a-z, 0-9, and hyphens (-). You can't use a hyphen as the first or last character, or immediately after another hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.vpclattice#TargetGroupType",
          "traits": {
            "smithy.api#documentation": "<p>The type of target group.</p>",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.amazonaws.vpclattice#TargetGroupConfig",
          "traits": {
            "smithy.api#documentation": "<p>The target group configuration.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.vpclattice#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token and parameters, the retry succeeds without performing any actions. If the parameters aren't identical, the retry fails.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.vpclattice#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the target group.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#CreateTargetGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#TargetGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the target group.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#TargetGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target group.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.vpclattice#TargetGroupType",
          "traits": {
            "smithy.api#documentation": "<p>The type of target group.</p>"
          }
        },
        "config": {
          "target": "com.amazonaws.vpclattice#TargetGroupConfig",
          "traits": {
            "smithy.api#documentation": "<p>The target group configuration.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#TargetGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status. You can retry the operation if the status is <code>CREATE_FAILED</code>. However, if you retry it while the status is <code>CREATE_IN_PROGRESS</code>, there is no change in the status.</p>"
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteAccessLogSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteAccessLogSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteAccessLogSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified access log subscription.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/accesslogsubscriptions/{accessLogSubscriptionIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteAccessLogSubscriptionRequest": {
      "type": "structure",
      "members": {
        "accessLogSubscriptionIdentifier": {
          "target": "com.amazonaws.vpclattice#AccessLogSubscriptionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the access log subscription.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteAccessLogSubscriptionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteAuthPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteAuthPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteAuthPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified auth policy. If an auth is set to <code>AWS_IAM</code> and the auth policy is deleted, all requests are denied. If you are trying to remove the auth policy completely, you must set the auth type to <code>NONE</code>. If auth is enabled on the resource, but no auth policy is set, all requests are denied.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/authpolicy/{resourceIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteAuthPolicyRequest": {
      "type": "structure",
      "members": {
        "resourceIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteAuthPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteListenerRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteListenerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified listener.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteListenerRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteListenerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteResourceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteResourceConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteResourceConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource configuration.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/resourceconfigurations/{resourceConfigurationIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourceConfigurationRequest": {
      "type": "structure",
      "members": {
        "resourceConfigurationIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the resource configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourceConfigurationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourceEndpointAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteResourceEndpointAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteResourceEndpointAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the resource configuration from the resource VPC endpoint.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/resourceendpointassociations/{resourceEndpointAssociationIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourceEndpointAssociationRequest": {
      "type": "structure",
      "members": {
        "resourceEndpointAssociationIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceEndpointAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the association.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourceEndpointAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ResourceEndpointAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ResourceEndpointAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the association.</p>"
          }
        },
        "resourceConfigurationId": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource configuration.</p>"
          }
        },
        "resourceConfigurationArn": {
          "target": "com.amazonaws.vpclattice#ResourceConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource configuration associated with the VPC endpoint of type resource.</p>"
          }
        },
        "vpcEndpointId": {
          "target": "com.amazonaws.vpclattice#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource VPC endpoint that is associated with the resource configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourceGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteResourceGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteResourceGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource gateway.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/resourcegateways/{resourceGatewayIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourceGatewayRequest": {
      "type": "structure",
      "members": {
        "resourceGatewayIdentifier": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the resource gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourceGatewayResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource gateway.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource gateway.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource gateway.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ResourceGatewayStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the resource gateway.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource policy.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/resourcepolicy/{resourceArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.vpclattice#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteResourcePolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a listener rule. Each listener has a default rule for checking connection requests, but you can define additional rules. Each rule consists of a priority, one or more actions, and one or more conditions. You can delete additional listener rules, but you cannot delete the default rule.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/listeners.html#listener-rules\">Listener rules</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules/{ruleIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteRuleRequest": {
      "type": "structure",
      "members": {
        "serviceIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listenerIdentifier": {
          "target": "com.amazonaws.vpclattice#ListenerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the listener.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleIdentifier": {
          "target": "com.amazonaws.vpclattice#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the rule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteRuleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.vpclattice#DeleteService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a service. A service can't be deleted if it's associated with a service network. If you delete a service, all resources related to the service, such as the resource policy, auth policy, listeners, listener rules, and access log subscriptions, are also deleted. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/services.html#delete-service\">Delete a service</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/services/{serviceIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a service network. You can only delete the service network if there is no service or VPC associated with it. If you delete a service network, all resources related to the service network, such as the resource policy, auth policy, and access log subscriptions, are also deleted. For more information, see <a href=\"https://docs.aws.amazon.com/vpc-lattice/latest/ug/service-networks.html#delete-service-network\">Delete a service network</a> in the <i>Amazon VPC Lattice User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 204,
          "uri": "/servicenetworks/{serviceNetworkIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkRequest": {
      "type": "structure",
      "members": {
        "serviceNetworkIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the service network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkResourceAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkResourceAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.vpclattice#DeleteServiceNetworkResourceAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.vpclattice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.vpclattice#ConflictException"
        },
        {
          "target": "com.amazonaws.vpclattice#InternalServerException"
        },
        {
          "target": "com.amazonaws.vpclattice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.vpclattice#ThrottlingException"
        },
        {
          "target": "com.amazonaws.vpclattice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the association between a service network and a resource configuration.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/servicenetworkresourceassociations/{serviceNetworkResourceAssociationIdentifier}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkResourceAssociationRequest": {
      "type": "structure",
      "members": {
        "serviceNetworkResourceAssociationIdentifier": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkResourceAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkResourceAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkResourceAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkResourceAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the association.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.vpclattice#ServiceNetworkResourceAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.vpclattice#DeleteServiceNetworkResponse": {
      "type": "structure",
      "members": {}
    },
[...]
