{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.gokucustomerapiservice.regional.v20161128#AWSWAF_Regional_20161128": {
      "type": "service",
      "version": "2016-11-28",
      "operations": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.regional.v20161128#AssociateWebACL"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.regional.v20161128#DisassociateWebACL"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.regional.v20161128#GetWebACLForResource"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.regional.v20161128#ListResourcesForWebACL"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateByteMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateGeoMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateIPSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRateBasedRule"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRule"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleGroup"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateWebACL"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateXssMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteByteMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteGeoMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteIPSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeletePermissionPolicy"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteRateBasedRule"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteRegexMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteRegexPatternSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteRule"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteRuleGroup"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteWebACL"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#DeleteXssMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetByteMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetChangeToken"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetChangeTokenStatus"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetGeoMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetIPSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetPermissionPolicy"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetRateBasedRule"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetRateBasedRuleManagedKeys"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetRegexMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetRegexPatternSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetRule"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetRuleGroup"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetSampledRequests"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetWebACL"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GetXssMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListActivatedRulesInRuleGroup"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListByteMatchSets"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListGeoMatchSets"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListIPSets"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListLoggingConfigurations"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListRateBasedRules"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListRegexMatchSets"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListRegexPatternSets"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListRuleGroups"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListRules"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListSizeConstraintSets"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListSqlInjectionMatchSets"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListSubscribedRuleGroups"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListWebACLs"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ListXssMatchSets"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#PutLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#PutPermissionPolicy"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#TagResource"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UntagResource"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateByteMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateGeoMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateIPSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateRateBasedRule"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateRegexMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateRule"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateRuleGroup"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateWebACL"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#UpdateXssMatchSet"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "WAF Regional",
          "arnNamespace": "waf-regional",
          "cloudFormationName": "WAFRegional",
          "cloudTrailEventSource": "v20161128.regional.gokucustomerapiservice.amazonaws.com"
        },
        "smithy.api#documentation": "<p>This is the <i>AWS WAF Regional API Reference</i> for using AWS WAF with Elastic Load Balancing (ELB) Application Load Balancers. The AWS WAF actions and data types listed in the reference are available for protecting Application Load Balancers. You can use these actions and data types by means of the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#waf_region\">AWS Regions and Endpoints</a>. This guide is for developers who need detailed information about the AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use the AWS WAF API, see the \n        <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS WAF Regional",
        "smithy.api#xmlNamespace": {
          "uri": "http://waf.amazonaws.com/doc/2015-08-24/"
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#Action": {
      "type": "string"
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ActivatedRule": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WafAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action that CloudFront or AWS WAF takes when a web request matches the conditions in the <code>Rule</code>.   \n\t\t\tValid values for <code>Action</code> include the following:</p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <code>ALLOW</code>: CloudFront responds with the requested object.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BLOCK</code>: CloudFront responds with an HTTP 403 (Forbidden) status code.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COUNT</code>: AWS WAF increments a counter of requests that match the conditions in the rule and then continues to \n\t\t\t\t\tinspect the web request based on the remaining rules in the web ACL. </p>\n            </li>\n         </ul>\n\t        <p>\n            <code>ActivatedRule|OverrideAction</code> applies only when updating or adding a\n            <code>RuleGroup</code> to a <code>WebACL</code>. In this\n         case,\n         you do not use <code>ActivatedRule|Action</code>. For all other update requests,\n            <code>ActivatedRule|Action</code> is used instead of\n            <code>ActivatedRule|OverrideAction</code>.</p>"
          }
        },
        "ExcludedRules": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ExcludedRules",
          "traits": {
            "smithy.api#documentation": "<p>An array of rules to exclude from a rule group. This is applicable only when the <code>ActivatedRule</code> refers to a <code>RuleGroup</code>.</p>\n         <p>Sometimes it is necessary to troubleshoot rule groups that are blocking traffic\n         unexpectedly (false positives). One troubleshooting technique is to identify the specific\n         rule within the rule group that is blocking the legitimate traffic and then disable\n         (exclude) that particular rule. You can exclude rules from both your own rule groups and\n         AWS Marketplace rule groups that have been associated with a web ACL.</p>\n         <p>Specifying <code>ExcludedRules</code> does not remove those rules from the rule group.\n         Rather, it changes the action for the rules to <code>COUNT</code>. Therefore, requests that\n         match an <code>ExcludedRule</code> are counted but not blocked. The <code>RuleGroup</code>\n         owner will receive COUNT metrics for each <code>ExcludedRule</code>.</p>\n         <p>If you want to exclude rules from a rule group that is already associated with a web ACL, perform the following steps:</p>\n         <ol>\n            <li>\n               <p>Use the AWS WAF logs to identify the IDs of the rules that you want to exclude.\n               For more information about the logs, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging.html\">Logging Web ACL Traffic\n                  Information</a>.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateWebACL</a> request that has two actions:</p>\n               <ul>\n                  <li>\n                     <p>The first action\n                     deletes\n                     the existing rule group from the web ACL. That is, in the <a>UpdateWebACL</a> request, the first <code>Updates:Action</code>\n                     should be <code>DELETE</code> and <code>Updates:ActivatedRule:RuleId</code>\n                     should be the rule group that contains the rules that you want to\n                     exclude.</p>\n                  </li>\n                  <li>\n                     <p>The second action\n                     inserts\n                     the same rule group back in, but specifying the rules to exclude. That is, the\n                     second <code>Updates:Action</code> should be <code>INSERT</code>,\n                        <code>Updates:ActivatedRule:RuleId</code> should be the rule group that you\n                     just removed, and <code>ExcludedRules</code> should contain the rules that you\n                     want to exclude.</p>\n                  </li>\n               </ul>\n          \n            </li>\n         </ol>"
          }
        },
        "OverrideAction": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WafOverrideAction",
          "traits": {
            "smithy.api#documentation": "<p>Use the <code>OverrideAction</code> to test your <code>RuleGroup</code>.</p>\n         <p>Any rule in a <code>RuleGroup</code> can potentially block a request. If you set the <code>OverrideAction</code> to <code>None</code>, the <code>RuleGroup</code> will block a request if any individual rule in the <code>RuleGroup</code> matches the request and is configured to block that request. However if you first want to test the <code>RuleGroup</code>, set the  <code>OverrideAction</code> to <code>Count</code>. The <code>RuleGroup</code> will then override any block action specified by individual rules contained within the group. Instead of blocking matching requests, those requests will be counted. You can view a record of counted requests using  <a>GetSampledRequests</a>. </p>\n\t        <p>\n            <code>ActivatedRule|OverrideAction</code> applies only when updating or adding a <code>RuleGroup</code> to a <code>WebACL</code>. In this case you do not use <code>ActivatedRule|Action</code>.  For all other update requests, <code>ActivatedRule|Action</code> is used instead of <code>ActivatedRule|OverrideAction</code>.</p>"
          }
        },
        "Priority": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the order in which the <code>Rules</code> in a <code>WebACL</code> are evaluated. Rules with a lower value for \n\t\t\t<code>Priority</code> are evaluated before <code>Rules</code> with a higher value. The value must be a unique integer. If you add multiple \n\t\t\t<code>Rules</code> to a <code>WebACL</code>, the values don't need to be consecutive.</p>",
            "smithy.api#required": true
          }
        },
        "RuleId": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>RuleId</code> for a <code>Rule</code>. You use <code>RuleId</code> to get more information about a <code>Rule</code> (see <a>GetRule</a>), \n\t\t\tupdate a <code>Rule</code> (see <a>UpdateRule</a>), insert a <code>Rule</code> into a <code>WebACL</code> or delete a \n\t\t\tone from a <code>WebACL</code> (see <a>UpdateWebACL</a>), or delete a <code>Rule</code> from AWS WAF (see <a>DeleteRule</a>).</p>\n\t\t       <p>\n            <code>RuleId</code> is returned by <a>CreateRule</a> and by <a>ListRules</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Type": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WafRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The rule type, either <code>REGULAR</code>, as defined by <a>Rule</a>, <code>RATE_BASED</code>, as defined by <a>RateBasedRule</a>, or <code>GROUP</code>, as defined by <a>RuleGroup</a>. The default is REGULAR. Although this field is optional, be aware that if you try to add a RATE_BASED rule to a web ACL without setting the type, the  <a>UpdateWebACL</a> request will fail because the request tries to add a REGULAR rule with the specified ID, which does not exist. \t\t\n\t\t\t</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>ActivatedRule</code> object in an <a>UpdateWebACL</a> request specifies a <code>Rule</code> that you want to insert or delete, \n\t\t\tthe priority of the <code>Rule</code> in the <code>WebACL</code>, and the action that you want AWS WAF to take when a web request matches the <code>Rule</code> \n\t\t\t(<code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>).</p>\n\t\t       <p>To specify whether to insert or delete a <code>Rule</code>, use the <code>Action</code> parameter in the <a>WebACLUpdate</a> data type.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ActivatedRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#ActivatedRule"
      }
    },
    "com.amazonaws.gokucustomerapiservice.regional.v20161128#AssociateWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.regional.v20161128#AssociateWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.regional.v20161128#AssociateWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a web ACL with a resource, either an application load balancer or Amazon API Gateway stage.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.regional.v20161128#AssociateWebACLRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the resource to be protected, either an application load balancer or Amazon API Gateway stage.  </p>\n         <p>The ARN should be in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Amazon API Gateway stage: <code>arn:aws:apigateway:<i>region</i>::/restapis/<i>api-id</i>/stages/<i>stage-name</i>\n                  </code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "WebACLId": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier (ID) for the web ACL. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.regional.v20161128#AssociateWebACLResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchSet": {
      "type": "structure",
      "members": {
        "ByteMatchSetId": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ByteMatchSetId</code> for a <code>ByteMatchSet</code>. You use <code>ByteMatchSetId</code> to get information about a \n\t\t\t<code>ByteMatchSet</code> (see <a>GetByteMatchSet</a>), update a <code>ByteMatchSet</code> (see <a>UpdateByteMatchSet</a>), \n\t\t\tinsert a <code>ByteMatchSet</code> into a <code>Rule</code> or delete one from a <code>Rule</code> (see <a>UpdateRule</a>), and  \n\t\t\tdelete a <code>ByteMatchSet</code> from AWS WAF (see <a>DeleteByteMatchSet</a>).</p>\n\t\t       <p>\n            <code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>.</p>",
            "smithy.api#required": true
          }
        },
        "ByteMatchTuples": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchTuples",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to search for in web requests, the location in requests that you want AWS WAF to search, and other settings.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a <code>ByteMatchSet</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In a <a>GetByteMatchSet</a> request, <code>ByteMatchSet</code> is a complex type that contains the <code>ByteMatchSetId</code> and \n\t\t\t<code>Name</code> of a <code>ByteMatchSet</code>, and the values that you specified when you updated the <code>ByteMatchSet</code>. </p>\n\t\t       <p>A complex type that contains <code>ByteMatchTuple</code> objects, which specify the parts of web requests that you \n\t\t\twant AWS WAF to inspect and the values that you want AWS WAF to search for. If a <code>ByteMatchSet</code> contains more than one \n\t\t\t<code>ByteMatchTuple</code> object, a request needs to match the settings in only one <code>ByteMatchTuple</code> \n\t\t\tto be considered a match.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchSetSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchSetSummary"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchSetSummary": {
      "type": "structure",
      "members": {
        "ByteMatchSetId": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ByteMatchSetId</code> for a <code>ByteMatchSet</code>. You use <code>ByteMatchSetId</code> to get information about a <code>ByteMatchSet</code>,\n\t\t\tupdate a <code>ByteMatchSet</code>, remove a <code>ByteMatchSet</code> from a <code>Rule</code>, and delete a <code>ByteMatchSet</code> from AWS WAF.</p>\n\t\t       <p>\n            <code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a <code>ByteMatchSet</code>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned by <a>ListByteMatchSets</a>. Each <code>ByteMatchSetSummary</code> object includes the <code>Name</code> and \n\t\t\t<code>ByteMatchSetId</code> for one <a>ByteMatchSet</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchSetUpdate": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to insert or delete a <a>ByteMatchTuple</a>.</p>",
            "smithy.api#required": true
          }
        },
        "ByteMatchTuple": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchTuple",
          "traits": {
            "smithy.api#documentation": "<p>Information about the part of a web request that you want AWS WAF to inspect and the value that you want AWS WAF to search for.\n\t\t\tIf you specify <code>DELETE</code> for the value of <code>Action</code>, the <code>ByteMatchTuple</code> values must \n\t\t\texactly match the values in the <code>ByteMatchTuple</code> that you want to delete from the <code>ByteMatchSet</code>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In an <a>UpdateByteMatchSet</a> request, <code>ByteMatchSetUpdate</code> specifies whether to insert or delete a \n\t\t\t<a>ByteMatchTuple</a> and includes the settings for the <code>ByteMatchTuple</code>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchSetUpdates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchSetUpdate"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchTargetString": {
      "type": "blob"
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchTuple": {
      "type": "structure",
      "members": {
        "FieldToMatch": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#FieldToMatch",
          "traits": {
            "smithy.api#documentation": "<p>The part of a web request that you want AWS WAF to search, such as a specified header or a query string. For more information, see \n\t\t\t<a>FieldToMatch</a>.</p>",
            "smithy.api#required": true
          }
        },
        "PositionalConstraint": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#PositionalConstraint",
          "traits": {
            "smithy.api#documentation": "<p>Within the portion of a web request that you want to search (for example, in the query string, if any), specify where you want AWS WAF to search. Valid values include the following:</p>\n\t\t       <p>\n            <b>CONTAINS</b>\n         </p>\n\t\t       <p>The specified part of the web request must include the value of <code>TargetString</code>, but the location doesn't matter.</p>\t\t\n\t\t       <p>\n            <b>CONTAINS_WORD</b>\n         </p>\n\t\t       <p>The specified part of the web request must include the value of <code>TargetString</code>, and \n\t\t\t<code>TargetString</code> must contain only alphanumeric characters or underscore (A-Z, a-z, 0-9, or _). In addition, \n\t\t\t<code>TargetString</code> must be a word, which means one of the following:</p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <code>TargetString</code> exactly matches the value of the specified part of the web request, such as the value of a \n\t\t\t\t\theader.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TargetString</code> is at the beginning of the specified part of the web request and is followed by a character \n\t\t\t\t\tother than an alphanumeric character or underscore (_), for example, <code>BadBot;</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TargetString</code> is at the end of the specified part of the web request and is preceded by a character \n\t\t\t\t\tother than an alphanumeric character or underscore (_), for example, <code>;BadBot</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TargetString</code> is in the middle of the specified part of the web request and is preceded and followed \n\t\t\t\t\tby characters other than alphanumeric characters or underscore (_), for example, <code>-BadBot;</code>.</p>\n            </li>\n         </ul>\n\t\t       <p>\n            <b>EXACTLY</b>\n         </p>\n\t\t       <p>The value of the specified part of the web request must exactly match the value of <code>TargetString</code>.</p>\n\t\t       <p>\n            <b>STARTS_WITH</b>\n         </p>\n\t\t       <p>The value of <code>TargetString</code> must appear at the beginning of the specified part of the web request.</p>\t\t\n\t\t       <p>\n            <b>ENDS_WITH</b>\n         </p>\n\t\t       <p>The value of <code>TargetString</code> must appear at the end of the specified part of the web request.</p>",
            "smithy.api#required": true
          }
        },
        "TargetString": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchTargetString",
          "traits": {
            "smithy.api#documentation": "<p>The value that you want AWS WAF to search for. AWS WAF searches for the specified string in the part of web requests that you \n\t\t\tspecified in <code>FieldToMatch</code>. The maximum length of the value is 50 bytes.</p>\n\t\t       <p>Valid values depend on the values that you specified for <code>FieldToMatch</code>:</p>\t\t\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>HEADER</code>: The value that you want AWS WAF to search for in the request header that you specified in \n\t\t\t\t<a>FieldToMatch</a>, for example, the value of the <code>User-Agent</code> or <code>Referer</code> header.</p>\n            </li>\n            <li>\n               <p>\n                  <code>METHOD</code>: The HTTP method, which indicates the type of operation specified in the request. \n\t\t\t\tCloudFront supports the following methods: <code>DELETE</code>, <code>GET</code>, <code>HEAD</code>, <code>OPTIONS</code>, \n\t\t\t\t<code>PATCH</code>, <code>POST</code>, and <code>PUT</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>QUERY_STRING</code>: The value that you want AWS WAF to search for in the query string, which is the part \n\t\t\t\tof a URL that appears after a <code>?</code> character.</p>\n            </li>\n            <li>\n               <p>\n                  <code>URI</code>: The value that you want AWS WAF to search for in the part of a URL that identifies a resource, \n\t\t\t\tfor example, <code>/images/daily-ad.jpg</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BODY</code>: The part of a request that contains any additional data that you want to send to your web server \n\t\t\t\tas the HTTP request body, such as data from a form. The request body immediately follows the request headers. \n\t\t\t\tNote that only the first <code>8192</code> bytes of the request body are forwarded to AWS WAF for inspection. \n\t\t\t\tTo allow or block requests based on the length of the body, you can create a size constraint set. \n\t\t\t\tFor more information, see <a>CreateSizeConstraintSet</a>. </p>\n            </li>\n            <li>\n\t\t             <p>\n\t\t                <code>SINGLE_QUERY_ARG</code>: The parameter in the query string that you will inspect, such as <i>UserName</i> or <i>SalesRegion</i>. The maximum length for <code>SINGLE_QUERY_ARG</code> is 30 characters.</p>\n\t\t          </li>\n            <li>\n\t\t             <p>\n                  <code>ALL_QUERY_ARGS</code>: Similar to <code>SINGLE_QUERY_ARG</code>, but instead of\n               inspecting a single parameter, AWS WAF inspects all parameters within the query\n               string for the value or regex pattern that you specify in\n               <code>TargetString</code>.</p>\n\t\t          </li>\n         </ul>\n\t\t\n\t\t       <p>If <code>TargetString</code> includes alphabetic characters A-Z and a-z, note that the value is case sensitive.</p>\n\t\t       <p>\n            <b>If you're using the AWS WAF API</b>\n         </p>\n\t\t       <p>Specify a base64-encoded version of the value. The maximum length of the value before you base64-encode it is 50 bytes.</p>\n\t\t       <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the\n         value of <code>Data</code> is <code>User-Agent</code>. If you want to search the\n            <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode\n            <code>BadBot</code> using MIME\n         base64-encoding\n         and include the resulting value, <code>QmFkQm90</code>, in the value of\n            <code>TargetString</code>.</p>\n\t\t       <p>\n            <b>If you're using the AWS CLI or one of the AWS SDKs</b>\n         </p>\n\t\t       <p>The value that you want AWS WAF to search for. The SDK automatically base64 encodes the value.</p>",
            "smithy.api#required": true
          }
        },
        "TextTransformation": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#TextTransformation",
          "traits": {
            "smithy.api#documentation": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass AWS WAF. \n\t\t\tIf you specify a transformation, AWS WAF performs the transformation on <code>TargetString</code> before inspecting a request for a match.</p>\n         <p>You can only specify a single type of TextTransformation.</p>\t\t\t\n\t\t       <p>\n            <b>CMD_LINE</b>\n         </p>\n\t\t       <p>When you're concerned that attackers are injecting an operating system command line\n         command and using unusual formatting to disguise some or all of the command, use this\n         option to perform the following transformations:</p>\n\t\t       <ul>\n            <li>\n               <p>Delete the following characters: \\ \" ' ^</p>\n            </li>\n            <li>\n               <p>Delete spaces before the following characters: / (</p>\n            </li>\n            <li>\n               <p>Replace the following characters with a space: , ;</p>\n            </li>\n            <li>\n               <p>Replace multiple spaces with one space</p>\n            </li>\n            <li>\n               <p>Convert uppercase letters (A-Z) to lowercase (a-z)</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>COMPRESS_WHITE_SPACE</b>\n         </p>\n\t\t       <p>Use this option to replace the following characters with a space character (decimal 32):</p>\n\t\t       <ul>\n            <li>\n               <p>\\f, formfeed, decimal 12</p>\n            </li>\n            <li>\n               <p>\\t, tab, decimal 9</p>\n            </li>\n            <li>\n               <p>\\n, newline, decimal 10</p>\n            </li>\n            <li>\n               <p>\\r, carriage return, decimal 13</p>\n            </li>\n            <li>\n               <p>\\v, vertical tab, decimal 11</p>\n            </li>\n            <li>\n               <p>non-breaking space, decimal 160</p>\n            </li>\n         </ul>\n\t\t       <p>\n            <code>COMPRESS_WHITE_SPACE</code> also replaces multiple spaces with one space.</p>\t\t\n\t\t       <p>\n            <b>HTML_ENTITY_DECODE</b>\n         </p>\n\t\t       <p>Use this option to replace HTML-encoded characters with unencoded characters. <code>HTML_ENTITY_DECODE</code> performs \n\t\t\tthe following operations:</p>\n\t\t       <ul>\n            <li>\n               <p>Replaces <code>(ampersand)quot;</code> with <code>\"</code>\n               </p>\n            </li>\n            <li>\n               <p>Replaces <code>(ampersand)nbsp;</code> with a non-breaking space, decimal 160</p>\n            </li>\n            <li>\n               <p>Replaces <code>(ampersand)lt;</code> with a \"less than\" symbol</p>\n            </li>\n            <li>\n               <p>Replaces <code>(ampersand)gt;</code> with <code>></code>\n               </p>\n            </li>\n            <li>\n               <p>Replaces characters that are represented in hexadecimal format, <code>(ampersand)#xhhhh;</code>, with the corresponding \n\t\t\t\tcharacters</p>\n            </li>\n            <li>\n               <p>Replaces characters that are represented in decimal format, <code>(ampersand)#nnnn;</code>, with the corresponding \n\t\t\t\tcharacters</p>\n            </li>\n         </ul>\t\t\n\t\t       <p>\n            <b>LOWERCASE</b>\n         </p>\n\t\t       <p>Use this option to convert uppercase letters (A-Z) to lowercase (a-z).</p>\t\t\n\t\t       <p>\n            <b>URL_DECODE</b>\n         </p>\n\t\t       <p>Use this option to decode a URL-encoded value.</p>\t\t\n\t\t       <p>\n            <b>NONE</b>\n         </p>\n\t\t       <p>Specify <code>NONE</code> if you don't want to perform any text transformations.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to search for in web requests, the location in requests that you want AWS WAF to search, and other settings.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchTuples": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchTuple"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ChangeAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "INSERT": {
            "name": "INSERT"
          },
          "DELETE": {
            "name": "DELETE"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ChangeTokenStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PROVISIONED": {
            "name": "PROVISIONED"
          },
          "PENDING": {
            "name": "PENDING"
          },
          "INSYNC": {
            "name": "INSYNC"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EQ": {
            "name": "EQ"
          },
          "NE": {
            "name": "NE"
          },
          "LE": {
            "name": "LE"
          },
          "LT": {
            "name": "LT"
          },
          "GE": {
            "name": "GE"
          },
          "GT": {
            "name": "GT"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#Country": {
      "type": "string"
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateByteMatchSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateByteMatchSetRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateByteMatchSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>ByteMatchSet</code>. You then use <a>UpdateByteMatchSet</a> to identify the part of a \n\t\t\tweb request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. \n\t\t\tFor example, you can create a <code>ByteMatchSet</code> that matches any requests with <code>User-Agent</code> headers \n\t\t\tthat contain the string <code>BadBot</code>. You can then configure AWS WAF to reject those requests.</p>\n\t\t       <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateByteMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateByteMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<code>UpdateByteMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateByteMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect \n\t\t\t\t(for example, the header or the URI) and the value that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateByteMatchSetRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a \n\t\t\t<code>ByteMatchSet</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateByteMatchSetResponse": {
      "type": "structure",
      "members": {
        "ByteMatchSet": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ByteMatchSet",
          "traits": {
            "smithy.api#documentation": "<p>A <a>ByteMatchSet</a> that contains no <code>ByteMatchTuple</code> objects.</p>"
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateByteMatchSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateGeoMatchSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateGeoMatchSetRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateGeoMatchSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <a>GeoMatchSet</a>, which you use to specify which web requests you want to allow or block based on the country \n\t\t\tthat the requests originate from. For example, if you're receiving a lot of requests from one or more countries and you want to block the requests, you can create an <code>GeoMatchSet</code> that contains those countries and then configure AWS WAF to block the requests. </p>\n\t\t       <p>To create and configure a <code>GeoMatchSet</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateGeoMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateGeoMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<a>UpdateGeoMatchSet</a> request.</p>\n            </li>\n            <li>\n               <p>Submit an <code>UpdateGeoMatchSetSet</code> request to specify the countries that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateGeoMatchSetRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>GeoMatchSet</a>. You can't change <code>Name</code> after you create the <code>GeoMatchSet</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateGeoMatchSetResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateGeoMatchSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "GeoMatchSet": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#GeoMatchSet",
          "traits": {
            "smithy.api#documentation": "<p>The <a>GeoMatchSet</a> returned in the <code>CreateGeoMatchSet</code> response. The <code>GeoMatchSet</code> contains no <code>GeoMatchConstraints</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <a>IPSet</a>, which you use to specify which web requests\n         that\n         you want to allow or block based on the IP addresses that the requests\n         originate from. For example, if you're receiving a lot of requests from one or more\n         individual IP addresses or one or more ranges of IP addresses and you want to block the\n         requests, you can create an <code>IPSet</code> that contains those IP addresses and then\n         configure AWS WAF to block the requests. </p>\n\t\t       <p>To create and configure an <code>IPSet</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateIPSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateIPSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<a>UpdateIPSet</a> request.</p>\n            </li>\n            <li>\n               <p>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateIPSetRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>IPSet</a>. You can't change <code>Name</code> after you create the <code>IPSet</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateIPSetResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateIPSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "IPSet": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#IPSet",
          "traits": {
            "smithy.api#documentation": "<p>The <a>IPSet</a> returned in the <code>CreateIPSet</code> response.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRateBasedRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRateBasedRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRateBasedRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFBadRequestException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>RateBasedRule</a>. The <code>RateBasedRule</code> contains a\n            <code>RateLimit</code>, which specifies the maximum number of requests that AWS WAF allows\n         from a specified IP address in a five-minute period. The <code>RateBasedRule</code> also\n         contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other\n         predicates that identify the requests that you want to count or block if these requests\n         exceed the <code>RateLimit</code>.</p>\n         <p>If you add more than one predicate to a <code>RateBasedRule</code>, a request not\n         only must exceed the <code>RateLimit</code>, but it also must match all the\n         specifications\n         to be counted or blocked. For example, suppose you add the following to a\n            <code>RateBasedRule</code>:</p>\n         <ul>\n            <li>\n               <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code>\n               </p>\n            </li>\n            <li>\n               <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the\n                  <code>User-Agent</code> header</p>\n            </li>\n         </ul>\n         <p>Further, you specify a <code>RateLimit</code> of 15,000.</p>\n         <p>You then add the <code>RateBasedRule</code> to a <code>WebACL</code> and specify that\n         you want to block requests that meet the conditions in the rule. For a request to be\n         blocked, it must come from the IP address 192.0.2.44 <i>and</i> the\n            <code>User-Agent</code> header in the request must contain the value\n         <code>BadBot</code>. Further, requests that match these two conditions must be received at\n         a rate of more than 15,000 requests every five minutes. If both conditions are met and the\n         rate is exceeded, AWS WAF blocks the requests. If the rate drops below 15,000 for a\n         five-minute period, AWS WAF no longer blocks the requests.</p>\n\t\t \n\t\t       <p>As a second example, suppose you want to limit requests to a particular page on your site. To do this, you could add the following to a\n            <code>RateBasedRule</code>:</p>\n\t\t\t\n\t\t\t \n         <ul>\n            <li>\n               <p>A <code>ByteMatchSet</code> with <code>FieldToMatch</code> of <code>URI</code>\n               </p>\n            </li>\n            <li>\n               <p>A <code>PositionalConstraint</code> of <code>STARTS_WITH</code>\n               </p>\n            </li>\n            <li>\n               <p>A <code>TargetString</code> of <code>login</code>\n               </p>\n            </li>\n         </ul>\n         <p>Further, you specify a <code>RateLimit</code> of 15,000.</p>\n         <p>By adding this <code>RateBasedRule</code> to a <code>WebACL</code>, you could limit requests to your login page without affecting the rest of your site.</p>\n\t\t \n\t\t \n         <p>To create and configure a <code>RateBasedRule</code>, perform the following\n         steps:</p>\n         <ol>\n            <li>\n               <p>Create and update the predicates that you want to include in the rule. For more\n               information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>,\n               and <a>CreateSqlInjectionMatchSet</a>.</p>\n            </li>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide\n               in the <code>ChangeToken</code> parameter of a <code>CreateRule</code>\n               request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateRateBasedRule</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the\n                  <code>ChangeToken</code> parameter of an <a>UpdateRule</a>\n               request.</p>\n            </li>\n            <li>\n               <p>Submit an <code>UpdateRateBasedRule</code> request to specify the predicates\n               that you want to include in the rule.</p>\n            </li>\n            <li>\n               <p>Create and update a <code>WebACL</code> that contains the\n                  <code>RateBasedRule</code>. For more information, see <a>CreateWebACL</a>.</p>\n            </li>\n         </ol>\n         <p>For more information about how to use the AWS WAF API to allow or block HTTP requests,\n         see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer\n            Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRateBasedRuleRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the\n            <code>CreateRateBasedRule</code> request. You can also use this value to query the\n         status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>",
            "smithy.api#required": true
          }
        },
        "MetricName": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description for the metrics for this <code>RateBasedRule</code>.\n          The name can contain only alphanumeric characters (A-Z, a-z, 0-9), with maximum length 128 and minimum length one. It can't contain\n          whitespace or metric names reserved for AWS WAF, including \"All\" and \"Default_Action.\" You can't change the name of the metric after you create the\n            <code>RateBasedRule</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>RateBasedRule</a>. You can't\n         change the name of a <code>RateBasedRule</code> after you create it.</p>",
            "smithy.api#required": true
          }
        },
        "RateKey": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#RateKey",
          "traits": {
            "smithy.api#documentation": "<p>The field that AWS WAF uses to determine if requests are likely arriving from a single\n         source and thus subject to rate monitoring. The only valid value for <code>RateKey</code>\n         is <code>IP</code>. <code>IP</code> indicates that requests that arrive from the same IP\n         address are subject to the <code>RateLimit</code> that is specified in\n         the <code>RateBasedRule</code>.</p>",
            "smithy.api#required": true
          }
        },
        "RateLimit": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#RateLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of requests, which have an identical value in the field that is\n         specified by <code>RateKey</code>, allowed in a five-minute period. If the number of\n         requests exceeds the <code>RateLimit</code> and the other predicates specified in the rule\n         are also met, AWS WAF triggers the action that is specified for this rule.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#TagList"
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRateBasedRuleResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the\n            <code>CreateRateBasedRule</code> request. You can also use this value to query the\n         status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "Rule": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#RateBasedRule",
          "traits": {
            "smithy.api#documentation": "<p>The <a>RateBasedRule</a>\n         that is returned in the <code>CreateRateBasedRule</code> response.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexMatchSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexMatchSetRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexMatchSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>RegexMatchSet</a>. You then use <a>UpdateRegexMatchSet</a> to identify the part of a \n         web request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. \n         For example, you can create a <code>RegexMatchSet</code> that contains a <code>RegexMatchTuple</code> that looks for any requests with <code>User-Agent</code> headers \n         that match a <code>RegexPatternSet</code> with pattern <code>B[a@]dB[o0]t</code>. You can then configure AWS WAF to reject those requests.</p>\n         <p>To create and configure a <code>RegexMatchSet</code>, perform the following steps:</p>\n         <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n                  <code>CreateRegexMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateRegexMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n                  <code>UpdateRegexMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateRegexMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect \n                  (for example, the header or the URI) and the value, using a <code>RegexPatternSet</code>, that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n         <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n            <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexMatchSetRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>RegexMatchSet</a>. You can't change <code>Name</code> after you create a \n\t\t\t<code>RegexMatchSet</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexMatchSetResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateRegexMatchSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "RegexMatchSet": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#RegexMatchSet",
          "traits": {
            "smithy.api#documentation": "<p>A <a>RegexMatchSet</a> that contains no <code>RegexMatchTuple</code> objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexPatternSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexPatternSetRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexPatternSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>RegexPatternSet</code>. You then use <a>UpdateRegexPatternSet</a> to specify the regular expression (regex) pattern that you want AWS WAF to search for, such as <code>B[a@]dB[o0]t</code>. You can then configure AWS WAF to reject those requests.</p>\n\t\t       <p>To create and configure a <code>RegexPatternSet</code>, perform the following steps:</p>\n         <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n                  <code>CreateRegexPatternSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateRegexPatternSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n                  <code>UpdateRegexPatternSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateRegexPatternSet</a> request to specify the string that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n         <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n            <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexPatternSetRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>RegexPatternSet</a>. You can't change <code>Name</code> after you create a \n\t\t\t<code>RegexPatternSet</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRegexPatternSetResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateRegexPatternSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "RegexPatternSet": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#RegexPatternSet",
          "traits": {
            "smithy.api#documentation": "<p>A <a>RegexPatternSet</a> that contains no objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFBadRequestException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>Rule</code>, which contains the <code>IPSet</code> objects,\n            <code>ByteMatchSet</code> objects, and other predicates that identify the requests that\n         you want to block. If you add more than one predicate to a <code>Rule</code>, a request\n         must match all of the specifications to be allowed or blocked. For example, suppose\n         that\n         you add the following to a <code>Rule</code>:</p>\n\t\t       <ul>\n            <li>\n               <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code>\n               </p>\n            </li>\n            <li>\n               <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</p>\n            </li>\n         </ul>\n\t\t       <p>You then add the <code>Rule</code> to a <code>WebACL</code> and specify that you want to blocks requests that satisfy the <code>Rule</code>. \n\t\t\tFor a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request \n\t\t\tmust contain the value <code>BadBot</code>.</p>\n\t\t       <p>To create and configure a <code>Rule</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Create and update the predicates that you want to include in the <code>Rule</code>. For more information, see \n\t\t\t\t<a>CreateByteMatchSet</a>, <a>CreateIPSet</a>, and <a>CreateSqlInjectionMatchSet</a>.</p>\n            </li>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateRule</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateRule</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<a>UpdateRule</a> request.</p>\n            </li>\n            <li>\n               <p>Submit an <code>UpdateRule</code> request to specify the predicates that you want to include in the <code>Rule</code>.</p>\n            </li>\n            <li>\n               <p>Create and update a <code>WebACL</code> that contains the <code>Rule</code>. For more information, see <a>CreateWebACL</a>.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFBadRequestException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>RuleGroup</code>. A rule group is a collection of predefined rules that you add to a web ACL. You use <a>UpdateRuleGroup</a> to add rules to the rule group.</p>\n\t        <p>Rule groups are subject to the following limits:</p>\n\t        <ul>\n            <li>\n               <p>Three rule groups per account. You can request an increase to this limit by contacting customer support.</p>\n            </li>\n            <li>\n               <p>One rule group per web ACL.</p>\n            </li>\n            <li>\n               <p>Ten rules per rule group.</p>\n            </li>\n         </ul>\n         <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleGroupRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "MetricName": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description for the metrics for this <code>RuleGroup</code>. The name can contain only alphanumeric characters (A-Z, a-z, 0-9), with maximum length 128 and minimum length one. It can't contain\n         whitespace or metric names reserved for AWS WAF, including \"All\" and \"Default_Action.\" You can't change the name of the metric after you create the <code>RuleGroup</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>RuleGroup</a>. You can't change <code>Name</code> after you create a \n         <code>RuleGroup</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#TagList"
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleGroupResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateRuleGroup</code> request. You can also use this value \n         to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "RuleGroup": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#RuleGroup",
          "traits": {
            "smithy.api#documentation": "<p>An empty  <a>RuleGroup</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "MetricName": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description for the metrics for this <code>Rule</code>. The name can contain only alphanumeric characters (A-Z, a-z, 0-9), with maximum length 128 and minimum length one. It can't contain\n\t        whitespace or metric names reserved for AWS WAF, including \"All\" and \"Default_Action.\" You can't change the name of the metric after you create the\n            <code>Rule</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>Rule</a>. You can't change the name of a <code>Rule</code> after you create it.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#TagList"
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateRuleResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateRule</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "Rule": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#Rule",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Rule</a> returned in the <code>CreateRule</code> response.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateSizeConstraintSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateSizeConstraintSetRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateSizeConstraintSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>SizeConstraintSet</code>. You then use <a>UpdateSizeConstraintSet</a> to identify the part of a \n\t\t\tweb request that you want AWS WAF to check for length, such as the length of the <code>User-Agent</code> header or the length of the query string. \n\t\t\tFor example, you can create a <code>SizeConstraintSet</code> that matches any requests that have a query string that is longer than 100 bytes. \n\t\t\tYou can then configure AWS WAF to reject those requests.</p>\n\t\t       <p>To create and configure a <code>SizeConstraintSet</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateSizeConstraintSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateSizeConstraintSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<code>UpdateSizeConstraintSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateSizeConstraintSet</a> request to specify the part of the request that you want AWS WAF to inspect \n\t\t\t\t(for example, the header or the URI) and the value that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateSizeConstraintSetRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>SizeConstraintSet</a>. You can't change <code>Name</code> after you create a \n\t\t\t<code>SizeConstraintSet</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateSizeConstraintSetResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateSizeConstraintSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "SizeConstraintSet": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#SizeConstraintSet",
          "traits": {
            "smithy.api#documentation": "<p>A <a>SizeConstraintSet</a> that contains no <code>SizeConstraint</code> objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateSqlInjectionMatchSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateSqlInjectionMatchSetRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateSqlInjectionMatchSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>SqlInjectionMatchSet</a>, which you use to allow, block, or count requests that contain snippets of SQL code in a \n\t\t\tspecified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> \n\t\t       <p>To create and configure a <code>SqlInjectionMatchSet</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateSqlInjectionMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateSqlInjectionMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<a>UpdateSqlInjectionMatchSet</a> request.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateSqlInjectionMatchSet</a> request to specify the parts of web requests in which you want to \n\t\t\t\tallow, block, or count malicious SQL code.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateSqlInjectionMatchSetRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description for the <a>SqlInjectionMatchSet</a> that you're creating. You can't change <code>Name</code> \n\t\t\tafter you create the <code>SqlInjectionMatchSet</code>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to create a <a>SqlInjectionMatchSet</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateSqlInjectionMatchSetResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateSqlInjectionMatchSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "SqlInjectionMatchSet": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#SqlInjectionMatchSet",
          "traits": {
            "smithy.api#documentation": "<p>A <a>SqlInjectionMatchSet</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response to a <code>CreateSqlInjectionMatchSet</code> request.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFBadRequestException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFStaleDataException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>WebACL</code>, which contains the <code>Rules</code> that identify the CloudFront web requests that you want to allow, block, or count. \n\t\t\tAWS WAF evaluates <code>Rules</code> in order based on the value of <code>Priority</code> for each <code>Rule</code>.</p>\t\t\t\n\t\t       <p>You also specify a default action, either <code>ALLOW</code> or <code>BLOCK</code>. If a web request doesn't match \n\t\t\tany of the <code>Rules</code> in a <code>WebACL</code>, AWS WAF responds to the request with the default action. </p>\t\t\t\n\t\t       <p>To create and configure a <code>WebACL</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Create and update the <code>ByteMatchSet</code> objects and other predicates that you want to include in <code>Rules</code>. \n\t\t\t\tFor more information, see <a>CreateByteMatchSet</a>, <a>UpdateByteMatchSet</a>, <a>CreateIPSet</a>, <a>UpdateIPSet</a>, \n\t\t\t\t<a>CreateSqlInjectionMatchSet</a>, and <a>UpdateSqlInjectionMatchSet</a>.</p>\n            </li>\n            <li>\n               <p>Create and update the <code>Rules</code> that you want to include in the <code>WebACL</code>. For more information, see \n\t\t\t\t<a>CreateRule</a> and <a>UpdateRule</a>.</p>\n            </li>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateWebACL</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateWebACL</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<a>UpdateWebACL</a> request.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateWebACL</a> request to specify the <code>Rules</code> that you want to include in the <code>WebACL</code>, \n\t\t\t\tto specify the default action, and to associate the <code>WebACL</code> with a CloudFront distribution.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateWebACLRequest": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": true
          }
        },
        "DefaultAction": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WafAction",
          "traits": {
            "smithy.api#documentation": "<p>The action that you want  AWS WAF to take when a request doesn't match the criteria specified in any of the <code>Rule</code> \n\t\t\tobjects that are associated with the <code>WebACL</code>.</p>",
            "smithy.api#required": true
          }
        },
        "MetricName": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description for the metrics for this <code>WebACL</code>.The name can contain only alphanumeric characters (A-Z, a-z, 0-9), with maximum length 128 and minimum length one. It can't contain\n\t        whitespace or metric names reserved for AWS WAF, including \"All\" and \"Default_Action.\" You can't change <code>MetricName</code> after you create the\n            <code>WebACL</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>WebACL</a>. You can't change <code>Name</code> after you create the <code>WebACL</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#TagList"
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateWebACLResponse": {
      "type": "structure",
      "members": {
        "ChangeToken": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateWebACL</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        },
        "WebACL": {
          "target": "com.amazonaws.gokucustomerapiservice.v20150409#WebACL",
          "traits": {
            "smithy.api#documentation": "<p>The <a>WebACL</a> returned in the <code>CreateWebACL</code> response.</p>"
          }
        }
      }
    },
    "com.amazonaws.gokucustomerapiservice.v20150409#CreateXssMatchSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gokucustomerapiservice.v20150409#CreateXssMatchSetRequest"
      },
      "output": {
[...]
