{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.wafregional#AWSWAF_Regional_20161128": {
      "type": "service",
      "version": "2016-11-28",
      "operations": [
        {
          "target": "com.amazonaws.wafregional#AssociateWebACL"
        },
        {
          "target": "com.amazonaws.wafregional#CreateByteMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#CreateGeoMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#CreateIPSet"
        },
        {
          "target": "com.amazonaws.wafregional#CreateRateBasedRule"
        },
        {
          "target": "com.amazonaws.wafregional#CreateRegexMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#CreateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafregional#CreateRule"
        },
        {
          "target": "com.amazonaws.wafregional#CreateRuleGroup"
        },
        {
          "target": "com.amazonaws.wafregional#CreateSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.wafregional#CreateSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#CreateWebACL"
        },
        {
          "target": "com.amazonaws.wafregional#CreateWebACLMigrationStack"
        },
        {
          "target": "com.amazonaws.wafregional#CreateXssMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteByteMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteGeoMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteIPSet"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafregional#DeletePermissionPolicy"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteRateBasedRule"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteRegexMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteRule"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteRuleGroup"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteWebACL"
        },
        {
          "target": "com.amazonaws.wafregional#DeleteXssMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#DisassociateWebACL"
        },
        {
          "target": "com.amazonaws.wafregional#GetByteMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#GetChangeToken"
        },
        {
          "target": "com.amazonaws.wafregional#GetChangeTokenStatus"
        },
        {
          "target": "com.amazonaws.wafregional#GetGeoMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#GetIPSet"
        },
        {
          "target": "com.amazonaws.wafregional#GetLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafregional#GetPermissionPolicy"
        },
        {
          "target": "com.amazonaws.wafregional#GetRateBasedRule"
        },
        {
          "target": "com.amazonaws.wafregional#GetRateBasedRuleManagedKeys"
        },
        {
          "target": "com.amazonaws.wafregional#GetRegexMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#GetRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafregional#GetRule"
        },
        {
          "target": "com.amazonaws.wafregional#GetRuleGroup"
        },
        {
          "target": "com.amazonaws.wafregional#GetSampledRequests"
        },
        {
          "target": "com.amazonaws.wafregional#GetSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.wafregional#GetSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#GetWebACL"
        },
        {
          "target": "com.amazonaws.wafregional#GetWebACLForResource"
        },
        {
          "target": "com.amazonaws.wafregional#GetXssMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#ListActivatedRulesInRuleGroup"
        },
        {
          "target": "com.amazonaws.wafregional#ListByteMatchSets"
        },
        {
          "target": "com.amazonaws.wafregional#ListGeoMatchSets"
        },
        {
          "target": "com.amazonaws.wafregional#ListIPSets"
        },
        {
          "target": "com.amazonaws.wafregional#ListLoggingConfigurations"
        },
        {
          "target": "com.amazonaws.wafregional#ListRateBasedRules"
        },
        {
          "target": "com.amazonaws.wafregional#ListRegexMatchSets"
        },
        {
          "target": "com.amazonaws.wafregional#ListRegexPatternSets"
        },
        {
          "target": "com.amazonaws.wafregional#ListResourcesForWebACL"
        },
        {
          "target": "com.amazonaws.wafregional#ListRuleGroups"
        },
        {
          "target": "com.amazonaws.wafregional#ListRules"
        },
        {
          "target": "com.amazonaws.wafregional#ListSizeConstraintSets"
        },
        {
          "target": "com.amazonaws.wafregional#ListSqlInjectionMatchSets"
        },
        {
          "target": "com.amazonaws.wafregional#ListSubscribedRuleGroups"
        },
        {
          "target": "com.amazonaws.wafregional#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.wafregional#ListWebACLs"
        },
        {
          "target": "com.amazonaws.wafregional#ListXssMatchSets"
        },
        {
          "target": "com.amazonaws.wafregional#PutLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafregional#PutPermissionPolicy"
        },
        {
          "target": "com.amazonaws.wafregional#TagResource"
        },
        {
          "target": "com.amazonaws.wafregional#UntagResource"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateByteMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateGeoMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateIPSet"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateRateBasedRule"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateRegexMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateRule"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateRuleGroup"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateWebACL"
        },
        {
          "target": "com.amazonaws.wafregional#UpdateXssMatchSet"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "WAF Regional",
          "arnNamespace": "waf-regional",
          "cloudFormationName": "WAFRegional",
          "cloudTrailEventSource": "wafregional.amazonaws.com",
          "endpointPrefix": "waf-regional"
        },
        "aws.auth#sigv4": {
          "name": "waf-regional"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic Regional</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n         <p>This is the <i>AWS WAF Regional Classic API Reference</i> for using AWS WAF Classic with the AWS resources, Elastic Load Balancing (ELB) Application Load Balancers and API Gateway APIs. The AWS WAF Classic actions and data types listed in the reference are available for protecting Elastic Load Balancing (ELB) Application Load Balancers and API Gateway APIs. You can use these actions and data types by means of the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#waf_region\">AWS Regions and Endpoints</a>. This guide is for developers who need detailed information about the AWS WAF Classic API actions, data types, and errors. For detailed information about AWS WAF Classic features and an overview of how to use the AWS WAF Classic API, see the \n      <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n        WAF Classic</a> in the developer guide.</p>",
        "smithy.api#title": "AWS WAF Regional",
        "smithy.api#xmlNamespace": {
          "uri": "http://waf.amazonaws.com/doc/2015-08-24/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://waf-regional-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://waf-regional-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://waf-regional.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://waf-regional.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-regional.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.wafregional#Action": {
      "type": "string"
    },
    "com.amazonaws.wafregional#ActivatedRule": {
      "type": "structure",
      "members": {
        "Priority": {
          "target": "com.amazonaws.wafregional#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the order in which the <code>Rules</code> in a <code>WebACL</code> are evaluated. Rules with a lower value for \n\t\t\t<code>Priority</code> are evaluated before <code>Rules</code> with a higher value. The value must be a unique integer. If you add multiple \n\t\t\t<code>Rules</code> to a <code>WebACL</code>, the values don't need to be consecutive.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleId": {
          "target": "com.amazonaws.wafregional#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>RuleId</code> for a <code>Rule</code>. You use <code>RuleId</code> to get more information about a <code>Rule</code> (see <a>GetRule</a>), \n\t\t\tupdate a <code>Rule</code> (see <a>UpdateRule</a>), insert a <code>Rule</code> into a <code>WebACL</code> or delete a \n\t\t\tone from a <code>WebACL</code> (see <a>UpdateWebACL</a>), or delete a <code>Rule</code> from AWS WAF (see <a>DeleteRule</a>).</p>\n\t\t       <p>\n            <code>RuleId</code> is returned by <a>CreateRule</a> and by <a>ListRules</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.wafregional#WafAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action that CloudFront or AWS WAF takes when a web request matches the conditions in the <code>Rule</code>.   \n\t\t\tValid values for <code>Action</code> include the following:</p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <code>ALLOW</code>: CloudFront responds with the requested object.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BLOCK</code>: CloudFront responds with an HTTP 403 (Forbidden) status code.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COUNT</code>: AWS WAF increments a counter of requests that match the conditions in the rule and then continues to \n\t\t\t\t\tinspect the web request based on the remaining rules in the web ACL. </p>\n            </li>\n         </ul>\n\t        <p>\n            <code>ActivatedRule|OverrideAction</code> applies only when updating or adding a\n            <code>RuleGroup</code> to a <code>WebACL</code>. In this\n         case,\n         you do not use <code>ActivatedRule|Action</code>. For all other update requests,\n            <code>ActivatedRule|Action</code> is used instead of\n            <code>ActivatedRule|OverrideAction</code>.</p>"
          }
        },
        "OverrideAction": {
          "target": "com.amazonaws.wafregional#WafOverrideAction",
          "traits": {
            "smithy.api#documentation": "<p>Use the <code>OverrideAction</code> to test your <code>RuleGroup</code>.</p>\n         <p>Any rule in a <code>RuleGroup</code> can potentially block a request. If you set the <code>OverrideAction</code> to <code>None</code>, the <code>RuleGroup</code> will block a request if any individual rule in the <code>RuleGroup</code> matches the request and is configured to block that request. However if you first want to test the <code>RuleGroup</code>, set the  <code>OverrideAction</code> to <code>Count</code>. The <code>RuleGroup</code> will then override any block action specified by individual rules contained within the group. Instead of blocking matching requests, those requests will be counted. You can view a record of counted requests using  <a>GetSampledRequests</a>. </p>\n\t        <p>\n            <code>ActivatedRule|OverrideAction</code> applies only when updating or adding a <code>RuleGroup</code> to a <code>WebACL</code>. In this case you do not use <code>ActivatedRule|Action</code>.  For all other update requests, <code>ActivatedRule|Action</code> is used instead of <code>ActivatedRule|OverrideAction</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.wafregional#WafRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The rule type, either <code>REGULAR</code>, as defined by <a>Rule</a>, <code>RATE_BASED</code>, as defined by <a>RateBasedRule</a>, or <code>GROUP</code>, as defined by <a>RuleGroup</a>. The default is REGULAR. Although this field is optional, be aware that if you try to add a RATE_BASED rule to a web ACL without setting the type, the  <a>UpdateWebACL</a> request will fail because the request tries to add a REGULAR rule with the specified ID, which does not exist. \t\t\n\t\t\t</p>"
          }
        },
        "ExcludedRules": {
          "target": "com.amazonaws.wafregional#ExcludedRules",
          "traits": {
            "smithy.api#documentation": "<p>An array of rules to exclude from a rule group. This is applicable only when the <code>ActivatedRule</code> refers to a <code>RuleGroup</code>.</p>\n         <p>Sometimes it is necessary to troubleshoot rule groups that are blocking traffic\n         unexpectedly (false positives). One troubleshooting technique is to identify the specific\n         rule within the rule group that is blocking the legitimate traffic and then disable\n         (exclude) that particular rule. You can exclude rules from both your own rule groups and\n         AWS Marketplace rule groups that have been associated with a web ACL.</p>\n         <p>Specifying <code>ExcludedRules</code> does not remove those rules from the rule group.\n         Rather, it changes the action for the rules to <code>COUNT</code>. Therefore, requests that\n         match an <code>ExcludedRule</code> are counted but not blocked. The <code>RuleGroup</code>\n         owner will receive COUNT metrics for each <code>ExcludedRule</code>.</p>\n         <p>If you want to exclude rules from a rule group that is already associated with a web ACL, perform the following steps:</p>\n         <ol>\n            <li>\n               <p>Use the AWS WAF logs to identify the IDs of the rules that you want to exclude.\n               For more information about the logs, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging.html\">Logging Web ACL Traffic\n                  Information</a>.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateWebACL</a> request that has two actions:</p>\n               <ul>\n                  <li>\n                     <p>The first action\n                     deletes\n                     the existing rule group from the web ACL. That is, in the <a>UpdateWebACL</a> request, the first <code>Updates:Action</code>\n                     should be <code>DELETE</code> and <code>Updates:ActivatedRule:RuleId</code>\n                     should be the rule group that contains the rules that you want to\n                     exclude.</p>\n                  </li>\n                  <li>\n                     <p>The second action\n                     inserts\n                     the same rule group back in, but specifying the rules to exclude. That is, the\n                     second <code>Updates:Action</code> should be <code>INSERT</code>,\n                        <code>Updates:ActivatedRule:RuleId</code> should be the rule group that you\n                     just removed, and <code>ExcludedRules</code> should contain the rules that you\n                     want to exclude.</p>\n                  </li>\n               </ul>\n          \n            </li>\n         </ol>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>The <code>ActivatedRule</code> object in an <a>UpdateWebACL</a> request specifies a <code>Rule</code> that you want to insert or delete, \n\t\t\tthe priority of the <code>Rule</code> in the <code>WebACL</code>, and the action that you want AWS WAF to take when a web request matches the <code>Rule</code> \n\t\t\t(<code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>).</p>\n\t\t       <p>To specify whether to insert or delete a <code>Rule</code>, use the <code>Action</code> parameter in the <a>WebACLUpdate</a> data type.</p>"
      }
    },
    "com.amazonaws.wafregional#ActivatedRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafregional#ActivatedRule"
      }
    },
    "com.amazonaws.wafregional#AssociateWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafregional#AssociateWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.wafregional#AssociateWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafregional#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafregional#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.wafregional#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafregional#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafregional#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic Regional</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n         <p>Associates a web ACL with a resource, either an application load balancer or Amazon API Gateway stage.</p>"
      }
    },
    "com.amazonaws.wafregional#AssociateWebACLRequest": {
      "type": "structure",
      "members": {
        "WebACLId": {
          "target": "com.amazonaws.wafregional#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier (ID) for the web ACL. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.wafregional#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the resource to be protected, either an application load balancer or Amazon API Gateway stage.  </p>\n         <p>The ARN should be in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Amazon API Gateway stage: <code>arn:aws:apigateway:<i>region</i>::/restapis/<i>api-id</i>/stages/<i>stage-name</i>\n                  </code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafregional#AssociateWebACLResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafregional#ByteMatchSet": {
      "type": "structure",
      "members": {
        "ByteMatchSetId": {
          "target": "com.amazonaws.wafregional#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ByteMatchSetId</code> for a <code>ByteMatchSet</code>. You use <code>ByteMatchSetId</code> to get information about a \n\t\t\t<code>ByteMatchSet</code> (see <a>GetByteMatchSet</a>), update a <code>ByteMatchSet</code> (see <a>UpdateByteMatchSet</a>), \n\t\t\tinsert a <code>ByteMatchSet</code> into a <code>Rule</code> or delete one from a <code>Rule</code> (see <a>UpdateRule</a>), and  \n\t\t\tdelete a <code>ByteMatchSet</code> from AWS WAF (see <a>DeleteByteMatchSet</a>).</p>\n\t\t       <p>\n            <code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.wafregional#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a <code>ByteMatchSet</code>.</p>"
          }
        },
        "ByteMatchTuples": {
          "target": "com.amazonaws.wafregional#ByteMatchTuples",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to search for in web requests, the location in requests that you want AWS WAF to search, and other settings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>In a <a>GetByteMatchSet</a> request, <code>ByteMatchSet</code> is a complex type that contains the <code>ByteMatchSetId</code> and \n\t\t\t<code>Name</code> of a <code>ByteMatchSet</code>, and the values that you specified when you updated the <code>ByteMatchSet</code>. </p>\n\t\t       <p>A complex type that contains <code>ByteMatchTuple</code> objects, which specify the parts of web requests that you \n\t\t\twant AWS WAF to inspect and the values that you want AWS WAF to search for. If a <code>ByteMatchSet</code> contains more than one \n\t\t\t<code>ByteMatchTuple</code> object, a request needs to match the settings in only one <code>ByteMatchTuple</code> \n\t\t\tto be considered a match.</p>"
      }
    },
    "com.amazonaws.wafregional#ByteMatchSetSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafregional#ByteMatchSetSummary"
      }
    },
    "com.amazonaws.wafregional#ByteMatchSetSummary": {
      "type": "structure",
      "members": {
        "ByteMatchSetId": {
          "target": "com.amazonaws.wafregional#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ByteMatchSetId</code> for a <code>ByteMatchSet</code>. You use <code>ByteMatchSetId</code> to get information about a <code>ByteMatchSet</code>,\n\t\t\tupdate a <code>ByteMatchSet</code>, remove a <code>ByteMatchSet</code> from a <code>Rule</code>, and delete a <code>ByteMatchSet</code> from AWS WAF.</p>\n\t\t       <p>\n            <code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.wafregional#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a <code>ByteMatchSet</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>Returned by <a>ListByteMatchSets</a>. Each <code>ByteMatchSetSummary</code> object includes the <code>Name</code> and \n\t\t\t<code>ByteMatchSetId</code> for one <a>ByteMatchSet</a>.</p>"
      }
    },
    "com.amazonaws.wafregional#ByteMatchSetUpdate": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.wafregional#ChangeAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to insert or delete a <a>ByteMatchTuple</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ByteMatchTuple": {
          "target": "com.amazonaws.wafregional#ByteMatchTuple",
          "traits": {
            "smithy.api#documentation": "<p>Information about the part of a web request that you want AWS WAF to inspect and the value that you want AWS WAF to search for.\n\t\t\tIf you specify <code>DELETE</code> for the value of <code>Action</code>, the <code>ByteMatchTuple</code> values must \n\t\t\texactly match the values in the <code>ByteMatchTuple</code> that you want to delete from the <code>ByteMatchSet</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>In an <a>UpdateByteMatchSet</a> request, <code>ByteMatchSetUpdate</code> specifies whether to insert or delete a \n\t\t\t<a>ByteMatchTuple</a> and includes the settings for the <code>ByteMatchTuple</code>.</p>"
      }
    },
    "com.amazonaws.wafregional#ByteMatchSetUpdates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafregional#ByteMatchSetUpdate"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafregional#ByteMatchTargetString": {
      "type": "blob"
    },
    "com.amazonaws.wafregional#ByteMatchTuple": {
      "type": "structure",
      "members": {
        "FieldToMatch": {
          "target": "com.amazonaws.wafregional#FieldToMatch",
          "traits": {
            "smithy.api#documentation": "<p>The part of a web request that you want AWS WAF to search, such as a specified header or a query string. For more information, see \n\t\t\t<a>FieldToMatch</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetString": {
          "target": "com.amazonaws.wafregional#ByteMatchTargetString",
          "traits": {
            "smithy.api#documentation": "<p>The value that you want AWS WAF to search for. AWS WAF searches for the specified string in the part of web requests that you \n\t\t\tspecified in <code>FieldToMatch</code>. The maximum length of the value is 50 bytes.</p>\n\t\t       <p>Valid values depend on the values that you specified for <code>FieldToMatch</code>:</p>\t\t\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>HEADER</code>: The value that you want AWS WAF to search for in the request header that you specified in \n\t\t\t\t<a>FieldToMatch</a>, for example, the value of the <code>User-Agent</code> or <code>Referer</code> header.</p>\n            </li>\n            <li>\n               <p>\n                  <code>METHOD</code>: The HTTP method, which indicates the type of operation specified in the request. \n\t\t\t\tCloudFront supports the following methods: <code>DELETE</code>, <code>GET</code>, <code>HEAD</code>, <code>OPTIONS</code>, \n\t\t\t\t<code>PATCH</code>, <code>POST</code>, and <code>PUT</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>QUERY_STRING</code>: The value that you want AWS WAF to search for in the query string, which is the part \n\t\t\t\tof a URL that appears after a <code>?</code> character.</p>\n            </li>\n            <li>\n               <p>\n                  <code>URI</code>: The value that you want AWS WAF to search for in the part of a URL that identifies a resource, \n\t\t\t\tfor example, <code>/images/daily-ad.jpg</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BODY</code>: The part of a request that contains any additional data that you want to send to your web server \n\t\t\t\tas the HTTP request body, such as data from a form. The request body immediately follows the request headers. \n\t\t\t\tNote that only the first <code>8192</code> bytes of the request body are forwarded to AWS WAF for inspection. \n\t\t\t\tTo allow or block requests based on the length of the body, you can create a size constraint set. \n\t\t\t\tFor more information, see <a>CreateSizeConstraintSet</a>. </p>\n            </li>\n            <li>\n\t\t             <p>\n\t\t                <code>SINGLE_QUERY_ARG</code>: The parameter in the query string that you will inspect, such as <i>UserName</i> or <i>SalesRegion</i>. The maximum length for <code>SINGLE_QUERY_ARG</code> is 30 characters.</p>\n\t\t          </li>\n            <li>\n\t\t             <p>\n                  <code>ALL_QUERY_ARGS</code>: Similar to <code>SINGLE_QUERY_ARG</code>, but instead of\n               inspecting a single parameter, AWS WAF inspects all parameters within the query\n               string for the value or regex pattern that you specify in\n               <code>TargetString</code>.</p>\n\t\t          </li>\n         </ul>\n\t\t\n\t\t       <p>If <code>TargetString</code> includes alphabetic characters A-Z and a-z, note that the value is case sensitive.</p>\n\t\t       <p>\n            <b>If you're using the AWS WAF API</b>\n         </p>\n\t\t       <p>Specify a base64-encoded version of the value. The maximum length of the value before you base64-encode it is 50 bytes.</p>\n\t\t       <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the\n         value of <code>Data</code> is <code>User-Agent</code>. If you want to search the\n            <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode\n            <code>BadBot</code> using MIME\n         base64-encoding\n         and include the resulting value, <code>QmFkQm90</code>, in the value of\n            <code>TargetString</code>.</p>\n\t\t       <p>\n            <b>If you're using the AWS CLI or one of the AWS SDKs</b>\n         </p>\n\t\t       <p>The value that you want AWS WAF to search for. The SDK automatically base64 encodes the value.</p>",
            "smithy.api#required": {}
          }
        },
        "TextTransformation": {
          "target": "com.amazonaws.wafregional#TextTransformation",
          "traits": {
            "smithy.api#documentation": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass AWS WAF. \n\t\t\tIf you specify a transformation, AWS WAF performs the transformation on <code>FieldToMatch</code> before inspecting it for a match.</p>\n         <p>You can only specify a single type of TextTransformation.</p>\t\t\t\n\t\t       <p>\n            <b>CMD_LINE</b>\n         </p>\n\t\t       <p>When you're concerned that attackers are injecting an operating system command line\n         command and using unusual formatting to disguise some or all of the command, use this\n         option to perform the following transformations:</p>\n\t\t       <ul>\n            <li>\n               <p>Delete the following characters: \\ \" ' ^</p>\n            </li>\n            <li>\n               <p>Delete spaces before the following characters: / (</p>\n            </li>\n            <li>\n               <p>Replace the following characters with a space: , ;</p>\n            </li>\n            <li>\n               <p>Replace multiple spaces with one space</p>\n            </li>\n            <li>\n               <p>Convert uppercase letters (A-Z) to lowercase (a-z)</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>COMPRESS_WHITE_SPACE</b>\n         </p>\n\t\t       <p>Use this option to replace the following characters with a space character (decimal 32):</p>\n\t\t       <ul>\n            <li>\n               <p>\\f, formfeed, decimal 12</p>\n            </li>\n            <li>\n               <p>\\t, tab, decimal 9</p>\n            </li>\n            <li>\n               <p>\\n, newline, decimal 10</p>\n            </li>\n            <li>\n               <p>\\r, carriage return, decimal 13</p>\n            </li>\n            <li>\n               <p>\\v, vertical tab, decimal 11</p>\n            </li>\n            <li>\n               <p>non-breaking space, decimal 160</p>\n            </li>\n         </ul>\n\t\t       <p>\n            <code>COMPRESS_WHITE_SPACE</code> also replaces multiple spaces with one space.</p>\t\t\n\t\t       <p>\n            <b>HTML_ENTITY_DECODE</b>\n         </p>\n\t\t       <p>Use this option to replace HTML-encoded characters with unencoded characters. <code>HTML_ENTITY_DECODE</code> performs \n\t\t\tthe following operations:</p>\n\t\t       <ul>\n            <li>\n               <p>Replaces <code>(ampersand)quot;</code> with <code>\"</code>\n               </p>\n            </li>\n            <li>\n               <p>Replaces <code>(ampersand)nbsp;</code> with a non-breaking space, decimal 160</p>\n            </li>\n            <li>\n               <p>Replaces <code>(ampersand)lt;</code> with a \"less than\" symbol</p>\n            </li>\n            <li>\n               <p>Replaces <code>(ampersand)gt;</code> with <code>></code>\n               </p>\n            </li>\n            <li>\n               <p>Replaces characters that are represented in hexadecimal format, <code>(ampersand)#xhhhh;</code>, with the corresponding \n\t\t\t\tcharacters</p>\n            </li>\n            <li>\n               <p>Replaces characters that are represented in decimal format, <code>(ampersand)#nnnn;</code>, with the corresponding \n\t\t\t\tcharacters</p>\n            </li>\n         </ul>\t\t\n\t\t       <p>\n            <b>LOWERCASE</b>\n         </p>\n\t\t       <p>Use this option to convert uppercase letters (A-Z) to lowercase (a-z).</p>\t\t\n\t\t       <p>\n            <b>URL_DECODE</b>\n         </p>\n\t\t       <p>Use this option to decode a URL-encoded value.</p>\t\t\n\t\t       <p>\n            <b>NONE</b>\n         </p>\n\t\t       <p>Specify <code>NONE</code> if you don't want to perform any text transformations.</p>",
            "smithy.api#required": {}
          }
        },
        "PositionalConstraint": {
          "target": "com.amazonaws.wafregional#PositionalConstraint",
          "traits": {
[...]
