{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.waf#AWSWAF_20150824": {
      "type": "service",
      "version": "2015-08-24",
      "operations": [
        {
          "target": "com.amazonaws.waf#CreateByteMatchSet"
        },
        {
          "target": "com.amazonaws.waf#CreateGeoMatchSet"
        },
        {
          "target": "com.amazonaws.waf#CreateIPSet"
        },
        {
          "target": "com.amazonaws.waf#CreateRateBasedRule"
        },
        {
          "target": "com.amazonaws.waf#CreateRegexMatchSet"
        },
        {
          "target": "com.amazonaws.waf#CreateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.waf#CreateRule"
        },
        {
          "target": "com.amazonaws.waf#CreateRuleGroup"
        },
        {
          "target": "com.amazonaws.waf#CreateSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.waf#CreateSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.waf#CreateWebACL"
        },
        {
          "target": "com.amazonaws.waf#CreateWebACLMigrationStack"
        },
        {
          "target": "com.amazonaws.waf#CreateXssMatchSet"
        },
        {
          "target": "com.amazonaws.waf#DeleteByteMatchSet"
        },
        {
          "target": "com.amazonaws.waf#DeleteGeoMatchSet"
        },
        {
          "target": "com.amazonaws.waf#DeleteIPSet"
        },
        {
          "target": "com.amazonaws.waf#DeleteLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.waf#DeletePermissionPolicy"
        },
        {
          "target": "com.amazonaws.waf#DeleteRateBasedRule"
        },
        {
          "target": "com.amazonaws.waf#DeleteRegexMatchSet"
        },
        {
          "target": "com.amazonaws.waf#DeleteRegexPatternSet"
        },
        {
          "target": "com.amazonaws.waf#DeleteRule"
        },
        {
          "target": "com.amazonaws.waf#DeleteRuleGroup"
        },
        {
          "target": "com.amazonaws.waf#DeleteSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.waf#DeleteSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.waf#DeleteWebACL"
        },
        {
          "target": "com.amazonaws.waf#DeleteXssMatchSet"
        },
        {
          "target": "com.amazonaws.waf#GetByteMatchSet"
        },
        {
          "target": "com.amazonaws.waf#GetChangeToken"
        },
        {
          "target": "com.amazonaws.waf#GetChangeTokenStatus"
        },
        {
          "target": "com.amazonaws.waf#GetGeoMatchSet"
        },
        {
          "target": "com.amazonaws.waf#GetIPSet"
        },
        {
          "target": "com.amazonaws.waf#GetLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.waf#GetPermissionPolicy"
        },
        {
          "target": "com.amazonaws.waf#GetRateBasedRule"
        },
        {
          "target": "com.amazonaws.waf#GetRateBasedRuleManagedKeys"
        },
        {
          "target": "com.amazonaws.waf#GetRegexMatchSet"
        },
        {
          "target": "com.amazonaws.waf#GetRegexPatternSet"
        },
        {
          "target": "com.amazonaws.waf#GetRule"
        },
        {
          "target": "com.amazonaws.waf#GetRuleGroup"
        },
        {
          "target": "com.amazonaws.waf#GetSampledRequests"
        },
        {
          "target": "com.amazonaws.waf#GetSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.waf#GetSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.waf#GetWebACL"
        },
        {
          "target": "com.amazonaws.waf#GetXssMatchSet"
        },
        {
          "target": "com.amazonaws.waf#ListActivatedRulesInRuleGroup"
        },
        {
          "target": "com.amazonaws.waf#ListByteMatchSets"
        },
        {
          "target": "com.amazonaws.waf#ListGeoMatchSets"
        },
        {
          "target": "com.amazonaws.waf#ListIPSets"
        },
        {
          "target": "com.amazonaws.waf#ListLoggingConfigurations"
        },
        {
          "target": "com.amazonaws.waf#ListRateBasedRules"
        },
        {
          "target": "com.amazonaws.waf#ListRegexMatchSets"
        },
        {
          "target": "com.amazonaws.waf#ListRegexPatternSets"
        },
        {
          "target": "com.amazonaws.waf#ListRuleGroups"
        },
        {
          "target": "com.amazonaws.waf#ListRules"
        },
        {
          "target": "com.amazonaws.waf#ListSizeConstraintSets"
        },
        {
          "target": "com.amazonaws.waf#ListSqlInjectionMatchSets"
        },
        {
          "target": "com.amazonaws.waf#ListSubscribedRuleGroups"
        },
        {
          "target": "com.amazonaws.waf#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.waf#ListWebACLs"
        },
        {
          "target": "com.amazonaws.waf#ListXssMatchSets"
        },
        {
          "target": "com.amazonaws.waf#PutLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.waf#PutPermissionPolicy"
        },
        {
          "target": "com.amazonaws.waf#TagResource"
        },
        {
          "target": "com.amazonaws.waf#UntagResource"
        },
        {
          "target": "com.amazonaws.waf#UpdateByteMatchSet"
        },
        {
          "target": "com.amazonaws.waf#UpdateGeoMatchSet"
        },
        {
          "target": "com.amazonaws.waf#UpdateIPSet"
        },
        {
          "target": "com.amazonaws.waf#UpdateRateBasedRule"
        },
        {
          "target": "com.amazonaws.waf#UpdateRegexMatchSet"
        },
        {
          "target": "com.amazonaws.waf#UpdateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.waf#UpdateRule"
        },
        {
          "target": "com.amazonaws.waf#UpdateRuleGroup"
        },
        {
          "target": "com.amazonaws.waf#UpdateSizeConstraintSet"
        },
        {
          "target": "com.amazonaws.waf#UpdateSqlInjectionMatchSet"
        },
        {
          "target": "com.amazonaws.waf#UpdateWebACL"
        },
        {
          "target": "com.amazonaws.waf#UpdateXssMatchSet"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "WAF",
          "arnNamespace": "waf",
          "cloudFormationName": "WAF",
          "cloudTrailEventSource": "waf.amazonaws.com",
          "endpointPrefix": "waf"
        },
        "aws.auth#sigv4": {
          "name": "waf"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t        <p>This is the <i>AWS WAF Classic API Reference</i> for using AWS WAF Classic with Amazon CloudFront. The AWS WAF Classic actions and data types listed in the reference are available for protecting Amazon CloudFront distributions. You can use these actions and data types via the endpoint <i>waf.amazonaws.com</i>. This guide is for developers who need detailed information about the AWS WAF Classic API actions, \n\t      data types, and errors. For detailed information about AWS WAF Classic features and an overview of how to use the AWS WAF Classic API, see the \n\t      <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS WAF Classic</a> in the developer guide.</p>",
        "smithy.api#title": "AWS WAF",
        "smithy.api#xmlNamespace": {
          "uri": "http://waf.amazonaws.com/doc/2015-08-24/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "name"
                              ]
                            },
                            "aws"
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            false
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            false
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://waf.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "waf",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "name"
                              ]
                            },
                            "aws"
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            false
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://waf-fips.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "waf",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://waf-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://waf-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://waf.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://waf.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "waf",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://waf.amazonaws.com"
                }
              },
              "params": {
                "Region": "aws-global",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-global with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "waf",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://waf-fips.amazonaws.com"
                }
              },
              "params": {
                "Region": "aws-global",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "waf",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://waf-fips.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "waf",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://waf.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://waf.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.waf#Action": {
      "type": "string"
    },
    "com.amazonaws.waf#ActivatedRule": {
      "type": "structure",
      "members": {
        "Priority": {
          "target": "com.amazonaws.waf#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the order in which the <code>Rules</code> in a <code>WebACL</code> are evaluated. Rules with a lower value for \n\t\t\t<code>Priority</code> are evaluated before <code>Rules</code> with a higher value. The value must be a unique integer. If you add multiple \n\t\t\t<code>Rules</code> to a <code>WebACL</code>, the values don't need to be consecutive.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleId": {
          "target": "com.amazonaws.waf#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>RuleId</code> for a <code>Rule</code>. You use <code>RuleId</code> to get more information about a <code>Rule</code> (see <a>GetRule</a>), \n\t\t\tupdate a <code>Rule</code> (see <a>UpdateRule</a>), insert a <code>Rule</code> into a <code>WebACL</code> or delete a \n\t\t\tone from a <code>WebACL</code> (see <a>UpdateWebACL</a>), or delete a <code>Rule</code> from AWS WAF (see <a>DeleteRule</a>).</p>\n\t\t       <p>\n            <code>RuleId</code> is returned by <a>CreateRule</a> and by <a>ListRules</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.waf#WafAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action that CloudFront or AWS WAF takes when a web request matches the conditions in the <code>Rule</code>.   \n\t\t\tValid values for <code>Action</code> include the following:</p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <code>ALLOW</code>: CloudFront responds with the requested object.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BLOCK</code>: CloudFront responds with an HTTP 403 (Forbidden) status code.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COUNT</code>: AWS WAF increments a counter of requests that match the conditions in the rule and then continues to \n\t\t\t\t\tinspect the web request based on the remaining rules in the web ACL. </p>\n            </li>\n         </ul>\n\t        <p>\n            <code>ActivatedRule|OverrideAction</code> applies only when updating or adding a\n            <code>RuleGroup</code> to a <code>WebACL</code>. In this\n         case,\n         you do not use <code>ActivatedRule|Action</code>. For all other update requests,\n            <code>ActivatedRule|Action</code> is used instead of\n            <code>ActivatedRule|OverrideAction</code>.</p>"
          }
        },
        "OverrideAction": {
          "target": "com.amazonaws.waf#WafOverrideAction",
          "traits": {
            "smithy.api#documentation": "<p>Use the <code>OverrideAction</code> to test your <code>RuleGroup</code>.</p>\n         <p>Any rule in a <code>RuleGroup</code> can potentially block a request. If you set the <code>OverrideAction</code> to <code>None</code>, the <code>RuleGroup</code> will block a request if any individual rule in the <code>RuleGroup</code> matches the request and is configured to block that request. However if you first want to test the <code>RuleGroup</code>, set the  <code>OverrideAction</code> to <code>Count</code>. The <code>RuleGroup</code> will then override any block action specified by individual rules contained within the group. Instead of blocking matching requests, those requests will be counted. You can view a record of counted requests using  <a>GetSampledRequests</a>. </p>\n\t        <p>\n            <code>ActivatedRule|OverrideAction</code> applies only when updating or adding a <code>RuleGroup</code> to a <code>WebACL</code>. In this case you do not use <code>ActivatedRule|Action</code>.  For all other update requests, <code>ActivatedRule|Action</code> is used instead of <code>ActivatedRule|OverrideAction</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.waf#WafRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The rule type, either <code>REGULAR</code>, as defined by <a>Rule</a>, <code>RATE_BASED</code>, as defined by <a>RateBasedRule</a>, or <code>GROUP</code>, as defined by <a>RuleGroup</a>. The default is REGULAR. Although this field is optional, be aware that if you try to add a RATE_BASED rule to a web ACL without setting the type, the  <a>UpdateWebACL</a> request will fail because the request tries to add a REGULAR rule with the specified ID, which does not exist. \t\t\n\t\t\t</p>"
          }
        },
        "ExcludedRules": {
          "target": "com.amazonaws.waf#ExcludedRules",
          "traits": {
            "smithy.api#documentation": "<p>An array of rules to exclude from a rule group. This is applicable only when the <code>ActivatedRule</code> refers to a <code>RuleGroup</code>.</p>\n         <p>Sometimes it is necessary to troubleshoot rule groups that are blocking traffic\n         unexpectedly (false positives). One troubleshooting technique is to identify the specific\n         rule within the rule group that is blocking the legitimate traffic and then disable\n         (exclude) that particular rule. You can exclude rules from both your own rule groups and\n         AWS Marketplace rule groups that have been associated with a web ACL.</p>\n         <p>Specifying <code>ExcludedRules</code> does not remove those rules from the rule group.\n         Rather, it changes the action for the rules to <code>COUNT</code>. Therefore, requests that\n         match an <code>ExcludedRule</code> are counted but not blocked. The <code>RuleGroup</code>\n         owner will receive COUNT metrics for each <code>ExcludedRule</code>.</p>\n         <p>If you want to exclude rules from a rule group that is already associated with a web ACL, perform the following steps:</p>\n         <ol>\n            <li>\n               <p>Use the AWS WAF logs to identify the IDs of the rules that you want to exclude.\n               For more information about the logs, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging.html\">Logging Web ACL Traffic\n                  Information</a>.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateWebACL</a> request that has two actions:</p>\n               <ul>\n                  <li>\n                     <p>The first action\n                     deletes\n                     the existing rule group from the web ACL. That is, in the <a>UpdateWebACL</a> request, the first <code>Updates:Action</code>\n                     should be <code>DELETE</code> and <code>Updates:ActivatedRule:RuleId</code>\n                     should be the rule group that contains the rules that you want to\n                     exclude.</p>\n                  </li>\n                  <li>\n                     <p>The second action\n                     inserts\n                     the same rule group back in, but specifying the rules to exclude. That is, the\n                     second <code>Updates:Action</code> should be <code>INSERT</code>,\n                        <code>Updates:ActivatedRule:RuleId</code> should be the rule group that you\n                     just removed, and <code>ExcludedRules</code> should contain the rules that you\n                     want to exclude.</p>\n                  </li>\n               </ul>\n          \n            </li>\n         </ol>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>The <code>ActivatedRule</code> object in an <a>UpdateWebACL</a> request specifies a <code>Rule</code> that you want to insert or delete, \n\t\t\tthe priority of the <code>Rule</code> in the <code>WebACL</code>, and the action that you want AWS WAF to take when a web request matches the <code>Rule</code> \n\t\t\t(<code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>).</p>\n\t\t       <p>To specify whether to insert or delete a <code>Rule</code>, use the <code>Action</code> parameter in the <a>WebACLUpdate</a> data type.</p>"
      }
    },
    "com.amazonaws.waf#ActivatedRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.waf#ActivatedRule"
      }
    },
    "com.amazonaws.waf#ByteMatchSet": {
      "type": "structure",
      "members": {
        "ByteMatchSetId": {
          "target": "com.amazonaws.waf#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ByteMatchSetId</code> for a <code>ByteMatchSet</code>. You use <code>ByteMatchSetId</code> to get information about a \n\t\t\t<code>ByteMatchSet</code> (see <a>GetByteMatchSet</a>), update a <code>ByteMatchSet</code> (see <a>UpdateByteMatchSet</a>), \n\t\t\tinsert a <code>ByteMatchSet</code> into a <code>Rule</code> or delete one from a <code>Rule</code> (see <a>UpdateRule</a>), and  \n\t\t\tdelete a <code>ByteMatchSet</code> from AWS WAF (see <a>DeleteByteMatchSet</a>).</p>\n\t\t       <p>\n            <code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.waf#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a <code>ByteMatchSet</code>.</p>"
          }
        },
        "ByteMatchTuples": {
          "target": "com.amazonaws.waf#ByteMatchTuples",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to search for in web requests, the location in requests that you want AWS WAF to search, and other settings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>In a <a>GetByteMatchSet</a> request, <code>ByteMatchSet</code> is a complex type that contains the <code>ByteMatchSetId</code> and \n\t\t\t<code>Name</code> of a <code>ByteMatchSet</code>, and the values that you specified when you updated the <code>ByteMatchSet</code>. </p>\n\t\t       <p>A complex type that contains <code>ByteMatchTuple</code> objects, which specify the parts of web requests that you \n\t\t\twant AWS WAF to inspect and the values that you want AWS WAF to search for. If a <code>ByteMatchSet</code> contains more than one \n\t\t\t<code>ByteMatchTuple</code> object, a request needs to match the settings in only one <code>ByteMatchTuple</code> \n\t\t\tto be considered a match.</p>"
      }
    },
    "com.amazonaws.waf#ByteMatchSetSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.waf#ByteMatchSetSummary"
      }
    },
    "com.amazonaws.waf#ByteMatchSetSummary": {
      "type": "structure",
      "members": {
        "ByteMatchSetId": {
          "target": "com.amazonaws.waf#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ByteMatchSetId</code> for a <code>ByteMatchSet</code>. You use <code>ByteMatchSetId</code> to get information about a <code>ByteMatchSet</code>,\n\t\t\tupdate a <code>ByteMatchSet</code>, remove a <code>ByteMatchSet</code> from a <code>Rule</code>, and delete a <code>ByteMatchSet</code> from AWS WAF.</p>\n\t\t       <p>\n            <code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.waf#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a <code>ByteMatchSet</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>Returned by <a>ListByteMatchSets</a>. Each <code>ByteMatchSetSummary</code> object includes the <code>Name</code> and \n\t\t\t<code>ByteMatchSetId</code> for one <a>ByteMatchSet</a>.</p>"
      }
    },
    "com.amazonaws.waf#ByteMatchSetUpdate": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.waf#ChangeAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to insert or delete a <a>ByteMatchTuple</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ByteMatchTuple": {
          "target": "com.amazonaws.waf#ByteMatchTuple",
          "traits": {
            "smithy.api#documentation": "<p>Information about the part of a web request that you want AWS WAF to inspect and the value that you want AWS WAF to search for.\n\t\t\tIf you specify <code>DELETE</code> for the value of <code>Action</code>, the <code>ByteMatchTuple</code> values must \n\t\t\texactly match the values in the <code>ByteMatchTuple</code> that you want to delete from the <code>ByteMatchSet</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>In an <a>UpdateByteMatchSet</a> request, <code>ByteMatchSetUpdate</code> specifies whether to insert or delete a \n\t\t\t<a>ByteMatchTuple</a> and includes the settings for the <code>ByteMatchTuple</code>.</p>"
      }
    },
    "com.amazonaws.waf#ByteMatchSetUpdates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.waf#ByteMatchSetUpdate"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.waf#ByteMatchTargetString": {
      "type": "blob"
    },
    "com.amazonaws.waf#ByteMatchTuple": {
      "type": "structure",
      "members": {
        "FieldToMatch": {
          "target": "com.amazonaws.waf#FieldToMatch",
          "traits": {
            "smithy.api#documentation": "<p>The part of a web request that you want AWS WAF to search, such as a specified header or a query string. For more information, see \n\t\t\t<a>FieldToMatch</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetString": {
          "target": "com.amazonaws.waf#ByteMatchTargetString",
          "traits": {
            "smithy.api#documentation": "<p>The value that you want AWS WAF to search for. AWS WAF searches for the specified string in the part of web requests that you \n\t\t\tspecified in <code>FieldToMatch</code>. The maximum length of the value is 50 bytes.</p>\n\t\t       <p>Valid values depend on the values that you specified for <code>FieldToMatch</code>:</p>\t\t\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>HEADER</code>: The value that you want AWS WAF to search for in the request header that you specified in \n\t\t\t\t<a>FieldToMatch</a>, for example, the value of the <code>User-Agent</code> or <code>Referer</code> header.</p>\n            </li>\n            <li>\n               <p>\n                  <code>METHOD</code>: The HTTP method, which indicates the type of operation specified in the request. \n\t\t\t\tCloudFront supports the following methods: <code>DELETE</code>, <code>GET</code>, <code>HEAD</code>, <code>OPTIONS</code>, \n\t\t\t\t<code>PATCH</code>, <code>POST</code>, and <code>PUT</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>QUERY_STRING</code>: The value that you want AWS WAF to search for in the query string, which is the part \n\t\t\t\tof a URL that appears after a <code>?</code> character.</p>\n            </li>\n            <li>\n               <p>\n                  <code>URI</code>: The value that you want AWS WAF to search for in the part of a URL that identifies a resource, \n\t\t\t\tfor example, <code>/images/daily-ad.jpg</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BODY</code>: The part of a request that contains any additional data that you want to send to your web server \n\t\t\t\tas the HTTP request body, such as data from a form. The request body immediately follows the request headers. \n\t\t\t\tNote that only the first <code>8192</code> bytes of the request body are forwarded to AWS WAF for inspection. \n\t\t\t\tTo allow or block requests based on the length of the body, you can create a size constraint set. \n\t\t\t\tFor more information, see <a>CreateSizeConstraintSet</a>. </p>\n            </li>\n            <li>\n\t\t             <p>\n\t\t                <code>SINGLE_QUERY_ARG</code>: The parameter in the query string that you will inspect, such as <i>UserName</i> or <i>SalesRegion</i>. The maximum length for <code>SINGLE_QUERY_ARG</code> is 30 characters.</p>\n\t\t          </li>\n            <li>\n\t\t             <p>\n                  <code>ALL_QUERY_ARGS</code>: Similar to <code>SINGLE_QUERY_ARG</code>, but instead of\n               inspecting a single parameter, AWS WAF inspects all parameters within the query\n               string for the value or regex pattern that you specify in\n               <code>TargetString</code>.</p>\n\t\t          </li>\n         </ul>\n\t\t\n\t\t       <p>If <code>TargetString</code> includes alphabetic characters A-Z and a-z, note that the value is case sensitive.</p>\n\t\t       <p>\n            <b>If you're using the AWS WAF API</b>\n         </p>\n\t\t       <p>Specify a base64-encoded version of the value. The maximum length of the value before you base64-encode it is 50 bytes.</p>\n\t\t       <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the\n         value of <code>Data</code> is <code>User-Agent</code>. If you want to search the\n            <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode\n            <code>BadBot</code> using MIME\n         base64-encoding\n         and include the resulting value, <code>QmFkQm90</code>, in the value of\n            <code>TargetString</code>.</p>\n\t\t       <p>\n            <b>If you're using the AWS CLI or one of the AWS SDKs</b>\n         </p>\n\t\t       <p>The value that you want AWS WAF to search for. The SDK automatically base64 encodes the value.</p>",
            "smithy.api#required": {}
          }
        },
        "TextTransformation": {
          "target": "com.amazonaws.waf#TextTransformation",
          "traits": {
            "smithy.api#documentation": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass AWS WAF. \n\t\t\tIf you specify a transformation, AWS WAF performs the transformation on <code>FieldToMatch</code> before inspecting it for a match.</p>\n         <p>You can only specify a single type of TextTransformation.</p>\t\t\t\n\t\t       <p>\n            <b>CMD_LINE</b>\n         </p>\n\t\t       <p>When you're concerned that attackers are injecting an operating system command line\n         command and using unusual formatting to disguise some or all of the command, use this\n         option to perform the following transformations:</p>\n\t\t       <ul>\n            <li>\n               <p>Delete the following characters: \\ \" ' ^</p>\n            </li>\n            <li>\n               <p>Delete spaces before the following characters: / (</p>\n            </li>\n            <li>\n               <p>Replace the following characters with a space: , ;</p>\n            </li>\n            <li>\n               <p>Replace multiple spaces with one space</p>\n            </li>\n            <li>\n               <p>Convert uppercase letters (A-Z) to lowercase (a-z)</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>COMPRESS_WHITE_SPACE</b>\n         </p>\n\t\t       <p>Use this option to replace the following characters with a space character (decimal 32):</p>\n\t\t       <ul>\n            <li>\n               <p>\\f, formfeed, decimal 12</p>\n            </li>\n            <li>\n               <p>\\t, tab, decimal 9</p>\n            </li>\n            <li>\n               <p>\\n, newline, decimal 10</p>\n            </li>\n            <li>\n               <p>\\r, carriage return, decimal 13</p>\n            </li>\n            <li>\n               <p>\\v, vertical tab, decimal 11</p>\n            </li>\n            <li>\n               <p>non-breaking space, decimal 160</p>\n            </li>\n         </ul>\n\t\t       <p>\n            <code>COMPRESS_WHITE_SPACE</code> also replaces multiple spaces with one space.</p>\t\t\n\t\t       <p>\n            <b>HTML_ENTITY_DECODE</b>\n         </p>\n\t\t       <p>Use this option to replace HTML-encoded characters with unencoded characters. <code>HTML_ENTITY_DECODE</code> performs \n\t\t\tthe following operations:</p>\n\t\t       <ul>\n            <li>\n               <p>Replaces <code>(ampersand)quot;</code> with <code>\"</code>\n               </p>\n            </li>\n            <li>\n               <p>Replaces <code>(ampersand)nbsp;</code> with a non-breaking space, decimal 160</p>\n            </li>\n            <li>\n               <p>Replaces <code>(ampersand)lt;</code> with a \"less than\" symbol</p>\n            </li>\n            <li>\n               <p>Replaces <code>(ampersand)gt;</code> with <code>></code>\n               </p>\n            </li>\n            <li>\n               <p>Replaces characters that are represented in hexadecimal format, <code>(ampersand)#xhhhh;</code>, with the corresponding \n\t\t\t\tcharacters</p>\n            </li>\n            <li>\n               <p>Replaces characters that are represented in decimal format, <code>(ampersand)#nnnn;</code>, with the corresponding \n\t\t\t\tcharacters</p>\n            </li>\n         </ul>\t\t\n\t\t       <p>\n            <b>LOWERCASE</b>\n         </p>\n\t\t       <p>Use this option to convert uppercase letters (A-Z) to lowercase (a-z).</p>\t\t\n\t\t       <p>\n            <b>URL_DECODE</b>\n         </p>\n\t\t       <p>Use this option to decode a URL-encoded value.</p>\t\t\n\t\t       <p>\n            <b>NONE</b>\n         </p>\n\t\t       <p>Specify <code>NONE</code> if you don't want to perform any text transformations.</p>",
            "smithy.api#required": {}
          }
        },
        "PositionalConstraint": {
          "target": "com.amazonaws.waf#PositionalConstraint",
          "traits": {
            "smithy.api#documentation": "<p>Within the portion of a web request that you want to search (for example, in the query string, if any), specify where you want AWS WAF to search. Valid values include the following:</p>\n\t\t       <p>\n            <b>CONTAINS</b>\n         </p>\n\t\t       <p>The specified part of the web request must include the value of <code>TargetString</code>, but the location doesn't matter.</p>\t\t\n\t\t       <p>\n            <b>CONTAINS_WORD</b>\n         </p>\n\t\t       <p>The specified part of the web request must include the value of <code>TargetString</code>, and \n\t\t\t<code>TargetString</code> must contain only alphanumeric characters or underscore (A-Z, a-z, 0-9, or _). In addition, \n\t\t\t<code>TargetString</code> must be a word, which means one of the following:</p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <code>TargetString</code> exactly matches the value of the specified part of the web request, such as the value of a \n\t\t\t\t\theader.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TargetString</code> is at the beginning of the specified part of the web request and is followed by a character \n\t\t\t\t\tother than an alphanumeric character or underscore (_), for example, <code>BadBot;</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TargetString</code> is at the end of the specified part of the web request and is preceded by a character \n\t\t\t\t\tother than an alphanumeric character or underscore (_), for example, <code>;BadBot</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TargetString</code> is in the middle of the specified part of the web request and is preceded and followed \n\t\t\t\t\tby characters other than alphanumeric characters or underscore (_), for example, <code>-BadBot;</code>.</p>\n            </li>\n         </ul>\n\t\t       <p>\n            <b>EXACTLY</b>\n         </p>\n\t\t       <p>The value of the specified part of the web request must exactly match the value of <code>TargetString</code>.</p>\n\t\t       <p>\n            <b>STARTS_WITH</b>\n         </p>\n\t\t       <p>The value of <code>TargetString</code> must appear at the beginning of the specified part of the web request.</p>\t\t\n\t\t       <p>\n            <b>ENDS_WITH</b>\n         </p>\n\t\t       <p>The value of <code>TargetString</code> must appear at the end of the specified part of the web request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>The bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to search for in web requests, the location in requests that you want AWS WAF to search, and other settings.</p>"
      }
    },
    "com.amazonaws.waf#ByteMatchTuples": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.waf#ByteMatchTuple"
      }
    },
    "com.amazonaws.waf#ChangeAction": {
      "type": "enum",
      "members": {
        "INSERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSERT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.amazonaws.waf#ChangeToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.waf#ChangeTokenStatus": {
      "type": "enum",
      "members": {
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "INSYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSYNC"
          }
        }
      }
    },
    "com.amazonaws.waf#ComparisonOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQ"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "LE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LE"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        }
      }
    },
    "com.amazonaws.waf#Country": {
      "type": "string"
    },
    "com.amazonaws.waf#CreateByteMatchSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.waf#CreateByteMatchSetRequest"
      },
      "output": {
        "target": "com.amazonaws.waf#CreateByteMatchSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.waf#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.waf#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.waf#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.waf#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.waf#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.waf#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>Creates a <code>ByteMatchSet</code>. You then use <a>UpdateByteMatchSet</a> to identify the part of a \n\t\t\tweb request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. \n\t\t\tFor example, you can create a <code>ByteMatchSet</code> that matches any requests with <code>User-Agent</code> headers \n\t\t\tthat contain the string <code>BadBot</code>. You can then configure AWS WAF to reject those requests.</p>\n\t\t       <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateByteMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateByteMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<code>UpdateByteMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateByteMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect \n\t\t\t\t(for example, the header or the URI) and the value that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.waf#CreateByteMatchSetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.waf#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a \n\t\t\t<code>ByteMatchSet</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.waf#CreateByteMatchSetResponse": {
      "type": "structure",
      "members": {
        "ByteMatchSet": {
          "target": "com.amazonaws.waf#ByteMatchSet",
          "traits": {
            "smithy.api#documentation": "<p>A <a>ByteMatchSet</a> that contains no <code>ByteMatchTuple</code> objects.</p>"
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateByteMatchSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.waf#CreateGeoMatchSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.waf#CreateGeoMatchSetRequest"
      },
      "output": {
        "target": "com.amazonaws.waf#CreateGeoMatchSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.waf#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.waf#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.waf#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.waf#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.waf#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.waf#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n         <p>Creates an <a>GeoMatchSet</a>, which you use to specify which web requests you want to allow or block based on the country \n\t\t\tthat the requests originate from. For example, if you're receiving a lot of requests from one or more countries and you want to block the requests, you can create an <code>GeoMatchSet</code> that contains those countries and then configure AWS WAF to block the requests. </p>\n\t\t       <p>To create and configure a <code>GeoMatchSet</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateGeoMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateGeoMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<a>UpdateGeoMatchSet</a> request.</p>\n            </li>\n            <li>\n               <p>Submit an <code>UpdateGeoMatchSetSet</code> request to specify the countries that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.waf#CreateGeoMatchSetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.waf#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>GeoMatchSet</a>. You can't change <code>Name</code> after you create the <code>GeoMatchSet</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.waf#CreateGeoMatchSetResponse": {
      "type": "structure",
      "members": {
        "GeoMatchSet": {
          "target": "com.amazonaws.waf#GeoMatchSet",
          "traits": {
            "smithy.api#documentation": "<p>The <a>GeoMatchSet</a> returned in the <code>CreateGeoMatchSet</code> response. The <code>GeoMatchSet</code> contains no <code>GeoMatchConstraints</code>.</p>"
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateGeoMatchSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.waf#CreateIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.waf#CreateIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.waf#CreateIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.waf#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.waf#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.waf#WAFInvalidAccountException"
        },
        {
          "target": "com.amazonaws.waf#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.waf#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.waf#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n\t\t       <p>Creates an <a>IPSet</a>, which you use to specify which web requests\n         that\n         you want to allow or block based on the IP addresses that the requests\n         originate from. For example, if you're receiving a lot of requests from one or more\n         individual IP addresses or one or more ranges of IP addresses and you want to block the\n         requests, you can create an <code>IPSet</code> that contains those IP addresses and then\n         configure AWS WAF to block the requests. </p>\n\t\t       <p>To create and configure an <code>IPSet</code>, perform the following steps:</p>\n\t\t       <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n\t\t\t\t<code>CreateIPSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateIPSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n\t\t\t\t<a>UpdateIPSet</a> request.</p>\n            </li>\n            <li>\n               <p>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n\t\t       <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "To create an IP set",
            "documentation": "The following example creates an IP match set named MyIPSetFriendlyName.",
            "input": {
              "Name": "MyIPSetFriendlyName",
              "ChangeToken": "abcd12f2-46da-4fdb-b8d5-fbd4c466928f"
            },
            "output": {
              "IPSet": {
                "IPSetDescriptors": [
                  {
                    "Type": "IPV4",
                    "Value": "192.0.2.44/32"
                  }
                ],
                "IPSetId": "example1ds3t-46da-4fdb-b8d5-abc321j569j5",
                "Name": "MyIPSetFriendlyName"
              },
              "ChangeToken": "abcd12f2-46da-4fdb-b8d5-fbd4c466928f"
            }
          }
        ]
      }
    },
    "com.amazonaws.waf#CreateIPSetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.waf#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>IPSet</a>. You can't change <code>Name</code> after you create the <code>IPSet</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.waf#CreateIPSetResponse": {
      "type": "structure",
      "members": {
        "IPSet": {
          "target": "com.amazonaws.waf#IPSet",
          "traits": {
            "smithy.api#documentation": "<p>The <a>IPSet</a> returned in the <code>CreateIPSet</code> response.</p>"
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateIPSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.waf#CreateRateBasedRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.waf#CreateRateBasedRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.waf#CreateRateBasedRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.waf#WAFBadRequestException"
        },
        {
          "target": "com.amazonaws.waf#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.waf#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.waf#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.waf#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.waf#WAFStaleDataException"
        },
        {
          "target": "com.amazonaws.waf#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.waf#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n         <p>Creates a <a>RateBasedRule</a>. The <code>RateBasedRule</code> contains a\n            <code>RateLimit</code>, which specifies the maximum number of requests that AWS WAF allows\n                from a specified IP address in a five-minute period.  \n                The <code>RateBasedRule</code> also\n         contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other\n         predicates that identify the requests that you want to count or block if these requests\n         exceed the <code>RateLimit</code>.</p>\n         <p>If you add more than one predicate to a <code>RateBasedRule</code>, a request not\n         only must exceed the <code>RateLimit</code>, but it also must match all the\n         conditions to be counted or blocked. For example, suppose you add the following to a\n            <code>RateBasedRule</code>:</p>\n         <ul>\n            <li>\n               <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code>\n               </p>\n            </li>\n            <li>\n               <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the\n                  <code>User-Agent</code> header</p>\n            </li>\n         </ul>\n         <p>Further, you specify a <code>RateLimit</code> of 1,000.</p>\n         <p>You then add the <code>RateBasedRule</code> to a <code>WebACL</code> and specify that\n         you want to block requests that meet the conditions in the rule. For a request to be\n         blocked, it must come from the IP address 192.0.2.44 <i>and</i> the\n            <code>User-Agent</code> header in the request must contain the value\n         <code>BadBot</code>. Further, requests that match these two conditions must be received at\n         a rate of more than 1,000 requests every five minutes. If both conditions are met and the\n         rate is exceeded, AWS WAF blocks the requests. If the rate drops below 1,000 for a\n         five-minute period, AWS WAF no longer blocks the requests.</p>\n\t\t \n\t\t       <p>As a second example, suppose you want to limit requests to a particular page on your site. To do this, you could add the following to a\n            <code>RateBasedRule</code>:</p>\n\t\t\t\n\t\t\t \n         <ul>\n            <li>\n               <p>A <code>ByteMatchSet</code> with <code>FieldToMatch</code> of <code>URI</code>\n               </p>\n            </li>\n            <li>\n               <p>A <code>PositionalConstraint</code> of <code>STARTS_WITH</code>\n               </p>\n            </li>\n            <li>\n               <p>A <code>TargetString</code> of <code>login</code>\n               </p>\n            </li>\n         </ul>\n         <p>Further, you specify a <code>RateLimit</code> of 1,000.</p>\n         <p>By adding this <code>RateBasedRule</code> to a <code>WebACL</code>, you could limit requests to your login page without affecting the rest of your site.</p>\n\t\t \n\t\t \n         <p>To create and configure a <code>RateBasedRule</code>, perform the following\n         steps:</p>\n         <ol>\n            <li>\n               <p>Create and update the predicates that you want to include in the rule. For more\n               information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>,\n               and <a>CreateSqlInjectionMatchSet</a>.</p>\n            </li>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide\n               in the <code>ChangeToken</code> parameter of a <code>CreateRule</code>\n               request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateRateBasedRule</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the\n                  <code>ChangeToken</code> parameter of an <a>UpdateRule</a>\n               request.</p>\n            </li>\n            <li>\n               <p>Submit an <code>UpdateRateBasedRule</code> request to specify the predicates\n               that you want to include in the rule.</p>\n            </li>\n            <li>\n               <p>Create and update a <code>WebACL</code> that contains the\n                  <code>RateBasedRule</code>. For more information, see <a>CreateWebACL</a>.</p>\n            </li>\n         </ol>\n         <p>For more information about how to use the AWS WAF API to allow or block HTTP requests,\n         see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer\n            Guide</a>.</p>"
      }
    },
    "com.amazonaws.waf#CreateRateBasedRuleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.waf#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>RateBasedRule</a>. You can't\n         change the name of a <code>RateBasedRule</code> after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "MetricName": {
          "target": "com.amazonaws.waf#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description for the metrics for this <code>RateBasedRule</code>.\n          The name can contain only alphanumeric characters (A-Z, a-z, 0-9), with maximum length 128 and minimum length one. It can't contain\n          whitespace or metric names reserved for AWS WAF, including \"All\" and \"Default_Action.\" You can't change the name of the metric after you create the\n            <code>RateBasedRule</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "RateKey": {
          "target": "com.amazonaws.waf#RateKey",
          "traits": {
            "smithy.api#documentation": "<p>The field that AWS WAF uses to determine if requests are likely arriving from a single\n         source and thus subject to rate monitoring. The only valid value for <code>RateKey</code>\n         is <code>IP</code>. <code>IP</code> indicates that requests that arrive from the same IP\n         address are subject to the <code>RateLimit</code> that is specified in\n         the <code>RateBasedRule</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "RateLimit": {
          "target": "com.amazonaws.waf#RateLimit",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of requests, which have an identical value in the field that is\n         specified by <code>RateKey</code>, allowed in a five-minute period. If the number of\n         requests exceeds the <code>RateLimit</code> and the other predicates specified in the rule\n         are also met, AWS WAF triggers the action that is specified for this rule.</p>",
            "smithy.api#required": {}
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the\n            <code>CreateRateBasedRule</code> request. You can also use this value to query the\n         status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.waf#TagList",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.waf#CreateRateBasedRuleResponse": {
      "type": "structure",
      "members": {
        "Rule": {
          "target": "com.amazonaws.waf#RateBasedRule",
          "traits": {
            "smithy.api#documentation": "<p>The <a>RateBasedRule</a>\n         that is returned in the <code>CreateRateBasedRule</code> response.</p>"
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the\n            <code>CreateRateBasedRule</code> request. You can also use this value to query the\n         status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.waf#CreateRegexMatchSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.waf#CreateRegexMatchSetRequest"
      },
      "output": {
        "target": "com.amazonaws.waf#CreateRegexMatchSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.waf#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.waf#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.waf#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.waf#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n         <p>Creates a <a>RegexMatchSet</a>. You then use <a>UpdateRegexMatchSet</a> to identify the part of a \n         web request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. \n         For example, you can create a <code>RegexMatchSet</code> that contains a <code>RegexMatchTuple</code> that looks for any requests with <code>User-Agent</code> headers \n         that match a <code>RegexPatternSet</code> with pattern <code>B[a@]dB[o0]t</code>. You can then configure AWS WAF to reject those requests.</p>\n         <p>To create and configure a <code>RegexMatchSet</code>, perform the following steps:</p>\n         <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n                  <code>CreateRegexMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateRegexMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n                  <code>UpdateRegexMatchSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateRegexMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect \n                  (for example, the header or the URI) and the value, using a <code>RegexPatternSet</code>, that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n         <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n            <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
      }
    },
    "com.amazonaws.waf#CreateRegexMatchSetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.waf#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name or description of the <a>RegexMatchSet</a>. You can't change <code>Name</code> after you create a \n\t\t\t<code>RegexMatchSet</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The value returned by the most recent call to <a>GetChangeToken</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.waf#CreateRegexMatchSetResponse": {
      "type": "structure",
      "members": {
        "RegexMatchSet": {
          "target": "com.amazonaws.waf#RegexMatchSet",
          "traits": {
            "smithy.api#documentation": "<p>A <a>RegexMatchSet</a> that contains no <code>RegexMatchTuple</code> objects.</p>"
          }
        },
        "ChangeToken": {
          "target": "com.amazonaws.waf#ChangeToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChangeToken</code> that you used to submit the <code>CreateRegexMatchSet</code> request. You can also use this value \n\t\t\tto query the status of the request. For more information, see <a>GetChangeTokenStatus</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.waf#CreateRegexPatternSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.waf#CreateRegexPatternSetRequest"
      },
      "output": {
        "target": "com.amazonaws.waf#CreateRegexPatternSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.waf#WAFDisallowedNameException"
        },
        {
          "target": "com.amazonaws.waf#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.waf#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.waf#WAFStaleDataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is <b>AWS WAF Classic</b> documentation. For\n      more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/classic-waf-chapter.html\">AWS\n      WAF Classic</a> in the developer guide.</p>\n            <p>\n               <b>For the latest version of AWS\n      WAF</b>, use the AWS WAFV2 API and see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. With the latest version, AWS WAF has a single set of endpoints for regional and global use. </p>\n         </note> \n         <p>Creates a <code>RegexPatternSet</code>. You then use <a>UpdateRegexPatternSet</a> to specify the regular expression (regex) pattern that you want AWS WAF to search for, such as <code>B[a@]dB[o0]t</code>. You can then configure AWS WAF to reject those requests.</p>\n\t\t       <p>To create and configure a <code>RegexPatternSet</code>, perform the following steps:</p>\n         <ol>\n            <li>\n               <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a \n                  <code>CreateRegexPatternSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit a <code>CreateRegexPatternSet</code> request.</p>\n            </li>\n            <li>\n               <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an \n                  <code>UpdateRegexPatternSet</code> request.</p>\n            </li>\n            <li>\n               <p>Submit an <a>UpdateRegexPatternSet</a> request to specify the string that you want AWS WAF to watch for.</p>\n            </li>\n         </ol>\n         <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the \n            <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>"
[...]
