{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.wafv2#AWSWAF_20190729": {
      "type": "service",
      "version": "2019-07-29",
      "operations": [
        {
          "target": "com.amazonaws.wafv2#AssociateWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#CheckCapacity"
        },
        {
          "target": "com.amazonaws.wafv2#CreateIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#CreateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#CreateRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#CreateWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#DescribeManagedRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#DisassociateWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#GetIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#GetLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafv2#GetRateBasedStatementManagedKeys"
        },
        {
          "target": "com.amazonaws.wafv2#GetRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#GetRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#GetSampledRequests"
        },
        {
          "target": "com.amazonaws.wafv2#GetWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#GetWebACLForResource"
        },
        {
          "target": "com.amazonaws.wafv2#ListAvailableManagedRuleGroups"
        },
        {
          "target": "com.amazonaws.wafv2#ListIPSets"
        },
        {
          "target": "com.amazonaws.wafv2#ListLoggingConfigurations"
        },
        {
          "target": "com.amazonaws.wafv2#ListRegexPatternSets"
        },
        {
          "target": "com.amazonaws.wafv2#ListResourcesForWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#ListRuleGroups"
        },
        {
          "target": "com.amazonaws.wafv2#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.wafv2#ListWebACLs"
        },
        {
          "target": "com.amazonaws.wafv2#PutLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafv2#TagResource"
        },
        {
          "target": "com.amazonaws.wafv2#UntagResource"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateWebACL"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "WAFV2",
          "arnNamespace": "wafv2",
          "cloudFormationName": "WAFv2",
          "cloudTrailEventSource": "v20190729.gokucustomerapiv2.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "wafv2"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of the <b>AWS WAF</b> API, released in\n            November, 2019. The names of the entities that you use to access this API, like\n            endpoints and namespaces, all have the versioning information added, like \"V2\" or \"v2\",\n            to distinguish from the prior version. We recommend migrating your resources to this\n            version, because it has a number of significant improvements.</p>\n            <p>If you used AWS WAF prior to this release, you can't use this AWS WAFV2 API to access\n            any AWS WAF resources that you created before. You can access your old rules, web ACLs,\n            and other AWS WAF resources only through the AWS WAF Classic APIs. The AWS WAF Classic\n            APIs have retained the prior names, endpoints, and namespaces. </p>\n            <p>For information, including how to migrate your AWS WAF resources to this version, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF\n               Developer Guide</a>. </p>\n         </note>\n         <p>AWS WAF is a web application firewall that lets you monitor the HTTP and HTTPS requests\n         that are forwarded to Amazon CloudFront, an Amazon API Gateway API, or an Application Load\n         Balancer. AWS WAF also lets you control access to your content. Based on conditions that\n         you specify, such as the IP addresses that requests originate from or the values of query\n         strings, API Gateway, CloudFront, or the Application Load Balancer responds to requests\n         either with the requested content or with an HTTP 403 status code (Forbidden). You also can\n         configure CloudFront to return a custom error page when a request is blocked.</p>\n         <p>This API guide is for developers who need detailed information about AWS WAF API\n         actions, data types, and errors. For detailed information about AWS WAF features and an\n         overview of how to use AWS WAF, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>\n         <p>You can make API calls using the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#waf_region\">AWS Service Endpoints for AWS WAF</a>. </p>\n         <ul>\n            <li>\n               <p>For regional applications, you can use any of the endpoints in the list.\n               A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p>\n            </li>\n            <li>\n               <p>For AWS CloudFront applications, you must use the API endpoint listed for\n               US East (N. Virginia): us-east-1.</p>\n            </li>\n         </ul>\n         <p>Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the\n         programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p>\n         <p>We currently provide two versions of the AWS WAF API: this API and the prior versions,\n         the classic AWS WAF APIs. This new API provides the same functionality as the older\n         versions, with the following major improvements:</p>\n         <ul>\n            <li>\n               <p>You use one API for both global and regional applications. Where you need to\n               distinguish the scope, you specify a <code>Scope</code> parameter and set it to\n                  <code>CLOUDFRONT</code> or <code>REGIONAL</code>. </p>\n            </li>\n            <li>\n               <p>You can define a Web ACL or rule group with a single API call, and update it with a\n               single call. You define all rule specifications in JSON format, and pass them to your\n               rule group or Web ACL API calls.</p>\n            </li>\n            <li>\n               <p>The limits AWS WAF places on the use of rules more closely reflects the cost of\n               running each type of rule. Rule groups include capacity settings, so you know the\n               maximum cost of a rule group when you use it.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS WAFV2",
        "smithy.api#xmlNamespace": {
          "uri": "http://waf.amazonaws.com/doc/2019-07-29/"
        }
      }
    },
    "com.amazonaws.wafv2#Action": {
      "type": "string"
    },
    "com.amazonaws.wafv2#AllQueryArguments": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>All query arguments of a web request. </p>"
      }
    },
    "com.amazonaws.wafv2#AllowAction": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Specifies that AWS WAF should allow requests.</p>"
      }
    },
    "com.amazonaws.wafv2#AndStatement": {
      "type": "structure",
      "members": {
        "Statements": {
          "target": "com.amazonaws.wafv2#Statements",
          "traits": {
            "smithy.api#documentation": "<p>The statements to combine with AND logic. You can use any statements that can be nested. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>A logical rule statement used to combine other rule statements with AND logic. You provide more than one <a>Statement</a> within the <code>AndStatement</code>. </p>"
      }
    },
    "com.amazonaws.wafv2#AssociateWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#AssociateWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#AssociateWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Associates a Web ACL with a regional application resource, to protect the resource. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>For AWS CloudFront, you can associate the Web ACL by providing the <code>Id</code> of the <a>WebACL</a> to the CloudFront API call <code>UpdateDistribution</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#AssociateWebACLRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to associate with the web ACL. </p>\n       \n         <p>The ARN must be in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>For a CloudFront distribution: <code>arn:aws:cloudfront::<i>account-id</i>:distribution/<i>distribution-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:                   <i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>       /<i>load-balancer-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Amazon API Gateway stage: <code>arn:aws:apigateway:<i>region</i>            ::/restapis/<i>api-id</i>/stages/<i>stage-name</i>\n                  </code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "WebACLArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Web ACL that you want to associate with the resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#AssociateWebACLResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#BlockAction": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Specifies that AWS WAF should block requests.</p>"
      }
    },
    "com.amazonaws.wafv2#Body": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>The body of a web request. This immediately follows the request headers.</p>"
      }
    },
    "com.amazonaws.wafv2#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.wafv2#ByteMatchStatement": {
      "type": "structure",
      "members": {
        "FieldToMatch": {
          "target": "com.amazonaws.wafv2#FieldToMatch",
          "traits": {
            "smithy.api#documentation": "<p>The part of a web request that you want AWS WAF to inspect. For more information, see <a>FieldToMatch</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "PositionalConstraint": {
          "target": "com.amazonaws.wafv2#PositionalConstraint",
          "traits": {
            "smithy.api#documentation": "<p>The area within the portion of a web request that you want AWS WAF to search for <code>SearchString</code>. Valid values include the following:</p>\n         <p>\n            <b>CONTAINS</b>\n         </p>\n         <p>The specified part of the web request must include the value of <code>SearchString</code>, but the location doesn't matter.</p>\t\t\n         <p>\n            <b>CONTAINS_WORD</b>\n         </p>\n         <p>The specified part of the web request must include the value of <code>SearchString</code>, and \n         <code>SearchString</code> must contain only alphanumeric characters or underscore (A-Z, a-z, 0-9, or _). In addition, \n         <code>SearchString</code> must be a word, which means that both of the following are true:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SearchString</code> is at the beginning of the specified part of the web request or is \n                  preceded by a character other than an alphanumeric character or underscore (_). \n                  Examples include the value of a header and <code>;BadBot</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SearchString</code> is at the end of the specified part of the web request or is \n                  followed by a character other than an alphanumeric character or underscore (_), for example,\n                  <code>BadBot;</code> and <code>-BadBot;</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>EXACTLY</b>\n         </p>\n         <p>The value of the specified part of the web request must exactly match the value of <code>SearchString</code>.</p>\n         <p>\n            <b>STARTS_WITH</b>\n         </p>\n         <p>The value of <code>SearchString</code> must appear at the beginning of the specified part of the web request.</p>\t\t\n         <p>\n            <b>ENDS_WITH</b>\n         </p>\n         <p>The value of <code>SearchString</code> must appear at the end of the specified part of the web request.</p>",
            "smithy.api#required": {}
          }
        },
        "SearchString": {
          "target": "com.amazonaws.wafv2#SearchString",
          "traits": {
            "smithy.api#documentation": "<p>A string value that you want AWS WAF to search for. AWS WAF searches only in the part of web requests that you designate for inspection in <a>FieldToMatch</a>. The maximum length of the value is 50 bytes.</p>\n         <p>Valid values depend on the areas that you specify for inspection in <code>FieldToMatch</code>:</p>\t\t\n         <ul>\n            <li>\n               <p>\n                  <code>Method</code>: The HTTP method that you want AWS WAF to search for. This indicates the type of operation specified in the request. </p>\n            </li>\n            <li>\n               <p>\n                  <code>UriPath</code>: The value that you want AWS WAF to search for in the URI path,\n               for example, <code>/images/daily-ad.jpg</code>. </p>\n            </li>\n         </ul>\n      \n         <p>If <code>SearchString</code> includes alphabetic characters A-Z and a-z, note that the value is case sensitive.</p>\n         <p>\n            <b>If you're using the AWS WAF API</b>\n         </p>\n         <p>Specify a base64-encoded version of the value. The maximum length of the value before you base64-encode it is 50 bytes.</p>\n         <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the\n         value of <code>Data</code> is <code>User-Agent</code>. If you want to search the\n         <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode\n         <code>BadBot</code> using MIME\n         base64-encoding\n         and include the resulting value, <code>QmFkQm90</code>, in the value of\n         <code>SearchString</code>.</p>\n         <p>\n            <b>If you're using the AWS CLI or one of the AWS SDKs</b>\n         </p>\n         <p>The value that you want AWS WAF to search for. The SDK automatically base64 encodes the value.</p>",
            "smithy.api#required": {}
          }
        },
        "TextTransformations": {
          "target": "com.amazonaws.wafv2#TextTransformations",
          "traits": {
            "smithy.api#documentation": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass detection. \n         If you specify one or more transformations in a rule statement, AWS WAF performs all transformations on the \n         content identified by <code>FieldToMatch</code>, starting from the lowest priority setting, before inspecting the content for a match.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>A rule statement that defines a string match search for AWS WAF to apply to web requests. The byte match statement provides the bytes to search for, the location in requests that you want AWS WAF to search, and other settings. The bytes to search for are typically a string that corresponds with ASCII characters. In the AWS WAF console and the developer guide, this is refered to as a string match statement.</p>"
      }
    },
    "com.amazonaws.wafv2#CapacityUnit": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafv2#CheckCapacity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CheckCapacityRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CheckCapacityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidResourceException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Returns the web ACL capacity unit (WCU) requirements for a specified scope and set of rules. \n         You can use this to check the capacity requirements for the rules you want to use in a \n         <a>RuleGroup</a> or <a>WebACL</a>. \n         </p>\n         <p>AWS WAF uses WCUs to calculate and control the operating\n         resources that are used to run your rules, rule groups, and web ACLs. AWS WAF\n         calculates capacity differently for each rule type, to reflect the relative cost of each rule. \n         Simple rules that cost little to run use fewer WCUs than more complex rules\n\t\t\t\tthat use more processing power. \n\t\t\t\tRule group capacity is fixed at creation, which helps users plan their  \n         web ACL WCU usage when they use a rule group. \n         The WCU limit for web ACLs is 1,500.  </p>"
      }
    },
    "com.amazonaws.wafv2#CheckCapacityRequest": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.wafv2#Rules",
          "traits": {
            "smithy.api#documentation": "<p>An array of <a>Rule</a> that you're configuring to use in a rule group or web ACL. </p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#CheckCapacityResponse": {
      "type": "structure",
      "members": {
        "Capacity": {
          "target": "com.amazonaws.wafv2#ConsumedCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The capacity required by the rules and scope.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQ",
            "name": "EQ"
          },
          {
            "value": "NE",
            "name": "NE"
          },
          {
            "value": "LE",
            "name": "LE"
          },
          {
            "value": "LT",
            "name": "LT"
          },
          {
            "value": "GE",
            "name": "GE"
          },
          {
            "value": "GT",
            "name": "GT"
          }
        ]
      }
    },
    "com.amazonaws.wafv2#ConsumedCapacity": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.wafv2#CountAction": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Specifies that AWS WAF should count requests.</p>"
      }
    },
    "com.amazonaws.wafv2#Country": {
      "type": "string"
    },
    "com.amazonaws.wafv2#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AF",
            "name": "AF"
          },
          {
            "value": "AX",
            "name": "AX"
          },
          {
            "value": "AL",
            "name": "AL"
          },
          {
            "value": "DZ",
            "name": "DZ"
          },
          {
            "value": "AS",
            "name": "AS"
          },
          {
            "value": "AD",
            "name": "AD"
          },
          {
            "value": "AO",
            "name": "AO"
          },
          {
            "value": "AI",
            "name": "AI"
          },
          {
            "value": "AQ",
            "name": "AQ"
          },
          {
            "value": "AG",
            "name": "AG"
          },
          {
            "value": "AR",
            "name": "AR"
          },
          {
            "value": "AM",
            "name": "AM"
          },
          {
            "value": "AW",
            "name": "AW"
          },
          {
            "value": "AU",
            "name": "AU"
          },
          {
            "value": "AT",
            "name": "AT"
          },
          {
            "value": "AZ",
            "name": "AZ"
          },
          {
            "value": "BS",
            "name": "BS"
          },
          {
            "value": "BH",
            "name": "BH"
          },
          {
            "value": "BD",
            "name": "BD"
          },
          {
            "value": "BB",
            "name": "BB"
          },
          {
            "value": "BY",
            "name": "BY"
          },
          {
            "value": "BE",
            "name": "BE"
          },
          {
            "value": "BZ",
            "name": "BZ"
          },
          {
            "value": "BJ",
            "name": "BJ"
          },
          {
            "value": "BM",
            "name": "BM"
          },
          {
            "value": "BT",
            "name": "BT"
          },
          {
            "value": "BO",
            "name": "BO"
          },
          {
            "value": "BQ",
            "name": "BQ"
          },
          {
            "value": "BA",
            "name": "BA"
          },
          {
            "value": "BW",
            "name": "BW"
          },
          {
            "value": "BV",
            "name": "BV"
          },
          {
            "value": "BR",
            "name": "BR"
          },
          {
            "value": "IO",
            "name": "IO"
          },
          {
            "value": "BN",
            "name": "BN"
          },
          {
            "value": "BG",
            "name": "BG"
          },
          {
            "value": "BF",
            "name": "BF"
          },
          {
            "value": "BI",
            "name": "BI"
          },
          {
            "value": "KH",
            "name": "KH"
          },
          {
            "value": "CM",
            "name": "CM"
          },
          {
            "value": "CA",
            "name": "CA"
          },
          {
            "value": "CV",
            "name": "CV"
          },
          {
            "value": "KY",
            "name": "KY"
          },
          {
            "value": "CF",
            "name": "CF"
          },
          {
            "value": "TD",
            "name": "TD"
          },
          {
            "value": "CL",
            "name": "CL"
          },
          {
            "value": "CN",
            "name": "CN"
          },
          {
            "value": "CX",
            "name": "CX"
          },
          {
            "value": "CC",
            "name": "CC"
          },
          {
            "value": "CO",
            "name": "CO"
          },
          {
            "value": "KM",
            "name": "KM"
          },
          {
            "value": "CG",
            "name": "CG"
          },
          {
            "value": "CD",
            "name": "CD"
          },
          {
            "value": "CK",
            "name": "CK"
          },
          {
            "value": "CR",
            "name": "CR"
          },
          {
            "value": "CI",
            "name": "CI"
          },
          {
            "value": "HR",
            "name": "HR"
          },
          {
            "value": "CU",
            "name": "CU"
          },
          {
            "value": "CW",
            "name": "CW"
          },
          {
            "value": "CY",
            "name": "CY"
          },
          {
            "value": "CZ",
            "name": "CZ"
          },
          {
            "value": "DK",
            "name": "DK"
          },
          {
            "value": "DJ",
            "name": "DJ"
          },
          {
            "value": "DM",
            "name": "DM"
          },
          {
            "value": "DO",
            "name": "DO"
          },
          {
            "value": "EC",
            "name": "EC"
          },
          {
            "value": "EG",
            "name": "EG"
          },
          {
            "value": "SV",
            "name": "SV"
          },
          {
            "value": "GQ",
            "name": "GQ"
          },
          {
            "value": "ER",
            "name": "ER"
          },
          {
            "value": "EE",
            "name": "EE"
          },
          {
            "value": "ET",
            "name": "ET"
          },
          {
            "value": "FK",
            "name": "FK"
          },
          {
            "value": "FO",
            "name": "FO"
          },
          {
            "value": "FJ",
            "name": "FJ"
          },
          {
            "value": "FI",
            "name": "FI"
          },
          {
            "value": "FR",
            "name": "FR"
          },
          {
            "value": "GF",
            "name": "GF"
          },
          {
            "value": "PF",
            "name": "PF"
          },
          {
            "value": "TF",
            "name": "TF"
          },
          {
            "value": "GA",
            "name": "GA"
          },
          {
            "value": "GM",
            "name": "GM"
          },
          {
            "value": "GE",
            "name": "GE"
          },
          {
            "value": "DE",
            "name": "DE"
          },
          {
            "value": "GH",
            "name": "GH"
          },
          {
            "value": "GI",
            "name": "GI"
          },
          {
            "value": "GR",
            "name": "GR"
          },
          {
            "value": "GL",
            "name": "GL"
          },
          {
            "value": "GD",
            "name": "GD"
          },
          {
            "value": "GP",
            "name": "GP"
          },
          {
            "value": "GU",
            "name": "GU"
          },
          {
            "value": "GT",
            "name": "GT"
          },
          {
            "value": "GG",
            "name": "GG"
          },
          {
            "value": "GN",
            "name": "GN"
          },
          {
            "value": "GW",
            "name": "GW"
          },
          {
            "value": "GY",
            "name": "GY"
          },
          {
            "value": "HT",
            "name": "HT"
          },
          {
            "value": "HM",
            "name": "HM"
          },
          {
            "value": "VA",
            "name": "VA"
          },
          {
            "value": "HN",
            "name": "HN"
          },
          {
            "value": "HK",
            "name": "HK"
          },
          {
            "value": "HU",
            "name": "HU"
          },
          {
            "value": "IS",
            "name": "IS"
          },
          {
            "value": "IN",
            "name": "IN"
          },
          {
            "value": "ID",
            "name": "ID"
          },
          {
            "value": "IR",
            "name": "IR"
          },
          {
            "value": "IQ",
            "name": "IQ"
          },
          {
            "value": "IE",
            "name": "IE"
          },
          {
            "value": "IM",
            "name": "IM"
          },
          {
            "value": "IL",
            "name": "IL"
          },
          {
            "value": "IT",
            "name": "IT"
          },
          {
            "value": "JM",
            "name": "JM"
          },
          {
            "value": "JP",
            "name": "JP"
          },
          {
            "value": "JE",
            "name": "JE"
          },
          {
            "value": "JO",
            "name": "JO"
          },
          {
            "value": "KZ",
            "name": "KZ"
          },
          {
            "value": "KE",
            "name": "KE"
          },
          {
            "value": "KI",
            "name": "KI"
          },
          {
            "value": "KP",
            "name": "KP"
          },
          {
            "value": "KR",
            "name": "KR"
          },
          {
            "value": "KW",
            "name": "KW"
          },
          {
            "value": "KG",
            "name": "KG"
          },
          {
            "value": "LA",
            "name": "LA"
          },
          {
            "value": "LV",
            "name": "LV"
          },
          {
            "value": "LB",
            "name": "LB"
          },
          {
            "value": "LS",
            "name": "LS"
          },
          {
            "value": "LR",
            "name": "LR"
          },
          {
            "value": "LY",
            "name": "LY"
          },
          {
            "value": "LI",
            "name": "LI"
          },
          {
            "value": "LT",
            "name": "LT"
          },
          {
            "value": "LU",
            "name": "LU"
          },
          {
            "value": "MO",
            "name": "MO"
          },
          {
            "value": "MK",
            "name": "MK"
          },
          {
            "value": "MG",
            "name": "MG"
          },
          {
            "value": "MW",
            "name": "MW"
          },
          {
            "value": "MY",
            "name": "MY"
          },
          {
            "value": "MV",
            "name": "MV"
          },
          {
            "value": "ML",
            "name": "ML"
          },
          {
            "value": "MT",
            "name": "MT"
          },
          {
            "value": "MH",
            "name": "MH"
          },
          {
            "value": "MQ",
            "name": "MQ"
          },
          {
            "value": "MR",
            "name": "MR"
          },
          {
            "value": "MU",
            "name": "MU"
          },
          {
            "value": "YT",
            "name": "YT"
          },
          {
            "value": "MX",
            "name": "MX"
          },
          {
            "value": "FM",
            "name": "FM"
          },
          {
            "value": "MD",
            "name": "MD"
          },
          {
            "value": "MC",
            "name": "MC"
          },
          {
            "value": "MN",
            "name": "MN"
          },
          {
            "value": "ME",
            "name": "ME"
          },
          {
            "value": "MS",
            "name": "MS"
          },
          {
            "value": "MA",
            "name": "MA"
          },
          {
            "value": "MZ",
            "name": "MZ"
          },
          {
            "value": "MM",
            "name": "MM"
          },
          {
            "value": "NA",
            "name": "NA"
          },
          {
            "value": "NR",
            "name": "NR"
          },
          {
            "value": "NP",
            "name": "NP"
          },
          {
            "value": "NL",
            "name": "NL"
          },
          {
            "value": "NC",
            "name": "NC"
          },
          {
            "value": "NZ",
            "name": "NZ"
          },
          {
            "value": "NI",
            "name": "NI"
          },
          {
            "value": "NE",
            "name": "NE"
          },
          {
            "value": "NG",
            "name": "NG"
          },
          {
            "value": "NU",
            "name": "NU"
          },
          {
            "value": "NF",
            "name": "NF"
          },
          {
            "value": "MP",
            "name": "MP"
          },
          {
            "value": "NO",
            "name": "NO"
          },
          {
            "value": "OM",
            "name": "OM"
          },
          {
            "value": "PK",
            "name": "PK"
          },
          {
            "value": "PW",
            "name": "PW"
          },
          {
            "value": "PS",
            "name": "PS"
          },
          {
            "value": "PA",
            "name": "PA"
          },
          {
            "value": "PG",
            "name": "PG"
          },
          {
            "value": "PY",
            "name": "PY"
          },
          {
            "value": "PE",
            "name": "PE"
          },
          {
            "value": "PH",
            "name": "PH"
          },
          {
            "value": "PN",
            "name": "PN"
          },
          {
            "value": "PL",
            "name": "PL"
          },
          {
            "value": "PT",
            "name": "PT"
          },
          {
            "value": "PR",
            "name": "PR"
          },
          {
            "value": "QA",
            "name": "QA"
          },
          {
            "value": "RE",
            "name": "RE"
          },
          {
            "value": "RO",
            "name": "RO"
          },
          {
            "value": "RU",
            "name": "RU"
          },
          {
            "value": "RW",
            "name": "RW"
          },
          {
            "value": "BL",
            "name": "BL"
          },
          {
            "value": "SH",
            "name": "SH"
          },
          {
            "value": "KN",
            "name": "KN"
          },
          {
            "value": "LC",
            "name": "LC"
          },
          {
            "value": "MF",
            "name": "MF"
          },
          {
            "value": "PM",
            "name": "PM"
          },
          {
            "value": "VC",
            "name": "VC"
          },
          {
            "value": "WS",
            "name": "WS"
          },
          {
            "value": "SM",
            "name": "SM"
          },
          {
            "value": "ST",
            "name": "ST"
          },
          {
            "value": "SA",
            "name": "SA"
          },
          {
            "value": "SN",
            "name": "SN"
          },
          {
            "value": "RS",
            "name": "RS"
          },
          {
            "value": "SC",
            "name": "SC"
          },
          {
            "value": "SL",
            "name": "SL"
          },
          {
            "value": "SG",
            "name": "SG"
          },
          {
            "value": "SX",
            "name": "SX"
          },
          {
            "value": "SK",
            "name": "SK"
          },
          {
            "value": "SI",
            "name": "SI"
          },
          {
            "value": "SB",
            "name": "SB"
          },
          {
            "value": "SO",
            "name": "SO"
          },
          {
            "value": "ZA",
            "name": "ZA"
          },
          {
            "value": "GS",
            "name": "GS"
          },
          {
            "value": "SS",
            "name": "SS"
          },
          {
            "value": "ES",
            "name": "ES"
          },
          {
            "value": "LK",
            "name": "LK"
          },
          {
            "value": "SD",
            "name": "SD"
          },
          {
            "value": "SR",
            "name": "SR"
          },
          {
            "value": "SJ",
            "name": "SJ"
          },
          {
            "value": "SZ",
            "name": "SZ"
          },
          {
            "value": "SE",
            "name": "SE"
          },
          {
            "value": "CH",
            "name": "CH"
          },
          {
            "value": "SY",
            "name": "SY"
          },
          {
            "value": "TW",
            "name": "TW"
          },
          {
            "value": "TJ",
            "name": "TJ"
          },
          {
            "value": "TZ",
            "name": "TZ"
          },
          {
            "value": "TH",
            "name": "TH"
          },
          {
            "value": "TL",
            "name": "TL"
          },
          {
            "value": "TG",
            "name": "TG"
          },
          {
            "value": "TK",
            "name": "TK"
          },
          {
            "value": "TO",
            "name": "TO"
          },
          {
            "value": "TT",
            "name": "TT"
          },
          {
            "value": "TN",
            "name": "TN"
          },
          {
            "value": "TR",
            "name": "TR"
          },
          {
            "value": "TM",
            "name": "TM"
          },
          {
            "value": "TC",
            "name": "TC"
          },
          {
            "value": "TV",
            "name": "TV"
          },
          {
            "value": "UG",
            "name": "UG"
          },
          {
            "value": "UA",
            "name": "UA"
          },
          {
            "value": "AE",
            "name": "AE"
          },
          {
            "value": "GB",
            "name": "GB"
          },
          {
            "value": "US",
            "name": "US"
          },
          {
            "value": "UM",
            "name": "UM"
          },
          {
            "value": "UY",
            "name": "UY"
          },
          {
            "value": "UZ",
            "name": "UZ"
          },
          {
            "value": "VU",
            "name": "VU"
          },
          {
            "value": "VE",
            "name": "VE"
          },
          {
            "value": "VN",
            "name": "VN"
          },
          {
            "value": "VG",
            "name": "VG"
          },
          {
            "value": "VI",
            "name": "VI"
          },
          {
            "value": "WF",
            "name": "WF"
          },
          {
            "value": "EH",
            "name": "EH"
          },
          {
            "value": "YE",
            "name": "YE"
          },
          {
            "value": "ZM",
            "name": "ZM"
          },
          {
            "value": "ZW",
            "name": "ZW"
          }
        ]
      }
    },
    "com.amazonaws.wafv2#CountryCodes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafv2#CountryCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafv2#CreateIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CreateIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CreateIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFDuplicateItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Creates an <a>IPSet</a>, which you use to identify web requests that originate from specific IP addresses or ranges of IP addresses. For example, if you're receiving a lot of requests from a ranges of IP addresses, you can configure AWS WAF to block them using an IPSet that lists those IP addresses. </p>"
      }
    },
    "com.amazonaws.wafv2#CreateIPSetRequest": {
      "type": "structure",
      "members": {
        "Addresses": {
          "target": "com.amazonaws.wafv2#IPAddresses",
          "traits": {
            "smithy.api#documentation": "<p>Contains an array of strings that specify one or more IP addresses or blocks of IP addresses in Classless Inter-Domain Routing (CIDR) notation. AWS WAF supports all address ranges for IP versions IPv4 and IPv6. </p>\n         <p>Examples: </p>\n         <ul>\n            <li>\n               <p>To configure AWS WAF to allow, block, or count requests that originated from the IP address 192.0.2.44, specify <code>192.0.2.44/32</code>.</p>\n            </li>\n            <li>\n               <p>To configure AWS WAF to allow, block, or count requests that originated from IP addresses from 192.0.2.0 to 192.0.2.255, specify \n               <code>192.0.2.0/24</code>.</p>\n            </li>\n            <li>\n               <p>To configure AWS WAF to allow, block, or count requests that originated from the IP address 1111:0000:0000:0000:0000:0000:0000:0111, specify <code>1111:0000:0000:0000:0000:0000:0000:0111/128</code>.</p>\n            </li>\n            <li>\n               <p>To configure AWS WAF to allow, block, or count requests that originated from IP addresses 1111:0000:0000:0000:0000:0000:0000:0000 to 1111:0000:0000:0000:ffff:ffff:ffff:ffff, specify <code>1111:0000:0000:0000:0000:0000:0000:0000/64</code>.</p>\n            </li>\n         </ul>\n         <p>For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless\n         Inter-Domain Routing</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.wafv2#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A friendly description of the IP set. You cannot change the description of an IP set after you create it.</p>"
          }
        },
        "IPAddressVersion": {
          "target": "com.amazonaws.wafv2#IPAddressVersion",
          "traits": {
            "smithy.api#documentation": "<p>Specify IPV4 or IPV6. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name of the IP set. You cannot change the name of an <code>IPSet</code> after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wafv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key:value pairs to associate with the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateIPSetResponse": {
      "type": "structure",
      "members": {
        "Summary": {
          "target": "com.amazonaws.wafv2#IPSetSummary",
          "traits": {
            "smithy.api#documentation": "<p>High-level information about an <a>IPSet</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage an <code>IPSet</code>, and the ARN, that you provide to the <a>IPSetReferenceStatement</a> to use the address set in a <a>Rule</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateRegexPatternSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CreateRegexPatternSetRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CreateRegexPatternSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFDuplicateItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Creates a <a>RegexPatternSet</a> per the specifications provided.</p>"
      }
    },
    "com.amazonaws.wafv2#CreateRegexPatternSetRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.wafv2#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A friendly description of the set. You cannot change the description of a set after you create it.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name of the set. You cannot change the name after you create the set.</p>",
            "smithy.api#required": {}
          }
        },
        "RegularExpressionList": {
          "target": "com.amazonaws.wafv2#RegularExpressionList",
          "traits": {
            "smithy.api#documentation": "<p>Array of regular expression strings. </p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wafv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key:value pairs to associate with the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateRegexPatternSetResponse": {
      "type": "structure",
      "members": {
        "Summary": {
          "target": "com.amazonaws.wafv2#RegexPatternSetSummary",
          "traits": {
            "smithy.api#documentation": "<p>High-level information about a <a>RegexPatternSet</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage a <code>RegexPatternSet</code>, and the ARN, that you provide to the <a>RegexPatternSetReferenceStatement</a> to use the pattern set in a <a>Rule</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CreateRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CreateRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFDuplicateItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Creates a <a>RuleGroup</a> per the specifications provided. </p>\n         <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p>"
      }
    },
    "com.amazonaws.wafv2#CreateRuleGroupRequest": {
      "type": "structure",
      "members": {
        "Capacity": {
          "target": "com.amazonaws.wafv2#CapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The web ACL capacity units (WCUs) required for this rule group.</p> \n          <p>When you create your own rule group, you define this, and you cannot change it after creation. \n          When you add or modify the rules in a rule group, AWS WAF enforces this limit. You can check the capacity \n          for a set of rules using <a>CheckCapacity</a>.</p> \n          <p>AWS WAF uses WCUs to calculate and control the operating\n         resources that are used to run your rules, rule groups, and web ACLs. AWS WAF\n         calculates capacity differently for each rule type, to reflect the relative cost of each rule. \n         Simple rules that cost little to run use fewer WCUs than more complex rules\n\t\t\t\tthat use more processing power. \n\t\t\t\tRule group capacity is fixed at creation, which helps users plan their  \n         web ACL WCU usage when they use a rule group. \n         The WCU limit for web ACLs is 1,500.  </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.wafv2#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A friendly description of the rule group. You cannot change the description of a rule group after you create it.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name of the rule group. You cannot change the name of a rule group after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.wafv2#Rules",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Rule</a> statements used to identify the web requests that you \n         want to allow, block, or count. Each rule includes one top-level statement that AWS WAF uses to identify matching  \n         web requests, and parameters that govern how AWS WAF handles them. \n      </p>"
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wafv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key:value pairs to associate with the resource.</p>"
          }
        },
        "VisibilityConfig": {
          "target": "com.amazonaws.wafv2#VisibilityConfig",
          "traits": {
            "smithy.api#documentation": "<p>Defines and enables Amazon CloudWatch metrics and web request sample collection.  </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateRuleGroupResponse": {
      "type": "structure",
      "members": {
        "Summary": {
          "target": "com.amazonaws.wafv2#RuleGroupSummary",
          "traits": {
            "smithy.api#documentation": "<p>High-level information about a <a>RuleGroup</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage a <code>RuleGroup</code>, and the ARN, that you provide to the <a>RuleGroupReferenceStatement</a> to use the rule group in a <a>Rule</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CreateWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CreateWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFDuplicateItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidResourceException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Creates a <a>WebACL</a> per the specifications provided.</p>\n         <p> A Web ACL defines a collection of rules to use to inspect and control web requests. Each rule has an action defined (allow, block, or count) for requests that match the statement of the rule. In the Web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a Web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a Web ACL with one or more AWS resources to protect. The resources can be Amazon CloudFront, an Amazon API Gateway API, or an Application Load Balancer.  </p>"
      }
    },
    "com.amazonaws.wafv2#CreateWebACLRequest": {
      "type": "structure",
      "members": {
        "DefaultAction": {
          "target": "com.amazonaws.wafv2#DefaultAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to perform if none of the <code>Rules</code> contained in the <code>WebACL</code> match. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.wafv2#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A friendly description of the Web ACL. You cannot change the description of a Web ACL after you create it.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name of the Web ACL. You cannot change the name of a Web ACL after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.wafv2#Rules",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Rule</a> statements used to identify the web requests that you \n         want to allow, block, or count. Each rule includes one top-level statement that AWS WAF uses to identify matching  \n         web requests, and parameters that govern how AWS WAF handles them. \n      </p>"
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wafv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key:value pairs to associate with the resource.</p>"
          }
        },
        "VisibilityConfig": {
          "target": "com.amazonaws.wafv2#VisibilityConfig",
          "traits": {
            "smithy.api#documentation": "<p>Defines and enables Amazon CloudWatch metrics and web request sample collection.  </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateWebACLResponse": {
      "type": "structure",
      "members": {
        "Summary": {
          "target": "com.amazonaws.wafv2#WebACLSummary",
          "traits": {
            "smithy.api#documentation": "<p>High-level information about a <a>WebACL</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage a <code>WebACL</code>, and the ARN, that you provide to operations like <a>AssociateWebACL</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#DefaultAction": {
      "type": "structure",
      "members": {
        "Allow": {
          "target": "com.amazonaws.wafv2#AllowAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that AWS WAF should allow requests by default.</p>"
          }
        },
        "Block": {
          "target": "com.amazonaws.wafv2#BlockAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that AWS WAF should block requests by default. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>In a <code>WebACL</code>, this is the action that you want AWS WAF \n         to perform when a web request doesn't match any of the rules in the <code>WebACL</code>. The default action must be a terminating action, so count is not allowed.</p>"
      }
    },
    "com.amazonaws.wafv2#DeleteIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Deletes the specified <a>IPSet</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#DeleteIPSetRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.wafv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the set. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
            "smithy.api#required": {}
          }
        },
        "LockToken": {
          "target": "com.amazonaws.wafv2#LockToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name of the IP set. You cannot change the name of an <code>IPSet</code> after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteIPSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DeleteLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteLoggingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteLoggingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Deletes the <a>LoggingConfiguration</a> from the specified web\n         ACL.</p>"
      }
    },
    "com.amazonaws.wafv2#DeleteLoggingConfigurationRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web ACL from which you want to delete the <a>LoggingConfiguration</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteLoggingConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DeleteRegexPatternSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteRegexPatternSetRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteRegexPatternSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Deletes the specified <a>RegexPatternSet</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#DeleteRegexPatternSetRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.wafv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the set. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
            "smithy.api#required": {}
          }
        },
        "LockToken": {
          "target": "com.amazonaws.wafv2#LockToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name of the set. You cannot change the name after you create the set.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteRegexPatternSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DeleteRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Deletes the specified <a>RuleGroup</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#DeleteRuleGroupRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.wafv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the rule group. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
            "smithy.api#required": {}
          }
        },
        "LockToken": {
          "target": "com.amazonaws.wafv2#LockToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name of the rule group. You cannot change the name of a rule group after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteRuleGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DeleteWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFAssociatedItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Deletes the specified <a>WebACL</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#DeleteWebACLRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.wafv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the Web ACL. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
            "smithy.api#required": {}
          }
        },
        "LockToken": {
          "target": "com.amazonaws.wafv2#LockToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name of the Web ACL. You cannot change the name of a Web ACL after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteWebACLResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DescribeManagedRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DescribeManagedRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DescribeManagedRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidResourceException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Provides high-level information for a managed rule group, including descriptions of the rules. </p>"
      }
    },
    "com.amazonaws.wafv2#DescribeManagedRuleGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the managed rule group. You use this, along with the vendor name, to identify the rule group.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "VendorName": {
          "target": "com.amazonaws.wafv2#VendorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the managed rule group vendor. You use this, along with the rule group name, to identify the rule group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DescribeManagedRuleGroupResponse": {
      "type": "structure",
      "members": {
        "Capacity": {
          "target": "com.amazonaws.wafv2#CapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The web ACL capacity units (WCUs) required for this rule group. \n         AWS WAF uses web ACL capacity units (WCU) to calculate and control the operating\n         resources that are used to run your rules, rule groups, and web ACLs. AWS WAF\n         calculates capacity differently for each rule type, to reflect each rule's relative\n         cost. Rule group capacity is fixed at creation, so users can plan their  \n         web ACL WCU usage when they use a rule group. \n         The WCU limit for web ACLs is 1,500.  </p>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.wafv2#RuleSummaries",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#DisassociateWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DisassociateWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DisassociateWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Disassociates a Web ACL from a regional application resource. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage.  </p>\n         <p>For AWS CloudFront, you can disassociate the Web ACL by providing an empty <code>WebACLId</code> in the CloudFront API call <code>UpdateDistribution</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#DisassociateWebACLRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to disassociate from the web ACL. </p>\n       \n         <p>The ARN must be in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>For a CloudFront distribution: <code>arn:aws:cloudfront::<i>account-id</i>:distribution/<i>distribution-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:                   <i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>       /<i>load-balancer-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Amazon API Gateway stage: <code>arn:aws:apigateway:<i>region</i>            ::/restapis/<i>api-id</i>/stages/<i>stage-name</i>\n                  </code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DisassociateWebACLResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#EntityDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\w+=:#@/\\-,\\.][\\w+=:#@/\\-,\\.\\s]+[\\w+=:#@/\\-,\\.]$"
      }
    },
    "com.amazonaws.wafv2#EntityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "^[0-9a-f]{8}-(?:[0-9a-f]{4}-){3}[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.wafv2#EntityName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\w\\-]+$"
      }
    },
    "com.amazonaws.wafv2#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.wafv2#ErrorReason": {
      "type": "string"
    },
    "com.amazonaws.wafv2#ExcludedRule": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule to exclude.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>Specifies a single rule to exclude from the rule group. Excluding a rule overrides \n         its action setting for the rule group in the web ACL, setting it to <code>COUNT</code>. \n         This effectively excludes the rule from acting on web requests.  </p>"
      }
    },
    "com.amazonaws.wafv2#ExcludedRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafv2#ExcludedRule"
      }
    },
    "com.amazonaws.wafv2#FieldToMatch": {
      "type": "structure",
      "members": {
        "AllQueryArguments": {
          "target": "com.amazonaws.wafv2#AllQueryArguments",
          "traits": {
            "smithy.api#documentation": "<p>Inspect all query arguments. </p>"
          }
        },
        "Body": {
          "target": "com.amazonaws.wafv2#Body",
          "traits": {
            "smithy.api#documentation": "<p>Inspect the request body, which immediately follows the request headers. This is the part of a request that contains any \n         additional data that you want to send to your web server as the HTTP request body, such as data from a form. </p>\n         <p>Note that only the first 8 KB (8192 bytes) of the request body are forwarded to AWS WAF for inspection. If you don't need to inspect more than 8 KB, you can guarantee that you don't allow additional bytes in by combining a statement that inspects the body of the web request, such as <a>ByteMatchStatement</a> or <a>RegexPatternSetReferenceStatement</a>, with a <a>SizeConstraintStatement</a> that enforces an 8 KB size limit on the body of the request. AWS WAF doesn't support inspecting the entire contents of web requests whose bodies exceed the 8 KB limit.</p>"
          }
        },
        "Method": {
          "target": "com.amazonaws.wafv2#Method",
          "traits": {
            "smithy.api#documentation": "<p>Inspect the HTTP method. The method indicates the type of operation that the request is asking the origin to perform. </p>"
          }
        },
        "QueryString": {
          "target": "com.amazonaws.wafv2#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>Inspect the query string. This is the part of a URL that appears after a <code>?</code> character, if any.</p>"
          }
        },
        "SingleHeader": {
          "target": "com.amazonaws.wafv2#SingleHeader",
          "traits": {
            "smithy.api#documentation": "<p>Inspect a single header. Provide the name of the header to inspect, for example, <code>User-Agent</code> or <code>Referer</code>. This setting isn't case sensitive.</p>"
          }
        },
        "SingleQueryArgument": {
          "target": "com.amazonaws.wafv2#SingleQueryArgument",
          "traits": {
            "smithy.api#documentation": "<p>Inspect a single query argument. Provide the name of the query argument to inspect, such as <i>UserName</i> or <i>SalesRegion</i>. The name can be up to 30 characters long and isn't case sensitive. </p>"
          }
        },
        "UriPath": {
          "target": "com.amazonaws.wafv2#UriPath",
          "traits": {
            "smithy.api#documentation": "<p>Inspect the request URI path. This is the part of a web request that identifies a resource, for example, <code>/images/daily-ad.jpg</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>The part of a web request that you want AWS WAF to inspect. Include the <code>FieldToMatch</code> types that you want to inspect, with additional specifications as needed, according to the type. </p>"
      }
    },
    "com.amazonaws.wafv2#FieldToMatchData": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": ".*\\S.*"
      }
    },
    "com.amazonaws.wafv2#GeoMatchStatement": {
      "type": "structure",
      "members": {
        "CountryCodes": {
          "target": "com.amazonaws.wafv2#CountryCodes",
          "traits": {
            "smithy.api#documentation": "<p>An array of two-character country codes, for example, <code>[ \"US\", \"CN\" ]</code>, from the alpha-2 country ISO codes of the ISO 3166 international standard. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>.  </p>\n         </note> \n         <p>A rule statement used to identify web requests based on country of origin.  </p>"
      }
    },
    "com.amazonaws.wafv2#GetIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#GetIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#GetIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        }
      ],
      "traits": {
[...]
