{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.wafv2#APIKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.wafv2#APIKeySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafv2#APIKeySummary"
      }
    },
    "com.amazonaws.wafv2#APIKeySummary": {
      "type": "structure",
      "members": {
        "TokenDomains": {
          "target": "com.amazonaws.wafv2#TokenDomains",
          "traits": {
            "smithy.api#documentation": "<p>The token domains that are defined in this API key. </p>"
          }
        },
        "APIKey": {
          "target": "com.amazonaws.wafv2#APIKey",
          "traits": {
            "smithy.api#documentation": "<p>The generated, encrypted API key. You can copy this for use in your JavaScript CAPTCHA integration.  </p>"
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.wafv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the key was created. </p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.wafv2#APIKeyVersion",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Internal value used by WAF to manage the key. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information for a single API key. </p>\n         <p>API keys are required for the integration of the CAPTCHA API in your JavaScript client applications. \n           The API lets you customize the placement and characteristics of the CAPTCHA puzzle for your end users. \n           For more information about the CAPTCHA JavaScript integration, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.wafv2#APIKeyTokenDomains": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafv2#TokenDomain"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafv2#APIKeyVersion": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.wafv2#AWSManagedRulesACFPRuleSet": {
      "type": "structure",
      "members": {
        "CreationPath": {
          "target": "com.amazonaws.wafv2#CreationPathString",
          "traits": {
            "smithy.api#documentation": "<p>The path of the account creation endpoint for your application. This is the page on your website that accepts the completed registration form for a new user. This page must accept <code>POST</code> requests.</p>\n         <p>For example, for the URL <code>https://example.com/web/newaccount</code>, you would provide\n\tthe path <code>/web/newaccount</code>. Account creation page paths that\n\tstart with the path that you provide are considered a match. For example\n\t<code>/web/newaccount</code> matches the account creation paths\n\t\t<code>/web/newaccount</code>, <code>/web/newaccount/</code>,\n\t\t<code>/web/newaccountPage</code>, and\n\t\t<code>/web/newaccount/thisPage</code>, but doesn't match the path\n\t\t<code>/home/web/newaccount</code> or\n\t\t<code>/website/newaccount</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationPagePath": {
          "target": "com.amazonaws.wafv2#RegistrationPagePathString",
          "traits": {
            "smithy.api#documentation": "<p>The path of the account registration endpoint for your application. This is the page on your website that presents the registration form to new users. </p>\n         <note>\n            <p>This page must accept <code>GET</code> text/html requests.</p>\n         </note>\n         <p>For example, for the URL <code>https://example.com/web/registration</code>, you would provide\n\tthe path <code>/web/registration</code>. Registration page paths that\n\tstart with the path that you provide are considered a match. For example\n\t    <code>/web/registration</code> matches the registration paths\n\t    <code>/web/registration</code>, <code>/web/registration/</code>,\n\t    <code>/web/registrationPage</code>, and\n\t    <code>/web/registration/thisPage</code>, but doesn't match the path\n\t    <code>/home/web/registration</code> or\n\t    <code>/website/registration</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "RequestInspection": {
          "target": "com.amazonaws.wafv2#RequestInspectionACFP",
          "traits": {
            "smithy.api#documentation": "<p>The criteria for inspecting account creation requests, used by the ACFP rule group to validate and track account creation attempts.  </p>",
            "smithy.api#required": {}
          }
        },
        "ResponseInspection": {
          "target": "com.amazonaws.wafv2#ResponseInspection",
          "traits": {
            "smithy.api#documentation": "<p>The criteria for inspecting responses to account creation requests, used by the ACFP rule group to track account creation success rates. </p>\n         <note>\n            <p>Response inspection is available only in web ACLs that protect Amazon CloudFront distributions.</p>\n         </note>\n         <p>The ACFP rule group evaluates the responses that your protected resources send back to client account creation attempts, keeping count of successful and failed attempts from each IP address and client session. Using this information, the rule group labels \n               and mitigates requests from client sessions and IP addresses that have had too many successful account creation attempts in a short amount of time. </p>"
          }
        },
        "EnableRegexInPath": {
          "target": "com.amazonaws.wafv2#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Allow the use of regular expressions in the registration page path and the account creation path. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for your use of the account creation fraud prevention managed rule group, <code>AWSManagedRulesACFPRuleSet</code>. This configuration is used in <code>ManagedRuleGroupConfig</code>. </p>"
      }
    },
    "com.amazonaws.wafv2#AWSManagedRulesATPRuleSet": {
      "type": "structure",
      "members": {
        "LoginPath": {
          "target": "com.amazonaws.wafv2#String",
          "traits": {
            "smithy.api#documentation": "<p>The path of the login endpoint for your application. For example, for the URL\n            <code>https://example.com/web/login</code>, you would provide the path\n            <code>/web/login</code>. Login paths that start with the path that you provide are considered a match. For example <code>/web/login</code> matches the login paths <code>/web/login</code>, <code>/web/login/</code>, <code>/web/loginPage</code>, and <code>/web/login/thisPage</code>, but doesn't match the login path <code>/home/web/login</code> or <code>/website/login</code>.</p>\n         <p>The rule group inspects only HTTP <code>POST</code> requests to your specified login endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "RequestInspection": {
          "target": "com.amazonaws.wafv2#RequestInspection",
          "traits": {
            "smithy.api#documentation": "<p>The criteria for inspecting login requests, used by the ATP rule group to validate credentials usage.  </p>"
          }
        },
        "ResponseInspection": {
          "target": "com.amazonaws.wafv2#ResponseInspection",
          "traits": {
            "smithy.api#documentation": "<p>The criteria for inspecting responses to login requests, used by the ATP rule group to track login failure rates. </p>\n         <note>\n            <p>Response inspection is available only in web ACLs that protect Amazon CloudFront distributions.</p>\n         </note>\n         <p>The ATP rule group evaluates the responses that your protected resources send back to client login attempts, keeping count of successful and failed attempts for each IP address and client session. Using this information, the rule group labels \n               and mitigates requests from client sessions and IP addresses that have had too many failed login attempts in a short amount of time. </p>"
          }
        },
        "EnableRegexInPath": {
          "target": "com.amazonaws.wafv2#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Allow the use of regular expressions in the login page path. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for your use of the account takeover prevention managed rule group, <code>AWSManagedRulesATPRuleSet</code>. This configuration is used in <code>ManagedRuleGroupConfig</code>. </p>"
      }
    },
    "com.amazonaws.wafv2#AWSManagedRulesBotControlRuleSet": {
      "type": "structure",
      "members": {
        "InspectionLevel": {
          "target": "com.amazonaws.wafv2#InspectionLevel",
          "traits": {
            "smithy.api#documentation": "<p>The inspection level to use for the Bot Control rule group. The common level is the least expensive. The \n           targeted level includes all common level rules and adds rules with more advanced inspection criteria. For \n   details, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-bot.html\">WAF Bot Control rule group</a>\n               in the <i>WAF Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "EnableMachineLearning": {
          "target": "com.amazonaws.wafv2#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Applies only to the targeted inspection level. </p>\n         <p>Determines whether to use machine learning (ML) to\n      analyze your web traffic for bot-related activity. Machine learning is required for the Bot Control rules <code>TGT_ML_CoordinatedActivityLow</code> and <code>TGT_ML_CoordinatedActivityMedium</code>, which\ninspect for anomalous behavior that might indicate distributed, coordinated bot activity.</p>\n         <p>For more information about this choice, see the listing for these rules in the table at <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-bot.html#aws-managed-rule-groups-bot-rules\">Bot Control rules listing</a> in the\n            <i>WAF Developer Guide</i>.</p>\n         <p>Default: <code>TRUE</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for your use of the Bot Control managed rule group, <code>AWSManagedRulesBotControlRuleSet</code>. This configuration is used in <code>ManagedRuleGroupConfig</code>. </p>"
      }
    },
    "com.amazonaws.wafv2#AWSWAF_20190729": {
      "type": "service",
      "version": "2019-07-29",
      "operations": [
        {
          "target": "com.amazonaws.wafv2#AssociateWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#CheckCapacity"
        },
        {
          "target": "com.amazonaws.wafv2#CreateAPIKey"
        },
        {
          "target": "com.amazonaws.wafv2#CreateIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#CreateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#CreateRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#CreateWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteFirewallManagerRuleGroups"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafv2#DeletePermissionPolicy"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#DescribeAllManagedProducts"
        },
        {
          "target": "com.amazonaws.wafv2#DescribeManagedProductsByVendor"
        },
        {
          "target": "com.amazonaws.wafv2#DescribeManagedRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#DisassociateWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#GenerateMobileSdkReleaseUrl"
        },
        {
          "target": "com.amazonaws.wafv2#GetDecryptedAPIKey"
        },
        {
          "target": "com.amazonaws.wafv2#GetIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#GetLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafv2#GetManagedRuleSet"
        },
        {
          "target": "com.amazonaws.wafv2#GetMobileSdkRelease"
        },
        {
          "target": "com.amazonaws.wafv2#GetPermissionPolicy"
        },
        {
          "target": "com.amazonaws.wafv2#GetRateBasedStatementManagedKeys"
        },
        {
          "target": "com.amazonaws.wafv2#GetRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#GetRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#GetSampledRequests"
        },
        {
          "target": "com.amazonaws.wafv2#GetWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#GetWebACLForResource"
        },
        {
          "target": "com.amazonaws.wafv2#ListAPIKeys"
        },
        {
          "target": "com.amazonaws.wafv2#ListAvailableManagedRuleGroups"
        },
        {
          "target": "com.amazonaws.wafv2#ListAvailableManagedRuleGroupVersions"
        },
        {
          "target": "com.amazonaws.wafv2#ListIPSets"
        },
        {
          "target": "com.amazonaws.wafv2#ListLoggingConfigurations"
        },
        {
          "target": "com.amazonaws.wafv2#ListManagedRuleSets"
        },
        {
          "target": "com.amazonaws.wafv2#ListMobileSdkReleases"
        },
        {
          "target": "com.amazonaws.wafv2#ListRegexPatternSets"
        },
        {
          "target": "com.amazonaws.wafv2#ListResourcesForWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#ListRuleGroups"
        },
        {
          "target": "com.amazonaws.wafv2#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.wafv2#ListWebACLs"
        },
        {
          "target": "com.amazonaws.wafv2#PutLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafv2#PutManagedRuleSetVersions"
        },
        {
          "target": "com.amazonaws.wafv2#PutPermissionPolicy"
        },
        {
          "target": "com.amazonaws.wafv2#TagResource"
        },
        {
          "target": "com.amazonaws.wafv2#UntagResource"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateManagedRuleSetVersionExpiryDate"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateWebACL"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "WAFV2",
          "arnNamespace": "wafv2",
          "cloudFormationName": "WAFv2",
          "cloudTrailEventSource": "wafv2.amazonaws.com",
          "endpointPrefix": "wafv2"
        },
        "aws.auth#sigv4": {
          "name": "wafv2"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>WAF</fullname>\n         <note>\n            <p>This is the latest version of the <b>WAF</b> API,\n            released in November, 2019. The names of the entities that you use to access this API,\n            like endpoints and namespaces, all have the versioning information added, like \"V2\" or\n            \"v2\", to distinguish from the prior version. We recommend migrating your resources to\n            this version, because it has a number of significant improvements.</p>\n            <p>If you used WAF prior to this release, you can't use this WAFV2 API to access any\n            WAF resources that you created before. You can access your old rules, web ACLs, and\n            other WAF resources only through the WAF Classic APIs. The WAF Classic APIs\n            have retained the prior names, endpoints, and namespaces. </p>\n            <p>For information, including how to migrate your WAF resources to this version,\n            see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>\n         </note>\n         <p>WAF is a web application firewall that lets you monitor the HTTP and HTTPS\n         requests that are forwarded to an Amazon CloudFront distribution, Amazon API Gateway REST API, Application Load Balancer, AppSync\n      GraphQL API, Amazon Cognito user pool, App Runner service, or Amazon Web Services Verified Access instance. WAF also lets you control access to your content,\n      to protect the Amazon Web Services resource that WAF is monitoring. Based on conditions that\n         you specify, such as the IP addresses that requests originate from or the values of query\n         strings, the protected resource responds to requests with either the requested content, an HTTP 403 status code\n         (Forbidden), or with a custom response. </p>\n         <p>This API guide is for developers who need detailed information about WAF API actions,\n         data types, and errors. For detailed information about WAF features and guidance for configuring and using \n         WAF, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/what-is-aws-waf.html\">WAF Developer\n         Guide</a>.</p>\n         <p>You can make calls using the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/waf.html\">WAF endpoints and quotas</a>. </p>\n         <ul>\n            <li>\n               <p>For regional applications, you can use any of the endpoints in the list.\n               A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, an AppSync GraphQL API, an Amazon Cognito user pool, an App Runner service, or an Amazon Web Services Verified Access instance. </p>\n            </li>\n            <li>\n               <p>For Amazon CloudFront applications, you must use the API endpoint listed for\n               US East (N. Virginia): us-east-1.</p>\n            </li>\n         </ul>\n         <p>Alternatively, you can use one of the Amazon Web Services SDKs to access an API that's tailored to the\n         programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">Amazon Web Services SDKs</a>.</p>\n         <p>We currently provide two versions of the WAF API: this API and the prior versions,\n         the classic WAF APIs. This new API provides the same functionality as the older versions,\n         with the following major improvements:</p>\n         <ul>\n            <li>\n               <p>You use one API for both global and regional applications. Where you need to\n               distinguish the scope, you specify a <code>Scope</code> parameter and set it to\n                  <code>CLOUDFRONT</code> or <code>REGIONAL</code>. </p>\n            </li>\n            <li>\n               <p>You can define a web ACL or rule group with a single call, and update it with a\n               single call. You define all rule specifications in JSON format, and pass them to your\n               rule group or web ACL calls.</p>\n            </li>\n            <li>\n               <p>The limits WAF places on the use of rules more closely reflects the cost of\n               running each type of rule. Rule groups include capacity settings, so you know the\n               maximum cost of a rule group when you use it.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS WAFV2",
        "smithy.api#xmlNamespace": {
          "uri": "http://waf.amazonaws.com/doc/2019-07-29/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://wafv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://wafv2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://wafv2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://wafv2.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://wafv2.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.wafv2#Action": {
      "type": "string"
    },
    "com.amazonaws.wafv2#ActionCondition": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.wafv2#ActionValue",
          "traits": {
            "smithy.api#documentation": "<p>The action setting that a log record must contain in order to meet the condition. This is the action that WAF applied to the web request. </p>\n         <p>For rule groups, this is either the configured rule action setting, or if you've applied a rule action override to the rule, it's the override action. \n       The value <code>EXCLUDED_AS_COUNT</code> matches on \n       excluded rules and also on rules that have a rule action override of Count. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single action condition for a <a>Condition</a> in a logging filter.</p>"
      }
    },
    "com.amazonaws.wafv2#ActionValue": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        },
        "CAPTCHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPTCHA"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHALLENGE"
          }
        },
        "EXCLUDED_AS_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDED_AS_COUNT"
          }
        }
      }
    },
    "com.amazonaws.wafv2#AddressField": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.wafv2#FieldIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of a single primary address field. </p>\n         <p>How you specify the address fields depends on the request inspection payload type.</p>\n         <ul>\n            <li>\n               <p>For JSON payloads, specify the field identifiers in JSON\n               pointer syntax. For information about the JSON Pointer\n               syntax, see the Internet Engineering Task Force (IETF)\n               documentation <a href=\"https://tools.ietf.org/html/rfc6901\">JavaScript\n               \tObject Notation (JSON) Pointer</a>. </p>\n               <p>For example, for the JSON payload <code>{ \"form\": { \"primaryaddressline1\": \"THE_ADDRESS1\", \"primaryaddressline2\": \"THE_ADDRESS2\", \"primaryaddressline3\": \"THE_ADDRESS3\" } }</code>, \n                 the address field idenfiers are <code>/form/primaryaddressline1</code>, <code>/form/primaryaddressline2</code>, and <code>/form/primaryaddressline3</code>.</p>\n            </li>\n            <li>\n               <p>For form encoded payload types, use the HTML form names.</p>\n               <p>For example, for an HTML form with input elements\n                   named <code>primaryaddressline1</code>, <code>primaryaddressline2</code>, and <code>primaryaddressline3</code>, the address fields identifiers are <code>primaryaddressline1</code>, <code>primaryaddressline2</code>, and <code>primaryaddressline3</code>. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of a field in the request payload that contains part or all of your customer's primary physical address. </p>\n         <p>This data type is used in the <code>RequestInspectionACFP</code> data type. </p>"
      }
    },
    "com.amazonaws.wafv2#AddressFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafv2#AddressField"
      }
    },
    "com.amazonaws.wafv2#All": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Inspect all of the elements that WAF has parsed and extracted from the web request\n         component that you've identified in your <a>FieldToMatch</a> specifications. </p>\n         <p>This is used in the <a>FieldToMatch</a> specification for some web request component types. </p>\n         <p>JSON specification: <code>\"All\": {}</code>\n         </p>"
      }
    },
    "com.amazonaws.wafv2#AllQueryArguments": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Inspect all query arguments of the web request. </p>\n         <p>This is used in the <a>FieldToMatch</a> specification for some web request component types. </p>\n         <p>JSON specification: <code>\"AllQueryArguments\": {}</code>\n         </p>"
      }
    },
    "com.amazonaws.wafv2#AllowAction": {
      "type": "structure",
      "members": {
        "CustomRequestHandling": {
          "target": "com.amazonaws.wafv2#CustomRequestHandling",
          "traits": {
            "smithy.api#documentation": "<p>Defines custom handling for the web request.</p>\n         <p>For information about customizing web requests and responses, \n           see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> \n    in the <i>WAF Developer Guide</i>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that WAF should allow the request and optionally defines additional\n         custom handling for the request.</p>\n         <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#AndStatement": {
      "type": "structure",
      "members": {
        "Statements": {
          "target": "com.amazonaws.wafv2#Statements",
          "traits": {
            "smithy.api#documentation": "<p>The statements to combine with AND logic. You can use any statements that can be nested.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A logical rule statement used to combine other rule statements with AND logic. You provide more than one <a>Statement</a> within the <code>AndStatement</code>. </p>"
      }
    },
    "com.amazonaws.wafv2#AssociateWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#AssociateWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#AssociateWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a web ACL with a regional application resource, to protect the resource.\n         A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, an AppSync GraphQL API, an Amazon Cognito user pool, an App Runner service, or an Amazon Web Services Verified Access instance.  </p>\n         <p>For Amazon CloudFront, don't use this call. Instead, use your CloudFront distribution configuration. To\n         associate a web ACL, in the CloudFront call <code>UpdateDistribution</code>, set the web ACL ID\n         to the Amazon Resource Name (ARN) of the web ACL. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a> in the <i>Amazon CloudFront Developer Guide</i>. </p>\n         <p>When you make changes to web ACLs or web ACL components, like rules and rule groups, WAF propagates the changes everywhere that the web ACL and its components are stored and used. Your changes are applied within seconds, but there might be a brief period of inconsistency when the changes have arrived in some places and not in others. So, for example, if you change a rule action setting, the action might be the old action in one area and the new action in another area. Or if you add an IP address to an IP set used in a blocking rule, the new address might briefly be blocked in one area while still allowed in another. This temporary inconsistency can occur when you first associate a web ACL with an Amazon Web Services resource and when you change a web ACL that is already associated with a resource. Generally, any inconsistencies of this type last only a few seconds.</p>"
      }
    },
    "com.amazonaws.wafv2#AssociateWebACLRequest": {
      "type": "structure",
      "members": {
        "WebACLArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web ACL that you want to associate with the\n         resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to associate with the web ACL. </p>\n         <p>The ARN must be in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>For an Application Load Balancer: <code>arn:<i>partition</i>:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Amazon API Gateway REST API: <code>arn:<i>partition</i>:apigateway:<i>region</i>::/restapis/<i>api-id</i>/stages/<i>stage-name</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an AppSync GraphQL API: <code>arn:<i>partition</i>:appsync:<i>region</i>:<i>account-id</i>:apis/<i>GraphQLApiId</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Amazon Cognito user pool: <code>arn:<i>partition</i>:cognito-idp:<i>region</i>:<i>account-id</i>:userpool/<i>user-pool-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an App Runner service: <code>arn:<i>partition</i>:apprunner:<i>region</i>:<i>account-id</i>:service/<i>apprunner-service-name</i>/<i>apprunner-service-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Amazon Web Services Verified Access instance: <code>arn:<i>partition</i>:ec2:<i>region</i>:<i>account-id</i>:verified-access-instance/<i>instance-id</i>\n                  </code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wafv2#AssociateWebACLResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wafv2#AssociatedResourceType": {
      "type": "enum",
      "members": {
        "CLOUDFRONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFRONT"
          }
        }
      }
    },
    "com.amazonaws.wafv2#AssociationConfig": {
      "type": "structure",
      "members": {
        "RequestBody": {
          "target": "com.amazonaws.wafv2#RequestBody",
          "traits": {
            "smithy.api#documentation": "<p>Customizes the maximum size of the request body that your protected CloudFront distributions forward to WAF for inspection. The default size is 16 KB (16,384 bytes). </p>\n         <note>\n            <p>You are charged additional fees when your protected resources forward body sizes that are larger than the default. For more information, see <a href=\"http://aws.amazon.com/waf/pricing/\">WAF Pricing</a>.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies custom configurations for the associations between the web ACL and protected resources.  </p>\n         <p>Use this to customize the maximum size of the request body that your protected CloudFront distributions forward to WAF for inspection. The default is 16 KB (16,384 bytes). </p>\n         <note>\n            <p>You are charged additional fees when your protected resources forward body sizes that are larger than the default. For more information, see <a href=\"http://aws.amazon.com/waf/pricing/\">WAF Pricing</a>.</p>\n         </note>"
      }
    },
    "com.amazonaws.wafv2#BlockAction": {
      "type": "structure",
      "members": {
        "CustomResponse": {
          "target": "com.amazonaws.wafv2#CustomResponse",
          "traits": {
            "smithy.api#documentation": "<p>Defines a custom response for the web request.</p>\n         <p>For information about customizing web requests and responses, \n           see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> \n    in the <i>WAF Developer Guide</i>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that WAF should block the request and optionally defines additional\n         custom handling for the response to the web request.</p>\n         <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#Body": {
      "type": "structure",
      "members": {
        "OversizeHandling": {
          "target": "com.amazonaws.wafv2#OversizeHandling",
          "traits": {
            "smithy.api#documentation": "<p>What WAF should do if the body is larger than WAF can inspect. \n    WAF does not support inspecting the entire contents of the web request body if the body \n    exceeds the limit for the resource type. If the body is larger than the limit, the underlying host service \n    only forwards the contents that are below the limit to WAF for inspection. </p>\n         <p>The default limit is 8 KB (8,192 bytes) for regional resources and 16 KB (16,384 bytes) for CloudFront distributions. For CloudFront distributions, \n    you can increase the limit in the web ACL <code>AssociationConfig</code>, for additional processing fees. </p>\n         <p>The options for oversize handling are the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CONTINUE</code> - Inspect the available body contents normally, according to the rule inspection criteria. </p>\n            </li>\n            <li>\n               <p>\n                  <code>MATCH</code> - Treat the web request as matching the rule statement. WAF\n               applies the rule action to the request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NO_MATCH</code> - Treat the web request as not matching the rule\n               statement.</p>\n            </li>\n         </ul>\n         <p>You can combine the <code>MATCH</code> or <code>NO_MATCH</code>\n      settings for oversize handling with your rule and web ACL action settings, so that you block any request whose body is over the limit. </p>\n         <p>Default: <code>CONTINUE</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Inspect the body of the web request. The body immediately follows the request\n         headers.</p>\n         <p>This is used to indicate the web request component to inspect, in the <a>FieldToMatch</a> specification. </p>"
      }
    },
    "com.amazonaws.wafv2#BodyParsingFallbackBehavior": {
      "type": "enum",
      "members": {
        "MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH"
          }
        },
        "NO_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MATCH"
          }
        },
        "EVALUATE_AS_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATE_AS_STRING"
          }
        }
      }
    },
    "com.amazonaws.wafv2#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.wafv2#ByteMatchStatement": {
      "type": "structure",
      "members": {
        "SearchString": {
          "target": "com.amazonaws.wafv2#SearchString",
          "traits": {
            "smithy.api#documentation": "<p>A string value that you want WAF to search for. WAF searches only in the part of\n         web requests that you designate for inspection in <a>FieldToMatch</a>. The\n         maximum length of the value is 200 bytes.</p>\n         <p>Valid values depend on the component that you specify for inspection in\n            <code>FieldToMatch</code>:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Method</code>: The HTTP method that you want WAF to search for. This\n               indicates the type of operation specified in the request. </p>\n            </li>\n            <li>\n               <p>\n                  <code>UriPath</code>: The value that you want WAF to search for in the URI path,\n               for example, <code>/images/daily-ad.jpg</code>. </p>\n            </li>\n            <li>\n               <p>\n                  <code>JA3Fingerprint</code>: Match against the request's JA3 fingerprint. The JA3 fingerprint is a 32-character hash derived from the TLS Client Hello of an incoming request. This fingerprint serves as a unique identifier for the client's TLS configuration. You can use this choice only with a string match <code>ByteMatchStatement</code> with the <code>PositionalConstraint</code> set to \n       <code>EXACTLY</code>. </p>\n               <p>You can obtain the JA3 fingerprint for client requests from the web ACL logs. \n\t\t\t\t\t\tIf WAF is able to calculate the fingerprint, it includes it in the logs.  \n\t\t\t\t\t\tFor information about the logging fields, \nsee <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging-fields.html\">Log fields</a> in the <i>WAF Developer Guide</i>. </p>\n            </li>\n            <li>\n               <p>\n                  <code>HeaderOrder</code>: The comma-separated list of header names to match for. WAF creates a \n                 string that contains the ordered list of header names, from the headers in the web request, and then matches against that string. </p>\n            </li>\n         </ul>\n         <p>If <code>SearchString</code> includes alphabetic characters A-Z and a-z, note that the\n         value is case sensitive.</p>\n         <p>\n            <b>If you're using the WAF API</b>\n         </p>\n         <p>Specify a base64-encoded version of the value. The maximum length of the value before\n         you base64-encode it is 200 bytes.</p>\n         <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the value\n         of <code>Data</code> is <code>User-Agent</code>. If you want to search the\n            <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode\n            <code>BadBot</code> using MIME base64-encoding and include the resulting value,\n            <code>QmFkQm90</code>, in the value of <code>SearchString</code>.</p>\n         <p>\n            <b>If you're using the CLI or one of the Amazon Web Services SDKs</b>\n         </p>\n         <p>The value that you want WAF to search for. The SDK automatically base64 encodes the\n         value.</p>",
            "smithy.api#required": {}
          }
        },
        "FieldToMatch": {
          "target": "com.amazonaws.wafv2#FieldToMatch",
          "traits": {
            "smithy.api#documentation": "<p>The part of the web request that you want WAF to inspect. </p>",
            "smithy.api#required": {}
          }
        },
        "TextTransformations": {
          "target": "com.amazonaws.wafv2#TextTransformations",
          "traits": {
            "smithy.api#documentation": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass detection. Text transformations are used in rule match statements, to transform the <code>FieldToMatch</code> request component before inspecting it, and they're used in rate-based rule statements, to transform request components before using them as custom aggregation keys. If you specify one or more transformations to apply, WAF performs all transformations on the specified content, starting from the lowest priority setting, and then uses the transformed component contents. </p>",
            "smithy.api#required": {}
          }
        },
        "PositionalConstraint": {
          "target": "com.amazonaws.wafv2#PositionalConstraint",
          "traits": {
            "smithy.api#documentation": "<p>The area within the portion of the web request that you want WAF to search for\n            <code>SearchString</code>. Valid values include the following:</p>\n         <p>\n            <b>CONTAINS</b>\n         </p>\n         <p>The specified part of the web request must include the value of\n            <code>SearchString</code>, but the location doesn't matter.</p>\n         <p>\n            <b>CONTAINS_WORD</b>\n         </p>\n         <p>The specified part of the web request must include the value of\n            <code>SearchString</code>, and <code>SearchString</code> must contain only alphanumeric\n         characters or underscore (A-Z, a-z, 0-9, or _). In addition, <code>SearchString</code> must\n         be a word, which means that both of the following are true:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SearchString</code> is at the beginning of the specified part of the web\n               request or is preceded by a character other than an alphanumeric character or\n               underscore (_). Examples include the value of a header and\n               <code>;BadBot</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SearchString</code> is at the end of the specified part of the web request or\n               is followed by a character other than an alphanumeric character or underscore (_),\n               for example, <code>BadBot;</code> and <code>-BadBot;</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>EXACTLY</b>\n         </p>\n         <p>The value of the specified part of the web request must exactly match the value of\n            <code>SearchString</code>.</p>\n         <p>\n            <b>STARTS_WITH</b>\n         </p>\n         <p>The value of <code>SearchString</code> must appear at the beginning of the specified\n         part of the web request.</p>\n         <p>\n            <b>ENDS_WITH</b>\n         </p>\n         <p>The value of <code>SearchString</code> must appear at the end of the specified part of\n         the web request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A rule statement that defines a string match search for WAF to apply to web requests. The byte match statement provides the bytes to search for, the location in requests that you want WAF to search, and other settings. The bytes to search for are typically a string that corresponds with ASCII characters. In the WAF console and the developer guide, this is called a string match statement.</p>"
      }
    },
    "com.amazonaws.wafv2#CapacityUnit": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafv2#CaptchaAction": {
      "type": "structure",
      "members": {
        "CustomRequestHandling": {
          "target": "com.amazonaws.wafv2#CustomRequestHandling",
          "traits": {
            "smithy.api#documentation": "<p>Defines custom handling for the web request, used when the <code>CAPTCHA</code> inspection determines that the request's token is valid and unexpired.</p>\n         <p>For information about customizing web requests and responses, \n           see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> \n    in the <i>WAF Developer Guide</i>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that WAF should run a <code>CAPTCHA</code> check against the request: </p>\n         <ul>\n            <li>\n               <p>If the request includes a valid, unexpired <code>CAPTCHA</code> token,\n               WAF applies any custom request handling and labels that you've configured and then allows the web request inspection to \n               proceed to the next rule, similar to a <code>CountAction</code>. </p>\n            </li>\n            <li>\n               <p>If the request doesn't include a valid, unexpired token, WAF \n                   discontinues the web ACL evaluation of the request and blocks it from going to its intended destination.</p>\n               <p>WAF generates a response that it sends back to the client, which includes the following: </p>\n               <ul>\n                  <li>\n                     <p>The header <code>x-amzn-waf-action</code> with a value of <code>captcha</code>. </p>\n                  </li>\n                  <li>\n                     <p>The HTTP status code <code>405 Method Not Allowed</code>. </p>\n                  </li>\n                  <li>\n                     <p>If the request contains an <code>Accept</code> header with a value of <code>text/html</code>, the response includes a <code>CAPTCHA</code> JavaScript page interstitial. </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>You can configure the expiration time \n               in the <code>CaptchaConfig</code>\n            <code>ImmunityTimeProperty</code> setting at the rule and web ACL level. The rule setting overrides the web ACL setting. </p>\n         <p>This action option is available for rules. It isn't available for web ACL default actions. </p>"
      }
    },
    "com.amazonaws.wafv2#CaptchaConfig": {
      "type": "structure",
      "members": {
        "ImmunityTimeProperty": {
          "target": "com.amazonaws.wafv2#ImmunityTimeProperty",
          "traits": {
            "smithy.api#documentation": "<p>Determines how long a <code>CAPTCHA</code> timestamp in the token remains valid after the client\n         successfully solves a <code>CAPTCHA</code> puzzle. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies how WAF should handle <code>CAPTCHA</code> evaluations. This is\n         available at the web ACL level and in each rule. </p>"
      }
    },
    "com.amazonaws.wafv2#CaptchaResponse": {
      "type": "structure",
      "members": {
        "ResponseCode": {
          "target": "com.amazonaws.wafv2#ResponseCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP response code indicating the status of the <code>CAPTCHA</code> token in the\n         web request. If the token is missing, invalid, or expired, this code is <code>405 Method\n            Not Allowed</code>.</p>"
          }
        },
        "SolveTimestamp": {
          "target": "com.amazonaws.wafv2#SolveTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the <code>CAPTCHA</code> was last solved for the supplied token. </p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.wafv2#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for failure, populated when the evaluation of the token fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result from the inspection of the web request for a valid <code>CAPTCHA</code> token. </p>"
      }
    },
    "com.amazonaws.wafv2#ChallengeAction": {
      "type": "structure",
      "members": {
        "CustomRequestHandling": {
          "target": "com.amazonaws.wafv2#CustomRequestHandling",
          "traits": {
            "smithy.api#documentation": "<p>Defines custom handling for the web request, used when the challenge inspection determines that the request's token is valid and unexpired.</p>\n         <p>For information about customizing web requests and responses, \n           see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> \n    in the <i>WAF Developer Guide</i>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that WAF should run a <code>Challenge</code> check against the request to verify that the request is coming from a legitimate client session: </p>\n         <ul>\n            <li>\n               <p>If the request includes a valid, unexpired challenge token,\n               WAF applies any custom request handling and labels that you've configured and then allows the web request inspection to \n               proceed to the next rule, similar to a <code>CountAction</code>. </p>\n            </li>\n            <li>\n               <p>If the request doesn't include a valid, unexpired challenge token, WAF \n                   discontinues the web ACL evaluation of the request and blocks it from going to its intended destination.</p>\n               <p>WAF then generates a challenge response that it sends back to the client, which includes the following: </p>\n               <ul>\n                  <li>\n                     <p>The header <code>x-amzn-waf-action</code> with a value of <code>challenge</code>. </p>\n                  </li>\n                  <li>\n                     <p>The HTTP status code <code>202 Request Accepted</code>. </p>\n                  </li>\n                  <li>\n                     <p>If the request contains an <code>Accept</code> header with a value of <code>text/html</code>, the response includes a JavaScript page interstitial with a challenge script. </p>\n                  </li>\n               </ul>\n               <p>Challenges run silent browser interrogations in the background, and don't generally affect the end user experience. </p>\n               <p>A challenge enforces token acquisition using an interstitial JavaScript challenge that inspects the client session for legitimate behavior. The challenge blocks bots or at least increases the cost of operating sophisticated bots. </p>\n               <p>After the client session successfully responds to \n           the challenge, it receives a new token from WAF, which the challenge script uses to resubmit the original request. </p>\n            </li>\n         </ul>\n         <p>You can configure the expiration time \n         in the <code>ChallengeConfig</code>\n            <code>ImmunityTimeProperty</code> setting at the rule and web ACL level. The rule setting overrides the web ACL setting. </p>\n         <p>This action option is available for rules. It isn't available for web ACL default actions. </p>"
      }
    },
    "com.amazonaws.wafv2#ChallengeConfig": {
      "type": "structure",
      "members": {
        "ImmunityTimeProperty": {
          "target": "com.amazonaws.wafv2#ImmunityTimeProperty",
          "traits": {
            "smithy.api#documentation": "<p>Determines how long a challenge timestamp in the token remains valid after the client\n         successfully responds to a challenge. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies how WAF should handle <code>Challenge</code> evaluations. This is\n         available at the web ACL level and in each rule. </p>"
      }
    },
    "com.amazonaws.wafv2#ChallengeResponse": {
      "type": "structure",
      "members": {
        "ResponseCode": {
          "target": "com.amazonaws.wafv2#ResponseCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP response code indicating the status of the challenge token in the\n         web request. If the token is missing, invalid, or expired, this code is <code>202 Request Accepted</code>.</p>"
          }
        },
        "SolveTimestamp": {
          "target": "com.amazonaws.wafv2#SolveTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the challenge was last solved for the supplied token. </p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.wafv2#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for failure, populated when the evaluation of the token fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result from the inspection of the web request for a valid challenge token. </p>"
      }
    },
    "com.amazonaws.wafv2#CheckCapacity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CheckCapacityRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CheckCapacityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFExpiredManagedRuleGroupVersionException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidResourceException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFSubscriptionNotFoundException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
[...]
