{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.wafv2#AWSWAF_20190729": {
      "type": "service",
      "version": "2019-07-29",
      "operations": [
        {
          "target": "com.amazonaws.wafv2#AssociateWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#CheckCapacity"
        },
        {
          "target": "com.amazonaws.wafv2#CreateIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#CreateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#CreateRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#CreateWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteFirewallManagerRuleGroups"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafv2#DeletePermissionPolicy"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#DeleteWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#DescribeManagedRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#DisassociateWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#GetIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#GetLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafv2#GetManagedRuleSet"
        },
        {
          "target": "com.amazonaws.wafv2#GetPermissionPolicy"
        },
        {
          "target": "com.amazonaws.wafv2#GetRateBasedStatementManagedKeys"
        },
        {
          "target": "com.amazonaws.wafv2#GetRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#GetRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#GetSampledRequests"
        },
        {
          "target": "com.amazonaws.wafv2#GetWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#GetWebACLForResource"
        },
        {
          "target": "com.amazonaws.wafv2#ListAvailableManagedRuleGroups"
        },
        {
          "target": "com.amazonaws.wafv2#ListAvailableManagedRuleGroupVersions"
        },
        {
          "target": "com.amazonaws.wafv2#ListIPSets"
        },
        {
          "target": "com.amazonaws.wafv2#ListLoggingConfigurations"
        },
        {
          "target": "com.amazonaws.wafv2#ListManagedRuleSets"
        },
        {
          "target": "com.amazonaws.wafv2#ListRegexPatternSets"
        },
        {
          "target": "com.amazonaws.wafv2#ListResourcesForWebACL"
        },
        {
          "target": "com.amazonaws.wafv2#ListRuleGroups"
        },
        {
          "target": "com.amazonaws.wafv2#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.wafv2#ListWebACLs"
        },
        {
          "target": "com.amazonaws.wafv2#PutLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.wafv2#PutManagedRuleSetVersions"
        },
        {
          "target": "com.amazonaws.wafv2#PutPermissionPolicy"
        },
        {
          "target": "com.amazonaws.wafv2#TagResource"
        },
        {
          "target": "com.amazonaws.wafv2#UntagResource"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateIPSet"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateManagedRuleSetVersionExpiryDate"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateRegexPatternSet"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateRuleGroup"
        },
        {
          "target": "com.amazonaws.wafv2#UpdateWebACL"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "WAFV2",
          "arnNamespace": "wafv2",
          "cloudFormationName": "WAFv2",
          "cloudTrailEventSource": "wafv2.amazonaws.com",
          "endpointPrefix": "wafv2"
        },
        "aws.auth#sigv4": {
          "name": "wafv2"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>WAF</fullname>\n         <note>\n            <p>This is the latest version of the <b>WAF</b> API,\n            released in November, 2019. The names of the entities that you use to access this API,\n            like endpoints and namespaces, all have the versioning information added, like \"V2\" or\n            \"v2\", to distinguish from the prior version. We recommend migrating your resources to\n            this version, because it has a number of significant improvements.</p>\n            <p>If you used WAF prior to this release, you can't use this WAFV2 API to access any\n            WAF resources that you created before. You can access your old rules, web ACLs, and\n            other WAF resources only through the WAF Classic APIs. The WAF Classic APIs\n            have retained the prior names, endpoints, and namespaces. </p>\n            <p>For information, including how to migrate your WAF resources to this version,\n            see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>\n         </note>\n         <p>WAF is a web application firewall that lets you monitor the HTTP and HTTPS\n         requests that are forwarded to Amazon CloudFront, an Amazon API Gateway REST API, an Application Load Balancer, or an AppSync\n         GraphQL API. WAF also lets you control access to your content. Based on conditions that\n         you specify, such as the IP addresses that requests originate from or the values of query\n         strings, the Amazon API Gateway REST API, CloudFront distribution, the Application Load Balancer, or the AppSync GraphQL\n         API responds to requests either with the requested content or with an HTTP 403 status code\n         (Forbidden). You also can configure CloudFront to return a custom error page when a request is\n         blocked.</p>\n         <p>This API guide is for developers who need detailed information about WAF API actions,\n         data types, and errors. For detailed information about WAF features and an overview of\n         how to use WAF, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/what-is-aws-waf.html\">WAF Developer\n         Guide</a>.</p>\n         <p>You can make calls using the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/waf.html\">WAF endpoints and quotas</a>. </p>\n         <ul>\n            <li>\n               <p>For regional applications, you can use any of the endpoints in the list.\n               A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API. </p>\n            </li>\n            <li>\n               <p>For Amazon CloudFront applications, you must use the API endpoint listed for\n               US East (N. Virginia): us-east-1.</p>\n            </li>\n         </ul>\n         <p>Alternatively, you can use one of the Amazon Web Services SDKs to access an API that's tailored to the\n         programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">Amazon Web Services SDKs</a>.</p>\n         <p>We currently provide two versions of the WAF API: this API and the prior versions,\n         the classic WAF APIs. This new API provides the same functionality as the older versions,\n         with the following major improvements:</p>\n         <ul>\n            <li>\n               <p>You use one API for both global and regional applications. Where you need to\n               distinguish the scope, you specify a <code>Scope</code> parameter and set it to\n                  <code>CLOUDFRONT</code> or <code>REGIONAL</code>. </p>\n            </li>\n            <li>\n               <p>You can define a web ACL or rule group with a single call, and update it with a\n               single call. You define all rule specifications in JSON format, and pass them to your\n               rule group or web ACL calls.</p>\n            </li>\n            <li>\n               <p>The limits WAF places on the use of rules more closely reflects the cost of\n               running each type of rule. Rule groups include capacity settings, so you know the\n               maximum cost of a rule group when you use it.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS WAFV2",
        "smithy.api#xmlNamespace": {
          "uri": "http://waf.amazonaws.com/doc/2019-07-29/"
        }
      }
    },
    "com.amazonaws.wafv2#Action": {
      "type": "string"
    },
    "com.amazonaws.wafv2#ActionCondition": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.wafv2#ActionValue",
          "traits": {
            "smithy.api#documentation": "<p>The action setting that a log record must contain in order to meet the condition.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single action condition for a <a>Condition</a> in a logging filter.</p>"
      }
    },
    "com.amazonaws.wafv2#ActionValue": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALLOW",
            "name": "ALLOW"
          },
          {
            "value": "BLOCK",
            "name": "BLOCK"
          },
          {
            "value": "COUNT",
            "name": "COUNT"
          }
        ]
      }
    },
    "com.amazonaws.wafv2#All": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Inspect all of the elements that WAF has parsed and extracted from the web request\n         JSON body that are within the <a>JsonBody</a>\n            <code>MatchScope</code>. This is used with the <a>FieldToMatch</a> option\n            <code>JsonBody</code>.\n         \n      </p>\n         <p>This is used only to indicate the web request component for WAF to inspect, in the <a>FieldToMatch</a> specification. </p>"
      }
    },
    "com.amazonaws.wafv2#AllQueryArguments": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>All query arguments of a web request. </p>\n         <p>This is used only to indicate the web request component for WAF to inspect, in the <a>FieldToMatch</a> specification. </p>"
      }
    },
    "com.amazonaws.wafv2#AllowAction": {
      "type": "structure",
      "members": {
        "CustomRequestHandling": {
          "target": "com.amazonaws.wafv2#CustomRequestHandling",
          "traits": {
            "smithy.api#documentation": "<p>Defines custom handling for the web request.</p>\n         <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that WAF should allow the request and optionally defines additional\n         custom handling for the request.</p>\n         <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#AndStatement": {
      "type": "structure",
      "members": {
        "Statements": {
          "target": "com.amazonaws.wafv2#Statements",
          "traits": {
            "smithy.api#documentation": "<p>The statements to combine with AND logic. You can use any statements that can be nested.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A logical rule statement used to combine other rule statements with AND logic. You provide more than one <a>Statement</a> within the <code>AndStatement</code>. </p>"
      }
    },
    "com.amazonaws.wafv2#AssociateWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#AssociateWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#AssociateWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a web ACL with a regional application resource, to protect the resource.\n         A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API.  </p>\n         <p>For Amazon CloudFront, don't use this call. Instead, use your CloudFront distribution configuration. To\n         associate a web ACL, in the CloudFront call <code>UpdateDistribution</code>, set the web ACL ID\n         to the Amazon Resource Name (ARN) of the web ACL. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#AssociateWebACLRequest": {
      "type": "structure",
      "members": {
        "WebACLArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web ACL that you want to associate with the\n         resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to associate with the web ACL. </p>\n       \n         <p>The ARN must be in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Amazon API Gateway REST API: <code>arn:aws:apigateway:<i>region</i>::/restapis/<i>api-id</i>/stages/<i>stage-name</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an AppSync GraphQL API: <code>arn:aws:appsync:<i>region</i>:<i>account-id</i>:apis/<i>GraphQLApiId</i>\n                  </code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#AssociateWebACLResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#BlockAction": {
      "type": "structure",
      "members": {
        "CustomResponse": {
          "target": "com.amazonaws.wafv2#CustomResponse",
          "traits": {
            "smithy.api#documentation": "<p>Defines a custom response for the web request.</p>\n         <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that WAF should block the request and optionally defines additional\n         custom handling for the response to the web request.</p>\n         <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#Body": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The body of a web request. This immediately follows the request headers.</p>\n         <p>This is used only to indicate the web request component for WAF to inspect, in the <a>FieldToMatch</a> specification. </p>"
      }
    },
    "com.amazonaws.wafv2#BodyParsingFallbackBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MATCH",
            "name": "MATCH"
          },
          {
            "value": "NO_MATCH",
            "name": "NO_MATCH"
          },
          {
            "value": "EVALUATE_AS_STRING",
            "name": "EVALUATE_AS_STRING"
          }
        ]
      }
    },
    "com.amazonaws.wafv2#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.wafv2#ByteMatchStatement": {
      "type": "structure",
      "members": {
        "SearchString": {
          "target": "com.amazonaws.wafv2#SearchString",
          "traits": {
            "smithy.api#documentation": "<p>A string value that you want WAF to search for. WAF searches only in the part of\n         web requests that you designate for inspection in <a>FieldToMatch</a>. The\n         maximum length of the value is 50 bytes.</p>\n         <p>Valid values depend on the component that you specify for inspection in\n            <code>FieldToMatch</code>:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Method</code>: The HTTP method that you want WAF to search for. This\n               indicates the type of operation specified in the request. </p>\n            </li>\n            <li>\n               <p>\n                  <code>UriPath</code>: The value that you want WAF to search for in the URI path,\n               for example, <code>/images/daily-ad.jpg</code>. </p>\n            </li>\n         </ul>\n         <p>If <code>SearchString</code> includes alphabetic characters A-Z and a-z, note that the\n         value is case sensitive.</p>\n         <p>\n            <b>If you're using the WAF API</b>\n         </p>\n         <p>Specify a base64-encoded version of the value. The maximum length of the value before\n         you base64-encode it is 50 bytes.</p>\n         <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the value\n         of <code>Data</code> is <code>User-Agent</code>. If you want to search the\n            <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode\n            <code>BadBot</code> using MIME base64-encoding and include the resulting value,\n            <code>QmFkQm90</code>, in the value of <code>SearchString</code>.</p>\n         <p>\n            <b>If you're using the CLI or one of the Amazon Web Services SDKs</b>\n         </p>\n         <p>The value that you want WAF to search for. The SDK automatically base64 encodes the\n         value.</p>",
            "smithy.api#required": {}
          }
        },
        "FieldToMatch": {
          "target": "com.amazonaws.wafv2#FieldToMatch",
          "traits": {
            "smithy.api#documentation": "<p>The part of a web request that you want WAF to inspect. For more information, see <a>FieldToMatch</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "TextTransformations": {
          "target": "com.amazonaws.wafv2#TextTransformations",
          "traits": {
            "smithy.api#documentation": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass detection. \n         If you specify one or more transformations in a rule statement, WAF performs all transformations on the \n         content of the request component identified by <code>FieldToMatch</code>, starting from the lowest priority setting, before inspecting the content for a match.</p>",
            "smithy.api#required": {}
          }
        },
        "PositionalConstraint": {
          "target": "com.amazonaws.wafv2#PositionalConstraint",
          "traits": {
            "smithy.api#documentation": "<p>The area within the portion of a web request that you want WAF to search for\n            <code>SearchString</code>. Valid values include the following:</p>\n         <p>\n            <b>CONTAINS</b>\n         </p>\n         <p>The specified part of the web request must include the value of\n            <code>SearchString</code>, but the location doesn't matter.</p>\n         <p>\n            <b>CONTAINS_WORD</b>\n         </p>\n         <p>The specified part of the web request must include the value of\n            <code>SearchString</code>, and <code>SearchString</code> must contain only alphanumeric\n         characters or underscore (A-Z, a-z, 0-9, or _). In addition, <code>SearchString</code> must\n         be a word, which means that both of the following are true:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SearchString</code> is at the beginning of the specified part of the web\n               request or is preceded by a character other than an alphanumeric character or\n               underscore (_). Examples include the value of a header and\n               <code>;BadBot</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SearchString</code> is at the end of the specified part of the web request or\n               is followed by a character other than an alphanumeric character or underscore (_),\n               for example, <code>BadBot;</code> and <code>-BadBot;</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>EXACTLY</b>\n         </p>\n         <p>The value of the specified part of the web request must exactly match the value of\n            <code>SearchString</code>.</p>\n         <p>\n            <b>STARTS_WITH</b>\n         </p>\n         <p>The value of <code>SearchString</code> must appear at the beginning of the specified\n         part of the web request.</p>\n         <p>\n            <b>ENDS_WITH</b>\n         </p>\n         <p>The value of <code>SearchString</code> must appear at the end of the specified part of\n         the web request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A rule statement that defines a string match search for WAF to apply to web requests. The byte match statement provides the bytes to search for, the location in requests that you want WAF to search, and other settings. The bytes to search for are typically a string that corresponds with ASCII characters. In the WAF console and the developer guide, this is refered to as a string match statement.</p>"
      }
    },
    "com.amazonaws.wafv2#CapacityUnit": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafv2#CheckCapacity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CheckCapacityRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CheckCapacityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFExpiredManagedRuleGroupVersionException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidResourceException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFSubscriptionNotFoundException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the web ACL capacity unit (WCU) requirements for a specified scope and set of rules. \n         You can use this to check the capacity requirements for the rules you want to use in a \n         <a>RuleGroup</a> or <a>WebACL</a>. \n         </p>\n         <p>WAF uses WCUs to calculate and control the operating\n         resources that are used to run your rules, rule groups, and web ACLs. WAF\n         calculates capacity differently for each rule type, to reflect the relative cost of each rule. \n         Simple rules that cost little to run use fewer WCUs than more complex rules\n\t\t\t\tthat use more processing power. \n\t\t\t\tRule group capacity is fixed at creation, which helps users plan their  \n         web ACL WCU usage when they use a rule group. \n         The WCU limit for web ACLs is 1,500.  </p>"
      }
    },
    "com.amazonaws.wafv2#CheckCapacityRequest": {
      "type": "structure",
      "members": {
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.wafv2#Rules",
          "traits": {
            "smithy.api#documentation": "<p>An array of <a>Rule</a> that you're configuring to use in a rule group or web\n         ACL. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#CheckCapacityResponse": {
      "type": "structure",
      "members": {
        "Capacity": {
          "target": "com.amazonaws.wafv2#ConsumedCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The capacity required by the rules and scope.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQ",
            "name": "EQ"
          },
          {
            "value": "NE",
            "name": "NE"
          },
          {
            "value": "LE",
            "name": "LE"
          },
          {
            "value": "LT",
            "name": "LT"
          },
          {
            "value": "GE",
            "name": "GE"
          },
          {
            "value": "GT",
            "name": "GT"
          }
        ]
      }
    },
    "com.amazonaws.wafv2#Condition": {
      "type": "structure",
      "members": {
        "ActionCondition": {
          "target": "com.amazonaws.wafv2#ActionCondition",
          "traits": {
            "smithy.api#documentation": "<p>A single action condition.</p>"
          }
        },
        "LabelNameCondition": {
          "target": "com.amazonaws.wafv2#LabelNameCondition",
          "traits": {
            "smithy.api#documentation": "<p>A single label name condition.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single match condition for a <a>Filter</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#Conditions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafv2#Condition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafv2#ConsumedCapacity": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.wafv2#CountAction": {
      "type": "structure",
      "members": {
        "CustomRequestHandling": {
          "target": "com.amazonaws.wafv2#CustomRequestHandling",
          "traits": {
            "smithy.api#documentation": "<p>Defines custom handling for the web request.</p>\n         <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that WAF should count the request. Optionally defines additional custom\n         handling for the request.</p>\n         <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#Country": {
      "type": "string"
    },
    "com.amazonaws.wafv2#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AF",
            "name": "AF"
          },
          {
            "value": "AX",
            "name": "AX"
          },
          {
            "value": "AL",
            "name": "AL"
          },
          {
            "value": "DZ",
            "name": "DZ"
          },
          {
            "value": "AS",
            "name": "AS"
          },
          {
            "value": "AD",
            "name": "AD"
          },
          {
            "value": "AO",
            "name": "AO"
          },
          {
            "value": "AI",
            "name": "AI"
          },
          {
            "value": "AQ",
            "name": "AQ"
          },
          {
            "value": "AG",
            "name": "AG"
          },
          {
            "value": "AR",
            "name": "AR"
          },
          {
            "value": "AM",
            "name": "AM"
          },
          {
            "value": "AW",
            "name": "AW"
          },
          {
            "value": "AU",
            "name": "AU"
          },
          {
            "value": "AT",
            "name": "AT"
          },
          {
            "value": "AZ",
            "name": "AZ"
          },
          {
            "value": "BS",
            "name": "BS"
          },
          {
            "value": "BH",
            "name": "BH"
          },
          {
            "value": "BD",
            "name": "BD"
          },
          {
            "value": "BB",
            "name": "BB"
          },
          {
            "value": "BY",
            "name": "BY"
          },
          {
            "value": "BE",
            "name": "BE"
          },
          {
            "value": "BZ",
            "name": "BZ"
          },
          {
            "value": "BJ",
            "name": "BJ"
          },
          {
            "value": "BM",
            "name": "BM"
          },
          {
            "value": "BT",
            "name": "BT"
          },
          {
            "value": "BO",
            "name": "BO"
          },
          {
            "value": "BQ",
            "name": "BQ"
          },
          {
            "value": "BA",
            "name": "BA"
          },
          {
            "value": "BW",
            "name": "BW"
          },
          {
            "value": "BV",
            "name": "BV"
          },
          {
            "value": "BR",
            "name": "BR"
          },
          {
            "value": "IO",
            "name": "IO"
          },
          {
            "value": "BN",
            "name": "BN"
          },
          {
            "value": "BG",
            "name": "BG"
          },
          {
            "value": "BF",
            "name": "BF"
          },
          {
            "value": "BI",
            "name": "BI"
          },
          {
            "value": "KH",
            "name": "KH"
          },
          {
            "value": "CM",
            "name": "CM"
          },
          {
            "value": "CA",
            "name": "CA"
          },
          {
            "value": "CV",
            "name": "CV"
          },
          {
            "value": "KY",
            "name": "KY"
          },
          {
            "value": "CF",
            "name": "CF"
          },
          {
            "value": "TD",
            "name": "TD"
          },
          {
            "value": "CL",
            "name": "CL"
          },
          {
            "value": "CN",
            "name": "CN"
          },
          {
            "value": "CX",
            "name": "CX"
          },
          {
            "value": "CC",
            "name": "CC"
          },
          {
            "value": "CO",
            "name": "CO"
          },
          {
            "value": "KM",
            "name": "KM"
          },
          {
            "value": "CG",
            "name": "CG"
          },
          {
            "value": "CD",
            "name": "CD"
          },
          {
            "value": "CK",
            "name": "CK"
          },
          {
            "value": "CR",
            "name": "CR"
          },
          {
            "value": "CI",
            "name": "CI"
          },
          {
            "value": "HR",
            "name": "HR"
          },
          {
            "value": "CU",
            "name": "CU"
          },
          {
            "value": "CW",
            "name": "CW"
          },
          {
            "value": "CY",
            "name": "CY"
          },
          {
            "value": "CZ",
            "name": "CZ"
          },
          {
            "value": "DK",
            "name": "DK"
          },
          {
            "value": "DJ",
            "name": "DJ"
          },
          {
            "value": "DM",
            "name": "DM"
          },
          {
            "value": "DO",
            "name": "DO"
          },
          {
            "value": "EC",
            "name": "EC"
          },
          {
            "value": "EG",
            "name": "EG"
          },
          {
            "value": "SV",
            "name": "SV"
          },
          {
            "value": "GQ",
            "name": "GQ"
          },
          {
            "value": "ER",
            "name": "ER"
          },
          {
            "value": "EE",
            "name": "EE"
          },
          {
            "value": "ET",
            "name": "ET"
          },
          {
            "value": "FK",
            "name": "FK"
          },
          {
            "value": "FO",
            "name": "FO"
          },
          {
            "value": "FJ",
            "name": "FJ"
          },
          {
            "value": "FI",
            "name": "FI"
          },
          {
            "value": "FR",
            "name": "FR"
          },
          {
            "value": "GF",
            "name": "GF"
          },
          {
            "value": "PF",
            "name": "PF"
          },
          {
            "value": "TF",
            "name": "TF"
          },
          {
            "value": "GA",
            "name": "GA"
          },
          {
            "value": "GM",
            "name": "GM"
          },
          {
            "value": "GE",
            "name": "GE"
          },
          {
            "value": "DE",
            "name": "DE"
          },
          {
            "value": "GH",
            "name": "GH"
          },
          {
            "value": "GI",
            "name": "GI"
          },
          {
            "value": "GR",
            "name": "GR"
          },
          {
            "value": "GL",
            "name": "GL"
          },
          {
            "value": "GD",
            "name": "GD"
          },
          {
            "value": "GP",
            "name": "GP"
          },
          {
            "value": "GU",
            "name": "GU"
          },
          {
            "value": "GT",
            "name": "GT"
          },
          {
            "value": "GG",
            "name": "GG"
          },
          {
            "value": "GN",
            "name": "GN"
          },
          {
            "value": "GW",
            "name": "GW"
          },
          {
            "value": "GY",
            "name": "GY"
          },
          {
            "value": "HT",
            "name": "HT"
          },
          {
            "value": "HM",
            "name": "HM"
          },
          {
            "value": "VA",
            "name": "VA"
          },
          {
            "value": "HN",
            "name": "HN"
          },
          {
            "value": "HK",
            "name": "HK"
          },
          {
            "value": "HU",
            "name": "HU"
          },
          {
            "value": "IS",
            "name": "IS"
          },
          {
            "value": "IN",
            "name": "IN"
          },
          {
            "value": "ID",
            "name": "ID"
          },
          {
            "value": "IR",
            "name": "IR"
          },
          {
            "value": "IQ",
            "name": "IQ"
          },
          {
            "value": "IE",
            "name": "IE"
          },
          {
            "value": "IM",
            "name": "IM"
          },
          {
            "value": "IL",
            "name": "IL"
          },
          {
            "value": "IT",
            "name": "IT"
          },
          {
            "value": "JM",
            "name": "JM"
          },
          {
            "value": "JP",
            "name": "JP"
          },
          {
            "value": "JE",
            "name": "JE"
          },
          {
            "value": "JO",
            "name": "JO"
          },
          {
            "value": "KZ",
            "name": "KZ"
          },
          {
            "value": "KE",
            "name": "KE"
          },
          {
            "value": "KI",
            "name": "KI"
          },
          {
            "value": "KP",
            "name": "KP"
          },
          {
            "value": "KR",
            "name": "KR"
          },
          {
            "value": "KW",
            "name": "KW"
          },
          {
            "value": "KG",
            "name": "KG"
          },
          {
            "value": "LA",
            "name": "LA"
          },
          {
            "value": "LV",
            "name": "LV"
          },
          {
            "value": "LB",
            "name": "LB"
          },
          {
            "value": "LS",
            "name": "LS"
          },
          {
            "value": "LR",
            "name": "LR"
          },
          {
            "value": "LY",
            "name": "LY"
          },
          {
            "value": "LI",
            "name": "LI"
          },
          {
            "value": "LT",
            "name": "LT"
          },
          {
            "value": "LU",
            "name": "LU"
          },
          {
            "value": "MO",
            "name": "MO"
          },
          {
            "value": "MK",
            "name": "MK"
          },
          {
            "value": "MG",
            "name": "MG"
          },
          {
            "value": "MW",
            "name": "MW"
          },
          {
            "value": "MY",
            "name": "MY"
          },
          {
            "value": "MV",
            "name": "MV"
          },
          {
            "value": "ML",
            "name": "ML"
          },
          {
            "value": "MT",
            "name": "MT"
          },
          {
            "value": "MH",
            "name": "MH"
          },
          {
            "value": "MQ",
            "name": "MQ"
          },
          {
            "value": "MR",
            "name": "MR"
          },
          {
            "value": "MU",
            "name": "MU"
          },
          {
            "value": "YT",
            "name": "YT"
          },
          {
            "value": "MX",
            "name": "MX"
          },
          {
            "value": "FM",
            "name": "FM"
          },
          {
            "value": "MD",
            "name": "MD"
          },
          {
            "value": "MC",
            "name": "MC"
          },
          {
            "value": "MN",
            "name": "MN"
          },
          {
            "value": "ME",
            "name": "ME"
          },
          {
            "value": "MS",
            "name": "MS"
          },
          {
            "value": "MA",
            "name": "MA"
          },
          {
            "value": "MZ",
            "name": "MZ"
          },
          {
            "value": "MM",
            "name": "MM"
          },
          {
            "value": "NA",
            "name": "NA"
          },
          {
            "value": "NR",
            "name": "NR"
          },
          {
            "value": "NP",
            "name": "NP"
          },
          {
            "value": "NL",
            "name": "NL"
          },
          {
            "value": "NC",
            "name": "NC"
          },
          {
            "value": "NZ",
            "name": "NZ"
          },
          {
            "value": "NI",
            "name": "NI"
          },
          {
            "value": "NE",
            "name": "NE"
          },
          {
            "value": "NG",
            "name": "NG"
          },
          {
            "value": "NU",
            "name": "NU"
          },
          {
            "value": "NF",
            "name": "NF"
          },
          {
            "value": "MP",
            "name": "MP"
          },
          {
            "value": "NO",
            "name": "NO"
          },
          {
            "value": "OM",
            "name": "OM"
          },
          {
            "value": "PK",
            "name": "PK"
          },
          {
            "value": "PW",
            "name": "PW"
          },
          {
            "value": "PS",
            "name": "PS"
          },
          {
            "value": "PA",
            "name": "PA"
          },
          {
            "value": "PG",
            "name": "PG"
          },
          {
            "value": "PY",
            "name": "PY"
          },
          {
            "value": "PE",
            "name": "PE"
          },
          {
            "value": "PH",
            "name": "PH"
          },
          {
            "value": "PN",
            "name": "PN"
          },
          {
            "value": "PL",
            "name": "PL"
          },
          {
            "value": "PT",
            "name": "PT"
          },
          {
            "value": "PR",
            "name": "PR"
          },
          {
            "value": "QA",
            "name": "QA"
          },
          {
            "value": "RE",
            "name": "RE"
          },
          {
            "value": "RO",
            "name": "RO"
          },
          {
            "value": "RU",
            "name": "RU"
          },
          {
            "value": "RW",
            "name": "RW"
          },
          {
            "value": "BL",
            "name": "BL"
          },
          {
            "value": "SH",
            "name": "SH"
          },
          {
            "value": "KN",
            "name": "KN"
          },
          {
            "value": "LC",
            "name": "LC"
          },
          {
            "value": "MF",
            "name": "MF"
          },
          {
            "value": "PM",
            "name": "PM"
          },
          {
            "value": "VC",
            "name": "VC"
          },
          {
            "value": "WS",
            "name": "WS"
          },
          {
            "value": "SM",
            "name": "SM"
          },
          {
            "value": "ST",
            "name": "ST"
          },
          {
            "value": "SA",
            "name": "SA"
          },
          {
            "value": "SN",
            "name": "SN"
          },
          {
            "value": "RS",
            "name": "RS"
          },
          {
            "value": "SC",
            "name": "SC"
          },
          {
            "value": "SL",
            "name": "SL"
          },
          {
            "value": "SG",
            "name": "SG"
          },
          {
            "value": "SX",
            "name": "SX"
          },
          {
            "value": "SK",
            "name": "SK"
          },
          {
            "value": "SI",
            "name": "SI"
          },
          {
            "value": "SB",
            "name": "SB"
          },
          {
            "value": "SO",
            "name": "SO"
          },
          {
            "value": "ZA",
            "name": "ZA"
          },
          {
            "value": "GS",
            "name": "GS"
          },
          {
            "value": "SS",
            "name": "SS"
          },
          {
            "value": "ES",
            "name": "ES"
          },
          {
            "value": "LK",
            "name": "LK"
          },
          {
            "value": "SD",
            "name": "SD"
          },
          {
            "value": "SR",
            "name": "SR"
          },
          {
            "value": "SJ",
            "name": "SJ"
          },
          {
            "value": "SZ",
            "name": "SZ"
          },
          {
            "value": "SE",
            "name": "SE"
          },
          {
            "value": "CH",
            "name": "CH"
          },
          {
            "value": "SY",
            "name": "SY"
          },
          {
            "value": "TW",
            "name": "TW"
          },
          {
            "value": "TJ",
            "name": "TJ"
          },
          {
            "value": "TZ",
            "name": "TZ"
          },
          {
            "value": "TH",
            "name": "TH"
          },
          {
            "value": "TL",
            "name": "TL"
          },
          {
            "value": "TG",
            "name": "TG"
          },
          {
            "value": "TK",
            "name": "TK"
          },
          {
            "value": "TO",
            "name": "TO"
          },
          {
            "value": "TT",
            "name": "TT"
          },
          {
            "value": "TN",
            "name": "TN"
          },
          {
            "value": "TR",
            "name": "TR"
          },
          {
            "value": "TM",
            "name": "TM"
          },
          {
            "value": "TC",
            "name": "TC"
          },
          {
            "value": "TV",
            "name": "TV"
          },
          {
            "value": "UG",
            "name": "UG"
          },
          {
            "value": "UA",
            "name": "UA"
          },
          {
            "value": "AE",
            "name": "AE"
          },
          {
            "value": "GB",
            "name": "GB"
          },
          {
            "value": "US",
            "name": "US"
          },
          {
            "value": "UM",
            "name": "UM"
          },
          {
            "value": "UY",
            "name": "UY"
          },
          {
            "value": "UZ",
            "name": "UZ"
          },
          {
            "value": "VU",
            "name": "VU"
          },
          {
            "value": "VE",
            "name": "VE"
          },
          {
            "value": "VN",
            "name": "VN"
          },
          {
            "value": "VG",
            "name": "VG"
          },
          {
            "value": "VI",
            "name": "VI"
          },
          {
            "value": "WF",
            "name": "WF"
          },
          {
            "value": "EH",
            "name": "EH"
          },
          {
            "value": "YE",
            "name": "YE"
          },
          {
            "value": "ZM",
            "name": "ZM"
          },
          {
            "value": "ZW",
            "name": "ZW"
          }
        ]
      }
    },
    "com.amazonaws.wafv2#CountryCodes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafv2#CountryCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafv2#CreateIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CreateIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CreateIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFDuplicateItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <a>IPSet</a>, which you use to identify web requests that\n         originate from specific IP addresses or ranges of IP addresses. For example, if you're\n         receiving a lot of requests from a ranges of IP addresses, you can configure WAF to\n         block them using an IPSet that lists those IP addresses. </p>"
      }
    },
    "com.amazonaws.wafv2#CreateIPSetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IP set. You cannot change the name of an <code>IPSet</code> after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.wafv2#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the IP set that helps with identification. </p>"
          }
        },
        "IPAddressVersion": {
          "target": "com.amazonaws.wafv2#IPAddressVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the IP addresses, either <code>IPV4</code> or <code>IPV6</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "Addresses": {
          "target": "com.amazonaws.wafv2#IPAddresses",
          "traits": {
            "smithy.api#documentation": "<p>Contains an array of strings that specify one or more IP addresses or blocks of IP addresses in Classless Inter-Domain Routing (CIDR) notation. WAF supports all IPv4 and IPv6 CIDR ranges except for /0. </p>\n         <p>Examples: </p>\n         <ul>\n            <li>\n               <p>To configure WAF to allow, block, or count requests that originated from the IP address 192.0.2.44, specify <code>192.0.2.44/32</code>.</p>\n            </li>\n            <li>\n               <p>To configure WAF to allow, block, or count requests that originated from IP addresses from 192.0.2.0 to 192.0.2.255, specify \n               <code>192.0.2.0/24</code>.</p>\n            </li>\n            <li>\n               <p>To configure WAF to allow, block, or count requests that originated from the IP address 1111:0000:0000:0000:0000:0000:0000:0111, specify <code>1111:0000:0000:0000:0000:0000:0000:0111/128</code>.</p>\n            </li>\n            <li>\n               <p>To configure WAF to allow, block, or count requests that originated from IP addresses 1111:0000:0000:0000:0000:0000:0000:0000 to 1111:0000:0000:0000:ffff:ffff:ffff:ffff, specify <code>1111:0000:0000:0000:0000:0000:0000:0000/64</code>.</p>\n            </li>\n         </ul>\n         <p>For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wafv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key:value pairs to associate with the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateIPSetResponse": {
      "type": "structure",
      "members": {
        "Summary": {
          "target": "com.amazonaws.wafv2#IPSetSummary",
          "traits": {
            "smithy.api#documentation": "<p>High-level information about an <a>IPSet</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage an <code>IPSet</code>, and the ARN, that you provide to the <a>IPSetReferenceStatement</a> to use the address set in a <a>Rule</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateRegexPatternSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CreateRegexPatternSetRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CreateRegexPatternSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFDuplicateItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>RegexPatternSet</a>, which you reference in a <a>RegexPatternSetReferenceStatement</a>, to have WAF inspect a web request\n         component for the specified patterns.</p>"
      }
    },
    "com.amazonaws.wafv2#CreateRegexPatternSetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the set. You cannot change the name after you create the set.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.wafv2#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the set that helps with identification. </p>"
          }
        },
        "RegularExpressionList": {
          "target": "com.amazonaws.wafv2#RegularExpressionList",
          "traits": {
            "smithy.api#documentation": "<p>Array of regular expression strings. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wafv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key:value pairs to associate with the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateRegexPatternSetResponse": {
      "type": "structure",
      "members": {
        "Summary": {
          "target": "com.amazonaws.wafv2#RegexPatternSetSummary",
          "traits": {
            "smithy.api#documentation": "<p>High-level information about a <a>RegexPatternSet</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage a <code>RegexPatternSet</code>, and the ARN, that you provide to the <a>RegexPatternSetReferenceStatement</a> to use the pattern set in a <a>Rule</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CreateRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CreateRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFDuplicateItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFSubscriptionNotFoundException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>RuleGroup</a> per the specifications provided. </p>\n         <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p>"
      }
    },
    "com.amazonaws.wafv2#CreateRuleGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule group. You cannot change the name of a rule group after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Capacity": {
          "target": "com.amazonaws.wafv2#CapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The web ACL capacity units (WCUs) required for this rule group.</p> \n          <p>When you create your own rule group, you define this, and you cannot change it after creation. \n          When you add or modify the rules in a rule group, WAF enforces this limit. You can check the capacity \n          for a set of rules using <a>CheckCapacity</a>.</p> \n          <p>WAF uses WCUs to calculate and control the operating\n         resources that are used to run your rules, rule groups, and web ACLs. WAF\n         calculates capacity differently for each rule type, to reflect the relative cost of each rule. \n         Simple rules that cost little to run use fewer WCUs than more complex rules\n\t\t\t\tthat use more processing power. \n\t\t\t\tRule group capacity is fixed at creation, which helps users plan their  \n         web ACL WCU usage when they use a rule group. \n         The WCU limit for web ACLs is 1,500.  </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.wafv2#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the rule group that helps with identification. </p>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.wafv2#Rules",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Rule</a> statements used to identify the web requests that you \n         want to allow, block, or count. Each rule includes one top-level statement that WAF uses to identify matching  \n         web requests, and parameters that govern how WAF handles them. \n      </p>"
          }
        },
        "VisibilityConfig": {
          "target": "com.amazonaws.wafv2#VisibilityConfig",
          "traits": {
            "smithy.api#documentation": "<p>Defines and enables Amazon CloudWatch metrics and web request sample collection.  </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wafv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key:value pairs to associate with the resource.</p>"
          }
        },
        "CustomResponseBodies": {
          "target": "com.amazonaws.wafv2#CustomResponseBodies",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom response keys and content bodies. When you create a rule with a block action, you can send a custom response to the web request. You define these for the rule group, and then use them in the rules that you define in the rule group. </p> \n         <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>\n         <p>For information about the limits on count and size for custom request and response settings, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">WAF quotas</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateRuleGroupResponse": {
      "type": "structure",
      "members": {
        "Summary": {
          "target": "com.amazonaws.wafv2#RuleGroupSummary",
          "traits": {
            "smithy.api#documentation": "<p>High-level information about a <a>RuleGroup</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage a <code>RuleGroup</code>, and the ARN, that you provide to the <a>RuleGroupReferenceStatement</a> to use the rule group in a <a>Rule</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#CreateWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#CreateWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFDuplicateItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidResourceException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFLimitsExceededException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFSubscriptionNotFoundException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFUnavailableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>WebACL</a> per the specifications provided.</p>\n         <p> A web ACL defines a collection of rules to use to inspect and control web requests. Each rule has an action defined (allow, block, or count) for requests that match the statement of the rule. In the web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a web ACL with one or more Amazon Web Services resources to protect. The resources can be an Amazon CloudFront distribution, an Amazon API Gateway REST API, an Application Load Balancer, or an AppSync GraphQL API.  </p>"
      }
    },
    "com.amazonaws.wafv2#CreateWebACLRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the web ACL. You cannot change the name of a web ACL after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "DefaultAction": {
          "target": "com.amazonaws.wafv2#DefaultAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to perform if none of the <code>Rules</code> contained in the <code>WebACL</code> match. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.wafv2#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the web ACL that helps with identification. </p>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.wafv2#Rules",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Rule</a> statements used to identify the web requests that you \n         want to allow, block, or count. Each rule includes one top-level statement that WAF uses to identify matching  \n         web requests, and parameters that govern how WAF handles them. \n      </p>"
          }
        },
        "VisibilityConfig": {
          "target": "com.amazonaws.wafv2#VisibilityConfig",
          "traits": {
            "smithy.api#documentation": "<p>Defines and enables Amazon CloudWatch metrics and web request sample collection.  </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wafv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key:value pairs to associate with the resource.</p>"
          }
        },
        "CustomResponseBodies": {
          "target": "com.amazonaws.wafv2#CustomResponseBodies",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom response keys and content bodies. When you create a rule with a block action, you can send a custom response to the web request. You define these for the web ACL, and then use them in the rules and default actions that you define in the web ACL. </p> \n         <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>\n         <p>For information about the limits on count and size for custom request and response settings, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">WAF quotas</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CreateWebACLResponse": {
      "type": "structure",
      "members": {
        "Summary": {
          "target": "com.amazonaws.wafv2#WebACLSummary",
          "traits": {
            "smithy.api#documentation": "<p>High-level information about a <a>WebACL</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage a <code>WebACL</code>, and the ARN, that you provide to operations like <a>AssociateWebACL</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#CustomHTTPHeader": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#CustomHTTPHeaderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom header. </p>\n         <p>For custom request header insertion, when WAF inserts the header into the request,\n         it prefixes this name <code>x-amzn-waf-</code>, to avoid confusion with the headers that\n         are already in the request. For example, for the header name <code>sample</code>, WAF\n         inserts the header <code>x-amzn-waf-sample</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.wafv2#CustomHTTPHeaderValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the custom header.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A custom header for custom request and response handling. This is used in <a>CustomResponse</a> and <a>CustomRequestHandling</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#CustomHTTPHeaderName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._$-]+$"
      }
    },
    "com.amazonaws.wafv2#CustomHTTPHeaderValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.wafv2#CustomHTTPHeaders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wafv2#CustomHTTPHeader"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafv2#CustomRequestHandling": {
      "type": "structure",
      "members": {
        "InsertHeaders": {
          "target": "com.amazonaws.wafv2#CustomHTTPHeaders",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP headers to insert into the request. Duplicate header names are not allowed. </p>\n         <p>For information about the limits on count and size for custom request and response settings, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">WAF quotas</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Custom request handling behavior that inserts custom headers into a web request. You can\n         add custom request handling for the rule actions allow and count. </p>\n         <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#CustomResponse": {
      "type": "structure",
      "members": {
        "ResponseCode": {
          "target": "com.amazonaws.wafv2#ResponseStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status code to return to the client. </p>\n         <p>For a list of status codes that you can use in your custom reqponses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/customizing-the-response-status-codes.html\">Supported status codes for custom response</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "CustomResponseBodyKey": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>References the response body that you want WAF to return to the web request\n         client. You can define a custom response for a rule action or a default web ACL action that\n         is set to block. To do this, you first define the response body key and value in the\n            <code>CustomResponseBodies</code> setting for the <a>WebACL</a> or <a>RuleGroup</a> where you want to use it. Then, in the rule action or web ACL\n         default action <code>BlockAction</code> setting, you reference the response body using this\n         key. </p>"
          }
        },
        "ResponseHeaders": {
          "target": "com.amazonaws.wafv2#CustomHTTPHeaders",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP headers to use in the response. Duplicate header names are not allowed. </p>\n         <p>For information about the limits on count and size for custom request and response settings, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">WAF quotas</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A custom response to send to the client. You can define a custom response for rule\n         actions and default web ACL actions that are set to <a>BlockAction</a>. </p>\n         <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#CustomResponseBodies": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.wafv2#EntityName"
      },
      "value": {
        "target": "com.amazonaws.wafv2#CustomResponseBody"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wafv2#CustomResponseBody": {
      "type": "structure",
      "members": {
        "ContentType": {
          "target": "com.amazonaws.wafv2#ResponseContentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of content in the payload that you are defining in the <code>Content</code>\n         string.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.wafv2#ResponseContent",
          "traits": {
            "smithy.api#documentation": "<p>The payload of the custom response. </p>\n         <p>You can use JSON escape strings in JSON content. To do this, you must specify JSON\n         content in the <code>ContentType</code> setting. </p>\n         <p>For information about the limits on count and size for custom request and response settings, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">WAF quotas</a> in the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response body to use in a custom response to a web request. This is referenced by\n         key from <a>CustomResponse</a>\n            <code>CustomResponseBodyKey</code>.</p>"
      }
    },
    "com.amazonaws.wafv2#DefaultAction": {
      "type": "structure",
      "members": {
        "Block": {
          "target": "com.amazonaws.wafv2#BlockAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that WAF should block requests by default. </p>"
          }
        },
        "Allow": {
          "target": "com.amazonaws.wafv2#AllowAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that WAF should allow requests by default.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In a <a>WebACL</a>, this is the action that you want WAF to perform\n         when a web request doesn't match any of the rules in the <code>WebACL</code>. The default\n         action must be a terminating action, so you can't use count.</p>"
      }
    },
    "com.amazonaws.wafv2#DeleteFirewallManagerRuleGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteFirewallManagerRuleGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteFirewallManagerRuleGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all rule groups that are managed by Firewall Manager for the specified web ACL. </p>\n         <p>You can only use this if <code>ManagedByFirewallManager</code> is false in the specified\n            <a>WebACL</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#DeleteFirewallManagerRuleGroupsRequest": {
      "type": "structure",
      "members": {
        "WebACLArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web ACL.</p>",
            "smithy.api#required": {}
          }
        },
        "WebACLLockToken": {
          "target": "com.amazonaws.wafv2#LockToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. WAF returns a token to your <code>get</code> and <code>list</code> requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like <code>update</code> and <code>delete</code>. WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another <code>get</code>, and use the new token returned by that operation. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteFirewallManagerRuleGroupsResponse": {
      "type": "structure",
      "members": {
        "NextWebACLLockToken": {
          "target": "com.amazonaws.wafv2#LockToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. WAF returns a token to your <code>get</code> and <code>list</code> requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like <code>update</code> and <code>delete</code>. WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another <code>get</code>, and use the new token returned by that operation. </p>"
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFAssociatedItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>IPSet</a>. </p>"
      }
    },
    "com.amazonaws.wafv2#DeleteIPSetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IP set. You cannot change the name of an <code>IPSet</code> after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.wafv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the set. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
            "smithy.api#required": {}
          }
        },
        "LockToken": {
          "target": "com.amazonaws.wafv2#LockToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. WAF returns a token to your <code>get</code> and <code>list</code> requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like <code>update</code> and <code>delete</code>. WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another <code>get</code>, and use the new token returned by that operation. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteIPSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DeleteLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteLoggingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteLoggingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the <a>LoggingConfiguration</a> from the specified web ACL.</p>"
      }
    },
    "com.amazonaws.wafv2#DeleteLoggingConfigurationRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web ACL from which you want to delete the <a>LoggingConfiguration</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteLoggingConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DeletePermissionPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeletePermissionPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeletePermissionPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes an IAM policy from the specified rule group.</p>\n         <p>You must be the owner of the rule group to perform this operation.</p>"
      }
    },
    "com.amazonaws.wafv2#DeletePermissionPolicyRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.wafv2#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule group from which you want to delete the\n         policy.</p>\n         <p>You must be the owner of the rule group to perform this operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeletePermissionPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DeleteRegexPatternSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteRegexPatternSetRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteRegexPatternSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFAssociatedItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>RegexPatternSet</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#DeleteRegexPatternSetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the set. You cannot change the name after you create the set.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.wafv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the set. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
            "smithy.api#required": {}
          }
        },
        "LockToken": {
          "target": "com.amazonaws.wafv2#LockToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. WAF returns a token to your <code>get</code> and <code>list</code> requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like <code>update</code> and <code>delete</code>. WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another <code>get</code>, and use the new token returned by that operation. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteRegexPatternSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DeleteRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFAssociatedItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>RuleGroup</a>.</p>"
      }
    },
    "com.amazonaws.wafv2#DeleteRuleGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.wafv2#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule group. You cannot change the name of a rule group after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.wafv2#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, or an AppSync GraphQL API.  </p>\n         <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p>\n         <ul>\n            <li>\n               <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p>\n            </li>\n            <li>\n               <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.wafv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the rule group. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
            "smithy.api#required": {}
          }
        },
        "LockToken": {
          "target": "com.amazonaws.wafv2#LockToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. WAF returns a token to your <code>get</code> and <code>list</code> requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like <code>update</code> and <code>delete</code>. WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another <code>get</code>, and use the new token returned by that operation. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wafv2#DeleteRuleGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.wafv2#DeleteWebACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wafv2#DeleteWebACLRequest"
      },
      "output": {
        "target": "com.amazonaws.wafv2#DeleteWebACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wafv2#WAFAssociatedItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInternalErrorException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFInvalidParameterException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFNonexistentItemException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFOptimisticLockException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationException"
        },
        {
          "target": "com.amazonaws.wafv2#WAFTagOperationInternalErrorException"
        }
      ],
      "traits": {
[...]
