{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.wellarchitected#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.wellarchitected#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>User does not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.wellarchitected#AccountSummary": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.wellarchitected#CheckStatus"
      },
      "value": {
        "target": "com.amazonaws.wellarchitected#CheckStatusCount"
      },
      "traits": {
        "smithy.api#documentation": "<p>Account summary for a Well-Architected best practice in relation to Trusted Advisor checks.</p>"
      }
    },
    "com.amazonaws.wellarchitected#AdditionalResourceType": {
      "type": "enum",
      "members": {
        "HELPFUL_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HELPFUL_RESOURCE"
          }
        },
        "IMPROVEMENT_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPROVEMENT_PLAN"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#AdditionalResources": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.wellarchitected#AdditionalResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Type of additional resource.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.wellarchitected#Urls",
          "traits": {
            "smithy.api#documentation": "<p>The URLs for additional resources, either helpful resources or improvement plans. Up to five additional URLs can be specified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The choice level additional resources.</p>"
      }
    },
    "com.amazonaws.wellarchitected#AdditionalResourcesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#AdditionalResources"
      }
    },
    "com.amazonaws.wellarchitected#Answer": {
      "type": "structure",
      "members": {
        "QuestionId": {
          "target": "com.amazonaws.wellarchitected#QuestionId"
        },
        "PillarId": {
          "target": "com.amazonaws.wellarchitected#PillarId"
        },
        "QuestionTitle": {
          "target": "com.amazonaws.wellarchitected#QuestionTitle"
        },
        "QuestionDescription": {
          "target": "com.amazonaws.wellarchitected#QuestionDescription"
        },
        "ImprovementPlanUrl": {
          "target": "com.amazonaws.wellarchitected#ImprovementPlanUrl"
        },
        "HelpfulResourceUrl": {
          "target": "com.amazonaws.wellarchitected#HelpfulResourceUrl"
        },
        "HelpfulResourceDisplayText": {
          "target": "com.amazonaws.wellarchitected#DisplayText",
          "traits": {
            "smithy.api#documentation": "<p>The helpful resource text to be displayed.</p>"
          }
        },
        "Choices": {
          "target": "com.amazonaws.wellarchitected#Choices"
        },
        "SelectedChoices": {
          "target": "com.amazonaws.wellarchitected#SelectedChoices"
        },
        "ChoiceAnswers": {
          "target": "com.amazonaws.wellarchitected#ChoiceAnswers",
          "traits": {
            "smithy.api#documentation": "<p>A list of selected choices to a question in your workload.</p>"
          }
        },
        "IsApplicable": {
          "target": "com.amazonaws.wellarchitected#IsApplicable",
          "traits": {
            "smithy.api#default": false
          }
        },
        "Risk": {
          "target": "com.amazonaws.wellarchitected#Risk"
        },
        "Notes": {
          "target": "com.amazonaws.wellarchitected#Notes"
        },
        "Reason": {
          "target": "com.amazonaws.wellarchitected#AnswerReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why the question is not applicable to your workload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An answer of the question.</p>"
      }
    },
    "com.amazonaws.wellarchitected#AnswerReason": {
      "type": "enum",
      "members": {
        "OUT_OF_SCOPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SCOPE"
          }
        },
        "BUSINESS_PRIORITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_PRIORITIES"
          }
        },
        "ARCHITECTURE_CONSTRAINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURE_CONSTRAINTS"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#AnswerSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#AnswerSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of answer summaries of lens review in a workload.</p>"
      }
    },
    "com.amazonaws.wellarchitected#AnswerSummary": {
      "type": "structure",
      "members": {
        "QuestionId": {
          "target": "com.amazonaws.wellarchitected#QuestionId"
        },
        "PillarId": {
          "target": "com.amazonaws.wellarchitected#PillarId"
        },
        "QuestionTitle": {
          "target": "com.amazonaws.wellarchitected#QuestionTitle"
        },
        "Choices": {
          "target": "com.amazonaws.wellarchitected#Choices"
        },
        "SelectedChoices": {
          "target": "com.amazonaws.wellarchitected#SelectedChoices"
        },
        "ChoiceAnswerSummaries": {
          "target": "com.amazonaws.wellarchitected#ChoiceAnswerSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of selected choices to a question in your workload.</p>"
          }
        },
        "IsApplicable": {
          "target": "com.amazonaws.wellarchitected#IsApplicable",
          "traits": {
            "smithy.api#default": false
          }
        },
        "Risk": {
          "target": "com.amazonaws.wellarchitected#Risk"
        },
        "Reason": {
          "target": "com.amazonaws.wellarchitected#AnswerReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An answer summary of a lens review in a workload.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ApplicationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2084
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:servicecatalog:[a-z]{2}(-gov)?-[a-z]+-\\d:\\d{12}:/applications/[a-z0-9]+$"
      }
    },
    "com.amazonaws.wellarchitected#AssociateLenses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#AssociateLensesInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate a lens to a workload.</p>\n        <p>Up to 10 lenses can be associated with a workload in a single API operation. A \n        maximum of 20 lenses can be associated with a workload.</p>\n        <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>By accessing and/or applying custom lenses created by another Amazon Web Services user or account, \n            you acknowledge that custom lenses created by other users and shared with you are \n            Third Party Content as defined in the Amazon Web Services Customer Agreement.    </p>\n         </note>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/workloads/{WorkloadId}/associateLenses",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#AssociateLensesInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LensAliases": {
          "target": "com.amazonaws.wellarchitected#LensAliases",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to associate lens reviews.</p>"
      }
    },
    "com.amazonaws.wellarchitected#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services account ID.</p>",
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.wellarchitected#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services Region, for example, <code>us-west-2</code> or\n            <code>ap-northeast-1</code>.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.wellarchitected#Base64String": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Base64-encoded string representation of a lens review report.</p>\n        <p>This data can be used to create a PDF file.</p>"
      }
    },
    "com.amazonaws.wellarchitected#CheckDescription": {
      "type": "string"
    },
    "com.amazonaws.wellarchitected#CheckDetail": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.wellarchitected#CheckId",
          "traits": {
            "smithy.api#documentation": "<p>Trusted Advisor check ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.wellarchitected#CheckName",
          "traits": {
            "smithy.api#documentation": "<p>Trusted Advisor check name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.wellarchitected#CheckDescription",
          "traits": {
            "smithy.api#documentation": "<p>Trusted Advisor check description.</p>"
          }
        },
        "Provider": {
          "target": "com.amazonaws.wellarchitected#CheckProvider",
          "traits": {
            "smithy.api#documentation": "<p>Provider of the check related to the best practice.</p>"
          }
        },
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>Well-Architected Lens ARN associated to the check.</p>"
          }
        },
        "PillarId": {
          "target": "com.amazonaws.wellarchitected#PillarId"
        },
        "QuestionId": {
          "target": "com.amazonaws.wellarchitected#QuestionId"
        },
        "ChoiceId": {
          "target": "com.amazonaws.wellarchitected#ChoiceId"
        },
        "Status": {
          "target": "com.amazonaws.wellarchitected#CheckStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status associated to the check.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.wellarchitected#AwsAccountId"
        },
        "FlaggedResources": {
          "target": "com.amazonaws.wellarchitected#FlaggedResources",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Count of flagged resources associated to the check.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.wellarchitected#CheckFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason associated to the check.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.wellarchitected#Timestamp"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Account details for a Well-Architected best practice in relation to Trusted Advisor checks.</p>"
      }
    },
    "com.amazonaws.wellarchitected#CheckDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#CheckDetail"
      }
    },
    "com.amazonaws.wellarchitected#CheckFailureReason": {
      "type": "enum",
      "members": {
        "ASSUME_ROLE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSUME_ROLE_ERROR"
          }
        },
        "ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENIED"
          }
        },
        "UNKNOWN_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_ERROR"
          }
        },
        "PREMIUM_SUPPORT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM_SUPPORT_REQUIRED"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#CheckId": {
      "type": "string"
    },
    "com.amazonaws.wellarchitected#CheckName": {
      "type": "string"
    },
    "com.amazonaws.wellarchitected#CheckProvider": {
      "type": "enum",
      "members": {
        "TRUSTED_ADVISOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUSTED_ADVISOR"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#CheckStatus": {
      "type": "enum",
      "members": {
        "OKAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OKAY"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_AVAILABLE"
          }
        },
        "FETCH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FETCH_FAILED"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#CheckStatusCount": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 101
        }
      }
    },
    "com.amazonaws.wellarchitected#CheckSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#CheckSummary"
      }
    },
    "com.amazonaws.wellarchitected#CheckSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.wellarchitected#CheckId",
          "traits": {
            "smithy.api#documentation": "<p>Trusted Advisor check ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.wellarchitected#CheckName",
          "traits": {
            "smithy.api#documentation": "<p>Trusted Advisor check name.</p>"
          }
        },
        "Provider": {
          "target": "com.amazonaws.wellarchitected#CheckProvider",
          "traits": {
            "smithy.api#documentation": "<p>Provider of the check related to the best practice.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.wellarchitected#CheckDescription",
          "traits": {
            "smithy.api#documentation": "<p>Trusted Advisor check description.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.wellarchitected#Timestamp"
        },
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>Well-Architected Lens ARN associated to the check.</p>"
          }
        },
        "PillarId": {
          "target": "com.amazonaws.wellarchitected#PillarId"
        },
        "QuestionId": {
          "target": "com.amazonaws.wellarchitected#QuestionId"
        },
        "ChoiceId": {
          "target": "com.amazonaws.wellarchitected#ChoiceId"
        },
        "Status": {
          "target": "com.amazonaws.wellarchitected#CheckStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status associated to the check.</p>"
          }
        },
        "AccountSummary": {
          "target": "com.amazonaws.wellarchitected#AccountSummary",
          "traits": {
            "smithy.api#documentation": "<p>Account summary associated to the check.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Trusted Advisor check summary.</p>"
      }
    },
    "com.amazonaws.wellarchitected#Choice": {
      "type": "structure",
      "members": {
        "ChoiceId": {
          "target": "com.amazonaws.wellarchitected#ChoiceId"
        },
        "Title": {
          "target": "com.amazonaws.wellarchitected#ChoiceTitle"
        },
        "Description": {
          "target": "com.amazonaws.wellarchitected#ChoiceDescription"
        },
        "HelpfulResource": {
          "target": "com.amazonaws.wellarchitected#ChoiceContent",
          "traits": {
            "smithy.api#documentation": "<p>The choice level helpful resource.</p>"
          }
        },
        "ImprovementPlan": {
          "target": "com.amazonaws.wellarchitected#ChoiceContent",
          "traits": {
            "smithy.api#documentation": "<p>The choice level improvement plan.</p>"
          }
        },
        "AdditionalResources": {
          "target": "com.amazonaws.wellarchitected#AdditionalResourcesList",
          "traits": {
            "smithy.api#documentation": "<p>The additional resources for a choice. A choice can have up to two additional resources: one of type <code>HELPFUL_RESOURCE</code>, \n            one of type <code>IMPROVEMENT_PLAN</code>, or both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A choice available to answer question.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ChoiceAnswer": {
      "type": "structure",
      "members": {
        "ChoiceId": {
          "target": "com.amazonaws.wellarchitected#ChoiceId"
        },
        "Status": {
          "target": "com.amazonaws.wellarchitected#ChoiceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a choice.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.wellarchitected#ChoiceReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
          }
        },
        "Notes": {
          "target": "com.amazonaws.wellarchitected#ChoiceNotes",
          "traits": {
            "smithy.api#documentation": "<p>The notes associated with a choice.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A choice that has been answered on a question in your workload.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ChoiceAnswerSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#ChoiceAnswerSummary"
      }
    },
    "com.amazonaws.wellarchitected#ChoiceAnswerSummary": {
      "type": "structure",
      "members": {
        "ChoiceId": {
          "target": "com.amazonaws.wellarchitected#ChoiceId"
        },
        "Status": {
          "target": "com.amazonaws.wellarchitected#ChoiceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a choice.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.wellarchitected#ChoiceReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A choice summary that has been answered on a question in your workload.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ChoiceAnswers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#ChoiceAnswer"
      }
    },
    "com.amazonaws.wellarchitected#ChoiceContent": {
      "type": "structure",
      "members": {
        "DisplayText": {
          "target": "com.amazonaws.wellarchitected#ChoiceContentDisplayText",
          "traits": {
            "smithy.api#documentation": "<p>The display text for the choice content.</p>"
          }
        },
        "Url": {
          "target": "com.amazonaws.wellarchitected#ChoiceContentUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the choice content.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The choice content.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ChoiceContentDisplayText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.wellarchitected#ChoiceContentUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.wellarchitected#ChoiceDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The description of a choice.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.wellarchitected#ChoiceId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of a choice.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.wellarchitected#ChoiceImprovementPlan": {
      "type": "structure",
      "members": {
        "ChoiceId": {
          "target": "com.amazonaws.wellarchitected#ChoiceId"
        },
        "DisplayText": {
          "target": "com.amazonaws.wellarchitected#DisplayText",
          "traits": {
            "smithy.api#documentation": "<p>The display text for the improvement plan.</p>"
          }
        },
        "ImprovementPlanUrl": {
          "target": "com.amazonaws.wellarchitected#ImprovementPlanUrl"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The choice level improvement plan.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ChoiceImprovementPlans": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#ChoiceImprovementPlan"
      }
    },
    "com.amazonaws.wellarchitected#ChoiceNotes": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 250
        }
      }
    },
    "com.amazonaws.wellarchitected#ChoiceReason": {
      "type": "enum",
      "members": {
        "OUT_OF_SCOPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SCOPE"
          }
        },
        "BUSINESS_PRIORITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_PRIORITIES"
          }
        },
        "ARCHITECTURE_CONSTRAINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURE_CONSTRAINTS"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#ChoiceStatus": {
      "type": "enum",
      "members": {
        "SELECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTED"
          }
        },
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        },
        "UNSELECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSELECTED"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#ChoiceTitle": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The title of a choice.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.wellarchitected#ChoiceUpdate": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.wellarchitected#ChoiceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a choice.</p>",
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.wellarchitected#ChoiceReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
          }
        },
        "Notes": {
          "target": "com.amazonaws.wellarchitected#ChoiceNotes",
          "traits": {
            "smithy.api#documentation": "<p>The notes associated with a choice.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of choices to be updated.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ChoiceUpdates": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.wellarchitected#ChoiceId"
      },
      "value": {
        "target": "com.amazonaws.wellarchitected#ChoiceUpdate"
      }
    },
    "com.amazonaws.wellarchitected#Choices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#Choice"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of choices available for a question.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A unique case-sensitive string used to ensure that this request is idempotent\n            (executes only once).</p>\n        <p>You should not reuse the same token for other requests. If you retry a request with\n            the same client request token and the same parameters after it has completed\n            successfully, the result of the original request is returned. </p>\n        <important>\n            <p>This token is listed as required, however, if you do not specify it, the Amazon Web Services SDKs\n                automatically generate one for you. If you are not using the Amazon Web Services SDK or the CLI,\n                you must provide this token or the request will fail.</p>\n        </important>"
      }
    },
    "com.amazonaws.wellarchitected#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.wellarchitected#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.wellarchitected#ExceptionResourceId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.wellarchitected#ExceptionResourceType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.wellarchitected#Count": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#documentation": "<p>A non-negative integer that denotes how many.</p>",
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateLensShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#CreateLensShareInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#CreateLensShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a lens share.</p>\n        <p>The owner of a lens can share it with other Amazon Web Services accounts, IAM users, an organization,\n            and organizational units (OUs) in the same Amazon Web Services Region. \n            Shared access to a lens is not removed until the lens invitation is deleted.</p>\n        <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>By sharing your custom lenses with other Amazon Web Services accounts, \n                you acknowledge that Amazon Web Services will make your custom lenses available to those \n                other accounts. Those other accounts may continue to access and use your \n                shared custom lenses even if you delete the custom lenses \n                from your own Amazon Web Services account or terminate \n                your Amazon Web Services account.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/lenses/{LensAlias}/shares",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateLensShareInput": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SharedWith": {
          "target": "com.amazonaws.wellarchitected#SharedWith",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateLensShareOutput": {
      "type": "structure",
      "members": {
        "ShareId": {
          "target": "com.amazonaws.wellarchitected#ShareId"
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateLensVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#CreateLensVersionInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#CreateLensVersionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new lens version.</p>\n        <p>A lens can have up to 100 versions.</p>\n        <p>After a lens has been imported, create a new lens version to publish it.  The owner of a lens can share the lens with other \n            Amazon Web Services accounts and IAM users in the same Amazon Web Services Region. Only the owner of a lens can delete it.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/lenses/{LensAlias}/versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateLensVersionInput": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the lens being created.</p>",
            "smithy.api#required": {}
          }
        },
        "IsMajorVersion": {
          "target": "com.amazonaws.wellarchitected#IsMajorVersion",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Set to true if this new major lens version.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateLensVersionOutput": {
      "type": "structure",
      "members": {
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lens.</p>"
          }
        },
        "LensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the lens.</p>"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateMilestone": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#CreateMilestoneInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#CreateMilestoneOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a milestone for an existing workload.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workloads/{WorkloadId}/milestones",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateMilestoneInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MilestoneName": {
          "target": "com.amazonaws.wellarchitected#MilestoneName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for milestone creation.</p>"
      }
    },
    "com.amazonaws.wellarchitected#CreateMilestoneOutput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId"
        },
        "MilestoneNumber": {
          "target": "com.amazonaws.wellarchitected#MilestoneNumber",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output of a create milestone call.</p>"
      }
    },
    "com.amazonaws.wellarchitected#CreateWorkload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#CreateWorkloadInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#CreateWorkloadOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new workload.</p>\n        <p>The owner of a workload can share the workload with other Amazon Web Services accounts, IAM users,\n            an organization, and organizational units (OUs) \n            in the same Amazon Web Services Region. Only the owner of a workload can delete it.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/define-workload.html\">Defining a Workload</a> in the\n                <i>Well-Architected Tool User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workloads",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateWorkloadInput": {
      "type": "structure",
      "members": {
        "WorkloadName": {
          "target": "com.amazonaws.wellarchitected#WorkloadName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.wellarchitected#WorkloadDescription",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Environment": {
          "target": "com.amazonaws.wellarchitected#WorkloadEnvironment",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.wellarchitected#WorkloadAccountIds"
        },
        "AwsRegions": {
          "target": "com.amazonaws.wellarchitected#WorkloadAwsRegions"
        },
        "NonAwsRegions": {
          "target": "com.amazonaws.wellarchitected#WorkloadNonAwsRegions"
        },
        "PillarPriorities": {
          "target": "com.amazonaws.wellarchitected#WorkloadPillarPriorities"
        },
        "ArchitecturalDesign": {
          "target": "com.amazonaws.wellarchitected#WorkloadArchitecturalDesign"
        },
        "ReviewOwner": {
          "target": "com.amazonaws.wellarchitected#WorkloadReviewOwner"
        },
        "IndustryType": {
          "target": "com.amazonaws.wellarchitected#WorkloadIndustryType"
        },
        "Industry": {
          "target": "com.amazonaws.wellarchitected#WorkloadIndustry"
        },
        "Lenses": {
          "target": "com.amazonaws.wellarchitected#WorkloadLenses",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Notes": {
          "target": "com.amazonaws.wellarchitected#Notes"
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wellarchitected#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be associated with the workload.</p>"
          }
        },
        "DiscoveryConfig": {
          "target": "com.amazonaws.wellarchitected#WorkloadDiscoveryConfig",
          "traits": {
            "smithy.api#documentation": "<p>Well-Architected discovery configuration settings associated to the workload.</p>"
          }
        },
        "Applications": {
          "target": "com.amazonaws.wellarchitected#WorkloadApplications",
          "traits": {
            "smithy.api#documentation": "<p>List of AppRegistry application ARNs associated to the workload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for workload creation.</p>"
      }
    },
    "com.amazonaws.wellarchitected#CreateWorkloadOutput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId"
        },
        "WorkloadArn": {
          "target": "com.amazonaws.wellarchitected#WorkloadArn"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output of a create workload call.</p>"
      }
    },
    "com.amazonaws.wellarchitected#CreateWorkloadShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#CreateWorkloadShareInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#CreateWorkloadShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a workload share.</p>\n        <p>The owner of a workload can share it with other Amazon Web Services accounts and IAM users in the same\n            Amazon Web Services Region. Shared access to a workload is not removed until the workload invitation is\n            deleted.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/workloads-sharing.html\">Sharing a Workload</a> in the\n                <i>Well-Architected Tool User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workloads/{WorkloadId}/shares",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#CreateWorkloadShareInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SharedWith": {
          "target": "com.amazonaws.wellarchitected#SharedWith",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "PermissionType": {
          "target": "com.amazonaws.wellarchitected#PermissionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for Create Workload Share</p>"
      }
    },
    "com.amazonaws.wellarchitected#CreateWorkloadShareOutput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId"
        },
        "ShareId": {
          "target": "com.amazonaws.wellarchitected#ShareId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for Create Workload Share</p>"
      }
    },
    "com.amazonaws.wellarchitected#DeleteLens": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#DeleteLensInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an existing lens.</p>\n        <p>Only the owner of a lens can delete it.  After the lens is deleted,  Amazon Web Services accounts and IAM users \n              that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads.\n        </p>\n        <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>By sharing your custom lenses with other Amazon Web Services accounts, \n                you acknowledge that Amazon Web Services will make your custom lenses available to those \n                other accounts. Those other accounts may continue to access and use your \n                shared custom lenses even if you delete the custom lenses \n                from your own Amazon Web Services account or terminate \n                your Amazon Web Services account.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/lenses/{LensAlias}",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#DeleteLensInput": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#httpQuery": "ClientRequestToken",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "LensStatus": {
          "target": "com.amazonaws.wellarchitected#LensStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the lens to be deleted.</p>",
            "smithy.api#httpQuery": "LensStatus",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#DeleteLensShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#DeleteLensShareInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a lens share.</p>\n        <p>After the lens share is deleted,  Amazon Web Services accounts, IAM users, organizations,\n            and organizational units (OUs) \n            that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads.</p>\n        <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>By sharing your custom lenses with other Amazon Web Services accounts, \n                you acknowledge that Amazon Web Services will make your custom lenses available to those \n                other accounts. Those other accounts may continue to access and use your \n                shared custom lenses even if you delete the custom lenses \n                from your own Amazon Web Services account or terminate \n                your Amazon Web Services account.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/lenses/{LensAlias}/shares/{ShareId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#DeleteLensShareInput": {
      "type": "structure",
      "members": {
        "ShareId": {
          "target": "com.amazonaws.wellarchitected#ShareId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#httpQuery": "ClientRequestToken",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#DeleteWorkload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#DeleteWorkloadInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an existing workload.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workloads/{WorkloadId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#DeleteWorkloadInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#httpQuery": "ClientRequestToken",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for workload deletion.</p>"
      }
    },
    "com.amazonaws.wellarchitected#DeleteWorkloadShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#DeleteWorkloadShareInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a workload share.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workloads/{WorkloadId}/shares/{ShareId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#DeleteWorkloadShareInput": {
      "type": "structure",
      "members": {
        "ShareId": {
          "target": "com.amazonaws.wellarchitected#ShareId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#httpQuery": "ClientRequestToken",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for Delete Workload Share</p>"
      }
    },
    "com.amazonaws.wellarchitected#DifferenceStatus": {
      "type": "enum",
      "members": {
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#DisassociateLenses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#DisassociateLensesInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociate a lens from a workload.</p>\n        <p>Up to 10 lenses can be disassociated from a workload in a single API operation.</p>\n        <note>\n            <p>The Amazon Web Services Well-Architected Framework lens (<code>wellarchitected</code>) cannot be\n                removed from a workload.</p>\n        </note>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/workloads/{WorkloadId}/disassociateLenses",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#DisassociateLensesInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LensAliases": {
          "target": "com.amazonaws.wellarchitected#LensAliases",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to disassociate lens reviews.</p>"
      }
    },
    "com.amazonaws.wellarchitected#DisplayText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.wellarchitected#ExceptionMessage": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Description of the error.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ExceptionResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Identifier of the resource affected.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ExceptionResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Type of the resource affected.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ExportLens": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#ExportLensInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#ExportLensOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Export an existing lens.</p>\n        <p>Lenses are defined in JSON. For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-format-specification.html\">JSON format specification</a> \n            in the <i>Well-Architected Tool User Guide</i>. Only the owner of a lens can export it.               \n        </p>\n        <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>Do not include or gather personal identifiable information (PII) of end users or \n                other identifiable individuals in or via your custom lenses. If your custom \n                lens or those shared with you and used in your account do include or collect \n                PII you are responsible for: ensuring that the included PII is processed in accordance \n                with applicable law, providing adequate privacy notices, and obtaining necessary \n                consents for processing such data.</p>\n         </note>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/lenses/{LensAlias}/export",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#ExportLensInput": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The lens version to be exported.</p>",
            "smithy.api#httpQuery": "LensVersion"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#ExportLensOutput": {
      "type": "structure",
      "members": {
        "LensJSON": {
          "target": "com.amazonaws.wellarchitected#LensJSON",
          "traits": {
            "smithy.api#documentation": "<p>The JSON for the lens.</p>"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#FlaggedResources": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 9999
        }
      }
    },
    "com.amazonaws.wellarchitected#GetAnswer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#GetAnswerInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#GetAnswerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the answer to a specific question in a workload review.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers/{QuestionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#GetAnswerInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "QuestionId": {
          "target": "com.amazonaws.wellarchitected#QuestionId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MilestoneNumber": {
          "target": "com.amazonaws.wellarchitected#MilestoneNumber",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#httpQuery": "MilestoneNumber"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to get answer.</p>"
      }
    },
    "com.amazonaws.wellarchitected#GetAnswerOutput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId"
        },
        "MilestoneNumber": {
          "target": "com.amazonaws.wellarchitected#MilestoneNumber",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias"
        },
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lens.</p>"
          }
        },
        "Answer": {
          "target": "com.amazonaws.wellarchitected#Answer"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output of a get answer call.</p>"
      }
    },
    "com.amazonaws.wellarchitected#GetLens": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#GetLensInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#GetLensOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get an existing lens.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/lenses/{LensAlias}",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#GetLensInput": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The lens version to be retrieved.</p>",
            "smithy.api#httpQuery": "LensVersion"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#GetLensOutput": {
      "type": "structure",
      "members": {
        "Lens": {
          "target": "com.amazonaws.wellarchitected#Lens",
          "traits": {
            "smithy.api#documentation": "<p>A lens return object.</p>"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#GetLensReview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#GetLensReviewInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#GetLensReviewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get lens review.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workloads/{WorkloadId}/lensReviews/{LensAlias}",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#GetLensReviewInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MilestoneNumber": {
          "target": "com.amazonaws.wellarchitected#MilestoneNumber",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#httpQuery": "MilestoneNumber"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to get lens review.</p>"
      }
    },
    "com.amazonaws.wellarchitected#GetLensReviewOutput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId"
        },
        "MilestoneNumber": {
          "target": "com.amazonaws.wellarchitected#MilestoneNumber",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "LensReview": {
          "target": "com.amazonaws.wellarchitected#LensReview"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output of a get lens review call.</p>"
      }
    },
    "com.amazonaws.wellarchitected#GetLensReviewReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#GetLensReviewReportInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#GetLensReviewReportOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get lens review report.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workloads/{WorkloadId}/lensReviews/{LensAlias}/report",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#GetLensReviewReportInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MilestoneNumber": {
          "target": "com.amazonaws.wellarchitected#MilestoneNumber",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#httpQuery": "MilestoneNumber"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to get lens review report.</p>"
      }
    },
    "com.amazonaws.wellarchitected#GetLensReviewReportOutput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId"
        },
        "MilestoneNumber": {
          "target": "com.amazonaws.wellarchitected#MilestoneNumber",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "LensReviewReport": {
          "target": "com.amazonaws.wellarchitected#LensReviewReport"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output of a get lens review report call.</p>"
      }
    },
    "com.amazonaws.wellarchitected#GetLensVersionDifference": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#GetLensVersionDifferenceInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#GetLensVersionDifferenceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get lens version differences.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/lenses/{LensAlias}/versionDifference",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#GetLensVersionDifferenceInput": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BaseLensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The base version of the lens.</p>",
            "smithy.api#httpQuery": "BaseLensVersion"
          }
        },
        "TargetLensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The lens version to target a difference for.</p>",
            "smithy.api#httpQuery": "TargetLensVersion"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#GetLensVersionDifferenceOutput": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias"
        },
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lens.</p>"
          }
        },
        "BaseLensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The base version of the lens.</p>"
          }
        },
        "TargetLensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The target lens version for the lens.</p>"
          }
        },
        "LatestLensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The latest version of the lens.</p>"
          }
        },
        "VersionDifferences": {
          "target": "com.amazonaws.wellarchitected#VersionDifferences"
        }
      }
    },
    "com.amazonaws.wellarchitected#GetMilestone": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#GetMilestoneInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#GetMilestoneOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a milestone for an existing workload.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workloads/{WorkloadId}/milestones/{MilestoneNumber}",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#GetMilestoneInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MilestoneNumber": {
          "target": "com.amazonaws.wellarchitected#MilestoneNumber",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to get a milestone.</p>"
      }
    },
    "com.amazonaws.wellarchitected#GetMilestoneOutput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId"
        },
        "Milestone": {
          "target": "com.amazonaws.wellarchitected#Milestone"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output of a get milestone call.</p>"
      }
    },
    "com.amazonaws.wellarchitected#GetWorkload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#GetWorkloadInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#GetWorkloadOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get an existing workload.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workloads/{WorkloadId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#GetWorkloadInput": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to get a workload.</p>"
      }
    },
    "com.amazonaws.wellarchitected#GetWorkloadOutput": {
      "type": "structure",
      "members": {
        "Workload": {
          "target": "com.amazonaws.wellarchitected#Workload"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output of a get workload call.</p>"
      }
    },
    "com.amazonaws.wellarchitected#HelpfulResourceUrl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The helpful resource URL for a question.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.wellarchitected#ImportLens": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wellarchitected#ImportLensInput"
      },
      "output": {
        "target": "com.amazonaws.wellarchitected#ImportLensOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.wellarchitected#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ConflictException"
        },
        {
          "target": "com.amazonaws.wellarchitected#InternalServerException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ThrottlingException"
        },
        {
          "target": "com.amazonaws.wellarchitected#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Import a new lens.</p>\n        <p>The lens cannot be applied to workloads or shared with other Amazon Web Services accounts\n            until it's published with <a>CreateLensVersion</a>\n         </p>\n        <p>Lenses are defined in JSON. For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-format-specification.html\">JSON format specification</a> \n            in the <i>Well-Architected Tool User Guide</i>.</p>\n        <p>A custom lens cannot exceed 500 KB in size.</p>\n        \n        <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>Do not include or gather personal identifiable information (PII) of end users or \n                other identifiable individuals in or via your custom lenses. If your custom \n                lens or those shared with you and used in your account do include or collect \n                PII you are responsible for: ensuring that the included PII is processed in accordance \n                with applicable law, providing adequate privacy notices, and obtaining necessary \n                consents for processing such data.</p>\n         </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/importLens",
          "code": 200
        }
      }
    },
    "com.amazonaws.wellarchitected#ImportLensInput": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias"
        },
        "JSONString": {
          "target": "com.amazonaws.wellarchitected#LensJSON",
          "traits": {
            "smithy.api#documentation": "<p>The JSON representation of a lens.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.wellarchitected#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.wellarchitected#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate to a lens.</p>"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#ImportLensOutput": {
      "type": "structure",
      "members": {
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lens.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.wellarchitected#ImportLensStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the imported lens.</p>"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#ImportLensStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#ImprovementPlanUrl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The improvement plan URL for a question.</p>\n        <p>This value is only available if the question has been answered.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.wellarchitected#ImprovementSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#ImprovementSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of improvement summaries of lens review in a workload.</p>"
      }
    },
    "com.amazonaws.wellarchitected#ImprovementSummary": {
      "type": "structure",
      "members": {
        "QuestionId": {
          "target": "com.amazonaws.wellarchitected#QuestionId"
        },
        "PillarId": {
          "target": "com.amazonaws.wellarchitected#PillarId"
        },
        "QuestionTitle": {
          "target": "com.amazonaws.wellarchitected#QuestionTitle"
        },
        "Risk": {
          "target": "com.amazonaws.wellarchitected#Risk"
        },
        "ImprovementPlanUrl": {
          "target": "com.amazonaws.wellarchitected#ImprovementPlanUrl"
        },
        "ImprovementPlans": {
          "target": "com.amazonaws.wellarchitected#ChoiceImprovementPlans",
          "traits": {
            "smithy.api#documentation": "<p>The improvement plan details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An improvement summary of a lens review in a workload.</p>"
      }
    },
    "com.amazonaws.wellarchitected#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.wellarchitected#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.wellarchitected#IsApplicable": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false,
        "smithy.api#documentation": "<p>Defines whether this question is applicable to a lens review.</p>"
      }
    },
    "com.amazonaws.wellarchitected#IsMajorVersion": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.wellarchitected#IsReviewOwnerUpdateAcknowledged": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.wellarchitected#Lens": {
      "type": "structure",
      "members": {
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a lens.</p>"
          }
        },
        "LensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of a lens.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.wellarchitected#LensName"
        },
        "Description": {
          "target": "com.amazonaws.wellarchitected#LensDescription"
        },
        "Owner": {
          "target": "com.amazonaws.wellarchitected#LensOwner",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the lens.</p>"
          }
        },
        "ShareInvitationId": {
          "target": "com.amazonaws.wellarchitected#ShareInvitationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID assigned to the share invitation.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.wellarchitected#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the lens.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A lens return object.</p>"
      }
    },
    "com.amazonaws.wellarchitected#LensAlias": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The alias of the lens.</p>\n        <p>For Amazon Web Services official lenses, this is either the lens alias,\n            such as <code>serverless</code>, or the lens ARN, such as <code>arn:aws:wellarchitected:us-west-2::lens/serverless</code>.</p>\n        <p>For custom lenses, this is the lens ARN, such as <code>arn:aws:wellarchitected:us-east-1:123456789012:lens/my-lens</code>. </p>\n        <p>Each lens is identified by its <a>LensSummary$LensAlias</a>.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.wellarchitected#LensAliases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#LensAlias"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of lens aliases to associate or disassociate with a workload. Up to 10 lenses can be specified.</p>\n        <p>Identify a lens using its <a>LensSummary$LensAlias</a>.</p>",
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.wellarchitected#LensArn": {
      "type": "string"
    },
    "com.amazonaws.wellarchitected#LensDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The description of the lens.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.wellarchitected#LensJSON": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 500000
        }
      }
    },
    "com.amazonaws.wellarchitected#LensName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The full name of the lens.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.wellarchitected#LensNamePrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.wellarchitected#LensOwner": {
      "type": "string"
    },
    "com.amazonaws.wellarchitected#LensReview": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias"
        },
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lens.</p>"
          }
        },
        "LensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the lens.</p>"
          }
        },
        "LensName": {
          "target": "com.amazonaws.wellarchitected#LensName"
        },
        "LensStatus": {
          "target": "com.amazonaws.wellarchitected#LensStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the lens.</p>"
          }
        },
        "PillarReviewSummaries": {
          "target": "com.amazonaws.wellarchitected#PillarReviewSummaries"
        },
        "UpdatedAt": {
          "target": "com.amazonaws.wellarchitected#Timestamp"
        },
        "Notes": {
          "target": "com.amazonaws.wellarchitected#Notes"
        },
        "RiskCounts": {
          "target": "com.amazonaws.wellarchitected#RiskCounts"
        },
        "NextToken": {
          "target": "com.amazonaws.wellarchitected#NextToken"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A lens review of a question.</p>"
      }
    },
    "com.amazonaws.wellarchitected#LensReviewReport": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias"
        },
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lens.</p>"
          }
        },
        "Base64String": {
          "target": "com.amazonaws.wellarchitected#Base64String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A report of a lens review.</p>"
      }
    },
    "com.amazonaws.wellarchitected#LensReviewSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#LensReviewSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of lens summaries of lens reviews of a workload.</p>"
      }
    },
    "com.amazonaws.wellarchitected#LensReviewSummary": {
      "type": "structure",
      "members": {
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias"
        },
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lens.</p>"
          }
        },
        "LensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the lens.</p>"
          }
        },
        "LensName": {
          "target": "com.amazonaws.wellarchitected#LensName"
        },
        "LensStatus": {
          "target": "com.amazonaws.wellarchitected#LensStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the lens.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.wellarchitected#Timestamp"
        },
        "RiskCounts": {
          "target": "com.amazonaws.wellarchitected#RiskCounts"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A lens review summary of a workload.</p>"
      }
    },
    "com.amazonaws.wellarchitected#LensShareSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#LensShareSummary"
      }
    },
    "com.amazonaws.wellarchitected#LensShareSummary": {
      "type": "structure",
      "members": {
        "ShareId": {
          "target": "com.amazonaws.wellarchitected#ShareId"
        },
        "SharedWith": {
          "target": "com.amazonaws.wellarchitected#SharedWith"
        },
        "Status": {
          "target": "com.amazonaws.wellarchitected#ShareStatus"
        },
        "StatusMessage": {
          "target": "com.amazonaws.wellarchitected#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>Optional message to compliment the Status field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A lens share summary return object.</p>"
      }
    },
    "com.amazonaws.wellarchitected#LensStatus": {
      "type": "enum",
      "members": {
        "CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURRENT"
          }
        },
        "NOT_CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CURRENT"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "UNSHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSHARED"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#LensStatusType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#LensSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wellarchitected#LensSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of lens summaries of available lenses.</p>"
      }
    },
    "com.amazonaws.wellarchitected#LensSummary": {
      "type": "structure",
      "members": {
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the lens.</p>"
          }
        },
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias"
        },
        "LensName": {
          "target": "com.amazonaws.wellarchitected#LensName"
        },
        "LensType": {
          "target": "com.amazonaws.wellarchitected#LensType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the lens.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.wellarchitected#LensDescription"
        },
        "CreatedAt": {
          "target": "com.amazonaws.wellarchitected#Timestamp"
        },
        "UpdatedAt": {
          "target": "com.amazonaws.wellarchitected#Timestamp"
        },
        "LensVersion": {
          "target": "com.amazonaws.wellarchitected#LensVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the lens.</p>"
          }
        },
        "Owner": {
          "target": "com.amazonaws.wellarchitected#AwsAccountId"
        },
        "LensStatus": {
          "target": "com.amazonaws.wellarchitected#LensStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the lens.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A lens summary of a lens.</p>"
      }
    },
    "com.amazonaws.wellarchitected#LensType": {
      "type": "enum",
      "members": {
        "AWS_OFFICIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_OFFICIAL"
          }
        },
        "CUSTOM_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_SHARED"
          }
        },
        "CUSTOM_SELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_SELF"
          }
        }
      }
    },
    "com.amazonaws.wellarchitected#LensUpgradeSummary": {
      "type": "structure",
      "members": {
        "WorkloadId": {
          "target": "com.amazonaws.wellarchitected#WorkloadId"
        },
        "WorkloadName": {
          "target": "com.amazonaws.wellarchitected#WorkloadName"
        },
        "LensAlias": {
          "target": "com.amazonaws.wellarchitected#LensAlias"
        },
        "LensArn": {
          "target": "com.amazonaws.wellarchitected#LensArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the lens.</p>"
[...]
