{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.wickr#AccessLevel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM"
          }
        }
      }
    },
    "com.amazonaws.wickr#AppIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#GenericString"
      }
    },
    "com.amazonaws.wickr#BadRequestError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A detailed message explaining what was wrong with the request and how to correct it.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was invalid or malformed. This error occurs when the request parameters do not meet the API requirements, such as invalid field values, missing required parameters, or improperly formatted data.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.wickr#BasicDeviceObject": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique application ID for the Wickr app on this device.</p>"
          }
        },
        "created": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the device first appeared in the Wickr database.</p>"
          }
        },
        "lastLogin": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the device last successfully logged into Wickr. This is also used to determine SSO idle time.</p>"
          }
        },
        "statusText": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the device, either 'Active' or 'Reset' depending on whether the device is currently active or has been marked for reset.</p>"
          }
        },
        "suspend": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the device is suspended.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The operating system of the device (e.g., 'MacOSX', 'Windows', 'iOS', 'Android').</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a device where a user has logged into Wickr, containing information about the device's type, status, and login history.</p>"
      }
    },
    "com.amazonaws.wickr#BatchCreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#BatchCreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#BatchCreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates multiple users in a specified Wickr network. This operation allows you to provision multiple user accounts simultaneously, optionally specifying security groups, and validation requirements for each user.</p> <note> <p> <code>codeValidation</code>, <code>inviteCode</code>, and <code>inviteCodeTtl</code> are restricted to networks under preview only.</p> </note>",
        "smithy.api#examples": [
          {
            "title": "Create multiple users",
            "input": {
              "networkId": "12345678",
              "users": [
                {
                  "firstName": "John",
                  "lastName": "Doe",
                  "username": "john.doe@example.com",
                  "securityGroupIds": ["BCTY8Qhe"],
                  "inviteCode": "INVITE123",
                  "inviteCodeTtl": 7,
                  "codeValidation": true
                },
                {
                  "firstName": "Jane",
                  "lastName": "Smith",
                  "username": "jane.smith@example.com",
                  "securityGroupIds": ["BCTY8Qhe"]
                }
              ],
              "clientToken": "550e8400-e29b-41d4-a716-446655440000"
            },
            "output": {
              "successful": [
                {
                  "userId": "123",
                  "username": "john.doe@example.com",
                  "firstName": "John",
                  "lastName": "Doe",
                  "status": 1,
                  "inviteCode": "INVITE123",
                  "isInviteExpired": false,
                  "codeValidation": true
                },
                {
                  "userId": "456",
                  "username": "jane.smith@example.com",
                  "firstName": "Jane",
                  "lastName": "Smith",
                  "status": 1,
                  "inviteCode": "AUTOGEN456",
                  "isInviteExpired": false,
                  "codeValidation": false
                }
              ],
              "failed": []
            }
          },
          {
            "title": "Partial failure - duplicate user",
            "input": {
              "networkId": "12345678",
              "users": [
                {
                  "firstName": "Alice",
                  "lastName": "Johnson",
                  "username": "alice.johnson@example.com",
                  "securityGroupIds": ["BCTY8Qhe"]
                },
                {
                  "firstName": "Bob",
                  "lastName": "Wilson",
                  "username": "existing.user@example.com",
                  "securityGroupIds": ["BCTY8Qhe"]
                }
              ]
            },
            "output": {
              "successful": [
                {
                  "userId": "678",
                  "username": "alice.johnson@example.com",
                  "firstName": "Alice",
                  "lastName": "Johnson",
                  "status": 1,
                  "inviteCode": "AUTOGEN789",
                  "isInviteExpired": false,
                  "codeValidation": false
                }
              ],
              "failed": [
                {
                  "userId": "0",
                  "field": "username",
                  "reason": "User already exists"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/users",
          "method": "POST",
          "code": 200
        },
        "smithy.api#tags": ["directory", "mysql"]
      }
    },
    "com.amazonaws.wickr#BatchCreateUserRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network where users will be created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.amazonaws.wickr#BatchCreateUserRequestItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of user objects containing the details for each user to be created, including username, name, security groups, and optional invite codes. Maximum 50 users per batch request.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.wickr#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this request to ensure idempotency. If you retry a request with the same client token, the service will return the same response without creating duplicate users.</p>",
            "smithy.api#httpHeader": "X-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#BatchCreateUserRequestItem": {
      "type": "structure",
      "members": {
        "firstName": {
          "target": "com.amazonaws.wickr#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The first name of the user.</p>"
          }
        },
        "lastName": {
          "target": "com.amazonaws.wickr#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The last name of the user.</p>"
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.wickr#SecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of security group IDs to which the user should be assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The email address or username for the user. Must be unique within the network.</p>",
            "smithy.api#required": {}
          }
        },
        "inviteCode": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A custom invite code for the user. If not provided, one will be generated automatically.</p>"
          }
        },
        "inviteCodeTtl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The time-to-live for the invite code in days. After this period, the invite code will expire.</p>"
          }
        },
        "codeValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the user can be verified through a custom invite code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details for a single user to be created in a batch user creation request.</p> <note> <p>A user can only be assigned to a single security group. Attempting to add a user to multiple security groups is not supported and will result in an error.</p> </note> <note> <p> <code>codeValidation</code>, <code>inviteCode</code>, and <code>inviteCodeTtl</code> are restricted to networks under preview only.</p> </note>"
      }
    },
    "com.amazonaws.wickr#BatchCreateUserRequestItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#BatchCreateUserRequestItem"
      }
    },
    "com.amazonaws.wickr#BatchCreateUserResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating the overall result of the batch operation.</p>"
          }
        },
        "successful": {
          "target": "com.amazonaws.wickr#Users",
          "traits": {
            "smithy.api#documentation": "<p>A list of user objects that were successfully created, including their assigned user IDs and invite codes.</p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.wickr#BatchUserErrorResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of user creation attempts that failed, including error details explaining why each user could not be created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#BatchDeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#BatchDeleteUserRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#BatchDeleteUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes multiple users from a specified Wickr network. This operation permanently removes user accounts and their associated data from the network.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete multiple users",
            "input": {
              "networkId": "12345678",
              "userIds": ["123", "456"],
              "clientToken": "6ba7b814-9dad-11d1-80b4-00c04fd430c8"
            },
            "output": {
              "message": "success",
              "successful": [
                {
                  "userId": "123"
                },
                {
                  "userId": "456"
                }
              ],
              "failed": []
            }
          },
          {
            "title": "Partial failure - user not found",
            "input": {
              "networkId": "12345678",
              "userIds": ["123", "456"]
            },
            "output": {
              "message": "partial success",
              "successful": [
                {
                  "userId": "123"
                }
              ],
              "failed": [
                {
                  "userId": "456",
                  "field": "username",
                  "reason": "User not found"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/users/batch-delete",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["directory", "mysql"]
      }
    },
    "com.amazonaws.wickr#BatchDeleteUserRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network from which users will be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userIds": {
          "target": "com.amazonaws.wickr#UserIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of user IDs identifying the users to be deleted from the network. Maximum 50 users per batch request.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.wickr#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this request to ensure idempotency. If you retry a request with the same client token, the service will return the same response without attempting to delete users again.</p>",
            "smithy.api#httpHeader": "X-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#BatchDeleteUserResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating the overall result of the batch deletion operation.</p>"
          }
        },
        "successful": {
          "target": "com.amazonaws.wickr#BatchUserSuccessResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of user IDs that were successfully deleted from the network.</p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.wickr#BatchUserErrorResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of user deletion attempts that failed, including error details explaining why each user could not be deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#BatchDeviceErrorResponseItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The field that caused the error.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A description of why the device operation failed.</p>"
          }
        },
        "appId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The application ID of the device that failed to be processed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error information for a device operation that failed in a batch device request.</p>"
      }
    },
    "com.amazonaws.wickr#BatchDeviceErrorResponseItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#BatchDeviceErrorResponseItem"
      }
    },
    "com.amazonaws.wickr#BatchDeviceSuccessResponseItem": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The application ID of the device that was successfully processed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a device that was successfully processed in a batch device operation.</p>"
      }
    },
    "com.amazonaws.wickr#BatchDeviceSuccessResponseItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#BatchDeviceSuccessResponseItem"
      }
    },
    "com.amazonaws.wickr#BatchLookupUserUname": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#BatchLookupUserUnameRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#BatchLookupUserUnameResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Looks up multiple user usernames from their unique username hashes (unames). This operation allows you to retrieve the email addresses associated with a list of username hashes.</p>",
        "smithy.api#examples": [
          {
            "title": "Lookup multiple user unames",
            "input": {
              "networkId": "12345678",
              "unames": ["a1b2c3d4e5f6", "g7h8i9j0k1l2"],
              "clientToken": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            },
            "output": {
              "message": "success",
              "successful": [
                {
                  "uname": "a1b2c3d4e5f6",
                  "username": "john.doe@example.com"
                },
                {
                  "uname": "g7h8i9j0k1l2",
                  "username": "john.doe2@example.com"
                }
              ],
              "failed": []
            }
          },
          {
            "title": "Partial failure - uname not found",
            "input": {
              "networkId": "12345678",
              "unames": ["a1b2c3d4e5f6", "invaliduname"]
            },
            "output": {
              "message": "partial success",
              "successful": [
                {
                  "uname": "a1b2c3d4e5f6",
                  "username": "john.doe@example.com"
                }
              ],
              "failed": [
                {
                  "uname": "invaliduname",
                  "field": "uname",
                  "reason": "Uname not found"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/users/uname-lookup",
          "method": "POST",
          "code": 200
        },
        "smithy.api#tags": ["directory", "mysql"]
      }
    },
    "com.amazonaws.wickr#BatchLookupUserUnameRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network where the users will be looked up.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "unames": {
          "target": "com.amazonaws.wickr#Unames",
          "traits": {
            "smithy.api#documentation": "<p>A list of username hashes (unames) to look up. Each uname is a unique identifier for a user's username. Maximum 50 unames per batch request.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.wickr#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#BatchLookupUserUnameResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating the overall result of the batch lookup operation.</p>"
          }
        },
        "successful": {
          "target": "com.amazonaws.wickr#BatchUnameSuccessResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of successfully resolved username hashes with their corresponding email addresses.</p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.wickr#BatchUnameErrorResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of username hash lookup attempts that failed, including error details explaining why each lookup failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#BatchReinviteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#BatchReinviteUserRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#BatchReinviteUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Resends invitation codes to multiple users who have pending invitations in a Wickr network. This operation is useful when users haven't accepted their initial invitations or when invitations have expired.</p>",
        "smithy.api#examples": [
          {
            "title": "Batch reinvite users successfully",
            "input": {
              "networkId": "12345678",
              "userIds": ["12345", "67890"]
            },
            "output": {
              "successful": [
                {
                  "userId": "12345"
                },
                {
                  "userId": "67890"
                }
              ],
              "failed": []
            }
          },
          {
            "title": "Batch reinvite users - partial success",
            "input": {
              "networkId": "12345678",
              "userIds": ["12345", "99999"]
            },
            "output": {
              "successful": [
                {
                  "userId": "12345"
                }
              ],
              "failed": [
                {
                  "userId": "99999",
                  "reason": "user not found in current network"
                }
              ]
            }
          },
          {
            "title": "Batch reinvite users - cannot reinvite",
            "input": {
              "networkId": "12345678",
              "userIds": ["54321"]
            },
            "output": {
              "successful": [],
              "failed": [
                {
                  "userId": "54321",
                  "reason": "user cannot be reinvited"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/users/re-invite",
          "method": "PATCH",
          "code": 200
        },
        "smithy.api#tags": ["directory", "mysql"]
      }
    },
    "com.amazonaws.wickr#BatchReinviteUserRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network where users will be reinvited.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userIds": {
          "target": "com.amazonaws.wickr#UserIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of user IDs identifying the users to be reinvited to the network. Maximum 50 users per batch request.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.wickr#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#BatchReinviteUserResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating the overall result of the batch reinvitation operation.</p>"
          }
        },
        "successful": {
          "target": "com.amazonaws.wickr#BatchUserSuccessResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of user IDs that were successfully reinvited.</p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.wickr#BatchUserErrorResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of reinvitation attempts that failed, including error details explaining why each user could not be reinvited.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#BatchResetDevicesForUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#BatchResetDevicesForUserRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#BatchResetDevicesForUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Resets multiple devices for a specific user in a Wickr network. This operation forces the selected devices to log out and requires users to re-authenticate, which is useful for security purposes or when devices need to be revoked.</p>",
        "smithy.api#examples": [
          {
            "title": "Successful device reset",
            "input": {
              "networkId": "12345678",
              "userId": "12345",
              "appIds": [
                "d3135a42dcb6437780b16c3ca9581fe64e6822773cd6b965d25fc9929c89aca6",
                "e4246b53edc7548891c27d4da0692fe75f7933884de7c076e36gca030d90bdb7"
              ]
            },
            "output": {
              "message": "success",
              "successful": [
                {
                  "appId": "d3135a42dcb6437780b16c3ca9581fe64e6822773cd6b965d25fc9929c89aca6"
                },
                {
                  "appId": "e4246b53edc7548891c27d4da0692fe75f7933884de7c076e36gca030d90bdb7"
                }
              ],
              "failed": []
            }
          },
          {
            "title": "Partial failure device reset",
            "input": {
              "networkId": "12345678",
              "userId": "12345",
              "appIds": ["d3135a42dcb6437780b16c3ca9581fe64e6822773cd6b965d25fc9929c89aca6", "invalid-app-id"]
            },
            "output": {
              "message": "partial success",
              "successful": [
                {
                  "appId": "d3135a42dcb6437780b16c3ca9581fe64e6822773cd6b965d25fc9929c89aca6"
                }
              ],
              "failed": [
                {
                  "appId": "invalid-app-id",
                  "field": "appId",
                  "reason": "Invalid app ID."
                }
              ]
            }
          },
          {
            "title": "Invalid network ID error",
            "input": {
              "networkId": "00000000",
              "userId": "12345",
              "appIds": ["d3135a42dcb6437780b16c3ca9581fe64e6822773cd6b965d25fc9929c89aca6"]
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#ForbiddenError",
              "content": {
                "message": "Invalid networkId."
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/users/{userId}/devices",
          "method": "PATCH",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["devices"]
      }
    },
    "com.amazonaws.wickr#BatchResetDevicesForUserRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network containing the user whose devices will be reset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.wickr#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user whose devices will be reset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "appIds": {
          "target": "com.amazonaws.wickr#AppIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of application IDs identifying the specific devices to be reset for the user. Maximum 50 devices per batch request.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.wickr#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#BatchResetDevicesForUserResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating the overall result of the batch device reset operation.</p>"
          }
        },
        "successful": {
          "target": "com.amazonaws.wickr#BatchDeviceSuccessResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of application IDs that were successfully reset.</p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.wickr#BatchDeviceErrorResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of device reset attempts that failed, including error details explaining why each device could not be reset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#BatchToggleUserSuspendStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#BatchToggleUserSuspendStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#BatchToggleUserSuspendStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Suspends or unsuspends multiple users in a Wickr network. Suspended users cannot access the network until they are unsuspended. This operation is useful for temporarily restricting access without deleting user accounts.</p>",
        "smithy.api#examples": [
          {
            "title": "Suspend multiple users",
            "input": {
              "networkId": "12345678",
              "userIds": ["123", "456"],
              "suspend": true,
              "clientToken": "6ba7b815-9dad-11d1-80b4-00c04fd430c8"
            },
            "output": {
              "message": "success",
              "successful": [
                {
                  "userId": "123"
                },
                {
                  "userId": "456"
                }
              ],
              "failed": []
            }
          },
          {
            "title": "Unsuspend users with partial failure",
            "input": {
              "networkId": "12345678",
              "userIds": ["123", "456"],
              "suspend": false
            },
            "output": {
              "message": "partial success",
              "successful": [
                {
                  "userId": "123"
                }
              ],
              "failed": [
                {
                  "userId": "456",
                  "field": "username",
                  "reason": "User not found"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/users/toggleSuspend",
          "method": "PATCH",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["directory", "mysql"]
      }
    },
    "com.amazonaws.wickr#BatchToggleUserSuspendStatusRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network where users will be suspended or unsuspended.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "suspend": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value indicating whether to suspend (true) or unsuspend (false) the specified users.</p>",
            "smithy.api#httpQuery": "suspend",
            "smithy.api#required": {}
          }
        },
        "userIds": {
          "target": "com.amazonaws.wickr#UserIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of user IDs identifying the users whose suspend status will be toggled. Maximum 50 users per batch request.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.wickr#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#BatchToggleUserSuspendStatusResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating the overall result of the batch suspend status toggle operation.</p>"
          }
        },
        "successful": {
          "target": "com.amazonaws.wickr#BatchUserSuccessResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of user IDs whose suspend status was successfully toggled.</p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.wickr#BatchUserErrorResponseItems",
          "traits": {
            "smithy.api#documentation": "<p>A list of suspend status toggle attempts that failed, including error details explaining why each user's status could not be changed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#BatchUnameErrorResponseItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The field that caused the error.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A description of why the username hash lookup failed.</p>"
          }
        },
        "uname": {
          "target": "com.amazonaws.wickr#Uname",
          "traits": {
            "smithy.api#documentation": "<p>The username hash that failed to be looked up.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error information for a username hash lookup that failed in a batch uname lookup request.</p>"
      }
    },
    "com.amazonaws.wickr#BatchUnameErrorResponseItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#BatchUnameErrorResponseItem"
      }
    },
    "com.amazonaws.wickr#BatchUnameSuccessResponseItem": {
      "type": "structure",
      "members": {
        "uname": {
          "target": "com.amazonaws.wickr#Uname",
          "traits": {
            "smithy.api#documentation": "<p>The username hash that was successfully resolved.</p>",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The email address or username corresponding to the username hash.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a username hash that was successfully resolved in a batch uname lookup operation.</p>"
      }
    },
    "com.amazonaws.wickr#BatchUnameSuccessResponseItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#BatchUnameSuccessResponseItem"
      }
    },
    "com.amazonaws.wickr#BatchUserErrorResponseItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The field that caused the error.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A description of why the user operation failed.</p>"
          }
        },
        "userId": {
          "target": "com.amazonaws.wickr#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The user ID associated with the failed operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error information for a user operation that failed in a batch user request.</p>"
      }
    },
    "com.amazonaws.wickr#BatchUserErrorResponseItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#BatchUserErrorResponseItem"
      }
    },
    "com.amazonaws.wickr#BatchUserSuccessResponseItem": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "com.amazonaws.wickr#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The user ID that was successfully processed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a user that was successfully processed in a batch user operation.</p>"
      }
    },
    "com.amazonaws.wickr#BatchUserSuccessResponseItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#BatchUserSuccessResponseItem"
      }
    },
    "com.amazonaws.wickr#BlockedGuestUser": {
      "type": "structure",
      "members": {
        "username": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The username of the blocked guest user.</p>",
            "smithy.api#required": {}
          }
        },
        "admin": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The username of the administrator who blocked this guest user.</p>",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the guest user was blocked or last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "usernameHash": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique username hash identifier for the blocked guest user.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a guest user who has been blocked from accessing a Wickr network.</p>"
      }
    },
    "com.amazonaws.wickr#BlockedGuestUserList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#BlockedGuestUser"
      }
    },
    "com.amazonaws.wickr#Bot": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot.</p>"
          }
        },
        "displayName": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the bot that is visible to users.</p>"
          }
        },
        "username": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The username of the bot.</p>"
          }
        },
        "uname": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique username hash identifier for the bot.</p>"
          }
        },
        "pubkey": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The public key of the bot used for encryption.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.wickr#BotStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the bot (1 for pending, 2 for active).</p>"
          }
        },
        "groupId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the security group to which the bot belongs.</p>"
          }
        },
        "hasChallenge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the bot has a password set.</p>"
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the bot is currently suspended.</p>"
          }
        },
        "lastLogin": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the bot's last login.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a bot account in a Wickr network with all its informational fields.</p>"
      }
    },
    "com.amazonaws.wickr#BotId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.wickr#BotStatus": {
      "type": "intEnum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>The bot has been created but is not yet active, pending initial setup or activation.</p>",
            "smithy.api#enumValue": 1
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>The bot is active and operational, able to send and receive messages.</p>",
            "smithy.api#enumValue": 2
          }
        }
      }
    },
    "com.amazonaws.wickr#Bots": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#Bot"
      }
    },
    "com.amazonaws.wickr#CallingSettings": {
      "type": "structure",
      "members": {
        "canStart11Call": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether users can start one-to-one calls.</p>"
          }
        },
        "canVideoCall": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether users can make video calls (as opposed to audio-only calls). Valid only when audio call(canStart11Call) is enabled.</p>"
          }
        },
        "forceTcpCall": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When enabled, forces all calls to use TCP protocol instead of UDP for network traversal.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the calling feature permissions and settings for users in a security group, controlling what types of calls users can initiate and participate in.</p>"
      }
    },
    "com.amazonaws.wickr#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_:]+$"
      }
    },
    "com.amazonaws.wickr#CreateBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#CreateBotRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#CreateBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new bot in a specified Wickr network. Bots are automated accounts that can send and receive messages, enabling integration with external systems and automation of tasks.</p>",
        "smithy.api#examples": [
          {
            "title": "Create bot successfully",
            "input": {
              "networkId": "12345678",
              "username": "analytics_bot",
              "displayName": "Analytics Bot",
              "challenge": "SecureP@ssw0rd123",
              "groupId": "analytics_group"
            },
            "output": {
              "botId": "98766",
              "networkId": "12345678",
              "username": "analytics_bot",
              "displayName": "Analytics Bot",
              "groupId": "analytics_group"
            }
          },
          {
            "title": "Create bot - username unavailable",
            "input": {
              "networkId": "12345678",
              "username": "support_bot",
              "displayName": "Support Bot",
              "groupId": "default_group",
              "challenge": "SecureP@ssw0rd123"
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#ValidationError",
              "content": {
                "reasons": [
                  {
                    "field": "username",
                    "reason": "username is unavailable"
                  }
                ]
              }
            }
          },
          {
            "title": "Create bot - invalid username format",
            "input": {
              "networkId": "12345678",
              "username": "bot@invalid",
              "displayName": "Test Bot",
              "groupId": "default_group",
              "challenge": "SecureP@ssw0rd123"
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#ValidationError",
              "content": {
                "reasons": [
                  {
                    "field": "username",
                    "reason": "Invalid username format"
                  }
                ]
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/bots",
          "method": "POST",
          "code": 200
        },
        "smithy.api#tags": ["bots", "mysql"]
      }
    },
    "com.amazonaws.wickr#CreateBotRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network where the bot will be created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The username for the bot. This must be unique within the network and follow the network's naming conventions.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the bot that will be visible to users in the network.</p>"
          }
        },
        "groupId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the security group to which the bot will be assigned.</p>",
            "smithy.api#required": {}
          }
        },
        "challenge": {
          "target": "com.amazonaws.wickr#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The password for the bot account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#CreateBotResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating the result of the bot creation operation.</p>"
          }
        },
        "botId": {
          "target": "com.amazonaws.wickr#BotId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the newly created bot.</p>",
            "smithy.api#required": {}
          }
        },
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the network where the bot was created.</p>"
          }
        },
        "username": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The username of the newly created bot.</p>"
          }
        },
        "displayName": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the newly created bot.</p>"
          }
        },
        "groupId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the security group to which the bot was assigned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#CreateDataRetentionBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#CreateDataRetentionBotRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#CreateDataRetentionBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data retention bot in a Wickr network. Data retention bots are specialized bots that handle message archiving and compliance by capturing and storing messages for regulatory or organizational requirements.</p>",
        "smithy.api#examples": [
          {
            "title": "Create data retention bot successfully",
            "input": {
              "networkId": "12345678"
            },
            "output": {
              "message": "successfully provisioned data retention bot"
            }
          },
          {
            "title": "Create data retention bot - users already exist",
            "input": {
              "networkId": "12345678"
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#BadRequestError",
              "content": {
                "message": "Users already exist in this network."
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/data-retention-bots",
          "method": "POST",
          "code": 200
        },
        "smithy.api#tags": ["bots", "data-retention"]
      }
    },
    "com.amazonaws.wickr#CreateDataRetentionBotChallenge": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#CreateDataRetentionBotChallengeRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#CreateDataRetentionBotChallengeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new challenge password for the data retention bot. This password is used for authentication when the bot connects to the network.</p>",
        "smithy.api#examples": [
          {
            "title": "Create data retention bot challenge successfully",
            "input": {
              "networkId": "12345678"
            },
            "output": {
              "challenge": "a1b2c3d4e5f6"
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/data-retention-bots/challenge",
          "method": "POST",
          "code": 200
        },
        "smithy.api#tags": ["bots", "data-retention"]
      }
    },
    "com.amazonaws.wickr#CreateDataRetentionBotChallengeRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network containing the data retention bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#CreateDataRetentionBotChallengeResponse": {
      "type": "structure",
      "members": {
        "challenge": {
          "target": "com.amazonaws.wickr#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The newly generated challenge password for the data retention bot.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#CreateDataRetentionBotRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network where the data retention bot will be created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#CreateDataRetentionBotResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating that the data retention bot was successfully provisioned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#CreateNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#CreateNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#CreateNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Wickr network with specified access level and configuration. This operation provisions a new communication network for your organization.</p>",
        "smithy.api#examples": [
          {
            "title": "Create network successfully",
            "input": {
              "networkName": "Production Network",
              "accessLevel": "PREMIUM",
              "enablePremiumFreeTrial": false
            },
            "output": {
              "networkId": "12345678",
              "networkName": "Production Network"
            }
          },
          {
            "title": "Create network with free trial",
            "input": {
              "networkName": "Trial Network",
              "accessLevel": "PREMIUM",
              "enablePremiumFreeTrial": true
            },
            "output": {
              "networkId": "87654321",
              "networkName": "Trial Network"
            }
          },
          {
            "title": "Create network - invalid name",
            "input": {
              "networkName": "This network name is way too long",
              "accessLevel": "STANDARD"
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#ValidationError",
              "content": {
                "reasons": [
                  {
                    "field": "networkName",
                    "reason": "Network name must be between 1 and 20 characters"
                  }
                ]
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["network", "mysql", "management"]
      }
    },
    "com.amazonaws.wickr#CreateNetworkRequest": {
      "type": "structure",
      "members": {
        "networkName": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new network. Must be between 1 and 20 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "accessLevel": {
          "target": "com.amazonaws.wickr#AccessLevel",
          "traits": {
            "smithy.api#documentation": "<p>The access level for the network. Valid values are STANDARD or PREMIUM, which determine the features and capabilities available to network members.</p>",
            "smithy.api#required": {}
          }
        },
        "enablePremiumFreeTrial": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to enable a premium free trial for the network. It is optional and has a default value as false. When set to true, the network starts with premium features for a limited trial period. </p>",
            "smithy.api#notProperty": {}
          }
        },
        "encryptionKeyArn": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Web Services KMS customer managed key to use for encrypting sensitive data in the network.</p>",
            "smithy.api#property": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#CreateNetworkResponse": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the newly created network.</p>",
            "smithy.api#notProperty": {}
          }
        },
        "networkName": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the newly created network.</p>"
          }
        },
        "encryptionKeyArn": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key being used to encrypt sensitive data in the network.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#CreateSecurityGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#CreateSecurityGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#CreateSecurityGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new security group in a Wickr network. Security groups allow you to organize users and control their permissions, features, and security settings.</p>",
        "smithy.api#examples": [
          {
            "title": "Create security group successfully",
            "input": {
              "networkId": "12345678",
              "name": "engineering",
              "securityGroupSettings": {
                "federationMode": 1,
                "lockoutThreshold": 10
              }
            },
            "output": {
              "securityGroup": {
                "id": "def67890",
                "name": "engineering",
                "isDefault": false,
                "activeMembers": 0,
                "botMembers": 0,
                "modified": 1638360000,
                "securityGroupSettings": {
                  "federationMode": 1,
                  "lockoutThreshold": 10
                }
              }
            }
          },
          {
            "title": "Create security group - missing name",
            "input": {
              "networkId": "12345678",
              "name": "",
              "securityGroupSettings": {
                "federationMode": 1
              }
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#ValidationError",
              "content": {
                "reasons": [
                  {
                    "field": "name",
                    "reason": "name is required"
                  }
                ]
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/security-groups",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["security groups", "mysql"]
      }
    },
    "com.amazonaws.wickr#CreateSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network where the security group will be created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new security group.</p>",
            "smithy.api#required": {}
          }
        },
        "securityGroupSettings": {
          "target": "com.amazonaws.wickr#SecurityGroupSettingsRequest",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for the security group, including permissions, federation settings, and feature controls.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.wickr#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#CreateSecurityGroupResponse": {
      "type": "structure",
      "members": {
        "securityGroup": {
          "target": "com.amazonaws.wickr#SecurityGroup",
          "traits": {
            "smithy.api#documentation": "<p>The details of the newly created security group, including its ID, name, and settings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#DataRetentionActionType": {
      "type": "enum",
      "members": {
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLE"
          }
        },
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE"
          }
        },
        "PUBKEY_MSG_ACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBKEY_MSG_ACK"
          }
        }
      }
    },
    "com.amazonaws.wickr#DeleteBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#DeleteBotRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#DeleteBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a bot from a specified Wickr network. This operation permanently removes the bot account and its associated data from the network.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete bot successfully",
            "input": {
              "networkId": "12345678",
              "botId": "98765"
            },
            "output": {
              "message": "success"
            }
          },
          {
            "title": "Delete bot - bot not found",
            "input": {
              "networkId": "12345678",
              "botId": "99999"
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#ResourceNotFoundError",
              "content": {
                "message": "Bot not found"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/bots/{botId}",
          "method": "DELETE",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["bots", "mysql"]
      }
    },
    "com.amazonaws.wickr#DeleteBotRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network from which the bot will be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botId": {
          "target": "com.amazonaws.wickr#BotId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#DeleteBotResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating the result of the bot deletion operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#DeleteDataRetentionBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#DeleteDataRetentionBotRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#DeleteDataRetentionBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the data retention bot from a Wickr network. This operation permanently removes the bot and all its associated data from the database.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete data retention bot successfully",
            "input": {
              "networkId": "12345678"
            },
            "output": {
              "message": "deleted data retention bot and all associated data from the database"
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/data-retention-bots",
          "method": "DELETE",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["bots", "data-retention"]
      }
    },
    "com.amazonaws.wickr#DeleteDataRetentionBotRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network from which the data retention bot will be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#DeleteDataRetentionBotResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating that the data retention bot and all associated data were successfully deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#DeleteNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#DeleteNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#DeleteNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Wickr network and all its associated resources, including users, bots, security groups, and settings. This operation is permanent and cannot be undone.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete network successfully",
            "input": {
              "networkId": "12345678"
            },
            "output": {
              "message": "Network deletion initiated successfully"
            }
          },
          {
            "title": "Delete network - not found",
            "input": {
              "networkId": "99999999"
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#ResourceNotFoundError",
              "content": {
                "message": "Network not found"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}",
          "method": "DELETE",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["network", "mysql", "management"]
      }
    },
    "com.amazonaws.wickr#DeleteNetworkRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.wickr#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this request to ensure idempotency. If you retry a request with the same client token, the service will return the same response without attempting to delete the network again.</p>",
            "smithy.api#httpHeader": "X-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#DeleteNetworkResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating that the network deletion has been initiated successfully.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#DeleteSecurityGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#DeleteSecurityGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#DeleteSecurityGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a security group from a Wickr network. This operation cannot be performed on the default security group.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete security group successfully",
            "input": {
              "networkId": "12345678",
              "groupId": "def67890"
            },
            "output": {
              "message": "success",
              "networkId": "12345678",
              "groupId": "def67890"
            }
          },
          {
            "title": "Delete security group - not found",
            "input": {
              "networkId": "12345678",
              "groupId": "invalid99"
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#ResourceNotFoundError",
              "content": {
                "message": "Security group not found"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/security-groups/{groupId}",
          "method": "DELETE",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["security groups", "mysql"]
      }
    },
    "com.amazonaws.wickr#DeleteSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network from which the security group will be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "groupId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the security group to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#DeleteSecurityGroupResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating the result of the security group deletion operation.</p>"
          }
        },
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the network from which the security group was deleted.</p>"
          }
        },
        "groupId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the security group that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#Devices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#BasicDeviceObject"
      }
    },
    "com.amazonaws.wickr#ErrorDetail": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field that contains an error or warning.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of the error or warning.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed error information explaining why an operation failed, including which field caused the error and the reason for the failure.</p>"
      }
    },
    "com.amazonaws.wickr#ErrorDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.wickr#ErrorDetail"
      }
    },
    "com.amazonaws.wickr#ForbiddenError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A message explaining why access was denied and what permissions are required.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to the requested resource is forbidden. This error occurs when the authenticated user does not have the necessary permissions to perform the requested operation, even though they are authenticated.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.wickr#GenericString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\S\\s]*$"
      }
    },
    "com.amazonaws.wickr#GetBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#GetBotRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#GetBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific bot in a Wickr network, including its status, group membership, and authentication details.</p>",
        "smithy.api#examples": [
          {
            "title": "Get bot successfully",
            "input": {
              "networkId": "12345678",
              "botId": "98765"
            },
            "output": {
              "botId": "98765",
              "displayName": "Support Bot",
              "username": "support_bot",
              "uname": "abc123def456",
              "pubkey": "LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUF4",
              "status": 2,
              "groupId": "default_group",
              "hasChallenge": true,
              "suspended": false,
              "lastLogin": "1704067200"
            }
          },
          {
            "title": "Get bot - bot not found",
            "input": {
              "networkId": "12345678",
              "botId": "99999"
            },
            "error": {
              "shapeId": "com.amazonaws.wickr#ResourceNotFoundError",
              "content": {
                "message": "Bot not found"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/bots/{botId}",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": ["bots", "mysql"],
        "smithy.test#smokeTests": [
          {
            "id": "GetBotUnauthorized",
            "params": {
              "networkId": "00000000",
              "botId": "00000000"
            },
            "expect": {
              "failure": {}
            },
            "vendorParams": {
              "region": "us-east-1"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams"
          }
        ]
      }
    },
    "com.amazonaws.wickr#GetBotRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network containing the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botId": {
          "target": "com.amazonaws.wickr#BotId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#GetBotResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot.</p>"
          }
        },
        "displayName": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the bot that is visible to users.</p>"
          }
        },
        "username": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The username of the bot.</p>"
          }
        },
        "uname": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique username hash identifier for the bot.</p>"
          }
        },
        "pubkey": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The public key of the bot used for encryption.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.wickr#BotStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the bot (1 for pending, 2 for active).</p>"
          }
        },
        "groupId": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the security group to which the bot belongs.</p>"
          }
        },
        "hasChallenge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the bot has a password set.</p>"
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the bot is currently suspended.</p>"
          }
        },
        "lastLogin": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the bot's last login.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#GetBotsCount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#GetBotsCountRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#GetBotsCountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the count of bots in a Wickr network, categorized by their status (pending, active, and total).</p>",
        "smithy.api#examples": [
          {
            "title": "Get bots count successfully",
            "input": {
              "networkId": "12345678"
            },
            "output": {
              "total": 15,
              "active": 12,
              "pending": 2
            }
          },
          {
            "title": "Get bots count with filters",
            "input": {
              "networkId": "12345678"
            },
            "output": {
              "total": 12,
              "active": 12,
              "pending": 0
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/bots/count",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": ["bots", "mysql"]
      }
    },
    "com.amazonaws.wickr#GetBotsCountRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network for which to retrieve bot counts.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#GetBotsCountResponse": {
      "type": "structure",
      "members": {
        "pending": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of bots with pending status (invited but not yet activated).</p>",
            "smithy.api#required": {}
          }
        },
        "active": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of bots with active status.</p>",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of bots in the network (active and pending).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.wickr#GetDataRetentionBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.wickr#GetDataRetentionBotRequest"
      },
      "output": {
        "target": "com.amazonaws.wickr#GetDataRetentionBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.wickr#BadRequestError"
        },
        {
          "target": "com.amazonaws.wickr#ForbiddenError"
        },
        {
          "target": "com.amazonaws.wickr#InternalServerError"
        },
        {
          "target": "com.amazonaws.wickr#RateLimitError"
        },
        {
          "target": "com.amazonaws.wickr#ResourceNotFoundError"
        },
        {
          "target": "com.amazonaws.wickr#UnauthorizedError"
        },
        {
          "target": "com.amazonaws.wickr#ValidationError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the data retention bot in a Wickr network, including its status and whether the data retention service is enabled.</p>",
        "smithy.api#examples": [
          {
            "title": "Get data retention bot successfully",
            "input": {
              "networkId": "12345678"
            },
            "output": {
              "botName": "compliance_12345678_bot",
              "botExists": true,
              "isBotActive": true,
              "isDataRetentionBotRegistered": true,
              "isDataRetentionServiceEnabled": true,
              "isPubkeyMsgAcked": false
            }
          },
          {
            "title": "Get data retention bot - not provisioned",
            "input": {
              "networkId": "12345678"
            },
            "output": {
              "botName": "compliance_12345678_bot",
              "botExists": false,
              "isBotActive": false,
              "isDataRetentionBotRegistered": false,
              "isDataRetentionServiceEnabled": false,
              "isPubkeyMsgAcked": false
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/networks/{networkId}/data-retention-bots",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": ["bots", "data-retention"],
        "smithy.test#smokeTests": [
          {
            "id": "GetDataRetentionBotUnauthorized",
            "params": {
              "networkId": "00000000"
            },
            "expect": {
              "failure": {}
            },
            "vendorParams": {
              "region": "us-east-1"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams"
          }
        ]
      }
    },
    "com.amazonaws.wickr#GetDataRetentionBotRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "com.amazonaws.wickr#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Wickr network containing the data retention bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.wickr#GetDataRetentionBotResponse": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.wickr#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data retention bot.</p>"
          }
        },
        "botExists": {
          "target": "smithy.api#Boolean",
          "traits": {
[...]
