{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.workspaces#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$"
      }
    },
    "com.amazonaws.workspaces#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The user is not authorized to access a resource.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#AccessPropertyValue": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ALLOW": {
            "name": "ALLOW"
          },
          "DENY": {
            "name": "DENY"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AccountModification": {
      "type": "structure",
      "members": {
        "DedicatedTenancyManagementCidrRange": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange",
          "traits": {
            "smithy.api#documentation": "\n         <p>The IP address range, specified as an IPv4 CIDR block, for the management network\n         interface used for the account.</p>\n      "
          }
        },
        "DedicatedTenancySupport": {
          "target": "com.amazonaws.workspaces#DedicatedTenancySupportResultEnum",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of BYOL (whether BYOL is being enabled or disabled).</p>\n      "
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.workspaces#WorkspaceErrorCode",
          "traits": {
            "smithy.api#documentation": "\n         <p>The error code that is returned if the configuration of BYOL cannot be modified.</p>\n      "
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workspaces#Description",
          "traits": {
            "smithy.api#documentation": "\n         <p>The text of the error message that is returned if the configuration of BYOL cannot be\n         modified.</p>\n      "
          }
        },
        "ModificationState": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyModificationStateEnum",
          "traits": {
            "smithy.api#documentation": "\n         <p>The state of the modification to the configuration of BYOL.</p>\n      "
          }
        },
        "StartTime": {
          "target": "com.amazonaws.workspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The timestamp when the modification of the BYOL configuration was started.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a modification to the configuration of Bring Your Own License (BYOL) for the\n         specified account. </p>\n      "
      }
    },
    "com.amazonaws.workspaces#AccountModificationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#AccountModification"
      }
    },
    "com.amazonaws.workspaces#Alias": {
      "type": "string"
    },
    "com.amazonaws.workspaces#AssociateIpGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AssociateIpGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AssociateIpGroupsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates the specified IP access control group with the specified directory.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#AssociateIpGroupsRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the directory.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "GroupIds": {
          "target": "com.amazonaws.workspaces#IpGroupIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifiers of one or more IP access control groups.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#AssociateIpGroupsResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#AuthorizeIpRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AuthorizeIpRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AuthorizeIpRulesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Adds one or more rules to the specified IP access control group.</p>\n         <p>This action gives users permission to access their WorkSpaces from the CIDR address\n         ranges specified in the rules.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#AuthorizeIpRulesRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workspaces#IpGroupId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the group.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "UserRules": {
          "target": "com.amazonaws.workspaces#IpRuleList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The rules to add to the group.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#AuthorizeIpRulesResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#BooleanObject": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.workspaces#BundleId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^wsb-[0-9a-z]{8,63}$"
      }
    },
    "com.amazonaws.workspaces#BundleIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#BundleId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#BundleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#WorkspaceBundle"
      }
    },
    "com.amazonaws.workspaces#BundleOwner": {
      "type": "string"
    },
    "com.amazonaws.workspaces#ClientProperties": {
      "type": "structure",
      "members": {
        "ReconnectEnabled": {
          "target": "com.amazonaws.workspaces#ReconnectEnum",
          "traits": {
            "smithy.api#documentation": "\n         <p>Specifies whether users can cache their credentials on the Amazon WorkSpaces client.\n         When enabled, users can choose to reconnect to their WorkSpaces without re-entering their\n         credentials. </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes an Amazon WorkSpaces client.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ClientPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ClientPropertiesResult"
      }
    },
    "com.amazonaws.workspaces#ClientPropertiesResult": {
      "type": "structure",
      "members": {
        "ClientProperties": {
          "target": "com.amazonaws.workspaces#ClientProperties",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the Amazon WorkSpaces client.</p>\n      "
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The resource identifier, in the form of a directory ID.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Information about the Amazon WorkSpaces client.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#Compute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "VALUE": {
            "name": "VALUE"
          },
          "STANDARD": {
            "name": "STANDARD"
          },
          "PERFORMANCE": {
            "name": "PERFORMANCE"
          },
          "POWER": {
            "name": "POWER"
          },
          "GRAPHICS": {
            "name": "GRAPHICS"
          },
          "POWERPRO": {
            "name": "POWERPRO"
          },
          "GRAPHICSPRO": {
            "name": "GRAPHICSPRO"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ComputeType": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workspaces#Compute",
          "traits": {
            "smithy.api#documentation": "\n         <p>The compute type.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes the compute type.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ComputerName": {
      "type": "string"
    },
    "com.amazonaws.workspaces#ConnectionState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CONNECTED": {
            "name": "CONNECTED"
          },
          "DISCONNECTED": {
            "name": "DISCONNECTED"
          },
          "UNKNOWN": {
            "name": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CopyWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CopyWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CopyWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Copies the specified image from the specified Region to the current Region.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#CopyWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>A description of the image.</p>\n      "
          }
        },
        "Name": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the image.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "SourceImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the source image.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.workspaces#Region",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the source Region.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags for the image.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#CopyWorkspaceImageResult": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the image.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateIpGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateIpGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateIpGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceCreationFailedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates an IP access control group.</p>\n         <p>An IP access control group provides you with the ability to control the IP addresses\n         from which users are allowed to access their WorkSpaces. To specify the CIDR address\n         ranges, add rules to your IP access control group and then associate the group with your\n         directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p>\n\n         <p>There is a default IP access control group associated with your directory. If you don't\n         associate an IP access control group with your directory, the default group is used. The\n         default group includes a default rule that allows users to access their WorkSpaces from\n         anywhere. You cannot modify the default IP access control group for your directory.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#CreateIpGroupRequest": {
      "type": "structure",
      "members": {
        "GroupDesc": {
          "target": "com.amazonaws.workspaces#IpGroupDesc",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the group.</p>\n      "
          }
        },
        "GroupName": {
          "target": "com.amazonaws.workspaces#IpGroupName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the group.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>\n      "
          }
        },
        "UserRules": {
          "target": "com.amazonaws.workspaces#IpRuleList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The rules to add to the group.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateIpGroupResult": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workspaces#IpGroupId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the group.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateTagsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates the specified tags for the specified WorkSpaces resource.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#CreateTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces,\n         registered directories, images, custom bundles, and IP access control groups.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateTagsResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#CreateWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateWorkspacesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates one or more WorkSpaces.</p>\n         <p>This operation is asynchronous and returns before the WorkSpaces are created.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#CreateWorkspacesRequest": {
      "type": "structure",
      "members": {
        "Workspaces": {
          "target": "com.amazonaws.workspaces#WorkspaceRequestList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The WorkSpaces to create. You can specify up to 25 WorkSpaces.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateWorkspacesResult": {
      "type": "structure",
      "members": {
        "FailedRequests": {
          "target": "com.amazonaws.workspaces#FailedCreateWorkspaceRequests",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the WorkSpaces that could not be created.</p>\n      "
          }
        },
        "PendingRequests": {
          "target": "com.amazonaws.workspaces#WorkspaceList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the WorkSpaces that were created.</p>\n         <p>Because this operation is asynchronous, the identifier returned is not immediately\n         available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned\n         can be incomplete.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancyCidrRangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange"
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.0\\.0)(\\/(16$))$"
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancyModificationStateEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PENDING": {
            "name": "PENDING"
          },
          "COMPLETED": {
            "name": "COMPLETED"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancySupportEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancySupportResultEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DefaultOu": {
      "type": "string"
    },
    "com.amazonaws.workspaces#DefaultWorkspaceCreationProperties": {
      "type": "structure",
      "members": {
        "CustomSecurityGroupId": {
          "target": "com.amazonaws.workspaces#SecurityGroupId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of any security groups to apply to WorkSpaces when they are\n         created.</p>\n      "
          }
        },
        "DefaultOu": {
          "target": "com.amazonaws.workspaces#DefaultOu",
          "traits": {
            "smithy.api#documentation": "\n         <p>The organizational unit (OU) in the directory for the WorkSpace machine accounts.</p>\n      "
          }
        },
        "EnableInternetAccess": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "\n         <p>Specifies whether to automatically assign an Elastic public IP address to WorkSpaces in this directory by default. \n         If enabled, the Elastic public IP address allows outbound internet access from your WorkSpaces when you’re using an \n         internet gateway in the Amazon VPC in which your WorkSpaces are located. If you're using a Network Address \n         Translation (NAT) gateway for outbound internet access from your VPC, or if your WorkSpaces are in public \n         subnets and you manually assign them Elastic IP addresses, you should disable this setting. This setting \n         applies to new WorkSpaces that you launch or to existing WorkSpaces that you rebuild. For more information, \n         see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/amazon-workspaces-vpc.html\">\n            Configure a VPC for Amazon WorkSpaces</a>.</p>\n      "
          }
        },
        "EnableMaintenanceMode": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "\n         <p>Specifies whether maintenance mode is enabled for WorkSpaces. For more information, see\n            <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/workspace-maintenance.html\">WorkSpace\n            Maintenance</a>.</p>\n      "
          }
        },
        "EnableWorkDocs": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "\n         <p>Specifies whether the directory is enabled for Amazon WorkDocs.</p>\n      "
          }
        },
        "UserEnabledAsLocalAdministrator": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "\n         <p>Specifies whether WorkSpace users are local administrators on their WorkSpaces.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes the default values that are used to create WorkSpaces. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-directory-details.html\">Update Directory Details for Your WorkSpaces</a>.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DeleteIpGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteIpGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteIpGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAssociatedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes the specified IP access control group.</p>\n         <p>You cannot delete an IP access control group that is associated with a directory.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DeleteIpGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workspaces#IpGroupId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the IP access control group.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteIpGroupResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#DeleteTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteTagsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes the specified tags from the specified WorkSpaces resource.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DeleteTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces,\n         registered directories, images, custom bundles, and IP access control groups.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.workspaces#TagKeyList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tag keys.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteTagsResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#DeleteWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAssociatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes the specified image from your account. To delete an image, you must first delete\n         any bundles that are associated with the image and un-share the image if it is shared with\n         other accounts. </p>\n      "
      }
    },
    "com.amazonaws.workspaces#DeleteWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the image.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteWorkspaceImageResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#DeregisterWorkspaceDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeregisterWorkspaceDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeregisterWorkspaceDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deregisters the specified directory. This operation is asynchronous \n         and returns before the WorkSpace directory is deregistered. If any WorkSpaces are\n      registered to this directory, you must remove them before you can deregister the directory.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DeregisterWorkspaceDirectoryRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the directory. If any WorkSpaces are registered to this directory, you must \n         remove them before you deregister the directory, or you will receive an OperationNotSupportedException \n         error.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeregisterWorkspaceDirectoryResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#DescribeAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeAccountResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Retrieves a list that describes the configuration of Bring Your Own License (BYOL) for\n         the specified account.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DescribeAccountModifications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeAccountModificationsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeAccountModificationsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Retrieves a list that describes modifications to the configuration of Bring Your Own\n         License (BYOL) for the specified account.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DescribeAccountModificationsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you received a <code>NextToken</code> from a previous call that was paginated,\n         provide this token to receive the next set of results.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeAccountModificationsResult": {
      "type": "structure",
      "members": {
        "AccountModifications": {
          "target": "com.amazonaws.workspaces#AccountModificationList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of modifications to the configuration of BYOL.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next set of results, or null if no more results are\n         available.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeAccountRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#DescribeAccountResult": {
      "type": "structure",
      "members": {
        "DedicatedTenancyManagementCidrRange": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange",
          "traits": {
            "smithy.api#documentation": "\n         <p>The IP address range, specified as an IPv4 CIDR block, used for the management network\n         interface.</p>\n         <p>The management network interface is connected to a secure Amazon WorkSpaces management\n         network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces\n         clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>\n      "
          }
        },
        "DedicatedTenancySupport": {
          "target": "com.amazonaws.workspaces#DedicatedTenancySupportResultEnum",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of BYOL (whether BYOL is enabled or disabled).</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeClientProperties": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeClientPropertiesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeClientPropertiesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Retrieves a list that describes one or more specified Amazon WorkSpaces clients.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DescribeClientPropertiesRequest": {
      "type": "structure",
      "members": {
        "ResourceIds": {
          "target": "com.amazonaws.workspaces#ResourceIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The resource identifier, in the form of directory IDs.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeClientPropertiesResult": {
      "type": "structure",
      "members": {
        "ClientPropertiesList": {
          "target": "com.amazonaws.workspaces#ClientPropertiesList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the specified Amazon WorkSpaces clients.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeIpGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeIpGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeIpGroupsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes one or more of your IP access control groups.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DescribeIpGroupsRequest": {
      "type": "structure",
      "members": {
        "GroupIds": {
          "target": "com.amazonaws.workspaces#IpGroupIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifiers of one or more IP access control groups.</p>\n      "
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workspaces#Limit",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of items to return.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you received a <code>NextToken</code> from a previous call that was paginated,\n         provide this token to receive the next set of results.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeIpGroupsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next set of results, or null if no more results are\n         available.</p>\n      "
          }
        },
        "Result": {
          "target": "com.amazonaws.workspaces#WorkspacesIpGroupsList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the IP access control groups.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeTagsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes the specified tags for the specified WorkSpaces resource.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DescribeTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces,\n         registered directories, images, custom bundles, and IP access control groups.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeTagsResult": {
      "type": "structure",
      "members": {
        "TagList": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceBundles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeWorkspaceBundlesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeWorkspaceBundlesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Retrieves a list that describes the available WorkSpace bundles.</p>\n         <p>You can filter the results using either bundle ID or owner, but not both.</p> \n      ",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Bundles"
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceBundlesRequest": {
      "type": "structure",
      "members": {
        "BundleIds": {
          "target": "com.amazonaws.workspaces#BundleIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifiers of the bundles. You cannot combine this parameter with any other filter.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token for the next set of results. (You received this token from a previous call.)</p>\n      "
          }
        },
        "Owner": {
          "target": "com.amazonaws.workspaces#BundleOwner",
          "traits": {
            "smithy.api#documentation": "\n         <p>The owner of the bundles. You cannot combine this parameter with any other filter.</p>\n         <p>Specify <code>AMAZON</code> to describe the bundles provided by AWS or null \n         to describe the bundles that belong to your account.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceBundlesResult": {
      "type": "structure",
      "members": {
        "Bundles": {
          "target": "com.amazonaws.workspaces#BundleList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the bundles.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next set of results, or null if there are no more results available. \n         This token is valid for one day and must be used within that time frame.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceDirectories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeWorkspaceDirectoriesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeWorkspaceDirectoriesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes the available directories that are registered with\n         Amazon WorkSpaces.</p>\n      ",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Directories"
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceDirectoriesRequest": {
      "type": "structure",
      "members": {
        "DirectoryIds": {
          "target": "com.amazonaws.workspaces#DirectoryIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifiers of the directories. If the value is null, all directories are\n         retrieved.</p>\n      "
          }
        },
        "Limit": {
          "target": "com.amazonaws.workspaces#Limit",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of directories to return.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you received a <code>NextToken</code> from a previous call that was paginated,\n         provide this token to receive the next set of results.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceDirectoriesResult": {
      "type": "structure",
      "members": {
        "Directories": {
          "target": "com.amazonaws.workspaces#DirectoryList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the directories.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next set of results, or null if no more results are\n         available.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceImages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeWorkspaceImagesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeWorkspaceImagesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Retrieves a list that describes one or more specified images, if the image identifiers\n         are provided. Otherwise, all images in the account are described. </p>\n      "
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceImagesRequest": {
      "type": "structure",
      "members": {
        "ImageIds": {
          "target": "com.amazonaws.workspaces#WorkspaceImageIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the image.</p>\n      "
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workspaces#Limit",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of items to return.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you received a <code>NextToken</code> from a previous call that was paginated,\n         provide this token to receive the next set of results.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceImagesResult": {
      "type": "structure",
      "members": {
        "Images": {
          "target": "com.amazonaws.workspaces#WorkspaceImageList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the images.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next set of results, or null if no more results are\n         available.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeWorkspaceSnapshotsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeWorkspaceSnapshotsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes the snapshots for the specified WorkSpace.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceSnapshotsRequest": {
      "type": "structure",
      "members": {
        "WorkspaceId": {
          "target": "com.amazonaws.workspaces#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpace.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaceSnapshotsResult": {
      "type": "structure",
      "members": {
        "RebuildSnapshots": {
          "target": "com.amazonaws.workspaces#SnapshotList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the snapshots that can be used to rebuild a WorkSpace. These snapshots include\n         the user volume.</p>\n      "
          }
        },
        "RestoreSnapshots": {
          "target": "com.amazonaws.workspaces#SnapshotList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the snapshots that can be used to restore a WorkSpace. These snapshots\n         include both the root volume and the user volume.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeWorkspacesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes the specified WorkSpaces.</p>\n         <p>You can filter the results by using the bundle identifier, directory identifier, or\n         owner, but you can specify only one filter at a time.</p>\n      ",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Workspaces",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspacesConnectionStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeWorkspacesConnectionStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeWorkspacesConnectionStatusResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes the connection status of the specified WorkSpaces.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspacesConnectionStatusRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you received a <code>NextToken</code> from a previous call that was paginated,\n         provide this token to receive the next set of results.</p>\n      "
          }
        },
        "WorkspaceIds": {
          "target": "com.amazonaws.workspaces#WorkspaceIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifiers of the WorkSpaces. You can specify up to 25 WorkSpaces.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspacesConnectionStatusResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next set of results, or null if no more results are\n         available.</p>\n      "
          }
        },
        "WorkspacesConnectionStatus": {
          "target": "com.amazonaws.workspaces#WorkspaceConnectionStatusList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the connection status of the WorkSpace.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspacesRequest": {
      "type": "structure",
      "members": {
        "BundleId": {
          "target": "com.amazonaws.workspaces#BundleId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the bundle. All WorkSpaces that are created from this bundle are\n         retrieved. You cannot combine this parameter with any other filter.</p>\n      "
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the directory. In addition, you can optionally specify a specific\n         directory user (see <code>UserName</code>). You cannot combine this parameter with any\n         other filter.</p>\n      "
          }
        },
        "Limit": {
          "target": "com.amazonaws.workspaces#Limit",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of items to return.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you received a <code>NextToken</code> from a previous call that was paginated,\n         provide this token to receive the next set of results.</p>\n      "
          }
        },
        "UserName": {
          "target": "com.amazonaws.workspaces#UserName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the directory user. You must specify this parameter with\n            <code>DirectoryId</code>.</p>\n      "
          }
        },
        "WorkspaceIds": {
          "target": "com.amazonaws.workspaces#WorkspaceIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifiers of the WorkSpaces. You cannot combine this parameter with any other\n         filter.</p>\n         <p>Because the <a>CreateWorkspaces</a> operation is asynchronous, the identifier\n         it returns is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information is returned.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeWorkspacesResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next set of results, or null if no more results are\n         available.</p>\n      "
          }
        },
        "Workspaces": {
          "target": "com.amazonaws.workspaces#WorkspaceList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the WorkSpaces.</p>\n         <p>Because <a>CreateWorkspaces</a> is an asynchronous operation, some of the\n         returned information could be incomplete.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#Description": {
      "type": "string"
    },
    "com.amazonaws.workspaces#DirectoryId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 65
        },
        "smithy.api#pattern": "^d-[0-9a-f]{8,63}$"
      }
    },
    "com.amazonaws.workspaces#DirectoryIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#DirectoryId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#DirectoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#WorkspaceDirectory"
      }
    },
    "com.amazonaws.workspaces#DirectoryName": {
      "type": "string"
    },
    "com.amazonaws.workspaces#DisassociateIpGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DisassociateIpGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DisassociateIpGroupsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Disassociates the specified IP access control group from the specified directory.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#DisassociateIpGroupsRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the directory.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "GroupIds": {
          "target": "com.amazonaws.workspaces#IpGroupIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifiers of one or more IP access control groups.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#DisassociateIpGroupsResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#DnsIpAddresses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#IpAddress"
      }
    },
    "com.amazonaws.workspaces#Ec2ImageId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ami\\-([a-f0-9]{8}|[a-f0-9]{17})$"
      }
    },
    "com.amazonaws.workspaces#ErrorType": {
      "type": "string"
    },
    "com.amazonaws.workspaces#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.workspaces#FailedCreateWorkspaceRequest": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.workspaces#ErrorType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The error code that is returned if the WorkSpace cannot be created.</p>\n      "
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workspaces#Description",
          "traits": {
            "smithy.api#documentation": "\n         <p>The text of the error message that is returned if the WorkSpace cannot be\n         created.</p>\n      "
          }
        },
        "WorkspaceRequest": {
          "target": "com.amazonaws.workspaces#WorkspaceRequest",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the WorkSpace.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a WorkSpace that cannot be created.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#FailedCreateWorkspaceRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#FailedCreateWorkspaceRequest"
      }
    },
    "com.amazonaws.workspaces#FailedRebootWorkspaceRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#FailedWorkspaceChangeRequest"
      }
    },
    "com.amazonaws.workspaces#FailedRebuildWorkspaceRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#FailedWorkspaceChangeRequest"
      }
    },
    "com.amazonaws.workspaces#FailedStartWorkspaceRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#FailedWorkspaceChangeRequest"
      }
    },
    "com.amazonaws.workspaces#FailedStopWorkspaceRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#FailedWorkspaceChangeRequest"
      }
    },
    "com.amazonaws.workspaces#FailedTerminateWorkspaceRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#FailedWorkspaceChangeRequest"
      }
    },
    "com.amazonaws.workspaces#FailedWorkspaceChangeRequest": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.workspaces#ErrorType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The error code that is returned if the WorkSpace cannot be rebooted.</p>\n      "
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workspaces#Description",
          "traits": {
            "smithy.api#documentation": "\n         <p>The text of the error message that is returned if the WorkSpace cannot be\n         rebooted.</p>\n      "
          }
        },
        "WorkspaceId": {
          "target": "com.amazonaws.workspaces#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpace.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a WorkSpace that could not be rebooted.\n         (<a>RebootWorkspaces</a>), rebuilt (<a>RebuildWorkspaces</a>), restored (<a>RestoreWorkspace</a>), terminated\n         (<a>TerminateWorkspaces</a>), started (<a>StartWorkspaces</a>), or stopped (<a>StopWorkspaces</a>).</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ImportWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#ImportWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#ImportWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Imports the specified Windows 7 or Windows 10 Bring Your Own License (BYOL) image into\n         Amazon WorkSpaces. The image must be an already licensed EC2 image that is in your AWS\n         account, and you must own the image. </p>\n      "
      }
    },
    "com.amazonaws.workspaces#ImportWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "Ec2ImageId": {
          "target": "com.amazonaws.workspaces#Ec2ImageId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the EC2 image.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ImageDescription": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the WorkSpace image.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ImageName": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the WorkSpace image.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "IngestionProcess": {
          "target": "com.amazonaws.workspaces#WorkspaceImageIngestionProcess",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ingestion process to be used when importing the image.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#ImportWorkspaceImageResult": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpace image.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#InvalidParameterValuesException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "\n         <p>The exception error message.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>One or more parameter values are not valid.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#InvalidResourceStateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The state of the resource is not valid for this operation.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#IpAddress": {
      "type": "string"
    },
    "com.amazonaws.workspaces#IpGroupDesc": {
      "type": "string"
    },
    "com.amazonaws.workspaces#IpGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "wsipg-[0-9a-z]{8,63}$"
      }
    },
    "com.amazonaws.workspaces#IpGroupIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#IpGroupId"
      }
    },
    "com.amazonaws.workspaces#IpGroupName": {
      "type": "string"
    },
    "com.amazonaws.workspaces#IpRevokedRuleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#IpRule"
      }
    },
    "com.amazonaws.workspaces#IpRule": {
      "type": "string"
    },
    "com.amazonaws.workspaces#IpRuleDesc": {
      "type": "string"
    },
    "com.amazonaws.workspaces#IpRuleItem": {
      "type": "structure",
      "members": {
        "ipRule": {
          "target": "com.amazonaws.workspaces#IpRule",
          "traits": {
            "smithy.api#documentation": "\n         <p>The IP address range, in CIDR notation.</p>\n      "
          }
        },
        "ruleDesc": {
          "target": "com.amazonaws.workspaces#IpRuleDesc",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a rule for an IP access control group.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#IpRuleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#IpRuleItem"
      }
    },
    "com.amazonaws.workspaces#Limit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#ListAvailableManagementCidrRanges": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#ListAvailableManagementCidrRangesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#ListAvailableManagementCidrRangesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Retrieves a list of IP address ranges, specified as IPv4 CIDR blocks, that you can use\n         for the network management interface when you enable Bring Your Own License (BYOL). </p>\n         <p>The management network interface is connected to a secure Amazon WorkSpaces management\n         network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces\n         clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ListAvailableManagementCidrRangesRequest": {
      "type": "structure",
      "members": {
        "ManagementCidrRangeConstraint": {
          "target": "com.amazonaws.workspaces#ManagementCidrRangeConstraint",
          "traits": {
            "smithy.api#documentation": "\n         <p>The IP address range to search. Specify an IP address range that is compatible with your\n         network and in CIDR notation (that is, specify the range as an IPv4 CIDR block).</p>\n      ",
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workspaces#ManagementCidrRangeMaxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of items to return.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you received a <code>NextToken</code> from a previous call that was paginated,\n         provide this token to receive the next set of results.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#ListAvailableManagementCidrRangesResult": {
      "type": "structure",
      "members": {
        "ManagementCidrRanges": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyCidrRangeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of available IP address ranges, specified as IPv4 CIDR blocks.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next set of results, or null if no more results are\n         available.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#ManagementCidrRangeConstraint": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/(3[0-2]|[1-2][0-9]|[0-9]))$"
      }
    },
    "com.amazonaws.workspaces#ManagementCidrRangeMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.workspaces#ModificationResourceEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ROOT_VOLUME": {
            "name": "ROOT_VOLUME"
          },
          "USER_VOLUME": {
            "name": "USER_VOLUME"
          },
          "COMPUTE_TYPE": {
            "name": "COMPUTE_TYPE"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ModificationState": {
      "type": "structure",
      "members": {
        "Resource": {
          "target": "com.amazonaws.workspaces#ModificationResourceEnum",
          "traits": {
            "smithy.api#documentation": "\n         <p>The resource.</p>\n      "
          }
        },
        "State": {
          "target": "com.amazonaws.workspaces#ModificationStateEnum",
          "traits": {
            "smithy.api#documentation": "\n         <p>The modification state.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a WorkSpace modification.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ModificationStateEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "UPDATE_INITIATED": {
            "name": "UPDATE_INITIATED"
          },
          "UPDATE_IN_PROGRESS": {
            "name": "UPDATE_IN_PROGRESS"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ModificationStateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ModificationState"
      }
    },
    "com.amazonaws.workspaces#ModifyAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#ModifyAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#ModifyAccountResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Modifies the configuration of Bring Your Own License (BYOL) for the specified\n         account.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ModifyAccountRequest": {
      "type": "structure",
      "members": {
        "DedicatedTenancyManagementCidrRange": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange",
          "traits": {
            "smithy.api#documentation": "\n         <p>The IP address range, specified as an IPv4 CIDR block, for the management network\n         interface. Specify an IP address range that is compatible with your network and in CIDR\n         notation (that is, specify the range as an IPv4 CIDR block). The CIDR block size must be\n         /16 (for example, 203.0.113.25/16). It must also be specified as available by the\n            <code>ListAvailableManagementCidrRanges</code> operation.</p>\n      "
          }
        },
        "DedicatedTenancySupport": {
          "target": "com.amazonaws.workspaces#DedicatedTenancySupportEnum",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of BYOL.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#ModifyAccountResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#ModifyClientProperties": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#ModifyClientPropertiesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#ModifyClientPropertiesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Modifies the properties of the specified Amazon WorkSpaces clients.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ModifyClientPropertiesRequest": {
      "type": "structure",
      "members": {
        "ClientProperties": {
          "target": "com.amazonaws.workspaces#ClientProperties",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the Amazon WorkSpaces client.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "\n         <p>The resource identifiers, in the form of directory IDs.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#ModifyClientPropertiesResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#ModifySelfservicePermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#ModifySelfservicePermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#ModifySelfservicePermissionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Modifies the self-service WorkSpace management capabilities for your users. For more\n         information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/enable-user-self-service-workspace-management.html\">Enable Self-Service WorkSpace Management Capabilities for Your Users</a>.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ModifySelfservicePermissionsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the directory.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "SelfservicePermissions": {
          "target": "com.amazonaws.workspaces#SelfservicePermissions",
          "traits": {
            "smithy.api#documentation": "\n         <p>The permissions to enable or disable self-service capabilities.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#ModifySelfservicePermissionsResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceAccessProperties": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#ModifyWorkspaceAccessPropertiesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#ModifyWorkspaceAccessPropertiesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Specifies which devices and operating systems users can use to access their Workspaces.\n         For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-directory-details.html#control-device-access\">\n            Control Device Access</a>.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceAccessPropertiesRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the directory.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "WorkspaceAccessProperties": {
          "target": "com.amazonaws.workspaces#WorkspaceAccessProperties",
          "traits": {
            "smithy.api#documentation": "\n         <p>The device types and operating systems to enable or disable for access.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceAccessPropertiesResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceCreationProperties": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#ModifyWorkspaceCreationPropertiesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#ModifyWorkspaceCreationPropertiesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Modify the default properties used to create WorkSpaces.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceCreationPropertiesRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the directory.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "WorkspaceCreationProperties": {
          "target": "com.amazonaws.workspaces#WorkspaceCreationProperties",
          "traits": {
            "smithy.api#documentation": "\n         <p>The default properties for creating WorkSpaces.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceCreationPropertiesResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceProperties": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#ModifyWorkspacePropertiesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#ModifyWorkspacePropertiesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationInProgressException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.workspaces#UnsupportedWorkspaceConfigurationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Modifies the specified WorkSpace properties.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ModifyWorkspacePropertiesRequest": {
      "type": "structure",
      "members": {
        "WorkspaceId": {
          "target": "com.amazonaws.workspaces#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpace.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "WorkspaceProperties": {
          "target": "com.amazonaws.workspaces#WorkspaceProperties",
          "traits": {
            "smithy.api#documentation": "\n         <p>The properties of the WorkSpace.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#ModifyWorkspacePropertiesResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceState": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#ModifyWorkspaceStateRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#ModifyWorkspaceStateResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Sets the state of the specified WorkSpace.</p>\n         <p>To maintain a WorkSpace without being interrupted, set the WorkSpace state to\n            <code>ADMIN_MAINTENANCE</code>. WorkSpaces in this state do not respond to requests to\n         reboot, stop, start, rebuild, or restore. An AutoStop WorkSpace in this state is not\n         stopped. Users cannot log into a WorkSpace in the <code>ADMIN_MAINTENANCE</code>\n         state.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceStateRequest": {
      "type": "structure",
      "members": {
        "WorkspaceId": {
          "target": "com.amazonaws.workspaces#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpace.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "WorkspaceState": {
          "target": "com.amazonaws.workspaces#TargetWorkspaceState",
          "traits": {
            "smithy.api#documentation": "\n         <p>The WorkSpace state.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#ModifyWorkspaceStateResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#NonEmptyString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.workspaces#OperatingSystem": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.workspaces#OperatingSystemType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The operating system.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The operating system that the image is running.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#OperatingSystemType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "WINDOWS": {
            "name": "WINDOWS"
          },
          "LINUX": {
            "name": "LINUX"
          }
        }
      }
    },
    "com.amazonaws.workspaces#OperationInProgressException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The properties of this WorkSpace are currently being modified. Try again in a moment.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#OperationNotSupportedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>This operation is not supported.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        }
      }
    },
    "com.amazonaws.workspaces#RebootRequest": {
      "type": "structure",
      "members": {
        "WorkspaceId": {
          "target": "com.amazonaws.workspaces#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpace.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes the information used to reboot a WorkSpace.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#RebootWorkspaceRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#RebootRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#RebootWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#RebootWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#RebootWorkspacesResult"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Reboots the specified WorkSpaces.</p>\n         <p>You cannot reboot a WorkSpace unless its state is <code>AVAILABLE</code> or\n            <code>UNHEALTHY</code>.</p>\n         <p>This operation is asynchronous and returns before the WorkSpaces have rebooted.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#RebootWorkspacesRequest": {
      "type": "structure",
      "members": {
        "RebootWorkspaceRequests": {
          "target": "com.amazonaws.workspaces#RebootWorkspaceRequests",
          "traits": {
            "smithy.api#documentation": "\n         <p>The WorkSpaces to reboot. You can specify up to 25 WorkSpaces.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#RebootWorkspacesResult": {
      "type": "structure",
      "members": {
        "FailedRequests": {
          "target": "com.amazonaws.workspaces#FailedRebootWorkspaceRequests",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the WorkSpaces that could not be rebooted.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#RebuildRequest": {
      "type": "structure",
      "members": {
        "WorkspaceId": {
          "target": "com.amazonaws.workspaces#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the WorkSpace.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes the information used to rebuild a WorkSpace.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#RebuildWorkspaceRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#RebuildRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.workspaces#RebuildWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#RebuildWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#RebuildWorkspacesResult"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Rebuilds the specified WorkSpace.</p>\n         <p>You cannot rebuild a WorkSpace unless its state is <code>AVAILABLE</code>,\n            <code>ERROR</code>, or <code>UNHEALTHY</code>.</p>\n         <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss\n         of data. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/reset-workspace.html\">Rebuild a\n         WorkSpace</a>.</p>\n         <p>This operation is asynchronous and returns before the WorkSpaces have been completely\n         rebuilt.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#RebuildWorkspacesRequest": {
      "type": "structure",
      "members": {
        "RebuildWorkspaceRequests": {
          "target": "com.amazonaws.workspaces#RebuildWorkspaceRequests",
          "traits": {
            "smithy.api#documentation": "\n         <p>The WorkSpace to rebuild. You can specify a single WorkSpace.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.workspaces#RebuildWorkspacesResult": {
      "type": "structure",
      "members": {
        "FailedRequests": {
          "target": "com.amazonaws.workspaces#FailedRebuildWorkspaceRequests",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the WorkSpace that could not be rebuilt.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#ReconnectEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#Region": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 31
        },
        "smithy.api#pattern": "^[-0-9a-z]{1,31}$"
      }
    },
    "com.amazonaws.workspaces#RegisterWorkspaceDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#RegisterWorkspaceDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#RegisterWorkspaceDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspaces#UnsupportedNetworkConfigurationException"
        },
        {
          "target": "com.amazonaws.workspaces#WorkspacesDefaultRoleNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Registers the specified directory. This operation is asynchronous \n         and returns before the WorkSpace directory is registered. If this is the first time you are \n         registering a directory, you will need to create the workspaces_DefaultRole role before you can \n         register a directory. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/workspaces-access-control.html#create-default-role\">\n            Creating the workspaces_DefaultRole Role</a>.</p>\n      "
      }
    },
    "com.amazonaws.workspaces#RegisterWorkspaceDirectoryRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the directory. You cannot register a directory if it does not have a status \n         of Active. If the directory does not have a status of Active, you will receive an \n         InvalidResourceStateException error. If you have already registered the maximum number of directories \n         that you can register with Amazon WorkSpaces, you will receive a ResourceLimitExceededException error. \n         Deregister directories that you are not using for WorkSpaces, and try again.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "EnableSelfService": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether self-service capabilities are enabled or disabled.</p>\n      "
          }
        },
        "EnableWorkDocs": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether Amazon WorkDocs is enabled or disabled. If you have enabled this parameter and \n         WorkDocs is not available in the Region, you will receive an OperationNotSupportedException error. Set \n         <code>EnableWorkDocs</code> to disabled, and try again.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.workspaces#SubnetIds",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifiers of the subnets for your virtual private cloud (VPC). Make sure that the subnets \n         are in supported Availability Zones. The subnets must also be in separate Availability Zones. If these \n         conditions are not met, you will receive an OperationNotSupportedException error.</p>\n      "
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags associated with the directory.</p>\n      "
          }
        },
        "Tenancy": {
          "target": "com.amazonaws.workspaces#Tenancy",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether your WorkSpace directory is dedicated or shared. To use Bring Your Own\n         License (BYOL) images, this value must be set to <code>DEDICATED</code> and your AWS account must be \n         enabled for BYOL. If your account has not been enabled for BYOL, you will receive an \n         InvalidParameterValuesException error. For more information about BYOL images, see\n            <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/byol-windows-images.html\">Bring Your Own Windows Desktop Images</a>.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.workspaces#RegisterWorkspaceDirectoryResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.workspaces#RegistrationCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.workspaces#ResourceAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The specified resource already exists.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#ResourceAssociatedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The resource is associated with a directory.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#ResourceCreationFailedException": {
      "type": "structure",
      "members": {
        "message": {
[...]
