{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.workmail#AccessControlRule": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workmail#AccessControlRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The rule name.</p>"
          }
        },
        "Effect": {
          "target": "com.amazonaws.workmail#AccessControlRuleEffect",
          "traits": {
            "smithy.api#documentation": "<p>The rule effect.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.workmail#AccessControlRuleDescription",
          "traits": {
            "smithy.api#documentation": "<p>The rule description.</p>"
          }
        },
        "IpRanges": {
          "target": "com.amazonaws.workmail#IpRangeList",
          "traits": {
            "smithy.api#documentation": "<p>IPv4 CIDR ranges to include in the rule.</p>"
          }
        },
        "NotIpRanges": {
          "target": "com.amazonaws.workmail#IpRangeList",
          "traits": {
            "smithy.api#documentation": "<p>IPv4 CIDR ranges to exclude from the rule.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.workmail#ActionsList",
          "traits": {
            "smithy.api#documentation": "<p>Access protocol actions to include in the rule. Valid values include\n            <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>,\n            <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>"
          }
        },
        "NotActions": {
          "target": "com.amazonaws.workmail#ActionsList",
          "traits": {
            "smithy.api#documentation": "<p>Access protocol actions to exclude from the rule. Valid values include\n            <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>,\n            <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>"
          }
        },
        "UserIds": {
          "target": "com.amazonaws.workmail#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>User IDs to include in the rule.</p>"
          }
        },
        "NotUserIds": {
          "target": "com.amazonaws.workmail#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>User IDs to exclude from the rule.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the rule was created.</p>"
          }
        },
        "DateModified": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the rule was modified.</p>"
          }
        },
        "ImpersonationRoleIds": {
          "target": "com.amazonaws.workmail#ImpersonationRoleIdList",
          "traits": {
            "smithy.api#documentation": "<p>Impersonation role IDs to include in the rule.</p>"
          }
        },
        "NotImpersonationRoleIds": {
          "target": "com.amazonaws.workmail#ImpersonationRoleIdList",
          "traits": {
            "smithy.api#documentation": "<p>Impersonation role IDs to exclude from the rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A rule that controls access to an WorkMail organization.</p>"
      }
    },
    "com.amazonaws.workmail#AccessControlRuleAction": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z]+$"
      }
    },
    "com.amazonaws.workmail#AccessControlRuleDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\u00FF]+$"
      }
    },
    "com.amazonaws.workmail#AccessControlRuleEffect": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.amazonaws.workmail#AccessControlRuleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.workmail#AccessControlRuleNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#AccessControlRuleName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#AccessControlRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#AccessControlRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#AccessEffect": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.amazonaws.workmail#ActionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#AccessControlRuleAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#Aliases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#EmailAddress"
      }
    },
    "com.amazonaws.workmail#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.workmail#AssociateDelegateToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#AssociateDelegateToResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#AssociateDelegateToResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a member (user or group) to the resource's set of delegates.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#AssociateDelegateToResourceRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the resource exists.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource for which members (users or groups) are associated.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The member (user or group) to associate to the resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#AssociateDelegateToResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#AssociateMemberToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#AssociateMemberToGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#AssociateMemberToGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a member (user or group) to the group's set.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#AssociateMemberToGroupRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The group to which the member (user or group) is associated.</p>",
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The member (user or group) to associate to the group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#AssociateMemberToGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#AssumeImpersonationRole": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#AssumeImpersonationRoleRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#AssumeImpersonationRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assumes an impersonation role for the given WorkMail organization. This method returns an\n         authentication token you can use to make impersonated calls.</p>"
      }
    },
    "com.amazonaws.workmail#AssumeImpersonationRoleRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail organization under which the impersonation role will be assumed.</p>",
            "smithy.api#required": {}
          }
        },
        "ImpersonationRoleId": {
          "target": "com.amazonaws.workmail#ImpersonationRoleId",
          "traits": {
            "smithy.api#documentation": "<p>The impersonation role ID to assume.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#AssumeImpersonationRoleResponse": {
      "type": "structure",
      "members": {
        "Token": {
          "target": "com.amazonaws.workmail#ImpersonationToken",
          "traits": {
            "smithy.api#documentation": "<p>The authentication token for the impersonation role.</p>"
          }
        },
        "ExpiresIn": {
          "target": "com.amazonaws.workmail#ExpiresIn",
          "traits": {
            "smithy.api#documentation": "<p>The authentication token's validity, in seconds.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#AvailabilityConfiguration": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.workmail#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>Displays the domain to which the provider applies.</p>"
          }
        },
        "ProviderType": {
          "target": "com.amazonaws.workmail#AvailabilityProviderType",
          "traits": {
            "smithy.api#documentation": "<p>Displays the provider type that applies to this domain.</p>"
          }
        },
        "EwsProvider": {
          "target": "com.amazonaws.workmail#RedactedEwsAvailabilityProvider",
          "traits": {
            "smithy.api#documentation": "<p>If <code>ProviderType</code> is <code>EWS</code>, then this field contains\n            <code>RedactedEwsAvailabilityProvider</code>. Otherwise, it is not required.</p>"
          }
        },
        "LambdaProvider": {
          "target": "com.amazonaws.workmail#LambdaAvailabilityProvider",
          "traits": {
            "smithy.api#documentation": "<p>If ProviderType is <code>LAMBDA</code> then this field contains\n            <code>LambdaAvailabilityProvider</code>. Otherwise, it is not required.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the availability configuration was created.</p>"
          }
        },
        "DateModified": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the availability configuration was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List all the <code>AvailabilityConfiguration</code>'s for the given WorkMail\n         organization.</p>"
      }
    },
    "com.amazonaws.workmail#AvailabilityConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#AvailabilityConfiguration"
      }
    },
    "com.amazonaws.workmail#AvailabilityProviderType": {
      "type": "enum",
      "members": {
        "EWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EWS"
          }
        },
        "LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAMBDA"
          }
        }
      }
    },
    "com.amazonaws.workmail#BookingOptions": {
      "type": "structure",
      "members": {
        "AutoAcceptRequests": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The resource's ability to automatically reply to requests. If disabled, delegates\n         must be associated to the resource.</p>"
          }
        },
        "AutoDeclineRecurringRequests": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The resource's ability to automatically decline any recurring requests.</p>"
          }
        },
        "AutoDeclineConflictingRequests": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The resource's ability to automatically decline any conflicting requests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>At least one delegate must be associated to the resource to disable automatic replies\n         from the resource.</p>"
      }
    },
    "com.amazonaws.workmail#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.workmail#BooleanObject": {
      "type": "boolean"
    },
    "com.amazonaws.workmail#CancelMailboxExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CancelMailboxExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CancelMailboxExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a mailbox export job.</p>\n         <note>\n            <p>If the mailbox export job is near completion, it might not be possible to cancel\n            it.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CancelMailboxExportJobRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.workmail#IdempotencyClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the client request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "JobId": {
          "target": "com.amazonaws.workmail#MailboxExportJobId",
          "traits": {
            "smithy.api#documentation": "<p>The job ID.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CancelMailboxExportJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EmailAddressInUseException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workmail#MailDomainNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#MailDomainStateException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an alias to the set of a given member (user or group) of WorkMail.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the member (user or group) exists.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The member (user or group) to which this alias is added.</p>",
            "smithy.api#required": {}
          }
        },
        "Alias": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The alias to add to the member set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateAliasResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#CreateAvailabilityConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateAvailabilityConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateAvailabilityConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <code>AvailabilityConfiguration</code> for the given WorkMail organization and domain.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateAvailabilityConfigurationRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.workmail#IdempotencyClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotent token that ensures that an API request is executed only once.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail organization for which the <code>AvailabilityConfiguration</code> will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.workmail#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain to which the provider applies.</p>",
            "smithy.api#required": {}
          }
        },
        "EwsProvider": {
          "target": "com.amazonaws.workmail#EwsAvailabilityProvider",
          "traits": {
            "smithy.api#documentation": "<p>Exchange Web Services (EWS) availability provider definition. The request must contain exactly one provider definition, either <code>EwsProvider</code> or <code>LambdaProvider</code>.</p>"
          }
        },
        "LambdaProvider": {
          "target": "com.amazonaws.workmail#LambdaAvailabilityProvider",
          "traits": {
            "smithy.api#documentation": "<p>Lambda availability provider definition. The request must contain exactly one provider definition, either <code>EwsProvider</code> or <code>LambdaProvider</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateAvailabilityConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ReservedNameException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a group that can be used in WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the group is to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateGroupResponse": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateImpersonationRole": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateImpersonationRoleRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateImpersonationRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an impersonation role for the given WorkMail organization.</p>\n         <p>\n            <i>Idempotency</i> ensures that an API request completes no more than one\n         time. With an idempotent request, if the original request completes successfully, any\n         subsequent retries also complete successfully without performing any further\n         actions.</p>"
      }
    },
    "com.amazonaws.workmail#CreateImpersonationRoleRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.workmail#IdempotencyClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the client request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail organization to create the new impersonation role within.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#ImpersonationRoleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new impersonation role.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#ImpersonationRoleType",
          "traits": {
            "smithy.api#documentation": "<p>The impersonation role's type. The available impersonation role types are\n            <code>READ_ONLY</code> or <code>FULL_ACCESS</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.workmail#ImpersonationRoleDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new impersonation role.</p>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.workmail#ImpersonationRuleList",
          "traits": {
            "smithy.api#documentation": "<p>The list of rules for the impersonation role.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateImpersonationRoleResponse": {
      "type": "structure",
      "members": {
        "ImpersonationRoleId": {
          "target": "com.amazonaws.workmail#ImpersonationRoleId",
          "traits": {
            "smithy.api#documentation": "<p>The new impersonation role ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateMobileDeviceAccessRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateMobileDeviceAccessRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateMobileDeviceAccessRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new mobile device access rule for the specified WorkMail organization.</p>"
      }
    },
    "com.amazonaws.workmail#CreateMobileDeviceAccessRuleRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail organization under which the rule will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.workmail#IdempotencyClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the client request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#MobileDeviceAccessRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The rule name.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.workmail#MobileDeviceAccessRuleDescription",
          "traits": {
            "smithy.api#documentation": "<p>The rule description.</p>"
          }
        },
        "Effect": {
          "target": "com.amazonaws.workmail#MobileDeviceAccessRuleEffect",
          "traits": {
            "smithy.api#documentation": "<p>The effect of the rule when it matches. Allowed values are <code>ALLOW</code> or <code>DENY</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DeviceTypes": {
          "target": "com.amazonaws.workmail#DeviceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>Device types that the rule will match.</p>"
          }
        },
        "NotDeviceTypes": {
          "target": "com.amazonaws.workmail#DeviceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>Device types that the rule <b>will not</b> match. All other device types will match.</p>"
          }
        },
        "DeviceModels": {
          "target": "com.amazonaws.workmail#DeviceModelList",
          "traits": {
            "smithy.api#documentation": "<p>Device models that the rule will match.</p>"
          }
        },
        "NotDeviceModels": {
          "target": "com.amazonaws.workmail#DeviceModelList",
          "traits": {
            "smithy.api#documentation": "<p>Device models that the rule <b>will not</b> match. All other device models will match.</p>"
          }
        },
        "DeviceOperatingSystems": {
          "target": "com.amazonaws.workmail#DeviceOperatingSystemList",
          "traits": {
            "smithy.api#documentation": "<p>Device operating systems that the rule will match.</p>"
          }
        },
        "NotDeviceOperatingSystems": {
          "target": "com.amazonaws.workmail#DeviceOperatingSystemList",
          "traits": {
            "smithy.api#documentation": "<p>Device operating systems that the rule <b>will not</b> match. All other device operating systems will match.</p>"
          }
        },
        "DeviceUserAgents": {
          "target": "com.amazonaws.workmail#DeviceUserAgentList",
          "traits": {
            "smithy.api#documentation": "<p>Device user agents that the rule will match.</p>"
          }
        },
        "NotDeviceUserAgents": {
          "target": "com.amazonaws.workmail#DeviceUserAgentList",
          "traits": {
            "smithy.api#documentation": "<p>Device user agents that the rule <b>will not</b> match. All other device user agents will match.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateMobileDeviceAccessRuleResponse": {
      "type": "structure",
      "members": {
        "MobileDeviceAccessRuleId": {
          "target": "com.amazonaws.workmail#MobileDeviceAccessRuleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the newly created mobile device access rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryInUseException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new WorkMail organization. Optionally, you can choose to associate an existing AWS Directory Service directory with your organization. If an AWS Directory Service directory ID is specified, the organization alias must match the directory alias. If you choose not to associate an existing directory with your organization, then we create a new WorkMail directory for you. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/add_new_organization.html\">Adding an organization</a> in the <i>WorkMail Administrator Guide</i>.</p>\n         <p>You can associate multiple email domains with an organization, then choose your\n         default email domain from the WorkMail console. You can also associate a domain that is managed\n         in an Amazon Route 53 public hosted zone. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/add_domain.html\">Adding a\n            domain</a> and <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/default_domain.html\">Choosing the default domain</a>\n         in the <i>WorkMail Administrator Guide</i>.</p>\n         <p>Optionally, you can use a customer managed key from AWS Key Management Service (AWS\n         KMS) to encrypt email for your organization. If you don't associate an AWS KMS key, WorkMail\n         creates a default, AWS managed key for you.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateOrganizationRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.workmail#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Directory Service directory ID.</p>"
          }
        },
        "Alias": {
          "target": "com.amazonaws.workmail#OrganizationName",
          "traits": {
            "smithy.api#documentation": "<p>The organization alias.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.workmail#IdempotencyClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token associated with the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Domains": {
          "target": "com.amazonaws.workmail#Domains",
          "traits": {
            "smithy.api#documentation": "<p>The email domains to associate with the organization.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.workmail#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a customer managed key from AWS KMS.</p>"
          }
        },
        "EnableInteroperability": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>When <code>true</code>, allows organization interoperability between WorkMail and\n         Microsoft Exchange. If <code>true</code>, you must include a AD Connector directory ID in\n         the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateOrganizationResponse": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ReservedNameException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new WorkMail resource.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateResourceRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization for which the resource is\n         created.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the new resource. The available types are <code>equipment</code> and\n            <code>room</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateResourceResponse": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidPasswordException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ReservedNameException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user who can be used in WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateUserRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization for which the user is created.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new user. WorkMail directory user names have a maximum length of 64. All others have a maximum length of 20.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the new user.</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.workmail#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password for the new user.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateUserResponse": {
      "type": "structure",
      "members": {
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the new user.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#Delegate": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the user or group associated as the resource's delegate.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#MemberType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the delegate: user or group.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of the attribute, which is one of the values defined in the UserAttribute\n         enumeration.</p>"
      }
    },
    "com.amazonaws.workmail#DeleteAccessControlRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteAccessControlRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteAccessControlRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an access control rule for the specified WorkMail organization.</p>\n         <note>\n            <p>Deleting already deleted and non-existing rules does not produce an error. In those cases, the service sends back an HTTP 200 response with an empty HTTP body.</p>\n         </note>"
      }
    },
    "com.amazonaws.workmail#DeleteAccessControlRuleRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#AccessControlRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access control rule.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteAccessControlRuleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Remove one or more specified aliases from a set of aliases for a given\n         user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteAliasRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the user exists.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member (user or group) from which to have the aliases\n         removed.</p>",
            "smithy.api#required": {}
          }
        },
        "Alias": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The aliases to be removed from the user's set of aliases. Duplicate entries in the\n         list are collapsed into single entries (the list is transformed into a set).</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteAliasResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteAvailabilityConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteAvailabilityConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteAvailabilityConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the <code>AvailabilityConfiguration</code> for the given WorkMail organization and domain.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteAvailabilityConfigurationRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail organization for which the <code>AvailabilityConfiguration</code> will be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.workmail#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain for which the <code>AvailabilityConfiguration</code> will be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteAvailabilityConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteEmailMonitoringConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteEmailMonitoringConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteEmailMonitoringConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the email monitoring configuration for a specified organization.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteEmailMonitoringConfigurationRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization from which the email monitoring configuration is deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteEmailMonitoringConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a group from WorkMail.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteGroupRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization that contains the group.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteImpersonationRole": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteImpersonationRoleRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteImpersonationRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an impersonation role for the given WorkMail organization.</p>"
      }
    },
    "com.amazonaws.workmail#DeleteImpersonationRoleRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail organization from which to delete the impersonation role.</p>",
            "smithy.api#required": {}
          }
        },
        "ImpersonationRoleId": {
          "target": "com.amazonaws.workmail#ImpersonationRoleId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the impersonation role to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteImpersonationRoleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteMailboxPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteMailboxPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteMailboxPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes permissions granted to a member (user or group).</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteMailboxPermissionsRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization under which the member (user or group)\n         exists.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member (user or group) that owns the mailbox.</p>",
            "smithy.api#required": {}
          }
        },
        "GranteeId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member (user or group) for which to delete granted\n         permissions.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteMailboxPermissionsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteMobileDeviceAccessOverride": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteMobileDeviceAccessOverrideRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteMobileDeviceAccessOverrideResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the mobile device access override for the given WorkMail organization, user, and device.</p>\n         <note>\n            <p>Deleting already deleted and non-existing overrides does not produce an error. In those cases, the service sends back an HTTP 200 response with an empty HTTP body.</p>\n         </note>"
      }
    },
    "com.amazonaws.workmail#DeleteMobileDeviceAccessOverrideRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail organization for which the access override will be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail user for which you want to delete the override. Accepts the following types of user identities:</p>\n         <ul>\n            <li>\n               <p>User ID:  <code>12345678-1234-1234-1234-123456789012</code> or <code>S-1-1-12-1234567890-123456789-123456789-1234</code>\n               </p>\n            </li>\n            <li>\n               <p>Email address: <code>user@domain.tld</code>\n               </p>\n            </li>\n            <li>\n               <p>User name: <code>user</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.workmail#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The mobile device for which you delete the override. <code>DeviceId</code> is case insensitive.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteMobileDeviceAccessOverrideResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteMobileDeviceAccessRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteMobileDeviceAccessRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteMobileDeviceAccessRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a mobile device access rule for the specified WorkMail organization.</p>\n         <note>\n            <p>Deleting already deleted and non-existing rules does not produce an error. In those cases, the service sends back an HTTP 200 response with an empty HTTP body.</p>\n         </note>"
      }
    },
    "com.amazonaws.workmail#DeleteMobileDeviceAccessRuleRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail organization under which the rule will be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "MobileDeviceAccessRuleId": {
          "target": "com.amazonaws.workmail#MobileDeviceAccessRuleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the rule to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteMobileDeviceAccessRuleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an WorkMail organization and all underlying AWS resources managed by WorkMail as part of the organization. You can choose whether to delete the associated directory. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/remove_organization.html\">Removing an organization</a> in the <i>WorkMail Administrator Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteOrganizationRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.workmail#IdempotencyClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token associated with the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        },
        "DeleteDirectory": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>If true, deletes the AWS Directory Service directory associated with the organization.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteOrganizationResponse": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The state of the organization.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteResourceRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization from which the resource is\n         deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteRetentionPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteRetentionPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteRetentionPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified retention policy from the specified organization.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteRetentionPolicyRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.workmail#ShortString",
          "traits": {
            "smithy.api#documentation": "<p>The retention policy ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteRetentionPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user from WorkMail and all subsequent systems. Before you can delete a\n         user, the user state must be <code>DISABLED</code>. Use the <a>DescribeUser</a>\n         action to confirm the user state.</p>\n         <p>Deleting a user is permanent and cannot be undone. WorkMail archives user mailboxes for\n         30 days before they are permanently removed.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization that contains the user to be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeregisterFromWorkMail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeregisterFromWorkMailRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeregisterFromWorkMailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Mark a user, group, or resource as no longer used in WorkMail. This action\n         disassociates the mailbox and schedules it for clean-up. WorkMail keeps mailboxes for 30 days\n         before they are permanently removed. The functionality in the console is\n            <i>Disable</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeregisterFromWorkMailRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the WorkMail entity exists.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member (user or group) to be updated.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeregisterFromWorkMailResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeregisterMailDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeregisterMailDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeregisterMailDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidCustomSesConfigurationException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#MailDomainInUseException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a domain from WorkMail, stops email routing to WorkMail, and removes the authorization allowing WorkMail use. SES keeps the domain because other applications may use it. You must first \n         remove any email address used by WorkMail entities before you remove the domain.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeregisterMailDomainRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The WorkMail organization for which the domain will be deregistered.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.workmail#WorkMailDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain to deregister in WorkMail and SES.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeregisterMailDomainResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DescribeEmailMonitoringConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeEmailMonitoringConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeEmailMonitoringConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the current email monitoring configuration for a specified organization.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeEmailMonitoringConfigurationRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization for which the email monitoring configuration is described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeEmailMonitoringConfigurationResponse": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "target": "com.amazonaws.workmail#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM Role associated with the email monitoring configuration.</p>"
          }
        },
        "LogGroupArn": {
          "target": "com.amazonaws.workmail#LogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch Log group associated with the email monitoring configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data available for the group.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeGroupRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the group to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeGroupResponse": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the described group.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the described group.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the described group.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the user: enabled (registered to WorkMail) or disabled (deregistered or\n         never registered to WorkMail).</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a user was registered to WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a user was deregistered from WorkMail, in UNIX epoch time\n         format.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeInboundDmarcSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeInboundDmarcSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeInboundDmarcSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the settings in a DMARC policy for a specified organization.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeInboundDmarcSettingsRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>Lists the ID of the given organization.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeInboundDmarcSettingsResponse": {
      "type": "structure",
      "members": {
        "Enforced": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Lists the enforcement setting of the applied policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeMailboxExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeMailboxExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeMailboxExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the current status of a mailbox export job.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeMailboxExportJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.workmail#MailboxExportJobId",
          "traits": {
            "smithy.api#documentation": "<p>The mailbox export job ID.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeMailboxExportJobResponse": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user or resource associated with the mailbox.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.workmail#Description",
          "traits": {
            "smithy.api#documentation": "<p>The mailbox export job description.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.workmail#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Identity and Access Management (IAM) role that grants write permission to the Amazon Simple\n         Storage Service (Amazon S3) bucket.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.workmail#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the symmetric AWS Key Management Service (AWS KMS)\n         key that encrypts the exported mailbox content.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.workmail#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the S3 bucket.</p>"
          }
        },
        "S3Prefix": {
          "target": "com.amazonaws.workmail#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket prefix.</p>"
          }
        },
        "S3Path": {
          "target": "com.amazonaws.workmail#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>The path to the S3 bucket and file that the mailbox export job is exporting\n         to.</p>"
          }
        },
        "EstimatedProgress": {
          "target": "com.amazonaws.workmail#Percentage",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The estimated progress of the mailbox export job, in percentage points.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#MailboxExportJobState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the mailbox export job.</p>"
          }
        },
        "ErrorInfo": {
          "target": "com.amazonaws.workmail#MailboxExportErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>Error information for failed mailbox export jobs.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The mailbox export job start timestamp.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The mailbox export job end timestamp.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides more information regarding a given organization based on its\n         identifier.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeOrganizationRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeOrganizationResponse": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an organization.</p>"
          }
        },
        "Alias": {
          "target": "com.amazonaws.workmail#OrganizationName",
          "traits": {
            "smithy.api#documentation": "<p>The alias for an organization.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The state of an organization.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the directory associated with an WorkMail organization.</p>"
          }
        },
        "DirectoryType": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of directory associated with the WorkMail organization.</p>"
          }
        },
        "DefaultMailDomain": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The default mail domain associated with the organization.</p>"
          }
        },
        "CompletedDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date at which the organization became usable in the WorkMail context, in UNIX epoch\n         time format.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The error message indicating if unexpected behavior was encountered with\n         regards to the organization.</p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.workmail#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the organization.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data available for the resource.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeResourceRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization for which the resource is\n         described.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeResourceResponse": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the described resource.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the described resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the described resource.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the described resource.</p>"
          }
        },
        "BookingOptions": {
          "target": "com.amazonaws.workmail#BookingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The booking options for the described resource.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the resource: enabled (registered to WorkMail), disabled (deregistered\n         or never registered to WorkMail), or deleted.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a resource was enabled for WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a resource was disabled from WorkMail, in UNIX epoch time\n         format.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information regarding the user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeUserRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the user exists.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the user to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeUserResponse": {
      "type": "structure",
      "members": {
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the described user.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the user.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the user.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the user.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of a user: enabled (registered to WorkMail) or disabled (deregistered or\n         never registered to WorkMail).</p>"
          }
        },
        "UserRole": {
          "target": "com.amazonaws.workmail#UserRole",
          "traits": {
            "smithy.api#documentation": "<p>In certain cases, other entities are modeled as users. If interoperability is\n         enabled, resources are imported into WorkMail as users. Because different WorkMail\n         organizations rely on different directory types, administrators can distinguish between an\n         unregistered user (account is disabled and has a user role) and the directory\n         administrators. The values are USER, RESOURCE, and SYSTEM_USER.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the user was enabled for WorkMailusage, in UNIX epoch\n         time format.</p>"
          }
        },
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the user was disabled for WorkMail usage, in UNIX epoch\n         time format.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1023
        },
        "smithy.api#pattern": "^[\\S\\s]*$"
      }
    },
    "com.amazonaws.workmail#DeviceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^[A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.workmail#DeviceModel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0020-\\u00FF]+$"
      }
    },
    "com.amazonaws.workmail#DeviceModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#DeviceModel"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#DeviceOperatingSystem": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0020-\\u00FF]+$"
      }
    },
    "com.amazonaws.workmail#DeviceOperatingSystemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#DeviceOperatingSystem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#DeviceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0020-\\u00FF]+$"
      }
    },
    "com.amazonaws.workmail#DeviceTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#DeviceType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#DeviceUserAgent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0020-\\u00FF]+$"
      }
    },
    "com.amazonaws.workmail#DeviceUserAgentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#DeviceUserAgent"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#DirectoryId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^d-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.workmail#DirectoryInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory is already in use by another WorkMail organization in the same account and Region.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#DirectoryUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory is unavailable. It might be located in another Region or deleted.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#DisassociateDelegateFromResource": {
      "type": "operation",
      "input": {
[...]
