{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.workspaces#AGAModeForDirectoryEnum": {
      "type": "enum",
      "members": {
        "ENABLED_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED_AUTO"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AGAModeForWorkSpaceEnum": {
      "type": "enum",
      "members": {
        "ENABLED_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED_AUTO"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "INHERITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHERITED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AGAPreferredProtocolForDirectory": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AGAPreferredProtocolForWorkSpace": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "INHERITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHERITED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-z-]{0,7}:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.\\\\-]{0,1023}$"
      }
    },
    "com.amazonaws.workspaces#AcceptAccountLinkInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AcceptAccountLinkInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AcceptAccountLinkInvitationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.workspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the account link invitation.</p>\n         <important>\n            <p>There's currently no unlinking capability after you accept the account linking invitation.</p>\n         </important>"
      }
    },
    "com.amazonaws.workspaces#AcceptAccountLinkInvitationRequest": {
      "type": "structure",
      "members": {
        "LinkId": {
          "target": "com.amazonaws.workspaces#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the account link.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.workspaces#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters that Amazon WorkSpaces uses to ensure idempotent creation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#AcceptAccountLinkInvitationResult": {
      "type": "structure",
      "members": {
        "AccountLink": {
          "target": "com.amazonaws.workspaces#AccountLink",
          "traits": {
            "smithy.api#documentation": "<p>Information about the account link.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user is not authorized to access a resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#AccessEndpoint": {
      "type": "structure",
      "members": {
        "AccessEndpointType": {
          "target": "com.amazonaws.workspaces#AccessEndpointType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of access endpoint.</p>"
          }
        },
        "VpcEndpointId": {
          "target": "com.amazonaws.workspaces#AlphanumericDashUnderscoreNonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the VPC endpoint to use for access.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the access type and endpoint for a WorkSpace.</p>"
      }
    },
    "com.amazonaws.workspaces#AccessEndpointConfig": {
      "type": "structure",
      "members": {
        "AccessEndpoints": {
          "target": "com.amazonaws.workspaces#AccessEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a list of access endpoints associated with this directory.</p>",
            "smithy.api#required": {}
          }
        },
        "InternetFallbackProtocols": {
          "target": "com.amazonaws.workspaces#InternetFallbackProtocolList",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a list of protocols that fallback to using the public Internet when streaming over a VPC endpoint is not available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the access endpoint configuration for a WorkSpace.</p>"
      }
    },
    "com.amazonaws.workspaces#AccessEndpointList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#AccessEndpoint"
      }
    },
    "com.amazonaws.workspaces#AccessEndpointType": {
      "type": "enum",
      "members": {
        "STREAMING_WSP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_WSP"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AccessPropertyValue": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AccountLink": {
      "type": "structure",
      "members": {
        "AccountLinkId": {
          "target": "com.amazonaws.workspaces#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the account link.</p>"
          }
        },
        "AccountLinkStatus": {
          "target": "com.amazonaws.workspaces#AccountLinkStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of the account link.</p>"
          }
        },
        "SourceAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source account.</p>"
          }
        },
        "TargetAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the target account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about about the account link.</p>"
      }
    },
    "com.amazonaws.workspaces#AccountLinkList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#AccountLink"
      }
    },
    "com.amazonaws.workspaces#AccountLinkStatusEnum": {
      "type": "enum",
      "members": {
        "LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKED"
          }
        },
        "LINKING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKING_FAILED"
          }
        },
        "LINK_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK_NOT_FOUND"
          }
        },
        "PENDING_ACCEPTANCE_BY_TARGET_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ACCEPTANCE_BY_TARGET_ACCOUNT"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AccountModification": {
      "type": "structure",
      "members": {
        "ModificationState": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyModificationStateEnum",
          "traits": {
            "smithy.api#documentation": "<p>The state of the modification to the configuration of BYOL.</p>"
          }
        },
        "DedicatedTenancySupport": {
          "target": "com.amazonaws.workspaces#DedicatedTenancySupportResultEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>"
          }
        },
        "DedicatedTenancyManagementCidrRange": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange",
          "traits": {
            "smithy.api#documentation": "<p>The IP address range, specified as an IPv4 CIDR block, for the management network\n         interface used for the account.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.workspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the modification of the BYOL configuration was started.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.workspaces#WorkspaceErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workspaces#Description",
          "traits": {
            "smithy.api#documentation": "<p>The text of the error message that is returned if the configuration of BYOL cannot be\n         modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a modification to the configuration of Bring Your Own License (BYOL) for the\n         specified account. </p>"
      }
    },
    "com.amazonaws.workspaces#AccountModificationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#AccountModification"
      }
    },
    "com.amazonaws.workspaces#ActiveDirectoryConfig": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.workspaces#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceAccountSecretArn": {
          "target": "com.amazonaws.workspaces#SecretsManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the secret ARN on the service account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the Active Directory config.</p>"
      }
    },
    "com.amazonaws.workspaces#ActiveUserSessions": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.workspaces#ActualUserSessions": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.workspaces#AddInName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.workspaces#AddInUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^(http|https)\\://\\S+$"
      }
    },
    "com.amazonaws.workspaces#Alias": {
      "type": "string"
    },
    "com.amazonaws.workspaces#AlphanumericDashUnderscoreNonEmptyString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\_\\-]{1,1000}$"
      }
    },
    "com.amazonaws.workspaces#AmazonUuid": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.workspaces#Application": {
      "type": "enum",
      "members": {
        "Microsoft_Office_2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft_Office_2016"
          }
        },
        "Microsoft_Office_2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft_Office_2019"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ApplicationAssociatedResourceType": {
      "type": "enum",
      "members": {
        "WORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKSPACE"
          }
        },
        "BUNDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLE"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ApplicationAssociatedResourceTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ApplicationAssociatedResourceType"
      }
    },
    "com.amazonaws.workspaces#ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#Application"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.workspaces#ApplicationNotSupportedException": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The specified application is not supported.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#ApplicationResourceAssociation": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.workspaces#WorkSpaceApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the application.</p>"
          }
        },
        "AssociatedResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the associated resource.</p>"
          }
        },
        "AssociatedResourceType": {
          "target": "com.amazonaws.workspaces#ApplicationAssociatedResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of the associated resource.</p>"
          }
        },
        "Created": {
          "target": "com.amazonaws.workspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the association was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.workspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the association status was last updated.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workspaces#AssociationState",
          "traits": {
            "smithy.api#documentation": "<p>The status of the application resource association.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.workspaces#AssociationStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the association deployment failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the association between an application and an application resource.</p>"
      }
    },
    "com.amazonaws.workspaces#ApplicationResourceAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ApplicationResourceAssociation"
      }
    },
    "com.amazonaws.workspaces#ApplicationSettingsRequest": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.workspaces#ApplicationSettingsStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables persistent application settings for users during their pool sessions.</p>",
            "smithy.api#required": {}
          }
        },
        "SettingsGroup": {
          "target": "com.amazonaws.workspaces#SettingsGroup",
          "traits": {
            "smithy.api#documentation": "<p>The path prefix for the S3 bucket where users’ persistent application settings are stored. \n         You can allow the same persistent application settings to be used across multiple pools by specifying \n         the same settings group for each pool.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The persistent application settings for WorkSpaces Pools users.</p>"
      }
    },
    "com.amazonaws.workspaces#ApplicationSettingsResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.workspaces#ApplicationSettingsStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether persistent application settings are enabled for users during their pool sessions.</p>",
            "smithy.api#required": {}
          }
        },
        "SettingsGroup": {
          "target": "com.amazonaws.workspaces#SettingsGroup",
          "traits": {
            "smithy.api#documentation": "<p>The path prefix for the S3 bucket where users’ persistent application settings are stored.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.workspaces#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket where users’ persistent application settings are stored. When persistent \n         application settings are enabled for the first time for an account in an Amazon Web Services Region, \n         an S3 bucket is created. The bucket is unique to the Amazon Web Services account and the Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the persistent application settings for WorkSpaces Pools users.</p>"
      }
    },
    "com.amazonaws.workspaces#ApplicationSettingsStatusEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AssociateConnectionAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AssociateConnectionAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AssociateConnectionAliasResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAssociatedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified connection alias with the specified directory to enable\n         cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>\n         <note>\n            <p>Before performing this operation, call <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeConnectionAliases.html\">\n               DescribeConnectionAliases</a> to make sure that the current state of the\n            connection alias is <code>CREATED</code>.</p>\n         </note>"
      }
    },
    "com.amazonaws.workspaces#AssociateConnectionAliasRequest": {
      "type": "structure",
      "members": {
        "AliasId": {
          "target": "com.amazonaws.workspaces#ConnectionAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory to associate the connection alias with.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#AssociateConnectionAliasResult": {
      "type": "structure",
      "members": {
        "ConnectionIdentifier": {
          "target": "com.amazonaws.workspaces#ConnectionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias association. You use the connection identifier in\n         the DNS TXT record when you're configuring your DNS routing policies. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#AssociateIpGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AssociateIpGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AssociateIpGroupsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified IP access control group with the specified directory.</p>"
      }
    },
    "com.amazonaws.workspaces#AssociateIpGroupsRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupIds": {
          "target": "com.amazonaws.workspaces#IpGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers of one or more IP access control groups.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#AssociateIpGroupsResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#AssociateWorkspaceApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AssociateWorkspaceApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AssociateWorkspaceApplicationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#ApplicationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ComputeNotCompatibleException"
        },
        {
          "target": "com.amazonaws.workspaces#IncompatibleApplicationsException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#OperatingSystemNotCompatibleException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified application to the specified WorkSpace.</p>"
      }
    },
    "com.amazonaws.workspaces#AssociateWorkspaceApplicationRequest": {
      "type": "structure",
      "members": {
        "WorkspaceId": {
          "target": "com.amazonaws.workspaces#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the WorkSpace.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationId": {
          "target": "com.amazonaws.workspaces#WorkSpaceApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#AssociateWorkspaceApplicationResult": {
      "type": "structure",
      "members": {
        "Association": {
          "target": "com.amazonaws.workspaces#WorkspaceResourceAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the association between the specified WorkSpace and the specified application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#AssociationErrorCode": {
      "type": "enum",
      "members": {
        "INSUFFICIENT_DISKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationError.InsufficientDiskSpace"
          }
        },
        "INSUFFICIENT_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationError.InsufficientMemory"
          }
        },
        "UNSUPPORTED_OPERATING_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationError.UnsupportedOperatingSystem"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeploymentError.InternalServerError"
          }
        },
        "WORKSPACE_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeploymentError.WorkspaceUnreachable"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AssociationState": {
      "type": "enum",
      "members": {
        "PENDING_INSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_INSTALL"
          }
        },
        "PENDING_INSTALL_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_INSTALL_DEPLOYMENT"
          }
        },
        "PENDING_UNINSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_UNINSTALL"
          }
        },
        "PENDING_UNINSTALL_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_UNINSTALL_DEPLOYMENT"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        },
        "UNINSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNINSTALLING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AssociationStateReason": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.workspaces#AssociationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code of the association deployment failure.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workspaces#String2048",
          "traits": {
            "smithy.api#documentation": "<p>The error message of the association deployment failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates the reason that the association deployment failed, including the error code and error message.</p>"
      }
    },
    "com.amazonaws.workspaces#AssociationStatus": {
      "type": "enum",
      "members": {
        "NOT_ASSOCIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ASSOCIATED"
          }
        },
        "ASSOCIATED_WITH_OWNER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATED_WITH_OWNER_ACCOUNT"
          }
        },
        "ASSOCIATED_WITH_SHARED_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATED_WITH_SHARED_ACCOUNT"
          }
        },
        "PENDING_ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ASSOCIATION"
          }
        },
        "PENDING_DISASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_DISASSOCIATION"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AuthenticationType": {
      "type": "enum",
      "members": {
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAML"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AuthorizeIpRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AuthorizeIpRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AuthorizeIpRulesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more rules to the specified IP access control group.</p>\n         <p>This action gives users permission to access their WorkSpaces from the CIDR address\n         ranges specified in the rules.</p>"
      }
    },
    "com.amazonaws.workspaces#AuthorizeIpRulesRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workspaces#IpGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "UserRules": {
          "target": "com.amazonaws.workspaces#IpRuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules to add to the group.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#AuthorizeIpRulesResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#AvailableUserSessions": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.workspaces#AwsAccount": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.workspaces#BooleanObject": {
      "type": "boolean"
    },
    "com.amazonaws.workspaces#BundleAssociatedResourceType": {
      "type": "enum",
      "members": {
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION"
          }
        }
      }
    },
    "com.amazonaws.workspaces#BundleAssociatedResourceTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#BundleAssociatedResourceType"
      }
    },
    "com.amazonaws.workspaces#BundleId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^wsb-[0-9a-z]{8,63}$"
      }
    },
    "com.amazonaws.workspaces#BundleIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#BundleId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#BundleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#WorkspaceBundle"
      }
    },
    "com.amazonaws.workspaces#BundleOwner": {
      "type": "string"
    },
    "com.amazonaws.workspaces#BundleResourceAssociation": {
      "type": "structure",
      "members": {
        "AssociatedResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the associated resource.</p>"
          }
        },
        "AssociatedResourceType": {
          "target": "com.amazonaws.workspaces#BundleAssociatedResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of the associated resources.</p>"
          }
        },
        "BundleId": {
          "target": "com.amazonaws.workspaces#BundleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bundle.</p>"
          }
        },
        "Created": {
          "target": "com.amazonaws.workspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the association is created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.workspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the association status was last updated.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workspaces#AssociationState",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bundle resource association.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.workspaces#AssociationStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the association deployment failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the association between an application and a bundle resource.</p>"
      }
    },
    "com.amazonaws.workspaces#BundleResourceAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#BundleResourceAssociation"
      }
    },
    "com.amazonaws.workspaces#BundleType": {
      "type": "enum",
      "members": {
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "STANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDBY"
          }
        }
      }
    },
    "com.amazonaws.workspaces#Capacity": {
      "type": "structure",
      "members": {
        "DesiredUserSessions": {
          "target": "com.amazonaws.workspaces#DesiredUserSessions",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of user sessions for the WorkSpaces in the pool.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the user capacity for a pool of WorkSpaces.</p>"
      }
    },
    "com.amazonaws.workspaces#CapacityStatus": {
      "type": "structure",
      "members": {
        "AvailableUserSessions": {
          "target": "com.amazonaws.workspaces#AvailableUserSessions",
          "traits": {
            "smithy.api#documentation": "<p>The number of user sessions currently available for streaming from your pool.</p>\n         <p>AvailableUserSessions = ActualUserSessions - ActiveUserSessions</p>",
            "smithy.api#required": {}
          }
        },
        "DesiredUserSessions": {
          "target": "com.amazonaws.workspaces#DesiredUserSessions",
          "traits": {
            "smithy.api#documentation": "<p>The total number of sessions slots that are either running or pending. This \n         represents the total number of concurrent streaming sessions your pool can support \n         in a steady state.</p>",
            "smithy.api#required": {}
          }
        },
        "ActualUserSessions": {
          "target": "com.amazonaws.workspaces#ActualUserSessions",
          "traits": {
            "smithy.api#documentation": "<p>The total number of user sessions that are available for streaming or are currently \n         streaming in your pool.</p>\n         <p>ActualUserSessions = AvailableUserSessions + ActiveUserSessions</p>",
            "smithy.api#required": {}
          }
        },
        "ActiveUserSessions": {
          "target": "com.amazonaws.workspaces#ActiveUserSessions",
          "traits": {
            "smithy.api#documentation": "<p>The number of user sessions currently being used for your pool.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the capacity status for a pool of WorkSpaces.</p>"
      }
    },
    "com.amazonaws.workspaces#CertificateAuthorityArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]*:[\\w+=,.@-]+(/[\\w+=,.@-]+)*$"
      }
    },
    "com.amazonaws.workspaces#CertificateBasedAuthProperties": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.workspaces#CertificateBasedAuthStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate-based authentication properties.</p>"
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.workspaces#CertificateAuthorityArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services Certificate Manager Private CA resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of the certificate-based authentication you want to use\n         with your WorkSpaces.</p>"
      }
    },
    "com.amazonaws.workspaces#CertificateBasedAuthStatusEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ClientDeviceType": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeWindows"
          }
        },
        "DEVICE_TYPE_OSX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeOsx"
          }
        },
        "DEVICE_TYPE_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeAndroid"
          }
        },
        "DEVICE_TYPE_IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeIos"
          }
        },
        "DEVICE_TYPE_LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeLinux"
          }
        },
        "DEVICE_TYPE_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeWeb"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ClientDeviceTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ClientDeviceType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6
        }
      }
    },
    "com.amazonaws.workspaces#ClientEmail": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$"
      }
    },
    "com.amazonaws.workspaces#ClientLocale": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 5
        },
        "smithy.api#pattern": "^[a-z]{2}_[A-Z]{2}$"
      }
    },
    "com.amazonaws.workspaces#ClientLoginMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2000
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.workspaces#ClientProperties": {
      "type": "structure",
      "members": {
        "ReconnectEnabled": {
          "target": "com.amazonaws.workspaces#ReconnectEnum",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether users can cache their credentials on the Amazon WorkSpaces client.\n         When enabled, users can choose to reconnect to their WorkSpaces without re-entering their\n         credentials. </p>"
          }
        },
        "LogUploadEnabled": {
          "target": "com.amazonaws.workspaces#LogUploadEnum",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether users can upload diagnostic log files of Amazon WorkSpaces client directly to \n         WorkSpaces to troubleshoot issues when using the WorkSpaces client. \n         When enabled, the log files will be sent to WorkSpaces automatically and will be applied to all \n         users in the specified directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon WorkSpaces client.</p>"
      }
    },
    "com.amazonaws.workspaces#ClientPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ClientPropertiesResult"
      }
    },
    "com.amazonaws.workspaces#ClientPropertiesResult": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The resource identifier, in the form of a directory ID.</p>"
          }
        },
        "ClientProperties": {
          "target": "com.amazonaws.workspaces#ClientProperties",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Amazon WorkSpaces client.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the Amazon WorkSpaces client.</p>"
      }
    },
    "com.amazonaws.workspaces#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^.{1,64}$"
      }
    },
    "com.amazonaws.workspaces#ClientUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^(http|https)\\://\\S+$"
      }
    },
    "com.amazonaws.workspaces#Compute": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE"
          }
        },
        "POWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWER"
          }
        },
        "GRAPHICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPHICS"
          }
        },
        "POWERPRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWERPRO"
          }
        },
        "GENERALPURPOSE_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERALPURPOSE_4XLARGE"
          }
        },
        "GENERALPURPOSE_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERALPURPOSE_8XLARGE"
          }
        },
        "GRAPHICSPRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPHICSPRO"
          }
        },
        "GRAPHICS_G4DN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPHICS_G4DN"
          }
        },
        "GRAPHICSPRO_G4DN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPHICSPRO_G4DN"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ComputeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#Compute"
      }
    },
    "com.amazonaws.workspaces#ComputeNotCompatibleException": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The compute type of the WorkSpace is not compatible with the application.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#ComputeType": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workspaces#Compute",
          "traits": {
            "smithy.api#documentation": "<p>The compute type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the compute type of the bundle.</p>"
      }
    },
    "com.amazonaws.workspaces#ComputerName": {
      "type": "string"
    },
    "com.amazonaws.workspaces#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>TargetAccountId</code> is already linked or invited.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#ConnectClientAddIn": {
      "type": "structure",
      "members": {
        "AddInId": {
          "target": "com.amazonaws.workspaces#AmazonUuid",
          "traits": {
            "smithy.api#documentation": "<p>The client add-in identifier.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier for which the client add-in is configured.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workspaces#AddInName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the client add in.</p>"
          }
        },
        "URL": {
          "target": "com.amazonaws.workspaces#AddInUrl",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint URL of the client add-in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon Connect client add-in.</p>"
      }
    },
    "com.amazonaws.workspaces#ConnectClientAddInList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectClientAddIn"
      }
    },
    "com.amazonaws.workspaces#ConnectionAlias": {
      "type": "structure",
      "members": {
        "ConnectionString": {
          "target": "com.amazonaws.workspaces#ConnectionString",
          "traits": {
            "smithy.api#documentation": "<p>The connection string specified for the connection alias. The connection string must be\n         in the form of a fully qualified domain name (FQDN), such as\n         <code>www.example.com</code>.</p>"
          }
        },
        "AliasId": {
          "target": "com.amazonaws.workspaces#ConnectionAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workspaces#ConnectionAliasState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the connection alias.</p>"
          }
        },
        "OwnerAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account that owns the connection alias.</p>"
          }
        },
        "Associations": {
          "target": "com.amazonaws.workspaces#ConnectionAliasAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The association status of the connection alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a connection alias. Connection aliases are used for cross-Region redirection.\n         For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasAssociation": {
      "type": "structure",
      "members": {
        "AssociationStatus": {
          "target": "com.amazonaws.workspaces#AssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The association status of the connection alias.</p>"
          }
        },
        "AssociatedAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account that associated the connection alias\n         with a directory.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory associated with a connection alias.</p>"
          }
        },
        "ConnectionIdentifier": {
          "target": "com.amazonaws.workspaces#ConnectionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias association. You use the connection identifier in\n         the DNS TXT record when you're configuring your DNS routing policies.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a connection alias association that is used for cross-Region redirection. For\n         more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectionAliasAssociation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 13,
          "max": 68
        },
        "smithy.api#pattern": "^wsca-[0-9a-z]{8,63}$"
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectionAliasId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectionAlias"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasPermission": {
      "type": "structure",
      "members": {
        "SharedAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account that the connection alias is shared\n         with.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowAssociation": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the specified Amazon Web Services account is allowed to associate the\n         connection alias with a directory.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the permissions for a connection alias. Connection aliases are used for\n         cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasPermissions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectionAliasPermission"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.workspaces#ConnectionState": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[.0-9a-zA-Z\\-]{1,255}$"
      }
    },
    "com.amazonaws.workspaces#CopyWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CopyWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CopyWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified image from the specified Region to the current Region. For more\n         information about copying images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/copy-custom-image.html\"> Copy a Custom WorkSpaces\n            Image</a>.</p>\n         <p>In the China (Ningxia) Region, you can copy images only within the same Region.</p>\n         <p>In Amazon Web Services GovCloud (US), to copy images to and from other Regions, contact Amazon Web ServicesSupport.</p>\n         <important>\n            <p>Before copying a shared image, be sure to verify that it has been shared from the\n            correct Amazon Web Services account. To determine if an image has been shared and to see\n            the ID of the Amazon Web Services account that owns an image, use the <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImages.html\">DescribeWorkSpaceImages</a> and <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImagePermissions.html\">DescribeWorkspaceImagePermissions</a> API operations. </p>\n         </important>"
      }
    },
    "com.amazonaws.workspaces#CopyWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the image.</p>"
          }
        },
        "SourceImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source image.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.workspaces#Region",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source Region.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CopyWorkspaceImageResult": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateAccountLinkInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateAccountLinkInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateAccountLinkInvitationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.workspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the account link invitation.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateAccountLinkInvitationRequest": {
      "type": "structure",
      "members": {
        "TargetAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the target account.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.workspaces#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters that Amazon WorkSpaces uses to ensure idempotent creation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateAccountLinkInvitationResult": {
      "type": "structure",
      "members": {
        "AccountLink": {
          "target": "com.amazonaws.workspaces#AccountLink",
          "traits": {
            "smithy.api#documentation": "<p>Information about the account link.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateConnectClientAddIn": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateConnectClientAddInRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateConnectClientAddInResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceCreationFailedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a client-add-in for Amazon Connect within a directory. You can create only\n         one Amazon Connect client add-in within a directory.</p>\n         <p>This client add-in allows WorkSpaces users to seamlessly connect to Amazon Connect.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateConnectClientAddInRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier for which to configure the client add-in.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workspaces#AddInName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the client add-in.</p>",
            "smithy.api#required": {}
          }
        },
        "URL": {
          "target": "com.amazonaws.workspaces#AddInUrl",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint URL of the Amazon Connect client add-in.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateConnectClientAddInResult": {
      "type": "structure",
      "members": {
        "AddInId": {
          "target": "com.amazonaws.workspaces#AmazonUuid",
          "traits": {
            "smithy.api#documentation": "<p>The client add-in identifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateConnectionAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateConnectionAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateConnectionAliasResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the specified connection alias for use with cross-Region redirection. For more\n         information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateConnectionAliasRequest": {
      "type": "structure",
      "members": {
        "ConnectionString": {
          "target": "com.amazonaws.workspaces#ConnectionString",
          "traits": {
            "smithy.api#documentation": "<p>A connection string in the form of a fully qualified domain name (FQDN), such as\n            <code>www.example.com</code>.</p>\n         <important>\n            <p>After you create a connection string, it is always associated to your Amazon Web Services account. You cannot recreate the same connection string with a different\n            account, even if you delete all instances of it from the original account. The\n            connection string is globally reserved for your account.</p>\n         </important>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the connection alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateConnectionAliasResult": {
      "type": "structure",
      "members": {
        "AliasId": {
          "target": "com.amazonaws.workspaces#ConnectionAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateIpGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateIpGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateIpGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceCreationFailedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an IP access control group.</p>\n         <p>An IP access control group provides you with the ability to control the IP addresses\n         from which users are allowed to access their WorkSpaces. To specify the CIDR address\n         ranges, add rules to your IP access control group and then associate the group with your\n         directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p>\n         <p>There is a default IP access control group associated with your directory. If you don't\n         associate an IP access control group with your directory, the default group is used. The\n         default group includes a default rule that allows users to access their WorkSpaces from\n         anywhere. You cannot modify the default IP access control group for your directory.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateIpGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.workspaces#IpGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupDesc": {
          "target": "com.amazonaws.workspaces#IpGroupDesc",
          "traits": {
            "smithy.api#documentation": "<p>The description of the group.</p>"
          }
        },
        "UserRules": {
          "target": "com.amazonaws.workspaces#IpRuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules to add to the group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateIpGroupResult": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workspaces#IpGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateStandbyWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateStandbyWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateStandbyWorkspacesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a standby WorkSpace in a secondary Region.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateStandbyWorkspacesRequest": {
      "type": "structure",
      "members": {
        "PrimaryRegion": {
          "target": "com.amazonaws.workspaces#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Region of the primary WorkSpace.</p>",
            "smithy.api#required": {}
          }
        },
        "StandbyWorkspaces": {
          "target": "com.amazonaws.workspaces#StandbyWorkspacesList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the standby WorkSpace to be created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateStandbyWorkspacesResult": {
      "type": "structure",
      "members": {
        "FailedStandbyRequests": {
          "target": "com.amazonaws.workspaces#FailedCreateStandbyWorkspacesRequestList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the standby WorkSpace that could not be created. </p>"
          }
        },
        "PendingStandbyRequests": {
          "target": "com.amazonaws.workspaces#PendingCreateStandbyWorkspacesRequestList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the standby WorkSpace that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateTagsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the specified tags for the specified WorkSpaces resource.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces,\n         registered directories, images, custom bundles, IP access control groups, and connection\n         aliases.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateTagsResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateUpdatedWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateUpdatedWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateUpdatedWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new updated WorkSpace image based on the specified source image. The new\n         updated WorkSpace image has the latest drivers and other updates required by the \n         Amazon WorkSpaces components.</p>\n         <p>To determine which WorkSpace images need to be updated with the latest Amazon WorkSpaces\n         requirements, use <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImages.html\">\n            DescribeWorkspaceImages</a>.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>Only Windows 10, Windows Server 2016, and Windows Server 2019 WorkSpace images\n                  can be programmatically updated at this time.</p>\n               </li>\n               <li>\n                  <p>Microsoft Windows updates and other application updates are not included in the\n                  update process.</p>\n               </li>\n               <li>\n                  <p>The source WorkSpace image is not deleted. You can delete the source image\n                  after you've verified your new updated image and created a new bundle. </p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.workspaces#CreateUpdatedWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new updated WorkSpace image.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of whether updates for the WorkSpace image are available.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source WorkSpace image.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags that you want to add to the new updated WorkSpace image.</p>\n         <note>\n            <p>To add tags at the same time when you're creating the updated image, you must create\n            an IAM policy that grants your IAM user permissions to use\n               <code>workspaces:CreateTags</code>. </p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateUpdatedWorkspaceImageResult": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new updated WorkSpace image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceBundle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateWorkspaceBundleRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateWorkspaceBundleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the specified WorkSpace bundle. For more information about creating WorkSpace bundles, see \n         <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/create-custom-bundle.html\">\n            Create a Custom WorkSpaces Image and Bundle</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceBundleRequest": {
      "type": "structure",
      "members": {
        "BundleName": {
          "target": "com.amazonaws.workspaces#WorkspaceBundleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "BundleDescription": {
          "target": "com.amazonaws.workspaces#WorkspaceBundleDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the image that is used to create the bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "ComputeType": {
          "target": "com.amazonaws.workspaces#ComputeType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "UserStorage": {
          "target": "com.amazonaws.workspaces#UserStorage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RootStorage": {
          "target": "com.amazonaws.workspaces#RootStorage"
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the bundle.</p>\n         <note>\n            <p>To add tags at the same time when you're creating the bundle, you must create an IAM policy that \n            grants your IAM user permissions to use <code>workspaces:CreateTags</code>. </p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceBundleResult": {
      "type": "structure",
      "members": {
        "WorkspaceBundle": {
          "target": "com.amazonaws.workspaces#WorkspaceBundle"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new WorkSpace image from an existing WorkSpace.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new WorkSpace image.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new WorkSpace image.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkspaceId": {
          "target": "com.amazonaws.workspaces#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source WorkSpace</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags that you want to add to the new WorkSpace image. \n         To add tags when you're creating the image, you must create an IAM policy that grants \n         your IAM user permission to use <code>workspaces:CreateTags</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceImageResult": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new WorkSpace image.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the image.</p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.workspaces#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>The operating system that the image is running.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workspaces#WorkspaceImageState",
          "traits": {
            "smithy.api#documentation": "<p>The availability status of the image.</p>"
          }
        },
        "RequiredTenancy": {
          "target": "com.amazonaws.workspaces#WorkspaceImageRequiredTenancy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the image is running on dedicated hardware. \n         When Bring Your Own License (BYOL) is enabled, this value is set \n         to DEDICATED. For more information, see \n         <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/byol-windows-images.htm\">\n            Bring Your Own Windows Desktop Images.</a>.</p>"
          }
        },
        "Created": {
          "target": "com.amazonaws.workspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the image was created.</p>"
          }
        },
        "OwnerAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account that owns the image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateWorkspacesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates one or more WorkSpaces.</p>\n         <p>This operation is asynchronous and returns before the WorkSpaces are created.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>The <code>MANUAL</code> running mode value is only supported by Amazon WorkSpaces\n               Core. Contact your account team to be allow-listed to use this value. For more\n               information, see <a href=\"http://aws.amazon.com/workspaces/core/\">Amazon WorkSpaces\n                  Core</a>.</p>\n               </li>\n               <li>\n                  <p>You don't need to specify the <code>PCOIP</code> protocol for Linux bundles\n                  because <code>DCV</code> (formerly WSP) is the default protocol for those bundles.</p>\n               </li>\n               <li>\n                  <p>User-decoupled WorkSpaces are only supported by Amazon WorkSpaces\n               Core.</p>\n               </li>\n               <li>\n                  <p>Review your running mode to ensure you are using one that is optimal for your needs and budget.\n                  For more information on switching running modes, see \n                  <a href=\"http://aws.amazon.com/workspaces-family/workspaces/faqs/#:~:text=Can%20I%20switch%20between%20hourly%20and%20monthly%20billing%20on%20WorkSpaces%20Personal%3F\">\n                     Can I switch between hourly and monthly billing?</a>\n                  </p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.workspaces#CreateWorkspacesPool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateWorkspacesPoolRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateWorkspacesPoolResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a pool of WorkSpaces.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateWorkspacesPoolRequest": {
      "type": "structure",
      "members": {
        "PoolName": {
          "target": "com.amazonaws.workspaces#WorkspacesPoolName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pool.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.workspaces#UpdateDescription",
          "traits": {
            "smithy.api#documentation": "<p>The pool description.</p>",
            "smithy.api#required": {}
          }
        },
        "BundleId": {
          "target": "com.amazonaws.workspaces#BundleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bundle for the pool.</p>",
            "smithy.api#required": {}
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory for the pool.</p>",
            "smithy.api#required": {}
          }
        },
        "Capacity": {
          "target": "com.amazonaws.workspaces#Capacity",
          "traits": {
            "smithy.api#documentation": "<p>The user capacity of the pool.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the pool.</p>"
          }
        },
        "ApplicationSettings": {
          "target": "com.amazonaws.workspaces#ApplicationSettingsRequest",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the application settings of the pool.</p>"
          }
        },
        "TimeoutSettings": {
          "target": "com.amazonaws.workspaces#TimeoutSettings",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the timeout settings of the pool.</p>"
          }
        },
        "RunningMode": {
          "target": "com.amazonaws.workspaces#PoolsRunningMode",
          "traits": {
            "smithy.api#documentation": "<p>The running mode for the pool.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateWorkspacesPoolResult": {
      "type": "structure",
      "members": {
        "WorkspacesPool": {
          "target": "com.amazonaws.workspaces#WorkspacesPool",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the pool to create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CreateWorkspacesRequest": {
      "type": "structure",
      "members": {
        "Workspaces": {
          "target": "com.amazonaws.workspaces#WorkspaceRequestList",
          "traits": {
            "smithy.api#documentation": "<p>The WorkSpaces to create. You can specify up to 25 WorkSpaces.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workspaces#CreateWorkspacesResult": {
      "type": "structure",
      "members": {
        "FailedRequests": {
          "target": "com.amazonaws.workspaces#FailedCreateWorkspaceRequests",
          "traits": {
            "smithy.api#documentation": "<p>Information about the WorkSpaces that could not be created.</p>"
          }
        },
        "PendingRequests": {
          "target": "com.amazonaws.workspaces#WorkspaceList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the WorkSpaces that were created.</p>\n         <p>Because this operation is asynchronous, the identifier returned is not immediately\n         available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned\n         can be incomplete.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workspaces#CustomImageProtocol": {
      "type": "enum",
      "members": {
        "PCOIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCOIP"
          }
        },
        "DCV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DCV"
          }
        },
        "BYOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYOP"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CustomWorkspaceImageImportErrorDetails": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.workspaces#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code that is returned for the image import.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workspaces#ImageErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The text of the error message that is returned for the image import.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes in-depth details about the error. These details include the\n         possible causes of the error and troubleshooting information.</p>"
      }
    },
    "com.amazonaws.workspaces#CustomWorkspaceImageImportErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#CustomWorkspaceImageImportErrorDetails"
      }
    },
    "com.amazonaws.workspaces#CustomWorkspaceImageImportState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DataReplication": {
      "type": "enum",
      "members": {
        "NO_REPLICATION": {
[...]
