{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.aws.gorillaboy#AWSGorillaBoyService": {
      "type": "service",
      "version": "2016-05-01",
      "operations": [
        {
          "target": "com.amazon.aws.gorillaboy#AbortDocumentVersionUpload"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ActivateUser"
        },
        {
          "target": "com.amazon.aws.gorillaboy#AddResourcePermissions"
        },
        {
          "target": "com.amazon.aws.gorillaboy#CreateComment"
        },
        {
          "target": "com.amazon.aws.gorillaboy#CreateCustomMetadata"
        },
        {
          "target": "com.amazon.aws.gorillaboy#CreateFolder"
        },
        {
          "target": "com.amazon.aws.gorillaboy#CreateLabels"
        },
        {
          "target": "com.amazon.aws.gorillaboy#CreateNotificationSubscription"
        },
        {
          "target": "com.amazon.aws.gorillaboy#CreateUser"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DeactivateUser"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DeleteComment"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DeleteCustomMetadata"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DeleteDocument"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DeleteFolder"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DeleteFolderContents"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DeleteLabels"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DeleteNotificationSubscription"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DeleteUser"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DescribeActivities"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DescribeComments"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DescribeDocumentVersions"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DescribeFolderContents"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DescribeGroups"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DescribeNotificationSubscriptions"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DescribeResourcePermissions"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DescribeRootFolders"
        },
        {
          "target": "com.amazon.aws.gorillaboy#DescribeUsers"
        },
        {
          "target": "com.amazon.aws.gorillaboy#GetCurrentUser"
        },
        {
          "target": "com.amazon.aws.gorillaboy#GetDocument"
        },
        {
          "target": "com.amazon.aws.gorillaboy#GetDocumentPath"
        },
        {
          "target": "com.amazon.aws.gorillaboy#GetDocumentVersion"
        },
        {
          "target": "com.amazon.aws.gorillaboy#GetFolder"
        },
        {
          "target": "com.amazon.aws.gorillaboy#GetFolderPath"
        },
        {
          "target": "com.amazon.aws.gorillaboy#GetResources"
        },
        {
          "target": "com.amazon.aws.gorillaboy#InitiateDocumentVersionUpload"
        },
        {
          "target": "com.amazon.aws.gorillaboy#RemoveAllResourcePermissions"
        },
        {
          "target": "com.amazon.aws.gorillaboy#RemoveResourcePermission"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UpdateDocument"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UpdateDocumentVersion"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UpdateFolder"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UpdateUser"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "WorkDocs",
          "arnNamespace": "workdocs",
          "cloudFormationName": "WorkDocs",
          "cloudTrailEventSource": "gorillaboy.aws.amazon.com"
        },
        "smithy.api#documentation": "<p>The WorkDocs API is designed for the following use cases:</p>\n        <ul>\n            <li>\n                <p>File Migration: File migration applications are supported for users who\n                    want to migrate their files from an on-premises or off-premises file system or\n                    service. Users can insert files into a user directory structure, as well as\n                    allow for basic metadata changes, such as modifications to the permissions of\n                    files.</p>\n            </li>\n            <li>\n                <p>Security: Support security applications are supported for users who have\n                    additional security needs, such as antivirus or data loss prevention. The API\n                    actions, along with AWS CloudTrail, allow these applications to detect when\n                    changes occur in Amazon WorkDocs. Then, the application can take the necessary\n                    actions and replace the target file. If the target file violates the policy, the\n                    application can also choose to email the user.</p>\n            </li>\n            <li>\n                <p>eDiscovery/Analytics: General administrative applications are supported,\n                    such as eDiscovery and analytics. These applications can choose to mimic or\n                    record the actions in an Amazon WorkDocs site, along with AWS CloudTrail, to\n                    replicate data for eDiscovery, backup, or analytical applications.</p>\n            </li>\n         </ul>\n        <p>All Amazon WorkDocs API actions are Amazon authenticated and certificate-signed.\n            They not only require the use of the AWS SDK, but also allow for the exclusive use of\n            IAM users and roles to help facilitate access, trust, and permission policies. By\n            creating a role and allowing an IAM user to access the Amazon WorkDocs site, the IAM\n            user gains full administrative visibility into the entire Amazon WorkDocs site (or as\n            set in the IAM policy). This includes, but is not limited to, the ability to modify file\n            permissions and upload any file to any user. This allows developers to perform the three\n            use cases above, as well as give users the ability to grant access on a selective basis\n            using the IAM model.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon WorkDocs",
        "smithy.api#xmlNamespace": {
          "uri": "https://aws.amazon.com/api/v1/"
        }
      }
    },
    "com.amazon.aws.gorillaboy#AbortDocumentVersionUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#AbortDocumentVersionUploadRequest"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Aborts the upload of the specified document version that was previously initiated\n            by <a>InitiateDocumentVersionUpload</a>. The client should make this call\n            only when it no longer intends to upload the document version, or fails to do\n            so.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/documents/{DocumentId}/versions/{VersionId}",
          "code": 204
        }
      }
    },
    "com.amazon.aws.gorillaboy#AbortDocumentVersionUploadRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "VersionId": {
          "target": "com.amazon.aws.gorillaboy#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the version.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#ActivateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#ActivateUserRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#ActivateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates the specified user. Only active users can access Amazon\n            WorkDocs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/users/{UserId}/activation",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#ActivateUserRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "UserId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#ActivateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazon.aws.gorillaboy#User",
          "traits": {
            "smithy.api#documentation": "<p>The user information.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#Activity": {
      "type": "structure",
      "members": {
        "CommentMetadata": {
          "target": "com.amazon.aws.gorillaboy#CommentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata of the commenting activity. This is an optional field and is filled for\n            commenting activities.</p>"
          }
        },
        "Initiator": {
          "target": "com.amazon.aws.gorillaboy#UserMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The user who performed the action.</p>"
          }
        },
        "IsIndirectActivity": {
          "target": "com.amazon.aws.gorillaboy#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether an activity is indirect or direct. An indirect activity results\n            from a direct activity performed on a parent resource. For example, sharing a parent\n            folder (the direct activity) shares all of the subfolders and documents within the\n            parent folder (the indirect activity).</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization.</p>"
          }
        },
        "OriginalParent": {
          "target": "com.amazon.aws.gorillaboy#ResourceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The original parent of the resource. This is an optional field and is filled for\n            move activities.</p>"
          }
        },
        "Participants": {
          "target": "com.amazon.aws.gorillaboy#Participants",
          "traits": {
            "smithy.api#documentation": "<p>The list of users or groups impacted by this action. This is an optional field and\n            is filled for the following sharing activities: DOCUMENT_SHARED, DOCUMENT_SHARED,\n            DOCUMENT_UNSHARED, FOLDER_SHARED, FOLDER_UNSHARED.</p>"
          }
        },
        "ResourceMetadata": {
          "target": "com.amazon.aws.gorillaboy#ResourceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the resource involved in the user action.</p>"
          }
        },
        "TimeStamp": {
          "target": "com.amazon.aws.gorillaboy#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the action was performed.</p>"
          }
        },
        "Type": {
          "target": "com.amazon.aws.gorillaboy#ActivityType",
          "traits": {
            "smithy.api#documentation": "<p>The activity type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the activity information.</p>"
      }
    },
    "com.amazon.aws.gorillaboy#ActivityNamesFilterType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "[\\w,]+"
      }
    },
    "com.amazon.aws.gorillaboy#ActivityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DOCUMENT_CHECKED_IN": {
            "name": "DOCUMENT_CHECKED_IN"
          },
          "DOCUMENT_CHECKED_OUT": {
            "name": "DOCUMENT_CHECKED_OUT"
          },
          "DOCUMENT_RENAMED": {
            "name": "DOCUMENT_RENAMED"
          },
          "DOCUMENT_VERSION_UPLOADED": {
            "name": "DOCUMENT_VERSION_UPLOADED"
          },
          "DOCUMENT_VERSION_DELETED": {
            "name": "DOCUMENT_VERSION_DELETED"
          },
          "DOCUMENT_VERSION_VIEWED": {
            "name": "DOCUMENT_VERSION_VIEWED"
          },
          "DOCUMENT_VERSION_DOWNLOADED": {
            "name": "DOCUMENT_VERSION_DOWNLOADED"
          },
          "DOCUMENT_RECYCLED": {
            "name": "DOCUMENT_RECYCLED"
          },
          "DOCUMENT_RESTORED": {
            "name": "DOCUMENT_RESTORED"
          },
          "DOCUMENT_REVERTED": {
            "name": "DOCUMENT_REVERTED"
          },
          "DOCUMENT_SHARED": {
            "name": "DOCUMENT_SHARED"
          },
          "DOCUMENT_UNSHARED": {
            "name": "DOCUMENT_UNSHARED"
          },
          "DOCUMENT_SHARE_PERMISSION_CHANGED": {
            "name": "DOCUMENT_SHARE_PERMISSION_CHANGED"
          },
          "DOCUMENT_SHAREABLE_LINK_CREATED": {
            "name": "DOCUMENT_SHAREABLE_LINK_CREATED"
          },
          "DOCUMENT_SHAREABLE_LINK_REMOVED": {
            "name": "DOCUMENT_SHAREABLE_LINK_REMOVED"
          },
          "DOCUMENT_SHAREABLE_LINK_PERMISSION_CHANGED": {
            "name": "DOCUMENT_SHAREABLE_LINK_PERMISSION_CHANGED"
          },
          "DOCUMENT_MOVED": {
            "name": "DOCUMENT_MOVED"
          },
          "DOCUMENT_COMMENT_ADDED": {
            "name": "DOCUMENT_COMMENT_ADDED"
          },
          "DOCUMENT_COMMENT_DELETED": {
            "name": "DOCUMENT_COMMENT_DELETED"
          },
          "DOCUMENT_ANNOTATION_ADDED": {
            "name": "DOCUMENT_ANNOTATION_ADDED"
          },
          "DOCUMENT_ANNOTATION_DELETED": {
            "name": "DOCUMENT_ANNOTATION_DELETED"
          },
          "FOLDER_CREATED": {
            "name": "FOLDER_CREATED"
          },
          "FOLDER_DELETED": {
            "name": "FOLDER_DELETED"
          },
          "FOLDER_RENAMED": {
            "name": "FOLDER_RENAMED"
          },
          "FOLDER_RECYCLED": {
            "name": "FOLDER_RECYCLED"
          },
          "FOLDER_RESTORED": {
            "name": "FOLDER_RESTORED"
          },
          "FOLDER_SHARED": {
            "name": "FOLDER_SHARED"
          },
          "FOLDER_UNSHARED": {
            "name": "FOLDER_UNSHARED"
          },
          "FOLDER_SHARE_PERMISSION_CHANGED": {
            "name": "FOLDER_SHARE_PERMISSION_CHANGED"
          },
          "FOLDER_SHAREABLE_LINK_CREATED": {
            "name": "FOLDER_SHAREABLE_LINK_CREATED"
          },
          "FOLDER_SHAREABLE_LINK_REMOVED": {
            "name": "FOLDER_SHAREABLE_LINK_REMOVED"
          },
          "FOLDER_SHAREABLE_LINK_PERMISSION_CHANGED": {
            "name": "FOLDER_SHAREABLE_LINK_PERMISSION_CHANGED"
          },
          "FOLDER_MOVED": {
            "name": "FOLDER_MOVED"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#AddResourcePermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#AddResourcePermissionsRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#AddResourcePermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a set of permissions for the specified folder or document. The resource\n            permissions are overwritten if the principals already have different\n            permissions.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/resources/{ResourceId}/permissions",
          "code": 201
        }
      }
    },
    "com.amazon.aws.gorillaboy#AddResourcePermissionsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "NotificationOptions": {
          "target": "com.amazon.aws.gorillaboy#NotificationOptions",
          "traits": {
            "smithy.api#documentation": "<p>The notification options.</p>"
          }
        },
        "Principals": {
          "target": "com.amazon.aws.gorillaboy#SharePrincipalList",
          "traits": {
            "smithy.api#documentation": "<p>The users, groups, or organization being granted permission.</p>",
            "smithy.api#required": true
          }
        },
        "ResourceId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#AddResourcePermissionsResponse": {
      "type": "structure",
      "members": {
        "ShareResults": {
          "target": "com.amazon.aws.gorillaboy#ShareResultsList",
          "traits": {
            "smithy.api#documentation": "<p>The share results.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#AuthenticationHeaderType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8199
        },
        "smithy.api#sensitive": true
      }
    },
    "com.amazon.aws.gorillaboy#BooleanEnumType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TRUE": {
            "name": "TRUE"
          },
          "FALSE": {
            "name": "FALSE"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#BooleanType": {
      "type": "boolean"
    },
    "com.amazon.aws.gorillaboy#Comment": {
      "type": "structure",
      "members": {
        "CommentId": {
          "target": "com.amazon.aws.gorillaboy#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the comment.</p>",
            "smithy.api#required": true
          }
        },
        "Contributor": {
          "target": "com.amazon.aws.gorillaboy#User",
          "traits": {
            "smithy.api#documentation": "<p>The details of the user who made the comment.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazon.aws.gorillaboy#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The time that the comment was created.</p>"
          }
        },
        "ParentId": {
          "target": "com.amazon.aws.gorillaboy#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent comment.</p>"
          }
        },
        "RecipientId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>If the comment is a reply to another user's comment, this field contains the user\n            ID of the user being replied to.</p>"
          }
        },
        "Status": {
          "target": "com.amazon.aws.gorillaboy#CommentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the comment.</p>"
          }
        },
        "Text": {
          "target": "com.amazon.aws.gorillaboy#CommentTextType",
          "traits": {
            "smithy.api#documentation": "<p>The text of the comment.</p>"
          }
        },
        "ThreadId": {
          "target": "com.amazon.aws.gorillaboy#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the root comment in the thread.</p>"
          }
        },
        "Visibility": {
          "target": "com.amazon.aws.gorillaboy#CommentVisibilityType",
          "traits": {
            "smithy.api#documentation": "<p>The visibility of the comment. Options are either PRIVATE, where the comment is\n            visible only to the comment author and document owner and co-owners, or PUBLIC, where\n            the comment is visible to document owners, co-owners, and contributors.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a comment.</p>"
      }
    },
    "com.amazon.aws.gorillaboy#CommentIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\w+-.@]+"
      }
    },
    "com.amazon.aws.gorillaboy#CommentList": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.gorillaboy#Comment"
      }
    },
    "com.amazon.aws.gorillaboy#CommentMetadata": {
      "type": "structure",
      "members": {
        "CommentId": {
          "target": "com.amazon.aws.gorillaboy#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the comment.</p>"
          }
        },
        "CommentStatus": {
          "target": "com.amazon.aws.gorillaboy#CommentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the comment.</p>"
          }
        },
        "Contributor": {
          "target": "com.amazon.aws.gorillaboy#User",
          "traits": {
            "smithy.api#documentation": "<p>The user who made the comment.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazon.aws.gorillaboy#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that the comment was created.</p>"
          }
        },
        "RecipientId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user being replied to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the metadata of a comment.</p>"
      }
    },
    "com.amazon.aws.gorillaboy#CommentStatusType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DRAFT": {
            "name": "DRAFT"
          },
          "PUBLISHED": {
            "name": "PUBLISHED"
          },
          "DELETED": {
            "name": "DELETED"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CommentTextType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": true
      }
    },
    "com.amazon.aws.gorillaboy#CommentVisibilityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PUBLIC": {
            "name": "PUBLIC"
          },
          "PRIVATE": {
            "name": "PRIVATE"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.gorillaboy#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource hierarchy is changing.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazon.aws.gorillaboy#ConflictingOperationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.gorillaboy#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another operation is in progress on the resource that conflicts with the current operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazon.aws.gorillaboy#CreateComment": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#CreateCommentRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#CreateCommentResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#DocumentLockedForCommentsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#InvalidCommentOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new comment to the specified document version.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/documents/{DocumentId}/versions/{VersionId}/comment",
          "code": 201
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateCommentRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NotifyCollaborators": {
          "target": "com.amazon.aws.gorillaboy#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Set this parameter to TRUE to send an email out to the document collaborators after\n            the comment is created.</p>"
          }
        },
        "ParentId": {
          "target": "com.amazon.aws.gorillaboy#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent comment.</p>"
          }
        },
        "Text": {
          "target": "com.amazon.aws.gorillaboy#CommentTextType",
          "traits": {
            "smithy.api#documentation": "<p>The text of the comment.</p>",
            "smithy.api#required": true
          }
        },
        "ThreadId": {
          "target": "com.amazon.aws.gorillaboy#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the root comment in the thread.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazon.aws.gorillaboy#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document version.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Visibility": {
          "target": "com.amazon.aws.gorillaboy#CommentVisibilityType",
          "traits": {
            "smithy.api#documentation": "<p>The visibility of the comment. Options are either PRIVATE, where the comment is\n            visible only to the comment author and document owner and co-owners, or PUBLIC, where\n            the comment is visible to document owners, co-owners, and contributors.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateCommentResponse": {
      "type": "structure",
      "members": {
        "Comment": {
          "target": "com.amazon.aws.gorillaboy#Comment",
          "traits": {
            "smithy.api#documentation": "<p>The comment that has been created.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateCustomMetadata": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#CreateCustomMetadataRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#CreateCustomMetadataResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#CustomMetadataLimitExceededException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more custom properties to the specified resource (a folder, document,\n            or version).</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/resources/{ResourceId}/customMetadata",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateCustomMetadataRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "CustomMetadata": {
          "target": "com.amazon.aws.gorillaboy#CustomMetadataMap",
          "traits": {
            "smithy.api#documentation": "<p>Custom metadata in the form of name-value pairs.</p>",
            "smithy.api#required": true
          }
        },
        "ResourceId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "VersionId": {
          "target": "com.amazon.aws.gorillaboy#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the version, if the custom metadata is being added to a document\n            version.</p>",
            "smithy.api#httpQuery": "versionid"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateCustomMetadataResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.gorillaboy#CreateFolder": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#CreateFolderRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#CreateFolderResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#ConflictingOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#LimitExceededException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a folder with the specified name and parent folder.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/folders",
          "code": 201
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateFolderRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "Name": {
          "target": "com.amazon.aws.gorillaboy#ResourceNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new folder.</p>"
          }
        },
        "ParentFolderId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent folder.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateFolderResponse": {
      "type": "structure",
      "members": {
        "Metadata": {
          "target": "com.amazon.aws.gorillaboy#FolderMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the folder.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateLabels": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#CreateLabelsRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#CreateLabelsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#TooManyLabelsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified list of labels to the given resource (a document or\n            folder)</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/resources/{ResourceId}/labels",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateLabelsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "Labels": {
          "target": "com.amazon.aws.gorillaboy#SharedLabels",
          "traits": {
            "smithy.api#documentation": "<p>List of labels to add to the resource.</p>",
            "smithy.api#required": true
          }
        },
        "ResourceId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateLabelsResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.gorillaboy#CreateNotificationSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#CreateNotificationSubscriptionRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#CreateNotificationSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#TooManySubscriptionsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configure Amazon WorkDocs to use Amazon SNS notifications. The endpoint receives a\n            confirmation message, and must confirm the subscription.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/workdocs/latest/developerguide/subscribe-notifications.html\">Subscribe to\n                Notifications</a> in the <i>Amazon WorkDocs Developer\n            Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/organizations/{OrganizationId}/subscriptions",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateNotificationSubscriptionRequest": {
      "type": "structure",
      "members": {
        "Endpoint": {
          "target": "com.amazon.aws.gorillaboy#SubscriptionEndPointType",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to receive the notifications. If the protocol is HTTPS, the endpoint\n            is a URL that begins with <code>https</code>.</p>",
            "smithy.api#required": true
          }
        },
        "OrganizationId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Protocol": {
          "target": "com.amazon.aws.gorillaboy#SubscriptionProtocolType",
          "traits": {
            "smithy.api#documentation": "<p>The protocol to use. The supported value is https, which delivers JSON-encoded\n            messages using HTTPS POST.</p>",
            "smithy.api#required": true
          }
        },
        "SubscriptionType": {
          "target": "com.amazon.aws.gorillaboy#SubscriptionType",
          "traits": {
            "smithy.api#documentation": "<p>The notification type.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateNotificationSubscriptionResponse": {
      "type": "structure",
      "members": {
        "Subscription": {
          "target": "com.amazon.aws.gorillaboy#Subscription",
          "traits": {
            "smithy.api#documentation": "<p>The subscription.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#CreateUserRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user in a Simple AD or Microsoft AD directory. The status of a newly\n            created user is \"ACTIVE\". New users can access Amazon WorkDocs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/users",
          "code": 201
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateUserRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "EmailAddress": {
          "target": "com.amazon.aws.gorillaboy#EmailAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the user.</p>"
          }
        },
        "GivenName": {
          "target": "com.amazon.aws.gorillaboy#UserAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The given name of the user.</p>",
            "smithy.api#required": true
          }
        },
        "OrganizationId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization.</p>"
          }
        },
        "Password": {
          "target": "com.amazon.aws.gorillaboy#PasswordType",
          "traits": {
            "smithy.api#documentation": "<p>The password of the user.</p>",
            "smithy.api#required": true
          }
        },
        "StorageRule": {
          "target": "com.amazon.aws.gorillaboy#StorageRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage for the user.</p>"
          }
        },
        "Surname": {
          "target": "com.amazon.aws.gorillaboy#UserAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The surname of the user.</p>",
            "smithy.api#required": true
          }
        },
        "TimeZoneId": {
          "target": "com.amazon.aws.gorillaboy#TimeZoneIdType",
          "traits": {
            "smithy.api#documentation": "<p>The time zone ID of the user.</p>"
          }
        },
        "Username": {
          "target": "com.amazon.aws.gorillaboy#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The login name of the user.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CreateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazon.aws.gorillaboy#User",
          "traits": {
            "smithy.api#documentation": "<p>The user information.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#CustomMetadataKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.gorillaboy#CustomMetadataKeyType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8
        }
      }
    },
    "com.amazon.aws.gorillaboy#CustomMetadataKeyType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 56
        },
        "smithy.api#pattern": "[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*"
      }
    },
    "com.amazon.aws.gorillaboy#CustomMetadataLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.gorillaboy#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The limit has been reached on the number of custom properties for the specified\n            resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazon.aws.gorillaboy#CustomMetadataMap": {
      "type": "map",
      "key": {
        "target": "com.amazon.aws.gorillaboy#CustomMetadataKeyType"
      },
      "value": {
        "target": "com.amazon.aws.gorillaboy#CustomMetadataValueType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazon.aws.gorillaboy#CustomMetadataValueType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*"
      }
    },
    "com.amazon.aws.gorillaboy#DeactivateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DeactivateUserRequest"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deactivates the specified user, which revokes the user's access to Amazon\n            WorkDocs.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/users/{UserId}/activation",
          "code": 204
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeactivateUserRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "UserId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeactivatingLastSystemUserException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazon.aws.gorillaboy#ExceptionCodeType"
        },
        "Message": {
          "target": "com.amazon.aws.gorillaboy#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The last user in the organization is being deactivated.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazon.aws.gorillaboy#DeleteComment": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DeleteCommentRequest"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#DocumentLockedForCommentsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified comment from the document version.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/documents/{DocumentId}/versions/{VersionId}/comment/{CommentId}",
          "code": 204
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteCommentRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "CommentId": {
          "target": "com.amazon.aws.gorillaboy#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the comment.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DocumentId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "VersionId": {
          "target": "com.amazon.aws.gorillaboy#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document version.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteCustomMetadata": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DeleteCustomMetadataRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DeleteCustomMetadataResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes custom metadata from the specified resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/resources/{ResourceId}/customMetadata",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteCustomMetadataRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DeleteAll": {
          "target": "com.amazon.aws.gorillaboy#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Flag to indicate removal of all custom metadata properties from the specified\n            resource.</p>",
            "smithy.api#httpQuery": "deleteAll"
          }
        },
        "Keys": {
          "target": "com.amazon.aws.gorillaboy#CustomMetadataKeyList",
          "traits": {
            "smithy.api#documentation": "<p>List of properties to remove.</p>",
            "smithy.api#httpQuery": "keys"
          }
        },
        "ResourceId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource, either a document or folder.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "VersionId": {
          "target": "com.amazon.aws.gorillaboy#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the version, if the custom metadata is being deleted from a document\n            version.</p>",
            "smithy.api#httpQuery": "versionId"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteCustomMetadataResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.gorillaboy#DeleteDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DeleteDocumentRequest"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ConflictingOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified document and its associated metadata.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/documents/{DocumentId}",
          "code": 204
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteDocumentRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteFolder": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DeleteFolderRequest"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ConflictingOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified folder and its contents.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/folders/{FolderId}",
          "code": 204
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteFolderContents": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DeleteFolderContentsRequest"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#ConflictingOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the contents of the specified folder.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/folders/{FolderId}/contents",
          "code": 204
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteFolderContentsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "FolderId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the folder.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteFolderRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "FolderId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the folder.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteLabels": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DeleteLabelsRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DeleteLabelsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified list of labels from a resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/resources/{ResourceId}/labels",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteLabelsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DeleteAll": {
          "target": "com.amazon.aws.gorillaboy#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Flag to request removal of all labels from the specified resource.</p>",
            "smithy.api#httpQuery": "deleteAll"
          }
        },
        "Labels": {
          "target": "com.amazon.aws.gorillaboy#SharedLabels",
          "traits": {
            "smithy.api#documentation": "<p>List of labels to delete from the resource.</p>",
            "smithy.api#httpQuery": "labels"
          }
        },
        "ResourceId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteLabelsResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.gorillaboy#DeleteNotificationSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DeleteNotificationSubscriptionRequest"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified subscription from the specified organization.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/organizations/{OrganizationId}/subscriptions/{SubscriptionId}",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteNotificationSubscriptionRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "SubscriptionId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subscription.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DeleteUserRequest"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified user from a Simple AD or Microsoft AD directory.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/users/{UserId}",
          "code": 204
        }
      }
    },
    "com.amazon.aws.gorillaboy#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "UserId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeActivities": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DescribeActivitiesRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DescribeActivitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#InvalidArgumentException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the user activities in a specified time period.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/activities",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeActivitiesRequest": {
      "type": "structure",
      "members": {
        "ActivityTypes": {
          "target": "com.amazon.aws.gorillaboy#ActivityNamesFilterType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which activity types to include in the response. If this field is left\n            empty, all activity types are returned.</p>",
            "smithy.api#httpQuery": "activityTypes"
          }
        },
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "EndTime": {
          "target": "com.amazon.aws.gorillaboy#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that determines the end time of the activities. The response includes\n            the activities performed before the specified timestamp.</p>",
            "smithy.api#httpQuery": "endTime"
          }
        },
        "IncludeIndirectActivities": {
          "target": "com.amazon.aws.gorillaboy#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Includes indirect activities. An indirect activity results from a direct activity\n            performed on a parent resource. For example, sharing a parent folder (the direct\n            activity) shares all of the subfolders and documents within the parent folder (the\n            indirect activity).</p>",
            "smithy.api#httpQuery": "includeIndirectActivities"
          }
        },
        "Limit": {
          "target": "com.amazon.aws.gorillaboy#LimitType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return.</p>",
            "smithy.api#httpQuery": "limit"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#MarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results.</p>",
            "smithy.api#httpQuery": "marker"
          }
        },
        "OrganizationId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization. This is a mandatory parameter when using administrative\n            API (SigV4) requests.</p>",
            "smithy.api#httpQuery": "organizationId"
          }
        },
        "ResourceId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The document or folder ID for which to describe activity types.</p>",
            "smithy.api#httpQuery": "resourceId"
          }
        },
        "StartTime": {
          "target": "com.amazon.aws.gorillaboy#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that determines the starting time of the activities. The response\n            includes the activities performed after the specified timestamp.</p>",
            "smithy.api#httpQuery": "startTime"
          }
        },
        "UserId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user who performed the action. The response includes activities\n            pertaining to this user. This is an optional parameter and is only applicable for\n            administrative API (SigV4) requests.</p>",
            "smithy.api#httpQuery": "userId"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeActivitiesResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#MarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results.</p>"
          }
        },
        "UserActivities": {
          "target": "com.amazon.aws.gorillaboy#UserActivities",
          "traits": {
            "smithy.api#documentation": "<p>The list of activities for the specified user and time period.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeComments": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DescribeCommentsRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DescribeCommentsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all the comments for the specified document version.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/documents/{DocumentId}/versions/{VersionId}/comments",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeCommentsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Limit": {
          "target": "com.amazon.aws.gorillaboy#LimitType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return.</p>",
            "smithy.api#httpQuery": "limit"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#MarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. This marker was received from a previous\n            call.</p>",
            "smithy.api#httpQuery": "marker"
          }
        },
        "VersionId": {
          "target": "com.amazon.aws.gorillaboy#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document version.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeCommentsResponse": {
      "type": "structure",
      "members": {
        "Comments": {
          "target": "com.amazon.aws.gorillaboy#CommentList",
          "traits": {
            "smithy.api#documentation": "<p>The list of comments for the specified document version.</p>"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#MarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. This marker was received from a previous\n            call.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeDocumentVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DescribeDocumentVersionsRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DescribeDocumentVersionsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#InvalidArgumentException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the document versions for the specified document.</p>\n        <p>By default, only active versions are returned.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/documents/{DocumentId}/versions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "items": "DocumentVersions",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeDocumentVersionsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Fields": {
          "target": "com.amazon.aws.gorillaboy#FieldNamesType",
          "traits": {
            "smithy.api#documentation": "<p>Specify \"SOURCE\" to include initialized versions and a URL for the source\n            document.</p>",
            "smithy.api#httpQuery": "fields"
          }
        },
        "Include": {
          "target": "com.amazon.aws.gorillaboy#FieldNamesType",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of values. Specify \"INITIALIZED\" to include incomplete\n            versions.</p>",
            "smithy.api#httpQuery": "include"
          }
        },
        "Limit": {
          "target": "com.amazon.aws.gorillaboy#LimitType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of versions to return with this call.</p>",
            "smithy.api#httpQuery": "limit"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n            call.)</p>",
            "smithy.api#httpQuery": "marker"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeDocumentVersionsResponse": {
      "type": "structure",
      "members": {
        "DocumentVersions": {
          "target": "com.amazon.aws.gorillaboy#DocumentVersionMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>The document versions.</p>"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker to use when requesting the next set of results. If there are no\n            additional results, the string is empty.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeFolderContents": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DescribeFolderContentsRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DescribeFolderContentsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#InvalidArgumentException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ProhibitedStateException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the contents of the specified folder, including its documents and\n            subfolders.</p>\n        <p>By default, Amazon WorkDocs returns the first 100 active document and folder\n            metadata items. If there are more results, the response includes a marker that you can\n            use to request the next set of results. You can also request initialized\n            documents.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/folders/{FolderId}/contents",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeFolderContentsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "FolderId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the folder.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Include": {
          "target": "com.amazon.aws.gorillaboy#FieldNamesType",
          "traits": {
            "smithy.api#documentation": "<p>The contents to include. Specify \"INITIALIZED\" to include initialized\n            documents.</p>",
            "smithy.api#httpQuery": "include"
          }
        },
        "Limit": {
          "target": "com.amazon.aws.gorillaboy#LimitType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return with this call.</p>",
            "smithy.api#httpQuery": "limit"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. This marker was received from a previous\n            call.</p>",
            "smithy.api#httpQuery": "marker"
          }
        },
        "Order": {
          "target": "com.amazon.aws.gorillaboy#OrderType",
          "traits": {
            "smithy.api#documentation": "<p>The order for the contents of the folder.</p>",
            "smithy.api#httpQuery": "order"
          }
        },
        "Sort": {
          "target": "com.amazon.aws.gorillaboy#ResourceSortType",
          "traits": {
            "smithy.api#documentation": "<p>The sorting criteria.</p>",
            "smithy.api#httpQuery": "sort"
          }
        },
        "Type": {
          "target": "com.amazon.aws.gorillaboy#FolderContentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of items.</p>",
            "smithy.api#httpQuery": "type"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeFolderContentsResponse": {
      "type": "structure",
      "members": {
        "Documents": {
          "target": "com.amazon.aws.gorillaboy#DocumentMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>The documents in the specified folder.</p>"
          }
        },
        "Folders": {
          "target": "com.amazon.aws.gorillaboy#FolderMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>The subfolders in the specified folder.</p>"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker to use when requesting the next set of results. If there are no\n            additional results, the string is empty.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DescribeGroupsRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DescribeGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the groups specified by the query. Groups are defined by the underlying\n            Active Directory.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/groups",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeGroupsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using administrative\n            API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "Limit": {
          "target": "com.amazon.aws.gorillaboy#PositiveIntegerType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return with this call.</p>",
            "smithy.api#httpQuery": "limit"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#MarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n            call.)</p>",
            "smithy.api#httpQuery": "marker"
          }
        },
        "OrganizationId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization.</p>",
            "smithy.api#httpQuery": "organizationId"
          }
        },
        "SearchQuery": {
          "target": "com.amazon.aws.gorillaboy#SearchQueryType",
          "traits": {
            "smithy.api#documentation": "<p>A query to describe groups by group name.</p>",
            "smithy.api#httpQuery": "searchQuery",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeGroupsResponse": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazon.aws.gorillaboy#GroupMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>The list of groups.</p>"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#MarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker to use when requesting the next set of results. If there are no additional\n            results, the string is empty.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeNotificationSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DescribeNotificationSubscriptionsRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DescribeNotificationSubscriptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the specified notification subscriptions.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/organizations/{OrganizationId}/subscriptions",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeNotificationSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazon.aws.gorillaboy#LimitType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return with this call.</p>",
            "smithy.api#httpQuery": "limit"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n            call.)</p>",
            "smithy.api#httpQuery": "marker"
          }
        },
        "OrganizationId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeNotificationSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker to use when requesting the next set of results. If there are no\n            additional results, the string is empty.</p>"
          }
        },
        "Subscriptions": {
          "target": "com.amazon.aws.gorillaboy#SubscriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The subscriptions.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeResourcePermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DescribeResourcePermissionsRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DescribeResourcePermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the permissions of a specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/resources/{ResourceId}/permissions",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeResourcePermissionsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "Limit": {
          "target": "com.amazon.aws.gorillaboy#LimitType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return with this call.</p>",
            "smithy.api#httpQuery": "limit"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n            call)</p>",
            "smithy.api#httpQuery": "marker"
          }
        },
        "PrincipalId": {
          "target": "com.amazon.aws.gorillaboy#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the principal to filter permissions by.</p>",
            "smithy.api#httpQuery": "principalId"
          }
        },
        "ResourceId": {
          "target": "com.amazon.aws.gorillaboy#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeResourcePermissionsResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker to use when requesting the next set of results. If there are no\n            additional results, the string is empty.</p>"
          }
        },
        "Principals": {
          "target": "com.amazon.aws.gorillaboy#PrincipalList",
          "traits": {
            "smithy.api#documentation": "<p>The principals.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeRootFolders": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DescribeRootFoldersRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DescribeRootFoldersResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#InvalidArgumentException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedOperationException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the current user's special folders; the <code>RootFolder</code> and the\n                <code>RecycleBin</code>. <code>RootFolder</code> is the root of user's files and\n            folders and <code>RecycleBin</code> is the root of recycled items. This is not a valid\n            action for SigV4 (administrative API) clients.</p>\n        <p>This action requires an authentication token. To get an authentication token,\n            register an application with Amazon WorkDocs. For more information, see <a href=\"https://docs.aws.amazon.com/workdocs/latest/developerguide/wd-auth-user.html\">Authentication and Access\n                Control for User Applications</a> in the\n            <i>Amazon\n            WorkDocs Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/me/root",
          "code": 200
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeRootFoldersRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazon.aws.gorillaboy#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Do not set this field when using\n            administrative API actions, as in accessing the API using AWS credentials.</p>",
            "smithy.api#httpHeader": "Authentication",
            "smithy.api#required": true
          }
        },
        "Limit": {
          "target": "com.amazon.aws.gorillaboy#LimitType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return.</p>",
            "smithy.api#httpQuery": "limit"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n            call.)</p>",
            "smithy.api#httpQuery": "marker"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeRootFoldersResponse": {
      "type": "structure",
      "members": {
        "Folders": {
          "target": "com.amazon.aws.gorillaboy#FolderMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>The user's special folders.</p>"
          }
        },
        "Marker": {
          "target": "com.amazon.aws.gorillaboy#PageMarkerType",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazon.aws.gorillaboy#DescribeUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.gorillaboy#DescribeUsersRequest"
      },
      "output": {
        "target": "com.amazon.aws.gorillaboy#DescribeUsersResponse"
      },
      "errors": [
        {
          "target": "com.amazon.aws.gorillaboy#EntityNotExistsException"
        },
        {
          "target": "com.amazon.aws.gorillaboy#FailedDependencyException"
[...]
