{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.workdocs#AWSGorillaBoyService": {
      "type": "service",
      "version": "2016-05-01",
      "operations": [
        {
          "target": "com.amazonaws.workdocs#AbortDocumentVersionUpload"
        },
        {
          "target": "com.amazonaws.workdocs#ActivateUser"
        },
        {
          "target": "com.amazonaws.workdocs#AddResourcePermissions"
        },
        {
          "target": "com.amazonaws.workdocs#CreateComment"
        },
        {
          "target": "com.amazonaws.workdocs#CreateCustomMetadata"
        },
        {
          "target": "com.amazonaws.workdocs#CreateFolder"
        },
        {
          "target": "com.amazonaws.workdocs#CreateLabels"
        },
        {
          "target": "com.amazonaws.workdocs#CreateNotificationSubscription"
        },
        {
          "target": "com.amazonaws.workdocs#CreateUser"
        },
        {
          "target": "com.amazonaws.workdocs#DeactivateUser"
        },
        {
          "target": "com.amazonaws.workdocs#DeleteComment"
        },
        {
          "target": "com.amazonaws.workdocs#DeleteCustomMetadata"
        },
        {
          "target": "com.amazonaws.workdocs#DeleteDocument"
        },
        {
          "target": "com.amazonaws.workdocs#DeleteDocumentVersion"
        },
        {
          "target": "com.amazonaws.workdocs#DeleteFolder"
        },
        {
          "target": "com.amazonaws.workdocs#DeleteFolderContents"
        },
        {
          "target": "com.amazonaws.workdocs#DeleteLabels"
        },
        {
          "target": "com.amazonaws.workdocs#DeleteNotificationSubscription"
        },
        {
          "target": "com.amazonaws.workdocs#DeleteUser"
        },
        {
          "target": "com.amazonaws.workdocs#DescribeActivities"
        },
        {
          "target": "com.amazonaws.workdocs#DescribeComments"
        },
        {
          "target": "com.amazonaws.workdocs#DescribeDocumentVersions"
        },
        {
          "target": "com.amazonaws.workdocs#DescribeFolderContents"
        },
        {
          "target": "com.amazonaws.workdocs#DescribeGroups"
        },
        {
          "target": "com.amazonaws.workdocs#DescribeNotificationSubscriptions"
        },
        {
          "target": "com.amazonaws.workdocs#DescribeResourcePermissions"
        },
        {
          "target": "com.amazonaws.workdocs#DescribeRootFolders"
        },
        {
          "target": "com.amazonaws.workdocs#DescribeUsers"
        },
        {
          "target": "com.amazonaws.workdocs#GetCurrentUser"
        },
        {
          "target": "com.amazonaws.workdocs#GetDocument"
        },
        {
          "target": "com.amazonaws.workdocs#GetDocumentPath"
        },
        {
          "target": "com.amazonaws.workdocs#GetDocumentVersion"
        },
        {
          "target": "com.amazonaws.workdocs#GetFolder"
        },
        {
          "target": "com.amazonaws.workdocs#GetFolderPath"
        },
        {
          "target": "com.amazonaws.workdocs#GetResources"
        },
        {
          "target": "com.amazonaws.workdocs#InitiateDocumentVersionUpload"
        },
        {
          "target": "com.amazonaws.workdocs#RemoveAllResourcePermissions"
        },
        {
          "target": "com.amazonaws.workdocs#RemoveResourcePermission"
        },
        {
          "target": "com.amazonaws.workdocs#RestoreDocumentVersions"
        },
        {
          "target": "com.amazonaws.workdocs#SearchResources"
        },
        {
          "target": "com.amazonaws.workdocs#UpdateDocument"
        },
        {
          "target": "com.amazonaws.workdocs#UpdateDocumentVersion"
        },
        {
          "target": "com.amazonaws.workdocs#UpdateFolder"
        },
        {
          "target": "com.amazonaws.workdocs#UpdateUser"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "WorkDocs",
          "arnNamespace": "workdocs",
          "cloudFormationName": "WorkDocs",
          "cloudTrailEventSource": "workdocs.amazonaws.com",
          "endpointPrefix": "workdocs"
        },
        "aws.auth#sigv4": {
          "name": "workdocs"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Amazon WorkDocs API is designed for the following use cases:</p>\n         <ul>\n            <li>\n               <p>File Migration: File migration applications are supported for users who\n                    want to migrate their files from an on-premises or off-premises file system or\n                    service. Users can insert files into a user directory structure, as well as\n                    allow for basic metadata changes, such as modifications to the permissions of\n                    files.</p>\n            </li>\n            <li>\n               <p>Security: Support security applications are supported for users who have\n                    additional security needs, such as antivirus or data loss prevention. The API\n                    actions, along with CloudTrail, allow these applications to detect when\n                    changes occur in Amazon WorkDocs. Then, the application can take the necessary\n                    actions and replace the target file. If the target file violates the policy, the\n                    application can also choose to email the user.</p>\n            </li>\n            <li>\n               <p>eDiscovery/Analytics: General administrative applications are supported,\n                    such as eDiscovery and analytics. These applications can choose to mimic or\n                    record the actions in an Amazon WorkDocs site, along with CloudTrail, to\n                    replicate data for eDiscovery, backup, or analytical applications.</p>\n            </li>\n         </ul>\n         <p>All Amazon WorkDocs API actions are Amazon authenticated and certificate-signed.\n            They not only require the use of the Amazon Web Services SDK, but also allow for the exclusive use of\n            IAM users and roles to help facilitate access, trust, and permission policies. By\n            creating a role and allowing an IAM user to access the Amazon WorkDocs site, the\n            IAM user gains full administrative visibility into the entire Amazon WorkDocs site (or as\n            set in the IAM policy). This includes, but is not limited to, the ability to modify file\n            permissions and upload any file to any user. This allows developers to perform the three\n            use cases above, as well as give users the ability to grant access on a selective basis\n            using the IAM model.</p>\n         <note>\n            <p>The pricing for Amazon WorkDocs APIs varies depending on the API call type for these actions:</p>\n            <ul>\n               <li>\n                  <p>\n                     <code>READ  (Get*)</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>WRITE (Activate*, Add*, Create*, Deactivate*, Initiate*, Update*)</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>LIST (Describe*)</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>DELETE*, CANCEL</code>\n                  </p>\n               </li>\n            </ul>\n            <p>For information about Amazon WorkDocs API pricing, see <a href=\"https://aws.amazon.com/workdocs/pricing/\">Amazon WorkDocs Pricing</a>.</p>\n         </note>",
        "smithy.api#title": "Amazon WorkDocs",
        "smithy.api#xmlNamespace": {
          "uri": "https://aws.amazon.com/api/v1/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://workdocs-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://workdocs-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://workdocs.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://workdocs.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workdocs.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.workdocs#AbortDocumentVersionUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#AbortDocumentVersionUploadRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Aborts the upload of the specified document version that was previously initiated\n            by <a>InitiateDocumentVersionUpload</a>. The client should make this call\n            only when it no longer intends to upload the document version, or fails to do\n            so.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/documents/{DocumentId}/versions/{VersionId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.workdocs#AbortDocumentVersionUploadRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.workdocs#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#ActivateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#ActivateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#ActivateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates the specified user. Only active users can access Amazon\n            WorkDocs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/users/{UserId}/activation",
          "code": 200
        }
      }
    },
    "com.amazonaws.workdocs#ActivateUserRequest": {
      "type": "structure",
      "members": {
        "UserId": {
          "target": "com.amazonaws.workdocs#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#ActivateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.workdocs#User",
          "traits": {
            "smithy.api#documentation": "<p>The user information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workdocs#Activity": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.workdocs#ActivityType",
          "traits": {
            "smithy.api#documentation": "<p>The activity type.</p>"
          }
        },
        "TimeStamp": {
          "target": "com.amazonaws.workdocs#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the action was performed.</p>"
          }
        },
        "IsIndirectActivity": {
          "target": "com.amazonaws.workdocs#BooleanType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether an activity is indirect or direct. An indirect activity results\n            from a direct activity performed on a parent resource. For example, sharing a parent\n            folder (the direct activity) shares all of the subfolders and documents within the\n            parent folder (the indirect activity).</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workdocs#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization.</p>"
          }
        },
        "Initiator": {
          "target": "com.amazonaws.workdocs#UserMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The user who performed the action.</p>"
          }
        },
        "Participants": {
          "target": "com.amazonaws.workdocs#Participants",
          "traits": {
            "smithy.api#documentation": "<p>The list of users or groups impacted by this action. This is an optional field and\n            is filled for the following sharing activities: DOCUMENT_SHARED, DOCUMENT_SHARED,\n            DOCUMENT_UNSHARED, FOLDER_SHARED, FOLDER_UNSHARED.</p>"
          }
        },
        "ResourceMetadata": {
          "target": "com.amazonaws.workdocs#ResourceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the resource involved in the user action.</p>"
          }
        },
        "OriginalParent": {
          "target": "com.amazonaws.workdocs#ResourceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The original parent of the resource. This is an optional field and is filled for\n            move activities.</p>"
          }
        },
        "CommentMetadata": {
          "target": "com.amazonaws.workdocs#CommentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata of the commenting activity. This is an optional field and is filled for\n            commenting activities.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the activity information.</p>"
      }
    },
    "com.amazonaws.workdocs#ActivityNamesFilterType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\w,]+$"
      }
    },
    "com.amazonaws.workdocs#ActivityType": {
      "type": "enum",
      "members": {
        "DOCUMENT_CHECKED_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_CHECKED_IN"
          }
        },
        "DOCUMENT_CHECKED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_CHECKED_OUT"
          }
        },
        "DOCUMENT_RENAMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_RENAMED"
          }
        },
        "DOCUMENT_VERSION_UPLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_VERSION_UPLOADED"
          }
        },
        "DOCUMENT_VERSION_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_VERSION_DELETED"
          }
        },
        "DOCUMENT_VERSION_VIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_VERSION_VIEWED"
          }
        },
        "DOCUMENT_VERSION_DOWNLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_VERSION_DOWNLOADED"
          }
        },
        "DOCUMENT_RECYCLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_RECYCLED"
          }
        },
        "DOCUMENT_RESTORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_RESTORED"
          }
        },
        "DOCUMENT_REVERTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_REVERTED"
          }
        },
        "DOCUMENT_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_SHARED"
          }
        },
        "DOCUMENT_UNSHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_UNSHARED"
          }
        },
        "DOCUMENT_SHARE_PERMISSION_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_SHARE_PERMISSION_CHANGED"
          }
        },
        "DOCUMENT_SHAREABLE_LINK_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_SHAREABLE_LINK_CREATED"
          }
        },
        "DOCUMENT_SHAREABLE_LINK_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_SHAREABLE_LINK_REMOVED"
          }
        },
        "DOCUMENT_SHAREABLE_LINK_PERMISSION_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_SHAREABLE_LINK_PERMISSION_CHANGED"
          }
        },
        "DOCUMENT_MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_MOVED"
          }
        },
        "DOCUMENT_COMMENT_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_COMMENT_ADDED"
          }
        },
        "DOCUMENT_COMMENT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_COMMENT_DELETED"
          }
        },
        "DOCUMENT_ANNOTATION_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_ANNOTATION_ADDED"
          }
        },
        "DOCUMENT_ANNOTATION_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_ANNOTATION_DELETED"
          }
        },
        "FOLDER_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_CREATED"
          }
        },
        "FOLDER_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_DELETED"
          }
        },
        "FOLDER_RENAMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_RENAMED"
          }
        },
        "FOLDER_RECYCLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_RECYCLED"
          }
        },
        "FOLDER_RESTORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_RESTORED"
          }
        },
        "FOLDER_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_SHARED"
          }
        },
        "FOLDER_UNSHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_UNSHARED"
          }
        },
        "FOLDER_SHARE_PERMISSION_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_SHARE_PERMISSION_CHANGED"
          }
        },
        "FOLDER_SHAREABLE_LINK_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_SHAREABLE_LINK_CREATED"
          }
        },
        "FOLDER_SHAREABLE_LINK_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_SHAREABLE_LINK_REMOVED"
          }
        },
        "FOLDER_SHAREABLE_LINK_PERMISSION_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_SHAREABLE_LINK_PERMISSION_CHANGED"
          }
        },
        "FOLDER_MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_MOVED"
          }
        }
      }
    },
    "com.amazonaws.workdocs#AddResourcePermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#AddResourcePermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#AddResourcePermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a set of permissions for the specified folder or document. The resource\n            permissions are overwritten if the principals already have different\n            permissions.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/resources/{ResourceId}/permissions",
          "code": 201
        }
      }
    },
    "com.amazonaws.workdocs#AddResourcePermissionsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Principals": {
          "target": "com.amazonaws.workdocs#SharePrincipalList",
          "traits": {
            "smithy.api#documentation": "<p>The users, groups, or organization being granted permission.</p>",
            "smithy.api#required": {}
          }
        },
        "NotificationOptions": {
          "target": "com.amazonaws.workdocs#NotificationOptions",
          "traits": {
            "smithy.api#documentation": "<p>The notification options.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#AddResourcePermissionsResponse": {
      "type": "structure",
      "members": {
        "ShareResults": {
          "target": "com.amazonaws.workdocs#ShareResultsList",
          "traits": {
            "smithy.api#documentation": "<p>The share results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workdocs#AdditionalResponseFieldType": {
      "type": "enum",
      "members": {
        "WEBURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBURL"
          }
        }
      }
    },
    "com.amazonaws.workdocs#AdditionalResponseFieldsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workdocs#AdditionalResponseFieldType"
      }
    },
    "com.amazonaws.workdocs#AuthenticationHeaderType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8199
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.workdocs#BooleanEnumType": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUE"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALSE"
          }
        }
      }
    },
    "com.amazonaws.workdocs#BooleanType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.workdocs#Comment": {
      "type": "structure",
      "members": {
        "CommentId": {
          "target": "com.amazonaws.workdocs#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the comment.</p>",
            "smithy.api#required": {}
          }
        },
        "ParentId": {
          "target": "com.amazonaws.workdocs#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent comment.</p>"
          }
        },
        "ThreadId": {
          "target": "com.amazonaws.workdocs#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the root comment in the thread.</p>"
          }
        },
        "Text": {
          "target": "com.amazonaws.workdocs#CommentTextType",
          "traits": {
            "smithy.api#documentation": "<p>The text of the comment.</p>"
          }
        },
        "Contributor": {
          "target": "com.amazonaws.workdocs#User",
          "traits": {
            "smithy.api#documentation": "<p>The details of the user who made the comment.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.workdocs#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The time that the comment was created.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.workdocs#CommentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the comment.</p>"
          }
        },
        "Visibility": {
          "target": "com.amazonaws.workdocs#CommentVisibilityType",
          "traits": {
            "smithy.api#documentation": "<p>The visibility of the comment. Options are either PRIVATE, where the comment is\n            visible only to the comment author and document owner and co-owners, or PUBLIC, where\n            the comment is visible to document owners, co-owners, and contributors.</p>"
          }
        },
        "RecipientId": {
          "target": "com.amazonaws.workdocs#IdType",
          "traits": {
            "smithy.api#documentation": "<p>If the comment is a reply to another user's comment, this field contains the user\n            ID of the user being replied to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a comment.</p>"
      }
    },
    "com.amazonaws.workdocs#CommentIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\w+-.@]+$"
      }
    },
    "com.amazonaws.workdocs#CommentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workdocs#Comment"
      }
    },
    "com.amazonaws.workdocs#CommentMetadata": {
      "type": "structure",
      "members": {
        "CommentId": {
          "target": "com.amazonaws.workdocs#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the comment.</p>"
          }
        },
        "Contributor": {
          "target": "com.amazonaws.workdocs#User",
          "traits": {
            "smithy.api#documentation": "<p>The user who made the comment.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.workdocs#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that the comment was created.</p>"
          }
        },
        "CommentStatus": {
          "target": "com.amazonaws.workdocs#CommentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the comment.</p>"
          }
        },
        "RecipientId": {
          "target": "com.amazonaws.workdocs#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user being replied to.</p>"
          }
        },
        "ContributorId": {
          "target": "com.amazonaws.workdocs#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user who made the comment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the metadata of a comment.</p>"
      }
    },
    "com.amazonaws.workdocs#CommentStatusType": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.workdocs#CommentTextType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.workdocs#CommentVisibilityType": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        }
      }
    },
    "com.amazonaws.workdocs#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workdocs#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource hierarchy is changing.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.workdocs#ConflictingOperationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workdocs#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another operation is in progress on the resource that conflicts with the current operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.workdocs#ContentCategoryType": {
      "type": "enum",
      "members": {
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PDF"
          }
        },
        "SPREADSHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPREADSHEET"
          }
        },
        "PRESENTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRESENTATION"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "SOURCE_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_CODE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.amazonaws.workdocs#CreateComment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#CreateCommentRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#CreateCommentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#DocumentLockedForCommentsException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#InvalidCommentOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new comment to the specified document version.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/documents/{DocumentId}/versions/{VersionId}/comment",
          "code": 201
        }
      }
    },
    "com.amazonaws.workdocs#CreateCommentRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.workdocs#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ParentId": {
          "target": "com.amazonaws.workdocs#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent comment.</p>"
          }
        },
        "ThreadId": {
          "target": "com.amazonaws.workdocs#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the root comment in the thread.</p>"
          }
        },
        "Text": {
          "target": "com.amazonaws.workdocs#CommentTextType",
          "traits": {
            "smithy.api#documentation": "<p>The text of the comment.</p>",
            "smithy.api#required": {}
          }
        },
        "Visibility": {
          "target": "com.amazonaws.workdocs#CommentVisibilityType",
          "traits": {
            "smithy.api#documentation": "<p>The visibility of the comment. Options are either PRIVATE, where the comment is\n            visible only to the comment author and document owner and co-owners, or PUBLIC, where\n            the comment is visible to document owners, co-owners, and contributors.</p>"
          }
        },
        "NotifyCollaborators": {
          "target": "com.amazonaws.workdocs#BooleanType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Set this parameter to TRUE to send an email out to the document collaborators after\n            the comment is created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#CreateCommentResponse": {
      "type": "structure",
      "members": {
        "Comment": {
          "target": "com.amazonaws.workdocs#Comment",
          "traits": {
            "smithy.api#documentation": "<p>The comment that has been created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workdocs#CreateCustomMetadata": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#CreateCustomMetadataRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#CreateCustomMetadataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#CustomMetadataLimitExceededException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more custom properties to the specified resource (a folder, document,\n            or version).</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/resources/{ResourceId}/customMetadata",
          "code": 200
        }
      }
    },
    "com.amazonaws.workdocs#CreateCustomMetadataRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.workdocs#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the version, if the custom metadata is being added to a document\n            version.</p>",
            "smithy.api#httpQuery": "versionid"
          }
        },
        "CustomMetadata": {
          "target": "com.amazonaws.workdocs#CustomMetadataMap",
          "traits": {
            "smithy.api#documentation": "<p>Custom metadata in the form of name-value pairs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#CreateCustomMetadataResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workdocs#CreateFolder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#CreateFolderRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#CreateFolderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.workdocs#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a folder with the specified name and parent folder.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/folders",
          "code": 201
        }
      }
    },
    "com.amazonaws.workdocs#CreateFolderRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "Name": {
          "target": "com.amazonaws.workdocs#ResourceNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new folder.</p>"
          }
        },
        "ParentFolderId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent folder.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#CreateFolderResponse": {
      "type": "structure",
      "members": {
        "Metadata": {
          "target": "com.amazonaws.workdocs#FolderMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the folder.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workdocs#CreateLabels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#CreateLabelsRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#CreateLabelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#TooManyLabelsException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified list of labels to the given resource (a document or\n            folder)</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/resources/{ResourceId}/labels",
          "code": 200
        }
      }
    },
    "com.amazonaws.workdocs#CreateLabelsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Labels": {
          "target": "com.amazonaws.workdocs#SharedLabels",
          "traits": {
            "smithy.api#documentation": "<p>List of labels to add to the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#CreateLabelsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workdocs#CreateNotificationSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#CreateNotificationSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#CreateNotificationSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#TooManySubscriptionsException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configure Amazon WorkDocs to use Amazon SNS notifications. The endpoint receives a\n            confirmation message, and must confirm the subscription.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/workdocs/latest/developerguide/manage-notifications.html\">Setting up notifications for an IAM user or role</a> in the <i>Amazon WorkDocs Developer\n            Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/organizations/{OrganizationId}/subscriptions",
          "code": 200
        }
      }
    },
    "com.amazonaws.workdocs#CreateNotificationSubscriptionRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workdocs#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Endpoint": {
          "target": "com.amazonaws.workdocs#SubscriptionEndPointType",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to receive the notifications. If the protocol is HTTPS, the endpoint\n            is a URL that begins with <code>https</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.workdocs#SubscriptionProtocolType",
          "traits": {
            "smithy.api#documentation": "<p>The protocol to use. The supported value is https, which delivers JSON-encoded\n            messages using HTTPS POST.</p>",
            "smithy.api#required": {}
          }
        },
        "SubscriptionType": {
          "target": "com.amazonaws.workdocs#SubscriptionType",
          "traits": {
            "smithy.api#documentation": "<p>The notification type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#CreateNotificationSubscriptionResponse": {
      "type": "structure",
      "members": {
        "Subscription": {
          "target": "com.amazonaws.workdocs#Subscription",
          "traits": {
            "smithy.api#documentation": "<p>The subscription.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workdocs#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user in a Simple AD or Microsoft AD directory. The status of a newly\n            created user is \"ACTIVE\". New users can access Amazon WorkDocs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/users",
          "code": 201
        }
      }
    },
    "com.amazonaws.workdocs#CreateUserRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workdocs#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the organization.</p>"
          }
        },
        "Username": {
          "target": "com.amazonaws.workdocs#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The login name of the user.</p>",
            "smithy.api#required": {}
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.workdocs#EmailAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the user.</p>"
          }
        },
        "GivenName": {
          "target": "com.amazonaws.workdocs#UserAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The given name of the user.</p>",
            "smithy.api#required": {}
          }
        },
        "Surname": {
          "target": "com.amazonaws.workdocs#UserAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The surname of the user.</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.workdocs#PasswordType",
          "traits": {
            "smithy.api#documentation": "<p>The password of the user.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeZoneId": {
          "target": "com.amazonaws.workdocs#TimeZoneIdType",
          "traits": {
            "smithy.api#documentation": "<p>The time zone ID of the user.</p>"
          }
        },
        "StorageRule": {
          "target": "com.amazonaws.workdocs#StorageRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage for the user.</p>"
          }
        },
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#CreateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.workdocs#User",
          "traits": {
            "smithy.api#documentation": "<p>The user information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workdocs#CustomMetadataKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workdocs#CustomMetadataKeyType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8
        }
      }
    },
    "com.amazonaws.workdocs#CustomMetadataKeyType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 56
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*$"
      }
    },
    "com.amazonaws.workdocs#CustomMetadataLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workdocs#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The limit has been reached on the number of custom properties for the specified\n            resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.workdocs#CustomMetadataMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.workdocs#CustomMetadataKeyType"
      },
      "value": {
        "target": "com.amazonaws.workdocs#CustomMetadataValueType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazonaws.workdocs#CustomMetadataValueType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*$"
      }
    },
    "com.amazonaws.workdocs#DateRangeType": {
      "type": "structure",
      "members": {
        "StartValue": {
          "target": "com.amazonaws.workdocs#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp range start value (in epochs)</p>"
          }
        },
        "EndValue": {
          "target": "com.amazonaws.workdocs#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp range end value (in epochs).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters results based on timestamp range (in epochs).</p>"
      }
    },
    "com.amazonaws.workdocs#DeactivateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#DeactivateUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deactivates the specified user, which revokes the user's access to Amazon\n            WorkDocs.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/users/{UserId}/activation",
          "code": 204
        }
      }
    },
    "com.amazonaws.workdocs#DeactivateUserRequest": {
      "type": "structure",
      "members": {
        "UserId": {
          "target": "com.amazonaws.workdocs#IdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#DeactivatingLastSystemUserException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workdocs#ErrorMessageType"
        },
        "Code": {
          "target": "com.amazonaws.workdocs#ExceptionCodeType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The last user in the organization is being deactivated.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.workdocs#DeleteComment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#DeleteCommentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#DocumentLockedForCommentsException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified comment from the document version.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/documents/{DocumentId}/versions/{VersionId}/comment/{CommentId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.workdocs#DeleteCommentRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.workdocs#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CommentId": {
          "target": "com.amazonaws.workdocs#CommentIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the comment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#DeleteCustomMetadata": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#DeleteCustomMetadataRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#DeleteCustomMetadataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes custom metadata from the specified resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/resources/{ResourceId}/customMetadata",
          "code": 200
        }
      }
    },
    "com.amazonaws.workdocs#DeleteCustomMetadataRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource, either a document or folder.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.workdocs#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the version, if the custom metadata is being deleted from a document\n            version.</p>",
            "smithy.api#httpQuery": "versionId"
          }
        },
        "Keys": {
          "target": "com.amazonaws.workdocs#CustomMetadataKeyList",
          "traits": {
            "smithy.api#documentation": "<p>List of properties to remove.</p>",
            "smithy.api#httpQuery": "keys"
          }
        },
        "DeleteAll": {
          "target": "com.amazonaws.workdocs#BooleanType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Flag to indicate removal of all custom metadata properties from the specified\n            resource.</p>",
            "smithy.api#httpQuery": "deleteAll"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#DeleteCustomMetadataResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.workdocs#DeleteDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#DeleteDocumentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.workdocs#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified document and its associated metadata.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/documents/{DocumentId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.workdocs#DeleteDocumentRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#DeleteDocumentVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#DeleteDocumentVersionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.workdocs#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific version of a document.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/documentVersions/{DocumentId}/versions/{VersionId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.workdocs#DeleteDocumentVersionRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "DocumentId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the document associated with the version being deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.workdocs#DocumentVersionIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the version being deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeletePriorVersions": {
          "target": "com.amazonaws.workdocs#BooleanType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Deletes all versions of a document prior to the current version.</p>",
            "smithy.api#httpQuery": "deletePriorVersions",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#DeleteFolder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#DeleteFolderRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.workdocs#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified folder and its contents.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/folders/{FolderId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.workdocs#DeleteFolderContents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#DeleteFolderContentsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the contents of the specified folder.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/folders/{FolderId}/contents",
          "code": 204
        }
      }
    },
    "com.amazonaws.workdocs#DeleteFolderContentsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "FolderId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the folder.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#DeleteFolderRequest": {
      "type": "structure",
      "members": {
        "AuthenticationToken": {
          "target": "com.amazonaws.workdocs#AuthenticationHeaderType",
          "traits": {
            "smithy.api#documentation": "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
            "smithy.api#httpHeader": "Authentication"
          }
        },
        "FolderId": {
          "target": "com.amazonaws.workdocs#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the folder.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.workdocs#DeleteLabels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workdocs#DeleteLabelsRequest"
      },
      "output": {
        "target": "com.amazonaws.workdocs#DeleteLabelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workdocs#EntityNotExistsException"
        },
        {
          "target": "com.amazonaws.workdocs#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.workdocs#ProhibitedStateException"
        },
        {
          "target": "com.amazonaws.workdocs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedOperationException"
        },
        {
          "target": "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified list of labels from a resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/resources/{ResourceId}/labels",
          "code": 200
        }
      }
    },
    "com.amazonaws.workdocs#DeleteLabelsRequest": {
[...]
