{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.workspacesweb#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[\\w+=\\/,.@-]+:[a-zA-Z0-9\\-]+:[a-zA-Z0-9\\-]*:[a-zA-Z0-9]{1,12}:[a-zA-Z]+(\\/[a-fA-F0-9\\-]{36})+$"
      }
    },
    "com.amazonaws.workspacesweb#AWSErmineControlPlaneService": {
      "type": "service",
      "version": "2020-07-08",
      "operations": [
        {
          "target": "com.amazonaws.workspacesweb#AssociateBrowserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#AssociateNetworkSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#AssociateTrustStore"
        },
        {
          "target": "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#AssociateUserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#CreateBrowserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#CreateIdentityProvider"
        },
        {
          "target": "com.amazonaws.workspacesweb#CreateNetworkSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#CreatePortal"
        },
        {
          "target": "com.amazonaws.workspacesweb#CreateTrustStore"
        },
        {
          "target": "com.amazonaws.workspacesweb#CreateUserAccessLoggingSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#CreateUserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#DeleteBrowserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#DeleteIdentityProvider"
        },
        {
          "target": "com.amazonaws.workspacesweb#DeleteNetworkSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#DeletePortal"
        },
        {
          "target": "com.amazonaws.workspacesweb#DeleteTrustStore"
        },
        {
          "target": "com.amazonaws.workspacesweb#DeleteUserAccessLoggingSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#DeleteUserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#DisassociateBrowserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#DisassociateNetworkSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#DisassociateTrustStore"
        },
        {
          "target": "com.amazonaws.workspacesweb#DisassociateUserAccessLoggingSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#DisassociateUserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#GetBrowserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#GetIdentityProvider"
        },
        {
          "target": "com.amazonaws.workspacesweb#GetNetworkSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#GetPortal"
        },
        {
          "target": "com.amazonaws.workspacesweb#GetPortalServiceProviderMetadata"
        },
        {
          "target": "com.amazonaws.workspacesweb#GetTrustStore"
        },
        {
          "target": "com.amazonaws.workspacesweb#GetTrustStoreCertificate"
        },
        {
          "target": "com.amazonaws.workspacesweb#GetUserAccessLoggingSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#GetUserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#ListBrowserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#ListIdentityProviders"
        },
        {
          "target": "com.amazonaws.workspacesweb#ListNetworkSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#ListPortals"
        },
        {
          "target": "com.amazonaws.workspacesweb#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.workspacesweb#ListTrustStoreCertificates"
        },
        {
          "target": "com.amazonaws.workspacesweb#ListTrustStores"
        },
        {
          "target": "com.amazonaws.workspacesweb#ListUserAccessLoggingSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#ListUserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#TagResource"
        },
        {
          "target": "com.amazonaws.workspacesweb#UntagResource"
        },
        {
          "target": "com.amazonaws.workspacesweb#UpdateBrowserSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#UpdateIdentityProvider"
        },
        {
          "target": "com.amazonaws.workspacesweb#UpdateNetworkSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#UpdatePortal"
        },
        {
          "target": "com.amazonaws.workspacesweb#UpdateTrustStore"
        },
        {
          "target": "com.amazonaws.workspacesweb#UpdateUserAccessLoggingSettings"
        },
        {
          "target": "com.amazonaws.workspacesweb#UpdateUserSettings"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "WorkSpaces Web",
          "arnNamespace": "workspaces-web",
          "cloudFormationName": "WorkSpacesWeb",
          "cloudTrailEventSource": "workspaces-web.amazonaws.com",
          "endpointPrefix": "workspaces-web"
        },
        "aws.auth#sigv4": {
          "name": "workspaces-web"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>WorkSpaces Web is a low cost, fully managed WorkSpace built specifically to facilitate\n         secure, web-based workloads. WorkSpaces Web makes it easy for customers to safely provide\n         their employees with access to internal websites and SaaS web applications without the\n         administrative burden of appliances or specialized client software. WorkSpaces Web provides\n         simple policy tools tailored for user interactions, while offloading common tasks like\n         capacity management, scaling, and maintaining browser images.</p>",
        "smithy.api#title": "Amazon WorkSpaces Web",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://workspaces-web-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://workspaces-web-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://workspaces-web.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://workspaces-web.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://workspaces-web.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.workspacesweb#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspacesweb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access is denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.workspacesweb#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspacesweb#ARN"
      }
    },
    "com.amazonaws.workspacesweb#AssociateBrowserSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#AssociateBrowserSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#AssociateBrowserSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a browser settings resource with a web portal.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/portals/{portalArn+}/browserSettings",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#AssociateBrowserSettingsRequest": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "browserSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
            "smithy.api#httpQuery": "browserSettingsArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AssociateBrowserSettingsResponse": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#required": {}
          }
        },
        "browserSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AssociateNetworkSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#AssociateNetworkSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#AssociateNetworkSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a network settings resource with a web portal.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/portals/{portalArn+}/networkSettings",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#AssociateNetworkSettingsRequest": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "networkSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the network settings.</p>",
            "smithy.api#httpQuery": "networkSettingsArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AssociateNetworkSettingsResponse": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#required": {}
          }
        },
        "networkSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the network settings.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AssociateTrustStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#AssociateTrustStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#AssociateTrustStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a trust store with a web portal.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/portals/{portalArn+}/trustStores",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#AssociateTrustStoreRequest": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "trustStoreArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the trust store.</p>",
            "smithy.api#httpQuery": "trustStoreArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AssociateTrustStoreResponse": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#required": {}
          }
        },
        "trustStoreArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the trust store.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a user access logging settings resource with a web portal.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/portals/{portalArn+}/userAccessLoggingSettings",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsRequest": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userAccessLoggingSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the user access logging settings.</p>",
            "smithy.api#httpQuery": "userAccessLoggingSettingsArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsResponse": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#required": {}
          }
        },
        "userAccessLoggingSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the user access logging settings.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AssociateUserSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#AssociateUserSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#AssociateUserSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a user settings resource with a web portal.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/portals/{portalArn+}/userSettings",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#AssociateUserSettingsRequest": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the user settings.</p>",
            "smithy.api#httpQuery": "userSettingsArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AssociateUserSettingsResponse": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#required": {}
          }
        },
        "userSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the user settings.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#AuthenticationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Standard",
            "name": "STANDARD"
          },
          {
            "value": "IAM_Identity_Center",
            "name": "IAM_IDENTITY_CENTER"
          }
        ]
      }
    },
    "com.amazonaws.workspacesweb#BrowserPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 131072
        },
        "smithy.api#pattern": "\\{[\\S\\s]*\\}\\s*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.workspacesweb#BrowserSettings": {
      "type": "structure",
      "members": {
        "browserSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
            "smithy.api#required": {}
          }
        },
        "associatedPortalArns": {
          "target": "com.amazonaws.workspacesweb#ArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of web portal ARNs that this browser settings is associated with.</p>"
          }
        },
        "browserPolicy": {
          "target": "com.amazonaws.workspacesweb#BrowserPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A JSON string containing Chrome Enterprise policies that will be applied to all\n         streaming sessions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The browser settings resource that can be associated with a web portal. Once associated\n         with a web portal, browser settings control how the browser will behave once a user starts\n         a streaming session for the web portal. </p>"
      }
    },
    "com.amazonaws.workspacesweb#BrowserSettingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspacesweb#BrowserSettingsSummary"
      }
    },
    "com.amazonaws.workspacesweb#BrowserSettingsSummary": {
      "type": "structure",
      "members": {
        "browserSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the browser settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary for browser settings.</p>"
      }
    },
    "com.amazonaws.workspacesweb#BrowserType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Chrome",
            "name": "CHROME"
          }
        ]
      }
    },
    "com.amazonaws.workspacesweb#Certificate": {
      "type": "structure",
      "members": {
        "thumbprint": {
          "target": "com.amazonaws.workspacesweb#CertificateThumbprint",
          "traits": {
            "smithy.api#documentation": "<p>A hexadecimal identifier for the certificate.</p>"
          }
        },
        "subject": {
          "target": "com.amazonaws.workspacesweb#CertificatePrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The entity the certificate belongs to.</p>"
          }
        },
        "issuer": {
          "target": "com.amazonaws.workspacesweb#CertificatePrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The entity that issued the certificate.</p>"
          }
        },
        "notValidBefore": {
          "target": "com.amazonaws.workspacesweb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The certificate is not valid before this date.</p>"
          }
        },
        "notValidAfter": {
          "target": "com.amazonaws.workspacesweb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The certificate is not valid after this date.</p>"
          }
        },
        "body": {
          "target": "com.amazonaws.workspacesweb#CertificateAuthorityBody",
          "traits": {
            "smithy.api#documentation": "<p>The body of the certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate.</p>"
      }
    },
    "com.amazonaws.workspacesweb#CertificateAuthorityBody": {
      "type": "blob"
    },
    "com.amazonaws.workspacesweb#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspacesweb#CertificateAuthorityBody"
      }
    },
    "com.amazonaws.workspacesweb#CertificatePrincipal": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.workspacesweb#CertificateSummary": {
      "type": "structure",
      "members": {
        "thumbprint": {
          "target": "com.amazonaws.workspacesweb#CertificateThumbprint",
          "traits": {
            "smithy.api#documentation": "<p>A hexadecimal identifier for the certificate.</p>"
          }
        },
        "subject": {
          "target": "com.amazonaws.workspacesweb#CertificatePrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The entity the certificate belongs to.</p>"
          }
        },
        "issuer": {
          "target": "com.amazonaws.workspacesweb#CertificatePrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The entity that issued the certificate.</p>"
          }
        },
        "notValidBefore": {
          "target": "com.amazonaws.workspacesweb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The certificate is not valid before this date.</p>"
          }
        },
        "notValidAfter": {
          "target": "com.amazonaws.workspacesweb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The certificate is not valid after this date.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the certificate.</p>"
      }
    },
    "com.amazonaws.workspacesweb#CertificateSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspacesweb#CertificateSummary"
      }
    },
    "com.amazonaws.workspacesweb#CertificateThumbprint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 64,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Fa-f0-9]{64}$"
      }
    },
    "com.amazonaws.workspacesweb#CertificateThumbprintList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspacesweb#CertificateThumbprint"
      }
    },
    "com.amazonaws.workspacesweb#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.workspacesweb#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspacesweb#ExceptionMessage"
        },
        "resourceId": {
          "target": "com.amazonaws.workspacesweb#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the resource affected.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.workspacesweb#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Type of the resource affected.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is a conflict.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.workspacesweb#CreateBrowserSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#CreateBrowserSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#CreateBrowserSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a browser settings resource that can be associated with a web portal. Once\n         associated with a web portal, browser settings control how the browser will behave once a\n         user starts a streaming session for the web portal. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/browserSettings",
          "code": 200
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateBrowserSettingsRequest": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.workspacesweb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the browser settings resource. A tag is a key-value pair.</p>"
          }
        },
        "customerManagedKey": {
          "target": "com.amazonaws.workspacesweb#keyArn",
          "traits": {
            "smithy.api#documentation": "<p>The custom managed key of the browser settings.</p>"
          }
        },
        "additionalEncryptionContext": {
          "target": "com.amazonaws.workspacesweb#EncryptionContextMap",
          "traits": {
            "smithy.api#documentation": "<p>Additional encryption context of the browser settings.</p>"
          }
        },
        "browserPolicy": {
          "target": "com.amazonaws.workspacesweb#BrowserPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A JSON string containing Chrome Enterprise policies that will be applied to all\n         streaming sessions.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.workspacesweb#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request. Idempotency ensures that an API request completes only once. With an idempotent\n         request, if the original request completes successfully, subsequent retries with the same\n         client token returns the result from the original successful request.</p>\n         <p>If you do not specify a client token, one is automatically generated by the AWS SDK. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateBrowserSettingsResponse": {
      "type": "structure",
      "members": {
        "browserSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateIdentityProvider": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#CreateIdentityProviderRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#CreateIdentityProviderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an identity provider resource that is then associated with a web portal.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/identityProviders",
          "code": 200
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateIdentityProviderRequest": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#required": {}
          }
        },
        "identityProviderName": {
          "target": "com.amazonaws.workspacesweb#IdentityProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The identity provider name.</p>",
            "smithy.api#required": {}
          }
        },
        "identityProviderType": {
          "target": "com.amazonaws.workspacesweb#IdentityProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The identity provider type.</p>",
            "smithy.api#required": {}
          }
        },
        "identityProviderDetails": {
          "target": "com.amazonaws.workspacesweb#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "<p>The identity provider details. The following list describes the provider detail keys for\n         each identity provider type. </p>\n         <ul>\n            <li>\n               <p>For Google and Login with Amazon:</p>      \n               <ul>\n                  <li>\n                     <p>\n                        <code>client_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>client_secret</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>authorize_scopes</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>For Facebook:</p>      \n               <ul>\n                  <li>\n                     <p>\n                        <code>client_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>client_secret</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>authorize_scopes</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>api_version</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>For Sign in with Apple:</p>      \n               <ul>\n                  <li>\n                     <p>\n                        <code>client_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>team_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>key_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>private_key</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>authorize_scopes</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>For OIDC providers:</p>      \n               <ul>\n                  <li>\n                     <p>\n                        <code>client_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>client_secret</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>attributes_request_method</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>oidc_issuer</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>authorize_scopes</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>authorize_url</code>\n                        <i>if not available from discovery URL specified by\n                           <code>oidc_issuer</code> key</i>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>token_url</code>\n                        <i>if not available from discovery URL specified by\n                           <code>oidc_issuer</code> key</i>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>attributes_url</code>\n                        <i>if not available from discovery URL specified by\n                           <code>oidc_issuer</code> key</i>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>jwks_uri</code>\n                        <i>if not available from discovery URL specified by\n                           <code>oidc_issuer</code> key</i>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>For SAML providers:</p>      \n               <ul>\n                  <li>\n                     <p>\n                        <code>MetadataFile</code> OR <code>MetadataURL</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>IDPSignout</code> (boolean) \n               <i>optional</i>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.workspacesweb#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request. Idempotency ensures that an API request completes only once. With an idempotent\n         request, if the original request completes successfully, subsequent retries with the same\n         client token returns the result from the original successful request.</p>\n         <p>If you do not specify a client token, one is automatically generated by the AWS\n         SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateIdentityProviderResponse": {
      "type": "structure",
      "members": {
        "identityProviderArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the identity provider.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateNetworkSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#CreateNetworkSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#CreateNetworkSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a network settings resource that can be associated with a web portal. Once\n         associated with a web portal, network settings define how streaming instances will connect\n         with your specified VPC. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/networkSettings",
          "code": 200
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateNetworkSettingsRequest": {
      "type": "structure",
      "members": {
        "vpcId": {
          "target": "com.amazonaws.workspacesweb#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The VPC that streaming instances will connect to.</p>",
            "smithy.api#required": {}
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.workspacesweb#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>The subnets in which network interfaces are created to connect streaming instances to your VPC. At least two of these subnets must be in different availability zones.</p>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.workspacesweb#SecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>One or more security groups used to control access from streaming instances to your VPC.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.workspacesweb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the network settings resource. A tag is a key-value pair.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.workspacesweb#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request. Idempotency ensures that an API request completes only once. With an idempotent\n         request, if the original request completes successfully, subsequent retries with the same\n         client token returns the result from the original successful request. </p>\n         <p>If you do not specify a client token, one is automatically generated by the AWS\n         SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateNetworkSettingsResponse": {
      "type": "structure",
      "members": {
        "networkSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the network settings.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreatePortal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#CreatePortalRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#CreatePortalResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a web portal.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/portals",
          "code": 200
        }
      }
    },
    "com.amazonaws.workspacesweb#CreatePortalRequest": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "com.amazonaws.workspacesweb#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the web portal. This is not visible to users who log into the web portal.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.workspacesweb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the web portal. A tag is a key-value pair.</p>"
          }
        },
        "customerManagedKey": {
          "target": "com.amazonaws.workspacesweb#keyArn",
          "traits": {
            "smithy.api#documentation": "<p>The customer managed key of the web portal.</p>"
          }
        },
        "additionalEncryptionContext": {
          "target": "com.amazonaws.workspacesweb#EncryptionContextMap",
          "traits": {
            "smithy.api#documentation": "<p>The additional encryption context of the portal.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.workspacesweb#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request. Idempotency ensures that an API request completes only once. With an idempotent\n         request, if the original request completes successfully, subsequent retries with the same\n         client token returns the result from the original successful request. </p>\n         <p>If you do not specify a client token, one is automatically generated by the AWS\n         SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "authenticationType": {
          "target": "com.amazonaws.workspacesweb#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication integration points used when signing into the web portal.\n         Defaults to <code>Standard</code>.</p>\n         <p>\n            <code>Standard</code> web portals are authenticated directly through your identity\n         provider. You need to call <code>CreateIdentityProvider</code> to integrate your identity\n         provider with your web portal. User and group access to your web portal is controlled\n         through your identity provider.</p>\n         <p>\n            <code>IAM_Identity_Center</code> web portals are authenticated through AWS IAM Identity\n         Center (successor to AWS Single Sign-On). They provide additional features, such as\n         IdP-initiated authentication. Identity sources (including external identity provider\n         integration), plus user and group access to your web portal, can be configured in the IAM\n         Identity Center.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreatePortalResponse": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#required": {}
          }
        },
        "portalEndpoint": {
          "target": "com.amazonaws.workspacesweb#PortalEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint URL of the web portal that users access in order to start streaming sessions.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateTrustStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#CreateTrustStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#CreateTrustStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a trust store that can be associated with a web portal. A trust store contains\n         certificate authority (CA) certificates. Once associated with a web portal, the browser in\n         a streaming session will recognize certificates that have been issued using any of the CAs\n         in the trust store. If your organization has internal websites that use certificates issued\n         by private CAs, you should add the private CA certificate to the trust store. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/trustStores",
          "code": 200
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateTrustStoreRequest": {
      "type": "structure",
      "members": {
        "certificateList": {
          "target": "com.amazonaws.workspacesweb#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>A list of CA certificates to be added to the trust store.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.workspacesweb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the trust store. A tag is a key-value pair.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.workspacesweb#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request. Idempotency ensures that an API request completes only once. With an idempotent\n         request, if the original request completes successfully, subsequent retries with the same\n         client token returns the result from the original successful request. </p>\n         <p>If you do not specify a client token, one is automatically generated by the AWS\n         SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateTrustStoreResponse": {
      "type": "structure",
      "members": {
        "trustStoreArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the trust store.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateUserAccessLoggingSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#CreateUserAccessLoggingSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#CreateUserAccessLoggingSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user access logging settings resource that can be associated with a web portal.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/userAccessLoggingSettings",
          "code": 200
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateUserAccessLoggingSettingsRequest": {
      "type": "structure",
      "members": {
        "kinesisStreamArn": {
          "target": "com.amazonaws.workspacesweb#KinesisStreamArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Kinesis stream.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.workspacesweb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the user settings resource. A tag is a key-value pair.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.workspacesweb#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request. Idempotency ensures that an API request completes only once. With an idempotent\n         request, if the original request completes successfully, subsequent retries with the same\n         client token returns the result from the original successful request. </p>\n         <p>If you do not specify a client token, one is automatically generated by the AWS\n         SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateUserAccessLoggingSettingsResponse": {
      "type": "structure",
      "members": {
        "userAccessLoggingSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the user access logging settings.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateUserSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#CreateUserSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#CreateUserSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user settings resource that can be associated with a web portal. Once\n         associated with a web portal, user settings control how users can transfer data between a\n         streaming session and the their local devices. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/userSettings",
          "code": 200
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateUserSettingsRequest": {
      "type": "structure",
      "members": {
        "copyAllowed": {
          "target": "com.amazonaws.workspacesweb#EnabledType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the user can copy text from the streaming session to the local\n         device.</p>",
            "smithy.api#required": {}
          }
        },
        "pasteAllowed": {
          "target": "com.amazonaws.workspacesweb#EnabledType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the user can paste text from the local device to the streaming\n         session.</p>",
            "smithy.api#required": {}
          }
        },
        "downloadAllowed": {
          "target": "com.amazonaws.workspacesweb#EnabledType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the user can download files from the streaming session to the local\n         device.</p>",
            "smithy.api#required": {}
          }
        },
        "uploadAllowed": {
          "target": "com.amazonaws.workspacesweb#EnabledType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the user can upload files from the local device to the streaming\n         session.</p>",
            "smithy.api#required": {}
          }
        },
        "printAllowed": {
          "target": "com.amazonaws.workspacesweb#EnabledType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the user can print to the local device.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.workspacesweb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the user settings resource. A tag is a key-value pair.</p>"
          }
        },
        "disconnectTimeoutInMinutes": {
          "target": "com.amazonaws.workspacesweb#DisconnectTimeoutInMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that a streaming session remains active after users disconnect.</p>"
          }
        },
        "idleDisconnectTimeoutInMinutes": {
          "target": "com.amazonaws.workspacesweb#IdleDisconnectTimeoutInMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that users can be idle (inactive) before they are disconnected from their streaming session and the disconnect timeout interval begins.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.workspacesweb#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request. Idempotency ensures that an API request completes only once. With an idempotent\n         request, if the original request completes successfully, subsequent retries with the same\n         client token returns the result from the original successful request. </p>\n         <p>If you do not specify a client token, one is automatically generated by the AWS\n         SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#CreateUserSettingsResponse": {
      "type": "structure",
      "members": {
        "userSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the user settings.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#DeleteBrowserSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#DeleteBrowserSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#DeleteBrowserSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes browser settings.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/browserSettings/{browserSettingsArn+}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#DeleteBrowserSettingsRequest": {
      "type": "structure",
      "members": {
        "browserSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#DeleteBrowserSettingsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspacesweb#DeleteIdentityProvider": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#DeleteIdentityProviderRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#DeleteIdentityProviderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the identity provider.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/identityProviders/{identityProviderArn+}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#DeleteIdentityProviderRequest": {
      "type": "structure",
      "members": {
        "identityProviderArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the identity provider.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#DeleteIdentityProviderResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspacesweb#DeleteNetworkSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#DeleteNetworkSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#DeleteNetworkSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes network settings.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/networkSettings/{networkSettingsArn+}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#DeleteNetworkSettingsRequest": {
      "type": "structure",
      "members": {
        "networkSettingsArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the network settings.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#DeleteNetworkSettingsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspacesweb#DeletePortal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#DeletePortalRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#DeletePortalResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a web portal.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/portals/{portalArn+}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#DeletePortalRequest": {
      "type": "structure",
      "members": {
        "portalArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#DeletePortalResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspacesweb#DeleteTrustStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#DeleteTrustStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#DeleteTrustStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the trust store.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/trustStores/{trustStoreArn+}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workspacesweb#DeleteTrustStoreRequest": {
      "type": "structure",
      "members": {
        "trustStoreArn": {
          "target": "com.amazonaws.workspacesweb#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the trust store.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspacesweb#DeleteTrustStoreResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspacesweb#DeleteUserAccessLoggingSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspacesweb#DeleteUserAccessLoggingSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspacesweb#DeleteUserAccessLoggingSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspacesweb#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ConflictException"
        },
        {
          "target": "com.amazonaws.workspacesweb#InternalServerException"
        },
        {
          "target": "com.amazonaws.workspacesweb#ThrottlingException"
        },
        {
[...]
