{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.workspaces#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$"
      }
    },
    "com.amazonaws.workspaces#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.workspaces#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user is not authorized to access a resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workspaces#AccessPropertyValue": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AccountModification": {
      "type": "structure",
      "members": {
        "ModificationState": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyModificationStateEnum",
          "traits": {
            "smithy.api#documentation": "<p>The state of the modification to the configuration of BYOL.</p>"
          }
        },
        "DedicatedTenancySupport": {
          "target": "com.amazonaws.workspaces#DedicatedTenancySupportResultEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>"
          }
        },
        "DedicatedTenancyManagementCidrRange": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange",
          "traits": {
            "smithy.api#documentation": "<p>The IP address range, specified as an IPv4 CIDR block, for the management network\n         interface used for the account.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.workspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the modification of the BYOL configuration was started.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.workspaces#WorkspaceErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workspaces#Description",
          "traits": {
            "smithy.api#documentation": "<p>The text of the error message that is returned if the configuration of BYOL cannot be\n         modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a modification to the configuration of Bring Your Own License (BYOL) for the\n         specified account. </p>"
      }
    },
    "com.amazonaws.workspaces#AccountModificationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#AccountModification"
      }
    },
    "com.amazonaws.workspaces#AddInName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.workspaces#AddInUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^(http|https)\\://\\S+$"
      }
    },
    "com.amazonaws.workspaces#Alias": {
      "type": "string"
    },
    "com.amazonaws.workspaces#AmazonUuid": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.workspaces#Application": {
      "type": "enum",
      "members": {
        "Microsoft_Office_2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft_Office_2016"
          }
        },
        "Microsoft_Office_2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft_Office_2019"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#Application"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.workspaces#AssociateConnectionAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AssociateConnectionAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AssociateConnectionAliasResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAssociatedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified connection alias with the specified directory to enable\n         cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>\n         <note>\n            <p>Before performing this operation, call <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeConnectionAliases.html\">\n               DescribeConnectionAliases</a> to make sure that the current state of the\n            connection alias is <code>CREATED</code>.</p>\n         </note>"
      }
    },
    "com.amazonaws.workspaces#AssociateConnectionAliasRequest": {
      "type": "structure",
      "members": {
        "AliasId": {
          "target": "com.amazonaws.workspaces#ConnectionAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory to associate the connection alias with.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#AssociateConnectionAliasResult": {
      "type": "structure",
      "members": {
        "ConnectionIdentifier": {
          "target": "com.amazonaws.workspaces#ConnectionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias association. You use the connection identifier in\n         the DNS TXT record when you're configuring your DNS routing policies. </p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AssociateIpGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AssociateIpGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AssociateIpGroupsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified IP access control group with the specified directory.</p>"
      }
    },
    "com.amazonaws.workspaces#AssociateIpGroupsRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupIds": {
          "target": "com.amazonaws.workspaces#IpGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers of one or more IP access control groups.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#AssociateIpGroupsResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#AssociationStatus": {
      "type": "enum",
      "members": {
        "NOT_ASSOCIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ASSOCIATED"
          }
        },
        "ASSOCIATED_WITH_OWNER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATED_WITH_OWNER_ACCOUNT"
          }
        },
        "ASSOCIATED_WITH_SHARED_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATED_WITH_SHARED_ACCOUNT"
          }
        },
        "PENDING_ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ASSOCIATION"
          }
        },
        "PENDING_DISASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_DISASSOCIATION"
          }
        }
      }
    },
    "com.amazonaws.workspaces#AuthorizeIpRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#AuthorizeIpRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#AuthorizeIpRulesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more rules to the specified IP access control group.</p>\n         <p>This action gives users permission to access their WorkSpaces from the CIDR address\n         ranges specified in the rules.</p>"
      }
    },
    "com.amazonaws.workspaces#AuthorizeIpRulesRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workspaces#IpGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "UserRules": {
          "target": "com.amazonaws.workspaces#IpRuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules to add to the group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#AuthorizeIpRulesResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#AwsAccount": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.workspaces#BooleanObject": {
      "type": "boolean"
    },
    "com.amazonaws.workspaces#BundleId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^wsb-[0-9a-z]{8,63}$"
      }
    },
    "com.amazonaws.workspaces#BundleIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#BundleId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#BundleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#WorkspaceBundle"
      }
    },
    "com.amazonaws.workspaces#BundleOwner": {
      "type": "string"
    },
    "com.amazonaws.workspaces#BundleType": {
      "type": "enum",
      "members": {
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "STANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDBY"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CertificateAuthorityArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]*:[\\w+=,.@-]+(/[\\w+=,.@-]+)*$"
      }
    },
    "com.amazonaws.workspaces#CertificateBasedAuthProperties": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.workspaces#CertificateBasedAuthStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate-based authentication properties.</p>"
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.workspaces#CertificateAuthorityArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services Certificate Manager Private CA resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of the certificate-based authentication you want to use\n         with your WorkSpaces.</p>"
      }
    },
    "com.amazonaws.workspaces#CertificateBasedAuthStatusEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ClientDeviceType": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeWindows"
          }
        },
        "DEVICE_TYPE_OSX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeOsx"
          }
        },
        "DEVICE_TYPE_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeAndroid"
          }
        },
        "DEVICE_TYPE_IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeIos"
          }
        },
        "DEVICE_TYPE_LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeLinux"
          }
        },
        "DEVICE_TYPE_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceTypeWeb"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ClientDeviceTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ClientDeviceType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6
        }
      }
    },
    "com.amazonaws.workspaces#ClientEmail": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$"
      }
    },
    "com.amazonaws.workspaces#ClientLocale": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 5
        },
        "smithy.api#pattern": "^[a-z]{2}_[A-Z]{2}$"
      }
    },
    "com.amazonaws.workspaces#ClientLoginMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2000
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.workspaces#ClientProperties": {
      "type": "structure",
      "members": {
        "ReconnectEnabled": {
          "target": "com.amazonaws.workspaces#ReconnectEnum",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether users can cache their credentials on the Amazon WorkSpaces client.\n         When enabled, users can choose to reconnect to their WorkSpaces without re-entering their\n         credentials. </p>"
          }
        },
        "LogUploadEnabled": {
          "target": "com.amazonaws.workspaces#LogUploadEnum",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether users can upload diagnostic log files of Amazon WorkSpaces client directly to \n         WorkSpaces to troubleshoot issues when using the WorkSpaces client. \n         When enabled, the log files will be sent to WorkSpaces automatically and will be applied to all \n         users in the specified directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon WorkSpaces client.</p>"
      }
    },
    "com.amazonaws.workspaces#ClientPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ClientPropertiesResult"
      }
    },
    "com.amazonaws.workspaces#ClientPropertiesResult": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The resource identifier, in the form of a directory ID.</p>"
          }
        },
        "ClientProperties": {
          "target": "com.amazonaws.workspaces#ClientProperties",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Amazon WorkSpaces client.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the Amazon WorkSpaces client.</p>"
      }
    },
    "com.amazonaws.workspaces#ClientUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^(http|https)\\://\\S+$"
      }
    },
    "com.amazonaws.workspaces#Compute": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE"
          }
        },
        "POWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWER"
          }
        },
        "GRAPHICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPHICS"
          }
        },
        "POWERPRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWERPRO"
          }
        },
        "GRAPHICSPRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPHICSPRO"
          }
        },
        "GRAPHICS_G4DN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPHICS_G4DN"
          }
        },
        "GRAPHICSPRO_G4DN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPHICSPRO_G4DN"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ComputeType": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workspaces#Compute",
          "traits": {
            "smithy.api#documentation": "<p>The compute type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the compute type of the bundle.</p>"
      }
    },
    "com.amazonaws.workspaces#ComputerName": {
      "type": "string"
    },
    "com.amazonaws.workspaces#ConnectClientAddIn": {
      "type": "structure",
      "members": {
        "AddInId": {
          "target": "com.amazonaws.workspaces#AmazonUuid",
          "traits": {
            "smithy.api#documentation": "<p>The client add-in identifier.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier for which the client add-in is configured.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workspaces#AddInName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the client add in.</p>"
          }
        },
        "URL": {
          "target": "com.amazonaws.workspaces#AddInUrl",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint URL of the client add-in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon Connect client add-in.</p>"
      }
    },
    "com.amazonaws.workspaces#ConnectClientAddInList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectClientAddIn"
      }
    },
    "com.amazonaws.workspaces#ConnectionAlias": {
      "type": "structure",
      "members": {
        "ConnectionString": {
          "target": "com.amazonaws.workspaces#ConnectionString",
          "traits": {
            "smithy.api#documentation": "<p>The connection string specified for the connection alias. The connection string must be\n         in the form of a fully qualified domain name (FQDN), such as\n         <code>www.example.com</code>.</p>"
          }
        },
        "AliasId": {
          "target": "com.amazonaws.workspaces#ConnectionAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workspaces#ConnectionAliasState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the connection alias.</p>"
          }
        },
        "OwnerAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account that owns the connection alias.</p>"
          }
        },
        "Associations": {
          "target": "com.amazonaws.workspaces#ConnectionAliasAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The association status of the connection alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a connection alias. Connection aliases are used for cross-Region redirection.\n         For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasAssociation": {
      "type": "structure",
      "members": {
        "AssociationStatus": {
          "target": "com.amazonaws.workspaces#AssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The association status of the connection alias.</p>"
          }
        },
        "AssociatedAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account that associated the connection alias\n         with a directory.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory associated with a connection alias.</p>"
          }
        },
        "ConnectionIdentifier": {
          "target": "com.amazonaws.workspaces#ConnectionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias association. You use the connection identifier in\n         the DNS TXT record when you're configuring your DNS routing policies.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a connection alias association that is used for cross-Region redirection. For\n         more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectionAliasAssociation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 13,
          "max": 68
        },
        "smithy.api#pattern": "^wsca-[0-9a-z]{8,63}$"
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectionAliasId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectionAlias"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasPermission": {
      "type": "structure",
      "members": {
        "SharedAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account that the connection alias is shared\n         with.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowAssociation": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the specified Amazon Web Services account is allowed to associate the\n         connection alias with a directory.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the permissions for a connection alias. Connection aliases are used for\n         cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasPermissions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#ConnectionAliasPermission"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionAliasState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.workspaces#ConnectionState": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.workspaces#ConnectionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[.0-9a-zA-Z\\-]{1,255}$"
      }
    },
    "com.amazonaws.workspaces#CopyWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CopyWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CopyWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified image from the specified Region to the current Region. For more\n         information about copying images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/copy-custom-image.html\"> Copy a Custom WorkSpaces\n            Image</a>.</p>\n         <p>In the China (Ningxia) Region, you can copy images only within the same Region.</p>\n         <p>In Amazon Web Services GovCloud (US), to copy images to and from other Regions, contact Amazon Web Services Support.</p>\n         <important>\n            <p>Before copying a shared image, be sure to verify that it has been shared from the\n            correct Amazon Web Services account. To determine if an image has been shared and to see\n            the ID of the Amazon Web Services account that owns an image, use the <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImages.html\">DescribeWorkSpaceImages</a> and <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImagePermissions.html\">DescribeWorkspaceImagePermissions</a> API operations. </p>\n         </important>"
      }
    },
    "com.amazonaws.workspaces#CopyWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the image.</p>"
          }
        },
        "SourceImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source image.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.workspaces#Region",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source Region.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the image.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CopyWorkspaceImageResult": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the image.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateConnectClientAddIn": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateConnectClientAddInRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateConnectClientAddInResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceCreationFailedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a client-add-in for Amazon Connect within a directory. You can create only\n         one Amazon Connect client add-in within a directory.</p>\n         <p>This client add-in allows WorkSpaces users to seamlessly connect to Amazon Connect.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateConnectClientAddInRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier for which to configure the client add-in.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workspaces#AddInName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the client add-in.</p>",
            "smithy.api#required": {}
          }
        },
        "URL": {
          "target": "com.amazonaws.workspaces#AddInUrl",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint URL of the Amazon Connect client add-in.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateConnectClientAddInResult": {
      "type": "structure",
      "members": {
        "AddInId": {
          "target": "com.amazonaws.workspaces#AmazonUuid",
          "traits": {
            "smithy.api#documentation": "<p>The client add-in identifier.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateConnectionAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateConnectionAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateConnectionAliasResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the specified connection alias for use with cross-Region redirection. For more\n         information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region\n            Redirection for Amazon WorkSpaces</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateConnectionAliasRequest": {
      "type": "structure",
      "members": {
        "ConnectionString": {
          "target": "com.amazonaws.workspaces#ConnectionString",
          "traits": {
            "smithy.api#documentation": "<p>A connection string in the form of a fully qualified domain name (FQDN), such as\n            <code>www.example.com</code>.</p>\n         <important>\n            <p>After you create a connection string, it is always associated to your Amazon Web Services account. You cannot recreate the same connection string with a different\n            account, even if you delete all instances of it from the original account. The\n            connection string is globally reserved for your account.</p>\n         </important>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the connection alias.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateConnectionAliasResult": {
      "type": "structure",
      "members": {
        "AliasId": {
          "target": "com.amazonaws.workspaces#ConnectionAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateIpGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateIpGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateIpGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceCreationFailedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an IP access control group.</p>\n         <p>An IP access control group provides you with the ability to control the IP addresses\n         from which users are allowed to access their WorkSpaces. To specify the CIDR address\n         ranges, add rules to your IP access control group and then associate the group with your\n         directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p>\n         <p>There is a default IP access control group associated with your directory. If you don't\n         associate an IP access control group with your directory, the default group is used. The\n         default group includes a default rule that allows users to access their WorkSpaces from\n         anywhere. You cannot modify the default IP access control group for your directory.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateIpGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.workspaces#IpGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupDesc": {
          "target": "com.amazonaws.workspaces#IpGroupDesc",
          "traits": {
            "smithy.api#documentation": "<p>The description of the group.</p>"
          }
        },
        "UserRules": {
          "target": "com.amazonaws.workspaces#IpRuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules to add to the group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateIpGroupResult": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workspaces#IpGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateStandbyWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateStandbyWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateStandbyWorkspacesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Standby WorkSpace in a secondary region.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateStandbyWorkspacesRequest": {
      "type": "structure",
      "members": {
        "PrimaryRegion": {
          "target": "com.amazonaws.workspaces#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Region of the primary WorkSpace.</p>",
            "smithy.api#required": {}
          }
        },
        "StandbyWorkspaces": {
          "target": "com.amazonaws.workspaces#StandbyWorkspacesList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Standby WorkSpace to be created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateStandbyWorkspacesResult": {
      "type": "structure",
      "members": {
        "FailedStandbyRequests": {
          "target": "com.amazonaws.workspaces#FailedCreateStandbyWorkspacesRequestList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Standby WorkSpace that could not be created. </p>"
          }
        },
        "PendingStandbyRequests": {
          "target": "com.amazonaws.workspaces#PendingCreateStandbyWorkspacesRequestList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Standby WorkSpace that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateTagsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the specified tags for the specified WorkSpaces resource.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces,\n         registered directories, images, custom bundles, IP access control groups, and connection\n         aliases.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateTagsResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#CreateUpdatedWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateUpdatedWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateUpdatedWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new updated WorkSpace image based on the specified source image. The new\n         updated WorkSpace image has the latest drivers and other updates required by the Amazon\n         WorkSpaces components.</p>\n         <p>To determine which WorkSpace images need to be updated with the latest Amazon WorkSpaces\n         requirements, use <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImages.html\">\n            DescribeWorkspaceImages</a>.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>Only Windows 10, Windows Sever 2016, and Windows Server 2019 WorkSpace images\n                  can be programmatically updated at this time.</p>\n               </li>\n               <li>\n                  <p>Microsoft Windows updates and other application updates are not included in the\n                  update process.</p>\n               </li>\n               <li>\n                  <p>The source WorkSpace image is not deleted. You can delete the source image\n                  after you've verified your new updated image and created a new bundle. </p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.workspaces#CreateUpdatedWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new updated WorkSpace image.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of whether updates for the WorkSpace image are available.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source WorkSpace image.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags that you want to add to the new updated WorkSpace image.</p>\n         <note>\n            <p>To add tags at the same time when you're creating the updated image, you must create\n            an IAM policy that grants your IAM user permissions to use\n               <code>workspaces:CreateTags</code>. </p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateUpdatedWorkspaceImageResult": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new updated WorkSpace image.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceBundle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateWorkspaceBundleRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateWorkspaceBundleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the specified WorkSpace bundle. For more information about creating WorkSpace bundles, see \n         <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/create-custom-bundle.html\">\n            Create a Custom WorkSpaces Image and Bundle</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceBundleRequest": {
      "type": "structure",
      "members": {
        "BundleName": {
          "target": "com.amazonaws.workspaces#WorkspaceBundleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "BundleDescription": {
          "target": "com.amazonaws.workspaces#WorkspaceBundleDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the image that is used to create the bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "ComputeType": {
          "target": "com.amazonaws.workspaces#ComputeType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "UserStorage": {
          "target": "com.amazonaws.workspaces#UserStorage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RootStorage": {
          "target": "com.amazonaws.workspaces#RootStorage"
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the bundle.</p>\n      \n         <note>\n            <p>To add tags at the same time when you're creating the bundle, you must create an IAM policy that \n            grants your IAM user permissions to use <code>workspaces:CreateTags</code>. </p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceBundleResult": {
      "type": "structure",
      "members": {
        "WorkspaceBundle": {
          "target": "com.amazonaws.workspaces#WorkspaceBundle"
        }
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new WorkSpace image from an existing WorkSpace.</p>"
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new WorkSpace image.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new WorkSpace image.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkspaceId": {
          "target": "com.amazonaws.workspaces#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source WorkSpace</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.workspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags that you want to add to the new WorkSpace image. \n         To add tags when you're creating the image, you must create an IAM policy that grants \n         your IAM user permission to use <code>workspaces:CreateTags</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaceImageResult": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new WorkSpace image.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workspaces#WorkspaceImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.workspaces#WorkspaceImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the image.</p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.workspaces#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>The operating system that the image is running.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workspaces#WorkspaceImageState",
          "traits": {
            "smithy.api#documentation": "<p>The availability status of the image.</p>"
          }
        },
        "RequiredTenancy": {
          "target": "com.amazonaws.workspaces#WorkspaceImageRequiredTenancy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the image is running on dedicated hardware. \n         When Bring Your Own License (BYOL) is enabled, this value is set \n         to DEDICATED. For more information, see \n         <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/byol-windows-images.htm\">\n            Bring Your Own Windows Desktop Images.</a>.</p>"
          }
        },
        "Created": {
          "target": "com.amazonaws.workspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the image was created.</p>"
          }
        },
        "OwnerAccountId": {
          "target": "com.amazonaws.workspaces#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account that owns the image.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#CreateWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#CreateWorkspacesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates one or more WorkSpaces.</p>\n         <p>This operation is asynchronous and returns before the WorkSpaces are created.</p>\n         <note>\n            <p>The <code>MANUAL</code> running mode value is only supported by Amazon WorkSpaces\n            Core. Contact your account team to be allow-listed to use this value. For more\n            information, see <a href=\"http://aws.amazon.com/workspaces/core/\">Amazon WorkSpaces\n               Core</a>.</p>\n         </note>"
      }
    },
    "com.amazonaws.workspaces#CreateWorkspacesRequest": {
      "type": "structure",
      "members": {
        "Workspaces": {
          "target": "com.amazonaws.workspaces#WorkspaceRequestList",
          "traits": {
            "smithy.api#documentation": "<p>The WorkSpaces to create. You can specify up to 25 WorkSpaces.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#CreateWorkspacesResult": {
      "type": "structure",
      "members": {
        "FailedRequests": {
          "target": "com.amazonaws.workspaces#FailedCreateWorkspaceRequests",
          "traits": {
            "smithy.api#documentation": "<p>Information about the WorkSpaces that could not be created.</p>"
          }
        },
        "PendingRequests": {
          "target": "com.amazonaws.workspaces#WorkspaceList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the WorkSpaces that were created.</p>\n         <p>Because this operation is asynchronous, the identifier returned is not immediately\n         available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned\n         can be incomplete.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancyCidrRangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange"
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(^([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.0\\.0)(\\/(16$))$"
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancyModificationStateEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancySupportEnum": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DedicatedTenancySupportResultEnum": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DefaultClientBrandingAttributes": {
      "type": "structure",
      "members": {
        "LogoUrl": {
          "target": "com.amazonaws.workspaces#ClientUrl",
          "traits": {
            "smithy.api#documentation": "<p>The logo. The only image format accepted is a binary data object that is converted from a <code>.png</code> file.</p>"
          }
        },
        "SupportEmail": {
          "target": "com.amazonaws.workspaces#ClientEmail",
          "traits": {
            "smithy.api#documentation": "<p>The support email. The company's customer support email address.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>In each platform type, the <code>SupportEmail</code> and\n                     <code>SupportLink</code> parameters are mutually exclusive. You can specify one\n                  parameter for each platform type, but not both.</p>\n               </li>\n               <li>\n                  <p>The default email is <code>workspaces-feedback@amazon.com</code>.</p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "SupportLink": {
          "target": "com.amazonaws.workspaces#ClientUrl",
          "traits": {
            "smithy.api#documentation": "<p>The support link. The link for the company's customer support page for their\n         WorkSpace.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>In each platform type, the <code>SupportEmail</code> and\n                     <code>SupportLink</code> parameters are mutually exclusive.You can specify one\n                  parameter for each platform type, but not both.</p>\n               </li>\n               <li>\n                  <p>The default support link is <code>workspaces-feedback@amazon.com</code>.</p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "ForgotPasswordLink": {
          "target": "com.amazonaws.workspaces#ClientUrl",
          "traits": {
            "smithy.api#documentation": "<p>The forgotten password link. This is the web address that users can go to if they forget\n         the password for their WorkSpace.</p>"
          }
        },
        "LoginMessage": {
          "target": "com.amazonaws.workspaces#LoginMessage",
          "traits": {
            "smithy.api#documentation": "<p>The login message. Specified as a key value pair, in which the key is a locale and the\n         value is the localized message for that locale. The only key supported is\n         <code>en_US</code>. The HTML tags supported include the following: <code>a, b, blockquote, br, cite, code, dd, dl, dt, div, em, \n            i, li, ol, p, pre, q, small, span, strike, strong, sub, sup, u, ul</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns default client branding attributes that were imported. These attributes display\n         on the client login screen.</p>\n         <important>\n            <p>Client branding attributes are public facing. Ensure that you don't include sensitive\n            information.</p>\n         </important>"
      }
    },
    "com.amazonaws.workspaces#DefaultImportClientBrandingAttributes": {
      "type": "structure",
      "members": {
        "Logo": {
          "target": "com.amazonaws.workspaces#DefaultLogo",
          "traits": {
            "smithy.api#documentation": "<p>The logo. The only image format accepted is a binary data object that is converted from a <code>.png</code> file.</p>"
          }
        },
        "SupportEmail": {
          "target": "com.amazonaws.workspaces#ClientEmail",
          "traits": {
            "smithy.api#documentation": "<p>The support email. The company's customer support email address.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>In each platform type, the <code>SupportEmail</code> and\n                     <code>SupportLink</code> parameters are mutually exclusive. You can specify one\n                  parameter for each platform type, but not both.</p>\n               </li>\n               <li>\n                  <p>The default email is <code>workspaces-feedback@amazon.com</code>.</p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "SupportLink": {
          "target": "com.amazonaws.workspaces#ClientUrl",
          "traits": {
            "smithy.api#documentation": "<p>The support link. The link for the company's customer support page for their\n         WorkSpace.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>In each platform type, the <code>SupportEmail</code> and\n                     <code>SupportLink</code> parameters are mutually exclusive. You can specify one\n                  parameter for each platform type, but not both.</p>\n               </li>\n               <li>\n                  <p>The default support link is <code>workspaces-feedback@amazon.com</code>.</p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "ForgotPasswordLink": {
          "target": "com.amazonaws.workspaces#ClientUrl",
          "traits": {
            "smithy.api#documentation": "<p>The forgotten password link. This is the web address that users can go to if they forget\n         the password for their WorkSpace.</p>"
          }
        },
        "LoginMessage": {
          "target": "com.amazonaws.workspaces#LoginMessage",
          "traits": {
            "smithy.api#documentation": "<p>The login message. Specified as a key value pair, in which the key is a locale and the\n         value is the localized message for that locale. The only key supported is\n         <code>en_US</code>. The HTML tags supported include the following: <code>a, b, blockquote, br, cite, code, dd, dl, dt, div, em, \n            i, li, ol, p, pre, q, small, span, strike, strong, sub, sup, u, ul</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The default client branding attributes to be imported. These attributes display on the\n         client login screen.</p>\n         <important>\n            <p>Client branding attributes are public facing. Ensure that you do not include\n            sensitive information.</p>\n         </important>"
      }
    },
    "com.amazonaws.workspaces#DefaultLogo": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1500000
        }
      }
    },
    "com.amazonaws.workspaces#DefaultOu": {
      "type": "string"
    },
    "com.amazonaws.workspaces#DefaultWorkspaceCreationProperties": {
      "type": "structure",
      "members": {
        "EnableWorkDocs": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the directory is enabled for Amazon WorkDocs.</p>"
          }
        },
        "EnableInternetAccess": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to automatically assign an Elastic public IP address to WorkSpaces in\n         this directory by default. If enabled, the Elastic public IP address allows outbound\n         internet access from your WorkSpaces when you’re using an internet gateway in the Amazon\n         VPC in which your WorkSpaces are located. If you're using a Network Address Translation\n         (NAT) gateway for outbound internet access from your VPC, or if your WorkSpaces are in\n         public subnets and you manually assign them Elastic IP addresses, you should disable this\n         setting. This setting applies to new WorkSpaces that you launch or to existing WorkSpaces\n         that you rebuild. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/amazon-workspaces-vpc.html\"> Configure a VPC for\n            Amazon WorkSpaces</a>.</p>"
          }
        },
        "DefaultOu": {
          "target": "com.amazonaws.workspaces#DefaultOu",
          "traits": {
            "smithy.api#documentation": "<p>The organizational unit (OU) in the directory for the WorkSpace machine accounts.</p>"
          }
        },
        "CustomSecurityGroupId": {
          "target": "com.amazonaws.workspaces#SecurityGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the default security group to apply to WorkSpaces when they are\n         created. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/amazon-workspaces-security-groups.html\"> Security\n            Groups for Your WorkSpaces</a>.</p>"
          }
        },
        "UserEnabledAsLocalAdministrator": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether WorkSpace users are local administrators on their WorkSpaces.</p>"
          }
        },
        "EnableMaintenanceMode": {
          "target": "com.amazonaws.workspaces#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether maintenance mode is enabled for WorkSpaces. For more information, see\n            <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/workspace-maintenance.html\">WorkSpace\n            Maintenance</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the default values that are used to create WorkSpaces. For more information,\n         see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-directory-details.html\">Update Directory\n            Details for Your WorkSpaces</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#DeletableCertificateBasedAuthPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#DeletableCertificateBasedAuthProperty"
      }
    },
    "com.amazonaws.workspaces#DeletableCertificateBasedAuthProperty": {
      "type": "enum",
      "members": {
        "CERTIFICATE_BASED_AUTH_PROPERTIES_CERTIFICATE_AUTHORITY_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_BASED_AUTH_PROPERTIES_CERTIFICATE_AUTHORITY_ARN"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeletableSamlPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workspaces#DeletableSamlProperty"
      }
    },
    "com.amazonaws.workspaces#DeletableSamlProperty": {
      "type": "enum",
      "members": {
        "SAML_PROPERTIES_USER_ACCESS_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAML_PROPERTIES_USER_ACCESS_URL"
          }
        },
        "SAML_PROPERTIES_RELAY_STATE_PARAMETER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAML_PROPERTIES_RELAY_STATE_PARAMETER_NAME"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteClientBranding": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteClientBrandingRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteClientBrandingResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes customized client branding. Client branding allows you to customize your\n         WorkSpace's client login portal. You can tailor your login portal company logo, the support\n         email address, support link, link to reset password, and a custom message for users trying\n         to sign in.</p>\n         <p>After you delete your customized client branding, your login portal reverts to the\n         default client branding.</p>"
      }
    },
    "com.amazonaws.workspaces#DeleteClientBrandingRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier of the WorkSpace for which you want to delete client\n         branding.</p>",
            "smithy.api#required": {}
          }
        },
        "Platforms": {
          "target": "com.amazonaws.workspaces#ClientDeviceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The device type for which you want to delete client branding.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteClientBrandingResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#DeleteConnectClientAddIn": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteConnectClientAddInRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteConnectClientAddInResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a client-add-in for Amazon Connect that is configured within a\n         directory.</p>"
      }
    },
    "com.amazonaws.workspaces#DeleteConnectClientAddInRequest": {
      "type": "structure",
      "members": {
        "AddInId": {
          "target": "com.amazonaws.workspaces#AmazonUuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the client add-in to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier for which the client add-in is configured.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteConnectClientAddInResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#DeleteConnectionAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteConnectionAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteConnectionAliasResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAssociatedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified connection alias. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\">\n            Cross-Region Redirection for Amazon WorkSpaces</a>.</p>\n         <important>\n            <p>\n               <b>If you will no longer be using a fully qualified domain name\n               (FQDN) as the registration code for your WorkSpaces users, you must take certain\n               precautions to prevent potential security issues.</b> For more information,\n            see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html#cross-region-redirection-security-considerations\"> Security Considerations if You Stop Using Cross-Region Redirection</a>.</p>\n         </important>\n         <note>\n            <p>To delete a connection alias that has been shared, the shared account must first\n            disassociate the connection alias from any directories it has been associated with. Then\n            you must unshare the connection alias from the account it has been shared with. You can\n            delete a connection alias only after it is no longer shared with any accounts or\n            associated with any directories.</p>\n         </note>"
      }
    },
    "com.amazonaws.workspaces#DeleteConnectionAliasRequest": {
      "type": "structure",
      "members": {
        "AliasId": {
          "target": "com.amazonaws.workspaces#ConnectionAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection alias to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteConnectionAliasResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#DeleteIpGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteIpGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteIpGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAssociatedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified IP access control group.</p>\n         <p>You cannot delete an IP access control group that is associated with a directory.</p>"
      }
    },
    "com.amazonaws.workspaces#DeleteIpGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workspaces#IpGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the IP access control group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteIpGroupResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#DeleteTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteTagsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified tags from the specified WorkSpaces resource.</p>"
      }
    },
    "com.amazonaws.workspaces#DeleteTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces,\n         registered directories, images, custom bundles, IP access control groups, and connection\n         aliases.</p>",
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.workspaces#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteTagsResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#DeleteWorkspaceBundle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteWorkspaceBundleRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteWorkspaceBundleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAssociatedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified WorkSpace bundle. For more information about deleting WorkSpace bundles, see \n         <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/delete_bundle.html\">\n            Delete a Custom WorkSpaces Bundle or Image</a>.</p>"
      }
    },
    "com.amazonaws.workspaces#DeleteWorkspaceBundleRequest": {
      "type": "structure",
      "members": {
        "BundleId": {
          "target": "com.amazonaws.workspaces#BundleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bundle.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteWorkspaceBundleResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#DeleteWorkspaceImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeleteWorkspaceImageRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeleteWorkspaceImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceAssociatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified image from your account. To delete an image, you must first delete\n         any bundles that are associated with the image and unshare the image if it is shared with\n         other accounts. </p>"
      }
    },
    "com.amazonaws.workspaces#DeleteWorkspaceImageRequest": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.workspaces#WorkspaceImageId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the image.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeleteWorkspaceImageResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#DeregisterWorkspaceDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DeregisterWorkspaceDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DeregisterWorkspaceDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters the specified directory. This operation is asynchronous and returns before\n         the WorkSpace directory is deregistered. If any WorkSpaces are registered to this\n         directory, you must remove them before you can deregister the directory.</p>\n         <note>\n            <p>Simple AD and AD Connector are made available to you free of charge to use with\n            WorkSpaces. If there are no WorkSpaces being used with your Simple AD or AD Connector\n            directory for 30 consecutive days, this directory will be automatically deregistered for\n            use with Amazon WorkSpaces, and you will be charged for this directory as per the <a href=\"http://aws.amazon.com/directoryservice/pricing/\">Directory Service pricing\n               terms</a>.</p>\n            <p>To delete empty directories, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/delete-workspaces-directory.html\"> Delete the\n               Directory for Your WorkSpaces</a>. If you delete your Simple AD or AD Connector\n            directory, you can always create a new one when you want to start using WorkSpaces\n            again.</p>\n         </note>"
      }
    },
    "com.amazonaws.workspaces#DeregisterWorkspaceDirectoryRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory. If any WorkSpaces are registered to this directory, you\n         must remove them before you deregister the directory, or you will receive an\n         OperationNotSupportedException error.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#DeregisterWorkspaceDirectoryResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#DescribeAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeAccountResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes the configuration of Bring Your Own License (BYOL) for\n         the specified account.</p>"
      }
    },
    "com.amazonaws.workspaces#DescribeAccountModifications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeAccountModificationsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeAccountModificationsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes modifications to the configuration of Bring Your Own\n         License (BYOL) for the specified account.</p>"
      }
    },
    "com.amazonaws.workspaces#DescribeAccountModificationsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you received a <code>NextToken</code> from a previous call that was paginated,\n         provide this token to receive the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeAccountModificationsResult": {
      "type": "structure",
      "members": {
        "AccountModifications": {
          "target": "com.amazonaws.workspaces#AccountModificationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of modifications to the configuration of BYOL.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return. </p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeAccountRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workspaces#DescribeAccountResult": {
      "type": "structure",
      "members": {
        "DedicatedTenancySupport": {
          "target": "com.amazonaws.workspaces#DedicatedTenancySupportResultEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of BYOL (whether BYOL is enabled or disabled).</p>"
          }
        },
        "DedicatedTenancyManagementCidrRange": {
          "target": "com.amazonaws.workspaces#DedicatedTenancyManagementCidrRange",
          "traits": {
            "smithy.api#documentation": "<p>The IP address range, specified as an IPv4 CIDR block, used for the management network\n         interface.</p>\n         <p>The management network interface is connected to a secure Amazon WorkSpaces management\n         network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces\n         clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeClientBranding": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeClientBrandingRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeClientBrandingResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified client branding. Client branding allows you to customize the log\n         in page of various device types for your users. You can add your company logo, the support\n         email address, support link, link to reset password, and a custom message for users trying\n         to sign in.</p>\n         <note>\n            <p>Only device types that have branding information configured will be shown in the\n            response.</p>\n         </note>"
      }
    },
    "com.amazonaws.workspaces#DescribeClientBrandingRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier of the WorkSpace for which you want to view client branding\n         information.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeClientBrandingResult": {
      "type": "structure",
      "members": {
        "DeviceTypeWindows": {
          "target": "com.amazonaws.workspaces#DefaultClientBrandingAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The branding information for Windows devices.</p>"
          }
        },
        "DeviceTypeOsx": {
          "target": "com.amazonaws.workspaces#DefaultClientBrandingAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The branding information for macOS devices.</p>"
          }
        },
        "DeviceTypeAndroid": {
          "target": "com.amazonaws.workspaces#DefaultClientBrandingAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The branding information for Android devices.</p>"
          }
        },
        "DeviceTypeIos": {
          "target": "com.amazonaws.workspaces#IosClientBrandingAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The branding information for iOS devices.</p>"
          }
        },
        "DeviceTypeLinux": {
          "target": "com.amazonaws.workspaces#DefaultClientBrandingAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The branding information for Linux devices.</p>"
          }
        },
        "DeviceTypeWeb": {
          "target": "com.amazonaws.workspaces#DefaultClientBrandingAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The branding information for Web access.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeClientProperties": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeClientPropertiesRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeClientPropertiesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes one or more specified Amazon WorkSpaces clients.</p>"
      }
    },
    "com.amazonaws.workspaces#DescribeClientPropertiesRequest": {
      "type": "structure",
      "members": {
        "ResourceIds": {
          "target": "com.amazonaws.workspaces#ResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>The resource identifier, in the form of directory IDs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeClientPropertiesResult": {
      "type": "structure",
      "members": {
        "ClientPropertiesList": {
          "target": "com.amazonaws.workspaces#ClientPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the specified Amazon WorkSpaces clients.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeConnectClientAddIns": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeConnectClientAddInsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeConnectClientAddInsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of Amazon Connect client add-ins that have been created.</p>"
      }
    },
    "com.amazonaws.workspaces#DescribeConnectClientAddInsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workspaces#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier for which the client add-in is configured.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you received a <code>NextToken</code> from a previous call that was paginated,\n         provide this token to receive the next set of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workspaces#Limit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeConnectClientAddInsResult": {
      "type": "structure",
      "members": {
        "AddIns": {
          "target": "com.amazonaws.workspaces#ConnectClientAddInList",
          "traits": {
            "smithy.api#documentation": "<p>Information about client add-ins.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workspaces#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return. </p>"
          }
        }
      }
    },
    "com.amazonaws.workspaces#DescribeConnectionAliasPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workspaces#DescribeConnectionAliasPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.workspaces#DescribeConnectionAliasPermissionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.workspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.workspaces#InvalidParameterValuesException"
        },
        {
          "target": "com.amazonaws.workspaces#OperationNotSupportedException"
        },
        {
[...]
