{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.workmail#Aliases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#EmailAddress"
      }
    },
    "com.amazonaws.workmail#AssociateDelegateToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#AssociateDelegateToResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#AssociateDelegateToResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a member (user or group) to the resource's set of delegates.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#AssociateDelegateToResourceRequest": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The member (user or group) to associate to the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the resource exists.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource for which members (users or groups) are associated.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#AssociateDelegateToResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#AssociateMemberToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#AssociateMemberToGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#AssociateMemberToGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a member (user or group) to the group's set.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#AssociateMemberToGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The group to which the member (user or group) is associated.</p>",
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The member (user or group) to associate to the group.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#AssociateMemberToGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#BookingOptions": {
      "type": "structure",
      "members": {
        "AutoAcceptRequests": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The resource's ability to automatically reply to requests. If disabled, delegates must be associated to the resource.</p>"
          }
        },
        "AutoDeclineConflictingRequests": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The resource's ability to automatically decline any conflicting requests.</p>"
          }
        },
        "AutoDeclineRecurringRequests": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The resource's ability to automatically decline any recurring requests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>At least one delegate must be associated to the resource to disable automatic replies\n         from the resource.</p>"
      }
    },
    "com.amazonaws.workmail#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.workmail#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EmailAddressInUseException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#MailDomainNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#MailDomainStateException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an alias to the set of a given member (user or group) of Amazon WorkMail.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The alias to add to the member set.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The member (user or group) to which this alias is added.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the member (user or group) exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateAliasResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ReservedNameException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a group that can be used in Amazon WorkMail by calling the <a>RegisterToWorkMail</a>\n         operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workmail#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the group is to be created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateGroupResponse": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ReservedNameException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon WorkMail resource. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateResourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workmail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization for which the resource is\n         created.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the new resource. The available types are <code>equipment</code> and\n            <code>room</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateResourceResponse": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidPasswordException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ReservedNameException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user who can be used in Amazon WorkMail by calling the\n            <a>RegisterToWorkMail</a> operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateUserRequest": {
      "type": "structure",
      "members": {
        "DisplayName": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the new user.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new user. Simple AD or AD Connector user names have a maximum length of 20. All others have a maximum length of 64.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization for which the user is created.</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.workmail#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password for the new user.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateUserResponse": {
      "type": "structure",
      "members": {
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the new user.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#Delegate": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the user or group associated as the resource's delegate.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#MemberType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the delegate: user or group.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of the attribute, which is one of the values defined in the UserAttribute\n         enumeration.</p>"
      }
    },
    "com.amazonaws.workmail#DeleteAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Remove one or more specified aliases from a set of aliases for a given\n         user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteAliasRequest": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The aliases to be removed from the user's set of aliases. Duplicate entries in the\n         list are collapsed into single entries (the list is transformed into a set).</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member (user or group) from which to have the aliases\n         removed.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the user exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteAliasResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a group from Amazon WorkMail.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group to be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization that contains the group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteMailboxPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteMailboxPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteMailboxPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes permissions granted to a member (user or group).</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteMailboxPermissionsRequest": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member (user or group)that owns the mailbox.</p>",
            "smithy.api#required": {}
          }
        },
        "GranteeId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member (user or group) for which to delete granted\n         permissions.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization under which the member (user or group)\n         exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteMailboxPermissionsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteResourceRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization from which the resource is\n         deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user from Amazon WorkMail and all subsequent systems. Before you can delete a user, the\n         user state must be <code>DISABLED</code>. Use the <a>DescribeUser</a> action to\n         confirm the user state.</p> \n         <p>Deleting a user is permanent and cannot be undone.\n         WorkMail archives user mailboxes for 30 days before they are permanently removed.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization that contains the user to be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeregisterFromWorkMail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeregisterFromWorkMailRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeregisterFromWorkMailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Mark a user, group, or resource as no longer used in Amazon WorkMail. This action\n         disassociates the mailbox and schedules it for clean-up. WorkMail keeps mailboxes\n         for 30 days before they are permanently removed. The functionality in the console is\n            <i>Disable</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeregisterFromWorkMailRequest": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member (user or group) to be updated.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the Amazon WorkMail entity\n         exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeregisterFromWorkMailResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DescribeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data available for the group.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the group to be described.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeGroupResponse": {
      "type": "structure",
      "members": {
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a user was deregistered from WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the described group.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a user was registered to WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the described group.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the described group.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the user: enabled (registered to Amazon WorkMail) or disabled\n         (deregistered or never registered to WorkMail).</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides more information regarding a given organization based on its identifier.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeOrganizationRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeOrganizationResponse": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.workmail#OrganizationName",
          "traits": {
            "smithy.api#documentation": "<p>The alias for an organization.</p>"
          }
        },
        "CompletedDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date at which the organization became usable in the WorkMail context, in UNIX epoch\n         time format.</p>"
          }
        },
        "DefaultMailDomain": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The default mail domain associated with the organization.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the directory associated with an Amazon WorkMail\n         organization.</p>"
          }
        },
        "DirectoryType": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of directory associated with the WorkMail organization.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The error message indicating if unexpected behavior was encountered with\n         regards to the organization.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an organization.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The state of an organization.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data available for the resource.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeResourceRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization for which the resource is\n         described.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeResourceResponse": {
      "type": "structure",
      "members": {
        "BookingOptions": {
          "target": "com.amazonaws.workmail#BookingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The booking options for the described resource.</p>"
          }
        },
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a resource was disabled from WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the described resource.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a resource was enabled for WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the described resource.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the described resource.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the resource: enabled (registered to Amazon WorkMail) or disabled\n         (deregistered or never registered to WorkMail).</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the described resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information regarding the user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeUserRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the user exists.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the user to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeUserResponse": {
      "type": "structure",
      "members": {
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the user was disabled for Amazon WorkMail usage, in UNIX epoch time format.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the user.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the user.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the user was enabled for Amazon WorkMail usage, in UNIX epoch time format.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the user.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of a user: enabled (registered to Amazon WorkMail) or disabled\n         (deregistered or never registered to WorkMail).</p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the described user.</p>"
          }
        },
        "UserRole": {
          "target": "com.amazonaws.workmail#UserRole",
          "traits": {
            "smithy.api#documentation": "<p>In certain cases, other entities are modeled as users. If interoperability is\n         enabled, resources are imported into Amazon WorkMail as users. Because different \n         WorkMail organizations rely on different directory types, administrators can distinguish\n         between an unregistered user (account is disabled and has a user role) and the directory\n         administrators. The values are USER, RESOURCE, and SYSTEM_USER.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory service doesn't recognize the credentials supplied by \n         WorkMail.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#DirectoryUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory on which you are trying to perform operations isn't\n         available.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#DisassociateDelegateFromResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DisassociateDelegateFromResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DisassociateDelegateFromResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a member from the resource's set of delegates.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DisassociateDelegateFromResourceRequest": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member (user, group) to be removed from the resource's delegates.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the resource exists.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource from which delegates' set members are removed. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DisassociateDelegateFromResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DisassociateMemberFromGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DisassociateMemberFromGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DisassociateMemberFromGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a member from a group.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DisassociateMemberFromGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the group from which members are removed.</p>",
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member to be removed to the group.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DisassociateMemberFromGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 254
        },
        "smithy.api#pattern": "[a-zA-Z0-9._%+-]{1,64}@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}"
      }
    },
    "com.amazonaws.workmail#EmailAddressInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The email address that you're trying to assign is already created for a different\n         user, group, or resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#EntityAlreadyRegisteredException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user, group, or resource that you're trying to register is already registered.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#EntityNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The identifier supplied for the user, group, or resource does not\n         exist in your organization.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#EntityState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.workmail#EntityStateException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are performing an operation on a user, group, or resource that isn't in the\n         expected state, such as trying to delete an active user.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#GetMailboxDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#GetMailboxDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#GetMailboxDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Requests a user's mailbox details for a specified organization and user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#GetMailboxDetailsRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization that contains the user whose mailbox details are\n         being requested.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the user whose mailbox details are being requested.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#GetMailboxDetailsResponse": {
      "type": "structure",
      "members": {
        "MailboxQuota": {
          "target": "com.amazonaws.workmail#MailboxQuota",
          "traits": {
            "smithy.api#documentation": "<p>The maximum allowed mailbox size, in MB, for the specified user.</p>"
          }
        },
        "MailboxSize": {
          "target": "com.amazonaws.workmail#MailboxSize",
          "traits": {
            "smithy.api#documentation": "<p>The current mailbox size, in MB, for the specified user.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#Group": {
      "type": "structure",
      "members": {
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date indicating when the group was disabled from Amazon WorkMail use.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the group.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date indicating when the group was enabled for Amazon WorkMail use.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the group, which can be ENABLED, DISABLED, or DELETED.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The representation of an Amazon WorkMail group.</p>"
      }
    },
    "com.amazonaws.workmail#GroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[\\u0020-\\u00FF]+"
      }
    },
    "com.amazonaws.workmail#Groups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#Group"
      }
    },
    "com.amazonaws.workmail#InvalidConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a resource isn't valid. A resource must either be able to\n         auto-respond to requests or have at least one delegate associated that can do so on its\n         behalf.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#InvalidPasswordException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The supplied password doesn't match the minimum security constraints, such as length\n         or use of special characters.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#ListAliases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListAliasesRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListAliasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a paginated call to list the aliases associated with a given entity.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListAliasesRequest": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the entity for which to list the aliases.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the entity exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListAliasesResponse": {
      "type": "structure",
      "members": {
        "Aliases": {
          "target": "com.amazonaws.workmail#Aliases",
          "traits": {
            "smithy.api#documentation": "<p>The entity's paginated aliases.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there\n         are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListGroupMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListGroupMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListGroupMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an overview of the members\n         of a group. Users and groups can be members of a group.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListGroupMembersRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the group to which the members (users or groups) are associated.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListGroupMembersResponse": {
      "type": "structure",
      "members": {
        "Members": {
          "target": "com.amazonaws.workmail#Members",
          "traits": {
            "smithy.api#documentation": "<p>The members associated to the group.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns summaries of the organization's groups.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListGroupsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the groups exist.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.workmail#Groups",
          "traits": {
            "smithy.api#documentation": "<p>The overview of groups for an organization.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there\n         are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListMailboxPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListMailboxPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListMailboxPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the mailbox permissions associated with a user, group, or resource\n         mailbox.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListMailboxPermissionsRequest": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user, group, or resource for which to list mailbox\n         permissions.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization under which the user, group, or resource\n         exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListMailboxPermissionsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there are no more results to return.</p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.workmail#Permissions",
          "traits": {
            "smithy.api#documentation": "<p>One page of the user, group, or resource mailbox permissions.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListOrganizationsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListOrganizationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns summaries of the customer's non-deleted organizations.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListOrganizationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListOrganizationsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there\n         are no more results to return.</p>"
          }
        },
        "OrganizationSummaries": {
          "target": "com.amazonaws.workmail#OrganizationSummaries",
          "traits": {
            "smithy.api#documentation": "<p>The overview of owned organizations presented as a list of organization summaries.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListResourceDelegates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListResourceDelegatesRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListResourceDelegatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the delegates associated with a resource. Users and groups can be resource\n         delegates and answer requests on behalf of the resource.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListResourceDelegatesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of maximum results in a page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token used to paginate through the delegates associated with a resource.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization that contains the resource for which delegates\n         are listed.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the resource whose delegates are listed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListResourceDelegatesResponse": {
      "type": "structure",
      "members": {
        "Delegates": {
          "target": "com.amazonaws.workmail#ResourceDelegates",
          "traits": {
            "smithy.api#documentation": "<p>One page of the resource's delegates.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token used to paginate through the delegates associated with a resource. While\n         results are still available, it has an associated value. When the last page is reached, the\n         token is empty. </p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns summaries of the organization's resources.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListResourcesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the resources exist.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListResourcesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token used to paginate through all the organization's resources. While results\n         are still available, it has an associated value. When the last page is reached, the token\n         is empty.</p>"
          }
        },
        "Resources": {
          "target": "com.amazonaws.workmail#Resources",
          "traits": {
            "smithy.api#documentation": "<p>One page of the organization's resource representation.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListUsersRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListUsersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns summaries of the organization's users.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListUsersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the users exist.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListUsersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token to use to retrieve the next page of results. This value is `null` when there are no more results to return.</p>"
          }
        },
        "Users": {
          "target": "com.amazonaws.workmail#Users",
          "traits": {
            "smithy.api#documentation": "<p>The overview of users for an organization.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#MailDomainNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For an email or alias to be created in Amazon WorkMail, the included domain must be\n         defined in the organization.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#MailDomainStateException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>After a domain has been added to the organization, it must be verified. The domain is\n         not yet verified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#MailboxQuota": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.workmail#MailboxSize": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.workmail#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.workmail#Member": {
      "type": "structure",
      "members": {
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date indicating when the member was disabled from Amazon WorkMail\n         use.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date indicating when the member was enabled for Amazon WorkMail\n         use.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the member.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the member, which can be ENABLED, DISABLED, or DELETED.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#MemberType",
          "traits": {
            "smithy.api#documentation": "<p>A member can be a user or group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The representation of a user or group.</p>"
      }
    },
    "com.amazonaws.workmail#MemberType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GROUP",
            "name": "GROUP"
          },
          {
            "value": "USER",
            "name": "USER"
          }
        ]
      }
    },
    "com.amazonaws.workmail#Members": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#Member"
      }
    },
    "com.amazonaws.workmail#NameAvailabilityException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user, group, or resource name isn't unique in Amazon WorkMail.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.workmail#OrganizationId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^m-[0-9a-f]{32}$"
      }
    },
    "com.amazonaws.workmail#OrganizationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 62
        },
        "smithy.api#pattern": "^(?!d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*"
      }
    },
    "com.amazonaws.workmail#OrganizationNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An operation received a valid organization identifier that either doesn't belong or\n         exist in the system.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#OrganizationStateException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The organization must have a valid state (Active or Synchronizing) to perform certain\n         operations on the organization or its members.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#OrganizationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#OrganizationSummary"
      }
    },
    "com.amazonaws.workmail#OrganizationSummary": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.workmail#OrganizationName",
          "traits": {
            "smithy.api#documentation": "<p>The alias associated with the organization.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the organization. It is only  present if unexpected\n         behavior has occurred with regards to the organization. It provides insight or solutions\n         regarding unexpected behavior.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The state associated with the organization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The representation of an organization.</p>"
      }
    },
    "com.amazonaws.workmail#Password": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[\\u0020-\\u00FF]+",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.workmail#Permission": {
      "type": "structure",
      "members": {
        "GranteeId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user, group, or resource to which the permissions are\n         granted.</p>",
            "smithy.api#required": {}
          }
        },
        "GranteeType": {
          "target": "com.amazonaws.workmail#MemberType",
          "traits": {
            "smithy.api#documentation": "<p>The type of user, group, or resource referred to in GranteeId.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionValues": {
          "target": "com.amazonaws.workmail#PermissionValues",
          "traits": {
            "smithy.api#documentation": "<p>The permissions granted to the grantee. SEND_AS allows the grantee to send email as the owner of the mailbox (the grantee is not mentioned on these emails). SEND_ON_BEHALF allows the grantee to send email on behalf of the owner of the mailbox (the grantee is not mentioned as the physical sender of these emails). FULL_ACCESS allows the grantee full access to the mailbox, irrespective of other folder-level permissions set on the mailbox.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Permission granted to a user, group, or resource to access a certain aspect of\n         another user, group, or resource mailbox.</p>"
      }
    },
    "com.amazonaws.workmail#PermissionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FULL_ACCESS",
            "name": "FULL_ACCESS"
          },
          {
            "value": "SEND_AS",
            "name": "SEND_AS"
          },
          {
            "value": "SEND_ON_BEHALF",
            "name": "SEND_ON_BEHALF"
          }
        ]
      }
    },
    "com.amazonaws.workmail#PermissionValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#PermissionType"
      }
    },
    "com.amazonaws.workmail#Permissions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#Permission"
      }
    },
    "com.amazonaws.workmail#PutMailboxPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#PutMailboxPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#PutMailboxPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets permissions for a user, group, or resource. This replaces any pre-existing\n         permissions.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#PutMailboxPermissionsRequest": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user, group, or resource for which to update mailbox\n         permissions.</p>",
            "smithy.api#required": {}
          }
        },
        "GranteeId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user, group, or resource to which to grant the\n         permissions.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization under which the user, group, or resource\n         exists.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionValues": {
          "target": "com.amazonaws.workmail#PermissionValues",
          "traits": {
            "smithy.api#documentation": "<p>The permissions granted to the grantee. SEND_AS allows the grantee to send email as the owner of the mailbox (the grantee is not mentioned on these emails). SEND_ON_BEHALF allows the grantee to send email on behalf of the owner of the mailbox (the grantee is not mentioned as the physical sender of these emails). FULL_ACCESS allows the grantee full access to the mailbox, irrespective of other folder-level permissions set on the mailbox.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#PutMailboxPermissionsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#RegisterToWorkMail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#RegisterToWorkMailRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#RegisterToWorkMailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EmailAddressInUseException"
        },
        {
          "target": "com.amazonaws.workmail#EntityAlreadyRegisteredException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#MailDomainNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#MailDomainStateException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Registers an existing and disabled user, group, or resource for Amazon WorkMail use by\n         associating a mailbox and calendaring capabilities. It performs no change if the user,\n         group, or resource is enabled and fails if the user, group, or resource is deleted. This\n         operation results in the accumulation of costs. For more information, see <a href=\"https://aws.amazon.com//workmail/pricing\">Pricing</a>. The equivalent console\n         functionality for this operation is <i>Enable</i>. </p>\n         <p>Users can either be created by calling the <a>CreateUser</a> API operation or\n         they can be synchronized from your directory. For more information, see <a>DeregisterFromWorkMail</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#RegisterToWorkMailRequest": {
      "type": "structure",
      "members": {
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email for the user, group, or resource to be updated.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the user, group, or resource to be updated.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the user, group, or resource\n         exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#RegisterToWorkMailResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#ReservedNameException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This user, group, or resource name is not allowed in Amazon WorkMail.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#ResetPassword": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ResetPasswordRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ResetPasswordResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidPasswordException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows the administrator to reset the password for a user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#ResetPasswordRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization that contains the user for which the password is\n         reset.</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.workmail#Password",
          "traits": {
            "smithy.api#documentation": "<p>The new password for the user.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user for whom the password is reset.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ResetPasswordResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#Resource": {
      "type": "structure",
      "members": {
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date indicating when the resource was disabled from Amazon WorkMail\n         use.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the resource.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date indicating when the resource was enabled for Amazon WorkMail use.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the resource, which can be ENABLED, DISABLED, or DELETED.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource: equipment or room.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The representation of a resource.</p>"
      }
    },
    "com.amazonaws.workmail#ResourceDelegates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#Delegate"
      }
    },
    "com.amazonaws.workmail#ResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^r-[0-9a-f]{32}$"
      }
    },
    "com.amazonaws.workmail#ResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9]{2,})?"
      }
    },
    "com.amazonaws.workmail#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ROOM",
            "name": "ROOM"
          },
          {
            "value": "EQUIPMENT",
            "name": "EQUIPMENT"
          }
        ]
      }
    },
    "com.amazonaws.workmail#Resources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#Resource"
      }
    },
    "com.amazonaws.workmail#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.workmail#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.workmail#UnsupportedOperationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't perform a write operation against a read-only directory.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#UpdateMailboxQuota": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#UpdateMailboxQuotaRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#UpdateMailboxQuotaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a user's current mailbox quota for a specified organization and user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#UpdateMailboxQuotaRequest": {
      "type": "structure",
      "members": {
        "MailboxQuota": {
          "target": "com.amazonaws.workmail#MailboxQuota",
          "traits": {
            "smithy.api#documentation": "<p>The updated mailbox quota, in MB, for the specified user.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization that contains the user for whom to update the mailbox quota.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
[...]
