{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.xray#AWSXRay": {
      "type": "service",
      "version": "2016-04-12",
      "operations": [
        {
          "target": "com.amazonaws.xray#BatchGetTraces"
        },
        {
          "target": "com.amazonaws.xray#CreateGroup"
        },
        {
          "target": "com.amazonaws.xray#CreateSamplingRule"
        },
        {
          "target": "com.amazonaws.xray#DeleteGroup"
        },
        {
          "target": "com.amazonaws.xray#DeleteSamplingRule"
        },
        {
          "target": "com.amazonaws.xray#GetEncryptionConfig"
        },
        {
          "target": "com.amazonaws.xray#GetGroup"
        },
        {
          "target": "com.amazonaws.xray#GetGroups"
        },
        {
          "target": "com.amazonaws.xray#GetInsight"
        },
        {
          "target": "com.amazonaws.xray#GetInsightEvents"
        },
        {
          "target": "com.amazonaws.xray#GetInsightImpactGraph"
        },
        {
          "target": "com.amazonaws.xray#GetInsightSummaries"
        },
        {
          "target": "com.amazonaws.xray#GetSamplingRules"
        },
        {
          "target": "com.amazonaws.xray#GetSamplingStatisticSummaries"
        },
        {
          "target": "com.amazonaws.xray#GetSamplingTargets"
        },
        {
          "target": "com.amazonaws.xray#GetServiceGraph"
        },
        {
          "target": "com.amazonaws.xray#GetTimeSeriesServiceStatistics"
        },
        {
          "target": "com.amazonaws.xray#GetTraceGraph"
        },
        {
          "target": "com.amazonaws.xray#GetTraceSummaries"
        },
        {
          "target": "com.amazonaws.xray#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.xray#PutEncryptionConfig"
        },
        {
          "target": "com.amazonaws.xray#PutTelemetryRecords"
        },
        {
          "target": "com.amazonaws.xray#PutTraceSegments"
        },
        {
          "target": "com.amazonaws.xray#TagResource"
        },
        {
          "target": "com.amazonaws.xray#UntagResource"
        },
        {
          "target": "com.amazonaws.xray#UpdateGroup"
        },
        {
          "target": "com.amazonaws.xray#UpdateSamplingRule"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "XRay",
          "arnNamespace": "xray",
          "cloudFormationName": "XRay",
          "cloudTrailEventSource": "xray.amazonaws.com",
          "endpointPrefix": "xray"
        },
        "aws.auth#sigv4": {
          "name": "xray"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Web Services X-Ray provides APIs for managing debug traces and retrieving service maps\n      and other data created by processing those traces.</p>",
        "smithy.api#title": "AWS X-Ray"
      }
    },
    "com.amazonaws.xray#Alias": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The canonical name of the alias.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#AliasNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of names for the alias, including the canonical name.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An alias for an edge.</p>"
      }
    },
    "com.amazonaws.xray#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#Alias"
      }
    },
    "com.amazonaws.xray#AliasNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#String"
      }
    },
    "com.amazonaws.xray#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.xray#AnnotationKey": {
      "type": "string"
    },
    "com.amazonaws.xray#AnnotationValue": {
      "type": "union",
      "members": {
        "NumberValue": {
          "target": "com.amazonaws.xray#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Value for a Number annotation.</p>"
          }
        },
        "BooleanValue": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Value for a Boolean annotation.</p>"
          }
        },
        "StringValue": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Value for a String annotation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Value of a segment annotation. Has one of three value types: Number, Boolean, or String.</p>"
      }
    },
    "com.amazonaws.xray#Annotations": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.xray#AnnotationKey"
      },
      "value": {
        "target": "com.amazonaws.xray#ValuesWithServiceIds"
      }
    },
    "com.amazonaws.xray#AnomalousService": {
      "type": "structure",
      "members": {
        "ServiceId": {
          "target": "com.amazonaws.xray#ServiceId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service within the service graph that has anomalously high fault rates. </p>"
      }
    },
    "com.amazonaws.xray#AnomalousServiceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#AnomalousService"
      }
    },
    "com.amazonaws.xray#AttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.xray#AttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.xray#AttributeKey"
      },
      "value": {
        "target": "com.amazonaws.xray#AttributeValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.xray#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.xray#AvailabilityZoneDetail": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a corresponding Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of Availability Zones corresponding to the segments in a trace.</p>"
      }
    },
    "com.amazonaws.xray#BackendConnectionErrors": {
      "type": "structure",
      "members": {
        "TimeoutCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "ConnectionRefusedCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "HTTPCode4XXCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "HTTPCode5XXCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "UnknownHostCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "OtherCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.xray#BatchGetTraces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#BatchGetTracesRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#BatchGetTracesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of traces specified by ID. Each trace is a collection of segment\n      documents that originates from a single request. Use <code>GetTraceSummaries</code> to get a\n      list of trace IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/Traces",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Traces"
        }
      }
    },
    "com.amazonaws.xray#BatchGetTracesRequest": {
      "type": "structure",
      "members": {
        "TraceIds": {
          "target": "com.amazonaws.xray#TraceIdList",
          "traits": {
            "smithy.api#documentation": "<p>Specify the trace IDs of requests for which to retrieve segments.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#BatchGetTracesResult": {
      "type": "structure",
      "members": {
        "Traces": {
          "target": "com.amazonaws.xray#TraceList",
          "traits": {
            "smithy.api#documentation": "<p>Full traces for the specified requests.</p>"
          }
        },
        "UnprocessedTraceIds": {
          "target": "com.amazonaws.xray#UnprocessedTraceIdList",
          "traits": {
            "smithy.api#documentation": "<p>Trace IDs of requests that haven't been processed.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.xray#BorrowCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.xray#ClientID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 24,
          "max": 24
        }
      }
    },
    "com.amazonaws.xray#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#CreateGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a group resource with a name and a filter expression. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The case-sensitive name of the new group. Default is a reserved name and names must\n            be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "FilterExpression": {
          "target": "com.amazonaws.xray#FilterExpression",
          "traits": {
            "smithy.api#documentation": "<p>The filter expression defining criteria by which to group traces.</p>"
          }
        },
        "InsightsConfiguration": {
          "target": "com.amazonaws.xray#InsightsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The structure containing configurations related to insights.</p>\n            <ul>\n            <li>\n                    <p>The InsightsEnabled boolean can be set to true to enable insights for the\n                    new group or false to disable insights for the new group.</p>\n                </li>\n            <li>\n                    <p>The NotifcationsEnabled boolean can be set to true to enable insights\n                    notifications for the new group. Notifications may only be enabled on a group\n                    with InsightsEnabled set to true.</p>\n                </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.xray#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains one or more tag keys and tag values to attach to an X-Ray group.\n            For more information about ways to use tags, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services\n                resources</a> in the <i>Amazon Web Services General Reference</i>.</p>\n        <p>The following restrictions apply to tags:</p>\n        <ul>\n            <li>\n                <p>Maximum number of user-applied tags per resource: 50</p>\n            </li>\n            <li>\n                <p>Maximum tag key length: 128 Unicode characters</p>\n            </li>\n            <li>\n                <p>Maximum tag value length: 256 Unicode characters</p>\n            </li>\n            <li>\n                <p>Valid values for key and value: a-z, A-Z, 0-9, space, and the following characters: _ . :\n                    / = + - and @</p>\n            </li>\n            <li>\n                <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n                <p>Don't use <code>aws:</code> as a prefix for keys; it's reserved for Amazon Web Services\n                    use.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.xray#CreateGroupResult": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.xray#Group",
          "traits": {
            "smithy.api#documentation": "<p>The group that was created. Contains the name of the group that was created, the Amazon Resource Name\n            (ARN) of the group that was generated based on the group name, the filter expression, and the insight\n            configuration that was assigned to the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#CreateSamplingRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#CreateSamplingRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#CreateSamplingRuleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#RuleLimitExceededException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a rule to control sampling behavior for instrumented applications. Services\n         retrieve rules with <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingRules.html\">GetSamplingRules</a>, and evaluate each rule in ascending\n         order of <i>priority</i> for each request. If a rule matches, the service\n         records a trace, borrowing it from the reservoir size. After 10 seconds, the service\n         reports back to X-Ray with <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingTargets.html\">GetSamplingTargets</a> to get updated versions of\n         each in-use rule. The updated rule contains a trace quota that the service can use instead\n         of borrowing from the reservoir.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateSamplingRule",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#CreateSamplingRuleRequest": {
      "type": "structure",
      "members": {
        "SamplingRule": {
          "target": "com.amazonaws.xray#SamplingRule",
          "traits": {
            "smithy.api#documentation": "<p>The rule definition.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.xray#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains one or more tag keys and tag values to attach to an X-Ray sampling\n         rule. For more information about ways to use tags, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services\n            resources</a> in the <i>Amazon Web Services General Reference</i>.</p>\n         <p>The following restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of user-applied tags per resource: 50</p>\n            </li>\n            <li>\n               <p>Maximum tag key length: 128 Unicode characters</p>\n            </li>\n            <li>\n               <p>Maximum tag value length: 256 Unicode characters</p>\n            </li>\n            <li>\n               <p>Valid values for key and value: a-z, A-Z, 0-9, space, and the following characters: _ . :\n               / = + - and @</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Don't use <code>aws:</code> as a prefix for keys; it's reserved for Amazon Web Services\n               use.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.xray#CreateSamplingRuleResult": {
      "type": "structure",
      "members": {
        "SamplingRuleRecord": {
          "target": "com.amazonaws.xray#SamplingRuleRecord",
          "traits": {
            "smithy.api#documentation": "<p>The saved rule definition and metadata.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#DeleteGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#DeleteGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#DeleteGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a group resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#DeleteGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The case-sensitive name of the group.</p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group that was generated on creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#DeleteGroupResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.xray#DeleteSamplingRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#DeleteSamplingRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#DeleteSamplingRuleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a sampling rule.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteSamplingRule",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#DeleteSamplingRuleRequest": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
          }
        },
        "RuleARN": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#DeleteSamplingRuleResult": {
      "type": "structure",
      "members": {
        "SamplingRuleRecord": {
          "target": "com.amazonaws.xray#SamplingRuleRecord",
          "traits": {
            "smithy.api#documentation": "<p>The deleted rule definition and metadata.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#Double": {
      "type": "double"
    },
    "com.amazonaws.xray#EC2InstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.xray#Edge": {
      "type": "structure",
      "members": {
        "ReferenceId": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the edge. Unique within a service map.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the first segment on the edge.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the last segment on the edge.</p>"
          }
        },
        "SummaryStatistics": {
          "target": "com.amazonaws.xray#EdgeStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Response statistics for segments on the edge.</p>"
          }
        },
        "ResponseTimeHistogram": {
          "target": "com.amazonaws.xray#Histogram",
          "traits": {
            "smithy.api#documentation": "<p>A histogram that maps the spread of client response times on an edge.</p>"
          }
        },
        "Aliases": {
          "target": "com.amazonaws.xray#AliasList",
          "traits": {
            "smithy.api#documentation": "<p>Aliases for the edge.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a connection between two services.</p>"
      }
    },
    "com.amazonaws.xray#EdgeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#Edge"
      }
    },
    "com.amazonaws.xray#EdgeStatistics": {
      "type": "structure",
      "members": {
        "OkCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that completed with a 2xx Success status code.</p>"
          }
        },
        "ErrorStatistics": {
          "target": "com.amazonaws.xray#ErrorStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>"
          }
        },
        "FaultStatistics": {
          "target": "com.amazonaws.xray#FaultStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Information about requests that failed with a 5xx Server Error status code.</p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The total number of completed requests.</p>"
          }
        },
        "TotalResponseTime": {
          "target": "com.amazonaws.xray#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>The aggregate response time of completed requests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response statistics for an edge.</p>"
      }
    },
    "com.amazonaws.xray#EncryptionConfig": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key used for encryption, if applicable.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.xray#EncryptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The encryption status. While the status is <code>UPDATING</code>, X-Ray may encrypt data with a combination of the new and old settings.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#EncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of encryption. Set to <code>KMS</code> for encryption with KMS keys. Set to <code>NONE</code> for\n      default encryption.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration document that specifies encryption configuration settings.</p>"
      }
    },
    "com.amazonaws.xray#EncryptionKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3000
        }
      }
    },
    "com.amazonaws.xray#EncryptionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.xray#EncryptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "KMS",
            "name": "KMS"
          }
        ]
      }
    },
    "com.amazonaws.xray#EntitySelectorExpression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.xray#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.xray#ErrorRootCause": {
      "type": "structure",
      "members": {
        "Services": {
          "target": "com.amazonaws.xray#ErrorRootCauseServices",
          "traits": {
            "smithy.api#documentation": "<p>A list of services corresponding to an error. A service identifies a segment and it\n      contains a name, account ID, type, and inferred flag.</p>"
          }
        },
        "ClientImpacting": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that denotes that the root cause impacts the trace client.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The root cause of a trace summary error.</p>"
      }
    },
    "com.amazonaws.xray#ErrorRootCauseEntity": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity.</p>"
          }
        },
        "Exceptions": {
          "target": "com.amazonaws.xray#RootCauseExceptions",
          "traits": {
            "smithy.api#documentation": "<p>The types and messages of the exceptions.</p>"
          }
        },
        "Remote": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that denotes a remote subsegment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of segments and corresponding subsegments associated to a trace summary\n      error.</p>"
      }
    },
    "com.amazonaws.xray#ErrorRootCauseEntityPath": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ErrorRootCauseEntity"
      }
    },
    "com.amazonaws.xray#ErrorRootCauseService": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The service name.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#ServiceNames",
          "traits": {
            "smithy.api#documentation": "<p>A collection of associated service names.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The type associated to the service.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The account ID associated to the service.</p>"
          }
        },
        "EntityPath": {
          "target": "com.amazonaws.xray#ErrorRootCauseEntityPath",
          "traits": {
            "smithy.api#documentation": "<p>The path of root cause entities found on the service. </p>"
          }
        },
        "Inferred": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of fields identifying the services in a trace summary error.</p>"
      }
    },
    "com.amazonaws.xray#ErrorRootCauseServices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ErrorRootCauseService"
      }
    },
    "com.amazonaws.xray#ErrorRootCauses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ErrorRootCause"
      }
    },
    "com.amazonaws.xray#ErrorStatistics": {
      "type": "structure",
      "members": {
        "ThrottleCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that failed with a 419 throttling status code.</p>"
          }
        },
        "OtherCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that failed with untracked 4xx Client Error status\n      codes.</p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The total number of requests that failed with a 4xx Client Error status code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>"
      }
    },
    "com.amazonaws.xray#EventSummaryText": {
      "type": "string"
    },
    "com.amazonaws.xray#FaultRootCause": {
      "type": "structure",
      "members": {
        "Services": {
          "target": "com.amazonaws.xray#FaultRootCauseServices",
          "traits": {
            "smithy.api#documentation": "<p>A list of corresponding services. A service identifies a segment and it contains a\n      name, account ID, type, and inferred flag.</p>"
          }
        },
        "ClientImpacting": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that denotes that the root cause impacts the trace client.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The root cause information for a trace summary fault.</p>"
      }
    },
    "com.amazonaws.xray#FaultRootCauseEntity": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity.</p>"
          }
        },
        "Exceptions": {
          "target": "com.amazonaws.xray#RootCauseExceptions",
          "traits": {
            "smithy.api#documentation": "<p>The types and messages of the exceptions.</p>"
          }
        },
        "Remote": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that denotes a remote subsegment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of segments and corresponding subsegments associated to a trace summary\n      fault error.</p>"
      }
    },
    "com.amazonaws.xray#FaultRootCauseEntityPath": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#FaultRootCauseEntity"
      }
    },
    "com.amazonaws.xray#FaultRootCauseService": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The service name.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#ServiceNames",
          "traits": {
            "smithy.api#documentation": "<p>A collection of associated service names.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The type associated to the service.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The account ID associated to the service.</p>"
          }
        },
        "EntityPath": {
          "target": "com.amazonaws.xray#FaultRootCauseEntityPath",
          "traits": {
            "smithy.api#documentation": "<p>The path of root cause entities found on the service. </p>"
          }
        },
        "Inferred": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of fields identifying the services in a trace summary fault.</p>"
      }
    },
    "com.amazonaws.xray#FaultRootCauseServices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#FaultRootCauseService"
      }
    },
    "com.amazonaws.xray#FaultRootCauses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#FaultRootCause"
      }
    },
    "com.amazonaws.xray#FaultStatistics": {
      "type": "structure",
      "members": {
        "OtherCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that failed with untracked 5xx Server Error status\n      codes.</p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The total number of requests that failed with a 5xx Server Error status code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about requests that failed with a 5xx Server Error status code.</p>"
      }
    },
    "com.amazonaws.xray#FilterExpression": {
      "type": "string"
    },
    "com.amazonaws.xray#FixedRate": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.xray#ForecastStatistics": {
      "type": "structure",
      "members": {
        "FaultCountHigh": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The upper limit of fault counts for a service.</p>"
          }
        },
        "FaultCountLow": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The lower limit of fault counts for a service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The predicted high and low fault count. This is used to determine if a service has\n         become anomalous and if an insight should be created.</p>"
      }
    },
    "com.amazonaws.xray#GetEncryptionConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetEncryptionConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetEncryptionConfigResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the current encryption configuration for X-Ray data.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/EncryptionConfig",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#GetEncryptionConfigRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.xray#GetEncryptionConfigResult": {
      "type": "structure",
      "members": {
        "EncryptionConfig": {
          "target": "com.amazonaws.xray#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration document.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves group resource details.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#GetGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The case-sensitive name of the group.</p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group that was generated on creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetGroupResult": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.xray#Group",
          "traits": {
            "smithy.api#documentation": "<p>The group that was requested. Contains the name of the group, the ARN of the group,\n            the filter expression, and the insight configuration assigned to the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetGroupsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all active group details.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/Groups",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Groups"
        }
      }
    },
    "com.amazonaws.xray#GetGroupsNextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.xray#GetGroupsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#GetGroupsNextToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetGroupsResult": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.xray#GroupSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The collection of all active groups.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetInsight": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetInsightRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetInsightResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the summary information of an insight. This includes impact to clients and\n         root cause services, the top anomalous services, the category, the state of the insight,\n         and the start and end time of the insight.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/Insight",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#GetInsightEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetInsightEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetInsightEventsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>X-Ray reevaluates insights periodically until they're resolved, and records each intermediate state as an\n         event. You can review an insight's events in the Impact Timeline on the Inspect page in the X-Ray\n         console.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/InsightEvents",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.xray#GetInsightEventsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.xray#GetInsightEventsRequest": {
      "type": "structure",
      "members": {
        "InsightId": {
          "target": "com.amazonaws.xray#InsightId",
          "traits": {
            "smithy.api#documentation": "<p>The insight's unique identifier. Use the GetInsightSummaries action to retrieve an InsightId.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.xray#GetInsightEventsMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Used to retrieve at most the specified value of events.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#Token",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token returned by a previous request to retrieve the next page of events. </p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetInsightEventsResult": {
      "type": "structure",
      "members": {
        "InsightEvents": {
          "target": "com.amazonaws.xray#InsightEventList",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of the event. This includes the time of the event, client and\n         root cause impact statistics, and the top anomalous service at the time of the\n         event.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#Token",
          "traits": {
            "smithy.api#documentation": "<p>Use this token to retrieve the next page of insight events.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetInsightImpactGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetInsightImpactGraphRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetInsightImpactGraphResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a service graph structure filtered by the specified insight. The service graph is limited to only\n         structural information. For a complete service graph, use this API with the GetServiceGraph API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/InsightImpactGraph",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#GetInsightImpactGraphRequest": {
      "type": "structure",
      "members": {
        "InsightId": {
          "target": "com.amazonaws.xray#InsightId",
          "traits": {
            "smithy.api#documentation": "<p>The insight's unique identifier. Use the GetInsightSummaries action to retrieve an InsightId.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The estimated start time of the insight, in Unix time seconds. The StartTime is inclusive of the value\n         provided and can't be more than 30 days old.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The estimated end time of the insight, in Unix time seconds. The EndTime is exclusive of the value provided.\n         The time range between the start time and end time can't be more than six hours. </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#Token",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token returned by a previous request to retrieve the next page of results. </p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetInsightImpactGraphResult": {
      "type": "structure",
      "members": {
        "InsightId": {
          "target": "com.amazonaws.xray#InsightId",
          "traits": {
            "smithy.api#documentation": "<p>The insight's unique identifier.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The provided start time.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The provided end time. </p>"
          }
        },
        "ServiceGraphStartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in Unix seconds, at which the service graph started.</p>"
          }
        },
        "ServiceGraphEndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in Unix seconds, at which the service graph ended.</p>"
          }
        },
        "Services": {
          "target": "com.amazonaws.xray#InsightImpactGraphServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services instrumented services related to the insight.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#Token",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetInsightRequest": {
      "type": "structure",
      "members": {
        "InsightId": {
          "target": "com.amazonaws.xray#InsightId",
          "traits": {
            "smithy.api#documentation": "<p>The insight's unique identifier. Use the GetInsightSummaries action to retrieve an InsightId.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#GetInsightResult": {
      "type": "structure",
      "members": {
        "Insight": {
          "target": "com.amazonaws.xray#Insight",
          "traits": {
            "smithy.api#documentation": "<p>The summary information of an insight.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetInsightSummaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetInsightSummariesRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetInsightSummariesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the summaries of all insights in the specified group matching the provided filter values.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/InsightSummaries",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.xray#GetInsightSummariesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.xray#GetInsightSummariesRequest": {
      "type": "structure",
      "members": {
        "States": {
          "target": "com.amazonaws.xray#InsightStateList",
          "traits": {
            "smithy.api#documentation": "<p>The list of insight states. </p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the group. Required if the GroupName isn't provided.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group. Required if the GroupARN isn't provided.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The beginning of the time frame in which the insights started. The start time can't be more than 30 days\n         old.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time frame in which the insights ended. The end time can't be more than 30 days old.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.xray#GetInsightSummariesMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to display.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#Token",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetInsightSummariesResult": {
      "type": "structure",
      "members": {
        "InsightSummaries": {
          "target": "com.amazonaws.xray#InsightSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The summary of each insight within the group matching the provided filters. The summary\n         contains the InsightID, start and end time, the root cause service, the root cause and\n         client impact statistics, the top anomalous services, and the status of the insight.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#Token",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetSamplingRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetSamplingRulesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all sampling rules.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetSamplingRules",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "SamplingRuleRecords"
        }
      }
    },
    "com.amazonaws.xray#GetSamplingRulesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingRulesResult": {
      "type": "structure",
      "members": {
        "SamplingRuleRecords": {
          "target": "com.amazonaws.xray#SamplingRuleRecordList",
          "traits": {
            "smithy.api#documentation": "<p>Rule definitions and metadata.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingStatisticSummaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetSamplingStatisticSummariesRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetSamplingStatisticSummariesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about recent sampling results for all sampling rules.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/SamplingStatisticSummaries",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "SamplingStatisticSummaries"
        }
      }
    },
    "com.amazonaws.xray#GetSamplingStatisticSummariesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingStatisticSummariesResult": {
      "type": "structure",
      "members": {
        "SamplingStatisticSummaries": {
          "target": "com.amazonaws.xray#SamplingStatisticSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the number of requests instrumented for each sampling\n         rule.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetSamplingTargetsRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetSamplingTargetsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Requests a sampling quota for rules that the service is using to sample requests.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/SamplingTargets",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#GetSamplingTargetsRequest": {
      "type": "structure",
      "members": {
        "SamplingStatisticsDocuments": {
          "target": "com.amazonaws.xray#SamplingStatisticsDocumentList",
          "traits": {
            "smithy.api#documentation": "<p>Information about rules that the service is using to sample requests.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingTargetsResult": {
      "type": "structure",
      "members": {
        "SamplingTargetDocuments": {
          "target": "com.amazonaws.xray#SamplingTargetDocumentList",
          "traits": {
            "smithy.api#documentation": "<p>Updated rules that the service should use to sample requests.</p>"
          }
        },
        "LastRuleModification": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time a user changed the sampling rule configuration. If\n         the sampling rule configuration changed since the service last retrieved it, the service\n         should call <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingRules.html\">GetSamplingRules</a> to get the latest version.</p>"
          }
        },
        "UnprocessedStatistics": {
          "target": "com.amazonaws.xray#UnprocessedStatisticsList",
          "traits": {
            "smithy.api#documentation": "<p>Information about <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_SamplingStatisticsDocument.html\">SamplingStatisticsDocument</a> that X-Ray could not\n         process.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetServiceGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetServiceGraphRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetServiceGraphResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a document that describes services that process incoming requests, and\n      downstream services that they call as a result. Root services process incoming requests and\n      make calls to downstream services. Root services are applications that use the <a href=\"https://docs.aws.amazon.com/xray/index.html\">Amazon Web Services X-Ray SDK</a>.\n      Downstream services can be other applications, Amazon Web Services resources, HTTP web APIs, or SQL\n      databases.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ServiceGraph",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Services"
        }
      }
    },
    "com.amazonaws.xray#GetServiceGraphRequest": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time frame for which to generate a graph.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the timeframe for which to generate a graph.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a group based on which you want to generate a graph.</p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a group based on which you want to generate a graph.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetServiceGraphResult": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time frame for which the graph was generated.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time frame for which the graph was generated.</p>"
          }
        },
        "Services": {
          "target": "com.amazonaws.xray#ServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The services that have processed a traced request during the specified time\n      frame.</p>"
          }
        },
        "ContainsOldGroupVersions": {
          "target": "com.amazonaws.xray#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag indicating whether the group's filter expression has been consistent, or\n      if the returned service graph may show traces from an older version of the group's filter\n      expression.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTimeSeriesServiceStatistics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetTimeSeriesServiceStatisticsRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetTimeSeriesServiceStatisticsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get an aggregation of service statistics defined by a specific time\n            range.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/TimeSeriesServiceStatistics",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "TimeSeriesServiceStatistics"
        }
      }
    },
    "com.amazonaws.xray#GetTimeSeriesServiceStatisticsRequest": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time frame for which to aggregate statistics.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time frame for which to aggregate statistics.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The case-sensitive name of the group for which to pull statistics from.</p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the group for which to pull statistics from.</p>"
          }
        },
        "EntitySelectorExpression": {
          "target": "com.amazonaws.xray#EntitySelectorExpression",
          "traits": {
            "smithy.api#documentation": "<p>A filter expression defining entities that will be aggregated for statistics.\n            Supports ID, service, and edge functions. If no selector expression is specified, edge\n            statistics are returned. </p>"
          }
        },
        "Period": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation period in seconds.</p>"
          }
        },
        "ForecastStatistics": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>The forecasted high and low fault count values. Forecast enabled requests require the\n            EntitySelectorExpression ID be provided.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTimeSeriesServiceStatisticsResult": {
      "type": "structure",
      "members": {
        "TimeSeriesServiceStatistics": {
          "target": "com.amazonaws.xray#TimeSeriesServiceStatisticsList",
          "traits": {
            "smithy.api#documentation": "<p>The collection of statistics.</p>"
          }
        },
        "ContainsOldGroupVersions": {
          "target": "com.amazonaws.xray#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag indicating whether or not a group's filter expression has been consistent, or if a returned\n            aggregation might show statistics from an older version of the group's filter expression.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTraceGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetTraceGraphRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetTraceGraphResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a service graph for one or more specific trace IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/TraceGraph",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Services"
        }
      }
    },
    "com.amazonaws.xray#GetTraceGraphRequest": {
      "type": "structure",
      "members": {
        "TraceIds": {
          "target": "com.amazonaws.xray#TraceIdList",
          "traits": {
            "smithy.api#documentation": "<p>Trace IDs of requests for which to generate a service graph.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTraceGraphResult": {
      "type": "structure",
      "members": {
        "Services": {
          "target": "com.amazonaws.xray#ServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The services that have processed one of the specified requests.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTraceSummaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetTraceSummariesRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetTraceSummariesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves IDs and annotations for traces available for a specified time frame using an\n      optional filter. To get the full traces, pass the trace IDs to\n      <code>BatchGetTraces</code>.</p>\n         <p>A filter expression can target traced requests that hit specific service nodes or\n      edges, have errors, or come from a known user. For example, the following filter expression\n      targets traces that pass through <code>api.example.com</code>:</p>\n         <p>\n            <code>service(\"api.example.com\")</code>\n         </p>\n         <p>This filter expression finds traces that have an annotation named <code>account</code>\n      with the value <code>12345</code>:</p>\n         <p>\n            <code>annotation.account = \"12345\"</code>\n         </p>\n         <p>For a full list of indexed fields and keywords that you can use in filter expressions,\n      see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-console-filters.html\">Using Filter\n        Expressions</a> in the <i>Amazon Web Services X-Ray Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/TraceSummaries",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "TraceSummaries"
        }
      }
    },
    "com.amazonaws.xray#GetTraceSummariesRequest": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time frame for which to retrieve traces.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time frame for which to retrieve traces.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeRangeType": {
          "target": "com.amazonaws.xray#TimeRangeType",
          "traits": {
            "smithy.api#documentation": "<p>A parameter to indicate whether to query trace summaries by TraceId or Event time.</p>"
          }
        },
        "Sampling": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to get summaries for only a subset of available\n      traces.</p>"
          }
        },
        "SamplingStrategy": {
          "target": "com.amazonaws.xray#SamplingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>A parameter to indicate whether to enable sampling on trace summaries. Input parameters are Name and\n            Value.</p>"
          }
        },
        "FilterExpression": {
          "target": "com.amazonaws.xray#FilterExpression",
          "traits": {
            "smithy.api#documentation": "<p>Specify a filter expression to retrieve trace summaries for services or requests that\n      meet certain requirements.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token returned by a previous request to retrieve the next page\n      of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTraceSummariesResult": {
      "type": "structure",
      "members": {
        "TraceSummaries": {
          "target": "com.amazonaws.xray#TraceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Trace IDs and annotations for traces that were found in the specified time\n      frame.</p>"
          }
        },
        "ApproximateTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of this page of results.</p>"
          }
        },
        "TracesProcessedCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The total number of traces processed, including traces that did not match the specified\n      filter expression.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>If the requested time frame contained more than one page of results, you can use this token to retrieve the\n      next page. The first page contains the most recent results, closest to the end of the time frame.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#Group": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique case-sensitive name of the group.</p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the group generated based on the GroupName.</p>"
          }
        },
        "FilterExpression": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The filter expression defining the parameters to include traces.</p>"
          }
        },
        "InsightsConfiguration": {
          "target": "com.amazonaws.xray#InsightsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The structure containing configurations related to insights.</p>\n        <ul>\n            <li>\n                <p>The InsightsEnabled boolean can be set to true to enable insights for the\n                    group or false to disable insights for the group.</p>\n            </li>\n            <li>\n                <p>The NotificationsEnabled boolean can be set to true to enable insights\n                    notifications through Amazon EventBridge for the group.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details and metadata for a group.</p>"
      }
    },
    "com.amazonaws.xray#GroupARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 400
        }
      }
    },
    "com.amazonaws.xray#GroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.xray#GroupSummary": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique case-sensitive name of the group.</p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group generated based on the GroupName.</p>"
          }
        },
        "FilterExpression": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The filter expression defining the parameters to include traces.</p>"
          }
        },
        "InsightsConfiguration": {
          "target": "com.amazonaws.xray#InsightsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The structure containing configurations related to insights.</p>\n        <ul>\n            <li>\n                <p>The InsightsEnabled boolean can be set to true to enable insights for the\n                    group or false to disable insights for the group.</p>\n            </li>\n            <li>\n                <p>The NotificationsEnabled boolean can be set to true to enable insights notifications.\n                    Notifications can only be enabled on a group with InsightsEnabled set to true.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for a group without metadata.</p>"
      }
    },
    "com.amazonaws.xray#GroupSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#GroupSummary"
      }
    },
    "com.amazonaws.xray#HTTPMethod": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.xray#Histogram": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#HistogramEntry"
      }
    },
    "com.amazonaws.xray#HistogramEntry": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.xray#Double",
          "traits": {
            "smithy.api#documentation": "<p>The value of the entry.</p>"
          }
        },
        "Count": {
          "target": "com.amazonaws.xray#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The prevalence of the entry.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entry in a histogram for a statistic. A histogram maps the range of observed values\n      on the X axis, and the prevalence of each value on the Y axis.</p>"
      }
    },
    "com.amazonaws.xray#Host": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.xray#Hostname": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.xray#Http": {
      "type": "structure",
      "members": {
        "HttpURL": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The request URL.</p>"
          }
        },
        "HttpStatus": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The response status.</p>"
          }
        },
        "HttpMethod": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The request method.</p>"
          }
        },
        "UserAgent": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The request's user agent string.</p>"
          }
        },
        "ClientIp": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the requestor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an HTTP request.</p>"
      }
    },
    "com.amazonaws.xray#Insight": {
      "type": "structure",
      "members": {
        "InsightId": {
          "target": "com.amazonaws.xray#InsightId",
          "traits": {
            "smithy.api#documentation": "<p>The insights unique identifier. </p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the group that the insight belongs to.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group  that the insight belongs to.</p>"
          }
        },
        "RootCauseServiceId": {
          "target": "com.amazonaws.xray#ServiceId"
        },
        "Categories": {
          "target": "com.amazonaws.xray#InsightCategoryList",
          "traits": {
            "smithy.api#documentation": "<p>The categories that label and describe the type of insight.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.xray#InsightState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the insight.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in Unix seconds, at which the insight began.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in Unix seconds, at which the insight ended.</p>"
          }
        },
        "Summary": {
          "target": "com.amazonaws.xray#InsightSummaryText",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the insight.</p>"
          }
        },
        "ClientRequestImpactStatistics": {
          "target": "com.amazonaws.xray#RequestImpactStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The impact statistics of the client side service. This includes the number of requests to the client service\n         and whether the requests were faults or okay.</p>"
          }
        },
        "RootCauseServiceRequestImpactStatistics": {
          "target": "com.amazonaws.xray#RequestImpactStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The impact statistics of the root cause service. This includes the number of requests to the client service\n         and whether the requests were faults or okay.</p>"
          }
        },
        "TopAnomalousServices": {
          "target": "com.amazonaws.xray#AnomalousServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The service within the insight that is most impacted by the incident.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When fault rates go outside of the expected range, X-Ray creates an insight. Insights\n         tracks emergent issues within your applications.</p>"
      }
    },
    "com.amazonaws.xray#InsightCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FAULT",
            "name": "FAULT"
          }
        ]
      }
    },
    "com.amazonaws.xray#InsightCategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#InsightCategory"
      }
    },
    "com.amazonaws.xray#InsightEvent": {
      "type": "structure",
      "members": {
        "Summary": {
          "target": "com.amazonaws.xray#EventSummaryText",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the event.</p>"
          }
        },
        "EventTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in Unix seconds, at which the event was recorded.</p>"
          }
        },
        "ClientRequestImpactStatistics": {
          "target": "com.amazonaws.xray#RequestImpactStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The impact statistics of the client side service. This includes the number of requests to the client service\n         and whether the requests were faults or okay.</p>"
          }
        },
        "RootCauseServiceRequestImpactStatistics": {
          "target": "com.amazonaws.xray#RequestImpactStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The impact statistics of the root cause service. This includes the number of requests to the client service\n         and whether the requests were faults or okay.</p>"
          }
        },
        "TopAnomalousServices": {
          "target": "com.amazonaws.xray#AnomalousServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The service during the event that is most impacted by the incident.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>X-Ray reevaluates insights periodically until they are resolved, and records each intermediate state in an\n         event. You can review incident events in the Impact Timeline on the Inspect page in the X-Ray console.</p>"
      }
    },
    "com.amazonaws.xray#InsightEventList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#InsightEvent"
      }
    },
    "com.amazonaws.xray#InsightId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
      }
    },
    "com.amazonaws.xray#InsightImpactGraphEdge": {
      "type": "structure",
      "members": {
        "ReferenceId": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the edge. Unique within a service map.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The connection between two service in an insight impact graph.</p>"
      }
    },
    "com.amazonaws.xray#InsightImpactGraphEdgeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#InsightImpactGraphEdge"
      }
    },
    "com.amazonaws.xray#InsightImpactGraphService": {
      "type": "structure",
      "members": {
        "ReferenceId": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for the service. Unique within the service map.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for the service. Unique within the service map.</p>\n         <ul>\n            <li>\n               <p>Amazon Web Services Resource - The type of an Amazon Web Services resource. For example, AWS::EC2::Instance for an application running\n               on Amazon EC2 or AWS::DynamoDB::Table for an Amazon DynamoDB table that the application used. </p>\n            </li>\n            <li>\n               <p>Amazon Web Services Service - The type of an Amazon Web Services service. For example, AWS::DynamoDB for downstream calls to Amazon\n               DynamoDB that didn't target a specific table. </p>\n            </li>\n            <li>\n               <p>Amazon Web Services Service - The type of an Amazon Web Services service. For example, AWS::DynamoDB for downstream calls to Amazon\n               DynamoDB that didn't target a specific table. </p>\n            </li>\n            <li>\n               <p>remote - A downstream service of indeterminate type.</p>\n            </li>\n         </ul>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The canonical name of the service.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#ServiceNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of names for the service, including the canonical name.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the Amazon Web Services account in which the service runs.</p>"
          }
        },
        "Edges": {
          "target": "com.amazonaws.xray#InsightImpactGraphEdgeList",
          "traits": {
            "smithy.api#documentation": "<p>Connections to downstream services.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an application that processed requests, users that made requests, or downstream services,\n         resources, and applications that an application used. </p>"
      }
    },
    "com.amazonaws.xray#InsightImpactGraphServiceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#InsightImpactGraphService"
      }
    },
    "com.amazonaws.xray#InsightState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "CLOSED",
            "name": "CLOSED"
          }
        ]
      }
    },
    "com.amazonaws.xray#InsightStateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#InsightState"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.xray#InsightSummary": {
      "type": "structure",
      "members": {
        "InsightId": {
          "target": "com.amazonaws.xray#InsightId",
          "traits": {
            "smithy.api#documentation": "<p>The insights unique identifier. </p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the group that the insight belongs to.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group  that the insight belongs to.</p>"
          }
        },
        "RootCauseServiceId": {
          "target": "com.amazonaws.xray#ServiceId"
        },
        "Categories": {
          "target": "com.amazonaws.xray#InsightCategoryList",
          "traits": {
            "smithy.api#documentation": "<p> Categories The categories that label and describe the type of insight.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.xray#InsightState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the insight.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in Unix seconds, at which the insight began.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in Unix seconds, at which the insight ended.</p>"
          }
        },
        "Summary": {
          "target": "com.amazonaws.xray#InsightSummaryText",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the insight.</p>"
          }
        },
        "ClientRequestImpactStatistics": {
          "target": "com.amazonaws.xray#RequestImpactStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The impact statistics of the client side service. This includes the number of requests\n         to the client service and whether the requests were faults or okay. </p>"
          }
        },
        "RootCauseServiceRequestImpactStatistics": {
          "target": "com.amazonaws.xray#RequestImpactStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The impact statistics of the root cause service. This includes the number of requests to\n         the client service and whether the requests were faults or okay. </p>"
          }
        },
        "TopAnomalousServices": {
          "target": "com.amazonaws.xray#AnomalousServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The service within the insight that is most impacted by the incident.</p>"
          }
        },
        "LastUpdateTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in Unix seconds, that the insight was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information that describes an insight.</p>"
      }
    },
    "com.amazonaws.xray#InsightSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#InsightSummary"
      }
    },
    "com.amazonaws.xray#InsightSummaryText": {
      "type": "string"
    },
    "com.amazonaws.xray#InsightsConfiguration": {
      "type": "structure",
      "members": {
        "InsightsEnabled": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Set the InsightsEnabled value to true to enable insights or false to disable\n            insights.</p>"
          }
        },
        "NotificationsEnabled": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Set the NotificationsEnabled value to true to enable insights notifications. Notifications can only be\n            enabled on a group with InsightsEnabled set to true.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure containing configurations related to insights.</p>"
      }
    },
    "com.amazonaws.xray#InstanceIdDetail": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a corresponding EC2 instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of EC2 instance IDs corresponding to the segments in a trace. </p>"
      }
    },
    "com.amazonaws.xray#Integer": {
      "type": "integer"
    },
    "com.amazonaws.xray#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.xray#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is missing required parameters or has invalid parameters.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.xray#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of tags that are applied to the specified Amazon Web Services X-Ray group or sampling rule.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListTagsForResource",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.xray#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of an X-Ray group or sampling rule.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. If multiple pages of results are returned, use the <code>NextToken</code> value returned with \n    the current page of results as the value of this parameter to get the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.xray#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags, as key and value pairs, that is associated with the specified X-Ray group or sampling rule.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. If multiple pages of results are returned, use the <code>NextToken</code> value returned with \n      the current page of results to get the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#NullableBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.xray#NullableDouble": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.xray#NullableInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.xray#NullableLong": {
      "type": "long",
[...]
