{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.xray#AWSXRay": {
      "type": "service",
      "version": "2016-04-12",
      "operations": [
        {
          "target": "com.amazonaws.xray#BatchGetTraces"
        },
        {
          "target": "com.amazonaws.xray#CreateGroup"
        },
        {
          "target": "com.amazonaws.xray#CreateSamplingRule"
        },
        {
          "target": "com.amazonaws.xray#DeleteGroup"
        },
        {
          "target": "com.amazonaws.xray#DeleteSamplingRule"
        },
        {
          "target": "com.amazonaws.xray#GetEncryptionConfig"
        },
        {
          "target": "com.amazonaws.xray#GetGroup"
        },
        {
          "target": "com.amazonaws.xray#GetGroups"
        },
        {
          "target": "com.amazonaws.xray#GetSamplingRules"
        },
        {
          "target": "com.amazonaws.xray#GetSamplingStatisticSummaries"
        },
        {
          "target": "com.amazonaws.xray#GetSamplingTargets"
        },
        {
          "target": "com.amazonaws.xray#GetServiceGraph"
        },
        {
          "target": "com.amazonaws.xray#GetTimeSeriesServiceStatistics"
        },
        {
          "target": "com.amazonaws.xray#GetTraceGraph"
        },
        {
          "target": "com.amazonaws.xray#GetTraceSummaries"
        },
        {
          "target": "com.amazonaws.xray#PutEncryptionConfig"
        },
        {
          "target": "com.amazonaws.xray#PutTelemetryRecords"
        },
        {
          "target": "com.amazonaws.xray#PutTraceSegments"
        },
        {
          "target": "com.amazonaws.xray#UpdateGroup"
        },
        {
          "target": "com.amazonaws.xray#UpdateSamplingRule"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "XRay",
          "arnNamespace": "xray",
          "cloudFormationName": "XRay",
          "cloudTrailEventSource": "tracing.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "xray"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>AWS X-Ray provides APIs for managing debug traces and retrieving service maps\n      and other data created by processing those traces.</p>",
        "smithy.api#title": "AWS X-Ray"
      }
    },
    "com.amazonaws.xray#Alias": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The canonical name of the alias.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#AliasNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of names for the alias, including the canonical name.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An alias for an edge.</p>"
      }
    },
    "com.amazonaws.xray#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#Alias"
      }
    },
    "com.amazonaws.xray#AliasNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#String"
      }
    },
    "com.amazonaws.xray#AnnotationKey": {
      "type": "string"
    },
    "com.amazonaws.xray#AnnotationValue": {
      "type": "structure",
      "members": {
        "BooleanValue": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Value for a Boolean annotation.</p>"
          }
        },
        "NumberValue": {
          "target": "com.amazonaws.xray#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Value for a Number annotation.</p>"
          }
        },
        "StringValue": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Value for a String annotation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Value of a segment annotation. Has one of three value types: Number, Boolean or\n      String.</p>"
      }
    },
    "com.amazonaws.xray#Annotations": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.xray#AnnotationKey"
      },
      "value": {
        "target": "com.amazonaws.xray#ValuesWithServiceIds"
      }
    },
    "com.amazonaws.xray#AttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.xray#AttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.xray#AttributeKey"
      },
      "value": {
        "target": "com.amazonaws.xray#AttributeValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.xray#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.xray#AvailabilityZoneDetail": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a corresponding availability zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of availability zones corresponding to the segments in a trace.</p>"
      }
    },
    "com.amazonaws.xray#BackendConnectionErrors": {
      "type": "structure",
      "members": {
        "ConnectionRefusedCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "HTTPCode4XXCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "HTTPCode5XXCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "OtherCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "TimeoutCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "UnknownHostCount": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.xray#BatchGetTraces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#BatchGetTracesRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#BatchGetTracesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of traces specified by ID. Each trace is a collection of segment\n      documents that originates from a single request. Use <code>GetTraceSummaries</code> to get a\n      list of trace IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/Traces",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Traces"
        }
      }
    },
    "com.amazonaws.xray#BatchGetTracesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "TraceIds": {
          "target": "com.amazonaws.xray#TraceIdList",
          "traits": {
            "smithy.api#documentation": "<p>Specify the trace IDs of requests for which to retrieve segments.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#BatchGetTracesResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "Traces": {
          "target": "com.amazonaws.xray#TraceList",
          "traits": {
            "smithy.api#documentation": "<p>Full traces for the specified requests.</p>"
          }
        },
        "UnprocessedTraceIds": {
          "target": "com.amazonaws.xray#UnprocessedTraceIdList",
          "traits": {
            "smithy.api#documentation": "<p>Trace IDs of requests that haven't been processed.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.xray#BorrowCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.xray#ClientID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 24,
          "max": 24
        }
      }
    },
    "com.amazonaws.xray#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#CreateGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a group resource with a name and a filter expression. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "FilterExpression": {
          "target": "com.amazonaws.xray#FilterExpression",
          "traits": {
            "smithy.api#documentation": "<p>The filter expression defining criteria by which to group traces.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The case-sensitive name of the new group. Default is a reserved name and names must\n            be unique.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#CreateGroupResult": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.xray#Group",
          "traits": {
            "smithy.api#documentation": "<p>The group that was created. Contains the name of the group that was created, the\n            ARN of the group that was generated based on the group name, and the filter expression\n            that was assigned to the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#CreateSamplingRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#CreateSamplingRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#CreateSamplingRuleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#RuleLimitExceededException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a rule to control sampling behavior for instrumented applications. Services\n         retrieve rules with <a>GetSamplingRules</a>, and evaluate each rule in ascending\n         order of <i>priority</i> for each request. If a rule matches, the service\n         records a trace, borrowing it from the reservoir size. After 10 seconds, the service\n         reports back to X-Ray with <a>GetSamplingTargets</a> to get updated versions of\n         each in-use rule. The updated rule contains a trace quota that the service can use instead\n         of borrowing from the reservoir.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateSamplingRule",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#CreateSamplingRuleRequest": {
      "type": "structure",
      "members": {
        "SamplingRule": {
          "target": "com.amazonaws.xray#SamplingRule",
          "traits": {
            "smithy.api#documentation": "<p>The rule definition.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#CreateSamplingRuleResult": {
      "type": "structure",
      "members": {
        "SamplingRuleRecord": {
          "target": "com.amazonaws.xray#SamplingRuleRecord",
          "traits": {
            "smithy.api#documentation": "<p>The saved rule definition and metadata.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#DeleteGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#DeleteGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#DeleteGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a group resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#DeleteGroupRequest": {
      "type": "structure",
      "members": {
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group that was generated on creation.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The case-sensitive name of the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#DeleteGroupResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.xray#DeleteSamplingRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#DeleteSamplingRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#DeleteSamplingRuleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a sampling rule.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteSamplingRule",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#DeleteSamplingRuleRequest": {
      "type": "structure",
      "members": {
        "RuleARN": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
          }
        },
        "RuleName": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#DeleteSamplingRuleResult": {
      "type": "structure",
      "members": {
        "SamplingRuleRecord": {
          "target": "com.amazonaws.xray#SamplingRuleRecord",
          "traits": {
            "smithy.api#documentation": "<p>The deleted rule definition and metadata.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#Double": {
      "type": "double"
    },
    "com.amazonaws.xray#EC2InstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.xray#Edge": {
      "type": "structure",
      "members": {
        "Aliases": {
          "target": "com.amazonaws.xray#AliasList",
          "traits": {
            "smithy.api#documentation": "<p>Aliases for the edge.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the last segment on the edge.</p>"
          }
        },
        "ReferenceId": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the edge. Unique within a service map.</p>"
          }
        },
        "ResponseTimeHistogram": {
          "target": "com.amazonaws.xray#Histogram",
          "traits": {
            "smithy.api#documentation": "<p>A histogram that maps the spread of client response times on an edge.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the first segment on the edge.</p>"
          }
        },
        "SummaryStatistics": {
          "target": "com.amazonaws.xray#EdgeStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Response statistics for segments on the edge.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a connection between two services.</p>"
      }
    },
    "com.amazonaws.xray#EdgeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#Edge"
      }
    },
    "com.amazonaws.xray#EdgeStatistics": {
      "type": "structure",
      "members": {
        "ErrorStatistics": {
          "target": "com.amazonaws.xray#ErrorStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>"
          }
        },
        "FaultStatistics": {
          "target": "com.amazonaws.xray#FaultStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Information about requests that failed with a 5xx Server Error status code.</p>"
          }
        },
        "OkCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that completed with a 2xx Success status code.</p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The total number of completed requests.</p>"
          }
        },
        "TotalResponseTime": {
          "target": "com.amazonaws.xray#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>The aggregate response time of completed requests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response statistics for an edge.</p>"
      }
    },
    "com.amazonaws.xray#EncryptionConfig": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the customer master key (CMK) used for encryption, if applicable.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.xray#EncryptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The encryption status. While the status is <code>UPDATING</code>, X-Ray may encrypt data with a combination of the new and old settings.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#EncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of encryption. Set to <code>KMS</code> for encryption with CMKs. Set to <code>NONE</code> for\n      default encryption.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration document that specifies encryption configuration settings.</p>"
      }
    },
    "com.amazonaws.xray#EncryptionKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3000
        }
      }
    },
    "com.amazonaws.xray#EncryptionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.xray#EncryptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "KMS",
            "name": "KMS"
          }
        ]
      }
    },
    "com.amazonaws.xray#EntitySelectorExpression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.xray#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.xray#ErrorRootCause": {
      "type": "structure",
      "members": {
        "Services": {
          "target": "com.amazonaws.xray#ErrorRootCauseServices",
          "traits": {
            "smithy.api#documentation": "<p>A list of services corresponding to an error. A service identifies a segment and it\n      contains a name, account ID, type, and inferred flag.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The root cause of a trace summary error.</p>"
      }
    },
    "com.amazonaws.xray#ErrorRootCauseEntity": {
      "type": "structure",
      "members": {
        "Exceptions": {
          "target": "com.amazonaws.xray#RootCauseExceptions",
          "traits": {
            "smithy.api#documentation": "<p>The types and messages of the exceptions.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity.</p>"
          }
        },
        "Remote": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that denotes a remote subsegment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of segments and corresponding subsegments associated to a trace summary\n      error.</p>"
      }
    },
    "com.amazonaws.xray#ErrorRootCauseEntityPath": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ErrorRootCauseEntity"
      }
    },
    "com.amazonaws.xray#ErrorRootCauseService": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The account ID associated to the service.</p>"
          }
        },
        "EntityPath": {
          "target": "com.amazonaws.xray#ErrorRootCauseEntityPath",
          "traits": {
            "smithy.api#documentation": "<p>The path of root cause entities found on the service. </p>"
          }
        },
        "Inferred": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The service name.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#ServiceNames",
          "traits": {
            "smithy.api#documentation": "<p>A collection of associated service names.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The type associated to the service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of fields identifying the services in a trace summary error.</p>"
      }
    },
    "com.amazonaws.xray#ErrorRootCauseServices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ErrorRootCauseService"
      }
    },
    "com.amazonaws.xray#ErrorRootCauses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ErrorRootCause"
      }
    },
    "com.amazonaws.xray#ErrorStatistics": {
      "type": "structure",
      "members": {
        "OtherCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that failed with untracked 4xx Client Error status\n      codes.</p>"
          }
        },
        "ThrottleCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that failed with a 419 throttling status code.</p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The total number of requests that failed with a 4xx Client Error status code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>"
      }
    },
    "com.amazonaws.xray#FaultRootCause": {
      "type": "structure",
      "members": {
        "Services": {
          "target": "com.amazonaws.xray#FaultRootCauseServices",
          "traits": {
            "smithy.api#documentation": "<p>A list of corresponding services. A service identifies a segment and it contains a\n      name, account ID, type, and inferred flag.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The root cause information for a trace summary fault.</p>"
      }
    },
    "com.amazonaws.xray#FaultRootCauseEntity": {
      "type": "structure",
      "members": {
        "Exceptions": {
          "target": "com.amazonaws.xray#RootCauseExceptions",
          "traits": {
            "smithy.api#documentation": "<p>The types and messages of the exceptions.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity.</p>"
          }
        },
        "Remote": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that denotes a remote subsegment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of segments and corresponding subsegments associated to a trace summary\n      fault error.</p>"
      }
    },
    "com.amazonaws.xray#FaultRootCauseEntityPath": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#FaultRootCauseEntity"
      }
    },
    "com.amazonaws.xray#FaultRootCauseService": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The account ID associated to the service.</p>"
          }
        },
        "EntityPath": {
          "target": "com.amazonaws.xray#FaultRootCauseEntityPath",
          "traits": {
            "smithy.api#documentation": "<p>The path of root cause entities found on the service. </p>"
          }
        },
        "Inferred": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The service name.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#ServiceNames",
          "traits": {
            "smithy.api#documentation": "<p>A collection of associated service names.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The type associated to the service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of fields identifying the services in a trace summary fault.</p>"
      }
    },
    "com.amazonaws.xray#FaultRootCauseServices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#FaultRootCauseService"
      }
    },
    "com.amazonaws.xray#FaultRootCauses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#FaultRootCause"
      }
    },
    "com.amazonaws.xray#FaultStatistics": {
      "type": "structure",
      "members": {
        "OtherCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that failed with untracked 5xx Server Error status\n      codes.</p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The total number of requests that failed with a 5xx Server Error status code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about requests that failed with a 5xx Server Error status code.</p>"
      }
    },
    "com.amazonaws.xray#FilterExpression": {
      "type": "string"
    },
    "com.amazonaws.xray#FixedRate": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.xray#GetEncryptionConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetEncryptionConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetEncryptionConfigResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the current encryption configuration for X-Ray data.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/EncryptionConfig",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#GetEncryptionConfigRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.xray#GetEncryptionConfigResult": {
      "type": "structure",
      "members": {
        "EncryptionConfig": {
          "target": "com.amazonaws.xray#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration document.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves group resource details.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#GetGroupRequest": {
      "type": "structure",
      "members": {
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group that was generated on creation.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The case-sensitive name of the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetGroupResult": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.xray#Group",
          "traits": {
            "smithy.api#documentation": "<p>The group that was requested. Contains the name of the group, the ARN of the group,\n            and the filter expression that assigned to the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetGroupsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all active group details.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/Groups",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Groups"
        }
      }
    },
    "com.amazonaws.xray#GetGroupsNextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.xray#GetGroupsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#GetGroupsNextToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetGroupsResult": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.xray#GroupSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The collection of all active groups.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetSamplingRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetSamplingRulesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all sampling rules.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetSamplingRules",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "SamplingRuleRecords"
        }
      }
    },
    "com.amazonaws.xray#GetSamplingRulesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingRulesResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "SamplingRuleRecords": {
          "target": "com.amazonaws.xray#SamplingRuleRecordList",
          "traits": {
            "smithy.api#documentation": "<p>Rule definitions and metadata.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingStatisticSummaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetSamplingStatisticSummariesRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetSamplingStatisticSummariesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about recent sampling results for all sampling rules.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/SamplingStatisticSummaries",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "SamplingStatisticSummaries"
        }
      }
    },
    "com.amazonaws.xray#GetSamplingStatisticSummariesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingStatisticSummariesResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "SamplingStatisticSummaries": {
          "target": "com.amazonaws.xray#SamplingStatisticSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the number of requests instrumented for each sampling\n         rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetSamplingTargetsRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetSamplingTargetsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Requests a sampling quota for rules that the service is using to sample requests.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/SamplingTargets",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#GetSamplingTargetsRequest": {
      "type": "structure",
      "members": {
        "SamplingStatisticsDocuments": {
          "target": "com.amazonaws.xray#SamplingStatisticsDocumentList",
          "traits": {
            "smithy.api#documentation": "<p>Information about rules that the service is using to sample requests.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#GetSamplingTargetsResult": {
      "type": "structure",
      "members": {
        "LastRuleModification": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time a user changed the sampling rule configuration. If\n         the sampling rule configuration changed since the service last retrieved it, the service\n         should call <a>GetSamplingRules</a> to get the latest version.</p>"
          }
        },
        "SamplingTargetDocuments": {
          "target": "com.amazonaws.xray#SamplingTargetDocumentList",
          "traits": {
            "smithy.api#documentation": "<p>Updated rules that the service should use to sample requests.</p>"
          }
        },
        "UnprocessedStatistics": {
          "target": "com.amazonaws.xray#UnprocessedStatisticsList",
          "traits": {
            "smithy.api#documentation": "<p>Information about <a>SamplingStatisticsDocument</a> that X-Ray could not\n         process.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetServiceGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetServiceGraphRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetServiceGraphResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a document that describes services that process incoming requests, and\n      downstream services that they call as a result. Root services process incoming requests and\n      make calls to downstream services. Root services are applications that use the <a href=\"https://docs.aws.amazon.com/xray/index.html\">AWS X-Ray SDK</a>.\n      Downstream services can be other applications, AWS resources, HTTP web APIs, or SQL\n      databases.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ServiceGraph",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Services"
        }
      }
    },
    "com.amazonaws.xray#GetServiceGraphRequest": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the timeframe for which to generate a graph.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a group to generate a graph based on.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a group to generate a graph based on.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time frame for which to generate a graph.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#GetServiceGraphResult": {
      "type": "structure",
      "members": {
        "ContainsOldGroupVersions": {
          "target": "com.amazonaws.xray#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag indicating whether the group's filter expression has been consistent, or\n      if the returned service graph may show traces from an older version of the group's filter\n      expression.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time frame for which the graph was generated.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "Services": {
          "target": "com.amazonaws.xray#ServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The services that have processed a traced request during the specified time\n      frame.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time frame for which the graph was generated.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTimeSeriesServiceStatistics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetTimeSeriesServiceStatisticsRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetTimeSeriesServiceStatisticsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get an aggregation of service statistics defined by a specific time\n            range.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/TimeSeriesServiceStatistics",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "TimeSeriesServiceStatistics"
        }
      }
    },
    "com.amazonaws.xray#GetTimeSeriesServiceStatisticsRequest": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time frame for which to aggregate statistics.</p>",
            "smithy.api#required": {}
          }
        },
        "EntitySelectorExpression": {
          "target": "com.amazonaws.xray#EntitySelectorExpression",
          "traits": {
            "smithy.api#documentation": "<p>A filter expression defining entities that will be aggregated for statistics.\n            Supports ID, service, and edge functions. If no selector expression is specified, edge\n            statistics are returned. </p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#GroupARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group for which to pull statistics from.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The case-sensitive name of the group for which to pull statistics from.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "Period": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation period in seconds.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time frame for which to aggregate statistics.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#GetTimeSeriesServiceStatisticsResult": {
      "type": "structure",
      "members": {
        "ContainsOldGroupVersions": {
          "target": "com.amazonaws.xray#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag indicating whether or not a group's filter expression has been consistent,\n            or if a returned aggregation may show statistics from an older version of the group's\n            filter expression.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "TimeSeriesServiceStatistics": {
          "target": "com.amazonaws.xray#TimeSeriesServiceStatisticsList",
          "traits": {
            "smithy.api#documentation": "<p>The collection of statistics.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTraceGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetTraceGraphRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetTraceGraphResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a service graph for one or more specific trace IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/TraceGraph",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Services"
        }
      }
    },
    "com.amazonaws.xray#GetTraceGraphRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "TraceIds": {
          "target": "com.amazonaws.xray#TraceIdList",
          "traits": {
            "smithy.api#documentation": "<p>Trace IDs of requests for which to generate a service graph.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#GetTraceGraphResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token.</p>"
          }
        },
        "Services": {
          "target": "com.amazonaws.xray#ServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The services that have processed one of the specified requests.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTraceSummaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#GetTraceSummariesRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#GetTraceSummariesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves IDs and annotations for traces available for a specified time frame using an\n      optional filter. To get the full traces, pass the trace IDs to\n      <code>BatchGetTraces</code>.</p>\n         <p>A filter expression can target traced requests that hit specific service nodes or\n      edges, have errors, or come from a known user. For example, the following filter expression\n      targets traces that pass through <code>api.example.com</code>:</p>\n         <p>\n            <code>service(\"api.example.com\")</code>\n         </p>\n         <p>This filter expression finds traces that have an annotation named <code>account</code>\n      with the value <code>12345</code>:</p>\n         <p>\n            <code>annotation.account = \"12345\"</code>\n         </p>\n         <p>For a full list of indexed fields and keywords that you can use in filter expressions,\n      see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-console-filters.html\">Using Filter\n        Expressions</a> in the <i>AWS X-Ray Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/TraceSummaries",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "TraceSummaries"
        }
      }
    },
    "com.amazonaws.xray#GetTraceSummariesRequest": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time frame for which to retrieve traces.</p>",
            "smithy.api#required": {}
          }
        },
        "FilterExpression": {
          "target": "com.amazonaws.xray#FilterExpression",
          "traits": {
            "smithy.api#documentation": "<p>Specify a filter expression to retrieve trace summaries for services or requests that\n      meet certain requirements.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token returned by a previous request to retrieve the next page\n      of results.</p>"
          }
        },
        "Sampling": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to get summaries for only a subset of available\n      traces.</p>"
          }
        },
        "SamplingStrategy": {
          "target": "com.amazonaws.xray#SamplingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>A paramater to indicate whether to enable sampling on trace summaries. Input\n        parameters are Name and Value.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time frame for which to retrieve traces.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeRangeType": {
          "target": "com.amazonaws.xray#TimeRangeType",
          "traits": {
            "smithy.api#documentation": "<p>A parameter to indicate whether to query trace summaries by TraceId or Event time.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#GetTraceSummariesResult": {
      "type": "structure",
      "members": {
        "ApproximateTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of this page of results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>If the requested time frame contained more than one page of results, you can use this\n      token to retrieve the next page. The first page contains the most most recent results, closest\n      to the end of the time frame.</p>"
          }
        },
        "TraceSummaries": {
          "target": "com.amazonaws.xray#TraceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Trace IDs and annotations for traces that were found in the specified time\n      frame.</p>"
          }
        },
        "TracesProcessedCount": {
          "target": "com.amazonaws.xray#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The total number of traces processed, including traces that did not match the specified\n      filter expression.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#Group": {
      "type": "structure",
      "members": {
        "FilterExpression": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The filter expression defining the parameters to include traces.</p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group generated based on the GroupName.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique case-sensitive name of the group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details and metadata for a group.</p>"
      }
    },
    "com.amazonaws.xray#GroupARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 400
        }
      }
    },
    "com.amazonaws.xray#GroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.xray#GroupSummary": {
      "type": "structure",
      "members": {
        "FilterExpression": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The filter expression defining the parameters to include traces.</p>"
          }
        },
        "GroupARN": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group generated based on the GroupName.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique case-sensitive name of the group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for a group without metadata.</p>"
      }
    },
    "com.amazonaws.xray#GroupSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#GroupSummary"
      }
    },
    "com.amazonaws.xray#HTTPMethod": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.xray#Histogram": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#HistogramEntry"
      }
    },
    "com.amazonaws.xray#HistogramEntry": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.xray#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The prevalence of the entry.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.xray#Double",
          "traits": {
            "smithy.api#documentation": "<p>The value of the entry.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entry in a histogram for a statistic. A histogram maps the range of observed values\n      on the X axis, and the prevalence of each value on the Y axis.</p>"
      }
    },
    "com.amazonaws.xray#Host": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.xray#Hostname": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.xray#Http": {
      "type": "structure",
      "members": {
        "ClientIp": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the requestor.</p>"
          }
        },
        "HttpMethod": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The request method.</p>"
          }
        },
        "HttpStatus": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The response status.</p>"
          }
        },
        "HttpURL": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The request URL.</p>"
          }
        },
        "UserAgent": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The request's user agent string.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an HTTP request.</p>"
      }
    },
    "com.amazonaws.xray#InstanceIdDetail": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a corresponding EC2 instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of EC2 instance IDs corresponding to the segments in a trace. </p>"
      }
    },
    "com.amazonaws.xray#Integer": {
      "type": "integer"
    },
    "com.amazonaws.xray#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.xray#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is missing required parameters or has invalid parameters.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.xray#NullableBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.xray#NullableDouble": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.xray#NullableInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.xray#NullableLong": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.xray#Priority": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 9999
        }
      }
    },
    "com.amazonaws.xray#PutEncryptionConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#PutEncryptionConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#PutEncryptionConfigResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the encryption configuration for X-Ray data.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/PutEncryptionConfig",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#PutEncryptionConfigRequest": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.xray#EncryptionKeyId",
          "traits": {
            "smithy.api#documentation": "<p>An AWS KMS customer master key (CMK) in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Alias</b> - The name of the key. For example,\n            <code>alias/MyKey</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Key ID</b> - The KMS key ID of the key. For example,\n          <code>ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>. AWS X-Ray does not support asymmetric CMKs.</p>\n            </li>\n            <li>\n               <p>\n                  <b>ARN</b> - The full Amazon Resource Name of the key ID or alias.\n          For example,\n            <code>arn:aws:kms:us-east-2:123456789012:key/ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>.\n          Use this format to specify a key in a different account.</p>\n            </li>\n         </ul>\n         <p>Omit this key if you set <code>Type</code> to <code>NONE</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#EncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of encryption. Set to <code>KMS</code> to use your own key for encryption. Set\n      to <code>NONE</code> for default encryption.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#PutEncryptionConfigResult": {
      "type": "structure",
      "members": {
        "EncryptionConfig": {
          "target": "com.amazonaws.xray#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The new encryption configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#PutTelemetryRecords": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#PutTelemetryRecordsRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#PutTelemetryRecordsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used by the AWS X-Ray daemon to upload telemetry.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/TelemetryRecords",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#PutTelemetryRecordsRequest": {
      "type": "structure",
      "members": {
        "EC2InstanceId": {
          "target": "com.amazonaws.xray#EC2InstanceId",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Hostname": {
          "target": "com.amazonaws.xray#Hostname",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.xray#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "TelemetryRecords": {
          "target": "com.amazonaws.xray#TelemetryRecordList",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#PutTelemetryRecordsResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.xray#PutTraceSegments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.xray#PutTraceSegmentsRequest"
      },
      "output": {
        "target": "com.amazonaws.xray#PutTraceSegmentsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.xray#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.xray#ThrottledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Uploads segment documents to AWS X-Ray. The <a href=\"https://docs.aws.amazon.com/xray/index.html\">X-Ray SDK</a> generates segment documents and\n      sends them to the X-Ray daemon, which uploads them in batches. A segment document can be a\n      completed segment, an in-progress segment, or an array of subsegments.</p>\n         <p>Segments must include the following fields. For the full segment document schema, see\n        <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html\">AWS X-Ray\n        Segment Documents</a> in the <i>AWS X-Ray Developer Guide</i>.</p>\n         <p class=\"title\">\n            <b>Required Segment Document Fields</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>name</code> - The name of the service that handled the request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>id</code> - A 64-bit identifier for the segment, unique among segments in the\n          same trace, in 16 hexadecimal digits.</p>\n            </li>\n            <li>\n               <p>\n                  <code>trace_id</code> - A unique identifier that connects all segments and\n          subsegments originating from a single client request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>start_time</code> - Time the segment or subsegment was created, in floating\n          point seconds in epoch time, accurate to milliseconds. For example,\n            <code>1480615200.010</code> or <code>1.480615200010E9</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>end_time</code> - Time the segment or subsegment was closed. For example,\n            <code>1480615200.090</code> or <code>1.480615200090E9</code>. Specify either an\n            <code>end_time</code> or <code>in_progress</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>in_progress</code> - Set to <code>true</code> instead of specifying an\n            <code>end_time</code> to record that a segment has been started, but is not complete.\n          Send an in progress segment when your application receives a request that will take a long\n          time to serve, to trace the fact that the request was received. When the response is sent,\n          send the complete segment to overwrite the in-progress segment.</p>\n            </li>\n         </ul>\n         <p>A <code>trace_id</code> consists of three numbers separated by hyphens. For example,\n      1-58406520-a006649127e371903a2de979. This includes:</p>\n         <p class=\"title\">\n            <b>Trace ID Format</b>\n         </p>\n         <ul>\n            <li>\n               <p>The version number, i.e. <code>1</code>.</p>\n            </li>\n            <li>\n               <p>The time of the original request, in Unix epoch time, in 8 hexadecimal digits. For\n          example, 10:00AM December 2nd, 2016 PST in epoch time is <code>1480615200</code> seconds,\n          or <code>58406520</code> in hexadecimal.</p>\n            </li>\n            <li>\n               <p>A 96-bit identifier for the trace, globally unique, in 24 hexadecimal\n          digits.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/TraceSegments",
          "code": 200
        }
      }
    },
    "com.amazonaws.xray#PutTraceSegmentsRequest": {
      "type": "structure",
      "members": {
        "TraceSegmentDocuments": {
          "target": "com.amazonaws.xray#TraceSegmentDocumentList",
          "traits": {
            "smithy.api#documentation": "<p>A string containing a JSON document defining one or more segments or\n      subsegments.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.xray#PutTraceSegmentsResult": {
      "type": "structure",
      "members": {
        "UnprocessedTraceSegments": {
          "target": "com.amazonaws.xray#UnprocessedTraceSegmentList",
          "traits": {
            "smithy.api#documentation": "<p>Segments that failed processing.</p>"
          }
        }
      }
    },
    "com.amazonaws.xray#RequestCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.xray#ReservoirSize": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.xray#ResourceARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.xray#ResourceARNDetail": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a corresponding resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of resources ARNs corresponding to the segments in a trace.</p>"
      }
    },
    "com.amazonaws.xray#ResponseTimeRootCause": {
      "type": "structure",
      "members": {
        "Services": {
          "target": "com.amazonaws.xray#ResponseTimeRootCauseServices",
          "traits": {
            "smithy.api#documentation": "<p>A list of corresponding services. A service identifies a segment and contains a name,\n      account ID, type, and inferred flag.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The root cause information for a response time warning.</p>"
      }
    },
    "com.amazonaws.xray#ResponseTimeRootCauseEntity": {
      "type": "structure",
      "members": {
        "Coverage": {
          "target": "com.amazonaws.xray#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>The types and messages of the exceptions.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity.</p>"
          }
        },
        "Remote": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that denotes a remote subsegment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of segments and corresponding subsegments associated to a response time\n      warning.</p>"
      }
    },
    "com.amazonaws.xray#ResponseTimeRootCauseEntityPath": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ResponseTimeRootCauseEntity"
      }
    },
    "com.amazonaws.xray#ResponseTimeRootCauseService": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The account ID associated to the service.</p>"
          }
        },
        "EntityPath": {
          "target": "com.amazonaws.xray#ResponseTimeRootCauseEntityPath",
          "traits": {
            "smithy.api#documentation": "<p>The path of root cause entities found on the service. </p>"
          }
        },
        "Inferred": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The service name.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#ServiceNames",
          "traits": {
            "smithy.api#documentation": "<p>A collection of associated service names.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The type associated to the service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of fields identifying the service in a response time warning.</p>"
      }
    },
    "com.amazonaws.xray#ResponseTimeRootCauseServices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ResponseTimeRootCauseService"
      }
    },
    "com.amazonaws.xray#ResponseTimeRootCauses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ResponseTimeRootCause"
      }
    },
    "com.amazonaws.xray#RootCauseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The message of the exception.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The exception associated with a root cause.</p>"
      }
    },
    "com.amazonaws.xray#RootCauseExceptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#RootCauseException"
      }
    },
    "com.amazonaws.xray#RuleLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.xray#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have reached the maximum number of sampling rules.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.xray#RuleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.xray#SampledCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.xray#SamplingRule": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.xray#AttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>Matches attributes derived from the request.</p>"
          }
        },
        "FixedRate": {
          "target": "com.amazonaws.xray#FixedRate",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of matching requests to instrument, after the reservoir is\n      exhausted.</p>",
            "smithy.api#required": {}
          }
        },
        "HTTPMethod": {
          "target": "com.amazonaws.xray#HTTPMethod",
          "traits": {
            "smithy.api#documentation": "<p>Matches the HTTP method of a request.</p>",
            "smithy.api#required": {}
          }
        },
        "Host": {
          "target": "com.amazonaws.xray#Host",
          "traits": {
            "smithy.api#documentation": "<p>Matches the hostname from a request URL.</p>",
            "smithy.api#required": {}
          }
        },
        "Priority": {
          "target": "com.amazonaws.xray#Priority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the sampling rule.</p>",
            "smithy.api#required": {}
          }
        },
        "ReservoirSize": {
          "target": "com.amazonaws.xray#ReservoirSize",
          "traits": {
            "smithy.api#documentation": "<p>A fixed number of matching requests to instrument per second, prior to applying the\n      fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.xray#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>Matches the ARN of the AWS resource on which the service runs.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleARN": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
          }
        },
        "RuleName": {
          "target": "com.amazonaws.xray#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.xray#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>Matches the <code>name</code> that the service uses to identify itself in segments.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceType": {
          "target": "com.amazonaws.xray#ServiceType",
          "traits": {
            "smithy.api#documentation": "<p>Matches the <code>origin</code> that the service uses to identify its type in segments.</p>",
            "smithy.api#required": {}
          }
        },
        "URLPath": {
          "target": "com.amazonaws.xray#URLPath",
          "traits": {
            "smithy.api#documentation": "<p>Matches the path from a request URL.</p>",
            "smithy.api#required": {}
          }
        },
        "Version": {
          "target": "com.amazonaws.xray#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the sampling rule format (<code>1</code>).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A sampling rule that services use to decide whether to instrument a request. Rule\n      fields can match properties of the service, or properties of a request. The service can ignore\n      rules that don't match its properties.</p>"
      }
    },
    "com.amazonaws.xray#SamplingRuleRecord": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the rule was created.</p>"
          }
        },
        "ModifiedAt": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the rule was last modified.</p>"
          }
        },
        "SamplingRule": {
          "target": "com.amazonaws.xray#SamplingRule",
          "traits": {
            "smithy.api#documentation": "<p>The sampling rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <a>SamplingRule</a> and its metadata.</p>"
      }
    },
    "com.amazonaws.xray#SamplingRuleRecordList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#SamplingRuleRecord"
      }
    },
    "com.amazonaws.xray#SamplingRuleUpdate": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.xray#AttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>Matches attributes derived from the request.</p>"
          }
        },
        "FixedRate": {
          "target": "com.amazonaws.xray#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of matching requests to instrument, after the reservoir is\n      exhausted.</p>"
          }
        },
        "HTTPMethod": {
          "target": "com.amazonaws.xray#HTTPMethod",
          "traits": {
            "smithy.api#documentation": "<p>Matches the HTTP method of a request.</p>"
          }
        },
        "Host": {
          "target": "com.amazonaws.xray#Host",
          "traits": {
            "smithy.api#documentation": "<p>Matches the hostname from a request URL.</p>"
          }
        },
        "Priority": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the sampling rule.</p>"
          }
        },
        "ReservoirSize": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>A fixed number of matching requests to instrument per second, prior to applying the\n      fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.</p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.xray#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>Matches the ARN of the AWS resource on which the service runs.</p>"
          }
        },
        "RuleARN": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
          }
        },
        "RuleName": {
          "target": "com.amazonaws.xray#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.xray#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>Matches the <code>name</code> that the service uses to identify itself in segments.</p>"
          }
        },
        "ServiceType": {
          "target": "com.amazonaws.xray#ServiceType",
          "traits": {
            "smithy.api#documentation": "<p>Matches the <code>origin</code> that the service uses to identify its type in segments.</p>"
          }
        },
        "URLPath": {
          "target": "com.amazonaws.xray#URLPath",
          "traits": {
            "smithy.api#documentation": "<p>Matches the path from a request URL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A document specifying changes to a sampling rule's configuration.</p>"
      }
    },
    "com.amazonaws.xray#SamplingStatisticSummary": {
      "type": "structure",
      "members": {
        "BorrowCount": {
          "target": "com.amazonaws.xray#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests recorded with borrowed reservoir quota.</p>"
          }
        },
        "RequestCount": {
          "target": "com.amazonaws.xray#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that matched the rule.</p>"
          }
        },
        "RuleName": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the sampling rule.</p>"
          }
        },
        "SampledCount": {
          "target": "com.amazonaws.xray#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests recorded.</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the reporting window.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Aggregated request sampling data for a sampling rule across all services for a 10\n      second window.</p>"
      }
    },
    "com.amazonaws.xray#SamplingStatisticSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#SamplingStatisticSummary"
      }
    },
    "com.amazonaws.xray#SamplingStatisticsDocument": {
      "type": "structure",
      "members": {
        "BorrowCount": {
          "target": "com.amazonaws.xray#BorrowCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests recorded with borrowed reservoir quota.</p>"
          }
        },
        "ClientID": {
          "target": "com.amazonaws.xray#ClientID",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the service in hexadecimal.</p>",
            "smithy.api#required": {}
          }
        },
        "RequestCount": {
          "target": "com.amazonaws.xray#RequestCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests that matched the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleName": {
          "target": "com.amazonaws.xray#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the sampling rule.</p>",
            "smithy.api#required": {}
          }
        },
        "SampledCount": {
          "target": "com.amazonaws.xray#SampledCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests recorded.</p>",
            "smithy.api#required": {}
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The current time.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request sampling results for a single rule from a service. Results are for the last 10\n      seconds unless the service has been assigned a longer reporting interval after a previous call\n      to <a>GetSamplingTargets</a>.</p>"
      }
    },
    "com.amazonaws.xray#SamplingStatisticsDocumentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#SamplingStatisticsDocument"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 25
        }
      }
    },
    "com.amazonaws.xray#SamplingStrategy": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.xray#SamplingStrategyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a sampling rule.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.xray#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>The value of a sampling rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name and value of a sampling rule to apply to a trace summary.</p>"
      }
    },
    "com.amazonaws.xray#SamplingStrategyName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PartialScan",
            "name": "PartialScan"
          },
          {
            "value": "FixedRate",
            "name": "FixedRate"
          }
        ]
      }
    },
    "com.amazonaws.xray#SamplingTargetDocument": {
      "type": "structure",
      "members": {
        "FixedRate": {
          "target": "com.amazonaws.xray#Double",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of matching requests to instrument, after the reservoir is\n      exhausted.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds for the service to wait before getting sampling targets\n      again.</p>"
          }
        },
        "ReservoirQuota": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests per second that X-Ray allocated this service.</p>"
          }
        },
        "ReservoirQuotaTTL": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the reservoir quota expires.</p>"
          }
        },
        "RuleName": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the sampling rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Temporary changes to a sampling rule configuration. To meet the global sampling target\n      for a rule, X-Ray calculates a new reservoir for each service based on the recent sampling\n      results of all services that called <a>GetSamplingTargets</a>.</p>"
      }
    },
    "com.amazonaws.xray#SamplingTargetDocumentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#SamplingTargetDocument"
      }
    },
    "com.amazonaws.xray#Segment": {
      "type": "structure",
      "members": {
        "Document": {
          "target": "com.amazonaws.xray#SegmentDocument",
          "traits": {
            "smithy.api#documentation": "<p>The segment document.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.xray#SegmentId",
          "traits": {
            "smithy.api#documentation": "<p>The segment's ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A segment from a trace that has been ingested by the X-Ray service. The segment can be\n      compiled from documents uploaded with <a>PutTraceSegments</a>, or an\n        <code>inferred</code> segment for a downstream service, generated from a subsegment sent by\n      the service that called it.</p>\n         <p>For the full segment document schema, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html\">AWS X-Ray Segment\n        Documents</a> in the <i>AWS X-Ray Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.xray#SegmentDocument": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.xray#SegmentId": {
      "type": "string"
    },
    "com.amazonaws.xray#SegmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#Segment"
      }
    },
    "com.amazonaws.xray#Service": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the AWS account in which the service runs.</p>"
          }
        },
        "DurationHistogram": {
          "target": "com.amazonaws.xray#Histogram",
          "traits": {
            "smithy.api#documentation": "<p>A histogram that maps the spread of service durations.</p>"
          }
        },
        "Edges": {
          "target": "com.amazonaws.xray#EdgeList",
          "traits": {
            "smithy.api#documentation": "<p>Connections to downstream services.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the last segment that the service generated.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The canonical name of the service.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#ServiceNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of names for the service, including the canonical name.</p>"
          }
        },
        "ReferenceId": {
          "target": "com.amazonaws.xray#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for the service. Unique within the service map.</p>"
          }
        },
        "ResponseTimeHistogram": {
          "target": "com.amazonaws.xray#Histogram",
          "traits": {
            "smithy.api#documentation": "<p>A histogram that maps the spread of service response times.</p>"
          }
        },
        "Root": {
          "target": "com.amazonaws.xray#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the service was the first service to process a request.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.xray#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the first segment that the service generated.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The service's state.</p>"
          }
        },
        "SummaryStatistics": {
          "target": "com.amazonaws.xray#ServiceStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Aggregated statistics for the service.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of service.</p>\n         <ul>\n            <li>\n               <p>AWS Resource - The type of an AWS resource. For example,\n            <code>AWS::EC2::Instance</code> for a application running on Amazon EC2 or\n            <code>AWS::DynamoDB::Table</code> for an Amazon DynamoDB table that the application\n          used.</p>\n            </li>\n            <li>\n               <p>AWS Service - The type of an AWS service. For example, <code>AWS::DynamoDB</code>\n          for downstream calls to Amazon DynamoDB that didn't target a specific table.</p>\n            </li>\n            <li>\n               <p>\n                  <code>client</code> - Represents the clients that sent requests to a root\n          service.</p>\n            </li>\n            <li>\n               <p>\n                  <code>remote</code> - A downstream service of indeterminate type.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an application that processed requests, users that made requests, or\n      downstream services, resources and applications that an application used.</p>"
      }
    },
    "com.amazonaws.xray#ServiceId": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.xray#ServiceNames",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.xray#String",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.xray#ServiceIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#ServiceId"
      }
    },
    "com.amazonaws.xray#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#Service"
      }
    },
    "com.amazonaws.xray#ServiceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.xray#ServiceNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.xray#String"
      }
    },
    "com.amazonaws.xray#ServiceStatistics": {
      "type": "structure",
      "members": {
        "ErrorStatistics": {
          "target": "com.amazonaws.xray#ErrorStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>"
          }
        },
        "FaultStatistics": {
          "target": "com.amazonaws.xray#FaultStatistics",
          "traits": {
[...]
