{
  "version": "0.1.0-preview.3",
  "scripts": {
    "clean": "npm run remove-definitions && npm run remove-dist && npm run remove-js && npm run remove-maps",
    "build-documentation": "npm run clean && typedoc ./",
    "prepublishOnly": "yarn build",
    "pretest": "tsc",
    "remove-definitions": "rimraf ./types",
    "remove-dist": "rimraf ./dist",
    "remove-documentation": "rimraf ./docs",
    "remove-js": "rimraf *.js && rimraf ./commands/*.js && rimraf ./lib/*.js && rimraf ./models/*.js && rimraf ./protocols/*.js",
    "remove-maps": "rimraf *.js.map && rimraf ./commands/*.js.map && rimraf ./lib/*.js.map && rimraf ./models/*.js.map && rimraf ./protocols/*.js.map",
    "build:es": "tsc -p tsconfig.es.json",
    "build": "yarn pretest && yarn build:es"
  },
  "main": "./dist/cjs/index.js",
  "types": "./types/index.d.ts",
  "author": {
    "name": "AWS SDK for JavaScript Team",
    "url": "https://aws.amazon.com/javascript/"
  },
  "module": "./dist/es/index.js",
  "browser": {
    "./runtimeConfig": "./runtimeConfig.browser"
  },
  "sideEffects": false,
  "license": "Apache-2.0",
  "dependencies": {
    "tslib": "^1.8.0"
  },
  "devDependencies": {
    "@aws-sdk/client-documentation-generator": "^0.1.0-preview.3",
    "@types/node": "^10.0.0",
    "rimraf": "^3.0.0",
    "typedoc": "^0.15.0",
    "typescript": "^3.7.0"
  },
  "engines": {
    "node": ">=8.0.0"
  }
}
