name: codegen-ci

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/codegen-ci.yml'
      - 'codegen/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/codegen-ci.yml'
      - 'codegen/**'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Java ${{ matrix.java }}
    strategy: 
      matrix:
        java: [17]

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'
          cache: gradle
      
      - name: build and publish smithy-typescript
        run: |
          node ./scripts/generate-clients/build-smithy-typescript-ci.js
      
      - name: build and test codegen
        run: |
          cd ./codegen
          ./gradlew clean sdk-codegen:build smithy-aws-typescript-codegen:build protocol-test-codegen:build -Plog-tests
