{
  "smithy": "0.4.0",
  "com.amazonaws.lattice.v20190125": {
    "shapes": {
      "AccessLog": {
        "type": "union",
        "members": {
          "file": {
            "target": "FileAccessLog",
            "smithy.api#documentation": "<p>The file object to send virtual node access logs to.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents the access logging information for a virtual node.</p>"
      },
      "Arn": {
        "type": "string"
      },
      "AwsCloudMapInstanceAttribute": {
        "type": "structure",
        "members": {
          "key": {
            "target": "AwsCloudMapInstanceAttributeKey",
            "smithy.api#documentation": "<p>The name of an AWS Cloud Map service instance attribute key. Any AWS Cloud Map service\n         instance that contains the specified key and value is returned.</p>",
            "smithy.api#required": true
          },
          "value": {
            "target": "AwsCloudMapInstanceAttributeValue",
            "smithy.api#documentation": "<p>The value of an AWS Cloud Map service instance attribute key. Any AWS Cloud Map service\n         instance that contains the specified key and value is returned.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the AWS Cloud Map attribute information for your virtual\n         node.</p>"
      },
      "AwsCloudMapInstanceAttributeKey": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9!-~]+$"
      },
      "AwsCloudMapInstanceAttributeValue": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^([a-zA-Z0-9!-~][ ta-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$"
      },
      "AwsCloudMapInstanceAttributes": {
        "type": "list",
        "member": {
          "target": "AwsCloudMapInstanceAttribute"
        }
      },
      "AwsCloudMapName": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "((?=^.{1,127}$)^([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9])(.([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9]))*$)|(^.$)"
      },
      "AwsCloudMapServiceDiscovery": {
        "type": "structure",
        "members": {
          "attributes": {
            "target": "AwsCloudMapInstanceAttributes",
            "smithy.api#documentation": "<p>A string map that contains attributes with values that you can use to filter instances\n         by any custom attribute that you specified when you registered the instance. Only instances\n         that match all of the specified key/value pairs will be returned.</p>"
          },
          "namespaceName": {
            "target": "AwsCloudMapName",
            "smithy.api#documentation": "<p>The name of the AWS Cloud Map namespace to use.</p>",
            "smithy.api#required": true
          },
          "serviceName": {
            "target": "AwsCloudMapName",
            "smithy.api#documentation": "<p>The name of the AWS Cloud Map service to use.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the AWS Cloud Map service discovery information for your virtual\n         node.</p>"
      },
      "AwsLatticeFrontendService20190125": {
        "type": "service",
        "version": "2019-01-25",
        "operations": [
          "com.amazonaws.lattice.v20190125#ListTagsForResource",
          "com.amazonaws.lattice.v20190125#TagResource",
          "com.amazonaws.lattice.v20190125#UntagResource"
        ],
        "resources": [
          "com.amazonaws.lattice.v20190125#Mesh"
        ],
        "aws.api#service": {
          "sdkId": "App Mesh",
          "arnNamespace": "appmesh",
          "cloudFormationName": "AwsLatticeFrontendService20190125",
          "cloudTrailEventSource": "appmesh.amazonaws.com"
        },
        "smithy.api#auth": [
          "aws.v4"
        ],
        "smithy.api#cors": { },
        "smithy.api#documentation": "<p>AWS App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and\n         control microservices. App Mesh standardizes how your microservices communicate, giving you\n         end-to-end visibility and helping to ensure high availability for your applications.</p>\n         <p>App Mesh gives you consistent visibility and network traffic controls for every\n         microservice in an application. You can use App Mesh with AWS Fargate, Amazon ECS, Amazon EKS,\n         Kubernetes on AWS, and Amazon EC2.</p>\n         <note>\n            <p>App Mesh supports microservice applications that use service discovery naming for their\n            components. For more information about service discovery on Amazon ECS, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service Discovery</a> in the\n               <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes <code>kube-dns</code> and\n               <code>coredns</code> are supported. For more information, see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS\n               for Services and Pods</a> in the Kubernetes documentation.</p>\n         </note>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS App Mesh"
      },
      "Backend": {
        "type": "union",
        "members": {
          "virtualService": {
            "target": "VirtualServiceBackend",
            "smithy.api#documentation": "<p>Specifies a virtual service to use as a backend for a virtual node. </p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents the backends that a virtual node is expected to send outbound\n         traffic to. </p>"
      },
      "Backends": {
        "type": "list",
        "member": {
          "target": "Backend"
        },
        "smithy.api#length": {
          "min": 0,
          "max": 25
        }
      },
      "BadRequestException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String"
          }
        },
        "smithy.api#documentation": "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "ConflictException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String"
          }
        },
        "smithy.api#documentation": "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      },
      "CreateMesh": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#CreateMeshInput",
        "output": "com.amazonaws.lattice.v20190125#CreateMeshOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ConflictException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#LimitExceededException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Creates a service mesh. A service mesh is a logical boundary for network traffic between\n         the services that reside within it.</p>\n         <p>After you create your service mesh, you can create virtual services, virtual nodes,\n         virtual routers, and routes to distribute traffic between the applications in your\n         mesh.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "CreateMeshInput": {
        "type": "structure",
        "members": {
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": true
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name to use for the service mesh.</p>",
            "smithy.api#required": true
          },
          "spec": {
            "target": "MeshSpec",
            "smithy.api#documentation": "<p>The service mesh specification to apply.</p>"
          },
          "tags": {
            "target": "TagList",
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the service mesh to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>"
          }
        },
        "smithy.api#documentation": ""
      },
      "CreateMeshOutput": {
        "type": "structure",
        "members": {
          "mesh": {
            "target": "MeshData",
            "smithy.api#documentation": "<p>The full description of your service mesh following the create call.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "CreateRoute": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#CreateRouteInput",
        "output": "com.amazonaws.lattice.v20190125#CreateRouteOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ConflictException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#LimitExceededException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Creates a route that is associated with a virtual router.</p>\n         <p>You can use the <code>prefix</code> parameter in your route specification for path-based\n         routing of requests. For example, if your virtual service name is\n            <code>my-service.local</code> and you want the route to match requests to\n            <code>my-service.local/metrics</code>, your prefix should be\n         <code>/metrics</code>.</p>\n         <p>If your route matches a request, you can distribute traffic to one or more target\n         virtual nodes with relative weighting.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "CreateRouteInput": {
        "type": "structure",
        "members": {
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": true
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to create the route in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "routeName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name to use for the route.</p>",
            "smithy.api#required": true
          },
          "spec": {
            "target": "RouteSpec",
            "smithy.api#documentation": "<p>The route specification to apply.</p>",
            "smithy.api#required": true
          },
          "tags": {
            "target": "TagList",
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the route to assist with categorization and\n         organization. Each tag consists of a key and an optional value, both of which you define.\n         Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>"
          },
          "virtualRouterName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the virtual router in which to create the route.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "CreateRouteOutput": {
        "type": "structure",
        "members": {
          "route": {
            "target": "RouteData",
            "smithy.api#documentation": "<p>The full description of your mesh following the create call.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "CreateVirtualNode": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#CreateVirtualNodeInput",
        "output": "com.amazonaws.lattice.v20190125#CreateVirtualNodeOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ConflictException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#LimitExceededException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Creates a virtual node within a service mesh.</p>\n         <p>A virtual node acts as a logical pointer to a particular task group, such as an Amazon ECS\n         service or a Kubernetes deployment. When you create a virtual node, you can specify the\n         service discovery information for your task group.</p>\n         <p>Any inbound traffic that your virtual node expects should be specified as a\n            <code>listener</code>. Any outbound traffic that your virtual node expects to reach\n         should be specified as a <code>backend</code>.</p>\n         <p>The response metadata for your new virtual node contains the <code>arn</code> that is\n         associated with the virtual node. Set this value (either the full ARN or the truncated\n         resource name: for example, <code>mesh/default/virtualNode/simpleapp</code>) as the\n            <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's Envoy\n         proxy container in your task definition or pod spec. This is then mapped to the\n            <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n         <note>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualNodes",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "CreateVirtualNodeInput": {
        "type": "structure",
        "members": {
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": true
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to create the virtual node in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "spec": {
            "target": "VirtualNodeSpec",
            "smithy.api#documentation": "<p>The virtual node specification to apply.</p>",
            "smithy.api#required": true
          },
          "tags": {
            "target": "TagList",
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the virtual node to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>"
          },
          "virtualNodeName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name to use for the virtual node.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "CreateVirtualNodeOutput": {
        "type": "structure",
        "members": {
          "virtualNode": {
            "target": "VirtualNodeData",
            "smithy.api#documentation": "<p>The full description of your virtual node following the create call.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "CreateVirtualRouter": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#CreateVirtualRouterInput",
        "output": "com.amazonaws.lattice.v20190125#CreateVirtualRouterOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ConflictException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#LimitExceededException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Creates a virtual router within a service mesh.</p>\n         <p>Any inbound traffic that your virtual router expects should be specified as a\n            <code>listener</code>. </p>\n         <p>Virtual routers handle traffic for one or more virtual services within your mesh. After\n         you create your virtual router, create and associate routes for your virtual router that\n         direct incoming requests to different virtual nodes.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualRouters",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "CreateVirtualRouterInput": {
        "type": "structure",
        "members": {
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": true
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to create the virtual router in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "spec": {
            "target": "VirtualRouterSpec",
            "smithy.api#documentation": "<p>The virtual router specification to apply.</p>",
            "smithy.api#required": true
          },
          "tags": {
            "target": "TagList",
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the virtual router to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>"
          },
          "virtualRouterName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name to use for the virtual router.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "CreateVirtualRouterOutput": {
        "type": "structure",
        "members": {
          "virtualRouter": {
            "target": "VirtualRouterData",
            "smithy.api#documentation": "<p>The full description of your virtual router following the create call.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "CreateVirtualService": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#CreateVirtualServiceInput",
        "output": "com.amazonaws.lattice.v20190125#CreateVirtualServiceOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ConflictException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#LimitExceededException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Creates a virtual service within a service mesh.</p>\n         <p>A virtual service is an abstraction of a real service that is provided by a virtual node\n         directly or indirectly by means of a virtual router. Dependent services call your virtual\n         service by its <code>virtualServiceName</code>, and those requests are routed to the\n         virtual node or virtual router that is specified as the provider for the virtual\n         service.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualServices",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "CreateVirtualServiceInput": {
        "type": "structure",
        "members": {
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": true
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to create the virtual service in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "spec": {
            "target": "VirtualServiceSpec",
            "smithy.api#documentation": "<p>The virtual service specification to apply.</p>",
            "smithy.api#required": true
          },
          "tags": {
            "target": "TagList",
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the virtual service to assist with\n         categorization and organization. Each tag consists of a key and an optional value, both of\n         which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>"
          },
          "virtualServiceName": {
            "target": "ServiceName",
            "smithy.api#documentation": "<p>The name to use for the virtual service.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "CreateVirtualServiceOutput": {
        "type": "structure",
        "members": {
          "virtualService": {
            "target": "VirtualServiceData",
            "smithy.api#documentation": "<p>The full description of your virtual service following the create call.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteMesh": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DeleteMeshInput",
        "output": "com.amazonaws.lattice.v20190125#DeleteMeshOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ResourceInUseException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Deletes an existing service mesh.</p>\n         <p>You must delete all resources (virtual services, routes, virtual routers, and virtual\n         nodes) in the service mesh before you can delete the mesh itself.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20190125/meshes/{meshName}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "DeleteMeshInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteMeshOutput": {
        "type": "structure",
        "members": {
          "mesh": {
            "target": "MeshData",
            "smithy.api#documentation": "<p>The service mesh that was deleted.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteRoute": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DeleteRouteInput",
        "output": "com.amazonaws.lattice.v20190125#DeleteRouteOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ResourceInUseException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Deletes an existing route.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "DeleteRouteInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to delete the route in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "routeName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the route to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "virtualRouterName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the virtual router to delete the route in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteRouteOutput": {
        "type": "structure",
        "members": {
          "route": {
            "target": "RouteData",
            "smithy.api#documentation": "<p>The route that was deleted.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteVirtualNode": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DeleteVirtualNodeInput",
        "output": "com.amazonaws.lattice.v20190125#DeleteVirtualNodeOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ResourceInUseException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Deletes an existing virtual node.</p>\n         <p>You must delete any virtual services that list a virtual node as a service provider\n         before you can delete the virtual node itself.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "DeleteVirtualNodeInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to delete the virtual node in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "virtualNodeName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the virtual node to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteVirtualNodeOutput": {
        "type": "structure",
        "members": {
          "virtualNode": {
            "target": "VirtualNodeData",
            "smithy.api#documentation": "<p>The virtual node that was deleted.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteVirtualRouter": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DeleteVirtualRouterInput",
        "output": "com.amazonaws.lattice.v20190125#DeleteVirtualRouterOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ResourceInUseException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Deletes an existing virtual router.</p>\n         <p>You must delete any routes associated with the virtual router before you can delete the\n         router itself.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "DeleteVirtualRouterInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to delete the virtual router in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "virtualRouterName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the virtual router to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteVirtualRouterOutput": {
        "type": "structure",
        "members": {
          "virtualRouter": {
            "target": "VirtualRouterData",
            "smithy.api#documentation": "<p>The virtual router that was deleted.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteVirtualService": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DeleteVirtualServiceInput",
        "output": "com.amazonaws.lattice.v20190125#DeleteVirtualServiceOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Deletes an existing virtual service.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "DeleteVirtualServiceInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to delete the virtual service in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "virtualServiceName": {
            "target": "ServiceName",
            "smithy.api#documentation": "<p>The name of the virtual service to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DeleteVirtualServiceOutput": {
        "type": "structure",
        "members": {
          "virtualService": {
            "target": "VirtualServiceData",
            "smithy.api#documentation": "<p>The virtual service that was deleted.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeMesh": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DescribeMeshInput",
        "output": "com.amazonaws.lattice.v20190125#DescribeMeshOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Describes an existing service mesh.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes/{meshName}",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "DescribeMeshInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to describe.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeMeshOutput": {
        "type": "structure",
        "members": {
          "mesh": {
            "target": "MeshData",
            "smithy.api#documentation": "<p>The full description of your service mesh.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeRoute": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DescribeRouteInput",
        "output": "com.amazonaws.lattice.v20190125#DescribeRouteOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Describes an existing route.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "DescribeRouteInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh that the route resides in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "routeName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the route to describe.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "virtualRouterName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the virtual router that the route is associated with.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeRouteOutput": {
        "type": "structure",
        "members": {
          "route": {
            "target": "RouteData",
            "smithy.api#documentation": "<p>The full description of your route.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeVirtualNode": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DescribeVirtualNodeInput",
        "output": "com.amazonaws.lattice.v20190125#DescribeVirtualNodeOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Describes an existing virtual node.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "DescribeVirtualNodeInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh that the virtual node resides in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "virtualNodeName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the virtual node to describe.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeVirtualNodeOutput": {
        "type": "structure",
        "members": {
          "virtualNode": {
            "target": "VirtualNodeData",
            "smithy.api#documentation": "<p>The full description of your virtual node.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeVirtualRouter": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DescribeVirtualRouterInput",
        "output": "com.amazonaws.lattice.v20190125#DescribeVirtualRouterOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Describes an existing virtual router.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "DescribeVirtualRouterInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh that the virtual router resides in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "virtualRouterName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the virtual router to describe.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeVirtualRouterOutput": {
        "type": "structure",
        "members": {
          "virtualRouter": {
            "target": "VirtualRouterData",
            "smithy.api#documentation": "<p>The full description of your virtual router.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeVirtualService": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#DescribeVirtualServiceInput",
        "output": "com.amazonaws.lattice.v20190125#DescribeVirtualServiceOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Describes an existing virtual service.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "DescribeVirtualServiceInput": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh that the virtual service resides in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "virtualServiceName": {
            "target": "ServiceName",
            "smithy.api#documentation": "<p>The name of the virtual service to describe.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DescribeVirtualServiceOutput": {
        "type": "structure",
        "members": {
          "virtualService": {
            "target": "VirtualServiceData",
            "smithy.api#documentation": "<p>The full description of your virtual service.</p>",
            "smithy.api#httpPayload": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "DnsServiceDiscovery": {
        "type": "structure",
        "members": {
          "hostname": {
            "target": "Hostname",
            "smithy.api#documentation": "<p>Specifies the DNS service discovery hostname for the virtual node. </p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the DNS service discovery information for your virtual\n         node.</p>"
      },
      "Duration": {
        "type": "structure",
        "members": {
          "unit": {
            "target": "DurationUnit",
            "smithy.api#documentation": "<p>A unit of time.</p>"
          },
          "value": {
            "target": "DurationValue",
            "smithy.api#documentation": "<p>A number of time units.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents a duration of time.</p>"
      },
      "DurationUnit": {
        "type": "string",
        "smithy.api#enum": {
          "s": {
            "name": "S"
          },
          "ms": {
            "name": "MS"
          }
        }
      },
      "DurationValue": {
        "type": "long",
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0
        }
      },
      "EgressFilter": {
        "type": "structure",
        "members": {
          "type": {
            "target": "EgressFilterType",
            "smithy.api#documentation": "<p>The egress filter type. By default, the type is <code>DROP_ALL</code>, which allows\n         egress only from virtual nodes to other defined resources in the service mesh (and any\n         traffic to <code>*.amazonaws.com</code> for AWS API calls). You can set the egress filter\n         type to <code>ALLOW_ALL</code> to allow egress to any endpoint inside or outside of the\n         service mesh.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the egress filter rules for a service mesh.</p>"
      },
      "EgressFilterType": {
        "type": "string",
        "smithy.api#enum": {
          "ALLOW_ALL": {
            "name": "ALLOW_ALL"
          },
          "DROP_ALL": {
            "name": "DROP_ALL"
          }
        }
      },
      "FileAccessLog": {
        "type": "structure",
        "members": {
          "path": {
            "target": "FilePath",
            "smithy.api#documentation": "<p>The file path to write access logs to. You can use <code>/dev/stdout</code> to send\n         access logs to standard out and configure your Envoy container to use a log driver, such as\n            <code>awslogs</code>, to export the access logs to a log storage service such as Amazon\n         CloudWatch Logs. You can also specify a path in the Envoy container's file system to write\n         the files to disk.</p>\n         <note>\n            <p>The Envoy process must have write permissions to the path that you specify here.\n            Otherwise, Envoy fails to bootstrap properly.</p>\n         </note>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents an access log file.</p>"
      },
      "FilePath": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      },
      "ForbiddenException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String"
          }
        },
        "smithy.api#documentation": "<p>You don't have permissions to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "GrpcRetryPolicy": {
        "type": "structure",
        "members": {
          "grpcRetryEvents": {
            "target": "GrpcRetryPolicyEvents",
            "smithy.api#documentation": "<p>Specify at least one of the valid values.</p>"
          },
          "httpRetryEvents": {
            "target": "HttpRetryPolicyEvents",
            "smithy.api#documentation": "<p>Specify at least one of the following values.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>server-error</b> – HTTP status codes 500, 501,\n                  502, 503, 504, 505, 506, 507, 508, 510, and 511</p>\n            </li>\n            <li>\n               <p>\n                  <b>gateway-error</b> – HTTP status codes 502,\n                  503, and 504</p>\n            </li>\n            <li>\n               <p>\n                  <b>client-error</b> – HTTP status code 409</p>\n            </li>\n            <li>\n               <p>\n                  <b>stream-error</b> – Retry on refused\n                  stream</p>\n            </li>\n         </ul>"
          },
          "maxRetries": {
            "target": "MaxRetries",
            "smithy.api#documentation": "<p>The maximum number of retry attempts.</p>",
            "smithy.api#required": true
          },
          "perRetryTimeout": {
            "target": "Duration",
            "smithy.api#documentation": "<p>An object that represents a duration of time.</p>",
            "smithy.api#required": true
          },
          "tcpRetryEvents": {
            "target": "TcpRetryPolicyEvents",
            "smithy.api#documentation": "<p>Specify a valid value.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents a retry policy. Specify at least one value for at least one of the types of <code>RetryEvents</code>, a value for <code>maxRetries</code>, and a value for <code>perRetryTimeout</code>.</p>"
      },
      "GrpcRetryPolicyEvent": {
        "type": "string",
        "smithy.api#enum": {
          "cancelled": {
            "name": "CANCELLED"
          },
          "deadline-exceeded": {
            "name": "DEADLINE_EXCEEDED"
          },
          "internal": {
            "name": "INTERNAL"
          },
          "resource-exhausted": {
            "name": "RESOURCE_EXHAUSTED"
          },
          "unavailable": {
            "name": "UNAVAILABLE"
          }
        }
      },
      "GrpcRetryPolicyEvents": {
        "type": "list",
        "member": {
          "target": "GrpcRetryPolicyEvent"
        },
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      },
      "GrpcRoute": {
        "type": "structure",
        "members": {
          "action": {
            "target": "GrpcRouteAction",
            "smithy.api#documentation": "<p>An object that represents the action to take if a match is determined.</p>",
            "smithy.api#required": true
          },
          "match": {
            "target": "GrpcRouteMatch",
            "smithy.api#documentation": "<p>An object that represents the criteria for determining a request match.</p>",
            "smithy.api#required": true
          },
          "retryPolicy": {
            "target": "GrpcRetryPolicy",
            "smithy.api#documentation": "<p>An object that represents a retry policy.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents a GRPC route type.</p>"
      },
      "GrpcRouteAction": {
        "type": "structure",
        "members": {
          "weightedTargets": {
            "target": "WeightedTargets",
            "smithy.api#documentation": "<p>An object that represents the targets that traffic is routed to when a request matches the route.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the action to take if a match is determined.</p>"
      },
      "GrpcRouteMatch": {
        "type": "structure",
        "members": {
          "metadata": {
            "target": "GrpcRouteMetadataList",
            "smithy.api#documentation": "<p>An object that represents the data to match from the request.</p>"
          },
          "methodName": {
            "target": "MethodName",
            "smithy.api#documentation": "<p>The method name to match from the request. If you specify a name, you must also specify a <code>serviceName</code>.</p>"
          },
          "serviceName": {
            "target": "ServiceName",
            "smithy.api#documentation": "<p>The fully qualified domain name for the service to match from the request.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents the criteria for determining a request match.</p>"
      },
      "GrpcRouteMetadata": {
        "type": "structure",
        "members": {
          "invert": {
            "target": "smithy.api#Boolean",
            "smithy.api#documentation": "<p>Specify <code>True</code> to match anything except the match criteria. The default value is <code>False</code>.</p>"
          },
          "match": {
            "target": "GrpcRouteMetadataMatchMethod",
            "smithy.api#documentation": "<p>An object that represents the data to match from the request.</p>"
          },
          "name": {
            "target": "HeaderName",
            "smithy.api#documentation": "<p>The name of the route.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the match metadata for the route.</p>"
      },
      "GrpcRouteMetadataList": {
        "type": "list",
        "member": {
          "target": "GrpcRouteMetadata"
        },
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      },
      "GrpcRouteMetadataMatchMethod": {
        "type": "union",
        "members": {
          "exact": {
            "target": "HeaderMatch",
            "smithy.api#documentation": "<p>The value sent by the client must match the specified value exactly.</p>"
          },
          "prefix": {
            "target": "HeaderMatch",
            "smithy.api#documentation": "<p>The value sent by the client must begin with the specified characters.</p>"
          },
          "range": {
            "target": "MatchRange",
            "smithy.api#documentation": "<p>An object that represents the range of values to match on.</p>"
          },
          "regex": {
            "target": "HeaderMatch",
            "smithy.api#documentation": "<p>The value sent by the client must include the specified characters.</p>"
          },
          "suffix": {
            "target": "HeaderMatch",
            "smithy.api#documentation": "<p>The value sent by the client must end with the specified characters.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents the match method. Specify one of the match values.</p>"
      },
      "HeaderMatch": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      },
      "HeaderMatchMethod": {
        "type": "union",
        "members": {
          "exact": {
            "target": "HeaderMatch",
            "smithy.api#documentation": "<p>The value sent by the client must match the specified value exactly.</p>"
          },
          "prefix": {
            "target": "HeaderMatch",
            "smithy.api#documentation": "<p>The value sent by the client must begin with the specified characters.</p>"
          },
          "range": {
            "target": "MatchRange",
            "smithy.api#documentation": "<p>An object that represents the range of values to match on.</p>"
          },
          "regex": {
            "target": "HeaderMatch",
            "smithy.api#documentation": "<p>The value sent by the client must include the specified characters.</p>"
          },
          "suffix": {
            "target": "HeaderMatch",
            "smithy.api#documentation": "<p>The value sent by the client must end with the specified characters.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents the method and value to match with the header value sent in a\n         request. Specify one match method.</p>"
      },
      "HeaderName": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      },
      "HealthCheckIntervalMillis": {
        "type": "long",
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 5000,
          "max": 300000
        }
      },
      "HealthCheckPolicy": {
        "type": "structure",
        "members": {
          "healthyThreshold": {
            "target": "HealthCheckThreshold",
            "smithy.api#documentation": "<p>The number of consecutive successful health checks that must occur before declaring\n         listener healthy.</p>",
            "smithy.api#required": true
          },
          "intervalMillis": {
            "target": "HealthCheckIntervalMillis",
            "smithy.api#documentation": "<p>The time period in milliseconds between each health check execution.</p>",
            "smithy.api#required": true
          },
          "path": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The destination path for the health check request. This is required only if the\n         specified protocol is HTTP. If the protocol is TCP, this parameter is ignored.</p>"
          },
          "port": {
            "target": "PortNumber",
            "smithy.api#documentation": "<p>The destination port for the health check request. This port must match the port defined\n         in the <a>PortMapping</a> for the listener.</p>"
          },
          "protocol": {
            "target": "PortProtocol",
            "smithy.api#documentation": "<p>The protocol for the health check request.</p>",
            "smithy.api#required": true
          },
          "timeoutMillis": {
            "target": "HealthCheckTimeoutMillis",
            "smithy.api#documentation": "<p>The amount of time to wait when receiving a response from the health check, in\n         milliseconds.</p>",
            "smithy.api#required": true
          },
          "unhealthyThreshold": {
            "target": "HealthCheckThreshold",
            "smithy.api#documentation": "<p>The number of consecutive failed health checks that must occur before declaring a\n         virtual node unhealthy. </p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the health check policy for a virtual node's listener.</p>"
      },
      "HealthCheckThreshold": {
        "type": "integer",
        "smithy.api#range": {
          "min": 2,
          "max": 10
        }
      },
      "HealthCheckTimeoutMillis": {
        "type": "long",
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 2000,
          "max": 60000
        }
      },
      "Hostname": {
        "type": "string"
      },
      "HttpMethod": {
        "type": "string",
        "smithy.api#enum": {
          "GET": {
            "name": "GET"
          },
          "HEAD": {
            "name": "HEAD"
          },
          "POST": {
            "name": "POST"
          },
          "PUT": {
            "name": "PUT"
          },
          "DELETE": {
            "name": "DELETE"
          },
          "CONNECT": {
            "name": "CONNECT"
          },
          "OPTIONS": {
            "name": "OPTIONS"
          },
          "TRACE": {
            "name": "TRACE"
          },
          "PATCH": {
            "name": "PATCH"
          }
        }
      },
      "HttpRetryPolicy": {
        "type": "structure",
        "members": {
          "httpRetryEvents": {
            "target": "HttpRetryPolicyEvents",
            "smithy.api#documentation": "<p>Specify at least one of the following values.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>server-error</b> – HTTP status codes 500, 501,\n                  502, 503, 504, 505, 506, 507, 508, 510, and 511</p>\n            </li>\n            <li>\n               <p>\n                  <b>gateway-error</b> – HTTP status codes 502,\n                  503, and 504</p>\n            </li>\n            <li>\n               <p>\n                  <b>client-error</b> – HTTP status code 409</p>\n            </li>\n            <li>\n               <p>\n                  <b>stream-error</b> – Retry on refused\n                  stream</p>\n            </li>\n         </ul>"
          },
          "maxRetries": {
            "target": "MaxRetries",
            "smithy.api#documentation": "<p>The maximum number of retry attempts.</p>",
            "smithy.api#required": true
          },
          "perRetryTimeout": {
            "target": "Duration",
            "smithy.api#documentation": "<p>An object that represents a duration of time.</p>",
            "smithy.api#required": true
          },
          "tcpRetryEvents": {
            "target": "TcpRetryPolicyEvents",
            "smithy.api#documentation": "<p>Specify a valid value.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents a retry policy. Specify at least one value for at least one of the types of <code>RetryEvents</code>, a value for <code>maxRetries</code>, and a value for <code>perRetryTimeout</code>.</p>"
      },
      "HttpRetryPolicyEvent": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      },
      "HttpRetryPolicyEvents": {
        "type": "list",
        "member": {
          "target": "HttpRetryPolicyEvent"
        },
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      },
      "HttpRoute": {
        "type": "structure",
        "members": {
          "action": {
            "target": "HttpRouteAction",
            "smithy.api#documentation": "<p>An object that represents the action to take if a match is determined.</p>",
            "smithy.api#required": true
          },
          "match": {
            "target": "HttpRouteMatch",
            "smithy.api#documentation": "<p>An object that represents the criteria for determining a request match.</p>",
            "smithy.api#required": true
          },
          "retryPolicy": {
            "target": "HttpRetryPolicy",
            "smithy.api#documentation": "<p>An object that represents a retry policy.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents an HTTP or HTTP2 route type.</p>"
      },
      "HttpRouteAction": {
        "type": "structure",
        "members": {
          "weightedTargets": {
            "target": "WeightedTargets",
            "smithy.api#documentation": "<p>An object that represents the targets that traffic is routed to when a request matches the route.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the action to take if a match is determined.</p>"
      },
      "HttpRouteHeader": {
        "type": "structure",
        "members": {
          "invert": {
            "target": "smithy.api#Boolean",
            "smithy.api#documentation": "<p>Specify <code>True</code> to match anything except the match criteria. The default value is <code>False</code>.</p>"
          },
          "match": {
            "target": "HeaderMatchMethod",
            "smithy.api#documentation": "<p>The <code>HeaderMatchMethod</code> object.</p>"
          },
          "name": {
            "target": "HeaderName",
            "smithy.api#documentation": "<p>A name for the HTTP header in the client request that will be matched on.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the HTTP header in the request.</p>"
      },
      "HttpRouteHeaders": {
        "type": "list",
        "member": {
          "target": "HttpRouteHeader"
        },
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      },
      "HttpRouteMatch": {
        "type": "structure",
        "members": {
          "headers": {
            "target": "HttpRouteHeaders",
            "smithy.api#documentation": "<p>An object that represents the client request headers to match on.</p>"
          },
          "method": {
            "target": "HttpMethod",
            "smithy.api#documentation": "<p>The client request method to match on. Specify only one.</p>"
          },
          "prefix": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>Specifies the path to match requests with. This parameter must always start with\n            <code>/</code>, which by itself matches all requests to the virtual service name. You\n         can also match for path-based routing of requests. For example, if your virtual service\n         name is <code>my-service.local</code> and you want the route to match requests to\n            <code>my-service.local/metrics</code>, your prefix should be\n         <code>/metrics</code>.</p>",
            "smithy.api#required": true
          },
          "scheme": {
            "target": "HttpScheme",
            "smithy.api#documentation": "<p>The client request scheme to match on. Specify only one.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents the requirements for a route to match HTTP requests for a virtual\n         router.</p>"
      },
      "HttpScheme": {
        "type": "string",
        "smithy.api#enum": {
          "http": {
            "name": "HTTP"
          },
          "https": {
            "name": "HTTPS"
          }
        }
      },
      "InternalServerErrorException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String"
          }
        },
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": true
      },
      "LimitExceededException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String"
          }
        },
        "smithy.api#documentation": "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "ListMeshes": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#ListMeshesInput",
        "output": "com.amazonaws.lattice.v20190125#ListMeshesOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Returns a list of existing service meshes.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "meshes",
          "pageSize": "limit"
        },
        "smithy.api#readonly": true
      },
      "ListMeshesInput": {
        "type": "structure",
        "members": {
          "limit": {
            "target": "ListMeshesLimit",
            "smithy.api#documentation": "<p>The maximum number of results returned by <code>ListMeshes</code> in paginated output.\n         When you use this parameter, <code>ListMeshes</code> returns only <code>limit</code>\n         results in a single page along with a <code>nextToken</code> response element. You can see\n         the remaining results of the initial request by sending another <code>ListMeshes</code>\n         request with the returned <code>nextToken</code> value. This value can be between\n         1 and 100. If you don't use this parameter,\n            <code>ListMeshes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
            "smithy.api#httpQuery": "limit"
          },
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListMeshes</code> request where <code>limit</code> was used and the results\n         exceeded the value of that parameter. Pagination continues from the end of the previous\n         results that returned the <code>nextToken</code> value.</p> \n         <note>\n            <p>This token should be treated as an opaque identifier that is used only to\n                retrieve the next items in a list and not for other programmatic purposes.</p>\n        </note>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "smithy.api#documentation": ""
      },
      "ListMeshesLimit": {
        "type": "integer",
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      },
      "ListMeshesOutput": {
        "type": "structure",
        "members": {
          "meshes": {
            "target": "MeshList",
            "smithy.api#documentation": "<p>The list of existing service meshes.</p>",
            "smithy.api#required": true
          },
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListMeshes</code> request.\n         When the results of a <code>ListMeshes</code> request exceed <code>limit</code>, you can\n         use this value to retrieve the next page of results. This value is <code>null</code> when\n         there are no more results to return.</p>"
          }
        },
        "smithy.api#documentation": ""
      },
      "ListRoutes": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#ListRoutesInput",
        "output": "com.amazonaws.lattice.v20190125#ListRoutesOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Returns a list of existing routes in a service mesh.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "routes",
          "pageSize": "limit"
        },
        "smithy.api#readonly": true
      },
      "ListRoutesInput": {
        "type": "structure",
        "members": {
          "limit": {
            "target": "ListRoutesLimit",
            "smithy.api#documentation": "<p>The maximum number of results returned by <code>ListRoutes</code> in paginated output.\n         When you use this parameter, <code>ListRoutes</code> returns only <code>limit</code>\n         results in a single page along with a <code>nextToken</code> response element. You can see\n         the remaining results of the initial request by sending another <code>ListRoutes</code>\n         request with the returned <code>nextToken</code> value. This value can be between\n         1 and 100. If you don't use this parameter,\n            <code>ListRoutes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
            "smithy.api#httpQuery": "limit"
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to list routes in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListRoutes</code> request where <code>limit</code> was used and the results\n         exceeded the value of that parameter. Pagination continues from the end of the previous\n         results that returned the <code>nextToken</code> value.</p>",
            "smithy.api#httpQuery": "nextToken"
          },
          "virtualRouterName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the virtual router to list routes in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "ListRoutesLimit": {
        "type": "integer",
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      },
      "ListRoutesOutput": {
        "type": "structure",
        "members": {
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListRoutes</code> request.\n         When the results of a <code>ListRoutes</code> request exceed <code>limit</code>, you can\n         use this value to retrieve the next page of results. This value is <code>null</code> when\n         there are no more results to return.</p>"
          },
          "routes": {
            "target": "RouteList",
            "smithy.api#documentation": "<p>The list of existing routes for the specified service mesh and virtual router.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "ListTagsForResource": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#ListTagsForResourceInput",
        "output": "com.amazonaws.lattice.v20190125#ListTagsForResourceOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>List the tags for an App Mesh resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/tags",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "tags",
          "pageSize": "limit"
        },
        "smithy.api#readonly": true
      },
      "ListTagsForResourceInput": {
        "type": "structure",
        "members": {
          "limit": {
            "target": "TagsLimit",
            "smithy.api#documentation": "<p>The maximum number of tag results returned by <code>ListTagsForResource</code> in\n         paginated output. When this parameter is used, <code>ListTagsForResource</code> returns\n         only <code>limit</code> results in a single page along with a <code>nextToken</code>\n         response element. You can see the remaining results of the initial request by sending\n         another <code>ListTagsForResource</code> request with the returned <code>nextToken</code>\n         value. This value can be between 1 and 100. If you don't use\n         this parameter, <code>ListTagsForResource</code> returns up to 100\n         results and a <code>nextToken</code> value if applicable.</p>",
            "smithy.api#httpQuery": "limit"
          },
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListTagsForResource</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
            "smithy.api#httpQuery": "nextToken"
          },
          "resourceArn": {
            "target": "Arn",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the resource to list the tags for.</p>",
            "smithy.api#httpQuery": "resourceArn",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "ListTagsForResourceOutput": {
        "type": "structure",
        "members": {
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListTagsForResource</code>\n         request. When the results of a <code>ListTagsForResource</code> request exceed\n            <code>limit</code>, you can use this value to retrieve the next page of results. This\n         value is <code>null</code> when there are no more results to return.</p>"
          },
          "tags": {
            "target": "TagList",
            "smithy.api#documentation": "<p>The tags for the resource.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "ListVirtualNodes": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#ListVirtualNodesInput",
        "output": "com.amazonaws.lattice.v20190125#ListVirtualNodesOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Returns a list of existing virtual nodes.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes/{meshName}/virtualNodes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "virtualNodes",
          "pageSize": "limit"
        },
        "smithy.api#readonly": true
      },
      "ListVirtualNodesInput": {
        "type": "structure",
        "members": {
          "limit": {
            "target": "ListVirtualNodesLimit",
            "smithy.api#documentation": "<p>The maximum number of results returned by <code>ListVirtualNodes</code> in paginated\n         output. When you use this parameter, <code>ListVirtualNodes</code> returns only\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. You can see the remaining results of the initial request by sending another\n            <code>ListVirtualNodes</code> request with the returned <code>nextToken</code> value.\n         This value can be between 1 and 100. If you don't use this\n         parameter, <code>ListVirtualNodes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
            "smithy.api#httpQuery": "limit"
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to list virtual nodes in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListVirtualNodes</code> request where <code>limit</code> was used and the results\n         exceeded the value of that parameter. Pagination continues from the end of the previous\n         results that returned the <code>nextToken</code> value.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "smithy.api#documentation": ""
      },
      "ListVirtualNodesLimit": {
        "type": "integer",
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      },
      "ListVirtualNodesOutput": {
        "type": "structure",
        "members": {
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualNodes</code>\n         request. When the results of a <code>ListVirtualNodes</code> request exceed\n            <code>limit</code>, you can use this value to retrieve the next page of results. This\n         value is <code>null</code> when there are no more results to return.</p>"
          },
          "virtualNodes": {
            "target": "VirtualNodeList",
            "smithy.api#documentation": "<p>The list of existing virtual nodes for the specified service mesh.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "ListVirtualRouters": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#ListVirtualRoutersInput",
        "output": "com.amazonaws.lattice.v20190125#ListVirtualRoutersOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Returns a list of existing virtual routers in a service mesh.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes/{meshName}/virtualRouters",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "virtualRouters",
          "pageSize": "limit"
        },
        "smithy.api#readonly": true
      },
      "ListVirtualRoutersInput": {
        "type": "structure",
        "members": {
          "limit": {
            "target": "ListVirtualRoutersLimit",
            "smithy.api#documentation": "<p>The maximum number of results returned by <code>ListVirtualRouters</code> in paginated\n         output. When you use this parameter, <code>ListVirtualRouters</code> returns only\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. You can see the remaining results of the initial request by sending another\n            <code>ListVirtualRouters</code> request with the returned <code>nextToken</code> value.\n         This value can be between 1 and 100. If you don't use this\n         parameter, <code>ListVirtualRouters</code> returns up to 100 results and\n         a <code>nextToken</code> value if applicable.</p>",
            "smithy.api#httpQuery": "limit"
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to list virtual routers in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListVirtualRouters</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "smithy.api#documentation": ""
      },
      "ListVirtualRoutersLimit": {
        "type": "integer",
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      },
      "ListVirtualRoutersOutput": {
        "type": "structure",
        "members": {
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualRouters</code>\n         request. When the results of a <code>ListVirtualRouters</code> request exceed\n            <code>limit</code>, you can use this value to retrieve the next page of results. This\n         value is <code>null</code> when there are no more results to return.</p>"
          },
          "virtualRouters": {
            "target": "VirtualRouterList",
            "smithy.api#documentation": "<p>The list of existing virtual routers for the specified service mesh.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "ListVirtualServices": {
        "type": "operation",
        "input": "com.amazonaws.lattice.v20190125#ListVirtualServicesInput",
        "output": "com.amazonaws.lattice.v20190125#ListVirtualServicesOutput",
        "errors": [
          "com.amazonaws.lattice.v20190125#BadRequestException",
          "com.amazonaws.lattice.v20190125#ForbiddenException",
          "com.amazonaws.lattice.v20190125#InternalServerErrorException",
          "com.amazonaws.lattice.v20190125#NotFoundException",
          "com.amazonaws.lattice.v20190125#ServiceUnavailableException",
          "com.amazonaws.lattice.v20190125#TooManyRequestsException"
        ],
        "smithy.api#documentation": "<p>Returns a list of existing virtual services in a service mesh.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20190125/meshes/{meshName}/virtualServices",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "virtualServices",
          "pageSize": "limit"
        },
        "smithy.api#readonly": true
      },
      "ListVirtualServicesInput": {
        "type": "structure",
        "members": {
          "limit": {
            "target": "ListVirtualServicesLimit",
            "smithy.api#documentation": "<p>The maximum number of results returned by <code>ListVirtualServices</code> in paginated\n         output. When you use this parameter, <code>ListVirtualServices</code> returns only\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. You can see the remaining results of the initial request by sending another\n            <code>ListVirtualServices</code> request with the returned <code>nextToken</code> value.\n         This value can be between 1 and 100. If you don't use this\n         parameter, <code>ListVirtualServices</code> returns up to 100 results and\n         a <code>nextToken</code> value if applicable.</p>",
            "smithy.api#httpQuery": "limit"
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh to list virtual services in.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListVirtualServices</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "smithy.api#documentation": ""
      },
      "ListVirtualServicesLimit": {
        "type": "integer",
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      },
      "ListVirtualServicesOutput": {
        "type": "structure",
        "members": {
          "nextToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualServices</code>\n         request. When the results of a <code>ListVirtualServices</code> request exceed\n            <code>limit</code>, you can use this value to retrieve the next page of results. This\n         value is <code>null</code> when there are no more results to return.</p>"
          },
          "virtualServices": {
            "target": "VirtualServiceList",
            "smithy.api#documentation": "<p>The list of existing virtual services for the specified service mesh.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": ""
      },
      "Listener": {
        "type": "structure",
        "members": {
          "healthCheck": {
            "target": "HealthCheckPolicy",
            "smithy.api#documentation": "<p>The health check information for the listener.</p>"
          },
          "portMapping": {
            "target": "PortMapping",
            "smithy.api#documentation": "<p>The port mapping information for the listener.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents a listener for a virtual node.</p>"
      },
      "Listeners": {
        "type": "list",
        "member": {
          "target": "Listener"
        },
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      },
      "Logging": {
        "type": "structure",
        "members": {
          "accessLog": {
            "target": "AccessLog",
            "smithy.api#documentation": "<p>The access log configuration for a virtual node.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents the logging information for a virtual node.</p>"
      },
      "MatchRange": {
        "type": "structure",
        "members": {
          "end": {
            "target": "smithy.api#Long",
            "smithy.api#documentation": "<p>The end of the range.</p>",
            "smithy.api#required": true
          },
          "start": {
            "target": "smithy.api#Long",
            "smithy.api#documentation": "<p>The start of the range.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents the range of values to match on. The first character of the range is included in the range, though the last character is not. For example, if the range specified were 1-100, only values 1-99 would be matched.</p>"
      },
      "MaxRetries": {
        "type": "long",
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0
        }
      },
      "Mesh": {
        "type": "resource",
        "identifiers": {
          "meshName": "com.amazonaws.lattice.v20190125#ResourceName"
        },
        "put": "com.amazonaws.lattice.v20190125#CreateMesh",
        "read": "com.amazonaws.lattice.v20190125#DescribeMesh",
        "update": "com.amazonaws.lattice.v20190125#UpdateMesh",
        "delete": "com.amazonaws.lattice.v20190125#DeleteMesh",
        "list": "com.amazonaws.lattice.v20190125#ListMeshes",
        "resources": [
          "com.amazonaws.lattice.v20190125#VirtualNode",
          "com.amazonaws.lattice.v20190125#VirtualRouter",
          "com.amazonaws.lattice.v20190125#VirtualService"
        ],
        "aws.api#arn": {
          "template": "mesh/{meshName}",
          "absolute": false,
          "noAccount": false,
          "noRegion": false
        }
      },
      "MeshData": {
        "type": "structure",
        "members": {
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh.</p>",
            "smithy.api#required": true
          },
          "metadata": {
            "target": "ResourceMetadata",
            "smithy.api#documentation": "<p>The associated metadata for the service mesh.</p>",
            "smithy.api#required": true
          },
          "spec": {
            "target": "MeshSpec",
            "smithy.api#documentation": "<p>The associated specification for the service mesh.</p>",
            "smithy.api#required": true
          },
          "status": {
            "target": "MeshStatus",
            "smithy.api#documentation": "<p>The status of the service mesh.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents a service mesh returned by a describe operation.</p>",
        "smithy.api#references": [
          {
            "rel": "self",
            "resource": "com.amazonaws.lattice.v20190125#Mesh"
          }
        ]
      },
      "MeshList": {
        "type": "list",
        "member": {
          "target": "MeshRef"
        }
      },
      "MeshRef": {
        "type": "structure",
        "members": {
          "arn": {
            "target": "Arn",
            "smithy.api#documentation": "<p>The full Amazon Resource Name (ARN) of the service mesh.</p>",
            "smithy.api#required": true
          },
          "meshName": {
            "target": "ResourceName",
            "smithy.api#documentation": "<p>The name of the service mesh.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents a service mesh returned by a list operation.</p>"
      },
      "MeshSpec": {
        "type": "structure",
        "members": {
          "egressFilter": {
            "target": "EgressFilter",
            "smithy.api#documentation": "<p>The egress filter rules for the service mesh.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents the specification of a service mesh.</p>"
      },
      "MeshStatus": {
        "type": "structure",
        "members": {
          "status": {
            "target": "MeshStatusCode",
            "smithy.api#documentation": "<p>The current mesh status.</p>"
          }
        },
        "smithy.api#documentation": "<p>An object that represents the status of a service mesh.</p>"
      },
      "MeshStatusCode": {
        "type": "string",
        "smithy.api#enum": {
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "INACTIVE": {
            "name": "INACTIVE"
          },
          "DELETED": {
            "name": "DELETED"
          }
        }
      },
      "MethodName": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      },
      "NotFoundException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String"
          }
        },
        "smithy.api#documentation": "<p>The specified resource doesn't exist. Check your request syntax and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "PercentInt": {
        "type": "integer",
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      },
      "PortMapping": {
        "type": "structure",
        "members": {
          "port": {
            "target": "PortNumber",
            "smithy.api#documentation": "<p>The port used for the port mapping.</p>",
            "smithy.api#required": true
          },
          "protocol": {
            "target": "PortProtocol",
            "smithy.api#documentation": "<p>The protocol used for the port mapping. Specify one protocol.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An object that represents a port mapping.</p>"
      },
      "PortNumber": {
        "type": "integer",
        "smithy.api#range": {
          "min": 1,
          "max": 65535
        }
      },
      "PortProtocol": {
        "type": "string",
[...]
