{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.deepdish.controlplane#AWSDeepdishControlPlaneService": {
      "type": "service",
      "version": "2017-07-25",
      "operations": [
        {
          "target": "com.amazonaws.deepdish.controlplane#CreateApiCache"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#CreateApiKey"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#CreateDataSource"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#CreateFunction"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#CreateGraphqlApi"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#CreateResolver"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#CreateType"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#DeleteApiCache"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#DeleteApiKey"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#DeleteDataSource"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#DeleteFunction"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#DeleteGraphqlApi"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#DeleteResolver"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#DeleteType"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#FlushApiCache"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#GetApiCache"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#GetDataSource"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#GetFunction"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#GetGraphqlApi"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#GetIntrospectionSchema"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#GetResolver"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#GetSchemaCreationStatus"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#GetType"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ListApiKeys"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ListDataSources"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ListFunctions"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ListGraphqlApis"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ListResolvers"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ListResolversByFunction"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ListTypes"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#StartSchemaCreation"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#TagResource"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UntagResource"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UpdateApiCache"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UpdateApiKey"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UpdateDataSource"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UpdateFunction"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UpdateGraphqlApi"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UpdateResolver"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UpdateType"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AppSync",
          "arnNamespace": "appsync",
          "cloudFormationName": "AppSync",
          "cloudTrailEventSource": "controlplane.deepdish.amazonaws.com"
        },
        "smithy.api#documentation": "<p>AWS AppSync provides API actions for creating and interacting with data sources using\n         GraphQL from your application.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS AppSync",
        "smithy.api#xmlNamespace": {
          "uri": "http://appsync.amazonaws.com"
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.deepdish.controlplane#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have access to perform this operation on this resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.deepdish.controlplane#AdditionalAuthenticationProvider": {
      "type": "structure",
      "members": {
        "authenticationType": {
          "target": "com.amazonaws.deepdish.controlplane#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type: API key, AWS IAM, OIDC, or Amazon Cognito user pools.</p>"
          }
        },
        "openIDConnectConfig": {
          "target": "com.amazonaws.deepdish.controlplane#OpenIDConnectConfig",
          "traits": {
            "smithy.api#documentation": "<p>The OpenID Connect configuration.</p>"
          }
        },
        "userPoolConfig": {
          "target": "com.amazonaws.deepdish.controlplane#CognitoUserPoolConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Cognito user pool configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an additional authentication provider.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#AdditionalAuthenticationProviders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.deepdish.controlplane#AdditionalAuthenticationProvider"
      }
    },
    "com.amazonaws.deepdish.controlplane#ApiCache": {
      "type": "structure",
      "members": {
        "apiCachingBehavior": {
          "target": "com.amazonaws.deepdish.controlplane#ApiCachingBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Caching behavior.</p>\n        <ul>\n            <li>\n                <p>\n                  <b>FULL_REQUEST_CACHING</b>: All requests are fully cached.</p>\n            </li>\n            <li>\n                <p>\n                  <b>PER_RESOLVER_CACHING</b>: Individual resovlers that you specify are cached.</p>\n            </li>\n         </ul>"
          }
        },
        "atRestEncryptionEnabled": {
          "target": "com.amazonaws.deepdish.controlplane#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>At rest encryption flag for cache. This setting cannot be updated after creation.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.deepdish.controlplane#ApiCacheStatus",
          "traits": {
            "smithy.api#documentation": "<p>The cache instance status.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>AVAILABLE</b>: The instance is available for use.</p>\n           </li>\n            <li>\n               <p>\n                  <b>CREATING</b>: The instance is currently creating.</p>\n           </li>\n            <li>\n               <p>\n                  <b>DELETING</b>: The instance is currently deleting.</p>\n           </li>\n            <li>\n               <p>\n                  <b>MODIFYING</b>: The instance is currently modifying.</p>\n           </li>\n            <li>\n               <p>\n                  <b>FAILED</b>: The instance has failed creation.</p>\n           </li>\n         </ul>"
          }
        },
        "transitEncryptionEnabled": {
          "target": "com.amazonaws.deepdish.controlplane#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Transit encryption flag when connecting to cache. This setting cannot be updated after creation.</p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.deepdish.controlplane#Long",
          "traits": {
            "smithy.api#documentation": "<p>TTL in seconds for cache entries.</p>\n        <p>Valid values are between 1 and 3600 seconds.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.deepdish.controlplane#ApiCacheType",
          "traits": {
            "smithy.api#documentation": "<p>The cache instance type.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>T2_SMALL</b>: A t2.small instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>T2_MEDIUM</b>: A t2.medium instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_LARGE</b>: A r4.large instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_XLARGE</b>: A r4.xlarge instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p>\n           </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#ApiCacheStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "AVAILABLE": {
            "name": "AVAILABLE"
          },
          "CREATING": {
            "name": "CREATING"
          },
          "DELETING": {
            "name": "DELETING"
          },
          "MODIFYING": {
            "name": "MODIFYING"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#ApiCacheType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "T2_SMALL": {
            "name": "T2_SMALL"
          },
          "T2_MEDIUM": {
            "name": "T2_MEDIUM"
          },
          "R4_LARGE": {
            "name": "R4_LARGE"
          },
          "R4_XLARGE": {
            "name": "R4_XLARGE"
          },
          "R4_2XLARGE": {
            "name": "R4_2XLARGE"
          },
          "R4_4XLARGE": {
            "name": "R4_4XLARGE"
          },
          "R4_8XLARGE": {
            "name": "R4_8XLARGE"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#ApiCachingBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "FULL_REQUEST_CACHING": {
            "name": "FULL_REQUEST_CACHING"
          },
          "PER_RESOLVER_CACHING": {
            "name": "PER_RESOLVER_CACHING"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#ApiKey": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the purpose of the API key.</p>"
          }
        },
        "expires": {
          "target": "com.amazonaws.deepdish.controlplane#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time after which the API key expires. The date is represented as seconds since the\n         epoch, rounded down to the nearest hour.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API key ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an API key.</p>\n         <p>Customers invoke AWS AppSync GraphQL API operations with API keys as an identity mechanism. There\n         are two key versions:</p>\n         <p>\n            <b>da1</b>:  This version was introduced at launch in November\n         2017. These keys always expire after 7 days. Key expiration is managed by Amazon DynamoDB TTL. The\n         keys ceased to be valid after February 21, 2018 and should not be used after that\n         date.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ListApiKeys</code> returns the expiration time in milliseconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateApiKey</code> returns the expiration time in\n               milliseconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateApiKey</code> is not available for this key version.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteApiKey</code> deletes the item from the table.</p>\n            </li>\n            <li>\n               <p>Expiration is stored in Amazon DynamoDB as milliseconds. This results in a bug where\n               keys are not automatically deleted because DynamoDB expects the TTL to be stored in\n               seconds. As a one-time action, we will delete these keys from the table after February 21,\n               2018.</p>\n            </li>\n         </ul>\n         <p>\n            <b>da2</b>: This version was introduced in February 2018 when\n         AppSync added support to extend key expiration.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ListApiKeys</code> returns the expiration time in seconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateApiKey</code> returns the expiration time in seconds and accepts a\n               user-provided expiration time in seconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateApiKey</code> returns the expiration time in seconds and accepts a\n               user-provided expiration time in seconds. Key expiration can only be updated while\n               the key has not expired.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteApiKey</code> deletes the item from the table.</p>\n            </li>\n            <li>\n               <p>Expiration is stored in Amazon DynamoDB as seconds.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.deepdish.controlplane#ApiKeyLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.deepdish.controlplane#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The API key exceeded a limit. Try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.deepdish.controlplane#ApiKeyValidityOutOfBoundsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.deepdish.controlplane#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The API key expiration must be set to a value between 1 and 365 days from creation (for\n            <code>CreateApiKey</code>) or from update (for <code>UpdateApiKey</code>).</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.deepdish.controlplane#ApiKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.deepdish.controlplane#ApiKey"
      }
    },
    "com.amazonaws.deepdish.controlplane#ApiLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.deepdish.controlplane#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The GraphQL API exceeded a limit. Try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.deepdish.controlplane#AuthenticationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "API_KEY": {
            "name": "API_KEY"
          },
          "AWS_IAM": {
            "name": "AWS_IAM"
          },
          "AMAZON_COGNITO_USER_POOLS": {
            "name": "AMAZON_COGNITO_USER_POOLS"
          },
          "OPENID_CONNECT": {
            "name": "OPENID_CONNECT"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#AuthorizationConfig": {
      "type": "structure",
      "members": {
        "authorizationType": {
          "target": "com.amazonaws.deepdish.controlplane#AuthorizationType",
          "traits": {
            "smithy.api#documentation": "<p>The authorization type required by the HTTP endpoint.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>AWS_IAM</b>: The authorization type is\n               Sigv4.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "awsIamConfig": {
          "target": "com.amazonaws.deepdish.controlplane#AwsIamConfig",
          "traits": {
            "smithy.api#documentation": "<p>The AWS IAM settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authorization config in case the HTTP endpoint requires authorization.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#AuthorizationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "AWS_IAM": {
            "name": "AWS_IAM"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#AwsIamConfig": {
      "type": "structure",
      "members": {
        "signingRegion": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The signing region for AWS IAM authorization.</p>"
          }
        },
        "signingServiceName": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The signing service name for AWS IAM authorization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AWS IAM configuration.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.deepdish.controlplane#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is not well formed. For example, a value is invalid or a required field is\n         missing. Check the field values, and then try again. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.deepdish.controlplane#Blob": {
      "type": "blob"
    },
    "com.amazonaws.deepdish.controlplane#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.deepdish.controlplane#BooleanValue": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.deepdish.controlplane#CachingConfig": {
      "type": "structure",
      "members": {
        "cachingKeys": {
          "target": "com.amazonaws.deepdish.controlplane#CachingKeys",
          "traits": {
            "smithy.api#documentation": "<p>The caching keys for a resolver that has caching enabled.</p>\n         <p>Valid values are entries from the <code>$context.identity</code> and <code>$context.arguments</code> maps.</p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.deepdish.controlplane#Long",
          "traits": {
            "smithy.api#documentation": "<p>The TTL in seconds for a resolver that has caching enabled.</p>\n         <p>Valid values are between 1 and 3600 seconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The caching configuration for a resolver that has caching enabled.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#CachingKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.deepdish.controlplane#String"
      }
    },
    "com.amazonaws.deepdish.controlplane#CognitoUserPoolConfig": {
      "type": "structure",
      "members": {
        "appIdClientRegex": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>A regular expression for validating the incoming Amazon Cognito user pool app client\n         ID.</p>"
          }
        },
        "awsRegion": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region in which the user pool was created.</p>",
            "smithy.api#required": true
          }
        },
        "userPoolId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon Cognito user pool configuration.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.deepdish.controlplane#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another modification is in progress at this time and it must complete before you can make\n         your change. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.deepdish.controlplane#ConflictDetectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "VERSION": {
            "name": "VERSION"
          },
          "NONE": {
            "name": "NONE"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#ConflictHandlerType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "OPTIMISTIC_CONCURRENCY": {
            "name": "OPTIMISTIC_CONCURRENCY"
          },
          "LAMBDA": {
            "name": "LAMBDA"
          },
          "AUTOMERGE": {
            "name": "AUTOMERGE"
          },
          "NONE": {
            "name": "NONE"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateApiCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#CreateApiCacheRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#CreateApiCacheResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a cache for the GraphQL API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/{apiId}/ApiCaches",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateApiCacheRequest": {
      "type": "structure",
      "members": {
        "apiCachingBehavior": {
          "target": "com.amazonaws.deepdish.controlplane#ApiCachingBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Caching behavior.</p>\n        <ul>\n            <li>\n                <p>\n                  <b>FULL_REQUEST_CACHING</b>: All requests are fully cached.</p>\n            </li>\n            <li>\n                <p>\n                  <b>PER_RESOLVER_CACHING</b>: Individual resovlers that you specify are cached.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The GraphQL API Id.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "atRestEncryptionEnabled": {
          "target": "com.amazonaws.deepdish.controlplane#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>At rest encryption flag for cache. This setting cannot be updated after creation.</p>"
          }
        },
        "transitEncryptionEnabled": {
          "target": "com.amazonaws.deepdish.controlplane#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Transit encryption flag when connecting to cache. This setting cannot be updated after creation.</p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.deepdish.controlplane#Long",
          "traits": {
            "smithy.api#documentation": "<p>TTL in seconds for cache entries.</p>\n        <p>Valid values are between 1 and 3600 seconds.</p>",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazonaws.deepdish.controlplane#ApiCacheType",
          "traits": {
            "smithy.api#documentation": "<p>The cache instance type.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>T2_SMALL</b>: A t2.small instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>T2_MEDIUM</b>: A t2.medium instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_LARGE</b>: A r4.large instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_XLARGE</b>: A r4.xlarge instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p>\n           </li>\n            <li>\n               <p>\n                  <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p>\n           </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>CreateApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateApiCacheResponse": {
      "type": "structure",
      "members": {
        "apiCache": {
          "target": "com.amazonaws.deepdish.controlplane#ApiCache",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ApiCache</code> object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>CreateApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#CreateApiKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#CreateApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#ApiKeyLimitExceededException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ApiKeyValidityOutOfBoundsException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#LimitExceededException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a unique key that you can distribute to clients who are executing your\n         API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/{apiId}/apikeys",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateApiKeyRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID for your GraphQL API.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "description": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the purpose of the API key.</p>"
          }
        },
        "expires": {
          "target": "com.amazonaws.deepdish.controlplane#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time from creation time after which the API key expires. The date is represented as\n         seconds since the epoch, rounded down to the nearest hour. The default value for this\n         parameter is 7 days from creation time. For more information, see .</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateApiKeyResponse": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.deepdish.controlplane#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>The API key.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>DataSource</code> object.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/{apiId}/datasources",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID for the GraphQL API for the <code>DataSource</code>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "description": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the <code>DataSource</code>.</p>"
          }
        },
        "dynamodbConfig": {
          "target": "com.amazonaws.deepdish.controlplane#DynamodbDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Amazon DynamoDB settings.</p>"
          }
        },
        "elasticsearchConfig": {
          "target": "com.amazonaws.deepdish.controlplane#ElasticsearchDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Elasticsearch Service settings.</p>"
          }
        },
        "httpConfig": {
          "target": "com.amazonaws.deepdish.controlplane#HttpDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>HTTP endpoint settings.</p>"
          }
        },
        "lambdaConfig": {
          "target": "com.amazonaws.deepdish.controlplane#LambdaDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>AWS Lambda settings.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name for the <code>DataSource</code>.</p>",
            "smithy.api#required": true
          }
        },
        "relationalDatabaseConfig": {
          "target": "com.amazonaws.deepdish.controlplane#RelationalDatabaseDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Relational database settings.</p>"
          }
        },
        "serviceRoleArn": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS IAM service role ARN for the data source. The system assumes this role when\n         accessing the data source.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.deepdish.controlplane#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the <code>DataSource</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "com.amazonaws.deepdish.controlplane#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DataSource</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#CreateFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#CreateFunctionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>Function</code> object.</p>\n        <p>A function is a reusable entity. Multiple functions can be used to compose the resolver logic.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/{apiId}/functions",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateFunctionRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The GraphQL API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "dataSourceName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> \n            <code>DataSource</code> name.</p>",
            "smithy.api#required": true
          }
        },
        "description": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> description.</p>"
          }
        },
        "functionVersion": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>version</code> of the request mapping template. Currently the supported value is 2018-05-29. </p>",
            "smithy.api#required": true
          }
        },
        "name": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> name. The function name does not have to be unique.</p>",
            "smithy.api#required": true
          }
        },
        "requestMappingTemplate": {
          "target": "com.amazonaws.deepdish.controlplane#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.</p>",
            "smithy.api#required": true
          }
        },
        "responseMappingTemplate": {
          "target": "com.amazonaws.deepdish.controlplane#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> response mapping template. </p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateFunctionResponse": {
      "type": "structure",
      "members": {
        "functionConfiguration": {
          "target": "com.amazonaws.deepdish.controlplane#FunctionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateGraphqlApi": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#CreateGraphqlApiRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#CreateGraphqlApiResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#ApiLimitExceededException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#LimitExceededException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>GraphqlApi</code> object.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateGraphqlApiRequest": {
      "type": "structure",
      "members": {
        "additionalAuthenticationProviders": {
          "target": "com.amazonaws.deepdish.controlplane#AdditionalAuthenticationProviders",
          "traits": {
            "smithy.api#documentation": "<p>A list of additional authentication providers for the <code>GraphqlApi</code> API.</p>"
          }
        },
        "authenticationType": {
          "target": "com.amazonaws.deepdish.controlplane#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type: API key, AWS IAM, OIDC, or Amazon Cognito user pools.</p>",
            "smithy.api#required": true
          }
        },
        "logConfig": {
          "target": "com.amazonaws.deepdish.controlplane#LogConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch Logs configuration.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name for the <code>GraphqlApi</code>.</p>",
            "smithy.api#required": true
          }
        },
        "openIDConnectConfig": {
          "target": "com.amazonaws.deepdish.controlplane#OpenIDConnectConfig",
          "traits": {
            "smithy.api#documentation": "<p>The OpenID Connect configuration.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.deepdish.controlplane#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A <code>TagMap</code> object.</p>"
          }
        },
        "userPoolConfig": {
          "target": "com.amazonaws.deepdish.controlplane#UserPoolConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Cognito user pool configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateGraphqlApiResponse": {
      "type": "structure",
      "members": {
        "graphqlApi": {
          "target": "com.amazonaws.deepdish.controlplane#GraphqlApi",
          "traits": {
            "smithy.api#documentation": "<p>The <code>GraphqlApi</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateResolver": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#CreateResolverRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#CreateResolverResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>Resolver</code> object.</p>\n         <p>A resolver converts incoming requests into a format that a data source can understand\n         and converts the data source's responses into GraphQL.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/{apiId}/types/{typeName}/resolvers",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateResolverRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the GraphQL API for which the resolver is being created.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "cachingConfig": {
          "target": "com.amazonaws.deepdish.controlplane#CachingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The caching configuration for the resolver.</p>"
          }
        },
        "dataSourceName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source for which the resolver is being created.</p>"
          }
        },
        "fieldName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field to attach the resolver to.</p>",
            "smithy.api#required": true
          }
        },
        "kind": {
          "target": "com.amazonaws.deepdish.controlplane#ResolverKind",
          "traits": {
            "smithy.api#documentation": "<p>The resolver type.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>UNIT</b>: A UNIT resolver type.\n                   A UNIT resolver is the default resolver type.\n                   A UNIT resolver enables you to execute a GraphQL query against a single data source.</p>\n           </li>\n            <li>\n               <p>\n                  <b>PIPELINE</b>: A PIPELINE resolver type.\n                   A PIPELINE resolver enables you to execute a series of <code>Function</code> in a serial manner.\n                   You can use a pipeline resolver to execute a GraphQL query against multiple data sources.</p>\n           </li>\n         </ul>"
          }
        },
        "pipelineConfig": {
          "target": "com.amazonaws.deepdish.controlplane#PipelineConfig",
          "traits": {
            "smithy.api#documentation": "<p>The <code>PipelineConfig</code>.</p>"
          }
        },
        "requestMappingTemplate": {
          "target": "com.amazonaws.deepdish.controlplane#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The mapping template to be used for requests.</p>\n         <p>A resolver uses a request mapping template to convert a GraphQL expression into a format\n         that a data source can understand. Mapping templates are written in Apache Velocity\n         Template Language (VTL).</p>",
            "smithy.api#required": true
          }
        },
        "responseMappingTemplate": {
          "target": "com.amazonaws.deepdish.controlplane#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The mapping template to be used for responses from the data source.</p>"
          }
        },
        "syncConfig": {
          "target": "com.amazonaws.deepdish.controlplane#SyncConfig",
          "traits": {
            "smithy.api#documentation": "<p>The <code>SyncConfig</code> for a resolver attached to a versioned datasource.</p>"
          }
        },
        "typeName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>Type</code>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateResolverResponse": {
      "type": "structure",
      "members": {
        "resolver": {
          "target": "com.amazonaws.deepdish.controlplane#Resolver",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Resolver</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#CreateTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#CreateTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>Type</code> object.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/{apiId}/types",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateTypeRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "definition": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The type definition, in GraphQL Schema Definition Language (SDL) format.</p>\n         <p>For more information, see the <a href=\"http://graphql.org/learn/schema/\">GraphQL SDL\n            documentation</a>.</p>",
            "smithy.api#required": true
          }
        },
        "format": {
          "target": "com.amazonaws.deepdish.controlplane#TypeDefinitionFormat",
          "traits": {
            "smithy.api#documentation": "<p>The type format: SDL or JSON.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#CreateTypeResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.deepdish.controlplane#Type",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Type</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DataSource": {
      "type": "structure",
      "members": {
        "dataSourceArn": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The data source ARN.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the data source.</p>"
          }
        },
        "dynamodbConfig": {
          "target": "com.amazonaws.deepdish.controlplane#DynamodbDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Amazon DynamoDB settings.</p>"
          }
        },
        "elasticsearchConfig": {
          "target": "com.amazonaws.deepdish.controlplane#ElasticsearchDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Elasticsearch Service settings.</p>"
          }
        },
        "httpConfig": {
          "target": "com.amazonaws.deepdish.controlplane#HttpDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>HTTP endpoint settings.</p>"
          }
        },
        "lambdaConfig": {
          "target": "com.amazonaws.deepdish.controlplane#LambdaDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>AWS Lambda settings.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>"
          }
        },
        "relationalDatabaseConfig": {
          "target": "com.amazonaws.deepdish.controlplane#RelationalDatabaseDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Relational database settings.</p>"
          }
        },
        "serviceRoleArn": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS IAM service role ARN for the data source. The system assumes this role when\n         accessing the data source.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.deepdish.controlplane#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>AMAZON_DYNAMODB</b>: The data source is an Amazon\n               DynamoDB table.</p>\n            </li>\n            <li>\n               <p>\n                  <b>AMAZON_ELASTICSEARCH</b>: The data source is an\n               Amazon Elasticsearch Service domain.</p>\n            </li>\n            <li>\n               <p>\n                  <b>AWS_LAMBDA</b>: The data source is an AWS Lambda\n               function.</p>\n            </li>\n            <li>\n               <p>\n                  <b>NONE</b>: There is no data source. This type is\n               used when you wish to invoke a GraphQL operation without connecting to a data\n               source, such as performing data transformation with resolvers or triggering a\n               subscription to be invoked from a mutation.</p>\n            </li>\n            <li>\n               <p>\n                  <b>HTTP</b>: The data source is an HTTP endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <b>RELATIONAL_DATABASE</b>: The data source is a relational\n               database.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a data source.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#DataSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "AWS_LAMBDA": {
            "name": "AWS_LAMBDA"
          },
          "AMAZON_DYNAMODB": {
            "name": "AMAZON_DYNAMODB"
          },
          "AMAZON_ELASTICSEARCH": {
            "name": "AMAZON_ELASTICSEARCH"
          },
          "NONE": {
            "name": "NONE"
          },
          "HTTP": {
            "name": "HTTP"
          },
          "RELATIONAL_DATABASE": {
            "name": "RELATIONAL_DATABASE"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DataSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.deepdish.controlplane#DataSource"
      }
    },
    "com.amazonaws.deepdish.controlplane#DefaultAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ALLOW": {
            "name": "ALLOW"
          },
          "DENY": {
            "name": "DENY"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteApiCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteApiCacheRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteApiCacheResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <code>ApiCache</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/{apiId}/ApiCaches",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteApiCacheRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DeleteApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteApiCacheResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DeleteApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteApiKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteApiKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an API key.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/{apiId}/apikeys/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteApiKeyRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "id": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the API key.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteApiKeyResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.deepdish.controlplane#DeleteDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>DataSource</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/{apiId}/datasources/{name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteDataSourceRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "name": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteDataSourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.deepdish.controlplane#DeleteFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteFunctionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>Function</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/{apiId}/functions/{functionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteFunctionRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The GraphQL API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "functionId": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteFunctionResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.deepdish.controlplane#DeleteGraphqlApi": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteGraphqlApiRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteGraphqlApiResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>GraphqlApi</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/{apiId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteGraphqlApiRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteGraphqlApiResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.deepdish.controlplane#DeleteResolver": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteResolverRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteResolverResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>Resolver</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/{apiId}/types/{typeName}/resolvers/{fieldName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteResolverRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "fieldName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The resolver field name.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "typeName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resolver type.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteResolverResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.deepdish.controlplane#DeleteType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#DeleteTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>Type</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/{apiId}/types/{typeName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteTypeRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "typeName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The type name.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#DeleteTypeResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.deepdish.controlplane#DeltaSyncConfig": {
      "type": "structure",
      "members": {
        "baseTableTTL": {
          "target": "com.amazonaws.deepdish.controlplane#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes an Item is stored in the datasource.</p>"
          }
        },
        "deltaSyncTableName": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The Delta Sync table name.</p>"
          }
        },
        "deltaSyncTableTTL": {
          "target": "com.amazonaws.deepdish.controlplane#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes a Delta Sync log entry is stored in the Delta Sync table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a Delta Sync configuration.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#DynamodbDataSourceConfig": {
      "type": "structure",
      "members": {
        "awsRegion": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region.</p>",
            "smithy.api#required": true
          }
        },
        "deltaSyncConfig": {
          "target": "com.amazonaws.deepdish.controlplane#DeltaSyncConfig",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DeltaSyncConfig</code> for a versioned datasource.</p>"
          }
        },
        "tableName": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The table name.</p>",
            "smithy.api#required": true
          }
        },
        "useCallerCredentials": {
          "target": "com.amazonaws.deepdish.controlplane#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to TRUE to use Amazon Cognito credentials with this data source.</p>"
          }
        },
        "versioned": {
          "target": "com.amazonaws.deepdish.controlplane#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to TRUE to use Conflict Detection and Resolution with this data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon DynamoDB data source configuration.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#ElasticsearchDataSourceConfig": {
      "type": "structure",
      "members": {
        "awsRegion": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region.</p>",
            "smithy.api#required": true
          }
        },
        "endpoint": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Elasticsearch data source configuration.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.deepdish.controlplane#FieldLogLevel": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "NONE": {
            "name": "NONE"
          },
          "ERROR": {
            "name": "ERROR"
          },
          "ALL": {
            "name": "ALL"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#FlushApiCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#FlushApiCacheRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#FlushApiCacheResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Flushes an <code>ApiCache</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/{apiId}/FlushCache",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#FlushApiCacheRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>FlushApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#FlushApiCacheResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>FlushApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#FunctionConfiguration": {
      "type": "structure",
      "members": {
        "dataSourceName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>DataSource</code>.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> description.</p>"
          }
        },
        "functionArn": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>Function</code> object.</p>"
          }
        },
        "functionId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID representing the <code>Function</code> object.</p>"
          }
        },
        "functionVersion": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the request mapping template. Currently only the 2018-05-29 version of the template is supported.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>Function</code> object.</p>"
          }
        },
        "requestMappingTemplate": {
          "target": "com.amazonaws.deepdish.controlplane#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.</p>"
          }
        },
        "responseMappingTemplate": {
          "target": "com.amazonaws.deepdish.controlplane#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> response mapping template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A function is a reusable entity. Multiple functions can be used to compose the resolver logic.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#Functions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.deepdish.controlplane#FunctionConfiguration"
      }
    },
    "com.amazonaws.deepdish.controlplane#FunctionsIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.deepdish.controlplane#String"
      }
    },
    "com.amazonaws.deepdish.controlplane#GetApiCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#GetApiCacheRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#GetApiCacheResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an <code>ApiCache</code> object.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/{apiId}/ApiCaches",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetApiCacheRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>GetApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#GetApiCacheResponse": {
      "type": "structure",
      "members": {
        "apiCache": {
          "target": "com.amazonaws.deepdish.controlplane#ApiCache"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>GetApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#GetDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#GetDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#GetDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a <code>DataSource</code> object.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/{apiId}/datasources/{name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetDataSourceRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "name": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetDataSourceResponse": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "com.amazonaws.deepdish.controlplane#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DataSource</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#GetFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#GetFunctionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a <code>Function</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/{apiId}/functions/{functionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetFunctionRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The GraphQL API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "functionId": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetFunctionResponse": {
      "type": "structure",
      "members": {
        "functionConfiguration": {
          "target": "com.amazonaws.deepdish.controlplane#FunctionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetGraphqlApi": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#GetGraphqlApiRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#GetGraphqlApiResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a <code>GraphqlApi</code> object.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/{apiId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetGraphqlApiRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID for the GraphQL API.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetGraphqlApiResponse": {
      "type": "structure",
      "members": {
        "graphqlApi": {
          "target": "com.amazonaws.deepdish.controlplane#GraphqlApi",
          "traits": {
            "smithy.api#documentation": "<p>The <code>GraphqlApi</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetIntrospectionSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#GetIntrospectionSchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#GetIntrospectionSchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#GraphQLSchemaException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the introspection schema for a GraphQL API.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/{apiId}/schema",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetIntrospectionSchemaRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "format": {
          "target": "com.amazonaws.deepdish.controlplane#OutputType",
          "traits": {
            "smithy.api#documentation": "<p>The schema format: SDL or JSON.</p>",
            "smithy.api#httpQuery": "format",
            "smithy.api#required": true
          }
        },
        "includeDirectives": {
          "target": "com.amazonaws.deepdish.controlplane#BooleanValue",
          "traits": {
            "smithy.api#documentation": "<p>A flag that specifies whether the schema introspection should contain directives.</p>",
            "smithy.api#httpQuery": "includeDirectives"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetIntrospectionSchemaResponse": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "com.amazonaws.deepdish.controlplane#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The schema, in GraphQL Schema Definition Language (SDL) format.</p>\n         <p>For more information, see the <a href=\"http://graphql.org/learn/schema/\">GraphQL SDL\n            documentation</a>.</p>",
            "smithy.api#httpPayload": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetResolver": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#GetResolverRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#GetResolverResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a <code>Resolver</code> object.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/{apiId}/types/{typeName}/resolvers/{fieldName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetResolverRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "fieldName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The resolver field name.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "typeName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The resolver type name.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetResolverResponse": {
      "type": "structure",
      "members": {
        "resolver": {
          "target": "com.amazonaws.deepdish.controlplane#Resolver",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Resolver</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetSchemaCreationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#GetSchemaCreationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#GetSchemaCreationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the current status of a schema creation operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/{apiId}/schemacreation",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetSchemaCreationStatusRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetSchemaCreationStatusResponse": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the status of the schema creation operation.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.deepdish.controlplane#SchemaStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the schema (PROCESSING, FAILED, SUCCESS, or NOT_APPLICABLE). When the schema is in\n         the ACTIVE state, you can add data.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#GetTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#GetTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#NotFoundException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a <code>Type</code> object.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/{apiId}/types/{typeName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetTypeRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "format": {
          "target": "com.amazonaws.deepdish.controlplane#TypeDefinitionFormat",
          "traits": {
            "smithy.api#documentation": "<p>The type format: SDL or JSON.</p>",
            "smithy.api#httpQuery": "format",
            "smithy.api#required": true
          }
        },
        "typeName": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The type name.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GetTypeResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.deepdish.controlplane#Type",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Type</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#GraphQLSchemaException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.deepdish.controlplane#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The GraphQL schema is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.deepdish.controlplane#GraphqlApi": {
      "type": "structure",
      "members": {
        "additionalAuthenticationProviders": {
          "target": "com.amazonaws.deepdish.controlplane#AdditionalAuthenticationProviders",
          "traits": {
            "smithy.api#documentation": "<p>A list of additional authentication providers for the <code>GraphqlApi</code> API.</p>"
          }
        },
        "apiId": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN.</p>"
          }
        },
        "authenticationType": {
          "target": "com.amazonaws.deepdish.controlplane#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type.</p>"
          }
        },
        "logConfig": {
          "target": "com.amazonaws.deepdish.controlplane#LogConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch Logs configuration.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.deepdish.controlplane#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The API name.</p>"
          }
        },
        "openIDConnectConfig": {
          "target": "com.amazonaws.deepdish.controlplane#OpenIDConnectConfig",
          "traits": {
            "smithy.api#documentation": "<p>The OpenID Connect configuration.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.deepdish.controlplane#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags.</p>"
          }
        },
        "uris": {
          "target": "com.amazonaws.deepdish.controlplane#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>The URIs.</p>"
          }
        },
        "userPoolConfig": {
          "target": "com.amazonaws.deepdish.controlplane#UserPoolConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Cognito user pool configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a GraphQL API.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#GraphqlApis": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.deepdish.controlplane#GraphqlApi"
      }
    },
    "com.amazonaws.deepdish.controlplane#HttpDataSourceConfig": {
      "type": "structure",
      "members": {
        "authorizationConfig": {
          "target": "com.amazonaws.deepdish.controlplane#AuthorizationConfig",
          "traits": {
            "smithy.api#documentation": "<p>The authorization config in case the HTTP endpoint requires authorization.</p>"
          }
        },
        "endpoint": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP URL endpoint. You can either specify the domain name or IP, and port combination, and the URL scheme must be HTTP or HTTPS. If the port is not specified, AWS AppSync uses the default port 80 for the HTTP endpoint and port 443 for HTTPS endpoints.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an HTTP data source configuration.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#InternalFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.deepdish.controlplane#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.deepdish.controlplane#LambdaConflictHandlerConfig": {
      "type": "structure",
      "members": {
        "lambdaConflictHandlerArn": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The Arn for the Lambda function to use as the Conflict Handler.</p>"
          }
        }
      }
    },
    "com.amazonaws.deepdish.controlplane#LambdaDataSourceConfig": {
      "type": "structure",
      "members": {
        "lambdaFunctionArn": {
          "target": "com.amazonaws.deepdish.controlplane#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the Lambda function.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an AWS Lambda data source configuration.</p>"
      }
    },
    "com.amazonaws.deepdish.controlplane#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.deepdish.controlplane#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request exceeded a limit. Try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.deepdish.controlplane#ListApiKeys": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.deepdish.controlplane#ListApiKeysRequest"
      },
      "output": {
        "target": "com.amazonaws.deepdish.controlplane#ListApiKeysResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.deepdish.controlplane#BadRequestException"
        },
        {
          "target": "com.amazonaws.deepdish.controlplane#InternalFailureException"
        },
        {
[...]
