{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.athena.webservice#AmazonAthena": {
      "type": "service",
      "version": "2017-05-18",
      "operations": [
        {
          "target": "com.amazonaws.athena.webservice#BatchGetNamedQuery"
        },
        {
          "target": "com.amazonaws.athena.webservice#BatchGetQueryExecution"
        },
        {
          "target": "com.amazonaws.athena.webservice#CreateNamedQuery"
        },
        {
          "target": "com.amazonaws.athena.webservice#CreateWorkGroup"
        },
        {
          "target": "com.amazonaws.athena.webservice#DeleteNamedQuery"
        },
        {
          "target": "com.amazonaws.athena.webservice#DeleteWorkGroup"
        },
        {
          "target": "com.amazonaws.athena.webservice#GetNamedQuery"
        },
        {
          "target": "com.amazonaws.athena.webservice#GetQueryExecution"
        },
        {
          "target": "com.amazonaws.athena.webservice#GetQueryResults"
        },
        {
          "target": "com.amazonaws.athena.webservice#GetWorkGroup"
        },
        {
          "target": "com.amazonaws.athena.webservice#ListNamedQueries"
        },
        {
          "target": "com.amazonaws.athena.webservice#ListQueryExecutions"
        },
        {
          "target": "com.amazonaws.athena.webservice#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.athena.webservice#ListWorkGroups"
        },
        {
          "target": "com.amazonaws.athena.webservice#StartQueryExecution"
        },
        {
          "target": "com.amazonaws.athena.webservice#StopQueryExecution"
        },
        {
          "target": "com.amazonaws.athena.webservice#TagResource"
        },
        {
          "target": "com.amazonaws.athena.webservice#UntagResource"
        },
        {
          "target": "com.amazonaws.athena.webservice#UpdateWorkGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Athena",
          "arnNamespace": "athena",
          "cloudFormationName": "Athena",
          "cloudTrailEventSource": "webservice.athena.amazonaws.com"
        },
        "smithy.api#documentation": "<p>Amazon Athena is an interactive query service that lets you use standard SQL to analyze data directly in Amazon S3. You can point Athena at your data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay only for the queries you run. Athena scales automatically—executing queries in parallel—so results are fast, even with large datasets and complex queries. For more information, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/what-is.html\">What is Amazon Athena</a> in the <i>Amazon Athena User Guide</i>.</p>\n         <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the driver or later with the Amazon Athena API. Earlier version drivers do not support the API. For more information and to download the driver, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html\">Accessing Amazon Athena with JDBC</a>.</p>\n         <p>For code samples using the AWS SDK for Java, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Athena"
      }
    },
    "com.amazonaws.athena.webservice#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.athena.webservice#BatchGetNamedQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#BatchGetNamedQueryInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#BatchGetNamedQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of a single named query or a list of up to 50 queries, \n         which you provide as an array of query ID strings. Requires you to have access to the workgroup in which the queries were saved. Use <a>ListNamedQueriesInput</a> \n         to get the list of named query IDs in the specified workgroup. If information could not be retrieved for a submitted query ID, \n         information about the query ID submitted is listed under <a>UnprocessedNamedQueryId</a>. \n         Named queries differ from executed queries. Use <a>BatchGetQueryExecutionInput</a> \n         to get details about each unique query execution, and <a>ListQueryExecutionsInput</a> \n         to get a list of query execution IDs.</p>"
      }
    },
    "com.amazonaws.athena.webservice#BatchGetNamedQueryInput": {
      "type": "structure",
      "members": {
        "NamedQueryIds": {
          "target": "com.amazonaws.athena.webservice#NamedQueryIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of query IDs.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#BatchGetNamedQueryOutput": {
      "type": "structure",
      "members": {
        "NamedQueries": {
          "target": "com.amazonaws.athena.webservice#NamedQueryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the named query IDs submitted.</p>"
          }
        },
        "UnprocessedNamedQueryIds": {
          "target": "com.amazonaws.athena.webservice#UnprocessedNamedQueryIdList",
          "traits": {
            "smithy.api#documentation": "<p>Information about provided query IDs.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#BatchGetQueryExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#BatchGetQueryExecutionInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#BatchGetQueryExecutionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of a single query execution or a list of up to 50 query executions, \n        which you provide as an array of query execution ID strings. Requires you to have access to the workgroup in which the queries ran.\n        To get a list of query execution IDs, use <a>ListQueryExecutionsInput$WorkGroup</a>. \n        Query executions differ from named (saved) queries. Use <a>BatchGetNamedQueryInput</a> \n        to get details about named queries.</p>"
      }
    },
    "com.amazonaws.athena.webservice#BatchGetQueryExecutionInput": {
      "type": "structure",
      "members": {
        "QueryExecutionIds": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of query execution IDs.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#BatchGetQueryExecutionOutput": {
      "type": "structure",
      "members": {
        "QueryExecutions": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about a query execution.</p>"
          }
        },
        "UnprocessedQueryExecutionIds": {
          "target": "com.amazonaws.athena.webservice#UnprocessedQueryExecutionIdList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query executions that failed to run.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.athena.webservice#BoxedBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.athena.webservice#BytesScannedCutoffValue": {
      "type": "long",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 10000000
        }
      }
    },
    "com.amazonaws.athena.webservice#ColumnInfo": {
      "type": "structure",
      "members": {
        "CaseSensitive": {
          "target": "com.amazonaws.athena.webservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether values in the column are case-sensitive.</p>"
          }
        },
        "CatalogName": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The catalog to which the query results belong.</p>"
          }
        },
        "Label": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A column label.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": true
          }
        },
        "Nullable": {
          "target": "com.amazonaws.athena.webservice#ColumnNullable",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the column's nullable status.</p>"
          }
        },
        "Precision": {
          "target": "com.amazonaws.athena.webservice#Integer",
          "traits": {
            "smithy.api#documentation": "<p>For <code>DECIMAL</code> data types, specifies the total number of digits, up to 38. For performance reasons, we recommend up to 18 digits.</p>"
          }
        },
        "Scale": {
          "target": "com.amazonaws.athena.webservice#Integer",
          "traits": {
            "smithy.api#documentation": "<p>For <code>DECIMAL</code> data types, specifies the total number of digits in the fractional part of the value. Defaults to 0.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The schema name (database name) to which the query results belong.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The table name for the query results.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the columns in a query execution result.</p>"
      }
    },
    "com.amazonaws.athena.webservice#ColumnInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#ColumnInfo"
      }
    },
    "com.amazonaws.athena.webservice#ColumnNullable": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "NOT_NULL": {
            "name": "NOT_NULL"
          },
          "NULLABLE": {
            "name": "NULLABLE"
          },
          "UNKNOWN": {
            "name": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#CreateNamedQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#CreateNamedQueryInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#CreateNamedQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a named query in the specified workgroup. Requires that you have access to the workgroup.</p>\n         <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.athena.webservice#CreateNamedQueryInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.athena.webservice#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive string used to ensure the request to create the query is idempotent (executes only once). If another <code>CreateNamedQuery</code> request is received, the same response is returned and another query is not created. If a parameter has changed, for example, the <code>QueryString</code>, an error is returned.</p>\n         <important>\n            <p>This token is listed as not required because AWS SDKs (for example the AWS SDK for Java) auto-generate the token for users. If you are not using the AWS SDK or the AWS CLI, you must provide this token or the action will fail.</p>\n         </important>",
            "smithy.api#idempotencyToken": true
          }
        },
        "Database": {
          "target": "com.amazonaws.athena.webservice#DatabaseString",
          "traits": {
            "smithy.api#documentation": "<p>The database to which the query belongs.</p>",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.athena.webservice#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The query description.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.athena.webservice#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The query name.</p>",
            "smithy.api#required": true
          }
        },
        "QueryString": {
          "target": "com.amazonaws.athena.webservice#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The contents of the query with all query statements.</p>",
            "smithy.api#required": true
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup in which the named query is being created.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#CreateNamedQueryOutput": {
      "type": "structure",
      "members": {
        "NamedQueryId": {
          "target": "com.amazonaws.athena.webservice#NamedQueryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#CreateWorkGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#CreateWorkGroupInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#CreateWorkGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a workgroup with the specified name.</p>"
      }
    },
    "com.amazonaws.athena.webservice#CreateWorkGroupInput": {
      "type": "structure",
      "members": {
        "Configuration": {
          "target": "com.amazonaws.athena.webservice#WorkGroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the workgroup, which includes the location in Amazon S3 \n         where query results are stored, the encryption configuration, if any, used for encrypting query results, \n         whether the Amazon CloudWatch Metrics are enabled for the workgroup,  \n         the limit for the amount of bytes scanned (cutoff) per query, if it is specified, \n         and whether workgroup's settings (specified with EnforceWorkGroupConfiguration) in the WorkGroupConfiguration override client-side settings. \n         See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.athena.webservice#WorkGroupDescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup description.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup name.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.athena.webservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags, separated by commas, that you want to attach to the workgroup as you create it.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#CreateWorkGroupOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.athena.webservice#DatabaseString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.athena.webservice#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.athena.webservice#Datum": {
      "type": "structure",
      "members": {
        "VarCharValue": {
          "target": "com.amazonaws.athena.webservice#datumString",
          "traits": {
            "smithy.api#documentation": "<p>The value of the datum.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A piece of data (a field in the table).</p>"
      }
    },
    "com.amazonaws.athena.webservice#DeleteNamedQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#DeleteNamedQueryInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#DeleteNamedQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the named query if you have access to the workgroup in which the query was saved.</p>\n         <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.athena.webservice#DeleteNamedQueryInput": {
      "type": "structure",
      "members": {
        "NamedQueryId": {
          "target": "com.amazonaws.athena.webservice#NamedQueryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query to delete.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#DeleteNamedQueryOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.athena.webservice#DeleteWorkGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#DeleteWorkGroupInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#DeleteWorkGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the workgroup with the specified name. The primary workgroup cannot be deleted.</p>",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.athena.webservice#DeleteWorkGroupInput": {
      "type": "structure",
      "members": {
        "RecursiveDeleteOption": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>The option to delete the workgroup and its contents even if the workgroup contains any named queries.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the workgroup to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#DeleteWorkGroupOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.athena.webservice#DescriptionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.athena.webservice#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "EncryptionOption": {
          "target": "com.amazonaws.athena.webservice#EncryptionOption",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Amazon S3 server-side encryption with Amazon S3-managed keys\n            (<code>SSE-S3</code>), server-side encryption with KMS-managed keys\n            (<code>SSE-KMS</code>), or client-side encryption with KMS-managed keys (CSE-KMS) is\n         used.</p> \n         <p>If a query runs in a workgroup and the workgroup overrides client-side settings, \n         then the workgroup's setting for encryption is used. It specifies \n         whether query results must be encrypted, for all queries that run in this workgroup. </p>",
            "smithy.api#required": true
          }
        },
        "KmsKey": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>For <code>SSE-KMS</code> and <code>CSE-KMS</code>, this is the KMS key ARN or\n         ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If query results are encrypted in Amazon S3, indicates the encryption\n         option used (for example, <code>SSE-KMS</code> or <code>CSE-KMS</code>) and key information.</p>"
      }
    },
    "com.amazonaws.athena.webservice#EncryptionOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SSE_S3": {
            "name": "SSE_S3"
          },
          "SSE_KMS": {
            "name": "SSE_KMS"
          },
          "CSE_KMS": {
            "name": "CSE_KMS"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The error code returned when the query execution failed to process, or when the processing request for the named query failed.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.athena.webservice#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.athena.webservice#GetNamedQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#GetNamedQueryInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#GetNamedQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a single query. Requires that you have access to the workgroup in which the query was saved.</p>"
      }
    },
    "com.amazonaws.athena.webservice#GetNamedQueryInput": {
      "type": "structure",
      "members": {
        "NamedQueryId": {
          "target": "com.amazonaws.athena.webservice#NamedQueryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query. Use <a>ListNamedQueries</a> to get query IDs.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#GetNamedQueryOutput": {
      "type": "structure",
      "members": {
        "NamedQuery": {
          "target": "com.amazonaws.athena.webservice#NamedQuery",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#GetQueryExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#GetQueryExecutionInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#GetQueryExecutionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a single execution of a query if you have access to the workgroup in which the query ran. Each time a query executes, information about the query execution is saved with a unique ID.</p>"
      }
    },
    "com.amazonaws.athena.webservice#GetQueryExecutionInput": {
      "type": "structure",
      "members": {
        "QueryExecutionId": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query execution.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#GetQueryExecutionOutput": {
      "type": "structure",
      "members": {
        "QueryExecution": {
          "target": "com.amazonaws.athena.webservice#QueryExecution",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query execution.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#GetQueryResults": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#GetQueryResultsInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#GetQueryResultsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Streams the results of a single query execution specified by <code>QueryExecutionId</code> from the Athena query results location in Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Query Results</a> in the <i>Amazon Athena User Guide</i>. This request does not execute the query but returns results. Use <a>StartQueryExecution</a> to run a query.</p>\n         <p>To stream query results successfully, the IAM principal with permission to call <code>GetQueryResults</code> also must have permissions to the Amazon S3 <code>GetObject</code> action for the Athena query results location.</p>\n         <important>\n            <p>IAM principals with permission to the Amazon S3 <code>GetObject</code> action for the query results location are able to retrieve query results from Amazon S3 even if permission to the <code>GetQueryResults</code> action is denied. To restrict user or role access, ensure that Amazon S3 permissions to the Athena query location are denied.</p>\n         </important>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena.webservice#GetQueryResultsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.athena.webservice#MaxQueryResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results (rows) to return in this request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies where to start pagination if a previous request was truncated.</p>"
          }
        },
        "QueryExecutionId": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query execution.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#GetQueryResultsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token to be used by the next request if this request is truncated.</p>"
          }
        },
        "ResultSet": {
          "target": "com.amazonaws.athena.webservice#ResultSet",
          "traits": {
            "smithy.api#documentation": "<p>The results of the query execution.</p>"
          }
        },
        "UpdateCount": {
          "target": "com.amazonaws.athena.webservice#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of rows inserted with a CREATE TABLE AS SELECT statement.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#GetWorkGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#GetWorkGroupInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#GetWorkGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the workgroup with the specified name.</p>"
      }
    },
    "com.amazonaws.athena.webservice#GetWorkGroupInput": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#GetWorkGroupOutput": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroup",
          "traits": {
            "smithy.api#documentation": "<p>Information about the workgroup.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 128
        }
      }
    },
    "com.amazonaws.athena.webservice#Integer": {
      "type": "integer"
    },
    "com.amazonaws.athena.webservice#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.athena.webservice#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.athena.webservice#InvalidRequestException": {
      "type": "structure",
      "members": {
        "AthenaErrorCode": {
          "target": "com.amazonaws.athena.webservice#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.athena.webservice#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.athena.webservice#ListNamedQueries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#ListNamedQueriesInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#ListNamedQueriesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of available query IDs only for queries saved in the specified workgroup. Requires that you have access to the workgroup.</p>\n         <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena.webservice#ListNamedQueriesInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.athena.webservice#MaxNamedQueriesCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of queries to return in this request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies where to start pagination if a previous request was truncated.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup from which the named queries are being returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#ListNamedQueriesOutput": {
      "type": "structure",
      "members": {
        "NamedQueryIds": {
          "target": "com.amazonaws.athena.webservice#NamedQueryIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of unique query IDs.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token to be used by the next request if this request is truncated.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#ListQueryExecutions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#ListQueryExecutionsInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#ListQueryExecutionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of available query execution IDs for the queries in the specified workgroup. Requires you to have access to the workgroup in which the queries ran.</p>\n         <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena.webservice#ListQueryExecutionsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.athena.webservice#MaxQueryExecutionsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of query executions to return in this request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies where to start pagination if a previous request was truncated.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup from which queries are being returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#ListQueryExecutionsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token to be used by the next request if this request is truncated.</p>"
          }
        },
        "QueryExecutionIds": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionIdList",
          "traits": {
            "smithy.api#documentation": "<p>The unique IDs of each query execution as an array of strings.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena.webservice#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags associated with this workgroup.</p>"
      }
    },
    "com.amazonaws.athena.webservice#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.athena.webservice#MaxTagsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned per request that lists the tags for the workgroup resource.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results, or null if there are no additional results for this request, where the request lists the tags for the workgroup resource with the specified ARN.</p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.athena.webservice#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Lists the tags for the workgroup resource with the specified ARN.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token to be used by the next request if this request is truncated.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.athena.webservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags associated with this workgroup.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#ListWorkGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#ListWorkGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#ListWorkGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists available workgroups for the account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena.webservice#ListWorkGroupsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.athena.webservice#MaxWorkGroupsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of workgroups to return in this request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token to be used by the next request if this request is truncated.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#ListWorkGroupsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.athena.webservice#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token to be used by the next request if this request is truncated.</p>"
          }
        },
        "WorkGroups": {
          "target": "com.amazonaws.athena.webservice#WorkGroupsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of workgroups, including their names, descriptions, creation times, and states.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#Long": {
      "type": "long",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.athena.webservice#MaxNamedQueriesCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena.webservice#MaxQueryExecutionsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena.webservice#MaxQueryResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.athena.webservice#MaxTagsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 75
        }
      }
    },
    "com.amazonaws.athena.webservice#MaxWorkGroupsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena.webservice#NameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.athena.webservice#NamedQuery": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.athena.webservice#DatabaseString",
          "traits": {
            "smithy.api#documentation": "<p>The database to which the query belongs.</p>",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.athena.webservice#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The query description.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.athena.webservice#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The query name.</p>",
            "smithy.api#required": true
          }
        },
        "NamedQueryId": {
          "target": "com.amazonaws.athena.webservice#NamedQueryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the query.</p>"
          }
        },
        "QueryString": {
          "target": "com.amazonaws.athena.webservice#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL query statements that comprise the query.</p>",
            "smithy.api#required": true
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup that contains the named query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A query, where <code>QueryString</code> is the list of SQL query statements that comprise the query.</p>"
      }
    },
    "com.amazonaws.athena.webservice#NamedQueryId": {
      "type": "string"
    },
    "com.amazonaws.athena.webservice#NamedQueryIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#NamedQueryId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena.webservice#NamedQueryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#NamedQuery"
      }
    },
    "com.amazonaws.athena.webservice#QueryExecution": {
      "type": "structure",
      "members": {
        "Query": {
          "target": "com.amazonaws.athena.webservice#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL query statements which the query execution ran.</p>"
          }
        },
        "QueryExecutionContext": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionContext",
          "traits": {
            "smithy.api#documentation": "<p>The database in which the query execution occurred.</p>"
          }
        },
        "QueryExecutionId": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for each query execution.</p>"
          }
        },
        "ResultConfiguration": {
          "target": "com.amazonaws.athena.webservice#ResultConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 where query results were stored and the encryption option,\n         if any, used for query results. These are known as \"client-side settings\". \n         If workgroup settings override client-side settings, then the query uses \n         the location for the query results and the encryption configuration that \n         are specified for the workgroup.</p>"
          }
        },
        "StatementType": {
          "target": "com.amazonaws.athena.webservice#StatementType",
          "traits": {
            "smithy.api#documentation": "<p>The type of query statement that was run. <code>DDL</code> indicates DDL query\n         statements. <code>DML</code> indicates DML (Data Manipulation Language) query statements,\n         such as <code>CREATE TABLE AS SELECT</code>. <code>UTILITY</code>\n         indicates query statements other than DDL and DML, such as <code>SHOW CREATE TABLE</code>,\n         or <code>DESCRIBE <table></code>.</p>"
          }
        },
        "Statistics": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The amount of data scanned during the query execution and the amount of time that it\n         took to execute, and the type of statement that was run.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The completion date, current state, submission time, and state change reason (if applicable) for the query execution.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup in which the query ran.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a single instance of a query execution.</p>"
      }
    },
    "com.amazonaws.athena.webservice#QueryExecutionContext": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.athena.webservice#DatabaseString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The database in which the query execution occurs.</p>"
      }
    },
    "com.amazonaws.athena.webservice#QueryExecutionId": {
      "type": "string"
    },
    "com.amazonaws.athena.webservice#QueryExecutionIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#QueryExecutionId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena.webservice#QueryExecutionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#QueryExecution"
      }
    },
    "com.amazonaws.athena.webservice#QueryExecutionState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "QUEUED": {
            "name": "QUEUED"
          },
          "RUNNING": {
            "name": "RUNNING"
          },
          "SUCCEEDED": {
            "name": "SUCCEEDED"
          },
          "FAILED": {
            "name": "FAILED"
          },
          "CANCELLED": {
            "name": "CANCELLED"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#QueryExecutionStatistics": {
      "type": "structure",
      "members": {
        "DataManifestLocation": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The location and file name of a data manifest file. The manifest file is saved to the Athena query results location in Amazon S3. The manifest file tracks files that the query wrote to Amazon S3. If the query fails, the manifest file also tracks files that the query intended to write. The manifest is useful for identifying orphaned files resulting from a failed query. For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Working with Query Results, Output Files, and Query History</a> in the <i>Amazon Athena User Guide</i>.</p>"
          }
        },
        "DataScannedInBytes": {
          "target": "com.amazonaws.athena.webservice#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of bytes in the data that was queried.</p>"
          }
        },
        "EngineExecutionTimeInMillis": {
          "target": "com.amazonaws.athena.webservice#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of milliseconds that the query took to execute.</p>"
          }
        },
        "QueryPlanningTimeInMillis": {
          "target": "com.amazonaws.athena.webservice#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of milliseconds that Athena took to plan the query processing flow. This includes the time spent retrieving table partitions from the data source. Note that because the query engine performs the query planning, query planning time is a subset of engine processing time.</p>"
          }
        },
        "QueryQueueTimeInMillis": {
          "target": "com.amazonaws.athena.webservice#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of milliseconds that the query was in your query queue waiting for resources. Note that if transient errors occur, Athena might automatically add the query back to the queue.</p>"
          }
        },
        "ServiceProcessingTimeInMillis": {
          "target": "com.amazonaws.athena.webservice#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of milliseconds that Athena took to finalize and publish the query results after the query engine finished running the query.</p>"
          }
        },
        "TotalExecutionTimeInMillis": {
          "target": "com.amazonaws.athena.webservice#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of milliseconds that Athena took to run the query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of data scanned during the query execution and the amount of time that it\n         took to execute, and the type of statement that was run.</p>"
      }
    },
    "com.amazonaws.athena.webservice#QueryExecutionStatus": {
      "type": "structure",
      "members": {
        "CompletionDateTime": {
          "target": "com.amazonaws.athena.webservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the query completed.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of query execution. <code>QUEUED</code> state is listed but is not used by\n         Athena and is reserved for future use. <code>RUNNING</code> indicates that the query has\n         been submitted to the service, and Athena will execute the query as soon as resources are\n         available. <code>SUCCEEDED</code> indicates that the query completed without errors.\n            <code>FAILED</code> indicates that the query experienced an error and did not complete\n            processing. <code>CANCELLED</code> indicates that a user input interrupted query execution. </p>"
          }
        },
        "StateChangeReason": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Further detail about the status of the query.</p>"
          }
        },
        "SubmissionDateTime": {
          "target": "com.amazonaws.athena.webservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the query was submitted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The completion date, current state, submission time, and state change reason (if applicable) for the query execution.</p>"
      }
    },
    "com.amazonaws.athena.webservice#QueryString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 262144
        }
      }
    },
    "com.amazonaws.athena.webservice#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.athena.webservice#ErrorMessage"
        },
        "ResourceName": {
          "target": "com.amazonaws.athena.webservice#AmazonResourceName"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource, such as a workgroup, was not found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.athena.webservice#ResultConfiguration": {
      "type": "structure",
      "members": {
        "EncryptionConfiguration": {
          "target": "com.amazonaws.athena.webservice#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>If query results are encrypted in Amazon S3, indicates the encryption option used (for\n         example, <code>SSE-KMS</code> or <code>CSE-KMS</code>) and key information. This is a client-side setting. \n         If workgroup settings override client-side settings, then the query uses the encryption configuration \n         that is specified for the workgroup, and also uses the location for storing query results specified in the workgroup. \n         See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a> and \n         <a href=\"https://docs.aws.amazon.com/athena/latest/ug/workgroups-settings-override.html\">Workgroup Settings Override Client-Side Settings</a>.</p>"
          }
        },
        "OutputLocation": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 where your query results are stored, such as <code>s3://path/to/query/bucket/</code>. \n         To run the query, you must specify the query results location\n         using one of the ways: either for individual queries using either this setting (client-side), or in the workgroup, using \n         <a>WorkGroupConfiguration</a>.\n          If none of them is set, Athena issues an error that no output location is provided. For more information, see \n         <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Query Results</a>. If workgroup settings override client-side settings, \n         then the query uses the settings specified for the workgroup. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The location in Amazon S3 where query results are stored and the encryption option,\n         if any, used for query results. These are known as \"client-side settings\". \n         If workgroup settings override client-side settings, then the query uses \n         the workgroup settings.</p>"
      }
    },
    "com.amazonaws.athena.webservice#ResultConfigurationUpdates": {
      "type": "structure",
      "members": {
        "EncryptionConfiguration": {
          "target": "com.amazonaws.athena.webservice#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the query results.</p>"
          }
        },
        "OutputLocation": {
          "target": "com.amazonaws.athena.webservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 where your query results are stored, such as <code>s3://path/to/query/bucket/</code>. \n      For more information, see \n         <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Query Results</a> If workgroup settings override client-side settings, then the query uses \n         the location for the query results and the encryption configuration that \n         are specified for the workgroup. The \"workgroup settings override\" is specified in EnforceWorkGroupConfiguration (true/false) in the WorkGroupConfiguration. \n         See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>"
          }
        },
        "RemoveEncryptionConfiguration": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If set to \"true\", indicates that the previously-specified encryption configuration (also known as the client-side setting) for queries in this workgroup should be ignored and set to null.\n         If set to \"false\" or not set, and a value is present in the EncryptionConfiguration in ResultConfigurationUpdates (the client-side setting), the EncryptionConfiguration in the workgroup's ResultConfiguration will be updated with the new value. \n         For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/workgroups-settings-override.html\">Workgroup Settings Override Client-Side Settings</a>.</p>"
          }
        },
        "RemoveOutputLocation": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If set to \"true\", indicates that the previously-specified query results location (also known as a client-side setting) for queries in this workgroup should be ignored and set to null.\n         If set to \"false\" or not set, and a value is present in the OutputLocation in ResultConfigurationUpdates (the client-side setting), the OutputLocation in the workgroup's ResultConfiguration will be updated with the new value. \n         For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/workgroups-settings-override.html\">Workgroup Settings Override Client-Side Settings</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The information about the updates in the query results, such as output location and encryption configuration for the query results.</p>"
      }
    },
    "com.amazonaws.athena.webservice#ResultSet": {
      "type": "structure",
      "members": {
        "ResultSetMetadata": {
          "target": "com.amazonaws.athena.webservice#ResultSetMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that describes the column structure and data types of a table of query results.</p>"
          }
        },
        "Rows": {
          "target": "com.amazonaws.athena.webservice#RowList",
          "traits": {
            "smithy.api#documentation": "<p>The rows in the table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata and rows that comprise a query result set. The metadata describes the column structure and data types.</p>"
      }
    },
    "com.amazonaws.athena.webservice#ResultSetMetadata": {
      "type": "structure",
      "members": {
        "ColumnInfo": {
          "target": "com.amazonaws.athena.webservice#ColumnInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the columns returned in a query result metadata.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata that describes the column structure and data types of a table of query\n         results. </p>"
      }
    },
    "com.amazonaws.athena.webservice#Row": {
      "type": "structure",
      "members": {
        "Data": {
          "target": "com.amazonaws.athena.webservice#datumList",
          "traits": {
            "smithy.api#documentation": "<p>The data that populates a row in a query result table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The rows that comprise a query result table.</p>"
      }
    },
    "com.amazonaws.athena.webservice#RowList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#Row"
      }
    },
    "com.amazonaws.athena.webservice#StartQueryExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#StartQueryExecutionInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#StartQueryExecutionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena.webservice#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Runs the SQL query statements contained in the <code>Query</code>. Requires you to have access to the workgroup in which the query ran.</p>\n         <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.athena.webservice#StartQueryExecutionInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.athena.webservice#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive string used to ensure the request to create the query is idempotent (executes only once). If another <code>StartQueryExecution</code> request is received, the same response is returned and another query is not created. If a parameter has changed, for example, the <code>QueryString</code>, an error is returned.</p>\n         <important>\n            <p>This token is listed as not required because AWS SDKs (for example the AWS SDK for Java) auto-generate the token for users. If you are not using the AWS SDK or the AWS CLI, you must provide this token or the action will fail.</p>\n         </important>",
            "smithy.api#idempotencyToken": true
          }
        },
        "QueryExecutionContext": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionContext",
          "traits": {
            "smithy.api#documentation": "<p>The database within which the query executes.</p>"
          }
        },
        "QueryString": {
          "target": "com.amazonaws.athena.webservice#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL query statements to be executed.</p>",
            "smithy.api#required": true
          }
        },
        "ResultConfiguration": {
          "target": "com.amazonaws.athena.webservice#ResultConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies information about where and how to save the results of the query execution. If the query runs in a workgroup, then workgroup's settings may override query settings. \n         This affects the query results location. The workgroup settings override is specified in EnforceWorkGroupConfiguration (true/false) in the WorkGroupConfiguration. \n         See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup in which the query is being started.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#StartQueryExecutionOutput": {
      "type": "structure",
      "members": {
        "QueryExecutionId": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query that ran as a result of this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#StatementType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DDL": {
            "name": "DDL"
          },
          "DML": {
            "name": "DML"
          },
          "UTILITY": {
            "name": "UTILITY"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#StopQueryExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#StopQueryExecutionInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#StopQueryExecutionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops a query execution. Requires you to have access to the workgroup in which the query ran.</p>\n         <p>For code samples using the AWS SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.athena.webservice#StopQueryExecutionInput": {
      "type": "structure",
      "members": {
        "QueryExecutionId": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query execution to stop.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#StopQueryExecutionOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.athena.webservice#String": {
      "type": "string"
    },
    "com.amazonaws.athena.webservice#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.athena.webservice#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>A tag key. The tag key length is from 1 to 128 Unicode characters in UTF-8. You can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. Tag keys are case-sensitive and must be unique per resource.\n      </p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.athena.webservice#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>A tag value. The tag value length is from 0 to 256 Unicode characters in UTF-8. You can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. \n         Tag values are case-sensitive.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A tag that you can add to a resource. A tag is a label that you assign to an AWS Athena resource (a workgroup). Each tag consists of a key and an optional value, both of which you define. \n         Tags enable you to categorize workgroups in Athena, for example, by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter workgroups in your account.\n         The maximum tag key length is 128 Unicode characters in UTF-8. The maximum tag value length is 256 Unicode characters in UTF-8. You can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. \n         Tag keys and values are case-sensitive. Tag keys must be unique per resource.\n      </p>"
      }
    },
    "com.amazonaws.athena.webservice#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.athena.webservice#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#TagKey"
      }
    },
    "com.amazonaws.athena.webservice#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#Tag"
      }
    },
    "com.amazonaws.athena.webservice#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#TagResourceInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#TagResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena.webservice#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to the resource, such as a workgroup. A tag is a label that you assign to an AWS Athena resource (a workgroup). Each tag consists of a key and an optional value, both of which you define. \n         Tags enable you to categorize resources (workgroups) in Athena, for example, by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter workgroups in your account.\n         For best practices, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS Tagging Strategies</a>. The key length is from 1 (minimum) to 128 (maximum) Unicode characters in UTF-8. The tag value length is from 0 (minimum) to 256 (maximum) Unicode characters\n         in UTF-8. You can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. \n         Tag keys and values are case-sensitive. Tag keys must be unique per resource. If you specify more than one, separate them by commas.</p>"
      }
    },
    "com.amazonaws.athena.webservice#TagResourceInput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.athena.webservice#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Requests that one or more tags are added to the resource (such as a workgroup) for the specified ARN.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.athena.webservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags, separated by commas, to be added to the resource, such as a workgroup.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#TagResourceOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.athena.webservice#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.athena.webservice#ThrottleReason": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The reason for the query throttling, for example, when it exceeds the concurrent query limit.</p>",
        "smithy.api#enum": {
          "CONCURRENT_QUERY_LIMIT_EXCEEDED": {
            "name": "CONCURRENT_QUERY_LIMIT_EXCEEDED"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#Token": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.athena.webservice#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.athena.webservice#ErrorMessage"
        },
        "Reason": {
          "target": "com.amazonaws.athena.webservice#ThrottleReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the request was throttled.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.athena.webservice#UnprocessedNamedQueryId": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.athena.webservice#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code returned when the processing request for the named query failed, if applicable.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.athena.webservice#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message returned when the processing request for the named query failed, if applicable.</p>"
          }
        },
        "NamedQueryId": {
          "target": "com.amazonaws.athena.webservice#NamedQueryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the named query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a named query ID that could not be processed.</p>"
      }
    },
    "com.amazonaws.athena.webservice#UnprocessedNamedQueryIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#UnprocessedNamedQueryId"
      }
    },
    "com.amazonaws.athena.webservice#UnprocessedQueryExecutionId": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.athena.webservice#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code returned when the query execution failed to process, if applicable.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.athena.webservice#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message returned when the query execution failed to process, if applicable.</p>"
          }
        },
        "QueryExecutionId": {
          "target": "com.amazonaws.athena.webservice#QueryExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the query execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a query execution that failed to process.</p>"
      }
    },
    "com.amazonaws.athena.webservice#UnprocessedQueryExecutionIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#UnprocessedQueryExecutionId"
      }
    },
    "com.amazonaws.athena.webservice#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#UntagResourceInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#UntagResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena.webservice#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more tags from the workgroup resource. Takes as an input a list of TagKey Strings separated by commas, and removes their tags at the same time.</p>"
      }
    },
    "com.amazonaws.athena.webservice#UntagResourceInput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.athena.webservice#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Removes one or more tags from the workgroup resource for the specified ARN.</p>",
            "smithy.api#required": true
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.athena.webservice#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>Removes the tags associated with one or more tag keys from the workgroup resource.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#UntagResourceOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.athena.webservice#UpdateWorkGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena.webservice#UpdateWorkGroupInput"
      },
      "output": {
        "target": "com.amazonaws.athena.webservice#UpdateWorkGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena.webservice#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena.webservice#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the workgroup with the specified name. The workgroup's name cannot be changed.</p>"
      }
    },
    "com.amazonaws.athena.webservice#UpdateWorkGroupInput": {
      "type": "structure",
      "members": {
        "ConfigurationUpdates": {
          "target": "com.amazonaws.athena.webservice#WorkGroupConfigurationUpdates",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup configuration that will be updated for the given workgroup.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.athena.webservice#WorkGroupDescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup description.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.athena.webservice#WorkGroupState",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup state that will be updated for the given workgroup.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The specified workgroup that will be updated.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#UpdateWorkGroupOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.athena.webservice#WorkGroup": {
      "type": "structure",
      "members": {
        "Configuration": {
          "target": "com.amazonaws.athena.webservice#WorkGroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the workgroup, which includes the location in Amazon S3 \n         where query results are stored, the encryption configuration, if any, used for query results; \n         whether the Amazon CloudWatch Metrics are enabled for the workgroup; \n         whether workgroup settings override client-side settings;\n         and the data usage limits for the amount of data scanned per query or per workgroup. The workgroup settings override is specified in EnforceWorkGroupConfiguration (true/false) in the WorkGroupConfiguration. \n         See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.athena.webservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the workgroup was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.athena.webservice#WorkGroupDescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup description.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup name.</p>",
            "smithy.api#required": true
          }
        },
        "State": {
          "target": "com.amazonaws.athena.webservice#WorkGroupState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the workgroup: ENABLED or DISABLED.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A workgroup, which contains a name, description, creation time, state, and other configuration, \n         listed under <a>WorkGroup$Configuration</a>. Each workgroup enables you to \n         isolate queries for you or your group of users from other queries in the same account, \n         to configure the query results location and the encryption configuration (known as workgroup settings), \n         to enable sending query metrics to Amazon CloudWatch, \n         and to establish per-query data usage control limits for all queries in a workgroup. The workgroup settings override is specified in EnforceWorkGroupConfiguration (true/false) in the WorkGroupConfiguration. \n         See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>"
      }
    },
    "com.amazonaws.athena.webservice#WorkGroupConfiguration": {
      "type": "structure",
      "members": {
        "BytesScannedCutoffPerQuery": {
          "target": "com.amazonaws.athena.webservice#BytesScannedCutoffValue",
          "traits": {
            "smithy.api#documentation": "<p>The upper data usage limit (cutoff) for the amount of bytes a single query in a workgroup is allowed to scan.</p>"
          }
        },
        "EnforceWorkGroupConfiguration": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If set to \"true\", the settings for the workgroup override client-side settings. If set to \"false\", client-side settings are used. \n         For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/workgroups-settings-override.html\">Workgroup Settings Override Client-Side Settings</a>.</p>"
          }
        },
        "PublishCloudWatchMetricsEnabled": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the Amazon CloudWatch metrics are enabled for the workgroup.</p>"
          }
        },
        "RequesterPaysEnabled": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, allows members assigned to a workgroup to reference Amazon S3 Requester Pays buckets in queries. If set to <code>false</code>, workgroup members cannot query data from Requester Pays buckets, and queries that retrieve data from Requester Pays buckets cause an error. The default is <code>false</code>. For more information about Requester Pays buckets, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/RequesterPaysBuckets.html\">Requester Pays Buckets</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>"
          }
        },
        "ResultConfiguration": {
          "target": "com.amazonaws.athena.webservice#ResultConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the workgroup, which includes the location in Amazon S3 \n         where query results are stored and the encryption option, if any, used for query results. \n         To run the query, you must specify the query results location\n         using one of the ways: either in the workgroup using this setting, or for individual queries (client-side), using \n         <a>ResultConfiguration$OutputLocation</a>.\n         If none of them is set, Athena issues an error that no output location is provided. For more information, see \n         <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Query Results</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of the workgroup, which includes the location in Amazon S3 \n         where query results are stored, the encryption option, if any, used for query results, \n         whether the Amazon CloudWatch Metrics are enabled for the workgroup and whether workgroup settings override query settings, and \n         the data usage limits for the amount of data scanned per query or per workgroup. The workgroup settings override is specified in EnforceWorkGroupConfiguration (true/false) in the WorkGroupConfiguration. \n         See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>. </p>"
      }
    },
    "com.amazonaws.athena.webservice#WorkGroupConfigurationUpdates": {
      "type": "structure",
      "members": {
        "BytesScannedCutoffPerQuery": {
          "target": "com.amazonaws.athena.webservice#BytesScannedCutoffValue",
          "traits": {
            "smithy.api#documentation": "<p>The upper limit (cutoff) for the amount of bytes a single query in a workgroup is allowed to scan.</p>"
          }
        },
        "EnforceWorkGroupConfiguration": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If set to \"true\", the settings for the workgroup override client-side settings. If set to \"false\" client-side settings are used. \n         For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/workgroups-settings-override.html\">Workgroup Settings Override Client-Side Settings</a>.</p>"
          }
        },
        "PublishCloudWatchMetricsEnabled": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether this workgroup enables publishing metrics to Amazon CloudWatch.</p>"
          }
        },
        "RemoveBytesScannedCutoffPerQuery": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the data usage control limit per query is removed. <a>WorkGroupConfiguration$BytesScannedCutoffPerQuery</a>\n         </p>"
          }
        },
        "RequesterPaysEnabled": {
          "target": "com.amazonaws.athena.webservice#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, allows members assigned to a workgroup to specify Amazon S3 Requester Pays buckets in queries. If set to <code>false</code>, workgroup members cannot query data from Requester Pays buckets, and queries that retrieve data from Requester Pays buckets cause an error. The default is <code>false</code>. For more information about Requester Pays buckets, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/RequesterPaysBuckets.html\">Requester Pays Buckets</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>"
          }
        },
        "ResultConfigurationUpdates": {
          "target": "com.amazonaws.athena.webservice#ResultConfigurationUpdates",
          "traits": {
            "smithy.api#documentation": "<p>The result configuration information about the queries in this workgroup that will be updated. \n         Includes the updated results location and an updated option for encrypting query results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration information that will be updated for this workgroup, which includes the \n         location in Amazon S3 \n         where query results are stored, the encryption option, if any, used for query results, \n         whether the Amazon CloudWatch Metrics are enabled for the workgroup, whether the workgroup settings override the client-side settings, and \n         the data usage limit for the amount of bytes scanned per query, if it is specified.</p>"
      }
    },
    "com.amazonaws.athena.webservice#WorkGroupDescriptionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.athena.webservice#WorkGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-zA-z0-9._-]{1,128}"
      }
    },
    "com.amazonaws.athena.webservice#WorkGroupState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.athena.webservice#WorkGroupSummary": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.athena.webservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup creation date and time.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.athena.webservice#WorkGroupDescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup description.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.athena.webservice#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.athena.webservice#WorkGroupState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the workgroup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary information for the workgroup, which includes its name, state, description, and the date and time \n         it was created.</p>"
      }
    },
    "com.amazonaws.athena.webservice#WorkGroupsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#WorkGroupSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena.webservice#datumList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena.webservice#Datum"
      }
    },
    "com.amazonaws.athena.webservice#datumString": {
      "type": "string"
    }
  }
}
