{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ucbuzzconsoleservice#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#Account": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#required": true
          }
        },
        "AccountType": {
          "target": "com.amazonaws.ucbuzzconsoleservice#AccountType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account type. For more information\n       about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the\n       <i>Amazon\n         Chime Administration Guide</i>.</p>"
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>",
            "smithy.api#required": true
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>"
          }
        },
        "DefaultLicense": {
          "target": "com.amazonaws.ucbuzzconsoleservice#License",
          "traits": {
            "smithy.api#documentation": "<p>The default license for the Amazon Chime account.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account name.</p>",
            "smithy.api#required": true
          }
        },
        "SigninDelegateGroups": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SigninDelegateGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The sign-in delegate groups associated with the account.</p>"
          }
        },
        "SupportedLicenses": {
          "target": "com.amazonaws.ucbuzzconsoleservice#LicenseList",
          "traits": {
            "smithy.api#documentation": "<p>Supported licenses for the Amazon Chime account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime account details. An AWS account can have multiple Amazon Chime accounts.</p>"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ucbuzzconsoleservice#Account"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": ".*\\S.*"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AccountSettings": {
      "type": "structure",
      "members": {
        "DisableRemoteControl": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Setting that stops or starts remote control of shared screens during meetings.</p>"
          }
        },
        "EnableDialOut": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Setting that allows meeting participants to choose the <b>Call me at a phone\n        number</b> option. For more information, see <a href=\"https://docs.aws.amazon.com/chime/latest/ug/chime-join-meeting.html\">Join a Meeting without the Amazon Chime App</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings related to the Amazon Chime account. This includes settings that start or\n      stop remote control of shared screens, or start or stop the dial-out option in the Amazon\n      Chime web application. For more information about these settings, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in\n      the <i>Amazon Chime Administration Guide</i>.</p>"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AccountType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Team": {
            "name": "Team"
          },
          "EnterpriseDirectory": {
            "name": "EnterpriseDirectory"
          },
          "EnterpriseLWA": {
            "name": "EnterpriseLWA"
          },
          "EnterpriseOIDC": {
            "name": "EnterpriseOIDC"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AlexaForBusinessMetadata": {
      "type": "structure",
      "members": {
        "AlexaForBusinessRoomArn": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the room resource.</p>"
          }
        },
        "IsAlexaForBusinessEnabled": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Starts or stops Alexa for Business.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Alexa for Business metadata associated with an Amazon Chime user, used to integrate Alexa for Business with a device.</p>"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumberWithUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumberWithUserRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumberWithUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a phone number with the specified Amazon Chime user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users/{UserId}?operation=associate-phone-number",
          "code": 200
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumberWithUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "E164PhoneNumber": {
          "target": "com.amazonaws.ucbuzzconsoleservice#E164PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number, in E.164 format.</p>",
            "smithy.api#required": true
          }
        },
        "UserId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The user ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumberWithUserResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors/{VoiceConnectorId}?operation=associate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnectorGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnectorGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connector-groups/{VoiceConnectorGroupId}?operation=associate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "E164PhoneNumbers": {
          "target": "com.amazonaws.ucbuzzconsoleservice#E164PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>"
          }
        },
        "ForceAssociate": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector Group and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.</p>"
          }
        },
        "VoiceConnectorGroupId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector group ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnectorGroupResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.ucbuzzconsoleservice#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "E164PhoneNumbers": {
          "target": "com.amazonaws.ucbuzzconsoleservice#E164PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>"
          }
        },
        "ForceAssociate": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.</p>"
          }
        },
        "VoiceConnectorId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociatePhoneNumbersWithVoiceConnectorResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.ucbuzzconsoleservice#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociateSigninDelegateGroupsWithAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#AssociateSigninDelegateGroupsWithAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#AssociateSigninDelegateGroupsWithAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified sign-in delegate groups with the specified Amazon Chime account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}?operation=associate-signin-delegate-groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociateSigninDelegateGroupsWithAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "SigninDelegateGroups": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SigninDelegateGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The sign-in delegate groups.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AssociateSigninDelegateGroupsWithAccountResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.ucbuzzconsoleservice#Attendee": {
      "type": "structure",
      "members": {
        "AttendeeId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>"
          }
        },
        "ExternalUserId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. Links the attendee to an identity managed by a builder application.</p>"
          }
        },
        "JoinToken": {
          "target": "com.amazonaws.ucbuzzconsoleservice#JoinTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The join token used by the Amazon Chime SDK attendee.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Chime SDK meeting attendee. Includes a unique <code>AttendeeId</code>\n      and <code>JoinToken</code>. The <code>JoinToken</code> allows a client to authenticate and join as the specified attendee. The <code>JoinToken</code> expires when the meeting ends or when <a>DeleteAttendee</a> is called. After that, the attendee is unable to join the meeting.</p>\n         <p>We recommend securely transferring each <code>JoinToken</code> from your server\n      application to the client so that no other client has access to the token except for the one authorized to represent the attendee.</p>"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#AttendeeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ucbuzzconsoleservice#Attendee"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchCreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchCreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchCreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates up to 100 new attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees?operation=batch-create",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchCreateAttendeeErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeError"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchCreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "Attendees": {
          "target": "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the attendees to create.</p>",
            "smithy.api#required": true
          }
        },
        "MeetingId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchCreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendees": {
          "target": "com.amazonaws.ucbuzzconsoleservice#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees IDs and join tokens.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.ucbuzzconsoleservice#BatchCreateAttendeeErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the attendees in the request, a list of the attendees is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchCreateRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchCreateRoomMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchCreateRoomMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds up to 50 members to a chat room. Members can be either users or bots. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}/memberships?operation=batch-create",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchCreateRoomMembershipRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MembershipItemList": {
          "target": "com.amazonaws.ucbuzzconsoleservice#MembershipItemList",
          "traits": {
            "smithy.api#documentation": "<p>The list of membership items.</p>",
            "smithy.api#required": true
          }
        },
        "RoomId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchCreateRoomMembershipResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.ucbuzzconsoleservice#MemberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the member IDs in the request, a list of the member IDs is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchDeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchDeletePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchDeletePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Moves phone numbers into the <b>Deletion queue</b>. Phone\n      numbers must be disassociated from any users or Amazon Chime Voice\n      Connectors before they can be deleted.</p> \n         <p>Phone numbers remain in the <b>Deletion queue</b> for 7 days\n      before they are deleted permanently.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchDeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberIds": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone number IDs.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchDeletePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.ucbuzzconsoleservice#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchSuspendUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchSuspendUserRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchSuspendUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon\n      Chime account. For more information\n      about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the\n      <i>Amazon\n        Chime Administration Guide</i>.</p> \n         <p>Users suspended from a <code>Team</code> account are disassociated from the account,\n      but they can continue to use Amazon Chime as free users. To remove the suspension from\n      suspended <code>Team</code> account users, invite them to the <code>Team</code> account again.\n      You can use the <a>InviteUsers</a> action to do so.</p>\n         <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out\n      of Amazon Chime and can no longer sign in. To remove the suspension from suspended\n        <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a>\n      action. </p>\n         <p>To sign out users without suspending them, use the <a>LogoutUser</a>\n      action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=suspend",
          "code": 200
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchSuspendUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "UserIdList": {
          "target": "com.amazonaws.ucbuzzconsoleservice#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs to suspend.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchSuspendUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.ucbuzzconsoleservice#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchSuspendUser</a> action fails for one\n      or more of the user IDs in the request, a list of the user IDs is returned, along with error\n      codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchUnsuspendUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchUnsuspendUserRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchUnsuspendUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the suspension from up to 50 previously suspended users for the specified\n      Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code>\n      accounts can be unsuspended using this action. For more information about different account\n      types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration\n        Guide</i>.</p>\n         <p>Previously suspended users who are unsuspended using this action are returned to\n      <code>Registered</code> status. Users who are not previously suspended are ignored.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=unsuspend",
          "code": 200
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchUnsuspendUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "UserIdList": {
          "target": "com.amazonaws.ucbuzzconsoleservice#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs to unsuspend.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchUnsuspendUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.ucbuzzconsoleservice#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchUnsuspendUser</a> action fails for one\n      or more of the user IDs in the request, a list of the user IDs is returned, along with error\n      codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchUpdatePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchUpdatePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchUpdatePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates phone number product types or calling names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update either the product type or the calling name.</p> \n         <p>For product types, choose from Amazon Chime Business Calling and Amazon Chime Voice\n      Connector. For toll-free numbers, you must use the Amazon Chime Voice Connector product\n      type.</p>\n         <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-update",
          "code": 200
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchUpdatePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "UpdatePhoneNumberRequestItems": {
          "target": "com.amazonaws.ucbuzzconsoleservice#UpdatePhoneNumberRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the phone number IDs and product types or calling names to update.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchUpdatePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.ucbuzzconsoleservice#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchUpdateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchUpdateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#BatchUpdateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account.\n       Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users",
          "code": 200
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchUpdateUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "UpdateUserRequestItems": {
          "target": "com.amazonaws.ucbuzzconsoleservice#UpdateUserRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs and details to update.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BatchUpdateUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.ucbuzzconsoleservice#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchUpdateUser</a> action fails for one\n      or more of the user IDs in the request, a list of the user IDs is returned, along with error\n      codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#Bot": {
      "type": "structure",
      "members": {
        "BotEmail": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot email address.</p>"
          }
        },
        "BotId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>"
          }
        },
        "BotType": {
          "target": "com.amazonaws.ucbuzzconsoleservice#BotType",
          "traits": {
            "smithy.api#documentation": "<p>The bot type.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The bot creation timestamp, in ISO 8601 format.</p>"
          }
        },
        "Disabled": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When true, the bot is stopped from running in your account.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot display name.</p>"
          }
        },
        "SecurityToken": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The security token used to authenticate Amazon Chime with the outgoing event endpoint.</p>"
          }
        },
        "UpdatedTimestamp": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The updated bot timestamp, in ISO 8601 format.</p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the bot user.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that allows Enterprise account administrators to configure an interface to receive events from Amazon Chime.</p>"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BotList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ucbuzzconsoleservice#Bot"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BotType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ChatBot": {
            "name": "ChatBot"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#BusinessCallingSettings": {
      "type": "structure",
      "members": {
        "CdrBucket": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket designated for call detail record storage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime Business Calling settings for the administrator's AWS account.\n      Includes any Amazon S3 buckets designated for storing call detail records.</p>"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CallingName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[a-zA-Z0-9 ]{2,15}$",
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CallingNameStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Unassigned": {
            "name": "Unassigned"
          },
          "UpdateInProgress": {
            "name": "UpdateInProgress"
          },
          "UpdateSucceeded": {
            "name": "UpdateSucceeded"
          },
          "UpdateFailed": {
            "name": "UpdateFailed"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CallingRegion": {
      "type": "string"
    },
    "com.amazonaws.ucbuzzconsoleservice#CallingRegionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CallingRegion"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "[-_a-zA-Z0-9]*",
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n       resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CpsLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime account under the administrator's AWS account. Only\n       <code>Team</code> account types are currently supported for this action. For more information\n       about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the\n       <i>Amazon\n         Chime Administration Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateAccountRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ucbuzzconsoleservice#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Chime account.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateAccountResponse": {
      "type": "structure",
      "members": {
        "Account": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Account",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account details.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        },
        "ExternalUserId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. Links the attendee to an identity managed by a builder application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of errors returned when errors are encountered during the BatchCreateAttendee and CreateAttendee actions. This includes external user IDs, error codes, and error messages.</p>"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. Links the attendee to an identity managed by a builder application.</p>",
            "smithy.api#required": true
          }
        },
        "MeetingId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeRequestItem": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. Links the attendee to an identity managed by a builder application.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime SDK attendee fields to create, used with the BatchCreateAttendee action.</p>"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeRequestItem"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendee": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Attendee",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendee ID and join token.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateBotRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a bot for an Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/bots",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateBotRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot display name.</p>",
            "smithy.api#required": true
          }
        },
        "Domain": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The domain of the Amazon Chime Enterprise account.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateBotResponse": {
      "type": "structure",
      "members": {
        "Bot": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Bot",
          "traits": {
            "smithy.api#documentation": "<p>The bot details.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateMeetingRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateMeetingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Chime SDK meeting in the specified media Region with no initial attendees. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateMeetingRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. Use a different token for different meetings.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "MediaRegion": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Region in which to create the meeting. Available values: <code>ap-northeast-1</code>, <code>ap-southeast-1</code>, <code>ap-southeast-2</code>, <code>ca-central-1</code>, <code>eu-central-1</code>, <code>eu-north-1</code>, <code>eu-west-1</code>, <code>eu-west-2</code>, <code>eu-west-3</code>, <code>sa-east-1</code>, <code>us-east-1</code>, <code>us-east-2</code>, <code>us-west-1</code>, <code>us-west-2</code>.</p>"
          }
        },
        "MeetingHostId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "NotificationsConfiguration": {
          "target": "com.amazonaws.ucbuzzconsoleservice#MeetingNotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for resource targets to receive notifications when meeting and attendee events occur.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateMeetingResponse": {
      "type": "structure",
      "members": {
        "Meeting": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Meeting",
          "traits": {
            "smithy.api#documentation": "<p>The meeting information, including the meeting ID and <code>MediaPlacement</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreatePhoneNumberOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreatePhoneNumberOrderRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreatePhoneNumberOrderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an order for phone numbers to be provisioned. Choose from Amazon Chime Business\n      Calling and Amazon Chime Voice Connector product types. For toll-free numbers, you must use\n      the Amazon Chime Voice Connector product type.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-number-orders",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreatePhoneNumberOrderRequest": {
      "type": "structure",
      "members": {
        "E164PhoneNumbers": {
          "target": "com.amazonaws.ucbuzzconsoleservice#E164PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
            "smithy.api#required": true
          }
        },
        "ProductType": {
          "target": "com.amazonaws.ucbuzzconsoleservice#PhoneNumberProductType",
          "traits": {
            "smithy.api#documentation": "<p>The phone number product type.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreatePhoneNumberOrderResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberOrder": {
          "target": "com.amazonaws.ucbuzzconsoleservice#PhoneNumberOrder",
          "traits": {
            "smithy.api#documentation": "<p>The phone number order details.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a chat room for the specified Amazon Chime account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateRoomMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateRoomMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ConflictException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a member to a chat room. A member can be either a user or a bot. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}/memberships",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateRoomMembershipRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MemberId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime member ID (user ID or bot ID).</p>",
            "smithy.api#required": true
          }
        },
        "Role": {
          "target": "com.amazonaws.ucbuzzconsoleservice#RoomMembershipRole",
          "traits": {
            "smithy.api#documentation": "<p>The role of the member.</p>"
          }
        },
        "RoomId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateRoomMembershipResponse": {
      "type": "structure",
      "members": {
        "RoomMembership": {
          "target": "com.amazonaws.ucbuzzconsoleservice#RoomMembership",
          "traits": {
            "smithy.api#documentation": "<p>The room membership details.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateRoomRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.ucbuzzconsoleservice#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the request.</p>",
            "smithy.api#idempotencyToken": true
          }
        },
        "Name": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The room name.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateRoomResponse": {
      "type": "structure",
      "members": {
        "Room": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Room",
          "traits": {
            "smithy.api#documentation": "<p>The room details.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ConflictException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user under the specified Amazon Chime account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=create",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Email": {
          "target": "com.amazonaws.ucbuzzconsoleservice#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The user's email address.</p>"
          }
        },
        "UserType": {
          "target": "com.amazonaws.ucbuzzconsoleservice#UserType",
          "traits": {
            "smithy.api#documentation": "<p>The user type.</p>"
          }
        },
        "Username": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.ucbuzzconsoleservice#User"
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime Voice Connector under the administrator's AWS account. You can choose to create an Amazon Chime Voice Connector in a specific AWS Region.</p>\n         <p>Enabling <a>CreateVoiceConnectorRequest$RequireEncryption</a> configures your Amazon Chime Voice Connector to use TLS transport for SIP signaling and Secure RTP (SRTP) for media. \n      Inbound calls use TLS transport, and unencrypted outbound calls are blocked.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnectorGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnectorGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime Voice Connector group under the administrator's AWS account.\n      You can associate up to three existing Amazon Chime Voice Connectors with the Amazon Chime\n      Voice Connector group by including <code>VoiceConnectorItems</code> in the request.</p>\n         <p>You can include Amazon Chime Voice Connectors from different AWS Regions in your group.\n      This creates a fault tolerant mechanism for fallback in case of availability events.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connector-groups",
          "code": 201
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.ucbuzzconsoleservice#VoiceConnectorGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Chime Voice Connector group.</p>",
            "smithy.api#required": true
          }
        },
        "VoiceConnectorItems": {
          "target": "com.amazonaws.ucbuzzconsoleservice#VoiceConnectorItemList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connectors to route inbound calls to.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnectorGroupResponse": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroup": {
          "target": "com.amazonaws.ucbuzzconsoleservice#VoiceConnectorGroup",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector group details.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "AwsRegion": {
          "target": "com.amazonaws.ucbuzzconsoleservice#VoiceConnectorAwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region in which the Amazon Chime Voice Connector is created. Default value: <code>us-east-1</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.ucbuzzconsoleservice#VoiceConnectorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Chime Voice Connector.</p>",
            "smithy.api#required": true
          }
        },
        "RequireEncryption": {
          "target": "com.amazonaws.ucbuzzconsoleservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When enabled, requires encryption for the Amazon Chime Voice Connector.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CreateVoiceConnectorResponse": {
      "type": "structure",
      "members": {
        "VoiceConnector": {
          "target": "com.amazonaws.ucbuzzconsoleservice#VoiceConnector",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector details.</p>"
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#Credential": {
      "type": "structure",
      "members": {
        "Password": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The RFC2617 compliant password associated with the SIP credentials, in US-ASCII format.</p>"
          }
        },
        "Username": {
          "target": "com.amazonaws.ucbuzzconsoleservice#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The RFC2617 compliant user name associated with the SIP credentials, in US-ASCII\n      format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The SIP credentials used to authenticate requests to your Amazon Chime Voice Connector.</p>"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#CredentialList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ucbuzzconsoleservice#Credential"
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DataRetentionInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting\n       a <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action to do\n       so.</p>\n         <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must\n      release the claimed domains for your Amazon Chime account before deletion. As soon as you\n      release the domain, all users under that account are suspended.</p>\n         <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore a\n     deleted account from your <code>Disabled</code> accounts list, you must contact AWS Support.</p>\n         <p>After 90 days, deleted accounts are permanently removed from your\n       <code>Disabled</code> accounts list.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteAccountResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteAttendeeRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an attendee from the specified Amazon Chime SDK meeting and deletes their <code>JoinToken</code>. Attendees are automatically deleted when a Amazon Chime SDK meeting is deleted. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/meetings/{MeetingId}/attendees/{AttendeeId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteAttendeeRequest": {
      "type": "structure",
      "members": {
        "AttendeeId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MeetingId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteEventsConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteEventsConfigurationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the events configuration that allows a bot to receive outgoing events.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}/bots/{BotId}/events-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteEventsConfigurationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "BotId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteMeetingRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Amazon Chime SDK meeting. When a meeting is deleted, its attendees are also deleted and clients can no longer join it. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/meetings/{MeetingId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteMeetingRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeletePhoneNumberRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Moves the specified phone number into the <b>Deletion\n      queue</b>. A phone number must be disassociated from any users or Amazon Chime Voice\n      Connectors before it can be deleted.</p>\n         <p>Deleted phone numbers remain in the <b>Deletion queue</b>\n      for 7 days before they are deleted permanently.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/phone-numbers/{PhoneNumberId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The phone number ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteRoomRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a chat room.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteRoomMembershipRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a member from a chat room.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}/memberships/{MemberId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteRoomMembershipRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MemberId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The member ID (user ID or bot ID).</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "RoomId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteRoomRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "RoomId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The chat room ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ConflictException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Amazon Chime Voice Connector. Any phone numbers associated with the\n      Amazon Chime Voice Connector must be disassociated from it before it can be deleted.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ConflictException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Amazon Chime Voice Connector group. Any <code>VoiceConnectorItems</code> and phone numbers associated with the group must be removed before it can be deleted.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connector-groups/{VoiceConnectorGroupId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroupId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector group ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorOrigination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorOriginationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the origination settings for the specified Amazon Chime Voice Connector.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}/origination",
          "code": 204
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorOriginationRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.ucbuzzconsoleservice#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorStreamingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ucbuzzconsoleservice#DeleteVoiceConnectorStreamingConfigurationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.ucbuzzconsoleservice#ServiceUnavailableException"
        },
        {
[...]
