{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.clouddirectory.v20170111#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.clouddirectory.v20170111#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access denied. Check your permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AddFacetToObject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory.v20170111#AddFacetToObjectRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory.v20170111#AddFacetToObjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#FacetValidationException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new <a>Facet</a> to an object. An object can have more than one facet applied on it.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/object/facets",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AddFacetToObjectRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>\n      where the object resides. For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": true
          }
        },
        "ObjectAttributeList": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>Attributes on the facet that you are adding to the object.</p>"
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object you are adding the specified facet to.</p>",
            "smithy.api#required": true
          }
        },
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory.v20170111#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>Identifiers for the facet that you are adding to the object. See <a>SchemaFacet</a> for details.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AddFacetToObjectResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.clouddirectory.v20170111#AmazonCloudDirectory_20170111": {
      "type": "service",
      "version": "2017-01-11",
      "operations": [
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AddFacetToObject"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ApplySchema"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AttachObject"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AttachPolicy"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AttachToIndex"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AttachTypedLink"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchRead"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchWrite"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#CreateDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#CreateFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#CreateIndex"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#CreateObject"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#CreateSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#CreateTypedLinkFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DeleteDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DeleteFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DeleteObject"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DeleteSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DeleteTypedLinkFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DetachFromIndex"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DetachObject"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DetachPolicy"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DetachTypedLink"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DisableDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#EnableDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#GetAppliedSchemaVersion"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#GetDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#GetFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#GetLinkAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#GetObjectAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#GetObjectInformation"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#GetSchemaAsJson"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#GetTypedLinkFacetInformation"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListAppliedSchemaArns"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListAttachedIndices"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListDevelopmentSchemaArns"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListDirectories"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListFacetAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListFacetNames"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListIncomingTypedLinks"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListIndex"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListManagedSchemaArns"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListObjectAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListObjectChildren"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListObjectParentPaths"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListObjectParents"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListObjectPolicies"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListOutgoingTypedLinks"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListPolicyAttachments"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListPublishedSchemaArns"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListTypedLinkFacetAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ListTypedLinkFacetNames"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LookupPolicy"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#PublishSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#PutSchemaFromJson"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#RemoveFacetFromObject"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#TagResource"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#UntagResource"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#UpdateFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#UpdateLinkAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#UpdateObjectAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#UpdateSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#UpdateTypedLinkFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#UpgradeAppliedSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#UpgradePublishedSchema"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudDirectory",
          "arnNamespace": "clouddirectory",
          "cloudFormationName": "CloudDirectory",
          "cloudTrailEventSource": "v20170111.clouddirectory.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>Amazon Cloud Directory</fullname>\n         <p>Amazon Cloud Directory is a component of the AWS Directory Service that simplifies the\n      development and management of cloud-scale web, mobile, and IoT applications. This guide\n      describes the Cloud Directory operations that you can call programmatically and includes\n      detailed information on data types and errors. For information about Cloud Directory features, see <a href=\"https://aws.amazon.com/directoryservice/\">AWS Directory\n        Service</a> and the <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/what_is_cloud_directory.html\">Amazon Cloud Directory Developer Guide</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon CloudDirectory"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#ApplySchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory.v20170111#ApplySchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory.v20170111#ApplySchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidAttachmentException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#SchemaAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the input published schema, at the specified version, into the <a>Directory</a> with the same\n      name and version as that of the published schema.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/schema/apply",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#ApplySchemaRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>\n      into which the schema is copied. For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": true
          }
        },
        "PublishedSchemaArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Published schema Amazon Resource Name (ARN) that needs to be copied. For more\n      information, see <a>arns</a>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#ApplySchemaResponse": {
      "type": "structure",
      "members": {
        "AppliedSchemaArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The applied schema ARN that is associated with the copied schema in the <a>Directory</a>. You can use this ARN to describe the schema information applied on\n      this directory. For more information, see <a>arns</a>.</p>"
          }
        },
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that is associated with the <a>Directory</a>. For more information,\n      see <a>arns</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#Arn": {
      "type": "string"
    },
    "com.amazonaws.clouddirectory.v20170111#Arns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory.v20170111#Arn"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachObject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttachObjectRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttachObjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#FacetValidationException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidAttachmentException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LinkNameAlreadyInUseException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches an existing object to another object. An object can be accessed in two\n      ways:</p>\n         <ol>\n            <li>\n               <p>Using the path</p>\n            </li>\n            <li>\n               <p>Using <code>ObjectIdentifier</code>\n               </p>\n            </li>\n         </ol>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/object/attach",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachObjectRequest": {
      "type": "structure",
      "members": {
        "ChildReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The child object reference to be attached to the object.</p>",
            "smithy.api#required": true
          }
        },
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) that is associated with the <a>Directory</a>\n      where both objects reside. For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": true
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory.v20170111#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The link name with which the child object is attached to the parent.</p>",
            "smithy.api#required": true
          }
        },
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The parent object reference.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachObjectResponse": {
      "type": "structure",
      "members": {
        "AttachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The attached <code>ObjectIdentifier</code>, which is the child\n        <code>ObjectIdentifier</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttachPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttachPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#NotPolicyException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a policy object to a regular object. An object can have a limited number of attached\n      policies.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/policy/attach",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachPolicyRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>\n      where both objects reside. For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": true
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object to which the policy will be\n      attached.</p>",
            "smithy.api#required": true
          }
        },
        "PolicyReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that is associated with the policy object.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachPolicyResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachToIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttachToIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttachToIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#IndexedAttributeMissingException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidAttachmentException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LinkNameAlreadyInUseException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#NotIndexException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified object to the specified index.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/index/attach",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachToIndexRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the directory where the object and index\n      exist.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": true
          }
        },
        "IndexReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the index that you are attaching the object to.</p>",
            "smithy.api#required": true
          }
        },
        "TargetReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object that you are attaching to the index.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachToIndexResponse": {
      "type": "structure",
      "members": {
        "AttachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the object that was attached to the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachTypedLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttachTypedLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttachTypedLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#FacetValidationException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidAttachmentException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a typed link to a specified source and target object. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/typedlink/attach",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachTypedLinkRequest": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeNameAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>A set of attributes that are associated with the typed link.</p>",
            "smithy.api#required": true
          }
        },
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the directory where you want to attach the typed\n      link.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": true
          }
        },
        "SourceObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the source object that the typed link will attach to.</p>",
            "smithy.api#required": true
          }
        },
        "TargetObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the target object that the typed link will attach to.</p>",
            "smithy.api#required": true
          }
        },
        "TypedLinkFacet": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSchemaAndFacetName",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the typed link facet that is associated with the typed link.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttachTypedLinkResponse": {
      "type": "structure",
      "members": {
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Returns a typed link specifier as output.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttributeKey": {
      "type": "structure",
      "members": {
        "FacetName": {
          "target": "com.amazonaws.clouddirectory.v20170111#FacetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the facet that the attribute exists within.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute.</p>",
            "smithy.api#required": true
          }
        },
        "SchemaArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the schema that contains the facet and\n      attribute.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A unique identifier for an attribute.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttributeKeyAndValue": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of the attribute.</p>",
            "smithy.api#required": true
          }
        },
        "Value": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The combination of an attribute key and an attribute value.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttributeKeyAndValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttributeKeyAndValue"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttributeKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttributeKey"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 230
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._:-]*$"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttributeNameAndValue": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The attribute name of the typed link.</p>",
            "smithy.api#required": true
          }
        },
        "Value": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value for the typed link.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifies the attribute name and value for a typed link.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttributeNameAndValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttributeNameAndValue"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#AttributeNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory.v20170111#AttributeName"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAddFacetToObject": {
      "type": "structure",
      "members": {
        "ObjectAttributeList": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes to set on the object.</p>",
            "smithy.api#required": true
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object being mutated.</p>",
            "smithy.api#required": true
          }
        },
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory.v20170111#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>Represents the facet being added to the object.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a batch add facet to object operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAddFacetToObjectResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>The result of a batch add facet to object operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAttachObject": {
      "type": "structure",
      "members": {
        "ChildReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The child object reference that is to be attached to the object.</p>",
            "smithy.api#required": true
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory.v20170111#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the link.</p>",
            "smithy.api#required": true
          }
        },
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The parent object reference.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of an <a>AttachObject</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAttachObjectResponse": {
      "type": "structure",
      "members": {
        "attachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the object that has been attached.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output batch <a>AttachObject</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAttachPolicy": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object to which the policy will be\n       attached.</p>",
            "smithy.api#required": true
          }
        },
        "PolicyReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that is associated with the policy object.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attaches a policy object to a regular object inside a <a>BatchRead</a> operation. For more information, see <a>AttachPolicy</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAttachPolicyResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of an <a>AttachPolicy</a> response\n      operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAttachToIndex": {
      "type": "structure",
      "members": {
        "IndexReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the index that you are attaching the object to.</p>",
            "smithy.api#required": true
          }
        },
        "TargetReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object that you are attaching to the index.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified object to the specified index inside a <a>BatchRead</a> operation. For more information, see <a>AttachToIndex</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAttachToIndexResponse": {
      "type": "structure",
      "members": {
        "AttachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the object that was attached to the index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>AttachToIndex</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAttachTypedLink": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeNameAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>A set of attributes that are associated with the typed link.</p>",
            "smithy.api#required": true
          }
        },
        "SourceObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the source object that the typed link will attach to.</p>",
            "smithy.api#required": true
          }
        },
        "TargetObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the target object that the typed link will attach to.</p>",
            "smithy.api#required": true
          }
        },
        "TypedLinkFacet": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSchemaAndFacetName",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the typed link facet that is associated with the typed link.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attaches a typed link to a specified source and target object inside a <a>BatchRead</a> operation. For more information, see <a>AttachTypedLink</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchAttachTypedLinkResponse": {
      "type": "structure",
      "members": {
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Returns a typed link specifier as output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>AttachTypedLink</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchCreateIndex": {
      "type": "structure",
      "members": {
        "BatchReferenceName": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchReferenceName",
          "traits": {
            "smithy.api#documentation": "<p>The batch reference name. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/transaction_support.html\">Transaction Support</a> for more information.</p>"
          }
        },
        "IsUnique": {
          "target": "com.amazonaws.clouddirectory.v20170111#Bool",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the attribute that is being indexed has unique values or\n       not.</p>",
            "smithy.api#required": true
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory.v20170111#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the link between the parent object and the index object.</p>"
          }
        },
        "OrderedIndexedAttributeList": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeKeyList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the attributes that should be indexed on. Currently only a single attribute\n       is supported.</p>",
            "smithy.api#required": true
          }
        },
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the parent object that contains the index object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates an index object inside of a <a>BatchRead</a> operation. For more information, see <a>CreateIndex</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchCreateIndexResponse": {
      "type": "structure",
      "members": {
        "ObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the index created by this operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>CreateIndex</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchCreateObject": {
      "type": "structure",
      "members": {
        "BatchReferenceName": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchReferenceName",
          "traits": {
            "smithy.api#documentation": "<p>The batch reference name. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/transaction_support.html\">Transaction Support</a> for more information.</p>"
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory.v20170111#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the link.</p>"
          }
        },
        "ObjectAttributeList": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>An attribute map, which contains an attribute ARN as the key and attribute value as\n      the map value.</p>",
            "smithy.api#required": true
          }
        },
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the parent reference to which this object will be attached.</p>"
          }
        },
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory.v20170111#SchemaFacetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>FacetArns</code> that will be associated with the object. For more\n      information, see <a>arns</a>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>CreateObject</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchCreateObjectResponse": {
      "type": "structure",
      "members": {
        "ObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID that is associated with the object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>CreateObject</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDeleteObject": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DeleteObject</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDeleteObjectResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DeleteObject</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDetachFromIndex": {
      "type": "structure",
      "members": {
        "IndexReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the index object.</p>",
            "smithy.api#required": true
          }
        },
        "TargetReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object being detached from the index.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detaches the specified object from the specified index inside a <a>BatchRead</a> operation. For more information, see <a>DetachFromIndex</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDetachFromIndexResponse": {
      "type": "structure",
      "members": {
        "DetachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the object that was detached from the index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachFromIndex</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDetachObject": {
      "type": "structure",
      "members": {
        "BatchReferenceName": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchReferenceName",
          "traits": {
            "smithy.api#documentation": "<p>The batch reference name. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/transaction_support.html\">Transaction Support</a> for more information.</p>"
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory.v20170111#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the link.</p>",
            "smithy.api#required": true
          }
        },
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Parent reference from which the object with the specified link name is\n      detached.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachObject</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDetachObjectResponse": {
      "type": "structure",
      "members": {
        "detachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the detached object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachObject</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDetachPolicy": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference that identifies the object whose policy object will be detached.</p>",
            "smithy.api#required": true
          }
        },
        "PolicyReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference that identifies the policy object.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detaches the specified policy from the specified directory inside a <a>BatchWrite</a> operation. For more information, see <a>DetachPolicy</a> and <a>BatchWriteRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDetachPolicyResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachPolicy</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDetachTypedLink": {
      "type": "structure",
      "members": {
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Used to accept a typed link specifier as input.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detaches a typed link from a specified source and target object inside a <a>BatchRead</a> operation. For more information, see <a>DetachTypedLink</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchDetachTypedLinkResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachTypedLink</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchGetLinkAttributes": {
      "type": "structure",
      "members": {
        "AttributeNames": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of attribute names whose values will be retrieved.</p>",
            "smithy.api#required": true
          }
        },
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Allows a typed link specifier to be accepted as input.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves attributes that are associated with a typed link inside a <a>BatchRead</a> operation. For more information, see <a>GetLinkAttributes</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchGetLinkAttributesResponse": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes that are associated with the typed link.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>GetLinkAttributes</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchGetObjectAttributes": {
      "type": "structure",
      "members": {
        "AttributeNames": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeNameList",
          "traits": {
            "smithy.api#documentation": "<p>List of attribute names whose values will be retrieved.</p>",
            "smithy.api#required": true
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference that identifies the object whose attributes will be retrieved.</p>",
            "smithy.api#required": true
          }
        },
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory.v20170111#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for the facet whose attributes will be retrieved. See <a>SchemaFacet</a> for details.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves attributes within a facet that are associated with an object inside an <a>BatchRead</a> operation. For more information, see <a>GetObjectAttributes</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchGetObjectAttributesResponse": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>The attribute values that are associated with an object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>GetObjectAttributes</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchGetObjectInformation": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves metadata about an object inside a <a>BatchRead</a> operation. For more information, see <a>GetObjectInformation</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchGetObjectInformationResponse": {
      "type": "structure",
      "members": {
        "ObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the specified object.</p>"
          }
        },
        "SchemaFacets": {
          "target": "com.amazonaws.clouddirectory.v20170111#SchemaFacetList",
          "traits": {
            "smithy.api#documentation": "<p>The facets attached to the specified object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>GetObjectInformation</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListAttachedIndices": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "TargetReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object that has indices attached.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists indices attached to an object inside a <a>BatchRead</a> operation. For more information, see <a>ListAttachedIndices</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListAttachedIndicesResponse": {
      "type": "structure",
      "members": {
        "IndexAttachments": {
          "target": "com.amazonaws.clouddirectory.v20170111#IndexAttachmentList",
          "traits": {
            "smithy.api#documentation": "<p>The indices attached to the specified object.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListAttachedIndices</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListIncomingTypedLinks": {
      "type": "structure",
      "members": {
        "FilterAttributeRanges": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkAttributeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>Provides range filters for multiple attributes. When providing ranges to typed link\n       selection, any inexact ranges must be specified at the end. Any attributes that do not have a\n       range specified are presumed to match the entire range.</p>"
          }
        },
        "FilterTypedLink": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSchemaAndFacetName",
          "traits": {
            "smithy.api#documentation": "<p>Filters are interpreted in the order of the attributes on the typed link facet, not the\n       order in which they are supplied to any API calls.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object whose attributes will be listed.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of all the incoming <a>TypedLinkSpecifier</a> information for an object inside a <a>BatchRead</a> operation. For more information, see <a>ListIncomingTypedLinks</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListIncomingTypedLinksResponse": {
      "type": "structure",
      "members": {
        "LinkSpecifiers": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSpecifierList",
          "traits": {
            "smithy.api#documentation": "<p>Returns one or more typed link specifiers as output.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListIncomingTypedLinks</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListIndex": {
      "type": "structure",
      "members": {
        "IndexReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference to the index to list.</p>",
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "RangesOnIndexedValues": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectAttributeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ranges of indexed values that you want to query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists objects attached to the specified index inside a <a>BatchRead</a> operation. For more information, see <a>ListIndex</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListIndexResponse": {
      "type": "structure",
      "members": {
        "IndexAttachments": {
          "target": "com.amazonaws.clouddirectory.v20170111#IndexAttachmentList",
          "traits": {
            "smithy.api#documentation": "<p>The objects and indexed values attached to the index.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListIndex</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectAttributes": {
      "type": "structure",
      "members": {
        "FacetFilter": {
          "target": "com.amazonaws.clouddirectory.v20170111#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>Used to filter the list of object attributes that are associated with a certain\n      facet.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to be retrieved in a single call. This is an approximate\n      number.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference of the object whose attributes need to be listed.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectAttributes</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectAttributesResponse": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes map that is associated with the object. <code>AttributeArn</code> is the\n      key; attribute value is the value.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectAttributes</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectChildren": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of items to be retrieved in a single call. This is an approximate\n       number.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference of the object for which child objects are being listed.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectChildren</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectChildrenResponse": {
      "type": "structure",
      "members": {
        "Children": {
          "target": "com.amazonaws.clouddirectory.v20170111#LinkNameToObjectIdentifierMap",
          "traits": {
            "smithy.api#documentation": "<p>The children structure, which is a map with the key as the <code>LinkName</code> and\n        <code>ObjectIdentifier</code> as the value.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectChildren</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectParentPaths": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object whose attributes will be listed.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all available parent paths for any object type such as node, leaf node, policy node, and index node objects inside a <a>BatchRead</a> operation. For more information, see <a>ListObjectParentPaths</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectParentPathsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "PathToObjectIdentifiersList": {
          "target": "com.amazonaws.clouddirectory.v20170111#PathToObjectIdentifiersList",
          "traits": {
            "smithy.api#documentation": "<p>Returns the path to the <code>ObjectIdentifiers</code> that are associated with the\n       directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectParentPaths</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectParents": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults"
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken"
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectParentsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken"
        },
        "ParentLinks": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifierAndLinkNameList"
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectPolicies": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object whose attributes will be listed.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns policies attached to an object in pagination fashion inside a <a>BatchRead</a> operation. For more information, see <a>ListObjectPolicies</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListObjectPoliciesResponse": {
      "type": "structure",
      "members": {
        "AttachedPolicyIds": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of policy <code>ObjectIdentifiers</code>, that are attached to the\n       object.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectPolicies</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListOutgoingTypedLinks": {
      "type": "structure",
      "members": {
        "FilterAttributeRanges": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkAttributeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>Provides range filters for multiple attributes. When providing ranges to typed link\n       selection, any inexact ranges must be specified at the end. Any attributes that do not have a\n       range specified are presumed to match the entire range.</p>"
          }
        },
        "FilterTypedLink": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSchemaAndFacetName",
          "traits": {
            "smithy.api#documentation": "<p>Filters are interpreted in the order of the attributes defined on the typed link facet,\n       not the order they are supplied to any API calls.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object whose attributes will be listed.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of all the outgoing <a>TypedLinkSpecifier</a> information for an object inside a <a>BatchRead</a> operation. For more information, see <a>ListOutgoingTypedLinks</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListOutgoingTypedLinksResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "TypedLinkSpecifiers": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSpecifierList",
          "traits": {
            "smithy.api#documentation": "<p>Returns a typed link specifier as output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListOutgoingTypedLinks</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListPolicyAttachments": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "PolicyReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the policy object.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns all of the <code>ObjectIdentifiers</code> to which a given policy is attached inside a <a>BatchRead</a> operation. For more information, see <a>ListPolicyAttachments</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchListPolicyAttachmentsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "ObjectIdentifiers": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>ObjectIdentifiers</code> to which the policy is attached.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListPolicyAttachments</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchLookupPolicy": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory.v20170111#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference that identifies the object whose policies will be looked up.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists all policies from the root of the Directory to the object specified inside a <a>BatchRead</a> operation. For more information, see <a>LookupPolicy</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchLookupPolicyResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.clouddirectory.v20170111#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "PolicyToPathList": {
          "target": "com.amazonaws.clouddirectory.v20170111#PolicyToPathList",
          "traits": {
            "smithy.api#documentation": "<p>Provides list of path to policies. Policies contain <code>PolicyId</code>, <code>ObjectIdentifier</code>, and\n       <code>PolicyType</code>. For more\n       information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directory.html#key_concepts_policies\">Policies</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>LookupPolicy</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchOperationIndex": {
      "type": "integer"
    },
    "com.amazonaws.clouddirectory.v20170111#BatchRead": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory.v20170111#BatchReadRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory.v20170111#BatchReadResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory.v20170111#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory.v20170111#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Performs all the read operations in a batch. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/amazonclouddirectory/2017-01-11/batchread",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReadException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.clouddirectory.v20170111#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>An exception message that is associated with the failure.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchReadExceptionType",
          "traits": {
            "smithy.api#documentation": "<p>A type of exception, such as <code>InvalidArnException</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The batch read exception structure, which contains the exception type and\n      message.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReadExceptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ValidationException": {
            "name": "ValidationException"
          },
          "InvalidArnException": {
            "name": "InvalidArnException"
          },
          "ResourceNotFoundException": {
            "name": "ResourceNotFoundException"
          },
          "InvalidNextTokenException": {
            "name": "InvalidNextTokenException"
          },
          "AccessDeniedException": {
            "name": "AccessDeniedException"
          },
          "NotNodeException": {
            "name": "NotNodeException"
          },
          "FacetValidationException": {
            "name": "FacetValidationException"
          },
          "CannotListParentOfRootException": {
            "name": "CannotListParentOfRootException"
          },
          "NotIndexException": {
            "name": "NotIndexException"
          },
          "NotPolicyException": {
            "name": "NotPolicyException"
          },
          "DirectoryNotEnabledException": {
            "name": "DirectoryNotEnabledException"
          },
          "LimitExceededException": {
            "name": "LimitExceededException"
          },
          "InternalServiceException": {
            "name": "InternalServiceException"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReadOperation": {
      "type": "structure",
      "members": {
        "GetLinkAttributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchGetLinkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves attributes that are associated with a typed link.</p>"
          }
        },
        "GetObjectAttributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchGetObjectAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves attributes within a facet that are associated with an object.</p>"
          }
        },
        "GetObjectInformation": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchGetObjectInformation",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves metadata about an object.</p>"
          }
        },
        "ListAttachedIndices": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListAttachedIndices",
          "traits": {
            "smithy.api#documentation": "<p>Lists indices attached to an object.</p>"
          }
        },
        "ListIncomingTypedLinks": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListIncomingTypedLinks",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of all the incoming <a>TypedLinkSpecifier</a>\n       information for an object. It also supports filtering by typed link facet and identity\n       attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>"
          }
        },
        "ListIndex": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListIndex",
          "traits": {
            "smithy.api#documentation": "<p>Lists objects attached to the specified index.</p>"
          }
        },
        "ListObjectAttributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Lists all attributes that are associated with an object.</p>"
          }
        },
        "ListObjectChildren": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectChildren",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of child objects that are associated with a given\n      object.</p>"
          }
        },
        "ListObjectParentPaths": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectParentPaths",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves all available parent paths for any object type such as node, leaf node,\n       policy node, and index node objects. For more information about objects, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directorystructure.html\">Directory Structure</a>.</p>"
          }
        },
        "ListObjectParents": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectParents"
        },
        "ListObjectPolicies": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectPolicies",
          "traits": {
            "smithy.api#documentation": "<p>Returns policies attached to an object in pagination fashion.</p>"
          }
        },
        "ListOutgoingTypedLinks": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListOutgoingTypedLinks",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of all the outgoing <a>TypedLinkSpecifier</a>\n       information for an object. It also supports filtering by typed link facet and identity\n       attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>"
          }
        },
        "ListPolicyAttachments": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListPolicyAttachments",
          "traits": {
            "smithy.api#documentation": "<p>Returns all of the <code>ObjectIdentifiers</code> to which a given policy is attached.</p>"
          }
        },
        "LookupPolicy": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchLookupPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Lists all policies from the root of the <a>Directory</a> to the object\n       specified. If there are no policies present, an empty list is returned. If policies are\n       present, and if some objects don't have the policies attached, it returns the <code>ObjectIdentifier</code>\n       for such objects. If policies are present, it returns <code>ObjectIdentifier</code>, <code>policyId</code>, and\n       <code>policyType</code>. Paths that don't lead to the root from the target object are ignored. For more\n       information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directory.html#key_concepts_policies\">Policies</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchRead</code> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReadOperationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory.v20170111#BatchReadOperation"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReadOperationResponse": {
      "type": "structure",
      "members": {
        "ExceptionResponse": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchReadException",
          "traits": {
            "smithy.api#documentation": "<p>Identifies which operation in a batch has failed.</p>"
          }
        },
        "SuccessfulResponse": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchReadSuccessfulResponse",
          "traits": {
            "smithy.api#documentation": "<p>Identifies which operation in a batch has succeeded.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchRead</code> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReadOperationResponseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory.v20170111#BatchReadOperationResponse"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReadRequest": {
      "type": "structure",
      "members": {
        "ConsistencyLevel": {
          "target": "com.amazonaws.clouddirectory.v20170111#ConsistencyLevel",
          "traits": {
            "smithy.api#documentation": "<p>Represents the manner and timing in which the successful write or update of an object\n      is reflected in a subsequent read operation of that same object.</p>",
            "smithy.api#httpHeader": "x-amz-consistency-level"
          }
        },
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory.v20170111#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>.\n      For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": true
          }
        },
        "Operations": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchReadOperationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of operations that are part of the batch.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReadResponse": {
      "type": "structure",
      "members": {
        "Responses": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchReadOperationResponseList",
          "traits": {
            "smithy.api#documentation": "<p>A list of all the responses for each batch read.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReadSuccessfulResponse": {
      "type": "structure",
      "members": {
        "GetLinkAttributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchGetLinkAttributesResponse",
          "traits": {
            "smithy.api#documentation": "<p>The list of attributes to retrieve from the typed link.</p>"
          }
        },
        "GetObjectAttributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchGetObjectAttributesResponse",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves attributes within a facet that are associated with an object.</p>"
          }
        },
        "GetObjectInformation": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchGetObjectInformationResponse",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves metadata about an object.</p>"
          }
        },
        "ListAttachedIndices": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListAttachedIndicesResponse",
          "traits": {
            "smithy.api#documentation": "<p>Lists indices attached to an object.</p>"
          }
        },
        "ListIncomingTypedLinks": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListIncomingTypedLinksResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of all the incoming <a>TypedLinkSpecifier</a>\n       information for an object. It also supports filtering by typed link facet and identity\n       attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>"
          }
        },
        "ListIndex": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListIndexResponse",
          "traits": {
            "smithy.api#documentation": "<p>Lists objects attached to the specified index.</p>"
          }
        },
        "ListObjectAttributes": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectAttributesResponse",
          "traits": {
            "smithy.api#documentation": "<p>Lists all attributes that are associated with an object.</p>"
          }
        },
        "ListObjectChildren": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectChildrenResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of child objects that are associated with a given\n      object.</p>"
          }
        },
        "ListObjectParentPaths": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectParentPathsResponse",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves all available parent paths for any object type such as node, leaf node,\n       policy node, and index node objects. For more information about objects, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directorystructure.html\">Directory Structure</a>.</p>"
          }
        },
        "ListObjectParents": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectParentsResponse"
        },
        "ListObjectPolicies": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListObjectPoliciesResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns policies attached to an object in pagination fashion.</p>"
          }
        },
        "ListOutgoingTypedLinks": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListOutgoingTypedLinksResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of all the outgoing <a>TypedLinkSpecifier</a>\n       information for an object. It also supports filtering by typed link facet and identity\n       attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>"
          }
        },
        "ListPolicyAttachments": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchListPolicyAttachmentsResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns all of the <code>ObjectIdentifiers</code> to which a given policy is attached.</p>"
          }
        },
        "LookupPolicy": {
          "target": "com.amazonaws.clouddirectory.v20170111#BatchLookupPolicyResponse",
          "traits": {
            "smithy.api#documentation": "<p>Lists all policies from the root of the <a>Directory</a> to the object\n       specified. If there are no policies present, an empty list is returned. If policies are\n       present, and if some objects don't have the policies attached, it returns the <code>ObjectIdentifier</code>\n       for such objects. If policies are present, it returns <code>ObjectIdentifier</code>, <code>policyId</code>, and\n       <code>policyType</code>. Paths that don't lead to the root from the target object are ignored. For more\n       information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directory.html#key_concepts_policies\">Policies</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchRead</code> success response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchReferenceName": {
      "type": "string"
    },
    "com.amazonaws.clouddirectory.v20170111#BatchRemoveFacetFromObject": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory.v20170111#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object whose facet will be removed.</p>",
            "smithy.api#required": true
          }
        },
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory.v20170111#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>The facet to remove from the object.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A batch operation to remove a facet from an object.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchRemoveFacetFromObjectResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An empty result that represents success.</p>"
      }
    },
    "com.amazonaws.clouddirectory.v20170111#BatchUpdateLinkAttributes": {
      "type": "structure",
      "members": {
        "AttributeUpdates": {
          "target": "com.amazonaws.clouddirectory.v20170111#LinkAttributeUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes update structure.</p>",
            "smithy.api#required": true
          }
        },
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory.v20170111#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Allows a typed link specifier to be accepted as input.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
[...]
