{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.maestro.service.v20160713#Account": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9]{12}"
      }
    },
    "com.amazonaws.maestro.service.v20160713#AccountGateResult": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.maestro.service.v20160713#AccountGateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the account gate function.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code>: The account gate function has determined that the\n               account and region passes any requirements for a stack set operation to occur. AWS\n               CloudFormation proceeds with the stack operation in that account and region.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code>: The account gate function has determined that the account\n               and region does not meet the requirements for a stack set operation to occur. AWS\n               CloudFormation cancels the stack set operation in that account and region, and sets\n               the stack set operation result status for that account and region to\n                  <code>FAILED</code>. </p>\n            </li>\n            <li>\n               <p>\n                  <code>SKIPPED</code>: AWS CloudFormation has skipped calling the account gate\n               function for this account and region, for one of the following reasons:</p>\n               <ul>\n                  <li>\n                     <p>An account gate function has not been specified for the account and\n                     region. AWS CloudFormation proceeds with the stack set operation in this\n                     account and region.</p>\n                  </li>\n                  <li>\n                     <p>The <code>AWSCloudFormationStackSetExecutionRole</code> of the stack set\n                     adminstration account lacks permissions to invoke the function. AWS\n                     CloudFormation proceeds with the stack set operation in this account and\n                     region.</p>\n                  </li>\n                  <li>\n                     <p>Either no action is necessary, or no action is possible, on the stack.\n                     AWS CloudFormation skips the stack set operation in this account and\n                     region.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.maestro.service.v20160713#AccountGateStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the account gate status assigned to this account and region for the\n         stack set operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure that contains the results of the account gate function which AWS\n         CloudFormation invokes, if present, before proceeding with a stack set operation in an\n         account and region.</p>\n         <p>For each account and region, AWS CloudFormation lets you specify a Lamdba function\n         that encapsulates any requirements that must be met before CloudFormation can proceed with\n         a stack set operation in that account and region. CloudFormation invokes the function each\n         time a stack set operation is requested for that account and region; if the function\n         returns <code>FAILED</code>, CloudFormation cancels the operation in that account and\n         region, and sets the stack set operation result status for that account and region to\n            <code>FAILED</code>. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-account-gating.html\">Configuring a\n            target account gate</a>.</p>"
      }
    },
    "com.amazonaws.maestro.service.v20160713#AccountGateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SUCCEEDED": { },
          "FAILED": { },
          "SKIPPED": { }
        }
      }
    },
    "com.amazonaws.maestro.service.v20160713#AccountGateStatusReason": {
      "type": "string"
    },
    "amzn.aws21.activities#AccountLimit": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "amzn.aws21.activities#LimitName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the account limit.</p>\n         <p>Values: <code>ConcurrentResourcesLimit</code> | <code>StackLimit</code> |\n            <code>StackOutputsLimit</code>\n         </p>"
          }
        },
        "Value": {
          "target": "amzn.aws21.activities#LimitValue",
          "traits": {
            "smithy.api#documentation": "<p>The value that is associated with the account limit name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AccountLimit data type. </p>\n         <p>CloudFormation has the following limits per account:</p>\n         <ul>\n            <li>\n               <p>Number of concurrent resources</p>\n            </li>\n            <li>\n               <p>Number of stacks</p>\n            </li>\n            <li>\n               <p>Number of stack outputs</p>\n            </li>\n         </ul>\n         <p>For more information about these account limits, and other CloudFormation limits, see\n            <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html\">AWS CloudFormation\n            Limits</a> in the <i>AWS CloudFormation User Guide</i>.</p>"
      }
    },
    "amzn.aws21.activities#AccountLimitList": {
      "type": "list",
      "member": {
        "target": "amzn.aws21.activities#AccountLimit"
      }
    },
    "com.amazonaws.maestro.service.v20160713#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.maestro.service.v20160713#Account"
      }
    },
    "amzn.aws21.activities#AllowedValue": {
      "type": "string"
    },
    "amzn.aws21.activities#AllowedValues": {
      "type": "list",
      "member": {
        "target": "amzn.aws21.activities#AllowedValue"
      }
    },
    "amzn.aws21.activities#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "amzn.aws21.activities#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource with the name requested already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "amzn.aws21.activities#Arn": {
      "type": "string"
    },
    "amzn.aws21.activities#BoxedInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "amzn.aws21.activities#BoxedMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "amzn.aws21.activities#CFNRegistryException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "amzn.aws21.activities#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred during a CloudFormation registry operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "amzn.aws21.activities#CancelUpdateStack": {
      "type": "operation",
      "input": {
        "target": "amzn.aws21.activities#CancelUpdateStackInput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#TokenAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an update on the specified stack. If the call completes successfully, the\n         stack rolls back the update and reverts to the previous stack configuration.</p>\n         <note>\n            <p>You can cancel only stacks that are in the UPDATE_IN_PROGRESS state.</p>\n         </note>"
      }
    },
    "amzn.aws21.activities#CancelUpdateStackInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "amzn.aws21.activities#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>CancelUpdateStack</code> request. Specify this\n         token if you plan to retry requests so that AWS CloudFormation knows that you're not\n         attempting to cancel an update on a stack with the same name. You might retry\n            <code>CancelUpdateStack</code> requests to ensure that AWS CloudFormation successfully\n         received them.</p>"
          }
        },
        "StackName": {
          "target": "amzn.aws21.activities#StackName",
          "traits": {
            "smithy.api#documentation": "<p>The name or the unique stack ID that is associated with the stack.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the <a>CancelUpdateStack</a> action.</p>"
      }
    },
    "amzn.aws21.activities#Capabilities": {
      "type": "list",
      "member": {
        "target": "amzn.aws21.activities#Capability"
      }
    },
    "amzn.aws21.activities#CapabilitiesReason": {
      "type": "string"
    },
    "amzn.aws21.activities#Capability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CAPABILITY_IAM": {
            "name": "CAPABILITY_IAM"
          },
          "CAPABILITY_NAMED_IAM": {
            "name": "CAPABILITY_NAMED_IAM"
          },
          "CAPABILITY_AUTO_EXPAND": {
            "name": "CAPABILITY_AUTO_EXPAND"
          }
        }
      }
    },
    "amzn.aws21.activities#CausingEntity": {
      "type": "string"
    },
    "amzn.aws21.activities#Change": {
      "type": "structure",
      "members": {
        "ResourceChange": {
          "target": "amzn.aws21.activities#ResourceChange",
          "traits": {
            "smithy.api#documentation": "<p>A <code>ResourceChange</code> structure that describes the resource and action that\n         AWS CloudFormation will perform.</p>"
          }
        },
        "Type": {
          "target": "amzn.aws21.activities#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type\n         is <code>Resource</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>Change</code> structure describes the changes AWS CloudFormation will\n         perform if you execute the change set.</p>"
      }
    },
    "amzn.aws21.activities#ChangeAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Add": {
            "name": "Add"
          },
          "Modify": {
            "name": "Modify"
          },
          "Remove": {
            "name": "Remove"
          },
          "Import": {
            "name": "Import"
          }
        }
      }
    },
    "amzn.aws21.activities#ChangeSetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#pattern": "arn:[-a-zA-Z0-9:/]*"
      }
    },
    "amzn.aws21.activities#ChangeSetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z][-a-zA-Z0-9]*"
      }
    },
    "amzn.aws21.activities#ChangeSetNameOrId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "[a-zA-Z][-a-zA-Z0-9]*|arn:[-a-zA-Z0-9:/]*"
      }
    },
    "amzn.aws21.activities#ChangeSetNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "amzn.aws21.activities#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified change set name or ID doesn't exit. To view valid change sets for a\n         stack, use the <code>ListChangeSets</code> action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "amzn.aws21.activities#ChangeSetStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATE_PENDING": {
            "name": "CREATE_PENDING"
          },
          "CREATE_IN_PROGRESS": {
            "name": "CREATE_IN_PROGRESS"
          },
          "CREATE_COMPLETE": {
            "name": "CREATE_COMPLETE"
          },
          "DELETE_COMPLETE": {
            "name": "DELETE_COMPLETE"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "amzn.aws21.activities#ChangeSetStatusReason": {
      "type": "string"
    },
    "amzn.aws21.activities#ChangeSetSummaries": {
      "type": "list",
      "member": {
        "target": "amzn.aws21.activities#ChangeSetSummary"
      }
    },
    "amzn.aws21.activities#ChangeSetSummary": {
      "type": "structure",
      "members": {
        "ChangeSetId": {
          "target": "amzn.aws21.activities#ChangeSetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the change set.</p>"
          }
        },
        "ChangeSetName": {
          "target": "amzn.aws21.activities#ChangeSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the change set.</p>"
          }
        },
        "CreationTime": {
          "target": "amzn.aws21.activities#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The start time when the change set was created, in UTC.</p>"
          }
        },
        "Description": {
          "target": "amzn.aws21.activities#Description",
          "traits": {
            "smithy.api#documentation": "<p>Descriptive information about the change set.</p>"
          }
        },
        "ExecutionStatus": {
          "target": "amzn.aws21.activities#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>If the change set execution status is <code>AVAILABLE</code>, you can execute the\n         change set. If you can’t execute the change set, the status indicates why. For example, a\n         change set might be in an <code>UNAVAILABLE</code> state because AWS CloudFormation is\n         still creating it or in an <code>OBSOLETE</code> state because the stack was already\n         updated.</p>"
          }
        },
        "StackId": {
          "target": "amzn.aws21.activities#StackId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the stack with which the change set is associated.</p>"
          }
        },
        "StackName": {
          "target": "amzn.aws21.activities#StackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack with which the change set is associated.</p>"
          }
        },
        "Status": {
          "target": "amzn.aws21.activities#ChangeSetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the change set, such as <code>CREATE_IN_PROGRESS</code>,\n            <code>CREATE_COMPLETE</code>, or <code>FAILED</code>.</p>"
          }
        },
        "StatusReason": {
          "target": "amzn.aws21.activities#ChangeSetStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>A description of the change set's status. For example, if your change set is in the\n            <code>FAILED</code> state, AWS CloudFormation shows the error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>ChangeSetSummary</code> structure describes a change set, its status, and\n         the stack with which it's associated.</p>"
      }
    },
    "amzn.aws21.activities#ChangeSetType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATE": {
            "name": "CREATE"
          },
          "UPDATE": {
            "name": "UPDATE"
          },
          "IMPORT": {
            "name": "IMPORT"
          }
        }
      }
    },
    "amzn.aws21.activities#ChangeSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ResourceReference": {
            "name": "ResourceReference"
          },
          "ParameterReference": {
            "name": "ParameterReference"
          },
          "ResourceAttribute": {
            "name": "ResourceAttribute"
          },
          "DirectModification": {
            "name": "DirectModification"
          },
          "Automatic": {
            "name": "Automatic"
          }
        }
      }
    },
    "amzn.aws21.activities#ChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Resource": {
            "name": "Resource"
          }
        }
      }
    },
    "amzn.aws21.activities#Changes": {
      "type": "list",
      "member": {
        "target": "amzn.aws21.activities#Change"
      }
    },
    "amzn.aws21.activities#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9][-a-zA-Z0-9]*"
      }
    },
    "amzn.aws21.activities#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "amzn.aws21.activities#CloudFormation": {
      "type": "service",
      "version": "2010-05-15",
      "operations": [
        {
          "target": "amzn.aws21.activities#CancelUpdateStack"
        },
        {
          "target": "amzn.aws21.activities#ContinueUpdateRollback"
        },
        {
          "target": "amzn.aws21.activities#CreateChangeSet"
        },
        {
          "target": "amzn.aws21.activities#CreateStack"
        },
        {
          "target": "amzn.aws21.activities#DeleteChangeSet"
        },
        {
          "target": "amzn.aws21.activities#DeleteStack"
        },
        {
          "target": "amzn.aws21.activities#DeregisterType"
        },
        {
          "target": "amzn.aws21.activities#DescribeAccountLimits"
        },
        {
          "target": "amzn.aws21.activities#DescribeChangeSet"
        },
        {
          "target": "amzn.aws21.activities#DescribeStackDriftDetectionStatus"
        },
        {
          "target": "amzn.aws21.activities#DescribeStackEvents"
        },
        {
          "target": "amzn.aws21.activities#DescribeStackResource"
        },
        {
          "target": "amzn.aws21.activities#DescribeStackResourceDrifts"
        },
        {
          "target": "amzn.aws21.activities#DescribeStackResources"
        },
        {
          "target": "amzn.aws21.activities#DescribeStacks"
        },
        {
          "target": "amzn.aws21.activities#DescribeType"
        },
        {
          "target": "amzn.aws21.activities#DescribeTypeRegistration"
        },
        {
          "target": "amzn.aws21.activities#DetectStackDrift"
        },
        {
          "target": "amzn.aws21.activities#DetectStackResourceDrift"
        },
        {
          "target": "amzn.aws21.activities#EstimateTemplateCost"
        },
        {
          "target": "amzn.aws21.activities#ExecuteChangeSet"
        },
        {
          "target": "amzn.aws21.activities#GetStackPolicy"
        },
        {
          "target": "amzn.aws21.activities#GetTemplate"
        },
        {
          "target": "amzn.aws21.activities#GetTemplateSummary"
        },
        {
          "target": "amzn.aws21.activities#ListChangeSets"
        },
        {
          "target": "amzn.aws21.activities#ListExports"
        },
        {
          "target": "amzn.aws21.activities#ListImports"
        },
        {
          "target": "amzn.aws21.activities#ListStackResources"
        },
        {
          "target": "amzn.aws21.activities#ListStacks"
        },
        {
          "target": "amzn.aws21.activities#ListTypeRegistrations"
        },
        {
          "target": "amzn.aws21.activities#ListTypeVersions"
        },
        {
          "target": "amzn.aws21.activities#ListTypes"
        },
        {
          "target": "amzn.aws21.activities#RecordHandlerProgress"
        },
        {
          "target": "amzn.aws21.activities#RegisterType"
        },
        {
          "target": "amzn.aws21.activities#SetStackPolicy"
        },
        {
          "target": "amzn.aws21.activities#SetTypeDefaultVersion"
        },
        {
          "target": "amzn.aws21.activities#SignalResource"
        },
        {
          "target": "amzn.aws21.activities#UpdateStack"
        },
        {
          "target": "amzn.aws21.activities#UpdateTerminationProtection"
        },
        {
          "target": "amzn.aws21.activities#ValidateTemplate"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#CreateStackInstances"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#CreateStackSet"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#DeleteStackInstances"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#DeleteStackSet"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#DescribeStackInstance"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#DescribeStackSet"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#DescribeStackSetOperation"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#DetectStackSetDrift"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#ListStackInstances"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#ListStackSetOperationResults"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#ListStackSetOperations"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#ListStackSets"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#StopStackSetOperation"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#UpdateStackInstances"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#UpdateStackSet"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudFormation",
          "arnNamespace": "cloudformation",
          "cloudFormationName": "CloudFormation",
          "cloudTrailEventSource": "activities.aws21.amzn"
        },
        "smithy.api#documentation": "<fullname>AWS CloudFormation</fullname>\n         <p>AWS CloudFormation allows you to create and manage AWS infrastructure deployments\n         predictably and repeatedly. You can use AWS CloudFormation to leverage AWS products, such\n         as Amazon Elastic Compute Cloud, Amazon Elastic Block Store, Amazon Simple Notification\n         Service, Elastic Load Balancing, and Auto Scaling to build highly-reliable, highly\n         scalable, cost-effective applications without creating or configuring the underlying AWS\n         infrastructure.</p>\n         <p>With AWS CloudFormation, you declare all of your resources and dependencies in a\n         template file. The template defines a collection of resources as a single unit called a\n         stack. AWS CloudFormation creates and deletes all member resources of the stack together\n         and manages all dependencies between the resources for you.</p>\n         <p>For more information about AWS CloudFormation, see the <a href=\"http://aws.amazon.com/cloudformation/\">AWS CloudFormation Product Page</a>.</p>\n         <p>Amazon CloudFormation makes use of other AWS products. If you need additional\n         technical information about a specific AWS product, you can find the product's technical\n         documentation at <a href=\"https://docs.aws.amazon.com/\">docs.aws.amazon.com</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.query",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS CloudFormation",
        "smithy.api#xmlNamespace": {
          "uri": "http://cloudformation.amazonaws.com/doc/2010-05-15/"
        }
      }
    },
    "amzn.aws21.activities#ContinueUpdateRollback": {
      "type": "operation",
      "input": {
        "target": "amzn.aws21.activities#ContinueUpdateRollbackInput"
      },
      "output": {
        "target": "amzn.aws21.activities#ContinueUpdateRollbackOutput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#TokenAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For a specified stack that is in the <code>UPDATE_ROLLBACK_FAILED</code> state,\n         continues rolling it back to the <code>UPDATE_ROLLBACK_COMPLETE</code> state. Depending on\n         the cause of the failure, you can manually <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> fix the error</a> and continue the rollback. By continuing the rollback, you can\n         return your stack to a working state (the <code>UPDATE_ROLLBACK_COMPLETE</code> state), and\n         then try to update the stack again.</p>\n         <p>A stack goes into the <code>UPDATE_ROLLBACK_FAILED</code> state when AWS\n         CloudFormation cannot roll back all changes after a failed stack update. For example, you\n         might have a stack that is rolling back to an old database instance that was deleted\n         outside of AWS CloudFormation. Because AWS CloudFormation doesn't know the database was\n         deleted, it assumes that the database instance still exists and attempts to roll back to\n         it, causing the update rollback to fail.</p>"
      }
    },
    "amzn.aws21.activities#ContinueUpdateRollbackInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "amzn.aws21.activities#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>ContinueUpdateRollback</code> request. Specify\n         this token if you plan to retry requests so that AWS CloudFormation knows that you're not\n         attempting to continue the rollback to a stack with the same name. You might retry\n            <code>ContinueUpdateRollback</code> requests to ensure that AWS CloudFormation\n         successfully received them.</p>"
          }
        },
        "ResourcesToSkip": {
          "target": "amzn.aws21.activities#ResourcesToSkip",
          "traits": {
            "smithy.api#documentation": "<p>A list of the logical IDs of the resources that AWS CloudFormation skips during the\n         continue update rollback operation. You can specify only resources that are in the\n            <code>UPDATE_FAILED</code> state because a rollback failed. You can't specify resources\n         that are in the <code>UPDATE_FAILED</code> state for other reasons, for example, because an\n         update was cancelled. To check why a resource update failed, use the <a>DescribeStackResources</a> action, and view the resource status reason. </p>\n         <important>\n            <p>Specify this property to skip rolling back resources that AWS CloudFormation can't\n            successfully roll back. We recommend that you <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> troubleshoot</a> resources before skipping them. AWS CloudFormation sets the\n            status of the specified resources to <code>UPDATE_COMPLETE</code> and continues to roll\n            back the stack. After the rollback is complete, the state of the skipped resources will\n            be inconsistent with the state of the resources in the stack template. Before performing\n            another stack update, you must update the stack or resources to be consistent with each\n            other. If you don't, subsequent stack updates might fail, and the stack will become\n            unrecoverable. </p>\n         </important>\n         <p>Specify the minimum number of resources required to successfully roll back your\n         stack. For example, a failed resource update might cause dependent resources to fail. In\n         this case, it might not be necessary to skip the dependent resources. </p>\n         <p>To skip resources that are part of nested stacks, use the following format:\n            <code>NestedStackName.ResourceLogicalID</code>. If you want to specify the logical ID of\n         a stack resource (<code>Type: AWS::CloudFormation::Stack</code>) in the\n            <code>ResourcesToSkip</code> list, then its corresponding embedded stack must be in one\n         of the following states: <code>DELETE_IN_PROGRESS</code>, <code>DELETE_COMPLETE</code>, or\n            <code>DELETE_FAILED</code>. </p>\n         <note>\n            <p>Don't confuse a child stack's name with its corresponding logical ID defined in\n            the parent stack. For an example of a continue update rollback operation with nested\n            stacks, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-continueupdaterollback.html#nested-stacks\">Using ResourcesToSkip to recover a nested stacks hierarchy</a>. </p>\n         </note>"
          }
        },
        "RoleARN": {
          "target": "amzn.aws21.activities#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role\n         that AWS CloudFormation assumes to roll back the stack. AWS CloudFormation uses the role's\n         credentials to make calls on your behalf. AWS CloudFormation always uses this role for all\n         future operations on the stack. As long as users have permission to operate on the stack,\n         AWS CloudFormation uses this role even if the users don't have permission to pass it.\n         Ensure that the role grants least privilege.</p>\n         <p>If you don't specify a value, AWS CloudFormation uses the role that was previously\n         associated with the stack. If no role is available, AWS CloudFormation uses a temporary\n         session that is generated from your user credentials.</p>"
          }
        },
        "StackName": {
          "target": "amzn.aws21.activities#StackNameOrId",
          "traits": {
            "smithy.api#documentation": "<p>The name or the unique ID of the stack that you want to continue rolling\n         back.</p>\n         <note>\n            <p>Don't specify the name of a nested stack (a stack that was created by using the\n               <code>AWS::CloudFormation::Stack</code> resource). Instead, use this operation on the\n            parent stack (the stack that contains the <code>AWS::CloudFormation::Stack</code>\n            resource).</p>\n         </note>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the <a>ContinueUpdateRollback</a> action.</p>"
      }
    },
    "amzn.aws21.activities#ContinueUpdateRollbackOutput": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>The output for a <a>ContinueUpdateRollback</a> action.</p>"
      }
    },
    "amzn.aws21.activities#CreateChangeSet": {
      "type": "operation",
      "input": {
        "target": "amzn.aws21.activities#CreateChangeSetInput"
      },
      "output": {
        "target": "amzn.aws21.activities#CreateChangeSetOutput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#AlreadyExistsException"
        },
        {
          "target": "amzn.aws21.activities#InsufficientCapabilitiesException"
        },
        {
          "target": "amzn.aws21.activities#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a list of changes that will be applied to a stack so that you can review the\n         changes before executing them. You can create a change set for a stack that doesn't exist\n         or an existing stack. If you create a change set for a stack that doesn't exist, the change\n         set shows all of the resources that AWS CloudFormation will create. If you create a change\n         set for an existing stack, AWS CloudFormation compares the stack's information with the\n         information that you submit in the change set and lists the differences. Use change sets to\n         understand which resources AWS CloudFormation will create or change, and how it will change\n         resources in an existing stack, before you create or update a stack.</p>\n         <p>To create a change set for a stack that doesn't exist, for the\n            <code>ChangeSetType</code> parameter, specify <code>CREATE</code>. To create a change\n         set for an existing stack, specify <code>UPDATE</code> for the <code>ChangeSetType</code>\n         parameter. To create a change set for an import operation, specify <code>IMPORT</code> for\n         the <code>ChangeSetType</code> parameter. After the <code>CreateChangeSet</code> call\n         successfully completes, AWS CloudFormation starts creating the change set. To check the\n         status of the change set or to review it, use the <a>DescribeChangeSet</a>\n         action.</p>\n         <p>When you are satisfied with the changes the change set will make, execute the change\n         set by using the <a>ExecuteChangeSet</a> action. AWS CloudFormation doesn't make\n         changes until you execute the change set.</p>"
      }
    },
    "amzn.aws21.activities#CreateChangeSetInput": {
      "type": "structure",
      "members": {
        "Capabilities": {
          "target": "amzn.aws21.activities#Capabilities",
          "traits": {
            "smithy.api#documentation": "<p>In some cases, you must explicitly acknowledge that your stack template contains certain\n         capabilities in order for AWS CloudFormation to create the stack.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>\n               </p>\n               <p>Some stack templates might include resources that can affect permissions in\n               your AWS account; for example, by creating new AWS Identity and Access Management\n               (IAM) users. For those stacks, you must explicitly acknowledge this by specifying one\n               of these capabilities.</p>\n               <p>The following IAM resources require you to specify either the\n                  <code>CAPABILITY_IAM</code> or <code>CAPABILITY_NAMED_IAM</code>\n               capability.</p>\n               <ul>\n                  <li>\n                     <p>If you have IAM resources, you can specify either capability. </p>\n                  </li>\n                  <li>\n                     <p>If you have IAM resources with custom names, you <i>must</i>\n                     specify <code>CAPABILITY_NAMED_IAM</code>. </p>\n                  </li>\n                  <li>\n                     <p>If you don't specify either of these capabilities, AWS CloudFormation returns an\n                        <code>InsufficientCapabilities</code> error.</p>\n                  </li>\n               </ul>\n               <p>If your stack template contains these resources, we recommend that you review\n               all permissions associated with them and edit their permissions if\n               necessary.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\">\n                        AWS::IAM::AccessKey</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">\n                        AWS::IAM::Group</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\">\n                        AWS::IAM::Policy</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">\n                        AWS::IAM::Role</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\">\n                        AWS::IAM::User</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>\n                     </p>\n                  </li>\n               </ul>\n               <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM\n                  Resources in AWS CloudFormation Templates</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CAPABILITY_AUTO_EXPAND</code>\n               </p>\n               <p>Some template contain macros. Macros perform custom processing on templates; this\n               can include simple actions like find-and-replace operations, all the way to extensive\n               transformations of entire templates. Because of this, users typically create a change\n               set from the processed template, so that they can review the changes resulting from\n               the macros before actually creating the stack. If your stack template contains one or\n               more macros, and you choose to create a stack directly from the processed template,\n               without first reviewing the resulting changes in a change set, you must acknowledge\n               this capability. This includes the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/create-reusable-transform-function-snippets-and-add-to-your-template-with-aws-include-transform.html\">AWS::Include</a> and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-aws-serverless.html\">AWS::Serverless</a> transforms, which are macros hosted by AWS CloudFormation.</p>\n               <note>\n                  <p>This capacity does not apply to creating change sets, and specifying it when\n                  creating change sets has no effect.</p>\n                  <p>Also, change sets do not currently support nested stacks. If you want to create\n                  a stack from a stack template that contains macros <i>and</i> nested\n                  stacks, you must create or update the stack directly from the template using the\n                     <a>CreateStack</a> or <a>UpdateStack</a> action, and\n                  specifying this capability.</p>\n               </note>\n               <p>For more information on macros, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-macros.html\">Using AWS CloudFormation Macros to\n                  Perform Custom Processing on Templates</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "ChangeSetName": {
          "target": "amzn.aws21.activities#ChangeSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the change set. The name must be unique among all change sets that are\n         associated with the specified stack.</p>\n         <p>A change set name can contain only alphanumeric, case sensitive characters and\n         hyphens. It must start with an alphabetic character and cannot exceed 128\n         characters.</p>",
            "smithy.api#required": true
          }
        },
        "ChangeSetType": {
          "target": "amzn.aws21.activities#ChangeSetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of change set operation. To create a change set for a new stack, specify\n            <code>CREATE</code>. To create a change set for an existing stack, specify\n            <code>UPDATE</code>. To create a change set for an import operation, specify\n            <code>IMPORT</code>.</p>\n         <p>If you create a change set for a new stack, AWS Cloudformation creates a stack with a\n         unique stack ID, but no template or resources. The stack will be in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-describing-stacks.html#d0e11995\">\n               <code>REVIEW_IN_PROGRESS</code>\n            </a> state until you execute the change\n         set.</p>\n         <p>By default, AWS CloudFormation specifies <code>UPDATE</code>. You can't use the\n            <code>UPDATE</code> type to create a change set for a new stack or the\n            <code>CREATE</code> type to create a change set for an existing stack.</p>"
          }
        },
        "ClientToken": {
          "target": "amzn.aws21.activities#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>CreateChangeSet</code> request. Specify this token\n         if you plan to retry requests so that AWS CloudFormation knows that you're not attempting\n         to create another change set with the same name. You might retry\n            <code>CreateChangeSet</code> requests to ensure that AWS CloudFormation successfully\n         received them.</p>"
          }
        },
        "Description": {
          "target": "amzn.aws21.activities#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description to help you identify this change set.</p>"
          }
        },
        "NotificationARNs": {
          "target": "amzn.aws21.activities#NotificationARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of Amazon Simple Notification Service (Amazon SNS)\n         topics that AWS CloudFormation associates with the stack. To remove all associated\n         notification topics, specify an empty list.</p>"
          }
        },
        "Parameters": {
          "target": "amzn.aws21.activities#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Parameter</code> structures that specify input parameters for the\n         change set. For more information, see the <a>Parameter</a> data type.</p>"
          }
        },
        "ResourceTypes": {
          "target": "amzn.aws21.activities#ResourceTypes",
          "traits": {
            "smithy.api#documentation": "<p>The template resource types that you have permissions to work with if you execute\n         this change set, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or\n            <code>Custom::MyCustomInstance</code>.</p>\n         <p>If the list of resource types doesn't include a resource type that you're updating,\n         the stack update fails. By default, AWS CloudFormation grants permissions to all resource\n         types. AWS Identity and Access Management (IAM) uses this parameter for condition keys in\n         IAM policies for AWS CloudFormation. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling Access with\n            AWS Identity and Access Management</a> in the AWS CloudFormation User\n         Guide.</p>"
          }
        },
        "ResourcesToImport": {
          "target": "amzn.aws21.activities#ResourcesToImport",
          "traits": {
            "smithy.api#documentation": "<p>The resources to import into your stack.</p>"
          }
        },
        "RoleARN": {
          "target": "amzn.aws21.activities#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role\n         that AWS CloudFormation assumes when executing the change set. AWS CloudFormation uses the\n         role's credentials to make calls on your behalf. AWS CloudFormation uses this role for all\n         future operations on the stack. As long as users have permission to operate on the stack,\n         AWS CloudFormation uses this role even if the users don't have permission to pass it.\n         Ensure that the role grants least privilege.</p>\n         <p>If you don't specify a value, AWS CloudFormation uses the role that was previously\n         associated with the stack. If no role is available, AWS CloudFormation uses a temporary\n         session that is generated from your user credentials.</p>"
          }
        },
        "RollbackConfiguration": {
          "target": "amzn.aws21.activities#RollbackConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The rollback triggers for AWS CloudFormation to monitor during stack creation and\n         updating operations, and for the specified monitoring period afterwards.</p>"
          }
        },
        "StackName": {
          "target": "amzn.aws21.activities#StackNameOrId",
          "traits": {
            "smithy.api#documentation": "<p>The name or the unique ID of the stack for which you are creating a change set. AWS\n         CloudFormation generates the change set by comparing this stack's information with the\n         information that you submit, such as a modified template or different parameter input\n         values.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "amzn.aws21.activities#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs to associate with this stack. AWS CloudFormation also propagates\n         these tags to resources in the stack. You can specify a maximum of 50 tags.</p>"
          }
        },
        "TemplateBody": {
          "target": "amzn.aws21.activities#TemplateBody",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the body of the revised template, with a minimum length of\n         1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by\n         comparing this template with the template of the stack that you specified.</p>\n         <p>Conditional: You must specify only <code>TemplateBody</code> or\n            <code>TemplateURL</code>.</p>"
          }
        },
        "TemplateURL": {
          "target": "amzn.aws21.activities#TemplateURL",
          "traits": {
            "smithy.api#documentation": "<p>The location of the file that contains the revised template. The URL must point to a\n         template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation\n         generates the change set by comparing this template with the stack that you\n         specified.</p>\n         <p>Conditional: You must specify only <code>TemplateBody</code> or\n            <code>TemplateURL</code>.</p>"
          }
        },
        "UsePreviousTemplate": {
          "target": "amzn.aws21.activities#UsePreviousTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Whether to reuse the template that is associated with the stack to create the change\n         set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the <a>CreateChangeSet</a> action.</p>"
      }
    },
    "amzn.aws21.activities#CreateChangeSetOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "amzn.aws21.activities#ChangeSetId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the change set.</p>"
          }
        },
        "StackId": {
          "target": "amzn.aws21.activities#StackId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the stack.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output for the <a>CreateChangeSet</a> action.</p>"
      }
    },
    "amzn.aws21.activities#CreateStack": {
      "type": "operation",
      "input": {
        "target": "amzn.aws21.activities#CreateStackInput"
      },
      "output": {
        "target": "amzn.aws21.activities#CreateStackOutput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#AlreadyExistsException"
        },
        {
          "target": "amzn.aws21.activities#InsufficientCapabilitiesException"
        },
        {
          "target": "amzn.aws21.activities#LimitExceededException"
        },
        {
          "target": "amzn.aws21.activities#TokenAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a stack as specified in the template. After the call completes successfully,\n         the stack creation starts. You can check the status of the stack via the <a>DescribeStacks</a> API.</p>"
      }
    },
    "amzn.aws21.activities#CreateStackInput": {
      "type": "structure",
      "members": {
        "Capabilities": {
          "target": "amzn.aws21.activities#Capabilities",
          "traits": {
            "smithy.api#documentation": "<p>In some cases, you must explicitly acknowledge that your stack template contains certain\n         capabilities in order for AWS CloudFormation to create the stack.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>\n               </p>\n               <p>Some stack templates might include resources that can affect permissions in\n               your AWS account; for example, by creating new AWS Identity and Access Management\n               (IAM) users. For those stacks, you must explicitly acknowledge this by specifying one\n               of these capabilities.</p>\n               <p>The following IAM resources require you to specify either the\n                  <code>CAPABILITY_IAM</code> or <code>CAPABILITY_NAMED_IAM</code>\n               capability.</p>\n               <ul>\n                  <li>\n                     <p>If you have IAM resources, you can specify either capability. </p>\n                  </li>\n                  <li>\n                     <p>If you have IAM resources with custom names, you <i>must</i>\n                     specify <code>CAPABILITY_NAMED_IAM</code>. </p>\n                  </li>\n                  <li>\n                     <p>If you don't specify either of these capabilities, AWS CloudFormation returns an\n                        <code>InsufficientCapabilities</code> error.</p>\n                  </li>\n               </ul>\n               <p>If your stack template contains these resources, we recommend that you review\n               all permissions associated with them and edit their permissions if\n               necessary.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\">\n                        AWS::IAM::AccessKey</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">\n                        AWS::IAM::Group</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\">\n                        AWS::IAM::Policy</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">\n                        AWS::IAM::Role</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\">\n                        AWS::IAM::User</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>\n                     </p>\n                  </li>\n               </ul>\n               <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM\n                  Resources in AWS CloudFormation Templates</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CAPABILITY_AUTO_EXPAND</code>\n               </p>\n               <p>Some template contain macros. Macros perform custom processing on templates; this\n               can include simple actions like find-and-replace operations, all the way to extensive\n               transformations of entire templates. Because of this, users typically create a change\n               set from the processed template, so that they can review the changes resulting from\n               the macros before actually creating the stack. If your stack template contains one or\n               more macros, and you choose to create a stack directly from the processed template,\n               without first reviewing the resulting changes in a change set, you must acknowledge\n               this capability. This includes the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/create-reusable-transform-function-snippets-and-add-to-your-template-with-aws-include-transform.html\">AWS::Include</a> and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-aws-serverless.html\">AWS::Serverless</a> transforms, which are macros hosted by AWS CloudFormation.</p>\n               <p>Change sets do not currently support nested stacks. If you want to create a stack\n               from a stack template that contains macros <i>and</i> nested stacks,\n               you must create the stack directly from the template using this capability.</p>\n               <important>\n                  <p>You should only create stacks directly from a stack template that contains\n                  macros if you know what processing the macro performs.</p>\n                  <p>Each macro relies on an underlying Lambda service function for processing stack\n                  templates. Be aware that the Lambda function owner can update the function\n                  operation without AWS CloudFormation being notified.</p>\n               </important>\n               <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-macros.html\">Using\n                  AWS CloudFormation Macros to Perform Custom Processing on\n               Templates</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "ClientRequestToken": {
          "target": "amzn.aws21.activities#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>CreateStack</code> request. Specify this token if\n         you plan to retry requests so that AWS CloudFormation knows that you're not attempting to\n         create a stack with the same name. You might retry <code>CreateStack</code> requests to\n         ensure that AWS CloudFormation successfully received them.</p>\n         <p>All events triggered by a given stack operation are assigned the same client request\n         token, which you can use to track operations. For example, if you execute a\n            <code>CreateStack</code> operation with the token <code>token1</code>, then all the\n            <code>StackEvents</code> generated by that operation will have\n            <code>ClientRequestToken</code> set as <code>token1</code>.</p>\n         <p>In the console, stack operations display the client request token on the Events tab.\n         Stack operations that are initiated from the console use the token format\n            <i>Console-StackOperation-ID</i>, which helps you easily identify the\n         stack operation . For example, if you create a stack using the console, each stack event\n         would be assigned the same token in the following format:\n            <code>Console-CreateStack-7f59c3cf-00d2-40c7-b2ff-e75db0987002</code>. </p>"
          }
        },
        "DisableRollback": {
          "target": "amzn.aws21.activities#DisableRollback",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to disable rollback of the stack if stack creation failed.\n         You can specify either <code>DisableRollback</code> or <code>OnFailure</code>, but not\n         both.</p>\n         <p>Default: <code>false</code>\n         </p>"
          }
        },
        "EnableTerminationProtection": {
          "target": "amzn.aws21.activities#EnableTerminationProtection",
          "traits": {
            "smithy.api#documentation": "<p>Whether to enable termination protection on the specified stack. If a user attempts\n         to delete a stack with termination protection enabled, the operation fails and the stack\n         remains unchanged. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-protect-stacks.html\">Protecting a Stack From Being\n            Deleted</a> in the <i>AWS CloudFormation User Guide</i>. Termination protection is\n         disabled on stacks by default. </p>\n         <p> For <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-nested-stacks.html\">nested stacks</a>,\n         termination protection is set on the root stack and cannot be changed directly on the\n         nested stack.</p>"
          }
        },
        "NotificationARNs": {
          "target": "amzn.aws21.activities#NotificationARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Simple Notification Service (SNS) topic ARNs to publish stack related events. You\n         can find your SNS topic ARNs using the SNS console or your Command Line Interface\n         (CLI).</p>"
          }
        },
        "OnFailure": {
          "target": "amzn.aws21.activities#OnFailure",
          "traits": {
            "smithy.api#documentation": "<p>Determines what action will be taken if stack creation fails. This must be one of:\n         DO_NOTHING, ROLLBACK, or DELETE. You can specify either <code>OnFailure</code> or\n            <code>DisableRollback</code>, but not both.</p>\n         <p>Default: <code>ROLLBACK</code>\n         </p>"
          }
        },
        "Parameters": {
          "target": "amzn.aws21.activities#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Parameter</code> structures that specify input parameters for the\n         stack. For more information, see the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data\n         type.</p>"
          }
        },
        "ResourceTypes": {
          "target": "amzn.aws21.activities#ResourceTypes",
          "traits": {
            "smithy.api#documentation": "<p>The template resource types that you have permissions to work with for this create\n         stack action, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or\n            <code>Custom::MyCustomInstance</code>. Use the following syntax to describe template\n         resource types: <code>AWS::*</code> (for all AWS resource), <code>Custom::*</code> (for all\n         custom resources), <code>Custom::<i>logical_ID</i>\n            </code> (for a specific custom resource),\n            <code>AWS::<i>service_name</i>::*</code> (for all resources of a\n         particular AWS service), and\n               <code>AWS::<i>service_name</i>::<i>resource_logical_ID</i>\n            </code> (for a specific AWS resource).</p>\n         <p>If the list of resource types doesn't include a resource that you're creating, the\n         stack creation fails. By default, AWS CloudFormation grants permissions to all resource\n         types. AWS Identity and Access Management (IAM) uses this parameter for AWS\n         CloudFormation-specific condition keys in IAM policies. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling Access with AWS Identity and Access Management</a>.</p>"
          }
        },
        "RoleARN": {
          "target": "amzn.aws21.activities#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role\n         that AWS CloudFormation assumes to create the stack. AWS CloudFormation uses the role's\n         credentials to make calls on your behalf. AWS CloudFormation always uses this role for all\n         future operations on the stack. As long as users have permission to operate on the stack,\n         AWS CloudFormation uses this role even if the users don't have permission to pass it.\n         Ensure that the role grants least privilege.</p>\n         <p>If you don't specify a value, AWS CloudFormation uses the role that was previously\n         associated with the stack. If no role is available, AWS CloudFormation uses a temporary\n         session that is generated from your user credentials.</p>"
          }
        },
        "RollbackConfiguration": {
          "target": "amzn.aws21.activities#RollbackConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The rollback triggers for AWS CloudFormation to monitor during stack creation and\n         updating operations, and for the specified monitoring period afterwards.</p>"
          }
        },
        "StackName": {
          "target": "amzn.aws21.activities#StackName",
          "traits": {
            "smithy.api#documentation": "<p>The name that is associated with the stack. The name must be unique in the region in\n         which you are creating the stack.</p>\n         <note>\n            <p>A stack name can contain only alphanumeric characters (case sensitive) and\n            hyphens. It must start with an alphabetic character and cannot be longer than 128\n            characters.</p>\n         </note>",
            "smithy.api#required": true
          }
        },
        "StackPolicyBody": {
          "target": "amzn.aws21.activities#StackPolicyBody",
          "traits": {
            "smithy.api#documentation": "<p>Structure containing the stack policy body. For more information, go to <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\"> Prevent Updates\n            to Stack Resources</a> in the <i>AWS CloudFormation User Guide</i>.\n         You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code>\n         parameter, but not both.</p>"
          }
        },
        "StackPolicyURL": {
          "target": "amzn.aws21.activities#StackPolicyURL",
          "traits": {
            "smithy.api#documentation": "<p>Location of a file containing the stack policy. The URL must point to a policy\n         (maximum size: 16 KB) located in an S3 bucket in the same region as the stack. You can\n         specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code>\n         parameter, but not both.</p>"
          }
        },
        "Tags": {
          "target": "amzn.aws21.activities#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs to associate with this stack. AWS CloudFormation also propagates\n         these tags to the resources created in the stack. A maximum number of 50 tags can be\n         specified.</p>"
          }
        },
        "TemplateBody": {
          "target": "amzn.aws21.activities#TemplateBody",
          "traits": {
            "smithy.api#documentation": "<p>Structure containing the template body with a minimum length of 1 byte and a maximum\n         length of 51,200 bytes. For more information, go to <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a>\n         in the AWS CloudFormation User Guide.</p>\n         <p>Conditional: You must specify either the <code>TemplateBody</code> or the\n            <code>TemplateURL</code> parameter, but not both.</p>"
          }
        },
        "TemplateURL": {
          "target": "amzn.aws21.activities#TemplateURL",
          "traits": {
            "smithy.api#documentation": "<p>Location of file containing the template body. The URL must point to a template (max\n         size: 460,800 bytes) that is located in an Amazon S3 bucket. For more information, go to\n         the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a>\n         in the AWS CloudFormation User Guide.</p>\n         <p>Conditional: You must specify either the <code>TemplateBody</code> or the\n            <code>TemplateURL</code> parameter, but not both.</p>"
          }
        },
        "TimeoutInMinutes": {
          "target": "amzn.aws21.activities#TimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that can pass before the stack status becomes CREATE_FAILED; if\n            <code>DisableRollback</code> is not set or is set to <code>false</code>, the stack will\n         be rolled back.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for <a>CreateStack</a> action.</p>"
      }
    },
    "com.amazonaws.maestro.service.v20160713#CreateStackInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.maestro.service.v20160713#CreateStackInstancesInput"
      },
      "output": {
        "target": "com.amazonaws.maestro.service.v20160713#CreateStackInstancesOutput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#LimitExceededException"
        },
        {
          "target": "amzn.aws21.activities#StackSetNotFoundException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#OperationIdAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#OperationInProgressException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#StaleRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates stack instances for the specified accounts, within the specified regions. A\n         stack instance refers to a stack in a specific account and region. <code>Accounts</code>\n         and <code>Regions</code> are required parameters—you must specify at least one account and\n         one region. </p>"
      }
    },
    "com.amazonaws.maestro.service.v20160713#CreateStackInstancesInput": {
      "type": "structure",
      "members": {
        "Accounts": {
          "target": "com.amazonaws.maestro.service.v20160713#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>The names of one or more AWS accounts that you want to create stack instances in the\n         specified region(s) for.</p>",
            "smithy.api#required": true
          }
        },
        "OperationId": {
          "target": "amzn.aws21.activities#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this stack set operation. </p>\n         <p>The operation ID also functions as an idempotency token, to ensure that AWS\n         CloudFormation performs the stack set operation only once, even if you retry the request\n         multiple times. You might retry stack set operation requests to ensure that AWS\n         CloudFormation successfully received them.</p>\n         <p>If you don't specify an operation ID, the SDK generates one automatically. </p>\n         <p>Repeating this stack set operation with a new operation ID retries all stack\n         instances whose status is <code>OUTDATED</code>. </p>",
            "smithy.api#idempotencyToken": true
          }
        },
        "OperationPreferences": {
          "target": "com.amazonaws.maestro.service.v20160713#StackSetOperationPreferences",
          "traits": {
            "smithy.api#documentation": "<p>Preferences for how AWS CloudFormation performs this stack set operation.</p>"
          }
        },
        "ParameterOverrides": {
          "target": "amzn.aws21.activities#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of stack set parameters whose values you want to override in the selected\n         stack instances.</p>\n         <p>Any overridden parameter values will be applied to all stack instances in the\n         specified accounts and regions. When specifying parameters and their values, be aware of\n         how AWS CloudFormation sets parameter values during stack instance operations:</p>\n         <ul>\n            <li>\n               <p>To override the current value for a parameter, include the parameter and\n               specify its value.</p>\n            </li>\n            <li>\n               <p>To leave a parameter set to its present value, you can do one of the\n               following:</p>\n               <ul>\n                  <li>\n                     <p>Do not include the parameter in the list.</p>\n                  </li>\n                  <li>\n                     <p>Include the parameter and specify <code>UsePreviousValue</code> as\n                        <code>true</code>. (You cannot specify both a value and set\n                        <code>UsePreviousValue</code> to <code>true</code>.)</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>To set all overridden parameter back to the values specified in the stack set,\n               specify a parameter list but do not include any parameters.</p>\n            </li>\n            <li>\n               <p>To leave all parameters set to their present values, do not specify this\n               property at all.</p>\n            </li>\n         </ul>\n         <p>During stack set updates, any parameter values overridden for a stack instance are\n         not updated, but retain their overridden value.</p>\n         <p>You can only override the parameter <i>values</i> that are specified in\n         the stack set; to add or delete a parameter itself, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_UpdateStackSet.html\">UpdateStackSet</a> to update the stack set template.</p>"
          }
        },
        "Regions": {
          "target": "com.amazonaws.maestro.service.v20160713#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>The names of one or more regions where you want to create stack instances using the\n         specified AWS account(s). </p>",
            "smithy.api#required": true
          }
        },
        "StackSetName": {
          "target": "com.amazonaws.maestro.service.v20160713#StackSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name or unique ID of the stack set that you want to create stack instances\n         from.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.maestro.service.v20160713#CreateStackInstancesOutput": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "amzn.aws21.activities#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this stack set operation.</p>"
          }
        }
      }
    },
    "amzn.aws21.activities#CreateStackOutput": {
      "type": "structure",
      "members": {
        "StackId": {
          "target": "amzn.aws21.activities#StackId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier of the stack.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output for a <a>CreateStack</a> action.</p>"
      }
    },
    "com.amazonaws.maestro.service.v20160713#CreateStackSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.maestro.service.v20160713#CreateStackSetInput"
      },
      "output": {
        "target": "com.amazonaws.maestro.service.v20160713#CreateStackSetOutput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#LimitExceededException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#CreatedButModifiedException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#NameAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a stack set.</p>"
      }
    },
    "com.amazonaws.maestro.service.v20160713#CreateStackSetInput": {
      "type": "structure",
      "members": {
        "AdministrationRoleARN": {
          "target": "amzn.aws21.activities#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the IAM role to use to create this stack set. </p>\n         <p>Specify an IAM role only if you are using customized administrator roles to control\n         which users or groups can manage specific stack sets within the same administrator account.\n         For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-prereqs.html\">Prerequisites:\n            Granting Permissions for Stack Set Operations</a> in the\n            <i>AWS CloudFormation User Guide</i>.</p>"
          }
        },
        "Capabilities": {
          "target": "amzn.aws21.activities#Capabilities",
          "traits": {
            "smithy.api#documentation": "<p>In some cases, you must explicitly acknowledge that your stack set template contains\n         certain capabilities in order for AWS CloudFormation to create the stack set and related stack\n         instances.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>\n               </p>\n               <p>Some stack templates might include resources that can affect permissions in\n               your AWS account; for example, by creating new AWS Identity and Access Management\n               (IAM) users. For those stack sets, you must explicitly acknowledge this by specifying\n               one of these capabilities.</p>\n               <p>The following IAM resources require you to specify either the\n                  <code>CAPABILITY_IAM</code> or <code>CAPABILITY_NAMED_IAM</code>\n               capability.</p>\n               <ul>\n                  <li>\n                     <p>If you have IAM resources, you can specify either capability. </p>\n                  </li>\n                  <li>\n                     <p>If you have IAM resources with custom names, you <i>must</i>\n                     specify <code>CAPABILITY_NAMED_IAM</code>. </p>\n                  </li>\n                  <li>\n                     <p>If you don't specify either of these capabilities, AWS CloudFormation returns an\n                        <code>InsufficientCapabilities</code> error.</p>\n                  </li>\n               </ul>\n               <p>If your stack template contains these resources, we recommend that you review\n               all permissions associated with them and edit their permissions if\n               necessary.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\">\n                        AWS::IAM::AccessKey</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">\n                        AWS::IAM::Group</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\">\n                        AWS::IAM::Policy</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">\n                        AWS::IAM::Role</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\">\n                        AWS::IAM::User</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>\n                     </p>\n                  </li>\n               </ul>\n               <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM\n                  Resources in AWS CloudFormation Templates</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CAPABILITY_AUTO_EXPAND</code>\n               </p>\n               <p>Some templates contain macros. If your stack template contains one or more macros,\n               and you choose to create a stack directly from the processed template, without first\n               reviewing the resulting changes in a change set, you must acknowledge this\n               capability. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-macros.html\">Using AWS CloudFormation Macros to Perform Custom Processing on\n               Templates</a>.</p>\n               <note>\n                  <p>Stack sets do not currently support macros in stack templates. (This includes\n                  the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/create-reusable-transform-function-snippets-and-add-to-your-template-with-aws-include-transform.html\">AWS::Include</a> and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-aws-serverless.html\">AWS::Serverless</a>\n                  transforms, which are macros hosted by AWS CloudFormation.) Even if you specify this\n                  capability, if you include a macro in your template the stack set operation will\n                  fail.</p>\n               </note>\n            </li>\n         </ul>"
          }
        },
        "ClientRequestToken": {
          "target": "amzn.aws21.activities#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>CreateStackSet</code> request. Specify this token\n         if you plan to retry requests so that AWS CloudFormation knows that you're not attempting\n         to create another stack set with the same name. You might retry <code>CreateStackSet</code>\n         requests to ensure that AWS CloudFormation successfully received them.</p>\n         <p>If you don't specify an operation ID, the SDK generates one automatically.\n      </p>",
            "smithy.api#idempotencyToken": true
          }
        },
        "Description": {
          "target": "amzn.aws21.activities#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the stack set. You can use the description to identify the stack\n         set's purpose or other important information.</p>"
          }
        },
        "ExecutionRoleName": {
          "target": "com.amazonaws.maestro.service.v20160713#ExecutionRoleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM execution role to use to create the stack set. If you do not specify\n         an execution role, AWS CloudFormation uses the <code>AWSCloudFormationStackSetExecutionRole</code> role\n         for the stack set operation.</p>\n         <p>Specify an IAM role only if you are using customized execution roles to control which\n         stack resources users and groups can include in their stack sets.\n         \n      </p>"
          }
        },
        "Parameters": {
          "target": "amzn.aws21.activities#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>The input parameters for the stack set template. </p>"
          }
        },
        "StackSetName": {
          "target": "com.amazonaws.maestro.service.v20160713#StackSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name to associate with the stack set. The name must be unique in the region where\n         you create your stack set.</p>\n         <note>\n            <p>A stack name can contain only alphanumeric characters (case-sensitive) and\n            hyphens. It must start with an alphabetic character and can't be longer than 128\n            characters.</p>\n         </note>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "amzn.aws21.activities#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to associate with this stack set and the stacks created from it.\n         AWS CloudFormation also propagates these tags to supported resources that are created in\n         the stacks. A maximum number of 50 tags can be specified.</p>\n         <p>If you specify tags as part of a <code>CreateStackSet</code> action, AWS\n         CloudFormation checks to see if you have the required IAM permission to tag resources. If\n         you don't, the entire <code>CreateStackSet</code> action fails with an <code>access\n            denied</code> error, and the stack set is not created.</p>"
          }
        },
        "TemplateBody": {
          "target": "amzn.aws21.activities#TemplateBody",
          "traits": {
            "smithy.api#documentation": "<p>The structure that contains the template body, with a minimum length of 1 byte and a\n         maximum length of 51,200 bytes. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a>\n         in the AWS CloudFormation User Guide.</p>\n         <p>Conditional: You must specify either the TemplateBody or the TemplateURL parameter,\n         but not both.</p>"
          }
        },
        "TemplateURL": {
          "target": "amzn.aws21.activities#TemplateURL",
          "traits": {
            "smithy.api#documentation": "<p>The location of the file that contains the template body. The URL must point to a\n         template (maximum size: 460,800 bytes) that's located in an Amazon S3 bucket. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a>\n         in the AWS CloudFormation User Guide.</p>\n         <p>Conditional: You must specify either the TemplateBody or the TemplateURL parameter,\n         but not both.</p>"
          }
        }
      }
    },
    "com.amazonaws.maestro.service.v20160713#CreateStackSetOutput": {
      "type": "structure",
      "members": {
        "StackSetId": {
          "target": "com.amazonaws.maestro.service.v20160713#StackSetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the stack set that you're creating.</p>"
          }
        }
      }
    },
    "com.amazonaws.maestro.service.v20160713#CreatedButModifiedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "amzn.aws21.activities#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource exists, but has been changed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "amzn.aws21.activities#CreationTime": {
      "type": "timestamp"
    },
    "amzn.aws21.activities#DeleteChangeSet": {
      "type": "operation",
      "input": {
        "target": "amzn.aws21.activities#DeleteChangeSetInput"
      },
      "output": {
        "target": "amzn.aws21.activities#DeleteChangeSetOutput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#InvalidChangeSetStatusException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified change set. Deleting change sets ensures that no one executes\n         the wrong change set.</p>\n         <p>If the call successfully completes, AWS CloudFormation successfully deleted the\n         change set.</p>"
      }
    },
    "amzn.aws21.activities#DeleteChangeSetInput": {
      "type": "structure",
      "members": {
        "ChangeSetName": {
          "target": "amzn.aws21.activities#ChangeSetNameOrId",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the change set that you want to\n         delete.</p>",
            "smithy.api#required": true
          }
        },
        "StackName": {
          "target": "amzn.aws21.activities#StackNameOrId",
          "traits": {
            "smithy.api#documentation": "<p>If you specified the name of a change set to delete, specify the stack name or ID\n         (ARN) that is associated with it.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the <a>DeleteChangeSet</a> action.</p>"
      }
    },
    "amzn.aws21.activities#DeleteChangeSetOutput": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>The output for the <a>DeleteChangeSet</a> action.</p>"
      }
    },
    "amzn.aws21.activities#DeleteStack": {
      "type": "operation",
      "input": {
        "target": "amzn.aws21.activities#DeleteStackInput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#TokenAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified stack. Once the call completes successfully, stack deletion\n         starts. Deleted stacks do not show up in the <a>DescribeStacks</a> API if the\n         deletion has been completed successfully.</p>"
      }
    },
    "amzn.aws21.activities#DeleteStackInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "amzn.aws21.activities#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>DeleteStack</code> request. Specify this token if\n         you plan to retry requests so that AWS CloudFormation knows that you're not attempting to\n         delete a stack with the same name. You might retry <code>DeleteStack</code> requests to\n         ensure that AWS CloudFormation successfully received them.</p>\n         <p>All events triggered by a given stack operation are assigned the same client request\n         token, which you can use to track operations. For example, if you execute a\n            <code>CreateStack</code> operation with the token <code>token1</code>, then all the\n            <code>StackEvents</code> generated by that operation will have\n            <code>ClientRequestToken</code> set as <code>token1</code>.</p>\n         <p>In the console, stack operations display the client request token on the Events tab.\n         Stack operations that are initiated from the console use the token format\n            <i>Console-StackOperation-ID</i>, which helps you easily identify the\n         stack operation . For example, if you create a stack using the console, each stack event\n         would be assigned the same token in the following format:\n            <code>Console-CreateStack-7f59c3cf-00d2-40c7-b2ff-e75db0987002</code>. </p>"
          }
        },
        "RetainResources": {
          "target": "amzn.aws21.activities#RetainResources",
          "traits": {
            "smithy.api#documentation": "<p>For stacks in the <code>DELETE_FAILED</code> state, a list of resource logical IDs\n         that are associated with the resources you want to retain. During deletion, AWS\n         CloudFormation deletes the stack but does not delete the retained resources.</p>\n         <p>Retaining resources is useful when you cannot delete a resource, such as a non-empty\n         S3 bucket, but you want to delete the stack.</p>"
          }
        },
        "RoleARN": {
          "target": "amzn.aws21.activities#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role\n         that AWS CloudFormation assumes to delete the stack. AWS CloudFormation uses the role's\n         credentials to make calls on your behalf.</p>\n         <p>If you don't specify a value, AWS CloudFormation uses the role that was previously\n         associated with the stack. If no role is available, AWS CloudFormation uses a temporary\n         session that is generated from your user credentials.</p>"
          }
        },
        "StackName": {
          "target": "amzn.aws21.activities#StackName",
          "traits": {
            "smithy.api#documentation": "<p>The name or the unique stack ID that is associated with the stack.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for <a>DeleteStack</a> action.</p>"
      }
    },
    "com.amazonaws.maestro.service.v20160713#DeleteStackInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.maestro.service.v20160713#DeleteStackInstancesInput"
      },
      "output": {
        "target": "com.amazonaws.maestro.service.v20160713#DeleteStackInstancesOutput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#StackSetNotFoundException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#OperationIdAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#OperationInProgressException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#StaleRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes stack instances for the specified accounts, in the specified regions. </p>"
      }
    },
    "com.amazonaws.maestro.service.v20160713#DeleteStackInstancesInput": {
      "type": "structure",
      "members": {
        "Accounts": {
          "target": "com.amazonaws.maestro.service.v20160713#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the AWS accounts that you want to delete stack instances for.</p>",
            "smithy.api#required": true
          }
        },
        "OperationId": {
          "target": "amzn.aws21.activities#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this stack set operation. </p>\n         <p>If you don't specify an operation ID, the SDK generates one automatically. </p>\n         <p>The operation ID also functions as an idempotency token, to ensure that AWS\n         CloudFormation performs the stack set operation only once, even if you retry the request\n         multiple times. You can retry stack set operation requests to ensure that AWS\n         CloudFormation successfully received them.</p>\n         <p>Repeating this stack set operation with a new operation ID retries all stack\n         instances whose status is <code>OUTDATED</code>. </p>",
            "smithy.api#idempotencyToken": true
          }
        },
        "OperationPreferences": {
          "target": "com.amazonaws.maestro.service.v20160713#StackSetOperationPreferences",
          "traits": {
            "smithy.api#documentation": "<p>Preferences for how AWS CloudFormation performs this stack set operation.</p>"
          }
        },
        "Regions": {
          "target": "com.amazonaws.maestro.service.v20160713#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>The regions where you want to delete stack set instances. </p>",
            "smithy.api#required": true
          }
        },
        "RetainStacks": {
          "target": "com.amazonaws.maestro.service.v20160713#RetainStacks",
          "traits": {
            "smithy.api#documentation": "<p>Removes the stack instances from the specified stack set, but doesn't delete the\n         stacks. You can't reassociate a retained stack or add an existing, saved stack to a new\n         stack set.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-concepts.html#stackset-ops-options\">Stack set operation options</a>.</p>",
            "smithy.api#required": true
          }
        },
        "StackSetName": {
          "target": "com.amazonaws.maestro.service.v20160713#StackSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name or unique ID of the stack set that you want to delete stack instances\n         for.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.maestro.service.v20160713#DeleteStackInstancesOutput": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "amzn.aws21.activities#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this stack set operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.maestro.service.v20160713#DeleteStackSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.maestro.service.v20160713#DeleteStackSetInput"
      },
      "output": {
        "target": "com.amazonaws.maestro.service.v20160713#DeleteStackSetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.maestro.service.v20160713#OperationInProgressException"
        },
        {
          "target": "com.amazonaws.maestro.service.v20160713#StackSetNotEmptyException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a stack set. Before you can delete a stack set, all of its member stack\n         instances must be deleted. For more information about how to do this, see <a>DeleteStackInstances</a>. </p>"
      }
    },
    "com.amazonaws.maestro.service.v20160713#DeleteStackSetInput": {
      "type": "structure",
      "members": {
        "StackSetName": {
          "target": "com.amazonaws.maestro.service.v20160713#StackSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name or unique ID of the stack set that you're deleting. You can obtain this\n         value by running <a>ListStackSets</a>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.maestro.service.v20160713#DeleteStackSetOutput": {
      "type": "structure",
      "members": { }
    },
    "amzn.aws21.activities#DeletionTime": {
      "type": "timestamp"
    },
    "amzn.aws21.activities#DeprecatedStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "LIVE": { },
          "DEPRECATED": { }
        }
      }
    },
    "amzn.aws21.activities#DeregisterType": {
      "type": "operation",
      "input": {
        "target": "amzn.aws21.activities#DeregisterTypeInput"
      },
      "output": {
        "target": "amzn.aws21.activities#DeregisterTypeOutput"
      },
      "errors": [
        {
          "target": "amzn.aws21.activities#CFNRegistryException"
        },
        {
          "target": "amzn.aws21.activities#TypeNotFoundException"
        }
      ],
      "traits": {
[...]
