{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.baldr.api.service#Backup": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.baldr.api.service#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the backup.</p>",
            "smithy.api#required": true
          }
        },
        "BackupState": {
          "target": "com.amazonaws.baldr.api.service#BackupState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the backup.</p>"
          }
        },
        "ClusterId": {
          "target": "com.amazonaws.baldr.api.service#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that was backed up.</p>"
          }
        },
        "CopyTimestamp": {
          "target": "com.amazonaws.baldr.api.service#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the backup was copied from a source backup.</p>"
          }
        },
        "CreateTimestamp": {
          "target": "com.amazonaws.baldr.api.service#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the backup was created.</p>"
          }
        },
        "DeleteTimestamp": {
          "target": "com.amazonaws.baldr.api.service#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the backup will be permanently deleted.</p>"
          }
        },
        "SourceBackup": {
          "target": "com.amazonaws.baldr.api.service#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the source backup from which the new backup was\n      copied.</p>"
          }
        },
        "SourceCluster": {
          "target": "com.amazonaws.baldr.api.service#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster containing the source backup from which the new\n      backup was copied. .</p>"
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.baldr.api.service#Region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS region that contains the source backup from which the new backup was\n      copied.</p>"
          }
        },
        "TagList": {
          "target": "com.amazonaws.baldr.api.service#TagList"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a backup of an AWS CloudHSM cluster. All backup objects\n      contain the BackupId, BackupState, ClusterId, and CreateTimestamp parameters. Backups that were copied\n      into a destination region additionally contain the CopyTimestamp, SourceBackup, SourceCluster,\n      and SourceRegion paramters. A backup that is pending deletion will include the DeleteTimestamp parameter.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#BackupId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "backup-[2-7a-zA-Z]{11,16}"
      }
    },
    "com.amazonaws.baldr.api.service#BackupPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DEFAULT": {
            "name": "DEFAULT"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#BackupState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATE_IN_PROGRESS": {
            "name": "CREATE_IN_PROGRESS"
          },
          "READY": {
            "name": "READY"
          },
          "DELETED": {
            "name": "DELETED"
          },
          "PENDING_DELETION": {
            "name": "PENDING_DELETION"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#Backups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.baldr.api.service#Backup"
      }
    },
    "com.amazonaws.baldr.api.service#BaldrApiService": {
      "type": "service",
      "version": "2017-04-28",
      "operations": [
        {
          "target": "com.amazonaws.baldr.api.service#CopyBackupToRegion"
        },
        {
          "target": "com.amazonaws.baldr.api.service#CreateCluster"
        },
        {
          "target": "com.amazonaws.baldr.api.service#CreateHsm"
        },
        {
          "target": "com.amazonaws.baldr.api.service#DeleteBackup"
        },
        {
          "target": "com.amazonaws.baldr.api.service#DeleteCluster"
        },
        {
          "target": "com.amazonaws.baldr.api.service#DeleteHsm"
        },
        {
          "target": "com.amazonaws.baldr.api.service#DescribeBackups"
        },
        {
          "target": "com.amazonaws.baldr.api.service#DescribeClusters"
        },
        {
          "target": "com.amazonaws.baldr.api.service#InitializeCluster"
        },
        {
          "target": "com.amazonaws.baldr.api.service#ListTags"
        },
        {
          "target": "com.amazonaws.baldr.api.service#RestoreBackup"
        },
        {
          "target": "com.amazonaws.baldr.api.service#TagResource"
        },
        {
          "target": "com.amazonaws.baldr.api.service#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudHSM V2",
          "arnNamespace": "cloudhsm",
          "cloudFormationName": "CloudHSMV2",
          "cloudTrailEventSource": "service.api.baldr.amazonaws.com"
        },
        "smithy.api#documentation": "<p>For more information about AWS CloudHSM, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a> and the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS\n      CloudHSM User Guide</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS CloudHSM V2"
      }
    },
    "com.amazonaws.baldr.api.service#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.baldr.api.service#Cert": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5000
        },
        "smithy.api#pattern": "[a-zA-Z0-9+-/=\\s]*"
      }
    },
    "com.amazonaws.baldr.api.service#Certificates": {
      "type": "structure",
      "members": {
        "AwsHardwareCertificate": {
          "target": "com.amazonaws.baldr.api.service#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The HSM hardware certificate issued (signed) by AWS CloudHSM.</p>"
          }
        },
        "ClusterCertificate": {
          "target": "com.amazonaws.baldr.api.service#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The cluster certificate issued (signed) by the issuing certificate authority (CA) of\n      the cluster's owner.</p>"
          }
        },
        "ClusterCsr": {
          "target": "com.amazonaws.baldr.api.service#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's certificate signing request (CSR). The CSR exists only when the cluster's\n      state is <code>UNINITIALIZED</code>.</p>"
          }
        },
        "HsmCertificate": {
          "target": "com.amazonaws.baldr.api.service#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The HSM certificate issued (signed) by the HSM hardware.</p>"
          }
        },
        "ManufacturerHardwareCertificate": {
          "target": "com.amazonaws.baldr.api.service#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The HSM hardware certificate issued (signed) by the hardware manufacturer.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains one or more certificates or a certificate signing request (CSR).</p>"
      }
    },
    "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsm.api.service#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the requester does not have permission to perform the\n      requested operation.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsm.api.service#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can\n      be retried.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsm.api.service#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because it is not a valid request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsm.api.service#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because it refers to a resource that cannot be\n      found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsm.api.service#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because an error occurred.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsm.api.service#CloudHsmTagException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsm.api.service#errorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.baldr.api.service#Cluster": {
      "type": "structure",
      "members": {
        "BackupPolicy": {
          "target": "com.amazonaws.baldr.api.service#BackupPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's backup policy.</p>"
          }
        },
        "Certificates": {
          "target": "com.amazonaws.baldr.api.service#Certificates",
          "traits": {
            "smithy.api#documentation": "<p>Contains one or more certificates or a certificate signing request (CSR).</p>"
          }
        },
        "ClusterId": {
          "target": "com.amazonaws.baldr.api.service#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's identifier (ID).</p>"
          }
        },
        "CreateTimestamp": {
          "target": "com.amazonaws.baldr.api.service#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cluster was created.</p>"
          }
        },
        "HsmType": {
          "target": "com.amazonaws.baldr.api.service#HsmType",
          "traits": {
            "smithy.api#documentation": "<p>The type of HSM that the cluster contains.</p>"
          }
        },
        "Hsms": {
          "target": "com.amazonaws.baldr.api.service#Hsms",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the HSMs in the cluster.</p>"
          }
        },
        "PreCoPassword": {
          "target": "com.amazonaws.baldr.api.service#PreCoPassword",
          "traits": {
            "smithy.api#documentation": "<p>The default password for the cluster's Pre-Crypto Officer (PRECO) user.</p>"
          }
        },
        "SecurityGroup": {
          "target": "com.amazonaws.baldr.api.service#SecurityGroup",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster's security group.</p>"
          }
        },
        "SourceBackupId": {
          "target": "com.amazonaws.baldr.api.service#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the backup used to create the cluster. This value exists only\n      when the cluster was created from a backup.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.baldr.api.service#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's state.</p>"
          }
        },
        "StateMessage": {
          "target": "com.amazonaws.baldr.api.service#StateMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the cluster's state.</p>"
          }
        },
        "SubnetMapping": {
          "target": "com.amazonaws.baldr.api.service#ExternalSubnetMapping",
          "traits": {
            "smithy.api#documentation": "<p>A map from availability zone to the cluster’s subnet in that availability zone.</p>"
          }
        },
        "TagList": {
          "target": "com.amazonaws.baldr.api.service#TagList"
        },
        "VpcId": {
          "target": "com.amazonaws.baldr.api.service#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the virtual private cloud (VPC) that contains the\n      cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an AWS CloudHSM cluster.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#ClusterId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "cluster-[2-7a-zA-Z]{11,16}"
      }
    },
    "com.amazonaws.baldr.api.service#ClusterState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATE_IN_PROGRESS": {
            "name": "CREATE_IN_PROGRESS"
          },
          "UNINITIALIZED": {
            "name": "UNINITIALIZED"
          },
          "INITIALIZE_IN_PROGRESS": {
            "name": "INITIALIZE_IN_PROGRESS"
          },
          "INITIALIZED": {
            "name": "INITIALIZED"
          },
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "UPDATE_IN_PROGRESS": {
            "name": "UPDATE_IN_PROGRESS"
          },
          "DELETE_IN_PROGRESS": {
            "name": "DELETE_IN_PROGRESS"
          },
          "DELETED": {
            "name": "DELETED"
          },
          "DEGRADED": {
            "name": "DEGRADED"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#Clusters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.baldr.api.service#Cluster"
      }
    },
    "com.amazonaws.baldr.api.service#CopyBackupToRegion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#CopyBackupToRegionRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#CopyBackupToRegionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copy an AWS CloudHSM cluster backup to a different region.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#CopyBackupToRegionRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.baldr.api.service#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup that will be copied to the destination region. </p>",
            "smithy.api#required": true
          }
        },
        "DestinationRegion": {
          "target": "com.amazonaws.baldr.api.service#Region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS region that will contain your copied CloudHSM cluster backup.</p>",
            "smithy.api#required": true
          }
        },
        "TagList": {
          "target": "com.amazonaws.baldr.api.service#TagList"
        }
      }
    },
    "com.amazonaws.baldr.api.service#CopyBackupToRegionResponse": {
      "type": "structure",
      "members": {
        "DestinationBackup": {
          "target": "com.amazonaws.baldr.api.service#DestinationBackup",
          "traits": {
            "smithy.api#documentation": "<p>Information on the backup that will be copied to the destination region, including\n      CreateTimestamp, SourceBackup, SourceCluster, and Source Region. CreateTimestamp of the\n      destination backup will be the same as that of the source backup.</p>\n         <p>You will need to use the <code>sourceBackupID</code> returned in this operation to use\n      the <a>DescribeBackups</a> operation on the backup that will be copied to the\n      destination region.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new AWS CloudHSM cluster.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "HsmType": {
          "target": "com.amazonaws.baldr.api.service#HsmType",
          "traits": {
            "smithy.api#documentation": "<p>The type of HSM to use in the cluster. Currently the only allowed value is\n      <code>hsm1.medium</code>.</p>",
            "smithy.api#required": true
          }
        },
        "SourceBackupId": {
          "target": "com.amazonaws.baldr.api.service#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster backup to restore. Use this value to restore the\n      cluster from a backup instead of creating a new cluster. To find the backup ID, use <a>DescribeBackups</a>.</p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.baldr.api.service#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers (IDs) of the subnets where you are creating the cluster. You must\n      specify at least one subnet. If you specify multiple subnets, they must meet the following\n      criteria:</p>\n         <ul>\n            <li>\n               <p>All subnets must be in the same virtual private cloud (VPC).</p>\n            </li>\n            <li>\n               <p>You can specify only one subnet per Availability Zone.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "TagList": {
          "target": "com.amazonaws.baldr.api.service#TagList"
        }
      }
    },
    "com.amazonaws.baldr.api.service#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.baldr.api.service#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>Information about the cluster that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#CreateHsm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#CreateHsmRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#CreateHsmResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new hardware security module (HSM) in the specified AWS CloudHSM\n      cluster.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#CreateHsmRequest": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.baldr.api.service#ExternalAz",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone where you are creating the HSM. To find the cluster's\n      Availability Zones, use <a>DescribeClusters</a>.</p>",
            "smithy.api#required": true
          }
        },
        "ClusterId": {
          "target": "com.amazonaws.baldr.api.service#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the HSM's cluster. To find the cluster ID, use <a>DescribeClusters</a>.</p>",
            "smithy.api#required": true
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.baldr.api.service#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The HSM's IP address. If you specify an IP address, use an available address from the\n      subnet that maps to the Availability Zone where you are creating the HSM. If you don't specify\n      an IP address, one is chosen for you from that subnet.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#CreateHsmResponse": {
      "type": "structure",
      "members": {
        "Hsm": {
          "target": "com.amazonaws.baldr.api.service#Hsm",
          "traits": {
            "smithy.api#documentation": "<p>Information about the HSM that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DeleteBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#DeleteBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#DeleteBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified AWS CloudHSM backup. A backup can be restored up to 7 days\n            after the DeleteBackup request is made. For more information on restoring a backup, see\n                <a>RestoreBackup</a>.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#DeleteBackupRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.baldr.api.service#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup to be deleted. To find the ID of a backup, use the <a>DescribeBackups</a> operation.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DeleteBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "target": "com.amazonaws.baldr.api.service#Backup",
          "traits": {
            "smithy.api#documentation": "<p>Information on the <code>Backup</code> object deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified AWS CloudHSM cluster. Before you can delete a cluster, you must\n      delete all HSMs in the cluster. To see if the cluster contains any HSMs, use <a>DescribeClusters</a>. To delete an HSM, use <a>DeleteHsm</a>.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.baldr.api.service#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that you are deleting. To find the cluster ID, use\n      <a>DescribeClusters</a>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DeleteClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.baldr.api.service#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>Information about the cluster that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DeleteHsm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#DeleteHsmRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#DeleteHsmResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified HSM. To specify an HSM, you can use its identifier (ID), the IP\n      address of the HSM's elastic network interface (ENI), or the ID of the HSM's ENI. You need to\n      specify only one of these values. To find these values, use <a>DescribeClusters</a>.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#DeleteHsmRequest": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.baldr.api.service#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that contains the HSM that you are\n      deleting.</p>",
            "smithy.api#required": true
          }
        },
        "EniId": {
          "target": "com.amazonaws.baldr.api.service#EniId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the elastic network interface (ENI) of the HSM that you are\n      deleting.</p>"
          }
        },
        "EniIp": {
          "target": "com.amazonaws.baldr.api.service#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the elastic network interface (ENI) of the HSM that you are\n      deleting.</p>"
          }
        },
        "HsmId": {
          "target": "com.amazonaws.baldr.api.service#HsmId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the HSM that you are deleting.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DeleteHsmResponse": {
      "type": "structure",
      "members": {
        "HsmId": {
          "target": "com.amazonaws.baldr.api.service#HsmId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the HSM that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DescribeBackups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#DescribeBackupsRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#DescribeBackupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about backups of AWS CloudHSM clusters.</p>\n         <p>This is a paginated operation, which means that each response might contain only a\n      subset of all the backups. When the response contains only a subset of backups, it includes a\n        <code>NextToken</code> value. Use this value in a subsequent <code>DescribeBackups</code>\n      request to get more backups. When you receive a response with no <code>NextToken</code> (or an\n      empty or null value), that means there are no more backups to get.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.baldr.api.service#DescribeBackupsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.baldr.api.service#Filters",
          "traits": {
            "smithy.api#documentation": "<p>One or more filters to limit the items returned in the response.</p>\n         <p>Use the <code>backupIds</code> filter to return only the specified backups. Specify\n      backups by their backup identifier (ID).</p>\n         <p>Use the <code>sourceBackupIds</code> filter to return only the backups created from a\n      source backup. The <code>sourceBackupID</code> of a source backup is returned by the <a>CopyBackupToRegion</a> operation.</p>\n         <p>Use the <code>clusterIds</code> filter to return only the backups for the specified\n      clusters. Specify clusters by their cluster identifier (ID).</p>\n         <p>Use the <code>states</code> filter to return only backups that match the specified\n      state.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.baldr.api.service#MaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of backups to return in the response. When there are more backups\n      than the number you specify, the response contains a <code>NextToken</code> value.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.baldr.api.service#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>NextToken</code> value that you received in the previous response. Use this\n      value to get more backups.</p>"
          }
        },
        "SortAscending": {
          "target": "com.amazonaws.baldr.api.service#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Designates whether or not to sort the return backups by ascending chronological order\n      of generation.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DescribeBackupsResponse": {
      "type": "structure",
      "members": {
        "Backups": {
          "target": "com.amazonaws.baldr.api.service#Backups",
          "traits": {
            "smithy.api#documentation": "<p>A list of backups.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.baldr.api.service#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An opaque string that indicates that the response contains only a subset of backups.\n      Use this value in a subsequent <code>DescribeBackups</code> request to get more\n      backups.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DescribeClusters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#DescribeClustersRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#DescribeClustersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about AWS CloudHSM clusters.</p>\n         <p>This is a paginated operation, which means that each response might contain only a\n      subset of all the clusters. When the response contains only a subset of clusters, it includes\n      a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeClusters</code>\n      request to get more clusters. When you receive a response with no <code>NextToken</code> (or\n      an empty or null value), that means there are no more clusters to get.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.baldr.api.service#DescribeClustersRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.baldr.api.service#Filters",
          "traits": {
            "smithy.api#documentation": "<p>One or more filters to limit the items returned in the response.</p>\n         <p>Use the <code>clusterIds</code> filter to return only the specified clusters. Specify\n      clusters by their cluster identifier (ID).</p>\n         <p>Use the <code>vpcIds</code> filter to return only the clusters in the specified virtual\n      private clouds (VPCs). Specify VPCs by their VPC identifier (ID).</p>\n         <p>Use the <code>states</code> filter to return only clusters that match the specified\n      state.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.baldr.api.service#MaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of clusters to return in the response. When there are more clusters\n      than the number you specify, the response contains a <code>NextToken</code> value.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.baldr.api.service#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>NextToken</code> value that you received in the previous response. Use this\n      value to get more clusters.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DescribeClustersResponse": {
      "type": "structure",
      "members": {
        "Clusters": {
          "target": "com.amazonaws.baldr.api.service#Clusters",
          "traits": {
            "smithy.api#documentation": "<p>A list of clusters.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.baldr.api.service#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An opaque string that indicates that the response contains only a subset of clusters.\n      Use this value in a subsequent <code>DescribeClusters</code> request to get more\n      clusters.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#DestinationBackup": {
      "type": "structure",
      "members": {
        "CreateTimestamp": {
          "target": "com.amazonaws.baldr.api.service#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when both the source backup was created.</p>"
          }
        },
        "SourceBackup": {
          "target": "com.amazonaws.baldr.api.service#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the source backup from which the new backup was copied.</p>"
          }
        },
        "SourceCluster": {
          "target": "com.amazonaws.baldr.api.service#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster containing the source backup from which the new backup was copied.</p>"
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.baldr.api.service#Region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS region that contains the source backup from which the new backup was copied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the backup that will be copied and created by the <a>CopyBackupToRegion</a> operation.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#EniId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "eni-[0-9a-fA-F]{8,17}"
      }
    },
    "com.amazonaws.baldr.api.service#ExternalAz": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]"
      }
    },
    "com.amazonaws.baldr.api.service#ExternalSubnetMapping": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.baldr.api.service#ExternalAz"
      },
      "value": {
        "target": "com.amazonaws.baldr.api.service#SubnetId"
      }
    },
    "com.amazonaws.baldr.api.service#Field": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-zA-Z0-9_-]+"
      }
    },
    "com.amazonaws.baldr.api.service#Filters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.baldr.api.service#Field"
      },
      "value": {
        "target": "com.amazonaws.baldr.api.service#Strings"
      }
    },
    "com.amazonaws.baldr.api.service#Hsm": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.baldr.api.service#ExternalAz",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone that contains the HSM.</p>"
          }
        },
        "ClusterId": {
          "target": "com.amazonaws.baldr.api.service#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that contains the HSM.</p>"
          }
        },
        "EniId": {
          "target": "com.amazonaws.baldr.api.service#EniId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the HSM's elastic network interface (ENI).</p>"
          }
        },
        "EniIp": {
          "target": "com.amazonaws.baldr.api.service#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the HSM's elastic network interface (ENI).</p>"
          }
        },
        "HsmId": {
          "target": "com.amazonaws.baldr.api.service#HsmId",
          "traits": {
            "smithy.api#documentation": "<p>The HSM's identifier (ID).</p>",
            "smithy.api#required": true
          }
        },
        "State": {
          "target": "com.amazonaws.baldr.api.service#HsmState",
          "traits": {
            "smithy.api#documentation": "<p>The HSM's state.</p>"
          }
        },
        "StateMessage": {
          "target": "com.amazonaws.baldr.api.service#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the HSM's state.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.baldr.api.service#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The subnet that contains the HSM's elastic network interface (ENI).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a hardware security module (HSM) in an AWS CloudHSM\n      cluster.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#HsmId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "hsm-[2-7a-zA-Z]{11,16}"
      }
    },
    "com.amazonaws.baldr.api.service#HsmState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATE_IN_PROGRESS": {
            "name": "CREATE_IN_PROGRESS"
          },
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "DEGRADED": {
            "name": "DEGRADED"
          },
          "DELETE_IN_PROGRESS": {
            "name": "DELETE_IN_PROGRESS"
          },
          "DELETED": {
            "name": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#HsmType": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(hsm1\\.medium)"
      }
    },
    "com.amazonaws.baldr.api.service#Hsms": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.baldr.api.service#Hsm"
      }
    },
    "com.amazonaws.baldr.api.service#InitializeCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#InitializeClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#InitializeClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Claims an AWS CloudHSM cluster by submitting the cluster certificate issued by your\n      issuing certificate authority (CA) and the CA's root certificate. Before you can claim a\n      cluster, you must sign the cluster's certificate signing request (CSR) with your issuing CA.\n      To get the cluster's CSR, use <a>DescribeClusters</a>.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#InitializeClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.baldr.api.service#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that you are claiming. To find the cluster ID, use\n        <a>DescribeClusters</a>.</p>",
            "smithy.api#required": true
          }
        },
        "SignedCert": {
          "target": "com.amazonaws.baldr.api.service#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The cluster certificate issued (signed) by your issuing certificate authority (CA). The\n      certificate must be in PEM format and can contain a maximum of 5000 characters.</p>",
            "smithy.api#required": true
          }
        },
        "TrustAnchor": {
          "target": "com.amazonaws.baldr.api.service#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The issuing certificate of the issuing certificate authority (CA) that issued (signed)\n      the cluster certificate. You must use a self-signed certificate. The certificate used to sign the HSM CSR must be directly available, and thus must be the\n      root certificate. The certificate must be in PEM format and can contain a\n      maximum of 5000 characters.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#InitializeClusterResponse": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.baldr.api.service#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's state.</p>"
          }
        },
        "StateMessage": {
          "target": "com.amazonaws.baldr.api.service#StateMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the cluster's state.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#IpAddress": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}"
      }
    },
    "com.amazonaws.baldr.api.service#ListTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#ListTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#ListTagsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of tags for the specified AWS CloudHSM cluster.</p>\n         <p>This is a paginated operation, which means that each response might contain only a\n      subset of all the tags. When the response contains only a subset of tags, it includes a\n      <code>NextToken</code> value. Use this value in a subsequent <code>ListTags</code> request to\n      get more tags. When you receive a response with no <code>NextToken</code> (or an empty or null\n      value), that means there are no more tags to get.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.baldr.api.service#ListTagsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.baldr.api.service#MaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of tags to return in the response. When there are more tags than the\n      number you specify, the response contains a <code>NextToken</code> value.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.baldr.api.service#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>NextToken</code> value that you received in the previous response. Use this\n      value to get more tags.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.baldr.api.service#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier (ID) for the cluster whose tags you are getting. To find the\n      cluster ID, use <a>DescribeClusters</a>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#ListTagsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.baldr.api.service#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An opaque string that indicates that the response contains only a subset of tags. Use\n      this value in a subsequent <code>ListTags</code> request to get more tags.</p>"
          }
        },
        "TagList": {
          "target": "com.amazonaws.baldr.api.service#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#MaxSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.baldr.api.service#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.baldr.api.service#PreCoPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 32
        }
      }
    },
    "com.amazonaws.baldr.api.service#Region": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d"
      }
    },
    "com.amazonaws.baldr.api.service#ResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(?:cluster|backup)-[2-7a-zA-Z]{11,16}"
      }
    },
    "com.amazonaws.baldr.api.service#RestoreBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#RestoreBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#RestoreBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Restores a specified AWS CloudHSM backup that is in the\n                <code>PENDING_DELETION</code> state. For mor information on deleting a backup, see\n                <a>DeleteBackup</a>.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#RestoreBackupRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.baldr.api.service#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup to be restored. To find the ID of a backup, use the <a>DescribeBackups</a> operation.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#RestoreBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "target": "com.amazonaws.baldr.api.service#Backup",
          "traits": {
            "smithy.api#documentation": "<p>Information on the <code>Backup</code> object created.</p>"
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#SecurityGroup": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "sg-[0-9a-fA-F]{8,17}"
      }
    },
    "com.amazonaws.baldr.api.service#StateMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 300
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.baldr.api.service#String": {
      "type": "string"
    },
    "com.amazonaws.baldr.api.service#Strings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.baldr.api.service#String"
      }
    },
    "com.amazonaws.baldr.api.service#SubnetId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "subnet-[0-9a-fA-F]{8,17}"
      }
    },
    "com.amazonaws.baldr.api.service#SubnetIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.baldr.api.service#SubnetId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.baldr.api.service#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.baldr.api.service#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of the tag.</p>",
            "smithy.api#required": true
          }
        },
        "Value": {
          "target": "com.amazonaws.baldr.api.service#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the tag.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a tag. A tag is a key-value pair.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.baldr.api.service#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.baldr.api.service#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.baldr.api.service#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.baldr.api.service#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.baldr.api.service#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or overwrites one or more tags for the specified AWS CloudHSM cluster.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.baldr.api.service#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier (ID) for the cluster that you are tagging. To find the cluster\n      ID, use <a>DescribeClusters</a>.</p>",
            "smithy.api#required": true
          }
        },
        "TagList": {
          "target": "com.amazonaws.baldr.api.service#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more tags.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#TagResourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.baldr.api.service#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.baldr.api.service#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.baldr.api.service#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.baldr.api.service#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.baldr.api.service#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsm.api.service#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified tag or tags from the specified AWS CloudHSM cluster.</p>"
      }
    },
    "com.amazonaws.baldr.api.service#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.baldr.api.service#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier (ID) for the cluster whose tags you are removing. To find the\n      cluster ID, use <a>DescribeClusters</a>.</p>",
            "smithy.api#required": true
          }
        },
        "TagKeyList": {
          "target": "com.amazonaws.baldr.api.service#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more tag keys for the tags that you are removing. Specify only the tag\n      keys, not the tag values.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.baldr.api.service#UntagResourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.baldr.api.service#VpcId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "vpc-[0-9a-fA-F]"
      }
    },
    "com.amazonaws.cloudhsm.api.service#errorMessage": {
      "type": "string"
    }
  }
}
