{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cognito.identity.idp.model#AWSAccountIdType": {
      "type": "string"
    },
    "com.amazonaws.cognito.identity.idp.model#AWSCognitoIdentityProviderService": {
      "type": "service",
      "version": "2016-04-18",
      "operations": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AddCustomAttributes"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminAddUserToGroup"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminConfirmSignUp"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminCreateUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminDeleteUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminDeleteUserAttributes"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminDisableProviderForUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminDisableUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminEnableUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminForgetDevice"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminGetDevice"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminGetUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminInitiateAuth"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminLinkProviderForUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminListDevices"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminListGroupsForUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminListUserAuthEvents"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminRemoveUserFromGroup"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminResetUserPassword"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminRespondToAuthChallenge"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminSetUserMFAPreference"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminSetUserPassword"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminSetUserSettings"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminUpdateAuthEventFeedback"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminUpdateDeviceStatus"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminUpdateUserAttributes"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminUserGlobalSignOut"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AssociateSoftwareToken"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ChangePassword"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ConfirmDevice"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ConfirmForgotPassword"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ConfirmSignUp"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#CreateGroup"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#CreateIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#CreateResourceServer"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#CreateUserImportJob"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#CreateUserPool"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#CreateUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#CreateUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DeleteGroup"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DeleteIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DeleteResourceServer"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DeleteUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DeleteUserAttributes"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DeleteUserPool"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DeleteUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DeleteUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DescribeIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DescribeResourceServer"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DescribeRiskConfiguration"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DescribeUserImportJob"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DescribeUserPool"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DescribeUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#DescribeUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ForgetDevice"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ForgotPassword"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GetCSVHeader"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GetDevice"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GetGroup"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GetIdentityProviderByIdentifier"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GetSigningCertificate"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GetUICustomization"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GetUser"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GetUserAttributeVerificationCode"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GetUserPoolMfaConfig"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#GlobalSignOut"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InitiateAuth"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListDevices"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListGroups"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListIdentityProviders"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListResourceServers"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListUserImportJobs"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListUserPoolClients"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListUserPools"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListUsers"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ListUsersInGroup"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResendConfirmationCode"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#RespondToAuthChallenge"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#SetRiskConfiguration"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#SetUICustomization"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#SetUserMFAPreference"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#SetUserPoolMfaConfig"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#SetUserSettings"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#SignUp"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#StartUserImportJob"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#StopUserImportJob"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TagResource"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UntagResource"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UpdateAuthEventFeedback"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UpdateDeviceStatus"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UpdateGroup"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UpdateIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UpdateResourceServer"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UpdateUserAttributes"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UpdateUserPool"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UpdateUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UpdateUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#VerifySoftwareToken"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#VerifyUserAttribute"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Cognito Identity Provider",
          "arnNamespace": "cognito-idp",
          "cloudFormationName": "Cognito",
          "cloudTrailEventSource": "model.idp.identity.cognito.amazonaws.com"
        },
        "smithy.api#documentation": "<p>Using the Amazon Cognito User Pools API, you can create a user pool to manage\n            directories and users. You can authenticate a user to obtain tokens related to user\n            identity and access policies.</p>\n        <p>This API reference provides information about user pools in Amazon Cognito User\n            Pools.</p>\n        <p>For more information, see the Amazon Cognito Documentation.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Cognito Identity Provider",
        "smithy.api#xmlNamespace": {
          "uri": "http://cognito-idp.amazonaws.com/doc/2016-04-18/"
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AccountRecoverySettingType": {
      "type": "structure",
      "members": {
        "RecoveryMechanisms": {
          "target": "com.amazonaws.cognito.identity.idp.model#RecoveryMechanismsType",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>RecoveryOptionTypes</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data type for <code>AccountRecoverySetting</code>.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AccountTakeoverActionNotifyType": {
      "type": "boolean"
    },
    "com.amazonaws.cognito.identity.idp.model#AccountTakeoverActionType": {
      "type": "structure",
      "members": {
        "EventAction": {
          "target": "com.amazonaws.cognito.identity.idp.model#AccountTakeoverEventActionType",
          "traits": {
            "smithy.api#documentation": "<p>The event action.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>BLOCK</code> Choosing this action will block the request.</p>\n            </li>\n            <li>\n                <p>\n                  <code>MFA_IF_CONFIGURED</code> Throw MFA challenge if user has configured it,\n                    else allow the request.</p>\n            </li>\n            <li>\n                <p>\n                  <code>MFA_REQUIRED</code> Throw MFA challenge if user has configured it, else\n                    block the request.</p>\n            </li>\n            <li>\n                <p>\n                  <code>NO_ACTION</code> Allow the user sign-in.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "Notify": {
          "target": "com.amazonaws.cognito.identity.idp.model#AccountTakeoverActionNotifyType",
          "traits": {
            "smithy.api#documentation": "<p>Flag specifying whether to send a notification.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Account takeover action type.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AccountTakeoverActionsType": {
      "type": "structure",
      "members": {
        "HighAction": {
          "target": "com.amazonaws.cognito.identity.idp.model#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>Action to take for a high risk.</p>"
          }
        },
        "LowAction": {
          "target": "com.amazonaws.cognito.identity.idp.model#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>Action to take for a low risk.</p>"
          }
        },
        "MediumAction": {
          "target": "com.amazonaws.cognito.identity.idp.model#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>Action to take for a medium risk.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Account takeover actions type.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AccountTakeoverEventActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "BLOCK": {
            "name": "BLOCK"
          },
          "MFA_IF_CONFIGURED": {
            "name": "MFA_IF_CONFIGURED"
          },
          "MFA_REQUIRED": {
            "name": "MFA_REQUIRED"
          },
          "NO_ACTION": {
            "name": "NO_ACTION"
          }
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AccountTakeoverRiskConfigurationType": {
      "type": "structure",
      "members": {
        "Actions": {
          "target": "com.amazonaws.cognito.identity.idp.model#AccountTakeoverActionsType",
          "traits": {
            "smithy.api#documentation": "<p>Account takeover risk configuration actions</p>",
            "smithy.api#required": true
          }
        },
        "NotifyConfiguration": {
          "target": "com.amazonaws.cognito.identity.idp.model#NotifyConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>The notify configuration used to construct email notifications.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for mitigation actions and notification for different levels of risk\n            detected for a potential account takeover.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AddCustomAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AddCustomAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AddCustomAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserImportInProgressException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds additional user attributes to the user pool schema.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AddCustomAttributesRequest": {
      "type": "structure",
      "members": {
        "CustomAttributes": {
          "target": "com.amazonaws.cognito.identity.idp.model#CustomAttributesListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of custom attributes, such as Mutable and Name.</p>",
            "smithy.api#required": true
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to add custom attributes.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to add custom attributes.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AddCustomAttributesResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to add custom\n            attributes.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminAddUserToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminAddUserToGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified user to the specified group.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminAddUserToGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.cognito.identity.idp.model#GroupNameType",
          "traits": {
            "smithy.api#documentation": "<p>The group name.</p>",
            "smithy.api#required": true
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The username for the user.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminConfirmSignUp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminConfirmSignUpRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminConfirmSignUpResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyFailedAttemptsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Confirms user registration as an admin without using a confirmation code. Works on\n            any user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminConfirmSignUpRequest": {
      "type": "structure",
      "members": {
        "ClientMetadata": {
          "target": "com.amazonaws.cognito.identity.idp.model#ClientMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom key-value pairs that you can provide as input for any custom workflows\n            that this action triggers. </p>\n        <p>If your user pool configuration includes triggers, the AdminConfirmSignUp API action\n            invokes the AWS Lambda function that is specified for the <i>post\n                confirmation</i> trigger. When Amazon Cognito invokes this function, it\n            passes a JSON payload, which the function receives as input. In this payload, the\n            <code>clientMetadata</code> attribute provides the data that you assigned to the\n            ClientMetadata parameter in your AdminConfirmSignUp request. In your function code in\n            AWS Lambda, you can process the ClientMetadata value to enhance your workflow for your\n            specific needs.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html\">Customizing User Pool Workflows with Lambda Triggers</a> in the\n            <i>Amazon Cognito Developer Guide</i>.</p>\n        <note>\n            <p>Take the following limitations into consideration when you use the ClientMetadata\n                parameter:</p>\n            <ul>\n               <li>\n                    <p>Amazon Cognito does not store the ClientMetadata value. This data is\n                        available only to AWS Lambda triggers that are assigned to a user pool to\n                        support custom workflows. If your user pool configuration does not include\n                        triggers, the ClientMetadata parameter serves no purpose.</p>\n                </li>\n               <li>\n                    <p>Amazon Cognito does not validate the ClientMetadata value.</p>\n                </li>\n               <li>\n                    <p>Amazon Cognito does not encrypt the the ClientMetadata value, so don't use\n                        it to provide sensitive information.</p>\n                </li>\n            </ul>\n        </note>"
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for which you want to confirm user registration.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name for which you want to confirm user registration.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to confirm user registration.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminConfirmSignUpResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to confirm\n            registration.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminCreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminCreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminCreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#CodeDeliveryFailureException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidPasswordException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidSmsRoleAccessPolicyException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidSmsRoleTrustRelationshipException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UnsupportedUserStateException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new user in the specified user pool.</p>\n        <p>If <code>MessageAction</code> is not set, the default is to send a welcome message via\n            email or phone (SMS).</p>\n        <note>\n            <p>This message is based on a template that you configured in your call to  or . This\n                template includes your custom sign-up instructions and placeholders for user name\n                and temporary password.</p>\n        </note>\n        <p>Alternatively, you can call AdminCreateUser with “SUPPRESS” for the\n                <code>MessageAction</code> parameter, and Amazon Cognito will not send any email. </p>\n        <p>In either case, the user will be in the <code>FORCE_CHANGE_PASSWORD</code> state until\n            they sign in and change their password.</p>\n        <p>AdminCreateUser requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminCreateUserConfigType": {
      "type": "structure",
      "members": {
        "AllowAdminCreateUserOnly": {
          "target": "com.amazonaws.cognito.identity.idp.model#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>True</code> if only the administrator is allowed to create user profiles.\n            Set to <code>False</code> if users can sign themselves up via an app.</p>"
          }
        },
        "InviteMessageTemplate": {
          "target": "com.amazonaws.cognito.identity.idp.model#MessageTemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The message template to be used for the welcome message to new users.</p>\n        <p>See also <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pool-settings-message-customizations.html#cognito-user-pool-settings-user-invitation-message-customization\">Customizing User Invitation Messages</a>.</p>"
          }
        },
        "UnusedAccountValidityDays": {
          "target": "com.amazonaws.cognito.identity.idp.model#AdminCreateUserUnusedAccountValidityDaysType",
          "traits": {
            "smithy.api#documentation": "<p>The user account expiration limit, in days, after which the account is no longer\n            usable. To reset the account after that time limit, you must call\n                <code>AdminCreateUser</code> again, specifying <code>\"RESEND\"</code> for the\n                <code>MessageAction</code> parameter. The default value for this parameter is 7. </p>\n        <note>\n            <p>If you set a value for <code>TemporaryPasswordValidityDays</code> in\n                    <code>PasswordPolicy</code>, that value will be used and\n                    <code>UnusedAccountValidityDays</code> will be deprecated for that user pool.\n            </p>\n        </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for creating a new user profile.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminCreateUserRequest": {
      "type": "structure",
      "members": {
        "ClientMetadata": {
          "target": "com.amazonaws.cognito.identity.idp.model#ClientMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom key-value pairs that you can provide as input for any custom workflows\n            that this action triggers. </p>\n        <p>You create custom workflows by assigning AWS Lambda functions to user pool triggers.\n            When you use the AdminCreateUser API action, Amazon Cognito invokes the function that is\n            assigned to the <i>pre sign-up</i> trigger. When Amazon Cognito invokes\n            this function, it passes a JSON payload, which the function receives as input. This\n            payload contains a <code>clientMetadata</code> attribute, which provides the data that\n            you assigned to the ClientMetadata parameter in your AdminCreateUser request. In your\n            function code in AWS Lambda, you can process the <code>clientMetadata</code> value to\n            enhance your workflow for your specific needs.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html\">Customizing User Pool Workflows with Lambda Triggers</a> in the\n            <i>Amazon Cognito Developer Guide</i>.</p>\n        <note>\n            <p>Take the following limitations into consideration when you use the ClientMetadata\n                parameter:</p>\n            <ul>\n               <li>\n                    <p>Amazon Cognito does not store the ClientMetadata value. This data is\n                        available only to AWS Lambda triggers that are assigned to a user pool to\n                        support custom workflows. If your user pool configuration does not include\n                        triggers, the ClientMetadata parameter serves no purpose.</p>\n                </li>\n               <li>\n                    <p>Amazon Cognito does not validate the ClientMetadata value.</p>\n                </li>\n               <li>\n                    <p>Amazon Cognito does not encrypt the the ClientMetadata value, so don't use\n                        it to provide sensitive information.</p>\n                </li>\n            </ul>\n        </note>"
          }
        },
        "DesiredDeliveryMediums": {
          "target": "com.amazonaws.cognito.identity.idp.model#DeliveryMediumListType",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>\"EMAIL\"</code> if email will be used to send the welcome message.\n            Specify <code>\"SMS\"</code> if the phone number will be used. The default value is\n                <code>\"SMS\"</code>. More than one value can be specified.</p>"
          }
        },
        "ForceAliasCreation": {
          "target": "com.amazonaws.cognito.identity.idp.model#ForceAliasCreation",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is only used if the <code>phone_number_verified</code> or\n                <code>email_verified</code> attribute is set to <code>True</code>. Otherwise, it is\n            ignored.</p>\n        <p>If this parameter is set to <code>True</code> and the phone number or email address\n            specified in the UserAttributes parameter already exists as an alias with a different\n            user, the API call will migrate the alias from the previous user to the newly created\n            user. The previous user will no longer be able to log in using that alias.</p>\n        <p>If this parameter is set to <code>False</code>, the API throws an\n                <code>AliasExistsException</code> error if the alias already exists. The default\n            value is <code>False</code>.</p>"
          }
        },
        "MessageAction": {
          "target": "com.amazonaws.cognito.identity.idp.model#MessageActionType",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>\"RESEND\"</code> to resend the invitation message to a user that already\n            exists and reset the expiration limit on the user's account. Set to\n                <code>\"SUPPRESS\"</code> to suppress sending the message. Only one value can be\n            specified.</p>"
          }
        },
        "TemporaryPassword": {
          "target": "com.amazonaws.cognito.identity.idp.model#PasswordType",
          "traits": {
            "smithy.api#documentation": "<p>The user's temporary password. This password must conform to the password policy that\n            you specified when you created the user pool.</p>\n        <p>The temporary password is valid only once. To complete the Admin Create User flow, the\n            user must enter the temporary password in the sign-in page along with a new password to\n            be used in all future sign-ins.</p>\n        <p>This parameter is not required. If you do not specify a value, Amazon Cognito\n            generates one for you.</p>\n        <p>The temporary password can only be used until the user account expiration limit that\n            you specified when you created the user pool. To reset the account after that time\n            limit, you must call <code>AdminCreateUser</code> again, specifying\n                <code>\"RESEND\"</code> for the <code>MessageAction</code> parameter.</p>"
          }
        },
        "UserAttributes": {
          "target": "com.amazonaws.cognito.identity.idp.model#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of name-value pairs that contain user attributes and attribute values to be\n            set for the user to be created. You can create a user without specifying any attributes\n            other than <code>Username</code>. However, any attributes that you specify as required\n            (in  or in the <b>Attributes</b> tab of the console) must be supplied either by you (in your\n            call to <code>AdminCreateUser</code>) or by the user (when he or she signs up in\n            response to your welcome message).</p>\n        <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the\n            attribute name.</p>\n        <p>To send a message inviting the user to sign up, you must specify the user's email\n            address or phone number. This can be done in your call to AdminCreateUser or in the\n                <b>Users</b> tab of the Amazon Cognito console for\n            managing your user pools.</p>\n        <p>In your call to <code>AdminCreateUser</code>, you can set the\n                <code>email_verified</code> attribute to <code>True</code>, and you can set the\n                <code>phone_number_verified</code> attribute to <code>True</code>. (You can also do\n            this by calling .)</p>\n        <ul>\n            <li>\n                <p>\n                  <b>email</b>: The email address of the user to whom\n                    the message that contains the code and username will be sent. Required if the\n                        <code>email_verified</code> attribute is set to <code>True</code>, or if\n                        <code>\"EMAIL\"</code> is specified in the <code>DesiredDeliveryMediums</code>\n                    parameter.</p>\n            </li>\n            <li>\n                <p>\n                  <b>phone_number</b>: The phone number of the user to\n                    whom the message that contains the code and username will be sent. Required if\n                    the <code>phone_number_verified</code> attribute is set to <code>True</code>, or\n                    if <code>\"SMS\"</code> is specified in the <code>DesiredDeliveryMediums</code>\n                    parameter.</p>\n            </li>\n         </ul>"
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where the user will be created.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The username for the user. Must be unique within the user pool. Must be a UTF-8 string\n            between 1 and 128 characters. After the user is created, the username cannot be\n            changed.</p>",
            "smithy.api#required": true
          }
        },
        "ValidationData": {
          "target": "com.amazonaws.cognito.identity.idp.model#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>The user's validation data. This is an array of name-value pairs that contain user\n            attributes and attribute values that you can use for custom validation, such as\n            restricting the types of user accounts that can be registered. For example, you might\n            choose to allow or disallow user sign-up based on the user's domain.</p>\n        <p>To configure custom validation, you must create a Pre Sign-up Lambda trigger for the\n            user pool as described in the Amazon Cognito Developer Guide. The Lambda trigger\n            receives the validation data and uses it in the validation process.</p>\n        <p>The user's validation data is not persisted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to create a user in the specified user pool.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminCreateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserType",
          "traits": {
            "smithy.api#documentation": "<p>The newly created user.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server to the request to create the user.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminCreateUserUnusedAccountValidityDaysType": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 365
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminDeleteUserRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user as an administrator. Works on any user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDeleteUserAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminDeleteUserAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminDeleteUserAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the user attributes in a user pool as an administrator. Works on any\n            user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDeleteUserAttributesRequest": {
      "type": "structure",
      "members": {
        "UserAttributeNames": {
          "target": "com.amazonaws.cognito.identity.idp.model#AttributeNameListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings representing the user attribute names you wish to delete.</p>\n        <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the\n            attribute name.</p>",
            "smithy.api#required": true
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to delete user attributes.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user from which you would like to delete attributes.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to delete user attributes as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDeleteUserAttributesResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response received from the server for a request to delete user\n            attributes.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDeleteUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to delete the user.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user you wish to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to delete a user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDisableProviderForUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminDisableProviderForUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminDisableProviderForUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AliasExistsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the user from signing in with the specified external (SAML or social)\n            identity provider. If the user to disable is a Cognito User Pools native username +\n            password user, they are not permitted to use their password to sign-in. If the user to\n            disable is a linked external IdP user, any link between that user and an existing user\n            is removed. The next time the external user (no longer attached to the previously linked\n                <code>DestinationUser</code>) signs in, they must create a new user account. See\n                .</p>\n        <p>This action is enabled only for admin access and requires developer\n            credentials.</p>\n        <p>The <code>ProviderName</code> must match the value specified when creating an IdP for\n            the pool. </p>\n        <p>To disable a native username + password user, the <code>ProviderName</code> value must\n            be <code>Cognito</code> and the <code>ProviderAttributeName</code> must be\n                <code>Cognito_Subject</code>, with the <code>ProviderAttributeValue</code> being the\n            name that is used in the user pool for the user.</p>\n        <p>The <code>ProviderAttributeName</code> must always be <code>Cognito_Subject</code> for\n            social identity providers. The <code>ProviderAttributeValue</code> must always be the\n            exact subject that was used when the user was originally linked as a source user.</p>\n        <p>For de-linking a SAML identity, there are two scenarios. If the linked identity has\n            not yet been used to sign-in, the <code>ProviderAttributeName</code> and\n                <code>ProviderAttributeValue</code> must be the same values that were used for the\n                <code>SourceUser</code> when the identities were originally linked in the  call. (If the linking was done with\n                <code>ProviderAttributeName</code> set to <code>Cognito_Subject</code>, the same\n            applies here). However, if the user has already signed in, the\n                <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code> and\n                <code>ProviderAttributeValue</code> must be the subject of the SAML\n            assertion.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDisableProviderForUserRequest": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.cognito.identity.idp.model#ProviderUserIdentifierType",
          "traits": {
            "smithy.api#documentation": "<p>The user to be disabled.</p>",
            "smithy.api#required": true
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#StringType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDisableProviderForUserResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDisableUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminDisableUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminDisableUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDisableUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to disable the user.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user you wish to disable.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to disable any user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminDisableUserResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response received from the server to disable the user as an\n            administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminEnableUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminEnableUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminEnableUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the specified user as an administrator. Works on any user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminEnableUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to enable the user.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user you wish to enable.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request that enables the user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminEnableUserResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to enable a user as an\n            administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminForgetDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminForgetDeviceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidUserPoolConfigurationException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Forgets the device, as an administrator.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminForgetDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceKey": {
          "target": "com.amazonaws.cognito.identity.idp.model#DeviceKeyType",
          "traits": {
            "smithy.api#documentation": "<p>The device key.</p>",
            "smithy.api#required": true
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Sends the forgot device request, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminGetDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminGetDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminGetDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidUserPoolConfigurationException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the device, as an administrator.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminGetDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceKey": {
          "target": "com.amazonaws.cognito.identity.idp.model#DeviceKeyType",
          "traits": {
            "smithy.api#documentation": "<p>The device key.</p>",
            "smithy.api#required": true
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to get the device, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminGetDeviceResponse": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.cognito.identity.idp.model#DeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The device.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Gets the device response, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminGetUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminGetUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminGetUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the specified user by user name in a user pool as an administrator. Works on any\n            user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminGetUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to get information about the\n            user.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user you wish to retrieve.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to get the specified user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminGetUserResponse": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.cognito.identity.idp.model#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the status is enabled.</p>"
          }
        },
        "MFAOptions": {
          "target": "com.amazonaws.cognito.identity.idp.model#MFAOptionListType",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>This response parameter is no longer supported.</i> It provides\n            information only about SMS MFA configurations. It doesn't provide information about TOTP\n            software token MFA configurations. To look up information about either type of MFA\n            configuration, use the <a>AdminGetUserResponse$UserMFASettingList</a>\n            response instead.</p>"
          }
        },
        "PreferredMfaSetting": {
          "target": "com.amazonaws.cognito.identity.idp.model#StringType",
          "traits": {
            "smithy.api#documentation": "<p>The user's preferred MFA setting.</p>"
          }
        },
        "UserAttributes": {
          "target": "com.amazonaws.cognito.identity.idp.model#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of name-value pairs representing user attributes.</p>"
          }
        },
        "UserCreateDate": {
          "target": "com.amazonaws.cognito.identity.idp.model#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The date the user was created.</p>"
          }
        },
        "UserLastModifiedDate": {
          "target": "com.amazonaws.cognito.identity.idp.model#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The date the user was last modified.</p>"
          }
        },
        "UserMFASettingList": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserMFASettingListType",
          "traits": {
            "smithy.api#documentation": "<p>The MFA options that are enabled for the user. The possible values in this list are\n                <code>SMS_MFA</code> and <code>SOFTWARE_TOKEN_MFA</code>.</p>"
          }
        },
        "UserStatus": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The user status. Can be one of the following:</p>\n        <ul>\n            <li>\n                <p>UNCONFIRMED - User has been created but not confirmed.</p>\n            </li>\n            <li>\n                <p>CONFIRMED - User has been confirmed.</p>\n            </li>\n            <li>\n                <p>ARCHIVED - User is no longer active.</p>\n            </li>\n            <li>\n                <p>COMPROMISED - User is disabled due to a potential security threat.</p>\n            </li>\n            <li>\n                <p>UNKNOWN - User status is not known.</p>\n            </li>\n            <li>\n                <p>RESET_REQUIRED - User is confirmed, but the user must request a code and reset\n                    his or her password before he or she can sign in.</p>\n            </li>\n            <li>\n                <p>FORCE_CHANGE_PASSWORD - The user is confirmed and the user can sign in using a\n                    temporary password, but on first sign-in, the user must change his or her\n                    password to a new value before doing anything else. </p>\n            </li>\n         </ul>"
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user about whom you are receiving information.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server from the request to get the specified user as\n            an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminInitiateAuth": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminInitiateAuthRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminInitiateAuthResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidSmsRoleAccessPolicyException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidSmsRoleTrustRelationshipException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidUserPoolConfigurationException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#MFAMethodNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#PasswordResetRequiredException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotConfirmedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Initiates the authentication flow, as an administrator.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminInitiateAuthRequest": {
      "type": "structure",
      "members": {
        "AnalyticsMetadata": {
          "target": "com.amazonaws.cognito.identity.idp.model#AnalyticsMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>The analytics metadata for collecting Amazon Pinpoint metrics for\n                <code>AdminInitiateAuth</code> calls.</p>"
          }
        },
        "AuthFlow": {
          "target": "com.amazonaws.cognito.identity.idp.model#AuthFlowType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication flow for this call to execute. The API action will depend on this\n            value. For example:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>REFRESH_TOKEN_AUTH</code> will take in a valid refresh token and return\n                    new tokens.</p>\n            </li>\n            <li>\n                <p>\n                  <code>USER_SRP_AUTH</code> will take in <code>USERNAME</code> and\n                        <code>SRP_A</code> and return the SRP variables to be used for next\n                    challenge execution.</p>\n            </li>\n            <li>\n                <p>\n                  <code>USER_PASSWORD_AUTH</code> will take in <code>USERNAME</code> and\n                        <code>PASSWORD</code> and return the next challenge or tokens.</p>\n            </li>\n         </ul>\n        <p>Valid values include:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>USER_SRP_AUTH</code>: Authentication flow for the Secure Remote Password\n                    (SRP) protocol.</p>\n            </li>\n            <li>\n                <p>\n                  <code>REFRESH_TOKEN_AUTH</code>/<code>REFRESH_TOKEN</code>: Authentication\n                    flow for refreshing the access token and ID token by supplying a valid refresh\n                    token.</p>\n            </li>\n            <li>\n                <p>\n                  <code>CUSTOM_AUTH</code>: Custom authentication flow.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ADMIN_NO_SRP_AUTH</code>: Non-SRP authentication flow; you can pass in\n                    the USERNAME and PASSWORD directly if the flow is enabled for calling the app\n                    client.</p>\n            </li>\n            <li>\n                <p>\n                  <code>USER_PASSWORD_AUTH</code>: Non-SRP authentication flow; USERNAME and\n                    PASSWORD are passed directly. If a user migration Lambda trigger is set, this\n                    flow will invoke the user migration Lambda if the USERNAME is not found in the\n                    user pool. </p>\n            </li>\n            <li>\n              <p>\n                  <code>ADMIN_USER_PASSWORD_AUTH</code>: Admin-based user password authentication. This replaces the <code>ADMIN_NO_SRP_AUTH</code> authentication flow. In this flow, Cognito receives the password in the request instead of using the SRP process to verify passwords.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "AuthParameters": {
          "target": "com.amazonaws.cognito.identity.idp.model#AuthParametersType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication parameters. These are inputs corresponding to the\n                <code>AuthFlow</code> that you are invoking. The required values depend on the value\n            of <code>AuthFlow</code>:</p>\n        <ul>\n            <li>\n                <p>For <code>USER_SRP_AUTH</code>: <code>USERNAME</code> (required),\n                        <code>SRP_A</code> (required), <code>SECRET_HASH</code> (required if the app\n                    client is configured with a client secret), <code>DEVICE_KEY</code>\n               </p>\n            </li>\n            <li>\n                <p>For <code>REFRESH_TOKEN_AUTH/REFRESH_TOKEN</code>: <code>REFRESH_TOKEN</code>\n                    (required), <code>SECRET_HASH</code> (required if the app client is configured\n                    with a client secret), <code>DEVICE_KEY</code>\n               </p>\n            </li>\n            <li>\n                <p>For <code>ADMIN_NO_SRP_AUTH</code>: <code>USERNAME</code> (required),\n                        <code>SECRET_HASH</code> (if app client is configured with client secret),\n                        <code>PASSWORD</code> (required), <code>DEVICE_KEY</code>\n               </p>\n            </li>\n            <li>\n                <p>For <code>CUSTOM_AUTH</code>: <code>USERNAME</code> (required),\n                        <code>SECRET_HASH</code> (if app client is configured with client secret),\n                        <code>DEVICE_KEY</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "ClientId": {
          "target": "com.amazonaws.cognito.identity.idp.model#ClientIdType",
          "traits": {
            "smithy.api#documentation": "<p>The app client ID.</p>",
            "smithy.api#required": true
          }
        },
        "ClientMetadata": {
          "target": "com.amazonaws.cognito.identity.idp.model#ClientMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom key-value pairs that you can provide as input for certain custom\n            workflows that this action triggers.</p>\n        <p>You create custom workflows by assigning AWS Lambda functions to user pool triggers.\n            When you use the AdminInitiateAuth API action, Amazon Cognito invokes the AWS Lambda\n            functions that are specified for various triggers. The ClientMetadata value is passed as\n            input to the functions for only the following triggers:</p>\n        <ul>\n            <li>\n                <p>Pre signup</p>\n            </li>\n            <li>\n                <p>Pre authentication</p>\n            </li>\n            <li>\n                <p>User migration</p>\n            </li>\n         </ul>\n        \n        <p>When Amazon Cognito invokes the functions for these triggers, it passes a JSON payload, which\n            the function receives as input. This payload contains a <code>validationData</code> attribute, which\n            provides the data that you assigned to the ClientMetadata parameter in your AdminInitiateAuth\n            request. In your function code in AWS Lambda, you can process the <code>validationData</code> value\n            to enhance your workflow for your specific needs.</p>\n        \n        <p>When you use the AdminInitiateAuth API action, Amazon Cognito also invokes the functions for\n            the following triggers, but it does not provide the ClientMetadata value as\n            input:</p>\n        \n        <ul>\n            <li>\n                <p>Post authentication</p>\n            </li>\n            <li>\n                <p>Custom message</p>\n            </li>\n            <li>\n                <p>Pre token generation</p>\n            </li>\n            <li>\n                <p>Create auth challenge</p>\n            </li>\n            <li>\n                <p>Define auth challenge</p>\n            </li>\n            <li>\n                <p>Verify auth challenge</p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html\">Customizing User Pool Workflows with Lambda Triggers</a> in the\n            <i>Amazon Cognito Developer Guide</i>.</p>\n        <note>\n            <p>Take the following limitations into consideration when you use the ClientMetadata\n                parameter:</p>\n            <ul>\n               <li>\n                    <p>Amazon Cognito does not store the ClientMetadata value. This data is\n                        available only to AWS Lambda triggers that are assigned to a user pool to\n                        support custom workflows. If your user pool configuration does not include\n                        triggers, the ClientMetadata parameter serves no purpose.</p>\n                </li>\n               <li>\n                    <p>Amazon Cognito does not validate the ClientMetadata value.</p>\n                </li>\n               <li>\n                    <p>Amazon Cognito does not encrypt the the ClientMetadata value, so don't use\n                        it to provide sensitive information.</p>\n                </li>\n            </ul>\n        </note>"
          }
        },
        "ContextData": {
          "target": "com.amazonaws.cognito.identity.idp.model#ContextDataType",
          "traits": {
            "smithy.api#documentation": "<p>Contextual data such as the user's device fingerprint, IP address, or location used\n            for evaluating the risk of an unexpected event by Amazon Cognito advanced\n            security.</p>"
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Cognito user pool.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Initiates the authorization request, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminInitiateAuthResponse": {
      "type": "structure",
      "members": {
        "AuthenticationResult": {
          "target": "com.amazonaws.cognito.identity.idp.model#AuthenticationResultType",
          "traits": {
            "smithy.api#documentation": "<p>The result of the authentication response. This is only returned if the caller does\n            not need to pass another challenge. If the caller does need to pass another challenge\n            before it gets tokens, <code>ChallengeName</code>, <code>ChallengeParameters</code>, and\n                <code>Session</code> are returned.</p>"
          }
        },
        "ChallengeName": {
          "target": "com.amazonaws.cognito.identity.idp.model#ChallengeNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the challenge which you are responding to with this call. This is returned\n            to you in the <code>AdminInitiateAuth</code> response if you need to pass another\n            challenge.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>MFA_SETUP</code>: If MFA is required, users who do not have at least one\n                    of the MFA methods set up are presented with an <code>MFA_SETUP</code>\n                    challenge. The user must set up at least one MFA type to continue to\n                    authenticate.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SELECT_MFA_TYPE</code>: Selects the MFA type. Valid MFA options are\n                        <code>SMS_MFA</code> for text SMS MFA, and <code>SOFTWARE_TOKEN_MFA</code>\n                    for TOTP software token MFA.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SMS_MFA</code>: Next challenge is to supply an\n                    <code>SMS_MFA_CODE</code>, delivered via SMS.</p>\n            </li>\n            <li>\n                <p>\n                  <code>PASSWORD_VERIFIER</code>: Next challenge is to supply\n                        <code>PASSWORD_CLAIM_SIGNATURE</code>,\n                        <code>PASSWORD_CLAIM_SECRET_BLOCK</code>, and <code>TIMESTAMP</code> after\n                    the client-side SRP calculations.</p>\n            </li>\n            <li>\n                <p>\n                  <code>CUSTOM_CHALLENGE</code>: This is returned if your custom authentication\n                    flow determines that the user should pass another challenge before tokens are\n                    issued.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DEVICE_SRP_AUTH</code>: If device tracking was enabled on your user pool\n                    and the previous challenges were passed, this challenge is returned so that\n                    Amazon Cognito can start tracking this device.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DEVICE_PASSWORD_VERIFIER</code>: Similar to\n                        <code>PASSWORD_VERIFIER</code>, but for devices only.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ADMIN_NO_SRP_AUTH</code>: This is returned if you need to authenticate\n                    with <code>USERNAME</code> and <code>PASSWORD</code> directly. An app client\n                    must be enabled to use this flow.</p>\n            </li>\n            <li>\n                <p>\n                  <code>NEW_PASSWORD_REQUIRED</code>: For users which are required to change\n                    their passwords after successful first login. This challenge should be passed\n                    with <code>NEW_PASSWORD</code> and any other required attributes.</p>\n            </li>\n         </ul>"
          }
        },
        "ChallengeParameters": {
          "target": "com.amazonaws.cognito.identity.idp.model#ChallengeParametersType",
          "traits": {
            "smithy.api#documentation": "<p>The challenge parameters. These are returned to you in the\n                <code>AdminInitiateAuth</code> response if you need to pass another challenge. The\n            responses in this parameter should be used to compute inputs to the next call\n                (<code>AdminRespondToAuthChallenge</code>).</p>\n        <p>All challenges require <code>USERNAME</code> and <code>SECRET_HASH</code> (if\n            applicable).</p>\n        <p>The value of the <code>USER_ID_FOR_SRP</code> attribute will be the user's actual\n            username, not an alias (such as email address or phone number), even if you specified an\n            alias in your call to <code>AdminInitiateAuth</code>. This is because, in the\n                <code>AdminRespondToAuthChallenge</code> API <code>ChallengeResponses</code>, the\n                <code>USERNAME</code> attribute cannot be an alias.</p>"
          }
        },
        "Session": {
          "target": "com.amazonaws.cognito.identity.idp.model#SessionType",
          "traits": {
            "smithy.api#documentation": "<p>The session which should be passed both ways in challenge-response calls to the\n            service. If <code>AdminInitiateAuth</code> or <code>AdminRespondToAuthChallenge</code>\n            API call determines that the caller needs to go through another challenge, they return a\n            session with other challenge parameters. This session should be passed as it is to the\n            next <code>AdminRespondToAuthChallenge</code> API call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Initiates the authentication response, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminLinkProviderForUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminLinkProviderForUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminLinkProviderForUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#AliasExistsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Links an existing user account in a user pool (<code>DestinationUser</code>) to an\n            identity from an external identity provider (<code>SourceUser</code>) based on a\n            specified attribute name and value from the external identity provider. This allows you\n            to create a link from the existing user account to an external federated user identity\n            that has not yet been used to sign in, so that the federated user identity can be used\n            to sign in as the existing user account. </p>\n        <p> For example, if there is an existing user with a username and password, this API\n            links that user to a federated user identity, so that when the federated user identity\n            is used, the user signs in as the existing user account. </p>\n        <important>\n            <p>Because this API allows a user with an external federated identity to sign in as\n                an existing user in the user pool, it is critical that it only be used with external\n                identity providers and provider attributes that have been trusted by the application\n                owner.</p>\n        </important>\n        <p>See also .</p>\n        <p>This action is enabled only for admin access and requires developer\n            credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminLinkProviderForUserRequest": {
      "type": "structure",
      "members": {
        "DestinationUser": {
          "target": "com.amazonaws.cognito.identity.idp.model#ProviderUserIdentifierType",
          "traits": {
            "smithy.api#documentation": "<p>The existing user in the user pool to be linked to the external identity provider user\n            account. Can be a native (Username + Password) Cognito User Pools user or a federated\n            user (for example, a SAML or Facebook user). If the user doesn't exist, an exception is\n            thrown. This is the user that is returned when the new user (with the linked identity\n            provider attribute) signs in.</p>\n        <p>For a native username + password user, the <code>ProviderAttributeValue</code> for the\n                <code>DestinationUser</code> should be the username in the user pool. For a\n            federated user, it should be the provider-specific <code>user_id</code>.</p>\n        <p>The <code>ProviderAttributeName</code> of the <code>DestinationUser</code> is\n            ignored.</p>\n        <p>The <code>ProviderName</code> should be set to <code>Cognito</code> for users in\n            Cognito user pools.</p>",
            "smithy.api#required": true
          }
        },
        "SourceUser": {
          "target": "com.amazonaws.cognito.identity.idp.model#ProviderUserIdentifierType",
          "traits": {
            "smithy.api#documentation": "<p>An external identity provider account for a user who does not currently exist yet in\n            the user pool. This user must be a federated user (for example, a SAML or Facebook\n            user), not another native user.</p>\n        <p>If the <code>SourceUser</code> is a federated social identity provider user (Facebook,\n            Google, or Login with Amazon), you must set the <code>ProviderAttributeName</code> to\n                <code>Cognito_Subject</code>. For social identity providers, the\n                <code>ProviderName</code> will be <code>Facebook</code>, <code>Google</code>, or\n                <code>LoginWithAmazon</code>, and Cognito will automatically parse the Facebook,\n            Google, and Login with Amazon tokens for <code>id</code>, <code>sub</code>, and\n                <code>user_id</code>, respectively. The <code>ProviderAttributeValue</code> for the\n            user must be the same value as the <code>id</code>, <code>sub</code>, or\n                <code>user_id</code> value found in the social identity provider token.</p>\n        <p></p>\n        <p>For SAML, the <code>ProviderAttributeName</code> can be any value that matches a claim\n            in the SAML assertion. If you wish to link SAML users based on the subject of the SAML\n            assertion, you should map the subject to a claim through the SAML identity provider and\n            submit that claim name as the <code>ProviderAttributeName</code>. If you set\n                <code>ProviderAttributeName</code> to <code>Cognito_Subject</code>, Cognito will\n            automatically parse the default unique identifier found in the subject from the SAML\n            token.</p>",
            "smithy.api#required": true
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#StringType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminLinkProviderForUserResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminListDevices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminListDevicesRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminListDevicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidUserPoolConfigurationException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists devices, as an administrator.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminListDevicesRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.cognito.identity.idp.model#QueryLimitType",
          "traits": {
            "smithy.api#documentation": "<p>The limit of the devices request.</p>"
          }
        },
        "PaginationToken": {
          "target": "com.amazonaws.cognito.identity.idp.model#SearchPaginationTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to list devices, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminListDevicesResponse": {
      "type": "structure",
      "members": {
        "Devices": {
          "target": "com.amazonaws.cognito.identity.idp.model#DeviceListType",
          "traits": {
            "smithy.api#documentation": "<p>The devices in the list of devices response.</p>"
          }
        },
        "PaginationToken": {
          "target": "com.amazonaws.cognito.identity.idp.model#SearchPaginationTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the device's response, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminListGroupsForUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminListGroupsForUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminListGroupsForUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the groups that the user belongs to.</p>\n        <p>Calling this action requires developer credentials.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Groups",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminListGroupsForUserRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.cognito.identity.idp.model#QueryLimitType",
          "traits": {
            "smithy.api#documentation": "<p>The limit of the request to list groups.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cognito.identity.idp.model#PaginationKey",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that was returned from the previous call to this operation, which can be\n            used to return the next set of items in the list.</p>"
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The username for the user.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminListGroupsForUserResponse": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.cognito.identity.idp.model#GroupListType",
          "traits": {
            "smithy.api#documentation": "<p>The groups that the user belongs to.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cognito.identity.idp.model#PaginationKey",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that was returned from the previous call to this operation, which can be\n            used to return the next set of items in the list.</p>"
          }
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminListUserAuthEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminListUserAuthEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.cognito.identity.idp.model#AdminListUserAuthEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserNotFoundException"
        },
        {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolAddOnNotEnabledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists a history of user activity and any risks detected as part of Amazon Cognito\n            advanced security.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AuthEvents",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminListUserAuthEventsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.cognito.identity.idp.model#QueryLimitType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of authentication events to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cognito.identity.idp.model#PaginationKey",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token.</p>"
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognito.identity.idp.model#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.cognito.identity.idp.model#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool username or an alias.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.cognito.identity.idp.model#AdminListUserAuthEventsResponse": {
      "type": "structure",
      "members": {
        "AuthEvents": {
          "target": "com.amazonaws.cognito.identity.idp.model#AuthEventsType",
[...]
