{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.amazonconnectparticipantservice.v20180907#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>You do not have sufficient access to perform this action.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#AmazonConnectParticipantServiceLambda": {
      "type": "service",
      "version": "2018-09-07",
      "operations": [
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#CreateParticipantConnection"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#DisconnectParticipant"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#GetTranscript"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#SendEvent"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#SendMessage"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ConnectParticipant",
          "arnNamespace": "execute-api",
          "cloudFormationName": "ConnectParticipant",
          "cloudTrailEventSource": "v20180907.amazonconnectparticipantservice.amazon.com"
        },
        "smithy.api#documentation": "\n        <p>Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage\n            a customer contact center and provide reliable customer engagement at any scale.</p>\n        <p>Amazon Connect enables customer contacts through voice or chat.</p>\n\n        <p>The APIs described here are used by chat participants, such as agents and\n            customers.</p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Connect Participant Service"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ChatContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#ChatContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ChatContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#ChatItemId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#ChatItemType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "MESSAGE": {
            "name": "MESSAGE"
          },
          "EVENT": {
            "name": "EVENT"
          },
          "CONNECTION_ACK": {
            "name": "CONNECTION_ACK"
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ConnectionCredentials": {
      "type": "structure",
      "members": {
        "ConnectionToken": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The connection token.</p>\n      "
          }
        },
        "Expiry": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ISO8601Datetime",
          "traits": {
            "smithy.api#documentation": "\n        <p>The expiration of the token.</p>\n        <p>It's specified in ISO 8601 format: yyyy-MM-ddThh:mm:ss.SSSZ. For example,\n            2019-11-08T02:41:28.172Z.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Connection credentials. </p>\n      "
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ConnectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "WEBSOCKET": {
            "name": "WEBSOCKET"
          },
          "CONNECTION_CREDENTIALS": {
            "name": "CONNECTION_CREDENTIALS"
          }
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#ConnectionTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.commonexternaltypes#ConnectionType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ContactId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#CreateParticipantConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#CreateParticipantConnectionRequest"
      },
      "output": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#CreateParticipantConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#AccessDeniedException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#InternalServerException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ThrottlingException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates the participant's connection. Note that ParticipantToken is used for invoking\n            this API instead of ConnectionToken.</p>\n        <p>The participant token is valid for the lifetime of the participant – until the they\n            are part of a contact.</p>\n        <p>The response URL for <code>WEBSOCKET</code> Type has a connect expiry timeout of 100s. Clients must\n            manually connect to the returned websocket URL and subscribe to the desired topic.  </p>\n        <p>For\n            chat, you need to publish the following on the established websocket connection:</p>\n       \n       \n        <p>\n            <code>{\"topic\":\"aws/subscribe\",\"content\":{\"topics\":[\"aws/chat\"]}}</code>\n         </p>\n        \n        <p>Upon websocket URL expiry, as\n            specified in the response ConnectionExpiry parameter, clients need to call this API\n            again to obtain a new websocket URL and perform the same steps as before.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/participant/connection",
          "code": 200
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#CreateParticipantConnectionRequest": {
      "type": "structure",
      "members": {
        "ParticipantToken": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>Participant Token as obtained from <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_StartChatContactResponse.html\">StartChatContact</a> API response.</p>\n      ",
            "smithy.api#httpHeader": "X-Amz-Bearer",
            "smithy.api#required": true
          }
        },
        "Type": {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ConnectionTypeList",
          "traits": {
            "smithy.api#documentation": "\n        <p>Type of connection information required.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#CreateParticipantConnectionResponse": {
      "type": "structure",
      "members": {
        "ConnectionCredentials": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ConnectionCredentials",
          "traits": {
            "smithy.api#documentation": "\n        <p>Creates the participant's connection credentials. The authentication token associated\n            with the participant's connection.</p>\n      "
          }
        },
        "Websocket": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#Websocket",
          "traits": {
            "smithy.api#documentation": "\n        <p>Creates the participant's websocket connection.</p>\n      "
          }
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#DisconnectParticipant": {
      "type": "operation",
      "input": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#DisconnectParticipantRequest"
      },
      "output": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#DisconnectParticipantResponse"
      },
      "errors": [
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#AccessDeniedException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#InternalServerException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ThrottlingException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Disconnects a participant. Note that ConnectionToken is used for invoking this API\n            instead of ParticipantToken.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/participant/disconnect",
          "code": 200
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#DisconnectParticipantRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ClientToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "ConnectionToken": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The authentication token associated with the participant's connection.</p>\n      ",
            "smithy.api#httpHeader": "X-Amz-Bearer",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#DisconnectParticipantResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#DisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#GetTranscript": {
      "type": "operation",
      "input": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#GetTranscriptRequest"
      },
      "output": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#GetTranscriptResponse"
      },
      "errors": [
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#AccessDeniedException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#InternalServerException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ThrottlingException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Retrieves a transcript of the session. Note that ConnectionToken is used for invoking\n            this API instead of ParticipantToken.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/participant/transcript",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#GetTranscriptRequest": {
      "type": "structure",
      "members": {
        "ConnectionToken": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The authentication token associated with the participant's connection.</p>\n      ",
            "smithy.api#httpHeader": "X-Amz-Bearer",
            "smithy.api#required": true
          }
        },
        "ContactId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ContactId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The contactId from the current contact chain for which transcript is needed.</p>\n      "
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#MaxResults",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "\n        <p>The maximum number of results to return in the page. Default: 10. \n           </p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The pagination token. Use the value returned previously in the next subsequent request\n            to retrieve the next set of results.</p>\n      "
          }
        },
        "ScanDirection": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#ScanDirection",
          "traits": {
            "smithy.api#documentation": "\n        <p>The direction from StartPosition from which to retrieve message. Default: BACKWARD when no StartPosition is provided, FORWARD with StartPosition. </p>\n      "
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#SortKey",
          "traits": {
            "smithy.api#documentation": "\n        <p>The sort order for the records. Default: DESCENDING.</p>\n      "
          }
        },
        "StartPosition": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#StartPosition",
          "traits": {
            "smithy.api#documentation": "\n        <p>A filtering option for where to start.</p>\n      "
          }
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#GetTranscriptResponse": {
      "type": "structure",
      "members": {
        "InitialContactId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ContactId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The initial contact ID for the contact. </p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The pagination token. Use the value returned previously in the next subsequent request\n            to retrieve the next set of results.</p>\n      "
          }
        },
        "Transcript": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#Transcript",
          "traits": {
            "smithy.api#documentation": "\n        <p>The list of messages in the session.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ISO8601Datetime": {
      "type": "string"
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#Instant": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>This exception occurs when there is an internal failure in the Amazon Connect service.</p>\n      ",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#Item": {
      "type": "structure",
      "members": {
        "AbsoluteTime": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#Instant",
          "traits": {
            "smithy.api#documentation": "\n        <p>The time when the message or event was sent.</p>\n        <p>It's specified in ISO 8601 format: yyyy-MM-ddThh:mm:ss.SSSZ. For example,\n            2019-11-08T02:41:28.172Z.</p>\n      "
          }
        },
        "Content": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#ChatContent",
          "traits": {
            "smithy.api#documentation": "\n        <p>The content of the message or event.</p>\n      "
          }
        },
        "ContentType": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ChatContentType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of content of the item.</p>\n      "
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#DisplayName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The chat display name of the sender.</p>\n      "
          }
        },
        "Id": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#ChatItemId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the item.</p>\n      "
          }
        },
        "ParticipantId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the sender in the session.</p>\n      "
          }
        },
        "ParticipantRole": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantRole",
          "traits": {
            "smithy.api#documentation": "\n        <p>The role of the sender. For example, is it a customer, agent, or system.</p>\n      "
          }
        },
        "Type": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#ChatItemType",
          "traits": {
            "smithy.api#documentation": "\n        <p>Type of the item: message or event. </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>An item - message or event - that has been sent. </p>\n      "
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#Message": {
      "type": "string"
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#MostRecent": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantRole": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "AGENT": {
            "name": "AGENT"
          },
          "CUSTOMER": {
            "name": "CUSTOMER"
          },
          "SYSTEM": {
            "name": "SYSTEM"
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#PreSignedConnectionUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#Reason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        }
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#ScanDirection": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "FORWARD": {
            "name": "FORWARD"
          },
          "BACKWARD": {
            "name": "BACKWARD"
          }
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#SendEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#SendEventRequest"
      },
      "output": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#SendEventResponse"
      },
      "errors": [
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#AccessDeniedException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#InternalServerException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ThrottlingException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Sends an event. Note that ConnectionToken is used for invoking this API instead of\n            ParticipantToken.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/participant/event",
          "code": 200
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#SendEventRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ClientToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "ConnectionToken": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The authentication token associated with the participant's connection.</p>\n      ",
            "smithy.api#httpHeader": "X-Amz-Bearer",
            "smithy.api#required": true
          }
        },
        "Content": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ChatContent",
          "traits": {
            "smithy.api#documentation": "\n        <p>The content of the event to be sent (for example, message text). This is not yet\n            supported.</p>\n      "
          }
        },
        "ContentType": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ChatContentType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The content type of the request. Supported types are:</p>\n\n        <ul>\n            <li>\n                <p>application/vnd.amazonaws.connect.event.typing</p>\n            </li>\n            <li>\n                <p>application/vnd.amazonaws.connect.event.connection.acknowledged</p>\n            </li>\n         </ul>\n\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#SendEventResponse": {
      "type": "structure",
      "members": {
        "AbsoluteTime": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#Instant",
          "traits": {
            "smithy.api#documentation": "\n        <p>The time when the event was sent.</p>\n        <p>It's specified in ISO 8601 format: yyyy-MM-ddThh:mm:ss.SSSZ. For example,\n            2019-11-08T02:41:28.172Z.</p>\n      "
          }
        },
        "Id": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#ChatItemId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the response.</p>\n      "
          }
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#SendMessage": {
      "type": "operation",
      "input": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#SendMessageRequest"
      },
      "output": {
        "target": "com.amazon.amazonconnectparticipantservice.v20180907#SendMessageResponse"
      },
      "errors": [
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#AccessDeniedException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#InternalServerException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ThrottlingException"
        },
        {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Sends a message. Note that ConnectionToken is used for invoking this API instead of\n            ParticipantToken.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/participant/message",
          "code": 200
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#SendMessageRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ClientToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "ConnectionToken": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ParticipantToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The authentication token associated with the connection.</p>\n      ",
            "smithy.api#httpHeader": "X-Amz-Bearer",
            "smithy.api#required": true
          }
        },
        "Content": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ChatContent",
          "traits": {
            "smithy.api#documentation": "\n        <p>The content of the message.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ContentType": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ChatContentType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of the content. Supported types are text/plain.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#SendMessageResponse": {
      "type": "structure",
      "members": {
        "AbsoluteTime": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#Instant",
          "traits": {
            "smithy.api#documentation": "\n        <p>The time when the message was sent.</p>\n        <p>It's specified in ISO 8601 format: yyyy-MM-ddThh:mm:ss.SSSZ. For example,\n            2019-11-08T02:41:28.172Z.</p>\n      "
          }
        },
        "Id": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#ChatItemId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the message.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#SortKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DESCENDING": {
            "name": "DESCENDING"
          },
          "ASCENDING": {
            "name": "ASCENDING"
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#StartPosition": {
      "type": "structure",
      "members": {
        "AbsoluteTime": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#Instant",
          "traits": {
            "smithy.api#documentation": "\n        <p>The time in ISO format where to start.</p>\n        <p>It's specified in ISO 8601 format: yyyy-MM-ddThh:mm:ss.SSSZ. For example,\n            2019-11-08T02:41:28.172Z.</p>\n      "
          }
        },
        "Id": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#ChatItemId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the message or event where to start. </p>\n      "
          }
        },
        "MostRecent": {
          "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#MostRecent",
          "traits": {
            "smithy.api#documentation": "\n        <p>The start position of the most recent message where you want to start. </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>A filtering option for where to start. For example, if you sent 100 messages, start\n            with message 50. </p>\n      "
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.amazonconnectparticipantservice.v20180907#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The request was denied due to request throttling.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.amazonconnect.commonchatexternaltypes#Transcript": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.commonchatexternaltypes#Item"
      }
    },
    "com.amazon.amazonconnectparticipantservice.v20180907#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#Reason",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The input fails to satisfy the constraints specified by Amazon Connect.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#Websocket": {
      "type": "structure",
      "members": {
        "ConnectionExpiry": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ISO8601Datetime",
          "traits": {
            "smithy.api#documentation": "\n        <p>The URL expiration timestamp in ISO date format.</p>\n        <p>It's specified in ISO 8601 format: yyyy-MM-ddThh:mm:ss.SSSZ. For example,\n            2019-11-08T02:41:28.172Z.</p>\n      "
          }
        },
        "Url": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#PreSignedConnectionUrl",
          "traits": {
            "smithy.api#documentation": "\n        <p>The URL of the websocket.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The websocket for the participant's connection.</p>\n      "
      }
    }
  }
}
