{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.awsdx.overture#ASN": {
      "type": "integer"
    },
    "com.amazon.awsdx.overture#AcceptDirectConnectGatewayAssociationProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#AcceptDirectConnectGatewayAssociationProposalRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#AcceptDirectConnectGatewayAssociationProposalResult"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a proposal request to attach a virtual private gateway or transit gateway to a Direct Connect gateway.</p>"
      }
    },
    "com.amazon.awsdx.overture#AcceptDirectConnectGatewayAssociationProposalRequest": {
      "type": "structure",
      "members": {
        "associatedGatewayOwnerAccount": {
          "target": "com.amazon.awsdx.overture#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account that owns the virtual private gateway or transit gateway.</p>",
            "smithy.api#required": true
          }
        },
        "directConnectGatewayId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>",
            "smithy.api#required": true
          }
        },
        "overrideAllowedPrefixesToDirectConnectGateway": {
          "target": "com.amazon.awsdx.overture#RouteFilterPrefixList",
          "traits": {
            "smithy.api#documentation": "<p>Overrides the Amazon VPC prefixes advertised to the Direct Connect gateway.</p>\n         <p>For information about how to set the prefixes, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes\">Allowed Prefixes</a> in the <i>AWS Direct Connect User Guide</i>.</p>"
          }
        },
        "proposalId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayAssociationProposalId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the request proposal.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AcceptDirectConnectGatewayAssociationProposalResult": {
      "type": "structure",
      "members": {
        "directConnectGatewayAssociation": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayAssociation"
        }
      }
    },
    "com.amazon.awsdx.overture#AddressFamily": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ipv4": {
            "name": "IPv4"
          },
          "ipv6": {
            "name": "IPv6"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AllocateConnectionOnInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#AllocateConnectionOnInterconnectRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Connection"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": { },
        "smithy.api#documentation": "<p>Deprecated. Use <a>AllocateHostedConnection</a> instead.</p>\n         <p>Creates a hosted connection on an interconnect.</p>\n         <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect.</p>\n         <note>\n            <p>Intended for use by AWS Direct Connect Partners only.</p>\n         </note>"
      }
    },
    "com.amazon.awsdx.overture#AllocateConnectionOnInterconnectRequest": {
      "type": "structure",
      "members": {
        "bandwidth": {
          "target": "com.amazon.awsdx.overture#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps,\n      300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. Note that only those AWS Direct Connect Partners\n      who have met specific requirements\n    are allowed to create a 1Gbps, 2Gbps, 5Gbps or 10Gbps hosted connection.</p>",
            "smithy.api#required": true
          }
        },
        "connectionName": {
          "target": "com.amazon.awsdx.overture#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the provisioned connection.</p>",
            "smithy.api#required": true
          }
        },
        "interconnectId": {
          "target": "com.amazon.awsdx.overture#InterconnectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the interconnect on which the connection will be provisioned.</p>",
            "smithy.api#required": true
          }
        },
        "ownerAccount": {
          "target": "com.amazon.awsdx.overture#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account of the customer for whom the connection will be provisioned.</p>",
            "smithy.api#required": true
          }
        },
        "vlan": {
          "target": "com.amazon.awsdx.overture#VLAN",
          "traits": {
            "smithy.api#documentation": "<p>The dedicated VLAN provisioned to the connection.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AllocateHostedConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#AllocateHostedConnectionRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Connection"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a hosted connection on the specified interconnect or a link aggregation group (LAG) of interconnects.</p>\n         <p>Allocates a VLAN number and a specified amount of capacity (bandwidth) for use by a hosted connection on the specified interconnect or LAG of interconnects. AWS polices the hosted connection for the specified capacity and the AWS Direct Connect Partner must also police the hosted connection for the specified capacity.</p>\n         <note>\n            <p>Intended for use by AWS Direct Connect Partners only.</p>\n         </note>"
      }
    },
    "com.amazon.awsdx.overture#AllocateHostedConnectionRequest": {
      "type": "structure",
      "members": {
        "bandwidth": {
          "target": "com.amazon.awsdx.overture#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. Note that only those AWS Direct Connect Partners who have met specific requirements are allowed to create a 1Gbps, 2Gbps, 5Gbps or 10Gbps hosted connection. </p>",
            "smithy.api#required": true
          }
        },
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the interconnect or LAG.</p>",
            "smithy.api#required": true
          }
        },
        "connectionName": {
          "target": "com.amazon.awsdx.overture#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hosted connection.</p>",
            "smithy.api#required": true
          }
        },
        "ownerAccount": {
          "target": "com.amazon.awsdx.overture#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account ID of the customer for the connection.</p>",
            "smithy.api#required": true
          }
        },
        "tags": {
          "target": "com.amazon.awsdx.overture#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the connection.</p>"
          }
        },
        "vlan": {
          "target": "com.amazon.awsdx.overture#VLAN",
          "traits": {
            "smithy.api#documentation": "<p>The dedicated VLAN provisioned to the hosted connection.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AllocatePrivateVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#AllocatePrivateVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a private virtual interface to be owned by the specified AWS account.</p>\n         <p>Virtual interfaces created using this action must be confirmed by the owner using <a>ConfirmPrivateVirtualInterface</a>. \n      Until then, the virtual interface is in the <code>Confirming</code> state and is not available to handle traffic.</p>"
      }
    },
    "com.amazon.awsdx.overture#AllocatePrivateVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection on which the private virtual interface is provisioned.</p>",
            "smithy.api#required": true
          }
        },
        "newPrivateVirtualInterfaceAllocation": {
          "target": "com.amazon.awsdx.overture#NewPrivateVirtualInterfaceAllocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the private virtual interface.</p>",
            "smithy.api#required": true
          }
        },
        "ownerAccount": {
          "target": "com.amazon.awsdx.overture#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account that owns the virtual private interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AllocatePublicVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#AllocatePublicVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a public virtual interface to be owned by the specified AWS account.</p>\n         <p>The owner of a connection calls this function to provision a public virtual interface to be owned by the specified AWS account.</p>\n         <p>Virtual interfaces created using this function must be confirmed by the owner using <a>ConfirmPublicVirtualInterface</a>.\n      Until this step has been completed, the virtual interface is in the <code>confirming</code> state and is not available to handle traffic.</p>\n         <p>When creating an IPv6 public virtual interface, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from\n      the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>"
      }
    },
    "com.amazon.awsdx.overture#AllocatePublicVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection on which the public virtual interface is provisioned.</p>",
            "smithy.api#required": true
          }
        },
        "newPublicVirtualInterfaceAllocation": {
          "target": "com.amazon.awsdx.overture#NewPublicVirtualInterfaceAllocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the public virtual interface.</p>",
            "smithy.api#required": true
          }
        },
        "ownerAccount": {
          "target": "com.amazon.awsdx.overture#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account that owns the public virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AllocateTransitVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#AllocateTransitVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#AllocateTransitVirtualInterfaceResult"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a transit virtual interface to be owned by the specified AWS account. Use this type of interface to connect a transit gateway to your Direct Connect gateway.</p>\n         <p>The owner of a connection provisions a transit virtual interface to be owned by the specified AWS account.</p>\n         <p>After you create a transit virtual interface, it must be confirmed by the owner using <a>ConfirmTransitVirtualInterface</a>. Until this step has been completed, the transit virtual interface is in the <code>requested</code> state and is not available to handle traffic.</p>"
      }
    },
    "com.amazon.awsdx.overture#AllocateTransitVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection on which the transit virtual interface is provisioned.</p>",
            "smithy.api#required": true
          }
        },
        "newTransitVirtualInterfaceAllocation": {
          "target": "com.amazon.awsdx.overture#NewTransitVirtualInterfaceAllocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the transit virtual interface.</p>",
            "smithy.api#required": true
          }
        },
        "ownerAccount": {
          "target": "com.amazon.awsdx.overture#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account that owns the transit virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AllocateTransitVirtualInterfaceResult": {
      "type": "structure",
      "members": {
        "virtualInterface": {
          "target": "com.amazon.awsdx.overture#VirtualInterface"
        }
      }
    },
    "com.amazon.awsdx.overture#AmazonAddress": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#AssociateConnectionWithLag": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#AssociateConnectionWithLagRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Connection"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an existing connection with a link aggregation group (LAG). The connection\n      is interrupted and re-established as a member of the LAG (connectivity to AWS is\n      interrupted). The connection must be hosted on the same AWS Direct Connect endpoint as the LAG, and its \n      bandwidth must match the bandwidth for the LAG. You can re-associate a connection that's \n      currently associated with a different LAG; however, if removing the connection would cause \n      the original LAG to fall below its setting for minimum number of operational connections, \n      the request fails.</p>\n         <p>Any virtual interfaces that are directly associated with the connection are\n      automatically re-associated with the LAG. If the connection was originally associated\n      with a different LAG, the virtual interfaces remain associated with the original\n      LAG.</p>\n         <p>For interconnects, any hosted connections are automatically re-associated with the\n      LAG. If the interconnect was originally associated with a different LAG, the hosted\n      connections remain associated with the original LAG.</p>"
      }
    },
    "com.amazon.awsdx.overture#AssociateConnectionWithLagRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": true
          }
        },
        "lagId": {
          "target": "com.amazon.awsdx.overture#LagId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG with which to associate the connection.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AssociateHostedConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#AssociateHostedConnectionRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Connection"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a hosted connection and its virtual interfaces with a link aggregation\n      group (LAG) or interconnect. If the target interconnect or LAG has an existing hosted\n      connection with a conflicting VLAN number or IP address, the operation fails. This\n      action temporarily interrupts the hosted connection's connectivity to AWS as it is being\n      migrated.</p>\n         <note>\n            <p>Intended for use by AWS Direct Connect Partners only.</p>\n         </note>"
      }
    },
    "com.amazon.awsdx.overture#AssociateHostedConnectionRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the hosted connection.</p>",
            "smithy.api#required": true
          }
        },
        "parentConnectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the interconnect or the LAG.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AssociateVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#AssociateVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a virtual interface with a specified link aggregation group (LAG) or\n      connection. Connectivity to AWS is temporarily interrupted as the virtual interface is\n      being migrated. If the target connection or LAG has an associated virtual interface with\n      a conflicting VLAN number or a conflicting IP address, the operation fails.</p>\n         <p>Virtual interfaces associated with a hosted connection cannot be associated with a\n      LAG; hosted connections must be migrated along with their virtual interfaces using <a>AssociateHostedConnection</a>.</p>\n         <p>To reassociate a virtual interface to a new connection or LAG, the requester\n      must own either the virtual interface itself or the connection to which the virtual\n      interface is currently associated. Additionally, the requester must own the connection\n      or LAG for the association.</p>"
      }
    },
    "com.amazon.awsdx.overture#AssociateVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG or connection.</p>",
            "smithy.api#required": true
          }
        },
        "virtualInterfaceId": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#AssociatedGateway": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazon.awsdx.overture#GatewayIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the associated gateway.</p>"
          }
        },
        "ownerAccount": {
          "target": "com.amazon.awsdx.overture#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account that owns the associated virtual private gateway or transit gateway.</p>"
          }
        },
        "region": {
          "target": "com.amazon.awsdx.overture#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Region where the associated gateway is located.</p>"
          }
        },
        "type": {
          "target": "com.amazon.awsdx.overture#GatewayType",
          "traits": {
            "smithy.api#documentation": "<p>The type of associated gateway.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the associated gateway.</p>"
      }
    },
    "com.amazon.awsdx.overture#AssociatedGatewayId": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#AvailablePortSpeeds": {
      "type": "list",
      "member": {
        "target": "com.amazon.awsdx.overture#PortSpeed"
      }
    },
    "com.amazon.awsdx.overture#AwsDevice": {
      "type": "string",
      "traits": {
        "smithy.api#deprecated": { }
      }
    },
    "com.amazon.awsdx.overture#AwsDeviceV2": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#BGPAuthKey": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#BGPPeer": {
      "type": "structure",
      "members": {
        "addressFamily": {
          "target": "com.amazon.awsdx.overture#AddressFamily",
          "traits": {
            "smithy.api#documentation": "<p>The address family for the BGP peer.</p>"
          }
        },
        "amazonAddress": {
          "target": "com.amazon.awsdx.overture#AmazonAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address assigned to the Amazon interface.</p>"
          }
        },
        "asn": {
          "target": "com.amazon.awsdx.overture#ASN",
          "traits": {
            "smithy.api#documentation": "<p>The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.</p>"
          }
        },
        "authKey": {
          "target": "com.amazon.awsdx.overture#BGPAuthKey",
          "traits": {
            "smithy.api#documentation": "<p>The authentication key for BGP configuration. This string has a minimum length of 6 characters and and a maximun lenth of 80 characters.</p>"
          }
        },
        "awsDeviceV2": {
          "target": "com.amazon.awsdx.overture#AwsDeviceV2",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect endpoint on which the BGP peer terminates.</p>"
          }
        },
        "bgpPeerId": {
          "target": "com.amazon.awsdx.overture#BGPPeerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the BGP peer.</p>"
          }
        },
        "bgpPeerState": {
          "target": "com.amazon.awsdx.overture#BGPPeerState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the BGP peer. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>verifying</code>: The BGP peering addresses or ASN require validation before the BGP peer can be created. This state applies only to public virtual interfaces.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: The BGP peer is created, and remains in this state until it is ready to be established.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: The BGP peer is ready to be established.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>:  The BGP peer is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>:  The BGP peer is deleted and cannot be established.</p>\n            </li>\n         </ul>"
          }
        },
        "bgpStatus": {
          "target": "com.amazon.awsdx.overture#BGPStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the BGP peer. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>up</code>: The BGP peer is established. This state does not indicate the \n        state of the routing function. Ensure that you are receiving routes over the BGP session.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: The BGP peer is down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The BGP peer status is not available.</p>\n            </li>\n         </ul>"
          }
        },
        "customerAddress": {
          "target": "com.amazon.awsdx.overture#CustomerAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address assigned to the customer interface.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a BGP peer.</p>"
      }
    },
    "com.amazon.awsdx.overture#BGPPeerId": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#BGPPeerList": {
      "type": "list",
      "member": {
        "target": "com.amazon.awsdx.overture#BGPPeer"
      }
    },
    "com.amazon.awsdx.overture#BGPPeerState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "verifying": {
            "name": "Verifying"
          },
          "pending": {
            "name": "Pending"
          },
          "available": {
            "name": "Available"
          },
          "deleting": {
            "name": "Deleting"
          },
          "deleted": {
            "name": "Deleted"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#BGPStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "up": {
            "name": "Up"
          },
          "down": {
            "name": "Down"
          },
          "unknown": {
            "name": "Unknown"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#Bandwidth": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#BooleanFlag": {
      "type": "boolean"
    },
    "com.amazon.awsdx.overture#CIDR": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#ConfirmConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#ConfirmConnectionRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#ConfirmConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Confirms the creation of the specified hosted connection on an interconnect.</p>\n         <p>Upon creation, the hosted connection is initially in the <code>Ordering</code> state, and \n      remains in this state until the owner confirms creation of the hosted connection.</p>"
      }
    },
    "com.amazon.awsdx.overture#ConfirmConnectionRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the hosted connection.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#ConfirmConnectionResponse": {
      "type": "structure",
      "members": {
        "connectionState": {
          "target": "com.amazon.awsdx.overture#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the connection. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p>\n            </li>\n            <li>\n               <p>\n                  <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: The connection has been approved and is being initialized.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: The network link is up and the connection is ready for use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: The network link is down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: The connection is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: The connection has been deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the connection is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#ConfirmPrivateVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#ConfirmPrivateVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#ConfirmPrivateVirtualInterfaceResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts ownership of a private virtual interface created by another AWS account.</p>\n         <p>After the virtual interface owner makes this call, the virtual interface is\n      created and attached to the specified virtual private gateway or Direct Connect gateway, and is\n      made available to handle traffic.</p>"
      }
    },
    "com.amazon.awsdx.overture#ConfirmPrivateVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "directConnectGatewayId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>"
          }
        },
        "virtualGatewayId": {
          "target": "com.amazon.awsdx.overture#VirtualGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual private gateway.</p>"
          }
        },
        "virtualInterfaceId": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#ConfirmPrivateVirtualInterfaceResponse": {
      "type": "structure",
      "members": {
        "virtualInterfaceState": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the virtual interface. The following are the possible values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p>\n            </li>\n            <li>\n               <p>\n                  <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: A virtual interface that is able to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: A virtual interface that is BGP down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: A virtual interface that cannot forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the virtual interface is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#ConfirmPublicVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#ConfirmPublicVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#ConfirmPublicVirtualInterfaceResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts ownership of a public virtual interface created by another AWS account.</p>\n         <p>After the virtual interface owner makes this call, the specified virtual interface is \n      created and made available to handle traffic.</p>"
      }
    },
    "com.amazon.awsdx.overture#ConfirmPublicVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "virtualInterfaceId": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#ConfirmPublicVirtualInterfaceResponse": {
      "type": "structure",
      "members": {
        "virtualInterfaceState": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the virtual interface. The following are the possible values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p>\n            </li>\n            <li>\n               <p>\n                  <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: A virtual interface that is able to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: A virtual interface that is BGP down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: A virtual interface that cannot forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the virtual interface is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#ConfirmTransitVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#ConfirmTransitVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#ConfirmTransitVirtualInterfaceResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts ownership of a transit virtual interface created by another AWS account.</p>\n    \n         <p> After the owner of the transit virtual interface makes this call, the specified transit virtual interface is created and made available to handle traffic.</p>"
      }
    },
    "com.amazon.awsdx.overture#ConfirmTransitVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "directConnectGatewayId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>",
            "smithy.api#required": true
          }
        },
        "virtualInterfaceId": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#ConfirmTransitVirtualInterfaceResponse": {
      "type": "structure",
      "members": {
        "virtualInterfaceState": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the virtual interface. The following are the possible values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p>\n            </li>\n            <li>\n               <p>\n                  <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: A virtual interface that is able to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: A virtual interface that is BGP down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: A virtual interface that cannot forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the virtual interface is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#Connection": {
      "type": "structure",
      "members": {
        "awsDevice": {
          "target": "com.amazon.awsdx.overture#AwsDevice",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect endpoint on which the physical connection terminates.</p>"
          }
        },
        "awsDeviceV2": {
          "target": "com.amazon.awsdx.overture#AwsDeviceV2",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect endpoint on which the physical connection terminates.</p>"
          }
        },
        "bandwidth": {
          "target": "com.amazon.awsdx.overture#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the connection.</p>"
          }
        },
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>"
          }
        },
        "connectionName": {
          "target": "com.amazon.awsdx.overture#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection.</p>"
          }
        },
        "connectionState": {
          "target": "com.amazon.awsdx.overture#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the connection. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p>\n            </li>\n            <li>\n               <p>\n                  <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: The connection has been approved and is being initialized.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: The network link is up and the connection is ready for use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: The network link is down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: The connection is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: The connection has been deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the connection is not available.</p>\n            </li>\n         </ul>"
          }
        },
        "hasLogicalRedundancy": {
          "target": "com.amazon.awsdx.overture#HasLogicalRedundancy",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the connection supports a secondary BGP peer in the same address family (IPv4/IPv6).</p>"
          }
        },
        "jumboFrameCapable": {
          "target": "com.amazon.awsdx.overture#JumboFrameCapable",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether jumbo frames (9001 MTU) are supported.</p>"
          }
        },
        "lagId": {
          "target": "com.amazon.awsdx.overture#LagId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG.</p>"
          }
        },
        "loaIssueTime": {
          "target": "com.amazon.awsdx.overture#LoaIssueTime",
          "traits": {
            "smithy.api#documentation": "<p>The time of the most recent call to <a>DescribeLoa</a> for this connection.</p>"
          }
        },
        "location": {
          "target": "com.amazon.awsdx.overture#LocationCode",
          "traits": {
            "smithy.api#documentation": "<p>The location of the connection.</p>"
          }
        },
        "ownerAccount": {
          "target": "com.amazon.awsdx.overture#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account that owns the connection.</p>"
          }
        },
        "partnerName": {
          "target": "com.amazon.awsdx.overture#PartnerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS Direct Connect service provider associated with the connection.</p>"
          }
        },
        "providerName": {
          "target": "com.amazon.awsdx.overture#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service provider associated with the connection.</p>"
          }
        },
        "region": {
          "target": "com.amazon.awsdx.overture#Region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region where the connection is located.</p>"
          }
        },
        "tags": {
          "target": "com.amazon.awsdx.overture#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the connection.</p>"
          }
        },
        "vlan": {
          "target": "com.amazon.awsdx.overture#VLAN",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VLAN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an AWS Direct Connect connection.</p>"
      }
    },
    "com.amazon.awsdx.overture#ConnectionId": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazon.awsdx.overture#Connection"
      }
    },
    "com.amazon.awsdx.overture#ConnectionName": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#ConnectionState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ordering": { },
          "requested": { },
          "pending": { },
          "available": { },
          "down": { },
          "deleting": { },
          "deleted": { },
          "rejected": { },
          "unknown": { }
        }
      }
    },
    "com.amazon.awsdx.overture#Connections": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.amazon.awsdx.overture#ConnectionList",
          "traits": {
            "smithy.api#documentation": "<p>The connections.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#Count": {
      "type": "integer"
    },
    "com.amazon.awsdx.overture#CreateBGPPeer": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreateBGPPeerRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#CreateBGPPeerResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a BGP peer on the specified virtual interface.</p>\n         <p>You must create a BGP peer for the corresponding address family (IPv4/IPv6) in order to access AWS resources that also use that address family.</p>\n         <p>If logical redundancy is not supported by the connection, interconnect, or LAG, the BGP peer cannot \n      be in the same address family as an existing BGP peer on the virtual interface.</p>\n         <p>When creating a IPv6 BGP peer, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from\n      the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>\n         <p>For a public virtual interface, the Autonomous System Number (ASN) must be private or already whitelisted for the virtual interface.</p>"
      }
    },
    "com.amazon.awsdx.overture#CreateBGPPeerRequest": {
      "type": "structure",
      "members": {
        "newBGPPeer": {
          "target": "com.amazon.awsdx.overture#NewBGPPeer",
          "traits": {
            "smithy.api#documentation": "<p>Information about the BGP peer.</p>"
          }
        },
        "virtualInterfaceId": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateBGPPeerResponse": {
      "type": "structure",
      "members": {
        "virtualInterface": {
          "target": "com.amazon.awsdx.overture#VirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>The virtual interface.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreateConnectionRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Connection"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a connection between a customer network and a specific AWS Direct Connect location.</p>\n\n         <p>A connection links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic \n      cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router.</p>\n         <p>To find the locations for your Region, use <a>DescribeLocations</a>.</p>\n         <p>You can automatically add the new connection to a link aggregation group (LAG) by\n      specifying a LAG ID in the request. This ensures that the new connection is allocated on the\n      same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, \n      the request fails and no connection is created.</p>"
      }
    },
    "com.amazon.awsdx.overture#CreateConnectionRequest": {
      "type": "structure",
      "members": {
        "bandwidth": {
          "target": "com.amazon.awsdx.overture#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the connection.</p>",
            "smithy.api#required": true
          }
        },
        "connectionName": {
          "target": "com.amazon.awsdx.overture#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection.</p>",
            "smithy.api#required": true
          }
        },
        "lagId": {
          "target": "com.amazon.awsdx.overture#LagId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG.</p>"
          }
        },
        "location": {
          "target": "com.amazon.awsdx.overture#LocationCode",
          "traits": {
            "smithy.api#documentation": "<p>The location of the connection.</p>",
            "smithy.api#required": true
          }
        },
        "providerName": {
          "target": "com.amazon.awsdx.overture#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service provider associated with the requested connection.</p>"
          }
        },
        "tags": {
          "target": "com.amazon.awsdx.overture#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the lag.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateDirectConnectGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreateDirectConnectGatewayRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#CreateDirectConnectGatewayResult"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Direct Connect gateway, which is an intermediate object that enables you to connect a set \n      of virtual interfaces and virtual private gateways. A Direct Connect gateway is global and visible in any \n      AWS Region after it is created. The virtual interfaces and virtual private gateways that \n      are connected through a Direct Connect gateway can be in different AWS Regions. This enables you to\n      connect to a VPC in any Region, regardless of the Region in which the virtual interfaces\n      are located, and pass traffic between them.</p>"
      }
    },
    "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociationRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociationResult"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an association between a Direct Connect gateway and a virtual private gateway. The virtual\n      private gateway must be attached to a VPC and must not be associated with another Direct Connect gateway.</p>"
      }
    },
    "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociationProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociationProposalRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociationProposalResult"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a proposal to associate the specified virtual private gateway or transit gateway with the specified Direct Connect gateway.</p>\n         <p>You can only associate a Direct Connect gateway and virtual private gateway or transit gateway when the account that owns the Direct Connect gateway  and the account that owns the virtual private gateway or transit gateway have the same AWS Payer ID.</p>"
      }
    },
    "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociationProposalRequest": {
      "type": "structure",
      "members": {
        "addAllowedPrefixesToDirectConnectGateway": {
          "target": "com.amazon.awsdx.overture#RouteFilterPrefixList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon VPC prefixes to advertise to the Direct Connect gateway.</p>"
          }
        },
        "directConnectGatewayId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>",
            "smithy.api#required": true
          }
        },
        "directConnectGatewayOwnerAccount": {
          "target": "com.amazon.awsdx.overture#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account that owns the Direct Connect gateway.</p>",
            "smithy.api#required": true
          }
        },
        "gatewayId": {
          "target": "com.amazon.awsdx.overture#GatewayIdToAssociate",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual private gateway or transit gateway.</p>",
            "smithy.api#required": true
          }
        },
        "removeAllowedPrefixesToDirectConnectGateway": {
          "target": "com.amazon.awsdx.overture#RouteFilterPrefixList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon VPC prefixes to no longer advertise to the Direct Connect gateway.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociationProposalResult": {
      "type": "structure",
      "members": {
        "directConnectGatewayAssociationProposal": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayAssociationProposal",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Direct Connect gateway proposal.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociationRequest": {
      "type": "structure",
      "members": {
        "addAllowedPrefixesToDirectConnectGateway": {
          "target": "com.amazon.awsdx.overture#RouteFilterPrefixList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon VPC prefixes to advertise to the Direct Connect gateway</p>\n         <p>This parameter is required when you create an association to a transit gateway.</p>\n         <p>For information about how to set the prefixes, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes\">Allowed Prefixes</a> in the <i>AWS Direct Connect User Guide</i>.</p>"
          }
        },
        "directConnectGatewayId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>",
            "smithy.api#required": true
          }
        },
        "gatewayId": {
          "target": "com.amazon.awsdx.overture#GatewayIdToAssociate",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual private gateway or transit gateway.</p>"
          }
        },
        "virtualGatewayId": {
          "target": "com.amazon.awsdx.overture#VirtualGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual private gateway.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateDirectConnectGatewayAssociationResult": {
      "type": "structure",
      "members": {
        "directConnectGatewayAssociation": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The association to be created.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateDirectConnectGatewayRequest": {
      "type": "structure",
      "members": {
        "amazonSideAsn": {
          "target": "com.amazon.awsdx.overture#LongAsn",
          "traits": {
            "smithy.api#documentation": "<p>The autonomous system number (ASN) for Border Gateway Protocol (BGP) to be configured\n      on the Amazon side of the connection. The ASN must be in the private range of 64,512 to\n      65,534 or 4,200,000,000 to 4,294,967,294. The default is 64512.</p>"
          }
        },
        "directConnectGatewayName": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Direct Connect gateway.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateDirectConnectGatewayResult": {
      "type": "structure",
      "members": {
        "directConnectGateway": {
          "target": "com.amazon.awsdx.overture#DirectConnectGateway",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect gateway.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreateInterconnectRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Interconnect"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an interconnect between an AWS Direct Connect Partner's network and a specific AWS Direct Connect location.</p>\n         <p>An interconnect is a connection that is capable of hosting other connections. The AWS\n      Direct Connect partner can use an interconnect to provide AWS Direct Connect hosted\n      connections to customers through their own network services. Like a standard connection, an\n      interconnect links the partner's network to an AWS Direct Connect location over a standard Ethernet\n      fiber-optic cable. One end is connected to the partner's router, the other to an AWS Direct Connect\n      router.</p>\n         <p>You can automatically add the new interconnect to a link aggregation group (LAG) by\n      specifying a LAG ID in the request. This ensures that the new interconnect is allocated on\n      the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the \n      endpoint, the request fails and no interconnect is created.</p>\n         <p>For each end customer, the AWS Direct Connect Partner provisions a connection on their interconnect by calling <a>AllocateHostedConnection</a>.\n      The end customer can then connect to AWS resources by creating a virtual interface on their connection, using the VLAN assigned to them by the AWS Direct Connect Partner.</p>\n         <note>\n            <p>Intended for use by AWS Direct Connect Partners only.</p>\n         </note>"
      }
    },
    "com.amazon.awsdx.overture#CreateInterconnectRequest": {
      "type": "structure",
      "members": {
        "bandwidth": {
          "target": "com.amazon.awsdx.overture#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The port bandwidth, in Gbps. The possible values are 1 and 10.</p>",
            "smithy.api#required": true
          }
        },
        "interconnectName": {
          "target": "com.amazon.awsdx.overture#InterconnectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the interconnect.</p>",
            "smithy.api#required": true
          }
        },
        "lagId": {
          "target": "com.amazon.awsdx.overture#LagId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG.</p>"
          }
        },
        "location": {
          "target": "com.amazon.awsdx.overture#LocationCode",
          "traits": {
            "smithy.api#documentation": "<p>The location of the interconnect.</p>",
            "smithy.api#required": true
          }
        },
        "providerName": {
          "target": "com.amazon.awsdx.overture#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service provider associated with the interconnect.</p>"
          }
        },
        "tags": {
          "target": "com.amazon.awsdx.overture#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the interconnect.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateLag": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreateLagRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Lag"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a link aggregation group (LAG) with the specified number of bundled\n      physical connections between the customer network and a specific AWS Direct Connect location.\n      A LAG is a logical interface that uses the Link Aggregation Control Protocol\n      (LACP) to aggregate multiple interfaces, enabling you to treat them as a single \n      interface.</p>\n         <p>All connections in a LAG must use the same bandwidth and must terminate at the same AWS Direct Connect endpoint.</p>\n         <p>You can have up to 10 connections per LAG. Regardless of this limit, if you request more connections \n      for the LAG than AWS Direct Connect can allocate on a single endpoint, no LAG is created.</p>\n         <p>You can specify an existing physical connection or interconnect to include in the LAG\n      (which counts towards the total number of connections). Doing so interrupts the current\n      physical connection or hosted connections, and re-establishes them as a member of the\n      LAG. The LAG will be created on the same AWS Direct Connect endpoint to which the\n      connection terminates. Any virtual interfaces associated with the connection are\n      automatically disassociated and re-associated with the LAG. The connection ID does not\n      change.</p>\n         <p>If the AWS account used to create a LAG is a registered AWS Direct Connect Partner, the LAG is \n      automatically enabled to host sub-connections. For a LAG owned by a partner, any associated virtual \n      interfaces cannot be directly configured.</p>"
      }
    },
    "com.amazon.awsdx.overture#CreateLagRequest": {
      "type": "structure",
      "members": {
        "childConnectionTags": {
          "target": "com.amazon.awsdx.overture#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the automtically created LAGs.</p>"
          }
        },
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an existing connection to migrate to the LAG.</p>"
          }
        },
        "connectionsBandwidth": {
          "target": "com.amazon.awsdx.overture#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the individual physical connections bundled by the LAG. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. </p>",
            "smithy.api#required": true
          }
        },
        "lagName": {
          "target": "com.amazon.awsdx.overture#LagName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the LAG.</p>",
            "smithy.api#required": true
          }
        },
        "location": {
          "target": "com.amazon.awsdx.overture#LocationCode",
          "traits": {
            "smithy.api#documentation": "<p>The location for the LAG.</p>",
            "smithy.api#required": true
          }
        },
        "numberOfConnections": {
          "target": "com.amazon.awsdx.overture#Count",
          "traits": {
            "smithy.api#documentation": "<p>The number of physical connections initially provisioned and bundled by the LAG.</p>",
            "smithy.api#required": true
          }
        },
        "providerName": {
          "target": "com.amazon.awsdx.overture#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service provider associated with the LAG.</p>"
          }
        },
        "tags": {
          "target": "com.amazon.awsdx.overture#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the LAG.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreatePrivateVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreatePrivateVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a private virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic.\n      A private virtual interface can be connected to either a Direct Connect gateway or a Virtual Private Gateway (VGW).\n      Connecting the private virtual interface to a Direct Connect gateway enables the possibility for connecting to multiple \n      VPCs, including VPCs in different AWS Regions. Connecting the private virtual interface to a VGW only \n      provides access to a single VPC within the same Region.</p>"
      }
    },
    "com.amazon.awsdx.overture#CreatePrivateVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": true
          }
        },
        "newPrivateVirtualInterface": {
          "target": "com.amazon.awsdx.overture#NewPrivateVirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>Information about the private virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreatePublicVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreatePublicVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a public virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic.\n      A public virtual interface supports sending traffic to public services of AWS such as Amazon S3.</p>\n         <p>When creating an IPv6 public virtual interface (<code>addressFamily</code> is <code>ipv6</code>), leave the <code>customer</code>\n      and <code>amazon</code> address fields blank to use auto-assigned IPv6 space. Custom IPv6 addresses are not supported.</p>"
      }
    },
    "com.amazon.awsdx.overture#CreatePublicVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": true
          }
        },
        "newPublicVirtualInterface": {
          "target": "com.amazon.awsdx.overture#NewPublicVirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>Information about the public virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateTransitVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#CreateTransitVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#CreateTransitVirtualInterfaceResult"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        },
        {
          "target": "com.amazon.awsdx.overture#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.awsdx.overture#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transit virtual interface. A transit virtual interface should be used to access one or more transit gateways associated with Direct Connect gateways. A transit virtual interface enables the connection of multiple VPCs attached to a transit gateway to a Direct Connect gateway.</p>\n         <important>\n            <p>If you associate your transit gateway with one or more Direct Connect gateways, the Autonomous System Number (ASN) used by the transit gateway and the Direct Connect gateway must be different. For example, if you use the default ASN 64512 for both your the transit gateway and Direct Connect gateway, the association request fails.</p>\n         </important>"
      }
    },
    "com.amazon.awsdx.overture#CreateTransitVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": true
          }
        },
        "newTransitVirtualInterface": {
          "target": "com.amazon.awsdx.overture#NewTransitVirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>Information about the transit virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#CreateTransitVirtualInterfaceResult": {
      "type": "structure",
      "members": {
        "virtualInterface": {
          "target": "com.amazon.awsdx.overture#VirtualInterface"
        }
      }
    },
    "com.amazon.awsdx.overture#CustomerAddress": {
      "type": "string"
    },
    "com.amazon.awsdx.overture#DeleteBGPPeer": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DeleteBGPPeerRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#DeleteBGPPeerResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified BGP peer on the specified virtual interface with the specified customer address and ASN.</p>\n         <p>You cannot delete the last BGP peer from a virtual interface.</p>"
      }
    },
    "com.amazon.awsdx.overture#DeleteBGPPeerRequest": {
      "type": "structure",
      "members": {
        "asn": {
          "target": "com.amazon.awsdx.overture#ASN",
          "traits": {
            "smithy.api#documentation": "<p>The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.</p>"
          }
        },
        "bgpPeerId": {
          "target": "com.amazon.awsdx.overture#BGPPeerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the BGP peer.</p>"
          }
        },
        "customerAddress": {
          "target": "com.amazon.awsdx.overture#CustomerAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address assigned to the customer interface.</p>"
          }
        },
        "virtualInterfaceId": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteBGPPeerResponse": {
      "type": "structure",
      "members": {
        "virtualInterface": {
          "target": "com.amazon.awsdx.overture#VirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>The virtual interface.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DeleteConnectionRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Connection"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified connection.</p>\n         <p>Deleting a connection only stops the AWS Direct Connect port hour and data transfer charges. \n      If you are partnering with any third parties to connect with the AWS Direct Connect location, \n      you must cancel your service with them separately.</p>"
      }
    },
    "com.amazon.awsdx.overture#DeleteConnectionRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteDirectConnectGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DeleteDirectConnectGatewayRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#DeleteDirectConnectGatewayResult"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Direct Connect gateway. You must first delete all virtual interfaces that are\n      attached to the Direct Connect gateway and disassociate all virtual private gateways associated \n      with the Direct Connect gateway.</p>"
      }
    },
    "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociationRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociationResult"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the association between the specified Direct Connect gateway and virtual private gateway.</p>\n         <p>We recommend that you specify the <code>associationID</code> to delete the association. Alternatively, if you own virtual gateway and a Direct Connect gateway association, you can specify the <code>virtualGatewayId</code> and <code>directConnectGatewayId</code> to delete an association.</p>"
      }
    },
    "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociationProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociationProposalRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociationProposalResult"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the association proposal request between the specified Direct Connect gateway and virtual private gateway or transit gateway.</p>"
      }
    },
    "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociationProposalRequest": {
      "type": "structure",
      "members": {
        "proposalId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayAssociationProposalId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the proposal.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociationProposalResult": {
      "type": "structure",
      "members": {
        "directConnectGatewayAssociationProposal": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayAssociationProposal",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the associated gateway.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociationRequest": {
      "type": "structure",
      "members": {
        "associationId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway association.</p>"
          }
        },
        "directConnectGatewayId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>"
          }
        },
        "virtualGatewayId": {
          "target": "com.amazon.awsdx.overture#VirtualGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual private gateway.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteDirectConnectGatewayAssociationResult": {
      "type": "structure",
      "members": {
        "directConnectGatewayAssociation": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the deleted association.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteDirectConnectGatewayRequest": {
      "type": "structure",
      "members": {
        "directConnectGatewayId": {
          "target": "com.amazon.awsdx.overture#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteDirectConnectGatewayResult": {
      "type": "structure",
      "members": {
        "directConnectGateway": {
          "target": "com.amazon.awsdx.overture#DirectConnectGateway",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect gateway.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DeleteInterconnectRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#DeleteInterconnectResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified interconnect.</p>\n         <note>\n            <p>Intended for use\n        by AWS Direct Connect Partners only.</p>\n         </note>"
      }
    },
    "com.amazon.awsdx.overture#DeleteInterconnectRequest": {
      "type": "structure",
      "members": {
        "interconnectId": {
          "target": "com.amazon.awsdx.overture#InterconnectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the interconnect.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteInterconnectResponse": {
      "type": "structure",
      "members": {
        "interconnectState": {
          "target": "com.amazon.awsdx.overture#InterconnectState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the interconnect. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>requested</code>: The initial state of an interconnect. The interconnect stays in the\n        requested state until the Letter of Authorization (LOA) is sent to the customer.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: The interconnect is approved, and is being initialized.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: The network link is up, and the interconnect is ready for use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: The network link is down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: The interconnect is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: The interconnect is deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the interconnect is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteLag": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DeleteLagRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Lag"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified link aggregation group (LAG). You cannot delete a LAG if it has active\n      virtual interfaces or hosted connections.</p>"
      }
    },
    "com.amazon.awsdx.overture#DeleteLagRequest": {
      "type": "structure",
      "members": {
        "lagId": {
          "target": "com.amazon.awsdx.overture#LagId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DeleteVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#DeleteVirtualInterfaceResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a virtual interface.</p>"
      }
    },
    "com.amazon.awsdx.overture#DeleteVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "virtualInterfaceId": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DeleteVirtualInterfaceResponse": {
      "type": "structure",
      "members": {
        "virtualInterfaceState": {
          "target": "com.amazon.awsdx.overture#VirtualInterfaceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the virtual interface. The following are the possible values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p>\n            </li>\n            <li>\n               <p>\n                  <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: A virtual interface that is able to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: A virtual interface that is BGP down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: A virtual interface that cannot forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the virtual interface is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DescribeConnectionLoa": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DescribeConnectionLoaRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#DescribeConnectionLoaResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": { },
        "smithy.api#documentation": "<p>Deprecated. Use <a>DescribeLoa</a> instead.</p>\n         <p>Gets the LOA-CFA for a connection.</p>\n         <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that your APN partner or\n      service provider uses when establishing your cross connect to AWS at the colocation facility. For more information,\n      see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects\n      at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>"
      }
    },
    "com.amazon.awsdx.overture#DescribeConnectionLoaRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazon.awsdx.overture#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": true
          }
        },
        "loaContentType": {
          "target": "com.amazon.awsdx.overture#LoaContentType",
          "traits": {
            "smithy.api#documentation": "<p>The standard media type for the LOA-CFA document. The only supported value is application/pdf.</p>"
          }
        },
        "providerName": {
          "target": "com.amazon.awsdx.overture#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the APN partner or service provider who establishes connectivity on your behalf. If you specify this parameter, \n      the LOA-CFA lists the provider name alongside your company name as the requester of the cross connect.</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DescribeConnectionLoaResponse": {
      "type": "structure",
      "members": {
        "loa": {
          "target": "com.amazon.awsdx.overture#Loa",
          "traits": {
            "smithy.api#documentation": "<p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA).</p>"
          }
        }
      }
    },
    "com.amazon.awsdx.overture#DescribeConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsdx.overture#DescribeConnectionsRequest"
      },
      "output": {
        "target": "com.amazon.awsdx.overture#Connections"
      },
      "errors": [
        {
          "target": "com.amazon.awsdx.overture#DirectConnectClientException"
        },
        {
          "target": "com.amazon.awsdx.overture#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays the specified connection or all connections in this Region.</p>"
      }
    },
[...]
