{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.directoryservice.v20150416#AcceptSharedDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#AcceptSharedDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#AcceptSharedDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryAlreadySharedException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a directory sharing request that was sent from the directory owner account.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#AcceptSharedDirectoryRequest": {
      "type": "structure",
      "members": {
        "SharedDirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the shared directory in the directory consumer account. This identifier is different for each directory owner account. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#AcceptSharedDirectoryResult": {
      "type": "structure",
      "members": {
        "SharedDirectory": {
          "target": "com.amazonaws.directoryservice.v20150416#SharedDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The shared directory in the directory consumer account.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice.v20150416#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice.v20150416#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice.v20150416#AccessUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#AddIpRoutes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#AddIpRoutesRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#AddIpRoutesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#IpRouteLimitExceededException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>If the DNS server for your on-premises domain uses a publicly addressable IP address, you must add a CIDR address block to correctly route traffic to and from your Microsoft AD on Amazon Web Services. <i>AddIpRoutes</i> adds this address block. You can also use <i>AddIpRoutes</i> to facilitate routing traffic that uses public IP ranges from your Microsoft AD on AWS to a peer VPC. </p>\n         <p>Before you call <i>AddIpRoutes</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>AddIpRoutes</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#AddIpRoutesRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier (ID) of the directory to which to add the address block.</p>",
            "smithy.api#required": true
          }
        },
        "IpRoutes": {
          "target": "com.amazonaws.directoryservice.v20150416#IpRoutes",
          "traits": {
            "smithy.api#documentation": "<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.</p>",
            "smithy.api#required": true
          }
        },
        "UpdateSecurityGroupForDirectoryControllers": {
          "target": "com.amazonaws.directoryservice.v20150416#UpdateSecurityGroupForDirectoryControllers",
          "traits": {
            "smithy.api#documentation": "<p>If set to true, updates the inbound and outbound rules of the security group that has the description: \"AWS created security group for <i>directory ID</i> directory controllers.\"\n         Following are the new rules:\n      </p>\n         <p>Inbound:</p>\n         <ul>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 88, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 123, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 138, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 389, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 464, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 445, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 88, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 135, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 445, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 464, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 636, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 1024-65535, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 3268-33269, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: DNS (UDP), Protocol: UDP, Range: 53, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: DNS (TCP), Protocol: TCP, Range: 53, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: LDAP, Protocol: TCP, Range: 389, Source: 0.0.0.0/0</p>\n            </li>\n            <li> \n               <p>Type: All ICMP, Protocol: All, Range: N/A, Source: 0.0.0.0/0</p>\n            </li>\n         </ul>\n      \n         <p></p>\n         <p>Outbound:</p>\n         <ul>\n            <li> \n               <p>Type: All traffic, Protocol: All, Range: All, Destination: 0.0.0.0/0</p>\n            </li>\n         </ul>\n         <p>These security rules impact an internal network interface that is not exposed publicly.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#AddIpRoutesResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.directoryservice.v20150416#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#AddTagsToResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#AddTagsToResourceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#TagLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or overwrites one or more tags for the specified directory. Each directory can have a maximum of 50 tags. Each tag consists of a key and optional value. Tag keys must be unique to each resource.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#AddTagsToResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.directoryservice.v20150416#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier (ID) for the directory to which to add the tag.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.directoryservice.v20150416#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the directory.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#AddTagsToResourceResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.directoryservice.v20150416#AddedDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.directoryservice.v20150416#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 62
        },
        "smithy.api#pattern": "^(?!d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*"
      }
    },
    "com.amazonaws.directoryservice.v20150416#Attribute": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.directoryservice.v20150416#AttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.directoryservice.v20150416#AttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a named directory attribute.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#AttributeValue": {
      "type": "string"
    },
    "com.amazonaws.directoryservice.v20150416#Attributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice.v20150416#Attribute"
      }
    },
    "com.amazonaws.directoryservice.v20150416#AuthenticationFailedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice.v20150416#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The textual message for the exception.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice.v20150416#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the request that caused the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An authentication error occurred.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice.v20150416#AvailabilityZone": {
      "type": "string"
    },
    "com.amazonaws.directoryservice.v20150416#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice.v20150416#AvailabilityZone"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CancelSchemaExtension": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#CancelSchemaExtensionRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#CancelSchemaExtensionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an in-progress schema extension to a Microsoft AD directory. Once a schema extension has started replicating to all domain controllers, the task can no longer be canceled. A schema extension can be canceled during any of the following states; <code>Initializing</code>, <code>CreatingSnapshot</code>, and <code>UpdatingSchema</code>.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CancelSchemaExtensionRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory whose schema extension will be canceled.</p>",
            "smithy.api#required": true
          }
        },
        "SchemaExtensionId": {
          "target": "com.amazonaws.directoryservice.v20150416#SchemaExtensionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the schema extension that will be canceled.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#CancelSchemaExtensionResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.directoryservice.v20150416#Certificate": {
      "type": "structure",
      "members": {
        "CertificateId": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the certificate.</p>"
          }
        },
        "CommonName": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateCN",
          "traits": {
            "smithy.api#documentation": "<p>The common name for the certificate.</p>"
          }
        },
        "ExpiryDateTime": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateExpiryDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the certificate will expire.</p>"
          }
        },
        "RegisteredDateTime": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateRegisteredDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the certificate was registered.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the certificate.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateStateReason",
          "traits": {
            "smithy.api#documentation": "<p>Describes a state change for the certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the certificate.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CertificateAlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice.v20150416#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice.v20150416#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate has already been registered into the system.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CertificateCN": {
      "type": "string"
    },
    "com.amazonaws.directoryservice.v20150416#CertificateData": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8192
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#CertificateDoesNotExistException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice.v20150416#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice.v20150416#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate is not present in the system for describe or deregister activities.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CertificateExpiryDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.directoryservice.v20150416#CertificateId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^c-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CertificateInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice.v20150416#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice.v20150416#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate is being used for the LDAP security connection and cannot be removed\n      without disabling LDAP security.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CertificateInfo": {
      "type": "structure",
      "members": {
        "CertificateId": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the certificate.</p>"
          }
        },
        "CommonName": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateCN",
          "traits": {
            "smithy.api#documentation": "<p>The common name for the certificate.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains general information about a certificate.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CertificateLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice.v20150416#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice.v20150416#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate could not be added because the certificate limit has been reached.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CertificateRegisteredDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.directoryservice.v20150416#CertificateState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Registering": {
            "name": "REGISTERING"
          },
          "Registered": {
            "name": "REGISTERED"
          },
          "RegisterFailed": {
            "name": "REGISTER_FAILED"
          },
          "Deregistering": {
            "name": "DEREGISTERING"
          },
          "Deregistered": {
            "name": "DEREGISTERED"
          },
          "DeregisterFailed": {
            "name": "DEREGISTER_FAILED"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#CertificateStateReason": {
      "type": "string"
    },
    "com.amazonaws.directoryservice.v20150416#CertificatesInfo": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice.v20150416#CertificateInfo"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CidrIp": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/([1-9]|[1-2][0-9]|3[0-2]))$"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CidrIps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice.v20150416#CidrIp"
      }
    },
    "com.amazonaws.directoryservice.v20150416#ClientException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice.v20150416#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice.v20150416#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A client exception has occurred.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CloudOnlyDirectoriesLimitReached": {
      "type": "boolean"
    },
    "com.amazonaws.directoryservice.v20150416#Computer": {
      "type": "structure",
      "members": {
        "ComputerAttributes": {
          "target": "com.amazonaws.directoryservice.v20150416#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>An array of <a>Attribute</a> objects containing the LDAP attributes that belong to the\n            computer account.</p>"
          }
        },
        "ComputerId": {
          "target": "com.amazonaws.directoryservice.v20150416#SID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the computer.</p>"
          }
        },
        "ComputerName": {
          "target": "com.amazonaws.directoryservice.v20150416#ComputerName",
          "traits": {
            "smithy.api#documentation": "<p>The computer name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a computer account in a directory.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#ComputerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 15
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#ComputerPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 64
        },
        "smithy.api#pattern": "[\\u0020-\\u00FF]+",
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.directoryservice.v20150416#ConditionalForwarder": {
      "type": "structure",
      "members": {
        "DnsIpAddrs": {
          "target": "com.amazonaws.directoryservice.v20150416#DnsIpAddrs",
          "traits": {
            "smithy.api#documentation": "<p>The IP addresses of the remote DNS server associated with RemoteDomainName. This is the IP address of the DNS server that your conditional forwarder points to.</p>"
          }
        },
        "RemoteDomainName": {
          "target": "com.amazonaws.directoryservice.v20150416#RemoteDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name (FQDN) of the remote domains pointed to by the conditional forwarder.</p>"
          }
        },
        "ReplicationScope": {
          "target": "com.amazonaws.directoryservice.v20150416#ReplicationScope",
          "traits": {
            "smithy.api#documentation": "<p>The replication scope of the conditional forwarder. The only allowed value is\n                  <code>Domain</code>, which will replicate the conditional forwarder to all of the\n                  domain controllers for your AWS directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Points to a remote domain with which you are setting up a trust relationship. Conditional forwarders are required in order to set up a trust relationship with another domain.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#ConditionalForwarders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice.v20150416#ConditionalForwarder"
      }
    },
    "com.amazonaws.directoryservice.v20150416#ConnectDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#ConnectDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#ConnectDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryLimitExceededException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AD Connector to connect to an on-premises directory.</p>\n         <p>Before you call <code>ConnectDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>ConnectDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#ConnectDirectoryRequest": {
      "type": "structure",
      "members": {
        "ConnectSettings": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryConnectSettings",
          "traits": {
            "smithy.api#documentation": "<p>A <a>DirectoryConnectSettings</a> object that contains additional information for the\n         operation.</p>",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.directoryservice.v20150416#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the directory.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of the on-premises directory, such as\n        <code>corp.example.com</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Password": {
          "target": "com.amazonaws.directoryservice.v20150416#ConnectPassword",
          "traits": {
            "smithy.api#documentation": "<p>The password for the on-premises user account.</p>",
            "smithy.api#required": true
          }
        },
        "ShortName": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryShortName",
          "traits": {
            "smithy.api#documentation": "<p>The NetBIOS name of the on-premises directory, such as <code>CORP</code>.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectorySize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the directory.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.directoryservice.v20150416#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to AD Connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>ConnectDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#ConnectDirectoryResult": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>ConnectDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#ConnectPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.directoryservice.v20150416#ConnectedDirectoriesLimitReached": {
      "type": "boolean"
    },
    "com.amazonaws.directoryservice.v20150416#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateAliasResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alias for a directory and assigns the alias to the directory. The alias is used\n         to construct the access URL for the directory, such as\n            <code>http://<alias>.awsapps.com</code>.</p>\n         <important>\n            <p>After an alias has been created, it cannot be deleted or reused, so this operation should only be used when absolutely necessary.</p>\n         </important>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.directoryservice.v20150416#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The requested alias.</p>\n         <p>The alias must be unique amongst all aliases in AWS. This operation throws an\n            <code>EntityAlreadyExistsException</code> error if the alias already exists.</p>",
            "smithy.api#required": true
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory for which to create the alias.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>CreateAlias</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateAliasResult": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.directoryservice.v20150416#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The alias for the directory.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>CreateAlias</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateComputer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateComputerRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateComputerResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#AuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a computer account in the specified directory, and joins the computer to the directory.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateComputerRequest": {
      "type": "structure",
      "members": {
        "ComputerAttributes": {
          "target": "com.amazonaws.directoryservice.v20150416#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>An array of <a>Attribute</a> objects that contain any LDAP attributes to apply to the\n            computer account.</p>"
          }
        },
        "ComputerName": {
          "target": "com.amazonaws.directoryservice.v20150416#ComputerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the computer account.</p>",
            "smithy.api#required": true
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory in which to create the computer account.</p>",
            "smithy.api#required": true
          }
        },
        "OrganizationalUnitDistinguishedName": {
          "target": "com.amazonaws.directoryservice.v20150416#OrganizationalUnitDN",
          "traits": {
            "smithy.api#documentation": "<p>The fully-qualified distinguished name of the organizational unit to place the computer account in.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.directoryservice.v20150416#ComputerPassword",
          "traits": {
            "smithy.api#documentation": "<p>A one-time password that is used to join the computer to the directory. You should generate a random, strong password to use for this parameter.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>CreateComputer</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateComputerResult": {
      "type": "structure",
      "members": {
        "Computer": {
          "target": "com.amazonaws.directoryservice.v20150416#Computer",
          "traits": {
            "smithy.api#documentation": "<p>A <a>Computer</a> object that represents the computer account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results for the <a>CreateComputer</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateConditionalForwarder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateConditionalForwarderRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateConditionalForwarderResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a conditional forwarder associated with your AWS directory. Conditional forwarders are required in order to set up a trust relationship with another domain. The conditional forwarder points to the trusted domain.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateConditionalForwarderRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID of the AWS directory for which you are creating the conditional forwarder.</p>",
            "smithy.api#required": true
          }
        },
        "DnsIpAddrs": {
          "target": "com.amazonaws.directoryservice.v20150416#DnsIpAddrs",
          "traits": {
            "smithy.api#documentation": "<p>The IP addresses of the remote DNS server associated with RemoteDomainName.</p>",
            "smithy.api#required": true
          }
        },
        "RemoteDomainName": {
          "target": "com.amazonaws.directoryservice.v20150416#RemoteDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name (FQDN) of the remote domain with which you will set up a trust relationship.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Initiates the creation of a conditional forwarder for your AWS Directory Service for Microsoft Active Directory. Conditional forwarders are required in order to set up a trust relationship with another domain.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateConditionalForwarderResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>The result of a CreateConditinalForwarder request.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryLimitExceededException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Simple AD directory. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/directory_simple_ad.html\">Simple Active Directory</a> in the <i>AWS Directory Service Admin Guide</i>.</p>\n         <p>Before you call <code>CreateDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>CreateDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateDirectoryRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.directoryservice.v20150416#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the directory.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name for the directory, such as <code>corp.example.com</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Password": {
          "target": "com.amazonaws.directoryservice.v20150416#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password for the directory administrator. The directory creation process creates\n      a directory administrator account with the user name <code>Administrator</code> and this\n      password.</p>\n         <p>If you need to change the password for the administrator account, you can use the <a>ResetUserPassword</a> API call.</p>",
            "smithy.api#required": true
          }
        },
        "ShortName": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryShortName",
          "traits": {
            "smithy.api#documentation": "<p>The NetBIOS name of the directory, such as <code>CORP</code>.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectorySize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the directory.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.directoryservice.v20150416#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the Simple AD directory.</p>"
          }
        },
        "VpcSettings": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryVpcSettings",
          "traits": {
            "smithy.api#documentation": "<p>A <a>DirectoryVpcSettings</a> object that contains additional information for the\n         operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>CreateDirectory</a> operation. </p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateDirectoryResult": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>CreateDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateLogSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateLogSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateLogSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InsufficientPermissionsException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a subscription to forward real-time Directory Service domain controller\n      security logs to the specified Amazon CloudWatch log group in your AWS account.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateLogSubscriptionRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the directory to which you want to subscribe and receive real-time logs\n      to your specified CloudWatch log group.</p>",
            "smithy.api#required": true
          }
        },
        "LogGroupName": {
          "target": "com.amazonaws.directoryservice.v20150416#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch log group where the real-time domain controller logs are forwarded.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateLogSubscriptionResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.directoryservice.v20150416#CreateMicrosoftAD": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateMicrosoftADRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateMicrosoftADResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryLimitExceededException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Microsoft AD directory in the AWS Cloud. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/directory_microsoft_ad.html\">AWS Managed Microsoft AD</a> in the <i>AWS Directory Service Admin Guide</i>.</p>\n         <p>Before you call <i>CreateMicrosoftAD</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>CreateMicrosoftAD</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateMicrosoftADRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.directoryservice.v20150416#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the directory. This label will appear on the AWS console <code>Directory Details</code> page after the directory is created.</p>"
          }
        },
        "Edition": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryEdition",
          "traits": {
            "smithy.api#documentation": "<p>AWS Managed Microsoft AD is available in two editions: <code>Standard</code> and <code>Enterprise</code>. <code>Enterprise</code> is the default.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name for the AWS Managed Microsoft AD directory, such as\n       <code>corp.example.com</code>. This name will resolve inside your VPC only. It does not need\n       to be publicly resolvable.</p>",
            "smithy.api#required": true
          }
        },
        "Password": {
          "target": "com.amazonaws.directoryservice.v20150416#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password for the default administrative user named <code>Admin</code>.</p>\n         <p>If you need to change the password for the administrator account, you can use the <a>ResetUserPassword</a> API call.</p>",
            "smithy.api#required": true
          }
        },
        "ShortName": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryShortName",
          "traits": {
            "smithy.api#documentation": "<p>The NetBIOS name for your domain, such as <code>CORP</code>. If you don't specify a NetBIOS name, it will default to the first part of your directory DNS. For example, <code>CORP</code> for the directory DNS <code>corp.example.com</code>. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.directoryservice.v20150416#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the AWS Managed Microsoft AD directory.</p>"
          }
        },
        "VpcSettings": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryVpcSettings",
          "traits": {
            "smithy.api#documentation": "<p>Contains VPC information for the <a>CreateDirectory</a> or <a>CreateMicrosoftAD</a> operation.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS Managed Microsoft AD directory.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateMicrosoftADResult": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result of a CreateMicrosoftAD request.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#SnapshotLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot of a Simple AD or Microsoft AD directory in the AWS cloud.</p>\n         <note>\n            <p>You cannot take snapshots of AD Connector directories.</p>\n         </note>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateSnapshotBeforeSchemaExtension": {
      "type": "boolean"
    },
    "com.amazonaws.directoryservice.v20150416#CreateSnapshotRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory of which to take a snapshot.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.directoryservice.v20150416#SnapshotName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name to apply to the snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>CreateSnapshot</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateSnapshotResult": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.directoryservice.v20150416#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>CreateSnapshot</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateTrust": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateTrustRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#CreateTrustResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your AWS Managed Microsoft AD directory, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p>\n         <p>This action initiates the creation of the AWS side of a trust relationship between an AWS Managed Microsoft AD directory and an external domain. You can create either a forest trust or an external trust.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateTrustRequest": {
      "type": "structure",
      "members": {
        "ConditionalForwarderIpAddrs": {
          "target": "com.amazonaws.directoryservice.v20150416#DnsIpAddrs",
          "traits": {
            "smithy.api#documentation": "<p>The IP addresses of the remote DNS server associated with RemoteDomainName.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The Directory ID of the AWS Managed Microsoft AD directory for which to establish the trust relationship.</p>",
            "smithy.api#required": true
          }
        },
        "RemoteDomainName": {
          "target": "com.amazonaws.directoryservice.v20150416#RemoteDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The Fully Qualified Domain Name (FQDN) of the external domain for which to create the trust relationship.</p>",
            "smithy.api#required": true
          }
        },
        "SelectiveAuth": {
          "target": "com.amazonaws.directoryservice.v20150416#SelectiveAuth",
          "traits": {
            "smithy.api#documentation": "<p>Optional parameter to enable selective authentication for the trust.</p>"
          }
        },
        "TrustDirection": {
          "target": "com.amazonaws.directoryservice.v20150416#TrustDirection",
          "traits": {
            "smithy.api#documentation": "<p>The direction of the trust relationship.</p>",
            "smithy.api#required": true
          }
        },
        "TrustPassword": {
          "target": "com.amazonaws.directoryservice.v20150416#TrustPassword",
          "traits": {
            "smithy.api#documentation": "<p>The trust password. The must be the same password that was used when creating the trust relationship on the external domain.</p>",
            "smithy.api#required": true
          }
        },
        "TrustType": {
          "target": "com.amazonaws.directoryservice.v20150416#TrustType",
          "traits": {
            "smithy.api#documentation": "<p>The trust relationship type. <code>Forest</code> is the default.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your AWS Managed Microsoft AD directory, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p>\n         <p>This action initiates the creation of the AWS side of a trust relationship between an AWS Managed Microsoft AD directory and an external domain.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreateTrustResult": {
      "type": "structure",
      "members": {
        "TrustId": {
          "target": "com.amazonaws.directoryservice.v20150416#TrustId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the trust relationship that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a CreateTrust request.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CreatedDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.directoryservice.v20150416#CustomerId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(\\d{12})$"
      }
    },
    "com.amazonaws.directoryservice.v20150416#CustomerUserName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^(?!.*\\\\|.*\"|.*\\/|.*\\[|.*\\]|.*:|.*;|.*\\||.*=|.*,|.*\\+|.*\\*|.*\\?|.*<|.*>|.*@).*$"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteAssociatedConditionalForwarder": {
      "type": "boolean"
    },
    "com.amazonaws.directoryservice.v20150416#DeleteConditionalForwarder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteConditionalForwarderRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteConditionalForwarderResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a conditional forwarder that has been set up for your AWS directory.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteConditionalForwarderRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID for which you are deleting the conditional forwarder.</p>",
            "smithy.api#required": true
          }
        },
        "RemoteDomainName": {
          "target": "com.amazonaws.directoryservice.v20150416#RemoteDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name (FQDN) of the remote domain with which you are deleting the conditional forwarder.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a conditional forwarder.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteConditionalForwarderResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>The result of a DeleteConditionalForwarder request.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an AWS Directory Service directory.</p>\n         <p>Before you call <code>DeleteDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>DeleteDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteDirectoryRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>DeleteDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteDirectoryResult": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>DeleteDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteLogSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteLogSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteLogSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified log subscription.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteLogSubscriptionRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the directory whose log subscription you want to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteLogSubscriptionResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a directory snapshot.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteSnapshotRequest": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.directoryservice.v20150416#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory snapshot to be deleted.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>DeleteSnapshot</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteSnapshotResult": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.directoryservice.v20150416#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory snapshot that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>DeleteSnapshot</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteTrust": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteTrustRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DeleteTrustResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing trust relationship between your AWS Managed Microsoft AD directory and an external domain.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteTrustRequest": {
      "type": "structure",
      "members": {
        "DeleteAssociatedConditionalForwarder": {
          "target": "com.amazonaws.directoryservice.v20150416#DeleteAssociatedConditionalForwarder",
          "traits": {
            "smithy.api#documentation": "<p>Delete a conditional forwarder as part of a DeleteTrustRequest.</p>"
          }
        },
        "TrustId": {
          "target": "com.amazonaws.directoryservice.v20150416#TrustId",
          "traits": {
            "smithy.api#documentation": "<p>The Trust ID of the trust relationship to be deleted.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the local side of an existing trust relationship between the AWS Managed Microsoft AD directory and the external domain.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeleteTrustResult": {
      "type": "structure",
      "members": {
        "TrustId": {
          "target": "com.amazonaws.directoryservice.v20150416#TrustId",
          "traits": {
            "smithy.api#documentation": "<p>The Trust ID of the trust relationship that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a DeleteTrust request.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeregisterCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DeregisterCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DeregisterCertificateResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateInUseException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes from the system the certificate that was registered for a secured LDAP\n      connection.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeregisterCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateId": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the certificate.</p>",
            "smithy.api#required": true
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeregisterCertificateResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.directoryservice.v20150416#DeregisterEventTopic": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DeregisterEventTopicRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DeregisterEventTopicResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeregisterEventTopicRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The Directory ID to remove as a publisher. This directory will no longer send messages to the specified SNS topic.</p>",
            "smithy.api#required": true
          }
        },
        "TopicName": {
          "target": "com.amazonaws.directoryservice.v20150416#TopicName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SNS topic from which to remove the directory as a publisher.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DeregisterEventTopicResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>The result of a DeregisterEventTopic request.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeCertificateResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays information about the certificate registered for a secured LDAP connection.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateId": {
          "target": "com.amazonaws.directoryservice.v20150416#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the certificate.</p>",
            "smithy.api#required": true
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeCertificateResult": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.directoryservice.v20150416#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>Information about the certificate, including registered date time, certificate state, the\n      reason for the state, expiration date time, and certificate common name.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeConditionalForwarders": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeConditionalForwardersRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeConditionalForwardersResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains information about the conditional forwarders for this account.</p>\n         <p>If no input parameters are provided for RemoteDomainNames, this request describes all conditional forwarders for the specified directory ID.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeConditionalForwardersRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID for which to get the list of associated conditional forwarders.</p>",
            "smithy.api#required": true
          }
        },
        "RemoteDomainNames": {
          "target": "com.amazonaws.directoryservice.v20150416#RemoteDomainNames",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain names (FQDN) of the remote domains for which to get the list of associated conditional forwarders. If this member is null, all conditional forwarders are returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a conditional forwarder.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeConditionalForwardersResult": {
      "type": "structure",
      "members": {
        "ConditionalForwarders": {
          "target": "com.amazonaws.directoryservice.v20150416#ConditionalForwarders",
          "traits": {
            "smithy.api#documentation": "<p>The list of conditional forwarders that have been created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a DescribeConditionalForwarder request.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeDirectories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeDirectoriesRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeDirectoriesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains information about the directories that belong to this account.</p>\n         <p>You can retrieve information about specific directories by passing the directory\n         identifiers in the <code>DirectoryIds</code> parameter. Otherwise, all directories that belong to\n         the current account are returned.</p>\n         <p>This operation supports pagination with the use of the <code>NextToken</code> request and\n         response parameters. If more results are available, the\n            <code>DescribeDirectoriesResult.NextToken</code> member contains a token that you pass in the\n         next call to <a>DescribeDirectories</a> to retrieve the next set of items.</p>\n         <p>You can also specify a maximum number of return results with the <code>Limit</code>\n         parameter.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeDirectoriesRequest": {
      "type": "structure",
      "members": {
        "DirectoryIds": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers of the directories for which to obtain the information. If this member is null, all directories that belong to the current account are returned.</p>\n         <p>An empty list results in an <code>InvalidParameterException</code> being thrown.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.directoryservice.v20150416#Limit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return. If this value is zero, the maximum number of items is specified by the limitations of the operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice.v20150416#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DescribeDirectoriesResult.NextToken</code> value from a previous call to\n            <a>DescribeDirectories</a>. Pass null if this is the first call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>DescribeDirectories</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeDirectoriesResult": {
      "type": "structure",
      "members": {
        "DirectoryDescriptions": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The list of <a>DirectoryDescription</a> objects that were retrieved.</p>\n         <p>It is possible that this list contains less than the number of items specified in the\n            <code>Limit</code> member of the request. This occurs if there are less than the requested\n         number of items left to retrieve, or if the limitations of the operation have been\n         exceeded.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice.v20150416#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter\n         in a subsequent call to <a>DescribeDirectories</a> to retrieve the next set of items.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>DescribeDirectories</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeDomainControllers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeDomainControllersRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeDomainControllersResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about any domain controllers in your directory.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeDomainControllersRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the directory for which to retrieve the domain controller information.</p>",
            "smithy.api#required": true
          }
        },
        "DomainControllerIds": {
          "target": "com.amazonaws.directoryservice.v20150416#DomainControllerIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for the domain controllers whose information will be provided.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.directoryservice.v20150416#Limit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice.v20150416#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <i>DescribeDomainControllers.NextToken</i> value from a previous call to <a>DescribeDomainControllers</a>. Pass null if this is the first call. </p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeDomainControllersResult": {
      "type": "structure",
      "members": {
        "DomainControllers": {
          "target": "com.amazonaws.directoryservice.v20150416#DomainControllers",
          "traits": {
            "smithy.api#documentation": "<p>List of the <a>DomainController</a> objects that were retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice.v20150416#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to <a>DescribeDomainControllers</a> retrieve the next set of items.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeEventTopics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeEventTopicsRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeEventTopicsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains information about which SNS topics receive status messages from the specified directory.</p>\n         <p>If no input parameters are provided, such as DirectoryId or TopicName, this request describes all of the associations in the account.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeEventTopicsRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The Directory ID for which to get the list of associated SNS topics. If this member is null, associations for all Directory IDs are returned.</p>"
          }
        },
        "TopicNames": {
          "target": "com.amazonaws.directoryservice.v20150416#TopicNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of SNS topic names for which to obtain the information. If this member is null, all associations for the specified Directory ID are returned.</p>\n         <p>An empty list results in an <code>InvalidParameterException</code> being thrown.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes event topics.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeEventTopicsResult": {
      "type": "structure",
      "members": {
        "EventTopics": {
          "target": "com.amazonaws.directoryservice.v20150416#EventTopics",
          "traits": {
            "smithy.api#documentation": "<p>A list of SNS topic names that receive status messages from the specified Directory ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a DescribeEventTopic request.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeLDAPSSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeLDAPSSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeLDAPSSettingsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of LDAP security for the specified directory.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeLDAPSSettingsRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory.</p>",
            "smithy.api#required": true
          }
        },
        "Limit": {
          "target": "com.amazonaws.directoryservice.v20150416#PageLimit",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of items that should be displayed on one page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice.v20150416#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The type of next token used for pagination.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.directoryservice.v20150416#LDAPSType",
          "traits": {
            "smithy.api#documentation": "<p>The type of LDAP security the customer wants to enable, either server or client. Currently\n      supports only <code>Client</code>, (the default).</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeLDAPSSettingsResult": {
      "type": "structure",
      "members": {
        "LDAPSSettingsInfo": {
          "target": "com.amazonaws.directoryservice.v20150416#LDAPSSettingsInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about LDAP security for the specified directory, including status of\n      enablement, state last updated date time, and the reason for the state.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice.v20150416#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The next token used to retrieve the LDAPS settings if the number of setting types exceeds page limit and there is another page.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeSharedDirectories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeSharedDirectoriesRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeSharedDirectoriesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the shared directories in your account. </p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeSharedDirectoriesRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.directoryservice.v20150416#Limit",
          "traits": {
            "smithy.api#documentation": "<p>The number of shared directories to return in the response object.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice.v20150416#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DescribeSharedDirectoriesResult.NextToken</code> value from a previous call to\n      <a>DescribeSharedDirectories</a>. Pass null if this is the first call.\n    </p>"
          }
        },
        "OwnerDirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Returns the identifier of the directory in the directory owner account. </p>",
            "smithy.api#required": true
          }
        },
        "SharedDirectoryIds": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers of all shared directories in your account. </p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeSharedDirectoriesResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.directoryservice.v20150416#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If not null, token that indicates that more results are available. Pass this value for the <code>NextToken</code> parameter\n      in a subsequent call to <a>DescribeSharedDirectories</a> to retrieve the next set of items.</p>"
          }
        },
        "SharedDirectories": {
          "target": "com.amazonaws.directoryservice.v20150416#SharedDirectories",
          "traits": {
            "smithy.api#documentation": "<p>A list of all shared directories in your account.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeSnapshotsRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice.v20150416#DescribeSnapshotsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice.v20150416#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice.v20150416#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains information about the directory snapshots that belong to this account.</p>\n         <p>This operation supports pagination with the use of the <i>NextToken</i> request and\n         response parameters. If more results are available, the <i>DescribeSnapshots.NextToken</i>\n         member contains a token that you pass in the next call to <a>DescribeSnapshots</a> to\n         retrieve the next set of items.</p>\n         <p>You can also specify a maximum number of return results with the <i>Limit</i>\n         parameter.</p>"
      }
    },
    "com.amazonaws.directoryservice.v20150416#DescribeSnapshotsRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice.v20150416#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory for which to retrieve snapshot information.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.directoryservice.v20150416#Limit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects to return.</p>"
          }
        },
[...]
