{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.abslifecyclefrontendlambda#AvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 16
        },
        "smithy.api#pattern": "([a-z]+-){2,3}\\d[a-z]"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#AvailabilityZone"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#CopyTags": {
      "type": "boolean"
    },
    "com.amazon.abslifecyclefrontendlambda#Count": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#CreateLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.abslifecyclefrontendlambda#CreateLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazon.abslifecyclefrontendlambda#CreateLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InternalServerException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InvalidRequestException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a policy to manage the lifecycle of the specified AWS resources. You can create up\n      to 100 lifecycle policies.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/policies",
          "code": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#CreateLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are\n      supported.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazon.abslifecyclefrontendlambda#ExecutionRoleArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the\n      lifecycle policy.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "PolicyDetails": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyDetails",
          "traits": {
            "smithy.api#documentation": "\n         <p>The configuration details of the lifecycle policy.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "State": {
          "target": "com.amazon.abslifecyclefrontendlambda#SettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "\n         <p>The desired activation state of the lifecycle policy after creation.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazon.abslifecyclefrontendlambda#TagMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags to apply to the lifecycle policy during creation.</p>\n      "
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#CreateLifecyclePolicyResponse": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the lifecycle policy.</p>\n      "
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#CreateRule": {
      "type": "structure",
      "members": {
        "Interval": {
          "target": "com.amazon.abslifecyclefrontendlambda#Interval",
          "traits": {
            "smithy.api#documentation": "\n         <p>The interval between snapshots. The supported values are 2, 3, 4, 6, 8, 12, and 24.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "IntervalUnit": {
          "target": "com.amazon.abslifecyclefrontendlambda#IntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "\n         <p>The interval unit.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Times": {
          "target": "com.amazon.abslifecyclefrontendlambda#TimesList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time, in UTC, to start the operation. The supported format is hh:mm.</p>\n         <p>The operation occurs within a one-hour window following the specified time.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Specifies when to create snapshots of EBS volumes.</p>\n      "
      }
    },
    "com.amazon.abslifecyclefrontendlambda#DeleteLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.abslifecyclefrontendlambda#DeleteLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazon.abslifecyclefrontendlambda#DeleteLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InternalServerException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#LimitExceededException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes the specified lifecycle policy and halts the automated operations that the policy\n      specified.</p>\n      ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/policies/{PolicyId}",
          "code": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#DeleteLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the lifecycle policy.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#DeleteLifecyclePolicyResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.abslifecyclefrontendlambda#ErrorCode": {
      "type": "string"
    },
    "com.amazon.abslifecyclefrontendlambda#ErrorMessage": {
      "type": "string"
    },
    "com.amazon.abslifecyclefrontendlambda#ExcludeBootVolume": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.abslifecyclefrontendlambda#ExecutionRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws:iam::\\d+:role/.*"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#FastRestoreRule": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "com.amazon.abslifecyclefrontendlambda#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Availability Zones in which to enable fast snapshot restore.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Count": {
          "target": "com.amazon.abslifecyclefrontendlambda#Count",
          "traits": {
            "smithy.api#documentation": "\n         <p>The number of snapshots to be enabled with fast snapshot restore.</p>\n      "
          }
        },
        "Interval": {
          "target": "com.amazon.abslifecyclefrontendlambda#Interval",
          "traits": {
            "smithy.api#documentation": "\n         <p>The amount of time to enable fast snapshot restore. The maximum is 100 years. \n      This is equivalent to 1200 months, 5200 weeks, or 36500 days.</p>\n      "
          }
        },
        "IntervalUnit": {
          "target": "com.amazon.abslifecyclefrontendlambda#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unit of time for enabling fast snapshot restore.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Specifies a rule for enabling fast snapshot restore. You can enable fast snapshot\n        restore based on either a count or a time interval.</p>\n      "
      }
    },
    "com.amazon.abslifecyclefrontendlambda#GetLifecyclePolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazon.abslifecyclefrontendlambda#GetLifecyclePoliciesRequest"
      },
      "output": {
        "target": "com.amazon.abslifecyclefrontendlambda#GetLifecyclePoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InternalServerException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InvalidRequestException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#LimitExceededException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Gets summary information about all or the specified data lifecycle policies.</p>\n         <p>To get complete information about a policy, use <a>GetLifecyclePolicy</a>.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/policies",
          "code": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#GetLifecyclePoliciesRequest": {
      "type": "structure",
      "members": {
        "PolicyIds": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifiers of the data lifecycle policies.</p>\n      ",
            "smithy.api#httpQuery": "policyIds"
          }
        },
        "ResourceTypes": {
          "target": "com.amazon.abslifecyclefrontendlambda#ResourceTypeValuesList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The resource type.</p>\n      ",
            "smithy.api#httpQuery": "resourceTypes"
          }
        },
        "State": {
          "target": "com.amazon.abslifecyclefrontendlambda#GettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "\n         <p>The activation state.</p>\n      ",
            "smithy.api#httpQuery": "state"
          }
        },
        "TagsToAdd": {
          "target": "com.amazon.abslifecyclefrontendlambda#TagsToAddFilterList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags to add to objects created by the policy.</p>\n         <p>Tags are strings in the format <code>key=value</code>.</p>\n         <p>These user-defined tags are added in addition to the AWS-added lifecycle tags.</p>\n      ",
            "smithy.api#httpQuery": "tagsToAdd"
          }
        },
        "TargetTags": {
          "target": "com.amazon.abslifecyclefrontendlambda#TargetTagsFilterList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The target tag for a policy.</p>\n         <p>Tags are strings in the format <code>key=value</code>.</p>\n      ",
            "smithy.api#httpQuery": "targetTags"
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#GetLifecyclePoliciesResponse": {
      "type": "structure",
      "members": {
        "Policies": {
          "target": "com.amazon.abslifecyclefrontendlambda#LifecyclePolicySummaryList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Summary information about the lifecycle policies.</p>\n      "
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#GetLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.abslifecyclefrontendlambda#GetLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazon.abslifecyclefrontendlambda#GetLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InternalServerException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#LimitExceededException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Gets detailed information about the specified lifecycle policy.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/policies/{PolicyId}",
          "code": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#GetLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the lifecycle policy.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#GetLifecyclePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazon.abslifecyclefrontendlambda#LifecyclePolicy",
          "traits": {
            "smithy.api#documentation": "\n         <p>Detailed information about the lifecycle policy.</p>\n      "
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#GettablePolicyStateValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DISABLED": {
            "name": "DISABLED"
          },
          "ERROR": {
            "name": "ERROR"
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#InternalServerException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazon.abslifecyclefrontendlambda#ErrorCode"
        },
        "Message": {
          "target": "com.amazon.abslifecyclefrontendlambda#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The service failed in an unexpected way.</p>\n      ",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazon.abslifecyclefrontendlambda#Interval": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#IntervalUnitValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HOURS": {
            "name": "HOURS"
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazon.abslifecyclefrontendlambda#ErrorCode"
        },
        "Message": {
          "target": "com.amazon.abslifecyclefrontendlambda#ErrorMessage"
        },
        "MutuallyExclusiveParameters": {
          "target": "com.amazon.abslifecyclefrontendlambda#ParameterList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The request included parameters that cannot be provided together.</p>\n      "
          }
        },
        "RequiredParameters": {
          "target": "com.amazon.abslifecyclefrontendlambda#ParameterList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The request omitted one or more required parameters.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Bad request. The request is missing required parameters or has invalid parameters.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.abslifecyclefrontendlambda#LifecyclePolicy": {
      "type": "structure",
      "members": {
        "DateCreated": {
          "target": "com.amazon.abslifecyclefrontendlambda#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The local date and time when the lifecycle policy was created.</p>\n      "
          }
        },
        "DateModified": {
          "target": "com.amazon.abslifecyclefrontendlambda#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The local date and time when the lifecycle policy was last modified.</p>\n      "
          }
        },
        "Description": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the lifecycle policy.</p>\n      "
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazon.abslifecyclefrontendlambda#ExecutionRoleArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the\n      lifecycle policy.</p>\n      "
          }
        },
        "PolicyArn": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the policy.</p>\n      "
          }
        },
        "PolicyDetails": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyDetails",
          "traits": {
            "smithy.api#documentation": "\n         <p>The configuration of the lifecycle policy</p>\n      "
          }
        },
        "PolicyId": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the lifecycle policy.</p>\n      "
          }
        },
        "State": {
          "target": "com.amazon.abslifecyclefrontendlambda#GettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "\n         <p>The activation state of the lifecycle policy.</p>\n      "
          }
        },
        "StatusMessage": {
          "target": "com.amazon.abslifecyclefrontendlambda#StatusMessage",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the status.</p>\n      "
          }
        },
        "Tags": {
          "target": "com.amazon.abslifecyclefrontendlambda#TagMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Detailed information about a lifecycle policy.</p>\n      "
      }
    },
    "com.amazon.abslifecyclefrontendlambda#LifecyclePolicySummary": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the lifecycle policy.</p>\n      "
          }
        },
        "PolicyId": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the lifecycle policy.</p>\n      "
          }
        },
        "State": {
          "target": "com.amazon.abslifecyclefrontendlambda#GettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "\n         <p>The activation state of the lifecycle policy.</p>\n      "
          }
        },
        "Tags": {
          "target": "com.amazon.abslifecyclefrontendlambda#TagMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Summary information about a lifecycle policy.</p>\n      "
      }
    },
    "com.amazon.abslifecyclefrontendlambda#LifecyclePolicySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#LifecyclePolicySummary"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#LimitExceededException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazon.abslifecyclefrontendlambda#ErrorCode"
        },
        "Message": {
          "target": "com.amazon.abslifecyclefrontendlambda#ErrorMessage"
        },
        "ResourceType": {
          "target": "com.amazon.abslifecyclefrontendlambda#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>Value is the type of resource for which a limit was exceeded.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The request failed because a limit was exceeded.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazon.abslifecyclefrontendlambda#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazon.abslifecyclefrontendlambda#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazon.abslifecyclefrontendlambda#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InternalServerException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InvalidRequestException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Lists the tags for the specified resource.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazon.abslifecyclefrontendlambda#TagMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the tags.</p>\n      "
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#Parameter": {
      "type": "string"
    },
    "com.amazon.abslifecyclefrontendlambda#ParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#Parameter"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#Parameters": {
      "type": "structure",
      "members": {
        "ExcludeBootVolume": {
          "target": "com.amazon.abslifecyclefrontendlambda#ExcludeBootVolume",
          "traits": {
            "smithy.api#documentation": "\n         <p>When executing an EBS Snapshot Management – Instance policy, execute all CreateSnapshots\n      calls with the <code>excludeBootVolume</code> set to the supplied field. Defaults to false.\n      Only valid for EBS Snapshot Management – Instance policies.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Optional parameters that can be added to the policy. The set of valid parameters depends\n      on the combination of <code>policyType</code> and <code>resourceType</code> values.</p>\n      "
      }
    },
    "com.amazon.abslifecyclefrontendlambda#PolicyArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:dlm:[A-Za-z0-9_/.-]{0,63}:\\d+:policy/[0-9A-Za-z_-]{1,128}$"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#PolicyDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "[0-9A-Za-z _-]+"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#PolicyDetails": {
      "type": "structure",
      "members": {
        "Parameters": {
          "target": "com.amazon.abslifecyclefrontendlambda#Parameters",
          "traits": {
            "smithy.api#documentation": "\n         <p>A set of optional parameters that can be provided by the policy. </p>\n      "
          }
        },
        "PolicyType": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyTypeValues",
          "traits": {
            "smithy.api#documentation": "\n         <p>This field determines the valid target resource types and actions a policy can manage.\n      This field defaults to EBS_SNAPSHOT_MANAGEMENT if not present.</p>\n      "
          }
        },
        "ResourceTypes": {
          "target": "com.amazon.abslifecyclefrontendlambda#ResourceTypeValuesList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The resource type.</p>\n      "
          }
        },
        "Schedules": {
          "target": "com.amazon.abslifecyclefrontendlambda#ScheduleList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The schedule of policy-defined actions.</p>\n      "
          }
        },
        "TargetTags": {
          "target": "com.amazon.abslifecyclefrontendlambda#TargetTagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The single tag that identifies targeted resources for this policy.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Specifies the configuration of a lifecycle policy.</p>\n      "
      }
    },
    "com.amazon.abslifecyclefrontendlambda#PolicyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "policy-[A-Za-z0-9]+"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#PolicyIdList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#PolicyId"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#PolicyTypeValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EBS_SNAPSHOT_MANAGEMENT": {
            "name": "EBS_SNAPSHOT_MANAGEMENT"
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazon.abslifecyclefrontendlambda#ErrorCode"
        },
        "Message": {
          "target": "com.amazon.abslifecyclefrontendlambda#ErrorMessage"
        },
        "ResourceIds": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Value is a list of resource IDs that were not found.</p>\n      "
          }
        },
        "ResourceType": {
          "target": "com.amazon.abslifecyclefrontendlambda#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>Value is the type of resource that was not found.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>A requested resource was not found.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazon.abslifecyclefrontendlambda#ResourceTypeValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "VOLUME": {
            "name": "VOLUME"
          },
          "INSTANCE": {
            "name": "INSTANCE"
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#ResourceTypeValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#ResourceTypeValues"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#RetainRule": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazon.abslifecyclefrontendlambda#Count",
          "traits": {
            "smithy.api#documentation": "\n         <p>The number of snapshots to retain for each volume, up to a maximum of 1000.</p>\n      "
          }
        },
        "Interval": {
          "target": "com.amazon.abslifecyclefrontendlambda#Interval",
          "traits": {
            "smithy.api#documentation": "\n         <p>The amount of time to retain each snapshot. The maximum is 100 years. This is\n      equivalent to 1200 months, 5200 weeks, or 36500 days.</p>\n      "
          }
        },
        "IntervalUnit": {
          "target": "com.amazon.abslifecyclefrontendlambda#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unit of time for time-based retention.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Specifies the retention rule for a lifecycle policy. You can retain snapshots based \n      on either a count or a time interval.</p>\n      "
      }
    },
    "com.amazon.abslifecyclefrontendlambda#RetentionIntervalUnitValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DAYS": {
            "name": "DAYS"
          },
          "WEEKS": {
            "name": "WEEKS"
          },
          "MONTHS": {
            "name": "MONTHS"
          },
          "YEARS": {
            "name": "YEARS"
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#Schedule": {
      "type": "structure",
      "members": {
        "CopyTags": {
          "target": "com.amazon.abslifecyclefrontendlambda#CopyTags",
          "traits": {
            "smithy.api#documentation": "\n         <p>Copy all user-defined tags on a source volume to snapshots of the volume created by this\n      policy.</p>\n      "
          }
        },
        "CreateRule": {
          "target": "com.amazon.abslifecyclefrontendlambda#CreateRule",
          "traits": {
            "smithy.api#documentation": "\n         <p>The create rule.</p>\n      "
          }
        },
        "FastRestoreRule": {
          "target": "com.amazon.abslifecyclefrontendlambda#FastRestoreRule",
          "traits": {
            "smithy.api#documentation": "\n         <p>Enable fast snapshot restore.</p>\n      "
          }
        },
        "Name": {
          "target": "com.amazon.abslifecyclefrontendlambda#ScheduleName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the schedule.</p>\n      "
          }
        },
        "RetainRule": {
          "target": "com.amazon.abslifecyclefrontendlambda#RetainRule",
          "traits": {
            "smithy.api#documentation": "\n         <p>The retention rule.</p>\n      "
          }
        },
        "TagsToAdd": {
          "target": "com.amazon.abslifecyclefrontendlambda#TagsToAddList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags to apply to policy-created resources. These user-defined tags are in addition to\n      the AWS-added lifecycle tags.</p>\n      "
          }
        },
        "VariableTags": {
          "target": "com.amazon.abslifecyclefrontendlambda#VariableTagsList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A collection of key/value pairs with values determined dynamically when the policy is\n      executed. Keys may be any valid Amazon EC2 tag key. Values must be in one of the two following\n      formats: <code>$(instance-id)</code> or <code>$(timestamp)</code>. Variable tags are only\n      valid for EBS Snapshot Management – Instance policies.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Specifies a schedule.</p>\n      "
      }
    },
    "com.amazon.abslifecyclefrontendlambda#ScheduleList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#Schedule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#ScheduleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "[\\p{all}]*"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#SettablePolicyStateValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#StatusMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "[\\p{all}]*"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "[\\p{all}]*"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazon.abslifecyclefrontendlambda#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tag key.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Value": {
          "target": "com.amazon.abslifecyclefrontendlambda#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tag value.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Specifies a tag for a resource.</p>\n      "
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TagFilter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[\\p{all}]*"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazon.abslifecyclefrontendlambda#TagKey"
      },
      "value": {
        "target": "com.amazon.abslifecyclefrontendlambda#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazon.abslifecyclefrontendlambda#TagResourceRequest"
      },
      "output": {
        "target": "com.amazon.abslifecyclefrontendlambda#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InternalServerException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InvalidRequestException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Adds the specified tags to the specified resource.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazon.abslifecyclefrontendlambda#TagMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>One or more tags.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TagResourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.abslifecyclefrontendlambda#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TagsToAddFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#TagFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TagsToAddList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TargetTagList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TargetTagsFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#TagFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#Time": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 5
        },
        "smithy.api#pattern": "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
      }
    },
    "com.amazon.abslifecyclefrontendlambda#TimesList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#Time"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#Timestamp": {
      "type": "timestamp"
    },
    "com.amazon.abslifecyclefrontendlambda#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazon.abslifecyclefrontendlambda#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazon.abslifecyclefrontendlambda#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InternalServerException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InvalidRequestException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Removes the specified tags from the specified resource.</p>\n      ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "TagKeys": {
          "target": "com.amazon.abslifecyclefrontendlambda#TagKeyList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tag keys.</p>\n      ",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#UntagResourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.abslifecyclefrontendlambda#UpdateLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.abslifecyclefrontendlambda#UpdateLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazon.abslifecyclefrontendlambda#UpdateLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InternalServerException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#InvalidRequestException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#LimitExceededException"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Updates the specified lifecycle policy.</p>\n      ",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/policies/{PolicyId}",
          "code": 200
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#UpdateLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>A description of the lifecycle policy.</p>\n      "
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazon.abslifecyclefrontendlambda#ExecutionRoleArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the\n      lifecycle policy.</p>\n      "
          }
        },
        "PolicyDetails": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyDetails",
          "traits": {
            "smithy.api#documentation": "\n         <p>The configuration of the lifecycle policy. You cannot update the policy type or the resource type.</p>\n      "
          }
        },
        "PolicyId": {
          "target": "com.amazon.abslifecyclefrontendlambda#PolicyId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The identifier of the lifecycle policy.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "State": {
          "target": "com.amazon.abslifecyclefrontendlambda#SettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "\n         <p>The desired activation state of the lifecycle policy after creation.</p>\n      "
          }
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#UpdateLifecyclePolicyResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.abslifecyclefrontendlambda#VariableTagsList": {
      "type": "list",
      "member": {
        "target": "com.amazon.abslifecyclefrontendlambda#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazon.abslifecyclefrontendlambda#dlm_20180112": {
      "type": "service",
      "version": "2018-01-12",
      "operations": [
        {
          "target": "com.amazon.abslifecyclefrontendlambda#CreateLifecyclePolicy"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#DeleteLifecyclePolicy"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#GetLifecyclePolicies"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#GetLifecyclePolicy"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#ListTagsForResource"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#TagResource"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#UntagResource"
        },
        {
          "target": "com.amazon.abslifecyclefrontendlambda#UpdateLifecyclePolicy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DLM",
          "arnNamespace": "dlm",
          "cloudFormationName": "DLM",
          "cloudTrailEventSource": "abslifecyclefrontendlambda.amazon.com"
        },
        "smithy.api#documentation": "\n         <fullname>Amazon Data Lifecycle Manager</fullname>\n         <p>With Amazon Data Lifecycle Manager, you can manage the lifecycle of your AWS resources. You create lifecycle\n      policies, which are used to automate operations on the specified resources.</p>\n         <p>Amazon DLM supports Amazon EBS volumes and snapshots. For information about using Amazon DLM with\n      Amazon EBS, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-lifecycle.html\">Automating the Amazon EBS Snapshot\n        Lifecycle</a> in the <i>Amazon EC2 User Guide</i>.</p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Data Lifecycle Manager"
      }
    }
  }
}
