{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.dynamodb.v20120810#AttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb.v20120810#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb.v20120810#AttributeValue"
      }
    },
    "com.amazonaws.dynamodb.v20120810#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 65535
        }
      }
    },
    "com.amazonaws.dynamodb.v20120810#AttributeValue": {
      "type": "structure",
      "members": {
        "B": {
          "target": "com.amazonaws.dynamodb.v20120810#BinaryAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A Binary data type.</p>"
          }
        },
        "BOOL": {
          "target": "com.amazonaws.dynamodb.v20120810#BooleanAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean data type.</p>"
          }
        },
        "BS": {
          "target": "com.amazonaws.dynamodb.v20120810#BinarySetAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A Binary Set data type.</p>"
          }
        },
        "L": {
          "target": "com.amazonaws.dynamodb.v20120810#ListAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A List data type.</p>"
          }
        },
        "M": {
          "target": "com.amazonaws.dynamodb.v20120810#MapAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A Map data type.</p>"
          }
        },
        "N": {
          "target": "com.amazonaws.dynamodb.v20120810#NumberAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A Number data type.</p>"
          }
        },
        "NS": {
          "target": "com.amazonaws.dynamodb.v20120810#NumberSetAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A Number Set data type.</p>"
          }
        },
        "NULL": {
          "target": "com.amazonaws.dynamodb.v20120810#NullAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A Null data type.</p>"
          }
        },
        "S": {
          "target": "com.amazonaws.dynamodb.v20120810#StringAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A String data type.</p>"
          }
        },
        "SS": {
          "target": "com.amazonaws.dynamodb.v20120810#StringSetAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A String Set data type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the data for an attribute. You can set one, and only one, of the elements.</p>\n         <p>Each attribute in an item is a name-value pair. An attribute can be single-valued or multi-valued set. For example, a book item can have title and authors attributes. Each book has one title but can have many authors. The multi-valued attribute is a set; duplicate values are not allowed.</p>"
      }
    },
    "com.amazonaws.dynamodb.v20120810#BinaryAttributeValue": {
      "type": "blob"
    },
    "com.amazonaws.dynamodb.v20120810#BinarySetAttributeValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb.v20120810#BinaryAttributeValue"
      }
    },
    "com.amazonaws.dynamodb.v20120810#BooleanAttributeValue": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.dynamodb.v20120810#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.dynamodb.streams.v20120810#DescribeStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#DescribeStreamInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#DescribeStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb.v20120810#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb.v20120810#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a stream, including the current status of the stream, its Amazon Resource Name (ARN), the composition of its shards, and its corresponding DynamoDB table.</p>\n         <note>\n            <p>You can call <code>DescribeStream</code> at a maximum rate of 10 times per second.</p>\n         </note>\n         <p>Each shard in the stream has a <code>SequenceNumberRange</code> associated with it. If the\n        <code>SequenceNumberRange</code> has a <code>StartingSequenceNumber</code> but no\n        <code>EndingSequenceNumber</code>, then the shard is still open (able to receive more stream\n      records). If both <code>StartingSequenceNumber</code> and <code>EndingSequenceNumber</code>\n      are present, then that shard is closed and can no longer receive more data.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#DescribeStreamInput": {
      "type": "structure",
      "members": {
        "ExclusiveStartShardId": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the first item that this operation will evaluate. Use the value that was\n      returned for <code>LastEvaluatedShardId</code> in the previous operation. </p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.dynamodb.v20120810#PositiveIntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of shard objects to return. The upper limit is 100.</p>"
          }
        },
        "StreamArn": {
          "target": "com.amazonaws.dynamodb.v20120810#StreamArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the stream.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DescribeStream</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#DescribeStreamOutput": {
      "type": "structure",
      "members": {
        "StreamDescription": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#StreamDescription",
          "traits": {
            "smithy.api#documentation": "<p>A complete description of the stream, including its creation date and time, the DynamoDB table associated with the stream, the shard IDs within the stream, and the beginning and ending sequence numbers of stream records within the shards.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeStream</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#DynamoDBStreams_20120810": {
      "type": "service",
      "version": "2012-08-10",
      "operations": [
        {
          "target": "com.amazonaws.dynamodb.streams.v20120810#DescribeStream"
        },
        {
          "target": "com.amazonaws.dynamodb.streams.v20120810#GetRecords"
        },
        {
          "target": "com.amazonaws.dynamodb.streams.v20120810#GetShardIterator"
        },
        {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ListStreams"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DynamoDB Streams",
          "arnNamespace": "dynamodb",
          "cloudFormationName": "DynamoDBStreams",
          "cloudTrailEventSource": "v20120810.streams.dynamodb.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>Amazon DynamoDB</fullname>\n\n         <p>Amazon DynamoDB Streams provides API actions for accessing streams and processing\n         stream records. To learn more about application development with Streams, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html\">Capturing\n            Table Activity with DynamoDB Streams</a> in the Amazon DynamoDB Developer\n         Guide.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.0",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon DynamoDB Streams",
        "smithy.api#xmlNamespace": {
          "uri": "http://dynamodb.amazonaws.com/doc/2012-08-10/"
        }
      }
    },
    "com.amazonaws.dynamodb.v20120810#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.dynamodb.streams.v20120810#ExpiredIteratorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb.v20120810#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The provided iterator exceeds the maximum age allowed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The shard iterator has expired and can no longer be used to retrieve stream records. A shard\n      iterator expires 15 minutes after it is retrieved using the <code>GetShardIterator</code>\n      action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#GetRecords": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#GetRecordsInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#GetRecordsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ExpiredIteratorException"
        },
        {
          "target": "com.amazonaws.dynamodb.streams.v20120810#TrimmedDataAccessException"
        },
        {
          "target": "com.amazonaws.dynamodb.v20120810#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb.v20120810#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dynamodb.v20120810#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the stream records from a given shard.</p>\n         <p>Specify a shard iterator using the <code>ShardIterator</code> parameter. The shard iterator\n      specifies the position in the shard from which you want to start reading stream records\n      sequentially. If there are no stream records available in the portion of the shard that the\n      iterator points to, <code>GetRecords</code> returns an empty list. Note that it might take\n      multiple calls to get to a portion of the shard that contains stream records.</p>\n         <note>\n            <p>\n               <code>GetRecords</code> can retrieve a maximum of 1 MB of data or 1000 stream records,\n        whichever comes first.</p>\n         </note>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#GetRecordsInput": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.dynamodb.v20120810#PositiveIntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to return from the shard. The upper limit is 1000.</p>"
          }
        },
        "ShardIterator": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardIterator",
          "traits": {
            "smithy.api#documentation": "<p>A shard iterator that was retrieved from a previous GetShardIterator operation. This iterator can be used to access the stream records in this shard.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>GetRecords</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#GetRecordsOutput": {
      "type": "structure",
      "members": {
        "NextShardIterator": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardIterator",
          "traits": {
            "smithy.api#documentation": "<p>The next position in the shard from which to start sequentially reading stream records. If\n      set to <code>null</code>, the shard has been closed and the requested iterator will not return\n      any more data.</p>"
          }
        },
        "Records": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#RecordList",
          "traits": {
            "smithy.api#documentation": "<p>The stream records from the shard, which were retrieved using the shard iterator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>GetRecords</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#GetShardIterator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#GetShardIteratorInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#GetShardIteratorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb.streams.v20120810#TrimmedDataAccessException"
        },
        {
          "target": "com.amazonaws.dynamodb.v20120810#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb.v20120810#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a shard iterator. A shard iterator provides information\n      about how to retrieve the stream records from within a shard.  Use\n      the shard iterator in a subsequent \n      <code>GetRecords</code> request to read the stream records\n      from the shard.</p>\n         <note>\n            <p>A shard iterator expires 15 minutes after it is returned to the requester.</p>\n         </note>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#GetShardIteratorInput": {
      "type": "structure",
      "members": {
        "SequenceNumber": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#SequenceNumber",
          "traits": {
            "smithy.api#documentation": "<p>The sequence number of a stream record in the shard from which to start reading.</p>"
          }
        },
        "ShardId": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the shard. The iterator will be returned for this shard ID.</p>",
            "smithy.api#required": true
          }
        },
        "ShardIteratorType": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardIteratorType",
          "traits": {
            "smithy.api#documentation": "<p>Determines how the shard iterator is used to start reading stream records from the shard:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AT_SEQUENCE_NUMBER</code> - Start reading exactly from the position denoted by a\n          specific sequence number.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AFTER_SEQUENCE_NUMBER</code> - Start reading right after the position denoted by a\n          specific sequence number.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TRIM_HORIZON</code> - Start reading at the last (untrimmed) stream record, which is\n          the oldest record in the shard. In DynamoDB Streams, there is a 24 hour limit on data retention.\n          Stream records whose age exceeds this limit are subject to removal (trimming) from the\n          stream.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LATEST</code> - Start reading just after the most recent stream record in the\n          shard, so that you always read the most recent data in the shard.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "StreamArn": {
          "target": "com.amazonaws.dynamodb.v20120810#StreamArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the stream.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>GetShardIterator</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#GetShardIteratorOutput": {
      "type": "structure",
      "members": {
        "ShardIterator": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardIterator",
          "traits": {
            "smithy.api#documentation": "<p>The position in the shard from which to start reading stream records sequentially. A shard iterator specifies this position using the sequence number of a stream record in a shard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>GetShardIterator</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#Identity": {
      "type": "structure",
      "members": {
        "PrincipalId": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the entity that made the call. For Time To Live, the\n      principalId is \"dynamodb.amazonaws.com\".</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the identity. For Time To Live, the type is \"Service\".</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the type of identity that made the request.</p>"
      }
    },
    "com.amazonaws.dynamodb.v20120810#InternalServerError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb.v20120810#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The server encountered an internal error trying to fulfill the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred on the server side.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.dynamodb.v20120810#KeySchema": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb.v20120810#KeySchemaElement"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.dynamodb.v20120810#KeySchemaAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.dynamodb.v20120810#KeySchemaElement": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.dynamodb.v20120810#KeySchemaAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a key attribute.</p>",
            "smithy.api#required": true
          }
        },
        "KeyType": {
          "target": "com.amazonaws.dynamodb.v20120810#KeyType",
          "traits": {
            "smithy.api#documentation": "<p>The attribute data, consisting of the data type and the attribute value itself.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents <i>a single element</i> of a key schema. A key schema specifies the attributes\n      that make up the primary key of a table, or the key attributes of an index.</p>\n         <p>A <code>KeySchemaElement</code> represents exactly one attribute of the primary key. For example, a\n      simple primary key (partition key)  would be represented by one <code>KeySchemaElement</code>. A composite primary key (partition key and sort key) would require one <code>KeySchemaElement</code> for the partition key, and another\n      <code>KeySchemaElement</code> for the sort key.</p>\n         <note>\n            <p>The partition key of an item is also known as its <i>hash attribute</i>.  The\n        term \"hash attribute\" derives from DynamoDB's usage of an internal hash function to\n        evenly distribute data items across partitions, based on their partition key values.</p>\n            <p>The sort key of an item is also known as its <i>range attribute</i>.\n        The term \"range attribute\" derives from the way DynamoDB stores items with the same\n        partition key physically close together, in sorted order by the sort key value.</p>\n         </note>"
      }
    },
    "com.amazonaws.dynamodb.v20120810#KeyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HASH": { },
          "RANGE": { }
        }
      }
    },
    "com.amazonaws.dynamodb.v20120810#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb.v20120810#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Too many operations for a given subscriber.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request rate is too high. The AWS SDKs for DynamoDB automatically retry requests that\n      receive this exception. Your request is eventually successful, unless your retry queue is too\n      large to finish. Reduce the frequency of requests and use exponential backoff. For more\n      information, go to <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential\n        Backoff</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.dynamodb.v20120810#ListAttributeValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb.v20120810#AttributeValue"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#ListStreams": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#ListStreamsInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#ListStreamsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb.v20120810#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb.v20120810#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of stream ARNs associated with the current account and endpoint. If the\n        <code>TableName</code> parameter is present, then <code>ListStreams</code> will return only the\n      streams ARNs for that table.</p>\n         <note>\n            <p>You can call <code>ListStreams</code> at a maximum rate of 5 times per second.</p>\n         </note>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#ListStreamsInput": {
      "type": "structure",
      "members": {
        "ExclusiveStartStreamArn": {
          "target": "com.amazonaws.dynamodb.v20120810#StreamArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the first item that this operation will evaluate. Use the\n      value that was returned for <code>LastEvaluatedStreamArn</code> in the previous operation.\n    </p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.dynamodb.v20120810#PositiveIntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of streams to return. The upper limit is 100.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.dynamodb.v20120810#TableName",
          "traits": {
            "smithy.api#documentation": "<p>If this parameter is provided, then only the streams associated with this table name are returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>ListStreams</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#ListStreamsOutput": {
      "type": "structure",
      "members": {
        "LastEvaluatedStreamArn": {
          "target": "com.amazonaws.dynamodb.v20120810#StreamArn",
          "traits": {
            "smithy.api#documentation": "<p>The stream ARN of the item where the operation stopped, inclusive of the previous result set. Use this value to start a new operation, excluding this value in the new request.</p>\n         <p>If <code>LastEvaluatedStreamArn</code> is empty, then the \"last page\" of results has been\n      processed and there is no more data to be retrieved.</p>\n         <p>If <code>LastEvaluatedStreamArn</code> is not empty, it does not necessarily mean that there\n      is more data in the result set. The only way to know when you have reached the end of the\n      result set is when <code>LastEvaluatedStreamArn</code> is empty.</p>"
          }
        },
        "Streams": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#StreamList",
          "traits": {
            "smithy.api#documentation": "<p>A list of stream descriptors associated with the current account and endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>ListStreams</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb.v20120810#MapAttributeValue": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb.v20120810#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb.v20120810#AttributeValue"
      }
    },
    "com.amazonaws.dynamodb.v20120810#NullAttributeValue": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.dynamodb.v20120810#NumberAttributeValue": {
      "type": "string"
    },
    "com.amazonaws.dynamodb.v20120810#NumberSetAttributeValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb.v20120810#NumberAttributeValue"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#OperationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "INSERT": { },
          "MODIFY": { },
          "REMOVE": { }
        }
      }
    },
    "com.amazonaws.dynamodb.v20120810#PositiveIntegerObject": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.dynamodb.v20120810#PositiveLongObject": {
      "type": "long",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#Record": {
      "type": "structure",
      "members": {
        "awsRegion": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#String",
          "traits": {
            "smithy.api#documentation": "<p>The region in which the <code>GetRecords</code> request was received.</p>"
          }
        },
        "dynamodb": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#StreamRecord",
          "traits": {
            "smithy.api#documentation": "<p>The main body of the stream record, containing all of the DynamoDB-specific fields.</p>"
          }
        },
        "eventID": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#String",
          "traits": {
            "smithy.api#documentation": "<p>A globally unique identifier for the event that was recorded in this stream record.</p>"
          }
        },
        "eventName": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#OperationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data modification that was performed on the DynamoDB table:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>INSERT</code> - a new item was added to the table.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MODIFY</code> - one or more of an existing item's attributes were modified.</p>\n            </li>\n            <li>\n               <p>\n                  <code>REMOVE</code> - the item was deleted from the table</p>\n            </li>\n         </ul>"
          }
        },
        "eventSource": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service from which the stream record originated.  For DynamoDB Streams, this is <code>aws:dynamodb</code>.</p>"
          }
        },
        "eventVersion": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the stream record format.  This number is updated whenever the structure of <code>Record</code> is modified.</p>\n         <p>Client applications must not assume that <code>eventVersion</code> will remain at a particular\n      value, as this number is subject to change at any time. In general, <code>eventVersion</code> will\n      only increase as the low-level DynamoDB Streams API evolves.</p>"
          }
        },
        "userIdentity": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#Identity",
          "traits": {
            "smithy.api#documentation": "<p>Items that are deleted by the Time to Live process after expiration have the following fields: </p>\n         <ul>\n            <li>\n               <p>Records[].userIdentity.type</p>\n               <p>\"Service\"</p>\n            </li>\n            <li>\n               <p>Records[].userIdentity.principalId</p>\n               <p>\"dynamodb.amazonaws.com\"</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A description of a unique event within a stream.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#RecordList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#Record"
      }
    },
    "com.amazonaws.dynamodb.v20120810#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb.v20120810#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The resource which is being requested does not exist.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation tried to access a nonexistent stream.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#SequenceNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 21,
          "max": 40
        }
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#SequenceNumberRange": {
      "type": "structure",
      "members": {
        "EndingSequenceNumber": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#SequenceNumber",
          "traits": {
            "smithy.api#documentation": "<p>The last sequence number.</p>"
          }
        },
        "StartingSequenceNumber": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#SequenceNumber",
          "traits": {
            "smithy.api#documentation": "<p>The first sequence number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The beginning and ending sequence numbers for the stream records contained within a shard.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#Shard": {
      "type": "structure",
      "members": {
        "ParentShardId": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the current shard's parent.</p>"
          }
        },
        "SequenceNumberRange": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#SequenceNumberRange",
          "traits": {
            "smithy.api#documentation": "<p>The range of possible sequence numbers for the shard.</p>"
          }
        },
        "ShardId": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated identifier for this shard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A uniquely identified group of stream records within a stream.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#ShardDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#Shard"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#ShardId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 28,
          "max": 65
        }
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#ShardIterator": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#ShardIteratorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TRIM_HORIZON": { },
          "LATEST": { },
          "AT_SEQUENCE_NUMBER": { },
          "AFTER_SEQUENCE_NUMBER": { }
        }
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#Stream": {
      "type": "structure",
      "members": {
        "StreamArn": {
          "target": "com.amazonaws.dynamodb.v20120810#StreamArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the stream.</p>"
          }
        },
        "StreamLabel": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#String",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp, in ISO 8601 format, for this stream.</p>\n         <p>Note that <code>LatestStreamLabel</code> is not a unique identifier for the stream, because it is\n      possible that a stream from another table might have the same timestamp. However, the\n      combination of the following three elements is guaranteed to be unique:</p>\n         <ul>\n            <li>\n               <p>the AWS customer ID.</p>\n            </li>\n            <li>\n               <p>the table name</p>\n            </li>\n            <li>\n               <p>the <code>StreamLabel</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.dynamodb.v20120810#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The DynamoDB table with which the stream is associated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents all of the data describing a particular stream.</p>"
      }
    },
    "com.amazonaws.dynamodb.v20120810#StreamArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 37,
          "max": 1024
        }
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#StreamDescription": {
      "type": "structure",
      "members": {
        "CreationRequestDateTime": {
          "target": "com.amazonaws.dynamodb.v20120810#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the request to create this stream was issued.</p>"
          }
        },
        "KeySchema": {
          "target": "com.amazonaws.dynamodb.v20120810#KeySchema",
          "traits": {
            "smithy.api#documentation": "<p>The key attribute(s) of the stream's DynamoDB table.</p>"
          }
        },
        "LastEvaluatedShardId": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the item where the operation stopped, inclusive of the previous result set. Use this value to start a new operation, excluding this value in the new request.</p>\n         <p>If <code>LastEvaluatedShardId</code> is empty, then the \"last page\" of results has been\n      processed and there is currently no more data to be retrieved.</p>\n         <p>If <code>LastEvaluatedShardId</code> is not empty, it does not necessarily mean that there is\n      more data in the result set. The only way to know when you have reached the end of the result\n      set is when <code>LastEvaluatedShardId</code> is empty.</p>"
          }
        },
        "Shards": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#ShardDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The shards that comprise the stream.</p>"
          }
        },
        "StreamArn": {
          "target": "com.amazonaws.dynamodb.v20120810#StreamArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the stream.</p>"
          }
        },
        "StreamLabel": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#String",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp, in ISO 8601 format, for this stream.</p>\n         <p>Note that <code>LatestStreamLabel</code> is not a unique identifier for the stream, because it is\n      possible that a stream from another table might have the same timestamp. However, the\n      combination of the following three elements is guaranteed to be unique:</p>\n         <ul>\n            <li>\n               <p>the AWS customer ID.</p>\n            </li>\n            <li>\n               <p>the table name</p>\n            </li>\n            <li>\n               <p>the <code>StreamLabel</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "StreamStatus": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#StreamStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current status of the stream:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ENABLING</code> - Streams is currently being enabled on the DynamoDB table.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ENABLED</code> - the stream is enabled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLING</code> - Streams is currently being disabled on the DynamoDB table.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLED</code> - the stream is disabled.</p>\n            </li>\n         </ul>"
          }
        },
        "StreamViewType": {
          "target": "com.amazonaws.dynamodb.v20120810#StreamViewType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the format of the records within this stream:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>KEYS_ONLY</code> - only the key attributes of items that were modified in the DynamoDB table.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NEW_IMAGE</code> - entire items from the table, as they appeared after they were modified.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OLD_IMAGE</code> - entire items from the table, as they appeared before they were modified.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NEW_AND_OLD_IMAGES</code> - both the new and the old images of the items from the table.</p>\n            </li>\n         </ul>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.dynamodb.v20120810#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The DynamoDB table with which the stream is associated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents all of the data describing a particular stream.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#StreamList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb.streams.v20120810#Stream"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#StreamRecord": {
      "type": "structure",
      "members": {
        "ApproximateCreationDateTime": {
          "target": "com.amazonaws.dynamodb.v20120810#Date",
          "traits": {
            "smithy.api#documentation": "<p>The approximate date and time when the stream record was created, in <a href=\"http://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
          }
        },
        "Keys": {
          "target": "com.amazonaws.dynamodb.v20120810#AttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>The primary key attribute(s) for the DynamoDB item that was modified.</p>"
          }
        },
        "NewImage": {
          "target": "com.amazonaws.dynamodb.v20120810#AttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>The item in the DynamoDB table as it appeared after it was modified.</p>"
          }
        },
        "OldImage": {
          "target": "com.amazonaws.dynamodb.v20120810#AttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>The item in the DynamoDB table as it appeared before it was modified.</p>"
          }
        },
        "SequenceNumber": {
          "target": "com.amazonaws.dynamodb.streams.v20120810#SequenceNumber",
          "traits": {
            "smithy.api#documentation": "<p>The sequence number of the stream record.</p>"
          }
        },
        "SizeBytes": {
          "target": "com.amazonaws.dynamodb.v20120810#PositiveLongObject",
          "traits": {
            "smithy.api#documentation": "<p>The size of the stream record, in bytes.</p>"
          }
        },
        "StreamViewType": {
          "target": "com.amazonaws.dynamodb.v20120810#StreamViewType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data from the modified DynamoDB item that was captured in this stream record:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>KEYS_ONLY</code> - only the key attributes of the modified item.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NEW_IMAGE</code> - the entire item, as it appeared after it was modified.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OLD_IMAGE</code> - the entire item, as it appeared before it was modified.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NEW_AND_OLD_IMAGES</code> - both the new and the old item images of the item.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A description of a single data modification that was performed on an item in a DynamoDB table.</p>"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#StreamStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLING": { },
          "ENABLED": { },
          "DISABLING": { },
          "DISABLED": { }
        }
      }
    },
    "com.amazonaws.dynamodb.v20120810#StreamViewType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "NEW_IMAGE": { },
          "OLD_IMAGE": { },
          "NEW_AND_OLD_IMAGES": { },
          "KEYS_ONLY": { }
        }
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#String": {
      "type": "string"
    },
    "com.amazonaws.dynamodb.v20120810#StringAttributeValue": {
      "type": "string"
    },
    "com.amazonaws.dynamodb.v20120810#StringSetAttributeValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb.v20120810#StringAttributeValue"
      }
    },
    "com.amazonaws.dynamodb.v20120810#TableName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 255
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazonaws.dynamodb.streams.v20120810#TrimmedDataAccessException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb.v20120810#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>\"The data you are trying to access has been trimmed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation attempted to read past the oldest stream record in a shard.</p>\n         <p>In DynamoDB Streams, there is a 24 hour limit on data retention. Stream records whose age exceeds this limit are subject to removal (trimming) from the stream. You might receive a TrimmedDataAccessException if:</p>\n         <ul>\n            <li>\n               <p>You request a shard iterator with a sequence number older than the trim point (24 hours).</p>\n            </li>\n            <li>\n               <p>You obtain a shard iterator, but before you use the iterator in a <code>GetRecords</code>\n        request, a stream record in the shard exceeds the 24 hour period and is trimmed. This causes\n        the iterator to access a record that no longer exists.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client"
      }
    }
  }
}
