{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuote": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuoteRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuoteResult"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Accepts the Convertible Reserved Instance exchange quote described in the <a>GetReservedInstancesExchangeQuote</a> call.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuoteRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Checks whether you have the required permissions for the action, without actually making the request, \n      and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n      Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n      "
          }
        },
        "ReservedInstanceIds": {
          "target": "com.amazonaws.ec2#ReservedInstanceIdSet",
          "traits": {
            "smithy.api#documentation": "\n         <p>The IDs of the Convertible Reserved Instances to exchange for another Convertible\n            Reserved Instance of the same or higher value.</p>\n      ",
            "smithy.api#required": true,
            "smithy.api#xmlName": "ReservedInstanceId"
          }
        },
        "TargetConfigurations": {
          "target": "com.amazonaws.ec2#TargetConfigurationRequestSet",
          "traits": {
            "smithy.api#documentation": "\n         <p>The configuration of the target Convertible Reserved Instance to exchange for your\n            current Convertible Reserved Instances.</p>\n      ",
            "smithy.api#xmlName": "TargetConfiguration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Contains the parameters for accepting the quote.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuoteResult": {
      "type": "structure",
      "members": {
        "ExchangeId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the successful exchange.</p>\n    \n      \n      \n      ",
            "smithy.api#xmlName": "exchangeId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The result of the exchange and whether it was <code>successful</code>.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachmentResult"
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Accepts a transit gateway peering attachment request. The peering attachment must be\n            in the <code>pendingAcceptance</code> state.</p>\n        \n      "
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachmentRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": " \n         <p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p> \n      "
          }
        },
        "TransitGatewayAttachmentId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the transit gateway attachment.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachmentResult": {
      "type": "structure",
      "members": {
        "TransitGatewayPeeringAttachment": {
          "target": "com.amazonaws.ec2#TransitGatewayPeeringAttachment",
          "traits": {
            "smithy.api#documentation": "\n        <p>The transit gateway peering attachment.</p>\n      ",
            "smithy.api#xmlName": "transitGatewayPeeringAttachment"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachmentResult"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Accepts a request to attach a VPC to a transit gateway.</p>\n         <p>The VPC attachment must be in the <code>pendingAcceptance</code> state.\n         Use <a>DescribeTransitGatewayVpcAttachments</a> to view your pending VPC attachment requests.\n         Use <a>RejectTransitGatewayVpcAttachment</a> to reject a VPC attachment request.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachmentRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n      "
          }
        },
        "TransitGatewayAttachmentId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the attachment.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachmentResult": {
      "type": "structure",
      "members": {
        "TransitGatewayVpcAttachment": {
          "target": "com.amazonaws.ec2#TransitGatewayVpcAttachment",
          "traits": {
            "smithy.api#documentation": "\n         <p>The VPC attachment.</p>\n      ",
            "smithy.api#xmlName": "transitGatewayVpcAttachment"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptVpcEndpointConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptVpcEndpointConnectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptVpcEndpointConnectionsResult"
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Accepts one or more interface VPC endpoint connection requests to your VPC endpoint\n            service.</p>\n\t\t    \n\t     "
      }
    },
    "com.amazonaws.ec2#AcceptVpcEndpointConnectionsRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n      "
          }
        },
        "ServiceId": {
          "target": "com.amazonaws.ec2#ServiceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the endpoint service.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "VpcEndpointIds": {
          "target": "com.amazonaws.ec2#ValueStringList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The IDs of one or more interface VPC endpoints.</p>\n\t     ",
            "smithy.api#required": true,
            "smithy.api#xmlName": "VpcEndpointId"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptVpcEndpointConnectionsResult": {
      "type": "structure",
      "members": {
        "Unsuccessful": {
          "target": "com.amazonaws.ec2#UnsuccessfulItemSet",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Information about the interface endpoints that were not accepted, if\n            applicable.</p>\n\t     ",
            "smithy.api#xmlName": "unsuccessful"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptVpcPeeringConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptVpcPeeringConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptVpcPeeringConnectionResult"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Accept a VPC peering connection request. To accept a request, the VPC peering connection must\n      be in the <code>pending-acceptance</code> state, and you must be the owner of the peer VPC.\n      Use <a>DescribeVpcPeeringConnections</a> to view your outstanding VPC\n      peering connection requests.</p>\n  \t      <p>For an inter-Region VPC peering connection request, you must accept the VPC peering\n      connection in the Region of the accepter VPC.</p>\n      \n      "
      }
    },
    "com.amazonaws.ec2#AcceptVpcPeeringConnectionRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n      ",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "VpcPeeringConnectionId": {
          "target": "com.amazonaws.ec2#VpcPeeringConnectionId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the VPC peering connection. You must specify this parameter in the\n\t\t\trequest.</p>\n      ",
            "smithy.api#xmlName": "vpcPeeringConnectionId"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptVpcPeeringConnectionResult": {
      "type": "structure",
      "members": {
        "VpcPeeringConnection": {
          "target": "com.amazonaws.ec2#VpcPeeringConnection",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the VPC peering connection.</p>\n      ",
            "smithy.api#xmlName": "vpcPeeringConnection"
          }
        }
      }
    },
    "com.amazonaws.ec2#AccountAttribute": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "   \n         <p>The name of the account attribute.</p>\n      ",
            "smithy.api#xmlName": "attributeName"
          }
        },
        "AttributeValues": {
          "target": "com.amazonaws.ec2#AccountAttributeValueList",
          "traits": {
            "smithy.api#documentation": "   \n         <p>The values for the account attribute.</p>\n      ",
            "smithy.api#xmlName": "attributeValueSet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "   \n         <p>Describes an account attribute.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AccountAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AccountAttribute",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AccountAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "supported-platforms": { },
          "default-vpc": { }
        }
      }
    },
    "com.amazonaws.ec2#AccountAttributeNameStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AccountAttributeName",
        "traits": {
          "smithy.api#xmlName": "attributeName"
        }
      }
    },
    "com.amazonaws.ec2#AccountAttributeValue": {
      "type": "structure",
      "members": {
        "AttributeValue": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "   \n         <p>The value of the attribute.</p>\n      ",
            "smithy.api#xmlName": "attributeValue"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "   \n         <p>Describes a value of an account attribute.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AccountAttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AccountAttributeValue",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#ActiveInstance": {
      "type": "structure",
      "members": {
        "InstanceHealth": {
          "target": "com.amazonaws.ec2#InstanceHealthStatus",
          "traits": {
            "smithy.api#documentation": "\n         <p>The health status of the instance. If the status of either the instance status check \n          or the system status check is <code>impaired</code>, the health status of the instance\n          is <code>unhealthy</code>. Otherwise, the health status is <code>healthy</code>.</p>\n      ",
            "smithy.api#xmlName": "instanceHealth"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the instance.</p>\n      ",
            "smithy.api#xmlName": "instanceId"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The instance type.</p>\n      ",
            "smithy.api#xmlName": "instanceType"
          }
        },
        "SpotInstanceRequestId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the Spot Instance request.</p>\n      ",
            "smithy.api#xmlName": "spotInstanceRequestId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a running instance in a Spot Fleet.</p>\n      "
      }
    },
    "com.amazonaws.ec2#ActiveInstanceSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#ActiveInstance",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#ActivityStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "error": {
            "name": "ERROR"
          },
          "pending_fulfillment": {
            "name": "PENDING_FULFILLMENT"
          },
          "pending_termination": {
            "name": "PENDING_TERMINATION"
          },
          "fulfilled": {
            "name": "FULFILLED"
          }
        }
      }
    },
    "com.amazonaws.ec2#Address": {
      "type": "structure",
      "members": {
        "AllocationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID representing the allocation of the address for use with EC2-VPC.</p>\n      ",
            "smithy.api#xmlName": "allocationId"
          }
        },
        "AssociationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID representing the association of the address with an instance in a VPC.</p>\n      ",
            "smithy.api#xmlName": "associationId"
          }
        },
        "CustomerOwnedIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The customer-owned IP address.</p>\n      ",
            "smithy.api#xmlName": "customerOwnedIp"
          }
        },
        "CustomerOwnedIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the customer-owned address pool.</p>\n      ",
            "smithy.api#xmlName": "customerOwnedIpv4Pool"
          }
        },
        "Domain": {
          "target": "com.amazonaws.ec2#DomainType",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether this Elastic IP address is for use with instances\n\t\t\t\tin EC2-Classic (<code>standard</code>) or instances in a VPC (<code>vpc</code>).</p>\n      ",
            "smithy.api#xmlName": "domain"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the instance that the address is associated with (if any).</p>\n      ",
            "smithy.api#xmlName": "instanceId"
          }
        },
        "NetworkBorderGroup": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the location from which the IP address is advertised.</p>\n      ",
            "smithy.api#xmlName": "networkBorderGroup"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the network interface.</p>\n      ",
            "smithy.api#xmlName": "networkInterfaceId"
          }
        },
        "NetworkInterfaceOwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the AWS account that owns the network interface.</p>\n      ",
            "smithy.api#xmlName": "networkInterfaceOwnerId"
          }
        },
        "PrivateIpAddress": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The private IP address associated with the Elastic IP address.</p>\n      ",
            "smithy.api#xmlName": "privateIpAddress"
          }
        },
        "PublicIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Elastic IP address.</p>\n      ",
            "smithy.api#xmlName": "publicIp"
          }
        },
        "PublicIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of an address pool.</p>\n      ",
            "smithy.api#xmlName": "publicIpv4Pool"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Any tags assigned to the Elastic IP address.</p>\n      ",
            "smithy.api#xmlName": "tagSet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes an Elastic IP address.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#Address",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AdvertiseByoipCidr": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AdvertiseByoipCidrRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AdvertiseByoipCidrResult"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Advertises an IPv4 address range that is provisioned for use with your AWS resources through \n         bring your own IP addresses (BYOIP).</p> \n         <p>You can perform this operation at most once every 10 seconds, even if you specify different \n         address ranges each time.</p>\n         <p>We recommend that you stop advertising the BYOIP CIDR from other locations when you advertise\n         it from AWS. To minimize down time, you can configure your AWS resources to use an address from a\n         BYOIP CIDR before it is advertised, and then simultaneously stop advertising it from the current \n         location and start advertising it through AWS.</p>\n         <p>It can take a few minutes before traffic to the specified addresses starts routing to AWS\n         because of BGP propagation delays.</p>\n         <p>To stop advertising the BYOIP CIDR, use <a>WithdrawByoipCidr</a>.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AdvertiseByoipCidrRequest": {
      "type": "structure",
      "members": {
        "Cidr": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The IPv4 address range, in CIDR notation. This must be the exact range that you provisioned. \n         You can't advertise only a portion of the provisioned range.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.ec2#AdvertiseByoipCidrResult": {
      "type": "structure",
      "members": {
        "ByoipCidr": {
          "target": "com.amazonaws.ec2#ByoipCidr",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the address range.</p>\n      ",
            "smithy.api#xmlName": "byoipCidr"
          }
        }
      }
    },
    "com.amazonaws.ec2#Affinity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "default": { },
          "host": { }
        }
      }
    },
    "com.amazonaws.ec2#AllocateAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AllocateAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AllocateAddressResult"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Allocates an Elastic IP address to your AWS account. After you allocate the Elastic IP address you can associate  \n         it with an instance or network interface. After you release an Elastic IP address, it is released to the IP address \n         pool and can be allocated to a different AWS account.</p>\n         <p>You can allocate an Elastic IP address from an address pool owned by AWS or from an address pool created \n         from a public IPv4 address range that you have brought to AWS for use with your AWS resources using bring your own \n         IP addresses (BYOIP). For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-byoip.html\">Bring Your Own IP Addresses (BYOIP)</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n         <p>[EC2-VPC] If you release an Elastic IP address, you might be able to recover it. You cannot recover an \n         Elastic IP address that you released after it is allocated to another AWS account. You cannot recover an Elastic IP\n         address for EC2-Classic. To attempt to recover an Elastic IP address that you released, specify it in this operation.</p>\n         <p>An Elastic IP address is for use either in the EC2-Classic platform or in a VPC. By default, you can allocate\n         5 Elastic IP addresses for EC2-Classic per Region and 5 Elastic IP addresses for EC2-VPC per Region.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     \n      "
      }
    },
    "com.amazonaws.ec2#AllocateAddressRequest": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>[EC2-VPC] The Elastic IP address to recover or an IPv4 address from an address pool.</p>\n      "
          }
        },
        "CustomerOwnedIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of a customer-owned address pool. Use this parameter to let Amazon EC2 \n        select an address from the address pool. Alternatively, specify a specific \n        address from the address pool.</p>\n      "
          }
        },
        "Domain": {
          "target": "com.amazonaws.ec2#DomainType",
          "traits": {
            "smithy.api#documentation": "\n         <p>Set to <code>vpc</code> to allocate the address for use with instances in a VPC.</p>\n         <p>Default: The address is for use with instances in EC2-Classic.</p>\n      "
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n      ",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "NetworkBorderGroup": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The location from which the IP address is advertised. Use this parameter to limit the address to this location.</p>\n         <p>Use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeVpcs.html\">DescribeVpcs</a> to view the network border groups.</p>\n    \n         <note>\n            <p>You cannot use a network border group with EC2 Classic. If you attempt this operation on EC2 classic, you will receive an <code>InvalidParameterCombination</code> error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/errors-overview.html\">Error Codes</a>.</p>\n         </note>\n      "
          }
        },
        "PublicIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of an address pool that you own. Use this parameter to let Amazon EC2 select an address from the address pool.\n       To specify a specific address from the address pool, use the <code>Address</code> parameter instead.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.ec2#AllocateAddressResult": {
      "type": "structure",
      "members": {
        "AllocationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>[EC2-VPC] The ID that AWS assigns to represent the allocation of the Elastic IP address for use with instances in a VPC.</p>\n      ",
            "smithy.api#xmlName": "allocationId"
          }
        },
        "CustomerOwnedIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The customer-owned IP address.</p>\n      ",
            "smithy.api#xmlName": "customerOwnedIp"
          }
        },
        "CustomerOwnedIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the customer-owned address pool.</p>\n      ",
            "smithy.api#xmlName": "customerOwnedIpv4Pool"
          }
        },
        "Domain": {
          "target": "com.amazonaws.ec2#DomainType",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether this Elastic IP address is for use with instances\n\t\t\t\tin EC2-Classic (<code>standard</code>) or instances in a VPC (<code>vpc</code>).</p>\n      ",
            "smithy.api#xmlName": "domain"
          }
        },
        "NetworkBorderGroup": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The location from which the IP address is advertised.</p>\n      ",
            "smithy.api#xmlName": "networkBorderGroup"
          }
        },
        "PublicIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Elastic IP address.</p>\n      ",
            "smithy.api#xmlName": "publicIp"
          }
        },
        "PublicIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of an address pool.</p>\n      ",
            "smithy.api#xmlName": "publicIpv4Pool"
          }
        }
      }
    },
    "com.amazonaws.ec2#AllocateHosts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AllocateHostsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AllocateHostsResult"
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Allocates a Dedicated Host to your account. At a minimum, specify the supported instance \n        \ttype or instance family, the Availability Zone in which to allocate the host, and the number of \n        \thosts to allocate.</p>\n        \n      "
      }
    },
    "com.amazonaws.ec2#AllocateHostsRequest": {
      "type": "structure",
      "members": {
        "AutoPlacement": {
          "target": "com.amazonaws.ec2#AutoPlacement",
          "traits": {
            "smithy.api#documentation": "\n\n    \t    <p>Indicates whether the host accepts any untargeted instance launches that \n    \t\tmatch its instance type configuration, or if it only accepts Host tenancy \n    \t\tinstance launches that specify its unique host ID. For more information, \n    \t\tsee <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/how-dedicated-hosts-work.html#dedicated-hosts-understanding\">\n            \tUnderstanding Instance Placement and Host Affinity</a> in the \n        \t<i>Amazon EC2 User Guide for Linux Instances</i>.</p>\n\n        <p>Default: <code>on</code>\n         </p>\n      ",
            "smithy.api#xmlName": "autoPlacement"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Availability Zone in which to allocate the Dedicated Host.</p>\n      ",
            "smithy.api#required": true,
            "smithy.api#xmlName": "availabilityZone"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">How to Ensure Idempotency</a>.</p>\n      ",
            "smithy.api#xmlName": "clientToken"
          }
        },
        "HostRecovery": {
          "target": "com.amazonaws.ec2#HostRecovery",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Indicates whether to enable or disable host recovery for the Dedicated Host. \n\t\t\tHost recovery is disabled by default. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/dedicated-hosts-recovery.html\">\n\t\t\t\tHost Recovery</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n\t\t       <p>Default: <code>off</code>\n         </p>\n\t     "
          }
        },
        "InstanceFamily": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Specifies the instance family to be supported by the Dedicated Hosts. If you specify \n\t\t\tan instance family, the Dedicated Hosts support multiple instance types within that \n\t\t\tinstance family.</p>\n\t\t\n\t\t       <p>If you want the Dedicated Hosts to support a specific instance type only, omit this \n\t\t\tparameter and specify <b>InstanceType</b> \n\t\t\tinstead. You cannot specify <b>InstanceFamily</b> and \n\t\t\t<b>InstanceType</b> in the same request.</p>\n\t     "
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies the instance type to be supported by the Dedicated Hosts. If you\n\t\tspecify an instance type, the Dedicated Hosts support instances of the \n\t\tspecified instance type only.</p>\n    \t\n    \t    <p>If you want the Dedicated Hosts to support multiple instance types in a specific \n    \t\tinstance family, omit this parameter and specify <b>InstanceFamily</b> \n    \t\tinstead. You cannot specify <b>InstanceType</b> and \n    \t\t<b>InstanceFamily</b> in the same request.</p>\n      ",
            "smithy.api#xmlName": "instanceType"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of Dedicated Hosts to allocate to your account with these parameters.</p>\n      ",
            "smithy.api#required": true,
            "smithy.api#xmlName": "quantity"
          }
        },
        "TagSpecifications": {
          "target": "com.amazonaws.ec2#TagSpecificationList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The tags to apply to the Dedicated Host during creation.</p>\n\t     ",
            "smithy.api#xmlName": "TagSpecification"
          }
        }
      }
    },
    "com.amazonaws.ec2#AllocateHostsResult": {
      "type": "structure",
      "members": {
        "HostIds": {
          "target": "com.amazonaws.ec2#ResponseHostIdList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the allocated Dedicated Host. This is used to launch an instance onto a\n\t\t\tspecific host.</p>\n      ",
            "smithy.api#xmlName": "hostIdSet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Contains the output of AllocateHosts.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AllocationId": {
      "type": "string"
    },
    "com.amazonaws.ec2#AllocationIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#String",
        "traits": {
          "smithy.api#xmlName": "AllocationId"
        }
      }
    },
    "com.amazonaws.ec2#AllocationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "available": { },
          "under-assessment": { },
          "permanent-failure": { },
          "released": { },
          "released-permanent-failure": { },
          "pending": { }
        }
      }
    },
    "com.amazonaws.ec2#AllocationStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "lowestPrice": {
            "name": "LOWEST_PRICE"
          },
          "diversified": {
            "name": "DIVERSIFIED"
          },
          "capacityOptimized": {
            "name": "CAPACITY_OPTIMIZED"
          }
        }
      }
    },
    "com.amazonaws.ec2#AllowedPrincipal": {
      "type": "structure",
      "members": {
        "Principal": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) of the principal.</p>\n\t     ",
            "smithy.api#xmlName": "principal"
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.ec2#PrincipalType",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The type of principal.</p>\n\t     ",
            "smithy.api#xmlName": "principalType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Describes a principal.</p>\n\t     "
      }
    },
    "com.amazonaws.ec2#AllowedPrincipalSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AllowedPrincipal",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AllowsMultipleInstanceTypes": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "on": { },
          "off": { }
        }
      }
    },
    "com.amazonaws.ec2#AmazonEC2": {
      "type": "service",
      "version": "2016-11-15",
      "operations": [
        {
          "target": "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuote"
        },
        {
          "target": "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachment"
        },
        {
          "target": "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#AcceptVpcEndpointConnections"
        },
        {
          "target": "com.amazonaws.ec2#AcceptVpcPeeringConnection"
        },
        {
          "target": "com.amazonaws.ec2#AdvertiseByoipCidr"
        },
        {
          "target": "com.amazonaws.ec2#AllocateAddress"
        },
        {
          "target": "com.amazonaws.ec2#AllocateHosts"
        },
        {
          "target": "com.amazonaws.ec2#ApplySecurityGroupsToClientVpnTargetNetwork"
        },
        {
          "target": "com.amazonaws.ec2#AssignIpv6Addresses"
        },
        {
          "target": "com.amazonaws.ec2#AssignPrivateIpAddresses"
        },
        {
          "target": "com.amazonaws.ec2#AssociateAddress"
        },
        {
          "target": "com.amazonaws.ec2#AssociateClientVpnTargetNetwork"
        },
        {
          "target": "com.amazonaws.ec2#AssociateDhcpOptions"
        },
        {
          "target": "com.amazonaws.ec2#AssociateIamInstanceProfile"
        },
        {
          "target": "com.amazonaws.ec2#AssociateRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#AssociateSubnetCidrBlock"
        },
        {
          "target": "com.amazonaws.ec2#AssociateTransitGatewayMulticastDomain"
        },
        {
          "target": "com.amazonaws.ec2#AssociateTransitGatewayRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#AssociateVpcCidrBlock"
        },
        {
          "target": "com.amazonaws.ec2#AttachClassicLinkVpc"
        },
        {
          "target": "com.amazonaws.ec2#AttachInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#AttachNetworkInterface"
        },
        {
          "target": "com.amazonaws.ec2#AttachVolume"
        },
        {
          "target": "com.amazonaws.ec2#AttachVpnGateway"
        },
        {
          "target": "com.amazonaws.ec2#AuthorizeClientVpnIngress"
        },
        {
          "target": "com.amazonaws.ec2#AuthorizeSecurityGroupEgress"
        },
        {
          "target": "com.amazonaws.ec2#AuthorizeSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.ec2#BundleInstance"
        },
        {
          "target": "com.amazonaws.ec2#CancelBundleTask"
        },
        {
          "target": "com.amazonaws.ec2#CancelCapacityReservation"
        },
        {
          "target": "com.amazonaws.ec2#CancelConversionTask"
        },
        {
          "target": "com.amazonaws.ec2#CancelExportTask"
        },
        {
          "target": "com.amazonaws.ec2#CancelImportTask"
        },
        {
          "target": "com.amazonaws.ec2#CancelReservedInstancesListing"
        },
        {
          "target": "com.amazonaws.ec2#CancelSpotFleetRequests"
        },
        {
          "target": "com.amazonaws.ec2#CancelSpotInstanceRequests"
        },
        {
          "target": "com.amazonaws.ec2#ConfirmProductInstance"
        },
        {
          "target": "com.amazonaws.ec2#CopyFpgaImage"
        },
        {
          "target": "com.amazonaws.ec2#CopyImage"
        },
        {
          "target": "com.amazonaws.ec2#CopySnapshot"
        },
        {
          "target": "com.amazonaws.ec2#CreateCapacityReservation"
        },
        {
          "target": "com.amazonaws.ec2#CreateClientVpnEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#CreateClientVpnRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateCustomerGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateDefaultSubnet"
        },
        {
          "target": "com.amazonaws.ec2#CreateDefaultVpc"
        },
        {
          "target": "com.amazonaws.ec2#CreateDhcpOptions"
        },
        {
          "target": "com.amazonaws.ec2#CreateEgressOnlyInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateFleet"
        },
        {
          "target": "com.amazonaws.ec2#CreateFlowLogs"
        },
        {
          "target": "com.amazonaws.ec2#CreateFpgaImage"
        },
        {
          "target": "com.amazonaws.ec2#CreateImage"
        },
        {
          "target": "com.amazonaws.ec2#CreateInstanceExportTask"
        },
        {
          "target": "com.amazonaws.ec2#CreateInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateKeyPair"
        },
        {
          "target": "com.amazonaws.ec2#CreateLaunchTemplate"
        },
        {
          "target": "com.amazonaws.ec2#CreateLaunchTemplateVersion"
        },
        {
          "target": "com.amazonaws.ec2#CreateLocalGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateLocalGatewayRouteTableVpcAssociation"
        },
        {
          "target": "com.amazonaws.ec2#CreateNatGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateNetworkAcl"
        },
        {
          "target": "com.amazonaws.ec2#CreateNetworkAclEntry"
        },
        {
          "target": "com.amazonaws.ec2#CreateNetworkInterface"
        },
        {
          "target": "com.amazonaws.ec2#CreateNetworkInterfacePermission"
        },
        {
          "target": "com.amazonaws.ec2#CreatePlacementGroup"
        },
        {
          "target": "com.amazonaws.ec2#CreateReservedInstancesListing"
        },
        {
          "target": "com.amazonaws.ec2#CreateRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#CreateSecurityGroup"
        },
        {
          "target": "com.amazonaws.ec2#CreateSnapshot"
        },
        {
          "target": "com.amazonaws.ec2#CreateSnapshots"
        },
        {
          "target": "com.amazonaws.ec2#CreateSpotDatafeedSubscription"
        },
        {
          "target": "com.amazonaws.ec2#CreateSubnet"
        },
        {
          "target": "com.amazonaws.ec2#CreateTags"
        },
        {
          "target": "com.amazonaws.ec2#CreateTrafficMirrorFilter"
        },
        {
          "target": "com.amazonaws.ec2#CreateTrafficMirrorFilterRule"
        },
        {
          "target": "com.amazonaws.ec2#CreateTrafficMirrorSession"
        },
        {
          "target": "com.amazonaws.ec2#CreateTrafficMirrorTarget"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayMulticastDomain"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayPeeringAttachment"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#CreateVolume"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpc"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpcEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpcEndpointConnectionNotification"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpcEndpointServiceConfiguration"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpcPeeringConnection"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpnConnection"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpnConnectionRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpnGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteClientVpnEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#DeleteClientVpnRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteCustomerGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteDhcpOptions"
        },
        {
          "target": "com.amazonaws.ec2#DeleteEgressOnlyInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteFleets"
        },
        {
          "target": "com.amazonaws.ec2#DeleteFlowLogs"
        },
        {
          "target": "com.amazonaws.ec2#DeleteFpgaImage"
        },
        {
          "target": "com.amazonaws.ec2#DeleteInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteKeyPair"
        },
        {
          "target": "com.amazonaws.ec2#DeleteLaunchTemplate"
        },
        {
          "target": "com.amazonaws.ec2#DeleteLaunchTemplateVersions"
        },
        {
          "target": "com.amazonaws.ec2#DeleteLocalGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteLocalGatewayRouteTableVpcAssociation"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNatGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkAcl"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkAclEntry"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkInterface"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkInterfacePermission"
        },
        {
          "target": "com.amazonaws.ec2#DeletePlacementGroup"
        },
        {
          "target": "com.amazonaws.ec2#DeleteQueuedReservedInstances"
        },
        {
          "target": "com.amazonaws.ec2#DeleteRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#DeleteSecurityGroup"
        },
        {
          "target": "com.amazonaws.ec2#DeleteSnapshot"
        },
        {
          "target": "com.amazonaws.ec2#DeleteSpotDatafeedSubscription"
        },
        {
          "target": "com.amazonaws.ec2#DeleteSubnet"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTags"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTrafficMirrorFilter"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTrafficMirrorFilterRule"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTrafficMirrorSession"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTrafficMirrorTarget"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayMulticastDomain"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayPeeringAttachment"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVolume"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpc"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpcEndpointConnectionNotifications"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpcEndpointServiceConfigurations"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpcEndpoints"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpcPeeringConnection"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpnConnection"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpnConnectionRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpnGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeprovisionByoipCidr"
        },
        {
          "target": "com.amazonaws.ec2#DeregisterImage"
        },
        {
          "target": "com.amazonaws.ec2#DeregisterTransitGatewayMulticastGroupMembers"
        },
        {
          "target": "com.amazonaws.ec2#DeregisterTransitGatewayMulticastGroupSources"
        },
        {
          "target": "com.amazonaws.ec2#DescribeAccountAttributes"
        },
        {
          "target": "com.amazonaws.ec2#DescribeAddresses"
        },
        {
          "target": "com.amazonaws.ec2#DescribeAggregateIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#DescribeAvailabilityZones"
        },
        {
          "target": "com.amazonaws.ec2#DescribeBundleTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeByoipCidrs"
        },
        {
          "target": "com.amazonaws.ec2#DescribeCapacityReservations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClassicLinkInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnAuthorizationRules"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnConnections"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnEndpoints"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnRoutes"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnTargetNetworks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeCoipPools"
        },
        {
          "target": "com.amazonaws.ec2#DescribeConversionTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeCustomerGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeDhcpOptions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeEgressOnlyInternetGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeElasticGpus"
        },
        {
          "target": "com.amazonaws.ec2#DescribeExportImageTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeExportTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFastSnapshotRestores"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFleetHistory"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFleetInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFleets"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFlowLogs"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFpgaImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFpgaImages"
        },
        {
          "target": "com.amazonaws.ec2#DescribeHostReservationOfferings"
        },
        {
          "target": "com.amazonaws.ec2#DescribeHostReservations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeHosts"
        },
        {
          "target": "com.amazonaws.ec2#DescribeIamInstanceProfileAssociations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#DescribeIdentityIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#DescribeImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeImages"
        },
        {
          "target": "com.amazonaws.ec2#DescribeImportImageTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeImportSnapshotTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceCreditSpecifications"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceStatus"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceTypeOfferings"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceTypes"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInternetGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeKeyPairs"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLaunchTemplateVersions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLaunchTemplates"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayRouteTableVpcAssociations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayRouteTables"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayVirtualInterfaceGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayVirtualInterfaces"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeMovingAddresses"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNatGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkAcls"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkInterfaceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkInterfacePermissions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkInterfaces"
        },
        {
          "target": "com.amazonaws.ec2#DescribePlacementGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribePrefixLists"
        },
        {
          "target": "com.amazonaws.ec2#DescribePrincipalIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#DescribePublicIpv4Pools"
        },
        {
          "target": "com.amazonaws.ec2#DescribeRegions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeReservedInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeReservedInstancesListings"
        },
        {
          "target": "com.amazonaws.ec2#DescribeReservedInstancesModifications"
        },
        {
          "target": "com.amazonaws.ec2#DescribeReservedInstancesOfferings"
        },
        {
          "target": "com.amazonaws.ec2#DescribeRouteTables"
        },
        {
          "target": "com.amazonaws.ec2#DescribeScheduledInstanceAvailability"
        },
        {
          "target": "com.amazonaws.ec2#DescribeScheduledInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSecurityGroupReferences"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSecurityGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSnapshots"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotDatafeedSubscription"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotFleetInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotFleetRequestHistory"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotFleetRequests"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotInstanceRequests"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotPriceHistory"
        },
        {
          "target": "com.amazonaws.ec2#DescribeStaleSecurityGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSubnets"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTags"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTrafficMirrorFilters"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTrafficMirrorSessions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTrafficMirrorTargets"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayAttachments"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayMulticastDomains"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayPeeringAttachments"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayRouteTables"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayVpcAttachments"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVolumeAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVolumeStatus"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVolumes"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVolumesModifications"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcClassicLink"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcClassicLinkDnsSupport"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointConnectionNotifications"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointConnections"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointServiceConfigurations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointServicePermissions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointServices"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpoints"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcPeeringConnections"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcs"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpnConnections"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpnGateways"
        },
        {
          "target": "com.amazonaws.ec2#DetachClassicLinkVpc"
        },
        {
          "target": "com.amazonaws.ec2#DetachInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#DetachNetworkInterface"
        },
        {
          "target": "com.amazonaws.ec2#DetachVolume"
        },
        {
          "target": "com.amazonaws.ec2#DetachVpnGateway"
        },
        {
          "target": "com.amazonaws.ec2#DisableEbsEncryptionByDefault"
        },
        {
          "target": "com.amazonaws.ec2#DisableFastSnapshotRestores"
        },
        {
          "target": "com.amazonaws.ec2#DisableTransitGatewayRouteTablePropagation"
        },
        {
          "target": "com.amazonaws.ec2#DisableVgwRoutePropagation"
        },
        {
          "target": "com.amazonaws.ec2#DisableVpcClassicLink"
        },
        {
          "target": "com.amazonaws.ec2#DisableVpcClassicLinkDnsSupport"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateAddress"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateClientVpnTargetNetwork"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateIamInstanceProfile"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateSubnetCidrBlock"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateTransitGatewayMulticastDomain"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateTransitGatewayRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateVpcCidrBlock"
        },
        {
          "target": "com.amazonaws.ec2#EnableEbsEncryptionByDefault"
        },
        {
          "target": "com.amazonaws.ec2#EnableFastSnapshotRestores"
        },
        {
          "target": "com.amazonaws.ec2#EnableTransitGatewayRouteTablePropagation"
        },
        {
          "target": "com.amazonaws.ec2#EnableVgwRoutePropagation"
        },
        {
          "target": "com.amazonaws.ec2#EnableVolumeIO"
        },
        {
          "target": "com.amazonaws.ec2#EnableVpcClassicLink"
        },
        {
          "target": "com.amazonaws.ec2#EnableVpcClassicLinkDnsSupport"
        },
        {
          "target": "com.amazonaws.ec2#ExportClientVpnClientCertificateRevocationList"
        },
        {
          "target": "com.amazonaws.ec2#ExportClientVpnClientConfiguration"
        },
        {
          "target": "com.amazonaws.ec2#ExportImage"
        },
        {
          "target": "com.amazonaws.ec2#ExportTransitGatewayRoutes"
        },
        {
          "target": "com.amazonaws.ec2#GetCapacityReservationUsage"
        },
        {
          "target": "com.amazonaws.ec2#GetCoipPoolUsage"
        },
        {
          "target": "com.amazonaws.ec2#GetConsoleOutput"
        },
        {
          "target": "com.amazonaws.ec2#GetConsoleScreenshot"
        },
        {
          "target": "com.amazonaws.ec2#GetDefaultCreditSpecification"
        },
        {
          "target": "com.amazonaws.ec2#GetEbsDefaultKmsKeyId"
        },
        {
          "target": "com.amazonaws.ec2#GetEbsEncryptionByDefault"
        },
        {
          "target": "com.amazonaws.ec2#GetHostReservationPurchasePreview"
        },
        {
          "target": "com.amazonaws.ec2#GetLaunchTemplateData"
        },
        {
          "target": "com.amazonaws.ec2#GetPasswordData"
        },
        {
          "target": "com.amazonaws.ec2#GetReservedInstancesExchangeQuote"
        },
        {
          "target": "com.amazonaws.ec2#GetTransitGatewayAttachmentPropagations"
        },
        {
          "target": "com.amazonaws.ec2#GetTransitGatewayMulticastDomainAssociations"
        },
        {
          "target": "com.amazonaws.ec2#GetTransitGatewayRouteTableAssociations"
        },
        {
          "target": "com.amazonaws.ec2#GetTransitGatewayRouteTablePropagations"
        },
        {
          "target": "com.amazonaws.ec2#ImportClientVpnClientCertificateRevocationList"
        },
        {
          "target": "com.amazonaws.ec2#ImportImage"
        },
        {
          "target": "com.amazonaws.ec2#ImportInstance"
        },
        {
          "target": "com.amazonaws.ec2#ImportKeyPair"
        },
        {
          "target": "com.amazonaws.ec2#ImportSnapshot"
        },
        {
          "target": "com.amazonaws.ec2#ImportVolume"
        },
        {
          "target": "com.amazonaws.ec2#ModifyCapacityReservation"
        },
        {
          "target": "com.amazonaws.ec2#ModifyClientVpnEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#ModifyDefaultCreditSpecification"
        },
        {
          "target": "com.amazonaws.ec2#ModifyEbsDefaultKmsKeyId"
        },
        {
          "target": "com.amazonaws.ec2#ModifyFleet"
        },
        {
          "target": "com.amazonaws.ec2#ModifyFpgaImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyHosts"
        },
        {
          "target": "com.amazonaws.ec2#ModifyIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#ModifyIdentityIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#ModifyImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceCapacityReservationAttributes"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceCreditSpecification"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceEventStartTime"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceMetadataOptions"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstancePlacement"
        },
        {
          "target": "com.amazonaws.ec2#ModifyLaunchTemplate"
        },
        {
          "target": "com.amazonaws.ec2#ModifyNetworkInterfaceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyReservedInstances"
        },
        {
          "target": "com.amazonaws.ec2#ModifySnapshotAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifySpotFleetRequest"
        },
        {
          "target": "com.amazonaws.ec2#ModifySubnetAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTrafficMirrorFilterNetworkServices"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTrafficMirrorFilterRule"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTrafficMirrorSession"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVolume"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVolumeAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcEndpointConnectionNotification"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcEndpointServiceConfiguration"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcEndpointServicePermissions"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcPeeringConnectionOptions"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcTenancy"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpnConnection"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpnTunnelCertificate"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpnTunnelOptions"
        },
        {
          "target": "com.amazonaws.ec2#MonitorInstances"
        },
        {
          "target": "com.amazonaws.ec2#MoveAddressToVpc"
        },
        {
          "target": "com.amazonaws.ec2#ProvisionByoipCidr"
        },
        {
          "target": "com.amazonaws.ec2#PurchaseHostReservation"
        },
        {
          "target": "com.amazonaws.ec2#PurchaseReservedInstancesOffering"
        },
        {
          "target": "com.amazonaws.ec2#PurchaseScheduledInstances"
        },
        {
          "target": "com.amazonaws.ec2#RebootInstances"
        },
        {
          "target": "com.amazonaws.ec2#RegisterImage"
        },
        {
          "target": "com.amazonaws.ec2#RegisterTransitGatewayMulticastGroupMembers"
        },
        {
          "target": "com.amazonaws.ec2#RegisterTransitGatewayMulticastGroupSources"
        },
        {
          "target": "com.amazonaws.ec2#RejectTransitGatewayPeeringAttachment"
        },
        {
          "target": "com.amazonaws.ec2#RejectTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#RejectVpcEndpointConnections"
        },
        {
          "target": "com.amazonaws.ec2#RejectVpcPeeringConnection"
        },
        {
          "target": "com.amazonaws.ec2#ReleaseAddress"
        },
        {
          "target": "com.amazonaws.ec2#ReleaseHosts"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceIamInstanceProfileAssociation"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceNetworkAclAssociation"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceNetworkAclEntry"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceRoute"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceRouteTableAssociation"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceTransitGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#ReportInstanceStatus"
        },
        {
          "target": "com.amazonaws.ec2#RequestSpotFleet"
        },
        {
          "target": "com.amazonaws.ec2#RequestSpotInstances"
        },
        {
          "target": "com.amazonaws.ec2#ResetEbsDefaultKmsKeyId"
        },
        {
          "target": "com.amazonaws.ec2#ResetFpgaImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ResetImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ResetInstanceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ResetNetworkInterfaceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ResetSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.ec2#RestoreAddressToClassic"
        },
        {
          "target": "com.amazonaws.ec2#RevokeClientVpnIngress"
        },
        {
          "target": "com.amazonaws.ec2#RevokeSecurityGroupEgress"
        },
        {
          "target": "com.amazonaws.ec2#RevokeSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.ec2#RunInstances"
        },
        {
          "target": "com.amazonaws.ec2#RunScheduledInstances"
        },
        {
          "target": "com.amazonaws.ec2#SearchLocalGatewayRoutes"
        },
        {
          "target": "com.amazonaws.ec2#SearchTransitGatewayMulticastGroups"
        },
        {
          "target": "com.amazonaws.ec2#SearchTransitGatewayRoutes"
        },
        {
          "target": "com.amazonaws.ec2#SendDiagnosticInterrupt"
        },
        {
          "target": "com.amazonaws.ec2#StartInstances"
        },
        {
          "target": "com.amazonaws.ec2#StopInstances"
        },
        {
          "target": "com.amazonaws.ec2#TerminateClientVpnConnections"
        },
        {
          "target": "com.amazonaws.ec2#TerminateInstances"
        },
        {
          "target": "com.amazonaws.ec2#UnassignIpv6Addresses"
        },
        {
          "target": "com.amazonaws.ec2#UnassignPrivateIpAddresses"
        },
        {
          "target": "com.amazonaws.ec2#UnmonitorInstances"
        },
        {
          "target": "com.amazonaws.ec2#UpdateSecurityGroupRuleDescriptionsEgress"
        },
        {
          "target": "com.amazonaws.ec2#UpdateSecurityGroupRuleDescriptionsIngress"
        },
        {
          "target": "com.amazonaws.ec2#WithdrawByoipCidr"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EC2",
          "arnNamespace": "ec2",
          "cloudFormationName": "EC2",
          "cloudTrailEventSource": "ec2.amazonaws.com"
        },
        "smithy.api#documentation": "\n\t        <fullname>Amazon Elastic Compute Cloud</fullname>\n         <p>Amazon Elastic Compute Cloud (Amazon EC2) provides secure and resizable computing capacity in the AWS cloud. \n          Using Amazon EC2 eliminates the need to invest in hardware up front, so you can develop and \n          deploy applications faster.</p>\n         <p>To learn more, see the following resources:</p>\n         <ul>\n            <li>\n               <p>Amazon EC2: <a href=\"http://aws.amazon.com/ec2\">AmazonEC2 product page</a>, <a href=\"http://aws.amazon.com/documentation/ec2\">Amazon EC2 documentation</a>\n               </p>\n            </li>\n            <li>\n               <p>Amazon EBS: <a href=\"http://aws.amazon.com/ebs\">Amazon EBS product page</a>, <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AmazonEBS.html\">Amazon EBS documentation</a>\n               </p>\n            </li>\n            <li>\n               <p>Amazon VPC: <a href=\"http://aws.amazon.com/vpc\">Amazon VPC product page</a>, <a href=\"http://aws.amazon.com/documentation/vpc\">Amazon VPC documentation</a>\n               </p>\n            </li>\n            <li>\n               <p>AWS VPN: <a href=\"http://aws.amazon.com/vpn\">AWS VPN product page</a>, <a href=\"http://aws.amazon.com/documentation/vpn\">AWS VPN documentation</a>\n               </p>\n            </li>\n         </ul>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.ec2",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Elastic Compute Cloud",
        "smithy.api#xmlNamespace": {
          "uri": "http://ec2.amazonaws.com/doc/2016-11-15"
        }
      }
    },
    "com.amazonaws.ec2#ApplySecurityGroupsToClientVpnTargetNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#ApplySecurityGroupsToClientVpnTargetNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#ApplySecurityGroupsToClientVpnTargetNetworkResult"
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Applies a security group to the association between the target network and the Client VPN endpoint. This action replaces the existing \n\t\t\tsecurity groups with the specified security groups.</p>\n\t\t    \t\n\t     "
      }
    },
    "com.amazonaws.ec2#ApplySecurityGroupsToClientVpnTargetNetworkRequest": {
      "type": "structure",
      "members": {
        "ClientVpnEndpointId": {
          "target": "com.amazonaws.ec2#ClientVpnEndpointId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the Client VPN endpoint.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n\t     "
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.ec2#ClientVpnSecurityGroupIdSet",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The IDs of the security groups to apply to the associated target network. Up to 5 security groups can \n\t\t\tbe applied to an associated target network.</p>\n\t     ",
            "smithy.api#required": true,
            "smithy.api#xmlName": "SecurityGroupId"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#VpcId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the VPC in which the associated target network is located.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ec2#ApplySecurityGroupsToClientVpnTargetNetworkResult": {
      "type": "structure",
      "members": {
        "SecurityGroupIds": {
          "target": "com.amazonaws.ec2#ClientVpnSecurityGroupIdSet",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The IDs of the applied security groups.</p>\n\t     ",
            "smithy.api#xmlName": "securityGroupIds"
          }
        }
      }
    },
    "com.amazonaws.ec2#ArchitectureType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "i386": { },
          "x86_64": { },
          "arm64": { }
        }
      }
    },
    "com.amazonaws.ec2#ArchitectureTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#ArchitectureType",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#ArchitectureValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "i386": { },
          "x86_64": { },
          "arm64": { }
        }
      }
    },
    "com.amazonaws.ec2#AssignIpv6Addresses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AssignIpv6AddressesRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AssignIpv6AddressesResult"
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Assigns one or more IPv6 addresses to the specified network interface. You can\n            specify one or more specific IPv6 addresses, or you can specify the number of IPv6\n            addresses to be automatically assigned from within the subnet's IPv6 CIDR block range.\n            You can assign as many IPv6 addresses to a network interface as you can assign private\n            IPv4 addresses, and the limit varies per instance type. For information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI\">IP Addresses Per Network Interface Per Instance Type</a>\n            in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n        \n      "
      }
    },
    "com.amazonaws.ec2#AssignIpv6AddressesRequest": {
      "type": "structure",
      "members": {
        "Ipv6AddressCount": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of IPv6 addresses to assign to the network interface. Amazon EC2\n            automatically selects the IPv6 addresses from the subnet range. You can't use this\n            option if specifying specific IPv6 addresses.</p>\n      ",
            "smithy.api#xmlName": "ipv6AddressCount"
          }
        },
        "Ipv6Addresses": {
          "target": "com.amazonaws.ec2#Ipv6AddressList",
          "traits": {
            "smithy.api#documentation": "\n        <p>One or more specific IPv6 addresses to be assigned to the network interface. You can't use this option if you're specifying a number of IPv6 addresses.</p>\n      ",
            "smithy.api#xmlName": "ipv6Addresses"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.ec2#NetworkInterfaceId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the network interface.</p>\n      ",
            "smithy.api#required": true,
            "smithy.api#xmlName": "networkInterfaceId"
          }
        }
      }
    },
    "com.amazonaws.ec2#AssignIpv6AddressesResult": {
      "type": "structure",
      "members": {
        "AssignedIpv6Addresses": {
          "target": "com.amazonaws.ec2#Ipv6AddressList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The IPv6 addresses assigned to the network interface.</p>\n      ",
            "smithy.api#xmlName": "assignedIpv6Addresses"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the network interface.</p>\n      ",
            "smithy.api#xmlName": "networkInterfaceId"
          }
        }
      }
    },
    "com.amazonaws.ec2#AssignPrivateIpAddresses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AssignPrivateIpAddressesRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AssignPrivateIpAddressesResult"
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Assigns one or more secondary private IP addresses to the specified network interface.</p> \n        <p>You can specify one or more specific secondary IP addresses, or you can specify the number \n            of secondary IP addresses to be automatically assigned within the subnet's CIDR block range. \n            The number of secondary IP addresses that you can assign to an instance varies by instance type.\n            For information about instance types, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html\">Instance Types</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. For more information about \n            Elastic IP addresses, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n        <p>When you move a secondary private IP address to another network interface, any Elastic IP address \n            that is associated with the IP address is also moved.</p>\n        <p>Remapping an IP address is an asynchronous operation. When you move an IP address from one network\n            interface to another, check <code>network/interfaces/macs/mac/local-ipv4s</code> in the instance\n            metadata to confirm that the remapping is complete.</p>\n        \n      "
      }
    },
    "com.amazonaws.ec2#AssignPrivateIpAddressesRequest": {
      "type": "structure",
      "members": {
        "AllowReassignment": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Indicates whether to allow an IP address that is already assigned to another network interface or instance to be reassigned to the specified network interface.</p>\n      ",
            "smithy.api#xmlName": "allowReassignment"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.ec2#NetworkInterfaceId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the network interface.</p>\n      ",
            "smithy.api#required": true,
            "smithy.api#xmlName": "networkInterfaceId"
          }
        },
        "PrivateIpAddresses": {
          "target": "com.amazonaws.ec2#PrivateIpAddressStringList",
          "traits": {
            "smithy.api#documentation": "\n        <p>One or more IP addresses to be assigned as a secondary private IP address to the network interface. You can't specify this parameter when also specifying a number of secondary IP addresses.</p>\n        <p>If you don't specify an IP address, Amazon EC2 automatically selects an IP address within the subnet range.</p>\n      ",
            "smithy.api#xmlName": "privateIpAddress"
          }
        },
        "SecondaryPrivateIpAddressCount": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of secondary IP addresses to assign to the network interface. You can't specify this parameter when also specifying private IP addresses.</p>\n      ",
            "smithy.api#xmlName": "secondaryPrivateIpAddressCount"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Contains the parameters for AssignPrivateIpAddresses.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AssignPrivateIpAddressesResult": {
      "type": "structure",
      "members": {
        "AssignedPrivateIpAddresses": {
          "target": "com.amazonaws.ec2#AssignedPrivateIpAddressList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The private IP addresses assigned to the network interface.</p>\n      ",
            "smithy.api#xmlName": "assignedPrivateIpAddressesSet"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the network interface.</p>\n      ",
            "smithy.api#xmlName": "networkInterfaceId"
          }
        }
      }
    },
    "com.amazonaws.ec2#AssignedPrivateIpAddress": {
      "type": "structure",
      "members": {
        "PrivateIpAddress": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The private IP address assigned to the network interface.</p>\n      ",
            "smithy.api#xmlName": "privateIpAddress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes the private IP addresses assigned to a network interface.</p>\n      "
      }
    },
    "com.amazonaws.ec2#AssignedPrivateIpAddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AssignedPrivateIpAddress",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AssociateAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AssociateAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AssociateAddressResult"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates an Elastic IP address with an instance or a network interface. Before you can\n      use an Elastic IP address, you must allocate it to your account.</p>\n         <p>An Elastic IP address is for use in either the EC2-Classic platform or in a VPC.\n\t\t\tFor more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n         <p>[EC2-Classic, VPC in an EC2-VPC-only account] If the Elastic IP address is already\n      associated with a different instance, it is disassociated from that instance and associated\n      with the specified instance. If you associate an Elastic IP address with an instance that has\n      an existing Elastic IP address, the existing address is disassociated from the instance, but\n      remains allocated to your account.</p>\n         <p>[VPC in an EC2-Classic account] If you don't specify a private IP address, the Elastic\n      IP address is associated with the primary IP address. If the Elastic IP address is already\n      associated with a different instance or a network interface, you get an error unless you allow\n      reassociation. You cannot associate an Elastic IP address with an instance or network\n      interface that has an existing Elastic IP address.</p>\n         <important>\n            <p>This is an idempotent operation. If you perform the operation more than once, Amazon EC2\n        doesn't return an error, and you may be charged for each time the Elastic IP address is\n        remapped to the same instance. For more information, see the <i>Elastic IP\n          Addresses</i> section of <a href=\"http://aws.amazon.com/ec2/pricing/\">Amazon EC2\n          Pricing</a>.</p>\n         </important>\n     \n      "
      }
    },
    "com.amazonaws.ec2#AssociateAddressRequest": {
      "type": "structure",
      "members": {
        "AllocationId": {
          "target": "com.amazonaws.ec2#AllocationId",
          "traits": {
            "smithy.api#documentation": "\n         <p>[EC2-VPC] The allocation ID. This is required for EC2-VPC.</p>\n      "
          }
        },
        "AllowReassociation": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>[EC2-VPC] For a VPC in an EC2-Classic account, specify true to allow an Elastic IP address that is already associated with an instance or network interface to be reassociated with the specified instance or network interface. Otherwise, the operation fails. In a VPC in an EC2-VPC-only account, reassociation is automatic, therefore you can specify false to ensure the operation fails if the Elastic IP address is already associated with another resource.</p>\n      ",
            "smithy.api#xmlName": "allowReassociation"
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n      ",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.ec2#InstanceId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the instance. This is required for EC2-Classic. For EC2-VPC, you can specify either the instance ID or the network interface ID, but not both. The operation fails if you specify an instance ID unless exactly one network interface is attached.</p>\n      "
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.ec2#NetworkInterfaceId",
          "traits": {
            "smithy.api#documentation": "\n         <p>[EC2-VPC] The ID of the network interface. If the instance has more than one network interface, you must specify a network interface ID.</p>\n   \t     <p>For EC2-VPC, you can specify either the instance ID or the network interface ID, but not both. </p>\n      ",
            "smithy.api#xmlName": "networkInterfaceId"
          }
        },
        "PrivateIpAddress": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>[EC2-VPC] The primary or secondary private IP address to associate with the Elastic IP address. If no private IP address is specified, the Elastic IP address is associated with the primary private IP address.</p>\n      ",
            "smithy.api#xmlName": "privateIpAddress"
          }
        },
        "PublicIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Elastic IP address to associate with the instance. This is required for EC2-Classic.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.ec2#AssociateAddressResult": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>[EC2-VPC] The ID that represents the association of the Elastic IP address with an instance.</p>\n      ",
            "smithy.api#xmlName": "associationId"
          }
        }
      }
    },
    "com.amazonaws.ec2#AssociateClientVpnTargetNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AssociateClientVpnTargetNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AssociateClientVpnTargetNetworkResult"
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Associates a target network with a Client VPN endpoint. A target network is a subnet in a VPC. You can associate multiple subnets from the same VPC with a Client VPN endpoint. You can associate only one subnet in each Availability Zone. We recommend that you associate at least two subnets to provide Availability Zone redundancy.</p>\n\t\t\n\t\t    \t\n\t     "
      }
    },
    "com.amazonaws.ec2#AssociateClientVpnTargetNetworkRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">How to Ensure Idempotency</a>.</p>\n\t     ",
            "smithy.api#idempotencyToken": true
          }
        },
        "ClientVpnEndpointId": {
          "target": "com.amazonaws.ec2#ClientVpnEndpointId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the Client VPN endpoint.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n\t     "
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.ec2#SubnetId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the subnet to associate with the Client VPN endpoint.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ec2#AssociateClientVpnTargetNetworkResult": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The unique ID of the target network association.</p>\n\t     ",
            "smithy.api#xmlName": "associationId"
          }
        },
        "Status": {
          "target": "com.amazonaws.ec2#AssociationStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The current state of the target network association.</p>\n\t     ",
            "smithy.api#xmlName": "status"
          }
        }
      }
    },
    "com.amazonaws.ec2#AssociateDhcpOptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AssociateDhcpOptionsRequest"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates a set of DHCP options (that you've previously created) with the specified VPC, or associates no DHCP options with the VPC.</p>\n         <p>After you associate the options with the VPC, any existing instances and all new instances that you launch in that VPC use the options. You don't need to restart or relaunch the instances. They automatically pick up the changes within a few hours, depending on how frequently the instance renews its DHCP lease. You can explicitly renew the lease using the operating system on the instance.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_DHCP_Options.html\">DHCP Options Sets</a>\n          in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n      \n      "
      }
    },
    "com.amazonaws.ec2#AssociateDhcpOptionsRequest": {
      "type": "structure",
      "members": {
        "DhcpOptionsId": {
          "target": "com.amazonaws.ec2#DhcpOptionsId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the DHCP options set, or <code>default</code> to associate \n        no DHCP options with the VPC.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>\n      ",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#VpcId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the VPC.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ec2#AssociateIamInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AssociateIamInstanceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AssociateIamInstanceProfileResult"
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Associates an IAM instance profile with a running or stopped instance. You cannot\n            associate more than one IAM instance profile with an instance.</p>\n        \n      "
      }
    },
    "com.amazonaws.ec2#AssociateIamInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "IamInstanceProfile": {
          "target": "com.amazonaws.ec2#IamInstanceProfileSpecification",
          "traits": {
            "smithy.api#documentation": "\n        <p>The IAM instance profile.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.ec2#InstanceId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the instance.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.ec2#AssociateIamInstanceProfileResult": {
      "type": "structure",
      "members": {
        "IamInstanceProfileAssociation": {
          "target": "com.amazonaws.ec2#IamInstanceProfileAssociation",
          "traits": {
            "smithy.api#documentation": "\n        <p>Information about the IAM instance profile association.</p>\n      ",
            "smithy.api#xmlName": "iamInstanceProfileAssociation"
          }
        }
      }
    },
    "com.amazonaws.ec2#AssociateRouteTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AssociateRouteTableRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AssociateRouteTableResult"
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Associates a subnet in your VPC or an internet gateway or virtual private gateway\n            attached to your VPC with a route table in your VPC. This association causes traffic\n            from the subnet or gateway to be routed according to the routes in the route table. The\n            action returns an association ID, which you need in order to disassociate the route\n            table later. A route table can be associated with multiple subnets.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Route_Tables.html\">Route Tables</a> in the\n                <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n        \n      "
      }
    },
    "com.amazonaws.ec2#AssociateRouteTableRequest": {
[...]
