{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.starport.frontend#AmazonEC2ContainerRegistry_V20150921": {
      "type": "service",
      "version": "2015-09-21",
      "operations": [
        {
          "target": "com.amazonaws.starport.frontend#BatchCheckLayerAvailability"
        },
        {
          "target": "com.amazonaws.starport.frontend#BatchDeleteImage"
        },
        {
          "target": "com.amazonaws.starport.frontend#BatchGetImage"
        },
        {
          "target": "com.amazonaws.starport.frontend#CompleteLayerUpload"
        },
        {
          "target": "com.amazonaws.starport.frontend#CreateRepository"
        },
        {
          "target": "com.amazonaws.starport.frontend#DeleteLifecyclePolicy"
        },
        {
          "target": "com.amazonaws.starport.frontend#DeleteRepository"
        },
        {
          "target": "com.amazonaws.starport.frontend#DeleteRepositoryPolicy"
        },
        {
          "target": "com.amazonaws.starport.frontend#DescribeImageScanFindings"
        },
        {
          "target": "com.amazonaws.starport.frontend#DescribeImages"
        },
        {
          "target": "com.amazonaws.starport.frontend#DescribeRepositories"
        },
        {
          "target": "com.amazonaws.starport.frontend#GetAuthorizationToken"
        },
        {
          "target": "com.amazonaws.starport.frontend#GetDownloadUrlForLayer"
        },
        {
          "target": "com.amazonaws.starport.frontend#GetLifecyclePolicy"
        },
        {
          "target": "com.amazonaws.starport.frontend#GetLifecyclePolicyPreview"
        },
        {
          "target": "com.amazonaws.starport.frontend#GetRepositoryPolicy"
        },
        {
          "target": "com.amazonaws.starport.frontend#InitiateLayerUpload"
        },
        {
          "target": "com.amazonaws.starport.frontend#ListImages"
        },
        {
          "target": "com.amazonaws.starport.frontend#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.starport.frontend#PutImage"
        },
        {
          "target": "com.amazonaws.starport.frontend#PutImageScanningConfiguration"
        },
        {
          "target": "com.amazonaws.starport.frontend#PutImageTagMutability"
        },
        {
          "target": "com.amazonaws.starport.frontend#PutLifecyclePolicy"
        },
        {
          "target": "com.amazonaws.starport.frontend#SetRepositoryPolicy"
        },
        {
          "target": "com.amazonaws.starport.frontend#StartImageScan"
        },
        {
          "target": "com.amazonaws.starport.frontend#StartLifecyclePolicyPreview"
        },
        {
          "target": "com.amazonaws.starport.frontend#TagResource"
        },
        {
          "target": "com.amazonaws.starport.frontend#UntagResource"
        },
        {
          "target": "com.amazonaws.starport.frontend#UploadLayerPart"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ECR",
          "arnNamespace": "ecr",
          "cloudFormationName": "ECR",
          "cloudTrailEventSource": "frontend.starport.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>Amazon Elastic Container Registry</fullname>\n        <p>Amazon Elastic Container Registry (Amazon ECR) is a managed Docker registry service. Customers can use the familiar\n            Docker CLI to push, pull, and manage images. Amazon ECR provides a secure, scalable, and\n            reliable registry. Amazon ECR supports private Docker repositories with resource-based\n            permissions using IAM so that specific users or Amazon EC2 instances can access\n            repositories and images. Developers can use the Docker CLI to author and manage\n            images.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon EC2 Container Registry",
        "smithy.api#xmlNamespace": {
          "uri": "http://ecr.amazonaws.com/doc/2015-09-21/"
        }
      }
    },
    "com.amazonaws.starport.frontend#Arn": {
      "type": "string"
    },
    "com.amazonaws.starport.frontend#Attribute": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.starport.frontend#AttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The attribute key.</p>",
            "smithy.api#required": true
          }
        },
        "value": {
          "target": "com.amazonaws.starport.frontend#AttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value assigned to the attribute key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used in the <a>ImageScanFinding</a> data type.</p>"
      }
    },
    "com.amazonaws.starport.frontend#AttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.starport.frontend#AttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#Attribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.starport.frontend#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.starport.frontend#AuthorizationData": {
      "type": "structure",
      "members": {
        "authorizationToken": {
          "target": "com.amazonaws.starport.frontend#Base64",
          "traits": {
            "smithy.api#documentation": "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR\n            registry. When the string is decoded, it is presented in the format\n                <code>user:password</code> for private registry authentication using <code>docker\n                login</code>.</p>"
          }
        },
        "expiresAt": {
          "target": "com.amazonaws.starport.frontend#ExpirationTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix time in seconds and milliseconds when the authorization token expires.\n            Authorization tokens are valid for 12 hours.</p>"
          }
        },
        "proxyEndpoint": {
          "target": "com.amazonaws.starport.frontend#ProxyEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The registry URL to use for this authorization token in a <code>docker login</code>\n            command. The Amazon ECR registry URL format is\n        <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example,\n        <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing authorization data for an Amazon ECR registry.</p>"
      }
    },
    "com.amazonaws.starport.frontend#AuthorizationDataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#AuthorizationData"
      }
    },
    "com.amazonaws.starport.frontend#Base64": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.starport.frontend#BatchCheckLayerAvailability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#BatchCheckLayerAvailabilityRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#BatchCheckLayerAvailabilityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Check the availability of multiple image layers in a specified registry and\n            repository.</p> \n         <note>\n            <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by\n        customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p>\n         </note>"
      }
    },
    "com.amazonaws.starport.frontend#BatchCheckLayerAvailabilityRequest": {
      "type": "structure",
      "members": {
        "layerDigests": {
          "target": "com.amazonaws.starport.frontend#BatchedOperationLayerDigestList",
          "traits": {
            "smithy.api#documentation": "<p>The digests of the image layers to check.</p>",
            "smithy.api#required": true
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the image layers to\n            check. If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository that is associated with the image layers to check.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#BatchCheckLayerAvailabilityResponse": {
      "type": "structure",
      "members": {
        "failures": {
          "target": "com.amazonaws.starport.frontend#LayerFailureList",
          "traits": {
            "smithy.api#documentation": "<p>Any failures associated with the call.</p>"
          }
        },
        "layers": {
          "target": "com.amazonaws.starport.frontend#LayerList",
          "traits": {
            "smithy.api#documentation": "<p>A list of image layer objects corresponding to the image layer references in the\n            request.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#BatchDeleteImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#BatchDeleteImageRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#BatchDeleteImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a list of specified images within a specified repository. Images are specified\n            with either <code>imageTag</code> or <code>imageDigest</code>.</p>\n        <p>You can remove a tag from an image by specifying the image's tag in your request. When\n            you remove the last tag from an image, the image is deleted from your repository.</p>\n        <p>You can completely delete an image (and all of its tags) by specifying the image's\n            digest in your request.</p>"
      }
    },
    "com.amazonaws.starport.frontend#BatchDeleteImageRequest": {
      "type": "structure",
      "members": {
        "imageIds": {
          "target": "com.amazonaws.starport.frontend#ImageIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of image ID references that correspond to images to delete. The format of the\n                <code>imageIds</code> reference is <code>imageTag=tag</code> or\n                <code>imageDigest=digest</code>.</p>",
            "smithy.api#required": true
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the image to delete.\n            If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository that contains the image to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes specified images within a specified repository. Images are specified with\n            either the <code>imageTag</code> or <code>imageDigest</code>.</p>"
      }
    },
    "com.amazonaws.starport.frontend#BatchDeleteImageResponse": {
      "type": "structure",
      "members": {
        "failures": {
          "target": "com.amazonaws.starport.frontend#ImageFailureList",
          "traits": {
            "smithy.api#documentation": "<p>Any failures associated with the call.</p>"
          }
        },
        "imageIds": {
          "target": "com.amazonaws.starport.frontend#ImageIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The image IDs of the deleted images.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#BatchGetImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#BatchGetImageRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#BatchGetImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets detailed information for specified images within a specified repository. Images\n            are specified with either <code>imageTag</code> or <code>imageDigest</code>.</p>"
      }
    },
    "com.amazonaws.starport.frontend#BatchGetImageRequest": {
      "type": "structure",
      "members": {
        "acceptedMediaTypes": {
          "target": "com.amazonaws.starport.frontend#MediaTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The accepted media types for the request.</p>\n        <p>Valid values: <code>application/vnd.docker.distribution.manifest.v1+json</code> |\n                <code>application/vnd.docker.distribution.manifest.v2+json</code> |\n                <code>application/vnd.oci.image.manifest.v1+json</code>\n         </p>"
          }
        },
        "imageIds": {
          "target": "com.amazonaws.starport.frontend#ImageIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of image ID references that correspond to images to describe. The format of the\n                <code>imageIds</code> reference is <code>imageTag=tag</code> or\n                <code>imageDigest=digest</code>.</p>",
            "smithy.api#required": true
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the images to describe.\n            If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository that contains the images to describe.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#BatchGetImageResponse": {
      "type": "structure",
      "members": {
        "failures": {
          "target": "com.amazonaws.starport.frontend#ImageFailureList",
          "traits": {
            "smithy.api#documentation": "<p>Any failures associated with the call.</p>"
          }
        },
        "images": {
          "target": "com.amazonaws.starport.frontend#ImageList",
          "traits": {
            "smithy.api#documentation": "<p>A list of image objects corresponding to the image references in the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#BatchedOperationLayerDigest": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.starport.frontend#BatchedOperationLayerDigestList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#BatchedOperationLayerDigest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.starport.frontend#CompleteLayerUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#CompleteLayerUploadRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#CompleteLayerUploadResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#EmptyUploadException"
        },
        {
          "target": "com.amazonaws.starport.frontend#InvalidLayerException"
        },
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#LayerAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.starport.frontend#LayerPartTooSmallException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        },
        {
          "target": "com.amazonaws.starport.frontend#UploadNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Informs Amazon ECR that the image layer upload has completed for a specified registry,\n            repository name, and upload ID. You can optionally provide a <code>sha256</code> digest\n            of the image layer for data validation purposes.</p> \n         <note>\n            <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by\n        customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p>\n         </note>"
      }
    },
    "com.amazonaws.starport.frontend#CompleteLayerUploadRequest": {
      "type": "structure",
      "members": {
        "layerDigests": {
          "target": "com.amazonaws.starport.frontend#LayerDigestList",
          "traits": {
            "smithy.api#documentation": "<p>The <code>sha256</code> digest of the image layer.</p>",
            "smithy.api#required": true
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry to which to upload layers.\n            If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository to associate with the image layer.</p>",
            "smithy.api#required": true
          }
        },
        "uploadId": {
          "target": "com.amazonaws.starport.frontend#UploadId",
          "traits": {
            "smithy.api#documentation": "<p>The upload ID from a previous <a>InitiateLayerUpload</a> operation to\n            associate with the image layer.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#CompleteLayerUploadResponse": {
      "type": "structure",
      "members": {
        "layerDigest": {
          "target": "com.amazonaws.starport.frontend#LayerDigest",
          "traits": {
            "smithy.api#documentation": "<p>The <code>sha256</code> digest of the image layer.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The registry ID associated with the request.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository name associated with the request.</p>"
          }
        },
        "uploadId": {
          "target": "com.amazonaws.starport.frontend#UploadId",
          "traits": {
            "smithy.api#documentation": "<p>The upload ID associated with the layer.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#CreateRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#CreateRepositoryRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#CreateRepositoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#InvalidTagParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#LimitExceededException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        },
        {
          "target": "com.amazonaws.starport.frontend#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Elastic Container Registry (Amazon ECR) repository, where users can push and pull Docker images. For\n            more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/Repositories.html\">Amazon ECR Repositories</a> in the\n                <i>Amazon Elastic Container Registry User Guide</i>.</p>"
      }
    },
    "com.amazonaws.starport.frontend#CreateRepositoryRequest": {
      "type": "structure",
      "members": {
        "imageScanningConfiguration": {
          "target": "com.amazonaws.starport.frontend#ImageScanningConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The image scanning configuration for the repository. This setting determines whether\n            images are scanned for known vulnerabilities after being pushed to the\n            repository.</p>"
          }
        },
        "imageTagMutability": {
          "target": "com.amazonaws.starport.frontend#ImageTagMutability",
          "traits": {
            "smithy.api#documentation": "<p>The tag mutability setting for the repository. If this parameter is omitted, the\n            default setting of <code>MUTABLE</code> will be used which will allow image tags to be\n            overwritten. If <code>IMMUTABLE</code> is specified, all image tags within the\n            repository will be immutable which will prevent them from being overwritten.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for the repository. The repository name may be specified on its own\n            (such as <code>nginx-web-app</code>) or it can be prepended with a namespace to group\n            the repository into a category (such as <code>project-a/nginx-web-app</code>).</p>",
            "smithy.api#required": true
          }
        },
        "tags": {
          "target": "com.amazonaws.starport.frontend#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the repository to help you categorize and organize\n            them. Each tag consists of a key and an optional value, both of which you define.\n            Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#CreateRepositoryResponse": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.amazonaws.starport.frontend#Repository",
          "traits": {
            "smithy.api#documentation": "<p>The repository that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#CreationTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.starport.frontend#DeleteLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#DeleteLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#DeleteLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified lifecycle policy.</p>"
      }
    },
    "com.amazonaws.starport.frontend#DeleteLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the repository.\n            If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DeleteLifecyclePolicyResponse": {
      "type": "structure",
      "members": {
        "lastEvaluatedAt": {
          "target": "com.amazonaws.starport.frontend#EvaluationTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of the last time that the lifecycle policy was run.</p>"
          }
        },
        "lifecyclePolicyText": {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyText",
          "traits": {
            "smithy.api#documentation": "<p>The JSON lifecycle policy text.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The registry ID associated with the request.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository name associated with the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DeleteRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#DeleteRepositoryRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#DeleteRepositoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotEmptyException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing image repository. If a repository contains images, you must use\n            the <code>force</code> option to delete it.</p>"
      }
    },
    "com.amazonaws.starport.frontend#DeleteRepositoryPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#DeleteRepositoryPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#DeleteRepositoryPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryPolicyNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the repository policy from a specified repository.</p>"
      }
    },
    "com.amazonaws.starport.frontend#DeleteRepositoryPolicyRequest": {
      "type": "structure",
      "members": {
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the repository policy to\n            delete. If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository that is associated with the repository policy to\n            delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DeleteRepositoryPolicyResponse": {
      "type": "structure",
      "members": {
        "policyText": {
          "target": "com.amazonaws.starport.frontend#RepositoryPolicyText",
          "traits": {
            "smithy.api#documentation": "<p>The JSON repository policy that was deleted from the repository.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The registry ID associated with the request.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository name associated with the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DeleteRepositoryRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "com.amazonaws.starport.frontend#ForceFlag",
          "traits": {
            "smithy.api#documentation": "<p> If a repository contains images, forces the deletion.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the repository to\n            delete. If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DeleteRepositoryResponse": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.amazonaws.starport.frontend#Repository",
          "traits": {
            "smithy.api#documentation": "<p>The repository that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DescribeImageScanFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#DescribeImageScanFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#DescribeImageScanFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#ImageNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ScanNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the image scan findings for the specified image.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "imageScanFindings.findings",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.starport.frontend#DescribeImageScanFindingsRequest": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "com.amazonaws.starport.frontend#ImageIdentifier",
          "traits": {
            "smithy.api#required": true
          }
        },
        "maxResults": {
          "target": "com.amazonaws.starport.frontend#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of image scan results returned by\n                <code>DescribeImageScanFindings</code> in paginated output. When this parameter is\n            used, <code>DescribeImageScanFindings</code> only returns <code>maxResults</code>\n            results in a single page along with a <code>nextToken</code> response element. The\n            remaining results of the initial request can be seen by sending another\n                <code>DescribeImageScanFindings</code> request with the returned\n                <code>nextToken</code> value. This value can be between 1 and 1000. If this\n            parameter is not used, then <code>DescribeImageScanFindings</code> returns up to 100\n            results and a <code>nextToken</code> value, if applicable.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.starport.frontend#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n                <code>DescribeImageScanFindings</code> request where <code>maxResults</code> was\n            used and the results exceeded the value of that parameter. Pagination continues from the\n            end of the previous results that returned the <code>nextToken</code> value. This value\n            is null when there are no more results to return.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the repository in\n            which to describe the image scan findings for. If you do not specify a registry, the\n            default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository for the image for which to describe the scan findings.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DescribeImageScanFindingsResponse": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "com.amazonaws.starport.frontend#ImageIdentifier"
        },
        "imageScanFindings": {
          "target": "com.amazonaws.starport.frontend#ImageScanFindings",
          "traits": {
            "smithy.api#documentation": "<p>The information contained in the image scan findings.</p>"
          }
        },
        "imageScanStatus": {
          "target": "com.amazonaws.starport.frontend#ImageScanStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the scan.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.starport.frontend#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future\n                <code>DescribeImageScanFindings</code> request. When the results of a\n                <code>DescribeImageScanFindings</code> request exceed <code>maxResults</code>, this\n            value can be used to retrieve the next page of results. This value is null when there\n            are no more results to return.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The registry ID associated with the request.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository name associated with the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DescribeImages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#DescribeImagesRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#DescribeImagesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#ImageNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about the images in a repository, including image size, image tags,\n            and creation date.</p>\n        <note>\n            <p>Beginning with Docker version 1.9, the Docker client compresses image layers\n                before pushing them to a V2 Docker registry. The output of the <code>docker\n                    images</code> command shows the uncompressed image size, so it may return a\n                larger image size than the image sizes returned by <a>DescribeImages</a>.</p>\n        </note>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "imageDetails",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.starport.frontend#DescribeImagesFilter": {
      "type": "structure",
      "members": {
        "tagStatus": {
          "target": "com.amazonaws.starport.frontend#TagStatus",
          "traits": {
            "smithy.api#documentation": "<p>The tag status with which to filter your <a>DescribeImages</a> results. You\n            can filter results based on whether they are <code>TAGGED</code> or\n                <code>UNTAGGED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a filter on a <a>DescribeImages</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.starport.frontend#DescribeImagesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.starport.frontend#DescribeImagesFilter",
          "traits": {
            "smithy.api#documentation": "<p>The filter key and value with which to filter your <code>DescribeImages</code>\n            results.</p>"
          }
        },
        "imageIds": {
          "target": "com.amazonaws.starport.frontend#ImageIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The list of image IDs for the requested repository.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.starport.frontend#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of repository results returned by <code>DescribeImages</code> in\n            paginated output. When this parameter is used, <code>DescribeImages</code> only returns\n                <code>maxResults</code> results in a single page along with a <code>nextToken</code>\n            response element. The remaining results of the initial request can be seen by sending\n            another <code>DescribeImages</code> request with the returned <code>nextToken</code>\n            value. This value can be between 1 and 1000. If this\n            parameter is not used, then <code>DescribeImages</code> returns up to\n            100 results and a <code>nextToken</code> value, if applicable. This\n            option cannot be used when you specify images with <code>imageIds</code>.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.starport.frontend#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n                <code>DescribeImages</code> request where <code>maxResults</code> was used and the\n            results exceeded the value of that parameter. Pagination continues from the end of the\n            previous results that returned the <code>nextToken</code> value. This value is\n                <code>null</code> when there are no more results to return. This option cannot be\n            used when you specify images with <code>imageIds</code>.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the repository in which\n            to describe images. If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository that contains the images to describe.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DescribeImagesResponse": {
      "type": "structure",
      "members": {
        "imageDetails": {
          "target": "com.amazonaws.starport.frontend#ImageDetailList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>ImageDetail</a> objects that contain data about the\n            image.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.starport.frontend#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>DescribeImages</code>\n            request. When the results of a <code>DescribeImages</code> request exceed\n                <code>maxResults</code>, this value can be used to retrieve the next page of\n            results. This value is <code>null</code> when there are no more results to\n            return.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DescribeRepositories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#DescribeRepositoriesRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#DescribeRepositoriesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes image repositories in a registry.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "repositories",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.starport.frontend#DescribeRepositoriesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.starport.frontend#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of repository results returned by <code>DescribeRepositories</code>\n            in paginated output. When this parameter is used, <code>DescribeRepositories</code> only\n            returns <code>maxResults</code> results in a single page along with a\n                <code>nextToken</code> response element. The remaining results of the initial\n            request can be seen by sending another <code>DescribeRepositories</code> request with\n            the returned <code>nextToken</code> value. This value can be between 1\n            and 1000. If this parameter is not used, then\n                <code>DescribeRepositories</code> returns up to 100 results and a\n                <code>nextToken</code> value, if applicable. This option cannot be used when you\n            specify repositories with <code>repositoryNames</code>.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.starport.frontend#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n                <code>DescribeRepositories</code> request where <code>maxResults</code> was used and\n            the results exceeded the value of that parameter. Pagination continues from the end of\n            the previous results that returned the <code>nextToken</code> value. This value is\n                <code>null</code> when there are no more results to return. This option cannot be\n            used when you specify repositories with <code>repositoryNames</code>.</p>\n        <note>\n            <p>This token should be treated as an opaque identifier that is only used to\n                retrieve the next items in a list and not for other programmatic purposes.</p>\n        </note>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the repositories to be\n            described. If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryNames": {
          "target": "com.amazonaws.starport.frontend#RepositoryNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of repositories to describe. If this parameter is omitted, then all\n            repositories in a registry are described.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#DescribeRepositoriesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.starport.frontend#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future\n                <code>DescribeRepositories</code> request. When the results of a\n                <code>DescribeRepositories</code> request exceed <code>maxResults</code>, this value\n            can be used to retrieve the next page of results. This value is <code>null</code> when\n            there are no more results to return.</p>"
          }
        },
        "repositories": {
          "target": "com.amazonaws.starport.frontend#RepositoryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of repository objects corresponding to valid repositories.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#EmptyUploadException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified layer upload does not contain any layer parts.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#EvaluationTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.starport.frontend#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.starport.frontend#ExpirationTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.starport.frontend#FindingDescription": {
      "type": "string"
    },
    "com.amazonaws.starport.frontend#FindingName": {
      "type": "string"
    },
    "com.amazonaws.starport.frontend#FindingSeverity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "INFORMATIONAL": {
            "name": "INFORMATIONAL"
          },
          "LOW": {
            "name": "LOW"
          },
          "MEDIUM": {
            "name": "MEDIUM"
          },
          "HIGH": {
            "name": "HIGH"
          },
          "CRITICAL": {
            "name": "CRITICAL"
          },
          "UNDEFINED": {
            "name": "UNDEFINED"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#FindingSeverityCounts": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.starport.frontend#FindingSeverity"
      },
      "value": {
        "target": "com.amazonaws.starport.frontend#SeverityCount"
      }
    },
    "com.amazonaws.starport.frontend#ForceFlag": {
      "type": "boolean"
    },
    "com.amazonaws.starport.frontend#GetAuthorizationToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#GetAuthorizationTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#GetAuthorizationTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a token that is valid for a specified registry for 12 hours. This command\n            allows you to use the <code>docker</code> CLI to push and pull images with Amazon ECR.\n            If you do not specify a registry, the default registry is assumed.</p>\n        <p>The <code>authorizationToken</code> returned for each registry specified is a base64\n            encoded string that can be decoded and used in a <code>docker login</code> command to\n            authenticate to a registry. The AWS CLI offers an <code>aws ecr get-login</code> command\n            that simplifies the login process.</p>"
      }
    },
    "com.amazonaws.starport.frontend#GetAuthorizationTokenRegistryIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#RegistryId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.starport.frontend#GetAuthorizationTokenRequest": {
      "type": "structure",
      "members": {
        "registryIds": {
          "target": "com.amazonaws.starport.frontend#GetAuthorizationTokenRegistryIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS account IDs that are associated with the registries for which to get\n            authorization tokens. If you do not specify a registry, the default registry is assumed.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#GetAuthorizationTokenResponse": {
      "type": "structure",
      "members": {
        "authorizationData": {
          "target": "com.amazonaws.starport.frontend#AuthorizationDataList",
          "traits": {
            "smithy.api#documentation": "<p>A list of authorization token data objects that correspond to the\n                <code>registryIds</code> values in the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#GetDownloadUrlForLayer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#GetDownloadUrlForLayerRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#GetDownloadUrlForLayerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#LayerInaccessibleException"
        },
        {
          "target": "com.amazonaws.starport.frontend#LayersNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the pre-signed Amazon S3 download URL corresponding to an image layer. You\n            can only get URLs for image layers that are referenced in an image.</p>\n        <note>\n            <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by\n        customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p>\n         </note>"
      }
    },
    "com.amazonaws.starport.frontend#GetDownloadUrlForLayerRequest": {
      "type": "structure",
      "members": {
        "layerDigest": {
          "target": "com.amazonaws.starport.frontend#LayerDigest",
          "traits": {
            "smithy.api#documentation": "<p>The digest of the image layer to download.</p>",
            "smithy.api#required": true
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the image layer to\n            download. If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository that is associated with the image layer to download.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#GetDownloadUrlForLayerResponse": {
      "type": "structure",
      "members": {
        "downloadUrl": {
          "target": "com.amazonaws.starport.frontend#Url",
          "traits": {
            "smithy.api#documentation": "<p>The pre-signed Amazon S3 download URL for the requested layer.</p>"
          }
        },
        "layerDigest": {
          "target": "com.amazonaws.starport.frontend#LayerDigest",
          "traits": {
            "smithy.api#documentation": "<p>The digest of the image layer to download.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#GetLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#GetLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#GetLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the specified lifecycle policy.</p>"
      }
    },
    "com.amazonaws.starport.frontend#GetLifecyclePolicyPreview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#GetLifecyclePolicyPreviewRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#GetLifecyclePolicyPreviewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyPreviewNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the results of the specified lifecycle policy preview request.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "previewResults",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.starport.frontend#GetLifecyclePolicyPreviewRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyPreviewFilter",
          "traits": {
            "smithy.api#documentation": "<p>An optional parameter that filters results based on image tag status and all tags, if\n            tagged.</p>"
          }
        },
        "imageIds": {
          "target": "com.amazonaws.starport.frontend#ImageIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The list of imageIDs to be included.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.starport.frontend#LifecyclePreviewMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of repository results returned by\n                <code>GetLifecyclePolicyPreviewRequest</code> in  paginated output. When this\n            parameter is used, <code>GetLifecyclePolicyPreviewRequest</code> only returns \n                <code>maxResults</code> results in a single page along with a\n            <code>nextToken</code>  response element. The remaining results of the initial request\n            can be seen by sending  another <code>GetLifecyclePolicyPreviewRequest</code> request\n            with the returned <code>nextToken</code>  value. This value can be between\n            1 and 1000. If this  parameter is not used, then\n                <code>GetLifecyclePolicyPreviewRequest</code> returns up to  100\n            results and a <code>nextToken</code> value, if  applicable. This option cannot be used\n            when you specify images with <code>imageIds</code>.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.starport.frontend#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated \n                <code>GetLifecyclePolicyPreviewRequest</code> request where <code>maxResults</code>\n            was used and the  results exceeded the value of that parameter. Pagination continues\n            from the end of the  previous results that returned the <code>nextToken</code> value.\n            This value is  <code>null</code> when there are no more results to return. This option\n            cannot be used when you specify images with <code>imageIds</code>.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the repository.\n            If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#GetLifecyclePolicyPreviewResponse": {
      "type": "structure",
      "members": {
        "lifecyclePolicyText": {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyText",
          "traits": {
            "smithy.api#documentation": "<p>The JSON lifecycle policy text.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.starport.frontend#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future\n                <code>GetLifecyclePolicyPreview</code> request. When the results of a\n                <code>GetLifecyclePolicyPreview</code> request exceed <code>maxResults</code>, this\n            value can be used to retrieve the next page of results. This value is <code>null</code>\n            when there are no more results to return.</p>"
          }
        },
        "previewResults": {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyPreviewResultList",
          "traits": {
            "smithy.api#documentation": "<p>The results of the lifecycle policy preview request.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The registry ID associated with the request.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository name associated with the request.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyPreviewStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the lifecycle policy preview request.</p>"
          }
        },
        "summary": {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyPreviewSummary",
          "traits": {
            "smithy.api#documentation": "<p>The list of images that is returned as a result of the action.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#GetLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the repository.\n            If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#GetLifecyclePolicyResponse": {
      "type": "structure",
      "members": {
        "lastEvaluatedAt": {
          "target": "com.amazonaws.starport.frontend#EvaluationTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of the last time that the lifecycle policy was run.</p>"
          }
        },
        "lifecyclePolicyText": {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyText",
          "traits": {
            "smithy.api#documentation": "<p>The JSON lifecycle policy text.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The registry ID associated with the request.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository name associated with the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#GetRepositoryPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#GetRepositoryPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#GetRepositoryPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryPolicyNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the repository policy for a specified repository.</p>"
      }
    },
    "com.amazonaws.starport.frontend#GetRepositoryPolicyRequest": {
      "type": "structure",
      "members": {
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry that contains the repository.\n            If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository with the policy to retrieve.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#GetRepositoryPolicyResponse": {
      "type": "structure",
      "members": {
        "policyText": {
          "target": "com.amazonaws.starport.frontend#RepositoryPolicyText",
          "traits": {
            "smithy.api#documentation": "<p>The JSON repository policy text associated with the repository.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The registry ID associated with the request.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository name associated with the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#Image": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "com.amazonaws.starport.frontend#ImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>An object containing the image tag and image digest associated with an image.</p>"
          }
        },
        "imageManifest": {
          "target": "com.amazonaws.starport.frontend#ImageManifest",
          "traits": {
            "smithy.api#documentation": "<p>The image manifest associated with the image.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry containing the image.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository associated with the image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an Amazon ECR image.</p>"
      }
    },
    "com.amazonaws.starport.frontend#ImageActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EXPIRE": {
            "name": "EXPIRE"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#ImageAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified image has already been pushed, and there were no changes to the manifest\n            or image tag after the last push.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#ImageCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.starport.frontend#ImageDetail": {
      "type": "structure",
      "members": {
        "imageDigest": {
          "target": "com.amazonaws.starport.frontend#ImageDigest",
          "traits": {
            "smithy.api#documentation": "<p>The <code>sha256</code> digest of the image manifest.</p>"
          }
        },
        "imagePushedAt": {
          "target": "com.amazonaws.starport.frontend#PushTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, expressed in standard JavaScript date format, at which the current\n            image was pushed to the repository. </p>"
          }
        },
        "imageScanFindingsSummary": {
          "target": "com.amazonaws.starport.frontend#ImageScanFindingsSummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of the last completed image scan.</p>"
          }
        },
        "imageScanStatus": {
          "target": "com.amazonaws.starport.frontend#ImageScanStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the scan.</p>"
          }
        },
        "imageSizeInBytes": {
          "target": "com.amazonaws.starport.frontend#ImageSizeInBytes",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of the image in the repository.</p>\n        <note>\n            <p>Beginning with Docker version 1.9, the Docker client compresses image layers\n                before pushing them to a V2 Docker registry. The output of the <code>docker\n                    images</code> command shows the uncompressed image size, so it may return a\n                larger image size than the image sizes returned by <a>DescribeImages</a>.</p>\n        </note>"
          }
        },
        "imageTags": {
          "target": "com.amazonaws.starport.frontend#ImageTagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags associated with this image.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry to which this image belongs.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository to which this image belongs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that describes an image returned by a <a>DescribeImages</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.starport.frontend#ImageDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#ImageDetail"
      }
    },
    "com.amazonaws.starport.frontend#ImageDigest": {
      "type": "string"
    },
    "com.amazonaws.starport.frontend#ImageFailure": {
      "type": "structure",
      "members": {
        "failureCode": {
          "target": "com.amazonaws.starport.frontend#ImageFailureCode",
          "traits": {
            "smithy.api#documentation": "<p>The code associated with the failure.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.starport.frontend#ImageFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the failure.</p>"
          }
        },
        "imageId": {
          "target": "com.amazonaws.starport.frontend#ImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The image ID associated with the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an Amazon ECR image failure.</p>"
      }
    },
    "com.amazonaws.starport.frontend#ImageFailureCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "InvalidImageDigest": {
            "name": "InvalidImageDigest"
          },
          "InvalidImageTag": {
            "name": "InvalidImageTag"
          },
          "ImageTagDoesNotMatchDigest": {
            "name": "ImageTagDoesNotMatchDigest"
          },
          "ImageNotFound": {
            "name": "ImageNotFound"
          },
          "MissingDigestAndTag": {
            "name": "MissingDigestAndTag"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#ImageFailureList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#ImageFailure"
      }
    },
    "com.amazonaws.starport.frontend#ImageFailureReason": {
      "type": "string"
    },
    "com.amazonaws.starport.frontend#ImageIdentifier": {
      "type": "structure",
      "members": {
        "imageDigest": {
          "target": "com.amazonaws.starport.frontend#ImageDigest",
          "traits": {
            "smithy.api#documentation": "<p>The <code>sha256</code> digest of the image manifest.</p>"
          }
        },
        "imageTag": {
          "target": "com.amazonaws.starport.frontend#ImageTag",
          "traits": {
            "smithy.api#documentation": "<p>The tag used for the image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object with identifying information for an Amazon ECR image.</p>"
      }
    },
    "com.amazonaws.starport.frontend#ImageIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#ImageIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.starport.frontend#ImageList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#Image"
      }
    },
    "com.amazonaws.starport.frontend#ImageManifest": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4194304
        }
      }
    },
    "com.amazonaws.starport.frontend#ImageNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The image requested does not exist in the specified repository.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#ImageScanFinding": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.starport.frontend#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of attributes of the host from which the finding is generated.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.starport.frontend#FindingDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the finding.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.starport.frontend#FindingName",
          "traits": {
            "smithy.api#documentation": "<p>The name associated with the finding, usually a CVE number.</p>"
          }
        },
        "severity": {
          "target": "com.amazonaws.starport.frontend#FindingSeverity",
          "traits": {
            "smithy.api#documentation": "<p>The finding severity.</p>"
          }
        },
        "uri": {
          "target": "com.amazonaws.starport.frontend#Url",
          "traits": {
            "smithy.api#documentation": "<p>A link containing additional details about the security vulnerability.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an image scan finding.</p>"
      }
    },
    "com.amazonaws.starport.frontend#ImageScanFindingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#ImageScanFinding"
      }
    },
    "com.amazonaws.starport.frontend#ImageScanFindings": {
      "type": "structure",
      "members": {
        "findingSeverityCounts": {
          "target": "com.amazonaws.starport.frontend#FindingSeverityCounts",
          "traits": {
            "smithy.api#documentation": "<p>The image vulnerability counts, sorted by severity.</p>"
          }
        },
        "findings": {
          "target": "com.amazonaws.starport.frontend#ImageScanFindingList",
          "traits": {
            "smithy.api#documentation": "<p>The findings from the image scan.</p>"
          }
        },
        "imageScanCompletedAt": {
          "target": "com.amazonaws.starport.frontend#ScanTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time of the last completed image scan.</p>"
          }
        },
        "vulnerabilitySourceUpdatedAt": {
          "target": "com.amazonaws.starport.frontend#VulnerabilitySourceUpdateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the vulnerability data was last scanned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an image scan.</p>"
      }
    },
    "com.amazonaws.starport.frontend#ImageScanFindingsSummary": {
      "type": "structure",
      "members": {
        "findingSeverityCounts": {
          "target": "com.amazonaws.starport.frontend#FindingSeverityCounts",
          "traits": {
            "smithy.api#documentation": "<p>The image vulnerability counts, sorted by severity.</p>"
          }
        },
        "imageScanCompletedAt": {
          "target": "com.amazonaws.starport.frontend#ScanTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time of the last completed image scan.</p>"
          }
        },
        "vulnerabilitySourceUpdatedAt": {
          "target": "com.amazonaws.starport.frontend#VulnerabilitySourceUpdateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the vulnerability data was last scanned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the last completed image scan.</p>"
      }
    },
    "com.amazonaws.starport.frontend#ImageScanStatus": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.starport.frontend#ScanStatusDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the image scan status.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.starport.frontend#ScanStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of an image scan.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current status of an image scan.</p>"
      }
    },
    "com.amazonaws.starport.frontend#ImageScanningConfiguration": {
      "type": "structure",
      "members": {
        "scanOnPush": {
          "target": "com.amazonaws.starport.frontend#ScanOnPushFlag",
          "traits": {
            "smithy.api#documentation": "<p>The setting that determines whether images are scanned after being pushed to a\n            repository. If set to <code>true</code>, images will be scanned after being pushed. If\n            this parameter is not specified, it will default to <code>false</code> and images will\n            not be scanned unless a scan is manually started with the <a>StartImageScan</a> API.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The image scanning configuration for a repository.</p>"
      }
    },
    "com.amazonaws.starport.frontend#ImageSizeInBytes": {
      "type": "long",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.starport.frontend#ImageTag": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.starport.frontend#ImageTagAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified image is tagged with a tag that already exists. The repository is\n            configured for tag immutability.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#ImageTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#ImageTag"
      }
    },
    "com.amazonaws.starport.frontend#ImageTagMutability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "MUTABLE": {
            "name": "MUTABLE"
          },
          "IMMUTABLE": {
            "name": "IMMUTABLE"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#InitiateLayerUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.starport.frontend#InitiateLayerUploadRequest"
      },
      "output": {
        "target": "com.amazonaws.starport.frontend#InitiateLayerUploadResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.starport.frontend#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.starport.frontend#RepositoryNotFoundException"
        },
        {
          "target": "com.amazonaws.starport.frontend#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Notify Amazon ECR that you intend to upload an image layer.</p> \n         <note>\n            <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by\n        customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p>\n         </note>"
      }
    },
    "com.amazonaws.starport.frontend#InitiateLayerUploadRequest": {
      "type": "structure",
      "members": {
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the registry to which you intend to upload layers.\n            If you do not specify a registry, the default registry is assumed.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository to which you intend to upload layers.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#InitiateLayerUploadResponse": {
      "type": "structure",
      "members": {
        "partSize": {
          "target": "com.amazonaws.starport.frontend#PartSize",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, that Amazon ECR expects future layer part uploads to be.</p>"
          }
        },
        "uploadId": {
          "target": "com.amazonaws.starport.frontend#UploadId",
          "traits": {
            "smithy.api#documentation": "<p>The upload ID for the layer upload. This parameter is passed to further <a>UploadLayerPart</a> and <a>CompleteLayerUpload</a>\n            operations.</p>"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#InvalidLayerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The layer digest calculation performed by Amazon ECR upon receipt of the image layer does\n            not match the digest specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#InvalidLayerPartException": {
      "type": "structure",
      "members": {
        "lastValidByteReceived": {
          "target": "com.amazonaws.starport.frontend#PartSize",
          "traits": {
            "smithy.api#documentation": "<p>The last valid byte received from the layer part upload that is associated with the\n            exception.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the exception.</p>"
          }
        },
        "registryId": {
          "target": "com.amazonaws.starport.frontend#RegistryId",
          "traits": {
            "smithy.api#documentation": "<p>The registry ID associated with the exception.</p>"
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.starport.frontend#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository name associated with the exception.</p>"
          }
        },
        "uploadId": {
          "target": "com.amazonaws.starport.frontend#UploadId",
          "traits": {
            "smithy.api#documentation": "<p>The upload ID associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The layer part size is not valid, or the first byte specified is not consecutive to\n            the last byte of a previous layer part upload.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#InvalidParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified parameter is invalid. Review the available parameters for the API\n            request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#InvalidTagParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An invalid parameter has been specified. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#Layer": {
      "type": "structure",
      "members": {
        "layerAvailability": {
          "target": "com.amazonaws.starport.frontend#LayerAvailability",
          "traits": {
            "smithy.api#documentation": "<p>The availability status of the image layer.</p>"
          }
        },
        "layerDigest": {
          "target": "com.amazonaws.starport.frontend#LayerDigest",
          "traits": {
            "smithy.api#documentation": "<p>The <code>sha256</code> digest of the image layer.</p>"
          }
        },
        "layerSize": {
          "target": "com.amazonaws.starport.frontend#LayerSizeInBytes",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of the image layer.</p>"
          }
        },
        "mediaType": {
          "target": "com.amazonaws.starport.frontend#MediaType",
          "traits": {
            "smithy.api#documentation": "<p>The media type of the layer, such as\n                <code>application/vnd.docker.image.rootfs.diff.tar.gzip</code> or\n                <code>application/vnd.oci.image.layer.v1.tar+gzip</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an Amazon ECR image layer.</p>"
      }
    },
    "com.amazonaws.starport.frontend#LayerAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The image layer already exists in the associated repository.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#LayerAvailability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "AVAILABLE": {
            "name": "AVAILABLE"
          },
          "UNAVAILABLE": {
            "name": "UNAVAILABLE"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#LayerDigest": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-zA-Z0-9-_+.]+:[a-fA-F0-9]+"
      }
    },
    "com.amazonaws.starport.frontend#LayerDigestList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#LayerDigest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.starport.frontend#LayerFailure": {
      "type": "structure",
      "members": {
        "failureCode": {
          "target": "com.amazonaws.starport.frontend#LayerFailureCode",
          "traits": {
            "smithy.api#documentation": "<p>The failure code associated with the failure.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.starport.frontend#LayerFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the failure.</p>"
          }
        },
        "layerDigest": {
          "target": "com.amazonaws.starport.frontend#BatchedOperationLayerDigest",
          "traits": {
            "smithy.api#documentation": "<p>The layer digest associated with the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an Amazon ECR image layer failure.</p>"
      }
    },
    "com.amazonaws.starport.frontend#LayerFailureCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "InvalidLayerDigest": {
            "name": "InvalidLayerDigest"
          },
          "MissingLayerDigest": {
            "name": "MissingLayerDigest"
          }
        }
      }
    },
    "com.amazonaws.starport.frontend#LayerFailureList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#LayerFailure"
      }
    },
    "com.amazonaws.starport.frontend#LayerFailureReason": {
      "type": "string"
    },
    "com.amazonaws.starport.frontend#LayerInaccessibleException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified layer is not available because it is not associated with an image.\n            Unassociated image layers may be cleaned up at any time.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#LayerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#Layer"
      }
    },
    "com.amazonaws.starport.frontend#LayerPartBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20971520
        }
      }
    },
    "com.amazonaws.starport.frontend#LayerPartTooSmallException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Layer parts must be at least 5 MiB in size.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#LayerSizeInBytes": {
      "type": "long",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.starport.frontend#LayersNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified layers could not be found, or the specified layer is not valid for this\n            repository.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#LifecyclePolicyNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The lifecycle policy could not be found, and no policy is set to the\n            repository.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#LifecyclePolicyPreviewFilter": {
      "type": "structure",
      "members": {
        "tagStatus": {
          "target": "com.amazonaws.starport.frontend#TagStatus",
          "traits": {
            "smithy.api#documentation": "<p>The tag status of the image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The filter for the lifecycle policy preview.</p>"
      }
    },
    "com.amazonaws.starport.frontend#LifecyclePolicyPreviewInProgressException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The previous lifecycle policy preview request has not completed. Please try again\n            later.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#LifecyclePolicyPreviewNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.starport.frontend#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is no dry run for this repository.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.starport.frontend#LifecyclePolicyPreviewResult": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyRuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The type of action to be taken.</p>"
          }
        },
        "appliedRulePriority": {
          "target": "com.amazonaws.starport.frontend#LifecyclePolicyRulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the applied rule.</p>"
          }
        },
        "imageDigest": {
          "target": "com.amazonaws.starport.frontend#ImageDigest",
          "traits": {
            "smithy.api#documentation": "<p>The <code>sha256</code> digest of the image manifest.</p>"
          }
        },
        "imagePushedAt": {
          "target": "com.amazonaws.starport.frontend#PushTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, expressed in standard JavaScript date format, at which the current\n            image was pushed to the repository.</p>"
          }
        },
        "imageTags": {
          "target": "com.amazonaws.starport.frontend#ImageTagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags associated with this image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of the lifecycle policy preview.</p>"
      }
    },
    "com.amazonaws.starport.frontend#LifecyclePolicyPreviewResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.starport.frontend#LifecyclePolicyPreviewResult"
      }
    },
    "com.amazonaws.starport.frontend#LifecyclePolicyPreviewStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "COMPLETE": {
            "name": "COMPLETE"
          },
          "EXPIRED": {
            "name": "EXPIRED"
          },
[...]
