{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.a9.es.config2015#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Elasticsearch domain.  See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>"
      }
    },
    "com.a9.es.config2015#AccessPoliciesStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.a9.es.config2015#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The access policy configured for the Elasticsearch domain.  Access policies may be resource-based, IP-based, or IAM-based.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\">\n           Configuring Access Policies</a>for more information.</p>",
            "smithy.api#required": true
          }
        },
        "Status": {
          "target": "com.a9.es.config2015#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>"
      }
    },
    "com.a9.es.config2015#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#AddTagsRequest"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#LimitExceededException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\">\n          Tagging Amazon Elasticsearch Service Domains for more information.</a></p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/tags",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#AddTagsRequest": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.a9.es.config2015#ARN",
          "traits": {
            "smithy.api#documentation": "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
            "smithy.api#required": true
          }
        },
        "TagList": {
          "target": "com.a9.es.config2015#TagList",
          "traits": {
            "smithy.api#documentation": "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#AdditionalLimit": {
      "type": "structure",
      "members": {
        "LimitName": {
          "target": "com.a9.es.config2015#LimitName",
          "traits": {
            "smithy.api#documentation": "<p>\n      Name of Additional Limit is specific to a given InstanceType and for each of it's\n      <code>\n        <a>InstanceRole</a>\n      </code>\n      etc.\n      <br></br>\n      Attributes and their details:\n      <br></br>\n      <ul>\n        <li>MaximumNumberOfDataNodesSupported</li>\n        This attribute will be present in Master node only to specify how\n        much data nodes upto which given\n        <code>\n          <a>ESPartitionInstanceType</a>\n        </code>\n        can support as master node.\n        <li>MaximumNumberOfDataNodesWithoutMasterNode</li>\n        This attribute will be present in Data node only to specify how much\n        data nodes of given\n        <code>\n          <a>ESPartitionInstanceType</a>\n        </code>\n        upto which you don't need any master nodes to govern them.\n      </ul>\n    </p>"
          }
        },
        "LimitValues": {
          "target": "com.a9.es.config2015#LimitValueList",
          "traits": {
            "smithy.api#documentation": "<p>\n    Value for given\n    <code>\n      <a>AdditionalLimit$LimitName</a>\n    </code>\n    .\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      List of limits that are specific to a given InstanceType and for each of it's\n      <code>\n        <a>InstanceRole</a>\n      </code>\n      .\n    </p>"
      }
    },
    "com.a9.es.config2015#AdditionalLimitList": {
      "type": "list",
      "member": {
        "target": "com.a9.es.config2015#AdditionalLimit"
      }
    },
    "com.a9.es.config2015#AdvancedOptions": {
      "type": "map",
      "key": {
        "target": "com.a9.es.config2015#String"
      },
      "value": {
        "target": "com.a9.es.config2015#String"
      },
      "traits": {
        "smithy.api#documentation": "<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>.  Currently, the following advanced options are available:</p>\n       <ul>\n           <li>Option to allow references to indices in an HTTP request body.  Must be <code>false</code> when configuring access to individual sub-resources.  By default, the value is <code>true</code>.\n               See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li>\n           <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li>\n       </ul>\n       <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>"
      }
    },
    "com.a9.es.config2015#AdvancedOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.a9.es.config2015#AdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        },
        "Status": {
          "target": "com.a9.es.config2015#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p>\n       <ul>\n           <li>Option to allow references to indices in an HTTP request body.  Must be <code>false</code> when configuring access to individual sub-resources.  By default, the value is <code>true</code>.\n               See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li>\n           <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li>\n       </ul>\n       <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>"
      }
    },
    "com.a9.es.config2015#AmazonElasticsearchService2015": {
      "type": "service",
      "version": "2015-01-01",
      "operations": [
        {
          "target": "com.a9.es.config2015#AddTags"
        },
        {
          "target": "com.a9.es.config2015#CancelElasticsearchServiceSoftwareUpdate"
        },
        {
          "target": "com.a9.es.config2015#CreateElasticsearchDomain"
        },
        {
          "target": "com.a9.es.config2015#DeleteElasticsearchDomain"
        },
        {
          "target": "com.a9.es.config2015#DeleteElasticsearchServiceRole"
        },
        {
          "target": "com.a9.es.config2015#DescribeElasticsearchDomain"
        },
        {
          "target": "com.a9.es.config2015#DescribeElasticsearchDomainConfig"
        },
        {
          "target": "com.a9.es.config2015#DescribeElasticsearchDomains"
        },
        {
          "target": "com.a9.es.config2015#DescribeElasticsearchInstanceTypeLimits"
        },
        {
          "target": "com.a9.es.config2015#DescribeReservedElasticsearchInstanceOfferings"
        },
        {
          "target": "com.a9.es.config2015#DescribeReservedElasticsearchInstances"
        },
        {
          "target": "com.a9.es.config2015#GetCompatibleElasticsearchVersions"
        },
        {
          "target": "com.a9.es.config2015#GetUpgradeHistory"
        },
        {
          "target": "com.a9.es.config2015#GetUpgradeStatus"
        },
        {
          "target": "com.a9.es.config2015#ListDomainNames"
        },
        {
          "target": "com.a9.es.config2015#ListElasticsearchInstanceTypes"
        },
        {
          "target": "com.a9.es.config2015#ListElasticsearchVersions"
        },
        {
          "target": "com.a9.es.config2015#ListTags"
        },
        {
          "target": "com.a9.es.config2015#PurchaseReservedElasticsearchInstanceOffering"
        },
        {
          "target": "com.a9.es.config2015#RemoveTags"
        },
        {
          "target": "com.a9.es.config2015#StartElasticsearchServiceSoftwareUpdate"
        },
        {
          "target": "com.a9.es.config2015#UpdateElasticsearchDomainConfig"
        },
        {
          "target": "com.a9.es.config2015#UpgradeElasticsearchDomain"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Elasticsearch Service",
          "arnNamespace": "es",
          "cloudFormationName": "Elasticsearch",
          "cloudTrailEventSource": "config2015.es.a9.com"
        },
        "smithy.api#documentation": "<fullname>Amazon Elasticsearch Configuration Service</fullname>\n      <p>Use the Amazon Elasticsearch Configuration API to create, configure, and manage Elasticsearch domains.</p>\n      <p>For sample code that uses the Configuration API, see the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-configuration-samples.html\">Amazon Elasticsearch Service Developer Guide</a>.\n      The guide also contains <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-request-signing.html\">sample code for sending signed HTTP requests to the Elasticsearch APIs</a>.</p>\n      <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com.\n         For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints,\n         see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Elasticsearch Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://es.amazonaws.com/doc/2015-01-01/"
        }
      }
    },
    "com.a9.es.exceptions#BaseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.a9.es.exceptions#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred while processing the request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.a9.es.config2015#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.a9.es.config2015#CancelElasticsearchServiceSoftwareUpdate": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#CancelElasticsearchServiceSoftwareUpdateRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#CancelElasticsearchServiceSoftwareUpdateResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a scheduled service software update for an Amazon ES domain. You can only perform this operation before the <code>AutomatedUpdateDate</code> and when the <code>UpdateStatus</code> is in the <code>PENDING_UPDATE</code> state.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/es/serviceSoftwareUpdate/cancel",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#CancelElasticsearchServiceSoftwareUpdateRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to stop the latest service software update on.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>CancelElasticsearchServiceSoftwareUpdate</a></code> operation. Specifies the name of the Elasticsearch domain that you wish to cancel a service software update on.</p>"
      }
    },
    "com.a9.es.config2015#CancelElasticsearchServiceSoftwareUpdateResponse": {
      "type": "structure",
      "members": {
        "ServiceSoftwareOptions": {
          "target": "com.a9.es.config2015#ServiceSoftwareOptions",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Elasticsearch service software update.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>CancelElasticsearchServiceSoftwareUpdate</code> operation. Contains the status of the update.</p>"
      }
    },
    "com.a9.es.config2015#CloudWatchLogsLogGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>ARN of the Cloudwatch log group to which log needs to be published.</p>"
      }
    },
    "com.a9.es.config2015#CognitoOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the option to enable Cognito for Kibana authentication.</p>"
          }
        },
        "IdentityPoolId": {
          "target": "com.a9.es.config2015#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Cognito identity pool ID for Kibana authentication.</p>"
          }
        },
        "RoleArn": {
          "target": "com.a9.es.config2015#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.</p>"
          }
        },
        "UserPoolId": {
          "target": "com.a9.es.config2015#UserPoolId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Cognito user pool ID for Kibana authentication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>"
      }
    },
    "com.a9.es.config2015#CognitoOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.a9.es.config2015#CognitoOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Cognito options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        },
        "Status": {
          "target": "com.a9.es.config2015#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the Cognito options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Status of the Cognito options for the specified Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#CompatibleElasticsearchVersionsList": {
      "type": "list",
      "member": {
        "target": "com.a9.es.config2015#CompatibleVersionsMap"
      }
    },
    "com.a9.es.config2015#CompatibleVersionsMap": {
      "type": "structure",
      "members": {
        "SourceVersion": {
          "target": "com.a9.es.config2015#ElasticsearchVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The current version of Elasticsearch on which a domain is.</p>"
          }
        },
        "TargetVersions": {
          "target": "com.a9.es.config2015#ElasticsearchVersionList"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A map from an\n      <code>\n        <a>ElasticsearchVersion</a>\n      </code>\n      to a list of compatible\n      <code>\n        <a>ElasticsearchVersion</a>\n      </code>\n      s to which the domain can be upgraded.\n    </p>"
      }
    },
    "com.a9.es.config2015#CreateElasticsearchDomain": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#CreateElasticsearchDomainRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#CreateElasticsearchDomainResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#DisabledOperationException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#InvalidTypeException"
        },
        {
          "target": "com.a9.es.exceptions#LimitExceededException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceAlreadyExistsException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Elasticsearch domain. For more information,\n          see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/es/domain",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#CreateElasticsearchDomainRequest": {
      "type": "structure",
      "members": {
        "AccessPolicies": {
          "target": "com.a9.es.config2015#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p> IAM access policy as a JSON-formatted string.</p>"
          }
        },
        "AdvancedOptions": {
          "target": "com.a9.es.config2015#AdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p> Option to allow references to indices in an HTTP request body.  Must be <code>false</code> when configuring access to individual sub-resources.  By default, the value is <code>true</code>.\n          See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</p>"
          }
        },
        "CognitoOptions": {
          "target": "com.a9.es.config2015#CognitoOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>"
          }
        },
        "DomainEndpointOptions": {
          "target": "com.a9.es.config2015#DomainEndpointOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to specify configuration that will be applied to the domain endpoint.</p>"
          }
        },
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a lowercase letter and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
            "smithy.api#required": true
          }
        },
        "EBSOptions": {
          "target": "com.a9.es.config2015#EBSOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to enable, disable and specify the type and size of EBS storage volumes. </p>"
          }
        },
        "ElasticsearchClusterConfig": {
          "target": "com.a9.es.config2015#ElasticsearchClusterConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. </p>"
          }
        },
        "ElasticsearchVersion": {
          "target": "com.a9.es.config2015#ElasticsearchVersionString",
          "traits": {
            "smithy.api#documentation": "<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information,\n          see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>"
          }
        },
        "EncryptionAtRestOptions": {
          "target": "com.a9.es.config2015#EncryptionAtRestOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Encryption At Rest Options.</p>"
          }
        },
        "LogPublishingOptions": {
          "target": "com.a9.es.config2015#LogPublishingOptions",
          "traits": {
            "smithy.api#documentation": "<p>Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.</p>"
          }
        },
        "NodeToNodeEncryptionOptions": {
          "target": "com.a9.es.config2015#NodeToNodeEncryptionOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the NodeToNodeEncryptionOptions.</p>"
          }
        },
        "SnapshotOptions": {
          "target": "com.a9.es.config2015#SnapshotOptions",
          "traits": {
            "smithy.api#documentation": "<p>Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours. </p>"
          }
        },
        "VPCOptions": {
          "target": "com.a9.es.config2015#VPCOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc\" target=\"_blank\">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i></p>"
          }
        }
      }
    },
    "com.a9.es.config2015#CreateElasticsearchDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.a9.es.config2015#ElasticsearchDomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the newly created Elasticsearch domain. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#DeleteElasticsearchDomain": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#DeleteElasticsearchDomainRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#DeleteElasticsearchDomainResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-01-01/es/domain/{DomainName}",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#DeleteElasticsearchDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Elasticsearch domain that you want to permanently delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.</p>"
      }
    },
    "com.a9.es.config2015#DeleteElasticsearchDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.a9.es.config2015#ElasticsearchDomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Elasticsearch domain being deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.</p>"
      }
    },
    "com.a9.es.config2015#DeleteElasticsearchServiceRole": {
      "type": "operation",
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the service-linked role that Elasticsearch Service uses to manage and maintain VPC domains. Role deletion will fail if any existing VPC domains use the role. You must delete any such Elasticsearch domains before deleting the role. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-enabling-slr\" target=\"_blank\">Deleting Elasticsearch Service Role</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-01-01/es/role",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#DeploymentCloseDateTimeStamp": {
      "type": "timestamp"
    },
    "com.a9.es.config2015#DeploymentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PENDING_UPDATE": { },
          "IN_PROGRESS": { },
          "COMPLETED": { },
          "NOT_ELIGIBLE": { },
          "ELIGIBLE": { }
        }
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchDomain": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#DescribeElasticsearchDomainRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#DescribeElasticsearchDomainResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/domain/{DomainName}",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchDomainConfig": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#DescribeElasticsearchDomainConfigRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#DescribeElasticsearchDomainConfigResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/domain/{DomainName}/config",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchDomainConfigRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch domain that you want to get information about.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.</p>"
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchDomainConfigResponse": {
      "type": "structure",
      "members": {
        "DomainConfig": {
          "target": "com.a9.es.config2015#ElasticsearchDomainConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information of the domain requested in the <code>DescribeElasticsearchDomainConfig</code> request.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.</p>"
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Elasticsearch domain for which you want information.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.</p>"
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.a9.es.config2015#ElasticsearchDomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.</p>"
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchDomains": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#DescribeElasticsearchDomainsRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#DescribeElasticsearchDomainsResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/es/domain-info",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchDomainsRequest": {
      "type": "structure",
      "members": {
        "DomainNames": {
          "target": "com.a9.es.config2015#DomainNameList",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch domains for which you want information.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.</p>"
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchDomainsResponse": {
      "type": "structure",
      "members": {
        "DomainStatusList": {
          "target": "com.a9.es.config2015#ElasticsearchDomainStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status of the domains requested in the <code>DescribeElasticsearchDomains</code> request.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.</p>"
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchInstanceTypeLimits": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#DescribeElasticsearchInstanceTypeLimitsRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#DescribeElasticsearchInstanceTypeLimitsResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#InvalidTypeException"
        },
        {
          "target": "com.a9.es.exceptions#LimitExceededException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n    Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion.\n    When modifying existing Domain, specify the\n    <code>\n      <a>DomainName</a>\n    </code>\n    to know what Limits are supported for modifying.\n  </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/instanceTypeLimits/{ElasticsearchVersion}/{InstanceType}",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchInstanceTypeLimitsRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n      DomainName represents the name of the Domain that we are trying to\n      modify. This should be present only if we are\n      querying for Elasticsearch\n      <code>\n        <a>Limits</a>\n      </code>\n      for existing domain.\n    </p>",
            "smithy.api#httpQuery": "domainName"
          }
        },
        "ElasticsearchVersion": {
          "target": "com.a9.es.config2015#ElasticsearchVersionString",
          "traits": {
            "smithy.api#documentation": "<p>\n      Version of Elasticsearch for which\n      <code>\n        <a>Limits</a>\n      </code>\n      are needed.\n    </p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "InstanceType": {
          "target": "com.a9.es.config2015#ESPartitionInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The instance type for an Elasticsearch cluster for which Elasticsearch\n      <code>\n        <a>Limits</a>\n      </code>\n      are needed.\n    </p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters to\n      <code>\n        <a>DescribeElasticsearchInstanceTypeLimits</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#DescribeElasticsearchInstanceTypeLimitsResponse": {
      "type": "structure",
      "members": {
        "LimitsByRole": {
          "target": "com.a9.es.config2015#LimitsByRole"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters received from\n      <code>\n        <a>DescribeElasticsearchInstanceTypeLimits</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#DescribeReservedElasticsearchInstanceOfferings": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#DescribeReservedElasticsearchInstanceOfferingsRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#DescribeReservedElasticsearchInstanceOfferingsResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#DisabledOperationException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists available reserved Elasticsearch instance offerings.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/reservedInstanceOfferings",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.a9.es.config2015#DescribeReservedElasticsearchInstanceOfferingsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.a9.es.config2015#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.a9.es.config2015#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>NextToken should be sent in case if earlier API call produced result\n\t\tcontaining NextToken. It is used for pagination.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ReservedElasticsearchInstanceOfferingId": {
          "target": "com.a9.es.config2015#GUID",
          "traits": {
            "smithy.api#documentation": "<p>The offering identifier filter value. Use this parameter to show only the available offering that matches the specified reservation identifier.</p>",
            "smithy.api#httpQuery": "offeringId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for parameters to <code>DescribeReservedElasticsearchInstanceOfferings</code></p>"
      }
    },
    "com.a9.es.config2015#DescribeReservedElasticsearchInstanceOfferingsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.a9.es.config2015#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "ReservedElasticsearchInstanceOfferings": {
          "target": "com.a9.es.config2015#ReservedElasticsearchInstanceOfferingList",
          "traits": {
            "smithy.api#documentation": "<p>List of reserved Elasticsearch instance offerings</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for results from <code>DescribeReservedElasticsearchInstanceOfferings</code></p>"
      }
    },
    "com.a9.es.config2015#DescribeReservedElasticsearchInstances": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#DescribeReservedElasticsearchInstancesRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#DescribeReservedElasticsearchInstancesResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#DisabledOperationException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about reserved Elasticsearch instances for this account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/reservedInstances",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.a9.es.config2015#DescribeReservedElasticsearchInstancesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.a9.es.config2015#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.a9.es.config2015#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>NextToken should be sent in case if earlier API call produced result\n\t\tcontaining NextToken. It is used for pagination.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ReservedElasticsearchInstanceId": {
          "target": "com.a9.es.config2015#GUID",
          "traits": {
            "smithy.api#documentation": "<p>The reserved instance identifier filter value. Use this parameter to show only the reservation that matches the specified reserved Elasticsearch instance ID.</p>",
            "smithy.api#httpQuery": "reservationId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for parameters to <code>DescribeReservedElasticsearchInstances</code></p>"
      }
    },
    "com.a9.es.config2015#DescribeReservedElasticsearchInstancesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.a9.es.config2015#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "ReservedElasticsearchInstances": {
          "target": "com.a9.es.config2015#ReservedElasticsearchInstanceList",
          "traits": {
            "smithy.api#documentation": "<p>List of reserved Elasticsearch instances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for results from <code>DescribeReservedElasticsearchInstances</code></p>"
      }
    },
    "com.a9.es.exceptions#DisabledOperationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.a9.es.exceptions#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.a9.es.config2015#DomainEndpointOptions": {
      "type": "structure",
      "members": {
        "EnforceHTTPS": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specify if only HTTPS endpoint should be enabled for the Elasticsearch domain.</p>"
          }
        },
        "TLSSecurityPolicy": {
          "target": "com.a9.es.config2015#TLSSecurityPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Specify the TLS security policy that needs to be applied to the HTTPS endpoint of Elasticsearch domain.\n        <br></br> It can be one of the following values:\n        <ul>\n            <li><b>Policy-Min-TLS-1-0-2019-07: </b> TLS security policy which supports TLSv1.0 and higher.</li>\n            <li><b>Policy-Min-TLS-1-2-2019-07: </b> TLS security policy which supports only TLSv1.2</li>\n        </ul>\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options to configure endpoint for the Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#DomainEndpointOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.a9.es.config2015#DomainEndpointOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to configure endpoint for the Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        },
        "Status": {
          "target": "com.a9.es.config2015#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the endpoint options for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured endpoint options for the domain and their current status.</p>"
      }
    },
    "com.a9.es.config2015#DomainId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Unique identifier for an Elasticsearch domain.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.a9.es.config2015#DomainInfo": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the <code>DomainName</code>.</p>"
          }
        }
      }
    },
    "com.a9.es.config2015#DomainInfoList": {
      "type": "list",
      "member": {
        "target": "com.a9.es.config2015#DomainInfo"
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains the list of Elasticsearch domain information.</p>"
      }
    },
    "com.a9.es.config2015#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
        "smithy.api#length": {
          "min": 3,
          "max": 28
        },
        "smithy.api#pattern": "[a-z][a-z0-9\\-]+"
      }
    },
    "com.a9.es.config2015#DomainNameList": {
      "type": "list",
      "member": {
        "target": "com.a9.es.config2015#DomainName"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of Elasticsearch domain names.</p>"
      }
    },
    "com.a9.es.config2015#Double": {
      "type": "double",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.a9.es.config2015#EBSOptions": {
      "type": "structure",
      "members": {
        "EBSEnabled": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether EBS-based storage is enabled.</p>"
          }
        },
        "Iops": {
          "target": "com.a9.es.config2015#IntegerClass",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IOPD for a Provisioned IOPS EBS volume (SSD).</p>"
          }
        },
        "VolumeSize": {
          "target": "com.a9.es.config2015#IntegerClass",
          "traits": {
            "smithy.api#documentation": "<p> Integer to specify the size of an EBS volume.</p>"
          }
        },
        "VolumeType": {
          "target": "com.a9.es.config2015#VolumeType",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the volume type for EBS-based storage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\"> Configuring EBS-based Storage</a>.</p>"
      }
    },
    "com.a9.es.config2015#EBSOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.a9.es.config2015#EBSOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the EBS options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        },
        "Status": {
          "target": "com.a9.es.config2015#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of the EBS options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Status of the EBS options for the specified Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#ESPartitionInstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "m3.medium.elasticsearch": { },
          "m3.large.elasticsearch": { },
          "m3.xlarge.elasticsearch": { },
          "m3.2xlarge.elasticsearch": { },
          "m4.large.elasticsearch": { },
          "m4.xlarge.elasticsearch": { },
          "m4.2xlarge.elasticsearch": { },
          "m4.4xlarge.elasticsearch": { },
          "m4.10xlarge.elasticsearch": { },
          "m5.large.elasticsearch": { },
          "m5.xlarge.elasticsearch": { },
          "m5.2xlarge.elasticsearch": { },
          "m5.4xlarge.elasticsearch": { },
          "m5.12xlarge.elasticsearch": { },
          "r5.large.elasticsearch": { },
          "r5.xlarge.elasticsearch": { },
          "r5.2xlarge.elasticsearch": { },
          "r5.4xlarge.elasticsearch": { },
          "r5.12xlarge.elasticsearch": { },
          "c5.large.elasticsearch": { },
          "c5.xlarge.elasticsearch": { },
          "c5.2xlarge.elasticsearch": { },
          "c5.4xlarge.elasticsearch": { },
          "c5.9xlarge.elasticsearch": { },
          "c5.18xlarge.elasticsearch": { },
          "ultrawarm1.medium.elasticsearch": { },
          "ultrawarm1.large.elasticsearch": { },
          "t2.micro.elasticsearch": { },
          "t2.small.elasticsearch": { },
          "t2.medium.elasticsearch": { },
          "r3.large.elasticsearch": { },
          "r3.xlarge.elasticsearch": { },
          "r3.2xlarge.elasticsearch": { },
          "r3.4xlarge.elasticsearch": { },
          "r3.8xlarge.elasticsearch": { },
          "i2.xlarge.elasticsearch": { },
          "i2.2xlarge.elasticsearch": { },
          "d2.xlarge.elasticsearch": { },
          "d2.2xlarge.elasticsearch": { },
          "d2.4xlarge.elasticsearch": { },
          "d2.8xlarge.elasticsearch": { },
          "c4.large.elasticsearch": { },
          "c4.xlarge.elasticsearch": { },
          "c4.2xlarge.elasticsearch": { },
          "c4.4xlarge.elasticsearch": { },
          "c4.8xlarge.elasticsearch": { },
          "r4.large.elasticsearch": { },
          "r4.xlarge.elasticsearch": { },
          "r4.2xlarge.elasticsearch": { },
          "r4.4xlarge.elasticsearch": { },
          "r4.8xlarge.elasticsearch": { },
          "r4.16xlarge.elasticsearch": { },
          "i3.large.elasticsearch": { },
          "i3.xlarge.elasticsearch": { },
          "i3.2xlarge.elasticsearch": { },
          "i3.4xlarge.elasticsearch": { },
          "i3.8xlarge.elasticsearch": { },
          "i3.16xlarge.elasticsearch": { }
        }
      }
    },
    "com.a9.es.config2015#ESWarmPartitionInstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ultrawarm1.medium.elasticsearch": { },
          "ultrawarm1.large.elasticsearch": { }
        }
      }
    },
    "com.a9.es.config2015#ElasticsearchClusterConfig": {
      "type": "structure",
      "members": {
        "DedicatedMasterCount": {
          "target": "com.a9.es.config2015#IntegerClass",
          "traits": {
            "smithy.api#documentation": "<p>Total number of dedicated master nodes, active and on standby, for the cluster.</p>"
          }
        },
        "DedicatedMasterEnabled": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value to indicate whether a dedicated master node is enabled.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\" target=\"_blank\">About Dedicated Master Nodes</a> for more information.</p>"
          }
        },
        "DedicatedMasterType": {
          "target": "com.a9.es.config2015#ESPartitionInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type for a dedicated master node.</p>"
          }
        },
        "InstanceCount": {
          "target": "com.a9.es.config2015#IntegerClass",
          "traits": {
            "smithy.api#documentation": "<p>The number of instances in the specified domain cluster.</p>"
          }
        },
        "InstanceType": {
          "target": "com.a9.es.config2015#ESPartitionInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type for an Elasticsearch cluster. UltraWarm instance types are not supported for data instances.</p>"
          }
        },
        "WarmCount": {
          "target": "com.a9.es.config2015#IntegerClass",
          "traits": {
            "smithy.api#documentation": "<p>The number of warm nodes in the cluster.</p>"
          }
        },
        "WarmEnabled": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to enable warm storage.</p>"
          }
        },
        "WarmType": {
          "target": "com.a9.es.config2015#ESWarmPartitionInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type for the Elasticsearch cluster's warm nodes.</p>"
          }
        },
        "ZoneAwarenessConfig": {
          "target": "com.a9.es.config2015#ZoneAwarenessConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the zone awareness configuration for a domain when zone awareness is enabled.</p>"
          }
        },
        "ZoneAwarenessEnabled": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value to indicate whether zone awareness is enabled.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness\" target=\"_blank\">About Zone Awareness</a> for more information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration for the domain cluster, such as the type and number of instances.</p>"
      }
    },
    "com.a9.es.config2015#ElasticsearchClusterConfigStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.a9.es.config2015#ElasticsearchClusterConfig",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        },
        "Status": {
          "target": "com.a9.es.config2015#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Specifies the configuration status for the specified Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#ElasticsearchDomainConfig": {
      "type": "structure",
      "members": {
        "AccessPolicies": {
          "target": "com.a9.es.config2015#AccessPoliciesStatus",
          "traits": {
            "smithy.api#documentation": "<p>IAM access policy as a JSON-formatted string.</p>"
          }
        },
        "AdvancedOptions": {
          "target": "com.a9.es.config2015#AdvancedOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>AdvancedOptions</code> for the domain.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>"
          }
        },
        "CognitoOptions": {
          "target": "com.a9.es.config2015#CognitoOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>The <code>CognitoOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>"
          }
        },
        "DomainEndpointOptions": {
          "target": "com.a9.es.config2015#DomainEndpointOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>DomainEndpointOptions</code> for the Elasticsearch domain.</p>"
          }
        },
        "EBSOptions": {
          "target": "com.a9.es.config2015#EBSOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>"
          }
        },
        "ElasticsearchClusterConfig": {
          "target": "com.a9.es.config2015#ElasticsearchClusterConfigStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>"
          }
        },
        "ElasticsearchVersion": {
          "target": "com.a9.es.config2015#ElasticsearchVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>String of format X.Y to specify version for the Elasticsearch domain.</p>"
          }
        },
        "EncryptionAtRestOptions": {
          "target": "com.a9.es.config2015#EncryptionAtRestOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>EncryptionAtRestOptions</code> for the Elasticsearch domain.</p>"
          }
        },
        "LogPublishingOptions": {
          "target": "com.a9.es.config2015#LogPublishingOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>Log publishing options for the given domain.</p>"
          }
        },
        "NodeToNodeEncryptionOptions": {
          "target": "com.a9.es.config2015#NodeToNodeEncryptionOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>NodeToNodeEncryptionOptions</code> for the Elasticsearch domain.</p>"
          }
        },
        "SnapshotOptions": {
          "target": "com.a9.es.config2015#SnapshotOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>"
          }
        },
        "VPCOptions": {
          "target": "com.a9.es.config2015#VPCDerivedInfoStatus",
          "traits": {
            "smithy.api#documentation": "<p>The <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\" target=\"_blank\">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of an Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#ElasticsearchDomainStatus": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.a9.es.config2015#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) of an Elasticsearch domain.  See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>",
            "smithy.api#required": true
          }
        },
        "AccessPolicies": {
          "target": "com.a9.es.config2015#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p> IAM access policy as a JSON-formatted string.</p>"
          }
        },
        "AdvancedOptions": {
          "target": "com.a9.es.config2015#AdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the <code>AdvancedOptions</code></p>"
          }
        },
        "CognitoOptions": {
          "target": "com.a9.es.config2015#CognitoOptions",
          "traits": {
            "smithy.api#documentation": "<p>The <code>CognitoOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>"
          }
        },
        "Created": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The domain creation status. <code>True</code> if the creation of an Elasticsearch domain is complete. <code>False</code> if domain creation is still in progress.</p>"
          }
        },
        "Deleted": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The domain deletion status. <code>True</code> if a delete request has been received for the domain but resource cleanup is still in progress. <code>False</code> if the domain has not been deleted. Once domain deletion is complete, the status of the domain is no longer returned.</p>"
          }
        },
        "DomainEndpointOptions": {
          "target": "com.a9.es.config2015#DomainEndpointOptions",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Elasticsearch domain's endpoint options.</p>"
          }
        },
        "DomainId": {
          "target": "com.a9.es.config2015#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        },
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
            "smithy.api#required": true
          }
        },
        "EBSOptions": {
          "target": "com.a9.es.config2015#EBSOptions",
          "traits": {
            "smithy.api#documentation": "<p>The <code>EBSOptions</code> for the specified domain.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\">Configuring EBS-based Storage</a> for more information.</p>"
          }
        },
        "ElasticsearchClusterConfig": {
          "target": "com.a9.es.config2015#ElasticsearchClusterConfig",
          "traits": {
            "smithy.api#documentation": "<p>The type and number of instances in the domain cluster.</p>",
            "smithy.api#required": true
          }
        },
        "ElasticsearchVersion": {
          "target": "com.a9.es.config2015#ElasticsearchVersionString"
        },
        "EncryptionAtRestOptions": {
          "target": "com.a9.es.config2015#EncryptionAtRestOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of the <code>EncryptionAtRestOptions</code>.</p>"
          }
        },
        "Endpoint": {
          "target": "com.a9.es.config2015#ServiceUrl",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch domain endpoint that you use to submit index and search requests.</p>"
          }
        },
        "Endpoints": {
          "target": "com.a9.es.config2015#EndpointsMap",
          "traits": {
            "smithy.api#documentation": "<p>Map containing the Elasticsearch domain endpoints used to submit index and search requests. Example <code>key, value</code>: <code>'vpc','vpc-endpoint-h2dsd34efgyghrtguk5gt6j2foh4.us-east-1.es.amazonaws.com'</code>.</p>"
          }
        },
        "LogPublishingOptions": {
          "target": "com.a9.es.config2015#LogPublishingOptions",
          "traits": {
            "smithy.api#documentation": "<p>Log publishing options for the given domain.</p>"
          }
        },
        "NodeToNodeEncryptionOptions": {
          "target": "com.a9.es.config2015#NodeToNodeEncryptionOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the <code>NodeToNodeEncryptionOptions</code>.</p>"
          }
        },
        "Processing": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Elasticsearch domain configuration. <code>True</code> if Amazon Elasticsearch Service is processing configuration changes. <code>False</code> if the configuration is active.</p>"
          }
        },
        "ServiceSoftwareOptions": {
          "target": "com.a9.es.config2015#ServiceSoftwareOptions",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Elasticsearch domain's service software.</p>"
          }
        },
        "SnapshotOptions": {
          "target": "com.a9.es.config2015#SnapshotOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the <code>SnapshotOptions</code></p>"
          }
        },
        "UpgradeProcessing": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The status of an Elasticsearch domain version upgrade. <code>True</code> if Amazon Elasticsearch Service is undergoing a version upgrade. <code>False</code> if the configuration is active.</p>"
          }
        },
        "VPCOptions": {
          "target": "com.a9.es.config2015#VPCDerivedInfo",
          "traits": {
            "smithy.api#documentation": "<p>The <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\" target=\"_blank\">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current status of an Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#ElasticsearchDomainStatusList": {
      "type": "list",
      "member": {
        "target": "com.a9.es.config2015#ElasticsearchDomainStatus"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list that contains the status of each requested Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#ElasticsearchInstanceTypeList": {
      "type": "list",
      "member": {
        "target": "com.a9.es.config2015#ESPartitionInstanceType"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      List of instance types supported by Amazon Elasticsearch service.\n    </p>"
      }
    },
    "com.a9.es.config2015#ElasticsearchVersionList": {
      "type": "list",
      "member": {
        "target": "com.a9.es.config2015#ElasticsearchVersionString"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of supported elastic search versions.\n    </p>"
      }
    },
    "com.a9.es.config2015#ElasticsearchVersionStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.a9.es.config2015#ElasticsearchVersionString",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the Elasticsearch version for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        },
        "Status": {
          "target": "com.a9.es.config2015#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of the Elasticsearch version options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Status of the Elasticsearch version options for the specified Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#ElasticsearchVersionString": {
      "type": "string"
    },
    "com.a9.es.config2015#EncryptionAtRestOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.a9.es.config2015#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the option to enable Encryption At Rest.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.a9.es.config2015#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the KMS Key ID for Encryption At Rest options.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Encryption At Rest Options.</p>"
      }
    },
    "com.a9.es.config2015#EncryptionAtRestOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.a9.es.config2015#EncryptionAtRestOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the Encryption At Rest options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        },
        "Status": {
          "target": "com.a9.es.config2015#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of the Encryption At Rest options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Status of the Encryption At Rest options for the specified Elasticsearch domain.</p>"
      }
    },
    "com.a9.es.config2015#EndpointsMap": {
      "type": "map",
      "key": {
        "target": "com.a9.es.config2015#String"
      },
      "value": {
        "target": "com.a9.es.config2015#ServiceUrl"
      }
    },
    "com.a9.es.exceptions#ErrorMessage": {
      "type": "string"
    },
    "com.a9.es.config2015#GUID": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "\\p{XDigit}{8}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{12}"
      }
    },
    "com.a9.es.config2015#GetCompatibleElasticsearchVersions": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#GetCompatibleElasticsearchVersionsRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#GetCompatibleElasticsearchVersionsResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#DisabledOperationException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n        Returns a list of upgrade compatible Elastisearch versions.\n        You can optionally pass a\n        <code>\n          <a>DomainName</a>\n        </code>\n        to get all upgrade compatible Elasticsearch versions for that specific domain.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/compatibleVersions",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#GetCompatibleElasticsearchVersionsRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#httpQuery": "domainName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for request parameters to\n      <code>\n        <a>GetCompatibleElasticsearchVersions</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#GetCompatibleElasticsearchVersionsResponse": {
      "type": "structure",
      "members": {
        "CompatibleElasticsearchVersions": {
          "target": "com.a9.es.config2015#CompatibleElasticsearchVersionsList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A map of compatible Elasticsearch versions returned as part of the\n      <code>\n        <a>GetCompatibleElasticsearchVersions</a>\n      </code>\n      operation.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for response returned by\n      <code>\n        <a>GetCompatibleElasticsearchVersions</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#GetUpgradeHistory": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#GetUpgradeHistoryRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#GetUpgradeHistoryResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#DisabledOperationException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the complete history of the last 10 upgrades that were performed on the domain.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/upgradeDomain/{DomainName}/history",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.a9.es.config2015#GetUpgradeHistoryRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.a9.es.config2015#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.a9.es.config2015#NextToken",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for request parameters to\n      <code>\n        <a>GetUpgradeHistory</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#GetUpgradeHistoryResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.a9.es.config2015#String",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token that needs to be supplied to the next call to get the next page of results</p>"
          }
        },
        "UpgradeHistories": {
          "target": "com.a9.es.config2015#UpgradeHistoryList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of\n      <code>\n        <a>UpgradeHistory</a>\n      </code>\n      objects corresponding to each Upgrade or Upgrade Eligibility Check performed on a domain returned as part of\n      <code>\n        <a>GetUpgradeHistoryResponse</a>\n      </code>\n      object.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for response returned by\n      <code>\n        <a>GetUpgradeHistory</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#GetUpgradeStatus": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#GetUpgradeStatusRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#GetUpgradeStatusResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#DisabledOperationException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the latest status of the last upgrade or upgrade eligibility check that was performed on the domain.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/upgradeDomain/{DomainName}/status",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#GetUpgradeStatusRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for request parameters to\n      <code>\n        <a>GetUpgradeStatus</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#GetUpgradeStatusResponse": {
      "type": "structure",
      "members": {
        "StepStatus": {
          "target": "com.a9.es.config2015#UpgradeStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n      One of 4 statuses that a step can go through returned as part of the\n      <code>\n        <a>GetUpgradeStatusResponse</a>\n      </code>\n      object. The status can take one of the following values:\n      <ul>\n        <li>In Progress</li>\n        <li>Succeeded</li>\n        <li>Succeeded with Issues</li>\n        <li>Failed</li>\n      </ul>\n    </p>"
          }
        },
        "UpgradeName": {
          "target": "com.a9.es.config2015#UpgradeName",
          "traits": {
            "smithy.api#documentation": "<p>A string that describes the update briefly</p>"
          }
        },
        "UpgradeStep": {
          "target": "com.a9.es.config2015#UpgradeStep",
          "traits": {
            "smithy.api#documentation": "<p>\n      Represents one of 3 steps that an Upgrade or Upgrade Eligibility Check does through:\n      <ul>\n        <li>PreUpgradeCheck</li>\n        <li>Snapshot</li>\n        <li>Upgrade</li>\n      </ul>\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for response returned by\n      <code>\n        <a>GetUpgradeStatus</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#IdentityPoolId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 55
        },
        "smithy.api#pattern": "[\\w-]+:[0-9a-f-]+"
      }
    },
    "com.a9.es.config2015#InstanceCount": {
      "type": "integer",
      "traits": {
        "smithy.api#documentation": "<p>Specifies the number of EC2 instances in the Elasticsearch domain.</p>",
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.a9.es.config2015#InstanceCountLimits": {
      "type": "structure",
      "members": {
        "MaximumInstanceCount": {
          "target": "com.a9.es.config2015#MaximumInstanceCount"
        },
        "MinimumInstanceCount": {
          "target": "com.a9.es.config2015#MinimumInstanceCount"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      InstanceCountLimits represents the limits on number of instances that be created in Amazon Elasticsearch for\n      given InstanceType.\n    </p>"
      }
    },
    "com.a9.es.config2015#InstanceLimits": {
      "type": "structure",
      "members": {
        "InstanceCountLimits": {
          "target": "com.a9.es.config2015#InstanceCountLimits"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>InstanceLimits represents the list of instance related attributes that are available for given InstanceType.\n    </p>"
      }
    },
    "com.a9.es.config2015#InstanceRole": {
      "type": "string"
    },
    "com.a9.es.config2015#Integer": {
      "type": "integer"
    },
    "com.a9.es.config2015#IntegerClass": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.a9.es.exceptions#InternalException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.a9.es.exceptions#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.a9.es.exceptions#InvalidTypeException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.a9.es.exceptions#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.a9.es.config2015#Issue": {
      "type": "string"
    },
    "com.a9.es.config2015#Issues": {
      "type": "list",
      "member": {
        "target": "com.a9.es.config2015#Issue"
      }
    },
    "com.a9.es.config2015#KmsKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.a9.es.exceptions#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.a9.es.exceptions#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.a9.es.config2015#LimitName": {
      "type": "string"
    },
    "com.a9.es.config2015#LimitValue": {
      "type": "string"
    },
    "com.a9.es.config2015#LimitValueList": {
      "type": "list",
      "member": {
        "target": "com.a9.es.config2015#LimitValue"
      }
    },
    "com.a9.es.config2015#Limits": {
      "type": "structure",
      "members": {
        "AdditionalLimits": {
          "target": "com.a9.es.config2015#AdditionalLimitList",
          "traits": {
            "smithy.api#documentation": "<p>\n      List of additional limits that are specific to a given InstanceType and for each of it's\n      <code>\n        <a>InstanceRole</a>\n      </code>\n      .\n    </p>"
          }
        },
        "InstanceLimits": {
          "target": "com.a9.es.config2015#InstanceLimits"
        },
        "StorageTypes": {
          "target": "com.a9.es.config2015#StorageTypeList",
          "traits": {
            "smithy.api#documentation": "<p>StorageType represents the list of storage related types and attributes\n      that are available for given InstanceType.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Limits for given InstanceType and for each of it's role.\n      <br></br>\n      Limits contains following\n      <code>\n        <a>StorageTypes,</a>\n      </code>\n      <code>\n        <a>InstanceLimits</a>\n      </code>\n      and\n      <code>\n        <a>AdditionalLimits</a>\n      </code>\n    </p>"
      }
    },
    "com.a9.es.config2015#LimitsByRole": {
      "type": "map",
      "key": {
        "target": "com.a9.es.config2015#InstanceRole"
      },
      "value": {
        "target": "com.a9.es.config2015#Limits"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Map of Role of the Instance and Limits that are applicable.\n      Role performed by given Instance in Elasticsearch\n      can be one of the following:\n      <ul>\n        <li>data: If the given InstanceType is used as data node</li>\n        <li>master: If the given InstanceType is used as master node</li>\n        <li>ultra_warm: If the given InstanceType is used as warm node</li>\n      </ul>\n    </p>"
      }
    },
    "com.a9.es.config2015#ListDomainNames": {
      "type": "operation",
      "output": {
        "target": "com.a9.es.config2015#ListDomainNamesResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the name of all Elasticsearch domains owned by the current user's account. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/domain",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#ListDomainNamesResponse": {
      "type": "structure",
      "members": {
        "DomainNames": {
          "target": "com.a9.es.config2015#DomainInfoList",
          "traits": {
            "smithy.api#documentation": "<p>List of Elasticsearch domain names.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account.</p>"
      }
    },
    "com.a9.es.config2015#ListElasticsearchInstanceTypes": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#ListElasticsearchInstanceTypesRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#ListElasticsearchInstanceTypesResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all Elasticsearch instance types that are supported for given ElasticsearchVersion</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/instanceTypes/{ElasticsearchVersion}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.a9.es.config2015#ListElasticsearchInstanceTypesRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.a9.es.config2015#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>DomainName represents the name of the Domain that we are trying to modify. This should be present only if we are\n      querying for list of available Elasticsearch instance types when modifying existing domain.\n    </p>",
            "smithy.api#httpQuery": "domainName"
          }
        },
        "ElasticsearchVersion": {
          "target": "com.a9.es.config2015#ElasticsearchVersionString",
          "traits": {
            "smithy.api#documentation": "<p>Version of Elasticsearch for which list of supported elasticsearch\n      instance types are needed.\n    </p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.a9.es.config2015#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n    Set this value to limit the number of results returned.\n    Value provided must be greater than 30 else it wont be honored.\n  </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.a9.es.config2015#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>NextToken should be sent in case if earlier API call produced result\n      containing NextToken. It is used for pagination.\n    </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters to the\n      <code>\n        <a>ListElasticsearchInstanceTypes</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#ListElasticsearchInstanceTypesResponse": {
      "type": "structure",
      "members": {
        "ElasticsearchInstanceTypes": {
          "target": "com.a9.es.config2015#ElasticsearchInstanceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>\n      List of instance types supported by Amazon Elasticsearch service for\n      given\n      <code>\n        <a>ElasticsearchVersion</a>\n      </code>\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.a9.es.config2015#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>In case if there are more results available NextToken would be\n      present, make further request to the same API with\n      received NextToken to paginate remaining results.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters returned by\n      <code>\n        <a>ListElasticsearchInstanceTypes</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#ListElasticsearchVersions": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#ListElasticsearchVersionsRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#ListElasticsearchVersionsResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all supported Elasticsearch versions</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/versions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.a9.es.config2015#ListElasticsearchVersionsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.a9.es.config2015#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n      Set this value to limit the number of results returned.\n      Value provided must be greater than 10 else it wont be honored.\n    </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.a9.es.config2015#NextToken",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters to the\n      <code>\n        <a>ListElasticsearchVersions</a>\n      </code>\n      operation.\n      <p>\n        Use\n        <code>\n          <a>MaxResults</a>\n        </code>\n        to control the maximum number of results to retrieve in a single\n        call.\n      </p>\n      <p>\n        Use\n        <code>\n          <a>NextToken</a>\n        </code>\n        in response to retrieve more results. If the received response does\n        not contain a NextToken, then there are no more results to retrieve.\n      </p>\n    </p>"
      }
    },
    "com.a9.es.config2015#ListElasticsearchVersionsResponse": {
      "type": "structure",
      "members": {
        "ElasticsearchVersions": {
          "target": "com.a9.es.config2015#ElasticsearchVersionList"
        },
        "NextToken": {
          "target": "com.a9.es.config2015#NextToken"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters for response received from\n      <code>\n        <a>ListElasticsearchVersions</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.a9.es.config2015#ListTags": {
      "type": "operation",
      "input": {
        "target": "com.a9.es.config2015#ListTagsRequest"
      },
      "output": {
        "target": "com.a9.es.config2015#ListTagsResponse"
      },
      "errors": [
        {
          "target": "com.a9.es.exceptions#BaseException"
        },
        {
          "target": "com.a9.es.exceptions#InternalException"
        },
        {
          "target": "com.a9.es.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.a9.es.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns all tags for the given Elasticsearch domain.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/tags",
          "code": 200
        }
      }
    },
    "com.a9.es.config2015#ListTagsRequest": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.a9.es.config2015#ARN",
          "traits": {
[...]
