{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.hawksnest.servicefacade#AWSHawksNestServiceFacade": {
      "type": "service",
      "version": "2019-11-15",
      "operations": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade#BatchCreateVariable"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#BatchGetVariable"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#CreateDetectorVersion"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#CreateModelVersion"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#CreateRule"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#CreateVariable"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#DeleteDetectorVersion"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#DeleteEvent"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#DescribeDetector"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#DescribeModelVersions"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#GetDetectorVersion"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#GetDetectors"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#GetExternalModels"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#GetModelVersion"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#GetModels"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#GetOutcomes"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#GetPrediction"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#GetRules"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#GetVariables"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#PutDetector"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#PutExternalModel"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#PutModel"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#PutOutcome"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#UpdateDetectorVersion"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#UpdateDetectorVersionMetadata"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#UpdateDetectorVersionStatus"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#UpdateModelVersion"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#UpdateRuleMetadata"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#UpdateRuleVersion"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade#UpdateVariable"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "FraudDetector",
          "arnNamespace": "frauddetector",
          "cloudFormationName": "FraudDetector",
          "cloudTrailEventSource": "servicefacade.hawksnest.amazonaws.com"
        },
        "smithy.api#documentation": "<p>This is the Amazon Fraud Detector API Reference. This guide is for developers who need\n            detailed information about Amazon Fraud Detector API actions, data types, and errors. For\n            more information about Amazon Fraud Detector features, see the <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/\">Amazon Fraud Detector User Guide</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Fraud Detector",
        "smithy.api#xmlNamespace": {
          "uri": "http://hawksnest.amazonaws.com/doc/2019-11-15"
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchCreateVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#BatchCreateVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#BatchCreateVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch of variables.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchCreateVariableError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.hawksnest.servicefacade#integer",
          "traits": {
            "smithy.api#documentation": "<p>The error code. </p>"
          }
        },
        "message": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the error of the batch create variable API.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchCreateVariableErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#BatchCreateVariableError"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchCreateVariableRequest": {
      "type": "structure",
      "members": {
        "variableEntries": {
          "target": "com.amazonaws.hawksnest.servicefacade#VariableEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of variables for the batch create variable request.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchCreateVariableResult": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.hawksnest.servicefacade#BatchCreateVariableErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Provides the errors for the <code>BatchCreateVariable</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchGetVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#BatchGetVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#BatchGetVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a batch of variables.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchGetVariableError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.hawksnest.servicefacade#integer",
          "traits": {
            "smithy.api#documentation": "<p>The error code. </p>"
          }
        },
        "message": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The error name. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the error of the batch get variable API.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchGetVariableErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#BatchGetVariableError"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchGetVariableRequest": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.amazonaws.hawksnest.servicefacade#NameList",
          "traits": {
            "smithy.api#documentation": "<p>The list of variable names to get.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#BatchGetVariableResult": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.hawksnest.servicefacade#BatchGetVariableErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The errors from the request.</p>"
          }
        },
        "variables": {
          "target": "com.amazonaws.hawksnest.servicefacade#VariableList",
          "traits": {
            "smithy.api#documentation": "<p>The returned variables.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateDetectorVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#CreateDetectorVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#CreateDetectorVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a detector version. The detector version starts in a <code>DRAFT</code> status.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateDetectorVersionRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the detector version.</p>"
          }
        },
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector under which you want to create a new version.</p>",
            "smithy.api#required": true
          }
        },
        "externalModelEndpoints": {
          "target": "com.amazonaws.hawksnest.servicefacade#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Sagemaker model endpoints to include in the detector version.</p>"
          }
        },
        "modelVersions": {
          "target": "com.amazonaws.hawksnest.servicefacade#ListOfModelVersions",
          "traits": {
            "smithy.api#documentation": "<p>The model versions to include in the detector version.</p>"
          }
        },
        "rules": {
          "target": "com.amazonaws.hawksnest.servicefacade#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules to include in the detector version.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateDetectorVersionResult": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the created version's parent detector.</p>"
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the created detector. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.hawksnest.servicefacade#DetectorVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the detector version.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateModelVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#CreateModelVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#CreateModelVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a version of the model using the specified model type.\n        </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateModelVersionRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The model version description.</p>"
          }
        },
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID. </p>",
            "smithy.api#required": true
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateModelVersionResult": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID. </p>"
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>"
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The model version status. </p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#CreateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#CreateRuleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a rule for use with the specified detector. </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateRuleRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The rule description.</p>"
          }
        },
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID for the rule's parent detector.</p>",
            "smithy.api#required": true
          }
        },
        "expression": {
          "target": "com.amazonaws.hawksnest.servicefacade#ruleExpression",
          "traits": {
            "smithy.api#documentation": "<p>The rule expression.</p>",
            "smithy.api#required": true
          }
        },
        "language": {
          "target": "com.amazonaws.hawksnest.servicefacade#Language",
          "traits": {
            "smithy.api#documentation": "<p>The language of the rule.</p>",
            "smithy.api#required": true
          }
        },
        "outcomes": {
          "target": "com.amazonaws.hawksnest.servicefacade#NonEmptyListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The outcome or outcomes returned when the rule expression matches.</p>",
            "smithy.api#required": true
          }
        },
        "ruleId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The rule ID.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateRuleResult": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.amazonaws.hawksnest.servicefacade#Rule",
          "traits": {
            "smithy.api#documentation": "<p>The created rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#CreateVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#CreateVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a variable.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateVariableRequest": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "com.amazonaws.hawksnest.servicefacade#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the data.</p>",
            "smithy.api#required": true
          }
        },
        "dataType": {
          "target": "com.amazonaws.hawksnest.servicefacade#DataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type.</p>",
            "smithy.api#required": true
          }
        },
        "defaultValue": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The default value for the variable when no value is received.</p>",
            "smithy.api#required": true
          }
        },
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variable.</p>",
            "smithy.api#required": true
          }
        },
        "variableType": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The variable type.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#CreateVariableResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.hawksnest.servicefacade#CsvIndexToVariableMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      },
      "value": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DataSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EVENT": {
            "name": "EVENT"
          },
          "MODEL_SCORE": {
            "name": "MODEL_SCORE"
          },
          "EXTERNAL_MODEL_SCORE": {
            "name": "EXTERNAL_MODEL_SCORE"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "STRING": {
            "name": "STRING"
          },
          "INTEGER": {
            "name": "INTEGER"
          },
          "FLOAT": {
            "name": "FLOAT"
          },
          "BOOLEAN": {
            "name": "BOOLEAN"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DeleteDetectorVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#DeleteDetectorVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#DeleteDetectorVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the detector version.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DeleteDetectorVersionRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent detector for the detector version to delete.</p>",
            "smithy.api#required": true
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector version to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DeleteDetectorVersionResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.hawksnest.servicefacade#DeleteEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#DeleteEventRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#DeleteEventResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified event.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DeleteEventRequest": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DeleteEventResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.hawksnest.servicefacade#DescribeDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#DescribeDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#DescribeDetectorResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all versions for a specified detector.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DescribeDetectorRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>",
            "smithy.api#required": true
          }
        },
        "maxResults": {
          "target": "com.amazonaws.hawksnest.servicefacade#DetectorVersionMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return for the request.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token from the previous response.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DescribeDetectorResult": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>"
          }
        },
        "detectorVersionSummaries": {
          "target": "com.amazonaws.hawksnest.servicefacade#DetectorVersionSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The status and description for each detector version.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token to be used for subsequent requests.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DescribeModelVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#DescribeModelVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#DescribeModelVersionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all of the model versions for the specified model type or for the specified model type and model ID. You can also get details for a single, specified model version. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DescribeModelVersionsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.hawksnest.servicefacade#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>"
          }
        },
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>"
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>"
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The model version. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token from the previous results.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DescribeModelVersionsResult": {
      "type": "structure",
      "members": {
        "modelVersionDetails": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelVersionDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The model version details.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#Detector": {
      "type": "structure",
      "members": {
        "createdTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the detector was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The detector description.</p>"
          }
        },
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the detector was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The detector.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DetectorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#Detector"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DetectorVersionMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1000,
          "max": 2500
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DetectorVersionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DRAFT": {
            "name": "DRAFT"
          },
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "INACTIVE": {
            "name": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DetectorVersionSummary": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The detector version description. </p>"
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version ID. </p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the detector version was last updated.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.hawksnest.servicefacade#DetectorVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The detector version status. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the detector version.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DetectorVersionSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#DetectorVersionSummary"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#DetectorsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 5,
          "max": 10
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#EventAttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.hawksnest.servicefacade#attributeKey"
      },
      "value": {
        "target": "com.amazonaws.hawksnest.servicefacade#attributeValue"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ExternalModel": {
      "type": "structure",
      "members": {
        "createdTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the model was last created.</p>"
          }
        },
        "inputConfiguration": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The input configuration.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the model was last updated.</p>"
          }
        },
        "modelEndpoint": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon SageMaker model endpoints.</p>"
          }
        },
        "modelEndpointStatus": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelEndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Fraud Detector status for the external model endpoint</p>"
          }
        },
        "modelSource": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the model.</p>"
          }
        },
        "outputConfiguration": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelOutputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The output configuration.</p>"
          }
        },
        "role": {
          "target": "com.amazonaws.hawksnest.servicefacade#Role",
          "traits": {
            "smithy.api#documentation": "<p>The role used to invoke the model. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon SageMaker model.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ExternalModelEndpointDataBlobMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      },
      "value": {
        "target": "com.amazonaws.hawksnest.servicefacade#ModelEndpointDataBlob"
      },
      "traits": {
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ExternalModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#ExternalModel"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ExternalModelsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 5,
          "max": 10
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetDetectorVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetDetectorVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetDetectorVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a particular detector version. </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetDetectorVersionRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>",
            "smithy.api#required": true
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version ID.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetDetectorVersionResult": {
      "type": "structure",
      "members": {
        "createdTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the detector version was created. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The detector version description.</p>"
          }
        },
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>"
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version ID.</p>"
          }
        },
        "externalModelEndpoints": {
          "target": "com.amazonaws.hawksnest.servicefacade#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon SageMaker model endpoints included in the detector version.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the detector version was last updated.\n        </p>"
          }
        },
        "modelVersions": {
          "target": "com.amazonaws.hawksnest.servicefacade#ListOfModelVersions",
          "traits": {
            "smithy.api#documentation": "<p>The model versions included in the detector version. </p>"
          }
        },
        "rules": {
          "target": "com.amazonaws.hawksnest.servicefacade#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules included in the detector version.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.hawksnest.servicefacade#DetectorVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the detector version.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetDetectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetDetectorsRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetDetectorsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all of detectors. This is a paginated API. If you\n         provide a null <code>maxSizePerPage</code>, this actions retrieves a maximum of 10 records\n         per page. If you provide a <code>maxSizePerPage</code>, the value must be between 5 and 10.\n         To get the next page results, provide the pagination token from the\n            <code>GetEventTypesResponse</code> as part of your request. A null pagination token\n         fetches the records from the beginning. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetDetectorsRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.hawksnest.servicefacade#DetectorsMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects to return for the request.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token for the subsequent request.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetDetectorsResult": {
      "type": "structure",
      "members": {
        "detectors": {
          "target": "com.amazonaws.hawksnest.servicefacade#DetectorList",
          "traits": {
            "smithy.api#documentation": "<p>The detectors.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetExternalModels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetExternalModelsRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetExternalModelsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the details for one or more Amazon SageMaker models that have been imported into the\n         service. This is a paginated API. If you provide a null <code>maxSizePerPage</code>, this\n         actions retrieves a maximum of 10 records per page. If you provide a\n            <code>maxSizePerPage</code>, the value must be between 5 and 10. To get the next page\n         results, provide the pagination token from the <code>GetExternalModelsResult</code> as part\n         of your request. A null pagination token fetches the records from the beginning. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetExternalModelsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.hawksnest.servicefacade#ExternalModelsMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects to return for the request.</p>"
          }
        },
        "modelEndpoint": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon SageMaker model endpoint.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token for the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetExternalModelsResult": {
      "type": "structure",
      "members": {
        "externalModels": {
          "target": "com.amazonaws.hawksnest.servicefacade#ExternalModelList",
          "traits": {
            "smithy.api#documentation": "<p>Gets the Amazon SageMaker models.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token to be used in subsequent requests.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetModelVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetModelVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetModelVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a model version. </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetModelVersionRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID. </p>",
            "smithy.api#required": true
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type. </p>",
            "smithy.api#required": true
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The model version. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetModelVersionResult": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The model version description.</p>"
          }
        },
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID. </p>"
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type. </p>"
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The model version. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The model version status. </p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetModels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetModelsRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetModelsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all of the models for the AWS account, or the specified model type, or gets a single model for the specified model type, model ID combination.\n        </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetModelsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.hawksnest.servicefacade#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum results to return for the request.</p>"
          }
        },
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>"
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token for the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetModelsResult": {
      "type": "structure",
      "members": {
        "models": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelList",
          "traits": {
            "smithy.api#documentation": "<p>The returned models. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token for subsequent requests. </p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetOutcomes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetOutcomesRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetOutcomesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets one or more outcomes. This is a paginated\n         API. If you provide a null <code>maxSizePerPage</code>, this actions retrieves a maximum of\n         10 records per page. If you provide a <code>maxSizePerPage</code>, the value must be\n         between 50 and 100. To get the next page results, provide the pagination token from the\n        <code>GetOutcomesResult</code> as part of your request. A null pagination token\n         fetches the records from the beginning. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetOutcomesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.hawksnest.servicefacade#OutcomesMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects to return for the request. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the outcome or outcomes to get.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token for the request. </p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetOutcomesResult": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token for subsequent requests.</p>"
          }
        },
        "outcomes": {
          "target": "com.amazonaws.hawksnest.servicefacade#OutcomeList",
          "traits": {
            "smithy.api#documentation": "<p>The outcomes. </p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetPrediction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetPredictionRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetPredictionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Evaluates an event against a detector version. If a version ID is not provided, the detector’s (<code>ACTIVE</code>) version is used.  </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetPredictionRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID. </p>",
            "smithy.api#required": true
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The detector version ID.</p>"
          }
        },
        "eventAttributes": {
          "target": "com.amazonaws.hawksnest.servicefacade#EventAttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>Names of variables you defined in Amazon Fraud Detector to represent event data elements and their corresponding values for the event you are sending for evaluation.</p>"
          }
        },
        "eventId": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID used to identify the event.</p>",
            "smithy.api#required": true
          }
        },
        "externalModelEndpointDataBlobs": {
          "target": "com.amazonaws.hawksnest.servicefacade#ExternalModelEndpointDataBlobMap",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon SageMaker model endpoint input data blobs.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetPredictionResult": {
      "type": "structure",
      "members": {
        "modelScores": {
          "target": "com.amazonaws.hawksnest.servicefacade#ListOfModelScores",
          "traits": {
            "smithy.api#documentation": "<p>The model scores for models used in the detector version.</p>"
          }
        },
        "outcomes": {
          "target": "com.amazonaws.hawksnest.servicefacade#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The prediction outcomes.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetRulesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all rules available for the specified detector.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetRulesRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>",
            "smithy.api#required": true
          }
        },
        "maxResults": {
          "target": "com.amazonaws.hawksnest.servicefacade#RulesMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of rules to return for the request.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token.</p>"
          }
        },
        "ruleId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The rule ID.</p>"
          }
        },
        "ruleVersion": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The rule version.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetRulesResult": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token to be used in subsequent requests.</p>"
          }
        },
        "ruleDetails": {
          "target": "com.amazonaws.hawksnest.servicefacade#RuleDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The details of the requested rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetVariables": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetVariablesRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#GetVariablesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all of the variables or the specific variable. This is a\n         paginated API. Providing null <code>maxSizePerPage</code> results in retrieving maximum of\n         100 records per page. If you provide <code>maxSizePerPage</code> the value must be between\n         50 and 100. To get the next page result, a provide a pagination token from\n        <code>GetVariablesResult</code> as part of your request. Null pagination token\n         fetches the records from the beginning. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetVariablesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.hawksnest.servicefacade#VariablesMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The max size per page determined for the get variable request. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variable. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token of the get variable request. </p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#GetVariablesResult": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token to be used in subsequent requests. </p>"
          }
        },
        "variables": {
          "target": "com.amazonaws.hawksnest.servicefacade#VariableList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the variables returned. </p>"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#string",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception indicating an internal server error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.hawksnest.servicefacade#IsOpaque": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.hawksnest.servicefacade#JsonKeyToVariableMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      },
      "value": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#LabelMapper": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      },
      "value": {
        "target": "com.amazonaws.hawksnest.servicefacade#ListOfStrings"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#LabelSchema": {
      "type": "structure",
      "members": {
        "labelKey": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The label key.</p>",
            "smithy.api#required": true
          }
        },
        "labelMapper": {
          "target": "com.amazonaws.hawksnest.servicefacade#LabelMapper",
          "traits": {
            "smithy.api#documentation": "<p>The label mapper maps the Amazon Fraud Detector supported label to the appropriate source labels.\n            For example, if <code>\"FRAUD\"</code> and <code>\"LEGIT\"</code> are Amazon Fraud Detector supported labels, this mapper could\n            be: <code>{\"FRAUD\" => [\"0\"]</code>, \"LEGIT\" => [\"1\"]} or <code>{\"FRAUD\" => [\"false\"], \"LEGIT\" => [\"true\"]}</code>\n            or <code>{\"FRAUD\" => [\"fraud\", \"abuse\"], \"LEGIT\" => [\"legit\", \"safe\"]}</code>. The value part of the\n            mapper is a list, because you may have multiple variants for a single Amazon Fraud Detector label.\n        </p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The label schema.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#Language": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DETECTORPL": {
            "name": "DETECTORPL"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ListOfModelScores": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#ModelScores"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ListOfModelVersions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#ModelVersion"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ListOfStrings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#MetricsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      },
      "value": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#Model": {
      "type": "structure",
      "members": {
        "createdTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the model was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The model description.</p>"
          }
        },
        "labelSchema": {
          "target": "com.amazonaws.hawksnest.servicefacade#LabelSchema",
          "traits": {
            "smithy.api#documentation": "<p>The model label schema.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of last time the model was updated.</p>"
          }
        },
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>"
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>"
          }
        },
        "modelVariables": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelVariablesList",
          "traits": {
            "smithy.api#documentation": "<p>The model input variables.</p>"
          }
        },
        "trainingDataSource": {
          "target": "com.amazonaws.hawksnest.servicefacade#TrainingDataSource",
          "traits": {
            "smithy.api#documentation": "<p>The model training data source in Amazon S3.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The model.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelEndpointDataBlob": {
      "type": "structure",
      "members": {
        "byteBuffer": {
          "target": "com.amazonaws.hawksnest.servicefacade#blob",
          "traits": {
            "smithy.api#documentation": "<p>The byte buffer of the Amazon SageMaker model endpoint input data blob.</p>"
          }
        },
        "contentType": {
          "target": "com.amazonaws.hawksnest.servicefacade#contentType",
          "traits": {
            "smithy.api#documentation": "<p>The content type of the Amazon SageMaker model endpoint input data blob. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A pre-formed Amazon SageMaker model input you can include if your detector version includes an imported Amazon SageMaker model endpoint with pass-through input configuration.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelEndpointStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ASSOCIATED": {
            "name": "ASSOCIATED"
          },
          "DISSOCIATED": {
            "name": "DISSOCIATED"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelInputConfiguration": {
      "type": "structure",
      "members": {
        "csvInputTemplate": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p> Template for constructing the CSV input-data sent to SageMaker. At event-evaluation,\n            the placeholders for variable-names in the template will be replaced with the variable\n            values before being sent to SageMaker. </p>"
          }
        },
        "format": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelInputDataFormat",
          "traits": {
            "smithy.api#documentation": "<p> The format of the model input configuration. The format differs depending on if it is\n            passed through to SageMaker or constructed by Amazon Fraud Detector.</p>"
          }
        },
        "isOpaque": {
          "target": "com.amazonaws.hawksnest.servicefacade#IsOpaque",
          "traits": {
            "smithy.api#documentation": "<p> For an opaque-model, the input to the model will be a ByteBuffer blob provided in the\n            getPrediction request, and will be passed to SageMaker as-is. For non-opaque models,\n            the input will be constructed by Amazon Fraud Detector based on the model-configuration. </p>",
            "smithy.api#required": true
          }
        },
        "jsonInputTemplate": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p> Template for constructing the JSON input-data sent to SageMaker. At event-evaluation,\n            the placeholders for variable names in the template will be replaced with the variable\n            values before being sent to SageMaker. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The model input configuration.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelInputDataFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TEXT_CSV": {
            "name": "CSV"
          },
          "APPLICATION_JSON": {
            "name": "JSON"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#Model"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelOutputConfiguration": {
      "type": "structure",
      "members": {
        "csvIndexToVariableMap": {
          "target": "com.amazonaws.hawksnest.servicefacade#CsvIndexToVariableMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of CSV index values in the SageMaker response to the Amazon Fraud Detector variables. </p>"
          }
        },
        "format": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelOutputDataFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the model output configuration.</p>",
            "smithy.api#required": true
          }
        },
        "jsonKeyToVariableMap": {
          "target": "com.amazonaws.hawksnest.servicefacade#JsonKeyToVariableMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of JSON keys in response from SageMaker to the Amazon Fraud Detector variables. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the model output configuration.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelOutputDataFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TEXT_CSV": {
            "name": "CSV"
          },
          "APPLICATION_JSONLINES": {
            "name": "JSONLINES"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelPredictionMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      },
      "value": {
        "target": "com.amazonaws.hawksnest.servicefacade#float"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelScores": {
      "type": "structure",
      "members": {
        "modelVersion": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelVersion",
          "traits": {
            "smithy.api#documentation": "<p>The model version.</p>"
          }
        },
        "scores": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelPredictionMap",
          "traits": {
            "smithy.api#documentation": "<p>The model's fraud prediction scores.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The fraud prediction scores.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SAGEMAKER": {
            "name": "SAGEMAKER"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ONLINE_FRAUD_INSIGHTS": {
            "name": "ONLINE_FRAUD_INSIGHTS"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelVariable": {
      "type": "structure",
      "members": {
        "index": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelVariableIndex",
          "traits": {
            "smithy.api#documentation": "<p>The model variable's index.></p>"
          }
        },
        "name": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The model variable's name.></p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The model variable.></p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelVariableIndex": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelVariablesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#ModelVariable"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelVersion": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The parent model ID.</p>",
            "smithy.api#required": true
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>",
            "smithy.api#required": true
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The model version.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The model version.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelVersionDetail": {
      "type": "structure",
      "members": {
        "createdTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the model was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The model description.</p>"
          }
        },
        "labelSchema": {
          "target": "com.amazonaws.hawksnest.servicefacade#LabelSchema",
          "traits": {
            "smithy.api#documentation": "<p>The model label schema.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the model was last updated.</p>"
          }
        },
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>"
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>"
          }
        },
        "modelVariables": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelVariablesList",
          "traits": {
            "smithy.api#documentation": "<p>The model variables.</p>"
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The model version.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The model status.</p>"
          }
        },
        "trainingDataSource": {
          "target": "com.amazonaws.hawksnest.servicefacade#TrainingDataSource",
          "traits": {
            "smithy.api#documentation": "<p>The model training data source.</p>"
          }
        },
        "trainingMetrics": {
          "target": "com.amazonaws.hawksnest.servicefacade#MetricsMap",
          "traits": {
            "smithy.api#documentation": "<p>The model training metrics.</p>"
          }
        },
        "validationMetrics": {
          "target": "com.amazonaws.hawksnest.servicefacade#MetricsMap",
          "traits": {
            "smithy.api#documentation": "<p>The model validation metrics.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the model version details. </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelVersionDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#ModelVersionDetail"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#ModelVersionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TRAINING_IN_PROGRESS": {
            "name": "TRAINING_IN_PROGRESS"
          },
          "TRAINING_COMPLETE": {
            "name": "TRAINING_COMPLETE"
          },
          "ACTIVATE_REQUESTED": {
            "name": "ACTIVATE_REQUESTED"
          },
          "ACTIVATE_IN_PROGRESS": {
            "name": "ACTIVATE_IN_PROGRESS"
          },
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "INACTIVATE_IN_PROGRESS": {
            "name": "INACTIVATE_IN_PROGRESS"
          },
          "INACTIVE": {
            "name": "INACTIVE"
          },
          "ERROR": {
            "name": "ERROR"
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#NameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#NonEmptyListOfStrings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#string"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#Outcome": {
      "type": "structure",
      "members": {
        "createdTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the outcome was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The outcome description.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the outcome was last updated.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The outcome name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The outcome.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#OutcomeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#Outcome"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#OutcomesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 50,
          "max": 100
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#PutDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#PutDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#PutDetectorResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates a detector. </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#PutDetectorRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the detector.</p>"
          }
        },
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#PutDetectorResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.hawksnest.servicefacade#PutExternalModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#PutExternalModelRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#PutExternalModelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates an Amazon SageMaker model endpoint. You can also use this action to update the configuration of the model endpoint, including the IAM role and/or the mapped variables.  </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#PutExternalModelRequest": {
      "type": "structure",
      "members": {
        "inputConfiguration": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The model endpoint input configuration.</p>",
            "smithy.api#required": true
          }
        },
        "modelEndpoint": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The model endpoints name.</p>",
            "smithy.api#required": true
          }
        },
        "modelEndpointStatus": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelEndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>The model endpoint’s status in Amazon Fraud Detector.</p>",
            "smithy.api#required": true
          }
        },
        "modelSource": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the model.</p>",
            "smithy.api#required": true
          }
        },
        "outputConfiguration": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelOutputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The model endpoint output configuration.</p>",
            "smithy.api#required": true
          }
        },
        "role": {
          "target": "com.amazonaws.hawksnest.servicefacade#Role",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role used to invoke the model endpoint.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#PutExternalModelResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.hawksnest.servicefacade#PutModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#PutModelRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#PutModelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates a model. </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#PutModelRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The model description. </p>"
          }
        },
        "labelSchema": {
          "target": "com.amazonaws.hawksnest.servicefacade#LabelSchema",
          "traits": {
            "smithy.api#documentation": "<p>The label schema.</p>",
            "smithy.api#required": true
          }
        },
        "modelId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>",
            "smithy.api#required": true
          }
        },
        "modelType": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type. </p>",
            "smithy.api#required": true
          }
        },
        "modelVariables": {
          "target": "com.amazonaws.hawksnest.servicefacade#ModelVariablesList",
          "traits": {
            "smithy.api#documentation": "<p>The model input variables.</p>",
            "smithy.api#required": true
          }
        },
        "trainingDataSource": {
          "target": "com.amazonaws.hawksnest.servicefacade#TrainingDataSource",
          "traits": {
            "smithy.api#documentation": "<p>The training data source location in Amazon S3.  </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#PutModelResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.hawksnest.servicefacade#PutOutcome": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#PutOutcomeRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#PutOutcomeResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#InternalServerException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException"
        },
        {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates an outcome. </p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#PutOutcomeRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The outcome description.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the outcome.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade#PutOutcomeResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.hawksnest.servicefacade.exceptions#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#string",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception indicating the specified resource was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.hawksnest.servicefacade#Role": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The role ARN.</p>",
            "smithy.api#required": true
          }
        },
        "name": {
          "target": "com.amazonaws.hawksnest.servicefacade#string",
          "traits": {
            "smithy.api#documentation": "<p>The role name.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The role used to invoke external model endpoints.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#Rule": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector for which the rule is associated.</p>",
            "smithy.api#required": true
          }
        },
        "ruleId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The rule ID.</p>",
            "smithy.api#required": true
          }
        },
        "ruleVersion": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The rule version.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A rule.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#RuleDetail": {
      "type": "structure",
      "members": {
        "createdTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the rule was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.hawksnest.servicefacade#description",
          "traits": {
            "smithy.api#documentation": "<p>The rule description.</p>"
          }
        },
        "detectorId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector for which the rule is associated.</p>"
          }
        },
        "expression": {
          "target": "com.amazonaws.hawksnest.servicefacade#ruleExpression",
          "traits": {
            "smithy.api#documentation": "<p>The rule expression.</p>"
          }
        },
        "language": {
          "target": "com.amazonaws.hawksnest.servicefacade#Language",
          "traits": {
            "smithy.api#documentation": "<p>The rule language.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.hawksnest.servicefacade#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of the last time the rule was updated.</p>"
          }
        },
        "outcomes": {
          "target": "com.amazonaws.hawksnest.servicefacade#NonEmptyListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The rule outcomes.</p>"
          }
        },
        "ruleId": {
          "target": "com.amazonaws.hawksnest.servicefacade#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The rule ID.</p>"
          }
        },
        "ruleVersion": {
          "target": "com.amazonaws.hawksnest.servicefacade#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The rule version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the rule.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#RuleDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#RuleDetail"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#RuleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.hawksnest.servicefacade#Rule"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#RulesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 50,
          "max": 100
        }
      }
    },
    "com.amazonaws.hawksnest.servicefacade.exceptions#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.hawksnest.servicefacade.exceptions#string",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception indicating a throttling error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.hawksnest.servicefacade#TrainingDataSource": {
      "type": "structure",
      "members": {
        "dataAccessRoleArn": {
          "target": "com.amazonaws.hawksnest.servicefacade#iamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The data access role ARN for the training data source.</p>",
            "smithy.api#required": true
          }
        },
        "dataLocation": {
          "target": "com.amazonaws.hawksnest.servicefacade#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The data location of the training data source.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The training data source.</p>"
      }
    },
    "com.amazonaws.hawksnest.servicefacade#UpdateDetectorVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hawksnest.servicefacade#UpdateDetectorVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.hawksnest.servicefacade#UpdateDetectorVersionResult"
      },
      "errors": [
        {
[...]
